{
  "swagger": "2.0",
  "info": {
    "version": "v2",
    "title": "ClickMeter API",
    "description": "Api dashboard for ClickMeter API",
    "contact": {
      "name": "Api Support",
      "url": "http://www.clickmeter.com/api",
      "email": "api@clickmeter.com"
    },
    "x-providerName": "clickmeter.com",
    "x-origin": {
      "format": "swagger",
      "version": "2.0",
      "url": "http://api.v2.clickmeter.com.s3.amazonaws.com/docs/api-docs-v2.json"
    }
  },
  "host": "apiv2.clickmeter.com:80",
  "schemes": [
    "http",
    "https"
  ],
  "paths": {
    "/account": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Retrieve current account data",
        "operationId": "Account_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api.Core.Dto.Accounting.User"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Update current account data",
        "operationId": "Account_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "value",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Api.Core.Dto.Accounting.User"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api.Core.Dto.Accounting.User"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/account/plan": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Retrieve current account plan",
        "operationId": "Account_GetPlan",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api.Core.Dto.Accounting.Plan"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/account/guests/{guestId}/permissions": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Retrieve permissions for a guest",
        "operationId": "Account_GetPermissions",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "guestId",
            "in": "path",
            "description": "Id of the guest",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "entityType",
            "in": "query",
            "description": "Can be \"datapoint\" or \"group\"",
            "required": false,
            "type": "string",
            "enum": [
              "datapoint",
              "group"
            ]
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset where to start from",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minLength": 0
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit results to this number",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maxLength": 0,
            "minLength": 0
          },
          {
            "name": "type",
            "in": "query",
            "description": "Can be \"w\" or \"r\"",
            "required": false,
            "type": "string",
            "enum": [
              "r",
              "w"
            ]
          },
          {
            "name": "entityId",
            "in": "query",
            "description": "Optional id of the datapoint/group entity to filter by",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api.Core.Responses.EntitiesResponse[Api.Core.Dto.Grants.Grant]"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/account/guests/{guestId}/permissions/count": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Retrieve count of the permissions for a guest",
        "operationId": "Account_GetPermissionsCount",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "guestId",
            "in": "path",
            "description": "Id of the guest",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "entityType",
            "in": "query",
            "description": "Can be \"datapoint\" or \"group\"",
            "required": false,
            "type": "string",
            "enum": [
              "datapoint",
              "group"
            ]
          },
          {
            "name": "type",
            "in": "query",
            "description": "Can be \"w\" or \"r\"",
            "required": false,
            "type": "string",
            "enum": [
              "r",
              "w"
            ]
          },
          {
            "name": "entityId",
            "in": "query",
            "description": "Optional id of the datapoint/group entity to filter by",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api.Core.Responses.CountResponce"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/account/guests/{guestId}/{type}/permissions/patch": {
      "put": {
        "tags": [
          "Account"
        ],
        "summary": "Change the permission on a shared object",
        "operationId": "Account_PatchPermissions",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "guestId",
            "in": "path",
            "description": "Id of the guest",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "type",
            "in": "path",
            "description": "Can be \"datapoint\" or \"group\"",
            "required": true,
            "type": "string",
            "enum": [
              "datapoint",
              "group"
            ]
          },
          {
            "name": "body",
            "in": "body",
            "description": "The patch permission request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Api.Core.Requests.PermissionPatchRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api.Core.Responses.EntityUri[System.Int64]"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Change the permission on a shared object",
        "operationId": "Account_PatchPermissions",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "guestId",
            "in": "path",
            "description": "Id of the guest",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "type",
            "in": "path",
            "description": "Can be \"datapoint\" or \"group\"",
            "required": true,
            "type": "string",
            "enum": [
              "datapoint",
              "group"
            ]
          },
          {
            "name": "body",
            "in": "body",
            "description": "The patch permission request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Api.Core.Requests.PermissionPatchRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api.Core.Responses.EntityUri[System.Int64]"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/account/guests": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Retrieve list of a guest",
        "operationId": "Account_GetGuests",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Offset where to start from",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minLength": 0
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit results to this number",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maxLength": 0,
            "minLength": 0
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Field to sort by",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Direction of sort \"asc\" or \"desc\"",
            "required": false,
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ]
          },
          {
            "name": "textSearch",
            "in": "query",
            "description": "Filter fields by this pattern",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api.Core.Responses.EntitiesResponse[Api.Core.Responses.EntityUri[System.Int64]]"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Create a guest",
        "operationId": "Account_PutGuest",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "value",
            "in": "body",
            "description": "Guest object to create",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Api.Core.Dto.Accounting.Guest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api.Core.Dto.Accounting.Guest"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/account/guests/count": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Retrieve count of guests",
        "operationId": "Account_GetGuestsCount",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "textSearch",
            "in": "query",
            "description": "Filter fields by this pattern",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api.Core.Responses.CountResponce"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/account/guests/{guestId}": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Retrieve a guest",
        "operationId": "Account_GetGuest",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "guestId",
            "in": "path",
            "description": "Id of the guest",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api.Core.Dto.Accounting.Guest"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Update a guest",
        "operationId": "Account_PostGuest",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "guestId",
            "in": "path",
            "description": "Id of the guest",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "value",
            "in": "body",
            "description": "Guest object with field updated",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Api.Core.Dto.Accounting.Guest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api.Core.Dto.Accounting.Guest"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Account"
        ],
        "summary": "Delete a guest",
        "operationId": "Account_DeleteGuest",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "guestId",
            "in": "path",
            "description": "Id of the guest",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api.Core.Responses.EntityUri[System.Int64]"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/account/ipblacklist": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Retrieve list of a ip to exclude from event tracking",
        "operationId": "Account_GetIpBlacklist",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Offset where to start from",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minLength": 0
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit results to this number",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maxLength": 0,
            "minLength": 0
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api.Core.Responses.EntitiesResponse[Api.Core.Dto.Accounting.IpBlacklistEntry]"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Create an ip blacklist entry",
        "operationId": "Account_PutIpBlacklist",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "value",
            "in": "body",
            "description": "The entry to add",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Api.Core.Dto.Accounting.IpBlacklistEntry"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api.Core.Dto.Accounting.IpBlacklistEntry"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/account/ipblacklist/{blacklistId}": {
      "delete": {
        "tags": [
          "Account"
        ],
        "summary": "Delete an ip blacklist entry",
        "operationId": "Account_DeleteIpBlacklist",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "blacklistId",
            "in": "path",
            "description": "The id of the ip to delete",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api.Core.Dto.Accounting.IpBlacklistEntry"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/account/domainwhitelist": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Retrieve list of a domains allowed to redirect in DDU mode",
        "operationId": "Account_GetDomainWhitelist",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Offset where to start from",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minLength": 0
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit results to this number",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maxLength": 0,
            "minLength": 0
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api.Core.Responses.EntitiesResponse[Api.Core.Dto.Accounting.DomainWhitelistEntry]"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Create an domain entry",
        "operationId": "Account_PutDomainWhitelist",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "value",
            "in": "body",
            "description": "The entry to add",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Api.Core.Dto.Accounting.DomainWhitelistEntry"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api.Core.Dto.Accounting.DomainWhitelistEntry"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/account/domainwhitelist/{whitelistId}": {
      "delete": {
        "tags": [
          "Account"
        ],
        "summary": "Delete an domain entry",
        "operationId": "Account_DeleteDomainWhitelist",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "whitelistId",
            "in": "path",
            "description": "The id of the domain to delete",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api.Core.Dto.Accounting.DomainWhitelistEntry"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/aggregated": {
      "get": {
        "tags": [
          "Aggregated"
        ],
        "summary": "Retrieve statistics about this customer for a timeframe",
        "operationId": "Aggregated_GetStatisticsSingle",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "timeFrame",
            "in": "query",
            "description": "Timeframe of the request. See list at $timeframeList",
            "required": true,
            "type": "string",
            "enum": [
              "today",
              "yesterday",
              "last7",
              "last30",
              "lastmonth",
              "currentmonth",
              "previousmonth",
              "last90",
              "last120",
              "last180",
              "last12months",
              "lastyear",
              "currentyear",
              "beginning",
              "custom"
            ]
          },
          {
            "name": "fromDay",
            "in": "query",
            "description": "If using a \"custom\" timeFrame you can specify the starting day (YYYYMMDD)",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "toDay",
            "in": "query",
            "description": "If using a \"custom\" timeFrame you can specify the ending day (YYYYMMDD)",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "hourly",
            "in": "query",
            "description": "If using \"yesterday\" or \"today\" timeframe you can ask for the hourly detail",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "onlyFavorites",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api.Core.Dto.Aggregated.AggregatedResult"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/aggregated/list": {
      "get": {
        "tags": [
          "Aggregated"
        ],
        "summary": "Retrieve statistics about this customer for a timeframe grouped by some temporal entity (day/week/month)",
        "operationId": "Aggregated_GetStatisticsList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "timeFrame",
            "in": "query",
            "description": "Timeframe of the request. See list at $timeframeList",
            "required": true,
            "type": "string",
            "enum": [
              "today",
              "yesterday",
              "last7",
              "last30",
              "lastmonth",
              "currentmonth",
              "previousmonth",
              "last90",
              "last120",
              "last180",
              "last12months",
              "lastyear",
              "currentyear",
              "beginning",
              "custom"
            ]
          },
          {
            "name": "fromDay",
            "in": "query",
            "description": "If using a \"custom\" timeFrame you can specify the starting day (YYYYMMDD)",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "toDay",
            "in": "query",
            "description": "If using a \"custom\" timeFrame you can specify the ending day (YYYYMMDD)",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "groupBy",
            "in": "query",
            "description": "The temporal entity you want to group by (\"week\"/\"month\"). If unspecified is \"day\".",
            "required": false,
            "type": "string",
            "enum": [
              "week",
              "month"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api.Core.Responses.EntitiesResponse[Api.Core.Dto.Aggregated.AggregatedResult]"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/aggregated/summary/datapoints": {
      "get": {
        "tags": [
          "Aggregated"
        ],
        "summary": "Retrieve statistics about a subset of datapoints for a timeframe with datapoints data",
        "operationId": "Aggregated_GetDatapointsSummary",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "timeFrame",
            "in": "query",
            "description": "Timeframe of the request. See list at $timeframeList",
            "required": true,
            "type": "string",
            "enum": [
              "today",
              "yesterday",
              "last7",
              "last30",
              "lastmonth",
              "currentmonth",
              "previousmonth",
              "last90",
              "last120",
              "last180",
              "last12months",
              "lastyear",
              "currentyear",
              "beginning",
              "custom"
            ]
          },
          {
            "name": "type",
            "in": "query",
            "description": "Type of datapoint (\"tl\"/\"tp\")",
            "required": true,
            "type": "string",
            "enum": [
              "tp",
              "tl"
            ]
          },
          {
            "name": "fromDay",
            "in": "query",
            "description": "If using a \"custom\" timeFrame you can specify the starting day (YYYYMMDD)",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "toDay",
            "in": "query",
            "description": "If using a \"custom\" timeFrame you can specify the ending day (YYYYMMDD)",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status of datapoint (\"deleted\"/\"active\"/\"paused\"/\"spam\")",
            "required": false,
            "type": "string",
            "enum": [
              "deleted",
              "active",
              "paused",
              "spam"
            ]
          },
          {
            "name": "tag",
            "in": "query",
            "description": "Filter by this tag name",
            "required": false,
            "type": "string"
          },
          {
            "name": "favourite",
            "in": "query",
            "description": "Is the datapoint marked as favourite",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Field to sort by",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Direction of sort \"asc\" or \"desc\"",
            "required": false,
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ]
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset where to start from",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minLength": 0
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit results to this number",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maxLength": 0,
            "minLength": 0
          },
          {
            "name": "groupId",
            "in": "query",
            "description": "Filter by this group id",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "textSearch",
            "in": "query",
            "description": "Filter fields by this pattern",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api.Core.Dto.Aggregated.AggregatedSummaryResult"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/aggregated/summary/groups": {
      "get": {
        "tags": [
          "Aggregated"
        ],
        "summary": "Retrieve statistics about a subset of groups for a timeframe with groups data",
        "operationId": "Aggregated_GetGroupsSummary",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "timeFrame",
            "in": "query",
            "description": "Timeframe of the request. See list at $timeframeList",
            "required": true,
            "type": "string",
            "enum": [
              "today",
              "yesterday",
              "last7",
              "last30",
              "lastmonth",
              "currentmonth",
              "previousmonth",
              "last90",
              "last120",
              "last180",
              "last12months",
              "lastyear",
              "currentyear",
              "beginning",
              "custom"
            ]
          },
          {
            "name": "fromDay",
            "in": "query",
            "description": "If using a \"custom\" timeFrame you can specify the starting day (YYYYMMDD)",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "toDay",
            "in": "query",
            "description": "If using a \"custom\" timeFrame you can specify the ending day (YYYYMMDD)",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status of group (\"deleted\"/\"active\")",
            "required": false,
            "type": "string",
            "enum": [
              "deleted",
              "active"
            ]
          },
          {
            "name": "tag",
            "in": "query",
            "description": "Filter by this tag name",
            "required": false,
            "type": "string"
          },
          {
            "name": "favourite",
            "in": "query",
            "description": "Is the group marked as favourite",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Field to sort by",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Direction of sort \"asc\" or \"desc\"",
            "required": false,
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ]
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset where to start from",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minLength": 0
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit results to this number",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maxLength": 0,
            "minLength": 0
          },
          {
            "name": "textSearch",
            "in": "query",
            "description": "Filter fields by this pattern",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api.Core.Dto.Aggregated.AggregatedSummaryResult"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/aggregated/summary/conversions": {
      "get": {
        "tags": [
          "Aggregated"
        ],
        "summary": "Retrieve statistics about a subset of conversions for a timeframe with conversions data",
        "operationId": "Aggregated_GetConversionsSummary",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "timeFrame",
            "in": "query",
            "description": "Timeframe of the request. See list at $timeframeList",
            "required": true,
            "type": "string",
            "enum": [
              "today",
              "yesterday",
              "last7",
              "last30",
              "lastmonth",
              "currentmonth",
              "previousmonth",
              "last90",
              "last120",
              "last180",
              "last12months",
              "lastyear",
              "currentyear",
              "beginning",
              "custom"
            ]
          },
          {
            "name": "fromDay",
            "in": "query",
            "description": "If using a \"custom\" timeFrame you can specify the starting day (YYYYMMDD)",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "toDay",
            "in": "query",
            "description": "If using a \"custom\" timeFrame you can specify the ending day (YYYYMMDD)",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status of conversion (\"deleted\"/\"active\")",
            "required": false,
            "type": "string",
            "enum": [
              "deleted",
              "active"
            ]
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Field to sort by",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Direction of sort \"asc\" or \"desc\"",
            "required": false,
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ]
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset where to start from",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minLength": 0
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit results to this number",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maxLength": 0,
            "minLength": 0
          },
          {
            "name": "textSearch",
            "in": "query",
            "description": "Filter fields by this pattern",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api.Core.Dto.Aggregated.AggregatedSummaryResult"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/clickstream": {
      "get": {
        "tags": [
          "ClickStream"
        ],
        "summary": "Retrieve the latest list of events of this account. Limited to last 100.",
        "operationId": "ClickStream_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "group",
            "in": "query",
            "description": "Filter by this group id (mutually exclusive with \"datapoint\" and \"conversion\")",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "datapoint",
            "in": "query",
            "description": "Filter by this datapoint id (mutually exclusive with \"group\" and \"conversion\")",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "conversion",
            "in": "query",
            "description": "Filter by this conversion id (mutually exclusive with \"datapoint\" and \"group\")",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Limit results to this number",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 50
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter event type (\"spiders\"/\"uniques\"/\"nonuniques\"/\"conversions\")",
            "required": false,
            "type": "string",
            "enum": [
              "",
              "spiders",
              "uniques",
              "nonuniques",
              "conversions"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api.Core.Responses.EntitiesResponse[Api.Core.Dto.ClickStream.Hit]"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/conversions/{conversionId}/aggregated": {
      "get": {
        "tags": [
          "Conversions"
        ],
        "summary": "Retrieve statistics about this conversion for a timeframe",
        "operationId": "Conversions_GetStatisticsSingle",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "conversionId",
            "in": "path",
            "description": "Id of the conversion",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "timeFrame",
            "in": "query",
            "description": "Timeframe of the request. See list at $timeframeList",
            "required": true,
            "type": "string",
            "enum": [
              "today",
              "yesterday",
              "last7",
              "last30",
              "lastmonth",
              "currentmonth",
              "previousmonth",
              "last90",
              "last120",
              "last180",
              "last12months",
              "lastyear",
              "currentyear",
              "beginning",
              "custom"
            ]
          },
          {
            "name": "fromDay",
            "in": "query",
            "description": "If using a \"custom\" timeFrame you can specify the starting day (YYYYMMDD)",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "toDay",
            "in": "query",
            "description": "If using a \"custom\" timeFrame you can specify the ending day (YYYYMMDD)",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "tag",
            "in": "query",
            "description": "Filter by this tag name",
            "required": false,
            "type": "string"
          },
          {
            "name": "favourite",
            "in": "query",
            "description": "Is the datapoint marked as favourite",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "hourly",
            "in": "query",
            "description": "If using \"yesterday\" or \"today\" timeframe you can ask for the hourly detail",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api.Core.Dto.Aggregated.AggregatedResult"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/conversions/{conversionId}/aggregated/list": {
      "get": {
        "tags": [
          "Conversions"
        ],
        "summary": "Retrieve statistics about this conversion for a timeframe grouped by some temporal entity (day/week/month)",
        "operationId": "Conversions_GetStatisticsList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "conversionId",
            "in": "path",
            "description": "Id of the conversion",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "timeFrame",
            "in": "query",
            "description": "Timeframe of the request. See list at $timeframeList",
            "required": true,
            "type": "string",
            "enum": [
              "today",
              "yesterday",
              "last7",
              "last30",
              "lastmonth",
              "currentmonth",
              "previousmonth",
              "last90",
              "last120",
              "last180",
              "last12months",
              "lastyear",
              "currentyear",
              "beginning",
              "custom"
            ]
          },
          {
            "name": "fromDay",
            "in": "query",
            "description": "If using a \"custom\" timeFrame you can specify the starting day (YYYYMMDD)",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "toDay",
            "in": "query",
            "description": "If using a \"custom\" timeFrame you can specify the ending day (YYYYMMDD)",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "groupBy",
            "in": "query",
            "description": "The temporal entity you want to group by (\"week\"/\"month\"). If unspecified is \"day\".",
            "required": false,
            "type": "string",
            "enum": [
              "week",
              "month"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api.Core.Responses.EntitiesResponse[Api.Core.Dto.Aggregated.AggregatedResult]"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/conversions/aggregated/list": {
      "get": {
        "tags": [
          "Conversions"
        ],
        "summary": "Retrieve statistics about this customer for a timeframe related to a subset of conversions grouped by some temporal entity (day/week/month)",
        "operationId": "Conversions_GetStatisticsAllList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "timeFrame",
            "in": "query",
            "description": "Timeframe of the request. See list at $timeframeList",
            "required": true,
            "type": "string",
            "enum": [
              "today",
              "yesterday",
              "last7",
              "last30",
              "lastmonth",
              "currentmonth",
              "previousmonth",
              "last90",
              "last120",
              "last180",
              "last12months",
              "lastyear",
              "currentyear",
              "beginning",
              "custom"
            ]
          },
          {
            "name": "fromDay",
            "in": "query",
            "description": "If using a \"custom\" timeFrame you can specify the starting day (YYYYMMDD)",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "toDay",
            "in": "query",
            "description": "If using a \"custom\" timeFrame you can specify the ending day (YYYYMMDD)",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status of conversion (\"deleted\"/\"active\")",
            "required": false,
            "type": "string",
            "enum": [
              "deleted",
              "active"
            ]
          },
          {
            "name": "groupBy",
            "in": "query",
            "description": "The temporal entity you want to group by (\"week\"/\"month\"). If unspecified is \"day\".",
            "required": false,
            "type": "string",
            "enum": [
              "week",
              "month"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api.Core.Responses.EntitiesResponse[Api.Core.Dto.Aggregated.AggregatedResult]"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/conversions/{conversionId}/datapoints": {
      "get": {
        "tags": [
          "Conversions"
        ],
        "summary": "Retrieve a list of datapoints connected to this conversion",
        "operationId": "Conversions_GetDatapoints",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "conversionId",
            "in": "path",
            "description": "Id of the conversion",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset where to start from",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minLength": 0
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit results to this number",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maxLength": 0,
            "minLength": 0
          },
          {
            "name": "type",
            "in": "query",
            "description": "Type of datapoint (\"tl\"/\"tp\")",
            "required": false,
            "type": "string",
            "enum": [
              "tp",
              "tl"
            ]
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status of datapoint (\"deleted\"/\"active\"/\"paused\"/\"spam\")",
            "required": false,
            "type": "string",
            "enum": [
              "deleted",
              "active",
              "paused",
              "spam"
            ]
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Filter by this tag name",
            "required": false,
            "type": "string"
          },
          {
            "name": "textSearch",
            "in": "query",
            "description": "Filter fields by this pattern",
            "required": false,
            "type": "string"
          },
          {
            "name": "createdAfter",
            "in": "query",
            "description": "Exclude datapoints created before this date (YYYYMMDD)",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "createdBefore",
            "in": "query",
            "description": "Exclude datapoints created after this date (YYYYMMDD)",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api.Core.Responses.EntitiesResponse[Api.Core.Responses.EntityUri[System.Int64]]"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/conversions/{conversionId}/datapoints/count": {
      "get": {
        "tags": [
          "Conversions"
        ],
        "summary": "Retrieve a count of datapoints connected to this conversion",
        "operationId": "Conversions_GetDatapointsCount",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "conversionId",
            "in": "path",
            "description": "Id of the conversion",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Type of datapoint (\"tl\"/\"tp\")",
            "required": false,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status of datapoint (\"deleted\"/\"active\"/\"paused\"/\"spam\")",
            "required": false,
            "type": "string"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Filter by this tag name",
            "required": false,
            "type": "string"
          },
          {
            "name": "textSearch",
            "in": "query",
            "description": "Filter fields by this pattern",
            "required": false,
            "type": "string"
          },
          {
            "name": "createdAfter",
            "in": "query",
            "description": "Exclude datapoints created before this date (YYYYMMDD)",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "createdBefore",
            "in": "query",
            "description": "Exclude datapoints created after this date (YYYYMMDD)",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api.Core.Responses.CountResponce"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/conversions/{conversionId}/reports": {
      "get": {
        "tags": [
          "Conversions"
        ],
        "summary": "Retrieve a top report connected to this conversion",
        "operationId": "Conversions_GetTops",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "conversionId",
            "in": "path",
            "description": "Id of the conversion",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Type of the report.",
            "required": true,
            "type": "string",
            "enum": [
              "datapoints",
              "groups",
              "browsers",
              "browsersfamilies",
              "platforms",
              "cities",
              "countries",
              "keywords",
              "referrers",
              "convparameters",
              "destinations",
              "languages",
              "params"
            ]
          },
          {
            "name": "timeframe",
            "in": "query",
            "description": "Timeframe of the request. See list at $timeframeList",
            "required": true,
            "type": "string",
            "enum": [
              "yesterday",
              "last7",
              "last30",
              "lastmonth",
              "currentmonth",
              "previousmonth",
              "last90",
              "last120",
              "last180",
              "beginning",
              "custom"
            ]
          },
          {
            "name": "hittype",
            "in": "query",
            "description": "Type of the event you want to filter this report with. By default no filter is applied.",
            "required": false,
            "type": "string",
            "enum": [
              "clicks",
              "views"
            ]
          },
          {
            "name": "fromDay",
            "in": "query",
            "description": "If using a \"custom\" timeFrame you can specify the starting day (YYYYMMDD)",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "toDay",
            "in": "query",
            "description": "If using a \"custom\" timeFrame you can specify the ending day (YYYYMMDD)",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api.Core.Dto.Tops.Top"
            }
          },
          "401": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/conversions": {
      "get": {
        "tags": [
          "Conversions"
        ],
        "summary": "Retrieve a list of conversions",
        "operationId": "Conversions_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Offset where to start from",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minLength": 0
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit results to this number",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maxLength": 0,
            "minLength": 0
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status of conversion (\"deleted\"/\"active\")",
            "required": false,
            "type": "string",
            "enum": [
              "deleted",
              "active"
            ]
          },
          {
            "name": "textSearch",
            "in": "query",
            "description": "Filter fields by this pattern",
            "required": false,
            "type": "string"
          },
          {
            "name": "createdAfter",
            "in": "query",
            "description": "Exclude conversions created before this date (YYYYMMDD)",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "createdBefore",
            "in": "query",
            "description": "Exclude conversions created after this date (YYYYMMDD)",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api.Core.Responses.EntitiesResponse[Api.Core.Responses.EntityUri[System.Int64]]"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Conversions"
        ],
        "summary": "Create a conversion",
        "operationId": "Conversions_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "value",
            "in": "body",
            "description": "The body of the conversion",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Api.Core.Dto.Conversions.Conversion"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api.Core.Responses.EntityUri[System.Int64]"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/conversions/{conversionId}": {
      "get": {
        "tags": [
          "Conversions"
        ],
        "summary": "Retrieve conversion specified by id",
        "operationId": "Conversions_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "conversionId",
            "in": "path",
            "description": "Id of the conversion",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api.Core.Dto.Conversions.Conversion"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Conversions"
        ],
        "summary": "Update conversion specified by id",
        "operationId": "Conversions_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "conversionId",
            "in": "path",
            "description": "Id of the conversion",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "value",
            "in": "body",
            "description": "Updated body of the conversion",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Api.Core.Dto.Conversions.Conversion"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api.Core.Responses.EntityUri[System.Int64]"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Conversions"
        ],
        "summary": "Delete conversion specified by id",
        "operationId": "Conversions_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "conversionId",
            "in": "path",
            "description": "Id of the conversion",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api.Core.Responses.EntityUri[System.Int64]"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/conversions/count": {
      "get": {
        "tags": [
          "Conversions"
        ],
        "summary": "Retrieve a count of conversions",
        "operationId": "Conversions_Count",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Status of conversion (\"deleted\"/\"active\")",
            "required": false,
            "type": "string",
            "enum": [
              "deleted",
              "active"
            ]
          },
          {
            "name": "textSearch",
            "in": "query",
            "description": "Filter fields by this pattern",
            "required": false,
            "type": "string"
          },
          {
            "name": "createdAfter",
            "in": "query",
            "description": "Exclude conversions created before this date (YYYYMMDD)",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "createdBefore",
            "in": "query",
            "description": "Exclude conversions created after this date (YYYYMMDD)",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api.Core.Responses.CountResponce"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/conversions/{conversionId}/datapoints/patch": {
      "put": {
        "tags": [
          "Conversions"
        ],
        "summary": "Modify the association between a conversion and a datapoint",
        "operationId": "Conversions_Patch",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "conversionId",
            "in": "path",
            "description": "Id of the conversion",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "data",
            "in": "body",
            "description": "Patch request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Api.Core.Requests.ConversionPatchBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api.Core.Responses.EntityUri[System.Int64]"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/conversions/{conversionId}/datapoints/batch/patch": {
      "put": {
        "tags": [
          "Conversions"
        ],
        "summary": "Modify the association between a conversion and multiple datapoints",
        "operationId": "Conversions_Patch",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "conversionId",
            "in": "path",
            "description": "Id of the conversion",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "data",
            "in": "body",
            "description": "Patch requests",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Api.Core.Requests.PatchBodyBatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api.Core.Responses.EntityUri[System.Int64]"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/conversions/{conversionId}/hits": {
      "get": {
        "tags": [
          "Conversions"
        ],
        "summary": "Retrieve the list of events related to this conversion.",
        "operationId": "Conversions_GetHits",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "conversionId",
            "in": "path",
            "description": "Id of the conversion",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "timeframe",
            "in": "query",
            "description": "Timeframe of the request. See list at $timeframeList",
            "required": true,
            "type": "string",
            "enum": [
              "yesterday",
              "last7",
              "last30",
              "lastmonth",
              "currentmonth",
              "previousmonth",
              "last90",
              "last120",
              "last180",
              "custom"
            ]
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit results to this number",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maxLength": 0,
            "minLength": 0
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset where to start from (it's the lastKey field in the response object)",
            "required": false,
            "type": "string"
          },
          {
            "name": "fromDay",
            "in": "query",
            "description": "If using a \"custom\" timeFrame you can specify the starting day (YYYYMMDD)",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "toDay",
            "in": "query",
            "description": "If using a \"custom\" timeFrame you can specify the ending day (YYYYMMDD)",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter event type (\"spiders\"/\"uniques\"/\"nonuniques\"/\"conversions\")",
            "required": false,
            "type": "string",
            "enum": [
              "spiders",
              "uniques",
              "nonuniques",
              "conversions"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api.Core.Dto.ClickStream.HitListPage"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/conversions/{conversionId}/notes": {
      "put": {
        "tags": [
          "Conversions"
        ],
        "summary": "Fast patch the \"notes\" field of a conversion",
        "operationId": "Conversions_PatchNotes",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "conversionId",
            "in": "path",
            "description": "Id of the conversion",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "note",
            "in": "body",
            "description": "Patch requests",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Api.Core.Requests.GenericTextPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api.Core.Responses.EntityUri[System.Int64]"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/datapoints/{id}/aggregated": {
      "get": {
        "tags": [
          "DataPoints"
        ],
        "summary": "Retrieve statistics about this datapoint for a timeframe",
        "operationId": "DataPoints_GetStatisticsSingle",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the datapoint",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "timeFrame",
            "in": "query",
            "description": "Timeframe of the request. See list at $timeframeList",
            "required": true,
            "type": "string",
            "enum": [
              "today",
              "yesterday",
              "last7",
              "last30",
              "lastmonth",
              "currentmonth",
              "previousmonth",
              "last90",
              "last120",
              "last180",
              "last12months",
              "lastyear",
              "currentyear",
              "beginning",
              "custom"
            ]
          },
          {
            "name": "fromDay",
            "in": "query",
            "description": "If using a \"custom\" timeFrame you can specify the starting day (YYYYMMDD)",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "toDay",
            "in": "query",
            "description": "If using a \"custom\" timeFrame you can specify the ending day (YYYYMMDD)",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "hourly",
            "in": "query",
            "description": "If using \"yesterday\" or \"today\" timeframe you can ask for the hourly detail",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api.Core.Dto.Aggregated.AggregatedResult"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/datapoints/aggregated": {
      "get": {
        "tags": [
          "DataPoints"
        ],
        "summary": "Retrieve statistics about this customer for a timeframe by groups",
        "operationId": "DataPoints_GetStatisticsAggregatedSingle",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "timeFrame",
            "in": "query",
            "description": "Timeframe of the request. See list at $timeframeList",
            "required": true,
            "type": "string",
            "enum": [
              "today",
              "yesterday",
              "last7",
              "last30",
              "lastmonth",
              "currentmonth",
              "previousmonth",
              "last90",
              "last120",
              "last180",
              "last12months",
              "lastyear",
              "currentyear",
              "beginning",
              "custom"
            ]
          },
          {
            "name": "type",
            "in": "query",
            "description": "Type of datapoint (\"tl\"/\"tp\")",
            "required": false,
            "type": "string",
            "enum": [
              "tp",
              "tl"
            ]
          },
          {
            "name": "fromDay",
            "in": "query",
            "description": "If using a \"custom\" timeFrame you can specify the starting day (YYYYMMDD)",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "toDay",
            "in": "query",
            "description": "If using a \"custom\" timeFrame you can specify the ending day (YYYYMMDD)",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "hourly",
            "in": "query",
            "description": "If using \"yesterday\" or \"today\" timeframe you can ask for the hourly detail",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status of datapoint (\"deleted\"/\"active\"/\"paused\"/\"spam\")",
            "required": false,
            "type": "string",
            "enum": [
              "deleted",
              "active",
              "paused",
              "spam"
            ]
          },
          {
            "name": "tag",
            "in": "query",
            "description": "Filter by this tag name",
            "required": false,
            "type": "string"
          },
          {
            "name": "favourite",
            "in": "query",
            "description": "Is the datapoint is marked as favourite",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api.Core.Dto.Aggregated.AggregatedResult"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/datapoints/{id}/aggregated/list": {
      "get": {
        "tags": [
          "DataPoints"
        ],
        "summary": "Retrieve statistics about this datapoint for a timeframe grouped by some temporal entity (day/week/month)",
        "operationId": "DataPoints_GetStatisticsList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the datapoint",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "timeFrame",
            "in": "query",
            "description": "Timeframe of the request. See list at $timeframeList",
            "required": true,
            "type": "string",
            "enum": [
              "today",
              "yesterday",
              "last7",
              "last30",
              "lastmonth",
              "currentmonth",
              "previousmonth",
              "last90",
              "last120",
              "last180",
              "last12months",
              "lastyear",
              "currentyear",
              "beginning",
              "custom"
            ]
          },
          {
            "name": "fromDay",
            "in": "query",
            "description": "If using a \"custom\" timeFrame you can specify the starting day (YYYYMMDD)",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "toDay",
            "in": "query",
            "description": "If using a \"custom\" timeFrame you can specify the ending day (YYYYMMDD)",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "groupBy",
            "in": "query",
            "description": "The temporal entity you want to group by (\"week\"/\"month\"). If unspecified is \"day\".",
            "required": false,
            "type": "string",
            "enum": [
              "week",
              "month"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api.Core.Responses.EntitiesResponse[Api.Core.Dto.Aggregated.AggregatedResult]"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/datapoints/aggregated/list": {
      "get": {
        "tags": [
          "DataPoints"
        ],
        "summary": "Retrieve statistics about all datapoints of this customer for a timeframe grouped by some temporal entity (day/week/month)",
        "operationId": "DataPoints_GetStatisticsAllList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Type of datapoint (\"tl\"/\"tp\")",
            "required": true,
            "type": "string",
            "enum": [
              "tp",
              "tl"
            ]
          },
          {
            "name": "timeFrame",
            "in": "query",
            "description": "Timeframe of the request. See list at $timeframeList",
            "required": true,
            "type": "string",
            "enum": [
              "today",
              "yesterday",
              "last7",
              "last30",
              "lastmonth",
              "currentmonth",
              "previousmonth",
              "last90",
              "last120",
              "last180",
              "last12months",
              "lastyear",
              "currentyear",
              "beginning",
              "custom"
            ]
          },
          {
            "name": "fromDay",
            "in": "query",
            "description": "If using a \"custom\" timeFrame you can specify the starting day (YYYYMMDD)",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "toDay",
            "in": "query",
            "description": "If using a \"custom\" timeFrame you can specify the ending day (YYYYMMDD)",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status of datapoint (\"deleted\"/\"active\"/\"paused\"/\"spam\")",
            "required": false,
            "type": "string",
            "enum": [
              "deleted",
              "active",
              "paused",
              "spam"
            ]
          },
          {
            "name": "tag",
            "in": "query",
            "description": "Filter by this tag name",
            "required": false,
            "type": "string"
          },
          {
            "name": "favourite",
            "in": "query",
            "description": "Is the datapoint is marked as favourite",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "groupBy",
            "in": "query",
            "description": "The temporal entity you want to group by (\"week\"/\"month\"). If unspecified is \"day\".",
            "required": false,
            "type": "string",
            "enum": [
              "week",
              "month"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api.Core.Responses.EntitiesResponse[Api.Core.Dto.Aggregated.AggregatedResult]"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/datapoints/{id}/reports": {
      "get": {
        "tags": [
          "DataPoints"
        ],
        "summary": "Retrieve a top report connected to this datapoint",
        "operationId": "DataPoints_GetTops",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the datapoint",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Type of the report.",
            "required": true,
            "type": "string",
            "enum": [
              "browsers",
              "browsersfamilies",
              "platforms",
              "cities",
              "countries",
              "isps",
              "ips",
              "oss",
              "ossfamilies",
              "keywords",
              "referrers",
              "destinations",
              "languages",
              "params"
            ]
          },
          {
            "name": "timeframe",
            "in": "query",
            "description": "Timeframe of the request. See list at $timeframeList",
            "required": true,
            "type": "string",
            "enum": [
              "yesterday",
              "last7",
              "last30",
              "lastmonth",
              "currentmonth",
              "previousmonth",
              "last90",
              "last120",
              "last180",
              "beginning",
              "custom"
            ]
          },
          {
            "name": "fromDay",
            "in": "query",
            "description": "If using a \"custom\" timeFrame you can specify the starting day (YYYYMMDD)",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "toDay",
            "in": "query",
            "description": "If using a \"custom\" timeFrame you can specify the ending day (YYYYMMDD)",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api.Core.Dto.Tops.Top"
            }
          },
          "401": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/datapoints": {
      "get": {
        "tags": [
          "DataPoints"
        ],
        "summary": "List of all the datapoints associated to the user",
        "operationId": "DataPoints_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Where to start when retrieving elements. Default is 0 if not specified.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 0,
            "minLength": 0
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum elements to retrieve. Default to 20 if not specified.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 20,
            "maxLength": 0,
            "minLength": 0
          },
          {
            "name": "type",
            "in": "query",
            "description": "Type of the datapoint (\"tp\"/\"tl\")",
            "required": false,
            "type": "string",
            "enum": [
              "tp",
              "tl"
            ]
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status of the datapoint",
            "required": false,
            "type": "string",
            "enum": [
              "deleted",
              "active",
              "paused",
              "spam"
            ]
          },
          {
            "name": "tags",
            "in": "query",
            "description": "A comma separated list of tags you want to filter with.",
            "required": false,
            "type": "string"
          },
          {
            "name": "textSearch",
            "in": "query",
            "description": "Filter fields by this pattern",
            "required": false,
            "type": "string"
          },
          {
            "name": "onlyFavorites",
            "in": "query",
            "description": "Filter fields by favourite status",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "createdAfter",
            "in": "query",
            "description": "Exclude datapoints created before this date (YYYYMMDD)",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "createdBefore",
            "in": "query",
            "description": "Exclude datapoints created after this date (YYYYMMDD)",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api.Core.Responses.EntitiesResponse[Api.Core.Responses.EntityUri[System.Int64]]"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "DataPoints"
        ],
        "summary": "Create a datapoint",
        "operationId": "DataPoints_Put",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "value",
            "in": "body",
            "description": "The body of the datapoint",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Api.Core.Dto.Datapoints.Datapoint"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api.Core.Responses.EntityUri[System.Int64]"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      }
    },
    "/datapoints/{id}": {
      "get": {
        "tags": [
          "DataPoints"
        ],
        "summary": "Get a datapoint",
        "operationId": "DataPoints_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the datapoint",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api.Core.Dto.Datapoints.Datapoint"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "DataPoints"
        ],
        "summary": "Update a datapoint",
        "operationId": "DataPoints_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
[...]
