openapi: 3.0.1
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Supersim
  version: 1.10.0
  x-apisguru-categories:
    - telecom
    - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_supersim_v1.json
      version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_supersim_v1
paths:
  /v1/Commands:
    description: Machine-to-machine commands sent to/from sims
    get:
      description: Retrieve a list of Commands from your account.
      operationId: ListCommand
      parameters:
        - description: The SID or unique name of the Sim that Command was sent to or from.
          in: query
          name: Sim
          schema:
            type: string
        - description: "The status of the Command. Can be: `queued`, `sent`, `delivered`, `received` or `failed`. See the [Command Status Values](https://www.twilio.com/docs/wireless/api/command-resource#status-values) for a description of each."
          in: query
          name: Status
          schema:
            enum:
              - queued
              - sent
              - delivered
              - received
              - failed
            type: string
        - description: The direction of the Command. Can be `to_sim` or `from_sim`. The value of `to_sim` is synonymous with the term `mobile terminated`, and `from_sim` is synonymous with the term `mobile originated`.
          in: query
          name: Direction
          schema:
            enum:
              - to_sim
              - from_sim
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  commands:
                    items:
                      $ref: "#/components/schemas/supersim.v1.command"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListCommandResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    post:
      description: Send a Command to a Sim.
      operationId: CreateCommand
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                CallbackMethod:
                  description: "The HTTP method we should use to call `callback_url`. Can be: `GET` or `POST` and the default is POST."
                  enum:
                    - HEAD
                    - GET
                    - POST
                    - PATCH
                    - PUT
                    - DELETE
                  type: string
                CallbackUrl:
                  description: The URL we should call using the `callback_method` after we have sent the command.
                  format: uri
                  type: string
                Command:
                  description: The message body of the command.
                  type: string
                Sim:
                  description: The `sid` or `unique_name` of the [SIM](https://www.twilio.com/docs/wireless/api/sim-resource) to send the Command to.
                  maxLength: 34
                  minLength: 34
                  pattern: ^HS[0-9a-fA-F]{32}$
                  type: string
              required:
                - Sim
                - Command
              title: CreateCommandRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/supersim.v1.command"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://supersim.twilio.com
    x-default-output-properties:
      - sid
      - status
      - date_created
    x-path-type: list
  "/v1/Commands/{Sid}":
    description: Machine-to-machine commands sent to/from sims
    get:
      description: Fetch a Command instance from your account.
      operationId: FetchCommand
      parameters:
        - description: The SID of the Command resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^HC[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/supersim.v1.command"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://supersim.twilio.com
    x-default-output-properties:
      - sid
      - status
      - date_created
    x-path-type: instance
  /v1/Fleets:
    description: Fleets for grouping Super SIMs
    get:
      description: Retrieve a list of Fleets from your account.
      operationId: ListFleet
      parameters:
        - description: The SID or unique name of the Network Access Profile that controls which cellular networks the Fleet's SIMs can connect to.
          in: query
          name: NetworkAccessProfile
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  fleets:
                    items:
                      $ref: "#/components/schemas/supersim.v1.fleet"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListFleetResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    post:
      description: Create a Fleet
      operationId: CreateFleet
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                CommandsEnabled:
                  description: Defines whether SIMs in the Fleet are capable of sending and receiving machine-to-machine SMS via Commands. Defaults to `true`.
                  type: boolean
                CommandsMethod:
                  description: A string representing the HTTP method to use when making a request to `commands_url`. Can be one of `POST` or `GET`. Defaults to `POST`.
                  enum:
                    - HEAD
                    - GET
                    - POST
                    - PATCH
                    - PUT
                    - DELETE
                  type: string
                CommandsUrl:
                  description: The URL that will receive a webhook when a Super SIM in the Fleet is used to send an SMS from your device to the Commands number. Your server should respond with an HTTP status code in the 200 range; any response body will be ignored.
                  format: uri
                  type: string
                DataEnabled:
                  description: Defines whether SIMs in the Fleet are capable of using 2G/3G/4G/LTE/CAT-M data connectivity. Defaults to `true`.
                  type: boolean
                DataLimit:
                  description: The total data usage (download and upload combined) in Megabytes that each Sim resource assigned to the Fleet resource can consume during a billing period (normally one month). Value must be between 1MB (1) and 2TB (2,000,000). Defaults to 1GB (1,000).
                  type: integer
                NetworkAccessProfile:
                  description: The SID or unique name of the Network Access Profile that will control which cellular networks the Fleet's SIMs can connect to.
                  type: string
                UniqueName:
                  description: An application-defined string that uniquely identifies the resource. It can be used in place of the resource's `sid` in the URL to address the resource.
                  type: string
              required:
                - NetworkAccessProfile
              title: CreateFleetRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/supersim.v1.fleet"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://supersim.twilio.com
    x-default-output-properties:
      - sid
      - unique_name
      - data_metering
    x-path-type: list
  "/v1/Fleets/{Sid}":
    description: Fleets for grouping Super SIMs
    get:
      description: Fetch a Fleet instance from your account.
      operationId: FetchFleet
      parameters:
        - description: The SID of the Fleet resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/supersim.v1.fleet"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    post:
      description: Updates the given properties of a Super SIM Fleet instance from your account.
      operationId: UpdateFleet
      parameters:
        - description: The SID of the Fleet resource to update.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                CommandsMethod:
                  description: A string representing the HTTP method to use when making a request to `commands_url`. Can be one of `POST` or `GET`. Defaults to `POST`.
                  enum:
                    - HEAD
                    - GET
                    - POST
                    - PATCH
                    - PUT
                    - DELETE
                  type: string
                CommandsUrl:
                  description: The URL that will receive a webhook when a Super SIM in the Fleet is used to send an SMS from your device to the Commands number. Your server should respond with an HTTP status code in the 200 range; any response body will be ignored.
                  format: uri
                  type: string
                NetworkAccessProfile:
                  description: The SID or unique name of the Network Access Profile that will control which cellular networks the Fleet's SIMs can connect to.
                  type: string
                UniqueName:
                  description: An application-defined string that uniquely identifies the resource. It can be used in place of the resource's `sid` in the URL to address the resource.
                  type: string
              title: UpdateFleetRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/supersim.v1.fleet"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://supersim.twilio.com
    x-default-output-properties:
      - sid
      - unique_name
      - data_metering
    x-path-type: instance
  /v1/NetworkAccessProfiles:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of Network Access Profiles from your account.
      operationId: ListNetworkAccessProfile
      parameters:
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  network_access_profiles:
                    items:
                      $ref: "#/components/schemas/supersim.v1.network_access_profile"
                    type: array
                title: ListNetworkAccessProfileResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    post:
      description: Create a new Network Access Profile
      operationId: CreateNetworkAccessProfile
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Networks:
                  description: List of Network SIDs that this Network Access Profile will allow connections to.
                  items:
                    type: string
                  type: array
                UniqueName:
                  description: An application-defined string that uniquely identifies the resource. It can be used in place of the resource's `sid` in the URL to address the resource.
                  type: string
              title: CreateNetworkAccessProfileRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/supersim.v1.network_access_profile"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://supersim.twilio.com
    x-default-output-properties:
      - sid
      - unique_name
      - fleets_count
    x-path-type: list
  "/v1/NetworkAccessProfiles/{NetworkAccessProfileSid}/Networks":
    description: Mobile operator networks which Network Access Profiles allow access to
    get:
      description: Retrieve a list of Network Access Profile resource's Network resource.
      operationId: ListNetworkAccessProfileNetwork
      parameters:
        - description: The unique string that identifies the Network Access Profile resource.
          in: path
          name: NetworkAccessProfileSid
          required: true
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  networks:
                    items:
                      $ref: "#/components/schemas/supersim.v1.network_access_profile.network_access_profile_network"
                    type: array
                title: ListNetworkAccessProfileNetworkResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    post:
      description: Add a Network resource to the Network Access Profile resource.
      operationId: CreateNetworkAccessProfileNetwork
      parameters:
        - description: The unique string that identifies the Network Access Profile resource.
          in: path
          name: NetworkAccessProfileSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Network:
                  description: The SID of the Network resource to be added to the Network Access Profile resource.
                  maxLength: 34
                  minLength: 34
                  pattern: ^HW[0-9a-fA-F]{32}$
                  type: string
              required:
                - Network
              title: CreateNetworkAccessProfileNetworkRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/supersim.v1.network_access_profile.network_access_profile_network"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://supersim.twilio.com
    x-default-output-properties:
      - sid
    x-path-type: list
  "/v1/NetworkAccessProfiles/{NetworkAccessProfileSid}/Networks/{Sid}":
    delete:
      description: Remove a Network resource from the Network Access Profile resource's.
      operationId: DeleteNetworkAccessProfileNetwork
      parameters:
        - description: The unique string that identifies the Network Access Profile resource.
          in: path
          name: NetworkAccessProfileSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^HA[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Network resource to be removed from the Network Access Profile resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^HW[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    description: Mobile operator networks which Network Access Profiles allow access to
    get:
      description: Fetch a Network Access Profile resource's Network resource.
      operationId: FetchNetworkAccessProfileNetwork
      parameters:
        - description: The unique string that identifies the Network Access Profile resource.
          in: path
          name: NetworkAccessProfileSid
          required: true
          schema:
            type: string
        - description: The SID of the Network resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^HW[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/supersim.v1.network_access_profile.network_access_profile_network"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://supersim.twilio.com
    x-default-output-properties:
      - sid
    x-path-type: instance
  "/v1/NetworkAccessProfiles/{Sid}":
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a Network Access Profile instance from your account.
      operationId: FetchNetworkAccessProfile
      parameters:
        - description: The SID of the Network Access Profile resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/supersim.v1.network_access_profile"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    post:
      description: Updates the given properties of a Network Access Profile in your account.
      operationId: UpdateNetworkAccessProfile
      parameters:
        - description: The SID of the Network Access Profile to update.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                UniqueName:
                  description: The new unique name of the Network Access Profile.
                  type: string
              title: UpdateNetworkAccessProfileRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/supersim.v1.network_access_profile"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://supersim.twilio.com
    x-default-output-properties:
      - sid
      - unique_name
      - fleets_count
    x-path-type: instance
  /v1/Networks:
    description: Mobile operator networks to which Super SIMs can connect
    get:
      description: Retrieve a list of Network resources.
      operationId: ListNetwork
      parameters:
        - description: The [ISO country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) of the Network resources to read.
          in: query
          name: IsoCountry
          schema:
            type: string
        - description: The 'mobile country code' of a country. Network resources with this `mcc` in their `identifiers` will be read.
          in: query
          name: Mcc
          schema:
            type: string
        - description: The 'mobile network code' of a mobile operator network. Network resources with this `mnc` in their `identifiers` will be read.
          in: query
          name: Mnc
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  networks:
                    items:
                      $ref: "#/components/schemas/supersim.v1.network"
                    type: array
                title: ListNetworkResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://supersim.twilio.com
    x-default-output-properties:
      - sid
    x-path-type: list
  "/v1/Networks/{Sid}":
    description: Mobile operator networks to which Super SIMs can connect
    get:
      description: Fetch a Network resource.
      operationId: FetchNetwork
      parameters:
        - description: The SID of the Network resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^HW[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/supersim.v1.network"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://supersim.twilio.com
    x-default-output-properties:
      - sid
    x-path-type: instance
  /v1/Sims:
    description: Individual IoT Super SIMs
    get:
      description: Retrieve a list of Super SIMs from your account.
      operationId: ListSim
      parameters:
        - description: The status of the Sim resources to read. Can be `new`, `ready`, `active`, `inactive`, or `scheduled`.
          in: query
          name: Status
          schema:
            enum:
              - new
              - ready
              - active
              - inactive
              - scheduled
            type: string
        - description: The SID or unique name of the Fleet to which a list of Sims are assigned.
          in: query
          name: Fleet
          schema:
            type: string
        - description: The [ICCID](https://en.wikipedia.org/wiki/Subscriber_identity_module#ICCID) associated with a Super SIM to filter the list by. Passing this parameter will always return a list containing zero or one SIMs.
          in: query
          name: Iccid
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  sims:
                    items:
                      $ref: "#/components/schemas/supersim.v1.sim"
                    type: array
                title: ListSimResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://supersim.twilio.com
    x-default-output-properties:
      - sid
      - unique_name
      - status
    x-path-type: list
  "/v1/Sims/{Sid}":
    description: Individual IoT Super SIMs
    get:
      description: Fetch a Super SIM instance from your account.
      operationId: FetchSim
      parameters:
        - description: The SID of the Sim resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/supersim.v1.sim"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    post:
      description: Updates the given properties of a Super SIM instance from your account.
      operationId: UpdateSim
      parameters:
        - description: The SID of the Sim resource to update.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                AccountSid:
                  description: The SID of the Account to which the Sim resource should belong. The Account SID can only be that of the requesting Account or that of a Subaccount of the requesting Account. Only valid when the Sim resource's status is new.
                  type: string
                CallbackMethod:
                  description: "The HTTP method we should use to call `callback_url`. Can be: `GET` or `POST` and the default is POST."
                  enum:
                    - HEAD
                    - GET
                    - POST
                    - PATCH
                    - PUT
                    - DELETE
                  type: string
                CallbackUrl:
                  description: The URL we should call using the `callback_method` after an asynchronous update has finished.
                  format: uri
                  type: string
                Fleet:
                  description: The SID or unique name of the Fleet to which the SIM resource should be assigned.
                  type: string
                Status:
                  description: "The new status of the resource. Can be: `ready`, `active`, or `inactive`. See the [Super SIM Status Values](https://www.twilio.com/docs/iot/supersim/api/sim-resource#status-values) for more info."
                  enum:
                    - ready
                    - active
                    - inactive
                  type: string
                UniqueName:
                  description: An application-defined string that uniquely identifies the resource. It can be used in place of the resource's `sid` in the URL to address the resource.
                  type: string
              title: UpdateSimRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/supersim.v1.sim"
          description: OK
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/supersim.v1.sim"
          description: Accepted
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://supersim.twilio.com
    x-default-output-properties:
      - sid
      - unique_name
      - status
    x-path-type: instance
  /v1/UsageRecords:
    description: Usage information for Sim resources
    get:
      description: List UsageRecords
      operationId: ListUsageRecord
      parameters:
        - description: SID or unique name of a Sim resource. Only show UsageRecords representing usage incurred by this Super SIM.
          in: query
          name: Sim
          schema:
            type: string
        - description: SID or unique name of a Fleet resource. Only show UsageRecords representing usage for Super SIMs belonging to this Fleet resource at the time the usage occurred.
          in: query
          name: Fleet
          schema:
            type: string
        - description: SID of a Network resource. Only show UsageRecords representing usage on this network.
          in: query
          name: Network
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^HW[0-9a-fA-F]{32}$
            type: string
        - description: Alpha-2 ISO Country Code. Only show UsageRecords representing usage in this country.
          in: query
          name: IsoCountry
          schema:
            type: string
        - description: "Dimension over which to aggregate usage records. Can be: `sim`, `fleet`, `network`, `isoCountry`. Default is to not aggregate across any of these dimensions, UsageRecords will be aggregated into the time buckets described by the `Granularity` parameter."
          in: query
          name: Group
          schema:
            enum:
              - sim
              - fleet
              - network
              - isoCountry
            type: string
        - description: "Time-based grouping that UsageRecords should be aggregated by. Can be: `hour`, `day`, or `all`. Default is `all`. `all` returns one UsageRecord that describes the usage for the entire period."
          in: query
          name: Granularity
          schema:
            enum:
              - hour
              - day
              - all
            type: string
        - description: Only include usage that occurred at or after this time, specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format. Default is one month before the `end_time`.
          in: query
          name: StartTime
          schema:
            format: date-time
            type: string
        - description: Only include usage that occurred before this time, specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format. Default is the current time.
          in: query
          name: EndTime
          schema:
            format: date-time
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  usage_records:
                    items:
                      $ref: "#/components/schemas/supersim.v1.usage_record"
                    type: array
                title: ListUsageRecordResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://supersim.twilio.com
    x-default-output-properties:
      - account_sid
      - period
    x-path-type: list
components:
  schemas:
    boolean:
      nullable: true
      type: boolean
    command_direction:
      enum:
        - to_sim
        - from_sim
      nullable: true
      type: string
    command_status:
      enum:
        - queued
        - sent
        - delivered
        - received
        - failed
      nullable: true
      type: string
    date_time_iso8601:
      format: date-time
      nullable: true
      type: string
    fleet_data_metering:
      enum:
        - payg
      nullable: true
      type: string
    http_method:
      enum:
        - HEAD
        - GET
        - POST
        - PATCH
        - PUT
        - DELETE
      nullable: true
      type: string
    integer:
      nullable: true
      type: integer
    iso_country_code:
      nullable: true
      type: string
    long:
      nullable: true
      type: integer
    object:
      nullable: true
      type: object
    object_list:
      items:
        type: object
      nullable: true
      type: array
    sid_AC:
      maxLength: 34
      minLength: 34
      nullable: true
      pattern: ^AC[0-9a-fA-F]{32}$
      type: string
    sid_HA:
      maxLength: 34
      minLength: 34
      nullable: true
      pattern: ^HA[0-9a-fA-F]{32}$
      type: string
    sid_HC:
      maxLength: 34
      minLength: 34
      nullable: true
      pattern: ^HC[0-9a-fA-F]{32}$
      type: string
    sid_HF:
      maxLength: 34
      minLength: 34
      nullable: true
      pattern: ^HF[0-9a-fA-F]{32}$
      type: string
    sid_HS:
      maxLength: 34
      minLength: 34
      nullable: true
      pattern: ^HS[0-9a-fA-F]{32}$
      type: string
    sid_HW:
      maxLength: 34
      minLength: 34
      nullable: true
      pattern: ^HW[0-9a-fA-F]{32}$
      type: string
    sim_status:
      enum:
        - new
        - ready
        - active
        - inactive
        - scheduled
      nullable: true
      type: string
    string:
      nullable: true
      type: string
    supersim.v1.command:
      properties:
        account_sid:
          $ref: "#/components/schemas/sid_AC"
        command:
          $ref: "#/components/schemas/string"
        date_created:
          $ref: "#/components/schemas/date_time_iso8601"
        date_updated:
          $ref: "#/components/schemas/date_time_iso8601"
        direction:
          $ref: "#/components/schemas/command_direction"
        sid:
          $ref: "#/components/schemas/sid_HC"
        sim_sid:
          $ref: "#/components/schemas/sid_HS"
        status:
          $ref: "#/components/schemas/command_status"
        url:
          $ref: "#/components/schemas/url"
      type: object
    supersim.v1.fleet:
      properties:
        account_sid:
          $ref: "#/components/schemas/sid_AC"
        commands_enabled:
          $ref: "#/components/schemas/boolean"
        commands_method:
          $ref: "#/components/schemas/http_method"
        commands_url:
          $ref: "#/components/schemas/url"
        data_enabled:
          $ref: "#/components/schemas/boolean"
        data_limit:
          $ref: "#/components/schemas/integer"
        data_metering:
          $ref: "#/components/schemas/fleet_data_metering"
        date_created:
          $ref: "#/components/schemas/date_time_iso8601"
        date_updated:
          $ref: "#/components/schemas/date_time_iso8601"
        network_access_profile_sid:
          $ref: "#/components/schemas/sid_HA"
        sid:
          $ref: "#/components/schemas/sid_HF"
        unique_name:
          $ref: "#/components/schemas/string"
        url:
          $ref: "#/components/schemas/url"
      type: object
    supersim.v1.network:
      properties:
        friendly_name:
          $ref: "#/components/schemas/string"
        identifiers:
          $ref: "#/components/schemas/object_list"
        iso_country:
          $ref: "#/components/schemas/string"
        sid:
          $ref: "#/components/schemas/sid_HW"
        url:
          $ref: "#/components/schemas/url"
      type: object
    supersim.v1.network_access_profile:
      properties:
        account_sid:
          $ref: "#/components/schemas/sid_AC"
        date_created:
          $ref: "#/components/schemas/date_time_iso8601"
        date_updated:
          $ref: "#/components/schemas/date_time_iso8601"
        links:
          $ref: "#/components/schemas/uri_map"
        sid:
          $ref: "#/components/schemas/sid_HA"
        unique_name:
          $ref: "#/components/schemas/string"
        url:
          $ref: "#/components/schemas/url"
      type: object
    supersim.v1.network_access_profile.network_access_profile_network:
      properties:
        friendly_name:
          $ref: "#/components/schemas/string"
        identifiers:
          $ref: "#/components/schemas/object_list"
        iso_country:
          $ref: "#/components/schemas/string"
        network_access_profile_sid:
          $ref: "#/components/schemas/sid_HA"
        sid:
          $ref: "#/components/schemas/sid_HW"
        url:
          $ref: "#/components/schemas/url"
      type: object
    supersim.v1.sim:
      properties:
        account_sid:
          $ref: "#/components/schemas/sid_AC"
        date_created:
          $ref: "#/components/schemas/date_time_iso8601"
        date_updated:
          $ref: "#/components/schemas/date_time_iso8601"
        fleet_sid:
          $ref: "#/components/schemas/sid_HF"
        iccid:
          $ref: "#/components/schemas/string"
        sid:
          $ref: "#/components/schemas/sid_HS"
        status:
          $ref: "#/components/schemas/sim_status"
        unique_name:
          $ref: "#/components/schemas/string"
        url:
          $ref: "#/components/schemas/url"
      type: object
    supersim.v1.usage_record:
      properties:
        account_sid:
          $ref: "#/components/schemas/sid_AC"
        data_download:
          $ref: "#/components/schemas/long"
        data_total:
          $ref: "#/components/schemas/long"
        data_upload:
          $ref: "#/components/schemas/long"
        fleet_sid:
          $ref: "#/components/schemas/sid_HF"
        iso_country:
          $ref: "#/components/schemas/iso_country_code"
        network_sid:
          $ref: "#/components/schemas/sid_HW"
        period:
          $ref: "#/components/schemas/object"
        sim_sid:
          $ref: "#/components/schemas/sid_HS"
      type: object
    uri_map:
      nullable: true
      type: object
    url:
      format: uri
      nullable: true
      type: string
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
x-maturity:
  - description: PLEASE NOTE that this is a Beta product that is subject to change. Use it with caution.
    name: Beta
