{
  "openapi": "3.0.1",
  "servers": [
    {
      "url": "https://voice.twilio.com"
    }
  ],
  "info": {
    "contact": {
      "email": "support@twilio.com",
      "name": "Twilio Support",
      "url": "https://support.twilio.com"
    },
    "description": "This is the public Twilio REST API.",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "termsOfService": "https://www.twilio.com/legal/tos",
    "title": "Twilio - Voice",
    "version": "1.42.0",
    "x-apisguru-categories": [
      "telecom",
      "messaging"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_static1.twilio.com_marketing_bundles_marketing_img_logos_wordmark-red.svg"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_voice_v1.json",
        "version": "3.0"
      }
    ],
    "x-providerName": "twilio.com",
    "x-serviceName": "twilio_voice_v1"
  },
  "paths": {
    "/v1/Archives/{Date}/Calls/{Sid}": {
      "delete": {
        "description": "Delete an archived call record from Bulk Export. Note: this does not also delete the record from the Voice API.",
        "operationId": "DeleteArchivedCall",
        "parameters": [
          {
            "description": "The date of the Call in UTC.",
            "in": "path",
            "name": "Date",
            "required": true,
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "The Twilio-provided Call SID that uniquely identifies the Call resource to delete",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^CA[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "Beta"
        ]
      },
      "description": "TODO: Resource-level docs",
      "servers": [
        {
          "url": "https://voice.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [],
        "mountName": "archived_calls",
        "pathType": "instance"
      }
    },
    "/v1/ByocTrunks": {
      "description": "BYOC Trunks allow you to bring your own voice carrier to Twilio, enabling your calls to use our Programmable Voice APIs.",
      "get": {
        "description": "",
        "operationId": "ListByocTrunk",
        "parameters": [
          {
            "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
            "in": "query",
            "name": "PageSize",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The page index. This value is simply for client state.",
            "in": "query",
            "name": "Page",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "The page token. This is provided by the API.",
            "in": "query",
            "name": "PageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "byoc_trunks": {
                      "items": {
                        "$ref": "#/components/schemas/voice.v1.byoc_trunk"
                      },
                      "type": "array"
                    },
                    "meta": {
                      "properties": {
                        "first_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        },
                        "next_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "url": {
                          "format": "uri",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "title": "ListByocTrunkResponse",
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "post": {
        "description": "",
        "operationId": "CreateByocTrunk",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "CnamLookupEnabled": {
                    "description": "Whether Caller ID Name (CNAM) lookup is enabled for the trunk. If enabled, all inbound calls to the BYOC Trunk from the United States and Canada automatically perform a CNAM Lookup and display Caller ID data on your phone. See [CNAM Lookups](https://www.twilio.com/docs/sip-trunking#CNAM) for more information.",
                    "type": "boolean"
                  },
                  "ConnectionPolicySid": {
                    "description": "The SID of the Connection Policy that Twilio will use when routing traffic to your communications infrastructure.",
                    "maxLength": 34,
                    "minLength": 34,
                    "pattern": "^NY[0-9a-fA-F]{32}$",
                    "type": "string"
                  },
                  "FriendlyName": {
                    "description": "A descriptive string that you create to describe the resource. It is not unique and can be up to 255 characters long.",
                    "type": "string"
                  },
                  "FromDomainSid": {
                    "description": "The SID of the SIP Domain that should be used in the `From` header of originating calls sent to your SIP infrastructure. If your SIP infrastructure allows users to \"call back\" an incoming call, configure this with a [SIP Domain](https://www.twilio.com/docs/voice/api/sending-sip) to ensure proper routing. If not configured, the from domain will default to \"sip.twilio.com\".",
                    "maxLength": 34,
                    "minLength": 34,
                    "pattern": "^SD[0-9a-fA-F]{32}$",
                    "type": "string"
                  },
                  "StatusCallbackMethod": {
                    "description": "The HTTP method we should use to call `status_callback_url`. Can be: `GET` or `POST`.",
                    "enum": [
                      "HEAD",
                      "GET",
                      "POST",
                      "PATCH",
                      "PUT",
                      "DELETE"
                    ],
                    "format": "http-method",
                    "type": "string"
                  },
                  "StatusCallbackUrl": {
                    "description": "The URL that we should call to pass status parameters (such as call ended) to your application.",
                    "format": "uri",
                    "type": "string"
                  },
                  "VoiceFallbackMethod": {
                    "description": "The HTTP method we should use to call `voice_fallback_url`. Can be: `GET` or `POST`.",
                    "enum": [
                      "HEAD",
                      "GET",
                      "POST",
                      "PATCH",
                      "PUT",
                      "DELETE"
                    ],
                    "format": "http-method",
                    "type": "string"
                  },
                  "VoiceFallbackUrl": {
                    "description": "The URL that we should call when an error occurs while retrieving or executing the TwiML from `voice_url`.",
                    "format": "uri",
                    "type": "string"
                  },
                  "VoiceMethod": {
                    "description": "The HTTP method we should use to call `voice_url`. Can be: `GET` or `POST`.",
                    "enum": [
                      "HEAD",
                      "GET",
                      "POST",
                      "PATCH",
                      "PUT",
                      "DELETE"
                    ],
                    "format": "http-method",
                    "type": "string"
                  },
                  "VoiceUrl": {
                    "description": "The URL we should call when the BYOC Trunk receives a call.",
                    "format": "uri",
                    "type": "string"
                  }
                },
                "title": "CreateByocTrunkRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/voice.v1.byoc_trunk"
                }
              }
            },
            "description": "Created"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://voice.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "friendly_name",
          "voice_url"
        ],
        "pathType": "list"
      }
    },
    "/v1/ByocTrunks/{Sid}": {
      "delete": {
        "description": "",
        "operationId": "DeleteByocTrunk",
        "parameters": [
          {
            "description": "The Twilio-provided string that uniquely identifies the BYOC Trunk resource to delete.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^BY[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "description": "BYOC Trunks allow you to bring your own voice carrier to Twilio, enabling your calls to use our Programmable Voice APIs.",
      "get": {
        "description": "",
        "operationId": "FetchByocTrunk",
        "parameters": [
          {
            "description": "The Twilio-provided string that uniquely identifies the BYOC Trunk resource to fetch.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^BY[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/voice.v1.byoc_trunk"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "post": {
        "description": "",
        "operationId": "UpdateByocTrunk",
        "parameters": [
          {
            "description": "The Twilio-provided string that uniquely identifies the BYOC Trunk resource to update.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^BY[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "CnamLookupEnabled": {
                    "description": "Whether Caller ID Name (CNAM) lookup is enabled for the trunk. If enabled, all inbound calls to the BYOC Trunk from the United States and Canada automatically perform a CNAM Lookup and display Caller ID data on your phone. See [CNAM Lookups](https://www.twilio.com/docs/sip-trunking#CNAM) for more information.",
                    "type": "boolean"
                  },
                  "ConnectionPolicySid": {
                    "description": "The SID of the Connection Policy that Twilio will use when routing traffic to your communications infrastructure.",
                    "maxLength": 34,
                    "minLength": 34,
                    "pattern": "^NY[0-9a-fA-F]{32}$",
                    "type": "string"
                  },
                  "FriendlyName": {
                    "description": "A descriptive string that you create to describe the resource. It is not unique and can be up to 255 characters long.",
                    "type": "string"
                  },
                  "FromDomainSid": {
                    "description": "The SID of the SIP Domain that should be used in the `From` header of originating calls sent to your SIP infrastructure. If your SIP infrastructure allows users to \"call back\" an incoming call, configure this with a [SIP Domain](https://www.twilio.com/docs/voice/api/sending-sip) to ensure proper routing. If not configured, the from domain will default to \"sip.twilio.com\".",
                    "maxLength": 34,
                    "minLength": 34,
                    "pattern": "^SD[0-9a-fA-F]{32}$",
                    "type": "string"
                  },
                  "StatusCallbackMethod": {
                    "description": "The HTTP method we should use to call `status_callback_url`. Can be: `GET` or `POST`.",
                    "enum": [
                      "HEAD",
                      "GET",
                      "POST",
                      "PATCH",
                      "PUT",
                      "DELETE"
                    ],
                    "format": "http-method",
                    "type": "string"
                  },
                  "StatusCallbackUrl": {
                    "description": "The URL that we should call to pass status parameters (such as call ended) to your application.",
                    "format": "uri",
                    "type": "string"
                  },
                  "VoiceFallbackMethod": {
                    "description": "The HTTP method we should use to call `voice_fallback_url`. Can be: `GET` or `POST`.",
                    "enum": [
                      "HEAD",
                      "GET",
                      "POST",
                      "PATCH",
                      "PUT",
                      "DELETE"
                    ],
                    "format": "http-method",
                    "type": "string"
                  },
                  "VoiceFallbackUrl": {
                    "description": "The URL that we should call when an error occurs while retrieving or executing the TwiML requested by `voice_url`.",
                    "format": "uri",
                    "type": "string"
                  },
                  "VoiceMethod": {
                    "description": "The HTTP method we should use to call `voice_url`",
                    "enum": [
                      "HEAD",
                      "GET",
                      "POST",
                      "PATCH",
                      "PUT",
                      "DELETE"
                    ],
                    "format": "http-method",
                    "type": "string"
                  },
                  "VoiceUrl": {
                    "description": "The URL we should call when the BYOC Trunk receives a call.",
                    "format": "uri",
                    "type": "string"
                  }
                },
                "title": "UpdateByocTrunkRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/voice.v1.byoc_trunk"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://voice.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "friendly_name",
          "voice_url"
        ],
        "pathType": "instance"
      }
    },
    "/v1/ConnectionPolicies": {
      "description": "Connection Policy for sending traffic to your communications infrastructure.",
      "get": {
        "description": "",
        "operationId": "ListConnectionPolicy",
        "parameters": [
          {
            "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
            "in": "query",
            "name": "PageSize",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The page index. This value is simply for client state.",
            "in": "query",
            "name": "Page",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "The page token. This is provided by the API.",
            "in": "query",
            "name": "PageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "connection_policies": {
                      "items": {
                        "$ref": "#/components/schemas/voice.v1.connection_policy"
                      },
                      "type": "array"
                    },
                    "meta": {
                      "properties": {
                        "first_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        },
                        "next_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "url": {
                          "format": "uri",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "title": "ListConnectionPolicyResponse",
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "post": {
        "description": "",
        "operationId": "CreateConnectionPolicy",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "FriendlyName": {
                    "description": "A descriptive string that you create to describe the resource. It is not unique and can be up to 255 characters long.",
                    "type": "string"
                  }
                },
                "title": "CreateConnectionPolicyRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/voice.v1.connection_policy"
                }
              }
            },
            "description": "Created"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://voice.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "friendly_name"
        ],
        "pathType": "list"
      }
    },
    "/v1/ConnectionPolicies/{ConnectionPolicySid}/Targets": {
      "description": "Network element entry points into your communications infrastructure",
      "get": {
        "description": "",
        "operationId": "ListConnectionPolicyTarget",
        "parameters": [
          {
            "description": "The SID of the Connection Policy from which to read the Targets.",
            "in": "path",
            "name": "ConnectionPolicySid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^NY[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
            "in": "query",
            "name": "PageSize",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The page index. This value is simply for client state.",
            "in": "query",
            "name": "Page",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "The page token. This is provided by the API.",
            "in": "query",
            "name": "PageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "meta": {
                      "properties": {
                        "first_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        },
                        "next_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "url": {
                          "format": "uri",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "targets": {
                      "items": {
                        "$ref": "#/components/schemas/voice.v1.connection_policy.connection_policy_target"
                      },
                      "type": "array"
                    }
                  },
                  "title": "ListConnectionPolicyTargetResponse",
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "post": {
        "description": "",
        "operationId": "CreateConnectionPolicyTarget",
        "parameters": [
          {
            "description": "The SID of the Connection Policy that owns the Target.",
            "in": "path",
            "name": "ConnectionPolicySid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^NY[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "Enabled": {
                    "description": "Whether the Target is enabled. The default is `true`.",
                    "type": "boolean"
                  },
                  "FriendlyName": {
                    "description": "A descriptive string that you create to describe the resource. It is not unique and can be up to 255 characters long.",
                    "type": "string"
                  },
                  "Priority": {
                    "description": "The relative importance of the target. Can be an integer from 0 to 65535, inclusive, and the default is 10. The lowest number represents the most important target.",
                    "type": "integer"
                  },
                  "Target": {
                    "description": "The SIP address you want Twilio to route your calls to. This must be a `sip:` schema. `sips` is NOT supported.",
                    "format": "uri",
                    "type": "string"
                  },
                  "Weight": {
                    "description": "The value that determines the relative share of the load the Target should receive compared to other Targets with the same priority. Can be an integer from 1 to 65535, inclusive, and the default is 10. Targets with higher values receive more load than those with lower ones with the same priority.",
                    "type": "integer"
                  }
                },
                "required": [
                  "Target"
                ],
                "title": "CreateConnectionPolicyTargetRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/voice.v1.connection_policy.connection_policy_target"
                }
              }
            },
            "description": "Created"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://voice.twilio.com"
        }
      ],
      "x-twilio": {
        "className": "connection_policy_target",
        "defaultOutputProperties": [
          "sid",
          "friendly_name",
          "target",
          "enabled"
        ],
        "parent": "/ConnectionPolicies/{Sid}",
        "pathType": "list"
      }
    },
    "/v1/ConnectionPolicies/{ConnectionPolicySid}/Targets/{Sid}": {
      "delete": {
        "description": "",
        "operationId": "DeleteConnectionPolicyTarget",
        "parameters": [
          {
            "description": "The SID of the Connection Policy that owns the Target.",
            "in": "path",
            "name": "ConnectionPolicySid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^NY[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "The unique string that we created to identify the Target resource to delete.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^NE[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "description": "Network element entry points into your communications infrastructure",
      "get": {
        "description": "",
        "operationId": "FetchConnectionPolicyTarget",
        "parameters": [
          {
            "description": "The SID of the Connection Policy that owns the Target.",
            "in": "path",
            "name": "ConnectionPolicySid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^NY[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "The unique string that we created to identify the Target resource to fetch.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^NE[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/voice.v1.connection_policy.connection_policy_target"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "post": {
        "description": "",
        "operationId": "UpdateConnectionPolicyTarget",
        "parameters": [
          {
            "description": "The SID of the Connection Policy that owns the Target.",
            "in": "path",
            "name": "ConnectionPolicySid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^NY[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "The unique string that we created to identify the Target resource to update.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^NE[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "Enabled": {
                    "description": "Whether the Target is enabled.",
                    "type": "boolean"
                  },
                  "FriendlyName": {
                    "description": "A descriptive string that you create to describe the resource. It is not unique and can be up to 255 characters long.",
                    "type": "string"
                  },
                  "Priority": {
                    "description": "The relative importance of the target. Can be an integer from 0 to 65535, inclusive. The lowest number represents the most important target.",
                    "type": "integer"
                  },
                  "Target": {
                    "description": "The SIP address you want Twilio to route your calls to. This must be a `sip:` schema. `sips` is NOT supported.",
                    "format": "uri",
                    "type": "string"
                  },
                  "Weight": {
                    "description": "The value that determines the relative share of the load the Target should receive compared to other Targets with the same priority. Can be an integer from 1 to 65535, inclusive. Targets with higher values receive more load than those with lower ones with the same priority.",
                    "type": "integer"
                  }
                },
                "title": "UpdateConnectionPolicyTargetRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/voice.v1.connection_policy.connection_policy_target"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://voice.twilio.com"
        }
      ],
      "x-twilio": {
        "className": "connection_policy_target",
        "defaultOutputProperties": [
          "sid",
          "friendly_name",
          "target",
          "enabled"
        ],
        "parent": "/ConnectionPolicies/{Sid}",
        "pathType": "instance"
      }
    },
    "/v1/ConnectionPolicies/{Sid}": {
      "delete": {
        "description": "",
        "operationId": "DeleteConnectionPolicy",
        "parameters": [
          {
            "description": "The unique string that we created to identify the Connection Policy resource to delete.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^NY[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "description": "Connection Policy for sending traffic to your communications infrastructure.",
      "get": {
        "description": "",
        "operationId": "FetchConnectionPolicy",
        "parameters": [
          {
            "description": "The unique string that we created to identify the Connection Policy resource to fetch.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^NY[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/voice.v1.connection_policy"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "post": {
        "description": "",
        "operationId": "UpdateConnectionPolicy",
        "parameters": [
          {
            "description": "The unique string that we created to identify the Connection Policy resource to update.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^NY[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "FriendlyName": {
                    "description": "A descriptive string that you create to describe the resource. It is not unique and can be up to 255 characters long.",
                    "type": "string"
                  }
                },
                "title": "UpdateConnectionPolicyRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/voice.v1.connection_policy"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://voice.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "friendly_name"
        ],
        "pathType": "instance"
      }
    },
    "/v1/DialingPermissions": {
      "description": "TODO: Resource-level docs",
      "servers": [
        {
          "url": "https://voice.twilio.com"
        }
      ],
      "x-twilio": {
        "className": "dialing_permissions",
        "defaultOutputProperties": [],
        "pathType": "list"
      }
    },
    "/v1/DialingPermissions/BulkCountryUpdates": {
      "description": "TODO: Resource-level docs",
      "post": {
        "description": "Create a bulk update request to change voice dialing country permissions of one or more countries identified by the corresponding [ISO country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)",
        "operationId": "CreateDialingPermissionsCountryBulkUpdate",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "UpdateRequest": {
                    "description": "URL encoded JSON array of update objects. example : `[ { \"iso_code\": \"GB\", \"low_risk_numbers_enabled\": \"true\", \"high_risk_special_numbers_enabled\":\"true\", \"high_risk_tollfraud_numbers_enabled\": \"false\" } ]`",
                    "type": "string"
                  }
                },
                "required": [
                  "UpdateRequest"
                ],
                "title": "CreateDialingPermissionsCountryBulkUpdateRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/voice.v1.dialing_permissions.dialing_permissions_country_bulk_update"
                }
              }
            },
            "description": "Created"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "Preview"
        ]
      },
      "servers": [
        {
          "url": "https://voice.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "update_request",
          "update_count"
        ],
        "parent": "/DialingPermissions",
        "pathType": "list"
      }
    },
    "/v1/DialingPermissions/Countries": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "Retrieve all voice dialing country permissions for this account",
        "operationId": "ListDialingPermissionsCountry",
        "parameters": [
          {
            "description": "Filter to retrieve the country permissions by specifying the [ISO country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)",
            "in": "query",
            "name": "IsoCode",
            "schema": {
              "format": "iso-country-code",
              "type": "string"
            }
          },
          {
            "description": "Filter to retrieve the country permissions by specifying the continent",
            "in": "query",
            "name": "Continent",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter the results by specified [country codes](https://www.itu.int/itudoc/itu-t/ob-lists/icc/e164_763.html)",
            "in": "query",
            "name": "CountryCode",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter to retrieve the country permissions with dialing to low-risk numbers enabled. Can be: `true` or `false`.",
            "in": "query",
            "name": "LowRiskNumbersEnabled",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Filter to retrieve the country permissions with dialing to high-risk special service numbers enabled. Can be: `true` or `false`",
            "in": "query",
            "name": "HighRiskSpecialNumbersEnabled",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Filter to retrieve the country permissions with dialing to high-risk [toll fraud](https://www.twilio.com/learn/voice-and-video/toll-fraud) numbers enabled. Can be: `true` or `false`.",
            "in": "query",
            "name": "HighRiskTollfraudNumbersEnabled",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
            "in": "query",
            "name": "PageSize",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The page index. This value is simply for client state.",
            "in": "query",
            "name": "Page",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "The page token. This is provided by the API.",
            "in": "query",
            "name": "PageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "content": {
                      "items": {
                        "$ref": "#/components/schemas/voice.v1.dialing_permissions.dialing_permissions_country"
                      },
                      "type": "array"
                    },
                    "meta": {
                      "properties": {
                        "first_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        },
                        "next_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "url": {
                          "format": "uri",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "title": "ListDialingPermissionsCountryResponse",
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "Preview"
        ]
      },
      "servers": [
        {
          "url": "https://voice.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "iso_code",
          "name",
          "continent"
        ],
        "parent": "/DialingPermissions",
        "pathType": "list"
      }
    },
    "/v1/DialingPermissions/Countries/{IsoCode}": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "Retrieve voice dialing country permissions identified by the given ISO country code",
        "operationId": "FetchDialingPermissionsCountry",
        "parameters": [
          {
            "description": "The [ISO country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) of the DialingPermissions Country resource to fetch",
            "in": "path",
            "name": "IsoCode",
            "required": true,
            "schema": {
              "format": "iso-country-code",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/voice.v1.dialing_permissions.dialing_permissions_country-instance"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "Preview"
        ]
      },
      "servers": [
        {
          "url": "https://voice.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "iso_code",
          "name",
          "continent"
        ],
        "parent": "/DialingPermissions",
        "pathType": "instance"
      }
    },
    "/v1/DialingPermissions/Countries/{IsoCode}/HighRiskSpecialPrefixes": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "Fetch the high-risk special services prefixes from the country resource corresponding to the [ISO country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)",
        "operationId": "ListDialingPermissionsHrsPrefixes",
        "parameters": [
          {
            "description": "The [ISO 3166-1 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) to identify the country permissions from which high-risk special service number prefixes are fetched",
            "in": "path",
            "name": "IsoCode",
            "required": true,
            "schema": {
              "format": "iso-country-code",
              "type": "string"
            }
          },
          {
            "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
            "in": "query",
            "name": "PageSize",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The page index. This value is simply for client state.",
            "in": "query",
            "name": "Page",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "The page token. This is provided by the API.",
            "in": "query",
            "name": "PageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "content": {
                      "items": {
                        "$ref": "#/components/schemas/voice.v1.dialing_permissions.dialing_permissions_country.dialing_permissions_hrs_prefixes"
                      },
                      "type": "array"
                    },
                    "meta": {
                      "properties": {
                        "first_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        },
                        "next_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "url": {
                          "format": "uri",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "title": "ListDialingPermissionsHrsPrefixesResponse",
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "Preview"
        ]
      },
      "servers": [
        {
          "url": "https://voice.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "prefix"
        ],
        "mountName": "highrisk_special_prefixes",
        "parent": "/DialingPermissions/Countries/{IsoCode}",
        "pathType": "list"
      }
    },
    "/v1/IpRecords": {
      "description": "IP Records hold information about the IP addresses and ranges ([CIDR](https://tools.ietf.org/html/rfc4632) blocks) that your traffic will be associated with.",
      "get": {
        "description": "",
        "operationId": "ListIpRecord",
        "parameters": [
          {
            "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
            "in": "query",
            "name": "PageSize",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The page index. This value is simply for client state.",
            "in": "query",
            "name": "Page",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "The page token. This is provided by the API.",
            "in": "query",
            "name": "PageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "ip_records": {
                      "items": {
                        "$ref": "#/components/schemas/voice.v1.ip_record"
                      },
                      "type": "array"
                    },
                    "meta": {
                      "properties": {
                        "first_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        },
                        "next_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "url": {
                          "format": "uri",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "title": "ListIpRecordResponse",
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "post": {
        "description": "",
        "operationId": "CreateIpRecord",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "CidrPrefixLength": {
                    "description": "An integer representing the length of the [CIDR](https://tools.ietf.org/html/rfc4632) prefix to use with this IP address. By default the entire IP address is used, which for IPv4 is value 32.",
                    "type": "integer"
                  },
                  "FriendlyName": {
                    "description": "A descriptive string that you create to describe the resource. It is not unique and can be up to 255 characters long.",
                    "type": "string"
                  },
                  "IpAddress": {
                    "description": "An IP address in dotted decimal notation, IPv4 only.",
                    "type": "string"
                  }
                },
                "required": [
                  "IpAddress"
                ],
                "title": "CreateIpRecordRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/voice.v1.ip_record"
                }
              }
            },
            "description": "Created"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://voice.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "friendly_name",
          "ip_address",
          "cidr_prefix_length"
        ],
        "pathType": "list"
      }
    },
    "/v1/IpRecords/{Sid}": {
      "delete": {
        "description": "",
        "operationId": "DeleteIpRecord",
        "parameters": [
          {
            "description": "The Twilio-provided string that uniquely identifies the IP Record resource to delete.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IL[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "description": "IP Records hold information about the IP addresses and ranges ([CIDR](https://tools.ietf.org/html/rfc4632) blocks) that your traffic will be associated with.",
      "get": {
        "description": "",
        "operationId": "FetchIpRecord",
        "parameters": [
          {
            "description": "The Twilio-provided string that uniquely identifies the IP Record resource to fetch.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IL[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/voice.v1.ip_record"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "post": {
        "description": "",
        "operationId": "UpdateIpRecord",
        "parameters": [
          {
            "description": "The Twilio-provided string that uniquely identifies the IP Record resource to update.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IL[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "FriendlyName": {
                    "description": "A descriptive string that you create to describe the resource. It is not unique and can be up to 255 characters long.",
                    "type": "string"
                  }
                },
                "title": "UpdateIpRecordRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/voice.v1.ip_record"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://voice.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "friendly_name",
          "ip_address",
          "cidr_prefix_length"
        ],
        "pathType": "instance"
      }
    },
    "/v1/Settings": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "Retrieve voice dialing permissions inheritance for the sub-account",
        "operationId": "FetchDialingPermissionsSettings",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/voice.v1.dialing_permissions.dialing_permissions_settings"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "Preview"
        ]
      },
      "post": {
        "description": "Update voice dialing permissions inheritance for the sub-account",
        "operationId": "UpdateDialingPermissionsSettings",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "DialingPermissionsInheritance": {
                    "description": "`true` for the sub-account to inherit voice dialing permissions from the Master Project; otherwise `false`.",
                    "type": "boolean"
                  }
                },
                "title": "UpdateDialingPermissionsSettingsRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/voice.v1.dialing_permissions.dialing_permissions_settings"
                }
              }
            },
            "description": "Accepted"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "Preview"
        ]
      },
      "servers": [
        {
          "url": "https://voice.twilio.com"
        }
      ],
      "x-twilio": {
        "className": "settings",
        "defaultOutputProperties": [
          "dialing_permissions_inheritance"
        ],
        "parent": "/DialingPermissions",
        "pathType": "instance"
      }
    },
    "/v1/SourceIpMappings": {
      "description": "With Source IP Mappings, Twilio can recognize your SIP requests based on where they are sent from. The Request-URI no longer has to have the FQDN (Fully Qualified Domain Name) of your SIP Domain.",
      "get": {
        "description": "",
        "operationId": "ListSourceIpMapping",
        "parameters": [
          {
            "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
            "in": "query",
            "name": "PageSize",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The page index. This value is simply for client state.",
            "in": "query",
            "name": "Page",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "The page token. This is provided by the API.",
            "in": "query",
            "name": "PageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "meta": {
                      "properties": {
                        "first_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        },
                        "next_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "url": {
                          "format": "uri",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "source_ip_mappings": {
                      "items": {
                        "$ref": "#/components/schemas/voice.v1.source_ip_mapping"
                      },
                      "type": "array"
                    }
                  },
                  "title": "ListSourceIpMappingResponse",
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "post": {
        "description": "",
        "operationId": "CreateSourceIpMapping",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "IpRecordSid": {
                    "description": "The Twilio-provided string that uniquely identifies the IP Record resource to map from.",
                    "maxLength": 34,
                    "minLength": 34,
                    "pattern": "^IL[0-9a-fA-F]{32}$",
                    "type": "string"
                  },
                  "SipDomainSid": {
                    "description": "The SID of the SIP Domain that the IP Record should be mapped to.",
                    "maxLength": 34,
                    "minLength": 34,
                    "pattern": "^SD[0-9a-fA-F]{32}$",
                    "type": "string"
                  }
                },
                "required": [
                  "IpRecordSid",
                  "SipDomainSid"
                ],
                "title": "CreateSourceIpMappingRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/voice.v1.source_ip_mapping"
                }
              }
            },
            "description": "Created"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://voice.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "ip_record_sid",
          "sip_domain_sid"
        ],
        "pathType": "list"
      }
    },
    "/v1/SourceIpMappings/{Sid}": {
      "delete": {
        "description": "",
        "operationId": "DeleteSourceIpMapping",
        "parameters": [
          {
            "description": "The Twilio-provided string that uniquely identifies the IP Record resource to delete.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IB[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "description": "With Source IP Mappings, Twilio can recognize your SIP requests based on where they are sent from. The Request-URI no longer has to have the FQDN (Fully Qualified Domain Name) of your SIP Domain.",
      "get": {
        "description": "",
        "operationId": "FetchSourceIpMapping",
        "parameters": [
          {
            "description": "The Twilio-provided string that uniquely identifies the IP Record resource to fetch.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IB[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/voice.v1.source_ip_mapping"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "post": {
        "description": "",
        "operationId": "UpdateSourceIpMapping",
        "parameters": [
          {
            "description": "The Twilio-provided string that uniquely identifies the IP Record resource to update.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IB[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "SipDomainSid": {
                    "description": "The SID of the SIP Domain that the IP Record should be mapped to.",
                    "maxLength": 34,
                    "minLength": 34,
                    "pattern": "^SD[0-9a-fA-F]{32}$",
                    "type": "string"
                  }
                },
                "required": [
                  "SipDomainSid"
                ],
                "title": "UpdateSourceIpMappingRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/voice.v1.source_ip_mapping"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://voice.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "ip_record_sid",
          "sip_domain_sid"
        ],
        "pathType": "instance"
      }
    }
  },
  "components": {
    "schemas": {
      "voice.v1.archived_call": {
        "properties": {
          "date": {
            "description": "The date",
            "format": "date",
            "nullable": true,
            "type": "string"
          },
          "sid": {
            "description": "The call sid",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^CA[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "url": {
            "description": "The absolute URL of the resource.",
            "format": "uri",
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "voice.v1.byoc_trunk": {
        "properties": {
          "account_sid": {
            "description": "The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the BYOC Trunk resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^AC[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "cnam_lookup_enabled": {
            "description": "Whether Caller ID Name (CNAM) lookup is enabled for the trunk. If enabled, all inbound calls to the BYOC Trunk from the United States and Canada automatically perform a CNAM Lookup and display Caller ID data on your phone. See [CNAM Lookups](https://www.twilio.com/docs/sip-trunking#CNAM) for more information.",
            "nullable": true,
            "type": "boolean"
          },
          "connection_policy_sid": {
            "description": "The SID of the Connection Policy that Twilio will use when routing traffic to your communications infrastructure.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^NY[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "date_created": {
            "description": "The date and time in GMT that the resource was created specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "date_updated": {
            "description": "The date and time in GMT that the resource was last updated specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "friendly_name": {
            "description": "The string that you assigned to describe the resource.",
            "nullable": true,
            "type": "string"
          },
          "from_domain_sid": {
            "description": "The SID of the SIP Domain that should be used in the `From` header of originating calls sent to your SIP infrastructure. If your SIP infrastructure allows users to \"call back\" an incoming call, configure this with a [SIP Domain](https://www.twilio.com/docs/voice/api/sending-sip) to ensure proper routing. If not configured, the from domain will default to \"sip.twilio.com\".",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^SD[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "sid": {
            "description": "The unique string that that we created to identify the BYOC Trunk resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^BY[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "status_callback_method": {
            "description": "The HTTP method we use to call `status_callback_url`. Either `GET` or `POST`.",
            "enum": [
              "HEAD",
              "GET",
              "POST",
              "PATCH",
              "PUT",
              "DELETE"
            ],
            "format": "http-method",
            "nullable": true,
            "type": "string"
          },
          "status_callback_url": {
            "description": "The URL that we call to pass status parameters (such as call ended) to your application.",
            "format": "uri",
            "nullable": true,
            "type": "string"
          },
          "url": {
            "description": "The absolute URL of the resource.",
            "format": "uri",
            "nullable": true,
            "type": "string"
          },
          "voice_fallback_method": {
            "description": "The HTTP method we use to call `voice_fallback_url`. Can be: `GET` or `POST`.",
            "enum": [
              "HEAD",
              "GET",
              "POST",
              "PATCH",
              "PUT",
              "DELETE"
            ],
            "format": "http-method",
            "nullable": true,
            "type": "string"
          },
          "voice_fallback_url": {
            "description": "The URL that we call when an error occurs while retrieving or executing the TwiML requested from `voice_url`.",
            "format": "uri",
            "nullable": true,
            "type": "string"
          },
          "voice_method": {
            "description": "The HTTP method we use to call `voice_url`. Can be: `GET` or `POST`.",
            "enum": [
              "HEAD",
              "GET",
              "POST",
              "PATCH",
              "PUT",
              "DELETE"
            ],
            "format": "http-method",
            "nullable": true,
            "type": "string"
          },
          "voice_url": {
            "description": "The URL we call using the `voice_method` when the BYOC Trunk receives a call.",
            "format": "uri",
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "voice.v1.connection_policy": {
        "properties": {
          "account_sid": {
            "description": "The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Connection Policy resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^AC[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "date_created": {
            "description": "The date and time in GMT when the resource was created specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "date_updated": {
            "description": "The date and time in GMT when the resource was last updated specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "friendly_name": {
            "description": "The string that you assigned to describe the resource.",
            "nullable": true,
            "type": "string"
          },
          "links": {
            "description": "The URLs of related resources.",
            "format": "uri-map",
            "nullable": true,
            "type": "object"
          },
          "sid": {
            "description": "The unique string that we created to identify the Connection Policy resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^NY[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "url": {
            "description": "The absolute URL of the resource.",
            "format": "uri",
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "voice.v1.connection_policy.connection_policy_target": {
        "properties": {
          "account_sid": {
            "description": "The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Target resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^AC[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "connection_policy_sid": {
            "description": "The SID of the Connection Policy that owns the Target.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^NY[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "date_created": {
            "description": "The date and time in GMT when the resource was created specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "date_updated": {
            "description": "The date and time in GMT when the resource was last updated specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "enabled": {
            "description": "Whether the target is enabled. The default is `true`.",
            "nullable": true,
            "type": "boolean"
          },
          "friendly_name": {
            "description": "The string that you assigned to describe the resource.",
            "nullable": true,
            "type": "string"
          },
          "priority": {
            "description": "The relative importance of the target. Can be an integer from 0 to 65535, inclusive, and the default is 10. The lowest number represents the most important target.",
            "nullable": true,
            "type": "integer"
          },
          "sid": {
            "description": "The unique string that we created to identify the Target resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^NE[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "target": {
            "description": "The SIP address you want Twilio to route your calls to. This must be a `sip:` schema. `sips` is NOT supported.",
            "format": "uri",
            "nullable": true,
            "type": "string"
          },
          "url": {
            "description": "The absolute URL of the resource.",
            "format": "uri",
            "nullable": true,
            "type": "string"
          },
          "weight": {
            "description": "The value that determines the relative share of the load the Target should receive compared to other Targets with the same priority. Can be an integer from 1 to 65535, inclusive, and the default is 10. Targets with higher values receive more load than those with lower ones with the same priority.",
            "nullable": true,
            "type": "integer"
          }
        },
        "type": "object"
      },
      "voice.v1.dialing_permissions": {
        "properties": {},
        "type": "object"
      },
      "voice.v1.dialing_permissions.dialing_permissions_country": {
        "properties": {
          "continent": {
            "description": "The name of the continent in which the country is located.",
            "nullable": true,
            "type": "string"
          },
          "country_codes": {
            "description": "The E.164 assigned [country codes(s)](https://www.itu.int/itudoc/itu-t/ob-lists/icc/e164_763.html)",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "type": "array"
          },
          "high_risk_special_numbers_enabled": {
            "description": "Whether dialing to high-risk special services numbers is enabled. These prefixes include number ranges allocated by the country and include premium numbers, special services, shared cost, and others",
            "nullable": true,
            "type": "boolean"
          },
          "high_risk_tollfraud_numbers_enabled": {
            "description": "Whether dialing to high-risk [toll fraud](https://www.twilio.com/learn/voice-and-video/toll-fraud) numbers is enabled. These prefixes include narrow number ranges that have a high-risk of international revenue sharing fraud (IRSF) attacks, also known as [toll fraud](https://www.twilio.com/learn/voice-and-video/toll-fraud). These prefixes are collected from anti-fraud databases and verified by analyzing calls on our network. These prefixes are not available for download and are updated frequently",
            "nullable": true,
            "type": "boolean"
          },
          "iso_code": {
            "description": "The [ISO country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).",
            "format": "iso-country-code",
            "nullable": true,
            "type": "string"
          },
          "links": {
            "description": "A list of URLs related to this resource.",
            "format": "uri-map",
            "nullable": true,
            "type": "object"
          },
          "low_risk_numbers_enabled": {
            "description": "Whether dialing to low-risk numbers is enabled.",
            "nullable": true,
            "type": "boolean"
          },
          "name": {
            "description": "The name of the country.",
            "nullable": true,
            "type": "string"
          },
          "url": {
            "description": "The absolute URL of this resource.",
            "format": "uri",
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "voice.v1.dialing_permissions.dialing_permissions_country-instance": {
        "properties": {
          "continent": {
            "description": "The name of the continent in which the country is located.",
            "nullable": true,
            "type": "string"
          },
          "country_codes": {
            "description": "The E.164 assigned [country codes(s)](https://www.itu.int/itudoc/itu-t/ob-lists/icc/e164_763.html)",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "type": "array"
          },
          "high_risk_special_numbers_enabled": {
            "description": "Whether dialing to high-risk special services numbers is enabled. These prefixes include number ranges allocated by the country and include premium numbers, special services, shared cost, and others",
            "nullable": true,
            "type": "boolean"
          },
          "high_risk_tollfraud_numbers_enabled": {
            "description": "Whether dialing to high-risk [toll fraud](https://www.twilio.com/learn/voice-and-video/toll-fraud) numbers is enabled. These prefixes include narrow number ranges that have a high-risk of international revenue sharing fraud (IRSF) attacks, also known as [toll fraud](https://www.twilio.com/learn/voice-and-video/toll-fraud). These prefixes are collected from anti-fraud databases and verified by analyzing calls on our network. These prefixes are not available for download and are updated frequently",
            "nullable": true,
            "type": "boolean"
          },
          "iso_code": {
            "description": "The [ISO country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).",
            "format": "iso-country-code",
            "nullable": true,
            "type": "string"
          },
          "links": {
            "description": "A list of URLs related to this resource.",
            "format": "uri-map",
            "nullable": true,
            "type": "object"
          },
          "low_risk_numbers_enabled": {
            "description": "Whether dialing to low-risk numbers is enabled.",
            "nullable": true,
            "type": "boolean"
          },
          "name": {
            "description": "The name of the country.",
            "nullable": true,
            "type": "string"
          },
          "url": {
            "description": "The absolute URL of this resource.",
            "format": "uri",
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "voice.v1.dialing_permissions.dialing_permissions_country.dialing_permissions_hrs_prefixes": {
        "properties": {
          "prefix": {
            "description": "A prefix is a contiguous number range for a block of E.164 numbers that includes the E.164 assigned country code. For example, a North American Numbering Plan prefix like `+1510720` written like `+1(510) 720` matches all numbers inclusive from `+1(510) 720-0000` to `+1(510) 720-9999`.",
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "voice.v1.dialing_permissions.dialing_permissions_country_bulk_update": {
        "properties": {
          "update_count": {
            "description": "The number of countries updated",
            "nullable": true,
            "type": "integer"
          },
          "update_request": {
            "description": "A bulk update request to change voice dialing country permissions stored as a URL-encoded, JSON array of update objects. For example : `[ { \"iso_code\": \"GB\", \"low_risk_numbers_enabled\": \"true\", \"high_risk_special_numbers_enabled\":\"true\", \"high_risk_tollfraud_numbers_enabled\": \"false\" } ]`",
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "voice.v1.dialing_permissions.dialing_permissions_settings": {
        "properties": {
          "dialing_permissions_inheritance": {
            "description": "`true` if the sub-account will inherit voice dialing permissions from the Master Project; otherwise `false`.",
            "nullable": true,
            "type": "boolean"
          },
          "url": {
            "description": "The absolute URL of this resource.",
            "format": "uri",
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "voice.v1.ip_record": {
        "properties": {
          "account_sid": {
            "description": "The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the IP Record resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^AC[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "cidr_prefix_length": {
            "description": "An integer representing the length of the [CIDR](https://tools.ietf.org/html/rfc4632) prefix to use with this IP address. By default the entire IP address is used, which for IPv4 is value 32.",
            "nullable": true,
            "type": "integer"
          },
          "date_created": {
            "description": "The date and time in GMT that the resource was created specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "date_updated": {
            "description": "The date and time in GMT that the resource was last updated specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "friendly_name": {
            "description": "The string that you assigned to describe the resource.",
            "nullable": true,
            "type": "string"
          },
          "ip_address": {
            "description": "An IP address in dotted decimal notation, IPv4 only.",
            "nullable": true,
            "type": "string"
          },
          "sid": {
            "description": "The unique string that we created to identify the IP Record resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^IL[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "url": {
            "description": "The absolute URL of the resource.",
            "format": "uri",
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "voice.v1.source_ip_mapping": {
        "properties": {
          "date_created": {
            "description": "The date and time in GMT that the resource was created specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "date_updated": {
            "description": "The date and time in GMT that the resource was last updated specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "ip_record_sid": {
            "description": "The Twilio-provided string that uniquely identifies the IP Record resource to map from.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^IL[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "sid": {
            "description": "The unique string that we created to identify the IP Record resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^IB[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "sip_domain_sid": {
            "description": "The SID of the SIP Domain that the IP Record is mapped to.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^SD[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "url": {
            "description": "The absolute URL of the resource.",
            "format": "uri",
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "accountSid_authToken": {
        "scheme": "basic",
        "type": "http"
      }
    }
  },
  "x-maturity": [
    {
      "description": "This product is Generally Available.",
      "name": "GA"
    },
    {
      "description": "PLEASE NOTE that this is a Beta product that is subject to change. Use it with caution.",
      "name": "Beta"
    },
    {
      "description": "PLEASE NOTE that this is a Preview product that is subject to change. Use it with caution. If you currently do not have developer preview access, please contact help@twilio.com.",
      "name": "Preview"
    }
  ]
}