swagger: "2.0"
schemes:
  - https
host: api.salesloft.com
info:
  contact:
    email: integrations@salesloft.com
    x-twitter: SalesLoft
  description: >
    SalesLoft helps transform sales teams into modern sales
    organizations  - converting more target accounts into customer accounts
  title: SalesLoft Platform
  version: v2
  x-apisguru-categories:
    - customer_relation
  x-logo:
    url: https://twitter.com/SalesLoft/profile_image?size=original
  x-origin:
    - format: swagger
      url: https://developers.salesloft.com/v2_api_def.json
      version: "2.0"
  x-providerName: salesloft.com
securityDefinitions:
  OAuth2:
    flow: application
    scopes: {}
    tokenUrl: https://accounts.salesloft.com/oauth/token
    type: oauth2
    x-authorizationUrl: https://accounts.salesloft.com/oauth/authorize
tags:
  - description: User Information
    name: Me
  - description: Team Information
    name: Team
  - description: Account Management
    name: Accounts
  - description: Actions
    name: Actions
  - description: Actions - Call Instructions
    name: Action Details - Call Instructions
  - description: CRM Activity Management
    name: CRM Activities
  - description: Cadence Management
    name: Cadences
  - description: Cadence Membership
    name: Cadence Memberships
  - description: Call Data Record Management
    name: Call Data Records
  - description: Call Management
    name: Calls
  - description: Caller ID Information
    name: Caller IDs
  - description: Custom Field Management
    name: Custom Fields
  - description: Email Management
    name: Emails
  - description: Email Templates Management
    name: Email Templates
  - description: Import Management
    name: Imports
  - description: Note Management
    name: Notes
  - description: Person Management
    name: People
  - description: Person Stage Management
    name: Person Stages
  - description: Recording Settings Information
    name: Recording Settings
  - description: Steps
    name: Steps
  - description: Success Management
    name: Successes
  - description: Team Template Management
    name: Team Templates
  - description: User Management
    name: Users
paths:
  /v2/accounts.json:
    get:
      description: >
        Fetches multiple account records. The records can be filtered,
        paged, and sorted according to

        the respective parameters.
      parameters:
        - description: IDs of accounts to fetch. If a record can't be found, that record
            won't be returned and your request will be successful
          in: query
          items:
            type: integer
          name: ids
          required: false
          type: array
        - description: >
            Equality filters that are applied to the updated_at field. A single
            filter can be used by itself or combined with other filters to
            create a range.

            ---CUSTOM---

            {"type":"object","keys":[{"name":"gt","type":"iso8601 string","description":"Returns all matching records that are greater than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"gte","type":"iso8601 string","description":"Returns all matching records that are greater than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lt","type":"iso8601 string","description":"Returns all matching records that are less than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lte","type":"iso8601 string","description":"Returns all matching records that are less than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."}]}
          in: query
          items:
            type: string
          name: updated_at
          required: false
          type: array
        - description: Domain of the accounts to fetch. Domains are unique and lowercase
          in: query
          name: domain
          required: false
          type: string
        - description: "Key to sort on, must be one of: created_at, updated_at,
            last_contacted_at. Defaults to updated_at"
          in: query
          name: sort_by
          required: false
          type: string
        - description: "Direction to sort in, must be one of: ASC, DESC. Defaults to DESC"
          in: query
          name: sort_direction
          required: false
          type: string
        - description: How many records to show per page in the range [1, 100]. Defaults
            to 25
          in: query
          name: per_page
          required: false
          type: integer
        - description: The current page to fetch results from. Defaults to 1
          in: query
          name: page
          required: false
          type: integer
        - description: Whether to include total_pages and total_count in the metadata.
            Defaults to false
          in: query
          name: include_paging_counts
          required: false
          type: boolean
      responses:
        "200":
          description: Success
          schema:
            items:
              $ref: "#/definitions/Account"
            type: array
      summary: List accounts
      tags:
        - Accounts
    post:
      description: |
        Creates an account.

        "domain" must be unique on the current team.
      parameters:
        - description: Account Full Name
          in: formData
          name: name
          required: true
          type: string
        - description: Website domain, not a fully qualified URI
          in: formData
          name: domain
          required: true
          type: string
        - description: Conversational name of the Account
          in: formData
          name: conversational_name
          required: false
          type: string
        - description: Description
          in: formData
          name: description
          required: false
          type: string
        - description: Phone number without formatting
          in: formData
          name: phone
          required: false
          type: string
        - description: Website
          in: formData
          name: website
          required: false
          type: string
        - description: Full LinkedIn url
          in: formData
          name: linkedin_url
          required: false
          type: string
        - description: Twitter handle, with @
          in: formData
          name: twitter_handle
          required: false
          type: string
        - description: Street name and number
          in: formData
          name: street
          required: false
          type: string
        - description: City
          in: formData
          name: city
          required: false
          type: string
        - description: State
          in: formData
          name: state
          required: false
          type: string
        - description: Postal code
          in: formData
          name: postal_code
          required: false
          type: string
        - description: Country
          in: formData
          name: country
          required: false
          type: string
        - description: Time locale
          in: formData
          name: locale
          required: false
          type: string
        - description: Industry
          in: formData
          name: industry
          required: false
          type: string
        - description: Type of the Account's company
          in: formData
          name: company_type
          required: false
          type: string
        - description: Date or year of founding
          in: formData
          name: founded
          required: false
          type: string
        - description: Estimated revenue range
          in: formData
          name: revenue_range
          required: false
          type: string
        - description: Estimated number of people in employment
          in: formData
          name: size
          required: false
          type: string
        - description: Whether this company can not be contacted. Values are either true
            or false. Setting this to true will remove all associated people
            from all active communications
          in: formData
          name: do_not_contact
          required: false
          type: boolean
        - description: Custom fields are defined by the user's team. Only fields with
            values are presented in the API.
          in: formData
          items:
            type: string
          name: custom_fields
          required: false
          type: array
        - description: All tags applied to this Account
          in: formData
          items:
            type: string
          name: tags
          required: false
          type: array
        - description: ID of the User that owns this Account
          in: formData
          name: owner_id
          required: false
          type: integer
        - description: ID of the CompanyStage assigned to this Account
          in: formData
          name: company_stage_id
          required: false
          type: integer
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/Account"
      summary: Create an account
      tags:
        - Accounts
  "/v2/accounts/{id}.json":
    delete:
      description: >
        Deletes an account. This operation is not reversible without
        contacting support.

        This operation can be called multiple times successfully.


        Deleting an account will remove all connected people from that account.
      parameters:
        - description: Account ID
          in: path
          name: id
          required: true
          type: string
      responses:
        "204":
          description: The Account has been deleted successfully
      summary: Delete an account
      tags:
        - Accounts
    get:
      description: |
        Fetches an account, by ID only.
      parameters:
        - description: Account ID
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/Account"
      summary: Fetch an account
      tags:
        - Accounts
    put:
      description: |
        Updates an account.

        "domain" must be unique on the current team.
      parameters:
        - description: Account Full Name
          in: formData
          name: name
          required: true
          type: string
        - description: Website domain, not a fully qualified URI
          in: formData
          name: domain
          required: true
          type: string
        - description: Conversational name of the Account
          in: formData
          name: conversational_name
          required: false
          type: string
        - description: Description
          in: formData
          name: description
          required: false
          type: string
        - description: Phone number without formatting
          in: formData
          name: phone
          required: false
          type: string
        - description: Website
          in: formData
          name: website
          required: false
          type: string
        - description: Full LinkedIn url
          in: formData
          name: linkedin_url
          required: false
          type: string
        - description: Twitter handle, with @
          in: formData
          name: twitter_handle
          required: false
          type: string
        - description: Street name and number
          in: formData
          name: street
          required: false
          type: string
        - description: City
          in: formData
          name: city
          required: false
          type: string
        - description: State
          in: formData
          name: state
          required: false
          type: string
        - description: Postal code
          in: formData
          name: postal_code
          required: false
          type: string
        - description: Country
          in: formData
          name: country
          required: false
          type: string
        - description: Time locale
          in: formData
          name: locale
          required: false
          type: string
        - description: Industry
          in: formData
          name: industry
          required: false
          type: string
        - description: Type of the Account's company
          in: formData
          name: company_type
          required: false
          type: string
        - description: Date or year of founding
          in: formData
          name: founded
          required: false
          type: string
        - description: Estimated revenue range
          in: formData
          name: revenue_range
          required: false
          type: string
        - description: Estimated number of people in employment
          in: formData
          name: size
          required: false
          type: string
        - description: Whether this company can not be contacted. Values are either true
            or false. Setting this to true will remove all associated people
            from all active communications
          in: formData
          name: do_not_contact
          required: false
          type: boolean
        - description: Custom fields are defined by the user's team. Only fields with
            values are presented in the API.
          in: formData
          items:
            type: string
          name: custom_fields
          required: false
          type: array
        - description: All tags applied to this Account
          in: formData
          items:
            type: string
          name: tags
          required: false
          type: array
        - description: ID of the User that owns this Account
          in: formData
          name: owner_id
          required: false
          type: integer
        - description: ID of the CompanyStage assigned to this Account
          in: formData
          name: company_stage_id
          required: false
          type: integer
        - description: Account ID
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/Account"
      summary: Update an existing Account
      tags:
        - Accounts
  /v2/action_details/call_instructions.json:
    get:
      description: >
        Fetches multiple call instruction records. The records can be
        filtered, paged, and sorted according to

        the respective parameters.
      parameters:
        - description: IDs of call instructions to fetch.
          in: query
          items:
            type: integer
          name: ids
          required: false
          type: array
        - description: "Key to sort on, must be one of: created_at, updated_at. Defaults
            to updated_at"
          in: query
          name: sort_by
          required: false
          type: string
        - description: "Direction to sort in, must be one of: ASC, DESC. Defaults to DESC"
          in: query
          name: sort_direction
          required: false
          type: string
        - description: How many records to show per page in the range [1, 100]. Defaults
            to 25
          in: query
          name: per_page
          required: false
          type: integer
        - description: The current page to fetch results from. Defaults to 1
          in: query
          name: page
          required: false
          type: integer
        - description: Whether to include total_pages and total_count in the metadata.
            Defaults to false
          in: query
          name: include_paging_counts
          required: false
          type: boolean
      responses:
        "200":
          description: Success
          schema:
            items:
              $ref: "#/definitions/CallInstruction"
            type: array
      summary: List call instructions
      tags:
        - Action Details - Call Instructions
  "/v2/action_details/call_instructions/{id}.json":
    get:
      description: |
        Fetches a call instruction, by ID only.
      parameters:
        - description: Call instructions ID
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/CallInstruction"
      summary: Fetch a call instructions
      tags:
        - Action Details - Call Instructions
  /v2/actions.json:
    get:
      description: >
        Fetches multiple action records. The records can be filtered,
        paged, and sorted according to

        the respective parameters. Only actions that are currently "in_progess" will be returned by

        this endpoint.
      parameters:
        - description: IDs of actions to fetch.
          in: query
          items:
            type: integer
          name: ids
          required: false
          type: array
        - description: Fetch actions by step ID
          in: query
          name: step_id
          required: false
          type: integer
        - description: Filter actions by type
          in: query
          name: type
          required: false
          type: string
        - description: >
            Equality filters that are applied to the due_on field. A single
            filter can be used by itself or combined with other filters to
            create a range.

            ---CUSTOM---

            {"type":"object","keys":[{"name":"gt","type":"iso8601 string","description":"Returns all matching records that are greater than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"gte","type":"iso8601 string","description":"Returns all matching records that are greater than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lt","type":"iso8601 string","description":"Returns all matching records that are less than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lte","type":"iso8601 string","description":"Returns all matching records that are less than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."}]}
          in: query
          items:
            type: string
          name: due_on
          required: false
          type: array
        - description: "Key to sort on, must be one of: created_at, updated_at. Defaults
            to updated_at"
          in: query
          name: sort_by
          required: false
          type: string
        - description: "Direction to sort in, must be one of: ASC, DESC. Defaults to DESC"
          in: query
          name: sort_direction
          required: false
          type: string
        - description: How many records to show per page in the range [1, 100]. Defaults
            to 25
          in: query
          name: per_page
          required: false
          type: integer
        - description: The current page to fetch results from. Defaults to 1
          in: query
          name: page
          required: false
          type: integer
        - description: Whether to include total_pages and total_count in the metadata.
            Defaults to false
          in: query
          name: include_paging_counts
          required: false
          type: boolean
      responses:
        "200":
          description: Success
          schema:
            items:
              $ref: "#/definitions/Action"
            type: array
      summary: List actions
      tags:
        - Actions
  "/v2/actions/{id}.json":
    get:
      description: >
        Fetches an action, by ID only.

        This endpoint will only return actions that are in_progress or pending_activity.

        Once an action is complete, the request for that action will return a 404 status code.
      parameters:
        - description: Action ID
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/Action"
      summary: Fetch an action
      tags:
        - Actions
  /v2/activities/calls.json:
    get:
      description: >
        Fetches multiple call records. The records can be filtered, paged,
        and sorted according to

        the respective parameters.
      parameters:
        - description: IDs of calls to fetch. If a record can't be found, that record
            won't be returned and your request will be successful
          in: query
          items:
            type: integer
          name: ids
          required: false
          type: array
        - description: >
            Equality filters that are applied to the updated_at field. A single
            filter can be used by itself or combined with other filters to
            create a range.

            ---CUSTOM---

            {"type":"object","keys":[{"name":"gt","type":"iso8601 string","description":"Returns all matching records that are greater than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"gte","type":"iso8601 string","description":"Returns all matching records that are greater than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lt","type":"iso8601 string","description":"Returns all matching records that are less than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lte","type":"iso8601 string","description":"Returns all matching records that are less than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."}]}
          in: query
          items:
            type: string
          name: updated_at
          required: false
          type: array
        - description: "Key to sort on, must be one of: created_at, updated_at. Defaults
            to updated_at"
          in: query
          name: sort_by
          required: false
          type: string
        - description: "Direction to sort in, must be one of: ASC, DESC. Defaults to DESC"
          in: query
          name: sort_direction
          required: false
          type: string
        - description: How many records to show per page in the range [1, 100]. Defaults
            to 25
          in: query
          name: per_page
          required: false
          type: integer
        - description: The current page to fetch results from. Defaults to 1
          in: query
          name: page
          required: false
          type: integer
        - description: Whether to include total_pages and total_count in the metadata.
            Defaults to false
          in: query
          name: include_paging_counts
          required: false
          type: boolean
      responses:
        "200":
          description: Success
          schema:
            items:
              $ref: "#/definitions/Call"
            type: array
      summary: List calls
      tags:
        - Calls
  "/v2/activities/calls/{id}.json":
    get:
      description: |
        Fetches a call, by ID only.
      parameters:
        - description: Call ID
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/Call"
      summary: Fetch a call
      tags:
        - Calls
  /v2/activities/emails.json:
    get:
      description: >
        Fetches multiple email records. The records can be filtered, paged,
        and sorted according to

        the respective parameters.
      parameters:
        - description: IDs of emails to fetch. If a record can't be found, that record
            won't be returned and your request will be successful
          in: query
          items:
            type: integer
          name: ids
          required: false
          type: array
        - description: >
            Equality filters that are applied to the updated_at field. A single
            filter can be used by itself or combined with other filters to
            create a range.

            ---CUSTOM---

            {"type":"object","keys":[{"name":"gt","type":"iso8601 string","description":"Returns all matching records that are greater than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"gte","type":"iso8601 string","description":"Returns all matching records that are greater than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lt","type":"iso8601 string","description":"Returns all matching records that are less than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lte","type":"iso8601 string","description":"Returns all matching records that are less than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."}]}
          in: query
          items:
            type: string
          name: updated_at
          required: false
          type: array
        - description: Filters emails by whether they have bounced or not
          in: query
          name: bounced
          required: false
          type: boolean
        - description: "Key to sort on, must be one of: updated_at. Defaults to updated_at"
          in: query
          name: sort_by
          required: false
          type: string
        - description: "Direction to sort in, must be one of: ASC, DESC. Defaults to DESC"
          in: query
          name: sort_direction
          required: false
          type: string
        - description: How many records to show per page in the range [1, 100]. Defaults
            to 25
          in: query
          name: per_page
          required: false
          type: integer
        - description: The current page to fetch results from. Defaults to 1
          in: query
          name: page
          required: false
          type: integer
        - description: Whether to include total_pages and total_count in the metadata.
            Defaults to false
          in: query
          name: include_paging_counts
          required: false
          type: boolean
      responses:
        "200":
          description: Success
          schema:
            items:
              $ref: "#/definitions/Email"
            type: array
      summary: List emails
      tags:
        - Emails
  "/v2/activities/emails/{id}.json":
    get:
      description: |
        Fetches an email, by ID only.
      parameters:
        - description: Email ID
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/Email"
      summary: Fetch an email
      tags:
        - Emails
  /v2/cadence_memberships.json:
    get:
      description: >
        Fetches multiple cadence membership records. The records can be
        filtered, paged, and sorted according to

        the respective parameters. A cadence membership is the association between a person and their current and

        historical time on a cadence. Cadence membership records are mutable and change over time. If a person is

        added to a cadence and re-added to the same cadence in the future, there is a single membership record.
      parameters:
        - description: IDs of cadence memberships to fetch. If a record can't be found,
            that record won't be returned and your request will be successful
          in: query
          items:
            type: integer
          name: ids
          required: false
          type: array
        - description: ID of the person to find cadence memberships for
          in: query
          name: person_id
          required: false
          type: integer
        - description: ID of the cadence to find cadence memberships for
          in: query
          name: cadence_id
          required: false
          type: integer
        - description: >
            Equality filters that are applied to the updated_at field. A single
            filter can be used by itself or combined with other filters to
            create a range.

            ---CUSTOM---

            {"type":"object","keys":[{"name":"gt","type":"iso8601 string","description":"Returns all matching records that are greater than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"gte","type":"iso8601 string","description":"Returns all matching records that are greater than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lt","type":"iso8601 string","description":"Returns all matching records that are less than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lte","type":"iso8601 string","description":"Returns all matching records that are less than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."}]}
          in: query
          items:
            type: string
          name: updated_at
          required: false
          type: array
        - description: "Key to sort on, must be one of: updated_at. Defaults to updated_at"
          in: query
          name: sort_by
          required: false
          type: string
        - description: "Direction to sort in, must be one of: ASC, DESC. Defaults to DESC"
          in: query
          name: sort_direction
          required: false
          type: string
        - description: How many records to show per page in the range [1, 100]. Defaults
            to 25
          in: query
          name: per_page
          required: false
          type: integer
        - description: The current page to fetch results from. Defaults to 1
          in: query
          name: page
          required: false
          type: integer
        - description: Whether to include total_pages and total_count in the metadata.
            Defaults to false
          in: query
          name: include_paging_counts
          required: false
          type: boolean
      responses:
        "200":
          description: Success
          schema:
            items:
              $ref: "#/definitions/CadenceMembership"
            type: array
      summary: List cadence memberships
      tags:
        - Cadence Memberships
    post:
      description: >
        Adds a person to a cadence. person_id and cadence_id are required,
        and must be visible to the authenticated user. user_id will

        default to the authenticated user, but can be set to any visible user on the authenticated team.


        A person cannot be added to a cadence on behalf of a teammate unless the cadence is a team cadence, or the cadence is owned by

        the teammate.
      parameters:
        - description: ID of the person to create a cadence membership for
          in: query
          name: person_id
          required: true
          type: integer
        - description: ID of the cadence to create a cadence membership for
          in: query
          name: cadence_id
          required: true
          type: integer
        - description: ID of the user to create a cadence membership for. The associated
            cadence must be owned by the user, or it must be a team cadence
          in: query
          name: user_id
          required: false
          type: integer
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/CadenceMembership"
      summary: Create a cadence membership
      tags:
        - Cadence Memberships
  "/v2/cadence_memberships/{id}.json":
    delete:
      parameters:
        - description: CadenceMembership ID
          in: path
          name: id
          required: true
          type: string
      responses:
        "204":
          description: The person has been removed from the cadence successfully
      summary: Delete a cadence membership
      tags:
        - Cadence Memberships
    get:
      description: |
        Fetches a cadence membership, by ID only.
      parameters:
        - description: CadenceMembership ID
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/CadenceMembership"
      summary: Fetch a cadence membership
      tags:
        - Cadence Memberships
  /v2/cadences.json:
    get:
      description: >
        Fetches multiple cadence records. The records can be filtered,
        paged, and sorted according to

        the respective parameters.
      parameters:
        - description: IDs of cadences to fetch. If a record can't be found, that record
            won't be returned and your request will be successful
          in: query
          items:
            type: integer
          name: ids
          required: false
          type: array
        - description: >
            Equality filters that are applied to the updated_at field. A single
            filter can be used by itself or combined with other filters to
            create a range.

            ---CUSTOM---

            {"type":"object","keys":[{"name":"gt","type":"iso8601 string","description":"Returns all matching records that are greater than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"gte","type":"iso8601 string","description":"Returns all matching records that are greater than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lt","type":"iso8601 string","description":"Returns all matching records that are less than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lte","type":"iso8601 string","description":"Returns all matching records that are less than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."}]}
          in: query
          items:
            type: string
          name: updated_at
          required: false
          type: array
        - description: Filters cadences by whether they are a team cadence or not
          in: query
          name: team_cadence
          required: false
          type: boolean
        - description: "Key to sort on, must be one of: created_at, updated_at. Defaults
            to updated_at"
          in: query
          name: sort_by
          required: false
          type: string
        - description: "Direction to sort in, must be one of: ASC, DESC. Defaults to DESC"
          in: query
          name: sort_direction
          required: false
          type: string
        - description: How many records to show per page in the range [1, 100]. Defaults
            to 25
          in: query
          name: per_page
          required: false
          type: integer
        - description: The current page to fetch results from. Defaults to 1
          in: query
          name: page
          required: false
          type: integer
        - description: Whether to include total_pages and total_count in the metadata.
            Defaults to false
          in: query
          name: include_paging_counts
          required: false
          type: boolean
      responses:
        "200":
          description: Success
          schema:
            items:
              $ref: "#/definitions/Cadence"
            type: array
      summary: List cadences
      tags:
        - Cadences
  "/v2/cadences/{id}.json":
    get:
      description: |
        Fetches a cadence, by ID only.
      parameters:
        - description: Cadence ID
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/Cadence"
      summary: Fetch a cadence
      tags:
        - Cadences
  /v2/call_data_records.json:
    get:
      description: >
        Fetches multiple call data records. The records can be filtered,
        paged, and sorted according to

        the respective parameters.


        Call data records are records of all inbound and outbound calls through SalesLoft. A call data record may

        be associated with a call, but does not have to be.
      parameters:
        - description: IDs of call data records to fetch. If a record can't be found, that
            record won't be returned and your request will be successful
          in: query
          items:
            type: integer
          name: ids
          required: false
          type: array
        - description: Return only call data records which have or do not have a call
            logged for them
          in: query
          name: has_call
          required: false
          type: boolean
        - description: >
            Equality filters that are applied to the updated_at field. A single
            filter can be used by itself or combined with other filters to
            create a range.

            ---CUSTOM---

            {"type":"object","keys":[{"name":"gt","type":"iso8601 string","description":"Returns all matching records that are greater than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"gte","type":"iso8601 string","description":"Returns all matching records that are greater than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lt","type":"iso8601 string","description":"Returns all matching records that are less than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lte","type":"iso8601 string","description":"Returns all matching records that are less than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."}]}
          in: query
          items:
            type: string
          name: updated_at
          required: false
          type: array
        - description: "Key to sort on, must be one of: created_at, updated_at. Defaults
            to updated_at"
          in: query
          name: sort_by
          required: false
          type: string
        - description: "Direction to sort in, must be one of: ASC, DESC. Defaults to DESC"
          in: query
          name: sort_direction
          required: false
          type: string
        - description: How many records to show per page in the range [1, 100]. Defaults
            to 25
          in: query
          name: per_page
          required: false
          type: integer
        - description: The current page to fetch results from. Defaults to 1
          in: query
          name: page
          required: false
          type: integer
        - description: Whether to include total_pages and total_count in the metadata.
            Defaults to false
          in: query
          name: include_paging_counts
          required: false
          type: boolean
      responses:
        "200":
          description: Success
          schema:
            items:
              $ref: "#/definitions/CallDataRecord"
            type: array
      summary: List call data records
      tags:
        - Call Data Records
  "/v2/call_data_records/{id}.json":
    get:
      description: |
        Fetches a call data record, by ID only.
      parameters:
        - description: CallDataRecord ID
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/CallDataRecord"
      summary: Fetch a call data record
      tags:
        - Call Data Records
  /v2/crm_activities.json:
    get:
      description: >
        Fetches multiple crm activity records. The records can be filtered,
        paged, and sorted according to

        the respective parameters.
      parameters:
        - description: IDs of crm activities to fetch.
          in: query
          items:
            type: integer
          name: ids
          required: false
          type: array
        - description: >
            Equality filters that are applied to the updated_at field. A single
            filter can be used by itself or combined with other filters to
            create a range.

            ---CUSTOM---

            {"type":"object","keys":[{"name":"gt","type":"iso8601 string","description":"Returns all matching records that are greater than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"gte","type":"iso8601 string","description":"Returns all matching records that are greater than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lt","type":"iso8601 string","description":"Returns all matching records that are less than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lte","type":"iso8601 string","description":"Returns all matching records that are less than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."}]}
          in: query
          items:
            type: string
          name: updated_at
          required: false
          type: array
        - description: "Key to sort on, must be one of: created_at, updated_at. Defaults
            to updated_at"
          in: query
          name: sort_by
          required: false
          type: string
        - description: "Direction to sort in, must be one of: ASC, DESC. Defaults to DESC"
          in: query
          name: sort_direction
          required: false
          type: string
        - description: How many records to show per page in the range [1, 100]. Defaults
            to 25
          in: query
          name: per_page
          required: false
          type: integer
        - description: The current page to fetch results from. Defaults to 1
          in: query
          name: page
          required: false
          type: integer
        - description: Whether to include total_pages and total_count in the metadata.
            Defaults to false
          in: query
          name: include_paging_counts
          required: false
          type: boolean
      responses:
        "200":
          description: Success
          schema:
            items:
              $ref: "#/definitions/CrmActivity"
            type: array
      summary: List crm activities
      tags:
        - CRM Activities
  "/v2/crm_activities/{id}.json":
    get:
      description: |
        Fetches a crm activity, by ID only.
      parameters:
        - description: Crm activity ID
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/CrmActivity"
      summary: Fetch a crm activity
      tags:
        - CRM Activities
  /v2/custom_fields.json:
    get:
      description: >
        Fetches multiple custom field records. The records can be filtered,
        paged, and sorted according to

        the respective parameters.
      parameters:
        - description: IDs of custom fields to fetch.
          in: query
          items:
            type: integer
          name: ids
          required: false
          type: array
        - description: "Type of field to fetch. Value must be one of: person, company,
            opportunity"
          in: query
          name: field_type
          required: false
          type: string
        - description: "Key to sort on, must be one of: created_at, updated_at, name.
            Defaults to updated_at"
          in: query
          name: sort_by
          required: false
          type: string
        - description: "Direction to sort in, must be one of: ASC, DESC. Defaults to DESC"
          in: query
          name: sort_direction
          required: false
          type: string
        - description: How many records to show per page in the range [1, 100]. Defaults
            to 25
          in: query
          name: per_page
          required: false
          type: integer
        - description: The current page to fetch results from. Defaults to 1
          in: query
          name: page
          required: false
          type: integer
        - description: Whether to include total_pages and total_count in the metadata.
            Defaults to false
          in: query
          name: include_paging_counts
          required: false
          type: boolean
      responses:
        "200":
          description: Success
          schema:
            items:
              $ref: "#/definitions/CustomField"
            type: array
      summary: List custom fields
      tags:
        - Custom Fields
    post:
      description: |
        Creates a custom field.
      parameters:
        - description: The name of the custom field
          in: formData
          name: name
          required: true
          type: string
        - description: "The field type of the custom field. Value must be one of: person,
            company, opportunity"
          in: formData
          name: field_type
          required: false
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/CustomField"
      summary: Create a custom field
      tags:
        - Custom Fields
  "/v2/custom_fields/{id}.json":
    delete:
      description: |
        Deletes a custom field.
      parameters:
        - description: Custom Field ID
          in: path
          name: id
          required: true
          type: string
      responses:
        "204":
          description: The Custom Field has been deleted successfully
      summary: Delete a custom field
      tags:
        - Custom Fields
    get:
      description: |
        Fetches a custom field, by ID only.
      parameters:
        - description: Custom Field ID
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/CustomField"
      summary: Fetch a custom field
      tags:
        - Custom Fields
    put:
      description: |
        Update a custom field.
      parameters:
        - description: Custom Field ID
          in: path
          name: id
          required: true
          type: string
        - description: The name of the custom field
          in: formData
          name: name
          required: false
          type: string
        - description: "The field type of the custom field. Value must be one of: person,
            company, opportunity"
          in: formData
          name: field_type
          required: false
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/CustomField"
      summary: Update a custom field
      tags:
        - Custom Fields
  /v2/email_templates.json:
    get:
      description: >
        Fetches multiple email template records. The records can be
        filtered, paged, and sorted according to

        the respective parameters.
      parameters:
        - description: IDs of email templates to fetch. If a record can't be found, that
            record won't be returned and your request will be successful
          in: query
          items:
            type: integer
          name: ids
          required: false
          type: array
        - description: >
            Equality filters that are applied to the updated_at field. A single
            filter can be used by itself or combined with other filters to
            create a range.

            ---CUSTOM---

            {"type":"object","keys":[{"name":"gt","type":"iso8601 string","description":"Returns all matching records that are greater than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"gte","type":"iso8601 string","description":"Returns all matching records that are greater than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lt","type":"iso8601 string","description":"Returns all matching records that are less than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lte","type":"iso8601 string","description":"Returns all matching records that are less than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."}]}
          in: query
          items:
            type: string
          name: updated_at
          required: false
          type: array
        - description: Filters email templates by whether they are linked to a team
            template or not
          in: query
          name: linked_to_team_template
          required: false
          type: boolean
        - description: "Key to sort on, must be one of: created_at, updated_at,
            last_used_at. Defaults to updated_at"
          in: query
          name: sort_by
          required: false
          type: string
        - description: "Direction to sort in, must be one of: ASC, DESC. Defaults to DESC"
          in: query
          name: sort_direction
          required: false
          type: string
        - description: How many records to show per page in the range [1, 100]. Defaults
            to 25
          in: query
          name: per_page
          required: false
          type: integer
        - description: The current page to fetch results from. Defaults to 1
          in: query
          name: page
          required: false
          type: integer
        - description: Whether to include total_pages and total_count in the metadata.
            Defaults to false
          in: query
          name: include_paging_counts
          required: false
          type: boolean
      responses:
        "200":
          description: Success
          schema:
            items:
              $ref: "#/definitions/EmailTemplate"
            type: array
      summary: List email templates
      tags:
        - Email Templates
  "/v2/email_templates/{id}.json":
    get:
      description: |
        Fetches an email template, by ID only.
      parameters:
        - description: EmailTemplate ID
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/EmailTemplate"
      summary: Fetch an email template
      tags:
        - Email Templates
  /v2/imports.json:
    get:
      description: |
        Fetches multiple imports.
      parameters:
        - description: IDs of imports to fetch. If a record can't be found, that record
            won't be returned and your request will be successful
          in: query
          items:
            type: integer
          name: ids
          required: false
          type: array
        - description: ID of users to fetch imports for. Using this filter will return an
            empty array for non-admin users who request other user's imports
          in: query
          items:
            type: integer
          name: user_ids
          required: false
          type: array
        - description: "Key to sort on, must be one of: created_at, updated_at. Defaults
            to created_at"
          in: query
          name: sort_by
          required: false
          type: string
        - description: "Direction to sort in, must be one of: ASC, DESC. Defaults to DESC"
          in: query
          name: sort_direction
          required: false
          type: string
        - description: How many records to show per page in the range [1, 100]. Defaults
            to 25
          in: query
          name: per_page
          required: false
          type: integer
        - description: The current page to fetch results from. Defaults to 1
          in: query
          name: page
          required: false
          type: integer
        - description: Whether to include total_pages and total_count in the metadata.
            Defaults to false
          in: query
          name: include_paging_counts
          required: false
          type: boolean
      responses:
        "200":
          description: Success
          schema:
            items:
              $ref: "#/definitions/Import"
            type: array
      summary: List imports
      tags:
        - Imports
    post:
      description: |
        Creates an import.
      parameters:
        - description: ID of the User that owns this Import
          in: formData
          name: user_id
          required: false
          type: integer
        - description: Name, recommended to be easily identifiable to a user
          in: formData
          name: name
          required: false
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/Import"
      summary: Create an import
      tags:
        - Imports
  "/v2/imports/{id}.json":
    delete:
      description: >
        Deletes an import, by ID only. The associated people can be deleted
        as part of the deletion process.


        Admin users can access imports for the entire team, but non-admin users can only access their own imports.
      parameters:
        - description: Import ID
          in: path
          name: id
          required: true
          type: string
        - description: >
            Whether to delete people on this Import. Possible values are: [not
            present], all, single.


            'single' will delete people who are only present in this Import.

            'all' will delete people even if they are present in other Imports.

            Not specifying this parameter will not delete any people
          in: query
          name: undo
          required: false
          type: string
      responses:
        "204":
          description: The import has been deleted successfully
      summary: Delete an import
      tags:
        - Imports
    get:
      description: >
        Fetches an import, by ID only.


        Admin users can access imports for the entire team, but non-admin users can only access their own imports.
      parameters:
        - description: Import ID
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/Import"
      summary: Fetch an import
      tags:
        - Imports
    put:
      description: >
        Updates an import, by ID only.


        Admin users can access imports for the entire team, but non-admin users can only access their own imports.
      parameters:
        - description: Import ID
          in: path
          name: id
          required: true
          type: string
        - description: ID of the User that owns this Import
          in: formData
          name: user_id
          required: false
          type: integer
        - description: Name, recommended to be easily identifiable to a user
          in: formData
          name: name
          required: false
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/Import"
      summary: Update an import
      tags:
        - Imports
  /v2/me.json:
    get:
      description: >
        Authenticated user information. This endpoint does not accept any
        parameters as it is

        represents your authenticated user. The "Users" resource provides user information

        for other users on the team.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/User"
      summary: Fetch current user
      tags:
        - Me
  /v2/notes.json:
    get:
      description: >
        Fetches multiple note records. The records can be filtered, paged,
        and sorted according to

        the respective parameters.
      parameters:
        - description: "Case insensitive type of item with which the note is
            associated.  Value must be one of: person, account"
          in: query
          name: associated_with_type
          required: false
          type: string
        - description: ID of the item with which the note is associated.  The
            associated_with_type must also be present if this parameter is used
          in: query
          name: associated_with_id
          required: false
          type: integer
        - description: >
            Equality filters that are applied to the updated_at field. A single
            filter can be used by itself or combined with other filters to
            create a range.

            ---CUSTOM---

            {"type":"object","keys":[{"name":"gt","type":"iso8601 string","description":"Returns all matching records that are greater than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"gte","type":"iso8601 string","description":"Returns all matching records that are greater than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lt","type":"iso8601 string","description":"Returns all matching records that are less than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lte","type":"iso8601 string","description":"Returns all matching records that are less than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."}]}
          in: query
          items:
            type: string
          name: updated_at
          required: false
          type: array
        - description: IDs of notes to fetch. If a record can't be found, that record
            won't be returned and your request will be successful
          in: query
          items:
            type: integer
          name: ids
          required: false
          type: array
        - description: "Key to sort on, must be one of: created_at, updated_at. Defaults
            to updated_at"
          in: query
          name: sort_by
          required: false
          type: string
        - description: "Direction to sort in, must be one of: ASC, DESC. Defaults to DESC"
          in: query
          name: sort_direction
          required: false
          type: string
        - description: How many records to show per page in the range [1, 100]. Defaults
            to 25
          in: query
          name: per_page
          required: false
          type: integer
        - description: The current page to fetch results from. Defaults to 1
          in: query
          name: page
          required: false
          type: integer
        - description: Whether to include total_pages and total_count in the metadata.
            Defaults to false
          in: query
          name: include_paging_counts
          required: false
          type: boolean
      responses:
        "200":
          description: Success
          schema:
            items:
              $ref: "#/definitions/Note"
            type: array
      summary: List notes
      tags:
        - Notes
    post:
      description: |
        Creates a note.
      parameters:
        - description: The content of the note
          in: formData
          name: content
          required: true
          type: string
        - description: "Case insensitive type of item with which the note is
            associated.  Value must be one of: person, account"
          in: formData
          name: associated_with_type
          required: true
          type: string
        - description: ID of the item with which the note is associated
          in: formData
          name: associated_with_id
          required: true
          type: integer
        - description: Boolean indicating if the CRM sync should be skipped.  No syncing
            will occur if true
          in: formData
          name: skip_crm_sync
          required: false
          type: boolean
        - description: ID of the call with which the note is associated. The call cannot
            already have a note
          in: formData
          name: call_id
          required: false
          type: integer
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/Note"
      summary: Create a note
      tags:
        - Notes
  "/v2/notes/{id}.json":
    get:
      description: |
        Fetches a note, by ID only.
      parameters:
        - description: Note ID
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/Note"
      summary: Fetch a note
      tags:
        - Notes
    put:
      description: >
        Updates a note. Any changes to the note or associated records will
        not reflect in Salesforce.com.
      parameters:
        - description: Note ID
          in: path
          name: id
          required: true
          type: string
        - description: The content of the note
          in: formData
          name: content
          required: true
          type: string
        - description: ID of the call with which the note is associated. The call cannot
            already have a note. If the note is associated to a call already, it
            will become associated to the requested call
          in: formData
          name: call_id
          required: false
          type: integer
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/Person"
      summary: Update a note
      tags:
        - Notes
  /v2/people.json:
    get:
      description: >
        Fetches multiple person records. The records can be filtered,
        paged, and sorted according to

        the respective parameters.
      parameters:
        - description: IDs of people to fetch. If a record can't be found, that record
            won't be returned and your request will be successful
          in: query
          items:
            type: integer
          name: ids
          required: false
          type: array
        - description: >
            Equality filters that are applied to the updated_at field. A single
            filter can be used by itself or combined with other filters to
            create a range.

            ---CUSTOM---

            {"type":"object","keys":[{"name":"gt","type":"iso8601 string","description":"Returns all matching records that are greater than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"gte","type":"iso8601 string","description":"Returns all matching records that are greater than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lt","type":"iso8601 string","description":"Returns all matching records that are less than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lte","type":"iso8601 string","description":"Returns all matching records that are less than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."}]}
          in: query
          items:
            type: string
          name: updated_at
          required: false
          type: array
        - description: Filters people by email address
          in: query
          items:
            type: string
          name: email_addresses
          required: false
          type: array
        - description: "Key to sort on, must be one of: created_at, updated_at,
            last_contacted_at. Defaults to updated_at"
          in: query
          name: sort_by
          required: false
          type: string
        - description: "Direction to sort in, must be one of: ASC, DESC. Defaults to DESC"
          in: query
          name: sort_direction
          required: false
          type: string
        - description: How many records to show per page in the range [1, 100]. Defaults
            to 25
          in: query
          name: per_page
          required: false
          type: integer
        - description: The current page to fetch results from. Defaults to 1
          in: query
          name: page
          required: false
          type: integer
        - description: Whether to include total_pages and total_count in the metadata.
            Defaults to false
          in: query
          name: include_paging_counts
          required: false
          type: boolean
      responses:
        "200":
          description: Success
          schema:
            items:
              $ref: "#/definitions/Person"
            type: array
      summary: List people
      tags:
        - People
    post:
      description: >
        Creates a person. Either email_address or phone/last_name must be
        provided as a unique lookup

        on the team.
      parameters:
        - description: Email address
          in: formData
          name: email_address
          required: false
          type: string
        - description: Alternate email address
          in: formData
          name: secondary_email_address
          required: false
          type: string
        - description: Personal email address
          in: formData
          name: personal_email_address
          required: false
          type: string
        - description: First name
          in: formData
          name: first_name
          required: false
          type: string
        - description: Last name
          in: formData
          name: last_name
          required: false
          type: string
        - description: Phone without formatting
          in: formData
          name: phone
          required: false
          type: string
        - description: Phone extension without formatting
          in: formData
          name: phone_extension
          required: false
          type: string
        - description: Mobile phone without formatting
          in: formData
          name: mobile_phone
          required: false
          type: string
        - description: Home phone without formatting
          in: formData
          name: home_phone
          required: false
          type: string
        - description: Linkedin URL
          in: formData
          name: linkedin_url
          required: false
          type: string
        - description: Job title
          in: formData
          name: title
          required: false
          type: string
        - description: City
          in: formData
          name: city
          required: false
          type: string
        - description: State
          in: formData
          name: state
          required: false
          type: string
        - description: Country
          in: formData
          name: country
          required: false
          type: string
        - description: Work location - city
          in: formData
          name: work_city
          required: false
          type: string
        - description: Work location - state
          in: formData
          name: work_state
          required: false
          type: string
        - description: Work location - country
          in: formData
          name: work_country
          required: false
          type: string
        - description: Company name. This property is specific to this person, unrelated
            to the company object. Updating the company object associated with
            this person is recommended
          in: formData
          name: person_company_name
          required: false
          type: string
        - description: Company website. This property is specific to this person,
            unrelated to the company object. Updating the company object
            associated with this person is recommended
          in: formData
          name: person_company_website
          required: false
          type: string
        - description: Company industry. This property is specific to this person,
            unrelated to the company object. Updating the company object
            associated with this person is recommended
          in: formData
          name: person_company_industry
          required: false
          type: string
        - description: Whether this person can not be contacted. Values are either true or
            false. Setting this to true will remove the person from all active
            communications
          in: formData
          name: do_not_contact
          required: false
          type: boolean
        - description: Time locale of the person
          in: formData
          name: locale
          required: false
          type: string
        - description: The website of this person
          in: formData
          name: personal_website
          required: false
          type: string
        - description: The twitter handle of this person
          in: formData
          name: twitter_handle
          required: false
          type: string
        - description: All tags applied to this person
          in: formData
          items:
            type: string
          name: tags
          required: false
          type: array
        - description: Custom fields are defined by the user's team. Only fields with
            values are presented in the API.
          in: formData
          items:
            type: string
          name: custom_fields
          required: false
          type: array
        - description: ID of the Account to link this person to
          in: formData
          name: account_id
          required: false
          type: integer
        - description: ID of the User that owns this person
          in: formData
          name: owner_id
          required: false
          type: integer
        - description: ID of the Import this person is a part of. A person can be part of
            multiple imports, but this ID will always be the most recent Import
          in: formData
          name: import_id
          required: false
          type: integer
        - description: ID of the PersonStage of this person
          in: formData
          name: person_stage_id
          required: false
          type: integer
        - description: Whether the date should be added to this person as a tag. Default
            is false. The tag will be Y-m-d format.
          in: formData
          name: autotag_date
          required: false
          type: boolean
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/Person"
      summary: Create a person
      tags:
        - People
  "/v2/people/{id}.json":
    delete:
      description: >
        Deletes a person. This operation is not reversible without
        contacting support.

        This operation can be called multiple times successfully.
      parameters:
        - description: Person id
          in: path
          name: id
          required: true
          type: string
      responses:
        "204":
          description: The person has been deleted successfully
      summary: Delete a person
      tags:
        - People
    get:
      description: |
        Fetches a person, by ID only.
      parameters:
        - description: Person ID
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/Person"
      summary: Fetch a person
      tags:
        - People
    put:
      description: |
        Updates a person.
      parameters:
        - description: Email address
          in: formData
          name: email_address
          required: false
          type: string
        - description: Alternate email address
          in: formData
          name: secondary_email_address
          required: false
          type: string
        - description: Personal email address
          in: formData
          name: personal_email_address
          required: false
          type: string
        - description: First name
          in: formData
          name: first_name
          required: false
          type: string
        - description: Last name
          in: formData
          name: last_name
          required: false
          type: string
        - description: Phone without formatting
          in: formData
          name: phone
          required: false
          type: string
        - description: Phone extension without formatting
          in: formData
          name: phone_extension
          required: false
          type: string
        - description: Mobile phone without formatting
          in: formData
          name: mobile_phone
          required: false
          type: string
        - description: Home phone without formatting
          in: formData
          name: home_phone
          required: false
          type: string
        - description: Linkedin URL
          in: formData
          name: linkedin_url
          required: false
          type: string
        - description: Job title
          in: formData
          name: title
          required: false
          type: string
        - description: City
          in: formData
          name: city
          required: false
          type: string
        - description: State
          in: formData
          name: state
          required: false
          type: string
        - description: Country
          in: formData
          name: country
          required: false
          type: string
        - description: Work location - city
          in: formData
          name: work_city
          required: false
          type: string
        - description: Work location - state
          in: formData
          name: work_state
          required: false
          type: string
        - description: Work location - country
          in: formData
          name: work_country
          required: false
          type: string
        - description: Company name. This property is specific to this person, unrelated
            to the company object. Updating the company object associated with
            this person is recommended
          in: formData
          name: person_company_name
          required: false
          type: string
        - description: Company website. This property is specific to this person,
            unrelated to the company object. Updating the company object
            associated with this person is recommended
          in: formData
          name: person_company_website
          required: false
          type: string
        - description: Company industry. This property is specific to this person,
            unrelated to the company object. Updating the company object
            associated with this person is recommended
          in: formData
          name: person_company_industry
          required: false
          type: string
        - description: Whether this person can not be contacted. Values are either true or
            false. Setting this to true will remove the person from all active
            communications
          in: formData
          name: do_not_contact
          required: false
          type: boolean
        - description: Time locale of the person
          in: formData
          name: locale
          required: false
          type: string
        - description: The website of this person
          in: formData
          name: personal_website
          required: false
          type: string
        - description: The twitter handle of this person
          in: formData
          name: twitter_handle
          required: false
          type: string
        - description: All tags applied to this person
          in: formData
          items:
            type: string
          name: tags
          required: false
          type: array
        - description: Custom fields are defined by the user's team. Only fields with
            values are presented in the API.
          in: formData
          items:
            type: string
          name: custom_fields
          required: false
          type: array
        - description: ID of the Account to link this person to
          in: formData
          name: account_id
          required: false
          type: integer
        - description: ID of the User that owns this person
          in: formData
          name: owner_id
          required: false
          type: integer
        - description: ID of the Import this person is a part of. A person can be part of
            multiple imports, but this ID will always be the most recent Import
          in: formData
          name: import_id
          required: false
          type: integer
        - description: ID of the PersonStage of this person
          in: formData
          name: person_stage_id
          required: false
          type: integer
        - description: Person id
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/Person"
      summary: Update a person
      tags:
        - People
  /v2/person_stages.json:
    get:
      description: >
        Fetches multiple person stage records. The records can be filtered,
        paged, and sorted according to

        the respective parameters.
      parameters:
        - description: IDs of person stages to fetch.
          in: query
          items:
            type: integer
          name: ids
          required: false
          type: array
        - description: "Key to sort on, must be one of: created_at, updated_at. Defaults
            to updated_at"
          in: query
          name: sort_by
          required: false
          type: string
        - description: "Direction to sort in, must be one of: ASC, DESC. Defaults to DESC"
          in: query
          name: sort_direction
          required: false
          type: string
        - description: How many records to show per page in the range [1, 100]. Defaults
            to 25
          in: query
          name: per_page
          required: false
          type: integer
        - description: The current page to fetch results from. Defaults to 1
          in: query
          name: page
          required: false
          type: integer
        - description: Whether to include total_pages and total_count in the metadata.
            Defaults to false
          in: query
          name: include_paging_counts
          required: false
          type: boolean
      responses:
        "200":
          description: Success
          schema:
            items:
              $ref: "#/definitions/PersonStage"
            type: array
      summary: List person stages
      tags:
        - Person Stages
    post:
      description: |
        Creates a person stage.
      parameters:
        - description: The name of the new stage
          in: formData
          name: name
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/PersonStage"
      summary: Create a person stage
      tags:
        - Person Stages
  "/v2/person_stages/{id}.json":
    delete:
      description: >
        Deletes a person stage. This operation is not reversible without
        contacting support.

        This operation can be called multiple times successfully.
      parameters:
        - description: Stage ID
          in: path
          name: id
          required: true
          type: string
      responses:
        "204":
          description: The Person Stage has been deleted successfully
      summary: Delete an person stage
      tags:
        - Person Stages
    get:
      description: |
        Fetches a person stage, by ID only.
      parameters:
        - description: Stage ID
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/PersonStage"
      summary: Fetch a person stage
      tags:
        - Person Stages
    put:
      description: |
        Updates a person stage.
      parameters:
        - description: Stage ID
          in: path
          name: id
          required: true
          type: string
        - description: The name of the stage.
          in: formData
          name: name
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/PersonStage"
      summary: Update a person stage
      tags:
        - Person Stages
  /v2/phone_numbers/caller_ids.json:
    get:
      description: |
        Each entry is a possible caller ID match for the number. Multiple
        entries may be returned if the phone number is present on more than one
        person in the system.  Phone number should be in E.164 format.
      parameters:
        - description: E.164 Phone Number
          in: query
          name: phone_number
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            items:
              $ref: "#/definitions/CallerId"
            type: array
      summary: List caller ids
      tags:
        - Caller IDs
  "/v2/phone_numbers/recording_settings/{id}.json":
    get:
      description: >
        Fetches the recording status for a given phone number, based on Do
        Not Record and Recording Governance for your team.

        Phone number should be in E.164 format.
      parameters:
        - description: E.164 Phone Number
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/RecordingSetting"
      summary: Fetch recording setting
      tags:
        - Recording Settings
  /v2/steps.json:
    get:
      description: >
        Fetches multiple step records. The records can be filtered, paged,
        and sorted according to

        the respective parameters.
      parameters:
        - description: IDs of steps to fetch.
          in: query
          items:
            type: integer
          name: ids
          required: false
          type: array
        - description: Filter by cadence ID
          in: query
          name: cadence_id
          required: false
          type: integer
        - description: Filter by step type
          in: query
          name: type
          required: false
          type: string
        - description: Filter by whether a step has due actions
          in: query
          name: has_due_actions
          required: false
          type: boolean
        - description: "Key to sort on, must be one of: created_at, updated_at. Defaults
            to updated_at"
          in: query
          name: sort_by
          required: false
          type: string
        - description: "Direction to sort in, must be one of: ASC, DESC. Defaults to DESC"
          in: query
          name: sort_direction
          required: false
          type: string
        - description: How many records to show per page in the range [1, 100]. Defaults
            to 25
          in: query
          name: per_page
          required: false
          type: integer
        - description: The current page to fetch results from. Defaults to 1
          in: query
          name: page
          required: false
          type: integer
        - description: Whether to include total_pages and total_count in the metadata.
            Defaults to false
          in: query
          name: include_paging_counts
          required: false
          type: boolean
      responses:
        "200":
          description: Success
          schema:
            items:
              $ref: "#/definitions/Step"
            type: array
      summary: List steps
      tags:
        - Steps
  "/v2/steps/{id}.json":
    get:
      description: |
        Fetches a step, by ID only.
      parameters:
        - description: Step ID
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/Step"
      summary: Fetch a step
      tags:
        - Steps
  /v2/successes.json:
    get:
      description: >
        Fetches multiple success records. The records can be filtered,
        paged, and sorted according to

        the respective parameters.
      parameters:
        - description: IDs of successes to fetch. If a record can't be found, that record
            won't be returned and your request will be successful
          in: query
          items:
            type: integer
          name: ids
          required: false
          type: array
        - description: >
            Equality filters that are applied to the updated_at field. A single
            filter can be used by itself or combined with other filters to
            create a range.

            ---CUSTOM---

            {"type":"object","keys":[{"name":"gt","type":"iso8601 string","description":"Returns all matching records that are greater than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"gte","type":"iso8601 string","description":"Returns all matching records that are greater than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lt","type":"iso8601 string","description":"Returns all matching records that are less than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lte","type":"iso8601 string","description":"Returns all matching records that are less than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."}]}
          in: query
          items:
            type: string
          name: updated_at
          required: false
          type: array
        - description: "Key to sort on, must be one of: created_at, updated_at,
            succeeded_at. Defaults to updated_at"
          in: query
          name: sort_by
          required: false
          type: string
        - description: "Direction to sort in, must be one of: ASC, DESC. Defaults to DESC"
          in: query
          name: sort_direction
          required: false
          type: string
        - description: How many records to show per page in the range [1, 100]. Defaults
            to 25
          in: query
          name: per_page
          required: false
          type: integer
        - description: The current page to fetch results from. Defaults to 1
          in: query
          name: page
          required: false
          type: integer
        - description: Whether to include total_pages and total_count in the metadata.
            Defaults to false
          in: query
          name: include_paging_counts
          required: false
          type: boolean
      responses:
        "200":
          description: Success
          schema:
            items:
              $ref: "#/definitions/Success"
            type: array
      summary: List successes
      tags:
        - Successes
  /v2/team.json:
    get:
      description: |
        Fetches the team of the authenticated user.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/Team"
      summary: Fetch current team
      tags:
        - Team
  /v2/team_templates.json:
    get:
      description: >
        Fetches multiple team template records. The records can be
        filtered, paged, and sorted according to

        the respective parameters.


        Team templates are templates that are available team-wide. Admins may use

        team templates to create original content for the entire team, monitor version control to ensure templates are always up to date,

        and track template performance across the entire organization. All metrics on a team template reflect usage across the team; individual metrics can be found with the email_templates API endpoint.
      parameters:
        - description: IDs of team templates to fetch. If a record can't be found, that
            record won't be returned and your request will be successful
          in: query
          items:
            type: string
          name: ids
          required: false
          type: array
        - description: >
            Equality filters that are applied to the updated_at field. A single
            filter can be used by itself or combined with other filters to
            create a range.

            ---CUSTOM---

            {"type":"object","keys":[{"name":"gt","type":"iso8601 string","description":"Returns all matching records that are greater than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"gte","type":"iso8601 string","description":"Returns all matching records that are greater than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lt","type":"iso8601 string","description":"Returns all matching records that are less than the provided iso8601 timestamp. The comparison is done using microsecond precision."},{"name":"lte","type":"iso8601 string","description":"Returns all matching records that are less than or equal to the provided iso8601 timestamp. The comparison is done using microsecond precision."}]}
          in: query
          items:
            type: string
          name: updated_at
          required: false
          type: array
        - description: "Key to sort on, must be one of: created_at, updated_at,
            last_used_at. Defaults to updated_at"
          in: query
          name: sort_by
          required: false
          type: string
        - description: "Direction to sort in, must be one of: ASC, DESC. Defaults to DESC"
          in: query
          name: sort_direction
          required: false
          type: string
        - description: How many records to show per page in the range [1, 100]. Defaults
            to 25
          in: query
          name: per_page
          required: false
          type: integer
        - description: The current page to fetch results from. Defaults to 1
          in: query
          name: page
          required: false
          type: integer
        - description: Whether to include total_pages and total_count in the metadata.
            Defaults to false
          in: query
          name: include_paging_counts
          required: false
          type: boolean
      responses:
        "200":
          description: Success
          schema:
            items:
              $ref: "#/definitions/TeamTemplate"
            type: array
      summary: List team templates
      tags:
        - Team Templates
  "/v2/team_templates/{id}.json":
    get:
      description: |
        Fetches a team template, by ID only.
      parameters:
        - description: Team Template ID
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/TeamTemplate"
      summary: Fetch a team template
      tags:
        - Team Templates
  /v2/users.json:
    get:
      description: >
        Non Admin: Lists only your user, or all on team depending on group
        visibility policy

        Team Admin: Lists users associated with your team
      responses:
        "200":
          description: Success
          schema:
            items:
              $ref: "#/definitions/User"
            type: array
      summary: List users
      tags:
        - Users
  "/v2/users/{id}.json":
    get:
      description: |
        Fetches a user, by ID only.
      parameters:
        - description: User ID
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/User"
      summary: Fetch a user
      tags:
        - Users
definitions:
  Account:
    properties:
      archived_at:
        description: Datetime of when the Account was archived, if archived
        example: 2018-02-01T15:02:39.396392-05:00
        format: date
        type: string
      city:
        description: City
        example: Dufftown
        type: string
      company_stage:
        $ref: "#/definitions/EmbeddedResource"
        description: Company Stage that this Account has set
        example:
          id: 1
      company_type:
        description: Type of the Account's company
        example: Private
        type: string
      conversational_name:
        description: Conversational name of the Account
        example: Hogwarts
        type: string
      country:
        description: Country
        example: Scotland
        type: string
      counts:
        $ref: "#/definitions/AccountCounts"
        description: Various counts for this Account
        example:
          people: 15
      created_at:
        description: Datetime of when the Account was created
        example: 2018-02-01T15:02:39.396254-05:00
        format: date
        type: string
      creator:
        $ref: "#/definitions/EmbeddedResource"
        description: User that created this Account
        example:
          _href: https://api.salesloft.com/v2/users/1
          id: 1
      crm_id:
        description: CRM ID, currently Salesforce.com only
        example: 003i000001mnhpD
        type: string
      crm_object_type:
        description: CRM object type, currently Salesforce.com only
        example: account
        type: string
      crm_url:
        description: CRM url, currently Salesforce.com only
        example: https://na15.salesforce.com/003i000001mnhpD
        type: string
      custom_fields:
        description: Custom fields are defined by the user's team. Only fields with
          values are presented in the API.
        example:
          MyField: A Value
          Other: Field
        type: object
      description:
        description: Description
        example: British school of magic for students
        type: string
      do_not_contact:
        description: Whether this company has opted out of communications. Do not
          contact someone at this company when this is set to true
        example: true
        type: boolean
      domain:
        description: Website domain, not a fully qualified URI
        example: salesloft.com
        type: string
      founded:
        description: Date or year of founding
        example: March 1st, 1820
        type: string
      id:
        description: ID of Account
        example: 1
        type: integer
      industry:
        description: Industry
        example: Education
        type: string
      last_contacted_at:
        description: Datetime this Account was last contacted
        example: 2018-02-01T15:02:39.397020-05:00
        format: date
        type: string
      last_contacted_by:
        $ref: "#/definitions/EmbeddedResource"
        description: User that last contacted this Account
        example:
          _href: https://api.salesloft.com/v2/users/1
          id: 1
      last_contacted_person:
        $ref: "#/definitions/EmbeddedResource"
        description: Person who was last contacted at this Account
        example:
          _href: https://api.salesloft.com/v2/people/1
          id: 1
      last_contacted_type:
        description: The type of the last touch to this Account. Can be call, email, other
        example: call
        type: string
      linkedin_url:
        description: Full LinkedIn url
        example: https://www.linkedin.com/company/2296178/
        type: string
      locale:
        description: Time locale
        example: Europe/London
        type: string
      name:
        description: Account Full Name
        example: Hogwarts School of Witchcraft and Wizardry
        type: string
      owner:
        $ref: "#/definitions/EmbeddedResource"
        description: User that is marked as the owner of this Account
        example:
          _href: https://api.salesloft.com/v2/users/1
          id: 1
      owner_crm_id:
        description: Mapped owner field from the CRM, currently Salesforce.com only
        example: 003i000001mnhpD
        type: string
      phone:
        description: Phone number without formatting
        example: +1 444 555 6666
        type: string
      postal_code:
        description: Postal code
        example: "55555"
        type: string
      revenue_range:
        description: Estimated revenue range
        example: 1,000,000-2,000,000
        type: string
      size:
        description: Estimated number of people in employment
        example: "1500"
        type: string
      state:
        description: State
        example: Mortlach
        type: string
      street:
        description: Street name and number
        example: 4 Picket Drive
        type: string
      tags:
        description: All tags applied to this Account
        example:
          - 7-23-2017
          - dreamforce
        items:
          type: string
        type: array
      twitter_handle:
        description: Twitter handle, with @
        example: "@kyleporter"
        type: string
      updated_at:
        description: Datetime of when the Account was last updated
        example: 2018-02-01T15:02:39.396329-05:00
        format: date
        type: string
      website:
        description: Website
        example: https://salesloft.com
        type: string
  AccountCounts:
    properties:
      people:
        description: Number of people in SalesLoft associated with this Account
        example: 15
        type: integer
  Action:
    properties:
      action_details:
        $ref: "#/definitions/EmbeddedResource"
        description: The type specific action details
        example:
          _href: https://api.salesloft.com/v2/action_details/call_instructions/1
          id: 1
      created_at:
        description: Datetime of when the Action was created
        example: 2018-02-01T00:00:00.000000-05:00
        format: date
        type: string
      due:
        description: Whether this step is due
        example: true
        type: boolean
      due_on:
        description: When action is due
[...]
