swagger: '2.0'
schemes:
  - https
  - http
host: comprehend.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: 'Amazon Comprehend is an AWS service for gaining insight into the content of documents. Use these actions to determine the topics contained in your documents, the topics they discuss, the predominant sentiment expressed in them, the predominant language used, and more.'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: Amazon Comprehend
  version: '2017-11-27'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/comprehend-2017-11-27.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: comprehend
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/comprehend/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/#X-Amz-Target=Comprehend_20171127.BatchDetectDominantLanguage':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Determines the dominant language of the input text for a batch of documents. For a list of languages that Amazon Comprehend can detect, see <a href="https://docs.aws.amazon.com/comprehend/latest/dg/how-languages.html">Amazon Comprehend Supported Languages</a>. '
      operationId: BatchDetectDominantLanguage
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/BatchDetectDominantLanguageRequest'
        - enum:
            - Comprehend_20171127.BatchDetectDominantLanguage
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchDetectDominantLanguageResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TextSizeLimitExceededException
          schema:
            $ref: '#/definitions/TextSizeLimitExceededException'
        '482':
          description: BatchSizeLimitExceededException
          schema:
            $ref: '#/definitions/BatchSizeLimitExceededException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=Comprehend_20171127.BatchDetectEntities':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Inspects the text of a batch of documents for named entities and returns information about them. For more information about named entities, see <a>how-entities</a> '
      operationId: BatchDetectEntities
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/BatchDetectEntitiesRequest'
        - enum:
            - Comprehend_20171127.BatchDetectEntities
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchDetectEntitiesResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TextSizeLimitExceededException
          schema:
            $ref: '#/definitions/TextSizeLimitExceededException'
        '482':
          description: UnsupportedLanguageException
          schema:
            $ref: '#/definitions/UnsupportedLanguageException'
        '483':
          description: BatchSizeLimitExceededException
          schema:
            $ref: '#/definitions/BatchSizeLimitExceededException'
        '484':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=Comprehend_20171127.BatchDetectKeyPhrases':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Detects the key noun phrases found in a batch of documents.
      operationId: BatchDetectKeyPhrases
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/BatchDetectKeyPhrasesRequest'
        - enum:
            - Comprehend_20171127.BatchDetectKeyPhrases
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchDetectKeyPhrasesResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TextSizeLimitExceededException
          schema:
            $ref: '#/definitions/TextSizeLimitExceededException'
        '482':
          description: UnsupportedLanguageException
          schema:
            $ref: '#/definitions/UnsupportedLanguageException'
        '483':
          description: BatchSizeLimitExceededException
          schema:
            $ref: '#/definitions/BatchSizeLimitExceededException'
        '484':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=Comprehend_20171127.BatchDetectSentiment':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Inspects a batch of documents and returns an inference of the prevailing sentiment, <code>POSITIVE</code>, <code>NEUTRAL</code>, <code>MIXED</code>, or <code>NEGATIVE</code>, in each one.'
      operationId: BatchDetectSentiment
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/BatchDetectSentimentRequest'
        - enum:
            - Comprehend_20171127.BatchDetectSentiment
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchDetectSentimentResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TextSizeLimitExceededException
          schema:
            $ref: '#/definitions/TextSizeLimitExceededException'
        '482':
          description: UnsupportedLanguageException
          schema:
            $ref: '#/definitions/UnsupportedLanguageException'
        '483':
          description: BatchSizeLimitExceededException
          schema:
            $ref: '#/definitions/BatchSizeLimitExceededException'
        '484':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=Comprehend_20171127.BatchDetectSyntax':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Inspects the text of a batch of documents for the syntax and part of speech of the words in the document and returns information about them. For more information, see <a>how-syntax</a>.'
      operationId: BatchDetectSyntax
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/BatchDetectSyntaxRequest'
        - enum:
            - Comprehend_20171127.BatchDetectSyntax
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchDetectSyntaxResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TextSizeLimitExceededException
          schema:
            $ref: '#/definitions/TextSizeLimitExceededException'
        '482':
          description: UnsupportedLanguageException
          schema:
            $ref: '#/definitions/UnsupportedLanguageException'
        '483':
          description: BatchSizeLimitExceededException
          schema:
            $ref: '#/definitions/BatchSizeLimitExceededException'
        '484':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=Comprehend_20171127.CreateDocumentClassifier':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Creates a new document classifier that you can use to categorize documents. To create a classifier you provide a set of training documents that labeled with the categories that you want to use. After the classifier is trained you can use it to categorize a set of labeled documents into the categories. For more information, see <a>how-document-classification</a>.'
      operationId: CreateDocumentClassifier
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateDocumentClassifierRequest'
        - enum:
            - Comprehend_20171127.CreateDocumentClassifier
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDocumentClassifierResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '483':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '484':
          description: ResourceLimitExceededException
          schema:
            $ref: '#/definitions/ResourceLimitExceededException'
        '485':
          description: UnsupportedLanguageException
          schema:
            $ref: '#/definitions/UnsupportedLanguageException'
        '486':
          description: KmsKeyValidationException
          schema:
            $ref: '#/definitions/KmsKeyValidationException'
        '487':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=Comprehend_20171127.CreateEntityRecognizer':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Creates an entity recognizer using submitted files. After your <code>CreateEntityRecognizer</code> request is submitted, you can check job status using the API. '
      operationId: CreateEntityRecognizer
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateEntityRecognizerRequest'
        - enum:
            - Comprehend_20171127.CreateEntityRecognizer
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateEntityRecognizerResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '483':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '484':
          description: ResourceLimitExceededException
          schema:
            $ref: '#/definitions/ResourceLimitExceededException'
        '485':
          description: UnsupportedLanguageException
          schema:
            $ref: '#/definitions/UnsupportedLanguageException'
        '486':
          description: KmsKeyValidationException
          schema:
            $ref: '#/definitions/KmsKeyValidationException'
        '487':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=Comprehend_20171127.DeleteDocumentClassifier':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Deletes a previously created document classifier</p> <p>Only those classifiers that are in terminated states (IN_ERROR, TRAINED) will be deleted. If an active inference job is using the model, a <code>ResourceInUseException</code> will be returned.</p> <p>This is an asynchronous action that puts the classifier into a DELETING state, and it is then removed by a background job. Once removed, the classifier disappears from your account and is no longer available for use. </p>'
      operationId: DeleteDocumentClassifier
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteDocumentClassifierRequest'
        - enum:
            - Comprehend_20171127.DeleteDocumentClassifier
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDocumentClassifierResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ResourceUnavailableException
          schema:
            $ref: '#/definitions/ResourceUnavailableException'
        '484':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '485':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=Comprehend_20171127.DeleteEntityRecognizer':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Deletes an entity recognizer.</p> <p>Only those recognizers that are in terminated states (IN_ERROR, TRAINED) will be deleted. If an active inference job is using the model, a <code>ResourceInUseException</code> will be returned.</p> <p>This is an asynchronous action that puts the recognizer into a DELETING state, and it is then removed by a background job. Once removed, the recognizer disappears from your account and is no longer available for use. </p>'
      operationId: DeleteEntityRecognizer
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteEntityRecognizerRequest'
        - enum:
            - Comprehend_20171127.DeleteEntityRecognizer
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteEntityRecognizerResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ResourceUnavailableException
          schema:
            $ref: '#/definitions/ResourceUnavailableException'
        '484':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '485':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=Comprehend_20171127.DescribeDocumentClassificationJob':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets the properties associated with a document classification job. Use this operation to get the status of a classification job.
      operationId: DescribeDocumentClassificationJob
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDocumentClassificationJobRequest'
        - enum:
            - Comprehend_20171127.DescribeDocumentClassificationJob
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDocumentClassificationJobResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: JobNotFoundException
          schema:
            $ref: '#/definitions/JobNotFoundException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=Comprehend_20171127.DescribeDocumentClassifier':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets the properties associated with a document classifier.
      operationId: DescribeDocumentClassifier
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDocumentClassifierRequest'
        - enum:
            - Comprehend_20171127.DescribeDocumentClassifier
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDocumentClassifierResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=Comprehend_20171127.DescribeDominantLanguageDetectionJob':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets the properties associated with a dominant language detection job. Use this operation to get the status of a detection job.
      operationId: DescribeDominantLanguageDetectionJob
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDominantLanguageDetectionJobRequest'
        - enum:
            - Comprehend_20171127.DescribeDominantLanguageDetectionJob
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDominantLanguageDetectionJobResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: JobNotFoundException
          schema:
            $ref: '#/definitions/JobNotFoundException'
        '482':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=Comprehend_20171127.DescribeEntitiesDetectionJob':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets the properties associated with an entities detection job. Use this operation to get the status of a detection job.
      operationId: DescribeEntitiesDetectionJob
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeEntitiesDetectionJobRequest'
        - enum:
            - Comprehend_20171127.DescribeEntitiesDetectionJob
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeEntitiesDetectionJobResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: JobNotFoundException
          schema:
            $ref: '#/definitions/JobNotFoundException'
        '482':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=Comprehend_20171127.DescribeEntityRecognizer':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Provides details about an entity recognizer including status, S3 buckets containing training data, recognizer metadata, metrics, and so on.'
      operationId: DescribeEntityRecognizer
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeEntityRecognizerRequest'
        - enum:
            - Comprehend_20171127.DescribeEntityRecognizer
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeEntityRecognizerResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=Comprehend_20171127.DescribeKeyPhrasesDetectionJob':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets the properties associated with a key phrases detection job. Use this operation to get the status of a detection job.
      operationId: DescribeKeyPhrasesDetectionJob
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeKeyPhrasesDetectionJobRequest'
        - enum:
            - Comprehend_20171127.DescribeKeyPhrasesDetectionJob
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeKeyPhrasesDetectionJobResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: JobNotFoundException
          schema:
            $ref: '#/definitions/JobNotFoundException'
        '482':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=Comprehend_20171127.DescribeSentimentDetectionJob':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets the properties associated with a sentiment detection job. Use this operation to get the status of a detection job.
      operationId: DescribeSentimentDetectionJob
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeSentimentDetectionJobRequest'
        - enum:
            - Comprehend_20171127.DescribeSentimentDetectionJob
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeSentimentDetectionJobResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: JobNotFoundException
          schema:
            $ref: '#/definitions/JobNotFoundException'
        '482':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=Comprehend_20171127.DescribeTopicsDetectionJob':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets the properties associated with a topic detection job. Use this operation to get the status of a detection job.
      operationId: DescribeTopicsDetectionJob
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeTopicsDetectionJobRequest'
        - enum:
            - Comprehend_20171127.DescribeTopicsDetectionJob
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeTopicsDetectionJobResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: JobNotFoundException
          schema:
            $ref: '#/definitions/JobNotFoundException'
        '482':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=Comprehend_20171127.DetectDominantLanguage':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Determines the dominant language of the input text. For a list of languages that Amazon Comprehend can detect, see <a href="https://docs.aws.amazon.com/comprehend/latest/dg/how-languages.html">Amazon Comprehend Supported Languages</a>. '
      operationId: DetectDominantLanguage
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DetectDominantLanguageRequest'
        - enum:
            - Comprehend_20171127.DetectDominantLanguage
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DetectDominantLanguageResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TextSizeLimitExceededException
          schema:
            $ref: '#/definitions/TextSizeLimitExceededException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=Comprehend_20171127.DetectEntities':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Inspects text for named entities, and returns information about them. For more information, about named entities, see <a>how-entities</a>. '
      operationId: DetectEntities
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DetectEntitiesRequest'
        - enum:
            - Comprehend_20171127.DetectEntities
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DetectEntitiesResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TextSizeLimitExceededException
          schema:
            $ref: '#/definitions/TextSizeLimitExceededException'
        '482':
          description: UnsupportedLanguageException
          schema:
            $ref: '#/definitions/UnsupportedLanguageException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=Comprehend_20171127.DetectKeyPhrases':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Detects the key noun phrases found in the text. '
      operationId: DetectKeyPhrases
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DetectKeyPhrasesRequest'
        - enum:
            - Comprehend_20171127.DetectKeyPhrases
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DetectKeyPhrasesResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TextSizeLimitExceededException
          schema:
            $ref: '#/definitions/TextSizeLimitExceededException'
        '482':
          description: UnsupportedLanguageException
          schema:
            $ref: '#/definitions/UnsupportedLanguageException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=Comprehend_20171127.DetectSentiment':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Inspects text and returns an inference of the prevailing sentiment (<code>POSITIVE</code>, <code>NEUTRAL</code>, <code>MIXED</code>, or <code>NEGATIVE</code>). '
      operationId: DetectSentiment
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DetectSentimentRequest'
        - enum:
            - Comprehend_20171127.DetectSentiment
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DetectSentimentResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TextSizeLimitExceededException
          schema:
            $ref: '#/definitions/TextSizeLimitExceededException'
        '482':
          description: UnsupportedLanguageException
          schema:
            $ref: '#/definitions/UnsupportedLanguageException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=Comprehend_20171127.DetectSyntax':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Inspects text for syntax and the part of speech of words in the document. For more information, <a>how-syntax</a>.'
      operationId: DetectSyntax
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DetectSyntaxRequest'
        - enum:
            - Comprehend_20171127.DetectSyntax
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DetectSyntaxResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TextSizeLimitExceededException
          schema:
            $ref: '#/definitions/TextSizeLimitExceededException'
        '482':
          description: UnsupportedLanguageException
          schema:
            $ref: '#/definitions/UnsupportedLanguageException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=Comprehend_20171127.ListDocumentClassificationJobs':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets a list of the documentation classification jobs that you have submitted.
      operationId: ListDocumentClassificationJobs
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListDocumentClassificationJobsRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - Comprehend_20171127.ListDocumentClassificationJobs
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDocumentClassificationJobsResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: InvalidFilterException
          schema:
            $ref: '#/definitions/InvalidFilterException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=Comprehend_20171127.ListDocumentClassifiers':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets a list of the document classifiers that you have created.
      operationId: ListDocumentClassifiers
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListDocumentClassifiersRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - Comprehend_20171127.ListDocumentClassifiers
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDocumentClassifiersResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: InvalidFilterException
          schema:
            $ref: '#/definitions/InvalidFilterException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=Comprehend_20171127.ListDominantLanguageDetectionJobs':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets a list of the dominant language detection jobs that you have submitted.
      operationId: ListDominantLanguageDetectionJobs
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListDominantLanguageDetectionJobsRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - Comprehend_20171127.ListDominantLanguageDetectionJobs
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDominantLanguageDetectionJobsResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: InvalidFilterException
          schema:
            $ref: '#/definitions/InvalidFilterException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=Comprehend_20171127.ListEntitiesDetectionJobs':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets a list of the entity detection jobs that you have submitted.
      operationId: ListEntitiesDetectionJobs
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListEntitiesDetectionJobsRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - Comprehend_20171127.ListEntitiesDetectionJobs
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListEntitiesDetectionJobsResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: InvalidFilterException
          schema:
            $ref: '#/definitions/InvalidFilterException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=Comprehend_20171127.ListEntityRecognizers':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Gets a list of the properties of all entity recognizers that you created, including recognizers currently in training. Allows you to filter the list of recognizers based on criteria such as status and submission time. This call returns up to 500 entity recognizers in the list, with a default number of 100 recognizers in the list.</p> <p>The results of this list are not in any particular order. Please get the list and sort locally if needed.</p>'
      operationId: ListEntityRecognizers
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListEntityRecognizersRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - Comprehend_20171127.ListEntityRecognizers
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListEntityRecognizersResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: InvalidFilterException
          schema:
            $ref: '#/definitions/InvalidFilterException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=Comprehend_20171127.ListKeyPhrasesDetectionJobs':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Get a list of key phrase detection jobs that you have submitted.
      operationId: ListKeyPhrasesDetectionJobs
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListKeyPhrasesDetectionJobsRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - Comprehend_20171127.ListKeyPhrasesDetectionJobs
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListKeyPhrasesDetectionJobsResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: InvalidFilterException
          schema:
            $ref: '#/definitions/InvalidFilterException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=Comprehend_20171127.ListSentimentDetectionJobs':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets a list of sentiment detection jobs that you have submitted.
      operationId: ListSentimentDetectionJobs
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListSentimentDetectionJobsRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - Comprehend_20171127.ListSentimentDetectionJobs
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListSentimentDetectionJobsResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: InvalidFilterException
          schema:
            $ref: '#/definitions/InvalidFilterException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=Comprehend_20171127.ListTagsForResource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Lists all tags associated with a given Amazon Comprehend resource. '
      operationId: ListTagsForResource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListTagsForResourceRequest'
        - enum:
            - Comprehend_20171127.ListTagsForResource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForResourceResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=Comprehend_20171127.ListTopicsDetectionJobs':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets a list of the topic detection jobs that you have submitted.
      operationId: ListTopicsDetectionJobs
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListTopicsDetectionJobsRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - Comprehend_20171127.ListTopicsDetectionJobs
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTopicsDetectionJobsResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: InvalidFilterException
          schema:
            $ref: '#/definitions/InvalidFilterException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=Comprehend_20171127.StartDocumentClassificationJob':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Starts an asynchronous document classification job. Use the operation to track the progress of the job.
      operationId: StartDocumentClassificationJob
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/StartDocumentClassificationJobRequest'
        - enum:
            - Comprehend_20171127.StartDocumentClassificationJob
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartDocumentClassificationJobResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ResourceUnavailableException
          schema:
            $ref: '#/definitions/ResourceUnavailableException'
        '484':
          description: KmsKeyValidationException
          schema:
            $ref: '#/definitions/KmsKeyValidationException'
        '485':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=Comprehend_20171127.StartDominantLanguageDetectionJob':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Starts an asynchronous dominant language detection job for a collection of documents. Use the operation to track the status of a job.
      operationId: StartDominantLanguageDetectionJob
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/StartDominantLanguageDetectionJobRequest'
        - enum:
            - Comprehend_20171127.StartDominantLanguageDetectionJob
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartDominantLanguageDetectionJobResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: KmsKeyValidationException
          schema:
            $ref: '#/definitions/KmsKeyValidationException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=Comprehend_20171127.StartEntitiesDetectionJob':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Starts an asynchronous entity detection job for a collection of documents. Use the operation to track the status of a job.</p> <p>This API can be used for either standard entity detection or custom entity recognition. In order to be used for custom entity recognition, the optional <code>EntityRecognizerArn</code> must be used in order to provide access to the recognizer being used to detect the custom entity.</p>'
      operationId: StartEntitiesDetectionJob
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/StartEntitiesDetectionJobRequest'
        - enum:
            - Comprehend_20171127.StartEntitiesDetectionJob
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartEntitiesDetectionJobResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ResourceUnavailableException
          schema:
            $ref: '#/definitions/ResourceUnavailableException'
        '484':
          description: KmsKeyValidationException
          schema:
            $ref: '#/definitions/KmsKeyValidationException'
        '485':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=Comprehend_20171127.StartKeyPhrasesDetectionJob':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Starts an asynchronous key phrase detection job for a collection of documents. Use the operation to track the status of a job.
      operationId: StartKeyPhrasesDetectionJob
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/StartKeyPhrasesDetectionJobRequest'
        - enum:
            - Comprehend_20171127.StartKeyPhrasesDetectionJob
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartKeyPhrasesDetectionJobResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: KmsKeyValidationException
          schema:
            $ref: '#/definitions/KmsKeyValidationException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=Comprehend_20171127.StartSentimentDetectionJob':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Starts an asynchronous sentiment detection job for a collection of documents. use the operation to track the status of a job.
      operationId: StartSentimentDetectionJob
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/StartSentimentDetectionJobRequest'
        - enum:
            - Comprehend_20171127.StartSentimentDetectionJob
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartSentimentDetectionJobResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: KmsKeyValidationException
          schema:
            $ref: '#/definitions/KmsKeyValidationException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=Comprehend_20171127.StartTopicsDetectionJob':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Starts an asynchronous topic detection job. Use the <code>DescribeTopicDetectionJob</code> operation to track the status of a job.
      operationId: StartTopicsDetectionJob
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/StartTopicsDetectionJobRequest'
        - enum:
            - Comprehend_20171127.StartTopicsDetectionJob
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartTopicsDetectionJobResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: KmsKeyValidationException
          schema:
            $ref: '#/definitions/KmsKeyValidationException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=Comprehend_20171127.StopDominantLanguageDetectionJob':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Stops a dominant language detection job in progress.</p> <p>If the job state is <code>IN_PROGRESS</code> the job is marked for termination and put into the <code>STOP_REQUESTED</code> state. If the job completes before it can be stopped, it is put into the <code>COMPLETED</code> state; otherwise the job is stopped and put into the <code>STOPPED</code> state.</p> <p>If the job is in the <code>COMPLETED</code> or <code>FAILED</code> state when you call the <code>StopDominantLanguageDetectionJob</code> operation, the operation returns a 400 Internal Request Exception. </p> <p>When a job is stopped, any documents already processed are written to the output location.</p>'
      operationId: StopDominantLanguageDetectionJob
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/StopDominantLanguageDetectionJobRequest'
        - enum:
            - Comprehend_20171127.StopDominantLanguageDetectionJob
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopDominantLanguageDetectionJobResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: JobNotFoundException
          schema:
            $ref: '#/definitions/JobNotFoundException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=Comprehend_20171127.StopEntitiesDetectionJob':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Stops an entities detection job in progress.</p> <p>If the job state is <code>IN_PROGRESS</code> the job is marked for termination and put into the <code>STOP_REQUESTED</code> state. If the job completes before it can be stopped, it is put into the <code>COMPLETED</code> state; otherwise the job is stopped and put into the <code>STOPPED</code> state.</p> <p>If the job is in the <code>COMPLETED</code> or <code>FAILED</code> state when you call the <code>StopDominantLanguageDetectionJob</code> operation, the operation returns a 400 Internal Request Exception. </p> <p>When a job is stopped, any documents already processed are written to the output location.</p>'
      operationId: StopEntitiesDetectionJob
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/StopEntitiesDetectionJobRequest'
        - enum:
            - Comprehend_20171127.StopEntitiesDetectionJob
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopEntitiesDetectionJobResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: JobNotFoundException
          schema:
            $ref: '#/definitions/JobNotFoundException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=Comprehend_20171127.StopKeyPhrasesDetectionJob':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Stops a key phrases detection job in progress.</p> <p>If the job state is <code>IN_PROGRESS</code> the job is marked for termination and put into the <code>STOP_REQUESTED</code> state. If the job completes before it can be stopped, it is put into the <code>COMPLETED</code> state; otherwise the job is stopped and put into the <code>STOPPED</code> state.</p> <p>If the job is in the <code>COMPLETED</code> or <code>FAILED</code> state when you call the <code>StopDominantLanguageDetectionJob</code> operation, the operation returns a 400 Internal Request Exception. </p> <p>When a job is stopped, any documents already processed are written to the output location.</p>'
      operationId: StopKeyPhrasesDetectionJob
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/StopKeyPhrasesDetectionJobRequest'
        - enum:
            - Comprehend_20171127.StopKeyPhrasesDetectionJob
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopKeyPhrasesDetectionJobResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: JobNotFoundException
          schema:
            $ref: '#/definitions/JobNotFoundException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=Comprehend_20171127.StopSentimentDetectionJob':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Stops a sentiment detection job in progress.</p> <p>If the job state is <code>IN_PROGRESS</code> the job is marked for termination and put into the <code>STOP_REQUESTED</code> state. If the job completes before it can be stopped, it is put into the <code>COMPLETED</code> state; otherwise the job is be stopped and put into the <code>STOPPED</code> state.</p> <p>If the job is in the <code>COMPLETED</code> or <code>FAILED</code> state when you call the <code>StopDominantLanguageDetectionJob</code> operation, the operation returns a 400 Internal Request Exception. </p> <p>When a job is stopped, any documents already processed are written to the output location.</p>'
      operationId: StopSentimentDetectionJob
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/StopSentimentDetectionJobRequest'
        - enum:
            - Comprehend_20171127.StopSentimentDetectionJob
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopSentimentDetectionJobResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: JobNotFoundException
          schema:
            $ref: '#/definitions/JobNotFoundException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=Comprehend_20171127.StopTrainingDocumentClassifier':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Stops a document classifier training job while in progress.</p> <p>If the training job state is <code>TRAINING</code>, the job is marked for termination and put into the <code>STOP_REQUESTED</code> state. If the training job completes before it can be stopped, it is put into the <code>TRAINED</code>; otherwise the training job is stopped and put into the <code>STOPPED</code> state and the service sends back an HTTP 200 response with an empty HTTP body. </p>'
      operationId: StopTrainingDocumentClassifier
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/StopTrainingDocumentClassifierRequest'
        - enum:
            - Comprehend_20171127.StopTrainingDocumentClassifier
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopTrainingDocumentClassifierResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=Comprehend_20171127.StopTrainingEntityRecognizer':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Stops an entity recognizer training job while in progress.</p> <p>If the training job state is <code>TRAINING</code>, the job is marked for termination and put into the <code>STOP_REQUESTED</code> state. If the training job completes before it can be stopped, it is put into the <code>TRAINED</code>; otherwise the training job is stopped and putted into the <code>STOPPED</code> state and the service sends back an HTTP 200 response with an empty HTTP body.</p>'
      operationId: StopTrainingEntityRecognizer
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/StopTrainingEntityRecognizerRequest'
        - enum:
            - Comprehend_20171127.StopTrainingEntityRecognizer
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopTrainingEntityRecognizerResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=Comprehend_20171127.TagResource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Associates a specific tag with an Amazon Comprehend resource. A tag is a key-value pair that adds as a metadata to a resource used by Amazon Comprehend. For example, a tag with "Sales" as the key might be added to a resource to indicate its use by the sales department. '
      operationId: TagResource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/TagResourceRequest'
        - enum:
            - Comprehend_20171127.TagResource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TagResourceResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '484':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=Comprehend_20171127.UntagResource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Removes a specific tag associated with an Amazon Comprehend resource. '
      operationId: UntagResource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UntagResourceRequest'
        - enum:
            - Comprehend_20171127.UntagResource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UntagResourceResponse'
        '480':
          description: TooManyTagKeysException
          schema:
            $ref: '#/definitions/TooManyTagKeysException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '482':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
definitions:
  AnyLengthString:
    type: string
  BatchDetectDominantLanguageItemResult:
    description: The result of calling the operation. The operation returns one object for each document that is successfully processed by the operation.
    properties:
      Index:
        $ref: '#/definitions/Integer'
        description: The zero-based index of the document in the input list.
      Languages:
        $ref: '#/definitions/ListOfDominantLanguages'
        description: One or more <a>DominantLanguage</a> objects describing the dominant languages in the document.
    type: object
  BatchDetectDominantLanguageRequest:
    properties:
      TextList:
        $ref: '#/definitions/StringList'
        description: 'A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document should contain at least 20 characters and must contain fewer than 5,000 bytes of UTF-8 encoded characters.'
    required:
      - TextList
    type: object
  BatchDetectDominantLanguageResponse:
    properties:
      ErrorList:
        $ref: '#/definitions/BatchItemErrorList'
        description: 'A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.'
      ResultList:
        $ref: '#/definitions/ListOfDetectDominantLanguageResult'
        description: 'A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.'
    required:
      - ResultList
      - ErrorList
    type: object
  BatchDetectEntitiesItemResult:
    description: The result of calling the operation. The operation returns one object for each document that is successfully processed by the operation.
    properties:
      Entities:
        $ref: '#/definitions/ListOfEntities'
        description: 'One or more <a>Entity</a> objects, one for each entity detected in the document.'
      Index:
        $ref: '#/definitions/Integer'
        description: The zero-based index of the document in the input list.
    type: object
  BatchDetectEntitiesRequest:
    properties:
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: 'The language of the input documents. You can specify any of the primary languages supported by Amazon Comprehend: German ("de"), English ("en"), Spanish ("es"), French ("fr"), Italian ("it"), or Portuguese ("pt"). All documents must be in the same language.'
      TextList:
        $ref: '#/definitions/StringList'
        description: 'A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document must contain fewer than 5,000 bytes of UTF-8 encoded characters.'
    required:
      - TextList
      - LanguageCode
    type: object
  BatchDetectEntitiesResponse:
    properties:
      ErrorList:
        $ref: '#/definitions/BatchItemErrorList'
        description: 'A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.'
      ResultList:
        $ref: '#/definitions/ListOfDetectEntitiesResult'
        description: 'A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.'
    required:
      - ResultList
      - ErrorList
    type: object
  BatchDetectKeyPhrasesItemResult:
    description: The result of calling the operation. The operation returns one object for each document that is successfully processed by the operation.
    properties:
      Index:
        $ref: '#/definitions/Integer'
        description: The zero-based index of the document in the input list.
      KeyPhrases:
        $ref: '#/definitions/ListOfKeyPhrases'
        description: 'One or more <a>KeyPhrase</a> objects, one for each key phrase detected in the document.'
    type: object
  BatchDetectKeyPhrasesRequest:
    properties:
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: 'The language of the input documents. You can specify any of the primary languages supported by Amazon Comprehend: German ("de"), English ("en"), Spanish ("es"), French ("fr"), Italian ("it"), or Portuguese ("pt"). All documents must be in the same language.'
      TextList:
        $ref: '#/definitions/StringList'
        description: 'A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document must contain fewer that 5,000 bytes of UTF-8 encoded characters.'
    required:
      - TextList
      - LanguageCode
    type: object
  BatchDetectKeyPhrasesResponse:
    properties:
      ErrorList:
        $ref: '#/definitions/BatchItemErrorList'
        description: 'A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.'
      ResultList:
        $ref: '#/definitions/ListOfDetectKeyPhrasesResult'
        description: 'A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.'
    required:
      - ResultList
      - ErrorList
    type: object
  BatchDetectSentimentItemResult:
    description: The result of calling the operation. The operation returns one object for each document that is successfully processed by the operation.
    properties:
      Index:
        $ref: '#/definitions/Integer'
        description: The zero-based index of the document in the input list.
      Sentiment:
        $ref: '#/definitions/SentimentType'
        description: The sentiment detected in the document.
      SentimentScore:
        $ref: '#/definitions/SentimentScore'
        description: The level of confidence that Amazon Comprehend has in the accuracy of its sentiment detection.
    type: object
  BatchDetectSentimentRequest:
    properties:
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: 'The language of the input documents. You can specify any of the primary languages supported by Amazon Comprehend: German ("de"), English ("en"), Spanish ("es"), French ("fr"), Italian ("it"), or Portuguese ("pt"). All documents must be in the same language.'
      TextList:
        $ref: '#/definitions/StringList'
        description: 'A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document must contain fewer that 5,000 bytes of UTF-8 encoded characters.'
    required:
      - TextList
      - LanguageCode
    type: object
  BatchDetectSentimentResponse:
    properties:
      ErrorList:
        $ref: '#/definitions/BatchItemErrorList'
        description: 'A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.'
      ResultList:
        $ref: '#/definitions/ListOfDetectSentimentResult'
        description: 'A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.'
    required:
      - ResultList
      - ErrorList
    type: object
  BatchDetectSyntaxItemResult:
    description: The result of calling the operation. The operation returns one object that is successfully processed by the operation.
    properties:
      Index:
        $ref: '#/definitions/Integer'
        description: The zero-based index of the document in the input list.
      SyntaxTokens:
        $ref: '#/definitions/ListOfSyntaxTokens'
        description: 'The syntax tokens for the words in the document, one token for each word.'
    type: object
  BatchDetectSyntaxRequest:
    properties:
      LanguageCode:
        $ref: '#/definitions/SyntaxLanguageCode'
        description: 'The language of the input documents. You can specify any of the primary languages supported by Amazon Comprehend: German ("de"), English ("en"), Spanish ("es"), French ("fr"), Italian ("it"), or Portuguese ("pt"). All documents must be in the same language.'
      TextList:
        $ref: '#/definitions/StringList'
        description: 'A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document must contain fewer that 5,000 bytes of UTF-8 encoded characters.'
    required:
      - TextList
      - LanguageCode
    type: object
  BatchDetectSyntaxResponse:
    properties:
      ErrorList:
        $ref: '#/definitions/BatchItemErrorList'
        description: 'A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.'
      ResultList:
        $ref: '#/definitions/ListOfDetectSyntaxResult'
        description: 'A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.'
    required:
      - ResultList
      - ErrorList
    type: object
  BatchItemError:
    description: Describes an error that occurred while processing a document in a batch. The operation returns on <code>BatchItemError</code> object for each document that contained an error.
    properties:
      ErrorCode:
        $ref: '#/definitions/String'
        description: The numeric error code of the error.
      ErrorMessage:
        $ref: '#/definitions/String'
        description: A text description of the error.
      Index:
        $ref: '#/definitions/Integer'
        description: The zero-based index of the document in the input list.
    type: object
  BatchItemErrorList:
    items:
      $ref: '#/definitions/BatchItemError'
    type: array
  BatchSizeLimitExceededException: {}
  ClassifierEvaluationMetrics:
    description: Describes the result metrics for the test data associated with an documentation classifier.
    properties:
      Accuracy:
        $ref: '#/definitions/Double'
        description: The fraction of the labels that were correct recognized. It is computed by dividing the number of labels in the test documents that were correctly recognized by the total number of labels in the test documents.
      F1Score:
        $ref: '#/definitions/Double'
        description: 'A measure of how accurate the classifier results are for the test data. It is derived from the <code>Precision</code> and <code>Recall</code> values. The <code>F1Score</code> is the harmonic average of the two scores. The highest score is 1, and the worst score is 0. '
      Precision:
        $ref: '#/definitions/Double'
        description: A measure of the usefulness of the classifier results in the test data. High precision means that the classifier returned substantially more relevant results than irrelevant ones.
      Recall:
        $ref: '#/definitions/Double'
        description: 'A measure of how complete the classifier results are for the test data. High recall means that the classifier returned most of the relevant results. '
    type: object
  ClassifierMetadata:
    description: Provides information about a document classifier.
    properties:
      EvaluationMetrics:
        $ref: '#/definitions/ClassifierEvaluationMetrics'
        description: ' Describes the result metrics for the test data associated with an documentation classifier.'
      NumberOfLabels:
        $ref: '#/definitions/Integer'
        description: 'The number of labels in the input data. '
      NumberOfTestDocuments:
        $ref: '#/definitions/Integer'
        description: The number of documents in the input data that were used to test the classifier. Typically this is 10 to 20 percent of the input documents.
      NumberOfTrainedDocuments:
        $ref: '#/definitions/Integer'
        description: The number of documents in the input data that were used to train the classifier. Typically this is 80 to 90 percent of the input documents.
    type: object
  ClientRequestTokenString:
    maxLength: 64
    minLength: 1
    pattern: '^[a-zA-Z0-9-]+$'
    type: string
  ComprehendArn:
    maxLength: 256
    pattern: 'arn:aws(-[^:]+)?:comprehend:[a-zA-Z0-9-]*:[0-9]{12}:[a-zA-Z0-9-]{1,64}/[a-zA-Z0-9](-*[a-zA-Z0-9])*'
    type: string
  ComprehendArnName:
    maxLength: 63
    pattern: '^[a-zA-Z0-9](-*[a-zA-Z0-9])*'
    type: string
  ConcurrentModificationException: {}
  CreateDocumentClassifierRequest:
    properties:
      ClientRequestToken:
        $ref: '#/definitions/ClientRequestTokenString'
        description: 'A unique identifier for the request. If you don''t set the client request token, Amazon Comprehend generates one.'
      DataAccessRoleArn:
        $ref: '#/definitions/IamRoleArn'
        description: The Amazon Resource Name (ARN) of the AWS Identity and Management (IAM) role that grants Amazon Comprehend read access to your input data.
      DocumentClassifierName:
        $ref: '#/definitions/ComprehendArnName'
        description: The name of the document classifier.
[...]
