swagger: '2.0'
info:
  version: '2017-11-27'
  x-release: v4
  title: Amazon Comprehend
  description: 'Amazon Comprehend is an AWS service for gaining insight into the content of documents. Use these actions to determine the topics contained in your documents, the topics they discuss, the predominant sentiment expressed in them, the predominant language used, and more.'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: comprehend
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/comprehend-2017-11-27.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/comprehend/'
host: comprehend.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: header
    type: string
    required: true
  Version:
    name: Version
    in: header
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /:
    post:
      operationId: BatchDetectDominantLanguage
      description: 'Determines the dominant language of the input text for a batch of documents. For a list of languages that Amazon Comprehend can detect, see <a href="http://docs.aws.amazon.com/comprehend/latest/dg/how-languages.html">Amazon Comprehend Supported Languages</a>. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchDetectDominantLanguageResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TextSizeLimitExceededException
          schema:
            $ref: '#/definitions/TextSizeLimitExceededException'
        '482':
          description: BatchSizeLimitExceededException
          schema:
            $ref: '#/definitions/BatchSizeLimitExceededException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BatchDetectDominantLanguageRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#BatchDetectEntities':
    post:
      operationId: BatchDetectEntities
      description: 'Inspects the text of a batch of documents and returns information about them. For more information about entities, see <a>how-entities</a> '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchDetectEntitiesResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TextSizeLimitExceededException
          schema:
            $ref: '#/definitions/TextSizeLimitExceededException'
        '482':
          description: UnsupportedLanguageException
          schema:
            $ref: '#/definitions/UnsupportedLanguageException'
        '483':
          description: BatchSizeLimitExceededException
          schema:
            $ref: '#/definitions/BatchSizeLimitExceededException'
        '484':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BatchDetectEntitiesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#BatchDetectKeyPhrases':
    post:
      operationId: BatchDetectKeyPhrases
      description: Detects the key noun phrases found in a batch of documents.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchDetectKeyPhrasesResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TextSizeLimitExceededException
          schema:
            $ref: '#/definitions/TextSizeLimitExceededException'
        '482':
          description: UnsupportedLanguageException
          schema:
            $ref: '#/definitions/UnsupportedLanguageException'
        '483':
          description: BatchSizeLimitExceededException
          schema:
            $ref: '#/definitions/BatchSizeLimitExceededException'
        '484':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BatchDetectKeyPhrasesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#BatchDetectSentiment':
    post:
      operationId: BatchDetectSentiment
      description: 'Inspects a batch of documents and returns an inference of the prevailing sentiment, <code>POSITIVE</code>, <code>NEUTRAL</code>, <code>MIXED</code>, or <code>NEGATIVE</code>, in each one.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchDetectSentimentResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TextSizeLimitExceededException
          schema:
            $ref: '#/definitions/TextSizeLimitExceededException'
        '482':
          description: UnsupportedLanguageException
          schema:
            $ref: '#/definitions/UnsupportedLanguageException'
        '483':
          description: BatchSizeLimitExceededException
          schema:
            $ref: '#/definitions/BatchSizeLimitExceededException'
        '484':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BatchDetectSentimentRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeTopicsDetectionJob':
    post:
      operationId: DescribeTopicsDetectionJob
      description: Gets the properties associated with a topic detection job. Use this operation to get the status of a detection job.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeTopicsDetectionJobResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: JobNotFoundException
          schema:
            $ref: '#/definitions/JobNotFoundException'
        '482':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeTopicsDetectionJobRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DetectDominantLanguage':
    post:
      operationId: DetectDominantLanguage
      description: 'Determines the dominant language of the input text. For a list of languages that Amazon Comprehend can detect, see <a href="http://docs.aws.amazon.com/comprehend/latest/dg/how-languages.html">Amazon Comprehend Supported Languages</a>. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DetectDominantLanguageResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TextSizeLimitExceededException
          schema:
            $ref: '#/definitions/TextSizeLimitExceededException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DetectDominantLanguageRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DetectEntities':
    post:
      operationId: DetectEntities
      description: 'Inspects text for entities, and returns information about them. For more information, about entities, see <a>how-entities</a>. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DetectEntitiesResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TextSizeLimitExceededException
          schema:
            $ref: '#/definitions/TextSizeLimitExceededException'
        '482':
          description: UnsupportedLanguageException
          schema:
            $ref: '#/definitions/UnsupportedLanguageException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DetectEntitiesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DetectKeyPhrases':
    post:
      operationId: DetectKeyPhrases
      description: 'Detects the key noun phrases found in the text. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DetectKeyPhrasesResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TextSizeLimitExceededException
          schema:
            $ref: '#/definitions/TextSizeLimitExceededException'
        '482':
          description: UnsupportedLanguageException
          schema:
            $ref: '#/definitions/UnsupportedLanguageException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DetectKeyPhrasesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DetectSentiment':
    post:
      operationId: DetectSentiment
      description: 'Inspects text and returns an inference of the prevailing sentiment (<code>POSITIVE</code>, <code>NEUTRAL</code>, <code>MIXED</code>, or <code>NEGATIVE</code>). '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DetectSentimentResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TextSizeLimitExceededException
          schema:
            $ref: '#/definitions/TextSizeLimitExceededException'
        '482':
          description: UnsupportedLanguageException
          schema:
            $ref: '#/definitions/UnsupportedLanguageException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DetectSentimentRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListTopicsDetectionJobs':
    post:
      operationId: ListTopicsDetectionJobs
      description: Gets a list of the topic detection jobs that you have submitted.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTopicsDetectionJobsResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: InvalidFilterException
          schema:
            $ref: '#/definitions/InvalidFilterException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListTopicsDetectionJobsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#StartTopicsDetectionJob':
    post:
      operationId: StartTopicsDetectionJob
      description: Starts an asynchronous topic detection job. Use the <code>DescribeTopicDetectionJob</code> operation to track the status of a job.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartTopicsDetectionJobResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StartTopicsDetectionJobRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  AnyLengthString:
    type: string
  BatchDetectDominantLanguageItemResult:
    type: object
    properties:
      Index:
        $ref: '#/definitions/Integer'
        description: The zero-based index of the document in the input list.
      Languages:
        $ref: '#/definitions/ListOfDominantLanguages'
        description: One or more <a>DominantLanguage</a> objects describing the dominant languages in the document.
    description: The result of calling the operation. The operation returns one object for each document that is successfully processed by the operation.
  BatchDetectDominantLanguageRequest:
    type: object
    required:
      - TextList
    properties:
      TextList:
        $ref: '#/definitions/StringList'
        description: 'A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document should contain at least 20 characters and must contain fewer than 5,000 bytes of UTF-8 encoded characters.'
  BatchDetectDominantLanguageResponse:
    type: object
    required:
      - ResultList
      - ErrorList
    properties:
      ResultList:
        $ref: '#/definitions/ListOfDetectDominantLanguageResult'
        description: 'A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.'
      ErrorList:
        $ref: '#/definitions/BatchItemErrorList'
        description: 'A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.'
  BatchDetectEntitiesItemResult:
    type: object
    properties:
      Index:
        $ref: '#/definitions/Integer'
        description: The zero-based index of the document in the input list.
      Entities:
        $ref: '#/definitions/ListOfEntities'
        description: 'One or more <a>Entity</a> objects, one for each entity detected in the document.'
    description: The result of calling the operation. The operation returns one object for each document that is successfully processed by the operation.
  BatchDetectEntitiesRequest:
    type: object
    required:
      - TextList
      - LanguageCode
    properties:
      TextList:
        $ref: '#/definitions/StringList'
        description: 'A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document must contain fewer than 5,000 bytes of UTF-8 encoded characters.'
      LanguageCode:
        $ref: '#/definitions/String'
        description: The language of the input documents. All documents must be in the same language.
  BatchDetectEntitiesResponse:
    type: object
    required:
      - ResultList
      - ErrorList
    properties:
      ResultList:
        $ref: '#/definitions/ListOfDetectEntitiesResult'
        description: 'A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.'
      ErrorList:
        $ref: '#/definitions/BatchItemErrorList'
        description: 'A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.'
  BatchDetectKeyPhrasesItemResult:
    type: object
    properties:
      Index:
        $ref: '#/definitions/Integer'
        description: The zero-based index of the document in the input list.
      KeyPhrases:
        $ref: '#/definitions/ListOfKeyPhrases'
        description: 'One or more <a>KeyPhrase</a> objects, one for each key phrase detected in the document.'
    description: The result of calling the operation. The operation returns one object for each document that is successfully processed by the operation.
  BatchDetectKeyPhrasesRequest:
    type: object
    required:
      - TextList
      - LanguageCode
    properties:
      TextList:
        $ref: '#/definitions/StringList'
        description: 'A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document must contain fewer that 5,000 bytes of UTF-8 encoded characters.'
      LanguageCode:
        $ref: '#/definitions/String'
        description: The language of the input documents. All documents must be in the same language.
  BatchDetectKeyPhrasesResponse:
    type: object
    required:
      - ResultList
      - ErrorList
    properties:
      ResultList:
        $ref: '#/definitions/ListOfDetectKeyPhrasesResult'
        description: 'A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.'
      ErrorList:
        $ref: '#/definitions/BatchItemErrorList'
        description: 'A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.'
  BatchDetectSentimentItemResult:
    type: object
    properties:
      Index:
        $ref: '#/definitions/Integer'
        description: The zero-based index of the document in the input list.
      Sentiment:
        $ref: '#/definitions/SentimentType'
        description: The sentiment detected in the document.
      SentimentScore:
        $ref: '#/definitions/SentimentScore'
        description: The level of confidence that Amazon Comprehend has in the accuracy of its sentiment detection.
    description: The result of calling the operation. The operation returns one object for each document that is successfully processed by the operation.
  BatchDetectSentimentRequest:
    type: object
    required:
      - TextList
      - LanguageCode
    properties:
      TextList:
        $ref: '#/definitions/StringList'
        description: 'A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document must contain fewer that 5,000 bytes of UTF-8 encoded characters.'
      LanguageCode:
        $ref: '#/definitions/String'
        description: The language of the input documents. All documents must be in the same language.
  BatchDetectSentimentResponse:
    type: object
    required:
      - ResultList
      - ErrorList
    properties:
      ResultList:
        $ref: '#/definitions/ListOfDetectSentimentResult'
        description: 'A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.'
      ErrorList:
        $ref: '#/definitions/BatchItemErrorList'
        description: 'A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.'
  BatchItemError:
    type: object
    properties:
      Index:
        $ref: '#/definitions/Integer'
        description: The zero-based index of the document in the input list.
      ErrorCode:
        $ref: '#/definitions/String'
        description: The numeric error code of the error.
      ErrorMessage:
        $ref: '#/definitions/String'
        description: A text description of the error.
    description: Describes an error that occurred while processing a document in a batch. The operation returns on <code>BatchItemError</code> object for each document that contained an error.
  BatchItemErrorList:
    type: array
    items:
      $ref: '#/definitions/BatchItemError'
  BatchSizeLimitExceededException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/String'
    description: The number of documents in the request exceeds the limit of 25. Try your request again with fewer documents.
  ClientRequestTokenString:
    type: string
    pattern: '^[a-zA-Z0-9-]+$'
    minLength: 1
    maxLength: 64
  DescribeTopicsDetectionJobRequest:
    type: object
    required:
      - JobId
    properties:
      JobId:
        $ref: '#/definitions/JobId'
        description: The identifier assigned by the user to the detection job.
  DescribeTopicsDetectionJobResponse:
    type: object
    properties:
      TopicsDetectionJobProperties:
        $ref: '#/definitions/TopicsDetectionJobProperties'
        description: The list of properties for the requested job.
  DetectDominantLanguageRequest:
    type: object
    required:
      - Text
    properties:
      Text:
        $ref: '#/definitions/String'
        description: 'A UTF-8 text string. Each string should contain at least 20 characters and must contain fewer that 5,000 bytes of UTF-8 encoded characters.'
  DetectDominantLanguageResponse:
    type: object
    properties:
      Languages:
        $ref: '#/definitions/ListOfDominantLanguages'
        description: 'The languages that Amazon Comprehend detected in the input text. For each language, the response returns the RFC 5646 language code and the level of confidence that Amazon Comprehend has in the accuracy of its inference. For more information about RFC 5646, see <a href="https://tools.ietf.org/html/rfc5646">Tags for Identifying Languages</a> on the <i>IETF Tools</i> web site.'
  DetectEntitiesRequest:
    type: object
    required:
      - Text
      - LanguageCode
    properties:
      Text:
        $ref: '#/definitions/String'
        description: 'A UTF-8 text string. Each string must contain fewer that 5,000 bytes of UTF-8 encoded characters.'
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: 'The RFC 5646 language code of the input text. If the request does not specify the language code, the service detects the dominant language. If you specify a language code that the service does not support, it returns <code>UnsupportedLanguageException</code> exception. For more information about RFC 5646, see <a href="https://tools.ietf.org/html/rfc5646">Tags for Identifying Languages</a> on the <i>IETF Tools</i> web site. '
  DetectEntitiesResponse:
    type: object
    properties:
      Entities:
        $ref: '#/definitions/ListOfEntities'
        description: 'A collection of entities identified in the input text. For each entity, the response provides the entity text, entity type, where the entity text begins and ends, and the level of confidence that Amazon Comprehend has in the detection. For a list of entity types, see <a>how-entities</a>. '
  DetectKeyPhrasesRequest:
    type: object
    required:
      - Text
      - LanguageCode
    properties:
      Text:
        $ref: '#/definitions/String'
        description: 'A UTF-8 text string. Each string must contain fewer that 5,000 bytes of UTF-8 encoded characters.'
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: 'The RFC 5646 language code for the input text. If you don''t specify a language code, Amazon Comprehend detects the dominant language. If you specify the code for a language that Amazon Comprehend does not support, it returns and <code>UnsupportedLanguageException</code>. For more information about RFC 5646, see <a href="https://tools.ietf.org/html/rfc5646">Tags for Identifying Languages</a> on the <i>IETF Tools</i> web site.'
  DetectKeyPhrasesResponse:
    type: object
    properties:
      KeyPhrases:
        $ref: '#/definitions/ListOfKeyPhrases'
        description: 'A collection of key phrases that Amazon Comprehend identified in the input text. For each key phrase, the response provides the text of the key phrase, where the key phrase begins and ends, and the level of confidence that Amazon Comprehend has in the accuracy of the detection. '
  DetectSentimentRequest:
    type: object
    required:
      - Text
      - LanguageCode
    properties:
      Text:
        $ref: '#/definitions/String'
        description: 'A UTF-8 text string. Each string must contain fewer that 5,000 bytes of UTF-8 encoded characters.'
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: 'The RFC 5646 language code for the input text. If you don''t specify a language code, Amazon Comprehend detects the dominant language. If you specify the code for a language that Amazon Comprehend does not support, it returns and <code>UnsupportedLanguageException</code>. For more information about RFC 5646, see <a href="https://tools.ietf.org/html/rfc5646">Tags for Identifying Languages</a> on the <i>IETF Tools</i> web site.'
  DetectSentimentResponse:
    type: object
    properties:
      Sentiment:
        $ref: '#/definitions/SentimentType'
        description: The inferred sentiment that Amazon Comprehend has the highest level of confidence in.
      SentimentScore:
        $ref: '#/definitions/SentimentScore'
        description: 'An object that lists the sentiments, and their corresponding confidence levels.'
  DominantLanguage:
    type: object
    properties:
      LanguageCode:
        $ref: '#/definitions/String'
        description: 'The RFC 5646 language code for the dominant language. '
      Score:
        $ref: '#/definitions/Float'
        description: The level of confidence that Amazon Comprehend has in the accuracy of the detection.
    description: Returns the code for the dominant language in the input text and the level of confidence that Amazon Comprehend has in the accuracy of the detection.
  Entity:
    type: object
    properties:
      Score:
        $ref: '#/definitions/Float'
        description: The level of confidence that Amazon Comprehend has in the accuracy of the detection.
      Type:
        $ref: '#/definitions/EntityType'
        description: The entity's type.
      Text:
        $ref: '#/definitions/String'
        description: The text of the entity.
      BeginOffset:
        $ref: '#/definitions/Integer'
        description: 'A character offset in the input text that shows where the entity begins (the first character is at position 0). The offset returns the position of each UTF-8 code point in the string. A <i>code point</i> is the abstract character from a particular graphical representation. For example, a multi-byte UTF-8 character maps to a single code point.'
      EndOffset:
        $ref: '#/definitions/Integer'
        description: 'A character offset in the input text that shows where the entity ends. The offset returns the position of each UTF-8 code point in the string. A <i>code point</i> is the abstract character from a particular graphical representation. For example, a multi-byte UTF-8 character maps to a single code point. '
    description: <p>Provides information about an entity. </p> <p> </p>
  EntityType:
    type: string
    enum:
      - PERSON
      - LOCATION
      - ORGANIZATION
      - COMMERCIAL_ITEM
      - EVENT
      - DATE
      - QUANTITY
      - TITLE
      - OTHER
  Float:
    type: number
    format: float
  IamRoleArn:
    type: string
    pattern: 'arn:aws(-[^:]+)?:iam::[0-9]{12}:role/.+'
  InputDataConfig:
    type: object
    required:
      - S3Uri
    properties:
      S3Uri:
        $ref: '#/definitions/S3Uri'
        description: '<p>The Amazon S3 URI for the input data. The URI must be in same region as the API endpoint that you are calling. The URI can point to a single input file or it can provide the prefix for a collection of data files. </p> <p>For example, if you use the URI <code>S3://bucketName/prefix</code>, if the prefix is a single file, Amazon Comprehend uses that file as input. If more than one file begins with the prefix, Amazon Comprehend uses all of them as input.</p>'
      InputFormat:
        $ref: '#/definitions/InputFormat'
        description: '<p>Specifies how the text in an input file should be processed:</p> <ul> <li> <p> <code>ONE_DOC_PER_FILE</code> - Each file is considered a separate document. Use this option when you are processing large documents, such as newspaper articles or scientific papers.</p> </li> <li> <p> <code>ONE_DOC_PER_LINE</code> - Each line in a file is considered a separate document. Use this option when you are processing many short documents, such as text messages.</p> </li> </ul>'
    description: The input properties for a topic detection job.
  InputFormat:
    type: string
    enum:
      - ONE_DOC_PER_FILE
      - ONE_DOC_PER_LINE
  Integer:
    type: integer
  InternalServerException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/String'
    description: An internal server error occurred. Retry your request.
  InvalidFilterException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/String'
    description: The filter specified for the <code>ListTopicDetectionJobs</code> operation is invalid. Specify a different filter.
  InvalidRequestException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/String'
    description: The request is invalid.
  JobId:
    type: string
    minLength: 1
    maxLength: 32
  JobName:
    type: string
    pattern: '^([\p{L}\p{Z}\p{N}_.:/=+\-%@]*)$'
    minLength: 1
    maxLength: 256
  JobNotFoundException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/String'
    description: The specified job was not found. Check the job ID and try again.
  JobStatus:
    type: string
    enum:
      - SUBMITTED
      - IN_PROGRESS
      - COMPLETED
      - FAILED
  KeyPhrase:
    type: object
    properties:
      Score:
        $ref: '#/definitions/Float'
        description: The level of confidence that Amazon Comprehend has in the accuracy of the detection.
      Text:
        $ref: '#/definitions/String'
        description: The text of a key noun phrase.
      BeginOffset:
        $ref: '#/definitions/Integer'
        description: 'A character offset in the input text that shows where the key phrase begins (the first character is at position 0). The offset returns the position of each UTF-8 code point in the string. A <i>code point</i> is the abstract character from a particular graphical representation. For example, a multi-byte UTF-8 character maps to a single code point.'
      EndOffset:
        $ref: '#/definitions/Integer'
        description: 'A character offset in the input text where the key phrase ends. The offset returns the position of each UTF-8 code point in the string. A <code>code point</code> is the abstract character from a particular graphical representation. For example, a multi-byte UTF-8 character maps to a single code point.'
    description: Describes a key noun phrase.
  LanguageCode:
    type: string
    enum:
      - en
      - es
  ListOfDetectDominantLanguageResult:
    type: array
    items:
      $ref: '#/definitions/BatchDetectDominantLanguageItemResult'
  ListOfDetectEntitiesResult:
    type: array
    items:
      $ref: '#/definitions/BatchDetectEntitiesItemResult'
  ListOfDetectKeyPhrasesResult:
    type: array
    items:
      $ref: '#/definitions/BatchDetectKeyPhrasesItemResult'
  ListOfDetectSentimentResult:
    type: array
    items:
      $ref: '#/definitions/BatchDetectSentimentItemResult'
  ListOfDominantLanguages:
    type: array
    items:
      $ref: '#/definitions/DominantLanguage'
  ListOfEntities:
    type: array
    items:
      $ref: '#/definitions/Entity'
  ListOfKeyPhrases:
    type: array
    items:
      $ref: '#/definitions/KeyPhrase'
  ListTopicsDetectionJobsRequest:
    type: object
    properties:
      Filter:
        $ref: '#/definitions/TopicsDetectionJobFilter'
        description: 'Filters the jobs that are returned. Jobs can be filtered on their name, status, or the date and time that they were submitted. You can set only one filter at a time.'
      NextToken:
        $ref: '#/definitions/String'
        description: Identifies the next page of results to return.
      MaxResults:
        $ref: '#/definitions/MaxResultsInteger'
        description: The maximum number of results to return in each page.
  ListTopicsDetectionJobsResponse:
    type: object
    properties:
      TopicsDetectionJobPropertiesList:
        $ref: '#/definitions/TopicsDetectionJobPropertiesList'
        description: A list containing the properties of each job that is returned.
      NextToken:
        $ref: '#/definitions/String'
        description: Identifies the next page of results to return.
  MaxResultsInteger:
    type: integer
    minimum: 1
    maximum: 500
  NumberOfTopicsInteger:
    type: integer
    minimum: 1
    maximum: 100
  OutputDataConfig:
    type: object
    required:
      - S3Uri
    properties:
      S3Uri:
        $ref: '#/definitions/S3Uri'
        description: '<p>The Amazon S3 URI where you want to write the output data. The URI must be in the same region as the API endpoint that you are calling. </p> <p>The service creates an output file called <code>output.tar.gz</code>. It is a compressed archive that contains two files, <code>topic-terms.csv</code> that lists the terms associated with each topic, and <code>doc-topics.csv</code> that lists the documents associated with each topic. For more information, see <a>topic-modeling</a>.</p>'
    description: <p>Provides configuration parameters for the output of topic detection jobs.</p> <p/>
  S3Uri:
    type: string
    pattern: 's3://([^/]+)(/.*)?'
    maxLength: 1024
  SentimentScore:
    type: object
    properties:
      Positive:
        $ref: '#/definitions/Float'
        description: The level of confidence that Amazon Comprehend has in the accuracy of its detection of the <code>POSITIVE</code> sentiment.
      Negative:
        $ref: '#/definitions/Float'
        description: The level of confidence that Amazon Comprehend has in the accuracy of its detection of the <code>NEGATIVE</code> sentiment.
      Neutral:
        $ref: '#/definitions/Float'
        description: The level of confidence that Amazon Comprehend has in the accuracy of its detection of the <code>NEUTRAL</code> sentiment.
      Mixed:
        $ref: '#/definitions/Float'
        description: The level of confidence that Amazon Comprehend has in the accuracy of its detection of the <code>MIXED</code> sentiment.
    description: Describes the level of confidence that Amazon Comprehend has in the accuracy of its detection of sentiments.
  SentimentType:
    type: string
    enum:
      - POSITIVE
      - NEGATIVE
      - NEUTRAL
      - MIXED
  StartTopicsDetectionJobRequest:
    type: object
    required:
      - InputDataConfig
      - OutputDataConfig
      - DataAccessRoleArn
    properties:
      InputDataConfig:
        $ref: '#/definitions/InputDataConfig'
        description: Specifies the format and location of the input data for the job.
      OutputDataConfig:
        $ref: '#/definitions/OutputDataConfig'
        description: Specifies where to send the output files.
      DataAccessRoleArn:
        $ref: '#/definitions/IamRoleArn'
        description: 'The Amazon Resource Name (ARN) of the AWS Identity and Access Management (IAM) role that grants Amazon Comprehend read access to your input data. '
      JobName:
        $ref: '#/definitions/JobName'
        description: The identifier of the job.
      NumberOfTopics:
        $ref: '#/definitions/NumberOfTopicsInteger'
        description: The number of topics to detect.
      ClientRequestToken:
        $ref: '#/definitions/ClientRequestTokenString'
        description: 'A unique identifier for the request. If you do not set the client request token, Amazon Comprehend generates one.'
  StartTopicsDetectionJobResponse:
    type: object
    properties:
      JobId:
        $ref: '#/definitions/JobId'
        description: 'The identifier generated for the job. To get the status of the job, use this identifier with the <code>DescribeTopicDetectionJob</code> operation.'
      JobStatus:
        $ref: '#/definitions/JobStatus'
        description: '<p>The status of the job: </p> <ul> <li> <p>SUBMITTED - The job has been received and is queued for processing.</p> </li> <li> <p>IN_PROGRESS - Amazon Comprehend is processing the job.</p> </li> <li> <p>COMPLETED - The job was successfully completed and the output is available.</p> </li> <li> <p>FAILED - The job did not complete. To get details, use the <code>DescribeTopicDetectionJob</code> operation.</p> </li> </ul>'
  String:
    type: string
    minLength: 1
  StringList:
    type: array
    items:
      $ref: '#/definitions/String'
  TextSizeLimitExceededException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/String'
    description: The size of the input text exceeds the limit. Use a smaller document.
  Timestamp:
    type: string
    format: date-time
  TooManyRequestsException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/String'
    description: The number of requests exceeds the limit. Resubmit your request later.
  TopicsDetectionJobFilter:
    type: object
    properties:
      JobName:
        $ref: '#/definitions/JobName'
        description: <p/>
      JobStatus:
        $ref: '#/definitions/JobStatus'
        description: Filters the list of topic detection jobs based on job status. Returns only jobs with the specified status.
      SubmitTimeBefore:
        $ref: '#/definitions/Timestamp'
        description: 'Filters the list of jobs based on the time that the job was submitted for processing. Only returns jobs submitted before the specified time. Jobs are returned in descending order, newest to oldest.'
      SubmitTimeAfter:
        $ref: '#/definitions/Timestamp'
        description: 'Filters the list of jobs based on the time that the job was submitted for processing. Only returns jobs submitted after the specified time. Jobs are returned in ascending order, oldest to newest.'
    description: 'Provides information for filtering topic detection jobs. For more information, see .'
  TopicsDetectionJobProperties:
    type: object
    properties:
      JobId:
        $ref: '#/definitions/JobId'
        description: The identifier assigned to the topic detection job.
      JobName:
        $ref: '#/definitions/JobName'
        description: The name of the topic detection job.
      JobStatus:
        $ref: '#/definitions/JobStatus'
        description: 'The current status of the topic detection job. If the status is <code>Failed</code>, the reason for the failure is shown in the <code>Message</code> field.'
      Message:
        $ref: '#/definitions/AnyLengthString'
        description: A description for the status of a job.
      SubmitTime:
        $ref: '#/definitions/Timestamp'
        description: The time that the topic detection job was submitted for processing.
      EndTime:
        $ref: '#/definitions/Timestamp'
        description: The time that the topic detection job was completed.
      InputDataConfig:
        $ref: '#/definitions/InputDataConfig'
        description: The input data configuration supplied when you created the topic detection job.
      OutputDataConfig:
        $ref: '#/definitions/OutputDataConfig'
        description: The output data configuration supplied when you created the topic detection job.
      NumberOfTopics:
        $ref: '#/definitions/Integer'
        description: 'The number of topics to detect supplied when you created the topic detection job. The default is 10. '
    description: Provides information about a topic detection job.
  TopicsDetectionJobPropertiesList:
    type: array
    items:
      $ref: '#/definitions/TopicsDetectionJobProperties'
  UnsupportedLanguageException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/String'
    description: 'Amazon Comprehend can''t process the language of the input text. For all APIs except <code>DetectDominantLanguage</code>, Amazon Comprehend accepts only English or Spanish text. For the <code>DetectDominantLanguage</code> API, Amazon Comprehend detects 100 languages. For a list of languages, see <a>how-languages</a> '
