swagger: '2.0'
info:
  version: '2017-11-27'
  x-release: v4
  title: Amazon Comprehend
  description: 'Amazon Comprehend is an AWS service for gaining insight into the content of documents. Use these actions to determine the topics contained in your documents, the topics they discuss, the predominant sentiment expressed in them, the predominant language used, and more.'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: comprehend
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/comprehend-2017-11-27.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/comprehend/'
host: comprehend.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: header
    type: string
    required: true
  Version:
    name: Version
    in: header
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /:
    post:
      operationId: BatchDetectDominantLanguage
      description: 'Determines the dominant language of the input text for a batch of documents. For a list of languages that Amazon Comprehend can detect, see <a href="http://docs.aws.amazon.com/comprehend/latest/dg/how-languages.html">Amazon Comprehend Supported Languages</a>. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchDetectDominantLanguageResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TextSizeLimitExceededException
          schema:
            $ref: '#/definitions/TextSizeLimitExceededException'
        '482':
          description: BatchSizeLimitExceededException
          schema:
            $ref: '#/definitions/BatchSizeLimitExceededException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BatchDetectDominantLanguageRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#BatchDetectEntities':
    post:
      operationId: BatchDetectEntities
      description: 'Inspects the text of a batch of documents for named entities and returns information about them. For more information about named entities, see <a>how-entities</a> '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchDetectEntitiesResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TextSizeLimitExceededException
          schema:
            $ref: '#/definitions/TextSizeLimitExceededException'
        '482':
          description: UnsupportedLanguageException
          schema:
            $ref: '#/definitions/UnsupportedLanguageException'
        '483':
          description: BatchSizeLimitExceededException
          schema:
            $ref: '#/definitions/BatchSizeLimitExceededException'
        '484':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BatchDetectEntitiesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#BatchDetectKeyPhrases':
    post:
      operationId: BatchDetectKeyPhrases
      description: Detects the key noun phrases found in a batch of documents.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchDetectKeyPhrasesResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TextSizeLimitExceededException
          schema:
            $ref: '#/definitions/TextSizeLimitExceededException'
        '482':
          description: UnsupportedLanguageException
          schema:
            $ref: '#/definitions/UnsupportedLanguageException'
        '483':
          description: BatchSizeLimitExceededException
          schema:
            $ref: '#/definitions/BatchSizeLimitExceededException'
        '484':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BatchDetectKeyPhrasesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#BatchDetectSentiment':
    post:
      operationId: BatchDetectSentiment
      description: 'Inspects a batch of documents and returns an inference of the prevailing sentiment, <code>POSITIVE</code>, <code>NEUTRAL</code>, <code>MIXED</code>, or <code>NEGATIVE</code>, in each one.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchDetectSentimentResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TextSizeLimitExceededException
          schema:
            $ref: '#/definitions/TextSizeLimitExceededException'
        '482':
          description: UnsupportedLanguageException
          schema:
            $ref: '#/definitions/UnsupportedLanguageException'
        '483':
          description: BatchSizeLimitExceededException
          schema:
            $ref: '#/definitions/BatchSizeLimitExceededException'
        '484':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BatchDetectSentimentRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeDominantLanguageDetectionJob':
    post:
      operationId: DescribeDominantLanguageDetectionJob
      description: Gets the properties associated with a dominant language detection job. Use this operation to get the status of a detection job.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDominantLanguageDetectionJobResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: JobNotFoundException
          schema:
            $ref: '#/definitions/JobNotFoundException'
        '482':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDominantLanguageDetectionJobRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeEntitiesDetectionJob':
    post:
      operationId: DescribeEntitiesDetectionJob
      description: Gets the properties associated with an entities detection job. Use this operation to get the status of a detection job.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeEntitiesDetectionJobResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: JobNotFoundException
          schema:
            $ref: '#/definitions/JobNotFoundException'
        '482':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeEntitiesDetectionJobRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeKeyPhrasesDetectionJob':
    post:
      operationId: DescribeKeyPhrasesDetectionJob
      description: Gets the properties associated with a key phrases detection job. Use this operation to get the status of a detection job.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeKeyPhrasesDetectionJobResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: JobNotFoundException
          schema:
            $ref: '#/definitions/JobNotFoundException'
        '482':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeKeyPhrasesDetectionJobRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeSentimentDetectionJob':
    post:
      operationId: DescribeSentimentDetectionJob
      description: Gets the properties associated with a sentiment detection job. Use this operation to get the status of a detection job.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeSentimentDetectionJobResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: JobNotFoundException
          schema:
            $ref: '#/definitions/JobNotFoundException'
        '482':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeSentimentDetectionJobRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeTopicsDetectionJob':
    post:
      operationId: DescribeTopicsDetectionJob
      description: Gets the properties associated with a topic detection job. Use this operation to get the status of a detection job.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeTopicsDetectionJobResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: JobNotFoundException
          schema:
            $ref: '#/definitions/JobNotFoundException'
        '482':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeTopicsDetectionJobRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DetectDominantLanguage':
    post:
      operationId: DetectDominantLanguage
      description: 'Determines the dominant language of the input text. For a list of languages that Amazon Comprehend can detect, see <a href="http://docs.aws.amazon.com/comprehend/latest/dg/how-languages.html">Amazon Comprehend Supported Languages</a>. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DetectDominantLanguageResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TextSizeLimitExceededException
          schema:
            $ref: '#/definitions/TextSizeLimitExceededException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DetectDominantLanguageRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DetectEntities':
    post:
      operationId: DetectEntities
      description: 'Inspects text for named entities, and returns information about them. For more information, about named entities, see <a>how-entities</a>. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DetectEntitiesResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TextSizeLimitExceededException
          schema:
            $ref: '#/definitions/TextSizeLimitExceededException'
        '482':
          description: UnsupportedLanguageException
          schema:
            $ref: '#/definitions/UnsupportedLanguageException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DetectEntitiesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DetectKeyPhrases':
    post:
      operationId: DetectKeyPhrases
      description: 'Detects the key noun phrases found in the text. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DetectKeyPhrasesResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TextSizeLimitExceededException
          schema:
            $ref: '#/definitions/TextSizeLimitExceededException'
        '482':
          description: UnsupportedLanguageException
          schema:
            $ref: '#/definitions/UnsupportedLanguageException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DetectKeyPhrasesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DetectSentiment':
    post:
      operationId: DetectSentiment
      description: 'Inspects text and returns an inference of the prevailing sentiment (<code>POSITIVE</code>, <code>NEUTRAL</code>, <code>MIXED</code>, or <code>NEGATIVE</code>). '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DetectSentimentResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TextSizeLimitExceededException
          schema:
            $ref: '#/definitions/TextSizeLimitExceededException'
        '482':
          description: UnsupportedLanguageException
          schema:
            $ref: '#/definitions/UnsupportedLanguageException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DetectSentimentRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListDominantLanguageDetectionJobs':
    post:
      operationId: ListDominantLanguageDetectionJobs
      description: Gets a list of the dominant language detection jobs that you have submitted.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDominantLanguageDetectionJobsResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: InvalidFilterException
          schema:
            $ref: '#/definitions/InvalidFilterException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListDominantLanguageDetectionJobsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListEntitiesDetectionJobs':
    post:
      operationId: ListEntitiesDetectionJobs
      description: Gets a list of the entity detection jobs that you have submitted.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListEntitiesDetectionJobsResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: InvalidFilterException
          schema:
            $ref: '#/definitions/InvalidFilterException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListEntitiesDetectionJobsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListKeyPhrasesDetectionJobs':
    post:
      operationId: ListKeyPhrasesDetectionJobs
      description: Get a list of key phrase detection jobs that you have submitted.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListKeyPhrasesDetectionJobsResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: InvalidFilterException
          schema:
            $ref: '#/definitions/InvalidFilterException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListKeyPhrasesDetectionJobsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListSentimentDetectionJobs':
    post:
      operationId: ListSentimentDetectionJobs
      description: Gets a list of sentiment detection jobs that you have submitted.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListSentimentDetectionJobsResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: InvalidFilterException
          schema:
            $ref: '#/definitions/InvalidFilterException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListSentimentDetectionJobsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListTopicsDetectionJobs':
    post:
      operationId: ListTopicsDetectionJobs
      description: Gets a list of the topic detection jobs that you have submitted.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTopicsDetectionJobsResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: InvalidFilterException
          schema:
            $ref: '#/definitions/InvalidFilterException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListTopicsDetectionJobsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#StartDominantLanguageDetectionJob':
    post:
      operationId: StartDominantLanguageDetectionJob
      description: Starts an asynchronous dominant language detection job for a collection of documents. Use the operation to track the status of a job.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartDominantLanguageDetectionJobResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StartDominantLanguageDetectionJobRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#StartEntitiesDetectionJob':
    post:
      operationId: StartEntitiesDetectionJob
      description: Starts an asynchronous entity detection job for a collection of documents. Use the operation to track the status of a job.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartEntitiesDetectionJobResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StartEntitiesDetectionJobRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#StartKeyPhrasesDetectionJob':
    post:
      operationId: StartKeyPhrasesDetectionJob
      description: Starts an asynchronous key phrase detection job for a collection of documents. Use the operation to track the status of a job.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartKeyPhrasesDetectionJobResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StartKeyPhrasesDetectionJobRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#StartSentimentDetectionJob':
    post:
      operationId: StartSentimentDetectionJob
      description: Starts an asynchronous sentiment detection job for a collection of documents. use the operation to track the status of a job.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartSentimentDetectionJobResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StartSentimentDetectionJobRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#StartTopicsDetectionJob':
    post:
      operationId: StartTopicsDetectionJob
      description: Starts an asynchronous topic detection job. Use the <code>DescribeTopicDetectionJob</code> operation to track the status of a job.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartTopicsDetectionJobResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StartTopicsDetectionJobRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#StopDominantLanguageDetectionJob':
    post:
      operationId: StopDominantLanguageDetectionJob
      description: '<p>Stops a dominant language detection job in progress.</p> <p>If the job state is <code>IN_PROGRESS</code> the job will be marked for termination and put into the <code>STOPPING</code> state.</p> <p>If the job is in the <code>COMPLETED</code> or <code>FAILED</code> state when you call the <code>StopDominantLanguageDetectionJob</code> operation, the operation will return a 400 Internal Request Exception. </p> <p>When a job is stopped, any document that has already been processed will be written to the output location.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopDominantLanguageDetectionJobResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: JobNotFoundException
          schema:
            $ref: '#/definitions/JobNotFoundException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StopDominantLanguageDetectionJobRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#StopEntitiesDetectionJob':
    post:
      operationId: StopEntitiesDetectionJob
      description: '<p>Stops an entities detection job in progress.</p> <p>If the job state is <code>IN_PROGRESS</code> the job will be marked for termination and put into the <code>STOPPING</code> state.</p> <p>If the job is in the <code>COMPLETED</code> or <code>FAILED</code> state when you call the <code>StopDominantLanguageDetectionJob</code> operation, the operation will return a 400 Internal Request Exception. </p> <p>When a job is stopped, any document that has already been processed will be written to the output location.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopEntitiesDetectionJobResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: JobNotFoundException
          schema:
            $ref: '#/definitions/JobNotFoundException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StopEntitiesDetectionJobRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#StopKeyPhrasesDetectionJob':
    post:
      operationId: StopKeyPhrasesDetectionJob
      description: '<p>Stops a key phrases detection job in progress.</p> <p>If the job state is <code>IN_PROGRESS</code> the job will be marked for termination and put into the <code>STOPPING</code> state.</p> <p>If the job is in the <code>COMPLETED</code> or <code>FAILED</code> state when you call the <code>StopDominantLanguageDetectionJob</code> operation, the operation will return a 400 Internal Request Exception. </p> <p>When a job is stopped, any document that has already been processed will be written to the output location.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopKeyPhrasesDetectionJobResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: JobNotFoundException
          schema:
            $ref: '#/definitions/JobNotFoundException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StopKeyPhrasesDetectionJobRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#StopSentimentDetectionJob':
    post:
      operationId: StopSentimentDetectionJob
      description: '<p>Stops a sentiment detection job in progress.</p> <p>If the job state is <code>IN_PROGRESS</code> the job will be marked for termination and put into the <code>STOPPING</code> state.</p> <p>If the job is in the <code>COMPLETED</code> or <code>FAILED</code> state when you call the <code>StopDominantLanguageDetectionJob</code> operation, the operation will return a 400 Internal Request Exception. </p> <p>When a job is stopped, any document that has already been processed will be written to the output location.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopSentimentDetectionJobResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: JobNotFoundException
          schema:
            $ref: '#/definitions/JobNotFoundException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StopSentimentDetectionJobRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  AnyLengthString:
    type: string
  BatchDetectDominantLanguageItemResult:
    type: object
    properties:
      Index:
        $ref: '#/definitions/Integer'
        description: The zero-based index of the document in the input list.
      Languages:
        $ref: '#/definitions/ListOfDominantLanguages'
        description: One or more <a>DominantLanguage</a> objects describing the dominant languages in the document.
    description: The result of calling the operation. The operation returns one object for each document that is successfully processed by the operation.
  BatchDetectDominantLanguageRequest:
    type: object
    required:
      - TextList
    properties:
      TextList:
        $ref: '#/definitions/StringList'
        description: 'A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document should contain at least 20 characters and must contain fewer than 5,000 bytes of UTF-8 encoded characters.'
  BatchDetectDominantLanguageResponse:
    type: object
    required:
      - ResultList
      - ErrorList
    properties:
      ResultList:
        $ref: '#/definitions/ListOfDetectDominantLanguageResult'
        description: 'A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.'
      ErrorList:
        $ref: '#/definitions/BatchItemErrorList'
        description: 'A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.'
  BatchDetectEntitiesItemResult:
    type: object
    properties:
      Index:
        $ref: '#/definitions/Integer'
        description: The zero-based index of the document in the input list.
      Entities:
        $ref: '#/definitions/ListOfEntities'
        description: 'One or more <a>Entity</a> objects, one for each entity detected in the document.'
    description: The result of calling the operation. The operation returns one object for each document that is successfully processed by the operation.
  BatchDetectEntitiesRequest:
    type: object
    required:
      - TextList
      - LanguageCode
    properties:
      TextList:
        $ref: '#/definitions/StringList'
        description: 'A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document must contain fewer than 5,000 bytes of UTF-8 encoded characters.'
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: The language of the input documents. You can specify English ("en") or Spanish ("es"). All documents must be in the same language.
  BatchDetectEntitiesResponse:
    type: object
    required:
      - ResultList
      - ErrorList
    properties:
      ResultList:
        $ref: '#/definitions/ListOfDetectEntitiesResult'
        description: 'A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.'
      ErrorList:
        $ref: '#/definitions/BatchItemErrorList'
        description: 'A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.'
  BatchDetectKeyPhrasesItemResult:
    type: object
    properties:
      Index:
        $ref: '#/definitions/Integer'
        description: The zero-based index of the document in the input list.
      KeyPhrases:
        $ref: '#/definitions/ListOfKeyPhrases'
        description: 'One or more <a>KeyPhrase</a> objects, one for each key phrase detected in the document.'
    description: The result of calling the operation. The operation returns one object for each document that is successfully processed by the operation.
  BatchDetectKeyPhrasesRequest:
    type: object
    required:
      - TextList
      - LanguageCode
    properties:
      TextList:
        $ref: '#/definitions/StringList'
        description: 'A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document must contain fewer that 5,000 bytes of UTF-8 encoded characters.'
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: The language of the input documents. You can specify English ("en") or Spanish ("es"). All documents must be in the same language.
  BatchDetectKeyPhrasesResponse:
    type: object
    required:
      - ResultList
      - ErrorList
    properties:
      ResultList:
        $ref: '#/definitions/ListOfDetectKeyPhrasesResult'
        description: 'A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.'
      ErrorList:
        $ref: '#/definitions/BatchItemErrorList'
        description: 'A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.'
  BatchDetectSentimentItemResult:
    type: object
    properties:
      Index:
        $ref: '#/definitions/Integer'
        description: The zero-based index of the document in the input list.
      Sentiment:
        $ref: '#/definitions/SentimentType'
        description: The sentiment detected in the document.
      SentimentScore:
        $ref: '#/definitions/SentimentScore'
        description: The level of confidence that Amazon Comprehend has in the accuracy of its sentiment detection.
    description: The result of calling the operation. The operation returns one object for each document that is successfully processed by the operation.
  BatchDetectSentimentRequest:
    type: object
    required:
      - TextList
      - LanguageCode
    properties:
      TextList:
        $ref: '#/definitions/StringList'
        description: 'A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document must contain fewer that 5,000 bytes of UTF-8 encoded characters.'
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: The language of the input documents. You can specify English ("en") or Spanish ("es"). All documents must be in the same language.
  BatchDetectSentimentResponse:
    type: object
    required:
      - ResultList
      - ErrorList
    properties:
      ResultList:
        $ref: '#/definitions/ListOfDetectSentimentResult'
        description: 'A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.'
      ErrorList:
        $ref: '#/definitions/BatchItemErrorList'
        description: 'A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.'
  BatchItemError:
    type: object
    properties:
      Index:
        $ref: '#/definitions/Integer'
        description: The zero-based index of the document in the input list.
      ErrorCode:
        $ref: '#/definitions/String'
        description: The numeric error code of the error.
      ErrorMessage:
        $ref: '#/definitions/String'
        description: A text description of the error.
    description: Describes an error that occurred while processing a document in a batch. The operation returns on <code>BatchItemError</code> object for each document that contained an error.
  BatchItemErrorList:
    type: array
    items:
      $ref: '#/definitions/BatchItemError'
  BatchSizeLimitExceededException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/String'
    description: The number of documents in the request exceeds the limit of 25. Try your request again with fewer documents.
  ClientRequestTokenString:
    type: string
    pattern: '^[a-zA-Z0-9-]+$'
    minLength: 1
    maxLength: 64
  DescribeDominantLanguageDetectionJobRequest:
    type: object
    required:
      - JobId
    properties:
      JobId:
        $ref: '#/definitions/JobId'
        description: The identifier that Amazon Comprehend generated for the job. The operation returns this identifier in its response.
  DescribeDominantLanguageDetectionJobResponse:
    type: object
    properties:
      DominantLanguageDetectionJobProperties:
        $ref: '#/definitions/DominantLanguageDetectionJobProperties'
        description: An object that contains the properties associated with a dominant language detection job.
  DescribeEntitiesDetectionJobRequest:
    type: object
    required:
      - JobId
    properties:
      JobId:
        $ref: '#/definitions/JobId'
        description: The identifier that Amazon Comprehend generated for the job. The operation returns this identifier in its response.
  DescribeEntitiesDetectionJobResponse:
    type: object
    properties:
      EntitiesDetectionJobProperties:
        $ref: '#/definitions/EntitiesDetectionJobProperties'
        description: An object that contains the properties associated with an entities detection job.
  DescribeKeyPhrasesDetectionJobRequest:
    type: object
    required:
      - JobId
    properties:
      JobId:
        $ref: '#/definitions/JobId'
        description: The identifier that Amazon Comprehend generated for the job. The operation returns this identifier in its response.
  DescribeKeyPhrasesDetectionJobResponse:
    type: object
    properties:
      KeyPhrasesDetectionJobProperties:
        $ref: '#/definitions/KeyPhrasesDetectionJobProperties'
        description: 'An object that contains the properties associated with a key phrases detection job. '
  DescribeSentimentDetectionJobRequest:
    type: object
    required:
      - JobId
    properties:
      JobId:
        $ref: '#/definitions/JobId'
        description: The identifier that Amazon Comprehend generated for the job. The operation returns this identifier in its response.
  DescribeSentimentDetectionJobResponse:
    type: object
    properties:
      SentimentDetectionJobProperties:
        $ref: '#/definitions/SentimentDetectionJobProperties'
        description: An object that contains the properties associated with a sentiment detection job.
  DescribeTopicsDetectionJobRequest:
    type: object
    required:
      - JobId
    properties:
      JobId:
        $ref: '#/definitions/JobId'
        description: The identifier assigned by the user to the detection job.
  DescribeTopicsDetectionJobResponse:
    type: object
    properties:
      TopicsDetectionJobProperties:
        $ref: '#/definitions/TopicsDetectionJobProperties'
        description: The list of properties for the requested job.
  DetectDominantLanguageRequest:
    type: object
    required:
      - Text
    properties:
      Text:
        $ref: '#/definitions/String'
        description: 'A UTF-8 text string. Each string should contain at least 20 characters and must contain fewer that 5,000 bytes of UTF-8 encoded characters.'
  DetectDominantLanguageResponse:
    type: object
    properties:
      Languages:
        $ref: '#/definitions/ListOfDominantLanguages'
        description: 'The languages that Amazon Comprehend detected in the input text. For each language, the response returns the RFC 5646 language code and the level of confidence that Amazon Comprehend has in the accuracy of its inference. For more information about RFC 5646, see <a href="https://tools.ietf.org/html/rfc5646">Tags for Identifying Languages</a> on the <i>IETF Tools</i> web site.'
  DetectEntitiesRequest:
    type: object
    required:
      - Text
      - LanguageCode
    properties:
      Text:
        $ref: '#/definitions/String'
        description: 'A UTF-8 text string. Each string must contain fewer that 5,000 bytes of UTF-8 encoded characters.'
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: The language of the input documents. You can specify English ("en") or Spanish ("es"). All documents must be in the same language.
  DetectEntitiesResponse:
    type: object
    properties:
      Entities:
        $ref: '#/definitions/ListOfEntities'
        description: 'A collection of entities identified in the input text. For each entity, the response provides the entity text, entity type, where the entity text begins and ends, and the level of confidence that Amazon Comprehend has in the detection. For a list of entity types, see <a>how-entities</a>. '
  DetectKeyPhrasesRequest:
    type: object
    required:
      - Text
      - LanguageCode
    properties:
      Text:
        $ref: '#/definitions/String'
        description: 'A UTF-8 text string. Each string must contain fewer that 5,000 bytes of UTF-8 encoded characters.'
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: The language of the input documents. You can specify English ("en") or Spanish ("es"). All documents must be in the same language.
  DetectKeyPhrasesResponse:
    type: object
    properties:
      KeyPhrases:
        $ref: '#/definitions/ListOfKeyPhrases'
        description: 'A collection of key phrases that Amazon Comprehend identified in the input text. For each key phrase, the response provides the text of the key phrase, where the key phrase begins and ends, and the level of confidence that Amazon Comprehend has in the accuracy of the detection. '
  DetectSentimentRequest:
    type: object
    required:
      - Text
      - LanguageCode
    properties:
      Text:
        $ref: '#/definitions/String'
        description: 'A UTF-8 text string. Each string must contain fewer that 5,000 bytes of UTF-8 encoded characters.'
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: The language of the input documents. You can specify English ("en") or Spanish ("es"). All documents must be in the same language.
  DetectSentimentResponse:
    type: object
    properties:
      Sentiment:
        $ref: '#/definitions/SentimentType'
        description: The inferred sentiment that Amazon Comprehend has the highest level of confidence in.
      SentimentScore:
        $ref: '#/definitions/SentimentScore'
        description: 'An object that lists the sentiments, and their corresponding confidence levels.'
  DominantLanguage:
    type: object
    properties:
      LanguageCode:
        $ref: '#/definitions/String'
        description: 'The RFC 5646 language code for the dominant language. For more information about RFC 5646, see <a href="https://tools.ietf.org/html/rfc5646">Tags for Identifying Languages</a> on the <i>IETF Tools</i> web site.'
      Score:
        $ref: '#/definitions/Float'
        description: The level of confidence that Amazon Comprehend has in the accuracy of the detection.
    description: Returns the code for the dominant language in the input text and the level of confidence that Amazon Comprehend has in the accuracy of the detection.
  DominantLanguageDetectionJobFilter:
    type: object
    properties:
      JobName:
        $ref: '#/definitions/JobName'
        description: Filters on the name of the job.
      JobStatus:
        $ref: '#/definitions/JobStatus'
        description: Filters the list of jobs based on job status. Returns only jobs with the specified status.
      SubmitTimeBefore:
        $ref: '#/definitions/Timestamp'
        description: 'Filters the list of jobs based on the time that the job was submitted for processing. Returns only jobs submitted before the specified time. Jobs are returned in ascending order, oldest to newest.'
      SubmitTimeAfter:
        $ref: '#/definitions/Timestamp'
        description: 'Filters the list of jobs based on the time that the job was submitted for processing. Returns only jobs submitted after the specified time. Jobs are returned in descending order, newest to oldest.'
    description: 'Provides information for filtering a list of dominant language detection jobs. For more information, see the operation.'
  DominantLanguageDetectionJobProperties:
    type: object
    properties:
      JobId:
        $ref: '#/definitions/JobId'
        description: The identifier assigned to the dominant language detection job.
      JobName:
        $ref: '#/definitions/JobName'
        description: The name that you assigned to the dominant language detection job.
      JobStatus:
        $ref: '#/definitions/JobStatus'
        description: 'The current status of the dominant language detection job. If the status is <code>FAILED</code>, the <code>Message</code> field shows the reason for the failure.'
      Message:
        $ref: '#/definitions/AnyLengthString'
        description: A description for the status of a job.
      SubmitTime:
        $ref: '#/definitions/Timestamp'
        description: The time that the dominant language detection job was submitted for processing.
      EndTime:
        $ref: '#/definitions/Timestamp'
        description: The time that the dominant language detection job completed.
      InputDataConfig:
        $ref: '#/definitions/InputDataConfig'
        description: The input data configuration that you supplied when you created the dominant language detection job.
      OutputDataConfig:
        $ref: '#/definitions/OutputDataConfig'
        description: The output data configuration that you supplied when you created the dominant language detection job.
    description: Provides information about a dominant language detection job.
  DominantLanguageDetectionJobPropertiesList:
    type: array
    items:
      $ref: '#/definitions/DominantLanguageDetectionJobProperties'
  EntitiesDetectionJobFilter:
    type: object
    properties:
      JobName:
        $ref: '#/definitions/JobName'
        description: Filters on the name of the job.
      JobStatus:
        $ref: '#/definitions/JobStatus'
        description: Filters the list of jobs based on job status. Returns only jobs with the specified status.
      SubmitTimeBefore:
        $ref: '#/definitions/Timestamp'
        description: 'Filters the list of jobs based on the time that the job was submitted for processing. Returns only jobs submitted before the specified time. Jobs are returned in ascending order, oldest to newest.'
      SubmitTimeAfter:
        $ref: '#/definitions/Timestamp'
        description: 'Filters the list of jobs based on the time that the job was submitted for processing. Returns only jobs submitted after the specified time. Jobs are returned in descending order, newest to oldest.'
    description: 'Provides information for filtering a list of dominant language detection jobs. For more information, see the operation.'
  EntitiesDetectionJobProperties:
    type: object
    properties:
      JobId:
        $ref: '#/definitions/JobId'
        description: The identifier assigned to the entities detection job.
      JobName:
        $ref: '#/definitions/JobName'
        description: The name that you assigned the entities detection job.
      JobStatus:
        $ref: '#/definitions/JobStatus'
        description: 'The current status of the entities detection job. If the status is <code>FAILED</code>, the <code>Message</code> field shows the reason for the failure.'
      Message:
        $ref: '#/definitions/AnyLengthString'
        description: A description of the status of a job.
      SubmitTime:
        $ref: '#/definitions/Timestamp'
        description: The time that the entities detection job was submitted for processing.
      EndTime:
        $ref: '#/definitions/Timestamp'
        description: The time that the entities detection job completed
      InputDataConfig:
        $ref: '#/definitions/InputDataConfig'
        description: The input data configuration that you supplied when you created the entities detection job.
      OutputDataConfig:
        $ref: '#/definitions/OutputDataConfig'
        description: 'The output data configuration that you supplied when you created the entities detection job. '
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: The language code of the input documents.
    description: Provides information about an entities detection job.
  EntitiesDetectionJobPropertiesList:
    type: array
    items:
      $ref: '#/definitions/EntitiesDetectionJobProperties'
  Entity:
    type: object
    properties:
      Score:
        $ref: '#/definitions/Float'
        description: The level of confidence that Amazon Comprehend has in the accuracy of the detection.
      Type:
        $ref: '#/definitions/EntityType'
        description: The entity's type.
      Text:
        $ref: '#/definitions/String'
        description: The text of the entity.
      BeginOffset:
        $ref: '#/definitions/Integer'
        description: 'A character offset in the input text that shows where the entity begins (the first character is at position 0). The offset returns the position of each UTF-8 code point in the string. A <i>code point</i> is the abstract character from a particular graphical representation. For example, a multi-byte UTF-8 character maps to a single code point.'
      EndOffset:
        $ref: '#/definitions/Integer'
        description: 'A character offset in the input text that shows where the entity ends. The offset returns the position of each UTF-8 code point in the string. A <i>code point</i> is the abstract character from a particular graphical representation. For example, a multi-byte UTF-8 character maps to a single code point. '
    description: <p>Provides information about an entity. </p> <p> </p>
  EntityType:
    type: string
    enum:
      - PERSON
      - LOCATION
      - ORGANIZATION
      - COMMERCIAL_ITEM
      - EVENT
      - DATE
      - QUANTITY
      - TITLE
      - OTHER
  Float:
    type: number
    format: float
  IamRoleArn:
    type: string
    pattern: 'arn:aws(-[^:]+)?:iam::[0-9]{12}:role/.+'
  InputDataConfig:
    type: object
    required:
      - S3Uri
    properties:
      S3Uri:
        $ref: '#/definitions/S3Uri'
        description: '<p>The Amazon S3 URI for the input data. The URI must be in same region as the API endpoint that you are calling. The URI can point to a single input file or it can provide the prefix for a collection of data files. </p> <p>For example, if you use the URI <code>S3://bucketName/prefix</code>, if the prefix is a single file, Amazon Comprehend uses that file as input. If more than one file begins with the prefix, Amazon Comprehend uses all of them as input.</p>'
      InputFormat:
        $ref: '#/definitions/InputFormat'
        description: '<p>Specifies how the text in an input file should be processed:</p> <ul> <li> <p> <code>ONE_DOC_PER_FILE</code> - Each file is considered a separate document. Use this option when you are processing large documents, such as newspaper articles or scientific papers.</p> </li> <li> <p> <code>ONE_DOC_PER_LINE</code> - Each line in a file is considered a separate document. Use this option when you are processing many short documents, such as text messages.</p> </li> </ul>'
    description: The input properties for a topic detection job.
  InputFormat:
    type: string
    enum:
      - ONE_DOC_PER_FILE
      - ONE_DOC_PER_LINE
  Integer:
    type: integer
  InternalServerException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/String'
    description: An internal server error occurred. Retry your request.
  InvalidFilterException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/String'
    description: The filter specified for the <code>ListTopicDetectionJobs</code> operation is invalid. Specify a different filter.
  InvalidRequestException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/String'
    description: The request is invalid.
  JobId:
    type: string
    minLength: 1
    maxLength: 32
  JobName:
    type: string
    pattern: '^([\p{L}\p{Z}\p{N}_.:/=+\-%@]*)$'
    minLength: 1
    maxLength: 256
  JobNotFoundException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/String'
    description: The specified job was not found. Check the job ID and try again.
  JobStatus:
    type: string
    enum:
      - SUBMITTED
      - IN_PROGRESS
      - COMPLETED
      - FAILED
      - STOP_REQUESTED
      - STOPPED
  KeyPhrase:
    type: object
    properties:
      Score:
        $ref: '#/definitions/Float'
        description: The level of confidence that Amazon Comprehend has in the accuracy of the detection.
      Text:
        $ref: '#/definitions/String'
        description: The text of a key noun phrase.
      BeginOffset:
        $ref: '#/definitions/Integer'
        description: 'A character offset in the input text that shows where the key phrase begins (the first character is at position 0). The offset returns the position of each UTF-8 code point in the string. A <i>code point</i> is the abstract character from a particular graphical representation. For example, a multi-byte UTF-8 character maps to a single code point.'
      EndOffset:
        $ref: '#/definitions/Integer'
        description: 'A character offset in the input text where the key phrase ends. The offset returns the position of each UTF-8 code point in the string. A <code>code point</code> is the abstract character from a particular graphical representation. For example, a multi-byte UTF-8 character maps to a single code point.'
    description: Describes a key noun phrase.
  KeyPhrasesDetectionJobFilter:
    type: object
    properties:
      JobName:
        $ref: '#/definitions/JobName'
        description: Filters on the name of the job.
      JobStatus:
        $ref: '#/definitions/JobStatus'
        description: Filters the list of jobs based on job status. Returns only jobs with the specified status.
      SubmitTimeBefore:
        $ref: '#/definitions/Timestamp'
        description: 'Filters the list of jobs based on the time that the job was submitted for processing. Returns only jobs submitted before the specified time. Jobs are returned in ascending order, oldest to newest.'
      SubmitTimeAfter:
        $ref: '#/definitions/Timestamp'
        description: 'Filters the list of jobs based on the time that the job was submitted for processing. Returns only jobs submitted after the specified time. Jobs are returned in descending order, newest to oldest.'
    description: 'Provides information for filtering a list of dominant language detection jobs. For more information, see the operation.'
  KeyPhrasesDetectionJobProperties:
    type: object
    properties:
      JobId:
        $ref: '#/definitions/JobId'
        description: The identifier assigned to the key phrases detection job.
      JobName:
        $ref: '#/definitions/JobName'
        description: The name that you assigned the key phrases detection job.
      JobStatus:
        $ref: '#/definitions/JobStatus'
        description: 'The current status of the key phrases detection job. If the status is <code>FAILED</code>, the <code>Message</code> field shows the reason for the failure.'
      Message:
        $ref: '#/definitions/AnyLengthString'
        description: A description of the status of a job.
      SubmitTime:
        $ref: '#/definitions/Timestamp'
        description: The time that the key phrases detection job was submitted for processing.
      EndTime:
        $ref: '#/definitions/Timestamp'
        description: The time that the key phrases detection job completed.
      InputDataConfig:
        $ref: '#/definitions/InputDataConfig'
        description: The input data configuration that you supplied when you created the key phrases detection job.
      OutputDataConfig:
        $ref: '#/definitions/OutputDataConfig'
        description: The output data configuration that you supplied when you created the key phrases detection job.
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: The language code of the input documents.
    description: Provides information about a key phrases detection job.
  KeyPhrasesDetectionJobPropertiesList:
    type: array
    items:
      $ref: '#/definitions/KeyPhrasesDetectionJobProperties'
  LanguageCode:
    type: string
    enum:
      - en
      - es
  ListDominantLanguageDetectionJobsRequest:
    type: object
    properties:
      Filter:
        $ref: '#/definitions/DominantLanguageDetectionJobFilter'
        description: 'Filters that jobs that are returned. You can filter jobs on their name, status, or the date and time that they were submitted. You can only set one filter at a time.'
      NextToken:
        $ref: '#/definitions/String'
        description: Identifies the next page of results to return.
      MaxResults:
        $ref: '#/definitions/MaxResultsInteger'
        description: The maximum number of results to return in each page. The default is 100.
  ListDominantLanguageDetectionJobsResponse:
    type: object
    properties:
      DominantLanguageDetectionJobPropertiesList:
        $ref: '#/definitions/DominantLanguageDetectionJobPropertiesList'
        description: A list containing the properties of each job that is returned.
      NextToken:
        $ref: '#/definitions/String'
        description: Identifies the next page of results to return.
  ListEntitiesDetectionJobsRequest:
    type: object
    properties:
      Filter:
        $ref: '#/definitions/EntitiesDetectionJobFilter'
        description: 'Filters the jobs that are returned. You can filter jobs on their name, status, or the date and time that they were submitted. You can only set one filter at a time.'
      NextToken:
        $ref: '#/definitions/String'
        description: Identifies the next page of results to return.
      MaxResults:
        $ref: '#/definitions/MaxResultsInteger'
        description: The maximum number of results to return in each page. The default is 100.
  ListEntitiesDetectionJobsResponse:
    type: object
    properties:
      EntitiesDetectionJobPropertiesList:
        $ref: '#/definitions/EntitiesDetectionJobPropertiesList'
        description: A list containing the properties of each job that is returned.
      NextToken:
        $ref: '#/definitions/String'
        description: Identifies the next page of results to return.
  ListKeyPhrasesDetectionJobsRequest:
    type: object
    properties:
      Filter:
        $ref: '#/definitions/KeyPhrasesDetectionJobFilter'
        description: 'Filters the jobs that are returned. You can filter jobs on their name, status, or the date and time that they were submitted. You can only set one filter at a time.'
      NextToken:
        $ref: '#/definitions/String'
        description: Identifies the next page of results to return.
      MaxResults:
        $ref: '#/definitions/MaxResultsInteger'
        description: The maximum number of results to return in each page. The default is 100.
  ListKeyPhrasesDetectionJobsResponse:
    type: object
    properties:
      KeyPhrasesDetectionJobPropertiesList:
        $ref: '#/definitions/KeyPhrasesDetectionJobPropertiesList'
        description: A list containing the properties of each job that is returned.
      NextToken:
        $ref: '#/definitions/String'
        description: Identifies the next page of results to return.
  ListOfDetectDominantLanguageResult:
    type: array
    items:
      $ref: '#/definitions/BatchDetectDominantLanguageItemResult'
  ListOfDetectEntitiesResult:
    type: array
    items:
      $ref: '#/definitions/BatchDetectEntitiesItemResult'
  ListOfDetectKeyPhrasesResult:
    type: array
    items:
      $ref: '#/definitions/BatchDetectKeyPhrasesItemResult'
  ListOfDetectSentimentResult:
    type: array
    items:
      $ref: '#/definitions/BatchDetectSentimentItemResult'
  ListOfDominantLanguages:
    type: array
    items:
      $ref: '#/definitions/DominantLanguage'
  ListOfEntities:
    type: array
    items:
      $ref: '#/definitions/Entity'
  ListOfKeyPhrases:
    type: array
    items:
      $ref: '#/definitions/KeyPhrase'
  ListSentimentDetectionJobsRequest:
    type: object
    properties:
      Filter:
        $ref: '#/definitions/SentimentDetectionJobFilter'
        description: 'Filters the jobs that are returned. You can filter jobs on their name, status, or the date and time that they were submitted. You can only set one filter at a time.'
      NextToken:
        $ref: '#/definitions/String'
        description: Identifies the next page of results to return.
      MaxResults:
        $ref: '#/definitions/MaxResultsInteger'
        description: The maximum number of results to return in each page. The default is 100.
  ListSentimentDetectionJobsResponse:
    type: object
    properties:
      SentimentDetectionJobPropertiesList:
        $ref: '#/definitions/SentimentDetectionJobPropertiesList'
        description: A list containing the properties of each job that is returned.
      NextToken:
        $ref: '#/definitions/String'
        description: Identifies the next page of results to return.
  ListTopicsDetectionJobsRequest:
    type: object
    properties:
      Filter:
        $ref: '#/definitions/TopicsDetectionJobFilter'
        description: 'Filters the jobs that are returned. Jobs can be filtered on their name, status, or the date and time that they were submitted. You can set only one filter at a time.'
      NextToken:
        $ref: '#/definitions/String'
        description: Identifies the next page of results to return.
      MaxResults:
        $ref: '#/definitions/MaxResultsInteger'
        description: The maximum number of results to return in each page. The default is 100.
  ListTopicsDetectionJobsResponse:
    type: object
    properties:
      TopicsDetectionJobPropertiesList:
        $ref: '#/definitions/TopicsDetectionJobPropertiesList'
        description: A list containing the properties of each job that is returned.
      NextToken:
        $ref: '#/definitions/String'
        description: Identifies the next page of results to return.
  MaxResultsInteger:
    type: integer
    minimum: 1
    maximum: 500
  NumberOfTopicsInteger:
    type: integer
    minimum: 1
    maximum: 100
  OutputDataConfig:
    type: object
    required:
      - S3Uri
    properties:
      S3Uri:
        $ref: '#/definitions/S3Uri'
        description: '<p>When you use the <code>OutputDataConfig</code> object with asynchronous operations, you specify the Amazon S3 location where you want to write the output data. The URI must be in the same region as the API endpoint that you are calling. The location is used as the prefix for the actual location of the output file.</p> <p>When the topic detection job is finished, the service creates an output file in a directory specific to the job. The <code>S3Uri</code> field contains the location of the output file, called <code>output.tar.gz</code>. It is a compressed archive that contains the ouput of the operation.</p>'
    description: <p>Provides configuration parameters for the output of topic detection jobs.</p> <p/>
  S3Uri:
    type: string
    pattern: 's3://[a-z0-9][\.\-a-z0-9]{1,61}[a-z0-9](/.*)?'
    maxLength: 1024
  SentimentDetectionJobFilter:
    type: object
    properties:
      JobName:
        $ref: '#/definitions/JobName'
        description: Filters on the name of the job.
      JobStatus:
        $ref: '#/definitions/JobStatus'
        description: Filters the list of jobs based on job status. Returns only jobs with the specified status.
      SubmitTimeBefore:
        $ref: '#/definitions/Timestamp'
        description: 'Filters the list of jobs based on the time that the job was submitted for processing. Returns only jobs submitted before the specified time. Jobs are returned in ascending order, oldest to newest.'
      SubmitTimeAfter:
        $ref: '#/definitions/Timestamp'
        description: 'Filters the list of jobs based on the time that the job was submitted for processing. Returns only jobs submitted after the specified time. Jobs are returned in descending order, newest to oldest.'
    description: 'Provides information for filtering a list of dominant language detection jobs. For more information, see the operation.'
  SentimentDetectionJobProperties:
    type: object
    properties:
      JobId:
        $ref: '#/definitions/JobId'
        description: The identifier assigned to the sentiment detection job.
      JobName:
        $ref: '#/definitions/JobName'
        description: The name that you assigned to the sentiment detection job
      JobStatus:
        $ref: '#/definitions/JobStatus'
        description: 'The current status of the sentiment detection job. If the status is <code>FAILED</code>, the <code>Messages</code> field shows the reason for the failure.'
      Message:
        $ref: '#/definitions/AnyLengthString'
        description: A description of the status of a job.
      SubmitTime:
        $ref: '#/definitions/Timestamp'
        description: The time that the sentiment detection job was submitted for processing.
      EndTime:
        $ref: '#/definitions/Timestamp'
        description: The time that the sentiment detection job ended.
      InputDataConfig:
        $ref: '#/definitions/InputDataConfig'
        description: The input data configuration that you supplied when you created the sentiment detection job.
      OutputDataConfig:
        $ref: '#/definitions/OutputDataConfig'
        description: The output data configuration that you supplied when you created the sentiment detection job.
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: The language code of the input documents.
    description: Provides information about a sentiment detection job.
  SentimentDetectionJobPropertiesList:
    type: array
    items:
      $ref: '#/definitions/SentimentDetectionJobProperties'
  SentimentScore:
    type: object
    properties:
      Positive:
        $ref: '#/definitions/Float'
        description: The level of confidence that Amazon Comprehend has in the accuracy of its detection of the <code>POSITIVE</code> sentiment.
      Negative:
        $ref: '#/definitions/Float'
        description: The level of confidence that Amazon Comprehend has in the accuracy of its detection of the <code>NEGATIVE</code> sentiment.
      Neutral:
        $ref: '#/definitions/Float'
        description: The level of confidence that Amazon Comprehend has in the accuracy of its detection of the <code>NEUTRAL</code> sentiment.
      Mixed:
        $ref: '#/definitions/Float'
        description: The level of confidence that Amazon Comprehend has in the accuracy of its detection of the <code>MIXED</code> sentiment.
    description: Describes the level of confidence that Amazon Comprehend has in the accuracy of its detection of sentiments.
  SentimentType:
    type: string
    enum:
      - POSITIVE
      - NEGATIVE
      - NEUTRAL
      - MIXED
  StartDominantLanguageDetectionJobRequest:
    type: object
    required:
      - InputDataConfig
      - OutputDataConfig
      - DataAccessRoleArn
    properties:
      InputDataConfig:
        $ref: '#/definitions/InputDataConfig'
        description: Specifies the format and location of the input data for the job.
      OutputDataConfig:
        $ref: '#/definitions/OutputDataConfig'
        description: Specifies where to send the output files.
      DataAccessRoleArn:
        $ref: '#/definitions/IamRoleArn'
        description: The Amazon Resource Name (ARN) of the AWS Identity and Management (IAM) role that grants Amazon Comprehend read access to your input data.
      JobName:
        $ref: '#/definitions/JobName'
        description: An identifier for the job.
      ClientRequestToken:
        $ref: '#/definitions/ClientRequestTokenString'
        description: 'A unique identifier for the request. If you do not set the client request token, Amazon Comprehend generates one.'
  StartDominantLanguageDetectionJobResponse:
    type: object
    properties:
      JobId:
        $ref: '#/definitions/JobId'
        description: 'The identifier generated for the job. To get the status of a job, use this identifier with the operation.'
      JobStatus:
        $ref: '#/definitions/JobStatus'
        description: '<p>The status of the job. </p> <ul> <li> <p>SUBMITTED - The job has been received and is queued for processing.</p> </li> <li> <p>IN_PROGRESS - Amazon Comprehend is processing the job.</p> </li> <li> <p>COMPLETED - The job was successfully completed and the output is available.</p> </li> <li> <p>FAILED - The job did not complete. To get details, use the operation.</p> </li> </ul>'
  StartEntitiesDetectionJobRequest:
    type: object
    required:
      - InputDataConfig
      - OutputDataConfig
      - DataAccessRoleArn
      - LanguageCode
    properties:
      InputDataConfig:
        $ref: '#/definitions/InputDataConfig'
        description: Specifies the format and location of the input data for the job.
      OutputDataConfig:
        $ref: '#/definitions/OutputDataConfig'
        description: Specifies where to send the output files.
      DataAccessRoleArn:
        $ref: '#/definitions/IamRoleArn'
        description: The Amazon Resource Name (ARN) of the AWS Identity and Management (IAM) role that grants Amazon Comprehend read access to your input data.
      JobName:
        $ref: '#/definitions/JobName'
        description: The identifier of the job.
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: The language of the input documents. You can specify English ("en") or Spanish ("es"). All documents must be in the same language.
      ClientRequestToken:
        $ref: '#/definitions/ClientRequestTokenString'
        description: 'A unique identifier for the request. If you don''t set the client request token, Amazon Comprehend generates one.'
  StartEntitiesDetectionJobResponse:
    type: object
    properties:
      JobId:
        $ref: '#/definitions/JobId'
        description: 'The identifier generated for the job. To get the status of job, use this identifier with the operation.'
      JobStatus:
        $ref: '#/definitions/JobStatus'
        description: '<p>The status of the job. </p> <ul> <li> <p>SUBMITTED - The job has been received and is queued for processing.</p> </li> <li> <p>IN_PROGRESS - Amazon Comprehend is processing the job.</p> </li> <li> <p>COMPLETED - The job was successfully completed and the output is available.</p> </li> <li> <p>FAILED - The job did not complete. To get details, use the operation.</p> </li> </ul>'
  StartKeyPhrasesDetectionJobRequest:
    type: object
    required:
      - InputDataConfig
      - OutputDataConfig
      - DataAccessRoleArn
      - LanguageCode
    properties:
      InputDataConfig:
        $ref: '#/definitions/InputDataConfig'
        description: Specifies the format and location of the input data for the job.
      OutputDataConfig:
        $ref: '#/definitions/OutputDataConfig'
        description: Specifies where to send the output files.
      DataAccessRoleArn:
        $ref: '#/definitions/IamRoleArn'
        description: The Amazon Resource Name (ARN) of the AWS Identity and Management (IAM) role that grants Amazon Comprehend read access to your input data.
      JobName:
        $ref: '#/definitions/JobName'
        description: The identifier of the job.
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: The language of the input documents. You can specify English ("en") or Spanish ("es"). All documents must be in the same language.
      ClientRequestToken:
        $ref: '#/definitions/ClientRequestTokenString'
        description: 'A unique identifier for the request. If you don''t set the client request token, Amazon Comprehend generates one.'
  StartKeyPhrasesDetectionJobResponse:
    type: object
    properties:
      JobId:
        $ref: '#/definitions/JobId'
        description: 'The identifier generated for the job. To get the status of a job, use this identifier with the operation.'
      JobStatus:
        $ref: '#/definitions/JobStatus'
        description: '<p>The status of the job. </p> <ul> <li> <p>SUBMITTED - The job has been received and is queued for processing.</p> </li> <li> <p>IN_PROGRESS - Amazon Comprehend is processing the job.</p> </li> <li> <p>COMPLETED - The job was successfully completed and the output is available.</p> </li> <li> <p>FAILED - The job did not complete. To get details, use the operation.</p> </li> </ul>'
  StartSentimentDetectionJobRequest:
    type: object
    required:
      - InputDataConfig
      - OutputDataConfig
      - DataAccessRoleArn
      - LanguageCode
    properties:
      InputDataConfig:
        $ref: '#/definitions/InputDataConfig'
        description: Specifies the format and location of the input data for the job.
      OutputDataConfig:
        $ref: '#/definitions/OutputDataConfig'
        description: 'Specifies where to send the output files. '
      DataAccessRoleArn:
        $ref: '#/definitions/IamRoleArn'
        description: The Amazon Resource Name (ARN) of the AWS Identity and Management (IAM) role that grants Amazon Comprehend read access to your input data.
      JobName:
        $ref: '#/definitions/JobName'
        description: The identifier of the job.
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: The language of the input documents. You can specify English ("en") or Spanish ("es"). All documents must be in the same language.
      ClientRequestToken:
        $ref: '#/definitions/ClientRequestTokenString'
        description: 'A unique identifier for the request. If you don''t set the client request token, Amazon Comprehend generates one.'
  StartSentimentDetectionJobResponse:
    type: object
    properties:
      JobId:
        $ref: '#/definitions/JobId'
        description: 'The identifier generated for the job. To get the status of a job, use this identifier with the operation.'
      JobStatus:
        $ref: '#/definitions/JobStatus'
        description: '<p>The status of the job. </p> <ul> <li> <p>SUBMITTED - The job has been received and is queued for processing.</p> </li> <li> <p>IN_PROGRESS - Amazon Comprehend is processing the job.</p> </li> <li> <p>COMPLETED - The job was successfully completed and the output is available.</p> </li> <li> <p>FAILED - The job did not complete. To get details, use the operation.</p> </li> </ul>'
  StartTopicsDetectionJobRequest:
    type: object
    required:
      - InputDataConfig
      - OutputDataConfig
      - DataAccessRoleArn
    properties:
      InputDataConfig:
        $ref: '#/definitions/InputDataConfig'
        description: Specifies the format and location of the input data for the job.
      OutputDataConfig:
        $ref: '#/definitions/OutputDataConfig'
        description: 'Specifies where to send the output files. The output is a compressed archive with two files, <code>topic-terms.csv</code> that lists the terms associated with each topic, and <code>doc-topics.csv</code> that lists the documents associated with each topic'
      DataAccessRoleArn:
        $ref: '#/definitions/IamRoleArn'
        description: 'The Amazon Resource Name (ARN) of the AWS Identity and Access Management (IAM) role that grants Amazon Comprehend read access to your input data. '
      JobName:
        $ref: '#/definitions/JobName'
        description: The identifier of the job.
      NumberOfTopics:
        $ref: '#/definitions/NumberOfTopicsInteger'
        description: The number of topics to detect.
      ClientRequestToken:
        $ref: '#/definitions/ClientRequestTokenString'
        description: 'A unique identifier for the request. If you do not set the client request token, Amazon Comprehend generates one.'
  StartTopicsDetectionJobResponse:
    type: object
    properties:
      JobId:
        $ref: '#/definitions/JobId'
        description: 'The identifier generated for the job. To get the status of the job, use this identifier with the <code>DescribeTopicDetectionJob</code> operation.'
      JobStatus:
        $ref: '#/definitions/JobStatus'
        description: '<p>The status of the job: </p> <ul> <li> <p>SUBMITTED - The job has been received and is queued for processing.</p> </li> <li> <p>IN_PROGRESS - Amazon Comprehend is processing the job.</p> </li> <li> <p>COMPLETED - The job was successfully completed and the output is available.</p> </li> <li> <p>FAILED - The job did not complete. To get details, use the <code>DescribeTopicDetectionJob</code> operation.</p> </li> </ul>'
  StopDominantLanguageDetectionJobRequest:
    type: object
    required:
      - JobId
    properties:
      JobId:
        $ref: '#/definitions/JobId'
        description: The identifier of the dominant language detection job to stop.
  StopDominantLanguageDetectionJobResponse:
    type: object
    properties:
      JobId:
        $ref: '#/definitions/JobId'
        description: The identifier of the dominant language detection job to stop.
      JobStatus:
        $ref: '#/definitions/JobStatus'
        description: 'Either <code>STOPPING</code> if the job is currently running, or <code>STOPPED</code> if the job was previously stopped with the <code>StopDominantLanguageDetectionJob</code> operation.'
  StopEntitiesDetectionJobRequest:
    type: object
    required:
      - JobId
    properties:
      JobId:
        $ref: '#/definitions/JobId'
        description: The identifier of the entities detection job to stop.
  StopEntitiesDetectionJobResponse:
    type: object
    properties:
      JobId:
        $ref: '#/definitions/JobId'
        description: The identifier of the entities detection job to stop.
      JobStatus:
        $ref: '#/definitions/JobStatus'
        description: 'Either <code>STOPPING</code> if the job is currently running, or <code>STOPPED</code> if the job was previously stopped with the <code>StopEntitiesDetectionJob</code> operation.'
  StopKeyPhrasesDetectionJobRequest:
    type: object
    required:
      - JobId
    properties:
      JobId:
        $ref: '#/definitions/JobId'
        description: The identifier of the key phrases detection job to stop.
  StopKeyPhrasesDetectionJobResponse:
    type: object
    properties:
      JobId:
        $ref: '#/definitions/JobId'
        description: The identifier of the key phrases detection job to stop.
      JobStatus:
        $ref: '#/definitions/JobStatus'
        description: 'Either <code>STOPPING</code> if the job is currently running, or <code>STOPPED</code> if the job was previously stopped with the <code>StopKeyPhrasesDetectionJob</code> operation.'
  StopSentimentDetectionJobRequest:
    type: object
    required:
      - JobId
    properties:
      JobId:
        $ref: '#/definitions/JobId'
        description: The identifier of the sentiment detection job to stop.
  StopSentimentDetectionJobResponse:
    type: object
    properties:
      JobId:
        $ref: '#/definitions/JobId'
        description: The identifier of the sentiment detection job to stop.
      JobStatus:
        $ref: '#/definitions/JobStatus'
        description: 'Either <code>STOPPING</code> if the job is currently running, or <code>STOPPED</code> if the job was previously stopped with the <code>StopSentimentDetectionJob</code> operation.'
  String:
    type: string
    minLength: 1
  StringList:
    type: array
    items:
      $ref: '#/definitions/String'
  TextSizeLimitExceededException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/String'
    description: The size of the input text exceeds the limit. Use a smaller document.
  Timestamp:
    type: string
    format: date-time
  TooManyRequestsException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/String'
    description: The number of requests exceeds the limit. Resubmit your request later.
  TopicsDetectionJobFilter:
    type: object
    properties:
      JobName:
        $ref: '#/definitions/JobName'
        description: <p/>
      JobStatus:
        $ref: '#/definitions/JobStatus'
        description: Filters the list of topic detection jobs based on job status. Returns only jobs with the specified status.
      SubmitTimeBefore:
        $ref: '#/definitions/Timestamp'
        description: 'Filters the list of jobs based on the time that the job was submitted for processing. Only returns jobs submitted before the specified time. Jobs are returned in descending order, newest to oldest.'
      SubmitTimeAfter:
        $ref: '#/definitions/Timestamp'
        description: 'Filters the list of jobs based on the time that the job was submitted for processing. Only returns jobs submitted after the specified time. Jobs are returned in ascending order, oldest to newest.'
    description: 'Provides information for filtering topic detection jobs. For more information, see .'
  TopicsDetectionJobProperties:
    type: object
    properties:
      JobId:
        $ref: '#/definitions/JobId'
        description: The identifier assigned to the topic detection job.
      JobName:
        $ref: '#/definitions/JobName'
        description: The name of the topic detection job.
      JobStatus:
        $ref: '#/definitions/JobStatus'
[...]
