swagger: '2.0'
info:
  version: '2017-11-27'
  x-release: v4
  title: Amazon Comprehend
  description: 'Amazon Comprehend is an AWS service for gaining insight into the content of documents. Use these actions to determine the topics contained in your documents, the topics they discuss, the predominant sentiment expressed in them, the predominant language used, and more.'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: comprehend
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/comprehend-2017-11-27.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/comprehend/'
host: comprehend.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: query
    type: string
    required: true
  Version:
    name: Version
    in: query
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /:
    post:
      operationId: BatchDetectDominantLanguage
      description: 'Determines the dominant language of the input text for a batch of documents. For a list of languages that Amazon Comprehend can detect, see <a href="http://docs.aws.amazon.com/comprehend/latest/dg/how-languages.html">Amazon Comprehend Supported Languages</a>. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchDetectDominantLanguageResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TextSizeLimitExceededException
          schema:
            $ref: '#/definitions/TextSizeLimitExceededException'
        '482':
          description: BatchSizeLimitExceededException
          schema:
            $ref: '#/definitions/BatchSizeLimitExceededException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BatchDetectDominantLanguageRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#BatchDetectEntities':
    post:
      operationId: BatchDetectEntities
      description: 'Inspects the text of a batch of documents for named entities and returns information about them. For more information about named entities, see <a>how-entities</a> '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchDetectEntitiesResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TextSizeLimitExceededException
          schema:
            $ref: '#/definitions/TextSizeLimitExceededException'
        '482':
          description: UnsupportedLanguageException
          schema:
            $ref: '#/definitions/UnsupportedLanguageException'
        '483':
          description: BatchSizeLimitExceededException
          schema:
            $ref: '#/definitions/BatchSizeLimitExceededException'
        '484':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BatchDetectEntitiesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#BatchDetectKeyPhrases':
    post:
      operationId: BatchDetectKeyPhrases
      description: Detects the key noun phrases found in a batch of documents.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchDetectKeyPhrasesResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TextSizeLimitExceededException
          schema:
            $ref: '#/definitions/TextSizeLimitExceededException'
        '482':
          description: UnsupportedLanguageException
          schema:
            $ref: '#/definitions/UnsupportedLanguageException'
        '483':
          description: BatchSizeLimitExceededException
          schema:
            $ref: '#/definitions/BatchSizeLimitExceededException'
        '484':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BatchDetectKeyPhrasesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#BatchDetectSentiment':
    post:
      operationId: BatchDetectSentiment
      description: 'Inspects a batch of documents and returns an inference of the prevailing sentiment, <code>POSITIVE</code>, <code>NEUTRAL</code>, <code>MIXED</code>, or <code>NEGATIVE</code>, in each one.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchDetectSentimentResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TextSizeLimitExceededException
          schema:
            $ref: '#/definitions/TextSizeLimitExceededException'
        '482':
          description: UnsupportedLanguageException
          schema:
            $ref: '#/definitions/UnsupportedLanguageException'
        '483':
          description: BatchSizeLimitExceededException
          schema:
            $ref: '#/definitions/BatchSizeLimitExceededException'
        '484':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BatchDetectSentimentRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#BatchDetectSyntax':
    post:
      operationId: BatchDetectSyntax
      description: 'Inspects the text of a batch of documents for the syntax and part of speech of the words in the document and returns information about them. For more information, see <a>how-syntax</a>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchDetectSyntaxResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TextSizeLimitExceededException
          schema:
            $ref: '#/definitions/TextSizeLimitExceededException'
        '482':
          description: UnsupportedLanguageException
          schema:
            $ref: '#/definitions/UnsupportedLanguageException'
        '483':
          description: BatchSizeLimitExceededException
          schema:
            $ref: '#/definitions/BatchSizeLimitExceededException'
        '484':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BatchDetectSyntaxRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateDocumentClassifier':
    post:
      operationId: CreateDocumentClassifier
      description: 'Creates a new document classifier that you can use to categorize documents. To create a classifier you provide a set of training documents that labeled with the categories that you want to use. After the classifier is trained you can use it to categorize a set of labeled documents into the categories. For more information, see <a>how-document-classification</a>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDocumentClassifierResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '483':
          description: ResourceLimitExceededException
          schema:
            $ref: '#/definitions/ResourceLimitExceededException'
        '484':
          description: UnsupportedLanguageException
          schema:
            $ref: '#/definitions/UnsupportedLanguageException'
        '485':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateDocumentClassifierRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateEntityRecognizer':
    post:
      operationId: CreateEntityRecognizer
      description: 'Creates an entity recognizer using submitted files. After your <code>CreateEntityRecognizer</code> request is submitted, you can check job status using the API. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateEntityRecognizerResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '483':
          description: ResourceLimitExceededException
          schema:
            $ref: '#/definitions/ResourceLimitExceededException'
        '484':
          description: UnsupportedLanguageException
          schema:
            $ref: '#/definitions/UnsupportedLanguageException'
        '485':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateEntityRecognizerRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteDocumentClassifier':
    post:
      operationId: DeleteDocumentClassifier
      description: '<p>Deletes a previously created document classifier</p> <p>Only those classifiers that are in terminated states (IN_ERROR, TRAINED) will be deleted. If an active inference job is using the model, a <code>ResourceInUseException</code> will be returned.</p> <p>This is an asynchronous action that puts the classifier into a DELETING state, and it is then removed by a background job. Once removed, the classifier disappears from your account and is no longer available for use. </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDocumentClassifierResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ResourceUnavailableException
          schema:
            $ref: '#/definitions/ResourceUnavailableException'
        '484':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '485':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteDocumentClassifierRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteEntityRecognizer':
    post:
      operationId: DeleteEntityRecognizer
      description: '<p>Deletes an entity recognizer.</p> <p>Only those recognizers that are in terminated states (IN_ERROR, TRAINED) will be deleted. If an active inference job is using the model, a <code>ResourceInUseException</code> will be returned.</p> <p>This is an asynchronous action that puts the recognizer into a DELETING state, and it is then removed by a background job. Once removed, the recognizer disappears from your account and is no longer available for use. </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteEntityRecognizerResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ResourceUnavailableException
          schema:
            $ref: '#/definitions/ResourceUnavailableException'
        '484':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '485':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteEntityRecognizerRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeDocumentClassificationJob':
    post:
      operationId: DescribeDocumentClassificationJob
      description: Gets the properties associated with a document classification job. Use this operation to get the status of a classification job.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDocumentClassificationJobResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: JobNotFoundException
          schema:
            $ref: '#/definitions/JobNotFoundException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDocumentClassificationJobRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeDocumentClassifier':
    post:
      operationId: DescribeDocumentClassifier
      description: Gets the properties associated with a document classifier.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDocumentClassifierResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDocumentClassifierRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeDominantLanguageDetectionJob':
    post:
      operationId: DescribeDominantLanguageDetectionJob
      description: Gets the properties associated with a dominant language detection job. Use this operation to get the status of a detection job.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDominantLanguageDetectionJobResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: JobNotFoundException
          schema:
            $ref: '#/definitions/JobNotFoundException'
        '482':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDominantLanguageDetectionJobRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeEntitiesDetectionJob':
    post:
      operationId: DescribeEntitiesDetectionJob
      description: Gets the properties associated with an entities detection job. Use this operation to get the status of a detection job.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeEntitiesDetectionJobResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: JobNotFoundException
          schema:
            $ref: '#/definitions/JobNotFoundException'
        '482':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeEntitiesDetectionJobRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeEntityRecognizer':
    post:
      operationId: DescribeEntityRecognizer
      description: 'Provides details about an entity recognizer including status, S3 buckets containing training data, recognizer metadata, metrics, and so on.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeEntityRecognizerResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeEntityRecognizerRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeKeyPhrasesDetectionJob':
    post:
      operationId: DescribeKeyPhrasesDetectionJob
      description: Gets the properties associated with a key phrases detection job. Use this operation to get the status of a detection job.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeKeyPhrasesDetectionJobResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: JobNotFoundException
          schema:
            $ref: '#/definitions/JobNotFoundException'
        '482':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeKeyPhrasesDetectionJobRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeSentimentDetectionJob':
    post:
      operationId: DescribeSentimentDetectionJob
      description: Gets the properties associated with a sentiment detection job. Use this operation to get the status of a detection job.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeSentimentDetectionJobResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: JobNotFoundException
          schema:
            $ref: '#/definitions/JobNotFoundException'
        '482':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeSentimentDetectionJobRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeTopicsDetectionJob':
    post:
      operationId: DescribeTopicsDetectionJob
      description: Gets the properties associated with a topic detection job. Use this operation to get the status of a detection job.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeTopicsDetectionJobResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: JobNotFoundException
          schema:
            $ref: '#/definitions/JobNotFoundException'
        '482':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeTopicsDetectionJobRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DetectDominantLanguage':
    post:
      operationId: DetectDominantLanguage
      description: 'Determines the dominant language of the input text. For a list of languages that Amazon Comprehend can detect, see <a href="http://docs.aws.amazon.com/comprehend/latest/dg/how-languages.html">Amazon Comprehend Supported Languages</a>. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DetectDominantLanguageResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TextSizeLimitExceededException
          schema:
            $ref: '#/definitions/TextSizeLimitExceededException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DetectDominantLanguageRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DetectEntities':
    post:
      operationId: DetectEntities
      description: 'Inspects text for named entities, and returns information about them. For more information, about named entities, see <a>how-entities</a>. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DetectEntitiesResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TextSizeLimitExceededException
          schema:
            $ref: '#/definitions/TextSizeLimitExceededException'
        '482':
          description: UnsupportedLanguageException
          schema:
            $ref: '#/definitions/UnsupportedLanguageException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DetectEntitiesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DetectKeyPhrases':
    post:
      operationId: DetectKeyPhrases
      description: 'Detects the key noun phrases found in the text. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DetectKeyPhrasesResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TextSizeLimitExceededException
          schema:
            $ref: '#/definitions/TextSizeLimitExceededException'
        '482':
          description: UnsupportedLanguageException
          schema:
            $ref: '#/definitions/UnsupportedLanguageException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DetectKeyPhrasesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DetectSentiment':
    post:
      operationId: DetectSentiment
      description: 'Inspects text and returns an inference of the prevailing sentiment (<code>POSITIVE</code>, <code>NEUTRAL</code>, <code>MIXED</code>, or <code>NEGATIVE</code>). '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DetectSentimentResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TextSizeLimitExceededException
          schema:
            $ref: '#/definitions/TextSizeLimitExceededException'
        '482':
          description: UnsupportedLanguageException
          schema:
            $ref: '#/definitions/UnsupportedLanguageException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DetectSentimentRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DetectSyntax':
    post:
      operationId: DetectSyntax
      description: 'Inspects text for syntax and the part of speech of words in the document. For more information, <a>how-syntax</a>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DetectSyntaxResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TextSizeLimitExceededException
          schema:
            $ref: '#/definitions/TextSizeLimitExceededException'
        '482':
          description: UnsupportedLanguageException
          schema:
            $ref: '#/definitions/UnsupportedLanguageException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DetectSyntaxRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListDocumentClassificationJobs':
    post:
      operationId: ListDocumentClassificationJobs
      description: Gets a list of the documentation classification jobs that you have submitted.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDocumentClassificationJobsResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: InvalidFilterException
          schema:
            $ref: '#/definitions/InvalidFilterException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListDocumentClassificationJobsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListDocumentClassifiers':
    post:
      operationId: ListDocumentClassifiers
      description: Gets a list of the document classifiers that you have created.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDocumentClassifiersResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: InvalidFilterException
          schema:
            $ref: '#/definitions/InvalidFilterException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListDocumentClassifiersRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListDominantLanguageDetectionJobs':
    post:
      operationId: ListDominantLanguageDetectionJobs
      description: Gets a list of the dominant language detection jobs that you have submitted.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDominantLanguageDetectionJobsResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: InvalidFilterException
          schema:
            $ref: '#/definitions/InvalidFilterException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListDominantLanguageDetectionJobsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListEntitiesDetectionJobs':
    post:
      operationId: ListEntitiesDetectionJobs
      description: Gets a list of the entity detection jobs that you have submitted.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListEntitiesDetectionJobsResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: InvalidFilterException
          schema:
            $ref: '#/definitions/InvalidFilterException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListEntitiesDetectionJobsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListEntityRecognizers':
    post:
      operationId: ListEntityRecognizers
      description: '<p>Gets a list of the properties of all entity recognizers that you created, including recognizers currently in training. Allows you to filter the list of recognizers based on criteria such as status and submission time. This call returns up to 500 entity recognizers in the list, with a default number of 100 recognizers in the list.</p> <p>The results of this list are not in any particular order. Please get the list and sort locally if needed.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListEntityRecognizersResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: InvalidFilterException
          schema:
            $ref: '#/definitions/InvalidFilterException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListEntityRecognizersRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListKeyPhrasesDetectionJobs':
    post:
      operationId: ListKeyPhrasesDetectionJobs
      description: Get a list of key phrase detection jobs that you have submitted.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListKeyPhrasesDetectionJobsResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: InvalidFilterException
          schema:
            $ref: '#/definitions/InvalidFilterException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListKeyPhrasesDetectionJobsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListSentimentDetectionJobs':
    post:
      operationId: ListSentimentDetectionJobs
      description: Gets a list of sentiment detection jobs that you have submitted.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListSentimentDetectionJobsResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: InvalidFilterException
          schema:
            $ref: '#/definitions/InvalidFilterException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListSentimentDetectionJobsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListTopicsDetectionJobs':
    post:
      operationId: ListTopicsDetectionJobs
      description: Gets a list of the topic detection jobs that you have submitted.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTopicsDetectionJobsResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: InvalidFilterException
          schema:
            $ref: '#/definitions/InvalidFilterException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListTopicsDetectionJobsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#StartDocumentClassificationJob':
    post:
      operationId: StartDocumentClassificationJob
      description: Starts an asynchronous document classification job. Use the operation to track the progress of the job.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartDocumentClassificationJobResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ResourceUnavailableException
          schema:
            $ref: '#/definitions/ResourceUnavailableException'
        '484':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StartDocumentClassificationJobRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#StartDominantLanguageDetectionJob':
    post:
      operationId: StartDominantLanguageDetectionJob
      description: Starts an asynchronous dominant language detection job for a collection of documents. Use the operation to track the status of a job.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartDominantLanguageDetectionJobResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StartDominantLanguageDetectionJobRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#StartEntitiesDetectionJob':
    post:
      operationId: StartEntitiesDetectionJob
      description: '<p>Starts an asynchronous entity detection job for a collection of documents. Use the operation to track the status of a job.</p> <p>This API can be used for either standard entity detection or custom entity recognition. In order to be used for custom entity recognition, the optional <code>EntityRecognizerArn</code> must be used in order to provide access to the recognizer being used to detect the custom entity.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartEntitiesDetectionJobResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ResourceUnavailableException
          schema:
            $ref: '#/definitions/ResourceUnavailableException'
        '484':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StartEntitiesDetectionJobRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#StartKeyPhrasesDetectionJob':
    post:
      operationId: StartKeyPhrasesDetectionJob
      description: Starts an asynchronous key phrase detection job for a collection of documents. Use the operation to track the status of a job.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartKeyPhrasesDetectionJobResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StartKeyPhrasesDetectionJobRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#StartSentimentDetectionJob':
    post:
      operationId: StartSentimentDetectionJob
      description: Starts an asynchronous sentiment detection job for a collection of documents. use the operation to track the status of a job.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartSentimentDetectionJobResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StartSentimentDetectionJobRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#StartTopicsDetectionJob':
    post:
      operationId: StartTopicsDetectionJob
      description: Starts an asynchronous topic detection job. Use the <code>DescribeTopicDetectionJob</code> operation to track the status of a job.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartTopicsDetectionJobResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StartTopicsDetectionJobRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#StopDominantLanguageDetectionJob':
    post:
      operationId: StopDominantLanguageDetectionJob
      description: '<p>Stops a dominant language detection job in progress.</p> <p>If the job state is <code>IN_PROGRESS</code> the job is marked for termination and put into the <code>STOP_REQUESTED</code> state. If the job completes before it can be stopped, it is put into the <code>COMPLETED</code> state; otherwise the job is stopped and put into the <code>STOPPED</code> state.</p> <p>If the job is in the <code>COMPLETED</code> or <code>FAILED</code> state when you call the <code>StopDominantLanguageDetectionJob</code> operation, the operation returns a 400 Internal Request Exception. </p> <p>When a job is stopped, any documents already processed are written to the output location.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopDominantLanguageDetectionJobResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: JobNotFoundException
          schema:
            $ref: '#/definitions/JobNotFoundException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StopDominantLanguageDetectionJobRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#StopEntitiesDetectionJob':
    post:
      operationId: StopEntitiesDetectionJob
      description: '<p>Stops an entities detection job in progress.</p> <p>If the job state is <code>IN_PROGRESS</code> the job is marked for termination and put into the <code>STOP_REQUESTED</code> state. If the job completes before it can be stopped, it is put into the <code>COMPLETED</code> state; otherwise the job is stopped and put into the <code>STOPPED</code> state.</p> <p>If the job is in the <code>COMPLETED</code> or <code>FAILED</code> state when you call the <code>StopDominantLanguageDetectionJob</code> operation, the operation returns a 400 Internal Request Exception. </p> <p>When a job is stopped, any documents already processed are written to the output location.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopEntitiesDetectionJobResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: JobNotFoundException
          schema:
            $ref: '#/definitions/JobNotFoundException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StopEntitiesDetectionJobRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#StopKeyPhrasesDetectionJob':
    post:
      operationId: StopKeyPhrasesDetectionJob
      description: '<p>Stops a key phrases detection job in progress.</p> <p>If the job state is <code>IN_PROGRESS</code> the job is marked for termination and put into the <code>STOP_REQUESTED</code> state. If the job completes before it can be stopped, it is put into the <code>COMPLETED</code> state; otherwise the job is stopped and put into the <code>STOPPED</code> state.</p> <p>If the job is in the <code>COMPLETED</code> or <code>FAILED</code> state when you call the <code>StopDominantLanguageDetectionJob</code> operation, the operation returns a 400 Internal Request Exception. </p> <p>When a job is stopped, any documents already processed are written to the output location.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopKeyPhrasesDetectionJobResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: JobNotFoundException
          schema:
            $ref: '#/definitions/JobNotFoundException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StopKeyPhrasesDetectionJobRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#StopSentimentDetectionJob':
    post:
      operationId: StopSentimentDetectionJob
      description: '<p>Stops a sentiment detection job in progress.</p> <p>If the job state is <code>IN_PROGRESS</code> the job is marked for termination and put into the <code>STOP_REQUESTED</code> state. If the job completes before it can be stopped, it is put into the <code>COMPLETED</code> state; otherwise the job is be stopped and put into the <code>STOPPED</code> state.</p> <p>If the job is in the <code>COMPLETED</code> or <code>FAILED</code> state when you call the <code>StopDominantLanguageDetectionJob</code> operation, the operation returns a 400 Internal Request Exception. </p> <p>When a job is stopped, any documents already processed are written to the output location.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopSentimentDetectionJobResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: JobNotFoundException
          schema:
            $ref: '#/definitions/JobNotFoundException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StopSentimentDetectionJobRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#StopTrainingDocumentClassifier':
    post:
      operationId: StopTrainingDocumentClassifier
      description: '<p>Stops a document classifier training job while in progress.</p> <p>If the training job state is <code>TRAINING</code>, the job is marked for termination and put into the <code>STOP_REQUESTED</code> state. If the training job completes before it can be stopped, it is put into the <code>TRAINED</code>; otherwise the training job is stopped and put into the <code>STOPPED</code> state and the service sends back an HTTP 200 response with an empty HTTP body. </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopTrainingDocumentClassifierResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StopTrainingDocumentClassifierRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#StopTrainingEntityRecognizer':
    post:
      operationId: StopTrainingEntityRecognizer
      description: '<p>Stops an entity recognizer training job while in progress.</p> <p>If the training job state is <code>TRAINING</code>, the job is marked for termination and put into the <code>STOP_REQUESTED</code> state. If the training job completes before it can be stopped, it is put into the <code>TRAINED</code>; otherwise the training job is stopped and putted into the <code>STOPPED</code> state and the service sends back an HTTP 200 response with an empty HTTP body.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopTrainingEntityRecognizerResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StopTrainingEntityRecognizerRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  BatchDetectDominantLanguageResponse:
    type: object
    required:
      - ResultList
      - ErrorList
    properties:
      ResultList:
        $ref: '#/definitions/ListOfDetectDominantLanguageResult'
        description: 'A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.'
      ErrorList:
        $ref: '#/definitions/BatchItemErrorList'
        description: 'A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.'
  BatchDetectDominantLanguageRequest:
    type: object
    required:
      - TextList
    properties:
      TextList:
        $ref: '#/definitions/StringList'
        description: 'A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document should contain at least 20 characters and must contain fewer than 5,000 bytes of UTF-8 encoded characters.'
  InvalidRequestException: {}
  TextSizeLimitExceededException: {}
  BatchSizeLimitExceededException: {}
  InternalServerException: {}
  BatchDetectEntitiesResponse:
    type: object
    required:
      - ResultList
      - ErrorList
    properties:
      ResultList:
        $ref: '#/definitions/ListOfDetectEntitiesResult'
        description: 'A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.'
      ErrorList:
        $ref: '#/definitions/BatchItemErrorList'
        description: 'A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.'
  BatchDetectEntitiesRequest:
    type: object
    required:
      - TextList
      - LanguageCode
    properties:
      TextList:
        $ref: '#/definitions/StringList'
        description: 'A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document must contain fewer than 5,000 bytes of UTF-8 encoded characters.'
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: The language of the input documents. You can specify English ("en") or Spanish ("es"). All documents must be in the same language.
  UnsupportedLanguageException: {}
  BatchDetectKeyPhrasesResponse:
    type: object
    required:
      - ResultList
      - ErrorList
    properties:
      ResultList:
        $ref: '#/definitions/ListOfDetectKeyPhrasesResult'
        description: 'A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.'
      ErrorList:
        $ref: '#/definitions/BatchItemErrorList'
        description: 'A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.'
  BatchDetectKeyPhrasesRequest:
    type: object
    required:
      - TextList
      - LanguageCode
    properties:
      TextList:
        $ref: '#/definitions/StringList'
        description: 'A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document must contain fewer that 5,000 bytes of UTF-8 encoded characters.'
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: The language of the input documents. You can specify English ("en") or Spanish ("es"). All documents must be in the same language.
  BatchDetectSentimentResponse:
    type: object
    required:
      - ResultList
      - ErrorList
    properties:
      ResultList:
        $ref: '#/definitions/ListOfDetectSentimentResult'
        description: 'A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.'
      ErrorList:
        $ref: '#/definitions/BatchItemErrorList'
        description: 'A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.'
  BatchDetectSentimentRequest:
    type: object
    required:
      - TextList
      - LanguageCode
    properties:
      TextList:
        $ref: '#/definitions/StringList'
        description: 'A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document must contain fewer that 5,000 bytes of UTF-8 encoded characters.'
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: The language of the input documents. You can specify English ("en") or Spanish ("es"). All documents must be in the same language.
  BatchDetectSyntaxResponse:
    type: object
    required:
      - ResultList
      - ErrorList
    properties:
      ResultList:
        $ref: '#/definitions/ListOfDetectSyntaxResult'
        description: 'A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.'
      ErrorList:
        $ref: '#/definitions/BatchItemErrorList'
        description: 'A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.'
  BatchDetectSyntaxRequest:
    type: object
    required:
      - TextList
      - LanguageCode
    properties:
      TextList:
        $ref: '#/definitions/StringList'
        description: 'A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document must contain fewer that 5,000 bytes of UTF-8 encoded characters.'
      LanguageCode:
        $ref: '#/definitions/SyntaxLanguageCode'
        description: The language of the input documents. You can specify English ("en") or Spanish ("es"). All documents must be in the same language.
  CreateDocumentClassifierResponse:
    type: object
    properties:
      DocumentClassifierArn:
        $ref: '#/definitions/DocumentClassifierArn'
        description: The Amazon Resource Name (ARN) that identifies the document classifier.
  CreateDocumentClassifierRequest:
    type: object
    required:
      - DocumentClassifierName
      - DataAccessRoleArn
      - InputDataConfig
      - LanguageCode
    properties:
      DocumentClassifierName:
        $ref: '#/definitions/ComprehendArnName'
        description: The name of the document classifier.
      DataAccessRoleArn:
        $ref: '#/definitions/IamRoleArn'
        description: The Amazon Resource Name (ARN) of the AWS Identity and Management (IAM) role that grants Amazon Comprehend read access to your input data.
      InputDataConfig:
        $ref: '#/definitions/DocumentClassifierInputDataConfig'
        description: Specifies the format and location of the input data for the job.
      ClientRequestToken:
        $ref: '#/definitions/ClientRequestTokenString'
        description: 'A unique identifier for the request. If you don''t set the client request token, Amazon Comprehend generates one.'
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: The language of the input documents. You can specify English ("en") or Spanish ("es"). All documents must be in the same language.
  ResourceInUseException: {}
  TooManyRequestsException: {}
  ResourceLimitExceededException: {}
  CreateEntityRecognizerResponse:
    type: object
    properties:
      EntityRecognizerArn:
        $ref: '#/definitions/EntityRecognizerArn'
        description: The Amazon Resource Name (ARN) that identifies the entity recognizer.
  CreateEntityRecognizerRequest:
    type: object
    required:
      - RecognizerName
      - DataAccessRoleArn
      - InputDataConfig
      - LanguageCode
    properties:
      RecognizerName:
        $ref: '#/definitions/ComprehendArnName'
        description: 'The name given to the newly created recognizer. Recognizer names can be a maximum of 256 characters. Alphanumeric characters, hyphens (-) and underscores (_) are allowed. The name must be unique in the account/region.'
      DataAccessRoleArn:
        $ref: '#/definitions/IamRoleArn'
        description: The Amazon Resource Name (ARN) of the AWS Identity and Management (IAM) role that grants Amazon Comprehend read access to your input data.
      InputDataConfig:
        $ref: '#/definitions/EntityRecognizerInputDataConfig'
        description: 'Specifies the format and location of the input data. The S3 bucket containing the input data must be located in the same region as the entity recognizer being created. '
      ClientRequestToken:
        $ref: '#/definitions/ClientRequestTokenString'
        description: ' A unique identifier for the request. If you don''t set the client request token, Amazon Comprehend generates one.'
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: ' The language of the input documents. All documents must be in the same language. Only English ("en") is currently supported. '
  DeleteDocumentClassifierResponse:
    type: object
    properties: {}
  DeleteDocumentClassifierRequest:
    type: object
    required:
      - DocumentClassifierArn
    properties:
      DocumentClassifierArn:
        $ref: '#/definitions/DocumentClassifierArn'
        description: 'The Amazon Resource Name (ARN) that identifies the document classifier. '
  ResourceNotFoundException: {}
  ResourceUnavailableException: {}
  DeleteEntityRecognizerResponse:
    type: object
    properties: {}
  DeleteEntityRecognizerRequest:
    type: object
    required:
      - EntityRecognizerArn
    properties:
      EntityRecognizerArn:
        $ref: '#/definitions/EntityRecognizerArn'
        description: The Amazon Resource Name (ARN) that identifies the entity recognizer.
  DescribeDocumentClassificationJobResponse:
    type: object
    properties:
      DocumentClassificationJobProperties:
        $ref: '#/definitions/DocumentClassificationJobProperties'
        description: An object that describes the properties associated with the document classification job.
  DescribeDocumentClassificationJobRequest:
    type: object
    required:
      - JobId
    properties:
      JobId:
        $ref: '#/definitions/JobId'
        description: The identifier that Amazon Comprehend generated for the job. The operation returns this identifier in its response.
  JobNotFoundException: {}
  DescribeDocumentClassifierResponse:
    type: object
    properties:
      DocumentClassifierProperties:
        $ref: '#/definitions/DocumentClassifierProperties'
        description: An object that contains the properties associated with a document classifier.
  DescribeDocumentClassifierRequest:
    type: object
    required:
      - DocumentClassifierArn
    properties:
      DocumentClassifierArn:
        $ref: '#/definitions/DocumentClassifierArn'
        description: The Amazon Resource Name (ARN) that identifies the document classifier. The operation returns this identifier in its response.
  DescribeDominantLanguageDetectionJobResponse:
    type: object
    properties:
      DominantLanguageDetectionJobProperties:
        $ref: '#/definitions/DominantLanguageDetectionJobProperties'
        description: An object that contains the properties associated with a dominant language detection job.
  DescribeDominantLanguageDetectionJobRequest:
    type: object
    required:
      - JobId
    properties:
      JobId:
        $ref: '#/definitions/JobId'
        description: The identifier that Amazon Comprehend generated for the job. The operation returns this identifier in its response.
  DescribeEntitiesDetectionJobResponse:
    type: object
    properties:
      EntitiesDetectionJobProperties:
        $ref: '#/definitions/EntitiesDetectionJobProperties'
        description: An object that contains the properties associated with an entities detection job.
  DescribeEntitiesDetectionJobRequest:
    type: object
    required:
      - JobId
    properties:
      JobId:
        $ref: '#/definitions/JobId'
        description: The identifier that Amazon Comprehend generated for the job. The operation returns this identifier in its response.
  DescribeEntityRecognizerResponse:
    type: object
    properties:
      EntityRecognizerProperties:
        $ref: '#/definitions/EntityRecognizerProperties'
        description: Describes information associated with an entity recognizer.
  DescribeEntityRecognizerRequest:
    type: object
    required:
      - EntityRecognizerArn
    properties:
      EntityRecognizerArn:
        $ref: '#/definitions/EntityRecognizerArn'
        description: The Amazon Resource Name (ARN) that identifies the entity recognizer.
  DescribeKeyPhrasesDetectionJobResponse:
    type: object
    properties:
      KeyPhrasesDetectionJobProperties:
        $ref: '#/definitions/KeyPhrasesDetectionJobProperties'
        description: 'An object that contains the properties associated with a key phrases detection job. '
  DescribeKeyPhrasesDetectionJobRequest:
    type: object
    required:
      - JobId
    properties:
      JobId:
        $ref: '#/definitions/JobId'
        description: The identifier that Amazon Comprehend generated for the job. The operation returns this identifier in its response.
  DescribeSentimentDetectionJobResponse:
    type: object
    properties:
      SentimentDetectionJobProperties:
        $ref: '#/definitions/SentimentDetectionJobProperties'
        description: An object that contains the properties associated with a sentiment detection job.
  DescribeSentimentDetectionJobRequest:
    type: object
    required:
      - JobId
    properties:
      JobId:
        $ref: '#/definitions/JobId'
        description: The identifier that Amazon Comprehend generated for the job. The operation returns this identifier in its response.
  DescribeTopicsDetectionJobResponse:
    type: object
    properties:
      TopicsDetectionJobProperties:
        $ref: '#/definitions/TopicsDetectionJobProperties'
        description: The list of properties for the requested job.
  DescribeTopicsDetectionJobRequest:
    type: object
    required:
      - JobId
    properties:
      JobId:
        $ref: '#/definitions/JobId'
        description: The identifier assigned by the user to the detection job.
  DetectDominantLanguageResponse:
    type: object
    properties:
      Languages:
        $ref: '#/definitions/ListOfDominantLanguages'
        description: 'The languages that Amazon Comprehend detected in the input text. For each language, the response returns the RFC 5646 language code and the level of confidence that Amazon Comprehend has in the accuracy of its inference. For more information about RFC 5646, see <a href="https://tools.ietf.org/html/rfc5646">Tags for Identifying Languages</a> on the <i>IETF Tools</i> web site.'
  DetectDominantLanguageRequest:
    type: object
    required:
      - Text
    properties:
      Text:
        $ref: '#/definitions/String'
        description: 'A UTF-8 text string. Each string should contain at least 20 characters and must contain fewer that 5,000 bytes of UTF-8 encoded characters.'
  DetectEntitiesResponse:
    type: object
    properties:
      Entities:
        $ref: '#/definitions/ListOfEntities'
        description: 'A collection of entities identified in the input text. For each entity, the response provides the entity text, entity type, where the entity text begins and ends, and the level of confidence that Amazon Comprehend has in the detection. For a list of entity types, see <a>how-entities</a>. '
  DetectEntitiesRequest:
    type: object
    required:
      - Text
      - LanguageCode
    properties:
      Text:
        $ref: '#/definitions/String'
        description: 'A UTF-8 text string. Each string must contain fewer that 5,000 bytes of UTF-8 encoded characters.'
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: The language of the input documents. You can specify English ("en") or Spanish ("es"). All documents must be in the same language.
  DetectKeyPhrasesResponse:
    type: object
    properties:
      KeyPhrases:
        $ref: '#/definitions/ListOfKeyPhrases'
        description: 'A collection of key phrases that Amazon Comprehend identified in the input text. For each key phrase, the response provides the text of the key phrase, where the key phrase begins and ends, and the level of confidence that Amazon Comprehend has in the accuracy of the detection. '
  DetectKeyPhrasesRequest:
    type: object
    required:
      - Text
      - LanguageCode
    properties:
      Text:
        $ref: '#/definitions/String'
        description: 'A UTF-8 text string. Each string must contain fewer that 5,000 bytes of UTF-8 encoded characters.'
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: The language of the input documents. You can specify English ("en") or Spanish ("es"). All documents must be in the same language.
  DetectSentimentResponse:
    type: object
    properties:
      Sentiment:
        $ref: '#/definitions/SentimentType'
        description: The inferred sentiment that Amazon Comprehend has the highest level of confidence in.
      SentimentScore:
        $ref: '#/definitions/SentimentScore'
        description: 'An object that lists the sentiments, and their corresponding confidence levels.'
  DetectSentimentRequest:
    type: object
    required:
      - Text
      - LanguageCode
    properties:
      Text:
        $ref: '#/definitions/String'
        description: 'A UTF-8 text string. Each string must contain fewer that 5,000 bytes of UTF-8 encoded characters.'
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: The language of the input documents. You can specify English ("en") or Spanish ("es"). All documents must be in the same language.
  DetectSyntaxResponse:
    type: object
    properties:
      SyntaxTokens:
        $ref: '#/definitions/ListOfSyntaxTokens'
        description: 'A collection of syntax tokens describing the text. For each token, the response provides the text, the token type, where the text begins and ends, and the level of confidence that Amazon Comprehend has that the token is correct. For a list of token types, see <a>how-syntax</a>.'
  DetectSyntaxRequest:
    type: object
    required:
      - Text
      - LanguageCode
    properties:
      Text:
        $ref: '#/definitions/String'
        description: 'A UTF-8 string. Each string must contain fewer that 5,000 bytes of UTF encoded characters.'
      LanguageCode:
        $ref: '#/definitions/SyntaxLanguageCode'
        description: The language code of the input documents. You can specify English ("en") or Spanish ("es").
  ListDocumentClassificationJobsResponse:
    type: object
    properties:
      DocumentClassificationJobPropertiesList:
        $ref: '#/definitions/DocumentClassificationJobPropertiesList'
        description: A list containing the properties of each job returned.
      NextToken:
        $ref: '#/definitions/String'
        description: Identifies the next page of results to return.
  ListDocumentClassificationJobsRequest:
    type: object
    properties:
      Filter:
        $ref: '#/definitions/DocumentClassificationJobFilter'
        description: 'Filters the jobs that are returned. You can filter jobs on their names, status, or the date and time that they were submitted. You can only set one filter at a time.'
      NextToken:
        $ref: '#/definitions/String'
        description: Identifies the next page of results to return.
      MaxResults:
        $ref: '#/definitions/MaxResultsInteger'
        description: The maximum number of results to return in each page. The default is 100.
  InvalidFilterException: {}
  ListDocumentClassifiersResponse:
    type: object
    properties:
      DocumentClassifierPropertiesList:
        $ref: '#/definitions/DocumentClassifierPropertiesList'
        description: A list containing the properties of each job returned.
      NextToken:
        $ref: '#/definitions/String'
        description: Identifies the next page of results to return.
  ListDocumentClassifiersRequest:
    type: object
    properties:
      Filter:
        $ref: '#/definitions/DocumentClassifierFilter'
        description: 'Filters the jobs that are returned. You can filter jobs on their name, status, or the date and time that they were submitted. You can only set one filter at a time.'
      NextToken:
        $ref: '#/definitions/String'
        description: Identifies the next page of results to return.
      MaxResults:
        $ref: '#/definitions/MaxResultsInteger'
        description: The maximum number of results to return in each page. The default is 100.
  ListDominantLanguageDetectionJobsResponse:
    type: object
    properties:
      DominantLanguageDetectionJobPropertiesList:
        $ref: '#/definitions/DominantLanguageDetectionJobPropertiesList'
        description: A list containing the properties of each job that is returned.
      NextToken:
        $ref: '#/definitions/String'
        description: Identifies the next page of results to return.
  ListDominantLanguageDetectionJobsRequest:
    type: object
    properties:
      Filter:
        $ref: '#/definitions/DominantLanguageDetectionJobFilter'
        description: 'Filters that jobs that are returned. You can filter jobs on their name, status, or the date and time that they were submitted. You can only set one filter at a time.'
      NextToken:
        $ref: '#/definitions/String'
        description: Identifies the next page of results to return.
      MaxResults:
        $ref: '#/definitions/MaxResultsInteger'
        description: The maximum number of results to return in each page. The default is 100.
  ListEntitiesDetectionJobsResponse:
    type: object
    properties:
      EntitiesDetectionJobPropertiesList:
        $ref: '#/definitions/EntitiesDetectionJobPropertiesList'
        description: A list containing the properties of each job that is returned.
      NextToken:
        $ref: '#/definitions/String'
        description: Identifies the next page of results to return.
  ListEntitiesDetectionJobsRequest:
    type: object
    properties:
      Filter:
        $ref: '#/definitions/EntitiesDetectionJobFilter'
        description: 'Filters the jobs that are returned. You can filter jobs on their name, status, or the date and time that they were submitted. You can only set one filter at a time.'
      NextToken:
        $ref: '#/definitions/String'
        description: Identifies the next page of results to return.
      MaxResults:
        $ref: '#/definitions/MaxResultsInteger'
        description: The maximum number of results to return in each page. The default is 100.
  ListEntityRecognizersResponse:
    type: object
    properties:
      EntityRecognizerPropertiesList:
        $ref: '#/definitions/EntityRecognizerPropertiesList'
        description: The list of properties of an entity recognizer.
      NextToken:
        $ref: '#/definitions/String'
        description: Identifies the next page of results to return.
  ListEntityRecognizersRequest:
    type: object
    properties:
      Filter:
        $ref: '#/definitions/EntityRecognizerFilter'
        description: 'Filters the list of entities returned. You can filter on <code>Status</code>, <code>SubmitTimeBefore</code>, or <code>SubmitTimeAfter</code>. You can only set one filter at a time.'
      NextToken:
        $ref: '#/definitions/String'
        description: Identifies the next page of results to return.
      MaxResults:
        $ref: '#/definitions/MaxResultsInteger'
        description: ' The maximum number of results to return on each page. The default is 100.'
  ListKeyPhrasesDetectionJobsResponse:
    type: object
    properties:
      KeyPhrasesDetectionJobPropertiesList:
        $ref: '#/definitions/KeyPhrasesDetectionJobPropertiesList'
        description: A list containing the properties of each job that is returned.
      NextToken:
        $ref: '#/definitions/String'
        description: Identifies the next page of results to return.
  ListKeyPhrasesDetectionJobsRequest:
    type: object
    properties:
      Filter:
        $ref: '#/definitions/KeyPhrasesDetectionJobFilter'
        description: 'Filters the jobs that are returned. You can filter jobs on their name, status, or the date and time that they were submitted. You can only set one filter at a time.'
      NextToken:
        $ref: '#/definitions/String'
        description: Identifies the next page of results to return.
      MaxResults:
        $ref: '#/definitions/MaxResultsInteger'
        description: The maximum number of results to return in each page. The default is 100.
  ListSentimentDetectionJobsResponse:
    type: object
    properties:
      SentimentDetectionJobPropertiesList:
        $ref: '#/definitions/SentimentDetectionJobPropertiesList'
        description: A list containing the properties of each job that is returned.
      NextToken:
        $ref: '#/definitions/String'
        description: Identifies the next page of results to return.
  ListSentimentDetectionJobsRequest:
    type: object
    properties:
      Filter:
        $ref: '#/definitions/SentimentDetectionJobFilter'
        description: 'Filters the jobs that are returned. You can filter jobs on their name, status, or the date and time that they were submitted. You can only set one filter at a time.'
      NextToken:
        $ref: '#/definitions/String'
        description: Identifies the next page of results to return.
      MaxResults:
[...]
