swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  description: The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: '2018-06-01'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2018-06-01/network.json'
      version: '2.0'
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: Client API version.
    in: query
    name: api-version
    required: true
    type: string
  SubscriptionIdParameter:
    description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths: {}
definitions:
  AzureAsyncOperationResult:
    description: 'The response body contains the status of the specified asynchronous operation, indicating whether it has succeeded, is in progress, or has failed. Note that this status is distinct from the HTTP status code returned for the Get Operation Status operation itself. If the asynchronous operation succeeded, the response body includes the HTTP status code for the successful request. If the asynchronous operation failed, the response body includes the HTTP status code for the failed request and error information regarding the failure.'
    properties:
      error:
        $ref: '#/definitions/Error'
      status:
        description: 'Status of the Azure async operation. Possible values are: ''InProgress'', ''Succeeded'', and ''Failed''.'
        enum:
          - InProgress
          - Succeeded
          - Failed
        type: string
        x-ms-enum:
          modelAsString: true
          name: NetworkOperationStatus
  Error:
    properties:
      code:
        type: string
      details:
        items:
          $ref: '#/definitions/ErrorDetails'
        type: array
      innerError:
        type: string
      message:
        type: string
      target:
        type: string
  ErrorDetails:
    properties:
      code:
        type: string
      message:
        type: string
      target:
        type: string
  Resource:
    description: Common resource representation.
    properties:
      id:
        description: Resource ID.
        type: string
      location:
        description: Resource location.
        type: string
      name:
        description: Resource name.
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: Resource tags.
        type: object
      type:
        description: Resource type.
        readOnly: true
        type: string
    x-ms-azure-resource: true
  SubResource:
    description: Reference to another subresource.
    properties:
      id:
        description: Resource ID.
        type: string
    x-ms-azure-resource: true
  TagsObject:
    description: Tags object for patch operations.
    properties:
      tags:
        additionalProperties:
          type: string
        description: Resource tags.
        type: object
