swagger: '2.0'
schemes:
  - https
host: apis.zenoti.com
info:
  contact:
    email: support@zenoti.com
    x-twitter: ZenotiSoftware
  description: |+
    Zenoti Open APIs now help you manage the powerful capabilities offered through a suite of Open APIs. 

  title: Zenoti Open
  version: 1.0.0
  x-apisguru-categories:
    - customer_relation
  x-logo:
    url: 'https://twitter.com/ZenotiSoftware/profile_image?size=original'
  x-origin:
    - format: swagger
      url: 'https://zenotiopenapi.docs.apiary.io/api-description-document'
      version: '2.0'
  x-providerName: zenoti.com
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  API Key:
    description: 'All callers must pass an API Key issued to the developer in the header,  otherwise, the API call will be rejected. Please refer http://developers.zenoti.com/apikey for instructions on how to obtain an API key. The key must be passed in the ''Authorization'' header, prefixed with ''apikey '''
    type: basic
  Authorization:
    authorizationUrl: ''
    flow: accessCode
    scopes: {}
    tokenUrl: ''
    type: oauth2
security:
  - API Key: []
paths:
  '/packages/{package_id}':
    get:
      description: Returns details of a package
      parameters: []
      responses:
        '200':
          description: Status 200
          schema:
            type: object
      summary: Get details of package
      tags:
        - Packages
    parameters:
      - in: path
        name: package_id
        required: true
        type: string
    x-restlet:
      section: Packages
  /v1/Catalog/Appointments/AvailableTimes:
    post:
      description: "Returns the open slots for the requested date and service at the requested center. \nOptionally, you can request a specific therapist to perform a service. In this case, the API returns the available slots for that therapist.\n\nTo get the slots, one has to request the following:\n\n| Key | Type | Description |\n| -------- | -------- | -------- |\n|  RequiredSlotsCount | int| No of Slots you would like to request |\n|  CenterId `*` | GUID | Unique Identifier of a Center |\n|  CenterDate `*` | YYYY-MM-DDThh:mm:ssZ| Date of the availability you would like to check |\n|  SlotBookings `*` |Array of *`slotBooking`* object| Service id has to be passed inside SlotBookings object. Service Id is mandatory. Optionally, you can pass Therapist Id too. For more details, refer to *'SlotBooking'* object |\n\n\nNote: Fields marked with  `*` are Mandatory. \n\nExample Request:\n\n```\n{\n \"CenterId\":\"3af2cf2e-9d36-45ca-84bc-eb7a7ee4be0e\",\n \"CenterDate\":\"2017-10-25\",\n \"SlotBookings\":[\n {\n   \"Services\":[{\n     \"Service\":{\n       \"Id\":\"ac3589f0-f3a0-4772-b2c5-f6e1c81312db\"\n     },\n      \"RequestedTherapist\": {\n                        \"Id\": \"1a08e842-77c8-49b4-9d42-336c2dea4c0b\"\n     \t\n     }\n   }]\n }]\n}\n```"
      parameters:
        - description: Security token
          in: header
          name: Authorization
          required: false
          type: string
        - description: Issued Api key issued from apigee portal
          in: header
          name: Apikey
          required: false
          type: string
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetCatalogAvaliableSlotsRequest'
          x-examples:
            application/json: "{\n \"CenterId\":\"3af2cf2e-9d36-45ca-84bc-eb7a7ee4be0e\",\n \"CenterDate\":\"2017-10-25\",\n \"SlotBookings\":[\n {\n   \"Services\":[{\n     \"Service\":{\n       \"Id\":\"ac3589f0-f3a0-4772-b2c5-f6e1c81312db\"\n     },\n      \"RequestedTherapist\": {\n                        \"Id\": \"1a08e842-77c8-49b4-9d42-336c2dea4c0b\"\n     \t\n     }\n   }]\n }]\n}"
      responses:
        '200':
          description: Status 200
          examples:
            application/json: |-
              {
                  "ReservationId": null,
                  "SlotBookings": [
                      {
                          "GuestId": null,
                          "AppointmentGroupId": null,
                          "Services": [
                              {
                                  "AppointmentId": "00000000-0000-0000-0000-000000000000",
                                  "InvoiceItemId": "00000000-0000-0000-0000-000000000000",
                                  "CartItemId": null,
                                  "AppointmentSegmentId": null,
                                  "PackageId": null,
                                  "Package": null,
                                  "Service": {
                                      "Id": "ac3589f0-f3a0-4772-b2c5-f6e1c81312db",
                                      "Name": "Ahmad Massage",
                                      "Price": null,
                                      "Duration": 75,
                                      "CategoryId": "c7e44ac2-702c-4f9c-a55e-dc009748d637",
                                      "IsAddOn": false,
                                      "HasAddOns": null,
                                      "AddOnToServiceId": null,
                                      "CategoryName": null,
                                      "AddOns": null,
                                      "IsVariant": null,
                                      "HasVariant": null,
                                      "ParentServiceId": null,
                                      "CartItemId": null
                                  },
                                  "RequestedTherapistGender": 0,
                                  "StartTime": "2017-10-25T21:45:00",
                                  "EndTime": "2017-10-25T23:00:00",
                                  "StartTimeInCenter": null,
                                  "EndTimeInCenter": null,
                                  "Room": null,
                                  "Lock": false,
                                  "Equipment": null,
                                  "Status": 0,
                                  "RequestedTherapist": {
                                      "Id": "1a08e842-77c8-49b4-9d42-336c2dea4c0b",
                                      "ShortName": null,
                                      "NickName": null,
                                      "FullName": null,
                                      "Email": null,
                                      "PhoneNumber": null,
                                      "MobilePhoneModel": null,
                                      "Gender": 0,
                                      "FirstName": null,
                                      "LastName": null,
                                      "IsAvailable": false,
                                      "VanityImageUrl": null,
                                      "ScalingFactor": 0,
                                      "ScaledPrice": 0,
                                      "ServiceTime": 0,
                                      "DisplayName": null
                                  },
                                  "Quantity": 0,
                                  "Price": {
                                      "CurrencyId": 148,
                                      "Sales": 100,
                                      "Tax": 0,
                                      "Final": 100,
                                      "Final1": 100,
                                      "Discount": 0,
                                      "Tip": 0,
                                      "SSG": 0,
                                      "RoundingCorrection": 0
                                  },
                                  "SCD": null,
                                  "ActualStartTime": null,
                                  "CompletedTime": null,
                                  "Progress": 0,
                                  "ParentAppointmentId": null,
                                  "ServiceCustomData": null,
                                  "ItemActions": null,
                                  "EquivalenceFactor": null,
                                  "EquivalentName": null,
                                  "IsMembershipApplied": null,
                                  "IsAddOn": null,
                                  "AddonAppointmentId": null,
                                  "IsPackageApplied": null,
                                  "IsDiscountApplied": null,
                                  "CanModifyTherapist": false
                              }
                          ],
                          "TherapistId": null,
                          "RoomId": null,
                          "Quantity": null,
                          "BookingNotes": null,
                          "Price": {
                              "CurrencyId": 0,
                              "Sales": 100,
                              "Tax": 0,
                              "Final": 100,
                              "Final1": 100,
                              "Discount": 0,
                              "Tip": 0,
                              "SSG": 0,
                              "RoundingCorrection": 0
                          },
                          "VirtualGuest": null,
                          "CartItemIds": null
                      }
                  ],
                  "OpenSlots": [
                      {
                          "Time": "2017-10-25T09:00:00",
                          "Warnings": null,
                          "Priority": 0
                      },
                      {
                          "Time": "2017-10-25T09:15:00",
                          "Warnings": null,
                          "Priority": 0
                      },
                      {
                          "Time": "2017-10-25T09:30:00",
                          "Warnings": null,
                          "Priority": 0
                      },
                            {
                          "Time": "2017-10-25T13:15:00",
                          "Warnings": null,
                          "Priority": 0
                      },
                      {
                          "Time": "2017-10-25T13:30:00",
                          "Warnings": null,
                          "Priority": 0
                      }
                  ],
                  "Error": null
              }
          schema:
            description: "Returns the ***ReservationId, SlotBookings, Open slots*** and ***error*** json blocks\n\n* refer to slotBooking object for SlotBookings \n* below is Example json schema for openlots\n```\n      \"OpenSlots\": [\n    {\n      \"Time\": \"2017-09-11T06:35:01.792Z\",\n      \"Warnings\": [\n        {\n          \"Type\": 0,\n          \"Message\": \"string\",\n          \"GuestId\": \"string\",\n          \"TherapistId\": \"string\",\n          \"ServiceId\": \"string\",\n          \"RoomId\": \"string\"\n        }\n      ],\n      \"Priority\": 0\n    }\n  ]\n```\n\t\n| Warning Type | Enum | \n| -------- | -------- |\n|TherapistDoubleBooked | 0|\n|TherapistOutsideSchedule | 1|\n| GuestDoubleBooked | 2|\n|RoomCapacityExceeded | 3|\n|ServiceEndsOutsideCenterHours | 4|\n|EquipmentCapacityExceeded | 5|\n|DayIsHoliday | 6|\n\n\n"
            type: object
      summary: /v1/Catalog/Appointments/AvailableTimes
      tags:
        - Appointments - Catalog
    x-restlet:
      section: Appointments(Catalog)
  /v1/Catalog/Appointments/ConfirmReservation:
    post:
      description: |-
        Returns the confirmed reservation.

        Request body parameters:

        | Fields | Value type | Description |
        | -------- | -------- |  -------- |
        | ReservationNotes  | string     | Optional Notes at the time of confirmation
        | ApplyAutomaticMembership     | bool     | Set it to 'true' if you want to apply membership
        | CenterId `*`    | GUID     | Unique Identifier of the center
        | ReservationId  `*`   | GUID     | Unique Identifier of the Reservation from the ReserveSlots API Response
        | BookingSource   | Enum - `Store = 0,Mobile = 1,Web = 2 `    | Source of the API caller


        Note: Fields marked with `*` are mandatory.
      parameters:
        - description: Security token
          in: header
          name: Authorization
          required: false
          type: string
        - description: Issued Api key issued from apigee portal
          in: header
          name: Apikey
          required: false
          type: string
        - in: body
          name: body
          required: true
          schema:
            type: object
          x-examples:
            application/json: |-
              {
                "CenterId": "9a895b3c-1994-42c0-bc61-efda4a6e2828",
                "ReservationId": "9035d681-6879-4e79-8640-d38dfa7eaf9b",
                "BookingSource":2
              }
      responses:
        '200':
          description: Status 200
          examples:
            application/json: |-
              {
                  "IsConfirmed": true,
                  "ConfirmationId": "3d714afc-d60a-4dd3-bc17-7a5cb386f1c7",
                  "ReservationId": "00000000-0000-0000-0000-000000000000",
                  "ConfirmedBookings": [
                      {
                          "GuestId": "75ac5009-6b23-4275-8efe-4bb187683876",
                          "AppointmentGroupId": "a09cfcf1-cceb-47ca-803c-bfa5a8dd1547",
                          "Services": [
                              {
                                  "AppointmentId": "c575be1e-9c96-4fe9-a760-b57596afb4e7",
                                  "InvoiceItemId": "144ff1cb-6a94-4a51-a352-e1f9648bc33b",
                                  "CartItemId": null,
                                  "AppointmentSegmentId": null,
                                  "PackageId": null,
                                  "Package": null,
                                  "Service": {
                                      "Id": "5794a470-7b92-4942-a7e9-15a06f128244",
                                      "Name": "Age Defying With Body Firming",
                                      "Price": null,
                                      "Duration": 75,
                                      "CategoryId": "b789ab1a-ec37-4866-8701-74a1333c4cd4",
                                      "IsAddOn": false,
                                      "HasAddOns": null,
                                      "AddOnToServiceId": null,
                                      "CategoryName": null,
                                      "AddOns": null,
                                      "IsVariant": false,
                                      "HasVariant": false,
                                      "ParentServiceId": null,
                                      "CartItemId": null
                                  },
                                  "ReducedTimeGroupId": null,
                                  "RequestedTherapistGender": 0,
                                  "StartTime": "2017-10-26T13:00:00",
                                  "EndTime": "2017-10-26T14:15:00",
                                  "NonReducedDuration": null,
                                  "StartTimeInCenter": "2017-10-26T18:30:00",
                                  "EndTimeInCenter": "2017-10-26T19:45:00",
                                  "Room": null,
                                  "Lock": false,
                                  "Equipment": null,
                                  "Status": 0,
                                  "RequestedTherapist": {
                                      "Id": "1afd493a-4aad-48a3-8f94-9fdea88691ac",
                                      "ShortName": "Ajay K",
                                      "NickName": "Ajay k",
                                      "FullName": "Ajay k",
                                      "Email": null,
                                      "PhoneNumber": "9213158104",
                                      "MobilePhoneModel": {
                                          "CountryId": 95,
                                          "Number": "9213158104",
                                          "DisplayNumber": "+91 92 13 158104"
                                      },
                                      "Gender": 1,
                                      "FirstName": "Ajay",
                                      "LastName": "Kumar Singh",
                                      "IsAvailable": false,
                                      "VanityImageUrl": null,
                                      "ScalingFactor": 0,
                                      "ScaledPrice": 0,
                                      "ServiceTime": 0,
                                      "DisplayName": "Ajay K"
                                  },
                                  "Quantity": 1,
                                  "Price": {
                                      "CurrencyId": 61,
                                      "Sales": 1200,
                                      "Tax": 118.656,
                                      "Final": 1078.656,
                                      "Final1": 0,
                                      "Discount": 0,
                                      "Tip": 0,
                                      "SSG": null,
                                      "RoundingCorrection": 0
                                  },
                                  "SCD": null,
                                  "ActualStartTime": null,
                                  "CompletedTime": null,
                                  "Progress": 0,
                                  "ParentAppointmentId": null,
                                  "ServiceCustomData": null,
                                  "ItemActions": null,
                                  "EquivalenceFactor": null,
                                  "EquivalentName": null,
                                  "IsMembershipApplied": null,
                                  "IsAddOn": null,
                                  "AddonAppointmentId": null,
                                  "IsPackageApplied": null,
                                  "IsDiscountApplied": null,
                                  "CanModifyTherapist": false
                              }
                          ],
                          "TherapistId": null,
                          "RoomId": null,
                          "Quantity": 1,
                          "BookingNotes": null,
                          "Price": {
                              "CurrencyId": 61,
                              "Sales": 1200,
                              "Tax": 118.656,
                              "Final": 1078.656,
                              "Final1": 1078.656,
                              "Discount": 240,
                              "Tip": 0,
                              "SSG": 0,
                              "RoundingCorrection": 0
                          },
                          "VirtualGuest": null,
                          "CartItemIds": null,
                          "ReducedTimeGroupId": null
                      }
                  ],
                  "Error": null
              }
          schema:
            description: |+
              Returns following Json fields.


              | Field | Value Type | 
              | -------- | -------- | 
              | IsConfirmed     | Bool     |
              | ConfirmationId     | GUID     |
              | ReservationId     | GUID     |
              | ConfirmedBookings     | Object     |



              Components of ConfirmedBookings:

              | Field | Value Type | 
              | -------- | -------- | 
              | GuestId     | GUID     |
              | AppointmentGroupId     | GUID     |
              | Services     | Array of `Service` Object     |
              | TherapistId     | GUID     |
              | RoomId     | GUID     |
              | Quantity     | String     |
              | BookingNotes     | String     |
              | Price     | `Price` object     |
              | Virtual Guest     | `Virtual guest` Object     |
              | CartItemIds     | Array of GUIDs     |


            type: object
      summary: /v1/Catalog/Appointments/ConfirmReservation
      tags:
        - Appointments - Catalog
    x-restlet:
      section: Appointments(Catalog)
  /v1/Catalog/Appointments/ReserveSlots:
    post:
      description: "Reserves slots for the Appointment based on CenterId, CenterTime, GuestId, ServiceId and optionally, TherapistId.\n\nThe following are the details of the request\n\n| key | Value type | Description |\n| -------- | -------- |  -------- |\n|CreateInvoice| boolean| Set this to 'true' if you want Invoice to be created |\n|  ForceApplyAutomaticMembership| boolean| Set this to 'true' if you want to apply membership of the user |\n|  CenterId `*` | GUID| Unique Identifier of the center |\n|  CenterTime `*` | YYYY-MM-DDThh:mm:ssZ| Your preferred time slot |\n|  ReservationNotes | string| Optional notes during the reservation |\n|  SlotBookings `*` |Array of *slotBooking* object| This must  contain ServiceId and GuestId. Refer to *slotBooking* for structure. You can optionally pass TherapistId\n\nNote: Fields marked with `*` are mandatory.\n\nExample Request : \n```\n{\n  \"CreateInvoice\": true,\n  \"ForceApplyAutomaticMembership\": true,\n \"CenterId\":\"3af2cf2e-9d36-45ca-84bc-eb7a7ee4be0e\",\n \"CenterTime\": \"2017-09-27T17:00:00\",\n \"SlotBookings\":[\n {\n   \"GuestId\": \"e08a1e29-29b5-4757-abd6-6ed0a09b9f94\",\n   \"Services\":[{\n     \"Service\":{\n       \"Id\":\"ac3589f0-f3a0-4772-b2c5-f6e1c81312db\"\n     },\n     \"RequestTherapistGender\":3,\n     \"RequestedTherapist\": {\n                        \"Id\": \"1a08e842-77c8-49b4-9d42-336c2dea4c0b\"\n     \t\n     }\n   }]\n }]\n}\n```"
      parameters:
        - description: Security token
          in: header
          name: Authorization
          required: false
          type: string
        - description: Issued Api key issued from apigee portal
          in: header
          name: Apikey
          required: false
          type: string
        - in: body
          name: body
          required: true
          schema:
            type: object
          x-examples:
            application/json: "{\n  \"CreateInvoice\": true,\n  \"ForceApplyAutomaticMembership\": true,\n \"CenterId\":\"3af2cf2e-9d36-45ca-84bc-eb7a7ee4be0e\",\n \"CenterTime\": \"2017-09-27T17:00:00\",\n \"SlotBookings\":[\n {\n   \"GuestId\": \"e08a1e29-29b5-4757-abd6-6ed0a09b9f94\",\n   \"Services\":[{\n     \"Service\":{\n       \"Id\":\"ac3589f0-f3a0-4772-b2c5-f6e1c81312db\"\n     },\n     \"RequestTherapistGender\":3,\n     \"RequestedTherapist\": {\n                        \"Id\": \"1a08e842-77c8-49b4-9d42-336c2dea4c0b\"\n     \t\n     }\n   }]\n }]\n}"
      responses:
        '200':
          description: Status 200
          examples:
            application/json: |-
              {
                  "CenterId": "9a895b3c-1994-42c0-bc61-efda4a6e2828",
                  "CenterTime": "2017-10-28T18:30:00",
                  "IsReserved": true,
                  "ReservationId": "f9a64f28-08fa-4f63-9817-dc76ced7e45d",
                  "InvoiceId": "2230816a-6e83-44ab-b2e5-a920c323a829",
                  "ExpiryTime": "2017-10-26T14:35:52.0062478",
                  "BlockingTime": 5,
                  "SlotBookings": [
                      {
                          "GuestId": "75ac5009-6b23-4275-8efe-4bb187683876",
                          "AppointmentGroupId": null,
                          "Services": [
                              {
                                  "AppointmentId": "00000000-0000-0000-0000-000000000000",
                                  "InvoiceItemId": "00000000-0000-0000-0000-000000000000",
                                  "CartItemId": "0d1969b2-0274-41bf-aeb4-b821e860cf61",
                                  "AppointmentSegmentId": null,
                                  "PackageId": null,
                                  "Package": null,
                                  "Service": {
                                      "Id": "5794a470-7b92-4942-a7e9-15a06f128244",
                                      "Name": "Age Defying With Body Firming",
                                      "Price": null,
                                      "Duration": 75,
                                      "CategoryId": "b789ab1a-ec37-4866-8701-74a1333c4cd4",
                                      "IsAddOn": false,
                                      "HasAddOns": null,
                                      "AddOnToServiceId": null,
                                      "CategoryName": null,
                                      "AddOns": null,
                                      "IsVariant": null,
                                      "HasVariant": null,
                                      "ParentServiceId": null,
                                      "CartItemId": null
                                  },
                                  "ReducedTimeGroupId": null,
                                  "RequestedTherapistGender": 0,
                                  "StartTime": "2017-10-28T13:00:00Z",
                                  "EndTime": "2017-10-28T14:15:00Z",
                                  "NonReducedDuration": 75,
                                  "StartTimeInCenter": "2017-10-28T18:30:00",
                                  "EndTimeInCenter": "2017-10-28T19:45:00",
                                  "Room": null,
                                  "Lock": false,
                                  "Equipment": null,
                                  "Status": 0,
                                  "RequestedTherapist": {
                                      "Id": "1afd493a-4aad-48a3-8f94-9fdea88691ac",
                                      "ShortName": "Ajay K",
                                      "NickName": "Ajay k",
                                      "FullName": "Ajay k",
                                      "Email": null,
                                      "PhoneNumber": "9213158104",
                                      "MobilePhoneModel": {
                                          "CountryId": 95,
                                          "Number": "9213158104",
                                          "DisplayNumber": "+91 92 13 158104"
                                      },
                                      "Gender": 1,
                                      "FirstName": "Ajay",
                                      "LastName": "Kumar Singh",
                                      "IsAvailable": false,
                                      "VanityImageUrl": null,
                                      "ScalingFactor": 0,
                                      "ScaledPrice": 0,
                                      "ServiceTime": 0,
                                      "DisplayName": "Ajay K"
                                  },
                                  "Quantity": 0,
                                  "Price": {
                                      "CurrencyId": 61,
                                      "Sales": 1200,
                                      "Tax": 148.32,
                                      "Final": 1348.32,
                                      "Final1": 1348.32,
                                      "Discount": 0,
                                      "Tip": 0,
                                      "SSG": 0,
                                      "RoundingCorrection": 0
                                  },
                                  "SCD": null,
                                  "ActualStartTime": null,
                                  "CompletedTime": null,
                                  "Progress": 0,
                                  "ParentAppointmentId": null,
                                  "ServiceCustomData": null,
                                  "ItemActions": null,
                                  "EquivalenceFactor": null,
                                  "EquivalentName": null,
                                  "IsMembershipApplied": null,
                                  "IsAddOn": null,
                                  "AddonAppointmentId": null,
                                  "IsPackageApplied": null,
                                  "IsDiscountApplied": null,
                                  "CanModifyTherapist": false
                              }
                          ],
                          "TherapistId": null,
                          "RoomId": null,
                          "Quantity": null,
                          "BookingNotes": null,
                          "Price": {
                              "CurrencyId": 0,
                              "Sales": 1200,
                              "Tax": 148.32,
                              "Final": 1348.32,
                              "Final1": 1348.32,
                              "Discount": 0,
                              "Tip": 0,
                              "SSG": 0,
                              "RoundingCorrection": 0
                          },
                          "VirtualGuest": null,
                          "CartItemIds": [
                              "0d1969b2-0274-41bf-aeb4-b821e860cf61"
                          ],
                          "ReducedTimeGroupId": null
                      }
                  ],
                  "Error": null
              }
          schema:
            description: |-
              Returns a json containing the following:

              | Field | Value Type | Description |
              | -------- | -------- |  -------- |
              | CenterId    | GUID     | Unique identifier of the center |
              | CenterTime     | YYYY-MM-DDThh:mm:ssZ     | Time slot requested |
              | IsReserved     | bool     | Returns 'true' if the requested slot is reserved |
              | InvoiceId     | GUID     | Returns the InvoiceId if the 'CreateInvoice' is set to true |
              | ExpiryTime     |  YYYY-MM-DDThh:mm:ssZ    | Expiry time of the reservation
              | Blocking Time     | int     | Returns the time that has been blocked in minutes |
              | SlotBookings     | Array of *slotBooking* Object     | Contains the Services you have requested, Appointment Id and other details |
            type: object
      summary: /v1/Catalog/Appointments/ReserveSlots
      tags:
        - Appointments - Catalog
    x-restlet:
      section: Appointments(Catalog)
  '/v1/Catalog/Appointments/{AppointmentGroupId}/Feedback':
    get:
      description: Gets Feedback for a AppointmentgroupId.
      parameters:
        - description: Security token
          in: header
          name: Authorization
          required: false
          type: string
        - description: Issued Api key issued from apigee portal
          in: header
          name: Apikey
          required: false
          type: string
      responses:
        '200':
          description: Status 200
          examples:
            application/json: |-
              {
                "Feedback": {
                  "Comments": "string",
                  "Feedback1": 1,
                  "Feedback2": 1,
                  "Feedback3": 1,
                  "Feedback4": 1,
                  "FeedbackAnswer1": true,
                  "FeedbackAnswer2": true
                },
                "Error": {
                  "StatusCode": 0,
                  "Message": "string"
                }
              }
          schema:
            type: object
      summary: '/v1/Catalog/Appointments/{AppointmentGroupId}/Feedback'
      tags:
        - Appointments - Catalog
    parameters:
      - in: path
        name: AppointmentGroupId
        required: true
        type: string
    post:
      consumes: []
      description: Creates Feedback for a AppointmentgroupId.
      parameters:
        - description: Security token
          in: header
          name: Authorization
          required: false
          type: string
        - description: Issued Api key issued from apigee portal
          in: header
          name: Apikey
          required: false
          type: string
        - in: body
          name: body
          required: true
          schema:
            description: |+
              All of the below fields are nullable

              | Field |Value Type | Description |
              | -------- | -------- | -------- |
              | Comments     | Comments     | string     |
              | Feedback1     | Service     | Feedback Raing Enum     |
              | Feedback2     | Ambience     | Feedback Raing Enum     |
              | Feedback3     | Cleanliness     | Feedback Raing Enum     |
              | Feedback4     | Therapist     | Feedback Raing Enum     |
              | FeedbackAnswer1     | Recommendation     | bool     |
              | FeedbackAnswer2     | Share Feedback     | bool     |



              | Feedback Rating  | Enum  | 
              | -------- | -------- | -------- |
              | Poor      | 1     | 
              | Average      | 2     | 
              | Good      | 3    | 
              | Excellent      | 4     | 
              | Outstanding      | 5    | 

            type: object
          x-examples:
            application/json: |-
              {
                "Comments": "string",
                "Feedback1": 1,
                "Feedback2": 1,
                "Feedback3": 1,
                "Feedback4": 1,
                "FeedbackAnswer1": true,
                "FeedbackAnswer2": true
              }
      responses:
        '200':
          description: Status 200
          examples:
            application/json: |-
              {
                "Success": true,
                "Error": {
                  "StatusCode": 0,
                  "Message": "string"
                }
              }
          schema:
            type: object
      summary: '/v1/Catalog/Appointments/{AppointmentGroupId}/Feedback'
      tags:
        - Appointments - Catalog
    x-restlet:
      section: Appointments(Catalog)
  '/v1/Catalog/Appointments/{AppointmentId}/AddOnService':
    parameters:
      - in: path
        name: AppointmentId
        required: true
        type: string
    post:
      description: Adds an Add on service To an Existing Appointment of the user.
      parameters:
        - description: Security token
          in: header
          name: Authorization
          required: false
          type: string
        - description: Issued Api key issued from apigee portal
          in: header
          name: Apikey
          required: false
          type: string
        - in: body
          name: body
          required: true
          schema:
            description: Service id of the requested add on service is given as a json.
            type: object
          x-examples:
            application/json: |-
              {
                "Serviceid" : "String"
              }
      responses:
        '200':
          description: Status 200
          examples:
            application/json: |-
              {
                  "IsAddOnServiceAdded": boolean ,
                  "AddOnAppointmentId": "string",
                  "AppointmentId": "string",
                  "Error": null
              }
          schema:
            description: |
              returns the status of the add on service and appointment id of the add on service.



              |  Field |Value Type |  Description |
              | -------- | -------- | -------- |
              | IsAddOnServiceAdded     | boolean     |  Add on service added or not     |
              | AddOnAppointmentId     | String     |  AppointmentId of Add on service added    |
              | AppointmentId     | String     |  AppointmentId of Service to which Add on service is added    |

               
            type: object
      summary: '/v1/Catalog/Appointments/{AppointmentId}/AddOnService'
      tags:
        - Appointments - Catalog
    x-restlet:
      section: Appointments(Catalog)
  '/v1/Catalog/Appointments/{AppointmentId}/Cancel':
    parameters:
      - in: path
        name: AppointmentId
        required: true
        type: string
    post:
      description: |
        Changes the appointment status to cancelled and also returns a boolean for "IsCancelChargesApplied" feild.

        Appointment status("Status" feild) of cancelled is -1.

        |status|enum|
        | -------- | -------- |
        | NoShow | -2|
        |Cancelled | -1|
        |New | 0|
        |Closed | 1|
        |Checkin | 2|
        |Confirm | 4|
        | Break | 10|
        |NotSpecified | 11|
        |Available | 20|
      parameters:
        - description: Security token
          in: header
          name: Authorization
          required: false
          type: string
        - description: Issued Api key issued from apigee portal
          in: header
          name: Apikey
          required: false
          type: string
        - in: body
          name: body
          required: true
          schema:
            description: |-
              Below are the Fields of input Json.
              | Field | Value type | Description |
              | -------- | -------- | -------- |
              | ReasonId `*`    | GUID     | Reason for Cancellation     |
              | Comments     | string     | Comments  |


              Note: Feilds marked with `*` are mandatory.
            type: object
          x-examples:
            application/json: |-
              {
              "reason": "string",
              "Comments" : "string"
              }
      responses:
        '200':
          description: Status 200
          examples:
            application/json: |-
              {
                  "IsAppointmentStatusSet": bool,
                  "Status":  enum,
                  "IsCancelChargeApplied": bool,
                  "Error": null
              }
          schema:
            description: returns the status of the add on service and appointment id of the add on service.
            type: object
      summary: '/v1/Catalog/Appointments/{AppointmentId}/Cancel'
      tags:
        - Appointments - Catalog
    x-restlet:
      section: Appointments(Catalog)
  '/v1/Catalog/Appointments/{AppointmentId}/CustomData/Html':
    get:
      description: Gets the Html form for a particular AppointmentId
      parameters:
        - description: Security token
          in: header
          name: Authorization
          required: false
          type: string
        - description: Issued Api key issued from apigee portal
          in: header
          name: Apikey
          required: false
          type: string
      produces:
        - text/html
      responses:
        '200':
          description: Status 200
          schema:
            type: object
      summary: '/v1/Catalog/Appointments/{AppointmentId}/CustomData/Html'
      tags:
        - Appointments - Catalog
    parameters:
      - in: path
        name: AppointmentId
        required: true
        type: string
    x-restlet:
      section: Appointments(Catalog)
  '/v1/Catalog/Appointments/{AppointmentId}/HtmlCustomData':
    get:
      description: Gets the Html form data for a particular AppointmentId
      parameters:
        - description: Security token
          in: header
          name: Authorization
          required: false
          type: string
        - description: Issued Api key issued from apigee portal
          in: header
          name: Apikey
          required: false
          type: string
      responses:
        '200':
          description: Status 200
          examples:
            application/json: |-
              {
                "Data": "string",
                "GuestData": "string",
                "IsFormSubmitted": true,
                "Error": {
                  "StatusCode": 0,
                  "Message": "string"
                }
              }
          schema:
            description: |+
              Description for the Json fields in the output Json

              |  Field | Value Type | Description |
              | -------- | -------- | -------- |
              | Data     | Json Object     | Form data in Json form     |
              | Guest Data     | string     | Guest Details     |
              | IsFormSubmitted     | bool     | Form Status    |

            type: object
      summary: '/v1/Catalog/Appointments/{AppointmentId}/HtmlCustomData'
      tags:
        - Appointments - Catalog
    parameters:
      - in: path
        name: AppointmentId
        required: true
        type: string
    post:
      consumes: []
      description: Creates a Html form data for a particular AppointmentId
      parameters:
        - in: body
          name: body
          required: true
          schema:
            description: |+
              Description for the Json fields in the Input Json

              |  Field | Value Type | Description |
              | -------- | -------- | -------- |
              | Data     | Json Object     | Form data in Json form     |
              | Guest Data     | string     | Guest Details     |
              | IsFormSubmitted     | bool     | Form Status    |

            type: object
          x-examples:
            application/json: |-
              {
                "Data": "string",
                "FormId": "string",
                "IsRequiredFilled": true,
                "GuestData": "string",
                "IsFormSubmitted": true
              }
      responses:
        '200':
          description: Status 200
          examples:
            application/json: |-
              {
                "Success": true,
                "Error": {
                  "StatusCode": 0,
                  "Message": "string"
                }
              }
          schema:
            description: 'Success field is a bool , confirms success of form being created.'
            type: object
      summary: '/v1/Catalog/Appointments/{AppointmentId}/HtmlCustomData'
      tags:
        - Appointments - Catalog
    x-restlet:
      section: Appointments(Catalog)
  '/v1/Catalog/Appointments/{ReservationId}/CancelReservation':
    parameters:
      - in: path
        name: ReservationId
        required: true
        type: string
    post:
      description: Cancels a Reservation.
      parameters:
        - description: Security token
          in: header
          name: Authorization
          required: false
          type: string
        - description: Issued Api key issued from apigee portal
          in: header
          name: Apikey
          required: false
          type: string
      responses:
        '200':
          description: Status 200
          examples:
            application/json: |-
              {
                "ReservationId": "string",
                "IsCancelled": true,
                "Error": {
                  "StatusCode": 0,
                  "Message": "string"
                }
              }
          schema:
            description: |+
              Returns following Json Fields

              | Field | Value Type | 
              | -------- | -------- |
              | ReservationId     | String     | 
              | IsCancelled     | bool     |

            type: object
      summary: '/v1/Catalog/Appointments/{ReservationId}/CancelReservation'
      tags:
        - Appointments - Catalog
    x-restlet:
      section: Appointments(Catalog)
  /v1/Catalog/Centers:
    get:
      description: 'Gets the list of centers in the organization. Optionally, you can pass one or more Service Ids to see the Service-Specific centers that are available.'
      parameters:
        - description: List of Service Ids given separately. Each Service Id is a unique identifier
          in: query
          name: ServiceIds
          required: false
          type: string
          x-example: 'ServiceIds={ServiceId1}&ServiceIds={ServiceId2}'
        - description: Security token
          in: header
          name: Authorization
          required: false
          type: string
        - description: Issued Api key issued from apigee portal
          in: header
          name: Apikey
          required: false
          type: string
      responses:
        '200':
          description: Status 200
          examples:
            application/json: |-
              {
                  "Centers": [
                      {
                          "Id": "7e9a5a8c-db49-48ed-a406-1732b38fd226",
                          "Country": {
                              "Id": 95,
                              "Code": "IN",
                              "Name": "India",
                              "PhoneCode": 91,
                              "Nationality": "Indian"
                          },
                          "State": {
                              "Id": -2,
                              "Code": null,
                              "Name": "Others",
                              "ShortName": null
                          },
                          "Name": "Tribeca",
                          "GeoLatitude": 40.7143516540527,
                          "GeoLongitude": -74.0059661865234,
                          "Address1": "164 4Th Block",
                          "Address2": "New York",
                          "City": "New York",
                          "ZipCode": "560009",
                          "Phone1": {
                              "CountryId": 95,
                              "Number": "2128655555",
                              "DisplayNumber": "2128655555"
                          },
                          "Phone2": {
                              "CountryId": 95,
                              "Number": "2128655555",
                              "DisplayNumber": "2128655555"
                          },
                          "Email": null,
                          "CenterInfo": null,
                          "ServiceTaxNo": null,
                          "TIN": null,
                          "VAT": null,
                          "CST": null,
                          "CanBook": true,
                          "working_hours": [
                              {
                                  "day_of_week": "Monday",
                                  "start_time": "800",
                                  "end_time": "2200"
                              },
                              {
                                  "day_of_week": "Tuesday",
                                  "start_time": "800",
                                  "end_time": "2200"
                              },
                              {
                                  "day_of_week": "Wednesday",
                                  "start_time": "800",
                                  "end_time": "2200"
                              },
                              {
                                  "day_of_week": "Thursday",
                                  "start_time": "800",
                                  "end_time": "2200"
                              },
                              {
                                  "day_of_week": "Friday",
                                  "start_time": "800",
                                  "end_time": "2200"
                              },
                              {
                                  "day_of_week": "Saturday",
                                  "start_time": "800",
                                  "end_time": "2200"
                              },
                              {
                                  "day_of_week": "Sunday",
                                  "start_time": "800",
                                  "end_time": "2200"
                              }
                          ]
                      }
                  ],
                  "Error": null
              }
          schema:
            $ref: '#/definitions/CenterModel'
      summary: /v1/Catalog/Centers
      tags:
        - Centers - Catalog
    x-restlet:
      section: Centers(Catalog)
  /v1/Catalog/Centers/Organization:
    get:
      description: Gets List of all the Centers in the Organization
      parameters:
        - in: query
          name: CatalogEnabled
          required: false
          type: boolean
        - description: Security token
          in: header
          name: Authorization
          required: false
          type: string
        - description: Issued Api key issued from apigee portal
          in: header
          name: Apikey
          required: false
          type: string
      responses:
        '200':
          description: Status 200
          examples:
            application/json: |-
              {
                "Centers": [
                  {
                    "Id": "string",
                    "Name": "string",
                    "Address": "string",
                    "Phone": "string",
                    "TimeZoneId": 0,
                    "CurrencyId": 0,
                    "SecurityRole": {
                      "Id": "string",
                      "Name": "string",
                      "ScopeId": "string",
                      "Scope": 0,
                      "OrgOrZoneOrCenterName": "string",
                      "CanAccessAdministratorMode": true,
                      "CanAccessAppointmentBook": true,
                      "CanViewGuestHistory": true,
                      "CanViewServiceHistory": true,
                      "Permissions": [
                        {
                          "ObjectName": "string",
                          "PermissionBitMask": 0
                        }
                      ]
                    },
                    "SecurityRoles": [
                      {
                        "Id": "string",
                        "Name": "string",
                        "ScopeId": "string",
                        "Scope": 0,
                        "OrgOrZoneOrCenterName": "string",
                        "CanAccessAdministratorMode": true,
                        "CanAccessAppointmentBook": true,
                        "CanViewGuestHistory": true,
                        "CanViewServiceHistory": true,
                        "Permissions": [
                          {
                            "ObjectName": "string",
                            "PermissionBitMask": 0
                          }
                        ]
                      }
                    ],
                    "OrganizationName": "string",
                    "OrganizationLogoUrl": "string",
                    "Email": "string"
                  }
                ],
                "Error": {
                  "StatusCode": 0,
                  "Message": "string"
                }
              }
          schema:
            $ref: '#/definitions/CenterModel'
      summary: /v1/Catalog/Centers/Organization
      tags:
        - Centers - Catalog
    x-restlet:
      section: Centers(Catalog)
  /v1/Catalog/Guests/CheckUserName:
    get:
      description: Check if the guest is already existing in the system based on UserName. UserName is mandatory
      parameters:
        - in: query
          name: userName
          required: false
          type: string
        - description: Security token
          in: header
          name: Authorization
          required: false
          type: string
        - description: Issued Api key issued from apigee portal
          in: header
          name: Apikey
          required: false
          type: string
      responses:
        '200':
          description: Status 200
          examples:
            application/json: |-
              {
                "Success": true,
                "NumOfMatches": 0,
                "MatchedWith": 0,
                "Error":null
              }
          schema:
            description: |-

              matched width - one to one
            type: object
      summary: /v1/Catalog/Guests/CheckUserName
      tags:
        - Guests - Catalog
    x-restlet:
      section: Guests(Catalog)
  /v1/Catalog/Guests/ForgottenPassword:
    post:
      description: Get password reset link
      parameters:
        - description: Security token
          in: header
          name: Authorization
          required: false
          type: string
        - description: Issued Api key issued from apigee portal
          in: header
          name: Apikey
          required: false
          type: string
        - in: body
          name: body
          required: true
          schema:
            type: object
          x-examples:
            application/json: |-
              {
                "UserName": "string"
              }
      responses:
        '200':
          description: Status 200
          examples:
            application/json: |-
              {
                "Success": true,
                "Error": {
                  "StatusCode": 0,
                  "Message": "string"
                }
              }
          schema:
            description: |

               
            type: object
      summary: /v1/Catalog/Guests/ForgottenPassword
      tags:
        - Guests - Catalog
    x-restlet:
      section: Guests(Catalog)
  '/v1/Catalog/Guests/Guest/{GuestId}/CreditCardsOnFile':
    get:
      description: |-
        Gets the Credit Cards on File for guest

        Transaction Form

        | Enum | Value | 
        | -------- | -------- | 
        | Web     | 1     |
        | WebStore     | 2     |
        | CheckWeb     | 4     |
        | Mobile     | 8     |
        | MobilePOS     | 16     | 
      parameters:
        - in: query
          name: GuestId
          required: true
          type: string
        - in: query
          name: CenterId
          required: true
          type: string
        - in: query
          name: TransactionForm
          required: false
          type: integer
        - description: Security token
          in: header
          name: Authorization
          required: false
          type: string
        - description: Issued Api key issued from apigee portal
          in: header
          name: Apikey
          required: false
          type: string
      responses:
        '200':
          description: Status 200
          examples:
            application/json: |-
              {
                "Error": {
                  "StatusCode": 0,
                  "Message": "string"
                },
                "CreditCardsOnFile": [
                  {
                    "Id": "string",
                    "CardBrand": 0,
                    "CardType": 0,
                    "LastFour": "string",
                    "ExpirationMonth": 0,
                    "ExpirationYear": 0,
                    "ExtParams": "string",
                    "IsSupportedCardType": true
                  }
                ],
                "HasExpiredCards": true
              }
          schema:
            $ref: '#/definitions/GetCreditCardsOnFileResponse'
      summary: '/v1/Catalog/Guests/{GuestId}/CreditCardsOnFile'
      tags:
        - Guests - Catalog
    parameters:
      - in: path
        name: GuestId
        required: true
        type: string
    x-restlet:
      section: Guests(Catalog)
  '/v1/Catalog/Guests/Guests/Memberships/{UserMembershipId}':
    get:
      description: Get balance details of a User MembershipId
      parameters:
        - description: Security token
          in: header
          name: Authorization
          required: false
          type: string
        - description: Issued Api key issued from apigee portal
          in: header
          name: Apikey
          required: false
          type: string
      responses:
        '200':
          description: Status 200
          examples:
            application/json: |-
              {
                "Balance": [
                  {
                    "MembershipName": "string",
                    "BenefitName": "string",
                    "Quantity": 0,
                    "Frequency": "string",
                    "ExpirationDays": 0,
                    "Used": 0,
                    "Notes": "string",
                    "AllowDirectBooking": true,
                    "HasEquivalents": true,
                    "Balance": 0
                  }
                ],
                "Error": {
                  "StatusCode": 0,
                  "Message": "string"
                }
              }
          schema:
            description: |


               
            type: object
      summary: '/v1/Catalog/Guests/Memberships/{UserMembershipId}'
      tags:
        - Guests - Catalog
    parameters:
      - in: path
        name: UserMembershipId
        required: true
        type: string
    x-restlet:
      section: Guests(Catalog)
  '/v1/Catalog/Guests/Guests/{GuestId}':
    get:
      description: Obtain profile details of a guest user.
      parameters:
        - description: Security token
          in: header
          name: Authorization
          required: false
          type: string
        - description: Issued Api key issued from apigee portal
          in: header
          name: Apikey
          required: false
          type: string
      responses:
        '200':
          description: Status 200
          examples:
            application/json: |-
              {
                "Guest": {
                  "Address1": "string",
                  "Address2": "string",
                  "AnniversaryDate": "string",
                  "City": "string",
                  "CountryFk": "string",
                  "CountryName": "string",
                  "DOB": "string",
                  "DOB_IncompleteYear": "string",
                  "Email": "string",
                  "Gender": "string",
                  "GuestFlagFT": "string",
                  "GuestFlagHS": "string",
                  "GuestFlagLF": "string",
                  "GuestFlagMB": "string",
                  "GuestFlagNS": "string",
                  "GuestFlagPack": "string",
                  "GuestFlagRC": "string",
                  "GuestFlagReg": "string",
                  "GuestFName": "string",
                  "GuestLName": "string",
                  "GuestMName": "string",
                  "GuestPhone": "string",
                  "HasCD": "string",
                  "HomePhone": "string",
                  "id": "string",
                  "ReceiveLpStmt": "string",
                  "ReceiveMarketingEMail": "string",
                  "ReceiveMarketingSMS": "string",
                  "ReceiveTransactionalEMail": "string",
                  "ReceiveTransactionalSMS": "string",
                  "StateFK": "string",
                  "StateName": "string",
                  "WorkPhone": "string",
                  "MobilePhoneModel": {
                    "CountryId": 0,
                    "Number": "string",
                    "DisplayNumber": "string"
                  },
                  "HomePhoneModel": {
                    "CountryId": 0,
                    "Number": "string",
                    "DisplayNumber": "string"
                  },
                  "WorkPhoneModel": {
                    "CountryId": 0,
                    "Number": "string",
                    "DisplayNumber": "string"
                  },
                  "memberships": [
                    {
                      "guest_id": "string",
                      "id": "string",
                      "MembershipBalance": "string",
                      "MembershipEndD": "string",
                      "MembershipName": "string",
                      "MembershipStartD": "string"
                    }
                  ],
                  "packages": [
                    {}
                  ],
                  "products": [
                    {
                      "actors": [
                        {
                          "ActorDName": "string",
                          "ActorFName": "string",
                          "ActorLName": "string",
                          "id": "string"
                        }
                      ],
                      "CenterId": "string",
                      "CenterName": "string",
                      "CreatedDate": "string",
                      "FinalSalePrice": "string",
                      "id": "string",
                      "InvoiceNo": "string",
                      "Notes": {},
                      "products": [
                        {
                          "id": "string",
                          "productCode": "string",
                          "productName": "string"
                        }
                      ],
                      "Quantity": "string"
                    }
                  ],
                  "appts": [
                    {
                      "actors": [
                        {
                          "ActorDName": "string",
                          "ActorFName": "string",
                          "ActorLName": "string",
                          "id": "string"
                        }
                      ],
                      "apptgroup_id": "string",
                      "guests": [
                        {
                          "GuestFlagFT": "string",
                          "GuestFlagHS": "string",
                          "GuestFlagLF": "string",
                          "GuestFlagMB": "string",
                          "GuestFlagNS": "string",
                          "GuestFlagRC": "string",
                          "GuestFlagReg": "string",
                          "GuestFName": "string",
                          "GuestLName": "string",
                          "id": "string",
                          "MobilePhone": "string"
                        }
                      ],
                      "HasCD": "string",
                      "id": "string",
                      "locations": [
                        {
                          "Id": "string",
                          "Name": "string"
                        }
                      ],
                      "services": [
                        {
                          "id": "string",
                          "ServiceCustomDataIndicator": "string",
                          "ServiceCustomData": {
                            "Permission": {
                              "CanView": true,
                              "CanEdit": true
                            }
                          },
                          "FormId": "string",
                          "ServiceName": "string"
                        }
                      ],
                      "StartTime": "string",
                      "Status": 0,
                      "Currency": {
                        "Id": 0,
                        "Code": "string",
                        "Name": "string",
                        "Symbol": "string"
                      }
                    }
                  ],
                  "GuesthistoryFlag": "string",
                  "LastMembership": "string",
                  "LastPackage": "string",
                  "AmountDue": 0,
                  "TotalVisits": 0,
                  "LastVisit": "2017-09-13T04:48:02.000Z",
                  "LastService": "string",
                  "LastTherapist": "string",
                  "OpenAppts": 0,
                  "TotalSpent": 0,
                  "MembershipBalance": 0,
                  "GuestFlagOtherCenter": true,
                  "GuestFlagHasProfileAlert": true,
                  "GuestFlagCardOnFile": true,
                  "GuestFlagCTA": "string",
                  "CardsOnFile": [
                    {
                      "Id": "string",
                      "CardBrand": 0,
                      "CardType": 0,
                      "LastFour": "string",
                      "ExpirationMonth": 0,
                      "ExpirationYear": 0,
                      "ExtParams": "string",
                      "IsSupportedCardType": true
                    }
                  ],
                  "HasActiveMemberships": 0,
                  "NonExpirePackages": 0,
                  "ZipCode": "string"
                },
                "Error": {
                  "StatusCode": 0,
                  "Message": "string"
                }
              }
          schema:
            $ref: '#/definitions/GetGuestResponse'
      summary: '/v1/Catalog/Guests/{GuestId}'
      tags:
        - Guests - Catalog
    parameters:
      - in: path
        name: GuestId
        required: true
        type: string
    x-restlet:
      section: Guests(Catalog)
  /v1/Catalog/Guests/Logout:
    post:
      description: Delete a token on logout
      parameters:
        - description: Security token
          in: header
          name: Authorization
          required: false
          type: string
        - description: Issued Api key issued from apigee portal
          in: header
          name: Apikey
          required: false
          type: string
        - in: body
          name: body
          required: true
          schema:
            type: object
          x-examples:
            application/json: |-
              {
                "WebSessionId": "string"
              }
      responses:
        '200':
          description: Status 200
          examples:
            application/json: |-
              {
                "Success": true,
                "Error": {
                  "StatusCode": 0,
                  "Message": "string"
                }
              }
          schema:
            description: |

               
            type: object
      summary: /v1/Catalog/Guests/Logout
      tags:
        - Guests - Catalog
    x-restlet:
      section: Guests(Catalog)
  /v1/Catalog/Guests/LoyaltyPrograms:
    get:
      description: |+
        Gets the Loyalty Programs that the guest possesses. Additionally, it fetches the following details of Loyalty Programs:
        | Id | Name | Balance |
        | -------- | -------- | -------- |
        | 61acbc7a-a37e-43ea-8a94-b1bf0aa6518e     | lp test     | 1987     |

      parameters: []
      responses:
        '200':
          description: Details of Loyalty Programs of a guest
          examples:
            application/json: |-
              {
                  "LoyaltyPrograms": [
                      {
                          "Id": "4dbda302-c13f-4853-a143-b9ff3fcf0ce0",
                          "Name": "10000 Tier",
                          "Balance": 0
                      }
                      {
                          "Id": "61acbc7a-a37e-43ea-8a94-b1bf0aa6518e",
                          "Name": "lp test",
                          "Balance": 587
                      }
                  ],
                  "Error": null
              }
          schema:
            type: object
      summary: /v1/Catalog/Guests/LoyaltyPrograms
    x-restlet:
      section: Guests(Catalog)
  /v1/Catalog/Guests/LoyaltyPrograms/Summary:
    get:
      description: |-
        Returns the summary of loyalty points of a guest. It contains the following:

        1. Balance
        1. TierName
        1. StartDate
        1. EnrollmentStatus
        1. LPTierMaintainSpent
        1. SpentTillNow
        1. DowngradeDate
        1. DirectEnrollment
        1. ByPassDowngrade
        1. RecentEnrollDate
        1. PointsToSpendToStayInSameTierByDowngradeDate
      parameters: []
      responses:
        '200':
          description: Status 200
          examples:
            application/json: |-

              {
                "LoyaltySummaryModel": {
                  "Balance": 2541,
                      "TierName": "10000 Tier",
                      "StartDate": "2016-08-11T12:16:50",
                      "EnrollmentStatus": 1,
                      "LPTierMaintainSpent": 10000,
                      "SpentTillNow": 0,
                      "DowngradeDate": "2017-04-30T00:00:00",
                      "DirectEnrollment": false,
                      "ByPassDowngrade": 0,
                      "RecentEnrollDate": null,
                "PointsToSpendToStayInSameTierByDowngradeDate": 1
                },
                "Error": {
                  "StatusCode": 1,
                  "Message": "sample string 2",
                  "InternalMessage": "sample string 3"
                }
              }
          schema:
            type: object
      summary: /v1/Catalog/Guests/LoyaltyPrograms/Summary
    x-restlet:
      section: Guests(Catalog)
  '/v1/Catalog/Guests/LoyaltyPrograms/{ProgramId}':
    get:
      description: |-
        Additional details of a particular Loyalty Program of a Guest by Program Id are returned, transaction wise.

        * GuestId
        * InvoiceId
        * AppGroupId(AppointmentGroupId)
        * CenterName
        * ByPassDowngrade
        * PointsDate
        * RedemptionFrom
        * RedemptionTo
        * CreateDate
        * Loyalty Program Details - Id, Name, Earned, Redeemed, Available
      parameters: []
      responses:
        '200':
          description: Details of Loyalty Programs of a guest
          examples:
            application/json: |-
              {
                  "LoyaltyProgramDetails": [
                      {
                          "GuestId": "cfa37ea5-93bd-4050-aa55-d5bb2e98ad01",
                          "InvoiceId": "0d310c20-4f50-478a-b679-14040d96c6dc",
                          "AppGroupId": "00000000-0000-0000-0000-000000000000",
                          "CenterName": "LasVegas",
                          "ByPassDowngrade": 0,
                          "PointsDate": "2018-02-14T00:00:00",
                          "RedemptionFrom": "2018-02-14T00:00:00",
                          "RedemptionTo": "2018-05-25T00:00:00",
                          "CreateDate": "2018-02-14T00:00:00",
                          "loyaltyProgram": {
                              "Id": "4dbda302-c13f-4853-a143-b9ff3fcf0ce0",
                              "Name": "10000 Tier",
                              "TotalPointsEarned": -170,
                              "TotalPointsRedeemed": 0,
                              "TotalPointsAvailable": -170
                          }
                      },
                      {
                          "GuestId": "cfa37ea5-93bd-4050-aa55-d5bb2e98ad01",
                          "InvoiceId": "21359758-1ace-4201-ab4f-678625868b4e",
                          "AppGroupId": "00000000-0000-0000-0000-000000000000",
                          "CenterName": "Plutus IN",
                          "ByPassDowngrade": 0,
                          "PointsDate": "2017-04-25T00:00:00",
                          "RedemptionFrom": "2017-04-24T00:00:00",
                          "RedemptionTo": "2017-08-02T00:00:00",
                          "CreateDate": "2017-04-25T00:00:00",
                          "loyaltyProgram": {
                              "Id": "4dbda302-c13f-4853-a143-b9ff3fcf0ce0",
                              "Name": "10000 Tier",
                              "TotalPointsEarned": 6156,
                              "TotalPointsRedeemed": 0,
                              "TotalPointsAvailable": 6156
                          }
                      }
                    ]
              }
          schema:
            type: object
      summary: '/v1/Catalog/Guests/LoyaltyPrograms/{ProgramId}'
    parameters:
      - in: path
        name: ProgramId
        required: true
        type: string
    x-restlet:
      section: Guests(Catalog)
  /v1/Catalog/Guests/PastAppointments:
    get:
      description: To get the list of past bookings for the logged in guest
      parameters:
        - in: query
          name: Page
          required: false
          type: integer
        - in: query
          name: Size
          required: false
          type: integer
        - in: query
          name: Sorters
          required: false
          type: string
        - in: query
          name: Filters
          required: false
          type: string
        - format: date
          in: query
          name: startDate
          required: false
          type: string
        - format: date
          in: query
          name: endDate
          required: false
          type: string
        - description: Security token
          in: header
          name: Authorization
          required: false
          type: string
        - description: Issued Api key issued from apigee portal
          in: header
          name: Apikey
          required: false
          type: string
      responses:
        '200':
          description: Status 200
          examples:
            application/json: |-
              {
                "Appointments": [
                  {
                    "AppointmentGroupId": "string",
                    "InvoiceId": "string",
                    "InvoiceStatus": 0,
                    "IsRebooking": true,
                    "Notes": "string",
                    "Guest": {
                      "Id": "string",
                      "Code": "string",
                      "FirstName": "string",
                      "MiddleName": "string",
                      "LastName": "string",
                      "Email": "string",
                      "MobileNumber": "string",
                      "MobilePhoneModel": {
                        "CountryId": 0,
                        "Number": "string",
                        "DisplayNumber": "string"
                      },
                      "HomePhone": "string",
                      "HomePhoneModel": {
                        "CountryId": 0,
                        "Number": "string",
                        "DisplayNumber": "string"
                      },
                      "WorkPhone": "string",
                      "WorkPhoneModel": {
                        "CountryId": 0,
                        "Number": "string",
                        "DisplayNumber": "string"
                      },
                      "Gender": 0,
                      "DateOfBirth": "2017-09-13T04:48:01.949Z",
                      "AnniversaryDate": "2017-09-13T04:48:01.949Z",
                      "Address1": "string",
                      "Address2": "string",
                      "City": "string",
                      "PostalCode": "string",
                      "State": {
                        "Id": 0,
                        "Code": "string",
                        "Name": "string",
                        "ShortName": "string"
                      },
                      "Country": {
                        "Id": 0,
                        "Code": "string",
                        "Name": "string",
                        "PhoneCode": 0,
                        "Nationality": "string"
                      },
                      "Nationality": {
                        "Id": 0,
                        "Code": "string",
                        "Name": "string",
                        "PhoneCode": 0,
                        "Nationality": "string"
                      },
                      "ReferralSource": {
                        "Id": "string",
                        "Name": "string"
                      },
                      "ReferredGuestId": "string",
                      "ReceiveTransactionalSms": true,
                      "ReceiveMarketingEmail": true,
                      "ReceiveTransactionalEmail": true,
                      "ReceiveMarketingSms": true,
                      "CreationDate": "2017-09-13T04:48:01.949Z",
                      "LastUpdated": "2017-09-13T04:48:01.949Z",
                      "MergeIntoCode": "string",
                      "MergeIntoGuestId": "string",
                      "CenterId": "string",
                      "CenterCode": "string",
                      "CenterName": "string",
                      "GuestIndicator": "string",
                      "IsMember": 0,
                      "DOB_IncompleteYear": "string",
                      "Password": "string",
                      "UserName": "string",
                      "FacebookUserId": "string",
                      "OldPassword": "string"
                    },
                    "IsNoShowChargeToBeApplied": true,
                    "IsCancellationChargeToBeApplied": true,
                    "IsPaymentOrRedemptionApplied": true,
                    "AppointmentServices": [
                      {
                        "AppointmentId": "string",
                        "InvoiceItemId": "string",
                        "CartItemId": "string",
                        "AppointmentSegmentId": "string",
                        "PackageId": "string",
                        "Package": {
                          "Id": "string",
                          "Name": "string",
                          "Description": "string",
                          "Code": "string",
                          "Type": 1,
                          "Price": {
                            "CurrencyId": 0,
                            "Sales": 0,
                            "Tax": 0,
                            "Final": 0,
                            "Final1": 0,
                            "Discount": 0,
                            "Tip": 0,
                            "SSG": 0,
                            "RoundingCorrection": 0
                          },
                          "Services": [
                            {
                              "Id": "string",
                              "Name": "string",
                              "Price": {
                                "CurrencyId": 0,
                                "Sales": 0,
                                "Tax": 0,
                                "Final": 0,
                                "Final1": 0,
                                "Discount": 0,
                                "Tip": 0,
                                "SSG": 0,
                                "RoundingCorrection": 0
                              },
                              "Duration": 0,
                              "CategoryId": "string",
                              "IsAddOn": true,
                              "HasAddOns": true,
                              "AddOnToServiceId": "string",
                              "CategoryName": "string",
                              "AddOns": [
                                {}
                              ],
                              "IsVariant": true,
                              "HasVariant": true,
                              "ParentServiceId": "string",
                              "CartItemId": "string"
                            }
                          ],
                          "Items": [
                            {
                              "Type": 1,
                              "Id": "string",
                              "Name": "string",
                              "Quantity": 0,
                              "Order": 0,
                              "Service": {
                                "Id": "string",
                                "Name": "string",
                                "Price": {
                                  "CurrencyId": 0,
                                  "Sales": 0,
                                  "Tax": 0,
                                  "Final": 0,
                                  "Final1": 0,
                                  "Discount": 0,
                                  "Tip": 0,
                                  "SSG": 0,
                                  "RoundingCorrection": 0
                                },
                                "Duration": 0,
                                "CategoryId": "string",
                                "IsAddOn": true,
                                "HasAddOns": true,
                                "AddOnToServiceId": "string",
                                "CategoryName": "string",
                                "AddOns": [
                                  {}
                                ],
                                "IsVariant": true,
                                "HasVariant": true,
                                "ParentServiceId": "string",
                                "CartItemId": "string"
                              }
                            }
                          ]
                        },
                        "Service": {
                          "Id": "string",
                          "Name": "string",
                          "Price": {
                            "CurrencyId": 0,
                            "Sales": 0,
                            "Tax": 0,
                            "Final": 0,
                            "Final1": 0,
                            "Discount": 0,
                            "Tip": 0,
                            "SSG": 0,
                            "RoundingCorrection": 0
                          },
                          "Duration": 0,
                          "CategoryId": "string",
                          "IsAddOn": true,
                          "HasAddOns": true,
                          "AddOnToServiceId": "string",
                          "CategoryName": "string",
                          "AddOns": [
                            {}
                          ],
                          "IsVariant": true,
                          "HasVariant": true,
                          "ParentServiceId": "string",
                          "CartItemId": "string"
                        },
                        "RequestedTherapistGender": 0,
                        "StartTime": "2017-09-13T04:48:01.949Z",
                        "EndTime": "2017-09-13T04:48:01.949Z",
                        "StartTimeInCenter": "2017-09-13T04:48:01.949Z",
                        "EndTimeInCenter": "2017-09-13T04:48:01.949Z",
                        "Room": {
                          "Id": "string",
                          "Name": "string"
                        },
                        "Lock": true,
                        "Equipment": {
                          "Id": "string",
                          "Name": "string"
                        },
                        "Status": 0,
                        "RequestedTherapist": {
                          "Id": "string",
                          "ShortName": "string",
                          "NickName": "string",
                          "FullName": "string",
                          "Email": "string",
                          "PhoneNumber": "string",
                          "MobilePhoneModel": {
                            "CountryId": 0,
                            "Number": "string",
                            "DisplayNumber": "string"
                          },
                          "Gender": 0,
                          "FirstName": "string",
                          "LastName": "string",
                          "IsAvailable": true,
                          "VanityImageUrl": "string",
                          "ScalingFactor": 0,
                          "ScaledPrice": 0,
                          "ServiceTime": 0,
                          "DisplayName": "string"
                        },
                        "Quantity": 0,
                        "Price": {
                          "CurrencyId": 0,
                          "Sales": 0,
                          "Tax": 0,
                          "Final": 0,
                          "Final1": 0,
                          "Discount": 0,
                          "Tip": 0,
                          "SSG": 0,
                          "RoundingCorrection": 0
                        },
                        "SCD": "string",
                        "ActualStartTime": "2017-09-13T04:48:01.949Z",
                        "CompletedTime": "2017-09-13T04:48:01.949Z",
                        "Progress": 0,
                        "ParentAppointmentId": "string",
                        "ServiceCustomData": {
                          "Permission": {
                            "CanView": true,
                            "CanEdit": true
                          }
                        },
                        "ItemActions": "string",
                        "EquivalenceFactor": 0,
                        "EquivalentName": "string",
                        "IsMembershipApplied": true,
                        "IsAddOn": true,
                        "AddonAppointmentId": "string",
                        "IsPackageApplied": true,
                        "IsDiscountApplied": true,
                        "CanModifyTherapist": true
                      }
                    ],
                    "AppointmentProducts": [
                      {
                        "Product": {
                          "Id": "string",
                          "Name": "string",
                          "Price": {
                            "CurrencyId": 0,
                            "Sales": 0,
                            "Tax": 0,
                            "Final": 0,
                            "Final1": 0,
                            "Discount": 0,
                            "Tip": 0,
                            "SSG": 0,
                            "RoundingCorrection": 0
                          },
                          "CategoryId": "string",
                          "Url": "string"
                        },
                        "InvoiceItemId": "string",
                        "Quantity": 0,
                        "Price": {
                          "CurrencyId": 0,
                          "Sales": 0,
                          "Tax": 0,
                          "Final": 0,
                          "Final1": 0,
                          "Discount": 0,
                          "Tip": 0,
                          "SSG": 0,
                          "RoundingCorrection": 0
                        },
                        "Employee": {
                          "Id": "string",
                          "ShortName": "string",
                          "NickName": "string",
                          "FullName": "string",
                          "Email": "string",
                          "PhoneNumber": "string",
                          "MobilePhoneModel": {
                            "CountryId": 0,
                            "Number": "string",
                            "DisplayNumber": "string"
                          },
                          "Gender": 0,
                          "FirstName": "string",
                          "LastName": "string",
                          "IsAvailable": true,
                          "VanityImageUrl": "string",
                          "ScalingFactor": 0,
                          "ScaledPrice": 0,
                          "ServiceTime": 0,
                          "DisplayName": "string"
                        },
                        "IsMembershipApplied": true,
                        "IsPackageApplied": true,
                        "IsDiscountApplied": true
                      }
                    ],
                    "AppointmentMemberships": [
                      {
                        "Membership": {
                          "Id": "string",
                          "VersionId": "string",
                          "Name": "string",
                          "Price": {
                            "CurrencyId": 0,
                            "Sales": 0,
                            "Tax": 0,
                            "Final": 0,
                            "Final1": 0,
                            "Discount": 0,
                            "Tip": 0,
                            "SSG": 0,
                            "RoundingCorrection": 0
                          },
                          "CanBook": true,
                          "ShowPrice": true,
                          "DisplayName": "string",
                          "DisplayPrice": "string",
                          "ImagePaths": {}
                        },
                        "InvoiceItemId": "string",
                        "Employee": {
                          "Id": "string",
                          "ShortName": "string",
                          "NickName": "string",
                          "FullName": "string",
                          "Email": "string",
                          "PhoneNumber": "string",
                          "MobilePhoneModel": {
                            "CountryId": 0,
                            "Number": "string",
                            "DisplayNumber": "string"
                          },
                          "Gender": 0,
                          "FirstName": "string",
                          "LastName": "string",
                          "IsAvailable": true,
                          "VanityImageUrl": "string",
                          "ScalingFactor": 0,
                          "ScaledPrice": 0,
                          "ServiceTime": 0,
                          "DisplayName": "string"
                        },
                        "Quantity": 0,
                        "Price": {
                          "CurrencyId": 0,
                          "Sales": 0,
                          "Tax": 0,
                          "Final": 0,
                          "Final1": 0,
                          "Discount": 0,
                          "Tip": 0,
                          "SSG": 0,
                          "RoundingCorrection": 0
                        },
                        "IsMembershipApplied": true,
                        "IsPackageApplied": true,
                        "IsDiscountApplied": true
                      }
                    ],
                    "AppointmentSeriesPackages": [
                      {
                        "Package": {
                          "Id": "string",
                          "Name": "string",
                          "Description": "string",
                          "Code": "string",
                          "Type": 1,
                          "Price": {
                            "CurrencyId": 0,
                            "Sales": 0,
                            "Tax": 0,
                            "Final": 0,
                            "Final1": 0,
                            "Discount": 0,
                            "Tip": 0,
                            "SSG": 0,
                            "RoundingCorrection": 0
                          },
                          "Services": [
                            {
                              "Id": "string",
                              "Name": "string",
                              "Price": {
                                "CurrencyId": 0,
                                "Sales": 0,
                                "Tax": 0,
                                "Final": 0,
                                "Final1": 0,
                                "Discount": 0,
                                "Tip": 0,
                                "SSG": 0,
                                "RoundingCorrection": 0
                              },
                              "Duration": 0,
                              "CategoryId": "string",
                              "IsAddOn": true,
                              "HasAddOns": true,
                              "AddOnToServiceId": "string",
                              "CategoryName": "string",
                              "AddOns": [
                                {}
                              ],
                              "IsVariant": true,
                              "HasVariant": true,
                              "ParentServiceId": "string",
                              "CartItemId": "string"
                            }
                          ],
                          "Items": [
                            {
                              "Type": 1,
                              "Id": "string",
                              "Name": "string",
                              "Quantity": 0,
                              "Order": 0,
                              "Service": {
                                "Id": "string",
                                "Name": "string",
                                "Price": {
                                  "CurrencyId": 0,
                                  "Sales": 0,
                                  "Tax": 0,
                                  "Final": 0,
                                  "Final1": 0,
                                  "Discount": 0,
                                  "Tip": 0,
                                  "SSG": 0,
                                  "RoundingCorrection": 0
                                },
                                "Duration": 0,
                                "CategoryId": "string",
                                "IsAddOn": true,
                                "HasAddOns": true,
                                "AddOnToServiceId": "string",
                                "CategoryName": "string",
                                "AddOns": [
                                  {}
                                ],
                                "IsVariant": true,
                                "HasVariant": true,
                                "ParentServiceId": "string",
                                "CartItemId": "string"
                              }
                            }
                          ]
                        },
                        "InvoiceItemId": "string",
                        "Employee": {
                          "Id": "string",
                          "ShortName": "string",
                          "NickName": "string",
                          "FullName": "string",
                          "Email": "string",
                          "PhoneNumber": "string",
                          "MobilePhoneModel": {
                            "CountryId": 0,
                            "Number": "string",
                            "DisplayNumber": "string"
                          },
                          "Gender": 0,
                          "FirstName": "string",
                          "LastName": "string",
                          "IsAvailable": true,
                          "VanityImageUrl": "string",
                          "ScalingFactor": 0,
                          "ScaledPrice": 0,
                          "ServiceTime": 0,
                          "DisplayName": "string"
                        },
                        "Quantity": 0,
                        "Price": {
                          "CurrencyId": 0,
                          "Sales": 0,
                          "Tax": 0,
                          "Final": 0,
                          "Final1": 0,
                          "Discount": 0,
                          "Tip": 0,
                          "SSG": 0,
                          "RoundingCorrection": 0
                        },
                        "IsMembershipApplied": true,
                        "IsPackageApplied": true,
                        "IsDiscountApplied": true
                      }
                    ],
                    "AppointmentGiftCards": [
                      {
                        "GiftCard": {
                          "Id": "string",
                          "Code": "string",
                          "Value": 0,
                          "PurchasePrice": 0,
                          "ValidityDays": 0,
                          "IsOneTimeUse": true,
                          "ExpiryDate": "2017-09-13T04:48:01.950Z",
                          "Notes": "string",
                          "GiftTypeId": "string",
                          "SendEmailToRecipient": true,
                          "Price": {
                            "CurrencyId": 0,
                            "Sales": 0,
                            "Tax": 0,
                            "Final": 0,
                            "Final1": 0,
                            "Discount": 0,
                            "Tip": 0,
                            "SSG": 0,
                            "RoundingCorrection": 0
                          },
                          "Recipient": {
                            "Id": "string",
                            "Code": "string",
                            "FirstName": "string",
                            "MiddleName": "string",
                            "LastName": "string",
                            "Email": "string",
                            "MobileNumber": "string",
                            "MobilePhoneModel": {
                              "CountryId": 0,
                              "Number": "string",
                              "DisplayNumber": "string"
                            },
                            "HomePhone": "string",
                            "HomePhoneModel": {
                              "CountryId": 0,
                              "Number": "string",
                              "DisplayNumber": "string"
                            },
                            "WorkPhone": "string",
                            "WorkPhoneModel": {
                              "CountryId": 0,
                              "Number": "string",
                              "DisplayNumber": "string"
                            },
                            "Gender": 0,
                            "DateOfBirth": "2017-09-13T04:48:01.950Z",
                            "AnniversaryDate": "2017-09-13T04:48:01.950Z",
                            "Address1": "string",
                            "Address2": "string",
                            "City": "string",
                            "PostalCode": "string",
                            "State": {
                              "Id": 0,
                              "Code": "string",
                              "Name": "string",
                              "ShortName": "string"
                            },
                            "Country": {
                              "Id": 0,
                              "Code": "string",
                              "Name": "string",
                              "PhoneCode": 0,
                              "Nationality": "string"
                            },
                            "Nationality": {
                              "Id": 0,
                              "Code": "string",
                              "Name": "string",
                              "PhoneCode": 0,
                              "Nationality": "string"
                            },
                            "ReferralSource": {
                              "Id": "string",
                              "Name": "string"
                            },
                            "ReferredGuestId": "string",
[...]
