openapi: 3.0.0
servers:
  - url: http://azure-api.sportsdata.io/v3/nhl/stats
  - url: https://azure-api.sportsdata.io/v3/nhl/stats
info:
  contact:
    x-twitter: nfldata
  title: NHL v3 Stats
  version: "1.0"
  x-apisguru-categories:
    - entertainment
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_nfldata_profile_image.jpeg
  x-origin:
    - format: swagger
      url: https://fantasydata.com/downloads/swagger/nhl-v3-stats.json
      version: "2.0"
  x-providerName: sportsdata.io
  x-serviceName: nhl-v3-stats
security:
  - apiKeyHeader: []
  - apiKeyQuery: []
tags: []
paths:
  "/{format}/AllTeams":
    get:
      operationId: TeamsAll
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Team"
                type: array
          description: ""
      summary: Teams (All)
  "/{format}/AreAnyGamesInProgress":
    get:
      description: Returns <code>true</code> if there is at least one game being played at the time of the request or <code>false</code> if there are none.
      operationId: AreGamesInProgress
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                nullable: false
                type: boolean
          description: ""
      summary: Are Games In Progress
  "/{format}/BoxScore/{gameid}":
    get:
      operationId: BoxScore
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: The GameID of an NHL game.  GameIDs can be found in the Games API.  Valid entries are <code>14620</code> or <code>16905</code>
          in: path
          name: gameid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BoxScore"
          description: ""
      summary: Box Score
  "/{format}/BoxScores/{date}":
    get:
      operationId: BoxScoresByDate
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "The date of the game(s).

            \ <br>Examples: <code>2017-OCT-31</code>, <code>2018-FEB-15</code>.

            \ "
          in: path
          name: date
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/BoxScore"
                type: array
          description: ""
      summary: Box Scores by Date
  "/{format}/BoxScoresDelta/{date}/{minutes}":
    get:
      operationId: BoxScoresByDateDelta
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "The date of the game(s).

            \ <br>Examples: <code>2017-OCT-31</code>, <code>2018-FEB-15</code>.

            \ "
          in: path
          name: date
          required: true
          schema:
            type: string
        - description: "Only returns player statistics that have changed in the last X minutes.  You specify how many minutes in time to go back.  Valid entries are:

            \ <code>1</code> or <code>2</code>.

            \ "
          in: path
          name: minutes
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/BoxScore"
                type: array
          description: ""
      summary: Box Scores by Date Delta
  "/{format}/CurrentSeason":
    get:
      operationId: CurrentSeason
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Season"
          description: ""
      summary: Current Season
  "/{format}/DfsSlatesByDate/{date}":
    get:
      operationId: DfsSlatesByDate
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: |-
            The date of the game(s).
            <br>Examples: <code>2017-DEC-01</code>, <code>2018-FEB-15</code>.
          in: path
          name: date
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/DfsSlate"
                type: array
          description: ""
      summary: DFS Slates by Date
  "/{format}/FreeAgents":
    get:
      operationId: PlayerDetailsByFreeAgent
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Player"
                type: array
          description: ""
      summary: Player Details by Free Agent
  "/{format}/Games/{season}":
    get:
      operationId: Schedules
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "Year of the season (with optional season type).<br>Examples: <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>, <code>2019</code>, etc."
          in: path
          name: season
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Game"
                type: array
          description: ""
      summary: Schedules
  "/{format}/GamesByDate/{date}":
    get:
      operationId: GamesByDate
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "The date of the game(s).

            \ <br>Examples: <code>2017-OCT-31</code>, <code>2018-FEB-15</code>.

            \ "
          in: path
          name: date
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Game"
                type: array
          description: ""
      summary: Games by Date
  "/{format}/LinesBySeason/{season}":
    get:
      operationId: LineCombinationsBySeason
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "Year of the season.

            \ <br>Examples: <code>2016</code>, <code>2017</code>.

            \ "
          in: path
          name: season
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/TeamLine"
                type: array
          description: ""
      summary: Line Combinations by Season
  "/{format}/News":
    get:
      operationId: News
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/News"
                type: array
          description: ""
      summary: News
  "/{format}/NewsByDate/{date}":
    get:
      operationId: NewsByDate
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "The date of the news.

            \ <br>Examples: <code>2017-OCT-31</code>, <code>2018-FEB-15</code>.

            \ "
          in: path
          name: date
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/News"
                type: array
          description: ""
      summary: News by Date
  "/{format}/NewsByPlayerID/{playerid}":
    get:
      operationId: NewsByPlayer
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "Unique FantasyData Player ID.

            \ Example:<code>10000507</code>.

            \ "
          in: path
          name: playerid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/News"
                type: array
          description: ""
      summary: News by Player
  "/{format}/Player/{playerid}":
    get:
      operationId: PlayerDetailsByPlayer
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: |-
            Unique FantasyData Player ID.
            Example:<code>30000007</code>.
          in: path
          name: playerid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Player"
          description: ""
      summary: Player Details by Player
  "/{format}/PlayerGameStatsByDate/{date}":
    get:
      operationId: PlayerGameStatsByDate
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "The date of the game(s).

            \ <br>Examples: <code>2017-OCT-31</code>, <code>2018-FEB-15</code>.

            \ "
          in: path
          name: date
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/PlayerGame"
                type: array
          description: ""
      summary: Player Game Stats by Date
  "/{format}/PlayerGameStatsByPlayer/{date}/{playerid}":
    get:
      operationId: PlayerGameStatsByPlayer
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "The date of the game(s).


            <br>Examples: <code>2018-JAN-31</code>, <code>2017-OCT-01</code>.

            \ "
          in: path
          name: date
          required: true
          schema:
            type: string
        - description: |-
            Unique FantasyData Player ID.
            Example:<code>30000378</code>.
          in: path
          name: playerid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerGame"
          description: ""
      summary: Player Game Stats by Player
  "/{format}/PlayerGameStatsBySeason/{season}/{playerid}/{numberofgames}":
    get:
      operationId: PlayerGameLogsBySeason
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            enum:
              - XML
              - JSON
            type: string
        - description: Season to get games from. Example <code>2019POST</code>, <code>2020</code>
          in: path
          name: season
          required: true
          schema:
            type: string
        - description: |-
            Unique FantasyData Player ID.
            Example:<code>30000651</code>.
          in: path
          name: playerid
          required: true
          schema:
            type: string
        - description: How many games to return. Example <code>all</code>, <code>10</code>, <code>25</code>
          in: path
          name: numberofgames
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/PlayerGame"
                type: array
          description: ""
      summary: Player Game Logs By Season
  "/{format}/PlayerSeasonStats/{season}":
    get:
      operationId: PlayerSeasonStats
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "Year of the season.

            \ <br>Examples: <code>2016</code>, <code>2017</code>.

            \ "
          in: path
          name: season
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/PlayerSeason"
                type: array
          description: ""
      summary: Player Season Stats
  "/{format}/PlayerSeasonStatsByPlayer/{season}/{playerid}":
    get:
      operationId: PlayerSeasonStatsByPlayer
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "Year of the season.

            \ <br>Examples: <code>2016</code>, <code>2017</code>.

            \ "
          in: path
          name: season
          required: true
          schema:
            type: string
        - description: |-
            Unique FantasyData Player ID.
            Example:<code>30000378</code>.
          in: path
          name: playerid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerSeason"
          description: ""
      summary: Player Season Stats By Player
  "/{format}/PlayerSeasonStatsByTeam/{season}/{team}":
    get:
      operationId: PlayerSeasonStatsByTeam
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "Year of the season.

            \ <br>Examples: <code>2016</code>, <code>2017</code>.

            \ "
          in: path
          name: season
          required: true
          schema:
            type: string
        - description: "The abbreviation of the requested team.

            \ <br>Examples: <code>SF</code>, <code>NYY</code>.

            \ "
          in: path
          name: team
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/PlayerSeason"
                type: array
          description: ""
      summary: Player Season Stats by Team
  "/{format}/Players":
    get:
      operationId: PlayerDetailsByActive
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Player"
                type: array
          description: ""
      summary: Player Details by Active
  "/{format}/Players/{team}":
    get:
      operationId: PlayersByTeam
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "The abbreviation of the requested team.

            \ <br>Examples: <code>SF</code>, <code>NYY</code>.

            \ "
          in: path
          name: team
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Player"
                type: array
          description: ""
      summary: Players by Team
  "/{format}/Stadiums":
    get:
      operationId: Stadiums
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: xml
            enum:
              - xml
              - json
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Stadium"
                type: array
          description: ""
      summary: Stadiums
  "/{format}/Standings/{season}":
    get:
      operationId: Standings
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "Year of the season.

            \ <br>Examples: <code>2016</code>, <code>2017</code>.

            \ "
          in: path
          name: season
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Standing"
                type: array
          description: ""
      summary: Standings
  "/{format}/TeamGameStatsByDate/{date}":
    get:
      operationId: TeamGameStatsByDate
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "The date of the game(s).

            \ <br>Examples: <code>2018-JAN-31</code>, <code>2017-OCT-01</code>.

            \ "
          in: path
          name: date
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/TeamGame"
                type: array
          description: ""
      summary: Team Game Stats by Date
  "/{format}/TeamGameStatsBySeason/{season}/{teamid}/{numberofgames}":
    get:
      description: Game by game log of total team statistics.
      operationId: TeamGameLogsBySeason
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            enum:
              - XML
              - JSON
            type: string
        - description: Season to get games from. Example <code>2019POST</code>, <code>2020</code>
          in: path
          name: season
          required: true
          schema:
            type: string
        - description: Unique ID of team.  Example <code> 8 </code>
          in: path
          name: teamid
          required: true
          schema:
            type: string
        - description: How many games to return. Example <code>all</code>, <code>10</code>, <code>25</code>
          in: path
          name: numberofgames
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/TeamGame"
                type: array
          description: ""
      summary: Team Game Logs By Season
  "/{format}/TeamSeasonStats/{season}":
    get:
      operationId: TeamSeasonStats
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "Year of the season.

            \ <br>Examples: <code>2016</code>, <code>2017</code>.

            \ "
          in: path
          name: season
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/TeamSeason"
                type: array
          description: ""
      summary: Team Season Stats
  "/{format}/TeamStatsAllowedByPosition/{season}":
    get:
      operationId: TeamStatsAllowedByPosition
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
        - description: "Year of the season.

            \ <br>Examples: <code>2016</code>, <code>2017</code>.

            \ "
          in: path
          name: season
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/TeamSeason"
                type: array
          description: ""
      summary: Team Stats Allowed by Position
  "/{format}/teams":
    get:
      operationId: TeamsActive
      parameters:
        - description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          in: path
          name: format
          required: true
          schema:
            default: XML
            enum:
              - XML
              - JSON
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Team"
                type: array
          description: ""
      summary: Teams (Active)
components:
  schemas:
    BoxScore:
      properties:
        Game:
          $ref: "#/components/schemas/Game"
        Periods:
          items:
            $ref: "#/components/schemas/Period"
          type: array
        PlayerGames:
          items:
            $ref: "#/components/schemas/PlayerGame"
          type: array
        ShootoutPlays:
          items:
            $ref: "#/components/schemas/Play"
          type: array
        TeamGames:
          items:
            $ref: "#/components/schemas/TeamGame"
          type: array
    DfsSlate:
      properties:
        DfsSlateGames:
          items:
            $ref: "#/components/schemas/DfsSlateGame"
          type: array
        DfsSlatePlayers:
          items:
            $ref: "#/components/schemas/DfsSlatePlayer"
          type: array
        IsMultiDaySlate:
          nullable: true
          type: boolean
        NumberOfGames:
          nullable: true
          type: integer
        Operator:
          nullable: true
          type: string
        OperatorDay:
          nullable: true
          type: string
        OperatorGameType:
          nullable: true
          type: string
        OperatorName:
          nullable: true
          type: string
        OperatorSlateID:
          nullable: true
          type: integer
        OperatorStartTime:
          nullable: true
          type: string
        RemovedByOperator:
          nullable: true
          type: boolean
        SalaryCap:
          nullable: true
          type: integer
        SlateID:
          nullable: false
          type: integer
        SlateRosterSlots:
          items:
            nullable: true
            type: string
          type: array
    DfsSlateGame:
      properties:
        Game:
          $ref: "#/components/schemas/Game"
        GameID:
          nullable: true
          type: integer
        OperatorGameID:
          nullable: true
          type: integer
        RemovedByOperator:
          nullable: true
          type: boolean
        SlateGameID:
          nullable: false
          type: integer
        SlateID:
          nullable: false
          type: integer
    DfsSlatePlayer:
      properties:
        OperatorPlayerID:
          nullable: true
          type: string
        OperatorPlayerName:
          nullable: true
          type: string
        OperatorPosition:
          nullable: true
          type: string
        OperatorRosterSlots:
          items:
            nullable: true
            type: string
          type: array
        OperatorSalary:
          nullable: true
          type: integer
        OperatorSlatePlayerID:
          nullable: true
          type: string
        PlayerGameProjectionStatID:
          nullable: true
          type: integer
        PlayerID:
          nullable: true
          type: integer
        RemovedByOperator:
          nullable: true
          type: boolean
        SlateGameID:
          nullable: true
          type: integer
        SlateID:
          nullable: false
          type: integer
        SlatePlayerID:
          nullable: false
          type: integer
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
    Game:
      properties:
        Attendance:
          nullable: true
          type: integer
        AwayRotationNumber:
          nullable: true
          type: integer
        AwayTeam:
          nullable: true
          type: string
        AwayTeamID:
          nullable: false
          type: integer
        AwayTeamMoneyLine:
          nullable: true
          type: integer
        AwayTeamScore:
          nullable: true
          type: integer
        Channel:
          nullable: true
          type: string
        DateTime:
          nullable: true
          type: string
        DateTimeUTC:
          nullable: true
          type: string
        Day:
          nullable: true
          type: string
        GameEndDateTime:
          nullable: true
          type: string
        GameID:
          nullable: false
          type: integer
        GlobalAwayTeamID:
          nullable: false
          type: integer
        GlobalGameID:
          nullable: false
          type: integer
        GlobalHomeTeamID:
          nullable: false
          type: integer
        HomeRotationNumber:
          nullable: true
          type: integer
        HomeTeam:
          nullable: true
          type: string
        HomeTeamID:
          nullable: false
          type: integer
        HomeTeamMoneyLine:
          nullable: true
          type: integer
        HomeTeamScore:
          nullable: true
          type: integer
        IsClosed:
          nullable: true
          type: boolean
        LastPlay:
          nullable: true
          type: string
        NeutralVenue:
          nullable: true
          type: boolean
        OverPayout:
          nullable: true
          type: integer
        OverUnder:
          nullable: true
          type: number
        Period:
          nullable: true
          type: string
        Periods:
          items:
            $ref: "#/components/schemas/Period"
          type: array
        PointSpread:
          nullable: true
          type: number
        PointSpreadAwayTeamMoneyLine:
          nullable: true
          type: integer
        PointSpreadHomeTeamMoneyLine:
          nullable: true
          type: integer
        Season:
          nullable: false
          type: integer
        SeasonType:
          nullable: false
          type: integer
        SeriesInfo:
          $ref: "#/components/schemas/Series"
        StadiumID:
          nullable: true
          type: integer
        Status:
          nullable: true
          type: string
        TimeRemainingMinutes:
          nullable: true
          type: integer
        TimeRemainingSeconds:
          nullable: true
          type: integer
        UnderPayout:
          nullable: true
          type: integer
        Updated:
          nullable: true
          type: string
    News:
      properties:
        Content:
          nullable: true
          type: string
        NewsID:
          nullable: false
          type: integer
        PlayerID:
          nullable: true
          type: integer
        Source:
          nullable: true
          type: string
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
        TermsOfUse:
          nullable: true
          type: string
        Title:
          nullable: true
          type: string
        Updated:
          nullable: true
          type: string
        Url:
          nullable: true
          type: string
    OpponentSeason:
      properties:
        Assists:
          nullable: true
          type: number
        BenchPenaltyMinutes:
          nullable: true
          type: number
        Blocks:
          nullable: true
          type: number
        EmptyNetGoals:
          nullable: true
          type: number
        FaceoffsLost:
          nullable: true
          type: number
        FaceoffsWon:
          nullable: true
          type: number
        FantasyPoints:
          nullable: true
          type: number
        FantasyPointsDraftKings:
          nullable: true
          type: number
        FantasyPointsFanDuel:
          nullable: true
          type: number
        FantasyPointsFantasyDraft:
          nullable: true
          type: number
        FantasyPointsYahoo:
          nullable: true
          type: number
        Games:
          nullable: true
          type: integer
        Giveaways:
          nullable: true
          type: number
        GlobalTeamID:
          nullable: true
          type: integer
        Goals:
          nullable: true
          type: number
        GoaltendingGoalsAgainst:
          nullable: true
          type: number
        GoaltendingLosses:
          nullable: true
          type: number
        GoaltendingMinutes:
          nullable: true
          type: integer
        GoaltendingOvertimeLosses:
          nullable: true
          type: number
        GoaltendingSaves:
          nullable: true
          type: number
        GoaltendingSeconds:
          nullable: true
          type: integer
        GoaltendingShotsAgainst:
          nullable: true
          type: number
        GoaltendingShutouts:
          nullable: true
          type: number
        GoaltendingWins:
          nullable: true
          type: number
        HatTricks:
          nullable: true
          type: number
        Hits:
          nullable: true
          type: number
        Losses:
          nullable: true
          type: integer
        Minutes:
          nullable: true
          type: integer
        Name:
          nullable: true
          type: string
        OpponentPosition:
          nullable: true
          type: string
        OvertimeLosses:
          nullable: true
          type: integer
        PenaltyMinutes:
          nullable: true
          type: number
        PlusMinus:
          nullable: true
          type: number
        PowerPlayAssists:
          nullable: true
          type: number
        PowerPlayGoals:
          nullable: true
          type: number
        Season:
          nullable: true
          type: integer
        SeasonType:
          nullable: true
          type: integer
        Seconds:
          nullable: true
          type: integer
        Shifts:
          nullable: true
          type: number
        ShootoutGoals:
          nullable: true
          type: number
        ShortHandedAssists:
          nullable: true
          type: number
        ShortHandedGoals:
          nullable: true
          type: number
        ShotsOnGoal:
          nullable: true
          type: number
        Started:
          nullable: true
          type: integer
        StatID:
          nullable: false
          type: integer
        Takeaways:
          nullable: true
          type: number
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
        Updated:
          nullable: true
          type: string
        Wins:
          nullable: true
          type: integer
    Penalty:
      properties:
        BenchPenaltyServedByPlayerID:
          nullable: true
          type: integer
        Description:
          nullable: true
          type: string
        DrawnByPlayerID:
          nullable: true
          type: integer
        DrawnByTeamID:
          nullable: true
          type: integer
        IsBenchPenalty:
          nullable: true
          type: boolean
        PenalizedPlayerID:
          nullable: true
          type: integer
        PenalizedTeamID:
          nullable: true
          type: integer
        PenaltyID:
          nullable: false
          type: integer
        PenaltyMinutes:
          nullable: true
          type: integer
        PeriodID:
          nullable: false
          type: integer
        Sequence:
          nullable: true
          type: integer
        TimeRemainingMinutes:
          nullable: true
          type: integer
        TimeRemainingSeconds:
          nullable: true
          type: integer
    Period:
      properties:
        AwayScore:
          nullable: true
          type: integer
        GameID:
          nullable: false
          type: integer
        HomeScore:
          nullable: true
          type: integer
        Name:
          nullable: true
          type: string
        Penalties:
          items:
            $ref: "#/components/schemas/Penalty"
          type: array
        PeriodID:
          nullable: false
          type: integer
        ScoringPlays:
          items:
            $ref: "#/components/schemas/ScoringPlay"
          type: array
    Play:
      properties:
        AwayTeamScore:
          nullable: true
          type: integer
        Category:
          nullable: true
          type: string
        ClockMinutes:
          nullable: true
          type: integer
        ClockSeconds:
          nullable: true
          type: integer
        Created:
          nullable: true
          type: string
        Description:
          nullable: true
          type: string
        FirstAssistedByPlayerID:
          nullable: true
          type: integer
        HomeTeamScore:
          nullable: true
          type: integer
        Opponent:
          nullable: true
          type: string
        OpponentID:
          nullable: true
          type: integer
        OpposingPlayerID:
          nullable: true
          type: integer
        PeriodID:
          nullable: false
          type: integer
        PeriodName:
          nullable: true
          type: string
        PlayID:
          nullable: false
          type: integer
        PlayerID:
          nullable: true
          type: integer
        PowerPlayTeam:
          nullable: true
          type: string
        PowerPlayTeamID:
          nullable: true
          type: integer
        SecondAssistedByPlayerID:
          nullable: true
          type: integer
        Sequence:
          nullable: false
          type: integer
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
        Type:
          nullable: true
          type: string
        Updated:
          nullable: true
          type: string
    Player:
      properties:
        BirthCity:
          nullable: true
          type: string
        BirthDate:
          nullable: true
          type: string
        BirthState:
          nullable: true
          type: string
        Catches:
          nullable: true
          type: string
        DepthChartOrder:
          nullable: true
          type: integer
        DepthChartPosition:
          nullable: true
          type: string
        DraftKingsName:
          nullable: true
          type: string
        DraftKingsPlayerID:
          nullable: true
          type: integer
        FanDuelName:
          nullable: true
          type: string
        FanDuelPlayerID:
          nullable: true
          type: integer
        FantasyAlarmPlayerID:
          nullable: true
          type: integer
        FantasyDraftName:
          nullable: true
          type: string
        FantasyDraftPlayerID:
          nullable: true
          type: integer
        FirstName:
          nullable: true
          type: string
        GlobalTeamID:
          nullable: true
          type: integer
        Height:
          nullable: true
          type: integer
        InjuryBodyPart:
          nullable: true
          type: string
        InjuryNotes:
          nullable: true
          type: string
        InjuryStartDate:
          nullable: true
          type: string
        InjuryStatus:
          nullable: true
          type: string
        Jersey:
          nullable: true
          type: integer
        LastName:
          nullable: true
          type: string
        PhotoUrl:
          nullable: true
          type: string
        PlayerID:
          nullable: false
          type: integer
        Position:
          nullable: true
          type: string
        RotoWirePlayerID:
          nullable: true
          type: integer
        RotoworldPlayerID:
          nullable: true
          type: integer
        Shoots:
          nullable: true
          type: string
        SportRadarPlayerID:
          nullable: true
          type: string
        SportsDirectPlayerID:
          nullable: true
          type: integer
        StatsPlayerID:
          nullable: true
          type: integer
        Status:
          nullable: true
          type: string
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
        UsaTodayHeadshotNoBackgroundUpdated:
          nullable: true
          type: string
        UsaTodayHeadshotNoBackgroundUrl:
          nullable: true
          type: string
        UsaTodayHeadshotUpdated:
          nullable: true
          type: string
        UsaTodayHeadshotUrl:
          nullable: true
          type: string
        UsaTodayPlayerID:
          nullable: true
          type: integer
        Weight:
          nullable: true
          type: integer
        XmlTeamPlayerID:
          nullable: true
          type: integer
        YahooName:
          nullable: true
          type: string
        YahooPlayerID:
          nullable: true
          type: integer
    PlayerGame:
      properties:
        Assists:
          nullable: true
          type: number
        BenchPenaltyMinutes:
          nullable: true
          type: number
        Blocks:
          nullable: true
          type: number
        DateTime:
          nullable: true
          type: string
        Day:
          nullable: true
          type: string
        DraftKingsPosition:
          nullable: true
          type: string
        DraftKingsSalary:
          nullable: true
          type: integer
        EmptyNetGoals:
          nullable: true
          type: number
        FaceoffsLost:
          nullable: true
          type: number
        FaceoffsWon:
          nullable: true
          type: number
        FanDuelPosition:
          nullable: true
          type: string
        FanDuelSalary:
          nullable: true
          type: integer
        FantasyDataSalary:
          nullable: true
          type: integer
        FantasyDraftPosition:
          nullable: true
          type: string
        FantasyDraftSalary:
          nullable: true
          type: integer
        FantasyPoints:
          nullable: true
          type: number
        FantasyPointsDraftKings:
          nullable: true
          type: number
        FantasyPointsFanDuel:
          nullable: true
          type: number
        FantasyPointsFantasyDraft:
          nullable: true
          type: number
        FantasyPointsYahoo:
          nullable: true
          type: number
        GameID:
          nullable: true
          type: integer
        Games:
          nullable: true
          type: integer
        Giveaways:
          nullable: true
          type: number
        GlobalGameID:
          nullable: true
          type: integer
        GlobalOpponentID:
          nullable: true
          type: integer
        GlobalTeamID:
          nullable: true
          type: integer
        Goals:
          nullable: true
          type: number
        GoaltendingGoalsAgainst:
          nullable: true
          type: number
        GoaltendingLosses:
          nullable: true
          type: number
        GoaltendingMinutes:
          nullable: true
          type: integer
        GoaltendingOvertimeLosses:
          nullable: true
          type: number
        GoaltendingSaves:
          nullable: true
          type: number
        GoaltendingSeconds:
          nullable: true
          type: integer
        GoaltendingShotsAgainst:
          nullable: true
          type: number
        GoaltendingShutouts:
          nullable: true
          type: number
        GoaltendingWins:
          nullable: true
          type: number
        HatTricks:
          nullable: true
          type: number
        Hits:
          nullable: true
          type: number
        HomeOrAway:
          nullable: true
          type: string
        InjuryBodyPart:
          nullable: true
          type: string
        InjuryNotes:
          nullable: true
          type: string
        InjuryStartDate:
          nullable: true
          type: string
        InjuryStatus:
          nullable: true
          type: string
        IsGameOver:
          nullable: false
          type: boolean
        Minutes:
          nullable: true
          type: integer
        Name:
          nullable: true
          type: string
        Opponent:
          nullable: true
          type: string
        OpponentID:
          nullable: true
          type: integer
        OpponentPositionRank:
          nullable: true
          type: integer
        OpponentRank:
          nullable: true
          type: integer
        PenaltyMinutes:
          nullable: true
          type: number
        PlayerID:
          nullable: true
          type: integer
        PlusMinus:
          nullable: true
          type: number
        Position:
          nullable: true
          type: string
        PowerPlayAssists:
          nullable: true
          type: number
        PowerPlayGoals:
          nullable: true
          type: number
        Season:
          nullable: true
          type: integer
        SeasonType:
          nullable: true
          type: integer
        Seconds:
          nullable: true
          type: integer
        Shifts:
          nullable: true
          type: number
        ShootoutGoals:
          nullable: true
          type: number
        ShortHandedAssists:
          nullable: true
          type: number
        ShortHandedGoals:
          nullable: true
          type: number
        ShotsOnGoal:
          nullable: true
          type: number
        Started:
          nullable: true
          type: integer
        StatID:
          nullable: false
          type: integer
        Takeaways:
          nullable: true
          type: number
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
        Updated:
          nullable: true
          type: string
        YahooPosition:
          nullable: true
          type: string
        YahooSalary:
          nullable: true
          type: integer
    PlayerLine:
      properties:
        LineNumber:
          nullable: false
          type: integer
        LineType:
          nullable: true
          type: string
        Name:
          nullable: true
          type: string
        PlayerID:
          nullable: true
          type: integer
        Position:
          nullable: true
          type: string
        Shoots:
          nullable: true
          type: string
    PlayerSeason:
      properties:
        Assists:
          nullable: true
          type: number
        BenchPenaltyMinutes:
          nullable: true
          type: number
        Blocks:
          nullable: true
          type: number
        EmptyNetGoals:
          nullable: true
          type: number
        FaceoffsLost:
          nullable: true
          type: number
        FaceoffsWon:
          nullable: true
          type: number
        FantasyPoints:
          nullable: true
          type: number
        FantasyPointsDraftKings:
          nullable: true
          type: number
        FantasyPointsFanDuel:
          nullable: true
          type: number
        FantasyPointsFantasyDraft:
          nullable: true
          type: number
        FantasyPointsYahoo:
          nullable: true
          type: number
        Games:
          nullable: true
          type: integer
        Giveaways:
          nullable: true
          type: number
        GlobalTeamID:
          nullable: true
          type: integer
        Goals:
          nullable: true
          type: number
        GoaltendingGoalsAgainst:
          nullable: true
          type: number
        GoaltendingLosses:
          nullable: true
          type: number
        GoaltendingMinutes:
          nullable: true
          type: integer
        GoaltendingOvertimeLosses:
          nullable: true
          type: number
        GoaltendingSaves:
          nullable: true
          type: number
        GoaltendingSeconds:
          nullable: true
          type: integer
        GoaltendingShotsAgainst:
          nullable: true
          type: number
        GoaltendingShutouts:
          nullable: true
          type: number
        GoaltendingWins:
          nullable: true
          type: number
        HatTricks:
          nullable: true
          type: number
        Hits:
          nullable: true
          type: number
        Minutes:
          nullable: true
          type: integer
        Name:
          nullable: true
          type: string
        PenaltyMinutes:
          nullable: true
          type: number
        PlayerID:
          nullable: true
          type: integer
        PlusMinus:
          nullable: true
          type: number
        Position:
          nullable: true
          type: string
        PowerPlayAssists:
          nullable: true
          type: number
        PowerPlayGoals:
          nullable: true
          type: number
        Season:
          nullable: true
          type: integer
        SeasonType:
          nullable: true
          type: integer
        Seconds:
          nullable: true
          type: integer
        Shifts:
          nullable: true
          type: number
        ShootoutGoals:
          nullable: true
          type: number
        ShortHandedAssists:
          nullable: true
          type: number
        ShortHandedGoals:
          nullable: true
          type: number
        ShotsOnGoal:
          nullable: true
          type: number
        Started:
          nullable: true
          type: integer
        StatID:
          nullable: false
          type: integer
        Takeaways:
          nullable: true
          type: number
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
        Updated:
          nullable: true
          type: string
    ScoringPlay:
      properties:
        AllowedByTeamID:
          nullable: true
          type: integer
        AssistedByPlayerID1:
          nullable: true
          type: integer
        AssistedByPlayerID2:
          nullable: true
          type: integer
        AwayTeamScore:
          nullable: true
          type: integer
        EmptyNet:
          nullable: true
          type: boolean
        HomeTeamScore:
          nullable: true
          type: integer
        PeriodID:
          nullable: false
          type: integer
        PowerPlay:
          nullable: true
          type: boolean
        ScoredByPlayerID:
          nullable: true
          type: integer
        ScoredByTeamID:
          nullable: true
          type: integer
        ScoringPlayID:
          nullable: false
          type: integer
        Sequence:
          nullable: true
          type: integer
        ShortHanded:
          nullable: true
          type: boolean
        TimeRemainingMinutes:
          nullable: true
          type: integer
        TimeRemainingSeconds:
          nullable: true
          type: integer
    Season:
      properties:
        ApiSeason:
          nullable: true
          type: string
        Description:
          nullable: true
          type: string
        EndYear:
          nullable: false
          type: integer
        PostSeasonStartDate:
          nullable: true
          type: string
        RegularSeasonStartDate:
          nullable: true
          type: string
        Season:
          nullable: false
          type: integer
        SeasonType:
          nullable: true
          type: string
        StartYear:
          nullable: false
          type: integer
    Series:
      properties:
        AwayTeamWins:
          nullable: false
          type: integer
        GameNumber:
          nullable: false
          type: integer
        HomeTeamWins:
          nullable: false
          type: integer
        MaxLength:
          nullable: false
          type: integer
    Stadium:
      properties:
        Active:
          nullable: false
          type: boolean
        Address:
          nullable: true
          type: string
        Capacity:
          nullable: true
          type: integer
        City:
          nullable: true
          type: string
        Country:
          nullable: true
          type: string
        GeoLat:
          nullable: true
          type: number
        GeoLong:
          nullable: true
          type: number
        Name:
          nullable: true
          type: string
        StadiumID:
          nullable: false
          type: integer
        State:
          nullable: true
          type: string
        Zip:
          nullable: true
          type: string
    Standing:
      properties:
        City:
          nullable: true
          type: string
        Conference:
          nullable: true
          type: string
        ConferenceLosses:
          nullable: true
          type: integer
        ConferenceRank:
          nullable: true
          type: integer
        ConferenceWins:
          nullable: true
          type: integer
        Division:
          nullable: true
          type: string
        DivisionLosses:
          nullable: true
          type: integer
        DivisionRank:
          nullable: true
          type: integer
        DivisionWins:
          nullable: true
          type: integer
        GlobalTeamID:
          nullable: true
          type: integer
        Key:
          nullable: true
          type: string
        Losses:
          nullable: true
          type: integer
        Name:
          nullable: true
          type: string
        OvertimeLosses:
          nullable: true
          type: integer
        Percentage:
          nullable: true
          type: number
        Season:
          nullable: false
          type: integer
        SeasonType:
          nullable: false
          type: integer
        ShutoutWins:
          nullable: true
          type: integer
        TeamID:
          nullable: false
          type: integer
        Wins:
          nullable: true
          type: integer
    Team:
      properties:
        Active:
          nullable: false
          type: boolean
        City:
          nullable: true
          type: string
        Conference:
          nullable: true
          type: string
        Division:
          nullable: true
          type: string
        GlobalTeamID:
          nullable: false
          type: integer
        Key:
          nullable: true
          type: string
        Name:
          nullable: true
          type: string
        PrimaryColor:
          nullable: true
          type: string
        QuaternaryColor:
          nullable: true
          type: string
        SecondaryColor:
          nullable: true
          type: string
        StadiumID:
          nullable: true
          type: integer
        TeamID:
          nullable: false
          type: integer
        TertiaryColor:
          nullable: true
          type: string
        WikipediaLogoUrl:
          nullable: true
          type: string
        WikipediaWordMarkUrl:
          nullable: true
          type: string
    TeamGame:
      properties:
        Assists:
          nullable: true
          type: number
        BenchPenaltyMinutes:
          nullable: true
          type: number
        Blocks:
          nullable: true
          type: number
        DateTime:
          nullable: true
          type: string
        Day:
          nullable: true
          type: string
        EmptyNetGoals:
          nullable: true
          type: number
        FaceoffsLost:
          nullable: true
          type: number
        FaceoffsWon:
          nullable: true
          type: number
        FantasyPoints:
          nullable: true
          type: number
        FantasyPointsDraftKings:
          nullable: true
          type: number
        FantasyPointsFanDuel:
          nullable: true
          type: number
        FantasyPointsFantasyDraft:
          nullable: true
          type: number
        FantasyPointsYahoo:
          nullable: true
          type: number
        GameID:
          nullable: true
          type: integer
        Games:
          nullable: true
          type: integer
        Giveaways:
          nullable: true
          type: number
        GlobalGameID:
          nullable: true
          type: integer
        GlobalOpponentID:
          nullable: true
          type: integer
        GlobalTeamID:
          nullable: true
          type: integer
        Goals:
          nullable: true
          type: number
        GoaltendingGoalsAgainst:
          nullable: true
          type: number
        GoaltendingLosses:
          nullable: true
          type: number
        GoaltendingMinutes:
          nullable: true
          type: integer
        GoaltendingOvertimeLosses:
          nullable: true
          type: number
        GoaltendingSaves:
          nullable: true
          type: number
        GoaltendingSeconds:
          nullable: true
          type: integer
        GoaltendingShotsAgainst:
          nullable: true
          type: number
        GoaltendingShutouts:
          nullable: true
          type: number
        GoaltendingWins:
          nullable: true
          type: number
        HatTricks:
          nullable: true
          type: number
        Hits:
          nullable: true
          type: number
        HomeOrAway:
          nullable: true
          type: string
        IsGameOver:
          nullable: false
          type: boolean
        Losses:
          nullable: true
          type: integer
        Minutes:
          nullable: true
          type: integer
        Name:
          nullable: true
          type: string
        Opponent:
          nullable: true
          type: string
        OpponentID:
          nullable: true
          type: integer
        OvertimeLosses:
          nullable: true
          type: integer
        PenaltyMinutes:
          nullable: true
          type: number
        PlusMinus:
          nullable: true
          type: number
        PowerPlayAssists:
          nullable: true
          type: number
        PowerPlayGoals:
          nullable: true
          type: number
        Season:
          nullable: true
          type: integer
        SeasonType:
          nullable: true
          type: integer
        Seconds:
          nullable: true
          type: integer
        Shifts:
          nullable: true
          type: number
        ShootoutGoals:
          nullable: true
          type: number
        ShortHandedAssists:
          nullable: true
          type: number
        ShortHandedGoals:
          nullable: true
          type: number
        ShotsOnGoal:
          nullable: true
          type: number
        Started:
          nullable: true
          type: integer
        StatID:
          nullable: false
          type: integer
        Takeaways:
          nullable: true
          type: number
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
        Updated:
          nullable: true
          type: string
        Wins:
          nullable: true
          type: integer
    TeamLine:
      properties:
        EvenStrengthLines:
          items:
            $ref: "#/components/schemas/PlayerLine"
          type: array
        FullName:
          nullable: true
          type: string
        Key:
          nullable: true
          type: string
        PowerPlayLines:
          items:
            $ref: "#/components/schemas/PlayerLine"
          type: array
        TeamID:
          nullable: false
          type: integer
    TeamSeason:
      properties:
        Assists:
          nullable: true
          type: number
        BenchPenaltyMinutes:
          nullable: true
          type: number
        Blocks:
          nullable: true
          type: number
        EmptyNetGoals:
          nullable: true
          type: number
        FaceoffsLost:
          nullable: true
          type: number
        FaceoffsWon:
          nullable: true
          type: number
        FantasyPoints:
          nullable: true
          type: number
        FantasyPointsDraftKings:
          nullable: true
          type: number
        FantasyPointsFanDuel:
          nullable: true
          type: number
        FantasyPointsFantasyDraft:
          nullable: true
          type: number
        FantasyPointsYahoo:
          nullable: true
          type: number
        Games:
          nullable: true
          type: integer
        Giveaways:
          nullable: true
          type: number
        GlobalTeamID:
          nullable: true
          type: integer
        Goals:
          nullable: true
          type: number
        GoaltendingGoalsAgainst:
          nullable: true
          type: number
        GoaltendingLosses:
          nullable: true
          type: number
        GoaltendingMinutes:
          nullable: true
          type: integer
        GoaltendingOvertimeLosses:
          nullable: true
          type: number
        GoaltendingSaves:
          nullable: true
          type: number
        GoaltendingSeconds:
          nullable: true
          type: integer
        GoaltendingShotsAgainst:
          nullable: true
          type: number
        GoaltendingShutouts:
          nullable: true
          type: number
        GoaltendingWins:
          nullable: true
          type: number
        HatTricks:
          nullable: true
          type: number
        Hits:
          nullable: true
          type: number
        Losses:
          nullable: true
          type: integer
        Minutes:
          nullable: true
          type: integer
        Name:
          nullable: true
          type: string
        OpponentPosition:
          nullable: true
          type: string
        OpponentStat:
          $ref: "#/components/schemas/OpponentSeason"
        OvertimeLosses:
          nullable: true
          type: integer
        PenaltyMinutes:
          nullable: true
          type: number
        PlusMinus:
          nullable: true
          type: number
        PowerPlayAssists:
          nullable: true
          type: number
        PowerPlayGoals:
          nullable: true
          type: number
        Season:
          nullable: true
          type: integer
        SeasonType:
          nullable: true
          type: integer
        Seconds:
          nullable: true
          type: integer
        Shifts:
          nullable: true
          type: number
        ShootoutGoals:
          nullable: true
          type: number
        ShortHandedAssists:
          nullable: true
          type: number
        ShortHandedGoals:
          nullable: true
          type: number
        ShotsOnGoal:
          nullable: true
          type: number
        Started:
          nullable: true
          type: integer
        StatID:
          nullable: false
          type: integer
        Takeaways:
          nullable: true
          type: number
        Team:
          nullable: true
          type: string
        TeamID:
          nullable: true
          type: integer
        Updated:
          nullable: true
          type: string
        Wins:
          nullable: true
          type: integer
  securitySchemes:
    apiKeyHeader:
      in: header
      name: Ocp-Apim-Subscription-Key
      type: apiKey
    apiKeyQuery:
      in: query
      name: key
      type: apiKey
