swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  description: The Azure SQL Database management API provides a RESTful set of web services that interact with Azure SQL Database services to manage your external server administrators.
  title: Azure SQL Database API spec
  version: '2014-04-01'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/serverAzureADAdministrators.json'
      version: '2.0'
  x-providerName: azure.com
  x-serviceName: sql-serverAzureADAdministrators
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
parameters:
  AdministratorNameParameter:
    description: Name of the server administrator resource.
    enum:
      - activeDirectory
    in: path
    name: administratorName
    required: true
    type: string
    x-ms-enum:
      name: ServerAdministratorName
    x-ms-parameter-location: method
  DatabaseExpandParameter:
    description: 'A comma separated list of child objects to expand in the response. Possible properties: serviceTierAdvisors, transparentDataEncryption.'
    in: query
    name: $expand
    required: false
    type: string
    x-ms-parameter-location: method
  ServerNameParameter:
    description: The name of the server.
    in: path
    name: serverName
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/administrators':
    get:
      description: Returns a list of server Administrators.
      operationId: ServerAzureADAdministrators_ListByServer
      parameters:
        - description: The API version to use for the request.
          in: query
          name: api-version
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The subscription ID that identifies an Azure subscription.
          in: path
          name: subscriptionId
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/ServerNameParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ServerAdministratorListResult'
      tags:
        - ServerAdministrators
      x-ms-examples:
        get a list of server administrators:
          parameters:
            api-version: '2014-04-01'
            resourceGroupName: sqlcrudtest-4799
            serverName: sqlcrudtest-6440
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            '200':
              body:
                value:
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/providers/Microsoft.Sql/administrators/ActiveDirectory
                    name: ActiveDirectory
                    properties:
                      administratorType: ActiveDirectory
                      login: DSEngAll
                      sid: 5e90ef3b-9b42-4777-819b-25c36961ea4d
                      tenantId: 72f988bf-86f1-41af-91ab-2d7cd011db47
      x-ms-pageable:
        nextLinkName: null
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/administrators/{administratorName}':
    delete:
      description: Deletes an existing server Active Directory Administrator.
      operationId: ServerAzureADAdministrators_Delete
      parameters:
        - description: The API version to use for the request.
          in: query
          name: api-version
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The subscription ID that identifies an Azure subscription.
          in: path
          name: subscriptionId
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/ServerNameParameter'
        - $ref: '#/parameters/AdministratorNameParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ServerAzureADAdministrator'
        '202':
          description: Accepted
          schema:
            $ref: '#/definitions/ServerAzureADAdministrator'
        '204':
          description: No Content
          schema:
            $ref: '#/definitions/ServerAzureADAdministrator'
      tags:
        - ServerAdministrators
      x-ms-examples:
        Delete a server administrator:
          parameters:
            administratorName: activeDirectory
            api-version: '2014-04-01'
            resourceGroupName: sqlcrudtest-4799
            serverName: sqlcrudtest-6440
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            '200':
              body: OK
            '202':
              body: Accepted
            '204':
              body: No Content
      x-ms-long-running-operation: true
    get:
      description: Returns an server Administrator.
      operationId: ServerAzureADAdministrators_Get
      parameters:
        - description: The API version to use for the request.
          in: query
          name: api-version
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The subscription ID that identifies an Azure subscription.
          in: path
          name: subscriptionId
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/ServerNameParameter'
        - $ref: '#/parameters/AdministratorNameParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ServerAzureADAdministrator'
      tags:
        - ServerAdministrators
      x-ms-examples:
        Get the Active Directory Administrator:
          parameters:
            administratorName: activeDirectory
            api-version: '2014-04-01'
            resourceGroupName: sqlcrudtest-4799
            serverName: sqlcrudtest-6440
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            '200':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/administrators/activeDirectory
                name: activeDirectory
                properties:
                  administratorType: ActiveDirectory
                  login: bob@contoso.com
                  sid: c6b82b90-a647-49cb-8a62-0d2d3cb7ac7c
                  tenantId: c6b82b90-a647-49cb-8a62-0d2d3cb7ac7c
    put:
      description: Creates a new Server Active Directory Administrator or updates an existing server Active Directory Administrator.
      operationId: ServerAzureADAdministrators_CreateOrUpdate
      parameters:
        - description: The API version to use for the request.
          in: query
          name: api-version
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The subscription ID that identifies an Azure subscription.
          in: path
          name: subscriptionId
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/ServerNameParameter'
        - $ref: '#/parameters/AdministratorNameParameter'
        - description: The required parameters for creating or updating an Active Directory Administrator.
          in: body
          name: properties
          required: true
          schema:
            $ref: '#/definitions/ServerAzureADAdministrator'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ServerAzureADAdministrator'
        '201':
          description: Created
          schema:
            $ref: '#/definitions/ServerAzureADAdministrator'
        '202':
          description: Accepted
          schema:
            $ref: '#/definitions/ServerAzureADAdministrator'
      tags:
        - ServerAdministrators
      x-ms-examples:
        Create/Update a server administrator:
          parameters:
            administratorName: activeDirectory
            api-version: '2014-04-01'
            properties:
              id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/administrators/activeDirectory
              name: activeDirectory
              properties:
                administratorType: ActiveDirectory
                login: bob@contoso.com
                sid: c6b82b90-a647-49cb-8a62-0d2d3cb7ac7c
                tenantId: c6b82b90-a647-49cb-8a62-0d2d3cb7ac7c
            resourceGroupName: sqlcrudtest-4799
            serverName: sqlcrudtest-6440
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            '200':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/administrators/activeDirectory
                name: activeDirectory
                properties:
                  administratorType: ActiveDirectory
                  login: bob@contoso.com
                  sid: c6b82b90-a647-49cb-8a62-0d2d3cb7ac7c
                  tenantId: c6b82b90-a647-49cb-8a62-0d2d3cb7ac7c
            '201':
              body: Created
            '202':
              body: Accepted
      x-ms-long-running-operation: true
definitions:
  ServerAdministratorListResult:
    description: The response to a list Active Directory Administrators request.
    properties:
      value:
        description: The list of server Active Directory Administrators for the server.
        items:
          $ref: '#/definitions/ServerAzureADAdministrator'
        type: array
  ServerAdministratorProperties:
    description: The properties of an server Administrator.
    properties:
      administratorType:
        description: The type of administrator.
        enum:
          - ActiveDirectory
        type: string
        x-ms-enum:
          name: AdministratorType
      login:
        description: The server administrator login value.
        type: string
      sid:
        description: The server administrator Sid (Secure ID).
        format: uuid
        type: string
      tenantId:
        description: The server Active Directory Administrator tenant id.
        format: uuid
        type: string
    required:
      - tenantId
      - administratorType
      - login
      - sid
  ServerAzureADAdministrator:
    allOf:
      - allOf:
          - description: ARM resource.
            properties:
              id:
                description: Resource ID.
                readOnly: true
                type: string
              name:
                description: Resource name.
                readOnly: true
                type: string
              type:
                description: Resource type.
                readOnly: true
                type: string
            type: object
            x-ms-azure-resource: true
        description: ARM proxy resource.
        properties: {}
        type: object
    description: An server Active Directory Administrator.
    properties:
      properties:
        $ref: '#/definitions/ServerAdministratorProperties'
        description: The properties of the resource.
        x-ms-client-flatten: true
