openapi: 3.0.0
servers:
  - url: https://admin.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Admin SDK API
  version: datatransfer_v1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png
  x-origin:
    - format: google
      url: https://admin.googleapis.com/$discovery/rest?version=datatransfer_v1
      version: v1
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: admin
externalDocs:
  url: https://developers.google.com/admin-sdk/
tags:
  - name: applications
  - name: transfers
paths:
  /admin/datatransfer/v1/applications:
    get:
      description: Lists the applications available for data transfer for a customer.
      operationId: datatransfer.applications.list
      parameters:
        - description: Immutable ID of the Google Workspace account.
          in: query
          name: customerId
          schema:
            type: string
        - description: Maximum number of results to return. Default is 100.
          in: query
          name: maxResults
          schema:
            maximum: 500
            minimum: 1
            type: integer
        - description: Token to specify next page in the list.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationsListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.datatransfer
          Oauth2c:
            - https://www.googleapis.com/auth/admin.datatransfer
        - Oauth2:
            - https://www.googleapis.com/auth/admin.datatransfer.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/admin.datatransfer.readonly
      tags:
        - applications
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/admin/datatransfer/v1/applications/{applicationId}":
    get:
      description: Retrieves information about an application for the given application ID.
      operationId: datatransfer.applications.get
      parameters:
        - description: ID of the application resource to be retrieved.
          in: path
          name: applicationId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Application"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.datatransfer
          Oauth2c:
            - https://www.googleapis.com/auth/admin.datatransfer
        - Oauth2:
            - https://www.googleapis.com/auth/admin.datatransfer.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/admin.datatransfer.readonly
      tags:
        - applications
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /admin/datatransfer/v1/transfers:
    get:
      description: Lists the transfers for a customer by source user, destination user, or status.
      operationId: datatransfer.transfers.list
      parameters:
        - description: Immutable ID of the Google Workspace account.
          in: query
          name: customerId
          schema:
            type: string
        - description: Maximum number of results to return. Default is 100.
          in: query
          name: maxResults
          schema:
            maximum: 500
            minimum: 1
            type: integer
        - description: Destination user's profile ID.
          in: query
          name: newOwnerUserId
          schema:
            type: string
        - description: Source user's profile ID.
          in: query
          name: oldOwnerUserId
          schema:
            type: string
        - description: Token to specify the next page in the list.
          in: query
          name: pageToken
          schema:
            type: string
        - description: Status of the transfer.
          in: query
          name: status
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DataTransfersListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.datatransfer
          Oauth2c:
            - https://www.googleapis.com/auth/admin.datatransfer
        - Oauth2:
            - https://www.googleapis.com/auth/admin.datatransfer.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/admin.datatransfer.readonly
      tags:
        - transfers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Inserts a data transfer request. See the [Transfer parameters](/admin-sdk/data-transfer/v1/parameters) reference for specific application requirements.
      operationId: datatransfer.transfers.insert
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DataTransfer"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DataTransfer"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.datatransfer
          Oauth2c:
            - https://www.googleapis.com/auth/admin.datatransfer
      tags:
        - transfers
  "/admin/datatransfer/v1/transfers/{dataTransferId}":
    get:
      description: Retrieves a data transfer request by its resource ID.
      operationId: datatransfer.transfers.get
      parameters:
        - description: ID of the resource to be retrieved. This is returned in the response from the insert method.
          in: path
          name: dataTransferId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DataTransfer"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/admin.datatransfer
          Oauth2c:
            - https://www.googleapis.com/auth/admin.datatransfer
        - Oauth2:
            - https://www.googleapis.com/auth/admin.datatransfer.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/admin.datatransfer.readonly
      tags:
        - transfers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    Application:
      description: Application resources represent applications installed on the domain that support transferring ownership of user data.
      properties:
        etag:
          description: Etag of the resource.
          type: string
        id:
          description: The application's ID. Retrievable by using the [`applications.list()`](/admin-sdk/data-transfer/reference/rest/v1/applications/list) method.
          format: int64
          type: string
        kind:
          default: admin#datatransfer#ApplicationResource
          description: Identifies the resource as a DataTransfer Application Resource.
          type: string
        name:
          description: The application's name.
          type: string
        transferParams:
          description: The list of all possible transfer parameters for this application. These parameters select which categories of the user's data to transfer.
          items:
            $ref: "#/components/schemas/ApplicationTransferParam"
          type: array
      type: object
    ApplicationDataTransfer:
      description: Template to map fields of ApplicationDataTransfer resource.
      properties:
        applicationId:
          description: The application's ID.
          format: int64
          type: string
        applicationTransferParams:
          description: The transfer parameters for the application. These parameters are used to select the data which will get transferred in context of this application. For more information about the specific values available for each application, see the [Transfer parameters](/admin-sdk/data-transfer/v1/parameters) reference.
          items:
            $ref: "#/components/schemas/ApplicationTransferParam"
          type: array
        applicationTransferStatus:
          description: Read-only. Current status of transfer for this application.
          type: string
      type: object
    ApplicationTransferParam:
      description: Template for application transfer parameters.
      properties:
        key:
          description: The type of the transfer parameter, such as `PRIVACY_LEVEL`.
          type: string
        value:
          description: The value of the transfer parameter, such as `PRIVATE` or `SHARED`.
          items:
            type: string
          type: array
      type: object
    ApplicationsListResponse:
      description: Template for a collection of Applications.
      properties:
        applications:
          description: The list of applications that support data transfer and are also installed for the customer.
          items:
            $ref: "#/components/schemas/Application"
          type: array
        etag:
          description: ETag of the resource.
          type: string
        kind:
          default: admin#datatransfer#applicationsList
          description: Identifies the resource as a collection of Applications.
          type: string
        nextPageToken:
          description: Token to specify the next page in the list.
          type: string
      type: object
    DataTransfer:
      description: A Transfer resource represents the transfer of the ownership of user data between users.
      properties:
        applicationDataTransfers:
          description: The list of per-application data transfer resources. It contains details of the applications associated with this transfer resource, and also specifies the applications for which data transfer has to be done at the time of the transfer resource creation.
          items:
            $ref: "#/components/schemas/ApplicationDataTransfer"
          type: array
        etag:
          description: ETag of the resource.
          type: string
        id:
          description: Read-only. The transfer's ID.
          type: string
        kind:
          default: admin#datatransfer#DataTransfer
          description: Identifies the resource as a DataTransfer request.
          type: string
        newOwnerUserId:
          description: ID of the user to whom the data is being transferred.
          type: string
        oldOwnerUserId:
          description: ID of the user whose data is being transferred.
          type: string
        overallTransferStatusCode:
          description: Read-only. Overall transfer status.
          type: string
        requestTime:
          description: Read-only. The time at which the data transfer was requested.
          format: date-time
          type: string
      type: object
    DataTransfersListResponse:
      description: Template for a collection of DataTransfer resources.
      properties:
        dataTransfers:
          description: List of data transfer requests.
          items:
            $ref: "#/components/schemas/DataTransfer"
          type: array
        etag:
          description: ETag of the resource.
          type: string
        kind:
          default: admin#datatransfer#dataTransfersList
          description: Identifies the resource as a collection of data transfer requests.
          type: string
        nextPageToken:
          description: Token to specify the next page in the list.
          type: string
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/admin.datatransfer: View and manage data transfers between users in your organization
            https://www.googleapis.com/auth/admin.datatransfer.readonly: View data transfers between users in your organization
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/admin.datatransfer: View and manage data transfers between users in your organization
            https://www.googleapis.com/auth/admin.datatransfer.readonly: View data transfers between users in your organization
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
