swagger: '2.0'
schemes:
  - https
  - http
host: appmesh.amazonaws.com
basePath: /
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: |-
    <p>AWS App Mesh is a service mesh based on the Envoy proxy that makes it easy to monitor and
             control microservices. App Mesh standardizes how your microservices communicate, giving you
             end-to-end visibility and helping to ensure high availability for your applications.</p>
             <p>App Mesh gives you consistent visibility and network traffic controls for every
             microservice in an application. You can use App Mesh with AWS Fargate, Amazon ECS, Amazon EKS,
             Kubernetes on AWS, and Amazon EC2.</p>
             <note>
                <p>App Mesh supports microservice applications that use service discovery naming for their
                components. For more information about service discovery on Amazon ECS, see <a href="http://docs.aws.amazon.com/AmazonECS/latest/developerguide/service-discovery.html">Service Discovery</a> in the
                   <i>Amazon Elastic Container Service Developer Guide</i>. Kubernetes <code>kube-dns</code> and
                   <code>coredns</code> are supported. For more information, see <a href="https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/">DNS
                   for Services and Pods</a> in the Kubernetes documentation.</p>
             </note>
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: AWS App Mesh
  version: '2019-01-25'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/appmesh-2019-01-25.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: appmesh
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/appmesh/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  /v20190125/meshes:
    get:
      description: Returns a list of existing service meshes.
      operationId: ListMeshes
      parameters:
        - description: |-
            The maximum number of results returned by <code>ListMeshes</code> in paginated output.
                     When you use this parameter, <code>ListMeshes</code> returns only <code>limit</code>
                     results in a single page along with a <code>nextToken</code> response element. You can see
                     the remaining results of the initial request by sending another <code>ListMeshes</code>
                     request with the returned <code>nextToken</code> value. This value can be between
                     1 and 100. If you don't use this parameter,
                        <code>ListMeshes</code> returns up to 100 results and a
                        <code>nextToken</code> value if applicable.
          in: query
          maximum: 100
          minimum: 1
          name: limit
          required: false
          type: integer
        - description: |-
            <p>The <code>nextToken</code> value returned from a previous paginated
                        <code>ListMeshes</code> request where <code>limit</code> was used and the results
                     exceeded the value of that parameter. Pagination continues from the end of the previous
                     results that returned the <code>nextToken</code> value.</p> 
                     <note>
                        <p>This token should be treated as an opaque identifier that is used only to
                            retrieve the next items in a list and not for other programmatic purposes.</p>
                    </note>
          in: query
          name: nextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListMeshesOutput'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '482':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: |-
        <p>Creates a service mesh. A service mesh is a logical boundary for network traffic between
                 the services that reside within it.</p>
                 <p>After you create your service mesh, you can create virtual services, virtual nodes,
                 virtual routers, and routes to distribute traffic between the applications in your
                 mesh.</p>
      operationId: CreateMesh
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              clientToken:
                description: |-
                  Unique, case-sensitive identifier that you provide to ensure the idempotency of the
                  request. Up to 36 letters, numbers, hyphens, and underscores are allowed.
                type: string
              meshName:
                description: The name to use for the service mesh.
                maxLength: 255
                minLength: 1
                type: string
              spec:
                description: An object representing the specification of a service mesh.
                properties:
                  egressFilter:
                    $ref: '#/definitions/EgressFilter'
                    description: The egress filter rules for the service mesh.
                type: object
              tags:
                description: |-
                  Optional metadata that you can apply to the service mesh to assist with categorization
                           and organization. Each tag consists of a key and an optional value, both of which you
                           define. Tag keys can have a maximum character length of 128 characters, and tag values can have
                              a maximum length of 256 characters.
                items:
                  $ref: '#/definitions/TagRef'
                maxItems: 50
                minItems: 0
                type: array
            required:
              - meshName
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateMeshOutput'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '486':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '487':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  '/v20190125/meshes/{meshName}':
    delete:
      description: |-
        <p>Deletes an existing service mesh.</p>
                 <p>You must delete all resources (virtual services, routes, virtual routers, and virtual
                 nodes) in the service mesh before you can delete the mesh itself.</p>
      operationId: DeleteMesh
      parameters:
        - description: The name of the service mesh to delete.
          in: path
          maxLength: 255
          minLength: 1
          name: meshName
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteMeshOutput'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '482':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    get:
      description: Describes an existing service mesh.
      operationId: DescribeMesh
      parameters:
        - description: The name of the service mesh to describe.
          in: path
          maxLength: 255
          minLength: 1
          name: meshName
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeMeshOutput'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '482':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates an existing service mesh.
      operationId: UpdateMesh
      parameters:
        - description: The name of the service mesh to update.
          in: path
          maxLength: 255
          minLength: 1
          name: meshName
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              clientToken:
                description: |-
                  Unique, case-sensitive identifier that you provide to ensure the idempotency of the
                  request. Up to 36 letters, numbers, hyphens, and underscores are allowed.
                type: string
              spec:
                description: An object representing the specification of a service mesh.
                properties:
                  egressFilter:
                    $ref: '#/definitions/EgressFilter'
                    description: The egress filter rules for the service mesh.
                type: object
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateMeshOutput'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '484':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  '/v20190125/meshes/{meshName}/virtualNodes':
    get:
      description: Returns a list of existing virtual nodes.
      operationId: ListVirtualNodes
      parameters:
        - description: |-
            The maximum number of results returned by <code>ListVirtualNodes</code> in paginated
                     output. When you use this parameter, <code>ListVirtualNodes</code> returns only
                        <code>limit</code> results in a single page along with a <code>nextToken</code> response
                     element. You can see the remaining results of the initial request by sending another
                        <code>ListVirtualNodes</code> request with the returned <code>nextToken</code> value.
                     This value can be between 1 and 100. If you don't use this
                     parameter, <code>ListVirtualNodes</code> returns up to 100 results and a
                        <code>nextToken</code> value if applicable.
          in: query
          maximum: 100
          minimum: 1
          name: limit
          required: false
          type: integer
        - description: The name of the service mesh to list virtual nodes in.
          in: path
          maxLength: 255
          minLength: 1
          name: meshName
          required: true
          type: string
        - description: |-
            The <code>nextToken</code> value returned from a previous paginated
                        <code>ListVirtualNodes</code> request where <code>limit</code> was used and the results
                     exceeded the value of that parameter. Pagination continues from the end of the previous
                     results that returned the <code>nextToken</code> value.
          in: query
          name: nextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListVirtualNodesOutput'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '482':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: |-
        <p>Creates a virtual node within a service mesh.</p>
                 <p>A virtual node acts as a logical pointer to a particular task group, such as an Amazon ECS
                 service or a Kubernetes deployment. When you create a virtual node, you can specify the
                 service discovery information for your task group.</p>
                 <p>Any inbound traffic that your virtual node expects should be specified as a
                    <code>listener</code>. Any outbound traffic that your virtual node expects to reach
                 should be specified as a <code>backend</code>.</p>
                 <p>The response metadata for your new virtual node contains the <code>arn</code> that is
                 associated with the virtual node. Set this value (either the full ARN or the truncated
                 resource name: for example, <code>mesh/default/virtualNode/simpleapp</code>) as the
                    <code>APPMESH_VIRTUAL_NODE_NAME</code> environment variable for your task group's Envoy
                 proxy container in your task definition or pod spec. This is then mapped to the
                    <code>node.id</code> and <code>node.cluster</code> Envoy parameters.</p>
                 <note>
                    <p>If you require your Envoy stats or tracing to use a different name, you can override
                    the <code>node.cluster</code> value that is set by
                       <code>APPMESH_VIRTUAL_NODE_NAME</code> with the
                       <code>APPMESH_VIRTUAL_NODE_CLUSTER</code> environment variable.</p>
                 </note>
      operationId: CreateVirtualNode
      parameters:
        - description: The name of the service mesh to create the virtual node in.
          in: path
          maxLength: 255
          minLength: 1
          name: meshName
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              clientToken:
                description: |-
                  Unique, case-sensitive identifier that you provide to ensure the idempotency of the
                  request. Up to 36 letters, numbers, hyphens, and underscores are allowed.
                type: string
              spec:
                description: An object representing the specification of a virtual node.
                properties:
                  backends:
                    $ref: '#/definitions/Backends'
                    description: The backends that the virtual node is expected to send outbound traffic to.
                  listeners:
                    $ref: '#/definitions/Listeners'
                    description: |-
                      The listeners that the virtual node is expected to receive inbound traffic from.
                               Currently only one listener is supported per virtual node.
                  logging:
                    $ref: '#/definitions/Logging'
                    description: The inbound and outbound access logging information for the virtual node.
                  serviceDiscovery:
                    $ref: '#/definitions/ServiceDiscovery'
                    description: |-
                      The service discovery information for the virtual node. If your virtual node does not
                               expect ingress traffic, you can omit this parameter.
                type: object
              tags:
                description: |-
                  Optional metadata that you can apply to the virtual node to assist with categorization
                           and organization. Each tag consists of a key and an optional value, both of which you
                           define. Tag keys can have a maximum character length of 128 characters, and tag values can have
                              a maximum length of 256 characters.
                items:
                  $ref: '#/definitions/TagRef'
                maxItems: 50
                minItems: 0
                type: array
              virtualNodeName:
                description: The name to use for the virtual node.
                maxLength: 255
                minLength: 1
                type: string
            required:
              - spec
              - virtualNodeName
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateVirtualNodeOutput'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '486':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '487':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  '/v20190125/meshes/{meshName}/virtualNodes/{virtualNodeName}':
    delete:
      description: |-
        <p>Deletes an existing virtual node.</p>
                 <p>You must delete any virtual services that list a virtual node as a service provider
                 before you can delete the virtual node itself.</p>
      operationId: DeleteVirtualNode
      parameters:
        - description: The name of the service mesh to delete the virtual node in.
          in: path
          maxLength: 255
          minLength: 1
          name: meshName
          required: true
          type: string
        - description: The name of the virtual node to delete.
          in: path
          maxLength: 255
          minLength: 1
          name: virtualNodeName
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteVirtualNodeOutput'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '482':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    get:
      description: Describes an existing virtual node.
      operationId: DescribeVirtualNode
      parameters:
        - description: The name of the service mesh that the virtual node resides in.
          in: path
          maxLength: 255
          minLength: 1
          name: meshName
          required: true
          type: string
        - description: The name of the virtual node to describe.
          in: path
          maxLength: 255
          minLength: 1
          name: virtualNodeName
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeVirtualNodeOutput'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '482':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates an existing virtual node in a specified service mesh.
      operationId: UpdateVirtualNode
      parameters:
        - description: The name of the service mesh that the virtual node resides in.
          in: path
          maxLength: 255
          minLength: 1
          name: meshName
          required: true
          type: string
        - description: The name of the virtual node to update.
          in: path
          maxLength: 255
          minLength: 1
          name: virtualNodeName
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              clientToken:
                description: |-
                  Unique, case-sensitive identifier that you provide to ensure the idempotency of the
                  request. Up to 36 letters, numbers, hyphens, and underscores are allowed.
                type: string
              spec:
                description: An object representing the specification of a virtual node.
                properties:
                  backends:
                    $ref: '#/definitions/Backends'
                    description: The backends that the virtual node is expected to send outbound traffic to.
                  listeners:
                    $ref: '#/definitions/Listeners'
                    description: |-
                      The listeners that the virtual node is expected to receive inbound traffic from.
                               Currently only one listener is supported per virtual node.
                  logging:
                    $ref: '#/definitions/Logging'
                    description: The inbound and outbound access logging information for the virtual node.
                  serviceDiscovery:
                    $ref: '#/definitions/ServiceDiscovery'
                    description: |-
                      The service discovery information for the virtual node. If your virtual node does not
                               expect ingress traffic, you can omit this parameter.
                type: object
            required:
              - spec
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateVirtualNodeOutput'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '486':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '487':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  '/v20190125/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes':
    get:
      description: Returns a list of existing routes in a service mesh.
      operationId: ListRoutes
      parameters:
        - description: |-
            The maximum number of results returned by <code>ListRoutes</code> in paginated output.
                     When you use this parameter, <code>ListRoutes</code> returns only <code>limit</code>
                     results in a single page along with a <code>nextToken</code> response element. You can see
                     the remaining results of the initial request by sending another <code>ListRoutes</code>
                     request with the returned <code>nextToken</code> value. This value can be between
                     1 and 100. If you don't use this parameter,
                        <code>ListRoutes</code> returns up to 100 results and a
                        <code>nextToken</code> value if applicable.
          in: query
          maximum: 100
          minimum: 1
          name: limit
          required: false
          type: integer
        - description: The name of the service mesh to list routes in.
          in: path
          maxLength: 255
          minLength: 1
          name: meshName
          required: true
          type: string
        - description: |-
            The <code>nextToken</code> value returned from a previous paginated
                        <code>ListRoutes</code> request where <code>limit</code> was used and the results
                     exceeded the value of that parameter. Pagination continues from the end of the previous
                     results that returned the <code>nextToken</code> value.
          in: query
          name: nextToken
          required: false
          type: string
        - description: The name of the virtual router to list routes in.
          in: path
          maxLength: 255
          minLength: 1
          name: virtualRouterName
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListRoutesOutput'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '482':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: |-
        <p>Creates a route that is associated with a virtual router.</p>
                 <p>You can use the <code>prefix</code> parameter in your route specification for path-based
                 routing of requests. For example, if your virtual service name is
                    <code>my-service.local</code> and you want the route to match requests to
                    <code>my-service.local/metrics</code>, your prefix should be
                 <code>/metrics</code>.</p>
                 <p>If your route matches a request, you can distribute traffic to one or more target
                 virtual nodes with relative weighting.</p>
      operationId: CreateRoute
      parameters:
        - description: The name of the service mesh to create the route in.
          in: path
          maxLength: 255
          minLength: 1
          name: meshName
          required: true
          type: string
        - description: The name of the virtual router in which to create the route.
          in: path
          maxLength: 255
          minLength: 1
          name: virtualRouterName
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              clientToken:
                description: |-
                  Unique, case-sensitive identifier that you provide to ensure the idempotency of the
                  request. Up to 36 letters, numbers, hyphens, and underscores are allowed.
                type: string
              routeName:
                description: The name to use for the route.
                maxLength: 255
                minLength: 1
                type: string
              spec:
                description: An object representing the specification of a route.
                properties:
                  httpRoute:
                    $ref: '#/definitions/HttpRoute'
                    description: The HTTP routing information for the route.
                  priority:
                    $ref: '#/definitions/RoutePriority'
                    description: 'The priority for the route. Routes are matched based on the specified value, where 0 is the highest priority.'
                  tcpRoute:
                    $ref: '#/definitions/TcpRoute'
                    description: The TCP routing information for the route.
                type: object
              tags:
                description: |-
                  Optional metadata that you can apply to the route to assist with categorization and
                           organization. Each tag consists of a key and an optional value, both of which you define.
                           Tag keys can have a maximum character length of 128 characters, and tag values can have
                              a maximum length of 256 characters.
                items:
                  $ref: '#/definitions/TagRef'
                maxItems: 50
                minItems: 0
                type: array
            required:
              - routeName
              - spec
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateRouteOutput'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '486':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '487':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  '/v20190125/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes/{routeName}':
    delete:
      description: Deletes an existing route.
      operationId: DeleteRoute
      parameters:
        - description: The name of the service mesh to delete the route in.
          in: path
          maxLength: 255
          minLength: 1
          name: meshName
          required: true
          type: string
        - description: The name of the route to delete.
          in: path
          maxLength: 255
          minLength: 1
          name: routeName
          required: true
          type: string
        - description: The name of the virtual router to delete the route in.
          in: path
          maxLength: 255
          minLength: 1
          name: virtualRouterName
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteRouteOutput'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '482':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    get:
      description: Describes an existing route.
      operationId: DescribeRoute
      parameters:
        - description: The name of the service mesh that the route resides in.
          in: path
          maxLength: 255
          minLength: 1
          name: meshName
          required: true
          type: string
        - description: The name of the route to describe.
          in: path
          maxLength: 255
          minLength: 1
          name: routeName
          required: true
          type: string
        - description: The name of the virtual router that the route is associated with.
          in: path
          maxLength: 255
          minLength: 1
          name: virtualRouterName
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeRouteOutput'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '482':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates an existing route for a specified service mesh and virtual router.
      operationId: UpdateRoute
      parameters:
        - description: The name of the service mesh that the route resides in.
          in: path
          maxLength: 255
          minLength: 1
          name: meshName
          required: true
          type: string
        - description: The name of the route to update.
          in: path
          maxLength: 255
          minLength: 1
          name: routeName
          required: true
          type: string
        - description: The name of the virtual router that the route is associated with.
          in: path
          maxLength: 255
          minLength: 1
          name: virtualRouterName
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              clientToken:
                description: |-
                  Unique, case-sensitive identifier that you provide to ensure the idempotency of the
                  request. Up to 36 letters, numbers, hyphens, and underscores are allowed.
                type: string
              spec:
                description: An object representing the specification of a route.
                properties:
                  httpRoute:
                    $ref: '#/definitions/HttpRoute'
                    description: The HTTP routing information for the route.
                  priority:
                    $ref: '#/definitions/RoutePriority'
                    description: 'The priority for the route. Routes are matched based on the specified value, where 0 is the highest priority.'
                  tcpRoute:
                    $ref: '#/definitions/TcpRoute'
                    description: The TCP routing information for the route.
                type: object
            required:
              - spec
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateRouteOutput'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '486':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '487':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  '/v20190125/meshes/{meshName}/virtualRouters':
    get:
      description: Returns a list of existing virtual routers in a service mesh.
      operationId: ListVirtualRouters
      parameters:
        - description: |-
            The maximum number of results returned by <code>ListVirtualRouters</code> in paginated
                     output. When you use this parameter, <code>ListVirtualRouters</code> returns only
                        <code>limit</code> results in a single page along with a <code>nextToken</code> response
                     element. You can see the remaining results of the initial request by sending another
                        <code>ListVirtualRouters</code> request with the returned <code>nextToken</code> value.
                     This value can be between 1 and 100. If you don't use this
                     parameter, <code>ListVirtualRouters</code> returns up to 100 results and
                     a <code>nextToken</code> value if applicable.
          in: query
          maximum: 100
          minimum: 1
          name: limit
          required: false
          type: integer
        - description: The name of the service mesh to list virtual routers in.
          in: path
          maxLength: 255
          minLength: 1
          name: meshName
          required: true
          type: string
        - description: |-
            The <code>nextToken</code> value returned from a previous paginated
                        <code>ListVirtualRouters</code> request where <code>limit</code> was used and the
                     results exceeded the value of that parameter. Pagination continues from the end of the
                     previous results that returned the <code>nextToken</code> value.
          in: query
          name: nextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListVirtualRoutersOutput'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '482':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: |-
        <p>Creates a virtual router within a service mesh.</p>
                 <p>Any inbound traffic that your virtual router expects should be specified as a
                    <code>listener</code>. </p>
                 <p>Virtual routers handle traffic for one or more virtual services within your mesh. After
                 you create your virtual router, create and associate routes for your virtual router that
                 direct incoming requests to different virtual nodes.</p>
      operationId: CreateVirtualRouter
      parameters:
        - description: The name of the service mesh to create the virtual router in.
          in: path
          maxLength: 255
          minLength: 1
          name: meshName
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              clientToken:
                description: |-
                  Unique, case-sensitive identifier that you provide to ensure the idempotency of the
                  request. Up to 36 letters, numbers, hyphens, and underscores are allowed.
                type: string
              spec:
                description: An object representing the specification of a virtual router.
                properties:
                  listeners:
                    $ref: '#/definitions/VirtualRouterListeners'
                    description: |-
                      The listeners that the virtual router is expected to receive inbound traffic from.
                               Currently only one listener is supported per virtual router.
                type: object
              tags:
                description: |-
                  Optional metadata that you can apply to the virtual router to assist with categorization
                           and organization. Each tag consists of a key and an optional value, both of which you
                           define. Tag keys can have a maximum character length of 128 characters, and tag values can have
                              a maximum length of 256 characters.
                items:
                  $ref: '#/definitions/TagRef'
                maxItems: 50
                minItems: 0
                type: array
              virtualRouterName:
                description: The name to use for the virtual router.
                maxLength: 255
                minLength: 1
                type: string
            required:
              - spec
              - virtualRouterName
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateVirtualRouterOutput'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '486':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '487':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  '/v20190125/meshes/{meshName}/virtualRouters/{virtualRouterName}':
    delete:
      description: |-
        <p>Deletes an existing virtual router.</p>
                 <p>You must delete any routes associated with the virtual router before you can delete the
                 router itself.</p>
      operationId: DeleteVirtualRouter
      parameters:
        - description: The name of the service mesh to delete the virtual router in.
          in: path
          maxLength: 255
          minLength: 1
          name: meshName
          required: true
          type: string
        - description: The name of the virtual router to delete.
          in: path
          maxLength: 255
          minLength: 1
          name: virtualRouterName
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteVirtualRouterOutput'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '482':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    get:
      description: Describes an existing virtual router.
      operationId: DescribeVirtualRouter
      parameters:
        - description: The name of the service mesh that the virtual router resides in.
          in: path
          maxLength: 255
          minLength: 1
          name: meshName
          required: true
          type: string
        - description: The name of the virtual router to describe.
          in: path
          maxLength: 255
          minLength: 1
          name: virtualRouterName
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeVirtualRouterOutput'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '482':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates an existing virtual router in a specified service mesh.
      operationId: UpdateVirtualRouter
      parameters:
        - description: The name of the service mesh that the virtual router resides in.
          in: path
          maxLength: 255
          minLength: 1
          name: meshName
          required: true
          type: string
        - description: The name of the virtual router to update.
          in: path
          maxLength: 255
          minLength: 1
          name: virtualRouterName
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              clientToken:
                description: |-
                  Unique, case-sensitive identifier that you provide to ensure the idempotency of the
                  request. Up to 36 letters, numbers, hyphens, and underscores are allowed.
                type: string
              spec:
                description: An object representing the specification of a virtual router.
                properties:
                  listeners:
                    $ref: '#/definitions/VirtualRouterListeners'
                    description: |-
                      The listeners that the virtual router is expected to receive inbound traffic from.
                               Currently only one listener is supported per virtual router.
                type: object
            required:
              - spec
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateVirtualRouterOutput'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '486':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '487':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  '/v20190125/meshes/{meshName}/virtualServices':
    get:
      description: Returns a list of existing virtual services in a service mesh.
      operationId: ListVirtualServices
      parameters:
        - description: |-
            The maximum number of results returned by <code>ListVirtualServices</code> in paginated
                     output. When you use this parameter, <code>ListVirtualServices</code> returns only
                        <code>limit</code> results in a single page along with a <code>nextToken</code> response
                     element. You can see the remaining results of the initial request by sending another
                        <code>ListVirtualServices</code> request with the returned <code>nextToken</code> value.
                     This value can be between 1 and 100. If you don't use this
                     parameter, <code>ListVirtualServices</code> returns up to 100 results and
                     a <code>nextToken</code> value if applicable.
          in: query
          maximum: 100
          minimum: 1
          name: limit
          required: false
          type: integer
        - description: The name of the service mesh to list virtual services in.
          in: path
          maxLength: 255
          minLength: 1
          name: meshName
          required: true
          type: string
        - description: |-
            The <code>nextToken</code> value returned from a previous paginated
                        <code>ListVirtualServices</code> request where <code>limit</code> was used and the
                     results exceeded the value of that parameter. Pagination continues from the end of the
                     previous results that returned the <code>nextToken</code> value.
          in: query
          name: nextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListVirtualServicesOutput'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '482':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: |-
        <p>Creates a virtual service within a service mesh.</p>
                 <p>A virtual service is an abstraction of a real service that is provided by a virtual node
                 directly or indirectly by means of a virtual router. Dependent services call your virtual
                 service by its <code>virtualServiceName</code>, and those requests are routed to the
                 virtual node or virtual router that is specified as the provider for the virtual
                 service.</p>
      operationId: CreateVirtualService
      parameters:
        - description: The name of the service mesh to create the virtual service in.
          in: path
          maxLength: 255
          minLength: 1
          name: meshName
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              clientToken:
                description: |-
                  Unique, case-sensitive identifier that you provide to ensure the idempotency of the
                  request. Up to 36 letters, numbers, hyphens, and underscores are allowed.
                type: string
              spec:
                description: An object representing the specification of a virtual service.
                properties:
                  provider:
                    $ref: '#/definitions/VirtualServiceProvider'
                    description: |-
                      The App Mesh object that is acting as the provider for a virtual service. You can specify
                               a single virtual node or virtual router.
                type: object
              tags:
                description: |-
                  Optional metadata that you can apply to the virtual service to assist with
                           categorization and organization. Each tag consists of a key and an optional value, both of
                           which you define. Tag keys can have a maximum character length of 128 characters, and tag values can have
                              a maximum length of 256 characters.
                items:
                  $ref: '#/definitions/TagRef'
                maxItems: 50
                minItems: 0
                type: array
              virtualServiceName:
                description: The name to use for the virtual service.
                type: string
            required:
              - spec
              - virtualServiceName
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateVirtualServiceOutput'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '486':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '487':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  '/v20190125/meshes/{meshName}/virtualServices/{virtualServiceName}':
    delete:
      description: Deletes an existing virtual service.
      operationId: DeleteVirtualService
      parameters:
        - description: The name of the service mesh to delete the virtual service in.
          in: path
          maxLength: 255
          minLength: 1
          name: meshName
          required: true
          type: string
        - description: The name of the virtual service to delete.
          in: path
          name: virtualServiceName
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteVirtualServiceOutput'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '482':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    get:
      description: Describes an existing virtual service.
      operationId: DescribeVirtualService
      parameters:
        - description: The name of the service mesh that the virtual service resides in.
          in: path
          maxLength: 255
          minLength: 1
          name: meshName
          required: true
          type: string
        - description: The name of the virtual service to describe.
          in: path
          name: virtualServiceName
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeVirtualServiceOutput'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '482':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates an existing virtual service in a specified service mesh.
      operationId: UpdateVirtualService
      parameters:
        - description: The name of the service mesh that the virtual service resides in.
          in: path
          maxLength: 255
          minLength: 1
          name: meshName
          required: true
          type: string
        - description: The name of the virtual service to update.
          in: path
          name: virtualServiceName
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              clientToken:
                description: |-
                  Unique, case-sensitive identifier that you provide to ensure the idempotency of the
                  request. Up to 36 letters, numbers, hyphens, and underscores are allowed.
                type: string
              spec:
                description: An object representing the specification of a virtual service.
                properties:
                  provider:
                    $ref: '#/definitions/VirtualServiceProvider'
                    description: |-
                      The App Mesh object that is acting as the provider for a virtual service. You can specify
                               a single virtual node or virtual router.
                type: object
            required:
              - spec
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateVirtualServiceOutput'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '486':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '487':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  '/v20190125/tag#resourceArn':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: |-
        Associates the specified tags to a resource with the specified <code>resourceArn</code>.
                 If existing tags on a resource aren't specified in the request parameters, they aren't
                 changed. When a resource is deleted, the tags associated with that resource are also
                 deleted.
      operationId: TagResource
      parameters:
        - description: The Amazon Resource Name (ARN) of the resource to add tags to.
          in: query
          name: resourceArn
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              tags:
                description: |-
                  The tags to add to the resource. A tag is an array of key-value pairs.
                           Tag keys can have a maximum character length of 128 characters, and tag values can have
                              a maximum length of 256 characters.
                items:
                  $ref: '#/definitions/TagRef'
                maxItems: 50
                minItems: 0
                type: array
            required:
              - tags
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TagResourceOutput'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '482':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '486':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
  '/v20190125/tags#resourceArn':
    get:
      description: List the tags for an App Mesh resource.
      operationId: ListTagsForResource
      parameters:
        - description: |-
            The maximum number of tag results returned by <code>ListTagsForResource</code> in
                     paginated output. When this parameter is used, <code>ListTagsForResource</code> returns
                     only <code>limit</code> results in a single page along with a <code>nextToken</code>
                     response element. You can see the remaining results of the initial request by sending
                     another <code>ListTagsForResource</code> request with the returned <code>nextToken</code>
                     value. This value can be between 1 and 100. If you don't use
                     this parameter, <code>ListTagsForResource</code> returns up to 100
                     results and a <code>nextToken</code> value if applicable.
          in: query
          maximum: 50
          minimum: 1
          name: limit
          required: false
          type: integer
        - description: |-
            The <code>nextToken</code> value returned from a previous paginated
                        <code>ListTagsForResource</code> request where <code>limit</code> was used and the
                     results exceeded the value of that parameter. Pagination continues from the end of the
                     previous results that returned the <code>nextToken</code> value.
          in: query
          name: nextToken
          required: false
          type: string
        - description: The Amazon Resource Name (ARN) that identifies the resource to list the tags for.
          in: query
          name: resourceArn
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForResourceOutput'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '482':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/v20190125/untag#resourceArn':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Deletes specified tags from a resource.
      operationId: UntagResource
      parameters:
        - description: The Amazon Resource Name (ARN) of the resource to delete tags from.
          in: query
          name: resourceArn
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              tagKeys:
                description: The keys of the tags to be removed.
                items:
                  $ref: '#/definitions/TagKey'
                maxItems: 50
                minItems: 0
                type: array
            required:
              - tagKeys
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UntagResourceOutput'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '482':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
definitions:
  AccessLog:
    description: An object representing the access logging information for a virtual node.
    properties:
      file:
        $ref: '#/definitions/FileAccessLog'
        description: The file object to send virtual node access logs to.
    type: object
  Arn:
    type: string
  AwsCloudMapInstanceAttribute:
    description: An object representing the AWS Cloud Map attribute information for your virtual node.
    properties:
      key:
        $ref: '#/definitions/AwsCloudMapInstanceAttributeKey'
        description: |-
          The name of an AWS Cloud Map service instance attribute key. Any AWS Cloud Map service instance
                   that contains the specified key and value is returned.
      value:
        $ref: '#/definitions/AwsCloudMapInstanceAttributeValue'
        description: |-
          The value of an AWS Cloud Map service instance attribute key. Any AWS Cloud Map service
                   instance that contains the specified key and value is returned.
    required:
      - key
      - value
    type: object
  AwsCloudMapInstanceAttributeKey:
    maxLength: 255
    minLength: 1
    pattern: '^[a-zA-Z0-9!-~]+$'
    type: string
  AwsCloudMapInstanceAttributeValue:
    maxLength: 1024
    minLength: 1
    pattern: '^([a-zA-Z0-9!-~][ ta-zA-Z0-9!-~]*){0,1}[a-zA-Z0-9!-~]{0,1}$'
    type: string
  AwsCloudMapInstanceAttributes:
    items:
      $ref: '#/definitions/AwsCloudMapInstanceAttribute'
    type: array
  AwsCloudMapName:
    maxLength: 1024
    minLength: 1
    pattern: '((?=^.{1,127}$)^([a-zA-Z0-9_][a-zA-Z0-9-_]{0,61}[a-zA-Z0-9_]|[a-zA-Z0-9])(.([a-zA-Z0-9_][a-zA-Z0-9-_]{0,61}[a-zA-Z0-9_]|[a-zA-Z0-9]))*$)|(^.$)'
    type: string
  AwsCloudMapServiceDiscovery:
    description: |-
      An object representing the AWS Cloud Map service discovery information for your virtual
               node.
    properties:
      attributes:
        $ref: '#/definitions/AwsCloudMapInstanceAttributes'
        description: |-
          A string map that contains attributes with values that you can use to filter instances
                   by any custom attribute that you specified when you registered the instance. Only instances
                   that match all of the specified key/value pairs will be returned.
      namespaceName:
        $ref: '#/definitions/AwsCloudMapName'
        description: The name of the AWS Cloud Map namespace to use.
      serviceName:
        $ref: '#/definitions/AwsCloudMapName'
        description: The name of the AWS Cloud Map service to use.
    required:
      - namespaceName
      - serviceName
    type: object
  Backend:
    description: |-
      An object representing the backends that a virtual node is expected to send outbound
               traffic to. 
    properties:
      virtualService:
        $ref: '#/definitions/VirtualServiceBackend'
        description: 'Specifies a virtual service to use as a backend for a virtual node. '
    type: object
  Backends:
    items:
      $ref: '#/definitions/Backend'
    maxItems: 25
    minItems: 0
    type: array
  BadRequestException: {}
  Boolean:
    type: boolean
  ConflictException: {}
  CreateMeshInput:
    description: ''
    properties:
      clientToken:
        $ref: '#/definitions/String'
        description: |-
          Unique, case-sensitive identifier that you provide to ensure the idempotency of the
          request. Up to 36 letters, numbers, hyphens, and underscores are allowed.
      meshName:
        $ref: '#/definitions/ResourceName'
        description: The name to use for the service mesh.
      spec:
        $ref: '#/definitions/MeshSpec'
        description: The service mesh specification to apply.
      tags:
        $ref: '#/definitions/TagList'
        description: |-
          Optional metadata that you can apply to the service mesh to assist with categorization
                   and organization. Each tag consists of a key and an optional value, both of which you
                   define. Tag keys can have a maximum character length of 128 characters, and tag values can have
                      a maximum length of 256 characters.
    required:
      - meshName
    type: object
  CreateMeshOutput:
    description: ''
    properties:
      mesh:
        $ref: '#/definitions/MeshData'
        description: The full description of your service mesh following the create call.
    required:
      - mesh
    type: object
  CreateRouteInput:
    description: ''
    properties:
      clientToken:
        $ref: '#/definitions/String'
        description: |-
          Unique, case-sensitive identifier that you provide to ensure the idempotency of the
          request. Up to 36 letters, numbers, hyphens, and underscores are allowed.
      routeName:
        $ref: '#/definitions/ResourceName'
        description: The name to use for the route.
      spec:
        $ref: '#/definitions/RouteSpec'
        description: The route specification to apply.
      tags:
        $ref: '#/definitions/TagList'
        description: |-
          Optional metadata that you can apply to the route to assist with categorization and
                   organization. Each tag consists of a key and an optional value, both of which you define.
                   Tag keys can have a maximum character length of 128 characters, and tag values can have
                      a maximum length of 256 characters.
    required:
      - routeName
      - spec
    type: object
  CreateRouteOutput:
    description: ''
    properties:
      route:
        $ref: '#/definitions/RouteData'
        description: The full description of your mesh following the create call.
    required:
      - route
    type: object
  CreateVirtualNodeInput:
    description: ''
    properties:
      clientToken:
        $ref: '#/definitions/String'
        description: |-
          Unique, case-sensitive identifier that you provide to ensure the idempotency of the
          request. Up to 36 letters, numbers, hyphens, and underscores are allowed.
      spec:
        $ref: '#/definitions/VirtualNodeSpec'
        description: The virtual node specification to apply.
      tags:
        $ref: '#/definitions/TagList'
        description: |-
          Optional metadata that you can apply to the virtual node to assist with categorization
                   and organization. Each tag consists of a key and an optional value, both of which you
                   define. Tag keys can have a maximum character length of 128 characters, and tag values can have
                      a maximum length of 256 characters.
      virtualNodeName:
        $ref: '#/definitions/ResourceName'
        description: The name to use for the virtual node.
    required:
      - spec
      - virtualNodeName
    type: object
  CreateVirtualNodeOutput:
    description: ''
    properties:
      virtualNode:
        $ref: '#/definitions/VirtualNodeData'
        description: The full description of your virtual node following the create call.
    required:
      - virtualNode
    type: object
  CreateVirtualRouterInput:
    description: ''
    properties:
      clientToken:
        $ref: '#/definitions/String'
        description: |-
          Unique, case-sensitive identifier that you provide to ensure the idempotency of the
          request. Up to 36 letters, numbers, hyphens, and underscores are allowed.
      spec:
        $ref: '#/definitions/VirtualRouterSpec'
        description: The virtual router specification to apply.
      tags:
        $ref: '#/definitions/TagList'
        description: |-
          Optional metadata that you can apply to the virtual router to assist with categorization
                   and organization. Each tag consists of a key and an optional value, both of which you
                   define. Tag keys can have a maximum character length of 128 characters, and tag values can have
                      a maximum length of 256 characters.
      virtualRouterName:
        $ref: '#/definitions/ResourceName'
        description: The name to use for the virtual router.
    required:
      - spec
      - virtualRouterName
    type: object
  CreateVirtualRouterOutput:
    description: ''
    properties:
      virtualRouter:
        $ref: '#/definitions/VirtualRouterData'
        description: The full description of your virtual router following the create call.
    required:
      - virtualRouter
    type: object
  CreateVirtualServiceInput:
    description: ''
    properties:
      clientToken:
        $ref: '#/definitions/String'
        description: |-
          Unique, case-sensitive identifier that you provide to ensure the idempotency of the
          request. Up to 36 letters, numbers, hyphens, and underscores are allowed.
      spec:
        $ref: '#/definitions/VirtualServiceSpec'
        description: The virtual service specification to apply.
      tags:
        $ref: '#/definitions/TagList'
        description: |-
          Optional metadata that you can apply to the virtual service to assist with
                   categorization and organization. Each tag consists of a key and an optional value, both of
                   which you define. Tag keys can have a maximum character length of 128 characters, and tag values can have
                      a maximum length of 256 characters.
      virtualServiceName:
        $ref: '#/definitions/ServiceName'
        description: The name to use for the virtual service.
    required:
      - spec
      - virtualServiceName
    type: object
  CreateVirtualServiceOutput:
    description: ''
    properties:
      virtualService:
        $ref: '#/definitions/VirtualServiceData'
        description: The full description of your virtual service following the create call.
    required:
      - virtualService
    type: object
  DeleteMeshInput:
    description: ''
    properties: {}
    type: object
  DeleteMeshOutput:
    description: ''
    properties:
      mesh:
        $ref: '#/definitions/MeshData'
        description: The service mesh that was deleted.
    required:
      - mesh
    type: object
  DeleteRouteInput:
    description: ''
    properties: {}
    type: object
  DeleteRouteOutput:
    description: ''
    properties:
      route:
        $ref: '#/definitions/RouteData'
        description: The route that was deleted.
    required:
      - route
    type: object
  DeleteVirtualNodeInput:
    description: ''
    properties: {}
    type: object
  DeleteVirtualNodeOutput:
    description: ''
    properties:
      virtualNode:
        $ref: '#/definitions/VirtualNodeData'
        description: The virtual node that was deleted.
    required:
      - virtualNode
    type: object
  DeleteVirtualRouterInput:
    description: ''
    properties: {}
    type: object
  DeleteVirtualRouterOutput:
    description: ''
    properties:
      virtualRouter:
        $ref: '#/definitions/VirtualRouterData'
        description: The virtual router that was deleted.
    required:
      - virtualRouter
    type: object
  DeleteVirtualServiceInput:
    description: ''
    properties: {}
    type: object
  DeleteVirtualServiceOutput:
    description: ''
    properties:
      virtualService:
        $ref: '#/definitions/VirtualServiceData'
        description: The virtual service that was deleted.
    required:
      - virtualService
    type: object
  DescribeMeshInput:
    description: ''
    properties: {}
    type: object
  DescribeMeshOutput:
    description: ''
    properties:
      mesh:
        $ref: '#/definitions/MeshData'
        description: The full description of your service mesh.
    required:
      - mesh
    type: object
  DescribeRouteInput:
    description: ''
    properties: {}
    type: object
  DescribeRouteOutput:
    description: ''
    properties:
      route:
        $ref: '#/definitions/RouteData'
        description: The full description of your route.
    required:
      - route
    type: object
  DescribeVirtualNodeInput:
    description: ''
    properties: {}
    type: object
  DescribeVirtualNodeOutput:
    description: ''
    properties:
      virtualNode:
        $ref: '#/definitions/VirtualNodeData'
        description: The full description of your virtual node.
    required:
      - virtualNode
    type: object
  DescribeVirtualRouterInput:
    description: ''
    properties: {}
    type: object
  DescribeVirtualRouterOutput:
    description: ''
    properties:
      virtualRouter:
        $ref: '#/definitions/VirtualRouterData'
        description: The full description of your virtual router.
    required:
      - virtualRouter
    type: object
  DescribeVirtualServiceInput:
    description: ''
    properties: {}
    type: object
  DescribeVirtualServiceOutput:
    description: ''
    properties:
      virtualService:
        $ref: '#/definitions/VirtualServiceData'
        description: The full description of your virtual service.
    required:
      - virtualService
    type: object
  DnsServiceDiscovery:
    description: |-
      An object representing the DNS service discovery information for your virtual
               node.
    properties:
      hostname:
        $ref: '#/definitions/Hostname'
        description: 'Specifies the DNS service discovery hostname for the virtual node. '
    required:
      - hostname
    type: object
  Duration:
    description: An object representing the duration between retry attempts.
    properties:
      unit:
        $ref: '#/definitions/DurationUnit'
        description: The unit of time between retry attempts.
      value:
        $ref: '#/definitions/DurationValue'
        description: The duration of time between retry attempts.
    type: object
  DurationUnit:
    enum:
      - ms
      - s
    type: string
  DurationValue:
    minimum: 0
    type: integer
  EgressFilter:
    description: An object representing the egress filter rules for a service mesh.
    properties:
      type:
        $ref: '#/definitions/EgressFilterType'
        description: |-
          The egress filter type. By default, the type is <code>DROP_ALL</code>, which allows
                   egress only from virtual nodes to other defined resources in the service mesh (and any
                   traffic to <code>*.amazonaws.com</code> for AWS API calls). You can set the egress filter
                   type to <code>ALLOW_ALL</code> to allow egress to any endpoint inside or outside of the
                   service mesh.
    required:
      - type
    type: object
  EgressFilterType:
    enum:
      - ALLOW_ALL
      - DROP_ALL
    type: string
  FileAccessLog:
    description: An object representing an access log file.
    properties:
      path:
        $ref: '#/definitions/FilePath'
        description: |-
          <p>The file path to write access logs to. You can use <code>/dev/stdout</code> to send
                   access logs to standard out and configure your Envoy container to use a log driver, such as
                      <code>awslogs</code>, to export the access logs to a log storage service such as Amazon
                   CloudWatch Logs. You can also specify a path in the Envoy container's file system to write
                   the files to disk.</p>
                   <note>
                      <p>The Envoy process must have write permissions to the path that you specify here.
                      Otherwise, Envoy fails to bootstrap properly.</p>
                   </note>
    required:
      - path
    type: object
  FilePath:
    maxLength: 255
    minLength: 1
    type: string
  ForbiddenException: {}
  HeaderMatch:
    maxLength: 255
    minLength: 1
    type: string
  HeaderMatchMethod:
    description: An object representing the method and value to match the header value sent with a request. Specify one match method.
    properties:
      exact:
        $ref: '#/definitions/HeaderMatch'
        description: The header value sent by the client must match the specified value exactly.
      prefix:
        $ref: '#/definitions/HeaderMatch'
        description: The header value sent by the client must begin with the specified characters.
      range:
        $ref: '#/definitions/MatchRange'
        description: The object that specifies the range of numbers that the header value sent by the client must be included in.
      regex:
        $ref: '#/definitions/HeaderMatch'
        description: The header value sent by the client must include the specified characters.
      suffix:
        $ref: '#/definitions/HeaderMatch'
        description: The header value sent by the client must end with the specified characters.
    type: object
  HeaderName:
    maxLength: 50
    minLength: 1
    type: string
  HealthCheckIntervalMillis:
    maximum: 300000
    minimum: 5000
    type: integer
  HealthCheckPolicy:
    description: An object representing the health check policy for a virtual node's listener.
    properties:
      healthyThreshold:
        $ref: '#/definitions/HealthCheckThreshold'
        description: |-
          The number of consecutive successful health checks that must occur before declaring
                   listener healthy.
      intervalMillis:
        $ref: '#/definitions/HealthCheckIntervalMillis'
        description: The time period in milliseconds between each health check execution.
      path:
        $ref: '#/definitions/String'
        description: |-
          The destination path for the health check request. This is required only if the
                   specified protocol is HTTP. If the protocol is TCP, this parameter is ignored.
      port:
        $ref: '#/definitions/PortNumber'
        description: |-
          The destination port for the health check request. This port must match the port defined
                   in the <a>PortMapping</a> for the listener.
      protocol:
        $ref: '#/definitions/PortProtocol'
        description: The protocol for the health check request.
      timeoutMillis:
        $ref: '#/definitions/HealthCheckTimeoutMillis'
        description: |-
          The amount of time to wait when receiving a response from the health check, in
                   milliseconds.
      unhealthyThreshold:
        $ref: '#/definitions/HealthCheckThreshold'
        description: |-
          The number of consecutive failed health checks that must occur before declaring a
                   virtual node unhealthy. 
    required:
      - healthyThreshold
      - intervalMillis
      - protocol
      - timeoutMillis
      - unhealthyThreshold
    type: object
  HealthCheckThreshold:
    maximum: 10
    minimum: 2
    type: integer
  HealthCheckTimeoutMillis:
    maximum: 60000
    minimum: 2000
    type: integer
  Hostname:
    type: string
  HttpMethod:
    enum:
      - CONNECT
      - DELETE
      - GET
      - HEAD
      - OPTIONS
      - PATCH
      - POST
      - PUT
      - TRACE
    type: string
  HttpRetryPolicy:
    description: An object that represents a retry policy.
    properties:
      httpRetryEvents:
        $ref: '#/definitions/HttpRetryPolicyEvents'
        description: |-
          <p>Specify at least one of the following values.</p>
                   <ul>
                      <li>
                         <p>
                            <b>server-error</b> – HTTP status codes 500, 501,
                         502, 503, 504, 505, 506, 507, 508, 510, and 511</p>
                      </li>
                      <li>
                         <p>
                            <b>gateway-error</b> – HTTP status codes 502,
                         503, and 504</p>
                      </li>
                      <li>
                         <p>
[...]
