swagger: '2.0'
schemes:
  - https
  - http
host: api.mediatailor.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: '<p>Use the AWS Elemental MediaTailor SDK to configure scalable ad insertion for your live and VOD content. With AWS Elemental MediaTailor, you can serve targeted ads to viewers while maintaining broadcast quality in over-the-top (OTT) video applications. For information about using the service, including detailed information about the settings covered in this guide, see the AWS Elemental MediaTailor User Guide.<p>Through the SDK, you manage AWS Elemental MediaTailor configurations the same as you do through the console. For example, you specify ad insertion behavior and mapping information for the origin server and the ad decision server (ADS).</p>'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: AWS MediaTailor
  version: '2018-04-23'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/mediatailor-2018-04-23.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: mediatailor
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/mediatailor/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  /playbackConfiguration:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: 'Adds a new playback configuration to AWS Elemental MediaTailor. '
      operationId: PutPlaybackConfiguration
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              AdDecisionServerUrl:
                description: 'The URL for the ad decision server (ADS). This includes the specification of static parameters and placeholders for dynamic parameters. AWS Elemental MediaTailor substitutes player-specific and session-specific parameters as needed when calling the ADS. Alternately, for testing you can provide a static VAST URL. The maximum length is 25,000 characters.'
                type: string
              CdnConfiguration:
                description: 'The configuration for using a content delivery network (CDN), like Amazon CloudFront, for content and ad segment management. '
                properties:
                  AdSegmentUrlPrefix:
                    $ref: '#/definitions/__string'
                    description: 'A non-default content delivery network (CDN) to serve ad segments. By default, AWS Elemental MediaTailor uses Amazon CloudFront with default cache settings as its CDN for ad segments. To set up an alternate CDN, create a rule in your CDN for the following origin: ads.mediatailor.&lt;region>.amazonaws.com. Then specify the rule''s name in this AdSegmentUrlPrefix. When AWS Elemental MediaTailor serves a manifest, it reports your CDN as the source for ad segments.'
                  ContentSegmentUrlPrefix:
                    $ref: '#/definitions/__string'
                    description: 'A content delivery network (CDN) to cache content segments, so that content requests don’t always have to go to the origin server. First, create a rule in your CDN for the content segment origin server. Then specify the rule''s name in this ContentSegmentUrlPrefix. When AWS Elemental MediaTailor serves a manifest, it reports your CDN as the source for content segments.'
                type: object
              DashConfiguration:
                description: 'The configuration for DASH PUT operations. '
                properties:
                  MpdLocation:
                    $ref: '#/definitions/__string'
                    description: 'The setting that controls whether MediaTailor includes the Location tag in DASH manifests. MediaTailor populates the Location tag with the URL for manifest update requests, to be used by players that don''t support sticky redirects. Disable this if you have CDN routing rules set up for accessing MediaTailor manifests, and you are either using client-side reporting or your players support sticky HTTP redirects. Valid values are DISABLED and EMT_DEFAULT. The EMT_DEFAULT setting enables the inclusion of the tag and is the default value. '
                  OriginManifestType:
                    $ref: '#/definitions/OriginManifestType'
                    description: 'The setting that controls whether MediaTailor handles manifests from the origin server as multi-period manifests or single-period manifests. If your origin server produces single-period manifests, set this to SINGLE_PERIOD. The default setting is MULTI_PERIOD. For multi-period manifests, omit this setting or set it to MULTI_PERIOD. '
                type: object
              Name:
                description: The identifier for the playback configuration.
                type: string
              SlateAdUrl:
                description: 'The URL for a high-quality video asset to transcode and use to fill in time that''s not used by ads. AWS Elemental MediaTailor shows the slate to fill in gaps in media content. Configuring the slate is optional for non-VPAID configurations. For VPAID, the slate is required because MediaTailor provides it in the slots that are designated for dynamic ad content. The slate must be a high-quality asset that contains both audio and video. '
                type: string
              TranscodeProfileName:
                description: The name that is used to associate this playback configuration with a custom transcode profile. This overrides the dynamic transcoding defaults of MediaTailor. Use this only if you have already set up custom profiles with the help of AWS Support.
                type: string
              VideoContentSourceUrl:
                description: 'The URL prefix for the master playlist for the stream, minus the asset ID. The maximum length is 512 characters.'
                type: string
              tags:
                additionalProperties:
                  $ref: '#/definitions/__string'
                description: 'The tags to assign to the playback configuration. '
                type: object
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutPlaybackConfigurationResponse'
  '/playbackConfiguration/{Name}':
    delete:
      description: 'Deletes the playback configuration for the specified name. '
      operationId: DeletePlaybackConfiguration
      parameters:
        - description: The identifier for the playback configuration.
          in: path
          name: Name
          required: true
          type: string
      responses:
        '204':
          description: Success
          schema:
            $ref: '#/definitions/DeletePlaybackConfigurationResponse'
    get:
      description: 'Returns the playback configuration for the specified name. '
      operationId: GetPlaybackConfiguration
      parameters:
        - description: The identifier for the playback configuration.
          in: path
          name: Name
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetPlaybackConfigurationResponse'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /playbackConfigurations:
    get:
      description: 'Returns a list of the playback configurations defined in AWS Elemental MediaTailor. You can specify a maximum number of configurations to return at a time. The default maximum is 50. Results are returned in pagefuls. If MediaTailor has more configurations than the specified maximum, it provides parameters in the response that you can use to retrieve the next pageful. '
      operationId: ListPlaybackConfigurations
      parameters:
        - description: 'Maximum number of records to return. '
          in: query
          maximum: 100
          minimum: 1
          name: MaxResults
          required: false
          type: integer
        - description: Pagination token returned by the GET list request when results exceed the maximum allowed. Use the token to fetch the next page of results.
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListPlaybackConfigurationsResponse'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/tags/{ResourceArn}':
    get:
      description: 'Returns a list of the tags assigned to the specified playback configuration resource. '
      operationId: ListTagsForResource
      parameters:
        - description: 'The Amazon Resource Name (ARN) for the playback configuration. You can get this from the response to any playback configuration request. '
          in: path
          name: ResourceArn
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForResourceResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Adds tags to the specified playback configuration resource. You can specify one or more tags to add. '
      operationId: TagResource
      parameters:
        - description: 'The Amazon Resource Name (ARN) for the playback configuration. You can get this from the response to any playback configuration request. '
          in: path
          name: ResourceArn
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              tags:
                additionalProperties:
                  $ref: '#/definitions/__string'
                description: |-
                  A comma-separated list of tag key:value pairs. For example: 
                   {
                   "Key1": "Value1",
                   "Key2": "Value2"
                   }
                   
                type: object
            required:
              - tags
            type: object
      responses:
        '204':
          description: Success
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  '/tags/{ResourceArn}#tagKeys':
    delete:
      description: 'Removes tags from the specified playback configuration resource. You can specify one or more tags to remove. '
      operationId: UntagResource
      parameters:
        - description: 'The Amazon Resource Name (ARN) for the playback configuration. You can get this from the response to any playback configuration request. '
          in: path
          name: ResourceArn
          required: true
          type: string
        - description: 'A comma-separated list of the tag keys to remove from the playback configuration. '
          in: query
          items:
            type: string
          name: tagKeys
          required: true
          type: array
      responses:
        '204':
          description: Success
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  BadRequestException: {}
  CdnConfiguration:
    description: 'The configuration for using a content delivery network (CDN), like Amazon CloudFront, for content and ad segment management. '
    properties:
      AdSegmentUrlPrefix:
        $ref: '#/definitions/__string'
        description: 'A non-default content delivery network (CDN) to serve ad segments. By default, AWS Elemental MediaTailor uses Amazon CloudFront with default cache settings as its CDN for ad segments. To set up an alternate CDN, create a rule in your CDN for the following origin: ads.mediatailor.&lt;region>.amazonaws.com. Then specify the rule''s name in this AdSegmentUrlPrefix. When AWS Elemental MediaTailor serves a manifest, it reports your CDN as the source for ad segments.'
      ContentSegmentUrlPrefix:
        $ref: '#/definitions/__string'
        description: 'A content delivery network (CDN) to cache content segments, so that content requests don’t always have to go to the origin server. First, create a rule in your CDN for the content segment origin server. Then specify the rule''s name in this ContentSegmentUrlPrefix. When AWS Elemental MediaTailor serves a manifest, it reports your CDN as the source for content segments.'
    type: object
  DashConfiguration:
    description: 'The configuration for DASH content. '
    properties:
      ManifestEndpointPrefix:
        $ref: '#/definitions/__string'
        description: 'The URL generated by MediaTailor to initiate a playback session. The session uses server-side reporting. This setting is ignored in PUT operations. '
      MpdLocation:
        $ref: '#/definitions/__string'
        description: 'The setting that controls whether MediaTailor includes the Location tag in DASH manifests. MediaTailor populates the Location tag with the URL for manifest update requests, to be used by players that don''t support sticky redirects. Disable this if you have CDN routing rules set up for accessing MediaTailor manifests, and you are either using client-side reporting or your players support sticky HTTP redirects. Valid values are DISABLED and EMT_DEFAULT. The EMT_DEFAULT setting enables the inclusion of the tag and is the default value. '
      OriginManifestType:
        $ref: '#/definitions/OriginManifestType'
        description: 'The setting that controls whether MediaTailor handles manifests from the origin server as multi-period manifests or single-period manifests. If your origin server produces single-period manifests, set this to SINGLE_PERIOD. The default setting is MULTI_PERIOD. For multi-period manifests, omit this setting or set it to MULTI_PERIOD. '
    type: object
  DashConfigurationForPut:
    description: 'The configuration for DASH PUT operations. '
    properties:
      MpdLocation:
        $ref: '#/definitions/__string'
        description: 'The setting that controls whether MediaTailor includes the Location tag in DASH manifests. MediaTailor populates the Location tag with the URL for manifest update requests, to be used by players that don''t support sticky redirects. Disable this if you have CDN routing rules set up for accessing MediaTailor manifests, and you are either using client-side reporting or your players support sticky HTTP redirects. Valid values are DISABLED and EMT_DEFAULT. The EMT_DEFAULT setting enables the inclusion of the tag and is the default value. '
      OriginManifestType:
        $ref: '#/definitions/OriginManifestType'
        description: 'The setting that controls whether MediaTailor handles manifests from the origin server as multi-period manifests or single-period manifests. If your origin server produces single-period manifests, set this to SINGLE_PERIOD. The default setting is MULTI_PERIOD. For multi-period manifests, omit this setting or set it to MULTI_PERIOD. '
    type: object
  DeletePlaybackConfigurationRequest:
    properties: {}
    type: object
  DeletePlaybackConfigurationResponse:
    properties: {}
    type: object
  GetPlaybackConfigurationRequest:
    properties: {}
    type: object
  GetPlaybackConfigurationResponse:
    properties:
      AdDecisionServerUrl:
        $ref: '#/definitions/__string'
        description: 'The URL for the ad decision server (ADS). This includes the specification of static parameters and placeholders for dynamic parameters. AWS Elemental MediaTailor substitutes player-specific and session-specific parameters as needed when calling the ADS. Alternately, for testing, you can provide a static VAST URL. The maximum length is 25,000 characters.'
      CdnConfiguration:
        $ref: '#/definitions/CdnConfiguration'
        description: 'The configuration for using a content delivery network (CDN), like Amazon CloudFront, for content and ad segment management. '
      DashConfiguration:
        $ref: '#/definitions/DashConfiguration'
        description: 'The configuration for DASH content. '
      HlsConfiguration:
        $ref: '#/definitions/HlsConfiguration'
        description: 'The configuration for HLS content. '
      Name:
        $ref: '#/definitions/__string'
        description: The identifier for the playback configuration.
      PlaybackConfigurationArn:
        $ref: '#/definitions/__string'
        description: 'The Amazon Resource Name (ARN) for the playback configuration. '
      PlaybackEndpointPrefix:
        $ref: '#/definitions/__string'
        description: 'The URL that the player accesses to get a manifest from AWS Elemental MediaTailor. This session will use server-side reporting. '
      SessionInitializationEndpointPrefix:
        $ref: '#/definitions/__string'
        description: 'The URL that the player uses to initialize a session that uses client-side reporting. '
      SlateAdUrl:
        $ref: '#/definitions/__string'
        description: 'The URL for a high-quality video asset to transcode and use to fill in time that''s not used by ads. AWS Elemental MediaTailor shows the slate to fill in gaps in media content. Configuring the slate is optional for non-VPAID playback configurations. For VPAID, the slate is required because MediaTailor provides it in the slots designated for dynamic ad content. The slate must be a high-quality asset that contains both audio and video. '
      Tags:
        $ref: '#/definitions/__mapOf__string'
        description: 'The tags assigned to the playback configuration. '
      TranscodeProfileName:
        $ref: '#/definitions/__string'
        description: The name that is used to associate this playback configuration with a custom transcode profile. This overrides the dynamic transcoding defaults of MediaTailor. Use this only if you have already set up custom profiles with the help of AWS Support.
      VideoContentSourceUrl:
        $ref: '#/definitions/__string'
        description: 'The URL prefix for the master playlist for the stream, minus the asset ID. The maximum length is 512 characters.'
    type: object
  HlsConfiguration:
    description: 'The configuration for HLS content. '
    properties:
      ManifestEndpointPrefix:
        $ref: '#/definitions/__string'
        description: The URL that is used to initiate a playback session for devices that support Apple HLS. The session uses server-side reporting.
    type: object
  ListPlaybackConfigurationsRequest:
    properties: {}
    type: object
  ListPlaybackConfigurationsResponse:
    properties:
      Items:
        $ref: '#/definitions/__listOfPlaybackConfigurations'
        description: 'Array of playback configurations. This might be all the available configurations or a subset, depending on the settings that you provide and the total number of configurations stored. '
      NextToken:
        $ref: '#/definitions/__string'
        description: Pagination token returned by the GET list request when results exceed the maximum allowed. Use the token to fetch the next page of results.
    type: object
  ListTagsForResourceRequest:
    properties: {}
    type: object
  ListTagsForResourceResponse:
    properties:
      Tags:
        $ref: '#/definitions/__mapOf__string'
        description: |-
          A comma-separated list of tag key:value pairs. For example: 
           {
           "Key1": "Value1",
           "Key2": "Value2"
           }
           
    type: object
  OriginManifestType:
    enum:
      - SINGLE_PERIOD
      - MULTI_PERIOD
    type: string
  PlaybackConfiguration:
    description: The AWSMediaTailor configuration.
    properties:
      AdDecisionServerUrl:
        $ref: '#/definitions/__string'
        description: 'The URL for the ad decision server (ADS). This includes the specification of static parameters and placeholders for dynamic parameters. AWS Elemental MediaTailor substitutes player-specific and session-specific parameters as needed when calling the ADS. Alternately, for testing, you can provide a static VAST URL. The maximum length is 25,000 characters.'
      CdnConfiguration:
        $ref: '#/definitions/CdnConfiguration'
        description: 'The configuration for using a content delivery network (CDN), like Amazon CloudFront, for content and ad segment management. '
      DashConfiguration:
        $ref: '#/definitions/DashConfiguration'
        description: 'The configuration for DASH content. '
      HlsConfiguration:
        $ref: '#/definitions/HlsConfiguration'
        description: 'The configuration for HLS content. '
      Name:
        $ref: '#/definitions/__string'
        description: The identifier for the playback configuration.
      PlaybackConfigurationArn:
        $ref: '#/definitions/__string'
        description: 'The Amazon Resource Name (ARN) for the playback configuration. '
      PlaybackEndpointPrefix:
        $ref: '#/definitions/__string'
        description: 'The URL that the player accesses to get a manifest from AWS Elemental MediaTailor. This session will use server-side reporting. '
      SessionInitializationEndpointPrefix:
        $ref: '#/definitions/__string'
        description: 'The URL that the player uses to initialize a session that uses client-side reporting. '
      SlateAdUrl:
        $ref: '#/definitions/__string'
        description: 'The URL for a high-quality video asset to transcode and use to fill in time that''s not used by ads. AWS Elemental MediaTailor shows the slate to fill in gaps in media content. Configuring the slate is optional for non-VPAID playback configurations. For VPAID, the slate is required because MediaTailor provides it in the slots designated for dynamic ad content. The slate must be a high-quality asset that contains both audio and video. '
      Tags:
        $ref: '#/definitions/__mapOf__string'
        description: 'The tags assigned to the playback configuration. '
      TranscodeProfileName:
        $ref: '#/definitions/__string'
        description: The name that is used to associate this playback configuration with a custom transcode profile. This overrides the dynamic transcoding defaults of MediaTailor. Use this only if you have already set up custom profiles with the help of AWS Support.
      VideoContentSourceUrl:
        $ref: '#/definitions/__string'
        description: 'The URL prefix for the master playlist for the stream, minus the asset ID. The maximum length is 512 characters.'
    type: object
  PutPlaybackConfigurationRequest:
    properties:
      AdDecisionServerUrl:
        $ref: '#/definitions/__string'
        description: 'The URL for the ad decision server (ADS). This includes the specification of static parameters and placeholders for dynamic parameters. AWS Elemental MediaTailor substitutes player-specific and session-specific parameters as needed when calling the ADS. Alternately, for testing you can provide a static VAST URL. The maximum length is 25,000 characters.'
      CdnConfiguration:
        $ref: '#/definitions/CdnConfiguration'
        description: 'The configuration for using a content delivery network (CDN), like Amazon CloudFront, for content and ad segment management. '
      DashConfiguration:
        $ref: '#/definitions/DashConfigurationForPut'
        description: 'The configuration for DASH content. '
      Name:
        $ref: '#/definitions/__string'
        description: The identifier for the playback configuration.
      SlateAdUrl:
        $ref: '#/definitions/__string'
        description: 'The URL for a high-quality video asset to transcode and use to fill in time that''s not used by ads. AWS Elemental MediaTailor shows the slate to fill in gaps in media content. Configuring the slate is optional for non-VPAID configurations. For VPAID, the slate is required because MediaTailor provides it in the slots that are designated for dynamic ad content. The slate must be a high-quality asset that contains both audio and video. '
      Tags:
        $ref: '#/definitions/__mapOf__string'
        description: 'The tags to assign to the playback configuration. '
      TranscodeProfileName:
        $ref: '#/definitions/__string'
        description: The name that is used to associate this playback configuration with a custom transcode profile. This overrides the dynamic transcoding defaults of MediaTailor. Use this only if you have already set up custom profiles with the help of AWS Support.
      VideoContentSourceUrl:
        $ref: '#/definitions/__string'
        description: 'The URL prefix for the master playlist for the stream, minus the asset ID. The maximum length is 512 characters.'
    type: object
  PutPlaybackConfigurationResponse:
    properties:
      AdDecisionServerUrl:
        $ref: '#/definitions/__string'
        description: 'The URL for the ad decision server (ADS). This includes the specification of static parameters and placeholders for dynamic parameters. AWS Elemental MediaTailor substitutes player-specific and session-specific parameters as needed when calling the ADS. Alternately, for testing, you can provide a static VAST URL. The maximum length is 25,000 characters.'
      CdnConfiguration:
        $ref: '#/definitions/CdnConfiguration'
        description: 'The configuration for using a content delivery network (CDN), like Amazon CloudFront, for content and ad segment management. '
      DashConfiguration:
        $ref: '#/definitions/DashConfiguration'
        description: 'The configuration for DASH content. '
      HlsConfiguration:
        $ref: '#/definitions/HlsConfiguration'
        description: 'The configuration for HLS content. '
      Name:
        $ref: '#/definitions/__string'
        description: The identifier for the playback configuration.
      PlaybackConfigurationArn:
        $ref: '#/definitions/__string'
        description: 'The Amazon Resource Name (ARN) for the playback configuration. '
      PlaybackEndpointPrefix:
        $ref: '#/definitions/__string'
        description: 'The URL that the player accesses to get a manifest from AWS Elemental MediaTailor. This session will use server-side reporting. '
      SessionInitializationEndpointPrefix:
        $ref: '#/definitions/__string'
        description: 'The URL that the player uses to initialize a session that uses client-side reporting. '
      SlateAdUrl:
        $ref: '#/definitions/__string'
        description: 'The URL for a high-quality video asset to transcode and use to fill in time that''s not used by ads. AWS Elemental MediaTailor shows the slate to fill in gaps in media content. Configuring the slate is optional for non-VPAID playback configurations. For VPAID, the slate is required because MediaTailor provides it in the slots designated for dynamic ad content. The slate must be a high-quality asset that contains both audio and video. '
      Tags:
        $ref: '#/definitions/__mapOf__string'
        description: 'The tags assigned to the playback configuration. '
      TranscodeProfileName:
        $ref: '#/definitions/__string'
        description: The name that is used to associate this playback configuration with a custom transcode profile. This overrides the dynamic transcoding defaults of MediaTailor. Use this only if you have already set up custom profiles with the help of AWS Support.
      VideoContentSourceUrl:
        $ref: '#/definitions/__string'
        description: 'The URL prefix for the master playlist for the stream, minus the asset ID. The maximum length is 512 characters.'
    type: object
  TagResourceRequest:
    properties:
      Tags:
        $ref: '#/definitions/__mapOf__string'
        description: |-
          A comma-separated list of tag key:value pairs. For example: 
           {
           "Key1": "Value1",
           "Key2": "Value2"
           }
           
    required:
      - Tags
    type: object
  UntagResourceRequest:
    properties: {}
    type: object
  __integerMin1Max100:
    maximum: 100
    minimum: 1
    type: integer
  __listOfPlaybackConfigurations:
    items:
      $ref: '#/definitions/PlaybackConfiguration'
    type: array
  __listOf__string:
    items:
      $ref: '#/definitions/__string'
    type: array
  __mapOf__string:
    additionalProperties:
      $ref: '#/definitions/__string'
    type: object
  __string:
    type: string
x-servers:
  - description: The MediaTailor multi-region endpoint
    url: 'http://api.mediatailor.{region}.amazonaws.com'
    variables:
      region:
        default: us-east-1
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
  - description: The MediaTailor multi-region endpoint
    url: 'https://api.mediatailor.{region}.amazonaws.com'
    variables:
      region:
        default: us-east-1
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
  - description: The MediaTailor endpoint for China (Beijing) and China (Ningxia)
    url: 'http://api.mediatailor.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
  - description: The MediaTailor endpoint for China (Beijing) and China (Ningxia)
    url: 'https://api.mediatailor.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
