swagger: '2.0'
info:
  version: '2018-04-23'
  x-release: v4
  title: AWS MediaTailor
  description: '<p>Use the AWS Elemental MediaTailor SDK to configure scalable ad insertion for your live and VOD content. With AWS Elemental MediaTailor, you can serve targeted ads to viewers while maintaining broadcast quality in over-the-top (OTT) video applications. For information about using the service, including detailed information about the settings covered in this guide, see the AWS Elemental MediaTailor User Guide.<p>Through the SDK, you manage AWS Elemental MediaTailor configurations the same as you do through the console. For example, you specify ad insertion behavior and mapping information for the origin server and the ad decision server (ADS).</p>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: mediatailor
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/mediatailor-2018-04-23.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/mediatailor/'
host: api.mediatailor.amazonaws.com
basePath: /
schemes:
  - https
  - http
x-servers:
  - url: 'http://api.mediatailor.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
    description: The MediaTailor multi-region endpoint
  - url: 'https://api.mediatailor.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
    description: The MediaTailor multi-region endpoint
  - url: 'http://api.mediatailor.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
    description: The MediaTailor endpoint for China (Beijing) and China (Ningxia)
  - url: 'https://api.mediatailor.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
    description: The MediaTailor endpoint for China (Beijing) and China (Ningxia)
x-hasEquivalentPaths: true
consumes:
  - application/json
produces:
  - application/json
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  '/playbackConfiguration/{Name}':
    delete:
      operationId: DeletePlaybackConfiguration
      description: 'Deletes the playback configuration for the specified name. '
      responses:
        '204':
          description: Success
          schema:
            $ref: '#/definitions/DeletePlaybackConfigurationResponse'
      parameters:
        - name: Name
          in: path
          required: true
          description: The identifier for the playback configuration.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetPlaybackConfiguration
      description: 'Returns the playback configuration for the specified name. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetPlaybackConfigurationResponse'
      parameters:
        - name: Name
          in: path
          required: true
          description: The identifier for the playback configuration.
          type: string
  /playbackConfigurations:
    get:
      operationId: ListPlaybackConfigurations
      description: 'Returns a list of the playback configurations defined in AWS Elemental MediaTailor. You can specify a maximum number of configurations to return at a time. The default maximum is 50. Results are returned in pagefuls. If MediaTailor has more configurations than the specified maximum, it provides parameters in the response that you can use to retrieve the next pageful. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListPlaybackConfigurationsResponse'
      parameters:
        - name: MaxResults
          in: query
          required: false
          description: 'Maximum number of records to return. '
          type: integer
          minimum: 1
          maximum: 100
        - name: NextToken
          in: query
          required: false
          description: Pagination token returned by the GET list request when results exceed the maximum allowed. Use the token to fetch the next page of results.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/tags/{ResourceArn}':
    get:
      operationId: ListTagsForResource
      description: 'Returns a list of the tags assigned to the specified playback configuration resource. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForResourceResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: ResourceArn
          in: path
          required: true
          description: 'The Amazon Resource Name (ARN) for the playback configuration. You can get this from the response to any playback configuration request. '
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      operationId: TagResource
      description: 'Adds tags to the specified playback configuration resource. You can specify one or more tags to add. '
      responses:
        '204':
          description: Success
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: ResourceArn
          in: path
          required: true
          description: 'The Amazon Resource Name (ARN) for the playback configuration. You can get this from the response to any playback configuration request. '
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - tags
            properties:
              tags:
                description: |-
                  A comma-separated list of tag key:value pairs. For example: 
                   {
                   "Key1": "Value1",
                   "Key2": "Value2"
                   }
                   
                type: object
                additionalProperties:
                  $ref: '#/definitions/__string'
  /playbackConfiguration:
    put:
      operationId: PutPlaybackConfiguration
      description: 'Adds a new playback configuration to AWS Elemental MediaTailor. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutPlaybackConfigurationResponse'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              AdDecisionServerUrl:
                description: 'The URL for the ad decision server (ADS). This includes the specification of static parameters and placeholders for dynamic parameters. AWS Elemental MediaTailor substitutes player-specific and session-specific parameters as needed when calling the ADS. Alternately, for testing you can provide a static VAST URL. The maximum length is 25,000 characters.'
                type: string
              CdnConfiguration:
                description: 'The configuration for using a content delivery network (CDN), like Amazon CloudFront, for content and ad segment management. '
                type: object
                properties:
                  AdSegmentUrlPrefix:
                    description: 'A non-default content delivery network (CDN) to serve ad segments. By default, AWS Elemental MediaTailor uses Amazon CloudFront with default cache settings as its CDN for ad segments. To set up an alternate CDN, create a rule in your CDN for the following origin: ads.mediatailor.&lt;region>.amazonaws.com. Then specify the rule''s name in this AdSegmentUrlPrefix. When AWS Elemental MediaTailor serves a manifest, it reports your CDN as the source for ad segments.'
                    $ref: '#/definitions/__string'
                  ContentSegmentUrlPrefix:
                    description: 'A content delivery network (CDN) to cache content segments, so that content requests don’t always have to go to the origin server. First, create a rule in your CDN for the content segment origin server. Then specify the rule''s name in this ContentSegmentUrlPrefix. When AWS Elemental MediaTailor serves a manifest, it reports your CDN as the source for content segments.'
                    $ref: '#/definitions/__string'
              DashConfiguration:
                description: 'The configuration for DASH PUT operations. '
                type: object
                properties:
                  MpdLocation:
                    description: 'The setting that controls whether MediaTailor includes the Location tag in DASH manifests. MediaTailor populates the Location tag with the URL for manifest update requests, to be used by players that don''t support sticky redirects. Disable this if you have CDN routing rules set up for accessing MediaTailor manifests, and you are either using client-side reporting or your players support sticky HTTP redirects. Valid values are DISABLED and EMT_DEFAULT. The EMT_DEFAULT setting enables the inclusion of the tag and is the default value. '
                    $ref: '#/definitions/__string'
                  OriginManifestType:
                    description: 'The setting that controls whether MediaTailor handles manifests from the origin server as multi-period manifests or single-period manifests. If your origin server produces single-period manifests, set this to SINGLE_PERIOD. The default setting is MULTI_PERIOD. For multi-period manifests, omit this setting or set it to MULTI_PERIOD. '
                    $ref: '#/definitions/OriginManifestType'
              Name:
                description: The identifier for the playback configuration.
                type: string
              SlateAdUrl:
                description: 'The URL for a high-quality video asset to transcode and use to fill in time that''s not used by ads. AWS Elemental MediaTailor shows the slate to fill in gaps in media content. Configuring the slate is optional for non-VPAID configurations. For VPAID, the slate is required because MediaTailor provides it in the slots that are designated for dynamic ad content. The slate must be a high-quality asset that contains both audio and video. '
                type: string
              tags:
                description: 'The tags to assign to the playback configuration. '
                type: object
                additionalProperties:
                  $ref: '#/definitions/__string'
              TranscodeProfileName:
                description: The name that is used to associate this playback configuration with a custom transcode profile. This overrides the dynamic transcoding defaults of MediaTailor. Use this only if you have already set up custom profiles with the help of AWS Support.
                type: string
              VideoContentSourceUrl:
                description: 'The URL prefix for the master playlist for the stream, minus the asset ID. The maximum length is 512 characters.'
                type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/tags/{ResourceArn}#tagKeys':
    delete:
      operationId: UntagResource
      description: 'Removes tags from the specified playback configuration resource. You can specify one or more tags to remove. '
      responses:
        '204':
          description: Success
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: ResourceArn
          in: path
          required: true
          description: 'The Amazon Resource Name (ARN) for the playback configuration. You can get this from the response to any playback configuration request. '
          type: string
        - name: tagKeys
          in: query
          required: true
          description: 'A comma-separated list of the tag keys to remove from the playback configuration. '
          type: array
          items:
            type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  DeletePlaybackConfigurationResponse:
    type: object
    properties: {}
  GetPlaybackConfigurationResponse:
    type: object
    properties:
      AdDecisionServerUrl:
        description: 'The URL for the ad decision server (ADS). This includes the specification of static parameters and placeholders for dynamic parameters. AWS Elemental MediaTailor substitutes player-specific and session-specific parameters as needed when calling the ADS. Alternately, for testing, you can provide a static VAST URL. The maximum length is 25,000 characters.'
        $ref: '#/definitions/__string'
      CdnConfiguration:
        description: 'The configuration for using a content delivery network (CDN), like Amazon CloudFront, for content and ad segment management. '
        $ref: '#/definitions/CdnConfiguration'
      DashConfiguration:
        description: 'The configuration for DASH content. '
        $ref: '#/definitions/DashConfiguration'
      HlsConfiguration:
        description: 'The configuration for HLS content. '
        $ref: '#/definitions/HlsConfiguration'
      Name:
        description: The identifier for the playback configuration.
        $ref: '#/definitions/__string'
      PlaybackConfigurationArn:
        description: 'The Amazon Resource Name (ARN) for the playback configuration. '
        $ref: '#/definitions/__string'
      PlaybackEndpointPrefix:
        description: 'The URL that the player accesses to get a manifest from AWS Elemental MediaTailor. This session will use server-side reporting. '
        $ref: '#/definitions/__string'
      SessionInitializationEndpointPrefix:
        description: 'The URL that the player uses to initialize a session that uses client-side reporting. '
        $ref: '#/definitions/__string'
      SlateAdUrl:
        description: 'The URL for a high-quality video asset to transcode and use to fill in time that''s not used by ads. AWS Elemental MediaTailor shows the slate to fill in gaps in media content. Configuring the slate is optional for non-VPAID playback configurations. For VPAID, the slate is required because MediaTailor provides it in the slots designated for dynamic ad content. The slate must be a high-quality asset that contains both audio and video. '
        $ref: '#/definitions/__string'
      Tags:
        description: 'The tags assigned to the playback configuration. '
        $ref: '#/definitions/__mapOf__string'
      TranscodeProfileName:
        description: The name that is used to associate this playback configuration with a custom transcode profile. This overrides the dynamic transcoding defaults of MediaTailor. Use this only if you have already set up custom profiles with the help of AWS Support.
        $ref: '#/definitions/__string'
      VideoContentSourceUrl:
        description: 'The URL prefix for the master playlist for the stream, minus the asset ID. The maximum length is 512 characters.'
        $ref: '#/definitions/__string'
  ListPlaybackConfigurationsResponse:
    type: object
    properties:
      Items:
        description: 'Array of playback configurations. This might be all the available configurations or a subset, depending on the settings that you provide and the total number of configurations stored. '
        $ref: '#/definitions/__listOfPlaybackConfigurations'
      NextToken:
        description: Pagination token returned by the GET list request when results exceed the maximum allowed. Use the token to fetch the next page of results.
        $ref: '#/definitions/__string'
  ListTagsForResourceResponse:
    type: object
    properties:
      Tags:
        description: |-
          A comma-separated list of tag key:value pairs. For example: 
           {
           "Key1": "Value1",
           "Key2": "Value2"
           }
           
        $ref: '#/definitions/__mapOf__string'
  BadRequestException: {}
  PutPlaybackConfigurationResponse:
    type: object
    properties:
      AdDecisionServerUrl:
        description: 'The URL for the ad decision server (ADS). This includes the specification of static parameters and placeholders for dynamic parameters. AWS Elemental MediaTailor substitutes player-specific and session-specific parameters as needed when calling the ADS. Alternately, for testing, you can provide a static VAST URL. The maximum length is 25,000 characters.'
        $ref: '#/definitions/__string'
      CdnConfiguration:
        description: 'The configuration for using a content delivery network (CDN), like Amazon CloudFront, for content and ad segment management. '
        $ref: '#/definitions/CdnConfiguration'
      DashConfiguration:
        description: 'The configuration for DASH content. '
        $ref: '#/definitions/DashConfiguration'
      HlsConfiguration:
        description: 'The configuration for HLS content. '
        $ref: '#/definitions/HlsConfiguration'
      Name:
        description: The identifier for the playback configuration.
        $ref: '#/definitions/__string'
      PlaybackConfigurationArn:
        description: 'The Amazon Resource Name (ARN) for the playback configuration. '
        $ref: '#/definitions/__string'
      PlaybackEndpointPrefix:
        description: 'The URL that the player accesses to get a manifest from AWS Elemental MediaTailor. This session will use server-side reporting. '
        $ref: '#/definitions/__string'
      SessionInitializationEndpointPrefix:
        description: 'The URL that the player uses to initialize a session that uses client-side reporting. '
        $ref: '#/definitions/__string'
      SlateAdUrl:
        description: 'The URL for a high-quality video asset to transcode and use to fill in time that''s not used by ads. AWS Elemental MediaTailor shows the slate to fill in gaps in media content. Configuring the slate is optional for non-VPAID playback configurations. For VPAID, the slate is required because MediaTailor provides it in the slots designated for dynamic ad content. The slate must be a high-quality asset that contains both audio and video. '
        $ref: '#/definitions/__string'
      Tags:
        description: 'The tags assigned to the playback configuration. '
        $ref: '#/definitions/__mapOf__string'
      TranscodeProfileName:
        description: The name that is used to associate this playback configuration with a custom transcode profile. This overrides the dynamic transcoding defaults of MediaTailor. Use this only if you have already set up custom profiles with the help of AWS Support.
        $ref: '#/definitions/__string'
      VideoContentSourceUrl:
        description: 'The URL prefix for the master playlist for the stream, minus the asset ID. The maximum length is 512 characters.'
        $ref: '#/definitions/__string'
  __string:
    type: string
  OriginManifestType:
    enum:
      - SINGLE_PERIOD
      - MULTI_PERIOD
    type: string
  CdnConfiguration:
    type: object
    properties:
      AdSegmentUrlPrefix:
        description: 'A non-default content delivery network (CDN) to serve ad segments. By default, AWS Elemental MediaTailor uses Amazon CloudFront with default cache settings as its CDN for ad segments. To set up an alternate CDN, create a rule in your CDN for the following origin: ads.mediatailor.&lt;region>.amazonaws.com. Then specify the rule''s name in this AdSegmentUrlPrefix. When AWS Elemental MediaTailor serves a manifest, it reports your CDN as the source for ad segments.'
        $ref: '#/definitions/__string'
      ContentSegmentUrlPrefix:
        description: 'A content delivery network (CDN) to cache content segments, so that content requests don’t always have to go to the origin server. First, create a rule in your CDN for the content segment origin server. Then specify the rule''s name in this ContentSegmentUrlPrefix. When AWS Elemental MediaTailor serves a manifest, it reports your CDN as the source for content segments.'
        $ref: '#/definitions/__string'
    description: 'The configuration for using a content delivery network (CDN), like Amazon CloudFront, for content and ad segment management. '
  DashConfiguration:
    type: object
    properties:
      ManifestEndpointPrefix:
        description: 'The URL generated by MediaTailor to initiate a playback session. The session uses server-side reporting. This setting is ignored in PUT operations. '
        $ref: '#/definitions/__string'
      MpdLocation:
        description: 'The setting that controls whether MediaTailor includes the Location tag in DASH manifests. MediaTailor populates the Location tag with the URL for manifest update requests, to be used by players that don''t support sticky redirects. Disable this if you have CDN routing rules set up for accessing MediaTailor manifests, and you are either using client-side reporting or your players support sticky HTTP redirects. Valid values are DISABLED and EMT_DEFAULT. The EMT_DEFAULT setting enables the inclusion of the tag and is the default value. '
        $ref: '#/definitions/__string'
      OriginManifestType:
        description: 'The setting that controls whether MediaTailor handles manifests from the origin server as multi-period manifests or single-period manifests. If your origin server produces single-period manifests, set this to SINGLE_PERIOD. The default setting is MULTI_PERIOD. For multi-period manifests, omit this setting or set it to MULTI_PERIOD. '
        $ref: '#/definitions/OriginManifestType'
    description: 'The configuration for DASH content. '
  DashConfigurationForPut:
    type: object
    properties:
      MpdLocation:
        description: 'The setting that controls whether MediaTailor includes the Location tag in DASH manifests. MediaTailor populates the Location tag with the URL for manifest update requests, to be used by players that don''t support sticky redirects. Disable this if you have CDN routing rules set up for accessing MediaTailor manifests, and you are either using client-side reporting or your players support sticky HTTP redirects. Valid values are DISABLED and EMT_DEFAULT. The EMT_DEFAULT setting enables the inclusion of the tag and is the default value. '
        $ref: '#/definitions/__string'
      OriginManifestType:
        description: 'The setting that controls whether MediaTailor handles manifests from the origin server as multi-period manifests or single-period manifests. If your origin server produces single-period manifests, set this to SINGLE_PERIOD. The default setting is MULTI_PERIOD. For multi-period manifests, omit this setting or set it to MULTI_PERIOD. '
        $ref: '#/definitions/OriginManifestType'
    description: 'The configuration for DASH PUT operations. '
  DeletePlaybackConfigurationRequest:
    type: object
    properties: {}
  GetPlaybackConfigurationRequest:
    type: object
    properties: {}
  HlsConfiguration:
    type: object
    properties:
      ManifestEndpointPrefix:
        description: The URL that is used to initiate a playback session for devices that support Apple HLS. The session uses server-side reporting.
        $ref: '#/definitions/__string'
    description: 'The configuration for HLS content. '
  __mapOf__string:
    type: object
    additionalProperties:
      $ref: '#/definitions/__string'
  __integerMin1Max100:
    type: integer
    minimum: 1
    maximum: 100
  ListPlaybackConfigurationsRequest:
    type: object
    properties: {}
  __listOfPlaybackConfigurations:
    type: array
    items:
      $ref: '#/definitions/PlaybackConfiguration'
  ListTagsForResourceRequest:
    type: object
    properties: {}
  PlaybackConfiguration:
    type: object
    properties:
      AdDecisionServerUrl:
        description: 'The URL for the ad decision server (ADS). This includes the specification of static parameters and placeholders for dynamic parameters. AWS Elemental MediaTailor substitutes player-specific and session-specific parameters as needed when calling the ADS. Alternately, for testing, you can provide a static VAST URL. The maximum length is 25,000 characters.'
        $ref: '#/definitions/__string'
      CdnConfiguration:
        description: 'The configuration for using a content delivery network (CDN), like Amazon CloudFront, for content and ad segment management. '
        $ref: '#/definitions/CdnConfiguration'
      DashConfiguration:
        description: 'The configuration for DASH content. '
        $ref: '#/definitions/DashConfiguration'
      HlsConfiguration:
        description: 'The configuration for HLS content. '
        $ref: '#/definitions/HlsConfiguration'
      Name:
        description: The identifier for the playback configuration.
        $ref: '#/definitions/__string'
      PlaybackConfigurationArn:
        description: 'The Amazon Resource Name (ARN) for the playback configuration. '
        $ref: '#/definitions/__string'
      PlaybackEndpointPrefix:
        description: 'The URL that the player accesses to get a manifest from AWS Elemental MediaTailor. This session will use server-side reporting. '
        $ref: '#/definitions/__string'
      SessionInitializationEndpointPrefix:
        description: 'The URL that the player uses to initialize a session that uses client-side reporting. '
        $ref: '#/definitions/__string'
      SlateAdUrl:
        description: 'The URL for a high-quality video asset to transcode and use to fill in time that''s not used by ads. AWS Elemental MediaTailor shows the slate to fill in gaps in media content. Configuring the slate is optional for non-VPAID playback configurations. For VPAID, the slate is required because MediaTailor provides it in the slots designated for dynamic ad content. The slate must be a high-quality asset that contains both audio and video. '
        $ref: '#/definitions/__string'
      Tags:
        description: 'The tags assigned to the playback configuration. '
        $ref: '#/definitions/__mapOf__string'
      TranscodeProfileName:
        description: The name that is used to associate this playback configuration with a custom transcode profile. This overrides the dynamic transcoding defaults of MediaTailor. Use this only if you have already set up custom profiles with the help of AWS Support.
        $ref: '#/definitions/__string'
      VideoContentSourceUrl:
        description: 'The URL prefix for the master playlist for the stream, minus the asset ID. The maximum length is 512 characters.'
        $ref: '#/definitions/__string'
    description: The AWSMediaTailor configuration.
  PutPlaybackConfigurationRequest:
    type: object
    properties:
      AdDecisionServerUrl:
        description: 'The URL for the ad decision server (ADS). This includes the specification of static parameters and placeholders for dynamic parameters. AWS Elemental MediaTailor substitutes player-specific and session-specific parameters as needed when calling the ADS. Alternately, for testing you can provide a static VAST URL. The maximum length is 25,000 characters.'
        $ref: '#/definitions/__string'
      CdnConfiguration:
        description: 'The configuration for using a content delivery network (CDN), like Amazon CloudFront, for content and ad segment management. '
        $ref: '#/definitions/CdnConfiguration'
      DashConfiguration:
        description: 'The configuration for DASH content. '
        $ref: '#/definitions/DashConfigurationForPut'
      Name:
        description: The identifier for the playback configuration.
        $ref: '#/definitions/__string'
      SlateAdUrl:
        description: 'The URL for a high-quality video asset to transcode and use to fill in time that''s not used by ads. AWS Elemental MediaTailor shows the slate to fill in gaps in media content. Configuring the slate is optional for non-VPAID configurations. For VPAID, the slate is required because MediaTailor provides it in the slots that are designated for dynamic ad content. The slate must be a high-quality asset that contains both audio and video. '
        $ref: '#/definitions/__string'
      Tags:
        description: 'The tags to assign to the playback configuration. '
        $ref: '#/definitions/__mapOf__string'
      TranscodeProfileName:
        description: The name that is used to associate this playback configuration with a custom transcode profile. This overrides the dynamic transcoding defaults of MediaTailor. Use this only if you have already set up custom profiles with the help of AWS Support.
        $ref: '#/definitions/__string'
      VideoContentSourceUrl:
        description: 'The URL prefix for the master playlist for the stream, minus the asset ID. The maximum length is 512 characters.'
        $ref: '#/definitions/__string'
  TagResourceRequest:
    required:
      - Tags
    type: object
    properties:
      Tags:
        description: |-
          A comma-separated list of tag key:value pairs. For example: 
           {
           "Key1": "Value1",
           "Key2": "Value2"
           }
           
        $ref: '#/definitions/__mapOf__string'
  __listOf__string:
    type: array
    items:
      $ref: '#/definitions/__string'
  UntagResourceRequest:
    type: object
    properties: {}
