{
  "swagger": "2.0",
  "info": {
    "title": "Enterprise Audit API",
    "description": "Lets you access user activities in your enterprise made through various applications.",
    "contact": {
      "name": "Google",
      "url": "https://google.com"
    },
    "version": "v1"
  },
  "host": "www.googleapis.com",
  "basePath": "/apps/reporting/audit/v1",
  "schemes": [
    "https"
  ],
  "externalDocs": {
    "url": "https://developers.google.com/google-apps/admin-audit/get_started"
  },
  "paths": {
    "/{customerId}/{applicationId}": {
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ],
      "get": {
        "description": "Retrieves a list of activities for a specific customer and application.",
        "operationId": "audit.activities.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Activities"
            }
          }
        },
        "parameters": [
          {
            "name": "actorApplicationId",
            "in": "query",
            "description": "Application ID of the application which interacted on behalf of the user while performing the event.",
            "type": "string"
          },
          {
            "name": "actorEmail",
            "in": "query",
            "description": "Email address of the user who performed the action.",
            "type": "string"
          },
          {
            "name": "actorIpAddress",
            "in": "query",
            "description": "IP Address of host where the event was performed. Supports both IPv4 and IPv6 addresses.",
            "type": "string"
          },
          {
            "name": "applicationId",
            "in": "path",
            "description": "Application ID of the application on which the event was performed.",
            "required": true,
            "type": "string"
          },
          {
            "name": "caller",
            "in": "query",
            "description": "Type of the caller.",
            "type": "string",
            "enum": [
              "application_owner",
              "customer"
            ]
          },
          {
            "name": "continuationToken",
            "in": "query",
            "description": "Next page URL.",
            "type": "string"
          },
          {
            "name": "customerId",
            "in": "path",
            "description": "Represents the customer who is the owner of target object on which action was performed.",
            "required": true,
            "type": "string"
          },
          {
            "name": "endTime",
            "in": "query",
            "description": "Return events which occured at or before this time.",
            "type": "string"
          },
          {
            "name": "eventName",
            "in": "query",
            "description": "Name of the event being queried.",
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Number of activity records to be shown in each page.",
            "type": "integer",
            "minimum": 1,
            "maximum": 1000
          },
          {
            "name": "startTime",
            "in": "query",
            "description": "Return events which occured at or after this time.",
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {
    "Activities": {
      "id": "Activities",
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "description": "Each record in read response.",
          "items": {
            "$ref": "#/definitions/Activity"
          }
        },
        "kind": {
          "type": "string",
          "description": "Kind of list response this is.",
          "default": "audit#activities"
        },
        "next": {
          "type": "string",
          "description": "Next page URL."
        }
      }
    },
    "Activity": {
      "id": "Activity",
      "type": "object",
      "properties": {
        "actor": {
          "type": "object",
          "description": "User doing the action.",
          "properties": {
            "applicationId": {
              "type": "string",
              "description": "ID of application which interacted on behalf of the user.",
              "format": "int64"
            },
            "callerType": {
              "type": "string",
              "description": "User or OAuth 2LO request."
            },
            "email": {
              "type": "string",
              "description": "Email address of the user."
            },
            "key": {
              "type": "string",
              "description": "For OAuth 2LO API requests, consumer_key of the requestor."
            }
          }
        },
        "events": {
          "type": "array",
          "description": "Activity events.",
          "items": {
            "type": "object",
            "properties": {
              "eventType": {
                "type": "string",
                "description": "Type of event."
              },
              "name": {
                "type": "string",
                "description": "Name of event."
              },
              "parameters": {
                "type": "array",
                "description": "Event parameters.",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Name of the parameter."
                    },
                    "value": {
                      "type": "string",
                      "description": "Value of the parameter."
                    }
                  }
                }
              }
            }
          }
        },
        "id": {
          "type": "object",
          "description": "Unique identifier for each activity record.",
          "properties": {
            "applicationId": {
              "type": "string",
              "description": "Application ID of the source application.",
              "format": "int64"
            },
            "customerId": {
              "type": "string",
              "description": "Obfuscated customer ID of the source customer."
            },
            "time": {
              "type": "string",
              "description": "Time of occurrence of the activity.",
              "format": "date-time"
            },
            "uniqQualifier": {
              "type": "string",
              "description": "Unique qualifier if multiple events have the same time.",
              "format": "int64"
            }
          }
        },
        "ipAddress": {
          "type": "string",
          "description": "IP Address of the user doing the action."
        },
        "kind": {
          "type": "string",
          "description": "Kind of resource this is.",
          "default": "audit#activity"
        },
        "ownerDomain": {
          "type": "string",
          "description": "Domain of source customer."
        }
      }
    }
  },
  "parameters": {
    "alt": {
      "name": "alt",
      "in": "query",
      "description": "Data format for the response.",
      "default": "json",
      "type": "string",
      "enum": [
        "atom",
        "json"
      ]
    },
    "fields": {
      "name": "fields",
      "in": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "name": "key",
      "in": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "name": "oauth_token",
      "in": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "name": "prettyPrint",
      "in": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "quotaUser": {
      "name": "quotaUser",
      "in": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
      "type": "string"
    },
    "userIp": {
      "name": "userIp",
      "in": "query",
      "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
      "type": "string"
    }
  }
}