{
  "swagger": "2.0",
  "info": {
    "title": "DFA Reporting API",
    "description": "Lets you create, run and download reports.",
    "contact": {
      "name": "Google",
      "url": "https://google.com"
    },
    "version": "v1"
  },
  "host": "www.googleapis.com",
  "basePath": "/dfareporting/v1",
  "schemes": [
    "https"
  ],
  "externalDocs": {
    "url": "https://developers.google.com/doubleclick-advertisers/reporting/"
  },
  "paths": {
    "/userprofiles/{profileId}/dimensionvalues/query": {
      "post": {
        "description": "Retrieves list of report dimension values for a list of filters.",
        "operationId": "dfareporting.dimensionValues.query",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/DimensionValueList"
            }
          }
        },
        "parameters": [
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of results to return.",
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The value of the nextToken from the previous result page.",
            "type": "string"
          },
          {
            "name": "profileId",
            "in": "path",
            "description": "The DFA user profile id.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dfareporting"
            ]
          }
        ],
        "tags": [
          "dimensionValues"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/userprofiles/{profileId}/files": {
      "get": {
        "description": "Lists files for a user profile.",
        "operationId": "dfareporting.files.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/FileList"
            }
          }
        },
        "parameters": [
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of results to return.",
            "type": "integer",
            "minimum": 0,
            "maximum": 10
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The value of the nextToken from the previous result page.",
            "type": "string"
          },
          {
            "name": "profileId",
            "in": "path",
            "description": "The DFA profile id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "sortField",
            "in": "query",
            "description": "The field to sort the list by.",
            "default": "LAST_MODIFIED_TIME",
            "type": "string",
            "enum": [
              "ID",
              "LAST_MODIFIED_TIME"
            ]
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Order of sorted results, default is 'DESCENDING'.",
            "default": "DESCENDING",
            "type": "string",
            "enum": [
              "ASCENDING",
              "DESCENDING"
            ]
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dfareporting"
            ]
          }
        ],
        "tags": [
          "files"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/userprofiles/{profileId}/reports/{reportId}": {
      "delete": {
        "description": "Deletes a report by its id.",
        "operationId": "dfareporting.reports.delete",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "description": "The DFA user profile id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "reportId",
            "in": "path",
            "description": "The id of the report.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dfareporting"
            ]
          }
        ],
        "tags": [
          "reports"
        ]
      },
      "get": {
        "description": "Retrieves a report by its id.",
        "operationId": "dfareporting.reports.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Report"
            }
          }
        },
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "description": "The DFA user profile id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "reportId",
            "in": "path",
            "description": "The id of the report.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dfareporting"
            ]
          }
        ],
        "tags": [
          "reports"
        ]
      },
      "patch": {
        "description": "Updates a report. This method supports patch semantics.",
        "operationId": "dfareporting.reports.patch",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Report"
            }
          }
        },
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "description": "The DFA user profile id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "reportId",
            "in": "path",
            "description": "The id of the report.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dfareporting"
            ]
          }
        ],
        "tags": [
          "reports"
        ]
      },
      "put": {
        "description": "Updates a report.",
        "operationId": "dfareporting.reports.update",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Report"
            }
          }
        },
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "description": "The DFA user profile id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "reportId",
            "in": "path",
            "description": "The id of the report.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dfareporting"
            ]
          }
        ],
        "tags": [
          "reports"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/userprofiles/{profileId}/reports": {
      "post": {
        "description": "Creates a report.",
        "operationId": "dfareporting.reports.insert",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Report"
            }
          }
        },
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "description": "The DFA user profile id.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dfareporting"
            ]
          }
        ],
        "tags": [
          "reports"
        ]
      },
      "get": {
        "description": "Retrieves list of reports.",
        "operationId": "dfareporting.reports.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ReportList"
            }
          }
        },
        "parameters": [
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of results to return.",
            "type": "integer",
            "minimum": 0,
            "maximum": 10
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The value of the nextToken from the previous result page.",
            "type": "string"
          },
          {
            "name": "profileId",
            "in": "path",
            "description": "The DFA user profile id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "sortField",
            "in": "query",
            "description": "The field to sort the list by.",
            "default": "LAST_MODIFIED_TIME",
            "type": "string",
            "enum": [
              "ID",
              "LAST_MODIFIED_TIME",
              "NAME"
            ]
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Order of sorted results, default is 'DESCENDING'.",
            "default": "DESCENDING",
            "type": "string",
            "enum": [
              "ASCENDING",
              "DESCENDING"
            ]
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dfareporting"
            ]
          }
        ],
        "tags": [
          "reports"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/userprofiles/{profileId}/reports/{reportId}/run": {
      "post": {
        "description": "Runs a report.",
        "operationId": "dfareporting.reports.run",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/File"
            }
          }
        },
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "description": "The DFA profile id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "reportId",
            "in": "path",
            "description": "The id of the report.",
            "required": true,
            "type": "string"
          },
          {
            "name": "synchronous",
            "in": "query",
            "description": "If set and true, tries to run the report synchronously.",
            "type": "boolean"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dfareporting"
            ]
          }
        ],
        "tags": [
          "reports"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/userprofiles/{profileId}/reports/{reportId}/files/{fileId}": {
      "get": {
        "description": "Retrieves a report file.",
        "operationId": "dfareporting.reports.files.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/File"
            }
          }
        },
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The id of the report file.",
            "required": true,
            "type": "string"
          },
          {
            "name": "profileId",
            "in": "path",
            "description": "The DFA profile id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "reportId",
            "in": "path",
            "description": "The id of the report.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dfareporting"
            ]
          }
        ],
        "tags": [
          "files",
          "reports"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/userprofiles/{profileId}/reports/{reportId}/files": {
      "get": {
        "description": "Lists files for a report.",
        "operationId": "dfareporting.reports.files.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/FileList"
            }
          }
        },
        "parameters": [
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of results to return.",
            "type": "integer",
            "minimum": 0,
            "maximum": 10
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The value of the nextToken from the previous result page.",
            "type": "string"
          },
          {
            "name": "profileId",
            "in": "path",
            "description": "The DFA profile id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "reportId",
            "in": "path",
            "description": "The id of the parent report.",
            "required": true,
            "type": "string"
          },
          {
            "name": "sortField",
            "in": "query",
            "description": "The field to sort the list by.",
            "default": "LAST_MODIFIED_TIME",
            "type": "string",
            "enum": [
              "ID",
              "LAST_MODIFIED_TIME"
            ]
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Order of sorted results, default is 'DESCENDING'.",
            "default": "DESCENDING",
            "type": "string",
            "enum": [
              "ASCENDING",
              "DESCENDING"
            ]
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dfareporting"
            ]
          }
        ],
        "tags": [
          "files",
          "reports"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/userprofiles/{profileId}": {
      "get": {
        "description": "Gets one user profile by id.",
        "operationId": "dfareporting.userProfiles.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/UserProfile"
            }
          }
        },
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "description": "The user profile id.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dfareporting"
            ]
          }
        ],
        "tags": [
          "userProfiles"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/userprofiles": {
      "get": {
        "description": "Retrieves list of user profiles for a user.",
        "operationId": "dfareporting.userProfiles.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/UserProfileList"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/dfareporting"
            ]
          }
        ],
        "tags": [
          "userProfiles"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    }
  },
  "definitions": {
    "DimensionFilter": {
      "id": "DimensionFilter",
      "type": "object",
      "description": "Represents a dimension filter.",
      "properties": {
        "dimensionName": {
          "type": "string",
          "description": "The name of the dimension to filter."
        },
        "kind": {
          "type": "string",
          "description": "Kind of resource this is, in this case dfareporting#dimensionFilter.",
          "default": "dfareporting#dimensionFilter"
        },
        "value": {
          "type": "string",
          "description": "The value of the dimension to filter for."
        }
      }
    },
    "DimensionValue": {
      "id": "DimensionValue",
      "type": "object",
      "description": "Represents a DimensionValue resource.",
      "properties": {
        "dimensionName": {
          "type": "string",
          "description": "Name of the dimension."
        },
        "etag": {
          "type": "string",
          "description": "ETag of this response for caching purposes."
        },
        "id": {
          "type": "string",
          "description": "The ID associated with the value if available."
        },
        "kind": {
          "type": "string",
          "description": "Kind of resource this is, in this case dfareporting#dimensionValue.",
          "default": "dfareporting#dimensionValue"
        },
        "value": {
          "type": "string",
          "description": "The value of the dimension."
        }
      }
    },
    "DimensionValueList": {
      "id": "DimensionValueList",
      "type": "object",
      "description": "Represents the list of DimensionValue resources.",
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of this response for caching purposes."
        },
        "items": {
          "type": "array",
          "description": "The dimension values returned in this response.",
          "items": {
            "$ref": "#/definitions/DimensionValue"
          }
        },
        "kind": {
          "type": "string",
          "description": "Kind of list this is, in this case dfareporting#dimensionValueList.",
          "default": "dfareporting#dimensionValueList"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through dimension values. To retrieve the next page of results, set the next request's \"pageToken\" to the value of this field. The page token is only valid for a limited amount of time and should not be persisted."
        }
      }
    },
    "DimensionValueRequest": {
      "id": "DimensionValueRequest",
      "type": "object",
      "description": "Represents a DimensionValuesRequest.",
      "properties": {
        "dimensionName": {
          "type": "string",
          "description": "The name of the dimension values should be requested for."
        },
        "endDate": {
          "type": "string",
          "description": "The end date of the date range for which to retrieve dimension values. A string of the format: \"yyyy-MM-dd\".",
          "format": "date"
        },
        "filters": {
          "type": "array",
          "description": "List of filters to filter values by. The filters are ANDed.",
          "items": {
            "$ref": "#/definitions/DimensionFilter"
          }
        },
        "kind": {
          "type": "string",
          "description": "Kind of request this is, in this case dfareporting#dimensionValueRequest.",
          "default": "dfareporting#dimensionValueRequest"
        },
        "startDate": {
          "type": "string",
          "description": "The start date of the date range for which to retrieve dimension values. A string of the format: \"yyyy-MM-dd\".",
          "format": "date"
        }
      }
    },
    "File": {
      "id": "File",
      "type": "object",
      "description": "Represents a File resource. A File contains the meta-data for a report run. It shows the status of the run and holds the urls to the generated report data if the run is finished and the status is \"REPORT_AVAILABLE\".",
      "properties": {
        "dateRange": {
          "type": "object",
          "description": "The date range for which the file has report data.",
          "properties": {
            "endDate": {
              "type": "string",
              "description": "The end date of the date range, inclusive. A string of the format: \"yyyy-MM-dd\".",
              "format": "date"
            },
            "startDate": {
              "type": "string",
              "description": "The start date of the date range, inclusive. A string of the format: \"yyyy-MM-dd\".",
              "format": "date"
            }
          }
        },
        "etag": {
          "type": "string",
          "description": "ETag of this response for caching purposes."
        },
        "fileName": {
          "type": "string",
          "description": "The file name of the file."
        },
        "id": {
          "type": "string",
          "description": "The unique ID of this report file.",
          "format": "int64"
        },
        "kind": {
          "type": "string",
          "description": "Kind of resource this is, in this case dfareporting#file.",
          "default": "dfareporting#file"
        },
        "lastModifiedTime": {
          "type": "string",
          "description": "The timestamp in milliseconds since epoch when this file was last modified.",
          "format": "int64"
        },
        "reportId": {
          "type": "string",
          "description": "The ID of the report this file was generated from.",
          "format": "int64"
        },
        "status": {
          "type": "string",
          "description": "The status of the report file, one of:  \n- \"PROCESSING\" \n- \"REPORT_AVAILABLE\" \n- \"FAILED\" \n- \"CANCELLED\""
        },
        "urls": {
          "type": "object",
          "description": "The urls where the completed report file can be downloaded.",
          "properties": {
            "csv": {
              "type": "object",
              "description": "Urls for generated CSV data.",
              "properties": {
                "apiUrl": {
                  "type": "string",
                  "description": "The url for downloading the report data through the API."
                },
                "browserUrl": {
                  "type": "string",
                  "description": "The url for downloading the report data through a browser."
                }
              }
            }
          }
        }
      }
    },
    "FileList": {
      "id": "FileList",
      "type": "object",
      "description": "Represents the list of File resources.",
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of this response for caching purposes."
        },
        "items": {
          "type": "array",
          "description": "The files returned in this response.",
          "items": {
            "$ref": "#/definitions/File"
          }
        },
        "kind": {
          "type": "string",
          "description": "Kind of list this is, in this case dfareporting#fileList.",
          "default": "dfareporting#fileList"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through files. To retrieve the next page of results, set the next request's \"pageToken\" to the value of this field. The page token is only valid for a limited amount of time and should not be persisted."
        }
      }
    },
    "Report": {
      "id": "Report",
      "type": "object",
      "description": "Represents a Report resource.",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "The account id this report belongs to.",
          "format": "int64",
          "annotations": {
            "required": [
              "dfareporting.reports.update"
            ]
          }
        },
        "criteria": {
          "type": "object",
          "description": "The report criteria.",
          "properties": {
            "activities": {
              "type": "object",
              "description": "Activity group.",
              "properties": {
                "filters": {
                  "type": "array",
                  "description": "List of activity filters. The dimension values need to be all either of type \"dfa:activity\" or \"dfa:activityGroup\".",
                  "items": {
                    "$ref": "#/definitions/DimensionValue"
                  }
                },
                "metricNames": {
                  "type": "array",
                  "description": "List of names of floodlight activity metrics.",
                  "items": {
                    "type": "string"
                  }
                }
              }
            },
            "customRichMediaEvents": {
              "type": "object",
              "description": "Custom Rich Media Events group.",
              "properties": {
                "filteredEventIds": {
                  "type": "array",
                  "description": "List of custom rich media event IDs. Dimension values must be all of type dfa:richMediaEventTypeIdAndName.",
                  "items": {
                    "$ref": "#/definitions/DimensionValue"
                  }
                }
              }
            },
            "dateRange": {
              "type": "object",
              "description": "The date range this report should be run for.",
              "properties": {
                "endDate": {
                  "type": "string",
                  "description": "The end date of the date range, inclusive. A string of the format: \"yyyy-MM-dd\".",
                  "format": "date"
                },
                "relativeDateRange": {
                  "type": "string",
                  "description": "The date range relative to the date of when the report is run, one of:  \n- \"TODAY\" \n- \"YESTERDAY\" \n- \"WEEK_TO_DATE\" \n- \"MONTH_TO_DATE\" \n- \"QUARTER_TO_DATE\" \n- \"YEAR_TO_DATE\" \n- \"PREVIOUS_WEEK\" \n- \"PREVIOUS_MONTH\" \n- \"PREVIOUS_QUARTER\" \n- \"PREVIOUS_YEAR\" \n- \"LAST_7_DAYS\" \n- \"LAST_30_DAYS\" \n- \"LAST_90_DAYS\" \n- \"LAST_365_DAYS\" \n- \"LAST_24_MONTHS\""
                },
                "startDate": {
                  "type": "string",
                  "description": "The start date of the date range, inclusive. A string of the format: \"yyyy-MM-dd\".",
                  "format": "date"
                }
              }
            },
            "dimensionFilters": {
              "type": "array",
              "description": "The list of filters dimensions are filtered on.\nFilters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed.",
              "items": {
                "$ref": "#/definitions/DimensionValue"
              }
            },
            "dimensions": {
              "type": "array",
              "description": "The list of dimensions the report should include.",
              "items": {
                "$ref": "#/definitions/SortedDimension"
              }
            },
            "metricNames": {
              "type": "array",
              "description": "The list of names of metrics the report should include.",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "etag": {
          "type": "string",
          "description": "ETag of this response for caching purposes."
        },
        "fileName": {
          "type": "string",
          "description": "The file name used when generating report files for this report."
        },
        "id": {
          "type": "string",
          "description": "The unique ID identifying this report resource.",
          "format": "int64",
          "annotations": {
            "required": [
              "dfareporting.reports.update"
            ]
          }
        },
        "kind": {
          "type": "string",
          "description": "Kind of resource this is, in this case dfareporting#report.",
          "default": "dfareporting#report"
        },
        "lastModifiedTime": {
          "type": "string",
          "description": "The timestamp (in milliseconds since epoch) of when this report was last modified.",
          "format": "uint64",
          "annotations": {
            "required": [
              "dfareporting.reports.update"
            ]
          }
        },
        "name": {
          "type": "string",
          "description": "The name of the report.",
          "annotations": {
            "required": [
              "dfareporting.reports.insert",
              "dfareporting.reports.update"
            ]
          }
        },
        "ownerProfileId": {
          "type": "string",
          "description": "The user profile id of the owner of this report.",
          "format": "int64",
          "annotations": {
            "required": [
              "dfareporting.reports.update"
            ]
          }
        },
        "schedule": {
          "type": "object",
          "description": "The report's schedule. Can only be set if the report's 'dateRange' is a relative date range and the relative date range is not \"TODAY\".",
          "properties": {
            "active": {
              "type": "boolean",
              "description": "Whether the schedule is active or not. Must be set to either true or false.",
              "annotations": {
                "required": [
                  "dfareporting.reports.insert",
                  "dfareporting.reports.update"
                ]
              }
            },
            "every": {
              "type": "integer",
              "description": "Defines every how many days, weeks or months the report should be run. Needs to be set when \"repeats\" is either \"DAILY\", \"WEEKLY\" or \"MONTHLY\".",
              "format": "int32"
            },
            "expirationDate": {
              "type": "string",
              "description": "The expiration date when the scheduled report stops running.",
              "format": "date",
              "annotations": {
                "required": [
                  "dfareporting.reports.insert",
                  "dfareporting.reports.update"
                ]
              }
            },
            "repeats": {
              "type": "string",
              "description": "The interval the report is repeated for, one of:  \n- \"DAILY\", also requires field \"every\" to be set. \n- \"WEEKLY\", also requires fields \"every\" and \"repeatsOnWeekDays\" to be set. \n- \"TWICE_A_MONTH\" \n- \"MONTHLY\", also requires fields \"every\" and \"runsOnDayOfMonth\" to be set. \n- \"QUARTERLY\" \n- \"YEARLY\"",
              "annotations": {
                "required": [
                  "dfareporting.reports.insert",
                  "dfareporting.reports.update"
                ]
              }
            },
            "repeatsOnWeekDays": {
              "type": "array",
              "description": "List of week days \"WEEKLY\" scheduled reports should run on.",
              "items": {
                "type": "string"
              }
            },
            "runsOnDayOfMonth": {
              "type": "string",
              "description": "Enum to define for \"MONTHLY\" scheduled reports whether reports should be repeated on the same day of the month as \"startDate\" or the same day of the week of the month. Possible values are:  \n- DAY_OF_MONTH \n- WEEK_OF_MONTH  \nExample: If 'startDate' is Monday, April 2nd 2012 (2012-04-02), \"DAY_OF_MONTH\" would run subsequent reports on the 2nd of every Month, and \"WEEK_OF_MONTH\" would run subsequent reports on the first Monday of the month."
            },
            "startDate": {
              "type": "string",
              "description": "Start date of date range for which scheduled reports should be run.",
              "format": "date",
              "annotations": {
                "required": [
                  "dfareporting.reports.insert",
                  "dfareporting.reports.update"
                ]
              }
            }
          }
        },
        "subAccountId": {
          "type": "string",
          "description": "The subbaccount id this report belongs to if applicable.",
          "format": "int64"
        },
        "type": {
          "type": "string",
          "description": "The type of the report, currently only \"STANDARD\" is supported.",
          "annotations": {
            "required": [
              "dfareporting.reports.insert",
              "dfareporting.reports.update"
            ]
          }
        }
      }
    },
    "ReportList": {
      "id": "ReportList",
      "type": "object",
      "description": "Represents the list of reports.",
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of this response for caching purposes."
        },
        "items": {
          "type": "array",
          "description": "The reports returned in this response.",
          "items": {
            "$ref": "#/definitions/Report"
          }
        },
        "kind": {
          "type": "string",
          "description": "Kind of list this is, in this case dfareporting#reportList.",
          "default": "dfareporting#reportList"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through reports. To retrieve the next page of results, set the next request's \"pageToken\" to the value of this field. The page token is only valid for a limited amount of time and should not be persisted."
        }
      }
    },
    "SortedDimension": {
      "id": "SortedDimension",
      "type": "object",
      "description": "Represents a sorted dimension.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Kind of resource this is, in this case dfareporting#sortedDimension.",
          "default": "dfareporting#sortedDimension"
        },
        "name": {
          "type": "string",
          "description": "The name of the dimension."
        },
        "sortOrder": {
          "type": "string",
          "description": "An optional sort order for the dimension column, one of:  \n- \"ASCENDING\" \n- \"DESCENDING\""
        }
      }
    },
    "UserProfile": {
      "id": "UserProfile",
      "type": "object",
      "description": "Represents a UserProfile resource.",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "The account ID this profile belongs to.",
          "format": "int64"
        },
        "accountName": {
          "type": "string",
          "description": "The account name this profile belongs to."
        },
        "etag": {
          "type": "string",
          "description": "ETag of this response for caching purposes."
        },
        "kind": {
          "type": "string",
          "description": "Kind of resource this is, in this case dfareporting#userProfile.",
          "default": "dfareporting#userProfile"
        },
        "profileId": {
          "type": "string",
          "description": "The unique ID of the user profile.",
          "format": "int64"
        },
        "subAccountId": {
          "type": "string",
          "description": "The sub account ID this profile belongs to if applicable.",
          "format": "int64"
        },
        "subAccountName": {
          "type": "string",
          "description": "The sub account name this profile belongs to if applicable."
        },
        "userName": {
          "type": "string",
          "description": "The user name."
        }
      }
    },
    "UserProfileList": {
      "id": "UserProfileList",
      "type": "object",
      "description": "Represents the list of user profiles.",
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of this response for caching purposes."
        },
        "items": {
          "type": "array",
          "description": "The user profiles returned in this response.",
          "items": {
            "$ref": "#/definitions/UserProfile"
          }
        },
        "kind": {
          "type": "string",
          "description": "Kind of list this is, in this case dfareporting#userProfileList.",
          "default": "dfareporting#userProfileList"
        }
      }
    }
  },
  "parameters": {
    "alt": {
      "name": "alt",
      "in": "query",
      "description": "Data format for the response.",
      "default": "json",
      "type": "string",
      "enum": [
        "json"
      ]
    },
    "fields": {
      "name": "fields",
      "in": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "name": "key",
      "in": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "name": "oauth_token",
      "in": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "name": "prettyPrint",
      "in": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "quotaUser": {
      "name": "quotaUser",
      "in": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
      "type": "string"
    },
    "userIp": {
      "name": "userIp",
      "in": "query",
      "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
      "type": "string"
    }
  },
  "securityDefinitions": {
    "Oauth2": {
      "type": "oauth2",
      "description": "Oauth 2.0 authentication",
      "flow": "implicit",
      "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
      "scopes": {
        "https://www.googleapis.com/auth/dfareporting": "View and manage DoubleClick for Advertisers reports"
      }
    }
  }
}