swagger: '2.0'
info:
  version: '2014-11-12'
  x-release: v4
  title: AWS Config
  description: '<fullname>AWS Config</fullname> <p>AWS Config provides a way to keep track of the configurations of all the AWS resources associated with your AWS account. You can use AWS Config to get the current and historical configurations of each AWS resource and also to get information about the relationship between the resources. An AWS resource can be an Amazon Compute Cloud (Amazon EC2) instance, an Elastic Block Store (EBS) volume, an elastic network Interface (ENI), or a security group. For a complete list of resources currently supported by AWS Config, see <a href="http://docs.aws.amazon.com/config/latest/developerguide/resource-config-reference.html#supported-resources">Supported AWS Resources</a>.</p> <p>You can access and manage AWS Config through the AWS Management Console, the AWS Command Line Interface (AWS CLI), the AWS Config API, or the AWS SDKs for AWS Config. This reference guide contains documentation for the AWS Config API and the AWS CLI commands that you can use to manage AWS Config. The AWS Config API uses the Signature Version 4 protocol for signing requests. For more information about how to sign a request with this protocol, see <a href="http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html">Signature Version 4 Signing Process</a>. For detailed information about AWS Config features and their associated actions or commands, as well as how to work with AWS Management Console, see <a href="http://docs.aws.amazon.com/config/latest/developerguide/WhatIsConfig.html">What Is AWS Config</a> in the <i>AWS Config Developer Guide</i>.</p>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: config
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/config-2014-11-12.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/config/'
host: config.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: header
    type: string
    required: true
  Version:
    name: Version
    in: header
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /:
    post:
      operationId: BatchGetResourceConfig
      description: '<p>Returns the current configuration for one or more requested resources. The operation also returns a list of resources that are not processed in the current request. If there are no unprocessed resources, the operation returns an empty unprocessedResourceKeys list. </p> <note> <ul> <li> <p>The API does not return results for deleted resources.</p> </li> <li> <p> The API does not return any tags for the requested resources. This information is filtered out of the supplementaryConfiguration section of the API response.</p> </li> </ul> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchGetResourceConfigResponse'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: NoAvailableConfigurationRecorderException
          schema:
            $ref: '#/definitions/NoAvailableConfigurationRecorderException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BatchGetResourceConfigRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteAggregationAuthorization':
    post:
      operationId: DeleteAggregationAuthorization
      description: Deletes the authorization granted to the specified configuration aggregator account in a specified region.
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteAggregationAuthorizationRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteConfigRule':
    post:
      operationId: DeleteConfigRule
      description: '<p>Deletes the specified AWS Config rule and all of its evaluation results.</p> <p>AWS Config sets the state of a rule to <code>DELETING</code> until the deletion is complete. You cannot update a rule while it is in this state. If you make a <code>PutConfigRule</code> or <code>DeleteConfigRule</code> request for the rule, you will receive a <code>ResourceInUseException</code>.</p> <p>You can check the state of a rule by using the <code>DescribeConfigRules</code> request.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: NoSuchConfigRuleException
          schema:
            $ref: '#/definitions/NoSuchConfigRuleException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteConfigRuleRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteConfigurationAggregator':
    post:
      operationId: DeleteConfigurationAggregator
      description: Deletes the specified configuration aggregator and the aggregated data associated with the aggregator.
      responses:
        '200':
          description: Success
        '480':
          description: NoSuchConfigurationAggregatorException
          schema:
            $ref: '#/definitions/NoSuchConfigurationAggregatorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteConfigurationAggregatorRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteConfigurationRecorder':
    post:
      operationId: DeleteConfigurationRecorder
      description: '<p>Deletes the configuration recorder.</p> <p>After the configuration recorder is deleted, AWS Config will not record resource configuration changes until you create a new configuration recorder.</p> <p>This action does not delete the configuration information that was previously recorded. You will be able to access the previously recorded information by using the <code>GetResourceConfigHistory</code> action, but you will not be able to access this information in the AWS Config console until you create a new configuration recorder.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: NoSuchConfigurationRecorderException
          schema:
            $ref: '#/definitions/NoSuchConfigurationRecorderException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteConfigurationRecorderRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteDeliveryChannel':
    post:
      operationId: DeleteDeliveryChannel
      description: '<p>Deletes the delivery channel.</p> <p>Before you can delete the delivery channel, you must stop the configuration recorder by using the <a>StopConfigurationRecorder</a> action.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: NoSuchDeliveryChannelException
          schema:
            $ref: '#/definitions/NoSuchDeliveryChannelException'
        '481':
          description: LastDeliveryChannelDeleteFailedException
          schema:
            $ref: '#/definitions/LastDeliveryChannelDeleteFailedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteDeliveryChannelRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteEvaluationResults':
    post:
      operationId: DeleteEvaluationResults
      description: 'Deletes the evaluation results for the specified AWS Config rule. You can specify one AWS Config rule per request. After you delete the evaluation results, you can call the <a>StartConfigRulesEvaluation</a> API to start evaluating your AWS resources against the rule.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteEvaluationResultsResponse'
        '480':
          description: NoSuchConfigRuleException
          schema:
            $ref: '#/definitions/NoSuchConfigRuleException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteEvaluationResultsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeletePendingAggregationRequest':
    post:
      operationId: DeletePendingAggregationRequest
      description: Deletes pending authorization requests for a specified aggregator account in a specified region.
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeletePendingAggregationRequestRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeliverConfigSnapshot':
    post:
      operationId: DeliverConfigSnapshot
      description: '<p>Schedules delivery of a configuration snapshot to the Amazon S3 bucket in the specified delivery channel. After the delivery has started, AWS Config sends the following notifications using an Amazon SNS topic that you have specified.</p> <ul> <li> <p>Notification of the start of the delivery.</p> </li> <li> <p>Notification of the completion of the delivery, if the delivery was successfully completed.</p> </li> <li> <p>Notification of delivery failure, if the delivery failed.</p> </li> </ul>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeliverConfigSnapshotResponse'
        '480':
          description: NoSuchDeliveryChannelException
          schema:
            $ref: '#/definitions/NoSuchDeliveryChannelException'
        '481':
          description: NoAvailableConfigurationRecorderException
          schema:
            $ref: '#/definitions/NoAvailableConfigurationRecorderException'
        '482':
          description: NoRunningConfigurationRecorderException
          schema:
            $ref: '#/definitions/NoRunningConfigurationRecorderException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeliverConfigSnapshotRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeAggregateComplianceByConfigRules':
    post:
      operationId: DescribeAggregateComplianceByConfigRules
      description: '<p>Returns a list of compliant and noncompliant rules with the number of resources for compliant and noncompliant rules. </p> <note> <p>The results can return an empty result page, but if you have a nextToken, the results are displayed on the next page.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAggregateComplianceByConfigRulesResponse'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: InvalidLimitException
          schema:
            $ref: '#/definitions/InvalidLimitException'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '483':
          description: NoSuchConfigurationAggregatorException
          schema:
            $ref: '#/definitions/NoSuchConfigurationAggregatorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeAggregateComplianceByConfigRulesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeAggregationAuthorizations':
    post:
      operationId: DescribeAggregationAuthorizations
      description: Returns a list of authorizations granted to various aggregator accounts and regions.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAggregationAuthorizationsResponse'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '482':
          description: InvalidLimitException
          schema:
            $ref: '#/definitions/InvalidLimitException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeAggregationAuthorizationsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeComplianceByConfigRule':
    post:
      operationId: DescribeComplianceByConfigRule
      description: '<p>Indicates whether the specified AWS Config rules are compliant. If a rule is noncompliant, this action returns the number of AWS resources that do not comply with the rule.</p> <p>A rule is compliant if all of the evaluated resources comply with it. It is noncompliant if any of these resources do not comply.</p> <p>If AWS Config has no current evaluation results for the rule, it returns <code>INSUFFICIENT_DATA</code>. This result might indicate one of the following conditions:</p> <ul> <li> <p>AWS Config has never invoked an evaluation for the rule. To check whether it has, use the <code>DescribeConfigRuleEvaluationStatus</code> action to get the <code>LastSuccessfulInvocationTime</code> and <code>LastFailedInvocationTime</code>.</p> </li> <li> <p>The rule''s AWS Lambda function is failing to send evaluation results to AWS Config. Verify that the role you assigned to your configuration recorder includes the <code>config:PutEvaluations</code> permission. If the rule is a custom rule, verify that the AWS Lambda execution role includes the <code>config:PutEvaluations</code> permission.</p> </li> <li> <p>The rule''s AWS Lambda function has returned <code>NOT_APPLICABLE</code> for all evaluation results. This can occur if the resources were deleted or removed from the rule''s scope.</p> </li> </ul>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeComplianceByConfigRuleResponse'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: NoSuchConfigRuleException
          schema:
            $ref: '#/definitions/NoSuchConfigRuleException'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeComplianceByConfigRuleRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeComplianceByResource':
    post:
      operationId: DescribeComplianceByResource
      description: '<p>Indicates whether the specified AWS resources are compliant. If a resource is noncompliant, this action returns the number of AWS Config rules that the resource does not comply with.</p> <p>A resource is compliant if it complies with all the AWS Config rules that evaluate it. It is noncompliant if it does not comply with one or more of these rules.</p> <p>If AWS Config has no current evaluation results for the resource, it returns <code>INSUFFICIENT_DATA</code>. This result might indicate one of the following conditions about the rules that evaluate the resource:</p> <ul> <li> <p>AWS Config has never invoked an evaluation for the rule. To check whether it has, use the <code>DescribeConfigRuleEvaluationStatus</code> action to get the <code>LastSuccessfulInvocationTime</code> and <code>LastFailedInvocationTime</code>.</p> </li> <li> <p>The rule''s AWS Lambda function is failing to send evaluation results to AWS Config. Verify that the role that you assigned to your configuration recorder includes the <code>config:PutEvaluations</code> permission. If the rule is a custom rule, verify that the AWS Lambda execution role includes the <code>config:PutEvaluations</code> permission.</p> </li> <li> <p>The rule''s AWS Lambda function has returned <code>NOT_APPLICABLE</code> for all evaluation results. This can occur if the resources were deleted or removed from the rule''s scope.</p> </li> </ul>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeComplianceByResourceResponse'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeComplianceByResourceRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeConfigRuleEvaluationStatus':
    post:
      operationId: DescribeConfigRuleEvaluationStatus
      description: 'Returns status information for each of your AWS managed Config rules. The status includes information such as the last time AWS Config invoked the rule, the last time AWS Config failed to invoke the rule, and the related error for the last failure.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeConfigRuleEvaluationStatusResponse'
        '480':
          description: NoSuchConfigRuleException
          schema:
            $ref: '#/definitions/NoSuchConfigRuleException'
        '481':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeConfigRuleEvaluationStatusRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeConfigRules':
    post:
      operationId: DescribeConfigRules
      description: Returns details about your AWS Config rules.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeConfigRulesResponse'
        '480':
          description: NoSuchConfigRuleException
          schema:
            $ref: '#/definitions/NoSuchConfigRuleException'
        '481':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeConfigRulesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeConfigurationAggregatorSourcesStatus':
    post:
      operationId: DescribeConfigurationAggregatorSourcesStatus
      description: 'Returns status information for sources within an aggregator. The status includes information about the last time AWS Config aggregated data from source accounts or AWS Config failed to aggregate data from source accounts with the related error code or message. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeConfigurationAggregatorSourcesStatusResponse'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: NoSuchConfigurationAggregatorException
          schema:
            $ref: '#/definitions/NoSuchConfigurationAggregatorException'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '483':
          description: InvalidLimitException
          schema:
            $ref: '#/definitions/InvalidLimitException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeConfigurationAggregatorSourcesStatusRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeConfigurationAggregators':
    post:
      operationId: DescribeConfigurationAggregators
      description: 'Returns the details of one or more configuration aggregators. If the configuration aggregator is not specified, this action returns the details for all the configuration aggregators associated with the account. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeConfigurationAggregatorsResponse'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: NoSuchConfigurationAggregatorException
          schema:
            $ref: '#/definitions/NoSuchConfigurationAggregatorException'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '483':
          description: InvalidLimitException
          schema:
            $ref: '#/definitions/InvalidLimitException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeConfigurationAggregatorsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeConfigurationRecorderStatus':
    post:
      operationId: DescribeConfigurationRecorderStatus
      description: '<p>Returns the current status of the specified configuration recorder. If a configuration recorder is not specified, this action returns the status of all configuration recorders associated with the account.</p> <note> <p>Currently, you can specify only one configuration recorder per region in your account.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeConfigurationRecorderStatusResponse'
        '480':
          description: NoSuchConfigurationRecorderException
          schema:
            $ref: '#/definitions/NoSuchConfigurationRecorderException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeConfigurationRecorderStatusRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeConfigurationRecorders':
    post:
      operationId: DescribeConfigurationRecorders
      description: '<p>Returns the details for the specified configuration recorders. If the configuration recorder is not specified, this action returns the details for all configuration recorders associated with the account.</p> <note> <p>Currently, you can specify only one configuration recorder per region in your account.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeConfigurationRecordersResponse'
        '480':
          description: NoSuchConfigurationRecorderException
          schema:
            $ref: '#/definitions/NoSuchConfigurationRecorderException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeConfigurationRecordersRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeDeliveryChannelStatus':
    post:
      operationId: DescribeDeliveryChannelStatus
      description: '<p>Returns the current status of the specified delivery channel. If a delivery channel is not specified, this action returns the current status of all delivery channels associated with the account.</p> <note> <p>Currently, you can specify only one delivery channel per region in your account.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDeliveryChannelStatusResponse'
        '480':
          description: NoSuchDeliveryChannelException
          schema:
            $ref: '#/definitions/NoSuchDeliveryChannelException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDeliveryChannelStatusRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeDeliveryChannels':
    post:
      operationId: DescribeDeliveryChannels
      description: '<p>Returns details about the specified delivery channel. If a delivery channel is not specified, this action returns the details of all delivery channels associated with the account.</p> <note> <p>Currently, you can specify only one delivery channel per region in your account.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDeliveryChannelsResponse'
        '480':
          description: NoSuchDeliveryChannelException
          schema:
            $ref: '#/definitions/NoSuchDeliveryChannelException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDeliveryChannelsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribePendingAggregationRequests':
    post:
      operationId: DescribePendingAggregationRequests
      description: Returns a list of all pending aggregation requests.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribePendingAggregationRequestsResponse'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '482':
          description: InvalidLimitException
          schema:
            $ref: '#/definitions/InvalidLimitException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribePendingAggregationRequestsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetAggregateComplianceDetailsByConfigRule':
    post:
      operationId: GetAggregateComplianceDetailsByConfigRule
      description: '<p>Returns the evaluation results for the specified AWS Config rule for a specific resource in a rule. The results indicate which AWS resources were evaluated by the rule, when each resource was last evaluated, and whether each resource complies with the rule. </p> <note> <p>The results can return an empty result page. But if you have a nextToken, the results are displayed on the next page.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetAggregateComplianceDetailsByConfigRuleResponse'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: InvalidLimitException
          schema:
            $ref: '#/definitions/InvalidLimitException'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '483':
          description: NoSuchConfigurationAggregatorException
          schema:
            $ref: '#/definitions/NoSuchConfigurationAggregatorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetAggregateComplianceDetailsByConfigRuleRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetAggregateConfigRuleComplianceSummary':
    post:
      operationId: GetAggregateConfigRuleComplianceSummary
      description: '<p>Returns the number of compliant and noncompliant rules for one or more accounts and regions in an aggregator.</p> <note> <p>The results can return an empty result page, but if you have a nextToken, the results are displayed on the next page.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetAggregateConfigRuleComplianceSummaryResponse'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: InvalidLimitException
          schema:
            $ref: '#/definitions/InvalidLimitException'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '483':
          description: NoSuchConfigurationAggregatorException
          schema:
            $ref: '#/definitions/NoSuchConfigurationAggregatorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetAggregateConfigRuleComplianceSummaryRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetComplianceDetailsByConfigRule':
    post:
      operationId: GetComplianceDetailsByConfigRule
      description: 'Returns the evaluation results for the specified AWS Config rule. The results indicate which AWS resources were evaluated by the rule, when each resource was last evaluated, and whether each resource complies with the rule.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetComplianceDetailsByConfigRuleResponse'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '482':
          description: NoSuchConfigRuleException
          schema:
            $ref: '#/definitions/NoSuchConfigRuleException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetComplianceDetailsByConfigRuleRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetComplianceDetailsByResource':
    post:
      operationId: GetComplianceDetailsByResource
      description: 'Returns the evaluation results for the specified AWS resource. The results indicate which AWS Config rules were used to evaluate the resource, when each rule was last used, and whether the resource complies with each rule.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetComplianceDetailsByResourceResponse'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetComplianceDetailsByResourceRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetComplianceSummaryByConfigRule':
    post:
      operationId: GetComplianceSummaryByConfigRule
      description: 'Returns the number of AWS Config rules that are compliant and noncompliant, up to a maximum of 25 for each.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetComplianceSummaryByConfigRuleResponse'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetComplianceSummaryByResourceType':
    post:
      operationId: GetComplianceSummaryByResourceType
      description: Returns the number of resources that are compliant and the number that are noncompliant. You can specify one or more resource types to get these numbers for each resource type. The maximum number returned is 100.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetComplianceSummaryByResourceTypeResponse'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetComplianceSummaryByResourceTypeRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetDiscoveredResourceCounts':
    post:
      operationId: GetDiscoveredResourceCounts
      description: '<p>Returns the resource types, the number of each resource type, and the total number of resources that AWS Config is recording in this region for your AWS account. </p> <p class="title"> <b>Example</b> </p> <ol> <li> <p>AWS Config is recording three resource types in the US East (Ohio) Region for your account: 25 EC2 instances, 20 IAM users, and 15 S3 buckets.</p> </li> <li> <p>You make a call to the <code>GetDiscoveredResourceCounts</code> action and specify that you want all resource types. </p> </li> <li> <p>AWS Config returns the following:</p> <ul> <li> <p>The resource types (EC2 instances, IAM users, and S3 buckets).</p> </li> <li> <p>The number of each resource type (25, 20, and 15).</p> </li> <li> <p>The total number of all resources (60).</p> </li> </ul> </li> </ol> <p>The response is paginated. By default, AWS Config lists 100 <a>ResourceCount</a> objects on each page. You can customize this number with the <code>limit</code> parameter. The response includes a <code>nextToken</code> string. To get the next page of results, run the request again and specify the string for the <code>nextToken</code> parameter.</p> <note> <p>If you make a call to the <a>GetDiscoveredResourceCounts</a> action, you might not immediately receive resource counts in the following situations:</p> <ul> <li> <p>You are a new AWS Config customer.</p> </li> <li> <p>You just enabled resource recording.</p> </li> </ul> <p>It might take a few minutes for AWS Config to record and count your resources. Wait a few minutes and then retry the <a>GetDiscoveredResourceCounts</a> action. </p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDiscoveredResourceCountsResponse'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: InvalidLimitException
          schema:
            $ref: '#/definitions/InvalidLimitException'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetDiscoveredResourceCountsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetResourceConfigHistory':
    post:
      operationId: GetResourceConfigHistory
      description: '<p>Returns a list of configuration items for the specified resource. The list contains details about each state of the resource during the specified time interval.</p> <p>The response is paginated. By default, AWS Config returns a limit of 10 configuration items per page. You can customize this number with the <code>limit</code> parameter. The response includes a <code>nextToken</code> string. To get the next page of results, run the request again and specify the string for the <code>nextToken</code> parameter.</p> <note> <p>Each call to the API is limited to span a duration of seven days. It is likely that the number of records returned is smaller than the specified <code>limit</code>. In such cases, you can make another call, using the <code>nextToken</code>.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetResourceConfigHistoryResponse'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: InvalidTimeRangeException
          schema:
            $ref: '#/definitions/InvalidTimeRangeException'
        '482':
          description: InvalidLimitException
          schema:
            $ref: '#/definitions/InvalidLimitException'
        '483':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '484':
          description: NoAvailableConfigurationRecorderException
          schema:
            $ref: '#/definitions/NoAvailableConfigurationRecorderException'
        '485':
          description: ResourceNotDiscoveredException
          schema:
            $ref: '#/definitions/ResourceNotDiscoveredException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetResourceConfigHistoryRequest'
        - name: limit
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListDiscoveredResources':
    post:
      operationId: ListDiscoveredResources
      description: '<p>Accepts a resource type and returns a list of resource identifiers for the resources of that type. A resource identifier includes the resource type, ID, and (if available) the custom resource name. The results consist of resources that AWS Config has discovered, including those that AWS Config is not currently recording. You can narrow the results to include only resources that have specific resource IDs or a resource name.</p> <note> <p>You can specify either resource IDs or a resource name, but not both, in the same request.</p> </note> <p>The response is paginated. By default, AWS Config lists 100 resource identifiers on each page. You can customize this number with the <code>limit</code> parameter. The response includes a <code>nextToken</code> string. To get the next page of results, run the request again and specify the string for the <code>nextToken</code> parameter.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDiscoveredResourcesResponse'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: InvalidLimitException
          schema:
            $ref: '#/definitions/InvalidLimitException'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '483':
          description: NoAvailableConfigurationRecorderException
          schema:
            $ref: '#/definitions/NoAvailableConfigurationRecorderException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListDiscoveredResourcesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#PutAggregationAuthorization':
    post:
      operationId: PutAggregationAuthorization
      description: 'Authorizes the aggregator account and region to collect data from the source account and region. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutAggregationAuthorizationResponse'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutAggregationAuthorizationRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#PutConfigRule':
    post:
      operationId: PutConfigRule
      description: '<p>Adds or updates an AWS Config rule for evaluating whether your AWS resources comply with your desired configurations.</p> <p>You can use this action for custom AWS Config rules and AWS managed Config rules. A custom AWS Config rule is a rule that you develop and maintain. An AWS managed Config rule is a customizable, predefined rule that AWS Config provides.</p> <p>If you are adding a new custom AWS Config rule, you must first create the AWS Lambda function that the rule invokes to evaluate your resources. When you use the <code>PutConfigRule</code> action to add the rule to AWS Config, you must specify the Amazon Resource Name (ARN) that AWS Lambda assigns to the function. Specify the ARN for the <code>SourceIdentifier</code> key. This key is part of the <code>Source</code> object, which is part of the <code>ConfigRule</code> object. </p> <p>If you are adding an AWS managed Config rule, specify the rule''s identifier for the <code>SourceIdentifier</code> key. To reference AWS managed Config rule identifiers, see <a href="http://docs.aws.amazon.com/config/latest/developerguide/evaluate-config_use-managed-rules.html">About AWS Managed Config Rules</a>.</p> <p>For any new rule that you add, specify the <code>ConfigRuleName</code> in the <code>ConfigRule</code> object. Do not specify the <code>ConfigRuleArn</code> or the <code>ConfigRuleId</code>. These values are generated by AWS Config for new rules.</p> <p>If you are updating a rule that you added previously, you can specify the rule by <code>ConfigRuleName</code>, <code>ConfigRuleId</code>, or <code>ConfigRuleArn</code> in the <code>ConfigRule</code> data type that you use in this request.</p> <p>The maximum number of rules that AWS Config supports is 50.</p> <p>For information about requesting a rule limit increase, see <a href="http://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html#limits_config">AWS Config Limits</a> in the <i>AWS General Reference Guide</i>.</p> <p>For more information about developing and using AWS Config rules, see <a href="http://docs.aws.amazon.com/config/latest/developerguide/evaluate-config.html">Evaluating AWS Resource Configurations with AWS Config</a> in the <i>AWS Config Developer Guide</i>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: MaxNumberOfConfigRulesExceededException
          schema:
            $ref: '#/definitions/MaxNumberOfConfigRulesExceededException'
        '482':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '483':
          description: InsufficientPermissionsException
          schema:
            $ref: '#/definitions/InsufficientPermissionsException'
        '484':
          description: NoAvailableConfigurationRecorderException
          schema:
            $ref: '#/definitions/NoAvailableConfigurationRecorderException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutConfigRuleRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#PutConfigurationAggregator':
    post:
      operationId: PutConfigurationAggregator
      description: '<p>Creates and updates the configuration aggregator with the selected source accounts and regions. The source account can be individual account(s) or an organization.</p> <note> <p>AWS Config should be enabled in source accounts and regions you want to aggregate.</p> <p>If your source type is an organization, you must be signed in to the master account and all features must be enabled in your organization. AWS Config calls <code>EnableAwsServiceAccess</code> API to enable integration between AWS Config and AWS Organizations. </p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutConfigurationAggregatorResponse'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: InvalidRoleException
          schema:
            $ref: '#/definitions/InvalidRoleException'
        '483':
          description: OrganizationAccessDeniedException
          schema:
            $ref: '#/definitions/OrganizationAccessDeniedException'
        '484':
          description: NoAvailableOrganizationException
          schema:
            $ref: '#/definitions/NoAvailableOrganizationException'
        '485':
          description: OrganizationAllFeaturesNotEnabledException
          schema:
            $ref: '#/definitions/OrganizationAllFeaturesNotEnabledException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutConfigurationAggregatorRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#PutConfigurationRecorder':
    post:
      operationId: PutConfigurationRecorder
      description: '<p>Creates a new configuration recorder to record the selected resource configurations.</p> <p>You can use this action to change the role <code>roleARN</code> or the <code>recordingGroup</code> of an existing recorder. To change the role, call the action on the existing configuration recorder and specify a role.</p> <note> <p>Currently, you can specify only one configuration recorder per region in your account.</p> <p>If <code>ConfigurationRecorder</code> does not have the <b>recordingGroup</b> parameter specified, the default is to record all supported resource types.</p> </note>'
      responses:
        '200':
          description: Success
        '480':
          description: MaxNumberOfConfigurationRecordersExceededException
          schema:
            $ref: '#/definitions/MaxNumberOfConfigurationRecordersExceededException'
        '481':
          description: InvalidConfigurationRecorderNameException
          schema:
            $ref: '#/definitions/InvalidConfigurationRecorderNameException'
        '482':
          description: InvalidRoleException
          schema:
            $ref: '#/definitions/InvalidRoleException'
        '483':
          description: InvalidRecordingGroupException
          schema:
            $ref: '#/definitions/InvalidRecordingGroupException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutConfigurationRecorderRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#PutDeliveryChannel':
    post:
      operationId: PutDeliveryChannel
      description: '<p>Creates a delivery channel object to deliver configuration information to an Amazon S3 bucket and Amazon SNS topic.</p> <p>Before you can create a delivery channel, you must create a configuration recorder.</p> <p>You can use this action to change the Amazon S3 bucket or an Amazon SNS topic of the existing delivery channel. To change the Amazon S3 bucket or an Amazon SNS topic, call this action and specify the changed values for the S3 bucket and the SNS topic. If you specify a different value for either the S3 bucket or the SNS topic, this action will keep the existing value for the parameter that is not changed.</p> <note> <p>You can have only one delivery channel per region in your account.</p> </note>'
      responses:
        '200':
          description: Success
        '480':
          description: MaxNumberOfDeliveryChannelsExceededException
          schema:
            $ref: '#/definitions/MaxNumberOfDeliveryChannelsExceededException'
        '481':
          description: NoAvailableConfigurationRecorderException
          schema:
            $ref: '#/definitions/NoAvailableConfigurationRecorderException'
        '482':
          description: InvalidDeliveryChannelNameException
          schema:
            $ref: '#/definitions/InvalidDeliveryChannelNameException'
        '483':
          description: NoSuchBucketException
          schema:
            $ref: '#/definitions/NoSuchBucketException'
        '484':
          description: InvalidS3KeyPrefixException
          schema:
            $ref: '#/definitions/InvalidS3KeyPrefixException'
        '485':
          description: InvalidSNSTopicARNException
          schema:
            $ref: '#/definitions/InvalidSNSTopicARNException'
        '486':
          description: InsufficientDeliveryPolicyException
          schema:
            $ref: '#/definitions/InsufficientDeliveryPolicyException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutDeliveryChannelRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#PutEvaluations':
    post:
      operationId: PutEvaluations
      description: Used by an AWS Lambda function to deliver evaluation results to AWS Config. This action is required in every AWS Lambda function that is invoked by an AWS Config rule.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutEvaluationsResponse'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: InvalidResultTokenException
          schema:
            $ref: '#/definitions/InvalidResultTokenException'
        '482':
          description: NoSuchConfigRuleException
          schema:
            $ref: '#/definitions/NoSuchConfigRuleException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutEvaluationsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#StartConfigRulesEvaluation':
    post:
      operationId: StartConfigRulesEvaluation
      description: '<p>Runs an on-demand evaluation for the specified AWS Config rules against the last known configuration state of the resources. Use <code>StartConfigRulesEvaluation</code> when you want to test that a rule you updated is working as expected. <code>StartConfigRulesEvaluation</code> does not re-record the latest configuration state for your resources. It re-runs an evaluation against the last known state of your resources. </p> <p>You can specify up to 25 AWS Config rules per request. </p> <p>An existing <code>StartConfigRulesEvaluation</code> call for the specified rules must complete before you can call the API again. If you chose to have AWS Config stream to an Amazon SNS topic, you will receive a <code>ConfigRuleEvaluationStarted</code> notification when the evaluation starts.</p> <note> <p>You don''t need to call the <code>StartConfigRulesEvaluation</code> API to run an evaluation for a new rule. When you create a rule, AWS Config evaluates your resources against the rule automatically. </p> </note> <p>The <code>StartConfigRulesEvaluation</code> API is useful if you want to run on-demand evaluations, such as the following example:</p> <ol> <li> <p>You have a custom rule that evaluates your IAM resources every 24 hours.</p> </li> <li> <p>You update your Lambda function to add additional conditions to your rule.</p> </li> <li> <p>Instead of waiting for the next periodic evaluation, you call the <code>StartConfigRulesEvaluation</code> API.</p> </li> <li> <p>AWS Config invokes your Lambda function and evaluates your IAM resources.</p> </li> <li> <p>Your custom rule will still run periodic evaluations every 24 hours.</p> </li> </ol>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartConfigRulesEvaluationResponse'
        '480':
          description: NoSuchConfigRuleException
          schema:
            $ref: '#/definitions/NoSuchConfigRuleException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '483':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StartConfigRulesEvaluationRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#StartConfigurationRecorder':
    post:
      operationId: StartConfigurationRecorder
      description: <p>Starts recording configurations of the AWS resources you have selected to record in your AWS account.</p> <p>You must have created at least one delivery channel to successfully start the configuration recorder.</p>
      responses:
        '200':
          description: Success
        '480':
          description: NoSuchConfigurationRecorderException
          schema:
            $ref: '#/definitions/NoSuchConfigurationRecorderException'
        '481':
          description: NoAvailableDeliveryChannelException
          schema:
            $ref: '#/definitions/NoAvailableDeliveryChannelException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StartConfigurationRecorderRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#StopConfigurationRecorder':
    post:
      operationId: StopConfigurationRecorder
      description: Stops recording configurations of the AWS resources you have selected to record in your AWS account.
      responses:
        '200':
          description: Success
        '480':
          description: NoSuchConfigurationRecorderException
          schema:
            $ref: '#/definitions/NoSuchConfigurationRecorderException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StopConfigurationRecorderRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  ARN:
    type: string
  AccountAggregationSource:
    type: object
    required:
      - AccountIds
    properties:
      AccountIds:
        $ref: '#/definitions/AccountAggregationSourceAccountList'
        description: 'The 12-digit account ID of the account being aggregated. '
      AllAwsRegions:
        $ref: '#/definitions/Boolean'
        description: 'If true, aggreagate existing AWS Config regions and future regions.'
      AwsRegions:
        $ref: '#/definitions/AggregatorRegionList'
        description: The source regions being aggregated.
    description: A collection of accounts and regions.
  AccountAggregationSourceAccountList:
    type: array
    items:
      $ref: '#/definitions/AccountId'
    minItems: 1
  AccountAggregationSourceList:
    type: array
    items:
      $ref: '#/definitions/AccountAggregationSource'
    minItems: 0
    maxItems: 1
  AccountId:
    type: string
    pattern: '\d{12}'
  AggregateComplianceByConfigRule:
    type: object
    properties:
      ConfigRuleName:
        $ref: '#/definitions/ConfigRuleName'
        description: The name of the AWS Config rule.
      Compliance:
        $ref: '#/definitions/Compliance'
        description: Indicates whether an AWS resource or AWS Config rule is compliant and provides the number of contributors that affect the compliance.
      AccountId:
        $ref: '#/definitions/AccountId'
        description: The 12-digit account ID of the source account.
      AwsRegion:
        $ref: '#/definitions/AwsRegion'
        description: The source region from where the data is aggregated.
    description: '<p>Indicates whether an AWS Config rule is compliant based on account ID, region, compliance, and rule name.</p> <p>A rule is compliant if all of the resources that the rule evaluated comply with it. It is noncompliant if any of these resources do not comply.</p>'
  AggregateComplianceByConfigRuleList:
    type: array
    items:
      $ref: '#/definitions/AggregateComplianceByConfigRule'
  AggregateComplianceCount:
    type: object
    properties:
      GroupName:
        $ref: '#/definitions/StringWithCharLimit256'
        description: The 12-digit account ID or region based on the GroupByKey value.
      ComplianceSummary:
        $ref: '#/definitions/ComplianceSummary'
        description: The number of compliant and noncompliant AWS Config rules.
    description: Returns the number of compliant and noncompliant rules for one or more accounts and regions in an aggregator.
  AggregateComplianceCountList:
    type: array
    items:
      $ref: '#/definitions/AggregateComplianceCount'
  AggregateEvaluationResult:
    type: object
    properties:
      EvaluationResultIdentifier:
        $ref: '#/definitions/EvaluationResultIdentifier'
        description: Uniquely identifies the evaluation result.
      ComplianceType:
        $ref: '#/definitions/ComplianceType'
        description: '<p>The resource compliance status.</p> <p>For the <code>AggregationEvaluationResult</code> data type, AWS Config supports only the <code>COMPLIANT</code> and <code>NON_COMPLIANT</code>. AWS Config does not support the <code>NOT_APPLICABLE</code> and <code>INSUFFICIENT_DATA</code> value.</p>'
      ResultRecordedTime:
        $ref: '#/definitions/Date'
        description: The time when AWS Config recorded the aggregate evaluation result.
      ConfigRuleInvokedTime:
        $ref: '#/definitions/Date'
        description: The time when the AWS Config rule evaluated the AWS resource.
      Annotation:
        $ref: '#/definitions/StringWithCharLimit256'
        description: Supplementary information about how the agrregate evaluation determined the compliance.
      AccountId:
        $ref: '#/definitions/AccountId'
        description: The 12-digit account ID of the source account.
      AwsRegion:
        $ref: '#/definitions/AwsRegion'
        description: The source region from where the data is aggregated.
    description: 'The details of an AWS Config evaluation for an account ID and region in an aggregator. Provides the AWS resource that was evaluated, the compliance of the resource, related time stamps, and supplementary information. '
  AggregateEvaluationResultList:
    type: array
    items:
      $ref: '#/definitions/AggregateEvaluationResult'
  AggregatedSourceStatus:
    type: object
    properties:
      SourceId:
        $ref: '#/definitions/String'
        description: The source account ID or an organization.
      SourceType:
        $ref: '#/definitions/AggregatedSourceType'
        description: The source account or an organization.
      AwsRegion:
        $ref: '#/definitions/AwsRegion'
        description: The region authorized to collect aggregated data.
      LastUpdateStatus:
        $ref: '#/definitions/AggregatedSourceStatusType'
        description: <p>Filters the last updated status type.</p> <ul> <li> <p>Valid value FAILED indicates errors while moving data.</p> </li> <li> <p>Valid value SUCCEEDED indicates the data was successfully moved.</p> </li> <li> <p>Valid value OUTDATED indicates the data is not the most recent.</p> </li> </ul>
      LastUpdateTime:
        $ref: '#/definitions/Date'
        description: The time of the last update.
      LastErrorCode:
        $ref: '#/definitions/String'
        description: The error code that AWS Config returned when the source account aggregation last failed.
      LastErrorMessage:
        $ref: '#/definitions/String'
        description: The message indicating that the source account aggregation failed due to an error.
    description: The current sync status between the source and the aggregator account.
  AggregatedSourceStatusList:
    type: array
    items:
      $ref: '#/definitions/AggregatedSourceStatus'
  AggregatedSourceStatusType:
    type: string
    enum:
      - FAILED
      - SUCCEEDED
      - OUTDATED
  AggregatedSourceStatusTypeList:
    type: array
    items:
      $ref: '#/definitions/AggregatedSourceStatusType'
    minItems: 1
  AggregatedSourceType:
    type: string
    enum:
      - ACCOUNT
      - ORGANIZATION
  AggregationAuthorization:
    type: object
    properties:
      AggregationAuthorizationArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the aggregation object.
      AuthorizedAccountId:
        $ref: '#/definitions/AccountId'
        description: The 12-digit account ID of the account authorized to aggregate data.
      AuthorizedAwsRegion:
        $ref: '#/definitions/AwsRegion'
        description: The region authorized to collect aggregated data.
      CreationTime:
        $ref: '#/definitions/Date'
        description: The time stamp when the aggregation authorization was created.
    description: An object that represents the authorizations granted to aggregator accounts and regions.
  AggregationAuthorizationList:
    type: array
    items:
      $ref: '#/definitions/AggregationAuthorization'
  AggregatorRegionList:
    type: array
    items:
      $ref: '#/definitions/String'
    minItems: 1
  AllSupported:
    type: boolean
  AvailabilityZone:
    type: string
  AwsRegion:
    type: string
    minLength: 1
    maxLength: 64
  BaseConfigurationItem:
    type: object
    properties:
      version:
        $ref: '#/definitions/Version'
        description: The version number of the resource configuration.
      accountId:
        $ref: '#/definitions/AccountId'
        description: The 12 digit AWS account ID associated with the resource.
      configurationItemCaptureTime:
        $ref: '#/definitions/ConfigurationItemCaptureTime'
        description: The time when the configuration recording was initiated.
      configurationItemStatus:
        $ref: '#/definitions/ConfigurationItemStatus'
        description: The configuration item status.
      configurationStateId:
        $ref: '#/definitions/ConfigurationStateId'
        description: An identifier that indicates the ordering of the configuration items of a resource.
      arn:
        $ref: '#/definitions/ARN'
        description: The Amazon Resource Name (ARN) of the resource.
      resourceType:
        $ref: '#/definitions/ResourceType'
        description: The type of AWS resource.
      resourceId:
        $ref: '#/definitions/ResourceId'
        description: 'The ID of the resource (for example., sg-xxxxxx).'
      resourceName:
        $ref: '#/definitions/ResourceName'
        description: 'The custom name of the resource, if available.'
      awsRegion:
        $ref: '#/definitions/AwsRegion'
        description: The region where the resource resides.
      availabilityZone:
        $ref: '#/definitions/AvailabilityZone'
        description: The Availability Zone associated with the resource.
      resourceCreationTime:
        $ref: '#/definitions/ResourceCreationTime'
        description: The time stamp when the resource was created.
      configuration:
        $ref: '#/definitions/Configuration'
        description: The description of the resource configuration.
      supplementaryConfiguration:
        $ref: '#/definitions/SupplementaryConfiguration'
        description: Configuration attributes that AWS Config returns for certain resource types to supplement the information returned for the configuration parameter.
    description: The detailed configuration of a specified resource.
  BaseConfigurationItems:
    type: array
    items:
      $ref: '#/definitions/BaseConfigurationItem'
  BaseResourceId:
    type: string
    minLength: 1
    maxLength: 768
  BatchGetResourceConfigRequest:
    type: object
    required:
      - resourceKeys
    properties:
      resourceKeys:
        $ref: '#/definitions/ResourceKeys'
        description: A list of resource keys to be processed with the current request. Each element in the list consists of the resource type and resource ID.
  BatchGetResourceConfigResponse:
    type: object
    properties:
      baseConfigurationItems:
        $ref: '#/definitions/BaseConfigurationItems'
        description: A list that contains the current configuration of one or more resources.
      unprocessedResourceKeys:
        $ref: '#/definitions/ResourceKeys'
        description: 'A list of resource keys that were not processed with the current response. The unprocessesResourceKeys value is in the same form as ResourceKeys, so the value can be directly provided to a subsequent BatchGetResourceConfig operation. If there are no unprocessed resource keys, the response contains an empty unprocessedResourceKeys list. '
  Boolean:
    type: boolean
  ChannelName:
    type: string
    minLength: 1
    maxLength: 256
  ChronologicalOrder:
    type: string
    enum:
      - Reverse
      - Forward
  Compliance:
    type: object
    properties:
      ComplianceType:
        $ref: '#/definitions/ComplianceType'
        description: '<p>Indicates whether an AWS resource or AWS Config rule is compliant.</p> <p>A resource is compliant if it complies with all of the AWS Config rules that evaluate it. A resource is noncompliant if it does not comply with one or more of these rules.</p> <p>A rule is compliant if all of the resources that the rule evaluates comply with it. A rule is noncompliant if any of these resources do not comply.</p> <p>AWS Config returns the <code>INSUFFICIENT_DATA</code> value when no evaluation results are available for the AWS resource or AWS Config rule.</p> <p>For the <code>Compliance</code> data type, AWS Config supports only <code>COMPLIANT</code>, <code>NON_COMPLIANT</code>, and <code>INSUFFICIENT_DATA</code> values. AWS Config does not support the <code>NOT_APPLICABLE</code> value for the <code>Compliance</code> data type.</p>'
      ComplianceContributorCount:
        $ref: '#/definitions/ComplianceContributorCount'
        description: 'The number of AWS resources or AWS Config rules that cause a result of <code>NON_COMPLIANT</code>, up to a maximum number.'
    description: Indicates whether an AWS resource or AWS Config rule is compliant and provides the number of contributors that affect the compliance.
  ComplianceByConfigRule:
    type: object
    properties:
      ConfigRuleName:
        $ref: '#/definitions/StringWithCharLimit64'
        description: The name of the AWS Config rule.
      Compliance:
        $ref: '#/definitions/Compliance'
        description: Indicates whether the AWS Config rule is compliant.
    description: Indicates whether an AWS Config rule is compliant. A rule is compliant if all of the resources that the rule evaluated comply with it. A rule is noncompliant if any of these resources do not comply.
  ComplianceByConfigRules:
    type: array
    items:
      $ref: '#/definitions/ComplianceByConfigRule'
  ComplianceByResource:
    type: object
    properties:
      ResourceType:
        $ref: '#/definitions/StringWithCharLimit256'
        description: The type of the AWS resource that was evaluated.
      ResourceId:
        $ref: '#/definitions/BaseResourceId'
        description: The ID of the AWS resource that was evaluated.
      Compliance:
        $ref: '#/definitions/Compliance'
        description: Indicates whether the AWS resource complies with all of the AWS Config rules that evaluated it.
    description: Indicates whether an AWS resource that is evaluated according to one or more AWS Config rules is compliant. A resource is compliant if it complies with all of the rules that evaluate it. A resource is noncompliant if it does not comply with one or more of these rules.
  ComplianceByResources:
    type: array
    items:
      $ref: '#/definitions/ComplianceByResource'
  ComplianceContributorCount:
    type: object
    properties:
      CappedCount:
        $ref: '#/definitions/Integer'
        description: The number of AWS resources or AWS Config rules responsible for the current compliance of the item.
      CapExceeded:
        $ref: '#/definitions/Boolean'
        description: Indicates whether the maximum count is reached.
    description: 'The number of AWS resources or AWS Config rules responsible for the current compliance of the item, up to a maximum number.'
  ComplianceResourceTypes:
    type: array
    items:
      $ref: '#/definitions/StringWithCharLimit256'
    minItems: 0
    maxItems: 100
  ComplianceSummariesByResourceType:
    type: array
    items:
      $ref: '#/definitions/ComplianceSummaryByResourceType'
  ComplianceSummary:
    type: object
    properties:
      CompliantResourceCount:
        $ref: '#/definitions/ComplianceContributorCount'
        description: 'The number of AWS Config rules or AWS resources that are compliant, up to a maximum of 25 for rules and 100 for resources.'
      NonCompliantResourceCount:
        $ref: '#/definitions/ComplianceContributorCount'
        description: 'The number of AWS Config rules or AWS resources that are noncompliant, up to a maximum of 25 for rules and 100 for resources.'
      ComplianceSummaryTimestamp:
        $ref: '#/definitions/Date'
        description: The time that AWS Config created the compliance summary.
    description: The number of AWS Config rules or AWS resources that are compliant and noncompliant.
  ComplianceSummaryByResourceType:
    type: object
    properties:
      ResourceType:
        $ref: '#/definitions/StringWithCharLimit256'
        description: The type of AWS resource.
      ComplianceSummary:
        $ref: '#/definitions/ComplianceSummary'
        description: 'The number of AWS resources that are compliant or noncompliant, up to a maximum of 100 for each.'
    description: 'The number of AWS resources of a specific type that are compliant or noncompliant, up to a maximum of 100 for each.'
  ComplianceType:
    type: string
    enum:
      - COMPLIANT
      - NON_COMPLIANT
      - NOT_APPLICABLE
      - INSUFFICIENT_DATA
  ComplianceTypes:
    type: array
    items:
      $ref: '#/definitions/ComplianceType'
    minItems: 0
    maxItems: 3
  ConfigExportDeliveryInfo:
    type: object
    properties:
      lastStatus:
        $ref: '#/definitions/DeliveryStatus'
        description: Status of the last attempted delivery.
      lastErrorCode:
        $ref: '#/definitions/String'
        description: The error code from the last attempted delivery.
      lastErrorMessage:
        $ref: '#/definitions/String'
        description: The error message from the last attempted delivery.
      lastAttemptTime:
        $ref: '#/definitions/Date'
        description: The time of the last attempted delivery.
      lastSuccessfulTime:
        $ref: '#/definitions/Date'
        description: The time of the last successful delivery.
      nextDeliveryTime:
        $ref: '#/definitions/Date'
        description: The time that the next delivery occurs.
    description: Provides status of the delivery of the snapshot or the configuration history to the specified Amazon S3 bucket. Also provides the status of notifications about the Amazon S3 delivery to the specified Amazon SNS topic.
  ConfigRule:
    type: object
    required:
      - Source
    properties:
      ConfigRuleName:
        $ref: '#/definitions/StringWithCharLimit64'
        description: The name that you assign to the AWS Config rule. The name is required if you are adding a new rule.
      ConfigRuleArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the AWS Config rule.
      ConfigRuleId:
        $ref: '#/definitions/String'
        description: The ID of the AWS Config rule.
      Description:
        $ref: '#/definitions/EmptiableStringWithCharLimit256'
        description: The description that you provide for the AWS Config rule.
      Scope:
        $ref: '#/definitions/Scope'
        description: 'Defines which resources can trigger an evaluation for the rule. The scope can include one or more resource types, a combination of one resource type and one resource ID, or a combination of a tag key and value. Specify a scope to constrain the resources that can trigger an evaluation for the rule. If you do not specify a scope, evaluations are triggered when any resource in the recording group changes.'
      Source:
        $ref: '#/definitions/Source'
        description: 'Provides the rule owner (AWS or customer), the rule identifier, and the notifications that cause the function to evaluate your AWS resources.'
      InputParameters:
        $ref: '#/definitions/StringWithCharLimit1024'
        description: 'A string, in JSON format, that is passed to the AWS Config rule Lambda function.'
      MaximumExecutionFrequency:
        $ref: '#/definitions/MaximumExecutionFrequency'
        description: '<p>The maximum frequency with which AWS Config runs evaluations for a rule. You can specify a value for <code>MaximumExecutionFrequency</code> when:</p> <ul> <li> <p>You are using an AWS managed rule that is triggered at a periodic frequency.</p> </li> <li> <p>Your custom rule is triggered when AWS Config delivers the configuration snapshot. For more information, see <a>ConfigSnapshotDeliveryProperties</a>.</p> </li> </ul> <note> <p>By default, rules with a periodic trigger are evaluated every 24 hours. To change the frequency, specify a valid value for the <code>MaximumExecutionFrequency</code> parameter.</p> </note>'
      ConfigRuleState:
        $ref: '#/definitions/ConfigRuleState'
        description: '<p>Indicates whether the AWS Config rule is active or is currently being deleted by AWS Config. It can also indicate the evaluation status for the AWS Config rule.</p> <p>AWS Config sets the state of the rule to <code>EVALUATING</code> temporarily after you use the <code>StartConfigRulesEvaluation</code> request to evaluate your resources against the AWS Config rule.</p> <p>AWS Config sets the state of the rule to <code>DELETING_RESULTS</code> temporarily after you use the <code>DeleteEvaluationResults</code> request to delete the current evaluation results for the AWS Config rule.</p> <p>AWS Config temporarily sets the state of a rule to <code>DELETING</code> after you use the <code>DeleteConfigRule</code> request to delete the rule. After AWS Config deletes the rule, the rule and all of its evaluations are erased and are no longer available.</p>'
    description: '<p>An AWS Config rule represents an AWS Lambda function that you create for a custom rule or a predefined function for an AWS managed rule. The function evaluates configuration items to assess whether your AWS resources comply with your desired configurations. This function can run when AWS Config detects a configuration change to an AWS resource and at a periodic frequency that you choose (for example, every 24 hours).</p> <note> <p>You can use the AWS CLI and AWS SDKs if you want to create a rule that triggers evaluations for your resources when AWS Config delivers the configuration snapshot. For more information, see <a>ConfigSnapshotDeliveryProperties</a>.</p> </note> <p>For more information about developing and using AWS Config rules, see <a href="http://docs.aws.amazon.com/config/latest/developerguide/evaluate-config.html">Evaluating AWS Resource Configurations with AWS Config</a> in the <i>AWS Config Developer Guide</i>.</p>'
  ConfigRuleComplianceFilters:
    type: object
    properties:
      ConfigRuleName:
        $ref: '#/definitions/ConfigRuleName'
        description: The name of the AWS Config rule.
      ComplianceType:
        $ref: '#/definitions/ComplianceType'
        description: '<p>The rule compliance status.</p> <p>For the <code>ConfigRuleComplianceFilters</code> data type, AWS Config supports only <code>COMPLIANT</code> and <code>NON_COMPLIANT</code>. AWS Config does not support the <code>NOT_APPLICABLE</code> and the <code>INSUFFICIENT_DATA</code> values.</p>'
      AccountId:
        $ref: '#/definitions/AccountId'
        description: 'The 12-digit account ID of the source account. '
      AwsRegion:
        $ref: '#/definitions/AwsRegion'
        description: 'The source region where the data is aggregated. '
    description: 'Filters the compliance results based on account ID, region, compliance type, and rule name.'
  ConfigRuleComplianceSummaryFilters:
    type: object
    properties:
      AccountId:
        $ref: '#/definitions/AccountId'
        description: The 12-digit account ID of the source account.
      AwsRegion:
        $ref: '#/definitions/AwsRegion'
        description: The source region where the data is aggregated.
    description: Filters the results based on the account IDs and regions.
  ConfigRuleComplianceSummaryGroupKey:
    type: string
    enum:
      - ACCOUNT_ID
      - AWS_REGION
  ConfigRuleEvaluationStatus:
    type: object
    properties:
      ConfigRuleName:
        $ref: '#/definitions/StringWithCharLimit64'
        description: The name of the AWS Config rule.
      ConfigRuleArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the AWS Config rule.
      ConfigRuleId:
        $ref: '#/definitions/String'
        description: The ID of the AWS Config rule.
      LastSuccessfulInvocationTime:
        $ref: '#/definitions/Date'
        description: The time that AWS Config last successfully invoked the AWS Config rule to evaluate your AWS resources.
      LastFailedInvocationTime:
        $ref: '#/definitions/Date'
        description: The time that AWS Config last failed to invoke the AWS Config rule to evaluate your AWS resources.
      LastSuccessfulEvaluationTime:
        $ref: '#/definitions/Date'
        description: The time that AWS Config last successfully evaluated your AWS resources against the rule.
      LastFailedEvaluationTime:
        $ref: '#/definitions/Date'
        description: The time that AWS Config last failed to evaluate your AWS resources against the rule.
      FirstActivatedTime:
        $ref: '#/definitions/Date'
        description: The time that you first activated the AWS Config rule.
      LastErrorCode:
        $ref: '#/definitions/String'
        description: The error code that AWS Config returned when the rule last failed.
      LastErrorMessage:
        $ref: '#/definitions/String'
        description: The error message that AWS Config returned when the rule last failed.
      FirstEvaluationStarted:
        $ref: '#/definitions/Boolean'
        description: <p>Indicates whether AWS Config has evaluated your resources against the rule at least once.</p> <ul> <li> <p> <code>true</code> - AWS Config has evaluated your AWS resources against the rule at least once.</p> </li> <li> <p> <code>false</code> - AWS Config has not once finished evaluating your AWS resources against the rule.</p> </li> </ul>
    description: '<p>Status information for your AWS managed Config rules. The status includes information such as the last time the rule ran, the last time it failed, and the related error for the last failure.</p> <p>This action does not return status information about custom AWS Config rules.</p>'
  ConfigRuleEvaluationStatusList:
    type: array
    items:
      $ref: '#/definitions/ConfigRuleEvaluationStatus'
  ConfigRuleName:
    type: string
    minLength: 1
    maxLength: 64
  ConfigRuleNames:
    type: array
    items:
      $ref: '#/definitions/StringWithCharLimit64'
    minItems: 0
    maxItems: 25
  ConfigRuleState:
    type: string
    enum:
      - ACTIVE
      - DELETING
      - DELETING_RESULTS
      - EVALUATING
  ConfigRules:
    type: array
    items:
      $ref: '#/definitions/ConfigRule'
  ConfigSnapshotDeliveryProperties:
    type: object
    properties:
      deliveryFrequency:
        $ref: '#/definitions/MaximumExecutionFrequency'
        description: The frequency with which AWS Config delivers configuration snapshots.
    description: '<p>Provides options for how often AWS Config delivers configuration snapshots to the Amazon S3 bucket in your delivery channel.</p> <note> <p>If you want to create a rule that triggers evaluations for your resources when AWS Config delivers the configuration snapshot, see the following:</p> </note> <p>The frequency for a rule that triggers evaluations for your resources when AWS Config delivers the configuration snapshot is set by one of two values, depending on which is less frequent:</p> <ul> <li> <p>The value for the <code>deliveryFrequency</code> parameter within the delivery channel configuration, which sets how often AWS Config delivers configuration snapshots. This value also sets how often AWS Config invokes evaluations for AWS Config rules.</p> </li> <li> <p>The value for the <code>MaximumExecutionFrequency</code> parameter, which sets the maximum frequency with which AWS Config invokes evaluations for the rule. For more information, see <a>ConfigRule</a>.</p> </li> </ul> <p>If the <code>deliveryFrequency</code> value is less frequent than the <code>MaximumExecutionFrequency</code> value for a rule, AWS Config invokes the rule only as often as the <code>deliveryFrequency</code> value.</p> <ol> <li> <p>For example, you want your rule to run evaluations when AWS Config delivers the configuration snapshot.</p> </li> <li> <p>You specify the <code>MaximumExecutionFrequency</code> value for <code>Six_Hours</code>. </p> </li> <li> <p>You then specify the delivery channel <code>deliveryFrequency</code> value for <code>TwentyFour_Hours</code>.</p> </li> <li> <p>Because the value for <code>deliveryFrequency</code> is less frequent than <code>MaximumExecutionFrequency</code>, AWS Config invokes evaluations for the rule every 24 hours. </p> </li> </ol> <p>You should set the <code>MaximumExecutionFrequency</code> value to be at least as frequent as the <code>deliveryFrequency</code> value. You can view the <code>deliveryFrequency</code> value by using the <code>DescribeDeliveryChannnels</code> action.</p> <p>To update the <code>deliveryFrequency</code> with which AWS Config delivers your configuration snapshots, use the <code>PutDeliveryChannel</code> action.</p>'
  ConfigStreamDeliveryInfo:
    type: object
    properties:
      lastStatus:
[...]
