swagger: '2.0'
info:
  version: '2014-11-12'
  x-release: v4
  title: AWS Config
  description: '<fullname>AWS Config</fullname> <p>AWS Config provides a way to keep track of the configurations of all the AWS resources associated with your AWS account. You can use AWS Config to get the current and historical configurations of each AWS resource and also to get information about the relationship between the resources. An AWS resource can be an Amazon Compute Cloud (Amazon EC2) instance, an Elastic Block Store (EBS) volume, an elastic network Interface (ENI), or a security group. For a complete list of resources currently supported by AWS Config, see <a href="https://docs.aws.amazon.com/config/latest/developerguide/resource-config-reference.html#supported-resources">Supported AWS Resources</a>.</p> <p>You can access and manage AWS Config through the AWS Management Console, the AWS Command Line Interface (AWS CLI), the AWS Config API, or the AWS SDKs for AWS Config. This reference guide contains documentation for the AWS Config API and the AWS CLI commands that you can use to manage AWS Config. The AWS Config API uses the Signature Version 4 protocol for signing requests. For more information about how to sign a request with this protocol, see <a href="https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html">Signature Version 4 Signing Process</a>. For detailed information about AWS Config features and their associated actions or commands, as well as how to work with AWS Management Console, see <a href="https://docs.aws.amazon.com/config/latest/developerguide/WhatIsConfig.html">What Is AWS Config</a> in the <i>AWS Config Developer Guide</i>.</p>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: config
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/config-2014-11-12.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/config/'
host: config.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  '/#X-Amz-Target=StarlingDoveService.BatchGetAggregateResourceConfig':
    post:
      operationId: BatchGetAggregateResourceConfig
      description: '<p>Returns the current configuration items for resources that are present in your AWS Config aggregator. The operation also returns a list of resources that are not processed in the current request. If there are no unprocessed resources, the operation returns an empty <code>unprocessedResourceIdentifiers</code> list. </p> <note> <ul> <li> <p>The API does not return results for deleted resources.</p> </li> <li> <p> The API does not return tags and relationships.</p> </li> </ul> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchGetAggregateResourceConfigResponse'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: NoSuchConfigurationAggregatorException
          schema:
            $ref: '#/definitions/NoSuchConfigurationAggregatorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BatchGetAggregateResourceConfigRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.BatchGetAggregateResourceConfig
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.BatchGetResourceConfig':
    post:
      operationId: BatchGetResourceConfig
      description: '<p>Returns the current configuration for one or more requested resources. The operation also returns a list of resources that are not processed in the current request. If there are no unprocessed resources, the operation returns an empty unprocessedResourceKeys list. </p> <note> <ul> <li> <p>The API does not return results for deleted resources.</p> </li> <li> <p> The API does not return any tags for the requested resources. This information is filtered out of the supplementaryConfiguration section of the API response.</p> </li> </ul> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchGetResourceConfigResponse'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: NoAvailableConfigurationRecorderException
          schema:
            $ref: '#/definitions/NoAvailableConfigurationRecorderException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BatchGetResourceConfigRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.BatchGetResourceConfig
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.DeleteAggregationAuthorization':
    post:
      operationId: DeleteAggregationAuthorization
      description: Deletes the authorization granted to the specified configuration aggregator account in a specified region.
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteAggregationAuthorizationRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.DeleteAggregationAuthorization
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.DeleteConfigRule':
    post:
      operationId: DeleteConfigRule
      description: '<p>Deletes the specified AWS Config rule and all of its evaluation results.</p> <p>AWS Config sets the state of a rule to <code>DELETING</code> until the deletion is complete. You cannot update a rule while it is in this state. If you make a <code>PutConfigRule</code> or <code>DeleteConfigRule</code> request for the rule, you will receive a <code>ResourceInUseException</code>.</p> <p>You can check the state of a rule by using the <code>DescribeConfigRules</code> request.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: NoSuchConfigRuleException
          schema:
            $ref: '#/definitions/NoSuchConfigRuleException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteConfigRuleRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.DeleteConfigRule
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.DeleteConfigurationAggregator':
    post:
      operationId: DeleteConfigurationAggregator
      description: Deletes the specified configuration aggregator and the aggregated data associated with the aggregator.
      responses:
        '200':
          description: Success
        '480':
          description: NoSuchConfigurationAggregatorException
          schema:
            $ref: '#/definitions/NoSuchConfigurationAggregatorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteConfigurationAggregatorRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.DeleteConfigurationAggregator
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.DeleteConfigurationRecorder':
    post:
      operationId: DeleteConfigurationRecorder
      description: '<p>Deletes the configuration recorder.</p> <p>After the configuration recorder is deleted, AWS Config will not record resource configuration changes until you create a new configuration recorder.</p> <p>This action does not delete the configuration information that was previously recorded. You will be able to access the previously recorded information by using the <code>GetResourceConfigHistory</code> action, but you will not be able to access this information in the AWS Config console until you create a new configuration recorder.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: NoSuchConfigurationRecorderException
          schema:
            $ref: '#/definitions/NoSuchConfigurationRecorderException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteConfigurationRecorderRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.DeleteConfigurationRecorder
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.DeleteDeliveryChannel':
    post:
      operationId: DeleteDeliveryChannel
      description: '<p>Deletes the delivery channel.</p> <p>Before you can delete the delivery channel, you must stop the configuration recorder by using the <a>StopConfigurationRecorder</a> action.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: NoSuchDeliveryChannelException
          schema:
            $ref: '#/definitions/NoSuchDeliveryChannelException'
        '481':
          description: LastDeliveryChannelDeleteFailedException
          schema:
            $ref: '#/definitions/LastDeliveryChannelDeleteFailedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteDeliveryChannelRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.DeleteDeliveryChannel
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.DeleteEvaluationResults':
    post:
      operationId: DeleteEvaluationResults
      description: 'Deletes the evaluation results for the specified AWS Config rule. You can specify one AWS Config rule per request. After you delete the evaluation results, you can call the <a>StartConfigRulesEvaluation</a> API to start evaluating your AWS resources against the rule.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteEvaluationResultsResponse'
        '480':
          description: NoSuchConfigRuleException
          schema:
            $ref: '#/definitions/NoSuchConfigRuleException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteEvaluationResultsRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.DeleteEvaluationResults
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.DeletePendingAggregationRequest':
    post:
      operationId: DeletePendingAggregationRequest
      description: Deletes pending authorization requests for a specified aggregator account in a specified region.
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeletePendingAggregationRequestRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.DeletePendingAggregationRequest
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.DeleteRemediationConfiguration':
    post:
      operationId: DeleteRemediationConfiguration
      description: Deletes the remediation configuration.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteRemediationConfigurationResponse'
        '480':
          description: NoSuchRemediationConfigurationException
          schema:
            $ref: '#/definitions/NoSuchRemediationConfigurationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteRemediationConfigurationRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.DeleteRemediationConfiguration
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.DeleteRetentionConfiguration':
    post:
      operationId: DeleteRetentionConfiguration
      description: Deletes the retention configuration.
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: NoSuchRetentionConfigurationException
          schema:
            $ref: '#/definitions/NoSuchRetentionConfigurationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteRetentionConfigurationRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.DeleteRetentionConfiguration
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.DeliverConfigSnapshot':
    post:
      operationId: DeliverConfigSnapshot
      description: '<p>Schedules delivery of a configuration snapshot to the Amazon S3 bucket in the specified delivery channel. After the delivery has started, AWS Config sends the following notifications using an Amazon SNS topic that you have specified.</p> <ul> <li> <p>Notification of the start of the delivery.</p> </li> <li> <p>Notification of the completion of the delivery, if the delivery was successfully completed.</p> </li> <li> <p>Notification of delivery failure, if the delivery failed.</p> </li> </ul>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeliverConfigSnapshotResponse'
        '480':
          description: NoSuchDeliveryChannelException
          schema:
            $ref: '#/definitions/NoSuchDeliveryChannelException'
        '481':
          description: NoAvailableConfigurationRecorderException
          schema:
            $ref: '#/definitions/NoAvailableConfigurationRecorderException'
        '482':
          description: NoRunningConfigurationRecorderException
          schema:
            $ref: '#/definitions/NoRunningConfigurationRecorderException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeliverConfigSnapshotRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.DeliverConfigSnapshot
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.DescribeAggregateComplianceByConfigRules':
    post:
      operationId: DescribeAggregateComplianceByConfigRules
      description: '<p>Returns a list of compliant and noncompliant rules with the number of resources for compliant and noncompliant rules. </p> <note> <p>The results can return an empty result page, but if you have a nextToken, the results are displayed on the next page.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAggregateComplianceByConfigRulesResponse'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: InvalidLimitException
          schema:
            $ref: '#/definitions/InvalidLimitException'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '483':
          description: NoSuchConfigurationAggregatorException
          schema:
            $ref: '#/definitions/NoSuchConfigurationAggregatorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeAggregateComplianceByConfigRulesRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.DescribeAggregateComplianceByConfigRules
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.DescribeAggregationAuthorizations':
    post:
      operationId: DescribeAggregationAuthorizations
      description: Returns a list of authorizations granted to various aggregator accounts and regions.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAggregationAuthorizationsResponse'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '482':
          description: InvalidLimitException
          schema:
            $ref: '#/definitions/InvalidLimitException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeAggregationAuthorizationsRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.DescribeAggregationAuthorizations
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.DescribeComplianceByConfigRule':
    post:
      operationId: DescribeComplianceByConfigRule
      description: '<p>Indicates whether the specified AWS Config rules are compliant. If a rule is noncompliant, this action returns the number of AWS resources that do not comply with the rule.</p> <p>A rule is compliant if all of the evaluated resources comply with it. It is noncompliant if any of these resources do not comply.</p> <p>If AWS Config has no current evaluation results for the rule, it returns <code>INSUFFICIENT_DATA</code>. This result might indicate one of the following conditions:</p> <ul> <li> <p>AWS Config has never invoked an evaluation for the rule. To check whether it has, use the <code>DescribeConfigRuleEvaluationStatus</code> action to get the <code>LastSuccessfulInvocationTime</code> and <code>LastFailedInvocationTime</code>.</p> </li> <li> <p>The rule''s AWS Lambda function is failing to send evaluation results to AWS Config. Verify that the role you assigned to your configuration recorder includes the <code>config:PutEvaluations</code> permission. If the rule is a custom rule, verify that the AWS Lambda execution role includes the <code>config:PutEvaluations</code> permission.</p> </li> <li> <p>The rule''s AWS Lambda function has returned <code>NOT_APPLICABLE</code> for all evaluation results. This can occur if the resources were deleted or removed from the rule''s scope.</p> </li> </ul>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeComplianceByConfigRuleResponse'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: NoSuchConfigRuleException
          schema:
            $ref: '#/definitions/NoSuchConfigRuleException'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeComplianceByConfigRuleRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.DescribeComplianceByConfigRule
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.DescribeComplianceByResource':
    post:
      operationId: DescribeComplianceByResource
      description: '<p>Indicates whether the specified AWS resources are compliant. If a resource is noncompliant, this action returns the number of AWS Config rules that the resource does not comply with.</p> <p>A resource is compliant if it complies with all the AWS Config rules that evaluate it. It is noncompliant if it does not comply with one or more of these rules.</p> <p>If AWS Config has no current evaluation results for the resource, it returns <code>INSUFFICIENT_DATA</code>. This result might indicate one of the following conditions about the rules that evaluate the resource:</p> <ul> <li> <p>AWS Config has never invoked an evaluation for the rule. To check whether it has, use the <code>DescribeConfigRuleEvaluationStatus</code> action to get the <code>LastSuccessfulInvocationTime</code> and <code>LastFailedInvocationTime</code>.</p> </li> <li> <p>The rule''s AWS Lambda function is failing to send evaluation results to AWS Config. Verify that the role that you assigned to your configuration recorder includes the <code>config:PutEvaluations</code> permission. If the rule is a custom rule, verify that the AWS Lambda execution role includes the <code>config:PutEvaluations</code> permission.</p> </li> <li> <p>The rule''s AWS Lambda function has returned <code>NOT_APPLICABLE</code> for all evaluation results. This can occur if the resources were deleted or removed from the rule''s scope.</p> </li> </ul>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeComplianceByResourceResponse'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeComplianceByResourceRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.DescribeComplianceByResource
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.DescribeConfigRuleEvaluationStatus':
    post:
      operationId: DescribeConfigRuleEvaluationStatus
      description: 'Returns status information for each of your AWS managed Config rules. The status includes information such as the last time AWS Config invoked the rule, the last time AWS Config failed to invoke the rule, and the related error for the last failure.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeConfigRuleEvaluationStatusResponse'
        '480':
          description: NoSuchConfigRuleException
          schema:
            $ref: '#/definitions/NoSuchConfigRuleException'
        '481':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeConfigRuleEvaluationStatusRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.DescribeConfigRuleEvaluationStatus
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.DescribeConfigRules':
    post:
      operationId: DescribeConfigRules
      description: Returns details about your AWS Config rules.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeConfigRulesResponse'
        '480':
          description: NoSuchConfigRuleException
          schema:
            $ref: '#/definitions/NoSuchConfigRuleException'
        '481':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeConfigRulesRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.DescribeConfigRules
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.DescribeConfigurationAggregatorSourcesStatus':
    post:
      operationId: DescribeConfigurationAggregatorSourcesStatus
      description: 'Returns status information for sources within an aggregator. The status includes information about the last time AWS Config verified authorization between the source account and an aggregator account. In case of a failure, the status contains the related error code or message. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeConfigurationAggregatorSourcesStatusResponse'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: NoSuchConfigurationAggregatorException
          schema:
            $ref: '#/definitions/NoSuchConfigurationAggregatorException'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '483':
          description: InvalidLimitException
          schema:
            $ref: '#/definitions/InvalidLimitException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeConfigurationAggregatorSourcesStatusRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.DescribeConfigurationAggregatorSourcesStatus
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.DescribeConfigurationAggregators':
    post:
      operationId: DescribeConfigurationAggregators
      description: 'Returns the details of one or more configuration aggregators. If the configuration aggregator is not specified, this action returns the details for all the configuration aggregators associated with the account. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeConfigurationAggregatorsResponse'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: NoSuchConfigurationAggregatorException
          schema:
            $ref: '#/definitions/NoSuchConfigurationAggregatorException'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '483':
          description: InvalidLimitException
          schema:
            $ref: '#/definitions/InvalidLimitException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeConfigurationAggregatorsRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.DescribeConfigurationAggregators
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.DescribeConfigurationRecorderStatus':
    post:
      operationId: DescribeConfigurationRecorderStatus
      description: '<p>Returns the current status of the specified configuration recorder. If a configuration recorder is not specified, this action returns the status of all configuration recorders associated with the account.</p> <note> <p>Currently, you can specify only one configuration recorder per region in your account.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeConfigurationRecorderStatusResponse'
        '480':
          description: NoSuchConfigurationRecorderException
          schema:
            $ref: '#/definitions/NoSuchConfigurationRecorderException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeConfigurationRecorderStatusRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.DescribeConfigurationRecorderStatus
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.DescribeConfigurationRecorders':
    post:
      operationId: DescribeConfigurationRecorders
      description: '<p>Returns the details for the specified configuration recorders. If the configuration recorder is not specified, this action returns the details for all configuration recorders associated with the account.</p> <note> <p>Currently, you can specify only one configuration recorder per region in your account.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeConfigurationRecordersResponse'
        '480':
          description: NoSuchConfigurationRecorderException
          schema:
            $ref: '#/definitions/NoSuchConfigurationRecorderException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeConfigurationRecordersRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.DescribeConfigurationRecorders
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.DescribeDeliveryChannelStatus':
    post:
      operationId: DescribeDeliveryChannelStatus
      description: '<p>Returns the current status of the specified delivery channel. If a delivery channel is not specified, this action returns the current status of all delivery channels associated with the account.</p> <note> <p>Currently, you can specify only one delivery channel per region in your account.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDeliveryChannelStatusResponse'
        '480':
          description: NoSuchDeliveryChannelException
          schema:
            $ref: '#/definitions/NoSuchDeliveryChannelException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDeliveryChannelStatusRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.DescribeDeliveryChannelStatus
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.DescribeDeliveryChannels':
    post:
      operationId: DescribeDeliveryChannels
      description: '<p>Returns details about the specified delivery channel. If a delivery channel is not specified, this action returns the details of all delivery channels associated with the account.</p> <note> <p>Currently, you can specify only one delivery channel per region in your account.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDeliveryChannelsResponse'
        '480':
          description: NoSuchDeliveryChannelException
          schema:
            $ref: '#/definitions/NoSuchDeliveryChannelException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDeliveryChannelsRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.DescribeDeliveryChannels
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.DescribePendingAggregationRequests':
    post:
      operationId: DescribePendingAggregationRequests
      description: Returns a list of all pending aggregation requests.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribePendingAggregationRequestsResponse'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '482':
          description: InvalidLimitException
          schema:
            $ref: '#/definitions/InvalidLimitException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribePendingAggregationRequestsRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.DescribePendingAggregationRequests
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.DescribeRemediationConfigurations':
    post:
      operationId: DescribeRemediationConfigurations
      description: Returns the details of one or more remediation configurations.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeRemediationConfigurationsResponse'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeRemediationConfigurationsRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.DescribeRemediationConfigurations
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.DescribeRemediationExecutionStatus':
    post:
      operationId: DescribeRemediationExecutionStatus
      description: 'Provides a detailed view of a Remediation Execution for a set of resources including state, timestamps for when steps for the remediation execution occur, and any error messages for steps that have failed. When you specify the limit and the next token, you receive a paginated response.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeRemediationExecutionStatusResponse'
        '480':
          description: NoSuchRemediationConfigurationException
          schema:
            $ref: '#/definitions/NoSuchRemediationConfigurationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeRemediationExecutionStatusRequest'
        - name: Limit
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.DescribeRemediationExecutionStatus
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.DescribeRetentionConfigurations':
    post:
      operationId: DescribeRetentionConfigurations
      description: '<p>Returns the details of one or more retention configurations. If the retention configuration name is not specified, this action returns the details for all the retention configurations for that account.</p> <note> <p>Currently, AWS Config supports only one retention configuration per region in your account.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeRetentionConfigurationsResponse'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: NoSuchRetentionConfigurationException
          schema:
            $ref: '#/definitions/NoSuchRetentionConfigurationException'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeRetentionConfigurationsRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.DescribeRetentionConfigurations
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.GetAggregateComplianceDetailsByConfigRule':
    post:
      operationId: GetAggregateComplianceDetailsByConfigRule
      description: '<p>Returns the evaluation results for the specified AWS Config rule for a specific resource in a rule. The results indicate which AWS resources were evaluated by the rule, when each resource was last evaluated, and whether each resource complies with the rule. </p> <note> <p>The results can return an empty result page. But if you have a nextToken, the results are displayed on the next page.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetAggregateComplianceDetailsByConfigRuleResponse'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: InvalidLimitException
          schema:
            $ref: '#/definitions/InvalidLimitException'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '483':
          description: NoSuchConfigurationAggregatorException
          schema:
            $ref: '#/definitions/NoSuchConfigurationAggregatorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetAggregateComplianceDetailsByConfigRuleRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.GetAggregateComplianceDetailsByConfigRule
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.GetAggregateConfigRuleComplianceSummary':
    post:
      operationId: GetAggregateConfigRuleComplianceSummary
      description: '<p>Returns the number of compliant and noncompliant rules for one or more accounts and regions in an aggregator.</p> <note> <p>The results can return an empty result page, but if you have a nextToken, the results are displayed on the next page.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetAggregateConfigRuleComplianceSummaryResponse'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: InvalidLimitException
          schema:
            $ref: '#/definitions/InvalidLimitException'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '483':
          description: NoSuchConfigurationAggregatorException
          schema:
            $ref: '#/definitions/NoSuchConfigurationAggregatorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetAggregateConfigRuleComplianceSummaryRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.GetAggregateConfigRuleComplianceSummary
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.GetAggregateDiscoveredResourceCounts':
    post:
      operationId: GetAggregateDiscoveredResourceCounts
      description: '<p>Returns the resource counts across accounts and regions that are present in your AWS Config aggregator. You can request the resource counts by providing filters and GroupByKey.</p> <p>For example, if the input contains accountID 12345678910 and region us-east-1 in filters, the API returns the count of resources in account ID 12345678910 and region us-east-1. If the input contains ACCOUNT_ID as a GroupByKey, the API returns resource counts for all source accounts that are present in your aggregator.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetAggregateDiscoveredResourceCountsResponse'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: InvalidLimitException
          schema:
            $ref: '#/definitions/InvalidLimitException'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '483':
          description: NoSuchConfigurationAggregatorException
          schema:
            $ref: '#/definitions/NoSuchConfigurationAggregatorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetAggregateDiscoveredResourceCountsRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.GetAggregateDiscoveredResourceCounts
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.GetAggregateResourceConfig':
    post:
      operationId: GetAggregateResourceConfig
      description: Returns configuration item that is aggregated for your specific resource in a specific source account and region.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetAggregateResourceConfigResponse'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: NoSuchConfigurationAggregatorException
          schema:
            $ref: '#/definitions/NoSuchConfigurationAggregatorException'
        '482':
          description: OversizedConfigurationItemException
          schema:
            $ref: '#/definitions/OversizedConfigurationItemException'
        '483':
          description: ResourceNotDiscoveredException
          schema:
            $ref: '#/definitions/ResourceNotDiscoveredException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetAggregateResourceConfigRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.GetAggregateResourceConfig
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.GetComplianceDetailsByConfigRule':
    post:
      operationId: GetComplianceDetailsByConfigRule
      description: 'Returns the evaluation results for the specified AWS Config rule. The results indicate which AWS resources were evaluated by the rule, when each resource was last evaluated, and whether each resource complies with the rule.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetComplianceDetailsByConfigRuleResponse'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '482':
          description: NoSuchConfigRuleException
          schema:
            $ref: '#/definitions/NoSuchConfigRuleException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetComplianceDetailsByConfigRuleRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.GetComplianceDetailsByConfigRule
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.GetComplianceDetailsByResource':
    post:
      operationId: GetComplianceDetailsByResource
      description: 'Returns the evaluation results for the specified AWS resource. The results indicate which AWS Config rules were used to evaluate the resource, when each rule was last used, and whether the resource complies with each rule.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetComplianceDetailsByResourceResponse'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetComplianceDetailsByResourceRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.GetComplianceDetailsByResource
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.GetComplianceSummaryByConfigRule':
    post:
      operationId: GetComplianceSummaryByConfigRule
      description: 'Returns the number of AWS Config rules that are compliant and noncompliant, up to a maximum of 25 for each.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetComplianceSummaryByConfigRuleResponse'
      parameters:
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.GetComplianceSummaryByConfigRule
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.GetComplianceSummaryByResourceType':
    post:
      operationId: GetComplianceSummaryByResourceType
      description: Returns the number of resources that are compliant and the number that are noncompliant. You can specify one or more resource types to get these numbers for each resource type. The maximum number returned is 100.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetComplianceSummaryByResourceTypeResponse'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetComplianceSummaryByResourceTypeRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.GetComplianceSummaryByResourceType
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.GetDiscoveredResourceCounts':
    post:
      operationId: GetDiscoveredResourceCounts
      description: '<p>Returns the resource types, the number of each resource type, and the total number of resources that AWS Config is recording in this region for your AWS account. </p> <p class="title"> <b>Example</b> </p> <ol> <li> <p>AWS Config is recording three resource types in the US East (Ohio) Region for your account: 25 EC2 instances, 20 IAM users, and 15 S3 buckets.</p> </li> <li> <p>You make a call to the <code>GetDiscoveredResourceCounts</code> action and specify that you want all resource types. </p> </li> <li> <p>AWS Config returns the following:</p> <ul> <li> <p>The resource types (EC2 instances, IAM users, and S3 buckets).</p> </li> <li> <p>The number of each resource type (25, 20, and 15).</p> </li> <li> <p>The total number of all resources (60).</p> </li> </ul> </li> </ol> <p>The response is paginated. By default, AWS Config lists 100 <a>ResourceCount</a> objects on each page. You can customize this number with the <code>limit</code> parameter. The response includes a <code>nextToken</code> string. To get the next page of results, run the request again and specify the string for the <code>nextToken</code> parameter.</p> <note> <p>If you make a call to the <a>GetDiscoveredResourceCounts</a> action, you might not immediately receive resource counts in the following situations:</p> <ul> <li> <p>You are a new AWS Config customer.</p> </li> <li> <p>You just enabled resource recording.</p> </li> </ul> <p>It might take a few minutes for AWS Config to record and count your resources. Wait a few minutes and then retry the <a>GetDiscoveredResourceCounts</a> action. </p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDiscoveredResourceCountsResponse'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: InvalidLimitException
          schema:
            $ref: '#/definitions/InvalidLimitException'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetDiscoveredResourceCountsRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.GetDiscoveredResourceCounts
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.GetResourceConfigHistory':
    post:
      operationId: GetResourceConfigHistory
      description: '<p>Returns a list of configuration items for the specified resource. The list contains details about each state of the resource during the specified time interval. If you specified a retention period to retain your <code>ConfigurationItems</code> between a minimum of 30 days and a maximum of 7 years (2557 days), AWS Config returns the <code>ConfigurationItems</code> for the specified retention period. </p> <p>The response is paginated. By default, AWS Config returns a limit of 10 configuration items per page. You can customize this number with the <code>limit</code> parameter. The response includes a <code>nextToken</code> string. To get the next page of results, run the request again and specify the string for the <code>nextToken</code> parameter.</p> <note> <p>Each call to the API is limited to span a duration of seven days. It is likely that the number of records returned is smaller than the specified <code>limit</code>. In such cases, you can make another call, using the <code>nextToken</code>.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetResourceConfigHistoryResponse'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: InvalidTimeRangeException
          schema:
            $ref: '#/definitions/InvalidTimeRangeException'
        '482':
          description: InvalidLimitException
          schema:
            $ref: '#/definitions/InvalidLimitException'
        '483':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '484':
          description: NoAvailableConfigurationRecorderException
          schema:
            $ref: '#/definitions/NoAvailableConfigurationRecorderException'
        '485':
          description: ResourceNotDiscoveredException
          schema:
            $ref: '#/definitions/ResourceNotDiscoveredException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetResourceConfigHistoryRequest'
        - name: limit
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.GetResourceConfigHistory
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.ListAggregateDiscoveredResources':
    post:
      operationId: ListAggregateDiscoveredResources
      description: '<p>Accepts a resource type and returns a list of resource identifiers that are aggregated for a specific resource type across accounts and regions. A resource identifier includes the resource type, ID, (if available) the custom resource name, source account, and source region. You can narrow the results to include only resources that have specific resource IDs, or a resource name, or source account ID, or source region.</p> <p>For example, if the input consists of accountID 12345678910 and the region is us-east-1 for resource type <code>AWS::EC2::Instance</code> then the API returns all the EC2 instance identifiers of accountID 12345678910 and region us-east-1.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListAggregateDiscoveredResourcesResponse'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: InvalidLimitException
          schema:
            $ref: '#/definitions/InvalidLimitException'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '483':
          description: NoSuchConfigurationAggregatorException
          schema:
            $ref: '#/definitions/NoSuchConfigurationAggregatorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListAggregateDiscoveredResourcesRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.ListAggregateDiscoveredResources
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.ListDiscoveredResources':
    post:
      operationId: ListDiscoveredResources
      description: '<p>Accepts a resource type and returns a list of resource identifiers for the resources of that type. A resource identifier includes the resource type, ID, and (if available) the custom resource name. The results consist of resources that AWS Config has discovered, including those that AWS Config is not currently recording. You can narrow the results to include only resources that have specific resource IDs or a resource name.</p> <note> <p>You can specify either resource IDs or a resource name, but not both, in the same request.</p> </note> <p>The response is paginated. By default, AWS Config lists 100 resource identifiers on each page. You can customize this number with the <code>limit</code> parameter. The response includes a <code>nextToken</code> string. To get the next page of results, run the request again and specify the string for the <code>nextToken</code> parameter.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDiscoveredResourcesResponse'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: InvalidLimitException
          schema:
            $ref: '#/definitions/InvalidLimitException'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '483':
          description: NoAvailableConfigurationRecorderException
          schema:
            $ref: '#/definitions/NoAvailableConfigurationRecorderException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListDiscoveredResourcesRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.ListDiscoveredResources
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.ListTagsForResource':
    post:
      operationId: ListTagsForResource
      description: List the tags for AWS Config resource.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForResourceResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '482':
          description: InvalidLimitException
          schema:
            $ref: '#/definitions/InvalidLimitException'
        '483':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListTagsForResourceRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.ListTagsForResource
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.PutAggregationAuthorization':
    post:
      operationId: PutAggregationAuthorization
      description: 'Authorizes the aggregator account and region to collect data from the source account and region. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutAggregationAuthorizationResponse'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutAggregationAuthorizationRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.PutAggregationAuthorization
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.PutConfigRule':
    post:
      operationId: PutConfigRule
      description: '<p>Adds or updates an AWS Config rule for evaluating whether your AWS resources comply with your desired configurations.</p> <p>You can use this action for custom AWS Config rules and AWS managed Config rules. A custom AWS Config rule is a rule that you develop and maintain. An AWS managed Config rule is a customizable, predefined rule that AWS Config provides.</p> <p>If you are adding a new custom AWS Config rule, you must first create the AWS Lambda function that the rule invokes to evaluate your resources. When you use the <code>PutConfigRule</code> action to add the rule to AWS Config, you must specify the Amazon Resource Name (ARN) that AWS Lambda assigns to the function. Specify the ARN for the <code>SourceIdentifier</code> key. This key is part of the <code>Source</code> object, which is part of the <code>ConfigRule</code> object. </p> <p>If you are adding an AWS managed Config rule, specify the rule''s identifier for the <code>SourceIdentifier</code> key. To reference AWS managed Config rule identifiers, see <a href="https://docs.aws.amazon.com/config/latest/developerguide/evaluate-config_use-managed-rules.html">About AWS Managed Config Rules</a>.</p> <p>For any new rule that you add, specify the <code>ConfigRuleName</code> in the <code>ConfigRule</code> object. Do not specify the <code>ConfigRuleArn</code> or the <code>ConfigRuleId</code>. These values are generated by AWS Config for new rules.</p> <p>If you are updating a rule that you added previously, you can specify the rule by <code>ConfigRuleName</code>, <code>ConfigRuleId</code>, or <code>ConfigRuleArn</code> in the <code>ConfigRule</code> data type that you use in this request.</p> <p>The maximum number of rules that AWS Config supports is 150.</p> <p>For information about requesting a rule limit increase, see <a href="http://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html#limits_config">AWS Config Limits</a> in the <i>AWS General Reference Guide</i>.</p> <p>For more information about developing and using AWS Config rules, see <a href="https://docs.aws.amazon.com/config/latest/developerguide/evaluate-config.html">Evaluating AWS Resource Configurations with AWS Config</a> in the <i>AWS Config Developer Guide</i>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: MaxNumberOfConfigRulesExceededException
          schema:
            $ref: '#/definitions/MaxNumberOfConfigRulesExceededException'
        '482':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '483':
          description: InsufficientPermissionsException
          schema:
            $ref: '#/definitions/InsufficientPermissionsException'
        '484':
          description: NoAvailableConfigurationRecorderException
          schema:
            $ref: '#/definitions/NoAvailableConfigurationRecorderException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutConfigRuleRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.PutConfigRule
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.PutConfigurationAggregator':
    post:
      operationId: PutConfigurationAggregator
      description: '<p>Creates and updates the configuration aggregator with the selected source accounts and regions. The source account can be individual account(s) or an organization.</p> <note> <p>AWS Config should be enabled in source accounts and regions you want to aggregate.</p> <p>If your source type is an organization, you must be signed in to the master account and all features must be enabled in your organization. AWS Config calls <code>EnableAwsServiceAccess</code> API to enable integration between AWS Config and AWS Organizations. </p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutConfigurationAggregatorResponse'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: InvalidRoleException
          schema:
            $ref: '#/definitions/InvalidRoleException'
        '483':
          description: OrganizationAccessDeniedException
          schema:
            $ref: '#/definitions/OrganizationAccessDeniedException'
        '484':
          description: NoAvailableOrganizationException
          schema:
            $ref: '#/definitions/NoAvailableOrganizationException'
        '485':
          description: OrganizationAllFeaturesNotEnabledException
          schema:
            $ref: '#/definitions/OrganizationAllFeaturesNotEnabledException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutConfigurationAggregatorRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.PutConfigurationAggregator
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.PutConfigurationRecorder':
    post:
      operationId: PutConfigurationRecorder
      description: '<p>Creates a new configuration recorder to record the selected resource configurations.</p> <p>You can use this action to change the role <code>roleARN</code> or the <code>recordingGroup</code> of an existing recorder. To change the role, call the action on the existing configuration recorder and specify a role.</p> <note> <p>Currently, you can specify only one configuration recorder per region in your account.</p> <p>If <code>ConfigurationRecorder</code> does not have the <b>recordingGroup</b> parameter specified, the default is to record all supported resource types.</p> </note>'
      responses:
        '200':
          description: Success
        '480':
          description: MaxNumberOfConfigurationRecordersExceededException
          schema:
            $ref: '#/definitions/MaxNumberOfConfigurationRecordersExceededException'
        '481':
          description: InvalidConfigurationRecorderNameException
          schema:
            $ref: '#/definitions/InvalidConfigurationRecorderNameException'
        '482':
          description: InvalidRoleException
          schema:
            $ref: '#/definitions/InvalidRoleException'
        '483':
          description: InvalidRecordingGroupException
          schema:
            $ref: '#/definitions/InvalidRecordingGroupException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutConfigurationRecorderRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.PutConfigurationRecorder
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.PutDeliveryChannel':
    post:
      operationId: PutDeliveryChannel
      description: '<p>Creates a delivery channel object to deliver configuration information to an Amazon S3 bucket and Amazon SNS topic.</p> <p>Before you can create a delivery channel, you must create a configuration recorder.</p> <p>You can use this action to change the Amazon S3 bucket or an Amazon SNS topic of the existing delivery channel. To change the Amazon S3 bucket or an Amazon SNS topic, call this action and specify the changed values for the S3 bucket and the SNS topic. If you specify a different value for either the S3 bucket or the SNS topic, this action will keep the existing value for the parameter that is not changed.</p> <note> <p>You can have only one delivery channel per region in your account.</p> </note>'
      responses:
        '200':
          description: Success
        '480':
          description: MaxNumberOfDeliveryChannelsExceededException
          schema:
            $ref: '#/definitions/MaxNumberOfDeliveryChannelsExceededException'
        '481':
          description: NoAvailableConfigurationRecorderException
          schema:
            $ref: '#/definitions/NoAvailableConfigurationRecorderException'
        '482':
          description: InvalidDeliveryChannelNameException
          schema:
            $ref: '#/definitions/InvalidDeliveryChannelNameException'
        '483':
          description: NoSuchBucketException
          schema:
            $ref: '#/definitions/NoSuchBucketException'
        '484':
          description: InvalidS3KeyPrefixException
          schema:
            $ref: '#/definitions/InvalidS3KeyPrefixException'
        '485':
          description: InvalidSNSTopicARNException
          schema:
            $ref: '#/definitions/InvalidSNSTopicARNException'
        '486':
          description: InsufficientDeliveryPolicyException
          schema:
            $ref: '#/definitions/InsufficientDeliveryPolicyException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutDeliveryChannelRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.PutDeliveryChannel
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.PutEvaluations':
    post:
      operationId: PutEvaluations
      description: Used by an AWS Lambda function to deliver evaluation results to AWS Config. This action is required in every AWS Lambda function that is invoked by an AWS Config rule.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutEvaluationsResponse'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: InvalidResultTokenException
          schema:
            $ref: '#/definitions/InvalidResultTokenException'
        '482':
          description: NoSuchConfigRuleException
          schema:
            $ref: '#/definitions/NoSuchConfigRuleException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutEvaluationsRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.PutEvaluations
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.PutRemediationConfigurations':
    post:
      operationId: PutRemediationConfigurations
      description: 'Adds or updates the remediation configuration with a specific AWS Config rule with the selected target or action. The API creates the <code>RemediationConfiguration</code> object for the AWS Config rule. The AWS Config rule must already exist for you to add a remediation configuration. The target (SSM document) must exist and have permissions to use the target. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutRemediationConfigurationsResponse'
        '480':
          description: InsufficientPermissionsException
          schema:
            $ref: '#/definitions/InsufficientPermissionsException'
        '481':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutRemediationConfigurationsRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.PutRemediationConfigurations
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.PutRetentionConfiguration':
    post:
      operationId: PutRetentionConfiguration
      description: '<p>Creates and updates the retention configuration with details about retention period (number of days) that AWS Config stores your historical information. The API creates the <code>RetentionConfiguration</code> object and names the object as <b>default</b>. When you have a <code>RetentionConfiguration</code> object named <b>default</b>, calling the API modifies the default object. </p> <note> <p>Currently, AWS Config supports only one retention configuration per region in your account.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutRetentionConfigurationResponse'
        '480':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
        '481':
          description: MaxNumberOfRetentionConfigurationsExceededException
          schema:
            $ref: '#/definitions/MaxNumberOfRetentionConfigurationsExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutRetentionConfigurationRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.PutRetentionConfiguration
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.SelectResourceConfig':
    post:
      operationId: SelectResourceConfig
      description: '<p>Accepts a structured query language (SQL) <code>SELECT</code> command, performs the corresponding search, and returns resource configurations matching the properties.</p> <p>For more information about query components, see the <a href="https://docs.aws.amazon.com/config/latest/developerguide/query-components.html"> <b>Query Components</b> </a> section in the AWS Config Developer Guide.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SelectResourceConfigResponse'
        '480':
          description: InvalidExpressionException
          schema:
            $ref: '#/definitions/InvalidExpressionException'
        '481':
          description: InvalidLimitException
          schema:
            $ref: '#/definitions/InvalidLimitException'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SelectResourceConfigRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.SelectResourceConfig
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.StartConfigRulesEvaluation':
    post:
      operationId: StartConfigRulesEvaluation
      description: '<p>Runs an on-demand evaluation for the specified AWS Config rules against the last known configuration state of the resources. Use <code>StartConfigRulesEvaluation</code> when you want to test that a rule you updated is working as expected. <code>StartConfigRulesEvaluation</code> does not re-record the latest configuration state for your resources. It re-runs an evaluation against the last known state of your resources. </p> <p>You can specify up to 25 AWS Config rules per request. </p> <p>An existing <code>StartConfigRulesEvaluation</code> call for the specified rules must complete before you can call the API again. If you chose to have AWS Config stream to an Amazon SNS topic, you will receive a <code>ConfigRuleEvaluationStarted</code> notification when the evaluation starts.</p> <note> <p>You don''t need to call the <code>StartConfigRulesEvaluation</code> API to run an evaluation for a new rule. When you create a rule, AWS Config evaluates your resources against the rule automatically. </p> </note> <p>The <code>StartConfigRulesEvaluation</code> API is useful if you want to run on-demand evaluations, such as the following example:</p> <ol> <li> <p>You have a custom rule that evaluates your IAM resources every 24 hours.</p> </li> <li> <p>You update your Lambda function to add additional conditions to your rule.</p> </li> <li> <p>Instead of waiting for the next periodic evaluation, you call the <code>StartConfigRulesEvaluation</code> API.</p> </li> <li> <p>AWS Config invokes your Lambda function and evaluates your IAM resources.</p> </li> <li> <p>Your custom rule will still run periodic evaluations every 24 hours.</p> </li> </ol>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartConfigRulesEvaluationResponse'
        '480':
          description: NoSuchConfigRuleException
          schema:
            $ref: '#/definitions/NoSuchConfigRuleException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '483':
          description: InvalidParameterValueException
          schema:
            $ref: '#/definitions/InvalidParameterValueException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StartConfigRulesEvaluationRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.StartConfigRulesEvaluation
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.StartConfigurationRecorder':
    post:
      operationId: StartConfigurationRecorder
      description: <p>Starts recording configurations of the AWS resources you have selected to record in your AWS account.</p> <p>You must have created at least one delivery channel to successfully start the configuration recorder.</p>
      responses:
        '200':
          description: Success
        '480':
          description: NoSuchConfigurationRecorderException
          schema:
            $ref: '#/definitions/NoSuchConfigurationRecorderException'
        '481':
          description: NoAvailableDeliveryChannelException
          schema:
            $ref: '#/definitions/NoAvailableDeliveryChannelException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StartConfigurationRecorderRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.StartConfigurationRecorder
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.StartRemediationExecution':
    post:
      operationId: StartRemediationExecution
      description: <p>Runs an on-demand remediation for the specified AWS Config rules against the last known remediation configuration. It runs an execution against the current state of your resources. Remediation execution is asynchronous.</p> <p>You can specify up to 100 resource keys per request. An existing StartRemediationExecution call for the specified resource keys must complete before you can call the API again.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartRemediationExecutionResponse'
        '480':
          description: InsufficientPermissionsException
          schema:
            $ref: '#/definitions/InsufficientPermissionsException'
        '481':
          description: NoSuchRemediationConfigurationException
          schema:
            $ref: '#/definitions/NoSuchRemediationConfigurationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StartRemediationExecutionRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - StarlingDoveService.StartRemediationExecution
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=StarlingDoveService.StopConfigurationRecorder':
    post:
      operationId: StopConfigurationRecorder
[...]
