{
  "swagger": "2.0",
  "info": {
    "title": "AdSense Management API",
    "x-serviceName": "adsense",
    "description": "Gives AdSense publishers access to their inventory and the ability to generate reports",
    "contact": {
      "name": "Google",
      "url": "https://google.com"
    },
    "version": "v1.2",
    "x-origin": {
      "format": "google",
      "version": "v1",
      "url": "https://www.googleapis.com/discovery/v1/apis/adsense/v1.2/rest"
    }
  },
  "host": "www.googleapis.com",
  "basePath": "/adsense/v1.2",
  "schemes": [
    "https"
  ],
  "paths": {
    "/accounts/{accountId}": {
      "get": {
        "description": "Get information about the selected AdSense account.",
        "operationId": "adsense.accounts.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account to get information about.",
            "required": true,
            "type": "string"
          },
          {
            "name": "tree",
            "in": "query",
            "description": "Whether the tree of sub accounts should be returned.",
            "type": "boolean"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsense",
              "https://www.googleapis.com/auth/adsense.readonly"
            ]
          }
        ],
        "tags": [
          "accounts"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/accounts": {
      "get": {
        "description": "List all accounts available to this AdSense account.",
        "operationId": "adsense.accounts.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Accounts"
            }
          }
        },
        "parameters": [
          {
            "name": "maxResults",
            "in": "query",
            "description": "The maximum number of accounts to include in the response, used for paging.",
            "type": "integer",
            "minimum": 0,
            "maximum": 10000
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A continuation token, used to page through accounts. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsense",
              "https://www.googleapis.com/auth/adsense.readonly"
            ]
          }
        ],
        "tags": [
          "accounts"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/accounts/{accountId}/adclients": {
      "get": {
        "description": "List all ad clients in the specified account.",
        "operationId": "adsense.accounts.adclients.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AdClients"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account for which to list ad clients.",
            "required": true,
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "The maximum number of ad clients to include in the response, used for paging.",
            "type": "integer",
            "minimum": 0,
            "maximum": 10000
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A continuation token, used to page through ad clients. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsense",
              "https://www.googleapis.com/auth/adsense.readonly"
            ]
          }
        ],
        "tags": [
          "accounts"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/accounts/{accountId}/adclients/{adClientId}/adunits/{adUnitId}": {
      "get": {
        "description": "Gets the specified ad unit in the specified ad client for the specified account.",
        "operationId": "adsense.accounts.adunits.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AdUnit"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account to which the ad client belongs.",
            "required": true,
            "type": "string"
          },
          {
            "name": "adClientId",
            "in": "path",
            "description": "Ad client for which to get the ad unit.",
            "required": true,
            "type": "string"
          },
          {
            "name": "adUnitId",
            "in": "path",
            "description": "Ad unit to retrieve.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsense",
              "https://www.googleapis.com/auth/adsense.readonly"
            ]
          }
        ],
        "tags": [
          "accounts"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/accounts/{accountId}/adclients/{adClientId}/adunits": {
      "get": {
        "description": "List all ad units in the specified ad client for the specified account.",
        "operationId": "adsense.accounts.adunits.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AdUnits"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account to which the ad client belongs.",
            "required": true,
            "type": "string"
          },
          {
            "name": "adClientId",
            "in": "path",
            "description": "Ad client for which to list ad units.",
            "required": true,
            "type": "string"
          },
          {
            "name": "includeInactive",
            "in": "query",
            "description": "Whether to include inactive ad units. Default: true.",
            "type": "boolean"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "The maximum number of ad units to include in the response, used for paging.",
            "type": "integer",
            "minimum": 0,
            "maximum": 10000
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A continuation token, used to page through ad units. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsense",
              "https://www.googleapis.com/auth/adsense.readonly"
            ]
          }
        ],
        "tags": [
          "accounts"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/accounts/{accountId}/adclients/{adClientId}/adunits/{adUnitId}/customchannels": {
      "get": {
        "description": "List all custom channels which the specified ad unit belongs to.",
        "operationId": "adsense.accounts.adunits.customchannels.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/CustomChannels"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account to which the ad client belongs.",
            "required": true,
            "type": "string"
          },
          {
            "name": "adClientId",
            "in": "path",
            "description": "Ad client which contains the ad unit.",
            "required": true,
            "type": "string"
          },
          {
            "name": "adUnitId",
            "in": "path",
            "description": "Ad unit for which to list custom channels.",
            "required": true,
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "The maximum number of custom channels to include in the response, used for paging.",
            "type": "integer",
            "minimum": 0,
            "maximum": 10000
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A continuation token, used to page through custom channels. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsense",
              "https://www.googleapis.com/auth/adsense.readonly"
            ]
          }
        ],
        "tags": [
          "accounts"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/accounts/{accountId}/adclients/{adClientId}/customchannels/{customChannelId}": {
      "get": {
        "description": "Get the specified custom channel from the specified ad client for the specified account.",
        "operationId": "adsense.accounts.customchannels.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/CustomChannel"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account to which the ad client belongs.",
            "required": true,
            "type": "string"
          },
          {
            "name": "adClientId",
            "in": "path",
            "description": "Ad client which contains the custom channel.",
            "required": true,
            "type": "string"
          },
          {
            "name": "customChannelId",
            "in": "path",
            "description": "Custom channel to retrieve.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsense",
              "https://www.googleapis.com/auth/adsense.readonly"
            ]
          }
        ],
        "tags": [
          "accounts"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/accounts/{accountId}/adclients/{adClientId}/customchannels": {
      "get": {
        "description": "List all custom channels in the specified ad client for the specified account.",
        "operationId": "adsense.accounts.customchannels.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/CustomChannels"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account to which the ad client belongs.",
            "required": true,
            "type": "string"
          },
          {
            "name": "adClientId",
            "in": "path",
            "description": "Ad client for which to list custom channels.",
            "required": true,
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "The maximum number of custom channels to include in the response, used for paging.",
            "type": "integer",
            "minimum": 0,
            "maximum": 10000
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A continuation token, used to page through custom channels. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsense",
              "https://www.googleapis.com/auth/adsense.readonly"
            ]
          }
        ],
        "tags": [
          "accounts"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/accounts/{accountId}/adclients/{adClientId}/customchannels/{customChannelId}/adunits": {
      "get": {
        "description": "List all ad units in the specified custom channel.",
        "operationId": "adsense.accounts.customchannels.adunits.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AdUnits"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account to which the ad client belongs.",
            "required": true,
            "type": "string"
          },
          {
            "name": "adClientId",
            "in": "path",
            "description": "Ad client which contains the custom channel.",
            "required": true,
            "type": "string"
          },
          {
            "name": "customChannelId",
            "in": "path",
            "description": "Custom channel for which to list ad units.",
            "required": true,
            "type": "string"
          },
          {
            "name": "includeInactive",
            "in": "query",
            "description": "Whether to include inactive ad units. Default: true.",
            "type": "boolean"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "The maximum number of ad units to include in the response, used for paging.",
            "type": "integer",
            "minimum": 0,
            "maximum": 10000
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A continuation token, used to page through ad units. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsense",
              "https://www.googleapis.com/auth/adsense.readonly"
            ]
          }
        ],
        "tags": [
          "accounts"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/accounts/{accountId}/reports": {
      "get": {
        "description": "Generate an AdSense report based on the report request sent in the query parameters. Returns the result as JSON; to retrieve output in CSV format specify \"alt=csv\" as a query parameter.",
        "operationId": "adsense.accounts.reports.generate",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AdsenseReportsGenerateResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account upon which to report.",
            "required": true,
            "type": "string"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Start of the date range to report on in \"YYYY-MM-DD\" format, inclusive.",
            "required": true,
            "type": "string"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End of the date range to report on in \"YYYY-MM-DD\" format, inclusive.",
            "required": true,
            "type": "string"
          },
          {
            "name": "currency",
            "in": "query",
            "description": "Optional currency to use when reporting on monetary metrics. Defaults to the account's currency if not set.",
            "type": "string"
          },
          {
            "name": "dimension",
            "in": "query",
            "description": "Dimensions to base the report on.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filters to be run on the report.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Optional locale to use for translating report output to a local language. Defaults to \"en_US\" if not specified.",
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "The maximum number of rows of report data to return.",
            "type": "integer",
            "minimum": 0,
            "maximum": 50000
          },
          {
            "name": "metric",
            "in": "query",
            "description": "Numeric columns to include in the report.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The name of a dimension or metric to sort the resulting report on, optionally prefixed with \"+\" to sort ascending or \"-\" to sort descending. If no prefix is specified, the column is sorted ascending.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "startIndex",
            "in": "query",
            "description": "Index of the first row of report data to return.",
            "type": "integer",
            "minimum": 0,
            "maximum": 5000
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsense",
              "https://www.googleapis.com/auth/adsense.readonly"
            ]
          }
        ],
        "tags": [
          "accounts"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/accounts/{accountId}/reports/{savedReportId}": {
      "get": {
        "description": "Generate an AdSense report based on the saved report ID sent in the query parameters.",
        "operationId": "adsense.accounts.reports.saved.generate",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AdsenseReportsGenerateResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account to which the saved reports belong.",
            "required": true,
            "type": "string"
          },
          {
            "name": "savedReportId",
            "in": "path",
            "description": "The saved report to retrieve.",
            "required": true,
            "type": "string"
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Optional locale to use for translating report output to a local language. Defaults to \"en_US\" if not specified.",
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "The maximum number of rows of report data to return.",
            "type": "integer",
            "minimum": 0,
            "maximum": 50000
          },
          {
            "name": "startIndex",
            "in": "query",
            "description": "Index of the first row of report data to return.",
            "type": "integer",
            "minimum": 0,
            "maximum": 5000
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsense",
              "https://www.googleapis.com/auth/adsense.readonly"
            ]
          }
        ],
        "tags": [
          "accounts"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/accounts/{accountId}/reports/saved": {
      "get": {
        "description": "List all saved reports in the specified AdSense account.",
        "operationId": "adsense.accounts.reports.saved.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/SavedReports"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account to which the saved reports belong.",
            "required": true,
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "The maximum number of saved reports to include in the response, used for paging.",
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A continuation token, used to page through saved reports. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsense",
              "https://www.googleapis.com/auth/adsense.readonly"
            ]
          }
        ],
        "tags": [
          "accounts"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/accounts/{accountId}/savedadstyles/{savedAdStyleId}": {
      "get": {
        "description": "List a specific saved ad style for the specified account.",
        "operationId": "adsense.accounts.savedadstyles.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/SavedAdStyle"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account for which to get the saved ad style.",
            "required": true,
            "type": "string"
          },
          {
            "name": "savedAdStyleId",
            "in": "path",
            "description": "Saved ad style to retrieve.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsense",
              "https://www.googleapis.com/auth/adsense.readonly"
            ]
          }
        ],
        "tags": [
          "accounts"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/accounts/{accountId}/savedadstyles": {
      "get": {
        "description": "List all saved ad styles in the specified account.",
        "operationId": "adsense.accounts.savedadstyles.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/SavedAdStyles"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account for which to list saved ad styles.",
            "required": true,
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "The maximum number of saved ad styles to include in the response, used for paging.",
            "type": "integer",
            "minimum": 0,
            "maximum": 10000
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A continuation token, used to page through saved ad styles. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsense",
              "https://www.googleapis.com/auth/adsense.readonly"
            ]
          }
        ],
        "tags": [
          "accounts"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/accounts/{accountId}/adclients/{adClientId}/urlchannels": {
      "get": {
        "description": "List all URL channels in the specified ad client for the specified account.",
        "operationId": "adsense.accounts.urlchannels.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/UrlChannels"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account to which the ad client belongs.",
            "required": true,
            "type": "string"
          },
          {
            "name": "adClientId",
            "in": "path",
            "description": "Ad client for which to list URL channels.",
            "required": true,
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "The maximum number of URL channels to include in the response, used for paging.",
            "type": "integer",
            "minimum": 0,
            "maximum": 10000
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A continuation token, used to page through URL channels. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsense",
              "https://www.googleapis.com/auth/adsense.readonly"
            ]
          }
        ],
        "tags": [
          "accounts"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/adclients": {
      "get": {
        "description": "List all ad clients in this AdSense account.",
        "operationId": "adsense.adclients.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AdClients"
            }
          }
        },
        "parameters": [
          {
            "name": "maxResults",
            "in": "query",
            "description": "The maximum number of ad clients to include in the response, used for paging.",
            "type": "integer",
            "minimum": 0,
            "maximum": 10000
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A continuation token, used to page through ad clients. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsense",
              "https://www.googleapis.com/auth/adsense.readonly"
            ]
          }
        ],
        "tags": [
          "adclients"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/adclients/{adClientId}/adunits/{adUnitId}": {
      "get": {
        "description": "Gets the specified ad unit in the specified ad client.",
        "operationId": "adsense.adunits.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AdUnit"
            }
          }
        },
        "parameters": [
          {
            "name": "adClientId",
            "in": "path",
            "description": "Ad client for which to get the ad unit.",
            "required": true,
            "type": "string"
          },
          {
            "name": "adUnitId",
            "in": "path",
            "description": "Ad unit to retrieve.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsense",
              "https://www.googleapis.com/auth/adsense.readonly"
            ]
          }
        ],
        "tags": [
          "adunits"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/adclients/{adClientId}/adunits": {
      "get": {
        "description": "List all ad units in the specified ad client for this AdSense account.",
        "operationId": "adsense.adunits.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AdUnits"
            }
          }
        },
        "parameters": [
          {
            "name": "adClientId",
            "in": "path",
            "description": "Ad client for which to list ad units.",
            "required": true,
            "type": "string"
          },
          {
            "name": "includeInactive",
            "in": "query",
            "description": "Whether to include inactive ad units. Default: true.",
            "type": "boolean"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "The maximum number of ad units to include in the response, used for paging.",
            "type": "integer",
            "minimum": 0,
            "maximum": 10000
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A continuation token, used to page through ad units. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsense",
              "https://www.googleapis.com/auth/adsense.readonly"
            ]
          }
        ],
        "tags": [
          "adunits"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/adclients/{adClientId}/adunits/{adUnitId}/customchannels": {
      "get": {
        "description": "List all custom channels which the specified ad unit belongs to.",
        "operationId": "adsense.adunits.customchannels.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/CustomChannels"
            }
          }
        },
        "parameters": [
          {
            "name": "adClientId",
            "in": "path",
            "description": "Ad client which contains the ad unit.",
            "required": true,
            "type": "string"
          },
          {
            "name": "adUnitId",
            "in": "path",
            "description": "Ad unit for which to list custom channels.",
            "required": true,
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "The maximum number of custom channels to include in the response, used for paging.",
            "type": "integer",
            "minimum": 0,
            "maximum": 10000
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A continuation token, used to page through custom channels. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsense",
              "https://www.googleapis.com/auth/adsense.readonly"
            ]
          }
        ],
        "tags": [
          "adunits"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/adclients/{adClientId}/customchannels/{customChannelId}": {
      "get": {
        "description": "Get the specified custom channel from the specified ad client.",
        "operationId": "adsense.customchannels.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/CustomChannel"
            }
          }
        },
        "parameters": [
          {
            "name": "adClientId",
            "in": "path",
            "description": "Ad client which contains the custom channel.",
            "required": true,
            "type": "string"
          },
          {
            "name": "customChannelId",
            "in": "path",
            "description": "Custom channel to retrieve.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsense",
              "https://www.googleapis.com/auth/adsense.readonly"
            ]
          }
        ],
        "tags": [
          "customchannels"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/adclients/{adClientId}/customchannels": {
      "get": {
        "description": "List all custom channels in the specified ad client for this AdSense account.",
        "operationId": "adsense.customchannels.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/CustomChannels"
            }
          }
        },
        "parameters": [
          {
            "name": "adClientId",
            "in": "path",
            "description": "Ad client for which to list custom channels.",
            "required": true,
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "The maximum number of custom channels to include in the response, used for paging.",
            "type": "integer",
            "minimum": 0,
            "maximum": 10000
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A continuation token, used to page through custom channels. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsense",
              "https://www.googleapis.com/auth/adsense.readonly"
            ]
          }
        ],
        "tags": [
          "customchannels"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/adclients/{adClientId}/customchannels/{customChannelId}/adunits": {
      "get": {
        "description": "List all ad units in the specified custom channel.",
        "operationId": "adsense.customchannels.adunits.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AdUnits"
            }
          }
        },
        "parameters": [
          {
            "name": "adClientId",
            "in": "path",
            "description": "Ad client which contains the custom channel.",
            "required": true,
            "type": "string"
          },
          {
            "name": "customChannelId",
            "in": "path",
            "description": "Custom channel for which to list ad units.",
            "required": true,
            "type": "string"
          },
          {
            "name": "includeInactive",
            "in": "query",
            "description": "Whether to include inactive ad units. Default: true.",
            "type": "boolean"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "The maximum number of ad units to include in the response, used for paging.",
            "type": "integer",
            "minimum": 0,
            "maximum": 10000
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A continuation token, used to page through ad units. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsense",
              "https://www.googleapis.com/auth/adsense.readonly"
            ]
          }
        ],
        "tags": [
          "customchannels"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/reports": {
      "get": {
        "description": "Generate an AdSense report based on the report request sent in the query parameters. Returns the result as JSON; to retrieve output in CSV format specify \"alt=csv\" as a query parameter.",
        "operationId": "adsense.reports.generate",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AdsenseReportsGenerateResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "Start of the date range to report on in \"YYYY-MM-DD\" format, inclusive.",
            "required": true,
            "type": "string"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End of the date range to report on in \"YYYY-MM-DD\" format, inclusive.",
            "required": true,
            "type": "string"
          },
          {
            "name": "accountId",
            "in": "query",
            "description": "Accounts upon which to report.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "currency",
            "in": "query",
            "description": "Optional currency to use when reporting on monetary metrics. Defaults to the account's currency if not set.",
            "type": "string"
          },
          {
            "name": "dimension",
            "in": "query",
            "description": "Dimensions to base the report on.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filters to be run on the report.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Optional locale to use for translating report output to a local language. Defaults to \"en_US\" if not specified.",
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "The maximum number of rows of report data to return.",
            "type": "integer",
            "minimum": 0,
            "maximum": 50000
          },
          {
            "name": "metric",
            "in": "query",
            "description": "Numeric columns to include in the report.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The name of a dimension or metric to sort the resulting report on, optionally prefixed with \"+\" to sort ascending or \"-\" to sort descending. If no prefix is specified, the column is sorted ascending.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "startIndex",
            "in": "query",
            "description": "Index of the first row of report data to return.",
            "type": "integer",
            "minimum": 0,
            "maximum": 5000
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsense",
              "https://www.googleapis.com/auth/adsense.readonly"
            ]
          }
        ],
        "tags": [
          "reports"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/reports/{savedReportId}": {
      "get": {
        "description": "Generate an AdSense report based on the saved report ID sent in the query parameters.",
        "operationId": "adsense.reports.saved.generate",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AdsenseReportsGenerateResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "savedReportId",
            "in": "path",
            "description": "The saved report to retrieve.",
            "required": true,
            "type": "string"
          },
          {
            "name": "locale",
            "in": "query",
            "description": "Optional locale to use for translating report output to a local language. Defaults to \"en_US\" if not specified.",
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "The maximum number of rows of report data to return.",
            "type": "integer",
            "minimum": 0,
            "maximum": 50000
          },
          {
            "name": "startIndex",
            "in": "query",
            "description": "Index of the first row of report data to return.",
            "type": "integer",
            "minimum": 0,
            "maximum": 5000
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsense",
              "https://www.googleapis.com/auth/adsense.readonly"
            ]
          }
        ],
        "tags": [
          "reports"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/reports/saved": {
      "get": {
        "description": "List all saved reports in this AdSense account.",
        "operationId": "adsense.reports.saved.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/SavedReports"
            }
          }
        },
        "parameters": [
          {
            "name": "maxResults",
            "in": "query",
            "description": "The maximum number of saved reports to include in the response, used for paging.",
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A continuation token, used to page through saved reports. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsense",
              "https://www.googleapis.com/auth/adsense.readonly"
            ]
          }
        ],
        "tags": [
          "reports"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/savedadstyles/{savedAdStyleId}": {
      "get": {
        "description": "Get a specific saved ad style from the user's account.",
        "operationId": "adsense.savedadstyles.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/SavedAdStyle"
            }
          }
        },
        "parameters": [
          {
            "name": "savedAdStyleId",
            "in": "path",
            "description": "Saved ad style to retrieve.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsense",
              "https://www.googleapis.com/auth/adsense.readonly"
            ]
          }
        ],
        "tags": [
          "savedadstyles"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/savedadstyles": {
      "get": {
        "description": "List all saved ad styles in the user's account.",
        "operationId": "adsense.savedadstyles.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/SavedAdStyles"
            }
          }
        },
        "parameters": [
          {
            "name": "maxResults",
            "in": "query",
            "description": "The maximum number of saved ad styles to include in the response, used for paging.",
            "type": "integer",
            "minimum": 0,
            "maximum": 10000
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A continuation token, used to page through saved ad styles. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsense",
              "https://www.googleapis.com/auth/adsense.readonly"
            ]
          }
        ],
        "tags": [
          "savedadstyles"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/adclients/{adClientId}/urlchannels": {
      "get": {
        "description": "List all URL channels in the specified ad client for this AdSense account.",
        "operationId": "adsense.urlchannels.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/UrlChannels"
            }
          }
        },
        "parameters": [
          {
            "name": "adClientId",
            "in": "path",
            "description": "Ad client for which to list URL channels.",
            "required": true,
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "The maximum number of URL channels to include in the response, used for paging.",
            "type": "integer",
            "minimum": 0,
            "maximum": 10000
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A continuation token, used to page through URL channels. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/adsense",
              "https://www.googleapis.com/auth/adsense.readonly"
            ]
          }
        ],
        "tags": [
          "urlchannels"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    }
  },
  "definitions": {
    "Account": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier of this account."
        },
        "kind": {
          "type": "string",
          "description": "Kind of resource this is, in this case adsense#account.",
          "default": "adsense#account"
        },
        "name": {
          "type": "string",
          "description": "Name of this account."
        },
        "premium": {
          "type": "boolean",
          "description": "Whether this account is premium."
        },
        "subAccounts": {
          "type": "array",
          "description": "Sub accounts of the this account.",
          "items": {
            "$ref": "#/definitions/Account"
          }
        }
      }
    },
    "Accounts": {
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of this response for caching purposes."
        },
        "items": {
          "type": "array",
          "description": "The accounts returned in this list response.",
          "items": {
            "$ref": "#/definitions/Account"
          }
        },
        "kind": {
          "type": "string",
          "description": "Kind of list this is, in this case adsense#accounts.",
          "default": "adsense#accounts"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through accounts. To retrieve the next page of results, set the next request's \"pageToken\" value to this."
        }
      }
    },
    "AdClient": {
      "type": "object",
      "properties": {
        "arcOptIn": {
          "type": "boolean",
          "description": "Whether this ad client is opted in to ARC."
        },
        "id": {
          "type": "string",
          "description": "Unique identifier of this ad client."
        },
        "kind": {
          "type": "string",
          "description": "Kind of resource this is, in this case adsense#adClient.",
          "default": "adsense#adClient"
        },
        "productCode": {
          "type": "string",
          "description": "This ad client's product code, which corresponds to the PRODUCT_CODE report dimension."
        },
        "supportsReporting": {
          "type": "boolean",
          "description": "Whether this ad client supports being reported on."
        }
      }
    },
    "AdClients": {
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of this response for caching purposes."
        },
        "items": {
          "type": "array",
          "description": "The ad clients returned in this list response.",
          "items": {
            "$ref": "#/definitions/AdClient"
          }
        },
        "kind": {
          "type": "string",
          "description": "Kind of list this is, in this case adsense#adClients.",
          "default": "adsense#adClients"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through ad clients. To retrieve the next page of results, set the next request's \"pageToken\" value to this."
        }
      }
    },
    "AdStyle": {
      "type": "object",
      "properties": {
        "colors": {
          "type": "object",
          "description": "The colors which are included in the style. These are represented as six hexadecimal characters, similar to HTML color codes, but without the leading hash.",
          "properties": {
            "background": {
              "type": "string",
              "description": "The color of the ad background."
            },
            "border": {
              "type": "string",
              "description": "The color of the ad border."
            },
            "text": {
              "type": "string",
              "description": "The color of the ad text."
            },
            "title": {
              "type": "string",
              "description": "The color of the ad title."
            },
            "url": {
              "type": "string",
              "description": "The color of the ad url."
            }
          }
        },
        "corners": {
          "type": "string",
          "description": "The style of the corners in the ad."
        },
        "font": {
          "type": "object",
          "description": "The font which is included in the style.",
          "properties": {
            "family": {
              "type": "string",
              "description": "The family of the font."
            },
            "size": {
              "type": "string",
              "description": "The size of the font."
            }
          }
        },
        "kind": {
          "type": "string",
          "description": "Kind this is, in this case adsense#adStyle.",
          "default": "adsense#adStyle"
        }
      }
    },
    "AdUnit": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "Identity code of this ad unit, not necessarily unique across ad clients."
        },
        "contentAdsSettings": {
          "type": "object",
          "description": "Settings specific to content ads (AFC) and highend mobile content ads (AFMC).",
          "properties": {
            "backupOption": {
              "type": "object",
              "description": "The backup option to be used in instances where no ad is available.",
              "properties": {
                "color": {
                  "type": "string",
                  "description": "Color to use when type is set to COLOR."
                },
                "type": {
                  "type": "string",
                  "description": "Type of the backup option. Possible values are BLANK, COLOR and URL."
                },
                "url": {
                  "type": "string",
                  "description": "URL to use when type is set to URL."
                }
              }
            },
            "size": {
              "type": "string",
              "description": "Size of this ad unit."
            },
            "type": {
              "type": "string",
              "description": "Type of this ad unit."
            }
          }
        },
        "customStyle": {
          "$ref": "#/definitions/AdStyle",
          "description": "Custom style information specific to this ad unit."
        },
        "feedAdsSettings": {
          "type": "object",
          "description": "Settings specific to feed ads (AFF).",
          "properties": {
            "adPosition": {
              "type": "string",
              "description": "The position of the ads relative to the feed entries."
            },
            "frequency": {
              "type": "integer",
              "description": "The frequency at which ads should appear in the feed (i.e. every N entries).",
              "format": "int32"
            },
            "minimumWordCount": {
              "type": "integer",
              "description": "The minimum length an entry should be in order to have attached ads.",
              "format": "int32"
            },
            "type": {
              "type": "string",
              "description": "The type of ads which should appear."
            }
          }
        },
        "id": {
          "type": "string",
          "description": "Unique identifier of this ad unit. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format."
        },
        "kind": {
          "type": "string",
          "description": "Kind of resource this is, in this case adsense#adUnit.",
          "default": "adsense#adUnit"
        },
        "mobileContentAdsSettings": {
          "type": "object",
          "description": "Settings specific to WAP mobile content ads (AFMC).",
          "properties": {
            "markupLanguage": {
              "type": "string",
              "description": "The markup language to use for this ad unit."
            },
            "scriptingLanguage": {
              "type": "string",
              "description": "The scripting language to use for this ad unit."
            },
            "size": {
              "type": "string",
              "description": "Size of this ad unit."
            },
            "type": {
              "type": "string",
              "description": "Type of this ad unit."
            }
          }
        },
        "name": {
          "type": "string",
          "description": "Name of this ad unit."
        },
        "savedStyleId": {
          "type": "string",
          "description": "ID of the saved ad style which holds this ad unit's style information."
        },
        "status": {
          "type": "string",
          "description": "Status of this ad unit. Possible values are:\nNEW: Indicates that the ad unit was created within the last seven days and does not yet have any activity associated with it.\n\nACTIVE: Indicates that there has been activity on this ad unit in the last seven days.\n\nINACTIVE: Indicates that there has been no activity on this ad unit in the last seven days."
        }
      }
    },
    "AdUnits": {
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of this response for caching purposes."
        },
        "items": {
          "type": "array",
          "description": "The ad units returned in this list response.",
          "items": {
            "$ref": "#/definitions/AdUnit"
          }
        },
        "kind": {
          "type": "string",
          "description": "Kind of list this is, in this case adsense#adUnits.",
          "default": "adsense#adUnits"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through ad units. To retrieve the next page of results, set the next request's \"pageToken\" value to this."
        }
      }
    },
    "AdsenseReportsGenerateResponse": {
      "type": "object",
      "properties": {
        "averages": {
          "type": "array",
          "description": "The averages of the report. This is the same length as any other row in the report; cells corresponding to dimension columns are empty.",
          "items": {
            "type": "string"
          }
        },
        "headers": {
          "type": "array",
          "description": "The header information of the columns requested in the report. This is a list of headers; one for each dimension in the request, followed by one for each metric in the request.",
          "items": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "The currency of this column. Only present if the header type is METRIC_CURRENCY."
              },
              "name": {
                "type": "string",
                "description": "The name of the header."
              },
              "type": {
                "type": "string",
                "description": "The type of the header; one of DIMENSION, METRIC_TALLY, METRIC_RATIO, or METRIC_CURRENCY."
              }
            }
          }
        },
        "kind": {
          "type": "string",
          "description": "Kind this is, in this case adsense#report.",
          "default": "adsense#report"
        },
        "rows": {
          "type": "array",
          "description": "The output rows of the report. Each row is a list of cells; one for each dimension in the request, followed by one for each metric in the request. The dimension cells contain strings, and the metric cells contain numbers.",
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "totalMatchedRows": {
          "type": "string",
          "description": "The total number of rows matched by the report request. Fewer rows may be returned in the response due to being limited by the row count requested or the report row limit.",
          "format": "int64"
        },
        "totals": {
          "type": "array",
          "description": "The totals of the report. This is the same length as any other row in the report; cells corresponding to dimension columns are empty.",
          "items": {
            "type": "string"
          }
        },
        "warnings": {
          "type": "array",
          "description": "Any warnings associated with generation of the report.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CustomChannel": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "Code of this custom channel, not necessarily unique across ad clients."
        },
        "id": {
          "type": "string",
          "description": "Unique identifier of this custom channel. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format."
        },
        "kind": {
          "type": "string",
          "description": "Kind of resource this is, in this case adsense#customChannel.",
          "default": "adsense#customChannel"
        },
        "name": {
          "type": "string",
          "description": "Name of this custom channel."
        },
        "targetingInfo": {
          "type": "object",
          "description": "The targeting information of this custom channel, if activated.",
          "properties": {
            "adsAppearOn": {
              "type": "string",
              "description": "The name used to describe this channel externally."
            },
            "description": {
              "type": "string",
              "description": "The external description of the channel."
            },
            "location": {
              "type": "string",
              "description": "The locations in which ads appear. (Only valid for content and mobile content ads). Acceptable values for content ads are: TOP_LEFT, TOP_CENTER, TOP_RIGHT, MIDDLE_LEFT, MIDDLE_CENTER, MIDDLE_RIGHT, BOTTOM_LEFT, BOTTOM_CENTER, BOTTOM_RIGHT, MULTIPLE_LOCATIONS. Acceptable values for mobile content ads are: TOP, MIDDLE, BOTTOM, MULTIPLE_LOCATIONS."
            },
            "siteLanguage": {
              "type": "string",
              "description": "The language of the sites ads will be displayed on."
            }
          }
        }
      }
    },
    "CustomChannels": {
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of this response for caching purposes."
        },
        "items": {
          "type": "array",
          "description": "The custom channels returned in this list response.",
          "items": {
            "$ref": "#/definitions/CustomChannel"
          }
        },
        "kind": {
          "type": "string",
          "description": "Kind of list this is, in this case adsense#customChannels.",
          "default": "adsense#customChannels"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through custom channels. To retrieve the next page of results, set the next request's \"pageToken\" value to this."
        }
      }
    },
    "SavedAdStyle": {
      "type": "object",
      "properties": {
        "adStyle": {
          "$ref": "#/definitions/AdStyle",
          "description": "The AdStyle itself."
        },
        "id": {
          "type": "string",
          "description": "Unique identifier of this saved ad style. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format."
        },
        "kind": {
          "type": "string",
          "description": "Kind of resource this is, in this case adsense#savedAdStyle.",
          "default": "adsense#savedAdStyle"
        },
        "name": {
          "type": "string",
          "description": "The user selected name of this SavedAdStyle."
        }
      }
    },
    "SavedAdStyles": {
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of this response for caching purposes."
        },
        "items": {
          "type": "array",
          "description": "The saved ad styles returned in this list response.",
          "items": {
            "$ref": "#/definitions/SavedAdStyle"
          }
        },
        "kind": {
          "type": "string",
          "description": "Kind of list this is, in this case adsense#savedAdStyles.",
          "default": "adsense#savedAdStyles"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through ad units. To retrieve the next page of results, set the next request's \"pageToken\" value to this."
        }
      }
    },
    "SavedReport": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier of this saved report."
        },
        "kind": {
          "type": "string",
          "description": "Kind of resource this is, in this case adsense#savedReport.",
          "default": "adsense#savedReport"
        },
        "name": {
          "type": "string",
          "description": "This saved report's name."
        }
      }
    },
    "SavedReports": {
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of this response for caching purposes."
        },
        "items": {
          "type": "array",
          "description": "The saved reports returned in this list response.",
          "items": {
            "$ref": "#/definitions/SavedReport"
          }
        },
        "kind": {
          "type": "string",
          "description": "Kind of list this is, in this case adsense#savedReports.",
          "default": "adsense#savedReports"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through saved reports. To retrieve the next page of results, set the next request's \"pageToken\" value to this."
        }
      }
    },
    "UrlChannel": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier of this URL channel. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format."
        },
        "kind": {
          "type": "string",
          "description": "Kind of resource this is, in this case adsense#urlChannel.",
          "default": "adsense#urlChannel"
        },
        "urlPattern": {
          "type": "string",
          "description": "URL Pattern of this URL channel. Does not include \"http://\" or \"https://\". Example: www.example.com/home"
        }
      }
    },
    "UrlChannels": {
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of this response for caching purposes."
        },
        "items": {
          "type": "array",
          "description": "The URL channels returned in this list response.",
          "items": {
            "$ref": "#/definitions/UrlChannel"
          }
        },
        "kind": {
          "type": "string",
          "description": "Kind of list this is, in this case adsense#urlChannels.",
          "default": "adsense#urlChannels"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through URL channels. To retrieve the next page of results, set the next request's \"pageToken\" value to this."
        }
      }
    }
  },
  "parameters": {
    "alt": {
      "name": "alt",
      "in": "query",
      "description": "Data format for the response.",
      "default": "json",
      "type": "string",
      "enum": [
        "csv",
        "json"
      ]
    },
    "fields": {
      "name": "fields",
      "in": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "name": "key",
      "in": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "name": "oauth_token",
      "in": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "name": "prettyPrint",
      "in": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": true,
      "type": "boolean"
    },
    "quotaUser": {
      "name": "quotaUser",
      "in": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
      "type": "string"
    },
    "userIp": {
      "name": "userIp",
      "in": "query",
      "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
      "type": "string"
    }
  },
  "securityDefinitions": {
    "Oauth2": {
      "type": "oauth2",
      "description": "Oauth 2.0 authentication",
      "flow": "implicit",
      "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
      "scopes": {
        "https://www.googleapis.com/auth/adsense": "View and manage your AdSense data",
        "https://www.googleapis.com/auth/adsense.readonly": "View your AdSense data"
      }
    }
  },
  "externalDocs": {
    "url": "https://developers.google.com/adsense/management/"
  }
}