{
  "host": "yunbi.com",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "version": "v2",
    "title": "yunbi.com",
    "x-providerName": "yunbi.com",
    "x-origin": {
      "format": "swagger",
      "version": "1.2",
      "url": "https://yunbi.com/api/v2/doc/swagger"
    }
  },
  "paths": {
    "/v2/markets.json": {
      "get": {
        "operationId": "GET--version-markets---format-",
        "summary": "Get all available markets.",
        "description": "",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        }
      }
    },
    "/v2/tickers.json": {
      "get": {
        "operationId": "GET--version-tickers---format-",
        "summary": "Get ticker of all markets.",
        "description": "",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        }
      }
    },
    "/v2/tickers/{market}.json": {
      "get": {
        "operationId": "GET--version-tickers--market---format-",
        "summary": "Get ticker of specific market.",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "Unique market id. It's always in the form of xxxyyy, where xxx is the base currency code, yyy is the quote currency code, e.g. 'btccny'. All available markets can be found at /api/v2/markets.",
            "name": "market",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        }
      }
    },
    "/v2/members/me.json": {
      "get": {
        "operationId": "GET--version-members-me---format-",
        "summary": "Get your profile and accounts info.",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "description": "Access key.",
            "name": "access_key",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "Tonce is an integer represents the milliseconds elapsed since Unix epoch.",
            "name": "tonce",
            "required": true,
            "type": "integer"
          },
          {
            "in": "query",
            "description": "The signature of your request payload, generated using your secret key.",
            "name": "signature",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        }
      }
    },
    "/v2/deposits.json": {
      "get": {
        "operationId": "GET--version-deposits---format-",
        "summary": "Get your deposits history.",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "description": "Access key.",
            "name": "access_key",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "Tonce is an integer represents the milliseconds elapsed since Unix epoch.",
            "name": "tonce",
            "required": true,
            "type": "integer"
          },
          {
            "in": "query",
            "description": "The signature of your request payload, generated using your secret key.",
            "name": "signature",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "Currency value contains  cny,btc,pls,bts,note,bitcny,bitusd,bitbtc,yun,nxt,ltc,doge",
            "name": "currency",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "description": "Set result limit.",
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "in": "query",
            "name": "state",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        }
      }
    },
    "/v2/deposit.json": {
      "get": {
        "operationId": "GET--version-deposit---format-",
        "summary": "Get details of specific deposit.",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "description": "Access key.",
            "name": "access_key",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "Tonce is an integer represents the milliseconds elapsed since Unix epoch.",
            "name": "tonce",
            "required": true,
            "type": "integer"
          },
          {
            "in": "query",
            "description": "The signature of your request payload, generated using your secret key.",
            "name": "signature",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "txid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        }
      }
    },
    "/v2/deposit_address.json": {
      "get": {
        "operationId": "GET--version-deposit_address---format-",
        "summary": "Where to deposit. The address field could be empty when a new address is generating (e.g. for bitcoin), you should try again later in that case.",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "description": "Access key.",
            "name": "access_key",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "Tonce is an integer represents the milliseconds elapsed since Unix epoch.",
            "name": "tonce",
            "required": true,
            "type": "integer"
          },
          {
            "in": "query",
            "description": "The signature of your request payload, generated using your secret key.",
            "name": "signature",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "The account to which you want to deposit. Available values: cny, btc, pls, bts, note, bitcny, bitusd, bitbtc, yun, nxt, ltc, doge",
            "name": "currency",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        }
      }
    },
    "/v2/orders.json": {
      "get": {
        "operationId": "GET--version-orders---format-",
        "summary": "Get your orders, results is paginated.",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "description": "Access key.",
            "name": "access_key",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "Tonce is an integer represents the milliseconds elapsed since Unix epoch.",
            "name": "tonce",
            "required": true,
            "type": "integer"
          },
          {
            "in": "query",
            "description": "The signature of your request payload, generated using your secret key.",
            "name": "signature",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "Unique market id. It's always in the form of xxxyyy, where xxx is the base currency code, yyy is the quote currency code, e.g. 'btccny'. All available markets can be found at /api/v2/markets.",
            "name": "market",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "Filter order by state, default to 'wait' (active orders).",
            "name": "state",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "description": "Limit the number of returned orders, default to 100.",
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "in": "query",
            "description": "Specify the page of paginated results.",
            "name": "page",
            "required": false,
            "type": "integer"
          },
          {
            "in": "query",
            "description": "If set, returned orders will be sorted in specific order, default to 'asc'.",
            "name": "order_by",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        }
      },
      "post": {
        "operationId": "POST--version-orders---format-",
        "summary": "Create a Sell/Buy order.",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "description": "Access key.",
            "name": "access_key",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "Tonce is an integer represents the milliseconds elapsed since Unix epoch.",
            "name": "tonce",
            "required": true,
            "type": "integer"
          },
          {
            "in": "formData",
            "description": "The signature of your request payload, generated using your secret key.",
            "name": "signature",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "Unique market id. It's always in the form of xxxyyy, where xxx is the base currency code, yyy is the quote currency code, e.g. 'btccny'. All available markets can be found at /api/v2/markets.",
            "name": "market",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "Either 'sell' or 'buy'.",
            "name": "side",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "The amount user want to sell/buy. An order could be partially executed, e.g. an order sell 5 btc can be matched with a buy 3 btc order, left 2 btc to be sold; in this case the order's volume would be '5.0', its remaining_volume would be '2.0', its executed volume is '3.0'.",
            "name": "volume",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "Price for each unit. e.g. If you want to sell/buy 1 btc at 3000 CNY, the price is '3000.0'",
            "name": "price",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "ord_type",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        }
      }
    },
    "/v2/orders/multi.json": {
      "post": {
        "operationId": "POST--version-orders-multi---format-",
        "summary": "Create multiple sell/buy orders.",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "description": "Access key.",
            "name": "access_key",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "Tonce is an integer represents the milliseconds elapsed since Unix epoch.",
            "name": "tonce",
            "required": true,
            "type": "integer"
          },
          {
            "in": "formData",
            "description": "The signature of your request payload, generated using your secret key.",
            "name": "signature",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "Unique market id. It's always in the form of xxxyyy, where xxx is the base currency code, yyy is the quote currency code, e.g. 'btccny'. All available markets can be found at /api/v2/markets.",
            "name": "market",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "orders",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "in": "formData",
            "description": "Either 'sell' or 'buy'.",
            "name": "orders[side]",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "The amount user want to sell/buy. An order could be partially executed, e.g. an order sell 5 btc can be matched with a buy 3 btc order, left 2 btc to be sold; in this case the order's volume would be '5.0', its remaining_volume would be '2.0', its executed volume is '3.0'.",
            "name": "orders[volume]",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "Price for each unit. e.g. If you want to sell/buy 1 btc at 3000 CNY, the price is '3000.0'",
            "name": "orders[price]",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "orders[ord_type]",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        }
      }
    },
    "/v2/orders/clear.json": {
      "post": {
        "operationId": "POST--version-orders-clear---format-",
        "summary": "Cancel all my orders.",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "description": "Access key.",
            "name": "access_key",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "Tonce is an integer represents the milliseconds elapsed since Unix epoch.",
            "name": "tonce",
            "required": true,
            "type": "integer"
          },
          {
            "in": "formData",
            "description": "The signature of your request payload, generated using your secret key.",
            "name": "signature",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "If present, only sell orders (asks) or buy orders (bids) will be canncelled.",
            "name": "side",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        }
      }
    },
    "/v2/order.json": {
      "get": {
        "operationId": "GET--version-order---format-",
        "summary": "Get information of specified order.",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "description": "Access key.",
            "name": "access_key",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "Tonce is an integer represents the milliseconds elapsed since Unix epoch.",
            "name": "tonce",
            "required": true,
            "type": "integer"
          },
          {
            "in": "query",
            "description": "The signature of your request payload, generated using your secret key.",
            "name": "signature",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "Unique order id.",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        }
      }
    },
    "/v2/order/delete.json": {
      "post": {
        "operationId": "POST--version-order-delete---format-",
        "summary": "Cancel an order.",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "description": "Access key.",
            "name": "access_key",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "Tonce is an integer represents the milliseconds elapsed since Unix epoch.",
            "name": "tonce",
            "required": true,
            "type": "integer"
          },
          {
            "in": "formData",
            "description": "The signature of your request payload, generated using your secret key.",
            "name": "signature",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "description": "Unique order id.",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        }
      }
    },
    "/v2/order_book.json": {
      "get": {
        "operationId": "GET--version-order_book---format-",
        "summary": "Get the order book of specified market.",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "description": "Unique market id. It's always in the form of xxxyyy, where xxx is the base currency code, yyy is the quote currency code, e.g. 'btccny'. All available markets can be found at /api/v2/markets.",
            "name": "market",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "Limit the number of returned sell orders. Default to 20.",
            "name": "asks_limit",
            "required": false,
            "type": "integer"
          },
          {
            "in": "query",
            "description": "Limit the number of returned buy orders. Default to 20.",
            "name": "bids_limit",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        }
      }
    },
    "/v2/depth.json": {
      "get": {
        "operationId": "GET--version-depth---format-",
        "summary": "Get depth or specified market. Both asks and bids are sorted from highest price to lowest.",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "description": "Unique market id. It's always in the form of xxxyyy, where xxx is the base currency code, yyy is the quote currency code, e.g. 'btccny'. All available markets can be found at /api/v2/markets.",
            "name": "market",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "Limit the number of returned price levels. Default to 300.",
            "name": "limit",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        }
      }
    },
    "/v2/trades.json": {
      "get": {
        "operationId": "GET--version-trades---format-",
        "summary": "Get recent trades on market, each trade is included only once. Trades are sorted in reverse creation order.",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "description": "Unique market id. It's always in the form of xxxyyy, where xxx is the base currency code, yyy is the quote currency code, e.g. 'btccny'. All available markets can be found at /api/v2/markets.",
            "name": "market",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "Limit the number of returned trades. Default to 50.",
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "in": "query",
            "description": "An integer represents the seconds elapsed since Unix epoch. If set, only trades executed before the time will be returned.",
            "name": "timestamp",
            "required": false,
            "type": "integer"
          },
          {
            "in": "query",
            "description": "Trade id. If set, only trades created after the trade will be returned.",
            "name": "from",
            "required": false,
            "type": "integer"
          },
          {
            "in": "query",
            "description": "Trade id. If set, only trades created before the trade will be returned.",
            "name": "to",
            "required": false,
            "type": "integer"
          },
          {
            "in": "query",
            "description": "If set, returned trades will be sorted in specific order, default to 'desc'.",
            "name": "order_by",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        }
      }
    },
    "/v2/trades/my.json": {
      "get": {
        "operationId": "GET--version-trades-my---format-",
        "summary": "Get your executed trades. Trades are sorted in reverse creation order.",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "description": "Access key.",
            "name": "access_key",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "Tonce is an integer represents the milliseconds elapsed since Unix epoch.",
            "name": "tonce",
            "required": true,
            "type": "integer"
          },
          {
            "in": "query",
            "description": "The signature of your request payload, generated using your secret key.",
            "name": "signature",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "Unique market id. It's always in the form of xxxyyy, where xxx is the base currency code, yyy is the quote currency code, e.g. 'btccny'. All available markets can be found at /api/v2/markets.",
            "name": "market",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "Limit the number of returned trades. Default to 50.",
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "in": "query",
            "description": "An integer represents the seconds elapsed since Unix epoch. If set, only trades executed before the time will be returned.",
            "name": "timestamp",
            "required": false,
            "type": "integer"
          },
          {
            "in": "query",
            "description": "Trade id. If set, only trades created after the trade will be returned.",
            "name": "from",
            "required": false,
            "type": "integer"
          },
          {
            "in": "query",
            "description": "Trade id. If set, only trades created before the trade will be returned.",
            "name": "to",
            "required": false,
            "type": "integer"
          },
          {
            "in": "query",
            "description": "If set, returned trades will be sorted in specific order, default to 'desc'.",
            "name": "order_by",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        }
      }
    },
    "/v2/timestamp.json": {
      "get": {
        "operationId": "GET--version-timestamp---format-",
        "summary": "Get server current time, in seconds since Unix epoch.",
        "description": "",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        }
      }
    },
    "/v2/k.json": {
      "get": {
        "operationId": "GET--version-k---format-",
        "summary": "Get OHLC(k line) of specific market.",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "description": "Unique market id. It's always in the form of xxxyyy, where xxx is the base currency code, yyy is the quote currency code, e.g. 'btccny'. All available markets can be found at /api/v2/markets.",
            "name": "market",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "Limit the number of returned data points, default to 30.",
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "in": "query",
            "description": "Time period of K line, default to 1. You can choose between 1, 5, 15, 30, 60, 120, 240, 360, 720, 1440, 4320, 10080",
            "name": "period",
            "required": false,
            "type": "integer"
          },
          {
            "in": "query",
            "description": "An integer represents the seconds elapsed since Unix epoch. If set, only k-line data after that time will be returned.",
            "name": "timestamp",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        }
      }
    },
    "/v2/k_with_pending_trades.json": {
      "get": {
        "operationId": "GET--version-k_with_pending_trades---format-",
        "summary": "Get K data with pending trades, which are the trades not included in K data yet, because there's delay between trade generated and processed by K data generator.",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "description": "Unique market id. It's always in the form of xxxyyy, where xxx is the base currency code, yyy is the quote currency code, e.g. 'btccny'. All available markets can be found at /api/v2/markets.",
            "name": "market",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "description": "The trade id of the first trade you received.",
            "name": "trade_id",
            "required": true,
            "type": "integer"
          },
          {
            "in": "query",
            "description": "Limit the number of returned data points, default to 30.",
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "in": "query",
            "description": "Time period of K line, default to 1. You can choose between 1, 5, 15, 30, 60, 120, 240, 360, 720, 1440, 4320, 10080",
            "name": "period",
            "required": false,
            "type": "integer"
          },
          {
            "in": "query",
            "description": "An integer represents the seconds elapsed since Unix epoch. If set, only k-line data after that time will be returned.",
            "name": "timestamp",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        }
      }
    }
  }
}