openapi: 3.0.3
servers:
  - description: Production server
    url: https://unify.apideck.com
info:
  contact:
    email: hello@apideck.com
    url: https://developers.apideck.com
  description: |
    Welcome to the Vault API 👋

    When you're looking to connect to an API, the first step is authentication.

    Vault helps you handle OAuth flows, store API keys, and refresh access tokens from users (called consumers in Apideck).

    ## Base URL

    The base URL for all API requests is `https://unify.apideck.com`

    ## Get Started

    To use the Apideck APIs, you need to sign up for free at [https://app.apideck.com/signup](). Follow the steps below to get started.

    - [Create a free account.](https://app.apideck.com/signup)
    - Go to the [Dashboard](https://app.apideck.com/unify/unified-apis/dashboard).
    - Get your API key and the application ID.
    - Select and configure the integrations you want to make available to your users. Through the Unify dashboard, you can configure which connectors you want to support as integrations.
    - Retrieve the client_id and client_secret for the integration you want to activate (Only needed for OAuth integrations).
    - Soon, you can skip the previous step and use the Apideck sandbox credentials to get you started instead (upcoming)
    - Register the redirect URI for the example app (https://unify.apideck.com/vault/callback) in the list of redirect URIs under your app's settings
    - Use the [publishing guides](/app-listing-requirements) to get your integration listed across app marketplaces.

    ### Hosted Vault

    Hosted Vault (vault.apideck.com) is a no-code solution, so you don't need to build your own UI to handle the integration settings and authentication.

    ![Hosted Vault - Integrations portal](https://github.com/apideck-samples/integration-settings/raw/master/public/img/vault.png)

    Behind the scenes, Hosted Vault implements the Vault API endpoints and handles the following features for your customers:

    - Add a connection
    - Handle the OAuth flow
    - Configure connection settings per integration
    - Manage connections
    - Discover and propose integration options
    - Search for integrations (upcoming)
    - Give integration suggestions based on provided metadata (email or website) when creating the session (upcoming)

    To use Hosted Vault, you will need to first [__create a session__](https://developers.apideck.com/apis/vault/reference#operation/sessionsCreate). This can be achieved by making a POST request to the Vault API to create a valid session for a user, hereafter referred to as the consumer ID.

    Example using curl:

    ```
    curl -X POST https://unify.apideck.com/vault/sessions
        -H "Content-Type: application/json"
        -H "Authorization: Bearer <your-api-key>"
        -H "X-APIDECK-CONSUMER-ID: <consumer-id>"
        -H "X-APIDECK-APP-ID: <application-id>"
        -d '{"consumer_metadata": { "account_name" : "Sample", "user_name": "Sand Box", "email": "sand@box.com", "image": "https://unavatar.now.sh/jake" }, "theme": { "vault_name": "Intercom", "primary_color": "#286efa", "sidepanel_background_color": "#286efa","sidepanel_text_color": "#FFFFFF", "favicon": "https://res.cloudinary.com/apideck/icons/intercom" }}'
    ```

    ### Vault API

    _Beware, this is strategy takes more time to implement in comparison to Hosted Vault._

    If you are building your integration settings UI manually, you can call the Vault API directly.

    The Vault API is for those who want to completely white label the in-app integrations overview and authentication experience. All the available endpoints are listed below.

    Through the API, your customers authenticate directly in your app, where Vault will still take care of redirecting to the auth provider and back to your app.

    If you're already storing access tokens, we will help you migrate through our Vault Migration API (upcoming).

    ## Domain model

    At its core, a domain model creates a web of interconnected entities.

    Our domain model contains five main entity types: Consumer (user, account, team, machine), Application, Connector, Integration, and Connection.

    ## Connection state

    The connection state is computed based on the connection flow below.

    ![](https://developers.apideck.com/api-references/vault/connection-flow.png)

    ## Unify and Proxy integration

    The only thing you need to use the Unify APIs and Proxy is the consumer id; thereafter, Vault will do the look-up in the background to handle the token injection before performing the API call(s).

    ## Headers

    Custom headers that are expected as part of the request. Note that [RFC7230](https://tools.ietf.org/html/rfc7230) states header names are case insensitive.

    | Name                  | Type    | Required | Description                                                                                                                                                    |
    | --------------------- | ------- | -------- | -------------------------------------------------------------------------------------------------------------------------------------------------------------- |
    | x-apideck-app-id      | String  | Yes      | The id of your Unify application. Available at https://app.apideck.com/api-keys.                                                                               |
    | x-apideck-consumer-id | String  | Yes      | The id of the customer stored inside Apideck Vault. This can be a user id, account id, device id or whatever entity that can have integration within your app. |
    | x-apideck-raw         | Boolean | No       | Include raw response. Mostly used for debugging purposes.                                                                                                      |

    ## Sandbox (upcoming)

    The sandbox is pre-loaded with data similar to a real-life integrations setup. You can use the preconfigured OAauth configured connectors for testing purposes and can skip this step by using the Apideck sandbox credentials to get you started.

    ## Guides

    - [How to build an integrations UI with Vault](https://github.com/apideck-samples/integration-settings)
    - How to configure the OAuth credentials for integration providers (COMING SOON)

    ## FAQ

    **What purpose does Vault serve? Can I just handle the authentication and access token myself?**
    You can store everything yourself, but that defeats the purpose of using Apideck Unify. Handling tokens for multiple providers can quickly become very complex.

    ### Is my data secure?

    Vault employs data minimization, therefore only requesting the minimum amount of scopes needed to perform an API request.

    ### How do I migrate existing data?

    Using our migration API, you can migrate the access tokens and accounts to Apideck Vault. (COMING SOON)

    ### Can I use Vault in combination with existing integrations?

    Yes, you can. The flexibility of Unify allows you to quickly the use cases you need while keeping a gradual migration path based on your timeline and requirements.

    ### How does Vault work for Apideck Ecosystem customers?

    Once logged in, pick your ecosystem; on the left-hand side of the screen, you'll have the option to create an application underneath the Unify section.

    ### How to integrate Apideck Vault

    This section covers everything you need to know to authenticate your customers through Vault.
    Vault provides **three auth strategies** to use API tokens from your customers:

    - Vault API
    - Hosted Vault
    - Apideck Ecosystem _(COMING SOON)_

    You can also opt to bypass Vault and still take care of authentication flows yourself. Make sure to put the right safeguards in place to protect your customers' tokens and other sensitive data.

    ### What auth types does Vault support?

    What auth strategies does Vault handle? We currently support three flows so your customers can activate an integration.

    #### API keys

    For Services supporting the API key strategy, you can use Hosted Vault will need to provide an in-app form where users can configure their API keys provided by the integration service.

    #### OAuth 2.0

    ##### Authorization Code Grant Type Flow

    Vault handles the complete Authorization Code Grant Type Flow for you. This flow only supports browser-based (passive) authentication because most identity providers don't allow entering a username and password to be entered into applications that they don't own.

    Certain connectors require an OAuth redirect authentication flow, where the end-user is redirected to the provider's website or mobile app to authenticate.

    This is being handled by the `/authorize` endpoint.

    #### Basic auth

    Basic authentication is a simple authentication scheme built into the HTTP protocol. The required fields to complete basic auth are handled by Hosted Vault or by updating the connection through the Vault API below.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: Vault API
  version: 5.5.1
  x-apideck-api: vault
  x-apideck-sdk-support: true
  x-apisguru-categories:
    - developer_tools
  x-logo:
    url: https://developers.apideck.com/icon.png
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/apideck-libraries/openapi-specs/master/vault.yml
      version: "3.0"
  x-providerName: apideck.com
  x-serviceName: vault
  x-tags:
    - partner
externalDocs:
  description: Apideck Developer Docs
  url: https://developers.apideck.com
security:
  - apiKey: []
    applicationId: []
tags:
  - description: ""
    name: Sessions
    x-apideck-model:
      $ref: "#/components/schemas/Session"
  - description: ""
    name: Connections
    x-apideck-model:
      $ref: "#/components/schemas/Connection"
  - description: ""
    name: Consumers
    x-apideck-model:
      $ref: "#/components/schemas/Consumer"
  - description: ""
    name: Logs
    x-apideck-model:
      $ref: "#/components/schemas/Log"
paths:
  "/vault/authorize/{service_id}/{application_id}":
    get:
      description: |
        __In most cases the authorize link is provided in the ``/connections`` endpoint. Normally you don't need to manually generate these links.__

        Use this endpoint to authenticate a user with a connector. It will return a 302 redirect to the downstream connector endpoints.

        Auth links will have a state parameter included to verify the validity of the request. This is the url your users will use to activate OAuth supported integation providers.

        Vault handles the complete Authorization Code Grant Type Flow for you and will redirect you to the dynamic redirect uri you have appended to the url in case this is missing the default redirect uri you have configured for your Unify application.
      operationId: connectionsAuthorize
      parameters:
        - $ref: "#/components/parameters/service_id"
        - $ref: "#/components/parameters/application_id"
        - $ref: "#/components/parameters/state"
        - $ref: "#/components/parameters/redirect_uri"
        - $ref: "#/components/parameters/scope"
      responses:
        "301":
          description: redirect
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "422":
          $ref: "#/components/responses/UnprocessableResponse"
        default:
          $ref: "#/components/responses/UnexpectedErrorResponse"
      security: []
      summary: Authorize
      tags:
        - Connections
      x-apideck-api: vault
      x-codeSamples:
        - label: Node
          lang: TypeScript
          source: |
            import { Apideck } from '@apideck/node'

            const apideck = new Apideck({
              apiKey: 'REPLACE_WITH_API_KEY'
            })

            const params = {
              serviceId: 'pipedrive',
              applicationId: 'application_id_example',
              state:
                'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjb25zdW1lcl9pZCI6InRlc3RfdXNlcl9pZCIsInVuaWZpZWRfYXBpIjoiZGVmYXVsdCIsInNlcnZpY2VfaWQiOiJ0ZWFtbGVhZGVyIiwiYXBwbGljYXRpb25faWQiOiIxMTExIiwiaWF0IjoxNjIyMTI2Nzg3fQ.97_pn1UAXc7mctXBdr15czUNO1jjdQ9sJUOIE_Myzbk',
              redirectUri: 'http://example.com/integrations'
            }

            try {
              const { data } = await apideck.vault.connectionsAuthorize(params)
              console.log('API called successfully', data)
            } catch (error) {
              console.error(error)
            }
      x-graphql-exclude: true
      x-sdk-exclude: true
  /vault/callback:
    get:
      description: |
        This endpoint gets called after the triggering the authorize flow.

        Callback links need a state and code parameter to verify the validity of the request.
      operationId: connectionsCallback
      parameters:
        - $ref: "#/components/parameters/state"
        - $ref: "#/components/parameters/code"
      responses:
        "301":
          description: callback
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "422":
          $ref: "#/components/responses/UnprocessableResponse"
        default:
          $ref: "#/components/responses/UnexpectedErrorResponse"
      security: []
      summary: Callback
      tags:
        - Connections
      x-apideck-api: vault
      x-codeSamples:
        - label: Node
          lang: TypeScript
          source: |
            import { Apideck } from '@apideck/node'

            const apideck = new Apideck({
              apiKey: 'REPLACE_WITH_API_KEY'
            })

            const params = {
              state:
                'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjb25zdW1lcl9pZCI6InRlc3RfdXNlcl9pZCIsInVuaWZpZWRfYXBpIjoiZGVmYXVsdCIsInNlcnZpY2VfaWQiOiJ0ZWFtbGVhZGVyIiwiYXBwbGljYXRpb25faWQiOiIxMTExIiwiaWF0IjoxNjIyMTI2Nzg3fQ.97_pn1UAXc7mctXBdr15czUNO1jjdQ9sJUOIE_Myzbk',
              code: 'g0ZGZmNjVmOWI'
            }

            try {
              const { data } = await apideck.vault.connectionsCallback(params)
              console.log('API called successfully', data)
            } catch (error) {
              console.error(error)
            }
      x-graphql-exclude: true
      x-sdk-exclude: true
  /vault/connections:
    get:
      description: |
        This endpoint includes all the configured integrations and contains the required assets
        to build an integrations page where your users can install integrations.
        OAuth2 supported integrations will contain authorize and revoke links to handle the authentication flows.
      operationId: connectionsAll
      parameters:
        - $ref: "#/components/parameters/x-apideck-consumer-id"
        - $ref: "#/components/parameters/x-apideck-app-id"
        - $ref: "#/components/parameters/api"
        - $ref: "#/components/parameters/configured"
      responses:
        "200":
          $ref: "#/components/responses/GetConnectionsResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "422":
          $ref: "#/components/responses/UnprocessableResponse"
        default:
          $ref: "#/components/responses/UnexpectedErrorResponse"
      security:
        - apiKey: []
      summary: Get all connections
      tags:
        - Connections
      x-apideck-api: vault
      x-codeSamples:
        - label: Node
          lang: TypeScript
          source: |
            import { Apideck } from '@apideck/node'

            const apideck = new Apideck({
              apiKey: 'REPLACE_WITH_API_KEY',
              appId: 'REPLACE_WITH_APP_ID',
              consumerId: 'REPLACE_WITH_CONSUMER_ID'
            })

            try {
              const { data } = await apideck.vault.connectionsAll({})
              console.log('API called successfully', data)
            } catch (error) {
              console.error(error)
            }
      x-graphql-field-name: connections
  "/vault/connections/{unified_api}/{service_id}":
    delete:
      description: Deletes a connection
      operationId: connectionsDelete
      parameters:
        - $ref: "#/components/parameters/x-apideck-consumer-id"
        - $ref: "#/components/parameters/x-apideck-app-id"
        - $ref: "#/components/parameters/service_id"
        - $ref: "#/components/parameters/unified_api"
      responses:
        "204":
          description: Resource deleted
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "422":
          $ref: "#/components/responses/UnprocessableResponse"
        default:
          $ref: "#/components/responses/UnexpectedErrorResponse"
      security:
        - apiKey: []
      summary: Deletes a connection
      tags:
        - Connections
      x-apideck-api: vault
      x-codeSamples:
        - label: Node
          lang: TypeScript
          source: |
            import { Apideck } from '@apideck/node'

            const apideck = new Apideck({
              apiKey: 'REPLACE_WITH_API_KEY',
              appId: 'REPLACE_WITH_APP_ID',
              consumerId: 'REPLACE_WITH_CONSUMER_ID'
            })

            try {
              const { data } = await apideck.vault.connectionsDelete({
                serviceId: 'pipedrive',
                unifiedApi: 'crm'
              })
              console.log('API called successfully', data)
            } catch (error) {
              console.error(error)
            }
      x-graphql-field-name: connectionsDelete
    patch:
      description: Update a connection
      operationId: connectionsUpdate
      parameters:
        - $ref: "#/components/parameters/x-apideck-consumer-id"
        - $ref: "#/components/parameters/x-apideck-app-id"
        - $ref: "#/components/parameters/service_id"
        - $ref: "#/components/parameters/unified_api"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Connection"
        description: Fields that need to be updated on the resource
        required: true
      responses:
        "200":
          $ref: "#/components/responses/UpdateConnectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "422":
          $ref: "#/components/responses/UnprocessableResponse"
        default:
          $ref: "#/components/responses/UnexpectedErrorResponse"
      security:
        - apiKey: []
      summary: Update connection
      tags:
        - Connections
      x-apideck-api: vault
      x-codeSamples:
        - label: Node
          lang: TypeScript
          source: |
            import { Apideck } from '@apideck/node'

            const apideck = new Apideck({
              apiKey: 'REPLACE_WITH_API_KEY',
              appId: 'REPLACE_WITH_APP_ID',
              consumerId: 'REPLACE_WITH_CONSUMER_ID'
            })

            const params = {
              serviceId: 'pipedrive',
              unifiedApi: 'crm',
              connection: {
                settings: {
                  instance_url: 'https://eu28.salesforce.com'
                },
                metadata: {
                  account: {
                    name: 'My Company',
                    id: 'c01458a5-7276-41ce-bc19-639906b0450a'
                  },
                  plan: 'enterprise'
                },
                auth_type: 'oauth2',
                form_fields: [
                  {
                    id: 'instance_url',
                    label: 'Instance url',
                    value: 'https://eu28.salesforce.com',
                    placeholder: '',
                    mask: false,
                    type: 'text',
                    required: true,
                    disabled: false,
                    custom_field: false
                  }
                ],
                configuration: [
                  {
                    resource: 'leads',
                    defaults: [
                      {
                        id: 'ProductInterest',
                        options: [Array],
                        value: 'GC5000 series'
                      }
                    ]
                  }
                ],
                enabled: true
              }
            }

            try {
              const { data } = await apideck.vault.connectionsUpdate(params)
              console.log('API called successfully', data)
            } catch (error) {
              console.error(error)
            }
    post:
      description: |
        Create an authorized connection
      operationId: connectionsAdd
      parameters:
        - $ref: "#/components/parameters/x-apideck-consumer-id"
        - $ref: "#/components/parameters/x-apideck-app-id"
        - $ref: "#/components/parameters/service_id"
        - $ref: "#/components/parameters/unified_api"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Connection"
        description: Fields that need to be persisted on the resource
        required: true
      responses:
        "200":
          $ref: "#/components/responses/CreateConnectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "422":
          $ref: "#/components/responses/UnprocessableResponse"
        default:
          $ref: "#/components/responses/UnexpectedErrorResponse"
      security:
        - apiKey: []
      summary: Create connection
      tags:
        - Connections
      x-apideck-api: vault
      x-codeSamples:
        - label: Node
          lang: TypeScript
          source: |
            import { Apideck } from '@apideck/node'

            const apideck = new Apideck({
              apiKey: 'REPLACE_WITH_API_KEY',
              appId: 'REPLACE_WITH_APP_ID',
              consumerId: 'REPLACE_WITH_CONSUMER_ID'
            })

            const params = {
              serviceId: 'pipedrive',
              unifiedApi: 'crm',
              connection: {
                settings: {
                  instance_url: 'https://eu28.salesforce.com'
                },
                metadata: {
                  account: {
                    name: 'My Company',
                    id: 'c01458a5-7276-41ce-bc19-639906b0450a'
                  },
                  plan: 'enterprise'
                },
                auth_type: 'oauth2',
                form_fields: [
                  {
                    id: 'instance_url',
                    label: 'Instance url',
                    value: 'https://eu28.salesforce.com',
                    placeholder: '',
                    mask: false,
                    type: 'text',
                    required: true,
                    disabled: false,
                    custom_field: false
                  }
                ],
                configuration: [
                  {
                    resource: 'leads',
                    defaults: [
                      {
                        id: 'ProductInterest',
                        options: [Array],
                        value: 'GC5000 series'
                      }
                    ]
                  }
                ],
                enabled: true
              }
            }

            try {
              const { data } = await apideck.vault.connectionsAdd(params)
              console.log('API called successfully', data)
            } catch (error) {
              console.error(error)
            }
      x-graphql-exclude: true
      x-sdk-exclude: true
  "/vault/connections/{unified_api}/{service_id}/{resource}/config":
    get:
      description: |
        This endpoint returns custom settings and their defaults required by connection for a given resource.
      operationId: connectionsGetSettings
      parameters:
        - $ref: "#/components/parameters/x-apideck-consumer-id"
        - $ref: "#/components/parameters/x-apideck-app-id"
        - $ref: "#/components/parameters/unified_api"
        - $ref: "#/components/parameters/service_id"
        - $ref: "#/components/parameters/resource"
      responses:
        "200":
          $ref: "#/components/responses/GetConnectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "422":
          $ref: "#/components/responses/UnprocessableResponse"
        default:
          $ref: "#/components/responses/UnexpectedErrorResponse"
      security:
        - apiKey: []
      summary: Get settings
      tags:
        - Connections
      x-apideck-api: vault
      x-codeSamples:
        - label: Node
          lang: TypeScript
          source: |
            import { Apideck } from '@apideck/node'

            const apideck = new Apideck({
              apiKey: 'REPLACE_WITH_API_KEY',
              appId: 'REPLACE_WITH_APP_ID',
              consumerId: 'REPLACE_WITH_CONSUMER_ID'
            })

            const params = {
              unifiedApi: 'crm',
              serviceId: 'pipedrive',
              resource: 'leads'
            }

            try {
              const { data } = await apideck.vault.connectionsGetSettings(params)
              console.log('API called successfully', data)
            } catch (error) {
              console.error(error)
            }
      x-graphql-field-name: connectionSettings
    patch:
      description: Update default values for a connection's resource settings
      operationId: connectionsUpdateSettings
      parameters:
        - $ref: "#/components/parameters/x-apideck-consumer-id"
        - $ref: "#/components/parameters/x-apideck-app-id"
        - $ref: "#/components/parameters/service_id"
        - $ref: "#/components/parameters/unified_api"
        - $ref: "#/components/parameters/resource"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Connection"
        description: Fields that need to be updated on the resource
        required: true
      responses:
        "200":
          $ref: "#/components/responses/UpdateConnectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "422":
          $ref: "#/components/responses/UnprocessableResponse"
        default:
          $ref: "#/components/responses/UnexpectedErrorResponse"
      security:
        - apiKey: []
      summary: Update settings
      tags:
        - Connections
      x-apideck-api: vault
      x-codeSamples:
        - label: Node
          lang: TypeScript
          source: |
            import { Apideck } from '@apideck/node'

            const apideck = new Apideck({
              apiKey: 'REPLACE_WITH_API_KEY',
              appId: 'REPLACE_WITH_APP_ID',
              consumerId: 'REPLACE_WITH_CONSUMER_ID'
            })

            const params = {
              serviceId: 'pipedrive',
              unifiedApi: 'crm',
              resource: 'leads',
              connection: {
                settings: {
                  instance_url: 'https://eu28.salesforce.com'
                },
                metadata: {
                  account: {
                    name: 'My Company',
                    id: 'c01458a5-7276-41ce-bc19-639906b0450a'
                  },
                  plan: 'enterprise'
                },
                auth_type: 'oauth2',
                form_fields: [
                  {
                    id: 'instance_url',
                    label: 'Instance url',
                    value: 'https://eu28.salesforce.com',
                    placeholder: '',
                    mask: false,
                    type: 'text',
                    required: true,
                    disabled: false,
                    custom_field: false
                  }
                ],
                configuration: [
                  {
                    resource: 'leads',
                    defaults: [
                      {
                        id: 'ProductInterest',
                        options: [Array],
                        value: 'GC5000 series'
                      }
                    ]
                  }
                ],
                enabled: true
              }
            }

            try {
              const { data } = await apideck.vault.connectionsUpdateSettings(params)
              console.log('API called successfully', data)
            } catch (error) {
              console.error(error)
            }
      x-graphql-field-name: connectionSettingsUpdate
  /vault/consumers:
    get:
      description: |
        This endpoint includes all application consumers, along with an aggregated count of requests made.
      operationId: consumersAll
      parameters:
        - $ref: "#/components/parameters/x-apideck-app-id"
        - $ref: "#/components/parameters/cursor"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          $ref: "#/components/responses/GetConsumersResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "422":
          $ref: "#/components/responses/UnprocessableResponse"
        default:
          $ref: "#/components/responses/UnexpectedErrorResponse"
      security:
        - apiKey: []
      summary: Get all consumers
      tags:
        - Consumers
      x-apideck-api: vault
      x-codeSamples:
        - label: Node
          lang: TypeScript
          source: |
            import { Apideck } from '@apideck/node'

            const apideck = new Apideck({
              apiKey: 'REPLACE_WITH_API_KEY',
              appId: 'REPLACE_WITH_APP_ID'
            })

            try {
              const { data } = await apideck.vault.consumersAll({})
              console.log('API called successfully', data)
            } catch (error) {
              console.error(error)
            }
      x-graphql-field-name: consumers
  "/vault/consumers/{consumer_id}":
    get:
      description: |
        Consumer detail including their aggregated counts with the connections they have authorized.
      operationId: consumersOne
      parameters:
        - $ref: "#/components/parameters/x-apideck-app-id"
        - $ref: "#/components/parameters/consumer_id"
      responses:
        "200":
          $ref: "#/components/responses/GetConsumerResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "422":
          $ref: "#/components/responses/UnprocessableResponse"
        default:
          $ref: "#/components/responses/UnexpectedErrorResponse"
      security:
        - apiKey: []
      summary: Get consumer
      tags:
        - Consumers
      x-apideck-api: vault
      x-codeSamples:
        - label: Node
          lang: TypeScript
          source: |
            import { Apideck } from '@apideck/node'

            const apideck = new Apideck({
              apiKey: 'REPLACE_WITH_API_KEY',
              appId: 'REPLACE_WITH_APP_ID'
            })

            try {
              const { data } = await apideck.vault.consumersOne({
                consumerId: 'test_user_id'
              })
              console.log('API called successfully', data)
            } catch (error) {
              console.error(error)
            }
      x-graphql-field-name: consumer
  "/vault/consumers/{consumer_id}/stats":
    get:
      description: |
        Get consumer request counts within a given datetime range.
      operationId: consumersRequestCounts
      parameters:
        - $ref: "#/components/parameters/x-apideck-app-id"
        - $ref: "#/components/parameters/consumer_id"
        - $ref: "#/components/parameters/start_datetime"
        - $ref: "#/components/parameters/end_datetime"
      responses:
        "200":
          $ref: "#/components/responses/ConsumerRequestCountsInDateRangeResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "422":
          $ref: "#/components/responses/UnprocessableResponse"
        default:
          $ref: "#/components/responses/UnexpectedErrorResponse"
      security:
        - apiKey: []
      summary: Consumer request counts
      tags:
        - Consumers
      x-apideck-api: vault
      x-codeSamples:
        - label: Node
          lang: TypeScript
          source: |
            import { Apideck } from '@apideck/node'

            const apideck = new Apideck({
              apiKey: 'REPLACE_WITH_API_KEY',
              appId: 'REPLACE_WITH_APP_ID'
            })

            const params = {
              consumerId: 'test_user_id',
              startDatetime: '2021-05-01T12:00:00.000Z',
              endDatetime: '2021-05-30T12:00:00.000Z'
            }

            try {
              const { data } = await apideck.vault.consumersRequestCounts(params)
              console.log('API called successfully', data)
            } catch (error) {
              console.error(error)
            }
      x-graphql-field-name: consumersRequestCounts
  /vault/logs:
    get:
      description: |
        This endpoint includes all consumer request logs.
      operationId: logsAll
      parameters:
        - $ref: "#/components/parameters/x-apideck-app-id"
        - $ref: "#/components/parameters/x-apideck-consumer-id"
        - $ref: "#/components/parameters/filter"
        - $ref: "#/components/parameters/cursor"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          $ref: "#/components/responses/GetLogsResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "422":
          $ref: "#/components/responses/UnprocessableResponse"
        default:
          $ref: "#/components/responses/UnexpectedErrorResponse"
      security:
        - apiKey: []
      summary: Get all consumer request logs
      tags:
        - Logs
      x-apideck-api: vault
      x-codeSamples:
        - label: Node
          lang: TypeScript
          source: |
            import { Apideck } from '@apideck/node'

            const apideck = new Apideck({
              apiKey: 'REPLACE_WITH_API_KEY',
              appId: 'REPLACE_WITH_APP_ID',
              consumerId: 'REPLACE_WITH_CONSUMER_ID'
            })

            try {
              const { data } = await apideck.vault.logsAll({})
              console.log('API called successfully', data)
            } catch (error) {
              console.error(error)
            }
      x-graphql-field-name: logs
  /vault/proxy:
    delete:
      deprecated: true
      description: |
        **Note**: This endpoint is deprecated in favor of the [Proxy API](https://docs.apideck.com/apis/proxy). Please use the new API as documented at https://docs.apideck.com/apis/proxy
      operationId: deleteProxy
      parameters:
        - $ref: "#/components/parameters/x-apideck-consumer-id"
        - $ref: "#/components/parameters/x-apideck-app-id"
        - $ref: "#/components/parameters/x-apideck-service-id"
        - $ref: "#/components/parameters/x-apideck-downstream-authorization"
        - $ref: "#/components/parameters/x-apideck-downstream-url"
        - $ref: "#/components/parameters/x-apideck-downstream-method"
      responses:
        "200":
          $ref: "#/components/responses/Ok"
        default:
          $ref: "#/components/responses/ProxyError"
      security:
        - apiKey: []
      summary: DELETE
      tags:
        - Proxy
      x-apideck-api: vault
      x-codeSamples:
        - label: Node
          lang: TypeScript
          source: |
            import { Apideck } from '@apideck/node'

            const apideck = new Apideck({
              apiKey: 'REPLACE_WITH_API_KEY',
              appId: 'REPLACE_WITH_APP_ID',
              consumerId: 'REPLACE_WITH_CONSUMER_ID',
              downstreamAuthorization: 'REPLACE_WITH_DOWNSTREAM_AUTHORIZATION',
              downstreamMethod: 'REPLACE_WITH_DOWNSTREAM_METHOD',
              downstreamUrl: 'REPLACE_WITH_DOWNSTREAM_URL'
            })

            try {
              const { data } = await apideck.vault.deleteProxy({})
              console.log('API called successfully', data)
            } catch (error) {
              console.error(error)
            }
      x-graphql-exclude: true
      x-sdk-exclude: true
    get:
      deprecated: true
      description: |
        **Note**: This endpoint is deprecated in favor of the [Proxy API](https://docs.apideck.com/apis/proxy). Please use the new API as documented at https://docs.apideck.com/apis/proxy
      operationId: getProxy
      parameters:
        - $ref: "#/components/parameters/x-apideck-consumer-id"
        - $ref: "#/components/parameters/x-apideck-app-id"
        - $ref: "#/components/parameters/x-apideck-service-id"
        - $ref: "#/components/parameters/x-apideck-downstream-authorization"
        - $ref: "#/components/parameters/x-apideck-downstream-url"
        - $ref: "#/components/parameters/x-apideck-downstream-method"
      responses:
        "200":
          $ref: "#/components/responses/Ok"
        default:
          $ref: "#/components/responses/ProxyError"
      security:
        - apiKey: []
      summary: GET
      tags:
        - Proxy
      x-apideck-api: vault
      x-codeSamples:
        - label: Node
          lang: TypeScript
          source: |
            import { Apideck } from '@apideck/node'

            const apideck = new Apideck({
              apiKey: 'REPLACE_WITH_API_KEY',
              appId: 'REPLACE_WITH_APP_ID',
              consumerId: 'REPLACE_WITH_CONSUMER_ID',
              downstreamAuthorization: 'REPLACE_WITH_DOWNSTREAM_AUTHORIZATION',
              downstreamMethod: 'REPLACE_WITH_DOWNSTREAM_METHOD',
              downstreamUrl: 'REPLACE_WITH_DOWNSTREAM_URL'
            })

            try {
              const { data } = await apideck.vault.getProxy({})
              console.log('API called successfully', data)
            } catch (error) {
              console.error(error)
            }
      x-graphql-exclude: true
      x-sdk-exclude: true
    patch:
      deprecated: true
      description: |
        **Note**: This endpoint is deprecated in favor of the [Proxy API](https://docs.apideck.com/apis/proxy). Please use the new API as documented at https://docs.apideck.com/apis/proxy
      operationId: patchProxy
      parameters:
        - $ref: "#/components/parameters/x-apideck-consumer-id"
        - $ref: "#/components/parameters/x-apideck-app-id"
        - $ref: "#/components/parameters/x-apideck-service-id"
        - $ref: "#/components/parameters/x-apideck-downstream-authorization"
        - $ref: "#/components/parameters/x-apideck-downstream-url"
        - $ref: "#/components/parameters/x-apideck-downstream-method"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProxyRequest"
        description: Depending on the verb/method of the request this will contain the request body you want to POST/PATCH/PUT.
        required: false
      responses:
        "200":
          $ref: "#/components/responses/Ok"
        default:
          $ref: "#/components/responses/ProxyError"
      security:
        - apiKey: []
      summary: PATCH
      tags:
        - Proxy
      x-apideck-api: vault
      x-codeSamples:
        - label: Node
          lang: TypeScript
          source: |
            import { Apideck } from '@apideck/node'

            const apideck = new Apideck({
              apiKey: 'REPLACE_WITH_API_KEY',
              appId: 'REPLACE_WITH_APP_ID',
              consumerId: 'REPLACE_WITH_CONSUMER_ID',
              downstreamAuthorization: 'REPLACE_WITH_DOWNSTREAM_AUTHORIZATION',
              downstreamMethod: 'REPLACE_WITH_DOWNSTREAM_METHOD',
              downstreamUrl: 'REPLACE_WITH_DOWNSTREAM_URL'
            })

            const params = {
              patchProxy: {
                account_sid: 'ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX',
                api_version: '2010-04-01',
                body: 'This is the ship that made the Kessel Run in fourteen parsecs?',
                date_created: 'Thu, 30 Jul 2015 20:12:31 +0000',
                date_sent: 'Thu, 30 Jul 2015 20:12:33 +0000',
                date_updated: 'Thu, 30 Jul 2015 20:12:33 +0000',
                direction: 'outbound-api',
                error_code: null,
                error_message: null,
                from: '+15017122661',
                messaging_service_sid: 'MGXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX',
                num_media: '0',
                num_segments: '1',
                price: null,
                price_unit: null,
                sid: 'SMXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX',
                status: 'sent',
                subresource_uris: {
                  media:
                    '/2010-04-01/Accounts/ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX/Messages/SMXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX/Media.json'
                },
                to: '+15558675310',
                uri:
                  '/2010-04-01/Accounts/ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX/Messages/SMXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.json'
              }
            }

            try {
              const { data } = await apideck.vault.patchProxy(params)
              console.log('API called successfully', data)
            } catch (error) {
              console.error(error)
            }
      x-graphql-exclude: true
      x-sdk-exclude: true
    post:
      deprecated: true
      description: |
        **Note**: This endpoint is deprecated in favor of the [Proxy API](https://docs.apideck.com/apis/proxy). Please use the new API as documented at https://docs.apideck.com/apis/proxy
      operationId: postProxy
      parameters:
        - $ref: "#/components/parameters/x-apideck-consumer-id"
        - $ref: "#/components/parameters/x-apideck-app-id"
        - $ref: "#/components/parameters/x-apideck-service-id"
        - $ref: "#/components/parameters/x-apideck-downstream-authorization"
        - $ref: "#/components/parameters/x-apideck-downstream-url"
        - $ref: "#/components/parameters/x-apideck-downstream-method"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProxyRequest"
        description: Depending on the verb/method of the request this will contain the request body you want to POST/PATCH/PUT.
        required: false
      responses:
        "200":
          $ref: "#/components/responses/Ok"
        default:
          $ref: "#/components/responses/ProxyError"
      security:
        - apiKey: []
      summary: POST
      tags:
        - Proxy
      x-apideck-api: vault
      x-codeSamples:
        - label: Node
          lang: TypeScript
          source: |
            import { Apideck } from '@apideck/node'

            const apideck = new Apideck({
              apiKey: 'REPLACE_WITH_API_KEY',
              appId: 'REPLACE_WITH_APP_ID',
              consumerId: 'REPLACE_WITH_CONSUMER_ID',
              downstreamAuthorization: 'REPLACE_WITH_DOWNSTREAM_AUTHORIZATION',
              downstreamMethod: 'REPLACE_WITH_DOWNSTREAM_METHOD',
              downstreamUrl: 'REPLACE_WITH_DOWNSTREAM_URL'
            })

            const params = {
              postProxy: {
                account_sid: 'ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX',
                api_version: '2010-04-01',
                body: 'This is the ship that made the Kessel Run in fourteen parsecs?',
                date_created: 'Thu, 30 Jul 2015 20:12:31 +0000',
                date_sent: 'Thu, 30 Jul 2015 20:12:33 +0000',
                date_updated: 'Thu, 30 Jul 2015 20:12:33 +0000',
                direction: 'outbound-api',
                error_code: null,
                error_message: null,
                from: '+15017122661',
                messaging_service_sid: 'MGXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX',
                num_media: '0',
                num_segments: '1',
                price: null,
                price_unit: null,
                sid: 'SMXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX',
                status: 'sent',
                subresource_uris: {
                  media:
                    '/2010-04-01/Accounts/ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX/Messages/SMXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX/Media.json'
                },
                to: '+15558675310',
                uri:
                  '/2010-04-01/Accounts/ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX/Messages/SMXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.json'
              }
            }

            try {
              const { data } = await apideck.vault.postProxy(params)
              console.log('API called successfully', data)
            } catch (error) {
              console.error(error)
            }
      x-graphql-exclude: true
      x-sdk-exclude: true
    put:
      deprecated: true
      description: |
        **Note**: This endpoint is deprecated in favor of the [Proxy API](https://docs.apideck.com/apis/proxy). Please use the new API as documented at https://docs.apideck.com/apis/proxy
      operationId: putProxy
      parameters:
        - $ref: "#/components/parameters/x-apideck-consumer-id"
        - $ref: "#/components/parameters/x-apideck-app-id"
        - $ref: "#/components/parameters/x-apideck-service-id"
        - $ref: "#/components/parameters/x-apideck-downstream-authorization"
        - $ref: "#/components/parameters/x-apideck-downstream-url"
        - $ref: "#/components/parameters/x-apideck-downstream-method"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProxyRequest"
        description: Depending on the verb/method of the request this will contain the request body you want to POST/PATCH/PUT.
        required: false
      responses:
        "200":
          $ref: "#/components/responses/Ok"
        default:
          $ref: "#/components/responses/ProxyError"
      security:
        - apiKey: []
      summary: PUT
      tags:
        - Proxy
      x-apideck-api: vault
      x-codeSamples:
        - label: Node
          lang: TypeScript
          source: |
            import { Apideck } from '@apideck/node'

            const apideck = new Apideck({
              apiKey: 'REPLACE_WITH_API_KEY',
              appId: 'REPLACE_WITH_APP_ID',
              consumerId: 'REPLACE_WITH_CONSUMER_ID',
              downstreamAuthorization: 'REPLACE_WITH_DOWNSTREAM_AUTHORIZATION',
              downstreamMethod: 'REPLACE_WITH_DOWNSTREAM_METHOD',
              downstreamUrl: 'REPLACE_WITH_DOWNSTREAM_URL'
            })

            const params = {
              putProxy: {
                account_sid: 'ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX',
                api_version: '2010-04-01',
                body: 'This is the ship that made the Kessel Run in fourteen parsecs?',
                date_created: 'Thu, 30 Jul 2015 20:12:31 +0000',
                date_sent: 'Thu, 30 Jul 2015 20:12:33 +0000',
                date_updated: 'Thu, 30 Jul 2015 20:12:33 +0000',
                direction: 'outbound-api',
                error_code: null,
                error_message: null,
                from: '+15017122661',
                messaging_service_sid: 'MGXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX',
                num_media: '0',
                num_segments: '1',
                price: null,
                price_unit: null,
                sid: 'SMXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX',
                status: 'sent',
                subresource_uris: {
                  media:
                    '/2010-04-01/Accounts/ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX/Messages/SMXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX/Media.json'
                },
                to: '+15558675310',
                uri:
                  '/2010-04-01/Accounts/ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX/Messages/SMXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.json'
              }
            }

            try {
              const { data } = await apideck.vault.putProxy(params)
              console.log('API called successfully', data)
            } catch (error) {
              console.error(error)
            }
      x-graphql-exclude: true
      x-sdk-exclude: true
  "/vault/revoke/{service_id}/{application_id}":
    get:
      description: |
        __In most cases the authorize link is provided in the ``/connections`` endpoint. Normally you don't need to manually generate these links.__

        Use this endpoint to revoke an existing OAuth connector.

        Auth links will have a state parameter included to verify the validity of the request. This is the url your users will use to activate OAuth supported integation providers.

        Vault handles the complete revoke flow for you and will redirect you to the dynamic redirect uri you have appended to the url in case this is missing the default redirect uri you have configured for your Unify application.
      operationId: connectionsRevoke
      parameters:
        - $ref: "#/components/parameters/service_id"
        - $ref: "#/components/parameters/application_id"
        - $ref: "#/components/parameters/state"
        - $ref: "#/components/parameters/redirect_uri"
      responses:
        "301":
          description: redirect
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "422":
          $ref: "#/components/responses/UnprocessableResponse"
        default:
          $ref: "#/components/responses/UnexpectedErrorResponse"
      security: []
      summary: Revoke
      tags:
        - Connections
      x-apideck-api: vault
      x-codeSamples:
        - label: Node
          lang: TypeScript
          source: |
            import { Apideck } from '@apideck/node'

            const apideck = new Apideck({
              apiKey: 'REPLACE_WITH_API_KEY'
            })

            const params = {
              serviceId: 'pipedrive',
              applicationId: 'application_id_example',
              state:
                'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjb25zdW1lcl9pZCI6InRlc3RfdXNlcl9pZCIsInVuaWZpZWRfYXBpIjoiZGVmYXVsdCIsInNlcnZpY2VfaWQiOiJ0ZWFtbGVhZGVyIiwiYXBwbGljYXRpb25faWQiOiIxMTExIiwiaWF0IjoxNjIyMTI2Nzg3fQ.97_pn1UAXc7mctXBdr15czUNO1jjdQ9sJUOIE_Myzbk',
              redirectUri: 'http://example.com/integrations'
            }

            try {
              const { data } = await apideck.vault.connectionsRevoke(params)
              console.log('API called successfully', data)
            } catch (error) {
              console.error(error)
            }
      x-graphql-exclude: true
      x-sdk-exclude: true
  /vault/sessions:
    post:
      description: |
        Making a POST request to this endpoint will initiate a Hosted Vault session. Redirect the consumer to the returned
        url to allow temporary access to manage their integrations and settings.

        Note: This is a short lived token that will expire after 1 hour (TTL: 3600).
      operationId: sessionsCreate
      parameters:
        - $ref: "#/components/parameters/x-apideck-consumer-id"
        - $ref: "#/components/parameters/x-apideck-app-id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Session"
        description: Additional redirect uri and/or consumer metadata
        required: false
      responses:
        "200":
          $ref: "#/components/responses/CreateSessionResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "422":
          $ref: "#/components/responses/UnprocessableResponse"
        default:
          $ref: "#/components/responses/UnexpectedErrorResponse"
      security:
        - apiKey: []
      summary: Create Session
      tags:
        - Sessions
      x-apideck-api: vault
      x-codeSamples:
        - label: Node
          lang: TypeScript
          source: |
            import { Apideck } from '@apideck/node'

            const apideck = new Apideck({
              apiKey: 'REPLACE_WITH_API_KEY',
              appId: 'REPLACE_WITH_APP_ID',
              consumerId: 'REPLACE_WITH_CONSUMER_ID'
            })

            const params = {
              session: {
                consumer_metadata: {
                  account_name: 'SpaceX',
                  user_name: 'Elon Musk',
                  email: 'elon@musk.com',
                  image: 'https://www.spacex.com/static/images/share.jpg'
                },
                custom_consumer_settings: {
                  feature_flag_1: true,
                  tax_rates: [
                    {
                      id: '6',
                      label: '6%'
                    },
                    {
                      id: '21',
                      label: '21%'
                    }
                  ]
                },
                redirect_uri: 'https://mysaas.com/dashboard',
                settings: {
                  hide_resource_settings: false,
                  sandbox_mode: false,
                  session_length: '30m',
                  show_logs: true
                },
                theme: {
                  favicon: 'https://res.cloudinary.com/apideck/icons/intercom',
                  primary_color: '#286efa',
                  privacy_url: 'https://compliance.apideck.com/privacy-policy',
                  sidepanel_background_color: '#286efa',
                  sidepanel_text_color: '#FFFFFF',
                  terms_url: 'https://www.termsfeed.com/terms-conditions/957c85c1b089ae9e3219c83eff65377e',
                  vault_name: 'Intercom'
                }
              }
            }

            try {
              const { data } = await apideck.vault.sessionsCreate(params)
              console.log('API called successfully', data)
            } catch (error) {
              console.error(error)
            }
components:
  parameters:
    api:
      description: Scope results to Unified API
      example: crm
      in: query
      name: api
      schema:
        type: string
    application_id:
      description: Application ID of the resource to return
      in: path
      name: application_id
      required: true
      schema:
        type: string
    code:
      description: An authorization code from the connector which Apideck Vault will later exchange for an access token.
      example: g0ZGZmNjVmOWI
      in: query
      name: code
      required: true
      schema:
        type: string
    configured:
      description: Scopes results to connections that have been configured or not
      example: true
      in: query
      name: configured
      schema:
        type: boolean
    consumer_id:
      description: ID of the consumer to return
      example: test_user_id
      in: path
      name: consumer_id
      required: true
      schema:
        type: string
    cursor:
      description: Cursor to start from. You can find cursors for next/previous pages in the meta.cursors property of the response.
      in: query
      name: cursor
      schema:
        nullable: true
        type: string
    end_datetime:
      description: Scopes results to requests that happened before datetime
      example: 2021-05-30T12:00:00.000Z
      in: query
      name: end_datetime
      required: true
      schema:
        type: string
    filter:
      description: Filter results
      explode: true
      in: query
      name: filter
      schema:
        $ref: "#/components/schemas/LogsFilter"
      style: deepObject
    id:
      description: ID of the record you are acting upon.
      in: path
      name: id
      required: true
      schema:
        type: string
    limit:
      description: Number of records to return
      in: query
      name: limit
      schema:
        default: 20
        maximum: 200
        minimum: 1
        type: integer
    raw:
      description: Include raw response. Mostly used for debugging purposes
      in: query
      name: raw
      schema:
        default: true
        type: boolean
    redirect_uri:
      description: URL to redirect back to after authorization. When left empty the default configured redirect uri will be used.
      example: http://example.com/integrations
      in: query
      name: redirect_uri
      required: true
      schema:
        type: string
    resource:
      description: Resource Name
      example: leads
      in: path
      name: resource
      required: true
      schema:
        type: string
    scope:
      description: One or more OAuth scopes to request from the connector. OAuth scopes control the set of resources and operations that are allowed after authorization. Refer to the connector's documentation for the available scopes.
      example:
        - openid
        - leads:write
        - profile:read
      explode: false
      in: query
      name: scope
      schema:
        items:
          type: string
        type: array
      style: spaceDelimited
    service_id:
      description: Service ID of the resource to return
      example: pipedrive
      in: path
      name: service_id
      required: true
      schema:
        type: string
    start_datetime:
      description: Scopes results to requests that happened after datetime
      example: 2021-05-01T12:00:00.000Z
      in: query
      name: start_datetime
      required: true
      schema:
        type: string
    state:
      description: An opaque value the applications adds to the initial request that the authorization server includes when redirecting the back to the application. This value must be used by the application to prevent CSRF attacks.
      example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjb25zdW1lcl9pZCI6InRlc3RfdXNlcl9pZCIsInVuaWZpZWRfYXBpIjoiZGVmYXVsdCIsInNlcnZpY2VfaWQiOiJ0ZWFtbGVhZGVyIiwiYXBwbGljYXRpb25faWQiOiIxMTExIiwiaWF0IjoxNjIyMTI2Nzg3fQ.97_pn1UAXc7mctXBdr15czUNO1jjdQ9sJUOIE_Myzbk
      in: query
      name: state
      required: true
      schema:
        type: string
    unified_api:
      description: Unified API
      example: crm
      in: path
      name: unified_api
      required: true
      schema:
        type: string
    x-apideck-app-id:
      description: The ID of your Unify application
      in: header
      name: x-apideck-app-id
      required: true
      schema:
        type: string
    x-apideck-consumer-id:
      description: ID of the consumer which you want to get or push data from
      in: header
      name: x-apideck-consumer-id
      required: true
      schema:
        type: string
    x-apideck-downstream-authorization:
      description: Downstream authorization header. This will skip the Vault token injection.
      example: Bearer XXXXXXXXXXXXXXXXX
      in: header
      name: x-apideck-downstream-authorization
      required: false
      schema:
        type: string
    x-apideck-downstream-method:
      description: Downstream method. If not provided the upstream method will be inherited,
      example: POST
      in: header
      name: x-apideck-downstream-method
      required: false
      schema:
        type: string
    x-apideck-downstream-url:
      description: Downstream URL
      example: https://api.twilio.com
      in: header
      name: x-apideck-downstream-url
      required: true
      schema:
        type: string
    x-apideck-service-id:
      description: Provide the service id you want to call (e.g., pipedrive). [See the full list in the connector section.](#section/Connectors) Only needed when a consumer has activated multiple integrations for a Unified API.
      in: header
      name: x-apideck-service-id
      required: true
      schema:
        type: string
  responses:
    BadRequestResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/BadRequestResponse"
      description: Bad Request
    ConsumerRequestCountsInDateRangeResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ConsumerRequestCountsInDateRangeResponse"
      description: Consumers Request Counts within Date Range
    CreateConnectionResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CreateConnectionResponse"
      description: Connection created
    CreateSessionResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CreateSessionResponse"
      description: Session created
    Created:
      content:
        application/json:
          example: {}
          schema: {}
      description: Resource created
    Deleted:
      content:
        application/json:
          example: {}
          schema: {}
      description: Resource succesfully deleted
    GetConnectionResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetConnectionResponse"
      description: Connection
    GetConnectionsResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetConnectionsResponse"
      description: Connections
    GetConsumerResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetConsumerResponse"
      description: Consumer
    GetConsumersResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetConsumersResponse"
      description: Consumers
    GetLogsResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetLogsResponse"
      description: Logs
    NoContent:
      content:
        application/json:
          example: {}
          schema: {}
      description: No content
    NotFoundResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/NotFoundResponse"
      description: The specified resource was not found
    NotImplementedResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/NotImplementedResponse"
      description: Not Implemented
    Ok:
      content:
        application/json:
          example: {}
          schema: {}
      description: Ok
    PaymentRequiredResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/PaymentRequiredResponse"
      description: Payment Required
    ProxyError:
      content:
        application/json:
          schema: {}
      description: Proxy error
      headers:
        x-apideck-downstream-error:
          schema:
            description: Indicates if the error returned in the body is from the downstream
            type: boolean
    UnauthorizedResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UnauthorizedResponse"
      description: Unauthorized
    UnexpectedErrorResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UnexpectedErrorResponse"
      description: Unexpected error
    UnprocessableResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UnprocessableResponse"
      description: Unprocessable
    UpdateConnectionResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UpdateConnectionResponse"
      description: Connection updated
    Updated:
      content:
        application/json:
          example: {}
          schema: {}
      description: Resource updated
  schemas:
    AuthType:
      enum:
        - oauth2
        - apiKey
        - basic
        - none
      type: string
    BadRequestResponse:
      properties:
        detail:
          anyOf:
            - example: Missing property foobar
              type: string
            - example:
                missing:
                  - foobar: required
              type: object
          description: Contains parameter or domain specific information related to the error and why it occured.
        error:
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Bad Request
          type: string
        message:
          description: A human-readable message providing more details about the error.
          example: Invalid Params
          type: string
        ref:
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#requestbodyvalidationerror
          type: string
        status_code:
          description: HTTP status code
          example: 400
          type: number
        type_name:
          description: The type of error returned
          example: RequestHeadersValidationError
          type: string
    Connection:
      properties:
        auth_type:
          $ref: "#/components/schemas/AuthType"
          readOnly: true
        authorize_url:
          example: https://unify.apideck.com/vault/authorize/salesforce/<application-id>?state=<state>
          nullable: true
          readOnly: true
          type: string
        configurable_resources:
          example:
            - opportunities
            - companies
            - contacts
            - leads
          items:
            type: string
          readOnly: true
          type: array
        configuration:
          items:
            properties:
              defaults:
                items:
                  properties:
                    id:
                      example: ProductInterest
                      type: string
                    options:
                      items:
                        $ref: "#/components/schemas/FormFieldOption"
                      type: array
                    target:
                      enum:
                        - custom_fields
                        - resource
                      example: custom_fields
                      readOnly: true
                      type: string
                    value:
                      anyOf:
                        - example: GC5000 series
                          type: string
                        - example: 10
                          type: integer
                        - example: 10.5
                          type: number
                        - example: true
                          type: boolean
                        - items:
                            anyOf:
                              - example: GC6000 series
                                type: string
                              - example: 10
                                type: integer
                              - example: 10.5
                                type: number
                          type: array
                  type: object
                type: array
              resource:
                example: leads
                type: string
            type: object
          type: array
        created_at:
          example: 1615563533390
          readOnly: true
          type: number
        enabled:
          example: true
          type: boolean
        form_fields:
          example:
            - custom_field: false
              disabled: false
              id: instance_url
              label: Instance url
              mask: false
              placeholder: ""
              required: true
              type: text
              value: https://eu28.salesforce.com
          items:
            $ref: "#/components/schemas/FormField"
          type: array
        icon:
          example: https://res.cloudinary.com/apideck/image/upload/v1529456047/catalog/salesforce/icon128x128.png
          readOnly: true
          type: string
        id:
          example: lead+close
          readOnly: true
          type: string
        logo:
          example: https://c1.sfdcstatic.com/content/dam/web/en_us/www/images/home/logo-salesforce-m.svg
          readOnly: true
          type: string
        metadata:
          additionalProperties: true
          description: Attach your own consumer specific metadata
          example:
            account:
              id: c01458a5-7276-41ce-bc19-639906b0450a
              name: My Company
            plan: enterprise
          nullable: true
          properties: {}
          type: object
        name:
          example: Salesforce
          readOnly: true
          type: string
        resource_schema_support:
          example:
            - leads
          items:
            type: string
          readOnly: true
          type: array
        resource_settings_support:
          example:
            - leads
          items:
            type: string
          readOnly: true
          type: array
        revoke_url:
          example: https://unify.apideck.com/vault/revoke/salesforce/<application-id>?state=<state>
          nullable: true
          readOnly: true
          type: string
        service_id:
          example: salesforce
          readOnly: true
          type: string
        settings:
          description: Connection settings. Values will persist to `form_fields` with corresponding id
          example:
            instance_url: https://eu28.salesforce.com
          nullable: true
          type: object
        settings_required_for_authorization:
          example:
            - instance_url
          items:
            type: string
          readOnly: true
          type: array
        state:
          $ref: "#/components/schemas/ConnectionState"
          readOnly: true
        status:
          enum:
            - live
            - upcoming
            - requested
          readOnly: true
          type: string
        tag_line:
          example: CRM software solutions and enterprise cloud computing from Salesforce, the leader in customer relationship management (CRM) and PaaS. Free 30 day trial.
          readOnly: true
          type: string
        unified_api:
          example: crm
          readOnly: true
          type: string
        updated_at:
          example: 1616662325753
          nullable: true
          readOnly: true
          type: number
        website:
          example: https://www.salesforce.com
          readOnly: true
          type: string
      type: object
    ConnectionMetadata:
      properties:
        id:
          type: string
        name:
          type: string
      type: object
    ConnectionState:
      description: "[Connection state flow](#section/Connection-state)"
      enum:
        - available
        - callable
        - added
        - authorized
      example: authorized
      readOnly: true
      type: string
    Consumer:
      properties:
        aggregated_request_count:
          example: 101
          type: number
        application_id:
          example: "1111"
          type: string
        connections:
          items:
            properties:
              auth_type:
                $ref: "#/components/schemas/AuthType"
              created_at:
                example: 2020-09-19T12:18:37.071Z
                type: string
              enabled:
                example: true
                type: boolean
              icon:
                example: https://res.cloudinary.com/apideck/image/upload/v1529456047/catalog/salesforce/icon128x128.png
                type: string
              id:
                example: 1111+test_user_id
                readOnly: true
                type: string
              logo:
                example: https://c1.sfdcstatic.com/content/dam/web/en_us/www/images/home/logo-salesforce-m.svg
                type: string
              name:
                example: Salesforce
                type: string
              service_id:
                example: teamleader
                type: string
              state:
                enum:
                  - available
                  - callable
                  - added
                  - configured
                  - authorized
                example: authorized
                type: string
              unified_api:
                example: crm
                type: string
              updated_at:
                example: 2020-09-19T12:18:37.071Z
                nullable: true
                type: string
            type: object
          type: array
        consumer_id:
          example: test_consumer_id
          type: string
        created:
          example: 2021-05-07T12:55:42.242Z
          type: string
        metadata:
          $ref: "#/components/schemas/ConsumerMetadata"
        modified:
          example: 2021-05-07T12:55:42.242Z
          type: string
        request_count_updated:
          example: 2021-05-07T12:55:42.242Z
          type: string
        request_counts:
          $ref: "#/components/schemas/RequestCountAllocation"
        services:
          example:
            - salesforce
            - stripe
          items:
            example: salesforce
            type: string
          type: array
      type: object
    ConsumerMetadata:
      properties:
        account_name:
          example: SpaceX
          type: string
        email:
          example: elon@musk.com
          type: string
        image:
          example: https://www.spacex.com/static/images/share.jpg
          type: string
        user_name:
          example: Elon Musk
          type: string
      type: object
    ConsumerRequestCountsInDateRangeResponse:
      properties:
        data:
          properties:
            aggregated_request_count:
              example: 40
              type: number
            application_id:
              example: "1111"
              type: string
            consumer_id:
              example: test_user_id
              type: string
            end_datetime:
              example: 2021-05-10T12:00:00.000Z
              type: string
            request_counts:
              $ref: "#/components/schemas/RequestCountAllocation"
            start_datetime:
              example: 2021-05-01T12:00:00.000Z
              type: string
          type: object
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
        - status_code
        - status
        - data
      type: object
    CreateConnectionResponse:
      properties:
        data:
          $ref: "#/components/schemas/Connection"
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 201
          type: integer
      required:
        - status_code
        - status
        - data
      type: object
    CreateSessionResponse:
      additionalProperties: false
      properties:
        data:
          additionalProperties: false
          properties:
            session_uri:
              example: http://vault.apideck.com/session/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjb25zdW1lcl9pZCI6InRlc3RfdXNlcl9pZCIsImFwcGxpY2F0aW9uX2lkIj
              readOnly: true
              type: string
          required:
            - session_uri
          type: object
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
        - status_code
        - status
        - data
      type: object
    Created:
      properties: {}
      required:
        - ""
      type: object
    FormField:
      properties:
        custom_field:
          example: false
          type: boolean
        description:
          example: Slack channel to push notification to
          nullable: true
          type: string
        disabled:
          example: false
          nullable: true
          type: boolean
        id:
          example: channel
          type: string
        label:
          example: Channel
          type: string
        options:
          example:
            - label: General Channel
              value: general
          items:
            $ref: "#/components/schemas/FormFieldOption"
          type: array
        placeholder:
          example: Select a channel
          nullable: true
          type: string
        required:
          example: true
          type: boolean
        type:
          enum:
            - text
            - checkbox
            - tel
            - email
            - url
            - textarea
            - select
            - filtered-select
            - multi-select
            - datetime
            - date
            - time
            - number
          example: select
      type: object
    FormFieldOption:
      anyOf:
        - $ref: "#/components/schemas/SimpleFormFieldOption"
        - $ref: "#/components/schemas/FormFieldOptionGroup"
    FormFieldOptionGroup:
      properties:
        id:
          example: "1234"
          type: string
        label:
          example: General Channel
          type: string
        options:
          items:
            $ref: "#/components/schemas/SimpleFormFieldOption"
          type: array
      type: object
    GetConnectionResponse:
      properties:
        data:
          $ref: "#/components/schemas/Connection"
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
        - status_code
        - status
        - data
      type: object
    GetConnectionsResponse:
      properties:
        data:
          items:
            $ref: "#/components/schemas/Connection"
          type: array
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
        - status_code
        - status
        - data
      type: object
    GetConsumerResponse:
      properties:
        data:
          $ref: "#/components/schemas/Consumer"
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
        - status_code
        - status
        - data
      type: object
    GetConsumersResponse:
      properties:
        data:
          items:
            properties:
              aggregated_request_count:
                example: 101
                type: number
              application_id:
                example: "1111"
                type: string
              consumer_id:
                example: test_consumer_id
                type: string
              created:
                example: 2021-05-07T12:55:42.242Z
                type: string
              metadata:
                $ref: "#/components/schemas/ConsumerMetadata"
              modified:
                example: 2021-05-07T12:55:42.242Z
                type: string
              request_count_updated:
                example: 2021-05-07T12:55:42.242Z
                type: string
              request_counts:
                $ref: "#/components/schemas/RequestCountAllocation"
              services:
                example:
                  - salesforce
                  - stripe
                items:
                  example: salesforce
                  type: string
                type: array
            type: object
          type: array
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
        - status_code
        - status
        - data
      type: object
    GetLogsResponse:
      properties:
        data:
          items:
            $ref: "#/components/schemas/Log"
          type: array
        links:
          $ref: "#/components/schemas/Links"
        meta:
          $ref: "#/components/schemas/Meta"
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
        - status_code
        - status
        - data
      type: object
      x-graphql-type-name: LogList
    Links:
      description: Links to navigate to previous or next pages through the API
      properties:
        current:
          description: Link to navigate to the current page through the API
          example: https://unify.apideck.com/crm/companies
          type: string
        next:
          description: Link to navigate to the previous page through the API
          example: https://unify.apideck.com/crm/companies?cursor=em9oby1jcm06OnBhZ2U6OjM
          nullable: true
          type: string
        previous:
          description: Link to navigate to the previous page through the API
          example: https://unify.apideck.com/crm/companies?cursor=em9oby1jcm06OnBhZ2U6OjE%3D
          nullable: true
          type: string
      type: object
    Log:
      additionalProperties: false
      properties:
        api_style:
          description: Indicates if the request was made via REST or Graphql endpoint.
          example: REST
          type: string
        base_url:
          description: The Apideck base URL the request was made to.
          example: unify.apideck.com
          type: string
        child_request:
          description: Indicates whether or not this is a child or parent request.
          example: false
          type: boolean
        consumer_id:
          description: The consumer Id associated with the request.
          example: test-consumer
          type: string
        duration:
          description: The entire execution time in milliseconds it took to call the Apideck service provider.
          example: 2220.379304
          type: number
        error_message:
          description: If error occured, this is brief explanation
          example: Refresh token is invalid
          nullable: true
          type: string
        execution:
          description: The entire execution time in milliseconds it took to make the request.
          example: 2248
          type: integer
        has_children:
          description: When request is a parent request, this indicates if there are child requests associated.
          example: false
          type: boolean
        http_method:
          description: HTTP Method of request.
          example: GET
          type: string
        id:
          description: UUID acting as Request Identifier.
          example: 0b5f7480-5550-4f5c-a5fc-3c01ac43dd0f
          type: string
        latency:
          description: Latency added by making this request via Unified Api.
          example: 27.620695999999953
          type: number
        operation:
          additionalProperties: false
          description: The request as defined in OpenApi Spec.
          properties:
            id:
              description: The OpenApi Operation Id associated with the request
              example: connectionsAll
              type: string
            name:
              description: The OpenApi Operation name associated with the request
              example: Get All Connections
              type: string
          required:
            - id
            - name
          type: object
        parent_id:
          description: When request is a child request, this UUID indicates it's parent request.
          example: 0b5f7480-5550-4f5c-a5fc-3c01ac43dd0f
          nullable: true
          type: string
        path:
          description: The path component of the URI the request was made to.
          example: /vault/connections
          type: string
        sandbox:
          description: Indicates whether the request was made using Apidecks sandbox credentials or not.
          example: false
          type: boolean
        service:
          additionalProperties: false
          description: Apideck service provider associated with request.
          properties:
            id:
              description: Apideck service provider id.
              example: apideck-vault
              type: string
            name:
              description: Apideck service provider name.
              example: Apideck Vault
              type: string
          required:
            - id
            - name
          type: object
        source_ip:
          description: The IP address of the source of the request.
          example: 94.227.131.238
          nullable: true
          type: string
        status_code:
          description: HTTP Status code that was returned.
          example: 200
          type: integer
        success:
          description: Whether or not the request was successful.
          example: true
          type: boolean
        timestamp:
          description: ISO Date and time when the request was made.
          example: 2021-07-12T14:26:17.420Z
          type: string
        unified_api:
          description: Which Unified Api request was made to.
          enum:
            - crm
            - lead
            - proxy
            - vault
          example: vault
          type: string
      required:
        - id
        - parent_id
        - api_style
        - base_url
        - child_request
        - consumer_id
        - duration
        - execution
        - has_children
        - http_method
        - latency
        - operation
        - path
        - sandbox
        - service
        - status_code
        - success
        - timestamp
        - unified_api
      type: object
    LogsFilter:
      properties:
        connector_id:
          example: crm+salesforce
          nullable: true
          type: string
        exclude_unified_apis:
          example: vault,proxy
          nullable: true
          type: string
        status_code:
          example: 201
          nullable: true
          type: number
      type: object
      x-graphql-type-name: LogsFilter
    Meta:
      description: Reponse metadata
      properties:
        cursors:
          description: Cursors to navigate to previous or next pages through the API
          properties:
            current:
              description: Cursor to navigate to the current page of results through the API
              example: em9oby1jcm06OnBhZ2U6OjI=
              nullable: true
              type: string
            next:
              description: Cursor to navigate to the next page of results through the API
              example: em9oby1jcm06OnBhZ2U6OjM=
              nullable: true
              type: string
            previous:
              description: Cursor to navigate to the previous page of results through the API
              example: em9oby1jcm06OnBhZ2U6OjE=
              nullable: true
              type: string
          type: object
        items_on_page:
          description: Number of items returned in the data property of the response
          example: 50
          type: integer
      type: object
    NotFoundResponse:
      properties:
        detail:
          anyOf:
            - example: "Could not find widget with id: '123'"
              type: string
            - example:
                not_found:
                  entity: widget
                  id: "123"
              type: object
          description: Contains parameter or domain specific information related to the error and why it occured.
        error:
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Not Found
          type: string
        message:
          description: A human-readable message providing more details about the error.
          example: Unknown Widget
          type: string
        ref:
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#entitynotfounderror
          type: string
        status_code:
          description: HTTP status code
          example: 404
          type: number
        type_name:
          description: The type of error returned
          example: EntityNotFoundError
          type: string
    NotImplementedResponse:
      properties:
        detail:
          anyOf:
            - example: Failed to retrieve Widget tokenUrl from 'components.securitySchemes.oauth2.flows'
              type: string
            - type: object
          description: Contains parameter or domain specific information related to the error and why it occured.
        error:
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Not Implemented
          type: string
        message:
          description: A human-readable message providing more details about the error.
          example: Unmapped Attribute
          type: string
        ref:
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#mappingerror
          type: string
        status_code:
          description: HTTP status code
          example: 501
          type: number
        type_name:
          description: The type of error returned
          example: MappingError
          type: string
    PaymentRequiredResponse:
      properties:
        detail:
          description: Contains parameter or domain specific information related to the error and why it occured.
          example: You have reached your limit of 2000
          type: string
        error:
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Payment Required
          type: string
        message:
          description: A human-readable message providing more details about the error.
          example: Request Limit Reached
          type: string
        ref:
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#requestlimiterror
          type: string
        status_code:
          description: HTTP status code
          example: 402
          type: number
        type_name:
          description: The type of error returned
          example: RequestLimitError
          type: string
    ProxyRequest:
      example:
        account_sid: ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
        api_version: 2010-04-01
        body: This is the ship that made the Kessel Run in fourteen parsecs?
        date_created: Thu, 30 Jul 2015 20:12:31 +0000
        date_sent: Thu, 30 Jul 2015 20:12:33 +0000
        date_updated: Thu, 30 Jul 2015 20:12:33 +0000
        direction: outbound-api
        error_code: null
        error_message: null
        from: "+15017122661"
        messaging_service_sid: MGXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
        num_media: "0"
        num_segments: "1"
        price: null
        price_unit: null
        sid: SMXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
        status: sent
        subresource_uris:
          media: /2010-04-01/Accounts/ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX/Messages/SMXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX/Media.json
        to: "+15558675310"
        uri: /2010-04-01/Accounts/ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX/Messages/SMXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.json
      properties: {}
      type: object
    RequestCountAllocation:
      properties:
        proxy:
          example: 10
          type: number
        unify:
          example: 100
          type: number
        vault:
          example: 21
          type: number
      type: object
    Session:
      additionalProperties: false
      properties:
        consumer_metadata:
          $ref: "#/components/schemas/ConsumerMetadata"
        custom_consumer_settings:
          additionalProperties: true
          description: Custom consumer settings that are passed as part of the session.
          example:
            feature_flag_1: true
            tax_rates:
              - id: "6"
                label: 6%
              - id: "21"
                label: 21%
          title: Custom consumer settings
          type: object
        redirect_uri:
          example: https://mysaas.com/dashboard
          type: string
        settings:
          additionalProperties: false
          properties:
            hide_resource_settings:
              default: false
              type: boolean
            sandbox_mode:
              default: false
              type: boolean
            session_length:
              default: 1h
              description: The duration of time the session is valid for (maximum 1 week).
              example: 30m
              type: string
            show_logs:
              default: true
              type: boolean
          type: object
          x-graphql-type-name: SessionSettings
        theme:
          properties:
            favicon:
              example: https://res.cloudinary.com/apideck/icons/intercom
              type: string
            primary_color:
              example: "#286efa"
              type: string
            privacy_url:
              example: https://compliance.apideck.com/privacy-policy
              type: string
            sidepanel_background_color:
              example: "#286efa"
              type: string
            sidepanel_text_color:
              example: "#FFFFFF"
              type: string
            terms_url:
              example: https://www.termsfeed.com/terms-conditions/957c85c1b089ae9e3219c83eff65377e
              type: string
            vault_name:
              example: Intercom
              type: string
          type: object
      type: object
    SimpleFormFieldOption:
      properties:
        label:
          example: General Channel
          type: string
        value:
          anyOf:
            - example: general
              type: string
            - example: 123
              type: integer
            - example: 12.5
              type: number
            - example: true
              type: boolean
            - example:
                - team
                - general
              items:
                anyOf:
                  - type: string
                  - type: integer
                  - type: number
              type: array
      type: object
    UnauthorizedResponse:
      properties:
        detail:
          description: Contains parameter or domain specific information related to the error and why it occured.
          example: Failed to generate valid JWT Session. Verify applicationId is correct
          type: string
        error:
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Unauthorized
          type: string
        message:
          description: A human-readable message providing more details about the error.
          example: Unauthorized Request
          type: string
        ref:
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#unauthorizederror
          type: string
        status_code:
          description: HTTP status code
          example: 401
          type: number
        type_name:
          description: The type of error returned
          example: UnauthorizedError
          type: string
    UnexpectedErrorResponse:
      properties:
        detail:
          anyOf:
            - example: "Missing Header: x-apideck-consumer-id"
              type: string
            - example:
                missing:
                  - x-apideck-consumer-id: required
              type: object
          description: Contains parameter or domain specific information related to the error and why it occured.
        error:
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Bad Request
          type: string
        message:
          description: A human-readable message providing more details about the error.
          example: Invalid Params
          type: string
        ref:
          description: Link to documentation of error type
[...]
