swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  description: The Compute Management Client.
  title: ComputeManagementClient
  version: '2017-09-01'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/compute/resource-manager/Microsoft.Compute/stable/2017-09-01/skus.json'
      version: '2.0'
  x-providerName: azure.com
  x-serviceName: compute-skus
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: Client Api Version.
    in: query
    name: api-version
    required: true
    type: string
  SubscriptionIdParameter:
    description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Compute/skus':
    get:
      description: Gets the list of Microsoft.Compute SKUs available for your Subscription.
      operationId: ResourceSkus_List
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ResourceSkusResult'
      tags:
        - Skus
        - AvailabilitySets
      x-ms-pageable:
        nextLinkName: nextLink
definitions:
  ResourceSku:
    description: Describes an available Compute SKU.
    properties:
      apiVersions:
        description: The api versions that support this SKU.
        items:
          type: string
        readOnly: true
        type: array
      capabilities:
        description: A name value pair to describe the capability.
        items:
          $ref: '#/definitions/ResourceSkuCapabilities'
        readOnly: true
        type: array
      capacity:
        $ref: '#/definitions/ResourceSkuCapacity'
        description: Specifies the number of virtual machines in the scale set.
        readOnly: true
      costs:
        description: Metadata for retrieving price info.
        items:
          $ref: '#/definitions/ResourceSkuCosts'
        readOnly: true
        type: array
      family:
        description: The Family of this particular SKU.
        readOnly: true
        type: string
      kind:
        description: The Kind of resources that are supported in this SKU.
        readOnly: true
        type: string
      locationInfo:
        description: A list of locations and availability zones in those locations where the SKU is available.
        items:
          $ref: '#/definitions/ResourceSkuLocationInfo'
        readOnly: true
        type: array
      locations:
        description: The set of locations that the SKU is available.
        items:
          type: string
        readOnly: true
        type: array
      name:
        description: The name of SKU.
        readOnly: true
        type: string
      resourceType:
        description: The type of resource the SKU applies to.
        readOnly: true
        type: string
      restrictions:
        description: The restrictions because of which SKU cannot be used. This is empty if there are no restrictions.
        items:
          $ref: '#/definitions/ResourceSkuRestrictions'
        readOnly: true
        type: array
      size:
        description: The Size of the SKU.
        readOnly: true
        type: string
      tier:
        description: 'Specifies the tier of virtual machines in a scale set.<br /><br /> Possible Values:<br /><br /> **Standard**<br /><br /> **Basic**'
        readOnly: true
        type: string
  ResourceSkuCapabilities:
    description: Describes The SKU capabilites object.
    properties:
      name:
        description: An invariant to describe the feature.
        readOnly: true
        type: string
      value:
        description: An invariant if the feature is measured by quantity.
        readOnly: true
        type: string
  ResourceSkuCapacity:
    description: Describes scaling information of a SKU.
    properties:
      default:
        description: The default capacity.
        format: int64
        readOnly: true
        type: integer
      maximum:
        description: The maximum capacity that can be set.
        format: int64
        readOnly: true
        type: integer
      minimum:
        description: The minimum capacity.
        format: int64
        readOnly: true
        type: integer
      scaleType:
        description: The scale type applicable to the sku.
        enum:
          - Automatic
          - Manual
          - None
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: ResourceSkuCapacityScaleType
  ResourceSkuCosts:
    description: Describes metadata for retrieving price info.
    properties:
      extendedUnit:
        description: An invariant to show the extended unit.
        readOnly: true
        type: string
      meterID:
        description: Used for querying price from commerce.
        readOnly: true
        type: string
      quantity:
        description: The multiplier is needed to extend the base metered cost.
        format: int64
        readOnly: true
        type: integer
  ResourceSkuLocationInfo:
    properties:
      location:
        description: Location of the SKU
        readOnly: true
        type: string
      zones:
        description: List of availability zones where the SKU is supported.
        items:
          type: string
        readOnly: true
        type: array
  ResourceSkuRestrictionInfo:
    properties:
      locations:
        description: Locations where the SKU is restricted
        items:
          type: string
        readOnly: true
        type: array
      zones:
        description: List of availability zones where the SKU is restricted.
        items:
          type: string
        readOnly: true
        type: array
  ResourceSkuRestrictions:
    description: Describes scaling information of a SKU.
    properties:
      reasonCode:
        description: The reason for restriction.
        enum:
          - QuotaId
          - NotAvailableForSubscription
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: ResourceSkuRestrictionsReasonCode
      restrictionInfo:
        $ref: '#/definitions/ResourceSkuRestrictionInfo'
        description: The information about the restriction where the SKU cannot be used.
        readOnly: true
      type:
        description: The type of restrictions.
        enum:
          - Location
          - Zone
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: ResourceSkuRestrictionsType
      values:
        description: The value of restrictions. If the restriction type is set to location. This would be different locations where the SKU is restricted.
        items:
          type: string
        readOnly: true
        type: array
  ResourceSkusResult:
    description: The Compute List Skus operation response.
    properties:
      nextLink:
        description: The uri to fetch the next page of Compute Skus. Call ListNext() with this to fetch the next page of VMSS Skus.
        type: string
      value:
        description: The list of skus available for the subscription.
        items:
          $ref: '#/definitions/ResourceSku'
        type: array
    required:
      - value
