swagger: '2.0'
info:
  version: '2017-04-28'
  x-release: v4
  title: AWS CloudHSM V2
  description: 'For more information about AWS CloudHSM, see <a href="http://aws.amazon.com/cloudhsm/">AWS CloudHSM</a> and the <a href="http://docs.aws.amazon.com/cloudhsm/latest/userguide/">AWS CloudHSM User Guide</a>.'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: cloudhsmv2
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/cloudhsmv2-2017-04-28.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/cloudhsmv2/'
host: cloudhsmv2.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: header
    type: string
    required: true
  Version:
    name: Version
    in: header
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /:
    post:
      operationId: CopyBackupToRegion
      description: ''
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CopyBackupToRegionResponse'
        '480':
          description: CloudHsmInternalFailureException
          schema:
            $ref: '#/definitions/CloudHsmInternalFailureException'
        '481':
          description: CloudHsmServiceException
          schema:
            $ref: '#/definitions/CloudHsmServiceException'
        '482':
          description: CloudHsmResourceNotFoundException
          schema:
            $ref: '#/definitions/CloudHsmResourceNotFoundException'
        '483':
          description: CloudHsmInvalidRequestException
          schema:
            $ref: '#/definitions/CloudHsmInvalidRequestException'
        '484':
          description: CloudHsmAccessDeniedException
          schema:
            $ref: '#/definitions/CloudHsmAccessDeniedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CopyBackupToRegionRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateCluster':
    post:
      operationId: CreateCluster
      description: Creates a new AWS CloudHSM cluster.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateClusterResponse'
        '480':
          description: CloudHsmInternalFailureException
          schema:
            $ref: '#/definitions/CloudHsmInternalFailureException'
        '481':
          description: CloudHsmServiceException
          schema:
            $ref: '#/definitions/CloudHsmServiceException'
        '482':
          description: CloudHsmResourceNotFoundException
          schema:
            $ref: '#/definitions/CloudHsmResourceNotFoundException'
        '483':
          description: CloudHsmInvalidRequestException
          schema:
            $ref: '#/definitions/CloudHsmInvalidRequestException'
        '484':
          description: CloudHsmAccessDeniedException
          schema:
            $ref: '#/definitions/CloudHsmAccessDeniedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateClusterRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateHsm':
    post:
      operationId: CreateHsm
      description: Creates a new hardware security module (HSM) in the specified AWS CloudHSM cluster.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateHsmResponse'
        '480':
          description: CloudHsmInternalFailureException
          schema:
            $ref: '#/definitions/CloudHsmInternalFailureException'
        '481':
          description: CloudHsmServiceException
          schema:
            $ref: '#/definitions/CloudHsmServiceException'
        '482':
          description: CloudHsmInvalidRequestException
          schema:
            $ref: '#/definitions/CloudHsmInvalidRequestException'
        '483':
          description: CloudHsmResourceNotFoundException
          schema:
            $ref: '#/definitions/CloudHsmResourceNotFoundException'
        '484':
          description: CloudHsmAccessDeniedException
          schema:
            $ref: '#/definitions/CloudHsmAccessDeniedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateHsmRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteCluster':
    post:
      operationId: DeleteCluster
      description: 'Deletes the specified AWS CloudHSM cluster. Before you can delete a cluster, you must delete all HSMs in the cluster. To see if the cluster contains any HSMs, use <a>DescribeClusters</a>. To delete an HSM, use <a>DeleteHsm</a>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteClusterResponse'
        '480':
          description: CloudHsmInternalFailureException
          schema:
            $ref: '#/definitions/CloudHsmInternalFailureException'
        '481':
          description: CloudHsmServiceException
          schema:
            $ref: '#/definitions/CloudHsmServiceException'
        '482':
          description: CloudHsmResourceNotFoundException
          schema:
            $ref: '#/definitions/CloudHsmResourceNotFoundException'
        '483':
          description: CloudHsmInvalidRequestException
          schema:
            $ref: '#/definitions/CloudHsmInvalidRequestException'
        '484':
          description: CloudHsmAccessDeniedException
          schema:
            $ref: '#/definitions/CloudHsmAccessDeniedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteClusterRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteHsm':
    post:
      operationId: DeleteHsm
      description: 'Deletes the specified HSM. To specify an HSM, you can use its identifier (ID), the IP address of the HSM''s elastic network interface (ENI), or the ID of the HSM''s ENI. You need to specify only one of these values. To find these values, use <a>DescribeClusters</a>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteHsmResponse'
        '480':
          description: CloudHsmInternalFailureException
          schema:
            $ref: '#/definitions/CloudHsmInternalFailureException'
        '481':
          description: CloudHsmServiceException
          schema:
            $ref: '#/definitions/CloudHsmServiceException'
        '482':
          description: CloudHsmResourceNotFoundException
          schema:
            $ref: '#/definitions/CloudHsmResourceNotFoundException'
        '483':
          description: CloudHsmInvalidRequestException
          schema:
            $ref: '#/definitions/CloudHsmInvalidRequestException'
        '484':
          description: CloudHsmAccessDeniedException
          schema:
            $ref: '#/definitions/CloudHsmAccessDeniedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteHsmRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeBackups':
    post:
      operationId: DescribeBackups
      description: '<p>Gets information about backups of AWS CloudHSM clusters.</p> <p>This is a paginated operation, which means that each response might contain only a subset of all the backups. When the response contains only a subset of backups, it includes a <code>NextToken</code> value. Use this value in a subsequent <code>DescribeBackups</code> request to get more backups. When you receive a response with no <code>NextToken</code> (or an empty or null value), that means there are no more backups to get.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeBackupsResponse'
        '480':
          description: CloudHsmInternalFailureException
          schema:
            $ref: '#/definitions/CloudHsmInternalFailureException'
        '481':
          description: CloudHsmServiceException
          schema:
            $ref: '#/definitions/CloudHsmServiceException'
        '482':
          description: CloudHsmResourceNotFoundException
          schema:
            $ref: '#/definitions/CloudHsmResourceNotFoundException'
        '483':
          description: CloudHsmInvalidRequestException
          schema:
            $ref: '#/definitions/CloudHsmInvalidRequestException'
        '484':
          description: CloudHsmAccessDeniedException
          schema:
            $ref: '#/definitions/CloudHsmAccessDeniedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeBackupsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeClusters':
    post:
      operationId: DescribeClusters
      description: '<p>Gets information about AWS CloudHSM clusters.</p> <p>This is a paginated operation, which means that each response might contain only a subset of all the clusters. When the response contains only a subset of clusters, it includes a <code>NextToken</code> value. Use this value in a subsequent <code>DescribeClusters</code> request to get more clusters. When you receive a response with no <code>NextToken</code> (or an empty or null value), that means there are no more clusters to get.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeClustersResponse'
        '480':
          description: CloudHsmInternalFailureException
          schema:
            $ref: '#/definitions/CloudHsmInternalFailureException'
        '481':
          description: CloudHsmServiceException
          schema:
            $ref: '#/definitions/CloudHsmServiceException'
        '482':
          description: CloudHsmInvalidRequestException
          schema:
            $ref: '#/definitions/CloudHsmInvalidRequestException'
        '483':
          description: CloudHsmAccessDeniedException
          schema:
            $ref: '#/definitions/CloudHsmAccessDeniedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeClustersRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#InitializeCluster':
    post:
      operationId: InitializeCluster
      description: 'Claims an AWS CloudHSM cluster by submitting the cluster certificate issued by your issuing certificate authority (CA) and the CA''s root certificate. Before you can claim a cluster, you must sign the cluster''s certificate signing request (CSR) with your issuing CA. To get the cluster''s CSR, use <a>DescribeClusters</a>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/InitializeClusterResponse'
        '480':
          description: CloudHsmInternalFailureException
          schema:
            $ref: '#/definitions/CloudHsmInternalFailureException'
        '481':
          description: CloudHsmServiceException
          schema:
            $ref: '#/definitions/CloudHsmServiceException'
        '482':
          description: CloudHsmResourceNotFoundException
          schema:
            $ref: '#/definitions/CloudHsmResourceNotFoundException'
        '483':
          description: CloudHsmInvalidRequestException
          schema:
            $ref: '#/definitions/CloudHsmInvalidRequestException'
        '484':
          description: CloudHsmAccessDeniedException
          schema:
            $ref: '#/definitions/CloudHsmAccessDeniedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/InitializeClusterRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListTags':
    post:
      operationId: ListTags
      description: '<p>Gets a list of tags for the specified AWS CloudHSM cluster.</p> <p>This is a paginated operation, which means that each response might contain only a subset of all the tags. When the response contains only a subset of tags, it includes a <code>NextToken</code> value. Use this value in a subsequent <code>ListTags</code> request to get more tags. When you receive a response with no <code>NextToken</code> (or an empty or null value), that means there are no more tags to get.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsResponse'
        '480':
          description: CloudHsmInternalFailureException
          schema:
            $ref: '#/definitions/CloudHsmInternalFailureException'
        '481':
          description: CloudHsmServiceException
          schema:
            $ref: '#/definitions/CloudHsmServiceException'
        '482':
          description: CloudHsmResourceNotFoundException
          schema:
            $ref: '#/definitions/CloudHsmResourceNotFoundException'
        '483':
          description: CloudHsmInvalidRequestException
          schema:
            $ref: '#/definitions/CloudHsmInvalidRequestException'
        '484':
          description: CloudHsmAccessDeniedException
          schema:
            $ref: '#/definitions/CloudHsmAccessDeniedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListTagsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#TagResource':
    post:
      operationId: TagResource
      description: Adds or overwrites one or more tags for the specified AWS CloudHSM cluster.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TagResourceResponse'
        '480':
          description: CloudHsmInternalFailureException
          schema:
            $ref: '#/definitions/CloudHsmInternalFailureException'
        '481':
          description: CloudHsmServiceException
          schema:
            $ref: '#/definitions/CloudHsmServiceException'
        '482':
          description: CloudHsmResourceNotFoundException
          schema:
            $ref: '#/definitions/CloudHsmResourceNotFoundException'
        '483':
          description: CloudHsmInvalidRequestException
          schema:
            $ref: '#/definitions/CloudHsmInvalidRequestException'
        '484':
          description: CloudHsmAccessDeniedException
          schema:
            $ref: '#/definitions/CloudHsmAccessDeniedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/TagResourceRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#UntagResource':
    post:
      operationId: UntagResource
      description: Removes the specified tag or tags from the specified AWS CloudHSM cluster.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UntagResourceResponse'
        '480':
          description: CloudHsmInternalFailureException
          schema:
            $ref: '#/definitions/CloudHsmInternalFailureException'
        '481':
          description: CloudHsmServiceException
          schema:
            $ref: '#/definitions/CloudHsmServiceException'
        '482':
          description: CloudHsmResourceNotFoundException
          schema:
            $ref: '#/definitions/CloudHsmResourceNotFoundException'
        '483':
          description: CloudHsmInvalidRequestException
          schema:
            $ref: '#/definitions/CloudHsmInvalidRequestException'
        '484':
          description: CloudHsmAccessDeniedException
          schema:
            $ref: '#/definitions/CloudHsmAccessDeniedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UntagResourceRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  Backup:
    type: object
    required:
      - BackupId
    properties:
      BackupId:
        $ref: '#/definitions/BackupId'
        description: The identifier (ID) of the backup.
      BackupState:
        $ref: '#/definitions/BackupState'
        description: The state of the backup.
      ClusterId:
        $ref: '#/definitions/ClusterId'
        description: The identifier (ID) of the cluster that was backed up.
      CreateTimestamp:
        $ref: '#/definitions/Timestamp'
        description: The date and time when the backup was created.
      CopyTimestamp:
        $ref: '#/definitions/Timestamp'
      SourceRegion:
        $ref: '#/definitions/Region'
      SourceBackup:
        $ref: '#/definitions/BackupId'
      SourceCluster:
        $ref: '#/definitions/ClusterId'
    description: Contains information about a backup of an AWS CloudHSM cluster.
  BackupId:
    type: string
    pattern: 'backup-[2-7a-zA-Z]{11,16}'
  BackupPolicy:
    type: string
    enum:
      - DEFAULT
  BackupState:
    type: string
    enum:
      - CREATE_IN_PROGRESS
      - READY
      - DELETED
  Backups:
    type: array
    items:
      $ref: '#/definitions/Backup'
  Boolean:
    type: boolean
  Cert:
    type: string
    pattern: '[a-zA-Z0-9+-/=\s]*'
    maxLength: 5000
  Certificates:
    type: object
    properties:
      ClusterCsr:
        $ref: '#/definitions/Cert'
        description: The cluster's certificate signing request (CSR). The CSR exists only when the cluster's state is <code>UNINITIALIZED</code>.
      HsmCertificate:
        $ref: '#/definitions/Cert'
        description: The HSM certificate issued (signed) by the HSM hardware.
      AwsHardwareCertificate:
        $ref: '#/definitions/Cert'
        description: The HSM hardware certificate issued (signed) by AWS CloudHSM.
      ManufacturerHardwareCertificate:
        $ref: '#/definitions/Cert'
        description: The HSM hardware certificate issued (signed) by the hardware manufacturer.
      ClusterCertificate:
        $ref: '#/definitions/Cert'
        description: The cluster certificate issued (signed) by the issuing certificate authority (CA) of the cluster's owner.
    description: Contains one or more certificates or a certificate signing request (CSR).
  CloudHsmAccessDeniedException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/errorMessage'
    description: The request was rejected because the requester does not have permission to perform the requested operation.
  CloudHsmInternalFailureException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/errorMessage'
    description: The request was rejected because of an AWS CloudHSM internal failure. The request can be retried.
  CloudHsmInvalidRequestException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/errorMessage'
    description: The request was rejected because it is not a valid request.
  CloudHsmResourceNotFoundException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/errorMessage'
    description: The request was rejected because it refers to a resource that cannot be found.
  CloudHsmServiceException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/errorMessage'
    description: The request was rejected because an error occurred.
  Cluster:
    type: object
    properties:
      BackupPolicy:
        $ref: '#/definitions/BackupPolicy'
        description: The cluster's backup policy.
      ClusterId:
        $ref: '#/definitions/ClusterId'
        description: The cluster's identifier (ID).
      CreateTimestamp:
        $ref: '#/definitions/Timestamp'
        description: The date and time when the cluster was created.
      Hsms:
        $ref: '#/definitions/Hsms'
        description: Contains information about the HSMs in the cluster.
      HsmType:
        $ref: '#/definitions/HsmType'
        description: The type of HSM that the cluster contains.
      PreCoPassword:
        $ref: '#/definitions/PreCoPassword'
        description: The default password for the cluster's Pre-Crypto Officer (PRECO) user.
      SecurityGroup:
        $ref: '#/definitions/SecurityGroup'
        description: The identifier (ID) of the cluster's security group.
      SourceBackupId:
        $ref: '#/definitions/BackupId'
        description: The identifier (ID) of the backup used to create the cluster. This value exists only when the cluster was created from a backup.
      State:
        $ref: '#/definitions/ClusterState'
        description: The cluster's state.
      StateMessage:
        $ref: '#/definitions/StateMessage'
        description: A description of the cluster's state.
      SubnetMapping:
        $ref: '#/definitions/ExternalSubnetMapping'
        description: A map of the cluster's subnets and their corresponding Availability Zones.
      VpcId:
        $ref: '#/definitions/VpcId'
        description: The identifier (ID) of the virtual private cloud (VPC) that contains the cluster.
      Certificates:
        $ref: '#/definitions/Certificates'
        description: Contains one or more certificates or a certificate signing request (CSR).
    description: Contains information about an AWS CloudHSM cluster.
  ClusterId:
    type: string
    pattern: 'cluster-[2-7a-zA-Z]{11,16}'
  ClusterState:
    type: string
    enum:
      - CREATE_IN_PROGRESS
      - UNINITIALIZED
      - INITIALIZE_IN_PROGRESS
      - INITIALIZED
      - ACTIVE
      - UPDATE_IN_PROGRESS
      - DELETE_IN_PROGRESS
      - DELETED
      - DEGRADED
  Clusters:
    type: array
    items:
      $ref: '#/definitions/Cluster'
  CopyBackupToRegionRequest:
    type: object
    required:
      - DestinationRegion
      - BackupId
    properties:
      DestinationRegion:
        $ref: '#/definitions/Region'
      BackupId:
        $ref: '#/definitions/BackupId'
  CopyBackupToRegionResponse:
    type: object
    properties:
      DestinationBackup:
        $ref: '#/definitions/DestinationBackup'
  CreateClusterRequest:
    type: object
    required:
      - SubnetIds
      - HsmType
    properties:
      SubnetIds:
        $ref: '#/definitions/SubnetIds'
        description: '<p>The identifiers (IDs) of the subnets where you are creating the cluster. You must specify at least one subnet. If you specify multiple subnets, they must meet the following criteria:</p> <ul> <li> <p>All subnets must be in the same virtual private cloud (VPC).</p> </li> <li> <p>You can specify only one subnet per Availability Zone.</p> </li> </ul>'
      HsmType:
        $ref: '#/definitions/HsmType'
        description: The type of HSM to use in the cluster. Currently the only allowed value is <code>hsm1.medium</code>.
      SourceBackupId:
        $ref: '#/definitions/BackupId'
        description: 'The identifier (ID) of the cluster backup to restore. Use this value to restore the cluster from a backup instead of creating a new cluster. To find the backup ID, use <a>DescribeBackups</a>.'
  CreateClusterResponse:
    type: object
    properties:
      Cluster:
        $ref: '#/definitions/Cluster'
        description: Information about the cluster that was created.
  CreateHsmRequest:
    type: object
    required:
      - ClusterId
      - AvailabilityZone
    properties:
      ClusterId:
        $ref: '#/definitions/ClusterId'
        description: 'The identifier (ID) of the HSM''s cluster. To find the cluster ID, use <a>DescribeClusters</a>.'
      AvailabilityZone:
        $ref: '#/definitions/ExternalAz'
        description: 'The Availability Zone where you are creating the HSM. To find the cluster''s Availability Zones, use <a>DescribeClusters</a>.'
      IpAddress:
        $ref: '#/definitions/IpAddress'
        description: 'The HSM''s IP address. If you specify an IP address, use an available address from the subnet that maps to the Availability Zone where you are creating the HSM. If you don''t specify an IP address, one is chosen for you from that subnet.'
  CreateHsmResponse:
    type: object
    properties:
      Hsm:
        $ref: '#/definitions/Hsm'
        description: Information about the HSM that was created.
  DeleteClusterRequest:
    type: object
    required:
      - ClusterId
    properties:
      ClusterId:
        $ref: '#/definitions/ClusterId'
        description: 'The identifier (ID) of the cluster that you are deleting. To find the cluster ID, use <a>DescribeClusters</a>.'
  DeleteClusterResponse:
    type: object
    properties:
      Cluster:
        $ref: '#/definitions/Cluster'
        description: Information about the cluster that was deleted.
  DeleteHsmRequest:
    type: object
    required:
      - ClusterId
    properties:
      ClusterId:
        $ref: '#/definitions/ClusterId'
        description: The identifier (ID) of the cluster that contains the HSM that you are deleting.
      HsmId:
        $ref: '#/definitions/HsmId'
        description: The identifier (ID) of the HSM that you are deleting.
      EniId:
        $ref: '#/definitions/EniId'
        description: The identifier (ID) of the elastic network interface (ENI) of the HSM that you are deleting.
      EniIp:
        $ref: '#/definitions/IpAddress'
        description: The IP address of the elastic network interface (ENI) of the HSM that you are deleting.
  DeleteHsmResponse:
    type: object
    properties:
      HsmId:
        $ref: '#/definitions/HsmId'
        description: The identifier (ID) of the HSM that was deleted.
  DescribeBackupsRequest:
    type: object
    properties:
      NextToken:
        $ref: '#/definitions/NextToken'
        description: The <code>NextToken</code> value that you received in the previous response. Use this value to get more backups.
      MaxResults:
        $ref: '#/definitions/MaxSize'
        description: 'The maximum number of backups to return in the response. When there are more backups than the number you specify, the response contains a <code>NextToken</code> value.'
      Filters:
        $ref: '#/definitions/Filters'
        description: <p>One or more filters to limit the items returned in the response.</p> <p>Use the <code>backupIds</code> filter to return only the specified backups. Specify backups by their backup identifier (ID).</p> <p>Use the <code>clusterIds</code> filter to return only the backups for the specified clusters. Specify clusters by their cluster identifier (ID).</p> <p>Use the <code>states</code> filter to return only backups that match the specified state.</p>
      SortAscending:
        $ref: '#/definitions/Boolean'
  DescribeBackupsResponse:
    type: object
    properties:
      Backups:
        $ref: '#/definitions/Backups'
        description: A list of backups.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: An opaque string that indicates that the response contains only a subset of backups. Use this value in a subsequent <code>DescribeBackups</code> request to get more backups.
  DescribeClustersRequest:
    type: object
    properties:
      Filters:
        $ref: '#/definitions/Filters'
        description: <p>One or more filters to limit the items returned in the response.</p> <p>Use the <code>clusterIds</code> filter to return only the specified clusters. Specify clusters by their cluster identifier (ID).</p> <p>Use the <code>vpcIds</code> filter to return only the clusters in the specified virtual private clouds (VPCs). Specify VPCs by their VPC identifier (ID).</p> <p>Use the <code>states</code> filter to return only clusters that match the specified state.</p>
      NextToken:
        $ref: '#/definitions/NextToken'
        description: The <code>NextToken</code> value that you received in the previous response. Use this value to get more clusters.
      MaxResults:
        $ref: '#/definitions/MaxSize'
        description: 'The maximum number of clusters to return in the response. When there are more clusters than the number you specify, the response contains a <code>NextToken</code> value.'
  DescribeClustersResponse:
    type: object
    properties:
      Clusters:
        $ref: '#/definitions/Clusters'
        description: A list of clusters.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: An opaque string that indicates that the response contains only a subset of clusters. Use this value in a subsequent <code>DescribeClusters</code> request to get more clusters.
  DestinationBackup:
    type: object
    properties:
      CreateTimestamp:
        $ref: '#/definitions/Timestamp'
      SourceRegion:
        $ref: '#/definitions/Region'
      SourceBackup:
        $ref: '#/definitions/BackupId'
      SourceCluster:
        $ref: '#/definitions/ClusterId'
  EniId:
    type: string
    pattern: 'eni-[0-9a-fA-F]{8,17}'
  ExternalAz:
    type: string
    pattern: '[a-z]{2}(-(gov))?-(east|west|north|south|central){1,2}-\d[a-z]'
  ExternalSubnetMapping:
    type: array
    items:
      type: object
      properties:
        key:
          $ref: '#/definitions/ExternalAz'
        value:
          $ref: '#/definitions/SubnetId'
  Field:
    type: string
    pattern: '[a-zA-Z0-9_-]+'
  Filters:
    type: array
    items:
      type: object
      properties:
        key:
          $ref: '#/definitions/Field'
        value:
          $ref: '#/definitions/Strings'
  Hsm:
    type: object
    required:
      - HsmId
    properties:
      AvailabilityZone:
        $ref: '#/definitions/ExternalAz'
        description: The Availability Zone that contains the HSM.
      ClusterId:
        $ref: '#/definitions/ClusterId'
        description: The identifier (ID) of the cluster that contains the HSM.
      SubnetId:
        $ref: '#/definitions/SubnetId'
        description: The subnet that contains the HSM's elastic network interface (ENI).
      EniId:
        $ref: '#/definitions/EniId'
        description: The identifier (ID) of the HSM's elastic network interface (ENI).
      EniIp:
        $ref: '#/definitions/IpAddress'
        description: The IP address of the HSM's elastic network interface (ENI).
      HsmId:
        $ref: '#/definitions/HsmId'
        description: The HSM's identifier (ID).
      State:
        $ref: '#/definitions/HsmState'
        description: The HSM's state.
      StateMessage:
        $ref: '#/definitions/String'
        description: A description of the HSM's state.
    description: Contains information about a hardware security module (HSM) in an AWS CloudHSM cluster.
  HsmId:
    type: string
    pattern: 'hsm-[2-7a-zA-Z]{11,16}'
  HsmState:
    type: string
    enum:
      - CREATE_IN_PROGRESS
      - ACTIVE
      - DEGRADED
      - DELETE_IN_PROGRESS
      - DELETED
  HsmType:
    type: string
    pattern: (hsm1\.medium)
  Hsms:
    type: array
    items:
      $ref: '#/definitions/Hsm'
  InitializeClusterRequest:
    type: object
    required:
      - ClusterId
      - SignedCert
      - TrustAnchor
    properties:
      ClusterId:
        $ref: '#/definitions/ClusterId'
        description: 'The identifier (ID) of the cluster that you are claiming. To find the cluster ID, use <a>DescribeClusters</a>.'
      SignedCert:
        $ref: '#/definitions/Cert'
        description: The cluster certificate issued (signed) by your issuing certificate authority (CA). The certificate must be in PEM format and can contain a maximum of 5000 characters.
      TrustAnchor:
        $ref: '#/definitions/Cert'
        description: The issuing certificate of the issuing certificate authority (CA) that issued (signed) the cluster certificate. This can be a root (self-signed) certificate or a certificate chain that begins with the certificate that issued the cluster certificate and ends with a root certificate. The certificate or certificate chain must be in PEM format and can contain a maximum of 5000 characters.
  InitializeClusterResponse:
    type: object
    properties:
      State:
        $ref: '#/definitions/ClusterState'
        description: The cluster's state.
      StateMessage:
        $ref: '#/definitions/StateMessage'
        description: A description of the cluster's state.
  IpAddress:
    type: string
    pattern: '\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}'
  ListTagsRequest:
    type: object
    required:
      - ResourceId
    properties:
      ResourceId:
        $ref: '#/definitions/ClusterId'
        description: 'The cluster identifier (ID) for the cluster whose tags you are getting. To find the cluster ID, use <a>DescribeClusters</a>.'
      NextToken:
        $ref: '#/definitions/NextToken'
        description: The <code>NextToken</code> value that you received in the previous response. Use this value to get more tags.
      MaxResults:
        $ref: '#/definitions/MaxSize'
        description: 'The maximum number of tags to return in the response. When there are more tags than the number you specify, the response contains a <code>NextToken</code> value.'
  ListTagsResponse:
    type: object
    required:
      - TagList
    properties:
      TagList:
        $ref: '#/definitions/TagList'
        description: A list of tags.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: An opaque string that indicates that the response contains only a subset of tags. Use this value in a subsequent <code>ListTags</code> request to get more tags.
  MaxSize:
    type: integer
    minimum: 1
    maximum: 100
  NextToken:
    type: string
    pattern: .*
    maxLength: 256
  PreCoPassword:
    type: string
    minLength: 7
    maxLength: 32
  Region:
    type: string
    pattern: '[a-z]{2}(-(gov))?-(east|west|north|south|central){1,2}-\d'
  SecurityGroup:
    type: string
    pattern: 'sg-[0-9a-fA-F]'
  StateMessage:
    type: string
    pattern: .*
    maxLength: 300
  String:
    type: string
  Strings:
    type: array
    items:
      $ref: '#/definitions/String'
  SubnetId:
    type: string
    pattern: 'subnet-[0-9a-fA-F]{8,17}'
  SubnetIds:
    type: array
    items:
      $ref: '#/definitions/SubnetId'
    minItems: 1
    maxItems: 10
  Tag:
    type: object
    required:
      - Key
      - Value
    properties:
      Key:
        $ref: '#/definitions/TagKey'
        description: The key of the tag.
      Value:
        $ref: '#/definitions/TagValue'
        description: The value of the tag.
    description: Contains a tag. A tag is a key-value pair.
  TagKey:
    type: string
    pattern: '^([\p{L}\p{Z}\p{N}_.:/=+\-@]*)$'
    minLength: 1
    maxLength: 128
  TagKeyList:
    type: array
    items:
      $ref: '#/definitions/TagKey'
    minItems: 1
    maxItems: 50
  TagList:
    type: array
    items:
      $ref: '#/definitions/Tag'
    minItems: 1
    maxItems: 50
  TagResourceRequest:
    type: object
    required:
      - ResourceId
      - TagList
    properties:
      ResourceId:
        $ref: '#/definitions/ClusterId'
        description: 'The cluster identifier (ID) for the cluster that you are tagging. To find the cluster ID, use <a>DescribeClusters</a>.'
      TagList:
        $ref: '#/definitions/TagList'
        description: A list of one or more tags.
  TagResourceResponse:
    type: object
    properties: {}
  TagValue:
    type: string
    pattern: '^([\p{L}\p{Z}\p{N}_.:/=+\-@]*)$'
    minLength: 0
    maxLength: 256
  Timestamp:
    type: string
    format: date-time
  UntagResourceRequest:
    type: object
    required:
      - ResourceId
      - TagKeyList
    properties:
      ResourceId:
        $ref: '#/definitions/ClusterId'
        description: 'The cluster identifier (ID) for the cluster whose tags you are removing. To find the cluster ID, use <a>DescribeClusters</a>.'
      TagKeyList:
        $ref: '#/definitions/TagKeyList'
        description: 'A list of one or more tag keys for the tags that you are removing. Specify only the tag keys, not the tag values.'
  UntagResourceResponse:
    type: object
    properties: {}
  VpcId:
    type: string
    pattern: 'vpc-[0-9a-fA-F]'
  errorMessage:
    type: string
