basePath: /
definitions:
  RandomArray:
    properties:
      rand:
        items:
          format: int8
          type: integer
        type: array
  RandomByte:
    format: int8
    type: integer
host: testmr.eriomem.net
info:
  contact:
    name: info@massiverand.com
  description: "This is the experimental API documentation for <a href='http://www.massiverand.com/'>MassiveRand</a> TRNG Web Service. Serving true random numbers since December 2014!<p>Explore our <a href='../tutorials'>Tutorials</a>.</p>"
  license:
    name: Terms of Use
    url: terms.html
  termsOfService: terms.html
  title: MassiveRand TRNG Web Service
  version: '0.1'
  x-logo:
    url: 'http://www.massiverand.com/wp-content/uploads/2014/01/logo.png'
  x-origin:
    format: swagger
    url: 'http://testmr.eriomem.net/doc/ex.json'
    version: '2.0'
  x-providerName: eriomem.net
paths:
  /rand:
    get:
      description: Returns a list of true random bytes from the MassiveRand True Random Number Generator as blank-separated decimal strings.
      parameters:
        - description: Number of bytes to return
          in: query
          name: length
          required: false
          type: integer
        - description: String to use as separator between bytes
          in: query
          name: sep
          required: false
          type: string
      produces:
        - text/plain
      responses:
        '200':
          description: successful operation
          schema:
            type: string
        '500':
          description: Service failure
      summary: Generate a page of true random numbers.
      tags:
        - True Random Number Generator
  /randb58:
    get:
      description: "Returns a <a href='http://en.wikipedia.org/wiki/Base58'>base58</a> string of true random bytes from the MassiveRand True Random Number Generator."
      produces:
        - application/octetstream
      responses:
        '200':
          description: successful operation
        '500':
          description: Service failure
      summary: Generate a base58 encoded page of true random numbers.
      tags:
        - True Random Number Generator
  /randb64:
    get:
      description: "Returns a <a href='http://en.wikipedia.org/wiki/Base64'>base64</a> string of true random bytes from the MassiveRand True Random Number Generator."
      produces:
        - application/octetstream
      responses:
        '200':
          description: successful operation
        '500':
          description: Service failure
      summary: Generate a base64 encoded page of true random numbers.
      tags:
        - True Random Number Generator
  /randbindl:
    get:
      description: "Returns a binary blob of true random bytes from the MassiveRand True Random Number Generator as an attached file 'rand.raw'."
      parameters:
        - description: Number of bytes to return
          in: query
          name: length
          required: false
          type: integer
      produces:
        - application/download
      responses:
        '200':
          description: successful operation
        '500':
          description: Service failure
      summary: Generate a binary encoded file of true random numbers.
      tags:
        - True Random Number Generator
  /randbinds:
    get:
      description: Returns a binary blob of true random bytes from the MassiveRand True Random Number Generator.
      parameters:
        - description: Number of bytes to return
          in: query
          name: length
          required: false
          type: integer
      produces:
        - application/download
      responses:
        '200':
          description: successful operation
        '500':
          description: Service failure
      summary: Generate a binary stream of true random numbers.
      tags:
        - True Random Number Generator
  /randjson:
    get:
      description: Returns a list of true random bytes from the MassiveRand True Random Number Generator as a JSON string.
      parameters:
        - description: Number of bytes to return
          in: query
          name: length
          required: false
          type: integer
        - description: String to use as separator between bytes
          in: query
          name: sep
          required: false
          type: string
      produces:
        - text/plain
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/RandomArray'
        '500':
          description: Service failure
      summary: Generate a JSON list of true random numbers.
      tags:
        - True Random Number Generator
  /randprime:
    get:
      description: "Returns a large prime number (1536b long) from MassiveRand's Million Prime Database, as an hexadecimal string."
      parameters: []
      produces:
        - text/plain
      responses:
        '200':
          description: successful operation
          schema:
            type: string
        '500':
          description: Service failure
      summary: Generate a large random prime number.
      tags:
        - Million Prime Database
schemes:
  - http
swagger: '2.0'
