openapi: 3.0.0
servers:
  - url: https://www.bungie.net/Platform
info:
  contact:
    email: support@bungie.com
    name: Bungie.net API Support
    url: https://github.com/Bungie-net/api
  description: These endpoints constitute the functionality exposed by Bungie.net, both for more traditional website functionality and for connectivity to Bungie video games and their related functionality.
  license:
    name: BSD License 2.0
    url: https://github.com/Bungie-net/api/blob/master/LICENSE
  termsOfService: https://www.bungie.net/en/View/Bungie/terms
  title: Bungie.Net API
  version: 2.18.0
  x-apisguru-categories:
    - media
  x-logo:
    backgroundColor: "#FFFFFF"
    url: https://api.apis.guru/v2/cache/logo/https_pbs.twimg.com_profile_images_560547568992944129_x46z946T_400x400.jpeg
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/Bungie-net/api/master/openapi-2.json
      version: "3.0"
  x-providerName: bungie.net
externalDocs:
  description: Our Wiki page about OAuth through Bungie.net.
  url: https://github.com/Bungie-net/api/wiki/OAuth-Documentation
tags:
  - description: application
    name: App
  - description: user
    name: User
  - description: content
    name: Content
  - description: forum
    name: Forum
  - description: groupV2
    name: GroupV2
  - description: tokens
    name: Tokens
  - description: destiny2
    name: Destiny2
  - description: communitycontent
    name: CommunityContent
  - description: trending
    name: Trending
  - description: fireteam
    name: Fireteam
  - description: social
    name: Social
  - description: core
    name: ""
paths:
  "/App/ApiUsage/{applicationId}/":
    get:
      deprecated: false
      description: Get API usage by application for time frame specified. You can go as far back as 30 days ago, and can ask for up to a 48 hour window of time in a single request. You must be authenticated with at least the ReadUserData permission to access this endpoint.
      operationId: App.GetApplicationApiUsage
      parameters:
        - description: ID of the application to get usage statistics.
          in: path
          name: applicationId
          required: true
          schema:
            format: int32
            type: integer
        - description: End time for query. Goes to now if not specified.
          in: query
          name: end
          schema:
            format: date-time
            type: string
        - description: Start time for query. Goes to 24 hours ago if not specified.
          in: query
          name: start
          schema:
            format: date-time
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    $ref: "#/components/schemas/Applications.ApiUsage"
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: Look at the Response property for more information about the nature of this response
      security:
        - oauth2:
            - ReadUserData
      tags:
        - App
  /App/FirstParty/:
    get:
      deprecated: false
      description: Get list of applications created by Bungie.
      operationId: App.GetBungieApplications
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    items:
                      $ref: "#/components/schemas/Applications.Application"
                    type: array
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: Look at the Response property for more information about the nature of this response
      tags:
        - App
  "/CommunityContent/Get/{sort}/{mediaFilter}/{page}/":
    get:
      deprecated: false
      description: Returns community content.
      operationId: CommunityContent.GetCommunityContent
      parameters:
        - description: The type of media to get
          in: path
          name: mediaFilter
          required: true
          schema:
            format: int32
            type: integer
        - description: Zero based page
          in: path
          name: page
          required: true
          schema:
            format: int32
            type: integer
        - description: The sort mode.
          in: path
          name: sort
          required: true
          schema:
            format: uint8
            type: integer
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    $ref: "#/components/schemas/Forum.PostSearchResponse"
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: Look at the Response property for more information about the nature of this response
      tags:
        - CommunityContent
  "/Content/GetContentById/{id}/{locale}/":
    get:
      deprecated: false
      description: Returns a content item referenced by id
      operationId: Content.GetContentById
      parameters:
        - description: "false"
          in: query
          name: head
          schema:
            type: boolean
        - description: ""
          in: path
          name: id
          required: true
          schema:
            format: int64
            type: integer
        - description: ""
          in: path
          name: locale
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    $ref: "#/components/schemas/Content.ContentItemPublicContract"
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: Look at the Response property for more information about the nature of this response
      tags:
        - Content
  "/Content/GetContentByTagAndType/{tag}/{type}/{locale}/":
    get:
      deprecated: false
      description: Returns the newest item that matches a given tag and Content Type.
      operationId: Content.GetContentByTagAndType
      parameters:
        - description: Not used.
          in: query
          name: head
          schema:
            type: boolean
        - description: ""
          in: path
          name: locale
          required: true
          schema:
            type: string
        - description: ""
          in: path
          name: tag
          required: true
          schema:
            type: string
        - description: ""
          in: path
          name: type
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    $ref: "#/components/schemas/Content.ContentItemPublicContract"
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: Look at the Response property for more information about the nature of this response
      tags:
        - Content
  "/Content/GetContentType/{type}/":
    get:
      deprecated: false
      description: Gets an object describing a particular variant of content.
      operationId: Content.GetContentType
      parameters:
        - description: ""
          in: path
          name: type
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    $ref: "#/components/schemas/Content.Models.ContentTypeDescription"
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: Look at the Response property for more information about the nature of this response
      tags:
        - Content
  "/Content/Rss/NewsArticles/{pageToken}/":
    get:
      deprecated: false
      description: Returns a JSON string response that is the RSS feed for news articles.
      operationId: Content.RssNewsArticles
      parameters:
        - description: Optionally filter response to only include news items in a certain category.
          in: query
          name: categoryfilter
          schema:
            type: string
        - description: Optionally include full content body for each news item.
          in: query
          name: includebody
          schema:
            type: boolean
        - description: Zero-based pagination token for paging through result sets.
          in: path
          name: pageToken
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    $ref: "#/components/schemas/Content.NewsArticleRssResponse"
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: Look at the Response property for more information about the nature of this response
      tags:
        - Content
  "/Content/Search/{locale}/":
    get:
      deprecated: false
      description: Gets content based on querystring information passed in. Provides basic search and text search capabilities.
      operationId: Content.SearchContentWithText
      parameters:
        - description: "Content type tag: Help, News, etc. Supply multiple ctypes separated by space."
          in: query
          name: ctype
          schema:
            type: string
        - description: Page number for the search results, starting with page 1.
          in: query
          name: currentpage
          schema:
            format: int32
            type: integer
        - description: Not used.
          in: query
          name: head
          schema:
            type: boolean
        - description: ""
          in: path
          name: locale
          required: true
          schema:
            type: string
        - description: Word or phrase for the search.
          in: query
          name: searchtext
          schema:
            type: string
        - description: For analytics, hint at the part of the app that triggered the search. Optional.
          in: query
          name: source
          schema:
            type: string
        - description: Tag used on the content to be searched.
          in: query
          name: tag
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    $ref: "#/components/schemas/SearchResultOfContentItemPublicContract"
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: Look at the Response property for more information about the nature of this response
      tags:
        - Content
  "/Content/SearchContentByTagAndType/{tag}/{type}/{locale}/":
    get:
      deprecated: false
      description: Searches for Content Items that match the given Tag and Content Type.
      operationId: Content.SearchContentByTagAndType
      parameters:
        - description: Page number for the search results starting with page 1.
          in: query
          name: currentpage
          schema:
            format: int32
            type: integer
        - description: Not used.
          in: query
          name: head
          schema:
            type: boolean
        - description: Not used.
          in: query
          name: itemsperpage
          schema:
            format: int32
            type: integer
        - description: ""
          in: path
          name: locale
          required: true
          schema:
            type: string
        - description: ""
          in: path
          name: tag
          required: true
          schema:
            type: string
        - description: ""
          in: path
          name: type
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    $ref: "#/components/schemas/SearchResultOfContentItemPublicContract"
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: Look at the Response property for more information about the nature of this response
      tags:
        - Content
  "/Content/SearchHelpArticles/{searchtext}/{size}/":
    get:
      deprecated: false
      description: Search for Help Articles.
      operationId: Content.SearchHelpArticles
      parameters:
        - description: ""
          in: path
          name: searchtext
          required: true
          schema:
            type: string
        - description: ""
          in: path
          name: size
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    type: object
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: Look at the Response property for more information about the nature of this response
      tags:
        - Content
  /Destiny2/Actions/Items/EquipItem/:
    post:
      deprecated: false
      description: Equip an item. You must have a valid Destiny Account, and either be in a social space, in orbit, or offline.
      operationId: Destiny2.EquipItem
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    format: int32
                    type: integer
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: Look at the Response property for more information about the nature of this response
      security:
        - oauth2:
            - MoveEquipDestinyItems
      tags:
        - Destiny2
      x-documentation-attributes:
        ThrottleSecondsBetweenActionPerUser: "0.1"
  /Destiny2/Actions/Items/EquipItems/:
    post:
      deprecated: false
      description: Equip a list of items by itemInstanceIds. You must have a valid Destiny Account, and either be in a social space, in orbit, or offline. Any items not found on your character will be ignored.
      operationId: Destiny2.EquipItems
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    $ref: "#/components/schemas/Destiny.DestinyEquipItemResults"
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: The results of a bulk Equipping operation performed through the Destiny API.
      security:
        - oauth2:
            - MoveEquipDestinyItems
      tags:
        - Destiny2
      x-documentation-attributes:
        ThrottleSecondsBetweenActionPerUser: "0.1"
  /Destiny2/Actions/Items/InsertSocketPlug/:
    post:
      deprecated: false
      description: Insert a plug into a socketed item. I know how it sounds, but I assure you it's much more G-rated than you might be guessing. We haven't decided yet whether this will be able to insert plugs that have side effects, but if we do it will require special scope permission for an application attempting to do so. You must have a valid Destiny Account, and either be in a social space, in orbit, or offline. Request must include proof of permission for 'InsertPlugs' from the account owner.
      operationId: Destiny2.InsertSocketPlug
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    $ref: "#/components/schemas/Destiny.Responses.DestinyItemChangeResponse"
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: Look at the Response property for more information about the nature of this response
      security:
        - oauth2:
            - AdvancedWriteActions
      tags:
        - Destiny2
        - Preview
      x-documentation-attributes:
        ThrottleSecondsBetweenActionPerUser: "0.5"
      x-preview: true
  /Destiny2/Actions/Items/InsertSocketPlugFree/:
    post:
      deprecated: false
      description: Insert a 'free' plug into an item's socket. This does not require 'Advanced Write Action' authorization and is available to 3rd-party apps, but will only work on 'free and reversible' socket actions (Perks, Armor Mods, Shaders, Ornaments, etc.). You must have a valid Destiny Account, and the character must either be in a social space, in orbit, or offline.
      operationId: Destiny2.InsertSocketPlugFree
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    $ref: "#/components/schemas/Destiny.Responses.DestinyItemChangeResponse"
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: Look at the Response property for more information about the nature of this response
      security:
        - oauth2:
            - MoveEquipDestinyItems
      tags:
        - Destiny2
        - Preview
      x-documentation-attributes:
        ThrottleSecondsBetweenActionPerUser: "0.5"
      x-preview: true
  /Destiny2/Actions/Items/PullFromPostmaster/:
    post:
      deprecated: false
      description: Extract an item from the Postmaster, with whatever implications that may entail. You must have a valid Destiny account. You must also pass BOTH a reference AND an instance ID if it's an instanced item.
      operationId: Destiny2.PullFromPostmaster
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    format: int32
                    type: integer
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: Look at the Response property for more information about the nature of this response
      security:
        - oauth2:
            - MoveEquipDestinyItems
      tags:
        - Destiny2
      x-documentation-attributes:
        ThrottleSecondsBetweenActionPerUser: "0.1"
  /Destiny2/Actions/Items/SetLockState/:
    post:
      deprecated: false
      description: Set the Lock State for an instanced item. You must have a valid Destiny Account.
      operationId: Destiny2.SetItemLockState
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    format: int32
                    type: integer
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: Look at the Response property for more information about the nature of this response
      security:
        - oauth2:
            - MoveEquipDestinyItems
      tags:
        - Destiny2
      x-documentation-attributes:
        ThrottleSecondsBetweenActionPerUser: "0.1"
  /Destiny2/Actions/Items/SetTrackedState/:
    post:
      deprecated: false
      description: Set the Tracking State for an instanced item, if that item is a Quest or Bounty. You must have a valid Destiny Account. Yeah, it's an item.
      operationId: Destiny2.SetQuestTrackedState
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    format: int32
                    type: integer
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: Look at the Response property for more information about the nature of this response
      security:
        - oauth2:
            - MoveEquipDestinyItems
      tags:
        - Destiny2
      x-documentation-attributes:
        ThrottleSecondsBetweenActionPerUser: "1"
  /Destiny2/Actions/Items/TransferItem/:
    post:
      deprecated: false
      description: Transfer an item to/from your vault. You must have a valid Destiny account. You must also pass BOTH a reference AND an instance ID if it's an instanced item. itshappening.gif
      operationId: Destiny2.TransferItem
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    format: int32
                    type: integer
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: Look at the Response property for more information about the nature of this response
      security:
        - oauth2:
            - MoveEquipDestinyItems
      tags:
        - Destiny2
      x-documentation-attributes:
        ThrottleSecondsBetweenActionPerUser: "0.1"
  /Destiny2/Actions/Loadouts/ClearLoadout/:
    post:
      deprecated: false
      description: Clear the identifiers and items of a loadout.
      operationId: Destiny2.ClearLoadout
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    format: int32
                    type: integer
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: Look at the Response property for more information about the nature of this response
      security:
        - oauth2:
            - MoveEquipDestinyItems
      tags:
        - Destiny2
      x-documentation-attributes:
        ThrottleSecondsBetweenActionPerUser: "1"
  /Destiny2/Actions/Loadouts/EquipLoadout/:
    post:
      deprecated: false
      description: Equip a loadout. You must have a valid Destiny Account, and either be in a social space, in orbit, or offline.
      operationId: Destiny2.EquipLoadout
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    format: int32
                    type: integer
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: Look at the Response property for more information about the nature of this response
      security:
        - oauth2:
            - MoveEquipDestinyItems
      tags:
        - Destiny2
      x-documentation-attributes:
        ThrottleSecondsBetweenActionPerUser: "1"
  /Destiny2/Actions/Loadouts/SnapshotLoadout/:
    post:
      deprecated: false
      description: Snapshot a loadout with the currently equipped items.
      operationId: Destiny2.SnapshotLoadout
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    format: int32
                    type: integer
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: Look at the Response property for more information about the nature of this response
      security:
        - oauth2:
            - MoveEquipDestinyItems
      tags:
        - Destiny2
      x-documentation-attributes:
        ThrottleSecondsBetweenActionPerUser: "1"
  /Destiny2/Actions/Loadouts/UpdateLoadoutIdentifiers/:
    post:
      deprecated: false
      description: Update the color, icon, and name of a loadout.
      operationId: Destiny2.UpdateLoadoutIdentifiers
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    format: int32
                    type: integer
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: Look at the Response property for more information about the nature of this response
      security:
        - oauth2:
            - MoveEquipDestinyItems
      tags:
        - Destiny2
      x-documentation-attributes:
        ThrottleSecondsBetweenActionPerUser: "1"
  "/Destiny2/Armory/Search/{type}/{searchTerm}/":
    get:
      deprecated: false
      description: Gets a page list of Destiny items.
      operationId: Destiny2.SearchDestinyEntities
      parameters:
        - description: Page number to return, starting with 0.
          in: query
          name: page
          schema:
            format: int32
            type: integer
        - description: The string to use when searching for Destiny entities.
          in: path
          name: searchTerm
          required: true
          schema:
            type: string
        - description: The type of entity for whom you would like results. These correspond to the entity's definition contract name. For instance, if you are looking for items, this property should be 'DestinyInventoryItemDefinition'.
          in: path
          name: type
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    $ref: "#/components/schemas/Destiny.Definitions.DestinyEntitySearchResult"
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: The results of a search for Destiny content. This will be improved on over time, I've been doing some experimenting to see what might be useful.
      tags:
        - Destiny2
  /Destiny2/Awa/AwaProvideAuthorizationResult/:
    post:
      deprecated: false
      description: Provide the result of the user interaction. Called by the Bungie Destiny App to approve or reject a request.
      operationId: Destiny2.AwaProvideAuthorizationResult
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    format: int32
                    type: integer
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: Look at the Response property for more information about the nature of this response
      tags:
        - Destiny2
  "/Destiny2/Awa/GetActionToken/{correlationId}/":
    get:
      deprecated: false
      description: Returns the action token if user approves the request.
      operationId: Destiny2.AwaGetActionToken
      parameters:
        - description: The identifier for the advanced write action request.
          in: path
          name: correlationId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    $ref: "#/components/schemas/Destiny.Advanced.AwaAuthorizationResult"
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: Look at the Response property for more information about the nature of this response
      security:
        - oauth2:
            - AdvancedWriteActions
      tags:
        - Destiny2
  /Destiny2/Awa/Initialize/:
    post:
      deprecated: false
      description: Initialize a request to perform an advanced write action.
      operationId: Destiny2.AwaInitializeRequest
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    $ref: "#/components/schemas/Destiny.Advanced.AwaInitializeResponse"
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: Look at the Response property for more information about the nature of this response
      security:
        - oauth2:
            - AdvancedWriteActions
      tags:
        - Destiny2
  /Destiny2/Clan/ClanBannerDictionary/:
    get:
      deprecated: false
      description: Returns the dictionary of values for the Clan Banner
      operationId: Destiny2.GetClanBannerSource
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    $ref: "#/components/schemas/Config.ClanBanner.ClanBannerSource"
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: Look at the Response property for more information about the nature of this response
      tags:
        - Destiny2
  "/Destiny2/Clan/{groupId}/WeeklyRewardState/":
    get:
      deprecated: false
      description: Returns information on the weekly clan rewards and if the clan has earned them or not. Note that this will always report rewards as not redeemed.
      operationId: Destiny2.GetClanWeeklyRewardState
      parameters:
        - description: A valid group id of clan.
          in: path
          name: groupId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    $ref: "#/components/schemas/Destiny.Milestones.DestinyMilestone"
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: Represents a runtime instance of a user's milestone status. Live Milestone data should be combined with DestinyMilestoneDefinition data to show the user a picture of what is available for them to do in the game, and their status in regards to said "things to do." Consider it a big, wonky to-do list, or Advisors 3.0 for those who remember the Destiny 1 API.
      tags:
        - Destiny2
  /Destiny2/Manifest/:
    get:
      deprecated: false
      description: Returns the current version of the manifest as a json object.
      operationId: Destiny2.GetDestinyManifest
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    $ref: "#/components/schemas/Destiny.Config.DestinyManifest"
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: DestinyManifest is the external-facing contract for just the properties needed by those calling the Destiny Platform.
      tags:
        - Destiny2
  "/Destiny2/Manifest/{entityType}/{hashIdentifier}/":
    get:
      deprecated: false
      description: Returns the static definition of an entity of the given Type and hash identifier. Examine the API Documentation for the Type Names of entities that have their own definitions. Note that the return type will always *inherit from* DestinyDefinition, but the specific type returned will be the requested entity type if it can be found. Please don't use this as a chatty alternative to the Manifest database if you require large sets of data, but for simple and one-off accesses this should be handy.
      operationId: Destiny2.GetDestinyEntityDefinition
      parameters:
        - description: "The type of entity for whom you would like results. These correspond to the entity's definition contract name. For instance, if you are looking for items, this property should be 'DestinyInventoryItemDefinition'. PREVIEW: This endpoint is still in beta, and may experience rough edges. The schema is tentatively in final form, but there may be bugs that prevent desirable operation."
          in: path
          name: entityType
          required: true
          schema:
            type: string
        - description: The hash identifier for the specific Entity you want returned.
          in: path
          name: hashIdentifier
          required: true
          schema:
            format: uint32
            type: integer
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    $ref: "#/components/schemas/Destiny.Definitions.DestinyDefinition"
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: Provides common properties for destiny definitions.
      tags:
        - Destiny2
  /Destiny2/Milestones/:
    get:
      deprecated: false
      description: Gets public information about currently available Milestones.
      operationId: Destiny2.GetPublicMilestones
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    additionalProperties:
                      $ref: "#/components/schemas/Destiny.Milestones.DestinyPublicMilestone"
                    type: object
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: Look at the Response property for more information about the nature of this response
      tags:
        - Destiny2
  "/Destiny2/Milestones/{milestoneHash}/Content/":
    get:
      deprecated: false
      description: Gets custom localized content for the milestone of the given hash, if it exists.
      operationId: Destiny2.GetPublicMilestoneContent
      parameters:
        - description: The identifier for the milestone to be returned.
          in: path
          name: milestoneHash
          required: true
          schema:
            format: uint32
            type: integer
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    $ref: "#/components/schemas/Destiny.Milestones.DestinyMilestoneContent"
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: Represents localized, extended content related to Milestones. This is intentionally returned by a separate endpoint and not with Character-level Milestone data because we do not put localized data into standard Destiny responses, both for brevity of response and for caching purposes. If you really need this data, hit the Milestone Content endpoint.
      tags:
        - Destiny2
  "/Destiny2/SearchDestinyPlayerByBungieName/{membershipType}/":
    post:
      deprecated: false
      description: Returns a list of Destiny memberships given a global Bungie Display Name. This method will hide overridden memberships due to cross save.
      operationId: Destiny2.SearchDestinyPlayerByBungieName
      parameters:
        - description: A valid non-BungieNet membership type, or All. Indicates which memberships to return. You probably want this set to All.
          in: path
          name: membershipType
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    items:
                      $ref: "#/components/schemas/User.UserInfoCard"
                    type: array
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: Look at the Response property for more information about the nature of this response
      tags:
        - Destiny2
  "/Destiny2/Stats/AggregateClanStats/{groupId}/":
    get:
      deprecated: false
      description: "Gets aggregated stats for a clan using the same categories as the clan leaderboards. PREVIEW: This endpoint is still in beta, and may experience rough edges. The schema is in final form, but there may be bugs that prevent desirable operation."
      operationId: Destiny2.GetClanAggregateStats
      parameters:
        - description: Group ID of the clan whose leaderboards you wish to fetch.
          in: path
          name: groupId
          required: true
          schema:
            format: int64
            type: integer
        - description: List of game modes for which to get leaderboards. See the documentation for DestinyActivityModeType for valid values, and pass in string representation, comma delimited.
          in: query
          name: modes
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    items:
                      $ref: "#/components/schemas/Destiny.HistoricalStats.DestinyClanAggregateStat"
                    type: array
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: Look at the Response property for more information about the nature of this response
      tags:
        - Destiny2
        - Preview
      x-preview: true
  /Destiny2/Stats/Definition/:
    get:
      deprecated: false
      description: Gets historical stats definitions.
      operationId: Destiny2.GetHistoricalStatsDefinition
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    additionalProperties:
                      $ref: "#/components/schemas/Destiny.HistoricalStats.Definitions.DestinyHistoricalStatsDefinition"
                    type: object
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: Look at the Response property for more information about the nature of this response
      tags:
        - Destiny2
  "/Destiny2/Stats/Leaderboards/Clans/{groupId}/":
    get:
      deprecated: false
      description: "Gets leaderboards with the signed in user's friends and the supplied destinyMembershipId as the focus. PREVIEW: This endpoint is still in beta, and may experience rough edges. The schema is in final form, but there may be bugs that prevent desirable operation."
      operationId: Destiny2.GetClanLeaderboards
      parameters:
        - description: Group ID of the clan whose leaderboards you wish to fetch.
          in: path
          name: groupId
          required: true
          schema:
            format: int64
            type: integer
        - description: Maximum number of top players to return. Use a large number to get entire leaderboard.
          in: query
          name: maxtop
          schema:
            format: int32
            type: integer
        - description: List of game modes for which to get leaderboards. See the documentation for DestinyActivityModeType for valid values, and pass in string representation, comma delimited.
          in: query
          name: modes
          schema:
            type: string
        - description: ID of stat to return rather than returning all Leaderboard stats.
          in: query
          name: statid
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    additionalProperties:
                      additionalProperties:
                        $ref: "#/components/schemas/Destiny.HistoricalStats.DestinyLeaderboard"
                      type: object
                    type: object
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: Look at the Response property for more information about the nature of this response
      tags:
        - Destiny2
        - Preview
      x-preview: true
  "/Destiny2/Stats/Leaderboards/{membershipType}/{destinyMembershipId}/{characterId}/":
    get:
      deprecated: false
      description: "Gets leaderboards with the signed in user's friends and the supplied destinyMembershipId as the focus. PREVIEW: This endpoint is still in beta, and may experience rough edges. The schema is in final form, but there may be bugs that prevent desirable operation."
      operationId: Destiny2.GetLeaderboardsForCharacter
      parameters:
        - description: The specific character to build the leaderboard around for the provided Destiny Membership.
          in: path
          name: characterId
          required: true
          schema:
            format: int64
            type: integer
        - description: The Destiny membershipId of the user to retrieve.
          in: path
          name: destinyMembershipId
          required: true
          schema:
            format: int64
            type: integer
        - description: Maximum number of top players to return. Use a large number to get entire leaderboard.
          in: query
          name: maxtop
          schema:
            format: int32
            type: integer
        - description: A valid non-BungieNet membership type.
          in: path
          name: membershipType
          required: true
          schema:
            format: int32
            type: integer
        - description: List of game modes for which to get leaderboards. See the documentation for DestinyActivityModeType for valid values, and pass in string representation, comma delimited.
          in: query
          name: modes
          schema:
            type: string
        - description: ID of stat to return rather than returning all Leaderboard stats.
          in: query
          name: statid
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    additionalProperties:
                      additionalProperties:
                        $ref: "#/components/schemas/Destiny.HistoricalStats.DestinyLeaderboard"
                      type: object
                    type: object
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: Look at the Response property for more information about the nature of this response
      tags:
        - Destiny2
        - Preview
      x-preview: true
  "/Destiny2/Stats/PostGameCarnageReport/{activityId}/":
    get:
      deprecated: false
      description: Gets the available post game carnage report for the activity ID.
      operationId: Destiny2.GetPostGameCarnageReport
      parameters:
        - description: The ID of the activity whose PGCR is requested.
          in: path
          name: activityId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    $ref: "#/components/schemas/Destiny.HistoricalStats.DestinyPostGameCarnageReportData"
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: Look at the Response property for more information about the nature of this response
      tags:
        - Destiny2
  "/Destiny2/Stats/PostGameCarnageReport/{activityId}/Report/":
    post:
      deprecated: false
      description: Report a player that you met in an activity that was engaging in ToS-violating activities. Both you and the offending player must have played in the activityId passed in. Please use this judiciously and only when you have strong suspicions of violation, pretty please.
      operationId: Destiny2.ReportOffensivePostGameCarnageReportPlayer
      parameters:
        - description: The ID of the activity where you ran into the brigand that you're reporting.
          in: path
          name: activityId
          required: true
          schema:
            format: int64
            type: integer
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    format: int32
                    type: integer
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: Look at the Response property for more information about the nature of this response
      security:
        - oauth2:
            - BnetWrite
      tags:
        - Destiny2
  /Destiny2/Vendors/:
    get:
      deprecated: false
      description: "Get items available from vendors where the vendors have items for sale that are common for everyone. If any portion of the Vendor's available inventory is character or account specific, we will be unable to return their data from this endpoint due to the way that available inventory is computed. As I am often guilty of saying: 'It's a long story...'"
      operationId: Destiny2.GetPublicVendors
      parameters:
        - description: A comma separated list of components to return (as strings or numeric values). See the DestinyComponentType enum for valid components to request. You must request at least one component to receive results.
          explode: false
          in: query
          name: components
          schema:
            items:
              description: "Represents the possible components that can be returned from Destiny \"Get\" calls such as GetProfile, GetCharacter, GetVendor etc...\r

                When making one of these requests, you will pass one or more of these components as a comma separated list in the \"?components=\" querystring parameter. For instance, if you want baseline Profile data, Character Data, and character progressions, you would pass \"?components=Profiles,Characters,CharacterProgressions\" You may use either the numerical or string values."
              format: int32
              type: integer
              x-enum-reference:
                $ref: "#/components/schemas/schema2"
            type: array
          style: form
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    $ref: "#/components/schemas/Destiny.Responses.DestinyPublicVendorsResponse"
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: "A response containing all valid components for the public Vendors endpoint.\r

            \ It is a decisively smaller subset of data compared to what we can get when we know the specific user making the request.\r

            \ If you want any of the other data - item details, whether or not you can buy it, etc... you'll have to call in the context of a character. I know, sad but true."
      tags:
        - Destiny2
        - Preview
      x-preview: true
  "/Destiny2/{membershipType}/Account/{destinyMembershipId}/Character/{characterId}/Stats/":
    get:
      deprecated: false
      description: Gets historical stats for indicated character.
      operationId: Destiny2.GetHistoricalStats
      parameters:
        - description: The id of the character to retrieve. You can omit this character ID or set it to 0 to get aggregate stats across all characters.
          in: path
          name: characterId
          required: true
          schema:
            format: int64
            type: integer
        - description: Last day to return when daily stats are requested. Use the format YYYY-MM-DD. Currently, we cannot allow more than 31 days of daily data to be requested in a single request.
          in: query
          name: dayend
          schema:
            format: date-time
            type: string
        - description: First day to return when daily stats are requested. Use the format YYYY-MM-DD. Currently, we cannot allow more than 31 days of daily data to be requested in a single request.
          in: query
          name: daystart
          schema:
            format: date-time
            type: string
        - description: The Destiny membershipId of the user to retrieve.
          in: path
          name: destinyMembershipId
          required: true
          schema:
            format: int64
            type: integer
        - description: "Group of stats to include, otherwise only general stats are returned. Comma separated list is allowed. Values: General, Weapons, Medals"
          explode: false
          in: query
          name: groups
          schema:
            items:
              description: If the enum value is > 100, it is a "special" group that cannot be queried for directly (special cases apply to when they are returned, and are not relevant in general cases)
              format: int32
              type: integer
              x-enum-reference:
                $ref: "#/components/schemas/schema3"
            type: array
          style: form
        - description: A valid non-BungieNet membership type.
          in: path
          name: membershipType
          required: true
          schema:
            format: int32
            type: integer
        - description: Game modes to return. See the documentation for DestinyActivityModeType for valid values, and pass in string representation, comma delimited.
          explode: false
          in: query
          name: modes
          schema:
            items:
              description: For historical reasons, this list will have both D1 and D2-relevant Activity Modes in it. Please don't take this to mean that some D1-only feature is coming back!
              format: int32
              type: integer
              x-enum-reference:
                $ref: "#/components/schemas/schema4"
            type: array
          style: form
        - description: "Indicates a specific period type to return. Optional. May be: Daily, AllTime, or Activity"
          in: query
          name: periodType
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    additionalProperties:
                      $ref: "#/components/schemas/Destiny.HistoricalStats.DestinyHistoricalStatsByPeriod"
                    type: object
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: Look at the Response property for more information about the nature of this response
      tags:
        - Destiny2
  "/Destiny2/{membershipType}/Account/{destinyMembershipId}/Character/{characterId}/Stats/Activities/":
    get:
      deprecated: false
      description: Gets activity history stats for indicated character.
      operationId: Destiny2.GetActivityHistory
      parameters:
        - description: The id of the character to retrieve.
          in: path
          name: characterId
          required: true
          schema:
            format: int64
            type: integer
        - description: Number of rows to return
          in: query
          name: count
          schema:
            format: int32
            type: integer
        - description: The Destiny membershipId of the user to retrieve.
          in: path
          name: destinyMembershipId
          required: true
          schema:
            format: int64
            type: integer
        - description: A valid non-BungieNet membership type.
          in: path
          name: membershipType
          required: true
          schema:
            format: int32
            type: integer
        - description: A filter for the activity mode to be returned. None returns all activities. See the documentation for DestinyActivityModeType for valid values, and pass in string representation.
          in: query
          name: mode
          schema:
            format: int32
            type: integer
        - description: Page number to return, starting with 0.
          in: query
          name: page
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    $ref: "#/components/schemas/Destiny.HistoricalStats.DestinyActivityHistoryResults"
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: Look at the Response property for more information about the nature of this response
      tags:
        - Destiny2
  "/Destiny2/{membershipType}/Account/{destinyMembershipId}/Character/{characterId}/Stats/AggregateActivityStats/":
    get:
      deprecated: false
      description: Gets all activities the character has participated in together with aggregate statistics for those activities.
      operationId: Destiny2.GetDestinyAggregateActivityStats
      parameters:
        - description: The specific character whose activities should be returned.
          in: path
          name: characterId
          required: true
          schema:
            format: int64
            type: integer
        - description: The Destiny membershipId of the user to retrieve.
          in: path
          name: destinyMembershipId
          required: true
          schema:
            format: int64
            type: integer
        - description: A valid non-BungieNet membership type.
          in: path
          name: membershipType
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    $ref: "#/components/schemas/Destiny.HistoricalStats.DestinyAggregateActivityResults"
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: Look at the Response property for more information about the nature of this response
      tags:
        - Destiny2
  "/Destiny2/{membershipType}/Account/{destinyMembershipId}/Character/{characterId}/Stats/UniqueWeapons/":
    get:
      deprecated: false
      description: Gets details about unique weapon usage, including all exotic weapons.
      operationId: Destiny2.GetUniqueWeaponHistory
      parameters:
        - description: The id of the character to retrieve.
          in: path
          name: characterId
          required: true
          schema:
            format: int64
            type: integer
        - description: The Destiny membershipId of the user to retrieve.
          in: path
          name: destinyMembershipId
          required: true
          schema:
            format: int64
            type: integer
        - description: A valid non-BungieNet membership type.
          in: path
          name: membershipType
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    $ref: "#/components/schemas/Destiny.HistoricalStats.DestinyHistoricalWeaponStatsData"
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: Look at the Response property for more information about the nature of this response
      tags:
        - Destiny2
  "/Destiny2/{membershipType}/Account/{destinyMembershipId}/Stats/":
    get:
      deprecated: false
      description: Gets aggregate historical stats organized around each character for a given account.
      operationId: Destiny2.GetHistoricalStatsForAccount
      parameters:
        - description: The Destiny membershipId of the user to retrieve.
          in: path
          name: destinyMembershipId
          required: true
          schema:
            format: int64
            type: integer
        - description: "Groups of stats to include, otherwise only general stats are returned. Comma separated list is allowed. Values: General, Weapons, Medals."
          explode: false
          in: query
          name: groups
          schema:
            items:
              description: If the enum value is > 100, it is a "special" group that cannot be queried for directly (special cases apply to when they are returned, and are not relevant in general cases)
              format: int32
              type: integer
              x-enum-reference:
                $ref: "#/components/schemas/schema3"
            type: array
          style: form
        - description: A valid non-BungieNet membership type.
          in: path
          name: membershipType
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    $ref: "#/components/schemas/Destiny.HistoricalStats.DestinyHistoricalStatsAccountResult"
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: Look at the Response property for more information about the nature of this response
      tags:
        - Destiny2
  "/Destiny2/{membershipType}/Account/{destinyMembershipId}/Stats/Leaderboards/":
    get:
      deprecated: false
      description: "Gets leaderboards with the signed in user's friends and the supplied destinyMembershipId as the focus. PREVIEW: This endpoint has not yet been implemented. It is being returned for a preview of future functionality, and for public comment/suggestion/preparation."
      operationId: Destiny2.GetLeaderboards
      parameters:
        - description: The Destiny membershipId of the user to retrieve.
          in: path
          name: destinyMembershipId
          required: true
          schema:
            format: int64
            type: integer
        - description: Maximum number of top players to return. Use a large number to get entire leaderboard.
          in: query
          name: maxtop
          schema:
            format: int32
            type: integer
        - description: A valid non-BungieNet membership type.
          in: path
          name: membershipType
          required: true
          schema:
            format: int32
            type: integer
        - description: List of game modes for which to get leaderboards. See the documentation for DestinyActivityModeType for valid values, and pass in string representation, comma delimited.
          in: query
          name: modes
          schema:
            type: string
        - description: ID of stat to return rather than returning all Leaderboard stats.
          in: query
          name: statid
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    additionalProperties:
                      additionalProperties:
                        $ref: "#/components/schemas/Destiny.HistoricalStats.DestinyLeaderboard"
                      type: object
                    type: object
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: Look at the Response property for more information about the nature of this response
      tags:
        - Destiny2
        - Preview
      x-preview: true
  "/Destiny2/{membershipType}/Profile/{destinyMembershipId}/":
    get:
      deprecated: false
      description: Returns Destiny Profile information for the supplied membership.
      operationId: Destiny2.GetProfile
      parameters:
        - description: A comma separated list of components to return (as strings or numeric values). See the DestinyComponentType enum for valid components to request. You must request at least one component to receive results.
          explode: false
          in: query
          name: components
          schema:
            items:
              description: "Represents the possible components that can be returned from Destiny \"Get\" calls such as GetProfile, GetCharacter, GetVendor etc...\r

                When making one of these requests, you will pass one or more of these components as a comma separated list in the \"?components=\" querystring parameter. For instance, if you want baseline Profile data, Character Data, and character progressions, you would pass \"?components=Profiles,Characters,CharacterProgressions\" You may use either the numerical or string values."
              format: int32
              type: integer
              x-enum-reference:
                $ref: "#/components/schemas/schema2"
            type: array
          style: form
        - description: Destiny membership ID.
          in: path
          name: destinyMembershipId
          required: true
          schema:
            format: int64
            type: integer
        - description: A valid non-BungieNet membership type.
          in: path
          name: membershipType
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    $ref: "#/components/schemas/Destiny.Responses.DestinyProfileResponse"
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: The response for GetDestinyProfile, with components for character and item-level data.
      tags:
        - Destiny2
  "/Destiny2/{membershipType}/Profile/{destinyMembershipId}/Character/{characterId}/":
    get:
      deprecated: false
      description: Returns character information for the supplied character.
      operationId: Destiny2.GetCharacter
      parameters:
        - description: ID of the character.
          in: path
          name: characterId
          required: true
          schema:
            format: int64
            type: integer
        - description: A comma separated list of components to return (as strings or numeric values). See the DestinyComponentType enum for valid components to request. You must request at least one component to receive results.
          explode: false
          in: query
          name: components
          schema:
            items:
              description: "Represents the possible components that can be returned from Destiny \"Get\" calls such as GetProfile, GetCharacter, GetVendor etc...\r

                When making one of these requests, you will pass one or more of these components as a comma separated list in the \"?components=\" querystring parameter. For instance, if you want baseline Profile data, Character Data, and character progressions, you would pass \"?components=Profiles,Characters,CharacterProgressions\" You may use either the numerical or string values."
              format: int32
              type: integer
              x-enum-reference:
                $ref: "#/components/schemas/schema2"
            type: array
          style: form
        - description: Destiny membership ID.
          in: path
          name: destinyMembershipId
          required: true
          schema:
            format: int64
            type: integer
        - description: A valid non-BungieNet membership type.
          in: path
          name: membershipType
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    $ref: "#/components/schemas/Destiny.Responses.DestinyCharacterResponse"
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: The response contract for GetDestinyCharacter, with components that can be returned for character and item-level data.
      tags:
        - Destiny2
  "/Destiny2/{membershipType}/Profile/{destinyMembershipId}/Character/{characterId}/Collectibles/{collectiblePresentationNodeHash}/":
    get:
      deprecated: false
      description: Given a Presentation Node that has Collectibles as direct descendants, this will return item details about those descendants in the context of the requesting character.
      operationId: Destiny2.GetCollectibleNodeDetails
      parameters:
        - description: The Destiny Character ID of the character for whom we're getting collectible detail info.
          in: path
          name: characterId
          required: true
          schema:
            format: int64
            type: integer
        - description: The hash identifier of the Presentation Node for whom we should return collectible details. Details will only be returned for collectibles that are direct descendants of this node.
          in: path
          name: collectiblePresentationNodeHash
          required: true
          schema:
            format: uint32
            type: integer
        - description: A comma separated list of components to return (as strings or numeric values). See the DestinyComponentType enum for valid components to request. You must request at least one component to receive results.
          explode: false
          in: query
          name: components
          schema:
            items:
              description: "Represents the possible components that can be returned from Destiny \"Get\" calls such as GetProfile, GetCharacter, GetVendor etc...\r

                When making one of these requests, you will pass one or more of these components as a comma separated list in the \"?components=\" querystring parameter. For instance, if you want baseline Profile data, Character Data, and character progressions, you would pass \"?components=Profiles,Characters,CharacterProgressions\" You may use either the numerical or string values."
              format: int32
              type: integer
              x-enum-reference:
                $ref: "#/components/schemas/schema2"
            type: array
          style: form
        - description: Destiny membership ID of another user. You may be denied.
          in: path
          name: destinyMembershipId
          required: true
          schema:
            format: int64
            type: integer
        - description: A valid non-BungieNet membership type.
          in: path
          name: membershipType
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    $ref: "#/components/schemas/Destiny.Responses.DestinyCollectibleNodeDetailResponse"
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: Returns the detailed information about a Collectible Presentation Node and any Collectibles that are direct descendants.
      tags:
        - Destiny2
  "/Destiny2/{membershipType}/Profile/{destinyMembershipId}/Character/{characterId}/Vendors/":
    get:
      deprecated: false
      description: Get currently available vendors from the list of vendors that can possibly have rotating inventory. Note that this does not include things like preview vendors and vendors-as-kiosks, neither of whom have rotating/dynamic inventories. Use their definitions as-is for those.
      operationId: Destiny2.GetVendors
      parameters:
        - description: The Destiny Character ID of the character for whom we're getting vendor info.
          in: path
          name: characterId
          required: true
          schema:
            format: int64
            type: integer
        - description: A comma separated list of components to return (as strings or numeric values). See the DestinyComponentType enum for valid components to request. You must request at least one component to receive results.
          explode: false
          in: query
          name: components
          schema:
            items:
              description: "Represents the possible components that can be returned from Destiny \"Get\" calls such as GetProfile, GetCharacter, GetVendor etc...\r

                When making one of these requests, you will pass one or more of these components as a comma separated list in the \"?components=\" querystring parameter. For instance, if you want baseline Profile data, Character Data, and character progressions, you would pass \"?components=Profiles,Characters,CharacterProgressions\" You may use either the numerical or string values."
              format: int32
              type: integer
              x-enum-reference:
                $ref: "#/components/schemas/schema2"
            type: array
          style: form
        - description: Destiny membership ID of another user. You may be denied.
          in: path
          name: destinyMembershipId
          required: true
          schema:
            format: int64
            type: integer
        - description: The filter of what vendors and items to return, if any.
          in: query
          name: filter
          schema:
            format: int32
            type: integer
        - description: A valid non-BungieNet membership type.
          in: path
          name: membershipType
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            "*/*":
              schema:
                properties:
                  DetailedErrorTrace:
                    type: string
                  ErrorCode:
                    format: int32
                    type: integer
                    x-enum-reference:
                      $ref: "#/components/schemas/schema1"
                  ErrorStatus:
                    type: string
                  Message:
                    type: string
                  MessageData:
                    additionalProperties:
                      type: string
                    type: object
                  Response:
                    $ref: "#/components/schemas/Destiny.Responses.DestinyVendorsResponse"
                  ThrottleSeconds:
                    format: int32
                    type: integer
                type: object
          description: A response containing all of the components for all requested vendors.
      tags:
        - Destiny2
  "/Destiny2/{membershipType}/Profile/{destinyMembershipId}/Character/{characterId}/Vendors/{vendorHash}/":
    get:
      deprecated: false
      description: Get the details of a specific Vendor.
      operationId: Destiny2.GetVendor
      parameters:
        - description: The Destiny Character ID of the character for whom we're getting vendor info.
          in: path
          name: characterId
          required: true
          schema:
            format: int64
            type: integer
        - description: A comma separated list of components to return (as strings or numeric values). See the DestinyComponentType enum for valid components to request. You must request at least one component to receive results.
          explode: false
[...]
