openapi: 3.0.1
servers:
  - url: https://studio.twilio.com
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Studio
  version: 1.42.0
  x-apisguru-categories:
    - telecom
    - messaging
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_static1.twilio.com_marketing_bundles_marketing_img_logos_wordmark-red.svg
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_studio_v1.json
      version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_studio_v1
paths:
  /v1/Flows:
    description: Studio flows
    get:
      description: Retrieve a list of all Flows.
      operationId: ListFlow
      parameters:
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  flows:
                    items:
                      $ref: "#/components/schemas/studio.v1.flow"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListFlowResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://studio.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - friendly_name
        - status
        - version
      pathType: list
  "/v1/Flows/{FlowSid}/Engagements":
    description: "[DEPRECATED] Excecutions of Studio flows"
    get:
      description: Retrieve a list of all Engagements for the Flow.
      operationId: ListEngagement
      parameters:
        - description: The SID of the Flow to read Engagements from.
          in: path
          name: FlowSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  engagements:
                    items:
                      $ref: "#/components/schemas/studio.v1.flow.engagement"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListEngagementResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Triggers a new Engagement for the Flow
      operationId: CreateEngagement
      parameters:
        - description: The SID of the Flow.
          in: path
          name: FlowSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                From:
                  description: The Twilio phone number to send messages or initiate calls from during the Flow Engagement. Available as variable `{{flow.channel.address}}`
                  format: phone-number
                  type: string
                Parameters:
                  description: "A JSON string we will add to your flow's context and that you can access as variables inside your flow. For example, if you pass in `Parameters={'name':'Zeke'}` then inside a widget you can reference the variable `{{flow.data.name}}` which will return the string 'Zeke'. Note: the JSON value must explicitly be passed as a string, not as a hash object. Depending on your particular HTTP library, you may need to add quotes or URL encode your JSON string."
                To:
                  description: The Contact phone number to start a Studio Flow Engagement, available as variable `{{contact.channel.address}}`.
                  format: phone-number
                  type: string
              required:
                - To
                - From
              title: CreateEngagementRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/studio.v1.flow.engagement"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://studio.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - contact_sid
        - status
        - date_created
      parent: /Flows/{Sid}
      pathType: list
  "/v1/Flows/{FlowSid}/Engagements/{EngagementSid}/Context":
    description: "[DEPRECATED] JSON context for engagements"
    get:
      description: Retrieve the most recent context for an Engagement.
      operationId: FetchEngagementContext
      parameters:
        - description: The SID of the Flow.
          in: path
          name: FlowSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Engagement.
          in: path
          name: EngagementSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FN[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/studio.v1.flow.engagement.engagement_context"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://studio.twilio.com
    x-twilio:
      defaultOutputProperties:
        - context
      mountName: engagement_context
      parent: /Flows/{FlowSid}/Engagements/{Sid}
      pathType: instance
  "/v1/Flows/{FlowSid}/Engagements/{EngagementSid}/Steps":
    description: Steps within a Studio flow
    get:
      description: Retrieve a list of all Steps for an Engagement.
      operationId: ListStep
      parameters:
        - description: The SID of the Flow with the Step to read.
          in: path
          name: FlowSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Engagement with the Step to read.
          in: path
          name: EngagementSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FN[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  steps:
                    items:
                      $ref: "#/components/schemas/studio.v1.flow.engagement.step"
                    type: array
                title: ListStepResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://studio.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - name
        - transitioned_from
        - transitioned_to
      parent: /Flows/{FlowSid}/Engagements/{Sid}
      pathType: list
  "/v1/Flows/{FlowSid}/Engagements/{EngagementSid}/Steps/{Sid}":
    description: Steps within a Studio flow
    get:
      description: Retrieve a Step.
      operationId: FetchStep
      parameters:
        - description: The SID of the Flow with the Step to fetch.
          in: path
          name: FlowSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Engagement with the Step to fetch.
          in: path
          name: EngagementSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FN[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Step resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FT[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/studio.v1.flow.engagement.step"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://studio.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - name
        - transitioned_from
        - transitioned_to
      parent: /Flows/{FlowSid}/Engagements/{Sid}
      pathType: instance
  "/v1/Flows/{FlowSid}/Engagements/{EngagementSid}/Steps/{StepSid}/Context":
    description: JSON context for individual steps
    get:
      description: Retrieve the context for an Engagement Step.
      operationId: FetchStepContext
      parameters:
        - description: The SID of the Flow with the Step to fetch.
          in: path
          name: FlowSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Engagement with the Step to fetch.
          in: path
          name: EngagementSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FN[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Step to fetch
          in: path
          name: StepSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FT[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/studio.v1.flow.engagement.step.step_context"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://studio.twilio.com
    x-twilio:
      defaultOutputProperties:
        - context
      mountName: step_context
      parent: /Flows/{FlowSid}/Engagements/{EngagementSid}/Steps/{Sid}
      pathType: instance
  "/v1/Flows/{FlowSid}/Engagements/{Sid}":
    delete:
      description: Delete this Engagement and all Steps relating to it.
      operationId: DeleteEngagement
      parameters:
        - description: The SID of the Flow to delete Engagements from.
          in: path
          name: FlowSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Engagement resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FN[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: "[DEPRECATED] Excecutions of Studio flows"
    get:
      description: Retrieve an Engagement
      operationId: FetchEngagement
      parameters:
        - description: The SID of the Flow.
          in: path
          name: FlowSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Engagement resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FN[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/studio.v1.flow.engagement"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://studio.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - contact_sid
        - status
        - date_created
      parent: /Flows/{Sid}
      pathType: instance
  "/v1/Flows/{FlowSid}/Executions":
    description: Executions of Studio flows
    get:
      description: Retrieve a list of all Executions for the Flow.
      operationId: ListExecution
      parameters:
        - description: The SID of the Flow with the Execution resources to read.
          in: path
          name: FlowSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
        - description: Only show Execution resources starting on or after this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time, given as `YYYY-MM-DDThh:mm:ss-hh:mm`.
          in: query
          name: DateCreatedFrom
          schema:
            format: date-time
            type: string
        - description: Only show Execution resources starting before this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time, given as `YYYY-MM-DDThh:mm:ss-hh:mm`.
          in: query
          name: DateCreatedTo
          schema:
            format: date-time
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  executions:
                    items:
                      $ref: "#/components/schemas/studio.v1.flow.execution"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListExecutionResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Triggers a new Execution for the Flow
      operationId: CreateExecution
      parameters:
        - description: The SID of the Excecution's Flow.
          in: path
          name: FlowSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                From:
                  description: The Twilio phone number to send messages or initiate calls from during the Flow's Execution. Available as variable `{{flow.channel.address}}`. For SMS, this can also be a Messaging Service SID.
                  format: phone-number
                  type: string
                Parameters:
                  description: "JSON data that will be added to the Flow's context and that can be accessed as variables inside your Flow. For example, if you pass in `Parameters={\"name\":\"Zeke\"}`, a widget in your Flow can reference the variable `{{flow.data.name}}`, which returns \"Zeke\". Note: the JSON value must explicitly be passed as a string, not as a hash object. Depending on your particular HTTP library, you may need to add quotes or URL encode the JSON string."
                To:
                  description: The Contact phone number to start a Studio Flow Execution, available as variable `{{contact.channel.address}}`.
                  format: phone-number
                  type: string
              required:
                - To
                - From
              title: CreateExecutionRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/studio.v1.flow.execution"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://studio.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - contact_sid
        - status
        - date_created
      parent: /Flows/{Sid}
      pathType: list
  "/v1/Flows/{FlowSid}/Executions/{ExecutionSid}/Context":
    description: JSON context for executions
    get:
      description: Retrieve the most recent context for an Execution.
      operationId: FetchExecutionContext
      parameters:
        - description: The SID of the Flow with the Execution context to fetch.
          in: path
          name: FlowSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Execution context to fetch.
          in: path
          name: ExecutionSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FN[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/studio.v1.flow.execution.execution_context"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://studio.twilio.com
    x-twilio:
      defaultOutputProperties:
        - context
      mountName: execution_context
      parent: /Flows/{FlowSid}/Executions/{Sid}
      pathType: instance
  "/v1/Flows/{FlowSid}/Executions/{ExecutionSid}/Steps":
    description: Individual steps within an execution
    get:
      description: Retrieve a list of all Steps for an Execution.
      operationId: ListExecutionStep
      parameters:
        - description: The SID of the Flow with the Steps to read.
          in: path
          name: FlowSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Execution with the Steps to read.
          in: path
          name: ExecutionSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FN[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  steps:
                    items:
                      $ref: "#/components/schemas/studio.v1.flow.execution.execution_step"
                    type: array
                title: ListExecutionStepResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://studio.twilio.com
    x-twilio:
      className: execution_step
      defaultOutputProperties:
        - sid
        - name
        - date_created
      parent: /Flows/{FlowSid}/Executions/{Sid}
      pathType: list
  "/v1/Flows/{FlowSid}/Executions/{ExecutionSid}/Steps/{Sid}":
    description: Individual steps within an execution
    get:
      description: Retrieve a Step.
      operationId: FetchExecutionStep
      parameters:
        - description: The SID of the Flow with the Step to fetch.
          in: path
          name: FlowSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Execution resource with the Step to fetch.
          in: path
          name: ExecutionSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FN[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the ExecutionStep resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FT[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/studio.v1.flow.execution.execution_step"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://studio.twilio.com
    x-twilio:
      className: execution_step
      defaultOutputProperties:
        - sid
        - name
        - date_created
      parent: /Flows/{FlowSid}/Executions/{Sid}
      pathType: instance
  "/v1/Flows/{FlowSid}/Executions/{ExecutionSid}/Steps/{StepSid}/Context":
    description: JSON context for an individual step within an execution
    get:
      description: Retrieve the context for an Execution Step.
      operationId: FetchExecutionStepContext
      parameters:
        - description: The SID of the Flow with the Step to fetch.
          in: path
          name: FlowSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Execution resource with the Step to fetch.
          in: path
          name: ExecutionSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FN[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Step to fetch.
          in: path
          name: StepSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FT[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/studio.v1.flow.execution.execution_step.execution_step_context"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://studio.twilio.com
    x-twilio:
      className: execution_step_context
      defaultOutputProperties:
        - context
      mountName: step_context
      parent: /Flows/{FlowSid}/Executions/{ExecutionSid}/Steps/{Sid}
      pathType: instance
  "/v1/Flows/{FlowSid}/Executions/{Sid}":
    delete:
      description: Delete the Execution and all Steps relating to it.
      operationId: DeleteExecution
      parameters:
        - description: The SID of the Flow with the Execution resources to delete.
          in: path
          name: FlowSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Execution resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FN[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: Executions of Studio flows
    get:
      description: Retrieve an Execution
      operationId: FetchExecution
      parameters:
        - description: The SID of the Flow with the Execution resource to fetch
          in: path
          name: FlowSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Execution resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FN[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/studio.v1.flow.execution"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Update the status of an Execution to `ended`.
      operationId: UpdateExecution
      parameters:
        - description: The SID of the Flow with the Execution resources to update.
          in: path
          name: FlowSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Execution resource to update.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FN[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Status:
                  $ref: "#/components/schemas/execution_enum_status"
                  description: The status of the Execution. Can only be `ended`.
                  type: string
              required:
                - Status
              title: UpdateExecutionRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/studio.v1.flow.execution"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://studio.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - contact_sid
        - status
        - date_created
      parent: /Flows/{Sid}
      pathType: instance
  "/v1/Flows/{Sid}":
    delete:
      description: Delete a specific Flow.
      operationId: DeleteFlow
      parameters:
        - description: The SID of the Flow resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: Studio flows
    get:
      description: Retrieve a specific Flow.
      operationId: FetchFlow
      parameters:
        - description: The SID of the Flow resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/studio.v1.flow"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://studio.twilio.com
    x-twilio:
      defaultOutputProperties:
        - sid
        - friendly_name
        - status
        - version
      pathType: instance
components:
  schemas:
    engagement_enum_status:
      enum:
        - active
        - ended
      type: string
    execution_enum_status:
      enum:
        - active
        - ended
      type: string
    flow_enum_status:
      enum:
        - draft
        - published
      type: string
    studio.v1.flow:
      properties:
        account_sid:
          description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Flow resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        date_created:
          description: The date and time in GMT when the resource was created specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: The date and time in GMT when the resource was last updated specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          format: date-time
          nullable: true
          type: string
        friendly_name:
          description: The string that you assigned to describe the Flow.
          nullable: true
          type: string
        links:
          description: The URLs of the Flow's nested resources.
          format: uri-map
          nullable: true
          type: object
        sid:
          description: The unique string that we created to identify the Flow resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^FW[0-9a-fA-F]{32}$
          type: string
        status:
          $ref: "#/components/schemas/flow_enum_status"
          description: "The status of the Flow. Can be: `draft` or `published`."
          nullable: true
          type: string
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          type: string
        version:
          description: The latest version number of the Flow's definition.
          nullable: true
          type: integer
      type: object
    studio.v1.flow.engagement:
      properties:
        account_sid:
          description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Engagement resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        contact_channel_address:
          description: The phone number, SIP address or Client identifier that triggered this Engagement. Phone numbers are in E.164 format (+16175551212). SIP addresses are formatted as `name@company.com`. Client identifiers are formatted `client:name`.
          nullable: true
          type: string
        contact_sid:
          description: The SID of the Contact.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^FC[0-9a-fA-F]{32}$
          type: string
        context:
          description: The current state of the execution flow. As your flow executes, we save the state in a flow context. Your widgets can access the data in the flow context as variables, either in configuration fields or in text areas as variable substitution.
          nullable: true
        date_created:
          description: The date and time in GMT when the Engagement was created in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: The date and time in GMT when the Engagement was updated in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          format: date-time
          nullable: true
          type: string
        flow_sid:
          description: The SID of the Flow.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^FW[0-9a-fA-F]{32}$
          type: string
        links:
          description: The URLs of the Engagement's nested resources.
          format: uri-map
          nullable: true
          type: object
        sid:
          description: The unique string that we created to identify the Engagement resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^FN[0-9a-fA-F]{32}$
          type: string
        status:
          $ref: "#/components/schemas/engagement_enum_status"
          description: "The status of the Engagement. Can be: `active` or `ended`."
          nullable: true
          type: string
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          type: string
      type: object
    studio.v1.flow.engagement.engagement_context:
      properties:
        account_sid:
          description: The SID of the Account.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        context:
          description: As your flow executes, we save the state in what's called the Flow Context. Any data in the flow context can be accessed by your widgets as variables, either in configuration fields or in text areas as variable substitution.
          nullable: true
        engagement_sid:
          description: The SID of the Engagement.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^FN[0-9a-fA-F]{32}$
          type: string
        flow_sid:
          description: The SID of the Flow.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^FW[0-9a-fA-F]{32}$
          type: string
        url:
          description: The URL of the resource.
          format: uri
          nullable: true
          type: string
      type: object
    studio.v1.flow.engagement.step:
      properties:
        account_sid:
          description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Step resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        context:
          description: The current state of the Flow's Execution. As a flow executes, we save its state in this context. We save data that your widgets can access as variables in configuration fields or in text areas as variable substitution.
          nullable: true
        date_created:
          description: The date and time in GMT when the resource was created specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: The date and time in GMT when the resource was last updated specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          format: date-time
          nullable: true
          type: string
        engagement_sid:
          description: The SID of the Engagement.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^FN[0-9a-fA-F]{32}$
          type: string
        flow_sid:
          description: The SID of the Flow.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^FW[0-9a-fA-F]{32}$
          type: string
        links:
          description: The URLs of related resources.
          format: uri-map
          nullable: true
          type: object
        name:
          description: The event that caused the Flow to transition to the Step.
          nullable: true
          type: string
        sid:
          description: The unique string that we created to identify the Step resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^FT[0-9a-fA-F]{32}$
          type: string
        transitioned_from:
          description: The Widget that preceded the Widget for the Step.
          nullable: true
          type: string
        transitioned_to:
          description: The Widget that will follow the Widget for the Step.
          nullable: true
          type: string
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          type: string
      type: object
    studio.v1.flow.engagement.step.step_context:
      properties:
        account_sid:
          description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the StepContext resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        context:
          description: The current state of the Flow's Execution. As a flow executes, we save its state in this context. We save data that your widgets can access as variables in configuration fields or in text areas as variable substitution.
          nullable: true
        engagement_sid:
          description: The SID of the Engagement.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^FN[0-9a-fA-F]{32}$
          type: string
        flow_sid:
          description: The SID of the Flow.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^FW[0-9a-fA-F]{32}$
          type: string
        step_sid:
          description: The SID of the Step the context is associated with.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^FT[0-9a-fA-F]{32}$
          type: string
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          type: string
      type: object
    studio.v1.flow.execution:
      properties:
        account_sid:
          description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Execution resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        contact_channel_address:
          description: The phone number, SIP address or Client identifier that triggered the Execution. Phone numbers are in E.164 format (e.g. +16175551212). SIP addresses are formatted as `name@company.com`. Client identifiers are formatted `client:name`.
          nullable: true
          type: string
        contact_sid:
          description: The SID of the Contact.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^FC[0-9a-fA-F]{32}$
          type: string
        context:
          description: The current state of the Flow's Execution. As a flow executes, we save its state in this context. We save data that your widgets can access as variables in configuration fields or in text areas as variable substitution.
          nullable: true
        date_created:
          description: The date and time in GMT when the resource was created specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: The date and time in GMT when the resource was last updated specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          format: date-time
          nullable: true
          type: string
        flow_sid:
          description: The SID of the Flow.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^FW[0-9a-fA-F]{32}$
          type: string
        links:
          description: The URLs of nested resources.
          format: uri-map
          nullable: true
          type: object
        sid:
          description: The unique string that we created to identify the Execution resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^FN[0-9a-fA-F]{32}$
          type: string
        status:
          $ref: "#/components/schemas/execution_enum_status"
          description: "The status of the Execution. Can be: `active` or `ended`."
          nullable: true
          type: string
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          type: string
      type: object
    studio.v1.flow.execution.execution_context:
      properties:
        account_sid:
          description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the ExecutionContext resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        context:
          description: The current state of the Flow's Execution. As a flow executes, we save its state in this context. We save data that your widgets can access as variables in configuration fields or in text areas as variable substitution.
          nullable: true
        execution_sid:
          description: The SID of the context's Execution resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^FN[0-9a-fA-F]{32}$
          type: string
        flow_sid:
          description: The SID of the Flow.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^FW[0-9a-fA-F]{32}$
          type: string
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          type: string
      type: object
    studio.v1.flow.execution.execution_step:
      properties:
        account_sid:
          description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the ExecutionStep resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        context:
          description: The current state of the Flow's Execution. As a flow executes, we save its state in this context. We save data that your widgets can access as variables in configuration fields or in text areas as variable substitution.
          nullable: true
        date_created:
          description: The date and time in GMT when the resource was created specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: The date and time in GMT when the resource was last updated specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          format: date-time
          nullable: true
          type: string
        execution_sid:
          description: The SID of the Step's Execution resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^FN[0-9a-fA-F]{32}$
          type: string
        flow_sid:
          description: The SID of the Flow.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^FW[0-9a-fA-F]{32}$
          type: string
        links:
          description: The URLs of related resources.
          format: uri-map
          nullable: true
          type: object
        name:
          description: The event that caused the Flow to transition to the Step.
          nullable: true
          type: string
        sid:
          description: The unique string that we created to identify the ExecutionStep resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^FT[0-9a-fA-F]{32}$
          type: string
        transitioned_from:
          description: The Widget that preceded the Widget for the Step.
          nullable: true
          type: string
        transitioned_to:
          description: The Widget that will follow the Widget for the Step.
          nullable: true
          type: string
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          type: string
      type: object
    studio.v1.flow.execution.execution_step.execution_step_context:
      properties:
        account_sid:
          description: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the ExecutionStepContext resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        context:
          description: The current state of the Flow's Execution. As a flow executes, we save its state in this context. We save data that your widgets can access as variables in configuration fields or in text areas as variable substitution.
          nullable: true
        execution_sid:
          description: The SID of the context's Execution resource.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^FN[0-9a-fA-F]{32}$
          type: string
        flow_sid:
          description: The SID of the Flow.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^FW[0-9a-fA-F]{32}$
          type: string
        step_sid:
          description: The SID of the Step that the context is associated with.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^FT[0-9a-fA-F]{32}$
          type: string
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          type: string
      type: object
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
x-maturity:
  - description: This product is Generally Available.
    name: GA
