openapi: 3.0.0
servers:
  - url: 'http://sts.amazonaws.com/'
info:
  version: '2011-06-15'
  x-release: v4
  title: AWS Security Token Service
  description: '<fullname>AWS Security Token Service</fullname> <p>The AWS Security Token Service (STS) is a web service that enables you to request temporary, limited-privilege credentials for AWS Identity and Access Management (IAM) users or for users that you authenticate (federated users). This guide provides descriptions of the STS API. For more detailed information about using this service, go to <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp.html">Temporary Security Credentials</a>. </p> <note> <p> As an alternative to using the API, you can use one of the AWS SDKs, which consist of libraries and sample code for various programming languages and platforms (Java, Ruby, .NET, iOS, Android, etc.). The SDKs provide a convenient way to create programmatic access to STS. For example, the SDKs take care of cryptographically signing requests, managing errors, and retrying requests automatically. For information about the AWS SDKs, including how to download and install them, see the <a href="http://aws.amazon.com/tools/">Tools for Amazon Web Services page</a>. </p> </note> <p>For information about setting up signatures and authorization through the API, go to <a href="http://docs.aws.amazon.com/general/latest/gr/signing_aws_api_requests.html">Signing AWS API Requests</a> in the <i>AWS General Reference</i>. For general information about the Query API, go to <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/IAM_UsingQueryAPI.html">Making Query Requests</a> in <i>Using IAM</i>. For information about using security tokens with other AWS products, go to <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/reference_aws-services-that-work-with-iam.html">AWS Services That Work with IAM</a> in the <i>IAM User Guide</i>. </p> <p>If you''re new to AWS and need additional technical information about a specific AWS product, you can find the product''s technical documentation at <a href="http://aws.amazon.com/documentation/">http://aws.amazon.com/documentation/</a>. </p> <p> <b>Endpoints</b> </p> <p>The AWS Security Token Service (STS) has a default endpoint of https://sts.amazonaws.com that maps to the US East (N. Virginia) region. Additional regions are available and are activated by default. For more information, see <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_enable-regions.html">Activating and Deactivating AWS STS in an AWS Region</a> in the <i>IAM User Guide</i>.</p> <p>For information about STS endpoints, see <a href="http://docs.aws.amazon.com/general/latest/gr/rande.html#sts_region">Regions and Endpoints</a> in the <i>AWS General Reference</i>.</p> <p> <b>Recording API requests</b> </p> <p>STS supports AWS CloudTrail, which is a service that records AWS calls for your AWS account and delivers log files to an Amazon S3 bucket. By using information collected by CloudTrail, you can determine what requests were successfully made to STS, who made the request, when it was made, and so on. To learn more about CloudTrail, including how to turn it on and find your log files, see the <a href="http://docs.aws.amazon.com/awscloudtrail/latest/userguide/what_is_cloud_trail_top_level.html">AWS CloudTrail User Guide</a>.</p>'
  x-logo:
    url: 'https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: sts
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/sts-2011-06-15.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/sts/'
x-hasEquivalentPaths: true
security:
  - hmac: []
paths:
  /:
    post:
      operationId: AssumeRole
      description: '<p>Returns a set of temporary security credentials (consisting of an access key ID, a secret access key, and a security token) that you can use to access AWS resources that you might not normally have access to. Typically, you use <code>AssumeRole</code> for cross-account access or federation. For a comparison of <code>AssumeRole</code> with the other APIs that produce temporary credentials, see <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_request.html">Requesting Temporary Security Credentials</a> and <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_request.html#stsapi_comparison">Comparing the AWS STS APIs</a> in the <i>IAM User Guide</i>.</p> <p> <b>Important:</b> You cannot call <code>AssumeRole</code> by using AWS root account credentials; access is denied. You must use credentials for an IAM user or an IAM role to call <code>AssumeRole</code>. </p> <p>For cross-account access, imagine that you own multiple accounts and need to access resources in each account. You could create long-term credentials in each account to access those resources. However, managing all those credentials and remembering which one can access which account can be time consuming. Instead, you can create one set of long-term credentials in one account and then use temporary security credentials to access all the other accounts by assuming roles in those accounts. For more information about roles, see <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/roles-toplevel.html">IAM Roles (Delegation and Federation)</a> in the <i>IAM User Guide</i>. </p> <p>For federation, you can, for example, grant single sign-on access to the AWS Management Console. If you already have an identity and authentication system in your corporate network, you don''t have to recreate user identities in AWS in order to grant those user identities access to AWS. Instead, after a user has been authenticated, you call <code>AssumeRole</code> (and specify the role with the appropriate permissions) to get temporary security credentials for that user. With those temporary security credentials, you construct a sign-in URL that users can use to access the console. For more information, see <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp.html#sts-introduction">Common Scenarios for Temporary Credentials</a> in the <i>IAM User Guide</i>.</p> <p>The temporary security credentials are valid for the duration that you specified when calling <code>AssumeRole</code>, which can be from 900 seconds (15 minutes) to a maximum of 3600 seconds (1 hour). The default is 1 hour. </p> <p>The temporary security credentials created by <code>AssumeRole</code> can be used to make API calls to any AWS service with the following exception: you cannot call the STS service''s <code>GetFederationToken</code> or <code>GetSessionToken</code> APIs.</p> <p>Optionally, you can pass an IAM access policy to this operation. If you choose not to pass a policy, the temporary security credentials that are returned by the operation have the permissions that are defined in the access policy of the role that is being assumed. If you pass a policy to this operation, the temporary security credentials that are returned by the operation have the permissions that are allowed by both the access policy of the role that is being assumed, <i> <b>and</b> </i> the policy that you pass. This gives you a way to further restrict the permissions for the resulting temporary security credentials. You cannot use the passed policy to grant permissions that are in excess of those allowed by the access policy of the role that is being assumed. For more information, see <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_control-access_assumerole.html">Permissions for AssumeRole, AssumeRoleWithSAML, and AssumeRoleWithWebIdentity</a> in the <i>IAM User Guide</i>.</p> <p>To assume a role, your AWS account must be trusted by the role. The trust relationship is defined in the role''s trust policy when the role is created. That trust policy states which accounts are allowed to delegate access to this account''s role.</p> <p>The user who wants to access the role must also have permissions delegated from the role''s administrator. If the user is in a different account than the role, then the user''s administrator must attach a policy that allows the user to call AssumeRole on the ARN of the role in the other account. If the user is in the same account as the role, then you can either attach a policy to the user (identical to the previous different account user), or you can add the user as a principal directly in the role''s trust policy</p> <p> <b>Using MFA with AssumeRole</b> </p> <p>You can optionally include multi-factor authentication (MFA) information when you call <code>AssumeRole</code>. This is useful for cross-account scenarios in which you want to make sure that the user who is assuming the role has been authenticated using an AWS MFA device. In that scenario, the trust policy of the role being assumed includes a condition that tests for MFA authentication; if the caller does not include valid MFA information, the request to assume the role is denied. The condition in a trust policy that tests for MFA authentication might look like the following example.</p> <p> <code>"Condition": {"Bool": {"aws:MultiFactorAuthPresent": true}}</code> </p> <p>For more information, see <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/MFAProtectedAPI.html">Configuring MFA-Protected API Access</a> in the <i>IAM User Guide</i> guide.</p> <p>To use MFA with <code>AssumeRole</code>, you pass values for the <code>SerialNumber</code> and <code>TokenCode</code> parameters. The <code>SerialNumber</code> value identifies the user''s hardware or virtual MFA device. The <code>TokenCode</code> is the time-based one-time password (TOTP) that the MFA devices produces. </p>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AssumeRoleResponse'
        '480':
          description: MalformedPolicyDocumentException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MalformedPolicyDocumentException'
        '481':
          description: PackedPolicyTooLargeException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PackedPolicyTooLargeException'
        '482':
          description: RegionDisabledException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RegionDisabledException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssumeRoleRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#AssumeRoleWithSAML':
    post:
      operationId: AssumeRoleWithSAML
      description: '<p>Returns a set of temporary security credentials for users who have been authenticated via a SAML authentication response. This operation provides a mechanism for tying an enterprise identity store or directory to role-based AWS access without user-specific credentials or configuration. For a comparison of <code>AssumeRoleWithSAML</code> with the other APIs that produce temporary credentials, see <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_request.html">Requesting Temporary Security Credentials</a> and <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_request.html#stsapi_comparison">Comparing the AWS STS APIs</a> in the <i>IAM User Guide</i>.</p> <p>The temporary security credentials returned by this operation consist of an access key ID, a secret access key, and a security token. Applications can use these temporary security credentials to sign calls to AWS services.</p> <p>The temporary security credentials are valid for the duration that you specified when calling <code>AssumeRole</code>, or until the time specified in the SAML authentication response''s <code>SessionNotOnOrAfter</code> value, whichever is shorter. The duration can be from 900 seconds (15 minutes) to a maximum of 3600 seconds (1 hour). The default is 1 hour.</p> <p>The temporary security credentials created by <code>AssumeRoleWithSAML</code> can be used to make API calls to any AWS service with the following exception: you cannot call the STS service''s <code>GetFederationToken</code> or <code>GetSessionToken</code> APIs.</p> <p>Optionally, you can pass an IAM access policy to this operation. If you choose not to pass a policy, the temporary security credentials that are returned by the operation have the permissions that are defined in the access policy of the role that is being assumed. If you pass a policy to this operation, the temporary security credentials that are returned by the operation have the permissions that are allowed by the intersection of both the access policy of the role that is being assumed, <i> <b>and</b> </i> the policy that you pass. This means that both policies must grant the permission for the action to be allowed. This gives you a way to further restrict the permissions for the resulting temporary security credentials. You cannot use the passed policy to grant permissions that are in excess of those allowed by the access policy of the role that is being assumed. For more information, see <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_control-access_assumerole.html">Permissions for AssumeRole, AssumeRoleWithSAML, and AssumeRoleWithWebIdentity</a> in the <i>IAM User Guide</i>.</p> <p>Before your application can call <code>AssumeRoleWithSAML</code>, you must configure your SAML identity provider (IdP) to issue the claims required by AWS. Additionally, you must use AWS Identity and Access Management (IAM) to create a SAML provider entity in your AWS account that represents your identity provider, and create an IAM role that specifies this SAML provider in its trust policy. </p> <p>Calling <code>AssumeRoleWithSAML</code> does not require the use of AWS security credentials. The identity of the caller is validated by using keys in the metadata document that is uploaded for the SAML provider entity for your identity provider. </p> <important> <p>Calling <code>AssumeRoleWithSAML</code> can result in an entry in your AWS CloudTrail logs. The entry includes the value in the <code>NameID</code> element of the SAML assertion. We recommend that you use a NameIDType that is not associated with any personally identifiable information (PII). For example, you could instead use the Persistent Identifier (<code>urn:oasis:names:tc:SAML:2.0:nameid-format:persistent</code>).</p> </important> <p>For more information, see the following resources:</p> <ul> <li> <p> <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_providers_saml.html">About SAML 2.0-based Federation</a> in the <i>IAM User Guide</i>. </p> </li> <li> <p> <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_providers_create_saml.html">Creating SAML Identity Providers</a> in the <i>IAM User Guide</i>. </p> </li> <li> <p> <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_providers_create_saml_relying-party.html">Configuring a Relying Party and Claims</a> in the <i>IAM User Guide</i>. </p> </li> <li> <p> <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_create_for-idp_saml.html">Creating a Role for SAML 2.0 Federation</a> in the <i>IAM User Guide</i>. </p> </li> </ul>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AssumeRoleWithSAMLResponse'
        '480':
          description: MalformedPolicyDocumentException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MalformedPolicyDocumentException'
        '481':
          description: PackedPolicyTooLargeException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PackedPolicyTooLargeException'
        '482':
          description: IDPRejectedClaimException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/IDPRejectedClaimException'
        '483':
          description: InvalidIdentityTokenException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidIdentityTokenException'
        '484':
          description: ExpiredTokenException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExpiredTokenException'
        '485':
          description: RegionDisabledException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RegionDisabledException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssumeRoleWithSAMLRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#AssumeRoleWithWebIdentity':
    post:
      operationId: AssumeRoleWithWebIdentity
      description: '<p>Returns a set of temporary security credentials for users who have been authenticated in a mobile or web application with a web identity provider, such as Amazon Cognito, Login with Amazon, Facebook, Google, or any OpenID Connect-compatible identity provider.</p> <note> <p>For mobile applications, we recommend that you use Amazon Cognito. You can use Amazon Cognito with the <a href="http://aws.amazon.com/sdkforios/">AWS SDK for iOS</a> and the <a href="http://aws.amazon.com/sdkforandroid/">AWS SDK for Android</a> to uniquely identify a user and supply the user with a consistent identity throughout the lifetime of an application.</p> <p>To learn more about Amazon Cognito, see <a href="http://docs.aws.amazon.com/mobile/sdkforandroid/developerguide/cognito-auth.html#d0e840">Amazon Cognito Overview</a> in the <i>AWS SDK for Android Developer Guide</i> guide and <a href="http://docs.aws.amazon.com/mobile/sdkforios/developerguide/cognito-auth.html#d0e664">Amazon Cognito Overview</a> in the <i>AWS SDK for iOS Developer Guide</i>.</p> </note> <p>Calling <code>AssumeRoleWithWebIdentity</code> does not require the use of AWS security credentials. Therefore, you can distribute an application (for example, on mobile devices) that requests temporary security credentials without including long-term AWS credentials in the application, and without deploying server-based proxy services that use long-term AWS credentials. Instead, the identity of the caller is validated by using a token from the web identity provider. For a comparison of <code>AssumeRoleWithWebIdentity</code> with the other APIs that produce temporary credentials, see <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_request.html">Requesting Temporary Security Credentials</a> and <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_request.html#stsapi_comparison">Comparing the AWS STS APIs</a> in the <i>IAM User Guide</i>.</p> <p>The temporary security credentials returned by this API consist of an access key ID, a secret access key, and a security token. Applications can use these temporary security credentials to sign calls to AWS service APIs.</p> <p>The credentials are valid for the duration that you specified when calling <code>AssumeRoleWithWebIdentity</code>, which can be from 900 seconds (15 minutes) to a maximum of 3600 seconds (1 hour). The default is 1 hour. </p> <p>The temporary security credentials created by <code>AssumeRoleWithWebIdentity</code> can be used to make API calls to any AWS service with the following exception: you cannot call the STS service''s <code>GetFederationToken</code> or <code>GetSessionToken</code> APIs.</p> <p>Optionally, you can pass an IAM access policy to this operation. If you choose not to pass a policy, the temporary security credentials that are returned by the operation have the permissions that are defined in the access policy of the role that is being assumed. If you pass a policy to this operation, the temporary security credentials that are returned by the operation have the permissions that are allowed by both the access policy of the role that is being assumed, <i> <b>and</b> </i> the policy that you pass. This gives you a way to further restrict the permissions for the resulting temporary security credentials. You cannot use the passed policy to grant permissions that are in excess of those allowed by the access policy of the role that is being assumed. For more information, see <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_control-access_assumerole.html">Permissions for AssumeRole, AssumeRoleWithSAML, and AssumeRoleWithWebIdentity</a> in the <i>IAM User Guide</i>.</p> <p>Before your application can call <code>AssumeRoleWithWebIdentity</code>, you must have an identity token from a supported identity provider and create a role that the application can assume. The role that your application assumes must trust the identity provider that is associated with the identity token. In other words, the identity provider must be specified in the role''s trust policy. </p> <important> <p>Calling <code>AssumeRoleWithWebIdentity</code> can result in an entry in your AWS CloudTrail logs. The entry includes the <a href="http://openid.net/specs/openid-connect-core-1_0.html#Claims">Subject</a> of the provided Web Identity Token. We recommend that you avoid using any personally identifiable information (PII) in this field. For example, you could instead use a GUID or a pairwise identifier, as <a href="http://openid.net/specs/openid-connect-core-1_0.html#SubjectIDTypes">suggested in the OIDC specification</a>.</p> </important> <p>For more information about how to use web identity federation and the <code>AssumeRoleWithWebIdentity</code> API, see the following resources: </p> <ul> <li> <p> <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_providers_oidc_manual.html">Using Web Identity Federation APIs for Mobile Apps</a> and <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_request.html#api_assumerolewithwebidentity">Federation Through a Web-based Identity Provider</a>. </p> </li> <li> <p> <a href="https://web-identity-federation-playground.s3.amazonaws.com/index.html"> Web Identity Federation Playground</a>. This interactive website lets you walk through the process of authenticating via Login with Amazon, Facebook, or Google, getting temporary security credentials, and then using those credentials to make a request to AWS. </p> </li> <li> <p> <a href="http://aws.amazon.com/sdkforios/">AWS SDK for iOS</a> and <a href="http://aws.amazon.com/sdkforandroid/">AWS SDK for Android</a>. These toolkits contain sample apps that show how to invoke the identity providers, and then how to use the information from these providers to get and use temporary security credentials. </p> </li> <li> <p> <a href="http://aws.amazon.com/articles/4617974389850313">Web Identity Federation with Mobile Applications</a>. This article discusses web identity federation and shows an example of how to use web identity federation to get access to content in Amazon S3. </p> </li> </ul>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AssumeRoleWithWebIdentityResponse'
        '480':
          description: MalformedPolicyDocumentException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MalformedPolicyDocumentException'
        '481':
          description: PackedPolicyTooLargeException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PackedPolicyTooLargeException'
        '482':
          description: IDPRejectedClaimException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/IDPRejectedClaimException'
        '483':
          description: IDPCommunicationErrorException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/IDPCommunicationErrorException'
        '484':
          description: InvalidIdentityTokenException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidIdentityTokenException'
        '485':
          description: ExpiredTokenException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExpiredTokenException'
        '486':
          description: RegionDisabledException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RegionDisabledException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssumeRoleWithWebIdentityRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DecodeAuthorizationMessage':
    post:
      operationId: DecodeAuthorizationMessage
      description: '<p>Decodes additional information about the authorization status of a request from an encoded message returned in response to an AWS request.</p> <p>For example, if a user is not authorized to perform an action that he or she has requested, the request returns a <code>Client.UnauthorizedOperation</code> response (an HTTP 403 response). Some AWS actions additionally return an encoded message that can provide details about this authorization failure. </p> <note> <p>Only certain AWS actions return an encoded authorization message. The documentation for an individual action indicates whether that action returns an encoded message in addition to returning an HTTP code.</p> </note> <p>The message is encoded because the details of the authorization status can constitute privileged information that the user who requested the action should not see. To decode an authorization status message, a user must be granted permissions via an IAM policy to request the <code>DecodeAuthorizationMessage</code> (<code>sts:DecodeAuthorizationMessage</code>) action. </p> <p>The decoded message includes the following type of information:</p> <ul> <li> <p>Whether the request was denied due to an explicit deny or due to the absence of an explicit allow. For more information, see <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_evaluation-logic.html#policy-eval-denyallow">Determining Whether a Request is Allowed or Denied</a> in the <i>IAM User Guide</i>. </p> </li> <li> <p>The principal who made the request.</p> </li> <li> <p>The requested action.</p> </li> <li> <p>The requested resource.</p> </li> <li> <p>The values of condition keys in the context of the user''s request.</p> </li> </ul>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DecodeAuthorizationMessageResponse'
        '480':
          description: InvalidAuthorizationMessageException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidAuthorizationMessageException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DecodeAuthorizationMessageRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#GetCallerIdentity':
    post:
      operationId: GetCallerIdentity
      description: Returns details about the IAM identity whose credentials are used to call the API.
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GetCallerIdentityResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetCallerIdentityRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#GetFederationToken':
    post:
      operationId: GetFederationToken
      description: '<p>Returns a set of temporary security credentials (consisting of an access key ID, a secret access key, and a security token) for a federated user. A typical use is in a proxy application that gets temporary security credentials on behalf of distributed applications inside a corporate network. Because you must call the <code>GetFederationToken</code> action using the long-term security credentials of an IAM user, this call is appropriate in contexts where those credentials can be safely stored, usually in a server-based application. For a comparison of <code>GetFederationToken</code> with the other APIs that produce temporary credentials, see <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_request.html">Requesting Temporary Security Credentials</a> and <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_request.html#stsapi_comparison">Comparing the AWS STS APIs</a> in the <i>IAM User Guide</i>.</p> <note> <p>If you are creating a mobile-based or browser-based app that can authenticate users using a web identity provider like Login with Amazon, Facebook, Google, or an OpenID Connect-compatible identity provider, we recommend that you use <a href="http://aws.amazon.com/cognito/">Amazon Cognito</a> or <code>AssumeRoleWithWebIdentity</code>. For more information, see <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_request.html#api_assumerolewithwebidentity">Federation Through a Web-based Identity Provider</a>.</p> </note> <p>The <code>GetFederationToken</code> action must be called by using the long-term AWS security credentials of an IAM user. You can also call <code>GetFederationToken</code> using the security credentials of an AWS root account, but we do not recommended it. Instead, we recommend that you create an IAM user for the purpose of the proxy application and then attach a policy to the IAM user that limits federated users to only the actions and resources that they need access to. For more information, see <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/best-practices.html">IAM Best Practices</a> in the <i>IAM User Guide</i>. </p> <p>The temporary security credentials that are obtained by using the long-term credentials of an IAM user are valid for the specified duration, from 900 seconds (15 minutes) up to a maximium of 129600 seconds (36 hours). The default is 43200 seconds (12 hours). Temporary credentials that are obtained by using AWS root account credentials have a maximum duration of 3600 seconds (1 hour).</p> <p>The temporary security credentials created by <code>GetFederationToken</code> can be used to make API calls to any AWS service with the following exceptions:</p> <ul> <li> <p>You cannot use these credentials to call any IAM APIs.</p> </li> <li> <p>You cannot call any STS APIs except <code>GetCallerIdentity</code>.</p> </li> </ul> <p> <b>Permissions</b> </p> <p>The permissions for the temporary security credentials returned by <code>GetFederationToken</code> are determined by a combination of the following: </p> <ul> <li> <p>The policy or policies that are attached to the IAM user whose credentials are used to call <code>GetFederationToken</code>.</p> </li> <li> <p>The policy that is passed as a parameter in the call.</p> </li> </ul> <p>The passed policy is attached to the temporary security credentials that result from the <code>GetFederationToken</code> API call--that is, to the <i>federated user</i>. When the federated user makes an AWS request, AWS evaluates the policy attached to the federated user in combination with the policy or policies attached to the IAM user whose credentials were used to call <code>GetFederationToken</code>. AWS allows the federated user''s request only when both the federated user <i> <b>and</b> </i> the IAM user are explicitly allowed to perform the requested action. The passed policy cannot grant more permissions than those that are defined in the IAM user policy.</p> <p>A typical use case is that the permissions of the IAM user whose credentials are used to call <code>GetFederationToken</code> are designed to allow access to all the actions and resources that any federated user will need. Then, for individual users, you pass a policy to the operation that scopes down the permissions to a level that''s appropriate to that individual user, using a policy that allows only a subset of permissions that are granted to the IAM user. </p> <p>If you do not pass a policy, the resulting temporary security credentials have no effective permissions. The only exception is when the temporary security credentials are used to access a resource that has a resource-based policy that specifically allows the federated user to access the resource.</p> <p>For more information about how permissions work, see <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_control-access_getfederationtoken.html">Permissions for GetFederationToken</a>. For information about using <code>GetFederationToken</code> to create temporary security credentials, see <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_request.html#api_getfederationtoken">GetFederationToken—Federation Through a Custom Identity Broker</a>. </p>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GetFederationTokenResponse'
        '480':
          description: MalformedPolicyDocumentException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MalformedPolicyDocumentException'
        '481':
          description: PackedPolicyTooLargeException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PackedPolicyTooLargeException'
        '482':
          description: RegionDisabledException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RegionDisabledException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetFederationTokenRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#GetSessionToken':
    post:
      operationId: GetSessionToken
      description: '<p>Returns a set of temporary credentials for an AWS account or IAM user. The credentials consist of an access key ID, a secret access key, and a security token. Typically, you use <code>GetSessionToken</code> if you want to use MFA to protect programmatic calls to specific AWS APIs like Amazon EC2 <code>StopInstances</code>. MFA-enabled IAM users would need to call <code>GetSessionToken</code> and submit an MFA code that is associated with their MFA device. Using the temporary security credentials that are returned from the call, IAM users can then make programmatic calls to APIs that require MFA authentication. If you do not supply a correct MFA code, then the API returns an access denied error. For a comparison of <code>GetSessionToken</code> with the other APIs that produce temporary credentials, see <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_request.html">Requesting Temporary Security Credentials</a> and <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_request.html#stsapi_comparison">Comparing the AWS STS APIs</a> in the <i>IAM User Guide</i>.</p> <p>The <code>GetSessionToken</code> action must be called by using the long-term AWS security credentials of the AWS account or an IAM user. Credentials that are created by IAM users are valid for the duration that you specify, from 900 seconds (15 minutes) up to a maximum of 129600 seconds (36 hours), with a default of 43200 seconds (12 hours); credentials that are created by using account credentials can range from 900 seconds (15 minutes) up to a maximum of 3600 seconds (1 hour), with a default of 1 hour. </p> <p>The temporary security credentials created by <code>GetSessionToken</code> can be used to make API calls to any AWS service with the following exceptions:</p> <ul> <li> <p>You cannot call any IAM APIs unless MFA authentication information is included in the request.</p> </li> <li> <p>You cannot call any STS API <i>except</i> <code>AssumeRole</code> or <code>GetCallerIdentity</code>.</p> </li> </ul> <note> <p>We recommend that you do not call <code>GetSessionToken</code> with root account credentials. Instead, follow our <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/best-practices.html#create-iam-users">best practices</a> by creating one or more IAM users, giving them the necessary permissions, and using IAM users for everyday interaction with AWS. </p> </note> <p>The permissions associated with the temporary security credentials returned by <code>GetSessionToken</code> are based on the permissions associated with account or IAM user whose credentials are used to call the action. If <code>GetSessionToken</code> is called using root account credentials, the temporary credentials have root account permissions. Similarly, if <code>GetSessionToken</code> is called using the credentials of an IAM user, the temporary credentials have the same permissions as the IAM user. </p> <p>For more information about using <code>GetSessionToken</code> to create temporary credentials, go to <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_request.html#api_getsessiontoken">Temporary Credentials for Users in Untrusted Environments</a> in the <i>IAM User Guide</i>. </p>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GetSessionTokenResponse'
        '480':
          description: RegionDisabledException
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RegionDisabledException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetSessionTokenRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
components:
  schemas:
    AssumeRoleRequest:
      type: object
      required:
        - RoleArn
        - RoleSessionName
      example:
        DurationSeconds: 3600
        ExternalId: 123ABC
        Policy: '{"Version":"2012-10-17","Statement":[{"Sid":"Stmt1","Effect":"Allow","Action":"s3:*","Resource":"*"}]}'
        RoleArn: 'arn:aws:iam::123456789012:role/demo'
        RoleSessionName: Bob
      properties:
        RoleArn:
          $ref: '#/components/schemas/arnType'
        RoleSessionName:
          $ref: '#/components/schemas/roleSessionNameType'
        Policy:
          $ref: '#/components/schemas/sessionPolicyDocumentType'
        DurationSeconds:
          $ref: '#/components/schemas/roleDurationSecondsType'
        ExternalId:
          $ref: '#/components/schemas/externalIdType'
        SerialNumber:
          $ref: '#/components/schemas/serialNumberType'
        TokenCode:
          $ref: '#/components/schemas/tokenCodeType'
    AssumeRoleResponse:
      type: object
      example:
        AssumedRoleUser:
          Arn: 'arn:aws:sts::123456789012:assumed-role/demo/Bob'
          AssumedRoleId: 'ARO123EXAMPLE123:Bob'
        Credentials:
          AccessKeyId: AKIAIOSFODNN7EXAMPLE
          Expiration: '2011-07-15T23:28:33.359Z'
          SecretAccessKey: wJalrXUtnFEMI/K7MDENG/bPxRfiCYzEXAMPLEKEY
          SessionToken: AQoDYXdzEPT//////////wEXAMPLEtc764bNrC9SAPBSM22wDOk4x4HIZ8j4FZTwdQWLWsKWHGBuFqwAeMicRXmxfpSPfIeoIYRqTflfKD8YUuwthAx7mSEI/qkPpKPi/kMcGdQrmGdeehM4IC1NtBmUpp2wUE8phUZampKsburEDy0KPkyQDYwT7WZ0wq5VSXDvp75YU9HFvlRd8Tx6q6fE8YQcHNVXAkiY9q6d+xo0rKwT38xVqr7ZD0u0iPPkUL64lIZbqBAz+scqKmlzm8FDrypNC9Yjc8fPOLn9FX9KSYvKTr4rvx3iSIlTJabIQwj2ICCR/oLxBA==
        PackedPolicySize: 6
      properties:
        Credentials:
          $ref: '#/components/schemas/Credentials'
        AssumedRoleUser:
          $ref: '#/components/schemas/AssumedRoleUser'
        PackedPolicySize:
          $ref: '#/components/schemas/nonNegativeIntegerType'
      description: 'Contains the response to a successful <a>AssumeRole</a> request, including temporary AWS credentials that can be used to make AWS requests. '
    AssumeRoleWithSAMLRequest:
      type: object
      required:
        - RoleArn
        - PrincipalArn
        - SAMLAssertion
      properties:
        RoleArn:
          $ref: '#/components/schemas/arnType'
        PrincipalArn:
          $ref: '#/components/schemas/arnType'
        SAMLAssertion:
          $ref: '#/components/schemas/SAMLAssertionType'
        Policy:
          $ref: '#/components/schemas/sessionPolicyDocumentType'
        DurationSeconds:
          $ref: '#/components/schemas/roleDurationSecondsType'
    AssumeRoleWithSAMLResponse:
      type: object
      properties:
        Credentials:
          $ref: '#/components/schemas/Credentials'
        AssumedRoleUser:
          $ref: '#/components/schemas/AssumedRoleUser'
        PackedPolicySize:
          $ref: '#/components/schemas/nonNegativeIntegerType'
        Subject:
          $ref: '#/components/schemas/Subject'
        SubjectType:
          $ref: '#/components/schemas/SubjectType'
        Issuer:
          $ref: '#/components/schemas/Issuer'
        Audience:
          $ref: '#/components/schemas/Audience'
        NameQualifier:
          $ref: '#/components/schemas/NameQualifier'
      description: 'Contains the response to a successful <a>AssumeRoleWithSAML</a> request, including temporary AWS credentials that can be used to make AWS requests. '
    AssumeRoleWithWebIdentityRequest:
      type: object
      required:
        - RoleArn
        - RoleSessionName
        - WebIdentityToken
      example:
        DurationSeconds: 3600
        ProviderId: www.amazon.com
        RoleArn: 'arn:aws:iam::123456789012:role/FederatedWebIdentityRole'
        RoleSessionName: app1
        WebIdentityToken: Atza%7CIQEBLjAsAhRFiXuWpUXuRvQ9PZL3GMFcYevydwIUFAHZwXZXXXXXXXXJnrulxKDHwy87oGKPznh0D6bEQZTSCzyoCtL_8S07pLpr0zMbn6w1lfVZKNTBdDansFBmtGnIsIapjI6xKR02Yc_2bQ8LZbUXSGm6Ry6_BG7PrtLZtj_dfCTj92xNGed-CrKqjG7nPBjNIL016GGvuS5gSvPRUxWES3VYfm1wl7WTI7jn-Pcb6M-buCgHhFOzTQxod27L9CqnOLio7N3gZAGpsp6n1-AJBOCJckcyXe2c6uD0srOJeZlKUm2eTDVMf8IehDVI0r1QOnTV6KzzAI3OY87Vd_cVMQ
      properties:
        RoleArn:
          $ref: '#/components/schemas/arnType'
        RoleSessionName:
          $ref: '#/components/schemas/roleSessionNameType'
        WebIdentityToken:
          $ref: '#/components/schemas/clientTokenType'
        ProviderId:
          $ref: '#/components/schemas/urlType'
        Policy:
          $ref: '#/components/schemas/sessionPolicyDocumentType'
        DurationSeconds:
          $ref: '#/components/schemas/roleDurationSecondsType'
    AssumeRoleWithWebIdentityResponse:
      type: object
      example:
        AssumedRoleUser:
          Arn: 'arn:aws:sts::123456789012:assumed-role/FederatedWebIdentityRole/app1'
          AssumedRoleId: 'AROACLKWSDQRAOEXAMPLE:app1'
        Audience: client.5498841531868486423.1548@apps.example.com
        Credentials:
          AccessKeyId: AKIAIOSFODNN7EXAMPLE
          Expiration: '2014-10-24T23:00:23Z'
          SecretAccessKey: wJalrXUtnFEMI/K7MDENG/bPxRfiCYzEXAMPLEKEY
          SessionToken: AQoDYXdzEE0a8ANXXXXXXXXNO1ewxE5TijQyp+IEXAMPLE
        PackedPolicySize: 123
        Provider: www.amazon.com
        SubjectFromWebIdentityToken: amzn1.account.AF6RHO7KZU5XRVQJGXK6HEXAMPLE
      properties:
        Credentials:
          $ref: '#/components/schemas/Credentials'
        SubjectFromWebIdentityToken:
          $ref: '#/components/schemas/webIdentitySubjectType'
        AssumedRoleUser:
          $ref: '#/components/schemas/AssumedRoleUser'
        PackedPolicySize:
          $ref: '#/components/schemas/nonNegativeIntegerType'
        Provider:
          $ref: '#/components/schemas/Issuer'
        Audience:
          $ref: '#/components/schemas/Audience'
      description: 'Contains the response to a successful <a>AssumeRoleWithWebIdentity</a> request, including temporary AWS credentials that can be used to make AWS requests. '
    AssumedRoleUser:
      type: object
      required:
        - AssumedRoleId
        - Arn
      properties:
        AssumedRoleId:
          $ref: '#/components/schemas/assumedRoleIdType'
        Arn:
          $ref: '#/components/schemas/arnType'
      description: The identifiers for the temporary security credentials that the operation returns.
    Audience:
      type: string
    Credentials:
      type: object
      required:
        - AccessKeyId
        - SecretAccessKey
        - SessionToken
        - Expiration
      properties:
        AccessKeyId:
          $ref: '#/components/schemas/accessKeyIdType'
        SecretAccessKey:
          $ref: '#/components/schemas/accessKeySecretType'
        SessionToken:
          $ref: '#/components/schemas/tokenType'
        Expiration:
          $ref: '#/components/schemas/dateType'
      description: AWS credentials for API authentication.
    DecodeAuthorizationMessageRequest:
      type: object
      required:
        - EncodedMessage
      example:
        EncodedMessage: <encoded-message>
      properties:
        EncodedMessage:
          $ref: '#/components/schemas/encodedMessageType'
    DecodeAuthorizationMessageResponse:
      type: object
      example:
        DecodedMessage: '{"allowed": "false","explicitDeny": "false","matchedStatements": "","failures": "","context": {"principal": {"id": "AIDACKCEVSQ6C2EXAMPLE","name": "Bob","arn": "arn:aws:iam::123456789012:user/Bob"},"action": "ec2:StopInstances","resource": "arn:aws:ec2:us-east-1:123456789012:instance/i-dd01c9bd","conditions": [{"item": {"key": "ec2:Tenancy","values": ["default"]},{"item": {"key": "ec2:ResourceTag/elasticbeanstalk:environment-name","values": ["Default-Environment"]}},(Additional items ...)]}}'
      properties:
        DecodedMessage:
          $ref: '#/components/schemas/decodedMessageType'
      description: A document that contains additional information about the authorization status of a request from an encoded message that is returned in response to an AWS request.
    ExpiredTokenException:
      type: object
      properties:
        message:
          $ref: '#/components/schemas/expiredIdentityTokenMessage'
      description: The web identity token that was passed is expired or is not valid. Get a new identity token from the identity provider and then retry the request.
    FederatedUser:
      type: object
      required:
        - FederatedUserId
        - Arn
      properties:
        FederatedUserId:
          $ref: '#/components/schemas/federatedIdType'
        Arn:
          $ref: '#/components/schemas/arnType'
      description: Identifiers for the federated user that is associated with the credentials.
    GetCallerIdentityRequest:
      type: object
      example: {}
      properties: {}
    GetCallerIdentityResponse:
      type: object
      example:
        Account: '123456789012'
        Arn: 'arn:aws:sts::123456789012:federated-user/my-federated-user-name'
        UserId: '123456789012:my-federated-user-name'
      properties:
        UserId:
          $ref: '#/components/schemas/userIdType'
        Account:
          $ref: '#/components/schemas/accountType'
        Arn:
          $ref: '#/components/schemas/arnType'
      description: 'Contains the response to a successful <a>GetCallerIdentity</a> request, including information about the entity making the request.'
    GetFederationTokenRequest:
      type: object
      required:
        - Name
      example:
        DurationSeconds: 3600
        Name: Bob
        Policy: '{"Version":"2012-10-17","Statement":[{"Sid":"Stmt1","Effect":"Allow","Action":"s3:*","Resource":"*"}]}'
      properties:
        Name:
          $ref: '#/components/schemas/userNameType'
        Policy:
          $ref: '#/components/schemas/sessionPolicyDocumentType'
        DurationSeconds:
          $ref: '#/components/schemas/durationSecondsType'
    GetFederationTokenResponse:
      type: object
      example:
        Credentials:
          AccessKeyId: AKIAIOSFODNN7EXAMPLE
          Expiration: '2011-07-15T23:28:33.359Z'
          SecretAccessKey: wJalrXUtnFEMI/K7MDENG/bPxRfiCYzEXAMPLEKEY
          SessionToken: AQoDYXdzEPT//////////wEXAMPLEtc764bNrC9SAPBSM22wDOk4x4HIZ8j4FZTwdQWLWsKWHGBuFqwAeMicRXmxfpSPfIeoIYRqTflfKD8YUuwthAx7mSEI/qkPpKPi/kMcGdQrmGdeehM4IC1NtBmUpp2wUE8phUZampKsburEDy0KPkyQDYwT7WZ0wq5VSXDvp75YU9HFvlRd8Tx6q6fE8YQcHNVXAkiY9q6d+xo0rKwT38xVqr7ZD0u0iPPkUL64lIZbqBAz+scqKmlzm8FDrypNC9Yjc8fPOLn9FX9KSYvKTr4rvx3iSIlTJabIQwj2ICCR/oLxBA==
        FederatedUser:
          Arn: 'arn:aws:sts::123456789012:federated-user/Bob'
          FederatedUserId: '123456789012:Bob'
        PackedPolicySize: 6
      properties:
        Credentials:
          $ref: '#/components/schemas/Credentials'
        FederatedUser:
          $ref: '#/components/schemas/FederatedUser'
        PackedPolicySize:
          $ref: '#/components/schemas/nonNegativeIntegerType'
      description: 'Contains the response to a successful <a>GetFederationToken</a> request, including temporary AWS credentials that can be used to make AWS requests. '
    GetSessionTokenRequest:
      type: object
      example:
        DurationSeconds: 3600
        SerialNumber: YourMFASerialNumber
        TokenCode: '123456'
      properties:
        DurationSeconds:
          $ref: '#/components/schemas/durationSecondsType'
        SerialNumber:
          $ref: '#/components/schemas/serialNumberType'
        TokenCode:
          $ref: '#/components/schemas/tokenCodeType'
    GetSessionTokenResponse:
      type: object
      example:
        Credentials:
          AccessKeyId: AKIAIOSFODNN7EXAMPLE
          Expiration: '2011-07-11T19:55:29.611Z'
          SecretAccessKey: wJalrXUtnFEMI/K7MDENG/bPxRfiCYzEXAMPLEKEY
          SessionToken: AQoEXAMPLEH4aoAH0gNCAPyJxz4BlCFFxWNE1OPTgk5TthT+FvwqnKwRcOIfrRh3c/LTo6UDdyJwOOvEVPvLXCrrrUtdnniCEXAMPLE/IvU1dYUg2RVAJBanLiHb4IgRmpRV3zrkuWJOgQs8IZZaIv2BXIa2R4OlgkBN9bkUDNCJiBeb/AXlzBBko7b15fjrBs2+cTQtpZ3CYWFXG8C5zqx37wnOE49mRl/+OtkIKGO7fAE
      properties:
        Credentials:
          $ref: '#/components/schemas/Credentials'
      description: 'Contains the response to a successful <a>GetSessionToken</a> request, including temporary AWS credentials that can be used to make AWS requests. '
    IDPCommunicationErrorException:
      type: object
      properties:
        message:
          $ref: '#/components/schemas/idpCommunicationErrorMessage'
      description: 'The request could not be fulfilled because the non-AWS identity provider (IDP) that was asked to verify the incoming identity token could not be reached. This is often a transient error caused by network conditions. Retry the request a limited number of times so that you don''t exceed the request rate. If the error persists, the non-AWS identity provider might be down or not responding.'
    IDPRejectedClaimException:
      type: object
      properties:
        message:
          $ref: '#/components/schemas/idpRejectedClaimMessage'
      description: '<p>The identity provider (IdP) reported that authentication failed. This might be because the claim is invalid.</p> <p>If this error is returned for the <code>AssumeRoleWithWebIdentity</code> operation, it can also mean that the claim has expired or has been explicitly revoked. </p>'
    InvalidAuthorizationMessageException:
      type: object
      properties:
        message:
          $ref: '#/components/schemas/invalidAuthorizationMessage'
      description: 'The error returned if the message passed to <code>DecodeAuthorizationMessage</code> was invalid. This can happen if the token contains invalid characters, such as linebreaks. '
    InvalidIdentityTokenException:
      type: object
      properties:
        message:
          $ref: '#/components/schemas/invalidIdentityTokenMessage'
      description: The web identity token that was passed could not be validated by AWS. Get a new identity token from the identity provider and then retry the request.
    Issuer:
      type: string
    MalformedPolicyDocumentException:
      type: object
      properties:
        message:
          $ref: '#/components/schemas/malformedPolicyDocumentMessage'
      description: The request was rejected because the policy document was malformed. The error message describes the specific error.
    NameQualifier:
      type: string
    PackedPolicyTooLargeException:
      type: object
      properties:
        message:
          $ref: '#/components/schemas/packedPolicyTooLargeMessage'
      description: 'The request was rejected because the policy document was too large. The error message describes how big the policy document is, in packed form, as a percentage of what the API allows.'
    RegionDisabledException:
      type: object
      properties:
        message:
          $ref: '#/components/schemas/regionDisabledMessage'
      description: 'STS is not activated in the requested region for the account that is being asked to generate credentials. The account administrator must use the IAM console to activate STS in that region. For more information, see <a href="http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_enable-regions.html">Activating and Deactivating AWS STS in an AWS Region</a> in the <i>IAM User Guide</i>.'
    SAMLAssertionType:
      type: string
      minLength: 4
      maxLength: 50000
    Subject:
      type: string
    SubjectType:
      type: string
    accessKeyIdType:
      type: string
      pattern: '[\w]*'
      minLength: 16
      maxLength: 128
    accessKeySecretType:
      type: string
    accountType:
      type: string
    arnType:
      type: string
      pattern: '[\u0009\u000A\u000D\u0020-\u007E\u0085\u00A0-\uD7FF\uE000-\uFFFD\u10000-\u10FFFF]+'
      minLength: 20
      maxLength: 2048
    assumedRoleIdType:
      type: string
      pattern: '[\w+=,.@:-]*'
      minLength: 2
      maxLength: 193
    clientTokenType:
      type: string
      minLength: 4
      maxLength: 2048
    dateType:
      type: string
      format: date-time
    decodedMessageType:
      type: string
    durationSecondsType:
      type: integer
      minimum: 900
      maximum: 129600
    encodedMessageType:
      type: string
      minLength: 1
      maxLength: 10240
    expiredIdentityTokenMessage:
      type: string
    externalIdType:
      type: string
      pattern: '[\w+=,.@:\/-]*'
      minLength: 2
      maxLength: 1224
    federatedIdType:
      type: string
      pattern: '[\w+=,.@\:-]*'
      minLength: 2
      maxLength: 193
    idpCommunicationErrorMessage:
      type: string
    idpRejectedClaimMessage:
      type: string
    invalidAuthorizationMessage:
      type: string
    invalidIdentityTokenMessage:
      type: string
    malformedPolicyDocumentMessage:
      type: string
    nonNegativeIntegerType:
      type: integer
      minimum: 0
    packedPolicyTooLargeMessage:
      type: string
    regionDisabledMessage:
      type: string
    roleDurationSecondsType:
      type: integer
      minimum: 900
      maximum: 3600
    roleSessionNameType:
      type: string
      pattern: '[\w+=,.@-]*'
      minLength: 2
      maxLength: 64
    serialNumberType:
      type: string
      pattern: '[\w+=/:,.@-]*'
      minLength: 9
      maxLength: 256
    sessionPolicyDocumentType:
      type: string
      pattern: '[\u0009\u000A\u000D\u0020-\u00FF]+'
      minLength: 1
      maxLength: 2048
    tokenCodeType:
      type: string
      pattern: '[\d]*'
      minLength: 6
      maxLength: 6
    tokenType:
      type: string
    urlType:
      type: string
      minLength: 4
      maxLength: 2048
    userIdType:
      type: string
    userNameType:
      type: string
      pattern: '[\w+=,.@-]*'
      minLength: 2
      maxLength: 32
    webIdentitySubjectType:
      type: string
      minLength: 6
      maxLength: 255
  parameters:
    Action:
      name: Action
      in: header
      required: true
      schema:
        type: string
    Version:
      name: Version
      in: header
      required: true
      schema:
        type: string
    X-Amz-Content-Sha256:
      name: X-Amz-Content-Sha256
      in: header
      required: false
      schema:
        type: string
    X-Amz-Date:
      name: X-Amz-Date
      in: header
      required: false
      schema:
        type: string
    X-Amz-Algorithm:
      name: X-Amz-Algorithm
      in: header
      required: false
      schema:
        type: string
    X-Amz-Credential:
      name: X-Amz-Credential
      in: header
      required: false
      schema:
        type: string
    X-Amz-Security-Token:
      name: X-Amz-Security-Token
      in: header
      required: false
      schema:
        type: string
    X-Amz-Signature:
      name: X-Amz-Signature
      in: header
      required: false
      schema:
        type: string
    X-Amz-SignedHeaders:
      name: X-Amz-SignedHeaders
      in: header
      required: false
      schema:
        type: string
  securitySchemes:
    hmac:
      type: apiKey
      name: Authorization
      in: header
      description: Amazon Signature authorization v4
      x-amazon-apigateway-authtype: awsSigv4
