{
  "swagger": "2.0",
  "info": {
    "version": "v2",
    "title": "SlideRoom API V2",
    "x-providerName": "slideroom.com",
    "x-origin": {
      "format": "swagger",
      "version": "2.0",
      "url": "https://api.slideroom.com/schema/v2"
    }
  },
  "host": "api.slideroom.com:443",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/v2/application/request-export": {
      "post": {
        "tags": [
          "Application"
        ],
        "summary": "Requests the generation of application export files (tabular, pdf, zip).",
        "description": "Exports are generated asynchronously within SlideRoom.  To retrieve the export file generated by this request, use the api/v#/export/{token} endpoint to check the progress/result of the generation process.",
        "operationId": "Application_RequestExportV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "The format of the application to export",
            "required": false,
            "type": "string",
            "enum": [
              "csv",
              "txt",
              "tab",
              "xlsx",
              "pdf",
              "zip"
            ]
          },
          {
            "name": "roundtype",
            "in": "query",
            "description": "Selects which evaluation round(s) should be used in the result.  Current: use evaluations from the program's current round.  Assigned: use evaluations from the round the application is currently assigned, Named: use evaluations from a specific round.  All: include all evaluation rounds (not applicable on tabular exports).",
            "required": false,
            "type": "string",
            "enum": [
              "Assigned",
              "Current",
              "Named",
              "All"
            ]
          },
          {
            "name": "roundname",
            "in": "query",
            "description": "The round used to filter the data when roundtype is \"Named\"",
            "required": false,
            "type": "string"
          },
          {
            "name": "tab.export",
            "in": "query",
            "description": "The title of the custom export defined within SlideRoom to use when generating a tabular export.  This value is REQUIRED when choosing any tabular format.",
            "required": false,
            "type": "string"
          },
          {
            "name": "pdf.includeforms",
            "in": "query",
            "description": "Should the export include form answers",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "pdf.includereferences",
            "in": "query",
            "description": "Should the export include references",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "pdf.includemedia",
            "in": "query",
            "description": "Should the export include a list of media uploaded by the applicant",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "pdf.includeapplicantattachments",
            "in": "query",
            "description": "Should the export include attachments provided by the applicant",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "pdf.includeorganizationattachments",
            "in": "query",
            "description": "Should the export include attachments provided by the organization",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "pdf.includeratings",
            "in": "query",
            "description": "Should the export include reviewer ratings",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "pdf.includefullpagemedia",
            "in": "query",
            "description": "Should the export include full-page versions of images uploaded by the applicant",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "pdf.includehighlights",
            "in": "query",
            "description": "Should the export include reviewer highlights",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "pdf.includecomments",
            "in": "query",
            "description": "Should the export include comments from reviewers",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "pdf.includecommonapp",
            "in": "query",
            "description": "Should the export include data from the Common Application",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "zip.originalmedia",
            "in": "query",
            "description": "Should the export include the original media uploaded by the applicant",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "zip.includeforms",
            "in": "query",
            "description": "Should the export include form answers",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "zip.includereferences",
            "in": "query",
            "description": "Should the export include references",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "zip.includemedia",
            "in": "query",
            "description": "Should the export include a list of media uploaded by the applicant",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "zip.includeapplicantattachments",
            "in": "query",
            "description": "Should the export include attachments provided by the applicant",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "zip.includeorganizationattachments",
            "in": "query",
            "description": "Should the export include attachments provided by the organization",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "zip.includeratings",
            "in": "query",
            "description": "Should the export include reviewer ratings",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "zip.includecomments",
            "in": "query",
            "description": "Should the export include comments from reviewers",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "zip.includecommonapp",
            "in": "query",
            "description": "Should the export include data from the Common Application",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "delivery.account",
            "in": "query",
            "description": "Optionally specifies the pre-configured name of an external storage account (such as Dropbox) to deliver the export.",
            "required": false,
            "type": "string"
          },
          {
            "name": "delivery.folder",
            "in": "query",
            "description": "Optionally specifies the subfolder in which to deliver the export when using an external storage account.",
            "required": false,
            "type": "string"
          },
          {
            "name": "since",
            "in": "query",
            "description": "Limit result to applications submitted after the \"since\" date. Format as the number of seconds since 1/1/1970 GMT.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pool",
            "in": "query",
            "description": "The application pool to be searched",
            "required": false,
            "type": "string",
            "enum": [
              "All",
              "Current",
              "Archived",
              "CommonAppSDS"
            ]
          },
          {
            "name": "searchname",
            "in": "query",
            "description": "The named of the saved search to use to define the export list. Required.",
            "required": false,
            "type": "string"
          },
          {
            "name": "email",
            "in": "query",
            "description": "The email address of a user within SlideRoom to use when \"scoping\" data.  This will limit the result set to applications the user is permitted to see, as well as drive the \"My Rating\" search criteria.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RequestApplicationExportResultV2"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/export/{token}": {
      "get": {
        "tags": [
          "Export"
        ],
        "summary": "Gets the status/result of a requested export.",
        "operationId": "Export_GetV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExportResultV2"
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v2/application/{applicationId}/request-export": {
      "post": {
        "tags": [
          "Application"
        ],
        "summary": "Requests the generation of a single application export file (tabular, pdf, zip).",
        "description": "Exports are generated asynchronously within SlideRoom.  To retrieve the export file generated by this request, use the api/v#/export/{token} endpoint to check the progress/result of the generation process.",
        "operationId": "Application_RequestExportByApplicationIdV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "description": "The id of the application to export",
            "required": true,
            "type": "string"
          },
          {
            "name": "format",
            "in": "query",
            "description": "The format of the application to export",
            "required": false,
            "type": "string",
            "enum": [
              "csv",
              "txt",
              "tab",
              "xlsx",
              "pdf",
              "zip"
            ]
          },
          {
            "name": "roundtype",
            "in": "query",
            "description": "Selects which evaluation round(s) should be used in the result.  Current: use evaluations from the program's current round.  Assigned: use evaluations from the round the application is currently assigned, Named: use evaluations from a specific round.  All: include all evaluation rounds (not applicable on tabular exports).",
            "required": false,
            "type": "string",
            "enum": [
              "Assigned",
              "Current",
              "Named",
              "All"
            ]
          },
          {
            "name": "roundname",
            "in": "query",
            "description": "The round used to filter the data when roundtype is \"Named\"",
            "required": false,
            "type": "string"
          },
          {
            "name": "tab.export",
            "in": "query",
            "description": "The title of the custom export defined within SlideRoom to use when generating a tabular export.  This value is REQUIRED when choosing any tabular format.",
            "required": false,
            "type": "string"
          },
          {
            "name": "pdf.includeforms",
            "in": "query",
            "description": "Should the export include form answers",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "pdf.includereferences",
            "in": "query",
            "description": "Should the export include references",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "pdf.includemedia",
            "in": "query",
            "description": "Should the export include a list of media uploaded by the applicant",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "pdf.includeapplicantattachments",
            "in": "query",
            "description": "Should the export include attachments provided by the applicant",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "pdf.includeorganizationattachments",
            "in": "query",
            "description": "Should the export include attachments provided by the organization",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "pdf.includeratings",
            "in": "query",
            "description": "Should the export include reviewer ratings",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "pdf.includefullpagemedia",
            "in": "query",
            "description": "Should the export include full-page versions of images uploaded by the applicant",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "pdf.includehighlights",
            "in": "query",
            "description": "Should the export include reviewer highlights",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "pdf.includecomments",
            "in": "query",
            "description": "Should the export include comments from reviewers",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "pdf.includecommonapp",
            "in": "query",
            "description": "Should the export include data from the Common Application",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "zip.originalmedia",
            "in": "query",
            "description": "Should the export include the original media uploaded by the applicant",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "zip.includeforms",
            "in": "query",
            "description": "Should the export include form answers",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "zip.includereferences",
            "in": "query",
            "description": "Should the export include references",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "zip.includemedia",
            "in": "query",
            "description": "Should the export include a list of media uploaded by the applicant",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "zip.includeapplicantattachments",
            "in": "query",
            "description": "Should the export include attachments provided by the applicant",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "zip.includeorganizationattachments",
            "in": "query",
            "description": "Should the export include attachments provided by the organization",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "zip.includeratings",
            "in": "query",
            "description": "Should the export include reviewer ratings",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "zip.includecomments",
            "in": "query",
            "description": "Should the export include comments from reviewers",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "zip.includecommonapp",
            "in": "query",
            "description": "Should the export include data from the Common Application",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "delivery.account",
            "in": "query",
            "description": "Optionally specifies the pre-configured name of an external storage account (such as Dropbox) to deliver the export.",
            "required": false,
            "type": "string"
          },
          {
            "name": "delivery.folder",
            "in": "query",
            "description": "Optionally specifies the subfolder in which to deliver the export when using an external storage account.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/RequestApplicationExportResultV2"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false
      }
    }
  },
  "definitions": {
    "RequestApplicationExportResultV2": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "submissions": {
          "format": "int32",
          "type": "integer"
        },
        "token": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ExportResultV2": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string"
        },
        "total_files": {
          "format": "int32",
          "type": "integer"
        },
        "completed_files": {
          "format": "int32",
          "type": "integer"
        },
        "file_urls": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    }
  }
}