swagger: '2.0'
schemes:
  - https
host: appengine.googleapis.com
basePath: /
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: Provisions and manages App Engine applications.
  title: Google App Engine Admin
  version: v1beta4
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/appengine/v1beta4/rest'
    version: v1
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: appengine
externalDocs:
  url: 'https://cloud.google.com/appengine/docs/admin-api/'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
    type: oauth2
parameters:
  $.xgafv:
    description: V1 error format.
    in: query
    name: $.xgafv
    type: string
  access_token:
    description: OAuth access token.
    in: query
    name: access_token
    type: string
  alt:
    default: json
    description: Data format for response.
    in: query
    name: alt
    type: string
  bearer_token:
    description: OAuth bearer token.
    in: query
    name: bearer_token
    type: string
  callback:
    description: JSONP
    in: query
    name: callback
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  pp:
    default: true
    description: Pretty-print response.
    in: query
    name: pp
    type: boolean
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
    in: query
    name: quotaUser
    type: string
  uploadType:
    description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
    in: query
    name: uploadType
    type: string
  upload_protocol:
    description: 'Upload protocol for media (e.g. "raw", "multipart").'
    in: query
    name: upload_protocol
    type: string
tags:
  - name: apps
paths:
  '/v1beta4/apps/{appsId}':
    get:
      description: Gets information about an application.
      operationId: appengine.apps.get
      parameters:
        - description: 'Part of `name`. Name of the application to get. For example: "apps/myapp".'
          in: path
          name: appsId
          required: true
          type: string
        - description: 'Certain resources associated with an application are created on-demand. Controls whether these resources should be created when performing the `GET` operation. If specified and any resources could not be created, the request will fail with an error code. Additionally, this parameter can cause the request to take longer to complete.'
          in: query
          name: ensureResourcesExist
          type: boolean
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Application'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - apps
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/$.xgafv'
  '/v1beta4/apps/{appsId}/modules':
    get:
      description: Lists all the modules in the application.
      operationId: appengine.apps.modules.list
      parameters:
        - description: 'Part of `name`. Name of the resource requested. For example: "apps/myapp".'
          in: path
          name: appsId
          required: true
          type: string
        - description: Maximum results to return per page.
          in: query
          name: pageSize
          type: integer
        - description: Continuation token for fetching the next page of results.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListModulesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - apps
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/$.xgafv'
  '/v1beta4/apps/{appsId}/modules/{modulesId}':
    delete:
      description: Deletes a module and all enclosed versions.
      operationId: appengine.apps.modules.delete
      parameters:
        - description: 'Part of `name`. Name of the resource requested. For example: "apps/myapp/modules/default".'
          in: path
          name: appsId
          required: true
          type: string
        - description: Part of `name`. See documentation of `appsId`.
          in: path
          name: modulesId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - apps
    get:
      description: Gets the current configuration of the module.
      operationId: appengine.apps.modules.get
      parameters:
        - description: 'Part of `name`. Name of the resource requested. For example: "apps/myapp/modules/default".'
          in: path
          name: appsId
          required: true
          type: string
        - description: Part of `name`. See documentation of `appsId`.
          in: path
          name: modulesId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Module'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - apps
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/$.xgafv'
    patch:
      description: Updates the configuration of the specified module.
      operationId: appengine.apps.modules.patch
      parameters:
        - description: 'Part of `name`. Name of the resource to update. For example: "apps/myapp/modules/default".'
          in: path
          name: appsId
          required: true
          type: string
        - description: Part of `name`. See documentation of `appsId`.
          in: path
          name: modulesId
          required: true
          type: string
        - description: Standard field mask for the set of fields to be updated.
          in: query
          name: mask
          type: string
        - description: Whether to use Traffic Migration to shift traffic gradually. Traffic can only be migrated from a single version to another single version.
          in: query
          name: migrateTraffic
          type: boolean
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Module'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - apps
  '/v1beta4/apps/{appsId}/modules/{modulesId}/versions':
    get:
      description: Lists the versions of a module.
      operationId: appengine.apps.modules.versions.list
      parameters:
        - description: 'Part of `name`. Name of the resource requested. For example: "apps/myapp/modules/default".'
          in: path
          name: appsId
          required: true
          type: string
        - description: Part of `name`. See documentation of `appsId`.
          in: path
          name: modulesId
          required: true
          type: string
        - description: Controls the set of fields returned in the `List` response.
          enum:
            - BASIC
            - FULL
          in: query
          name: view
          type: string
        - description: Maximum results to return per page.
          in: query
          name: pageSize
          type: integer
        - description: Continuation token for fetching the next page of results.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListVersionsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - apps
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/$.xgafv'
    post:
      description: Deploys new code and resource files to a version.
      operationId: appengine.apps.modules.versions.create
      parameters:
        - description: 'Part of `name`. Name of the resource to update. For example: "apps/myapp/modules/default".'
          in: path
          name: appsId
          required: true
          type: string
        - description: Part of `name`. See documentation of `appsId`.
          in: path
          name: modulesId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Version'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - apps
  '/v1beta4/apps/{appsId}/modules/{modulesId}/versions/{versionsId}':
    delete:
      description: Deletes an existing version.
      operationId: appengine.apps.modules.versions.delete
      parameters:
        - description: 'Part of `name`. Name of the resource requested. For example: "apps/myapp/modules/default/versions/v1".'
          in: path
          name: appsId
          required: true
          type: string
        - description: Part of `name`. See documentation of `appsId`.
          in: path
          name: modulesId
          required: true
          type: string
        - description: Part of `name`. See documentation of `appsId`.
          in: path
          name: versionsId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - apps
    get:
      description: Gets application deployment information.
      operationId: appengine.apps.modules.versions.get
      parameters:
        - description: 'Part of `name`. Name of the resource requested. For example: "apps/myapp/modules/default/versions/v1".'
          in: path
          name: appsId
          required: true
          type: string
        - description: Part of `name`. See documentation of `appsId`.
          in: path
          name: modulesId
          required: true
          type: string
        - description: Part of `name`. See documentation of `appsId`.
          in: path
          name: versionsId
          required: true
          type: string
        - description: Controls the set of fields returned in the `Get` response.
          enum:
            - BASIC
            - FULL
          in: query
          name: view
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Version'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - apps
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/$.xgafv'
    patch:
      description: 'Updates an existing version. Note: UNIMPLEMENTED.'
      operationId: appengine.apps.modules.versions.patch
      parameters:
        - description: 'Part of `name`. Name of the resource to update. For example: "apps/myapp/modules/default/versions/1".'
          in: path
          name: appsId
          required: true
          type: string
        - description: Part of `name`. See documentation of `appsId`.
          in: path
          name: modulesId
          required: true
          type: string
        - description: Part of `name`. See documentation of `appsId`.
          in: path
          name: versionsId
          required: true
          type: string
        - description: Standard field mask for the set of fields to be updated.
          in: query
          name: mask
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Version'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - apps
  '/v1beta4/apps/{appsId}/modules/{modulesId}/versions/{versionsId}/instances':
    get:
      description: Lists the instances of a version.
      operationId: appengine.apps.modules.versions.instances.list
      parameters:
        - description: 'Part of `name`. Name of the resource requested. For example: "apps/myapp/modules/default/versions/v1".'
          in: path
          name: appsId
          required: true
          type: string
        - description: Part of `name`. See documentation of `appsId`.
          in: path
          name: modulesId
          required: true
          type: string
        - description: Part of `name`. See documentation of `appsId`.
          in: path
          name: versionsId
          required: true
          type: string
        - description: Maximum results to return per page.
          in: query
          name: pageSize
          type: integer
        - description: Continuation token for fetching the next page of results.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListInstancesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - apps
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/$.xgafv'
  '/v1beta4/apps/{appsId}/operations':
    get:
      description: "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding below allows API services to override the binding to use different resource name schemes, such as `users/*/operations`."
      operationId: appengine.apps.operations.list
      parameters:
        - description: Part of `name`. The name of the operation collection.
          in: path
          name: appsId
          required: true
          type: string
        - description: The standard list filter.
          in: query
          name: filter
          type: string
        - description: The standard list page size.
          in: query
          name: pageSize
          type: integer
        - description: The standard list page token.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListOperationsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - apps
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/$.xgafv'
  '/v1beta4/apps/{appsId}/operations/{operationsId}':
    get:
      description: Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.
      operationId: appengine.apps.operations.get
      parameters:
        - description: Part of `name`. The name of the operation resource.
          in: path
          name: appsId
          required: true
          type: string
        - description: Part of `name`. See documentation of `appsId`.
          in: path
          name: operationsId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - apps
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/$.xgafv'
definitions:
  ApiConfigHandler:
    description: API Serving configuration for Cloud Endpoints.
    properties:
      authFailAction:
        description: 'For users not logged in, how to handle access to resources with required login. Defaults to "redirect".'
        enum:
          - AUTH_FAIL_ACTION_UNSPECIFIED
          - AUTH_FAIL_ACTION_REDIRECT
          - AUTH_FAIL_ACTION_UNAUTHORIZED
        type: string
      login:
        description: 'What level of login is required to access this resource. Default is "optional".'
        enum:
          - LOGIN_UNSPECIFIED
          - LOGIN_OPTIONAL
          - LOGIN_ADMIN
          - LOGIN_REQUIRED
        type: string
      script:
        description: Specifies the path to the script from the application root directory.
        type: string
      securityLevel:
        description: Configures whether security (HTTPS) should be enforced for this URL.
        enum:
          - SECURE_UNSPECIFIED
          - SECURE_DEFAULT
          - SECURE_NEVER
          - SECURE_OPTIONAL
          - SECURE_ALWAYS
        type: string
      url:
        description: URL to serve the endpoint at.
        type: string
    type: object
  ApiEndpointHandler:
    description: Use Google Cloud Endpoints to handle requests.
    properties:
      scriptPath:
        description: Specifies the path to the script from the application root directory.
        type: string
    type: object
  Application:
    description: An Application contains the top-level configuration of an App Engine application.
    properties:
      authDomain:
        description: 'If set, only users from the specified Google Apps authentication domain may access the application. If not set, any Google Account may access the application.'
        type: string
      codeBucket:
        description: A Google Cloud Storage bucket which can be used for storing files associated with an application. This bucket is associated with the application and can be used by the gcloud deployment commands. @OutputOnly
        type: string
      defaultBucket:
        description: A Google Cloud Storage bucket which can be used by the application to store content. @OutputOnly
        type: string
      defaultCookieExpiration:
        description: Determines the cookie expiration policy for the application. @OutputOnly
        type: string
      defaultHostname:
        description: 'The hostname used to reach the application, as resolved by App Engine. @OutputOnly'
        type: string
      dispatchRules:
        description: HTTP path dispatch rules for requests to the app that do not explicitly target a module or version. The rules are order-dependent. @OutputOnly
        items:
          $ref: '#/definitions/UrlDispatchRule'
        type: array
      id:
        description: 'The relative name/path of the application. Example: "myapp".'
        type: string
      location:
        description: "The location from which the application will be run. Application instances will run out of data centers in the chosen location and all of the application's End User Content will be stored at rest. The default is \"us-central\". Choices are: \"us-central\" - Central US \"europe-west\" - Western Europe \"us-east1\" - Eastern US"
        type: string
      name:
        description: 'The full path to the application in the API. Example: "apps/myapp". @OutputOnly'
        type: string
    type: object
  AutomaticScaling:
    description: 'Automatic scaling is the scaling policy that App Engine has used since its inception. It is based on request rate, response latencies, and other application metrics.'
    properties:
      coolDownPeriod:
        description: 'The amount of time that the [Autoscaler](https://cloud.google.com/compute/docs/autoscaler/) should wait between changes to the number of virtual machines. Applies only to the VM runtime.'
        type: string
      cpuUtilization:
        $ref: '#/definitions/CpuUtilization'
        description: Target scaling by CPU usage.
      diskUtilization:
        $ref: '#/definitions/DiskUtilization'
        description: Target scaling by disk usage.
      maxConcurrentRequests:
        description: The number of concurrent requests an automatic scaling instance can accept before the scheduler spawns a new instance. Default value is chosen based on the runtime.
        format: int32
        type: integer
      maxIdleInstances:
        description: The maximum number of idle instances that App Engine should maintain for this version.
        format: int32
        type: integer
      maxPendingLatency:
        description: The maximum amount of time that App Engine should allow a request to wait in the pending queue before starting a new instance to handle it.
        type: string
      maxTotalInstances:
        description: Max number of instances that App Engine should start to handle requests.
        format: int32
        type: integer
      minIdleInstances:
        description: 'The minimum number of idle instances that App Engine should maintain for this version. Only applies to the default version of a module, since other versions are not expected to receive significant traffic.'
        format: int32
        type: integer
      minPendingLatency:
        description: The minimum amount of time that App Engine should allow a request to wait in the pending queue before starting a new instance to handle it.
        type: string
      minTotalInstances:
        description: Minimum number of instances that App Engine should maintain.
        format: int32
        type: integer
      networkUtilization:
        $ref: '#/definitions/NetworkUtilization'
        description: Target scaling by network usage.
      requestUtilization:
        $ref: '#/definitions/RequestUtilization'
        description: Target scaling by request utilization.
    type: object
  BasicScaling:
    description: A module with basic scaling will create an instance when the application receives a request. The instance will be turned down when the app becomes idle. Basic scaling is ideal for work that is intermittent or driven by user activity.
    properties:
      idleTimeout:
        description: The instance will be shut down this amount of time after receiving its last request.
        type: string
      maxInstances:
        description: The maximum number of instances for App Engine to create for this version.
        format: int32
        type: integer
    type: object
  ContainerInfo:
    description: A Docker (container) image which should be used to start the application.
    properties:
      image:
        description: 'Reference to a hosted container image. Must be a URI to a resource in a Docker repository. Must be fully qualified, including tag or digest. e.g. gcr.io/my-project/image:tag or gcr.io/my-project/image@digest'
        type: string
    type: object
  CpuUtilization:
    description: Target scaling by CPU usage.
    properties:
      aggregationWindowLength:
        description: The period of time over which CPU utilization is calculated.
        type: string
      targetUtilization:
        description: Target (0-1) CPU utilization ratio to maintain when scaling.
        format: double
        type: number
    type: object
  Deployment:
    description: Code and application artifacts used to deploy a version to App Engine.
    properties:
      container:
        $ref: '#/definitions/ContainerInfo'
        description: "If supplied, a docker (container) image which should be used to start the application. Only applicable to the 'vm' runtime."
      files:
        additionalProperties:
          $ref: '#/definitions/FileInfo'
        description: A manifest of files stored in Google Cloud Storage which should be included as part of this application. All files must be readable using the credentials supplied with this call.
        type: object
      sourceReferences:
        description: The origin of the source code for this deployment. There can be more than one source reference per Version if source code is distributed among multiple repositories.
        items:
          $ref: '#/definitions/SourceReference'
        type: array
    type: object
  DiskUtilization:
    description: Target scaling by disk usage (for VM runtimes only).
    properties:
      targetReadBytesPerSec:
        description: Target bytes per second read.
        format: int32
        type: integer
      targetReadOpsPerSec:
        description: Target ops per second read.
        format: int32
        type: integer
      targetWriteBytesPerSec:
        description: Target bytes per second written.
        format: int32
        type: integer
      targetWriteOpsPerSec:
        description: Target ops per second written.
        format: int32
        type: integer
    type: object
  ErrorHandler:
    description: A custom static error page to be served when an error occurs.
    properties:
      errorCode:
        description: The error condition this handler applies to.
        enum:
          - ERROR_CODE_UNSPECIFIED
          - ERROR_CODE_DEFAULT
          - ERROR_CODE_OVER_QUOTA
          - ERROR_CODE_DOS_API_DENIAL
          - ERROR_CODE_TIMEOUT
        type: string
      mimeType:
        description: 'MIME type of file. If unspecified, "text/html" is assumed.'
        type: string
      staticFile:
        description: Static file content to be served for this error.
        type: string
    type: object
  FileInfo:
    description: A single source file which is part of the application to be deployed.
    properties:
      mimeType:
        description: 'The MIME type of the file; if unspecified, the value from Google Cloud Storage will be used.'
        type: string
      sha1Sum:
        description: The SHA1 (160 bits) hash of the file in hex.
        type: string
      sourceUrl:
        description: "The URL source to use to fetch this file. Must be a URL to a resource in Google Cloud Storage in the form 'http(s)://storage.googleapis.com/\\/\\'."
        type: string
    type: object
  HealthCheck:
    description: Configure health checking for the VM instances. Unhealthy VM instances will be killed and replaced with new instances.
    properties:
      checkInterval:
        description: The interval between health checks.
        type: string
      disableHealthCheck:
        description: Whether to explicitly disable health checks for this instance.
        type: boolean
      healthyThreshold:
        description: The number of consecutive successful health checks before receiving traffic.
        format: uint32
        type: integer
      host:
        description: The host header to send when performing an HTTP health check (e.g. myapp.appspot.com)
        type: string
      restartThreshold:
        description: The number of consecutive failed health checks before an instance is restarted.
        format: uint32
        type: integer
      timeout:
        description: The amount of time before the health check is considered failed.
        type: string
      unhealthyThreshold:
        description: The number of consecutive failed health checks before removing traffic.
        format: uint32
        type: integer
    type: object
  Instance:
    description: Instances are the computing units that App Engine uses to automatically scale an application.
    properties:
      appEngineRelease:
        description: The App Engine release the instance is running on. @OutputOnly
        type: string
      availability:
        description: Availability of instance. @OutputOnly
        enum:
          - UNSPECIFIED
          - RESIDENT
          - DYNAMIC
        type: string
      averageLatency:
        description: Latency in milliseconds (averaged over the last minute). @OutputOnly
        format: int32
        type: integer
      errors:
        description: Number of errors since the instance was started. @OutputOnly
        format: uint32
        type: integer
      id:
        description: 'The relative name/path of the instance within the version. Example: "instance-1" @OutputOnly'
        type: string
      memoryUsage:
        description: Memory usage (in bytes). @OutputOnly
        format: int64
        type: string
      name:
        description: 'The full path to the Instance resource in the API. Example: "apps/myapp/modules/default/versions/v1/instances/instance-1" @OutputOnly'
        type: string
      qps:
        description: QPS for this instance (averaged over the last minute). @OutputOnly
        format: float
        type: number
      requests:
        description: Number of requests (since the clone was started). @OutputOnly
        format: int32
        type: integer
      startTimestamp:
        description: Time when instance was started. @OutputOnly
        type: string
      vmId:
        description: 'For VMEngines instances, the GCE VM ID of the instance. @OutputOnly'
        type: string
      vmName:
        description: 'For VMEngines instances, the name of GCE VM where the instance lives. @OutputOnly'
        type: string
      vmStatus:
        description: 'For VMEngines instances, the status of GCE VM where the instance lives. @OutputOnly'
        type: string
      vmUnlocked:
        description: 'For VMEngines instances, whether the instance has been unlocked. @OutputOnly'
        type: boolean
      vmZoneName:
        description: 'For VMEngines instances, the zone where the GCE VM is located. @OutputOnly'
        type: string
    type: object
  Library:
    description: A Python runtime third-party library required by the application.
    properties:
      name:
        description: 'The name of the library, e.g. "PIL" or "django".'
        type: string
      version:
        description: 'The version of the library to select, or "latest".'
        type: string
    type: object
  ListInstancesResponse:
    description: Response message for `Instances.ListInstances`.
    properties:
      instances:
        description: The instances belonging to the requested version.
        items:
          $ref: '#/definitions/Instance'
        type: array
      nextPageToken:
        description: Continuation token for fetching the next page of results.
        type: string
    type: object
  ListModulesResponse:
    description: Response message for `Modules.ListModules`.
    properties:
      modules:
        description: The modules belonging to the requested application.
        items:
          $ref: '#/definitions/Module'
        type: array
      nextPageToken:
        description: Continuation token for fetching the next page of results.
        type: string
    type: object
  ListOperationsResponse:
    description: The response message for Operations.ListOperations.
    properties:
      nextPageToken:
        description: The standard List next-page token.
        type: string
      operations:
        description: A list of operations that matches the specified filter in the request.
        items:
          $ref: '#/definitions/Operation'
        type: array
    type: object
  ListVersionsResponse:
    description: Response message for `Versions.ListVersions`.
    properties:
      nextPageToken:
        description: Continuation token for fetching the next page of results.
        type: string
      versions:
        description: The versions belonging to the requested application module.
        items:
          $ref: '#/definitions/Version'
        type: array
    type: object
  ManualScaling:
    description: 'A module with manual scaling runs continuously, allowing you to perform complex initialization and rely on the state of its memory over time.'
    properties:
      instances:
        description: 'The number of instances to assign to the module at the start. This number can later be altered by using the [Modules API](https://cloud.google.com/appengine/docs/python/modules/functions) `set_num_instances()` function.'
        format: int32
        type: integer
    type: object
  Module:
    description: A module is a component of an application that provides a single service or configuration. A module has a collection of versions that define a specific set of code used to implement the functionality of that module.
    properties:
      id:
        description: 'The relative name/path of the module within the application. Example: "default" @OutputOnly'
        type: string
      name:
        description: 'The full path to the Module resource in the API. Example: "apps/myapp/modules/default" @OutputOnly'
        type: string
      split:
        $ref: '#/definitions/TrafficSplit'
        description: A mapping that defines fractional HTTP traffic diversion to different versions within the module.
    type: object
  Network:
    description: Used to specify extra network settings (for VM runtimes only).
    properties:
      forwardedPorts:
        description: A list of ports (or port pairs) to forward from the VM into the app container.
        items:
          type: string
        type: array
      instanceTag:
        description: A tag to apply to the VM instance during creation.
        type: string
      name:
        description: 'The Google Compute Engine network where the VMs will be created. If not specified, or empty, the network named "default" will be used. (The short name should be specified, not the resource path.)'
        type: string
    type: object
  NetworkUtilization:
    description: Target scaling by network usage (for VM runtimes only).
    properties:
      targetReceivedBytesPerSec:
        description: Target bytes per second received.
        format: int32
        type: integer
      targetReceivedPacketsPerSec:
        description: Target packets per second received.
        format: int32
        type: integer
      targetSentBytesPerSec:
        description: Target bytes per second sent.
        format: int32
        type: integer
      targetSentPacketsPerSec:
        description: Target packets per second sent.
        format: int32
        type: integer
    type: object
  Operation:
    description: This resource represents a long-running operation that is the result of a network API call.
    properties:
      done:
        description: 'If the value is `false`, it means the operation is still in progress. If true, the operation is completed, and either `error` or `response` is available.'
        type: boolean
      error:
        $ref: '#/definitions/Status'
        description: The error result of the operation in case of failure.
      metadata:
        additionalProperties:
          description: Properties of the object. Contains field @ype with type URL.
        description: 'Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.'
        type: object
      name:
        description: 'The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should have the format of `operations/some/unique/name`.'
        type: string
      response:
        additionalProperties:
          description: Properties of the object. Contains field @ype with type URL.
        description: 'The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.'
        type: object
    type: object
  OperationMetadata:
    description: Metadata for the given google.longrunning.Operation.
    properties:
      endTime:
        description: Timestamp that this operation was completed. (Not present if the operation is still in progress.) @OutputOnly
        type: string
      insertTime:
        description: Timestamp that this operation was received. @OutputOnly
        type: string
      method:
        description: 'API method name that initiated the operation. Example: "google.appengine.v1beta4.Version.CreateVersion". @OutputOnly'
        type: string
      operationType:
        description: 'The type of the operation (deprecated, use method field instead). Example: "create_version". @OutputOnly'
        type: string
      target:
        description: 'Resource that this operation is acting on. Example: "apps/myapp/modules/default". @OutputOnly'
        type: string
      user:
        description: The user who requested this operation. @OutputOnly
        type: string
    type: object
  OperationMetadataV1Beta5:
    description: Metadata for the given google.longrunning.Operation.
    properties:
      endTime:
        description: Timestamp that this operation was completed. (Not present if the operation is still in progress.) @OutputOnly
        type: string
      insertTime:
        description: Timestamp that this operation was received. @OutputOnly
        type: string
      method:
        description: 'API method name that initiated the operation. Example: "google.appengine.v1beta5.Version.CreateVersion". @OutputOnly'
        type: string
      target:
        description: 'Resource that this operation is acting on. Example: "apps/myapp/services/default". @OutputOnly'
        type: string
      user:
        description: The user who requested this operation. @OutputOnly
        type: string
    type: object
  RequestUtilization:
    description: Target scaling by request utilization (for VM runtimes only).
    properties:
      targetConcurrentRequests:
        description: Target number of concurrent requests.
        format: int32
        type: integer
      targetRequestCountPerSec:
        description: Target requests per second.
        format: int32
        type: integer
    type: object
  Resources:
    description: Used to specify how many machine resources an app version needs.
    properties:
      cpu:
        description: How many CPU cores an app version needs.
        format: double
        type: number
      diskGb:
        description: 'How much disk size, in GB, an app version needs.'
        format: double
        type: number
      memoryGb:
        description: 'How much memory, in GB, an app version needs.'
        format: double
        type: number
    type: object
  ScriptHandler:
    description: Executes a script to handle the request that matches the URL pattern.
    properties:
      scriptPath:
        description: Specifies the path to the script from the application root directory.
        type: string
    type: object
  SourceReference:
    description: A reference to a particular snapshot of the source tree used to build and deploy the application.
    properties:
      repository:
        description: 'Optional. A URI string identifying the repository. Example: "https://source.developers.google.com/p/app-123/r/default"'
        type: string
      revisionId:
        description: 'The canonical (and persistent) identifier of the deployed revision, i.e. any kind of aliases including tags or branch names are not allowed. Example (git): "2198322f89e0bb2e25021667c2ed489d1fd34e6b"'
        type: string
    type: object
  StaticDirectoryHandler:
    description: 'Files served directly to the user for a given URL, such as images, CSS stylesheets, or JavaScript source files. Static directory handlers make it easy to serve the entire contents of a directory as static files.'
    properties:
      applicationReadable:
        description: 'By default, files declared in static file handlers are uploaded as static data and are only served to end users, they cannot be read by an application. If this field is set to true, the files are also uploaded as code data so your application can read them. Both uploads are charged against your code and static data storage resource quotas.'
        type: boolean
      directory:
        description: 'The path to the directory containing the static files, from the application root directory. Everything after the end of the matched url pattern is appended to static_dir to form the full path to the requested file.'
        type: string
      expiration:
        description: The length of time a static file served by this handler ought to be cached by web proxies and browsers.
        type: string
      httpHeaders:
        additionalProperties:
          type: string
        description: HTTP headers to use for all responses from these URLs.
        type: object
      mimeType:
        description: "If specified, all files served by this handler will be served using the specified MIME type. If not specified, the MIME type for a file will be derived from the file's filename extension."
        type: string
      requireMatchingFile:
        description: 'If true, this UrlMap entry does not match the request unless the file referenced by the handler also exists. If no such file exists, processing will continue with the next UrlMap that matches the requested URL.'
        type: boolean
    type: object
  StaticFilesHandler:
    description: 'Files served directly to the user for a given URL, such as images, CSS stylesheets, or JavaScript source files. Static file handlers describe which files in the application directory are static files, and which URLs serve them.'
    properties:
      applicationReadable:
        description: 'By default, files declared in static file handlers are uploaded as static data and are only served to end users, they cannot be read by an application. If this field is set to true, the files are also uploaded as code data so your application can read them. Both uploads are charged against your code and static data storage resource quotas.'
        type: boolean
      expiration:
        description: The length of time a static file served by this handler ought to be cached by web proxies and browsers.
        type: string
      httpHeaders:
        additionalProperties:
          type: string
        description: HTTP headers to use for all responses from these URLs.
        type: object
      mimeType:
        description: "If specified, all files served by this handler will be served using the specified MIME type. If not specified, the MIME type for a file will be derived from the file's filename extension."
        type: string
      path:
        description: 'The path to the static files matched by the URL pattern, from the application root directory. The path can refer to text matched in groupings in the URL pattern.'
        type: string
      requireMatchingFile:
        description: 'If true, this UrlMap entry does not match the request unless the file referenced by the handler also exists. If no such file exists, processing will continue with the next UrlMap that matches the requested URL.'
        type: boolean
      uploadPathRegex:
        description: A regular expression that matches the file paths for all files that will be referenced by this handler.
        type: string
    type: object
  Status:
    description: 'The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). The error model is designed to be: - Simple to use and understand for most users - Flexible enough to meet unexpected needs # Overview The `Status` message contains three pieces of data: error code, error message, and error details. The error code should be an enum value of google.rpc.Code, but it may accept additional error codes if needed. The error message should be a developer-facing English message that helps developers *understand* and *resolve* the error. If a localized user-facing error message is needed, put the localized message in the error details or localize it in the client. The optional error details may contain arbitrary information about the error. There is a predefined set of error detail types in the package `google.rpc` which can be used for common error conditions. # Language mapping The `Status` message is the logical representation of the error model, but it is not necessarily the actual wire format. When the `Status` message is exposed in different client libraries and different wire protocols, it can be mapped differently. For example, it will likely be mapped to some exceptions in Java, but more likely mapped to some error codes in C. # Other uses The error model and the `Status` message can be used in a variety of environments, either with or without APIs, to provide a consistent developer experience across different environments. Example uses of this error model include: - Partial errors. If a service needs to return partial errors to the client, it may embed the `Status` in the normal response to indicate the partial errors. - Workflow errors. A typical workflow has multiple steps. Each step may have a `Status` message for error reporting purpose. - Batch operations. If a client uses batch request and batch response, the `Status` message should be used directly inside batch response, one for each error sub-response. - Asynchronous operations. If an API call embeds asynchronous operation results in its response, the status of those operations should be represented directly using the `Status` message. - Logging. If some API errors are stored in logs, the message `Status` could be used directly after any stripping needed for security/privacy reasons.'
    properties:
      code:
        description: 'The status code, which should be an enum value of google.rpc.Code.'
        format: int32
        type: integer
      details:
        description: A list of messages that carry the error details. There will be a common set of message types for APIs to use.
        items:
          additionalProperties:
            description: Properties of the object. Contains field @ype with type URL.
          type: object
        type: array
      message:
        description: 'A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.'
        type: string
    type: object
  TrafficSplit:
    description: 'Configuration for traffic splitting for versions within a single module. Traffic splitting allows traffic directed to the module to be assigned to one of several versions in a fractional way, enabling experiments and canarying new builds, for example.'
    properties:
      allocations:
        additionalProperties:
          format: double
          type: number
        description: 'Mapping from module version IDs within the module to fractional (0.000, 1] allocations of traffic for that version. Each version may only be specified once, but some versions in the module may not have any traffic allocation. Modules that have traffic allocated in this field may not be deleted until the module is deleted, or their traffic allocation is removed. Allocations must sum to 1. Supports precision up to two decimal places for IP-based splits and up to three decimal places for cookie-based splits.'
        type: object
      shardBy:
        description: Which mechanism should be used as a selector when choosing a version to send a request to. The traffic selection algorithm will be stable for either type until allocations are changed.
        enum:
          - UNSPECIFIED
          - COOKIE
          - IP
        type: string
    type: object
  UrlDispatchRule:
    description: Rules to match an HTTP request and dispatch that request to a module.
    properties:
      domain:
        description: "The domain name to match on. Supports '*' (glob) wildcarding on the left-hand side of a '.'. If empty, all domains will be matched (the same as '*')."
        type: string
      module:
        description: 'The resource id of a Module in this application that should service the matched request. The Module must already exist. Example: "default".'
        type: string
      path:
        description: "The pathname within the host. This must start with a '/'. A single '*' (glob) can be included at the end of the path. The sum of the lengths of the domain and path may not exceed 100 characters."
        type: string
    type: object
  UrlMap:
    description: 'A URL pattern and description of how it should be handled. App Engine can handle URLs by executing application code, or by serving static files uploaded with the code, such as images, CSS or JavaScript.'
    properties:
      apiEndpoint:
        $ref: '#/definitions/ApiEndpointHandler'
        description: Use API Endpoints to handle requests.
      authFailAction:
        description: 'For users not logged in, how to handle access to resources with required login. Defaults to "redirect".'
        enum:
          - AUTH_FAIL_ACTION_UNSPECIFIED
          - AUTH_FAIL_ACTION_REDIRECT
          - AUTH_FAIL_ACTION_UNAUTHORIZED
        type: string
      login:
        description: What level of login is required to access this resource.
        enum:
          - LOGIN_UNSPECIFIED
          - LOGIN_OPTIONAL
          - LOGIN_ADMIN
          - LOGIN_REQUIRED
        type: string
      redirectHttpResponseCode:
        description: '`30x` code to use when performing redirects for the `secure` field. A `302` is used by default.'
        enum:
          - REDIRECT_HTTP_RESPONSE_CODE_UNSPECIFIED
          - REDIRECT_HTTP_RESPONSE_CODE_301
          - REDIRECT_HTTP_RESPONSE_CODE_302
          - REDIRECT_HTTP_RESPONSE_CODE_303
          - REDIRECT_HTTP_RESPONSE_CODE_307
        type: string
      script:
        $ref: '#/definitions/ScriptHandler'
        description: Executes a script to handle the request that matches the URL pattern.
      securityLevel:
        description: Configures whether security (HTTPS) should be enforced for this URL.
        enum:
          - SECURE_UNSPECIFIED
          - SECURE_DEFAULT
          - SECURE_NEVER
          - SECURE_OPTIONAL
          - SECURE_ALWAYS
        type: string
      staticDirectory:
        $ref: '#/definitions/StaticDirectoryHandler'
        description: Serves the entire contents of a directory as static files. This attribute is deprecated. You can mimic the behavior of static directories using static files.
      staticFiles:
        $ref: '#/definitions/StaticFilesHandler'
        description: 'Returns the contents of a file, such as an image, as the response.'
      urlRegex:
        description: 'A URL prefix. This value uses regular expression syntax (and so regexp special characters must be escaped), but it should not contain groupings. All URLs that begin with this prefix are handled by this handler, using the portion of the URL after the prefix as part of the file path. This is always required.'
        type: string
    type: object
  Version:
    description: A Version is a specific set of source code and configuration files deployed to a module.
    properties:
      apiConfig:
        $ref: '#/definitions/ApiConfigHandler'
        description: 'Serving configuration for Google Cloud Endpoints. Only returned in `GET` requests if `view=FULL` is set. May only be set on create requests; once created, is immutable.'
      automaticScaling:
        $ref: '#/definitions/AutomaticScaling'
        description: 'Automatic scaling is the scaling policy that App Engine has used since its inception. It is based on request rate, response latencies, and other application metrics.'
      basicScaling:
        $ref: '#/definitions/BasicScaling'
        description: A module with basic scaling will create an instance when the application receives a request. The instance will be turned down when the app becomes idle. Basic scaling is ideal for work that is intermittent or driven by user activity.
      betaSettings:
        additionalProperties:
          type: string
        description: Beta settings supplied to the application via metadata.
        type: object
      creationTime:
        description: Creation time of this version. This will be between the start and end times of the operation that creates this version. @OutputOnly
        type: string
      defaultExpiration:
        description: 'The length of time a static file served by a static file handler ought to be cached by web proxies and browsers, if the handler does not specify its own expiration. Only returned in `GET` requests if `view=FULL` is set. May only be set on create requests; once created, is immutable.'
        type: string
      deployer:
        description: The email address of the user who created this version. @OutputOnly
        type: string
      deployment:
        $ref: '#/definitions/Deployment'
        description: 'Code and application artifacts that make up this version. Only returned in `GET` requests if `view=FULL` is set. May only be set on create requests; once created, is immutable.'
      env:
        description: 'The App Engine execution environment to use for this version. Default: "1"'
        type: string
      envVariables:
        additionalProperties:
          type: string
        description: 'Environment variables made available to the application. Only returned in `GET` requests if `view=FULL` is set. May only be set on create requests; once created, is immutable.'
        type: object
      errorHandlers:
        description: 'Custom static error pages instead of these generic error pages, (limit 10 KB/page) Only returned in `GET` requests if `view=FULL` is set. May only be set on create requests; once created, is immutable.'
        items:
          $ref: '#/definitions/ErrorHandler'
        type: array
      handlers:
        description: 'An ordered list of URL Matching patterns that should be applied to incoming requests. The first matching URL consumes the request, and subsequent handlers are not attempted. Only returned in `GET` requests if `view=FULL` is set. May only be set on create requests; once created, is immutable.'
        items:
          $ref: '#/definitions/UrlMap'
        type: array
      healthCheck:
        $ref: '#/definitions/HealthCheck'
        description: 'Configure health checking for the VM instances. Unhealthy VM instances will be stopped and replaced with new instances. Only returned in `GET` requests if `view=FULL` is set. May only be set on create requests; once created, is immutable.'
      id:
        description: 'The relative name/path of the Version within the module. Example: "v1". Version specifiers can contain lowercase letters, digits, and hyphens. It cannot begin with the prefix `ah-` and the names `default` and `latest` are reserved and cannot be used.'
        type: string
      inboundServices:
        description: 'Before an application can receive email or XMPP messages, the application must be configured to enable the service.'
        items:
          enum:
            - INBOUND_SERVICE_UNSPECIFIED
            - INBOUND_SERVICE_MAIL
            - INBOUND_SERVICE_MAIL_BOUNCE
            - INBOUND_SERVICE_XMPP_ERROR
            - INBOUND_SERVICE_XMPP_MESSAGE
            - INBOUND_SERVICE_XMPP_SUBSCRIBE
            - INBOUND_SERVICE_XMPP_PRESENCE
            - INBOUND_SERVICE_CHANNEL_PRESENCE
            - INBOUND_SERVICE_WARMUP
          type: string
        type: array
      instanceClass:
        description: 'The frontend instance class to use to run this app. Valid values are `[F1, F2, F4, F4_1G]`. Default: "F1"'
        type: string
      libraries:
        description: 'Configuration for Python runtime third-party libraries required by the application. Only returned in `GET` requests if `view=FULL` is set. May only be set on create requests; once created, is immutable.'
        items:
          $ref: '#/definitions/Library'
        type: array
      manualScaling:
        $ref: '#/definitions/ManualScaling'
        description: 'A module with manual scaling runs continuously, allowing you to perform complex initialization and rely on the state of its memory over time.'
      name:
        description: 'The full path to the Version resource in the API. Example: "apps/myapp/modules/default/versions/v1". @OutputOnly'
        type: string
      network:
        $ref: '#/definitions/Network'
        description: Used to specify extra network settings (for VM runtimes only).
      nobuildFilesRegex:
        description: Go only. Files that match this pattern will not be built into the app. May only be set on create requests.
        type: string
      resources:
        $ref: '#/definitions/Resources'
        description: Used to specify how many machine resources an app version needs (for VM runtimes only).
      runtime:
        description: 'The desired runtime. Values can include python27, java7, go, etc.'
        type: string
      servingStatus:
        description: 'The current serving status of this version. Only `SERVING` versions will have instances created or billed for. If this field is unset when a version is created, `SERVING` status will be assumed. It is an error to explicitly set this field to `SERVING_STATUS_UNSPECIFIED`.'
        enum:
          - SERVING_STATUS_UNSPECIFIED
          - SERVING
          - STOPPED
        type: string
      threadsafe:
        description: 'If true, multiple requests can be dispatched to the app at once.'
        type: boolean
      vm:
        description: Whether to deploy this app in a VM container.
        type: boolean
    type: object
