swagger: '2.0'
schemes:
  - https
host: neutrinoapi.com
basePath: /
info:
  contact:
    email: ops@neutrinoapi.com
    name: Neutrino API
    url: 'https://www.neutrinoapi.com/'
  description: The general-purpose API
  license:
    name: MIT
    url: 'https://www.neutrinoapi.com/api/LICENSE-MIT.txt'
  title: NeutrinoAPI
  version: 3.3.5
  x-apisguru-categories:
    - email
    - messaging
    - telecom
    - location
    - text
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://www.neutrinoapi.com/img/NEUTRINO_LOGO_NOBG_126x65.png'
  x-origin:
    - format: swagger
      url: 'https://www.neutrinoapi.com/api/swagger.json'
      version: '2.0'
  x-providerName: neutrinoapi.com
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  api-key:
    description: Your API key
    in: query
    name: api-key
    type: apiKey
    x-skip-client-authentication: false
    x-testValue: ''
  user-id:
    description: Your user ID
    in: query
    name: user-id
    type: apiKey
    x-skip-client-authentication: false
    x-testValue: ''
paths:
  /bad-word-filter:
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: 'Detect bad words, swear words and profanity in a given text'
      operationId: BadWordFilterPost
      parameters:
        - enum:
            - camel
          in: formData
          name: output-case
          required: false
          type: string
        - description: The text content to check. This can be either a URL to load content from or an actual content string
          in: formData
          name: content
          required: true
          type: string
        - description: The character to use to censor out the bad words found
          in: formData
          name: censor-character
          required: false
          type: string
      responses:
        '200':
          description: ''
          examples: {}
          schema:
            $ref: '#/definitions/BadWordFilterResponse'
        '400':
          description: Your API request has been rejected. Check the error code for details
          schema:
            $ref: '#/definitions/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      summary: Bad Word Filter
      tags:
        - Data Tools
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /bin-lookup:
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: 'Perform a BIN (Bank Identification Number) or IIN (Issuer Identification Number) lookup. See: https://www.neutrinoapi.com/api/bin-lookup/'
      operationId: BinLookupPost
      parameters:
        - enum:
            - camel
          in: formData
          name: output-case
          required: false
          type: string
        - description: The BIN or IIN number (the first 6 digits of a credit card number)
          in: formData
          name: bin-number
          required: true
          type: string
        - description: Pass in a customers remote IP address. The API will then determine the country of the IP address and match it against the BIN country. This feature is designed for fraud prevention and detection checks.
          in: formData
          name: customer-ip
          required: false
          type: string
      responses:
        '200':
          description: ''
          examples: {}
          schema:
            $ref: '#/definitions/BinLookupResponse'
        '400':
          description: Your API request has been rejected. Check the error code for details
          schema:
            $ref: '#/definitions/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      summary: BIN Lookup
      tags:
        - E-commerce
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /code-highlight:
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: Code highlight will take raw source code and convert into nicely formatted HTML with syntax and keyword highlighting
      operationId: CodeHighlightPost
      parameters:
        - description: The source content. This can be either a URL to load from or an actual content string
          in: formData
          name: content
          required: true
          type: string
        - description: The code type. See the API docs for all supported types
          in: formData
          name: type
          required: true
          type: string
        - default: false
          description: Add links on source code keywords to the relevant language documentation
          in: formData
          name: add-keyword-links
          required: false
          type: boolean
      responses:
        '200':
          description: ''
          examples: {}
          schema:
            format: binary
            type: string
        '400':
          description: Your API request has been rejected. Check the error code for details
          schema:
            $ref: '#/definitions/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      summary: Code Highlight
      tags:
        - Data Tools
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /convert:
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: A powerful unit and currency conversion tool
      operationId: ConvertPost
      parameters:
        - enum:
            - camel
          in: formData
          name: output-case
          required: false
          type: string
        - description: The value to convert from
          in: formData
          name: from-value
          required: true
          type: string
        - description: The type of the value to convert from
          in: formData
          name: from-type
          required: true
          type: string
        - description: The type to convert to
          in: formData
          name: to-type
          required: true
          type: string
      responses:
        '200':
          description: ''
          examples: {}
          schema:
            $ref: '#/definitions/ConvertResponse'
        '400':
          description: Your API request has been rejected. Check the error code for details
          schema:
            $ref: '#/definitions/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      summary: Convert
      tags:
        - Data Tools
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /email-validate:
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: 'Parse, validate and clean an email address'
      operationId: EmailValidatePost
      parameters:
        - enum:
            - camel
          in: formData
          name: output-case
          required: false
          type: string
        - description: The email address
          in: formData
          name: email
          required: true
          type: string
        - default: false
          description: Automatically attempt to fix typos in the address
          in: formData
          name: fix-typos
          required: false
          type: boolean
      responses:
        '200':
          description: ''
          examples: {}
          schema:
            $ref: '#/definitions/EmailValidateResponse'
        '400':
          description: Your API request has been rejected. Check the error code for details
          schema:
            $ref: '#/definitions/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      summary: Email Validate
      tags:
        - Data Tools
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /email-verify:
    post:
      description: SMTP based email address verification
      operationId: EmailVerifyPost
      parameters:
        - description: An email address
          in: query
          name: email
          required: true
          type: string
        - description: Automatically attempt to fix typos in the address
          in: query
          name: fix-typos
          required: false
          type: boolean
      responses:
        '200':
          description: ''
          examples: {}
          schema:
            $ref: '#/definitions/EmailVerifyResponse'
        '400':
          description: Your API request has been rejected. Check the error code for details
          schema:
            $ref: '#/definitions/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      summary: Email Verify
      tags:
        - Security and Networking
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /geocode-address:
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: 'Geocode an address, partial address or the name of a location'
      operationId: GeocodeAddressPost
      parameters:
        - enum:
            - camel
          in: formData
          name: output-case
          required: false
          type: string
        - description: The address or partial address to try and locate
          in: formData
          name: address
          required: true
          type: string
        - description: The ISO 2-letter country code to be biased towards (default is no country bias)
          in: formData
          name: country-code
          required: false
          type: string
        - default: en
          description: 'The language to display results in, available languages are: de, en, es, fr, it, pt, ru'
          in: formData
          name: language-code
          required: false
          type: string
        - default: false
          description: 'If no matches are found for the given address, start performing a recursive fuzzy search until a geolocation is found. We use a combination of approximate string matching and data cleansing to find possible location matches'
          in: formData
          name: fuzzy-search
          required: false
          type: boolean
      responses:
        '200':
          description: ''
          examples: {}
          schema:
            $ref: '#/definitions/GeocodeAddressResponse'
        '400':
          description: Your API request has been rejected. Check the error code for details
          schema:
            $ref: '#/definitions/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      summary: Geocode Address
      tags:
        - Geolocation
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /geocode-reverse:
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: Convert a geographic coordinate (latitude and longitude) into a real world address or location.
      operationId: GeocodeReversePost
      parameters:
        - enum:
            - camel
          in: formData
          name: output-case
          required: false
          type: string
        - description: The location latitude
          format: double
          in: formData
          name: latitude
          required: true
          type: number
        - description: The location longitude
          format: double
          in: formData
          name: longitude
          required: true
          type: number
        - default: en
          description: 'The language to display results in, available languages are: de, en, es, fr, it, pt, ru'
          in: formData
          name: language-code
          required: false
          type: string
      responses:
        '200':
          description: ''
          examples: {}
          schema:
            $ref: '#/definitions/GeocodeReverseResponse'
        '400':
          description: Your API request has been rejected. Check the error code for details
          schema:
            $ref: '#/definitions/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      summary: Geocode Reverse
      tags:
        - Geolocation
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /hlr-lookup:
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: Connect to the global mobile cellular network and retrieve the status of a mobile device
      operationId: HlrLookupPost
      parameters:
        - enum:
            - camel
          in: formData
          name: output-case
          required: false
          type: string
        - description: A phone number
          in: formData
          name: number
          required: true
          type: string
        - description: 'ISO 2-letter country code, assume numbers are based in this country. If not set numbers are assumed to be in international format (with or without the leading + sign)'
          in: formData
          name: country-code
          required: false
          type: string
      responses:
        '200':
          description: ''
          examples: {}
          schema:
            $ref: '#/definitions/HlrLookupResponse'
        '400':
          description: Your API request has been rejected. Check the error code for details
          schema:
            $ref: '#/definitions/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      summary: HLR Lookup
      tags:
        - Telephony
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /host-reputation:
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: Check the reputation of an IP address or domain against a comprehensive list of blacklists and blocklists (DNSBLs)
      operationId: HostReputationPost
      parameters:
        - enum:
            - camel
          in: formData
          name: output-case
          required: false
          type: string
        - description: An IPv4 address or a domain name. If you supply a domain name it will be checked against the URI DNSBL list
          in: formData
          name: host
          required: true
          type: string
      responses:
        '200':
          description: ''
          examples: {}
          schema:
            $ref: '#/definitions/HostReputationResponse'
        '400':
          description: Your API request has been rejected. Check the error code for details
          schema:
            $ref: '#/definitions/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      summary: Host Reputation
      tags:
        - Security and Networking
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /html-clean:
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: Clean and sanitize untrusted HTML
      operationId: HtmlCleanPost
      parameters:
        - description: The HTML content. This can be either a URL to load HTML from or an actual HTML content string
          in: formData
          name: content
          required: true
          type: string
        - description: 'The level of sanitization, possible values are: plain-text, simple-text, basic-html, basic-html-with-images, advanced-html'
          in: formData
          name: output-type
          required: true
          type: string
      responses:
        '200':
          description: ''
          examples: {}
          schema:
            format: binary
            type: string
        '400':
          description: Your API request has been rejected. Check the error code for details
          schema:
            $ref: '#/definitions/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      summary: HTML Clean
      tags:
        - Data Tools
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /html-extract-tags:
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: Extract specific HTML tag contents or attributes from complex HTML or XHTML content
      operationId: HtmlExtractTagsPost
      parameters:
        - enum:
            - camel
          in: formData
          name: output-case
          required: false
          type: string
        - description: The HTML content. This can be either a URL to load HTML from or an actual HTML content string
          in: formData
          name: content
          required: true
          type: string
        - description: The HTML tag(s) to extract data from. This can just be a simple tag name like 'img' OR a CSS/jQuery style selector
          in: formData
          name: tag
          required: true
          type: string
        - description: 'If set, then extract data from the specified tag attribute. If not set, then data will be extracted from the tags inner content'
          in: formData
          name: attribute
          required: false
          type: string
        - description: The base URL to replace into realive links
          in: formData
          name: base-url
          required: false
          type: string
      responses:
        '200':
          description: ''
          examples: {}
          schema:
            $ref: '#/definitions/HtmlExtractResponse'
        '400':
          description: Your API request has been rejected. Check the error code for details
          schema:
            $ref: '#/definitions/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      summary: HTML Extract
      tags:
        - Data Tools
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /html5-render:
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: 'Render HTML and HTML5 content to PDF, JPG or PNG'
      operationId: Html5RenderPost
      parameters:
        - description: ''
          enum:
            - camel
          in: formData
          name: output-case
          required: false
          type: string
        - description: The HTML content. This can be either a URL to load HTML from or an actual HTML content string
          in: formData
          name: content
          required: true
          type: string
        - default: PDF
          description: 'Which format to output, available options are: PDF, PNG, JPG'
          in: formData
          name: format
          required: false
          type: string
        - default: A4
          description: 'Set the document page size, can be one of: A0 - A9, B0 - B10, Comm10E, DLE or Letter'
          in: formData
          name: page-size
          required: false
          type: string
        - description: The document title
          in: formData
          name: title
          required: false
          type: string
        - default: 0
          description: The document margin (in mm)
          format: int32
          in: formData
          name: margin
          required: false
          type: integer
        - default: 0
          description: The document left margin (in mm)
          format: int32
          in: formData
          name: margin-left
          required: false
          type: integer
        - default: 0
          description: The document right margin (in mm)
          format: int32
          in: formData
          name: margin-right
          required: false
          type: integer
        - default: 0
          description: The document top margin (in mm)
          format: int32
          in: formData
          name: margin-top
          required: false
          type: integer
        - default: 0
          description: The document bottom margin (in mm)
          format: int32
          in: formData
          name: margin-bottom
          required: false
          type: integer
        - default: false
          description: Set the document to lanscape orientation
          in: formData
          name: landscape
          required: false
          type: boolean
        - default: 1
          description: 'Set the zoom factor when rendering the page (2.0 for double size, 0.5 for half size)'
          format: double
          in: formData
          name: zoom
          required: false
          type: number
        - default: false
          description: Render the final document in grayscale
          in: formData
          name: grayscale
          required: false
          type: boolean
        - default: false
          description: Use @media print CSS styles to render the document
          in: formData
          name: media-print
          required: false
          type: boolean
        - default: false
          description: Activate all @media queries before rendering. This can be useful if you wan't to render the mobile version of a responsive website
          in: formData
          name: media-queries
          required: false
          type: boolean
        - default: false
          description: Generate real (fillable) PDF forms from HTML forms
          in: formData
          name: forms
          required: false
          type: boolean
        - description: 'Inject custom CSS into the HTML. e.g. ''body { background-color: red;}'''
          in: formData
          name: css
          required: false
          type: string
        - default: 1024
          description: If rendering to an image format (PNG or JPG) use this image width (in pixels)
          format: int32
          in: formData
          name: image-width
          required: false
          type: integer
        - description: If rendering to an image format (PNG or JPG) use this image height (in pixels). The default is automatic which dynamically sets the image height based on the content
          format: int32
          in: formData
          name: image-height
          required: false
          type: integer
      responses:
        '200':
          description: ''
          examples: {}
          schema:
            format: binary
            type: string
        '400':
          description: Your API request has been rejected. Check the error code for details
          schema:
            $ref: '#/definitions/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      summary: HTML5 Render
      tags:
        - Imaging
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /image-resize:
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: 'Resize an image and output as either JPEG or PNG. See: https://www.neutrinoapi.com/api/image-resize/'
      operationId: ImageResizePost
      parameters:
        - description: The URL to the source image
          in: formData
          name: image-url
          required: true
          type: string
        - description: Width to resize to (in px)
          format: int32
          in: formData
          name: width
          required: true
          type: integer
        - description: Height to resize to (in px)
          format: int32
          in: formData
          name: height
          required: true
          type: integer
        - default: png
          description: 'The output image format, can be either png or jpg'
          in: formData
          name: format
          required: false
          type: string
      responses:
        '200':
          description: ''
          examples: {}
          schema:
            format: binary
            type: string
        '400':
          description: Your API request has been rejected. Check the error code for details
          schema:
            $ref: '#/definitions/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      summary: Image Resize
      tags:
        - Imaging
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /image-watermark:
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: 'Watermark one image with another image. See: https://www.neutrinoapi.com/api/image-watermark/'
      operationId: ImageWatermarkPost
      parameters:
        - description: The URL to the source image
          in: formData
          name: image-url
          required: true
          type: string
        - description: The URL to the watermark image
          in: formData
          name: watermark-url
          required: true
          type: string
        - default: 50
          description: The opacity of the watermark (0 to 100)
          format: int32
          in: formData
          name: opacity
          required: false
          type: integer
        - default: png
          description: 'The output image format, can be either png or jpg'
          in: formData
          name: format
          required: false
          type: string
        - default: center
          description: 'The position of the watermark image, possible values are: center, top-left, top-center, top-right, bottom-left, bottom-center, bottom-right'
          in: formData
          name: position
          required: false
          type: string
        - description: If set resize the resulting image to this width (preserving aspect ratio)
          format: int32
          in: formData
          name: width
          required: false
          type: integer
        - description: If set resize the resulting image to this height (preserving aspect ratio)
          format: int32
          in: formData
          name: height
          required: false
          type: integer
      responses:
        '200':
          description: ''
          examples: {}
          schema:
            format: binary
            type: string
        '400':
          description: Your API request has been rejected. Check the error code for details
          schema:
            $ref: '#/definitions/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      summary: Image Watermark
      tags:
        - Imaging
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /ip-blocklist:
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: The IP Blocklist API will detect potentially malicious or dangerous IP addresses
      operationId: IpBlocklistPost
      parameters:
        - enum:
            - camel
          in: formData
          name: output-case
          required: false
          type: string
        - description: An IPv4 address
          in: formData
          name: ip
          required: true
          type: string
      responses:
        '200':
          description: ''
          examples: {}
          schema:
            $ref: '#/definitions/IpBlocklistResponse'
        '400':
          description: Your API request has been rejected. Check the error code for details
          schema:
            $ref: '#/definitions/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      summary: IP Blocklist
      tags:
        - Security and Networking
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /ip-info:
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: Get location information about an IP address and do reverse DNS (PTR) lookups.
      operationId: IpInfoPost
      parameters:
        - enum:
            - camel
          in: formData
          name: output-case
          required: false
          type: string
        - description: The IP address
          in: formData
          name: ip
          required: true
          type: string
        - default: false
          description: Do a reverse DNS (PTR) lookup. This option can add extra delay to the request so only use it if you need it
          in: formData
          name: reverse-lookup
          required: false
          type: boolean
      responses:
        '200':
          description: ''
          examples: {}
          schema:
            $ref: '#/definitions/IpInfoResponse'
        '400':
          description: Your API request has been rejected. Check the error code for details
          schema:
            $ref: '#/definitions/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      summary: IP Info
      tags:
        - Geolocation
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /ip-probe:
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: Analyze and extract provider information for an IP address
      operationId: IpProbePost
      parameters:
        - description: ''
          enum:
            - camel
          in: formData
          name: output-case
          required: false
          type: string
        - description: IPv4 or IPv6 address
          in: formData
          name: ip
          required: true
          type: string
      responses:
        '200':
          description: ''
          examples: {}
          schema:
            $ref: '#/definitions/IpProbeResponse'
        '400':
          description: Your API request has been rejected. Check the error code for details
          schema:
            $ref: '#/definitions/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      summary: IP Probe
      tags:
        - Security and Networking
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /phone-playback:
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: Make an automated call to any valid phone number and playback an audio message
      operationId: PhonePlaybackPost
      parameters:
        - enum:
            - camel
          in: formData
          name: output-case
          required: false
          type: string
        - description: The phone number to call. Must be valid international format
          in: formData
          name: number
          required: true
          type: string
        - description: 'A URL to a valid audio file. Accepted audio formats are: MP3, WAV, OGG'
          in: formData
          name: audio-url
          required: true
          type: string
      responses:
        '200':
          description: ''
          examples: {}
          schema:
            $ref: '#/definitions/PhonePlaybackResponse'
        '400':
          description: Your API request has been rejected. Check the error code for details
          schema:
            $ref: '#/definitions/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      summary: Phone Playback
      tags:
        - Telephony
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /phone-validate:
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: 'Parse, validate and get location information about a phone number'
      operationId: PhoneValidatePost
      parameters:
        - enum:
            - camel
          in: formData
          name: output-case
          required: false
          type: string
        - description: The phone number
          in: formData
          name: number
          required: true
          type: string
        - description: 'ISO 2-letter country code, assume numbers are based in this country. If not set numbers are assumed to be in international format (with or without the leading + sign)'
          in: formData
          name: country-code
          required: false
          type: string
        - description: Pass in a users IP address and we will assume numbers are based in the country of the IP address
          in: formData
          name: ip
          required: false
          type: string
      responses:
        '200':
          description: ''
          examples: {}
          schema:
            $ref: '#/definitions/PhoneValidateResponse'
        '400':
          description: Your API request has been rejected. Check the error code for details
          schema:
            $ref: '#/definitions/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      summary: Phone Validate
      tags:
        - Data Tools
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /phone-verify:
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: Make an automated call to any valid phone number and playback a unique security code
      operationId: PhoneVerifyPost
      parameters:
        - enum:
            - camel
          in: formData
          name: output-case
          required: false
          type: string
        - description: The phone number to send the verification code to
          in: formData
          name: number
          required: true
          type: string
        - default: 6
          description: The number of digits to use in the security code (between 4 and 12)
          format: int32
          in: formData
          name: code-length
          required: false
          type: integer
        - description: Pass in your own security code. This is useful if you have implemented TOTP or similar 2FA methods. If not set then we will generate a secure random code (only numerical security codes are currently supported)
          format: int32
          in: formData
          name: security-code
          required: false
          type: integer
        - default: 800
          description: The delay in milliseconds between the playback of each security code
          format: int32
          in: formData
          name: playback-delay
          required: false
          type: integer
        - description: 'ISO 2-letter country code, assume numbers are based in this country. If not set numbers are assumed to be in international format (with or without the leading + sign)'
          in: formData
          name: country-code
          required: false
          type: string
        - default: en
          description: 'The language to playback the verification code in, available languages are: de - German, en - English, es - Spanish, fr - Fench, it - Italian, pt - Portuguese, ru - Russian'
          in: formData
          name: language-code
          required: false
          type: string
      responses:
        '200':
          description: ''
          examples: {}
          schema:
            $ref: '#/definitions/PhoneVerifyResponse'
        '400':
          description: Your API request has been rejected. Check the error code for details
          schema:
            $ref: '#/definitions/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      summary: Phone Verify
      tags:
        - Telephony
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /qr-code:
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: 'Generate a QR code as a PNG image. See: https://www.neutrinoapi.com/api/qr-code/'
      operationId: QrCodePost
      parameters:
        - description: The content to encode into the QR code (e.g. a URL or a phone number)
          in: formData
          name: content
          required: true
          type: string
        - default: 250
          description: The width of the QR code (in px)
          format: int32
          in: query
          name: width
          required: false
          type: integer
        - default: 250
          description: The height of the QR code (in px)
          format: int32
          in: formData
          name: height
          required: false
          type: integer
        - default: '#000000'
          description: The QR code foreground color (you should always use a dark color for this)
          in: formData
          name: fg-color
          required: false
          type: string
        - default: '#ffffff'
          description: The QR code background color (you should always use a light color for this)
          in: formData
          name: bg-color
          required: false
          type: string
      responses:
        '200':
          description: ''
          examples: {}
          schema:
            format: binary
            type: string
        '400':
          description: Your API request has been rejected. Check the error code for details
          schema:
            $ref: '#/definitions/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      summary: QR Code
      tags:
        - Imaging
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /sms-verify:
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: Send a unique security code to any mobile device via SMS
      operationId: SmsVerifyPost
      parameters:
        - enum:
            - camel
          in: formData
          name: output-case
          required: false
          type: string
        - description: The phone number to send a verification code to
          in: formData
          name: number
          required: true
          type: string
        - default: 5
          description: The number of digits to use in the security code (must be between 4 and 12)
          format: int32
          in: formData
          name: code-length
          required: false
          type: integer
        - description: ass in your own security code. This is useful if you have implemented TOTP or similar 2FA methods. If not set then we will generate a secure random code (only numerical security codes are currently supported)
          format: int32
          in: formData
          name: security-code
          required: false
          type: integer
        - description: 'ISO 2-letter country code, assume numbers are based in this country. If not set numbers are assumed to be in international format (with or without the leading + sign)'
          in: formData
          name: country-code
          required: false
          type: string
        - default: en
          description: 'The language to send the verification code in, available languages are: de - German, en - English, es - Spanish, fr - Fench, it - Italian, pt - Portuguese, ru - Russian'
          in: formData
          name: language-code
          required: false
          type: string
      responses:
        '200':
          description: ''
          examples: {}
          schema:
            $ref: '#/definitions/SmsVerifyResponse'
        '400':
          description: Your API request has been rejected. Check the error code for details
          schema:
            $ref: '#/definitions/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      summary: SMS Verify
      tags:
        - Telephony
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /url-info:
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: 'Parse, analyze and retrieve content from the supplied URL'
      operationId: UrlInfoPost
      parameters:
        - enum:
            - camel
          in: formData
          name: output-case
          required: false
          type: string
        - description: The URL to process
          in: formData
          name: url
          required: true
          type: string
        - description: 'If this URL responds with html, text, json or xml then return the response. This option is useful if you want to perform further processing on the URL content'
          in: formData
          name: fetch-content
          required: true
          type: boolean
      responses:
        '200':
          description: ''
          examples: {}
          schema:
            $ref: '#/definitions/UrlInfoResponse'
        '400':
          description: Your API request has been rejected. Check the error code for details
          schema:
            $ref: '#/definitions/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      summary: URL Info
      tags:
        - Security and Networking
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /user-agent-info:
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: 'Parse, validate and get detailed user-agent information from a user agent string'
      operationId: UserAgentInfoPost
      parameters:
        - enum:
            - camel
          in: formData
          name: output-case
          required: false
          type: string
        - description: A user-agent string
          in: formData
          name: user-agent
          required: true
          type: string
      responses:
        '200':
          description: ''
          examples: {}
          schema:
            $ref: '#/definitions/UserAgentInfoResponse'
        '400':
          description: Your API request has been rejected. Check the error code for details
          schema:
            $ref: '#/definitions/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      summary: User Agent Info
      tags:
        - Data Tools
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
  /verify-security-code:
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: Check if a security code from one of the verify APIs is valid
      operationId: VerifySecurityCodePost
      parameters:
        - enum:
            - camel
          in: formData
          name: output-case
          required: false
          type: string
        - description: The security code to verify
          format: int32
          in: formData
          name: security-code
          required: true
          type: integer
      responses:
        '200':
          description: ''
          examples: {}
          schema:
            $ref: '#/definitions/VerifySecurityCodeResponse'
        '400':
          description: Your API request has been rejected. Check the error code for details
          schema:
            $ref: '#/definitions/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      summary: Verify Security Code
      tags:
        - Telephony
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
definitions:
  ApiError:
    properties:
      apiError:
        description: API error code. If set and > 0 then an API error has occurred your request could not be completed
        format: int32
        type: integer
      apiErrorMsg:
        description: API error message
        type: string
    required:
      - apiError
      - apiErrorMsg
    title: API Error
    type: object
  BadWordFilterResponse:
    properties:
      badWordsList:
        description: Array of the bad words found
        items:
          type: string
        type: array
      badWordsTotal:
        description: Total number of bad words detected
        format: int32
        type: integer
      censoredContent:
        description: The censored content (only set if censor-character has been set)
        type: string
      isBad:
        description: Does the text contain bad words
        type: boolean
    required:
      - badWordsList
      - badWordsTotal
      - censoredContent
      - isBad
    title: Bad Word Filter Response
    type: object
  BinLookupResponse:
    properties:
      cardBrand:
        description: The card brand (e.g. Visa or Mastercard)
        type: string
      cardCategory:
        description: The card category (if known)
        type: string
      cardType:
        description: 'The card type, will always be one of: DEBIT, CREDIT, CHARGE CARD'
        type: string
      country:
        description: Full country name of the issuer
        type: string
      countryCode:
        description: ISO 2-letter country code of the issuer
        type: string
      ipBlocklisted:
        description: 'True if the customer IP is listed on one of our blocklists, see the IP Blocklist API for more details'
        type: boolean
      ipBlocklists:
        description: An array of strings indicating which blocklists this IP is listed on
        items:
          type: string
        type: array
      ipCity:
        description: The city name (if detectable) from the customer IP
        type: string
      ipCountry:
        description: The country detected from the customer IP
        type: string
      ipCountryCode:
        description: The ISO 2-letter country code detected from the customer IP
        type: string
      ipMatchesBin:
        description: True if the customer IP address country matches the BIN country
        type: boolean
      ipRegion:
        description: The region name (if detectable) from the customer IP
        type: string
      issuer:
        description: The card issuer (if known)
        type: string
      issuerPhone:
        description: The card issuer phone number (if known)
        type: string
      issuerWebsite:
        description: The card issuer website (if known)
        type: string
      valid:
        description: Is this a valid BIN or IIN number
        type: boolean
    required:
      - country
      - ipCity
      - ipMatchesBin
      - cardType
      - cardCategory
      - ipCountryCode
      - ipCountry
      - issuer
      - ipBlocklisted
      - valid
      - ipBlocklists
      - issuerWebsite
      - countryCode
      - ipRegion
      - cardBrand
      - issuerPhone
    title: BIN Lookup Response
    type: object
  Blacklist:
    properties:
      isListed:
        description: 'true if listed, false if not'
        type: boolean
      listHost:
        description: the domain/hostname of the DNSBL
        type: string
      listName:
        description: the name of the DNSBL
        type: string
      listRating:
        description: 'the list rating [1-3] with 1 being the best rating and 3 the lowest rating'
        format: int32
        type: integer
      responseTime:
        description: the DNSBL server response time in milliseconds
        format: int32
        type: integer
      txtRecord:
        description: the TXT record returned for this listing (if listed)
        type: string
    required:
      - isListed
      - listHost
      - listRating
      - listName
      - txtRecord
      - responseTime
    title: Blacklist
    type: object
  ConvertResponse:
    properties:
      fromType:
        description: The type of the value being converted from
        type: string
      fromValue:
        description: The value being converted from
        type: string
      result:
        description: The result of the conversion
        type: string
      toType:
        description: The type being converted to
        type: string
      valid:
        description: Was the coversion successful and produced a valid result
        type: boolean
    required:
      - valid
      - result
      - fromValue
      - toType
      - fromType
    title: Convert Response
    type: object
  EmailValidateResponse:
    properties:
      domain:
        description: The email domain
        type: string
      domainError:
        description: True if this address has a domain error (e.g. no valid mail server records)
        type: boolean
      email:
        description: The full email address (this could be different to the supplied address if fix-typos is used)
        type: string
      isDisposable:
        description: 'True if this address is a disposable, temporary or darknet related email address'
        type: boolean
      isFreemail:
        description: True if this address is a free-mail address
        type: boolean
      isPersonal:
        description: 'True if this address belongs to a person. False if this is a role based address, e.g. admin@, help@, office@, etc.'
        type: boolean
      provider:
        description: The email service provider domain
        type: string
      syntaxError:
        description: True if this address has a syntax error
        type: boolean
      typosFixed:
        description: True if typos have been fixed
        type: boolean
      valid:
        description: Is this a valid email
        type: boolean
    required:
      - valid
      - syntaxError
      - domain
      - domainError
      - isFreemail
      - email
      - isDisposable
      - typosFixed
      - isPersonal
      - provider
    title: Email Validate Response
    type: object
  EmailVerifyResponse:
    properties:
      domain:
        description: The email domain
        type: string
      domainError:
        description: True if this address has a domain error (e.g. no valid mail server records)
        type: boolean
      email:
        description: The full email address (this could be different to the supplied address if typos-fixed is true)
        type: string
      isCatchAll:
        description: True if this email domain has a catch-all policy (it will accept mail for any username)
        type: boolean
      isDisposable:
        description: 'True if this address is a disposable, temporary or darknet related email address'
        type: boolean
      isFreemail:
        description: True if this address is a free-mail address
        type: boolean
      isPersonal:
        description: 'True if this address is for a person. False if this is a role based address, e.g. admin@, help@, office@, etc.'
        type: boolean
      provider:
        description: The email service provider domain
        type: string
      smtpResponse:
        description: The raw SMTP response message received during verification
        type: string
      smtpStatus:
        description: The SMTP verification status for the address (see API docs for full details)
        type: string
      syntaxError:
        description: True if this address has a syntax error
        type: boolean
      typosFixed:
        description: True if typos have been fixed
        type: boolean
      valid:
        description: Is this a valid email address (syntax and domain is valid)
        type: boolean
      verified:
        description: True if this address has passed SMTP verification. Check the smtp-status and smtp-response fields for specific verification details
        type: boolean
    required:
      - valid
      - verified
      - email
      - typosFixed
      - syntaxError
      - domainError
      - domain
      - provider
      - isFreemail
      - isDisposable
      - isPersonal
      - smtpStatus
      - smtpResponse
      - isCatchAll
    title: Email Verify Response
    type: object
  GeocodeAddressResponse:
    properties:
      found:
        description: The number of possible matching locations found
        format: int32
        type: integer
      locations:
        description: Array of matching location objects
        items:
          $ref: '#/definitions/Location'
        type: array
    required:
      - found
      - locations
    title: Geocode Address Response
    type: object
  GeocodeReverseResponse:
    properties:
      address:
        description: The fully formatted address
        type: string
      addressComponents:
        additionalProperties:
          type: string
        description: 'The components which make up the address such as road, city, state etc. May also include additional metadata about the address'
        type: object
      city:
        description: The city of the location
        type: string
      country:
        description: The country of the location
        type: string
      countryCode:
        description: The ISO 2-letter country code of the location
        type: string
      found:
        description: True if these coordinates map to a real location
        type: boolean
      postalCode:
        description: The postal code for the location
        type: string
      state:
        description: The state of the location
        type: string
    required:
      - country
      - found
      - address
      - city
      - countryCode
      - postalCode
      - state
      - addressComponents
    title: Geocode Reverse Response
    type: object
  HlrLookupResponse:
    properties:
      country:
        description: The phone number country
        type: string
      countryCode:
        description: Number location ISO 2-letter country code
        type: string
      hlrStatus:
        description: The HLR lookup status. See API docs for specific status details
        type: string
      hlrValid:
        description: Was the HLR lookup successful. If true then this is a working and registered cell-phone or mobile device (SMS and phone calls will be delivered)
        type: boolean
      imsi:
        description: The mobile IMSI number (only set if HLR lookup valid)
        type: string
      internationalCallingCode:
        description: Numbers international calling code
        type: string
      internationalNumber:
        description: Number represented in international format
        type: string
      isMobile:
        description: Is this a mobile number
        type: boolean
      isPorted:
        description: Has this number been ported to another network
        type: boolean
      isRoaming:
        description: Is this number currently roaming from its origin country
        type: boolean
      localNumber:
        description: Number represented in local format
        type: string
      location:
        description: 'Number location (could be a city, region or country)'
        type: string
      mcc:
        description: The mobile MCC number (only set if HLR lookup valid)
        type: string
      mnc:
        description: The mobile MNC number (only set if HLR lookup valid)
        type: string
      msin:
        description: The mobile MSIN number (only set if HLR lookup valid)
        type: string
      numberType:
        description: 'The number type, possible values are: mobile, fixed-line, premium-rate, toll-free, voip, unknown'
        type: string
      numberValid:
        description: Is this a valid phone number (mobile or otherwise)
        type: boolean
      originNetwork:
        description: The origin mobile carrier name (only set if HLR lookup valid)
        type: string
      portedNetwork:
        description: 'If the number has been ported, the ported to mobile carrier name (only set if HLR lookup valid)'
        type: string
    required:
      - numberValid
      - internationalCallingCode
      - mnc
      - numberType
      - hlrValid
      - hlrStatus
      - portedNetwork
      - imsi
      - mcc
      - internationalNumber
      - localNumber
      - countryCode
      - isPorted
      - msin
      - location
      - originNetwork
      - isMobile
      - isRoaming
      - country
    title: HLR Lookup Response
    type: object
  HostReputationResponse:
    properties:
      isListed:
        description: Is this host blacklisted
        type: boolean
      listCount:
        description: The number of DNSBL's the host is listed on
        format: int32
        type: integer
      lists:
        description: An array of objects for each DNSBL checked
        items:
          $ref: '#/definitions/Blacklist'
        type: array
    required:
      - isListed
      - lists
      - listCount
    title: Host Reputation Response
    type: object
  HtmlExtractResponse:
    properties:
      total:
        description: The total number of values extracted
        format: int32
        type: integer
      values:
        description: Array of extracted values
        items:
          type: string
        type: array
    required:
      - total
      - values
    title: HTML Extract Response
    type: object
  IpBlocklistResponse:
    properties:
      blocklists:
        description: An array of strings indicating which blocklists this IP is listed on (empty if not listed)
        items:
          type: string
        type: array
      ip:
        description: The IP address
        type: string
      isBot:
        description: IP is hosting a malicious bot or is part of a botnet
        type: boolean
      isDshield:
        description: IP has been flagged on DShield (dshield.org)
        type: boolean
      isExploitBot:
        description: IP is hosting an exploit finding bot or exploit scanning software
        type: boolean
      isHijacked:
        description: hijacked netblocks or netblocks controlled by criminal organizations
        type: boolean
      isListed:
        description: Is this IP on a blocklist
        type: boolean
      isMalware:
        description: IP is involved in distributing malware
        type: boolean
      isProxy:
        description: IP has been detected as an anonymous web proxy or anonymous HTTP proxy
        type: boolean
      isSpamBot:
        description: 'IP address is hosting a spam bot, comment spamming or other spamming software'
        type: boolean
      isSpider:
        description: IP is a hostile spider or crawler
        type: boolean
      isSpyware:
        description: 'IP is being used by spyware, malware, botnets or for other malicious activities'
        type: boolean
      isTor:
        description: IP is coming from a Tor node
        type: boolean
      isVpn:
        description: IP has been detected as coming from a VPN hosting provider
        type: boolean
      lastSeen:
        description: The last time this IP was seen on a blocklist (in Unix time or 0 if not listed recently)
        format: int32
        type: integer
      listCount:
        description: The number of blocklists the IP is listed on
        format: int32
        type: integer
    required:
      - ip
      - isBot
      - isExploitBot
      - isMalware
      - isSpider
      - isDshield
      - listCount
      - isProxy
      - isHijacked
      - isTor
      - isSpyware
      - isSpamBot
      - isListed
      - isVpn
      - lastSeen
      - blocklists
    title: IP Blocklist Response
    type: object
  IpInfoResponse:
    properties:
      city:
        description: Full city name (if detectable)
        type: string
      continentCode:
        description: ISO 2-letter continent code
        type: string
      country:
        description: Full country name
        type: string
      countryCode:
        description: ISO 2-letter country code
        type: string
      hostname:
        description: The IPs hostname (only set if reverse-lookup has been used)
        type: string
      latitude:
        description: Location latitude
        format: double
        type: number
      longitude:
        description: Location longitude
        format: double
        type: number
      region:
        description: Full region name (if detectable)
        type: string
      valid:
        description: Is this a valid IP address
        type: boolean
    required:
      - valid
      - country
      - hostname
      - city
      - countryCode
      - latitude
      - region
      - longitude
      - continentCode
    title: IP Info Response
    type: object
  IpProbeResponse:
    properties:
      city:
        description: Full city name (if detectable)
        type: string
      continentCode:
        description: ISO 2-letter continent code
        type: string
      country:
        description: Full country name
        type: string
      countryCode:
        description: ISO 2-letter country code
        type: string
      hostname:
        description: The IPs hostname (PTR)
        type: string
      ip:
        description: The IP address
        type: string
      isHosting:
        description: 'True if this IP belongs to a hosting company. Note that this can still be true even if the provider type is VPN/proxy, this occurs in the case that the IP is detected as both types'
        type: boolean
      isIsp:
        description: 'True if this IP belongs to an ISP. Note that this can still be true even if the provider type is VPN/proxy, this occurs in the case that the IP is detected as both types'
        type: boolean
      providerDescription:
        description: 'A description of the provider, usually extracted from the providers website or WHOIS record'
        type: string
      providerDomain:
        description: The domain name of the provider
        type: string
      providerType:
        description: The detected provider type. See API docs for specific provider type details
        type: string
      providerWebsite:
        description: The website URL for the provider
        type: string
      region:
        description: Full region name (if detectable)
        type: string
      valid:
        description: Is this a valid IPv4 or IPv6 address
        type: boolean
    required:
      - valid
      - country
      - providerType
      - countryCode
      - hostname
      - providerDomain
      - city
      - providerWebsite
      - ip
      - region
      - providerDescription
      - continentCode
      - isHosting
      - isIsp
    title: IP Probe Response
    type: object
  Location:
    properties:
      address:
        description: The fully formatted address
        type: string
      addressComponents:
        additionalProperties:
          type: string
        description: 'The components which make up the address such as road, city, state etc. May also include additional metadata about the address'
        type: object
      city:
        description: The city of the location
        type: string
      country:
        description: The country of the location
        type: string
      countryCode:
        description: The ISO 2-letter country code of the location
        type: string
      latitude:
        description: The location latitude
        format: double
        type: number
      longitude:
        description: The location longitude
        format: double
        type: number
      postalCode:
        description: The postal code for the location
        type: string
      state:
        description: The state of the location (if applicable)
        type: string
    required:
      - country
      - address
      - city
      - countryCode
      - latitude
      - postalCode
      - longitude
      - state
      - addressComponents
    title: Location
    type: object
  PhonePlaybackResponse:
    properties:
      calling:
        description: True if the call is being made now
        type: boolean
      number-valid:
        description: Is this a valid phone number
        type: boolean
    required:
      - calling
      - number-valid
    title: Phone Playback Response
    type: object
  PhoneValidateResponse:
    properties:
      country:
        description: The phone number country
        type: string
      countryCode:
        description: Number location ISO 2-letter country code
        type: string
      internationalCallingCode:
        description: Numbers international calling code
        type: string
      internationalNumber:
        description: Number represented in international format
        type: string
      isMobile:
        description: Is this a mobile number
        type: boolean
      localNumber:
        description: Number represented in local format
        type: string
      location:
        description: 'Number location (could be a city, region or country)'
        type: string
      type:
        description: 'The number type, possible values are: mobile, fixed-line, premium-rate, toll-free, voip, unknown'
        type: string
      valid:
        description: Is this a valid phone number
        type: boolean
    required:
      - valid
      - internationalCallingCode
      - countryCode
      - location
      - isMobile
      - type
      - internationalNumber
      - localNumber
      - country
    title: Phone Validate Response
    type: object
  PhoneVerifyResponse:
    properties:
      calling:
        description: True if the call is being made now
        type: boolean
      numberValid:
        description: Is this a valid phone number
        type: boolean
      securityCode:
        description: 'The security code generated, you can save this code to perform your own verification or you can use the Verify Security Code API'
        type: string
    required:
      - numberValid
      - calling
      - securityCode
    title: Phone Verify Response
    type: object
  SmsVerifyResponse:
    properties:
      numberValid:
        description: Is this a valid phone number
        type: boolean
      securityCode:
        description: 'The security code generated, you can save this code to perform your own verification or you can use the Verify Security Code API'
        type: string
      sent:
        description: True if the SMS has been sent
        type: boolean
    required:
      - numberValid
      - securityCode
      - sent
    title: SMS Verify Response
    type: object
  UrlInfoResponse:
    properties:
      content:
        description: The actual content this URL responded with. Only set if the 'fetch-content' option was used
        type: string
      contentEncoding:
        description: The encoding type the URL uses
        type: string
      contentSize:
        description: The size of the URL content in bytes
        format: int32
        type: integer
      contentType:
        description: The content-type the URL points to
        type: string
      httpOk:
        description: True if this URL responded with an HTTP OK (200) status
        type: boolean
      httpRedirect:
        description: True if this URL responded with a HTTP redirect
        type: boolean
      httpStatus:
        description: The HTTP status code this URL responded with
        format: int32
        type: integer
      httpStatusMessage:
        description: The HTTP status message assoicated with the status code
        type: string
      loadTime:
        description: The time taken to load the URL content (in seconds)
        format: double
        type: number
      query:
        additionalProperties:
          type: object
        description: 'A key:value map of the URL query paramaters'
        type: object
      real:
        description: Is this URL actually serving real content
        type: boolean
      serverCity:
        description: 'Server IP geo-location: full city name (if detectable)'
        type: string
      serverCountry:
        description: 'Server IP geo-location: full country name'
        type: string
      serverCountryCode:
        description: 'Server IP geo-location: ISO 2-letter country code'
        type: string
      serverHostname:
        description: The server hostname (PTR)
        type: string
      serverIp:
        description: The IP address of the server hosting this URL
        type: string
      serverName:
        description: The name of the server software hosting this URL
        type: string
      serverRegion:
        description: 'Server IP geo-location: full region name (if detectable)'
        type: string
      url:
        description: The fully qualified URL. This may be different to the URL requested if http-redirect is True
        type: string
      urlPath:
        description: The URL path
        type: string
      urlPort:
        description: The URL port
        format: int32
        type: integer
      urlProtocol:
        description: The URL protocol (usually http or https)
        type: string
      valid:
        description: Is this a valid well-formed URL
        type: boolean
    required:
      - httpStatusMessage
      - serverRegion
      - query
      - serverName
      - urlPort
      - serverCountry
      - real
      - serverCity
      - urlPath
      - url
      - valid
      - serverHostname
      - loadTime
      - httpOk
      - contentSize
      - httpStatus
      - serverCountryCode
      - contentEncoding
      - serverIp
      - urlProtocol
      - contentType
      - httpRedirect
      - content
    title: URL Info Response
    type: object
  UserAgentInfoResponse:
    properties:
      browserName:
        description: Browser software name
        type: string
      isAndroid:
        description: True if this is an Android based mobile user agent
        type: boolean
      isIos:
        description: True if this is an iOS based mobile user agent
        type: boolean
      isMobile:
        description: True if this is a mobile user-agent
        type: boolean
      mobileBrand:
        description: Mobile device brand
        type: string
      mobileBrowser:
        description: Mobile device browser
        type: string
      mobileModel:
        description: Mobile device model
        type: string
      mobileScreenHeight:
        description: Mobile device screen height (in px)
        format: int32
        type: integer
      mobileScreenWidth:
        description: Mobile device screen width (in px)
        format: int32
        type: integer
      operatingSystem:
        description: Operating system
        type: string
      operatingSystemFamily:
        description: 'The operating system family name, this is the OS name without any version information'
        type: string
      operatingSystemVersion:
        description: The operating system version number (if detectable)
        type: string
      producer:
        description: Producer or manufacturer
        type: string
      type:
        description: 'The user-agent type, possible values are: desktop-browser, email-client, feed-reader, software-library, media-player, mobile-browser, robot, unknown'
        type: string
      version:
        description: Software version
        type: string
    required:
      - mobileScreenWidth
      - mobileBrand
      - mobileModel
      - producer
      - browserName
      - mobileScreenHeight
      - isMobile
      - type
      - version
      - operatingSystem
      - mobileBrowser
      - isAndroid
      - isIos
      - operatingSystemFamily
      - operatingSystemVersion
    title: User Agent Info Response
    type: object
  VerifySecurityCodeResponse:
    properties:
      verified:
        description: True if the code is valid
        type: boolean
    required:
      - verified
    title: Verify Security Code Response
    type: object
