openapi: 3.0.0
info:
  version: 2018-05-01
  x-release: v4
  title: Amazon Chime
  description: <p>The Amazon Chime application programming interface (API) is designed so administrators can perform key tasks, such as creating and managing Amazon Chime accounts, users, and Voice Connectors. This guide provides detailed information about the Amazon Chime API, including operations, types, inputs and outputs, and error codes.</p> <p>You can use an AWS SDK, the AWS Command Line Interface (AWS CLI), or the REST API to make API calls for Amazon Chime. We recommend using an AWS SDK or the AWS CLI. The page for each API action contains a <i>See Also</i> section that includes links to information about using the action with a language-specific AWS SDK or the AWS CLI.</p> <dl> <dt>Using an AWS SDK</dt> <dd> <p> You don't need to write code to calculate a signature for request authentication. The SDK clients authenticate your requests by using access keys that you provide. For more information about AWS SDKs, see the <a href="http://aws.amazon.com/developer/">AWS Developer Center</a>. </p> </dd> <dt>Using the AWS CLI</dt> <dd> <p>Use your access keys with the AWS CLI to make API calls. For information about setting up the AWS CLI, see <a href="https://docs.aws.amazon.com/cli/latest/userguide/installing.html">Installing the AWS Command Line Interface</a> in the <i>AWS Command Line Interface User Guide</i>. For a list of available Amazon Chime commands, see the <a href="https://docs.aws.amazon.com/cli/latest/reference/chime/index.html">Amazon Chime commands</a> in the <i>AWS CLI Command Reference</i>. </p> </dd> <dt>Using REST APIs</dt> <dd> <p>If you use REST to make API calls, you must authenticate your request by providing a signature. Amazon Chime supports Signature Version 4. For more information, see <a href="https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html">Signature Version 4 Signing Process</a> in the <i>Amazon Web Services General Reference</i>.</p> <p>When making REST API calls, use the service name <code>chime</code> and REST endpoint <code>https://service.chime.aws.amazon.com</code>.</p> </dd> </dl> <p>Administrative permissions are controlled using AWS Identity and Access Management (IAM). For more information, see <a href="https://docs.aws.amazon.com/chime/latest/ag/security-iam.html">Identity and Access Management for Amazon Chime</a> in the <i>Amazon Chime Administration Guide</i>.</p>
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png
    backgroundColor: "#FFFFFF"
  termsOfService: https://aws.amazon.com/service-terms/
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: https://github.com/mermade/aws2openapi
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: http://www.apache.org/licenses/
  x-providerName: amazonaws.com
  x-serviceName: chime
  x-origin:
    - contentType: application/json
      url: https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/chime-2018-05-01.normal.json
      converter:
        url: https://github.com/mermade/aws2openapi
        version: 1.0.0
      x-apisguru-driver: external
  x-apiClientRegistration:
    url: https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: https://docs.aws.amazon.com/chime/
servers:
  - url: http://service.chime.aws.amazon.com
    variables: {}
    description: The general Amazon Chime multi-region endpoint
  - url: https://service.chime.aws.amazon.com
    variables: {}
    description: The general Amazon Chime multi-region endpoint
  - url: http://chime.{region}.amazonaws.com.cn
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The Amazon Chime endpoint for China (Beijing) and China (Ningxia)
  - url: https://chime.{region}.amazonaws.com.cn
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The Amazon Chime endpoint for China (Beijing) and China (Ningxia)
x-hasEquivalentPaths: true
paths:
  "/accounts/{accountId}/users/{userId}#operation=associate-phone-number":
    post:
      operationId: AssociatePhoneNumberWithUser
      description: Associates a phone number with the specified Amazon Chime user.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssociatePhoneNumberWithUserResponse"
        "480":
          description: UnauthorizedClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedClientException"
        "481":
          description: NotFoundException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundException"
        "482":
          description: ForbiddenException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenException"
        "483":
          description: BadRequestException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestException"
        "484":
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessDeniedException"
        "485":
          description: ThrottledClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottledClientException"
        "486":
          description: ServiceUnavailableException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableException"
        "487":
          description: ServiceFailureException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      parameters:
        - name: accountId
          in: path
          required: true
          description: The Amazon Chime account ID.
          schema:
            type: string
        - name: userId
          in: path
          required: true
          description: The user ID.
          schema:
            type: string
        - name: operation
          in: query
          required: true
          schema:
            type: string
            enum:
              - associate-phone-number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - E164PhoneNumber
              properties:
                E164PhoneNumber:
                  description: The phone number, in E.164 format.
                  type: string
                  pattern: ^\+?[1-9]\d{1,14}$
                  format: password
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  "/voice-connectors/{voiceConnectorId}#operation=associate-phone-numbers":
    post:
      operationId: AssociatePhoneNumbersWithVoiceConnector
      description: Associates phone numbers with the specified Amazon Chime Voice Connector.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssociatePhoneNumbersWithVoiceConnectorResponse"
        "480":
          description: UnauthorizedClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedClientException"
        "481":
          description: NotFoundException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundException"
        "482":
          description: ForbiddenException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenException"
        "483":
          description: BadRequestException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestException"
        "484":
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessDeniedException"
        "485":
          description: ThrottledClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottledClientException"
        "486":
          description: ServiceUnavailableException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableException"
        "487":
          description: ServiceFailureException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      parameters:
        - name: voiceConnectorId
          in: path
          required: true
          description: The Amazon Chime Voice Connector ID.
          schema:
            type: string
            pattern: .*\S.*
        - name: operation
          in: query
          required: true
          schema:
            type: string
            enum:
              - associate-phone-numbers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - E164PhoneNumbers
              properties:
                E164PhoneNumbers:
                  description: List of phone numbers, in E.164 format.
                  type: array
                  items:
                    $ref: "#/components/schemas/E164PhoneNumber"
                ForceAssociate:
                  description: If true, associates the provided phone numbers with the provided Amazon Chime Voice Connector and removes any previously existing associations. If false, does not associate any phone numbers that have previously existing associations.
                  type: boolean
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  "/voice-connector-groups/{voiceConnectorGroupId}#operation=associate-phone-numbers":
    post:
      operationId: AssociatePhoneNumbersWithVoiceConnectorGroup
      description: Associates phone numbers with the specified Amazon Chime Voice Connector group.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssociatePhoneNumbersWithVoiceConnectorGroupResponse"
        "480":
          description: UnauthorizedClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedClientException"
        "481":
          description: NotFoundException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundException"
        "482":
          description: ForbiddenException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenException"
        "483":
          description: BadRequestException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestException"
        "484":
          description: AccessDeniedException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessDeniedException"
        "485":
          description: ThrottledClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottledClientException"
        "486":
          description: ServiceUnavailableException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableException"
        "487":
          description: ServiceFailureException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      parameters:
        - name: voiceConnectorGroupId
          in: path
          required: true
          description: The Amazon Chime Voice Connector group ID.
          schema:
            type: string
            pattern: .*\S.*
        - name: operation
          in: query
          required: true
          schema:
            type: string
            enum:
              - associate-phone-numbers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - E164PhoneNumbers
              properties:
                E164PhoneNumbers:
                  description: List of phone numbers, in E.164 format.
                  type: array
                  items:
                    $ref: "#/components/schemas/E164PhoneNumber"
                ForceAssociate:
                  description: If true, associates the provided phone numbers with the provided Amazon Chime Voice Connector Group and removes any previously existing associations. If false, does not associate any phone numbers that have previously existing associations.
                  type: boolean
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  "/accounts/{accountId}#operation=associate-signin-delegate-groups":
    post:
      operationId: AssociateSigninDelegateGroupsWithAccount
      description: Associates the specified sign-in delegate groups with the specified Amazon Chime account.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssociateSigninDelegateGroupsWithAccountResponse"
        "480":
          description: UnauthorizedClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedClientException"
        "481":
          description: NotFoundException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundException"
        "482":
          description: ForbiddenException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenException"
        "483":
          description: BadRequestException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestException"
        "484":
          description: ThrottledClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottledClientException"
        "485":
          description: ServiceUnavailableException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableException"
        "486":
          description: ServiceFailureException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      parameters:
        - name: accountId
          in: path
          required: true
          description: The Amazon Chime account ID.
          schema:
            type: string
            pattern: .*\S.*
        - name: operation
          in: query
          required: true
          schema:
            type: string
            enum:
              - associate-signin-delegate-groups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - SigninDelegateGroups
              properties:
                SigninDelegateGroups:
                  description: The sign-in delegate groups.
                  type: array
                  items:
                    $ref: "#/components/schemas/SigninDelegateGroup"
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  "/meetings/{meetingId}/attendees#operation=batch-create":
    post:
      operationId: BatchCreateAttendee
      description: ' Creates up to 100 new attendees for an active Amazon Chime SDK meeting. For more information about the Amazon Chime SDK, see <a href="https://docs.aws.amazon.com/chime-sdk/latest/dg/meetings-sdk.html">Using the Amazon Chime SDK</a> in the <i>Amazon Chime SDK Developer Guide</i>. '
      responses:
        "201":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchCreateAttendeeResponse"
        "480":
          description: BadRequestException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestException"
        "481":
          description: ForbiddenException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenException"
        "482":
          description: NotFoundException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundException"
        "483":
          description: ResourceLimitExceededException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceLimitExceededException"
        "484":
          description: ThrottledClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottledClientException"
        "485":
          description: UnauthorizedClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedClientException"
        "486":
          description: ServiceUnavailableException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableException"
        "487":
          description: ServiceFailureException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      parameters:
        - name: meetingId
          in: path
          required: true
          description: The Amazon Chime SDK meeting ID.
          schema:
            type: string
            pattern: "[a-fA-F0-9]{8}(?:-[a-fA-F0-9]{4}){3}-[a-fA-F0-9]{12}"
        - name: operation
          in: query
          required: true
          schema:
            type: string
            enum:
              - batch-create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - Attendees
              properties:
                Attendees:
                  description: The request containing the attendees to create.
                  type: array
                  items:
                    $ref: "#/components/schemas/CreateAttendeeRequestItem"
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  "/channels/{channelArn}/memberships#operation=batch-create":
    post:
      operationId: BatchCreateChannelMembership
      description: Adds a specified number of users to a channel.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchCreateChannelMembershipResponse"
        "480":
          description: ServiceFailureException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
        "481":
          description: ServiceUnavailableException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableException"
        "482":
          description: UnauthorizedClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedClientException"
        "483":
          description: BadRequestException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestException"
        "484":
          description: ForbiddenException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenException"
        "485":
          description: ThrottledClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottledClientException"
      parameters:
        - name: channelArn
          in: path
          required: true
          description: The ARN of the channel to which you're adding users.
          schema:
            type: string
            pattern: arn:[a-z0-9-\.]{1,63}:[a-z0-9-\.]{0,63}:[a-z0-9-\.]{0,63}:[a-z0-9-\.]{0,63}:[^/].{0,1023}
            minLength: 5
            maxLength: 1600
        - name: x-amz-chime-bearer
          in: header
          required: false
          description: The <code>AppInstanceUserArn</code> of the user that makes the API call.
          schema:
            type: string
            pattern: arn:[a-z0-9-\.]{1,63}:[a-z0-9-\.]{0,63}:[a-z0-9-\.]{0,63}:[a-z0-9-\.]{0,63}:[^/].{0,1023}
            minLength: 5
            maxLength: 1600
        - name: operation
          in: query
          required: true
          schema:
            type: string
            enum:
              - batch-create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - MemberArns
              properties:
                Type:
                  description: The membership type of a user, <code>DEFAULT</code> or <code>HIDDEN</code>. Default members are always returned as part of <code>ListChannelMemberships</code>. Hidden members are only returned if the type filter in <code>ListChannelMemberships</code> equals <code>HIDDEN</code>. Otherwise hidden members are not returned. This is only supported by moderators.
                  type: string
                  enum:
                    - DEFAULT
                    - HIDDEN
                MemberArns:
                  description: The ARNs of the members you want to add to the channel.
                  type: array
                  items:
                    $ref: "#/components/schemas/ChimeArn"
                  minItems: 1
                  maxItems: 100
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  "/accounts/{accountId}/rooms/{roomId}/memberships#operation=batch-create":
    post:
      operationId: BatchCreateRoomMembership
      description: Adds up to 50 members to a chat room in an Amazon Chime Enterprise account. Members can be users or bots. The member role designates whether the member is a chat room administrator or a general chat room member.
      responses:
        "201":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchCreateRoomMembershipResponse"
        "480":
          description: UnauthorizedClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedClientException"
        "481":
          description: NotFoundException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundException"
        "482":
          description: BadRequestException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestException"
        "483":
          description: ForbiddenException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenException"
        "484":
          description: ThrottledClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottledClientException"
        "485":
          description: ServiceUnavailableException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableException"
        "486":
          description: ServiceFailureException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      parameters:
        - name: accountId
          in: path
          required: true
          description: The Amazon Chime account ID.
          schema:
            type: string
            pattern: .*\S.*
        - name: roomId
          in: path
          required: true
          description: The room ID.
          schema:
            type: string
            pattern: .*\S.*
        - name: operation
          in: query
          required: true
          schema:
            type: string
            enum:
              - batch-create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - MembershipItemList
              properties:
                MembershipItemList:
                  description: The list of membership items.
                  type: array
                  items:
                    $ref: "#/components/schemas/MembershipItem"
                  maxItems: 50
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /phone-numbers#operation=batch-delete:
    post:
      operationId: BatchDeletePhoneNumber
      description: <p> Moves phone numbers into the <b>Deletion queue</b>. Phone numbers must be disassociated from any users or Amazon Chime Voice Connectors before they can be deleted. </p> <p> Phone numbers remain in the <b>Deletion queue</b> for 7 days before they are deleted permanently. </p>
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchDeletePhoneNumberResponse"
        "480":
          description: UnauthorizedClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedClientException"
        "481":
          description: NotFoundException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundException"
        "482":
          description: ForbiddenException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenException"
        "483":
          description: BadRequestException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestException"
        "484":
          description: ThrottledClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottledClientException"
        "485":
          description: ServiceUnavailableException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableException"
        "486":
          description: ServiceFailureException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      parameters:
        - name: operation
          in: query
          required: true
          schema:
            type: string
            enum:
              - batch-delete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - PhoneNumberIds
              properties:
                PhoneNumberIds:
                  description: List of phone number IDs.
                  type: array
                  items:
                    $ref: "#/components/schemas/String"
                  minItems: 1
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  "/accounts/{accountId}/users#operation=suspend":
    post:
      operationId: BatchSuspendUser
      description: <p>Suspends up to 50 users from a <code>Team</code> or <code>EnterpriseLWA</code> Amazon Chime account. For more information about different account types, see <a href="https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration Guide</i>.</p> <p>Users suspended from a <code>Team</code> account are disassociated from the account,but they can continue to use Amazon Chime as free users. To remove the suspension from suspended <code>Team</code> account users, invite them to the <code>Team</code> account again. You can use the <a>InviteUsers</a> action to do so.</p> <p>Users suspended from an <code>EnterpriseLWA</code> account are immediately signed out of Amazon Chime and can no longer sign in. To remove the suspension from suspended <code>EnterpriseLWA</code> account users, use the <a>BatchUnsuspendUser</a> action.</p> <p> To sign out users without suspending them, use the <a>LogoutUser</a> action. </p>
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchSuspendUserResponse"
        "480":
          description: UnauthorizedClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedClientException"
        "481":
          description: NotFoundException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundException"
        "482":
          description: ForbiddenException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenException"
        "483":
          description: BadRequestException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestException"
        "484":
          description: ThrottledClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottledClientException"
        "485":
          description: ServiceUnavailableException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableException"
        "486":
          description: ServiceFailureException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      parameters:
        - name: accountId
          in: path
          required: true
          description: The Amazon Chime account ID.
          schema:
            type: string
            pattern: .*\S.*
        - name: operation
          in: query
          required: true
          schema:
            type: string
            enum:
              - suspend
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - UserIdList
              properties:
                UserIdList:
                  description: The request containing the user IDs to suspend.
                  type: array
                  items:
                    $ref: "#/components/schemas/NonEmptyString"
                  maxItems: 50
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  "/accounts/{accountId}/users#operation=unsuspend":
    post:
      operationId: BatchUnsuspendUser
      description: <p>Removes the suspension from up to 50 previously suspended users for the specified Amazon Chime <code>EnterpriseLWA</code> account. Only users on <code>EnterpriseLWA</code> accounts can be unsuspended using this action. For more information about different account types, see <a href="https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html"> Managing Your Amazon Chime Accounts </a> in the account types, in the <i>Amazon Chime Administration Guide</i>. </p> <p> Previously suspended users who are unsuspended using this action are returned to <code>Registered</code> status. Users who are not previously suspended are ignored. </p>
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchUnsuspendUserResponse"
        "480":
          description: UnauthorizedClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedClientException"
        "481":
          description: NotFoundException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundException"
        "482":
          description: ForbiddenException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenException"
        "483":
          description: BadRequestException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestException"
        "484":
          description: ThrottledClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottledClientException"
        "485":
          description: ServiceUnavailableException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableException"
        "486":
          description: ServiceFailureException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      parameters:
        - name: accountId
          in: path
          required: true
          description: The Amazon Chime account ID.
          schema:
            type: string
            pattern: .*\S.*
        - name: operation
          in: query
          required: true
          schema:
            type: string
            enum:
              - unsuspend
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - UserIdList
              properties:
                UserIdList:
                  description: The request containing the user IDs to unsuspend.
                  type: array
                  items:
                    $ref: "#/components/schemas/NonEmptyString"
                  maxItems: 50
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /phone-numbers#operation=batch-update:
    post:
      operationId: BatchUpdatePhoneNumber
      description: <p>Updates phone number product types or calling names. You can update one attribute at a time for each <code>UpdatePhoneNumberRequestItem</code>. For example, you can update the product type or the calling name.</p> <p>For toll-free numbers, you cannot use the Amazon Chime Business Calling product type. For numbers outside the U.S., you must use the Amazon Chime SIP Media Application Dial-In product type.</p> <p>Updates to outbound calling names can take up to 72 hours to complete. Pending updates to outbound calling names must be complete before you can request another update.</p>
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchUpdatePhoneNumberResponse"
        "480":
          description: UnauthorizedClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedClientException"
        "481":
          description: NotFoundException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundException"
        "482":
          description: ForbiddenException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenException"
        "483":
          description: BadRequestException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestException"
        "484":
          description: ThrottledClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottledClientException"
        "485":
          description: ServiceUnavailableException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableException"
        "486":
          description: ServiceFailureException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      parameters:
        - name: operation
          in: query
          required: true
          schema:
            type: string
            enum:
              - batch-update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - UpdatePhoneNumberRequestItems
              properties:
                UpdatePhoneNumberRequestItems:
                  description: The request containing the phone number IDs and product types or calling names to update.
                  type: array
                  items:
                    $ref: "#/components/schemas/UpdatePhoneNumberRequestItem"
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  "/accounts/{accountId}/users":
    post:
      operationId: BatchUpdateUser
      description: Updates user details within the <a>UpdateUserRequestItem</a> object for up to 20 users for the specified Amazon Chime account. Currently, only <code>LicenseType</code> updates are supported for this action.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchUpdateUserResponse"
        "480":
          description: UnauthorizedClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedClientException"
        "481":
          description: NotFoundException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundException"
        "482":
          description: ForbiddenException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenException"
        "483":
          description: BadRequestException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestException"
        "484":
          description: ThrottledClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottledClientException"
        "485":
          description: ServiceUnavailableException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableException"
        "486":
          description: ServiceFailureException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      parameters:
        - name: accountId
          in: path
          required: true
          description: The Amazon Chime account ID.
          schema:
            type: string
            pattern: .*\S.*
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - UpdateUserRequestItems
              properties:
                UpdateUserRequestItems:
                  description: The request containing the user IDs and details to update.
                  type: array
                  items:
                    $ref: "#/components/schemas/UpdateUserRequestItem"
                  maxItems: 20
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
    get:
      operationId: ListUsers
      description: Lists the users that belong to the specified Amazon Chime account. You can specify an email address to list only the user that the email address belongs to.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListUsersResponse"
        "480":
          description: UnauthorizedClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedClientException"
        "481":
          description: NotFoundException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundException"
        "482":
          description: ForbiddenException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenException"
        "483":
          description: BadRequestException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestException"
        "484":
          description: ThrottledClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottledClientException"
        "485":
          description: ServiceUnavailableException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableException"
        "486":
          description: ServiceFailureException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      parameters:
        - name: accountId
          in: path
          required: true
          description: The Amazon Chime account ID.
          schema:
            type: string
            pattern: .*\S.*
        - name: user-email
          in: query
          required: false
          description: Optional. The user email address used to filter results. Maximum 1.
          schema:
            type: string
            pattern: .+@.+\..+
            format: password
        - name: user-type
          in: query
          required: false
          description: The user type.
          schema:
            type: string
            enum:
              - PrivateUser
              - SharedDevice
        - name: max-results
          in: query
          required: false
          description: The maximum number of results to return in a single call. Defaults to 100.
          schema:
            type: integer
            minimum: 1
            maximum: 200
        - name: next-token
          in: query
          required: false
          description: The token to use to retrieve the next page of results.
          schema:
            type: string
        - name: MaxResults
          in: query
          schema:
            type: string
          description: Pagination limit
          required: false
        - name: NextToken
          in: query
          schema:
            type: string
          description: Pagination token
          required: false
  /accounts:
    post:
      operationId: CreateAccount
      description: Creates an Amazon Chime account under the administrator's AWS account. Only <code>Team</code> account types are currently supported for this action. For more information about different account types, see <a href="https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration Guide</i>.
      responses:
        "201":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateAccountResponse"
        "480":
          description: UnauthorizedClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedClientException"
        "481":
          description: NotFoundException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundException"
        "482":
          description: ForbiddenException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenException"
        "483":
          description: BadRequestException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestException"
        "484":
          description: ThrottledClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottledClientException"
        "485":
          description: ServiceUnavailableException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableException"
        "486":
          description: ServiceFailureException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - Name
              properties:
                Name:
                  description: The name of the Amazon Chime account.
                  type: string
                  pattern: .*\S.*
                  minLength: 1
                  maxLength: 100
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
    get:
      operationId: ListAccounts
      description: Lists the Amazon Chime accounts under the administrator's AWS account. You can filter accounts by account name prefix. To find out which Amazon Chime account a user belongs to, you can filter by the user's email address, which returns one account result.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAccountsResponse"
        "480":
          description: UnauthorizedClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedClientException"
        "481":
          description: NotFoundException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundException"
        "482":
          description: ForbiddenException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenException"
        "483":
          description: BadRequestException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestException"
        "484":
          description: ThrottledClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottledClientException"
        "485":
          description: ServiceUnavailableException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableException"
        "486":
          description: ServiceFailureException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      parameters:
        - name: name
          in: query
          required: false
          description: Amazon Chime account name prefix with which to filter results.
          schema:
            type: string
            pattern: .*\S.*
            minLength: 1
            maxLength: 100
        - name: user-email
          in: query
          required: false
          description: User email address with which to filter results.
          schema:
            type: string
            pattern: .+@.+\..+
            format: password
        - name: next-token
          in: query
          required: false
          description: The token to use to retrieve the next page of results.
          schema:
            type: string
        - name: max-results
          in: query
          required: false
          description: The maximum number of results to return in a single call. Defaults to 100.
          schema:
            type: integer
            minimum: 1
            maximum: 200
        - name: MaxResults
          in: query
          schema:
            type: string
          description: Pagination limit
          required: false
        - name: NextToken
          in: query
          schema:
            type: string
          description: Pagination token
          required: false
  /app-instances:
    post:
      operationId: CreateAppInstance
      description: Creates an Amazon Chime SDK messaging <code>AppInstance</code> under an AWS account. Only SDK messaging customers use this API. <code>CreateAppInstance</code> supports idempotency behavior as described in the AWS API Standard.
      responses:
        "201":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateAppInstanceResponse"
        "480":
          description: BadRequestException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestException"
        "481":
          description: ConflictException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConflictException"
        "482":
          description: ForbiddenException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenException"
        "483":
          description: ResourceLimitExceededException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceLimitExceededException"
        "484":
          description: ThrottledClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottledClientException"
        "485":
          description: UnauthorizedClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedClientException"
        "486":
          description: ServiceUnavailableException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableException"
        "487":
          description: ServiceFailureException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - Name
                - ClientRequestToken
              properties:
                Name:
                  description: The name of the <code>AppInstance</code>.
                  type: string
                  pattern: "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u0085\\u00A0-\\uD7FF\\uE000-\\uFFFD\\u10000-\\u10FFFF]*"
                  minLength: 1
                  maxLength: 256
                  format: password
                Metadata:
                  description: The metadata of the <code>AppInstance</code>. Limited to a 1KB string in UTF-8.
                  type: string
                  pattern: .*
                  minLength: 0
                  maxLength: 1024
                  format: password
                ClientRequestToken:
                  description: The <code>ClientRequestToken</code> of the <code>AppInstance</code>.
                  type: string
                  pattern: "[-_a-zA-Z0-9]*"
                  minLength: 2
                  maxLength: 64
                  format: password
                Tags:
                  description: Tags assigned to the <code>AppInstance</code>.
                  type: array
                  items:
                    $ref: "#/components/schemas/Tag"
                  minItems: 1
                  maxItems: 50
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
    get:
      operationId: ListAppInstances
      description: Lists all Amazon Chime <code>AppInstance</code>s created under a single AWS account.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAppInstancesResponse"
        "480":
          description: BadRequestException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestException"
        "481":
          description: ForbiddenException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenException"
        "482":
          description: ThrottledClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottledClientException"
        "483":
          description: UnauthorizedClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedClientException"
        "484":
          description: ServiceUnavailableException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableException"
        "485":
          description: ServiceFailureException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      parameters:
        - name: max-results
          in: query
          required: false
          description: The maximum number of <code>AppInstance</code>s that you want to return.
          schema:
            type: integer
            minimum: 1
            maximum: 50
        - name: next-token
          in: query
          required: false
          description: The token passed by previous API requests until you reach the maximum number of <code>AppInstance</code>s.
          schema:
            type: string
            pattern: .*
            minLength: 0
            maxLength: 2048
            format: password
        - name: MaxResults
          in: query
          schema:
            type: string
          description: Pagination limit
          required: false
        - name: NextToken
          in: query
          schema:
            type: string
          description: Pagination token
          required: false
  "/app-instances/{appInstanceArn}/admins":
    post:
      operationId: CreateAppInstanceAdmin
      description: <p>Promotes an <code>AppInstanceUser</code> to an <code>AppInstanceAdmin</code>. The promoted user can perform the following actions. </p> <ul> <li> <p> <code>ChannelModerator</code> actions across all channels in the <code>AppInstance</code>.</p> </li> <li> <p> <code>DeleteChannelMessage</code> actions.</p> </li> </ul> <p>Only an <code>AppInstanceUser</code> can be promoted to an <code>AppInstanceAdmin</code> role.</p>
      responses:
        "201":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateAppInstanceAdminResponse"
        "480":
          description: BadRequestException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestException"
        "481":
          description: ConflictException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConflictException"
        "482":
          description: ForbiddenException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenException"
        "483":
          description: ResourceLimitExceededException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceLimitExceededException"
        "484":
          description: ThrottledClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottledClientException"
        "485":
          description: UnauthorizedClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedClientException"
        "486":
          description: ServiceUnavailableException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableException"
        "487":
          description: ServiceFailureException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      parameters:
        - name: appInstanceArn
          in: path
          required: true
          description: The ARN of the <code>AppInstance</code>.
          schema:
            type: string
            pattern: arn:[a-z0-9-\.]{1,63}:[a-z0-9-\.]{0,63}:[a-z0-9-\.]{0,63}:[a-z0-9-\.]{0,63}:[^/].{0,1023}
            minLength: 5
            maxLength: 1600
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - AppInstanceAdminArn
              properties:
                AppInstanceAdminArn:
                  description: The ARN of the administrator of the current <code>AppInstance</code>.
                  type: string
                  pattern: arn:[a-z0-9-\.]{1,63}:[a-z0-9-\.]{0,63}:[a-z0-9-\.]{0,63}:[a-z0-9-\.]{0,63}:[^/].{0,1023}
                  minLength: 5
                  maxLength: 1600
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
    get:
      operationId: ListAppInstanceAdmins
      description: Returns a list of the administrators in the <code>AppInstance</code>.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAppInstanceAdminsResponse"
        "480":
          description: BadRequestException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestException"
        "481":
          description: ForbiddenException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenException"
        "482":
          description: ThrottledClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottledClientException"
        "483":
          description: UnauthorizedClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedClientException"
        "484":
          description: ServiceUnavailableException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableException"
        "485":
          description: ServiceFailureException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      parameters:
        - name: appInstanceArn
          in: path
          required: true
          description: The ARN of the <code>AppInstance</code>.
          schema:
            type: string
            pattern: arn:[a-z0-9-\.]{1,63}:[a-z0-9-\.]{0,63}:[a-z0-9-\.]{0,63}:[a-z0-9-\.]{0,63}:[^/].{0,1023}
            minLength: 5
            maxLength: 1600
        - name: max-results
          in: query
          required: false
          description: The maximum number of administrators that you want to return.
          schema:
            type: integer
            minimum: 1
            maximum: 50
        - name: next-token
          in: query
          required: false
          description: The token returned from previous API requests until the number of administrators is reached.
          schema:
            type: string
            pattern: .*
            minLength: 0
            maxLength: 2048
            format: password
        - name: MaxResults
          in: query
          schema:
            type: string
          description: Pagination limit
          required: false
        - name: NextToken
          in: query
          schema:
            type: string
          description: Pagination token
          required: false
  /app-instance-users:
    post:
      operationId: CreateAppInstanceUser
      description: Creates a user under an Amazon Chime <code>AppInstance</code>. The request consists of a unique <code>appInstanceUserId</code> and <code>Name</code> for that user.
      responses:
        "201":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateAppInstanceUserResponse"
        "480":
          description: BadRequestException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestException"
        "481":
          description: ConflictException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConflictException"
        "482":
          description: ForbiddenException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenException"
        "483":
          description: ResourceLimitExceededException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceLimitExceededException"
        "484":
          description: ThrottledClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottledClientException"
        "485":
          description: UnauthorizedClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedClientException"
        "486":
          description: ServiceUnavailableException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableException"
        "487":
          description: ServiceFailureException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - AppInstanceArn
                - AppInstanceUserId
                - Name
                - ClientRequestToken
              properties:
                AppInstanceArn:
                  description: The ARN of the <code>AppInstance</code> request.
                  type: string
                  pattern: arn:[a-z0-9-\.]{1,63}:[a-z0-9-\.]{0,63}:[a-z0-9-\.]{0,63}:[a-z0-9-\.]{0,63}:[^/].{0,1023}
                  minLength: 5
                  maxLength: 1600
                AppInstanceUserId:
                  description: The user ID of the <code>AppInstance</code>.
                  type: string
                  pattern: "[A-Za-z0-9]([A-Za-z0-9\\:\\-\\_\\.\\@]{0,62}[A-Za-z0-9])?"
                  minLength: 1
                  maxLength: 64
                  format: password
                Name:
                  description: The user's name.
                  type: string
                  pattern: .*\S.*
                  minLength: 1
                  maxLength: 100
                  format: password
                Metadata:
                  description: The request's metadata. Limited to a 1KB string in UTF-8.
                  type: string
                  pattern: .*
                  minLength: 0
                  maxLength: 1024
                  format: password
                ClientRequestToken:
                  description: The token assigned to the user requesting an <code>AppInstance</code>.
                  type: string
                  pattern: "[-_a-zA-Z0-9]*"
                  minLength: 2
                  maxLength: 64
                  format: password
                Tags:
                  description: Tags assigned to the <code>AppInstanceUser</code>.
                  type: array
                  items:
                    $ref: "#/components/schemas/Tag"
                  minItems: 1
                  maxItems: 50
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  "/meetings/{meetingId}/attendees":
    post:
      operationId: CreateAttendee
      description: ' Creates a new attendee for an active Amazon Chime SDK meeting. For more information about the Amazon Chime SDK, see <a href="https://docs.aws.amazon.com/chime-sdk/latest/dg/meetings-sdk.html">Using the Amazon Chime SDK</a> in the <i>Amazon Chime SDK Developer Guide</i>. '
      responses:
        "201":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateAttendeeResponse"
        "480":
          description: BadRequestException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestException"
        "481":
          description: ForbiddenException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenException"
        "482":
          description: NotFoundException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundException"
        "483":
          description: ResourceLimitExceededException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceLimitExceededException"
        "484":
          description: ThrottledClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottledClientException"
        "485":
          description: UnauthorizedClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedClientException"
        "486":
          description: ServiceUnavailableException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableException"
        "487":
          description: ServiceFailureException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      parameters:
        - name: meetingId
          in: path
          required: true
          description: The Amazon Chime SDK meeting ID.
          schema:
            type: string
            pattern: "[a-fA-F0-9]{8}(?:-[a-fA-F0-9]{4}){3}-[a-fA-F0-9]{12}"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ExternalUserId
              properties:
                ExternalUserId:
                  description: The Amazon Chime SDK external user ID. An idempotency token. Links the attendee to an identity managed by a builder application.
                  type: string
                  minLength: 2
                  maxLength: 64
                  format: password
                Tags:
                  description: The tag key-value pairs.
                  type: array
                  items:
                    $ref: "#/components/schemas/Tag"
                  minItems: 1
                  maxItems: 10
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
    get:
      operationId: ListAttendees
      description: ' Lists the attendees for the specified Amazon Chime SDK meeting. For more information about the Amazon Chime SDK, see <a href="https://docs.aws.amazon.com/chime-sdk/latest/dg/meetings-sdk.html">Using the Amazon Chime SDK</a> in the <i>Amazon Chime SDK Developer Guide</i>. '
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAttendeesResponse"
        "480":
          description: BadRequestException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestException"
        "481":
          description: ForbiddenException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenException"
        "482":
          description: NotFoundException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundException"
        "483":
          description: ThrottledClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottledClientException"
        "484":
          description: UnauthorizedClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedClientException"
        "485":
          description: ServiceUnavailableException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableException"
        "486":
          description: ServiceFailureException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      parameters:
        - name: meetingId
          in: path
          required: true
          description: The Amazon Chime SDK meeting ID.
          schema:
            type: string
            pattern: "[a-fA-F0-9]{8}(?:-[a-fA-F0-9]{4}){3}-[a-fA-F0-9]{12}"
        - name: next-token
          in: query
          required: false
          description: The token to use to retrieve the next page of results.
          schema:
            type: string
        - name: max-results
          in: query
          required: false
          description: The maximum number of results to return in a single call.
          schema:
            type: integer
            minimum: 1
            maximum: 99
        - name: MaxResults
          in: query
          schema:
            type: string
          description: Pagination limit
          required: false
        - name: NextToken
          in: query
          schema:
            type: string
          description: Pagination token
          required: false
  "/accounts/{accountId}/bots":
    post:
      operationId: CreateBot
      description: Creates a bot for an Amazon Chime Enterprise account.
      responses:
        "201":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateBotResponse"
        "480":
          description: ServiceUnavailableException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableException"
        "481":
          description: ServiceFailureException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
        "482":
          description: ForbiddenException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenException"
        "483":
          description: BadRequestException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestException"
        "484":
          description: UnauthorizedClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedClientException"
        "485":
          description: ResourceLimitExceededException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceLimitExceededException"
        "486":
          description: NotFoundException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundException"
        "487":
          description: ThrottledClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottledClientException"
      parameters:
        - name: accountId
          in: path
          required: true
          description: The Amazon Chime account ID.
          schema:
            type: string
            pattern: .*\S.*
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - DisplayName
              properties:
                DisplayName:
                  description: The bot display name.
                  type: string
                  format: password
                Domain:
                  description: The domain of the Amazon Chime Enterprise account.
                  type: string
                  pattern: .*\S.*
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
    get:
      operationId: ListBots
      description: Lists the bots associated with the administrator's Amazon Chime Enterprise account ID.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListBotsResponse"
        "480":
          description: ServiceUnavailableException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableException"
        "481":
          description: ServiceFailureException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
        "482":
          description: ForbiddenException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenException"
        "483":
          description: UnauthorizedClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedClientException"
        "484":
          description: BadRequestException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestException"
        "485":
          description: NotFoundException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundException"
        "486":
          description: ThrottledClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottledClientException"
      parameters:
        - name: accountId
          in: path
          required: true
          description: The Amazon Chime account ID.
          schema:
            type: string
            pattern: .*\S.*
        - name: max-results
          in: query
          required: false
          description: The maximum number of results to return in a single call. The default is 10.
          schema:
            type: integer
            minimum: 1
            maximum: 99
        - name: next-token
          in: query
          required: false
          description: The token to use to retrieve the next page of results.
          schema:
            type: string
        - name: MaxResults
          in: query
          schema:
            type: string
          description: Pagination limit
          required: false
        - name: NextToken
          in: query
          schema:
            type: string
          description: Pagination token
          required: false
  /channels:
    post:
      operationId: CreateChannel
      description: "<p>Creates a channel to which you can add users and send messages.</p> <p> <b>Restriction</b>: You can't change a channel's privacy.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>"
      responses:
        "201":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateChannelResponse"
        "480":
          description: BadRequestException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestException"
        "481":
          description: ForbiddenException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenException"
        "482":
          description: UnauthorizedClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedClientException"
        "483":
          description: ConflictException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConflictException"
        "484":
          description: ResourceLimitExceededException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceLimitExceededException"
        "485":
          description: ThrottledClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottledClientException"
        "486":
          description: ServiceUnavailableException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableException"
        "487":
          description: ServiceFailureException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      parameters:
        - name: x-amz-chime-bearer
          in: header
          required: false
          description: The <code>AppInstanceUserArn</code> of the user that makes the API call.
          schema:
            type: string
            pattern: arn:[a-z0-9-\.]{1,63}:[a-z0-9-\.]{0,63}:[a-z0-9-\.]{0,63}:[a-z0-9-\.]{0,63}:[^/].{0,1023}
            minLength: 5
            maxLength: 1600
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - AppInstanceArn
                - Name
                - ClientRequestToken
              properties:
                AppInstanceArn:
                  description: The ARN of the channel request.
                  type: string
                  pattern: arn:[a-z0-9-\.]{1,63}:[a-z0-9-\.]{0,63}:[a-z0-9-\.]{0,63}:[a-z0-9-\.]{0,63}:[^/].{0,1023}
                  minLength: 5
                  maxLength: 1600
                Name:
                  description: The name of the channel.
                  type: string
                  pattern: "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u0085\\u00A0-\\uD7FF\\uE000-\\uFFFD\\u10000-\\u10FFFF]*"
                  minLength: 1
                  maxLength: 256
                  format: password
                Mode:
                  description: "The channel mode: <code>UNRESTRICTED</code> or <code>RESTRICTED</code>. Administrators, moderators, and channel members can add themselves and other members to unrestricted channels. Only administrators and moderators can add members to restricted channels."
                  type: string
                  enum:
                    - UNRESTRICTED
                    - RESTRICTED
                Privacy:
                  description: "The channel's privacy level: <code>PUBLIC</code> or <code>PRIVATE</code>. Private channels aren't discoverable by users outside the channel. Public channels are discoverable by anyone in the <code>AppInstance</code>."
                  type: string
                  enum:
                    - PUBLIC
                    - PRIVATE
                Metadata:
                  description: The metadata of the creation request. Limited to 1KB and UTF-8.
                  type: string
                  pattern: .*
                  minLength: 0
                  maxLength: 1024
                  format: password
                ClientRequestToken:
                  description: The client token for the request. An <code>Idempotency</code> token.
                  type: string
                  pattern: "[-_a-zA-Z0-9]*"
                  minLength: 2
                  maxLength: 64
                  format: password
                Tags:
                  description: The tags for the creation request.
                  type: array
                  items:
                    $ref: "#/components/schemas/Tag"
                  minItems: 1
                  maxItems: 50
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  "/channels/{channelArn}/bans":
    post:
      operationId: CreateChannelBan
      description: <p>Permanently bans a member from a channel. Moderators can't add banned members to a channel. To undo a ban, you first have to <code>DeleteChannelBan</code>, and then <code>CreateChannelMembership</code>. Bans are cleaned up when you delete users or channels.</p> <p>If you ban a user who is already part of a channel, that user is automatically kicked from the channel.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>
      responses:
        "201":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateChannelBanResponse"
        "480":
          description: BadRequestException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestException"
        "481":
          description: ForbiddenException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenException"
        "482":
          description: UnauthorizedClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedClientException"
        "483":
          description: ConflictException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConflictException"
        "484":
          description: ResourceLimitExceededException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceLimitExceededException"
        "485":
          description: ThrottledClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottledClientException"
        "486":
          description: ServiceUnavailableException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableException"
        "487":
          description: ServiceFailureException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      parameters:
        - name: channelArn
          in: path
          required: true
          description: The ARN of the ban request.
          schema:
            type: string
            pattern: arn:[a-z0-9-\.]{1,63}:[a-z0-9-\.]{0,63}:[a-z0-9-\.]{0,63}:[a-z0-9-\.]{0,63}:[^/].{0,1023}
            minLength: 5
            maxLength: 1600
        - name: x-amz-chime-bearer
          in: header
          required: false
          description: The <code>AppInstanceUserArn</code> of the user that makes the API call.
          schema:
            type: string
            pattern: arn:[a-z0-9-\.]{1,63}:[a-z0-9-\.]{0,63}:[a-z0-9-\.]{0,63}:[a-z0-9-\.]{0,63}:[^/].{0,1023}
            minLength: 5
            maxLength: 1600
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - MemberArn
              properties:
                MemberArn:
                  description: The ARN of the member being banned.
                  type: string
                  pattern: arn:[a-z0-9-\.]{1,63}:[a-z0-9-\.]{0,63}:[a-z0-9-\.]{0,63}:[a-z0-9-\.]{0,63}:[^/].{0,1023}
                  minLength: 5
                  maxLength: 1600
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
    get:
      operationId: ListChannelBans
      description: <p>Lists all the users banned from a particular channel.</p> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListChannelBansResponse"
        "480":
          description: BadRequestException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestException"
        "481":
          description: ForbiddenException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForbiddenException"
        "482":
          description: UnauthorizedClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedClientException"
        "483":
          description: ThrottledClientException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThrottledClientException"
        "484":
          description: ServiceUnavailableException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceUnavailableException"
        "485":
          description: ServiceFailureException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceFailureException"
      parameters:
        - name: channelArn
          in: path
          required: true
          description: The ARN of the channel.
          schema:
            type: string
            pattern: arn:[a-z0-9-\.]{1,63}:[a-z0-9-\.]{0,63}:[a-z0-9-\.]{0,63}:[a-z0-9-\.]{0,63}:[^/].{0,1023}
            minLength: 5
            maxLength: 1600
        - name: max-results
          in: query
          required: false
          description: The maximum number of bans that you want returned.
          schema:
            type: integer
            minimum: 1
            maximum: 50
        - name: next-token
          in: query
          required: false
          description: The token passed by previous API calls until all requested bans are returned.
          schema:
            type: string
            pattern: .*
            minLength: 0
            maxLength: 2048
            format: password
        - name: x-amz-chime-bearer
          in: header
          required: false
          description: The <code>AppInstanceUserArn</code> of the user that makes the API call.
          schema:
            type: string
            pattern: arn:[a-z0-9-\.]{1,63}:[a-z0-9-\.]{0,63}:[a-z0-9-\.]{0,63}:[a-z0-9-\.]{0,63}:[^/].{0,1023}
            minLength: 5
            maxLength: 1600
        - name: MaxResults
          in: query
          schema:
            type: string
          description: Pagination limit
          required: false
        - name: NextToken
          in: query
          schema:
            type: string
          description: Pagination token
          required: false
  "/channels/{channelArn}/memberships":
    post:
      operationId: CreateChannelMembership
      description: "<p>Adds a user to a channel. The <code>InvitedBy</code> response field is derived from the request header. A channel member can:</p> <ul> <li> <p>List messages</p> </li> <li> <p>Send messages</p> </li> <li> <p>Receive messages</p> </li> <li> <p>Edit their own messages</p> </li> <li> <p>Leave the channel</p> </li> </ul> <p>Privacy settings impact this action as follows:</p> <ul> <li> <p>Public Channels: You do not need to be a member to list messages, but you must be a member to send messages.</p> </li> <li> <p>Private Channels: You must be a member to list or send messages.</p> </li> </ul> <note> <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> of the user that makes the API call as the value in the header.</p> </note>"
      responses:
        "201":
          description: Success
          content:
            application/json:
[...]
