{
  "swagger": "2.0",
  "info": {
    "title": "Google Cloud Search API",
    "description": "The Google Cloud Search API defines an application interface to index documents that contain structured data and to search those indexes. It supports full text search.",
    "contact": {
      "name": "Google",
      "url": "https://google.com"
    },
    "version": "v1"
  },
  "host": "cloudsearch.googleapis.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {},
  "parameters": {
    "access_token": {
      "name": "access_token",
      "in": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "alt": {
      "name": "alt",
      "in": "query",
      "description": "Data format for response.",
      "default": "json",
      "type": "string"
    },
    "bearer_token": {
      "name": "bearer_token",
      "in": "query",
      "description": "OAuth bearer token.",
      "type": "string"
    },
    "callback": {
      "name": "callback",
      "in": "query",
      "description": "JSONP",
      "type": "string"
    },
    "fields": {
      "name": "fields",
      "in": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "name": "key",
      "in": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "name": "oauth_token",
      "in": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "pp": {
      "name": "pp",
      "in": "query",
      "description": "Pretty-print response.",
      "default": "true",
      "type": "boolean"
    },
    "prettyPrint": {
      "name": "prettyPrint",
      "in": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "quotaUser": {
      "name": "quotaUser",
      "in": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "$.xgafv": {
      "name": "$.xgafv",
      "in": "query",
      "description": "V1 error format.",
      "type": "string"
    }
  }
}