swagger: '2.0'
schemes:
  - https
host: www.googleapis.com
basePath: /adexchangebuyer/v1.4
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: 'Accesses your bidding-account information, submits creatives for validation, finds available direct deals, and retrieves performance reports.'
  title: Ad Exchange Buyer
  version: v1.4
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.doubleclickbygoogle.com/static/core/img/doubleclick-google-logo-wide.svg'
  x-origin:
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/adexchangebuyer/v1.4/rest'
    version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: adexchangebuyer
externalDocs:
  url: 'https://developers.google.com/ad-exchange/buyer-rest'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/adexchange.buyer': Manage your Ad Exchange buyer account configuration
    type: oauth2
parameters:
  alt:
    default: json
    description: Data format for the response.
    enum:
      - json
    in: query
    name: alt
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
    in: query
    name: quotaUser
    type: string
  userIp:
    description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    in: query
    name: userIp
    type: string
paths:
  /accounts:
    get:
      description: "Retrieves the authenticated user's list of accounts."
      operationId: adexchangebuyer.accounts.list
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AccountsList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - accounts
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/accounts/{id}':
    get:
      description: Gets one account by ID.
      operationId: adexchangebuyer.accounts.get
      parameters:
        - description: The account id
          in: path
          name: id
          required: true
          type: integer
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Account'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - accounts
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates an existing account. This method supports patch semantics.
      operationId: adexchangebuyer.accounts.patch
      parameters:
        - description: The account id
          in: path
          name: id
          required: true
          type: integer
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Account'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Account'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - accounts
    put:
      description: Updates an existing account.
      operationId: adexchangebuyer.accounts.update
      parameters:
        - description: The account id
          in: path
          name: id
          required: true
          type: integer
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Account'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Account'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - accounts
  /billinginfo:
    get:
      description: Retrieves a list of billing information for all accounts of the authenticated user.
      operationId: adexchangebuyer.billingInfo.list
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/BillingInfoList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - billingInfo
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/billinginfo/{accountId}':
    get:
      description: Returns the billing information for one account specified by account ID.
      operationId: adexchangebuyer.billingInfo.get
      parameters:
        - description: The account id.
          in: path
          name: accountId
          required: true
          type: integer
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/BillingInfo'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - billingInfo
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/billinginfo/{accountId}/{billingId}':
    get:
      description: Returns the budget information for the adgroup specified by the accountId and billingId.
      operationId: adexchangebuyer.budget.get
      parameters:
        - description: The account id to get the budget information for.
          in: path
          name: accountId
          required: true
          type: string
        - description: The billing id to get the budget information for.
          in: path
          name: billingId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Budget'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - budget
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: 'Updates the budget amount for the budget of the adgroup specified by the accountId and billingId, with the budget amount in the request. This method supports patch semantics.'
      operationId: adexchangebuyer.budget.patch
      parameters:
        - description: The account id associated with the budget being updated.
          in: path
          name: accountId
          required: true
          type: string
        - description: The billing id associated with the budget being updated.
          in: path
          name: billingId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Budget'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Budget'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - budget
    put:
      description: 'Updates the budget amount for the budget of the adgroup specified by the accountId and billingId, with the budget amount in the request.'
      operationId: adexchangebuyer.budget.update
      parameters:
        - description: The account id associated with the budget being updated.
          in: path
          name: accountId
          required: true
          type: string
        - description: The billing id associated with the budget being updated.
          in: path
          name: billingId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Budget'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Budget'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - budget
  /creatives:
    get:
      description: "Retrieves a list of the authenticated user's active creatives. A creative will be available 30-40 minutes after submission."
      operationId: adexchangebuyer.creatives.list
      parameters:
        - collectionFormat: multi
          description: 'When specified, only creatives for the given account ids are returned.'
          in: query
          items:
            type: integer
          name: accountId
          type: array
        - collectionFormat: multi
          description: 'When specified, only creatives for the given buyer creative ids are returned.'
          in: query
          items:
            type: string
          name: buyerCreativeId
          type: array
        - description: 'When specified, only creatives having the given deals status are returned.'
          enum:
            - approved
            - conditionally_approved
            - disapproved
            - not_checked
          in: query
          name: dealsStatusFilter
          type: string
        - description: 'Maximum number of entries returned on one result page. If not set, the default is 100. Optional.'
          in: query
          maximum: 1000
          minimum: 1
          name: maxResults
          type: integer
        - description: 'When specified, only creatives having the given open auction status are returned.'
          enum:
            - approved
            - conditionally_approved
            - disapproved
            - not_checked
          in: query
          name: openAuctionStatusFilter
          type: string
        - description: 'A continuation token, used to page through ad clients. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response. Optional.'
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CreativesList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - creatives
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Submit a new creative.
      operationId: adexchangebuyer.creatives.insert
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Creative'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Creative'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - creatives
  '/creatives/{accountId}/{buyerCreativeId}':
    get:
      description: Gets the status for a single creative. A creative will be available 30-40 minutes after submission.
      operationId: adexchangebuyer.creatives.get
      parameters:
        - description: The id for the account that will serve this creative.
          in: path
          name: accountId
          required: true
          type: integer
        - description: The buyer-specific id for this creative.
          in: path
          name: buyerCreativeId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Creative'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - creatives
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/creatives/{accountId}/{buyerCreativeId}/addDeal/{dealId}':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Add a deal id association for the creative.
      operationId: adexchangebuyer.creatives.addDeal
      parameters:
        - description: The id for the account that will serve this creative.
          in: path
          name: accountId
          required: true
          type: integer
        - description: The buyer-specific id for this creative.
          in: path
          name: buyerCreativeId
          required: true
          type: string
        - description: The id of the deal id to associate with this creative.
          in: path
          name: dealId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - creatives
  '/creatives/{accountId}/{buyerCreativeId}/removeDeal/{dealId}':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Remove a deal id associated with the creative.
      operationId: adexchangebuyer.creatives.removeDeal
      parameters:
        - description: The id for the account that will serve this creative.
          in: path
          name: accountId
          required: true
          type: integer
        - description: The buyer-specific id for this creative.
          in: path
          name: buyerCreativeId
          required: true
          type: string
        - description: The id of the deal id to disassociate with this creative.
          in: path
          name: dealId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - creatives
  /performancereport:
    get:
      description: "Retrieves the authenticated user's list of performance metrics."
      operationId: adexchangebuyer.performanceReport.list
      parameters:
        - description: The account id to get the reports.
          in: query
          name: accountId
          required: true
          type: string
        - description: The end time of the report in ISO 8601 timestamp format using UTC.
          in: query
          name: endDateTime
          required: true
          type: string
        - description: The start time of the report in ISO 8601 timestamp format using UTC.
          in: query
          name: startDateTime
          required: true
          type: string
        - description: 'Maximum number of entries returned on one result page. If not set, the default is 100. Optional.'
          in: query
          maximum: 1000
          minimum: 1
          name: maxResults
          type: integer
        - description: 'A continuation token, used to page through performance reports. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response. Optional.'
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/PerformanceReportList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - performanceReport
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/pretargetingconfigs/{accountId}':
    get:
      description: "Retrieves a list of the authenticated user's pretargeting configurations."
      operationId: adexchangebuyer.pretargetingConfig.list
      parameters:
        - description: The account id to get the pretargeting configs for.
          in: path
          name: accountId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/PretargetingConfigList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - pretargetingConfig
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Inserts a new pretargeting configuration.
      operationId: adexchangebuyer.pretargetingConfig.insert
      parameters:
        - description: The account id to insert the pretargeting config for.
          in: path
          name: accountId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/PretargetingConfig'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/PretargetingConfig'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - pretargetingConfig
  '/pretargetingconfigs/{accountId}/{configId}':
    delete:
      description: Deletes an existing pretargeting config.
      operationId: adexchangebuyer.pretargetingConfig.delete
      parameters:
        - description: The account id to delete the pretargeting config for.
          in: path
          name: accountId
          required: true
          type: string
        - description: The specific id of the configuration to delete.
          in: path
          name: configId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - pretargetingConfig
    get:
      description: Gets a specific pretargeting configuration
      operationId: adexchangebuyer.pretargetingConfig.get
      parameters:
        - description: The account id to get the pretargeting config for.
          in: path
          name: accountId
          required: true
          type: string
        - description: The specific id of the configuration to retrieve.
          in: path
          name: configId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/PretargetingConfig'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - pretargetingConfig
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates an existing pretargeting config. This method supports patch semantics.
      operationId: adexchangebuyer.pretargetingConfig.patch
      parameters:
        - description: The account id to update the pretargeting config for.
          in: path
          name: accountId
          required: true
          type: string
        - description: The specific id of the configuration to update.
          in: path
          name: configId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/PretargetingConfig'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/PretargetingConfig'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - pretargetingConfig
    put:
      description: Updates an existing pretargeting config.
      operationId: adexchangebuyer.pretargetingConfig.update
      parameters:
        - description: The account id to update the pretargeting config for.
          in: path
          name: accountId
          required: true
          type: string
        - description: The specific id of the configuration to update.
          in: path
          name: configId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/PretargetingConfig'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/PretargetingConfig'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - pretargetingConfig
  /products/search:
    get:
      description: Gets the requested product.
      operationId: adexchangebuyer.products.search
      parameters:
        - description: The pql query used to query for products.
          in: query
          name: pqlQuery
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GetOffersResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - products
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/products/{productId}':
    get:
      description: Gets the requested product by id.
      operationId: adexchangebuyer.products.get
      parameters:
        - description: The id for the product to get the head revision for.
          in: path
          name: productId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Product'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - products
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  /proposals/insert:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Create the given list of proposals
      operationId: adexchangebuyer.proposals.insert
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CreateOrdersRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CreateOrdersResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - proposals
  /proposals/search:
    get:
      description: Search for proposals using pql query
      operationId: adexchangebuyer.proposals.search
      parameters:
        - description: Query string to retrieve specific proposals.
          in: query
          name: pqlQuery
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GetOrdersResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - proposals
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/proposals/{proposalId}':
    get:
      description: Get a proposal given its id
      operationId: adexchangebuyer.proposals.get
      parameters:
        - description: Id of the proposal to retrieve.
          in: path
          name: proposalId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Proposal'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - proposals
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/proposals/{proposalId}/deals':
    get:
      description: List all the deals for a given proposal
      operationId: adexchangebuyer.marketplacedeals.list
      parameters:
        - description: The proposalId to get deals for.
          in: path
          name: proposalId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GetOrderDealsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - marketplacedeals
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/proposals/{proposalId}/deals/delete':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Delete the specified deals from the proposal
      operationId: adexchangebuyer.marketplacedeals.delete
      parameters:
        - description: The proposalId to delete deals from.
          in: path
          name: proposalId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/DeleteOrderDealsRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/DeleteOrderDealsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - marketplacedeals
  '/proposals/{proposalId}/deals/insert':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Add new deals for the specified proposal
      operationId: adexchangebuyer.marketplacedeals.insert
      parameters:
        - description: proposalId for which deals need to be added.
          in: path
          name: proposalId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AddOrderDealsRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AddOrderDealsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - marketplacedeals
  '/proposals/{proposalId}/deals/update':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Replaces all the deals in the proposal with the passed in deals
      operationId: adexchangebuyer.marketplacedeals.update
      parameters:
        - description: The proposalId to edit deals on.
          in: path
          name: proposalId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/EditAllOrderDealsRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/EditAllOrderDealsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - marketplacedeals
  '/proposals/{proposalId}/notes':
    get:
      description: Get all the notes associated with a proposal
      operationId: adexchangebuyer.marketplacenotes.list
      parameters:
        - description: The proposalId to get notes for.
          in: path
          name: proposalId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GetOrderNotesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - marketplacenotes
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/proposals/{proposalId}/notes/insert':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Add notes to the proposal
      operationId: adexchangebuyer.marketplacenotes.insert
      parameters:
        - description: The proposalId to add notes for.
          in: path
          name: proposalId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AddOrderNotesRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AddOrderNotesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - marketplacenotes
  '/proposals/{proposalId}/{revisionNumber}/{updateAction}':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Update the given proposal. This method supports patch semantics.
      operationId: adexchangebuyer.proposals.patch
      parameters:
        - description: The proposal id to update.
          in: path
          name: proposalId
          required: true
          type: string
        - description: 'The last known revision number to update. If the head revision in the marketplace database has since changed, an error will be thrown. The caller should then fetch the latest proposal at head revision and retry the update at that revision.'
          in: path
          name: revisionNumber
          required: true
          type: string
        - description: The proposed action to take on the proposal.
          enum:
            - accept
            - cancel
            - propose
            - unknownAction
            - updateFinalized
          in: path
          name: updateAction
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Proposal'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Proposal'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - proposals
    put:
      description: Update the given proposal
      operationId: adexchangebuyer.proposals.update
      parameters:
        - description: The proposal id to update.
          in: path
          name: proposalId
          required: true
          type: string
        - description: 'The last known revision number to update. If the head revision in the marketplace database has since changed, an error will be thrown. The caller should then fetch the latest proposal at head revision and retry the update at that revision.'
          in: path
          name: revisionNumber
          required: true
          type: string
        - description: The proposed action to take on the proposal.
          enum:
            - accept
            - cancel
            - propose
            - unknownAction
            - updateFinalized
          in: path
          name: updateAction
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Proposal'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Proposal'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/adexchange.buyer'
      tags:
        - proposals
definitions:
  Account:
    description: Configuration data for an Ad Exchange buyer account.
    properties:
      bidderLocation:
        description: Your bidder locations that have distinct URLs.
        items:
          properties:
            bidProtocol:
              description: "The protocol that the bidder endpoint is using. By default, OpenRTB protocols use JSON, except OPENRTB_PROTOBUF. OPENRTB_PROTOBUF uses protobuf encoding over the latest OpenRTB protocol version, which is 2.3 right now. Allowed values:  \n- ADX \n- OPENRTB_2_2 \n- OPENRTB_2_3 \n- OPENRTB_PROTOBUF"
              type: string
            maximumQps:
              description: The maximum queries per second the Ad Exchange will send.
              format: int32
              type: integer
            region:
              description: "The geographical region the Ad Exchange should send requests from. Only used by some quota systems, but always setting the value is recommended. Allowed values:  \n- ASIA \n- EUROPE \n- US_EAST \n- US_WEST"
              type: string
            url:
              description: The URL to which the Ad Exchange will send bid requests.
              type: string
          type: object
        type: array
      cookieMatchingNid:
        description: The nid parameter value used in cookie match requests. Please contact your technical account manager if you need to change this.
        type: string
      cookieMatchingUrl:
        description: The base URL used in cookie match requests.
        type: string
      id:
        description: Account id.
        format: int32
        type: integer
      kind:
        default: 'adexchangebuyer#account'
        description: Resource type.
        type: string
      maximumActiveCreatives:
        description: 'The maximum number of active creatives that an account can have, where a creative is active if it was inserted or bid with in the last 30 days. Please contact your technical account manager if you need to change this.'
        format: int32
        type: integer
      maximumTotalQps:
        description: The sum of all bidderLocation.maximumQps values cannot exceed this. Please contact your technical account manager if you need to change this.
        format: int32
        type: integer
      numberActiveCreatives:
        description: The number of creatives that this account inserted or bid with in the last 30 days.
        format: int32
        type: integer
    type: object
  AccountsList:
    description: An account feed lists Ad Exchange buyer accounts that the user has access to. Each entry in the feed corresponds to a single buyer account.
    properties:
      items:
        description: A list of accounts.
        items:
          $ref: '#/definitions/Account'
        type: array
      kind:
        default: 'adexchangebuyer#accountsList'
        description: Resource type.
        type: string
    type: object
  AddOrderDealsRequest:
    properties:
      deals:
        description: The list of deals to add
        items:
          $ref: '#/definitions/MarketplaceDeal'
        type: array
      proposalRevisionNumber:
        description: The last known proposal revision number.
        format: int64
        type: string
      updateAction:
        description: Indicates an optional action to take on the proposal
        type: string
    type: object
  AddOrderDealsResponse:
    properties:
      deals:
        description: List of deals added (in the same proposal as passed in the request)
        items:
          $ref: '#/definitions/MarketplaceDeal'
        type: array
      proposalRevisionNumber:
        description: The updated revision number for the proposal.
        format: int64
        type: string
    type: object
  AddOrderNotesRequest:
    properties:
      notes:
        description: The list of notes to add.
        items:
          $ref: '#/definitions/MarketplaceNote'
        type: array
    type: object
  AddOrderNotesResponse:
    properties:
      notes:
        items:
          $ref: '#/definitions/MarketplaceNote'
        type: array
    type: object
  BillingInfo:
    description: The configuration data for an Ad Exchange billing info.
    properties:
      accountId:
        description: Account id.
        format: int32
        type: integer
      accountName:
        description: Account name.
        type: string
      billingId:
        description: 'A list of adgroup IDs associated with this particular account. These IDs may show up as part of a realtime bidding BidRequest, which indicates a bid request for this account.'
        items:
          type: string
        type: array
      kind:
        default: 'adexchangebuyer#billingInfo'
        description: Resource type.
        type: string
    type: object
  BillingInfoList:
    description: A billing info feed lists Billing Info the Ad Exchange buyer account has access to. Each entry in the feed corresponds to a single billing info.
    properties:
      items:
        description: A list of billing info relevant for your account.
        items:
          $ref: '#/definitions/BillingInfo'
        type: array
      kind:
        default: 'adexchangebuyer#billingInfoList'
        description: Resource type.
        type: string
    type: object
  Budget:
    description: The configuration data for Ad Exchange RTB - Budget API.
    properties:
      accountId:
        description: The id of the account. This is required for get and update requests.
        format: int64
        type: string
      billingId:
        description: The billing id to determine which adgroup to provide budget information for. This is required for get and update requests.
        format: int64
        type: string
      budgetAmount:
        description: The daily budget amount in unit amount of the account currency to apply for the billingId provided. This is required for update requests.
        format: int64
        type: string
      currencyCode:
        description: The currency code for the buyer. This cannot be altered here.
        type: string
      id:
        description: The unique id that describes this item.
        type: string
      kind:
        default: 'adexchangebuyer#budget'
        description: 'The kind of the resource, i.e. "adexchangebuyer#budget".'
        type: string
    type: object
  Buyer:
    properties:
      accountId:
        description: Adx account id of the buyer.
        type: string
    type: object
  ContactInformation:
    properties:
      email:
        description: Email address of the contact.
        type: string
      name:
        description: The name of the contact.
        type: string
    type: object
  CreateOrdersRequest:
    properties:
      proposals:
        description: The list of proposals to create.
        items:
          $ref: '#/definitions/Proposal'
        type: array
      webPropertyCode:
        type: string
    type: object
  CreateOrdersResponse:
    properties:
      proposals:
        description: The list of proposals successfully created.
        items:
          $ref: '#/definitions/Proposal'
        type: array
    type: object
  Creative:
    description: A creative and its classification data.
    properties:
      HTMLSnippet:
        description: 'The HTML snippet that displays the ad when inserted in the web page. If set, videoURL should not be set.'
        type: string
      accountId:
        description: Account id.
        format: int32
        type: integer
      advertiserId:
        description: 'Detected advertiser id, if any. Read-only. This field should not be set in requests.'
        items:
          format: int64
          type: string
        type: array
      advertiserName:
        description: The name of the company being advertised in the creative.
        type: string
      agencyId:
        description: The agency id for this creative.
        format: int64
        type: string
      apiUploadTimestamp:
        description: 'The last upload timestamp of this creative if it was uploaded via API. Read-only. The value of this field is generated, and will be ignored for uploads. (formatted RFC 3339 timestamp).'
        format: date-time
        type: string
      attribute:
        description: All attributes for the ads that may be shown from this snippet.
        items:
          format: int32
          type: integer
        type: array
      buyerCreativeId:
        description: A buyer-specific id identifying the creative in this ad.
        type: string
      clickThroughUrl:
        description: The set of destination urls for the snippet.
        items:
          type: string
        type: array
      corrections:
        description: Shows any corrections that were applied to this creative. Read-only. This field should not be set in requests.
        items:
          properties:
            details:
              description: Additional details about the correction.
              items:
                type: string
              type: array
            reason:
              description: The type of correction that was applied to the creative.
              type: string
          type: object
        type: array
      dealsStatus:
        description: 'Top-level deals status. Read-only. This field should not be set in requests. If disapproved, an entry for auctionType=DIRECT_DEALS (or ALL) in servingRestrictions will also exist. Note that this may be nuanced with other contextual restrictions, in which case it may be preferable to read from servingRestrictions directly.'
        type: string
      filteringReasons:
        description: The filtering reasons for the creative. Read-only. This field should not be set in requests.
        properties:
          date:
            description: 'The date in ISO 8601 format for the data. The data is collected from 00:00:00 to 23:59:59 in PST.'
            type: string
          reasons:
            description: The filtering reasons.
            items:
              properties:
                filteringCount:
                  description: The number of times the creative was filtered for the status. The count is aggregated across all publishers on the exchange.
                  format: int64
                  type: string
                filteringStatus:
                  description: The filtering status code. Please refer to the creative-status-codes.txt file for different statuses.
                  format: int32
                  type: integer
              type: object
            type: array
        type: object
      height:
        description: Ad height.
        format: int32
        type: integer
      impressionTrackingUrl:
        description: The set of urls to be called to record an impression.
        items:
          type: string
        type: array
      kind:
        default: 'adexchangebuyer#creative'
        description: Resource type.
        type: string
      nativeAd:
        description: 'If nativeAd is set, HTMLSnippet and videoURL should not be set.'
        properties:
          advertiser:
            type: string
          appIcon:
            description: 'The app icon, for app download ads.'
            properties:
              height:
                format: int32
                type: integer
              url:
                type: string
              width:
                format: int32
                type: integer
            type: object
          body:
            description: A long description of the ad.
            type: string
          callToAction:
            description: A label for the button that the user is supposed to click.
            type: string
          clickTrackingUrl:
            description: The URL to use for click tracking.
            type: string
          headline:
            description: A short title for the ad.
            type: string
          image:
            description: A large image.
            properties:
              height:
                format: int32
                type: integer
              url:
                type: string
              width:
                format: int32
                type: integer
            type: object
          impressionTrackingUrl:
            description: The URLs are called when the impression is rendered.
            items:
              type: string
            type: array
          logo:
            description: 'A smaller image, for the advertiser logo.'
            properties:
              height:
                format: int32
                type: integer
              url:
                type: string
              width:
                format: int32
                type: integer
            type: object
          price:
            description: The price of the promoted app including the currency info.
            type: string
          starRating:
            description: 'The app rating in the app store. Must be in the range [0-5].'
            format: double
            type: number
          store:
            description: The URL to the app store to purchase/download the promoted app.
            type: string
        type: object
      openAuctionStatus:
        description: 'Top-level open auction status. Read-only. This field should not be set in requests. If disapproved, an entry for auctionType=OPEN_AUCTION (or ALL) in servingRestrictions will also exist. Note that this may be nuanced with other contextual restrictions, in which case it may be preferable to read from ServingRestrictions directly.'
        type: string
      productCategories:
        description: 'Detected product categories, if any. Read-only. This field should not be set in requests.'
        items:
          format: int32
          type: integer
        type: array
      restrictedCategories:
        description: All restricted categories for the ads that may be shown from this snippet.
        items:
          format: int32
          type: integer
        type: array
      sensitiveCategories:
        description: 'Detected sensitive categories, if any. Read-only. This field should not be set in requests.'
        items:
          format: int32
          type: integer
        type: array
      servingRestrictions:
        description: 'The granular status of this ad in specific contexts. A context here relates to where something ultimately serves (for example, a physical location, a platform, an HTTPS vs HTTP request, or the type of auction). Read-only. This field should not be set in requests.'
        items:
          properties:
            contexts:
              description: All known contexts/restrictions.
              items:
                properties:
                  auctionType:
                    description: Only set when contextType=AUCTION_TYPE. Represents the auction types this restriction applies to.
                    items:
                      type: string
                    type: array
                  contextType:
                    description: 'The type of context (e.g., location, platform, auction type, SSL-ness).'
                    type: string
                  geoCriteriaId:
                    description: Only set when contextType=LOCATION. Represents the geo criterias this restriction applies to.
                    items:
                      format: int32
                      type: integer
                    type: array
                  platform:
                    description: Only set when contextType=PLATFORM. Represents the platforms this restriction applies to.
                    items:
                      type: string
                    type: array
                type: object
              type: array
            disapprovalReasons:
              description: 'The reasons for disapproval within this restriction, if any. Note that not all disapproval reasons may be categorized, so it is possible for the creative to have a status of DISAPPROVED or CONDITIONALLY_APPROVED with an empty list for disapproval_reasons. In this case, please reach out to your TAM to help debug the issue.'
              items:
                properties:
                  details:
                    description: Additional details about the reason for disapproval.
                    items:
                      type: string
                    type: array
                  reason:
                    description: The categorized reason for disapproval.
                    type: string
                type: object
              type: array
            reason:
              description: 'Why the creative is ineligible to serve in this context (e.g., it has been explicitly disapproved or is pending review).'
              type: string
          type: object
        type: array
      vendorType:
        description: All vendor types for the ads that may be shown from this snippet.
        items:
          format: int32
          type: integer
        type: array
      version:
        description: The version for this creative. Read-only. This field should not be set in requests.
        format: int32
        type: integer
      videoURL:
        description: 'The url to fetch a video ad. If set, HTMLSnippet should not be set.'
        type: string
      width:
        description: Ad width.
        format: int32
        type: integer
    type: object
  CreativesList:
    description: The creatives feed lists the active creatives for the Ad Exchange buyer accounts that the user has access to. Each entry in the feed corresponds to a single creative.
    properties:
      items:
        description: A list of creatives.
        items:
          $ref: '#/definitions/Creative'
        type: array
      kind:
        default: 'adexchangebuyer#creativesList'
        description: Resource type.
        type: string
      nextPageToken:
        description: "Continuation token used to page through creatives. To retrieve the next page of results, set the next request's \"pageToken\" value to this."
        type: string
    type: object
  DealTerms:
    properties:
      brandingType:
        description: Visibilty of the URL in bid requests.
        type: string
      description:
        description: Description for the proposed terms of the deal.
        type: string
      estimatedGrossSpend:
        $ref: '#/definitions/Price'
        description: Non-binding estimate of the estimated gross spend for this deal Can be set by buyer or seller.
      estimatedImpressionsPerDay:
        description: Non-binding estimate of the impressions served per day Can be set by buyer or seller.
        format: int64
        type: string
      guaranteedFixedPriceTerms:
        $ref: '#/definitions/DealTermsGuaranteedFixedPriceTerms'
        description: The terms for guaranteed fixed price deals.
      nonGuaranteedAuctionTerms:
        $ref: '#/definitions/DealTermsNonGuaranteedAuctionTerms'
        description: The terms for non-guaranteed auction deals.
      nonGuaranteedFixedPriceTerms:
        $ref: '#/definitions/DealTermsNonGuaranteedFixedPriceTerms'
        description: The terms for non-guaranteed fixed price deals.
    type: object
  DealTermsGuaranteedFixedPriceTerms:
    properties:
      fixedPrices:
        description: Fixed price for the specified buyer.
        items:
          $ref: '#/definitions/PricePerBuyer'
        type: array
      guaranteedImpressions:
        description: Guaranteed impressions as a percentage. This is the percentage of guaranteed looks that the buyer is guaranteeing to buy.
        format: int64
        type: string
      guaranteedLooks:
        description: 'Count of guaranteed looks. Required for deal, optional for product.'
        format: int64
        type: string
    type: object
  DealTermsNonGuaranteedAuctionTerms:
    properties:
      privateAuctionId:
        description: Id of the corresponding private auction.
        type: string
      reservePricePerBuyers:
        description: Reserve price for the specified buyer.
        items:
          $ref: '#/definitions/PricePerBuyer'
        type: array
    type: object
  DealTermsNonGuaranteedFixedPriceTerms:
    properties:
      fixedPrices:
        description: Fixed price for the specified buyer.
        items:
          $ref: '#/definitions/PricePerBuyer'
        type: array
    type: object
  DeleteOrderDealsRequest:
    properties:
      dealIds:
        description: List of deals to delete for a given proposal
        items:
          type: string
        type: array
      proposalRevisionNumber:
        description: The last known proposal revision number.
        format: int64
        type: string
      updateAction:
        type: string
    type: object
  DeleteOrderDealsResponse:
    properties:
      deals:
        description: List of deals deleted (in the same proposal as passed in the request)
        items:
          $ref: '#/definitions/MarketplaceDeal'
        type: array
      proposalRevisionNumber:
        description: The updated revision number for the proposal.
        format: int64
        type: string
    type: object
  DeliveryControl:
    properties:
      creativeBlockingLevel:
        type: string
      deliveryRateType:
        type: string
      frequencyCaps:
        items:
          $ref: '#/definitions/DeliveryControlFrequencyCap'
        type: array
    type: object
  DeliveryControlFrequencyCap:
    properties:
      maxImpressions:
        format: int32
        type: integer
      numTimeUnits:
        format: int32
        type: integer
      timeUnitType:
        type: string
    type: object
  EditAllOrderDealsRequest:
    properties:
      deals:
        description: 'List of deals to edit. Service may perform 3 different operations based on comparison of deals in this list vs deals already persisted in database: 1. Add new deal to proposal If a deal in this list does not exist in the proposal, the service will create a new deal and add it to the proposal. Validation will follow AddOrderDealsRequest. 2. Update existing deal in the proposal If a deal in this list already exist in the proposal, the service will update that existing deal to this new deal in the request. Validation will follow UpdateOrderDealsRequest. 3. Delete deals from the proposal (just need the id) If a existing deal in the proposal is not present in this list, the service will delete that deal from the proposal. Validation will follow DeleteOrderDealsRequest.'
        items:
          $ref: '#/definitions/MarketplaceDeal'
        type: array
      proposal:
        $ref: '#/definitions/Proposal'
        description: 'If specified, also updates the proposal in the batch transaction. This is useful when the proposal and the deals need to be updated in one transaction.'
      proposalRevisionNumber:
        description: The last known revision number for the proposal.
        format: int64
        type: string
      updateAction:
        description: Indicates an optional action to take on the proposal
        type: string
    type: object
  EditAllOrderDealsResponse:
    properties:
      deals:
        description: List of all deals in the proposal after edit.
        items:
          $ref: '#/definitions/MarketplaceDeal'
        type: array
    type: object
  GetOffersResponse:
    properties:
      products:
        description: The returned list of products.
        items:
          $ref: '#/definitions/Product'
        type: array
    type: object
  GetOrderDealsResponse:
    properties:
      deals:
        description: List of deals for the proposal
        items:
          $ref: '#/definitions/MarketplaceDeal'
        type: array
    type: object
  GetOrderNotesResponse:
    properties:
      notes:
        description: The list of matching notes.
        items:
          $ref: '#/definitions/MarketplaceNote'
        type: array
    type: object
  GetOrdersResponse:
    properties:
      proposals:
        description: The list of matching proposals.
        items:
          $ref: '#/definitions/Proposal'
        type: array
    type: object
  MarketplaceDeal:
    description: A proposal can contain multiple deals. A deal contains the terms and targeting information that is used for serving.
    properties:
      buyerPrivateData:
        $ref: '#/definitions/PrivateData'
        description: Buyer private data (hidden from seller).
      creationTimeMs:
        description: The time (ms since epoch) of the deal creation. (readonly)
        format: int64
        type: string
      creativePreApprovalPolicy:
        description: Specifies the creative pre-approval policy (buyer-readonly)
        type: string
      creativeSafeFrameCompatibility:
        description: Specifies whether the creative is safeFrame compatible (buyer-readonly)
        type: string
      dealId:
        description: A unique deal=id for the deal (readonly).
        type: string
      deliveryControl:
        $ref: '#/definitions/DeliveryControl'
        description: The set of fields around delivery control that are interesting for a buyer to see but are non-negotiable. These are set by the publisher. This message is assigned an id of 100 since some day we would want to model this as a protobuf extension.
      externalDealId:
        description: The external deal id assigned to this deal once the deal is finalized. This is the deal-id that shows up in serving/reporting etc. (readonly)
        type: string
      flightEndTimeMs:
        description: Proposed flight end time of the deal (ms since epoch) This will generally be stored in a granularity of a second. (updatable)
        format: int64
        type: string
      flightStartTimeMs:
        description: Proposed flight start time of the deal (ms since epoch) This will generally be stored in a granularity of a second. (updatable)
        format: int64
        type: string
      inventoryDescription:
        description: Description for the deal terms. (updatable)
        type: string
      kind:
        default: 'adexchangebuyer#marketplaceDeal'
        description: 'Identifies what kind of resource this is. Value: the fixed string "adexchangebuyer#marketplaceDeal".'
        type: string
      lastUpdateTimeMs:
        description: The time (ms since epoch) when the deal was last updated. (readonly)
        format: int64
        type: string
      name:
        description: The name of the deal. (updatable)
        type: string
      productId:
        description: 'The product-id from which this deal was created. (readonly, except on create)'
        type: string
      productRevisionNumber:
        description: 'The revision number of the product that the deal was created from (readonly, except on create)'
        format: int64
        type: string
      proposalId:
        type: string
      sellerContacts:
        description: Optional Seller contact information for the deal (buyer-readonly)
        items:
          $ref: '#/definitions/ContactInformation'
        type: array
      sharedTargetings:
        description: The shared targeting visible to buyers and sellers. (updatable)
        items:
          $ref: '#/definitions/SharedTargeting'
        type: array
      syndicationProduct:
        description: 'The syndication product associated with the deal. (readonly, except on create)'
        type: string
      terms:
        $ref: '#/definitions/DealTerms'
        description: The negotiable terms of the deal. (updatable)
      webPropertyCode:
        type: string
    type: object
  MarketplaceDealParty:
    properties:
      buyer:
        $ref: '#/definitions/Buyer'
        description: The buyer/seller associated with the deal. One of buyer/seller is specified for a deal-party.
      seller:
        $ref: '#/definitions/Seller'
        description: The buyer/seller associated with the deal. One of buyer/seller is specified for a deal party.
    type: object
  MarketplaceLabel:
    properties:
      accountId:
        description: The accountId of the party that created the label.
        type: string
      createTimeMs:
        description: The creation time (in ms since epoch) for the label.
        format: int64
        type: string
      deprecatedMarketplaceDealParty:
        $ref: '#/definitions/MarketplaceDealParty'
        description: Information about the party that created the label.
      label:
        description: The label to use.
        type: string
    type: object
  MarketplaceNote:
    description: A proposal is associated with a bunch of notes which may optionally be associated with a deal and/or revision number.
    properties:
      creatorRole:
        description: The role of the person (buyer/seller) creating the note. (readonly)
        type: string
      dealId:
        description: 'Notes can optionally be associated with a deal. (readonly, except on create)'
        type: string
      kind:
        default: 'adexchangebuyer#marketplaceNote'
        description: 'Identifies what kind of resource this is. Value: the fixed string "adexchangebuyer#marketplaceNote".'
        type: string
      note:
        description: 'The actual note to attach. (readonly, except on create)'
        type: string
      noteId:
        description: The unique id for the note. (readonly)
        type: string
      proposalId:
        description: The proposalId that a note is attached to. (readonly)
        type: string
      proposalRevisionNumber:
        description: 'If the note is associated with a proposal revision number, then store that here. (readonly, except on create)'
        format: int64
        type: string
      timestampMs:
        description: The timestamp (ms since epoch) that this note was created. (readonly)
        format: int64
        type: string
    type: object
  PerformanceReport:
    description: The configuration data for an Ad Exchange performance report list.
    properties:
      bidRate:
        description: The number of bid responses with an ad.
        format: double
        type: number
      bidRequestRate:
        description: The number of bid requests sent to your bidder.
        format: double
        type: number
      calloutStatusRate:
        description: Rate of various prefiltering statuses per match. Please refer to the callout-status-codes.txt file for different statuses.
        items: {}
        type: array
      cookieMatcherStatusRate:
        description: Average QPS for cookie matcher operations.
        items: {}
        type: array
      creativeStatusRate:
        description: Rate of ads with a given status. Please refer to the creative-status-codes.txt file for different statuses.
        items: {}
        type: array
      filteredBidRate:
        description: The number of bid responses that were filtered due to a policy violation or other errors.
        format: double
        type: number
      hostedMatchStatusRate:
        description: Average QPS for hosted match operations.
        items: {}
        type: array
      inventoryMatchRate:
        description: The number of potential queries based on your pretargeting settings.
        format: double
        type: number
      kind:
        default: 'adexchangebuyer#performanceReport'
        description: Resource type.
        type: string
      latency50thPercentile:
        description: The 50th percentile round trip latency(ms) as perceived from Google servers for the duration period covered by the report.
        format: double
        type: number
      latency85thPercentile:
        description: The 85th percentile round trip latency(ms) as perceived from Google servers for the duration period covered by the report.
        format: double
        type: number
      latency95thPercentile:
        description: The 95th percentile round trip latency(ms) as perceived from Google servers for the duration period covered by the report.
        format: double
        type: number
      noQuotaInRegion:
        description: Rate of various quota account statuses per quota check.
        format: double
        type: number
      outOfQuota:
        description: Rate of various quota account statuses per quota check.
        format: double
        type: number
      pixelMatchRequests:
        description: Average QPS for pixel match requests from clients.
        format: double
        type: number
      pixelMatchResponses:
        description: Average QPS for pixel match responses from clients.
        format: double
        type: number
      quotaConfiguredLimit:
        description: The configured quota limits for this account.
        format: double
        type: number
      quotaThrottledLimit:
        description: The throttled quota limits for this account.
        format: double
        type: number
      region:
        description: The trading location of this data.
        type: string
      successfulRequestRate:
        description: The number of properly formed bid responses received by our servers within the deadline.
        format: double
        type: number
      timestamp:
        description: The unix timestamp of the starting time of this performance data.
        format: int64
        type: string
      unsuccessfulRequestRate:
        description: 'The number of bid responses that were unsuccessful due to timeouts, incorrect formatting, etc.'
        format: double
        type: number
    type: object
  PerformanceReportList:
    description: 'The configuration data for an Ad Exchange performance report list. https://sites.google.com/a/google.com/adx-integration/Home/engineering/binary-releases/rtb-api-release https://cs.corp.google.com/#piper///depot/google3/contentads/adx/tools/rtb_api/adxrtb.py'
    properties:
      kind:
        default: 'adexchangebuyer#performanceReportList'
        description: Resource type.
        type: string
      performanceReport:
        description: A list of performance reports relevant for the account.
        items:
          $ref: '#/definitions/PerformanceReport'
        type: array
    type: object
  PretargetingConfig:
    properties:
      billingId:
        description: 'The id for billing purposes, provided for reference. Leave this field blank for insert requests; the id will be generated automatically.'
        format: int64
        type: string
      configId:
        description: The config id; generated automatically. Leave this field blank for insert requests.
        format: int64
        type: string
      configName:
        description: The name of the config. Must be unique. Required for all requests.
        type: string
      creativeType:
        description: List must contain exactly one of PRETARGETING_CREATIVE_TYPE_HTML or PRETARGETING_CREATIVE_TYPE_VIDEO.
        items:
          type: string
        type: array
      dimensions:
        description: 'Requests which allow one of these (width, height) pairs will match. All pairs must be supported ad dimensions.'
        items:
          properties:
            height:
              description: Height in pixels.
              format: int64
              type: string
            width:
              description: Width in pixels.
              format: int64
              type: string
          type: object
        type: array
      excludedContentLabels:
        description: Requests with any of these content labels will not match. Values are from content-labels.txt in the downloadable files section.
        items:
          format: int64
          type: string
        type: array
      excludedGeoCriteriaIds:
        description: Requests containing any of these geo criteria ids will not match.
        items:
          format: int64
          type: string
        type: array
      excludedPlacements:
        description: Requests containing any of these placements will not match.
        items:
          properties:
            token:
              description: 'The value of the placement. Interpretation depends on the placement type, e.g. URL for a site placement, channel name for a channel placement, app id for a mobile app placement.'
              type: string
            type:
              description: The type of the placement.
              type: string
          type: object
        type: array
      excludedUserLists:
        description: Requests containing any of these users list ids will not match.
        items:
          format: int64
          type: string
        type: array
      excludedVerticals:
        description: Requests containing any of these vertical ids will not match. Values are from the publisher-verticals.txt file in the downloadable files section.
        items:
          format: int64
          type: string
        type: array
      geoCriteriaIds:
        description: Requests containing any of these geo criteria ids will match.
        items:
          format: int64
          type: string
        type: array
      isActive:
        description: Whether this config is active. Required for all requests.
        type: boolean
      kind:
        default: 'adexchangebuyer#pretargetingConfig'
        description: 'The kind of the resource, i.e. "adexchangebuyer#pretargetingConfig".'
        type: string
      languages:
        description: Request containing any of these language codes will match.
        items:
          type: string
        type: array
      mobileCarriers:
        description: Requests containing any of these mobile carrier ids will match. Values are from mobile-carriers.csv in the downloadable files section.
        items:
          format: int64
          type: string
        type: array
      mobileDevices:
        description: Requests containing any of these mobile device ids will match. Values are from mobile-devices.csv in the downloadable files section.
        items:
          format: int64
          type: string
        type: array
      mobileOperatingSystemVersions:
        description: Requests containing any of these mobile operating system version ids will match. Values are from mobile-os.csv in the downloadable files section.
        items:
          format: int64
          type: string
        type: array
      placements:
        description: Requests containing any of these placements will match.
        items:
          properties:
            token:
              description: 'The value of the placement. Interpretation depends on the placement type, e.g. URL for a site placement, channel name for a channel placement, app id for a mobile app placement.'
              type: string
            type:
              description: The type of the placement.
              type: string
          type: object
        type: array
      platforms:
        description: 'Requests matching any of these platforms will match. Possible values are PRETARGETING_PLATFORM_MOBILE, PRETARGETING_PLATFORM_DESKTOP, and PRETARGETING_PLATFORM_TABLET.'
        items:
          type: string
        type: array
      supportedCreativeAttributes:
        description: Creative attributes should be declared here if all creatives corresponding to this pretargeting configuration have that creative attribute. Values are from pretargetable-creative-attributes.txt in the downloadable files section.
        items:
          format: int64
          type: string
        type: array
      userLists:
        description: Requests containing any of these user list ids will match.
        items:
          format: int64
          type: string
        type: array
      vendorTypes:
        description: Requests that allow any of these vendor ids will match. Values are from vendors.txt in the downloadable files section.
        items:
          format: int64
          type: string
        type: array
      verticals:
        description: Requests containing any of these vertical ids will match.
        items:
          format: int64
          type: string
        type: array
      videoPlayerSizes:
        description: Video requests satisfying any of these player size constraints will match.
        items:
          properties:
            aspectRatio:
              description: The type of aspect ratio. Leave this field blank to match all aspect ratios.
              type: string
            minHeight:
              description: The minimum player height in pixels. Leave this field blank to match any player height.
              format: int64
              type: string
            minWidth:
              description: The minimum player width in pixels. Leave this field blank to match any player width.
              format: int64
              type: string
          type: object
        type: array
    type: object
  PretargetingConfigList:
    properties:
      items:
        description: A list of pretargeting configs
        items:
          $ref: '#/definitions/PretargetingConfig'
        type: array
      kind:
        default: 'adexchangebuyer#pretargetingConfigList'
        description: Resource type.
        type: string
    type: object
  Price:
    properties:
      amountMicros:
        description: The price value in micros.
        format: double
        type: number
      currencyCode:
        description: The currency code for the price.
        type: string
      pricingType:
        description: The pricing type for the deal/product.
        type: string
    type: object
  PricePerBuyer:
    description: 'Used to specify pricing rules for buyers/advertisers. Each PricePerBuyer in an product can become [0,1] deals. To check if there is a PricePerBuyer for a particular buyer or buyer/advertiser pair, we look for the most specific matching rule - we first look for a rule matching the buyer and advertiser, next a rule with the buyer but an empty advertiser list, and otherwise look for a matching rule where no buyer is set.'
    properties:
      buyer:
        $ref: '#/definitions/Buyer'
        description: "The buyer who will pay this price. If unset, all buyers can pay this price (if the advertisers match, and there's no more specific rule matching the buyer)."
      price:
        $ref: '#/definitions/Price'
        description: The specified price
    type: object
  PrivateData:
    properties:
      referenceId:
        type: string
      referencePayload:
        format: byte
        type: string
    type: object
  Product:
    description: |-
      A product is segment of inventory that a seller wishes to sell. It is associated with certain terms and targeting information which helps buyer know more about the inventory. Each field in a product can have one of the following setting:

      (readonly) - It is an error to try and set this field. (buyer-readonly) - Only the seller can set this field. (seller-readonly) - Only the buyer can set this field. (updatable) - The field is updatable at all times by either buyer or the seller.
    properties:
      creationTimeMs:
        description: Creation time in ms. since epoch (readonly)
        format: int64
        type: string
      creatorContacts:
        description: Optional contact information for the creator of this product. (buyer-readonly)
        items:
          $ref: '#/definitions/ContactInformation'
        type: array
      flightEndTimeMs:
        description: The proposed end time for the deal (ms since epoch) (buyer-readonly)
        format: int64
        type: string
      flightStartTimeMs:
        description: Inventory availability dates. (times are in ms since epoch) The granularity is generally in the order of seconds. (buyer-readonly)
        format: int64
        type: string
      hasCreatorSignedOff:
        description: 'If the creator has already signed off on the product, then the buyer can finalize the deal by accepting the product as is. When copying to a proposal, if any of the terms are changed, then auto_finalize is automatically set to false.'
        type: boolean
      inventorySource:
        description: 'What exchange will provide this inventory (readonly, except on create).'
        type: string
      kind:
        default: 'adexchangebuyer#product'
        description: 'Identifies what kind of resource this is. Value: the fixed string "adexchangebuyer#product".'
        type: string
      labels:
        description: 'Optional List of labels for the product (optional, buyer-readonly).'
        items:
          $ref: '#/definitions/MarketplaceLabel'
        type: array
      lastUpdateTimeMs:
        description: Time of last update in ms. since epoch (readonly)
        format: int64
        type: string
      name:
        description: The name for this product as set by the seller. (buyer-readonly)
        type: string
      productId:
        description: The unique id for the product (readonly)
        type: string
      revisionNumber:
        description: The revision number of the product. (readonly)
        format: int64
        type: string
      seller:
        $ref: '#/definitions/Seller'
        description: 'Information about the seller that created this product (readonly, except on create)'
      sharedTargetings:
        description: Targeting that is shared between the buyer and the seller. Each targeting criteria has a specified key and for each key there is a list of inclusion value or exclusion values. (buyer-readonly)
        items:
          $ref: '#/definitions/SharedTargeting'
        type: array
      state:
        description: The state of the product. (buyer-readonly)
        type: string
      syndicationProduct:
        description: 'The syndication product associated with the deal. (readonly, except on create)'
        type: string
      terms:
        $ref: '#/definitions/DealTerms'
        description: The negotiable terms of the deal (buyer-readonly)
      webPropertyCode:
        type: string
    type: object
  Proposal:
    description: |-
      Represents a proposal in the marketplace. A proposal is the unit of negotiation between a seller and a buyer and contains deals which are served. Each field in a proposal can have one of the following setting:

      (readonly) - It is an error to try and set this field. (buyer-readonly) - Only the seller can set this field. (seller-readonly) - Only the buyer can set this field. (updatable) - The field is updatable at all times by either buyer or the seller.
    properties:
      billedBuyer:
        $ref: '#/definitions/Buyer'
        description: Reference to the buyer that will get billed for this proposal. (readonly)
      buyer:
        $ref: '#/definitions/Buyer'
        description: 'Reference to the buyer on the proposal. (readonly, except on create)'
      buyerContacts:
        description: Optional contact information fort the buyer. (seller-readonly)
        items:
          $ref: '#/definitions/ContactInformation'
        type: array
      buyerPrivateData:
        $ref: '#/definitions/PrivateData'
        description: Private data for buyer. (hidden from seller).
      hasBuyerSignedOff:
        description: 'When an proposal is in an accepted state, indicates whether the buyer has signed off Once both sides have signed off on a deal, the proposal can be finalized by the seller. (seller-readonly)'
        type: boolean
      hasSellerSignedOff:
        description: 'When an proposal is in an accepted state, indicates whether the buyer has signed off Once both sides have signed off on a deal, the proposal can be finalized by the seller. (buyer-readonly)'
        type: boolean
      inventorySource:
        description: 'What exchange will provide this inventory (readonly, except on create).'
        type: string
      isRenegotiating:
        description: True if the proposal is being renegotiated (readonly).
        type: boolean
      isSetupComplete:
        description: 'True, if the buyside inventory setup is complete for this proposal. (readonly)'
        type: boolean
      kind:
        default: 'adexchangebuyer#proposal'
        description: 'Identifies what kind of resource this is. Value: the fixed string "adexchangebuyer#proposal".'
        type: string
      labels:
        description: List of labels associated with the proposal. (readonly)
        items:
          $ref: '#/definitions/MarketplaceLabel'
        type: array
      lastUpdaterOrCommentorRole:
        description: The role of the last user that either updated the proposal or left a comment. (readonly)
        type: string
      lastUpdaterRole:
        type: string
      name:
        description: The name for the proposal (updatable)
        type: string
      originatorRole:
        description: Indicates whether the buyer/seller created the proposal.(readonly)
        type: string
      proposalId:
        description: The unique id of the proposal. (readonly).
        type: string
      proposalState:
        description: The current state of the proposal. (readonly)
        type: string
      revisionNumber:
        description: The revision number for the proposal (readonly).
        format: int64
        type: string
      revisionTimeMs:
        description: The time (ms since epoch) when the proposal was last revised (readonly).
        format: int64
        type: string
      seller:
        $ref: '#/definitions/Seller'
        description: 'Reference to the seller on the proposal. (readonly, except on create)'
      sellerContacts:
        description: Optional contact information for the seller (buyer-readonly).
        items:
          $ref: '#/definitions/ContactInformation'
        type: array
    type: object
  Seller:
    properties:
      accountId:
        description: The unique id for the seller. The seller fills in this field. The seller account id is then available to buyer in the product.
        type: string
      subAccountId:
        description: Optional sub-account id for the seller.
        type: string
    type: object
  SharedTargeting:
    properties:
      exclusions:
        description: The list of values to exclude from targeting.
        items:
          $ref: '#/definitions/TargetingValue'
        type: array
      inclusions:
        description: The list of value to include as part of the targeting.
        items:
          $ref: '#/definitions/TargetingValue'
        type: array
      key:
        description: The key representing the shared targeting criterion.
        type: string
    type: object
  TargetingValue:
    properties:
      creativeSizeValue:
        $ref: '#/definitions/TargetingValueCreativeSize'
        description: The creative size value to exclude/include.
      dayPartTargetingValue:
        $ref: '#/definitions/TargetingValueDayPartTargeting'
        description: The daypart targeting to include / exclude. Filled in when the key is GOOG_DAYPART_TARGETING.
      longValue:
        description: The long value to exclude/include.
        format: int64
        type: string
      stringValue:
        description: The string value to exclude/include.
        type: string
    type: object
  TargetingValueCreativeSize:
    properties:
      companionSizes:
        description: 'For video size type, the list of companion sizes.'
        items:
          $ref: '#/definitions/TargetingValueSize'
        type: array
      creativeSizeType:
        description: The Creative size type.
        type: string
      size:
        $ref: '#/definitions/TargetingValueSize'
        description: 'For regular or video creative size type, specifies the size of the creative.'
    type: object
  TargetingValueDayPartTargeting:
    properties:
      dayParts:
        items:
          $ref: '#/definitions/TargetingValueDayPartTargetingDayPart'
        type: array
      timeZoneType:
        type: string
    type: object
  TargetingValueDayPartTargetingDayPart:
    properties:
      dayOfWeek:
        type: string
      endHour:
        format: int32
        type: integer
      endMinute:
        format: int32
        type: integer
      startHour:
        format: int32
        type: integer
      startMinute:
        format: int32
        type: integer
    type: object
  TargetingValueSize:
    properties:
      height:
        description: The height of the creative.
        format: int32
        type: integer
      width:
        description: The width of the creative.
        format: int32
        type: integer
    type: object
