openapi: 3.0.1
servers:
  - url: https://pricing.twilio.com
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Pricing
  version: 1.42.0
  x-apisguru-categories:
    - telecom
    - messaging
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_static1.twilio.com_marketing_bundles_marketing_img_logos_wordmark-red.svg
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_pricing_v1.json
      version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_pricing_v1
paths:
  /v1/Messaging:
    description: "TODO: Resource-level docs"
    servers:
      - url: https://pricing.twilio.com
    x-twilio:
      defaultOutputProperties:
        - name
      pathType: instance
  /v1/Messaging/Countries:
    description: Messaging pricing by country
    get:
      description: ""
      operationId: ListMessagingCountry
      parameters:
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  countries:
                    items:
                      $ref: "#/components/schemas/pricing.v1.messaging.messaging_country"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListMessagingCountryResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://pricing.twilio.com
    x-twilio:
      defaultOutputProperties:
        - country
        - outbound_sms_prices
        - inbound_sms_prices
        - price_unit
      parent: /Messaging
      pathType: list
  "/v1/Messaging/Countries/{IsoCountry}":
    description: Messaging pricing by country
    get:
      description: ""
      operationId: FetchMessagingCountry
      parameters:
        - description: The [ISO country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) of the pricing information to fetch.
          in: path
          name: IsoCountry
          required: true
          schema:
            format: iso-country-code
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pricing.v1.messaging.messaging_country-instance"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://pricing.twilio.com
    x-twilio:
      defaultOutputProperties:
        - country
        - outbound_sms_prices
        - inbound_sms_prices
        - price_unit
      parent: /Messaging
      pathType: instance
  /v1/PhoneNumbers:
    description: "TODO: Resource-level docs"
    servers:
      - url: https://pricing.twilio.com
    x-twilio:
      defaultOutputProperties:
        - name
      pathType: list
  /v1/PhoneNumbers/Countries:
    description: Phone number pricing by country
    get:
      description: ""
      operationId: ListPhoneNumberCountry
      parameters:
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  countries:
                    items:
                      $ref: "#/components/schemas/pricing.v1.phone_number.phone_number_country"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListPhoneNumberCountryResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://pricing.twilio.com
    x-twilio:
      defaultOutputProperties:
        - country
        - price_unit
      parent: /PhoneNumbers
      pathType: list
  "/v1/PhoneNumbers/Countries/{IsoCountry}":
    description: Phone number pricing by country
    get:
      description: ""
      operationId: FetchPhoneNumberCountry
      parameters:
        - description: The [ISO country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) of the pricing information to fetch.
          in: path
          name: IsoCountry
          required: true
          schema:
            format: iso-country-code
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pricing.v1.phone_number.phone_number_country-instance"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://pricing.twilio.com
    x-twilio:
      defaultOutputProperties:
        - country
        - price_unit
      parent: /PhoneNumbers
      pathType: instance
  /v1/Voice:
    description: "TODO: Resource-level docs"
    servers:
      - url: https://pricing.twilio.com
    x-twilio:
      defaultOutputProperties:
        - name
      pathType: instance
  /v1/Voice/Countries:
    description: Voice pricing by country
    get:
      description: ""
      operationId: ListVoiceCountry
      parameters:
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: The page index. This value is simply for client state.
          in: query
          name: Page
          schema:
            minimum: 0
            type: integer
        - description: The page token. This is provided by the API.
          in: query
          name: PageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  countries:
                    items:
                      $ref: "#/components/schemas/pricing.v1.voice.voice_country"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        nullable: true
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        nullable: true
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListVoiceCountryResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://pricing.twilio.com
    x-twilio:
      defaultOutputProperties:
        - country
        - price_unit
      parent: /Voice
      pathType: list
  "/v1/Voice/Countries/{IsoCountry}":
    description: Voice pricing by country
    get:
      description: ""
      operationId: FetchVoiceCountry
      parameters:
        - description: The [ISO country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) of the pricing information to fetch.
          in: path
          name: IsoCountry
          required: true
          schema:
            format: iso-country-code
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pricing.v1.voice.voice_country-instance"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://pricing.twilio.com
    x-twilio:
      defaultOutputProperties:
        - country
        - price_unit
      parent: /Voice
      pathType: instance
  /v1/Voice/Numbers:
    description: Voice pricing for a specific phone number
    servers:
      - url: https://pricing.twilio.com
    x-twilio:
      defaultOutputProperties:
        - country
        - outbound_call_price
        - inbound_call_price
        - price_unit
      parent: /Voice
      pathType: list
  "/v1/Voice/Numbers/{Number}":
    description: Voice pricing for a specific phone number
    get:
      description: ""
      operationId: FetchVoiceNumber
      parameters:
        - description: The phone number to fetch.
          in: path
          name: Number
          required: true
          schema:
            format: phone-number
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pricing.v1.voice.voice_number"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://pricing.twilio.com
    x-twilio:
      defaultOutputProperties:
        - country
        - outbound_call_price
        - inbound_call_price
        - price_unit
      parent: /Voice
      pathType: instance
components:
  schemas:
    pricing.v1.messaging:
      properties:
        links:
          format: uri-map
          nullable: true
          type: object
        name:
          nullable: true
          type: string
        url:
          format: uri
          nullable: true
          type: string
      type: object
    pricing.v1.messaging.messaging_country:
      properties:
        country:
          description: The name of the country.
          nullable: true
          type: string
        iso_country:
          description: The [ISO country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
          format: iso-country-code
          nullable: true
          type: string
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          type: string
      type: object
    pricing.v1.messaging.messaging_country-instance:
      properties:
        country:
          description: The name of the country.
          nullable: true
          type: string
        inbound_sms_prices:
          description: The list of [InboundPrice](https://www.twilio.com/docs/sms/api/pricing#inbound-price) records that describe the price to receive an inbound SMS to the different Twilio phone number types supported in this country
          items:
            format: inbound-sms-price
            properties:
              base_price:
                type: number
              current_price:
                type: number
              number_type:
                type: string
            type: object
          nullable: true
          type: array
        iso_country:
          description: The [ISO country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
          format: iso-country-code
          nullable: true
          type: string
        outbound_sms_prices:
          description: The list of [OutboundSMSPrice](https://www.twilio.com/docs/sms/api/pricing#outbound-sms-price) records that represent the price to send a message for each MCC/MNC applicable in this country.
          items:
            format: outbound-sms-price
            properties:
              carrier:
                type: string
              mcc:
                type: string
              mnc:
                type: string
              prices:
                items:
                  properties:
                    base_price:
                      type: number
                    current_price:
                      type: number
                    number_type:
                      type: string
                  type: object
                type: array
            type: object
          nullable: true
          type: array
        price_unit:
          description: The currency in which prices are measured, specified in [ISO 4127](http://www.iso.org/iso/home/standards/currency_codes.htm) format (e.g. `usd`, `eur`, `jpy`).
          format: currency
          nullable: true
          type: string
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          type: string
      type: object
    pricing.v1.phone_number:
      properties:
        links:
          format: uri-map
          nullable: true
          type: object
        name:
          nullable: true
          type: string
        url:
          format: uri
          nullable: true
          type: string
      type: object
    pricing.v1.phone_number.phone_number_country:
      properties:
        country:
          description: The name of the country.
          nullable: true
          type: string
        iso_country:
          description: The [ISO country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
          format: iso-country-code
          nullable: true
          type: string
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          type: string
      type: object
    pricing.v1.phone_number.phone_number_country-instance:
      properties:
        country:
          description: The name of the country.
          nullable: true
          type: string
        iso_country:
          description: The [ISO country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
          format: iso-country-code
          nullable: true
          type: string
        phone_number_prices:
          description: The list of [PhoneNumberPrice](https://www.twilio.com/docs/phone-numbers/pricing#phone-number-price) records.
          items:
            format: phone-number-price
            properties:
              base_price:
                type: number
              current_price:
                type: number
              number_type:
                type: string
            type: object
          nullable: true
          type: array
        price_unit:
          description: The currency in which prices are measured, specified in [ISO 4127](http://www.iso.org/iso/home/standards/currency_codes.htm) format (e.g. `usd`, `eur`, `jpy`).
          format: currency
          nullable: true
          type: string
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          type: string
      type: object
    pricing.v1.voice:
      properties:
        links:
          format: uri-map
          nullable: true
          type: object
        name:
          nullable: true
          type: string
        url:
          format: uri
          nullable: true
          type: string
      type: object
    pricing.v1.voice.voice_country:
      properties:
        country:
          description: The name of the country.
          nullable: true
          type: string
        iso_country:
          description: The [ISO country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
          format: iso-country-code
          nullable: true
          type: string
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          type: string
      type: object
    pricing.v1.voice.voice_country-instance:
      properties:
        country:
          description: The name of the country.
          nullable: true
          type: string
        inbound_call_prices:
          description: The list of [InboundCallPrice](https://www.twilio.com/docs/voice/pricing#inbound-call-price) records.
          items:
            format: inbound-call-price
            properties:
              base_price:
                type: number
              current_price:
                type: number
              number_type:
                type: string
            type: object
          nullable: true
          type: array
        iso_country:
          description: The [ISO country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
          format: iso-country-code
          nullable: true
          type: string
        outbound_prefix_prices:
          description: The list of OutboundPrefixPrice records, which include a list of the `prefixes`, the `friendly_name`, `base_price`, and the   `current_price` for those prefixes.
          items:
            format: outbound-prefix-price
            properties:
              base_price:
                type: number
              current_price:
                type: number
              friendly_name:
                type: string
              prefixes:
                items:
                  type: string
                type: array
            type: object
          nullable: true
          type: array
        price_unit:
          description: The currency in which prices are measured, specified in [ISO 4127](http://www.iso.org/iso/home/standards/currency_codes.htm) format (e.g. `usd`, `eur`, `jpy`).
          format: currency
          nullable: true
          type: string
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          type: string
      type: object
    pricing.v1.voice.voice_number:
      properties:
        country:
          description: The name of the country.
          nullable: true
          type: string
        inbound_call_price:
          description: The [InboundCallPrice](https://www.twilio.com/docs/voice/pricing#inbound-call-price) record. If `null`, the Phone Number is not a Twilio number owned by this account.
          format: inbound-call-price
          nullable: true
          properties:
            base_price:
              type: number
            current_price:
              type: number
            number_type:
              type: string
          type: object
        iso_country:
          description: The [ISO country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
          format: iso-country-code
          nullable: true
          type: string
        number:
          description: The phone number.
          format: phone-number
          nullable: true
          type: string
        outbound_call_price:
          description: The OutboundCallPrice record, which includes a list of `origination_prefixes` and the `base_price` and `current_price` for those prefixes.
          format: outbound-call-price
          nullable: true
          properties:
            base_price:
              type: number
            current_price:
              type: number
          type: object
        price_unit:
          description: The currency in which prices are measured, specified in [ISO 4127](http://www.iso.org/iso/home/standards/currency_codes.htm) format (e.g. `usd`, `eur`, `jpy`).
          format: currency
          nullable: true
          type: string
        url:
          description: The absolute URL of the resource.
          format: uri
          nullable: true
          type: string
      type: object
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
x-maturity:
  - description: This product is Generally Available.
    name: GA
