openapi: 3.0.1
servers:
  - url: https://api.twilio.com
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Studio
  version: 1.8.0
  x-apisguru-categories:
    - telecom
    - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_studio_v1.json
      version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_studio_v1
paths:
  /v1/Flows:
    description: Studio flows
    get:
      description: Retrieve a list of all Flows.
      operationId: ListFlow
      parameters:
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  flows:
                    items:
                      $ref: "#/components/schemas/studio.v1.flow"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://studio.twilio.com
    x-default-output-properties:
      - sid
      - friendly_name
      - status
      - version
    x-path-type: list
  "/v1/Flows/{FlowSid}/Engagements":
    description: "[DEPRECATED] Excecutions of Studio flows"
    get:
      description: Retrieve a list of all Engagements for the Flow.
      operationId: ListEngagement
      parameters:
        - description: The SID of the Flow to read Engagements from.
          in: path
          name: FlowSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  engagements:
                    items:
                      $ref: "#/components/schemas/studio.v1.flow.engagement"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Triggers a new Engagement for the Flow
      operationId: CreateEngagement
      parameters:
        - description: The SID of the Flow.
          in: path
          name: FlowSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                From:
                  description: The Twilio phone number to send messages or initiate calls from during the Flow Engagement. Available as variable `{{flow.channel.address}}`
                  type: string
                Parameters:
                  description: "A JSON string we will add to your flow's context and that you can access as variables inside your flow. For example, if you pass in `Parameters={'name':'Zeke'}` then inside a widget you can reference the variable `{{flow.data.name}}` which will return the string 'Zeke'. Note: the JSON value must explicitly be passed as a string, not as a hash object. Depending on your particular HTTP library, you may need to add quotes or URL encode your JSON string."
                  type: object
                To:
                  description: The Contact phone number to start a Studio Flow Engagement, available as variable `{{contact.channel.address}}`.
                  type: string
              required:
                - To
                - From
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/studio.v1.flow.engagement"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://studio.twilio.com
    x-default-output-properties:
      - sid
      - contact_sid
      - status
      - date_created
    x-path-type: list
  "/v1/Flows/{FlowSid}/Engagements/{EngagementSid}/Context":
    description: "[DEPRECATED] JSON context for engagements"
    get:
      description: Retrieve the most recent context for an Engagement.
      operationId: FetchEngagementContext
      parameters:
        - description: The SID of the Flow.
          in: path
          name: FlowSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Engagement.
          in: path
          name: EngagementSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FN[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/studio.v1.flow.engagement.engagement_context"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://studio.twilio.com
    x-default-output-properties:
      - context
    x-path-type: instance
  "/v1/Flows/{FlowSid}/Engagements/{EngagementSid}/Steps":
    description: Steps within a Studio flow
    get:
      description: Retrieve a list of all Steps for an Engagement.
      operationId: ListStep
      parameters:
        - description: The SID of the Flow with the Step to read.
          in: path
          name: FlowSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Engagement with the Step to read.
          in: path
          name: EngagementSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FN[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  steps:
                    items:
                      $ref: "#/components/schemas/studio.v1.flow.engagement.step"
                    type: array
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://studio.twilio.com
    x-default-output-properties:
      - sid
      - name
      - transitioned_from
      - transitioned_to
    x-path-type: list
  "/v1/Flows/{FlowSid}/Engagements/{EngagementSid}/Steps/{Sid}":
    description: Steps within a Studio flow
    get:
      description: Retrieve a Step.
      operationId: FetchStep
      parameters:
        - description: The SID of the Flow with the Step to fetch.
          in: path
          name: FlowSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Engagement with the Step to fetch.
          in: path
          name: EngagementSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FN[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Step resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FT[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/studio.v1.flow.engagement.step"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://studio.twilio.com
    x-default-output-properties:
      - sid
      - name
      - transitioned_from
      - transitioned_to
    x-path-type: instance
  "/v1/Flows/{FlowSid}/Engagements/{EngagementSid}/Steps/{StepSid}/Context":
    description: JSON context for individual steps
    get:
      description: Retrieve the context for an Engagement Step.
      operationId: FetchStepContext
      parameters:
        - description: The SID of the Flow with the Step to fetch.
          in: path
          name: FlowSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Engagement with the Step to fetch.
          in: path
          name: EngagementSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FN[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Step to fetch
          in: path
          name: StepSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FT[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/studio.v1.flow.engagement.step.step_context"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://studio.twilio.com
    x-default-output-properties:
      - context
    x-path-type: instance
  "/v1/Flows/{FlowSid}/Engagements/{Sid}":
    delete:
      description: Delete this Engagement and all Steps relating to it.
      operationId: DeleteEngagement
      parameters:
        - description: The SID of the Flow to delete Engagements from.
          in: path
          name: FlowSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Engagement resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FN[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: "[DEPRECATED] Excecutions of Studio flows"
    get:
      description: Retrieve an Engagement
      operationId: FetchEngagement
      parameters:
        - description: The SID of the Flow.
          in: path
          name: FlowSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Engagement resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FN[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/studio.v1.flow.engagement"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://studio.twilio.com
    x-default-output-properties:
      - sid
      - contact_sid
      - status
      - date_created
    x-path-type: instance
  "/v1/Flows/{FlowSid}/Executions":
    description: Executions of Studio flows
    get:
      description: Retrieve a list of all Executions for the Flow.
      operationId: ListExecution
      parameters:
        - description: The SID of the Flow with the Execution resources to read.
          in: path
          name: FlowSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
        - description: Only show Execution resources starting on or after this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time, given as `YYYY-MM-DDThh:mm:ss-hh:mm`.
          in: query
          name: DateCreatedFrom
          schema:
            format: date-time
            type: string
        - description: Only show Execution resources starting before this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date-time, given as `YYYY-MM-DDThh:mm:ss-hh:mm`.
          in: query
          name: DateCreatedTo
          schema:
            format: date-time
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  executions:
                    items:
                      $ref: "#/components/schemas/studio.v1.flow.execution"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Triggers a new Execution for the Flow
      operationId: CreateExecution
      parameters:
        - description: The SID of the Excecution's Flow.
          in: path
          name: FlowSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                From:
                  description: The Twilio phone number to send messages or initiate calls from during the Flow's Execution. Available as variable `{{flow.channel.address}}`.
                  type: string
                Parameters:
                  description: "JSON data that will be added to the Flow's context and that can be accessed as variables inside your Flow. For example, if you pass in `Parameters={\"name\":\"Zeke\"}`, a widget in your Flow can reference the variable `{{flow.data.name}}`, which returns \"Zeke\". Note: the JSON value must explicitly be passed as a string, not as a hash object. Depending on your particular HTTP library, you may need to add quotes or URL encode the JSON string."
                  type: object
                To:
                  description: The Contact phone number to start a Studio Flow Execution, available as variable `{{contact.channel.address}}`.
                  type: string
              required:
                - To
                - From
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/studio.v1.flow.execution"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://studio.twilio.com
    x-default-output-properties:
      - sid
      - contact_sid
      - status
      - date_created
    x-path-type: list
  "/v1/Flows/{FlowSid}/Executions/{ExecutionSid}/Context":
    description: JSON context for executions
    get:
      description: Retrieve the most recent context for an Execution.
      operationId: FetchExecutionContext
      parameters:
        - description: The SID of the Flow with the Execution context to fetch.
          in: path
          name: FlowSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Execution context to fetch.
          in: path
          name: ExecutionSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FN[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/studio.v1.flow.execution.execution_context"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://studio.twilio.com
    x-default-output-properties:
      - context
    x-path-type: instance
  "/v1/Flows/{FlowSid}/Executions/{ExecutionSid}/Steps":
    description: Individual steps within an execution
    get:
      description: Retrieve a list of all Steps for an Execution.
      operationId: ListExecutionStep
      parameters:
        - description: The SID of the Flow with the Steps to read.
          in: path
          name: FlowSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Execution with the Steps to read.
          in: path
          name: ExecutionSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FN[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  steps:
                    items:
                      $ref: "#/components/schemas/studio.v1.flow.execution.execution_step"
                    type: array
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://studio.twilio.com
    x-default-output-properties:
      - sid
      - name
      - date_created
    x-path-type: list
  "/v1/Flows/{FlowSid}/Executions/{ExecutionSid}/Steps/{Sid}":
    description: Individual steps within an execution
    get:
      description: Retrieve a Step.
      operationId: FetchExecutionStep
      parameters:
        - description: The SID of the Flow with the Step to fetch.
          in: path
          name: FlowSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Execution resource with the Step to fetch.
          in: path
          name: ExecutionSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FN[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the ExecutionStep resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FT[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/studio.v1.flow.execution.execution_step"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://studio.twilio.com
    x-default-output-properties:
      - sid
      - name
      - date_created
    x-path-type: instance
  "/v1/Flows/{FlowSid}/Executions/{ExecutionSid}/Steps/{StepSid}/Context":
    description: JSON context for an individual step within an execution
    get:
      description: Retrieve the context for an Execution Step.
      operationId: FetchExecutionStepContext
      parameters:
        - description: The SID of the Flow with the Step to fetch.
          in: path
          name: FlowSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Execution resource with the Step to fetch.
          in: path
          name: ExecutionSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FN[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Step to fetch.
          in: path
          name: StepSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FT[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/studio.v1.flow.execution.execution_step.execution_step_context"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://studio.twilio.com
    x-default-output-properties:
      - context
    x-path-type: instance
  "/v1/Flows/{FlowSid}/Executions/{Sid}":
    delete:
      description: Delete the Execution and all Steps relating to it.
      operationId: DeleteExecution
      parameters:
        - description: The SID of the Flow with the Execution resources to delete.
          in: path
          name: FlowSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Execution resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FN[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: Executions of Studio flows
    get:
      description: Retrieve an Execution
      operationId: FetchExecution
      parameters:
        - description: The SID of the Flow with the Execution resource to fetch
          in: path
          name: FlowSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Execution resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FN[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/studio.v1.flow.execution"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Update the status of an Execution to `ended`.
      operationId: UpdateExecution
      parameters:
        - description: The SID of the Flow with the Execution resources to update.
          in: path
          name: FlowSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
        - description: The SID of the Execution resource to update.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FN[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Status:
                  description: The status of the Execution. Can only be `ended`.
                  enum:
                    - active
                    - ended
                  type: string
              required:
                - Status
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/studio.v1.flow.execution"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://studio.twilio.com
    x-default-output-properties:
      - sid
      - contact_sid
      - status
      - date_created
    x-path-type: instance
  "/v1/Flows/{Sid}":
    delete:
      description: Delete a specific Flow.
      operationId: DeleteFlow
      parameters:
        - description: The SID of the Flow resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: Studio flows
    get:
      description: Retrieve a specific Flow.
      operationId: FetchFlow
      parameters:
        - description: The SID of the Flow resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FW[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/studio.v1.flow"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://studio.twilio.com
    x-default-output-properties:
      - sid
      - friendly_name
      - status
      - version
    x-path-type: instance
components:
  schemas:
    studio.v1.flow:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        date_created:
          format: date-time
          type: string
        date_updated:
          format: date-time
          type: string
        friendly_name:
          type: string
        links:
          type: object
        sid:
          maxLength: 34
          minLength: 34
          pattern: ^FW[0-9a-fA-F]{32}$
          type: string
        status:
          enum:
            - draft
            - published
          type: string
        url:
          format: uri
          type: string
        version:
          type: integer
      type: object
    studio.v1.flow.engagement:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        contact_channel_address:
          type: string
        contact_sid:
          maxLength: 34
          minLength: 34
          pattern: ^FC[0-9a-fA-F]{32}$
          type: string
        context:
          type: object
        date_created:
          format: date-time
          type: string
        date_updated:
          format: date-time
          type: string
        flow_sid:
          maxLength: 34
          minLength: 34
          pattern: ^FW[0-9a-fA-F]{32}$
          type: string
        links:
          type: object
        sid:
          maxLength: 34
          minLength: 34
          pattern: ^FN[0-9a-fA-F]{32}$
          type: string
        status:
          enum:
            - active
            - ended
          type: string
        url:
          format: uri
          type: string
      type: object
    studio.v1.flow.engagement.engagement_context:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        context:
          type: object
        engagement_sid:
          maxLength: 34
          minLength: 34
          pattern: ^FN[0-9a-fA-F]{32}$
          type: string
        flow_sid:
          maxLength: 34
          minLength: 34
          pattern: ^FW[0-9a-fA-F]{32}$
          type: string
        url:
          format: uri
          type: string
      type: object
    studio.v1.flow.engagement.step:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        context:
          type: object
        date_created:
          format: date-time
          type: string
        date_updated:
          format: date-time
          type: string
        engagement_sid:
          maxLength: 34
          minLength: 34
          pattern: ^FN[0-9a-fA-F]{32}$
          type: string
        flow_sid:
          maxLength: 34
          minLength: 34
          pattern: ^FW[0-9a-fA-F]{32}$
          type: string
        links:
          type: object
        name:
          type: string
        sid:
          maxLength: 34
          minLength: 34
          pattern: ^FT[0-9a-fA-F]{32}$
          type: string
        transitioned_from:
          type: string
        transitioned_to:
          type: string
        url:
          format: uri
          type: string
      type: object
    studio.v1.flow.engagement.step.step_context:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        context:
          type: object
        engagement_sid:
          maxLength: 34
          minLength: 34
          pattern: ^FN[0-9a-fA-F]{32}$
          type: string
        flow_sid:
          maxLength: 34
          minLength: 34
          pattern: ^FW[0-9a-fA-F]{32}$
          type: string
        step_sid:
          maxLength: 34
          minLength: 34
          pattern: ^FT[0-9a-fA-F]{32}$
          type: string
        url:
          format: uri
          type: string
      type: object
    studio.v1.flow.execution:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        contact_channel_address:
          type: string
        contact_sid:
          maxLength: 34
          minLength: 34
          pattern: ^FC[0-9a-fA-F]{32}$
          type: string
        context:
          type: object
        date_created:
          format: date-time
          type: string
        date_updated:
          format: date-time
          type: string
        flow_sid:
          maxLength: 34
          minLength: 34
          pattern: ^FW[0-9a-fA-F]{32}$
          type: string
        links:
          type: object
        sid:
          maxLength: 34
          minLength: 34
          pattern: ^FN[0-9a-fA-F]{32}$
          type: string
        status:
          enum:
            - active
            - ended
          type: string
        url:
          format: uri
          type: string
      type: object
    studio.v1.flow.execution.execution_context:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        context:
          type: object
        execution_sid:
          maxLength: 34
          minLength: 34
          pattern: ^FN[0-9a-fA-F]{32}$
          type: string
        flow_sid:
          maxLength: 34
          minLength: 34
          pattern: ^FW[0-9a-fA-F]{32}$
          type: string
        url:
          format: uri
          type: string
      type: object
    studio.v1.flow.execution.execution_step:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        context:
          type: object
        date_created:
          format: date-time
          type: string
        date_updated:
          format: date-time
          type: string
        execution_sid:
          maxLength: 34
          minLength: 34
          pattern: ^FN[0-9a-fA-F]{32}$
          type: string
        flow_sid:
          maxLength: 34
          minLength: 34
          pattern: ^FW[0-9a-fA-F]{32}$
          type: string
        links:
          type: object
        name:
          type: string
        sid:
          maxLength: 34
          minLength: 34
          pattern: ^FT[0-9a-fA-F]{32}$
          type: string
        transitioned_from:
          type: string
        transitioned_to:
          type: string
        url:
          format: uri
          type: string
      type: object
    studio.v1.flow.execution.execution_step.execution_step_context:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        context:
          type: object
        execution_sid:
          maxLength: 34
          minLength: 34
          pattern: ^FN[0-9a-fA-F]{32}$
          type: string
        flow_sid:
          maxLength: 34
          minLength: 34
          pattern: ^FW[0-9a-fA-F]{32}$
          type: string
        step_sid:
          maxLength: 34
          minLength: 34
          pattern: ^FT[0-9a-fA-F]{32}$
          type: string
        url:
          format: uri
          type: string
      type: object
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
x-maturity:
  - description: This product is Generally Available.
    name: GA
