swagger: '2.0'
schemes:
  - https
host: accessapproval.googleapis.com
basePath: /
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: An API for controlling access to data by Google personnel.
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Access Approval
  version: v1beta1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.7.31
      format: google
      url: 'https://accessapproval.googleapis.com/$discovery/rest?version=v1beta1'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: accessapproval
externalDocs:
  url: 'https://cloud.google.com/access-approval/docs'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  $.xgafv:
    description: V1 error format.
    enum:
      - '1'
      - '2'
    in: query
    name: $.xgafv
    type: string
  access_token:
    description: OAuth access token.
    in: query
    name: access_token
    type: string
  alt:
    default: json
    description: Data format for response.
    enum:
      - json
      - media
      - proto
    in: query
    name: alt
    type: string
  callback:
    description: JSONP
    in: query
    name: callback
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
    in: query
    name: quotaUser
    type: string
  uploadType:
    description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
    in: query
    name: uploadType
    type: string
  upload_protocol:
    description: 'Upload protocol for media (e.g. "raw", "multipart").'
    in: query
    name: upload_protocol
    type: string
tags:
  - name: folders
  - name: organizations
  - name: projects
paths:
  '/v1beta1/{name}':
    get:
      description: Gets an approval request. Returns NOT_FOUND if the request does not exist.
      operationId: accessapproval.organizations.approvalRequests.get
      parameters:
        - description: Name of the approval request to retrieve.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ApprovalRequest'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - organizations
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    patch:
      description: |-
        Updates the settings associated with a project, folder, or organization.
        Settings to update are determined by the value of field_mask.
      operationId: accessapproval.organizations.updateAccessApprovalSettings
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AccessApprovalSettings'
        - description: |-
            The resource name of the settings. Format is one of:
            <ol>
              <li>"projects/{project_id}/accessApprovalSettings"</li>
              <li>"folders/{folder_id}/accessApprovalSettings"</li>
              <li>"organizations/{organization_id}/accessApprovalSettings"</li>
            <ol>
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
        - description: |-
            The update mask applies to the settings. For the `FieldMask` definition,
            see
            https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask
            If this field is left unset, only the notification_emails field will be
            updated.
          in: query
          name: updateMask
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AccessApprovalSettings'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - organizations
  '/v1beta1/{name}:approve':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Approves a request and returns the updated ApprovalRequest.

        Returns NOT_FOUND if the request does not exist. Returns
        FAILED_PRECONDITION if the request exists but is not in a pending state.
      operationId: accessapproval.organizations.approvalRequests.approve
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ApproveApprovalRequestMessage'
        - description: Name of the approval request to approve.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ApprovalRequest'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - organizations
  '/v1beta1/{name}:dismiss':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Dismisses a request. Returns the updated ApprovalRequest.

        NOTE: This does not deny access to the resource if another request has been
        made and approved. It is equivalent in effect to ignoring the request
        altogether.

        Returns NOT_FOUND if the request does not exist.

        Returns FAILED_PRECONDITION if the request exists but is not in a pending
        state.
      operationId: accessapproval.organizations.approvalRequests.dismiss
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/DismissApprovalRequestMessage'
        - description: Name of the ApprovalRequest to dismiss.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ApprovalRequest'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - organizations
  '/v1beta1/{parent}/approvalRequests':
    get:
      description: |-
        Lists approval requests associated with a project, folder, or organization.
        Approval requests can be filtered by state (pending, active, dismissed).
        The order is reverse chronological.
      operationId: accessapproval.organizations.approvalRequests.list
      parameters:
        - description: |-
            A filter on the type of approval requests to retrieve. Must be one of the
            following values:
            <ol>
              <li>[not set]: Requests that are pending or have active approvals.</li>
              <li>ALL: All requests.</li>
              <li>PENDING: Only pending requests.</li>
              <li>ACTIVE: Only active (i.e. currently approved) requests.</li>
              <li>DISMISSED: Only dismissed (including expired) requests.</li>
            </ol>
          in: query
          name: filter
          type: string
        - description: Requested page size.
          in: query
          name: pageSize
          type: integer
        - description: A token identifying the page of results to return.
          in: query
          name: pageToken
          type: string
        - description: |-
            The parent resource. This may be "projects/{project_id}",
            "folders/{folder_id}", or "organizations/{organization_id}".
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListApprovalRequestsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - organizations
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
definitions:
  AccessApprovalSettings:
    description: Settings on a Project/Folder/Organization related to Access Approval.
    properties:
      enrolledServices:
        description: |-
          A list of Google Cloud Services for which the given resource has Access
          Approval enrolled. Access requests for the resource given by name against
          any of these services contained here will be required to have explicit
          approval. If name refers to an organization, enrollment can be done for
          individual services. If name refers to a folder or project, enrollment can
          only be done on an all or nothing basis.

          If a cloud_product is repeated in this list, the first entry will be
          honored and all following entries will be discarded.
        items:
          $ref: '#/definitions/EnrolledService'
        type: array
      name:
        description: |-
          The resource name of the settings. Format is one of:
          <ol>
            <li>"projects/{project_id}/accessApprovalSettings"</li>
            <li>"folders/{folder_id}/accessApprovalSettings"</li>
            <li>"organizations/{organization_id}/accessApprovalSettings"</li>
          <ol>
        type: string
      notificationEmails:
        description: |-
          A list of email addresses to which notifications relating to approval
          requests should be sent. Notifications relating to a resource will be sent
          to all emails in the settings of ancestor resources of that resource.
        items:
          type: string
        type: array
    type: object
  AccessLocations:
    description: Home office and physical location of the principal.
    properties:
      principalOfficeCountry:
        description: |-
          The "home office" location of the principal. A two-letter country code
          (ISO 3166-1 alpha-2), such as "US", "DE" or "GB" or a region code. In some
          limited situations Google systems may refer refer to a region code instead
          of a country code.
          Possible Region Codes:
          <ol>
            <li>ASI: Asia</li>
            <li>EUR: Europe</li>
            <li>OCE: Oceania</li>
            <li>AFR: Africa</li>
            <li>NAM: North America</li>
            <li>SAM: South America</li>
            <li>ANT: Antarctica</li>
            <li>ANY: Any location</li>
          </ol>
        type: string
      principalPhysicalLocationCountry:
        description: |-
          Physical location of the principal at the time of the access. A
          two-letter country code (ISO 3166-1 alpha-2), such as "US", "DE" or "GB" or
          a region code. In some limited situations Google systems may refer refer to
          a region code instead of a country code.
          Possible Region Codes:
          <ol>
            <li>ASI: Asia</li>
            <li>EUR: Europe</li>
            <li>OCE: Oceania</li>
            <li>AFR: Africa</li>
            <li>NAM: North America</li>
            <li>SAM: South America</li>
            <li>ANT: Antarctica</li>
            <li>ANY: Any location</li>
          </ol>
        type: string
    type: object
  AccessReason:
    properties:
      detail:
        description: More detail about certain reason types. See comments for each type above.
        type: string
      type:
        description: Type of access justification.
        enum:
          - TYPE_UNSPECIFIED
          - CUSTOMER_INITIATED_SUPPORT
          - GOOGLE_INITIATED_SERVICE
          - GOOGLE_INITIATED_REVIEW
        type: string
    type: object
  ApprovalRequest:
    description: A request for the customer to approve access to a resource.
    properties:
      approve:
        $ref: '#/definitions/ApproveDecision'
        description: Access was approved.
      dismiss:
        $ref: '#/definitions/DismissDecision'
        description: The request was dismissed.
      name:
        description: |-
          The resource name of the request. Format is
          "{projects|folders|organizations}/{id}/approvalRequests/{approval_request_id}".
        type: string
      requestTime:
        description: The time at which approval was requested.
        format: google-datetime
        type: string
      requestedExpiration:
        description: |-
          The requested expiration for the approval. If the request is approved,
          access will be granted from the time of approval until the expiration time.
        format: google-datetime
        type: string
      requestedLocations:
        $ref: '#/definitions/AccessLocations'
        description: The locations for which approval is being requested.
      requestedReason:
        $ref: '#/definitions/AccessReason'
        description: The justification for which approval is being requested.
      requestedResourceName:
        description: |-
          The resource for which approval is being requested. The format of the
          resource name is defined at
          https://cloud.google.com/apis/design/resource_names. The resource name here
          may either be a "full" resource name (e.g.
          "//library.googleapis.com/shelves/shelf1/books/book2") or a "relative"
          resource name (e.g. "shelves/shelf1/books/book2") as described in the
          resource name specification.
        type: string
      requestedResourceProperties:
        $ref: '#/definitions/ResourceProperties'
        description: Properties related to the resource represented by requested_resource_name.
    type: object
  ApproveApprovalRequestMessage:
    description: Request to approve an ApprovalRequest.
    properties:
      expireTime:
        description: The expiration time of this approval.
        format: google-datetime
        type: string
    type: object
  ApproveDecision:
    description: A decision that has been made to approve access to a resource.
    properties:
      approveTime:
        description: The time at which approval was granted.
        format: google-datetime
        type: string
      expireTime:
        description: The time at which the approval expires.
        format: google-datetime
        type: string
    type: object
  DismissApprovalRequestMessage:
    description: Request to dismiss an approval request.
    properties: {}
    type: object
  DismissDecision:
    description: A decision that has been made to dismiss an approval request.
    properties:
      dismissTime:
        description: The time at which the approval request was dismissed.
        format: google-datetime
        type: string
    type: object
  EnrolledService:
    description: Represents the enrollment of a cloud resource into a specific service.
    properties:
      cloudProduct:
        description: |-
          The product for which Access Approval will be enrolled. Allowed values are
          listed below (case-sensitive):
          <ol>
            <li>all</li>
            <li>appengine.googleapis.com</li>
            <li>bigquery.googleapis.com</li>
            <li>bigtable.googleapis.com</li>
            <li>cloudkms.googleapis.com</li>
            <li>compute.googleapis.com</li>
            <li>dataflow.googleapis.com</li>
            <li>iam.googleapis.com</li>
            <li>pubsub.googleapis.com</li>
            <li>storage.googleapis.com</li>
          <ol>
        type: string
      enrollmentLevel:
        description: The enrollment level of the service.
        enum:
          - ENROLLMENT_LEVEL_UNSPECIFIED
          - BLOCK_ALL
        type: string
    type: object
  ListApprovalRequestsResponse:
    description: Response to listing of ApprovalRequest objects.
    properties:
      approvalRequests:
        description: Approval request details.
        items:
          $ref: '#/definitions/ApprovalRequest'
        type: array
      nextPageToken:
        description: 'Token to retrieve the next page of results, or empty if there are no more.'
        type: string
    type: object
  ResourceProperties:
    description: The properties associated with the resource of the request.
    properties:
      excludesDescendants:
        description: |-
          Whether an approval will exclude the descendants of the resource being
          requested.
        type: boolean
    type: object
