openapi: 3.0.1
servers:
  - url: https://fax.twilio.com
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Fax
  version: 1.29.1
  x-apisguru-categories:
    - telecom
    - messaging
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_static1.twilio.com_marketing_bundles_marketing_img_logos_wordmark-red.svg
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_fax_v1.json
      version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_fax_v1
paths:
  /v1/Faxes:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all faxes.
      operationId: ListFax
      parameters:
        - description: Retrieve only those faxes sent from this phone number, specified in [E.164](https://www.twilio.com/docs/glossary/what-e164) format.
          in: query
          name: From
          schema:
            type: string
        - description: Retrieve only those faxes sent to this phone number, specified in [E.164](https://www.twilio.com/docs/glossary/what-e164) format.
          in: query
          name: To
          schema:
            type: string
        - description: Retrieve only those faxes with a `date_created` that is before or equal to this value, specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          in: query
          name: DateCreatedOnOrBefore
          schema:
            format: date-time
            type: string
        - description: Retrieve only those faxes with a `date_created` that is later than this value, specified in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          in: query
          name: DateCreatedAfter
          schema:
            format: date-time
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  faxes:
                    items:
                      $ref: "#/components/schemas/fax.v1.fax"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListFaxResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://fax.twilio.com
    x-twilio:
      className: fax
      defaultOutputProperties:
        - sid
        - from
        - to
        - status
        - date_created
      pathType: list
  "/v1/Faxes/{FaxSid}/Media":
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all fax media instances for the specified fax.
      operationId: ListFaxMedia
      parameters:
        - description: The SID of the fax with the FaxMedia resources to read.
          in: path
          name: FaxSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FX[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  media:
                    items:
                      $ref: "#/components/schemas/fax.v1.fax.fax_media"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListFaxMediaResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://fax.twilio.com
    x-twilio:
      className: fax_media
      defaultOutputProperties:
        - content_type
        - url
      pathType: list
  "/v1/Faxes/{FaxSid}/Media/{Sid}":
    delete:
      description: Delete a specific fax media instance.
      operationId: DeleteFaxMedia
      parameters:
        - description: The SID of the fax with the FaxMedia resource to delete.
          in: path
          name: FaxSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FX[0-9a-fA-F]{32}$
            type: string
        - description: The Twilio-provided string that uniquely identifies the FaxMedia resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^ME[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific fax media instance.
      operationId: FetchFaxMedia
      parameters:
        - description: The SID of the fax with the FaxMedia resource to fetch.
          in: path
          name: FaxSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FX[0-9a-fA-F]{32}$
            type: string
        - description: The Twilio-provided string that uniquely identifies the FaxMedia resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^ME[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/fax.v1.fax.fax_media"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://fax.twilio.com
    x-twilio:
      className: fax_media
      defaultOutputProperties:
        - content_type
        - url
      pathType: instance
  "/v1/Faxes/{Sid}":
    delete:
      description: Delete a specific fax and its associated media.
      operationId: DeleteFax
      parameters:
        - description: The Twilio-provided string that uniquely identifies the Fax resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FX[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific fax.
      operationId: FetchFax
      parameters:
        - description: The Twilio-provided string that uniquely identifies the Fax resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^FX[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/fax.v1.fax"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://fax.twilio.com
    x-twilio:
      className: fax
      defaultOutputProperties:
        - sid
        - from
        - to
        - status
        - date_created
      pathType: instance
components:
  schemas:
    fax.v1.fax:
      properties:
        account_sid:
          description: The SID of the Account that created the resource
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        api_version:
          description: The API version used to transmit the fax
          nullable: true
          type: string
        date_created:
          description: The ISO 8601 formatted date and time in GMT when the resource was created
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: The ISO 8601 formatted date and time in GMT when the resource was last updated
          format: date-time
          nullable: true
          type: string
        direction:
          description: The direction of the fax
          enum:
            - inbound
            - outbound
          nullable: true
          type: string
        duration:
          description: The time it took to transmit the fax
          nullable: true
          type: integer
        from:
          description: The number the fax was sent from
          nullable: true
          type: string
        links:
          description: The URLs of the fax's related resources
          format: uri-map
          nullable: true
          type: object
        media_sid:
          description: The SID of the FaxMedia resource that is associated with the Fax
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^ME[0-9a-fA-F]{32}$
          type: string
        media_url:
          description: The Twilio-hosted URL that can be used to download fax media
          nullable: true
          type: string
        num_pages:
          description: The number of pages contained in the fax document
          nullable: true
          type: integer
        price:
          description: The fax transmission price
          nullable: true
          type: number
        price_unit:
          description: The ISO 4217 currency used for billing
          format: currency
          nullable: true
          type: string
        quality:
          description: The quality of the fax
          enum:
            - standard
            - fine
            - superfine
          nullable: true
          type: string
        sid:
          description: The unique string that identifies the resource
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^FX[0-9a-fA-F]{32}$
          type: string
        status:
          description: The status of the fax
          enum:
            - queued
            - processing
            - sending
            - delivered
            - receiving
            - received
            - no-answer
            - busy
            - failed
            - canceled
          nullable: true
          type: string
        to:
          description: The phone number that received the fax
          nullable: true
          type: string
        url:
          description: The absolute URL of the fax resource
          format: uri
          nullable: true
          type: string
      type: object
    fax.v1.fax.fax_media:
      properties:
        account_sid:
          description: The SID of the Account that created the resource
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        content_type:
          description: The content type of the stored fax media
          nullable: true
          type: string
        date_created:
          description: The ISO 8601 date and time in GMT when the resource was created
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: The ISO 8601 date and time in GMT when the resource was last updated
          format: date-time
          nullable: true
          type: string
        fax_sid:
          description: The SID of the fax the FaxMedia resource is associated with
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^FX[0-9a-fA-F]{32}$
          type: string
        sid:
          description: The unique string that identifies the resource
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^ME[0-9a-fA-F]{32}$
          type: string
        url:
          description: The absolute URL of the FaxMedia resource
          format: uri
          nullable: true
          type: string
      type: object
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
x-maturity:
  - description: PLEASE NOTE that this is a Beta product that is subject to change. Use it with caution.
    name: Beta
