openapi: 3.0.0
servers:
  - url: 'https://api.gettyimages.com/'
info:
  description: Build applications using the world's most powerful imagery
  title: Getty Images
  version: '3'
  x-apisguru-categories:
    - media
  x-logo:
    url: 'http://developers.gettyimages.com/images/getty-api-logo.jpg'
  x-origin:
    - format: swagger
      url: 'https://api.gettyimages.com/swagger/docs/3'
      version: '2.0'
  x-providerName: gettyimages.com
security:
  - Api-Key: []
paths:
  /v3/asset-registrations:
    post:
      deprecated: false
      operationId: AssetRegistration_Register
      responses:
        '200':
          description: Success - The assets were successfully registered.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
        '401':
          description: AuthorizationTokenRequired - Authorization token was missing or not valid.
        '500':
          description: AssetRegistrationFailed - There was a failure when registering assets.
      summary: Register a list of customer assets.
      tags:
        - AssetRegistration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterAssetsRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/RegisterAssetsRequest'
        description: Specify JSON containing an array of asset ids to register.  Limited to 500 asset ids per call.
        required: true
  /v3/boards:
    get:
      deprecated: false
      operationId: Boards_GetAllBoards
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          schema:
            type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          schema:
            type: string
        - description: Search for boards the user owns or has been invited to as an editor.
          in: query
          name: board_relationship
          required: false
          schema:
            type: string
            enum:
              - owned
              - invited
        - description: Request results starting at a page number (default is 1).
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
        - description: Request number of boards to return in each page. (default is 30).
          in: query
          name: pageSize
          required: false
          schema:
            type: integer
            format: int32
        - description: Sort the list of boards by last update date or name. Defaults to date_last_updated_descending.
          in: query
          name: sort_order
          required: false
          schema:
            type: string
            enum:
              - date_last_updated_descending
              - date_last_updated_ascending
              - name_ascending
              - name_decending
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoardList'
            text/json:
              schema:
                $ref: '#/components/schemas/BoardList'
        '400':
          description: InvalidParameterValue
        '401':
          description: Unauthorized
      summary: '***BETA*** Get all boards that the user participates in'
      tags:
        - Boards
    post:
      deprecated: false
      operationId: Boards_CreateBoard
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          schema:
            type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          schema:
            type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoardCreated'
            text/json:
              schema:
                $ref: '#/components/schemas/BoardCreated'
        '400':
          description: InvalidParameterValue
        '401':
          description: Unauthorized
      summary: '***BETA*** Create a new board'
      tags:
        - Boards
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BoardInfo'
          text/json:
            schema:
              $ref: '#/components/schemas/BoardInfo'
        description: Specify a name and description of the board to create (name is required).
        required: true
  '/v3/boards/{board_id}':
    delete:
      deprecated: false
      operationId: Boards_DeleteBoard
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          schema:
            type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          schema:
            type: string
        - in: path
          name: board_id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: InvalidParameterValue
        '401':
          description: Unauthorized
        '403':
          description: InsufficientAccess
        '404':
          description: BoardNotFound
      summary: '***BETA*** Delete a board'
      tags:
        - Boards
    get:
      deprecated: false
      operationId: Boards_GetBoard
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          schema:
            type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          schema:
            type: string
        - in: path
          name: board_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoardDetail'
            text/json:
              schema:
                $ref: '#/components/schemas/BoardDetail'
        '400':
          description: InvalidParameterValue
        '401':
          description: Unauthorized
        '404':
          description: BoardNotFound
      summary: '***BETA*** Get assets and metadata for a specific board'
      tags:
        - Boards
    put:
      deprecated: false
      operationId: Boards_UpdateBoard
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          schema:
            type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          schema:
            type: string
        - in: path
          name: board_id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Updated
        '400':
          description: InvalidParameterValue
        '401':
          description: Unauthorized
        '403':
          description: InsufficientAccess
        '404':
          description: BoardNotFound
      summary: '***BETA*** Update a board'
      tags:
        - Boards
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BoardInfo'
          text/json:
            schema:
              $ref: '#/components/schemas/BoardInfo'
        description: Specify a new name and description for the board (name is required).
        required: true
  '/v3/boards/{board_id}/assets':
    delete:
      deprecated: false
      operationId: Boards_RemoveAssets
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          schema:
            type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          schema:
            type: string
        - in: path
          name: board_id
          required: true
          schema:
            type: string
        - description: List the assets to be removed from the board.
          in: query
          name: asset_ids
          required: true
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        '204':
          description: No Content
        '400':
          description: InvalidParameterValue
        '401':
          description: Unauthorized
        '403':
          description: InsufficientAccess
        '404':
          description: BoardNotFound
      summary: '***BETA*** Remove assets from a board'
      tags:
        - Boards
    put:
      deprecated: false
      operationId: Boards_AddAssets
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          schema:
            type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          schema:
            type: string
        - in: path
          name: board_id
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddBoardAssetsResult'
            text/json:
              schema:
                $ref: '#/components/schemas/AddBoardAssetsResult'
        '400':
          description: InvalidParameterValue
        '401':
          description: Unauthorized
        '403':
          description: InsufficientAccess
        '404':
          description: BoardNotFound
      summary: '***BETA*** Add assets to a board'
      tags:
        - Boards
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/BoardAsset'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/BoardAsset'
              type: array
        description: List assets to add to the board.
        required: true
  '/v3/boards/{board_id}/assets/{asset_id}':
    delete:
      deprecated: false
      operationId: Boards_RemoveAsset
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          schema:
            type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          schema:
            type: string
        - in: path
          name: asset_id
          required: true
          schema:
            type: string
        - in: path
          name: board_id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '400':
          description: InvalidParameterValue
        '401':
          description: Unauthorized
        '403':
          description: InsufficientAccess
        '404':
          description: BoardNotFound
      summary: '***BETA*** Remove an asset from a board'
      tags:
        - Boards
    put:
      deprecated: false
      operationId: Boards_AddAsset
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          schema:
            type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          schema:
            type: string
        - in: path
          name: asset_id
          required: true
          schema:
            type: string
        - in: path
          name: board_id
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
        '400':
          description: InvalidParameterValue
        '401':
          description: Unauthorized
        '403':
          description: AssetNotFound
        '404':
          description: BoardNotFound
      summary: '***BETA*** Add an asset to a board'
      tags:
        - Boards
  '/v3/boards/{board_id}/comments':
    get:
      deprecated: false
      operationId: Boards_GetComments
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          schema:
            type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          schema:
            type: string
        - in: path
          name: board_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentsList'
            text/json:
              schema:
                $ref: '#/components/schemas/CommentsList'
        '400':
          description: InvalidParameterValue
        '401':
          description: Unauthorized
        '404':
          description: BoardNotFound
      summary: '***BETA*** Get comments from a board'
      tags:
        - Boards
    post:
      deprecated: false
      operationId: Boards_AddComment
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          schema:
            type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          schema:
            type: string
        - in: path
          name: board_id
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentCreated'
            text/json:
              schema:
                $ref: '#/components/schemas/CommentCreated'
        '400':
          description: InvalidParameterValue
        '401':
          description: Unauthorized
        '403':
          description: InsufficientAccess
        '404':
          description: BoardNotFound
      summary: '***BETA*** Add a comment to a board'
      tags:
        - Boards
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/CommentRequest'
        description: Comment to be added to the board.
        required: true
  '/v3/boards/{board_id}/comments/{comment_id}':
    delete:
      deprecated: false
      operationId: Boards_DeleteComment
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          schema:
            type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          schema:
            type: string
        - in: path
          name: board_id
          required: true
          schema:
            type: string
        - in: path
          name: comment_id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: CommentDeleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
        '400':
          description: InvalidParameterValue
        '401':
          description: Unauthorized
        '403':
          description: InsufficientAccess
        '404':
          description: BoardNotFound
      summary: '***BETA*** Delete a comment from a board'
      tags:
        - Boards
  /v3/collections:
    get:
      deprecated: false
      operationId: Collections_GetCollections
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          schema:
            type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GettyImages.Models.Collections.CollectionsList'
            text/json:
              schema:
                $ref: '#/components/schemas/GettyImages.Models.Collections.CollectionsList'
        '401':
          description: Unauthorized
      summary: Gets collections applicable for the customer.
      tags:
        - Collections
  /v3/countries:
    get:
      deprecated: false
      operationId: Countries_GetCountries
      parameters:
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          schema:
            type: string
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GettyImages.Models.Countries.CountriesList'
            text/json:
              schema:
                $ref: '#/components/schemas/GettyImages.Models.Countries.CountriesList'
        '401':
          description: Unauthorized
      summary: Gets countries codes and names.
      tags:
        - Countries
  /v3/downloads:
    get:
      deprecated: false
      operationId: Downloads_GetDownloads
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          schema:
            type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          schema:
            type: string
        - description: 'If specified, returns the list of previously downloaded images for all users in your company. Your account must be enabled for this functionality. Contact your Getty Images account rep for more information. Default is false.'
          in: query
          name: company_downloads
          required: false
          schema:
            type: boolean
        - description: "If specified, select assets downloaded on or before this date. Dates should be submitted in ISO\r\n                8601 format (i.e., YYYY-MM-DD hh:mm:ss.sss). If time is omitted, midnight is assumed. Date/times are UTC."
          in: query
          name: end_date
          required: false
          schema:
            type: string
            format: date-time
        - description: Identifies page to return. Default is 1.
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
        - description: 'Specifies page size. Default is 30, maximum page_size is 100.'
          in: query
          name: page_size
          required: false
          schema:
            type: integer
            format: int32
        - description: 'Specifies product type to be included in the previous download results. To get previous iStockPhoto credit downloads, credit_pack must be selected.'
          in: query
          name: product_type
          required: false
          schema:
            type: string
            enum:
              - easy_access
              - editorial_subscription
              - image_pack
              - premium_access
              - royalty_free_subscription
              - credit_pack
        - description: "If specified, select assets downloaded on or after this date. Dates should be submitted in ISO\r\n                8601 format (i.e., YYYY-MM-DD hh:mm:ss.sss). If time is omitted, midnight is assumed. Date/times are UTC."
          in: query
          name: start_date
          required: false
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GettyImages.Models.Downloads.GetDownloadsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/GettyImages.Models.Downloads.GetDownloadsResponse'
        '400':
          description: Bad request
        '401':
          description: AuthorizationTokenRequired
        '403':
          description: Forbidden
      summary: Returns information about a customer's downloaded assets.
      tags:
        - Downloads
  '/v3/downloads/images/{id}':
    post:
      deprecated: false
      description: "The single step download call returns either a redirect or a response message with the URI to download the largest\r\n                image available.\r\n                Returns HTTP status code 303 Redirect to download URI or HTTP status code 200."
      operationId: Downloads_PostDownloads
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          schema:
            type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          schema:
            type: string
        - description: "<remarks>\r\n                    Id of image to download.\r\n                </remarks>"
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: "<remarks>\r\n                    Specifies whether to auto-download the image. If true is specified, a 303 SeeOther status is returned with a\r\n                    Location header set to the location of the image.\r\n                    If false is specified, the download URI will be returned in the response message.\r\n                </remarks>"
          in: query
          name: auto_download
          required: false
          schema:
            type: boolean
        - description: "<remarks>\r\n                    File Type expressed with three character file extension.\r\n                </remarks>"
          in: query
          name: file_type
          required: false
          schema:
            type: string
            enum:
              - eps
              - jpg
        - description: "<remarks>\r\n                    Specifies the pixel height of the particular image to download.\r\n                    Available heights can be found in the images/{ids} response for the specific image.\r\n                    If left blank, it will return the largest available size.\r\n                </remarks>"
          in: query
          name: height
          required: false
          schema:
            type: string
        - description: "<remarks>\r\n                    Identifier of the instance for the selected product offering type.\r\n                </remarks>"
          in: query
          name: product_id
          required: false
          schema:
            type: integer
            format: int32
        - description: "<remarks>\r\n                    Product type.\r\n                </remarks>"
          in: query
          name: product_type
          required: false
          schema:
            type: string
            enum:
              - easy_access
              - editorial_subscription
              - image_pack
              - premium_access
              - royalty_free_subscription
              - credit_pack
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
        '303':
          description: See Other
        '400':
          description: InvalidRequestParameterValue
        '401':
          description: AuthorizationTokenRequired
        '404':
          description: ImageNotFound
      summary: Download an image
      tags:
        - Downloads
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GettyImages.Models.Downloads.PremiumAccessDownloadData'
          text/json:
            schema:
              $ref: '#/components/schemas/GettyImages.Models.Downloads.PremiumAccessDownloadData'
        description: "<remarks>\r\n                    Additional information required from specific customers when downloading. \r\n                    Only users who have been set up with a project code by Getty Images Sales need to use this field.\r\n                </remarks>"
  '/v3/downloads/videos/{id}':
    post:
      deprecated: false
      description: "The single step download call returns either a redirect or a response message with the URI to download the largest\r\n                video available.\r\n                Returns HTTP status code 303 Redirect to download URI or HTTP status code 200."
      operationId: Downloads_PostVideoDownloads
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          schema:
            type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          schema:
            type: string
        - description: "<remarks>\r\n                    Id of video to download.\r\n                </remarks>"
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: "<remarks>\r\n                    Specifies whether to auto-download the video. If true is specified, a 303 SeeOther status is returned with a\r\n                    Location header set to the location of the video.\r\n                    If false is specified, the download URI will be returned in the response message.\r\n                </remarks>"
          in: query
          name: auto_download
          required: false
          schema:
            type: boolean
        - description: "<remarks>\r\n                    Identifier of the instance for the selected product offering type.\r\n                </remarks>"
          in: query
          name: product_id
          required: false
          schema:
            type: integer
            format: int32
        - description: Specifies the size to be downloaded.
          in: query
          name: size
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
        '303':
          description: See Other
        '400':
          description: ProductIdNotSpecified
        '401':
          description: AuthorizationTokenRequired
        '404':
          description: VideoNotFound
      summary: Download a video
      tags:
        - Downloads
  '/v3/downloads/{id}': {}
  /v3/events:
    get:
      deprecated: false
      description: Returns an array of event metadata
      operationId: Events_GetBatch
      parameters:
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          schema:
            type: string
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: false
          schema:
            type: string
        - description: A comma separated list of fields to return in the response.
          in: query
          name: fields
          required: false
          explode: true
          schema:
            type: array
            items:
              enum:
                - id
                - child_event_count
                - editorial_segments
                - hero_image
                - image_count
                - location
                - name
                - start_date
                - type
              type: string
            enum:
              - id
              - child_event_count
              - editorial_segments
              - hero_image
              - image_count
              - location
              - name
              - start_date
              - type
        - description: A comma separated list of event ids.
          in: query
          name: ids
          required: false
          explode: true
          schema:
            type: array
            items:
              format: int32
              type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GettyImages.Models.Events.EventsResult'
            text/json:
              schema:
                $ref: '#/components/schemas/GettyImages.Models.Events.EventsResult'
        '400':
          description: InvalidParameterValue
        '401':
          description: Unauthorized
        '404':
          description: EventNotFound
      summary: Get metadata for multiple events
      tags:
        - Events
  '/v3/events/{id}':
    get:
      deprecated: false
      description: Returns an array of event metadata
      operationId: Events_Get
      parameters:
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          schema:
            type: string
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: false
          schema:
            type: string
        - description: An event id.
          in: path
          name: id
          required: true
          schema:
            type: integer
            format: int32
        - description: A comma separated list of fields to return in the response.
          in: query
          name: fields
          required: false
          explode: true
          schema:
            type: array
            items:
              enum:
                - id
                - child_event_count
                - editorial_segments
                - hero_image
                - image_count
                - location
                - name
                - start_date
                - type
              type: string
            enum:
              - id
              - child_event_count
              - editorial_segments
              - hero_image
              - image_count
              - location
              - name
              - start_date
              - type
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GettyImages.Models.Events.Event'
            text/json:
              schema:
                $ref: '#/components/schemas/GettyImages.Models.Events.Event'
        '400':
          description: InvalidParameterValue
        '401':
          description: Unauthorized
        '404':
          description: EventNotFound
      summary: Get metadata for a single event
      tags:
        - Events
  /v3/images:
    get:
      deprecated: false
      description: ''
      operationId: Images_GetBatch
      parameters:
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          schema:
            type: string
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: false
          schema:
            type: string
        - description: Specifies one or more image ids to return. Use comma delimiter when requesting multiple ids.
          in: query
          name: ids
          required: true
          explode: true
          schema:
            type: array
            items:
              type: string
        - description: Specifies fields to return. Defaults to 'summary_set'.
          in: query
          name: fields
          required: false
          explode: true
          schema:
            type: array
            items:
              enum:
                - allowed_use
                - alternative_ids
                - artist
                - artist_title
                - asset_family
                - call_for_image
                - caption
                - city
                - collection_code
                - collection_id
                - collection_name
                - color_type
                - comp
                - copyright
                - country
                - credit_line
                - date_camera_shot
                - date_created
                - date_submitted
                - detail_set
                - display_set
                - download_sizes
                - downloads
                - editorial_segments
                - editorial_source
                - entity_details
                - event_ids
                - graphical_style
                - id
                - istock_licenses
                - keywords
                - largest_downloads
                - license_model
                - links
                - max_dimensions
                - orientation
                - people
                - prestige
                - preview
                - product_types
                - quality_rank
                - referral_destinations
                - state_province
                - summary_set
                - thumb
                - title
                - uri_oembed
              type: string
            enum:
              - allowed_use
              - alternative_ids
              - artist
              - artist_title
              - asset_family
              - call_for_image
              - caption
              - city
              - collection_code
              - collection_id
              - collection_name
              - color_type
              - comp
              - copyright
              - country
              - credit_line
              - date_camera_shot
              - date_created
              - date_submitted
              - detail_set
              - display_set
              - download_sizes
              - downloads
              - editorial_segments
              - editorial_source
              - entity_details
              - event_ids
              - graphical_style
              - id
              - istock_licenses
              - keywords
              - largest_downloads
              - license_model
              - links
              - max_dimensions
              - orientation
              - people
              - prestige
              - preview
              - product_types
              - quality_rank
              - referral_destinations
              - state_province
              - summary_set
              - thumb
              - title
              - uri_oembed
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GettyImages.Models.Images.ImagesDetail'
            text/json:
              schema:
                $ref: '#/components/schemas/GettyImages.Models.Images.ImagesDetail'
        '400':
          description: InvalidParameterValue
        '401':
          description: AuthorizationTokenRequired
        '403':
          description: UnauthorizedDisplaySize
        '404':
          description: ImageNotFound
      summary: Get metadata for multiple images by supplying multiple image ids
      tags:
        - Images
  '/v3/images/{id}':
    get:
      deprecated: false
      description: ''
      operationId: Images_Get
      parameters:
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          schema:
            type: string
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: false
          schema:
            type: string
        - description: An image id. For more than one image please use the /v3/images endpoint.
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: Specifies fields to return. Defaults to 'summary_set'.
          in: query
          name: fields
          required: false
          explode: true
          schema:
            type: array
            items:
              enum:
                - allowed_use
                - alternative_ids
                - artist
                - artist_title
                - asset_family
                - call_for_image
                - caption
                - city
                - collection_code
                - collection_id
                - collection_name
                - color_type
                - comp
                - copyright
                - country
                - credit_line
                - date_camera_shot
                - date_created
                - date_submitted
                - detail_set
                - display_set
                - download_sizes
                - downloads
                - editorial_segments
                - editorial_source
                - entity_details
                - event_ids
                - graphical_style
                - id
                - istock_licenses
                - keywords
                - largest_downloads
                - license_model
                - links
                - max_dimensions
                - orientation
                - people
                - prestige
                - preview
                - product_types
                - quality_rank
                - referral_destinations
                - state_province
                - summary_set
                - thumb
                - title
                - uri_oembed
              type: string
            enum:
              - allowed_use
              - alternative_ids
              - artist
              - artist_title
              - asset_family
              - call_for_image
              - caption
              - city
              - collection_code
              - collection_id
              - collection_name
              - color_type
              - comp
              - copyright
              - country
              - credit_line
              - date_camera_shot
              - date_created
              - date_submitted
              - detail_set
              - display_set
              - download_sizes
              - downloads
              - editorial_segments
              - editorial_source
              - entity_details
              - event_ids
              - graphical_style
              - id
              - istock_licenses
              - keywords
              - largest_downloads
              - license_model
              - links
              - max_dimensions
              - orientation
              - people
              - prestige
              - preview
              - product_types
              - quality_rank
              - referral_destinations
              - state_province
              - summary_set
              - thumb
              - title
              - uri_oembed
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GettyImages.Models.Images.ImagesDetail'
            text/json:
              schema:
                $ref: '#/components/schemas/GettyImages.Models.Images.ImagesDetail'
        '400':
          description: InvalidParameterValue
        '401':
          description: AuthorizationTokenRequired
        '403':
          description: UnauthorizedDisplaySize
        '404':
          description: ImageNotFound
      summary: Get metadata for a single image by supplying one image id
      tags:
        - Images
  '/v3/images/{id}/similar':
    get:
      deprecated: false
      operationId: Images_GetSimilarImages
      parameters:
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          schema:
            type: string
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: false
          schema:
            type: string
        - description: Identifies an existing image
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: Specifies fields to return. Defaults to 'summary_set'.
          in: query
          name: fields
          required: false
          explode: true
          schema:
            type: array
            items:
              enum:
                - accessrestriction
                - allowed_use
                - alternative_ids
                - artist
                - asset_family
                - call_for_image
                - caption
                - collection_code
                - collection_id
                - collection_name
                - color_type
                - comp
                - copyright
                - date_camera_shot
                - date_created
                - detail_set
                - display_set
                - editorial_segments
                - editorial_source
                - entity_details
                - event_ids
                - graphical_style
                - id
                - keywords
                - largest_downloads
                - license_model
                - max_dimensions
                - orientation
                - people
                - prestige
                - preview
                - product_types
                - quality_rank
                - referral_destinations
                - summary_set
                - thumb
                - title
                - uri_oembed
              type: string
            enum:
              - accessrestriction
              - allowed_use
              - alternative_ids
              - artist
              - asset_family
              - call_for_image
              - caption
              - collection_code
              - collection_id
              - collection_name
              - color_type
              - comp
              - copyright
              - date_camera_shot
              - date_created
              - detail_set
              - display_set
              - editorial_segments
              - editorial_source
              - entity_details
              - event_ids
              - graphical_style
              - id
              - keywords
              - largest_downloads
              - license_model
              - max_dimensions
              - orientation
              - people
              - prestige
              - preview
              - product_types
              - quality_rank
              - referral_destinations
              - summary_set
              - thumb
              - title
              - uri_oembed
        - description: Identifies page to return. Default is 1.
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
        - description: 'Specifies page size. Default is 30, maximum page_size is 100.'
          in: query
          name: page_size
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
        '400':
          description: InvalidParameterValue
        '401':
          description: AuthorizationTokenRequired
        '403':
          description: UnauthorizedDisplaySize
        '404':
          description: ImageNotFound
      summary: Search for images similar to an image
      tags:
        - Images
  /v3/products:
    get:
      deprecated: false
      operationId: Products_GetProducts
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          schema:
            type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          schema:
            type: string
        - description: Comma separated list of fields. Allows product download requirements to be returned.
          in: query
          name: fields
          required: false
          explode: true
          schema:
            type: array
            items:
              enum:
                - download_requirements
              type: string
            enum:
              - download_requirements
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GettyImages.Models.Products.ProductsResult'
            text/json:
              schema:
                $ref: '#/components/schemas/GettyImages.Models.Products.ProductsResult'
        '400':
          description: InvalidParameterValue
        '401':
          description: Unauthorized
      summary: Get Products
      tags:
        - Products
  /v3/purchased-assets:
    get:
      deprecated: false
      operationId: Purchases_GetPreviousAssetPurchases
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          schema:
            type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          schema:
            type: string
        - description: 'If specified, retrieves previous purchases on or before this date. Dates should be submitted in ISO 8601 format (i.e., YYYY-MM-DD).'
          in: query
          name: end_date
          required: false
          schema:
            type: string
            format: date-time
        - description: Identifies page to return. Default is 1.
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
        - description: 'Specifies page size. Default is 75, maximum page_size is 100.'
          in: query
          name: page_size
          required: false
          schema:
            type: integer
            format: int32
        - description: 'If specified, retrieves previous purchases on or after this date. Dates should be submitted in ISO 8601 format (i.e., YYYY-MM-DD).'
          in: query
          name: start_date
          required: false
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GettyImages.Models.Purchases.PreviousAssetPurchases'
            text/json:
              schema:
                $ref: '#/components/schemas/GettyImages.Models.Purchases.PreviousAssetPurchases'
        '400':
          description: PageNumberLessThanOne
        '401':
          description: Unauthorized
      summary: Get Previously Purchased Images and Video
      tags:
        - Purchases
  /v3/purchased-images:
    get:
      deprecated: false
      operationId: Purchases_GetPreviousPurchases
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          schema:
            type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          schema:
            type: string
        - description: 'If specified, retrieves previous purchases on or before this date. Dates should be submitted in ISO 8601 format (i.e., YYYY-MM-DD).'
          in: query
          name: end_date
          required: false
          schema:
            type: string
            format: date-time
        - description: Identifies page to return. Default is 1.
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
        - description: 'Specifies page size. Default is 75, maximum page_size is 100.'
          in: query
          name: page_size
          required: false
          schema:
            type: integer
            format: int32
        - description: 'If specified, retrieves previous purchases on or after this date. Dates should be submitted in ISO 8601 format (i.e., YYYY-MM-DD).'
          in: query
          name: start_date
          required: false
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GettyImages.Models.Purchases.PreviousPurchases'
            text/json:
              schema:
                $ref: '#/components/schemas/GettyImages.Models.Purchases.PreviousPurchases'
        '400':
          description: PageNumberLessThanOne
        '401':
          description: Unauthorized
      summary: Get Previously Purchased Images
      tags:
        - Purchases
  /v3/search/events:
    get:
      deprecated: false
      operationId: Search_GetEvents
      parameters:
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          schema:
            type: string
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: false
          schema:
            type: string
        - description: 'Filters to events that start on or after this date. Use ISO 8601 format (e.g., 1999-12-31).'
          in: query
          name: date_from
          required: false
          schema:
            type: string
            format: date-time
        - description: 'Filters to events that start on or before this date. Use ISO 8601 format (e.g., 1999-12-31).'
          in: query
          name: date_to
          required: false
          schema:
            type: string
            format: date-time
        - description: Filters to events with a matching editorial segment.
          in: query
          name: editorial_segment
          required: false
          schema:
            type: string
            enum:
              - archival
              - entertainment
              - news
              - publicity
              - royalty
              - sport
        - description: 'Specifies fields to return. Default set is ''id'',''name'',''start_date''.'
          in: query
          name: fields
          required: false
          explode: true
          schema:
            type: array
            items:
              enum:
                - id
                - child_event_count
                - editorial_segments
                - hero_image
                - image_count
                - keywords
                - location
                - name
                - start_date
                - type
              type: string
            enum:
              - id
              - child_event_count
              - editorial_segments
              - hero_image
              - image_count
              - keywords
              - location
              - name
              - start_date
              - type
        - description: Request results starting at a page number (default is 1).
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
        - description: Request number of images to return in each page.
          in: query
          name: page_size
          required: false
          schema:
            type: integer
            format: int32
        - description: Filters to events related to this phrase
          in: query
          name: phrase
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GettyImages.Models.Search.EventsSearchResult'
            text/json:
              schema:
                $ref: '#/components/schemas/GettyImages.Models.Search.EventsSearchResult'
        '400':
          description: InvalidParameterValue
        '401':
          description: AuthorizationTokenRequired
        '403':
          description: UnauthorizedDisplaySize
      summary: Search for events
      tags:
        - Search
  /v3/search/images:
    get:
      deprecated: false
      operationId: Search_GetImagesByPhrase
      parameters:
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          schema:
            type: string
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: false
          schema:
            type: string
        - description: Filter based on the age of individuals in an image.
          in: query
          name: age_of_people
          required: false
          explode: true
          schema:
            type: array
            items:
              enum:
                - newborn
                - baby
                - child
                - teenager
                - young_adult
                - adult
                - adults_only
                - mature_adult
                - senior_adult
                - months_0_1
                - months_2_5
                - months_6_11
                - months_12_17
                - months_18_23
                - years_2_3
                - years_4_5
                - years_6_7
                - years_8_9
                - years_10_11
                - years_12_13
                - years_14_15
                - years_16_17
                - years_18_19
                - years_20_24
                - years_20_29
                - years_25_29
                - years_30_34
                - years_30_39
                - years_35_39
                - years_40_44
                - years_40_49
                - years_45_49
                - years_50_54
                - years_50_59
                - years_55_59
                - years_60_64
                - years_60_69
                - years_65_69
                - years_70_79
                - years_80_89
                - over_90
                - over_100
              type: string
            enum:
              - newborn
              - baby
              - child
              - teenager
              - young_adult
              - adult
              - adults_only
              - mature_adult
              - senior_adult
              - months_0_1
              - months_2_5
              - months_6_11
              - months_12_17
              - months_18_23
              - years_2_3
              - years_4_5
              - years_6_7
              - years_8_9
              - years_10_11
              - years_12_13
              - years_14_15
              - years_16_17
              - years_18_19
              - years_20_24
              - years_20_29
              - years_25_29
              - years_30_34
              - years_30_39
              - years_35_39
              - years_40_44
              - years_40_49
              - years_45_49
              - years_50_54
              - years_50_59
              - years_55_59
              - years_60_64
              - years_60_69
              - years_65_69
              - years_70_79
              - years_80_89
              - over_90
              - over_100
        - description: 'Search for images by specific artists (free-text, comma-separated list of artists).'
          in: query
          name: artists
          required: false
          schema:
            type: string
        - description: Filter by collection codes (comma-separated list). Include or exclude based on collections_filter_type.
          in: query
          name: collection_codes
          required: false
          explode: true
          schema:
            type: array
            items:
              type: string
        - description: Provides searching based on specified collection(s).
          in: query
          name: collections_filter_type
          required: false
          schema:
            type: string
            enum:
              - include
              - exclude
        - description: 'Filter based on predominant color in an image. Use 6 character hexidecimal format (e.g., #002244). Note: when specified, results will not contain editorial images.'
          in: query
          name: color
          required: false
          schema:
            type: string
        - description: Filter based on image composition.
          in: query
          name: compositions
          required: false
          explode: true
          schema:
            type: array
            items:
              enum:
                - abstract
                - candid
                - close_up
                - copy_space
                - cut_out
                - full_frame
                - full_length
                - headshot
                - looking_at_camera
                - macro
                - portrait
                - sparse
                - still_life
                - three_quarter_length
                - waist_up
              type: string
            enum:
              - abstract
              - candid
              - close_up
              - copy_space
              - cut_out
              - full_frame
              - full_length
              - headshot
              - looking_at_camera
              - macro
              - portrait
              - sparse
              - still_life
              - three_quarter_length
              - waist_up
        - description: Restrict search results to embeddable images. The default is false.
          in: query
          name: embed_content_only
          required: false
          schema:
            type: boolean
        - description: Filter search results based on the ethnicity of individuals in an image.
          in: query
          name: ethnicity
          required: false
          explode: true
          schema:
            type: array
            items:
              enum:
                - black
                - caucasian
                - east_asian
                - hispanic_latino
                - japanese
                - middle_eastern
                - mixed_race_person
                - multiethnic_group
                - native_american_first_nations
                - pacific_islander
                - south_asian
                - southeast_asian
              type: string
            enum:
              - black
              - caucasian
              - east_asian
              - hispanic_latino
              - japanese
              - middle_eastern
              - mixed_race_person
              - multiethnic_group
              - native_american_first_nations
              - pacific_islander
              - south_asian
              - southeast_asian
        - description: Filter based on specific events
          in: query
          name: event_ids
          required: false
          explode: true
          schema:
            type: array
            items:
              format: int32
              type: integer
        - description: Excludes images containing nudity. The default is false.
          in: query
          name: exclude_nudity
          required: false
          schema:
            type: boolean
        - description: Specifies fields to return. Defaults to 'summary_set'.
          in: query
          name: fields
          required: false
          explode: true
          schema:
            type: array
            items:
              enum:
                - accessrestriction
                - allowed_use
                - alternative_ids
                - artist
                - asset_family
                - call_for_image
                - caption
                - collection_code
                - collection_id
                - collection_name
                - color_type
                - comp
                - copyright
                - date_camera_shot
                - date_created
                - detail_set
                - display_set
                - editorial_segments
                - editorial_source
                - entity_details
                - event_ids
                - graphical_style
                - id
                - keywords
                - largest_downloads
                - license_model
                - max_dimensions
                - orientation
                - people
                - prestige
                - preview
                - product_types
                - quality_rank
                - referral_destinations
                - summary_set
                - thumb
                - title
                - uri_oembed
              type: string
            enum:
              - accessrestriction
              - allowed_use
              - alternative_ids
              - artist
              - asset_family
              - call_for_image
              - caption
              - collection_code
              - collection_id
              - collection_name
              - color_type
              - comp
              - copyright
              - date_camera_shot
              - date_created
              - detail_set
              - display_set
              - editorial_segments
              - editorial_source
              - entity_details
              - event_ids
              - graphical_style
              - id
              - keywords
              - largest_downloads
              - license_model
              - max_dimensions
              - orientation
              - people
              - prestige
              - preview
              - product_types
              - quality_rank
              - referral_destinations
              - summary_set
              - thumb
              - title
              - uri_oembed
        - description: Return only images having a specific file type.
          in: query
          name: file_types
          required: false
          explode: true
          schema:
            type: array
            items:
              enum:
                - eps
                - jpg
              type: string
            enum:
              - eps
              - jpg
        - description: Filter based on graphical style of the image.
          in: query
          name: graphical_styles
          required: false
          explode: true
          schema:
            type: array
            items:
              enum:
                - fine_art
                - illustration
                - photography
              type: string
            enum:
              - fine_art
              - illustration
              - photography
        - description: 'Return only images tagged with specific keyword(s). Specify using a comma-separated list of keyword Ids. If keyword Ids and phrase are both specified, only those images matching the query phrase which also contain the requested keyword(s) are returned.'
          in: query
          name: keyword_ids
          required: false
          explode: true
          schema:
            type: array
            items:
              format: int32
              type: integer
        - description: Specifies the image licensing model(s).
          in: query
          name: license_models
          required: false
          explode: true
          schema:
            type: array
            items:
              enum:
                - rights_managed
                - royalty_free
              type: string
            enum:
              - rights_managed
              - royalty_free
        - description: Filter based on minimum size requested.
          in: query
          name: minimum_size
          required: false
          schema:
            type: string
            enum:
              - x_small
              - small
              - medium
              - large
              - x_large
              - xx_large
        - description: Filter based on the number of people in the image.
          in: query
          name: number_of_people
          required: false
          explode: true
          schema:
            type: array
            items:
              enum:
                - none
                - one
                - two
                - group
              type: string
            enum:
              - none
              - one
              - two
              - group
        - description: Return only images with selected aspect ratios.
          in: query
          name: orientations
          required: false
          explode: true
          schema:
            type: array
            items:
              enum:
                - horizontal
                - vertical
                - square
                - panoramic_horizontal
                - panoramic_vertical
              type: string
            enum:
              - horizontal
              - vertical
              - square
              - panoramic_horizontal
              - panoramic_vertical
        - description: Request results starting at a page number (default is 1).
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
        - description: Request number of images to return in each page.
          in: query
          name: page_size
          required: false
          schema:
            type: integer
            format: int32
        - description: Search images using a search phrase.
          in: query
          name: phrase
          required: false
          schema:
            type: string
        - description: Restrict search results to prestige images. The default is false.
          in: query
          name: prestige_content_only
          required: false
          schema:
            type: boolean
        - description: Filter images to those having product types from the selected list.
          in: query
          name: product_types
          required: false
          explode: true
          schema:
            type: array
            items:
              enum:
                - easy_access
                - editorial_subscription
                - image_pack
                - premium_access
                - royalty_free_subscription
                - credit_pack
              type: string
            enum:
              - easy_access
              - editorial_subscription
              - image_pack
              - premium_access
              - royalty_free_subscription
              - credit_pack
        - description: Select sort order of results.
          in: query
          name: sort_order
          required: false
          schema:
            type: string
            enum:
              - best_match
              - most_popular
              - newest
        - description: Return only images associated with specific people (using a comma-delimited list).
          in: query
          name: specific_people
          required: false
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GettyImages.Models.Search.SearchResults_GettyImages.Models.Search.ImageSearchItem_'
            text/json:
              schema:
                $ref: '#/components/schemas/GettyImages.Models.Search.SearchResults_GettyImages.Models.Search.ImageSearchItem_'
        '400':
          description: InvalidParameterValue
        '401':
          description: AuthorizationTokenRequired
        '403':
          description: UnauthorizedDisplaySize
      summary: Search for both creative and editorial images
      tags:
        - Search
  /v3/search/images/artists:
    get:
      deprecated: false
      operationId: Artists_GetArtistImages
      parameters:
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          schema:
            type: string
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: false
          schema:
            type: string
        - description: Name of artist for desired images
          in: query
          name: name
          required: true
          schema:
            type: string
        - description: 'Comma separated list of fields. Allows restricting which fields are returned. If no fields are selected, the summary_set of fields are returned.'
          in: query
          name: fields
          required: false
          explode: true
          schema:
            type: array
            items:
              enum:
                - id
                - alternative_ids
                - asset_family
                - asset_type
                - collection_code
                - collection_name
                - comp
                - date_submitted
                - keywords
              type: string
            enum:
              - id
              - alternative_ids
              - asset_family
              - asset_type
              - collection_code
              - collection_name
              - comp
              - date_submitted
              - keywords
        - description: Identifies page to return. Default page is 1.
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
        - description: 'Specifies page size. Default page_size is 3, maximum page_size is 100.'
          in: query
          name: page_size
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GettyImages.Models.Artists.ImageSearchResults'
            text/json:
              schema:
                $ref: '#/components/schemas/GettyImages.Models.Artists.ImageSearchResults'
        '400':
          description: InvalidParameterValue
        '401':
          description: Unauthorized
      summary: '***BETA*** Search for images by a photographer'
      tags:
        - Artists
  /v3/search/images/creative:
    get:
      deprecated: false
      operationId: Search_GetCreativeImagesByPhrase
      parameters:
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          schema:
            type: string
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: false
          schema:
            type: string
        - description: Filter based on the age of individuals in an image.
          in: query
          name: age_of_people
          required: false
          explode: true
          schema:
            type: array
            items:
              enum:
                - newborn
                - baby
                - child
                - teenager
                - young_adult
                - adult
                - adults_only
                - mature_adult
                - senior_adult
                - months_0_1
                - months_2_5
                - months_6_11
                - months_12_17
                - months_18_23
                - years_2_3
                - years_4_5
                - years_6_7
                - years_8_9
                - years_10_11
                - years_12_13
                - years_14_15
                - years_16_17
                - years_18_19
                - years_20_24
                - years_20_29
                - years_25_29
                - years_30_34
                - years_30_39
                - years_35_39
                - years_40_44
                - years_40_49
                - years_45_49
                - years_50_54
                - years_50_59
                - years_55_59
                - years_60_64
                - years_60_69
                - years_65_69
                - years_70_79
                - years_80_89
                - over_90
                - over_100
              type: string
            enum:
              - newborn
              - baby
              - child
              - teenager
              - young_adult
              - adult
              - adults_only
              - mature_adult
              - senior_adult
              - months_0_1
              - months_2_5
              - months_6_11
              - months_12_17
              - months_18_23
              - years_2_3
              - years_4_5
              - years_6_7
              - years_8_9
              - years_10_11
              - years_12_13
              - years_14_15
              - years_16_17
              - years_18_19
              - years_20_24
              - years_20_29
              - years_25_29
              - years_30_34
              - years_30_39
              - years_35_39
              - years_40_44
              - years_40_49
              - years_45_49
              - years_50_54
              - years_50_59
              - years_55_59
              - years_60_64
              - years_60_69
              - years_65_69
              - years_70_79
              - years_80_89
              - over_90
              - over_100
        - description: 'Search for images by specific artists (free-text, comma-separated list of artists).'
          in: query
          name: artists
          required: false
          schema:
            type: string
        - description: Filter by collection codes (comma-separated list). Include or exclude based on collections_filter_type.
          in: query
          name: collection_codes
          required: false
          explode: true
          schema:
            type: array
            items:
              type: string
        - description: Use to include or exclude collections from search.
          in: query
          name: collections_filter_type
          required: false
          schema:
            type: string
            enum:
              - include
              - exclude
        - description: 'Filter based on predominant color in an image. Use 6 character hexidecimal format (e.g., #002244).'
          in: query
          name: color
          required: false
          schema:
            type: string
        - description: Filter based on image composition.
          in: query
          name: compositions
          required: false
          explode: true
          schema:
            type: array
            items:
              enum:
                - abstract
                - candid
                - close_up
                - copy_space
                - cut_out
                - full_frame
                - full_length
                - headshot
                - looking_at_camera
                - macro
                - portrait
                - sparse
                - still_life
                - three_quarter_length
                - waist_up
              type: string
            enum:
              - abstract
              - candid
              - close_up
              - copy_space
              - cut_out
              - full_frame
              - full_length
              - headshot
              - looking_at_camera
              - macro
              - portrait
              - sparse
              - still_life
              - three_quarter_length
              - waist_up
        - description: Restrict search results to embeddable images. The default is false.
          in: query
          name: embed_content_only
          required: false
          schema:
            type: boolean
        - description: Filter search results based on the ethnicity of individuals in an image.
          in: query
          name: ethnicity
          required: false
          explode: true
          schema:
            type: array
            items:
              enum:
                - black
                - caucasian
                - east_asian
                - hispanic_latino
                - japanese
                - middle_eastern
                - mixed_race_person
                - multiethnic_group
                - native_american_first_nations
                - pacific_islander
                - south_asian
                - southeast_asian
              type: string
            enum:
              - black
              - caucasian
              - east_asian
              - hispanic_latino
              - japanese
              - middle_eastern
              - mixed_race_person
              - multiethnic_group
              - native_american_first_nations
              - pacific_islander
              - south_asian
              - southeast_asian
        - description: Excludes images containing nudity. The default is false.
          in: query
          name: exclude_nudity
          required: false
          schema:
            type: boolean
        - description: Specifies fields to return. Defaults to 'summary_set'.
          in: query
          name: fields
          required: false
          explode: true
          schema:
            type: array
            items:
              enum:
                - allowed_use
                - alternative_ids
                - artist
                - asset_family
                - call_for_image
                - caption
                - collection_code
                - collection_id
                - collection_name
                - color_type
                - comp
                - copyright
                - date_camera_shot
                - date_created
                - detail_set
                - display_set
                - graphical_style
                - id
                - keywords
                - largest_downloads
                - license_model
                - max_dimensions
                - orientation
                - prestige
                - preview
                - product_types
                - quality_rank
                - referral_destinations
                - summary_set
                - thumb
                - title
                - uri_oembed
              type: string
            enum:
              - allowed_use
              - alternative_ids
              - artist
              - asset_family
              - call_for_image
              - caption
              - collection_code
              - collection_id
              - collection_name
              - color_type
              - comp
              - copyright
              - date_camera_shot
              - date_created
              - detail_set
              - display_set
              - graphical_style
              - id
              - keywords
              - largest_downloads
              - license_model
              - max_dimensions
              - orientation
              - prestige
              - preview
              - product_types
              - quality_rank
              - referral_destinations
              - summary_set
              - thumb
              - title
              - uri_oembed
        - description: Return only images having a specific file type.
          in: query
          name: file_types
          required: false
          explode: true
          schema:
            type: array
            items:
              enum:
                - eps
                - jpg
              type: string
            enum:
              - eps
              - jpg
        - description: Filter based on graphical style of the image.
          in: query
          name: graphical_styles
          required: false
          explode: true
          schema:
            type: array
            items:
              enum:
                - fine_art
                - illustration
                - photography
              type: string
            enum:
              - fine_art
              - illustration
              - photography
        - description: 'Return only images tagged with specific keyword(s). Specify using a comma-separated list of keyword Ids. If keyword Ids and phrase are both specified, only those images matching the query phrase which also contain the requested keyword(s) are returned.'
          in: query
          name: keyword_ids
          required: false
          explode: true
          schema:
            type: array
            items:
              format: int32
              type: integer
        - description: Specifies the image licensing model(s).
          in: query
          name: license_models
          required: false
          explode: true
          schema:
            type: array
            items:
              enum:
                - rights_managed
                - royalty_free
              type: string
            enum:
              - rights_managed
              - royalty_free
        - description: Filter based on minimum size requested.
          in: query
          name: minimum_size
          required: false
          schema:
            type: string
            enum:
              - x_small
              - small
              - medium
              - large
              - x_large
              - xx_large
        - description: Filter based on the number of people in the image.
          in: query
          name: number_of_people
          required: false
          explode: true
          schema:
            type: array
            items:
              enum:
                - none
                - one
                - two
                - group
              type: string
            enum:
              - none
              - one
              - two
              - group
        - description: Return only images with selected aspect ratios.
          in: query
          name: orientations
          required: false
          explode: true
          schema:
            type: array
            items:
              enum:
                - horizontal
                - vertical
                - square
                - panoramic_horizontal
                - panoramic_vertical
              type: string
            enum:
              - horizontal
              - vertical
              - square
              - panoramic_horizontal
              - panoramic_vertical
        - description: Request results starting at a page number (default is 1).
          in: query
          name: page
          required: false
          schema:
            type: integer
            format: int32
        - description: Request number of images to return in each page.
          in: query
          name: page_size
          required: false
          schema:
            type: integer
            format: int32
        - description: Search images using a search phrase.
          in: query
          name: phrase
          required: false
          schema:
            type: string
        - description: Restrict search results to prestige images. The default is false.
          in: query
          name: prestige_content_only
          required: false
          schema:
            type: boolean
        - description: Filter images to those having product types from the selected list.
          in: query
          name: product_types
          required: false
          explode: true
          schema:
            type: array
            items:
              enum:
                - easy_access
                - editorial_subscription
                - image_pack
                - premium_access
                - royalty_free_subscription
                - credit_pack
              type: string
            enum:
              - easy_access
              - editorial_subscription
              - image_pack
              - premium_access
              - royalty_free_subscription
              - credit_pack
        - description: Select sort order of results.
          in: query
          name: sort_order
          required: false
          schema:
            type: string
            enum:
              - best_match
              - most_popular
              - newest
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GettyImages.Models.Search.CreativeImageSearchResults'
            text/json:
              schema:
                $ref: '#/components/schemas/GettyImages.Models.Search.CreativeImageSearchResults'
        '400':
          description: InvalidParameterValue
        '401':
          description: AuthorizationTokenRequired
        '403':
          description: UnauthorizedDisplaySize
      summary: Search for creative images only
      tags:
        - Search
  /v3/search/images/editorial:
    get:
      deprecated: false
      operationId: Search_GetEditorialImagesByPhrase
      parameters:
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          schema:
            type: string
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: false
          schema:
            type: string
        - description: Filter based on the age of individuals in an image.
          in: query
          name: age_of_people
          required: false
          explode: true
          schema:
            type: array
            items:
              enum:
                - newborn
                - baby
                - child
                - teenager
                - young_adult
                - adult
                - adults_only
                - mature_adult
                - senior_adult
                - months_0_1
                - months_2_5
                - months_6_11
                - months_12_17
                - months_18_23
                - years_2_3
                - years_4_5
                - years_6_7
                - years_8_9
                - years_10_11
                - years_12_13
                - years_14_15
                - years_16_17
                - years_18_19
                - years_20_24
                - years_20_29
                - years_25_29
                - years_30_34
                - years_30_39
                - years_35_39
                - years_40_44
                - years_40_49
                - years_45_49
                - years_50_54
                - years_50_59
                - years_55_59
                - years_60_64
                - years_60_69
                - years_65_69
                - years_70_79
                - years_80_89
                - over_90
                - over_100
              type: string
            enum:
              - newborn
              - baby
              - child
              - teenager
              - young_adult
              - adult
              - adults_only
              - mature_adult
              - senior_adult
              - months_0_1
              - months_2_5
              - months_6_11
              - months_12_17
              - months_18_23
              - years_2_3
              - years_4_5
              - years_6_7
              - years_8_9
              - years_10_11
              - years_12_13
              - years_14_15
              - years_16_17
              - years_18_19
              - years_20_24
              - years_20_29
              - years_25_29
              - years_30_34
              - years_30_39
              - years_35_39
              - years_40_44
              - years_40_49
              - years_45_49
              - years_50_54
              - years_50_59
              - years_55_59
              - years_60_64
              - years_60_69
              - years_65_69
              - years_70_79
              - years_80_89
              - over_90
              - over_100
        - description: 'Search for images by specific artists (free-text, comma-separated list of artists).'
          in: query
          name: artists
          required: false
          schema:
            type: string
        - description: Filter by collections (comma-separated list of collection codes). Include or exclude based on collections_filter_type.
          in: query
          name: collection_codes
          required: false
          explode: true
          schema:
            type: array
            items:
              type: string
        - description: Use to include or exclude collections from search.
          in: query
          name: collections_filter_type
          required: false
          schema:
            type: string
            enum:
              - include
              - exclude
        - description: Filter based on image composition.
          in: query
          name: compositions
          required: false
          explode: true
          schema:
            type: array
            items:
              enum:
                - abstract
                - candid
                - close_up
                - copy_space
                - cut_out
                - full_frame
                - full_length
                - headshot
                - looking_at_camera
                - macro
                - portrait
                - sparse
                - still_life
                - three_quarter_length
                - waist_up
              type: string
            enum:
              - abstract
              - candid
              - close_up
              - copy_space
              - cut_out
              - full_frame
              - full_length
              - headshot
              - looking_at_camera
              - macro
              - portrait
              - sparse
              - still_life
              - three_quarter_length
              - waist_up
        - description: Return only events with a matching editorial segment.
          in: query
          name: editorial_segments
          required: false
          explode: true
          schema:
            type: array
            items:
              enum:
                - archival
                - entertainment
                - news
                - publicity
                - royalty
                - sport
              type: string
            enum:
              - archival
              - entertainment
              - news
              - publicity
              - royalty
              - sport
        - description: Restrict search results to embeddable images. The default is false.
          in: query
          name: embed_content_only
          required: false
          schema:
            type: boolean
        - description: 'Return only images that are created on or before this date. Use ISO 8601 format (e.g., 1999-12-31).'
          in: query
          name: end_date
          required: false
          schema:
            type: string
            format: date-time
        - description: specify linked data entity uri.
          in: query
          name: entity_uris
          required: false
          explode: true
          schema:
            type: array
            items:
              type: string
        - description: Filter search results based on the ethnicity of individuals in an image.
          in: query
          name: ethnicity
          required: false
          explode: true
          schema:
            type: array
            items:
              enum:
                - black
                - caucasian
                - east_asian
                - hispanic_latino
                - japanese
                - middle_eastern
                - mixed_race_person
                - multiethnic_group
                - native_american_first_nations
                - pacific_islander
                - south_asian
                - southeast_asian
              type: string
            enum:
              - black
              - caucasian
              - east_asian
              - hispanic_latino
              - japanese
              - middle_eastern
              - mixed_race_person
              - multiethnic_group
              - native_american_first_nations
              - pacific_islander
              - south_asian
              - southeast_asian
        - description: Filter based on specific events
          in: query
          name: event_ids
          required: false
          explode: true
          schema:
            type: array
            items:
              format: int32
              type: integer
        - description: Excludes images containing nudity. The default is false.
          in: query
          name: exclude_nudity
          required: false
          schema:
            type: boolean
        - description: Specifies fields to return. Defaults to 'summary_set'.
          in: query
          name: fields
          required: false
          explode: true
          schema:
            type: array
            items:
              enum:
                - allowed_use
                - alternative_ids
                - artist
                - asset_family
                - call_for_image
                - caption
                - collection_code
                - collection_id
                - collection_name
                - color_type
                - comp
                - copyright
                - date_camera_shot
                - date_created
                - detail_set
                - display_set
                - editorial_segments
                - editorial_source
                - entity_details
                - event_ids
                - graphical_style
                - id
                - keywords
                - largest_downloads
                - license_model
                - max_dimensions
                - orientation
                - people
                - preview
                - product_types
                - quality_rank
                - referral_destinations
                - summary_set
                - thumb
                - title
                - uri_oembed
              type: string
            enum:
              - allowed_use
              - alternative_ids
              - artist
              - asset_family
              - call_for_image
              - caption
              - collection_code
              - collection_id
              - collection_name
              - color_type
              - comp
              - copyright
              - date_camera_shot
              - date_created
              - detail_set
              - display_set
              - editorial_segments
              - editorial_source
              - entity_details
              - event_ids
              - graphical_style
              - id
              - keywords
              - largest_downloads
              - license_model
              - max_dimensions
              - orientation
              - people
              - preview
              - product_types
              - quality_rank
              - referral_destinations
              - summary_set
              - thumb
[...]
