swagger: '2.0'
schemes:
  - https
host: api.gettyimages.com
basePath: /
info:
  description: Build applications using the world's most powerful imagery
  title: Getty Images
  version: '3'
  x-apisguru-categories:
    - media
  x-logo:
    url: 'http://developers.gettyimages.com/images/getty-api-logo.jpg'
  x-origin:
    - format: swagger
      url: 'https://api.gettyimages.com/swagger/docs/3'
      version: '2.0'
  x-providerName: gettyimages.com
securityDefinitions:
  Api-Key:
    description: Provide your API key.
    in: header
    name: Api-Key
    type: apiKey
security:
  - Api-Key: []
paths:
  /v3/artists/images:
    get:
      consumes: []
      deprecated: false
      operationId: Artists_GetImagesByArtist
      parameters:
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: false
          type: string
        - description: Name of artist for desired images
          in: query
          name: artist_name
          required: true
          type: string
        - collectionFormat: multi
          description: 'Comma separated list of fields. Allows restricting which fields are returned. If no fields are selected, the summary_set of fields are returned.'
          in: query
          items:
            enum:
              - id
              - alternative_ids
              - asset_family
              - asset_type
              - caption
              - collection_code
              - collection_name
              - comp
              - date_submitted
              - keywords
              - license_model
              - max_dimensions
              - title
            type: string
          name: fields
          required: false
          type: array
        - description: Identifies page to return. Default page is 1.
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: 'Specifies page size. Default page_size is 10, maximum page_size is 100.'
          format: int32
          in: query
          name: page_size
          required: false
          type: integer
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/GettyImages.Models.Artists.ImageSearchResults'
        '400':
          description: InvalidParameterValue
        '401':
          description: Unauthorized
      summary: Search for images by a photographer
      tags:
        - Artists
  /v3/artists/videos:
    get:
      consumes: []
      deprecated: false
      operationId: Artists_GetVideosByArtist
      parameters:
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: false
          type: string
        - description: Name of artist for desired images
          in: query
          name: artist_name
          required: true
          type: string
        - collectionFormat: multi
          description: 'Comma separated list of fields. Allows restricting which fields are returned. If no fields are selected, the summary_set of fields are returned.'
          in: query
          items:
            enum:
              - id
              - alternative_ids
              - asset_family
              - asset_type
              - caption
              - collection_code
              - collection_name
              - comp
              - date_submitted
              - keywords
              - license_model
              - title
            type: string
          name: fields
          required: false
          type: array
        - description: Identifies page to return. Default page is 1.
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: 'Specifies page size. Default page_size is 10, maximum page_size is 100.'
          format: int32
          in: query
          name: page_size
          required: false
          type: integer
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/GettyImages.Models.Artists.VideoSearchResults'
        '400':
          description: InvalidParameterValue
        '401':
          description: Unauthorized
      summary: Search for videos by a photographer
      tags:
        - Artists
  /v3/asset-changes/change-sets:
    put:
      consumes: []
      deprecated: false
      description: "# Asset Changes\r\n\r\nGet notifications about new, updated or deleted assets.\r\n\r\n##  Quickstart\r\n\r\nYou'll need an API key and a [Resource Owner Grant](http://developers.gettyimages.com/en/authorization-faq.html) access token to use this resource.\r\nPlease see our [Getting Started](http://developers.gettyimages.com/en/getting-started.html) page for more information on how to sign up for an API key. \r\n\r\n    \r\nPartner channels that have not been checked within the last 120 days will be removed and that partner will no longer be able \r\nto get change notifications from that channel.\r\nPartners who would like to start using the Asset Changes API again after a period of dormancy should contact their sales\r\nrepresentative to be set up again.\r\n"
      operationId: AssetChanges_PutAssetChanges
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          type: string
        - description: Specifies the id of the channel for the asset data. Valid channel ids can be found in the results of the Get Partner Channel query.
          format: int32
          in: query
          name: channel_id
          required: true
          type: integer
        - description: Specifies the number of assets to return. The default is 10; maximum is 500.
          format: int32
          in: query
          name: batch_size
          required: false
          type: integer
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/AssetChanges'
        '403':
          description: Your access token does not authorize access to this resource
        '404':
          description: The channel you specified does not exist
      summary: Get asset change notifications.
      tags:
        - AssetChanges
  '/v3/asset-changes/change-sets/{change-set-id}':
    delete:
      consumes: []
      deprecated: false
      description: "# Delete Asset Changes\r\n\r\nConfirm asset changes acknowledges receipt of asset changes (from the PUT asset changes endpoint).\r\n\r\n##  Quickstart\r\n\r\nYou'll need an API key and a [Resource Owner Grant](http://developers.gettyimages.com/en/authorization-faq.html) access token to use this resource.\r\nPlease see our [Getting Started](http://developers.gettyimages.com/en/getting-started.html) page for more information on how to sign up for an API key. \r\n"
      operationId: AssetChanges_DeleteAssetChanges
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          type: string
        - format: int64
          in: path
          name: change-set-id
          required: true
          type: integer
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
        '403':
          description: Your access token does not authorize access to this resource
        '404':
          description: Transaction was not found
      summary: Confirm asset change notifications.
      tags:
        - AssetChanges
  /v3/asset-changes/channels:
    get:
      consumes: []
      deprecated: false
      description: "# Get Partner Channels\r\n\r\nRetrieves the channel data for the partner. This data can be used to populate the channel_id parameter in the Put Asset Changes query.\r\n\r\n##  Quickstart\r\n\r\nYou'll need an API key and a [Resource Owner Grant](http://developers.gettyimages.com/en/authorization-faq.html) access token to use this resource.\r\nPlease see our [Getting Started](http://developers.gettyimages.com/en/getting-started.html) page for more information on how to sign up for an API key. \r\n\r\nOnly channels that have been queried in the last 120 days will be included in the list of channels.\r\nPartners who have a channel that has been removed should contact their sales representative to be set up again.\r\n\r\n"
      operationId: AssetChanges_GetPartnerChannel
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PartnerChannelList'
        '404':
          description: ChannelsNotFound
      summary: Get a list of asset change notification channels.
      tags:
        - AssetChanges
  '/v3/asset-licensing/{assetId}':
    post:
      consumes:
        - application/json
        - text/json
      deprecated: false
      operationId: AssetLicensing_AcquireAssetLicenseWithCredits
      parameters:
        - description: "Structure that specifies an array of LicenseTypes (Multiseat, Unlimited, Resale, Indemnification) to acquire,\r\n            and whether or not to use Team Credits. Authenticated User must have access to Team Credits if UseTeamCredits is set to \"true\"."
          in: body
          name: request
          required: true
          schema:
            $ref: '#/definitions/GettyImages.Controllers.AssetLicensing.AcquireAssetLicensesRequest'
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - description: 'Getty Images assetId - examples 520621493, 112301284'
          in: path
          name: assetId
          required: true
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/GettyImages.Controllers.AssetLicensing.AssetLicensingResponse'
        '400':
          description: InvalidRequest
        '401':
          description: AuthorizationTokenRequired
        '402':
          description: NotEnoughCreditsForPurchase
        '404':
          description: StandardLicenseNotFound
      summary: Endpoint for acquiring extended licenses with iStock credits for an asset.
      tags:
        - AssetLicensing
  /v3/boards:
    get:
      consumes: []
      deprecated: false
      description: "Boards are where you collect, curate, collaborate on and manage photo and video assets in one place. More information on the [Boards FAQ](http://www.gettyimages.com/boards/faq). Use this endpoint to retrieve all Boards available for a user.\r\n\r\nYou'll need an API key and a [Resource Owner Grant](http://developers.gettyimages.com/en/authorization-faq.html) access token to use this resource. Please see our [Getting Started](http://developers.gettyimages.com/en/getting-started.html) page for more information on how to sign up for an API key.\r\n"
      operationId: Boards_GetAllBoards
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - description: Search for boards the user owns or has been invited to as an editor.
          enum:
            - owned
            - invited
          in: query
          name: board_relationship
          required: false
          type: string
        - description: Request results starting at a page number (default is 1).
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: Request number of boards to return in each page. (default is 30).
          format: int32
          in: query
          name: pageSize
          required: false
          type: integer
        - description: Sort the list of boards by last update date or name. Defaults to date_last_updated_descending.
          enum:
            - date_last_updated_descending
            - date_last_updated_ascending
            - name_ascending
            - name_decending
          in: query
          name: sort_order
          required: false
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/BoardList'
        '400':
          description: InvalidParameterValue
        '401':
          description: Unauthorized
      summary: Get all boards that the user participates in
      tags:
        - Boards
    post:
      consumes:
        - application/json
        - text/json
      deprecated: false
      description: "Boards are where you collect, curate, collaborate on and manage photo and video assets in one place. More information on the [Boards FAQ](http://www.gettyimages.com/boards/faq). Use this endpoint to create a Board by a specific id.\r\n\r\nYou'll need an API key and a [Resource Owner Grant](http://developers.gettyimages.com/en/authorization-faq.html) access token to use this resource. Please see our [Getting Started](http://developers.gettyimages.com/en/getting-started.html) page for more information on how to sign up for an API key.\r\n\r\n**NOTE:** *The input to this endpoint is not sanitized in any way, so it is the responsibility of the client to ensure that it is properly formatted and guards against malicious data (for example cross-site scripting attacks or HTML injection) when accessing the data.*\r\n"
      operationId: Boards_CreateBoard
      parameters:
        - description: Specify a name and description of the board to create (name is required).
          in: body
          name: new_board
          required: true
          schema:
            $ref: '#/definitions/BoardInfo'
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/BoardCreated'
        '400':
          description: InvalidParameterValue
        '401':
          description: Unauthorized
      summary: Create a new board
      tags:
        - Boards
  '/v3/boards/{board_id}':
    delete:
      consumes: []
      deprecated: false
      description: "Boards are where you collect, curate, collaborate on and manage photo and video assets in one place. More information on the [Boards FAQ](http://www.gettyimages.com/boards/faq). Use this endpoint to delete a Board by a specific id.\r\n\r\nYou'll need an API key and a [Resource Owner Grant](http://developers.gettyimages.com/en/authorization-faq.html) access token to use this resource. Please see our [Getting Started](http://developers.gettyimages.com/en/getting-started.html) page for more information on how to sign up for an API key.\r\n\r\n"
      operationId: Boards_DeleteBoard
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - in: path
          name: board_id
          required: true
          type: string
      produces: []
      responses:
        '204':
          description: ''
        '400':
          description: InvalidParameterValue
        '401':
          description: Unauthorized
        '403':
          description: InsufficientAccess
        '404':
          description: BoardNotFound
      summary: Delete a board
      tags:
        - Boards
    get:
      consumes: []
      deprecated: false
      description: "Boards are where you collect, curate, collaborate on and manage photo and video assets in one place. More information on the [Boards FAQ](http://www.gettyimages.com/boards/faq). Use this endpoint to retrieve a Board by a specific id.\r\n\r\nYou'll need an API key and a [Resource Owner Grant](http://developers.gettyimages.com/en/authorization-faq.html) access token to use this resource. Please see our [Getting Started](http://developers.gettyimages.com/en/getting-started.html) page for more information on how to sign up for an API key.\r\n"
      operationId: Boards_GetBoard
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - in: path
          name: board_id
          required: true
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/BoardDetail'
        '400':
          description: InvalidParameterValue
        '401':
          description: Unauthorized
        '404':
          description: BoardNotFound
      summary: Get assets and metadata for a specific board
      tags:
        - Boards
    put:
      consumes:
        - application/json
        - text/json
      deprecated: false
      description: "Boards are where you collect, curate, collaborate on and manage photo and video assets in one place. More information on the [Boards FAQ](http://www.gettyimages.com/boards/faq). Use this endpoint to update a Board by a specific id.\r\n\r\nYou'll need an API key and a [Resource Owner Grant](http://developers.gettyimages.com/en/authorization-faq.html) access token to use this resource. Please see our [Getting Started](http://developers.gettyimages.com/en/getting-started.html) page for more information on how to sign up for an API key.\r\n\r\n**NOTE:** *The input to this endpoint is not sanitized in any way, so it is the responsibility of the client to ensure that it is properly formatted and guards against malicious data (for example cross-site scripting attacks or HTML injection) when accessing the data.*\r\n"
      operationId: Boards_UpdateBoard
      parameters:
        - description: Specify a new name and description for the board (name is required).
          in: body
          name: board_info
          required: true
          schema:
            $ref: '#/definitions/BoardInfo'
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - in: path
          name: board_id
          required: true
          type: string
      produces: []
      responses:
        '204':
          description: Updated
        '400':
          description: InvalidParameterValue
        '401':
          description: Unauthorized
        '403':
          description: InsufficientAccess
        '404':
          description: BoardNotFound
      summary: Update a board
      tags:
        - Boards
  '/v3/boards/{board_id}/assets':
    delete:
      consumes: []
      deprecated: false
      description: "Boards are where you collect, curate, collaborate on and manage photo and video assets in one place. More information on the [Boards FAQ](http://www.gettyimages.com/boards/faq).\r\nUse this endpoint to remove a set of assets from a board.\r\n\r\nYou'll need an API key and a [Resource Owner Grant](http://developers.gettyimages.com/en/authorization-faq.html) access token to use this resource. Please see our [Getting Started](http://developers.gettyimages.com/en/getting-started.html) page for more information on how to sign up for an API key. \r\n"
      operationId: Boards_RemoveAssets
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - in: path
          name: board_id
          required: true
          type: string
        - collectionFormat: multi
          description: List the assets to be removed from the board.
          in: query
          items:
            type: string
          name: asset_ids
          required: true
          type: array
      produces: []
      responses:
        '204':
          description: No Content
        '400':
          description: InvalidParameterValue
        '401':
          description: Unauthorized
        '403':
          description: InsufficientAccess
        '404':
          description: BoardNotFound
      summary: Remove assets from a board
      tags:
        - Boards
    put:
      consumes:
        - application/json
        - text/json
      deprecated: false
      description: "Boards are where you collect, curate, collaborate on and manage photo and video assets in one place. More information on the [Boards FAQ](http://www.gettyimages.com/boards/faq).\r\nUse this endpoint to add a set of assets to a board.\r\n\r\nYou'll need an API key and a [Resource Owner Grant](http://developers.gettyimages.com/en/authorization-faq.html) access token to use this resource. Please see our [Getting Started](http://developers.gettyimages.com/en/getting-started.html) page for more information on how to sign up for an API key. \r\n\t\r\n\t\r\n"
      operationId: Boards_AddAssets
      parameters:
        - description: List assets to add to the board.
          in: body
          name: board_assets
          required: true
          schema:
            items:
              $ref: '#/definitions/BoardAsset'
            type: array
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - in: path
          name: board_id
          required: true
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/AddBoardAssetsResult'
        '400':
          description: InvalidParameterValue
        '401':
          description: Unauthorized
        '403':
          description: InsufficientAccess
        '404':
          description: BoardNotFound
      summary: Add assets to a board
      tags:
        - Boards
  '/v3/boards/{board_id}/assets/{asset_id}':
    delete:
      consumes: []
      deprecated: false
      description: "Boards are where you collect, curate, collaborate on and manage photo and video assets in one place. More information on the [Boards FAQ](http://www.gettyimages.com/boards/faq). Use this endpoint to remove an asset from a board.\r\n\r\nYou'll need an API key and a [Resource Owner Grant](http://developers.gettyimages.com/en/authorization-faq.html) access token to use this resource. Please see our [Getting Started](http://developers.gettyimages.com/en/getting-started.html) page for more information on how to sign up for an API key. \r\n"
      operationId: Boards_RemoveAsset
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - in: path
          name: asset_id
          required: true
          type: string
        - in: path
          name: board_id
          required: true
          type: string
      produces: []
      responses:
        '204':
          description: No Content
        '400':
          description: InvalidParameterValue
        '401':
          description: Unauthorized
        '403':
          description: InsufficientAccess
        '404':
          description: BoardNotFound
      summary: Remove an asset from a board
      tags:
        - Boards
    put:
      consumes: []
      deprecated: false
      description: "Boards are where you collect, curate, collaborate on and manage photo and video assets in one place.\r\nMore information on the [Boards FAQ](http://www.gettyimages.com/boards/faq). Use this endpoint to add an asset to a board.\r\n\r\nYou'll need an API key and a [Resource Owner Grant](http://developers.gettyimages.com/en/authorization-faq.html) access token to use this resource.\r\nPlease see our [Getting Started](http://developers.gettyimages.com/en/getting-started.html) page for more information on how to sign up for an API key. \r\n\r\n\r\n"
      operationId: Boards_AddAsset
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - in: path
          name: asset_id
          required: true
          type: string
        - in: path
          name: board_id
          required: true
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/Object'
        '400':
          description: InvalidParameterValue
        '401':
          description: Unauthorized
        '403':
          description: AssetNotFound
        '404':
          description: BoardNotFound
      summary: Add an asset to a board
      tags:
        - Boards
  '/v3/boards/{board_id}/comments':
    get:
      consumes: []
      deprecated: false
      description: "Boards are where you collect, curate, collaborate on and manage photo and video assets in one place. More information on the [Boards FAQ](http://www.gettyimages.com/boards/faq). Use this endpoint to retrieve all comments for a specific board.\r\n\r\nYou'll need an API key and a [Resource Owner Grant](http://developers.gettyimages.com/en/authorization-faq.html) access token to use this resource. Please see our [Getting Started](http://developers.gettyimages.com/en/getting-started.html) page for more information on how to sign up for an API key.\r\n"
      operationId: Boards_GetComments
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - in: path
          name: board_id
          required: true
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CommentsList'
        '400':
          description: InvalidParameterValue
        '401':
          description: Unauthorized
        '404':
          description: BoardNotFound
      summary: Get comments from a board
      tags:
        - Boards
    post:
      consumes:
        - application/json
        - text/json
      deprecated: false
      description: "Boards are where you collect, curate, collaborate on and manage photo and video assets in one place. More information on the [Boards FAQ](http://www.gettyimages.com/boards/faq).\r\nUse this endpoint to add a comment to a board.\r\n\r\nYou'll need an API key and a [Resource Owner Grant](http://developers.gettyimages.com/en/authorization-faq.html) access token to use this resource. Please see our [Getting Started](http://developers.gettyimages.com/en/getting-started.html) page for more information on how to sign up for an API key. \r\n"
      operationId: Boards_AddComment
      parameters:
        - description: Comment to be added to the board.
          in: body
          name: comment
          required: true
          schema:
            $ref: '#/definitions/CommentRequest'
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - in: path
          name: board_id
          required: true
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/CommentCreated'
        '400':
          description: InvalidParameterValue
        '401':
          description: Unauthorized
        '403':
          description: InsufficientAccess
        '404':
          description: BoardNotFound
      summary: Add a comment to a board
      tags:
        - Boards
  '/v3/boards/{board_id}/comments/{comment_id}':
    delete:
      consumes: []
      deprecated: false
      description: "Boards are where you collect, curate, collaborate on and manage photo and video assets in one place. More information on the [Boards FAQ](http://www.gettyimages.com/boards/faq).\r\nUse this endpoint to delete a comment from a board.\r\n\r\nYou'll need an API key and a [Resource Owner Grant](http://developers.gettyimages.com/en/authorization-faq.html) access token to use this resource. Please see our [Getting Started](http://developers.gettyimages.com/en/getting-started.html) page for more information on how to sign up for an API key. \r\n"
      operationId: Boards_DeleteComment
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - in: path
          name: board_id
          required: true
          type: string
        - in: path
          name: comment_id
          required: true
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '204':
          description: CommentDeleted
          schema:
            $ref: '#/definitions/Object'
        '400':
          description: InvalidParameterValue
        '401':
          description: Unauthorized
        '403':
          description: InsufficientAccess
        '404':
          description: BoardNotFound
      summary: Delete a comment from a board
      tags:
        - Boards
  /v3/collections:
    get:
      consumes: []
      deprecated: false
      description: "Use this endpoint to retrieve collections associated with your Getty Images account. To browse available collections see our [Image collections page]( http://www.gettyimages.com/creative-images/collections).\r\n\r\nYou'll need an API key and access token to use this resource. Please see our [Getting Started](http://developers.gettyimages.com/en/getting-started.html) page for more information on how to sign up for an API key.\r\n"
      operationId: Collections_GetCollections
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/GettyImages.Models.Collections.CollectionsList'
        '401':
          description: Unauthorized
      summary: Gets collections applicable for the customer.
      tags:
        - Collections
  /v3/countries:
    get:
      consumes: []
      deprecated: false
      description: "Returns a list of country objects that contains country name, two letter ISO abbreviation and three letter ISO abbreviation.\r\n\r\nYou'll need an API key and access token to use this resource. Please see our [Getting Started](http://developers.gettyimages.com/en/getting-started.html) page for more information on how to sign up for an API key.\r\n"
      operationId: Countries_GetCountries
      parameters:
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: false
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/GettyImages.Models.Countries.CountriesList'
        '401':
          description: Unauthorized
      summary: Gets countries codes and names.
      tags:
        - Countries
  /v3/customers/current:
    get:
      consumes: []
      deprecated: false
      description: "Returns the first, middle and last name of the authenticated user.\r\n\r\nYou'll need an API key and access token to use this resource. Please see our [Getting Started](http://developers.gettyimages.com/en/getting-started.html) page for more information on how to sign up for an API key. \r\n\t\r\nPlease consult our [Authorization FAQ](http://developers.gettyimages.com/en/authorization-faq.html) for more information on authorization tokens.\r\n"
      operationId: Customers_GetCustomerInfo
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/GettyImages.Models.Customers.CustomerInfoResponse'
        '401':
          description: Unauthorized
        '503':
          description: ServiceUnavailable
      summary: Returns information about the current user.
      tags:
        - Customers
  /v3/downloads:
    get:
      consumes: []
      deprecated: false
      description: "Returns information about a customer's previously downloaded assets.\r\n\r\nYou'll need an API key and access token to use this resource. Please see our [Getting Started](http://developers.gettyimages.com/en/getting-started.html) page for more information on how to sign up for an API key. \r\n \r\n\t\r\nThis endpoint requires being a Getty Images customer to limit your results to only assets that you have a license to use, \r\nyou need to also include an authorization token in the header of your request. \r\nPlease consult our [Authorization FAQ](http://developers.gettyimages.com/en/authorization-faq.html) for more information on authorization tokens.\r\n"
      operationId: Downloads_GetDownloads
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - description: 'If specified, returns the list of previously downloaded images for all users in your company. Your account must be enabled for this functionality. Contact your Getty Images account rep for more information. Default is false.'
          in: query
          name: company_downloads
          required: false
          type: boolean
        - description: "If specified, select assets downloaded on or before this date. Dates should be submitted in ISO 8601 format (i.e., YYYY-MM-DD). \r\n                Any hour, minute, second values in the request are not used at this time. Date/times in the response are UTC. Default is 30 days prior to date_to."
          format: date-time
          in: query
          name: date_from
          required: false
          type: string
        - description: "If specified, select assets downloaded on or before this date. Dates should be submitted in ISO 8601 format (i.e., YYYY-MM-DD). \r\n                Any hour, minute, second values in the request are not used at this time. Date/times in the response are UTC. Default is current date."
          format: date-time
          in: query
          name: date_to
          required: false
          type: string
        - description: Identifies page to return. Default is 1.
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: 'Specifies page size. Default is 30, maximum page_size is 100.'
          format: int32
          in: query
          name: page_size
          required: false
          type: integer
        - description: 'Specifies product type to be included in the previous download results. To get previous iStockPhoto credit downloads, credit_pack must be selected.'
          enum:
            - easyaccess
            - editorialsubscription
            - imagepack
            - premiumaccess
            - royaltyfreesubscription
          in: query
          name: product_type
          required: false
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/GettyImages.Models.Downloads.GetDownloadsResponse'
        '400':
          description: Bad request
        '401':
          description: AuthorizationTokenRequired
        '403':
          description: Forbidden
      summary: Returns information about a customer's downloaded assets.
      tags:
        - Downloads
  '/v3/downloads/images/{id}':
    post:
      consumes:
        - application/json
        - text/json
      deprecated: false
      description: "Use this endpoint to generate download URLs and related data for images you are authorized to download.\r\n\r\nMost product offerings have enforced periodic download limits such as monthly, weekly, and daily. When this operation executes, the count of allowed downloads is decremented by one for the product offering. Once the download limit is reached for a given product offering, no further downloads may be requested for that product offering until the next download period.\r\n\r\nThe download limit for a given download period is covered in your product agreement established with Getty Images.\r\n\r\nYou'll need an API key and a [Resource Owner Grant or Implicit Grant](http://developers.gettyimages.com/en/authorization-faq.html) access token to use this resource. Please see our [Getting Started](http://developers.gettyimages.com/en/getting-started.html) page for more information on how to sign up for an API key. \r\n\r\n## Auto Downloads\r\nThe `auto_download` request query parameter specifies whether to automatically download the image.\r\n\r\nIf the `auto_download` request query parameter is set to _true_, the API will return an HTTP status code 303 *See Other*. Your client code will need to process this response and redirect to the URI specified in the *Location* header to enable you to automatically download the file. The redirection workflow follows the [HTTP 1.1 protocol](https://tools.ietf.org/html/rfc7231#section-6.4.4).\r\n\r\nClient Request:\r\n\r\n```\r\nhttps://api.gettyimages.com/v3/downloads/images/[asset_id]?auto_download=true\r\n```\r\n\r\nServer Response:\r\n\r\n```\r\nHTTP/1.1 303 See Other\r\nLocation: https://delivery.gettyimages.com/...\r\n```\r\n\r\nIf the `auto_download` request query parameter is set to false, the API will return a HTTP status code 200, along with the URI in the response body which can be used to download the image. \r\n\r\nClient Request:\r\n\r\n```\r\nhttps://api.gettyimages.com/v3/downloads/images/[asset_id]?auto_download=false\r\n```\r\n\r\nServer Response:\r\n\r\n```\r\nHTTP/1.1 200 OK\r\n{\r\n\t\"uri\": \"https://delivery.gettyimages.com/...\"\r\n}\r\n```"
      operationId: Downloads_PostDownloads
      parameters:
        - description: "<remarks>\r\n                    Additional information required from specific customers when downloading. \r\n                    Only users who have been set up with a project code by Getty Images Sales need to use this field.\r\n                </remarks>"
          in: body
          name: download_details
          required: false
          schema:
            $ref: '#/definitions/GettyImages.Models.Downloads.PremiumAccessDownloadData'
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - description: "<remarks>\r\n                    Id of image to download.\r\n                </remarks>"
          in: path
          name: id
          required: true
          type: string
        - description: "<remarks>\r\n                    Specifies whether to auto-download the image. If true is specified, a 303 SeeOther status is returned with a\r\n                    Location header set to the location of the image.\r\n                    If false is specified, the download URI will be returned in the response message.\r\n                </remarks>"
          in: query
          name: auto_download
          required: false
          type: boolean
        - description: "<remarks>\r\n                    File Type expressed with three character file extension.\r\n                </remarks>"
          enum:
            - eps
            - jpg
          in: query
          name: file_type
          required: false
          type: string
        - description: "<remarks>\r\n                    Specifies the pixel height of the particular image to download.\r\n                    Available heights can be found in the images/{ids} response for the specific image.\r\n                    If left blank, it will return the largest available size.\r\n                </remarks>"
          in: query
          name: height
          required: false
          type: string
        - description: "<remarks>\r\n                    Identifier of the instance for the selected product offering type.\r\n                </remarks>"
          format: int32
          in: query
          name: product_id
          required: false
          type: integer
        - description: "<remarks>\r\n                    Product type.\r\n                </remarks>"
          enum:
            - easyaccess
            - editorialsubscription
            - imagepack
            - premiumaccess
            - royaltyfreesubscription
          in: query
          name: product_type
          required: false
          type: string
        - description: Specifies whether to download the image with iStock Team Credits. Only applicable to iStock API keys authenticated with a user that has Team Credits. Blank is the same as False.
          in: query
          name: use_team_credits
          required: false
          type: boolean
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
        '303':
          description: See Other
        '400':
          description: MissingRequiredQueryParameters
        '401':
          description: AuthorizationTokenRequired
        '404':
          description: ImageNotFound
      summary: Download an image
      tags:
        - Downloads
  '/v3/downloads/videos/{id}':
    post:
      consumes:
        - application/json
        - text/json
      deprecated: false
      description: "Use this endpoint to generate download URLs and related data for videos you are authorized to download.\r\n\r\nMost product offerings have enforced periodic download limits such as monthly, weekly, and daily. When this operation executes, the count of allowed downloads is decremented by one for the product offering. Once the download limit is reached for a given product offering, no further downloads may be requested for that product offering until the next download period.\r\n\r\nThe download limit for a given download period is covered in your product agreement established with Getty Images.\r\n\r\nYou'll need an API key and a [Resource Owner Grant or Implicit Grant](http://developers.gettyimages.com/en/authorization-faq.html) access token to use this resource. Please see our [Getting Started](http://developers.gettyimages.com/en/getting-started.html) page for more information on how to sign up for an API key. \r\n\r\n## Auto Downloads\r\nThe `auto_download` request query parameter specifies whether to automatically download the video.\r\n\r\nIf the `auto_download` request query parameter is set to _true_, the API will return an HTTP status code 303 *See Other*. Your client code will need to process this response and redirect to the URI specified in the *Location* header to enable you to automatically download the file. The redirection workflow follows the [HTTP 1.1 protocol](https://tools.ietf.org/html/rfc7231#section-6.4.4).\r\n\r\nClient Request:\r\n\r\n```\r\nhttps://api.gettyimages.com/v3/downloads/videos/[asset_id]?auto_download=true\r\n```\r\n\r\nServer Response:\r\n\r\n```\r\nHTTP/1.1 303 See Other\r\nLocation: https://delivery.gettyimages.com/...\r\n```\r\n\r\nIf the `auto_download` request query parameter is set to false, the API will return a HTTP status code 200, along with the URI in the response body which can be used to download the video. \r\n\r\nClient Request:\r\n\r\n```\r\nhttps://api.gettyimages.com/v3/downloads/videos/[asset_id]?auto_download=false\r\n```\r\n\r\nServer Response:\r\n\r\n```\r\nHTTP/1.1 200 OK\r\n{\r\n\t\"uri\": \"https://delivery.gettyimages.com/...\"\r\n}\r\n```"
      operationId: Downloads_PostVideoDownloads
      parameters:
        - description: "<remarks>\r\n                    Additional information required from specific customers when downloading. \r\n                    Only users who have been set up with a project code by Getty Images Sales need to use this field.\r\n                </remarks>"
          in: body
          name: download_details
          required: false
          schema:
            $ref: '#/definitions/GettyImages.Models.Downloads.PremiumAccessDownloadData'
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - description: "<remarks>\r\n                    Id of video to download.\r\n                </remarks>"
          in: path
          name: id
          required: true
          type: string
        - description: "<remarks>\r\n                    Specifies whether to auto-download the video. If true is specified, a 303 SeeOther status is returned with a\r\n                    Location header set to the location of the video.\r\n                    If false is specified, the download URI will be returned in the response message.\r\n                </remarks>"
          in: query
          name: auto_download
          required: false
          type: boolean
        - description: "<remarks>\r\n                    Identifier of the instance for the selected product offering type.\r\n                </remarks>"
          format: int32
          in: query
          name: product_id
          required: false
          type: integer
        - description: Specifies the size to be downloaded.
          in: query
          name: size
          required: false
          type: string
        - description: Specifies whether to download the image with iStock Team Credits. Only applicable to iStock API keys authenticated with a user that has Team Credits. Blank is the same as False.
          in: query
          name: use_team_credits
          required: false
          type: boolean
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/System.Object'
        '303':
          description: See Other
        '400':
          description: MissingRequiredQueryParameters
        '401':
          description: AuthorizationTokenRequired
        '404':
          description: VideoNotFound
      summary: Download a video
      tags:
        - Downloads
  /v3/events:
    get:
      consumes: []
      deprecated: false
      description: "This endpoint returns the detailed event metadata for all specified events. Getty Images news, sports and entertainment photographers and\r\nvideographers cover editorially relevant events occurring around the world.  All images or video clips produced in association with \r\nan event, are assigned the same EventID. EventIDs are part of the meta-data returned in SearchForImages Results. Only content \r\nproduced under a Getty Images brand name (Getty Images News, Getty Images Sports, Getty Images Entertainment, Film Magic, Wire Image) \r\nwill be consistently assigned an EventID. The Event framework may also be used to group similar content, such as \r\n\"Hats from the Royal Wedding\" or \"Odd-ballOffbeat images of the week\". \r\n\r\nYou'll need an API key and access token to use this resource. Please see our [Getting Started](http://developers.gettyimages.com/en/getting-started.html) page for more information on how to sign up for an API key. \r\n"
      operationId: Events_GetBatch
      parameters:
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: false
          type: string
        - collectionFormat: multi
          description: A comma separated list of fields to return in the response.
          in: query
          items:
            enum:
              - id
              - child_event_count
              - editorial_segments
              - hero_image
              - image_count
              - location
              - name
              - start_date
              - type
            type: string
          name: fields
          required: false
          type: array
        - collectionFormat: multi
          description: A comma separated list of event ids.
          in: query
          items:
            format: int32
            type: integer
          name: ids
          required: false
          type: array
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/GettyImages.Models.Events.EventsResult'
        '400':
          description: InvalidParameterValue
        '401':
          description: Unauthorized
        '404':
          description: EventNotFound
      summary: Get metadata for multiple events
      tags:
        - Events
  '/v3/events/{id}':
    get:
      consumes: []
      deprecated: false
      description: "This endpoint returns the detailed event metadata for a specified event. Getty Images news, sports and entertainment \r\nphotographers and videographers cover editorially relevant events occurring around the world.  \r\nAll images or video clips produced in association with an event, are assigned the same EventID. \r\nEventIDs are part of the meta-data returned in SearchForImages Results. Only content produced under a Getty Images \r\nbrand name (Getty Images News, Getty Images Sports, Getty Images Entertainment, Film Magic, Wire Image) will be \r\nconsistently assigned an EventID. The Event framework may also be used to group similar content, such as \r\n\"Hats from the Royal Wedding\" or \"Odd-ballOffbeat images of the week\". \r\n\r\nYou'll need an API key and access token to use this resource. Please see our [Getting Started](http://developers.gettyimages.com/en/getting-started.html)\r\npage for more information on how to sign up for an API key. \r\n"
      operationId: Events_Get
      parameters:
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: false
          type: string
        - description: An event id.
          format: int32
          in: path
          name: id
          required: true
          type: integer
        - collectionFormat: multi
          description: A comma separated list of fields to return in the response.
          in: query
          items:
            enum:
              - id
              - child_event_count
              - editorial_segments
              - hero_image
              - image_count
              - location
              - name
              - start_date
              - type
            type: string
          name: fields
          required: false
          type: array
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/GettyImages.Models.Events.Event'
        '400':
          description: InvalidParameterValue
        '401':
          description: Unauthorized
        '404':
          description: EventNotFound
      summary: Get metadata for a single event
      tags:
        - Events
  /v3/images:
    get:
      consumes: []
      deprecated: false
      description: "This endpoint returns the detailed image metadata for all specified images. Due to a wide variety of available image resolutions,\r\nthe images are grouped into a handful of size categories for simplicity. \r\n\r\nYou'll need an API key and access token to use this resource. Please see our [Getting Started](http://developers.gettyimages.com/en/getting-started.html) \r\npage for more information on how to sign up for an API key. \r\n\r\n## Working with Fields Sets\r\n\r\nFields sets are used in the **fields** request parameter to receive a suite of metadata fields. The following fields sets are available:\r\n\r\n#### Summary Fields Set\r\n\r\nThe **summary_set** query string parameter fields value represents a small batch of metadata fields that are often used to build \r\nsearch response results. The following fields are provided for every image in your result set when you include **summary_set** in your request.\r\n\r\n```\r\n{\r\n    \"images\":\r\n    [\r\n        \"artist\",\r\n        \"asset_family\",\r\n        \"caption\",\r\n        \"collection_code\",\r\n        \"collection_id\",\r\n        \"collection_name\",\r\n        \"license_model\",\r\n        \"max_dimensions\",\r\n        \"title\"\r\n    ]\r\n}\r\n```\r\n\r\n#### Detail Fields Set\r\n\r\nThe **detail_set** query string parameter fields value represents a large batch of metadata fields that are often used to build a \r\ndetailed view of images. The following fields are provided for every image in your result set when you include **detail_set** in your request.\r\n\r\n```\r\n{\r\n    \"images\":\r\n    [\r\n        \"allowed_use\",\r\n        \"artist\", \r\n        \"artist_title\", \r\n        \"asset_family\",\r\n        \"call_for_image\",\r\n        \"caption\", \r\n        \"city\",\r\n        \"collection_code\",\r\n        \"collection_id\", \r\n        \"collection_name\",\r\n        \"color_type\", \r\n        \"copyright\", \r\n        \"country\", \r\n        \"credit_line\", \r\n        \"date_created\", \r\n        \"date_submitted\",\r\n        \"download_sizes\", \r\n        \"editorial_segments\",\r\n        \"event_ids\",\r\n        \"graphical_style\",\r\n        \"license_model\",\r\n        \"max_dimensions\",\r\n        \"orientation\",\r\n        \"product_types\",\r\n        \"quality_rank\",\r\n        \"referral_destinations\",\r\n        \"state_province\", \r\n        \"title\"\r\n    ]\r\n}\r\n```\r\n\r\n#### Display Fields Set\r\n\r\nThe **display_set** query string parameter fields value represents the fields that provide you with URLs for the low resolution\r\nfiles that are most frequently used to build a UI displaying search results. The following fields are provided for every image \r\nin your result set when you include **display_set** in your request.\r\n\r\n```\r\n{\r\n    \"images\":\r\n    [\r\n        \"display_sizes\": \r\n        [\r\n            {\r\n                \"name\": \"comp\"\r\n            },\r\n            {\r\n                \"name\": \"preview\"\r\n            },\r\n            {\r\n                \"name\": \"thumb\"\r\n            }\r\n        ]\r\n    ]\r\n}\r\n```\r\n\r\n## Request Usage Considerations\r\n\r\n- Specifying the \"entity_details\" response field can have significant performance implications. The field should be used only when necessary.\r\n"
      operationId: Images_GetBatch
      parameters:
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: false
          type: string
        - collectionFormat: multi
          description: Specifies one or more image ids to return. Use comma delimiter when requesting multiple ids.
          in: query
          items:
            type: string
          name: ids
          required: true
          type: array
        - collectionFormat: multi
          description: 'Specifies fields to return. Defaults to ''summary_set''. NOTE: Bytes returned by ''download_sizes'' field are estimates.'
          in: query
          items:
            enum:
              - allowed_use
              - alternative_ids
              - artist
              - artist_title
              - asset_family
              - call_for_image
              - caption
              - city
              - collection_code
              - collection_id
              - collection_name
              - color_type
              - comp
              - copyright
              - country
              - credit_line
              - date_camera_shot
              - date_created
              - date_submitted
              - detail_set
              - display_set
              - download_sizes
              - downloads
              - editorial_segments
              - editorial_source
              - entity_details
              - event_ids
              - graphical_style
              - id
              - istock_collection
              - istock_licenses
              - keywords
              - largest_downloads
              - license_model
              - links
              - max_dimensions
              - object_name
              - orientation
              - people
              - preview
              - product_types
              - quality_rank
              - referral_destinations
              - state_province
              - summary_set
              - thumb
              - title
              - uri_oembed
            type: string
          name: fields
          required: false
          type: array
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/GettyImages.Models.Images.ImagesDetail'
        '400':
          description: InvalidParameterValue
        '401':
          description: AuthorizationTokenRequired
        '403':
          description: UnauthorizedDisplaySize
        '404':
          description: ImageNotFound
        '500':
          description: InvalidIStockCollection
      summary: Get metadata for multiple images by supplying multiple image ids
      tags:
        - Images
  '/v3/images/{id}':
    get:
      consumes: []
      deprecated: false
      description: "This endpoint returns the detailed image metadata for a specified image. Due to a wide variety of available image resolutions, \r\nthe images are grouped into a handful of size categories for simplicity. \r\n\r\nYou'll need an API key and access token to use this resource. Please see our [Getting Started](http://developers.gettyimages.com/en/getting-started.html) \r\npage for more information on how to sign up for an API key. \r\n \r\n## Working with Fields Sets\r\n\r\nFields sets are used in the **fields** request parameter to receive a suite of metadata fields. The following fields sets are available:\r\n\r\n#### Summary Fields Set\r\n\r\nThe **summary_set** query string parameter fields value represents a small batch of metadata fields that\r\nare often used to build search response results. The following fields are provided for every image in your\r\nresult set when you include **summary_set** in your request.\r\n\r\n```\r\n{\r\n    \"images\":\r\n    [\r\n        \"artist\",\r\n        \"asset_family\",\r\n        \"caption\",\r\n        \"collection_code\",\r\n        \"collection_id\",\r\n        \"collection_name\",\r\n        \"license_model\",\r\n        \"max_dimensions\",\r\n        \"title\"\r\n    ]\r\n}\r\n```\r\n\r\n#### Detail Fields Set\r\n\r\nThe **detail_set** query string parameter fields value represents a large batch of metadata fields that are \r\noften used to build a detailed view of images. The following fields are provided for every image in your \r\nresult set when you include **detail_set** in your request.\r\n\r\n```\r\n{\r\n    \"images\":\r\n    [\r\n        \"allowed_use\",\r\n        \"artist\", \r\n        \"artist_title\", \r\n        \"asset_family\",\r\n        \"call_for_image\",\r\n        \"caption\", \r\n        \"city\",\r\n        \"collection_code\",\r\n        \"collection_id\", \r\n        \"collection_name\",\r\n        \"color_type\", \r\n        \"copyright\", \r\n        \"country\", \r\n        \"credit_line\", \r\n        \"date_created\", \r\n        \"date_submitted\",\r\n        \"download_sizes\", \r\n        \"editorial_segments\",\r\n        \"event_ids\",\r\n        \"graphical_style\",\r\n        \"license_model\",\r\n        \"max_dimensions\",\r\n        \"orientation\",\r\n        \"product_types\",\r\n        \"quality_rank\",\r\n        \"referral_destinations\",\r\n        \"state_province\", \r\n        \"title\"\r\n    ]\r\n}\r\n```\r\n\r\n#### Display Fields Set\r\n\r\nThe **display_set** query string parameter fields value represents the fields that provide you with URLs for the low\r\nresolution files that are most frequently used to build a UI displaying search results. The following fields are provided \r\nfor every image in your result set when you include **display_set** in your request.\r\n\r\n```\r\n{\r\n    \"images\":\r\n    [\r\n        \"display_sizes\": \r\n        [\r\n            {\r\n                \"name\": \"comp\"\r\n            },\r\n            {\r\n                \"name\": \"preview\"\r\n            },\r\n            {\r\n                \"name\": \"thumb\"\r\n            }\r\n        ]\r\n    ]\r\n}\r\n```\r\n\r\n## Request Usage Considerations\r\n\r\n- Specifying the \"entity_details\" response field can have significant performance implications. The field should be used only when necessary.\r\n"
      operationId: Images_Get
      parameters:
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: false
          type: string
        - description: An image id. For more than one image please use the /v3/images endpoint.
          in: path
          name: id
          required: true
          type: string
        - collectionFormat: multi
          description: 'Specifies fields to return. Defaults to ''summary_set''. NOTE: Bytes returned by ''download_sizes'' field are estimates.'
          in: query
          items:
            enum:
              - allowed_use
              - alternative_ids
              - artist
              - artist_title
              - asset_family
              - call_for_image
              - caption
              - city
              - collection_code
              - collection_id
              - collection_name
              - color_type
              - comp
              - copyright
              - country
              - credit_line
              - date_camera_shot
              - date_created
              - date_submitted
              - detail_set
              - display_set
              - download_sizes
              - downloads
              - editorial_segments
              - editorial_source
              - entity_details
              - event_ids
              - graphical_style
              - id
              - istock_collection
              - istock_licenses
              - keywords
              - largest_downloads
              - license_model
              - links
              - max_dimensions
              - object_name
              - orientation
              - people
              - preview
              - product_types
              - quality_rank
              - referral_destinations
              - state_province
              - summary_set
              - thumb
              - title
              - uri_oembed
            type: string
          name: fields
          required: false
          type: array
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/GettyImages.Models.Images.ImagesDetail'
        '400':
          description: InvalidParameterValue
        '401':
          description: AuthorizationTokenRequired
        '403':
          description: UnauthorizedDisplaySize
        '404':
          description: ImageNotFound
        '500':
          description: InvalidIStockCollection
      summary: Get metadata for a single image by supplying one image id
      tags:
        - Images
  '/v3/images/{id}/similar':
    get:
      consumes: []
      deprecated: false
      description: "This endpoint will search our asset database for images similar to the specified asset id. Due to a wide variety of available \r\nimage resolutions, the images are grouped into a handful of size categories for simplicity. \r\n\r\nYou'll need an API key and access token to use this resource. Please see our [Getting Started](http://developers.gettyimages.com/en/getting-started.html) \r\npage for more information on how to sign up for an API key. \r\n\r\n## Working with Fields Sets\r\n\r\nFields sets are used in the **fields** request parameter to receive a suite of metadata fields. The following fields sets are available:\r\n\r\n#### Summary Fields Set\r\n\r\nThe **summary_set** query string parameter fields value represents a small batch of metadata fields that are often used to build\r\nsearch response results. The following fields are provided for every image in your result set when you include **summary_set** in your request.\r\n\r\n```\r\n{\r\n    \"images\":\r\n    [\r\n        \"asset_family\",\r\n        \"caption\",\r\n        \"collection_code\",\r\n        \"collection_id\",\r\n        \"collection_name\",\r\n        \"display_sizes\": \r\n        [\r\n            {\r\n                \"name\": \"thumb\"\r\n            }\r\n        ]\r\n        \"license_model\",\r\n        \"max_dimensions\",\r\n        \"title\"\r\n    ]\r\n}\r\n```\r\n\r\n#### Detail Fields Set\r\n\r\nThe **detail_set** query string parameter fields value represents a large batch of metadata fields that are often used to build a \r\ndetailed view of images. The following fields are provided for every image in your result set when you include **detail_set** in your request.\r\n\r\n```\r\n{\r\n    \"images\":\r\n    [\r\n        \"allowed_use\",\r\n        \"artist\",\r\n        \"asset_family\",\r\n        \"call_for_image\",\r\n        \"caption\",\r\n        \"collection_code\",\r\n        \"collection_id\",\r\n        \"collection_name\",\r\n        \"copyright\",\r\n        \"date_created\",\r\n        \"display_sizes\": \r\n        [\r\n            {\r\n                \"name\": \"comp\"\r\n            },\r\n            {\r\n                \"name\": \"preview\"\r\n            },\r\n            {\r\n                \"name\": \"thumb\"\r\n            }\r\n        ],\r\n        \"editorial_segments\",\r\n        \"event_ids\",\r\n        \"graphical_style\",\r\n        \"license_model\",\r\n        \"max_dimensions\",\r\n        \"orientation\",\r\n        \"product_types\",\r\n        \"quality_rank\",\r\n        \"referral_destinations\",\r\n        \"title\"\r\n    ]\r\n}\r\n```\r\n\r\n#### Display Fields Set\r\n\r\nThe **display_set** query string parameter fields value represents the fields that provide you with URLs for the low resolution files \r\nthat are most frequently used to build a UI displaying search results. The following fields are provided for every image in your result\r\nset when you include **display_set** in your request.\r\n\r\n```\r\n{\r\n    \"images\":\r\n    [\r\n        \"display_sizes\": \r\n        [\r\n            {\r\n                \"name\": \"comp\"\r\n            },\r\n            {\r\n                \"name\": \"preview\"\r\n            },\r\n            {\r\n                \"name\": \"thumb\"\r\n            }\r\n        ]\r\n    ]\r\n}\r\n```"
      operationId: Images_GetSimilarImages
      parameters:
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: false
          type: string
        - description: Identifies an existing image
          in: path
          name: id
          required: true
          type: string
        - collectionFormat: multi
          description: Specifies fields to return. Defaults to 'summary_set'.
          in: query
          items:
            enum:
              - accessrestriction
              - allowed_use
              - alternative_ids
              - artist
              - asset_family
              - call_for_image
              - caption
              - collection_code
              - collection_id
              - collection_name
              - color_type
              - comp
              - copyright
              - date_camera_shot
              - date_created
              - date_submitted
              - detail_set
              - display_set
              - download_sizes
              - editorial_segments
              - editorial_source
              - entity_details
              - event_ids
              - graphical_style
              - id
              - istock_collection
              - keywords
              - largest_downloads
              - license_model
              - max_dimensions
              - orientation
              - people
              - preview
              - product_types
              - quality_rank
              - referral_destinations
              - summary_set
              - thumb
              - title
              - uri_oembed
            type: string
          name: fields
          required: false
          type: array
        - description: Identifies page to return. Default is 1.
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: 'Specifies page size. Default is 30, maximum page_size is 100.'
          format: int32
          in: query
          name: page_size
          required: false
          type: integer
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/GettyImages.Models.Search.SearchResults[GettyImages.Models.Search.ImageSearchItem]'
        '400':
          description: InvalidParameterValue
        '401':
          description: AuthorizationTokenRequired
        '403':
          description: UnauthorizedDisplaySize
        '404':
          description: ImageNotFound
        '500':
          description: InvalidIStockCollection
      summary: Search for images similar to an image
      tags:
        - Images
  '/v3/orders/{id}':
    get:
      consumes: []
      deprecated: false
      description: "This endpoint returns detailed order metadata for a specified order.\r\nUse of this endpoint requires configuration changes to your API key. \r\nPlease contact [developersupport@gettyimages.com](mailto:developersupport@gettyimages.com) to learn more.\r\n\r\nYou'll need an API key and access token to use this resource. Please see our [Getting Started](http://developers.gettyimages.com/en/getting-started.html)\r\npage for more information on how to sign up for an API key."
      operationId: Orders_GetOrder
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - description: An order id.
          format: int32
          in: path
          name: id
          required: true
          type: integer
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/GettyImages.Models.Orders.OrderDetail'
        '401':
          description: Unauthorized
        '403':
          description: NoAccessToOrderMetadata
        '404':
          description: OrderNotFound
      summary: Get order metadata
      tags:
        - Orders
  /v3/products:
    get:
      consumes: []
      deprecated: false
      description: "This endpoint returns all products available to the username used during authentication. As such, this endpoint requires the use of\r\na fully authorized access_token. The product data can then be used as search filters, restricting results to images from a specific product.\r\n\r\nYou'll need an API key and access token to use this resource. Please see our [Getting Started](http://developers.gettyimages.com/en/getting-started.html)\r\npage for more information on how to sign up for an API key.\r\n"
      operationId: Products_GetProducts
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - collectionFormat: multi
          description: Comma separated list of fields. Allows product download requirements to be returned.
          in: query
          items:
            enum:
              - download_requirements
            type: string
          name: fields
          required: false
          type: array
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/GettyImages.Models.Products.ProductsResult'
        '400':
          description: InvalidParameterValue
        '401':
          description: Unauthorized
        '500':
          description: CreditPack
      summary: Get Products
      tags:
        - Products
  /v3/purchased-assets:
    get:
      consumes: []
      deprecated: false
      description: "This endpoint returns a list of all assets purchased on gettyimages.com by the username used for authentication. \r\nUse of this endpoint requires configuration changes to your API key. \r\nPlease contact [developersupport@gettyimages.com](mailto:developersupport@gettyimages.com) to learn more.\r\n\r\nYou'll need an API key and access token to use this resource. Please see our [Getting Started](http://developers.gettyimages.com/en/getting-started.html)\r\npage for more information on how to sign up for an API key.\r\n"
      operationId: Purchases_GetPreviousAssetPurchases
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - description: 'If specified, retrieves previous purchases on or after this date. Dates should be submitted in ISO 8601 format (i.e., YYYY-MM-DD).'
          format: date-time
          in: query
          name: date_from
          required: false
          type: string
        - description: 'If specified, retrieves previous purchases on or before this date. Dates should be submitted in ISO 8601 format (i.e., YYYY-MM-DD).'
          format: date-time
          in: query
          name: date_to
          required: false
          type: string
        - description: Identifies page to return. Default is 1.
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: 'Specifies page size. Default is 75, maximum page_size is 100.'
          format: int32
          in: query
          name: page_size
          required: false
          type: integer
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/GettyImages.Models.Purchases.PreviousAssetPurchases'
        '400':
          description: PageNumberLessThanOne
        '401':
          description: Unauthorized
      summary: Get Previously Purchased Images and Video
      tags:
        - Purchases
  /v3/purchased-images:
    get:
      consumes: []
      deprecated: false
      description: "This endpoint returns a list of all images purchased on gettyimages.com by the username used for authentication.\r\nUse of this endpoint requires configuration changes to your API key. Please contact [developersupport@gettyimages.com](mailto:developersupport@gettyimages.com)\r\nto learn more.\r\n\r\nYou'll need an API key and access token to use this resource. Please see our [Getting Started](http://developers.gettyimages.com/en/getting-started.html)\r\npage for more information on how to sign up for an API key.\r\n"
      operationId: Purchases_GetPreviousPurchases
      parameters:
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: true
          type: string
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - description: 'If specified, retrieves previous purchases on or after this date. Dates should be submitted in ISO 8601 format (i.e., YYYY-MM-DD).'
          format: date-time
          in: query
          name: date_from
          required: false
          type: string
        - description: 'If specified, retrieves previous purchases on or before this date. Dates should be submitted in ISO 8601 format (i.e., YYYY-MM-DD).'
          format: date-time
          in: query
          name: date_to
          required: false
          type: string
        - description: Identifies page to return. Default is 1.
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: 'Specifies page size. Default is 75, maximum page_size is 100.'
          format: int32
          in: query
          name: page_size
          required: false
          type: integer
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/GettyImages.Models.Purchases.PreviousPurchases'
        '400':
          description: PageNumberLessThanOne
        '401':
          description: Unauthorized
      summary: Get Previously Purchased Images
      tags:
        - Purchases
  /v3/search/events:
    get:
      consumes: []
      deprecated: false
      description: "Use this endpoint to search Getty Images news, sports and entertainment events. Getty Images photographers and videographers cover editorially relevant events occurring around the world.  All images or video clips produced in association with an event, are assigned the same EventID. EventIDs are part of the meta-data returned in Search Results. Only content produced under a Getty Images brand name (Getty Images News, Getty Images Sports, Getty Images Entertainment, Film Magic, Wire Image) will be consistently assigned an EventID. The Event framework may also be used to group similar content, such as \"Hats from the Royal Wedding\" or \"Odd-ballOffbeat images of the week\".   \r\n\r\nYou'll need an API key and access token to use this resource. Please see our [Getting Started](http://developers.gettyimages.com/en/getting-started.html) page for more information on how to sign up for an API key.\r\n\r\n\r\nYou can show different information in the response by specifying values on the \"fields\" parameter (see details below).\r\nYou can search with only an API key, and that will give you search results that are equivalent to doing a search on the GettyImages.com site without being logged in (anonymous search).  If you are a Getty Images API customer and would like to ensure that your API searches return only assets that you have a license to use, you need to also include an authorization token in the header of your request.  Please consult our [Authorization FAQ](http://developers.gettyimages.com/en/authorization-faq.html) for more information on authorization tokens, and our [Authorization Workflows](https://github.com/gettyimages/gettyimages-api/blob/master/OAuth2Workflow.md) for code examples of getting a token.\r\n"
      operationId: Search_GetEvents
      parameters:
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: false
          type: string
        - description: 'Filters to events that start on or after this date. Use ISO 8601 format (e.g., 1999-12-31).'
          format: date-time
          in: query
          name: date_from
          required: false
          type: string
        - description: 'Filters to events that start on or before this date. Use ISO 8601 format (e.g., 1999-12-31).'
          format: date-time
          in: query
          name: date_to
          required: false
          type: string
        - description: Filters to events with a matching editorial segment.
          enum:
            - archival
            - entertainment
            - news
            - publicity
            - royalty
            - sport
          in: query
          name: editorial_segment
          required: false
          type: string
        - collectionFormat: multi
          description: 'Specifies fields to return. Default set is ''id'',''name'',''start_date''.'
          in: query
          items:
            enum:
              - id
              - child_event_count
              - editorial_segments
              - hero_image
              - image_count
              - keywords
              - location
              - name
              - start_date
              - type
            type: string
          name: fields
          required: false
          type: array
        - description: 'Request results starting at a page number (default is 1, maximum is 50).'
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: Request number of images to return in each page.
          format: int32
          in: query
          name: page_size
          required: false
          type: integer
        - description: Filters to events related to this phrase
          in: query
          name: phrase
          required: false
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/GettyImages.Models.Search.EventsSearchResult'
        '400':
          description: InvalidParameterValue
        '401':
          description: AuthorizationTokenRequired
        '403':
          description: UnauthorizedDisplaySize
      summary: Search for events
      tags:
        - Search
  /v3/search/images:
    get:
      consumes: []
      deprecated: false
      description: "Use this endpoint to search over a blend of our contemporary stock photos, illustrations, archival images, editorial photos, illustrations and archival images.  \r\n\r\nYou'll need an API key and access token to use this resource. Please see our [Getting Started](http://developers.gettyimages.com/en/getting-started.html) page for more information on how to sign up for an API key.\r\n\r\n\r\nYou can show different information in the response by specifying values on the \"fields\" parameter (see details below).\r\nYou can search with only an API key, and that will give you search results that are equivalent to doing a search on the GettyImages.com site without being logged in (anonymous search).  If you are a Getty Images API customer and would like to ensure that your API searches return only assets that you have a license to use, you need to also include an authorization token in the header of your request.  Please consult our [Authorization FAQ](http://developers.gettyimages.com/en/authorization-faq.html) for more information on authorization tokens, and our [Authorization Workflows](https://github.com/gettyimages/gettyimages-api/blob/master/OAuth2Workflow.md) for code examples of getting a token.\r\nTo include your API token in the search request, add it to the headers as a Bearer token (example in curl):\r\n\r\n\t-H \"Authorization: Bearer <your-token>\"\r\n\r\n## Working with Fields Sets\r\n\r\nFields sets are used in the **fields** request parameter to receive a suite of metadata fields. The following fields sets are available:\r\n\r\n#### Summary Fields Set\r\n\r\nThe **summary_set** query string parameter fields value represents a small batch of metadata fields that are often used to build search response results. The following fields are provided for every image in your result set when you include **summary_set** in your request.\r\n\r\n```\r\n{\r\n    \"images\": \r\n    [\r\n        \"asset_family\",\r\n        \"caption\",\r\n        \"collection_code\",\r\n        \"collection_id\",\r\n        \"collection_name\",\r\n        \"display_sizes\": \r\n        [\r\n            {\r\n                \"name\": \"thumb\"\r\n            }\r\n        ],\r\n        \"license_model\",\r\n        \"max_dimensions\",\r\n        \"title\"\r\n    ]\r\n}\r\n```\r\n\r\n#### Detail Fields Set\r\n\r\nThe **detail_set** query string parameter fields value represents a large batch of metadata fields that are often used to build a detailed view of images. \r\nThe following fields are provided for every image in your result set when you include **detail_set** in your request.\r\n\r\n```\r\n{\r\n    \"images\": \r\n    [\r\n        \"allowed_use\",\r\n        \"artist\",\r\n        \"asset_family\",\r\n        \"call_for_image\",\r\n        \"caption\",\r\n        \"collection_code\",\r\n        \"collection_id\",\r\n        \"collection_name\",\r\n        \"copyright\",\r\n        \"date_created\",\r\n        \"display_sizes\": \r\n        [\r\n            {\r\n                \"name\": \"comp\"\r\n            },\r\n            {\r\n                \"name\": \"preview\"\r\n            },\r\n            {\r\n                \"name\": \"thumb\"\r\n            }\r\n        ],\r\n        \"editorial_segments\",\r\n        \"event_ids\",\r\n        \"graphical_style\",\r\n        \"license_model\",\r\n        \"max_dimensions\",\r\n        \"orientation\",\r\n        \"product_types\",\r\n        \"quality_rank\",\r\n        \"referral_destinations\",\r\n        \"title\"\r\n    ]\r\n]\r\n```\r\n\r\n#### Display Fields Set\r\n\r\nThe **display_set** query string parameter fields value represents the fields that provide you with URLs for the low resolution files that are most \r\nfrequently used to build a UI displaying search results. The following fields are provided for every image in your result set when you include **display_set**\r\nin your request.\r\n\r\n```\r\n{\r\n    \"images\": \r\n    [\r\n        \"display_sizes\": \r\n        [\r\n            {\r\n                \"name\": \"comp\"\r\n            },\r\n            {\r\n                \"name\": \"preview\"\r\n            },\r\n            {\r\n                \"name\": \"thumb\"\r\n            }\r\n        ]\r\n    ]\r\n}\r\n```\r\n\r\n## Request Usage Considerations\r\n\r\n- Specifying the \"entity_details\" response field can have significant performance implications. The field should be used only when necessary.\r\n"
      operationId: Search_GetImagesByPhrase
      parameters:
        - description: Provide a header to specify the language of result values.
          in: header
          name: Accept-Language
          required: false
          type: string
        - description: 'Provide access token in the format of ''Bearer {token}''.'
          in: header
          name: Authorization
          required: false
          type: string
        - collectionFormat: multi
          description: Filter based on the age of individuals in an image.
          in: query
          items:
            enum:
              - newborn
              - baby
              - child
              - teenager
              - young_adult
              - adult
              - adults_only
              - mature_adult
              - senior_adult
              - 0-1_months
              - 2-5_months
              - 6-11_months
              - 12-17_months
              - 18-23_months
              - 2-3_years
              - 4-5_years
              - 6-7_years
              - 8-9_years
              - 10-11_years
              - 12-13_years
              - 14-15_years
              - 16-17_years
              - 18-19_years
              - 20-24_years
              - 20-29_years
              - 25-29_years
              - 30-34_years
              - 30-39_years
              - 35-39_years
              - 40-44_years
              - 40-49_years
              - 45-49_years
              - 50-54_years
              - 50-59_years
              - 55-59_years
              - 60-64_years
              - 60-69_years
              - 65-69_years
              - 70-79_years
              - 80-89_years
              - 90_plus_years
              - 100_over
            type: string
          name: age_of_people
          required: false
          type: array
        - description: 'Search for images by specific artists (free-text, comma-separated list of artists).'
          in: query
          name: artists
          required: false
          type: string
        - collectionFormat: multi
          description: Filter by collection codes (comma-separated list). Include or exclude based on collections_filter_type.
          in: query
          items:
            type: string
          name: collection_codes
          required: false
          type: array
        - description: Provides searching based on specified collection(s).
          enum:
            - include
            - exclude
          in: query
          name: collections_filter_type
          required: false
          type: string
        - description: 'Filter based on predominant color in an image. Use 6 character hexidecimal format (e.g., #002244). Note: when specified, results will not contain editorial images.'
          in: query
          name: color
          required: false
          type: string
        - collectionFormat: multi
          description: Filter based on image composition.
          in: query
          items:
            enum:
              - abstract
              - candid
              - close_up
              - copy_space
              - cut_out
              - full_frame
              - full_length
              - headshot
              - looking_at_camera
              - macro
              - portrait
              - sparse
              - still_life
              - three_quarter_length
              - waist_up
            type: string
          name: compositions
          required: false
          type: array
        - description: Restrict search results to embeddable images. The default is false.
          in: query
          name: embed_content_only
          required: false
          type: boolean
        - collectionFormat: multi
          description: Filter search results based on the ethnicity of individuals in an image.
          in: query
          items:
            enum:
              - black
              - caucasian
              - east_asian
              - hispanic_latino
              - japanese
              - middle_eastern
              - mixed_race_person
              - multiethnic_group
              - native_american_first_nations
              - pacific_islander
              - south_asian
              - southeast_asian
            type: string
          name: ethnicity
          required: false
          type: array
        - collectionFormat: multi
          description: Filter based on specific events
          in: query
          items:
            format: int32
            type: integer
          name: event_ids
          required: false
          type: array
        - description: Excludes images containing nudity. The default is false.
          in: query
          name: exclude_nudity
          required: false
          type: boolean
        - collectionFormat: multi
          description: Specifies fields to return. Defaults to 'summary_set'.
          in: query
          items:
            enum:
              - accessrestriction
              - allowed_use
              - alternative_ids
              - artist
              - asset_family
              - call_for_image
              - caption
              - collection_code
              - collection_id
              - collection_name
              - color_type
              - comp
              - copyright
              - date_camera_shot
              - date_created
              - date_submitted
              - detail_set
              - display_set
              - download_sizes
              - editorial_segments
              - editorial_source
              - entity_details
              - event_ids
              - graphical_style
              - id
              - istock_collection
              - keywords
              - largest_downloads
              - license_model
              - max_dimensions
              - orientation
              - people
              - preview
              - product_types
              - quality_rank
              - referral_destinations
[...]
