{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://sheets.googleapis.com/"
    }
  ],
  "info": {
    "contact": {
      "name": "Google",
      "url": "https://google.com",
      "x-twitter": "youtube"
    },
    "description": "Reads and writes Google Sheets.",
    "license": {
      "name": "Creative Commons Attribution 3.0",
      "url": "http://creativecommons.org/licenses/by/3.0/"
    },
    "termsOfService": "https://developers.google.com/terms/",
    "title": "Google Sheets API",
    "version": "v4",
    "x-apiClientRegistration": {
      "url": "https://console.developers.google.com"
    },
    "x-apisguru-categories": [
      "analytics",
      "media"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png"
    },
    "x-origin": [
      {
        "converter": {
          "url": "https://github.com/mermade/oas-kit",
          "version": "7.0.4"
        },
        "format": "google",
        "url": "https://sheets.googleapis.com/$discovery/rest?version=v4",
        "version": "v1"
      }
    ],
    "x-providerName": "googleapis.com",
    "x-serviceName": "sheets"
  },
  "externalDocs": {
    "url": "https://developers.google.com/sheets/"
  },
  "tags": [
    {
      "name": "spreadsheets"
    }
  ],
  "paths": {
    "/v4/spreadsheets": {
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "description": "Creates a spreadsheet, returning the newly created spreadsheet.",
        "operationId": "sheets.spreadsheets.create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Spreadsheet"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spreadsheet"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/spreadsheets"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          }
        ],
        "tags": [
          "spreadsheets"
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}": {
      "get": {
        "description": "Returns the spreadsheet at the given ID. The caller must specify the spreadsheet ID. By default, data within grids is not returned. You can include grid data in one of 2 ways: * Specify a [field mask](https://developers.google.com/sheets/api/guides/field-masks) listing your desired fields using the `fields` URL parameter in HTTP * Set the includeGridData URL parameter to true. If a field mask is set, the `includeGridData` parameter is ignored For large spreadsheets, as a best practice, retrieve only the specific spreadsheet fields that you want. To retrieve only subsets of spreadsheet data, use the ranges URL parameter. Ranges are specified using [A1 notation](/sheets/api/guides/concepts#cell). You can define a single cell (for example, `A1`) or multiple cells (for example, `A1:D5`). You can also get cells from other sheets within the same spreadsheet (for example, `Sheet2!A1:C4`) or retrieve multiple ranges at once (for example, `?ranges=A1:D5&ranges=Sheet2!A1:C4`). Limiting the range returns only the portions of the spreadsheet that intersect the requested ranges.",
        "operationId": "sheets.spreadsheets.get",
        "parameters": [
          {
            "description": "The spreadsheet to request.",
            "in": "path",
            "name": "spreadsheetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "True if grid data should be returned. This parameter is ignored if a field mask was set in the request.",
            "in": "query",
            "name": "includeGridData",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "The ranges to retrieve from the spreadsheet.",
            "explode": true,
            "in": "query",
            "name": "ranges",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spreadsheet"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/spreadsheets"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/spreadsheets.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/spreadsheets.readonly"
            ]
          }
        ],
        "tags": [
          "spreadsheets"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ]
    },
    "/v4/spreadsheets/{spreadsheetId}/developerMetadata/{metadataId}": {
      "get": {
        "description": "Returns the developer metadata with the specified ID. The caller must specify the spreadsheet ID and the developer metadata's unique metadataId.",
        "operationId": "sheets.spreadsheets.developerMetadata.get",
        "parameters": [
          {
            "description": "The ID of the spreadsheet to retrieve metadata from.",
            "in": "path",
            "name": "spreadsheetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of the developer metadata to retrieve.",
            "in": "path",
            "name": "metadataId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeveloperMetadata"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/spreadsheets"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          }
        ],
        "tags": [
          "spreadsheets"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ]
    },
    "/v4/spreadsheets/{spreadsheetId}/developerMetadata:search": {
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "description": "Returns all developer metadata matching the specified DataFilter. If the provided DataFilter represents a DeveloperMetadataLookup object, this will return all DeveloperMetadata entries selected by it. If the DataFilter represents a location in a spreadsheet, this will return all developer metadata associated with locations intersecting that region.",
        "operationId": "sheets.spreadsheets.developerMetadata.search",
        "parameters": [
          {
            "description": "The ID of the spreadsheet to retrieve metadata from.",
            "in": "path",
            "name": "spreadsheetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchDeveloperMetadataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchDeveloperMetadataResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/spreadsheets"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          }
        ],
        "tags": [
          "spreadsheets"
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/sheets/{sheetId}:copyTo": {
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "description": "Copies a single sheet from a spreadsheet to another spreadsheet. Returns the properties of the newly created sheet.",
        "operationId": "sheets.spreadsheets.sheets.copyTo",
        "parameters": [
          {
            "description": "The ID of the spreadsheet containing the sheet to copy.",
            "in": "path",
            "name": "spreadsheetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of the sheet to copy.",
            "in": "path",
            "name": "sheetId",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CopySheetToAnotherSpreadsheetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SheetProperties"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/spreadsheets"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          }
        ],
        "tags": [
          "spreadsheets"
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/values/{range}": {
      "get": {
        "description": "Returns a range of values from a spreadsheet. The caller must specify the spreadsheet ID and a range.",
        "operationId": "sheets.spreadsheets.values.get",
        "parameters": [
          {
            "description": "The ID of the spreadsheet to retrieve data from.",
            "in": "path",
            "name": "spreadsheetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The [A1 notation or R1C1 notation](/sheets/api/guides/concepts#cell) of the range to retrieve values from.",
            "in": "path",
            "name": "range",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "How dates, times, and durations should be represented in the output. This is ignored if value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.",
            "in": "query",
            "name": "dateTimeRenderOption",
            "schema": {
              "enum": [
                "SERIAL_NUMBER",
                "FORMATTED_STRING"
              ],
              "type": "string"
            }
          },
          {
            "description": "The major dimension that results should use. For example, if the spreadsheet data in Sheet1 is: `A1=1,B1=2,A2=3,B2=4`, then requesting `range=Sheet1!A1:B2?majorDimension=ROWS` returns `[[1,2],[3,4]]`, whereas requesting `range=Sheet1!A1:B2?majorDimension=COLUMNS` returns `[[1,3],[2,4]]`.",
            "in": "query",
            "name": "majorDimension",
            "schema": {
              "enum": [
                "DIMENSION_UNSPECIFIED",
                "ROWS",
                "COLUMNS"
              ],
              "type": "string"
            }
          },
          {
            "description": "How values should be represented in the output. The default render option is FORMATTED_VALUE.",
            "in": "query",
            "name": "valueRenderOption",
            "schema": {
              "enum": [
                "FORMATTED_VALUE",
                "UNFORMATTED_VALUE",
                "FORMULA"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValueRange"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/spreadsheets"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/spreadsheets.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/spreadsheets.readonly"
            ]
          }
        ],
        "tags": [
          "spreadsheets"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "put": {
        "description": "Sets values in a range of a spreadsheet. The caller must specify the spreadsheet ID, range, and a valueInputOption.",
        "operationId": "sheets.spreadsheets.values.update",
        "parameters": [
          {
            "description": "The ID of the spreadsheet to update.",
            "in": "path",
            "name": "spreadsheetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The [A1 notation](/sheets/api/guides/concepts#cell) of the values to update.",
            "in": "path",
            "name": "range",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Determines if the update response should include the values of the cells that were updated. By default, responses do not include the updated values. If the range to write was larger than the range actually written, the response includes all values in the requested range (excluding trailing empty rows and columns).",
            "in": "query",
            "name": "includeValuesInResponse",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Determines how dates, times, and durations in the response should be rendered. This is ignored if response_value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.",
            "in": "query",
            "name": "responseDateTimeRenderOption",
            "schema": {
              "enum": [
                "SERIAL_NUMBER",
                "FORMATTED_STRING"
              ],
              "type": "string"
            }
          },
          {
            "description": "Determines how values in the response should be rendered. The default render option is FORMATTED_VALUE.",
            "in": "query",
            "name": "responseValueRenderOption",
            "schema": {
              "enum": [
                "FORMATTED_VALUE",
                "UNFORMATTED_VALUE",
                "FORMULA"
              ],
              "type": "string"
            }
          },
          {
            "description": "How the input data should be interpreted.",
            "in": "query",
            "name": "valueInputOption",
            "schema": {
              "enum": [
                "INPUT_VALUE_OPTION_UNSPECIFIED",
                "RAW",
                "USER_ENTERED"
              ],
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValueRange"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateValuesResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/spreadsheets"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          }
        ],
        "tags": [
          "spreadsheets"
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/values/{range}:append": {
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "description": "Appends values to a spreadsheet. The input range is used to search for existing data and find a \"table\" within that range. Values will be appended to the next row of the table, starting with the first column of the table. See the [guide](/sheets/api/guides/values#appending_values) and [sample code](/sheets/api/samples/writing#append_values) for specific details of how tables are detected and data is appended. The caller must specify the spreadsheet ID, range, and a valueInputOption. The `valueInputOption` only controls how the input data will be added to the sheet (column-wise or row-wise), it does not influence what cell the data starts being written to.",
        "operationId": "sheets.spreadsheets.values.append",
        "parameters": [
          {
            "description": "The ID of the spreadsheet to update.",
            "in": "path",
            "name": "spreadsheetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The [A1 notation](/sheets/api/guides/concepts#cell) of a range to search for a logical table of data. Values are appended after the last row of the table.",
            "in": "path",
            "name": "range",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Determines if the update response should include the values of the cells that were appended. By default, responses do not include the updated values.",
            "in": "query",
            "name": "includeValuesInResponse",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "How the input data should be inserted.",
            "in": "query",
            "name": "insertDataOption",
            "schema": {
              "enum": [
                "OVERWRITE",
                "INSERT_ROWS"
              ],
              "type": "string"
            }
          },
          {
            "description": "Determines how dates, times, and durations in the response should be rendered. This is ignored if response_value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.",
            "in": "query",
            "name": "responseDateTimeRenderOption",
            "schema": {
              "enum": [
                "SERIAL_NUMBER",
                "FORMATTED_STRING"
              ],
              "type": "string"
            }
          },
          {
            "description": "Determines how values in the response should be rendered. The default render option is FORMATTED_VALUE.",
            "in": "query",
            "name": "responseValueRenderOption",
            "schema": {
              "enum": [
                "FORMATTED_VALUE",
                "UNFORMATTED_VALUE",
                "FORMULA"
              ],
              "type": "string"
            }
          },
          {
            "description": "How the input data should be interpreted.",
            "in": "query",
            "name": "valueInputOption",
            "schema": {
              "enum": [
                "INPUT_VALUE_OPTION_UNSPECIFIED",
                "RAW",
                "USER_ENTERED"
              ],
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValueRange"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppendValuesResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/spreadsheets"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          }
        ],
        "tags": [
          "spreadsheets"
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/values/{range}:clear": {
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "description": "Clears values from a spreadsheet. The caller must specify the spreadsheet ID and range. Only values are cleared -- all other properties of the cell (such as formatting, data validation, etc..) are kept.",
        "operationId": "sheets.spreadsheets.values.clear",
        "parameters": [
          {
            "description": "The ID of the spreadsheet to update.",
            "in": "path",
            "name": "spreadsheetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The [A1 notation or R1C1 notation](/sheets/api/guides/concepts#cell) of the values to clear.",
            "in": "path",
            "name": "range",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClearValuesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClearValuesResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/spreadsheets"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          }
        ],
        "tags": [
          "spreadsheets"
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/values:batchClear": {
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "description": "Clears one or more ranges of values from a spreadsheet. The caller must specify the spreadsheet ID and one or more ranges. Only values are cleared -- all other properties of the cell (such as formatting and data validation) are kept.",
        "operationId": "sheets.spreadsheets.values.batchClear",
        "parameters": [
          {
            "description": "The ID of the spreadsheet to update.",
            "in": "path",
            "name": "spreadsheetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchClearValuesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchClearValuesResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/spreadsheets"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          }
        ],
        "tags": [
          "spreadsheets"
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/values:batchClearByDataFilter": {
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "description": "Clears one or more ranges of values from a spreadsheet. The caller must specify the spreadsheet ID and one or more DataFilters. Ranges matching any of the specified data filters will be cleared. Only values are cleared -- all other properties of the cell (such as formatting, data validation, etc..) are kept.",
        "operationId": "sheets.spreadsheets.values.batchClearByDataFilter",
        "parameters": [
          {
            "description": "The ID of the spreadsheet to update.",
            "in": "path",
            "name": "spreadsheetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchClearValuesByDataFilterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchClearValuesByDataFilterResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/spreadsheets"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          }
        ],
        "tags": [
          "spreadsheets"
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/values:batchGet": {
      "get": {
        "description": "Returns one or more ranges of values from a spreadsheet. The caller must specify the spreadsheet ID and one or more ranges.",
        "operationId": "sheets.spreadsheets.values.batchGet",
        "parameters": [
          {
            "description": "The ID of the spreadsheet to retrieve data from.",
            "in": "path",
            "name": "spreadsheetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "How dates, times, and durations should be represented in the output. This is ignored if value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.",
            "in": "query",
            "name": "dateTimeRenderOption",
            "schema": {
              "enum": [
                "SERIAL_NUMBER",
                "FORMATTED_STRING"
              ],
              "type": "string"
            }
          },
          {
            "description": "The major dimension that results should use. For example, if the spreadsheet data is: `A1=1,B1=2,A2=3,B2=4`, then requesting `ranges=[\"A1:B2\"],majorDimension=ROWS` returns `[[1,2],[3,4]]`, whereas requesting `ranges=[\"A1:B2\"],majorDimension=COLUMNS` returns `[[1,3],[2,4]]`.",
            "in": "query",
            "name": "majorDimension",
            "schema": {
              "enum": [
                "DIMENSION_UNSPECIFIED",
                "ROWS",
                "COLUMNS"
              ],
              "type": "string"
            }
          },
          {
            "description": "The [A1 notation or R1C1 notation](/sheets/api/guides/concepts#cell) of the range to retrieve values from.",
            "explode": true,
            "in": "query",
            "name": "ranges",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          },
          {
            "description": "How values should be represented in the output. The default render option is ValueRenderOption.FORMATTED_VALUE.",
            "in": "query",
            "name": "valueRenderOption",
            "schema": {
              "enum": [
                "FORMATTED_VALUE",
                "UNFORMATTED_VALUE",
                "FORMULA"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchGetValuesResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/spreadsheets"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/spreadsheets.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/spreadsheets.readonly"
            ]
          }
        ],
        "tags": [
          "spreadsheets"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ]
    },
    "/v4/spreadsheets/{spreadsheetId}/values:batchGetByDataFilter": {
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "description": "Returns one or more ranges of values that match the specified data filters. The caller must specify the spreadsheet ID and one or more DataFilters. Ranges that match any of the data filters in the request will be returned.",
        "operationId": "sheets.spreadsheets.values.batchGetByDataFilter",
        "parameters": [
          {
            "description": "The ID of the spreadsheet to retrieve data from.",
            "in": "path",
            "name": "spreadsheetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchGetValuesByDataFilterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchGetValuesByDataFilterResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/spreadsheets"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          }
        ],
        "tags": [
          "spreadsheets"
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/values:batchUpdate": {
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "description": "Sets values in one or more ranges of a spreadsheet. The caller must specify the spreadsheet ID, a valueInputOption, and one or more ValueRanges.",
        "operationId": "sheets.spreadsheets.values.batchUpdate",
        "parameters": [
          {
            "description": "The ID of the spreadsheet to update.",
            "in": "path",
            "name": "spreadsheetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchUpdateValuesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchUpdateValuesResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/spreadsheets"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          }
        ],
        "tags": [
          "spreadsheets"
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}/values:batchUpdateByDataFilter": {
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "description": "Sets values in one or more ranges of a spreadsheet. The caller must specify the spreadsheet ID, a valueInputOption, and one or more DataFilterValueRanges.",
        "operationId": "sheets.spreadsheets.values.batchUpdateByDataFilter",
        "parameters": [
          {
            "description": "The ID of the spreadsheet to update.",
            "in": "path",
            "name": "spreadsheetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchUpdateValuesByDataFilterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchUpdateValuesByDataFilterResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/spreadsheets"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          }
        ],
        "tags": [
          "spreadsheets"
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}:batchUpdate": {
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "description": "Applies one or more updates to the spreadsheet. Each request is validated before being applied. If any request is not valid then the entire request will fail and nothing will be applied. Some requests have replies to give you some information about how they are applied. The replies will mirror the requests. For example, if you applied 4 updates and the 3rd one had a reply, then the response will have 2 empty replies, the actual reply, and another empty reply, in that order. Due to the collaborative nature of spreadsheets, it is not guaranteed that the spreadsheet will reflect exactly your changes after this completes, however it is guaranteed that the updates in the request will be applied together atomically. Your changes may be altered with respect to collaborator changes. If there are no collaborators, the spreadsheet should reflect your changes.",
        "operationId": "sheets.spreadsheets.batchUpdate",
        "parameters": [
          {
            "description": "The spreadsheet to apply the updates to.",
            "in": "path",
            "name": "spreadsheetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchUpdateSpreadsheetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchUpdateSpreadsheetResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/spreadsheets"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          }
        ],
        "tags": [
          "spreadsheets"
        ]
      }
    },
    "/v4/spreadsheets/{spreadsheetId}:getByDataFilter": {
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "description": "Returns the spreadsheet at the given ID. The caller must specify the spreadsheet ID. This method differs from GetSpreadsheet in that it allows selecting which subsets of spreadsheet data to return by specifying a dataFilters parameter. Multiple DataFilters can be specified. Specifying one or more data filters returns the portions of the spreadsheet that intersect ranges matched by any of the filters. By default, data within grids is not returned. You can include grid data one of 2 ways: * Specify a [field mask](https://developers.google.com/sheets/api/guides/field-masks) listing your desired fields using the `fields` URL parameter in HTTP * Set the includeGridData parameter to true. If a field mask is set, the `includeGridData` parameter is ignored For large spreadsheets, as a best practice, retrieve only the specific spreadsheet fields that you want.",
        "operationId": "sheets.spreadsheets.getByDataFilter",
        "parameters": [
          {
            "description": "The spreadsheet to request.",
            "in": "path",
            "name": "spreadsheetId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSpreadsheetByDataFilterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Spreadsheet"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.file"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/drive.file"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/spreadsheets"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/spreadsheets"
            ]
          }
        ],
        "tags": [
          "spreadsheets"
        ]
      }
    }
  },
  "components": {
    "parameters": {
      "_.xgafv": {
        "description": "V1 error format.",
        "in": "query",
        "name": "$.xgafv",
        "schema": {
          "enum": [
            "1",
            "2"
          ],
          "type": "string"
        }
      },
      "access_token": {
        "description": "OAuth access token.",
        "in": "query",
        "name": "access_token",
        "schema": {
          "type": "string"
        }
      },
      "alt": {
        "description": "Data format for response.",
        "in": "query",
        "name": "alt",
        "schema": {
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "type": "string"
        }
      },
      "callback": {
        "description": "JSONP",
        "in": "query",
        "name": "callback",
        "schema": {
          "type": "string"
        }
      },
      "fields": {
        "description": "Selector specifying which fields to include in a partial response.",
        "in": "query",
        "name": "fields",
        "schema": {
          "type": "string"
        }
      },
      "key": {
        "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
        "in": "query",
        "name": "key",
        "schema": {
          "type": "string"
        }
      },
      "oauth_token": {
        "description": "OAuth 2.0 token for the current user.",
        "in": "query",
        "name": "oauth_token",
        "schema": {
          "type": "string"
        }
      },
      "prettyPrint": {
        "description": "Returns response with indentations and line breaks.",
        "in": "query",
        "name": "prettyPrint",
        "schema": {
          "type": "boolean"
        }
      },
      "quotaUser": {
        "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
        "in": "query",
        "name": "quotaUser",
        "schema": {
          "type": "string"
        }
      },
      "uploadType": {
        "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
        "in": "query",
        "name": "uploadType",
        "schema": {
          "type": "string"
        }
      },
      "upload_protocol": {
        "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
        "in": "query",
        "name": "upload_protocol",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "AddBandingRequest": {
        "description": "Adds a new banded range to the spreadsheet.",
        "properties": {
          "bandedRange": {
            "$ref": "#/components/schemas/BandedRange",
            "description": "The banded range to add. The bandedRangeId field is optional; if one is not set, an id will be randomly generated. (It is an error to specify the ID of a range that already exists.)"
          }
        },
        "type": "object"
      },
      "AddBandingResponse": {
        "description": "The result of adding a banded range.",
        "properties": {
          "bandedRange": {
            "$ref": "#/components/schemas/BandedRange",
            "description": "The banded range that was added."
          }
        },
        "type": "object"
      },
      "AddChartRequest": {
        "description": "Adds a chart to a sheet in the spreadsheet.",
        "properties": {
          "chart": {
            "$ref": "#/components/schemas/EmbeddedChart",
            "description": "The chart that should be added to the spreadsheet, including the position where it should be placed. The chartId field is optional; if one is not set, an id will be randomly generated. (It is an error to specify the ID of an embedded object that already exists.)"
          }
        },
        "type": "object"
      },
      "AddChartResponse": {
        "description": "The result of adding a chart to a spreadsheet.",
        "properties": {
          "chart": {
            "$ref": "#/components/schemas/EmbeddedChart",
            "description": "The newly added chart."
          }
        },
        "type": "object"
      },
      "AddConditionalFormatRuleRequest": {
        "description": "Adds a new conditional format rule at the given index. All subsequent rules' indexes are incremented.",
        "properties": {
          "index": {
            "description": "The zero-based index where the rule should be inserted.",
            "format": "int32",
            "type": "integer"
          },
          "rule": {
            "$ref": "#/components/schemas/ConditionalFormatRule",
            "description": "The rule to add."
          }
        },
        "type": "object"
      },
      "AddDataSourceRequest": {
        "description": "Adds a data source. After the data source is added successfully, an associated DATA_SOURCE sheet is created and an execution is triggered to refresh the sheet to read data from the data source. The request requires an additional `bigquery.readonly` OAuth scope.",
        "properties": {
          "dataSource": {
            "$ref": "#/components/schemas/DataSource",
            "description": "The data source to add."
          }
        },
        "type": "object"
      },
      "AddDataSourceResponse": {
        "description": "The result of adding a data source.",
        "properties": {
          "dataExecutionStatus": {
            "$ref": "#/components/schemas/DataExecutionStatus",
            "description": "The data execution status."
          },
          "dataSource": {
            "$ref": "#/components/schemas/DataSource",
            "description": "The data source that was created."
          }
        },
        "type": "object"
      },
      "AddDimensionGroupRequest": {
        "description": "Creates a group over the specified range. If the requested range is a superset of the range of an existing group G, then the depth of G is incremented and this new group G' has the depth of that group. For example, a group [C:D, depth 1] + [B:E] results in groups [B:E, depth 1] and [C:D, depth 2]. If the requested range is a subset of the range of an existing group G, then the depth of the new group G' becomes one greater than the depth of G. For example, a group [B:E, depth 1] + [C:D] results in groups [B:E, depth 1] and [C:D, depth 2]. If the requested range starts before and ends within, or starts within and ends after, the range of an existing group G, then the range of the existing group G becomes the union of the ranges, and the new group G' has depth one greater than the depth of G and range as the intersection of the ranges. For example, a group [B:D, depth 1] + [C:E] results in groups [B:E, depth 1] and [C:D, depth 2].",
        "properties": {
          "range": {
            "$ref": "#/components/schemas/DimensionRange",
            "description": "The range over which to create a group."
          }
        },
        "type": "object"
      },
      "AddDimensionGroupResponse": {
        "description": "The result of adding a group.",
        "properties": {
          "dimensionGroups": {
            "description": "All groups of a dimension after adding a group to that dimension.",
            "items": {
              "$ref": "#/components/schemas/DimensionGroup"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "AddFilterViewRequest": {
        "description": "Adds a filter view.",
        "properties": {
          "filter": {
            "$ref": "#/components/schemas/FilterView",
            "description": "The filter to add. The filterViewId field is optional; if one is not set, an id will be randomly generated. (It is an error to specify the ID of a filter that already exists.)"
          }
        },
        "type": "object"
      },
      "AddFilterViewResponse": {
        "description": "The result of adding a filter view.",
        "properties": {
          "filter": {
            "$ref": "#/components/schemas/FilterView",
            "description": "The newly added filter view."
          }
        },
        "type": "object"
      },
      "AddNamedRangeRequest": {
        "description": "Adds a named range to the spreadsheet.",
        "properties": {
          "namedRange": {
            "$ref": "#/components/schemas/NamedRange",
            "description": "The named range to add. The namedRangeId field is optional; if one is not set, an id will be randomly generated. (It is an error to specify the ID of a range that already exists.)"
          }
        },
        "type": "object"
      },
      "AddNamedRangeResponse": {
        "description": "The result of adding a named range.",
        "properties": {
          "namedRange": {
            "$ref": "#/components/schemas/NamedRange",
            "description": "The named range to add."
          }
        },
        "type": "object"
      },
      "AddProtectedRangeRequest": {
        "description": "Adds a new protected range.",
        "properties": {
          "protectedRange": {
            "$ref": "#/components/schemas/ProtectedRange",
            "description": "The protected range to be added. The protectedRangeId field is optional; if one is not set, an id will be randomly generated. (It is an error to specify the ID of a range that already exists.)"
          }
        },
        "type": "object"
      },
      "AddProtectedRangeResponse": {
        "description": "The result of adding a new protected range.",
        "properties": {
          "protectedRange": {
            "$ref": "#/components/schemas/ProtectedRange",
            "description": "The newly added protected range."
          }
        },
        "type": "object"
      },
      "AddSheetRequest": {
        "description": "Adds a new sheet. When a sheet is added at a given index, all subsequent sheets' indexes are incremented. To add an object sheet, use AddChartRequest instead and specify EmbeddedObjectPosition.sheetId or EmbeddedObjectPosition.newSheet.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/SheetProperties",
            "description": "The properties the new sheet should have. All properties are optional. The sheetId field is optional; if one is not set, an id will be randomly generated. (It is an error to specify the ID of a sheet that already exists.)"
          }
        },
        "type": "object"
      },
      "AddSheetResponse": {
        "description": "The result of adding a sheet.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/SheetProperties",
            "description": "The properties of the newly added sheet."
          }
        },
        "type": "object"
      },
      "AddSlicerRequest": {
        "description": "Adds a slicer to a sheet in the spreadsheet.",
        "properties": {
          "slicer": {
            "$ref": "#/components/schemas/Slicer",
            "description": "The slicer that should be added to the spreadsheet, including the position where it should be placed. The slicerId field is optional; if one is not set, an id will be randomly generated. (It is an error to specify the ID of a slicer that already exists.)"
          }
        },
        "type": "object"
      },
      "AddSlicerResponse": {
        "description": "The result of adding a slicer to a spreadsheet.",
        "properties": {
          "slicer": {
            "$ref": "#/components/schemas/Slicer",
            "description": "The newly added slicer."
          }
        },
        "type": "object"
      },
      "AppendCellsRequest": {
        "description": "Adds new cells after the last row with data in a sheet, inserting new rows into the sheet if necessary.",
        "properties": {
          "fields": {
            "description": "The fields of CellData that should be updated. At least one field must be specified. The root is the CellData; 'row.values.' should not be specified. A single `\"*\"` can be used as short-hand for listing every field.",
            "format": "google-fieldmask",
            "type": "string"
          },
          "rows": {
            "description": "The data to append.",
            "items": {
              "$ref": "#/components/schemas/RowData"
            },
            "type": "array"
          },
          "sheetId": {
            "description": "The sheet ID to append the data to.",
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "AppendDimensionRequest": {
        "description": "Appends rows or columns to the end of a sheet.",
        "properties": {
          "dimension": {
            "description": "Whether rows or columns should be appended.",
            "enum": [
              "DIMENSION_UNSPECIFIED",
              "ROWS",
              "COLUMNS"
            ],
            "type": "string"
          },
          "length": {
            "description": "The number of rows or columns to append.",
            "format": "int32",
            "type": "integer"
          },
          "sheetId": {
            "description": "The sheet to append rows or columns to.",
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "AppendValuesResponse": {
        "description": "The response when updating a range of values in a spreadsheet.",
        "properties": {
          "spreadsheetId": {
            "description": "The spreadsheet the updates were applied to.",
            "type": "string"
          },
          "tableRange": {
            "description": "The range (in A1 notation) of the table that values are being appended to (before the values were appended). Empty if no table was found.",
            "type": "string"
          },
          "updates": {
            "$ref": "#/components/schemas/UpdateValuesResponse",
            "description": "Information about the updates that were applied."
          }
        },
        "type": "object"
      },
      "AutoFillRequest": {
        "description": "Fills in more data based on existing data.",
        "properties": {
          "range": {
            "$ref": "#/components/schemas/GridRange",
            "description": "The range to autofill. This will examine the range and detect the location that has data and automatically fill that data in to the rest of the range."
          },
          "sourceAndDestination": {
            "$ref": "#/components/schemas/SourceAndDestination",
            "description": "The source and destination areas to autofill. This explicitly lists the source of the autofill and where to extend that data."
          },
          "useAlternateSeries": {
            "description": "True if we should generate data with the \"alternate\" series. This differs based on the type and amount of source data.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "AutoResizeDimensionsRequest": {
        "description": "Automatically resizes one or more dimensions based on the contents of the cells in that dimension.",
        "properties": {
          "dataSourceSheetDimensions": {
            "$ref": "#/components/schemas/DataSourceSheetDimensionRange",
            "description": "The dimensions on a data source sheet to automatically resize."
          },
          "dimensions": {
            "$ref": "#/components/schemas/DimensionRange",
            "description": "The dimensions to automatically resize."
          }
        },
        "type": "object"
      },
      "BandedRange": {
        "description": "A banded (alternating colors) range in a sheet.",
        "properties": {
          "bandedRangeId": {
            "description": "The id of the banded range.",
            "format": "int32",
            "type": "integer"
          },
          "columnProperties": {
            "$ref": "#/components/schemas/BandingProperties",
            "description": "Properties for column bands. These properties are applied on a column- by-column basis throughout all the columns in the range. At least one of row_properties or column_properties must be specified."
          },
          "range": {
            "$ref": "#/components/schemas/GridRange",
            "description": "The range over which these properties are applied."
          },
          "rowProperties": {
            "$ref": "#/components/schemas/BandingProperties",
            "description": "Properties for row bands. These properties are applied on a row-by-row basis throughout all the rows in the range. At least one of row_properties or column_properties must be specified."
          }
        },
        "type": "object"
      },
      "BandingProperties": {
        "description": "Properties referring a single dimension (either row or column). If both BandedRange.row_properties and BandedRange.column_properties are set, the fill colors are applied to cells according to the following rules: * header_color and footer_color take priority over band colors. * first_band_color takes priority over second_band_color. * row_properties takes priority over column_properties. For example, the first row color takes priority over the first column color, but the first column color takes priority over the second row color. Similarly, the row header takes priority over the column header in the top left cell, but the column header takes priority over the first row color if the row header is not set.",
        "properties": {
          "firstBandColor": {
            "$ref": "#/components/schemas/Color",
            "description": "The first color that is alternating. (Required) Deprecated: Use first_band_color_style."
          },
          "firstBandColorStyle": {
            "$ref": "#/components/schemas/ColorStyle",
            "description": "The first color that is alternating. (Required) If first_band_color is also set, this field takes precedence."
          },
          "footerColor": {
            "$ref": "#/components/schemas/Color",
            "description": "The color of the last row or column. If this field is not set, the last row or column is filled with either first_band_color or second_band_color, depending on the color of the previous row or column. Deprecated: Use footer_color_style."
          },
          "footerColorStyle": {
            "$ref": "#/components/schemas/ColorStyle",
            "description": "The color of the last row or column. If this field is not set, the last row or column is filled with either first_band_color or second_band_color, depending on the color of the previous row or column. If footer_color is also set, this field takes precedence."
          },
          "headerColor": {
            "$ref": "#/components/schemas/Color",
            "description": "The color of the first row or column. If this field is set, the first row or column is filled with this color and the colors alternate between first_band_color and second_band_color starting from the second row or column. Otherwise, the first row or column is filled with first_band_color and the colors proceed to alternate as they normally would. Deprecated: Use header_color_style."
          },
          "headerColorStyle": {
            "$ref": "#/components/schemas/ColorStyle",
            "description": "The color of the first row or column. If this field is set, the first row or column is filled with this color and the colors alternate between first_band_color and second_band_color starting from the second row or column. Otherwise, the first row or column is filled with first_band_color and the colors proceed to alternate as they normally would. If header_color is also set, this field takes precedence."
          },
          "secondBandColor": {
            "$ref": "#/components/schemas/Color",
            "description": "The second color that is alternating. (Required) Deprecated: Use second_band_color_style."
          },
          "secondBandColorStyle": {
            "$ref": "#/components/schemas/ColorStyle",
            "description": "The second color that is alternating. (Required) If second_band_color is also set, this field takes precedence."
          }
        },
        "type": "object"
      },
      "BaselineValueFormat": {
        "description": "Formatting options for baseline value.",
        "properties": {
          "comparisonType": {
            "description": "The comparison type of key value with baseline value.",
            "enum": [
              "COMPARISON_TYPE_UNDEFINED",
              "ABSOLUTE_DIFFERENCE",
              "PERCENTAGE_DIFFERENCE"
            ],
            "type": "string"
          },
          "description": {
            "description": "Description which is appended after the baseline value. This field is optional.",
            "type": "string"
          },
          "negativeColor": {
            "$ref": "#/components/schemas/Color",
            "description": "Color to be used, in case baseline value represents a negative change for key value. This field is optional. Deprecated: Use negative_color_style."
          },
          "negativeColorStyle": {
            "$ref": "#/components/schemas/ColorStyle",
            "description": "Color to be used, in case baseline value represents a negative change for key value. This field is optional. If negative_color is also set, this field takes precedence."
          },
          "position": {
            "$ref": "#/components/schemas/TextPosition",
            "description": "Specifies the horizontal text positioning of baseline value. This field is optional. If not specified, default positioning is used."
          },
          "positiveColor": {
            "$ref": "#/components/schemas/Color",
            "description": "Color to be used, in case baseline value represents a positive change for key value. This field is optional. Deprecated: Use positive_color_style."
          },
          "positiveColorStyle": {
            "$ref": "#/components/schemas/ColorStyle",
            "description": "Color to be used, in case baseline value represents a positive change for key value. This field is optional. If positive_color is also set, this field takes precedence."
          },
          "textFormat": {
            "$ref": "#/components/schemas/TextFormat",
            "description": "Text formatting options for baseline value. The link field is not supported."
          }
        },
        "type": "object"
      },
      "BasicChartAxis": {
        "description": "An axis of the chart. A chart may not have more than one axis per axis position.",
        "properties": {
          "format": {
            "$ref": "#/components/schemas/TextFormat",
            "description": "The format of the title. Only valid if the axis is not associated with the domain. The link field is not supported."
          },
          "position": {
            "description": "The position of this axis.",
            "enum": [
              "BASIC_CHART_AXIS_POSITION_UNSPECIFIED",
              "BOTTOM_AXIS",
              "LEFT_AXIS",
              "RIGHT_AXIS"
            ],
            "type": "string"
          },
          "title": {
            "description": "The title of this axis. If set, this overrides any title inferred from headers of the data.",
            "type": "string"
          },
          "titleTextPosition": {
            "$ref": "#/components/schemas/TextPosition",
            "description": "The axis title text position."
          },
          "viewWindowOptions": {
            "$ref": "#/components/schemas/ChartAxisViewWindowOptions",
            "description": "The view window options for this axis."
          }
        },
        "type": "object"
      },
      "BasicChartDomain": {
        "description": "The domain of a chart. For example, if charting stock prices over time, this would be the date.",
        "properties": {
          "domain": {
            "$ref": "#/components/schemas/ChartData",
            "description": "The data of the domain. For example, if charting stock prices over time, this is the data representing the dates."
          },
          "reversed": {
            "description": "True to reverse the order of the domain values (horizontal axis).",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "BasicChartSeries": {
        "description": "A single series of data in a chart. For example, if charting stock prices over time, multiple series may exist, one for the \"Open Price\", \"High Price\", \"Low Price\" and \"Close Price\".",
        "properties": {
          "color": {
            "$ref": "#/components/schemas/Color",
            "description": "The color for elements (such as bars, lines, and points) associated with this series. If empty, a default color is used. Deprecated: Use color_style."
          },
          "colorStyle": {
            "$ref": "#/components/schemas/ColorStyle",
            "description": "The color for elements (such as bars, lines, and points) associated with this series. If empty, a default color is used. If color is also set, this field takes precedence."
          },
          "dataLabel": {
            "$ref": "#/components/schemas/DataLabel",
            "description": "Information about the data labels for this series."
          },
          "lineStyle": {
            "$ref": "#/components/schemas/LineStyle",
            "description": "The line style of this series. Valid only if the chartType is AREA, LINE, or SCATTER. COMBO charts are also supported if the series chart type is AREA or LINE."
          },
          "pointStyle": {
            "$ref": "#/components/schemas/PointStyle",
            "description": "The style for points associated with this series. Valid only if the chartType is AREA, LINE, or SCATTER. COMBO charts are also supported if the series chart type is AREA, LINE, or SCATTER. If empty, a default point style is used."
          },
          "series": {
            "$ref": "#/components/schemas/ChartData",
            "description": "The data being visualized in this chart series."
          },
          "styleOverrides": {
            "description": "Style override settings for series data points.",
            "items": {
              "$ref": "#/components/schemas/BasicSeriesDataPointStyleOverride"
            },
            "type": "array"
          },
          "targetAxis": {
            "description": "The minor axis that will specify the range of values for this series. For example, if charting stocks over time, the \"Volume\" series may want to be pinned to the right with the prices pinned to the left, because the scale of trading volume is different than the scale of prices. It is an error to specify an axis that isn't a valid minor axis for the chart's type.",
            "enum": [
              "BASIC_CHART_AXIS_POSITION_UNSPECIFIED",
              "BOTTOM_AXIS",
              "LEFT_AXIS",
              "RIGHT_AXIS"
            ],
            "type": "string"
          },
          "type": {
            "description": "The type of this series. Valid only if the chartType is COMBO. Different types will change the way the series is visualized. Only LINE, AREA, and COLUMN are supported.",
            "enum": [
              "BASIC_CHART_TYPE_UNSPECIFIED",
              "BAR",
              "LINE",
              "AREA",
              "COLUMN",
              "SCATTER",
              "COMBO",
              "STEPPED_AREA"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "BasicChartSpec": {
        "description": "The specification for a basic chart. See BasicChartType for the list of charts this supports.",
        "properties": {
          "axis": {
            "description": "The axis on the chart.",
            "items": {
              "$ref": "#/components/schemas/BasicChartAxis"
            },
            "type": "array"
          },
          "chartType": {
            "description": "The type of the chart.",
            "enum": [
              "BASIC_CHART_TYPE_UNSPECIFIED",
              "BAR",
              "LINE",
              "AREA",
              "COLUMN",
              "SCATTER",
              "COMBO",
              "STEPPED_AREA"
            ],
            "type": "string"
          },
          "compareMode": {
            "description": "The behavior of tooltips and data highlighting when hovering on data and chart area.",
            "enum": [
              "BASIC_CHART_COMPARE_MODE_UNSPECIFIED",
              "DATUM",
              "CATEGORY"
            ],
            "type": "string"
          },
          "domains": {
            "description": "The domain of data this is charting. Only a single domain is supported.",
            "items": {
              "$ref": "#/components/schemas/BasicChartDomain"
            },
            "type": "array"
          },
          "headerCount": {
            "description": "The number of rows or columns in the data that are \"headers\". If not set, Google Sheets will guess how many rows are headers based on the data. (Note that BasicChartAxis.title may override the axis title inferred from the header values.)",
            "format": "int32",
            "type": "integer"
          },
          "interpolateNulls": {
            "description": "If some values in a series are missing, gaps may appear in the chart (e.g, segments of lines in a line chart will be missing). To eliminate these gaps set this to true. Applies to Line, Area, and Combo charts.",
            "type": "boolean"
          },
          "legendPosition": {
            "description": "The position of the chart legend.",
            "enum": [
              "BASIC_CHART_LEGEND_POSITION_UNSPECIFIED",
              "BOTTOM_LEGEND",
              "LEFT_LEGEND",
              "RIGHT_LEGEND",
              "TOP_LEGEND",
              "NO_LEGEND"
            ],
            "type": "string"
          },
          "lineSmoothing": {
            "description": "Gets whether all lines should be rendered smooth or straight by default. Applies to Line charts.",
            "type": "boolean"
          },
          "series": {
            "description": "The data this chart is visualizing.",
            "items": {
              "$ref": "#/components/schemas/BasicChartSeries"
            },
            "type": "array"
          },
          "stackedType": {
            "description": "The stacked type for charts that support vertical stacking. Applies to Area, Bar, Column, Combo, and Stepped Area charts.",
            "enum": [
              "BASIC_CHART_STACKED_TYPE_UNSPECIFIED",
              "NOT_STACKED",
              "STACKED",
              "PERCENT_STACKED"
            ],
            "type": "string"
          },
          "threeDimensional": {
            "description": "True to make the chart 3D. Applies to Bar and Column charts.",
            "type": "boolean"
          },
          "totalDataLabel": {
            "$ref": "#/components/schemas/DataLabel",
            "description": "Controls whether to display additional data labels on stacked charts which sum the total value of all stacked values at each value along the domain axis. These data labels can only be set when chart_type is one of AREA, BAR, COLUMN, COMBO or STEPPED_AREA and stacked_type is either STACKED or PERCENT_STACKED. In addition, for COMBO, this will only be supported if there is only one type of stackable series type or one type has more series than the others and each of the other types have no more than one series. For example, if a chart has two stacked bar series and one area series, the total data labels will be supported. If it has three bar series and two area series, total data labels are not allowed. Neither CUSTOM nor placement can be set on the total_data_label."
          }
        },
        "type": "object"
      },
      "BasicFilter": {
        "description": "The default filter associated with a sheet.",
        "properties": {
          "criteria": {
            "additionalProperties": {
              "$ref": "#/components/schemas/FilterCriteria"
            },
            "description": "The criteria for showing/hiding values per column. The map's key is the column index, and the value is the criteria for that column. This field is deprecated in favor of filter_specs.",
            "type": "object"
          },
          "filterSpecs": {
            "description": "The filter criteria per column. Both criteria and filter_specs are populated in responses. If both fields are specified in an update request, this field takes precedence.",
            "items": {
              "$ref": "#/components/schemas/FilterSpec"
            },
            "type": "array"
          },
          "range": {
            "$ref": "#/components/schemas/GridRange",
            "description": "The range the filter covers."
          },
          "sortSpecs": {
            "description": "The sort order per column. Later specifications are used when values are equal in the earlier specifications.",
            "items": {
              "$ref": "#/components/schemas/SortSpec"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "BasicSeriesDataPointStyleOverride": {
        "description": "Style override settings for a single series data point.",
        "properties": {
          "color": {
            "$ref": "#/components/schemas/Color",
            "description": "Color of the series data point. If empty, the series default is used. Deprecated: Use color_style."
          },
          "colorStyle": {
            "$ref": "#/components/schemas/ColorStyle",
            "description": "Color of the series data point. If empty, the series default is used. If color is also set, this field takes precedence."
          },
          "index": {
            "description": "Zero based index of the series data point.",
            "format": "int32",
            "type": "integer"
          },
          "pointStyle": {
            "$ref": "#/components/schemas/PointStyle",
            "description": "Point style of the series data point. Valid only if the chartType is AREA, LINE, or SCATTER. COMBO charts are also supported if the series chart type is AREA, LINE, or SCATTER. If empty, the series default is used."
          }
        },
        "type": "object"
      },
      "BatchClearValuesByDataFilterRequest": {
        "description": "The request for clearing more than one range selected by a DataFilter in a spreadsheet.",
        "properties": {
          "dataFilters": {
            "description": "The DataFilters used to determine which ranges to clear.",
            "items": {
              "$ref": "#/components/schemas/DataFilter"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "BatchClearValuesByDataFilterResponse": {
        "description": "The response when clearing a range of values selected with DataFilters in a spreadsheet.",
        "properties": {
          "clearedRanges": {
            "description": "The ranges that were cleared, in [A1 notation](/sheets/api/guides/concepts#cell). If the requests are for an unbounded range or a ranger larger than the bounds of the sheet, this is the actual ranges that were cleared, bounded to the sheet's limits.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "spreadsheetId": {
            "description": "The spreadsheet the updates were applied to.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "BatchClearValuesRequest": {
        "description": "The request for clearing more than one range of values in a spreadsheet.",
        "properties": {
          "ranges": {
            "description": "The ranges to clear, in [A1 notation or R1C1 notation](/sheets/api/guides/concepts#cell).",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "BatchClearValuesResponse": {
        "description": "The response when clearing a range of values in a spreadsheet.",
        "properties": {
          "clearedRanges": {
            "description": "The ranges that were cleared, in A1 notation. If the requests are for an unbounded range or a ranger larger than the bounds of the sheet, this is the actual ranges that were cleared, bounded to the sheet's limits.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "spreadsheetId": {
            "description": "The spreadsheet the updates were applied to.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "BatchGetValuesByDataFilterRequest": {
        "description": "The request for retrieving a range of values in a spreadsheet selected by a set of DataFilters.",
        "properties": {
          "dataFilters": {
            "description": "The data filters used to match the ranges of values to retrieve. Ranges that match any of the specified data filters are included in the response.",
            "items": {
              "$ref": "#/components/schemas/DataFilter"
            },
            "type": "array"
          },
          "dateTimeRenderOption": {
            "description": "How dates, times, and durations should be represented in the output. This is ignored if value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.",
            "enum": [
              "SERIAL_NUMBER",
              "FORMATTED_STRING"
            ],
            "type": "string"
          },
          "majorDimension": {
            "description": "The major dimension that results should use. For example, if the spreadsheet data is: `A1=1,B1=2,A2=3,B2=4`, then a request that selects that range and sets `majorDimension=ROWS` returns `[[1,2],[3,4]]`, whereas a request that sets `majorDimension=COLUMNS` returns `[[1,3],[2,4]]`.",
            "enum": [
              "DIMENSION_UNSPECIFIED",
              "ROWS",
              "COLUMNS"
            ],
            "type": "string"
          },
          "valueRenderOption": {
            "description": "How values should be represented in the output. The default render option is FORMATTED_VALUE.",
            "enum": [
              "FORMATTED_VALUE",
              "UNFORMATTED_VALUE",
              "FORMULA"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "BatchGetValuesByDataFilterResponse": {
        "description": "The response when retrieving more than one range of values in a spreadsheet selected by DataFilters.",
        "properties": {
          "spreadsheetId": {
[...]
