openapi: 3.1.0
servers:
  - description: Production API
    url: https://api.vercel.com
x-hasEquivalentPaths: true
info:
  contact:
    email: support@vercel.com
    name: Vercel Support
    url: https://vercel.com/support
  description: Vercel combines the best developer experience with an obsessive focus on end-user performance. Our platform enables frontend teams to do their best work.
  title: Vercel API
  version: 0.0.1
  x-apisguru-categories:
    - hosting
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_pbs.twimg.com_profile_images_1252531684353998848_6R0-p1Vf_400x400.jpg
  x-origin:
    - format: openapi
      url: https://openapi.vercel.sh
      version: "3.0"
  x-providerName: vercel.com
paths:
  /edge-config:
    get:
      description: Returns all Edge Configs.
      operationId: getEdgeConfigs
      parameters:
        - description: The Team identifier or slug to perform the request on behalf of.
          in: query
          name: teamId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                description: List of all edge configs.
                properties:
                  createdAt:
                    type:
                      - number
                      - "null"
                  creator:
                    type: string
                  domain:
                    type: string
                  id:
                    type: string
                  itemCount:
                    type: number
                  name:
                    type: string
                  recordType:
                    enum:
                      - A
                      - AAAA
                      - ALIAS
                      - CAA
                      - CNAME
                      - MX
                      - SRV
                      - TXT
                      - NS
                    type: string
                  sizeInBytes:
                    type: number
                  ttl:
                    type: number
                  type:
                    enum:
                      - record
                      - record-sys
                    type: string
                  value:
                    type: string
                required:
                  - sizeInBytes
                  - itemCount
                type: object
          description: List of all edge configs.
        "400":
          description: One of the provided values in the request query is invalid.
        "403":
          description: You do not have permission to access this resource.
      security:
        - bearerToken: []
      summary: Get Edge Configs
      tags:
        - edge-config
    post:
      description: Creates an Edge Config.
      operationId: createEdgeConfig
      parameters:
        - description: The Team identifier or slug to perform the request on behalf of.
          in: query
          name: teamId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                items:
                  additionalProperties:
                    oneOf:
                      - oneOf:
                          - type: string
                          - type: number
                          - type: boolean
                          - type: "null"
                          - type: object
                      - items:
                          oneOf:
                            - type: string
                            - type: number
                            - type: boolean
                            - type: "null"
                            - type: object
                        type: array
                  propertyNames:
                    maxLength: 256
                    pattern: ^[\\w-]+$
                    type: string
                  type: object
                slug:
                  maxLength: 32
                  pattern: ^[\\w-]+$
                  type: string
              required:
                - slug
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                description: An Edge Config
                properties:
                  blocking:
                    type: boolean
                  completedAt:
                    type: number
                  conclusion:
                    enum:
                      - canceled
                      - failed
                      - neutral
                      - succeeded
                      - skipped
                      - stale
                    type: string
                  createdAt:
                    type: number
                  deploymentId:
                    type: string
                  detailsUrl:
                    type: string
                  externalId:
                    type: string
                  id:
                    type: string
                  integrationId:
                    type: string
                  itemCount:
                    type: number
                  name:
                    type: string
                  output:
                    properties:
                      metrics:
                        properties:
                          CLS:
                            properties:
                              previousValue:
                                type: number
                              source:
                                enum:
                                  - web-vitals
                                type: string
                              value:
                                type:
                                  - number
                                  - "null"
                            required:
                              - value
                              - source
                            type: object
                          FCP:
                            properties:
                              previousValue:
                                type: number
                              source:
                                enum:
                                  - web-vitals
                                type: string
                              value:
                                type:
                                  - number
                                  - "null"
                            required:
                              - value
                              - source
                            type: object
                          LCP:
                            properties:
                              previousValue:
                                type: number
                              source:
                                enum:
                                  - web-vitals
                                type: string
                              value:
                                type:
                                  - number
                                  - "null"
                            required:
                              - value
                              - source
                            type: object
                          TBT:
                            properties:
                              previousValue:
                                type: number
                              source:
                                enum:
                                  - web-vitals
                                type: string
                              value:
                                type:
                                  - number
                                  - "null"
                            required:
                              - value
                              - source
                            type: object
                          virtualExperienceScore:
                            properties:
                              previousValue:
                                type: number
                              source:
                                enum:
                                  - web-vitals
                                type: string
                              value:
                                type:
                                  - number
                                  - "null"
                            required:
                              - value
                              - source
                            type: object
                        required:
                          - FCP
                          - LCP
                          - CLS
                          - TBT
                        type: object
                    type: object
                  path:
                    type: string
                  rerequestable:
                    type: boolean
                  sizeInBytes:
                    type: number
                  startedAt:
                    type: number
                  status:
                    enum:
                      - registered
                      - running
                      - completed
                    type: string
                  updatedAt:
                    type: number
                required:
                  - sizeInBytes
                  - itemCount
                type: object
          description: ""
        "400":
          description: One of the provided values in the request body is invalid.
        "402":
          description: |-
            The account was soft-blocked for an unhandled reason.
            The account is missing a payment so payment method must be updated
        "403":
          description: You do not have permission to access this resource.
      security:
        - bearerToken: []
      summary: Create an Edge Config
      tags:
        - edge-config
  "/edge-config/{edgeConfigId}":
    delete:
      description: Delete an Edge Config by id.
      operationId: deleteEdgeConfig
      parameters:
        - in: path
          name: edgeConfigId
          required: true
          schema:
            type: string
        - description: The Team identifier or slug to perform the request on behalf of.
          in: query
          name: teamId
          schema:
            type: string
      responses:
        "204":
          description: ""
        "400":
          description: One of the provided values in the request query is invalid.
        "402":
          description: |-
            The account was soft-blocked for an unhandled reason.
            The account is missing a payment so payment method must be updated
        "403":
          description: You do not have permission to access this resource.
        "404":
          description: ""
      security:
        - bearerToken: []
      summary: Delete an Edge Config
      tags:
        - edge-config
    get:
      description: Returns an Edge Config.
      operationId: getEdgeConfig
      parameters:
        - in: path
          name: edgeConfigId
          required: true
          schema:
            type: string
        - description: The Team identifier or slug to perform the request on behalf of.
          in: query
          name: teamId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                description: The EdgeConfig.
                properties:
                  createdAt:
                    type:
                      - number
                      - "null"
                  creator:
                    type: string
                  domain:
                    type: string
                  id:
                    type: string
                  itemCount:
                    type: number
                  name:
                    type: string
                  recordType:
                    enum:
                      - A
                      - AAAA
                      - ALIAS
                      - CAA
                      - CNAME
                      - MX
                      - SRV
                      - TXT
                      - NS
                    type: string
                  sizeInBytes:
                    type: number
                  ttl:
                    type: number
                  type:
                    enum:
                      - record
                      - record-sys
                    type: string
                  value:
                    type: string
                required:
                  - sizeInBytes
                  - itemCount
                type: object
          description: The EdgeConfig.
        "400":
          description: One of the provided values in the request query is invalid.
        "403":
          description: You do not have permission to access this resource.
        "404":
          description: ""
      security:
        - bearerToken: []
      summary: Get an Edge Config
      tags:
        - edge-config
    put:
      description: Updates an Edge Config.
      operationId: updateEdgeConfig
      parameters:
        - in: path
          name: edgeConfigId
          required: true
          schema:
            type: string
        - description: The Team identifier or slug to perform the request on behalf of.
          in: query
          name: teamId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                slug:
                  maxLength: 32
                  pattern: ^[\\w-]+$
                  type: string
              required:
                - slug
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                description: An Edge Config
                properties:
                  blocking:
                    type: boolean
                  completedAt:
                    type: number
                  conclusion:
                    enum:
                      - canceled
                      - failed
                      - neutral
                      - succeeded
                      - skipped
                      - stale
                    type: string
                  createdAt:
                    type: number
                  deploymentId:
                    type: string
                  detailsUrl:
                    type: string
                  externalId:
                    type: string
                  id:
                    type: string
                  integrationId:
                    type: string
                  itemCount:
                    type: number
                  name:
                    type: string
                  output:
                    properties:
                      metrics:
                        properties:
                          CLS:
                            properties:
                              previousValue:
                                type: number
                              source:
                                enum:
                                  - web-vitals
                                type: string
                              value:
                                type:
                                  - number
                                  - "null"
                            required:
                              - value
                              - source
                            type: object
                          FCP:
                            properties:
                              previousValue:
                                type: number
                              source:
                                enum:
                                  - web-vitals
                                type: string
                              value:
                                type:
                                  - number
                                  - "null"
                            required:
                              - value
                              - source
                            type: object
                          LCP:
                            properties:
                              previousValue:
                                type: number
                              source:
                                enum:
                                  - web-vitals
                                type: string
                              value:
                                type:
                                  - number
                                  - "null"
                            required:
                              - value
                              - source
                            type: object
                          TBT:
                            properties:
                              previousValue:
                                type: number
                              source:
                                enum:
                                  - web-vitals
                                type: string
                              value:
                                type:
                                  - number
                                  - "null"
                            required:
                              - value
                              - source
                            type: object
                          virtualExperienceScore:
                            properties:
                              previousValue:
                                type: number
                              source:
                                enum:
                                  - web-vitals
                                type: string
                              value:
                                type:
                                  - number
                                  - "null"
                            required:
                              - value
                              - source
                            type: object
                        required:
                          - FCP
                          - LCP
                          - CLS
                          - TBT
                        type: object
                    type: object
                  path:
                    type: string
                  rerequestable:
                    type: boolean
                  sizeInBytes:
                    type: number
                  startedAt:
                    type: number
                  status:
                    enum:
                      - registered
                      - running
                      - completed
                    type: string
                  updatedAt:
                    type: number
                required:
                  - sizeInBytes
                  - itemCount
                type: object
          description: ""
        "400":
          description: |-
            One of the provided values in the request body is invalid.
            One of the provided values in the request query is invalid.
        "402":
          description: |-
            The account was soft-blocked for an unhandled reason.
            The account is missing a payment so payment method must be updated
        "403":
          description: You do not have permission to access this resource.
        "404":
          description: ""
      security:
        - bearerToken: []
      summary: Update an Edge Config
      tags:
        - edge-config
  "/edge-config/{edgeConfigId}/item/{edgeConfigItemKey}":
    get:
      description: Returns a specific Edge Config Item.
      operationId: getEdgeConfigItem
      parameters:
        - in: path
          name: edgeConfigId
          required: true
          schema:
            type: string
        - in: path
          name: edgeConfigItemKey
          required: true
          schema:
            type: string
        - description: The Team identifier or slug to perform the request on behalf of.
          in: query
          name: teamId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EdgeConfigItem"
          description: The EdgeConfig.
        "400":
          description: One of the provided values in the request query is invalid.
        "403":
          description: You do not have permission to access this resource.
        "404":
          description: ""
      security:
        - bearerToken: []
      summary: Get an Edge Config item
      tags:
        - edge-config
  "/edge-config/{edgeConfigId}/items":
    get:
      description: Returns all items of an Edge Config.
      operationId: getEdgeConfigItems
      parameters:
        - in: path
          name: edgeConfigId
          required: true
          schema:
            type: string
        - description: The Team identifier or slug to perform the request on behalf of.
          in: query
          name: teamId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EdgeConfigItem"
          description: The EdgeConfig.
        "400":
          description: One of the provided values in the request query is invalid.
        "403":
          description: You do not have permission to access this resource.
        "404":
          description: ""
      security:
        - bearerToken: []
      summary: Get Edge Config items
      tags:
        - edge-config
    patch:
      description: Update multiple Edge Config Items in batch.
      operationId: patchtEdgeConfigItems
      parameters:
        - in: path
          name: edgeConfigId
          required: true
          schema:
            type: string
        - description: The Team identifier or slug to perform the request on behalf of.
          in: query
          name: teamId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: false
              properties:
                items:
                  items:
                    oneOf:
                      - properties:
                          key:
                            maxLength: 256
                            pattern: ^[\\w-]+$
                            type: string
                          operation:
                            oneOf:
                              - const: create
                              - const: update
                              - const: upsert
                          value:
                            oneOf:
                              - oneOf:
                                  - type: string
                                  - type: number
                                  - type: boolean
                                  - type: "null"
                                  - type: object
                              - items:
                                  oneOf:
                                    - type: string
                                    - type: number
                                    - type: boolean
                                    - type: "null"
                                    - type: object
                                type: array
                        required:
                          - operation
                          - key
                          - value
                        type: object
                      - properties:
                          key:
                            maxLength: 256
                            pattern: ^[\\w-]+$
                            type: string
                          operation:
                            const: delete
                        required:
                          - operation
                          - key
                        type: object
                  type: array
              required:
                - items
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  status:
                    type: string
                required:
                  - status
                type: object
          description: ""
        "400":
          description: |-
            One of the provided values in the request body is invalid.
            One of the provided values in the request query is invalid.
        "402":
          description: |-
            The account was soft-blocked for an unhandled reason.
            The account is missing a payment so payment method must be updated
        "403":
          description: You do not have permission to access this resource.
        "404":
          description: ""
        "409":
          description: ""
      security:
        - bearerToken: []
      summary: Update Edge Config items in batch
      tags:
        - edge-config
  "/edge-config/{edgeConfigId}/token":
    post:
      description: Adds a token to an existing Edge Config.
      operationId: createEdgeConfigToken
      parameters:
        - in: path
          name: edgeConfigId
          required: true
          schema:
            type: string
        - description: The Team identifier or slug to perform the request on behalf of.
          in: query
          name: teamId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: false
              properties:
                label:
                  maxLength: 52
                  type: string
              required:
                - label
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: string
                  token:
                    type: string
                required:
                  - token
                  - id
                type: object
          description: ""
        "400":
          description: |-
            One of the provided values in the request body is invalid.
            One of the provided values in the request query is invalid.
        "402":
          description: |-
            The account was soft-blocked for an unhandled reason.
            The account is missing a payment so payment method must be updated
        "403":
          description: You do not have permission to access this resource.
        "404":
          description: ""
      security:
        - bearerToken: []
      summary: Create an Edge Config token
      tags:
        - edge-config
  "/edge-config/{edgeConfigId}/token/{token}":
    get:
      description: Return meta data about an Edge Config token.
      operationId: getEdgeConfigToken
      parameters:
        - in: path
          name: edgeConfigId
          required: true
          schema:
            type: string
        - in: path
          name: token
          required: true
          schema:
            type: string
        - description: The Team identifier or slug to perform the request on behalf of.
          in: query
          name: teamId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EdgeConfigToken"
          description: The EdgeConfig.
        "400":
          description: One of the provided values in the request query is invalid.
        "403":
          description: You do not have permission to access this resource.
        "404":
          description: ""
      security:
        - bearerToken: []
      summary: Get Edge Config token meta data
      tags:
        - edge-config
  "/edge-config/{edgeConfigId}/tokens":
    delete:
      description: Deletes one or more tokens of an existing Edge Config.
      operationId: deleteEdgeConfigTokens
      parameters:
        - in: path
          name: edgeConfigId
          required: true
          schema:
            type: string
        - description: The Team identifier or slug to perform the request on behalf of.
          in: query
          name: teamId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: false
              properties:
                tokens:
                  items:
                    type: string
                  type: array
              required:
                - tokens
              type: object
      responses:
        "204":
          description: ""
        "400":
          description: |-
            One of the provided values in the request body is invalid.
            One of the provided values in the request query is invalid.
        "402":
          description: |-
            The account was soft-blocked for an unhandled reason.
            The account is missing a payment so payment method must be updated
        "403":
          description: You do not have permission to access this resource.
        "404":
          description: ""
      security:
        - bearerToken: []
      summary: Delete one or more Edge Config tokens
      tags:
        - edge-config
    get:
      description: Returns all tokens of an Edge Config.
      operationId: getEdgeConfigTokens
      parameters:
        - in: path
          name: edgeConfigId
          required: true
          schema:
            type: string
        - description: The Team identifier or slug to perform the request on behalf of.
          in: query
          name: teamId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EdgeConfigToken"
          description: The EdgeConfig.
        "400":
          description: One of the provided values in the request query is invalid.
        "403":
          description: You do not have permission to access this resource.
        "404":
          description: ""
      security:
        - bearerToken: []
      summary: Get all tokens of an Edge Config
      tags:
        - edge-config
  /registration:
    post:
      description: Request a new login for a user to get a token. This will respond with a verification token and send an email to confirm the request. Once confirmed you can use the verification token to get an authentication token.
      operationId: emailLogin
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              properties:
                email:
                  description: The user email.
                  examples:
                    - user@mail.com
                  type: string
                tokenName:
                  description: The desired name for the token. It will be displayed on the user account details.
                  examples:
                    - Your Client App Name
                  type: string
              required:
                - email
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  securityCode:
                    description: The code the user is going to receive on the email. **Must** be displayed to the user so they can verify the request is the correct.
                    examples:
                      - Practical Saola
                    type: string
                  token:
                    description: The token used to verify the user accepted the login request
                    examples:
                      - T1dmvPu36nmyYisXAs7IRzcR
                    type: string
                required:
                  - token
                  - securityCode
                type: object
          description: The request was successful and an email was sent
        "400":
          description: |-
            One of the provided values in the request body is invalid.
            The provided email is invalid because the owner is blocked
      security: []
      summary: Login with email
      tags:
        - authentication
  /registration/verify:
    get:
      description: Verify the user accepted the login request and get a authentication token. The user email address and the token received after requesting the login must be added to the URL as a query string with the names `email` and `token`.
      operationId: verifyToken
      parameters:
        - description: Email to verify the login.
          in: query
          name: email
          required: false
          schema:
            description: Email to verify the login.
            type: string
        - description: The token returned when the login was requested.
          in: query
          name: token
          required: true
          schema:
            description: The token returned when the login was requested.
            type: string
        - description: The desired name for the token. It will be displayed on the user account details.
          in: query
          name: tokenName
          required: false
          schema:
            description: The desired name for the token. It will be displayed on the user account details.
            examples:
              - Your Client App Name
            type: string
        - description: The SAML Profile ID, when connecting a SAML Profile to a Team member for the first time.
          in: query
          name: ssoUserId
          required: false
          schema:
            description: The SAML Profile ID, when connecting a SAML Profile to a Team member for the first time.
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  email:
                    description: Email address of the authenticated user.
                    examples:
                      - amy@example.com
                    type: string
                  teamId:
                    description: When completing SAML Single Sign-On authentication, this will be the ID of the Team that was authenticated for.
                    examples:
                      - team_LLHUOMOoDlqOp8wPE4kFo9pE
                    type: string
                  token:
                    description: The user authentication token that can be used to perform API requests.
                    examples:
                      - 1ioXyz9Ue4xdCYGROet1dlKd
                    type: string
                required:
                  - token
                  - email
                type: object
          description: The verification was successful.
        "400":
          description: |-
            One of the provided values in the request query is invalid.
            The provided token exists but is not yet confirmed
        "403":
          description: |-
            You do not have permission to access this resource.
            The verification sso token is invalid or not found
            The verification token is invalid or not found
        "404":
          description: ""
      security: []
      summary: Verify a login request to get an authentication token
      tags:
        - authentication
  "/v1/deployments/{deploymentId}/checks":
    get:
      description: List all of the checks created for a deployment.
      operationId: getAllChecks
      parameters:
        - description: The deployment to get all checks for
          in: path
          name: deploymentId
          required: true
          schema:
            description: The deployment to get all checks for
            examples:
              - dpl_2qn7PZrx89yxY34vEZPD31Y9XVj6
            type: string
        - description: The Team identifier or slug to perform the request on behalf of.
          in: query
          name: teamId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  checks:
                    items:
                      properties:
                        completedAt:
                          type: number
                        conclusion:
                          enum:
                            - canceled
                            - failed
                            - neutral
                            - succeeded
                            - skipped
                            - stale
                          type: string
                        createdAt:
                          type: number
                        detailsUrl:
                          type: string
                        id:
                          type: string
                        integrationId:
                          type: string
                        name:
                          type: string
                        output:
                          properties:
                            metrics:
                              properties:
                                CLS:
                                  properties:
                                    previousValue:
                                      type: number
                                    source:
                                      enum:
                                        - web-vitals
                                      type: string
                                    value:
                                      type:
                                        - number
                                        - "null"
                                  required:
                                    - value
                                    - source
                                  type: object
                                FCP:
                                  properties:
                                    previousValue:
                                      type: number
                                    source:
                                      enum:
                                        - web-vitals
                                      type: string
                                    value:
                                      type:
                                        - number
                                        - "null"
                                  required:
                                    - value
                                    - source
                                  type: object
                                LCP:
                                  properties:
                                    previousValue:
                                      type: number
                                    source:
                                      enum:
                                        - web-vitals
                                      type: string
                                    value:
                                      type:
                                        - number
                                        - "null"
                                  required:
                                    - value
                                    - source
                                  type: object
                                TBT:
                                  properties:
                                    previousValue:
                                      type: number
                                    source:
                                      enum:
                                        - web-vitals
                                      type: string
                                    value:
                                      type:
                                        - number
                                        - "null"
                                  required:
                                    - value
                                    - source
                                  type: object
                                virtualExperienceScore:
                                  properties:
                                    previousValue:
                                      type: number
                                    source:
                                      enum:
                                        - web-vitals
                                      type: string
                                    value:
                                      type:
                                        - number
                                        - "null"
                                  required:
                                    - value
                                    - source
                                  type: object
                              required:
                                - FCP
                                - LCP
                                - CLS
                                - TBT
                              type: object
                          type: object
                        path:
                          type: string
                        rerequestable:
                          type: boolean
                        startedAt:
                          type: number
                        status:
                          enum:
                            - registered
                            - running
                            - completed
                          type: string
                        updatedAt:
                          type: number
                      required:
                        - createdAt
                        - id
                        - integrationId
                        - name
                        - rerequestable
                        - status
                        - updatedAt
                      type: object
                    type: array
                required:
                  - checks
                type: object
          description: ""
        "400":
          description: One of the provided values in the request query is invalid.
        "403":
          description: You do not have permission to access this resource.
        "404":
          description: The deployment was not found
      security:
        - bearerToken: []
      summary: Retrieve a list of all checks
      tags:
        - checks
    post:
      description: Creates a new check. This endpoint must be called with an OAuth2 or it will produce a 400 error.
      operationId: createCheck
      parameters:
        - description: The deployment to create the check for.
          in: path
          name: deploymentId
          required: true
          schema:
            description: The deployment to create the check for.
            examples:
              - dpl_2qn7PZrx89yxY34vEZPD31Y9XVj6
            type: string
        - description: The Team identifier or slug to perform the request on behalf of.
          in: query
          name: teamId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                blocking:
                  description: Whether the check should block a deployment from succeeding
                  examples:
                    - true
                  type: boolean
                detailsUrl:
                  description: URL to display for further details
                  examples:
                    - http://example.com
                  type: string
                externalId:
                  description: An identifier that can be used as an external reference
                  examples:
                    - 1234abc
                  type: string
                name:
                  description: The name of the check being created
                  examples:
                    - Performance Check
                  maxLength: 100
                  type: string
                path:
                  description: Path of the page that is being checked
                  examples:
                    - /
                  maxLength: 255
                  type: string
                rerequestable:
                  description: Whether a user should be able to request for the check to be rerun if it fails
                  examples:
                    - true
                  type: boolean
              required:
                - name
                - blocking
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                description: From T, pick a set of properties whose keys are in the union K
                properties:
                  blocking:
                    type: boolean
                  completedAt:
                    type: number
                  conclusion:
                    enum:
                      - canceled
                      - failed
                      - neutral
                      - succeeded
                      - skipped
                      - stale
                    type: string
                  createdAt:
                    type: number
                  deploymentId:
                    type: string
                  detailsUrl:
                    type: string
                  externalId:
                    type: string
                  id:
                    type: string
                  integrationId:
                    type: string
                  name:
                    type: string
                  output:
                    properties:
                      metrics:
                        properties:
                          CLS:
                            properties:
                              previousValue:
                                type: number
                              source:
                                enum:
                                  - web-vitals
                                type: string
                              value:
                                type:
                                  - number
                                  - "null"
                            required:
                              - value
                              - source
                            type: object
                          FCP:
                            properties:
                              previousValue:
                                type: number
                              source:
                                enum:
                                  - web-vitals
                                type: string
                              value:
                                type:
                                  - number
                                  - "null"
                            required:
                              - value
                              - source
                            type: object
                          LCP:
                            properties:
                              previousValue:
                                type: number
                              source:
                                enum:
                                  - web-vitals
                                type: string
                              value:
                                type:
                                  - number
                                  - "null"
                            required:
                              - value
                              - source
                            type: object
                          TBT:
                            properties:
                              previousValue:
                                type: number
                              source:
                                enum:
                                  - web-vitals
                                type: string
                              value:
                                type:
                                  - number
                                  - "null"
                            required:
                              - value
                              - source
                            type: object
                          virtualExperienceScore:
                            properties:
                              previousValue:
                                type: number
                              source:
                                enum:
                                  - web-vitals
                                type: string
                              value:
                                type:
                                  - number
                                  - "null"
                            required:
                              - value
                              - source
                            type: object
                        required:
                          - FCP
                          - LCP
                          - CLS
                          - TBT
                        type: object
                    type: object
                  path:
                    type: string
                  rerequestable:
                    type: boolean
                  startedAt:
                    type: number
                  status:
                    enum:
                      - registered
                      - running
                      - completed
                    type: string
                  updatedAt:
                    type: number
                required:
                  - id
                  - name
                  - status
                  - blocking
                  - integrationId
                  - deploymentId
                  - createdAt
                  - updatedAt
                type: object
          description: ""
        "400":
          description: |-
            One of the provided values in the request body is invalid.
            One of the provided values in the request query is invalid.
            Cannot create check for finished deployment
            The provided token is not from an OAuth2 Client
        "403":
          description: You do not have permission to access this resource.
        "404":
          description: The deployment was not found
      security:
        - bearerToken: []
      summary: Creates a new Check
      tags:
        - checks
  "/v1/deployments/{deploymentId}/checks/{checkId}":
    get:
      description: Return a detailed response for a single check.
      operationId: getCheck
      parameters:
        - description: The deployment to get the check for.
          in: path
          name: deploymentId
          required: true
          schema:
            description: The deployment to get the check for.
            examples:
              - dpl_2qn7PZrx89yxY34vEZPD31Y9XVj6
            type: string
        - description: The check to fetch
          in: path
          name: checkId
          required: true
          schema:
            description: The check to fetch
            examples:
              - check_2qn7PZrx89yxY34vEZPD31Y9XVj6
            type: string
        - description: The Team identifier or slug to perform the request on behalf of.
          in: query
          name: teamId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                description: From T, pick a set of properties whose keys are in the union K
                properties:
                  createdAt:
                    type:
                      - number
                      - "null"
                  creator:
                    type: string
                  domain:
                    type: string
                  id:
                    type: string
                  name:
                    type: string
                  recordType:
                    enum:
                      - A
                      - AAAA
                      - ALIAS
                      - CAA
                      - CNAME
                      - MX
                      - SRV
                      - TXT
                      - NS
                    type: string
                  ttl:
                    type: number
                  type:
                    enum:
                      - record
                      - record-sys
                    type: string
                  value:
                    type: string
                required:
                  - creator
                  - domain
                  - id
                  - name
                  - recordType
                  - type
                  - value
                type: object
          description: ""
        "400":
          description: One of the provided values in the request query is invalid.
        "403":
          description: |-
            You do not have permission to access this resource.
            The provided token is not from an OAuth2 Client that created the Check
        "404":
          description: |-
            Check was not found
            The deployment was not found
      security:
        - bearerToken: []
      summary: Get a single check
      tags:
        - checks
    patch:
      description: Update an existing check. This endpoint must be called with an OAuth2 or it will produce a 400 error.
      operationId: updateCheck
      parameters:
        - description: The deployment to update the check for.
          in: path
          name: deploymentId
          required: true
          schema:
            description: The deployment to update the check for.
            examples:
              - dpl_2qn7PZrx89yxY34vEZPD31Y9XVj6
            type: string
        - description: The check being updated
          in: path
          name: checkId
          required: true
          schema:
            description: The check being updated
            examples:
              - check_2qn7PZrx89yxY34vEZPD31Y9XVj6
            type: string
        - description: The Team identifier or slug to perform the request on behalf of.
          in: query
          name: teamId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                conclusion:
                  description: The result of the check being run
                  enum:
                    - canceled
                    - failed
                    - neutral
                    - succeeded
                    - skipped
                detailsUrl:
                  description: A URL a user may visit to see more information about the check
                  examples:
                    - https://example.com/check/run/1234abc
                  type: string
                externalId:
                  description: An identifier that can be used as an external reference
                  examples:
                    - 1234abc
                  type: string
                name:
                  description: The name of the check being created
                  examples:
                    - Performance Check
                  maxLength: 100
                  type: string
                output:
                  description: The results of the check Run
                  properties:
                    metrics:
                      additionalProperties: false
                      description: Metrics about the page
                      properties:
                        CLS:
                          properties:
                            previousValue:
                              description: Previous Cumulative Layout Shift value to display a delta
                              examples:
                                - 2
                              type: number
                            source:
                              enum:
                                - web-vitals
                              type: string
                            value:
                              description: Cumulative Layout Shift value
                              examples:
                                - 4
                              type:
                                - number
                                - "null"
                          required:
                            - value
                            - source
                          type: object
                        FCP:
                          properties:
                            previousValue:
                              description: Previous First Contentful Paint value to display a delta
                              examples:
                                - 900
                              type: number
                            source:
                              enum:
                                - web-vitals
                              type: string
                            value:
                              description: First Contentful Paint value
                              examples:
                                - 1200
                              type:
                                - number
                                - "null"
                          required:
                            - value
                            - source
                          type: object
                        LCP:
                          properties:
                            previousValue:
                              description: Previous Largest Contentful Paint value to display a delta
                              examples:
                                - 1000
                              type: number
                            source:
                              enum:
                                - web-vitals
                              type: string
                            value:
                              description: Largest Contentful Paint value
                              examples:
                                - 1200
                              type:
                                - number
                                - "null"
                          required:
                            - value
                            - source
                          type: object
                        TBT:
                          properties:
                            previousValue:
                              description: Previous Total Blocking Time value to display a delta
                              examples:
                                - 3500
                              type: number
                            source:
                              enum:
                                - web-vitals
                            value:
                              description: Total Blocking Time value
                              examples:
                                - 3000
                              type:
                                - number
                                - "null"
                          required:
                            - value
                            - source
                          type: object
                        virtualExperienceScore:
                          properties:
                            previousValue:
                              description: A previous Virtual Experience Score value to display a delta, between 0 and 100
                              examples:
                                - 35
                              maximum: 100
                              minimum: 0
                              type: integer
                            source:
                              enum:
                                - web-vitals
                            value:
                              description: The calculated Virtual Experience Score value, between 0 and 100
                              examples:
                                - 30
                              maximum: 100
                              minimum: 0
                              type:
                                - integer
                                - "null"
                          required:
                            - value
                            - source
                          type: object
                      required:
                        - FCP
                        - LCP
                        - CLS
                        - TBT
                      type: object
                  type: object
                path:
                  description: Path of the page that is being checked
                  examples:
                    - /
                  maxLength: 255
                  type: string
                status:
                  description: The current status of the check
                  enum:
                    - running
                    - completed
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                description: From T, pick a set of properties whose keys are in the union K
                properties:
                  blocking:
                    type: boolean
                  completedAt:
                    type: number
                  conclusion:
                    enum:
                      - canceled
                      - failed
                      - neutral
                      - succeeded
                      - skipped
                      - stale
                    type: string
                  createdAt:
                    type: number
                  deploymentId:
                    type: string
                  detailsUrl:
                    type: string
                  externalId:
                    type: string
                  id:
                    type: string
                  integrationId:
                    type: string
                  name:
                    type: string
                  output:
                    properties:
                      metrics:
                        properties:
                          CLS:
                            properties:
                              previousValue:
                                type: number
                              source:
                                enum:
                                  - web-vitals
                                type: string
                              value:
                                type:
                                  - number
                                  - "null"
                            required:
                              - value
                              - source
                            type: object
                          FCP:
                            properties:
                              previousValue:
                                type: number
                              source:
                                enum:
                                  - web-vitals
                                type: string
                              value:
                                type:
                                  - number
                                  - "null"
                            required:
                              - value
                              - source
                            type: object
                          LCP:
                            properties:
                              previousValue:
                                type: number
                              source:
                                enum:
                                  - web-vitals
                                type: string
                              value:
                                type:
                                  - number
                                  - "null"
                            required:
                              - value
                              - source
                            type: object
                          TBT:
                            properties:
                              previousValue:
                                type: number
                              source:
                                enum:
                                  - web-vitals
                                type: string
                              value:
                                type:
                                  - number
                                  - "null"
                            required:
                              - value
                              - source
                            type: object
                          virtualExperienceScore:
                            properties:
                              previousValue:
                                type: number
                              source:
                                enum:
                                  - web-vitals
                                type: string
                              value:
                                type:
                                  - number
                                  - "null"
                            required:
                              - value
                              - source
                            type: object
                        required:
                          - FCP
                          - LCP
                          - CLS
                          - TBT
                        type: object
                    type: object
                  path:
                    type: string
                  rerequestable:
                    type: boolean
                  startedAt:
                    type: number
                  status:
                    enum:
                      - registered
                      - running
                      - completed
                    type: string
                  updatedAt:
                    type: number
                required:
                  - id
                  - name
                  - status
                  - blocking
                  - integrationId
                  - deploymentId
                  - createdAt
                  - updatedAt
                type: object
          description: ""
        "400":
          description: |-
            One of the provided values in the request body is invalid.
            One of the provided values in the request query is invalid.
            The provided token is not from an OAuth2 Client
        "403":
          description: You do not have permission to access this resource.
        "404":
          description: |-
            Check was not found
            The deployment was not found
        "413":
          description: The output provided is too large
      security:
        - bearerToken: []
      summary: Update a check
      tags:
        - checks
  "/v1/deployments/{deploymentId}/checks/{checkId}/rerequest":
    post:
      description: Rerequest a selected check that has failed.
      operationId: rerequestCheck
      parameters:
        - description: The deployment to rerun the check for.
          in: path
          name: deploymentId
          required: true
          schema:
            description: The deployment to rerun the check for.
            examples:
              - dpl_2qn7PZrx89yxY34vEZPD31Y9XVj6
            type: string
        - description: The check to rerun
          in: path
          name: checkId
          required: true
          schema:
            description: The check to rerun
            examples:
              - check_2qn7PZrx89yxY34vEZPD31Y9XVj6
            type: string
        - description: The Team identifier or slug to perform the request on behalf of.
          in: query
          name: teamId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: ""
        "400":
          description: One of the provided values in the request query is invalid.
        "403":
          description: You do not have permission to access this resource.
        "404":
          description: |-
            The deployment was not found
            Check was not found
      security:
        - bearerToken: []
      summary: Rerequest a check
      tags:
        - checks
  "/v1/domains/records/{recordId}":
    patch:
      description: Updates an existing DNS record for a domain name.
      operationId: updateRecord
      parameters:
        - description: The id of the DNS record
          in: path
          name: recordId
          required: true
          schema:
            description: The id of the DNS record
            examples:
              - rec_2qn7pzrx89yxy34vezpd31y9
            type: string
        - description: The Team identifier or slug to perform the request on behalf of.
          in: query
          name: teamId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: false
              properties:
                mxPriority:
                  description: The MX priority value of the DNS record
                  type:
                    - integer
                    - "null"
                name:
                  description: The name of the DNS record
                  examples:
                    - example-1
                  type:
                    - string
                    - "null"
                srv:
                  additionalProperties: false
                  properties:
                    port:
                      description: ""
                      type:
                        - integer
                        - "null"
                    priority:
                      description: ""
                      type:
                        - integer
                        - "null"
                    target:
                      description: ""
                      examples:
                        - example2.com.
                      maxLength: 255
                      type:
                        - string
                        - "null"
                    weight:
                      description: ""
                      type:
                        - integer
                        - "null"
                  required:
                    - target
                    - weight
                    - port
                    - priority
                  type:
                    - object
                    - "null"
                ttl:
                  description: The Time to live (TTL) value of the DNS record
                  examples:
                    - "60"
                  maximum: 2147483647
                  minimum: 60
                  type:
                    - integer
                    - "null"
                type:
                  description: The type of the DNS record
                  enum:
                    - A
                    - AAAA
                    - ALIAS
                    - CAA
                    - CNAME
                    - MX
                    - SRV
                    - TXT
                    - NS
                  examples:
                    - A
                  maxLength: 255
                  type:
                    - string
                    - "null"
                value:
                  description: The value of the DNS record
                  examples:
                    - google.com
                  type:
                    - string
                    - "null"
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                description: From T, pick a set of properties whose keys are in the union K
                properties:
                  createdAt:
                    type:
                      - number
                      - "null"
                  creator:
                    type: string
                  domain:
                    type: string
                  id:
                    type: string
                  name:
                    type: string
                  recordType:
                    enum:
                      - A
                      - AAAA
                      - ALIAS
                      - CAA
                      - CNAME
                      - MX
                      - SRV
                      - TXT
                      - NS
                    type: string
                  ttl:
                    type: number
                  type:
                    enum:
                      - record
                      - record-sys
                    type: string
                  value:
                    type: string
                required:
                  - creator
                  - domain
                  - id
                  - name
                  - recordType
                  - type
                  - value
                type: object
          description: ""
        "400":
          description: |-
            One of the provided values in the request body is invalid.
            One of the provided values in the request query is invalid.
        "401":
          description: ""
        "402":
          description: |-
            The account was soft-blocked for an unhandled reason.
            The account is missing a payment so payment method must be updated
        "403":
          description: You do not have permission to access this resource.
        "404":
          description: ""
        "409":
          description: ""
      security:
        - bearerToken: []
      summary: Update an existing DNS record
      tags:
        - dns
  "/v1/integrations/configuration/{id}":
    delete:
      description: Allows to remove the configuration with the `id` provided in the parameters. The configuration and all of its resources will be removed. This includes Webhooks, LogDrains and Project Env variables.
      operationId: deleteConfiguration
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
        - description: The Team identifier or slug to perform the request on behalf of.
          in: query
          name: teamId
          schema:
            type: string
      responses:
        "204":
          description: The configuration was successfully removed
        "400":
          description: One of the provided values in the request query is invalid.
        "403":
          description: You do not have permission to access this resource.
        "404":
          description: The configuration was not found
      security:
        - bearerToken: []
      summary: Delete an integration configuration
      tags:
        - integrations
    get:
      description: Allows to retrieve a the configuration with the provided id in case it exists. The authenticated user or team must be the owner of the config in order to access it.
      operationId: getConfiguration
      parameters:
        - description: ID of the configuration to check
          in: path
          name: id
          required: true
          schema:
            description: ID of the configuration to check
            examples:
              - icfg_cuwj0AdCdH3BwWT4LPijCC7t
            type: string
        - description: The Team identifier or slug to perform the request on behalf of.
          in: query
          name: teamId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                oneOf:
                  - description: Make all properties in T optional
                    properties:
                      completedAt:
                        description: A timestamp that tells you when the configuration was installed successfully
                        examples:
                          - 1558531915505
                        type: number
                      createdAt:
                        description: A timestamp that tells you when the configuration was created
                        examples:
                          - 1558531915505
                        type: number
                      deletedAt:
                        description: A timestamp that tells you when the configuration was updated.
                        examples:
                          - 1558531915505
                        type:
                          - number
                          - "null"
                      disabledAt:
                        description: "A timestamp that tells you when the configuration was disabled. Note: Configurations can be disabled when the associated user loses access to a team. They do not function during this time until the configuration is 'transferred', meaning the associated user is changed to one with access to the team."
                        examples:
                          - 1558531915505
                        type: number
                      id:
                        description: The unique identifier of the configuration
                        examples:
                          - icfg_3bwCLgxL8qt5kjRLcv2Dit7F
                        type: string
                      integrationId:
                        description: The unique identifier of the app the configuration was created for
                        examples:
                          - oac_xzpVzcUOgcB1nrVlirtKhbWV
                        type: string
                      oauthConfiguration:
                        description: Will be truthy in those cases where the configuration was created to authorize a client through the OAuth2 flow.
                        examples:
                          - false
                        type: boolean
                      ownerId:
                        description: The user or team ID that owns the configuration
                        examples:
                          - kr1PsOIzqEL5Xg6M4VZcZosf
                        type: string
                      projects:
                        description: When a configuration is limited to access certain projects, this will contain each of the project ID it is allowed to access. If it is not defined, the configuration has full access.
                        examples:
                          - - prj_xQxbutw1HpL6HLYPAzt5h75m8NjO
                        items:
                          type: string
                        type: array
                      removedLogDrainsAt:
                        type: number
                      removedProjectEnvsAt:
                        type: number
                      removedTokensAt:
                        type: number
                      removedWebhooksAt:
                        type: number
                      scopes:
                        description: The resources that are allowed to be accessed by the configuration.
                        examples:
                          - - read:project
                            - read-write:log-drain
                        items:
                          type: string
                        type: array
                      scopesQueue:
                        items:
                          properties:
                            confirmedAt:
                              type: number
                            note:
                              type: string
                            requestedAt:
                              type: number
                            scopes:
                              properties:
                                added:
                                  items:
                                    enum:
                                      - read:integration-configuration
                                      - read-write:integration-configuration
                                      - read:deployment
                                      - read-write:deployment
                                      - read-write:deployment-check
                                      - read:project
                                      - read-write:project
                                      - read-write:project-env-vars
                                      - read-write:global-project-env-vars
                                      - read:team
                                      - read:user
                                      - read-write:log-drain
                                      - read:domain
                                      - read-write:domain
                                      - read-write:edge-config
                                      - read-write:otel-endpoint
                                      - read:monitoring
                                    type: string
                                  type: array
                                upgraded:
                                  items:
                                    enum:
                                      - read:integration-configuration
                                      - read-write:integration-configuration
                                      - read:deployment
                                      - read-write:deployment
                                      - read-write:deployment-check
                                      - read:project
                                      - read-write:project
                                      - read-write:project-env-vars
                                      - read-write:global-project-env-vars
                                      - read:team
                                      - read:user
                                      - read-write:log-drain
                                      - read:domain
                                      - read-write:domain
                                      - read-write:edge-config
                                      - read-write:otel-endpoint
                                      - read:monitoring
                                    type: string
                                  type: array
                              required:
                                - added
                                - upgraded
                              type: object
                          required:
                            - scopes
                            - note
                            - requestedAt
                          type: object
                        type: array
                      slug:
                        description: The slug of the integration the configuration is created for.
                        examples:
                          - slack
                        type: string
                      source:
                        description: Source defines where the configuration was installed from. It is used to analyze user engagement for integration installations in product metrics.
                        enum:
                          - marketplace
                          - deploy-button
                          - oauth
                          - external
                        examples:
                          - marketplace
                        type: string
                      teamId:
                        description: When the configuration was created for a team, this will show the ID of the team.
                        examples:
                          - team_nLlpyC6RE1qxydlFKbrxDlud
                        type:
                          - string
                          - "null"
                      type:
                        enum:
                          - integration-configuration
                        type: string
                      updatedAt:
                        description: A timestamp that tells you when the configuration was updated.
                        examples:
                          - 1558531915505
                        type: number
                      userId:
                        description: The ID of the user that created the configuration.
                        examples:
                          - kr1PsOIzqEL5Xg6M4VZcZosf
                        type: string
                    required:
                      - createdAt
                      - id
                      - integrationId
                      - ownerId
                      - slug
                      - type
                      - updatedAt
                      - userId
                      - scopes
                    type: object
                  - properties:
                      canConfigureOpenTelemetry:
                        type: boolean
                      completedAt:
                        description: A timestamp that tells you when the configuration was installed successfully
                        examples:
                          - 1558531915505
                        type: number
                      createdAt:
                        description: A timestamp that tells you when the configuration was created
                        examples:
                          - 1558531915505
                        type: number
                      disabledAt:
                        description: "A timestamp that tells you when the configuration was disabled. Note: Configurations can be disabled when the associated user loses access to a team. They do not function during this time until the configuration is 'transferred', meaning the associated user is changed to one with access to the team."
                        examples:
                          - 1558531915505
                        type: number
                      id:
                        description: The unique identifier of the configuration
                        examples:
                          - icfg_3bwCLgxL8qt5kjRLcv2Dit7F
                        type: string
                      integrationId:
                        description: The unique identifier of the app the configuration was created for
                        examples:
                          - oac_xzpVzcUOgcB1nrVlirtKhbWV
                        type: string
                      oauthConfiguration:
                        description: Will be truthy in those cases where the configuration was created to authorize a client through the OAuth2 flow.
                        examples:
                          - false
                        type: boolean
                      ownerId:
                        description: The user or team ID that owns the configuration
                        examples:
                          - kr1PsOIzqEL5Xg6M4VZcZosf
                        type: string
                      projectSelection:
                        description: A string representing the permission for projects. Possible values are `all` or `selected`.
                        enum:
                          - selected
                          - all
                        examples:
                          - all
                        type: string
                      projects:
                        description: When a configuration is limited to access certain projects, this will contain each of the project ID it is allowed to access. If it is not defined, the configuration has full access.
                        examples:
                          - - prj_xQxbutw1HpL6HLYPAzt5h75m8NjO
                        items:
                          type: string
                        type: array
                      scopes:
                        description: The resources that are allowed to be accessed by the configuration.
                        examples:
                          - - read:project
                            - read-write:log-drain
                        items:
                          type: string
                        type: array
                      slug:
                        description: The slug of the integration the configuration is created for.
                        examples:
                          - slack
                        type: string
                      source:
                        description: Source defines where the configuration was installed from. It is used to analyze user engagement for integration installations in product metrics.
                        enum:
                          - marketplace
                          - deploy-button
                          - oauth
                          - external
                        examples:
                          - marketplace
                        type: string
                      teamId:
                        description: When the configuration was created for a team, this will show the ID of the team.
                        examples:
                          - team_nLlpyC6RE1qxydlFKbrxDlud
                        type:
                          - string
                          - "null"
                      updatedAt:
                        description: A timestamp that tells you when the configuration was updated.
                        examples:
                          - 1558531915505
                        type: number
                      userId:
                        description: The ID of the user that created the configuration.
                        examples:
                          - kr1PsOIzqEL5Xg6M4VZcZosf
                        type: string
                    required:
                      - projectSelection
                      - createdAt
                      - id
                      - integrationId
                      - ownerId
                      - slug
                      - updatedAt
                      - userId
                      - scopes
                    type: object
          description: ""
        "400":
          description: One of the provided values in the request query is invalid.
        "403":
          description: You do not have permission to access this resource.
        "404":
          description: The configuration was not found
      security:
        - bearerToken: []
      summary: Retrieve an integration configuration
      tags:
        - integrations
  /v1/integrations/configurations:
    get:
      description: Allows to retrieve all configurations for an authenticated integration. When the `project` view is used, configurations generated for the authorization flow will be filtered out of the results.
      operationId: getConfigurations
      parameters:
        - in: query
          name: view
          required: true
          schema:
            enum:
              - account
              - project
            type: string
        - description: The Team identifier or slug to perform the request on behalf of.
          in: query
          name: teamId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                oneOf:
                  - items:
                      description: Make all properties in T optional
                      properties:
                        completedAt:
                          description: A timestamp that tells you when the configuration was installed successfully
                          examples:
                            - 1558531915505
                          type: number
                        createdAt:
                          description: A timestamp that tells you when the configuration was created
                          examples:
                            - 1558531915505
                          type: number
                        deletedAt:
                          description: A timestamp that tells you when the configuration was updated.
                          examples:
                            - 1558531915505
                          type:
                            - number
                            - "null"
                        disabledAt:
                          description: "A timestamp that tells you when the configuration was disabled. Note: Configurations can be disabled when the associated user loses access to a team. They do not function during this time until the configuration is 'transferred', meaning the associated user is changed to one with access to the team."
                          examples:
                            - 1558531915505
                          type: number
                        id:
                          description: The unique identifier of the configuration
                          examples:
                            - icfg_3bwCLgxL8qt5kjRLcv2Dit7F
                          type: string
                        integrationId:
                          description: The unique identifier of the app the configuration was created for
                          examples:
                            - oac_xzpVzcUOgcB1nrVlirtKhbWV
                          type: string
                        oauthConfiguration:
                          description: Will be truthy in those cases where the configuration was created to authorize a client through the OAuth2 flow.
                          examples:
                            - false
                          type: boolean
                        ownerId:
                          description: The user or team ID that owns the configuration
                          examples:
                            - kr1PsOIzqEL5Xg6M4VZcZosf
                          type: string
                        projects:
                          description: When a configuration is limited to access certain projects, this will contain each of the project ID it is allowed to access. If it is not defined, the configuration has full access.
                          examples:
                            - - prj_xQxbutw1HpL6HLYPAzt5h75m8NjO
                          items:
                            type: string
                          type: array
                        removedLogDrainsAt:
                          type: number
                        removedProjectEnvsAt:
                          type: number
                        removedTokensAt:
                          type: number
                        removedWebhooksAt:
                          type: number
                        scopes:
                          description: The resources that are allowed to be accessed by the configuration.
                          examples:
                            - - read:project
                              - read-write:log-drain
                          items:
                            type: string
                          type: array
                        scopesQueue:
                          items:
                            properties:
                              confirmedAt:
                                type: number
                              note:
                                type: string
                              requestedAt:
                                type: number
                              scopes:
                                properties:
                                  added:
                                    items:
                                      enum:
                                        - read:integration-configuration
                                        - read-write:integration-configuration
                                        - read:deployment
                                        - read-write:deployment
                                        - read-write:deployment-check
                                        - read:project
                                        - read-write:project
                                        - read-write:project-env-vars
                                        - read-write:global-project-env-vars
                                        - read:team
                                        - read:user
                                        - read-write:log-drain
                                        - read:domain
                                        - read-write:domain
                                        - read-write:edge-config
                                        - read-write:otel-endpoint
                                        - read:monitoring
                                      type: string
                                    type: array
                                  upgraded:
                                    items:
                                      enum:
                                        - read:integration-configuration
                                        - read-write:integration-configuration
                                        - read:deployment
                                        - read-write:deployment
                                        - read-write:deployment-check
                                        - read:project
                                        - read-write:project
                                        - read-write:project-env-vars
                                        - read-write:global-project-env-vars
                                        - read:team
                                        - read:user
                                        - read-write:log-drain
                                        - read:domain
                                        - read-write:domain
                                        - read-write:edge-config
                                        - read-write:otel-endpoint
                                        - read:monitoring
                                      type: string
                                    type: array
                                required:
                                  - added
                                  - upgraded
                                type: object
                            required:
                              - scopes
                              - note
                              - requestedAt
                            type: object
                          type: array
                        slug:
                          description: The slug of the integration the configuration is created for.
                          examples:
                            - slack
                          type: string
                        source:
                          description: Source defines where the configuration was installed from. It is used to analyze user engagement for integration installations in product metrics.
                          enum:
                            - marketplace
                            - deploy-button
                            - oauth
[...]
