swagger: '2.0'
schemes:
  - https
host: api.ebay.com
basePath: /buy/browse/v1
info:
  contact:
    name: eBay Inc.
  description: 'The Buy Browse API lets shoppers search for specific items by keyword, category, product, or item aspects and retrieve the details of an item.'
  license:
    name: eBay API License Agreement
    url: 'https://go.developer.ebay.com/api-license-agreement'
  title: Buy Browse
  version: v1_beta.7.0
  x-apisguru-categories:
    - ecommerce
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://pbs.twimg.com/profile_images/667048357307662338/PzXHlU9N_400x400.png'
  x-origin:
    - format: swagger
      url: 'https://developer.ebay.com/api-docs/master/buy/browse/openapi/2/buy_browse_v1_beta.json'
      version: '2.0'
  x-providerName: ebay.com
  x-serviceName: buy-browse
securityDefinitions:
  Client Credentials:
    description: The security definitions for this API. Please check individual operations for applicable scopes.
    flow: application
    scopes:
      'https://api.ebay.com/oauth/api_scope': View public data from eBay
    tokenUrl: 'https://api.ebay.com/identity/v1/oauth2/token'
    type: oauth2
paths:
  /item/get_item_by_legacy_id:
    get:
      description: 'This call is a bridge between the eBay legacy APIs, such as Trading, Shopping, and Finding and the eBay Buy APIs. There are differences between how legacy APIs and RESTful APIs return the identifier of an &quot;item&quot;. There is also a difference in what the item Id represents and in the format of the item Id value returned. This call lets you use the legacy item Ids retrieve the details of a specific item, such as description, price, and other information the buyer needs to make a purchasing decision. It also returns the RESTful item Id, which you can use with all the Buy API calls. For more information about how to use legacy Ids with the Buy APIs, see Legacy API compatibility in the Buying Integration guide. This call returns the item details, so it requires you pass in either the item Id of a non-variation item or the item Ids of both the parent and child of a item group (item with variations). Header needed for improved shipping information accuracy Although the X-EBAY-C-ENDUSERCTX header containing the contextualLocation is optional, it is strongly recommended that you use it when submitting this call. This header increases the accuracy of the estimated delivery window information and is needed for the calculated shipping information. You alwaysinclude the country code and you also include the zip code if zip codes are used in that country. For example: X-EBAY-C-ENDUSERCTX contextualLocation=country=US,zip=19406 Restrictions For a list of supported sites and other restrictions, see API Restrictions.'
      operationId: getItemByLegacyId
      parameters:
        - description: 'Specifies either: The legacy item Id of an item that is not part of a group. The legacy item Id of a group, which would be the group parent Id. Note: If you pass in a group Id, you must also use the legacy_variation_id field and pass in the legacy Id of the specific item variation (child Id). Legacy Ids are returned by eBay traditional APIs, such as the Trading API or Finding API. The following is an example of using the value of the ItemID field for a specific item from Trading to get the RESTful itemId value. &nbsp;&nbsp;&nbsp; browse/v1/item/get_item_by_legacy_id?legacy_item_id=110039490209 Maximum: 1'
          in: query
          name: legacy_item_id
          required: true
          type: string
        - description: 'Specifies the legacy item Id of a specific item in an item group. Legacy Ids are returned by eBay traditional APIs, such as the Trading API or Finding API. Maximum: 1 Requirement: You must always pass in the legacy_item_id with the legacy_variation_id'
          in: query
          name: legacy_variation_id
          required: false
          type: string
        - description: 'Specifics the legacy SKU of the item. Legacy SKUs are returned by eBay traditional APIs, such as the Trading API or Finding API. The following is an example of using the value of the ItemID and SKU fields, which were returned by the Trading API, to get the RESTful itemId value. &nbsp;&nbsp;&nbsp; browse/v1/item/get_item_by_legacy_id?legacy_item_id=110039490209&amp;legacy_variation_sku=V-00031-WHM Maximum: 1 Requirement: You must always pass in the legacy_item_id with the legacy_variation_sku'
          in: query
          name: legacy_variation_sku
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Item'
        '404':
          description: Not Found
        '409':
          description: Conflict
        '500':
          description: Internal Server Error
      security:
        - Client Credentials:
            - 'https://api.ebay.com/oauth/api_scope'
      summary: 'Retrieves item details and returns the REST Id of an item using a legacy Id. <br />Legacy Ids are returned by eBay traditional APIs, such as the <a href="http://developer.ebay.com/Devzone/XML/docs/Reference/eBay/index.html"> Trading API</a> or <a href="http://developer.ebay.com/Devzone/finding/CallRef/index.html">Finding API</a>. '
      tags:
        - item
  /item/get_items_by_item_group:
    get:
      consumes:
        - application/json
      description: 'This call retrieves the details of the individual items in an item group. You pass in the item group Id as a URI parameter. You use this call to show the item details of items with multiple aspects, such as color, size, storage capacity, etc. This call returns two main containers; items and commonDescriptions. The items container has an array of containers with the details of each item in the group. The commonDescriptions container has an array of containers for a description and the item Ids of all the items that have this exact description. Because items within an item group often have the same description, this decreases the size of the response. Header needed for improved shipping information accuracy Although the X-EBAY-C-ENDUSERCTX header containing the contextualLocation is optional, it is strongly recommended that you use it when submitting this call. This header increases the accuracy of the estimated delivery window information and is needed for the calculated shipping information. You alwaysinclude the country code and you also include the zip code if zip codes are used in that country. For example: X-EBAY-C-ENDUSERCTX contextualLocation=country=US,zip=19406 Restrictions For a list of supported sites and other restrictions, see API Restrictions.'
      operationId: getItemsByItemGroup
      parameters:
        - description: 'Identifier of the item group to return. This Id is returned in the itemGroupHref field of the search call. For Example: https://api.ebay.com/buy/browse/v1/item_group/351825690866'
          in: query
          name: item_group_id
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Items'
        '404':
          description: Not Found
        '409':
          description: Conflict
        '500':
          description: Internal Server Error
      security:
        - Client Credentials:
            - 'https://api.ebay.com/oauth/api_scope'
      summary: Retrieves the details of all the individual items (variations) in the specified item group.
      tags:
        - item
  '/item/{item_id}':
    get:
      description: 'This call retrieves the details of a specific item, such as description, price, and other information the buyer needs to make a purchasing decision. Header needed for improved shipping information accuracy Although the X-EBAY-C-ENDUSERCTX header containing the contextualLocation is optional, it is strongly recommended that you use it when submitting this call. This header increases the accuracy of the estimated delivery window information and is needed for the calculated shipping information. When using this header, you must include the country code and you also include the zip code if zip codes are used in that country. For example: X-EBAY-C-ENDUSERCTX contextualLocation=country=US,zip=19406 Header needed for eBay Network Partners If you are an eBay Network Partner and want the URL to the View Item page with the affiliate tracking Id returned, you must pass in the X-EBAY-C-ENDUSERCTX header in the request. When you use this header, the affiliate tracking Id is returned in the itemAffiliateWebUrl field. For example: X-EBAY-C-ENDUSERCTX affiliateCampaignId=ePNCampaignId,affiliateReferenceId=referenceId Example if you need both contextualLocation and affiliate information: X-EBAY-C-ENDUSERCTX affiliateCampaignId=ePNCampaignId,affiliateReferenceId=referenceId,contextualLocation=country=CountryCode,zip=zipCode Restrictions For a list of supported sites and other restrictions, see API Restrictions.'
      operationId: getItem
      parameters:
        - description: 'An eBay identifier of an item. This Id is returned in the itemId field of the search call and in the itemId column of the item feed file. For example: v1|262446562346|561248611424'
          in: path
          name: item_id
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Item'
        '404':
          description: Not Found
        '409':
          description: Conflict
        '500':
          description: Internal Server Error
      security:
        - Client Credentials:
            - 'https://api.ebay.com/oauth/api_scope'
      summary: Retrieves the details of the specified item.
      tags:
        - item
  /item_summary/search:
    get:
      description: 'This call performs an advanced search for items. You can search by keyword, category, eBay product Id (EPID), or gtin. Or a combination of these. For example: The following call returns 4,330,774 items. &nbsp;&nbsp;&nbsp;/buy/browse/v1/item_summary/search?q=phone This call, which limits the results to the category &quot;Cell Phones &amp; Smartphones&quot;, returns 142,098 items. &nbsp;&nbsp;&nbsp;/buy/browse/v1/item_summary/search?q=phone&amp;category_ids=9355 These calls, which limit results to a Samsung Galaxy S5, returns 97 items. &nbsp;&nbsp;&nbsp;/buy/browse/v1/item_summary/search?q=phone&amp;category_ids=220&amp;epid=182527490 &nbsp;&nbsp;&nbsp;or &nbsp;&nbsp;&nbsp;/buy/browse/v1/item_summary/search?epid=182527490 Controlling what is returned You can also control what is returned by using the fieldgroups field. In addition to returning items, which is the default, you can return refinements (metadata) about an item that enables you to create aspect histograms. A histogram enables users to drill down in each refinement narrowing the search results. You can return: ASPECT_REFINEMENTS - Lets shoppers refine the result set by variation aspects, such as Brand, Color, etc. Note: ASPECT_REFINEMENTS are category specific. BUYING_OPTION_REFINEMENT - Lets shoppers refine the result set by either FIXED_PRICE or AUCTION CATEGORY_REFINEMENTS - Lets shoppers refine the result set by item in a category CONDITION_REFINEMENT - Lets shoppers refine the result set by item condition, such as NEW, USED, etc. MATCHING_ITEMS - The default, which returns the items. When used with one or more of the refinement values above the specified refinements and all the matching items are returned. FULL - This returns all the refinement containers and all the matching items. Filtering by aspects You can use the aspect refinements returned to filter the result set using the aspect_filter field. For example: This call gets a list of the aspects pairs for the item and the dominant category (category most of the items are in). /buy/browse/v1/item_summary/search?q=world cup soccer ball&amp;fieldgroups=ASPECT_REFINEMENTS This call filters the items by one of the aspect pairs returned and the dominant category ( categoryId is required when using aspect_filter) /buy/browse/v1/item_summary/search?q=world cup soccer ball&amp;aspect_filter=categoryId:20863,Brand:{adidas} This call filters the items by multiple aspects /buy/browse/v1/item_summary/search?q=world cup soccer ball&amp;aspect_filter=categoryId:20863,Brand:{adidas},Featured Refinements:{Adidas Match Ball} This call filters the items by multiple aspect values /buy/browse/v1/item_summary/search?q=world cup soccer ball&amp;aspect_filter=categoryId:20863,Brand:{Nike|Wilson} Additional filters There are also multiple filters you can use to refine the result set, such as listing format, item condition, price range, UPC value, listing end date, location, and more. You can use multiple filters in a single call. For a list and details of the supported filters, see Search Filters Usage. Pagination and sort controls There are pagination controls (limit and offset fields) and sort query parameter that control/sort the data that is returned. By default, the results are sorted by &quot;Best Match&quot;. For more information about Best Match, see the eBay help page Best Match. Header needed for eBay Network Partners If you are an eBay Network Partner and want the URL to the View Item page with the affiliate tracking Id returned, you must pass in the X-EBAY-C-ENDUSERCTX header in the request. When you use this header, the affiliate tracking Id is returned in the itemAffiliateWebUrl field. For example: X-EBAY-C-ENDUSERCTX affiliateCampaignId=ePNCampaignId,affiliateReferenceId=referenceId Restrictions For a list of supported sites and other restrictions, see API Restrictions. Limitation This call can return a maximum of 10,000 items.'
      operationId: search
      parameters:
        - description: 'The aspect name/value pairs and category, which is required, to use to limit the results. For example, in a clothing category one aspect pair would be Color/Red. For example, the call below uses the category Id for Women''s Clothing. This will return only items for a woman''s red shirt. /buy/browse/v1/item_summary/search?q=shirt&amp;aspect_filter=categoryId:15724,Color:{Red} To get a list of the aspects pairs and the category, which is returned in the dominantCategoryId field, set fieldgroups to ASPECT_REFINEMENTS. /buy/browse/v1/item_summary/search?q=shirt&amp;fieldgroups=ASPECT_REFINEMENTS Required: categoryId:categoryId-value For implementation help, refer to eBay API documentation at https://developer.ebay.com/devzone/rest/api-ref/browse/types/AspectFilter.html'
          in: query
          name: aspect_filter
          required: false
          type: string
        - description: 'The category Ids to use to limit the results. This field can have one category Id or a comma separated list of Ids. For example: &nbsp;&nbsp;&nbsp;GET https://api.ebay.com/buy/browse/v1/item_summary/search?category_ids=29792 Note: Currently, you can pass in only one category Id. You can also use any combination of the category_Ids, epid, and q fields. This gives you additional control over the result set. For example, let''s say you are looking of a toy phone. If you search for &quot;phone&quot;, the result set will be mobile phones because this is the &quot;Best Match&quot; for this search. But if you also include the toy category Id, the results will be what you wanted. For example: &nbsp;&nbsp;&nbsp;GET https://api.ebay.com/buy/browse/v1/item_summary/search?q=phone&amp;category_ids=220 The list of eBay category Ids is not published and category Ids are not the same across all the eBay marketplaces. You can use the following techniques to find a category by site. Use the Category Changes page. Use the Taxonomy API. Submit the following call to get the dominantCategoryId. /buy/browse/v1/item_summary/search?q=keyword&amp;fieldgroups=ASPECT_REFINEMENTS Note: If a top-level (L1) category is specified, you must also include the q query parameter. Required: The call must have catedgory_ids, epid, or q (or any combination of these)'
          in: query
          name: category_ids
          required: false
          type: string
        - description: 'The EPID is the eBay product identifier of a product from the eBay product catalog. Only items in the specified EPID are returned. The Marketing API getMerchandisedProducts call and the getItem, getItemByLegacyId, and getItemsByItemGroup calls return the EPID of the product. &nbsp;&nbsp;&nbsp;/buy/browse/v1/item_summary/search?epid:{15032} Maximum: 1 Required: The call must have category_ids, epid, gtin, or q (or any combination of these)'
          in: query
          name: epid
          required: false
          type: string
        - description: 'This field lets you control what is to be returned in the response. The default is MATCHING_ITEMS, which returns the items that match the keyword or category specified. The other values return data that can be used to create histograms. For code examples see, aspect_filter Valid Values: ASPECT_REFINEMENTS - This returns the aspectDistributions container, which has the dominantCategoryId, matchCount, and refinementHref for the various aspects of the items found. For example, if you searched for ''Mustang'', some of the aspect would be Model Year , Exterior Color , Vehicle Mileage , etc. Note: ASPECT_REFINEMENTS are category specific. BUYING_OPTION_REFINEMENTS - This returns the buyingOptionDistributions container, which has the matchCount and refinementHref for AUCTION and FIXED_PRICE (Buy It Now) items. Note: Classified items are not supported. CATEGORY_REFINEMENTS - This returns the categoryDistributions container, which has the categories that the item is in. CONDITION_REFINEMENTS - This returns the conditionDistributions container, such as NEW, USED, etc.. Within these groups are multiple states of the condition. For example, New can be New without tag, New in box, New without box, etc. MATCHING_ITEMS - This is meant to be used with one or more of the refinement values above. You use this to return the specified refinements and all the matching items. FULL - This returns all the refinement containers and all the matching items. Code so that your app gracefully handles any future changes to this list. Default: MATCHING_ITEMS'
          in: query
          name: fieldgroups
          required: false
          type: string
        - description: 'This field supports multiple field filters that can be used to use to limit/customize the result set. For example: &nbsp;&nbsp;&nbsp;GET https://api.ebay.com/buy/browse/v1/item_summary/search?q=shirt&amp;filter=price:[10..50] You can also combine filters. &nbsp;&nbsp;&nbsp;GET https://api.ebay.com/buy/browse/v1/item_summary/search?q=shirt&amp;filter=price:[10..50],sellers:{rpseller|bigSal} The following are the supported filters. For details and examples for all the filters, see Search Filters Usage. buyingOptions conditionIds conditions deliveryCountry deliveryOptions deliveryPostalCode excludeCategoryIds excludeSellers itemEndDate itemLocationCountry itemStartDate paymentMethods pickupCountry pickupPostalCode pickupRadius pickupRadiusUnit price priceCurrency maxDeliveryCost (free shipping) returnsAccepted sellerAccountTypes sellers For implementation help, refer to eBay API documentation at https://developer.ebay.com/devzone/rest/api-ref/browse/types/FilterField.html'
          in: query
          name: filter
          required: false
          type: string
        - description: 'This field lets you search by GTIN (other Global Trade Item Number) or UPC (Universal Product Code) value. &nbsp;&nbsp;&nbsp;/buy/browse/v1/item_summary/search?gtin:{099482432621} Maximum: 1 Required: The call must have category_ids, epid, gtin, or q (or any combination of these)'
          in: query
          name: gtin
          required: false
          type: string
        - description: 'The number of items in a result set. Default: 50 Maximum per result set: 200 Maximum number of items returned: 10,000'
          in: query
          name: limit
          required: false
          type: string
        - description: 'The number of items to skip in the result set. This is used with the limit field to control the pagination of the output. If offset is 0 and limit is 10, the call will retrieve items 1-10 from the list of items returned, if offset is 10 and limit is 10, the call will retrieve items 11 thru 20 from the list of items returned. Default: 0'
          in: query
          name: offset
          required: false
          type: string
        - description: 'A string consisting of one or more words that are used for a search of items on eBay. For example: &quot;iphone&quot; or &quot;Harry Potter&quot;. When keywords are separated by a comma, the comma is ignored. So a keyword of &quot;iphone, ipad&quot; is the same as using &quot;iphone ipad&quot;. Both queries return items that have iphone or ipad. Restriction: The * wildcard character is not allowed in this field. Required: The call must have category_ids, epid, gtin, or q (or any combination of these)'
          in: query
          name: q
          required: false
          type: string
        - description: 'Specifies the order and the field name to use to sort the items. To sort in descending order use - before the field name. Currently, you can only sort by price (in ascending or descending order), or by distance (only applicable if the local pickup filters are used, and only ascending order is supported). If no sort parameter is submitted, the result set is sorted by &quot;Best Match&quot;. The following are examples of using the sort query parameter. Sort Result &amp;sort=price sorts by price in ascending order (lowest price first) &amp;sort=-price sorts by price in descending order (highest price first) &amp;sort=distance sorts by distance in ascending order (shortest distance first) Default: ascending For implementation help, refer to eBay API documentation at https://developer.ebay.com/devzone/rest/api-ref/browse/types/SortField.html'
          in: query
          name: sort
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SearchPagedCollection'
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      security:
        - Client Credentials:
            - 'https://api.ebay.com/oauth/api_scope'
      summary: 'Searches for eBay items by keyword, category, eBay product Id (EPID), or gtin. Or a combination of these. It also lets you apply filters, sort the results, control the number of items returned per result set and the type of data to return; items, refinements, or both.'
      tags:
        - item_summary
definitions:
  Address:
    description: The type that defines the fields for an address.
    properties:
      addressLine1:
        description: The first line of the street address.
        type: string
      addressLine2:
        description: 'The second line of the street address. This field is not always used, but can be used for ''Suite Number'' or ''Apt Number''.'
        type: string
      city:
        description: The city of the address.
        type: string
      country:
        description: 'The three-letter ISO 3166-1 standard of the country of the address. For implementation help, refer to <a href=''https://developer.ebay.com/devzone/rest/api-ref/browse/types/CountryCodeEnum.html''>eBay API documentation</a>'
        type: string
      county:
        description: The county of the address.
        type: string
      postalCode:
        description: The postal code of the address.
        type: string
      stateOrProvince:
        description: The state or province of the address.
        type: string
    type: object
  AspectDistribution:
    description: 'The type that define the fields for the aspect information. Aspects are the variations of an item, such as color, size, etc.'
    properties:
      aspectValueDistributions:
        description: An array of containers for the various values of the aspect and the match count and a HATEOAS reference ( refinementHref) for this aspect.
        items:
          $ref: '#/definitions/AspectValueDistribution'
        type: array
      localizedAspectName:
        description: 'Name of an aspect, such as Brand, Color, etc.'
        type: string
    type: object
  AspectValueDistribution:
    description: The container that defines the fields for the conditions refinements. This container is returned when <b> fieldgroups</b> is set to <code>ASPECT_REFINEMENTS</code> or <code>FULL</code> in the request.
    properties:
      localizedAspectValue:
        description: 'The value of an aspect. For example, Red is a value for the aspect Color.'
        type: string
      matchCount:
        description: The number of items with this aspect.
        type: integer
      refinementHref:
        description: The URI of the aspect.
        type: string
    type: object
  BuyingOptionDistribution:
    description: The container that defines the fields for the buying options refinements. This container is returned when <b> fieldgroups</b> is set to <code>BUYING_OPTION_REFINEMENTS</code> or <code>FULL</code> in the request.
    properties:
      buyingOption:
        description: Buying option type. This will be either AUCTION or FIXED_PRICE.
        type: string
      matchCount:
        description: The number of items having this buying option.
        type: integer
      refinementHref:
        description: The URI of the buying option.
        type: string
    type: object
  Category:
    description: 'This type is used by the <b> categories</b>  container in the response of the <b> search</b>  call, and consists of the primary listing category ID of the item (as well as secondary listing category if item was listed in two categories).'
    properties:
      categoryId:
        description: The unique identifier of the primary listing category of the item (as well as secondary listing category if item was listed in two categories).
        type: string
    type: object
  CategoryDistribution:
    description: The container that defines the fields for the category refinements. This container is returned when <b> fieldgroups</b> is set to <code>CATEGORY_REFINEMENTS</code> or <code>FULL</code> in the request.
    properties:
      categoryId:
        description: The identifier of the category.
        type: string
      categoryName:
        description: 'The name of the category, such as Baby &amp; Toddler Clothing.'
        type: string
      matchCount:
        description: The number of items having the in this category.
        type: integer
      refinementHref:
        description: The URI of the category.
        type: string
    type: object
  CommonDescriptions:
    description: 'The type that defines the fields for the item Ids that all use a common description and that description.  Often the item variations within an item group all have the same description. Instead of repeating this description in the item details of each item, a description that is shared by at least one other item is returned in this container. If the description is unique, it is returned in the <b> items.description</b> field.'
    properties:
      description:
        description: The item description that is used by more than one of the item variations.
        type: string
      itemIds:
        description: A list of item Ids that have this description.
        items:
          type: string
        type: array
    type: object
  ConditionDistribution:
    description: The container that defines the fields for the conditions refinements. This container is returned when <b> fieldgroups</b> is set to <code>CONDITION_REFINEMENTS</code> or <code>FULL</code> in the request.
    properties:
      condition:
        description: The name of the condition.
        type: string
      conditionId:
        description: 'The identifier of the condition. For example, 1000 is the identifier for NEW.'
        type: string
      matchCount:
        description: The number of items having the condition.
        type: integer
      refinementHref:
        description: The URI of the condition.
        type: string
    type: object
  ConvertedAmount:
    description: The type that defines the fields for a monetary value and the conversion of the value into another currency.
    properties:
      convertedFromCurrency:
        description: 'A three-letter ISO 4217 code that indicates the currency of the amount in the convertedFromValue field. This value is required or returned only if currency conversion/localization is required, and represents the pre-conversion currency. For implementation help, refer to <a href=''https://developer.ebay.com/devzone/rest/api-ref/browse/types/CurrencyCodeEnum.html''>eBay API documentation</a>'
        type: string
      convertedFromValue:
        description: 'The monetary amount before any conversion is performed, in the currency specified by the convertedFromCurrency field. This value is required or returned only if currency conversion/localization is required. The value field contains the converted amount of this value, in the currency specified by the currency field.'
        type: string
      currency:
        description: 'A three-letter ISO 4217 code that indicates the currency of the amount in the value field. If currency conversion/localization is required, this is the post-conversion currency of the amount in the value field. Default: The currency of the user''s country. For implementation help, refer to <a href=''https://developer.ebay.com/devzone/rest/api-ref/browse/types/CurrencyCodeEnum.html''>eBay API documentation</a>'
        type: string
      value:
        description: The dollar value of the currency specified in the currency field. The value of currency defaults to the standard currency used by the country of the eBay site offering the item.
        type: string
    type: object
  Error:
    description: The type that defines the fields that can be returned in an error.
    properties:
      category:
        description: 'This string value indicates the error category. There are three categories of errors: request errors, application errors, and system errors.'
        type: string
      domain:
        description: The name of the primary system where the error occurred. This is relevant for application errors.
        type: string
      errorId:
        description: A unique code that identifies the particular error or warning that occurred. Your application can use error codes as identifiers in your customized error-handling algorithms.
        type: integer
      inputRefIds:
        description: 'An array of reference Ids that identify the specific request elements most closely associated to the error or warning, if any.'
        items:
          type: string
        type: array
      longMessage:
        description: 'A detailed description of the condition that caused the error or warning, and information on what to do to correct the problem.'
        type: string
      message:
        description: A description of the condition that caused the error or warning.
        type: string
      outputRefIds:
        description: 'An array of reference Ids that identify the specific response elements most closely associated to the error or warning, if any.'
        items:
          type: string
        type: array
      parameters:
        description: An array of warning and error messages that return one or more variables contextual information about the error or warning. This is often the field or value that triggered the error or warning.
        items:
          $ref: '#/definitions/ErrorParameter'
        type: array
      subdomain:
        description: The name of the subdomain in which the error or warning occurred.
        type: string
    type: object
  ErrorParameter:
    description: An array of name/value pairs that provide more details regarding error condition.
    properties:
      name:
        description: This is the name of input field that caused an issue with the call request.
        type: string
      value:
        description: This is the actual value that was passed in for the element specified in the name field.
        type: string
    type: object
  EstimatedAvailability:
    description: The type that defines the fields for the estimated item availability information.
    properties:
      availabilityThreshold:
        description: The 'display item quantity' threshold the seller has set.
        type: integer
      availabilityThresholdType:
        description: 'Only returns MORE_THAN, which indicates that there are more than the seller''s item quantity display preference in stock of this item. This field depends on how the seller has set their item quantity display preference. Let''s say the following are the quantity display preferences the seller can choose between. Display &quot;More than 10 available&quot; in your listing (if applicable) If the seller enables this preference, this field is returned as long as there are more than 10 in inventory of this item. If the quantity is equal to 10 or drops below 10, this field is not returned and the actual quantity of the item is returned in the estimatedAvailableQuantity field. Display the exact quantity in your listings If the seller enables this preference, the actual quantity of the item is always returned in the estimatedAvailableQuantity field. For implementation help, refer to <a href=''https://developer.ebay.com/devzone/rest/api-ref/browse/types/AvailabilityThresholdEnum.html''>eBay API documentation</a>'
        type: string
      deliveryOptions:
        description: A list of available delivery options.
        items:
          description: ' For implementation help, refer to <a href=''https://developer.ebay.com/devzone/rest/api-ref/browse/types/DeliveryOptionsEnum.html''>eBay API documentation</a>'
          type: string
        type: array
      estimatedAvailabilityStatus:
        description: 'Indicates the availability of this item. For implementation help, refer to <a href=''https://developer.ebay.com/devzone/rest/api-ref/browse/types/AvailabilityStatusEnum.html''>eBay API documentation</a>'
        type: string
      estimatedAvailableQuantity:
        description: The estimated number of a specific item that are available for purchase.
        type: integer
      estimatedSoldQuantity:
        description: The estimated number of a specific item that have been sold.
        type: integer
    type: object
  Image:
    description: 'The type that defines the details of an image, such as size and URL. Currently only <b> imageUrl</b> is getting populated. The <b> height</b> and <b> width</b> were added for future use.'
    properties:
      height:
        description: Reserved for future use.
        type: integer
      imageUrl:
        description: The URL of the primary image of the item.
        type: string
      width:
        description: Reserved for future use.
        type: integer
    type: object
  Item:
    description: Type that defines the fields for the item details for a specific item.
    properties:
      additionalImages:
        description: An array of containers with the URLs for the images that are in addition to the primary image. The primary image is returned in the image field.
        items:
          $ref: '#/definitions/Image'
        type: array
      ageGroup:
        description: '(Primary Item Aspect) The age group for which the product is recommended. For example, newborn, infant, toddler, kids, adult, etc. All the item aspects, including this aspect, are returned in the localizedAspects container.'
        type: string
      bidCount:
        description: This integer value indicates the total number of bids that have been placed against an auction item. This field is returned only for auction listings.
        type: integer
      brand:
        description: '(Primary Item Aspect) The name brand of the item, such as Nike, Apple, etc. All the item aspects, including this aspect, are returned in the localizedAspects container.'
        type: string
      buyingOptions:
        description: 'Indicates the listing type of the item, such as FIXED PRICE.'
        items:
          type: string
        type: array
      categoryPath:
        description: 'Text that shows the category hierarchy of the item. For example: Computers/Tablets &amp; Networking, Laptops &amp; Netbooks, PC Laptops &amp; Netbooks'
        type: string
      color:
        description: '(Primary Item Aspect) Text describing the color of the item. All the item aspects, including this aspect, are returned in the localizedAspects container.'
        type: string
      condition:
        description: 'The condition of the item, such as New or Used.'
        type: string
      conditionId:
        description: 'The identifier of the condition. For example, 1000 is the identifier for NEW.'
        type: string
      currentBidPrice:
        $ref: '#/definitions/ConvertedAmount'
      description:
        description: The full description of the item that was created by the seller. This can be plain text or rich content.
        type: string
      energyEfficiencyClass:
        description: 'Indicates the European energy efficiency rating (EEK) of the item. This field is returned only if the seller specified the energy efficiency rating. The rating is a set of energy efficiency classes from A to G, where ''A'' is the most energy efficient and ''G'' is the least efficient. This rating helps buyers choose between various models. When the manufacturer''s specifications for this item are available, the link to this information is returned in the productFicheWebUrl field.'
        type: string
      epid:
        description: An EPID is the eBay product identifier of a product from the eBay product catalog. This indicates the product in which the item belongs.
        type: string
      estimatedAvailabilities:
        description: The container that returns the item availability information.
        items:
          $ref: '#/definitions/EstimatedAvailability'
        type: array
      gender:
        description: '(Primary Item Aspect) The gender for the item. This is used for items that could vary by gender, such as clothing. For example: male, female, or unisex. All the item aspects, including this aspect, are returned in the localizedAspects container.'
        type: string
      gtin:
        description: 'The unique Global Trade Item, (UPC, ISBN, EAN) number of the item as defined by http://www.gtin.info.'
        type: string
      image:
        $ref: '#/definitions/Image'
      itemAffiliateWebUrl:
        description: 'The URL of the View Item page of the item, which includes the affiliate tracking ID. This field is only returned if the seller enables affiliate tracking for the listing by including the X-EBAY-C-ENDUSERCTX request header in the call.'
        type: string
      itemEndDate:
        description: 'The date and time up to which the item(s) can be purchased. This value is returned in UTC format (yyyy-MM-ddThh:mm:ss.sssZ), which you can convert into the local time of the buyer.'
        type: string
      itemId:
        description: 'The unique identifier of the item. Example: v1|150006693022|450002439078'
        type: string
      itemLocation:
        $ref: '#/definitions/Address'
      itemWebUrl:
        description: The URL of the View Item page of the item.
        type: string
      localizedAspects:
        description: An array of containers for the complete list of the name/value pairs that describe the variation of the item.
        items:
          $ref: '#/definitions/TypedNameValue'
        type: array
      marketingPrice:
        $ref: '#/definitions/MarketingPrice'
      material:
        description: '(Primary Item Aspect) Text describing what the item is made of. For example, silk. All the item aspects, including this aspect, are returned in the localizedAspects container.'
        type: string
      mpn:
        description: 'The manufacturer''s part number, which is a unique number that identifies a specific product.'
        type: string
      pattern:
        description: '(Primary Item Aspect) Text describing the pattern used on the item. For example, paisley. All the item aspects, including this aspect, are returned in the localizedAspects container.'
        type: string
      price:
        $ref: '#/definitions/ConvertedAmount'
      priceDisplayCondition:
        description: 'This enumeration value indicates how item price is displayed. For some items, the prices are so low that they can only be shown to the buyer after they add the item to the cart. For implementation help, refer to <a href=''https://developer.ebay.com/devzone/rest/api-ref/browse/types/PriceDisplayConditionEnum.html''>eBay API documentation</a>'
        type: string
      primaryItemGroup:
        $ref: '#/definitions/ItemGroupSummary'
      primaryProductReviewRating:
        $ref: '#/definitions/ReviewRating'
      productFicheWebUrl:
        description: 'The URL of a page containing the manufacture''s specification of this item, which helps buyers make a purchasing decision. This information is available only for items that include the European energy efficiency rating (EEK) but is not available for all items with an EEK rating. This field is returned only if this information is available. The EEK rating of the item is returned in the energyEfficiencyClass field.'
        type: string
      quantityLimitPerBuyer:
        description: The maximum number for a specific item that one buyer can purchase.
        type: integer
      returnTerms:
        $ref: '#/definitions/ItemReturnTerms'
      seller:
        $ref: '#/definitions/Seller'
      shipToLocations:
        $ref: '#/definitions/ShipToLocations'
      shippingOptions:
        description: 'An array of shipping options containers that have the details about cost, carrier, etc. of one shipping option.'
        items:
          $ref: '#/definitions/ShippingOption'
        type: array
      shortDescription:
        description: A snippet of the full description of the item in plain text.
        type: string
      size:
        description: '(Primary Item Aspect) The size of the item. For example, ''7'' for a size 7 shoe. All the item aspects, including this aspect, are returned in the localizedAspects container.'
        type: string
      sizeSystem:
        description: '(Primary Item Aspect) The sizing system of the country. All the item aspects, including this aspect, are returned in the localizedAspects container. Valid Values: &nbsp;&nbsp;US &nbsp;&nbsp;UK &nbsp;&nbsp;EU &nbsp;&nbsp;DE &nbsp;&nbsp;FR &nbsp;&nbsp;JP &nbsp;&nbsp;CN (China) &nbsp;&nbsp;IT &nbsp;&nbsp;BR &nbsp;&nbsp;MEX &nbsp;&nbsp;AU Code so that your app gracefully handles any future changes to this list.'
        type: string
      sizeType:
        description: '(Primary Item Aspect) Text describing a size group in which the item would be included, such as regular, petite, plus, big-and-tall or maternity. All the item aspects, including this aspect, are returned in the localizedAspects container.'
        type: string
      subtitle:
        description: An additional shorten title for the item that is created by the seller.
        type: string
      taxes:
        description: The container for the tax information for item.
        items:
          $ref: '#/definitions/Taxes'
        type: array
      title:
        description: The seller-created title of the item.
        type: string
      topRatedBuyingExperience:
        description: 'This boolean field is returned as true for top-rated listings. As a buyer, three things that you get from a top-rated listing is a 30-day or longer return policy, same-day or 1-day handling time, and the added comfort of knowing that you are purchasing an item from a top-rated seller. See the Becoming a Top Rated Seller and qualifying for Top Rated Plus help topic for more information about Top Rated Seller and Top Rated Plus listing requirements.'
        type: boolean
      uniqueBidderCount:
        description: This integer value indicates the number of different eBay users who have placed one or more bids on an auction item. This field is only applicable to auction listings.
        type: integer
      warnings:
        description: An array of warning messages. These type of errors do not prevent the call from executing but should be checked.
        items:
          $ref: '#/definitions/Error'
        type: array
    type: object
  ItemGroupSummary:
    description: 'The type that defines the fields for the details of each item in an item group. An item group is  an item that has various aspect differences, such as color, size, storage capacity, etc. <br /><br /><span class="tablenote"><b> Note: </b> This container is returned only if the <b> item_id</b> in the request is an item group (parent Id of an item with variations).'
    properties:
      itemGroupAdditionalImages:
        description: An array of containers with the URLs for images that are in addition to the primary image of the item group The primary image is returned in the itemGroupImage field.
        items:
          $ref: '#/definitions/Image'
        type: array
      itemGroupHref:
        description: The URI of the item group.
        type: string
      itemGroupId:
        description: The unique identifier for the item group.
        type: string
      itemGroupImage:
        $ref: '#/definitions/Image'
      itemGroupTitle:
        description: The title of the item that appears on the item group page.
        type: string
      itemGroupType:
        description: 'Indicates the type of the group. For implementation help, refer to <a href=''https://developer.ebay.com/devzone/rest/api-ref/browse/types/ItemGroupTypeEnum.html''>eBay API documentation</a>'
        type: string
    type: object
  ItemLocationImpl:
    description: 'This type is used by the <b> itemLocation</b>  container, which provides location information for the item.'
    properties:
      addressLine1:
        description: The first line of the street address.
        type: string
      addressLine2:
        description: The second line of the street address. This field may contain such values as an apartment or suite number.
        type: string
      city:
        description: The city in which the item is located.
        type: string
      country:
        description: 'The country in which the item is located. These values are two-digit codes defined by the ISO 3166-1 alpha-2 standard, and also shown in the CountryCodeEnum type. For implementation help, refer to <a href=''https://developer.ebay.com/devzone/rest/api-ref/browse/types/CountryCodeEnum.html''>eBay API documentation</a>'
        type: string
      county:
        description: The county in which the item is located.
        type: string
      postalCode:
        description: The postal code (or zip code in US) where the item is located.
        type: string
      stateOrProvince:
        description: The state or province in which the item is located.
        type: string
    type: object
  ItemReturnTerms:
    description: The type that defines the fields for the seller's return policy.
    properties:
      extendedHolidayReturnsOffered:
        description: 'Indicates if the seller has enabled the Extended Holiday Returns feature on the item. Extended Holiday Returns are only applicable during the US holiday season, and gives buyers extra time to return an item. This ''extra time'' will typically extend beyond what is set through the returnPeriod value.'
        type: boolean
      refundMethod:
        description: 'This enumeration value indicates how a buyer is refunded when an item is returned. For implementation help, refer to <a href=''https://developer.ebay.com/devzone/rest/api-ref/browse/types/RefundMethodEnum.html''>eBay API documentation</a>'
        type: string
      restockingFeePercentage:
        description: 'This string field indicates the restocking fee percentage that the seller has set on the item. Sellers have the option of setting no restocking fee for an item, or they can set the percentage to 10, 15, or 20 percent. So, if the cost of the item was $100, and the restocking percentage was 20 percent, the buyer would be charged $20 to return that item, so instead of receiving a $100 refund, they would received $80 due to the restocking fee.'
        type: string
      returnInstructions:
        description: Text written by the seller describing what the buyer should to do in order to return the item.
        type: string
      returnMethod:
        description: 'This field is returned if the seller offers the buyer an item replacement or exchange instead of a monetary refund. For implementation help, refer to <a href=''https://developer.ebay.com/devzone/rest/api-ref/browse/types/ReturnMethodEnum.html''>eBay API documentation</a>'
        type: string
      returnPeriod:
        $ref: '#/definitions/TimeDuration'
      returnShippingCostPayer:
        description: 'This enumeration value indicates whether the buyer or seller is responsible for return shipping costs when an item is returned. For implementation help, refer to <a href=''https://developer.ebay.com/devzone/rest/api-ref/browse/types/ReturnShippingCostPayerEnum.html''>eBay API documentation</a>'
        type: string
      returnsAccepted:
        description: Indicates whether or not the seller accepts returns for the item.
        type: boolean
    type: object
  ItemSummary:
    description: The type that defines the item details for a specific item.
    properties:
      additionalImages:
        description: This container is an array of URLs for Gallery Plus images of the item listing.
        items:
          $ref: '#/definitions/Image'
        type: array
      bidCount:
        description: This integer value indicates the total number of bids that have been placed for an auction item. This field is only returned for auction listings.
        type: integer
      buyingOptions:
        description: 'The value returned in this field indicates the buying option for the item. FIXED_PRICE is returned for basic fixed-price listings, AUCTION is returned for auction listings without Buy It Now feature, and both FIXED_PRICE and AUCTION are returned for auction listings enabled with the Buy It Now feature.'
        items:
          type: string
        type: array
      categories:
        description: This container consists of the primary listing category ID of the item (as well as secondary listing category if item was listed in two categories).
        items:
          $ref: '#/definitions/Category'
        type: array
      condition:
        description: 'The condition of the item, such as New or Used.'
        type: string
      conditionId:
        description: 'The identifier of the condition. For example, 1000 is the identifier for NEW.'
        type: string
      currentBidPrice:
        $ref: '#/definitions/ConvertedAmount'
      distanceFromPickupLocation:
        $ref: '#/definitions/TargetLocation'
      energyEfficiencyClass:
        description: 'The value returned in this field indicates the energy efficiency rating of the item. Energy efficiency ratings apply to products listed by commercial vendors in electronics categories only. Currently, this field is only applicable for the Germany site, and this field is only returned if the seller specified the energy efficiency rating through item specifics at listing time. Rating values include A+++, A++, A+, A, B, C, D, E, F, and G.'
        type: string
      epid:
        description: An EPID is the eBay product identifier of a product from the eBay product catalog. This indicates the product in which the item belongs.
        type: string
      image:
        $ref: '#/definitions/Image'
      itemAffiliateWebUrl:
        description: 'The URL to the View Item page of the item, which includes the affiliate tracking ID. This field is only returned if the seller enables affiliate tracking for the listing by including the X-EBAY-C-ENDUSERCTX request header in the call.'
        type: string
      itemGroupHref:
        description: 'The URI of the parent page of a group of items with varying aspects. Note: This field is returned only for item groups.'
        type: string
      itemGroupType:
        description: 'Indicates the item group type. Currently only SELLER_DEFINED_VARIATIONS is supported and indicates this is an item group created by the seller. Note: This field is returned only for item groups.'
        type: string
      itemHref:
        description: The URI of the item. This field is always populated.
        type: string
      itemId:
        description: 'The unique identifier of the item. For example: v1|150006693022|450002439078'
        type: string
      itemLocation:
        $ref: '#/definitions/ItemLocationImpl'
      itemWebUrl:
        description: The URL to the View Item page of the item.
        type: string
      marketingPrice:
        $ref: '#/definitions/MarketingPrice'
      pickupOptions:
        description: This container lists the local pickup options available to the buyer. This container is only returned if the user is searching for local pickup items and set the local pickup filters in the call request.
        items:
          $ref: '#/definitions/PickupOptionSummary'
        type: array
      price:
        $ref: '#/definitions/ConvertedAmount'
      seller:
        $ref: '#/definitions/Seller_0'
      shippingOptions:
        description: This container returns the shipping options available to ship the item.
        items:
          $ref: '#/definitions/ShippingOptionSummary'
        type: array
      thumbnailImages:
        description: 'This container is an array of thumbnail images for the item. For each image, the URL to the image is given.'
        items:
          $ref: '#/definitions/Image'
        type: array
      title:
        description: The seller-created title of the item. The maximum length is 80 characters.
        type: string
    type: object
  Items:
    description: The type that defines the fields for the item details.
    properties:
      commonDescriptions:
        description: 'An array of containers for a description and the item Ids of all the items that have this exact description. Often the item variations within an item group all have the same description. Instead of repeating this description in the item details of each item, an description that is shared by at one other item is returned in this container. If the description is unique, it is returned in the items.description field.'
        items:
          $ref: '#/definitions/CommonDescriptions'
        type: array
      items:
        description: 'An array of containers for all the item variations details, excluding the description.'
        items:
          $ref: '#/definitions/Item'
        type: array
    type: object
  LegalAddress:
    description: Type that defines the fields for the seller's address.
    properties:
      addressLine1:
        description: The first line of the street address.
        type: string
      addressLine2:
        description: 'The second line of the street address. This field is not always used, but can be used for ''Suite Number'' or ''Apt Number''.'
        type: string
      city:
        description: The city of the address.
        type: string
      country:
        description: 'The three-letter ISO 3166-1 standard of the country of the address. For implementation help, refer to <a href=''https://developer.ebay.com/devzone/rest/api-ref/browse/types/CountryCodeEnum.html''>eBay API documentation</a>'
        type: string
      countryName:
        description: The name of the country of the address.
        type: string
      county:
        description: The name of the county of the address.
        type: string
      postalCode:
        description: The postal code of the address.
        type: string
      stateOrProvince:
        description: The state or province of the address.
        type: string
    type: object
  MarketingPrice:
    description: The type that defines the fields that describe a seller discount.
    properties:
      discountAmount:
        $ref: '#/definitions/ConvertedAmount'
      discountPercentage:
        description: This field expresses the percentage of the seller discount based on the value in the originalPrice container.
        type: string
      originalPrice:
        $ref: '#/definitions/ConvertedAmount'
    type: object
  PickupOptionSummary:
    description: The type that defines the fields for the local pickup options that are available for the item. It is used by the <b>  pickupOptions</b>  container.
    properties:
      pickupLocationType:
        description: This container returns the local pickup options available to the buyer. Possible values are ARRANGED_LOCATION and STORE.
        type: string
    type: object
  RatingHistogram:
    description: The type that defines the fields for product ratings. Only products that are in the eBay product catalog can be reviewed and rated.
    properties:
      count:
        description: The total number of user ratings that the product has received.
        type: integer
      rating:
        description: 'This is the average rating for the product. As part of a product review, users rate the product. Products are rated from one star (terrible) to five stars (excellent), with each star having a corresponding point value - one star gets 1 point, two stars get 2 points, and so on. If a product had one four-star rating and one five-star rating, its average rating would be 4.5, and this is the value that would appear in this field.'
        type: string
    type: object
  Refinement:
    description: 'This type defines the fields for the various refinements of an item. You can use the information in this contain to create histograms, which help shopper choose exactly what they want.'
    properties:
      aspectDistributions:
        description: A array of containers for the all the aspect refinements.
        items:
          $ref: '#/definitions/AspectDistribution'
        type: array
      buyingOptionDistributions:
        description: A array of containers for the all the buying option refinements.
        items:
          $ref: '#/definitions/BuyingOptionDistribution'
        type: array
      categoryDistributions:
        description: A array of containers for the all the category refinements.
        items:
          $ref: '#/definitions/CategoryDistribution'
        type: array
      conditionDistributions:
        description: A array of containers for the all the condition refinements.
        items:
          $ref: '#/definitions/ConditionDistribution'
        type: array
      dominantCategoryId:
        description: The identifier of the category that most of the items are part of.
        type: string
    type: object
  Region:
    description: The type that defines information for a region.
    properties:
      regionName:
        description: 'A free-form text string that indicates the name of the region. This value can be the name of a world region (such as the &quot;Middle East&quot; or &quot;Southeast Asia&quot;), a country, or a domestic region within a country (such as &quot;Alaska/Hawaii&quot; or &quot;US Protectorates&quot;) depending on the value of regionType. This value should be WORLDWIDE if the regionType value is WORLDWIDE.'
        type: string
      regionType:
        description: 'Indicates the type of region. For implementation help, refer to <a href=''https://developer.ebay.com/devzone/rest/api-ref/browse/types/RegionTypeEnum.html''>eBay API documentation</a>'
        type: string
    type: object
  ReviewRating:
    description: The type that defines the fields for the rating of a product review.
    properties:
      averageRating:
        description: The average rating given to a product based on customer reviews.
        type: string
      ratingHistograms:
        description: An array of containers for the product rating histograms that shows the review counts and the product rating.
        items:
          $ref: '#/definitions/RatingHistogram'
        type: array
      reviewCount:
        description: The total number of reviews for the item.
        type: integer
    type: object
  SearchPagedCollection:
    description: 'The type that defines the settings that paginate the result sets. The response consists of 0 or more sequenced <i> result sets</i> where each result sets has 0 or more items. '
    properties:
      href:
        description: 'The URI of the current result set. For example: https://api.ebay.com/buy/v1/item/search?q=shirt&amp;price=[20..80]&amp;limit=5 This query is for a shirt, that is priced between 20 and 80 dollars and limit the response to 5 items.'
        type: string
      itemSummaries:
        description: An array of items in one result set. The items are sorted according to the sorting method specified in the request.
        items:
          $ref: '#/definitions/ItemSummary'
        type: array
      limit:
        description: The maximum number of items that can be returned in a result set. The limit value is set in the request.
        type: integer
      next:
        description: 'The URL for the next result set. This is returned if there is a next result set. The following example returns items 11 thru 20 from the list of items. https://api.ebay.com/buy/v1/item/search?query=t-shirts&amp;limit=10&amp;offset=10'
        type: string
      offset:
        description: 'This value indicates the current ''page'' of items being displayed. This value is 0 for the first page of data, 1 for the second page of data, and so on.'
        type: integer
      prev:
        description: 'The URL for the previous result set. This is returned if there is a previous result set. The following example returns items 1 thru 10 from the list of items. https://api.ebay.com/buy/v1/item/search?query=t-shirts&amp;limit=10&amp;offset=1'
        type: string
      refinement:
        $ref: '#/definitions/Refinement'
      total:
        description: The total number of items that match the input criteria.
        type: integer
      warnings:
        description: The container with all the warnings for the input request.
        items:
          $ref: '#/definitions/Error'
        type: array
    type: object
  Seller:
    description: The type that defines the fields for basic and detailed information about the seller of the item returned by the <b> item</b> resource.
    properties:
      feedbackPercentage:
        description: The seller's percentage of positive feedback.
        type: string
      feedbackScore:
        description: 'The seller''s feedback score, which is based on buyer ratings.'
        type: integer
      sellerAccountType:
        description: 'Indicates if the seller is a business or an individual. This is determined when the seller registers with eBay. If they register for a business account, this value will be BUSINESS. If they register for a private account, this value will be INDIVIDUAL. This designation is required by the tax laws in some countries. This field is returned only on the following sites. EBAY-AT &nbsp;&nbsp;&nbsp;EBAY-BE &nbsp;&nbsp;&nbsp;EBAY-CH &nbsp;&nbsp;&nbsp;EBAY-DE &nbsp;&nbsp;&nbsp;EBAY-ES &nbsp;&nbsp;&nbsp;EBAY-FR &nbsp;&nbsp;&nbsp;EBAY-GB &nbsp;&nbsp;&nbsp;EBAY-IE &nbsp;&nbsp;&nbsp; EBAY-IT &nbsp;&nbsp;&nbsp;EBAY-PL Valid values: BUSINESS INDIVIDUALCode so that your app gracefully handles any future changes to this list.'
        type: string
      sellerLegalInfo:
        $ref: '#/definitions/SellerLegalInfo'
      username:
        description: The user name created by the seller for use on eBay.
        type: string
    type: object
  SellerLegalInfo:
    description: The type that defines the fields for the contact information for a seller.
    properties:
      email:
        description: The seller's business email address.
        type: string
      fax:
        description: The seller' business fax number.
        type: string
      imprint:
        description: 'This is a free-form string created by the seller. This is information often found on business cards, such as address. This is information used by some countries.'
        type: string
      legalContactFirstName:
        description: The seller's first name.
        type: string
      legalContactLastName:
        description: The seller's last name.
        type: string
      name:
        description: The name of the seller's business.
        type: string
      phone:
        description: The seller's business phone number.
        type: string
      registrationNumber:
        description: The seller's registration number. This is information used by some countries.
        type: string
      sellerProvidedLegalAddress:
        $ref: '#/definitions/LegalAddress'
      termsOfService:
        description: 'This is a free-form string created by the seller. This is the seller''s terms or condition, which is in addition to the seller''s return policies.'
        type: string
      vatDetails:
        description: An array of the seller's VAT (value added tax) Ids and the issuing country. VAT is a tax added by some European countries.
        items:
          $ref: '#/definitions/VatDetail'
        type: array
    type: object
  Seller_0:
    description: The type that defines the fields for basic information about the seller of the item returned by the <b> item_summary</b> resource.
    properties:
      feedbackPercentage:
        description: The seller's percentage of positive feedback.
        type: string
      feedbackScore:
        description: 'The seller''s feedback score, which is based on buyer ratings.'
        type: integer
      sellerAccountType:
        description: 'Indicates if the seller is a business or an individual. This is determined when the seller registers with eBay. If they register for a business account, this value will be BUSINESS. If they register for a private account, this value will be INDIVIDUAL. This designation is required by the tax laws in some countries. This field is returned only on the following sites. This field is returned only on the following sites. EBAY-AT &nbsp;&nbsp;&nbsp;EBAY-BE &nbsp;&nbsp;&nbsp;EBAY-CH &nbsp;&nbsp;&nbsp;EBAY-DE &nbsp;&nbsp;&nbsp;EBAY-ES &nbsp;&nbsp;&nbsp;EBAY-FR &nbsp;&nbsp;&nbsp;EBAY-GB &nbsp;&nbsp;&nbsp;EBAY-IE &nbsp;&nbsp;&nbsp; EBAY-IT &nbsp;&nbsp;&nbsp;EBAY-PL Valid values: BUSINESS INDIVIDUALCode so that your app gracefully handles any future changes to this list.'
        type: string
      username:
        description: The user name created by the seller for use on eBay.
        type: string
    type: object
  ShipToLocation:
    description: The type that defines the fields for the country and postal code of where an item is to be shipped.
    properties:
      country:
        description: 'The three-letter ISO 3166-1 standard of the country for where the item is to be shipped. For implementation help, refer to <a href=''https://developer.ebay.com/devzone/rest/api-ref/browse/types/CountryCodeEnum.html''>eBay API documentation</a>'
        type: string
      postalCode:
        description: The zip code (postal code) for where the item is to be shipped.
        type: string
    type: object
  ShipToLocations:
    description: The type that defines the fields that include and exclude geographic regions affecting where the item can be shipped. The seller defines these regions when listing the item.
    properties:
      regionExcluded:
        description: A array of containers for regions that are specifically excluded from a region set. You can use this to exclude a specific regionName from a regionType that you specifically include.
        items:
          $ref: '#/definitions/Region'
        type: array
      regionIncluded:
        description: A array of containers for regions that are specifically included in a region set. You can use this to exclude a specific regionName from a regionType that you specifically include.
        items:
          $ref: '#/definitions/Region'
        type: array
    type: object
  ShippingOption:
    description: The type that defines the fields for the details of a shipping provider.
    properties:
      additionalShippingCostPerUnit:
        $ref: '#/definitions/ConvertedAmount'
      cutOffDateUsedForEstimate:
        description: 'The deadline date that the item must be purchased by in order to be received by the buyer within the delivery window ( maxEstimatedDeliveryDate and minEstimatedDeliveryDate fields). This field is returned only for items that are eligible for ''Same Day Handling''. For these items, the value of this field is what is displayed in the Delivery line on the View Item page. This value is returned in UTC format (yyyy-MM-ddThh:mm:ss.sssZ), which you can convert into the local time of the buyer.'
        type: string
      maxEstimatedDeliveryDate:
        description: 'The end date of the delivery window (latest projected delivery date). This value is returned in UTC format (yyyy-MM-ddThh:mm:ss.sssZ), which you can convert into the local time of the buyer. Note: For the best accuracy, always include the contextualLocation values in the X-EBAY-C-ENDUSERCTX header.'
        type: string
      minEstimatedDeliveryDate:
        description: 'The start date of the delivery window (earliest projected delivery date). This value is returned in UTC format (yyyy-MM-ddThh:mm:ss.sssZ), which you can convert into the local time of the buyer. Note: For the best accuracy, always include the contextualLocation values in the X-EBAY-C-ENDUSERCTX header.'
        type: string
      quantityUsedForEstimate:
        description: The number of items used when calculating the estimation information.
        type: integer
      shipToLocationUsedForEstimate:
        $ref: '#/definitions/ShipToLocation'
      shippingCarrierCode:
        description: 'A name of the shipping provider, such as FedEx, or USPS.'
        type: string
      shippingCost:
        $ref: '#/definitions/ConvertedAmount'
      shippingCostType:
        description: 'Indicates the class of the shipping cost. Valid Values: Flat or Calculated. Code so that your app gracefully handles any future changes to this list.'
        type: string
      shippingServiceCode:
        description: 'The type of shipping service. For example, USPS First Class.'
        type: string
      trademarkSymbol:
        description: 'Any trademark symbol, such as &trade; or &reg;, that needs to be shown in superscript next to the shipping service name.'
        type: string
      type:
        description: 'The type of a shipping option, such as EXPEDITED, ONE_DAY, STANDARD, ECONOMY, PICKUP, etc.'
        type: string
    type: object
  ShippingOptionSummary:
    description: The type that defines the fields for the shipping information.
    properties:
      maxEstimatedDeliveryDate:
        description: 'The end date of the delivery window (latest projected delivery date). This value is returned in UTC format (yyyy-MM-ddThh:mm:ss.sssZ), which you can convert into the local time of the buyer.'
        type: string
      minEstimatedDeliveryDate:
        description: 'The start date of the delivery window (earliest projected delivery date). This value is returned in UTC format (yyyy-MM-ddThh:mm:ss.sssZ), which you can convert into the local time of the buyer.'
        type: string
      shippingCost:
        $ref: '#/definitions/ConvertedAmount'
      shippingCostType:
        description: This field indicates the type of shipping used to ship the item. Possible values are FIXED (flat-rate shipping) and CALCULATED (calculated shipping).
        type: string
    type: object
  TargetLocation:
    description: 'The type that defines the fields for the distance between the item location and the buyer''s location. '
    properties:
      unitOfMeasure:
        description: This value shows the unit of measurement used to measure the distance between the location of the item and the buyer's location. This value is typically mi or km.
        type: string
      value:
        description: This value indicates the distance (measured in the measurement unit in the unitOfMeasure field) between the item location and the buyer's location.
        type: string
    type: object
  TaxJurisdiction:
    description: The type that defines the fields for the tax jurisdiction details.
    properties:
      region:
        $ref: '#/definitions/Region'
      taxJurisdictionId:
        description: The identifier of the tax jurisdiction.
        type: string
    type: object
  Taxes:
    description: The type that defines the tax fields.
    properties:
      includedInPrice:
        description: Indicates if tax was applied for the cost of the item.
        type: boolean
      shippingAndHandlingTaxed:
        description: Indicates if tax is applied for the shipping cost.
        type: boolean
      taxJurisdiction:
        $ref: '#/definitions/TaxJurisdiction'
      taxPercentage:
        description: The percentage of tax.
        type: string
      taxType:
        description: 'Container that returns the tax type. For implementation help, refer to <a href=''https://developer.ebay.com/devzone/rest/api-ref/browse/types/TaxType.html''>eBay API documentation</a>'
        type: string
    type: object
  TimeDuration:
    description: The type that defines the fields for an amount of time.
    properties:
      unit:
        description: 'Indicates the period of time being used. For implementation help, refer to <a href=''https://developer.ebay.com/devzone/rest/api-ref/browse/types/TimeDurationUnitEnum.html''>eBay API documentation</a>'
        type: string
      value:
        description: 'Indicates the number of years, months, days, etc. in the defined period. If value is 30, and unit is DAY, the defined period is 30 days.'
        type: integer
    type: object
  TypedNameValue:
    description: The type that defines the fields for the name/value pairs for item aspects.
    properties:
      name:
        description: 'The text representing the name of the aspect for the name/value pair, such as Color.'
        type: string
      type:
        description: 'Indicates if the value being returned is a string or an array of values. For implementation help, refer to <a href=''https://developer.ebay.com/devzone/rest/api-ref/browse/types/ValueTypeEnum.html''>eBay API documentation</a>'
        type: string
      value:
        description: 'The value of the aspect for the name/value pair, such as Red.'
        type: string
    type: object
  VatDetail:
    description: The type the defines the fields for the VAT (value add tax) information.
    properties:
      issuingCountry:
        description: 'The three-letter ISO 3166-1 standard of the country issuing the seller''s VAT (value added tax) Id. VAT is a tax added by some European countries. For implementation help, refer to <a href=''https://developer.ebay.com/devzone/rest/api-ref/browse/types/CountryCodeEnum.html''>eBay API documentation</a>'
        type: string
      vatId:
        description: The seller's VAT (value added tax) Id. VAT is a tax added by some European countries.
        type: string
    type: object
