openapi: 3.0.3
servers:
  - url: https://api.github.com
info:
  contact:
    name: Support
    url: https://support.github.com
  description: GitHub's v3 REST API.
  license:
    name: MIT
    url: https://spdx.org/licenses/MIT
  termsOfService: https://docs.github.com/articles/github-terms-of-service
  title: GitHub v3 REST API
  version: 0.0.5
  x-apisguru-categories:
    - collaboration
    - developer_tools
  x-logo:
    url: https://twitter.com/github/profile_image?size=original
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/github/rest-api-description/main/descriptions/api.github.com/api.github.com.json
      version: "3.0"
  x-providerName: github.com
  x-preferred: true
externalDocs:
  description: GitHub v3 REST API
  url: https://developer.github.com/v3/
tags:
  - description: Endpoints to manage GitHub Actions using the REST API.
    name: actions
  - description: Activity APIs provide access to notifications, subscriptions, and timelines.
    name: activity
  - description: Information for integrations and installations.
    name: apps
  - description: Monitor charges and usage from Actions and Packages.
    name: billing
  - description: Rich interactions with checks run by your integrations.
    name: checks
  - description: Retrieve code scanning alerts from a repository.
    name: code-scanning
  - description: Insight into codes of conduct for your communities.
    name: codes-of-conduct
  - description: List emojis available to use on GitHub.
    name: emojis
  - description: View, modify your gists.
    name: gists
  - description: Raw Git functionality.
    name: git
  - description: View gitignore templates
    name: gitignore
  - description: Owner or admin management of users interactons.
    name: interactions
  - description: Interact with GitHub Issues.
    name: issues
  - description: View various OSS licenses.
    name: licenses
  - description: Render Github flavored markdown
    name: markdown
  - description: Endpoints that give information about the API.
    name: meta
  - description: Move projects to or from GitHub.
    name: migrations
  - description: Manage access of OAuth applications
    name: oauth-authorizations
  - description: Interact with GitHub Orgs.
    name: orgs
  - description: Interact with GitHub Projects.
    name: projects
  - description: Interact with GitHub Pull Requests.
    name: pulls
  - description: Check your current rate limit status
    name: rate-limit
  - description: Interact with reactions to various GitHub entities.
    name: reactions
  - description: Interact with GitHub Repos.
    name: repos
  - description: Provisioning of GitHub organization membership for SCIM-enabled providers.
    name: scim
  - description: Look for stuff on GitHub.
    name: search
  - description: Interact with GitHub Teams.
    name: teams
  - description: Interact with and view information about users and also current user.
    name: users
paths:
  /:
    get:
      description: Get Hypermedia links to resources accessible in GitHub's REST API
      operationId: meta/root
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  authorizations_url:
                    format: uri
                    type: string
                  code_search_url:
                    format: uri
                    type: string
                  commit_search_url:
                    format: uri
                    type: string
                  current_user_authorizations_html_url:
                    format: uri
                    type: string
                  current_user_repositories_url:
                    format: uri
                    type: string
                  current_user_url:
                    format: uri
                    type: string
                  emails_url:
                    format: uri
                    type: string
                  emojis_url:
                    format: uri
                    type: string
                  events_url:
                    format: uri
                    type: string
                  feeds_url:
                    format: uri
                    type: string
                  followers_url:
                    format: uri
                    type: string
                  following_url:
                    format: uri
                    type: string
                  gists_url:
                    format: uri
                    type: string
                  hub_url:
                    format: uri
                    type: string
                  issue_search_url:
                    format: uri
                    type: string
                  issues_url:
                    format: uri
                    type: string
                  keys_url:
                    format: uri
                    type: string
                  label_search_url:
                    format: uri
                    type: string
                  notifications_url:
                    format: uri
                    type: string
                  organization_repositories_url:
                    format: uri
                    type: string
                  organization_teams_url:
                    format: uri
                    type: string
                  organization_url:
                    format: uri
                    type: string
                  public_gists_url:
                    format: uri
                    type: string
                  rate_limit_url:
                    format: uri
                    type: string
                  repository_search_url:
                    format: uri
                    type: string
                  repository_url:
                    format: uri
                    type: string
                  starred_gists_url:
                    format: uri
                    type: string
                  starred_url:
                    format: uri
                    type: string
                  topic_search_url:
                    format: uri
                    type: string
                  user_organizations_url:
                    format: uri
                    type: string
                  user_repositories_url:
                    format: uri
                    type: string
                  user_search_url:
                    format: uri
                    type: string
                  user_url:
                    format: uri
                    type: string
                required:
                  - current_user_url
                  - current_user_authorizations_html_url
                  - authorizations_url
                  - code_search_url
                  - commit_search_url
                  - emails_url
                  - emojis_url
                  - events_url
                  - feeds_url
                  - followers_url
                  - following_url
                  - gists_url
                  - hub_url
                  - issue_search_url
                  - issues_url
                  - keys_url
                  - label_search_url
                  - notifications_url
                  - organization_url
                  - organization_repositories_url
                  - organization_teams_url
                  - public_gists_url
                  - rate_limit_url
                  - repository_url
                  - repository_search_url
                  - current_user_repositories_url
                  - starred_url
                  - starred_gists_url
                  - user_url
                  - user_organizations_url
                  - user_repositories_url
                  - user_search_url
                type: object
          description: response
      summary: GitHub API Root
      tags:
        - meta
      x-github:
        category: meta
        enabledForGitHubApps: true
        githubCloudOnly: false
        previews: []
  /app:
    get:
      description: >-
        Returns the GitHub App associated with the authentication credentials used. To see how many app installations are associated with this GitHub App, see the `installations_count` in the response. For more details about your app's installations, see the "[List installations for the authenticated app](https://developer.github.com/v3/apps/#list-installations-for-the-authenticated-app)" endpoint.


        You must use a [JWT](https://developer.github.com/apps/building-github-apps/authenticating-with-github-apps/#authenticating-as-a-github-app) to access this endpoint.
      externalDocs:
        description: API method documentation
        url: https://developer.github.com/v3/apps/#get-the-authenticated-app
      operationId: apps/get-authenticated
      parameters: []
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/integration"
              schema:
                $ref: "#/components/schemas/integration"
          description: response
      summary: Get the authenticated app
      tags:
        - apps
      x-github:
        category: apps
        enabledForGitHubApps: true
        githubCloudOnly: false
        previews:
          - name: machine-man
            note: To access the API with your GitHub App, you must provide a custom [media type](https://developer.github.com/v3/media) in the `Accept` Header for your requests. ```shell application/vnd.github.machine-man-preview+json ```
            required: true
        subcategory: null
  "/app-manifests/{code}/conversions":
    post:
      description: Use this endpoint to complete the handshake necessary when implementing the [GitHub App Manifest flow](https://developer.github.com/apps/building-github-apps/creating-github-apps-from-a-manifest/). When you create a GitHub App with the manifest flow, you receive a temporary `code` used to retrieve the GitHub App's `id`, `pem` (private key), and `webhook_secret`.
      externalDocs:
        description: API method documentation
        url: https://developer.github.com/v3/apps/#create-a-github-app-from-a-manifest
      operationId: apps/create-from-manifest
      parameters:
        - description: code parameter
          in: path
          name: code
          required: true
          schema:
            type: string
      responses:
        "201":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/integration-from-manifest"
              schema:
                allOf:
                  - $ref: "#/components/schemas/integration"
                  - additionalProperties: true
                    properties:
                      client_id:
                        type: string
                      client_secret:
                        type: string
                      pem:
                        type: string
                      webhook_secret:
                        type: string
                    required:
                      - client_id
                      - client_secret
                      - webhook_secret
                      - pem
                    type: object
          description: response
        "404":
          $ref: "#/components/responses/not_found"
        "422":
          $ref: "#/components/responses/validation_failed_simple"
      summary: Create a GitHub App from a manifest
      tags:
        - apps
      x-github:
        category: apps
        enabledForGitHubApps: false
        githubCloudOnly: false
        previews: []
        subcategory: null
  /app/installations:
    get:
      description: >-
        You must use a [JWT](https://developer.github.com/apps/building-github-apps/authenticating-with-github-apps/#authenticating-as-a-github-app) to access this endpoint.


        The permissions the installation has are included under the `permissions` key.
      externalDocs:
        description: API method documentation
        url: https://developer.github.com/v3/apps/#list-installations-for-the-authenticated-app
      operationId: apps/list-installations
      parameters:
        - $ref: "#/components/parameters/per_page"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/since"
        - in: query
          name: outdated
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/base-installation-items"
              schema:
                items:
                  $ref: "#/components/schemas/installation"
                type: array
          description: The permissions the installation has are included under the `permissions` key.
          headers:
            Link:
              $ref: "#/components/headers/link"
      summary: List installations for the authenticated app
      tags:
        - apps
      x-github:
        category: apps
        enabledForGitHubApps: true
        githubCloudOnly: false
        previews:
          - name: machine-man
            note: To access the API with your GitHub App, you must provide a custom [media type](https://developer.github.com/v3/media) in the `Accept` Header for your requests. ```shell application/vnd.github.machine-man-preview+json ```
            required: true
        subcategory: null
  "/app/installations/{installation_id}":
    delete:
      description: >-
        Uninstalls a GitHub App on a user, organization, or business account. If you prefer to temporarily suspend an app's access to your account's resources, then we recommend the "[Suspend an app installation](https://developer.github.com/v3/apps/#suspend-an-app-installation)" endpoint.


        You must use a [JWT](https://developer.github.com/apps/building-github-apps/authenticating-with-github-apps/#authenticating-as-a-github-app) to access this endpoint.
      externalDocs:
        description: API method documentation
        url: https://developer.github.com/v3/apps/#delete-an-installation-for-the-authenticated-app
      operationId: apps/delete-installation
      parameters:
        - $ref: "#/components/parameters/installation_id"
      responses:
        "204":
          description: Empty response
        "404":
          $ref: "#/components/responses/not_found"
      summary: Delete an installation for the authenticated app
      tags:
        - apps
      x-github:
        category: apps
        enabledForGitHubApps: false
        githubCloudOnly: false
        previews:
          - name: machine-man
            note: To access the API with your GitHub App, you must provide a custom [media type](https://developer.github.com/v3/media) in the `Accept` Header for your requests. ```shell application/vnd.github.machine-man-preview+json ```
            required: true
        subcategory: null
    get:
      description: >-
        Enables an authenticated GitHub App to find an installation's information using the installation id. The installation's account type (`target_type`) will be either an organization or a user account, depending which account the repository belongs to.


        You must use a [JWT](https://developer.github.com/apps/building-github-apps/authenticating-with-github-apps/#authenticating-as-a-github-app) to access this endpoint.
      externalDocs:
        description: API method documentation
        url: https://developer.github.com/v3/apps/#get-an-installation-for-the-authenticated-app
      operationId: apps/get-installation
      parameters:
        - $ref: "#/components/parameters/installation_id"
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/base-installation"
              schema:
                $ref: "#/components/schemas/installation"
          description: response
        "404":
          $ref: "#/components/responses/not_found"
        "415":
          $ref: "#/components/responses/preview_header_missing"
      summary: Get an installation for the authenticated app
      tags:
        - apps
      x-github:
        category: apps
        enabledForGitHubApps: true
        githubCloudOnly: false
        previews:
          - name: machine-man
            note: To access the API with your GitHub App, you must provide a custom [media type](https://developer.github.com/v3/media) in the `Accept` Header for your requests. ```shell application/vnd.github.machine-man-preview+json ```
            required: true
        subcategory: null
  "/app/installations/{installation_id}/access_tokens":
    post:
      description: >-
        Creates an installation access token that enables a GitHub App to make authenticated API requests for the app's installation on an organization or individual account. Installation tokens expire one hour from the time you create them. Using an expired token produces a status code of `401 - Unauthorized`, and requires creating a new installation token. By default the installation token has access to all repositories that the installation can access. To restrict the access to specific repositories, you can provide the `repository_ids` when creating the token. When you omit `repository_ids`, the response does not contain the `repositories` key.


        You must use a [JWT](https://developer.github.com/apps/building-github-apps/authenticating-with-github-apps/#authenticating-as-a-github-app) to access this endpoint.
      externalDocs:
        description: API method documentation
        url: https://developer.github.com/v3/apps/#create-an-installation-access-token-for-an-app
      operationId: apps/create-installation-access-token
      parameters:
        - $ref: "#/components/parameters/installation_id"
      requestBody:
        content:
          application/json:
            schema:
              properties:
                permissions:
                  example:
                    contents: read
                    deployments: write
                    issues: read
                    single_file: read
                  properties:
                    contents:
                      type: string
                    def_not_a_repo:
                      example: '"read"'
                      type: string
                    deployments:
                      type: string
                    issues:
                      type: string
                    single_file:
                      type: string
                  type: object
                repositories:
                  description: List of repository names that the token should have access to
                  items:
                    example: rails
                    type: string
                  type: array
                repository_ids:
                  description: List of repository IDs that the token should have access to
                  example:
                    - 1
                  items:
                    type: integer
                  type: array
              type: object
      responses:
        "201":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/installation-token"
              schema:
                $ref: "#/components/schemas/installation-token"
          description: response
        "401":
          $ref: "#/components/responses/requires_authentication"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not_found"
        "415":
          $ref: "#/components/responses/preview_header_missing"
        "422":
          $ref: "#/components/responses/validation_failed"
      summary: Create an installation access token for an app
      tags:
        - apps
      x-github:
        category: apps
        enabledForGitHubApps: true
        githubCloudOnly: false
        previews:
          - name: machine-man
            note: To access the API with your GitHub App, you must provide a custom [media type](https://developer.github.com/v3/media) in the `Accept` Header for your requests. ```shell application/vnd.github.machine-man-preview+json ```
            required: true
        subcategory: null
  "/app/installations/{installation_id}/suspended":
    delete:
      description: >-
        **Note:** Suspending a GitHub App installation is currently in beta and subject to change. Before you can suspend a GitHub App, the app owner must enable suspending installations for the app by opting-in to the beta. For more information, see "[Suspending a GitHub App installation](https://developer.github.com/apps/managing-github-apps/suspending-a-github-app-installation/)."


        Removes a GitHub App installation suspension.


        To unsuspend a GitHub App, you must be an account owner or have admin permissions in the repository or organization where the app is installed and suspended.


        You must use a [JWT](https://developer.github.com/apps/building-github-apps/authenticating-with-github-apps/#authenticating-as-a-github-app) to access this endpoint.
      externalDocs:
        description: API method documentation
        url: https://developer.github.com/v3/apps/#unsuspend-an-app-installation
      operationId: apps/unsuspend-installation
      parameters:
        - $ref: "#/components/parameters/installation_id"
      responses:
        "204":
          description: Empty response
        "404":
          $ref: "#/components/responses/not_found"
      summary: Unsuspend an app installation
      tags:
        - apps
      x-github:
        category: apps
        enabledForGitHubApps: false
        githubCloudOnly: false
        previews: []
        subcategory: null
    put:
      description: >-
        **Note:** Suspending a GitHub App installation is currently in beta and subject to change. Before you can suspend a GitHub App, the app owner must enable suspending installations for the app by opting-in to the beta. For more information, see "[Suspending a GitHub App installation](https://developer.github.com/apps/managing-github-apps/suspending-a-github-app-installation/)."


        Suspends a GitHub App on a user, organization, or business account, which blocks the app from accessing the account's resources. When a GitHub App is suspended, the app's access to the GitHub API or webhook events is blocked for that account.


        To suspend a GitHub App, you must be an account owner or have admin permissions in the repository or organization where the app is installed.


        You must use a [JWT](https://developer.github.com/apps/building-github-apps/authenticating-with-github-apps/#authenticating-as-a-github-app) to access this endpoint.
      externalDocs:
        description: API method documentation
        url: https://developer.github.com/v3/apps/#suspend-an-app-installation
      operationId: apps/suspend-installation
      parameters:
        - $ref: "#/components/parameters/installation_id"
      responses:
        "204":
          description: Empty response
        "404":
          $ref: "#/components/responses/not_found"
      summary: Suspend an app installation
      tags:
        - apps
      x-github:
        category: apps
        enabledForGitHubApps: false
        githubCloudOnly: false
        previews: []
        subcategory: null
  /applications/grants:
    get:
      deprecated: true
      description: >-
        **Deprecation Notice:** GitHub will discontinue the [OAuth Authorizations API](https://developer.github.com/v3/oauth_authorizations/), which is used by integrations to create personal access tokens and OAuth tokens, and you must now create these tokens using our [web application flow](https://developer.github.com/apps/building-oauth-apps/authorizing-oauth-apps/#web-application-flow). The [OAuth Authorizations API](https://developer.github.com/v3/oauth_authorizations/) will be removed on November, 13, 2020. For more information, including scheduled brownouts, see the [blog post](https://developer.github.com/changes/2020-02-14-deprecating-oauth-auth-endpoint/).


        You can use this API to list the set of OAuth applications that have been granted access to your account. Unlike the [list your authorizations](https://developer.github.com/v3/oauth_authorizations/#list-your-authorizations) API, this API does not manage individual tokens. This API will return one entry for each OAuth application that has been granted access to your account, regardless of the number of tokens an application has generated for your user. The list of OAuth applications returned matches what is shown on [the application authorizations settings screen within GitHub](https://github.com/settings/applications#authorized). The `scopes` returned are the union of scopes authorized for the application. For example, if an application has one token with `repo` scope and another token with `user` scope, the grant will return `["repo", "user"]`.
      externalDocs:
        description: API method documentation
        url: https://developer.github.com/v3/oauth_authorizations/#list-your-grants
      operationId: oauth-authorizations/list-grants
      parameters:
        - $ref: "#/components/parameters/per_page"
        - $ref: "#/components/parameters/page"
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/application-grant-items"
              schema:
                items:
                  $ref: "#/components/schemas/application-grant"
                type: array
          description: response
          headers:
            Link:
              $ref: "#/components/headers/link"
        "304":
          $ref: "#/components/responses/not_modified"
        "401":
          $ref: "#/components/responses/requires_authentication"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not_found"
      summary: List your grants
      tags:
        - oauth-authorizations
      x-github:
        category: oauth-authorizations
        deprecationDate: 2020-02-14
        enabledForGitHubApps: false
        githubCloudOnly: false
        previews: []
        removalDate: 2020-11-13
        subcategory: null
  "/applications/grants/{grant_id}":
    delete:
      deprecated: true
      description: >-
        **Deprecation Notice:** GitHub will discontinue the [OAuth Authorizations API](https://developer.github.com/v3/oauth_authorizations/), which is used by integrations to create personal access tokens and OAuth tokens, and you must now create these tokens using our [web application flow](https://developer.github.com/apps/building-oauth-apps/authorizing-oauth-apps/#web-application-flow). The [OAuth Authorizations API](https://developer.github.com/v3/oauth_authorizations/) will be removed on November, 13, 2020. For more information, including scheduled brownouts, see the [blog post](https://developer.github.com/changes/2020-02-14-deprecating-oauth-auth-endpoint/).


        Deleting an OAuth application's grant will also delete all OAuth tokens associated with the application for your user. Once deleted, the application has no access to your account and is no longer listed on [the application authorizations settings screen within GitHub](https://github.com/settings/applications#authorized).
      externalDocs:
        description: API method documentation
        url: https://developer.github.com/v3/oauth_authorizations/#delete-a-grant
      operationId: oauth-authorizations/delete-grant
      parameters:
        - $ref: "#/components/parameters/grant_id"
      responses:
        "204":
          description: Empty response
        "304":
          $ref: "#/components/responses/not_modified"
        "401":
          $ref: "#/components/responses/requires_authentication"
        "403":
          $ref: "#/components/responses/forbidden"
      summary: Delete a grant
      tags:
        - oauth-authorizations
      x-github:
        category: oauth-authorizations
        deprecationDate: 2020-02-14
        enabledForGitHubApps: false
        githubCloudOnly: false
        previews: []
        removalDate: 2020-11-13
        subcategory: null
    get:
      deprecated: true
      description: "**Deprecation Notice:** GitHub will discontinue the [OAuth Authorizations API](https://developer.github.com/v3/oauth_authorizations/), which is used by integrations to create personal access tokens and OAuth tokens, and you must now create these tokens using our [web application flow](https://developer.github.com/apps/building-oauth-apps/authorizing-oauth-apps/#web-application-flow). The [OAuth Authorizations API](https://developer.github.com/v3/oauth_authorizations/) will be removed on November, 13, 2020. For more information, including scheduled brownouts, see the [blog post](https://developer.github.com/changes/2020-02-14-deprecating-oauth-auth-endpoint/)."
      externalDocs:
        description: API method documentation
        url: https://developer.github.com/v3/oauth_authorizations/#get-a-single-grant
      operationId: oauth-authorizations/get-grant
      parameters:
        - $ref: "#/components/parameters/grant_id"
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/application-grant"
              schema:
                $ref: "#/components/schemas/application-grant"
          description: response
        "304":
          $ref: "#/components/responses/not_modified"
        "401":
          $ref: "#/components/responses/requires_authentication"
        "403":
          $ref: "#/components/responses/forbidden"
      summary: Get a single grant
      tags:
        - oauth-authorizations
      x-github:
        category: oauth-authorizations
        deprecationDate: 2020-02-14
        enabledForGitHubApps: false
        githubCloudOnly: false
        previews: []
        removalDate: 2020-11-13
        subcategory: null
  "/applications/{client_id}/grant":
    delete:
      description: >-
        OAuth application owners can revoke a grant for their OAuth application and a specific user. You must use [Basic Authentication](https://developer.github.com/v3/auth#basic-authentication) when accessing this endpoint, using the OAuth application's `client_id` and `client_secret` as the username and password. You must also provide a valid OAuth `access_token` as an input parameter and the grant for the token's owner will be deleted.

        Deleting an OAuth application's grant will also delete all OAuth tokens associated with the application for the user. Once deleted, the application will have no access to the user's account and will no longer be listed on [the application authorizations settings screen within GitHub](https://github.com/settings/applications#authorized).
      externalDocs:
        description: API method documentation
        url: https://developer.github.com/v3/apps/oauth_applications/#delete-an-app-authorization
      operationId: apps/delete-authorization
      parameters:
        - $ref: "#/components/parameters/client-id"
      requestBody:
        content:
          application/json:
            example:
              access_token: e72e16c7e42f292c6912e7710c838347ae178b4a
            schema:
              properties:
                access_token:
                  description: The OAuth access token used to authenticate to the GitHub API.
                  type: string
              type: object
      responses:
        "204":
          description: Empty response
        "422":
          $ref: "#/components/responses/validation_failed"
      summary: Delete an app authorization
      tags:
        - apps
      x-github:
        category: apps
        enabledForGitHubApps: false
        githubCloudOnly: false
        previews: []
        subcategory: oauth-applications
  "/applications/{client_id}/grants/{access_token}":
    delete:
      deprecated: true
      description: >-
        **Deprecation Notice:** GitHub will replace and discontinue OAuth endpoints containing `access_token` in the path parameter. We are introducing new endpoints that allow you to securely manage tokens for OAuth Apps by using `access_token` as an input parameter. The OAuth Application API will be removed on May 5, 2021. For more information, including scheduled brownouts, see the [blog post](https://developer.github.com/changes/2020-02-14-deprecating-oauth-app-endpoint/).


        OAuth application owners can revoke a grant for their OAuth application and a specific user. You must use [Basic Authentication](https://developer.github.com/v3/auth#basic-authentication) when accessing this endpoint, using the OAuth application's `client_id` and `client_secret` as the username and password. You must also provide a valid token as `:access_token` and the grant for the token's owner will be deleted.


        Deleting an OAuth application's grant will also delete all OAuth tokens associated with the application for the user. Once deleted, the application will have no access to the user's account and will no longer be listed on [the Applications settings page under "Authorized OAuth Apps" on GitHub](https://github.com/settings/applications#authorized).
      externalDocs:
        description: API method documentation
        url: https://developer.github.com/v3/apps/oauth_applications/#revoke-a-grant-for-an-application
      operationId: apps/revoke-grant-for-application
      parameters:
        - $ref: "#/components/parameters/client-id"
        - $ref: "#/components/parameters/access-token"
      responses:
        "204":
          description: Empty response
      summary: Revoke a grant for an application
      tags:
        - apps
      x-github:
        category: apps
        deprecationDate: 2020-02-14
        enabledForGitHubApps: false
        githubCloudOnly: false
        previews: []
        removalDate: 2021-05-05
        subcategory: oauth-applications
  "/applications/{client_id}/token":
    delete:
      description: OAuth application owners can revoke a single token for an OAuth application. You must use [Basic Authentication](https://developer.github.com/v3/auth#basic-authentication) when accessing this endpoint, using the OAuth application's `client_id` and `client_secret` as the username and password.
      externalDocs:
        description: API method documentation
        url: https://developer.github.com/v3/apps/oauth_applications/#delete-an-app-token
      operationId: apps/delete-token
      parameters:
        - $ref: "#/components/parameters/client-id"
      requestBody:
        content:
          application/json:
            example:
              access_token: e72e16c7e42f292c6912e7710c838347ae178b4a
            schema:
              properties:
                access_token:
                  description: The OAuth access token used to authenticate to the GitHub API.
                  type: string
              type: object
      responses:
        "204":
          description: Empty response
        "422":
          $ref: "#/components/responses/validation_failed"
      summary: Delete an app token
      tags:
        - apps
      x-github:
        category: apps
        enabledForGitHubApps: false
        githubCloudOnly: false
        previews: []
        subcategory: oauth-applications
    patch:
      description: OAuth applications can use this API method to reset a valid OAuth token without end-user involvement. Applications must save the "token" property in the response because changes take effect immediately. You must use [Basic Authentication](https://developer.github.com/v3/auth#basic-authentication) when accessing this endpoint, using the OAuth application's `client_id` and `client_secret` as the username and password. Invalid tokens will return `404 NOT FOUND`.
      externalDocs:
        description: API method documentation
        url: https://developer.github.com/v3/apps/oauth_applications/#reset-a-token
      operationId: apps/reset-token
      parameters:
        - $ref: "#/components/parameters/client-id"
      requestBody:
        content:
          application/json:
            schema:
              properties:
                access_token:
                  description: The access_token of the OAuth application.
                  type: string
              required:
                - access_token
              type: object
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/authorization-with-user"
              schema:
                $ref: "#/components/schemas/authorization"
          description: response
        "422":
          $ref: "#/components/responses/validation_failed"
      summary: Reset a token
      tags:
        - apps
      x-github:
        category: apps
        enabledForGitHubApps: false
        githubCloudOnly: false
        previews: []
        subcategory: oauth-applications
    post:
      description: OAuth applications can use a special API method for checking OAuth token validity without exceeding the normal rate limits for failed login attempts. Authentication works differently with this particular endpoint. You must use [Basic Authentication](https://developer.github.com/v3/auth#basic-authentication) to use this endpoint, where the username is the OAuth application `client_id` and the password is its `client_secret`. Invalid tokens will return `404 NOT FOUND`.
      externalDocs:
        description: API method documentation
        url: https://developer.github.com/v3/apps/oauth_applications/#check-a-token
      operationId: apps/check-token
      parameters:
        - $ref: "#/components/parameters/client-id"
      requestBody:
        content:
          application/json:
            schema:
              properties:
                access_token:
                  description: The access_token of the OAuth application.
                  type: string
              required:
                - access_token
              type: object
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/authorization-with-user"
              schema:
                $ref: "#/components/schemas/authorization"
          description: response
        "404":
          $ref: "#/components/responses/not_found"
        "422":
          $ref: "#/components/responses/validation_failed"
      summary: Check a token
      tags:
        - apps
      x-github:
        category: apps
        enabledForGitHubApps: false
        githubCloudOnly: false
        previews: []
        subcategory: oauth-applications
  "/applications/{client_id}/tokens/{access_token}":
    delete:
      deprecated: true
      description: >-
        **Deprecation Notice:** GitHub will replace and discontinue OAuth endpoints containing `access_token` in the path parameter. We are introducing new endpoints that allow you to securely manage tokens for OAuth Apps by using `access_token` as an input parameter. The OAuth Application API will be removed on May 5, 2021. For more information, including scheduled brownouts, see the [blog post](https://developer.github.com/changes/2020-02-14-deprecating-oauth-app-endpoint/).


        OAuth application owners can revoke a single token for an OAuth application. You must use [Basic Authentication](https://developer.github.com/v3/auth#basic-authentication) when accessing this endpoint, using the OAuth application's `client_id` and `client_secret` as the username and password.
      externalDocs:
        description: API method documentation
        url: https://developer.github.com/v3/apps/oauth_applications/#revoke-an-authorization-for-an-application
      operationId: apps/revoke-authorization-for-application
      parameters:
        - $ref: "#/components/parameters/client-id"
        - $ref: "#/components/parameters/access-token"
      responses:
        "204":
          description: Empty response
      summary: Revoke an authorization for an application
      tags:
        - apps
      x-github:
        category: apps
        deprecationDate: 2020-02-14
        enabledForGitHubApps: false
        githubCloudOnly: false
        previews: []
        removalDate: 2021-05-05
        subcategory: oauth-applications
    get:
      deprecated: true
      description: >-
        **Deprecation Notice:** GitHub will replace and discontinue OAuth endpoints containing `access_token` in the path parameter. We are introducing new endpoints that allow you to securely manage tokens for OAuth Apps by using `access_token` as an input parameter. The OAuth Application API will be removed on May 5, 2021. For more information, including scheduled brownouts, see the [blog post](https://developer.github.com/changes/2020-02-14-deprecating-oauth-app-endpoint/).


        OAuth applications can use a special API method for checking OAuth token validity without exceeding the normal rate limits for failed login attempts. Authentication works differently with this particular endpoint. You must use [Basic Authentication](https://developer.github.com/v3/auth#basic-authentication) when accessing this endpoint, using the OAuth application's `client_id` and `client_secret` as the username and password. Invalid tokens will return `404 NOT FOUND`.
      externalDocs:
        description: API method documentation
        url: https://developer.github.com/v3/apps/oauth_applications/#check-an-authorization
      operationId: apps/check-authorization
      parameters:
        - $ref: "#/components/parameters/client-id"
        - $ref: "#/components/parameters/access-token"
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/authorization-with-user"
              schema:
                allOf:
                  - $ref: "#/components/schemas/authorization"
                nullable: true
          description: response
        "404":
          $ref: "#/components/responses/not_found"
      summary: Check an authorization
      tags:
        - apps
      x-github:
        category: apps
        deprecationDate: 2020-02-14
        enabledForGitHubApps: false
        githubCloudOnly: false
        previews: []
        removalDate: 2021-05-05
        subcategory: oauth-applications
    post:
      deprecated: true
      description: >-
        **Deprecation Notice:** GitHub will replace and discontinue OAuth endpoints containing `access_token` in the path parameter. We are introducing new endpoints that allow you to securely manage tokens for OAuth Apps by using `access_token` as an input parameter. The OAuth Application API will be removed on May 5, 2021. For more information, including scheduled brownouts, see the [blog post](https://developer.github.com/changes/2020-02-14-deprecating-oauth-app-endpoint/).


        OAuth applications can use this API method to reset a valid OAuth token without end-user involvement. Applications must save the "token" property in the response because changes take effect immediately. You must use [Basic Authentication](https://developer.github.com/v3/auth#basic-authentication) when accessing this endpoint, using the OAuth application's `client_id` and `client_secret` as the username and password. Invalid tokens will return `404 NOT FOUND`.
      externalDocs:
        description: API method documentation
        url: https://developer.github.com/v3/apps/oauth_applications/#reset-an-authorization
      operationId: apps/reset-authorization
      parameters:
        - $ref: "#/components/parameters/client-id"
        - $ref: "#/components/parameters/access-token"
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/authorization-with-user"
              schema:
                $ref: "#/components/schemas/authorization"
          description: response
      summary: Reset an authorization
      tags:
        - apps
      x-github:
        category: apps
        deprecationDate: 2020-02-14
        enabledForGitHubApps: false
        githubCloudOnly: false
        previews: []
        removalDate: 2021-05-05
        subcategory: oauth-applications
  "/apps/{app_slug}":
    get:
      description: >-
        **Note**: The `:app_slug` is just the URL-friendly name of your GitHub App. You can find this on the settings page for your GitHub App (e.g., `https://github.com/settings/apps/:app_slug`).


        If the GitHub App you specify is public, you can access this endpoint without authenticating. If the GitHub App you specify is private, you must authenticate with a [personal access token](https://help.github.com/articles/creating-a-personal-access-token-for-the-command-line/) or an [installation access token](https://developer.github.com/apps/building-github-apps/authenticating-with-github-apps/#authenticating-as-an-installation) to access this endpoint.
      externalDocs:
        description: API method documentation
        url: https://developer.github.com/v3/apps/#get-an-app
      operationId: apps/get-by-slug
      parameters:
        - description: app_slug parameter
          in: path
          name: app_slug
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/integration"
              schema:
                $ref: "#/components/schemas/integration"
          description: response
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not_found"
        "415":
          $ref: "#/components/responses/preview_header_missing"
      summary: Get an app
      tags:
        - apps
      x-github:
        category: apps
        enabledForGitHubApps: true
        githubCloudOnly: false
        previews:
          - name: machine-man
            note: To access the API with your GitHub App, you must provide a custom [media type](https://developer.github.com/v3/media) in the `Accept` Header for your requests. ```shell application/vnd.github.machine-man-preview+json ```
            required: true
        subcategory: null
  /authorizations:
    get:
      deprecated: true
      description: "**Deprecation Notice:** GitHub will discontinue the [OAuth Authorizations API](https://developer.github.com/v3/oauth_authorizations/), which is used by integrations to create personal access tokens and OAuth tokens, and you must now create these tokens using our [web application flow](https://developer.github.com/apps/building-oauth-apps/authorizing-oauth-apps/#web-application-flow). The [OAuth Authorizations API](https://developer.github.com/v3/oauth_authorizations/) will be removed on November, 13, 2020. For more information, including scheduled brownouts, see the [blog post](https://developer.github.com/changes/2020-02-14-deprecating-oauth-auth-endpoint/)."
      externalDocs:
        description: API method documentation
        url: https://developer.github.com/v3/oauth_authorizations/#list-your-authorizations
      operationId: oauth-authorizations/list-authorizations
      parameters:
        - $ref: "#/components/parameters/per_page"
        - $ref: "#/components/parameters/page"
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/authorization-items"
              schema:
                items:
                  $ref: "#/components/schemas/authorization"
                type: array
          description: response
          headers:
            Link:
              $ref: "#/components/headers/link"
        "304":
          $ref: "#/components/responses/not_modified"
        "401":
          $ref: "#/components/responses/requires_authentication"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not_found"
      summary: List your authorizations
      tags:
        - oauth-authorizations
      x-github:
        category: oauth-authorizations
        deprecationDate: 2020-02-14
        enabledForGitHubApps: false
        githubCloudOnly: false
        previews: []
        removalDate: 2020-11-13
        subcategory: null
    post:
      deprecated: true
      description: >-
        **Deprecation Notice:** GitHub will discontinue the [OAuth Authorizations API](https://developer.github.com/v3/oauth_authorizations/), which is used by integrations to create personal access tokens and OAuth tokens, and you must now create these tokens using our [web application flow](https://developer.github.com/apps/building-oauth-apps/authorizing-oauth-apps/#web-application-flow). The [OAuth Authorizations API](https://developer.github.com/v3/oauth_authorizations/) will be removed on November, 13, 2020. For more information, including scheduled brownouts, see the [blog post](https://developer.github.com/changes/2020-02-14-deprecating-oauth-auth-endpoint/).


        **Warning:** Apps must use the [web application flow](https://developer.github.com/apps/building-oauth-apps/authorizing-oauth-apps/#web-application-flow) to obtain OAuth tokens that work with GitHub SAML organizations. OAuth tokens created using the Authorizations API will be unable to access GitHub SAML organizations. For more information, see the [blog post](https://developer.github.com/changes/2019-11-05-deprecated-passwords-and-authorizations-api).


        Creates OAuth tokens using [Basic Authentication](https://developer.github.com/v3/auth#basic-authentication). If you have two-factor authentication setup, Basic Authentication for this endpoint requires that you use a one-time password (OTP) and your username and password instead of tokens. For more information, see "[Working with two-factor authentication](https://developer.github.com/v3/auth/#working-with-two-factor-authentication)."


        To create tokens for a particular OAuth application using this endpoint, you must authenticate as the user you want to create an authorization for and provide the app's client ID and secret, found on your OAuth application's settings page. If your OAuth application intends to create multiple tokens for one user, use `fingerprint` to differentiate between them.


        You can also create tokens on GitHub from the [personal access tokens settings](https://github.com/settings/tokens) page. Read more about these tokens in [the GitHub Help documentation](https://help.github.com/articles/creating-an-access-token-for-command-line-use).


        Organizations that enforce SAML SSO require personal access tokens to be allowed. Read more about allowing tokens in [the GitHub Help documentation](https://help.github.com/articles/about-identity-and-access-management-with-saml-single-sign-on).
      externalDocs:
        description: API method documentation
        url: https://developer.github.com/v3/oauth_authorizations/#create-a-new-authorization
      operationId: oauth-authorizations/create-authorization
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              properties:
                client_id:
                  description: The OAuth app client key for which to create the token.
                  maxLength: 20
                  type: string
                client_secret:
                  description: The OAuth app client secret for which to create the token.
                  maxLength: 40
                  type: string
                fingerprint:
                  description: A unique string to distinguish an authorization from others created for the same client ID and user.
                  type: string
                note:
                  description: A note to remind you what the OAuth token is for.
                  example: Update all gems
                  type: string
                note_url:
                  description: A URL to remind you what app the OAuth token is for.
                  type: string
                scopes:
                  description: A list of scopes that this authorization is in.
                  example:
                    - public_repo
                    - user
                  items:
                    type: string
                  nullable: true
                  type: array
              type: object
      responses:
        "201":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/authorization"
              schema:
                $ref: "#/components/schemas/authorization"
          description: response
          headers:
            Location:
              example: https://api.github.com/authorizations/1
              schema:
                type: string
        "304":
          $ref: "#/components/responses/not_modified"
        "401":
          $ref: "#/components/responses/requires_authentication"
        "403":
          $ref: "#/components/responses/forbidden"
        "410":
          $ref: "#/components/responses/gone"
        "422":
          $ref: "#/components/responses/validation_failed"
      summary: Create a new authorization
      tags:
        - oauth-authorizations
      x-github:
        category: oauth-authorizations
        deprecationDate: 2020-02-14
        enabledForGitHubApps: false
        githubCloudOnly: false
        previews: []
        removalDate: 2020-11-13
        subcategory: null
  "/authorizations/clients/{client_id}":
    put:
      deprecated: true
      description: >-
        **Deprecation Notice:** GitHub will discontinue the [OAuth Authorizations API](https://developer.github.com/v3/oauth_authorizations/), which is used by integrations to create personal access tokens and OAuth tokens, and you must now create these tokens using our [web application flow](https://developer.github.com/apps/building-oauth-apps/authorizing-oauth-apps/#web-application-flow). The [OAuth Authorizations API](https://developer.github.com/v3/oauth_authorizations/) will be removed on November, 13, 2020. For more information, including scheduled brownouts, see the [blog post](https://developer.github.com/changes/2020-02-14-deprecating-oauth-auth-endpoint/).


        **Warning:** Apps must use the [web application flow](https://developer.github.com/apps/building-oauth-apps/authorizing-oauth-apps/#web-application-flow) to obtain OAuth tokens that work with GitHub SAML organizations. OAuth tokens created using the Authorizations API will be unable to access GitHub SAML organizations. For more information, see the [blog post](https://developer.github.com/changes/2019-11-05-deprecated-passwords-and-authorizations-api).


        Creates a new authorization for the specified OAuth application, only if an authorization for that application doesn't already exist for the user. The URL includes the 20 character client ID for the OAuth app that is requesting the token. It returns the user's existing authorization for the application if one is present. Otherwise, it creates and returns a new one.


        If you have two-factor authentication setup, Basic Authentication for this endpoint requires that you use a one-time password (OTP) and your username and password instead of tokens. For more information, see "[Working with two-factor authentication](https://developer.github.com/v3/auth/#working-with-two-factor-authentication)."


        **Deprecation Notice:** GitHub will discontinue the [OAuth Authorizations API](https://developer.github.com/v3/oauth_authorizations/), which is used by integrations to create personal access tokens and OAuth tokens, and you must now create these tokens using our [web application flow](https://developer.github.com/apps/building-oauth-apps/authorizing-oauth-apps/#web-application-flow). The [OAuth Authorizations API](https://developer.github.com/v3/oauth_authorizations/) will be removed on November, 13, 2020. For more information, including scheduled brownouts, see the [blog post](https://developer.github.com/changes/2020-02-14-deprecating-oauth-auth-endpoint/).
      externalDocs:
        description: API method documentation
        url: https://developer.github.com/v3/oauth_authorizations/#get-or-create-an-authorization-for-a-specific-app
      operationId: oauth-authorizations/get-or-create-authorization-for-app
      parameters:
        - $ref: "#/components/parameters/client-id"
      requestBody:
        content:
          application/json:
            schema:
              properties:
                client_secret:
                  description: The OAuth app client secret for which to create the token.
                  maxLength: 40
                  type: string
                fingerprint:
                  description: A unique string to distinguish an authorization from others created for the same client ID and user.
                  type: string
                note:
                  description: A note to remind you what the OAuth token is for.
                  example: Update all gems
                  type: string
                note_url:
                  description: A URL to remind you what app the OAuth token is for.
                  type: string
                scopes:
                  description: A list of scopes that this authorization is in.
                  example:
                    - public_repo
                    - user
                  items:
                    type: string
                  nullable: true
                  type: array
              required:
                - client_secret
              type: object
      responses:
        "200":
          content:
            application/json:
              examples:
                response-if-returning-an-existing-token:
                  $ref: "#/components/examples/authorization-response-if-returning-an-existing-token-2"
              schema:
                $ref: "#/components/schemas/authorization"
          description: Response if returning an existing token
          headers:
            Location:
              example: https://api.github.com/authorizations/1
              schema:
                type: string
        "201":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/authorization"
              schema:
                $ref: "#/components/schemas/authorization"
          description: "**Deprecation Notice:** GitHub will discontinue the [OAuth Authorizations API](https://developer.github.com/v3/oauth_authorizations/), which is used by integrations to create personal access tokens and OAuth tokens, and you must now create these tokens using our [web application flow](https://developer.github.com/apps/building-oauth-apps/authorizing-oauth-apps/#web-application-flow). The [OAuth Authorizations API](https://developer.github.com/v3/oauth_authorizations/) will be removed on November, 13, 2020. For more information, including scheduled brownouts, see the [blog post](https://developer.github.com/changes/2020-02-14-deprecating-oauth-auth-endpoint/)."
          headers:
            Location:
              example: https://api.github.com/authorizations/1
              schema:
                type: string
        "304":
          $ref: "#/components/responses/not_modified"
        "401":
          $ref: "#/components/responses/requires_authentication"
        "403":
          $ref: "#/components/responses/forbidden"
        "422":
          $ref: "#/components/responses/validation_failed"
      summary: Get-or-create an authorization for a specific app
      tags:
        - oauth-authorizations
      x-github:
        category: oauth-authorizations
        deprecationDate: 2020-02-14
        enabledForGitHubApps: false
        githubCloudOnly: false
        previews: []
        removalDate: 2020-11-13
        subcategory: null
  "/authorizations/clients/{client_id}/{fingerprint}":
    put:
      deprecated: true
      description: >-
        **Deprecation Notice:** GitHub will discontinue the [OAuth Authorizations API](https://developer.github.com/v3/oauth_authorizations/), which is used by integrations to create personal access tokens and OAuth tokens, and you must now create these tokens using our [web application flow](https://developer.github.com/apps/building-oauth-apps/authorizing-oauth-apps/#web-application-flow). The [OAuth Authorizations API](https://developer.github.com/v3/oauth_authorizations/) will be removed on November, 13, 2020. For more information, including scheduled brownouts, see the [blog post](https://developer.github.com/changes/2020-02-14-deprecating-oauth-auth-endpoint/).


        **Warning:** Apps must use the [web application flow](https://developer.github.com/apps/building-oauth-apps/authorizing-oauth-apps/#web-application-flow) to obtain OAuth tokens that work with GitHub SAML organizations. OAuth tokens created using the Authorizations API will be unable to access GitHub SAML organizations. For more information, see the [blog post](https://developer.github.com/changes/2019-11-05-deprecated-passwords-and-authorizations-api).


        This method will create a new authorization for the specified OAuth application, only if an authorization for that application and fingerprint do not already exist for the user. The URL includes the 20 character client ID for the OAuth app that is requesting the token. `fingerprint` is a unique string to distinguish an authorization from others created for the same client ID and user. It returns the user's existing authorization for the application if one is present. Otherwise, it creates and returns a new one.


        If you have two-factor authentication setup, Basic Authentication for this endpoint requires that you use a one-time password (OTP) and your username and password instead of tokens. For more information, see "[Working with two-factor authentication](https://developer.github.com/v3/auth/#working-with-two-factor-authentication)."
      externalDocs:
        description: API method documentation
        url: https://developer.github.com/v3/oauth_authorizations/#get-or-create-an-authorization-for-a-specific-app-and-fingerprint
      operationId: oauth-authorizations/get-or-create-authorization-for-app-and-fingerprint
      parameters:
        - $ref: "#/components/parameters/client-id"
        - description: fingerprint parameter
          in: path
          name: fingerprint
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                client_secret:
                  description: The OAuth app client secret for which to create the token.
                  maxLength: 40
                  type: string
                note:
                  description: A note to remind you what the OAuth token is for.
                  example: Update all gems
                  type: string
                note_url:
                  description: A URL to remind you what app the OAuth token is for.
                  type: string
                scopes:
                  description: A list of scopes that this authorization is in.
                  example:
                    - public_repo
                    - user
                  items:
                    type: string
                  nullable: true
                  type: array
              required:
                - client_secret
              type: object
      responses:
        "200":
          content:
            application/json:
              examples:
                response-if-returning-an-existing-token:
                  $ref: "#/components/examples/authorization-response-if-returning-an-existing-token"
              schema:
                $ref: "#/components/schemas/authorization"
          description: Response if returning an existing token
          headers:
            Location:
              example: https://api.github.com/authorizations/1
              schema:
                type: string
        "201":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/authorization-3"
              schema:
                $ref: "#/components/schemas/authorization"
          description: Response if returning a new token
          headers:
            Location:
              example: https://api.github.com/authorizations/1
              schema:
                type: string
        "422":
          $ref: "#/components/responses/validation_failed"
      summary: Get-or-create an authorization for a specific app and fingerprint
      tags:
        - oauth-authorizations
      x-github:
        category: oauth-authorizations
        deprecationDate: 2020-02-14
        enabledForGitHubApps: false
        githubCloudOnly: false
        previews: []
        removalDate: 2020-11-13
        subcategory: null
  "/authorizations/{authorization_id}":
    delete:
      deprecated: true
      description: "**Deprecation Notice:** GitHub will discontinue the [OAuth Authorizations API](https://developer.github.com/v3/oauth_authorizations/), which is used by integrations to create personal access tokens and OAuth tokens, and you must now create these tokens using our [web application flow](https://developer.github.com/apps/building-oauth-apps/authorizing-oauth-apps/#web-application-flow). The [OAuth Authorizations API](https://developer.github.com/v3/oauth_authorizations/) will be removed on November, 13, 2020. For more information, including scheduled brownouts, see the [blog post](https://developer.github.com/changes/2020-02-14-deprecating-oauth-auth-endpoint/)."
      externalDocs:
        description: API method documentation
        url: https://developer.github.com/v3/oauth_authorizations/#delete-an-authorization
      operationId: oauth-authorizations/delete-authorization
      parameters:
        - $ref: "#/components/parameters/authorization_id"
      responses:
        "204":
          description: Empty response
        "304":
          $ref: "#/components/responses/not_modified"
        "401":
          $ref: "#/components/responses/requires_authentication"
        "403":
          $ref: "#/components/responses/forbidden"
      summary: Delete an authorization
      tags:
        - oauth-authorizations
      x-github:
        category: oauth-authorizations
        deprecationDate: 2020-02-14
        enabledForGitHubApps: false
        githubCloudOnly: false
        previews: []
        removalDate: 2020-11-13
        subcategory: null
    get:
      deprecated: true
      description: "**Deprecation Notice:** GitHub will discontinue the [OAuth Authorizations API](https://developer.github.com/v3/oauth_authorizations/), which is used by integrations to create personal access tokens and OAuth tokens, and you must now create these tokens using our [web application flow](https://developer.github.com/apps/building-oauth-apps/authorizing-oauth-apps/#web-application-flow). The [OAuth Authorizations API](https://developer.github.com/v3/oauth_authorizations/) will be removed on November, 13, 2020. For more information, including scheduled brownouts, see the [blog post](https://developer.github.com/changes/2020-02-14-deprecating-oauth-auth-endpoint/)."
      externalDocs:
        description: API method documentation
        url: https://developer.github.com/v3/oauth_authorizations/#get-a-single-authorization
      operationId: oauth-authorizations/get-authorization
      parameters:
        - $ref: "#/components/parameters/authorization_id"
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/authorization-2"
              schema:
                $ref: "#/components/schemas/authorization"
          description: response
        "304":
          $ref: "#/components/responses/not_modified"
        "401":
          $ref: "#/components/responses/requires_authentication"
        "403":
          $ref: "#/components/responses/forbidden"
      summary: Get a single authorization
      tags:
        - oauth-authorizations
      x-github:
        category: oauth-authorizations
        deprecationDate: 2020-02-14
        enabledForGitHubApps: false
        githubCloudOnly: false
        previews: []
        removalDate: 2020-11-13
        subcategory: null
    patch:
      deprecated: true
      description: >-
        **Deprecation Notice:** GitHub will discontinue the [OAuth Authorizations API](https://developer.github.com/v3/oauth_authorizations/), which is used by integrations to create personal access tokens and OAuth tokens, and you must now create these tokens using our [web application flow](https://developer.github.com/apps/building-oauth-apps/authorizing-oauth-apps/#web-application-flow). The [OAuth Authorizations API](https://developer.github.com/v3/oauth_authorizations/) will be removed on November, 13, 2020. For more information, including scheduled brownouts, see the [blog post](https://developer.github.com/changes/2020-02-14-deprecating-oauth-auth-endpoint/).


        If you have two-factor authentication setup, Basic Authentication for this endpoint requires that you use a one-time password (OTP) and your username and password instead of tokens. For more information, see "[Working with two-factor authentication](https://developer.github.com/v3/auth/#working-with-two-factor-authentication)."


        You can only send one of these scope keys at a time.
      externalDocs:
        description: API method documentation
        url: https://developer.github.com/v3/oauth_authorizations/#update-an-existing-authorization
      operationId: oauth-authorizations/update-authorization
      parameters:
        - $ref: "#/components/parameters/authorization_id"
      requestBody:
        content:
          application/json:
            schema:
              properties:
                add_scopes:
                  description: A list of scopes to add to this authorization.
                  items:
                    type: string
                  type: array
                fingerprint:
                  description: A unique string to distinguish an authorization from others created for the same client ID and user.
                  type: string
                note:
                  description: A note to remind you what the OAuth token is for.
                  example: Update all gems
                  type: string
                note_url:
                  description: A URL to remind you what app the OAuth token is for.
                  type: string
                remove_scopes:
                  description: A list of scopes to remove from this authorization.
                  items:
                    type: string
                  type: array
                scopes:
                  description: A list of scopes that this authorization is in.
                  example:
                    - public_repo
                    - user
                  items:
                    type: string
                  nullable: true
                  type: array
              type: object
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/authorization-2"
              schema:
                $ref: "#/components/schemas/authorization"
          description: response
        "422":
          $ref: "#/components/responses/validation_failed"
      summary: Update an existing authorization
      tags:
        - oauth-authorizations
      x-github:
        category: oauth-authorizations
        deprecationDate: 2020-02-14
        enabledForGitHubApps: false
        githubCloudOnly: false
        previews: []
        removalDate: 2020-11-13
        subcategory: null
  /codes_of_conduct:
    get:
      description: ""
      externalDocs:
        description: API method documentation
        url: https://developer.github.com/v3/codes_of_conduct/#get-all-codes-of-conduct
      operationId: codes-of-conduct/get-all-codes-of-conduct
      parameters: []
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/code-of-conduct-simple-items"
              schema:
                items:
                  $ref: "#/components/schemas/code-of-conduct"
                type: array
          description: response
        "304":
          $ref: "#/components/responses/not_modified"
        "415":
          $ref: "#/components/responses/preview_header_missing"
      summary: Get all codes of conduct
      tags:
        - codes-of-conduct
      x-github:
        category: codes-of-conduct
        enabledForGitHubApps: true
        githubCloudOnly: false
        previews:
          - name: scarlet-witch
            note: >-
              The Codes of Conduct API is currently available for developers to preview.


              To access the API during the preview period, you must provide a custom [media type](https://developer.github.com/v3/media) in the `Accept` header:

              ```shell

              application/vnd.github.scarlet-witch-preview+json

              ```
            required: true
        subcategory: null
  "/codes_of_conduct/{key}":
    get:
      description: ""
      externalDocs:
        description: API method documentation
        url: https://developer.github.com/v3/codes_of_conduct/#get-a-code-of-conduct
      operationId: codes-of-conduct/get-conduct-code
      parameters:
        - description: key parameter
          in: path
          name: key
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/code-of-conduct"
              schema:
                $ref: "#/components/schemas/code-of-conduct"
          description: response
        "304":
          $ref: "#/components/responses/not_modified"
        "404":
          $ref: "#/components/responses/not_found"
        "415":
          $ref: "#/components/responses/preview_header_missing"
      summary: Get a code of conduct
      tags:
        - codes-of-conduct
      x-github:
        category: codes-of-conduct
        enabledForGitHubApps: true
        githubCloudOnly: false
        previews:
          - name: scarlet-witch
            note: >-
              The Codes of Conduct API is currently available for developers to preview.


              To access the API during the preview period, you must provide a custom [media type](https://developer.github.com/v3/media) in the `Accept` header:

              ```shell

              application/vnd.github.scarlet-witch-preview+json

              ```
            required: true
        subcategory: null
  "/content_references/{content_reference_id}/attachments":
    post:
      description: >-
        Creates an attachment under a content reference URL in the body or comment of an issue or pull request. Use the `id` of the content reference from the [`content_reference` event](https://developer.github.com/webhooks/event-payloads/#content_reference) to create an attachment.


        The app must create a content attachment within six hours of the content reference URL being posted. See "[Using content attachments](https://developer.github.com/apps/using-content-attachments/)" for details about content attachments.


        You must use an [installation access token](https://developer.github.com/apps/building-github-apps/authenticating-with-github-apps/#authenticating-as-an-installation) to access this endpoint.
      externalDocs:
        description: API method documentation
        url: https://developer.github.com/v3/apps/installations/#create-a-content-attachment
      operationId: apps/create-content-attachment
      parameters:
        - description: content_reference_id parameter
          in: path
          name: content_reference_id
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              properties:
                body:
                  description: The body of the attachment
                  example: Body of the attachment
                  maxLength: 262144
                  type: string
                title:
                  description: The title of the attachment
                  example: Title of the attachment
                  maxLength: 1024
                  type: string
              required:
                - title
                - body
              type: object
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/content-reference-attachment"
              schema:
                $ref: "#/components/schemas/content-reference-attachment"
          description: response
        "304":
          $ref: "#/components/responses/not_modified"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not_found"
        "410":
          $ref: "#/components/responses/gone"
        "415":
          $ref: "#/components/responses/preview_header_missing"
        "422":
          $ref: "#/components/responses/validation_failed"
      summary: Create a content attachment
      tags:
        - apps
      x-github:
        category: apps
        enabledForGitHubApps: true
        githubCloudOnly: false
        previews:
          - name: corsair
            note: >-
              To access the Content Attachments API during the preview period, you must provide a custom [media type](https://developer.github.com/v3/media) in the `Accept` header:

              ```shell

              application/vnd.github.corsair-preview+json

              ```
            required: true
        subcategory: installations
  /emojis:
    get:
      description: Lists all the emojis available to use on GitHub.
      externalDocs:
        description: API method documentation
        url: https://developer.github.com/v3/emojis/#get-emojis
      operationId: emojis/get
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
          description: response
        "304":
          $ref: "#/components/responses/not_modified"
      summary: Get emojis
      tags:
        - emojis
      x-github:
        category: emojis
        enabledForGitHubApps: true
        githubCloudOnly: false
        previews: []
        subcategory: null
  "/enterprises/{enterprise_id}/settings/billing/actions":
    get:
      description: >-
        **Warning:** The Billing API is currently in public beta and subject to change.


        Gets the summary of the free and paid GitHub Actions minutes used.


        Paid minutes only apply to workflows in private repositories that use GitHub-hosted runners. Minutes used is listed for each GitHub-hosted runner operating system. Any job re-runs are also included in the usage. The usage does not include the multiplier for macOS and Windows runners and is not rounded up to the nearest whole minute. For more information, see "[Managing billing for GitHub Actions](https://help.github.com/github/setting-up-and-managing-billing-and-payments-on-github/managing-billing-for-github-actions)".


        The authenticated user must be an enterprise admin.
      externalDocs:
        description: API method documentation
        url: https://developer.github.com/v3/billing/#get-github-actions-billing-for-an-enterprise
      operationId: billing/get-github-actions-billing-ghe
      parameters:
        - $ref: "#/components/parameters/enterprise-id"
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/actions-billing-usage"
              schema:
                $ref: "#/components/schemas/actions-billing-usage"
          description: response
      summary: Get GitHub Actions billing for an enterprise
      tags:
        - billing
      x-github:
        category: enterprise-admin
        enabledForGitHubApps: false
        githubCloudOnly: true
        previews: []
        subcategory: billing
  "/enterprises/{enterprise_id}/settings/billing/packages":
    get:
      description: >-
        **Warning:** The Billing API is currently in public beta and subject to change.


        Gets the free and paid storage used for GitHub Packages in gigabytes.


        Paid minutes only apply to packages stored for private repositories. For more information, see "[Managing billing for GitHub Packages](https://help.github.com/github/setting-up-and-managing-billing-and-payments-on-github/managing-billing-for-github-packages)."


        The authenticated user must be an enterprise admin.
      externalDocs:
        description: API method documentation
        url: https://developer.github.com/v3/billing/#get-github-packages-billing-for-an-enterprise
      operationId: billing/get-github-packages-billing-ghe
      parameters:
        - $ref: "#/components/parameters/enterprise-id"
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/packages-billing-usage"
              schema:
                $ref: "#/components/schemas/packages-billing-usage"
          description: response
      summary: Get GitHub Packages billing for an enterprise
      tags:
        - billing
      x-github:
        category: enterprise-admin
        enabledForGitHubApps: false
        githubCloudOnly: true
        previews: []
        subcategory: billing
  "/enterprises/{enterprise_id}/settings/billing/shared-storage":
    get:
      description: >-
        **Warning:** The Billing API is currently in public beta and subject to change.


        Gets the estimated paid and estimated total storage used for GitHub Actions and Github Packages.


        Paid minutes only apply to packages stored for private repositories. For more information, see "[Managing billing for GitHub Packages](https://help.github.com/github/setting-up-and-managing-billing-and-payments-on-github/managing-billing-for-github-packages)."


        The authenticated user must be an enterprise admin.
      externalDocs:
        description: API method documentation
        url: https://developer.github.com/v3/billing/#get-shared-storage-billing-for-an-enterprise
      operationId: billing/get-shared-storage-billing-ghe
      parameters:
        - $ref: "#/components/parameters/enterprise-id"
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/combined-billing-usage"
              schema:
                $ref: "#/components/schemas/combined-billing-usage"
          description: response
      summary: Get shared storage billing for an enterprise
      tags:
        - billing
      x-github:
        category: enterprise-admin
        enabledForGitHubApps: false
        githubCloudOnly: true
        previews: []
        subcategory: billing
  /events:
    get:
      description: We delay the public events feed by five minutes, which means the most recent event returned by the public events API actually occurred at least five minutes ago.
      externalDocs:
        description: API method documentation
        url: https://developer.github.com/v3/activity/events/#list-public-events
      operationId: activity/list-public-events
      parameters:
        - $ref: "#/components/parameters/per_page"
        - $ref: "#/components/parameters/page"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/event"
                type: array
          description: response
        "304":
          $ref: "#/components/responses/not_modified"
        "403":
          $ref: "#/components/responses/forbidden"
        "503":
          $ref: "#/components/responses/service_unavailable"
      summary: List public events
      tags:
        - activity
      x-github:
        category: activity
        enabledForGitHubApps: true
        githubCloudOnly: false
        previews: []
        subcategory: events
  /feeds:
    get:
      description: >-
        GitHub provides several timeline resources in [Atom](http://en.wikipedia.org/wiki/Atom_(standard)) format. The Feeds API lists all the feeds available to the authenticated user:


        *   **Timeline**: The GitHub global public timeline

        *   **User**: The public timeline for any user, using [URI template](https://developer.github.com/v3/#hypermedia)

        *   **Current user public**: The public timeline for the authenticated user

        *   **Current user**: The private timeline for the authenticated user

        *   **Current user actor**: The private timeline for activity created by the authenticated user

        *   **Current user organizations**: The private timeline for the organizations the authenticated user is a member of.

        *   **Security advisories**: A collection of public announcements that provide information about security-related vulnerabilities in software on GitHub.


        **Note**: Private feeds are only returned when [authenticating via Basic Auth](https://developer.github.com/v3/#basic-authentication) since current feed URIs use the older, non revocable auth tokens.
      externalDocs:
        description: API method documentation
        url: https://developer.github.com/v3/activity/feeds/#get-feeds
      operationId: activity/get-feeds
      parameters: []
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/feed"
              schema:
                $ref: "#/components/schemas/feed"
          description: response
      summary: Get feeds
      tags:
        - activity
      x-github:
        category: activity
        enabledForGitHubApps: true
        githubCloudOnly: false
        previews: []
        subcategory: feeds
  /gists:
    get:
      description: "Lists the authenticated user's gists or if called anonymously, this endpoint returns all public gists:"
      externalDocs:
        description: API method documentation
        url: https://developer.github.com/v3/gists/#list-gists-for-the-authenticated-user
      operationId: gists/list
      parameters:
        - $ref: "#/components/parameters/since"
        - $ref: "#/components/parameters/per_page"
        - $ref: "#/components/parameters/page"
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/base-gist-items"
              schema:
                items:
                  $ref: "#/components/schemas/base-gist"
                type: array
          description: response
          headers:
            Link:
              $ref: "#/components/headers/link"
        "304":
          $ref: "#/components/responses/not_modified"
        "403":
          $ref: "#/components/responses/forbidden"
      summary: List gists for the authenticated user
      tags:
        - gists
      x-github:
        category: gists
        enabledForGitHubApps: false
        githubCloudOnly: false
        previews: []
        subcategory: null
    post:
      description: >-
        Allows you to add a new gist with one or more files.


        **Note:** Don't name your files "gistfile" with a numerical suffix. This is the format of the automatic naming scheme that Gist uses internally.
      externalDocs:
        description: API method documentation
        url: https://developer.github.com/v3/gists/#create-a-gist
      operationId: gists/create
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              properties:
                description:
                  description: Description of the gist
                  example: Example Ruby script
                  type: string
                files:
                  additionalProperties:
                    properties:
                      content:
                        description: Content of the file
                        readOnly: false
                        type: string
                    required:
                      - content
                    type: object
                  description: Names and content for the files that make up the gist
                  example:
                    hello.rb:
                      content: puts "Hello, World!"
                  type: object
                public:
                  oneOf:
                    - default: false
                      description: Flag indicating whether the gist is public
                      example: true
                      type: boolean
                    - default: "false"
                      enum:
                        - "true"
                        - "false"
                      example: "true"
                      type: string
              required:
                - files
              type: object
      responses:
        "201":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/gist"
              schema:
                $ref: "#/components/schemas/gist-full"
          description: response
          headers:
            Location:
              example: https://api.github.com/gists/aa5a315d61ae9438b18d
              schema:
                type: string
        "304":
          $ref: "#/components/responses/not_modified"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not_found"
        "422":
          $ref: "#/components/responses/validation_failed"
      summary: Create a gist
      tags:
        - gists
      x-github:
        category: gists
        enabledForGitHubApps: false
        githubCloudOnly: false
        previews: []
        subcategory: null
  /gists/public:
    get:
      description: >-
        List public gists sorted by most recently updated to least recently updated.


        Note: With [pagination](https://developer.github.com/v3/#pagination), you can fetch up to 3000 gists. For example, you can fetch 100 pages with 30 gists per page or 30 pages with 100 gists per page.
      externalDocs:
        description: API method documentation
        url: https://developer.github.com/v3/gists/#list-public-gists
      operationId: gists/list-public
      parameters:
        - $ref: "#/components/parameters/since"
        - $ref: "#/components/parameters/per_page"
        - $ref: "#/components/parameters/page"
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/base-gist-items"
              schema:
                items:
                  $ref: "#/components/schemas/base-gist"
                type: array
          description: response
          headers:
            Link:
              $ref: "#/components/headers/link"
        "304":
          $ref: "#/components/responses/not_modified"
        "403":
          $ref: "#/components/responses/forbidden"
        "422":
          $ref: "#/components/responses/validation_failed"
      summary: List public gists
      tags:
        - gists
      x-github:
        category: gists
        enabledForGitHubApps: false
        githubCloudOnly: false
        previews: []
        subcategory: null
  /gists/starred:
    get:
      description: "List the authenticated user's starred gists:"
      externalDocs:
        description: API method documentation
        url: https://developer.github.com/v3/gists/#list-starred-gists
      operationId: gists/list-starred
      parameters:
        - $ref: "#/components/parameters/since"
        - $ref: "#/components/parameters/per_page"
        - $ref: "#/components/parameters/page"
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/base-gist-items"
              schema:
                items:
                  $ref: "#/components/schemas/base-gist"
                type: array
          description: response
          headers:
            Link:
              $ref: "#/components/headers/link"
        "304":
          $ref: "#/components/responses/not_modified"
        "401":
          $ref: "#/components/responses/requires_authentication"
        "403":
          $ref: "#/components/responses/forbidden"
      summary: List starred gists
      tags:
        - gists
      x-github:
        category: gists
        enabledForGitHubApps: false
        githubCloudOnly: false
        previews: []
        subcategory: null
  "/gists/{gist_id}":
    delete:
      description: ""
      externalDocs:
        description: API method documentation
        url: https://developer.github.com/v3/gists/#delete-a-gist
      operationId: gists/delete
      parameters:
        - $ref: "#/components/parameters/gist_id"
      responses:
        "204":
          description: Empty response
        "304":
          $ref: "#/components/responses/not_modified"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not_found"
      summary: Delete a gist
      tags:
        - gists
      x-github:
        category: gists
        enabledForGitHubApps: false
        githubCloudOnly: false
        previews: []
        subcategory: null
    get:
      description: ""
      externalDocs:
        description: API method documentation
        url: https://developer.github.com/v3/gists/#get-a-gist
      operationId: gists/get
      parameters:
        - $ref: "#/components/parameters/gist_id"
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/gist"
              schema:
                $ref: "#/components/schemas/gist-full"
          description: response
        "304":
          $ref: "#/components/responses/not_modified"
        "403":
          $ref: "#/components/responses/forbidden_gist"
        "404":
          $ref: "#/components/responses/not_found"
      summary: Get a gist
      tags:
        - gists
      x-github:
        category: gists
        enabledForGitHubApps: false
        githubCloudOnly: false
        previews: []
        subcategory: null
    patch:
      description: Allows you to update or delete a gist file and rename gist files. Files from the previous version of the gist that aren't explicitly changed during an edit are unchanged.
      externalDocs:
        description: API method documentation
        url: https://developer.github.com/v3/gists/#update-a-gist
      operationId: gists/update
      parameters:
        - $ref: "#/components/parameters/gist_id"
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
                - required:
                    - description
                - required:
                    - files
              nullable: true
              properties:
                description:
                  description: Description of the gist
                  example: Example Ruby script
                  type: string
                files:
                  additionalProperties:
                    nullable: true
                    properties:
                      content:
                        description: The new content of the file
                        type: string
                      filename:
                        description: The new filename for the file
                        nullable: true
                        type: string
                    type: object
                  description: Names of files to be updated
                  example:
                    hello.rb:
                      content: blah
                      filename: goodbye.rb
                  type: object
              type: object
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/gist-3"
              schema:
                $ref: "#/components/schemas/gist-full"
          description: response
        "404":
          $ref: "#/components/responses/not_found"
        "422":
          $ref: "#/components/responses/validation_failed"
      summary: Update a gist
      tags:
        - gists
      x-github:
        category: gists
        enabledForGitHubApps: false
        githubCloudOnly: false
        previews: []
        subcategory: null
  "/gists/{gist_id}/comments":
    get:
      description: ""
      externalDocs:
        description: API method documentation
        url: https://developer.github.com/v3/gists/comments/#list-gist-comments
      operationId: gists/list-comments
      parameters:
        - $ref: "#/components/parameters/gist_id"
        - $ref: "#/components/parameters/per_page"
        - $ref: "#/components/parameters/page"
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  $ref: "#/components/examples/gist-comment-items"
              schema:
                items:
                  $ref: "#/components/schemas/gist-comment"
                type: array
          description: response
          headers:
            Link:
              $ref: "#/components/headers/link"
        "304":
          $ref: "#/components/responses/not_modified"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not_found"
      summary: List gist comments
      tags:
        - gists
      x-github:
        category: gists
        enabledForGitHubApps: false
        githubCloudOnly: false
        previews: []
[...]
