swagger: "2.0"
schemes:
  - https
host: southcentralus.api.cognitive.microsoft.com
basePath: /customvision/v2.2/Training
info:
  contact:
    x-twitter: microsoft
  title: Custom Vision Training Client
  version: "2.2"
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://twitter.com/microsoft/profile_image?size=original
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cognitiveservices/data-plane/CustomVision/Training/stable/v2.2/Training.json
      version: "2.0"
  x-preferred: false
  x-providerName: microsoft.com
  x-serviceName: cognitiveservices-Training
  x-tags:
    - Microsoft
parameters:
  ApiKey:
    in: header
    name: Training-Key
    required: true
    type: string
    x-ms-client-name: ApiKey
    x-ms-parameter-location: client
  Endpoint:
    description: Supported Cognitive Services endpoints
    in: path
    name: Endpoint
    required: true
    type: string
    x-ms-parameter-location: client
    x-ms-skip-url-encoding: true
paths:
  /domains:
    get:
      consumes: []
      operationId: GetDomains
      parameters:
        - $ref: "#/parameters/ApiKey"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: "#/definitions/Domain"
            type: array
            x-nullable: true
      summary: Get a list of the available domains.
      tags:
        - DomainsApi
      x-ms-examples:
        Successful GetDomains request:
          $ref: ./examples/GetDomains.json
  "/domains/{domainId}":
    get:
      consumes: []
      operationId: GetDomain
      parameters:
        - description: The id of the domain to get information about.
          format: uuid
          in: path
          name: domainId
          required: true
          type: string
          x-nullable: false
        - $ref: "#/parameters/ApiKey"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Domain"
      summary: Get information about a specific domain.
      tags:
        - DomainsApi
      x-ms-examples:
        Successful GetDomain request:
          $ref: ./examples/GetDomain.json
  /projects:
    get:
      consumes: []
      operationId: GetProjects
      parameters:
        - $ref: "#/parameters/ApiKey"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: "#/definitions/Project"
            type: array
            x-nullable: true
      summary: Get your projects.
      tags:
        - ProjectApi
      x-ms-examples:
        Successful GetProjects request:
          $ref: ./examples/GetProjects.json
    post:
      consumes: []
      operationId: CreateProject
      parameters:
        - description: Name of the project.
          in: query
          name: name
          required: true
          type: string
          x-nullable: true
        - description: The description of the project.
          in: query
          name: description
          required: false
          type: string
          x-nullable: true
        - description: The id of the domain to use for this project. Defaults to General.
          format: uuid
          in: query
          name: domainId
          required: false
          type: string
          x-nullable: true
        - description: The type of classifier to create for this project.
          enum:
            - Multiclass
            - Multilabel
          in: query
          name: classificationType
          required: false
          type: string
          x-nullable: false
        - $ref: "#/parameters/ApiKey"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Project"
      summary: Create a project.
      tags:
        - ProjectApi
      x-ms-examples:
        Successful CreateProject request:
          $ref: ./examples/CreateProject.json
  "/projects/{projectId}":
    delete:
      consumes: []
      operationId: DeleteProject
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - $ref: "#/parameters/ApiKey"
      produces: []
      responses:
        "204":
          description: No Content
      summary: Delete a specific project.
      tags:
        - ProjectApi
      x-ms-examples:
        Successful DeleteProject request:
          $ref: ./examples/DeleteProject.json
    get:
      consumes: []
      operationId: GetProject
      parameters:
        - description: The id of the project to get.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - $ref: "#/parameters/ApiKey"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Project"
      summary: Get a specific project.
      tags:
        - ProjectApi
      x-ms-examples:
        Successful GetProject request:
          $ref: ./examples/GetProject.json
    patch:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: UpdateProject
      parameters:
        - description: The id of the project to update.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The updated project model.
          in: body
          name: updatedProject
          required: true
          schema:
            $ref: "#/definitions/Project"
        - $ref: "#/parameters/ApiKey"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Project"
      summary: Update a specific project.
      tags:
        - ProjectApi
      x-ms-examples:
        Successful UpdateProject request:
          $ref: ./examples/UpdateProject.json
  "/projects/{projectId}/images":
    delete:
      consumes: []
      operationId: DeleteImages
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - collectionFormat: csv
          description: Ids of the images to be deleted. Limited to 256 images per batch.
          in: query
          items:
            type: string
            x-nullable: false
          name: imageIds
          required: true
          type: array
          x-nullable: true
        - $ref: "#/parameters/ApiKey"
      produces: []
      responses:
        "204":
          description: No Content
      summary: Delete images from the set of training images.
      tags:
        - ImageApi
      x-ms-examples:
        Successful DeleteImages request:
          $ref: ./examples/DeleteImages.json
    post:
      consumes:
        - multipart/form-data
        - application/octet-stream
      description: "This API accepts body content as multipart/form-data and
        application/octet-stream. When using multipart\r

        multiple image files can be sent at once, with a maximum of 64
        files"
      operationId: CreateImagesFromData
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - collectionFormat: csv
          description: The tags ids with which to tag each image. Limited to 20.
          in: query
          items:
            type: string
            x-nullable: false
          name: tagIds
          required: false
          type: array
          x-nullable: true
        - description: Binary image data.
          in: formData
          name: imageData
          required: true
          type: file
        - $ref: "#/parameters/ApiKey"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ImageCreateSummary"
      summary: Add the provided images to the set of training images.
      tags:
        - ImageApi
      x-ms-examples:
        Successful CreateImagesFromData request:
          $ref: ./examples/CreateImagesFromData.json
  "/projects/{projectId}/images/files":
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      description: This API accepts a batch of files, and optionally tags, to create
        images. There is a limit of 64 images and 20 tags.
      operationId: CreateImagesFromFiles
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The batch of image files to add. Limited to 64 images and 20 tags
            per batch.
          in: body
          name: batch
          required: true
          schema:
            $ref: "#/definitions/ImageFileCreateBatch"
        - $ref: "#/parameters/ApiKey"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ImageCreateSummary"
      summary: Add the provided batch of images to the set of training images.
      tags:
        - ImageApi
      x-ms-examples:
        Successful CreateImagesFromFiles request:
          $ref: ./examples/CreateImagesFromFiles.json
  "/projects/{projectId}/images/id":
    get:
      consumes: []
      description: "This API will return a set of Images for the specified tags and
        optionally iteration. If no iteration is specified the\r

        current workspace is used."
      operationId: GetImagesByIds
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - collectionFormat: csv
          description: The list of image ids to retrieve. Limited to 256.
          in: query
          items:
            type: string
            x-nullable: false
          name: imageIds
          required: false
          type: array
          x-nullable: true
        - description: The iteration id. Defaults to workspace.
          format: uuid
          in: query
          name: iterationId
          required: false
          type: string
          x-nullable: true
        - $ref: "#/parameters/ApiKey"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: "#/definitions/Image"
            type: array
            x-nullable: true
      summary: Get images by id for a given project iteration.
      tags:
        - ImageApi
      x-ms-examples:
        Successful GetImagesByIds request:
          $ref: ./examples/GetImagesByIds.json
  "/projects/{projectId}/images/predictions":
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      description: This API creates a batch of images from predicted images specified.
        There is a limit of 64 images and 20 tags.
      operationId: CreateImagesFromPredictions
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: Image and tag ids. Limited to 64 images and 20 tags per batch.
          in: body
          name: batch
          required: true
          schema:
            $ref: "#/definitions/ImageIdCreateBatch"
        - $ref: "#/parameters/ApiKey"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ImageCreateSummary"
      summary: Add the specified predicted images to the set of training images.
      tags:
        - ImageApi
      x-ms-examples:
        Successful CreateImagesFromPredictions request:
          $ref: ./examples/CreateImagesFromPredictions.json
  "/projects/{projectId}/images/regions":
    delete:
      consumes: []
      operationId: DeleteImageRegions
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - collectionFormat: csv
          description: Regions to delete. Limited to 64.
          in: query
          items:
            type: string
            x-nullable: false
          name: regionIds
          required: true
          type: array
          x-nullable: true
        - $ref: "#/parameters/ApiKey"
      produces: []
      responses:
        "204":
          description: No Content
      summary: Delete a set of image regions.
      tags:
        - ImageApi
      x-ms-examples:
        Successful DeleteImageRegions request:
          $ref: ./examples/DeleteImageRegions.json
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      description: "This API accepts a batch of image regions, and optionally tags, to
        update existing images with region information.\r

        There is a limit of 64 entries in the batch."
      operationId: CreateImageRegions
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: Batch of image regions which include a tag and bounding box.
            Limited to 64.
          in: body
          name: batch
          required: true
          schema:
            $ref: "#/definitions/ImageRegionCreateBatch"
        - $ref: "#/parameters/ApiKey"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ImageRegionCreateSummary"
      summary: Create a set of image regions.
      tags:
        - ImageApi
      x-ms-examples:
        Successful CreateImageRegions request:
          $ref: ./examples/CreateImageRegions.json
  "/projects/{projectId}/images/tagged":
    get:
      consumes: []
      description: "This API supports batching and range selection. By default it will
        only return first 50 images matching images.\r

        Use the {take} and {skip} parameters to control how many images
        to return in a given batch.\r

        The filtering is on an and/or relationship. For example, if the
        provided tag ids are for the \"Dog\" and\r

        \"Cat\" tags, then only images tagged with Dog and/or Cat will
        be returned"
      operationId: GetTaggedImages
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The iteration id. Defaults to workspace.
          format: uuid
          in: query
          name: iterationId
          required: false
          type: string
          x-nullable: true
        - collectionFormat: csv
          description: A list of tags ids to filter the images. Defaults to all tagged
            images when null. Limited to 20.
          in: query
          items:
            type: string
            x-nullable: false
          name: tagIds
          required: false
          type: array
          x-nullable: true
        - description: The ordering. Defaults to newest.
          enum:
            - Newest
            - Oldest
          in: query
          name: orderBy
          required: false
          type: string
          x-nullable: false
        - default: 50
          description: Maximum number of images to return. Defaults to 50, limited to 256.
          format: int32
          in: query
          name: take
          required: false
          type: integer
        - default: 0
          description: Number of images to skip before beginning the image batch. Defaults
            to 0.
          format: int32
          in: query
          name: skip
          required: false
          type: integer
        - $ref: "#/parameters/ApiKey"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: "#/definitions/Image"
            type: array
            x-nullable: true
      summary: Get tagged images for a given project iteration.
      tags:
        - ImageApi
      x-ms-examples:
        Successful GetTaggedImages request:
          $ref: ./examples/GetTaggedImages.json
  "/projects/{projectId}/images/tagged/count":
    get:
      consumes: []
      description: "The filtering is on an and/or relationship. For example, if the
        provided tag ids are for the \"Dog\" and\r

        \"Cat\" tags, then only images tagged with Dog and/or Cat will
        be returned"
      operationId: GetTaggedImageCount
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The iteration id. Defaults to workspace.
          format: uuid
          in: query
          name: iterationId
          required: false
          type: string
          x-nullable: true
        - collectionFormat: csv
          description: A list of tags ids to filter the images to count. Defaults to all
            tags when null.
          in: query
          items:
            type: string
            x-nullable: false
          name: tagIds
          required: false
          type: array
          x-nullable: true
        - $ref: "#/parameters/ApiKey"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            format: int32
            type: integer
            x-nullable: false
      summary: Gets the number of images tagged with the provided {tagIds}.
      tags:
        - ImageApi
      x-ms-examples:
        Successful GetTaggedImageCount request:
          $ref: ./examples/GetTaggedImageCount.json
  "/projects/{projectId}/images/tags":
    delete:
      consumes: []
      operationId: DeleteImageTags
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - collectionFormat: csv
          description: Image ids. Limited to 64 images.
          in: query
          items:
            type: string
            x-nullable: false
          name: imageIds
          required: true
          type: array
          x-nullable: true
        - collectionFormat: csv
          description: Tags to be deleted from the specified images. Limited to 20 tags.
          in: query
          items:
            type: string
            x-nullable: false
          name: tagIds
          required: true
          type: array
          x-nullable: true
        - $ref: "#/parameters/ApiKey"
      produces: []
      responses:
        "204":
          description: No Content
      summary: Remove a set of tags from a set of images.
      tags:
        - ImageApi
      x-ms-examples:
        Successful DeleteImageTags request:
          $ref: ./examples/DeleteImageTags.json
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: CreateImageTags
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: Batch of image tags. Limited to 128 tags per batch.
          in: body
          name: batch
          required: true
          schema:
            $ref: "#/definitions/ImageTagCreateBatch"
        - $ref: "#/parameters/ApiKey"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ImageTagCreateSummary"
      summary: Associate a set of images with a set of tags.
      tags:
        - ImageApi
      x-ms-examples:
        Successful CreateImageTags request:
          $ref: ./examples/CreateImageTags.json
  "/projects/{projectId}/images/untagged":
    get:
      consumes: []
      description: "This API supports batching and range selection. By default it will
        only return first 50 images matching images.\r

        Use the {take} and {skip} parameters to control how many images
        to return in a given batch."
      operationId: GetUntaggedImages
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The iteration id. Defaults to workspace.
          format: uuid
          in: query
          name: iterationId
          required: false
          type: string
          x-nullable: true
        - description: The ordering. Defaults to newest.
          enum:
            - Newest
            - Oldest
          in: query
          name: orderBy
          required: false
          type: string
          x-nullable: false
        - default: 50
          description: Maximum number of images to return. Defaults to 50, limited to 256.
          format: int32
          in: query
          name: take
          required: false
          type: integer
        - default: 0
          description: Number of images to skip before beginning the image batch. Defaults
            to 0.
          format: int32
          in: query
          name: skip
          required: false
          type: integer
        - $ref: "#/parameters/ApiKey"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: "#/definitions/Image"
            type: array
            x-nullable: true
      summary: Get untagged images for a given project iteration.
      tags:
        - ImageApi
      x-ms-examples:
        Successful GetUntaggedImages request:
          $ref: ./examples/GetUntaggedImages.json
  "/projects/{projectId}/images/untagged/count":
    get:
      consumes: []
      description: "This API returns the images which have no tags for a given project
        and optionally an iteration. If no iteration is specified the\r

        current workspace is used."
      operationId: GetUntaggedImageCount
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The iteration id. Defaults to workspace.
          format: uuid
          in: query
          name: iterationId
          required: false
          type: string
          x-nullable: true
        - $ref: "#/parameters/ApiKey"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            format: int32
            type: integer
            x-nullable: false
      summary: Gets the number of untagged images.
      tags:
        - ImageApi
      x-ms-examples:
        Successful GetUntaggedImageCount request:
          $ref: ./examples/GetUntaggedImageCount.json
  "/projects/{projectId}/images/urls":
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      description: This API accepts a batch of urls, and optionally tags, to create
        images. There is a limit of 64 images and 20 tags.
      operationId: CreateImagesFromUrls
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: Image urls and tag ids. Limited to 64 images and 20 tags per batch.
          in: body
          name: batch
          required: true
          schema:
            $ref: "#/definitions/ImageUrlCreateBatch"
        - $ref: "#/parameters/ApiKey"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ImageCreateSummary"
      summary: Add the provided images urls to the set of training images.
      tags:
        - ImageApi
      x-ms-examples:
        Successful CreateImagesFromUrls request:
          $ref: ./examples/CreateImagesFromUrls.json
  "/projects/{projectId}/iterations":
    get:
      consumes: []
      operationId: GetIterations
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - $ref: "#/parameters/ApiKey"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: "#/definitions/Iteration"
            type: array
            x-nullable: true
      summary: Get iterations for the project.
      tags:
        - ProjectApi
      x-ms-examples:
        Successful GetIterations request:
          $ref: ./examples/GetIterations.json
  "/projects/{projectId}/iterations/{iterationId}":
    delete:
      consumes: []
      operationId: DeleteIteration
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The iteration id.
          format: uuid
          in: path
          name: iterationId
          required: true
          type: string
          x-nullable: false
        - $ref: "#/parameters/ApiKey"
      produces: []
      responses:
        "204":
          description: No Content
      summary: Delete a specific iteration of a project.
      tags:
        - ProjectApi
      x-ms-examples:
        Successful DeleteIteration request:
          $ref: ./examples/DeleteIteration.json
    get:
      consumes: []
      operationId: GetIteration
      parameters:
        - description: The id of the project the iteration belongs to.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The id of the iteration to get.
          format: uuid
          in: path
          name: iterationId
          required: true
          type: string
          x-nullable: false
        - $ref: "#/parameters/ApiKey"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Iteration"
      summary: Get a specific iteration.
      tags:
        - ProjectApi
      x-ms-examples:
        Successful GetIteration request:
          $ref: ./examples/GetIteration.json
    patch:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: UpdateIteration
      parameters:
        - description: Project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: Iteration id.
          format: uuid
          in: path
          name: iterationId
          required: true
          type: string
          x-nullable: false
        - description: The updated iteration model.
          in: body
          name: updatedIteration
          required: true
          schema:
            $ref: "#/definitions/Iteration"
        - $ref: "#/parameters/ApiKey"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Iteration"
      summary: Update a specific iteration.
      tags:
        - ProjectApi
      x-ms-examples:
        Successful UpdateIteration request:
          $ref: ./examples/UpdateIteration.json
  "/projects/{projectId}/iterations/{iterationId}/export":
    get:
      consumes: []
      operationId: GetExports
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The iteration id.
          format: uuid
          in: path
          name: iterationId
          required: true
          type: string
          x-nullable: false
        - $ref: "#/parameters/ApiKey"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: "#/definitions/Export"
            type: array
            x-nullable: true
      summary: Get the list of exports for a specific iteration.
      tags:
        - ProjectApi
      x-ms-examples:
        Successful GetExports request:
          $ref: ./examples/GetExports.json
    post:
      consumes: []
      operationId: ExportIteration
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The iteration id.
          format: uuid
          in: path
          name: iterationId
          required: true
          type: string
          x-nullable: false
        - description: The target platform.
          enum:
            - CoreML
            - TensorFlow
            - DockerFile
            - ONNX
          in: query
          name: platform
          required: true
          type: string
          x-nullable: true
        - description: The flavor of the target platform.
          enum:
            - Linux
            - Windows
            - ONNX10
            - ONNX12
          in: query
          name: flavor
          required: false
          type: string
          x-nullable: true
        - $ref: "#/parameters/ApiKey"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Export"
      summary: Export a trained iteration.
      tags:
        - ProjectApi
      x-ms-examples:
        Successful ExportIteration request:
          $ref: ./examples/ExportIteration.json
  "/projects/{projectId}/iterations/{iterationId}/performance":
    get:
      consumes: []
      operationId: GetIterationPerformance
      parameters:
        - description: The id of the project the iteration belongs to.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The id of the iteration to get.
          format: uuid
          in: path
          name: iterationId
          required: true
          type: string
          x-nullable: false
        - description: The threshold used to determine true predictions.
          format: float
          in: query
          name: threshold
          required: false
          type: number
        - description: If applicable, the bounding box overlap threshold used to determine
            true predictions.
          format: float
          in: query
          name: overlapThreshold
          required: false
          type: number
        - $ref: "#/parameters/ApiKey"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/IterationPerformance"
      summary: Get detailed performance information about an iteration.
      tags:
        - ProjectApi
      x-ms-examples:
        Successful GetIterationPerformance request:
          $ref: ./examples/GetIterationPerformance.json
  "/projects/{projectId}/iterations/{iterationId}/performance/images":
    get:
      consumes: []
      description: "This API supports batching and range selection. By default it will
        only return first 50 images matching images.\r

        Use the {take} and {skip} parameters to control how many images
        to return in a given batch.\r

        The filtering is on an and/or relationship. For example, if the
        provided tag ids are for the \"Dog\" and\r

        \"Cat\" tags, then only images tagged with Dog and/or Cat will
        be returned"
      operationId: GetImagePerformances
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The iteration id. Defaults to workspace.
          format: uuid
          in: path
          name: iterationId
          required: true
          type: string
          x-nullable: false
        - collectionFormat: csv
          description: A list of tags ids to filter the images. Defaults to all tagged
            images when null. Limited to 20.
          in: query
          items:
            type: string
            x-nullable: false
          name: tagIds
          required: false
          type: array
          x-nullable: true
        - description: The ordering. Defaults to newest.
          enum:
            - Newest
            - Oldest
          in: query
          name: orderBy
          required: false
          type: string
          x-nullable: false
        - default: 50
          description: Maximum number of images to return. Defaults to 50, limited to 256.
          format: int32
          in: query
          name: take
          required: false
          type: integer
        - default: 0
          description: Number of images to skip before beginning the image batch. Defaults
            to 0.
          format: int32
          in: query
          name: skip
          required: false
          type: integer
        - $ref: "#/parameters/ApiKey"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: "#/definitions/ImagePerformance"
            type: array
            x-nullable: true
      summary: Get image with its prediction for a given project iteration.
      tags:
        - ProjectApi
      x-ms-examples:
        Successful GetImagePerformances request:
          $ref: ./examples/GetImagePerformances.json
  "/projects/{projectId}/iterations/{iterationId}/performance/images/count":
    get:
      consumes: []
      description: "The filtering is on an and/or relationship. For example, if the
        provided tag ids are for the \"Dog\" and\r

        \"Cat\" tags, then only images tagged with Dog and/or Cat will
        be returned"
      operationId: GetImagePerformanceCount
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The iteration id. Defaults to workspace.
          format: uuid
          in: path
          name: iterationId
          required: true
          type: string
          x-nullable: false
        - collectionFormat: csv
          description: A list of tags ids to filter the images to count. Defaults to all
            tags when null.
          in: query
          items:
            type: string
            x-nullable: false
          name: tagIds
          required: false
          type: array
          x-nullable: true
        - $ref: "#/parameters/ApiKey"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            format: int32
            type: integer
            x-nullable: false
      summary: "Gets the number of images tagged with the provided {tagIds} that have
        prediction results from\r

        training for the provided iteration {iterationId}."
      tags:
        - ProjectApi
      x-ms-examples:
        Successful GetImagePerformanceCount request:
          $ref: ./examples/GetImagePerformanceCount.json
  "/projects/{projectId}/predictions":
    delete:
      consumes: []
      operationId: DeletePrediction
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - collectionFormat: csv
          description: The prediction ids. Limited to 64.
          in: query
          items:
            type: string
            x-nullable: false
          name: ids
          required: true
          type: array
          x-nullable: true
        - $ref: "#/parameters/ApiKey"
      produces: []
      responses:
        "204":
          description: No Content
      summary: Delete a set of predicted images and their associated prediction results.
      tags:
        - PredictionsApi
      x-ms-examples:
        Successful DeletePrediction request:
          $ref: ./examples/DeletePrediction.json
  "/projects/{projectId}/predictions/query":
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: QueryPredictions
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: Parameters used to query the predictions. Limited to combining 2
            tags.
          in: body
          name: query
          required: true
          schema:
            $ref: "#/definitions/PredictionQueryToken"
        - $ref: "#/parameters/ApiKey"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/PredictionQueryResult"
      summary: Get images that were sent to your prediction endpoint.
      tags:
        - PredictionsApi
      x-ms-examples:
        Successful QueryPredictions request:
          $ref: ./examples/QueryPredictions.json
  "/projects/{projectId}/quicktest/image":
    post:
      consumes:
        - multipart/form-data
        - application/octet-stream
      operationId: QuickTestImage
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: "Optional. Specifies the id of a particular iteration to evaluate
            against.\r

            \            The default iteration for the project will
            be used when not specified."
          format: uuid
          in: query
          name: iterationId
          required: false
          type: string
          x-nullable: true
        - description: Binary image data.
          in: formData
          name: imageData
          required: true
          type: file
        - $ref: "#/parameters/ApiKey"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ImagePrediction"
      summary: Quick test an image.
      tags:
        - PredictionsApi
      x-ms-examples:
        Successful QuickTestImage request:
          $ref: ./examples/QuickTestImage.json
  "/projects/{projectId}/quicktest/url":
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: QuickTestImageUrl
      parameters:
        - description: The project to evaluate against.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: An {Iris.Web.Api.Models.ImageUrl} that contains the url of the
            image to be evaluated.
          in: body
          name: imageUrl
          required: true
          schema:
            $ref: "#/definitions/ImageUrl"
        - description: "Optional. Specifies the id of a particular iteration to evaluate
            against.\r

            \            The default iteration for the project will
            be used when not specified."
          format: uuid
          in: query
          name: iterationId
          required: false
          type: string
          x-nullable: true
        - $ref: "#/parameters/ApiKey"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ImagePrediction"
      summary: Quick test an image url.
      tags:
        - PredictionsApi
      x-ms-examples:
        Successful QuickTestImageUrl request:
          $ref: ./examples/QuickTestImageUrl.json
  "/projects/{projectId}/tags":
    get:
      consumes: []
      operationId: GetTags
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The iteration id. Defaults to workspace.
          format: uuid
          in: query
          name: iterationId
          required: false
          type: string
          x-nullable: true
        - $ref: "#/parameters/ApiKey"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: "#/definitions/Tag"
            type: array
            x-nullable: true
      summary: Get the tags for a given project and iteration.
      tags:
        - TagsApi
      x-ms-examples:
        Successful GetTags request:
          $ref: ./examples/GetTags.json
    post:
      consumes: []
      operationId: CreateTag
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The tag name.
          in: query
          name: name
          required: true
          type: string
          x-nullable: true
        - description: Optional description for the tag.
          in: query
          name: description
          required: false
          type: string
          x-nullable: true
        - description: Optional type for the tag.
          enum:
            - Regular
            - Negative
          in: query
          name: type
          required: false
          type: string
          x-nullable: false
        - $ref: "#/parameters/ApiKey"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Tag"
      summary: Create a tag for the project.
      tags:
        - TagsApi
      x-ms-examples:
        Successful CreateTag request:
          $ref: ./examples/CreateTag.json
  "/projects/{projectId}/tags/{tagId}":
    delete:
      consumes: []
      operationId: DeleteTag
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: Id of the tag to be deleted.
          format: uuid
          in: path
          name: tagId
          required: true
          type: string
          x-nullable: false
        - $ref: "#/parameters/ApiKey"
      produces: []
      responses:
        "204":
          description: No Content
      summary: Delete a tag from the project.
      tags:
        - TagsApi
      x-ms-examples:
        Successful DeleteTag request:
          $ref: ./examples/DeleteTag.json
    get:
      consumes: []
      operationId: GetTag
      parameters:
        - description: The project this tag belongs to.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The tag id.
          format: uuid
          in: path
          name: tagId
          required: true
          type: string
          x-nullable: false
        - description: The iteration to retrieve this tag from. Optional, defaults to
            current training set.
          format: uuid
          in: query
          name: iterationId
          required: false
          type: string
          x-nullable: true
        - $ref: "#/parameters/ApiKey"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Tag"
      summary: Get information about a specific tag.
      tags:
        - TagsApi
      x-ms-examples:
        Successful GetTag request:
          $ref: ./examples/GetTag.json
    patch:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: UpdateTag
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The id of the target tag.
          format: uuid
          in: path
          name: tagId
          required: true
          type: string
          x-nullable: false
        - description: The updated tag model.
          in: body
          name: updatedTag
          required: true
          schema:
            $ref: "#/definitions/Tag"
        - $ref: "#/parameters/ApiKey"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Tag"
      summary: Update a tag.
      tags:
        - TagsApi
      x-ms-examples:
        Successful UpdateTag request:
          $ref: ./examples/UpdateTag.json
  "/projects/{projectId}/train":
    post:
      consumes: []
      operationId: TrainProject
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - $ref: "#/parameters/ApiKey"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Iteration"
      summary: Queues project for training.
      tags:
        - ProjectApi
      x-ms-examples:
        Successful TrainProject request:
          $ref: ./examples/TrainProject.json
  "/{projectId}/images/{imageId}/regionproposals":
    post:
      consumes: []
      description: This API will get region proposals for an image along with
        confidences for the region. It returns an empty array if no proposals
        are found.
      operationId: GetImageRegionProposals
      parameters:
        - description: The project id.
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The image id.
          format: uuid
          in: path
          name: imageId
          required: true
          type: string
          x-nullable: false
        - $ref: "#/parameters/ApiKey"
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ImageRegionProposal"
      summary: Get region proposals for an image. Returns empty array if no proposals
        are found.
      tags:
        - ImageRegionProposalApi
      x-ms-examples:
        Successful GetImageRegionProposals request:
          $ref: ./examples/GetImageRegionProposals.json
definitions:
  BoundingBox:
    properties:
      height:
        format: float
        type: number
        x-nullable: false
      left:
        format: float
        type: number
        x-nullable: false
      top:
        format: float
        type: number
        x-nullable: false
      width:
        format: float
        type: number
        x-nullable: false
    type: object
    x-nullable: true
  Domain:
    properties:
      enabled:
        readOnly: true
        type: boolean
        x-nullable: false
      exportable:
        readOnly: true
        type: boolean
        x-nullable: false
      id:
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      name:
        readOnly: true
        type: string
        x-nullable: true
      type:
        enum:
          - Classification
          - ObjectDetection
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: DomainType
        x-nullable: false
    type: object
    x-nullable: true
  Export:
    properties:
      downloadUri:
        description: URI used to download the model.
        readOnly: true
        type: string
        x-nullable: true
      flavor:
        description: Flavor of the export.
        enum:
          - Linux
          - Windows
          - ONNX10
          - ONNX12
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: ExportFlavorModel
        x-nullable: true
      newerVersionAvailable:
        description: Indicates an updated version of the export package is available and
          should be re-exported for the latest changes.
        readOnly: true
        type: boolean
        x-nullable: false
      platform:
        description: Platform of the export.
        enum:
          - CoreML
          - TensorFlow
          - DockerFile
          - ONNX
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: ExportPlatformModel
        x-nullable: false
      status:
        description: Status of the export.
        enum:
          - Exporting
          - Failed
          - Done
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: ExportStatusModel
        x-nullable: false
    type: object
    x-nullable: true
  Image:
    description: Image model to be sent as JSON.
    properties:
      created:
        description: Date the image was created.
        format: date-time
        readOnly: true
        type: string
        x-nullable: false
      height:
        description: Height of the image.
        format: int32
        readOnly: true
        type: integer
        x-nullable: false
      id:
        description: Id of the image.
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      originalImageUri:
        description: The URI to the original uploaded image.
        readOnly: true
        type: string
        x-nullable: true
      regions:
        description: Regions associated with this image.
        items:
          $ref: "#/definitions/ImageRegion"
        readOnly: true
        type: array
        x-nullable: true
      resizedImageUri:
        description: The URI to the (resized) image used for training.
        readOnly: true
        type: string
        x-nullable: true
      tags:
        description: Tags associated with this image.
        items:
          $ref: "#/definitions/ImageTag"
        readOnly: true
        type: array
        x-nullable: true
      thumbnailUri:
        description: The URI to the thumbnail of the original image.
        readOnly: true
        type: string
        x-nullable: true
      width:
        description: Width of the image.
        format: int32
        readOnly: true
        type: integer
        x-nullable: false
    type: object
    x-nullable: true
  ImageCreateResult:
    properties:
      image:
        $ref: "#/definitions/Image"
        description: The image.
        readOnly: true
      sourceUrl:
        description: Source URL of the image.
        readOnly: true
        type: string
        x-nullable: true
      status:
        description: Status of the image creation.
        enum:
          - OK
          - OKDuplicate
          - ErrorSource
          - ErrorImageFormat
          - ErrorImageSize
          - ErrorStorage
          - ErrorLimitExceed
          - ErrorTagLimitExceed
          - ErrorRegionLimitExceed
          - ErrorUnknown
          - ErrorNegativeAndRegularTagOnSameImage
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: ImageCreateStatus
        x-nullable: false
    type: object
    x-nullable: true
  ImageCreateSummary:
    properties:
      images:
        description: List of the image creation results.
        items:
          $ref: "#/definitions/ImageCreateResult"
        readOnly: true
        type: array
        x-nullable: true
      isBatchSuccessful:
        description: True if all of the images in the batch were created successfully,
          otherwise false.
        readOnly: true
        type: boolean
        x-nullable: false
    type: object
    x-nullable: true
  ImageFileCreateBatch:
    properties:
      images:
        items:
          $ref: "#/definitions/ImageFileCreateEntry"
        type: array
        x-nullable: true
      tagIds:
        items:
          format: uuid
          type: string
          x-nullable: false
        type: array
        x-nullable: true
    type: object
    x-nullable: true
  ImageFileCreateEntry:
    properties:
      contents:
        format: byte
        type: string
        x-nullable: true
      name:
        type: string
        x-nullable: true
      regions:
        items:
          $ref: "#/definitions/Region"
        type: array
        x-nullable: true
      tagIds:
        items:
          format: uuid
          type: string
          x-nullable: false
        type: array
        x-nullable: true
    type: object
    x-nullable: true
  ImageIdCreateBatch:
    properties:
      images:
        items:
          $ref: "#/definitions/ImageIdCreateEntry"
        type: array
        x-nullable: true
      tagIds:
        items:
          format: uuid
          type: string
          x-nullable: false
        type: array
        x-nullable: true
    type: object
    x-nullable: true
  ImageIdCreateEntry:
    properties:
      id:
        format: uuid
        type: string
        x-nullable: false
      regions:
        items:
          $ref: "#/definitions/Region"
        type: array
        x-nullable: true
      tagIds:
        items:
          format: uuid
          type: string
          x-nullable: false
        type: array
        x-nullable: true
    type: object
    x-nullable: true
  ImagePerformance:
    description: Image performance model.
    properties:
      created:
        format: date-time
        readOnly: true
        type: string
        x-nullable: false
      height:
        format: int32
        readOnly: true
        type: integer
        x-nullable: false
      id:
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      imageUri:
        readOnly: true
        type: string
        x-nullable: true
      predictions:
        items:
          $ref: "#/definitions/Prediction"
        readOnly: true
        type: array
        x-nullable: true
      regions:
        items:
          $ref: "#/definitions/ImageRegion"
        readOnly: true
        type: array
        x-nullable: true
      tags:
        items:
          $ref: "#/definitions/ImageTag"
        readOnly: true
        type: array
        x-nullable: true
      thumbnailUri:
        readOnly: true
        type: string
        x-nullable: true
      width:
        format: int32
        readOnly: true
        type: integer
        x-nullable: false
    type: object
    x-nullable: true
  ImagePrediction:
    properties:
      created:
        format: date-time
        readOnly: true
        type: string
        x-nullable: false
      id:
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      iteration:
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      predictions:
        items:
          $ref: "#/definitions/Prediction"
        readOnly: true
        type: array
        x-nullable: true
      project:
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
    type: object
    x-nullable: true
  ImageRegion:
    properties:
      created:
        format: date-time
        readOnly: true
        type: string
        x-nullable: false
      height:
        format: float
        type: number
        x-nullable: false
      left:
        format: float
        type: number
        x-nullable: false
      regionId:
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      tagId:
        description: Id of the tag associated with this region.
        format: uuid
        type: string
        x-nullable: false
      tagName:
        readOnly: true
        type: string
        x-nullable: true
      top:
        format: float
        type: number
        x-nullable: false
      width:
        format: float
        type: number
        x-nullable: false
    type: object
    x-nullable: true
  ImageRegionCreateBatch:
    description: Batch of image region information to create.
    properties:
      regions:
        items:
          $ref: "#/definitions/ImageRegionCreateEntry"
        type: array
        x-nullable: true
    type: object
    x-nullable: true
  ImageRegionCreateEntry:
    description: Entry associating a region to an image.
    properties:
      height:
        format: float
        type: number
        x-nullable: false
      imageId:
        description: Id of the image.
        format: uuid
        type: string
        x-nullable: false
      left:
        format: float
        type: number
        x-nullable: false
      tagId:
        description: Id of the tag associated with this region.
        format: uuid
        type: string
        x-nullable: false
      top:
        format: float
        type: number
        x-nullable: false
      width:
        format: float
        type: number
        x-nullable: false
    type: object
    x-nullable: true
  ImageRegionCreateResult:
    properties:
      created:
        format: date-time
        readOnly: true
        type: string
        x-nullable: false
      height:
        format: float
        type: number
        x-nullable: false
      imageId:
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      left:
        format: float
        type: number
        x-nullable: false
      regionId:
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      tagId:
        description: Id of the tag associated with this region.
        format: uuid
        type: string
        x-nullable: false
      tagName:
        readOnly: true
        type: string
        x-nullable: true
      top:
        format: float
        type: number
        x-nullable: false
      width:
        format: float
        type: number
        x-nullable: false
    type: object
    x-nullable: true
  ImageRegionCreateSummary:
    properties:
      created:
        items:
          $ref: "#/definitions/ImageRegionCreateResult"
        type: array
        x-nullable: true
      duplicated:
        items:
          $ref: "#/definitions/ImageRegionCreateEntry"
        type: array
        x-nullable: true
      exceeded:
        items:
          $ref: "#/definitions/ImageRegionCreateEntry"
        type: array
        x-nullable: true
    type: object
    x-nullable: true
  ImageRegionProposal:
    properties:
      imageId:
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      projectId:
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      proposals:
        items:
          $ref: "#/definitions/RegionProposal"
        readOnly: true
        type: array
        x-nullable: true
    type: object
    x-nullable: true
  ImageTag:
    properties:
      created:
        format: date-time
        readOnly: true
        type: string
        x-nullable: false
      tagId:
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      tagName:
        readOnly: true
        type: string
        x-nullable: true
    type: object
    x-nullable: true
  ImageTagCreateBatch:
    description: Batch of image tags.
    properties:
      tags:
        description: Image Tag entries to include in this batch.
        items:
          $ref: "#/definitions/ImageTagCreateEntry"
        type: array
        x-nullable: true
    type: object
    x-nullable: true
  ImageTagCreateEntry:
    description: Entry associating a tag to an image.
    properties:
      imageId:
        description: Id of the image.
        format: uuid
        type: string
        x-nullable: false
      tagId:
        description: Id of the tag.
        format: uuid
        type: string
        x-nullable: false
    type: object
    x-nullable: true
  ImageTagCreateSummary:
    properties:
      created:
        items:
          $ref: "#/definitions/ImageTagCreateEntry"
        type: array
        x-nullable: true
      duplicated:
        items:
          $ref: "#/definitions/ImageTagCreateEntry"
        type: array
        x-nullable: true
      exceeded:
        items:
          $ref: "#/definitions/ImageTagCreateEntry"
        type: array
        x-nullable: true
    type: object
    x-nullable: true
  ImageUrl:
    properties:
      url:
        type: string
        x-nullable: true
    type: object
    x-nullable: true
  ImageUrlCreateBatch:
    properties:
      images:
        items:
          $ref: "#/definitions/ImageUrlCreateEntry"
        type: array
        x-nullable: true
      tagIds:
        items:
          format: uuid
          type: string
          x-nullable: false
        type: array
        x-nullable: true
    type: object
    x-nullable: true
  ImageUrlCreateEntry:
    properties:
      regions:
        items:
          $ref: "#/definitions/Region"
        type: array
        x-nullable: true
      tagIds:
        items:
          format: uuid
          type: string
          x-nullable: false
        type: array
        x-nullable: true
      url:
        type: string
        x-nullable: true
    type: object
    x-nullable: true
  Iteration:
    description: Iteration model to be sent over JSON.
    properties:
      classificationType:
        description: Gets the classification type of the project.
        enum:
          - Multiclass
          - Multilabel
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: Classifier
        x-nullable: true
      created:
        description: Gets the time this iteration was completed.
        format: date-time
        readOnly: true
        type: string
        x-nullable: false
      domainId:
        description: Get or sets a guid of the domain the iteration has been trained on.
        format: uuid
        readOnly: true
        type: string
        x-nullable: true
      exportable:
        description: Whether the iteration can be exported to another format for download.
        readOnly: true
        type: boolean
        x-nullable: false
      id:
        description: Gets the id of the iteration.
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      isDefault:
        description: Gets or sets a value indicating whether the iteration is the
          default iteration for the project.
        type: boolean
        x-nullable: false
      lastModified:
        description: Gets the time this iteration was last modified.
        format: date-time
        readOnly: true
        type: string
        x-nullable: false
      name:
        description: Gets or sets the name of the iteration.
        type: string
        x-nullable: true
      projectId:
        description: Gets The project id. of the iteration.
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      status:
        description: Gets the current iteration status.
        readOnly: true
        type: string
        x-nullable: true
      trainedAt:
        description: Gets the time this iteration was last modified.
        format: date-time
        readOnly: true
        type: string
        x-nullable: true
    type: object
    x-nullable: true
  IterationPerformance:
    description: Represents the detailed performance data for a trained iteration.
    properties:
      averagePrecision:
        description: Gets the average precision when applicable.
        format: float
        readOnly: true
        type: number
        x-nullable: true
      perTagPerformance:
        description: Gets the per-tag performance details for this iteration.
        items:
          $ref: "#/definitions/TagPerformance"
        readOnly: true
        type: array
        x-nullable: true
      precision:
        description: Gets the precision.
        format: float
        readOnly: true
        type: number
        x-nullable: false
      precisionStdDeviation:
        description: Gets the standard deviation for the precision.
        format: float
        readOnly: true
        type: number
        x-nullable: false
      recall:
        description: Gets the recall.
        format: float
        readOnly: true
        type: number
        x-nullable: false
      recallStdDeviation:
        description: Gets the standard deviation for the recall.
        format: float
        readOnly: true
        type: number
        x-nullable: false
    type: object
    x-nullable: true
  Prediction:
    properties:
      boundingBox:
        $ref: "#/definitions/BoundingBox"
        readOnly: true
      probability:
        format: float
        readOnly: true
        type: number
        x-nullable: false
      tagId:
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      tagName:
        readOnly: true
        type: string
        x-nullable: true
    type: object
    x-nullable: true
  PredictionQueryResult:
    properties:
      results:
        items:
          $ref: "#/definitions/StoredImagePrediction"
        readOnly: true
        type: array
        x-nullable: true
      token:
        $ref: "#/definitions/PredictionQueryToken"
        readOnly: true
    type: object
    x-nullable: true
  PredictionQueryTag:
    properties:
      id:
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      maxThreshold:
        format: float
        readOnly: true
        type: number
        x-nullable: false
      minThreshold:
        format: float
        readOnly: true
        type: number
        x-nullable: false
    type: object
    x-nullable: true
  PredictionQueryToken:
    properties:
      application:
        type: string
        x-nullable: true
      continuation:
        type: string
        x-nullable: true
      endTime:
        format: date-time
        type: string
        x-nullable: true
      iterationId:
        format: uuid
        type: string
        x-nullable: true
      maxCount:
        format: int32
        type: integer
        x-nullable: false
      orderBy:
        enum:
          - Newest
          - Oldest
          - Suggested
        type: string
        x-ms-enum:
          modelAsString: true
          name: OrderBy
        x-nullable: false
      session:
        type: string
        x-nullable: true
      startTime:
        format: date-time
        type: string
        x-nullable: true
      tags:
        items:
          $ref: "#/definitions/PredictionQueryTag"
        type: array
        x-nullable: true
    type: object
    x-nullable: true
  Project:
    description: Represents a project.
    properties:
      created:
        description: Gets the date this project was created.
        format: date-time
        readOnly: true
        type: string
        x-nullable: false
      description:
        description: Gets or sets the description of the project.
        type: string
        x-nullable: true
      id:
        description: Gets The project id.
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      lastModified:
        description: Gets the date this project was last modified.
        format: date-time
        readOnly: true
        type: string
        x-nullable: false
      name:
        description: Gets or sets the name of the project.
        type: string
        x-nullable: true
      settings:
        $ref: "#/definitions/ProjectSettings"
        description: Gets or sets the project settings.
      thumbnailUri:
        description: Gets the thumbnail url representing the project.
        readOnly: true
        type: string
        x-nullable: true
    type: object
    x-nullable: true
  ProjectSettings:
    description: Represents settings associated with a project.
    properties:
      classificationType:
        description: Gets or sets the classification type of the project.
        enum:
          - Multiclass
          - Multilabel
        type: string
        x-ms-enum:
          modelAsString: true
          name: Classifier
        x-nullable: true
      domainId:
        description: Gets or sets the id of the Domain to use with this project.
        format: uuid
        type: string
        x-nullable: false
    type: object
    x-nullable: true
  Region:
    properties:
      height:
        format: float
        type: number
        x-nullable: false
      left:
        format: float
        type: number
        x-nullable: false
      tagId:
        description: Id of the tag associated with this region.
        format: uuid
        type: string
        x-nullable: false
      top:
        format: float
        type: number
        x-nullable: false
      width:
        format: float
        type: number
        x-nullable: false
    type: object
    x-nullable: true
  RegionProposal:
    properties:
      boundingBox:
        $ref: "#/definitions/BoundingBox"
        readOnly: true
      confidence:
        format: float
        readOnly: true
        type: number
        x-nullable: false
    type: object
    x-nullable: true
  StoredImagePrediction:
    description: result of an image classification request.
    properties:
      created:
        format: date-time
        readOnly: true
        type: string
        x-nullable: false
      domain:
        description: Domain used for the prediction.
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      id:
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      iteration:
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      originalImageUri:
        description: The URI to the original prediction image.
        readOnly: true
        type: string
        x-nullable: true
      predictions:
        items:
          $ref: "#/definitions/Prediction"
        readOnly: true
        type: array
        x-nullable: true
      project:
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      resizedImageUri:
        description: The URI to the (resized) prediction image.
        readOnly: true
        type: string
        x-nullable: true
      thumbnailUri:
        description: The URI to the thumbnail of the original prediction image.
        readOnly: true
        type: string
        x-nullable: true
    type: object
    x-nullable: true
  Tag:
    description: Represents a Tag.
    properties:
      description:
        description: Gets or sets the description of the tag.
        type: string
        x-nullable: true
      id:
        description: Gets the Tag ID.
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      imageCount:
        description: Gets the number of images with this tag.
        format: int32
        readOnly: true
        type: integer
        x-nullable: false
      name:
        description: Gets or sets the name of the tag.
        type: string
        x-nullable: true
      type:
        description: Gets or sets the type of the tag.
        enum:
          - Regular
          - Negative
        type: string
        x-ms-enum:
          modelAsString: true
          name: TagType
        x-nullable: false
    type: object
    x-nullable: true
  TagPerformance:
    description: Represents performance data for a particular tag in a trained iteration.
    properties:
      averagePrecision:
        description: Gets the average precision when applicable.
        format: float
        readOnly: true
        type: number
        x-nullable: true
      id:
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      name:
        readOnly: true
        type: string
        x-nullable: true
      precision:
        description: Gets the precision.
        format: float
        readOnly: true
        type: number
        x-nullable: false
      precisionStdDeviation:
        description: Gets the standard deviation for the precision.
        format: float
        readOnly: true
        type: number
        x-nullable: false
      recall:
        description: Gets the recall.
        format: float
        readOnly: true
        type: number
        x-nullable: false
      recallStdDeviation:
        description: Gets the standard deviation for the recall.
        format: float
        readOnly: true
        type: number
        x-nullable: false
    type: object
    x-nullable: true
x-ms-parameterized-host:
  hostTemplate: "{Endpoint}"
  parameters:
    - $ref: "#/parameters/Endpoint"
  useSchemePrefix: false
