swagger: '2.0'
info:
  version: '2006-03-01'
  x-release: s3
  title: Amazon Simple Storage Service
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: s3
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/s3-2006-03-01.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/s3/'
host: s3.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes:
  - text/xml
produces:
  - text/xml
parameters:
  x-amz-security-token:
    name: x-amz-security-token
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon S3 signature
    x-amazon-apigateway-authtype: awsS3
security:
  - hmac: []
paths:
  '/{Bucket}/{Key}':
    delete:
      operationId: AbortMultipartUpload
      description: '<p>Aborts a multipart upload.</p> <p>To verify that all parts have been removed, so you don''t get charged for the part storage, you should call the List Parts operation and ensure the parts list is empty.</p><p>http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadAbort.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AbortMultipartUploadOutput'
        '480':
          description: NoSuchUpload
          schema:
            $ref: '#/definitions/NoSuchUpload'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AbortMultipartUploadRequest'
        - name: Bucket
          in: path
          type: string
          required: true
        - name: Key
          in: path
          type: array
          required: true
          items:
            type: string
          collectionFormat: csv
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
    post:
      operationId: CompleteMultipartUpload
      description: 'Completes a multipart upload by assembling previously uploaded parts.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadComplete.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CompleteMultipartUploadOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CompleteMultipartUploadRequest'
        - name: Bucket
          in: path
          type: string
          required: true
        - name: Key
          in: path
          type: array
          required: true
          items:
            type: string
          collectionFormat: csv
    put:
      operationId: CopyObject
      description: 'Creates a copy of an object that is already stored in Amazon S3.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectCOPY.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CopyObjectOutput'
        '480':
          description: ObjectNotInActiveTierError
          schema:
            $ref: '#/definitions/ObjectNotInActiveTierError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CopyObjectRequest'
        - name: Bucket
          in: path
          type: string
          required: true
        - name: Key
          in: path
          type: array
          required: true
          items:
            type: string
          collectionFormat: csv
  '/{Bucket}':
    put:
      operationId: CreateBucket
      description: 'Creates a new bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUT.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateBucketOutput'
        '480':
          description: BucketAlreadyExists
          schema:
            $ref: '#/definitions/BucketAlreadyExists'
        '481':
          description: BucketAlreadyOwnedByYou
          schema:
            $ref: '#/definitions/BucketAlreadyOwnedByYou'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateBucketRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
    delete:
      operationId: DeleteBucket
      description: 'Deletes the bucket. All objects (including all object versions and Delete Markers) in the bucket must be deleted before the bucket itself can be deleted.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETE.html</p>'
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteBucketRequest'
        - name: Bucket
          in: path
          type: string
          required: true
  '/{Bucket}/{Key}?uploads':
    post:
      operationId: CreateMultipartUpload
      description: '<p>Initiates a multipart upload and returns an upload ID.</p> <p> <b>Note:</b> After you initiate multipart upload and upload one or more parts, you must either complete or abort multipart upload in order to stop getting charged for storage of the uploaded parts. Only after you either complete or abort multipart upload, Amazon S3 frees up the parts storage and stops charging you for the parts storage.</p><p>http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadInitiate.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateMultipartUploadOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateMultipartUploadRequest'
        - name: Bucket
          in: path
          type: string
          required: true
        - name: Key
          in: path
          type: array
          required: true
          items:
            type: string
          collectionFormat: csv
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?analytics':
    delete:
      operationId: DeleteBucketAnalyticsConfiguration
      description: Deletes an analytics configuration for the bucket (specified by the analytics configuration ID).
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteBucketAnalyticsConfigurationRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?cors':
    delete:
      operationId: DeleteBucketCors
      description: 'Deletes the cors configuration information set for the bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETEcors.html</p>'
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteBucketCorsRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?encryption':
    delete:
      operationId: DeleteBucketEncryption
      description: Deletes the server-side encryption configuration from the bucket.
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteBucketEncryptionRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?inventory':
    delete:
      operationId: DeleteBucketInventoryConfiguration
      description: Deletes an inventory configuration (identified by the inventory ID) from the bucket.
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteBucketInventoryConfigurationRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?lifecycle':
    delete:
      operationId: DeleteBucketLifecycle
      description: 'Deletes the lifecycle configuration from the bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETElifecycle.html</p>'
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteBucketLifecycleRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?metrics':
    delete:
      operationId: DeleteBucketMetricsConfiguration
      description: Deletes a metrics configuration (specified by the metrics configuration ID) from the bucket.
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteBucketMetricsConfigurationRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?policy':
    delete:
      operationId: DeleteBucketPolicy
      description: 'Deletes the policy from the bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETEpolicy.html</p>'
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteBucketPolicyRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?replication':
    delete:
      operationId: DeleteBucketReplication
      description: Deletes the replication configuration from the bucket.
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteBucketReplicationRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?tagging':
    delete:
      operationId: DeleteBucketTagging
      description: 'Deletes the tags from the bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETEtagging.html</p>'
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteBucketTaggingRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?website':
    delete:
      operationId: DeleteBucketWebsite
      description: 'This operation removes the website configuration from the bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETEwebsite.html</p>'
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteBucketWebsiteRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}/{Key}#DeleteObject':
    delete:
      operationId: DeleteObject
      description: 'Removes the null version (if there is one) of an object and inserts a delete marker, which becomes the latest version of the object. If there isn''t a null version, Amazon S3 does not remove any objects.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectDELETE.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteObjectOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteObjectRequest'
        - name: Bucket
          in: path
          type: string
          required: true
        - name: Key
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}/{Key}?tagging#DeleteObjectTagging':
    delete:
      operationId: DeleteObjectTagging
      description: Removes the tag-set from an existing object.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteObjectTaggingOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteObjectTaggingRequest'
        - name: Bucket
          in: path
          type: string
          required: true
        - name: Key
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?delete#DeleteObjects':
    post:
      operationId: DeleteObjects
      description: 'This operation enables you to delete multiple objects from a bucket using a single HTTP request. You may specify up to 1000 keys.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/multiobjectdeleteapi.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteObjectsOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteObjectsRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?accelerate#GetBucketAccelerateConfiguration':
    get:
      operationId: GetBucketAccelerateConfiguration
      description: Returns the accelerate configuration of a bucket.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketAccelerateConfigurationOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetBucketAccelerateConfigurationRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?acl#GetBucketAcl':
    get:
      operationId: GetBucketAcl
      description: 'Gets the access control policy for the bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETacl.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketAclOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetBucketAclRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?analytics#GetBucketAnalyticsConfiguration':
    get:
      operationId: GetBucketAnalyticsConfiguration
      description: Gets an analytics configuration for the bucket (specified by the analytics configuration ID).
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketAnalyticsConfigurationOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetBucketAnalyticsConfigurationRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?cors#GetBucketCors':
    get:
      operationId: GetBucketCors
      description: 'Returns the cors configuration for the bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETcors.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketCorsOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetBucketCorsRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?encryption#GetBucketEncryption':
    get:
      operationId: GetBucketEncryption
      description: Returns the server-side encryption configuration of a bucket.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketEncryptionOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetBucketEncryptionRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?inventory#GetBucketInventoryConfiguration':
    get:
      operationId: GetBucketInventoryConfiguration
      description: Returns an inventory configuration (identified by the inventory ID) from the bucket.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketInventoryConfigurationOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetBucketInventoryConfigurationRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?lifecycle#GetBucketLifecycle':
    get:
      operationId: GetBucketLifecycle
      description: 'Deprecated, see the GetBucketLifecycleConfiguration operation.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETlifecycle.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketLifecycleOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetBucketLifecycleRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?lifecycle#GetBucketLifecycleConfiguration':
    get:
      operationId: GetBucketLifecycleConfiguration
      description: Returns the lifecycle configuration information set on the bucket.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketLifecycleConfigurationOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetBucketLifecycleConfigurationRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?location#GetBucketLocation':
    get:
      operationId: GetBucketLocation
      description: 'Returns the region the bucket resides in.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETlocation.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketLocationOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetBucketLocationRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?logging#GetBucketLogging':
    get:
      operationId: GetBucketLogging
      description: 'Returns the logging status of a bucket and the permissions users have to view and modify that status. To use GET, you must be the bucket owner.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETlogging.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketLoggingOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetBucketLoggingRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?metrics#GetBucketMetricsConfiguration':
    get:
      operationId: GetBucketMetricsConfiguration
      description: Gets a metrics configuration (specified by the metrics configuration ID) from the bucket.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketMetricsConfigurationOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetBucketMetricsConfigurationRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?notification#GetBucketNotification':
    get:
      operationId: GetBucketNotification
      description: 'Deprecated, see the GetBucketNotificationConfiguration operation.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETnotification.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/NotificationConfigurationDeprecated'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetBucketNotificationConfigurationRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?notification#GetBucketNotificationConfiguration':
    get:
      operationId: GetBucketNotificationConfiguration
      description: Returns the notification configuration of a bucket.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/NotificationConfiguration'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetBucketNotificationConfigurationRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?policy#GetBucketPolicy':
    get:
      operationId: GetBucketPolicy
      description: 'Returns the policy of a specified bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETpolicy.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketPolicyOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetBucketPolicyRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?replication#GetBucketReplication':
    get:
      operationId: GetBucketReplication
      description: Returns the replication configuration of a bucket.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketReplicationOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetBucketReplicationRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?requestPayment#GetBucketRequestPayment':
    get:
      operationId: GetBucketRequestPayment
      description: 'Returns the request payment configuration of a bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTrequestPaymentGET.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketRequestPaymentOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetBucketRequestPaymentRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?tagging#GetBucketTagging':
    get:
      operationId: GetBucketTagging
      description: 'Returns the tag set associated with the bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETtagging.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketTaggingOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetBucketTaggingRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?versioning#GetBucketVersioning':
    get:
      operationId: GetBucketVersioning
      description: 'Returns the versioning state of a bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETversioningStatus.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketVersioningOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetBucketVersioningRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?website#GetBucketWebsite':
    get:
      operationId: GetBucketWebsite
      description: 'Returns the website configuration for a bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETwebsite.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketWebsiteOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetBucketWebsiteRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}/{Key}#GetObject':
    get:
      operationId: GetObject
      description: 'Retrieves objects from Amazon S3.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectGET.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetObjectOutput'
        '480':
          description: NoSuchKey
          schema:
            $ref: '#/definitions/NoSuchKey'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetObjectRequest'
        - name: Bucket
          in: path
          type: string
          required: true
        - name: Key
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}/{Key}?acl#GetObjectAcl':
    get:
      operationId: GetObjectAcl
      description: 'Returns the access control list (ACL) of an object.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectGETacl.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetObjectAclOutput'
        '480':
          description: NoSuchKey
          schema:
            $ref: '#/definitions/NoSuchKey'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetObjectAclRequest'
        - name: Bucket
          in: path
          type: string
          required: true
        - name: Key
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}/{Key}?tagging#GetObjectTagging':
    get:
      operationId: GetObjectTagging
      description: Returns the tag-set of an object.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetObjectTaggingOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetObjectTaggingRequest'
        - name: Bucket
          in: path
          type: string
          required: true
        - name: Key
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}/{Key}?torrent#GetObjectTorrent':
    get:
      operationId: GetObjectTorrent
      description: 'Return torrent files from a bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectGETtorrent.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetObjectTorrentOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetObjectTorrentRequest'
        - name: Bucket
          in: path
          type: string
          required: true
        - name: Key
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}#HeadBucket':
    head:
      operationId: HeadBucket
      description: 'This operation is useful to determine if a bucket exists and you have permission to access it.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketHEAD.html</p>'
      responses:
        '200':
          description: Success
        '480':
          description: NoSuchBucket
          schema:
            $ref: '#/definitions/NoSuchBucket'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/HeadBucketRequest'
        - name: Bucket
          in: path
          type: string
          required: true
      x-waiters:
        - delay: 5
          operation: HeadBucket
          maxAttempts: 20
          acceptors:
            - expected: 200
              matcher: status
              state: success
            - expected: 301
              matcher: status
              state: success
            - expected: 403
              matcher: status
              state: success
            - expected: 404
              matcher: status
              state: retry
        - delay: 5
          operation: HeadBucket
          maxAttempts: 20
          acceptors:
            - expected: 404
              matcher: status
              state: success
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}/{Key}#HeadObject':
    head:
      operationId: HeadObject
      description: 'The HEAD operation retrieves metadata from an object without returning the object itself. This operation is useful if you''re only interested in an object''s metadata. To use HEAD, you must have READ access to the object.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectHEAD.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/HeadObjectOutput'
        '480':
          description: NoSuchKey
          schema:
            $ref: '#/definitions/NoSuchKey'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/HeadObjectRequest'
        - name: Bucket
          in: path
          type: string
          required: true
        - name: Key
          in: path
          type: string
          required: true
      x-waiters:
        - delay: 5
          operation: HeadObject
          maxAttempts: 20
          acceptors:
            - expected: 200
              matcher: status
              state: success
            - expected: 404
              matcher: status
              state: retry
        - delay: 5
          operation: HeadObject
          maxAttempts: 20
          acceptors:
            - expected: 404
              matcher: status
              state: success
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?analytics#ListBucketAnalyticsConfigurations':
    get:
      operationId: ListBucketAnalyticsConfigurations
      description: Lists the analytics configurations for the bucket.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListBucketAnalyticsConfigurationsOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListBucketAnalyticsConfigurationsRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?inventory#ListBucketInventoryConfigurations':
    get:
      operationId: ListBucketInventoryConfigurations
      description: Returns a list of inventory configurations for the bucket.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListBucketInventoryConfigurationsOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListBucketInventoryConfigurationsRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?metrics#ListBucketMetricsConfigurations':
    get:
      operationId: ListBucketMetricsConfigurations
      description: Lists the metrics configurations for the bucket.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListBucketMetricsConfigurationsOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListBucketMetricsConfigurationsRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/#ListBuckets':
    get:
      operationId: ListBuckets
      description: 'Returns a list of all buckets owned by the authenticated sender of the request.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTServiceGET.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListBucketsOutput'
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?uploads#ListMultipartUploads':
    get:
      operationId: ListMultipartUploads
      description: 'This operation lists in-progress multipart uploads.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadListMPUpload.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListMultipartUploadsOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListMultipartUploadsRequest'
        - name: MaxUploads
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: KeyMarker
          type: string
          in: query
          description: Pagination token
          required: false
        - name: UploadIdMarker
          type: string
          in: query
          description: Pagination token
          required: false
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?versions#ListObjectVersions':
    get:
      operationId: ListObjectVersions
      description: 'Returns metadata about all of the versions of objects in a bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETVersion.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListObjectVersionsOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListObjectVersionsRequest'
        - name: MaxKeys
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: KeyMarker
          type: string
          in: query
          description: Pagination token
          required: false
        - name: VersionIdMarker
          type: string
          in: query
          description: Pagination token
          required: false
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}#ListObjects':
    get:
      operationId: ListObjects
      description: 'Returns some or all (up to 1000) of the objects in a bucket. You can use the request parameters as selection criteria to return a subset of the objects in a bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGET.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListObjectsOutput'
        '480':
          description: NoSuchBucket
          schema:
            $ref: '#/definitions/NoSuchBucket'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListObjectsRequest'
        - name: MaxKeys
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?list-type=2#ListObjectsV2':
    get:
      operationId: ListObjectsV2
      description: 'Returns some or all (up to 1000) of the objects in a bucket. You can use the request parameters as selection criteria to return a subset of the objects in a bucket. Note: ListObjectsV2 is the revised List Objects API and we recommend you use this revised API for new application development.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListObjectsV2Output'
        '480':
          description: NoSuchBucket
          schema:
            $ref: '#/definitions/NoSuchBucket'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListObjectsV2Request'
        - name: MaxKeys
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: ContinuationToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}/{Key}#ListParts':
    get:
      operationId: ListParts
      description: 'Lists the parts that have been uploaded for a specific multipart upload.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadListParts.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListPartsOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListPartsRequest'
        - name: MaxParts
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: PartNumberMarker
          type: string
          in: query
          description: Pagination token
          required: false
        - name: Bucket
          in: path
          type: string
          required: true
        - name: Key
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?accelerate#PutBucketAccelerateConfiguration':
    put:
      operationId: PutBucketAccelerateConfiguration
      description: Sets the accelerate configuration of an existing bucket.
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutBucketAccelerateConfigurationRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?acl#PutBucketAcl':
    put:
      operationId: PutBucketAcl
      description: 'Sets the permissions on a bucket using access control lists (ACL).<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTacl.html</p>'
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutBucketAclRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?analytics#PutBucketAnalyticsConfiguration':
    put:
      operationId: PutBucketAnalyticsConfiguration
      description: Sets an analytics configuration for the bucket (specified by the analytics configuration ID).
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutBucketAnalyticsConfigurationRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?cors#PutBucketCors':
    put:
      operationId: PutBucketCors
      description: 'Sets the cors configuration for a bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTcors.html</p>'
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutBucketCorsRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?encryption#PutBucketEncryption':
    put:
      operationId: PutBucketEncryption
      description: 'Creates a new server-side encryption configuration (or replaces an existing one, if present).'
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutBucketEncryptionRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?inventory#PutBucketInventoryConfiguration':
    put:
      operationId: PutBucketInventoryConfiguration
      description: Adds an inventory configuration (identified by the inventory ID) from the bucket.
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutBucketInventoryConfigurationRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?lifecycle#PutBucketLifecycle':
    put:
      operationId: PutBucketLifecycle
      description: 'Deprecated, see the PutBucketLifecycleConfiguration operation.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTlifecycle.html</p>'
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutBucketLifecycleRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?lifecycle#PutBucketLifecycleConfiguration':
    put:
      operationId: PutBucketLifecycleConfiguration
      description: 'Sets lifecycle configuration for your bucket. If a lifecycle configuration exists, it replaces it.'
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutBucketLifecycleConfigurationRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?logging#PutBucketLogging':
    put:
      operationId: PutBucketLogging
      description: 'Set the logging parameters for a bucket and to specify permissions for who can view and modify the logging parameters. To set the logging status of a bucket, you must be the bucket owner.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTlogging.html</p>'
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutBucketLoggingRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?metrics#PutBucketMetricsConfiguration':
    put:
      operationId: PutBucketMetricsConfiguration
      description: Sets a metrics configuration (specified by the metrics configuration ID) for the bucket.
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutBucketMetricsConfigurationRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?notification#PutBucketNotification':
    put:
      operationId: PutBucketNotification
      description: 'Deprecated, see the PutBucketNotificationConfiguraiton operation.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTnotification.html</p>'
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutBucketNotificationRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?notification#PutBucketNotificationConfiguration':
    put:
      operationId: PutBucketNotificationConfiguration
      description: Enables notifications of specified events for a bucket.
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutBucketNotificationConfigurationRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?policy#PutBucketPolicy':
    put:
      operationId: PutBucketPolicy
      description: 'Replaces a policy on a bucket. If the bucket already has a policy, the one in this request completely replaces it.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTpolicy.html</p>'
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutBucketPolicyRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?replication#PutBucketReplication':
    put:
      operationId: PutBucketReplication
      description: ' Creates a new replication configuration (or replaces an existing one, if present). For more information, see <a href=" https://docs.aws.amazon.com/AmazonS3/latest/dev/crr.html">Cross-Region Replication (CRR)</a> in the Amazon S3 Developer Guide. '
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutBucketReplicationRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?requestPayment#PutBucketRequestPayment':
    put:
      operationId: PutBucketRequestPayment
      description: 'Sets the request payment configuration for a bucket. By default, the bucket owner pays for downloads from the bucket. This configuration parameter enables the bucket owner (only) to specify that the person requesting the download will be charged for the download. Documentation on requester pays buckets can be found at http://docs.aws.amazon.com/AmazonS3/latest/dev/RequesterPaysBuckets.html<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTrequestPaymentPUT.html</p>'
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutBucketRequestPaymentRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?tagging#PutBucketTagging':
    put:
      operationId: PutBucketTagging
      description: 'Sets the tags for a bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTtagging.html</p>'
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutBucketTaggingRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?versioning#PutBucketVersioning':
    put:
      operationId: PutBucketVersioning
      description: 'Sets the versioning state of an existing bucket. To set the versioning state, you must be the bucket owner.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTVersioningStatus.html</p>'
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutBucketVersioningRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?website#PutBucketWebsite':
    put:
      operationId: PutBucketWebsite
      description: 'Set the website configuration for a bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTwebsite.html</p>'
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutBucketWebsiteRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}/{Key}#PutObject':
    put:
      operationId: PutObject
      description: 'Adds an object to a bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectPUT.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutObjectOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutObjectRequest'
        - name: Bucket
          in: path
          type: string
          required: true
        - name: Key
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}/{Key}?acl#PutObjectAcl':
    put:
      operationId: PutObjectAcl
      description: 'uses the acl subresource to set the access control list (ACL) permissions for an object that already exists in a bucket<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectPUTacl.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutObjectAclOutput'
        '480':
          description: NoSuchKey
          schema:
            $ref: '#/definitions/NoSuchKey'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutObjectAclRequest'
        - name: Bucket
          in: path
          type: string
          required: true
        - name: Key
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}/{Key}?tagging#PutObjectTagging':
    put:
      operationId: PutObjectTagging
      description: Sets the supplied tag-set to an object that already exists in a bucket
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutObjectTaggingOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutObjectTaggingRequest'
        - name: Bucket
          in: path
          type: string
          required: true
        - name: Key
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}/{Key}?restore#RestoreObject':
    post:
      operationId: RestoreObject
      description: 'Restores an archived copy of an object back into Amazon S3<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectRestore.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RestoreObjectOutput'
        '480':
          description: ObjectAlreadyInActiveTierError
          schema:
            $ref: '#/definitions/ObjectAlreadyInActiveTierError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RestoreObjectRequest'
        - name: Bucket
          in: path
          type: string
          required: true
        - name: Key
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}/{Key}?select&select-type=2#SelectObjectContent':
    post:
      operationId: SelectObjectContent
      description: 'This operation filters the contents of an Amazon S3 object based on a simple Structured Query Language (SQL) statement. In the request, along with the SQL expression, you must also specify a data serialization format (JSON or CSV) of the object. Amazon S3 uses this to parse object data into records, and returns only records that match the specified SQL expression. You must also specify the data serialization format for the response.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SelectObjectContentOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SelectObjectContentRequest'
        - name: Bucket
          in: path
          type: string
          required: true
        - name: Key
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}/{Key}#UploadPart':
    put:
      operationId: UploadPart
      description: '<p>Uploads a part in a multipart upload.</p> <p> <b>Note:</b> After you initiate multipart upload and upload one or more parts, you must either complete or abort multipart upload in order to stop getting charged for storage of the uploaded parts. Only after you either complete or abort multipart upload, Amazon S3 frees up the parts storage and stops charging you for the parts storage.</p><p>http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadUploadPart.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UploadPartOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UploadPartRequest'
        - name: Bucket
          in: path
          type: string
          required: true
        - name: Key
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}/{Key}#UploadPartCopy':
    put:
      operationId: UploadPartCopy
      description: 'Uploads a part by copying data from an existing object as data source.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadUploadPartCopy.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UploadPartCopyOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UploadPartCopyRequest'
        - name: Bucket
          in: path
          type: string
          required: true
        - name: Key
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
definitions:
  AbortMultipartUploadOutput:
    type: object
    example: {}
    properties: {}
  AbortMultipartUploadRequest:
    type: object
    example:
      Bucket: examplebucket
      Key: bigobject
      UploadId: xadcOB_7YPBOJuoFiQ9cz4P3Pe6FIZwO4f7wN93uHsNBEw97pl5eNwzExg0LAT2dUN91cOmrEQHDsP3WA60CEg--
    properties: {}
  NoSuchUpload: {}
  CompleteMultipartUploadOutput:
    type: object
    example:
      Bucket: acexamplebucket
      ETag: '"4d9031c7644d8081c2829f4ea23c55f7-2"'
      Key: bigobject
      Location: 'https://examplebucket.s3.amazonaws.com/bigobject'
    properties:
      Location:
        $ref: '#/definitions/Location'
      Bucket:
        $ref: '#/definitions/BucketName'
      Key:
        $ref: '#/definitions/ObjectKey'
      ETag:
        $ref: '#/definitions/ETag'
        description: Entity tag of the object.
  CompleteMultipartUploadRequest:
    type: object
    example:
      Bucket: examplebucket
      Key: bigobject
      MultipartUpload:
        Parts:
          - ETag: '"d8c2eafd90c266e19ab9dcacc479f8af"'
            PartNumber: '1'
          - ETag: '"d8c2eafd90c266e19ab9dcacc479f8af"'
            PartNumber: '2'
      UploadId: 7YPBOJuoFiQ9cz4P3Pe6FIZwO4f7wN93uHsNBEw97pl5eNwzExg0LAT2dUN91cOmrEQHDsP3WA60CEg--
    properties:
      MultipartUpload:
        $ref: '#/definitions/CompletedMultipartUpload'
    xml:
      namespace: 'http://s3.amazonaws.com/doc/2006-03-01/'
  CopyObjectOutput:
    type: object
    example:
      CopyObjectResult:
        ETag: '"6805f2cfc46c0f04559748bb039d69ae"'
        LastModified: '2016-12-15T17:38:53.000Z'
    properties:
      CopyObjectResult:
        $ref: '#/definitions/CopyObjectResult'
  CopyObjectRequest:
    type: object
    example:
      Bucket: destinationbucket
      CopySource: /sourcebucket/HappyFacejpg
      Key: HappyFaceCopyjpg
    properties: {}
  ObjectNotInActiveTierError: {}
  CreateBucketOutput:
    type: object
    example:
      Location: /examplebucket
    properties: {}
  CreateBucketRequest:
    type: object
    example:
      Bucket: examplebucket
    properties:
      CreateBucketConfiguration:
        $ref: '#/definitions/CreateBucketConfiguration'
    xml:
      namespace: 'http://s3.amazonaws.com/doc/2006-03-01/'
  BucketAlreadyExists: {}
  BucketAlreadyOwnedByYou: {}
  CreateMultipartUploadOutput:
    type: object
    example:
      Bucket: examplebucket
      Key: largeobject
      UploadId: ibZBv_75gd9r8lH_gqXatLdxMVpAlj6ZQjEs.OwyF3953YdwbcQnMA2BLGn8Lx12fQNICtMw5KyteFeHw.Sjng--
    properties:
      Bucket:
        $ref: '#/definitions/BucketName'
        description: Name of the bucket to which the multipart upload was initiated.
      Key:
        $ref: '#/definitions/ObjectKey'
        description: Object key for which the multipart upload was initiated.
      UploadId:
        $ref: '#/definitions/MultipartUploadId'
        description: ID for the initiated multipart upload.
  CreateMultipartUploadRequest:
    type: object
    example:
      Bucket: examplebucket
      Key: largeobject
    properties: {}
  DeleteBucketRequest:
    type: object
    example:
      Bucket: forrandall2
    properties: {}
  DeleteBucketAnalyticsConfigurationRequest:
    type: object
    properties: {}
  DeleteBucketCorsRequest:
    type: object
    example:
      Bucket: examplebucket
    properties: {}
  DeleteBucketEncryptionRequest:
    type: object
    properties: {}
  DeleteBucketInventoryConfigurationRequest:
    type: object
    properties: {}
  DeleteBucketLifecycleRequest:
    type: object
    example:
      Bucket: examplebucket
    properties: {}
  DeleteBucketMetricsConfigurationRequest:
    type: object
    properties: {}
  DeleteBucketPolicyRequest:
    type: object
    example:
      Bucket: examplebucket
    properties: {}
  DeleteBucketReplicationRequest:
    type: object
    example:
      Bucket: example
    properties: {}
  DeleteBucketTaggingRequest:
    type: object
    example:
      Bucket: examplebucket
    properties: {}
  DeleteBucketWebsiteRequest:
    type: object
    example:
      Bucket: examplebucket
    properties: {}
  DeleteObjectOutput:
    type: object
    example: {}
    properties: {}
  DeleteObjectRequest:
    type: object
    example:
      Bucket: ExampleBucket
      Key: HappyFace.jpg
    properties: {}
  DeleteObjectTaggingOutput:
    type: object
    example:
      VersionId: 'null'
    properties: {}
  DeleteObjectTaggingRequest:
    type: object
    example:
      Bucket: examplebucket
      Key: HappyFace.jpg
    properties: {}
  DeleteObjectsOutput:
    type: object
    example:
      Deleted:
        - DeleteMarker: 'true'
          DeleteMarkerVersionId: A._w1z6EFiCF5uhtQMDal9JDkID9tQ7F
          Key: objectkey1
        - DeleteMarker: 'true'
          DeleteMarkerVersionId: iOd_ORxhkKe_e8G8_oSGxt2PjsCZKlkt
          Key: objectkey2
    properties:
      Deleted:
        $ref: '#/definitions/DeletedObjects'
      Errors:
        $ref: '#/definitions/Errors'
  DeleteObjectsRequest:
    type: object
    required:
      - Delete
    example:
      Bucket: examplebucket
      Delete:
        Objects:
          - Key: objectkey1
          - Key: objectkey2
        Quiet: false
    properties:
      Delete:
        $ref: '#/definitions/Delete'
    xml:
      namespace: 'http://s3.amazonaws.com/doc/2006-03-01/'
  GetBucketAccelerateConfigurationOutput:
    type: object
    properties:
      Status:
        $ref: '#/definitions/BucketAccelerateStatus'
        description: The accelerate configuration of the bucket.
  GetBucketAccelerateConfigurationRequest:
    type: object
    properties: {}
  GetBucketAclOutput:
    type: object
    properties:
      Owner:
        $ref: '#/definitions/Owner'
      Grants:
        $ref: '#/definitions/Grants'
        description: A list of grants.
  GetBucketAclRequest:
    type: object
    properties: {}
  GetBucketAnalyticsConfigurationOutput:
    type: object
    properties:
      AnalyticsConfiguration:
        $ref: '#/definitions/AnalyticsConfiguration'
        description: The configuration and any analyses for the analytics filter.
  GetBucketAnalyticsConfigurationRequest:
    type: object
    properties: {}
  GetBucketCorsOutput:
    type: object
    example:
      CORSRules:
        - AllowedHeaders:
            - Authorization
          AllowedMethods:
            - GET
          AllowedOrigins:
            - '*'
          MaxAgeSeconds: 3000
    properties:
      CORSRules:
        $ref: '#/definitions/CORSRules'
  GetBucketCorsRequest:
    type: object
    example:
      Bucket: examplebucket
    properties: {}
  GetBucketEncryptionOutput:
    type: object
    properties:
      ServerSideEncryptionConfiguration:
        $ref: '#/definitions/ServerSideEncryptionConfiguration'
  GetBucketEncryptionRequest:
    type: object
    properties: {}
  GetBucketInventoryConfigurationOutput:
    type: object
    properties:
      InventoryConfiguration:
        $ref: '#/definitions/InventoryConfiguration'
        description: Specifies the inventory configuration.
  GetBucketInventoryConfigurationRequest:
    type: object
    properties: {}
  GetBucketLifecycleOutput:
    type: object
    example:
      Rules:
        - Expiration:
            Days: 1
          ID: delete logs
          Prefix: 123/
          Status: Enabled
    properties:
      Rules:
        $ref: '#/definitions/Rules'
  GetBucketLifecycleRequest:
    type: object
    example:
      Bucket: acl1
    properties: {}
  GetBucketLifecycleConfigurationOutput:
    type: object
    example:
      Rules:
        - ID: Rule for TaxDocs/
          Prefix: TaxDocs
          Status: Enabled
          Transitions:
            - Days: 365
              StorageClass: STANDARD_IA
    properties:
      Rules:
        $ref: '#/definitions/LifecycleRules'
  GetBucketLifecycleConfigurationRequest:
    type: object
    example:
      Bucket: examplebucket
    properties: {}
  GetBucketLocationOutput:
    type: object
    example:
      LocationConstraint: us-west-2
    properties:
      LocationConstraint:
        $ref: '#/definitions/BucketLocationConstraint'
  GetBucketLocationRequest:
    type: object
    example:
      Bucket: examplebucket
    properties: {}
  GetBucketLoggingOutput:
    type: object
    properties:
      LoggingEnabled:
        $ref: '#/definitions/LoggingEnabled'
  GetBucketLoggingRequest:
    type: object
    properties: {}
  GetBucketMetricsConfigurationOutput:
    type: object
    properties:
      MetricsConfiguration:
        $ref: '#/definitions/MetricsConfiguration'
        description: Specifies the metrics configuration.
  GetBucketMetricsConfigurationRequest:
    type: object
    properties: {}
  NotificationConfigurationDeprecated:
    type: object
    example:
      QueueConfiguration:
        Event: 's3:ObjectCreated:Put'
        Events:
          - 's3:ObjectCreated:Put'
        Id: MDQ2OGQ4NDEtOTBmNi00YTM4LTk0NzYtZDIwN2I3NWQ1NjIx
        Queue: 'arn:aws:sqs:us-east-1:acct-id:S3ObjectCreatedEventQueue'
      TopicConfiguration:
        Event: 's3:ObjectCreated:Copy'
        Events:
          - 's3:ObjectCreated:Copy'
        Id: YTVkMWEzZGUtNTY1NS00ZmE2LWJjYjktMmRlY2QwODFkNTJi
        Topic: 'arn:aws:sns:us-east-1:acct-id:S3ObjectCreatedEventTopic'
    properties:
      TopicConfiguration:
        $ref: '#/definitions/TopicConfigurationDeprecated'
      QueueConfiguration:
        $ref: '#/definitions/QueueConfigurationDeprecated'
      CloudFunctionConfiguration:
        $ref: '#/definitions/CloudFunctionConfiguration'
  GetBucketNotificationConfigurationRequest:
    type: object
    example:
      Bucket: examplebucket
    properties: {}
  NotificationConfiguration:
    type: object
    properties:
      TopicConfigurations:
        $ref: '#/definitions/TopicConfigurationList'
      QueueConfigurations:
        $ref: '#/definitions/QueueConfigurationList'
      LambdaFunctionConfigurations:
        $ref: '#/definitions/LambdaFunctionConfigurationList'
    description: 'Container for specifying the notification configuration of the bucket. If this element is empty, notifications are turned off on the bucket.'
  GetBucketPolicyOutput:
    type: object
    example:
      Policy: '{"Version":"2008-10-17","Id":"LogPolicy","Statement":[{"Sid":"Enables the log delivery group to publish logs to your bucket ","Effect":"Allow","Principal":{"AWS":"111122223333"},"Action":["s3:GetBucketAcl","s3:GetObjectAcl","s3:PutObject"],"Resource":["arn:aws:s3:::policytest1/*","arn:aws:s3:::policytest1"]}]}'
    properties:
      Policy:
        $ref: '#/definitions/Policy'
        description: The bucket policy as a JSON document.
  GetBucketPolicyRequest:
    type: object
    example:
      Bucket: examplebucket
    properties: {}
  GetBucketReplicationOutput:
    type: object
    example:
      ReplicationConfiguration:
        Role: 'arn:aws:iam::acct-id:role/example-role'
        Rules:
          - Destination:
              Bucket: 'arn:aws:s3:::destination-bucket'
            ID: MWIwNTkwZmItMTE3MS00ZTc3LWJkZDEtNzRmODQwYzc1OTQy
            Prefix: Tax
            Status: Enabled
    properties:
      ReplicationConfiguration:
        $ref: '#/definitions/ReplicationConfiguration'
  GetBucketReplicationRequest:
    type: object
    example:
      Bucket: examplebucket
    properties: {}
  GetBucketRequestPaymentOutput:
    type: object
    example:
      Payer: BucketOwner
    properties:
      Payer:
        $ref: '#/definitions/Payer'
        description: Specifies who pays for the download and request fees.
  GetBucketRequestPaymentRequest:
    type: object
    example:
      Bucket: examplebucket
    properties: {}
  GetBucketTaggingOutput:
    type: object
    required:
      - TagSet
    example:
      TagSet:
        - Key: key1
          Value: value1
        - Key: key2
          Value: value2
    properties:
      TagSet:
        $ref: '#/definitions/TagSet'
  GetBucketTaggingRequest:
    type: object
    example:
      Bucket: examplebucket
    properties: {}
  GetBucketVersioningOutput:
    type: object
    example:
      MFADelete: Disabled
      Status: Enabled
    properties:
      Status:
        $ref: '#/definitions/BucketVersioningStatus'
        description: The versioning state of the bucket.
      MFADelete:
        $ref: '#/definitions/MFADeleteStatus'
        description: 'Specifies whether MFA delete is enabled in the bucket versioning configuration. This element is only returned if the bucket has been configured with MFA delete. If the bucket has never been so configured, this element is not returned.'
  GetBucketVersioningRequest:
    type: object
    example:
      Bucket: examplebucket
    properties: {}
  GetBucketWebsiteOutput:
    type: object
    example:
      ErrorDocument:
        Key: error.html
      IndexDocument:
        Suffix: index.html
    properties:
      RedirectAllRequestsTo:
        $ref: '#/definitions/RedirectAllRequestsTo'
      IndexDocument:
        $ref: '#/definitions/IndexDocument'
      ErrorDocument:
        $ref: '#/definitions/ErrorDocument'
      RoutingRules:
        $ref: '#/definitions/RoutingRules'
  GetBucketWebsiteRequest:
    type: object
    example:
      Bucket: examplebucket
    properties: {}
  GetObjectOutput:
    type: object
    example:
      AcceptRanges: bytes
      ContentLength: '10'
      ContentRange: bytes 0-9/43
      ContentType: text/plain
      ETag: '"0d94420ffd0bc68cd3d152506b97a9cc"'
      LastModified: 'Thu, 09 Oct 2014 22:57:28 GMT'
      Metadata: {}
      VersionId: 'null'
    properties:
      Body:
        $ref: '#/definitions/Body'
        description: Object data.
  GetObjectRequest:
    type: object
    example:
      Bucket: examplebucket
      Key: SampleFile.txt
      Range: bytes=0-9
    properties: {}
  NoSuchKey: {}
  GetObjectAclOutput:
    type: object
    example:
      Grants:
        - Grantee:
            DisplayName: owner-display-name
            ID: examplee7a2f25102679df27bb0ae12b3f85be6f290b936c4393484be31bebcc
            Type: CanonicalUser
          Permission: WRITE
        - Grantee:
            DisplayName: owner-display-name
            ID: examplee7a2f25102679df27bb0ae12b3f85be6f290b936c4393484be31bebcc
            Type: CanonicalUser
          Permission: WRITE_ACP
        - Grantee:
            DisplayName: owner-display-name
            ID: examplee7a2f25102679df27bb0ae12b3f85be6f290b936c4393484be31bebcc
            Type: CanonicalUser
          Permission: READ
        - Grantee:
            DisplayName: owner-display-name
            ID: 852b113eexamplee7a2f25102679df27bb0ae12b3f85be6f290b936c4393484be31bebcc7a2f25102679df27bb0ae12b3f85be6f290b936c4393484be31bebcc
            Type: CanonicalUser
          Permission: READ_ACP
      Owner:
        DisplayName: owner-display-name
        ID: examplee7a2f25102679df27bb0ae12b3f85be6f290b936c4393484be31bebcc
    properties:
      Owner:
        $ref: '#/definitions/Owner'
      Grants:
        $ref: '#/definitions/Grants'
        description: A list of grants.
  GetObjectAclRequest:
    type: object
    example:
      Bucket: examplebucket
      Key: HappyFace.jpg
    properties: {}
  GetObjectTaggingOutput:
    type: object
    required:
      - TagSet
    example:
      TagSet:
        - Key: Key1
          Value: Value1
      VersionId: ydlaNkwWm0SfKJR.T1b1fIdPRbldTYRI
    properties:
      TagSet:
        $ref: '#/definitions/TagSet'
  GetObjectTaggingRequest:
    type: object
    example:
      Bucket: examplebucket
      Key: exampleobject
      VersionId: ydlaNkwWm0SfKJR.T1b1fIdPRbldTYRI
    properties: {}
  GetObjectTorrentOutput:
    type: object
    example: {}
    properties:
      Body:
        $ref: '#/definitions/Body'
  GetObjectTorrentRequest:
    type: object
    example:
      Bucket: examplebucket
      Key: HappyFace.jpg
    properties: {}
  HeadBucketRequest:
    type: object
    example:
      Bucket: acl1
    properties: {}
  NoSuchBucket: {}
  HeadObjectOutput:
    type: object
    example:
      AcceptRanges: bytes
      ContentLength: '3191'
      ContentType: image/jpeg
      ETag: '"6805f2cfc46c0f04559748bb039d69ae"'
      LastModified: 'Thu, 15 Dec 2016 01:19:41 GMT'
      Metadata: {}
      VersionId: 'null'
    properties: {}
  HeadObjectRequest:
    type: object
    example:
      Bucket: examplebucket
      Key: HappyFace.jpg
    properties: {}
  ListBucketAnalyticsConfigurationsOutput:
    type: object
    properties:
      IsTruncated:
        $ref: '#/definitions/IsTruncated'
        description: Indicates whether the returned list of analytics configurations is complete. A value of true indicates that the list is not complete and the NextContinuationToken will be provided for a subsequent request.
      ContinuationToken:
        $ref: '#/definitions/Token'
        description: The ContinuationToken that represents where this request began.
      NextContinuationToken:
        $ref: '#/definitions/NextToken'
        description: 'NextContinuationToken is sent when isTruncated is true, which indicates that there are more analytics configurations to list. The next request must include this NextContinuationToken. The token is obfuscated and is not a usable value.'
      AnalyticsConfigurationList:
        $ref: '#/definitions/AnalyticsConfigurationList'
        description: The list of analytics configurations for a bucket.
  ListBucketAnalyticsConfigurationsRequest:
    type: object
    properties: {}
  ListBucketInventoryConfigurationsOutput:
    type: object
    properties:
      ContinuationToken:
        $ref: '#/definitions/Token'
        description: 'If sent in the request, the marker that is used as a starting point for this inventory configuration list response.'
      InventoryConfigurationList:
        $ref: '#/definitions/InventoryConfigurationList'
        description: The list of inventory configurations for a bucket.
      IsTruncated:
        $ref: '#/definitions/IsTruncated'
        description: Indicates whether the returned list of inventory configurations is truncated in this response. A value of true indicates that the list is truncated.
      NextContinuationToken:
        $ref: '#/definitions/NextToken'
        description: The marker used to continue this inventory configuration listing. Use the NextContinuationToken from this response to continue the listing in a subsequent request. The continuation token is an opaque value that Amazon S3 understands.
  ListBucketInventoryConfigurationsRequest:
    type: object
    properties: {}
  ListBucketMetricsConfigurationsOutput:
    type: object
    properties:
      IsTruncated:
        $ref: '#/definitions/IsTruncated'
        description: Indicates whether the returned list of metrics configurations is complete. A value of true indicates that the list is not complete and the NextContinuationToken will be provided for a subsequent request.
      ContinuationToken:
        $ref: '#/definitions/Token'
        description: The marker that is used as a starting point for this metrics configuration list response. This value is present if it was sent in the request.
      NextContinuationToken:
        $ref: '#/definitions/NextToken'
        description: The marker used to continue a metrics configuration listing that has been truncated. Use the NextContinuationToken from a previously truncated list response to continue the listing. The continuation token is an opaque value that Amazon S3 understands.
      MetricsConfigurationList:
        $ref: '#/definitions/MetricsConfigurationList'
        description: The list of metrics configurations for a bucket.
  ListBucketMetricsConfigurationsRequest:
    type: object
    properties: {}
  ListBucketsOutput:
    type: object
    example:
      Buckets:
        - CreationDate: '2012-02-15T21: 03: 02.000Z'
          Name: examplebucket
        - CreationDate: '2011-07-24T19: 33: 50.000Z'
          Name: examplebucket2
        - CreationDate: '2010-12-17T00: 56: 49.000Z'
          Name: examplebucket3
      Owner:
        DisplayName: own-display-name
        ID: examplee7a2f25102679df27bb0ae12b3f85be6f290b936c4393484be31
    properties:
      Buckets:
        $ref: '#/definitions/Buckets'
      Owner:
        $ref: '#/definitions/Owner'
  ListMultipartUploadsOutput:
    type: object
    example:
      Bucket: acl1
      IsTruncated: true
      KeyMarker: ''
      MaxUploads: '2'
      NextKeyMarker: someobjectkey
      NextUploadIdMarker: examplelo91lv1iwvWpvCiJWugw2xXLPAD7Z8cJyX9.WiIRgNrdG6Ldsn.9FtS63TCl1Uf5faTB.1U5Ckcbmdw--
      UploadIdMarker: ''
      Uploads:
        - Initiated: '2014-05-01T05:40:58.000Z'
          Initiator:
            DisplayName: ownder-display-name
            ID: examplee7a2f25102679df27bb0ae12b3f85be6f290b936c4393484be31bebcc
          Key: JavaFile
          Owner:
            DisplayName: mohanataws
            ID: 852b113e7a2f25102679df27bb0ae12b3f85be6f290b936c4393484be31bebcc
          StorageClass: STANDARD
          UploadId: gZ30jIqlUa.CInXklLQtSMJITdUnoZ1Y5GACB5UckOtspm5zbDMCkPF_qkfZzMiFZ6dksmcnqxJyIBvQMG9X9Q--
        - Initiated: '2014-05-01T05:41:27.000Z'
          Initiator:
            DisplayName: ownder-display-name
            ID: examplee7a2f25102679df27bb0ae12b3f85be6f290b936c4393484be31bebcc
          Key: JavaFile
          Owner:
            DisplayName: ownder-display-name
            ID: examplee7a2f25102679df27bb0ae12b3f85be6f290b936c4393484be31bebcc
          StorageClass: STANDARD
          UploadId: b7tZSqIlo91lv1iwvWpvCiJWugw2xXLPAD7Z8cJyX9.WiIRgNrdG6Ldsn.9FtS63TCl1Uf5faTB.1U5Ckcbmdw--
    properties:
      Bucket:
        $ref: '#/definitions/BucketName'
        description: Name of the bucket to which the multipart upload was initiated.
      KeyMarker:
        $ref: '#/definitions/KeyMarker'
        description: The key at or after which the listing began.
      UploadIdMarker:
        $ref: '#/definitions/UploadIdMarker'
        description: Upload ID after which listing began.
      NextKeyMarker:
        $ref: '#/definitions/NextKeyMarker'
        description: 'When a list is truncated, this element specifies the value that should be used for the key-marker request parameter in a subsequent request.'
      Prefix:
        $ref: '#/definitions/Prefix'
        description: 'When a prefix is provided in the request, this field contains the specified prefix. The result contains only keys starting with the specified prefix.'
      Delimiter:
        $ref: '#/definitions/Delimiter'
      NextUploadIdMarker:
        $ref: '#/definitions/NextUploadIdMarker'
        description: 'When a list is truncated, this element specifies the value that should be used for the upload-id-marker request parameter in a subsequent request.'
      MaxUploads:
        $ref: '#/definitions/MaxUploads'
        description: Maximum number of multipart uploads that could have been included in the response.
      IsTruncated:
        $ref: '#/definitions/IsTruncated'
        description: Indicates whether the returned list of multipart uploads is truncated. A value of true indicates that the list was truncated. The list can be truncated if the number of multipart uploads exceeds the limit allowed or specified by max uploads.
      Uploads:
        $ref: '#/definitions/MultipartUploadList'
      CommonPrefixes:
        $ref: '#/definitions/CommonPrefixList'
      EncodingType:
        $ref: '#/definitions/EncodingType'
        description: Encoding type used by Amazon S3 to encode object keys in the response.
  ListMultipartUploadsRequest:
    type: object
    example:
      Bucket: examplebucket
      KeyMarker: nextkeyfrompreviousresponse
      MaxUploads: '2'
      UploadIdMarker: valuefrompreviousresponse
    properties: {}
  ListObjectVersionsOutput:
    type: object
    example:
      Versions:
        - ETag: '"6805f2cfc46c0f04559748bb039d69ae"'
          IsLatest: true
          Key: HappyFace.jpg
          LastModified: '2016-12-15T01:19:41.000Z'
          Owner:
            DisplayName: owner-display-name
            ID: examplee7a2f25102679df27bb0ae12b3f85be6f290b936c4393484be31bebcc
          Size: 3191
          StorageClass: STANDARD
          VersionId: 'null'
        - ETag: '"6805f2cfc46c0f04559748bb039d69ae"'
          IsLatest: false
          Key: HappyFace.jpg
          LastModified: '2016-12-13T00:58:26.000Z'
          Owner:
            DisplayName: owner-display-name
            ID: examplee7a2f25102679df27bb0ae12b3f85be6f290b936c4393484be31bebcc
          Size: 3191
          StorageClass: STANDARD
          VersionId: PHtexPGjH2y.zBgT8LmB7wwLI2mpbz.k
    properties:
      IsTruncated:
        $ref: '#/definitions/IsTruncated'
        description: 'A flag that indicates whether or not Amazon S3 returned all of the results that satisfied the search criteria. If your results were truncated, you can make a follow-up paginated request using the NextKeyMarker and NextVersionIdMarker response parameters as a starting place in another request to return the rest of the results.'
      KeyMarker:
        $ref: '#/definitions/KeyMarker'
        description: Marks the last Key returned in a truncated response.
      VersionIdMarker:
        $ref: '#/definitions/VersionIdMarker'
      NextKeyMarker:
        $ref: '#/definitions/NextKeyMarker'
        description: Use this value for the key marker request parameter in a subsequent request.
      NextVersionIdMarker:
        $ref: '#/definitions/NextVersionIdMarker'
        description: Use this value for the next version id marker parameter in a subsequent request.
      Versions:
        $ref: '#/definitions/ObjectVersionList'
      DeleteMarkers:
        $ref: '#/definitions/DeleteMarkers'
      Name:
        $ref: '#/definitions/BucketName'
      Prefix:
        $ref: '#/definitions/Prefix'
      Delimiter:
        $ref: '#/definitions/Delimiter'
      MaxKeys:
        $ref: '#/definitions/MaxKeys'
      CommonPrefixes:
        $ref: '#/definitions/CommonPrefixList'
      EncodingType:
        $ref: '#/definitions/EncodingType'
        description: Encoding type used by Amazon S3 to encode object keys in the response.
  ListObjectVersionsRequest:
    type: object
    example:
      Bucket: examplebucket
      Prefix: HappyFace.jpg
    properties: {}
  ListObjectsOutput:
    type: object
    example:
      Contents:
        - ETag: '"70ee1738b6b21e2c8a43f3a5ab0eee71"'
          Key: example1.jpg
          LastModified: '2014-11-21T19:40:05.000Z'
          Owner:
            DisplayName: myname
            ID: 12345example25102679df27bb0ae12b3f85be6f290b936c4393484be31bebcc
          Size: 11
          StorageClass: STANDARD
        - ETag: '"9c8af9a76df052144598c115ef33e511"'
          Key: example2.jpg
          LastModified: '2013-11-15T01:10:49.000Z'
          Owner:
            DisplayName: myname
            ID: 12345example25102679df27bb0ae12b3f85be6f290b936c4393484be31bebcc
          Size: 713193
          StorageClass: STANDARD
      NextMarker: eyJNYXJrZXIiOiBudWxsLCAiYm90b190cnVuY2F0ZV9hbW91bnQiOiAyfQ==
    properties:
      IsTruncated:
        $ref: '#/definitions/IsTruncated'
        description: A flag that indicates whether or not Amazon S3 returned all of the results that satisfied the search criteria.
      Marker:
        $ref: '#/definitions/Marker'
      NextMarker:
        $ref: '#/definitions/NextMarker'
        description: 'When response is truncated (the IsTruncated element value in the response is true), you can use the key name in this field as marker in the subsequent request to get next set of objects. Amazon S3 lists objects in alphabetical order Note: This element is returned only if you have delimiter request parameter specified. If response does not include the NextMaker and it is truncated, you can use the value of the last Key in the response as the marker in the subsequent request to get the next set of object keys.'
      Contents:
        $ref: '#/definitions/ObjectList'
      Name:
        $ref: '#/definitions/BucketName'
      Prefix:
        $ref: '#/definitions/Prefix'
      Delimiter:
        $ref: '#/definitions/Delimiter'
      MaxKeys:
        $ref: '#/definitions/MaxKeys'
      CommonPrefixes:
        $ref: '#/definitions/CommonPrefixList'
      EncodingType:
        $ref: '#/definitions/EncodingType'
        description: Encoding type used by Amazon S3 to encode object keys in the response.
  ListObjectsRequest:
    type: object
    example:
      Bucket: examplebucket
      MaxKeys: '2'
    properties: {}
  ListObjectsV2Output:
    type: object
    example:
      Contents:
        - ETag: '"70ee1738b6b21e2c8a43f3a5ab0eee71"'
          Key: happyface.jpg
          LastModified: '2014-11-21T19:40:05.000Z'
          Size: 11
          StorageClass: STANDARD
        - ETag: '"becf17f89c30367a9a44495d62ed521a-1"'
          Key: test.jpg
          LastModified: '2014-05-02T04:51:50.000Z'
          Size: 4192256
          StorageClass: STANDARD
      IsTruncated: true
      KeyCount: '2'
      MaxKeys: '2'
      Name: examplebucket
      NextContinuationToken: 1w41l63U0xa8q7smH50vCxyTQqdxo69O3EmK28Bi5PcROI4wI/EyIJg==
      Prefix: ''
    properties:
      IsTruncated:
        $ref: '#/definitions/IsTruncated'
        description: A flag that indicates whether or not Amazon S3 returned all of the results that satisfied the search criteria.
      Contents:
        $ref: '#/definitions/ObjectList'
        description: Metadata about each object returned.
      Name:
        $ref: '#/definitions/BucketName'
        description: Name of the bucket to list.
      Prefix:
        $ref: '#/definitions/Prefix'
        description: Limits the response to keys that begin with the specified prefix.
      Delimiter:
        $ref: '#/definitions/Delimiter'
        description: A delimiter is a character you use to group keys.
      MaxKeys:
        $ref: '#/definitions/MaxKeys'
        description: Sets the maximum number of keys returned in the response. The response might contain fewer keys but will never contain more.
      CommonPrefixes:
        $ref: '#/definitions/CommonPrefixList'
        description: CommonPrefixes contains all (if there are any) keys between Prefix and the next occurrence of the string specified by delimiter
      EncodingType:
        $ref: '#/definitions/EncodingType'
        description: Encoding type used by Amazon S3 to encode object keys in the response.
      KeyCount:
        $ref: '#/definitions/KeyCount'
        description: 'KeyCount is the number of keys returned with this request. KeyCount will always be less than equals to MaxKeys field. Say you ask for 50 keys, your result will include less than equals 50 keys '
      ContinuationToken:
        $ref: '#/definitions/Token'
        description: ContinuationToken indicates Amazon S3 that the list is being continued on this bucket with a token. ContinuationToken is obfuscated and is not a real key
      NextContinuationToken:
        $ref: '#/definitions/NextToken'
        description: NextContinuationToken is sent when isTruncated is true which means there are more keys in the bucket that can be listed. The next list requests to Amazon S3 can be continued with this NextContinuationToken. NextContinuationToken is obfuscated and is not a real key
      StartAfter:
        $ref: '#/definitions/StartAfter'
        description: StartAfter is where you want Amazon S3 to start listing from. Amazon S3 starts listing after this specified key. StartAfter can be any key in the bucket
  ListObjectsV2Request:
    type: object
    example:
      Bucket: examplebucket
      MaxKeys: '2'
    properties: {}
  ListPartsOutput:
    type: object
    example:
      Initiator:
        DisplayName: owner-display-name
        ID: examplee7a2f25102679df27bb0ae12b3f85be6f290b936c4393484be31bebcc
      Owner:
        DisplayName: owner-display-name
        ID: examplee7a2f25102679df27bb0ae12b3f85be6f290b936c4393484be31bebcc
      Parts:
        - ETag: '"d8c2eafd90c266e19ab9dcacc479f8af"'
          LastModified: '2016-12-16T00:11:42.000Z'
          PartNumber: '1'
          Size: 26246026
        - ETag: '"d8c2eafd90c266e19ab9dcacc479f8af"'
          LastModified: '2016-12-16T00:15:01.000Z'
          PartNumber: '2'
          Size: 26246026
      StorageClass: STANDARD
    properties:
      Bucket:
        $ref: '#/definitions/BucketName'
        description: Name of the bucket to which the multipart upload was initiated.
      Key:
        $ref: '#/definitions/ObjectKey'
        description: Object key for which the multipart upload was initiated.
      UploadId:
        $ref: '#/definitions/MultipartUploadId'
        description: Upload ID identifying the multipart upload whose parts are being listed.
      PartNumberMarker:
        $ref: '#/definitions/PartNumberMarker'
        description: Part number after which listing begins.
      NextPartNumberMarker:
        $ref: '#/definitions/NextPartNumberMarker'
        description: 'When a list is truncated, this element specifies the last part in the list, as well as the value to use for the part-number-marker request parameter in a subsequent request.'
      MaxParts:
        $ref: '#/definitions/MaxParts'
        description: Maximum number of parts that were allowed in the response.
      IsTruncated:
        $ref: '#/definitions/IsTruncated'
        description: Indicates whether the returned list of parts is truncated.
      Parts:
        $ref: '#/definitions/Parts'
      Initiator:
        $ref: '#/definitions/Initiator'
        description: Identifies who initiated the multipart upload.
      Owner:
        $ref: '#/definitions/Owner'
      StorageClass:
        $ref: '#/definitions/StorageClass'
        description: The class of storage used to store the object.
  ListPartsRequest:
    type: object
    example:
      Bucket: examplebucket
      Key: bigobject
      UploadId: example7YPBOJuoFiQ9cz4P3Pe6FIZwO4f7wN93uHsNBEw97pl5eNwzExg0LAT2dUN91cOmrEQHDsP3WA60CEg--
    properties: {}
  PutBucketAccelerateConfigurationRequest:
    type: object
    required:
      - AccelerateConfiguration
    properties:
      AccelerateConfiguration:
        $ref: '#/definitions/AccelerateConfiguration'
        description: Specifies the Accelerate Configuration you want to set for the bucket.
    xml:
      namespace: 'http://s3.amazonaws.com/doc/2006-03-01/'
  PutBucketAclRequest:
    type: object
    example:
      Bucket: examplebucket
      GrantFullControl: id=examplee7a2f25102679df27bb0ae12b3f85be6f290b936c4393484
      GrantWrite: 'uri=http://acs.amazonaws.com/groups/s3/LogDelivery'
    properties:
      AccessControlPolicy:
        $ref: '#/definitions/AccessControlPolicy'
    xml:
      namespace: 'http://s3.amazonaws.com/doc/2006-03-01/'
  PutBucketAnalyticsConfigurationRequest:
    type: object
    required:
      - AnalyticsConfiguration
    properties:
      AnalyticsConfiguration:
        $ref: '#/definitions/AnalyticsConfiguration'
        description: The configuration and any analyses for the analytics filter.
    xml:
      namespace: 'http://s3.amazonaws.com/doc/2006-03-01/'
  PutBucketCorsRequest:
    type: object
    required:
      - CORSConfiguration
    example:
      Bucket: ''
      CORSConfiguration:
        CORSRules:
          - AllowedHeaders:
              - '*'
            AllowedMethods:
              - PUT
              - POST
              - DELETE
            AllowedOrigins:
              - 'http://www.example.com'
            ExposeHeaders:
              - x-amz-server-side-encryption
            MaxAgeSeconds: 3000
          - AllowedHeaders:
              - Authorization
            AllowedMethods:
              - GET
            AllowedOrigins:
              - '*'
            MaxAgeSeconds: 3000
      ContentMD5: ''
    properties:
      CORSConfiguration:
        $ref: '#/definitions/CORSConfiguration'
    xml:
      namespace: 'http://s3.amazonaws.com/doc/2006-03-01/'
  PutBucketEncryptionRequest:
    type: object
    required:
      - ServerSideEncryptionConfiguration
    properties:
      ServerSideEncryptionConfiguration:
        $ref: '#/definitions/ServerSideEncryptionConfiguration'
    xml:
      namespace: 'http://s3.amazonaws.com/doc/2006-03-01/'
  PutBucketInventoryConfigurationRequest:
    type: object
    required:
      - InventoryConfiguration
    properties:
      InventoryConfiguration:
        $ref: '#/definitions/InventoryConfiguration'
        description: Specifies the inventory configuration.
    xml:
      namespace: 'http://s3.amazonaws.com/doc/2006-03-01/'
  PutBucketLifecycleRequest:
    type: object
    properties:
      LifecycleConfiguration:
        $ref: '#/definitions/LifecycleConfiguration'
    xml:
      namespace: 'http://s3.amazonaws.com/doc/2006-03-01/'
  PutBucketLifecycleConfigurationRequest:
    type: object
    example:
      Bucket: examplebucket
      LifecycleConfiguration:
        Rules:
          - Expiration:
              Days: 3650
            Filter:
              Prefix: documents/
            ID: TestOnly
            Status: Enabled
            Transitions:
              - Days: 365
                StorageClass: GLACIER
    properties:
      LifecycleConfiguration:
        $ref: '#/definitions/BucketLifecycleConfiguration'
    xml:
      namespace: 'http://s3.amazonaws.com/doc/2006-03-01/'
  PutBucketLoggingRequest:
    type: object
    required:
      - BucketLoggingStatus
    example:
      Bucket: sourcebucket
      BucketLoggingStatus:
        LoggingEnabled:
          TargetBucket: targetbucket
          TargetGrants:
            - Grantee:
                Type: Group
                URI: 'http://acs.amazonaws.com/groups/global/AllUsers'
              Permission: READ
          TargetPrefix: MyBucketLogs/
    properties:
      BucketLoggingStatus:
        $ref: '#/definitions/BucketLoggingStatus'
    xml:
      namespace: 'http://s3.amazonaws.com/doc/2006-03-01/'
  PutBucketMetricsConfigurationRequest:
    type: object
    required:
      - MetricsConfiguration
    properties:
      MetricsConfiguration:
        $ref: '#/definitions/MetricsConfiguration'
        description: Specifies the metrics configuration.
    xml:
      namespace: 'http://s3.amazonaws.com/doc/2006-03-01/'
  PutBucketNotificationRequest:
    type: object
    required:
      - NotificationConfiguration
    properties:
      NotificationConfiguration:
        $ref: '#/definitions/NotificationConfigurationDeprecated'
    xml:
      namespace: 'http://s3.amazonaws.com/doc/2006-03-01/'
  PutBucketNotificationConfigurationRequest:
    type: object
    required:
      - NotificationConfiguration
    example:
      Bucket: examplebucket
      NotificationConfiguration:
        TopicConfigurations:
          - Events:
              - 's3:ObjectCreated:*'
            TopicArn: 'arn:aws:sns:us-west-2:123456789012:s3-notification-topic'
    properties:
[...]
