swagger: '2.0'
info:
  version: '2006-03-01'
  x-release: s3
  title: Amazon Simple Storage Service
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: s3
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/s3-2006-03-01.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/s3/'
host: s3.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes:
  - text/xml
produces:
  - text/xml
parameters:
  x-amz-security-token:
    name: x-amz-security-token
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon S3 signature
    x-amazon-apigateway-authtype: awsS3
security:
  - hmac: []
paths:
  '/{Bucket}/{Key}':
    delete:
      operationId: AbortMultipartUpload
      description: '<p>Aborts a multipart upload.</p><p>To verify that all parts have been removed, so you don''t get charged for the part storage, you should call the List Parts operation and ensure the parts list is empty.</p><p>http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadAbort.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AbortMultipartUploadOutput'
        '480':
          description: NoSuchUpload
          schema:
            $ref: '#/definitions/NoSuchUpload'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AbortMultipartUploadRequest'
        - name: Bucket
          in: path
          type: string
          required: true
        - name: Key
          in: path
          type: array
          required: true
          items:
            type: string
          collectionFormat: csv
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
    post:
      operationId: CompleteMultipartUpload
      description: 'Completes a multipart upload by assembling previously uploaded parts.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadComplete.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CompleteMultipartUploadOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CompleteMultipartUploadRequest'
        - name: Bucket
          in: path
          type: string
          required: true
        - name: Key
          in: path
          type: array
          required: true
          items:
            type: string
          collectionFormat: csv
    put:
      operationId: CopyObject
      description: 'Creates a copy of an object that is already stored in Amazon S3.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectCOPY.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CopyObjectOutput'
        '480':
          description: ObjectNotInActiveTierError
          schema:
            $ref: '#/definitions/ObjectNotInActiveTierError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CopyObjectRequest'
        - name: Bucket
          in: path
          type: string
          required: true
        - name: Key
          in: path
          type: array
          required: true
          items:
            type: string
          collectionFormat: csv
  '/{Bucket}':
    put:
      operationId: CreateBucket
      description: 'Creates a new bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUT.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateBucketOutput'
        '480':
          description: BucketAlreadyExists
          schema:
            $ref: '#/definitions/BucketAlreadyExists'
        '481':
          description: BucketAlreadyOwnedByYou
          schema:
            $ref: '#/definitions/BucketAlreadyOwnedByYou'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateBucketRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
    delete:
      operationId: DeleteBucket
      description: 'Deletes the bucket. All objects (including all object versions and Delete Markers) in the bucket must be deleted before the bucket itself can be deleted.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETE.html</p>'
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteBucketRequest'
        - name: Bucket
          in: path
          type: string
          required: true
  '/{Bucket}/{Key}?uploads':
    post:
      operationId: CreateMultipartUpload
      description: '<p>Initiates a multipart upload and returns an upload ID.</p><p><b>Note:</b> After you initiate multipart upload and upload one or more parts, you must either complete or abort multipart upload in order to stop getting charged for storage of the uploaded parts. Only after you either complete or abort multipart upload, Amazon S3 frees up the parts storage and stops charging you for the parts storage.</p><p>http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadInitiate.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateMultipartUploadOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateMultipartUploadRequest'
        - name: Bucket
          in: path
          type: string
          required: true
        - name: Key
          in: path
          type: array
          required: true
          items:
            type: string
          collectionFormat: csv
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?analytics':
    delete:
      operationId: DeleteBucketAnalyticsConfiguration
      description: Deletes an analytics configuration for the bucket (specified by the analytics configuration ID).
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteBucketAnalyticsConfigurationRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?cors':
    delete:
      operationId: DeleteBucketCors
      description: 'Deletes the cors configuration information set for the bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETEcors.html</p>'
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteBucketCorsRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?encryption':
    delete:
      operationId: DeleteBucketEncryption
      description: Deletes the server-side encryption configuration from the bucket.
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteBucketEncryptionRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?inventory':
    delete:
      operationId: DeleteBucketInventoryConfiguration
      description: Deletes an inventory configuration (identified by the inventory ID) from the bucket.
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteBucketInventoryConfigurationRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?lifecycle':
    delete:
      operationId: DeleteBucketLifecycle
      description: 'Deletes the lifecycle configuration from the bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETElifecycle.html</p>'
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteBucketLifecycleRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?metrics':
    delete:
      operationId: DeleteBucketMetricsConfiguration
      description: Deletes a metrics configuration (specified by the metrics configuration ID) from the bucket.
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteBucketMetricsConfigurationRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?policy':
    delete:
      operationId: DeleteBucketPolicy
      description: 'Deletes the policy from the bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETEpolicy.html</p>'
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteBucketPolicyRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?replication':
    delete:
      operationId: DeleteBucketReplication
      description: Deletes the replication configuration from the bucket.
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteBucketReplicationRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?tagging':
    delete:
      operationId: DeleteBucketTagging
      description: 'Deletes the tags from the bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETEtagging.html</p>'
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteBucketTaggingRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?website':
    delete:
      operationId: DeleteBucketWebsite
      description: 'This operation removes the website configuration from the bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETEwebsite.html</p>'
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteBucketWebsiteRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}/{Key}#DeleteObject':
    delete:
      operationId: DeleteObject
      description: 'Removes the null version (if there is one) of an object and inserts a delete marker, which becomes the latest version of the object. If there isn''t a null version, Amazon S3 does not remove any objects.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectDELETE.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteObjectOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteObjectRequest'
        - name: Bucket
          in: path
          type: string
          required: true
        - name: Key
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}/{Key}?tagging#DeleteObjectTagging':
    delete:
      operationId: DeleteObjectTagging
      description: Removes the tag-set from an existing object.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteObjectTaggingOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteObjectTaggingRequest'
        - name: Bucket
          in: path
          type: string
          required: true
        - name: Key
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?delete#DeleteObjects':
    post:
      operationId: DeleteObjects
      description: 'This operation enables you to delete multiple objects from a bucket using a single HTTP request. You may specify up to 1000 keys.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/multiobjectdeleteapi.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteObjectsOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteObjectsRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?accelerate#GetBucketAccelerateConfiguration':
    get:
      operationId: GetBucketAccelerateConfiguration
      description: Returns the accelerate configuration of a bucket.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketAccelerateConfigurationOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetBucketAccelerateConfigurationRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?acl#GetBucketAcl':
    get:
      operationId: GetBucketAcl
      description: 'Gets the access control policy for the bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETacl.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketAclOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetBucketAclRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?analytics#GetBucketAnalyticsConfiguration':
    get:
      operationId: GetBucketAnalyticsConfiguration
      description: Gets an analytics configuration for the bucket (specified by the analytics configuration ID).
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketAnalyticsConfigurationOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetBucketAnalyticsConfigurationRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?cors#GetBucketCors':
    get:
      operationId: GetBucketCors
      description: 'Returns the cors configuration for the bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETcors.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketCorsOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetBucketCorsRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?encryption#GetBucketEncryption':
    get:
      operationId: GetBucketEncryption
      description: Returns the server-side encryption configuration of a bucket.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketEncryptionOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetBucketEncryptionRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?inventory#GetBucketInventoryConfiguration':
    get:
      operationId: GetBucketInventoryConfiguration
      description: Returns an inventory configuration (identified by the inventory ID) from the bucket.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketInventoryConfigurationOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetBucketInventoryConfigurationRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?lifecycle#GetBucketLifecycle':
    get:
      operationId: GetBucketLifecycle
      description: 'Deprecated, see the GetBucketLifecycleConfiguration operation.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETlifecycle.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketLifecycleOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetBucketLifecycleRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?lifecycle#GetBucketLifecycleConfiguration':
    get:
      operationId: GetBucketLifecycleConfiguration
      description: Returns the lifecycle configuration information set on the bucket.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketLifecycleConfigurationOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetBucketLifecycleConfigurationRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?location#GetBucketLocation':
    get:
      operationId: GetBucketLocation
      description: 'Returns the region the bucket resides in.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETlocation.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketLocationOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetBucketLocationRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?logging#GetBucketLogging':
    get:
      operationId: GetBucketLogging
      description: 'Returns the logging status of a bucket and the permissions users have to view and modify that status. To use GET, you must be the bucket owner.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETlogging.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketLoggingOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetBucketLoggingRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?metrics#GetBucketMetricsConfiguration':
    get:
      operationId: GetBucketMetricsConfiguration
      description: Gets a metrics configuration (specified by the metrics configuration ID) from the bucket.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketMetricsConfigurationOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetBucketMetricsConfigurationRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?notification#GetBucketNotification':
    get:
      operationId: GetBucketNotification
      description: 'Deprecated, see the GetBucketNotificationConfiguration operation.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETnotification.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/NotificationConfigurationDeprecated'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetBucketNotificationConfigurationRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?notification#GetBucketNotificationConfiguration':
    get:
      operationId: GetBucketNotificationConfiguration
      description: Returns the notification configuration of a bucket.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/NotificationConfiguration'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetBucketNotificationConfigurationRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?policy#GetBucketPolicy':
    get:
      operationId: GetBucketPolicy
      description: 'Returns the policy of a specified bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETpolicy.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketPolicyOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetBucketPolicyRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?replication#GetBucketReplication':
    get:
      operationId: GetBucketReplication
      description: Returns the replication configuration of a bucket.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketReplicationOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetBucketReplicationRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?requestPayment#GetBucketRequestPayment':
    get:
      operationId: GetBucketRequestPayment
      description: 'Returns the request payment configuration of a bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTrequestPaymentGET.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketRequestPaymentOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetBucketRequestPaymentRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?tagging#GetBucketTagging':
    get:
      operationId: GetBucketTagging
      description: 'Returns the tag set associated with the bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETtagging.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketTaggingOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetBucketTaggingRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?versioning#GetBucketVersioning':
    get:
      operationId: GetBucketVersioning
      description: 'Returns the versioning state of a bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETversioningStatus.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketVersioningOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetBucketVersioningRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?website#GetBucketWebsite':
    get:
      operationId: GetBucketWebsite
      description: 'Returns the website configuration for a bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETwebsite.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketWebsiteOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetBucketWebsiteRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}/{Key}#GetObject':
    get:
      operationId: GetObject
      description: 'Retrieves objects from Amazon S3.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectGET.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetObjectOutput'
        '480':
          description: NoSuchKey
          schema:
            $ref: '#/definitions/NoSuchKey'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetObjectRequest'
        - name: Bucket
          in: path
          type: string
          required: true
        - name: Key
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}/{Key}?acl#GetObjectAcl':
    get:
      operationId: GetObjectAcl
      description: 'Returns the access control list (ACL) of an object.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectGETacl.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetObjectAclOutput'
        '480':
          description: NoSuchKey
          schema:
            $ref: '#/definitions/NoSuchKey'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetObjectAclRequest'
        - name: Bucket
          in: path
          type: string
          required: true
        - name: Key
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}/{Key}?tagging#GetObjectTagging':
    get:
      operationId: GetObjectTagging
      description: Returns the tag-set of an object.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetObjectTaggingOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetObjectTaggingRequest'
        - name: Bucket
          in: path
          type: string
          required: true
        - name: Key
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}/{Key}?torrent#GetObjectTorrent':
    get:
      operationId: GetObjectTorrent
      description: 'Return torrent files from a bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectGETtorrent.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetObjectTorrentOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetObjectTorrentRequest'
        - name: Bucket
          in: path
          type: string
          required: true
        - name: Key
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}#HeadBucket':
    head:
      operationId: HeadBucket
      description: 'This operation is useful to determine if a bucket exists and you have permission to access it.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketHEAD.html</p>'
      responses:
        '200':
          description: Success
        '480':
          description: NoSuchBucket
          schema:
            $ref: '#/definitions/NoSuchBucket'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/HeadBucketRequest'
        - name: Bucket
          in: path
          type: string
          required: true
      x-waiters:
        - delay: 5
          operation: HeadBucket
          maxAttempts: 20
          acceptors:
            - expected: 200
              matcher: status
              state: success
            - expected: 301
              matcher: status
              state: success
            - expected: 403
              matcher: status
              state: success
            - expected: 404
              matcher: status
              state: retry
        - delay: 5
          operation: HeadBucket
          maxAttempts: 20
          acceptors:
            - expected: 404
              matcher: status
              state: success
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}/{Key}#HeadObject':
    head:
      operationId: HeadObject
      description: 'The HEAD operation retrieves metadata from an object without returning the object itself. This operation is useful if you''re only interested in an object''s metadata. To use HEAD, you must have READ access to the object.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectHEAD.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/HeadObjectOutput'
        '480':
          description: NoSuchKey
          schema:
            $ref: '#/definitions/NoSuchKey'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/HeadObjectRequest'
        - name: Bucket
          in: path
          type: string
          required: true
        - name: Key
          in: path
          type: string
          required: true
      x-waiters:
        - delay: 5
          operation: HeadObject
          maxAttempts: 20
          acceptors:
            - expected: 200
              matcher: status
              state: success
            - expected: 404
              matcher: status
              state: retry
        - delay: 5
          operation: HeadObject
          maxAttempts: 20
          acceptors:
            - expected: 404
              matcher: status
              state: success
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?analytics#ListBucketAnalyticsConfigurations':
    get:
      operationId: ListBucketAnalyticsConfigurations
      description: Lists the analytics configurations for the bucket.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListBucketAnalyticsConfigurationsOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListBucketAnalyticsConfigurationsRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?inventory#ListBucketInventoryConfigurations':
    get:
      operationId: ListBucketInventoryConfigurations
      description: Returns a list of inventory configurations for the bucket.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListBucketInventoryConfigurationsOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListBucketInventoryConfigurationsRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?metrics#ListBucketMetricsConfigurations':
    get:
      operationId: ListBucketMetricsConfigurations
      description: Lists the metrics configurations for the bucket.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListBucketMetricsConfigurationsOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListBucketMetricsConfigurationsRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/#ListBuckets':
    get:
      operationId: ListBuckets
      description: 'Returns a list of all buckets owned by the authenticated sender of the request.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTServiceGET.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListBucketsOutput'
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?uploads#ListMultipartUploads':
    get:
      operationId: ListMultipartUploads
      description: 'This operation lists in-progress multipart uploads.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadListMPUpload.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListMultipartUploadsOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListMultipartUploadsRequest'
        - name: MaxUploads
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: KeyMarker
          type: string
          in: query
          description: Pagination token
          required: false
        - name: UploadIdMarker
          type: string
          in: query
          description: Pagination token
          required: false
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?versions#ListObjectVersions':
    get:
      operationId: ListObjectVersions
      description: 'Returns metadata about all of the versions of objects in a bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETVersion.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListObjectVersionsOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListObjectVersionsRequest'
        - name: MaxKeys
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: KeyMarker
          type: string
          in: query
          description: Pagination token
          required: false
        - name: VersionIdMarker
          type: string
          in: query
          description: Pagination token
          required: false
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}#ListObjects':
    get:
      operationId: ListObjects
      description: 'Returns some or all (up to 1000) of the objects in a bucket. You can use the request parameters as selection criteria to return a subset of the objects in a bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGET.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListObjectsOutput'
        '480':
          description: NoSuchBucket
          schema:
            $ref: '#/definitions/NoSuchBucket'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListObjectsRequest'
        - name: MaxKeys
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?list-type=2#ListObjectsV2':
    get:
      operationId: ListObjectsV2
      description: 'Returns some or all (up to 1000) of the objects in a bucket. You can use the request parameters as selection criteria to return a subset of the objects in a bucket. Note: ListObjectsV2 is the revised List Objects API and we recommend you use this revised API for new application development.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListObjectsV2Output'
        '480':
          description: NoSuchBucket
          schema:
            $ref: '#/definitions/NoSuchBucket'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListObjectsV2Request'
        - name: MaxKeys
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: ContinuationToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}/{Key}#ListParts':
    get:
      operationId: ListParts
      description: 'Lists the parts that have been uploaded for a specific multipart upload.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadListParts.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListPartsOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListPartsRequest'
        - name: MaxParts
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: PartNumberMarker
          type: string
          in: query
          description: Pagination token
          required: false
        - name: Bucket
          in: path
          type: string
          required: true
        - name: Key
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?accelerate#PutBucketAccelerateConfiguration':
    put:
      operationId: PutBucketAccelerateConfiguration
      description: Sets the accelerate configuration of an existing bucket.
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutBucketAccelerateConfigurationRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?acl#PutBucketAcl':
    put:
      operationId: PutBucketAcl
      description: 'Sets the permissions on a bucket using access control lists (ACL).<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTacl.html</p>'
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutBucketAclRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?analytics#PutBucketAnalyticsConfiguration':
    put:
      operationId: PutBucketAnalyticsConfiguration
      description: Sets an analytics configuration for the bucket (specified by the analytics configuration ID).
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutBucketAnalyticsConfigurationRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?cors#PutBucketCors':
    put:
      operationId: PutBucketCors
      description: 'Sets the cors configuration for a bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTcors.html</p>'
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutBucketCorsRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?encryption#PutBucketEncryption':
    put:
      operationId: PutBucketEncryption
      description: 'Creates a new server-side encryption configuration (or replaces an existing one, if present).'
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutBucketEncryptionRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?inventory#PutBucketInventoryConfiguration':
    put:
      operationId: PutBucketInventoryConfiguration
      description: Adds an inventory configuration (identified by the inventory ID) from the bucket.
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutBucketInventoryConfigurationRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?lifecycle#PutBucketLifecycle':
    put:
      operationId: PutBucketLifecycle
      description: 'Deprecated, see the PutBucketLifecycleConfiguration operation.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTlifecycle.html</p>'
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutBucketLifecycleRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?lifecycle#PutBucketLifecycleConfiguration':
    put:
      operationId: PutBucketLifecycleConfiguration
      description: 'Sets lifecycle configuration for your bucket. If a lifecycle configuration exists, it replaces it.'
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutBucketLifecycleConfigurationRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?logging#PutBucketLogging':
    put:
      operationId: PutBucketLogging
      description: 'Set the logging parameters for a bucket and to specify permissions for who can view and modify the logging parameters. To set the logging status of a bucket, you must be the bucket owner.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTlogging.html</p>'
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutBucketLoggingRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?metrics#PutBucketMetricsConfiguration':
    put:
      operationId: PutBucketMetricsConfiguration
      description: Sets a metrics configuration (specified by the metrics configuration ID) for the bucket.
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutBucketMetricsConfigurationRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?notification#PutBucketNotification':
    put:
      operationId: PutBucketNotification
      description: 'Deprecated, see the PutBucketNotificationConfiguraiton operation.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTnotification.html</p>'
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutBucketNotificationRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?notification#PutBucketNotificationConfiguration':
    put:
      operationId: PutBucketNotificationConfiguration
      description: Enables notifications of specified events for a bucket.
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutBucketNotificationConfigurationRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?policy#PutBucketPolicy':
    put:
      operationId: PutBucketPolicy
      description: 'Replaces a policy on a bucket. If the bucket already has a policy, the one in this request completely replaces it.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTpolicy.html</p>'
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutBucketPolicyRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?replication#PutBucketReplication':
    put:
      operationId: PutBucketReplication
      description: 'Creates a new replication configuration (or replaces an existing one, if present).'
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutBucketReplicationRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?requestPayment#PutBucketRequestPayment':
    put:
      operationId: PutBucketRequestPayment
      description: 'Sets the request payment configuration for a bucket. By default, the bucket owner pays for downloads from the bucket. This configuration parameter enables the bucket owner (only) to specify that the person requesting the download will be charged for the download. Documentation on requester pays buckets can be found at http://docs.aws.amazon.com/AmazonS3/latest/dev/RequesterPaysBuckets.html<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTrequestPaymentPUT.html</p>'
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutBucketRequestPaymentRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?tagging#PutBucketTagging':
    put:
      operationId: PutBucketTagging
      description: 'Sets the tags for a bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTtagging.html</p>'
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutBucketTaggingRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?versioning#PutBucketVersioning':
    put:
      operationId: PutBucketVersioning
      description: 'Sets the versioning state of an existing bucket. To set the versioning state, you must be the bucket owner.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTVersioningStatus.html</p>'
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutBucketVersioningRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}?website#PutBucketWebsite':
    put:
      operationId: PutBucketWebsite
      description: 'Set the website configuration for a bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTwebsite.html</p>'
      responses:
        '200':
          description: Success
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutBucketWebsiteRequest'
        - name: Bucket
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}/{Key}#PutObject':
    put:
      operationId: PutObject
      description: 'Adds an object to a bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectPUT.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutObjectOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutObjectRequest'
        - name: Bucket
          in: path
          type: string
          required: true
        - name: Key
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}/{Key}?acl#PutObjectAcl':
    put:
      operationId: PutObjectAcl
      description: 'uses the acl subresource to set the access control list (ACL) permissions for an object that already exists in a bucket<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectPUTacl.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutObjectAclOutput'
        '480':
          description: NoSuchKey
          schema:
            $ref: '#/definitions/NoSuchKey'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutObjectAclRequest'
        - name: Bucket
          in: path
          type: string
          required: true
        - name: Key
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}/{Key}?tagging#PutObjectTagging':
    put:
      operationId: PutObjectTagging
      description: Sets the supplied tag-set to an object that already exists in a bucket
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutObjectTaggingOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutObjectTaggingRequest'
        - name: Bucket
          in: path
          type: string
          required: true
        - name: Key
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}/{Key}?restore#RestoreObject':
    post:
      operationId: RestoreObject
      description: 'Restores an archived copy of an object back into Amazon S3<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectRestore.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RestoreObjectOutput'
        '480':
          description: ObjectAlreadyInActiveTierError
          schema:
            $ref: '#/definitions/ObjectAlreadyInActiveTierError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RestoreObjectRequest'
        - name: Bucket
          in: path
          type: string
          required: true
        - name: Key
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}/{Key}?select&select-type=2#SelectObjectContent':
    post:
      operationId: SelectObjectContent
      description: 'This operation filters the contents of an Amazon S3 object based on a simple Structured Query Language (SQL) statement. In the request, along with the SQL expression, you must also specify a data serialization format (JSON or CSV) of the object. Amazon S3 uses this to parse object data into records, and returns only records that match the specified SQL expression. You must also specify the data serialization format for the response.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SelectObjectContentOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SelectObjectContentRequest'
        - name: Bucket
          in: path
          type: string
          required: true
        - name: Key
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}/{Key}#UploadPart':
    put:
      operationId: UploadPart
      description: '<p>Uploads a part in a multipart upload.</p><p><b>Note:</b> After you initiate multipart upload and upload one or more parts, you must either complete or abort multipart upload in order to stop getting charged for storage of the uploaded parts. Only after you either complete or abort multipart upload, Amazon S3 frees up the parts storage and stops charging you for the parts storage.</p><p>http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadUploadPart.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UploadPartOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UploadPartRequest'
        - name: Bucket
          in: path
          type: string
          required: true
        - name: Key
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}/{Key}#UploadPartCopy':
    put:
      operationId: UploadPartCopy
      description: 'Uploads a part by copying data from an existing object as data source.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadUploadPartCopy.html</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UploadPartCopyOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UploadPartCopyRequest'
        - name: Bucket
          in: path
          type: string
          required: true
        - name: Key
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
definitions:
  AbortDate:
    type: string
    format: date-time
  AbortIncompleteMultipartUpload:
    type: object
    properties:
      DaysAfterInitiation:
        $ref: '#/definitions/DaysAfterInitiation'
        description: Indicates the number of days that must pass since initiation for Lifecycle to abort an Incomplete Multipart Upload.
    description: Specifies the days since the initiation of an Incomplete Multipart Upload that Lifecycle will wait before permanently removing all parts of the upload.
  AbortMultipartUploadOutput:
    type: object
    example: {}
    properties: {}
  AbortMultipartUploadRequest:
    type: object
    example:
      Bucket: examplebucket
      Key: bigobject
      UploadId: xadcOB_7YPBOJuoFiQ9cz4P3Pe6FIZwO4f7wN93uHsNBEw97pl5eNwzExg0LAT2dUN91cOmrEQHDsP3WA60CEg--
    properties: {}
  AbortRuleId:
    type: string
  AccelerateConfiguration:
    type: object
    properties:
      Status:
        $ref: '#/definitions/BucketAccelerateStatus'
        description: The accelerate configuration of the bucket.
  AcceptRanges:
    type: string
  AccessControlPolicy:
    type: object
    properties:
      Grants:
        $ref: '#/definitions/Grants'
        description: A list of grants.
      Owner:
        $ref: '#/definitions/Owner'
  AccessControlTranslation:
    type: object
    required:
      - Owner
    properties:
      Owner:
        $ref: '#/definitions/OwnerOverride'
        description: The override value for the owner of the replica object.
    description: Container for information regarding the access control for replicas.
  AccountId:
    type: string
  AllowedHeader:
    type: string
  AllowedHeaders:
    type: array
    items:
      $ref: '#/definitions/AllowedHeader'
    xml:
      wrapped: false
  AllowedMethod:
    type: string
  AllowedMethods:
    type: array
    items:
      $ref: '#/definitions/AllowedMethod'
    xml:
      wrapped: false
  AllowedOrigin:
    type: string
  AllowedOrigins:
    type: array
    items:
      $ref: '#/definitions/AllowedOrigin'
    xml:
      wrapped: false
  AnalyticsAndOperator:
    type: object
    properties:
      Prefix:
        $ref: '#/definitions/Prefix'
        description: The prefix to use when evaluating an AND predicate.
      Tags:
        $ref: '#/definitions/TagSet'
        description: The list of tags to use when evaluating an AND predicate.
    xml:
      wrapped: false
  AnalyticsConfiguration:
    type: object
    required:
      - Id
      - StorageClassAnalysis
    properties:
      Id:
        $ref: '#/definitions/AnalyticsId'
        description: The identifier used to represent an analytics configuration.
      Filter:
        $ref: '#/definitions/AnalyticsFilter'
        description: 'The filter used to describe a set of objects for analyses. A filter must have exactly one prefix, one tag, or one conjunction (AnalyticsAndOperator). If no filter is provided, all objects will be considered in any analysis.'
      StorageClassAnalysis:
        $ref: '#/definitions/StorageClassAnalysis'
        description: 'If present, it indicates that data related to access patterns will be collected and made available to analyze the tradeoffs between different storage classes.'
  AnalyticsConfigurationList:
    type: array
    items:
      $ref: '#/definitions/AnalyticsConfiguration'
    xml:
      wrapped: false
  AnalyticsExportDestination:
    type: object
    required:
      - S3BucketDestination
    properties:
      S3BucketDestination:
        $ref: '#/definitions/AnalyticsS3BucketDestination'
        description: A destination signifying output to an S3 bucket.
  AnalyticsFilter:
    type: object
    properties:
      Prefix:
        $ref: '#/definitions/Prefix'
        description: The prefix to use when evaluating an analytics filter.
      Tag:
        $ref: '#/definitions/Tag'
        description: The tag to use when evaluating an analytics filter.
      And:
        $ref: '#/definitions/AnalyticsAndOperator'
        description: 'A conjunction (logical AND) of predicates, which is used in evaluating an analytics filter. The operator must have at least two predicates.'
  AnalyticsId:
    type: string
  AnalyticsS3BucketDestination:
    type: object
    required:
      - Format
      - Bucket
    properties:
      Format:
        $ref: '#/definitions/AnalyticsS3ExportFileFormat'
        description: The file format used when exporting data to Amazon S3.
      BucketAccountId:
        $ref: '#/definitions/AccountId'
        description: 'The account ID that owns the destination bucket. If no account ID is provided, the owner will not be validated prior to exporting data.'
      Bucket:
        $ref: '#/definitions/BucketName'
        description: The Amazon resource name (ARN) of the bucket to which data is exported.
      Prefix:
        $ref: '#/definitions/Prefix'
        description: The prefix to use when exporting data. The exported data begins with this prefix.
  AnalyticsS3ExportFileFormat:
    type: string
    enum:
      - CSV
  Body:
    type: string
  Bucket:
    type: object
    properties:
      Name:
        $ref: '#/definitions/BucketName'
        description: The name of the bucket.
      CreationDate:
        $ref: '#/definitions/CreationDate'
        description: Date the bucket was created.
  BucketAccelerateStatus:
    type: string
    enum:
      - Enabled
      - Suspended
  BucketAlreadyExists:
    type: object
    properties: {}
    description: The requested bucket name is not available. The bucket namespace is shared by all users of the system. Please select a different name and try again.
  BucketAlreadyOwnedByYou:
    type: object
    properties: {}
  BucketCannedACL:
    type: string
    enum:
      - private
      - public-read
      - public-read-write
      - authenticated-read
  BucketLifecycleConfiguration:
    type: object
    required:
      - Rules
    properties:
      Rules:
        $ref: '#/definitions/LifecycleRules'
  BucketLocationConstraint:
    type: string
    enum:
      - EU
      - eu-west-1
      - us-west-1
      - us-west-2
      - ap-south-1
      - ap-southeast-1
      - ap-southeast-2
      - ap-northeast-1
      - sa-east-1
      - cn-north-1
      - eu-central-1
  BucketLoggingStatus:
    type: object
    properties:
      LoggingEnabled:
        $ref: '#/definitions/LoggingEnabled'
  BucketLogsPermission:
    type: string
    enum:
      - FULL_CONTROL
      - READ
      - WRITE
  BucketName:
    type: string
  BucketVersioningStatus:
    type: string
    enum:
      - Enabled
      - Suspended
  Buckets:
    type: array
    items:
      $ref: '#/definitions/Bucket'
  BytesProcessed:
    type: integer
  BytesReturned:
    type: integer
  BytesScanned:
    type: integer
  CORSConfiguration:
    type: object
    required:
      - CORSRules
    properties:
      CORSRules:
        $ref: '#/definitions/CORSRules'
  CORSRule:
    type: object
    required:
      - AllowedMethods
      - AllowedOrigins
    properties:
      AllowedHeaders:
        $ref: '#/definitions/AllowedHeaders'
        description: Specifies which headers are allowed in a pre-flight OPTIONS request.
      AllowedMethods:
        $ref: '#/definitions/AllowedMethods'
        description: Identifies HTTP methods that the domain/origin specified in the rule is allowed to execute.
      AllowedOrigins:
        $ref: '#/definitions/AllowedOrigins'
        description: One or more origins you want customers to be able to access the bucket from.
      ExposeHeaders:
        $ref: '#/definitions/ExposeHeaders'
        description: 'One or more headers in the response that you want customers to be able to access from their applications (for example, from a JavaScript XMLHttpRequest object).'
      MaxAgeSeconds:
        $ref: '#/definitions/MaxAgeSeconds'
        description: The time in seconds that your browser is to cache the preflight response for the specified resource.
  CORSRules:
    type: array
    items:
      $ref: '#/definitions/CORSRule'
    xml:
      wrapped: false
  CSVInput:
    type: object
    properties:
      FileHeaderInfo:
        $ref: '#/definitions/FileHeaderInfo'
        description: 'Describes the first line of input. Valid values: None, Ignore, Use.'
      Comments:
        $ref: '#/definitions/Comments'
        description: Single character used to indicate a row should be ignored when present at the start of a row.
      QuoteEscapeCharacter:
        $ref: '#/definitions/QuoteEscapeCharacter'
        description: Single character used for escaping the quote character inside an already escaped value.
      RecordDelimiter:
        $ref: '#/definitions/RecordDelimiter'
        description: Value used to separate individual records.
      FieldDelimiter:
        $ref: '#/definitions/FieldDelimiter'
        description: Value used to separate individual fields in a record.
      QuoteCharacter:
        $ref: '#/definitions/QuoteCharacter'
        description: Value used for escaping where the field delimiter is part of the value.
    description: Describes how a CSV-formatted input object is formatted.
  CSVOutput:
    type: object
    properties:
      QuoteFields:
        $ref: '#/definitions/QuoteFields'
        description: Indicates whether or not all output fields should be quoted.
      QuoteEscapeCharacter:
        $ref: '#/definitions/QuoteEscapeCharacter'
        description: Single character used for escaping the quote character inside an already escaped value.
      RecordDelimiter:
        $ref: '#/definitions/RecordDelimiter'
        description: Value used to separate individual records.
      FieldDelimiter:
        $ref: '#/definitions/FieldDelimiter'
        description: Value used to separate individual fields in a record.
      QuoteCharacter:
        $ref: '#/definitions/QuoteCharacter'
        description: Value used for escaping where the field delimiter is part of the value.
    description: Describes how CSV-formatted results are formatted.
  CacheControl:
    type: string
  CloudFunction:
    type: string
  CloudFunctionConfiguration:
    type: object
    properties:
      Id:
        $ref: '#/definitions/NotificationId'
      Event:
        $ref: '#/definitions/Event'
      Events:
        $ref: '#/definitions/EventList'
      CloudFunction:
        $ref: '#/definitions/CloudFunction'
      InvocationRole:
        $ref: '#/definitions/CloudFunctionInvocationRole'
  CloudFunctionInvocationRole:
    type: string
  Code:
    type: string
  Comments:
    type: string
  CommonPrefix:
    type: object
    properties:
      Prefix:
        $ref: '#/definitions/Prefix'
  CommonPrefixList:
    type: array
    items:
      $ref: '#/definitions/CommonPrefix'
    xml:
      wrapped: false
  CompleteMultipartUploadOutput:
    type: object
    example:
      Bucket: acexamplebucket
      ETag: '"4d9031c7644d8081c2829f4ea23c55f7-2"'
      Key: bigobject
      Location: 'https://examplebucket.s3.amazonaws.com/bigobject'
    properties:
      Location:
        $ref: '#/definitions/Location'
      Bucket:
        $ref: '#/definitions/BucketName'
      Key:
        $ref: '#/definitions/ObjectKey'
      ETag:
        $ref: '#/definitions/ETag'
        description: Entity tag of the object.
  CompleteMultipartUploadRequest:
    type: object
    example:
      Bucket: examplebucket
      Key: bigobject
      MultipartUpload:
        Parts:
          - ETag: '"d8c2eafd90c266e19ab9dcacc479f8af"'
            PartNumber: '1'
          - ETag: '"d8c2eafd90c266e19ab9dcacc479f8af"'
            PartNumber: '2'
      UploadId: 7YPBOJuoFiQ9cz4P3Pe6FIZwO4f7wN93uHsNBEw97pl5eNwzExg0LAT2dUN91cOmrEQHDsP3WA60CEg--
    properties:
      MultipartUpload:
        $ref: '#/definitions/CompletedMultipartUpload'
    xml:
      namespace: 'http://s3.amazonaws.com/doc/2006-03-01/'
  CompletedMultipartUpload:
    type: object
    properties:
      Parts:
        $ref: '#/definitions/CompletedPartList'
  CompletedPart:
    type: object
    properties:
      ETag:
        $ref: '#/definitions/ETag'
        description: Entity tag returned when the part was uploaded.
      PartNumber:
        $ref: '#/definitions/PartNumber'
        description: 'Part number that identifies the part. This is a positive integer between 1 and 10,000.'
  CompletedPartList:
    type: array
    items:
      $ref: '#/definitions/CompletedPart'
    xml:
      wrapped: false
  CompressionType:
    type: string
    enum:
      - NONE
      - GZIP
  Condition:
    type: object
    properties:
      HttpErrorCodeReturnedEquals:
        $ref: '#/definitions/HttpErrorCodeReturnedEquals'
        description: 'The HTTP error code when the redirect is applied. In the event of an error, if the error code equals this value, then the specified redirect is applied. Required when parent element Condition is specified and sibling KeyPrefixEquals is not specified. If both are specified, then both must be true for the redirect to be applied.'
      KeyPrefixEquals:
        $ref: '#/definitions/KeyPrefixEquals'
        description: 'The object key name prefix when the redirect is applied. For example, to redirect requests for ExamplePage.html, the key prefix will be ExamplePage.html. To redirect request for all pages with the prefix docs/, the key prefix will be /docs, which identifies all objects in the docs/ folder. Required when the parent element Condition is specified and sibling HttpErrorCodeReturnedEquals is not specified. If both conditions are specified, both must be true for the redirect to be applied.'
  ConfirmRemoveSelfBucketAccess:
    type: boolean
  ContentDisposition:
    type: string
  ContentEncoding:
    type: string
  ContentLanguage:
    type: string
  ContentLength:
    type: integer
  ContentMD5:
    type: string
  ContentRange:
    type: string
  ContentType:
    type: string
  ContinuationEvent:
    type: object
    properties: {}
  CopyObjectOutput:
    type: object
    example:
      CopyObjectResult:
        ETag: '"6805f2cfc46c0f04559748bb039d69ae"'
        LastModified: '2016-12-15T17:38:53.000Z'
    properties:
      CopyObjectResult:
        $ref: '#/definitions/CopyObjectResult'
  CopyObjectRequest:
    type: object
    example:
      Bucket: destinationbucket
      CopySource: /sourcebucket/HappyFacejpg
      Key: HappyFaceCopyjpg
    properties: {}
  CopyObjectResult:
    type: object
    properties:
      ETag:
        $ref: '#/definitions/ETag'
      LastModified:
        $ref: '#/definitions/LastModified'
  CopyPartResult:
    type: object
    properties:
      ETag:
        $ref: '#/definitions/ETag'
        description: Entity tag of the object.
      LastModified:
        $ref: '#/definitions/LastModified'
        description: Date and time at which the object was uploaded.
  CopySource:
    type: string
    pattern: \/.+\/.+
  CopySourceIfMatch:
    type: string
  CopySourceIfModifiedSince:
    type: string
    format: date-time
  CopySourceIfNoneMatch:
    type: string
  CopySourceIfUnmodifiedSince:
    type: string
    format: date-time
  CopySourceRange:
    type: string
  CopySourceSSECustomerAlgorithm:
    type: string
  CopySourceSSECustomerKey:
    type: string
    format: password
  CopySourceSSECustomerKeyMD5:
    type: string
  CopySourceVersionId:
    type: string
  CreateBucketConfiguration:
    type: object
    properties:
      LocationConstraint:
        $ref: '#/definitions/BucketLocationConstraint'
        description: 'Specifies the region where the bucket will be created. If you don''t specify a region, the bucket will be created in US Standard.'
  CreateBucketOutput:
    type: object
    example:
      Location: /examplebucket
    properties: {}
  CreateBucketRequest:
    type: object
    example:
      Bucket: examplebucket
    properties:
      CreateBucketConfiguration:
        $ref: '#/definitions/CreateBucketConfiguration'
    xml:
      namespace: 'http://s3.amazonaws.com/doc/2006-03-01/'
  CreateMultipartUploadOutput:
    type: object
    example:
      Bucket: examplebucket
      Key: largeobject
      UploadId: ibZBv_75gd9r8lH_gqXatLdxMVpAlj6ZQjEs.OwyF3953YdwbcQnMA2BLGn8Lx12fQNICtMw5KyteFeHw.Sjng--
    properties:
      Bucket:
        $ref: '#/definitions/BucketName'
        description: Name of the bucket to which the multipart upload was initiated.
      Key:
        $ref: '#/definitions/ObjectKey'
        description: Object key for which the multipart upload was initiated.
      UploadId:
        $ref: '#/definitions/MultipartUploadId'
        description: ID for the initiated multipart upload.
  CreateMultipartUploadRequest:
    type: object
    example:
      Bucket: examplebucket
      Key: largeobject
    properties: {}
  CreationDate:
    type: string
    format: date-time
  Date:
    type: string
    format: date-time
  Days:
    type: integer
  DaysAfterInitiation:
    type: integer
  Delete:
    type: object
    required:
      - Objects
    properties:
      Objects:
        $ref: '#/definitions/ObjectIdentifierList'
      Quiet:
        $ref: '#/definitions/Quiet'
        description: 'Element to enable quiet mode for the request. When you add this element, you must set its value to true.'
  DeleteBucketAnalyticsConfigurationRequest:
    type: object
    properties: {}
  DeleteBucketCorsRequest:
    type: object
    example:
      Bucket: examplebucket
    properties: {}
  DeleteBucketEncryptionRequest:
    type: object
    properties: {}
  DeleteBucketInventoryConfigurationRequest:
    type: object
    properties: {}
  DeleteBucketLifecycleRequest:
    type: object
    example:
      Bucket: examplebucket
    properties: {}
  DeleteBucketMetricsConfigurationRequest:
    type: object
    properties: {}
  DeleteBucketPolicyRequest:
    type: object
    example:
      Bucket: examplebucket
    properties: {}
  DeleteBucketReplicationRequest:
    type: object
    example:
      Bucket: example
    properties: {}
  DeleteBucketRequest:
    type: object
    example:
      Bucket: forrandall2
    properties: {}
  DeleteBucketTaggingRequest:
    type: object
    example:
      Bucket: examplebucket
    properties: {}
  DeleteBucketWebsiteRequest:
    type: object
    example:
      Bucket: examplebucket
    properties: {}
  DeleteMarker:
    type: boolean
  DeleteMarkerEntry:
    type: object
    properties:
      Owner:
        $ref: '#/definitions/Owner'
      Key:
        $ref: '#/definitions/ObjectKey'
        description: The object key.
      VersionId:
        $ref: '#/definitions/ObjectVersionId'
        description: Version ID of an object.
      IsLatest:
        $ref: '#/definitions/IsLatest'
        description: Specifies whether the object is (true) or is not (false) the latest version of an object.
      LastModified:
        $ref: '#/definitions/LastModified'
        description: Date and time the object was last modified.
  DeleteMarkerVersionId:
    type: string
  DeleteMarkers:
    type: array
    items:
      $ref: '#/definitions/DeleteMarkerEntry'
    xml:
      wrapped: false
  DeleteObjectOutput:
    type: object
    example: {}
    properties: {}
  DeleteObjectRequest:
    type: object
    example:
      Bucket: examplebucket
      Key: objectkey.jpg
    properties: {}
  DeleteObjectTaggingOutput:
    type: object
    example:
      VersionId: 'null'
    properties: {}
  DeleteObjectTaggingRequest:
    type: object
    example:
      Bucket: examplebucket
      Key: HappyFace.jpg
    properties: {}
  DeleteObjectsOutput:
    type: object
    example:
      Deleted:
        - DeleteMarker: 'true'
          DeleteMarkerVersionId: A._w1z6EFiCF5uhtQMDal9JDkID9tQ7F
          Key: objectkey1
        - DeleteMarker: 'true'
          DeleteMarkerVersionId: iOd_ORxhkKe_e8G8_oSGxt2PjsCZKlkt
          Key: objectkey2
    properties:
      Deleted:
        $ref: '#/definitions/DeletedObjects'
      Errors:
        $ref: '#/definitions/Errors'
  DeleteObjectsRequest:
    type: object
    required:
      - Delete
    example:
      Bucket: examplebucket
      Delete:
        Objects:
          - Key: objectkey1
          - Key: objectkey2
        Quiet: false
    properties:
      Delete:
        $ref: '#/definitions/Delete'
    xml:
      namespace: 'http://s3.amazonaws.com/doc/2006-03-01/'
  DeletedObject:
    type: object
    properties:
      Key:
        $ref: '#/definitions/ObjectKey'
      VersionId:
        $ref: '#/definitions/ObjectVersionId'
      DeleteMarker:
        $ref: '#/definitions/DeleteMarker'
      DeleteMarkerVersionId:
        $ref: '#/definitions/DeleteMarkerVersionId'
  DeletedObjects:
    type: array
    items:
      $ref: '#/definitions/DeletedObject'
    xml:
      wrapped: false
  Delimiter:
    type: string
  Description:
    type: string
  Destination:
    type: object
    required:
      - Bucket
    properties:
      Bucket:
        $ref: '#/definitions/BucketName'
        description: Amazon resource name (ARN) of the bucket where you want Amazon S3 to store replicas of the object identified by the rule.
      Account:
        $ref: '#/definitions/AccountId'
        description: Account ID of the destination bucket. Currently this is only being verified if Access Control Translation is enabled
      StorageClass:
        $ref: '#/definitions/StorageClass'
        description: The class of storage used to store the object.
      AccessControlTranslation:
        $ref: '#/definitions/AccessControlTranslation'
        description: Container for information regarding the access control for replicas.
      EncryptionConfiguration:
        $ref: '#/definitions/EncryptionConfiguration'
        description: Container for information regarding encryption based configuration for replicas.
    description: Container for replication destination information.
  DisplayName:
    type: string
  ETag:
    type: string
  EmailAddress:
    type: string
  EnableRequestProgress:
    type: boolean
  EncodingType:
    type: string
    enum:
      - url
    description: 'Requests Amazon S3 to encode the object keys in the response and specifies the encoding method to use. An object key may contain any Unicode character; however, XML 1.0 parser cannot parse some characters, such as characters with an ASCII value from 0 to 10. For characters that are not supported in XML 1.0, you can add this parameter to request that Amazon S3 encode the keys in the response.'
  Encryption:
    type: object
    required:
      - EncryptionType
    properties:
      EncryptionType:
        $ref: '#/definitions/ServerSideEncryption'
        description: 'The server-side encryption algorithm used when storing job results in Amazon S3 (e.g., AES256, aws:kms).'
      KMSKeyId:
        $ref: '#/definitions/SSEKMSKeyId'
        description: 'If the encryption type is aws:kms, this optional value specifies the AWS KMS key ID to use for encryption of job results.'
      KMSContext:
        $ref: '#/definitions/KMSContext'
        description: 'If the encryption type is aws:kms, this optional value can be used to specify the encryption context for the restore results.'
    description: Describes the server-side encryption that will be applied to the restore results.
  EncryptionConfiguration:
    type: object
    properties:
      ReplicaKmsKeyID:
        $ref: '#/definitions/ReplicaKmsKeyID'
        description: The id of the KMS key used to encrypt the replica object.
    description: Container for information regarding encryption based configuration for replicas.
  EndEvent:
    type: object
    properties: {}
  Error:
    type: object
    properties:
      Key:
        $ref: '#/definitions/ObjectKey'
      VersionId:
        $ref: '#/definitions/ObjectVersionId'
      Code:
        $ref: '#/definitions/Code'
      Message:
        $ref: '#/definitions/Message'
  ErrorDocument:
    type: object
    required:
      - Key
    properties:
      Key:
        $ref: '#/definitions/ObjectKey'
        description: The object key name to use when a 4XX class error occurs.
  Errors:
    type: array
    items:
      $ref: '#/definitions/Error'
    xml:
      wrapped: false
  Event:
    type: string
    enum:
      - 's3:ReducedRedundancyLostObject'
      - 's3:ObjectCreated:*'
      - 's3:ObjectCreated:Put'
      - 's3:ObjectCreated:Post'
      - 's3:ObjectCreated:Copy'
      - 's3:ObjectCreated:CompleteMultipartUpload'
      - 's3:ObjectRemoved:*'
      - 's3:ObjectRemoved:Delete'
      - 's3:ObjectRemoved:DeleteMarkerCreated'
    description: Bucket event for which to send notifications.
  EventList:
    type: array
    items:
      $ref: '#/definitions/Event'
    xml:
      wrapped: false
  Expiration:
    type: string
  ExpirationStatus:
    type: string
    enum:
      - Enabled
      - Disabled
  ExpiredObjectDeleteMarker:
    type: boolean
  Expires:
    type: string
    format: date-time
  ExposeHeader:
    type: string
  ExposeHeaders:
    type: array
    items:
      $ref: '#/definitions/ExposeHeader'
    xml:
      wrapped: false
  Expression:
    type: string
  ExpressionType:
    type: string
    enum:
      - SQL
  FetchOwner:
    type: boolean
  FieldDelimiter:
    type: string
  FileHeaderInfo:
    type: string
    enum:
      - USE
      - IGNORE
      - NONE
  FilterRule:
    type: object
    properties:
      Name:
        $ref: '#/definitions/FilterRuleName'
        description: 'Object key name prefix or suffix identifying one or more objects to which the filtering rule applies. Maximum prefix length can be up to 1,024 characters. Overlapping prefixes and suffixes are not supported. For more information, go to <a href="http://docs.aws.amazon.com/AmazonS3/latest/dev/NotificationHowTo.html">Configuring Event Notifications</a> in the Amazon Simple Storage Service Developer Guide.'
      Value:
        $ref: '#/definitions/FilterRuleValue'
    description: Container for key value pair that defines the criteria for the filter rule.
  FilterRuleList:
    type: array
    description: A list of containers for key value pair that defines the criteria for the filter rule.
    items:
      $ref: '#/definitions/FilterRule'
    xml:
      wrapped: false
  FilterRuleName:
    type: string
    enum:
      - prefix
      - suffix
  FilterRuleValue:
    type: string
  GetBucketAccelerateConfigurationOutput:
    type: object
    properties:
      Status:
        $ref: '#/definitions/BucketAccelerateStatus'
        description: The accelerate configuration of the bucket.
  GetBucketAccelerateConfigurationRequest:
    type: object
    properties: {}
  GetBucketAclOutput:
    type: object
    properties:
      Owner:
        $ref: '#/definitions/Owner'
      Grants:
        $ref: '#/definitions/Grants'
        description: A list of grants.
  GetBucketAclRequest:
    type: object
    properties: {}
  GetBucketAnalyticsConfigurationOutput:
    type: object
    properties:
      AnalyticsConfiguration:
        $ref: '#/definitions/AnalyticsConfiguration'
        description: The configuration and any analyses for the analytics filter.
  GetBucketAnalyticsConfigurationRequest:
    type: object
    properties: {}
  GetBucketCorsOutput:
    type: object
    example:
      CORSRules:
        - AllowedHeaders:
            - Authorization
          AllowedMethods:
            - GET
          AllowedOrigins:
            - '*'
          MaxAgeSeconds: 3000
    properties:
      CORSRules:
        $ref: '#/definitions/CORSRules'
  GetBucketCorsRequest:
    type: object
    example:
      Bucket: examplebucket
    properties: {}
  GetBucketEncryptionOutput:
    type: object
    properties:
      ServerSideEncryptionConfiguration:
        $ref: '#/definitions/ServerSideEncryptionConfiguration'
  GetBucketEncryptionRequest:
    type: object
    properties: {}
  GetBucketInventoryConfigurationOutput:
    type: object
    properties:
      InventoryConfiguration:
        $ref: '#/definitions/InventoryConfiguration'
        description: Specifies the inventory configuration.
  GetBucketInventoryConfigurationRequest:
    type: object
    properties: {}
  GetBucketLifecycleConfigurationOutput:
    type: object
    example:
      Rules:
        - ID: Rule for TaxDocs/
          Prefix: TaxDocs
          Status: Enabled
          Transitions:
            - Days: 365
              StorageClass: STANDARD_IA
    properties:
      Rules:
        $ref: '#/definitions/LifecycleRules'
  GetBucketLifecycleConfigurationRequest:
    type: object
    example:
      Bucket: examplebucket
    properties: {}
  GetBucketLifecycleOutput:
    type: object
    example:
      Rules:
        - Expiration:
            Days: 1
          ID: delete logs
          Prefix: 123/
          Status: Enabled
    properties:
      Rules:
        $ref: '#/definitions/Rules'
  GetBucketLifecycleRequest:
    type: object
    example:
      Bucket: acl1
    properties: {}
  GetBucketLocationOutput:
    type: object
    example:
      LocationConstraint: us-west-2
    properties:
      LocationConstraint:
        $ref: '#/definitions/BucketLocationConstraint'
  GetBucketLocationRequest:
    type: object
    example:
      Bucket: examplebucket
    properties: {}
  GetBucketLoggingOutput:
    type: object
    properties:
      LoggingEnabled:
        $ref: '#/definitions/LoggingEnabled'
  GetBucketLoggingRequest:
    type: object
    properties: {}
  GetBucketMetricsConfigurationOutput:
    type: object
    properties:
      MetricsConfiguration:
        $ref: '#/definitions/MetricsConfiguration'
        description: Specifies the metrics configuration.
  GetBucketMetricsConfigurationRequest:
    type: object
    properties: {}
  GetBucketNotificationConfigurationRequest:
    type: object
    example:
      Bucket: examplebucket
    properties: {}
  GetBucketPolicyOutput:
    type: object
    example:
      Policy: '{"Version":"2008-10-17","Id":"LogPolicy","Statement":[{"Sid":"Enables the log delivery group to publish logs to your bucket ","Effect":"Allow","Principal":{"AWS":"111122223333"},"Action":["s3:GetBucketAcl","s3:GetObjectAcl","s3:PutObject"],"Resource":["arn:aws:s3:::policytest1/*","arn:aws:s3:::policytest1"]}]}'
    properties:
      Policy:
        $ref: '#/definitions/Policy'
        description: The bucket policy as a JSON document.
  GetBucketPolicyRequest:
    type: object
    example:
      Bucket: examplebucket
    properties: {}
  GetBucketReplicationOutput:
    type: object
    example:
      ReplicationConfiguration:
        Role: 'arn:aws:iam::acct-id:role/example-role'
        Rules:
          - Destination:
              Bucket: 'arn:aws:s3:::destination-bucket'
            ID: MWIwNTkwZmItMTE3MS00ZTc3LWJkZDEtNzRmODQwYzc1OTQy
            Prefix: Tax
            Status: Enabled
    properties:
      ReplicationConfiguration:
        $ref: '#/definitions/ReplicationConfiguration'
  GetBucketReplicationRequest:
    type: object
    example:
      Bucket: examplebucket
    properties: {}
  GetBucketRequestPaymentOutput:
    type: object
    example:
      Payer: BucketOwner
    properties:
      Payer:
        $ref: '#/definitions/Payer'
        description: Specifies who pays for the download and request fees.
  GetBucketRequestPaymentRequest:
    type: object
    example:
      Bucket: examplebucket
    properties: {}
  GetBucketTaggingOutput:
    type: object
    required:
      - TagSet
    example:
      TagSet:
        - Key: key1
          Value: value1
        - Key: key2
          Value: value2
    properties:
      TagSet:
        $ref: '#/definitions/TagSet'
  GetBucketTaggingRequest:
    type: object
    example:
      Bucket: examplebucket
    properties: {}
  GetBucketVersioningOutput:
    type: object
    example:
      MFADelete: Disabled
      Status: Enabled
    properties:
      Status:
        $ref: '#/definitions/BucketVersioningStatus'
        description: The versioning state of the bucket.
      MFADelete:
        $ref: '#/definitions/MFADeleteStatus'
        description: 'Specifies whether MFA delete is enabled in the bucket versioning configuration. This element is only returned if the bucket has been configured with MFA delete. If the bucket has never been so configured, this element is not returned.'
  GetBucketVersioningRequest:
    type: object
    example:
      Bucket: examplebucket
    properties: {}
  GetBucketWebsiteOutput:
    type: object
    example:
      ErrorDocument:
        Key: error.html
      IndexDocument:
        Suffix: index.html
    properties:
      RedirectAllRequestsTo:
        $ref: '#/definitions/RedirectAllRequestsTo'
      IndexDocument:
        $ref: '#/definitions/IndexDocument'
      ErrorDocument:
        $ref: '#/definitions/ErrorDocument'
      RoutingRules:
        $ref: '#/definitions/RoutingRules'
  GetBucketWebsiteRequest:
    type: object
    example:
      Bucket: examplebucket
    properties: {}
  GetObjectAclOutput:
    type: object
    example:
      Grants:
        - Grantee:
            DisplayName: owner-display-name
            ID: examplee7a2f25102679df27bb0ae12b3f85be6f290b936c4393484be31bebcc
            Type: CanonicalUser
          Permission: WRITE
        - Grantee:
            DisplayName: owner-display-name
            ID: examplee7a2f25102679df27bb0ae12b3f85be6f290b936c4393484be31bebcc
            Type: CanonicalUser
          Permission: WRITE_ACP
        - Grantee:
            DisplayName: owner-display-name
            ID: examplee7a2f25102679df27bb0ae12b3f85be6f290b936c4393484be31bebcc
            Type: CanonicalUser
          Permission: READ
        - Grantee:
            DisplayName: owner-display-name
            ID: 852b113eexamplee7a2f25102679df27bb0ae12b3f85be6f290b936c4393484be31bebcc7a2f25102679df27bb0ae12b3f85be6f290b936c4393484be31bebcc
            Type: CanonicalUser
          Permission: READ_ACP
      Owner:
        DisplayName: owner-display-name
        ID: examplee7a2f25102679df27bb0ae12b3f85be6f290b936c4393484be31bebcc
    properties:
      Owner:
        $ref: '#/definitions/Owner'
      Grants:
        $ref: '#/definitions/Grants'
        description: A list of grants.
  GetObjectAclRequest:
    type: object
    example:
      Bucket: examplebucket
      Key: HappyFace.jpg
    properties: {}
  GetObjectOutput:
    type: object
    example:
      AcceptRanges: bytes
      ContentLength: '10'
      ContentRange: bytes 0-9/43
      ContentType: text/plain
      ETag: '"0d94420ffd0bc68cd3d152506b97a9cc"'
      LastModified: 'Thu, 09 Oct 2014 22:57:28 GMT'
      Metadata: {}
      VersionId: 'null'
    properties:
      Body:
        $ref: '#/definitions/Body'
        description: Object data.
  GetObjectRequest:
    type: object
    example:
      Bucket: examplebucket
      Key: SampleFile.txt
      Range: bytes=0-9
    properties: {}
  GetObjectTaggingOutput:
    type: object
    required:
      - TagSet
    example:
      TagSet:
        - Key: Key1
          Value: Value1
      VersionId: ydlaNkwWm0SfKJR.T1b1fIdPRbldTYRI
    properties:
      TagSet:
        $ref: '#/definitions/TagSet'
  GetObjectTaggingRequest:
    type: object
    example:
      Bucket: examplebucket
      Key: exampleobject
      VersionId: ydlaNkwWm0SfKJR.T1b1fIdPRbldTYRI
    properties: {}
  GetObjectTorrentOutput:
    type: object
    example: {}
    properties:
      Body:
        $ref: '#/definitions/Body'
  GetObjectTorrentRequest:
    type: object
    example:
      Bucket: examplebucket
      Key: HappyFace.jpg
    properties: {}
  GlacierJobParameters:
    type: object
    required:
      - Tier
    properties:
      Tier:
        $ref: '#/definitions/Tier'
        description: Glacier retrieval tier at which the restore will be processed.
  Grant:
    type: object
    properties:
      Grantee:
        $ref: '#/definitions/Grantee'
      Permission:
        $ref: '#/definitions/Permission'
        description: Specifies the permission given to the grantee.
  GrantFullControl:
    type: string
  GrantRead:
    type: string
  GrantReadACP:
    type: string
  GrantWrite:
    type: string
  GrantWriteACP:
    type: string
  Grantee:
    type: object
    required:
      - Type
    properties:
      DisplayName:
        $ref: '#/definitions/DisplayName'
        description: Screen name of the grantee.
      EmailAddress:
        $ref: '#/definitions/EmailAddress'
        description: Email address of the grantee.
      ID:
        $ref: '#/definitions/ID'
        description: The canonical user ID of the grantee.
      Type:
        $ref: '#/definitions/Type'
        description: Type of grantee
      URI:
        $ref: '#/definitions/URI'
        description: URI of the grantee group.
    xml:
      namespace: 'http://www.w3.org/2001/XMLSchema-instance'
      attribute: true
  Grants:
    type: array
    items:
      $ref: '#/definitions/Grant'
  HeadBucketRequest:
    type: object
    example:
      Bucket: acl1
    properties: {}
  HeadObjectOutput:
    type: object
    example:
      AcceptRanges: bytes
      ContentLength: '3191'
      ContentType: image/jpeg
      ETag: '"6805f2cfc46c0f04559748bb039d69ae"'
      LastModified: 'Thu, 15 Dec 2016 01:19:41 GMT'
      Metadata: {}
      VersionId: 'null'
    properties: {}
  HeadObjectRequest:
    type: object
    example:
      Bucket: examplebucket
      Key: HappyFace.jpg
    properties: {}
  HostName:
    type: string
  HttpErrorCodeReturnedEquals:
    type: string
  HttpRedirectCode:
    type: string
  ID:
    type: string
  IfMatch:
    type: string
  IfModifiedSince:
    type: string
    format: date-time
  IfNoneMatch:
    type: string
  IfUnmodifiedSince:
    type: string
    format: date-time
  IndexDocument:
    type: object
    required:
      - Suffix
    properties:
      Suffix:
        $ref: '#/definitions/Suffix'
        description: A suffix that is appended to a request that is for a directory on the website endpoint (e.g. if the suffix is index.html and you make a request to samplebucket/images/ the data that is returned will be for the object with the key name images/index.html) The suffix must not be empty and must not include a slash character.
  Initiated:
    type: string
    format: date-time
  Initiator:
    type: object
    properties:
      ID:
        $ref: '#/definitions/ID'
        description: 'If the principal is an AWS account, it provides the Canonical User ID. If the principal is an IAM User, it provides a user ARN value.'
      DisplayName:
        $ref: '#/definitions/DisplayName'
        description: Name of the Principal.
  InputSerialization:
    type: object
    properties:
      CSV:
        $ref: '#/definitions/CSVInput'
        description: Describes the serialization of a CSV-encoded object.
      CompressionType:
        $ref: '#/definitions/CompressionType'
        description: 'Specifies object''s compression format. Valid values: NONE, GZIP. Default Value: NONE.'
      JSON:
        $ref: '#/definitions/JSONInput'
        description: Specifies JSON as object's input serialization format.
    description: Describes the serialization format of the object.
  InventoryConfiguration:
    type: object
    required:
      - Destination
      - IsEnabled
      - Id
[...]
