swagger: '2.0'
info:
  version: '2006-03-01'
  x-release: s3
  title: Amazon Simple Storage Service
  description: <p/>
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: s3
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/s3-2006-03-01.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/s3/'
host: s3.amazonaws.com
basePath: /
schemes:
  - https
  - http
x-servers:
  - url: 'http://s3{dash-or-dot}{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - eu-west-1
          - ap-northeast-1
          - ap-southeast-1
          - ap-southeast-2
          - sa-east-1
        default: us-east-1
      dash-or-dot:
        description: The service/region URL separator
        enum:
          - .
          - '-'
        default: .
    description: The Amazon S3 multi-region endpoint
  - url: 'https://s3{dash-or-dot}{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - eu-west-1
          - ap-northeast-1
          - ap-southeast-1
          - ap-southeast-2
          - sa-east-1
        default: us-east-1
      dash-or-dot:
        description: The service/region URL separator
        enum:
          - .
          - '-'
        default: .
    description: The Amazon S3 multi-region endpoint
  - url: 'http://s3.amazonaws.com'
    variables: {}
    description: The general Amazon S3 endpoint for US East (N. Virginia)
  - url: 'https://s3.amazonaws.com'
    variables: {}
    description: The general Amazon S3 endpoint for US East (N. Virginia)
  - url: 'http://s3.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-2
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-south-1
        default: us-east-2
    description: The Amazon S3 multi-region endpoint
  - url: 'https://s3.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-2
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-south-1
        default: us-east-2
    description: The Amazon S3 multi-region endpoint
  - url: 'http://s3.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The Amazon S3 endpoint for China (Beijing) and China (Ningxia)
  - url: 'https://s3.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The Amazon S3 endpoint for China (Beijing) and China (Ningxia)
x-hasEquivalentPaths: true
consumes:
  - text/xml
produces:
  - text/xml
parameters:
  x-amz-security-token:
    name: x-amz-security-token
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon S3 signature
    x-amazon-apigateway-authtype: awsS3
security:
  - hmac: []
paths:
  '/{Bucket}/{Key}#uploadId':
    delete:
      operationId: AbortMultipartUpload
      description: '<p>Aborts a multipart upload.</p> <p>To verify that all parts have been removed, so you don''t get charged for the part storage, you should call the List Parts operation and ensure the parts list is empty.</p>'
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadAbort.html'
      responses:
        '204':
          description: Success
          schema:
            $ref: '#/definitions/AbortMultipartUploadOutput'
        '480':
          description: NoSuchUpload
          schema:
            $ref: '#/definitions/NoSuchUpload'
      parameters:
        - name: Bucket
          in: path
          required: true
          description: Name of the bucket to which the multipart upload was initiated.
          type: string
        - name: Key
          in: path
          required: true
          description: Key of the object for which the multipart upload was initiated.
          type: string
          minLength: 1
        - name: uploadId
          in: query
          required: true
          description: Upload ID that identifies the multipart upload.
          type: string
        - name: x-amz-request-payer
          in: header
          required: false
          description: 'Confirms that the requester knows that she or he will be charged for the request. Bucket owners need not specify this parameter in their requests. Documentation on downloading objects from requester pays buckets can be found at http://docs.aws.amazon.com/AmazonS3/latest/dev/ObjectsinRequesterPaysBuckets.html'
          type: string
          enum:
            - requester
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
    post:
      operationId: CompleteMultipartUpload
      description: Completes a multipart upload by assembling previously uploaded parts.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadComplete.html'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CompleteMultipartUploadOutput'
      parameters:
        - name: Bucket
          in: path
          required: true
          description: <p/>
          type: string
        - name: Key
          in: path
          required: true
          description: <p/>
          type: string
          minLength: 1
        - name: uploadId
          in: query
          required: true
          description: <p/>
          type: string
        - name: x-amz-request-payer
          in: header
          required: false
          description: 'Confirms that the requester knows that she or he will be charged for the request. Bucket owners need not specify this parameter in their requests. Documentation on downloading objects from requester pays buckets can be found at http://docs.aws.amazon.com/AmazonS3/latest/dev/ObjectsinRequesterPaysBuckets.html'
          type: string
          enum:
            - requester
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              CompleteMultipartUpload:
                description: <p/>
                type: object
                properties:
                  Parts:
                    $ref: '#/definitions/CompletedPartList'
                    description: <p/>
    get:
      operationId: ListParts
      description: Lists the parts that have been uploaded for a specific multipart upload.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadListParts.html'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListPartsOutput'
      parameters:
        - name: Bucket
          in: path
          required: true
          description: <p/>
          type: string
        - name: Key
          in: path
          required: true
          description: <p/>
          type: string
          minLength: 1
        - name: max-parts
          in: query
          required: false
          description: Sets the maximum number of parts to return.
          type: integer
        - name: part-number-marker
          in: query
          required: false
          description: Specifies the part after which listing should begin. Only parts with higher part numbers will be listed.
          type: integer
        - name: uploadId
          in: query
          required: true
          description: Upload ID identifying the multipart upload whose parts are being listed.
          type: string
        - name: x-amz-request-payer
          in: header
          required: false
          description: 'Confirms that the requester knows that she or he will be charged for the request. Bucket owners need not specify this parameter in their requests. Documentation on downloading objects from requester pays buckets can be found at http://docs.aws.amazon.com/AmazonS3/latest/dev/ObjectsinRequesterPaysBuckets.html'
          type: string
          enum:
            - requester
        - name: MaxParts
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: PartNumberMarker
          type: string
          in: query
          description: Pagination token
          required: false
  '/{Bucket}/{Key}#x-amz-copy-source':
    put:
      operationId: CopyObject
      description: Creates a copy of an object that is already stored in Amazon S3.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectCOPY.html'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CopyObjectOutput'
        '480':
          description: ObjectNotInActiveTierError
          schema:
            $ref: '#/definitions/ObjectNotInActiveTierError'
      parameters:
        - name: x-amz-acl
          in: header
          required: false
          description: The canned ACL to apply to the object.
          type: string
          enum:
            - private
            - public-read
            - public-read-write
            - authenticated-read
            - aws-exec-read
            - bucket-owner-read
            - bucket-owner-full-control
        - name: Bucket
          in: path
          required: true
          description: <p/>
          type: string
        - name: Cache-Control
          in: header
          required: false
          description: Specifies caching behavior along the request/reply chain.
          type: string
        - name: Content-Disposition
          in: header
          required: false
          description: Specifies presentational information for the object.
          type: string
        - name: Content-Encoding
          in: header
          required: false
          description: Specifies what content encodings have been applied to the object and thus what decoding mechanisms must be applied to obtain the media-type referenced by the Content-Type header field.
          type: string
        - name: Content-Language
          in: header
          required: false
          description: The language the content is in.
          type: string
        - name: Content-Type
          in: header
          required: false
          description: A standard MIME type describing the format of the object data.
          type: string
        - name: x-amz-copy-source
          in: header
          required: true
          description: 'The name of the source bucket and key name of the source object, separated by a slash (/). Must be URL-encoded.'
          type: string
          pattern: \/.+\/.+
        - name: x-amz-copy-source-if-match
          in: header
          required: false
          description: Copies the object if its entity tag (ETag) matches the specified tag.
          type: string
        - name: x-amz-copy-source-if-modified-since
          in: header
          required: false
          description: Copies the object if it has been modified since the specified time.
          type: string
          format: date-time
        - name: x-amz-copy-source-if-none-match
          in: header
          required: false
          description: Copies the object if its entity tag (ETag) is different than the specified ETag.
          type: string
        - name: x-amz-copy-source-if-unmodified-since
          in: header
          required: false
          description: Copies the object if it hasn't been modified since the specified time.
          type: string
          format: date-time
        - name: Expires
          in: header
          required: false
          description: The date and time at which the object is no longer cacheable.
          type: string
          format: date-time
        - name: x-amz-grant-full-control
          in: header
          required: false
          description: 'Gives the grantee READ, READ_ACP, and WRITE_ACP permissions on the object.'
          type: string
        - name: x-amz-grant-read
          in: header
          required: false
          description: Allows grantee to read the object data and its metadata.
          type: string
        - name: x-amz-grant-read-acp
          in: header
          required: false
          description: Allows grantee to read the object ACL.
          type: string
        - name: x-amz-grant-write-acp
          in: header
          required: false
          description: Allows grantee to write the ACL for the applicable object.
          type: string
        - name: Key
          in: path
          required: true
          description: <p/>
          type: string
          minLength: 1
        - name: x-amz-metadata-directive
          in: header
          required: false
          description: Specifies whether the metadata is copied from the source object or replaced with metadata provided in the request.
          type: string
          enum:
            - COPY
            - REPLACE
        - name: x-amz-tagging-directive
          in: header
          required: false
          description: Specifies whether the object tag-set are copied from the source object or replaced with tag-set provided in the request.
          type: string
          enum:
            - COPY
            - REPLACE
        - name: x-amz-server-side-encryption
          in: header
          required: false
          description: 'The Server-side encryption algorithm used when storing this object in S3 (e.g., AES256, aws:kms).'
          type: string
          enum:
            - AES256
            - 'aws:kms'
        - name: x-amz-storage-class
          in: header
          required: false
          description: The type of storage to use for the object. Defaults to 'STANDARD'.
          type: string
          enum:
            - STANDARD
            - REDUCED_REDUNDANCY
            - STANDARD_IA
            - ONEZONE_IA
            - INTELLIGENT_TIERING
            - GLACIER
            - DEEP_ARCHIVE
        - name: x-amz-website-redirect-location
          in: header
          required: false
          description: 'If the bucket is configured as a website, redirects requests for this object to another object in the same bucket or to an external URL. Amazon S3 stores the value of this header in the object metadata.'
          type: string
        - name: x-amz-server-side-encryption-customer-algorithm
          in: header
          required: false
          description: 'Specifies the algorithm to use to when encrypting the object (e.g., AES256).'
          type: string
        - name: x-amz-server-side-encryption-customer-key
          in: header
          required: false
          description: Specifies the customer-provided encryption key for Amazon S3 to use in encrypting data. This value is used to store the object and then it is discarded; Amazon does not store the encryption key. The key must be appropriate for use with the algorithm specified in the x-amz-server-side​-encryption​-customer-algorithm header.
          type: string
          format: password
        - name: x-amz-server-side-encryption-customer-key-MD5
          in: header
          required: false
          description: Specifies the 128-bit MD5 digest of the encryption key according to RFC 1321. Amazon S3 uses this header for a message integrity check to ensure the encryption key was transmitted without error.
          type: string
        - name: x-amz-server-side-encryption-aws-kms-key-id
          in: header
          required: false
          description: 'Specifies the AWS KMS key ID to use for object encryption. All GET and PUT requests for an object protected by AWS KMS will fail if not made via SSL or using SigV4. Documentation on configuring any of the officially supported AWS SDKs and CLI can be found at http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingAWSSDK.html#specify-signature-version'
          type: string
          format: password
        - name: x-amz-server-side-encryption-context
          in: header
          required: false
          description: Specifies the AWS KMS Encryption Context to use for object encryption. The value of this header is a base64-encoded UTF-8 string holding JSON with the encryption context key-value pairs.
          type: string
          format: password
        - name: x-amz-copy-source-server-side-encryption-customer-algorithm
          in: header
          required: false
          description: 'Specifies the algorithm to use when decrypting the source object (e.g., AES256).'
          type: string
        - name: x-amz-copy-source-server-side-encryption-customer-key
          in: header
          required: false
          description: Specifies the customer-provided encryption key for Amazon S3 to use to decrypt the source object. The encryption key provided in this header must be one that was used when the source object was created.
          type: string
          format: password
        - name: x-amz-copy-source-server-side-encryption-customer-key-MD5
          in: header
          required: false
          description: Specifies the 128-bit MD5 digest of the encryption key according to RFC 1321. Amazon S3 uses this header for a message integrity check to ensure the encryption key was transmitted without error.
          type: string
        - name: x-amz-request-payer
          in: header
          required: false
          description: 'Confirms that the requester knows that she or he will be charged for the request. Bucket owners need not specify this parameter in their requests. Documentation on downloading objects from requester pays buckets can be found at http://docs.aws.amazon.com/AmazonS3/latest/dev/ObjectsinRequesterPaysBuckets.html'
          type: string
          enum:
            - requester
        - name: x-amz-tagging
          in: header
          required: false
          description: The tag-set for the object destination object this value must be used in conjunction with the TaggingDirective. The tag-set must be encoded as URL Query parameters
          type: string
        - name: x-amz-object-lock-mode
          in: header
          required: false
          description: The object lock mode that you want to apply to the copied object.
          type: string
          enum:
            - GOVERNANCE
            - COMPLIANCE
        - name: x-amz-object-lock-retain-until-date
          in: header
          required: false
          description: The date and time when you want the copied object's object lock to expire.
          type: string
          format: date-time
        - name: x-amz-object-lock-legal-hold
          in: header
          required: false
          description: Specifies whether you want to apply a Legal Hold to the copied object.
          type: string
          enum:
            - 'ON'
            - 'OFF'
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              x-amz-meta-:
                description: A map of metadata to store with the object in S3.
                type: object
                additionalProperties:
                  $ref: '#/definitions/MetadataValue'
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}':
    put:
      operationId: CreateBucket
      description: Creates a new bucket.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUT.html'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateBucketOutput'
        '480':
          description: BucketAlreadyExists
          schema:
            $ref: '#/definitions/BucketAlreadyExists'
        '481':
          description: BucketAlreadyOwnedByYou
          schema:
            $ref: '#/definitions/BucketAlreadyOwnedByYou'
      parameters:
        - name: x-amz-acl
          in: header
          required: false
          description: The canned ACL to apply to the bucket.
          type: string
          enum:
            - private
            - public-read
            - public-read-write
            - authenticated-read
        - name: Bucket
          in: path
          required: true
          description: <p/>
          type: string
        - name: x-amz-grant-full-control
          in: header
          required: false
          description: 'Allows grantee the read, write, read ACP, and write ACP permissions on the bucket.'
          type: string
        - name: x-amz-grant-read
          in: header
          required: false
          description: Allows grantee to list the objects in the bucket.
          type: string
        - name: x-amz-grant-read-acp
          in: header
          required: false
          description: Allows grantee to read the bucket ACL.
          type: string
        - name: x-amz-grant-write
          in: header
          required: false
          description: 'Allows grantee to create, overwrite, and delete any object in the bucket.'
          type: string
        - name: x-amz-grant-write-acp
          in: header
          required: false
          description: Allows grantee to write the ACL for the applicable bucket.
          type: string
        - name: x-amz-bucket-object-lock-enabled
          in: header
          required: false
          description: Specifies whether you want Amazon S3 object lock to be enabled for the new bucket.
          type: boolean
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              CreateBucketConfiguration:
                description: <p/>
                type: object
                properties:
                  LocationConstraint:
                    $ref: '#/definitions/BucketLocationConstraint'
                    description: 'Specifies the region where the bucket will be created. If you don''t specify a region, the bucket is created in US East (N. Virginia) Region (us-east-1).'
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
    delete:
      operationId: DeleteBucket
      description: Deletes the bucket. All objects (including all object versions and Delete Markers) in the bucket must be deleted before the bucket itself can be deleted.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETE.html'
      responses:
        '204':
          description: Success
      parameters:
        - name: Bucket
          in: path
          required: true
          description: <p/>
          type: string
    head:
      operationId: HeadBucket
      description: This operation is useful to determine if a bucket exists and you have permission to access it.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketHEAD.html'
      responses:
        '200':
          description: Success
        '480':
          description: NoSuchBucket
          schema:
            $ref: '#/definitions/NoSuchBucket'
      parameters:
        - name: Bucket
          in: path
          required: true
          description: <p/>
          type: string
    get:
      operationId: ListObjects
      description: Returns some or all (up to 1000) of the objects in a bucket. You can use the request parameters as selection criteria to return a subset of the objects in a bucket.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGET.html'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListObjectsOutput'
        '480':
          description: NoSuchBucket
          schema:
            $ref: '#/definitions/NoSuchBucket'
      parameters:
        - name: Bucket
          in: path
          required: true
          description: <p/>
          type: string
        - name: delimiter
          in: query
          required: false
          description: A delimiter is a character you use to group keys.
          type: string
        - name: encoding-type
          in: query
          required: false
          description: 'Requests Amazon S3 to encode the object keys in the response and specifies the encoding method to use. An object key may contain any Unicode character; however, XML 1.0 parser cannot parse some characters, such as characters with an ASCII value from 0 to 10. For characters that are not supported in XML 1.0, you can add this parameter to request that Amazon S3 encode the keys in the response.'
          type: string
          enum:
            - url
        - name: marker
          in: query
          required: false
          description: Specifies the key to start with when listing objects in a bucket.
          type: string
        - name: max-keys
          in: query
          required: false
          description: Sets the maximum number of keys returned in the response. The response might contain fewer keys but will never contain more.
          type: integer
        - name: prefix
          in: query
          required: false
          description: Limits the response to keys that begin with the specified prefix.
          type: string
        - name: x-amz-request-payer
          in: header
          required: false
          description: 'Confirms that the requester knows that she or he will be charged for the request. Bucket owners need not specify this parameter in their requests. Documentation on downloading objects from requester pays buckets can be found at http://docs.aws.amazon.com/AmazonS3/latest/dev/ObjectsinRequesterPaysBuckets.html'
          type: string
          enum:
            - requester
        - name: MaxKeys
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
  '/{Bucket}/{Key}#uploads':
    post:
      operationId: CreateMultipartUpload
      description: '<p>Initiates a multipart upload and returns an upload ID.</p> <p> <b>Note:</b> After you initiate multipart upload and upload one or more parts, you must either complete or abort multipart upload in order to stop getting charged for storage of the uploaded parts. Only after you either complete or abort multipart upload, Amazon S3 frees up the parts storage and stops charging you for the parts storage.</p>'
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadInitiate.html'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateMultipartUploadOutput'
      parameters:
        - name: x-amz-acl
          in: header
          required: false
          description: The canned ACL to apply to the object.
          type: string
          enum:
            - private
            - public-read
            - public-read-write
            - authenticated-read
            - aws-exec-read
            - bucket-owner-read
            - bucket-owner-full-control
        - name: Bucket
          in: path
          required: true
          description: <p/>
          type: string
        - name: Cache-Control
          in: header
          required: false
          description: Specifies caching behavior along the request/reply chain.
          type: string
        - name: Content-Disposition
          in: header
          required: false
          description: Specifies presentational information for the object.
          type: string
        - name: Content-Encoding
          in: header
          required: false
          description: Specifies what content encodings have been applied to the object and thus what decoding mechanisms must be applied to obtain the media-type referenced by the Content-Type header field.
          type: string
        - name: Content-Language
          in: header
          required: false
          description: The language the content is in.
          type: string
        - name: Content-Type
          in: header
          required: false
          description: A standard MIME type describing the format of the object data.
          type: string
        - name: Expires
          in: header
          required: false
          description: The date and time at which the object is no longer cacheable.
          type: string
          format: date-time
        - name: x-amz-grant-full-control
          in: header
          required: false
          description: 'Gives the grantee READ, READ_ACP, and WRITE_ACP permissions on the object.'
          type: string
        - name: x-amz-grant-read
          in: header
          required: false
          description: Allows grantee to read the object data and its metadata.
          type: string
        - name: x-amz-grant-read-acp
          in: header
          required: false
          description: Allows grantee to read the object ACL.
          type: string
        - name: x-amz-grant-write-acp
          in: header
          required: false
          description: Allows grantee to write the ACL for the applicable object.
          type: string
        - name: Key
          in: path
          required: true
          description: <p/>
          type: string
          minLength: 1
        - name: x-amz-server-side-encryption
          in: header
          required: false
          description: 'The Server-side encryption algorithm used when storing this object in S3 (e.g., AES256, aws:kms).'
          type: string
          enum:
            - AES256
            - 'aws:kms'
        - name: x-amz-storage-class
          in: header
          required: false
          description: The type of storage to use for the object. Defaults to 'STANDARD'.
          type: string
          enum:
            - STANDARD
            - REDUCED_REDUNDANCY
            - STANDARD_IA
            - ONEZONE_IA
            - INTELLIGENT_TIERING
            - GLACIER
            - DEEP_ARCHIVE
        - name: x-amz-website-redirect-location
          in: header
          required: false
          description: 'If the bucket is configured as a website, redirects requests for this object to another object in the same bucket or to an external URL. Amazon S3 stores the value of this header in the object metadata.'
          type: string
        - name: x-amz-server-side-encryption-customer-algorithm
          in: header
          required: false
          description: 'Specifies the algorithm to use to when encrypting the object (e.g., AES256).'
          type: string
        - name: x-amz-server-side-encryption-customer-key
          in: header
          required: false
          description: Specifies the customer-provided encryption key for Amazon S3 to use in encrypting data. This value is used to store the object and then it is discarded; Amazon does not store the encryption key. The key must be appropriate for use with the algorithm specified in the x-amz-server-side​-encryption​-customer-algorithm header.
          type: string
          format: password
        - name: x-amz-server-side-encryption-customer-key-MD5
          in: header
          required: false
          description: Specifies the 128-bit MD5 digest of the encryption key according to RFC 1321. Amazon S3 uses this header for a message integrity check to ensure the encryption key was transmitted without error.
          type: string
        - name: x-amz-server-side-encryption-aws-kms-key-id
          in: header
          required: false
          description: 'Specifies the AWS KMS key ID to use for object encryption. All GET and PUT requests for an object protected by AWS KMS will fail if not made via SSL or using SigV4. Documentation on configuring any of the officially supported AWS SDKs and CLI can be found at http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingAWSSDK.html#specify-signature-version'
          type: string
          format: password
        - name: x-amz-server-side-encryption-context
          in: header
          required: false
          description: Specifies the AWS KMS Encryption Context to use for object encryption. The value of this header is a base64-encoded UTF-8 string holding JSON with the encryption context key-value pairs.
          type: string
          format: password
        - name: x-amz-request-payer
          in: header
          required: false
          description: 'Confirms that the requester knows that she or he will be charged for the request. Bucket owners need not specify this parameter in their requests. Documentation on downloading objects from requester pays buckets can be found at http://docs.aws.amazon.com/AmazonS3/latest/dev/ObjectsinRequesterPaysBuckets.html'
          type: string
          enum:
            - requester
        - name: x-amz-tagging
          in: header
          required: false
          description: The tag-set for the object. The tag-set must be encoded as URL Query parameters
          type: string
        - name: x-amz-object-lock-mode
          in: header
          required: false
          description: Specifies the object lock mode that you want to apply to the uploaded object.
          type: string
          enum:
            - GOVERNANCE
            - COMPLIANCE
        - name: x-amz-object-lock-retain-until-date
          in: header
          required: false
          description: Specifies the date and time when you want the object lock to expire.
          type: string
          format: date-time
        - name: x-amz-object-lock-legal-hold
          in: header
          required: false
          description: Specifies whether you want to apply a Legal Hold to the uploaded object.
          type: string
          enum:
            - 'ON'
            - 'OFF'
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              x-amz-meta-:
                description: A map of metadata to store with the object in S3.
                type: object
                additionalProperties:
                  $ref: '#/definitions/MetadataValue'
        - name: uploads
          in: query
          required: true
          type: boolean
          allowEmptyValue: true
          enum:
            - true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}#analytics&id':
    delete:
      operationId: DeleteBucketAnalyticsConfiguration
      description: '<p>Deletes an analytics configuration for the bucket (specified by the analytics configuration ID).</p> <p>To use this operation, you must have permissions to perform the s3:PutAnalyticsConfiguration action. The bucket owner has this permission by default. The bucket owner can grant this permission to others. </p>'
      responses:
        '204':
          description: Success
      parameters:
        - name: Bucket
          in: path
          required: true
          description: The name of the bucket from which an analytics configuration is deleted.
          type: string
        - name: id
          in: query
          required: true
          description: The ID that identifies the analytics configuration.
          type: string
        - name: analytics
          in: query
          required: true
          type: boolean
          allowEmptyValue: true
          enum:
            - true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
    get:
      operationId: GetBucketAnalyticsConfiguration
      description: Gets an analytics configuration for the bucket (specified by the analytics configuration ID).
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketAnalyticsConfigurationOutput'
      parameters:
        - name: Bucket
          in: path
          required: true
          description: The name of the bucket from which an analytics configuration is retrieved.
          type: string
        - name: id
          in: query
          required: true
          description: The ID that identifies the analytics configuration.
          type: string
        - name: analytics
          in: query
          required: true
          type: boolean
          allowEmptyValue: true
          enum:
            - true
    put:
      operationId: PutBucketAnalyticsConfiguration
      description: Sets an analytics configuration for the bucket (specified by the analytics configuration ID).
      responses:
        '200':
          description: Success
      parameters:
        - name: Bucket
          in: path
          required: true
          description: The name of the bucket to which an analytics configuration is stored.
          type: string
        - name: id
          in: query
          required: true
          description: The ID that identifies the analytics configuration.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - AnalyticsConfiguration
            properties:
              AnalyticsConfiguration:
                description: '<p> Specifies the configuration and any analyses for the analytics filter of an Amazon S3 bucket.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/AmazonS3/latest/API/RESTBucketGETAnalyticsConfig.html">GET Bucket analytics</a> in the <i>Amazon Simple Storage Service API Reference</i>. </p>'
                type: object
                properties:
                  Id:
                    $ref: '#/definitions/AnalyticsId'
                    description: The ID that identifies the analytics configuration.
                  Filter:
                    $ref: '#/definitions/AnalyticsFilter'
                    description: 'The filter used to describe a set of objects for analyses. A filter must have exactly one prefix, one tag, or one conjunction (AnalyticsAndOperator). If no filter is provided, all objects will be considered in any analysis.'
                  StorageClassAnalysis:
                    $ref: '#/definitions/StorageClassAnalysis'
                    description: ' Contains data related to access patterns to be collected and made available to analyze the tradeoffs between different storage classes. '
        - name: analytics
          in: query
          required: true
          type: boolean
          allowEmptyValue: true
          enum:
            - true
  '/{Bucket}#cors':
    delete:
      operationId: DeleteBucketCors
      description: Deletes the CORS configuration information set for the bucket.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETEcors.html'
      responses:
        '204':
          description: Success
      parameters:
        - name: Bucket
          in: path
          required: true
          description: <p/>
          type: string
        - name: cors
          in: query
          required: true
          type: boolean
          allowEmptyValue: true
          enum:
            - true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
    get:
      operationId: GetBucketCors
      description: Returns the CORS configuration for the bucket.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETcors.html'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketCorsOutput'
      parameters:
        - name: Bucket
          in: path
          required: true
          description: <p/>
          type: string
        - name: cors
          in: query
          required: true
          type: boolean
          allowEmptyValue: true
          enum:
            - true
    put:
      operationId: PutBucketCors
      description: Sets the CORS configuration for a bucket.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTcors.html'
      responses:
        '200':
          description: Success
      parameters:
        - name: Bucket
          in: path
          required: true
          description: <p/>
          type: string
        - name: Content-MD5
          in: header
          required: false
          description: <p/>
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - CORSConfiguration
            properties:
              CORSConfiguration:
                description: 'Describes the cross-origin access configuration for objects in an Amazon S3 bucket. For more information, see <a href="https://docs.aws.amazon.com/AmazonS3/latest/dev/cors.html">Enabling Cross-Origin Resource Sharing</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.'
                type: object
                properties:
                  CORSRules:
                    $ref: '#/definitions/CORSRules'
                    description: A set of allowed origins and methods.
        - name: cors
          in: query
          required: true
          type: boolean
          allowEmptyValue: true
          enum:
            - true
  '/{Bucket}#encryption':
    delete:
      operationId: DeleteBucketEncryption
      description: Deletes the server-side encryption configuration from the bucket.
      responses:
        '204':
          description: Success
      parameters:
        - name: Bucket
          in: path
          required: true
          description: The name of the bucket containing the server-side encryption configuration to delete.
          type: string
        - name: encryption
          in: query
          required: true
          type: boolean
          allowEmptyValue: true
          enum:
            - true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
    get:
      operationId: GetBucketEncryption
      description: Returns the server-side encryption configuration of a bucket.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketEncryptionOutput'
      parameters:
        - name: Bucket
          in: path
          required: true
          description: The name of the bucket from which the server-side encryption configuration is retrieved.
          type: string
        - name: encryption
          in: query
          required: true
          type: boolean
          allowEmptyValue: true
          enum:
            - true
    put:
      operationId: PutBucketEncryption
      description: 'Creates a new server-side encryption configuration (or replaces an existing one, if present).'
      responses:
        '200':
          description: Success
      parameters:
        - name: Bucket
          in: path
          required: true
          description: 'Specifies default encryption for a bucket using server-side encryption with Amazon S3-managed keys (SSE-S3) or AWS KMS-managed keys (SSE-KMS). For information about the Amazon S3 default encryption feature, see <a href="https://docs.aws.amazon.com/AmazonS3/latest/dev/bucket-encryption.html">Amazon S3 Default Bucket Encryption</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.'
          type: string
        - name: Content-MD5
          in: header
          required: false
          description: The base64-encoded 128-bit MD5 digest of the server-side encryption configuration. This parameter is auto-populated when using the command from the CLI.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - ServerSideEncryptionConfiguration
            properties:
              ServerSideEncryptionConfiguration:
                description: Specifies the default server-side-encryption configuration.
                type: object
                properties:
                  Rules:
                    $ref: '#/definitions/ServerSideEncryptionRules'
                    description: Container for information about a particular server-side encryption configuration rule.
        - name: encryption
          in: query
          required: true
          type: boolean
          allowEmptyValue: true
          enum:
            - true
  '/{Bucket}#inventory&id':
    delete:
      operationId: DeleteBucketInventoryConfiguration
      description: Deletes an inventory configuration (identified by the inventory ID) from the bucket.
      responses:
        '204':
          description: Success
      parameters:
        - name: Bucket
          in: path
          required: true
          description: The name of the bucket containing the inventory configuration to delete.
          type: string
        - name: id
          in: query
          required: true
          description: The ID used to identify the inventory configuration.
          type: string
        - name: inventory
          in: query
          required: true
          type: boolean
          allowEmptyValue: true
          enum:
            - true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
    get:
      operationId: GetBucketInventoryConfiguration
      description: Returns an inventory configuration (identified by the inventory ID) from the bucket.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketInventoryConfigurationOutput'
      parameters:
        - name: Bucket
          in: path
          required: true
          description: The name of the bucket containing the inventory configuration to retrieve.
          type: string
        - name: id
          in: query
          required: true
          description: The ID used to identify the inventory configuration.
          type: string
        - name: inventory
          in: query
          required: true
          type: boolean
          allowEmptyValue: true
          enum:
            - true
    put:
      operationId: PutBucketInventoryConfiguration
      description: Adds an inventory configuration (identified by the inventory ID) from the bucket.
      responses:
        '200':
          description: Success
      parameters:
        - name: Bucket
          in: path
          required: true
          description: The name of the bucket where the inventory configuration will be stored.
          type: string
        - name: id
          in: query
          required: true
          description: The ID used to identify the inventory configuration.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - InventoryConfiguration
            properties:
              InventoryConfiguration:
                description: 'Specifies the inventory configuration for an Amazon S3 bucket. For more information, see <a href="https://docs.aws.amazon.com/AmazonS3/latest/API/RESTBucketGETInventoryConfig.html">GET Bucket inventory</a> in the <i>Amazon Simple Storage Service API Reference</i>. '
                type: object
                properties:
                  Destination:
                    $ref: '#/definitions/InventoryDestination'
                    description: Contains information about where to publish the inventory results.
                  IsEnabled:
                    $ref: '#/definitions/IsEnabled'
                    description: 'Specifies whether the inventory is enabled or disabled. If set to <code>True</code>, an inventory list is generated. If set to <code>False</code>, no inventory list is generated.'
                  Filter:
                    $ref: '#/definitions/InventoryFilter'
                    description: Specifies an inventory filter. The inventory only includes objects that meet the filter's criteria.
                  Id:
                    $ref: '#/definitions/InventoryId'
                    description: The ID used to identify the inventory configuration.
                  IncludedObjectVersions:
                    $ref: '#/definitions/InventoryIncludedObjectVersions'
                    description: 'Object versions to include in the inventory list. If set to <code>All</code>, the list includes all the object versions, which adds the version-related fields <code>VersionId</code>, <code>IsLatest</code>, and <code>DeleteMarker</code> to the list. If set to <code>Current</code>, the list does not contain these version-related fields.'
                  OptionalFields:
                    $ref: '#/definitions/InventoryOptionalFields'
                    description: Contains the optional fields that are included in the inventory results.
                  Schedule:
                    $ref: '#/definitions/InventorySchedule'
                    description: Specifies the schedule for generating inventory results.
        - name: inventory
          in: query
          required: true
          type: boolean
          allowEmptyValue: true
          enum:
            - true
  '/{Bucket}#lifecycle':
    delete:
      operationId: DeleteBucketLifecycle
      description: Deletes the lifecycle configuration from the bucket.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETElifecycle.html'
      responses:
        '204':
          description: Success
      parameters:
        - name: Bucket
          in: path
          required: true
          description: <p/>
          type: string
        - name: lifecycle
          in: query
          required: true
          type: boolean
          allowEmptyValue: true
          enum:
            - true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
    get:
      operationId: GetBucketLifecycleConfiguration
      description: Returns the lifecycle configuration information set on the bucket.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketLifecycleConfigurationOutput'
      parameters:
        - name: Bucket
          in: path
          required: true
          description: <p/>
          type: string
        - name: lifecycle
          in: query
          required: true
          type: boolean
          allowEmptyValue: true
          enum:
            - true
    put:
      operationId: PutBucketLifecycleConfiguration
      description: 'Sets lifecycle configuration for your bucket. If a lifecycle configuration exists, it replaces it.'
      responses:
        '200':
          description: Success
      parameters:
        - name: Bucket
          in: path
          required: true
          description: <p/>
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - LifecycleConfiguration
            properties:
              LifecycleConfiguration:
                description: 'Specifies the lifecycle configuration for objects in an Amazon S3 bucket. For more information, see <a href="https://docs.aws.amazon.com/AmazonS3/latest/dev/object-lifecycle-mgmt.html">Object Lifecycle Management</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.'
                type: object
                properties:
                  Rules:
                    $ref: '#/definitions/LifecycleRules'
                    description: A lifecycle rule for individual objects in an Amazon S3 bucket.
        - name: lifecycle
          in: query
          required: true
          type: boolean
          allowEmptyValue: true
          enum:
            - true
  '/{Bucket}#metrics&id':
    delete:
      operationId: DeleteBucketMetricsConfiguration
      description: Deletes a metrics configuration (specified by the metrics configuration ID) from the bucket.
      responses:
        '204':
          description: Success
      parameters:
        - name: Bucket
          in: path
          required: true
          description: The name of the bucket containing the metrics configuration to delete.
          type: string
        - name: id
          in: query
          required: true
          description: The ID used to identify the metrics configuration.
          type: string
        - name: metrics
          in: query
          required: true
          type: boolean
          allowEmptyValue: true
          enum:
            - true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
    get:
      operationId: GetBucketMetricsConfiguration
      description: Gets a metrics configuration (specified by the metrics configuration ID) from the bucket.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketMetricsConfigurationOutput'
      parameters:
        - name: Bucket
          in: path
          required: true
          description: The name of the bucket containing the metrics configuration to retrieve.
          type: string
        - name: id
          in: query
          required: true
          description: The ID used to identify the metrics configuration.
          type: string
        - name: metrics
          in: query
          required: true
          type: boolean
          allowEmptyValue: true
          enum:
            - true
    put:
      operationId: PutBucketMetricsConfiguration
      description: Sets a metrics configuration (specified by the metrics configuration ID) for the bucket.
      responses:
        '200':
          description: Success
      parameters:
        - name: Bucket
          in: path
          required: true
          description: The name of the bucket for which the metrics configuration is set.
          type: string
        - name: id
          in: query
          required: true
          description: The ID used to identify the metrics configuration.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - MetricsConfiguration
            properties:
              MetricsConfiguration:
                description: 'Specifies a metrics configuration for the CloudWatch request metrics (specified by the metrics configuration ID) from an Amazon S3 bucket. If you''re updating an existing metrics configuration, note that this is a full replacement of the existing metrics configuration. If you don''t include the elements you want to keep, they are erased. For more information, see <a href="https://docs.aws.amazon.com/AmazonS3/latest/API/RESTBucketPUTMetricConfiguration.html"> PUT Bucket metrics</a> in the <i>Amazon Simple Storage Service API Reference</i>.'
                type: object
                properties:
                  Id:
                    $ref: '#/definitions/MetricsId'
                    description: The ID used to identify the metrics configuration.
                  Filter:
                    $ref: '#/definitions/MetricsFilter'
                    description: 'Specifies a metrics configuration filter. The metrics configuration will only include objects that meet the filter''s criteria. A filter must be a prefix, a tag, or a conjunction (MetricsAndOperator).'
        - name: metrics
          in: query
          required: true
          type: boolean
          allowEmptyValue: true
          enum:
            - true
  '/{Bucket}#policy':
    delete:
      operationId: DeleteBucketPolicy
      description: Deletes the policy from the bucket.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETEpolicy.html'
      responses:
        '204':
          description: Success
      parameters:
        - name: Bucket
          in: path
          required: true
          description: <p/>
          type: string
        - name: policy
          in: query
          required: true
          type: boolean
          allowEmptyValue: true
          enum:
            - true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
    get:
      operationId: GetBucketPolicy
      description: Returns the policy of a specified bucket.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETpolicy.html'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketPolicyOutput'
      parameters:
        - name: Bucket
          in: path
          required: true
          description: <p/>
          type: string
        - name: policy
          in: query
          required: true
          type: boolean
          allowEmptyValue: true
          enum:
            - true
    put:
      operationId: PutBucketPolicy
      description: Applies an Amazon S3 bucket policy to an Amazon S3 bucket.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTpolicy.html'
      responses:
        '200':
          description: Success
      parameters:
        - name: Bucket
          in: path
          required: true
          description: <p/>
          type: string
        - name: Content-MD5
          in: header
          required: false
          description: <p/>
          type: string
        - name: x-amz-confirm-remove-self-bucket-access
          in: header
          required: false
          description: Set this parameter to true to confirm that you want to remove your permissions to change this bucket policy in the future.
          type: boolean
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - Policy
            properties:
              Policy:
                description: The bucket policy as a JSON document.
                type: string
        - name: policy
          in: query
          required: true
          type: boolean
          allowEmptyValue: true
          enum:
            - true
  '/{Bucket}#replication':
    delete:
      operationId: DeleteBucketReplication
      description: ' Deletes the replication configuration from the bucket. For information about replication configuration, see <a href="https://docs.aws.amazon.com/AmazonS3/latest/dev/crr.html">Cross-Region Replication (CRR)</a> in the <i>Amazon S3 Developer Guide</i>. '
      responses:
        '204':
          description: Success
      parameters:
        - name: Bucket
          in: path
          required: true
          description: <p> The bucket name. </p> <note> <p>It can take a while to propagate the deletion of a replication configuration to all Amazon S3 systems.</p> </note>
          type: string
        - name: replication
          in: query
          required: true
          type: boolean
          allowEmptyValue: true
          enum:
            - true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
    get:
      operationId: GetBucketReplication
      description: '<p>Returns the replication configuration of a bucket.</p> <note> <p> It can take a while to propagate the put or delete a replication configuration to all Amazon S3 systems. Therefore, a get request soon after put or delete can return a wrong result. </p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketReplicationOutput'
      parameters:
        - name: Bucket
          in: path
          required: true
          description: <p/>
          type: string
        - name: replication
          in: query
          required: true
          type: boolean
          allowEmptyValue: true
          enum:
            - true
    put:
      operationId: PutBucketReplication
      description: ' Creates a replication configuration or replaces an existing one. For more information, see <a href="https://docs.aws.amazon.com/AmazonS3/latest/dev/crr.html">Cross-Region Replication (CRR)</a> in the <i>Amazon S3 Developer Guide</i>. '
      responses:
        '200':
          description: Success
      parameters:
        - name: Bucket
          in: path
          required: true
          description: <p/>
          type: string
        - name: Content-MD5
          in: header
          required: false
          description: The base64-encoded 128-bit MD5 digest of the data. You must use this header as a message integrity check to verify that the request body was not corrupted in transit.
          type: string
        - name: x-amz-bucket-object-lock-token
          in: header
          required: false
          description: A token that allows Amazon S3 object lock to be enabled for an existing bucket.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - ReplicationConfiguration
            properties:
              ReplicationConfiguration:
                description: 'A container for replication rules. You can add up to 1,000 rules. The maximum size of a replication configuration is 2 MB.'
                type: object
                properties:
                  Role:
                    $ref: '#/definitions/Role'
                    description: 'The Amazon Resource Name (ARN) of the AWS Identity and Access Management (IAM) role that Amazon S3 assumes when replicating objects. For more information, see <a href="https://docs.aws.amazon.com/AmazonS3/latest/dev/crr-how-setup.html">How to Set Up Cross-Region Replication</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.'
                  Rules:
                    $ref: '#/definitions/ReplicationRules'
                    description: 'A container for one or more replication rules. A replication configuration must have at least one rule and can contain a maximum of 1,000 rules. '
        - name: replication
          in: query
          required: true
          type: boolean
          allowEmptyValue: true
          enum:
            - true
  '/{Bucket}#tagging':
    delete:
      operationId: DeleteBucketTagging
      description: Deletes the tags from the bucket.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETEtagging.html'
      responses:
        '204':
          description: Success
      parameters:
        - name: Bucket
          in: path
          required: true
          description: <p/>
          type: string
        - name: tagging
          in: query
          required: true
          type: boolean
          allowEmptyValue: true
          enum:
            - true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
    get:
      operationId: GetBucketTagging
      description: Returns the tag set associated with the bucket.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETtagging.html'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketTaggingOutput'
      parameters:
        - name: Bucket
          in: path
          required: true
          description: <p/>
          type: string
        - name: tagging
          in: query
          required: true
          type: boolean
          allowEmptyValue: true
          enum:
            - true
    put:
      operationId: PutBucketTagging
      description: Sets the tags for a bucket.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTtagging.html'
      responses:
        '200':
          description: Success
      parameters:
        - name: Bucket
          in: path
          required: true
          description: <p/>
          type: string
        - name: Content-MD5
          in: header
          required: false
          description: <p/>
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - Tagging
            properties:
              Tagging:
                description: <p/>
                type: object
                properties:
                  TagSet:
                    $ref: '#/definitions/TagSet'
                    description: <p/>
        - name: tagging
          in: query
          required: true
          type: boolean
          allowEmptyValue: true
          enum:
            - true
  '/{Bucket}#website':
    delete:
      operationId: DeleteBucketWebsite
      description: This operation removes the website configuration from the bucket.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETEwebsite.html'
      responses:
        '204':
          description: Success
      parameters:
        - name: Bucket
          in: path
          required: true
          description: <p/>
          type: string
        - name: website
          in: query
          required: true
          type: boolean
          allowEmptyValue: true
          enum:
            - true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
    get:
      operationId: GetBucketWebsite
      description: Returns the website configuration for a bucket.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETwebsite.html'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketWebsiteOutput'
      parameters:
        - name: Bucket
          in: path
          required: true
          description: <p/>
          type: string
        - name: website
          in: query
          required: true
          type: boolean
          allowEmptyValue: true
          enum:
            - true
    put:
      operationId: PutBucketWebsite
      description: Set the website configuration for a bucket.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTwebsite.html'
      responses:
        '200':
          description: Success
      parameters:
        - name: Bucket
          in: path
          required: true
          description: <p/>
          type: string
        - name: Content-MD5
          in: header
          required: false
          description: <p/>
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - WebsiteConfiguration
            properties:
              WebsiteConfiguration:
                description: Specifies website configuration parameters for an Amazon S3 bucket.
                type: object
                properties:
                  ErrorDocument:
                    $ref: '#/definitions/ErrorDocument'
                    description: The name of the error document for the website.
                  IndexDocument:
                    $ref: '#/definitions/IndexDocument'
                    description: The name of the index document for the website.
                  RedirectAllRequestsTo:
                    $ref: '#/definitions/RedirectAllRequestsTo'
                    description: '<p>The redirect behavior for every request to this bucket''s website endpoint.</p> <important> <p>If you specify this property, you can''t specify any other property.</p> </important>'
                  RoutingRules:
                    $ref: '#/definitions/RoutingRules'
                    description: Rules that define when a redirect is applied and the redirect behavior.
        - name: website
          in: query
          required: true
          type: boolean
          allowEmptyValue: true
          enum:
            - true
  '/{Bucket}/{Key}':
    delete:
      operationId: DeleteObject
      description: 'Removes the null version (if there is one) of an object and inserts a delete marker, which becomes the latest version of the object. If there isn''t a null version, Amazon S3 does not remove any objects.'
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectDELETE.html'
      responses:
        '204':
          description: Success
          schema:
            $ref: '#/definitions/DeleteObjectOutput'
      parameters:
        - name: Bucket
          in: path
          required: true
          description: <p/>
          type: string
        - name: Key
          in: path
          required: true
          description: <p/>
          type: string
          minLength: 1
        - name: x-amz-mfa
          in: header
          required: false
          description: 'The concatenation of the authentication device''s serial number, a space, and the value that is displayed on your authentication device.'
          type: string
        - name: versionId
          in: query
          required: false
          description: VersionId used to reference a specific version of the object.
          type: string
        - name: x-amz-request-payer
          in: header
          required: false
          description: 'Confirms that the requester knows that she or he will be charged for the request. Bucket owners need not specify this parameter in their requests. Documentation on downloading objects from requester pays buckets can be found at http://docs.aws.amazon.com/AmazonS3/latest/dev/ObjectsinRequesterPaysBuckets.html'
          type: string
          enum:
            - requester
        - name: x-amz-bypass-governance-retention
          in: header
          required: false
          description: Indicates whether Amazon S3 object lock should bypass governance-mode restrictions to process this operation.
          type: boolean
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
    get:
      operationId: GetObject
      description: Retrieves objects from Amazon S3.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectGET.html'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetObjectOutput'
        '480':
          description: NoSuchKey
          schema:
            $ref: '#/definitions/NoSuchKey'
      parameters:
        - name: Bucket
          in: path
          required: true
          description: <p/>
          type: string
        - name: If-Match
          in: header
          required: false
          description: 'Return the object only if its entity tag (ETag) is the same as the one specified, otherwise return a 412 (precondition failed).'
          type: string
        - name: If-Modified-Since
          in: header
          required: false
          description: 'Return the object only if it has been modified since the specified time, otherwise return a 304 (not modified).'
          type: string
          format: date-time
        - name: If-None-Match
          in: header
          required: false
          description: 'Return the object only if its entity tag (ETag) is different from the one specified, otherwise return a 304 (not modified).'
          type: string
        - name: If-Unmodified-Since
          in: header
          required: false
          description: 'Return the object only if it has not been modified since the specified time, otherwise return a 412 (precondition failed).'
          type: string
          format: date-time
        - name: Key
          in: path
          required: true
          description: <p/>
          type: string
          minLength: 1
        - name: Range
          in: header
          required: false
          description: 'Downloads the specified range bytes of an object. For more information about the HTTP Range header, go to http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.35.'
          type: string
        - name: response-cache-control
          in: query
          required: false
          description: Sets the Cache-Control header of the response.
          type: string
        - name: response-content-disposition
          in: query
          required: false
          description: Sets the Content-Disposition header of the response
          type: string
        - name: response-content-encoding
          in: query
          required: false
          description: Sets the Content-Encoding header of the response.
          type: string
        - name: response-content-language
          in: query
          required: false
          description: Sets the Content-Language header of the response.
          type: string
        - name: response-content-type
          in: query
          required: false
          description: Sets the Content-Type header of the response.
          type: string
        - name: response-expires
          in: query
          required: false
          description: Sets the Expires header of the response.
          type: string
          format: date-time
        - name: versionId
          in: query
          required: false
          description: VersionId used to reference a specific version of the object.
          type: string
        - name: x-amz-server-side-encryption-customer-algorithm
          in: header
          required: false
          description: 'Specifies the algorithm to use to when encrypting the object (e.g., AES256).'
          type: string
        - name: x-amz-server-side-encryption-customer-key
          in: header
          required: false
          description: Specifies the customer-provided encryption key for Amazon S3 to use in encrypting data. This value is used to store the object and then it is discarded; Amazon does not store the encryption key. The key must be appropriate for use with the algorithm specified in the x-amz-server-side​-encryption​-customer-algorithm header.
          type: string
          format: password
        - name: x-amz-server-side-encryption-customer-key-MD5
          in: header
          required: false
          description: Specifies the 128-bit MD5 digest of the encryption key according to RFC 1321. Amazon S3 uses this header for a message integrity check to ensure the encryption key was transmitted without error.
          type: string
        - name: x-amz-request-payer
          in: header
          required: false
          description: 'Confirms that the requester knows that she or he will be charged for the request. Bucket owners need not specify this parameter in their requests. Documentation on downloading objects from requester pays buckets can be found at http://docs.aws.amazon.com/AmazonS3/latest/dev/ObjectsinRequesterPaysBuckets.html'
          type: string
          enum:
            - requester
        - name: partNumber
          in: query
          required: false
          description: 'Part number of the object being read. This is a positive integer between 1 and 10,000. Effectively performs a ''ranged'' GET request for the part specified. Useful for downloading just a part of an object.'
          type: integer
    head:
      operationId: HeadObject
      description: 'The HEAD operation retrieves metadata from an object without returning the object itself. This operation is useful if you''re only interested in an object''s metadata. To use HEAD, you must have READ access to the object.'
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectHEAD.html'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/HeadObjectOutput'
        '480':
          description: NoSuchKey
          schema:
            $ref: '#/definitions/NoSuchKey'
      parameters:
        - name: Bucket
          in: path
          required: true
          description: <p/>
          type: string
        - name: If-Match
          in: header
          required: false
          description: 'Return the object only if its entity tag (ETag) is the same as the one specified, otherwise return a 412 (precondition failed).'
          type: string
        - name: If-Modified-Since
          in: header
          required: false
          description: 'Return the object only if it has been modified since the specified time, otherwise return a 304 (not modified).'
          type: string
          format: date-time
        - name: If-None-Match
          in: header
          required: false
          description: 'Return the object only if its entity tag (ETag) is different from the one specified, otherwise return a 304 (not modified).'
          type: string
        - name: If-Unmodified-Since
          in: header
          required: false
          description: 'Return the object only if it has not been modified since the specified time, otherwise return a 412 (precondition failed).'
          type: string
          format: date-time
        - name: Key
          in: path
          required: true
          description: <p/>
          type: string
          minLength: 1
        - name: Range
          in: header
          required: false
          description: 'Downloads the specified range bytes of an object. For more information about the HTTP Range header, go to http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.35.'
          type: string
        - name: versionId
          in: query
          required: false
          description: VersionId used to reference a specific version of the object.
          type: string
        - name: x-amz-server-side-encryption-customer-algorithm
          in: header
          required: false
          description: 'Specifies the algorithm to use to when encrypting the object (e.g., AES256).'
          type: string
        - name: x-amz-server-side-encryption-customer-key
          in: header
          required: false
          description: Specifies the customer-provided encryption key for Amazon S3 to use in encrypting data. This value is used to store the object and then it is discarded; Amazon does not store the encryption key. The key must be appropriate for use with the algorithm specified in the x-amz-server-side​-encryption​-customer-algorithm header.
          type: string
          format: password
        - name: x-amz-server-side-encryption-customer-key-MD5
          in: header
          required: false
          description: Specifies the 128-bit MD5 digest of the encryption key according to RFC 1321. Amazon S3 uses this header for a message integrity check to ensure the encryption key was transmitted without error.
          type: string
        - name: x-amz-request-payer
          in: header
          required: false
          description: 'Confirms that the requester knows that she or he will be charged for the request. Bucket owners need not specify this parameter in their requests. Documentation on downloading objects from requester pays buckets can be found at http://docs.aws.amazon.com/AmazonS3/latest/dev/ObjectsinRequesterPaysBuckets.html'
          type: string
          enum:
            - requester
        - name: partNumber
          in: query
          required: false
          description: 'Part number of the object being read. This is a positive integer between 1 and 10,000. Effectively performs a ''ranged'' HEAD request for the part specified. Useful querying about the size of the part and the number of parts in this object.'
          type: integer
    put:
      operationId: PutObject
      description: Adds an object to a bucket.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectPUT.html'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutObjectOutput'
      parameters:
        - name: x-amz-acl
          in: header
          required: false
          description: The canned ACL to apply to the object.
          type: string
          enum:
            - private
            - public-read
            - public-read-write
            - authenticated-read
            - aws-exec-read
            - bucket-owner-read
            - bucket-owner-full-control
        - name: Bucket
          in: path
          required: true
          description: Name of the bucket to which the PUT operation was initiated.
          type: string
        - name: Cache-Control
          in: header
          required: false
          description: Specifies caching behavior along the request/reply chain.
          type: string
        - name: Content-Disposition
          in: header
          required: false
          description: Specifies presentational information for the object.
          type: string
        - name: Content-Encoding
          in: header
          required: false
          description: Specifies what content encodings have been applied to the object and thus what decoding mechanisms must be applied to obtain the media-type referenced by the Content-Type header field.
          type: string
        - name: Content-Language
          in: header
          required: false
          description: The language the content is in.
          type: string
        - name: Content-Length
          in: header
          required: false
          description: Size of the body in bytes. This parameter is useful when the size of the body cannot be determined automatically.
          type: integer
        - name: Content-MD5
          in: header
          required: false
          description: The base64-encoded 128-bit MD5 digest of the part data. This parameter is auto-populated when using the command from the CLI. This parameted is required if object lock parameters are specified.
          type: string
        - name: Content-Type
          in: header
          required: false
          description: A standard MIME type describing the format of the object data.
          type: string
        - name: Expires
          in: header
          required: false
          description: The date and time at which the object is no longer cacheable.
          type: string
          format: date-time
        - name: x-amz-grant-full-control
          in: header
          required: false
          description: 'Gives the grantee READ, READ_ACP, and WRITE_ACP permissions on the object.'
          type: string
        - name: x-amz-grant-read
          in: header
          required: false
          description: Allows grantee to read the object data and its metadata.
          type: string
        - name: x-amz-grant-read-acp
          in: header
          required: false
          description: Allows grantee to read the object ACL.
          type: string
        - name: x-amz-grant-write-acp
          in: header
          required: false
          description: Allows grantee to write the ACL for the applicable object.
          type: string
        - name: Key
          in: path
          required: true
          description: Object key for which the PUT operation was initiated.
          type: string
          minLength: 1
        - name: x-amz-server-side-encryption
          in: header
          required: false
          description: 'The Server-side encryption algorithm used when storing this object in S3 (e.g., AES256, aws:kms).'
          type: string
          enum:
            - AES256
            - 'aws:kms'
        - name: x-amz-storage-class
          in: header
          required: false
          description: The type of storage to use for the object. Defaults to 'STANDARD'.
          type: string
          enum:
            - STANDARD
            - REDUCED_REDUNDANCY
            - STANDARD_IA
            - ONEZONE_IA
            - INTELLIGENT_TIERING
            - GLACIER
            - DEEP_ARCHIVE
        - name: x-amz-website-redirect-location
          in: header
          required: false
          description: 'If the bucket is configured as a website, redirects requests for this object to another object in the same bucket or to an external URL. Amazon S3 stores the value of this header in the object metadata.'
          type: string
        - name: x-amz-server-side-encryption-customer-algorithm
          in: header
          required: false
          description: 'Specifies the algorithm to use to when encrypting the object (e.g., AES256).'
          type: string
        - name: x-amz-server-side-encryption-customer-key
          in: header
          required: false
          description: Specifies the customer-provided encryption key for Amazon S3 to use in encrypting data. This value is used to store the object and then it is discarded; Amazon does not store the encryption key. The key must be appropriate for use with the algorithm specified in the x-amz-server-side​-encryption​-customer-algorithm header.
          type: string
          format: password
        - name: x-amz-server-side-encryption-customer-key-MD5
          in: header
          required: false
          description: Specifies the 128-bit MD5 digest of the encryption key according to RFC 1321. Amazon S3 uses this header for a message integrity check to ensure the encryption key was transmitted without error.
          type: string
        - name: x-amz-server-side-encryption-aws-kms-key-id
          in: header
          required: false
          description: 'Specifies the AWS KMS key ID to use for object encryption. All GET and PUT requests for an object protected by AWS KMS will fail if not made via SSL or using SigV4. Documentation on configuring any of the officially supported AWS SDKs and CLI can be found at http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingAWSSDK.html#specify-signature-version'
          type: string
          format: password
        - name: x-amz-server-side-encryption-context
          in: header
          required: false
          description: Specifies the AWS KMS Encryption Context to use for object encryption. The value of this header is a base64-encoded UTF-8 string holding JSON with the encryption context key-value pairs.
          type: string
          format: password
        - name: x-amz-request-payer
          in: header
          required: false
          description: 'Confirms that the requester knows that she or he will be charged for the request. Bucket owners need not specify this parameter in their requests. Documentation on downloading objects from requester pays buckets can be found at http://docs.aws.amazon.com/AmazonS3/latest/dev/ObjectsinRequesterPaysBuckets.html'
          type: string
          enum:
            - requester
        - name: x-amz-tagging
          in: header
          required: false
          description: 'The tag-set for the object. The tag-set must be encoded as URL Query parameters. (For example, "Key1=Value1")'
          type: string
        - name: x-amz-object-lock-mode
          in: header
          required: false
          description: The object lock mode that you want to apply to this object.
          type: string
          enum:
            - GOVERNANCE
            - COMPLIANCE
        - name: x-amz-object-lock-retain-until-date
          in: header
          required: false
          description: The date and time when you want this object's object lock to expire.
          type: string
          format: date-time
        - name: x-amz-object-lock-legal-hold
          in: header
          required: false
          description: The Legal Hold status that you want to apply to the specified object.
          type: string
          enum:
            - 'ON'
            - 'OFF'
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              Body:
                description: Object data.
                type: string
              x-amz-meta-:
                description: A map of metadata to store with the object in S3.
                type: object
                additionalProperties:
                  $ref: '#/definitions/MetadataValue'
  '/{Bucket}/{Key}#tagging':
    delete:
      operationId: DeleteObjectTagging
      description: Removes the tag-set from an existing object.
      responses:
        '204':
          description: Success
          schema:
            $ref: '#/definitions/DeleteObjectTaggingOutput'
      parameters:
        - name: Bucket
          in: path
          required: true
          description: <p/>
          type: string
        - name: Key
          in: path
          required: true
          description: <p/>
          type: string
          minLength: 1
        - name: versionId
          in: query
          required: false
          description: The versionId of the object that the tag-set will be removed from.
          type: string
        - name: tagging
          in: query
          required: true
          type: boolean
          allowEmptyValue: true
          enum:
            - true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
    get:
      operationId: GetObjectTagging
      description: Returns the tag-set of an object.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetObjectTaggingOutput'
      parameters:
        - name: Bucket
          in: path
          required: true
          description: <p/>
          type: string
        - name: Key
          in: path
          required: true
          description: <p/>
          type: string
          minLength: 1
        - name: versionId
          in: query
          required: false
          description: <p/>
          type: string
        - name: tagging
          in: query
          required: true
          type: boolean
          allowEmptyValue: true
          enum:
            - true
    put:
      operationId: PutObjectTagging
      description: Sets the supplied tag-set to an object that already exists in a bucket
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutObjectTaggingOutput'
      parameters:
        - name: Bucket
          in: path
          required: true
          description: <p/>
          type: string
        - name: Key
          in: path
          required: true
          description: <p/>
          type: string
          minLength: 1
        - name: versionId
          in: query
          required: false
          description: <p/>
          type: string
        - name: Content-MD5
          in: header
          required: false
          description: <p/>
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - Tagging
            properties:
              Tagging:
                description: <p/>
                type: object
                properties:
                  TagSet:
                    $ref: '#/definitions/TagSet'
                    description: <p/>
        - name: tagging
          in: query
          required: true
          type: boolean
          allowEmptyValue: true
          enum:
            - true
  '/{Bucket}#delete':
    post:
      operationId: DeleteObjects
      description: This operation enables you to delete multiple objects from a bucket using a single HTTP request. You may specify up to 1000 keys.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/multiobjectdeleteapi.html'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteObjectsOutput'
      parameters:
        - name: Bucket
          in: path
          required: true
          description: <p/>
          type: string
        - name: x-amz-mfa
          in: header
          required: false
          description: 'The concatenation of the authentication device''s serial number, a space, and the value that is displayed on your authentication device.'
          type: string
        - name: x-amz-request-payer
          in: header
          required: false
          description: 'Confirms that the requester knows that she or he will be charged for the request. Bucket owners need not specify this parameter in their requests. Documentation on downloading objects from requester pays buckets can be found at http://docs.aws.amazon.com/AmazonS3/latest/dev/ObjectsinRequesterPaysBuckets.html'
          type: string
          enum:
            - requester
        - name: x-amz-bypass-governance-retention
          in: header
          required: false
          description: Specifies whether you want to delete this object even if it has a Governance-type object lock in place. You must have sufficient permissions to perform this operation.
          type: boolean
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - Delete
            properties:
              Delete:
                description: <p/>
                type: object
                properties:
                  Objects:
                    $ref: '#/definitions/ObjectIdentifierList'
                    description: <p/>
                  Quiet:
                    $ref: '#/definitions/Quiet'
                    description: 'Element to enable quiet mode for the request. When you add this element, you must set its value to true.'
        - name: delete
          in: query
          required: true
          type: boolean
          allowEmptyValue: true
          enum:
            - true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}#publicAccessBlock':
    delete:
      operationId: DeletePublicAccessBlock
      description: Removes the <code>PublicAccessBlock</code> configuration from an Amazon S3 bucket.
      responses:
        '204':
          description: Success
      parameters:
        - name: Bucket
          in: path
          required: true
          description: 'The Amazon S3 bucket whose <code>PublicAccessBlock</code> configuration you want to delete. '
          type: string
        - name: publicAccessBlock
          in: query
          required: true
          type: boolean
          allowEmptyValue: true
          enum:
            - true
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
    get:
      operationId: GetPublicAccessBlock
      description: Retrieves the <code>PublicAccessBlock</code> configuration for an Amazon S3 bucket.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetPublicAccessBlockOutput'
      parameters:
        - name: Bucket
          in: path
          required: true
          description: 'The name of the Amazon S3 bucket whose <code>PublicAccessBlock</code> configuration you want to retrieve. '
          type: string
        - name: publicAccessBlock
          in: query
          required: true
          type: boolean
          allowEmptyValue: true
          enum:
            - true
    put:
      operationId: PutPublicAccessBlock
      description: Creates or modifies the <code>PublicAccessBlock</code> configuration for an Amazon S3 bucket.
      responses:
        '200':
          description: Success
      parameters:
        - name: Bucket
          in: path
          required: true
          description: The name of the Amazon S3 bucket whose <code>PublicAccessBlock</code> configuration you want to set.
          type: string
        - name: Content-MD5
          in: header
          required: false
          description: 'The MD5 hash of the <code>PutPublicAccessBlock</code> request body. '
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - PublicAccessBlockConfiguration
            properties:
              PublicAccessBlockConfiguration:
                description: Specifies the Block Public Access configuration for an Amazon S3 bucket.
                type: object
                properties:
                  BlockPublicAcls:
                    $ref: '#/definitions/Setting'
                    description: '<p>Specifies whether Amazon S3 should block public access control lists (ACLs) for this bucket and objects in this bucket. Setting this element to <code>TRUE</code> causes the following behavior:</p> <ul> <li> <p>PUT Bucket acl and PUT Object acl calls fail if the specified ACL is public.</p> </li> <li> <p>PUT Object calls fail if the request includes a public ACL.</p> </li> </ul> <p>Enabling this setting doesn''t affect existing policies or ACLs.</p>'
                  IgnorePublicAcls:
                    $ref: '#/definitions/Setting'
                    description: <p>Specifies whether Amazon S3 should ignore public ACLs for this bucket and objects in this bucket. Setting this element to <code>TRUE</code> causes Amazon S3 to ignore all public ACLs on this bucket and objects in this bucket.</p> <p>Enabling this setting doesn't affect the persistence of any existing ACLs and doesn't prevent new public ACLs from being set.</p>
                  BlockPublicPolicy:
                    $ref: '#/definitions/Setting'
                    description: <p>Specifies whether Amazon S3 should block public bucket policies for this bucket. Setting this element to <code>TRUE</code> causes Amazon S3 to reject calls to PUT Bucket policy if the specified bucket policy allows public access. </p> <p>Enabling this setting doesn't affect existing bucket policies.</p>
                  RestrictPublicBuckets:
                    $ref: '#/definitions/Setting'
[...]
