swagger: '2.0'
schemes:
  - https
  - http
host: s3.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: <p/>
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: Amazon Simple Storage Service
  version: '2006-03-01'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/s3-2006-03-01.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: s3
  x-serviceName: s3
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/s3/'
consumes:
  - text/xml
produces:
  - text/xml
securityDefinitions:
  hmac:
    description: Amazon S3 signature
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsS3
security:
  - hmac: []
parameters:
  x-amz-security-token:
    in: header
    name: x-amz-security-token
    required: false
    type: string
paths:
  /:
    get:
      description: Returns a list of all buckets owned by the authenticated sender of the request.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTServiceGET.html'
      operationId: ListBuckets
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListBucketsOutput'
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}':
    delete:
      description: Deletes the bucket. All objects (including all object versions and Delete Markers) in the bucket must be deleted before the bucket itself can be deleted.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETE.html'
      operationId: DeleteBucket
      parameters:
        - description: <p/>
          in: path
          name: Bucket
          required: true
          type: string
      responses:
        '204':
          description: Success
    get:
      description: Returns some or all (up to 1000) of the objects in a bucket. You can use the request parameters as selection criteria to return a subset of the objects in a bucket.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGET.html'
      operationId: ListObjects
      parameters:
        - description: <p/>
          in: path
          name: Bucket
          required: true
          type: string
        - description: A delimiter is a character you use to group keys.
          in: query
          name: delimiter
          required: false
          type: string
        - description: 'Requests Amazon S3 to encode the object keys in the response and specifies the encoding method to use. An object key may contain any Unicode character; however, XML 1.0 parser cannot parse some characters, such as characters with an ASCII value from 0 to 10. For characters that are not supported in XML 1.0, you can add this parameter to request that Amazon S3 encode the keys in the response.'
          enum:
            - url
          in: query
          name: encoding-type
          required: false
          type: string
        - description: Specifies the key to start with when listing objects in a bucket.
          in: query
          name: marker
          required: false
          type: string
        - description: Sets the maximum number of keys returned in the response. The response might contain fewer keys but will never contain more.
          in: query
          name: max-keys
          required: false
          type: integer
        - description: Limits the response to keys that begin with the specified prefix.
          in: query
          name: prefix
          required: false
          type: string
        - description: 'Confirms that the requester knows that she or he will be charged for the request. Bucket owners need not specify this parameter in their requests. Documentation on downloading objects from requester pays buckets can be found at http://docs.aws.amazon.com/AmazonS3/latest/dev/ObjectsinRequesterPaysBuckets.html'
          enum:
            - requester
          in: header
          name: x-amz-request-payer
          required: false
          type: string
        - description: Pagination limit
          in: query
          name: MaxKeys
          required: false
          type: string
        - description: Pagination token
          in: query
          name: Marker
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListObjectsOutput'
        '480':
          description: NoSuchBucket
          schema:
            $ref: '#/definitions/NoSuchBucket'
    head:
      description: This operation is useful to determine if a bucket exists and you have permission to access it.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketHEAD.html'
      operationId: HeadBucket
      parameters:
        - description: <p/>
          in: path
          name: Bucket
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: NoSuchBucket
          schema:
            $ref: '#/definitions/NoSuchBucket'
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
    put:
      description: Creates a new bucket.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUT.html'
      operationId: CreateBucket
      parameters:
        - description: The canned ACL to apply to the bucket.
          enum:
            - private
            - public-read
            - public-read-write
            - authenticated-read
          in: header
          name: x-amz-acl
          required: false
          type: string
        - description: <p/>
          in: path
          name: Bucket
          required: true
          type: string
        - description: 'Allows grantee the read, write, read ACP, and write ACP permissions on the bucket.'
          in: header
          name: x-amz-grant-full-control
          required: false
          type: string
        - description: Allows grantee to list the objects in the bucket.
          in: header
          name: x-amz-grant-read
          required: false
          type: string
        - description: Allows grantee to read the bucket ACL.
          in: header
          name: x-amz-grant-read-acp
          required: false
          type: string
        - description: 'Allows grantee to create, overwrite, and delete any object in the bucket.'
          in: header
          name: x-amz-grant-write
          required: false
          type: string
        - description: Allows grantee to write the ACL for the applicable bucket.
          in: header
          name: x-amz-grant-write-acp
          required: false
          type: string
        - description: Specifies whether you want Amazon S3 object lock to be enabled for the new bucket.
          in: header
          name: x-amz-bucket-object-lock-enabled
          required: false
          type: boolean
        - in: body
          name: body
          required: true
          schema:
            properties:
              CreateBucketConfiguration:
                description: <p/>
                properties:
                  LocationConstraint:
                    $ref: '#/definitions/BucketLocationConstraint'
                    description: 'Specifies the region where the bucket will be created. If you don''t specify a region, the bucket is created in US East (N. Virginia) Region (us-east-1).'
                type: object
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateBucketOutput'
        '480':
          description: BucketAlreadyExists
          schema:
            $ref: '#/definitions/BucketAlreadyExists'
        '481':
          description: BucketAlreadyOwnedByYou
          schema:
            $ref: '#/definitions/BucketAlreadyOwnedByYou'
  '/{Bucket}#accelerate':
    get:
      description: Returns the accelerate configuration of a bucket.
      operationId: GetBucketAccelerateConfiguration
      parameters:
        - description: Name of the bucket for which the accelerate configuration is retrieved.
          in: path
          name: Bucket
          required: true
          type: string
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: accelerate
          required: true
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketAccelerateConfigurationOutput'
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
    put:
      description: Sets the accelerate configuration of an existing bucket.
      operationId: PutBucketAccelerateConfiguration
      parameters:
        - description: Name of the bucket for which the accelerate configuration is set.
          in: path
          name: Bucket
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              AccelerateConfiguration:
                description: 'Configures the transfer acceleration state for an Amazon S3 bucket. For more information, see <a href="https://docs.aws.amazon.com/AmazonS3/latest/dev/transfer-acceleration.html">Amazon S3 Transfer Acceleration</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.'
                properties:
                  Status:
                    $ref: '#/definitions/BucketAccelerateStatus'
                    description: Specifies the transfer acceleration status of the bucket.
                type: object
            required:
              - AccelerateConfiguration
            type: object
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: accelerate
          required: true
          type: boolean
      responses:
        '200':
          description: Success
  '/{Bucket}#acl':
    get:
      description: Gets the access control policy for the bucket.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETacl.html'
      operationId: GetBucketAcl
      parameters:
        - description: <p/>
          in: path
          name: Bucket
          required: true
          type: string
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: acl
          required: true
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketAclOutput'
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
    put:
      description: Sets the permissions on a bucket using access control lists (ACL).
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTacl.html'
      operationId: PutBucketAcl
      parameters:
        - description: The canned ACL to apply to the bucket.
          enum:
            - private
            - public-read
            - public-read-write
            - authenticated-read
          in: header
          name: x-amz-acl
          required: false
          type: string
        - description: <p/>
          in: path
          name: Bucket
          required: true
          type: string
        - description: <p/>
          in: header
          name: Content-MD5
          required: false
          type: string
        - description: 'Allows grantee the read, write, read ACP, and write ACP permissions on the bucket.'
          in: header
          name: x-amz-grant-full-control
          required: false
          type: string
        - description: Allows grantee to list the objects in the bucket.
          in: header
          name: x-amz-grant-read
          required: false
          type: string
        - description: Allows grantee to read the bucket ACL.
          in: header
          name: x-amz-grant-read-acp
          required: false
          type: string
        - description: 'Allows grantee to create, overwrite, and delete any object in the bucket.'
          in: header
          name: x-amz-grant-write
          required: false
          type: string
        - description: Allows grantee to write the ACL for the applicable bucket.
          in: header
          name: x-amz-grant-write-acp
          required: false
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              AccessControlPolicy:
                description: Contains the elements that set the ACL permissions for an object per grantee.
                properties:
                  Grants:
                    $ref: '#/definitions/Grants'
                    description: A list of grants.
                  Owner:
                    $ref: '#/definitions/Owner'
                    description: Container for the bucket owner's display name and ID.
                type: object
            type: object
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: acl
          required: true
          type: boolean
      responses:
        '200':
          description: Success
  '/{Bucket}#analytics':
    get:
      description: Lists the analytics configurations for the bucket.
      operationId: ListBucketAnalyticsConfigurations
      parameters:
        - description: The name of the bucket from which analytics configurations are retrieved.
          in: path
          name: Bucket
          required: true
          type: string
        - description: The ContinuationToken that represents a placeholder from where this request should begin.
          in: query
          name: continuation-token
          required: false
          type: string
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: analytics
          required: true
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListBucketAnalyticsConfigurationsOutput'
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}#analytics&id':
    delete:
      description: '<p>Deletes an analytics configuration for the bucket (specified by the analytics configuration ID).</p> <p>To use this operation, you must have permissions to perform the s3:PutAnalyticsConfiguration action. The bucket owner has this permission by default. The bucket owner can grant this permission to others. </p>'
      operationId: DeleteBucketAnalyticsConfiguration
      parameters:
        - description: The name of the bucket from which an analytics configuration is deleted.
          in: path
          name: Bucket
          required: true
          type: string
        - description: The ID that identifies the analytics configuration.
          in: query
          name: id
          required: true
          type: string
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: analytics
          required: true
          type: boolean
      responses:
        '204':
          description: Success
    get:
      description: Gets an analytics configuration for the bucket (specified by the analytics configuration ID).
      operationId: GetBucketAnalyticsConfiguration
      parameters:
        - description: The name of the bucket from which an analytics configuration is retrieved.
          in: path
          name: Bucket
          required: true
          type: string
        - description: The ID that identifies the analytics configuration.
          in: query
          name: id
          required: true
          type: string
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: analytics
          required: true
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketAnalyticsConfigurationOutput'
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
    put:
      description: Sets an analytics configuration for the bucket (specified by the analytics configuration ID).
      operationId: PutBucketAnalyticsConfiguration
      parameters:
        - description: The name of the bucket to which an analytics configuration is stored.
          in: path
          name: Bucket
          required: true
          type: string
        - description: The ID that identifies the analytics configuration.
          in: query
          name: id
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              AnalyticsConfiguration:
                description: '<p> Specifies the configuration and any analyses for the analytics filter of an Amazon S3 bucket.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/AmazonS3/latest/API/RESTBucketGETAnalyticsConfig.html">GET Bucket analytics</a> in the <i>Amazon Simple Storage Service API Reference</i>. </p>'
                properties:
                  Filter:
                    $ref: '#/definitions/AnalyticsFilter'
                    description: 'The filter used to describe a set of objects for analyses. A filter must have exactly one prefix, one tag, or one conjunction (AnalyticsAndOperator). If no filter is provided, all objects will be considered in any analysis.'
                  Id:
                    $ref: '#/definitions/AnalyticsId'
                    description: The ID that identifies the analytics configuration.
                  StorageClassAnalysis:
                    $ref: '#/definitions/StorageClassAnalysis'
                    description: ' Contains data related to access patterns to be collected and made available to analyze the tradeoffs between different storage classes. '
                type: object
            required:
              - AnalyticsConfiguration
            type: object
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: analytics
          required: true
          type: boolean
      responses:
        '200':
          description: Success
  '/{Bucket}#cors':
    delete:
      description: Deletes the CORS configuration information set for the bucket.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETEcors.html'
      operationId: DeleteBucketCors
      parameters:
        - description: <p/>
          in: path
          name: Bucket
          required: true
          type: string
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: cors
          required: true
          type: boolean
      responses:
        '204':
          description: Success
    get:
      description: Returns the CORS configuration for the bucket.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETcors.html'
      operationId: GetBucketCors
      parameters:
        - description: <p/>
          in: path
          name: Bucket
          required: true
          type: string
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: cors
          required: true
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketCorsOutput'
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
    put:
      description: Sets the CORS configuration for a bucket.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTcors.html'
      operationId: PutBucketCors
      parameters:
        - description: <p/>
          in: path
          name: Bucket
          required: true
          type: string
        - description: <p/>
          in: header
          name: Content-MD5
          required: false
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              CORSConfiguration:
                description: 'Describes the cross-origin access configuration for objects in an Amazon S3 bucket. For more information, see <a href="https://docs.aws.amazon.com/AmazonS3/latest/dev/cors.html">Enabling Cross-Origin Resource Sharing</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.'
                properties:
                  CORSRules:
                    $ref: '#/definitions/CORSRules'
                    description: A set of allowed origins and methods.
                type: object
            required:
              - CORSConfiguration
            type: object
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: cors
          required: true
          type: boolean
      responses:
        '200':
          description: Success
  '/{Bucket}#delete':
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
    post:
      description: This operation enables you to delete multiple objects from a bucket using a single HTTP request. You may specify up to 1000 keys.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/multiobjectdeleteapi.html'
      operationId: DeleteObjects
      parameters:
        - description: <p/>
          in: path
          name: Bucket
          required: true
          type: string
        - description: 'The concatenation of the authentication device''s serial number, a space, and the value that is displayed on your authentication device.'
          in: header
          name: x-amz-mfa
          required: false
          type: string
        - description: 'Confirms that the requester knows that she or he will be charged for the request. Bucket owners need not specify this parameter in their requests. Documentation on downloading objects from requester pays buckets can be found at http://docs.aws.amazon.com/AmazonS3/latest/dev/ObjectsinRequesterPaysBuckets.html'
          enum:
            - requester
          in: header
          name: x-amz-request-payer
          required: false
          type: string
        - description: Specifies whether you want to delete this object even if it has a Governance-type object lock in place. You must have sufficient permissions to perform this operation.
          in: header
          name: x-amz-bypass-governance-retention
          required: false
          type: boolean
        - in: body
          name: body
          required: true
          schema:
            properties:
              Delete:
                description: <p/>
                properties:
                  Objects:
                    $ref: '#/definitions/ObjectIdentifierList'
                    description: <p/>
                  Quiet:
                    $ref: '#/definitions/Quiet'
                    description: 'Element to enable quiet mode for the request. When you add this element, you must set its value to true.'
                type: object
            required:
              - Delete
            type: object
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: delete
          required: true
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteObjectsOutput'
  '/{Bucket}#encryption':
    delete:
      description: Deletes the server-side encryption configuration from the bucket.
      operationId: DeleteBucketEncryption
      parameters:
        - description: The name of the bucket containing the server-side encryption configuration to delete.
          in: path
          name: Bucket
          required: true
          type: string
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: encryption
          required: true
          type: boolean
      responses:
        '204':
          description: Success
    get:
      description: Returns the server-side encryption configuration of a bucket.
      operationId: GetBucketEncryption
      parameters:
        - description: The name of the bucket from which the server-side encryption configuration is retrieved.
          in: path
          name: Bucket
          required: true
          type: string
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: encryption
          required: true
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketEncryptionOutput'
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
    put:
      description: 'Creates a new server-side encryption configuration (or replaces an existing one, if present).'
      operationId: PutBucketEncryption
      parameters:
        - description: 'Specifies default encryption for a bucket using server-side encryption with Amazon S3-managed keys (SSE-S3) or AWS KMS-managed keys (SSE-KMS). For information about the Amazon S3 default encryption feature, see <a href="https://docs.aws.amazon.com/AmazonS3/latest/dev/bucket-encryption.html">Amazon S3 Default Bucket Encryption</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.'
          in: path
          name: Bucket
          required: true
          type: string
        - description: The base64-encoded 128-bit MD5 digest of the server-side encryption configuration. This parameter is auto-populated when using the command from the CLI.
          in: header
          name: Content-MD5
          required: false
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              ServerSideEncryptionConfiguration:
                description: Specifies the default server-side-encryption configuration.
                properties:
                  Rules:
                    $ref: '#/definitions/ServerSideEncryptionRules'
                    description: Container for information about a particular server-side encryption configuration rule.
                type: object
            required:
              - ServerSideEncryptionConfiguration
            type: object
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: encryption
          required: true
          type: boolean
      responses:
        '200':
          description: Success
  '/{Bucket}#inventory':
    get:
      description: Returns a list of inventory configurations for the bucket.
      operationId: ListBucketInventoryConfigurations
      parameters:
        - description: The name of the bucket containing the inventory configurations to retrieve.
          in: path
          name: Bucket
          required: true
          type: string
        - description: The marker used to continue an inventory configuration listing that has been truncated. Use the NextContinuationToken from a previously truncated list response to continue the listing. The continuation token is an opaque value that Amazon S3 understands.
          in: query
          name: continuation-token
          required: false
          type: string
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: inventory
          required: true
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListBucketInventoryConfigurationsOutput'
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}#inventory&id':
    delete:
      description: Deletes an inventory configuration (identified by the inventory ID) from the bucket.
      operationId: DeleteBucketInventoryConfiguration
      parameters:
        - description: The name of the bucket containing the inventory configuration to delete.
          in: path
          name: Bucket
          required: true
          type: string
        - description: The ID used to identify the inventory configuration.
          in: query
          name: id
          required: true
          type: string
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: inventory
          required: true
          type: boolean
      responses:
        '204':
          description: Success
    get:
      description: Returns an inventory configuration (identified by the inventory ID) from the bucket.
      operationId: GetBucketInventoryConfiguration
      parameters:
        - description: The name of the bucket containing the inventory configuration to retrieve.
          in: path
          name: Bucket
          required: true
          type: string
        - description: The ID used to identify the inventory configuration.
          in: query
          name: id
          required: true
          type: string
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: inventory
          required: true
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketInventoryConfigurationOutput'
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
    put:
      description: Adds an inventory configuration (identified by the inventory ID) from the bucket.
      operationId: PutBucketInventoryConfiguration
      parameters:
        - description: The name of the bucket where the inventory configuration will be stored.
          in: path
          name: Bucket
          required: true
          type: string
        - description: The ID used to identify the inventory configuration.
          in: query
          name: id
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              InventoryConfiguration:
                description: 'Specifies the inventory configuration for an Amazon S3 bucket. For more information, see <a href="https://docs.aws.amazon.com/AmazonS3/latest/API/RESTBucketGETInventoryConfig.html">GET Bucket inventory</a> in the <i>Amazon Simple Storage Service API Reference</i>. '
                properties:
                  Destination:
                    $ref: '#/definitions/InventoryDestination'
                    description: Contains information about where to publish the inventory results.
                  Filter:
                    $ref: '#/definitions/InventoryFilter'
                    description: Specifies an inventory filter. The inventory only includes objects that meet the filter's criteria.
                  Id:
                    $ref: '#/definitions/InventoryId'
                    description: The ID used to identify the inventory configuration.
                  IncludedObjectVersions:
                    $ref: '#/definitions/InventoryIncludedObjectVersions'
                    description: 'Object versions to include in the inventory list. If set to <code>All</code>, the list includes all the object versions, which adds the version-related fields <code>VersionId</code>, <code>IsLatest</code>, and <code>DeleteMarker</code> to the list. If set to <code>Current</code>, the list does not contain these version-related fields.'
                  IsEnabled:
                    $ref: '#/definitions/IsEnabled'
                    description: 'Specifies whether the inventory is enabled or disabled. If set to <code>True</code>, an inventory list is generated. If set to <code>False</code>, no inventory list is generated.'
                  OptionalFields:
                    $ref: '#/definitions/InventoryOptionalFields'
                    description: Contains the optional fields that are included in the inventory results.
                  Schedule:
                    $ref: '#/definitions/InventorySchedule'
                    description: Specifies the schedule for generating inventory results.
                type: object
            required:
              - InventoryConfiguration
            type: object
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: inventory
          required: true
          type: boolean
      responses:
        '200':
          description: Success
  '/{Bucket}#lifecycle':
    delete:
      description: Deletes the lifecycle configuration from the bucket.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETElifecycle.html'
      operationId: DeleteBucketLifecycle
      parameters:
        - description: <p/>
          in: path
          name: Bucket
          required: true
          type: string
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: lifecycle
          required: true
          type: boolean
      responses:
        '204':
          description: Success
    get:
      description: Returns the lifecycle configuration information set on the bucket.
      operationId: GetBucketLifecycleConfiguration
      parameters:
        - description: <p/>
          in: path
          name: Bucket
          required: true
          type: string
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: lifecycle
          required: true
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketLifecycleConfigurationOutput'
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
    put:
      description: 'Sets lifecycle configuration for your bucket. If a lifecycle configuration exists, it replaces it.'
      operationId: PutBucketLifecycleConfiguration
      parameters:
        - description: <p/>
          in: path
          name: Bucket
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              LifecycleConfiguration:
                description: 'Specifies the lifecycle configuration for objects in an Amazon S3 bucket. For more information, see <a href="https://docs.aws.amazon.com/AmazonS3/latest/dev/object-lifecycle-mgmt.html">Object Lifecycle Management</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.'
                properties:
                  Rules:
                    $ref: '#/definitions/LifecycleRules'
                    description: A lifecycle rule for individual objects in an Amazon S3 bucket.
                type: object
            required:
              - LifecycleConfiguration
            type: object
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: lifecycle
          required: true
          type: boolean
      responses:
        '200':
          description: Success
  '/{Bucket}#lifecycle&deprecated!':
    get:
      deprecated: true
      description: ' No longer used, see the GetBucketLifecycleConfiguration operation.'
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETlifecycle.html'
      operationId: GetBucketLifecycle
      parameters:
        - description: <p/>
          in: path
          name: Bucket
          required: true
          type: string
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: lifecycle
          required: true
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketLifecycleOutput'
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
    put:
      deprecated: true
      description: ' No longer used, see the PutBucketLifecycleConfiguration operation.'
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTlifecycle.html'
      operationId: PutBucketLifecycle
      parameters:
        - description: <p/>
          in: path
          name: Bucket
          required: true
          type: string
        - description: <p/>
          in: header
          name: Content-MD5
          required: false
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              LifecycleConfiguration:
                description: <p/>
                properties:
                  Rules:
                    $ref: '#/definitions/Rules'
                    description: <p/>
                type: object
            required:
              - LifecycleConfiguration
            type: object
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: lifecycle
          required: true
          type: boolean
      responses:
        '200':
          description: Success
  '/{Bucket}#list-type=2':
    get:
      description: 'Returns some or all (up to 1000) of the objects in a bucket. You can use the request parameters as selection criteria to return a subset of the objects in a bucket. Note: ListObjectsV2 is the revised List Objects API and we recommend you use this revised API for new application development.'
      operationId: ListObjectsV2
      parameters:
        - description: Name of the bucket to list.
          in: path
          name: Bucket
          required: true
          type: string
        - description: A delimiter is a character you use to group keys.
          in: query
          name: delimiter
          required: false
          type: string
        - description: 'Requests Amazon S3 to encode the object keys in the response and specifies the encoding method to use. An object key may contain any Unicode character; however, XML 1.0 parser cannot parse some characters, such as characters with an ASCII value from 0 to 10. For characters that are not supported in XML 1.0, you can add this parameter to request that Amazon S3 encode the keys in the response.'
          enum:
            - url
          in: query
          name: encoding-type
          required: false
          type: string
        - description: Sets the maximum number of keys returned in the response. The response might contain fewer keys but will never contain more.
          in: query
          name: max-keys
          required: false
          type: integer
        - description: Limits the response to keys that begin with the specified prefix.
          in: query
          name: prefix
          required: false
          type: string
        - description: ContinuationToken indicates Amazon S3 that the list is being continued on this bucket with a token. ContinuationToken is obfuscated and is not a real key
          in: query
          name: continuation-token
          required: false
          type: string
        - description: 'The owner field is not present in listV2 by default, if you want to return owner field with each key in the result then set the fetch owner field to true'
          in: query
          name: fetch-owner
          required: false
          type: boolean
        - description: StartAfter is where you want Amazon S3 to start listing from. Amazon S3 starts listing after this specified key. StartAfter can be any key in the bucket
          in: query
          name: start-after
          required: false
          type: string
        - description: 'Confirms that the requester knows that she or he will be charged for the request. Bucket owners need not specify this parameter in their requests. Documentation on downloading objects from requester pays buckets can be found at http://docs.aws.amazon.com/AmazonS3/latest/dev/ObjectsinRequesterPaysBuckets.html'
          enum:
            - requester
          in: header
          name: x-amz-request-payer
          required: false
          type: string
        - description: Pagination limit
          in: query
          name: MaxKeys
          required: false
          type: string
        - description: Pagination token
          in: query
          name: ContinuationToken
          required: false
          type: string
        - enum:
            - '2'
          in: query
          name: list-type
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListObjectsV2Output'
        '480':
          description: NoSuchBucket
          schema:
            $ref: '#/definitions/NoSuchBucket'
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}#location':
    get:
      description: Returns the region the bucket resides in.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETlocation.html'
      operationId: GetBucketLocation
      parameters:
        - description: <p/>
          in: path
          name: Bucket
          required: true
          type: string
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: location
          required: true
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketLocationOutput'
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}#logging':
    get:
      description: 'Returns the logging status of a bucket and the permissions users have to view and modify that status. To use GET, you must be the bucket owner.'
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETlogging.html'
      operationId: GetBucketLogging
      parameters:
        - description: <p/>
          in: path
          name: Bucket
          required: true
          type: string
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: logging
          required: true
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketLoggingOutput'
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
    put:
      description: 'Set the logging parameters for a bucket and to specify permissions for who can view and modify the logging parameters. To set the logging status of a bucket, you must be the bucket owner.'
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTlogging.html'
      operationId: PutBucketLogging
      parameters:
        - description: <p/>
          in: path
          name: Bucket
          required: true
          type: string
        - description: <p/>
          in: header
          name: Content-MD5
          required: false
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              BucketLoggingStatus:
                description: <p/>
                properties:
                  LoggingEnabled:
                    $ref: '#/definitions/LoggingEnabled'
                    description: <p/>
                type: object
            required:
              - BucketLoggingStatus
            type: object
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: logging
          required: true
          type: boolean
      responses:
        '200':
          description: Success
  '/{Bucket}#metrics':
    get:
      description: Lists the metrics configurations for the bucket.
      operationId: ListBucketMetricsConfigurations
      parameters:
        - description: The name of the bucket containing the metrics configurations to retrieve.
          in: path
          name: Bucket
          required: true
          type: string
        - description: The marker that is used to continue a metrics configuration listing that has been truncated. Use the NextContinuationToken from a previously truncated list response to continue the listing. The continuation token is an opaque value that Amazon S3 understands.
          in: query
          name: continuation-token
          required: false
          type: string
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: metrics
          required: true
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListBucketMetricsConfigurationsOutput'
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}#metrics&id':
    delete:
      description: Deletes a metrics configuration (specified by the metrics configuration ID) from the bucket.
      operationId: DeleteBucketMetricsConfiguration
      parameters:
        - description: The name of the bucket containing the metrics configuration to delete.
          in: path
          name: Bucket
          required: true
          type: string
        - description: The ID used to identify the metrics configuration.
          in: query
          name: id
          required: true
          type: string
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: metrics
          required: true
          type: boolean
      responses:
        '204':
          description: Success
    get:
      description: Gets a metrics configuration (specified by the metrics configuration ID) from the bucket.
      operationId: GetBucketMetricsConfiguration
      parameters:
        - description: The name of the bucket containing the metrics configuration to retrieve.
          in: path
          name: Bucket
          required: true
          type: string
        - description: The ID used to identify the metrics configuration.
          in: query
          name: id
          required: true
          type: string
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: metrics
          required: true
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketMetricsConfigurationOutput'
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
    put:
      description: Sets a metrics configuration (specified by the metrics configuration ID) for the bucket.
      operationId: PutBucketMetricsConfiguration
      parameters:
        - description: The name of the bucket for which the metrics configuration is set.
          in: path
          name: Bucket
          required: true
          type: string
        - description: The ID used to identify the metrics configuration.
          in: query
          name: id
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              MetricsConfiguration:
                description: 'Specifies a metrics configuration for the CloudWatch request metrics (specified by the metrics configuration ID) from an Amazon S3 bucket. If you''re updating an existing metrics configuration, note that this is a full replacement of the existing metrics configuration. If you don''t include the elements you want to keep, they are erased. For more information, see <a href="https://docs.aws.amazon.com/AmazonS3/latest/API/RESTBucketPUTMetricConfiguration.html"> PUT Bucket metrics</a> in the <i>Amazon Simple Storage Service API Reference</i>.'
                properties:
                  Filter:
                    $ref: '#/definitions/MetricsFilter'
                    description: 'Specifies a metrics configuration filter. The metrics configuration will only include objects that meet the filter''s criteria. A filter must be a prefix, a tag, or a conjunction (MetricsAndOperator).'
                  Id:
                    $ref: '#/definitions/MetricsId'
                    description: The ID used to identify the metrics configuration.
                type: object
            required:
              - MetricsConfiguration
            type: object
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: metrics
          required: true
          type: boolean
      responses:
        '200':
          description: Success
  '/{Bucket}#notification':
    get:
      description: Returns the notification configuration of a bucket.
      operationId: GetBucketNotificationConfiguration
      parameters:
        - description: Name of the bucket to get the notification configuration for.
          in: path
          name: Bucket
          required: true
          type: string
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: notification
          required: true
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/NotificationConfiguration'
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
    put:
      description: Enables notifications of specified events for a bucket.
      operationId: PutBucketNotificationConfiguration
      parameters:
        - description: <p/>
          in: path
          name: Bucket
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              NotificationConfiguration:
                description: 'A container for specifying the notification configuration of the bucket. If this element is empty, notifications are turned off for the bucket.'
                properties:
                  LambdaFunctionConfigurations:
                    $ref: '#/definitions/LambdaFunctionConfigurationList'
                    description: Describes the AWS Lambda functions to invoke and the events for which to invoke them.
                  QueueConfigurations:
                    $ref: '#/definitions/QueueConfigurationList'
                    description: The Amazon Simple Queue Service queues to publish messages to and the events for which to publish messages.
                  TopicConfigurations:
                    $ref: '#/definitions/TopicConfigurationList'
                    description: The topic to which notifications are sent and the events for which notifications are generated.
                type: object
            required:
              - NotificationConfiguration
            type: object
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: notification
          required: true
          type: boolean
      responses:
        '200':
          description: Success
  '/{Bucket}#notification&deprecated!':
    get:
      deprecated: true
      description: ' No longer used, see the GetBucketNotificationConfiguration operation.'
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETnotification.html'
      operationId: GetBucketNotification
      parameters:
        - description: Name of the bucket to get the notification configuration for.
          in: path
          name: Bucket
          required: true
          type: string
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: notification
          required: true
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/NotificationConfigurationDeprecated'
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
    put:
      deprecated: true
      description: ' No longer used, see the PutBucketNotificationConfiguration operation.'
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTnotification.html'
      operationId: PutBucketNotification
      parameters:
        - description: <p/>
          in: path
          name: Bucket
          required: true
          type: string
        - description: <p/>
          in: header
          name: Content-MD5
          required: false
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              NotificationConfiguration:
                description: <p/>
                example:
                  QueueConfiguration:
                    Event: 's3:ObjectCreated:Put'
                    Events:
                      - 's3:ObjectCreated:Put'
                    Id: MDQ2OGQ4NDEtOTBmNi00YTM4LTk0NzYtZDIwN2I3NWQ1NjIx
                    Queue: 'arn:aws:sqs:us-east-1:acct-id:S3ObjectCreatedEventQueue'
                  TopicConfiguration:
                    Event: 's3:ObjectCreated:Copy'
                    Events:
                      - 's3:ObjectCreated:Copy'
                    Id: YTVkMWEzZGUtNTY1NS00ZmE2LWJjYjktMmRlY2QwODFkNTJi
                    Topic: 'arn:aws:sns:us-east-1:acct-id:S3ObjectCreatedEventTopic'
                properties:
                  CloudFunctionConfiguration:
                    $ref: '#/definitions/CloudFunctionConfiguration'
                    description: <p/>
                  QueueConfiguration:
                    $ref: '#/definitions/QueueConfigurationDeprecated'
                    description: <p/>
                  TopicConfiguration:
                    $ref: '#/definitions/TopicConfigurationDeprecated'
                    description: <p/>
                type: object
            required:
              - NotificationConfiguration
            type: object
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: notification
          required: true
          type: boolean
      responses:
        '200':
          description: Success
  '/{Bucket}#object-lock':
    get:
      description: Gets the object lock configuration for a bucket. The rule specified in the object lock configuration will be applied by default to every new object placed in the specified bucket.
      operationId: GetObjectLockConfiguration
      parameters:
        - description: The bucket whose object lock configuration you want to retrieve.
          in: path
          name: Bucket
          required: true
          type: string
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: object-lock
          required: true
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetObjectLockConfigurationOutput'
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
    put:
      description: Places an object lock configuration on the specified bucket. The rule specified in the object lock configuration will be applied by default to every new object placed in the specified bucket.
      operationId: PutObjectLockConfiguration
      parameters:
        - description: The bucket whose object lock configuration you want to create or replace.
          in: path
          name: Bucket
          required: true
          type: string
        - description: 'Confirms that the requester knows that she or he will be charged for the request. Bucket owners need not specify this parameter in their requests. Documentation on downloading objects from requester pays buckets can be found at http://docs.aws.amazon.com/AmazonS3/latest/dev/ObjectsinRequesterPaysBuckets.html'
          enum:
            - requester
          in: header
          name: x-amz-request-payer
          required: false
          type: string
        - description: A token to allow Amazon S3 object lock to be enabled for an existing bucket.
          in: header
          name: x-amz-bucket-object-lock-token
          required: false
          type: string
        - description: The MD5 hash for the request body.
          in: header
          name: Content-MD5
          required: false
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              ObjectLockConfiguration:
                description: The container element for object lock configuration parameters.
                properties:
                  ObjectLockEnabled:
                    $ref: '#/definitions/ObjectLockEnabled'
                    description: Indicates whether this bucket has an object lock configuration enabled.
                  Rule:
                    $ref: '#/definitions/ObjectLockRule'
                    description: The object lock rule in place for the specified object.
                type: object
            type: object
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: object-lock
          required: true
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutObjectLockConfigurationOutput'
  '/{Bucket}#policy':
    delete:
      description: Deletes the policy from the bucket.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETEpolicy.html'
      operationId: DeleteBucketPolicy
      parameters:
        - description: <p/>
          in: path
          name: Bucket
          required: true
          type: string
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: policy
          required: true
          type: boolean
      responses:
        '204':
          description: Success
    get:
      description: Returns the policy of a specified bucket.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETpolicy.html'
      operationId: GetBucketPolicy
      parameters:
        - description: <p/>
          in: path
          name: Bucket
          required: true
          type: string
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: policy
          required: true
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketPolicyOutput'
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
    put:
      description: Applies an Amazon S3 bucket policy to an Amazon S3 bucket.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTpolicy.html'
      operationId: PutBucketPolicy
      parameters:
        - description: <p/>
          in: path
          name: Bucket
          required: true
          type: string
        - description: <p/>
          in: header
          name: Content-MD5
          required: false
          type: string
        - description: Set this parameter to true to confirm that you want to remove your permissions to change this bucket policy in the future.
          in: header
          name: x-amz-confirm-remove-self-bucket-access
          required: false
          type: boolean
        - in: body
          name: body
          required: true
          schema:
            properties:
              Policy:
                description: The bucket policy as a JSON document.
                type: string
            required:
              - Policy
            type: object
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: policy
          required: true
          type: boolean
      responses:
        '200':
          description: Success
  '/{Bucket}#policyStatus':
    get:
      description: 'Retrieves the policy status for an Amazon S3 bucket, indicating whether the bucket is public.'
      operationId: GetBucketPolicyStatus
      parameters:
        - description: The name of the Amazon S3 bucket whose policy status you want to retrieve.
          in: path
          name: Bucket
          required: true
          type: string
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: policyStatus
          required: true
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketPolicyStatusOutput'
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}#publicAccessBlock':
    delete:
      description: Removes the <code>PublicAccessBlock</code> configuration from an Amazon S3 bucket.
      operationId: DeletePublicAccessBlock
      parameters:
        - description: 'The Amazon S3 bucket whose <code>PublicAccessBlock</code> configuration you want to delete. '
          in: path
          name: Bucket
          required: true
          type: string
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: publicAccessBlock
          required: true
          type: boolean
      responses:
        '204':
          description: Success
    get:
      description: Retrieves the <code>PublicAccessBlock</code> configuration for an Amazon S3 bucket.
      operationId: GetPublicAccessBlock
      parameters:
        - description: 'The name of the Amazon S3 bucket whose <code>PublicAccessBlock</code> configuration you want to retrieve. '
          in: path
          name: Bucket
          required: true
          type: string
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: publicAccessBlock
          required: true
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetPublicAccessBlockOutput'
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
    put:
      description: Creates or modifies the <code>PublicAccessBlock</code> configuration for an Amazon S3 bucket.
      operationId: PutPublicAccessBlock
      parameters:
        - description: The name of the Amazon S3 bucket whose <code>PublicAccessBlock</code> configuration you want to set.
          in: path
          name: Bucket
          required: true
          type: string
        - description: 'The MD5 hash of the <code>PutPublicAccessBlock</code> request body. '
          in: header
          name: Content-MD5
          required: false
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              PublicAccessBlockConfiguration:
                description: Specifies the Block Public Access configuration for an Amazon S3 bucket.
                properties:
                  BlockPublicAcls:
                    $ref: '#/definitions/Setting'
                    description: '<p>Specifies whether Amazon S3 should block public access control lists (ACLs) for this bucket and objects in this bucket. Setting this element to <code>TRUE</code> causes the following behavior:</p> <ul> <li> <p>PUT Bucket acl and PUT Object acl calls fail if the specified ACL is public.</p> </li> <li> <p>PUT Object calls fail if the request includes a public ACL.</p> </li> </ul> <p>Enabling this setting doesn''t affect existing policies or ACLs.</p>'
                  BlockPublicPolicy:
                    $ref: '#/definitions/Setting'
                    description: <p>Specifies whether Amazon S3 should block public bucket policies for this bucket. Setting this element to <code>TRUE</code> causes Amazon S3 to reject calls to PUT Bucket policy if the specified bucket policy allows public access. </p> <p>Enabling this setting doesn't affect existing bucket policies.</p>
                  IgnorePublicAcls:
                    $ref: '#/definitions/Setting'
                    description: <p>Specifies whether Amazon S3 should ignore public ACLs for this bucket and objects in this bucket. Setting this element to <code>TRUE</code> causes Amazon S3 to ignore all public ACLs on this bucket and objects in this bucket.</p> <p>Enabling this setting doesn't affect the persistence of any existing ACLs and doesn't prevent new public ACLs from being set.</p>
                  RestrictPublicBuckets:
                    $ref: '#/definitions/Setting'
                    description: '<p>Specifies whether Amazon S3 should restrict public bucket policies for this bucket. Setting this element to <code>TRUE</code> restricts access to this bucket to only AWS services and authorized users within this account if the bucket has a public policy.</p> <p>Enabling this setting doesn''t affect previously stored bucket policies, except that public and cross-account access within any public bucket policy, including non-public delegation to specific accounts, is blocked.</p>'
                type: object
            required:
              - PublicAccessBlockConfiguration
            type: object
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: publicAccessBlock
          required: true
          type: boolean
      responses:
        '200':
          description: Success
  '/{Bucket}#replication':
    delete:
      description: ' Deletes the replication configuration from the bucket. For information about replication configuration, see <a href="https://docs.aws.amazon.com/AmazonS3/latest/dev/crr.html">Cross-Region Replication (CRR)</a> in the <i>Amazon S3 Developer Guide</i>. '
      operationId: DeleteBucketReplication
      parameters:
        - description: <p> The bucket name. </p> <note> <p>It can take a while to propagate the deletion of a replication configuration to all Amazon S3 systems.</p> </note>
          in: path
          name: Bucket
          required: true
          type: string
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: replication
          required: true
          type: boolean
      responses:
        '204':
          description: Success
    get:
      description: '<p>Returns the replication configuration of a bucket.</p> <note> <p> It can take a while to propagate the put or delete a replication configuration to all Amazon S3 systems. Therefore, a get request soon after put or delete can return a wrong result. </p> </note>'
      operationId: GetBucketReplication
      parameters:
        - description: <p/>
          in: path
          name: Bucket
          required: true
          type: string
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: replication
          required: true
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketReplicationOutput'
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
    put:
      description: ' Creates a replication configuration or replaces an existing one. For more information, see <a href="https://docs.aws.amazon.com/AmazonS3/latest/dev/crr.html">Cross-Region Replication (CRR)</a> in the <i>Amazon S3 Developer Guide</i>. '
      operationId: PutBucketReplication
      parameters:
        - description: <p/>
          in: path
          name: Bucket
          required: true
          type: string
        - description: The base64-encoded 128-bit MD5 digest of the data. You must use this header as a message integrity check to verify that the request body was not corrupted in transit.
          in: header
          name: Content-MD5
          required: false
          type: string
        - description: A token that allows Amazon S3 object lock to be enabled for an existing bucket.
          in: header
          name: x-amz-bucket-object-lock-token
          required: false
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              ReplicationConfiguration:
                description: 'A container for replication rules. You can add up to 1,000 rules. The maximum size of a replication configuration is 2 MB.'
                properties:
                  Role:
                    $ref: '#/definitions/Role'
                    description: 'The Amazon Resource Name (ARN) of the AWS Identity and Access Management (IAM) role that Amazon S3 assumes when replicating objects. For more information, see <a href="https://docs.aws.amazon.com/AmazonS3/latest/dev/crr-how-setup.html">How to Set Up Cross-Region Replication</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.'
                  Rules:
                    $ref: '#/definitions/ReplicationRules'
                    description: 'A container for one or more replication rules. A replication configuration must have at least one rule and can contain a maximum of 1,000 rules. '
                type: object
            required:
              - ReplicationConfiguration
            type: object
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: replication
          required: true
          type: boolean
      responses:
        '200':
          description: Success
  '/{Bucket}#requestPayment':
    get:
      description: Returns the request payment configuration of a bucket.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTrequestPaymentGET.html'
      operationId: GetBucketRequestPayment
      parameters:
        - description: <p/>
          in: path
          name: Bucket
          required: true
          type: string
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: requestPayment
          required: true
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketRequestPaymentOutput'
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
    put:
      description: 'Sets the request payment configuration for a bucket. By default, the bucket owner pays for downloads from the bucket. This configuration parameter enables the bucket owner (only) to specify that the person requesting the download will be charged for the download. Documentation on requester pays buckets can be found at http://docs.aws.amazon.com/AmazonS3/latest/dev/RequesterPaysBuckets.html'
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTrequestPaymentPUT.html'
      operationId: PutBucketRequestPayment
      parameters:
        - description: <p/>
          in: path
          name: Bucket
          required: true
          type: string
        - description: <p/>
          in: header
          name: Content-MD5
          required: false
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              RequestPaymentConfiguration:
                description: <p/>
                properties:
                  Payer:
                    $ref: '#/definitions/Payer'
                    description: Specifies who pays for the download and request fees.
                type: object
            required:
              - RequestPaymentConfiguration
            type: object
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: requestPayment
          required: true
          type: boolean
      responses:
        '200':
          description: Success
  '/{Bucket}#tagging':
    delete:
      description: Deletes the tags from the bucket.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETEtagging.html'
      operationId: DeleteBucketTagging
      parameters:
        - description: <p/>
          in: path
          name: Bucket
          required: true
          type: string
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: tagging
          required: true
          type: boolean
      responses:
        '204':
          description: Success
    get:
      description: Returns the tag set associated with the bucket.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETtagging.html'
      operationId: GetBucketTagging
      parameters:
        - description: <p/>
          in: path
          name: Bucket
          required: true
          type: string
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: tagging
          required: true
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketTaggingOutput'
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
    put:
      description: Sets the tags for a bucket.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTtagging.html'
      operationId: PutBucketTagging
      parameters:
        - description: <p/>
          in: path
          name: Bucket
          required: true
          type: string
        - description: <p/>
          in: header
          name: Content-MD5
          required: false
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              Tagging:
                description: <p/>
                properties:
                  TagSet:
                    $ref: '#/definitions/TagSet'
                    description: <p/>
                type: object
            required:
              - Tagging
            type: object
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: tagging
          required: true
          type: boolean
      responses:
        '200':
          description: Success
  '/{Bucket}#uploads':
    get:
      description: This operation lists in-progress multipart uploads.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadListMPUpload.html'
      operationId: ListMultipartUploads
      parameters:
        - description: <p/>
          in: path
          name: Bucket
          required: true
          type: string
        - description: Character you use to group keys.
          in: query
          name: delimiter
          required: false
          type: string
        - description: 'Requests Amazon S3 to encode the object keys in the response and specifies the encoding method to use. An object key may contain any Unicode character; however, XML 1.0 parser cannot parse some characters, such as characters with an ASCII value from 0 to 10. For characters that are not supported in XML 1.0, you can add this parameter to request that Amazon S3 encode the keys in the response.'
          enum:
            - url
          in: query
          name: encoding-type
          required: false
          type: string
        - description: 'Together with upload-id-marker, this parameter specifies the multipart upload after which listing should begin.'
          in: query
          name: key-marker
          required: false
          type: string
        - description: 'Sets the maximum number of multipart uploads, from 1 to 1,000, to return in the response body. 1,000 is the maximum number of uploads that can be returned in a response.'
          in: query
          name: max-uploads
          required: false
          type: integer
        - description: Lists in-progress uploads only for those keys that begin with the specified prefix.
          in: query
          name: prefix
          required: false
          type: string
        - description: 'Together with key-marker, specifies the multipart upload after which listing should begin. If key-marker is not specified, the upload-id-marker parameter is ignored.'
          in: query
          name: upload-id-marker
          required: false
          type: string
        - description: Pagination limit
          in: query
          name: MaxUploads
          required: false
          type: string
        - description: Pagination token
          in: query
          name: KeyMarker
          required: false
          type: string
        - description: Pagination token
          in: query
          name: UploadIdMarker
          required: false
          type: string
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: uploads
          required: true
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListMultipartUploadsOutput'
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}#versioning':
    get:
      description: Returns the versioning state of a bucket.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETversioningStatus.html'
      operationId: GetBucketVersioning
      parameters:
        - description: <p/>
          in: path
          name: Bucket
          required: true
          type: string
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: versioning
          required: true
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketVersioningOutput'
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
    put:
      description: 'Sets the versioning state of an existing bucket. To set the versioning state, you must be the bucket owner.'
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTVersioningStatus.html'
      operationId: PutBucketVersioning
      parameters:
        - description: <p/>
          in: path
          name: Bucket
          required: true
          type: string
        - description: <p/>
          in: header
          name: Content-MD5
          required: false
          type: string
        - description: 'The concatenation of the authentication device''s serial number, a space, and the value that is displayed on your authentication device.'
          in: header
          name: x-amz-mfa
          required: false
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              VersioningConfiguration:
                description: 'Describes the versioning state of an Amazon S3 bucket. For more information, see <a href="https://docs.aws.amazon.com/AmazonS3/latest/API/RESTBucketPUTVersioningStatus.html">PUT Bucket versioning</a> in the <i>Amazon Simple Storage Service API Reference</i>.'
                properties:
                  MFADelete:
                    $ref: '#/definitions/MFADelete'
                    description: 'Specifies whether MFA delete is enabled in the bucket versioning configuration. This element is only returned if the bucket has been configured with MFA delete. If the bucket has never been so configured, this element is not returned.'
                  Status:
                    $ref: '#/definitions/BucketVersioningStatus'
                    description: The versioning state of the bucket.
                type: object
            required:
              - VersioningConfiguration
            type: object
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: versioning
          required: true
          type: boolean
      responses:
        '200':
          description: Success
  '/{Bucket}#versions':
    get:
      description: Returns metadata about all of the versions of objects in a bucket.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETVersion.html'
      operationId: ListObjectVersions
      parameters:
        - description: <p/>
          in: path
          name: Bucket
          required: true
          type: string
        - description: A delimiter is a character you use to group keys.
          in: query
          name: delimiter
          required: false
          type: string
        - description: 'Requests Amazon S3 to encode the object keys in the response and specifies the encoding method to use. An object key may contain any Unicode character; however, XML 1.0 parser cannot parse some characters, such as characters with an ASCII value from 0 to 10. For characters that are not supported in XML 1.0, you can add this parameter to request that Amazon S3 encode the keys in the response.'
          enum:
            - url
          in: query
          name: encoding-type
          required: false
          type: string
        - description: Specifies the key to start with when listing objects in a bucket.
          in: query
          name: key-marker
          required: false
          type: string
        - description: Sets the maximum number of keys returned in the response. The response might contain fewer keys but will never contain more.
          in: query
          name: max-keys
          required: false
          type: integer
        - description: Limits the response to keys that begin with the specified prefix.
          in: query
          name: prefix
          required: false
          type: string
        - description: Specifies the object version you want to start listing from.
          in: query
          name: version-id-marker
          required: false
          type: string
        - description: Pagination limit
          in: query
          name: MaxKeys
          required: false
          type: string
        - description: Pagination token
          in: query
          name: KeyMarker
          required: false
          type: string
        - description: Pagination token
          in: query
          name: VersionIdMarker
          required: false
          type: string
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: versions
          required: true
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListObjectVersionsOutput'
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
  '/{Bucket}#website':
    delete:
      description: This operation removes the website configuration from the bucket.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETEwebsite.html'
      operationId: DeleteBucketWebsite
      parameters:
        - description: <p/>
          in: path
          name: Bucket
          required: true
          type: string
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: website
          required: true
          type: boolean
      responses:
        '204':
          description: Success
    get:
      description: Returns the website configuration for a bucket.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETwebsite.html'
      operationId: GetBucketWebsite
      parameters:
        - description: <p/>
          in: path
          name: Bucket
          required: true
          type: string
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: website
          required: true
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBucketWebsiteOutput'
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
    put:
      description: Set the website configuration for a bucket.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTwebsite.html'
      operationId: PutBucketWebsite
      parameters:
        - description: <p/>
          in: path
          name: Bucket
          required: true
          type: string
        - description: <p/>
          in: header
          name: Content-MD5
          required: false
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              WebsiteConfiguration:
                description: Specifies website configuration parameters for an Amazon S3 bucket.
                properties:
                  ErrorDocument:
                    $ref: '#/definitions/ErrorDocument'
                    description: The name of the error document for the website.
                  IndexDocument:
                    $ref: '#/definitions/IndexDocument'
                    description: The name of the index document for the website.
                  RedirectAllRequestsTo:
                    $ref: '#/definitions/RedirectAllRequestsTo'
                    description: '<p>The redirect behavior for every request to this bucket''s website endpoint.</p> <important> <p>If you specify this property, you can''t specify any other property.</p> </important>'
                  RoutingRules:
                    $ref: '#/definitions/RoutingRules'
                    description: Rules that define when a redirect is applied and the redirect behavior.
                type: object
            required:
              - WebsiteConfiguration
            type: object
        - allowEmptyValue: true
          enum:
            - true
          in: query
          name: website
          required: true
          type: boolean
      responses:
        '200':
          description: Success
  '/{Bucket}/{Key}':
    delete:
      description: 'Removes the null version (if there is one) of an object and inserts a delete marker, which becomes the latest version of the object. If there isn''t a null version, Amazon S3 does not remove any objects.'
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectDELETE.html'
      operationId: DeleteObject
      parameters:
        - description: <p/>
          in: path
          name: Bucket
          required: true
          type: string
        - description: <p/>
          in: path
          minLength: 1
          name: Key
          required: true
          type: string
        - description: 'The concatenation of the authentication device''s serial number, a space, and the value that is displayed on your authentication device.'
          in: header
          name: x-amz-mfa
          required: false
          type: string
        - description: VersionId used to reference a specific version of the object.
          in: query
          name: versionId
          required: false
          type: string
        - description: 'Confirms that the requester knows that she or he will be charged for the request. Bucket owners need not specify this parameter in their requests. Documentation on downloading objects from requester pays buckets can be found at http://docs.aws.amazon.com/AmazonS3/latest/dev/ObjectsinRequesterPaysBuckets.html'
          enum:
            - requester
          in: header
          name: x-amz-request-payer
          required: false
          type: string
        - description: Indicates whether Amazon S3 object lock should bypass governance-mode restrictions to process this operation.
          in: header
          name: x-amz-bypass-governance-retention
          required: false
          type: boolean
      responses:
        '204':
          description: Success
          schema:
            $ref: '#/definitions/DeleteObjectOutput'
    get:
      description: Retrieves objects from Amazon S3.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectGET.html'
      operationId: GetObject
      parameters:
        - description: <p/>
          in: path
          name: Bucket
          required: true
          type: string
        - description: 'Return the object only if its entity tag (ETag) is the same as the one specified, otherwise return a 412 (precondition failed).'
          in: header
          name: If-Match
          required: false
          type: string
        - description: 'Return the object only if it has been modified since the specified time, otherwise return a 304 (not modified).'
          format: date-time
          in: header
          name: If-Modified-Since
          required: false
          type: string
        - description: 'Return the object only if its entity tag (ETag) is different from the one specified, otherwise return a 304 (not modified).'
          in: header
          name: If-None-Match
          required: false
          type: string
        - description: 'Return the object only if it has not been modified since the specified time, otherwise return a 412 (precondition failed).'
          format: date-time
          in: header
          name: If-Unmodified-Since
          required: false
          type: string
        - description: <p/>
          in: path
          minLength: 1
          name: Key
          required: true
          type: string
        - description: 'Downloads the specified range bytes of an object. For more information about the HTTP Range header, go to http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.35.'
          in: header
          name: Range
          required: false
          type: string
        - description: Sets the Cache-Control header of the response.
          in: query
          name: response-cache-control
          required: false
          type: string
        - description: Sets the Content-Disposition header of the response
          in: query
          name: response-content-disposition
          required: false
          type: string
        - description: Sets the Content-Encoding header of the response.
          in: query
          name: response-content-encoding
          required: false
          type: string
        - description: Sets the Content-Language header of the response.
          in: query
          name: response-content-language
          required: false
          type: string
        - description: Sets the Content-Type header of the response.
          in: query
          name: response-content-type
          required: false
          type: string
        - description: Sets the Expires header of the response.
          format: date-time
          in: query
          name: response-expires
          required: false
          type: string
        - description: VersionId used to reference a specific version of the object.
          in: query
          name: versionId
          required: false
          type: string
        - description: 'Specifies the algorithm to use to when encrypting the object (e.g., AES256).'
          in: header
          name: x-amz-server-side-encryption-customer-algorithm
          required: false
          type: string
        - description: Specifies the customer-provided encryption key for Amazon S3 to use in encrypting data. This value is used to store the object and then it is discarded; Amazon does not store the encryption key. The key must be appropriate for use with the algorithm specified in the x-amz-server-side​-encryption​-customer-algorithm header.
          format: password
          in: header
          name: x-amz-server-side-encryption-customer-key
          required: false
          type: string
        - description: Specifies the 128-bit MD5 digest of the encryption key according to RFC 1321. Amazon S3 uses this header for a message integrity check to ensure the encryption key was transmitted without error.
          in: header
          name: x-amz-server-side-encryption-customer-key-MD5
          required: false
          type: string
        - description: 'Confirms that the requester knows that she or he will be charged for the request. Bucket owners need not specify this parameter in their requests. Documentation on downloading objects from requester pays buckets can be found at http://docs.aws.amazon.com/AmazonS3/latest/dev/ObjectsinRequesterPaysBuckets.html'
          enum:
            - requester
          in: header
          name: x-amz-request-payer
          required: false
          type: string
        - description: 'Part number of the object being read. This is a positive integer between 1 and 10,000. Effectively performs a ''ranged'' GET request for the part specified. Useful for downloading just a part of an object.'
          in: query
          name: partNumber
          required: false
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetObjectOutput'
        '480':
          description: NoSuchKey
          schema:
            $ref: '#/definitions/NoSuchKey'
    head:
      description: 'The HEAD operation retrieves metadata from an object without returning the object itself. This operation is useful if you''re only interested in an object''s metadata. To use HEAD, you must have READ access to the object.'
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectHEAD.html'
      operationId: HeadObject
      parameters:
        - description: <p/>
          in: path
          name: Bucket
          required: true
          type: string
        - description: 'Return the object only if its entity tag (ETag) is the same as the one specified, otherwise return a 412 (precondition failed).'
          in: header
          name: If-Match
          required: false
          type: string
        - description: 'Return the object only if it has been modified since the specified time, otherwise return a 304 (not modified).'
          format: date-time
          in: header
          name: If-Modified-Since
          required: false
          type: string
        - description: 'Return the object only if its entity tag (ETag) is different from the one specified, otherwise return a 304 (not modified).'
          in: header
          name: If-None-Match
          required: false
          type: string
        - description: 'Return the object only if it has not been modified since the specified time, otherwise return a 412 (precondition failed).'
          format: date-time
          in: header
          name: If-Unmodified-Since
          required: false
          type: string
        - description: <p/>
          in: path
          minLength: 1
          name: Key
          required: true
          type: string
        - description: 'Downloads the specified range bytes of an object. For more information about the HTTP Range header, go to http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.35.'
          in: header
          name: Range
          required: false
          type: string
        - description: VersionId used to reference a specific version of the object.
          in: query
          name: versionId
          required: false
          type: string
        - description: 'Specifies the algorithm to use to when encrypting the object (e.g., AES256).'
          in: header
          name: x-amz-server-side-encryption-customer-algorithm
          required: false
          type: string
        - description: Specifies the customer-provided encryption key for Amazon S3 to use in encrypting data. This value is used to store the object and then it is discarded; Amazon does not store the encryption key. The key must be appropriate for use with the algorithm specified in the x-amz-server-side​-encryption​-customer-algorithm header.
          format: password
          in: header
          name: x-amz-server-side-encryption-customer-key
          required: false
          type: string
        - description: Specifies the 128-bit MD5 digest of the encryption key according to RFC 1321. Amazon S3 uses this header for a message integrity check to ensure the encryption key was transmitted without error.
          in: header
          name: x-amz-server-side-encryption-customer-key-MD5
          required: false
          type: string
        - description: 'Confirms that the requester knows that she or he will be charged for the request. Bucket owners need not specify this parameter in their requests. Documentation on downloading objects from requester pays buckets can be found at http://docs.aws.amazon.com/AmazonS3/latest/dev/ObjectsinRequesterPaysBuckets.html'
          enum:
            - requester
          in: header
          name: x-amz-request-payer
          required: false
          type: string
        - description: 'Part number of the object being read. This is a positive integer between 1 and 10,000. Effectively performs a ''ranged'' HEAD request for the part specified. Useful querying about the size of the part and the number of parts in this object.'
          in: query
          name: partNumber
          required: false
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/HeadObjectOutput'
        '480':
          description: NoSuchKey
          schema:
            $ref: '#/definitions/NoSuchKey'
    parameters:
      - $ref: '#/parameters/x-amz-security-token'
    put:
      description: Adds an object to a bucket.
      externalDocs:
        url: 'http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectPUT.html'
      operationId: PutObject
      parameters:
        - description: The canned ACL to apply to the object.
          enum:
            - private
            - public-read
            - public-read-write
            - authenticated-read
            - aws-exec-read
            - bucket-owner-read
            - bucket-owner-full-control
          in: header
          name: x-amz-acl
          required: false
          type: string
        - description: Name of the bucket to which the PUT operation was initiated.
          in: path
          name: Bucket
          required: true
          type: string
        - description: Specifies caching behavior along the request/reply chain.
          in: header
          name: Cache-Control
          required: false
          type: string
        - description: Specifies presentational information for the object.
          in: header
          name: Content-Disposition
          required: false
          type: string
[...]
