openapi: 3.0.0
servers:
  - url: http://api.sendgrid.com/v3
  - url: https://api.sendgrid.com/v3
info:
  description: |-
    # The SendGrid Web API V3 Documentation

    This is the entirety of the documented v3 endpoints. We have updated all the descriptions, parameters, requests, and responses.

    ## Authentication 

    Every endpoint requires Authentication in the form of an Authorization Header:

    Authorization: Bearer API_KEY
  title: SendGrid v3 API Documentation
  version: "3.0"
  x-apisguru-categories:
    - email
    - marketing
  x-logo:
    url: https://user-images.githubusercontent.com/21603/27865240-b4c0da22-6189-11e7-9f2c-f35f4c6fa57c.png
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/sendgrid/sendgrid-oai/main/oai.json
      version: "3.0"
  x-providerName: sendgrid.com
externalDocs:
  url: https://sendgrid.com/docs/API_Reference/Web_API_v3/index.html
paths:
  /access_settings/activity:
    get:
      description: |-
        **This endpoint allows you to retrieve a list of all of the IP addresses that recently attempted to access your account either through the User Interface or the API.**

        IP Access Management allows you to control which IP addresses can be used to access your account, either through the User Interface or the API. There is no limit to the number of IP addresses that you can add to your whitelist. It is possible to remove your own IP address from the whitelist, thus preventing yourself from accessing your account.

        For more information, please see our [User Guide](http://sendgrid.com/docs/User_Guide/Settings/ip_access_management.html).
      operationId: GET_access_settings-activity
      parameters:
        - description: Limits the number of IPs to return.
          in: query
          name: limit
          schema:
            default: 20
            type: integer
        - $ref: "#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of"
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    result:
                      - allowed: false
                        auth_method: basic
                        first_at: 1444087966
                        ip: 1.1.1.1
                        last_at: 1444406672
                        location: Australia
              schema:
                properties:
                  result:
                    items:
                      properties:
                        allowed:
                          type: boolean
                        auth_method:
                          type: string
                        first_at:
                          type: integer
                        ip:
                          type: string
                        last_at:
                          type: integer
                        location:
                          type: string
                      type: object
                    type: array
                type: object
          description: ""
      security:
        - Authorization: []
      summary: Retrieve all recent access attempts
      tags:
        - IP Access Management
  /access_settings/whitelist:
    delete:
      description: |-
        **This endpoint allows you to remove one or more IPs from your IP whitelist.**

        You can remove one IP at a time, or you can remove multiple IP addresses.

        IP Access Management allows you to control which IP addresses can be used to access your account, either through the User Interface or the API. There is no limit to the number of IP addresses that you can add to your whitelist. It is possible to remove your own IP address from the whitelist, thus preventing yourself from accessing your account.

        For more information, please see our [User Guide](http://sendgrid.com/docs/User_Guide/Settings/ip_access_management.html).
      operationId: DELETE_access_settings-whitelist
      parameters:
        - $ref: "#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of"
      requestBody:
        content:
          application/json:
            schema:
              example:
                ids:
                  - 1
                  - 2
                  - 3
              properties:
                ids:
                  description: An array of the IDs of the IP address that you want to remove from your whitelist.
                  items:
                    type: integer
                  type: array
              type: object
      responses:
        "204":
          content:
            application/json:
              schema:
                properties: {}
                type: object
          description: ""
      security:
        - Authorization: []
      summary: Remove one or more IPs from the whitelist
      tags:
        - IP Access Management
    get:
      description: |-
        **This endpoint allows you to retrieve a list of IP addresses that are currently whitelisted.**

        IP Access Management allows you to control which IP addresses can be used to access your account, either through the User Interface or the API. There is no limit to the number of IP addresses that you can add to your whitelist. It is possible to remove your own IP address from the whitelist, thus preventing yourself from accessing your account.

        For more information, please see our [User Guide](http://sendgrid.com/docs/User_Guide/Settings/ip_access_management.html).
      operationId: GET_access_settings-whitelist
      parameters:
        - $ref: "#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of"
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    result:
                      - created_at: 1441824715
                        id: 1
                        ip: 192.168.1.1/32
                        updated_at: 1441824715
                      - created_at: 1441824715
                        id: 2
                        ip: 192.168.1.2/32
                        updated_at: 1441824715
                      - created_at: 1441824715
                        id: 3
                        ip: 192.168.1.3/32
                        updated_at: 1441824715
              schema:
                properties:
                  result:
                    description: An array listing all of your whitelisted IPs.
                    items:
                      properties:
                        created_at:
                          description: A Unix timestamp indicating when the IP was whitelisted.
                          type: integer
                        id:
                          description: The ID of the whitelisted IP.
                          type: integer
                        ip:
                          description: The whitelisted IP.
                          type: string
                        updated_at:
                          description: A Unix timestamp indicating when the IPs whitelisting status was most recently updated.
                          type: integer
                      required:
                        - id
                        - ip
                        - created_at
                        - updated_at
                      type: object
                    type: array
                required:
                  - result
                type: object
          description: ""
      security:
        - Authorization: []
      summary: Retrieve a list of currently whitelisted IPs
      tags:
        - IP Access Management
    post:
      description: |-
        **This endpoint allows you to add one or more IP addresses to your IP whitelist.**

        When adding an IP to your whitelist, include the IP address in an array. You can whitelist one IP at a time, or you can whitelist multiple IPs at once.

        IP Access Management allows you to control which IP addresses can be used to access your account, either through the User Interface or the API. There is no limit to the number of IP addresses that you can add to your whitelist. It is possible to remove your own IP address from the whitelist, thus preventing yourself from accessing your account.

        For more information, please see our [User Guide](http://sendgrid.com/docs/User_Guide/Settings/ip_access_management.html).
      operationId: POST_access_settings-whitelist
      parameters:
        - $ref: "#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of"
      requestBody:
        content:
          application/json:
            schema:
              example:
                ips:
                  - ip: 192.168.1.1
                  - ip: 192.*.*.*
                  - ip: 192.168.1.3/32
              properties:
                ips:
                  description: An array containing the IP(s) you want to whitelist.
                  items:
                    properties:
                      ip:
                        description: An IP address that you want to whitelist.
                        type: string
                    required:
                      - ip
                    type: object
                  type: array
              required:
                - ips
              type: object
      responses:
        "201":
          content:
            application/json:
              examples:
                response:
                  value:
                    result:
                      - created_at: 1441824715
                        id: 1
                        ip: 192.168.1.1/32
                        updated_at: 1441824715
                      - created_at: 1441824715
                        id: 2
                        ip: 192.0.0.0/8
                        updated_at: 1441824715
                      - created_at: 1441824715
                        id: 3
                        ip: 192.168.1.3/32
                        updated_at: 1441824715
              schema:
                properties:
                  result:
                    description: An array listing all of your whitelisted IPs.
                    items:
                      properties:
                        created_at:
                          description: A Unix timestamp indicating when the IP was whitelisted.
                          type: integer
                        id:
                          description: The ID of the whitelisted IP.
                          type: integer
                        ip:
                          description: The whitelisted IP.
                          type: string
                        updated_at:
                          description: A Unix timestamp indicating when the IPs whitelisting status was most recently updated.
                          type: integer
                      required:
                        - id
                        - ip
                        - created_at
                        - updated_at
                      type: object
                    type: array
                required:
                  - result
                type: object
          description: ""
      security:
        - Authorization: []
      summary: Add one or more IPs to the whitelist
      tags:
        - IP Access Management
  "/access_settings/whitelist/{rule_id}":
    delete:
      description: |-
        **This endpoint allows you to remove a specific IP address from your IP whitelist.**

        When removing a specific IP address from your whitelist, you must include the ID in your call.

        IP Access Management allows you to control which IP addresses can be used to access your account, either through the User Interface or the API. There is no limit to the number of IP addresses that you can add to your whitelist. It is possible to remove your own IP address from the whitelist, thus preventing yourself from accessing your account.

        For more information, please see our [User Guide](http://sendgrid.com/docs/User_Guide/Settings/ip_access_management.html).
      operationId: DELETE_access_settings-whitelist-rule_id
      parameters:
        - $ref: "#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of"
      requestBody:
        $ref: "#/components/requestBodies/GET_alertsBody"
      responses:
        "204":
          content:
            "*/*":
              schema:
                properties: {}
                type: object
          description: ""
      security:
        - Authorization: []
      summary: Remove a specific IP from the whitelist
      tags:
        - IP Access Management
    get:
      description: |-
        **This endpoint allows you to retreive a specific IP address that has been whitelisted.**

        You must include the ID for the specific IP address you want to retrieve in your call.

        IP Access Management allows you to control which IP addresses can be used to access your account, either through the User Interface or the API. There is no limit to the number of IP addresses that you can add to your whitelist. It is possible to remove your own IP address from the whitelist, thus preventing yourself from accessing your account.

        For more information, please see our [User Guide](http://sendgrid.com/docs/User_Guide/Settings/ip_access_management.html).
      operationId: GET_access_settings-whitelist-rule_id
      parameters:
        - $ref: "#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of"
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    created_at: 1441824715
                    id: 1
                    ip: 192.168.1.1
                    updated_at: 1441824715
              schema:
                properties:
                  created_at:
                    description: A Unix timestamp indicating when the IP was whitelisted.
                    type: integer
                  id:
                    description: The ID of the IP address.
                    type: integer
                  ip:
                    description: The IP address.
                    type: string
                  updated_at:
                    description: A Unix timestamp indicating when the IP address was last updated.
                    type: integer
                required:
                  - id
                  - ip
                  - created_at
                  - updated_at
                type: object
          description: ""
      security:
        - Authorization: []
      summary: Retrieve a specific whitelisted IP
      tags:
        - IP Access Management
    parameters:
      - description: The ID of the whitelisted IP address that you want to retrieve.
        in: path
        name: rule_id
        required: true
        schema:
          type: string
  /alerts:
    get:
      description: |-
        **This endpoint allows you to retieve all of your alerts.**

        Alerts allow you to specify an email address to receive notifications regarding your email usage or statistics. 
        * Usage alerts allow you to set the threshold at which an alert will be sent.
        * Stats notifications allow you to set how frequently you would like to receive email statistics reports. For example, "daily", "weekly", or "monthly".

        For more information about alerts, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Settings/alerts.html).
      operationId: GET_alerts
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
        - $ref: "#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of"
      requestBody:
        $ref: "#/components/requestBodies/GET_alertsBody"
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    - created_at: 1451498784
                      email_to: example1@example.com
                      id: 46
                      percentage: 90
                      type: usage_limit
                      updated_at: 1451498784
                    - created_at: 1451498812
                      email_to: example2@example.com
                      frequency: monthly
                      id: 47
                      type: stats_notification
                      updated_at: 1451498812
                    - created_at: 1451520930
                      email_to: example3@example.com
                      frequency: daily
                      id: 48
                      type: stats_notification
                      updated_at: 1451520930
              schema:
                description: The list of alerts.
                items:
                  properties:
                    created_at:
                      description: A Unix timestamp indicating when the alert was created.
                      type: integer
                    email_to:
                      description: The email address that the alert will be sent to.
                      type: string
                    frequency:
                      description: If the alert is of type stats_notification, this indicates how frequently the stats notifications will be sent. For example, "daily", "weekly", or "monthly".
                      type: string
                    id:
                      description: The ID of the alert.
                      type: integer
                    percentage:
                      description: If the alert is of type usage_limit, this indicates the percentage of email usage that must be reached before the alert will be sent.
                      type: integer
                    type:
                      description: The type of alert.
                      enum:
                        - usage_limit
                        - stats_notification
                      type: string
                    updated_at:
                      description: A Unix timestamp indicating when the alert was last modified.
                      type: integer
                  required:
                    - created_at
                    - email_to
                    - id
                    - type
                  type: object
                type: array
          description: ""
      security:
        - Authorization: []
      summary: Retrieve all alerts
      tags:
        - Alerts
    post:
      description: |-
        **This endpoint allows you to create a new alert.**

        Alerts allow you to specify an email address to receive notifications regarding your email usage or statistics. There are two types of alerts that can be created with this endpoint:

        * `usage_limit` allows you to set the threshold at which an alert will be sent.
        * `stats_notification` allows you to set how frequently you would like to receive email statistics reports. For example, "daily", "weekly", or "monthly".

        For more information about alerts, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Settings/alerts.html).
      operationId: POST_alerts
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
        - in: header
          name: on-behalf-of
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                email_to: example@example.com
                frequency: daily
                type: stats_notification
              properties:
                email_to:
                  description: |-
                    The email address the alert will be sent to.
                    Example: test@example.com
                  nullable: true
                  type: string
                frequency:
                  description: |-
                    Required for stats_notification. How frequently the alert will be sent.
                    Example: daily
                  type: string
                percentage:
                  description: |-
                    Required for usage_alert. When this usage threshold is reached, the alert will be sent.
                    Example: 90
                  type: integer
                type:
                  description: |-
                    The type of alert you want to create. Can be either usage_limit or stats_notification.
                    Example: usage_limit
                  enum:
                    - stats_notification
                    - usage_limit
                  type: string
              required:
                - type
                - email_to
              type: object
      responses:
        "201":
          content:
            application/json:
              examples:
                response:
                  value:
                    created_at: 1451520930
                    email_to: test@example.com
                    frequency: daily
                    id: 48
                    type: stats_notification
                    updated_at: 1451520930
              schema:
                properties:
                  created_at:
                    description: A Unix timestamp indicating when the alert was created.
                    type: integer
                  email_to:
                    description: The email address that the alert will be sent to.
                    type: string
                  frequency:
                    description: If the alert is of type stats_notification, this indicates how frequently the stats notifications will be sent. For example, "daily", "weekly", or "monthly".
                    type: string
                  id:
                    description: The ID of the alert.
                    type: integer
                  percentage:
                    description: '"If the alert is of type usage_limit, this indicates the percentage of email usage that must be reached before the alert will be sent.'
                    type: integer
                  type:
                    description: The type of alert.
                    type: string
                  updated_at:
                    description: A Unix timestamp indicating when the alert was last modified.
                    type: integer
                required:
                  - created_at
                  - email_to
                  - id
                  - type
                  - updated_at
                type: object
          description: ""
        "400":
          content:
            application/json:
              schema:
                properties:
                  field:
                    type: string
                  message:
                    type: string
                type: object
          description: ""
      security:
        - Authorization: []
      summary: Create a new Alert
      tags:
        - Alerts
  "/alerts/{alert_id}":
    delete:
      description: |-
        **This endpoint allows you to delete an alert.**

        Alerts allow you to specify an email address to receive notifications regarding your email usage or statistics. 
        * Usage alerts allow you to set the threshold at which an alert will be sent.
        * Stats notifications allow you to set how frequently you would like to receive email statistics reports. For example, "daily", "weekly", or "monthly".

        For more information about alerts, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Settings/alerts.html).
      operationId: DELETE_alerts-alert_id
      parameters:
        - $ref: "#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of"
      responses:
        "204":
          content:
            "*/*":
              schema:
                properties: {}
                type: object
          description: ""
      security:
        - Authorization: []
      summary: Delete an alert
      tags:
        - Alerts
    get:
      description: |-
        **This endpoint allows you to retrieve a specific alert.**

        Alerts allow you to specify an email address to receive notifications regarding your email usage or statistics. 
        * Usage alerts allow you to set the threshold at which an alert will be sent.
        * Stats notifications allow you to set how frequently you would like to receive email statistics reports. For example, "daily", "weekly", or "monthly".

        For more information about alerts, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Settings/alerts.html).
      operationId: GET_alerts-alert_id
      parameters:
        - in: header
          name: Authorization
          schema:
            type: string
        - $ref: "#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of"
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    created_at: 1451520930
                    email_to: example@example.com
                    frequency: daily
                    id: 48
                    type: stats_notification
                    updated_at: 1451520930
              schema:
                properties:
                  created_at:
                    description: A Unix timestamp indicating when the alert was created.
                    type: integer
                  email_to:
                    description: The email address that the alert will be sent to.
                    type: string
                  frequency:
                    description: 'If the alert is of type stats_notification, this indicates how frequently the stats notifications will be sent. For example: "daily", "weekly", or "monthly".'
                    type: string
                  id:
                    description: The ID of the alert.
                    type: integer
                  percentage:
                    description: If the alert is of type usage_limit, this indicates the percentage of email usage that must be reached before the alert will be sent.
                    type: integer
                  type:
                    description: The type of alert.
                    enum:
                      - usage_alert
                      - stats_notification
                    type: string
                  updated_at:
                    description: A Unix timestamp indicating when the alert was last modified.
                    type: integer
                required:
                  - created_at
                  - email_to
                  - id
                  - type
                  - updated_at
                type: object
          description: ""
      security:
        - Authorization: []
      summary: Retrieve a specific alert
      tags:
        - Alerts
    parameters:
      - description: The ID of the alert you would like to retrieve.
        in: path
        name: alert_id
        required: true
        schema:
          type: integer
    patch:
      description: |-
        **This endpoint allows you to update an alert.**

        Alerts allow you to specify an email address to receive notifications regarding your email usage or statistics. 
        * Usage alerts allow you to set the threshold at which an alert will be sent.
        * Stats notifications allow you to set how frequently you would like to receive email statistics reports. For example, "daily", "weekly", or "monthly".

        For more information about alerts, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Settings/alerts.html).
      operationId: PATCH_alerts-alert_id
      parameters:
        - $ref: "#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of"
      requestBody:
        content:
          application/json:
            schema:
              example:
                email_to: example@example.com
              properties:
                email_to:
                  description: |-
                    The new email address you want your alert to be sent to.
                    Example: test@example.com
                  type: string
                frequency:
                  description: |-
                    The new frequency at which to send the stats_notification alert.
                    Example: monthly
                  type: string
                percentage:
                  description: |-
                    The new percentage threshold at which the usage_limit alert will be sent.
                    Example: 90
                  type: integer
              type: object
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    created_at: 1451520930
                    email_to: example@example.com
                    frequency: daily
                    id: 48
                    type: stats_notification
                    updated_at: 1451522691
              schema:
                properties:
                  created_at:
                    description: A Unix timestamp indicating when the alert was created.
                    type: integer
                  email_to:
                    description: The email address that the alert will be sent to.
                    type: string
                  frequency:
                    description: 'If the alert is of type stats_notification, this indicates how frequently the stats notifications will be sent. For example: "daily", "weekly", or "monthly".'
                    type: string
                  id:
                    description: The ID of the alert.
                    type: integer
                  percentage:
                    description: If the alert is of type usage_limit, this indicates the percentage of email usage that must be reached before the alert will be sent.
                    type: integer
                  type:
                    description: The type of alert.
                    enum:
                      - usage_alert
                      - stats_notification
                    type: string
                  updated_at:
                    description: A Unix timestamp indicating when the alert was last modified.
                    type: integer
                required:
                  - created_at
                  - email_to
                  - id
                  - type
                  - updated_at
                type: object
          description: ""
      security:
        - Authorization: []
      summary: Update an alert
      tags:
        - Alerts
  /api_keys:
    get:
      description: |-
        **This endpoint allows you to retrieve all API Keys that belong to the authenticated user.**

        The API Keys feature allows customers to be able to generate an API Key credential which can be used for authentication with the SendGrid v3 Web API or the [Mail API Endpoint](https://sendgrid.com/docs/API_Reference/Web_API/mail.html).
      operationId: GET_api_keys
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
        - $ref: "#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of"
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    result:
                      - api_key_id: some-apikey-id
                        name: API Key Name
                      - api_key_id: another-apikey-id
                        name: API Key Name 2
              schema:
                properties:
                  result:
                    items:
                      $ref: "#/components/schemas/api_key_name_id"
                    type: array
                type: object
          description: ""
        "401":
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                      - field:
                          $ref: "#/components/schemas/credentials/example/address2"
                        message: authorization required
              schema:
                $ref: "#/components/schemas/global_ErrorResponse"
          description: ""
      security:
        - Authorization: []
      summary: Retrieve all API Keys belonging to the authenticated user
      tags:
        - API Keys
    post:
      description: |-
        **This endpoint allows you to create a new random API Key for the user.**

        A JSON request body containing a "name" property is required. If number of maximum keys is reached, HTTP 403 will be returned.

        There is a limit of 100 API Keys on your account.

        The API Keys feature allows customers to be able to generate an API Key credential which can be used for authentication with the SendGrid v3 Web API or the [Mail API Endpoint](https://sendgrid.com/docs/API_Reference/Web_API/mail.html).

        See the [API Key Permissions List](https://sendgrid.com/docs/API_Reference/Web_API_v3/API_Keys/api_key_permissions_list.html) for a list of all available scopes.
      operationId: create-api-keys
      parameters:
        - $ref: "#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of"
      requestBody:
        content:
          application/json:
            schema:
              example:
                name: My API Key
                sample: data
                scopes:
                  - mail.send
                  - alerts.create
                  - alerts.read
              properties:
                name:
                  description: The name you will use to describe this API Key.
                  type: string
                sample:
                  type: string
                scopes:
                  description: The individual permissions that you are giving to this API Key.
                  items:
                    type: string
                  type: array
              required:
                - name
              type: object
      responses:
        "201":
          content:
            application/json:
              examples:
                response:
                  value:
                    api_key: SG.xxxxxxxx.yyyyyyyy
                    api_key_id: xxxxxxxx
                    name: My API Key
                    scopes:
                      - mail.send
                      - alerts.create
                      - alerts.read
              schema:
                properties:
                  api_key:
                    type: string
                  api_key_id:
                    type: string
                  name:
                    type: string
                  scopes:
                    items:
                      type: string
                    type: array
                type: object
          description: ""
        "400":
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                      - field: name
                        message: missing required argument
              schema:
                $ref: "#/components/schemas/global_ErrorResponse"
          description: ""
        "401":
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                      - field:
                          $ref: "#/components/schemas/credentials/example/address2"
                        message: authorization required
              schema:
                $ref: "#/components/schemas/global_ErrorResponse"
          description: ""
        "403":
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                      - field:
                          $ref: "#/components/schemas/credentials/example/address2"
                        message: Cannot create more than 100 API Keys
              schema:
                $ref: "#/components/schemas/global_ErrorResponse"
          description: ""
      security:
        - Authorization: []
      summary: Create API keys
      tags:
        - API Keys
  "/api_keys/{api_key_id}":
    delete:
      description: |-
        **This endpoint allows you to revoke an existing API Key**

        Authentications using this API Key will fail after this request is made, with some small propogation delay.If the API Key ID does not exist an HTTP 404 will be returned.

        The API Keys feature allows customers to be able to generate an API Key credential which can be used for authentication with the SendGrid v3 Web API or the [Mail API Endpoint](https://sendgrid.com/docs/API_Reference/Web_API/mail.html).

        ## URI Parameters

        | URI Parameter   | Type  | Required?  | Description  |
        |---|---|---|---|
        |api_key_id |string | required | The ID of the API Key you are deleting.|
      operationId: DELETE_api_keys-api_key_id
      parameters:
        - $ref: "#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of"
      responses:
        "204":
          content:
            application/json:
              examples:
                response:
                  value:
                    $ref: "#/components/schemas/credentials/example/address2"
              schema:
                nullable: true
          description: ""
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                      - field:
                          $ref: "#/components/schemas/credentials/example/address2"
                        message: unable to find API Key
              schema:
                $ref: "#/components/schemas/global_ErrorResponse"
          description: ""
      security:
        - Authorization: []
      summary: Delete API keys
      tags:
        - API Keys
    get:
      description: |-
        **This endpoint allows you to retrieve a single api key.**

        If the API Key ID does not exist an HTTP 404 will be returned.
      operationId: GET_api_keys-api_key_id
      parameters:
        - $ref: "#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of"
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    result:
                      - api_key_id: some-apikey-id
                        name: API Key Name
                      - api_key_id: another-apikey-id
                        name: API Key Name 2
              schema:
                properties:
                  result:
                    items:
                      $ref: "#/components/schemas/api_key_name_id_scopes"
                    type: array
                type: object
          description: ""
        "401":
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                      - field:
                          $ref: "#/components/schemas/credentials/example/address2"
                        message: authorization required
              schema:
                $ref: "#/components/schemas/global_ErrorResponse"
          description: ""
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                      - field:
                          $ref: "#/components/schemas/credentials/example/address2"
                        message: unable to find API Key
              schema:
                type: object
          description: Unexpected error in API call. See HTTP response body for details.
      security:
        - Authorization: []
      summary: Retrieve an existing API Key
      tags:
        - API Keys
    parameters:
      - description: The ID of the API Key for which you are requesting information.
        in: path
        name: api_key_id
        required: true
        schema:
          type: string
    patch:
      description: |-
        **This endpoint allows you to update the name of an existing API Key.**

        A JSON request body with a "name" property is required.

        The API Keys feature allows customers to be able to generate an API Key credential which can be used for authentication with the SendGrid v3 Web API or the [Mail API Endpoint](https://sendgrid.com/docs/API_Reference/Web_API/mail.html).

        ## URI Parameters

        | URI Parameter   | Type  | Required?  | Description  |
        |---|---|---|---|
        |api_key_id |string | required | The ID of the API Key you are updating.|
      operationId: PATCH_api_keys-api_key_id
      parameters:
        - $ref: "#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of"
      requestBody:
        content:
          application/json:
            schema:
              example:
                name: A New Hope
              properties:
                name:
                  description: The new name of the API Key.
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    api_key_id: qfTQ6KG0QBiwWdJ0-pCLCA
                    name: A New Hope
              schema:
                $ref: "#/components/schemas/api_key_name_id"
          description: ""
        "401":
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                      - field:
                          $ref: "#/components/schemas/credentials/example/address2"
                        message: authorization required
              schema:
                $ref: "#/components/schemas/global_ErrorResponse"
          description: ""
      security:
        - Authorization: []
      summary: Update API keys
      tags:
        - API Keys
    put:
      description: |-
        **This endpoint allows you to update the name and scopes of a given API key.**

        A JSON request body with a "name" property is required.
        Most provide the list of all the scopes an api key should have.

        The API Keys feature allows customers to be able to generate an API Key credential which can be used for authentication with the SendGrid v3 Web API or the [Mail API Endpoint](https://sendgrid.com/docs/API_Reference/Web_API/mail.html).
      operationId: PUT_api_keys-api_key_id
      parameters:
        - $ref: "#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of"
      requestBody:
        content:
          application/json:
            schema:
              example:
                name: A New Hope
                scopes:
                  - user.profile.read
                  - user.profile.update
              properties:
                name:
                  type: string
                scopes:
                  items:
                    type: string
                  type: array
              type: object
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    api_key_id: qfTQ6KG0QBiwWdJ0-pCLCA
                    name: A New Hope
                    scopes:
                      - user.profile.read
                      - user.profile.update
              schema:
                $ref: "#/components/schemas/api_key_name_id_scopes"
          description: ""
        "400":
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                      - field:
                          $ref: "#/components/schemas/credentials/example/address2"
                        message: expected JSON request body with 'name' property
              schema:
                $ref: "#/components/schemas/global_ErrorResponse"
          description: Unexpected error in API call. See HTTP response body for details.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: ""
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                      - field:
                          $ref: "#/components/schemas/credentials/example/address2"
                        message: unable to find API Key to update
              schema:
                $ref: "#/components/schemas/global_ErrorResponse"
          description: Unexpected error in API call. See HTTP response body for details.
      security:
        - Authorization: []
      summary: Update the name & scopes of an API Key
      tags:
        - API Keys
  /asm/groups:
    get:
      description: |-
        **This endpoint allows you to retrieve information about multiple suppression groups.**

        This endpoint will return information for each group ID that you include in your request. To add a group ID to your request, simply append `&id=` followed by the group ID.

        Suppressions are a list of email addresses that will not receive content sent under a given [group](https://sendgrid.com/docs/API_Reference/Web_API_v3/Suppression_Management/groups.html).

        Suppression groups, or [unsubscribe groups](https://sendgrid.com/docs/API_Reference/Web_API_v3/Suppression_Management/groups.html), allow you to label a category of content that you regularly send. This gives your recipients the ability to opt out of a specific set of your email. For example, you might define a group for your transactional email, and one for your marketing email so that your users can continue recieving your transactional email witout having to receive your marketing content.
      operationId: GET_asm-groups
      parameters:
        - description: The ID of a suppression group that you want to retrieve information for.
          in: query
          name: id
          schema:
            type: integer
        - $ref: "#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of"
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    - description: Our monthly newsletter.
                      id: 100
                      is_default: true
                      last_email_sent_at:
                        $ref: "#/components/schemas/credentials/example/address2"
                      name: Newsletters
                      unsubscribes: 400
                    - description: Emails triggered by user-defined rules.
                      id: 101
                      is_default: false
                      last_email_sent_at:
                        $ref: "#/components/schemas/credentials/example/address2"
                      name: Alerts
                      unsubscribes: 1
              schema:
                items:
                  $ref: "#/components/schemas/suppression_group"
                type: array
          description: ""
      security:
        - Authorization: []
      summary: Retrieve information about multiple suppression groups
      tags:
        - Suppressions - Unsubscribe Groups
    post:
      description: |-
        **This endpoint allows you to create a new suppression group.**

        Suppression groups, or unsubscribe groups, are specific types or categories of email that you would like your recipients to be able to unsubscribe from. For example: Daily Newsletters, Invoices, System Alerts.

        The **name** and **description** of the unsubscribe group will be visible by recipients when they are managing their subscriptions.

        Each user can create up to 25 different suppression groups.
      operationId: POST_asm-groups
      parameters:
        - $ref: "#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of"
      requestBody:
        content:
          application/json:
            schema:
              example:
                description: Suggestions for products our users might like.
                is_default: true
                name: Product Suggestions
              properties:
                description:
                  description: A brief description of your new suppression group.
                  maxLength: 100
                  type: string
                is_default:
                  description: Indicates if you would like this to be your default suppression group.
                  type: boolean
                name:
                  description: The name that you would like to use for your new suppression group.
                  maxLength: 30
                  type: string
              required:
                - name
                - description
              type: object
      responses:
        "201":
          content:
            application/json:
              examples:
                response:
                  value:
                    description: Suggestions for products our users might like.
                    id: 103
                    is_default: false
                    name: Product Suggestions
              schema:
                properties:
                  description:
                    description: A brief description of the suppression group.
                    type: string
                  id:
                    description: The ID of the suppression group.
                    type: integer
                  is_default:
                    description: Indicates if this is the default suppression group.
                    type: boolean
                  name:
                    description: The name of the suppression group.
                    type: string
                required:
                  - id
                  - name
                  - description
                  - is_default
                type: object
          description: ""
      security:
        - Authorization: []
      summary: Create a new suppression group
      tags:
        - Suppressions - Unsubscribe Groups
  "/asm/groups/{group_id}":
    delete:
      description: |-
        **This endpoint allows you to delete a suppression group.**

        You can only delete groups that have not been attached to sent mail in the last 60 days. If a recipient uses the "one-click unsubscribe" option on an email associated with a deleted group, that recipient will be added to the global suppression list.

        Suppression groups, or unsubscribe groups, are specific types or categories of email that you would like your recipients to be able to unsubscribe from. For example: Daily Newsletters, Invoices, System Alerts.

        The **name** and **description** of the unsubscribe group will be visible by recipients when they are managing their subscriptions.

        Each user can create up to 25 different suppression groups.
      operationId: DELETE_asm-groups-group_id
      parameters:
        - $ref: "#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of"
      requestBody:
        $ref: "#/components/requestBodies/GET_alertsBody"
      responses:
        "204":
          content:
            application/json:
              schema:
                type: object
          description: ""
      security:
        - Authorization: []
      summary: Delete a suppression group.
      tags:
        - Suppressions - Unsubscribe Groups
    get:
      description: |-
        **This endpoint allows you to retrieve a single suppression group.**

        Suppression groups, or unsubscribe groups, are specific types or categories of email that you would like your recipients to be able to unsubscribe from. For example: Daily Newsletters, Invoices, System Alerts.

        The **name** and **description** of the unsubscribe group will be visible by recipients when they are managing their subscriptions.

        Each user can create up to 25 different suppression groups.
      operationId: GET_asm-groups-group_id
      parameters:
        - $ref: "#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of"
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    description: Our monthly newsletter.
                    id: 100
                    is_default: true
                    last_email_sent_at:
                      $ref: "#/components/schemas/credentials/example/address2"
                    name: Newsletters
                    unsubscribes: 400
              schema:
                properties:
                  description:
                    description: The description of the suppression group.
                    type: string
                  id:
                    description: The ID of the suppression group.
                    type: integer
                  is_default:
                    description: Indicates if this is the default suppression group.
                    type: boolean
                  last_email_sent_at:
                    description: A unix timestamp indicating the last time this group was assigned to an email.
                    nullable: true
                  name:
                    description: The name of the suppression group.
                    type: string
                  unsubscribes:
                    description: The number of unsubscribes, or suppressions, in this group.
                    type: integer
                type: object
          description: ""
      security:
        - Authorization: []
      summary: Get information on a single suppression group.
      tags:
        - Suppressions - Unsubscribe Groups
    parameters:
      - description: The ID of the suppression group you would like to retrieve.
        in: path
        name: group_id
        required: true
        schema:
          type: string
    patch:
      description: |-
        **This endpoint allows you to update or change a suppression group.**

        Suppression groups, or unsubscribe groups, are specific types or categories of email that you would like your recipients to be able to unsubscribe from. For example: Daily Newsletters, Invoices, System Alerts.

        The **name** and **description** of the unsubscribe group will be visible by recipients when they are managing their subscriptions.

        Each user can create up to 25 different suppression groups.
      operationId: PATCH_asm-groups-group_id
      parameters:
        - $ref: "#/components/parameters/trait_authorizationHeader_Authorization"
        - $ref: "#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of"
      requestBody:
        content:
          application/json:
            schema:
              example:
                description: Suggestions for items our users might like.
                id: 103
                name: Item Suggestions
              properties:
                description:
                  description: The description of the suppression group.
                  maxLength: 100
                  type: string
                id:
                  description: The id of the suppression group.
                  type: integer
                is_default:
                  description: Indicates if the suppression group is set as the default group.
                  type: boolean
                name:
                  description: The name of the suppression group. Each group created by a user must have a unique name.
                  maxLength: 30
                  type: string
              required:
                - name
              type: object
      responses:
        "201":
          content:
            application/json:
              examples:
                response:
                  value:
                    description: Suggestions for items our users might like.
                    id: 103
                    name: Item Suggestions
              schema:
                $ref: "#/components/schemas/suppression_group"
          description: ""
      summary: Update a suppression group.
      tags:
        - Suppressions - Unsubscribe Groups
  "/asm/groups/{group_id}/suppressions":
    get:
      description: |-
        **This endpoint allows you to retrieve all suppressed email addresses belonging to the given group.**

        Suppressions are recipient email addresses that are added to [unsubscribe groups](https://sendgrid.com/docs/API_Reference/Web_API_v3/Suppression_Management/groups.html). Once a recipient's address is on the suppressions list for an unsubscribe group, they will not receive any emails that are tagged with that unsubscribe group.
      operationId: GET_asm-groups-group_id-suppressions
      parameters:
        - $ref: "#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of"
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    - example@example.com
                    - example2@example.com
              schema:
                description: The list of email addresses belonging to the given suppression group.
                items:
                  type: string
                type: array
          description: ""
      security:
        - Authorization: []
      summary: Retrieve all suppressions for a suppression group
      tags:
        - Suppressions - Suppressions
    parameters:
      - description: The id of the unsubscribe group that you are adding suppressions to.
        in: path
        name: group_id
        required: true
        schema:
          type: string
    post:
      description: |-
        **This endpoint allows you to add email addresses to an unsubscribe group.**

        If you attempt to add suppressions to a group that has been deleted or does not exist, the suppressions will be added to the global suppressions list.

        Suppressions are recipient email addresses that are added to [unsubscribe groups](https://sendgrid.com/docs/API_Reference/Web_API_v3/Suppression_Management/groups.html). Once a recipient's address is on the suppressions list for an unsubscribe group, they will not receive any emails that are tagged with that unsubscribe group.
      operationId: POST_asm-groups-group_id-suppressions
      parameters:
        - $ref: "#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of"
      requestBody:
        content:
          application/json:
            schema:
              example:
                recipient_emails:
                  - test1@example.com
                  - test2@example.com
              properties:
                recipient_emails:
                  description: The email address that you want to add to the unsubscribe group.
                  items:
                    type: string
                  type: array
              required:
                - recipient_emails
              type: object
      responses:
        "201":
          content:
            application/json:
              examples:
                response:
                  value:
                    recipient_emails:
                      - test1@example.com
                      - test2@example.com
              schema:
                properties:
                  recipient_emails:
                    description: The email address that were added to the suppressions list.
                    items:
                      type: string
                    type: array
                required:
                  - recipient_emails
                type: object
          description: ""
      security:
        - Authorization: []
      summary: Add suppressions to a suppression group
      tags:
        - Suppressions - Suppressions
  "/asm/groups/{group_id}/suppressions/search":
    parameters:
      - description: The ID of the suppression group that you would like to search.
        in: path
        name: group_id
        required: true
        schema:
          type: string
    post:
      description: |-
        **This endpoint allows you to search a suppression group for multiple suppressions.**

        When given a list of email addresses and a group ID, this endpoint will return only the email addresses that have been unsubscribed from the given group.

        Suppressions are a list of email addresses that will not receive content sent under a given [group](https://sendgrid.com/docs/API_Reference/Web_API_v3/Suppression_Management/groups.html).
      operationId: POST_asm-groups-group_id-suppressions-search
      parameters:
        - $ref: "#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of"
      requestBody:
        content:
          application/json:
            schema:
              example:
                recipient_emails:
                  - exists1@example.com
                  - exists2@example.com
                  - doesnotexists@example.com
              properties:
                recipient_emails:
                  description: The list of email address that you want to search the suppression group for.
                  items:
                    type: string
                  type: array
              required:
                - recipient_emails
              type: object
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    recipient_emails:
                      - exists1@example.com
                      - exists2@example.com
              schema:
                properties:
                  recipient_emails:
                    description: The email address from your search that do exist in the suppression group.
                    items:
                      type: string
                    type: array
                required:
                  - recipient_emails
                type: object
          description: ""
      security:
        - Authorization: []
      summary: Search for suppressions within a group
      tags:
        - Suppressions - Suppressions
  "/asm/groups/{group_id}/suppressions/{email}":
    delete:
      description: |-
        **This endpoint allows you to remove a suppressed email address from the given suppression group.**

        Suppressions are recipient email addresses that are added to [unsubscribe groups](https://sendgrid.com/docs/API_Reference/Web_API_v3/Suppression_Management/groups.html). Once a recipient's address is on the suppressions list for an unsubscribe group, they will not receive any emails that are tagged with that unsubscribe group.
      operationId: DELETE_asm-groups-group_id-suppressions-email
      parameters:
        - $ref: "#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of"
      requestBody:
        $ref: "#/components/requestBodies/GET_alertsBody"
      responses:
        "204":
          content:
            "*/*":
              schema:
                nullable: true
          description: ""
      security:
        - Authorization: []
      summary: Delete a suppression from a suppression group
      tags:
        - Suppressions - Suppressions
    parameters:
      - description: The id of the suppression group that you are removing an email address from.
        in: path
        name: group_id
        required: true
        schema:
          type: string
      - description: The email address that you want to remove from the suppression group.
        in: path
        name: email
        required: true
        schema:
          type: string
  /asm/suppressions:
    get:
      description: |-
        **This endpoint allows you to retrieve a list of all suppressions.**

        Suppressions are a list of email addresses that will not receive content sent under a given [group](https://sendgrid.com/docs/API_Reference/Web_API_v3/Suppression_Management/groups.html).
      operationId: GET_asm-suppressions
      parameters:
        - $ref: "#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of"
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    - created_at: 1410986704
                      email: test1@example.com
                      group_id: 1
                      group_name: Weekly News
                    - created_at: 1411493671
                      email: test1@example.com
                      group_id: 2
                      group_name: Daily News
                    - created_at: 1411493671
                      email: test2@example.com
                      group_id: 2
                      group_name: Daily News
              schema:
                items:
                  properties:
                    created_at:
                      description: A UNIX timestamp indicating when the suppression was created.
                      type: integer
                    email:
                      description: The email address that was suppressed.
                      type: string
                    group_id:
                      description: The id of the suppression group that this email address belongs to.
                      type: integer
                    group_name:
                      description: The name of the suppression group that this email address belongs to.
                      type: string
                  required:
                    - email
                    - group_id
                    - group_name
                    - created_at
                  type: object
                type: array
          description: ""
      security:
        - Authorization: []
      summary: Retrieve all suppressions
      tags:
        - Suppressions - Suppressions
  /asm/suppressions/global:
    post:
      description: |-
        **This endpoint allows you to add one or more email addresses to the global suppressions group.**

        A global suppression (or global unsubscribe) is an email address of a recipient who does not want to receive any of your messages. A globally suppressed recipient will be removed from any email you send. For more information, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Suppressions/global_unsubscribes.html).
      operationId: POST_asm-suppressions-global
      parameters:
        - $ref: "#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of"
      requestBody:
        content:
          application/json:
            schema:
              example:
                recipient_emails:
                  - test1@example.com
                  - test2@example.com
              properties:
                recipient_emails:
                  description: The email address, or addresses, that you want to add to the global suppressions group.
                  items:
                    type: string
                  type: array
              type: object
      responses:
        "201":
          content:
            application/json:
              examples:
                response:
                  value:
                    recipient_emails:
                      - test1@example.com
                      - test2@example.com
              schema:
                properties:
                  recipient_emails:
                    description: The email addresses that are globally suppressed
                    items:
                      type: string
                    type: array
                required:
                  - recipient_emails
                type: object
          description: ""
      security:
        - Authorization: []
      summary: Add recipient addresses to the global suppression group.
      tags:
        - Suppressions - Global Suppressions
  "/asm/suppressions/global/{email}":
    delete:
      description: |-
        **This endpoint allows you to remove an email address from the global suppressions group.**

        A global suppression (or global unsubscribe) is an email address of a recipient who does not want to receive any of your messages. A globally suppressed recipient will be removed from any email you send. For more information, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Suppressions/global_unsubscribes.html).
      operationId: DELETE_asm-suppressions-global-email
      parameters:
        - $ref: "#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of"
      requestBody:
        $ref: "#/components/requestBodies/GET_alertsBody"
      responses:
        "204":
          content:
            "*/*":
              schema:
                type: object
          description: ""
      security:
        - Authorization: []
      summary: Delete a Global Suppression
      tags:
        - Suppressions - Global Suppressions
    get:
      description: |-
        **This endpoint allows you to retrieve a global suppression. You can also use this endpoint to confirm if an email address is already globally suppresed.**

        If the email address you include in the URL path parameter `{email}` is alreayd globally suppressed, the response will include that email address. If the address you enter for `{email}` is not globally suppressed, an empty JSON object `{}` will be returned.

        A global suppression (or global unsubscribe) is an email address of a recipient who does not want to receive any of your messages. A globally suppressed recipient will be removed from any email you send. For more information, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Suppressions/global_unsubscribes.html).
      operationId: GET_asm-suppressions-global-email
      parameters:
        - $ref: "#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of"
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  recipient_email:
                    description: The email address that is globally suppressed. This will be an empty object if the email address you included in your call is not globally suppressed.
                    type: string
                required:
                  - recipient_email
                title: Retrieve a Global Suppression response
                type: object
          description: ""
      security:
        - Authorization: []
      summary: Retrieve a Global Suppression
      tags:
        - Suppressions - Global Suppressions
    parameters:
      - description: The email address of the global suppression you want to retrieve. Or, if you want to check if an email address is on the global suppressions list, enter that email address here.
        in: path
        name: email
        required: true
        schema:
          type: string
  "/asm/suppressions/{email}":
    get:
      description: |-
        **This endpoint returns the list of all groups that the given email address has been unsubscribed from.**

        Suppressions are a list of email addresses that will not receive content sent under a given [group](https://sendgrid.com/docs/API_Reference/Web_API_v3/Suppression_Management/groups.html).
      operationId: GET_asm-suppressions-email
      parameters:
        - $ref: "#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of"
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    suppressions:
                      - description: Optional description.
                        id: 1
                        is_default: true
                        name: Weekly News
                        suppressed: true
                      - description: Some daily news.
                        id: 2
                        is_default: true
                        name: Daily News
                        suppressed: true
                      - description: An old group.
                        id: 2
                        is_default: false
                        name: Old News
                        suppressed: false
              schema:
                properties:
                  suppressions:
                    description: The array of suppression groups.
                    items:
                      properties:
                        description:
                          description: The description of the suppression group.
                          type: string
                        id:
                          description: The id of the suppression group.
                          type: integer
                        is_default:
                          description: Indicates if the suppression group  is set as the default.
                          type: boolean
                        name:
                          description: The name of the suppression group.
                          type: string
                        suppressed:
                          description: Indicates if the given email address is suppressed for this group.
                          type: boolean
                      required:
                        - description
                        - id
                        - is_default
                        - name
                        - suppressed
                      type: object
                    type: array
                required:
                  - suppressions
                type: object
          description: ""
      security:
        - Authorization: []
      summary: Retrieve all suppression groups for an email address
      tags:
        - Suppressions - Suppressions
    parameters:
      - description: The email address that you want to search suppression groups for.
        in: path
        name: email
        required: true
        schema:
          type: string
  /browsers/stats:
    get:
      description: |-
        **This endpoint allows you to retrieve your email statistics segmented by browser type.**

        **We only store up to 7 days of email activity in our database.** By default, 500 items will be returned per request via the Advanced Stats API endpoints.

        Advanced Stats provide a more in-depth view of your email statistics and the actions taken by your recipients. You can segment these statistics by geographic location, device type, client type, browser, and mailbox provider. For more information about statistics, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Statistics/index.html).
      operationId: GET_browsers-stats
      parameters:
        - description: The starting date of the statistics to retrieve. Must follow format YYYY-MM-DD.
          in: query
          name: start_date
          required: true
          schema:
            type: string
        - description: The end date of the statistics to retrieve. Defaults to today.
          in: query
          name: end_date
          required: false
          schema:
            type: string
        - description: The number of results to include on each page.
          in: query
          name: limit
          required: false
          schema:
            type: string
        - description: The number of results to exclude.
          in: query
          name: offset
          required: false
          schema:
            type: string
        - description: How to group the stats. Must be either "day", "week", or "month".
          in: query
          name: aggregated_by
          required: false
          schema:
            enum:
              - day
              - week
              - month
            type: string
        - description: The browsers to get statistics for. You can include up to 10 different browsers by including this parameter multiple times.
          in: query
          name: browsers
          required: false
          schema:
            type: string
        - $ref: "#/components/parameters/trait_onBehalfOfSubuser_on-behalf-of"
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    - date: 2014-10-01
                      stats:
                        - metrics:
                            clicks: 0
                            unique_clicks: 0
                          name: Chrome
                          type: browser
                        - metrics:
                            clicks: 1
                            unique_clicks: 1
                          name: Firefox
                          type: browser
                    - date: 2014-10-02
                      stats:
                        - metrics:
                            clicks: 0
                            unique_clicks: 0
                          name: Chrome
                          type: browser
                        - metrics:
                            clicks: 1
                            unique_clicks: 1
                          name: Firefox
                          type: browser
              schema:
                items:
                  $ref: "#/components/schemas/advanced_stats_clicks"
                type: array
          description: ""
      security:
        - Authorization: []
      summary: Retrieve email statistics by browser.
      tags:
        - Stats
  /campaigns:
    get:
      description: |-
        **This endpoint allows you to retrieve a list of all of your campaigns.**

        Returns campaigns in reverse order they were created (newest first).

        Returns an empty array if no campaigns exist.

        For more information:

        * [User Guide > Marketing Campaigns](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/index.html)
      operationId: GET_campaigns
      parameters:
        - description: The number of results you would like to receive at a time.
          in: query
          name: limit
          schema:
            default: 10
            type: integer
        - description: The index of the first campaign to return, where 0 is the first campaign.
          in: query
          name: offset
          schema:
            default: 0
            type: integer
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    result:
                      - categories:
                          - spring line
                        custom_unsubscribe_url: ""
                        html_content: <html><head><title></title></head><body><p>Check out our spring line!</p></body></html>
                        id: 986724
                        ip_pool: marketing
                        list_ids:
                          - 110
                        plain_content: Check out our spring line!
                        segment_ids:
                          - 110
                        sender_id: 124451
                        status: Draft
                        subject: New Products for Spring!
                        suppression_group_id: 42
                        title: March Newsletter
              schema:
                properties:
                  result:
                    items:
                      properties:
                        categories:
                          items:
                            type: string
                          type: array
                        custom_unsubscribe_url:
                          type: string
                        html_content:
                          type: string
                        id:
                          type: integer
                        ip_pool:
                          type: string
                        list_ids:
                          items:
                            type: integer
                          type: array
                        plain_content:
                          type: string
                        segment_ids:
                          items:
                            type: integer
                          type: array
                        sender_id:
                          type: integer
                        status:
                          type: string
                        subject:
                          type: string
                        suppression_group_id:
                          type: integer
                        title:
                          type: string
                      type: object
                    type: array
                type: object
          description: ""
      security:
        - Authorization: []
      summary: Retrieve all Campaigns
      tags:
        - Campaigns API
    post:
      description: |-
        **This endpoint allows you to create a campaign.**

        Our Marketing Campaigns API lets you create, manage, send, and schedule campaigns.

        Note: In order to send or schedule the campaign, you will be required to provide a subject, sender ID, content (we suggest both html and plain text), and at least one list or segment ID. This information is not required when you create a campaign.

        For more information:

        * [User Guide > Marketing Campaigns](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/index.html)
      operationId: POST_campaigns
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/campaign_request"
      responses:
        "201":
          content:
            application/json:
              examples:
                response:
                  value:
                    categories:
                      - spring line
                    custom_unsubscribe_url: ""
                    html_content: <html><head><title></title></head><body><p>Check out our spring line!</p></body></html>
                    id: 986724
                    ip_pool: marketing
                    list_ids:
                      - 110
                      - 124
                    plain_content: Check out our spring line!
                    segment_ids:
                      - 110
                    sender_id: 124451
                    status: Draft
                    subject: New Products for Spring!
                    suppression_group_id: 42
                    title: March Newsletter
              schema:
                $ref: "#/components/schemas/campaign_response"
          description: ""
        "400":
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                      - field: title
                        message: title can't be blank
                      - field: title
                        message: title is too long (maximum is 100 characters)
                      - field: categories
                        message: categories exceeds 10 category limit
                      - field: html_content
                        message: html_content exceeds the 1MB limit
                      - field: plain_content
                        message: plain_content exceeds the 1MB limit
                      - field: sender_id
                        message: sender_id does not exist
                      - field: sender_id
                        message: sender_id is not a verified sender identity
                      - field: list_ids
                        message: list_ids do not all exist
                      - field: segment_ids
                        message: segment_ids do not all exist
                      - field: ip_pool
                        message: The ip pool you provided is invalid
                      - field: suppression_group_id
                        message: suppression_group_id does not exist
                      - field: unsubscribes
                        message: Either suppression_group_id or custom_unsubscribe_url may be set/used, but not both. Please remove one before setting the other.
                      - field:
                          $ref: "#/components/schemas/credentials/example/address2"
                        message: The JSON you have submitted cannot be parsed.
                      - field:
                          $ref: "#/components/schemas/credentials/example/address2"
                        message: You've reached your limit of 250 campaigns. Please delete one or more and try again.
              schema:
                $ref: "#/components/schemas/global_ErrorResponse"
          description: |-
            "title": "title can't be blank"
            "title": "title is too long (maximum is 100 characters)"
            "categories": "categories exceeds 10 category limit"
            "html_content": "html_content exceeds the 1MB limit"
            "plain_content": "plain_content exceeds the 1MB limit"
            "sender_id": "sender_id does not exist"
            "sender_id": "sender_id is not a verified sender identity"
            "list_ids": "list_ids do not all exist"
            "segment_ids": "segment_ids do not all exist"
            "ip_pool": "The ip pool you provided is invalid"
            "suppression_group_id": "suppression_group_id does not exist"
            "unsubscribes": "Either suppression_group_id or custom_unsubscribe_url may be set/used, but not both. Please remove one before setting the other."
            "": "The JSON you have submitted cannot be parsed."
            "": "You've reached your limit of 250 campaigns. Please delete one or more and try again."
        "401":
          content:
            application/json:
              schema:
                type: object
          description: ""
      security:
        - Authorization: []
      summary: Create a Campaign
      tags:
        - Campaigns API
  "/campaigns/{campaign_id}":
    delete:
      description: |-
        **This endpoint allows you to delete a specific campaign.**

        Our Marketing Campaigns API lets you create, manage, send, and schedule campaigns.

        For more information:

        * [User Guide > Marketing Campaigns](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/index.html)
      operationId: DELETE_campaigns-campaign_id
      requestBody:
        $ref: "#/components/requestBodies/GET_alertsBody"
      responses:
        "204":
          content:
            application/json:
              schema:
                nullable: true
          description: ""
        "401":
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                      - field:
                          $ref: "#/components/schemas/credentials/example/address2"
                        message: authorization required
              schema:
                type: object
          description: ""
        "404":
          content:
            application/json:
              schema:
                type: object
          description: '"": "not found"'
      security:
        - Authorization: []
      summary: Delete a Campaign
      tags:
        - Campaigns API
    get:
      description: |-
        **This endpoint allows you to retrieve a specific campaign.**

        Our Marketing Campaigns API lets you create, manage, send, and schedule campaigns.

        For more information:

        * [User Guide > Marketing Campaigns](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/index.html)
      operationId: GET_campaigns-campaign_id
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    categories:
                      - spring line
                    custom_unsubscribe_url: ""
                    html_content: <html><head><title></title></head><body><p>Check out our spring line!</p></body></html>
                    id: 986724
                    ip_pool: marketing
                    list_ids:
                      - 110
                    plain_content: Check out our spring line!
                    segment_ids:
                      - 110
                    sender_id: 124451
                    status: Draft
                    subject: New Products for Spring!
                    suppression_group_id: 42
                    title: March Newsletter
              schema:
                properties:
                  categories:
                    items:
                      type: string
                    type: array
                  custom_unsubscribe_url:
                    type: string
                  html_content:
                    type: string
                  id:
                    type: integer
                  ip_pool:
                    type: string
                  list_ids:
                    items:
                      type: integer
                    type: array
                  plain_content:
                    type: string
                  segment_ids:
                    items:
                      type: integer
                    type: array
                  sender_id:
                    type: integer
                  status:
                    type: string
                  subject:
                    type: string
                  suppression_group_id:
                    type: integer
                  title:
                    type: string
                type: object
          description: ""
        "401":
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                      - field:
                          $ref: "#/components/schemas/credentials/example/address2"
                        message: authorization required
              schema:
                type: object
          description: ""
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                      - field:
                          $ref: "#/components/schemas/credentials/example/address2"
                        message: not found
              schema:
                type: object
          description: '"": "not found"'
      security:
        - Authorization: []
      summary: Retrieve a single campaign
      tags:
        - Campaigns API
    parameters:
      - description: The id of the campaign you would like to retrieve.
        in: path
        name: campaign_id
        required: true
        schema:
          type: integer
    patch:
      description: |-
        Update a campaign. This is especially useful if you only set up the campaign using POST /campaigns, but didn't set many of the parameters.

        For more information:

        * [User Guide > Marketing Campaigns](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/index.html)
      operationId: PATCH_campaigns-campaign_id
      requestBody:
        content:
          application/json:
            schema:
              example:
                categories:
                  - summer line
                html_content: <html><head><title></title></head><body><p>Check out our summer line!</p></body></html>
                plain_content: Check out our summer line!
                subject: New Products for Summer!
                title: May Newsletter
              properties:
                categories:
                  description: The categories you want to tag on this campaign.
                  items:
                    type: string
                  type: array
                html_content:
                  description: The HTML content of this campaign.
                  type: string
                plain_content:
                  description: The plain content of this campaign.
                  type: string
                subject:
                  description: The subject line for your campaign.
                  type: string
                title:
                  description: The title of the campaign.
                  type: string
              required:
                - title
                - subject
                - categories
                - html_content
                - plain_content
              title: Update a Campaign request
              type: object
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    categories:
                      - summer line
                    custom_unsubscribe_url: ""
                    html_content: <html><head><title></title></head><body><p>Check out our summer line!</p></body></html>
                    id: 986724
                    ip_pool: marketing
                    list_ids:
                      - 110
                      - 124
                    plain_content: Check out our summer line!
                    segment_ids:
                      - 110
                    sender_id: 124451
                    status: Draft
                    subject: New Products for Summer!
                    suppression_group_id: 42
                    title: May Newsletter
              schema:
                $ref: "#/components/schemas/campaign_response"
          description: ""
        "400":
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                      - field: title
                        message: title can't be blank
                      - field: title
                        message: title is too long (maximum is 100 characters)
                      - field: categories
                        message: categories exceeds 10 category limit
                      - field: html_content
                        message: html_content exceeds the 1MB limit
                      - field: plain_content
                        message: plain_content exceeds the 1MB limit
                      - field: sender_id
                        message: sender_id does not exist
                      - field: sender_id
                        message: sender_id is not a verified sender identity
                      - field: list_ids
                        message: list_ids do not all exist
                      - field: segment_ids
                        message: segment_ids do not all exist
                      - field: ip_pool
                        message: The ip pool you provided is invalid
                      - field: suppression_group_id
                        message: suppression_group_id does not exist
                      - field: unsubscribes
                        message: Either suppression_group_id or custom_unsubscribe_url may be set/used, but not both. Please remove one before setting the other.
                      - field:
                          $ref: "#/components/schemas/credentials/example/address2"
                        message: The JSON you have submitted cannot be parsed.
              schema:
                type: object
          description: |-
            "title": "title can't be blank"
            "title": "title is too long (maximum is 100 characters)"
            "categories": "categories exceeds 10 category limit"
            "html_content": "html_content exceeds the 1MB limit"
            "plain_content": "plain_content exceeds the 1MB limit"
            "sender_id": "sender_id does not exist"
            "sender_id": "sender_id is not a verified sender identity"
            "list_ids": "list_ids do not all exist"
            "segment_ids": "segment_ids do not all exist"
            "ip_pool": "The ip pool you provided is invalid"
            "suppression_group_id": "suppression_group_id does not exist"
            "unsubscribes": "Either suppression_group_id or custom_unsubscribe_url may be set/used, but not both. Please remove one before setting the other."
            "": "The JSON you have submitted cannot be parsed."
        "401":
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                      - field:
                          $ref: "#/components/schemas/credentials/example/address2"
                        message: authorization required
              schema:
                $ref: "#/components/schemas/global_ErrorResponse"
          description: ""
        "403":
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                      - field:
                          $ref: "#/components/schemas/credentials/example/address2"
                        message: You may only update a campaign when it is in draft mode.
              schema:
                type: object
          description: '"": "You may only update a campaign when it is in draft mode."'
        "404":
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                      - field:
                          $ref: "#/components/schemas/credentials/example/address2"
                        message: not found
              schema:
                $ref: "#/components/schemas/global_ErrorResponse"
          description: '"": "not found"'
      security:
        - Authorization: []
      summary: Update a Campaign
      tags:
        - Campaigns API
  "/campaigns/{campaign_id}/schedules":
    delete:
      description: |-
        **This endpoint allows you to unschedule a campaign that has already been scheduled to be sent.**

        A successful unschedule will return a 204.
        If the specified campaign is in the process of being sent, the only option is to cancel (a different method).

        For more information:

        * [User Guide > Marketing Campaigns](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/index.html)
      operationId: DELETE_campaigns-campaign_id-schedules
      requestBody:
        $ref: "#/components/requestBodies/GET_alertsBody"
      responses:
        "204":
          content:
            application/json:
              schema:
                nullable: true
          description: ""
        "403":
          content:
            application/json:
              examples:
                response:
                  value:
                    errors:
                      - field:
                          $ref: "#/components/schemas/credentials/example/address2"
                        message: This campaign is already In Progress.
                      - field:
                          $ref: "#/components/schemas/credentials/example/address2"
                        message: This campaign is already Sent.
                      - field:
                          $ref: "#/components/schemas/credentials/example/address2"
[...]
