swagger: '2.0'
schemes:
  - http
  - https
basePath: /v3
host: api.sendgrid.com
info:
  version: '3.0'
  title: SendGrid V3 API
  description: ''
consumes:
  - application/json
produces:
  - application/json
paths:
  /partner_settings/sendwithus:
    parameters: []
    patch:
      summary: Update SendWithUs Settings
      description: ''
      operationId: PATCH_partner_settings-sendwithus
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            type: object
            properties:
              body:
                type: object
                description: ''
            required:
              - body
      responses:
        '200':
          description: ''
          schema:
            type: object
    get:
      summary: Get SendWithUs Settings
      description: ''
      operationId: GET_partner_settings-sendwithus
      consumes:
        - application/json
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            type: object
      security:
        - Authorization: []
  '/asm/groups/{group_id}':
    parameters:
      - name: group_id
        in: path
        description: The id of the suppression group you want to delete.
        required: true
        type: integer
    delete:
      summary: Delete a suppression group.
      description: |-
        **This endpoint allows you to delete a suppression group.**

        You can only delete groups that have not been attached to sent mail in the last 60 days. If a recipient uses the "one-click unsubscribe" option on an email associated with a deleted group, that recipient will be added to the global suppression list.

        Suppression groups, or unsubscribe groups, are specific types or categories of email that you would like your recipients to be able to unsubscribe from. For example: Daily Newsletters, Invoices, System Alerts.

        The **name** and **description** of the unsubscribe group will be visible by recipients when they are managing their subscriptions.

        Each user can create up to 25 different suppression groups.
      operationId: DELETE_asm-groups-group_id
      consumes:
        - application/json
      produces:
        - application/json
      parameters: []
      responses:
        '204':
          description: ''
          schema:
            type: object
      security:
        - Authorization: []
    get:
      summary: Get information on a single suppression group.
      description: |-
        **This endpoint allows you to retrieve a single suppression group.**

        Suppression groups, or unsubscribe groups, are specific types or categories of email that you would like your recipients to be able to unsubscribe from. For example: Daily Newsletters, Invoices, System Alerts.

        The **name** and **description** of the unsubscribe group will be visible by recipients when they are managing their subscriptions.

        Each user can create up to 25 different suppression groups.
      operationId: GET_asm-groups-group_id
      consumes:
        - application/json
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            allOf:
              - $ref: '#/definitions/suppression_group'
              - properties:
                  unsubscribes:
                    type: integer
                    description: The unsubscribes associated with this group.
            type: object
          examples:
            application/json:
              id: 100
              name: Newsletters
              description: Our monthly newsletter.
              last_email_sent_at: null
              is_default: true
              unsubscribes: 400
      security:
        - Authorization: []
    patch:
      summary: Update a suppression group.
      description: |-
        **This endpoint allows you to update or change a suppression group.**

        Suppression groups, or unsubscribe groups, are specific types or categories of email that you would like your recipients to be able to unsubscribe from. For example: Daily Newsletters, Invoices, System Alerts.

        The **name** and **description** of the unsubscribe group will be visible by recipients when they are managing their subscriptions.

        Each user can create up to 25 different suppression groups.
      operationId: PATCH_asm-groups-group_id
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            type: object
            properties:
              id:
                type: number
                description: The id of the suppression group.
              name:
                type: string
                description: The name of the suppression group. Each group created by a user must have a unique name.
                maxLength: 30
              description:
                type: string
                description: The description of the suppression group.
                maxLength: 100
              is_default:
                type: boolean
                description: Indicates if the suppression group is set as the default group.
            required:
              - name
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/suppression_group'
          examples:
            application/json:
              id: 103
              name: Item Suggestions
              description: Suggestions for items our users might like.
  /subusers/reputations:
    parameters: []
    get:
      tags:
        - Subusers API
      summary: Retrieve Subuser Reputations
      description: |-
        Subuser sender reputations give a good idea how well a sender is doing with regards to how recipients and recipient servers react to the mail that is being received. When a bounce, spam report, or other negative action happens on a sent email, it will effect your sender rating.

        This endpoint allows you to request the reputations for your subusers.
      operationId: GET_subusers-reputations
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: usernames
          in: query
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              type: object
              properties:
                reputation:
                  type: number
                  description: The sender reputation this subuser has attained.
                username:
                  type: string
                  description: The subuser that has this reputation.f
              required:
                - reputation
                - username
          examples:
            application/json:
              - username: example_subuser
                reputation: 99
              - username: example_subuser2
                reputation: 95.2
        '401':
          description: ''
          schema:
            type: object
      security:
        - Authorization: []
  '/suppression/bounces/{email}':
    parameters:
      - name: email
        in: path
        required: true
        type: string
    delete:
      tags:
        - Bounces API
      summary: Delete a bounce
      description: "**This endpoint allows you to remove an email address from your bounce list.**\n\nBounces are messages that are returned to the server that sent it. This endpoint allows you to delete a single email addresses from your bounce list. \n\nFor more information see: \n\n* [User Guide > Bounces](https://sendgrid.com/docs/User_Guide/Suppressions/bounces.html) for more information\n* [Glossary > Bounces](https://sendgrid.com/docs/Glossary/Bounces.html)\n* [Classroom > List Scrubbing Guide](https://sendgrid.com/docs/Classroom/Deliver/list_scrubbing.html)"
      operationId: DELETE_suppression-bounces-email
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: email_address
          in: query
          description: The email address you would like to remove from the bounce list.
          required: true
          type: string
          format: email
      responses:
        '204':
          description: ''
          schema:
            type: object
        '401':
          description: ''
          schema:
            $ref: '#/definitions/global:ErrorResponse'
          examples:
            application/json:
              errors:
                - field: null
                  message: authorization required
      security:
        - Authorization: []
    get:
      tags:
        - Bounces API
      summary: Retrieve a Bounce
      description: "**This endpoint allows you to retrieve a specific bounce for a given email address.**\n\nBounces are messages that are returned to the server that sent it.\n\nFor more information see: \n\n* [User Guide > Bounces](https://sendgrid.com/docs/User_Guide/Suppressions/bounces.html) for more information\n* [Glossary > Bounces](https://sendgrid.com/docs/Glossary/Bounces.html)\n* [Classroom > List Scrubbing Guide](https://sendgrid.com/docs/Classroom/Deliver/list_scrubbing.html)"
      operationId: GET_suppression-bounces-email
      consumes:
        - application/json
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              type: object
              properties:
                created:
                  type: integer
                email:
                  type: string
                reason:
                  type: string
                status:
                  type: string
          examples:
            application/json:
              - created: 1443651125
                email: bounce1@test.com
                reason: "550 5.1.1 The email account that you tried to reach does not exist. Please try double-checking the recipient's email address for typos or unnecessary spaces. Learn more at  https://support.google.com/mail/answer/6596 o186si2389584ioe.63 - gsmtp "
                status: 5.1.1
      security:
        - Authorization: []
  /mailbox_providers/stats:
    parameters: []
    get:
      summary: Retrieve email statistics by mailbox provider.
      description: |-
        **This endpoint allows you to retrieve your email statistics segmented by recipient mailbox provider.**

        **We only store up to 7 days of email activity in our database.** By default, 500 items will be returned per request via the Advanced Stats API endpoints.

        Advanced Stats provide a more in-depth view of your email statistics and the actions taken by your recipients. You can segment these statistics by geographic location, device type, client type, browser, and mailbox provider. For more information about statistics, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Statistics/index.html).
      operationId: GET_mailbox_providers-stats
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: limit
          in: query
          description: The number of results to include on each page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The number of results to exclude.
          required: false
          type: integer
        - name: aggregated_by
          in: query
          description: 'How to group the stats. Must be either "day", "wee", or "month".'
          required: false
          type: string
          enum:
            - day
            - week
            - month
        - name: start_date
          in: query
          description: The starting date of the statistics to retrieve. Must follow format YYYY-MM-DD.
          required: true
          type: string
        - name: end_date
          in: query
          description: The end date of the statistics to retrieve. Defaults to today. Must follow format YYYY-MM-DD.
          required: false
          type: string
        - name: mailbox_providers
          in: query
          description: The mail box providers to get statistics for. You can include up to 10 by including this parameter multiple times.
          required: false
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/advanced_stats_mailbox_provider'
          examples:
            application/json:
              - date: '2015-10-11'
                stats:
                  - type: mailbox_provider
                    name: Gmail
                    metrics:
                      blocks: 0
                      bounces: 0
                      clicks: 0
                      deferred: 0
                      delivered: 0
                      drops: 0
                      opens: 0
                      spam_reports: 0
                      unique_clicks: 0
                      unique_opens: 0
              - date: '2015-10-12'
                stats:
                  - type: mailbox_provider
                    name: Gmail
                    metrics:
                      blocks: 0
                      bounces: 0
                      clicks: 0
                      deferred: 0
                      delivered: 0
                      drops: 0
                      opens: 0
                      spam_reports: 0
                      unique_clicks: 0
                      unique_opens: 0
              - date: '2015-10-13'
                stats:
                  - type: mailbox_provider
                    name: Gmail
                    metrics:
                      blocks: 0
                      bounces: 0
                      clicks: 0
                      deferred: 0
                      delivered: 0
                      drops: 0
                      opens: 0
                      spam_reports: 0
                      unique_clicks: 0
                      unique_opens: 0
              - date: '2015-10-14'
                stats:
                  - type: mailbox_provider
                    name: Gmail
                    metrics:
                      blocks: 0
                      bounces: 0
                      clicks: 0
                      deferred: 0
                      delivered: 0
                      drops: 0
                      opens: 0
                      spam_reports: 0
                      unique_clicks: 0
                      unique_opens: 0
              - date: '2015-10-15'
                stats:
                  - type: mailbox_provider
                    name: Gmail
                    metrics:
                      blocks: 0
                      bounces: 0
                      clicks: 0
                      deferred: 0
                      delivered: 0
                      drops: 0
                      opens: 0
                      spam_reports: 0
                      unique_clicks: 0
                      unique_opens: 0
              - date: '2015-10-16'
                stats:
                  - type: mailbox_provider
                    name: Gmail
                    metrics:
                      blocks: 0
                      bounces: 0
                      clicks: 0
                      deferred: 0
                      delivered: 0
                      drops: 0
                      opens: 0
                      spam_reports: 0
                      unique_clicks: 0
                      unique_opens: 0
              - date: '2015-10-17'
                stats:
                  - type: mailbox_provider
                    name: Gmail
                    metrics:
                      blocks: 0
                      bounces: 0
                      clicks: 0
                      deferred: 0
                      delivered: 0
                      drops: 0
                      opens: 0
                      spam_reports: 0
                      unique_clicks: 0
                      unique_opens: 0
              - date: '2015-10-18'
                stats:
                  - type: mailbox_provider
                    name: Gmail
                    metrics:
                      blocks: 0
                      bounces: 0
                      clicks: 0
                      deferred: 0
                      delivered: 0
                      drops: 0
                      opens: 0
                      spam_reports: 0
                      unique_clicks: 0
                      unique_opens: 0
              - date: '2015-10-19'
                stats:
                  - type: mailbox_provider
                    name: Gmail
                    metrics:
                      blocks: 0
                      bounces: 0
                      clicks: 0
                      deferred: 0
                      delivered: 0
                      drops: 0
                      opens: 0
                      spam_reports: 0
                      unique_clicks: 0
                      unique_opens: 0
              - date: '2015-10-20'
                stats:
                  - type: mailbox_provider
                    name: Gmail
                    metrics:
                      blocks: 0
                      bounces: 0
                      clicks: 0
                      deferred: 0
                      delivered: 0
                      drops: 0
                      opens: 0
                      spam_reports: 0
                      unique_clicks: 0
                      unique_opens: 0
              - date: '2015-10-21'
                stats:
                  - type: mailbox_provider
                    name: Gmail
                    metrics:
                      blocks: 0
                      bounces: 0
                      clicks: 0
                      deferred: 0
                      delivered: 1
                      drops: 0
                      opens: 1
                      spam_reports: 0
                      unique_clicks: 0
                      unique_opens: 1
              - date: '2015-10-22'
                stats:
                  - type: mailbox_provider
                    name: Gmail
                    metrics:
                      blocks: 0
                      bounces: 0
                      clicks: 0
                      deferred: 0
                      delivered: 0
                      drops: 0
                      opens: 0
                      spam_reports: 0
                      unique_clicks: 0
                      unique_opens: 0
              - date: '2015-10-23'
                stats:
                  - type: mailbox_provider
                    name: Gmail
                    metrics:
                      blocks: 0
                      bounces: 0
                      clicks: 0
                      deferred: 0
                      delivered: 0
                      drops: 0
                      opens: 0
                      spam_reports: 0
                      unique_clicks: 0
                      unique_opens: 0
              - date: '2015-10-24'
                stats:
                  - type: mailbox_provider
                    name: Gmail
                    metrics:
                      blocks: 0
                      bounces: 0
                      clicks: 0
                      deferred: 0
                      delivered: 0
                      drops: 0
                      opens: 0
                      spam_reports: 0
                      unique_clicks: 0
                      unique_opens: 0
              - date: '2015-10-25'
                stats:
                  - type: mailbox_provider
                    name: Gmail
                    metrics:
                      blocks: 0
                      bounces: 0
                      clicks: 0
                      deferred: 0
                      delivered: 0
                      drops: 0
                      opens: 0
                      spam_reports: 0
                      unique_clicks: 0
                      unique_opens: 0
              - date: '2015-10-26'
                stats:
                  - type: mailbox_provider
                    name: Gmail
                    metrics:
                      blocks: 0
                      bounces: 0
                      clicks: 0
                      deferred: 0
                      delivered: 2
                      drops: 0
                      opens: 2
                      spam_reports: 0
                      unique_clicks: 0
                      unique_opens: 2
              - date: '2015-10-27'
                stats:
                  - type: mailbox_provider
                    name: Gmail
                    metrics:
                      blocks: 0
                      bounces: 0
                      clicks: 0
                      deferred: 0
                      delivered: 0
                      drops: 0
                      opens: 0
                      spam_reports: 0
                      unique_clicks: 0
                      unique_opens: 0
              - date: '2015-10-28'
                stats:
                  - type: mailbox_provider
                    name: Gmail
                    metrics:
                      blocks: 0
                      bounces: 0
                      clicks: 0
                      deferred: 0
                      delivered: 0
                      drops: 0
                      opens: 0
                      spam_reports: 0
                      unique_clicks: 0
                      unique_opens: 0
              - date: '2015-10-29'
                stats:
                  - type: mailbox_provider
                    name: Gmail
                    metrics:
                      blocks: 0
                      bounces: 0
                      clicks: 0
                      deferred: 0
                      delivered: 0
                      drops: 0
                      opens: 0
                      spam_reports: 0
                      unique_clicks: 0
                      unique_opens: 0
              - date: '2015-10-30'
                stats:
                  - type: mailbox_provider
                    name: Gmail
                    metrics:
                      blocks: 0
                      bounces: 0
                      clicks: 0
                      deferred: 0
                      delivered: 0
                      drops: 0
                      opens: 0
                      spam_reports: 0
                      unique_clicks: 0
                      unique_opens: 0
              - date: '2015-10-31'
                stats:
                  - type: mailbox_provider
                    name: Gmail
                    metrics:
                      blocks: 0
                      bounces: 0
                      clicks: 0
                      deferred: 0
                      delivered: 0
                      drops: 0
                      opens: 0
                      spam_reports: 0
                      unique_clicks: 0
                      unique_opens: 0
              - date: '2015-11-01'
                stats:
                  - type: mailbox_provider
                    name: Gmail
                    metrics:
                      blocks: 0
                      bounces: 0
                      clicks: 0
                      deferred: 0
                      delivered: 0
                      drops: 0
                      opens: 0
                      spam_reports: 0
                      unique_clicks: 0
                      unique_opens: 0
              - date: '2015-11-02'
                stats:
                  - type: mailbox_provider
                    name: Gmail
                    metrics:
                      blocks: 0
                      bounces: 0
                      clicks: 0
                      deferred: 0
                      delivered: 0
                      drops: 0
                      opens: 0
                      spam_reports: 0
                      unique_clicks: 0
                      unique_opens: 0
              - date: '2015-11-03'
                stats:
                  - type: mailbox_provider
                    name: Gmail
                    metrics:
                      blocks: 0
                      bounces: 0
                      clicks: 0
                      deferred: 0
                      delivered: 0
                      drops: 0
                      opens: 0
                      spam_reports: 0
                      unique_clicks: 0
                      unique_opens: 0
              - date: '2015-11-04'
                stats:
                  - type: mailbox_provider
                    name: Gmail
                    metrics:
                      blocks: 0
                      bounces: 0
                      clicks: 0
                      deferred: 0
                      delivered: 0
                      drops: 0
                      opens: 0
                      spam_reports: 0
                      unique_clicks: 0
                      unique_opens: 0
              - date: '2015-11-05'
                stats:
                  - type: mailbox_provider
                    name: Gmail
                    metrics:
                      blocks: 0
                      bounces: 0
                      clicks: 0
                      deferred: 0
                      delivered: 0
                      drops: 0
                      opens: 0
                      spam_reports: 0
                      unique_clicks: 0
                      unique_opens: 0
              - date: '2015-11-06'
                stats:
                  - type: mailbox_provider
                    name: Gmail
                    metrics:
                      blocks: 0
                      bounces: 0
                      clicks: 0
                      deferred: 0
                      delivered: 0
                      drops: 0
                      opens: 0
                      spam_reports: 0
                      unique_clicks: 0
                      unique_opens: 0
              - date: '2015-11-07'
                stats:
                  - type: mailbox_provider
                    name: Gmail
                    metrics:
                      blocks: 0
                      bounces: 0
                      clicks: 0
                      deferred: 0
                      delivered: 0
                      drops: 0
                      opens: 0
                      spam_reports: 0
                      unique_clicks: 0
                      unique_opens: 0
              - date: '2015-11-08'
                stats:
                  - type: mailbox_provider
                    name: Gmail
                    metrics:
                      blocks: 0
                      bounces: 0
                      clicks: 0
                      deferred: 0
                      delivered: 0
                      drops: 0
                      opens: 0
                      spam_reports: 0
                      unique_clicks: 0
                      unique_opens: 0
              - date: '2015-11-09'
                stats:
                  - type: mailbox_provider
                    name: Gmail
                    metrics:
                      blocks: 0
                      bounces: 0
                      clicks: 0
                      deferred: 0
                      delivered: 0
                      drops: 0
                      opens: 0
                      spam_reports: 0
                      unique_clicks: 0
                      unique_opens: 0
              - date: '2015-11-10'
                stats:
                  - type: mailbox_provider
                    name: Gmail
                    metrics:
                      blocks: 0
                      bounces: 0
                      clicks: 0
                      deferred: 0
                      delivered: 0
                      drops: 0
                      opens: 0
                      spam_reports: 0
                      unique_clicks: 0
                      unique_opens: 0
      security:
        - Authorization: []
  '/contactdb/lists/{list_id}/recipients':
    parameters:
      - name: list_id
        in: path
        description: The id of the list of recipients you want to retrieve.
        required: true
        type: integer
    get:
      summary: Retrieve all recipients on a List
      description: "**This endpoint allows you to retrieve all recipients on the list with the given ID.** \n\nThe Contacts API helps you manage your [Marketing Campaigns](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/index.html) recipients."
      operationId: GET_contactdb-lists-list_id-recipients
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: page
          in: query
          description: Page index of first recipient to return (must be a positive integer)
          required: false
          type: integer
        - name: page_size
          in: query
          description: Number of recipients to return at a time (must be a positive integer between 1 and 1000)
          required: false
          type: integer
        - name: list_id
          in: query
          description: The ID of the list whose recipients you are requesting.
          required: true
          type: number
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              recipients:
                type: array
                items:
                  $ref: '#/definitions/contactdb_recipient'
          examples:
            application/json:
              recipients:
                - created_at: 1433348344
                  custom_fields:
                    - id: 6234
                      name: age
                      type: number
                      value: null
                    - id: 6233
                      name: country
                      type: text
                      value: null
                    - id: 6235
                      name: fname
                      type: text
                      value: Example
                    - id: 6239
                      name: lname
                      type: text
                      value: User
                    - id: 6240
                      name: lname
                      type: text
                      value: null
                  email: example@example.com
                  first_name: Example
                  id: ZGVWfyZWsuYmFpbmVzQHNlbmRmCmLkLmNv==
                  last_clicked: 1438616117
                  last_emailed: 1438613272
                  last_name: User
                  last_opened: 1438616109
                  updated_at: 1438616119
        '400':
          description: |-
            "list_id" : "Returned if list_id is not a valid integer"
            "page" : "Returned if page is not a valid integer"
            "page" : "Returned if page is less than 1"
            "page_size" : "Returned if page_size is not a valid integer"
            "page_size" : "Returned if page_size is less than 1 or greater than 1000"
          schema:
            $ref: '#/definitions/global:ErrorResponse'
          examples:
            application/json:
              errors:
                - field: list_id
                  message: Returned if list_id is not a valid integer
                - field: page
                  message: Returned if page is not a valid integer
                - field: page
                  message: Returned if page is less than 1
                - field: page_size
                  message: Returned if page_size is not a valid integer
                - field: page_size
                  message: Returned if page_size is less than 1 or greater than 1000
        '404':
          description: '"list_id" : "Returned if list_id does not exist"'
          schema:
            type: object
          examples:
            application/json:
              errors:
                - field: list_id
                  message: Returned if list_id is invalid
      security:
        - Authorization: []
    post:
      summary: Add Multiple Recipients to a List
      description: |-
        **This endpoint allows you to add multiple recipients to a list.**

        Adds existing recipients to a list, passing in the recipient IDs to add. Recipient IDs should be passed exactly as they are returned from recipient endpoints.

        The Contacts API helps you manage your [Marketing Campaigns](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/index.html) recipients.
      operationId: POST_contactdb-lists-list_id-recipients
      consumes:
        - application/json
      produces:
        - application/json
      parameters: []
      responses:
        '201':
          description: ''
          schema:
            type: 'null'
        '400':
          description: |-
            "list_id" : "Returned if list_id is not a valid integer"
            "" : "Returned if no valid recipient ids were passed"
            "" : "Returned if no recipients were added"
            "" : "Returned if request body is invalid JSON"
          schema:
            $ref: '#/definitions/global:ErrorResponse'
          examples:
            application/json:
              errors:
                - field: list_id
                  message: list_id is invalid
                - field: recipient_id
                  message: no valid recipients were provided
                - field: null
                  message: no recipients were added
                - field: null
                  message: request body is invalid JSON
        '401':
          description: ''
          schema:
            $ref: '#/definitions/global:ErrorResponse'
          examples:
            application/json:
              errors:
                - field: null
                  message: authorization required
        '404':
          description: '"list_id": "Returned if list_id does not exist"'
          schema:
            $ref: '#/definitions/global:ErrorResponse'
          examples:
            application/json:
              errors:
                - field: list_id
                  message: list_id does not exist
                - field: recipient_id
                  message: recipient_id does not exist
      security:
        - Authorization: []
  '/templates/{template_id}/versions':
    parameters:
      - name: template_id
        in: path
        required: true
        type: string
    post:
      summary: Create a new transactional template version.
      description: |
        **This endpoint allows you to create a new version of a template.**

        Each transactional template can have multiple versions, each version with its own subject and content. Each user can have up to 300 versions across across all templates.

        For more information about transactional templates, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Transactional_Templates/index.html).
      operationId: POST_templates-template_id-versions
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            $ref: '#/definitions/transactional_template_version'
            example:
              template_id: ddb96bbc-9b92-425e-8979-99464621b543
              active: 1
              name: example_version_name
              html_content: '<%body%>'
              plain_content: '<%body%>'
              subject: '<%subject%>'
      responses:
        '201':
          description: ''
          schema:
            type: object
            properties:
              id:
                type: string
                description: The id of the new transactional template version.
              updated_at:
                type: string
                description: The date and time that this transactional template version was updated.
              Transactional Template Version:
                $ref: '#/definitions/transactional_template_version'
            required:
              - id
              - updated_at
          examples:
            application/json:
              id: 8aefe0ee-f12b-4575-b5b7-c97e21cb36f3
              template_id: ddb96bbc-9b92-425e-8979-99464621b543
              active: 1
              name: example_version_name
              html_content: '<%body%>'
              plain_content: '<%body%>'
              subject: '<%subject%>'
              updated_at: '2014-03-19 18:56:33'
      security:
        - Authorization: []
  /whitelabel/domains/default:
    parameters: []
    get:
      tags:
        - Whitelabel - Domains
      summary: Get the default domain whitelabel.
      description: |-
        **This endpoint allows you to retrieve the default whitelabel for a domain.**

        A domain whitelabel allows you to remove the “via” or “sent on behalf of” message that your recipients see when they read your emails. Whitelabeling a domain allows you to replace sendgrid.net with your personal sending domain. You will be required to create a subdomain so that SendGrid can generate the DNS records which you must give to your host provider. If you choose to use Automated Security, SendGrid will provide you with 3 CNAME records. If you turn Automated Security off, you will be given 2 TXT records and 1 MX record.

        For more information on whitelabeling, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Settings/Whitelabel/index.html)

        ## URI Parameters
        | URI Parameter   | Type   | Description  |
        |---|---|---|
        | domain | string  |The domain to find a default domain whitelabel for. |
      operationId: GET_whitelabel-domains-default
      consumes:
        - application/json
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/whitelabel:domain_spf'
      security:
        - Authorization: []
  '/whitelabel/domains/{id}/ips/{ip}':
    parameters:
      - name: id
        in: path
        required: true
        type: string
      - name: ip
        in: path
        required: true
        type: string
    delete:
      tags:
        - Whitelabel - Domains
      summary: Remove an IP from a domain whitelabel.
      description: |-
        **This endpoint allows you to remove a domain's IP address from that domain's whitelabel.**

        A domain whitelabel allows you to remove the “via” or “sent on behalf of” message that your recipients see when they read your emails. Whitelabeling a domain allows you to replace sendgrid.net with your personal sending domain. You will be required to create a subdomain so that SendGrid can generate the DNS records which you must give to your host provider. If you choose to use Automated Security, SendGrid will provide you with 3 CNAME records. If you turn Automated Security off, you will be given 2 TXT records and 1 MX record.

        For more information on whitelabeling, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Settings/Whitelabel/index.html)

        ## URI Parameters
        | URI Parameter   | Type  | Description  |
        |---|---|---|
        | id | integer  | ID of the domain whitelabel to delete the IP from. |
        | ip | string | IP to remove from the domain whitelabel. |
      operationId: DELETE_whitelabel-domains-id-ips-ip
      consumes:
        - application/json
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/whitelabel:domain_spf'
          examples:
            application/json:
              id: 1
              domain: example.com
              subdomain: mail
              username: mail@example.com
              user_id: 7
              ips: []
              custom_spf: true
              default: false
              legacy: false
              automatic_security: false
              valid: false
              dns:
                mail_server:
                  host: mail.example.com
                  type: mx
                  data: sendgrid.net
                  valid: false
                subdomain_spf:
                  host: mail.example.com
                  type: txt
                  data: 'v=spf1 ip4:192.168.1.1 ip4:192.168.0.1 -all'
                  valid: false
                domain_spf:
                  host: example.com
                  type: txt
                  data: 'v=spf1 include:mail.example.com -all'
                  valid: false
                dkim:
                  host: s1._domainkey.example.com
                  type: txt
                  data: k=rsa; t=s; p=publicKey
                  valid: false
      security:
        - Authorization: []
  '/templates/{template_id}/versions/{version_id}':
    parameters:
      - name: template_id
        in: path
        required: true
        type: string
      - name: version_id
        in: path
        required: true
        type: string
    get:
      summary: Retrieve a specific transactional template version.
      description: |-
        **This endpoint allows you to retrieve a specific version of a template.**

        Each transactional template can have multiple versions, each version with its own subject and content. Each user can have up to 300 versions across across all templates.

        For more information about transactional templates, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Transactional_Templates/index.html).

        ## URI Parameters
        | URI Parameter | Type | Description |
        |---|---|---|
        | template_id | string | The ID of the original template |
        | version_id | string |  The ID of the template version |
      operationId: GET_templates-template_id-versions-version_id
      consumes:
        - application/json
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              id:
                type: string
                description: The ID of the template version.
              updated_at:
                type: string
                description: The date and time that the template version was last updated.
              Transactional Template Version:
                $ref: '#/definitions/transactional_template_version'
            required:
              - id
              - updated_at
          examples:
            application/json:
              id: 5997fcf6-2b9f-484d-acd5-7e9a99f0dc1f
              template_id: d51480ca-ca3f-465c-bc3e-ceb71d73c38d
              active: 1
              name: version 1 name
              html_content: '<%body%>'
              plain_content: '<%body%>'
              subject: '<%subject%>'
              updated_at: '2014-03-19 18:56:33'
      security:
        - Authorization: []
    delete:
      summary: Delete a transactional template version.
      description: |-
        **This endpoint allows you to delete one of your transactional template versions.**

        Each transactional template can have multiple versions, each version with its own subject and content. Each user can have up to 300 versions across across all templates.

        For more information about transactional templates, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Transactional_Templates/index.html).

        ## URI Parameters
        | URI Parameter | Type | Description |
        |---|---|---|
        | template_id | string | The ID of the original template |
        | version_id | string | The ID of the template version |
      operationId: DELETE_templates-template_id-versions-version_id
      consumes:
        - application/json
      produces: []
      parameters: []
      responses:
        '204':
          description: ''
          schema:
            type: 'null'
      security:
        - Authorization: []
    patch:
      summary: Edit a transactional template version.
      description: |-
        **This endpoint allows you to edit a version of one of your transactional templates.**

        Each transactional template can have multiple versions, each version with its own subject and content. Each user can have up to 300 versions across across all templates.

        For more information about transactional templates, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Transactional_Templates/index.html).

        ## URI Parameters
        | URI Parameter | Type | Description |
        |---|---|---|
        | template_id | string | The ID of the original template |
        | version_id | string | The ID of the template version |
      operationId: PATCH_templates-template_id-versions-version_id
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            type: object
            properties:
              active:
                type: integer
                description: Indicates if the template version is active.
              name:
                type: string
                description: The name of the template version.
              html_content:
                type: string
                description: The HTML content of the template version.
              plain_content:
                type: string
                description: The text/plain content of the template version.
              subject:
                type: string
                description: The subject of the template version.
            example:
              active: 1
              name: updated_example_name
              html_content: '<%body%>'
              plain_content: '<%body%>'
              subject: '<%subject%>'
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              id:
                type: string
                description: The ID of the template version.
              updated_at:
                type: string
                description: The date and time that the template version was last updated.
              Transactional Template Version:
                $ref: '#/definitions/transactional_template_version'
            required:
              - id
              - updated_at
          examples:
            application/json:
              id: 5997fcf6-2b9f-484d-acd5-7e9a99f0dc1f
              template_id: d51480ca-ca3f-465c-bc3e-ceb71d73c38d
              active: 1
              name: version 1 name
              html_content: '<%body%>'
              plain_content: '<%body%>'
              subject: '<%subject%>'
              updated_at: '2014-03-19 18:56:33'
      security:
        - Authorization: []
  '/templates/{template_id}/versions/{version_id}/activate':
    parameters:
      - name: template_id
        in: path
        required: true
        type: string
      - name: version_id
        in: path
        required: true
        type: string
    post:
      summary: Activate a transactional template version.
      description: |-
        **This endpoint allows you to activate a version of one of your templates.**

        Each transactional template can have multiple versions, each version with its own subject and content. Each user can have up to 300 versions across across all templates.


        For more information about transactional templates, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Transactional_Templates/index.html).

        ## URI Parameters
        | URI Parameter | Type | Description |
        |---|---|---|
        | template_id | string | The ID of the original template |
        | version_id | string |  The ID of the template version |
      operationId: POST_templates-template_id-versions-version_id-activate
      consumes:
        - application/json
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              id:
                type: string
                description: The ID of the template version.
              updated_at:
                type: string
                description: The date and time that the version was last updated.
              Transactional Template Version:
                $ref: '#/definitions/transactional_template_version'
            required:
              - id
              - updated_at
          examples:
            application/json:
              id: 8aefe0ee-f12b-4575-b5b7-c97e21cb36f3
              template_id: e3a61852-1acb-4b32-a1bc-b44b3814ab78
              active: 1
              name: example_version_name
              html_content: '<%body%>'
              plain_content: '<%body%>'
              subject: '<%subject%>'
              updated_at: '2014-06-12 11:33:00'
      security:
        - Authorization: []
  '/whitelabel/domains/{domain_id}/subuser':
    parameters:
      - name: domain_id
        in: path
        required: true
        type: string
    post:
      summary: Associate a domain whitelabel with a given user.
      description: |-
        **This endpoint allows you to associate a specific domain whitelabel with a subuser.**

        A domain whitelabel allows you to remove the “via” or “sent on behalf of” message that your recipients see when they read your emails. Whitelabeling a domain allows you to replace sendgrid.net with your personal sending domain. You will be required to create a subdomain so that SendGrid can generate the DNS records which you must give to your host provider. If you choose to use Automated Security, SendGrid will provide you with 3 CNAME records. If you turn Automated Security off, you will be given 2 TXT records and 1 MX record.

        Domain whitelabels can be associated with (i.e. assigned to) subusers from a parent account. This functionality allows subusers to send mail using their parent's whitelabels. To associate a whitelabel with a subuser, the parent account must first create the whitelabel and validate it. The the parent may then associate the whitelabel via the subuser management tools.

        For more information on whitelabeling, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Settings/Whitelabel/index.html)

        ## URI Parameters
        | URI Parameter   | Type   | Description  |
        |---|---|---|
        | domain_id | integer   | ID of the domain whitelabel to associate with the subuser. |
      operationId: POST_whitelabel-domains-domain_id-subuser
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            type: object
            properties:
              username:
                type: string
                description: Username to associate with the domain whitelabel.
            required:
              - username
            example:
              username: jane@example.com
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/whitelabel:domain_spf'
          examples:
            application/json:
              id: 1
              domain: example.com
              subdomain: mail
              username: mail@example.com
              user_id: 7
              ips: []
              custom_spf: true
              default: false
              legacy: false
              automatic_security: false
              valid: false
              dns:
                mail_server:
                  host: mail.example.com
                  type: mx
                  data: sendgrid.net
                  valid: false
                subdomain_spf:
                  host: mail.example.com
                  type: txt
                  data: 'v=spf1 ip4:192.168.1.1 ip4:192.168.0.1 -all'
                  valid: false
                domain_spf:
                  host: example.com
                  type: txt
                  data: 'v=spf1 include:mail.example.com -all'
                  valid: false
                dkim:
                  host: s1._domainkey.example.com
                  type: txt
                  data: k=rsa; t=s; p=publicKey
                  valid: false
      security:
        - Authorization: []
  /whitelabel/domains/subuser:
    parameters: []
    get:
      tags:
        - Whitelabel - Domains
      summary: List the domain whitelabel associated with the given user.
      description: |-
        **This endpoint allows you to retrieve all of the whitelabels that have been assigned to a specific subuser.**

        A domain whitelabel allows you to remove the “via” or “sent on behalf of” message that your recipients see when they read your emails. Whitelabeling a domain allows you to replace sendgrid.net with your personal sending domain. You will be required to create a subdomain so that SendGrid can generate the DNS records which you must give to your host provider. If you choose to use Automated Security, SendGrid will provide you with 3 CNAME records. If you turn Automated Security off, you will be given 2 TXT records and 1 MX record.

        Domain whitelabels can be associated with (i.e. assigned to) subusers from a parent account. This functionality allows subusers to send mail using their parent's whitelabels. To associate a whitelabel with a subuser, the parent account must first create the whitelabel and validate it. The the parent may then associate the whitelabel via the subuser management tools.

        For more information on whitelabeling, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Settings/Whitelabel/index.html)

        ## URI Parameters
        | URI Parameter   | Type  | Description  |
        |---|---|---|
        | username | string  | Username of the subuser to find associated whitelabels for. |
      operationId: GET_whitelabel-domains-subuser
      consumes:
        - application/json
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/whitelabel:domain_spf'
          examples:
            application/json:
              id: 1
              domain: example.com
              subdomain: mail
              username: mail@example.com
              user_id: 7
              ips: []
              custom_spf: true
              default: false
              legacy: false
              automatic_security: false
              valid: false
              dns:
                mail_server:
                  host: mail.example.com
                  type: mx
                  data: sendgrid.net
                  valid: false
                subdomain_spf:
                  host: mail.example.com
                  type: txt
                  data: 'v=spf1 ip4:192.168.1.1 ip4:192.168.0.1 -all'
                  valid: false
                domain_spf:
                  host: example.com
                  type: txt
                  data: 'v=spf1 include:mail.example.com -all'
                  valid: false
                dkim:
                  host: s1._domainkey.example.com
                  type: txt
                  data: k=rsa; t=s; p=publicKey
                  valid: false
      security:
        - Authorization: []
    delete:
      tags:
        - Whitelabel - Domains
      summary: Disassociate a domain whitelabel from a given user.
      description: |-
        **This endpoint allows you to disassociate a specific whitelabel from a subuser.**

        A domain whitelabel allows you to remove the “via” or “sent on behalf of” message that your recipients see when they read your emails. Whitelabeling a domain allows you to replace sendgrid.net with your personal sending domain. You will be required to create a subdomain so that SendGrid can generate the DNS records which you must give to your host provider. If you choose to use Automated Security, SendGrid will provide you with 3 CNAME records. If you turn Automated Security off, you will be given 2 TXT records and 1 MX record.

        Domain whitelabels can be associated with (i.e. assigned to) subusers from a parent account. This functionality allows subusers to send mail using their parent's whitelabels. To associate a whitelabel with a subuser, the parent account must first create the whitelabel and validate it. The the parent may then associate the whitelabel via the subuser management tools.

        For more information on whitelabeling, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Settings/Whitelabel/index.html)

        ## URI Parameters
        | URI Parameter   | Type  | Required?  | Description  |
        |---|---|---|---|
        | username | string  | required  | Username for the subuser to find associated whitelabels for. |
      operationId: DELETE_whitelabel-domains-subuser
      consumes:
        - application/json
      produces: []
      parameters: []
      responses:
        '204':
          description: ''
          schema:
            type: object
      security:
        - Authorization: []
  '/whitelabel/domains/{id}/ips':
    parameters:
      - name: id
        in: path
        required: true
        type: string
    post:
      tags:
        - Whitelabel - Domains
      summary: Add an IP to a domain whitelabel.
      description: |-
        **This endpoint allows you to add an IP address to a domain whitelabel.**

        A domain whitelabel allows you to remove the “via” or “sent on behalf of” message that your recipients see when they read your emails. Whitelabeling a domain allows you to replace sendgrid.net with your personal sending domain. You will be required to create a subdomain so that SendGrid can generate the DNS records which you must give to your host provider. If you choose to use Automated Security, SendGrid will provide you with 3 CNAME records. If you turn Automated Security off, you will be given 2 TXT records and 1 MX record.

        For more information on whitelabeling, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Settings/Whitelabel/index.html)

        ## URI Parameters
        | URI Parameter   | Type  |  Description  |
        |---|---|---|
        | id | integer  | ID of the domain to which you are adding an IP |
      operationId: POST_whitelabel-domains-id-ips
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            type: object
            properties:
              ip:
                type: string
                description: IP to associate with the domain. Used for manually specifying IPs for custom SPF.
            required:
              - ip
            example:
              ip: 192.168.0.1
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/whitelabel:domain_spf'
          examples:
            application/json:
              id: 1
              domain: example.com
              subdomain: mail
              username: john@example.com
              user_id: 7
              ips: []
              custom_spf: true
              default: false
              legacy: false
              automatic_security: false
              valid: false
              dns:
                mail_server:
                  host: mail.example.com
                  type: mx
                  data: sendgrid.net
                  valid: false
                subdomain_spf:
                  host: mail.example.com
                  type: txt
                  data: 'v=spf1 ip4:192.168.1.1 ip4:192.168.0.1 -all'
                  valid: false
                domain_spf:
                  host: example.com
                  type: txt
                  data: 'v=spf1 include:mail.example.com -all'
                  valid: false
                dkim:
                  host: s1._domainkey.example.com
                  type: txt
                  data: k=rsa; t=s; p=publicKey
                  valid: false
      security:
        - Authorization: []
  '/whitelabel/links/{id}':
    parameters:
      - name: id
        in: path
        description: The id of the link whitelabel you want to retrieve.
        required: true
        type: integer
    get:
      tags:
        - Whitelabel - Links
      summary: Retrieve a Link Whitelabel
      description: |-
        **This endpoint allows you to retrieve a specific link whitelabel.**

        Email link whitelabels allow all of the click-tracked links you send in your emails to include the URL of your domain instead of sendgrid.net.

        For more information, please see our [User Guide](https://sendgrid.com/docs/API_Reference/Web_API_v3/Whitelabel/links.html).
      operationId: GET_whitelabel-links-id
      consumes:
        - application/json
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/link_whitelabel'
          examples:
            application/json:
              id: 1
              domain: example.com
              subdomain: mail
              username: john@example.com
              user_id: 7
              default: false
              valid: true
              legacy: false
              dns:
                domain_cname:
                  valid: true
                  type: cname
                  host: mail.example.com
                  data: sendgrid.net
                owner_cname:
                  valid: true
                  type: cname
                  host: 7.example.com
                  data: sendgrid.net
      security:
        - Authorization: []
    patch:
      tags:
        - Whitelabel - Links
      summary: Update a Link Whitelabel
      description: |-
        **This endpoint allows you to update a specific link whitelabel. You can use this endpoint to change a link whitelabel's default status.**

        Email link whitelabels allow all of the click-tracked links you send in your emails to include the URL of your domain instead of sendgrid.net.

        For more information, please see our [User Guide](https://sendgrid.com/docs/API_Reference/Web_API_v3/Whitelabel/links.html).
      operationId: PATCH_whitelabel-links-id
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            type: object
            properties:
              default:
                type: boolean
                description: 'Indicates if the link whitelabel is set as the default, or fallback, whitelabel.'
                enum:
                  - true
                  - false
            example:
              default: true
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/link_whitelabel'
          examples:
            application/json:
              id: 1
              domain: example.com
              subdomain: mail
              username: john@example.com
              user_id: 7
              default: true
              valid: true
              legacy: false
              dns:
                domain_cname:
                  valid: true
                  type: cname
                  host: mail.example.com
                  data: sendgrid.net
                owner_cname:
                  valid: true
                  type: cname
                  host: 7.example.com
                  data: sendgrid.net
      security:
        - Authorization: []
    delete:
      tags:
        - Whitelabel - Links
      summary: Delete a Link Whitelabel
      description: |-
        **This endpoint allows you to delete a link whitelabel.**

        Email link whitelabels allow all of the click-tracked links you send in your emails to include the URL of your domain instead of sendgrid.net.

        For more information, please see our [User Guide](https://sendgrid.com/docs/API_Reference/Web_API_v3/Whitelabel/links.html).
      operationId: DELETE_whitelabel-links-id
      consumes:
        - application/json
      produces: []
      parameters: []
      responses:
        '204':
          description: ''
          schema:
            type: object
      security:
        - Authorization: []
  '/whitelabel/domains/{domain_id}':
    parameters:
      - name: domain_id
        in: path
        description: The id of the domain whitelabel.
        required: true
        type: number
    patch:
      summary: Update a domain whitelabel.
      description: |-
        **This endpoint allows you to update the settings for a domain whitelabel.**

        A domain whitelabel allows you to remove the “via” or “sent on behalf of” message that your recipients see when they read your emails. Whitelabeling a domain allows you to replace sendgrid.net with your personal sending domain. You will be required to create a subdomain so that SendGrid can generate the DNS records which you must give to your host provider. If you choose to use Automated Security, SendGrid will provide you with 3 CNAME records. If you turn Automated Security off, you will be given 2 TXT records and 1 MX record.

        For more information on whitelabeling, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Settings/Whitelabel/index.html)
      operationId: PATCH_whitelabel-domains-domain_id
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            type: object
            properties:
              default:
                type: boolean
                default: false
                description: Indicates whether this domain whitelabel should be considered the default.
              custom_spf:
                type: boolean
                default: false
                description: Indicates whether to generate a custom SPF record for manual security.
            example:
              default: false
              custom_spf: true
      responses:
        '200':
          description: ''
          schema:
            title: Update a Domain response
            type: object
            properties:
              default false:
                description: Inidcates whether this domain whitelabel should be considered the default.  Defaults to false.
                type: boolean
              custom_spf false:
                description: Indicates whether to generate a custom SPF record for manual security.  Defaults to false.
                type: boolean
      security:
        - Authorization: []
    get:
      summary: Retrieve a domain whitelabel.
      description: |
        **This endpoint allows you to retrieve a specific domain whitelabel.**

        A domain whitelabel allows you to remove the “via” or “sent on behalf of” message that your recipients see when they read your emails. Whitelabeling a domain allows you to replace sendgrid.net with your personal sending domain. You will be required to create a subdomain so that SendGrid can generate the DNS records which you must give to your host provider. If you choose to use Automated Security, SendGrid will provide you with 3 CNAME records. If you turn Automated Security off, you will be given 2 TXT records and 1 MX record.

        For more information on whitelabeling, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Settings/Whitelabel/index.html)
      operationId: GET_whitelabel-domains-domain_id
      consumes:
        - application/json
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/whitelabel::domain'
      security:
        - Authorization: []
    delete:
      summary: Delete a domain whitelabel.
      description: |-
        **This endpoint allows you to delete a domain whitelabel.**

        A domain whitelabel allows you to remove the “via” or “sent on behalf of” message that your recipients see when they read your emails. Whitelabeling a domain allows you to replace sendgrid.net with your personal sending domain. You will be required to create a subdomain so that SendGrid can generate the DNS records which you must give to your host provider. If you choose to use Automated Security, SendGrid will provide you with 3 CNAME records. If you turn Automated Security off, you will be given 2 TXT records and 1 MX record.

        For more information on whitelabeling, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Settings/Whitelabel/index.html)
      operationId: DELETE_whitelabel-domains-domain_id
      consumes:
        - application/json
      produces: []
      parameters: []
      responses:
        '204':
          description: ''
          schema:
            type: object
      security:
        - Authorization: []
  /contactdb/lists:
    parameters: []
    delete:
      tags:
        - Contacts API - Lists
      summary: Delete Multiple lists
      description: |-
        **This endpoint allows you to delete multiple recipient lists.**

        The Contacts API helps you manage your [Marketing Campaigns](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/index.html) recipients.
      operationId: DELETE_contactdb-lists
      consumes:
        - application/json
      produces:
        - application/json
      parameters: []
      responses:
        '204':
          description: ''
          schema:
            type: 'null'
        '400':
          description: '"id" : "Returned if all list ids are not valid"'
          schema:
            $ref: '#/definitions/global:ErrorResponse'
          examples:
            application/json:
              errors:
                - field: null
                  message: list id was invalid
        '401':
          description: ''
          schema:
            $ref: '#/definitions/global:ErrorResponse'
          examples:
            application/json:
              errors:
                - field: null
                  message: authorization required
      security:
        - Authorization: []
    post:
      tags:
        - Contacts API - Lists
      summary: Create a List
      description: |-
        **This endpoint allows you to create a list for your recipients.**

        The Contacts API helps you manage your [Marketing Campaigns](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/index.html) recipients.
      operationId: POST_contactdb-lists
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            title: Create a List request
            type: object
            properties:
              name:
                type: string
            required:
              - name
            example:
              name: your list name
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/contactdb_list'
          examples:
            application/json:
              id: 1
              name: your list name
              recipient_count: 0
        '400':
          description: |-
            "name" : "Returned if list name is a duplicate of an existing list or segment"
            "name" : "Returned if list name is not a string"
            "" : "Returned if request body is invalid JSON"
          schema:
            $ref: '#/definitions/global:ErrorResponse'
          examples:
            application/json:
              errors:
                - field: null
                  message: Returned if request body is invalid JSON
                - field: name
                  message: Returned if list name is not a string
                - field: name
                  message: Returned if list name is a duplicate of an existing list or segment
        '401':
          description: ''
          schema:
            $ref: '#/definitions/global:ErrorResponse'
          examples:
            application/json:
              errors:
                - field: null
                  message: authorization required
      security:
        - Authorization: []
    get:
      tags:
        - Contacts API - Lists
      summary: Retrieve all lists
      description: |-
        **This endpoint allows you to retrieve all of your recipient lists. If you don't have any lists, an empty array will be returned.**

        The Contacts API helps you manage your [Marketing Campaigns](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/index.html) recipients.
      operationId: GET_contactdb-lists
      consumes:
        - application/json
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            title: List All Lists response
            type: object
            properties:
              lists:
                type: array
                items:
                  $ref: '#/definitions/contactdb_list'
            required:
              - lists
          examples:
            application/json:
              lists:
                - id: 1
                  name: the jones
                  recipient_count: 1
      security:
        - Authorization: []
  '/subusers/{subuser_name}/monitor':
    parameters:
      - name: subuser_name
        in: path
        required: true
        type: string
    post:
      summary: Create monitor settings
      description: Subuser monitor settings allow you to receive a sample of an outgoing message by a specific customer at a specific frequency of emails.
      operationId: POST_subusers-subuser_name-monitor
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            $ref: '#/definitions/monitor'
            example:
              email: example@example.com
              frequency: 50000
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/monitor'
          examples:
            application/json:
              email: example@example.com
              frequency: 50000
        '400':
          description: ''
          schema:
            $ref: '#/definitions/global:ErrorResponse'
          examples:
            application/json:
              errors:
                - field: null
                  message: User already has a monitor
        '401':
          description: ''
          schema:
            $ref: '#/definitions/global:ErrorResponse'
          examples:
            application/json:
              errors:
                - field: null
                  message: authorization required
      security:
        - Authorization: []
    delete:
      summary: Delete monitor settings
      description: Subuser monitor settings allow you to receive a sample of an outgoing message by a specific customer at a specific frequency of emails.
      operationId: DELETE_subusers-subuser_name-monitor
      consumes:
        - application/json
      produces:
        - application/json
      parameters: []
      responses:
        '204':
          description: ''
          schema:
            type: object
        '401':
          description: ''
          schema:
            $ref: '#/definitions/global:ErrorResponse'
          examples:
            application/json:
              errors:
                - field: null
                  message: authorization required
        '404':
          description: ''
          schema:
            $ref: '#/definitions/global:ErrorResponse'
          examples:
            application/json:
              errors:
                - field: null
                  message: No monitor settings for this user
    put:
      summary: Update Monitor Settings for a subuser
      description: Subuser monitor settings allow you to receive a sample of an outgoing message by a specific customer at a specific frequency of emails.
      operationId: PUT_subusers-subuser_name-monitor
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            $ref: '#/definitions/monitor'
            example:
              email: example@example.com
              frequency: 500
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/monitor'
          examples:
            application/json:
              email: example@example.com
              frequency: 500
        '400':
          description: ''
          schema:
            $ref: '#/definitions/global:ErrorResponse'
          examples:
            application/json:
              errors:
                - field: email
                  message: Email is required
        '401':
          description: ''
          schema:
            $ref: '#/definitions/global:ErrorResponse'
          examples:
            application/json:
              errors:
                - field: null
                  message: authorization required
      security:
        - Authorization: []
    get:
      summary: Retrieve monitor settings for a subuser
      description: Subuser monitor settings allow you to receive a sample of an outgoing message by a specific customer at a specific frequency of emails.
      operationId: GET_subusers-subuser_name-monitor
      consumes:
        - application/json
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/monitor'
          examples:
            application/json:
              email: example@example.com
              frequency: 500
        '401':
          description: ''
          schema:
            $ref: '#/definitions/global:ErrorResponse'
          examples:
            application/json:
              errors:
                - field: null
                  message: authorization required
        '404':
          description: ''
          schema:
            $ref: '#/definitions/global:ErrorResponse'
          examples:
            application/json:
              errors:
                - field: null
                  message: No monitor settings for this user
      security:
        - Authorization: []
  '/whitelabel/links/{link_id}/subuser':
    parameters:
      - name: link_id
        in: path
        description: The id of the link whitelabel you want to associate.
        required: true
        type: integer
    post:
      summary: Associate a Link Whitelabel
      description: |-
        **This endpoint allows you to associate a link whitelabel with a subuser account.**

        Link whitelables can be associated with subusers from the parent account. This functionality allows
        subusers to send mail using their parent's linke whitelabels. To associate a link whitelabel, the parent account
        must first create a whitelabel and validate it. The parent may then associate that whitelabel with a subuser via the API or the Subuser Management page in the user interface.

        Email link whitelabels allow all of the click-tracked links you send in your emails to include the URL of your domain instead of sendgrid.net.

        For more information, please see our [User Guide](https://sendgrid.com/docs/API_Reference/Web_API_v3/Whitelabel/links.html).
      operationId: POST_whitelabel-links-link_id-subuser
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            type: object
            properties:
              username:
                type: string
                description: The username of the subuser account that you want to associate the link whitelabel with.
            example:
              username: jane@example.com
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/link_whitelabel'
          examples:
            application/json:
              id: 1
              domain: example.com
              subdomain: mail
              username: john@example.com
              user_id: 7
              default: false
              valid: true
              legacy: false
              dns:
                domain_cname:
                  valid: true
                  type: cname
                  host: mail.example.com
                  data: sendgrid.net
                owner_cname:
                  valid: true
                  type: cname
                  host: 7.example.com
                  data: sendgrid.net
      security:
        - Authorization: []
  /whitelabel/links/subuser:
    parameters: []
    get:
      tags:
        - Whitelabel - Links
      summary: Retrieve Associated Link Whitelabel
      description: |-
        **This endpoint allows you to retrieve the associated link whitelabel for a subuser.**

        Link whitelables can be associated with subusers from the parent account. This functionality allows
        subusers to send mail using their parent's linke whitelabels. To associate a link whitelabel, the parent account
        must first create a whitelabel and validate it. The parent may then associate that whitelabel with a subuser via the API or the Subuser Management page in the user interface.

        Email link whitelabels allow all of the click-tracked links you send in your emails to include the URL of your domain instead of sendgrid.net.

        For more information, please see our [User Guide](https://sendgrid.com/docs/API_Reference/Web_API_v3/Whitelabel/links.html).
      operationId: GET_whitelabel-links-subuser
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: username
          in: query
          description: The username of the subuser to retrieve associated link whitelabels for.
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/link_whitelabel'
          examples:
            application/json:
              id: 1
              domain: example.com
              subdomain: mail
              username: john@example.com
              user_id: 7
              default: false
              valid: true
              legacy: false
              dns:
                domain_cname:
                  valid: true
                  type: cname
                  host: mail.example.com
                  data: sendgrid.net
                owner_cname:
                  valid: true
                  type: cname
                  host: 7.example.com
                  data: sendgrid.net
      security:
        - Authorization: []
    delete:
      tags:
        - Whitelabel - Links
      summary: Disassociate a Link Whitelabel
      description: |-
        **This endpoint allows you to disassociate a link whitelabel from a subuser.**

        Link whitelables can be associated with subusers from the parent account. This functionality allows
        subusers to send mail using their parent's linke whitelabels. To associate a link whitelabel, the parent account
        must first create a whitelabel and validate it. The parent may then associate that whitelabel with a subuser via the API or the Subuser Management page in the user interface.

        Email link whitelabels allow all of the click-tracked links you send in your emails to include the URL of your domain instead of sendgrid.net.

        For more information, please see our [User Guide](https://sendgrid.com/docs/API_Reference/Web_API_v3/Whitelabel/links.html).
      operationId: DELETE_whitelabel-links-subuser
      consumes:
        - application/json
      produces: []
      parameters:
        - name: username
          in: query
          description: The username of the subuser account that you want to disassociate a link whitelabel from.
          required: true
          type: string
      responses:
        '204':
          description: ''
          schema:
            type: object
      security:
        - Authorization: []
  /contactdb/segments:
    parameters: []
    get:
      tags:
        - Contacts API - Segments
      summary: Retrieve all segments
      description: |-
        **This endpoint allows you to retrieve all of your segments.**

        The Contacts API helps you manage your [Marketing Campaigns](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/index.html) recipients.

        For more information about segments in Marketing Campaigns, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/lists.html#-Create-a-Segment).
      operationId: GET_contactdb-segments
      consumes:
        - application/json
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            title: List All Segments response
            type: object
            properties:
              segments:
                type: array
                items:
                  $ref: '#/definitions/contactdb_segments'
            required:
              - segments
          examples:
            application/json:
              segments:
                - id: 1234
                  name: Age segments < 25
                  conditions:
                    - field: age
                      value: '25'
                      operator: lt
                  recipient_count: 8
                - id: 2345
                  name: email address - gmail
                  conditions:
                    - field: email
                      value: '@gmail.com'
                      operator: contains
                  recipient_count: 0
        '401':
          description: ''
          schema:
            $ref: '#/definitions/global:ErrorResponse'
          examples:
            application/json:
              errors:
                - field: null
                  message: authorization required
      security:
        - Authorization: []
    post:
      tags:
        - Contacts API - Segments
      summary: Create a Segment
      description: "**This endpoint allows you to create a segment.**\n\nAll recipients in your contactdb will be added or removed automatically depending on whether they match the criteria for this segment.\n\nList Id:\n\n* Send this to segment from an existing list\n* Don't send this in order to segment from your entire contactdb.\n\nValid operators for create and update depend on the type of the field you are segmenting: \n\n* **Dates:** \"eq\", \"ne\", \"lt\" (before), \"gt\" (after) \n* **Text:** \"contains\", \"eq\" (is - matches the full field), \"ne\" (is not - matches any field where the entire field is not the condition value) \n* **Numbers:** \"eq\", \"lt\", \"gt\" \n* **Email Clicks and Opens:** \"eq\" (opened), \"ne\" (not opened) \n\nSegment conditions using \"eq\" or \"ne\" for email clicks and opens should provide a \"field\" of either *clicks.campaign_identifier* or *opens.campaign_identifier*. The condition value should be a string containing the id of a completed campaign. \n\nSegments may contain multiple condtions, joined by an \"and\" or \"or\" in the \"and_or\" field. The first condition in the conditions list must have an empty \"and_or\", and subsequent conditions must all specify an \"and_or\".\n\nThe Contacts API helps you manage your [Marketing Campaigns](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/index.html) recipients.\n\nFor more information about segments in Marketing Campaigns, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/lists.html#-Create-a-Segment)."
      operationId: POST_contactdb-segments
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            $ref: '#/definitions/contactdb_segments'
            example:
              name: Last Name Miller
              list_id: 4
              conditions:
                - field: last_name
                  value: Miller
                  operator: eq
                  and_or: ''
                - field: last_clicked
                  value: 01/02/2015
                  operator: gt
                  and_or: and
                - field: clicks.campaign_identifier
                  value: '513'
                  operator: eq
                  and_or: or
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/contactdb_segments_with_id'
          examples:
            application/json:
              id: 1
              name: Last Name Miller
              list_id: 4
              conditions:
                - field: last_name
                  value: Miller
                  operator: eq
                  and_or: ''
                - field: last_clicked
                  value: 01/02/2015
                  operator: gt
                  and_or: and
                - field: clicks.campaign_identifier
                  value: '513'
                  operator: eq
                  and_or: or
              recipient_count: 0
        '400':
          description: |-
            "name" : "Returned if the name is not valid"
            "list_id" : "Returned if the list_id is not valid"
            "and_or" : "Returned if and_or and set value is not passed into the request body"
            "and_or" : "Returned if and_or is set on the only condition passed"
            "and_or" : "Returned if and_or is set on all conditions"
            "and_or" : "Returned if and_or is not set on more than one condition and less than all conditions"
            "operator" : "Returned if operator and set value is not passed into the request body"
            "value" : "Returned if value and set value is not passed into the request body"
            "field" : "Returned if field and set value is not passed into the request body"
            "" : "Returned if request body is not valid json"
            "" : "Returned if invalid value is passed into one of the request body parameters"
          schema:
            $ref: '#/definitions/global:ErrorResponse'
          examples:
            application/json:
              errors:
                - message: request body is not valid json
                - message: invalid value is passed into one of the request body parameters
                - field: field
                  message: field and set value is not passed into the request body
                - field: value
                  message: value and set value is not passed into the request body
                - field: operator
                  message: operator and set value is not passed into the request body
                - field: and_or
                  message: and_or is not set on more than one condition and less than all conditions
                - field: and_or
                  message: and_or is set on all conditions
                - field: and_or
                  message: and_or is set on the only condition passed
                - field: and_or
                  message: and_or and set value is not passed into the request body
                - field: list_id
                  message: the list_id is not valid
                - field: name
                  message: the name is not valid
        '401':
          description: ''
          schema:
            $ref: '#/definitions/global:ErrorResponse'
          examples:
            application/json:
              errors:
                - field: null
                  message: authorization required
      security:
        - Authorization: []
  '/contactdb/segments/{segment_id}':
    parameters:
      - name: segment_id
        in: path
        description: The ID of the segment that you want to delete.
        required: true
        type: string
    delete:
      summary: Delete a segment
      description: |-
        **This endpoint allows you to delete a segment from your recipients database.**

        You also have the option to delete all the contacts from your Marketing Campaigns recipient database who were in this segment.

        The Contacts API helps you manage your [Marketing Campaigns](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/index.html) recipients.

        For more information about segments in Marketing Campaigns, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/lists.html#-Create-a-Segment).
      operationId: DELETE_contactdb-segments-segment_id
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: delete_contacts
          in: query
          description: True to delete all contacts matching the segment in addition to deleting the segment
          type: boolean
      responses:
        '204':
          description: ''
          schema:
            type: 'null'
        '400':
          description: |-
            "segment_id" : "Returned if segment_id is not valid"
            "delete_contacts" : "Returned if delete_contacts is not a valid boolean"
          schema:
            $ref: '#/definitions/global:ErrorResponse'
          examples:
            application/json:
              errors:
                - field: segment_id
                  message: Returned if segment_id is not valid
                - field: delete_contacts
                  message: Returned if delete_contacts is not a valid boolean
        '401':
          description: ''
          schema:
            $ref: '#/definitions/global:ErrorResponse'
          examples:
            application/json:
              errors:
                - field: null
                  message: authorization required
        '404':
          description: '"segment_id" : "Returned if segment_id does not exist"'
          schema:
            $ref: '#/definitions/global:ErrorResponse'
          examples:
            application/json:
              errors:
                - field: segment_id
                  message: segment_id does not exist
      security:
        - Authorization: []
    get:
      summary: Retrieve a segment
      description: |-
        **This endpoint allows you to retrieve a single segment with the given ID.**

        The Contacts API helps you manage your [Marketing Campaigns](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/index.html) recipients.

        For more information about segments in Marketing Campaigns, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/lists.html#-Create-a-Segment).
      operationId: GET_contactdb-segments-segment_id
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: segment_id
          in: query
          description: The ID of the segment you want to request.
          required: true
          type: number
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/contactdb_segments'
          examples:
            application/json:
              id: 1
              name: Last Name Miller
              list_id: 4
              conditions:
                - field: last_name
                  value: Miller
                  operator: eq
                  and_or: ''
              recipient_count: 1
        '400':
          description: '"segment_id" : "Returned if segment_id is not valid"'
          schema:
            $ref: '#/definitions/global:ErrorResponse'
          examples:
            application/json:
              errors:
                - message: if segment_id is not valid
        '401':
          description: ''
          schema:
            $ref: '#/definitions/global:ErrorResponse'
          examples:
            application/json:
              errors:
                - field: null
                  message: authorization required
        '404':
          description: '"segment_id" : "Returned if segment_id does not exist"'
          schema:
            $ref: '#/definitions/global:ErrorResponse'
          examples:
            application/json:
              errors:
                - message: segment_id not found
      security:
        - Authorization: []
    patch:
      summary: Update a segment
      description: |-
        **This endpoint allows you to update a segment.**

        The Contacts API helps you manage your [Marketing Campaigns](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/index.html) recipients.

        For more information about segments in Marketing Campaigns, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/lists.html#-Create-a-Segment).
      operationId: PATCH_contactdb-segments-segment_id
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: segment_id
          in: query
          description: The ID of the segment you are updating.
          type: string
        - name: body
          in: body
          schema:
            type: object
            properties:
              name:
                type: string
              list_id:
                type: number
                description: The list ID you would like this segment to be built from.
              conditions:
                type: array
                description: The conditions by which this segment should be created.
                items:
                  $ref: '#/definitions/contactdb_segments_conditions'
            required:
              - name
            example:
              name: The Millers
              list_id: 5
              conditions:
                - field: last_name
                  value: Miller
                  operator: eq
                  and_or: ''
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/contactdb_segments'
          examples:
            application/json:
              id: 5
              name: The Millers
              list_id: 5
              conditions:
                - field: last_name
                  value: Miller
                  operator: eq
                  and_or: ''
              recipient_count: 1
        '400':
          description: ''
          schema:
            $ref: '#/definitions/global:ErrorResponse'
          examples:
            application/json:
              errors:
                - message: request body is not valid json
                - message: invalid value is passed into one of the request body parameters
                - segment_id: segment_id
                  message: segment id is not valid
                - field: field
                  message: field and set value is not passed into the request body
                - field: value
[...]
