swagger: '2.0'
schemes:
  - http
  - https
host: api.sendgrid.com
basePath: /v3
info:
  title: SendGrid V3
  version: '3.0'
  x-logo:
    url: 'https://assets3.sendgrid.com/mkt/assets/logos_brands/small/sglogo_2015_blue-9c87423c2ff2ff393ebce1ab3bd018a4.png'
  x-origin:
    format: swagger
    url: 'https://raw.githubusercontent.com/sendgrid/sendgrid-swagger/master/swagger.json'
    version: '2.0'
  x-providerName: sendgrid.com
externalDocs:
  url: 'https://sendgrid.com/docs/API_Reference/Web_API_v3/index.html'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  Authorization:
    in: header
    name: Authorization
    type: apiKey
paths:
  /access_settings/activity:
    get:
      consumes:
        - application/json
      description: |-
        **This endpoint allows you to retrieve a list of all of the IP addresses that recently attempted to access your account either through the User Interface or the API.**

        IP Access Management allows you to control which IP addresses can be used to access your account, either through the User Interface or the API. There is no limit to the number of IP addresses that you can add to your whitelist. It is possible to remove your own IP address from the whitelist, thus preventing yourself from accessing your account.

        For more information, please see our [User Guide](http://sendgrid.com/docs/User_Guide/Settings/ip_access_management.html).
      operationId: GET_access_settings-activity
      parameters:
        - default: 20
          description: Limits the number of IPs to return.
          in: query
          name: limit
          type: integer
      produces:
        - application/json
      responses:
        '200':
          description: ''
          examples:
            application/json:
              result:
                - allowed: false
                  auth_method: basic
                  first_at: 1444087966
                  ip: 1.1.1.1
                  last_at: 1444406672
                  location: Australia
                - allowed: false
                  auth_method: basic
                  first_at: 1444087505
                  ip: 1.2.3.48
                  last_at: 1444087505
                  location: 'Mukilteo, Washington'
          schema:
            properties:
              result:
                description: An array containing the IPs that recently attempted to access your account.
                items:
                  properties:
                    allowed:
                      description: Indicates if the IP address was granted access to the account.
                      type: boolean
                    auth_method:
                      description: The authentication method used when attempting access.
                      type: string
                    first_at:
                      description: A Unix timestamp indicating when the first access attempt was made.
                      type: integer
                    ip:
                      description: The IP addressed used during the access attempt.
                      type: string
                    last_at:
                      description: A Unix timestamp indicating when the most recent access attempt was made
                      type: integer
                    location:
                      description: The geographic location from which the access attempt originated.
                      type: string
                  required:
                    - allowed
                    - auth_method
                    - first_at
                    - ip
                    - last_at
                    - location
                  type: object
                type: array
            required:
              - result
            type: object
      security:
        - Authorization: []
      summary: Retrieve all recent access attempts
    parameters: []
  /access_settings/whitelist:
    delete:
      consumes:
        - application/json
      description: |-
        **This endpoint allows you to remove one or more IPs from your IP whitelist.**

        You can remove one IP at a time, or you can remove multiple IP addresses.

        IP Access Management allows you to control which IP addresses can be used to access your account, either through the User Interface or the API. There is no limit to the number of IP addresses that you can add to your whitelist. It is possible to remove your own IP address from the whitelist, thus preventing yourself from accessing your account.

        For more information, please see our [User Guide](http://sendgrid.com/docs/User_Guide/Settings/ip_access_management.html).
      operationId: DELETE_access_settings-whitelist
      parameters:
        - in: body
          name: body
          schema:
            example:
              ids:
                - 1
                - 2
                - 3
            properties:
              ids:
                description: An array of the IDs of the IP address that you want to remove from your whitelist.
                items:
                  type: integer
                type: array
            type: object
      produces: []
      responses:
        '204':
          description: ''
          schema:
            properties: {}
            type: object
      security:
        - Authorization: []
      summary: Remove one or more IPs from the whitelist
    get:
      consumes:
        - application/json
      description: |-
        **This endpoint allows you to retrieve a list of IP addresses that are currently whitelisted.**

        IP Access Management allows you to control which IP addresses can be used to access your account, either through the User Interface or the API. There is no limit to the number of IP addresses that you can add to your whitelist. It is possible to remove your own IP address from the whitelist, thus preventing yourself from accessing your account.

        For more information, please see our [User Guide](http://sendgrid.com/docs/User_Guide/Settings/ip_access_management.html).
      operationId: GET_access_settings-whitelist
      parameters: []
      produces:
        - application/json
      responses:
        '200':
          description: ''
          examples:
            application/json:
              result:
                - created_at: 1441824715
                  id: 1
                  ip: 192.168.1.1/32
                  updated_at: 1441824715
                - created_at: 1441824715
                  id: 2
                  ip: 192.168.1.2/32
                  updated_at: 1441824715
                - created_at: 1441824715
                  id: 3
                  ip: 192.168.1.3/32
                  updated_at: 1441824715
          schema:
            properties:
              result:
                description: An array listing all of your whitelisted IPs.
                items:
                  properties:
                    created_at:
                      description: A Unix timestamp indicating when the IP was whitelisted.
                      type: integer
                    id:
                      description: The ID of the whitelisted IP.
                      type: integer
                    ip:
                      description: The whitelisted IP.
                      type: string
                    updated_at:
                      description: A Unix timestamp indicating when the IPs whitelisting status was most recently updated.
                      type: integer
                  required:
                    - id
                    - ip
                    - created_at
                    - updated_at
                  type: object
                type: array
            required:
              - result
            type: object
      security:
        - Authorization: []
      summary: Retrieve a list of currently whitelisted IPs
    parameters: []
    post:
      consumes:
        - application/json
      description: |-
        **This endpoint allows you to add one or more IP addresses to your IP whitelist.**

        When adding an IP to your whitelist, include the IP address in an array. You can whitelist one IP at a time, or you can whitelist multiple IPs at once.

        IP Access Management allows you to control which IP addresses can be used to access your account, either through the User Interface or the API. There is no limit to the number of IP addresses that you can add to your whitelist. It is possible to remove your own IP address from the whitelist, thus preventing yourself from accessing your account.

        For more information, please see our [User Guide](http://sendgrid.com/docs/User_Guide/Settings/ip_access_management.html).
      operationId: POST_access_settings-whitelist
      parameters:
        - in: body
          name: body
          schema:
            example:
              ips:
                - ip: 192.168.1.1
                - ip: 192.*.*.*
                - ip: 192.168.1.3/32
            properties:
              ips:
                description: An array containing the IP(s) you want to whitelist.
                items:
                  properties:
                    ip:
                      description: An IP address that you want to whitelist.
                      type: string
                  required:
                    - ip
                  type: object
                type: array
            required:
              - ips
            type: object
      produces:
        - application/json
      responses:
        '201':
          description: ''
          examples:
            application/json:
              result:
                - created_at: 1441824715
                  id: 1
                  ip: 192.168.1.1/32
                  updated_at: 1441824715
                - created_at: 1441824715
                  id: 2
                  ip: 192.0.0.0/8
                  updated_at: 1441824715
                - created_at: 1441824715
                  id: 3
                  ip: 192.168.1.3/32
                  updated_at: 1441824715
          schema:
            properties:
              result:
                description: An array listing all of your whitelisted IPs.
                items:
                  properties:
                    created_at:
                      description: A Unix timestamp indicating when the IP was whitelisted.
                      type: integer
                    id:
                      description: The ID of the whitelisted IP.
                      type: integer
                    ip:
                      description: The whitelisted IP.
                      type: string
                    updated_at:
                      description: A Unix timestamp indicating when the IPs whitelisting status was most recently updated.
                      type: integer
                  required:
                    - id
                    - ip
                    - created_at
                    - updated_at
                  type: object
                type: array
            required:
              - result
            type: object
      security:
        - Authorization: []
      summary: Add one or more IPs to the whitelist
  '/access_settings/whitelist/{rule_id}':
    delete:
      consumes:
        - application/json
      description: |-
        **This endpoint allows you to remove a specific IP address from your IP whitelist.**

        When removing a specific IP address from your whitelist, you must include the ID in your call.

        IP Access Management allows you to control which IP addresses can be used to access your account, either through the User Interface or the API. There is no limit to the number of IP addresses that you can add to your whitelist. It is possible to remove your own IP address from the whitelist, thus preventing yourself from accessing your account.

        For more information, please see our [User Guide](http://sendgrid.com/docs/User_Guide/Settings/ip_access_management.html).
      operationId: DELETE_access_settings-whitelist-rule_id
      parameters: []
      produces: []
      responses:
        '204':
          description: ''
          schema:
            properties: {}
            type: object
      security:
        - Authorization: []
      summary: Remove a specific IP from the whitelist
    get:
      consumes:
        - application/json
      description: |-
        **This endpoint allows you to retreive a specific IP address that has been whitelisted.**

        You must include the ID for the specific IP address you want to retrieve in your call.

        IP Access Management allows you to control which IP addresses can be used to access your account, either through the User Interface or the API. There is no limit to the number of IP addresses that you can add to your whitelist. It is possible to remove your own IP address from the whitelist, thus preventing yourself from accessing your account.

        For more information, please see our [User Guide](http://sendgrid.com/docs/User_Guide/Settings/ip_access_management.html).
      operationId: GET_access_settings-whitelist-rule_id
      parameters: []
      produces:
        - application/json
      responses:
        '200':
          description: ''
          examples:
            application/json:
              created_at: 1441824715
              id: 1
              ip: 192.168.1.1
              updated_at: 1441824715
          schema:
            properties:
              created_at:
                description: A Unix timestamp indicating when the IP was whitelisted.
                type: integer
              id:
                description: The ID of the IP address.
                type: integer
              ip:
                description: The IP address.
                type: string
              updated_at:
                description: A Unix timestamp indicating when the IP address was last updated.
                type: integer
            required:
              - id
              - ip
              - created_at
              - updated_at
            type: object
      security:
        - Authorization: []
      summary: Retrieve a specific whitelisted IP
    parameters:
      - description: The ID of the whitelisted IP address that you want to retrieve.
        in: path
        name: rule_id
        required: true
        type: string
  /api_keys:
    get:
      consumes:
        - application/json
      description: |-
        **This endpoint allows you to retrieve all API Keys that belong to the authenticated user.**

        The API Keys feature allows customers to be able to generate an API Key credential which can be used for authentication with the SendGrid v3 Web API or the [Mail API Endpoint](https://sendgrid.com/docs/API_Reference/Web_API/mail.html).
      operationId: GET_api_keys
      parameters: []
      produces:
        - application/json
      responses:
        '200':
          description: ''
          examples:
            application/json:
              result:
                - api_key_id: some-apikey-id
                  name: API Key Name
                - api_key_id: another-apikey-id
                  name: API Key Name 2
          schema:
            properties:
              result:
                items:
                  $ref: '#/definitions/api_key_name_id'
                type: array
            type: object
        '401':
          description: ''
          examples:
            application/json:
              errors:
                - message: authorization required
          schema:
            $ref: '#/definitions/global:ErrorResponse'
      security:
        - Authorization: []
      summary: Retrieve all API Keys belonging to the authenticated user
    parameters: []
    post:
      consumes:
        - application/json
      description: |-
        **This enpoint allows you to create a new random API Key for the user.**

        A JSON request body containing a "name" property is required. If number of maximum keys is reached, HTTP 403 will be returned.

        There is a limit of 100 API Keys on your account.

        The API Keys feature allows customers to be able to generate an API Key credential which can be used for authentication with the SendGrid v3 Web API or the [Mail API Endpoint](https://sendgrid.com/docs/API_Reference/Web_API/mail.html).

        See the [API Key Permissions List](https://sendgrid.com/docs/API_Reference/Web_API_v3/API_Keys/api_key_permissions_list.html) for a list of all available scopes.
      operationId: create-api-keys
      parameters:
        - in: body
          name: body
          schema:
            example:
              name: My API Key
              scopes:
                - mail.send
                - alerts.create
                - alerts.read
            properties:
              name:
                description: The name you will use to describe this API Key.
                type: string
              scopes:
                description: The individual permissions that you are giving to this API Key.
                items:
                  type: string
                type: array
            required:
              - name
            type: object
      produces:
        - application/json
      responses:
        '201':
          description: ''
          examples:
            application/json:
              api_key: SG.xxxxxxxx.yyyyyyyy
              api_key_id: xxxxxxxx
              name: My API Key
              scopes:
                - mail.send
                - alerts.create
                - alerts.read
          schema:
            properties:
              api_key:
                type: string
              api_key_id:
                type: string
              name:
                type: string
              scopes:
                items:
                  type: string
                type: array
            type: object
        '400':
          description: ''
          examples:
            application/json:
              errors:
                - field: name
                  message: missing required argument
          schema:
            $ref: '#/definitions/global:ErrorResponse'
        '401':
          description: ''
          examples:
            application/json:
              errors:
                - message: authorization required
          schema:
            $ref: '#/definitions/global:ErrorResponse'
        '403':
          description: ''
          examples:
            application/json:
              errors:
                - message: Cannot create more than 100 API Keys
          schema:
            $ref: '#/definitions/global:ErrorResponse'
      security:
        - Authorization: []
      summary: Create API keys
      tags:
        - API Keys
  '/api_keys/{api_key_id}':
    delete:
      consumes:
        - application/json
      description: |-
        **This endpoint allows you to revoke an existing API Key**

        Authentications using this API Key will fail after this request is made, with some small propogation delay.If the API Key ID does not exist an HTTP 404 will be returned.

        The API Keys feature allows customers to be able to generate an API Key credential which can be used for authentication with the SendGrid v3 Web API or the [Mail API Endpoint](https://sendgrid.com/docs/API_Reference/Web_API/mail.html).

        ## URI Parameters

        | URI Parameter   | Type  | Required?  | Description  |
        |---|---|---|---|
        |api_key_id |string | required | The ID of the API Key you are deleting.|
      operationId: DELETE_api_keys-api_key_id
      parameters: []
      produces:
        - application/json
      responses:
        '204':
          description: ''
          schema:
            type: 'null'
        '404':
          description: ''
          examples:
            application/json:
              errors:
                - message: unable to find API Key
          schema:
            $ref: '#/definitions/global:ErrorResponse'
      security:
        - Authorization: []
      summary: Delete API keys
    get:
      consumes:
        - application/json
      description: |-
        **This endpoint allows you to retrieve a single api key.**

        If the API Key ID does not exist an HTTP 404 will be returned.
      operationId: GET_api_keys-api_key_id
      parameters: []
      produces:
        - application/json
      responses:
        '200':
          description: ''
          examples:
            application/json:
              result:
                - api_key_id: some-apikey-id
                  name: API Key Name
                - api_key_id: another-apikey-id
                  name: API Key Name 2
          schema:
            properties:
              result:
                items:
                  $ref: '#/definitions/api_key_name_id_scopes'
                type: array
            type: object
        '401':
          description: ''
          examples:
            application/json:
              errors:
                - message: authorization required
          schema:
            $ref: '#/definitions/global:ErrorResponse'
        '404':
          description: Unexpected error in API call. See HTTP response body for details.
          examples:
            application/json:
              errors:
                - message: unable to find API Key
          schema:
            type: object
      security:
        - Authorization: []
      summary: Retrieve an existing API Key
    parameters:
      - in: path
        name: api_key_id
        required: true
        type: string
    patch:
      consumes:
        - application/json
      description: |-
        **This endpoint allows you to update the name of an existing API Key.**

        A JSON request body with a "name" property is required.

        The API Keys feature allows customers to be able to generate an API Key credential which can be used for authentication with the SendGrid v3 Web API or the [Mail API Endpoint](https://sendgrid.com/docs/API_Reference/Web_API/mail.html).

        ## URI Parameters

        | URI Parameter   | Type  | Required?  | Description  |
        |---|---|---|---|
        |api_key_id |string | required | The ID of the API Key you are updating.|
      operationId: PATCH_api_keys-api_key_id
      parameters:
        - in: body
          name: body
          schema:
            example:
              name: A New Hope
            properties:
              name:
                description: The new name of the API Key.
                type: string
            type: object
      produces:
        - application/json
      responses:
        '200':
          description: ''
          examples:
            application/json:
              api_key_id: qfTQ6KG0QBiwWdJ0-pCLCA
              name: A New Hope
          schema:
            $ref: '#/definitions/api_key_name_id'
        '401':
          description: ''
          examples:
            application/json:
              errors:
                - message: authorization required
          schema:
            $ref: '#/definitions/global:ErrorResponse'
      security:
        - Authorization: []
      summary: Update API keys
    put:
      consumes:
        - application/json
      description: |
        **This endpoint allows you to update the name and scopes of a given API key.**

        A JSON request body with a "name" property is required.
        Most provide the list of all the scopes an api key should have.

        The API Keys feature allows customers to be able to generate an API Key credential which can be used for authentication with the SendGrid v3 Web API or the [Mail API Endpoint](https://sendgrid.com/docs/API_Reference/Web_API/mail.html).
      operationId: PUT_api_keys-api_key_id
      parameters:
        - in: body
          name: body
          schema:
            example:
              name: A New Hope
              scopes:
                - user.profile.read
                - user.profile.update
            properties:
              name:
                type: string
              scopes:
                items:
                  type: string
                type: array
            type: object
      produces:
        - application/json
      responses:
        '200':
          description: ''
          examples:
            application/json:
              api_key_id: qfTQ6KG0QBiwWdJ0-pCLCA
              name: A New Hope
              scopes:
                - user.profile.read
                - user.profile.update
          schema:
            $ref: '#/definitions/api_key_name_id_scopes'
        '400':
          description: Unexpected error in API call. See HTTP response body for details.
          examples:
            application/json:
              errors:
                - message: expected JSON request body with 'name' property
          schema:
            $ref: '#/definitions/global:ErrorResponse'
        '401':
          description: ''
          schema:
            type: object
        '404':
          description: Unexpected error in API call. See HTTP response body for details.
          examples:
            application/json:
              errors:
                - message: unable to find API Key to update
          schema:
            $ref: '#/definitions/global:ErrorResponse'
      security:
        - Authorization: []
      summary: Update the name & scopes of an API Key
  /asm/groups:
    get:
      consumes:
        - application/json
      description: |-
        **This endpoint allows you to retrieve a list of all suppression groups created by this user.**

        Suppression groups, or unsubscribe groups, are specific types or categories of email that you would like your recipients to be able to unsubscribe from. For example: Daily Newsletters, Invoices, System Alerts.

        The **name** and **description** of the unsubscribe group will be visible by recipients when they are managing their subscriptions.

        Each user can create up to 25 different suppression groups.
      operationId: GET_asm-groups
      parameters: []
      produces:
        - application/json
      responses:
        '200':
          description: ''
          examples:
            application/json:
              - description: An Unsubscribe Group
                id: 1234
                is_default: true
                name: Unsubscribe Group
                unsubscribes: 1234
              - description: An Unsubscribe Group
                id: 1234
                is_default: true
                name: Unsubscribe Group
                unsubscribes: 1234
          schema:
            items:
              $ref: '#/definitions/suppression_group_unsubscribes'
            type: array
      security:
        - Authorization: []
      summary: Retrieve all suppression groups associated with the user.
      tags:
        - Suppression Management - Unsubscribe Groups
    parameters: []
    post:
      consumes:
        - application/json
      description: |-
        **This endoint allows you to create a new suppression group.**

        Suppression groups, or unsubscribe groups, are specific types or categories of email that you would like your recipients to be able to unsubscribe from. For example: Daily Newsletters, Invoices, System Alerts.

        The **name** and **description** of the unsubscribe group will be visible by recipients when they are managing their subscriptions.

        Each user can create up to 25 different suppression groups.
      operationId: POST_asm-groups
      parameters:
        - in: body
          name: body
          schema:
            example:
              description: A group description
              is_default: false
              name: A group name
            properties:
              description:
                description: A description of the suppression group.
                maxLength: 100
                type: string
              is_default:
                default: false
                description: Indicates if this is the default suppression group.
                type: boolean
              name:
                description: The name of the new suppression group. May not share its name with any other suppression group on the user.
                maxLength: 30
                type: string
            required:
              - name
              - description
            title: Create a Group request
            type: object
      produces:
        - application/json
      responses:
        '200':
          description: ''
          examples:
            application/json:
              description: A group description
              id: 1234
              is_default: false
              name: A group name
          schema:
            $ref: '#/definitions/suppression_group'
      security:
        - Authorization: []
      summary: Create a Group
      tags:
        - Suppression Management - Unsubscribe Groups
  '/asm/groups/{group_id}':
    delete:
      consumes:
        - application/json
      description: |-
        **This endpoint allows you to delete a suppression group.**

        You can only delete groups that have not been attached to sent mail in the last 60 days. If a recipient uses the "one-click unsubscribe" option on an email associated with a deleted group, that recipient will be added to the global suppression list.

        Suppression groups, or unsubscribe groups, are specific types or categories of email that you would like your recipients to be able to unsubscribe from. For example: Daily Newsletters, Invoices, System Alerts.

        The **name** and **description** of the unsubscribe group will be visible by recipients when they are managing their subscriptions.

        Each user can create up to 25 different suppression groups.
      operationId: DELETE_asm-groups-group_id
      parameters: []
      produces:
        - application/json
      responses:
        '204':
          description: ''
          schema:
            type: object
      security:
        - Authorization: []
      summary: Delete a suppression group.
    get:
      consumes:
        - application/json
      description: |-
        **This endpoint allows you to retrieve a single suppression group.**

        Suppression groups, or unsubscribe groups, are specific types or categories of email that you would like your recipients to be able to unsubscribe from. For example: Daily Newsletters, Invoices, System Alerts.

        The **name** and **description** of the unsubscribe group will be visible by recipients when they are managing their subscriptions.

        Each user can create up to 25 different suppression groups.
      operationId: GET_asm-groups-group_id
      parameters: []
      produces:
        - application/json
      responses:
        '200':
          description: ''
          examples:
            application/json:
              description: Our monthly newsletter.
              id: 100
              is_default: true
              name: Newsletters
              unsubscribes: 400
          schema:
            allOf:
              - $ref: '#/definitions/suppression_group'
              - properties:
                  unsubscribes:
                    description: The unsubscribes associated with this group.
                    type: integer
            type: object
      security:
        - Authorization: []
      summary: Get information on a single suppression group.
    parameters:
      - description: The id of the suppression group you want to delete.
        in: path
        name: group_id
        required: true
        type: integer
    patch:
      consumes:
        - application/json
      description: |-
        **This endpoint allows you to update or change a suppression group.**

        Suppression groups, or unsubscribe groups, are specific types or categories of email that you would like your recipients to be able to unsubscribe from. For example: Daily Newsletters, Invoices, System Alerts.

        The **name** and **description** of the unsubscribe group will be visible by recipients when they are managing their subscriptions.

        Each user can create up to 25 different suppression groups.
      operationId: PATCH_asm-groups-group_id
      parameters:
        - in: body
          name: body
          schema:
            properties:
              description:
                description: The description of the suppression group.
                maxLength: 100
                type: string
              id:
                description: The id of the suppression group.
                type: number
              is_default:
                description: Indicates if the suppression group is set as the default group.
                type: boolean
              name:
                description: The name of the suppression group. Each group created by a user must have a unique name.
                maxLength: 30
                type: string
            required:
              - name
            type: object
      produces:
        - application/json
      responses:
        '201':
          description: ''
          examples:
            application/json:
              description: Suggestions for items our users might like.
              id: 103
              name: Item Suggestions
          schema:
            $ref: '#/definitions/suppression_group'
      summary: Update a suppression group.
  '/asm/groups/{group_id}/suppressions':
    get:
      consumes:
        - application/json
      description: |-
        **This endpoint allows you to retrieve all suppressed email addresses belonging to the given group.**

        Suppressions are recipient email addresses that are added to [unsubscribe groups](https://sendgrid.com/docs/API_Reference/Web_API_v3/Suppression_Management/groups.html). Once a recipient's address is on the suppressions list for an unsubscribe group, they will not receive any emails that are tagged with that unsubscribe group.
      operationId: GET_asm-groups-group_id-suppressions
      parameters: []
      produces:
        - application/json
      responses:
        '200':
          description: ''
          examples:
            application/json:
              - example@example.com
              - example2@example.com
          schema:
            items:
              type: string
            type: array
      security:
        - Authorization: []
      summary: Retrieve all suppressions for a suppression group
    parameters:
      - description: The id of the suppression group that you are retrieving email addresses from.
        in: path
        name: group_id
        required: true
        type: string
    post:
      consumes:
        - application/json
      description: |-
        **This endpoint allows you to add email addresses to an unsubscribe group.**

        If you attempt to add suppressions to a group that has been deleted or does not exist, the suppressions will be added to the global suppressions list.

        Suppressions are recipient email addresses that are added to [unsubscribe groups](https://sendgrid.com/docs/API_Reference/Web_API_v3/Suppression_Management/groups.html). Once a recipient's address is on the suppressions list for an unsubscribe group, they will not receive any emails that are tagged with that unsubscribe group.
      operationId: POST_asm-groups-group_id-suppressions
      parameters:
        - in: body
          name: body
          schema:
            example:
              recipient_emails:
                - test1@example.com
                - test2@example.com
            properties:
              recipient_emails:
                description: The email address that you want to add to the unsubscribe group.
                items:
                  type: string
                type: array
            required:
              - recipient_emails
            type: object
      produces:
        - application/json
      responses:
        '201':
          description: ''
          examples:
            application/json:
              recipient_emails:
                - test1@example.com
                - test2@example.com
          schema:
            properties:
              recipient_emails:
                description: The email address that were added to the suppressions list.
                items:
                  type: string
                type: array
            type: object
      security:
        - Authorization: []
      summary: Add suppressions to a suppression group
  '/asm/groups/{group_id}/suppressions/{email}':
    delete:
      consumes:
        - application/json
      description: |-
        **This endpoint allows you to remove a suppressed email address from the given suppression group.**

        Suppressions are recipient email addresses that are added to [unsubscribe groups](https://sendgrid.com/docs/API_Reference/Web_API_v3/Suppression_Management/groups.html). Once a recipient's address is on the suppressions list for an unsubscribe group, they will not receive any emails that are tagged with that unsubscribe group.
      operationId: DELETE_asm-groups-group_id-suppressions-email
      parameters: []
      produces: []
      responses:
        '204':
          description: ''
          schema:
            type: 'null'
      security:
        - Authorization: []
      summary: Delete a suppression from a suppression group
    parameters:
      - description: The id of the suppression group that you are removing an email address from.
        in: path
        name: group_id
        required: true
        type: string
      - description: The email address that you want to remove from the suppression group.
        in: path
        name: email
        required: true
        type: string
  /asm/suppressions/global:
    parameters: []
    post:
      consumes:
        - application/json
      description: |-
        **This endpoint allows you to add one or more email addresses to the global suppressions group.**

        A global suppression (or global unsubscribe) is an email address of a recipient who does not want to receive any of your messages. A globally suppressed recipient will be removed from any email you send. For more information, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Suppressions/global_unsubscribes.html).
      operationId: POST_asm-suppressions-global
      parameters:
        - in: body
          name: body
          schema:
            example:
              recipient_emails:
                - test1@example.com
                - test2@example.com
            properties:
              recipient_emails:
                description: 'The email address, or addresses, that you want to add to the global suppressions group.'
                items:
                  type: string
                type: array
            type: object
      produces:
        - application/json
      responses:
        '201':
          description: ''
          examples:
            application/json:
              recipient_emails:
                - test1@example.com
                - test2@example.com
          schema:
            properties:
              recipient_emails:
                description: The email addresses that are globally suppressed
                items:
                  type: string
                type: array
            required:
              - recipient_emails
            type: object
      security:
        - Authorization: []
      summary: Add recipient addresses to the global suppression group.
      tags:
        - Suppression Management - Global Suppressions
  '/asm/suppressions/global/{email}':
    delete:
      consumes:
        - application/json
      description: |-
        **This endpoint allows you to remove an email address from the global suppressions group.**

        A global suppression (or global unsubscribe) is an email address of a recipient who does not want to receive any of your messages. A globally suppressed recipient will be removed from any email you send. For more information, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Suppressions/global_unsubscribes.html).
      operationId: DELETE_asm-suppressions-global-email
      parameters: []
      produces: []
      responses:
        '204':
          description: ''
          schema:
            type: object
      security:
        - Authorization: []
      summary: Delete a Global Suppression
      tags:
        - Suppression Management - Global Suppressions
    get:
      consumes:
        - application/json
      description: |-
        **This endpoint allows you to retrieve a global suppression. You can also use this endpoint to confirm if an email address is already globally suppresed.**

        If the email address you include in the URL path parameter `{email}` is alreayd globally suppressed, the response will include that email address. If the address you enter for `{email}` is not globally suppressed, an empty JSON object `{}` will be returned.

        A global suppression (or global unsubscribe) is an email address of a recipient who does not want to receive any of your messages. A globally suppressed recipient will be removed from any email you send. For more information, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Suppressions/global_unsubscribes.html).
      operationId: GET_asm-suppressions-global-email
      parameters: []
      produces:
        - application/json
      responses:
        '200':
          description: ''
          schema:
            properties:
              recipient_email:
                description: The email address that is globally suppressed. This will be an empty object if the email address you included in your call is not globally suppressed.
                type: string
            required:
              - recipient_email
            title: Retrieve a Global Suppression response
            type: object
      security:
        - Authorization: []
      summary: Retrieve a Global Suppression
      tags:
        - Suppression Management - Global Suppressions
    parameters:
      - description: The email address you want to remove from the global suppressions group.
        in: path
        name: email
        required: true
        type: string
  /browsers/stats:
    get:
      consumes:
        - application/json
      description: |-
        **This endpoint allows you to retrieve your email statistics segmented by browser type.**

        **We only store up to 7 days of email activity in our database.** By default, 500 items will be returned per request via the Advanced Stats API endpoints.

        Advanced Stats provide a more in-depth view of your email statistics and the actions taken by your recipients. You can segment these statistics by geographic location, device type, client type, browser, and mailbox provider. For more information about statistics, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Statistics/index.html).
      operationId: GET_browsers-stats
      parameters:
        - description: The starting date of the statistics to retrieve. Must follow format YYYY-MM-DD.
          in: query
          name: start_date
          required: true
          type: string
        - description: The end date of the statistics to retrieve. Defaults to today.
          in: query
          name: end_date
          required: false
          type: string
        - description: The number of results to include on each page.
          in: query
          name: limit
          required: false
          type: string
        - description: The number of results to exclude.
          in: query
          name: offset
          required: false
          type: string
        - description: 'How to group the stats. Must be either "day", "week", or "month".'
          enum:
            - day
            - week
            - month
          in: query
          name: aggregated_by
          required: false
          type: string
        - description: The browsers to get statistics for. You can include up to 10 different browsers by including this parameter multiple times.
          in: query
          name: browsers
          required: false
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: ''
          examples:
            application/json:
              - date: '2014-10-01'
                stats:
                  - metrics:
                      clicks: 0
                      unique_clicks: 0
                    name: Chrome
                    type: browser
                  - metrics:
                      clicks: 1
                      unique_clicks: 1
                    name: Firefox
                    type: browser
              - date: '2014-10-02'
                stats:
                  - metrics:
                      clicks: 0
                      unique_clicks: 0
                    name: Chrome
                    type: browser
                  - metrics:
                      clicks: 1
                      unique_clicks: 1
                    name: Firefox
                    type: browser
          schema:
            items:
              $ref: '#/definitions/advanced_stats_clicks'
            type: array
      security:
        - Authorization: []
      summary: 'Retrieve email statistics by browser. '
      tags:
        - Stats - Advanced Stats
    parameters: []
  /campaigns:
    get:
      consumes:
        - application/json
      description: |-
        **This endpoint allows you to retrieve a list of all of your campaigns.**

        Returns campaigns in reverse order they were created (newest first).

        Returns an empty array if no campaigns exist.

        For more information:

        * [User Guide > Marketing Campaigns](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/index.html)
      operationId: GET_campaigns
      parameters:
        - default: 10
          description: The number of results you would like to receive at a time.
          in: query
          name: limit
          type: number
        - default: 0
          description: 'The index of the first campaign to return, where 0 is the first campaign.'
          in: query
          name: offset
          type: number
      produces:
        - application/json
      responses:
        '200':
          description: ''
          examples:
            application/json:
              result:
                - categories:
                    - spring line
                  custom_unsubscribe_url: ''
                  html_content: <html><head><title></title></head><body><p>Check out our spring line!</p></body></html>
                  id: 986724
                  ip_pool: marketing
                  list_ids:
                    - 110
                    - 124
                  plain_content: Check out our spring line!
                  segment_ids:
                    - 110
                  sender_id: 124451
                  status: Draft
                  subject: New Products for Spring!
                  suppression_group_id: 42
                  title: March Newsletter
                - categories:
                    - winter line
                  custom_unsubscribe_url: ''
                  html_content: <html><head><title></title></head><body><p>Last call for winter clothes!</p></body></html>
                  id: 986723
                  ip_pool: marketing
                  list_ids:
                    - 110
                    - 124
                  plain_content: Last call for winter clothes!
                  segment_ids:
                    - 110
                  sender_id: 124451
                  status: Sent
                  subject: Final Winter Product Sale!
                  suppression_group_id: 42
                  title: February Newsletter
          schema:
            properties:
              result:
                items:
                  $ref: '#/definitions/campaign_response'
                type: array
            type: object
      security:
        - Authorization: []
      summary: Retrieve all Campaigns
      tags:
        - Campaigns API
    parameters: []
    post:
      consumes:
        - application/json
      description: |-
        **This endpoint allows you to create a campaign.**

        Our Marketing Campaigns API lets you create, manage, send, and schedule campaigns.

        Note: In order to send or schedule the campaign, you will be required to provide a subject, sender ID, content (we suggest both html and plain text), and at least one list or segment ID. This information is not required when you create a campaign.

        For more information:

        * [User Guide > Marketing Campaigns](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/index.html)
      operationId: POST_campaigns
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/campaign_request'
            example:
              categories:
                - spring line
              custom_unsubscribe_url: ''
              html_content: <html><head><title></title></head><body><p>Check out our spring line!</p></body></html>
              ip_pool: marketing
              list_ids:
                - 110
                - 124
              plain_content: Check out our spring line!
              segment_ids:
                - 110
              sender_id: 124451
              subject: New Products for Spring!
              suppression_group_id: 42
              title: March Newsletter
      produces:
        - application/json
      responses:
        '201':
          description: ''
          examples:
            application/json:
              categories:
                - spring line
              custom_unsubscribe_url: ''
              html_content: <html><head><title></title></head><body><p>Check out our spring line!</p></body></html>
              id: 986724
              ip_pool: marketing
              list_ids:
                - 110
                - 124
              plain_content: Check out our spring line!
              segment_ids:
                - 110
              sender_id: 124451
              status: Draft
              subject: New Products for Spring!
              suppression_group_id: 42
              title: March Newsletter
          schema:
            $ref: '#/definitions/campaign_response'
        '400':
          description: |-
            "title": "title can't be blank"
            "title": "title is too long (maximum is 100 characters)"
            "categories": "categories exceeds 10 category limit"
            "html_content": "html_content exceeds the 1MB limit"
            "plain_content": "plain_content exceeds the 1MB limit"
            "sender_id": "sender_id does not exist"
            "sender_id": "sender_id is not a verified sender identity"
            "list_ids": "list_ids do not all exist"
            "segment_ids": "segment_ids do not all exist"
            "ip_pool": "The ip pool you provided is invalid"
            "suppression_group_id": "suppression_group_id does not exist"
            "unsubscribes": "Either suppression_group_id or custom_unsubscribe_url may be set/used, but not both. Please remove one before setting the other."
            "": "The JSON you have submitted cannot be parsed."
            "": "You've reached your limit of 250 campaigns. Please delete one or more and try again."
          examples:
            application/json:
              errors:
                - field: title
                  message: title can't be blank
                - field: title
                  message: title is too long (maximum is 100 characters)
                - field: categories
                  message: categories exceeds 10 category limit
                - field: html_content
                  message: html_content exceeds the 1MB limit
                - field: plain_content
                  message: plain_content exceeds the 1MB limit
                - field: sender_id
                  message: sender_id does not exist
                - field: sender_id
                  message: sender_id is not a verified sender identity
                - field: list_ids
                  message: list_ids do not all exist
                - field: segment_ids
                  message: segment_ids do not all exist
                - field: ip_pool
                  message: The ip pool you provided is invalid
                - field: suppression_group_id
                  message: suppression_group_id does not exist
                - field: unsubscribes
                  message: 'Either suppression_group_id or custom_unsubscribe_url may be set/used, but not both. Please remove one before setting the other.'
                - message: The JSON you have submitted cannot be parsed.
                - message: You've reached your limit of 250 campaigns. Please delete one or more and try again.
          schema:
            $ref: '#/definitions/global:ErrorResponse'
        '401':
          description: ''
          schema:
            type: object
      security:
        - Authorization: []
      summary: Create a Campaign
      tags:
        - Campaigns API
  '/campaigns/{campaign_id}':
    delete:
      consumes:
        - application/json
      description: |-
        **This endpoint allows you to delete a specific campaign.**

        Our Marketing Campaigns API lets you create, manage, send, and schedule campaigns.

        For more information:

        * [User Guide > Marketing Campaigns](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/index.html)
      operationId: DELETE_campaigns-campaign_id
      parameters: []
      produces:
        - application/json
      responses:
        '204':
          description: ''
          schema:
            type: 'null'
        '401':
          description: ''
          examples:
            application/json:
              errors:
                - message: authorization required
          schema:
            type: object
        '404':
          description: '"": "not found"'
          schema:
            type: object
      security:
        - Authorization: []
      summary: Delete a Campaign
    get:
      consumes:
        - application/json
      description: |-
        **This endpoint allows you to retrieve a specific campaign.**

        Our Marketing Campaigns API lets you create, manage, send, and schedule campaigns.

        For more information:

        * [User Guide > Marketing Campaigns](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/index.html)
      operationId: GET_campaigns-campaign_id
      parameters: []
      produces:
        - application/json
      responses:
        '200':
          description: ''
          examples:
            application/json:
              categories:
                - spring line
              custom_unsubscribe_url: ''
              html_content: <html><head><title></title></head><body><p>Check out our spring line!</p></body></html>
              id: 986724
              ip_pool: marketing
              list_ids:
                - 110
                - 124
              plain_content: Check out our spring line!
              segment_ids:
                - 110
              sender_id: 124451
              status: Draft
              subject: New Products for Spring!
              suppression_group_id: 42
              title: March Newsletter
          schema:
            $ref: '#/definitions/campaign_response'
        '401':
          description: ''
          examples:
            application/json:
              errors:
                - message: authorization required
          schema:
            type: object
        '404':
          description: '"": "not found"'
          examples:
            application/json:
              errors:
                - message: not found
          schema:
            type: object
      security:
        - Authorization: []
      summary: Retrieve a single campaign
    parameters:
      - description: The ID of the campaign that you would like to delete.
        in: path
        name: campaign_id
        required: true
        type: integer
    patch:
      consumes:
        - application/json
      description: |-
        Update a campaign. This is especially useful if you only set up the campaign using POST /campaigns, but didn't set many of the parameters.

        For more information:

        * [User Guide > Marketing Campaigns](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/index.html)
      operationId: PATCH_campaigns-campaign_id
      parameters:
        - in: body
          name: body
          schema:
            example:
              categories:
                - summer line
              html_content: <html><head><title></title></head><body><p>Check out our summer line!</p></body></html>
              plain_content: Check out our summer line!
              subject: New Products for Summer!
              title: May Newsletter
            properties:
              categories:
                description: The categories you want to tag on this campaign.
                items:
                  type: string
                type: array
              html_content:
                description: The HTML content of this campaign.
                type: string
              plain_content:
                description: The plain content of this campaign.
                type: string
              subject:
                description: The subject line for your campaign.
                type: string
              title:
                description: The title of the campaign.
                type: string
            required:
              - title
              - subject
              - categories
              - html_content
              - plain_content
            title: Update a Campaign request
            type: object
      produces:
        - application/json
      responses:
        '200':
          description: ''
          examples:
            application/json:
              categories:
                - summer line
              custom_unsubscribe_url: ''
              html_content: <html><head><title></title></head><body><p>Check out our summer line!</p></body></html>
              id: 986724
              ip_pool: marketing
              list_ids:
                - 110
                - 124
              plain_content: Check out our summer line!
              segment_ids:
                - 110
              sender_id: 124451
              status: Draft
              subject: New Products for Summer!
              suppression_group_id: 42
              title: May Newsletter
          schema:
            $ref: '#/definitions/campaign_response'
        '400':
          description: |-
            "title": "title can't be blank"
            "title": "title is too long (maximum is 100 characters)"
            "categories": "categories exceeds 10 category limit"
            "html_content": "html_content exceeds the 1MB limit"
            "plain_content": "plain_content exceeds the 1MB limit"
            "sender_id": "sender_id does not exist"
            "sender_id": "sender_id is not a verified sender identity"
            "list_ids": "list_ids do not all exist"
            "segment_ids": "segment_ids do not all exist"
            "ip_pool": "The ip pool you provided is invalid"
            "suppression_group_id": "suppression_group_id does not exist"
            "unsubscribes": "Either suppression_group_id or custom_unsubscribe_url may be set/used, but not both. Please remove one before setting the other."
            "": "The JSON you have submitted cannot be parsed."
          examples:
            application/json:
              errors:
                - field: title
                  message: title can't be blank
                - field: title
                  message: title is too long (maximum is 100 characters)
                - field: categories
                  message: categories exceeds 10 category limit
                - field: html_content
                  message: html_content exceeds the 1MB limit
                - field: plain_content
                  message: plain_content exceeds the 1MB limit
                - field: sender_id
                  message: sender_id does not exist
                - field: sender_id
                  message: sender_id is not a verified sender identity
                - field: list_ids
                  message: list_ids do not all exist
                - field: segment_ids
                  message: segment_ids do not all exist
                - field: ip_pool
                  message: The ip pool you provided is invalid
                - field: suppression_group_id
                  message: suppression_group_id does not exist
                - field: unsubscribes
                  message: 'Either suppression_group_id or custom_unsubscribe_url may be set/used, but not both. Please remove one before setting the other.'
                - message: The JSON you have submitted cannot be parsed.
          schema:
            type: object
        '401':
          description: ''
          examples:
            application/json:
              errors:
                - message: authorization required
          schema:
            $ref: '#/definitions/global:ErrorResponse'
        '403':
          description: '"": "You may only update a campaign when it is in draft mode."'
          examples:
            application/json:
              errors:
                - message: You may only update a campaign when it is in draft mode.
          schema:
            type: object
        '404':
          description: '"": "not found"'
          examples:
            application/json:
              errors:
                - message: not found
          schema:
            $ref: '#/definitions/global:ErrorResponse'
      security:
        - Authorization: []
      summary: Update a Campaign
  '/campaigns/{campaign_id}/schedules':
    delete:
      consumes:
        - application/json
      description: |-
        **This endpoint allows you to unschedule a campaign that has already been scheduled to be sent.**

        A successful unschedule will return a 204.
        If the specified campaign is in the process of being sent, the only option is to cancel (a different method).

        For more information:

        * [User Guide > Marketing Campaigns](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/index.html)
      operationId: DELETE_campaigns-campaign_id-schedules
      parameters: []
      produces:
        - application/json
      responses:
        '204':
          description: ''
          schema:
            type: 'null'
        '403':
          description: |-
            "": "This campaign is already In Progress."
            "": "This campaign is already Sent."
            "": "This campaign is already Paused."
            "": "This campaign is already Canceled."
          examples:
            application/json:
              errors:
                - message: This campaign is already In Progress.
                - message: This campaign is already Sent.
                - message: This campaign is already Paused.
                - message: This campaign is already Canceled.
          schema:
            $ref: '#/definitions/global:ErrorResponse'
        '404':
          description: '"": "not found"'
          examples:
            application/json:
              errors:
                - message: not found
          schema:
            $ref: '#/definitions/global:ErrorResponse'
      security:
        - Authorization: []
      summary: Unschedule a Scheduled Campaign
    get:
      consumes:
        - application/json
      description: |-
        **This endpoint allows you to retrieve the date and time that the given campaign has been scheduled to be sent.**

        For more information:

        * [User Guide > Marketing Campaigns](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/index.html)
      operationId: GET_campaigns-campaign_id-schedules
      parameters: []
      produces:
        - application/json
      responses:
        '200':
          description: ''
          examples:
            application/json:
              send_at: 1490778528
          schema:
            properties:
              send_at:
                format: int64
                type: integer
            required:
              - send_at
            title: View Scheduled Time of a Campaign response
            type: object
        '404':
          description: '"": "not found"'
          examples:
            application/json:
              errors:
                - message: not found
          schema:
            $ref: '#/definitions/global:ErrorResponse'
      security:
        - Authorization: []
      summary: View Scheduled Time of a Campaign
    parameters:
      - in: path
        name: campaign_id
        required: true
        type: integer
    patch:
      consumes:
        - application/json
      description: |-
        **This endpoint allows to you change the scheduled time and date for a campaign to be sent.**

        For more information:

        * [User Guide > Marketing Campaigns](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/index.html)
      operationId: PATCH_campaigns-campaign_id-schedules
      parameters:
        - in: body
          name: body
          schema:
            properties:
              send_at:
                format: int64
                type: integer
            required:
              - send_at
            title: Update a Scheduled Campaign request
            type: object
      produces:
        - application/json
      responses:
        '200':
          description: ''
          schema:
            properties:
              id:
                description: The campaign ID
                type: integer
              send_at:
                description: The unix timestamp to send the campaign.
                type: integer
              status:
                description: The status of the schedule.
                type: string
            required:
              - id
              - send_at
              - status
            title: Update a Scheduled Campaign response
            type: object
        '400':
          description: |-
            "": "The JSON you have submitted cannot be parsed."
            "send_at": "Please choose a future time for sending your campaign."
            "":"You do not have enough credits to send this campaign. Upgrade your plan to send more: https://app.sendgrid.com/settings/billing"
          examples:
            application/json:
              errors:
                - field: send_at
                  message: Please choose a future time for sending your campaign.
                - message: The JSON you have submitted cannot be parsed.
                - message: 'You do not have enough credits to send this campaign. Upgrade your plan to send https://app.sendgrid.com/settings/billing'
          schema:
            $ref: '#/definitions/global:ErrorResponse'
        '403':
          description: '"send_at": "You cannot update the send_at value of non-scheduled campaign."'
          examples:
            application/json:
              errors:
                - field: send_at
                  message: You cannot update the send_at value of non-scheduled campaign.
          schema:
            $ref: '#/definitions/global:ErrorResponse'
        '404':
          description: '"": "not found"'
          examples:
            application/json:
              errors:
                - message: not found
          schema:
            $ref: '#/definitions/global:ErrorResponse'
      security:
        - Authorization: []
      summary: Update a Scheduled Campaign
    post:
      consumes:
        - application/json
      description: |-
        **This endpoint allows you to schedule a specific date and time for your campaign to be sent.**

        For more information:

        * [User Guide > Marketing Campaigns](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/index.html)
      operationId: POST_campaigns-campaign_id-schedules
      parameters:
        - in: body
          name: body
          schema:
            example:
              send_at: 1489771528
            properties:
              send_at:
                description: The unix timestamp for the date and time you would like your campaign to be sent out.
                type: integer
            required:
              - send_at
            title: Schedule a Campaign request
            type: object
      produces:
        - application/json
      responses:
        '201':
          description: ''
          examples:
            application/json:
              id: 1234
              send_at: 1489771528
              status: Scheduled
          schema:
            properties:
              id:
                description: The campaign ID.
                type: integer
              send_at:
                description: The date time you scheduled your campaign to be sent.
                type: integer
              status:
                description: The status of your campaign.
                enum:
                  - Scheduled
                type: string
            required:
              - id
              - send_at
              - status
            title: Schedule a Campaign response
            type: object
        '400':
          description: |-
            "subject": "subject can't be blank"
            "sender_id": "sender_id can't be blank"
            "plain_content": "plain_content can't be blank, please provide plain text or html content"
            "list_ids": "You must select at least 1 segment or 1 list to send to."
            "send_at": "Please choose a future time for sending your campaign."
            "unsubscribe_tag": "An [unsubscribe] tag in both your html and plain content is required to send a campaign."
            "suppression_group_id": "Either a suppression_group_id or custom_unsubscribe_url is required to send a campaign."
            "": "The JSON you have submitted cannot be parsed."
            "":"You do not have enough credits to send this campaign. Upgrade your plan to send more: https://app.sendgrid.com/settings/billing"
          examples:
            application/json:
              errors:
                - field: subject
                  message: subject can't be blank
                - field: sender_id
                  message: sender_id can't be blank
                - field: plain_content
                  message: 'plain_content can''t be blank, please provide plain text or html content'
                - field: list_id
                  message: You must select at least 1 segment or 1 list to send to.
                - field: unsubscribe_tag
                  message: 'An [unsubscribe] tag in both your html and plain content is required to send a campaign.'
                - field: suppression_group_id
                  message: Either a suppression_group_id or custom_unsubscribe_url is required to send a campaign.
                - message: 'You do not have enough credits to send this campaign. Upgrade your plan to send more: https://app.sendgrid.com/settings/billing'
          schema:
            $ref: '#/definitions/global:ErrorResponse'
        '401':
          description: ''
          examples:
            application/json:
              errors:
                - message: authorization required
          schema:
            $ref: '#/definitions/global:ErrorResponse'
        '403':
          description: '"": "You cannot POST to a campaign that has already sent or scheduled. However you can update a scheduled campaign with a PATCH."'
          examples:
            application/json:
              errors:
                - message: You cannot POST to a campaign that has already sent or scheduled. However you can update a scheduled campaign with a PATCH.
          schema:
            $ref: '#/definitions/global:ErrorResponse'
        '404':
          description: '"": "not found"'
          examples:
            application/json:
              errors:
                - message: not found
          schema:
            $ref: '#/definitions/global:ErrorResponse'
      security:
        - Authorization: []
      summary: Schedule a Campaign
  '/campaigns/{campaign_id}/schedules/now':
    parameters:
      - in: path
        name: campaign_id
        required: true
        type: integer
    post:
      consumes:
        - application/json
      description: |-
        **This endpoint allows you to immediately send a campaign at the time you make the API call.**

        Normally a POST would have a request body, but since this endpoint is telling us to send a resource that is already created, a request body is not needed.

        For more information:

        * [User Guide > Marketing Campaigns](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/index.html)
      operationId: POST_campaigns-campaign_id-schedules-now
      parameters: []
      produces:
        - application/json
      responses:
        '201':
          description: ''
          examples:
            application/json:
              id: 1234
              status: Scheduled
          schema:
            properties:
              id:
                format: int64
                type: integer
              status:
                type: string
            required:
              - id
              - status
            title: Send a Campaign response
            type: object
        '400':
          description: |-
            "subject": "subject can't be blank"
            "sender_id": "sender_id can't be blank"
            "plain_content": "plain_content can't be blank, please provide plain text or html content"
            "list_ids": "You must select at least 1 segment or 1 list to send to."
            "unsubscribe_tag": "An [unsubscribe] tag in both your html and plain content is required to send a campaign."
            "suppression_group_id": "Either a suppression_group_id or custom_unsubscribe_url is required to send a campaign."
            "": "You do not have enough credits to send this campaign. Upgrade your plan to send more: https://app.sendgrid.com/settings/billing"
          examples:
            application/json:
              errors:
                - field: subject
                  message: subject can't be blank
                - field: sender_id
                  message: sender_id can't be blank
                - field: plain_content
                  message: 'plain_content can''t be blank, please provide plain text or html content'
                - field: list_id
                  message: You must select at least 1 segment or 1 list to send to.
                - field: unsubscribe_tag
                  message: 'An [unsubscribe] tag in both your html and plain content is required to send a campaign.'
                - field: suppression_group_id
                  message: Either a suppression_group_id or custom_unsubscribe_url is required to send a campaign.
                - message: 'You do not have enough credits to send this campaign. Upgrade your plan to send more: https://app.sendgrid.com/settings/billing'
          schema:
            $ref: '#/definitions/global:ErrorResponse'
        '401':
          description: ''
          examples:
            application/json:
              errors:
                - message: authorization required
          schema:
            $ref: '#/definitions/global:ErrorResponse'
        '403':
          description: '"": "You may only send a campaign when it is in draft mode."'
          examples:
            application/json:
              errors:
                - message: You may only send a campaign when it is in draft mode.
          schema:
            $ref: '#/definitions/global:ErrorResponse'
        '404':
          description: '"": "not found"'
          examples:
            application/json:
              errors:
                - message: not found
          schema:
            $ref: '#/definitions/global:ErrorResponse'
      security:
        - Authorization: []
      summary: Send a Campaign
  '/campaigns/{campaign_id}/schedules/test':
    parameters:
      - in: path
        name: campaign_id
        required: true
        type: integer
    post:
      consumes:
        - application/json
      description: |-
        **This endpoint allows you to send a test campaign.**

        To send to multiple addresses, use an array for the JSON "to" value ["one@address","two@address"]

        For more information:

        * [User Guide > Marketing Campaigns](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/index.html)
      operationId: POST_campaigns-campaign_id-schedules-test
      parameters:
        - in: body
          name: body
          schema:
            example:
              to: your.email@example.com
            properties:
              to:
                description: The email address that should receive the test campaign.
                format: email
                type: string
            required:
              - to
            type: object
      produces:
        - application/json
      responses:
        '204':
          description: ''
          schema:
            properties:
              to:
                type: string
            required:
              - to
            title: Send a Test Campaign request
            type: object
        '400':
          description: |-
            "": "The JSON you have submitted cannot be parsed."
            "to": "Please provide an email address to which the test should be sent."
            "to": "You can only send tests to 10 addresses at a time."
            "subject": "Please add a subject to your campaign before sending a test."
            "plain_content": "Plain content and html content can't both be blank. Please set one of these values before sending a test."
            "sender_id": "Please assign a sender identity to your campaign before sending a test."
          examples:
            application/json:
              errors:
                - field: send_at
                  message: Please choose a future time for sending your campaign.
                - message: The JSON you have submitted cannot be parsed.
                - message: 'You do not have enough credits to send this campaign. Upgrade your plan to send more: https://app.sendgrid.com/settings/billing'
          schema:
            $ref: '#/definitions/global:ErrorResponse'
        '404':
          description: '"": "not found"'
          examples:
            application/json:
              errors:
                - message: not found
          schema:
            $ref: '#/definitions/global:ErrorResponse'
      security:
        - Authorization: []
      summary: Send a Test Campaign
  /categories:
    get:
      consumes:
        - application/json
      description: |-
        **This endpoint allows you to retrieve a list of all of your categories.**

        Categories can help organize your email analytics by enabling you to “tag” emails by type or broad topic. You can define your own custom categories. For more information, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Statistics/categories.html).
      operationId: GET_categories
      parameters:
        - default: 50
          description: The number of categories to display per page.
          in: query
          name: limit
          type: integer
        - description: Allows you to perform a prefix search on this particular category.
          in: query
          name: category
          type: string
        - default: 0
          description: The point in the list that you would like to begin displaying results.
          in: query
          name: offset
          type: integer
      produces:
        - application/json
      responses:
        '200':
          description: ''
          examples:
            application/json:
              - category: category 1
              - category: category 2
          schema:
            items:
              properties:
                category:
                  description: A category used to group emails by broad topic.
                  type: string
              required:
                - category
              type: object
            type: array
        '400':
          description: ''
          examples:
            application/json:
              errors:
                - field: sort_by
                  message: invalid sort value
          schema:
            properties:
              errors:
                description: The error returned.
                items:
                  properties:
                    field:
                      type: string
                    message:
                      description: A message explaining why your categories could not be retrieved.
                      type: string
                  required:
                    - field
                    - message
                  type: object
                type: array
            type: object
      security:
        - Authorization: []
      summary: Retrieve all categories
      tags:
        - Categories
    parameters: []
  /categories/stats:
    get:
      consumes:
        - application/json
      description: |-
        **This endpoint allows you to retrieve all of your email statistics for each of your categories.**

        If you do not define any query parameters, this endpoint will return a sum for each category in groups of 10.

        Categories allow you to group your emails together according to broad topics that you define. For more information, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Statistics/categories.html). 
      operationId: GET_categories-stats
      parameters:
        - description: The starting date of the statistics to retrieve. Must follow format YYYY-MM-DD
          in: query
          name: start_date
          required: true
          type: string
        - description: The end date of the statistics to retrieve. Defaults to today. Must follow format YYYY-MM-DD.
          in: query
          name: end_date
          required: false
          type: string
        - description: The individual categories that you want to retrieve statistics for. You may include up to 10 different categories.
          in: query
          name: categories
          required: true
          type: string
        - default: 500
          description: The number of results to include.
          in: query
          maximum: 500
          name: limit
          required: false
          type: integer
        - description: The number of results to skip.
          in: query
          name: offset
          required: false
          type: integer
        - description: 'How to group the statistics. Must be either "day", "week", or "month".'
          enum:
            - day
            - week
            - month
          in: query
          name: aggregated_by
          required: false
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: ''
          examples:
            application/json:
              - date: '2015-10-01'
                stats:
                  - metrics:
                      blocks: 0
                      bounce_drops: 0
                      bounces: 0
                      clicks: 0
                      deferred: 0
                      delivered: 0
                      invalid_emails: 0
                      opens: 0
                      processed: 0
                      requests: 0
                      spam_report_drops: 0
                      spam_reports: 0
                      unique_clicks: 0
                      unique_opens: 0
                      unsubscribe_drops: 0
                      unsubscribes: 0
                    name: docs
                    type: category
                  - metrics:
                      blocks: 0
                      bounce_drops: 0
                      bounces: 0
                      clicks: 0
                      deferred: 0
                      delivered: 0
                      invalid_emails: 0
                      opens: 0
                      processed: 0
                      requests: 0
                      spam_report_drops: 0
                      spam_reports: 0
                      unique_clicks: 0
                      unique_opens: 0
                      unsubscribe_drops: 0
                      unsubscribes: 0
                    name: mattscategory
                    type: category
              - date: '2015-11-01'
                stats:
                  - metrics:
                      blocks: 0
                      bounce_drops: 0
                      bounces: 0
                      clicks: 0
                      deferred: 0
                      delivered: 0
                      invalid_emails: 0
                      opens: 0
                      processed: 0
                      requests: 0
                      spam_report_drops: 0
                      spam_reports: 0
                      unique_clicks: 0
                      unique_opens: 0
                      unsubscribe_drops: 0
                      unsubscribes: 0
                    name: docs
                    type: category
                  - metrics:
                      blocks: 0
                      bounce_drops: 0
                      bounces: 0
                      clicks: 0
                      deferred: 0
                      delivered: 0
                      invalid_emails: 0
                      opens: 0
                      processed: 0
                      requests: 0
                      spam_report_drops: 0
                      spam_reports: 0
                      unique_clicks: 0
                      unique_opens: 0
                      unsubscribe_drops: 0
                      unsubscribes: 0
                    name: mattscategory
                    type: category
          schema:
            items:
              $ref: '#/definitions/category_stats'
            type: array
      security:
        - Authorization: []
      summary: Retrieve Email Statistics for Categories
      tags:
        - Stats - Category Stats
    parameters: []
  /categories/stats/sums:
    get:
      consumes:
        - application/json
      description: |-
        **This endpoint allows you to retrieve the total sum of each email statistic for every category over the given date range.**

        If you do not define any query parameters, this endpoint will return a sum for each category in groups of 10.

        Categories allow you to group your emails together according to broad topics that you define. For more information, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Statistics/categories.html). 
      operationId: GET_categories-stats-sums
      parameters:
        - default: delivered
          description: The metric that you want to sort by.  Must be a single metric.
          in: query
          name: sort_by_metric
          required: false
          type: string
        - default: desc
          description: The direction you want to sort.
          enum:
            - desc
            - asc
          in: query
          name: sort_by_direction
          required: false
          type: string
        - description: The starting date of the statistics to retrieve. Must follow format YYYY-MM-DD.
          in: query
          name: start_date
          required: true
          type: string
        - description: The end date of the statistics to retrieve. Defaults to today. Must follow format YYYY-MM-DD.
          in: query
          name: end_date
          required: false
          type: string
        - default: 5
          description: Limits the number of results returned.
          in: query
          name: limit
          required: false
          type: integer
        - default: 0
          description: The point in the list to begin retrieving results.
          in: query
          name: offset
          required: false
          type: integer
        - description: 'How to group the statistics. Must be either "day", "week", or "month".'
          enum:
            - day
            - week
            - month
          in: query
          name: aggregated_by
          required: false
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: ''
          examples:
            application/json:
              date: '2015-01-01'
              stats:
                - metrics:
                    blocks: 0
                    bounce_drops: 0
                    bounces: 0
                    clicks: 20
                    deferred: 0
                    delivered: 20
                    invalid_emails: 0
                    opens: 20
                    processed: 0
                    requests: 20
                    spam_report_drops: 0
                    spam_reports: 0
                    unique_clicks: 20
                    unique_opens: 20
                    unsubscribe_drops: 0
                    unsubscribes: 20
                  name: cat1
                  type: category
                - metrics:
                    blocks: 1
                    bounce_drops: 0
                    bounces: 0
                    clicks: 19
                    deferred: 0
                    delivered: 19
                    invalid_emails: 0
                    opens: 19
                    processed: 0
                    requests: 20
                    spam_report_drops: 0
                    spam_reports: 0
                    unique_clicks: 19
                    unique_opens: 19
                    unsubscribe_drops: 0
                    unsubscribes: 19
                  name: cat2
                  type: category
                - metrics:
                    blocks: 0
                    bounce_drops: 0
                    bounces: 0
                    clicks: 5
                    deferred: 0
                    delivered: 5
                    invalid_emails: 0
                    opens: 5
                    processed: 0
                    requests: 5
                    spam_report_drops: 0
                    spam_reports: 0
                    unique_clicks: 5
                    unique_opens: 5
                    unsubscribe_drops: 0
                    unsubscribes: 5
                  name: cat3
                  type: category
                - metrics:
                    blocks: 0
                    bounce_drops: 0
                    bounces: 0
                    clicks: 6
                    deferred: 0
                    delivered: 5
                    invalid_emails: 0
                    opens: 6
                    processed: 0
                    requests: 5
                    spam_report_drops: 0
                    spam_reports: 0
                    unique_clicks: 5
                    unique_opens: 5
                    unsubscribe_drops: 0
                    unsubscribes: 6
                  name: cat4
                  type: category
                - metrics:
                    blocks: 10
                    bounce_drops: 0
                    bounces: 0
                    clicks: 0
                    deferred: 0
                    delivered: 0
                    invalid_emails: 0
                    opens: 0
                    processed: 0
                    requests: 10
                    spam_report_drops: 0
                    spam_reports: 0
                    unique_clicks: 0
                    unique_opens: 0
                    unsubscribe_drops: 0
                    unsubscribes: 0
                  name: cat5
                  type: category
          schema:
            properties:
              '':
                $ref: '#/definitions/category_stats'
            type: object
      security:
        - Authorization: []
      summary: 'Retrieve sums of email stats for each category [Needs: Stats object defined, has category ID?]'
      tags:
        - Stats - Category Stats
    parameters: []
  /clients/stats:
    get:
      consumes:
        - application/json
      description: |-
        **This endpoint allows you to retrieve your email statistics segmented by client type.**

        **We only store up to 7 days of email activity in our database.** By default, 500 items will be returned per request via the Advanced Stats API endpoints.

        Advanced Stats provide a more in-depth view of your email statistics and the actions taken by your recipients. You can segment these statistics by geographic location, device type, client type, browser, and mailbox provider. For more information about statistics, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Statistics/index.html).
      operationId: GET_clients-stats
      parameters:
        - description: The starting date of the statistics to retrieve. Must follow format YYYY-MM-DD.
          in: query
          name: start_date
          required: true
          type: string
        - description: The end date of the statistics to retrieve. Defaults to today. Must follow format YYYY-MM-DD.
          in: query
          name: end_date
          required: false
          type: string
        - description: 'How to group the statistics. Must be either "day", "week", or "month".'
          enum:
            - day
            - week
            - month
          in: query
          name: aggregated_by
          required: false
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: ''
          examples:
            application/json:
              - date: '2014-10-01'
                stats:
                  - metrics:
                      opens: 1
                      unique_opens: 1
                    name: Gmail
                    type: client
              - date: '2014-10-02'
                stats:
                  - metrics:
                      opens: 0
                      unique_opens: 0
                    name: Gmail
                    type: client
          schema:
            items:
              $ref: '#/definitions/advanced_stats_opens'
            type: array
      security:
        - Authorization: []
      summary: Retrieve email statistics by client type.
      tags:
        - Stats - Advanced Stats
    parameters: []
  '/clients/{client_type}/stats':
    get:
      consumes:
        - application/json
      description: |-
        **This endpoint allows you to retrieve your email statistics segmented by a specific client type.**

        **We only store up to 7 days of email activity in our database.** By default, 500 items will be returned per request via the Advanced Stats API endpoints.

        ## Available Client Types
        - phone
        - tablet
        - webmail
        - desktop

        Advanced Stats provide a more in-depth view of your email statistics and the actions taken by your recipients. You can segment these statistics by geographic location, device type, client type, browser, and mailbox provider. For more information about statistics, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Statistics/index.html).
      operationId: GET_clients-client_type-stats
      parameters:
        - description: The starting date of the statistics to retrieve. Must follow format YYYY-MM-DD.
          in: query
          name: start_date
          required: true
          type: string
        - description: The end date of the statistics to retrieve. Defaults to today. Must follow format YYYY-MM-DD.
          in: query
          name: end_date
          required: false
          type: string
        - description: 'How to group the statistics. Must be either "day", "week", or "month".'
          enum:
            - day
            - week
            - month
          in: query
          name: aggregated_by
          required: false
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: ''
          examples:
            application/json:
              - date: '2014-10-01'
                stats:
                  - metrics:
                      opens: 1
                      unique_opens: 1
                    name: Gmail
                    type: client
              - date: '2014-10-02'
                stats:
                  - metrics:
                      opens: 0
                      unique_opens: 0
                    name: Gmail
                    type: client
          schema:
            items:
              $ref: '#/definitions/advanced_stats_opens'
            type: array
      security:
        - Authorization: []
      summary: Retrieve stats by a specific client type.
    parameters:
      - description: 'Specifies the type of client to retrieve stats for. Must be either "phone", "tablet", "webmail", or "desktop".'
        enum:
          - phone
          - tablet
          - webmail
          - desktop
        in: path
        name: client_type
        required: true
        type: string
  /contactdb/custom_fields:
    get:
      consumes:
        - application/json
      description: |-
        **This endpoint allows you to retrieve all custom fields.** 

        The contactdb is a database of your contacts for [SendGrid Marketing Campaigns](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/index.html).
      operationId: GET_contactdb-custom_fields
      parameters: []
      produces:
        - application/json
      responses:
        '200':
          description: ''
          examples:
            application/json:
              custom_fields:
                - id: 6234
                  name: age
                  type: number
                - id: 6233
                  name: country
                  type: text
                - id: 6235
                  name: favorite_color
                  type: text
                - id: 6239
                  name: fname
                  type: text
                - id: 6240
                  name: lname
                  type: text
                - id: 49439
                  name: pet
                  type: text
          schema:
            properties:
              custom_fields:
                items:
                  $ref: '#/definitions/contactdb_custom_field_with_id'
                type: array
            required:
              - custom_fields
            title: List All Custom Fields response
            type: object
        '401':
          description: ''
          examples:
            application/json:
              errors:
                - message: authorization required
          schema:
            $ref: '#/definitions/global:ErrorResponse'
      security:
        - Authorization: []
      summary: Retrieve all custom fields
    parameters: []
    post:
      consumes:
        - application/json
      description: |-
        **This endpoint allows you to create a custom field.**

        The contactdb is a database of your contacts for [SendGrid Marketing Campaigns](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/index.html).
      operationId: POST_contactdb-custom_fields
      parameters:
        - in: body
          name: body
[...]
