{
  "openapi": "3.0.1",
  "servers": [
    {
      "url": "https://notify.twilio.com"
    }
  ],
  "info": {
    "contact": {
      "email": "support@twilio.com",
      "name": "Twilio Support",
      "url": "https://support.twilio.com"
    },
    "description": "This is the public Twilio REST API.",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "termsOfService": "https://www.twilio.com/legal/tos",
    "title": "Twilio - Notify",
    "version": "1.42.0",
    "x-apisguru-categories": [
      "telecom",
      "messaging"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_static1.twilio.com_marketing_bundles_marketing_img_logos_wordmark-red.svg"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_notify_v1.json",
        "version": "3.0"
      }
    ],
    "x-providerName": "twilio.com",
    "x-serviceName": "twilio_notify_v1"
  },
  "paths": {
    "/v1/Credentials": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "",
        "operationId": "ListCredential",
        "parameters": [
          {
            "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
            "in": "query",
            "name": "PageSize",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The page index. This value is simply for client state.",
            "in": "query",
            "name": "Page",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "The page token. This is provided by the API.",
            "in": "query",
            "name": "PageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "credentials": {
                      "items": {
                        "$ref": "#/components/schemas/notify.v1.credential"
                      },
                      "type": "array"
                    },
                    "meta": {
                      "properties": {
                        "first_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        },
                        "next_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "url": {
                          "format": "uri",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "title": "ListCredentialResponse",
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "Beta"
        ]
      },
      "post": {
        "description": "",
        "operationId": "CreateCredential",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "ApiKey": {
                    "description": "[GCM only] The `Server key` of your project from Firebase console under Settings / Cloud messaging.",
                    "type": "string"
                  },
                  "Certificate": {
                    "description": "[APN only] The URL-encoded representation of the certificate. Strip everything outside of the headers, e.g. `-----BEGIN CERTIFICATE-----MIIFnTCCBIWgAwIBAgIIAjy9H849+E8wDQYJKoZIhvcNAQEFBQAwgZYxCzAJBgNV.....A==-----END CERTIFICATE-----`",
                    "type": "string"
                  },
                  "FriendlyName": {
                    "description": "A descriptive string that you create to describe the resource. It can be up to 64 characters long.",
                    "type": "string"
                  },
                  "PrivateKey": {
                    "description": "[APN only] The URL-encoded representation of the private key. Strip everything outside of the headers, e.g. `-----BEGIN RSA PRIVATE KEY-----MIIEpQIBAAKCAQEAuyf/lNrH9ck8DmNyo3fGgvCI1l9s+cmBY3WIz+cUDqmxiieR\\n.-----END RSA PRIVATE KEY-----`",
                    "type": "string"
                  },
                  "Sandbox": {
                    "description": "[APN only] Whether to send the credential to sandbox APNs. Can be `true` to send to sandbox APNs or `false` to send to production.",
                    "type": "boolean"
                  },
                  "Secret": {
                    "description": "[FCM only] The `Server key` of your project from Firebase console under Settings / Cloud messaging.",
                    "type": "string"
                  },
                  "Type": {
                    "$ref": "#/components/schemas/credential_enum_push_service",
                    "description": "The Credential type. Can be: `gcm`, `fcm`, or `apn`.",
                    "type": "string"
                  }
                },
                "required": [
                  "Type"
                ],
                "title": "CreateCredentialRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/notify.v1.credential"
                }
              }
            },
            "description": "Created"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "Beta"
        ]
      },
      "servers": [
        {
          "url": "https://notify.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "friendly_name",
          "type"
        ],
        "pathType": "list"
      }
    },
    "/v1/Credentials/{Sid}": {
      "delete": {
        "description": "",
        "operationId": "DeleteCredential",
        "parameters": [
          {
            "description": "The Twilio-provided string that uniquely identifies the Credential resource to delete.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^CR[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "Beta"
        ]
      },
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "",
        "operationId": "FetchCredential",
        "parameters": [
          {
            "description": "The Twilio-provided string that uniquely identifies the Credential resource to fetch.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^CR[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/notify.v1.credential"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "Beta"
        ]
      },
      "post": {
        "description": "",
        "operationId": "UpdateCredential",
        "parameters": [
          {
            "description": "The Twilio-provided string that uniquely identifies the Credential resource to update.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^CR[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "ApiKey": {
                    "description": "[GCM only] The `Server key` of your project from Firebase console under Settings / Cloud messaging.",
                    "type": "string"
                  },
                  "Certificate": {
                    "description": "[APN only] The URL-encoded representation of the certificate. Strip everything outside of the headers, e.g. `-----BEGIN CERTIFICATE-----MIIFnTCCBIWgAwIBAgIIAjy9H849+E8wDQYJKoZIhvcNAQEFBQAwgZYxCzAJBgNV.....A==-----END CERTIFICATE-----`",
                    "type": "string"
                  },
                  "FriendlyName": {
                    "description": "A descriptive string that you create to describe the resource. It can be up to 64 characters long.",
                    "type": "string"
                  },
                  "PrivateKey": {
                    "description": "[APN only] The URL-encoded representation of the private key. Strip everything outside of the headers, e.g. `-----BEGIN RSA PRIVATE KEY-----MIIEpQIBAAKCAQEAuyf/lNrH9ck8DmNyo3fGgvCI1l9s+cmBY3WIz+cUDqmxiieR\\n.-----END RSA PRIVATE KEY-----`",
                    "type": "string"
                  },
                  "Sandbox": {
                    "description": "[APN only] Whether to send the credential to sandbox APNs. Can be `true` to send to sandbox APNs or `false` to send to production.",
                    "type": "boolean"
                  },
                  "Secret": {
                    "description": "[FCM only] The `Server key` of your project from Firebase console under Settings / Cloud messaging.",
                    "type": "string"
                  }
                },
                "title": "UpdateCredentialRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/notify.v1.credential"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "Beta"
        ]
      },
      "servers": [
        {
          "url": "https://notify.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "friendly_name",
          "type"
        ],
        "pathType": "instance"
      }
    },
    "/v1/Services": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "",
        "operationId": "ListService",
        "parameters": [
          {
            "description": "The string that identifies the Service resources to read.",
            "in": "query",
            "name": "FriendlyName",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
            "in": "query",
            "name": "PageSize",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The page index. This value is simply for client state.",
            "in": "query",
            "name": "Page",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "The page token. This is provided by the API.",
            "in": "query",
            "name": "PageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "meta": {
                      "properties": {
                        "first_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        },
                        "next_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "url": {
                          "format": "uri",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "services": {
                      "items": {
                        "$ref": "#/components/schemas/notify.v1.service"
                      },
                      "type": "array"
                    }
                  },
                  "title": "ListServiceResponse",
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "Beta"
        ]
      },
      "post": {
        "description": "",
        "operationId": "CreateService",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "AlexaSkillId": {
                    "description": "Deprecated.",
                    "type": "string"
                  },
                  "ApnCredentialSid": {
                    "description": "The SID of the [Credential](https://www.twilio.com/docs/notify/api/credential-resource) to use for APN Bindings.",
                    "maxLength": 34,
                    "minLength": 34,
                    "pattern": "^CR[0-9a-fA-F]{32}$",
                    "type": "string"
                  },
                  "DefaultAlexaNotificationProtocolVersion": {
                    "description": "Deprecated.",
                    "type": "string"
                  },
                  "DefaultApnNotificationProtocolVersion": {
                    "description": "The protocol version to use for sending APNS notifications. Can be overridden on a Binding by Binding basis when creating a [Binding](https://www.twilio.com/docs/notify/api/binding-resource) resource.",
                    "type": "string"
                  },
                  "DefaultFcmNotificationProtocolVersion": {
                    "description": "The protocol version to use for sending FCM notifications. Can be overridden on a Binding by Binding basis when creating a [Binding](https://www.twilio.com/docs/notify/api/binding-resource) resource.",
                    "type": "string"
                  },
                  "DefaultGcmNotificationProtocolVersion": {
                    "description": "The protocol version to use for sending GCM notifications. Can be overridden on a Binding by Binding basis when creating a [Binding](https://www.twilio.com/docs/notify/api/binding-resource) resource.",
                    "type": "string"
                  },
                  "DeliveryCallbackEnabled": {
                    "description": "Callback configuration that enables delivery callbacks, default false",
                    "type": "boolean"
                  },
                  "DeliveryCallbackUrl": {
                    "description": "URL to send delivery status callback.",
                    "type": "string"
                  },
                  "FacebookMessengerPageId": {
                    "description": "Deprecated.",
                    "type": "string"
                  },
                  "FcmCredentialSid": {
                    "description": "The SID of the [Credential](https://www.twilio.com/docs/notify/api/credential-resource) to use for FCM Bindings.",
                    "maxLength": 34,
                    "minLength": 34,
                    "pattern": "^CR[0-9a-fA-F]{32}$",
                    "type": "string"
                  },
                  "FriendlyName": {
                    "description": "A descriptive string that you create to describe the resource. It can be up to 64 characters long.",
                    "type": "string"
                  },
                  "GcmCredentialSid": {
                    "description": "The SID of the [Credential](https://www.twilio.com/docs/notify/api/credential-resource) to use for GCM Bindings.",
                    "maxLength": 34,
                    "minLength": 34,
                    "pattern": "^CR[0-9a-fA-F]{32}$",
                    "type": "string"
                  },
                  "LogEnabled": {
                    "description": "Whether to log notifications. Can be: `true` or `false` and the default is `true`.",
                    "type": "boolean"
                  },
                  "MessagingServiceSid": {
                    "description": "The SID of the [Messaging Service](https://www.twilio.com/docs/sms/send-messages#messaging-services) to use for SMS Bindings. This parameter must be set in order to send SMS notifications.",
                    "maxLength": 34,
                    "minLength": 34,
                    "pattern": "^MG[0-9a-fA-F]{32}$",
                    "type": "string"
                  }
                },
                "title": "CreateServiceRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/notify.v1.service"
                }
              }
            },
            "description": "Created"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "Beta"
        ]
      },
      "servers": [
        {
          "url": "https://notify.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "friendly_name",
          "date_created"
        ],
        "pathType": "list"
      }
    },
    "/v1/Services/{ServiceSid}/Bindings": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "",
        "operationId": "ListBinding",
        "parameters": [
          {
            "description": "The SID of the [Service](https://www.twilio.com/docs/notify/api/service-resource) to read the resource from.",
            "in": "path",
            "name": "ServiceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "Only include usage that has occurred on or after this date. Specify the date in GMT and format as `YYYY-MM-DD`.",
            "in": "query",
            "name": "StartDate",
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "Only include usage that occurred on or before this date. Specify the date in GMT and format as `YYYY-MM-DD`.",
            "in": "query",
            "name": "EndDate",
            "schema": {
              "format": "date",
              "type": "string"
            }
          },
          {
            "description": "The [User](https://www.twilio.com/docs/chat/rest/user-resource)'s `identity` value of the resources to read.",
            "in": "query",
            "name": "Identity",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "Only list Bindings that have all of the specified Tags. The following implicit tags are available: `all`, `apn`, `fcm`, `gcm`, `sms`, `facebook-messenger`. Up to 5 tags are allowed.",
            "in": "query",
            "name": "Tag",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
            "in": "query",
            "name": "PageSize",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The page index. This value is simply for client state.",
            "in": "query",
            "name": "Page",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "The page token. This is provided by the API.",
            "in": "query",
            "name": "PageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "bindings": {
                      "items": {
                        "$ref": "#/components/schemas/notify.v1.service.binding"
                      },
                      "type": "array"
                    },
                    "meta": {
                      "properties": {
                        "first_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        },
                        "next_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "url": {
                          "format": "uri",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "title": "ListBindingResponse",
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "Beta"
        ]
      },
      "post": {
        "description": "",
        "operationId": "CreateBinding",
        "parameters": [
          {
            "description": "The SID of the [Service](https://www.twilio.com/docs/notify/api/service-resource) to create the resource under.",
            "in": "path",
            "name": "ServiceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "Address": {
                    "description": "The channel-specific address. For APNS, the device token. For FCM and GCM, the registration token. For SMS, a phone number in E.164 format. For Facebook Messenger, the Messenger ID of the user or a phone number in E.164 format.",
                    "type": "string"
                  },
                  "BindingType": {
                    "$ref": "#/components/schemas/binding_enum_binding_type",
                    "description": "The transport technology to use for the Binding. Can be: `apn`, `fcm`, `gcm`, `sms`, or `facebook-messenger`.",
                    "type": "string"
                  },
                  "CredentialSid": {
                    "description": "The SID of the [Credential](https://www.twilio.com/docs/notify/api/credential-resource) resource to be used to send notifications to this Binding. If present, this overrides the Credential specified in the Service resource. Applies to only `apn`, `fcm`, and `gcm` type Bindings.",
                    "maxLength": 34,
                    "minLength": 34,
                    "pattern": "^CR[0-9a-fA-F]{32}$",
                    "type": "string"
                  },
                  "Endpoint": {
                    "description": "Deprecated.",
                    "type": "string"
                  },
                  "Identity": {
                    "description": "The `identity` value that uniquely identifies the new resource's [User](https://www.twilio.com/docs/chat/rest/user-resource) within the [Service](https://www.twilio.com/docs/notify/api/service-resource). Up to 20 Bindings can be created for the same Identity in a given Service.",
                    "type": "string"
                  },
                  "NotificationProtocolVersion": {
                    "description": "The protocol version to use to send the notification. This defaults to the value of `default_xxxx_notification_protocol_version` for the protocol in the [Service](https://www.twilio.com/docs/notify/api/service-resource). The current version is `\"3\"` for `apn`, `fcm`, and `gcm` type Bindings. The parameter is not applicable to `sms` and `facebook-messenger` type Bindings as the data format is fixed.",
                    "type": "string"
                  },
                  "Tag": {
                    "description": "A tag that can be used to select the Bindings to notify. Repeat this parameter to specify more than one tag, up to a total of 20 tags.",
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  }
                },
                "required": [
                  "Identity",
                  "BindingType",
                  "Address"
                ],
                "title": "CreateBindingRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/notify.v1.service.binding"
                }
              }
            },
            "description": "Created"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "Beta"
        ]
      },
      "servers": [
        {
          "url": "https://notify.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "identity",
          "endpoint",
          "binding_type",
          "address"
        ],
        "parent": "/Services/{Sid}",
        "pathType": "list"
      }
    },
    "/v1/Services/{ServiceSid}/Bindings/{Sid}": {
      "delete": {
        "description": "",
        "operationId": "DeleteBinding",
        "parameters": [
          {
            "description": "The SID of the [Service](https://www.twilio.com/docs/notify/api/service-resource) to delete the resource from.",
            "in": "path",
            "name": "ServiceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "The Twilio-provided string that uniquely identifies the Binding resource to delete.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^BS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "Beta"
        ]
      },
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "",
        "operationId": "FetchBinding",
        "parameters": [
          {
            "description": "The SID of the [Service](https://www.twilio.com/docs/notify/api/service-resource) to fetch the resource from.",
            "in": "path",
            "name": "ServiceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "The Twilio-provided string that uniquely identifies the Binding resource to fetch.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^BS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/notify.v1.service.binding"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "Beta"
        ]
      },
      "servers": [
        {
          "url": "https://notify.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "identity",
          "endpoint",
          "binding_type",
          "address"
        ],
        "parent": "/Services/{Sid}",
        "pathType": "instance"
      }
    },
    "/v1/Services/{ServiceSid}/Notifications": {
      "description": "TODO: Resource-level docs",
      "post": {
        "description": "",
        "operationId": "CreateNotification",
        "parameters": [
          {
            "description": "The SID of the [Service](https://www.twilio.com/docs/notify/api/service-resource) to create the resource under.",
            "in": "path",
            "name": "ServiceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "Action": {
                    "description": "The actions to display for the notification. For APNS, translates to the `aps.category` value. For GCM, translates to the `data.twi_action` value. For SMS, this parameter is not supported and is omitted from deliveries to those channels.",
                    "type": "string"
                  },
                  "Alexa": {
                    "description": "Deprecated."
                  },
                  "Apn": {
                    "description": "The APNS-specific payload that overrides corresponding attributes in the generic payload for APNS Bindings. This property maps to the APNS `Payload` item, therefore the `aps` key must be used to change standard attributes. Adds custom key-value pairs to the root of the dictionary. See the [APNS documentation](https://developer.apple.com/library/content/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/CommunicatingwithAPNs.html) for more details. We reserve keys that start with `twi_` for future use. Custom keys that start with `twi_` are not allowed."
                  },
                  "Body": {
                    "description": "The notification text. For FCM and GCM, translates to `data.twi_body`. For APNS, translates to `aps.alert.body`. For SMS, translates to `body`. SMS requires either this `body` value, or `media_urls` attribute defined in the `sms` parameter of the notification.",
                    "type": "string"
                  },
                  "Data": {
                    "description": "The custom key-value pairs of the notification's payload. For FCM and GCM, this value translates to `data` in the FCM and GCM payloads. FCM and GCM [reserve certain keys](https://firebase.google.com/docs/cloud-messaging/http-server-ref) that cannot be used in those channels. For APNS, attributes of `data` are inserted into the APNS payload as custom properties outside of the `aps` dictionary. In all channels, we reserve keys that start with `twi_` for future use. Custom keys that start with `twi_` are not allowed and are rejected as 400 Bad request with no delivery attempted. For SMS, this parameter is not supported and is omitted from deliveries to those channels."
                  },
                  "DeliveryCallbackUrl": {
                    "description": "URL to send webhooks.",
                    "type": "string"
                  },
                  "FacebookMessenger": {
                    "description": "Deprecated."
                  },
                  "Fcm": {
                    "description": "The FCM-specific payload that overrides corresponding attributes in the generic payload for FCM Bindings. This property maps to the root JSON dictionary. See the [FCM documentation](https://firebase.google.com/docs/cloud-messaging/http-server-ref#downstream) for more details. Target parameters `to`, `registration_ids`, `condition`, and `notification_key` are not allowed in this parameter. We reserve keys that start with `twi_` for future use. Custom keys that start with `twi_` are not allowed. FCM also [reserves certain keys](https://firebase.google.com/docs/cloud-messaging/http-server-ref), which cannot be used in that channel."
                  },
                  "Gcm": {
                    "description": "The GCM-specific payload that overrides corresponding attributes in the generic payload for GCM Bindings.  This property maps to the root JSON dictionary. See the [GCM documentation](https://firebase.google.com/docs/cloud-messaging/http-server-ref) for more details. Target parameters `to`, `registration_ids`, and `notification_key` are not allowed. We reserve keys that start with `twi_` for future use. Custom keys that start with `twi_` are not allowed. GCM also [reserves certain keys](https://firebase.google.com/docs/cloud-messaging/http-server-ref)."
                  },
                  "Identity": {
                    "description": "The `identity` value that uniquely identifies the new resource's [User](https://www.twilio.com/docs/chat/rest/user-resource) within the [Service](https://www.twilio.com/docs/notify/api/service-resource). Delivery will be attempted only to Bindings with an Identity in this list. No more than 20 items are allowed in this list.",
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "Priority": {
                    "$ref": "#/components/schemas/notification_enum_priority",
                    "description": "The priority of the notification. Can be: `low` or `high` and the default is `high`. A value of `low` optimizes the client app's battery consumption; however, notifications may be delivered with unspecified delay. For FCM and GCM, `low` priority is the same as `Normal` priority. For APNS `low` priority is the same as `5`. A value of `high` sends the notification immediately, and can wake up a sleeping device. For FCM and GCM, `high` is the same as `High` priority. For APNS, `high` is a priority `10`. SMS does not support this property.",
                    "type": "string"
                  },
                  "Segment": {
                    "description": "The Segment resource is deprecated. Use the `tag` parameter, instead.",
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "Sms": {
                    "description": "The SMS-specific payload that overrides corresponding attributes in the generic payload for SMS Bindings.  Each attribute in this value maps to the corresponding `form` parameter of the Twilio [Message](https://www.twilio.com/docs/sms/send-messages) resource.  These parameters of the Message resource are supported in snake case format: `body`, `media_urls`, `status_callback`, and `max_price`.  The `status_callback` parameter overrides the corresponding parameter in the messaging service, if configured. The `media_urls` property expects a JSON array."
                  },
                  "Sound": {
                    "description": "The name of the sound to be played for the notification. For FCM and GCM, this Translates to `data.twi_sound`.  For APNS, this translates to `aps.sound`.  SMS does not support this property.",
                    "type": "string"
                  },
                  "Tag": {
                    "description": "A tag that selects the Bindings to notify. Repeat this parameter to specify more than one tag, up to a total of 5 tags. The implicit tag `all` is available to notify all Bindings in a Service instance. Similarly, the implicit tags `apn`, `fcm`, `gcm`, `sms` and `facebook-messenger` are available to notify all Bindings in a specific channel.",
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "Title": {
                    "description": "The notification title. For FCM and GCM, this translates to the `data.twi_title` value. For APNS, this translates to the `aps.alert.title` value. SMS does not support this property. This field is not visible on iOS phones and tablets but appears on Apple Watch and Android devices.",
                    "type": "string"
                  },
                  "ToBinding": {
                    "description": "The destination address specified as a JSON string.  Multiple `to_binding` parameters can be included but the total size of the request entity should not exceed 1MB. This is typically sufficient for 10,000 phone numbers.",
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "Ttl": {
                    "description": "How long, in seconds, the notification is valid. Can be an integer between 0 and 2,419,200, which is 4 weeks, the default and the maximum supported time to live (TTL). Delivery should be attempted if the device is offline until the TTL elapses. Zero means that the notification delivery is attempted immediately, only once, and is not stored for future delivery. SMS does not support this property.",
                    "type": "integer"
                  }
                },
                "title": "CreateNotificationRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/notify.v1.service.notification"
                }
              }
            },
            "description": "Created"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "Beta"
        ],
        "x-twilio": {
          "conditional": [
            [
              "identity",
              "tag"
            ]
          ]
        }
      },
      "servers": [
        {
          "url": "https://notify.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "priority",
          "title"
        ],
        "parent": "/Services/{Sid}",
        "pathType": "list"
      }
    },
    "/v1/Services/{Sid}": {
      "delete": {
        "description": "",
        "operationId": "DeleteService",
        "parameters": [
          {
            "description": "The Twilio-provided string that uniquely identifies the Service resource to delete.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "Beta"
        ]
      },
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "",
        "operationId": "FetchService",
        "parameters": [
          {
            "description": "The Twilio-provided string that uniquely identifies the Service resource to fetch.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/notify.v1.service"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "Beta"
        ]
      },
      "post": {
        "description": "",
        "operationId": "UpdateService",
        "parameters": [
          {
            "description": "The Twilio-provided string that uniquely identifies the Service resource to update.",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "AlexaSkillId": {
                    "description": "Deprecated.",
                    "type": "string"
                  },
                  "ApnCredentialSid": {
                    "description": "The SID of the [Credential](https://www.twilio.com/docs/notify/api/credential-resource) to use for APN Bindings.",
                    "maxLength": 34,
                    "minLength": 34,
                    "pattern": "^CR[0-9a-fA-F]{32}$",
                    "type": "string"
                  },
                  "DefaultAlexaNotificationProtocolVersion": {
                    "description": "Deprecated.",
                    "type": "string"
                  },
                  "DefaultApnNotificationProtocolVersion": {
                    "description": "The protocol version to use for sending APNS notifications. Can be overridden on a Binding by Binding basis when creating a [Binding](https://www.twilio.com/docs/notify/api/binding-resource) resource.",
                    "type": "string"
                  },
                  "DefaultFcmNotificationProtocolVersion": {
                    "description": "The protocol version to use for sending FCM notifications. Can be overridden on a Binding by Binding basis when creating a [Binding](https://www.twilio.com/docs/notify/api/binding-resource) resource.",
                    "type": "string"
                  },
                  "DefaultGcmNotificationProtocolVersion": {
                    "description": "The protocol version to use for sending GCM notifications. Can be overridden on a Binding by Binding basis when creating a [Binding](https://www.twilio.com/docs/notify/api/binding-resource) resource.",
                    "type": "string"
                  },
                  "DeliveryCallbackEnabled": {
                    "description": "Callback configuration that enables delivery callbacks, default false",
                    "type": "boolean"
                  },
                  "DeliveryCallbackUrl": {
                    "description": "URL to send delivery status callback.",
                    "type": "string"
                  },
                  "FacebookMessengerPageId": {
                    "description": "Deprecated.",
                    "type": "string"
                  },
                  "FcmCredentialSid": {
                    "description": "The SID of the [Credential](https://www.twilio.com/docs/notify/api/credential-resource) to use for FCM Bindings.",
                    "maxLength": 34,
                    "minLength": 34,
                    "pattern": "^CR[0-9a-fA-F]{32}$",
                    "type": "string"
                  },
                  "FriendlyName": {
                    "description": "A descriptive string that you create to describe the resource. It can be up to 64 characters long.",
                    "type": "string"
                  },
                  "GcmCredentialSid": {
                    "description": "The SID of the [Credential](https://www.twilio.com/docs/notify/api/credential-resource) to use for GCM Bindings.",
                    "maxLength": 34,
                    "minLength": 34,
                    "pattern": "^CR[0-9a-fA-F]{32}$",
                    "type": "string"
                  },
                  "LogEnabled": {
                    "description": "Whether to log notifications. Can be: `true` or `false` and the default is `true`.",
                    "type": "boolean"
                  },
                  "MessagingServiceSid": {
                    "description": "The SID of the [Messaging Service](https://www.twilio.com/docs/sms/send-messages#messaging-services) to use for SMS Bindings. This parameter must be set in order to send SMS notifications.",
                    "maxLength": 34,
                    "minLength": 34,
                    "pattern": "^MG[0-9a-fA-F]{32}$",
                    "type": "string"
                  }
                },
                "title": "UpdateServiceRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/notify.v1.service"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "Beta"
        ]
      },
      "servers": [
        {
          "url": "https://notify.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "friendly_name",
          "date_created"
        ],
        "pathType": "instance"
      }
    }
  },
  "components": {
    "schemas": {
      "binding_enum_binding_type": {
        "enum": [
          "apn",
          "gcm",
          "sms",
          "fcm",
          "facebook-messenger",
          "alexa"
        ],
        "type": "string"
      },
      "credential_enum_push_service": {
        "enum": [
          "gcm",
          "apn",
          "fcm"
        ],
        "type": "string"
      },
      "notification_enum_priority": {
        "enum": [
          "high",
          "low"
        ],
        "type": "string"
      },
      "notify.v1.credential": {
        "properties": {
          "account_sid": {
            "description": "The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Credential resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^AC[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "date_created": {
            "description": "The date and time in GMT when the resource was created specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "date_updated": {
            "description": "The date and time in GMT when the resource was last updated specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "friendly_name": {
            "description": "The string that you assigned to describe the resource.",
            "nullable": true,
            "type": "string"
          },
          "sandbox": {
            "description": "[APN only] Whether to send the credential to sandbox APNs. Can be `true` to send to sandbox APNs or `false` to send to production.",
            "nullable": true,
            "type": "string"
          },
          "sid": {
            "description": "The unique string that we created to identify the Credential resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^CR[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/credential_enum_push_service",
            "description": "The Credential type. Can be: `gcm`, `fcm`, or `apn`.",
            "nullable": true,
            "type": "string"
          },
          "url": {
            "description": "The absolute URL of the Credential resource.",
            "format": "uri",
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "notify.v1.service": {
        "properties": {
          "account_sid": {
            "description": "The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Service resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^AC[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "alexa_skill_id": {
            "description": "Deprecated.",
            "nullable": true,
            "type": "string"
          },
          "apn_credential_sid": {
            "description": "The SID of the [Credential](https://www.twilio.com/docs/notify/api/credential-resource) to use for APN Bindings.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^CR[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "date_created": {
            "description": "The date and time in GMT when the resource was created specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "date_updated": {
            "description": "The date and time in GMT when the resource was last updated specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "default_alexa_notification_protocol_version": {
            "description": "Deprecated.",
            "nullable": true,
            "type": "string"
          },
          "default_apn_notification_protocol_version": {
            "description": "The protocol version to use for sending APNS notifications. Can be overridden on a Binding by Binding basis when creating a [Binding](https://www.twilio.com/docs/notify/api/binding-resource) resource.",
            "nullable": true,
            "type": "string"
          },
          "default_fcm_notification_protocol_version": {
            "description": "The protocol version to use for sending FCM notifications. Can be overridden on a Binding by Binding basis when creating a [Binding](https://www.twilio.com/docs/notify/api/binding-resource) resource.",
            "nullable": true,
            "type": "string"
          },
          "default_gcm_notification_protocol_version": {
            "description": "The protocol version to use for sending GCM notifications. Can be overridden on a Binding by Binding basis when creating a [Binding](https://www.twilio.com/docs/notify/api/binding-resource) resource.",
            "nullable": true,
            "type": "string"
          },
          "delivery_callback_enabled": {
            "description": "Callback configuration that enables delivery callbacks, default false",
            "nullable": true,
            "type": "boolean"
          },
          "delivery_callback_url": {
            "description": "URL to send delivery status callback.",
            "nullable": true,
            "type": "string"
          },
          "facebook_messenger_page_id": {
            "description": "Deprecated.",
            "nullable": true,
            "type": "string"
          },
          "fcm_credential_sid": {
            "description": "The SID of the [Credential](https://www.twilio.com/docs/notify/api/credential-resource) to use for FCM Bindings.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^CR[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "friendly_name": {
            "description": "The string that you assigned to describe the resource.",
            "nullable": true,
            "type": "string"
          },
          "gcm_credential_sid": {
            "description": "The SID of the [Credential](https://www.twilio.com/docs/notify/api/credential-resource) to use for GCM Bindings.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^CR[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "links": {
            "description": "The URLs of the Binding, Notification, Segment, and User resources related to the service.",
            "format": "uri-map",
            "nullable": true,
            "type": "object"
          },
          "log_enabled": {
            "description": "Whether to log notifications. Can be: `true` or `false` and the default is `true`.",
            "nullable": true,
            "type": "boolean"
          },
          "messaging_service_sid": {
            "description": "The SID of the [Messaging Service](https://www.twilio.com/docs/sms/send-messages#messaging-services) to use for SMS Bindings. In order to send SMS notifications this parameter has to be set.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^MG[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "sid": {
            "description": "The unique string that we created to identify the Service resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^IS[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "url": {
            "description": "The absolute URL of the Service resource.",
            "format": "uri",
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "notify.v1.service.binding": {
        "properties": {
          "account_sid": {
            "description": "The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Binding resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^AC[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "address": {
            "description": "The channel-specific address. For APNS, the device token. For FCM and GCM, the registration token. For SMS, a phone number in E.164 format. For Facebook Messenger, the Messenger ID of the user or a phone number in E.164 format.",
            "nullable": true,
            "type": "string"
          },
          "binding_type": {
            "description": "The transport technology to use for the Binding. Can be: `apn`, `fcm`, `gcm`, `sms`, or `facebook-messenger`.",
            "nullable": true,
            "type": "string"
          },
          "credential_sid": {
            "description": "The SID of the [Credential](https://www.twilio.com/docs/notify/api/credential-resource) resource to be used to send notifications to this Binding. If present, this overrides the Credential specified in the Service resource. Applicable only to `apn`, `fcm`, and `gcm` type Bindings.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^CR[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "date_created": {
            "description": "The date and time in GMT when the resource was created specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "date_updated": {
            "description": "The date and time in GMT when the resource was last updated specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "endpoint": {
            "description": "Deprecated.",
            "nullable": true,
            "type": "string"
          },
          "identity": {
            "description": "The `identity` value that uniquely identifies the resource's [User](https://www.twilio.com/docs/chat/rest/user-resource) within the [Service](https://www.twilio.com/docs/notify/api/service-resource). Up to 20 Bindings can be created for the same Identity in a given Service.",
            "nullable": true,
            "type": "string"
          },
          "links": {
            "description": "The URLs of related resources.",
            "format": "uri-map",
            "nullable": true,
            "type": "object"
          },
          "notification_protocol_version": {
            "description": "The protocol version to use to send the notification. This defaults to the value of `default_xxxx_notification_protocol_version` in the [Service](https://www.twilio.com/docs/notify/api/service-resource) for the protocol. The current version is `\"3\"` for `apn`, `fcm`, and `gcm` type Bindings. The parameter is not applicable to `sms` and `facebook-messenger` type Bindings as the data format is fixed.",
            "nullable": true,
            "type": "string"
          },
          "service_sid": {
            "description": "The SID of the [Service](https://www.twilio.com/docs/notify/api/service-resource) the resource is associated with.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^IS[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "sid": {
            "description": "The unique string that we created to identify the Binding resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^BS[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "tags": {
            "description": "The list of tags associated with this Binding. Tags can be used to select the Bindings to use when sending a notification. Maximum 20 tags are allowed.",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "type": "array"
          },
          "url": {
            "description": "The absolute URL of the Binding resource.",
            "format": "uri",
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "notify.v1.service.notification": {
        "properties": {
          "account_sid": {
            "description": "The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that created the Notification resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^AC[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "action": {
            "description": "The actions to display for the notification. For APNS, translates to the `aps.category` value. For GCM, translates to the `data.twi_action` value. For SMS, this parameter is not supported and is omitted from deliveries to those channels.",
            "nullable": true,
            "type": "string"
          },
          "alexa": {
            "description": "Deprecated.",
            "nullable": true
          },
          "apn": {
            "description": "The APNS-specific payload that overrides corresponding attributes in the generic payload for APNS Bindings. This property maps to the APNS `Payload` item, therefore the `aps` key must be used to change standard attributes. Adds custom key-value pairs to the root of the dictionary. See the [APNS documentation](https://developer.apple.com/library/content/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/CommunicatingwithAPNs.html) for more details. We reserve keys that start with `twi_` for future use. Custom keys that start with `twi_` are not allowed.",
            "nullable": true
          },
          "body": {
            "description": "The notification text. For FCM and GCM, translates to `data.twi_body`. For APNS, translates to `aps.alert.body`. For SMS, translates to `body`. SMS requires either this `body` value, or `media_urls` attribute defined in the `sms` parameter of the notification.",
            "nullable": true,
            "type": "string"
          },
          "data": {
            "description": "The custom key-value pairs of the notification's payload. For FCM and GCM, this value translates to `data` in the FCM and GCM payloads. FCM and GCM [reserve certain keys](https://firebase.google.com/docs/cloud-messaging/http-server-ref) that cannot be used in those channels. For APNS, attributes of `data` are inserted into the APNS payload as custom properties outside of the `aps` dictionary. In all channels, we reserve keys that start with `twi_` for future use. Custom keys that start with `twi_` are not allowed and are rejected as 400 Bad request with no delivery attempted. For SMS, this parameter is not supported and is omitted from deliveries to those channels.",
            "nullable": true
          },
          "date_created": {
            "description": "The date and time in GMT when the resource was created specified in [RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) format.",
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "facebook_messenger": {
            "description": "Deprecated.",
            "nullable": true
          },
          "fcm": {
            "description": "The FCM-specific payload that overrides corresponding attributes in the generic payload for FCM Bindings. This property maps to the root JSON dictionary. See the [FCM documentation](https://firebase.google.com/docs/cloud-messaging/http-server-ref#downstream) for more details. Target parameters `to`, `registration_ids`, `condition`, and `notification_key` are not allowed in this parameter. We reserve keys that start with `twi_` for future use. Custom keys that start with `twi_` are not allowed. FCM also [reserves certain keys](https://firebase.google.com/docs/cloud-messaging/http-server-ref), which cannot be used in that channel.",
            "nullable": true
          },
          "gcm": {
            "description": "The GCM-specific payload that overrides corresponding attributes in the generic payload for GCM Bindings.  This property maps to the root JSON dictionary. Target parameters `to`, `registration_ids`, and `notification_key` are not allowed. We reserve keys that start with `twi_` for future use. Custom keys that start with `twi_` are not allowed.",
            "nullable": true
          },
          "identities": {
            "description": "The list of `identity` values of the Users to notify. We will attempt to deliver notifications only to Bindings with an identity in this list.",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "type": "array"
          },
          "priority": {
            "$ref": "#/components/schemas/notification_enum_priority",
            "description": "The priority of the notification. Can be: `low` or `high` and the default is `high`. A value of `low` optimizes the client app's battery consumption; however, notifications may be delivered with unspecified delay. For FCM and GCM, `low` priority is the same as `Normal` priority. For APNS `low` priority is the same as `5`. A value of `high` sends the notification immediately, and can wake up a sleeping device. For FCM and GCM, `high` is the same as `High` priority. For APNS, `high` is a priority `10`. SMS does not support this property.",
            "nullable": true,
            "type": "string"
          },
          "segments": {
            "description": "The list of Segments to notify. The [Segment](https://www.twilio.com/docs/notify/api/segment-resource) resource is deprecated. Use the `tags` property, instead.",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "type": "array"
          },
          "service_sid": {
            "description": "The SID of the [Service](https://www.twilio.com/docs/notify/api/service-resource) the resource is associated with.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^IS[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "sid": {
            "description": "The unique string that we created to identify the Notification resource.",
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^NT[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "sms": {
            "description": "The SMS-specific payload that overrides corresponding attributes in the generic payload for SMS Bindings.  Each attribute in this value maps to the corresponding `form` parameter of the Twilio [Message](https://www.twilio.com/docs/sms/api/message-resource) resource.  These parameters of the Message resource are supported in snake case format: `body`, `media_urls`, `status_callback`, and `max_price`.  The `status_callback` parameter overrides the corresponding parameter in the messaging service, if configured. The `media_urls` property expects a JSON array.",
            "nullable": true
          },
          "sound": {
            "description": "The name of the sound to be played for the notification. For FCM and GCM, this Translates to `data.twi_sound`.  For APNS, this translates to `aps.sound`.  SMS does not support this property.",
            "nullable": true,
            "type": "string"
          },
          "tags": {
            "description": "The tags that select the Bindings to notify. Notifications will be attempted only to Bindings that have all of the tags listed in this property.",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "type": "array"
          },
          "title": {
            "description": "The notification title. For FCM and GCM, this translates to the `data.twi_title` value. For APNS, this translates to the `aps.alert.title` value. SMS does not support this property. This field is not visible on iOS phones and tablets but appears on Apple Watch and Android devices.",
            "nullable": true,
            "type": "string"
          },
          "ttl": {
            "description": "How long, in seconds, the notification is valid. Can be an integer between 0 and 2,419,200, which is 4 weeks, the default and the maximum supported time to live (TTL). Delivery should be attempted if the device is offline until the TTL elapses. Zero means that the notification delivery is attempted immediately, only once, and is not stored for future delivery. SMS does not support this property.",
            "nullable": true,
            "type": "integer"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "accountSid_authToken": {
        "scheme": "basic",
        "type": "http"
      }
    }
  },
  "x-maturity": [
    {
      "description": "PLEASE NOTE that this is a Beta product that is subject to change. Use it with caution.",
      "name": "Beta"
    }
  ]
}