swagger: '2.0'
schemes:
  - https
host: texttospeech.googleapis.com
basePath: /
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: Synthesizes natural-sounding speech by applying powerful neural network models.
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Cloud Text-to-Speech
  version: v1beta1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.7.31
      format: google
      url: 'https://texttospeech.googleapis.com/$discovery/rest?version=v1beta1'
      version: v1
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: texttospeech
externalDocs:
  url: 'https://cloud.google.com/text-to-speech/'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  $.xgafv:
    description: V1 error format.
    enum:
      - '1'
      - '2'
    in: query
    name: $.xgafv
    type: string
  access_token:
    description: OAuth access token.
    in: query
    name: access_token
    type: string
  alt:
    default: json
    description: Data format for response.
    enum:
      - json
      - media
      - proto
    in: query
    name: alt
    type: string
  callback:
    description: JSONP
    in: query
    name: callback
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
    in: query
    name: quotaUser
    type: string
  uploadType:
    description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
    in: query
    name: uploadType
    type: string
  upload_protocol:
    description: 'Upload protocol for media (e.g. "raw", "multipart").'
    in: query
    name: upload_protocol
    type: string
tags:
  - name: text
  - name: voices
paths:
  '/v1beta1/text:synthesize':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Synthesizes speech synchronously: receive results after all text input
        has been processed.
      operationId: texttospeech.text.synthesize
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SynthesizeSpeechRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SynthesizeSpeechResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - text
  /v1beta1/voices:
    get:
      description: Returns a list of Voice supported for synthesis.
      operationId: texttospeech.voices.list
      parameters:
        - description: |-
            Optional (but recommended)
            [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag. If
            specified, the ListVoices call will only return voices that can be used to
            synthesize this language_code. E.g. when specifying "en-NZ", you will get
            supported "en-*" voices; when specifying "no", you will get supported
            "no-*" (Norwegian) and "nb-*" (Norwegian Bokmal) voices; specifying "zh"
            will also get supported "cmn-*" voices; specifying "zh-hk" will also get
            supported "yue-*" voices.
          in: query
          name: languageCode
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListVoicesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - voices
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
definitions:
  AudioConfig:
    description: Description of audio data to be synthesized.
    properties:
      audioEncoding:
        description: Required. The format of the requested audio byte stream.
        enum:
          - AUDIO_ENCODING_UNSPECIFIED
          - LINEAR16
          - MP3
          - OGG_OPUS
        type: string
      effectsProfileId:
        description: |-
          An identifier which selects 'audio effects' profiles that are applied on
          (post synthesized) text to speech.
          Effects are applied on top of each other in the order they are given.
          See

          [audio-profiles](https:
          //cloud.google.com/text-to-speech/docs/audio-profiles)
          for current supported profile ids.
        items:
          type: string
        type: array
      pitch:
        description: |-
          Optional speaking pitch, in the range [-20.0, 20.0]. 20 means increase 20
          semitones from the original pitch. -20 means decrease 20 semitones from the
          original pitch.
        format: double
        type: number
      sampleRateHertz:
        description: |-
          The synthesis sample rate (in hertz) for this audio. Optional.  If this is
          different from the voice's natural sample rate, then the synthesizer will
          honor this request by converting to the desired sample rate (which might
          result in worse audio quality), unless the specified sample rate is not
          supported for the encoding chosen, in which case it will fail the request
          and return google.rpc.Code.INVALID_ARGUMENT.
        format: int32
        type: integer
      speakingRate:
        description: |-
          Optional speaking rate/speed, in the range [0.25, 4.0]. 1.0 is the normal
          native speed supported by the specific voice. 2.0 is twice as fast, and
          0.5 is half as fast. If unset(0.0), defaults to the native 1.0 speed. Any
          other values < 0.25 or > 4.0 will return an error.
        format: double
        type: number
      volumeGainDb:
        description: |-
          Optional volume gain (in dB) of the normal native volume supported by the
          specific voice, in the range [-96.0, 16.0]. If unset, or set to a value of
          0.0 (dB), will play at normal native signal amplitude. A value of -6.0 (dB)
          will play at approximately half the amplitude of the normal native signal
          amplitude. A value of +6.0 (dB) will play at approximately twice the
          amplitude of the normal native signal amplitude. Strongly recommend not to
          exceed +10 (dB) as there's usually no effective increase in loudness for
          any value greater than that.
        format: double
        type: number
    type: object
  ListVoicesResponse:
    description: The message returned to the client by the `ListVoices` method.
    properties:
      voices:
        description: The list of voices.
        items:
          $ref: '#/definitions/Voice'
        type: array
    type: object
  SynthesisInput:
    description: |-
      Contains text input to be synthesized. Either `text` or `ssml` must be
      supplied. Supplying both or neither returns
      google.rpc.Code.INVALID_ARGUMENT. The input size is limited to 5000
      characters.
    properties:
      ssml:
        description: |-
          The SSML document to be synthesized. The SSML document must be valid
          and well-formed. Otherwise the RPC will fail and return
          google.rpc.Code.INVALID_ARGUMENT. For more information, see
          [SSML](/speech/text-to-speech/docs/ssml).
        type: string
      text:
        description: The raw text to be synthesized.
        type: string
    type: object
  SynthesizeSpeechRequest:
    description: The top-level message sent by the client for the `SynthesizeSpeech` method.
    properties:
      audioConfig:
        $ref: '#/definitions/AudioConfig'
        description: Required. The configuration of the synthesized audio.
      input:
        $ref: '#/definitions/SynthesisInput'
        description: Required. The Synthesizer requires either plain text or SSML as input.
      voice:
        $ref: '#/definitions/VoiceSelectionParams'
        description: Required. The desired voice of the synthesized audio.
    type: object
  SynthesizeSpeechResponse:
    description: The message returned to the client by the `SynthesizeSpeech` method.
    properties:
      audioContent:
        description: |-
          The audio data bytes encoded as specified in the request, including the
          header (For LINEAR16 audio, we include the WAV header). Note: as
          with all bytes fields, protobuffers use a pure binary representation,
          whereas JSON representations use base64.
        format: byte
        type: string
    type: object
  Voice:
    description: Description of a voice supported by the TTS service.
    properties:
      languageCodes:
        description: |-
          The languages that this voice supports, expressed as
          [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tags (e.g.
          "en-US", "es-419", "cmn-tw").
        items:
          type: string
        type: array
      name:
        description: The name of this voice.  Each distinct voice has a unique name.
        type: string
      naturalSampleRateHertz:
        description: The natural sample rate (in hertz) for this voice.
        format: int32
        type: integer
      ssmlGender:
        description: The gender of this voice.
        enum:
          - SSML_VOICE_GENDER_UNSPECIFIED
          - MALE
          - FEMALE
          - NEUTRAL
        type: string
    type: object
  VoiceSelectionParams:
    description: Description of which voice to use for a synthesis request.
    properties:
      languageCode:
        description: |-
          The language (and optionally also the region) of the voice expressed as a
          [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag, e.g.
          "en-US". Required. This should not include a script tag (e.g. use
          "cmn-cn" rather than "cmn-Hant-cn"), because the script will be inferred
          from the input provided in the SynthesisInput.  The TTS service
          will use this parameter to help choose an appropriate voice.  Note that
          the TTS service may choose a voice with a slightly different language code
          than the one selected; it may substitute a different region
          (e.g. using en-US rather than en-CA if there isn't a Canadian voice
          available), or even a different language, e.g. using "nb" (Norwegian
          Bokmal) instead of "no" (Norwegian)".
        type: string
      name:
        description: |-
          The name of the voice. Optional; if not set, the service will choose a
          voice based on the other parameters such as language_code and gender.
        type: string
      ssmlGender:
        description: |-
          The preferred gender of the voice. Optional; if not set, the service will
          choose a voice based on the other parameters such as language_code and
          name. Note that this is only a preference, not requirement; if a
          voice of the appropriate gender is not available, the synthesizer should
          substitute a voice with a different gender rather than failing the request.
        enum:
          - SSML_VOICE_GENDER_UNSPECIFIED
          - MALE
          - FEMALE
          - NEUTRAL
        type: string
    type: object
