swagger: '2.0'
schemes:
  - https
host: cloudkms.googleapis.com
basePath: /
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: 'Manages encryption for your cloud services the same way you do on-premises. You can generate, use, rotate, and destroy AES256 encryption keys.'
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Google Cloud Key Management Service (KMS)
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-apisguru-categories:
    - security
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.0.1
      format: google
      url: 'https://cloudkms.googleapis.com/$discovery/rest?version=v1'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: cloudkms
externalDocs:
  url: 'https://cloud.google.com/kms/'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  $.xgafv:
    description: V1 error format.
    enum:
      - '1'
      - '2'
    in: query
    name: $.xgafv
    type: string
  access_token:
    description: OAuth access token.
    in: query
    name: access_token
    type: string
  alt:
    default: json
    description: Data format for response.
    enum:
      - json
      - media
      - proto
    in: query
    name: alt
    type: string
  bearer_token:
    description: OAuth bearer token.
    in: query
    name: bearer_token
    type: string
  callback:
    description: JSONP
    in: query
    name: callback
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  pp:
    default: true
    description: Pretty-print response.
    in: query
    name: pp
    type: boolean
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
    in: query
    name: quotaUser
    type: string
  uploadType:
    description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
    in: query
    name: uploadType
    type: string
  upload_protocol:
    description: 'Upload protocol for media (e.g. "raw", "multipart").'
    in: query
    name: upload_protocol
    type: string
tags:
  - name: projects
paths:
  '/v1/{name}':
    get:
      description: Returns metadata for a given CryptoKeyVersion.
      operationId: cloudkms.projects.locations.keyRings.cryptoKeys.cryptoKeyVersions.get
      parameters:
        - description: The name of the CryptoKeyVersion to get.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CryptoKeyVersion'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
    patch:
      description: |-
        Update a CryptoKeyVersion's metadata.

        state may be changed between
        ENABLED and
        DISABLED using this
        method. See DestroyCryptoKeyVersion and RestoreCryptoKeyVersion to
        move between other states.
      operationId: cloudkms.projects.locations.keyRings.cryptoKeys.cryptoKeyVersions.patch
      parameters:
        - description: |-
            Output only. The resource name for this CryptoKeyVersion in the format
            `projects/*/locations/*/keyRings/*/cryptoKeys/*/cryptoKeyVersions/*`.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
        - description: Required list of fields to be updated in this request.
          in: query
          name: updateMask
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CryptoKeyVersion'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CryptoKeyVersion'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/{name}/locations':
    get:
      description: Lists information about the supported locations for this service.
      operationId: cloudkms.projects.locations.list
      parameters:
        - description: 'The resource that owns the locations collection, if applicable.'
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
        - description: The standard list page size.
          in: query
          name: pageSize
          type: integer
        - description: The standard list filter.
          in: query
          name: filter
          type: string
        - description: The standard list page token.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListLocationsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
  '/v1/{name}:decrypt':
    parameters:
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
    post:
      description: Decrypts data that was protected by Encrypt.
      operationId: cloudkms.projects.locations.keyRings.cryptoKeys.decrypt
      parameters:
        - description: |-
            Required. The resource name of the CryptoKey to use for decryption.
            The server will choose the appropriate version.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
        - in: body
          name: body
          schema:
            $ref: '#/definitions/DecryptRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/DecryptResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/{name}:destroy':
    parameters:
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
    post:
      description: |-
        Schedule a CryptoKeyVersion for destruction.

        Upon calling this method, CryptoKeyVersion.state will be set to
        DESTROY_SCHEDULED
        and destroy_time will be set to a time 24
        hours in the future, at which point the state
        will be changed to
        DESTROYED, and the key
        material will be irrevocably destroyed.

        Before the destroy_time is reached,
        RestoreCryptoKeyVersion may be called to reverse the process.
      operationId: cloudkms.projects.locations.keyRings.cryptoKeys.cryptoKeyVersions.destroy
      parameters:
        - description: The resource name of the CryptoKeyVersion to destroy.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
        - in: body
          name: body
          schema:
            $ref: '#/definitions/DestroyCryptoKeyVersionRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CryptoKeyVersion'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/{name}:encrypt':
    parameters:
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
    post:
      description: 'Encrypts data, so that it can only be recovered by a call to Decrypt.'
      operationId: cloudkms.projects.locations.keyRings.cryptoKeys.encrypt
      parameters:
        - description: |-
            Required. The resource name of the CryptoKey or CryptoKeyVersion
            to use for encryption.

            If a CryptoKey is specified, the server will use its
            primary version.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
        - in: body
          name: body
          schema:
            $ref: '#/definitions/EncryptRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/EncryptResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/{name}:restore':
    parameters:
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
    post:
      description: |-
        Restore a CryptoKeyVersion in the
        DESTROY_SCHEDULED,
        state.

        Upon restoration of the CryptoKeyVersion, state
        will be set to DISABLED,
        and destroy_time will be cleared.
      operationId: cloudkms.projects.locations.keyRings.cryptoKeys.cryptoKeyVersions.restore
      parameters:
        - description: The resource name of the CryptoKeyVersion to restore.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
        - in: body
          name: body
          schema:
            $ref: '#/definitions/RestoreCryptoKeyVersionRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CryptoKeyVersion'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/{name}:updatePrimaryVersion':
    parameters:
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
    post:
      description: Update the version of a CryptoKey that will be used in Encrypt
      operationId: cloudkms.projects.locations.keyRings.cryptoKeys.updatePrimaryVersion
      parameters:
        - description: The resource name of the CryptoKey to update.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
        - in: body
          name: body
          schema:
            $ref: '#/definitions/UpdateCryptoKeyPrimaryVersionRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CryptoKey'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/{parent}/cryptoKeyVersions':
    get:
      description: Lists CryptoKeyVersions.
      operationId: cloudkms.projects.locations.keyRings.cryptoKeys.cryptoKeyVersions.list
      parameters:
        - description: |-
            Required. The resource name of the CryptoKey to list, in the format
            `projects/*/locations/*/keyRings/*/cryptoKeys/*`.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
        - description: |-
            Optional pagination token, returned earlier via
            ListCryptoKeyVersionsResponse.next_page_token.
          in: query
          name: pageToken
          type: string
        - description: |-
            Optional limit on the number of CryptoKeyVersions to
            include in the response. Further CryptoKeyVersions can
            subsequently be obtained by including the
            ListCryptoKeyVersionsResponse.next_page_token in a subsequent request.
            If unspecified, the server will pick an appropriate default.
          in: query
          name: pageSize
          type: integer
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListCryptoKeyVersionsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
    post:
      description: |-
        Create a new CryptoKeyVersion in a CryptoKey.

        The server will assign the next sequential id. If unset,
        state will be set to
        ENABLED.
      operationId: cloudkms.projects.locations.keyRings.cryptoKeys.cryptoKeyVersions.create
      parameters:
        - description: |-
            Required. The name of the CryptoKey associated with
            the CryptoKeyVersions.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CryptoKeyVersion'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CryptoKeyVersion'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/{parent}/cryptoKeys':
    get:
      description: Lists CryptoKeys.
      operationId: cloudkms.projects.locations.keyRings.cryptoKeys.list
      parameters:
        - description: |-
            Required. The resource name of the KeyRing to list, in the format
            `projects/*/locations/*/keyRings/*`.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
        - description: |-
            Optional pagination token, returned earlier via
            ListCryptoKeysResponse.next_page_token.
          in: query
          name: pageToken
          type: string
        - description: |-
            Optional limit on the number of CryptoKeys to include in the
            response.  Further CryptoKeys can subsequently be obtained by
            including the ListCryptoKeysResponse.next_page_token in a subsequent
            request.  If unspecified, the server will pick an appropriate default.
          in: query
          name: pageSize
          type: integer
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListCryptoKeysResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
    post:
      description: |-
        Create a new CryptoKey within a KeyRing.

        CryptoKey.purpose is required.
      operationId: cloudkms.projects.locations.keyRings.cryptoKeys.create
      parameters:
        - description: |-
            Required. The name of the KeyRing associated with the
            CryptoKeys.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
        - description: |-
            Required. It must be unique within a KeyRing and match the regular
            expression `[a-zA-Z0-9_-]{1,63}`
          in: query
          name: cryptoKeyId
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CryptoKey'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CryptoKey'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/{parent}/keyRings':
    get:
      description: Lists KeyRings.
      operationId: cloudkms.projects.locations.keyRings.list
      parameters:
        - description: |-
            Required. The resource name of the location associated with the
            KeyRings, in the format `projects/*/locations/*`.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
        - description: |-
            Optional pagination token, returned earlier via
            ListKeyRingsResponse.next_page_token.
          in: query
          name: pageToken
          type: string
        - description: |-
            Optional limit on the number of KeyRings to include in the
            response.  Further KeyRings can subsequently be obtained by
            including the ListKeyRingsResponse.next_page_token in a subsequent
            request.  If unspecified, the server will pick an appropriate default.
          in: query
          name: pageSize
          type: integer
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListKeyRingsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
    post:
      description: Create a new KeyRing in a given Project and Location.
      operationId: cloudkms.projects.locations.keyRings.create
      parameters:
        - description: |-
            Required. The resource name of the location associated with the
            KeyRings, in the format `projects/*/locations/*`.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
        - description: |-
            Required. It must be unique within a location and match the regular
            expression `[a-zA-Z0-9_-]{1,63}`
          in: query
          name: keyRingId
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/KeyRing'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/KeyRing'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/{resource}:getIamPolicy':
    get:
      description: |-
        Gets the access control policy for a resource.
        Returns an empty policy if the resource exists and does not have a policy
        set.
      operationId: cloudkms.projects.locations.keyRings.cryptoKeys.getIamPolicy
      parameters:
        - description: |-
            REQUIRED: The resource for which the policy is being requested.
            See the operation documentation for the appropriate value for this field.
          in: path
          name: resource
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Policy'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
  '/v1/{resource}:setIamPolicy':
    parameters:
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
    post:
      description: |-
        Sets the access control policy on the specified resource. Replaces any
        existing policy.
      operationId: cloudkms.projects.locations.keyRings.cryptoKeys.setIamPolicy
      parameters:
        - description: |-
            REQUIRED: The resource for which the policy is being specified.
            See the operation documentation for the appropriate value for this field.
          in: path
          name: resource
          required: true
          type: string
          x-reservedExpansion: true
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SetIamPolicyRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Policy'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/{resource}:testIamPermissions':
    parameters:
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
    post:
      description: |-
        Returns permissions that a caller has on the specified resource.
        If the resource does not exist, this will return an empty set of
        permissions, not a NOT_FOUND error.

        Note: This operation is designed to be used for building permission-aware
        UIs and command-line tools, not for authorization checking. This operation
        may "fail open" without warning.
      operationId: cloudkms.projects.locations.keyRings.cryptoKeys.testIamPermissions
      parameters:
        - description: |-
            REQUIRED: The resource for which the policy detail is being requested.
            See the operation documentation for the appropriate value for this field.
          in: path
          name: resource
          required: true
          type: string
          x-reservedExpansion: true
        - in: body
          name: body
          schema:
            $ref: '#/definitions/TestIamPermissionsRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TestIamPermissionsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
definitions:
  AuditConfig:
    description: |-
      Specifies the audit configuration for a service.
      The configuration determines which permission types are logged, and what
      identities, if any, are exempted from logging.
      An AuditConfig must have one or more AuditLogConfigs.

      If there are AuditConfigs for both `allServices` and a specific service,
      the union of the two AuditConfigs is used for that service: the log_types
      specified in each AuditConfig are enabled, and the exempted_members in each
      AuditConfig are exempted.

      Example Policy with multiple AuditConfigs:

          {
            "audit_configs": [
              {
                "service": "allServices"
                "audit_log_configs": [
                  {
                    "log_type": "DATA_READ",
                    "exempted_members": [
                      "user:foo@gmail.com"
                    ]
                  },
                  {
                    "log_type": "DATA_WRITE",
                  },
                  {
                    "log_type": "ADMIN_READ",
                  }
                ]
              },
              {
                "service": "fooservice.googleapis.com"
                "audit_log_configs": [
                  {
                    "log_type": "DATA_READ",
                  },
                  {
                    "log_type": "DATA_WRITE",
                    "exempted_members": [
                      "user:bar@gmail.com"
                    ]
                  }
                ]
              }
            ]
          }

      For fooservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ
      logging. It also exempts foo@gmail.com from DATA_READ logging, and
      bar@gmail.com from DATA_WRITE logging.
    properties:
      auditLogConfigs:
        description: |-
          The configuration for logging of each type of permission.
          Next ID: 4
        items:
          $ref: '#/definitions/AuditLogConfig'
        type: array
      exemptedMembers:
        items:
          type: string
        type: array
      service:
        description: |-
          Specifies a service that will be enabled for audit logging.
          For example, `storage.googleapis.com`, `cloudsql.googleapis.com`.
          `allServices` is a special value that covers all services.
        type: string
    type: object
  AuditLogConfig:
    description: |-
      Provides the configuration for logging a type of permissions.
      Example:

          {
            "audit_log_configs": [
              {
                "log_type": "DATA_READ",
                "exempted_members": [
                  "user:foo@gmail.com"
                ]
              },
              {
                "log_type": "DATA_WRITE",
              }
            ]
          }

      This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting
      foo@gmail.com from DATA_READ logging.
    properties:
      exemptedMembers:
        description: |-
          Specifies the identities that do not cause logging for this type of
          permission.
          Follows the same format of Binding.members.
        items:
          type: string
        type: array
      logType:
        description: The log type that this config enables.
        enum:
          - LOG_TYPE_UNSPECIFIED
          - ADMIN_READ
          - DATA_WRITE
          - DATA_READ
        type: string
    type: object
  Binding:
    description: Associates `members` with a `role`.
    properties:
      condition:
        $ref: '#/definitions/Expr'
        description: |-
          The condition that is associated with this binding.
          NOTE: an unsatisfied condition will not allow user access via current
          binding. Different bindings, including their conditions, are examined
          independently.
          This field is GOOGLE_INTERNAL.
      members:
        description: |+
          Specifies the identities requesting access for a Cloud Platform resource.
          `members` can have the following values:

          * `allUsers`: A special identifier that represents anyone who is
             on the internet; with or without a Google account.

          * `allAuthenticatedUsers`: A special identifier that represents anyone
             who is authenticated with a Google account or a service account.

          * `user:{emailid}`: An email address that represents a specific Google
             account. For example, `alice@gmail.com` or `joe@example.com`.


          * `serviceAccount:{emailid}`: An email address that represents a service
             account. For example, `my-other-app@appspot.gserviceaccount.com`.

          * `group:{emailid}`: An email address that represents a Google group.
             For example, `admins@example.com`.


          * `domain:{domain}`: A Google Apps domain name that represents all the
             users of that domain. For example, `google.com` or `example.com`.

        items:
          type: string
        type: array
      role:
        description: |-
          Role that is assigned to `members`.
          For example, `roles/viewer`, `roles/editor`, or `roles/owner`.
          Required
        type: string
    type: object
  CloudAuditOptions:
    description: Write a Cloud Audit log
    properties:
      logName:
        description: The log_name to populate in the Cloud Audit Record.
        enum:
          - UNSPECIFIED_LOG_NAME
          - ADMIN_ACTIVITY
          - DATA_ACCESS
        type: string
    type: object
  Condition:
    description: A condition to be met.
    properties:
      iam:
        description: Trusted attributes supplied by the IAM system.
        enum:
          - NO_ATTR
          - AUTHORITY
          - ATTRIBUTION
          - APPROVER
          - JUSTIFICATION_TYPE
        type: string
      op:
        description: An operator to apply the subject with.
        enum:
          - NO_OP
          - EQUALS
          - NOT_EQUALS
          - IN
          - NOT_IN
          - DISCHARGED
        type: string
      svc:
        description: Trusted attributes discharged by the service.
        type: string
      sys:
        description: |-
          Trusted attributes supplied by any service that owns resources and uses
          the IAM system for access control.
        enum:
          - NO_ATTR
          - REGION
          - SERVICE
          - NAME
          - IP
        type: string
      value:
        description: DEPRECATED. Use 'values' instead.
        type: string
      values:
        description: The objects of the condition. This is mutually exclusive with 'value'.
        items:
          type: string
        type: array
    type: object
  CounterOptions:
    description: |-
      Increment a streamz counter with the specified metric and field names.

      Metric names should start with a '/', generally be lowercase-only,
      and end in "_count". Field names should not contain an initial slash.
      The actual exported metric names will have "/iam/policy" prepended.

      Field names correspond to IAM request parameters and field values are
      their respective values.

      At present the only supported field names are
         - "iam_principal", corresponding to IAMContext.principal;
         - "" (empty string), resulting in one aggretated counter with no field.

      Examples:
        counter { metric: "/debug_access_count"  field: "iam_principal" }
        ==> increment counter /iam/policy/backend_debug_access_count
                              {iam_principal=[value of IAMContext.principal]}

      At this time we do not support:
      * multiple field names (though this may be supported in the future)
      * decrementing the counter
      * incrementing it by anything other than 1
    properties:
      field:
        description: The field value to attribute.
        type: string
      metric:
        description: The metric to update.
        type: string
    type: object
  CryptoKey:
    description: |-
      A CryptoKey represents a logical key that can be used for cryptographic
      operations.

      A CryptoKey is made up of one or more versions, which
      represent the actual key material used in cryptographic operations.
    properties:
      createTime:
        description: Output only. The time at which this CryptoKey was created.
        format: google-datetime
        type: string
      name:
        description: |-
          Output only. The resource name for this CryptoKey in the format
          `projects/*/locations/*/keyRings/*/cryptoKeys/*`.
        type: string
      nextRotationTime:
        description: |-
          At next_rotation_time, the Key Management Service will automatically:

          1. Create a new version of this CryptoKey.
          2. Mark the new version as primary.

          Key rotations performed manually via
          CreateCryptoKeyVersion and
          UpdateCryptoKeyPrimaryVersion
          do not affect next_rotation_time.
        format: google-datetime
        type: string
      primary:
        $ref: '#/definitions/CryptoKeyVersion'
        description: |-
          Output only. A copy of the "primary" CryptoKeyVersion that will be used
          by Encrypt when this CryptoKey is given
          in EncryptRequest.name.

          The CryptoKey's primary version can be updated via
          UpdateCryptoKeyPrimaryVersion.
      purpose:
        description: |-
          The immutable purpose of this CryptoKey. Currently, the only acceptable
          purpose is ENCRYPT_DECRYPT.
        enum:
          - CRYPTO_KEY_PURPOSE_UNSPECIFIED
          - ENCRYPT_DECRYPT
        type: string
      rotationPeriod:
        description: |-
          next_rotation_time will be advanced by this period when the service
          automatically rotates a key. Must be at least one day.

          If rotation_period is set, next_rotation_time must also be set.
        format: google-duration
        type: string
    type: object
  CryptoKeyVersion:
    description: |-
      A CryptoKeyVersion represents an individual cryptographic key, and the
      associated key material.

      It can be used for cryptographic operations either directly, or via its
      parent CryptoKey, in which case the server will choose the appropriate
      version for the operation.

      For security reasons, the raw cryptographic key material represented by a
      CryptoKeyVersion can never be viewed or exported. It can only be used to
      encrypt or decrypt data when an authorized user or application invokes Cloud
      KMS.
    properties:
      createTime:
        description: Output only. The time at which this CryptoKeyVersion was created.
        format: google-datetime
        type: string
      destroyEventTime:
        description: |-
          Output only. The time this CryptoKeyVersion's key material was
          destroyed. Only present if state is
          DESTROYED.
        format: google-datetime
        type: string
      destroyTime:
        description: |-
          Output only. The time this CryptoKeyVersion's key material is scheduled
          for destruction. Only present if state is
          DESTROY_SCHEDULED.
        format: google-datetime
        type: string
      name:
        description: |-
          Output only. The resource name for this CryptoKeyVersion in the format
          `projects/*/locations/*/keyRings/*/cryptoKeys/*/cryptoKeyVersions/*`.
        type: string
      state:
        description: The current state of the CryptoKeyVersion.
        enum:
          - CRYPTO_KEY_VERSION_STATE_UNSPECIFIED
          - ENABLED
          - DISABLED
          - DESTROYED
          - DESTROY_SCHEDULED
        type: string
    type: object
  DataAccessOptions:
    description: Write a Data Access (Gin) log
    properties:
      logMode:
        description: |-
          Whether Gin logging should happen in a fail-closed manner at the caller.
          This is relevant only in the LocalIAM implementation, for now.
        enum:
          - LOG_MODE_UNSPECIFIED
          - LOG_FAIL_CLOSED
        type: string
    type: object
  DecryptRequest:
    description: Request message for KeyManagementService.Decrypt.
    properties:
      additionalAuthenticatedData:
        description: |-
          Optional data that must match the data originally supplied in
          EncryptRequest.additional_authenticated_data.
        format: byte
        type: string
      ciphertext:
        description: |-
          Required. The encrypted data originally returned in
          EncryptResponse.ciphertext.
        format: byte
        type: string
    type: object
  DecryptResponse:
    description: Response message for KeyManagementService.Decrypt.
    properties:
      plaintext:
        description: The decrypted data originally supplied in EncryptRequest.plaintext.
        format: byte
        type: string
    type: object
  DestroyCryptoKeyVersionRequest:
    description: Request message for KeyManagementService.DestroyCryptoKeyVersion.
    properties: {}
    type: object
  EncryptRequest:
    description: Request message for KeyManagementService.Encrypt.
    properties:
      additionalAuthenticatedData:
        description: |-
          Optional data that, if specified, must also be provided during decryption
          through DecryptRequest.additional_authenticated_data.  Must be no
          larger than 64KiB.
        format: byte
        type: string
      plaintext:
        description: Required. The data to encrypt. Must be no larger than 64KiB.
        format: byte
        type: string
    type: object
  EncryptResponse:
    description: Response message for KeyManagementService.Encrypt.
    properties:
      ciphertext:
        description: The encrypted data.
        format: byte
        type: string
      name:
        description: The resource name of the CryptoKeyVersion used in encryption.
        type: string
    type: object
  Expr:
    description: |-
      Represents an expression text. Example:

          title: "User account presence"
          description: "Determines whether the request has a user account"
          expression: "size(request.user) > 0"
    properties:
      description:
        description: |-
          An optional description of the expression. This is a longer text which
          describes the expression, e.g. when hovered over it in a UI.
        type: string
      expression:
        description: |-
          Textual representation of an expression in
          Common Expression Language syntax.

          The application context of the containing message determines which
          well-known feature set of CEL is supported.
        type: string
      location:
        description: |-
          An optional string indicating the location of the expression for error
          reporting, e.g. a file name and a position in the file.
        type: string
      title:
        description: |-
          An optional title for the expression, i.e. a short string describing
          its purpose. This can be used e.g. in UIs which allow to enter the
          expression.
        type: string
    type: object
  KeyRing:
    description: A KeyRing is a toplevel logical grouping of CryptoKeys.
    properties:
      createTime:
        description: Output only. The time at which this KeyRing was created.
        format: google-datetime
        type: string
      name:
        description: |-
          Output only. The resource name for the KeyRing in the format
          `projects/*/locations/*/keyRings/*`.
        type: string
    type: object
  ListCryptoKeyVersionsResponse:
    description: Response message for KeyManagementService.ListCryptoKeyVersions.
    properties:
      cryptoKeyVersions:
        description: The list of CryptoKeyVersions.
        items:
          $ref: '#/definitions/CryptoKeyVersion'
        type: array
      nextPageToken:
        description: |-
          A token to retrieve next page of results. Pass this value in
          ListCryptoKeyVersionsRequest.page_token to retrieve the next page of
          results.
        type: string
      totalSize:
        description: |-
          The total number of CryptoKeyVersions that matched the
          query.
        format: int32
        type: integer
    type: object
  ListCryptoKeysResponse:
    description: Response message for KeyManagementService.ListCryptoKeys.
    properties:
      cryptoKeys:
        description: The list of CryptoKeys.
        items:
          $ref: '#/definitions/CryptoKey'
        type: array
      nextPageToken:
        description: |-
          A token to retrieve next page of results. Pass this value in
          ListCryptoKeysRequest.page_token to retrieve the next page of results.
        type: string
      totalSize:
        description: The total number of CryptoKeys that matched the query.
        format: int32
        type: integer
    type: object
  ListKeyRingsResponse:
    description: Response message for KeyManagementService.ListKeyRings.
    properties:
      keyRings:
        description: The list of KeyRings.
        items:
          $ref: '#/definitions/KeyRing'
        type: array
      nextPageToken:
        description: |-
          A token to retrieve next page of results. Pass this value in
          ListKeyRingsRequest.page_token to retrieve the next page of results.
        type: string
      totalSize:
        description: The total number of KeyRings that matched the query.
        format: int32
        type: integer
    type: object
  ListLocationsResponse:
    description: The response message for Locations.ListLocations.
    properties:
      locations:
        description: A list of locations that matches the specified filter in the request.
        items:
          $ref: '#/definitions/Location'
        type: array
      nextPageToken:
        description: The standard List next-page token.
        type: string
    type: object
  Location:
    description: A resource that represents Google Cloud Platform location.
    properties:
      labels:
        additionalProperties:
          type: string
        description: |-
          Cross-service attributes for the location. For example

              {"cloud.googleapis.com/region": "us-east1"}
        type: object
      locationId:
        description: 'The canonical id for this location. For example: `"us-east1"`.'
        type: string
      metadata:
        additionalProperties:
          description: Properties of the object. Contains field @type with type URL.
        description: |-
          Service-specific metadata. For example the available capacity at the given
          location.
        type: object
      name:
        description: |-
          Resource name for the location, which may vary between implementations.
          For example: `"projects/example-project/locations/us-east1"`
        type: string
    type: object
  LogConfig:
    description: Specifies what kind of log the caller must write
    properties:
      cloudAudit:
        $ref: '#/definitions/CloudAuditOptions'
        description: Cloud audit options.
      counter:
        $ref: '#/definitions/CounterOptions'
        description: Counter options.
      dataAccess:
        $ref: '#/definitions/DataAccessOptions'
        description: Data access options.
    type: object
  Policy:
    description: |-
      Defines an Identity and Access Management (IAM) policy. It is used to
      specify access control policies for Cloud Platform resources.


      A `Policy` consists of a list of `bindings`. A `Binding` binds a list of
      `members` to a `role`, where the members can be user accounts, Google groups,
      Google domains, and service accounts. A `role` is a named list of permissions
      defined by IAM.

      **Example**

          {
            "bindings": [
              {
                "role": "roles/owner",
                "members": [
                  "user:mike@example.com",
                  "group:admins@example.com",
                  "domain:google.com",
                  "serviceAccount:my-other-app@appspot.gserviceaccount.com",
                ]
              },
              {
                "role": "roles/viewer",
                "members": ["user:sean@example.com"]
              }
            ]
          }

      For a description of IAM and its features, see the
      [IAM developer's guide](https://cloud.google.com/iam).
    properties:
      auditConfigs:
        description: Specifies cloud audit logging configuration for this policy.
        items:
          $ref: '#/definitions/AuditConfig'
        type: array
      bindings:
        description: |-
          Associates a list of `members` to a `role`.
          `bindings` with no members will result in an error.
        items:
          $ref: '#/definitions/Binding'
        type: array
      etag:
        description: |-
          `etag` is used for optimistic concurrency control as a way to help
          prevent simultaneous updates of a policy from overwriting each other.
          It is strongly suggested that systems make use of the `etag` in the
          read-modify-write cycle to perform policy updates in order to avoid race
          conditions: An `etag` is returned in the response to `getIamPolicy`, and
          systems are expected to put that etag in the request to `setIamPolicy` to
          ensure that their change will be applied to the same version of the policy.

          If no `etag` is provided in the call to `setIamPolicy`, then the existing
          policy is overwritten blindly.
        format: byte
        type: string
      iamOwned:
        type: boolean
      rules:
        description: |-
          If more than one rule is specified, the rules are applied in the following
          manner:
          - All matching LOG rules are always applied.
          - If any DENY/DENY_WITH_LOG rule matches, permission is denied.
            Logging will be applied if one or more matching rule requires logging.
          - Otherwise, if any ALLOW/ALLOW_WITH_LOG rule matches, permission is
            granted.
            Logging will be applied if one or more matching rule requires logging.
          - Otherwise, if no rule applies, permission is denied.
        items:
          $ref: '#/definitions/Rule'
        type: array
      version:
        description: Version of the `Policy`. The default version is 0.
        format: int32
        type: integer
    type: object
  RestoreCryptoKeyVersionRequest:
    description: Request message for KeyManagementService.RestoreCryptoKeyVersion.
    properties: {}
    type: object
  Rule:
    description: A rule to be applied in a Policy.
    properties:
      action:
        description: Required
        enum:
          - NO_ACTION
          - ALLOW
          - ALLOW_WITH_LOG
          - DENY
          - DENY_WITH_LOG
          - LOG
        type: string
      conditions:
        description: Additional restrictions that must be met
        items:
          $ref: '#/definitions/Condition'
        type: array
      description:
        description: Human-readable description of the rule.
        type: string
      in:
        description: |-
          If one or more 'in' clauses are specified, the rule matches if
          the PRINCIPAL/AUTHORITY_SELECTOR is in at least one of these entries.
        items:
          type: string
        type: array
      logConfig:
        description: |-
          The config returned to callers of tech.iam.IAM.CheckPolicy for any entries
          that match the LOG action.
        items:
          $ref: '#/definitions/LogConfig'
        type: array
      notIn:
        description: |-
          If one or more 'not_in' clauses are specified, the rule matches
          if the PRINCIPAL/AUTHORITY_SELECTOR is in none of the entries.
          The format for in and not_in entries is the same as for members in a
          Binding (see google/iam/v1/policy.proto).
        items:
          type: string
        type: array
      permissions:
        description: |-
          A permission is a string of form '<service>.<resource type>.<verb>'
          (e.g., 'storage.buckets.list'). A value of '*' matches all permissions,
          and a verb part of '*' (e.g., 'storage.buckets.*') matches all verbs.
        items:
          type: string
        type: array
    type: object
  SetIamPolicyRequest:
    description: Request message for `SetIamPolicy` method.
    properties:
      policy:
        $ref: '#/definitions/Policy'
        description: |-
          REQUIRED: The complete policy to be applied to the `resource`. The size of
          the policy is limited to a few 10s of KB. An empty policy is a
          valid policy but certain Cloud Platform services (such as Projects)
          might reject them.
      updateMask:
        description: |-
          OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only
          the fields in the mask will be modified. If no mask is provided, the
          following default mask is used:
          paths: "bindings, etag"
          This field is only used by Cloud IAM.
        format: google-fieldmask
        type: string
    type: object
  TestIamPermissionsRequest:
    description: Request message for `TestIamPermissions` method.
    properties:
      permissions:
        description: |-
          The set of permissions to check for the `resource`. Permissions with
          wildcards (such as '*' or 'storage.*') are not allowed. For more
          information see
          [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).
        items:
          type: string
        type: array
    type: object
  TestIamPermissionsResponse:
    description: Response message for `TestIamPermissions` method.
    properties:
      permissions:
        description: |-
          A subset of `TestPermissionsRequest.permissions` that the caller is
          allowed.
        items:
          type: string
        type: array
    type: object
  UpdateCryptoKeyPrimaryVersionRequest:
    description: Request message for KeyManagementService.UpdateCryptoKeyPrimaryVersion.
    properties:
      cryptoKeyVersionId:
        description: The id of the child CryptoKeyVersion to use as primary.
        type: string
    type: object
