swagger: '2.0'
info:
  version: '2012-06-01'
  x-release: v4
  title: Elastic Load Balancing
  description: '<fullname>Elastic Load Balancing</fullname> <p>A load balancer can distribute incoming traffic across your EC2 instances. This enables you to increase the availability of your application. The load balancer also monitors the health of its registered instances and ensures that it routes traffic only to healthy instances. You configure your load balancer to accept incoming traffic by specifying one or more listeners, which are configured with a protocol and port number for connections from clients to the load balancer and a protocol and port number for connections from the load balancer to the instances.</p> <p>Elastic Load Balancing supports three types of load balancers: Application Load Balancers, Network Load Balancers, and Classic Load Balancers. You can select a load balancer based on your application needs. For more information, see the <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/userguide/">Elastic Load Balancing User Guide</a>.</p> <p>This reference covers the 2012-06-01 API, which supports Classic Load Balancers. The 2015-12-01 API supports Application Load Balancers and Network Load Balancers.</p> <p>To get started, create a load balancer with one or more listeners using <a>CreateLoadBalancer</a>. Register your instances with the load balancer using <a>RegisterInstancesWithLoadBalancer</a>.</p> <p>All Elastic Load Balancing operations are <i>idempotent</i>, which means that they complete at most one time. If you repeat an operation, it succeeds with a 200 OK response code.</p>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: elasticloadbalancing
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/elasticloadbalancing-2012-06-01.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/elasticloadbalancing/'
host: elasticloadbalancing.amazonaws.com
basePath: /
schemes:
  - https
  - http
x-servers:
  - url: 'http://elasticloadbalancing.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The Elastic Load Balancing multi-region endpoint
  - url: 'https://elasticloadbalancing.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The Elastic Load Balancing multi-region endpoint
  - url: 'http://elasticloadbalancing.amazonaws.com'
    variables: {}
    description: The general Elastic Load Balancing endpoint for US East (N. Virginia)
  - url: 'https://elasticloadbalancing.amazonaws.com'
    variables: {}
    description: The general Elastic Load Balancing endpoint for US East (N. Virginia)
  - url: 'http://elasticloadbalancing.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The Elastic Load Balancing endpoint for China (Beijing) and China (Ningxia)
  - url: 'https://elasticloadbalancing.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The Elastic Load Balancing endpoint for China (Beijing) and China (Ningxia)
x-hasEquivalentPaths: true
consumes:
  - text/xml
produces:
  - text/xml
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  '/#Action=AddTags':
    get:
      x-aws-operation-name: AddTags
      operationId: GET AddTags
      description: '<p>Adds the specified tags to the specified load balancer. Each load balancer can have a maximum of 10 tags.</p> <p>Each tag consists of a key and an optional value. If a tag with the same key is already associated with the load balancer, <code>AddTags</code> updates its value.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/add-remove-tags.html">Tag Your Classic Load Balancer</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddTagsOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '482':
          description: DuplicateTagKeysException
          schema:
            $ref: '#/definitions/DuplicateTagKeysException'
      parameters:
        - name: LoadBalancerNames
          in: query
          required: true
          description: The name of the load balancer. You can specify one load balancer only.
          type: array
          items:
            type: string
        - name: Tags
          in: query
          required: true
          description: The tags.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - AddTags
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2012-06-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: AddTags
      operationId: POST AddTags
      description: '<p>Adds the specified tags to the specified load balancer. Each load balancer can have a maximum of 10 tags.</p> <p>Each tag consists of a key and an optional value. If a tag with the same key is already associated with the load balancer, <code>AddTags</code> updates its value.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/add-remove-tags.html">Tag Your Classic Load Balancer</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddTagsOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '482':
          description: DuplicateTagKeysException
          schema:
            $ref: '#/definitions/DuplicateTagKeysException'
      parameters:
        - name: LoadBalancerNames
          in: formData
          required: true
          description: The name of the load balancer. You can specify one load balancer only.
          type: array
          items:
            type: string
        - name: Tags
          in: formData
          required: true
          description: The tags.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - AddTags
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2012-06-01'
  '/#Action=ApplySecurityGroupsToLoadBalancer':
    get:
      x-aws-operation-name: ApplySecurityGroupsToLoadBalancer
      operationId: GET ApplySecurityGroupsToLoadBalancer
      description: '<p>Associates one or more security groups with your load balancer in a virtual private cloud (VPC). The specified security groups override the previously associated security groups.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-security-groups.html#elb-vpc-security-groups">Security Groups for Load Balancers in a VPC</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ApplySecurityGroupsToLoadBalancerOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
        '482':
          description: InvalidSecurityGroupException
          schema:
            $ref: '#/definitions/InvalidSecurityGroupException'
      parameters:
        - name: LoadBalancerName
          in: query
          required: true
          description: The name of the load balancer.
          type: string
        - name: SecurityGroups
          in: query
          required: true
          description: The IDs of the security groups to associate with the load balancer. Note that you cannot specify the name of the security group.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - ApplySecurityGroupsToLoadBalancer
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2012-06-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: ApplySecurityGroupsToLoadBalancer
      operationId: POST ApplySecurityGroupsToLoadBalancer
      description: '<p>Associates one or more security groups with your load balancer in a virtual private cloud (VPC). The specified security groups override the previously associated security groups.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-security-groups.html#elb-vpc-security-groups">Security Groups for Load Balancers in a VPC</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ApplySecurityGroupsToLoadBalancerOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
        '482':
          description: InvalidSecurityGroupException
          schema:
            $ref: '#/definitions/InvalidSecurityGroupException'
      parameters:
        - name: LoadBalancerName
          in: formData
          required: true
          description: The name of the load balancer.
          type: string
        - name: SecurityGroups
          in: formData
          required: true
          description: The IDs of the security groups to associate with the load balancer. Note that you cannot specify the name of the security group.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - ApplySecurityGroupsToLoadBalancer
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2012-06-01'
  '/#Action=AttachLoadBalancerToSubnets':
    get:
      x-aws-operation-name: AttachLoadBalancerToSubnets
      operationId: GET AttachLoadBalancerToSubnets
      description: '<p>Adds one or more subnets to the set of configured subnets for the specified load balancer.</p> <p>The load balancer evenly distributes requests across all registered subnets. For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-manage-subnets.html">Add or Remove Subnets for Your Load Balancer in a VPC</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AttachLoadBalancerToSubnetsOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
        '482':
          description: SubnetNotFoundException
          schema:
            $ref: '#/definitions/SubnetNotFoundException'
        '483':
          description: InvalidSubnetException
          schema:
            $ref: '#/definitions/InvalidSubnetException'
      parameters:
        - name: LoadBalancerName
          in: query
          required: true
          description: The name of the load balancer.
          type: string
        - name: Subnets
          in: query
          required: true
          description: The IDs of the subnets to add. You can add only one subnet per Availability Zone.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - AttachLoadBalancerToSubnets
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2012-06-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: AttachLoadBalancerToSubnets
      operationId: POST AttachLoadBalancerToSubnets
      description: '<p>Adds one or more subnets to the set of configured subnets for the specified load balancer.</p> <p>The load balancer evenly distributes requests across all registered subnets. For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-manage-subnets.html">Add or Remove Subnets for Your Load Balancer in a VPC</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AttachLoadBalancerToSubnetsOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
        '482':
          description: SubnetNotFoundException
          schema:
            $ref: '#/definitions/SubnetNotFoundException'
        '483':
          description: InvalidSubnetException
          schema:
            $ref: '#/definitions/InvalidSubnetException'
      parameters:
        - name: LoadBalancerName
          in: formData
          required: true
          description: The name of the load balancer.
          type: string
        - name: Subnets
          in: formData
          required: true
          description: The IDs of the subnets to add. You can add only one subnet per Availability Zone.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - AttachLoadBalancerToSubnets
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2012-06-01'
  '/#Action=ConfigureHealthCheck':
    get:
      x-aws-operation-name: ConfigureHealthCheck
      operationId: GET ConfigureHealthCheck
      description: '<p>Specifies the health check settings to use when evaluating the health state of your EC2 instances.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-healthchecks.html">Configure Health Checks for Your Load Balancer</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ConfigureHealthCheckOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
      parameters:
        - name: LoadBalancerName
          in: query
          required: true
          description: The name of the load balancer.
          type: string
        - name: HealthCheck.Target
          in: query
          description: |-
            Information about a health check.
            <p>The instance being checked. The protocol is either TCP, HTTP, HTTPS, or SSL. The range of valid ports is one (1) through 65535.</p> <p>TCP is the default, specified as a TCP: port pair, for example "TCP:5000". In this case, a health check simply attempts to open a TCP connection to the instance on the specified port. Failure to connect within the configured timeout is considered unhealthy.</p> <p>SSL is also specified as SSL: port pair, for example, SSL:5000.</p> <p>For HTTP/HTTPS, you must include a ping path in the string. HTTP is specified as a HTTP:port;/;PathToPing; grouping, for example "HTTP:80/weather/us/wa/seattle". In this case, a HTTP GET request is issued to the instance on the given port and path. Any answer other than "200 OK" within the timeout period is considered unhealthy.</p> <p>The total length of the HTTP ping target must be 1024 16-bit Unicode characters or less.</p>
          type: string
        - name: HealthCheck.Interval
          in: query
          description: |-
            Information about a health check.
            The approximate interval, in seconds, between health checks of an individual instance.
          type: string
        - name: HealthCheck.Timeout
          in: query
          description: |-
            Information about a health check.
            <p>The amount of time, in seconds, during which no response means a failed health check.</p> <p>This value must be less than the <code>Interval</code> value.</p>
          type: string
        - name: HealthCheck.UnhealthyThreshold
          in: query
          description: |-
            Information about a health check.
            The number of consecutive health check failures required before moving the instance to the <code>Unhealthy</code> state.
          type: string
        - name: HealthCheck.HealthyThreshold
          in: query
          description: |-
            Information about a health check.
            The number of consecutive health checks successes required before moving the instance to the <code>Healthy</code> state.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - ConfigureHealthCheck
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2012-06-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: ConfigureHealthCheck
      operationId: POST ConfigureHealthCheck
      description: '<p>Specifies the health check settings to use when evaluating the health state of your EC2 instances.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-healthchecks.html">Configure Health Checks for Your Load Balancer</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ConfigureHealthCheckOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
      parameters:
        - name: LoadBalancerName
          in: formData
          required: true
          description: The name of the load balancer.
          type: string
        - name: HealthCheck.Target
          in: formData
          description: |-
            Information about a health check.
            <p>The instance being checked. The protocol is either TCP, HTTP, HTTPS, or SSL. The range of valid ports is one (1) through 65535.</p> <p>TCP is the default, specified as a TCP: port pair, for example "TCP:5000". In this case, a health check simply attempts to open a TCP connection to the instance on the specified port. Failure to connect within the configured timeout is considered unhealthy.</p> <p>SSL is also specified as SSL: port pair, for example, SSL:5000.</p> <p>For HTTP/HTTPS, you must include a ping path in the string. HTTP is specified as a HTTP:port;/;PathToPing; grouping, for example "HTTP:80/weather/us/wa/seattle". In this case, a HTTP GET request is issued to the instance on the given port and path. Any answer other than "200 OK" within the timeout period is considered unhealthy.</p> <p>The total length of the HTTP ping target must be 1024 16-bit Unicode characters or less.</p>
          type: string
        - name: HealthCheck.Interval
          in: formData
          description: |-
            Information about a health check.
            The approximate interval, in seconds, between health checks of an individual instance.
          type: string
        - name: HealthCheck.Timeout
          in: formData
          description: |-
            Information about a health check.
            <p>The amount of time, in seconds, during which no response means a failed health check.</p> <p>This value must be less than the <code>Interval</code> value.</p>
          type: string
        - name: HealthCheck.UnhealthyThreshold
          in: formData
          description: |-
            Information about a health check.
            The number of consecutive health check failures required before moving the instance to the <code>Unhealthy</code> state.
          type: string
        - name: HealthCheck.HealthyThreshold
          in: formData
          description: |-
            Information about a health check.
            The number of consecutive health checks successes required before moving the instance to the <code>Healthy</code> state.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - ConfigureHealthCheck
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2012-06-01'
  '/#Action=CreateAppCookieStickinessPolicy':
    get:
      x-aws-operation-name: CreateAppCookieStickinessPolicy
      operationId: GET CreateAppCookieStickinessPolicy
      description: '<p>Generates a stickiness policy with sticky session lifetimes that follow that of an application-generated cookie. This policy can be associated only with HTTP/HTTPS listeners.</p> <p>This policy is similar to the policy created by <a>CreateLBCookieStickinessPolicy</a>, except that the lifetime of the special Elastic Load Balancing cookie, <code>AWSELB</code>, follows the lifetime of the application-generated cookie specified in the policy configuration. The load balancer only inserts a new stickiness cookie when the application response includes a new application cookie.</p> <p>If the application cookie is explicitly removed or expires, the session stops being sticky until a new application cookie is issued.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-sticky-sessions.html#enable-sticky-sessions-application">Application-Controlled Session Stickiness</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateAppCookieStickinessPolicyOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: DuplicatePolicyNameException
          schema:
            $ref: '#/definitions/DuplicatePolicyNameException'
        '482':
          description: TooManyPoliciesException
          schema:
            $ref: '#/definitions/TooManyPoliciesException'
        '483':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
      parameters:
        - name: LoadBalancerName
          in: query
          required: true
          description: The name of the load balancer.
          type: string
        - name: PolicyName
          in: query
          required: true
          description: The name of the policy being created. Policy names must consist of alphanumeric characters and dashes (-). This name must be unique within the set of policies for this load balancer.
          type: string
        - name: CookieName
          in: query
          required: true
          description: The name of the application cookie used for stickiness.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateAppCookieStickinessPolicy
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2012-06-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: CreateAppCookieStickinessPolicy
      operationId: POST CreateAppCookieStickinessPolicy
      description: '<p>Generates a stickiness policy with sticky session lifetimes that follow that of an application-generated cookie. This policy can be associated only with HTTP/HTTPS listeners.</p> <p>This policy is similar to the policy created by <a>CreateLBCookieStickinessPolicy</a>, except that the lifetime of the special Elastic Load Balancing cookie, <code>AWSELB</code>, follows the lifetime of the application-generated cookie specified in the policy configuration. The load balancer only inserts a new stickiness cookie when the application response includes a new application cookie.</p> <p>If the application cookie is explicitly removed or expires, the session stops being sticky until a new application cookie is issued.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-sticky-sessions.html#enable-sticky-sessions-application">Application-Controlled Session Stickiness</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateAppCookieStickinessPolicyOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: DuplicatePolicyNameException
          schema:
            $ref: '#/definitions/DuplicatePolicyNameException'
        '482':
          description: TooManyPoliciesException
          schema:
            $ref: '#/definitions/TooManyPoliciesException'
        '483':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
      parameters:
        - name: LoadBalancerName
          in: formData
          required: true
          description: The name of the load balancer.
          type: string
        - name: PolicyName
          in: formData
          required: true
          description: The name of the policy being created. Policy names must consist of alphanumeric characters and dashes (-). This name must be unique within the set of policies for this load balancer.
          type: string
        - name: CookieName
          in: formData
          required: true
          description: The name of the application cookie used for stickiness.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateAppCookieStickinessPolicy
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2012-06-01'
  '/#Action=CreateLBCookieStickinessPolicy':
    get:
      x-aws-operation-name: CreateLBCookieStickinessPolicy
      operationId: GET CreateLBCookieStickinessPolicy
      description: '<p>Generates a stickiness policy with sticky session lifetimes controlled by the lifetime of the browser (user-agent) or a specified expiration period. This policy can be associated only with HTTP/HTTPS listeners.</p> <p>When a load balancer implements this policy, the load balancer uses a special cookie to track the instance for each request. When the load balancer receives a request, it first checks to see if this cookie is present in the request. If so, the load balancer sends the request to the application server specified in the cookie. If not, the load balancer sends the request to a server that is chosen based on the existing load-balancing algorithm.</p> <p>A cookie is inserted into the response for binding subsequent requests from the same user to that server. The validity of the cookie is based on the cookie expiration time, which is specified in the policy configuration.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-sticky-sessions.html#enable-sticky-sessions-duration">Duration-Based Session Stickiness</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateLBCookieStickinessPolicyOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: DuplicatePolicyNameException
          schema:
            $ref: '#/definitions/DuplicatePolicyNameException'
        '482':
          description: TooManyPoliciesException
          schema:
            $ref: '#/definitions/TooManyPoliciesException'
        '483':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
      parameters:
        - name: LoadBalancerName
          in: query
          required: true
          description: The name of the load balancer.
          type: string
        - name: PolicyName
          in: query
          required: true
          description: The name of the policy being created. Policy names must consist of alphanumeric characters and dashes (-). This name must be unique within the set of policies for this load balancer.
          type: string
        - name: CookieExpirationPeriod
          in: query
          required: false
          description: 'The time period, in seconds, after which the cookie should be considered stale. If you do not specify this parameter, the default value is 0, which indicates that the sticky session should last for the duration of the browser session.'
          type: integer
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateLBCookieStickinessPolicy
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2012-06-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: CreateLBCookieStickinessPolicy
      operationId: POST CreateLBCookieStickinessPolicy
      description: '<p>Generates a stickiness policy with sticky session lifetimes controlled by the lifetime of the browser (user-agent) or a specified expiration period. This policy can be associated only with HTTP/HTTPS listeners.</p> <p>When a load balancer implements this policy, the load balancer uses a special cookie to track the instance for each request. When the load balancer receives a request, it first checks to see if this cookie is present in the request. If so, the load balancer sends the request to the application server specified in the cookie. If not, the load balancer sends the request to a server that is chosen based on the existing load-balancing algorithm.</p> <p>A cookie is inserted into the response for binding subsequent requests from the same user to that server. The validity of the cookie is based on the cookie expiration time, which is specified in the policy configuration.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-sticky-sessions.html#enable-sticky-sessions-duration">Duration-Based Session Stickiness</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateLBCookieStickinessPolicyOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: DuplicatePolicyNameException
          schema:
            $ref: '#/definitions/DuplicatePolicyNameException'
        '482':
          description: TooManyPoliciesException
          schema:
            $ref: '#/definitions/TooManyPoliciesException'
        '483':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
      parameters:
        - name: LoadBalancerName
          in: formData
          required: true
          description: The name of the load balancer.
          type: string
        - name: PolicyName
          in: formData
          required: true
          description: The name of the policy being created. Policy names must consist of alphanumeric characters and dashes (-). This name must be unique within the set of policies for this load balancer.
          type: string
        - name: CookieExpirationPeriod
          in: formData
          required: false
          description: 'The time period, in seconds, after which the cookie should be considered stale. If you do not specify this parameter, the default value is 0, which indicates that the sticky session should last for the duration of the browser session.'
          type: integer
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateLBCookieStickinessPolicy
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2012-06-01'
  '/#Action=CreateLoadBalancer':
    get:
      x-aws-operation-name: CreateLoadBalancer
      operationId: GET CreateLoadBalancer
      description: '<p>Creates a Classic Load Balancer.</p> <p>You can add listeners, security groups, subnets, and tags when you create your load balancer, or you can add them later using <a>CreateLoadBalancerListeners</a>, <a>ApplySecurityGroupsToLoadBalancer</a>, <a>AttachLoadBalancerToSubnets</a>, and <a>AddTags</a>.</p> <p>To describe your current load balancers, see <a>DescribeLoadBalancers</a>. When you are finished with a load balancer, you can delete it using <a>DeleteLoadBalancer</a>.</p> <p>You can create up to 20 load balancers per region per account. You can request an increase for the number of load balancers for your account. For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-limits.html">Limits for Your Classic Load Balancer</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateAccessPointOutput'
        '480':
          description: DuplicateAccessPointNameException
          schema:
            $ref: '#/definitions/DuplicateAccessPointNameException'
        '481':
          description: TooManyAccessPointsException
          schema:
            $ref: '#/definitions/TooManyAccessPointsException'
        '482':
          description: CertificateNotFoundException
          schema:
            $ref: '#/definitions/CertificateNotFoundException'
        '483':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
        '484':
          description: SubnetNotFoundException
          schema:
            $ref: '#/definitions/SubnetNotFoundException'
        '485':
          description: InvalidSubnetException
          schema:
            $ref: '#/definitions/InvalidSubnetException'
        '486':
          description: InvalidSecurityGroupException
          schema:
            $ref: '#/definitions/InvalidSecurityGroupException'
        '487':
          description: InvalidSchemeException
          schema:
            $ref: '#/definitions/InvalidSchemeException'
        '488':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '489':
          description: DuplicateTagKeysException
          schema:
            $ref: '#/definitions/DuplicateTagKeysException'
        '490':
          description: UnsupportedProtocolException
          schema:
            $ref: '#/definitions/UnsupportedProtocolException'
        '491':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
      parameters:
        - name: LoadBalancerName
          in: query
          required: true
          description: '<p>The name of the load balancer.</p> <p>This name must be unique within your set of load balancers for the region, must have a maximum of 32 characters, must contain only alphanumeric characters or hyphens, and cannot begin or end with a hyphen.</p>'
          type: string
        - name: Listeners
          in: query
          required: true
          description: '<p>The listeners.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-listener-config.html">Listeners for Your Classic Load Balancer</a> in the <i>Classic Load Balancers Guide</i>.</p>'
          type: array
          items:
            type: string
        - name: AvailabilityZones
          in: query
          required: false
          description: <p>One or more Availability Zones from the same region as the load balancer.</p> <p>You must specify at least one Availability Zone.</p> <p>You can add more Availability Zones after you create the load balancer using <a>EnableAvailabilityZonesForLoadBalancer</a>.</p>
          type: array
          items:
            type: string
        - name: Subnets
          in: query
          required: false
          description: The IDs of the subnets in your VPC to attach to the load balancer. Specify one subnet per Availability Zone specified in <code>AvailabilityZones</code>.
          type: array
          items:
            type: string
        - name: SecurityGroups
          in: query
          required: false
          description: The IDs of the security groups to assign to the load balancer.
          type: array
          items:
            type: string
        - name: Scheme
          in: query
          required: false
          description: '<p>The type of a load balancer. Valid only for load balancers in a VPC.</p> <p>By default, Elastic Load Balancing creates an Internet-facing load balancer with a DNS name that resolves to public IP addresses. For more information about Internet-facing and Internal load balancers, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/userguide/how-elastic-load-balancing-works.html#load-balancer-scheme">Load Balancer Scheme</a> in the <i>Elastic Load Balancing User Guide</i>.</p> <p>Specify <code>internal</code> to create a load balancer with a DNS name that resolves to private IP addresses.</p>'
          type: string
        - name: Tags
          in: query
          required: false
          description: '<p>A list of tags to assign to the load balancer.</p> <p>For more information about tagging your load balancer, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/add-remove-tags.html">Tag Your Classic Load Balancer</a> in the <i>Classic Load Balancers Guide</i>.</p>'
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateLoadBalancer
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2012-06-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: CreateLoadBalancer
      operationId: POST CreateLoadBalancer
      description: '<p>Creates a Classic Load Balancer.</p> <p>You can add listeners, security groups, subnets, and tags when you create your load balancer, or you can add them later using <a>CreateLoadBalancerListeners</a>, <a>ApplySecurityGroupsToLoadBalancer</a>, <a>AttachLoadBalancerToSubnets</a>, and <a>AddTags</a>.</p> <p>To describe your current load balancers, see <a>DescribeLoadBalancers</a>. When you are finished with a load balancer, you can delete it using <a>DeleteLoadBalancer</a>.</p> <p>You can create up to 20 load balancers per region per account. You can request an increase for the number of load balancers for your account. For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-limits.html">Limits for Your Classic Load Balancer</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateAccessPointOutput'
        '480':
          description: DuplicateAccessPointNameException
          schema:
            $ref: '#/definitions/DuplicateAccessPointNameException'
        '481':
          description: TooManyAccessPointsException
          schema:
            $ref: '#/definitions/TooManyAccessPointsException'
        '482':
          description: CertificateNotFoundException
          schema:
            $ref: '#/definitions/CertificateNotFoundException'
        '483':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
        '484':
          description: SubnetNotFoundException
          schema:
            $ref: '#/definitions/SubnetNotFoundException'
        '485':
          description: InvalidSubnetException
          schema:
            $ref: '#/definitions/InvalidSubnetException'
        '486':
          description: InvalidSecurityGroupException
          schema:
            $ref: '#/definitions/InvalidSecurityGroupException'
        '487':
          description: InvalidSchemeException
          schema:
            $ref: '#/definitions/InvalidSchemeException'
        '488':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '489':
          description: DuplicateTagKeysException
          schema:
            $ref: '#/definitions/DuplicateTagKeysException'
        '490':
          description: UnsupportedProtocolException
          schema:
            $ref: '#/definitions/UnsupportedProtocolException'
        '491':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
      parameters:
        - name: LoadBalancerName
          in: formData
          required: true
          description: '<p>The name of the load balancer.</p> <p>This name must be unique within your set of load balancers for the region, must have a maximum of 32 characters, must contain only alphanumeric characters or hyphens, and cannot begin or end with a hyphen.</p>'
          type: string
        - name: Listeners
          in: formData
          required: true
          description: '<p>The listeners.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-listener-config.html">Listeners for Your Classic Load Balancer</a> in the <i>Classic Load Balancers Guide</i>.</p>'
          type: array
          items:
            type: string
        - name: AvailabilityZones
          in: formData
          required: false
          description: <p>One or more Availability Zones from the same region as the load balancer.</p> <p>You must specify at least one Availability Zone.</p> <p>You can add more Availability Zones after you create the load balancer using <a>EnableAvailabilityZonesForLoadBalancer</a>.</p>
          type: array
          items:
            type: string
        - name: Subnets
          in: formData
          required: false
          description: The IDs of the subnets in your VPC to attach to the load balancer. Specify one subnet per Availability Zone specified in <code>AvailabilityZones</code>.
          type: array
          items:
            type: string
        - name: SecurityGroups
          in: formData
          required: false
          description: The IDs of the security groups to assign to the load balancer.
          type: array
          items:
            type: string
        - name: Scheme
          in: formData
          required: false
          description: '<p>The type of a load balancer. Valid only for load balancers in a VPC.</p> <p>By default, Elastic Load Balancing creates an Internet-facing load balancer with a DNS name that resolves to public IP addresses. For more information about Internet-facing and Internal load balancers, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/userguide/how-elastic-load-balancing-works.html#load-balancer-scheme">Load Balancer Scheme</a> in the <i>Elastic Load Balancing User Guide</i>.</p> <p>Specify <code>internal</code> to create a load balancer with a DNS name that resolves to private IP addresses.</p>'
          type: string
        - name: Tags
          in: formData
          required: false
          description: '<p>A list of tags to assign to the load balancer.</p> <p>For more information about tagging your load balancer, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/add-remove-tags.html">Tag Your Classic Load Balancer</a> in the <i>Classic Load Balancers Guide</i>.</p>'
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateLoadBalancer
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2012-06-01'
  '/#Action=CreateLoadBalancerListeners':
    get:
      x-aws-operation-name: CreateLoadBalancerListeners
      operationId: GET CreateLoadBalancerListeners
      description: '<p>Creates one or more listeners for the specified load balancer. If a listener with the specified port does not already exist, it is created; otherwise, the properties of the new listener must match the properties of the existing listener.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-listener-config.html">Listeners for Your Classic Load Balancer</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateLoadBalancerListenerOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: DuplicateListenerException
          schema:
            $ref: '#/definitions/DuplicateListenerException'
        '482':
          description: CertificateNotFoundException
          schema:
            $ref: '#/definitions/CertificateNotFoundException'
        '483':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
        '484':
          description: UnsupportedProtocolException
          schema:
            $ref: '#/definitions/UnsupportedProtocolException'
      parameters:
        - name: LoadBalancerName
          in: query
          required: true
          description: The name of the load balancer.
          type: string
        - name: Listeners
          in: query
          required: true
          description: The listeners.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateLoadBalancerListeners
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2012-06-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: CreateLoadBalancerListeners
      operationId: POST CreateLoadBalancerListeners
      description: '<p>Creates one or more listeners for the specified load balancer. If a listener with the specified port does not already exist, it is created; otherwise, the properties of the new listener must match the properties of the existing listener.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-listener-config.html">Listeners for Your Classic Load Balancer</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateLoadBalancerListenerOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: DuplicateListenerException
          schema:
            $ref: '#/definitions/DuplicateListenerException'
        '482':
          description: CertificateNotFoundException
          schema:
            $ref: '#/definitions/CertificateNotFoundException'
        '483':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
        '484':
          description: UnsupportedProtocolException
          schema:
            $ref: '#/definitions/UnsupportedProtocolException'
      parameters:
        - name: LoadBalancerName
          in: formData
          required: true
          description: The name of the load balancer.
          type: string
        - name: Listeners
          in: formData
          required: true
          description: The listeners.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateLoadBalancerListeners
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2012-06-01'
  '/#Action=CreateLoadBalancerPolicy':
    get:
      x-aws-operation-name: CreateLoadBalancerPolicy
      operationId: GET CreateLoadBalancerPolicy
      description: '<p>Creates a policy with the specified attributes for the specified load balancer.</p> <p>Policies are settings that are saved for your load balancer and that can be applied to the listener or the application server, depending on the policy type.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateLoadBalancerPolicyOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: PolicyTypeNotFoundException
          schema:
            $ref: '#/definitions/PolicyTypeNotFoundException'
        '482':
          description: DuplicatePolicyNameException
          schema:
            $ref: '#/definitions/DuplicatePolicyNameException'
        '483':
          description: TooManyPoliciesException
          schema:
            $ref: '#/definitions/TooManyPoliciesException'
        '484':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
      parameters:
        - name: LoadBalancerName
          in: query
          required: true
          description: The name of the load balancer.
          type: string
        - name: PolicyName
          in: query
          required: true
          description: The name of the load balancer policy to be created. This name must be unique within the set of policies for this load balancer.
          type: string
        - name: PolicyTypeName
          in: query
          required: true
          description: 'The name of the base policy type. To get the list of policy types, use <a>DescribeLoadBalancerPolicyTypes</a>.'
          type: string
        - name: PolicyAttributes
          in: query
          required: false
          description: The policy attributes.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateLoadBalancerPolicy
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2012-06-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: CreateLoadBalancerPolicy
      operationId: POST CreateLoadBalancerPolicy
      description: '<p>Creates a policy with the specified attributes for the specified load balancer.</p> <p>Policies are settings that are saved for your load balancer and that can be applied to the listener or the application server, depending on the policy type.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateLoadBalancerPolicyOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: PolicyTypeNotFoundException
          schema:
            $ref: '#/definitions/PolicyTypeNotFoundException'
        '482':
          description: DuplicatePolicyNameException
          schema:
            $ref: '#/definitions/DuplicatePolicyNameException'
        '483':
          description: TooManyPoliciesException
          schema:
            $ref: '#/definitions/TooManyPoliciesException'
        '484':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
      parameters:
        - name: LoadBalancerName
          in: formData
          required: true
          description: The name of the load balancer.
          type: string
        - name: PolicyName
          in: formData
          required: true
          description: The name of the load balancer policy to be created. This name must be unique within the set of policies for this load balancer.
          type: string
        - name: PolicyTypeName
          in: formData
          required: true
          description: 'The name of the base policy type. To get the list of policy types, use <a>DescribeLoadBalancerPolicyTypes</a>.'
          type: string
        - name: PolicyAttributes
          in: formData
          required: false
          description: The policy attributes.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateLoadBalancerPolicy
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2012-06-01'
  '/#Action=DeleteLoadBalancer':
    get:
      x-aws-operation-name: DeleteLoadBalancer
      operationId: GET DeleteLoadBalancer
      description: '<p>Deletes the specified load balancer.</p> <p>If you are attempting to recreate a load balancer, you must reconfigure all settings. The DNS name associated with a deleted load balancer are no longer usable. The name and associated DNS record of the deleted load balancer no longer exist and traffic sent to any of its IP addresses is no longer delivered to your instances.</p> <p>If the load balancer does not exist or has already been deleted, the call to <code>DeleteLoadBalancer</code> still succeeds.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteAccessPointOutput'
      parameters:
        - name: LoadBalancerName
          in: query
          required: true
          description: The name of the load balancer.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteLoadBalancer
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2012-06-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DeleteLoadBalancer
      operationId: POST DeleteLoadBalancer
      description: '<p>Deletes the specified load balancer.</p> <p>If you are attempting to recreate a load balancer, you must reconfigure all settings. The DNS name associated with a deleted load balancer are no longer usable. The name and associated DNS record of the deleted load balancer no longer exist and traffic sent to any of its IP addresses is no longer delivered to your instances.</p> <p>If the load balancer does not exist or has already been deleted, the call to <code>DeleteLoadBalancer</code> still succeeds.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteAccessPointOutput'
      parameters:
        - name: LoadBalancerName
          in: formData
          required: true
          description: The name of the load balancer.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteLoadBalancer
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2012-06-01'
  '/#Action=DeleteLoadBalancerListeners':
    get:
      x-aws-operation-name: DeleteLoadBalancerListeners
      operationId: GET DeleteLoadBalancerListeners
      description: Deletes the specified listeners from the specified load balancer.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteLoadBalancerListenerOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
      parameters:
        - name: LoadBalancerName
          in: query
          required: true
          description: The name of the load balancer.
          type: string
        - name: LoadBalancerPorts
          in: query
          required: true
          description: The client port numbers of the listeners.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteLoadBalancerListeners
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2012-06-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DeleteLoadBalancerListeners
      operationId: POST DeleteLoadBalancerListeners
      description: Deletes the specified listeners from the specified load balancer.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteLoadBalancerListenerOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
      parameters:
        - name: LoadBalancerName
          in: formData
          required: true
          description: The name of the load balancer.
          type: string
        - name: LoadBalancerPorts
          in: formData
          required: true
          description: The client port numbers of the listeners.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteLoadBalancerListeners
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2012-06-01'
  '/#Action=DeleteLoadBalancerPolicy':
    get:
      x-aws-operation-name: DeleteLoadBalancerPolicy
      operationId: GET DeleteLoadBalancerPolicy
      description: Deletes the specified policy from the specified load balancer. This policy must not be enabled for any listeners.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteLoadBalancerPolicyOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
      parameters:
        - name: LoadBalancerName
          in: query
          required: true
          description: The name of the load balancer.
          type: string
        - name: PolicyName
          in: query
          required: true
          description: The name of the policy.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteLoadBalancerPolicy
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2012-06-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DeleteLoadBalancerPolicy
      operationId: POST DeleteLoadBalancerPolicy
      description: Deletes the specified policy from the specified load balancer. This policy must not be enabled for any listeners.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteLoadBalancerPolicyOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
      parameters:
        - name: LoadBalancerName
          in: formData
          required: true
          description: The name of the load balancer.
          type: string
        - name: PolicyName
          in: formData
          required: true
          description: The name of the policy.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteLoadBalancerPolicy
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2012-06-01'
  '/#Action=DeregisterInstancesFromLoadBalancer':
    get:
      x-aws-operation-name: DeregisterInstancesFromLoadBalancer
      operationId: GET DeregisterInstancesFromLoadBalancer
      description: '<p>Deregisters the specified instances from the specified load balancer. After the instance is deregistered, it no longer receives traffic from the load balancer.</p> <p>You can use <a>DescribeLoadBalancers</a> to verify that the instance is deregistered from the load balancer.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-deregister-register-instances.html">Register or De-Register EC2 Instances</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeregisterEndPointsOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: InvalidEndPointException
          schema:
            $ref: '#/definitions/InvalidEndPointException'
      parameters:
        - name: LoadBalancerName
          in: query
          required: true
          description: The name of the load balancer.
          type: string
        - name: Instances
          in: query
          required: true
          description: The IDs of the instances.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeregisterInstancesFromLoadBalancer
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2012-06-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DeregisterInstancesFromLoadBalancer
      operationId: POST DeregisterInstancesFromLoadBalancer
      description: '<p>Deregisters the specified instances from the specified load balancer. After the instance is deregistered, it no longer receives traffic from the load balancer.</p> <p>You can use <a>DescribeLoadBalancers</a> to verify that the instance is deregistered from the load balancer.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-deregister-register-instances.html">Register or De-Register EC2 Instances</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeregisterEndPointsOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: InvalidEndPointException
          schema:
            $ref: '#/definitions/InvalidEndPointException'
      parameters:
        - name: LoadBalancerName
          in: formData
          required: true
          description: The name of the load balancer.
          type: string
        - name: Instances
          in: formData
          required: true
          description: The IDs of the instances.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeregisterInstancesFromLoadBalancer
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2012-06-01'
  '/#Action=DescribeAccountLimits':
    get:
      x-aws-operation-name: DescribeAccountLimits
      operationId: GET DescribeAccountLimits
      description: '<p>Describes the current Elastic Load Balancing resource limits for your AWS account.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-limits.html">Limits for Your Classic Load Balancer</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAccountLimitsOutput'
      parameters:
        - name: Marker
          in: query
          required: false
          description: The marker for the next set of results. (You received this marker from a previous call.)
          type: string
        - name: PageSize
          in: query
          required: false
          description: The maximum number of results to return with this call.
          type: integer
          minimum: 1
          maximum: 400
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeAccountLimits
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2012-06-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DescribeAccountLimits
      operationId: POST DescribeAccountLimits
      description: '<p>Describes the current Elastic Load Balancing resource limits for your AWS account.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-limits.html">Limits for Your Classic Load Balancer</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAccountLimitsOutput'
      parameters:
        - name: Marker
          in: formData
          required: false
          description: The marker for the next set of results. (You received this marker from a previous call.)
          type: string
        - name: PageSize
          in: formData
          required: false
          description: The maximum number of results to return with this call.
          type: integer
          minimum: 1
          maximum: 400
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeAccountLimits
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2012-06-01'
  '/#Action=DescribeInstanceHealth':
    get:
      x-aws-operation-name: DescribeInstanceHealth
      operationId: GET DescribeInstanceHealth
      description: 'Describes the state of the specified instances with respect to the specified load balancer. If no instances are specified, the call describes the state of all instances that are currently registered with the load balancer. If instances are specified, their state is returned even if they are no longer registered with the load balancer. The state of terminated instances is not returned.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeEndPointStateOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: InvalidEndPointException
          schema:
            $ref: '#/definitions/InvalidEndPointException'
      parameters:
        - name: LoadBalancerName
          in: query
          required: true
          description: The name of the load balancer.
          type: string
        - name: Instances
          in: query
          required: false
          description: The IDs of the instances.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeInstanceHealth
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2012-06-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DescribeInstanceHealth
      operationId: POST DescribeInstanceHealth
      description: 'Describes the state of the specified instances with respect to the specified load balancer. If no instances are specified, the call describes the state of all instances that are currently registered with the load balancer. If instances are specified, their state is returned even if they are no longer registered with the load balancer. The state of terminated instances is not returned.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeEndPointStateOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: InvalidEndPointException
          schema:
            $ref: '#/definitions/InvalidEndPointException'
      parameters:
        - name: LoadBalancerName
          in: formData
          required: true
          description: The name of the load balancer.
          type: string
        - name: Instances
          in: formData
          required: false
          description: The IDs of the instances.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeInstanceHealth
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2012-06-01'
  '/#Action=DescribeLoadBalancerAttributes':
    get:
      x-aws-operation-name: DescribeLoadBalancerAttributes
      operationId: GET DescribeLoadBalancerAttributes
      description: Describes the attributes for the specified load balancer.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeLoadBalancerAttributesOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: LoadBalancerAttributeNotFoundException
          schema:
            $ref: '#/definitions/LoadBalancerAttributeNotFoundException'
      parameters:
        - name: LoadBalancerName
          in: query
          required: true
          description: The name of the load balancer.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeLoadBalancerAttributes
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2012-06-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DescribeLoadBalancerAttributes
      operationId: POST DescribeLoadBalancerAttributes
      description: Describes the attributes for the specified load balancer.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeLoadBalancerAttributesOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: LoadBalancerAttributeNotFoundException
          schema:
            $ref: '#/definitions/LoadBalancerAttributeNotFoundException'
      parameters:
        - name: LoadBalancerName
          in: formData
          required: true
          description: The name of the load balancer.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeLoadBalancerAttributes
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2012-06-01'
  '/#Action=DescribeLoadBalancerPolicies':
    get:
      x-aws-operation-name: DescribeLoadBalancerPolicies
      operationId: GET DescribeLoadBalancerPolicies
      description: '<p>Describes the specified policies.</p> <p>If you specify a load balancer name, the action returns the descriptions of all policies created for the load balancer. If you specify a policy name associated with your load balancer, the action returns the description of that policy. If you don''t specify a load balancer name, the action returns descriptions of the specified sample policies, or descriptions of all sample policies. The names of the sample policies have the <code>ELBSample-</code> prefix.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeLoadBalancerPoliciesOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: PolicyNotFoundException
          schema:
            $ref: '#/definitions/PolicyNotFoundException'
      parameters:
        - name: LoadBalancerName
          in: query
          required: false
          description: The name of the load balancer.
          type: string
        - name: PolicyNames
          in: query
          required: false
          description: The names of the policies.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeLoadBalancerPolicies
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2012-06-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DescribeLoadBalancerPolicies
      operationId: POST DescribeLoadBalancerPolicies
      description: '<p>Describes the specified policies.</p> <p>If you specify a load balancer name, the action returns the descriptions of all policies created for the load balancer. If you specify a policy name associated with your load balancer, the action returns the description of that policy. If you don''t specify a load balancer name, the action returns descriptions of the specified sample policies, or descriptions of all sample policies. The names of the sample policies have the <code>ELBSample-</code> prefix.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeLoadBalancerPoliciesOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: PolicyNotFoundException
          schema:
            $ref: '#/definitions/PolicyNotFoundException'
      parameters:
        - name: LoadBalancerName
          in: formData
          required: false
          description: The name of the load balancer.
          type: string
        - name: PolicyNames
          in: formData
          required: false
          description: The names of the policies.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeLoadBalancerPolicies
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2012-06-01'
  '/#Action=DescribeLoadBalancerPolicyTypes':
    get:
      x-aws-operation-name: DescribeLoadBalancerPolicyTypes
      operationId: GET DescribeLoadBalancerPolicyTypes
      description: '<p>Describes the specified load balancer policy types or all load balancer policy types.</p> <p>The description of each type indicates how it can be used. For example, some policies can be used only with layer 7 listeners, some policies can be used only with layer 4 listeners, and some policies can be used only with your EC2 instances.</p> <p>You can use <a>CreateLoadBalancerPolicy</a> to create a policy configuration for any of these policy types. Then, depending on the policy type, use either <a>SetLoadBalancerPoliciesOfListener</a> or <a>SetLoadBalancerPoliciesForBackendServer</a> to set the policy.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeLoadBalancerPolicyTypesOutput'
        '480':
          description: PolicyTypeNotFoundException
          schema:
            $ref: '#/definitions/PolicyTypeNotFoundException'
      parameters:
        - name: PolicyTypeNames
          in: query
          required: false
          description: 'The names of the policy types. If no names are specified, describes all policy types defined by Elastic Load Balancing.'
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeLoadBalancerPolicyTypes
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2012-06-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DescribeLoadBalancerPolicyTypes
      operationId: POST DescribeLoadBalancerPolicyTypes
      description: '<p>Describes the specified load balancer policy types or all load balancer policy types.</p> <p>The description of each type indicates how it can be used. For example, some policies can be used only with layer 7 listeners, some policies can be used only with layer 4 listeners, and some policies can be used only with your EC2 instances.</p> <p>You can use <a>CreateLoadBalancerPolicy</a> to create a policy configuration for any of these policy types. Then, depending on the policy type, use either <a>SetLoadBalancerPoliciesOfListener</a> or <a>SetLoadBalancerPoliciesForBackendServer</a> to set the policy.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeLoadBalancerPolicyTypesOutput'
        '480':
          description: PolicyTypeNotFoundException
          schema:
            $ref: '#/definitions/PolicyTypeNotFoundException'
      parameters:
        - name: PolicyTypeNames
          in: formData
          required: false
          description: 'The names of the policy types. If no names are specified, describes all policy types defined by Elastic Load Balancing.'
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeLoadBalancerPolicyTypes
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2012-06-01'
  '/#Action=DescribeLoadBalancers':
    get:
      x-aws-operation-name: DescribeLoadBalancers
      operationId: GET DescribeLoadBalancers
      description: 'Describes the specified the load balancers. If no load balancers are specified, the call describes all of your load balancers.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAccessPointsOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: DependencyThrottleException
          schema:
            $ref: '#/definitions/DependencyThrottleException'
      parameters:
        - name: LoadBalancerNames
          in: query
          required: false
          description: The names of the load balancers.
          type: array
          items:
            type: string
        - name: Marker
          in: query
          required: false
          description: The marker for the next set of results. (You received this marker from a previous call.)
          type: string
        - name: PageSize
          in: query
          required: false
          description: The maximum number of results to return with this call (a number from 1 to 400). The default is 400.
          type: integer
          minimum: 1
          maximum: 400
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeLoadBalancers
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2012-06-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DescribeLoadBalancers
      operationId: POST DescribeLoadBalancers
      description: 'Describes the specified the load balancers. If no load balancers are specified, the call describes all of your load balancers.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAccessPointsOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: DependencyThrottleException
          schema:
            $ref: '#/definitions/DependencyThrottleException'
      parameters:
        - name: LoadBalancerNames
          in: formData
          required: false
          description: The names of the load balancers.
          type: array
          items:
            type: string
        - name: Marker
          in: formData
          required: false
          description: The marker for the next set of results. (You received this marker from a previous call.)
          type: string
        - name: PageSize
          in: formData
          required: false
          description: The maximum number of results to return with this call (a number from 1 to 400). The default is 400.
          type: integer
          minimum: 1
          maximum: 400
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeLoadBalancers
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2012-06-01'
  '/#Action=DescribeTags':
    get:
      x-aws-operation-name: DescribeTags
      operationId: GET DescribeTags
      description: Describes the tags associated with the specified load balancers.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeTagsOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
      parameters:
        - name: LoadBalancerNames
          in: query
          required: true
          description: The names of the load balancers.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeTags
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2012-06-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DescribeTags
      operationId: POST DescribeTags
      description: Describes the tags associated with the specified load balancers.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeTagsOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
      parameters:
        - name: LoadBalancerNames
          in: formData
          required: true
          description: The names of the load balancers.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeTags
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2012-06-01'
  '/#Action=DetachLoadBalancerFromSubnets':
    get:
      x-aws-operation-name: DetachLoadBalancerFromSubnets
      operationId: GET DetachLoadBalancerFromSubnets
      description: '<p>Removes the specified subnets from the set of configured subnets for the load balancer.</p> <p>After a subnet is removed, all EC2 instances registered with the load balancer in the removed subnet go into the <code>OutOfService</code> state. Then, the load balancer balances the traffic among the remaining routable subnets.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DetachLoadBalancerFromSubnetsOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
      parameters:
        - name: LoadBalancerName
          in: query
          required: true
          description: The name of the load balancer.
          type: string
        - name: Subnets
          in: query
          required: true
          description: The IDs of the subnets.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DetachLoadBalancerFromSubnets
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2012-06-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DetachLoadBalancerFromSubnets
      operationId: POST DetachLoadBalancerFromSubnets
      description: '<p>Removes the specified subnets from the set of configured subnets for the load balancer.</p> <p>After a subnet is removed, all EC2 instances registered with the load balancer in the removed subnet go into the <code>OutOfService</code> state. Then, the load balancer balances the traffic among the remaining routable subnets.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DetachLoadBalancerFromSubnetsOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
      parameters:
        - name: LoadBalancerName
          in: formData
          required: true
          description: The name of the load balancer.
          type: string
        - name: Subnets
          in: formData
          required: true
          description: The IDs of the subnets.
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DetachLoadBalancerFromSubnets
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2012-06-01'
  '/#Action=DisableAvailabilityZonesForLoadBalancer':
    get:
      x-aws-operation-name: DisableAvailabilityZonesForLoadBalancer
      operationId: GET DisableAvailabilityZonesForLoadBalancer
[...]
