swagger: '2.0'
schemes:
  - https
  - http
host: elasticloadbalancing.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: '<fullname>Elastic Load Balancing</fullname> <p>A load balancer can distribute incoming traffic across your EC2 instances. This enables you to increase the availability of your application. The load balancer also monitors the health of its registered instances and ensures that it routes traffic only to healthy instances. You configure your load balancer to accept incoming traffic by specifying one or more listeners, which are configured with a protocol and port number for connections from clients to the load balancer and a protocol and port number for connections from the load balancer to the instances.</p> <p>Elastic Load Balancing supports three types of load balancers: Application Load Balancers, Network Load Balancers, and Classic Load Balancers. You can select a load balancer based on your application needs. For more information, see the <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/userguide/">Elastic Load Balancing User Guide</a>.</p> <p>This reference covers the 2012-06-01 API, which supports Classic Load Balancers. The 2015-12-01 API supports Application Load Balancers and Network Load Balancers.</p> <p>To get started, create a load balancer with one or more listeners using <a>CreateLoadBalancer</a>. Register your instances with the load balancer using <a>RegisterInstancesWithLoadBalancer</a>.</p> <p>All Elastic Load Balancing operations are <i>idempotent</i>, which means that they complete at most one time. If you repeat an operation, it succeeds with a 200 OK response code.</p>'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: Elastic Load Balancing
  version: '2012-06-01'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/elasticloadbalancing-2012-06-01.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: elasticloadbalancing
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/elasticloadbalancing/'
consumes:
  - text/xml
produces:
  - text/xml
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/#Action=AddTags':
    get:
      description: '<p>Adds the specified tags to the specified load balancer. Each load balancer can have a maximum of 10 tags.</p> <p>Each tag consists of a key and an optional value. If a tag with the same key is already associated with the load balancer, <code>AddTags</code> updates its value.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/add-remove-tags.html">Tag Your Classic Load Balancer</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      operationId: GET AddTags
      parameters:
        - description: The name of the load balancer. You can specify one load balancer only.
          in: query
          items:
            type: string
          name: LoadBalancerNames
          required: true
          type: array
        - description: The tags.
          in: query
          items:
            type: string
          name: Tags
          required: true
          type: array
        - enum:
            - AddTags
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2012-06-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddTagsOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '482':
          description: DuplicateTagKeysException
          schema:
            $ref: '#/definitions/DuplicateTagKeysException'
      x-aws-operation-name: AddTags
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Adds the specified tags to the specified load balancer. Each load balancer can have a maximum of 10 tags.</p> <p>Each tag consists of a key and an optional value. If a tag with the same key is already associated with the load balancer, <code>AddTags</code> updates its value.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/add-remove-tags.html">Tag Your Classic Load Balancer</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      operationId: POST AddTags
      parameters:
        - description: The name of the load balancer. You can specify one load balancer only.
          in: formData
          items:
            type: string
          name: LoadBalancerNames
          required: true
          type: array
        - description: The tags.
          in: formData
          items:
            type: string
          name: Tags
          required: true
          type: array
        - enum:
            - AddTags
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2012-06-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddTagsOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '482':
          description: DuplicateTagKeysException
          schema:
            $ref: '#/definitions/DuplicateTagKeysException'
      x-aws-operation-name: AddTags
  '/#Action=ApplySecurityGroupsToLoadBalancer':
    get:
      description: '<p>Associates one or more security groups with your load balancer in a virtual private cloud (VPC). The specified security groups override the previously associated security groups.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-security-groups.html#elb-vpc-security-groups">Security Groups for Load Balancers in a VPC</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      operationId: GET ApplySecurityGroupsToLoadBalancer
      parameters:
        - description: The name of the load balancer.
          in: query
          name: LoadBalancerName
          required: true
          type: string
        - description: The IDs of the security groups to associate with the load balancer. Note that you cannot specify the name of the security group.
          in: query
          items:
            type: string
          name: SecurityGroups
          required: true
          type: array
        - enum:
            - ApplySecurityGroupsToLoadBalancer
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2012-06-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ApplySecurityGroupsToLoadBalancerOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
        '482':
          description: InvalidSecurityGroupException
          schema:
            $ref: '#/definitions/InvalidSecurityGroupException'
      x-aws-operation-name: ApplySecurityGroupsToLoadBalancer
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Associates one or more security groups with your load balancer in a virtual private cloud (VPC). The specified security groups override the previously associated security groups.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-security-groups.html#elb-vpc-security-groups">Security Groups for Load Balancers in a VPC</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      operationId: POST ApplySecurityGroupsToLoadBalancer
      parameters:
        - description: The name of the load balancer.
          in: formData
          name: LoadBalancerName
          required: true
          type: string
        - description: The IDs of the security groups to associate with the load balancer. Note that you cannot specify the name of the security group.
          in: formData
          items:
            type: string
          name: SecurityGroups
          required: true
          type: array
        - enum:
            - ApplySecurityGroupsToLoadBalancer
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2012-06-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ApplySecurityGroupsToLoadBalancerOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
        '482':
          description: InvalidSecurityGroupException
          schema:
            $ref: '#/definitions/InvalidSecurityGroupException'
      x-aws-operation-name: ApplySecurityGroupsToLoadBalancer
  '/#Action=AttachLoadBalancerToSubnets':
    get:
      description: '<p>Adds one or more subnets to the set of configured subnets for the specified load balancer.</p> <p>The load balancer evenly distributes requests across all registered subnets. For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-manage-subnets.html">Add or Remove Subnets for Your Load Balancer in a VPC</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      operationId: GET AttachLoadBalancerToSubnets
      parameters:
        - description: The name of the load balancer.
          in: query
          name: LoadBalancerName
          required: true
          type: string
        - description: The IDs of the subnets to add. You can add only one subnet per Availability Zone.
          in: query
          items:
            type: string
          name: Subnets
          required: true
          type: array
        - enum:
            - AttachLoadBalancerToSubnets
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2012-06-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AttachLoadBalancerToSubnetsOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
        '482':
          description: SubnetNotFoundException
          schema:
            $ref: '#/definitions/SubnetNotFoundException'
        '483':
          description: InvalidSubnetException
          schema:
            $ref: '#/definitions/InvalidSubnetException'
      x-aws-operation-name: AttachLoadBalancerToSubnets
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Adds one or more subnets to the set of configured subnets for the specified load balancer.</p> <p>The load balancer evenly distributes requests across all registered subnets. For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-manage-subnets.html">Add or Remove Subnets for Your Load Balancer in a VPC</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      operationId: POST AttachLoadBalancerToSubnets
      parameters:
        - description: The name of the load balancer.
          in: formData
          name: LoadBalancerName
          required: true
          type: string
        - description: The IDs of the subnets to add. You can add only one subnet per Availability Zone.
          in: formData
          items:
            type: string
          name: Subnets
          required: true
          type: array
        - enum:
            - AttachLoadBalancerToSubnets
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2012-06-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AttachLoadBalancerToSubnetsOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
        '482':
          description: SubnetNotFoundException
          schema:
            $ref: '#/definitions/SubnetNotFoundException'
        '483':
          description: InvalidSubnetException
          schema:
            $ref: '#/definitions/InvalidSubnetException'
      x-aws-operation-name: AttachLoadBalancerToSubnets
  '/#Action=ConfigureHealthCheck':
    get:
      description: '<p>Specifies the health check settings to use when evaluating the health state of your EC2 instances.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-healthchecks.html">Configure Health Checks for Your Load Balancer</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      operationId: GET ConfigureHealthCheck
      parameters:
        - description: The name of the load balancer.
          in: query
          name: LoadBalancerName
          required: true
          type: string
        - description: |-
            Information about a health check.
            <p>The instance being checked. The protocol is either TCP, HTTP, HTTPS, or SSL. The range of valid ports is one (1) through 65535.</p> <p>TCP is the default, specified as a TCP: port pair, for example "TCP:5000". In this case, a health check simply attempts to open a TCP connection to the instance on the specified port. Failure to connect within the configured timeout is considered unhealthy.</p> <p>SSL is also specified as SSL: port pair, for example, SSL:5000.</p> <p>For HTTP/HTTPS, you must include a ping path in the string. HTTP is specified as a HTTP:port;/;PathToPing; grouping, for example "HTTP:80/weather/us/wa/seattle". In this case, a HTTP GET request is issued to the instance on the given port and path. Any answer other than "200 OK" within the timeout period is considered unhealthy.</p> <p>The total length of the HTTP ping target must be 1024 16-bit Unicode characters or less.</p>
          in: query
          name: HealthCheck.Target
          type: string
        - description: |-
            Information about a health check.
            The approximate interval, in seconds, between health checks of an individual instance.
          in: query
          name: HealthCheck.Interval
          type: string
        - description: |-
            Information about a health check.
            <p>The amount of time, in seconds, during which no response means a failed health check.</p> <p>This value must be less than the <code>Interval</code> value.</p>
          in: query
          name: HealthCheck.Timeout
          type: string
        - description: |-
            Information about a health check.
            The number of consecutive health check failures required before moving the instance to the <code>Unhealthy</code> state.
          in: query
          name: HealthCheck.UnhealthyThreshold
          type: string
        - description: |-
            Information about a health check.
            The number of consecutive health checks successes required before moving the instance to the <code>Healthy</code> state.
          in: query
          name: HealthCheck.HealthyThreshold
          type: string
        - enum:
            - ConfigureHealthCheck
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2012-06-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ConfigureHealthCheckOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
      x-aws-operation-name: ConfigureHealthCheck
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Specifies the health check settings to use when evaluating the health state of your EC2 instances.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-healthchecks.html">Configure Health Checks for Your Load Balancer</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      operationId: POST ConfigureHealthCheck
      parameters:
        - description: The name of the load balancer.
          in: formData
          name: LoadBalancerName
          required: true
          type: string
        - description: |-
            Information about a health check.
            <p>The instance being checked. The protocol is either TCP, HTTP, HTTPS, or SSL. The range of valid ports is one (1) through 65535.</p> <p>TCP is the default, specified as a TCP: port pair, for example "TCP:5000". In this case, a health check simply attempts to open a TCP connection to the instance on the specified port. Failure to connect within the configured timeout is considered unhealthy.</p> <p>SSL is also specified as SSL: port pair, for example, SSL:5000.</p> <p>For HTTP/HTTPS, you must include a ping path in the string. HTTP is specified as a HTTP:port;/;PathToPing; grouping, for example "HTTP:80/weather/us/wa/seattle". In this case, a HTTP GET request is issued to the instance on the given port and path. Any answer other than "200 OK" within the timeout period is considered unhealthy.</p> <p>The total length of the HTTP ping target must be 1024 16-bit Unicode characters or less.</p>
          in: formData
          name: HealthCheck.Target
          type: string
        - description: |-
            Information about a health check.
            The approximate interval, in seconds, between health checks of an individual instance.
          in: formData
          name: HealthCheck.Interval
          type: string
        - description: |-
            Information about a health check.
            <p>The amount of time, in seconds, during which no response means a failed health check.</p> <p>This value must be less than the <code>Interval</code> value.</p>
          in: formData
          name: HealthCheck.Timeout
          type: string
        - description: |-
            Information about a health check.
            The number of consecutive health check failures required before moving the instance to the <code>Unhealthy</code> state.
          in: formData
          name: HealthCheck.UnhealthyThreshold
          type: string
        - description: |-
            Information about a health check.
            The number of consecutive health checks successes required before moving the instance to the <code>Healthy</code> state.
          in: formData
          name: HealthCheck.HealthyThreshold
          type: string
        - enum:
            - ConfigureHealthCheck
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2012-06-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ConfigureHealthCheckOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
      x-aws-operation-name: ConfigureHealthCheck
  '/#Action=CreateAppCookieStickinessPolicy':
    get:
      description: '<p>Generates a stickiness policy with sticky session lifetimes that follow that of an application-generated cookie. This policy can be associated only with HTTP/HTTPS listeners.</p> <p>This policy is similar to the policy created by <a>CreateLBCookieStickinessPolicy</a>, except that the lifetime of the special Elastic Load Balancing cookie, <code>AWSELB</code>, follows the lifetime of the application-generated cookie specified in the policy configuration. The load balancer only inserts a new stickiness cookie when the application response includes a new application cookie.</p> <p>If the application cookie is explicitly removed or expires, the session stops being sticky until a new application cookie is issued.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-sticky-sessions.html#enable-sticky-sessions-application">Application-Controlled Session Stickiness</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      operationId: GET CreateAppCookieStickinessPolicy
      parameters:
        - description: The name of the load balancer.
          in: query
          name: LoadBalancerName
          required: true
          type: string
        - description: The name of the policy being created. Policy names must consist of alphanumeric characters and dashes (-). This name must be unique within the set of policies for this load balancer.
          in: query
          name: PolicyName
          required: true
          type: string
        - description: The name of the application cookie used for stickiness.
          in: query
          name: CookieName
          required: true
          type: string
        - enum:
            - CreateAppCookieStickinessPolicy
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2012-06-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateAppCookieStickinessPolicyOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: DuplicatePolicyNameException
          schema:
            $ref: '#/definitions/DuplicatePolicyNameException'
        '482':
          description: TooManyPoliciesException
          schema:
            $ref: '#/definitions/TooManyPoliciesException'
        '483':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
      x-aws-operation-name: CreateAppCookieStickinessPolicy
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Generates a stickiness policy with sticky session lifetimes that follow that of an application-generated cookie. This policy can be associated only with HTTP/HTTPS listeners.</p> <p>This policy is similar to the policy created by <a>CreateLBCookieStickinessPolicy</a>, except that the lifetime of the special Elastic Load Balancing cookie, <code>AWSELB</code>, follows the lifetime of the application-generated cookie specified in the policy configuration. The load balancer only inserts a new stickiness cookie when the application response includes a new application cookie.</p> <p>If the application cookie is explicitly removed or expires, the session stops being sticky until a new application cookie is issued.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-sticky-sessions.html#enable-sticky-sessions-application">Application-Controlled Session Stickiness</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      operationId: POST CreateAppCookieStickinessPolicy
      parameters:
        - description: The name of the load balancer.
          in: formData
          name: LoadBalancerName
          required: true
          type: string
        - description: The name of the policy being created. Policy names must consist of alphanumeric characters and dashes (-). This name must be unique within the set of policies for this load balancer.
          in: formData
          name: PolicyName
          required: true
          type: string
        - description: The name of the application cookie used for stickiness.
          in: formData
          name: CookieName
          required: true
          type: string
        - enum:
            - CreateAppCookieStickinessPolicy
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2012-06-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateAppCookieStickinessPolicyOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: DuplicatePolicyNameException
          schema:
            $ref: '#/definitions/DuplicatePolicyNameException'
        '482':
          description: TooManyPoliciesException
          schema:
            $ref: '#/definitions/TooManyPoliciesException'
        '483':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
      x-aws-operation-name: CreateAppCookieStickinessPolicy
  '/#Action=CreateLBCookieStickinessPolicy':
    get:
      description: '<p>Generates a stickiness policy with sticky session lifetimes controlled by the lifetime of the browser (user-agent) or a specified expiration period. This policy can be associated only with HTTP/HTTPS listeners.</p> <p>When a load balancer implements this policy, the load balancer uses a special cookie to track the instance for each request. When the load balancer receives a request, it first checks to see if this cookie is present in the request. If so, the load balancer sends the request to the application server specified in the cookie. If not, the load balancer sends the request to a server that is chosen based on the existing load-balancing algorithm.</p> <p>A cookie is inserted into the response for binding subsequent requests from the same user to that server. The validity of the cookie is based on the cookie expiration time, which is specified in the policy configuration.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-sticky-sessions.html#enable-sticky-sessions-duration">Duration-Based Session Stickiness</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      operationId: GET CreateLBCookieStickinessPolicy
      parameters:
        - description: The name of the load balancer.
          in: query
          name: LoadBalancerName
          required: true
          type: string
        - description: The name of the policy being created. Policy names must consist of alphanumeric characters and dashes (-). This name must be unique within the set of policies for this load balancer.
          in: query
          name: PolicyName
          required: true
          type: string
        - description: 'The time period, in seconds, after which the cookie should be considered stale. If you do not specify this parameter, the default value is 0, which indicates that the sticky session should last for the duration of the browser session.'
          in: query
          name: CookieExpirationPeriod
          required: false
          type: integer
        - enum:
            - CreateLBCookieStickinessPolicy
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2012-06-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateLBCookieStickinessPolicyOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: DuplicatePolicyNameException
          schema:
            $ref: '#/definitions/DuplicatePolicyNameException'
        '482':
          description: TooManyPoliciesException
          schema:
            $ref: '#/definitions/TooManyPoliciesException'
        '483':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
      x-aws-operation-name: CreateLBCookieStickinessPolicy
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Generates a stickiness policy with sticky session lifetimes controlled by the lifetime of the browser (user-agent) or a specified expiration period. This policy can be associated only with HTTP/HTTPS listeners.</p> <p>When a load balancer implements this policy, the load balancer uses a special cookie to track the instance for each request. When the load balancer receives a request, it first checks to see if this cookie is present in the request. If so, the load balancer sends the request to the application server specified in the cookie. If not, the load balancer sends the request to a server that is chosen based on the existing load-balancing algorithm.</p> <p>A cookie is inserted into the response for binding subsequent requests from the same user to that server. The validity of the cookie is based on the cookie expiration time, which is specified in the policy configuration.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-sticky-sessions.html#enable-sticky-sessions-duration">Duration-Based Session Stickiness</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      operationId: POST CreateLBCookieStickinessPolicy
      parameters:
        - description: The name of the load balancer.
          in: formData
          name: LoadBalancerName
          required: true
          type: string
        - description: The name of the policy being created. Policy names must consist of alphanumeric characters and dashes (-). This name must be unique within the set of policies for this load balancer.
          in: formData
          name: PolicyName
          required: true
          type: string
        - description: 'The time period, in seconds, after which the cookie should be considered stale. If you do not specify this parameter, the default value is 0, which indicates that the sticky session should last for the duration of the browser session.'
          in: formData
          name: CookieExpirationPeriod
          required: false
          type: integer
        - enum:
            - CreateLBCookieStickinessPolicy
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2012-06-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateLBCookieStickinessPolicyOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: DuplicatePolicyNameException
          schema:
            $ref: '#/definitions/DuplicatePolicyNameException'
        '482':
          description: TooManyPoliciesException
          schema:
            $ref: '#/definitions/TooManyPoliciesException'
        '483':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
      x-aws-operation-name: CreateLBCookieStickinessPolicy
  '/#Action=CreateLoadBalancer':
    get:
      description: '<p>Creates a Classic Load Balancer.</p> <p>You can add listeners, security groups, subnets, and tags when you create your load balancer, or you can add them later using <a>CreateLoadBalancerListeners</a>, <a>ApplySecurityGroupsToLoadBalancer</a>, <a>AttachLoadBalancerToSubnets</a>, and <a>AddTags</a>.</p> <p>To describe your current load balancers, see <a>DescribeLoadBalancers</a>. When you are finished with a load balancer, you can delete it using <a>DeleteLoadBalancer</a>.</p> <p>You can create up to 20 load balancers per region per account. You can request an increase for the number of load balancers for your account. For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-limits.html">Limits for Your Classic Load Balancer</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      operationId: GET CreateLoadBalancer
      parameters:
        - description: '<p>The name of the load balancer.</p> <p>This name must be unique within your set of load balancers for the region, must have a maximum of 32 characters, must contain only alphanumeric characters or hyphens, and cannot begin or end with a hyphen.</p>'
          in: query
          name: LoadBalancerName
          required: true
          type: string
        - description: '<p>The listeners.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-listener-config.html">Listeners for Your Classic Load Balancer</a> in the <i>Classic Load Balancers Guide</i>.</p>'
          in: query
          items:
            type: string
          name: Listeners
          required: true
          type: array
        - description: <p>One or more Availability Zones from the same region as the load balancer.</p> <p>You must specify at least one Availability Zone.</p> <p>You can add more Availability Zones after you create the load balancer using <a>EnableAvailabilityZonesForLoadBalancer</a>.</p>
          in: query
          items:
            type: string
          name: AvailabilityZones
          required: false
          type: array
        - description: The IDs of the subnets in your VPC to attach to the load balancer. Specify one subnet per Availability Zone specified in <code>AvailabilityZones</code>.
          in: query
          items:
            type: string
          name: Subnets
          required: false
          type: array
        - description: The IDs of the security groups to assign to the load balancer.
          in: query
          items:
            type: string
          name: SecurityGroups
          required: false
          type: array
        - description: '<p>The type of a load balancer. Valid only for load balancers in a VPC.</p> <p>By default, Elastic Load Balancing creates an Internet-facing load balancer with a DNS name that resolves to public IP addresses. For more information about Internet-facing and Internal load balancers, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/userguide/how-elastic-load-balancing-works.html#load-balancer-scheme">Load Balancer Scheme</a> in the <i>Elastic Load Balancing User Guide</i>.</p> <p>Specify <code>internal</code> to create a load balancer with a DNS name that resolves to private IP addresses.</p>'
          in: query
          name: Scheme
          required: false
          type: string
        - description: '<p>A list of tags to assign to the load balancer.</p> <p>For more information about tagging your load balancer, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/add-remove-tags.html">Tag Your Classic Load Balancer</a> in the <i>Classic Load Balancers Guide</i>.</p>'
          in: query
          items:
            type: string
          name: Tags
          required: false
          type: array
        - enum:
            - CreateLoadBalancer
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2012-06-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateAccessPointOutput'
        '480':
          description: DuplicateAccessPointNameException
          schema:
            $ref: '#/definitions/DuplicateAccessPointNameException'
        '481':
          description: TooManyAccessPointsException
          schema:
            $ref: '#/definitions/TooManyAccessPointsException'
        '482':
          description: CertificateNotFoundException
          schema:
            $ref: '#/definitions/CertificateNotFoundException'
        '483':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
        '484':
          description: SubnetNotFoundException
          schema:
            $ref: '#/definitions/SubnetNotFoundException'
        '485':
          description: InvalidSubnetException
          schema:
            $ref: '#/definitions/InvalidSubnetException'
        '486':
          description: InvalidSecurityGroupException
          schema:
            $ref: '#/definitions/InvalidSecurityGroupException'
        '487':
          description: InvalidSchemeException
          schema:
            $ref: '#/definitions/InvalidSchemeException'
        '488':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '489':
          description: DuplicateTagKeysException
          schema:
            $ref: '#/definitions/DuplicateTagKeysException'
        '490':
          description: UnsupportedProtocolException
          schema:
            $ref: '#/definitions/UnsupportedProtocolException'
        '491':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
      x-aws-operation-name: CreateLoadBalancer
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a Classic Load Balancer.</p> <p>You can add listeners, security groups, subnets, and tags when you create your load balancer, or you can add them later using <a>CreateLoadBalancerListeners</a>, <a>ApplySecurityGroupsToLoadBalancer</a>, <a>AttachLoadBalancerToSubnets</a>, and <a>AddTags</a>.</p> <p>To describe your current load balancers, see <a>DescribeLoadBalancers</a>. When you are finished with a load balancer, you can delete it using <a>DeleteLoadBalancer</a>.</p> <p>You can create up to 20 load balancers per region per account. You can request an increase for the number of load balancers for your account. For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-limits.html">Limits for Your Classic Load Balancer</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      operationId: POST CreateLoadBalancer
      parameters:
        - description: '<p>The name of the load balancer.</p> <p>This name must be unique within your set of load balancers for the region, must have a maximum of 32 characters, must contain only alphanumeric characters or hyphens, and cannot begin or end with a hyphen.</p>'
          in: formData
          name: LoadBalancerName
          required: true
          type: string
        - description: '<p>The listeners.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-listener-config.html">Listeners for Your Classic Load Balancer</a> in the <i>Classic Load Balancers Guide</i>.</p>'
          in: formData
          items:
            type: string
          name: Listeners
          required: true
          type: array
        - description: <p>One or more Availability Zones from the same region as the load balancer.</p> <p>You must specify at least one Availability Zone.</p> <p>You can add more Availability Zones after you create the load balancer using <a>EnableAvailabilityZonesForLoadBalancer</a>.</p>
          in: formData
          items:
            type: string
          name: AvailabilityZones
          required: false
          type: array
        - description: The IDs of the subnets in your VPC to attach to the load balancer. Specify one subnet per Availability Zone specified in <code>AvailabilityZones</code>.
          in: formData
          items:
            type: string
          name: Subnets
          required: false
          type: array
        - description: The IDs of the security groups to assign to the load balancer.
          in: formData
          items:
            type: string
          name: SecurityGroups
          required: false
          type: array
        - description: '<p>The type of a load balancer. Valid only for load balancers in a VPC.</p> <p>By default, Elastic Load Balancing creates an Internet-facing load balancer with a DNS name that resolves to public IP addresses. For more information about Internet-facing and Internal load balancers, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/userguide/how-elastic-load-balancing-works.html#load-balancer-scheme">Load Balancer Scheme</a> in the <i>Elastic Load Balancing User Guide</i>.</p> <p>Specify <code>internal</code> to create a load balancer with a DNS name that resolves to private IP addresses.</p>'
          in: formData
          name: Scheme
          required: false
          type: string
        - description: '<p>A list of tags to assign to the load balancer.</p> <p>For more information about tagging your load balancer, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/add-remove-tags.html">Tag Your Classic Load Balancer</a> in the <i>Classic Load Balancers Guide</i>.</p>'
          in: formData
          items:
            type: string
          name: Tags
          required: false
          type: array
        - enum:
            - CreateLoadBalancer
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2012-06-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateAccessPointOutput'
        '480':
          description: DuplicateAccessPointNameException
          schema:
            $ref: '#/definitions/DuplicateAccessPointNameException'
        '481':
          description: TooManyAccessPointsException
          schema:
            $ref: '#/definitions/TooManyAccessPointsException'
        '482':
          description: CertificateNotFoundException
          schema:
            $ref: '#/definitions/CertificateNotFoundException'
        '483':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
        '484':
          description: SubnetNotFoundException
          schema:
            $ref: '#/definitions/SubnetNotFoundException'
        '485':
          description: InvalidSubnetException
          schema:
            $ref: '#/definitions/InvalidSubnetException'
        '486':
          description: InvalidSecurityGroupException
          schema:
            $ref: '#/definitions/InvalidSecurityGroupException'
        '487':
          description: InvalidSchemeException
          schema:
            $ref: '#/definitions/InvalidSchemeException'
        '488':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '489':
          description: DuplicateTagKeysException
          schema:
            $ref: '#/definitions/DuplicateTagKeysException'
        '490':
          description: UnsupportedProtocolException
          schema:
            $ref: '#/definitions/UnsupportedProtocolException'
        '491':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
      x-aws-operation-name: CreateLoadBalancer
  '/#Action=CreateLoadBalancerListeners':
    get:
      description: '<p>Creates one or more listeners for the specified load balancer. If a listener with the specified port does not already exist, it is created; otherwise, the properties of the new listener must match the properties of the existing listener.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-listener-config.html">Listeners for Your Classic Load Balancer</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      operationId: GET CreateLoadBalancerListeners
      parameters:
        - description: The name of the load balancer.
          in: query
          name: LoadBalancerName
          required: true
          type: string
        - description: The listeners.
          in: query
          items:
            type: string
          name: Listeners
          required: true
          type: array
        - enum:
            - CreateLoadBalancerListeners
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2012-06-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateLoadBalancerListenerOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: DuplicateListenerException
          schema:
            $ref: '#/definitions/DuplicateListenerException'
        '482':
          description: CertificateNotFoundException
          schema:
            $ref: '#/definitions/CertificateNotFoundException'
        '483':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
        '484':
          description: UnsupportedProtocolException
          schema:
            $ref: '#/definitions/UnsupportedProtocolException'
      x-aws-operation-name: CreateLoadBalancerListeners
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates one or more listeners for the specified load balancer. If a listener with the specified port does not already exist, it is created; otherwise, the properties of the new listener must match the properties of the existing listener.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-listener-config.html">Listeners for Your Classic Load Balancer</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      operationId: POST CreateLoadBalancerListeners
      parameters:
        - description: The name of the load balancer.
          in: formData
          name: LoadBalancerName
          required: true
          type: string
        - description: The listeners.
          in: formData
          items:
            type: string
          name: Listeners
          required: true
          type: array
        - enum:
            - CreateLoadBalancerListeners
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2012-06-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateLoadBalancerListenerOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: DuplicateListenerException
          schema:
            $ref: '#/definitions/DuplicateListenerException'
        '482':
          description: CertificateNotFoundException
          schema:
            $ref: '#/definitions/CertificateNotFoundException'
        '483':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
        '484':
          description: UnsupportedProtocolException
          schema:
            $ref: '#/definitions/UnsupportedProtocolException'
      x-aws-operation-name: CreateLoadBalancerListeners
  '/#Action=CreateLoadBalancerPolicy':
    get:
      description: '<p>Creates a policy with the specified attributes for the specified load balancer.</p> <p>Policies are settings that are saved for your load balancer and that can be applied to the listener or the application server, depending on the policy type.</p>'
      operationId: GET CreateLoadBalancerPolicy
      parameters:
        - description: The name of the load balancer.
          in: query
          name: LoadBalancerName
          required: true
          type: string
        - description: The name of the load balancer policy to be created. This name must be unique within the set of policies for this load balancer.
          in: query
          name: PolicyName
          required: true
          type: string
        - description: 'The name of the base policy type. To get the list of policy types, use <a>DescribeLoadBalancerPolicyTypes</a>.'
          in: query
          name: PolicyTypeName
          required: true
          type: string
        - description: The policy attributes.
          in: query
          items:
            type: string
          name: PolicyAttributes
          required: false
          type: array
        - enum:
            - CreateLoadBalancerPolicy
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2012-06-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateLoadBalancerPolicyOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: PolicyTypeNotFoundException
          schema:
            $ref: '#/definitions/PolicyTypeNotFoundException'
        '482':
          description: DuplicatePolicyNameException
          schema:
            $ref: '#/definitions/DuplicatePolicyNameException'
        '483':
          description: TooManyPoliciesException
          schema:
            $ref: '#/definitions/TooManyPoliciesException'
        '484':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
      x-aws-operation-name: CreateLoadBalancerPolicy
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a policy with the specified attributes for the specified load balancer.</p> <p>Policies are settings that are saved for your load balancer and that can be applied to the listener or the application server, depending on the policy type.</p>'
      operationId: POST CreateLoadBalancerPolicy
      parameters:
        - description: The name of the load balancer.
          in: formData
          name: LoadBalancerName
          required: true
          type: string
        - description: The name of the load balancer policy to be created. This name must be unique within the set of policies for this load balancer.
          in: formData
          name: PolicyName
          required: true
          type: string
        - description: 'The name of the base policy type. To get the list of policy types, use <a>DescribeLoadBalancerPolicyTypes</a>.'
          in: formData
          name: PolicyTypeName
          required: true
          type: string
        - description: The policy attributes.
          in: formData
          items:
            type: string
          name: PolicyAttributes
          required: false
          type: array
        - enum:
            - CreateLoadBalancerPolicy
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2012-06-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateLoadBalancerPolicyOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: PolicyTypeNotFoundException
          schema:
            $ref: '#/definitions/PolicyTypeNotFoundException'
        '482':
          description: DuplicatePolicyNameException
          schema:
            $ref: '#/definitions/DuplicatePolicyNameException'
        '483':
          description: TooManyPoliciesException
          schema:
            $ref: '#/definitions/TooManyPoliciesException'
        '484':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
      x-aws-operation-name: CreateLoadBalancerPolicy
  '/#Action=DeleteLoadBalancer':
    get:
      description: '<p>Deletes the specified load balancer.</p> <p>If you are attempting to recreate a load balancer, you must reconfigure all settings. The DNS name associated with a deleted load balancer are no longer usable. The name and associated DNS record of the deleted load balancer no longer exist and traffic sent to any of its IP addresses is no longer delivered to your instances.</p> <p>If the load balancer does not exist or has already been deleted, the call to <code>DeleteLoadBalancer</code> still succeeds.</p>'
      operationId: GET DeleteLoadBalancer
      parameters:
        - description: The name of the load balancer.
          in: query
          name: LoadBalancerName
          required: true
          type: string
        - enum:
            - DeleteLoadBalancer
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2012-06-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteAccessPointOutput'
      x-aws-operation-name: DeleteLoadBalancer
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Deletes the specified load balancer.</p> <p>If you are attempting to recreate a load balancer, you must reconfigure all settings. The DNS name associated with a deleted load balancer are no longer usable. The name and associated DNS record of the deleted load balancer no longer exist and traffic sent to any of its IP addresses is no longer delivered to your instances.</p> <p>If the load balancer does not exist or has already been deleted, the call to <code>DeleteLoadBalancer</code> still succeeds.</p>'
      operationId: POST DeleteLoadBalancer
      parameters:
        - description: The name of the load balancer.
          in: formData
          name: LoadBalancerName
          required: true
          type: string
        - enum:
            - DeleteLoadBalancer
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2012-06-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteAccessPointOutput'
      x-aws-operation-name: DeleteLoadBalancer
  '/#Action=DeleteLoadBalancerListeners':
    get:
      description: Deletes the specified listeners from the specified load balancer.
      operationId: GET DeleteLoadBalancerListeners
      parameters:
        - description: The name of the load balancer.
          in: query
          name: LoadBalancerName
          required: true
          type: string
        - description: The client port numbers of the listeners.
          in: query
          items:
            type: string
          name: LoadBalancerPorts
          required: true
          type: array
        - enum:
            - DeleteLoadBalancerListeners
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2012-06-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteLoadBalancerListenerOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
      x-aws-operation-name: DeleteLoadBalancerListeners
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes the specified listeners from the specified load balancer.
      operationId: POST DeleteLoadBalancerListeners
      parameters:
        - description: The name of the load balancer.
          in: formData
          name: LoadBalancerName
          required: true
          type: string
        - description: The client port numbers of the listeners.
          in: formData
          items:
            type: string
          name: LoadBalancerPorts
          required: true
          type: array
        - enum:
            - DeleteLoadBalancerListeners
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2012-06-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteLoadBalancerListenerOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
      x-aws-operation-name: DeleteLoadBalancerListeners
  '/#Action=DeleteLoadBalancerPolicy':
    get:
      description: Deletes the specified policy from the specified load balancer. This policy must not be enabled for any listeners.
      operationId: GET DeleteLoadBalancerPolicy
      parameters:
        - description: The name of the load balancer.
          in: query
          name: LoadBalancerName
          required: true
          type: string
        - description: The name of the policy.
          in: query
          name: PolicyName
          required: true
          type: string
        - enum:
            - DeleteLoadBalancerPolicy
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2012-06-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteLoadBalancerPolicyOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
      x-aws-operation-name: DeleteLoadBalancerPolicy
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes the specified policy from the specified load balancer. This policy must not be enabled for any listeners.
      operationId: POST DeleteLoadBalancerPolicy
      parameters:
        - description: The name of the load balancer.
          in: formData
          name: LoadBalancerName
          required: true
          type: string
        - description: The name of the policy.
          in: formData
          name: PolicyName
          required: true
          type: string
        - enum:
            - DeleteLoadBalancerPolicy
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2012-06-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteLoadBalancerPolicyOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
      x-aws-operation-name: DeleteLoadBalancerPolicy
  '/#Action=DeregisterInstancesFromLoadBalancer':
    get:
      description: '<p>Deregisters the specified instances from the specified load balancer. After the instance is deregistered, it no longer receives traffic from the load balancer.</p> <p>You can use <a>DescribeLoadBalancers</a> to verify that the instance is deregistered from the load balancer.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-deregister-register-instances.html">Register or De-Register EC2 Instances</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      operationId: GET DeregisterInstancesFromLoadBalancer
      parameters:
        - description: The name of the load balancer.
          in: query
          name: LoadBalancerName
          required: true
          type: string
        - description: The IDs of the instances.
          in: query
          items:
            type: string
          name: Instances
          required: true
          type: array
        - enum:
            - DeregisterInstancesFromLoadBalancer
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2012-06-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeregisterEndPointsOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: InvalidEndPointException
          schema:
            $ref: '#/definitions/InvalidEndPointException'
      x-aws-operation-name: DeregisterInstancesFromLoadBalancer
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Deregisters the specified instances from the specified load balancer. After the instance is deregistered, it no longer receives traffic from the load balancer.</p> <p>You can use <a>DescribeLoadBalancers</a> to verify that the instance is deregistered from the load balancer.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-deregister-register-instances.html">Register or De-Register EC2 Instances</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      operationId: POST DeregisterInstancesFromLoadBalancer
      parameters:
        - description: The name of the load balancer.
          in: formData
          name: LoadBalancerName
          required: true
          type: string
        - description: The IDs of the instances.
          in: formData
          items:
            type: string
          name: Instances
          required: true
          type: array
        - enum:
            - DeregisterInstancesFromLoadBalancer
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2012-06-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeregisterEndPointsOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: InvalidEndPointException
          schema:
            $ref: '#/definitions/InvalidEndPointException'
      x-aws-operation-name: DeregisterInstancesFromLoadBalancer
  '/#Action=DescribeAccountLimits':
    get:
      description: '<p>Describes the current Elastic Load Balancing resource limits for your AWS account.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-limits.html">Limits for Your Classic Load Balancer</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      operationId: GET DescribeAccountLimits
      parameters:
        - description: The marker for the next set of results. (You received this marker from a previous call.)
          in: query
          name: Marker
          required: false
          type: string
        - description: The maximum number of results to return with this call.
          in: query
          maximum: 400
          minimum: 1
          name: PageSize
          required: false
          type: integer
        - enum:
            - DescribeAccountLimits
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2012-06-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAccountLimitsOutput'
      x-aws-operation-name: DescribeAccountLimits
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Describes the current Elastic Load Balancing resource limits for your AWS account.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-limits.html">Limits for Your Classic Load Balancer</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      operationId: POST DescribeAccountLimits
      parameters:
        - description: The marker for the next set of results. (You received this marker from a previous call.)
          in: formData
          name: Marker
          required: false
          type: string
        - description: The maximum number of results to return with this call.
          in: formData
          maximum: 400
          minimum: 1
          name: PageSize
          required: false
          type: integer
        - enum:
            - DescribeAccountLimits
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2012-06-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAccountLimitsOutput'
      x-aws-operation-name: DescribeAccountLimits
  '/#Action=DescribeInstanceHealth':
    get:
      description: 'Describes the state of the specified instances with respect to the specified load balancer. If no instances are specified, the call describes the state of all instances that are currently registered with the load balancer. If instances are specified, their state is returned even if they are no longer registered with the load balancer. The state of terminated instances is not returned.'
      operationId: GET DescribeInstanceHealth
      parameters:
        - description: The name of the load balancer.
          in: query
          name: LoadBalancerName
          required: true
          type: string
        - description: The IDs of the instances.
          in: query
          items:
            type: string
          name: Instances
          required: false
          type: array
        - enum:
            - DescribeInstanceHealth
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2012-06-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeEndPointStateOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: InvalidEndPointException
          schema:
            $ref: '#/definitions/InvalidEndPointException'
      x-aws-operation-name: DescribeInstanceHealth
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Describes the state of the specified instances with respect to the specified load balancer. If no instances are specified, the call describes the state of all instances that are currently registered with the load balancer. If instances are specified, their state is returned even if they are no longer registered with the load balancer. The state of terminated instances is not returned.'
      operationId: POST DescribeInstanceHealth
      parameters:
        - description: The name of the load balancer.
          in: formData
          name: LoadBalancerName
          required: true
          type: string
        - description: The IDs of the instances.
          in: formData
          items:
            type: string
          name: Instances
          required: false
          type: array
        - enum:
            - DescribeInstanceHealth
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2012-06-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeEndPointStateOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: InvalidEndPointException
          schema:
            $ref: '#/definitions/InvalidEndPointException'
      x-aws-operation-name: DescribeInstanceHealth
  '/#Action=DescribeLoadBalancerAttributes':
    get:
      description: Describes the attributes for the specified load balancer.
      operationId: GET DescribeLoadBalancerAttributes
      parameters:
        - description: The name of the load balancer.
          in: query
          name: LoadBalancerName
          required: true
          type: string
        - enum:
            - DescribeLoadBalancerAttributes
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2012-06-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeLoadBalancerAttributesOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: LoadBalancerAttributeNotFoundException
          schema:
            $ref: '#/definitions/LoadBalancerAttributeNotFoundException'
      x-aws-operation-name: DescribeLoadBalancerAttributes
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes the attributes for the specified load balancer.
      operationId: POST DescribeLoadBalancerAttributes
      parameters:
        - description: The name of the load balancer.
          in: formData
          name: LoadBalancerName
          required: true
          type: string
        - enum:
            - DescribeLoadBalancerAttributes
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2012-06-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeLoadBalancerAttributesOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: LoadBalancerAttributeNotFoundException
          schema:
            $ref: '#/definitions/LoadBalancerAttributeNotFoundException'
      x-aws-operation-name: DescribeLoadBalancerAttributes
  '/#Action=DescribeLoadBalancerPolicies':
    get:
      description: '<p>Describes the specified policies.</p> <p>If you specify a load balancer name, the action returns the descriptions of all policies created for the load balancer. If you specify a policy name associated with your load balancer, the action returns the description of that policy. If you don''t specify a load balancer name, the action returns descriptions of the specified sample policies, or descriptions of all sample policies. The names of the sample policies have the <code>ELBSample-</code> prefix.</p>'
      operationId: GET DescribeLoadBalancerPolicies
      parameters:
        - description: The name of the load balancer.
          in: query
          name: LoadBalancerName
          required: false
          type: string
        - description: The names of the policies.
          in: query
          items:
            type: string
          name: PolicyNames
          required: false
          type: array
        - enum:
            - DescribeLoadBalancerPolicies
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2012-06-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeLoadBalancerPoliciesOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: PolicyNotFoundException
          schema:
            $ref: '#/definitions/PolicyNotFoundException'
      x-aws-operation-name: DescribeLoadBalancerPolicies
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Describes the specified policies.</p> <p>If you specify a load balancer name, the action returns the descriptions of all policies created for the load balancer. If you specify a policy name associated with your load balancer, the action returns the description of that policy. If you don''t specify a load balancer name, the action returns descriptions of the specified sample policies, or descriptions of all sample policies. The names of the sample policies have the <code>ELBSample-</code> prefix.</p>'
      operationId: POST DescribeLoadBalancerPolicies
      parameters:
        - description: The name of the load balancer.
          in: formData
          name: LoadBalancerName
          required: false
          type: string
        - description: The names of the policies.
          in: formData
          items:
            type: string
          name: PolicyNames
          required: false
          type: array
        - enum:
            - DescribeLoadBalancerPolicies
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2012-06-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeLoadBalancerPoliciesOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: PolicyNotFoundException
          schema:
            $ref: '#/definitions/PolicyNotFoundException'
      x-aws-operation-name: DescribeLoadBalancerPolicies
  '/#Action=DescribeLoadBalancerPolicyTypes':
    get:
      description: '<p>Describes the specified load balancer policy types or all load balancer policy types.</p> <p>The description of each type indicates how it can be used. For example, some policies can be used only with layer 7 listeners, some policies can be used only with layer 4 listeners, and some policies can be used only with your EC2 instances.</p> <p>You can use <a>CreateLoadBalancerPolicy</a> to create a policy configuration for any of these policy types. Then, depending on the policy type, use either <a>SetLoadBalancerPoliciesOfListener</a> or <a>SetLoadBalancerPoliciesForBackendServer</a> to set the policy.</p>'
      operationId: GET DescribeLoadBalancerPolicyTypes
      parameters:
        - description: 'The names of the policy types. If no names are specified, describes all policy types defined by Elastic Load Balancing.'
          in: query
          items:
            type: string
          name: PolicyTypeNames
          required: false
          type: array
        - enum:
            - DescribeLoadBalancerPolicyTypes
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2012-06-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeLoadBalancerPolicyTypesOutput'
        '480':
          description: PolicyTypeNotFoundException
          schema:
            $ref: '#/definitions/PolicyTypeNotFoundException'
      x-aws-operation-name: DescribeLoadBalancerPolicyTypes
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Describes the specified load balancer policy types or all load balancer policy types.</p> <p>The description of each type indicates how it can be used. For example, some policies can be used only with layer 7 listeners, some policies can be used only with layer 4 listeners, and some policies can be used only with your EC2 instances.</p> <p>You can use <a>CreateLoadBalancerPolicy</a> to create a policy configuration for any of these policy types. Then, depending on the policy type, use either <a>SetLoadBalancerPoliciesOfListener</a> or <a>SetLoadBalancerPoliciesForBackendServer</a> to set the policy.</p>'
      operationId: POST DescribeLoadBalancerPolicyTypes
      parameters:
        - description: 'The names of the policy types. If no names are specified, describes all policy types defined by Elastic Load Balancing.'
          in: formData
          items:
            type: string
          name: PolicyTypeNames
          required: false
          type: array
        - enum:
            - DescribeLoadBalancerPolicyTypes
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2012-06-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeLoadBalancerPolicyTypesOutput'
        '480':
          description: PolicyTypeNotFoundException
          schema:
            $ref: '#/definitions/PolicyTypeNotFoundException'
      x-aws-operation-name: DescribeLoadBalancerPolicyTypes
  '/#Action=DescribeLoadBalancers':
    get:
      description: 'Describes the specified the load balancers. If no load balancers are specified, the call describes all of your load balancers.'
      operationId: GET DescribeLoadBalancers
      parameters:
        - description: The names of the load balancers.
          in: query
          items:
            type: string
          name: LoadBalancerNames
          required: false
          type: array
        - description: The marker for the next set of results. (You received this marker from a previous call.)
          in: query
          name: Marker
          required: false
          type: string
        - description: The maximum number of results to return with this call (a number from 1 to 400). The default is 400.
          in: query
          maximum: 400
          minimum: 1
          name: PageSize
          required: false
          type: integer
        - enum:
            - DescribeLoadBalancers
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2012-06-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAccessPointsOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: DependencyThrottleException
          schema:
            $ref: '#/definitions/DependencyThrottleException'
      x-aws-operation-name: DescribeLoadBalancers
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Describes the specified the load balancers. If no load balancers are specified, the call describes all of your load balancers.'
      operationId: POST DescribeLoadBalancers
      parameters:
        - description: The names of the load balancers.
          in: formData
          items:
            type: string
          name: LoadBalancerNames
          required: false
          type: array
        - description: The marker for the next set of results. (You received this marker from a previous call.)
          in: formData
          name: Marker
          required: false
          type: string
        - description: The maximum number of results to return with this call (a number from 1 to 400). The default is 400.
          in: formData
          maximum: 400
          minimum: 1
          name: PageSize
          required: false
          type: integer
        - enum:
            - DescribeLoadBalancers
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2012-06-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAccessPointsOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: DependencyThrottleException
          schema:
            $ref: '#/definitions/DependencyThrottleException'
      x-aws-operation-name: DescribeLoadBalancers
  '/#Action=DescribeTags':
    get:
      description: Describes the tags associated with the specified load balancers.
      operationId: GET DescribeTags
      parameters:
        - description: The names of the load balancers.
          in: query
          items:
            type: string
          name: LoadBalancerNames
          required: true
          type: array
        - enum:
            - DescribeTags
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2012-06-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeTagsOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
      x-aws-operation-name: DescribeTags
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes the tags associated with the specified load balancers.
      operationId: POST DescribeTags
      parameters:
        - description: The names of the load balancers.
          in: formData
          items:
            type: string
          name: LoadBalancerNames
          required: true
          type: array
        - enum:
            - DescribeTags
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2012-06-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeTagsOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
      x-aws-operation-name: DescribeTags
  '/#Action=DetachLoadBalancerFromSubnets':
    get:
      description: '<p>Removes the specified subnets from the set of configured subnets for the load balancer.</p> <p>After a subnet is removed, all EC2 instances registered with the load balancer in the removed subnet go into the <code>OutOfService</code> state. Then, the load balancer balances the traffic among the remaining routable subnets.</p>'
      operationId: GET DetachLoadBalancerFromSubnets
      parameters:
        - description: The name of the load balancer.
          in: query
          name: LoadBalancerName
          required: true
          type: string
        - description: The IDs of the subnets.
          in: query
          items:
            type: string
          name: Subnets
          required: true
          type: array
        - enum:
            - DetachLoadBalancerFromSubnets
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2012-06-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DetachLoadBalancerFromSubnetsOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
      x-aws-operation-name: DetachLoadBalancerFromSubnets
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Removes the specified subnets from the set of configured subnets for the load balancer.</p> <p>After a subnet is removed, all EC2 instances registered with the load balancer in the removed subnet go into the <code>OutOfService</code> state. Then, the load balancer balances the traffic among the remaining routable subnets.</p>'
      operationId: POST DetachLoadBalancerFromSubnets
      parameters:
        - description: The name of the load balancer.
          in: formData
          name: LoadBalancerName
          required: true
          type: string
        - description: The IDs of the subnets.
          in: formData
          items:
            type: string
          name: Subnets
          required: true
          type: array
        - enum:
            - DetachLoadBalancerFromSubnets
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2012-06-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DetachLoadBalancerFromSubnetsOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
      x-aws-operation-name: DetachLoadBalancerFromSubnets
  '/#Action=DisableAvailabilityZonesForLoadBalancer':
    get:
      description: '<p>Removes the specified Availability Zones from the set of Availability Zones for the specified load balancer in EC2-Classic or a default VPC.</p> <p>For load balancers in a non-default VPC, use <a>DetachLoadBalancerFromSubnets</a>.</p> <p>There must be at least one Availability Zone registered with a load balancer at all times. After an Availability Zone is removed, all instances registered with the load balancer that are in the removed Availability Zone go into the <code>OutOfService</code> state. Then, the load balancer attempts to equally balance the traffic among its remaining Availability Zones.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/enable-disable-az.html">Add or Remove Availability Zones</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      operationId: GET DisableAvailabilityZonesForLoadBalancer
      parameters:
        - description: The name of the load balancer.
          in: query
          name: LoadBalancerName
          required: true
          type: string
        - description: The Availability Zones.
          in: query
          items:
            type: string
          name: AvailabilityZones
          required: true
          type: array
        - enum:
            - DisableAvailabilityZonesForLoadBalancer
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2012-06-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RemoveAvailabilityZonesOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
      x-aws-operation-name: DisableAvailabilityZonesForLoadBalancer
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
[...]
