swagger: '2.0'
info:
  version: '2012-06-01'
  x-release: v4
  title: Elastic Load Balancing
  description: '<fullname>Elastic Load Balancing</fullname> <p>A load balancer can distribute incoming traffic across your EC2 instances. This enables you to increase the availability of your application. The load balancer also monitors the health of its registered instances and ensures that it routes traffic only to healthy instances. You configure your load balancer to accept incoming traffic by specifying one or more listeners, which are configured with a protocol and port number for connections from clients to the load balancer and a protocol and port number for connections from the load balancer to the instances.</p> <p>Elastic Load Balancing supports three types of load balancers: Application Load Balancers, Network Load Balancers, and Classic Load Balancers. You can select a load balancer based on your application needs. For more information, see the <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/userguide/">Elastic Load Balancing User Guide</a>.</p> <p>This reference covers the 2012-06-01 API, which supports Classic Load Balancers. The 2015-12-01 API supports Application Load Balancers and Network Load Balancers.</p> <p>To get started, create a load balancer with one or more listeners using <a>CreateLoadBalancer</a>. Register your instances with the load balancer using <a>RegisterInstancesWithLoadBalancer</a>.</p> <p>All Elastic Load Balancing operations are <i>idempotent</i>, which means that they complete at most one time. If you repeat an operation, it succeeds with a 200 OK response code.</p>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: elasticloadbalancing
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/elasticloadbalancing-2012-06-01.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/elasticloadbalancing/'
host: elasticloadbalancing.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes: []
produces: []
parameters:
  Action:
    name: Action
    in: query
    type: string
    required: true
  Version:
    name: Version
    in: query
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /:
    post:
      operationId: AddTags
      description: '<p>Adds the specified tags to the specified load balancer. Each load balancer can have a maximum of 10 tags.</p> <p>Each tag consists of a key and an optional value. If a tag with the same key is already associated with the load balancer, <code>AddTags</code> updates its value.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/add-remove-tags.html">Tag Your Classic Load Balancer</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddTagsOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '482':
          description: DuplicateTagKeysException
          schema:
            $ref: '#/definitions/DuplicateTagKeysException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AddTagsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ApplySecurityGroupsToLoadBalancer':
    post:
      operationId: ApplySecurityGroupsToLoadBalancer
      description: '<p>Associates one or more security groups with your load balancer in a virtual private cloud (VPC). The specified security groups override the previously associated security groups.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-security-groups.html#elb-vpc-security-groups">Security Groups for Load Balancers in a VPC</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ApplySecurityGroupsToLoadBalancerOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
        '482':
          description: InvalidSecurityGroupException
          schema:
            $ref: '#/definitions/InvalidSecurityGroupException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ApplySecurityGroupsToLoadBalancerInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#AttachLoadBalancerToSubnets':
    post:
      operationId: AttachLoadBalancerToSubnets
      description: '<p>Adds one or more subnets to the set of configured subnets for the specified load balancer.</p> <p>The load balancer evenly distributes requests across all registered subnets. For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-manage-subnets.html">Add or Remove Subnets for Your Load Balancer in a VPC</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AttachLoadBalancerToSubnetsOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
        '482':
          description: SubnetNotFoundException
          schema:
            $ref: '#/definitions/SubnetNotFoundException'
        '483':
          description: InvalidSubnetException
          schema:
            $ref: '#/definitions/InvalidSubnetException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AttachLoadBalancerToSubnetsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ConfigureHealthCheck':
    post:
      operationId: ConfigureHealthCheck
      description: '<p>Specifies the health check settings to use when evaluating the health state of your EC2 instances.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-healthchecks.html">Configure Health Checks for Your Load Balancer</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ConfigureHealthCheckOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ConfigureHealthCheckInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateAppCookieStickinessPolicy':
    post:
      operationId: CreateAppCookieStickinessPolicy
      description: '<p>Generates a stickiness policy with sticky session lifetimes that follow that of an application-generated cookie. This policy can be associated only with HTTP/HTTPS listeners.</p> <p>This policy is similar to the policy created by <a>CreateLBCookieStickinessPolicy</a>, except that the lifetime of the special Elastic Load Balancing cookie, <code>AWSELB</code>, follows the lifetime of the application-generated cookie specified in the policy configuration. The load balancer only inserts a new stickiness cookie when the application response includes a new application cookie.</p> <p>If the application cookie is explicitly removed or expires, the session stops being sticky until a new application cookie is issued.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-sticky-sessions.html#enable-sticky-sessions-application">Application-Controlled Session Stickiness</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateAppCookieStickinessPolicyOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: DuplicatePolicyNameException
          schema:
            $ref: '#/definitions/DuplicatePolicyNameException'
        '482':
          description: TooManyPoliciesException
          schema:
            $ref: '#/definitions/TooManyPoliciesException'
        '483':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateAppCookieStickinessPolicyInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateLBCookieStickinessPolicy':
    post:
      operationId: CreateLBCookieStickinessPolicy
      description: '<p>Generates a stickiness policy with sticky session lifetimes controlled by the lifetime of the browser (user-agent) or a specified expiration period. This policy can be associated only with HTTP/HTTPS listeners.</p> <p>When a load balancer implements this policy, the load balancer uses a special cookie to track the instance for each request. When the load balancer receives a request, it first checks to see if this cookie is present in the request. If so, the load balancer sends the request to the application server specified in the cookie. If not, the load balancer sends the request to a server that is chosen based on the existing load-balancing algorithm.</p> <p>A cookie is inserted into the response for binding subsequent requests from the same user to that server. The validity of the cookie is based on the cookie expiration time, which is specified in the policy configuration.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-sticky-sessions.html#enable-sticky-sessions-duration">Duration-Based Session Stickiness</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateLBCookieStickinessPolicyOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: DuplicatePolicyNameException
          schema:
            $ref: '#/definitions/DuplicatePolicyNameException'
        '482':
          description: TooManyPoliciesException
          schema:
            $ref: '#/definitions/TooManyPoliciesException'
        '483':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateLBCookieStickinessPolicyInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateLoadBalancer':
    post:
      operationId: CreateLoadBalancer
      description: '<p>Creates a Classic Load Balancer.</p> <p>You can add listeners, security groups, subnets, and tags when you create your load balancer, or you can add them later using <a>CreateLoadBalancerListeners</a>, <a>ApplySecurityGroupsToLoadBalancer</a>, <a>AttachLoadBalancerToSubnets</a>, and <a>AddTags</a>.</p> <p>To describe your current load balancers, see <a>DescribeLoadBalancers</a>. When you are finished with a load balancer, you can delete it using <a>DeleteLoadBalancer</a>.</p> <p>You can create up to 20 load balancers per region per account. You can request an increase for the number of load balancers for your account. For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-limits.html">Limits for Your Classic Load Balancer</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateAccessPointOutput'
        '480':
          description: DuplicateAccessPointNameException
          schema:
            $ref: '#/definitions/DuplicateAccessPointNameException'
        '481':
          description: TooManyAccessPointsException
          schema:
            $ref: '#/definitions/TooManyAccessPointsException'
        '482':
          description: CertificateNotFoundException
          schema:
            $ref: '#/definitions/CertificateNotFoundException'
        '483':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
        '484':
          description: SubnetNotFoundException
          schema:
            $ref: '#/definitions/SubnetNotFoundException'
        '485':
          description: InvalidSubnetException
          schema:
            $ref: '#/definitions/InvalidSubnetException'
        '486':
          description: InvalidSecurityGroupException
          schema:
            $ref: '#/definitions/InvalidSecurityGroupException'
        '487':
          description: InvalidSchemeException
          schema:
            $ref: '#/definitions/InvalidSchemeException'
        '488':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '489':
          description: DuplicateTagKeysException
          schema:
            $ref: '#/definitions/DuplicateTagKeysException'
        '490':
          description: UnsupportedProtocolException
          schema:
            $ref: '#/definitions/UnsupportedProtocolException'
        '491':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateAccessPointInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateLoadBalancerListeners':
    post:
      operationId: CreateLoadBalancerListeners
      description: '<p>Creates one or more listeners for the specified load balancer. If a listener with the specified port does not already exist, it is created; otherwise, the properties of the new listener must match the properties of the existing listener.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-listener-config.html">Listeners for Your Classic Load Balancer</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateLoadBalancerListenerOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: DuplicateListenerException
          schema:
            $ref: '#/definitions/DuplicateListenerException'
        '482':
          description: CertificateNotFoundException
          schema:
            $ref: '#/definitions/CertificateNotFoundException'
        '483':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
        '484':
          description: UnsupportedProtocolException
          schema:
            $ref: '#/definitions/UnsupportedProtocolException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateLoadBalancerListenerInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateLoadBalancerPolicy':
    post:
      operationId: CreateLoadBalancerPolicy
      description: '<p>Creates a policy with the specified attributes for the specified load balancer.</p> <p>Policies are settings that are saved for your load balancer and that can be applied to the listener or the application server, depending on the policy type.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateLoadBalancerPolicyOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: PolicyTypeNotFoundException
          schema:
            $ref: '#/definitions/PolicyTypeNotFoundException'
        '482':
          description: DuplicatePolicyNameException
          schema:
            $ref: '#/definitions/DuplicatePolicyNameException'
        '483':
          description: TooManyPoliciesException
          schema:
            $ref: '#/definitions/TooManyPoliciesException'
        '484':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateLoadBalancerPolicyInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteLoadBalancer':
    post:
      operationId: DeleteLoadBalancer
      description: '<p>Deletes the specified load balancer.</p> <p>If you are attempting to recreate a load balancer, you must reconfigure all settings. The DNS name associated with a deleted load balancer are no longer usable. The name and associated DNS record of the deleted load balancer no longer exist and traffic sent to any of its IP addresses is no longer delivered to your instances.</p> <p>If the load balancer does not exist or has already been deleted, the call to <code>DeleteLoadBalancer</code> still succeeds.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteAccessPointOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteAccessPointInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteLoadBalancerListeners':
    post:
      operationId: DeleteLoadBalancerListeners
      description: Deletes the specified listeners from the specified load balancer.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteLoadBalancerListenerOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteLoadBalancerListenerInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteLoadBalancerPolicy':
    post:
      operationId: DeleteLoadBalancerPolicy
      description: Deletes the specified policy from the specified load balancer. This policy must not be enabled for any listeners.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteLoadBalancerPolicyOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteLoadBalancerPolicyInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeregisterInstancesFromLoadBalancer':
    post:
      operationId: DeregisterInstancesFromLoadBalancer
      description: '<p>Deregisters the specified instances from the specified load balancer. After the instance is deregistered, it no longer receives traffic from the load balancer.</p> <p>You can use <a>DescribeLoadBalancers</a> to verify that the instance is deregistered from the load balancer.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-deregister-register-instances.html">Register or De-Register EC2 Instances</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeregisterEndPointsOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: InvalidEndPointException
          schema:
            $ref: '#/definitions/InvalidEndPointException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeregisterEndPointsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeAccountLimits':
    post:
      operationId: DescribeAccountLimits
      description: '<p>Describes the current Elastic Load Balancing resource limits for your AWS account.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-limits.html">Limits for Your Classic Load Balancer</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAccountLimitsOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeAccountLimitsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeInstanceHealth':
    post:
      operationId: DescribeInstanceHealth
      description: 'Describes the state of the specified instances with respect to the specified load balancer. If no instances are specified, the call describes the state of all instances that are currently registered with the load balancer. If instances are specified, their state is returned even if they are no longer registered with the load balancer. The state of terminated instances is not returned.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeEndPointStateOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: InvalidEndPointException
          schema:
            $ref: '#/definitions/InvalidEndPointException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeEndPointStateInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeLoadBalancerAttributes':
    post:
      operationId: DescribeLoadBalancerAttributes
      description: Describes the attributes for the specified load balancer.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeLoadBalancerAttributesOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: LoadBalancerAttributeNotFoundException
          schema:
            $ref: '#/definitions/LoadBalancerAttributeNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeLoadBalancerAttributesInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeLoadBalancerPolicies':
    post:
      operationId: DescribeLoadBalancerPolicies
      description: '<p>Describes the specified policies.</p> <p>If you specify a load balancer name, the action returns the descriptions of all policies created for the load balancer. If you specify a policy name associated with your load balancer, the action returns the description of that policy. If you don''t specify a load balancer name, the action returns descriptions of the specified sample policies, or descriptions of all sample policies. The names of the sample policies have the <code>ELBSample-</code> prefix.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeLoadBalancerPoliciesOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: PolicyNotFoundException
          schema:
            $ref: '#/definitions/PolicyNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeLoadBalancerPoliciesInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeLoadBalancerPolicyTypes':
    post:
      operationId: DescribeLoadBalancerPolicyTypes
      description: '<p>Describes the specified load balancer policy types or all load balancer policy types.</p> <p>The description of each type indicates how it can be used. For example, some policies can be used only with layer 7 listeners, some policies can be used only with layer 4 listeners, and some policies can be used only with your EC2 instances.</p> <p>You can use <a>CreateLoadBalancerPolicy</a> to create a policy configuration for any of these policy types. Then, depending on the policy type, use either <a>SetLoadBalancerPoliciesOfListener</a> or <a>SetLoadBalancerPoliciesForBackendServer</a> to set the policy.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeLoadBalancerPolicyTypesOutput'
        '480':
          description: PolicyTypeNotFoundException
          schema:
            $ref: '#/definitions/PolicyTypeNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeLoadBalancerPolicyTypesInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeLoadBalancers':
    post:
      operationId: DescribeLoadBalancers
      description: 'Describes the specified the load balancers. If no load balancers are specified, the call describes all of your load balancers.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAccessPointsOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: DependencyThrottleException
          schema:
            $ref: '#/definitions/DependencyThrottleException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeAccessPointsInput'
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeTags':
    post:
      operationId: DescribeTags
      description: Describes the tags associated with the specified load balancers.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeTagsOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeTagsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DetachLoadBalancerFromSubnets':
    post:
      operationId: DetachLoadBalancerFromSubnets
      description: '<p>Removes the specified subnets from the set of configured subnets for the load balancer.</p> <p>After a subnet is removed, all EC2 instances registered with the load balancer in the removed subnet go into the <code>OutOfService</code> state. Then, the load balancer balances the traffic among the remaining routable subnets.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DetachLoadBalancerFromSubnetsOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DetachLoadBalancerFromSubnetsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DisableAvailabilityZonesForLoadBalancer':
    post:
      operationId: DisableAvailabilityZonesForLoadBalancer
      description: '<p>Removes the specified Availability Zones from the set of Availability Zones for the specified load balancer in EC2-Classic or a default VPC.</p> <p>For load balancers in a non-default VPC, use <a>DetachLoadBalancerFromSubnets</a>.</p> <p>There must be at least one Availability Zone registered with a load balancer at all times. After an Availability Zone is removed, all instances registered with the load balancer that are in the removed Availability Zone go into the <code>OutOfService</code> state. Then, the load balancer attempts to equally balance the traffic among its remaining Availability Zones.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/enable-disable-az.html">Add or Remove Availability Zones</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RemoveAvailabilityZonesOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RemoveAvailabilityZonesInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#EnableAvailabilityZonesForLoadBalancer':
    post:
      operationId: EnableAvailabilityZonesForLoadBalancer
      description: '<p>Adds the specified Availability Zones to the set of Availability Zones for the specified load balancer in EC2-Classic or a default VPC.</p> <p>For load balancers in a non-default VPC, use <a>AttachLoadBalancerToSubnets</a>.</p> <p>The load balancer evenly distributes requests across all its registered Availability Zones that contain instances. For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/enable-disable-az.html">Add or Remove Availability Zones</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddAvailabilityZonesOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AddAvailabilityZonesInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ModifyLoadBalancerAttributes':
    post:
      operationId: ModifyLoadBalancerAttributes
      description: '<p>Modifies the attributes of the specified load balancer.</p> <p>You can modify the load balancer attributes, such as <code>AccessLogs</code>, <code>ConnectionDraining</code>, and <code>CrossZoneLoadBalancing</code> by either enabling or disabling them. Or, you can modify the load balancer attribute <code>ConnectionSettings</code> by specifying an idle connection timeout value for your load balancer.</p> <p>For more information, see the following in the <i>Classic Load Balancers Guide</i>:</p> <ul> <li> <p> <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/enable-disable-crosszone-lb.html">Cross-Zone Load Balancing</a> </p> </li> <li> <p> <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/config-conn-drain.html">Connection Draining</a> </p> </li> <li> <p> <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/access-log-collection.html">Access Logs</a> </p> </li> <li> <p> <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/config-idle-timeout.html">Idle Connection Timeout</a> </p> </li> </ul>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ModifyLoadBalancerAttributesOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: LoadBalancerAttributeNotFoundException
          schema:
            $ref: '#/definitions/LoadBalancerAttributeNotFoundException'
        '482':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModifyLoadBalancerAttributesInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#RegisterInstancesWithLoadBalancer':
    post:
      operationId: RegisterInstancesWithLoadBalancer
      description: '<p>Adds the specified instances to the specified load balancer.</p> <p>The instance must be a running instance in the same network as the load balancer (EC2-Classic or the same VPC). If you have EC2-Classic instances and a load balancer in a VPC with ClassicLink enabled, you can link the EC2-Classic instances to that VPC and then register the linked EC2-Classic instances with the load balancer in the VPC.</p> <p>Note that <code>RegisterInstanceWithLoadBalancer</code> completes when the request has been registered. Instance registration takes a little time to complete. To check the state of the registered instances, use <a>DescribeLoadBalancers</a> or <a>DescribeInstanceHealth</a>.</p> <p>After the instance is registered, it starts receiving traffic and requests from the load balancer. Any instance that is not in one of the Availability Zones registered for the load balancer is moved to the <code>OutOfService</code> state. If an Availability Zone is added to the load balancer later, any instances registered with the load balancer move to the <code>InService</code> state.</p> <p>To deregister instances from a load balancer, use <a>DeregisterInstancesFromLoadBalancer</a>.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-deregister-register-instances.html">Register or De-Register EC2 Instances</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RegisterEndPointsOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: InvalidEndPointException
          schema:
            $ref: '#/definitions/InvalidEndPointException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RegisterEndPointsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#RemoveTags':
    post:
      operationId: RemoveTags
      description: Removes one or more tags from the specified load balancer.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RemoveTagsOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RemoveTagsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#SetLoadBalancerListenerSSLCertificate':
    post:
      operationId: SetLoadBalancerListenerSSLCertificate
      description: '<p>Sets the certificate that terminates the specified listener''s SSL connections. The specified certificate replaces any prior certificate that was used on the same load balancer and port.</p> <p>For more information about updating your SSL certificate, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-update-ssl-cert.html">Replace the SSL Certificate for Your Load Balancer</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SetLoadBalancerListenerSSLCertificateOutput'
        '480':
          description: CertificateNotFoundException
          schema:
            $ref: '#/definitions/CertificateNotFoundException'
        '481':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '482':
          description: ListenerNotFoundException
          schema:
            $ref: '#/definitions/ListenerNotFoundException'
        '483':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
        '484':
          description: UnsupportedProtocolException
          schema:
            $ref: '#/definitions/UnsupportedProtocolException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SetLoadBalancerListenerSSLCertificateInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#SetLoadBalancerPoliciesForBackendServer':
    post:
      operationId: SetLoadBalancerPoliciesForBackendServer
      description: '<p>Replaces the set of policies associated with the specified port on which the EC2 instance is listening with a new set of policies. At this time, only the back-end server authentication policy type can be applied to the instance ports; this policy type is composed of multiple public key policies.</p> <p>Each time you use <code>SetLoadBalancerPoliciesForBackendServer</code> to enable the policies, use the <code>PolicyNames</code> parameter to list the policies that you want to enable.</p> <p>You can use <a>DescribeLoadBalancers</a> or <a>DescribeLoadBalancerPolicies</a> to verify that the policy is associated with the EC2 instance.</p> <p>For more information about enabling back-end instance authentication, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-create-https-ssl-load-balancer.html#configure_backendauth_clt">Configure Back-end Instance Authentication</a> in the <i>Classic Load Balancers Guide</i>. For more information about Proxy Protocol, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/enable-proxy-protocol.html">Configure Proxy Protocol Support</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SetLoadBalancerPoliciesForBackendServerOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: PolicyNotFoundException
          schema:
            $ref: '#/definitions/PolicyNotFoundException'
        '482':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SetLoadBalancerPoliciesForBackendServerInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#SetLoadBalancerPoliciesOfListener':
    post:
      operationId: SetLoadBalancerPoliciesOfListener
      description: '<p>Replaces the current set of policies for the specified load balancer port with the specified set of policies.</p> <p>To enable back-end server authentication, use <a>SetLoadBalancerPoliciesForBackendServer</a>.</p> <p>For more information about setting policies, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/ssl-config-update.html">Update the SSL Negotiation Configuration</a>, <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-sticky-sessions.html#enable-sticky-sessions-duration">Duration-Based Session Stickiness</a>, and <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-sticky-sessions.html#enable-sticky-sessions-application">Application-Controlled Session Stickiness</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SetLoadBalancerPoliciesOfListenerOutput'
        '480':
          description: AccessPointNotFoundException
          schema:
            $ref: '#/definitions/AccessPointNotFoundException'
        '481':
          description: PolicyNotFoundException
          schema:
            $ref: '#/definitions/PolicyNotFoundException'
        '482':
          description: ListenerNotFoundException
          schema:
            $ref: '#/definitions/ListenerNotFoundException'
        '483':
          description: InvalidConfigurationRequestException
          schema:
            $ref: '#/definitions/InvalidConfigurationRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SetLoadBalancerPoliciesOfListenerInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  AddTagsOutput:
    type: object
    properties: {}
    description: Contains the output of AddTags.
  AddTagsInput:
    type: object
    required:
      - LoadBalancerNames
      - Tags
    example:
      LoadBalancerNames:
        - my-load-balancer
      Tags:
        - Key: project
          Value: lima
        - Key: department
          Value: digital-media
    properties:
      LoadBalancerNames:
        $ref: '#/definitions/LoadBalancerNames'
        description: The name of the load balancer. You can specify one load balancer only.
      Tags:
        $ref: '#/definitions/TagList'
        description: The tags.
    description: Contains the parameters for AddTags.
  AccessPointNotFoundException: {}
  TooManyTagsException: {}
  DuplicateTagKeysException: {}
  ApplySecurityGroupsToLoadBalancerOutput:
    type: object
    example:
      SecurityGroups:
        - sg-fc448899
    properties:
      SecurityGroups:
        $ref: '#/definitions/SecurityGroups'
        description: The IDs of the security groups associated with the load balancer.
    description: Contains the output of ApplySecurityGroupsToLoadBalancer.
  ApplySecurityGroupsToLoadBalancerInput:
    type: object
    required:
      - LoadBalancerName
      - SecurityGroups
    example:
      LoadBalancerName: my-load-balancer
      SecurityGroups:
        - sg-fc448899
    properties:
      LoadBalancerName:
        $ref: '#/definitions/AccessPointName'
        description: The name of the load balancer.
      SecurityGroups:
        $ref: '#/definitions/SecurityGroups'
        description: The IDs of the security groups to associate with the load balancer. Note that you cannot specify the name of the security group.
    description: Contains the parameters for ApplySecurityGroupsToLoadBalancer.
  InvalidConfigurationRequestException: {}
  InvalidSecurityGroupException: {}
  AttachLoadBalancerToSubnetsOutput:
    type: object
    example:
      Subnets:
        - subnet-15aaab61
        - subnet-0ecac448
    properties:
      Subnets:
        $ref: '#/definitions/Subnets'
        description: The IDs of the subnets attached to the load balancer.
    description: Contains the output of AttachLoadBalancerToSubnets.
  AttachLoadBalancerToSubnetsInput:
    type: object
    required:
      - LoadBalancerName
      - Subnets
    example:
      LoadBalancerName: my-load-balancer
      Subnets:
        - subnet-0ecac448
    properties:
      LoadBalancerName:
        $ref: '#/definitions/AccessPointName'
        description: The name of the load balancer.
      Subnets:
        $ref: '#/definitions/Subnets'
        description: The IDs of the subnets to add. You can add only one subnet per Availability Zone.
    description: Contains the parameters for AttachLoaBalancerToSubnets.
  SubnetNotFoundException: {}
  InvalidSubnetException: {}
  ConfigureHealthCheckOutput:
    type: object
    example:
      HealthCheck:
        HealthyThreshold: 2
        Interval: 30
        Target: 'HTTP:80/png'
        Timeout: 3
        UnhealthyThreshold: 2
    properties:
      HealthCheck:
        $ref: '#/definitions/HealthCheck'
        description: The updated health check.
    description: Contains the output of ConfigureHealthCheck.
  ConfigureHealthCheckInput:
    type: object
    required:
      - LoadBalancerName
      - HealthCheck
    example:
      HealthCheck:
        HealthyThreshold: 2
        Interval: 30
        Target: 'HTTP:80/png'
        Timeout: 3
        UnhealthyThreshold: 2
      LoadBalancerName: my-load-balancer
    properties:
      LoadBalancerName:
        $ref: '#/definitions/AccessPointName'
        description: The name of the load balancer.
      HealthCheck:
        $ref: '#/definitions/HealthCheck'
        description: The configuration information.
    description: Contains the parameters for ConfigureHealthCheck.
  CreateAppCookieStickinessPolicyOutput:
    type: object
    properties: {}
    description: Contains the output for CreateAppCookieStickinessPolicy.
  CreateAppCookieStickinessPolicyInput:
    type: object
    required:
      - LoadBalancerName
      - PolicyName
      - CookieName
    example:
      CookieName: my-app-cookie
      LoadBalancerName: my-load-balancer
      PolicyName: my-app-cookie-policy
    properties:
      LoadBalancerName:
        $ref: '#/definitions/AccessPointName'
        description: The name of the load balancer.
      PolicyName:
        $ref: '#/definitions/PolicyName'
        description: The name of the policy being created. Policy names must consist of alphanumeric characters and dashes (-). This name must be unique within the set of policies for this load balancer.
      CookieName:
        $ref: '#/definitions/CookieName'
        description: The name of the application cookie used for stickiness.
    description: Contains the parameters for CreateAppCookieStickinessPolicy.
  DuplicatePolicyNameException: {}
  TooManyPoliciesException: {}
  CreateLBCookieStickinessPolicyOutput:
    type: object
    properties: {}
    description: Contains the output for CreateLBCookieStickinessPolicy.
  CreateLBCookieStickinessPolicyInput:
    type: object
    required:
      - LoadBalancerName
      - PolicyName
    example:
      CookieExpirationPeriod: 60
      LoadBalancerName: my-load-balancer
      PolicyName: my-duration-cookie-policy
    properties:
      LoadBalancerName:
        $ref: '#/definitions/AccessPointName'
        description: The name of the load balancer.
      PolicyName:
        $ref: '#/definitions/PolicyName'
        description: The name of the policy being created. Policy names must consist of alphanumeric characters and dashes (-). This name must be unique within the set of policies for this load balancer.
      CookieExpirationPeriod:
        $ref: '#/definitions/CookieExpirationPeriod'
        description: 'The time period, in seconds, after which the cookie should be considered stale. If you do not specify this parameter, the default value is 0, which indicates that the sticky session should last for the duration of the browser session.'
    description: Contains the parameters for CreateLBCookieStickinessPolicy.
  CreateAccessPointOutput:
    type: object
    example:
      DNSName: internal-my-load-balancer-123456789.us-west-2.elb.amazonaws.com
    properties:
      DNSName:
        $ref: '#/definitions/DNSName'
        description: The DNS name of the load balancer.
    description: Contains the output for CreateLoadBalancer.
  CreateAccessPointInput:
    type: object
    required:
      - LoadBalancerName
      - Listeners
    example:
      Listeners:
        - InstancePort: 80
          InstanceProtocol: HTTP
          LoadBalancerPort: 80
          Protocol: HTTP
      LoadBalancerName: my-load-balancer
      Scheme: internal
      SecurityGroups:
        - sg-a61988c3
      Subnets:
        - subnet-15aaab61
    properties:
      LoadBalancerName:
        $ref: '#/definitions/AccessPointName'
        description: '<p>The name of the load balancer.</p> <p>This name must be unique within your set of load balancers for the region, must have a maximum of 32 characters, must contain only alphanumeric characters or hyphens, and cannot begin or end with a hyphen.</p>'
      Listeners:
        $ref: '#/definitions/Listeners'
        description: '<p>The listeners.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-listener-config.html">Listeners for Your Classic Load Balancer</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      AvailabilityZones:
        $ref: '#/definitions/AvailabilityZones'
        description: <p>One or more Availability Zones from the same region as the load balancer.</p> <p>You must specify at least one Availability Zone.</p> <p>You can add more Availability Zones after you create the load balancer using <a>EnableAvailabilityZonesForLoadBalancer</a>.</p>
      Subnets:
        $ref: '#/definitions/Subnets'
        description: The IDs of the subnets in your VPC to attach to the load balancer. Specify one subnet per Availability Zone specified in <code>AvailabilityZones</code>.
      SecurityGroups:
        $ref: '#/definitions/SecurityGroups'
        description: The IDs of the security groups to assign to the load balancer.
      Scheme:
        $ref: '#/definitions/LoadBalancerScheme'
        description: '<p>The type of a load balancer. Valid only for load balancers in a VPC.</p> <p>By default, Elastic Load Balancing creates an Internet-facing load balancer with a DNS name that resolves to public IP addresses. For more information about Internet-facing and Internal load balancers, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/userguide/how-elastic-load-balancing-works.html#load-balancer-scheme">Load Balancer Scheme</a> in the <i>Elastic Load Balancing User Guide</i>.</p> <p>Specify <code>internal</code> to create a load balancer with a DNS name that resolves to private IP addresses.</p>'
      Tags:
        $ref: '#/definitions/TagList'
        description: '<p>A list of tags to assign to the load balancer.</p> <p>For more information about tagging your load balancer, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/add-remove-tags.html">Tag Your Classic Load Balancer</a> in the <i>Classic Load Balancers Guide</i>.</p>'
    description: Contains the parameters for CreateLoadBalancer.
  DuplicateAccessPointNameException: {}
  TooManyAccessPointsException: {}
  CertificateNotFoundException: {}
  InvalidSchemeException: {}
  UnsupportedProtocolException: {}
  OperationNotPermittedException: {}
  CreateLoadBalancerListenerOutput:
    type: object
    properties: {}
    description: Contains the parameters for CreateLoadBalancerListener.
  CreateLoadBalancerListenerInput:
    type: object
    required:
      - LoadBalancerName
      - Listeners
    example:
      Listeners:
        - InstancePort: 80
          InstanceProtocol: HTTP
          LoadBalancerPort: 443
          Protocol: HTTPS
          SSLCertificateId: 'arn:aws:iam::123456789012:server-certificate/my-server-cert'
      LoadBalancerName: my-load-balancer
    properties:
      LoadBalancerName:
        $ref: '#/definitions/AccessPointName'
        description: The name of the load balancer.
      Listeners:
        $ref: '#/definitions/Listeners'
        description: The listeners.
    description: Contains the parameters for CreateLoadBalancerListeners.
  DuplicateListenerException: {}
  CreateLoadBalancerPolicyOutput:
    type: object
    properties: {}
    description: Contains the output of CreateLoadBalancerPolicy.
  CreateLoadBalancerPolicyInput:
    type: object
    required:
      - LoadBalancerName
      - PolicyName
      - PolicyTypeName
    example:
      LoadBalancerName: my-load-balancer
      PolicyAttributes:
        - AttributeName: PublicKeyPolicyName
          AttributeValue: my-PublicKey-policy
      PolicyName: my-authentication-policy
      PolicyTypeName: BackendServerAuthenticationPolicyType
    properties:
      LoadBalancerName:
        $ref: '#/definitions/AccessPointName'
        description: The name of the load balancer.
      PolicyName:
        $ref: '#/definitions/PolicyName'
        description: The name of the load balancer policy to be created. This name must be unique within the set of policies for this load balancer.
      PolicyTypeName:
        $ref: '#/definitions/PolicyTypeName'
        description: 'The name of the base policy type. To get the list of policy types, use <a>DescribeLoadBalancerPolicyTypes</a>.'
      PolicyAttributes:
        $ref: '#/definitions/PolicyAttributes'
        description: The policy attributes.
    description: Contains the parameters for CreateLoadBalancerPolicy.
  PolicyTypeNotFoundException: {}
  DeleteAccessPointOutput:
    type: object
    properties: {}
    description: Contains the output of DeleteLoadBalancer.
  DeleteAccessPointInput:
    type: object
    required:
      - LoadBalancerName
    example:
      LoadBalancerName: my-load-balancer
    properties:
      LoadBalancerName:
        $ref: '#/definitions/AccessPointName'
        description: The name of the load balancer.
    description: Contains the parameters for DeleteLoadBalancer.
  DeleteLoadBalancerListenerOutput:
    type: object
    properties: {}
    description: Contains the output of DeleteLoadBalancerListeners.
  DeleteLoadBalancerListenerInput:
    type: object
    required:
      - LoadBalancerName
      - LoadBalancerPorts
    example:
      LoadBalancerName: my-load-balancer
      LoadBalancerPorts:
        - 80
    properties:
      LoadBalancerName:
        $ref: '#/definitions/AccessPointName'
        description: The name of the load balancer.
      LoadBalancerPorts:
        $ref: '#/definitions/Ports'
        description: The client port numbers of the listeners.
    description: Contains the parameters for DeleteLoadBalancerListeners.
  DeleteLoadBalancerPolicyOutput:
    type: object
    properties: {}
    description: Contains the output of DeleteLoadBalancerPolicy.
  DeleteLoadBalancerPolicyInput:
    type: object
    required:
      - LoadBalancerName
      - PolicyName
    example:
      LoadBalancerName: my-load-balancer
      PolicyName: my-duration-cookie-policy
    properties:
      LoadBalancerName:
        $ref: '#/definitions/AccessPointName'
        description: The name of the load balancer.
      PolicyName:
        $ref: '#/definitions/PolicyName'
        description: The name of the policy.
    description: Contains the parameters for DeleteLoadBalancerPolicy.
  DeregisterEndPointsOutput:
    type: object
    example:
      Instances:
        - InstanceId: i-207d9717
        - InstanceId: i-afefb49b
    properties:
      Instances:
        $ref: '#/definitions/Instances'
        description: The remaining instances registered with the load balancer.
    description: Contains the output of DeregisterInstancesFromLoadBalancer.
  DeregisterEndPointsInput:
    type: object
    required:
      - LoadBalancerName
      - Instances
    example:
      Instances:
        - InstanceId: i-d6f6fae3
      LoadBalancerName: my-load-balancer
    properties:
      LoadBalancerName:
        $ref: '#/definitions/AccessPointName'
        description: The name of the load balancer.
      Instances:
        $ref: '#/definitions/Instances'
        description: The IDs of the instances.
    description: Contains the parameters for DeregisterInstancesFromLoadBalancer.
  InvalidEndPointException: {}
  DescribeAccountLimitsOutput:
    type: object
    properties:
      Limits:
        $ref: '#/definitions/Limits'
        description: Information about the limits.
      NextMarker:
        $ref: '#/definitions/Marker'
        description: 'The marker to use when requesting the next set of results. If there are no additional results, the string is empty.'
  DescribeAccountLimitsInput:
    type: object
    properties:
      Marker:
        $ref: '#/definitions/Marker'
        description: The marker for the next set of results. (You received this marker from a previous call.)
      PageSize:
        $ref: '#/definitions/PageSize'
        description: The maximum number of results to return with this call.
  DescribeEndPointStateOutput:
    type: object
    example:
      InstanceStates:
        - Description: N/A
          InstanceId: i-207d9717
          ReasonCode: N/A
          State: InService
        - Description: N/A
          InstanceId: i-afefb49b
          ReasonCode: N/A
          State: InService
    properties:
      InstanceStates:
        $ref: '#/definitions/InstanceStates'
        description: Information about the health of the instances.
    description: Contains the output for DescribeInstanceHealth.
  DescribeEndPointStateInput:
    type: object
    required:
      - LoadBalancerName
    example:
      LoadBalancerName: my-load-balancer
    properties:
      LoadBalancerName:
        $ref: '#/definitions/AccessPointName'
        description: The name of the load balancer.
      Instances:
        $ref: '#/definitions/Instances'
        description: The IDs of the instances.
    description: Contains the parameters for DescribeInstanceHealth.
  DescribeLoadBalancerAttributesOutput:
    type: object
    example:
      LoadBalancerAttributes:
        AccessLog:
          Enabled: false
        ConnectionDraining:
          Enabled: false
          Timeout: 300
        ConnectionSettings:
          IdleTimeout: 60
        CrossZoneLoadBalancing:
          Enabled: false
    properties:
      LoadBalancerAttributes:
        $ref: '#/definitions/LoadBalancerAttributes'
        description: Information about the load balancer attributes.
    description: Contains the output of DescribeLoadBalancerAttributes.
  DescribeLoadBalancerAttributesInput:
    type: object
    required:
      - LoadBalancerName
    example:
      LoadBalancerName: my-load-balancer
    properties:
      LoadBalancerName:
        $ref: '#/definitions/AccessPointName'
        description: The name of the load balancer.
    description: Contains the parameters for DescribeLoadBalancerAttributes.
  LoadBalancerAttributeNotFoundException: {}
  DescribeLoadBalancerPoliciesOutput:
    type: object
    example:
      PolicyDescriptions:
        - PolicyAttributeDescriptions:
            - AttributeName: PublicKeyPolicyName
              AttributeValue: my-PublicKey-policy
          PolicyName: my-authentication-policy
          PolicyTypeName: BackendServerAuthenticationPolicyType
    properties:
      PolicyDescriptions:
        $ref: '#/definitions/PolicyDescriptions'
        description: Information about the policies.
    description: Contains the output of DescribeLoadBalancerPolicies.
  DescribeLoadBalancerPoliciesInput:
    type: object
    example:
      LoadBalancerName: my-load-balancer
      PolicyNames:
        - my-authentication-policy
    properties:
      LoadBalancerName:
        $ref: '#/definitions/AccessPointName'
        description: The name of the load balancer.
      PolicyNames:
        $ref: '#/definitions/PolicyNames'
        description: The names of the policies.
    description: Contains the parameters for DescribeLoadBalancerPolicies.
  PolicyNotFoundException: {}
  DescribeLoadBalancerPolicyTypesOutput:
    type: object
    example:
      PolicyTypeDescriptions:
        - Description: Policy that controls whether to include the IP address and port of the originating request for TCP messages. This policy operates on TCP listeners only.
          PolicyAttributeTypeDescriptions:
            - AttributeName: ProxyProtocol
              AttributeType: Boolean
              Cardinality: ONE
          PolicyTypeName: ProxyProtocolPolicyType
    properties:
      PolicyTypeDescriptions:
        $ref: '#/definitions/PolicyTypeDescriptions'
        description: Information about the policy types.
    description: Contains the output of DescribeLoadBalancerPolicyTypes.
  DescribeLoadBalancerPolicyTypesInput:
    type: object
    example:
      PolicyTypeNames:
        - ProxyProtocolPolicyType
    properties:
      PolicyTypeNames:
        $ref: '#/definitions/PolicyTypeNames'
        description: 'The names of the policy types. If no names are specified, describes all policy types defined by Elastic Load Balancing.'
    description: Contains the parameters for DescribeLoadBalancerPolicyTypes.
  DescribeAccessPointsOutput:
    type: object
    example:
      LoadBalancerDescriptions:
        - AvailabilityZones:
            - us-west-2a
          BackendServerDescriptions:
            - InstancePort: 80
              PolicyNames:
                - my-ProxyProtocol-policy
          CanonicalHostedZoneName: my-load-balancer-1234567890.us-west-2.elb.amazonaws.com
          CanonicalHostedZoneNameID: Z3DZXE0EXAMPLE
          CreatedTime: '2015-03-19T03:24:02.650Z'
          DNSName: my-load-balancer-1234567890.us-west-2.elb.amazonaws.com
          HealthCheck:
            HealthyThreshold: 2
            Interval: 30
            Target: 'HTTP:80/png'
            Timeout: 3
            UnhealthyThreshold: 2
          Instances:
            - InstanceId: i-207d9717
            - InstanceId: i-afefb49b
          ListenerDescriptions:
            - Listener:
                InstancePort: 80
                InstanceProtocol: HTTP
                LoadBalancerPort: 80
                Protocol: HTTP
              PolicyNames: []
            - Listener:
                InstancePort: 443
                InstanceProtocol: HTTPS
                LoadBalancerPort: 443
                Protocol: HTTPS
                SSLCertificateId: 'arn:aws:iam::123456789012:server-certificate/my-server-cert'
              PolicyNames:
                - ELBSecurityPolicy-2015-03
          LoadBalancerName: my-load-balancer
          Policies:
            AppCookieStickinessPolicies: []
            LBCookieStickinessPolicies:
              - CookieExpirationPeriod: 60
                PolicyName: my-duration-cookie-policy
            OtherPolicies:
              - my-PublicKey-policy
              - my-authentication-policy
              - my-SSLNegotiation-policy
              - my-ProxyProtocol-policy
              - ELBSecurityPolicy-2015-03
          Scheme: internet-facing
          SecurityGroups:
            - sg-a61988c3
          SourceSecurityGroup:
            GroupName: my-elb-sg
            OwnerAlias: '123456789012'
          Subnets:
            - subnet-15aaab61
          VPCId: vpc-a01106c2
    properties:
      LoadBalancerDescriptions:
        $ref: '#/definitions/LoadBalancerDescriptions'
        description: Information about the load balancers.
      NextMarker:
        $ref: '#/definitions/Marker'
        description: 'The marker to use when requesting the next set of results. If there are no additional results, the string is empty.'
    description: Contains the parameters for DescribeLoadBalancers.
  DescribeAccessPointsInput:
    type: object
    example:
      LoadBalancerNames:
        - my-load-balancer
    properties:
      LoadBalancerNames:
        $ref: '#/definitions/LoadBalancerNames'
        description: The names of the load balancers.
      Marker:
        $ref: '#/definitions/Marker'
        description: The marker for the next set of results. (You received this marker from a previous call.)
      PageSize:
        $ref: '#/definitions/PageSize'
        description: The maximum number of results to return with this call (a number from 1 to 400). The default is 400.
    description: Contains the parameters for DescribeLoadBalancers.
  DependencyThrottleException: {}
  DescribeTagsOutput:
    type: object
    example:
      TagDescriptions:
        - LoadBalancerName: my-load-balancer
          Tags:
            - Key: project
              Value: lima
            - Key: department
              Value: digital-media
    properties:
      TagDescriptions:
        $ref: '#/definitions/TagDescriptions'
        description: Information about the tags.
    description: Contains the output for DescribeTags.
  DescribeTagsInput:
    type: object
    required:
      - LoadBalancerNames
    example:
      LoadBalancerNames:
        - my-load-balancer
    properties:
      LoadBalancerNames:
        $ref: '#/definitions/LoadBalancerNamesMax20'
        description: The names of the load balancers.
    description: Contains the parameters for DescribeTags.
  DetachLoadBalancerFromSubnetsOutput:
    type: object
    example:
      Subnets:
        - subnet-15aaab61
    properties:
      Subnets:
        $ref: '#/definitions/Subnets'
        description: The IDs of the remaining subnets for the load balancer.
    description: Contains the output of DetachLoadBalancerFromSubnets.
  DetachLoadBalancerFromSubnetsInput:
    type: object
    required:
      - LoadBalancerName
      - Subnets
    example:
      LoadBalancerName: my-load-balancer
      Subnets:
        - subnet-0ecac448
    properties:
      LoadBalancerName:
        $ref: '#/definitions/AccessPointName'
        description: The name of the load balancer.
      Subnets:
        $ref: '#/definitions/Subnets'
        description: The IDs of the subnets.
    description: Contains the parameters for DetachLoadBalancerFromSubnets.
  RemoveAvailabilityZonesOutput:
    type: object
    example:
      AvailabilityZones:
        - us-west-2b
    properties:
      AvailabilityZones:
        $ref: '#/definitions/AvailabilityZones'
        description: The remaining Availability Zones for the load balancer.
    description: Contains the output for DisableAvailabilityZonesForLoadBalancer.
  RemoveAvailabilityZonesInput:
    type: object
    required:
      - LoadBalancerName
      - AvailabilityZones
    example:
      AvailabilityZones:
        - us-west-2a
      LoadBalancerName: my-load-balancer
    properties:
      LoadBalancerName:
        $ref: '#/definitions/AccessPointName'
        description: The name of the load balancer.
      AvailabilityZones:
        $ref: '#/definitions/AvailabilityZones'
        description: The Availability Zones.
    description: Contains the parameters for DisableAvailabilityZonesForLoadBalancer.
  AddAvailabilityZonesOutput:
    type: object
    example:
      AvailabilityZones:
        - us-west-2a
        - us-west-2b
    properties:
      AvailabilityZones:
        $ref: '#/definitions/AvailabilityZones'
        description: The updated list of Availability Zones for the load balancer.
    description: Contains the output of EnableAvailabilityZonesForLoadBalancer.
  AddAvailabilityZonesInput:
    type: object
    required:
      - LoadBalancerName
      - AvailabilityZones
    example:
      AvailabilityZones:
        - us-west-2b
      LoadBalancerName: my-load-balancer
    properties:
      LoadBalancerName:
        $ref: '#/definitions/AccessPointName'
        description: The name of the load balancer.
      AvailabilityZones:
        $ref: '#/definitions/AvailabilityZones'
        description: The Availability Zones. These must be in the same region as the load balancer.
    description: Contains the parameters for EnableAvailabilityZonesForLoadBalancer.
  ModifyLoadBalancerAttributesOutput:
    type: object
    example:
      LoadBalancerAttributes:
        ConnectionDraining:
          Enabled: true
          Timeout: 300
      LoadBalancerName: my-load-balancer
    properties:
      LoadBalancerName:
        $ref: '#/definitions/AccessPointName'
        description: The name of the load balancer.
      LoadBalancerAttributes:
        $ref: '#/definitions/LoadBalancerAttributes'
        description: Information about the load balancer attributes.
    description: Contains the output of ModifyLoadBalancerAttributes.
  ModifyLoadBalancerAttributesInput:
    type: object
    required:
      - LoadBalancerName
      - LoadBalancerAttributes
    example:
      LoadBalancerAttributes:
        ConnectionDraining:
          Enabled: true
          Timeout: 300
      LoadBalancerName: my-load-balancer
    properties:
      LoadBalancerName:
        $ref: '#/definitions/AccessPointName'
        description: The name of the load balancer.
      LoadBalancerAttributes:
        $ref: '#/definitions/LoadBalancerAttributes'
        description: The attributes for the load balancer.
    description: Contains the parameters for ModifyLoadBalancerAttributes.
  RegisterEndPointsOutput:
    type: object
    example:
      Instances:
        - InstanceId: i-d6f6fae3
        - InstanceId: i-207d9717
        - InstanceId: i-afefb49b
    properties:
      Instances:
        $ref: '#/definitions/Instances'
        description: The updated list of instances for the load balancer.
    description: Contains the output of RegisterInstancesWithLoadBalancer.
  RegisterEndPointsInput:
    type: object
    required:
      - LoadBalancerName
      - Instances
    example:
      Instances:
        - InstanceId: i-d6f6fae3
      LoadBalancerName: my-load-balancer
    properties:
      LoadBalancerName:
        $ref: '#/definitions/AccessPointName'
        description: The name of the load balancer.
      Instances:
        $ref: '#/definitions/Instances'
        description: The IDs of the instances.
    description: Contains the parameters for RegisterInstancesWithLoadBalancer.
  RemoveTagsOutput:
    type: object
    properties: {}
    description: Contains the output of RemoveTags.
  RemoveTagsInput:
    type: object
    required:
      - LoadBalancerNames
      - Tags
    example:
      LoadBalancerNames:
        - my-load-balancer
      Tags:
        - Key: project
    properties:
      LoadBalancerNames:
        $ref: '#/definitions/LoadBalancerNames'
        description: The name of the load balancer. You can specify a maximum of one load balancer name.
      Tags:
        $ref: '#/definitions/TagKeyList'
        description: The list of tag keys to remove.
    description: Contains the parameters for RemoveTags.
  SetLoadBalancerListenerSSLCertificateOutput:
    type: object
    properties: {}
    description: Contains the output of SetLoadBalancerListenerSSLCertificate.
  SetLoadBalancerListenerSSLCertificateInput:
    type: object
    required:
      - LoadBalancerName
      - LoadBalancerPort
      - SSLCertificateId
    example:
      LoadBalancerName: my-load-balancer
      LoadBalancerPort: 443
      SSLCertificateId: 'arn:aws:iam::123456789012:server-certificate/new-server-cert'
    properties:
      LoadBalancerName:
        $ref: '#/definitions/AccessPointName'
        description: The name of the load balancer.
      LoadBalancerPort:
        $ref: '#/definitions/AccessPointPort'
        description: The port that uses the specified SSL certificate.
      SSLCertificateId:
        $ref: '#/definitions/SSLCertificateId'
        description: The Amazon Resource Name (ARN) of the SSL certificate.
    description: Contains the parameters for SetLoadBalancerListenerSSLCertificate.
  ListenerNotFoundException: {}
  SetLoadBalancerPoliciesForBackendServerOutput:
    type: object
    properties: {}
    description: Contains the output of SetLoadBalancerPoliciesForBackendServer.
  SetLoadBalancerPoliciesForBackendServerInput:
    type: object
    required:
      - LoadBalancerName
      - InstancePort
      - PolicyNames
    example:
      InstancePort: 80
      LoadBalancerName: my-load-balancer
      PolicyNames:
        - my-ProxyProtocol-policy
    properties:
      LoadBalancerName:
        $ref: '#/definitions/AccessPointName'
        description: The name of the load balancer.
      InstancePort:
        $ref: '#/definitions/EndPointPort'
        description: The port number associated with the EC2 instance.
      PolicyNames:
        $ref: '#/definitions/PolicyNames'
        description: 'The names of the policies. If the list is empty, then all current polices are removed from the EC2 instance.'
    description: Contains the parameters for SetLoadBalancerPoliciesForBackendServer.
  SetLoadBalancerPoliciesOfListenerOutput:
    type: object
    properties: {}
    description: Contains the output of SetLoadBalancePoliciesOfListener.
  SetLoadBalancerPoliciesOfListenerInput:
    type: object
    required:
      - LoadBalancerName
      - LoadBalancerPort
      - PolicyNames
    example:
      LoadBalancerName: my-load-balancer
      LoadBalancerPort: 80
      PolicyNames:
        - my-SSLNegotiation-policy
    properties:
      LoadBalancerName:
        $ref: '#/definitions/AccessPointName'
        description: The name of the load balancer.
      LoadBalancerPort:
        $ref: '#/definitions/AccessPointPort'
        description: The external port of the load balancer.
      PolicyNames:
        $ref: '#/definitions/PolicyNames'
        description: 'The names of the policies. This list must include all policies to be enabled. If you omit a policy that is currently enabled, it is disabled. If the list is empty, all current policies are disabled.'
    description: Contains the parameters for SetLoadBalancePoliciesOfListener.
  AccessLogEnabled:
    type: boolean
  S3BucketName:
    type: string
  AccessLogInterval:
    type: integer
  AccessLogPrefix:
    type: string
  AccessLog:
    type: object
    required:
      - Enabled
    properties:
      Enabled:
        $ref: '#/definitions/AccessLogEnabled'
        description: Specifies whether access logs are enabled for the load balancer.
      S3BucketName:
        $ref: '#/definitions/S3BucketName'
        description: The name of the Amazon S3 bucket where the access logs are stored.
      EmitInterval:
        $ref: '#/definitions/AccessLogInterval'
        description: '<p>The interval for publishing the access logs. You can specify an interval of either 5 minutes or 60 minutes.</p> <p>Default: 60 minutes</p>'
      S3BucketPrefix:
        $ref: '#/definitions/AccessLogPrefix'
        description: 'The logical hierarchy you created for your Amazon S3 bucket, for example <code>my-bucket-prefix/prod</code>. If the prefix is not provided, the log is placed at the root level of the bucket.'
    description: Information about the <code>AccessLog</code> attribute.
  AccessPointName:
    type: string
  AccessPointPort:
    type: integer
  AvailabilityZones:
    type: array
    items:
      $ref: '#/definitions/AvailabilityZone'
  LoadBalancerNames:
    type: array
    items:
      $ref: '#/definitions/AccessPointName'
  TagList:
    type: array
    items:
      $ref: '#/definitions/Tag'
    minItems: 1
  AdditionalAttributeKey:
    type: string
    pattern: '^[a-zA-Z0-9.]+$'
    maxLength: 256
  AdditionalAttributeValue:
    type: string
    pattern: '^[a-zA-Z0-9.]+$'
    maxLength: 256
  AdditionalAttribute:
    type: object
    properties:
      Key:
        $ref: '#/definitions/AdditionalAttributeKey'
        description: This parameter is reserved.
      Value:
        $ref: '#/definitions/AdditionalAttributeValue'
        description: This parameter is reserved.
    description: This data type is reserved.
  AdditionalAttributes:
    type: array
    items:
      $ref: '#/definitions/AdditionalAttribute'
    maxItems: 10
  AppCookieStickinessPolicy:
    type: object
    properties:
      PolicyName:
        $ref: '#/definitions/PolicyName'
        description: The mnemonic name for the policy being created. The name must be unique within a set of policies for this load balancer.
      CookieName:
        $ref: '#/definitions/CookieName'
        description: The name of the application cookie used for stickiness.
    description: Information about a policy for application-controlled session stickiness.
  AppCookieStickinessPolicies:
    type: array
    items:
      $ref: '#/definitions/AppCookieStickinessPolicy'
  PolicyName:
    type: string
  CookieName:
    type: string
  SecurityGroups:
    type: array
    items:
      $ref: '#/definitions/SecurityGroupId'
  Subnets:
    type: array
    items:
      $ref: '#/definitions/SubnetId'
  AttributeName:
    type: string
  AttributeType:
    type: string
  AttributeValue:
    type: string
  AvailabilityZone:
    type: string
  InstancePort:
    type: integer
    minimum: 1
    maximum: 65535
  PolicyNames:
    type: array
    items:
      $ref: '#/definitions/PolicyName'
  BackendServerDescription:
    type: object
    properties:
      InstancePort:
        $ref: '#/definitions/InstancePort'
        description: The port on which the EC2 instance is listening.
      PolicyNames:
        $ref: '#/definitions/PolicyNames'
        description: The names of the policies enabled for the EC2 instance.
    description: Information about the configuration of an EC2 instance.
  BackendServerDescriptions:
    type: array
    items:
      $ref: '#/definitions/BackendServerDescription'
  Cardinality:
    type: string
  HealthCheck:
    type: object
    required:
      - Target
      - Interval
      - Timeout
      - UnhealthyThreshold
      - HealthyThreshold
    properties:
      Target:
        $ref: '#/definitions/HealthCheckTarget'
        description: '<p>The instance being checked. The protocol is either TCP, HTTP, HTTPS, or SSL. The range of valid ports is one (1) through 65535.</p> <p>TCP is the default, specified as a TCP: port pair, for example "TCP:5000". In this case, a health check simply attempts to open a TCP connection to the instance on the specified port. Failure to connect within the configured timeout is considered unhealthy.</p> <p>SSL is also specified as SSL: port pair, for example, SSL:5000.</p> <p>For HTTP/HTTPS, you must include a ping path in the string. HTTP is specified as a HTTP:port;/;PathToPing; grouping, for example "HTTP:80/weather/us/wa/seattle". In this case, a HTTP GET request is issued to the instance on the given port and path. Any answer other than "200 OK" within the timeout period is considered unhealthy.</p> <p>The total length of the HTTP ping target must be 1024 16-bit Unicode characters or less.</p>'
      Interval:
        $ref: '#/definitions/HealthCheckInterval'
        description: 'The approximate interval, in seconds, between health checks of an individual instance.'
      Timeout:
        $ref: '#/definitions/HealthCheckTimeout'
        description: '<p>The amount of time, in seconds, during which no response means a failed health check.</p> <p>This value must be less than the <code>Interval</code> value.</p>'
      UnhealthyThreshold:
        $ref: '#/definitions/UnhealthyThreshold'
        description: The number of consecutive health check failures required before moving the instance to the <code>Unhealthy</code> state.
      HealthyThreshold:
        $ref: '#/definitions/HealthyThreshold'
        description: The number of consecutive health checks successes required before moving the instance to the <code>Healthy</code> state.
    description: Information about a health check.
  ConnectionDrainingEnabled:
    type: boolean
  ConnectionDrainingTimeout:
    type: integer
  ConnectionDraining:
    type: object
    required:
      - Enabled
    properties:
      Enabled:
        $ref: '#/definitions/ConnectionDrainingEnabled'
        description: Specifies whether connection draining is enabled for the load balancer.
      Timeout:
        $ref: '#/definitions/ConnectionDrainingTimeout'
        description: 'The maximum time, in seconds, to keep the existing connections open before deregistering the instances.'
    description: Information about the <code>ConnectionDraining</code> attribute.
  IdleTimeout:
    type: integer
    minimum: 1
    maximum: 3600
  ConnectionSettings:
    type: object
    required:
      - IdleTimeout
    properties:
      IdleTimeout:
        $ref: '#/definitions/IdleTimeout'
        description: 'The time, in seconds, that the connection is allowed to be idle (no data has been sent over the connection) before it is closed by the load balancer.'
    description: Information about the <code>ConnectionSettings</code> attribute.
  CookieExpirationPeriod:
    type: integer
  Listeners:
    type: array
    items:
      $ref: '#/definitions/Listener'
  LoadBalancerScheme:
    type: string
  DNSName:
    type: string
  PolicyTypeName:
    type: string
  PolicyAttributes:
    type: array
    items:
      $ref: '#/definitions/PolicyAttribute'
  CreatedTime:
    type: string
    format: date-time
  CrossZoneLoadBalancingEnabled:
    type: boolean
  CrossZoneLoadBalancing:
    type: object
    required:
      - Enabled
    properties:
      Enabled:
        $ref: '#/definitions/CrossZoneLoadBalancingEnabled'
        description: Specifies whether cross-zone load balancing is enabled for the load balancer.
    description: Information about the <code>CrossZoneLoadBalancing</code> attribute.
  DefaultValue:
    type: string
  Ports:
    type: array
    items:
      $ref: '#/definitions/AccessPointPort'
  Instances:
    type: array
    items:
      $ref: '#/definitions/Instance'
  Marker:
    type: string
  PageSize:
    type: integer
    minimum: 1
    maximum: 400
  LoadBalancerDescriptions:
    type: array
    items:
      $ref: '#/definitions/LoadBalancerDescription'
  Limits:
    type: array
    items:
      $ref: '#/definitions/Limit'
  InstanceStates:
    type: array
    items:
      $ref: '#/definitions/InstanceState'
  LoadBalancerAttributes:
    type: object
    properties:
      CrossZoneLoadBalancing:
        $ref: '#/definitions/CrossZoneLoadBalancing'
        description: '<p>If enabled, the load balancer routes the request traffic evenly across all instances regardless of the Availability Zones.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/enable-disable-crosszone-lb.html">Configure Cross-Zone Load Balancing</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      AccessLog:
        $ref: '#/definitions/AccessLog'
        description: '<p>If enabled, the load balancer captures detailed information of all requests and delivers the information to the Amazon S3 bucket that you specify.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/enable-access-logs.html">Enable Access Logs</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      ConnectionDraining:
        $ref: '#/definitions/ConnectionDraining'
        description: '<p>If enabled, the load balancer allows existing requests to complete before the load balancer shifts traffic away from a deregistered or unhealthy instance.</p> <p>For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/config-conn-drain.html">Configure Connection Draining</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      ConnectionSettings:
        $ref: '#/definitions/ConnectionSettings'
        description: '<p>If enabled, the load balancer allows the connections to remain idle (no data is sent over the connection) for the specified duration.</p> <p>By default, Elastic Load Balancing maintains a 60-second idle connection timeout for both front-end and back-end connections of your load balancer. For more information, see <a href="http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/config-idle-timeout.html">Configure Idle Connection Timeout</a> in the <i>Classic Load Balancers Guide</i>.</p>'
      AdditionalAttributes:
        $ref: '#/definitions/AdditionalAttributes'
        description: This parameter is reserved.
    description: The attributes for a load balancer.
  PolicyDescriptions:
    type: array
    items:
      $ref: '#/definitions/PolicyDescription'
  PolicyTypeNames:
    type: array
    items:
      $ref: '#/definitions/PolicyTypeName'
  PolicyTypeDescriptions:
    type: array
    items:
      $ref: '#/definitions/PolicyTypeDescription'
  LoadBalancerNamesMax20:
    type: array
    items:
      $ref: '#/definitions/AccessPointName'
    minItems: 1
    maxItems: 20
  TagDescriptions:
    type: array
    items:
      $ref: '#/definitions/TagDescription'
  Description:
    type: string
  EndPointPort:
    type: integer
  HealthCheckTarget:
    type: string
  HealthCheckInterval:
    type: integer
    minimum: 5
    maximum: 300
  HealthCheckTimeout:
    type: integer
    minimum: 2
    maximum: 60
  UnhealthyThreshold:
    type: integer
    minimum: 2
    maximum: 10
  HealthyThreshold:
    type: integer
    minimum: 2
    maximum: 10
  InstanceId:
    type: string
  Instance:
    type: object
    properties:
      InstanceId:
        $ref: '#/definitions/InstanceId'
        description: The instance ID.
    description: The ID of an EC2 instance.
  State:
    type: string
  ReasonCode:
    type: string
  InstanceState:
    type: object
    properties:
      InstanceId:
        $ref: '#/definitions/InstanceId'
        description: The ID of the instance.
      State:
        $ref: '#/definitions/State'
        description: '<p>The current state of the instance.</p> <p>Valid values: <code>InService</code> | <code>OutOfService</code> | <code>Unknown</code> </p>'
      ReasonCode:
        $ref: '#/definitions/ReasonCode'
        description: '<p>Information about the cause of <code>OutOfService</code> instances. Specifically, whether the cause is Elastic Load Balancing or the instance.</p> <p>Valid values: <code>ELB</code> | <code>Instance</code> | <code>N/A</code> </p>'
      Description:
        $ref: '#/definitions/Description'
[...]
