openapi: 3.0.0
servers:
  - url: https://www.googleapis.com/adsense/v1.4
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Accesses AdSense publishers' inventory and generates performance reports.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: AdSense Management API
  version: v1.4
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png
  x-origin:
    - format: google
      url: https://adsense.googleapis.com/$discovery/rest?version=v1.4
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: adsense
externalDocs:
  url: https://developers.google.com/adsense/management/
tags:
  - name: accounts
  - name: adclients
  - name: adunits
  - name: alerts
  - name: customchannels
  - name: metadata
  - name: payments
  - name: reports
  - name: savedadstyles
  - name: urlchannels
paths:
  /accounts:
    get:
      description: List all accounts available to this AdSense account.
      operationId: adsense.accounts.list
      parameters:
        - description: The maximum number of accounts to include in the response, used for paging.
          in: query
          name: maxResults
          schema:
            maximum: 10000
            minimum: 0
            type: integer
        - description: A continuation token, used to page through accounts. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Accounts"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/accounts/{accountId}":
    get:
      description: Get information about the selected AdSense account.
      operationId: adsense.accounts.get
      parameters:
        - description: Account to get information about.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Whether the tree of sub accounts should be returned.
          in: query
          name: tree
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/accounts/{accountId}/adclients":
    get:
      description: List all ad clients in the specified account.
      operationId: adsense.accounts.adclients.list
      parameters:
        - description: Account for which to list ad clients.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The maximum number of ad clients to include in the response, used for paging.
          in: query
          name: maxResults
          schema:
            maximum: 10000
            minimum: 0
            type: integer
        - description: A continuation token, used to page through ad clients. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdClients"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/accounts/{accountId}/adclients/{adClientId}/adcode":
    get:
      description: Get Auto ad code for a given ad client.
      operationId: adsense.accounts.adclients.getAdCode
      parameters:
        - description: Account which contains the ad client.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Ad client to get the code for.
          in: path
          name: adClientId
          required: true
          schema:
            type: string
        - description: Tag partner to include in the ad code snippet.
          in: query
          name: tagPartner
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdCode"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/accounts/{accountId}/adclients/{adClientId}/adunits":
    get:
      description: List all ad units in the specified ad client for the specified account.
      operationId: adsense.accounts.adunits.list
      parameters:
        - description: Account to which the ad client belongs.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Ad client for which to list ad units.
          in: path
          name: adClientId
          required: true
          schema:
            type: string
        - description: "Whether to include inactive ad units. Default: true."
          in: query
          name: includeInactive
          schema:
            type: boolean
        - description: The maximum number of ad units to include in the response, used for paging.
          in: query
          name: maxResults
          schema:
            maximum: 10000
            minimum: 0
            type: integer
        - description: A continuation token, used to page through ad units. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdUnits"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/accounts/{accountId}/adclients/{adClientId}/adunits/{adUnitId}":
    get:
      description: Gets the specified ad unit in the specified ad client for the specified account.
      operationId: adsense.accounts.adunits.get
      parameters:
        - description: Account to which the ad client belongs.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Ad client for which to get the ad unit.
          in: path
          name: adClientId
          required: true
          schema:
            type: string
        - description: Ad unit to retrieve.
          in: path
          name: adUnitId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdUnit"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/accounts/{accountId}/adclients/{adClientId}/adunits/{adUnitId}/adcode":
    get:
      description: Get ad code for the specified ad unit.
      operationId: adsense.accounts.adunits.getAdCode
      parameters:
        - description: Account which contains the ad client.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Ad client with contains the ad unit.
          in: path
          name: adClientId
          required: true
          schema:
            type: string
        - description: Ad unit to get the code for.
          in: path
          name: adUnitId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdCode"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/accounts/{accountId}/adclients/{adClientId}/adunits/{adUnitId}/customchannels":
    get:
      description: List all custom channels which the specified ad unit belongs to.
      operationId: adsense.accounts.adunits.customchannels.list
      parameters:
        - description: Account to which the ad client belongs.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Ad client which contains the ad unit.
          in: path
          name: adClientId
          required: true
          schema:
            type: string
        - description: Ad unit for which to list custom channels.
          in: path
          name: adUnitId
          required: true
          schema:
            type: string
        - description: The maximum number of custom channels to include in the response, used for paging.
          in: query
          name: maxResults
          schema:
            maximum: 10000
            minimum: 0
            type: integer
        - description: A continuation token, used to page through custom channels. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomChannels"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/accounts/{accountId}/adclients/{adClientId}/customchannels":
    get:
      description: List all custom channels in the specified ad client for the specified account.
      operationId: adsense.accounts.customchannels.list
      parameters:
        - description: Account to which the ad client belongs.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Ad client for which to list custom channels.
          in: path
          name: adClientId
          required: true
          schema:
            type: string
        - description: The maximum number of custom channels to include in the response, used for paging.
          in: query
          name: maxResults
          schema:
            maximum: 10000
            minimum: 0
            type: integer
        - description: A continuation token, used to page through custom channels. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomChannels"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/accounts/{accountId}/adclients/{adClientId}/customchannels/{customChannelId}":
    get:
      description: Get the specified custom channel from the specified ad client for the specified account.
      operationId: adsense.accounts.customchannels.get
      parameters:
        - description: Account to which the ad client belongs.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Ad client which contains the custom channel.
          in: path
          name: adClientId
          required: true
          schema:
            type: string
        - description: Custom channel to retrieve.
          in: path
          name: customChannelId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomChannel"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/accounts/{accountId}/adclients/{adClientId}/customchannels/{customChannelId}/adunits":
    get:
      description: List all ad units in the specified custom channel.
      operationId: adsense.accounts.customchannels.adunits.list
      parameters:
        - description: Account to which the ad client belongs.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Ad client which contains the custom channel.
          in: path
          name: adClientId
          required: true
          schema:
            type: string
        - description: Custom channel for which to list ad units.
          in: path
          name: customChannelId
          required: true
          schema:
            type: string
        - description: "Whether to include inactive ad units. Default: true."
          in: query
          name: includeInactive
          schema:
            type: boolean
        - description: The maximum number of ad units to include in the response, used for paging.
          in: query
          name: maxResults
          schema:
            maximum: 10000
            minimum: 0
            type: integer
        - description: A continuation token, used to page through ad units. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdUnits"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/accounts/{accountId}/adclients/{adClientId}/urlchannels":
    get:
      description: List all URL channels in the specified ad client for the specified account.
      operationId: adsense.accounts.urlchannels.list
      parameters:
        - description: Account to which the ad client belongs.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Ad client for which to list URL channels.
          in: path
          name: adClientId
          required: true
          schema:
            type: string
        - description: The maximum number of URL channels to include in the response, used for paging.
          in: query
          name: maxResults
          schema:
            maximum: 10000
            minimum: 0
            type: integer
        - description: A continuation token, used to page through URL channels. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UrlChannels"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/accounts/{accountId}/alerts":
    get:
      description: List the alerts for the specified AdSense account.
      operationId: adsense.accounts.alerts.list
      parameters:
        - description: Account for which to retrieve the alerts.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The locale to use for translating alert messages. The account locale will be used if this is not supplied. The AdSense default (English) will be used if the supplied locale is invalid or unsupported.
          in: query
          name: locale
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Alerts"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/accounts/{accountId}/alerts/{alertId}":
    delete:
      description: Dismiss (delete) the specified alert from the specified publisher AdSense account.
      operationId: adsense.accounts.alerts.delete
      parameters:
        - description: Account which contains the ad unit.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Alert to delete.
          in: path
          name: alertId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/accounts/{accountId}/payments":
    get:
      description: List the payments for the specified AdSense account.
      operationId: adsense.accounts.payments.list
      parameters:
        - description: Account for which to retrieve the payments.
          in: path
          name: accountId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payments"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/accounts/{accountId}/reports":
    get:
      description: Generate an AdSense report based on the report request sent in the query parameters. Returns the result as JSON; to retrieve output in CSV format specify "alt=csv" as a query parameter.
      operationId: adsense.accounts.reports.generate
      parameters:
        - description: Account upon which to report.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Start of the date range to report on in "YYYY-MM-DD" format, inclusive.
          in: query
          name: startDate
          required: true
          schema:
            type: string
        - description: End of the date range to report on in "YYYY-MM-DD" format, inclusive.
          in: query
          name: endDate
          required: true
          schema:
            type: string
        - description: Optional currency to use when reporting on monetary metrics. Defaults to the account's currency if not set.
          in: query
          name: currency
          schema:
            type: string
        - description: Dimensions to base the report on.
          explode: true
          in: query
          name: dimension
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Filters to be run on the report.
          explode: true
          in: query
          name: filter
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Optional locale to use for translating report output to a local language. Defaults to "en_US" if not specified.
          in: query
          name: locale
          schema:
            type: string
        - description: The maximum number of rows of report data to return.
          in: query
          name: maxResults
          schema:
            maximum: 50000
            minimum: 0
            type: integer
        - description: Numeric columns to include in the report.
          explode: true
          in: query
          name: metric
          schema:
            items:
              type: string
            type: array
          style: form
        - description: The name of a dimension or metric to sort the resulting report on, optionally prefixed with "+" to sort ascending or "-" to sort descending. If no prefix is specified, the column is sorted ascending.
          explode: true
          in: query
          name: sort
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Index of the first row of report data to return.
          in: query
          name: startIndex
          schema:
            maximum: 5000
            minimum: 0
            type: integer
        - description: Whether the report should be generated in the AdSense account's local timezone. If false default PST/PDT timezone will be used.
          in: query
          name: useTimezoneReporting
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdsenseReportsGenerateResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/accounts/{accountId}/reports/saved":
    get:
      description: List all saved reports in the specified AdSense account.
      operationId: adsense.accounts.reports.saved.list
      parameters:
        - description: Account to which the saved reports belong.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The maximum number of saved reports to include in the response, used for paging.
          in: query
          name: maxResults
          schema:
            maximum: 100
            minimum: 0
            type: integer
        - description: A continuation token, used to page through saved reports. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SavedReports"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/accounts/{accountId}/reports/{savedReportId}":
    get:
      description: Generate an AdSense report based on the saved report ID sent in the query parameters.
      operationId: adsense.accounts.reports.saved.generate
      parameters:
        - description: Account to which the saved reports belong.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The saved report to retrieve.
          in: path
          name: savedReportId
          required: true
          schema:
            type: string
        - description: Optional locale to use for translating report output to a local language. Defaults to "en_US" if not specified.
          in: query
          name: locale
          schema:
            type: string
        - description: The maximum number of rows of report data to return.
          in: query
          name: maxResults
          schema:
            maximum: 50000
            minimum: 0
            type: integer
        - description: Index of the first row of report data to return.
          in: query
          name: startIndex
          schema:
            maximum: 5000
            minimum: 0
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdsenseReportsGenerateResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/accounts/{accountId}/savedadstyles":
    get:
      description: List all saved ad styles in the specified account.
      operationId: adsense.accounts.savedadstyles.list
      parameters:
        - description: Account for which to list saved ad styles.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The maximum number of saved ad styles to include in the response, used for paging.
          in: query
          name: maxResults
          schema:
            maximum: 10000
            minimum: 0
            type: integer
        - description: A continuation token, used to page through saved ad styles. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SavedAdStyles"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/accounts/{accountId}/savedadstyles/{savedAdStyleId}":
    get:
      description: List a specific saved ad style for the specified account.
      operationId: adsense.accounts.savedadstyles.get
      parameters:
        - description: Account for which to get the saved ad style.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Saved ad style to retrieve.
          in: path
          name: savedAdStyleId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SavedAdStyle"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  /adclients:
    get:
      description: List all ad clients in this AdSense account.
      operationId: adsense.adclients.list
      parameters:
        - description: The maximum number of ad clients to include in the response, used for paging.
          in: query
          name: maxResults
          schema:
            maximum: 10000
            minimum: 0
            type: integer
        - description: A continuation token, used to page through ad clients. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdClients"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      tags:
        - adclients
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/adclients/{adClientId}/adunits":
    get:
      description: List all ad units in the specified ad client for this AdSense account.
      operationId: adsense.adunits.list
      parameters:
        - description: Ad client for which to list ad units.
          in: path
          name: adClientId
          required: true
          schema:
            type: string
        - description: "Whether to include inactive ad units. Default: true."
          in: query
          name: includeInactive
          schema:
            type: boolean
        - description: The maximum number of ad units to include in the response, used for paging.
          in: query
          name: maxResults
          schema:
            maximum: 10000
            minimum: 0
            type: integer
        - description: A continuation token, used to page through ad units. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdUnits"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      tags:
        - adunits
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/adclients/{adClientId}/adunits/{adUnitId}":
    get:
      description: Gets the specified ad unit in the specified ad client.
      operationId: adsense.adunits.get
      parameters:
        - description: Ad client for which to get the ad unit.
          in: path
          name: adClientId
          required: true
          schema:
            type: string
        - description: Ad unit to retrieve.
          in: path
          name: adUnitId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdUnit"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      tags:
        - adunits
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/adclients/{adClientId}/adunits/{adUnitId}/adcode":
    get:
      description: Get ad code for the specified ad unit.
      operationId: adsense.adunits.getAdCode
      parameters:
        - description: Ad client with contains the ad unit.
          in: path
          name: adClientId
          required: true
          schema:
            type: string
        - description: Ad unit to get the code for.
          in: path
          name: adUnitId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdCode"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      tags:
        - adunits
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/adclients/{adClientId}/adunits/{adUnitId}/customchannels":
    get:
      description: List all custom channels which the specified ad unit belongs to.
      operationId: adsense.adunits.customchannels.list
      parameters:
        - description: Ad client which contains the ad unit.
          in: path
          name: adClientId
          required: true
          schema:
            type: string
        - description: Ad unit for which to list custom channels.
          in: path
          name: adUnitId
          required: true
          schema:
            type: string
        - description: The maximum number of custom channels to include in the response, used for paging.
          in: query
          name: maxResults
          schema:
            maximum: 10000
            minimum: 0
            type: integer
        - description: A continuation token, used to page through custom channels. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomChannels"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      tags:
        - adunits
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/adclients/{adClientId}/customchannels":
    get:
      description: List all custom channels in the specified ad client for this AdSense account.
      operationId: adsense.customchannels.list
      parameters:
        - description: Ad client for which to list custom channels.
          in: path
          name: adClientId
          required: true
          schema:
            type: string
        - description: The maximum number of custom channels to include in the response, used for paging.
          in: query
          name: maxResults
          schema:
            maximum: 10000
            minimum: 0
            type: integer
        - description: A continuation token, used to page through custom channels. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomChannels"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      tags:
        - customchannels
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/adclients/{adClientId}/customchannels/{customChannelId}":
    get:
      description: Get the specified custom channel from the specified ad client.
      operationId: adsense.customchannels.get
      parameters:
        - description: Ad client which contains the custom channel.
          in: path
          name: adClientId
          required: true
          schema:
            type: string
        - description: Custom channel to retrieve.
          in: path
          name: customChannelId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomChannel"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      tags:
        - customchannels
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/adclients/{adClientId}/customchannels/{customChannelId}/adunits":
    get:
      description: List all ad units in the specified custom channel.
      operationId: adsense.customchannels.adunits.list
      parameters:
        - description: Ad client which contains the custom channel.
          in: path
          name: adClientId
          required: true
          schema:
            type: string
        - description: Custom channel for which to list ad units.
          in: path
          name: customChannelId
          required: true
          schema:
            type: string
        - description: "Whether to include inactive ad units. Default: true."
          in: query
          name: includeInactive
          schema:
            type: boolean
        - description: The maximum number of ad units to include in the response, used for paging.
          in: query
          name: maxResults
          schema:
            maximum: 10000
            minimum: 0
            type: integer
        - description: A continuation token, used to page through ad units. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdUnits"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      tags:
        - customchannels
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/adclients/{adClientId}/urlchannels":
    get:
      description: List all URL channels in the specified ad client for this AdSense account.
      operationId: adsense.urlchannels.list
      parameters:
        - description: Ad client for which to list URL channels.
          in: path
          name: adClientId
          required: true
          schema:
            type: string
        - description: The maximum number of URL channels to include in the response, used for paging.
          in: query
          name: maxResults
          schema:
            maximum: 10000
            minimum: 0
            type: integer
        - description: A continuation token, used to page through URL channels. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UrlChannels"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      tags:
        - urlchannels
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  /alerts:
    get:
      description: List the alerts for this AdSense account.
      operationId: adsense.alerts.list
      parameters:
        - description: The locale to use for translating alert messages. The account locale will be used if this is not supplied. The AdSense default (English) will be used if the supplied locale is invalid or unsupported.
          in: query
          name: locale
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Alerts"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      tags:
        - alerts
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/alerts/{alertId}":
    delete:
      description: Dismiss (delete) the specified alert from the publisher's AdSense account.
      operationId: adsense.alerts.delete
      parameters:
        - description: Alert to delete.
          in: path
          name: alertId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
      tags:
        - alerts
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  /metadata/dimensions:
    get:
      description: List the metadata for the dimensions available to this AdSense account.
      operationId: adsense.metadata.dimensions.list
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Metadata"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      tags:
        - metadata
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  /metadata/metrics:
    get:
      description: List the metadata for the metrics available to this AdSense account.
      operationId: adsense.metadata.metrics.list
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Metadata"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      tags:
        - metadata
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  /payments:
    get:
      description: List the payments for this AdSense account.
      operationId: adsense.payments.list
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payments"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      tags:
        - payments
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  /reports:
    get:
      description: Generate an AdSense report based on the report request sent in the query parameters. Returns the result as JSON; to retrieve output in CSV format specify "alt=csv" as a query parameter.
      operationId: adsense.reports.generate
      parameters:
        - description: Start of the date range to report on in "YYYY-MM-DD" format, inclusive.
          in: query
          name: startDate
          required: true
          schema:
            type: string
        - description: End of the date range to report on in "YYYY-MM-DD" format, inclusive.
          in: query
          name: endDate
          required: true
          schema:
            type: string
        - description: Accounts upon which to report.
          explode: true
          in: query
          name: accountId
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Optional currency to use when reporting on monetary metrics. Defaults to the account's currency if not set.
          in: query
          name: currency
          schema:
            type: string
        - description: Dimensions to base the report on.
          explode: true
          in: query
          name: dimension
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Filters to be run on the report.
          explode: true
          in: query
          name: filter
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Optional locale to use for translating report output to a local language. Defaults to "en_US" if not specified.
          in: query
          name: locale
          schema:
            type: string
        - description: The maximum number of rows of report data to return.
          in: query
          name: maxResults
          schema:
            maximum: 50000
            minimum: 0
            type: integer
        - description: Numeric columns to include in the report.
          explode: true
          in: query
          name: metric
          schema:
            items:
              type: string
            type: array
          style: form
        - description: The name of a dimension or metric to sort the resulting report on, optionally prefixed with "+" to sort ascending or "-" to sort descending. If no prefix is specified, the column is sorted ascending.
          explode: true
          in: query
          name: sort
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Index of the first row of report data to return.
          in: query
          name: startIndex
          schema:
            maximum: 5000
            minimum: 0
            type: integer
        - description: Whether the report should be generated in the AdSense account's local timezone. If false default PST/PDT timezone will be used.
          in: query
          name: useTimezoneReporting
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdsenseReportsGenerateResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      tags:
        - reports
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  /reports/saved:
    get:
      description: List all saved reports in this AdSense account.
      operationId: adsense.reports.saved.list
      parameters:
        - description: The maximum number of saved reports to include in the response, used for paging.
          in: query
          name: maxResults
          schema:
            maximum: 100
            minimum: 0
            type: integer
        - description: A continuation token, used to page through saved reports. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SavedReports"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      tags:
        - reports
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/reports/{savedReportId}":
    get:
      description: Generate an AdSense report based on the saved report ID sent in the query parameters.
      operationId: adsense.reports.saved.generate
      parameters:
        - description: The saved report to retrieve.
          in: path
          name: savedReportId
          required: true
          schema:
            type: string
        - description: Optional locale to use for translating report output to a local language. Defaults to "en_US" if not specified.
          in: query
          name: locale
          schema:
            type: string
        - description: The maximum number of rows of report data to return.
          in: query
          name: maxResults
          schema:
            maximum: 50000
            minimum: 0
            type: integer
        - description: Index of the first row of report data to return.
          in: query
          name: startIndex
          schema:
            maximum: 5000
            minimum: 0
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdsenseReportsGenerateResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      tags:
        - reports
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  /savedadstyles:
    get:
      description: List all saved ad styles in the user's account.
      operationId: adsense.savedadstyles.list
      parameters:
        - description: The maximum number of saved ad styles to include in the response, used for paging.
          in: query
          name: maxResults
          schema:
            maximum: 10000
            minimum: 0
            type: integer
        - description: A continuation token, used to page through saved ad styles. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SavedAdStyles"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      tags:
        - savedadstyles
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/savedadstyles/{savedAdStyleId}":
    get:
      description: Get a specific saved ad style from the user's account.
      operationId: adsense.savedadstyles.get
      parameters:
        - description: Saved ad style to retrieve.
          in: path
          name: savedAdStyleId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SavedAdStyle"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adsense
          Oauth2c:
            - https://www.googleapis.com/auth/adsense
        - Oauth2:
            - https://www.googleapis.com/auth/adsense.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/adsense.readonly
      tags:
        - savedadstyles
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
components:
  parameters:
    alt:
      description: Data format for the response.
      in: query
      name: alt
      schema:
        enum:
          - csv
          - json
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: An opaque string that represents a user for quota purposes. Must not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    userIp:
      description: Deprecated. Please use quotaUser instead.
      in: query
      name: userIp
      schema:
        type: string
  schemas:
    Account:
      properties:
        creation_time:
          format: int64
          type: string
        id:
          description: Unique identifier of this account.
          type: string
        kind:
          default: adsense#account
          description: Kind of resource this is, in this case adsense#account.
          type: string
        name:
          description: Name of this account.
          type: string
        premium:
          description: Whether this account is premium.
          type: boolean
        subAccounts:
          description: Sub accounts of the this account.
          items:
            $ref: "#/components/schemas/Account"
          type: array
        timezone:
          description: AdSense timezone of this account.
          type: string
      type: object
    Accounts:
      properties:
        etag:
          description: ETag of this response for caching purposes.
          type: string
        items:
          description: The accounts returned in this list response.
          items:
            $ref: "#/components/schemas/Account"
          type: array
        kind:
          default: adsense#accounts
          description: Kind of list this is, in this case adsense#accounts.
          type: string
        nextPageToken:
          description: Continuation token used to page through accounts. To retrieve the next page of results, set the next request's "pageToken" value to this.
          type: string
      type: object
    AdClient:
      properties:
        arcOptIn:
          description: Whether this ad client is opted in to ARC.
          type: boolean
        id:
          description: Unique identifier of this ad client.
          type: string
        kind:
          default: adsense#adClient
          description: Kind of resource this is, in this case adsense#adClient.
          type: string
        productCode:
          description: This ad client's product code, which corresponds to the PRODUCT_CODE report dimension.
          type: string
        supportsReporting:
          description: Whether this ad client supports being reported on.
          type: boolean
      type: object
    AdClients:
      properties:
        etag:
          description: ETag of this response for caching purposes.
          type: string
        items:
          description: The ad clients returned in this list response.
          items:
            $ref: "#/components/schemas/AdClient"
          type: array
        kind:
          default: adsense#adClients
          description: Kind of list this is, in this case adsense#adClients.
          type: string
        nextPageToken:
          description: Continuation token used to page through ad clients. To retrieve the next page of results, set the next request's "pageToken" value to this.
          type: string
      type: object
    AdCode:
      properties:
        adCode:
          description: The Auto ad code snippet. The ad code snippet.
          type: string
        ampBody:
          description: The AMP Auto ad code snippet that goes in the body of an AMP page.
          type: string
        ampHead:
          description: The AMP Auto ad code snippet that goes in the head of an AMP page.
          type: string
        kind:
          default: adsense#adCode
          description: Kind this is, in this case adsense#adCode.
          type: string
      type: object
    AdStyle:
      properties:
        colors:
          description: The colors which are included in the style. These are represented as six hexadecimal characters, similar to HTML color codes, but without the leading hash.
          properties:
            background:
              description: The color of the ad background.
              type: string
            border:
              description: The color of the ad border.
              type: string
            text:
              description: The color of the ad text.
              type: string
            title:
              description: The color of the ad title.
              type: string
            url:
              description: The color of the ad url.
              type: string
          type: object
        corners:
          description: "The style of the corners in the ad (deprecated: never populated, ignored)."
          type: string
        font:
          description: The font which is included in the style.
          properties:
            family:
              description: The family of the font.
              type: string
            size:
              description: The size of the font.
              type: string
          type: object
        kind:
          default: adsense#adStyle
          description: Kind this is, in this case adsense#adStyle.
          type: string
      type: object
    AdUnit:
      properties:
        code:
          description: Identity code of this ad unit, not necessarily unique across ad clients.
          type: string
        contentAdsSettings:
          description: Settings specific to content ads (AFC) and highend mobile content ads (AFMC - deprecated).
          properties:
            backupOption:
              description: The backup option to be used in instances where no ad is available.
              properties:
                color:
                  description: Color to use when type is set to COLOR.
                  type: string
                type:
                  description: Type of the backup option. Possible values are BLANK, COLOR and URL.
                  type: string
                url:
                  description: URL to use when type is set to URL.
                  type: string
              type: object
            size:
              description: Size of this ad unit.
              type: string
            type:
              description: Type of this ad unit.
              type: string
          type: object
        customStyle:
          $ref: "#/components/schemas/AdStyle"
          description: Custom style information specific to this ad unit.
        feedAdsSettings:
          description: Settings specific to feed ads (AFF) - deprecated.
          properties:
            adPosition:
              description: The position of the ads relative to the feed entries.
              type: string
            frequency:
              description: The frequency at which ads should appear in the feed (i.e. every N entries).
              format: int32
              type: integer
            minimumWordCount:
              description: The minimum length an entry should be in order to have attached ads.
              format: int32
              type: integer
            type:
              description: The type of ads which should appear.
              type: string
          type: object
        id:
          description: Unique identifier of this ad unit. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format.
          type: string
        kind:
          default: adsense#adUnit
          description: Kind of resource this is, in this case adsense#adUnit.
          type: string
        mobileContentAdsSettings:
          description: Settings specific to WAP mobile content ads (AFMC) - deprecated.
          properties:
            markupLanguage:
              description: The markup language to use for this ad unit.
              type: string
            scriptingLanguage:
              description: The scripting language to use for this ad unit.
              type: string
            size:
              description: Size of this ad unit.
              type: string
            type:
              description: Type of this ad unit.
              type: string
          type: object
        name:
          description: Name of this ad unit.
          type: string
        savedStyleId:
          description: ID of the saved ad style which holds this ad unit's style information.
          type: string
        status:
          description: |-
            Status of this ad unit. Possible values are:
            NEW: Indicates that the ad unit was created within the last seven days and does not yet have any activity associated with it.

            ACTIVE: Indicates that there has been activity on this ad unit in the last seven days.

            INACTIVE: Indicates that there has been no activity on this ad unit in the last seven days.
          type: string
      type: object
    AdUnits:
      properties:
        etag:
          description: ETag of this response for caching purposes.
          type: string
        items:
          description: The ad units returned in this list response.
          items:
            $ref: "#/components/schemas/AdUnit"
          type: array
        kind:
          default: adsense#adUnits
          description: Kind of list this is, in this case adsense#adUnits.
          type: string
        nextPageToken:
          description: Continuation token used to page through ad units. To retrieve the next page of results, set the next request's "pageToken" value to this.
          type: string
      type: object
    AdsenseReportsGenerateResponse:
      properties:
        averages:
          description: The averages of the report. This is the same length as any other row in the report; cells corresponding to dimension columns are empty.
          items:
            type: string
          type: array
        endDate:
          description: The requested end date in yyyy-mm-dd format.
          type: string
        headers:
          description: The header information of the columns requested in the report. This is a list of headers; one for each dimension in the request, followed by one for each metric in the request.
          items:
            properties:
              currency:
                description: The currency of this column. Only present if the header type is METRIC_CURRENCY.
                type: string
              name:
                description: The name of the header.
                type: string
              type:
                description: The type of the header; one of DIMENSION, METRIC_TALLY, METRIC_RATIO, or METRIC_CURRENCY.
                type: string
            type: object
          type: array
        kind:
          default: adsense#report
          description: Kind this is, in this case adsense#report.
          type: string
        rows:
          description: The output rows of the report. Each row is a list of cells; one for each dimension in the request, followed by one for each metric in the request. The dimension cells contain strings, and the metric cells contain numbers.
          items:
            items:
              type: string
            type: array
          type: array
        startDate:
          description: The requested start date in yyyy-mm-dd format.
          type: string
        totalMatchedRows:
          description: The total number of rows matched by the report request. Fewer rows may be returned in the response due to being limited by the row count requested or the report row limit.
          format: int64
          type: string
        totals:
          description: The totals of the report. This is the same length as any other row in the report; cells corresponding to dimension columns are empty.
          items:
            type: string
          type: array
        warnings:
          description: Any warnings associated with generation of the report.
          items:
            type: string
          type: array
      type: object
    Alert:
      properties:
        id:
          description: Unique identifier of this alert. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format.
          type: string
        isDismissible:
          description: Whether this alert can be dismissed.
          type: boolean
        kind:
          default: adsense#alert
          description: Kind of resource this is, in this case adsense#alert.
          type: string
        message:
          description: The localized alert message.
          type: string
        severity:
          description: "Severity of this alert. Possible values: INFO, WARNING, SEVERE."
          type: string
        type:
          description: "Type of this alert. Possible values: SELF_HOLD, MIGRATED_TO_BILLING3, ADDRESS_PIN_VERIFICATION, PHONE_PIN_VERIFICATION, CORPORATE_ENTITY, GRAYLISTED_PUBLISHER, API_HOLD."
          type: string
      type: object
    Alerts:
      properties:
        items:
          description: The alerts returned in this list response.
          items:
            $ref: "#/components/schemas/Alert"
          type: array
        kind:
          default: adsense#alerts
          description: Kind of list this is, in this case adsense#alerts.
          type: string
      type: object
    CustomChannel:
      properties:
        code:
          description: Code of this custom channel, not necessarily unique across ad clients.
          type: string
        id:
          description: Unique identifier of this custom channel. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format.
          type: string
        kind:
          default: adsense#customChannel
          description: Kind of resource this is, in this case adsense#customChannel.
          type: string
        name:
          description: Name of this custom channel.
          type: string
        targetingInfo:
          description: The targeting information of this custom channel, if activated.
          properties:
            adsAppearOn:
              description: The name used to describe this channel externally.
              type: string
            description:
              description: The external description of the channel.
              type: string
            location:
              description: "The locations in which ads appear. (Only valid for content and mobile content ads (deprecated)). Acceptable values for content ads are: TOP_LEFT, TOP_CENTER, TOP_RIGHT, MIDDLE_LEFT, MIDDLE_CENTER, MIDDLE_RIGHT, BOTTOM_LEFT, BOTTOM_CENTER, BOTTOM_RIGHT, MULTIPLE_LOCATIONS. Acceptable values for mobile content ads (deprecated) are: TOP, MIDDLE, BOTTOM, MULTIPLE_LOCATIONS."
              type: string
            siteLanguage:
              description: The language of the sites ads will be displayed on.
              type: string
          type: object
      type: object
    CustomChannels:
      properties:
        etag:
          description: ETag of this response for caching purposes.
          type: string
        items:
          description: The custom channels returned in this list response.
          items:
            $ref: "#/components/schemas/CustomChannel"
          type: array
        kind:
          default: adsense#customChannels
          description: Kind of list this is, in this case adsense#customChannels.
          type: string
        nextPageToken:
          description: Continuation token used to page through custom channels. To retrieve the next page of results, set the next request's "pageToken" value to this.
          type: string
      type: object
    Metadata:
      properties:
        items:
          items:
            $ref: "#/components/schemas/ReportingMetadataEntry"
          type: array
        kind:
          default: adsense#metadata
          description: Kind of list this is, in this case adsense#metadata.
          type: string
      type: object
    Payment:
      properties:
        id:
          description: Unique identifier of this Payment.
          type: string
        kind:
          default: adsense#payment
          description: Kind of resource this is, in this case adsense#payment.
          type: string
        paymentAmount:
          description: The amount to be paid.
          type: string
        paymentAmountCurrencyCode:
          description: The currency code for the amount to be paid.
          type: string
        paymentDate:
          description: The date this payment was/will be credited to the user, or none if the payment threshold has not been met.
          type: string
      type: object
    Payments:
      properties:
        items:
          description: The list of Payments for the account. One or both of a) the account's most recent payment; and b) the account's upcoming payment.
          items:
            $ref: "#/components/schemas/Payment"
          type: array
        kind:
          default: adsense#payments
          description: Kind of list this is, in this case adsense#payments.
          type: string
      type: object
    ReportingMetadataEntry:
      properties:
        compatibleDimensions:
          description: For metrics this is a list of dimension IDs which the metric is compatible with, for dimensions it is a list of compatibility groups the dimension belongs to.
          items:
            type: string
          type: array
        compatibleMetrics:
          description: The names of the metrics the dimension or metric this reporting metadata entry describes is compatible with.
          items:
            type: string
          type: array
        id:
          description: Unique identifier of this reporting metadata entry, corresponding to the name of the appropriate dimension or metric.
          type: string
        kind:
          default: adsense#reportingMetadataEntry
          description: Kind of resource this is, in this case adsense#reportingMetadataEntry.
          type: string
        requiredDimensions:
          description: The names of the dimensions which the dimension or metric this reporting metadata entry describes requires to also be present in order for the report to be valid. Omitting these will not cause an error or warning, but may result in data which cannot be correctly interpreted.
          items:
            type: string
          type: array
        requiredMetrics:
          description: The names of the metrics which the dimension or metric this reporting metadata entry describes requires to also be present in order for the report to be valid. Omitting these will not cause an error or warning, but may result in data which cannot be correctly interpreted.
          items:
            type: string
          type: array
        supportedProducts:
          description: The codes of the projects supported by the dimension or metric this reporting metadata entry describes.
          items:
            type: string
          type: array
      type: object
    SavedAdStyle:
      properties:
        adStyle:
          $ref: "#/components/schemas/AdStyle"
          description: The AdStyle itself.
        id:
          description: Unique identifier of this saved ad style. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format.
          type: string
        kind:
          default: adsense#savedAdStyle
          description: Kind of resource this is, in this case adsense#savedAdStyle.
          type: string
        name:
          description: The user selected name of this SavedAdStyle.
          type: string
      type: object
    SavedAdStyles:
      properties:
        etag:
          description: ETag of this response for caching purposes.
          type: string
        items:
          description: The saved ad styles returned in this list response.
          items:
            $ref: "#/components/schemas/SavedAdStyle"
          type: array
        kind:
          default: adsense#savedAdStyles
          description: Kind of list this is, in this case adsense#savedAdStyles.
          type: string
        nextPageToken:
          description: Continuation token used to page through ad units. To retrieve the next page of results, set the next request's "pageToken" value to this.
          type: string
      type: object
    SavedReport:
      properties:
        id:
          description: Unique identifier of this saved report.
          type: string
        kind:
          default: adsense#savedReport
          description: Kind of resource this is, in this case adsense#savedReport.
          type: string
        name:
          description: This saved report's name.
          type: string
      type: object
    SavedReports:
      properties:
        etag:
          description: ETag of this response for caching purposes.
          type: string
        items:
          description: The saved reports returned in this list response.
          items:
            $ref: "#/components/schemas/SavedReport"
          type: array
        kind:
          default: adsense#savedReports
          description: Kind of list this is, in this case adsense#savedReports.
          type: string
        nextPageToken:
          description: Continuation token used to page through saved reports. To retrieve the next page of results, set the next request's "pageToken" value to this.
          type: string
      type: object
    UrlChannel:
      properties:
        id:
          description: Unique identifier of this URL channel. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format.
          type: string
        kind:
          default: adsense#urlChannel
          description: Kind of resource this is, in this case adsense#urlChannel.
          type: string
        urlPattern:
          description: 'URL Pattern of this URL channel. Does not include "http://" or "https://". Example: www.example.com/home'
          type: string
      type: object
    UrlChannels:
      properties:
        etag:
          description: ETag of this response for caching purposes.
          type: string
        items:
          description: The URL channels returned in this list response.
          items:
            $ref: "#/components/schemas/UrlChannel"
          type: array
        kind:
          default: adsense#urlChannels
          description: Kind of list this is, in this case adsense#urlChannels.
          type: string
        nextPageToken:
          description: Continuation token used to page through URL channels. To retrieve the next page of results, set the next request's "pageToken" value to this.
          type: string
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/adsense: View and manage your AdSense data
            https://www.googleapis.com/auth/adsense.readonly: View your AdSense data
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/adsense: View and manage your AdSense data
            https://www.googleapis.com/auth/adsense.readonly: View your AdSense data
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
