openapi: 3.0.0
servers:
  - url: https://travelimpactmodel.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Travel Impact Model API lets you query travel carbon emission estimates.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Travel Impact Model API
  version: v1
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_upload.wikimedia.org_wikipedia_commons_e_e1_YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
    - format: google
      url: https://travelimpactmodel.googleapis.com/$discovery/rest?version=v1
      version: v1
  x-providerName: googleapis.com
  x-serviceName: travelimpactmodel
externalDocs:
  url: https://developers.google.com/travel/impact-model
tags:
  - name: flights
paths:
  /v1/flights:computeFlightEmissions:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: "Stateless method to retrieve emission estimates. Details on how emission estimates are computed: https://github.com/google/travel-impact-model The response will contain all entries that match the input flight legs, in the same order. If there are no estimates available for a certain flight leg, the response will return the flight leg object with empty emission fields. The request will still be considered successful. Reasons for missing emission estimates include: - The flight is unknown to the server. - The input flight leg is missing one or more identifiers. - The flight date is in the past. - The aircraft type is not supported by the model. - Missing seat configuration. The request can contain up to 1000 flight legs. If the request has more than 1000 direct flights, if will fail with an INVALID_ARGUMENT error."
      operationId: travelimpactmodel.flights.computeFlightEmissions
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ComputeFlightEmissionsRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComputeFlightEmissionsResponse"
          description: Successful response
      tags:
        - flights
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    ComputeFlightEmissionsRequest:
      description: Input definition for the ComputeFlightEmissions request.
      properties:
        flights:
          description: Required. Direct flights to return emission estimates for.
          items:
            $ref: "#/components/schemas/Flight"
          type: array
      type: object
    ComputeFlightEmissionsResponse:
      description: Output definition for the ComputeFlightEmissions response.
      properties:
        flightEmissions:
          description: List of flight legs with emission estimates.
          items:
            $ref: "#/components/schemas/FlightWithEmissions"
          type: array
        modelVersion:
          $ref: "#/components/schemas/ModelVersion"
          description: The model version under which emission estimates for all flights in this response were computed.
      type: object
    Date:
      description: "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
      properties:
        day:
          description: Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.
          format: int32
          type: integer
        month:
          description: Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.
          format: int32
          type: integer
        year:
          description: Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.
          format: int32
          type: integer
      type: object
    EmissionsGramsPerPax:
      description: Grouped emissions per seating class results.
      properties:
        business:
          description: Emissions for one passenger in business class in grams. This field is always computed and populated, regardless of whether the aircraft has business class seats or not.
          format: int32
          type: integer
        economy:
          description: Emissions for one passenger in economy class in grams. This field is always computed and populated, regardless of whether the aircraft has economy class seats or not.
          format: int32
          type: integer
        first:
          description: Emissions for one passenger in first class in grams. This field is always computed and populated, regardless of whether the aircraft has first class seats or not.
          format: int32
          type: integer
        premiumEconomy:
          description: Emissions for one passenger in premium economy class in grams. This field is always computed and populated, regardless of whether the aircraft has premium economy class seats or not.
          format: int32
          type: integer
      type: object
    Flight:
      description: All details related to a single request item for a direct flight emission estimates.
      properties:
        departureDate:
          $ref: "#/components/schemas/Date"
          description: Required. Date of the flight in the time zone of the origin airport. Must be a date in the present or future.
        destination:
          description: Required. IATA airport code for flight destination, e.g. "JFK".
          type: string
        flightNumber:
          description: Required. Flight number, e.g. 324.
          format: int32
          type: integer
        operatingCarrierCode:
          description: Required. IATA carrier code, e.g. "AA".
          type: string
        origin:
          description: Required. IATA airport code for flight origin, e.g. "LHR".
          type: string
      type: object
    FlightWithEmissions:
      description: Direct flight with emission estimates.
      properties:
        emissionsGramsPerPax:
          $ref: "#/components/schemas/EmissionsGramsPerPax"
          description: Optional. Per-passenger emission estimate numbers. Will not be present if emissions could not be computed. For the list of reasons why emissions could not be computed, see ComputeFlightEmissions.
        flight:
          $ref: "#/components/schemas/Flight"
          description: "Required. Matches the flight identifiers in the request. Note: all IATA codes are capitalized."
      type: object
    ModelVersion:
      description: Travel Impact Model version. For more information about the model versioning see https://github.com/google/travel-impact-model/#versioning.
      properties:
        dated:
          description: "Dated versions: Model datasets are recreated with refreshed input data but no change to the algorithms regularly."
          type: string
        major:
          description: "Major versions: Major changes to methodology (e.g. adding new data sources to the model that lead to major output changes). Such changes will be infrequent and announced well in advance. Might involve API version changes, which will respect guidelines in https://cloud.google.com/endpoints/docs/openapi/versioning-an-api#backwards-incompatible"
          format: int32
          type: integer
        minor:
          description: "Minor versions: Changes to the model that, while being consistent across schema versions, change the model parameters or implementation."
          format: int32
          type: integer
        patch:
          description: "Patch versions: Implementation changes meant to address bugs or inaccuracies in the model implementation."
          format: int32
          type: integer
      type: object
