openapi: 3.0.0
servers:
  - url: https://gameservices.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Deploy and manage infrastructure for global multiplayer gaming experiences.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Game Services API
  version: v1beta
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
    - converter:
        url: https://github.com/lucybot/api-spec-converter
        version: 2.7.31
      format: google
      url: https://gameservices.googleapis.com/$discovery/rest?version=v1beta
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: gameservices
externalDocs:
  url: https://cloud.google.com/solutions/gaming/
tags:
  - name: projects
paths:
  "/v1beta/{name}":
    delete:
      description: Deletes a single game server cluster.
      operationId: gameservices.projects.locations.realms.gameServerClusters.delete
      parameters:
        - description: "Required. The name of the game server cluster to delete. Uses the form: `projects/{project}/locations/{location}/gameServerClusters/{cluster}`."
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    get:
      description: Gets details of a single game server cluster.
      operationId: gameservices.projects.locations.realms.gameServerClusters.get
      parameters:
        - description: "Required. The name of the game server cluster to retrieve. Uses the form: `projects/{project}/locations/{location}/realms/{realm-id}/gameServerClusters/{cluster}`."
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameServerCluster"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/alt"
    patch:
      description: Patches a single game server cluster.
      operationId: gameservices.projects.locations.realms.gameServerClusters.patch
      parameters:
        - description: "Required. The resource name of the game server cluster. Uses the form: `projects/{project}/locations/{location}/realms/{realm}/gameServerClusters/{cluster}`. For example, `projects/my-project/locations/{location}/realms/zanzibar/gameServerClusters/my-onprem-cluster`."
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: "Required. Mask of fields to update. At least one path must be supplied in this field. For the `FieldMask` definition, see https: //developers.google.com/protocol-buffers // /docs/reference/google.protobuf#fieldmask"
          in: query
          name: updateMask
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GameServerCluster"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1beta/{name}/locations":
    get:
      description: Lists information about the supported locations for this service.
      operationId: gameservices.projects.locations.list
      parameters:
        - description: The resource that owns the locations collection, if applicable.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: The standard list filter.
          in: query
          name: filter
          schema:
            type: string
        - description: If true, the returned list will include locations which are not yet revealed.
          in: query
          name: includeUnrevealedLocations
          schema:
            type: boolean
        - description: The standard list page size.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The standard list page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListLocationsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/alt"
  "/v1beta/{name}/operations":
    get:
      description: "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id."
      operationId: gameservices.projects.locations.operations.list
      parameters:
        - description: The name of the operation's parent resource.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: The standard list filter.
          in: query
          name: filter
          schema:
            type: string
        - description: The standard list page size.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The standard list page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListOperationsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/alt"
  "/v1beta/{name}/rollout":
    get:
      description: Gets details a single game server deployment rollout.
      operationId: gameservices.projects.locations.gameServerDeployments.getRollout
      parameters:
        - description: "Required. The name of the game server delpoyment to retrieve. Uses the form: `projects/{project}/locations/{location}/gameServerDeployments/{deployment}/rollout`."
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameServerDeploymentRollout"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/alt"
    patch:
      description: Patches a single game server deployment rollout. The method will not return an error if the update does not affect any existing realms. For example - if the default_game_server_config is changed but all existing realms use the override, that is valid. Similarly, if a non existing realm is explicitly called out in game_server_config_overrides field, that will also not result in an error.
      operationId: gameservices.projects.locations.gameServerDeployments.updateRollout
      parameters:
        - description: "The resource name of the game server deployment rollout. Uses the form: `projects/{project}/locations/{location}/gameServerDeployments/{deployment}/rollout`. For example, `projects/my-project/locations/global/gameServerDeployments/my-deployment/rollout`."
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: "Required. Mask of fields to update. At least one path must be supplied in this field. For the `FieldMask` definition, see https: //developers.google.com/protocol-buffers // /docs/reference/google.protobuf#fieldmask"
          in: query
          name: updateMask
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GameServerDeploymentRollout"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1beta/{name}/rollout:preview":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/alt"
    patch:
      description: Previews the game server deployment rollout. This API does not mutate the rollout resource.
      operationId: gameservices.projects.locations.gameServerDeployments.previewRollout
      parameters:
        - description: "The resource name of the game server deployment rollout. Uses the form: `projects/{project}/locations/{location}/gameServerDeployments/{deployment}/rollout`. For example, `projects/my-project/locations/global/gameServerDeployments/my-deployment/rollout`."
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Optional. The target timestamp to compute the preview. Defaults to the immediately after the proposed rollout completes.
          in: query
          name: previewTime
          schema:
            type: string
        - description: "Optional. Mask of fields to update. At least one path must be supplied in this field. For the `FieldMask` definition, see https: //developers.google.com/protocol-buffers // /docs/reference/google.protobuf#fieldmask"
          in: query
          name: updateMask
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GameServerDeploymentRollout"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PreviewGameServerDeploymentRolloutResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1beta/{name}:cancel":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/alt"
    post:
      description: Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.
      operationId: gameservices.projects.locations.operations.cancel
      parameters:
        - description: The name of the operation resource to be cancelled.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelOperationRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1beta/{name}:fetchDeploymentState":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/alt"
    post:
      description: Retrieves information about the current state of the game server deployment. Gathers all the Agones fleets and Agones autoscalers, including fleets running an older version of the game server deployment.
      operationId: gameservices.projects.locations.gameServerDeployments.fetchDeploymentState
      parameters:
        - description: "Required. The name of the game server delpoyment. Uses the form: `projects/{project}/locations/{location}/gameServerDeployments/{deployment}`."
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FetchDeploymentStateRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FetchDeploymentStateResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1beta/{name}:previewDelete":
    delete:
      description: Previews deletion of a single game server cluster.
      operationId: gameservices.projects.locations.realms.gameServerClusters.previewDelete
      parameters:
        - description: "Required. The name of the game server cluster to delete. Uses the form: `projects/{project}/locations/{location}/gameServerClusters/{cluster}`."
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Optional. The target timestamp to compute the preview.
          in: query
          name: previewTime
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PreviewDeleteGameServerClusterResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/alt"
  "/v1beta/{name}:previewUpdate":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/alt"
    patch:
      description: Previews updating a GameServerCluster.
      operationId: gameservices.projects.locations.realms.gameServerClusters.previewUpdate
      parameters:
        - description: "Required. The resource name of the game server cluster. Uses the form: `projects/{project}/locations/{location}/realms/{realm}/gameServerClusters/{cluster}`. For example, `projects/my-project/locations/{location}/realms/zanzibar/gameServerClusters/my-onprem-cluster`."
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Optional. The target timestamp to compute the preview.
          in: query
          name: previewTime
          schema:
            type: string
        - description: "Required. Mask of fields to update. At least one path must be supplied in this field. For the `FieldMask` definition, see https: //developers.google.com/protocol-buffers // /docs/reference/google.protobuf#fieldmask"
          in: query
          name: updateMask
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GameServerCluster"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PreviewUpdateGameServerClusterResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1beta/{parent}/configs":
    get:
      description: Lists game server configs in a given project, location, and game server deployment.
      operationId: gameservices.projects.locations.gameServerDeployments.configs.list
      parameters:
        - description: "Required. The parent resource name. Uses the form: `projects/{project}/locations/{location}/gameServerDeployments/{deployment}/configs/*`."
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. The filter to apply to list results.
          in: query
          name: filter
          schema:
            type: string
        - description: Optional. Specifies the ordering of results following syntax at https://cloud.google.com/apis/design/design_patterns#sorting_order.
          in: query
          name: orderBy
          schema:
            type: string
        - description: Optional. The maximum number of items to return. If unspecified, server will pick an appropriate default. Server may return fewer items than requested. A caller should only rely on response's next_page_token to determine if there are more GameServerConfigs left to be queried.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Optional. The next_page_token value returned from a previous list request, if any.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListGameServerConfigsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/alt"
    post:
      description: Creates a new game server config in a given project, location, and game server deployment. Game server configs are immutable, and are not applied until referenced in the game server deployment rollout resource.
      operationId: gameservices.projects.locations.gameServerDeployments.configs.create
      parameters:
        - description: "Required. The parent resource name. Uses the form: `projects/{project}/locations/{location}/gameServerDeployments/{deployment}/`."
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. The ID of the game server config resource to be created.
          in: query
          name: configId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GameServerConfig"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1beta/{parent}/gameServerClusters":
    get:
      description: Lists game server clusters in a given project and location.
      operationId: gameservices.projects.locations.realms.gameServerClusters.list
      parameters:
        - description: 'Required. The parent resource name. Uses the form: "projects/{project}/locations/{location}/realms/{realm}".'
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. The filter to apply to list results.
          in: query
          name: filter
          schema:
            type: string
        - description: Optional. Specifies the ordering of results following syntax at https://cloud.google.com/apis/design/design_patterns#sorting_order.
          in: query
          name: orderBy
          schema:
            type: string
        - description: Optional. The maximum number of items to return. If unspecified, the server will pick an appropriate default. The server may return fewer items than requested. A caller should only rely on response's next_page_token to determine if there are more GameServerClusters left to be queried.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Optional. The next_page_token value returned from a previous List request, if any.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListGameServerClustersResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/alt"
    post:
      description: Creates a new game server cluster in a given project and location.
      operationId: gameservices.projects.locations.realms.gameServerClusters.create
      parameters:
        - description: "Required. The parent resource name. Uses the form: `projects/{project}/locations/{location}/realms/{realm-id}`."
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. The ID of the game server cluster resource to be created.
          in: query
          name: gameServerClusterId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GameServerCluster"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1beta/{parent}/gameServerClusters:previewCreate":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/alt"
    post:
      description: Previews creation of a new game server cluster in a given project and location.
      operationId: gameservices.projects.locations.realms.gameServerClusters.previewCreate
      parameters:
        - description: "Required. The parent resource name. Uses the form: `projects/{project}/locations/{location}/realms/{realm}`."
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. The ID of the game server cluster resource to be created.
          in: query
          name: gameServerClusterId
          schema:
            type: string
        - description: Optional. The target timestamp to compute the preview.
          in: query
          name: previewTime
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GameServerCluster"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PreviewCreateGameServerClusterResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1beta/{parent}/gameServerDeployments":
    get:
      description: Lists game server deployments in a given project and location.
      operationId: gameservices.projects.locations.gameServerDeployments.list
      parameters:
        - description: "Required. The parent resource name. Uses the form: `projects/{project}/locations/{location}`."
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. The filter to apply to list results.
          in: query
          name: filter
          schema:
            type: string
        - description: Optional. Specifies the ordering of results following syntax at https://cloud.google.com/apis/design/design_patterns#sorting_order.
          in: query
          name: orderBy
          schema:
            type: string
        - description: Optional. The maximum number of items to return. If unspecified, the server will pick an appropriate default. The server may return fewer items than requested. A caller should only rely on response's next_page_token to determine if there are more GameServerDeployments left to be queried.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Optional. The next_page_token value returned from a previous List request, if any.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListGameServerDeploymentsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/alt"
    post:
      description: Creates a new game server deployment in a given project and location.
      operationId: gameservices.projects.locations.gameServerDeployments.create
      parameters:
        - description: "Required. The parent resource name. Uses the form: `projects/{project}/locations/{location}`."
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. The ID of the game server delpoyment resource to be created.
          in: query
          name: deploymentId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GameServerDeployment"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1beta/{parent}/realms":
    get:
      description: Lists realms in a given project and location.
      operationId: gameservices.projects.locations.realms.list
      parameters:
        - description: "Required. The parent resource name. Uses the form: `projects/{project}/locations/{location}`."
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. The filter to apply to list results.
          in: query
          name: filter
          schema:
            type: string
        - description: Optional. Specifies the ordering of results following syntax at https://cloud.google.com/apis/design/design_patterns#sorting_order.
          in: query
          name: orderBy
          schema:
            type: string
        - description: Optional. The maximum number of items to return. If unspecified, server will pick an appropriate default. Server may return fewer items than requested. A caller should only rely on response's next_page_token to determine if there are more realms left to be queried.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Optional. The next_page_token value returned from a previous List request, if any.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListRealmsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/alt"
    post:
      description: Creates a new realm in a given project and location.
      operationId: gameservices.projects.locations.realms.create
      parameters:
        - description: "Required. The parent resource name. Uses the form: `projects/{project}/locations/{location}`."
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. The ID of the realm resource to be created.
          in: query
          name: realmId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Realm"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1beta/{resource}:getIamPolicy":
    get:
      description: Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.
      operationId: gameservices.projects.locations.gameServerDeployments.getIamPolicy
      parameters:
        - description: "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field."
          in: path
          name: resource
          required: true
          schema:
            type: string
        - description: Optional. The policy format version to be returned. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional bindings must specify version 3. Policies without any conditional bindings may specify any valid value or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).
          in: query
          name: options.requestedPolicyVersion
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Policy"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/alt"
  "/v1beta/{resource}:setIamPolicy":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/alt"
    post:
      description: Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.
      operationId: gameservices.projects.locations.gameServerDeployments.setIamPolicy
      parameters:
        - description: "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field."
          in: path
          name: resource
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetIamPolicyRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Policy"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1beta/{resource}:testIamPermissions":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/alt"
    post:
      description: 'Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may "fail open" without warning.'
      operationId: gameservices.projects.locations.gameServerDeployments.testIamPermissions
      parameters:
        - description: "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field."
          in: path
          name: resource
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TestIamPermissionsRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TestIamPermissionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    AuditConfig:
      description: 'Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { "audit_configs": [ { "service": "allServices", "audit_log_configs": [ { "log_type": "DATA_READ", "exempted_members": [ "user:jose@example.com" ] }, { "log_type": "DATA_WRITE" }, { "log_type": "ADMIN_READ" } ] }, { "service": "sampleservice.googleapis.com", "audit_log_configs": [ { "log_type": "DATA_READ" }, { "log_type": "DATA_WRITE", "exempted_members": [ "user:aliya@example.com" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts jose@example.com from DATA_READ logging, and aliya@example.com from DATA_WRITE logging.'
      properties:
        auditLogConfigs:
          description: The configuration for logging of each type of permission.
          items:
            $ref: "#/components/schemas/AuditLogConfig"
          type: array
        exemptedMembers:
          items:
            type: string
          type: array
        service:
          description: Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.
          type: string
      type: object
    AuditLogConfig:
      description: "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      properties:
        exemptedMembers:
          description: Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.
          items:
            type: string
          type: array
        ignoreChildExemptions:
          type: boolean
        logType:
          description: The log type that this config enables.
          enum:
            - LOG_TYPE_UNSPECIFIED
            - ADMIN_READ
            - DATA_WRITE
            - DATA_READ
          type: string
      type: object
    AuthorizationLoggingOptions:
      description: Authorization-related information used by Cloud Audit Logging.
      properties:
        permissionType:
          description: The type of the permission that was checked.
          enum:
            - PERMISSION_TYPE_UNSPECIFIED
            - ADMIN_READ
            - ADMIN_WRITE
            - DATA_READ
            - DATA_WRITE
          type: string
      type: object
    Binding:
      description: Associates `members` with a `role`.
      properties:
        condition:
          $ref: "#/components/schemas/Expr"
          description: The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the members in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).
        members:
          description: "Specifies the identities requesting access for a Cloud Platform resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. "
          items:
            type: string
          type: array
        role:
          description: Role that is assigned to `members`. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.
          type: string
      type: object
    CancelOperationRequest:
      description: The request message for Operations.CancelOperation.
      properties: {}
      type: object
    CloudAuditOptions:
      description: Write a Cloud Audit log
      properties:
        authorizationLoggingOptions:
          $ref: "#/components/schemas/AuthorizationLoggingOptions"
          description: Information used by the Cloud Audit Logging pipeline.
        logName:
          description: The log_name to populate in the Cloud Audit Record.
          enum:
            - UNSPECIFIED_LOG_NAME
            - ADMIN_ACTIVITY
            - DATA_ACCESS
          type: string
      type: object
    Condition:
      description: A condition to be met.
      properties:
        iam:
          description: Trusted attributes supplied by the IAM system.
          enum:
            - NO_ATTR
            - AUTHORITY
            - ATTRIBUTION
            - SECURITY_REALM
            - APPROVER
            - JUSTIFICATION_TYPE
            - CREDENTIALS_TYPE
            - CREDS_ASSERTION
          type: string
        op:
          description: An operator to apply the subject with.
          enum:
            - NO_OP
            - EQUALS
            - NOT_EQUALS
            - IN
            - NOT_IN
            - DISCHARGED
          type: string
        svc:
          description: Trusted attributes discharged by the service.
          type: string
        sys:
          description: Trusted attributes supplied by any service that owns resources and uses the IAM system for access control.
          enum:
            - NO_ATTR
            - REGION
            - SERVICE
            - NAME
            - IP
          type: string
        values:
          description: The objects of the condition.
          items:
            type: string
          type: array
      type: object
    CounterOptions:
      description: "Increment a streamz counter with the specified metric and field names. Metric names should start with a '/', generally be lowercase-only, and end in \"_count\". Field names should not contain an initial slash. The actual exported metric names will have \"/iam/policy\" prepended. Field names correspond to IAM request parameters and field values are their respective values. Supported field names: - \"authority\", which is \"[token]\" if IAMContext.token is present, otherwise the value of IAMContext.authority_selector if present, and otherwise a representation of IAMContext.principal; or - \"iam_principal\", a representation of IAMContext.principal even if a token or authority selector is present; or - \"\" (empty string), resulting in a counter with no fields. Examples: counter { metric: \"/debug_access_count\" field: \"iam_principal\" } ==> increment counter /iam/policy/debug_access_count {iam_principal=[value of IAMContext.principal]}"
      properties:
        customFields:
          description: Custom fields.
          items:
            $ref: "#/components/schemas/CustomField"
          type: array
        field:
          description: The field value to attribute.
          type: string
        metric:
          description: The metric to update.
          type: string
      type: object
    CustomField:
      description: "Custom fields. These can be used to create a counter with arbitrary field/value pairs. See: go/rpcsp-custom-fields."
      properties:
        name:
          description: Name is the field name.
          type: string
        value:
          description: Value is the field value. It is important that in contrast to the CounterOptions.field, the value here is a constant that is not derived from the IAMContext.
          type: string
      type: object
    DataAccessOptions:
      description: Write a Data Access (Gin) log
      properties:
        logMode:
          enum:
            - LOG_MODE_UNSPECIFIED
            - LOG_FAIL_CLOSED
          type: string
      type: object
    DeployedClusterState:
      description: The game server cluster changes made by the game server deployment.
      properties:
        cluster:
          description: The name of the cluster.
          type: string
        fleetDetails:
          description: The details about the Agones fleets and autoscalers created in the game server cluster.
          items:
            $ref: "#/components/schemas/DeployedFleetDetails"
          type: array
      type: object
    DeployedFleet:
      description: Agones fleet specification and details.
      properties:
        fleet:
          description: The name of the Agones fleet.
          type: string
        fleetSpec:
          description: The fleet spec retrieved from the Agones fleet.
          type: string
        specSource:
          $ref: "#/components/schemas/SpecSource"
          description: The source spec that is used to create the Agones fleet. The GameServerConfig resource may no longer exist in the system.
        status:
          $ref: "#/components/schemas/DeployedFleetStatus"
          description: The current status of the Agones fleet. Includes count of game servers in various states.
      type: object
    DeployedFleetAutoscaler:
      description: Details about the Agones autoscaler.
      properties:
        autoscaler:
          description: The name of the Agones autoscaler.
          type: string
        fleetAutoscalerSpec:
          description: The autoscaler spec retrieved from Agones.
          type: string
        specSource:
          $ref: "#/components/schemas/SpecSource"
          description: The source spec that is used to create the autoscaler. The GameServerConfig resource may no longer exist in the system.
      type: object
    DeployedFleetDetails:
      description: Details of the deployed Agones fleet.
      properties:
        deployedAutoscaler:
          $ref: "#/components/schemas/DeployedFleetAutoscaler"
          description: Information about the Agones autoscaler for that fleet.
        deployedFleet:
          $ref: "#/components/schemas/DeployedFleet"
          description: Information about the Agones fleet.
      type: object
    DeployedFleetStatus:
      description: DeployedFleetStatus has details about the Agones fleets such as how many are running, how many allocated, and so on.
      properties:
        allocatedReplicas:
          description: The number of GameServer replicas in the ALLOCATED state in this fleet.
          format: int64
          type: string
        readyReplicas:
          description: The number of GameServer replicas in the READY state in this fleet.
          format: int64
          type: string
        replicas:
          description: The total number of current GameServer replicas in this fleet.
          format: int64
          type: string
        reservedReplicas:
          description: The number of GameServer replicas in the RESERVED state in this fleet. Reserved instances won't be deleted on scale down, but won't cause an autoscaler to scale up.
          format: int64
          type: string
      type: object
    Empty:
      description: "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`."
      properties: {}
      type: object
    Expr:
      description: "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      properties:
        description:
          description: Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.
          type: string
        expression:
          description: Textual representation of an expression in Common Expression Language syntax.
          type: string
        location:
          description: Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.
          type: string
        title:
          description: Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.
          type: string
      type: object
    FetchDeploymentStateRequest:
      description: Request message for GameServerDeploymentsService.FetchDeploymentState.
      properties: {}
      type: object
    FetchDeploymentStateResponse:
      description: Response message for GameServerDeploymentsService.FetchDeploymentState.
      properties:
        clusterState:
          description: The state of the game server deployment in each game server cluster.
          items:
            $ref: "#/components/schemas/DeployedClusterState"
          type: array
        unavailable:
          description: List of locations that could not be reached.
          items:
            type: string
          type: array
      type: object
    FleetConfig:
      description: Fleet configs for Agones.
      properties:
        fleetSpec:
          description: "Agones fleet spec. Example spec: `https://agones.dev/site/docs/reference/fleet/`."
          type: string
        name:
          description: The name of the FleetConfig.
          type: string
      type: object
    GameServerCluster:
      description: A game server cluster resource.
      properties:
        connectionInfo:
          $ref: "#/components/schemas/GameServerClusterConnectionInfo"
          description: The game server cluster connection information. This information is used to manage game server clusters.
        createTime:
          description: Output only. The creation time.
          format: google-datetime
          readOnly: true
          type: string
        description:
          description: Human readable description of the cluster.
          type: string
        etag:
          description: ETag of the resource.
          type: string
        labels:
          additionalProperties:
            type: string
          description: The labels associated with this game server cluster. Each label is a key-value pair.
          type: object
        name:
          description: "Required. The resource name of the game server cluster. Uses the form: `projects/{project}/locations/{location}/realms/{realm}/gameServerClusters/{cluster}`. For example, `projects/my-project/locations/{location}/realms/zanzibar/gameServerClusters/my-onprem-cluster`."
          type: string
        updateTime:
          description: Output only. The last-modified time.
          format: google-datetime
          readOnly: true
          type: string
      type: object
    GameServerClusterConnectionInfo:
      description: The game server cluster connection information.
      properties:
        gkeClusterReference:
          $ref: "#/components/schemas/GkeClusterReference"
          description: Reference to the GKE cluster where the game servers are installed.
        namespace:
          description: Namespace designated on the game server cluster where the Agones game server instances will be created. Existence of the namespace will be validated during creation.
          type: string
      type: object
    GameServerConfig:
      description: A game server config resource.
      properties:
        createTime:
          description: Output only. The creation time.
          format: google-datetime
          readOnly: true
          type: string
        description:
          description: The description of the game server config.
          type: string
        fleetConfigs:
          description: FleetConfig contains a list of Agones fleet specs. Only one FleetConfig is allowed.
          items:
            $ref: "#/components/schemas/FleetConfig"
          type: array
        labels:
          additionalProperties:
            type: string
          description: The labels associated with this game server config. Each label is a key-value pair.
          type: object
        name:
          description: "The resource name of the game server config. Uses the form: `projects/{project}/locations/{location}/gameServerDeployments/{deployment}/configs/{config}`. For example, `projects/my-project/locations/global/gameServerDeployments/my-game/configs/my-config`."
          type: string
        scalingConfigs:
          description: The autoscaling settings.
          items:
            $ref: "#/components/schemas/ScalingConfig"
          type: array
        updateTime:
          description: Output only. The last-modified time.
          format: google-datetime
          readOnly: true
          type: string
      type: object
    GameServerConfigOverride:
      description: A game server config override.
      properties:
        configVersion:
          description: The game server config for this override.
          type: string
        realmsSelector:
          $ref: "#/components/schemas/RealmSelector"
          description: Selector for choosing applicable realms.
      type: object
    GameServerDeployment:
      description: A game server deployment resource.
      properties:
        createTime:
          description: Output only. The creation time.
          format: google-datetime
          readOnly: true
          type: string
        description:
          description: Human readable description of the game server delpoyment.
          type: string
        etag:
          description: ETag of the resource.
          type: string
        labels:
          additionalProperties:
            type: string
          description: The labels associated with this game server deployment. Each label is a key-value pair.
          type: object
        name:
          description: "The resource name of the game server deployment. Uses the form: `projects/{project}/locations/{location}/gameServerDeployments/{deployment}`. For example, `projects/my-project/locations/global/gameServerDeployments/my-deployment`."
          type: string
        updateTime:
          description: Output only. The last-modified time.
          format: google-datetime
          readOnly: true
          type: string
      type: object
    GameServerDeploymentRollout:
      description: The game server deployment rollout which represents the desired rollout state.
      properties:
        createTime:
          description: Output only. The creation time.
          format: google-datetime
          readOnly: true
          type: string
        defaultGameServerConfig:
          description: The default game server config is applied to all realms unless overridden in the rollout. For example, `projects/my-project/locations/global/gameServerDeployments/my-game/configs/my-config`.
          type: string
        etag:
          description: ETag of the resource.
          type: string
        gameServerConfigOverrides:
          description: Contains the game server config rollout overrides. Overrides are processed in the order they are listed. Once a match is found for a realm, the rest of the list is not processed.
          items:
            $ref: "#/components/schemas/GameServerConfigOverride"
          type: array
        name:
          description: "The resource name of the game server deployment rollout. Uses the form: `projects/{project}/locations/{location}/gameServerDeployments/{deployment}/rollout`. For example, `projects/my-project/locations/global/gameServerDeployments/my-deployment/rollout`."
          type: string
        updateTime:
          description: Output only. The last-modified time.
          format: google-datetime
          readOnly: true
          type: string
      type: object
    GkeClusterReference:
      description: A reference to a GKE cluster.
      properties:
        cluster:
          description: "The full or partial name of a GKE cluster, using one of the following forms: * `projects/{project}/locations/{location}/clusters/{cluster}` * `locations/{location}/clusters/{cluster}` * `{cluster}` If project and location are not specified, the project and location of the GameServerCluster resource are used to generate the full name of the GKE cluster."
          type: string
      type: object
    LabelSelector:
      description: The label selector, used to group labels on the resources.
      properties:
        labels:
          additionalProperties:
            type: string
          description: Resource labels for this selector.
          type: object
      type: object
    ListGameServerClustersResponse:
      description: Response message for GameServerClustersService.ListGameServerClusters.
      properties:
        gameServerClusters:
          description: The list of game server clusters.
          items:
            $ref: "#/components/schemas/GameServerCluster"
          type: array
        nextPageToken:
          description: Token to retrieve the next page of results, or empty if there are no more results in the list.
          type: string
        unreachable:
          description: List of locations that could not be reached.
          items:
            type: string
          type: array
      type: object
    ListGameServerConfigsResponse:
      description: Response message for GameServerConfigsService.ListGameServerConfigs.
      properties:
        gameServerConfigs:
          description: The list of game server configs.
          items:
            $ref: "#/components/schemas/GameServerConfig"
          type: array
        nextPageToken:
          description: Token to retrieve the next page of results, or empty if there are no more results in the list.
          type: string
        unreachable:
          description: List of locations that could not be reached.
          items:
            type: string
          type: array
      type: object
    ListGameServerDeploymentsResponse:
      description: Response message for GameServerDeploymentsService.ListGameServerDeployments.
      properties:
        gameServerDeployments:
          description: The list of game server deployments.
          items:
            $ref: "#/components/schemas/GameServerDeployment"
          type: array
        nextPageToken:
          description: Token to retrieve the next page of results, or empty if there are no more results in the list.
          type: string
        unreachable:
          description: List of locations that could not be reached.
          items:
            type: string
          type: array
      type: object
    ListLocationsResponse:
      description: The response message for Locations.ListLocations.
      properties:
        locations:
          description: A list of locations that matches the specified filter in the request.
          items:
            $ref: "#/components/schemas/Location"
          type: array
        nextPageToken:
          description: The standard List next-page token.
          type: string
      type: object
    ListOperationsResponse:
      description: The response message for Operations.ListOperations.
      properties:
        nextPageToken:
          description: The standard List next-page token.
          type: string
        operations:
          description: A list of operations that matches the specified filter in the request.
          items:
            $ref: "#/components/schemas/Operation"
          type: array
      type: object
    ListRealmsResponse:
      description: Response message for RealmsService.ListRealms.
      properties:
        nextPageToken:
          description: Token to retrieve the next page of results, or empty if there are no more results in the list.
          type: string
        realms:
          description: The list of realms.
          items:
            $ref: "#/components/schemas/Realm"
          type: array
        unreachable:
          description: List of locations that could not be reached.
          items:
            type: string
          type: array
      type: object
    Location:
      description: A resource that represents Google Cloud Platform location.
      properties:
        displayName:
          description: The friendly name for this location, typically a nearby city name. For example, "Tokyo".
          type: string
        labels:
          additionalProperties:
            type: string
          description: 'Cross-service attributes for the location. For example {"cloud.googleapis.com/region": "us-east1"}'
          type: object
        locationId:
          description: 'The canonical id for this location. For example: `"us-east1"`.'
          type: string
        metadata:
          additionalProperties:
            description: Properties of the object. Contains field @type with type URL.
          description: Service-specific metadata. For example the available capacity at the given location.
          type: object
        name:
          description: 'Resource name for the location, which may vary between implementations. For example: `"projects/example-project/locations/us-east1"`'
          type: string
      type: object
    LogConfig:
      description: Specifies what kind of log the caller must write
      properties:
        cloudAudit:
          $ref: "#/components/schemas/CloudAuditOptions"
          description: Cloud audit options.
        counter:
          $ref: "#/components/schemas/CounterOptions"
          description: Counter options.
        dataAccess:
          $ref: "#/components/schemas/DataAccessOptions"
          description: Data access options.
      type: object
    Operation:
      description: This resource represents a long-running operation that is the result of a network API call.
      properties:
        done:
          description: If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.
          type: boolean
        error:
          $ref: "#/components/schemas/Status"
          description: The error result of the operation in case of failure or cancellation.
        metadata:
          additionalProperties:
            description: Properties of the object. Contains field @type with type URL.
          description: Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.
          type: object
        name:
          description: The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.
          type: string
        response:
          additionalProperties:
            description: Properties of the object. Contains field @type with type URL.
          description: The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.
          type: object
      type: object
    OperationMetadata:
      description: Represents the metadata of the long-running operation.
      properties:
        apiVersion:
          description: Output only. API version used to start the operation.
          readOnly: true
          type: string
        createTime:
          description: Output only. The time the operation was created.
          format: google-datetime
          readOnly: true
          type: string
        endTime:
          description: Output only. The time the operation finished running.
          format: google-datetime
          readOnly: true
          type: string
        operationStatus:
          additionalProperties:
            $ref: "#/components/schemas/OperationStatus"
          description: Output only. Operation status for Game Services API operations. Operation status is in the form of key-value pairs where keys are resource IDs and the values show the status of the operation. In case of failures, the value includes an error code and error message.
          readOnly: true
          type: object
        requestedCancellation:
          description: Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.
          readOnly: true
          type: boolean
        statusMessage:
          description: Output only. Human-readable status of the operation, if any.
          readOnly: true
          type: string
        target:
          description: Output only. Server-defined resource path for the target of the operation.
          readOnly: true
          type: string
        unreachable:
          description: Output only. List of Locations that could not be reached.
          items:
            type: string
          readOnly: true
          type: array
        verb:
          description: Output only. Name of the verb executed by the operation.
          readOnly: true
          type: string
      type: object
    OperationStatus:
      properties:
        done:
          description: Output only. Whether the operation is done or still in progress.
          readOnly: true
          type: boolean
        errorCode:
          description: The error code in case of failures.
          enum:
            - ERROR_CODE_UNSPECIFIED
            - INTERNAL_ERROR
            - PERMISSION_DENIED
            - CLUSTER_CONNECTION
          type: string
        errorMessage:
          description: The human-readable error message.
          type: string
      type: object
    Policy:
      description: "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members` to a single `role`. Members can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') - etag: BwWWja0YfJA= - version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      properties:
        auditConfigs:
          description: Specifies cloud audit logging configuration for this policy.
          items:
            $ref: "#/components/schemas/AuditConfig"
          type: array
        bindings:
          description: Associates a list of `members` to a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one member.
          items:
            $ref: "#/components/schemas/Binding"
          type: array
        etag:
          description: "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          format: byte
          type: string
        iamOwned:
          type: boolean
        rules:
          description: "If more than one rule is specified, the rules are applied in the following manner: - All matching LOG rules are always applied. - If any DENY/DENY_WITH_LOG rule matches, permission is denied. Logging will be applied if one or more matching rule requires logging. - Otherwise, if any ALLOW/ALLOW_WITH_LOG rule matches, permission is granted. Logging will be applied if one or more matching rule requires logging. - Otherwise, if no rule applies, permission is denied."
          items:
            $ref: "#/components/schemas/Rule"
          type: array
        version:
          description: "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          format: int32
          type: integer
      type: object
    PreviewCreateGameServerClusterResponse:
      description: Response message for GameServerClustersService.PreviewCreateGameServerCluster.
      properties:
        etag:
          description: The ETag of the game server cluster.
          type: string
        targetState:
          $ref: "#/components/schemas/TargetState"
          description: The target state.
      type: object
    PreviewDeleteGameServerClusterResponse:
      description: Response message for GameServerClustersService.PreviewDeleteGameServerCluster.
      properties:
        etag:
          description: The ETag of the game server cluster.
          type: string
        targetState:
          $ref: "#/components/schemas/TargetState"
          description: The target state.
      type: object
    PreviewGameServerDeploymentRolloutResponse:
      description: Response message for PreviewGameServerDeploymentRollout. This has details about the Agones fleet and autoscaler to be actuated.
      properties:
        etag:
          description: ETag of the game server deployment.
          type: string
        targetState:
          $ref: "#/components/schemas/TargetState"
          description: The target state.
        unavailable:
          description: Locations that could not be reached on this request.
          items:
            type: string
          type: array
      type: object
    PreviewRealmUpdateResponse:
      description: Response message for RealmsService.PreviewRealmUpdate.
      properties:
        etag:
          description: ETag of the realm.
          type: string
        targetState:
          $ref: "#/components/schemas/TargetState"
          description: The target state.
      type: object
    PreviewUpdateGameServerClusterResponse:
      description: Response message for GameServerClustersService.PreviewUpdateGameServerCluster
      properties:
        etag:
          description: The ETag of the game server cluster.
          type: string
        targetState:
          $ref: "#/components/schemas/TargetState"
          description: The target state.
      type: object
    Realm:
      description: A realm resource.
      properties:
        createTime:
          description: Output only. The creation time.
          format: google-datetime
          readOnly: true
          type: string
        description:
          description: Human readable description of the realm.
          type: string
        etag:
          description: ETag of the resource.
          type: string
        labels:
          additionalProperties:
            type: string
          description: The labels associated with this realm. Each label is a key-value pair.
          type: object
        name:
          description: "The resource name of the realm. Uses the form: `projects/{project}/locations/{location}/realms/{realm}`. For example, `projects/my-project/locations/{location}/realms/my-realm`."
          type: string
        timeZone:
          description: "Required. Time zone where all policies targeting this realm are evaluated. The value of this field must be from the IANA time zone database: https://www.iana.org/time-zones."
          type: string
        updateTime:
          description: Output only. The last-modified time.
          format: google-datetime
          readOnly: true
          type: string
      type: object
    RealmSelector:
      description: The realm selector, used to match realm resources.
      properties:
        realms:
          description: List of realms to match.
          items:
            type: string
          type: array
      type: object
    Rule:
      description: A rule to be applied in a Policy.
      properties:
        action:
          description: Required
          enum:
            - NO_ACTION
            - ALLOW
            - ALLOW_WITH_LOG
            - DENY
            - DENY_WITH_LOG
            - LOG
          type: string
        conditions:
          description: Additional restrictions that must be met. All conditions must pass for the rule to match.
          items:
            $ref: "#/components/schemas/Condition"
          type: array
        description:
          description: Human-readable description of the rule.
          type: string
        in:
          description: If one or more 'in' clauses are specified, the rule matches if the PRINCIPAL/AUTHORITY_SELECTOR is in at least one of these entries.
          items:
            type: string
          type: array
        logConfig:
          description: The config returned to callers of tech.iam.IAM.CheckPolicy for any entries that match the LOG action.
          items:
            $ref: "#/components/schemas/LogConfig"
          type: array
        notIn:
          description: If one or more 'not_in' clauses are specified, the rule matches if the PRINCIPAL/AUTHORITY_SELECTOR is in none of the entries. The format for in and not_in entries can be found at in the Local IAM documentation (see go/local-iam#features).
          items:
            type: string
          type: array
        permissions:
          description: A permission is a string of form '..' (e.g., 'storage.buckets.list'). A value of '*' matches all permissions, and a verb part of '*' (e.g., 'storage.buckets.*') matches all verbs.
          items:
            type: string
          type: array
      type: object
    ScalingConfig:
      description: Autoscaling config for an Agones fleet.
      properties:
        fleetAutoscalerSpec:
          description: "Required. Agones fleet autoscaler spec. Example spec: https://agones.dev/site/docs/reference/fleetautoscaler/"
          type: string
        name:
          description: Required. The name of the Scaling Config
          type: string
        schedules:
          description: The schedules to which this Scaling Config applies.
          items:
            $ref: "#/components/schemas/Schedule"
          type: array
        selectors:
          description: Labels used to identify the game server clusters to which this Agones scaling config applies. A game server cluster is subject to this Agones scaling config if its labels match any of the selector entries.
          items:
            $ref: "#/components/schemas/LabelSelector"
          type: array
      type: object
    Schedule:
      description: "The schedule of a recurring or one time event. The event's time span is specified by start_time and end_time. If the scheduled event's timespan is larger than the cron_spec + cron_job_duration, the event will be recurring. If only cron_spec + cron_job_duration are specified, the event is effective starting at the local time specified by cron_spec, and is recurring. start_time|-------[cron job]-------[cron job]-------[cron job]---|end_time cron job: cron spec start time + duration"
      properties:
        cronJobDuration:
          description: The duration for the cron job event. The duration of the event is effective after the cron job's start time.
          format: google-duration
          type: string
        cronSpec:
          description: The cron definition of the scheduled event. See https://en.wikipedia.org/wiki/Cron. Cron spec specifies the local time as defined by the realm.
          type: string
        endTime:
          description: The end time of the event.
          format: google-datetime
          type: string
        startTime:
          description: The start time of the event.
          format: google-datetime
          type: string
      type: object
    SetIamPolicyRequest:
      description: Request message for `SetIamPolicy` method.
      properties:
        policy:
          $ref: "#/components/schemas/Policy"
          description: "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Cloud Platform services (such as Projects) might reject them."
        updateMask:
          description: 'OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: "bindings, etag"`'
          format: google-fieldmask
          type: string
      type: object
    SpecSource:
      description: Encapsulates Agones fleet spec and Agones autoscaler spec sources.
      properties:
        gameServerConfigName:
          description: "The game server config resource. Uses the form: `projects/{project}/locations/{location}/gameServerDeployments/{deployment_id}/configs/{config_id}`."
          type: string
        name:
          description: The name of the Agones leet config or Agones scaling config used to derive the Agones fleet or Agones autoscaler spec.
          type: string
      type: object
    Status:
      description: "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      properties:
        code:
          description: The status code, which should be an enum value of google.rpc.Code.
          format: int32
          type: integer
        details:
          description: A list of messages that carry the error details. There is a common set of message types for APIs to use.
          items:
            additionalProperties:
              description: Properties of the object. Contains field @type with type URL.
            type: object
          type: array
        message:
          description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.
          type: string
      type: object
    TargetDetails:
      description: Details about the Agones resources.
      properties:
        fleetDetails:
          description: Agones fleet details for game server clusters and game server deployments.
          items:
            $ref: "#/components/schemas/TargetFleetDetails"
          type: array
        gameServerClusterName:
          description: "The game server cluster name. Uses the form: `projects/{project}/locations/{location}/realms/{realm}/gameServerClusters/{cluster}`."
          type: string
        gameServerDeploymentName:
          description: "The game server deployment name. Uses the form: `projects/{project}/locations/{location}/gameServerDeployments/{deployment_id}`."
          type: string
      type: object
    TargetFleet:
      description: Target Agones fleet specification.
      properties:
        name:
          description: The name of the Agones fleet.
          type: string
        specSource:
          $ref: "#/components/schemas/SpecSource"
          description: Encapsulates the source of the Agones fleet spec. The Agones fleet spec source.
      type: object
    TargetFleetAutoscaler:
      description: Target Agones autoscaler policy reference.
      properties:
        name:
          description: The name of the Agones autoscaler.
          type: string
        specSource:
          $ref: "#/components/schemas/SpecSource"
          description: Encapsulates the source of the Agones fleet spec. Details about the Agones autoscaler spec.
      type: object
    TargetFleetDetails:
      description: Details of the target Agones fleet.
      properties:
        autoscaler:
          $ref: "#/components/schemas/TargetFleetAutoscaler"
          description: Reference to target Agones fleet autoscaling policy.
        fleet:
          $ref: "#/components/schemas/TargetFleet"
          description: Reference to target Agones fleet.
      type: object
    TargetState:
      description: Encapsulates the Target state.
      properties:
        details:
          description: Details about Agones fleets.
          items:
            $ref: "#/components/schemas/TargetDetails"
          type: array
      type: object
    TestIamPermissionsRequest:
      description: Request message for `TestIamPermissions` method.
      properties:
        permissions:
          description: The set of permissions to check for the `resource`. Permissions with wildcards (such as '*' or 'storage.*') are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).
          items:
            type: string
          type: array
      type: object
    TestIamPermissionsResponse:
      description: Response message for `TestIamPermissions` method.
      properties:
        permissions:
          description: A subset of `TestPermissionsRequest.permissions` that the caller is allowed.
          items:
            type: string
          type: array
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: View and manage your data across Google Cloud Platform services
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: View and manage your data across Google Cloud Platform services
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
