swagger: '2.0'
schemes:
  - http
  - https
host: api.fantasydata.net
basePath: /golf/v2
info:
  contact:
    x-twitter: nfldata
  title: Golf v2
  version: '1.0'
  x-apisguru-categories:
    - entertainment
  x-logo:
    url: 'https://twitter.com/nfldata/profile_image?size=original'
  x-origin:
    - format: swagger
      url: 'https://fantasydata.com/downloads/swagger/golf-v2.json'
      version: '2.0'
  x-providerName: fantasydata.net
  x-serviceName: golf-v2
produces:
  - application/json
securityDefinitions:
  apiKeyHeader:
    in: header
    name: Ocp-Apim-Subscription-Key
    type: apiKey
  apiKeyQuery:
    in: query
    name: subscription-key
    type: apiKey
security:
  - apiKeyHeader: []
  - apiKeyQuery: []
tags: []
paths:
  '/{format}/DfsSlatesByTournament/{tournamentid}':
    get:
      operationId: DfsSlates
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: 'The TournamentID of a tournament.  TournamentIDs can be found in the Tournaments API.  Valid entries are <code>58</code>, <code>61</code>, etc.'
          in: path
          name: tournamentid
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/DfsSlate'
            type: array
      summary: DFS Slates
  '/{format}/Injuries':
    get:
      operationId: Injuries
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/Injury'
            type: array
      summary: Injuries
  '/{format}/InjuriesByHistorical':
    get:
      operationId: InjuriesHistorical
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/Injury'
            type: array
      summary: Injuries (Historical)
  '/{format}/Leaderboard/{tournamentid}':
    get:
      operationId: Leaderboard
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: 'The TournamentID of a tournament.  TournamentIDs can be found in the Tournaments API.  Valid entries are <code>58</code>, <code>61</code>, etc.'
          in: path
          name: tournamentid
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Leaderboard'
      summary: Leaderboard
  '/{format}/News':
    get:
      operationId: News
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/News'
            type: array
      summary: News
  '/{format}/NewsByDate/{date}':
    get:
      operationId: NewsByDate
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |-
            The date of the game(s).
            <br>Examples: <code>2015-JUL-31</code>, <code>2015-SEP-01</code>.
          in: path
          name: date
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/News'
            type: array
      summary: News by Date
  '/{format}/NewsByPlayerID/{playerid}':
    get:
      operationId: NewsByPlayer
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |-
            Unique FantasyData Player ID.
            Example:<code>40000019</code>.
          in: path
          name: playerid
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/News'
            type: array
      summary: News by Player
  '/{format}/Player/{playerid}':
    get:
      operationId: Player
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |-
            Unique FantasyData Player ID.
            Example:<code>40000019</code>.
          in: path
          name: playerid
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Player'
      summary: Player
  '/{format}/PlayerSeasonStats/{season}':
    get:
      operationId: PlayerSeasonStatsWWorldGolfRankings
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |-
            Year of the season.
            <br>Examples: <code>2016</code>, <code>2017</code>.
          in: path
          name: season
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/PlayerSeason'
            type: array
      summary: Player Season Stats (w/ World Golf Rankings)
  '/{format}/PlayerTournamentProjectionStats/{tournamentid}':
    get:
      operationId: PlayerTournamentProjectedStatsWDraftkingsSalaries
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: 'The TournamentID of a tournament.  TournamentIDs can be found in the Tournaments API.  Valid entries are <code>78</code>, <code>79</code>, <code>80</code>, etc.'
          in: path
          name: tournamentid
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/PlayerTournamentProjection'
            type: array
      summary: Player Tournament Projected Stats (w/ DraftKings Salaries)
  '/{format}/PlayerTournamentStatsByPlayer/{tournamentid}/{playerid}':
    get:
      operationId: PlayerTournamentStatsByPlayer
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: 'The TournamentID of a tournament.  TournamentIDs can be found in the Tournaments API.  Valid entries are <code>58</code>, <code>61</code>, etc.'
          in: path
          name: tournamentid
          required: true
          type: string
        - description: |-
            Unique FantasyData Player ID.
            Example:<code>40000019</code>.
          in: path
          name: playerid
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/PlayerTournament'
      summary: Player Tournament Stats By Player
  '/{format}/Players':
    get:
      operationId: Players
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/Player'
            type: array
      summary: Players
  '/{format}/Tournaments':
    get:
      operationId: Schedule
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/Tournament'
            type: array
      summary: Schedule
  '/{format}/Tournaments/{season}':
    get:
      operationId: ScheduleBySeason
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |-
            Year of the season.
            <br>Examples: <code>2016</code>, <code>2017</code>.
          in: path
          name: season
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/Tournament'
            type: array
      summary: Schedule by Season
definitions:
  DfsSlate:
    properties:
      DfsSlatePlayers:
        items:
          $ref: '#/definitions/DfsSlatePlayer'
        type: array
      DfsSlateTournaments:
        items:
          $ref: '#/definitions/DfsSlateTournament'
        type: array
      IsMultiDaySlate:
        type: boolean
      NumberOfTournaments:
        type: integer
      Operator:
        type: string
      OperatorDay:
        type: string
      OperatorGameType:
        type: string
      OperatorName:
        type: string
      OperatorSlateID:
        type: integer
      OperatorStartTime:
        type: string
      RemovedByOperator:
        type: boolean
      SlateID:
        type: integer
  DfsSlatePlayer:
    properties:
      OperatorPlayerID:
        type: string
      OperatorPlayerName:
        type: string
      OperatorPosition:
        type: string
      OperatorRosterSlots:
        items:
          type: string
        type: array
      OperatorSalary:
        type: integer
      OperatorSlatePlayerID:
        type: string
      PlayerID:
        type: integer
      PlayerTournamentProjectionID:
        type: integer
      RemovedByOperator:
        type: boolean
      SlateID:
        type: integer
      SlatePlayerID:
        type: integer
      SlateTournamentID:
        type: integer
  DfsSlateTournament:
    properties:
      OperatorTournamentID:
        type: integer
      RemovedByOperator:
        type: boolean
      SlateID:
        type: integer
      SlateTournamentID:
        type: integer
      Tournament:
        $ref: '#/definitions/Tournament'
      TournamentID:
        type: integer
  Injury:
    properties:
      Active:
        type: boolean
      BodyPart:
        type: string
      ExpectedReturn:
        type: string
      InjuryID:
        type: integer
      Name:
        type: string
      PlayerID:
        type: integer
      StartDate:
        type: string
      Status:
        type: string
  Leaderboard:
    properties:
      Players:
        items:
          $ref: '#/definitions/PlayerTournament'
        type: array
      Tournament:
        $ref: '#/definitions/Tournament'
  News:
    properties:
      Content:
        type: string
      NewsID:
        type: integer
      PlayerID:
        type: integer
      Source:
        type: string
      TermsOfUse:
        type: string
      Title:
        type: string
      Updated:
        type: string
      Url:
        type: string
  Player:
    properties:
      BirthCity:
        type: string
      BirthDate:
        type: string
      BirthState:
        type: string
      College:
        type: string
      Country:
        type: string
      DraftKingsName:
        type: string
      FanDuelName:
        type: string
      FantasyAlarmPlayerID:
        type: integer
      FantasyDraftName:
        type: string
      FantasyDraftPlayerID:
        type: integer
      FirstName:
        type: string
      LastName:
        type: string
      PgaDebut:
        type: integer
      PgaTourPlayerID:
        type: integer
      PhotoUrl:
        type: string
      PlayerID:
        type: integer
      RotoWirePlayerID:
        type: integer
      RotoworldPlayerID:
        type: integer
      SportRadarPlayerID:
        type: string
      Swings:
        type: string
      Weight:
        type: integer
  PlayerHole:
    properties:
      Birdie:
        type: boolean
      Bogey:
        type: boolean
      DoubleBogey:
        type: boolean
      DoubleEagle:
        type: boolean
      Eagle:
        type: boolean
      HoleInOne:
        type: boolean
      IsPar:
        type: boolean
      Number:
        type: integer
      Par:
        type: integer
      PlayerRoundID:
        type: integer
      Score:
        type: integer
      ToPar:
        type: integer
      WorseThanDoubleBogey:
        type: boolean
  PlayerRound:
    properties:
      Birdies:
        type: integer
      BogeyFree:
        type: boolean
      Bogeys:
        type: integer
      BounceBackCount:
        type: number
      ConsecutiveBirdieOrBetterCount:
        type: number
      Day:
        type: string
      DoubleBogeys:
        type: integer
      DoubleEagles:
        type: integer
      Eagles:
        type: integer
      HoleInOnes:
        type: integer
      Holes:
        items:
          $ref: '#/definitions/PlayerHole'
        type: array
      IncludesFiveOrMoreBirdiesOrBetter:
        type: boolean
      IncludesStreakOfFiveBirdiesOrBetter:
        type: boolean
      IncludesStreakOfFourBirdiesOrBetter:
        type: boolean
      IncludesStreakOfSixBirdiesOrBetter:
        type: boolean
      IncludesStreakOfThreeBirdiesOrBetter:
        type: boolean
      LongestBirdieOrBetterStreak:
        type: number
      Number:
        type: integer
      Par:
        type: integer
      Pars:
        type: integer
      PlayerRoundID:
        type: integer
      PlayerTournamentID:
        type: integer
      Score:
        type: integer
      TripleBogeys:
        type: integer
      WorseThanDoubleBogey:
        type: integer
      WorseThanTripleBogey:
        type: integer
  PlayerSeason:
    properties:
      AveragePoints:
        type: number
      Events:
        type: integer
      Name:
        type: string
      PlayerID:
        type: integer
      PlayerSeasonID:
        type: integer
      PointsGained:
        type: number
      PointsLost:
        type: number
      Season:
        type: integer
      TotalPoints:
        type: number
      WorldGolfRank:
        type: integer
      WorldGolfRankLastWeek:
        type: integer
  PlayerTournament:
    properties:
      Birdies:
        type: number
      BogeyFreeRounds:
        type: number
      Bogeys:
        type: number
      BounceBackCount:
        type: number
      ConsecutiveBirdieOrBetterCount:
        type: number
      Country:
        type: string
      DoubleBogeys:
        type: number
      DoubleEagles:
        type: number
      DraftKingsSalary:
        type: integer
      Eagles:
        type: number
      Earnings:
        type: number
      FanDuelSalary:
        type: integer
      FantasyDraftSalary:
        type: integer
      FantasyPoints:
        type: number
      FantasyPointsDraftKings:
        type: number
      FantasyPointsFanDuel:
        type: number
      FantasyPointsFantasyDraft:
        type: number
      FantasyPointsYahoo:
        type: number
      FedExPoints:
        type: integer
      HoleInOnes:
        type: number
      IsAlternate:
        type: boolean
      IsWithdrawn:
        type: boolean
      MadeCut:
        type: number
      MadeCutDidNotFinish:
        type: boolean
      Name:
        type: string
      OddsToWin:
        type: number
      OddsToWinDescription:
        type: string
      Pars:
        type: number
      PlayerID:
        type: integer
      PlayerTournamentID:
        type: integer
      Rank:
        type: integer
      Rounds:
        items:
          $ref: '#/definitions/PlayerRound'
        type: array
      RoundsUnderSeventy:
        type: number
      "RoundsWithFiveOrMoreBirdiesOrBetter\_":
        type: number
      StreaksOfFiveBirdiesOrBetter:
        type: number
      StreaksOfFourBirdiesOrBetter:
        type: number
      StreaksOfSixBirdiesOrBetter:
        type: number
      StreaksOfThreeBirdiesOrBetter:
        type: number
      TeeTime:
        type: string
      TotalScore:
        type: number
      TotalStrokes:
        type: number
      TotalThrough:
        type: integer
      TournamentID:
        type: integer
      TournamentStatus:
        type: string
      TripleBogeys:
        type: number
      Win:
        type: number
      WorseThanDoubleBogey:
        type: number
      WorseThanTripleBogey:
        type: number
  PlayerTournamentProjection:
    properties:
      Birdies:
        type: number
      BogeyFreeRounds:
        type: number
      Bogeys:
        type: number
      BounceBackCount:
        type: number
      ConsecutiveBirdieOrBetterCount:
        type: number
      Country:
        type: string
      DoubleBogeys:
        type: number
      DoubleEagles:
        type: number
      DraftKingsSalary:
        type: integer
      Eagles:
        type: number
      Earnings:
        type: number
      FanDuelSalary:
        type: integer
      FantasyDraftSalary:
        type: integer
      FantasyPoints:
        type: number
      FantasyPointsDraftKings:
        type: number
      FantasyPointsFanDuel:
        type: number
      FantasyPointsFantasyDraft:
        type: number
      FantasyPointsYahoo:
        type: number
      FedExPoints:
        type: integer
      HoleInOnes:
        type: number
      IsAlternate:
        type: boolean
      IsWithdrawn:
        type: boolean
      MadeCut:
        type: number
      MadeCutDidNotFinish:
        type: boolean
      Name:
        type: string
      OddsToWin:
        type: number
      OddsToWinDescription:
        type: string
      Pars:
        type: number
      PlayerID:
        type: integer
      PlayerTournamentID:
        type: integer
      Rank:
        type: integer
      Rounds:
        items:
          $ref: '#/definitions/PlayerRound'
        type: array
      RoundsUnderSeventy:
        type: number
      "RoundsWithFiveOrMoreBirdiesOrBetter\_":
        type: number
      StreaksOfFiveBirdiesOrBetter:
        type: number
      StreaksOfFourBirdiesOrBetter:
        type: number
      StreaksOfSixBirdiesOrBetter:
        type: number
      StreaksOfThreeBirdiesOrBetter:
        type: number
      TeeTime:
        type: string
      TotalScore:
        type: number
      TotalStrokes:
        type: number
      TotalThrough:
        type: integer
      TournamentID:
        type: integer
      TournamentStatus:
        type: string
      TripleBogeys:
        type: number
      Win:
        type: number
      WorseThanDoubleBogey:
        type: number
      WorseThanTripleBogey:
        type: number
  Round:
    properties:
      Day:
        type: string
      Number:
        type: integer
      RoundID:
        type: integer
      TournamentID:
        type: integer
  Tournament:
    properties:
      Canceled:
        type: boolean
      City:
        type: string
      Country:
        type: string
      Covered:
        type: boolean
      EndDate:
        type: string
      Format:
        type: string
      IsInProgress:
        type: boolean
      IsOver:
        type: boolean
      Location:
        type: string
      Name:
        type: string
      Par:
        type: integer
      Purse:
        type: number
      Rounds:
        items:
          $ref: '#/definitions/Round'
        type: array
      SportRadarTournamentID:
        type: string
      StartDate:
        type: string
      StartDateTime:
        type: string
      State:
        type: string
      TimeZone:
        type: string
      TournamentID:
        type: integer
      Venue:
        type: string
      Yards:
        type: integer
      ZipCode:
        type: string
x-servers:
  - url: 'http://api.fantasydata.net'
  - url: 'https://api.fantasydata.net'
  - url: 'http://fantasydata-northcentralus-01.regional.azure-api.net'
  - url: 'https://fantasydata-northcentralus-01.regional.azure-api.net'
