swagger: "2.0"
info:
  version: 2016-04-18
  x-release: v4
  title: Amazon Cognito Identity Provider
  description: <p>Using the Amazon Cognito User Pools API, you can create a user pool to
    manage directories and users. You can authenticate a user to obtain tokens
    related to user identity and access policies.</p> <p>This API reference
    provides information about user pools in Amazon Cognito User Pools.</p>
    <p>For more information, see the Amazon Cognito Documentation.</p>
  x-logo:
    url: https://twitter.com/awscloud/profile_image?size=original
    backgroundColor: "#FFFFFF"
  termsOfService: https://aws.amazon.com/service-terms/
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: https://github.com/mermade/aws2openapi
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: http://www.apache.org/licenses/
  x-providerName: amazonaws.com
  x-serviceName: cognito-idp
  x-origin:
    - contentType: application/json
      url: https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/cognito-idp-2016-04-18.normal.json
      converter:
        url: https://github.com/mermade/aws2openapi
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: https://docs.aws.amazon.com/cognito-idp/
host: cognito-idp.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /#X-Amz-Target=AWSCognitoIdentityProviderService.AddCustomAttributes:
    post:
      operationId: AddCustomAttributes
      description: Adds additional user attributes to the user pool schema.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/AddCustomAttributesResponse"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterException
          schema:
            $ref: "#/definitions/InvalidParameterException"
        "482":
          description: TooManyRequestsException
          schema:
            $ref: "#/definitions/TooManyRequestsException"
        "483":
          description: NotAuthorizedException
          schema:
            $ref: "#/definitions/NotAuthorizedException"
        "484":
          description: UserImportInProgressException
          schema:
            $ref: "#/definitions/UserImportInProgressException"
        "485":
          description: InternalErrorException
          schema:
            $ref: "#/definitions/InternalErrorException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/AddCustomAttributesRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityProviderService.AddCustomAttributes
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSCognitoIdentityProviderService.AdminAddUserToGroup:
    post:
      operationId: AdminAddUserToGroup
      description: <p>Adds the specified user to the specified group.</p> <p>Requires
        developer credentials.</p>
      responses:
        "200":
          description: Success
        "480":
          description: InvalidParameterException
          schema:
            $ref: "#/definitions/InvalidParameterException"
        "481":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "482":
          description: TooManyRequestsException
          schema:
            $ref: "#/definitions/TooManyRequestsException"
        "483":
          description: NotAuthorizedException
          schema:
            $ref: "#/definitions/NotAuthorizedException"
        "484":
          description: UserNotFoundException
          schema:
            $ref: "#/definitions/UserNotFoundException"
        "485":
          description: InternalErrorException
          schema:
            $ref: "#/definitions/InternalErrorException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/AdminAddUserToGroupRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityProviderService.AdminAddUserToGroup
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSCognitoIdentityProviderService.AdminConfirmSignUp:
    post:
      operationId: AdminConfirmSignUp
      description: <p>Confirms user registration as an admin without using a confirmation
        code. Works on any user.</p> <p>Requires developer credentials.</p>
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/AdminConfirmSignUpResponse"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterException
          schema:
            $ref: "#/definitions/InvalidParameterException"
        "482":
          description: UnexpectedLambdaException
          schema:
            $ref: "#/definitions/UnexpectedLambdaException"
        "483":
          description: UserLambdaValidationException
          schema:
            $ref: "#/definitions/UserLambdaValidationException"
        "484":
          description: NotAuthorizedException
          schema:
            $ref: "#/definitions/NotAuthorizedException"
        "485":
          description: TooManyFailedAttemptsException
          schema:
            $ref: "#/definitions/TooManyFailedAttemptsException"
        "486":
          description: InvalidLambdaResponseException
          schema:
            $ref: "#/definitions/InvalidLambdaResponseException"
        "487":
          description: TooManyRequestsException
          schema:
            $ref: "#/definitions/TooManyRequestsException"
        "488":
          description: LimitExceededException
          schema:
            $ref: "#/definitions/LimitExceededException"
        "489":
          description: UserNotFoundException
          schema:
            $ref: "#/definitions/UserNotFoundException"
        "490":
          description: InternalErrorException
          schema:
            $ref: "#/definitions/InternalErrorException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/AdminConfirmSignUpRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityProviderService.AdminConfirmSignUp
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSCognitoIdentityProviderService.AdminCreateUser:
    post:
      operationId: AdminCreateUser
      description: <p>Creates a new user in the specified user pool.</p> <p>If
        <code>MessageAction</code> is not set, the default is to send a welcome
        message via email or phone (SMS).</p> <note> <p>This message is based on
        a template that you configured in your call to or . This template
        includes your custom sign-up instructions and placeholders for user name
        and temporary password.</p> </note> <p>Alternatively, you can call
        AdminCreateUser with “SUPPRESS” for the <code>MessageAction</code>
        parameter, and Amazon Cognito will not send any email. </p> <p>In either
        case, the user will be in the <code>FORCE_CHANGE_PASSWORD</code> state
        until they sign in and change their password.</p> <p>AdminCreateUser
        requires developer credentials.</p>
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/AdminCreateUserResponse"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterException
          schema:
            $ref: "#/definitions/InvalidParameterException"
        "482":
          description: UserNotFoundException
          schema:
            $ref: "#/definitions/UserNotFoundException"
        "483":
          description: UsernameExistsException
          schema:
            $ref: "#/definitions/UsernameExistsException"
        "484":
          description: InvalidPasswordException
          schema:
            $ref: "#/definitions/InvalidPasswordException"
        "485":
          description: CodeDeliveryFailureException
          schema:
            $ref: "#/definitions/CodeDeliveryFailureException"
        "486":
          description: UnexpectedLambdaException
          schema:
            $ref: "#/definitions/UnexpectedLambdaException"
        "487":
          description: UserLambdaValidationException
          schema:
            $ref: "#/definitions/UserLambdaValidationException"
        "488":
          description: InvalidLambdaResponseException
          schema:
            $ref: "#/definitions/InvalidLambdaResponseException"
        "489":
          description: PreconditionNotMetException
          schema:
            $ref: "#/definitions/PreconditionNotMetException"
        "490":
          description: InvalidSmsRoleAccessPolicyException
          schema:
            $ref: "#/definitions/InvalidSmsRoleAccessPolicyException"
        "491":
          description: InvalidSmsRoleTrustRelationshipException
          schema:
            $ref: "#/definitions/InvalidSmsRoleTrustRelationshipException"
        "492":
          description: TooManyRequestsException
          schema:
            $ref: "#/definitions/TooManyRequestsException"
        "493":
          description: NotAuthorizedException
          schema:
            $ref: "#/definitions/NotAuthorizedException"
        "494":
          description: UnsupportedUserStateException
          schema:
            $ref: "#/definitions/UnsupportedUserStateException"
        "495":
          description: InternalErrorException
          schema:
            $ref: "#/definitions/InternalErrorException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/AdminCreateUserRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityProviderService.AdminCreateUser
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSCognitoIdentityProviderService.AdminDeleteUser:
    post:
      operationId: AdminDeleteUser
      description: <p>Deletes a user as an administrator. Works on any user.</p>
        <p>Requires developer credentials.</p>
      responses:
        "200":
          description: Success
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterException
          schema:
            $ref: "#/definitions/InvalidParameterException"
        "482":
          description: TooManyRequestsException
          schema:
            $ref: "#/definitions/TooManyRequestsException"
        "483":
          description: NotAuthorizedException
          schema:
            $ref: "#/definitions/NotAuthorizedException"
        "484":
          description: UserNotFoundException
          schema:
            $ref: "#/definitions/UserNotFoundException"
        "485":
          description: InternalErrorException
          schema:
            $ref: "#/definitions/InternalErrorException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/AdminDeleteUserRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityProviderService.AdminDeleteUser
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSCognitoIdentityProviderService.AdminDeleteUserAttributes:
    post:
      operationId: AdminDeleteUserAttributes
      description: <p>Deletes the user attributes in a user pool as an administrator. Works
        on any user.</p> <p>Requires developer credentials.</p>
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/AdminDeleteUserAttributesResponse"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterException
          schema:
            $ref: "#/definitions/InvalidParameterException"
        "482":
          description: TooManyRequestsException
          schema:
            $ref: "#/definitions/TooManyRequestsException"
        "483":
          description: NotAuthorizedException
          schema:
            $ref: "#/definitions/NotAuthorizedException"
        "484":
          description: UserNotFoundException
          schema:
            $ref: "#/definitions/UserNotFoundException"
        "485":
          description: InternalErrorException
          schema:
            $ref: "#/definitions/InternalErrorException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/AdminDeleteUserAttributesRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityProviderService.AdminDeleteUserAttributes
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSCognitoIdentityProviderService.AdminDisableProviderForUser:
    post:
      operationId: AdminDisableProviderForUser
      description: <p>Disables the user from signing in with the specified external (SAML
        or social) identity provider. If the user to disable is a Cognito User
        Pools native username + password user, they are not permitted to use
        their password to sign-in. If the user to disable is a linked external
        IdP user, any link between that user and an existing user is removed.
        The next time the external user (no longer attached to the previously
        linked <code>DestinationUser</code>) signs in, they must create a new
        user account. See .</p> <p>This action is enabled only for admin access
        and requires developer credentials.</p> <p>The <code>ProviderName</code>
        must match the value specified when creating an IdP for the pool. </p>
        <p>To disable a native username + password user, the
        <code>ProviderName</code> value must be <code>Cognito</code> and the
        <code>ProviderAttributeName</code> must be <code>Cognito_Subject</code>,
        with the <code>ProviderAttributeValue</code> being the name that is used
        in the user pool for the user.</p> <p>The
        <code>ProviderAttributeName</code> must always be
        <code>Cognito_Subject</code> for social identity providers. The
        <code>ProviderAttributeValue</code> must always be the exact subject
        that was used when the user was originally linked as a source user.</p>
        <p>For de-linking a SAML identity, there are two scenarios. If the
        linked identity has not yet been used to sign-in, the
        <code>ProviderAttributeName</code> and
        <code>ProviderAttributeValue</code> must be the same values that were
        used for the <code>SourceUser</code> when the identities were originally
        linked in the call. (If the linking was done with
        <code>ProviderAttributeName</code> set to <code>Cognito_Subject</code>,
        the same applies here). However, if the user has already signed in, the
        <code>ProviderAttributeName</code> must be <code>Cognito_Subject</code>
        and <code>ProviderAttributeValue</code> must be the subject of the SAML
        assertion.</p>
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/AdminDisableProviderForUserResponse"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterException
          schema:
            $ref: "#/definitions/InvalidParameterException"
        "482":
          description: TooManyRequestsException
          schema:
            $ref: "#/definitions/TooManyRequestsException"
        "483":
          description: NotAuthorizedException
          schema:
            $ref: "#/definitions/NotAuthorizedException"
        "484":
          description: UserNotFoundException
          schema:
            $ref: "#/definitions/UserNotFoundException"
        "485":
          description: AliasExistsException
          schema:
            $ref: "#/definitions/AliasExistsException"
        "486":
          description: InternalErrorException
          schema:
            $ref: "#/definitions/InternalErrorException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/AdminDisableProviderForUserRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityProviderService.AdminDisableProviderForUser
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSCognitoIdentityProviderService.AdminDisableUser:
    post:
      operationId: AdminDisableUser
      description: <p>Disables the specified user as an administrator. Works on any
        user.</p> <p>Requires developer credentials.</p>
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/AdminDisableUserResponse"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterException
          schema:
            $ref: "#/definitions/InvalidParameterException"
        "482":
          description: TooManyRequestsException
          schema:
            $ref: "#/definitions/TooManyRequestsException"
        "483":
          description: NotAuthorizedException
          schema:
            $ref: "#/definitions/NotAuthorizedException"
        "484":
          description: UserNotFoundException
          schema:
            $ref: "#/definitions/UserNotFoundException"
        "485":
          description: InternalErrorException
          schema:
            $ref: "#/definitions/InternalErrorException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/AdminDisableUserRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityProviderService.AdminDisableUser
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSCognitoIdentityProviderService.AdminEnableUser:
    post:
      operationId: AdminEnableUser
      description: <p>Enables the specified user as an administrator. Works on any
        user.</p> <p>Requires developer credentials.</p>
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/AdminEnableUserResponse"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterException
          schema:
            $ref: "#/definitions/InvalidParameterException"
        "482":
          description: TooManyRequestsException
          schema:
            $ref: "#/definitions/TooManyRequestsException"
        "483":
          description: NotAuthorizedException
          schema:
            $ref: "#/definitions/NotAuthorizedException"
        "484":
          description: UserNotFoundException
          schema:
            $ref: "#/definitions/UserNotFoundException"
        "485":
          description: InternalErrorException
          schema:
            $ref: "#/definitions/InternalErrorException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/AdminEnableUserRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityProviderService.AdminEnableUser
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSCognitoIdentityProviderService.AdminForgetDevice:
    post:
      operationId: AdminForgetDevice
      description: <p>Forgets the device, as an administrator.</p> <p>Requires developer
        credentials.</p>
      responses:
        "200":
          description: Success
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterException
          schema:
            $ref: "#/definitions/InvalidParameterException"
        "482":
          description: InvalidUserPoolConfigurationException
          schema:
            $ref: "#/definitions/InvalidUserPoolConfigurationException"
        "483":
          description: TooManyRequestsException
          schema:
            $ref: "#/definitions/TooManyRequestsException"
        "484":
          description: NotAuthorizedException
          schema:
            $ref: "#/definitions/NotAuthorizedException"
        "485":
          description: UserNotFoundException
          schema:
            $ref: "#/definitions/UserNotFoundException"
        "486":
          description: InternalErrorException
          schema:
            $ref: "#/definitions/InternalErrorException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/AdminForgetDeviceRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityProviderService.AdminForgetDevice
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSCognitoIdentityProviderService.AdminGetDevice:
    post:
      operationId: AdminGetDevice
      description: <p>Gets the device, as an administrator.</p> <p>Requires developer
        credentials.</p>
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/AdminGetDeviceResponse"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterException
          schema:
            $ref: "#/definitions/InvalidParameterException"
        "482":
          description: InvalidUserPoolConfigurationException
          schema:
            $ref: "#/definitions/InvalidUserPoolConfigurationException"
        "483":
          description: TooManyRequestsException
          schema:
            $ref: "#/definitions/TooManyRequestsException"
        "484":
          description: InternalErrorException
          schema:
            $ref: "#/definitions/InternalErrorException"
        "485":
          description: NotAuthorizedException
          schema:
            $ref: "#/definitions/NotAuthorizedException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/AdminGetDeviceRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityProviderService.AdminGetDevice
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSCognitoIdentityProviderService.AdminGetUser:
    post:
      operationId: AdminGetUser
      description: <p>Gets the specified user by user name in a user pool as an
        administrator. Works on any user.</p> <p>Requires developer
        credentials.</p>
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/AdminGetUserResponse"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterException
          schema:
            $ref: "#/definitions/InvalidParameterException"
        "482":
          description: TooManyRequestsException
          schema:
            $ref: "#/definitions/TooManyRequestsException"
        "483":
          description: NotAuthorizedException
          schema:
            $ref: "#/definitions/NotAuthorizedException"
        "484":
          description: UserNotFoundException
          schema:
            $ref: "#/definitions/UserNotFoundException"
        "485":
          description: InternalErrorException
          schema:
            $ref: "#/definitions/InternalErrorException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/AdminGetUserRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityProviderService.AdminGetUser
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSCognitoIdentityProviderService.AdminInitiateAuth:
    post:
      operationId: AdminInitiateAuth
      description: <p>Initiates the authentication flow, as an administrator.</p>
        <p>Requires developer credentials.</p>
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/AdminInitiateAuthResponse"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterException
          schema:
            $ref: "#/definitions/InvalidParameterException"
        "482":
          description: NotAuthorizedException
          schema:
            $ref: "#/definitions/NotAuthorizedException"
        "483":
          description: TooManyRequestsException
          schema:
            $ref: "#/definitions/TooManyRequestsException"
        "484":
          description: InternalErrorException
          schema:
            $ref: "#/definitions/InternalErrorException"
        "485":
          description: UnexpectedLambdaException
          schema:
            $ref: "#/definitions/UnexpectedLambdaException"
        "486":
          description: InvalidUserPoolConfigurationException
          schema:
            $ref: "#/definitions/InvalidUserPoolConfigurationException"
        "487":
          description: UserLambdaValidationException
          schema:
            $ref: "#/definitions/UserLambdaValidationException"
        "488":
          description: InvalidLambdaResponseException
          schema:
            $ref: "#/definitions/InvalidLambdaResponseException"
        "489":
          description: MFAMethodNotFoundException
          schema:
            $ref: "#/definitions/MFAMethodNotFoundException"
        "490":
          description: InvalidSmsRoleAccessPolicyException
          schema:
            $ref: "#/definitions/InvalidSmsRoleAccessPolicyException"
        "491":
          description: InvalidSmsRoleTrustRelationshipException
          schema:
            $ref: "#/definitions/InvalidSmsRoleTrustRelationshipException"
        "492":
          description: PasswordResetRequiredException
          schema:
            $ref: "#/definitions/PasswordResetRequiredException"
        "493":
          description: UserNotFoundException
          schema:
            $ref: "#/definitions/UserNotFoundException"
        "494":
          description: UserNotConfirmedException
          schema:
            $ref: "#/definitions/UserNotConfirmedException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/AdminInitiateAuthRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityProviderService.AdminInitiateAuth
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSCognitoIdentityProviderService.AdminLinkProviderForUser:
    post:
      operationId: AdminLinkProviderForUser
      description: <p>Links an existing user account in a user pool
        (<code>DestinationUser</code>) to an identity from an external identity
        provider (<code>SourceUser</code>) based on a specified attribute name
        and value from the external identity provider. This allows you to create
        a link from the existing user account to an external federated user
        identity that has not yet been used to sign in, so that the federated
        user identity can be used to sign in as the existing user account. </p>
        <p> For example, if there is an existing user with a username and
        password, this API links that user to a federated user identity, so that
        when the federated user identity is used, the user signs in as the
        existing user account. </p> <important> <p>Because this API allows a
        user with an external federated identity to sign in as an existing user
        in the user pool, it is critical that it only be used with external
        identity providers and provider attributes that have been trusted by the
        application owner.</p> </important> <p>See also .</p> <p>This action is
        enabled only for admin access and requires developer credentials.</p>
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/AdminLinkProviderForUserResponse"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterException
          schema:
            $ref: "#/definitions/InvalidParameterException"
        "482":
          description: TooManyRequestsException
          schema:
            $ref: "#/definitions/TooManyRequestsException"
        "483":
          description: NotAuthorizedException
          schema:
            $ref: "#/definitions/NotAuthorizedException"
        "484":
          description: UserNotFoundException
          schema:
            $ref: "#/definitions/UserNotFoundException"
        "485":
          description: AliasExistsException
          schema:
            $ref: "#/definitions/AliasExistsException"
        "486":
          description: InternalErrorException
          schema:
            $ref: "#/definitions/InternalErrorException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/AdminLinkProviderForUserRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityProviderService.AdminLinkProviderForUser
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSCognitoIdentityProviderService.AdminListDevices:
    post:
      operationId: AdminListDevices
      description: <p>Lists devices, as an administrator.</p> <p>Requires developer
        credentials.</p>
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/AdminListDevicesResponse"
        "480":
          description: InvalidParameterException
          schema:
            $ref: "#/definitions/InvalidParameterException"
        "481":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "482":
          description: InvalidUserPoolConfigurationException
          schema:
            $ref: "#/definitions/InvalidUserPoolConfigurationException"
        "483":
          description: TooManyRequestsException
          schema:
            $ref: "#/definitions/TooManyRequestsException"
        "484":
          description: InternalErrorException
          schema:
            $ref: "#/definitions/InternalErrorException"
        "485":
          description: NotAuthorizedException
          schema:
            $ref: "#/definitions/NotAuthorizedException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/AdminListDevicesRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityProviderService.AdminListDevices
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSCognitoIdentityProviderService.AdminListGroupsForUser:
    post:
      operationId: AdminListGroupsForUser
      description: <p>Lists the groups that the user belongs to.</p> <p>Requires developer
        credentials.</p>
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/AdminListGroupsForUserResponse"
        "480":
          description: InvalidParameterException
          schema:
            $ref: "#/definitions/InvalidParameterException"
        "481":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "482":
          description: TooManyRequestsException
          schema:
            $ref: "#/definitions/TooManyRequestsException"
        "483":
          description: NotAuthorizedException
          schema:
            $ref: "#/definitions/NotAuthorizedException"
        "484":
          description: UserNotFoundException
          schema:
            $ref: "#/definitions/UserNotFoundException"
        "485":
          description: InternalErrorException
          schema:
            $ref: "#/definitions/InternalErrorException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/AdminListGroupsForUserRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityProviderService.AdminListGroupsForUser
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSCognitoIdentityProviderService.AdminListUserAuthEvents:
    post:
      operationId: AdminListUserAuthEvents
      description: Lists a history of user activity and any risks detected as part of
        Amazon Cognito advanced security.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/AdminListUserAuthEventsResponse"
        "480":
          description: InvalidParameterException
          schema:
            $ref: "#/definitions/InvalidParameterException"
        "481":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "482":
          description: TooManyRequestsException
          schema:
            $ref: "#/definitions/TooManyRequestsException"
        "483":
          description: NotAuthorizedException
          schema:
            $ref: "#/definitions/NotAuthorizedException"
        "484":
          description: UserNotFoundException
          schema:
            $ref: "#/definitions/UserNotFoundException"
        "485":
          description: UserPoolAddOnNotEnabledException
          schema:
            $ref: "#/definitions/UserPoolAddOnNotEnabledException"
        "486":
          description: InternalErrorException
          schema:
            $ref: "#/definitions/InternalErrorException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/AdminListUserAuthEventsRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityProviderService.AdminListUserAuthEvents
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSCognitoIdentityProviderService.AdminRemoveUserFromGroup:
    post:
      operationId: AdminRemoveUserFromGroup
      description: <p>Removes the specified user from the specified group.</p> <p>Requires
        developer credentials.</p>
      responses:
        "200":
          description: Success
        "480":
          description: InvalidParameterException
          schema:
            $ref: "#/definitions/InvalidParameterException"
        "481":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "482":
          description: TooManyRequestsException
          schema:
            $ref: "#/definitions/TooManyRequestsException"
        "483":
          description: NotAuthorizedException
          schema:
            $ref: "#/definitions/NotAuthorizedException"
        "484":
          description: UserNotFoundException
          schema:
            $ref: "#/definitions/UserNotFoundException"
        "485":
          description: InternalErrorException
          schema:
            $ref: "#/definitions/InternalErrorException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/AdminRemoveUserFromGroupRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityProviderService.AdminRemoveUserFromGroup
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSCognitoIdentityProviderService.AdminResetUserPassword:
    post:
      operationId: AdminResetUserPassword
      description: <p>Resets the specified user's password in a user pool as an
        administrator. Works on any user.</p> <p>When a developer calls this
        API, the current password is invalidated, so it must be changed. If a
        user tries to sign in after the API is called, the app will get a
        PasswordResetRequiredException exception back and should direct the user
        down the flow to reset the password, which is the same as the forgot
        password flow. In addition, if the user pool has phone verification
        selected and a verified phone number exists for the user, or if email
        verification is selected and a verified email exists for the user,
        calling this API will also result in sending a message to the end user
        with the code to change their password.</p> <p>Requires developer
        credentials.</p>
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/AdminResetUserPasswordResponse"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterException
          schema:
            $ref: "#/definitions/InvalidParameterException"
        "482":
          description: UnexpectedLambdaException
          schema:
            $ref: "#/definitions/UnexpectedLambdaException"
        "483":
          description: UserLambdaValidationException
          schema:
            $ref: "#/definitions/UserLambdaValidationException"
        "484":
          description: NotAuthorizedException
          schema:
            $ref: "#/definitions/NotAuthorizedException"
        "485":
          description: InvalidLambdaResponseException
          schema:
            $ref: "#/definitions/InvalidLambdaResponseException"
        "486":
          description: TooManyRequestsException
          schema:
            $ref: "#/definitions/TooManyRequestsException"
        "487":
          description: LimitExceededException
          schema:
            $ref: "#/definitions/LimitExceededException"
        "488":
          description: UserNotFoundException
          schema:
            $ref: "#/definitions/UserNotFoundException"
        "489":
          description: InvalidSmsRoleAccessPolicyException
          schema:
            $ref: "#/definitions/InvalidSmsRoleAccessPolicyException"
        "490":
          description: InvalidEmailRoleAccessPolicyException
          schema:
            $ref: "#/definitions/InvalidEmailRoleAccessPolicyException"
        "491":
          description: InvalidSmsRoleTrustRelationshipException
          schema:
            $ref: "#/definitions/InvalidSmsRoleTrustRelationshipException"
        "492":
          description: InternalErrorException
          schema:
            $ref: "#/definitions/InternalErrorException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/AdminResetUserPasswordRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityProviderService.AdminResetUserPassword
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSCognitoIdentityProviderService.AdminRespondToAuthChallenge:
    post:
      operationId: AdminRespondToAuthChallenge
      description: <p>Responds to an authentication challenge, as an administrator.</p>
        <p>Requires developer credentials.</p>
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/AdminRespondToAuthChallengeResponse"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterException
          schema:
            $ref: "#/definitions/InvalidParameterException"
        "482":
          description: NotAuthorizedException
          schema:
            $ref: "#/definitions/NotAuthorizedException"
        "483":
          description: CodeMismatchException
          schema:
            $ref: "#/definitions/CodeMismatchException"
        "484":
          description: ExpiredCodeException
          schema:
            $ref: "#/definitions/ExpiredCodeException"
        "485":
          description: UnexpectedLambdaException
          schema:
            $ref: "#/definitions/UnexpectedLambdaException"
        "486":
          description: InvalidPasswordException
          schema:
            $ref: "#/definitions/InvalidPasswordException"
        "487":
          description: UserLambdaValidationException
          schema:
            $ref: "#/definitions/UserLambdaValidationException"
        "488":
          description: InvalidLambdaResponseException
          schema:
            $ref: "#/definitions/InvalidLambdaResponseException"
        "489":
          description: TooManyRequestsException
          schema:
            $ref: "#/definitions/TooManyRequestsException"
        "490":
          description: InvalidUserPoolConfigurationException
          schema:
            $ref: "#/definitions/InvalidUserPoolConfigurationException"
        "491":
          description: InternalErrorException
          schema:
            $ref: "#/definitions/InternalErrorException"
        "492":
          description: MFAMethodNotFoundException
          schema:
            $ref: "#/definitions/MFAMethodNotFoundException"
        "493":
          description: InvalidSmsRoleAccessPolicyException
          schema:
            $ref: "#/definitions/InvalidSmsRoleAccessPolicyException"
        "494":
          description: InvalidSmsRoleTrustRelationshipException
          schema:
            $ref: "#/definitions/InvalidSmsRoleTrustRelationshipException"
        "495":
          description: AliasExistsException
          schema:
            $ref: "#/definitions/AliasExistsException"
        "496":
          description: PasswordResetRequiredException
          schema:
            $ref: "#/definitions/PasswordResetRequiredException"
        "497":
          description: UserNotFoundException
          schema:
            $ref: "#/definitions/UserNotFoundException"
        "498":
          description: UserNotConfirmedException
          schema:
            $ref: "#/definitions/UserNotConfirmedException"
        "499":
          description: SoftwareTokenMFANotFoundException
          schema:
            $ref: "#/definitions/SoftwareTokenMFANotFoundException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/AdminRespondToAuthChallengeRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityProviderService.AdminRespondToAuthChallenge
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSCognitoIdentityProviderService.AdminSetUserMFAPreference:
    post:
      operationId: AdminSetUserMFAPreference
      description: Sets the user's multi-factor authentication (MFA) preference.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/AdminSetUserMFAPreferenceResponse"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterException
          schema:
            $ref: "#/definitions/InvalidParameterException"
        "482":
          description: NotAuthorizedException
          schema:
            $ref: "#/definitions/NotAuthorizedException"
        "483":
          description: PasswordResetRequiredException
          schema:
            $ref: "#/definitions/PasswordResetRequiredException"
        "484":
          description: UserNotFoundException
          schema:
            $ref: "#/definitions/UserNotFoundException"
        "485":
          description: UserNotConfirmedException
          schema:
            $ref: "#/definitions/UserNotConfirmedException"
        "486":
          description: InternalErrorException
          schema:
            $ref: "#/definitions/InternalErrorException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/AdminSetUserMFAPreferenceRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityProviderService.AdminSetUserMFAPreference
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSCognitoIdentityProviderService.AdminSetUserSettings:
    post:
      operationId: AdminSetUserSettings
      description: <p>Sets all the user settings for a specified user name. Works on any
        user.</p> <p>Requires developer credentials.</p>
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/AdminSetUserSettingsResponse"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterException
          schema:
            $ref: "#/definitions/InvalidParameterException"
        "482":
          description: NotAuthorizedException
          schema:
            $ref: "#/definitions/NotAuthorizedException"
        "483":
          description: UserNotFoundException
          schema:
            $ref: "#/definitions/UserNotFoundException"
        "484":
          description: InternalErrorException
          schema:
            $ref: "#/definitions/InternalErrorException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/AdminSetUserSettingsRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityProviderService.AdminSetUserSettings
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSCognitoIdentityProviderService.AdminUpdateAuthEventFeedback:
    post:
      operationId: AdminUpdateAuthEventFeedback
      description: Provides feedback for an authentication event as to whether it was from
        a valid user. This feedback is used for improving the risk evaluation
        decision for the user pool as part of Amazon Cognito advanced security.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/AdminUpdateAuthEventFeedbackResponse"
        "480":
          description: InvalidParameterException
          schema:
            $ref: "#/definitions/InvalidParameterException"
        "481":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "482":
          description: TooManyRequestsException
          schema:
            $ref: "#/definitions/TooManyRequestsException"
        "483":
          description: NotAuthorizedException
          schema:
            $ref: "#/definitions/NotAuthorizedException"
        "484":
          description: UserNotFoundException
          schema:
            $ref: "#/definitions/UserNotFoundException"
        "485":
          description: UserPoolAddOnNotEnabledException
          schema:
            $ref: "#/definitions/UserPoolAddOnNotEnabledException"
        "486":
          description: InternalErrorException
          schema:
            $ref: "#/definitions/InternalErrorException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/AdminUpdateAuthEventFeedbackRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityProviderService.AdminUpdateAuthEventFeedback
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSCognitoIdentityProviderService.AdminUpdateDeviceStatus:
    post:
      operationId: AdminUpdateDeviceStatus
      description: <p>Updates the device status as an administrator.</p> <p>Requires
        developer credentials.</p>
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/AdminUpdateDeviceStatusResponse"
        "480":
          description: InvalidParameterException
          schema:
            $ref: "#/definitions/InvalidParameterException"
        "481":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "482":
          description: InvalidUserPoolConfigurationException
          schema:
            $ref: "#/definitions/InvalidUserPoolConfigurationException"
        "483":
          description: TooManyRequestsException
          schema:
            $ref: "#/definitions/TooManyRequestsException"
        "484":
          description: NotAuthorizedException
          schema:
            $ref: "#/definitions/NotAuthorizedException"
        "485":
          description: UserNotFoundException
          schema:
            $ref: "#/definitions/UserNotFoundException"
        "486":
          description: InternalErrorException
          schema:
            $ref: "#/definitions/InternalErrorException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/AdminUpdateDeviceStatusRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityProviderService.AdminUpdateDeviceStatus
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSCognitoIdentityProviderService.AdminUpdateUserAttributes:
    post:
      operationId: AdminUpdateUserAttributes
      description: <p>Updates the specified user's attributes, including developer
        attributes, as an administrator. Works on any user.</p> <p>For custom
        attributes, you must prepend the <code>custom:</code> prefix to the
        attribute name.</p> <p>In addition to updating user attributes, this API
        can also be used to mark phone and email as verified.</p> <p>Requires
        developer credentials.</p>
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/AdminUpdateUserAttributesResponse"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterException
          schema:
            $ref: "#/definitions/InvalidParameterException"
        "482":
          description: UnexpectedLambdaException
          schema:
            $ref: "#/definitions/UnexpectedLambdaException"
        "483":
          description: UserLambdaValidationException
          schema:
            $ref: "#/definitions/UserLambdaValidationException"
        "484":
          description: InvalidLambdaResponseException
          schema:
            $ref: "#/definitions/InvalidLambdaResponseException"
        "485":
          description: AliasExistsException
          schema:
            $ref: "#/definitions/AliasExistsException"
        "486":
          description: TooManyRequestsException
          schema:
            $ref: "#/definitions/TooManyRequestsException"
        "487":
          description: NotAuthorizedException
          schema:
            $ref: "#/definitions/NotAuthorizedException"
        "488":
          description: UserNotFoundException
          schema:
            $ref: "#/definitions/UserNotFoundException"
        "489":
          description: InternalErrorException
          schema:
            $ref: "#/definitions/InternalErrorException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/AdminUpdateUserAttributesRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityProviderService.AdminUpdateUserAttributes
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSCognitoIdentityProviderService.AdminUserGlobalSignOut:
    post:
      operationId: AdminUserGlobalSignOut
      description: <p>Signs out users from all devices, as an administrator.</p>
        <p>Requires developer credentials.</p>
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/AdminUserGlobalSignOutResponse"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterException
          schema:
            $ref: "#/definitions/InvalidParameterException"
        "482":
          description: TooManyRequestsException
          schema:
            $ref: "#/definitions/TooManyRequestsException"
        "483":
          description: NotAuthorizedException
          schema:
            $ref: "#/definitions/NotAuthorizedException"
        "484":
          description: UserNotFoundException
          schema:
            $ref: "#/definitions/UserNotFoundException"
        "485":
          description: InternalErrorException
          schema:
            $ref: "#/definitions/InternalErrorException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/AdminUserGlobalSignOutRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityProviderService.AdminUserGlobalSignOut
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSCognitoIdentityProviderService.AssociateSoftwareToken:
    post:
      operationId: AssociateSoftwareToken
      description: Returns a unique generated shared secret key code for the user account.
        The request takes an access token or a session string, but not both.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/AssociateSoftwareTokenResponse"
        "480":
          description: InvalidParameterException
          schema:
            $ref: "#/definitions/InvalidParameterException"
        "481":
          description: NotAuthorizedException
          schema:
            $ref: "#/definitions/NotAuthorizedException"
        "482":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "483":
          description: InternalErrorException
          schema:
            $ref: "#/definitions/InternalErrorException"
        "484":
          description: SoftwareTokenMFANotFoundException
          schema:
            $ref: "#/definitions/SoftwareTokenMFANotFoundException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/AssociateSoftwareTokenRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityProviderService.AssociateSoftwareToken
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSCognitoIdentityProviderService.ChangePassword:
    post:
      operationId: ChangePassword
      description: Changes the password for a specified user in a user pool.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/ChangePasswordResponse"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterException
          schema:
            $ref: "#/definitions/InvalidParameterException"
        "482":
          description: InvalidPasswordException
          schema:
            $ref: "#/definitions/InvalidPasswordException"
        "483":
          description: NotAuthorizedException
          schema:
            $ref: "#/definitions/NotAuthorizedException"
        "484":
          description: TooManyRequestsException
          schema:
            $ref: "#/definitions/TooManyRequestsException"
        "485":
          description: LimitExceededException
          schema:
            $ref: "#/definitions/LimitExceededException"
        "486":
          description: PasswordResetRequiredException
          schema:
            $ref: "#/definitions/PasswordResetRequiredException"
        "487":
          description: UserNotFoundException
          schema:
            $ref: "#/definitions/UserNotFoundException"
        "488":
          description: UserNotConfirmedException
          schema:
            $ref: "#/definitions/UserNotConfirmedException"
        "489":
          description: InternalErrorException
          schema:
            $ref: "#/definitions/InternalErrorException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/ChangePasswordRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityProviderService.ChangePassword
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSCognitoIdentityProviderService.ConfirmDevice:
    post:
      operationId: ConfirmDevice
      description: Confirms tracking of the device. This API call is the call that begins
        device tracking.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/ConfirmDeviceResponse"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterException
          schema:
            $ref: "#/definitions/InvalidParameterException"
        "482":
          description: NotAuthorizedException
          schema:
            $ref: "#/definitions/NotAuthorizedException"
        "483":
          description: InvalidPasswordException
          schema:
            $ref: "#/definitions/InvalidPasswordException"
        "484":
          description: InvalidLambdaResponseException
          schema:
            $ref: "#/definitions/InvalidLambdaResponseException"
        "485":
          description: UsernameExistsException
          schema:
            $ref: "#/definitions/UsernameExistsException"
        "486":
          description: InvalidUserPoolConfigurationException
          schema:
            $ref: "#/definitions/InvalidUserPoolConfigurationException"
        "487":
          description: TooManyRequestsException
          schema:
            $ref: "#/definitions/TooManyRequestsException"
        "488":
          description: PasswordResetRequiredException
          schema:
            $ref: "#/definitions/PasswordResetRequiredException"
        "489":
          description: UserNotFoundException
          schema:
            $ref: "#/definitions/UserNotFoundException"
        "490":
          description: UserNotConfirmedException
          schema:
            $ref: "#/definitions/UserNotConfirmedException"
        "491":
          description: InternalErrorException
          schema:
            $ref: "#/definitions/InternalErrorException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/ConfirmDeviceRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityProviderService.ConfirmDevice
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSCognitoIdentityProviderService.ConfirmForgotPassword:
    post:
      operationId: ConfirmForgotPassword
      description: Allows a user to enter a confirmation code to reset a forgotten password.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/ConfirmForgotPasswordResponse"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: UnexpectedLambdaException
          schema:
            $ref: "#/definitions/UnexpectedLambdaException"
        "482":
          description: UserLambdaValidationException
          schema:
            $ref: "#/definitions/UserLambdaValidationException"
        "483":
          description: InvalidParameterException
          schema:
            $ref: "#/definitions/InvalidParameterException"
        "484":
          description: InvalidPasswordException
          schema:
            $ref: "#/definitions/InvalidPasswordException"
        "485":
          description: NotAuthorizedException
          schema:
            $ref: "#/definitions/NotAuthorizedException"
        "486":
          description: CodeMismatchException
          schema:
            $ref: "#/definitions/CodeMismatchException"
        "487":
          description: ExpiredCodeException
          schema:
            $ref: "#/definitions/ExpiredCodeException"
        "488":
          description: TooManyFailedAttemptsException
          schema:
            $ref: "#/definitions/TooManyFailedAttemptsException"
        "489":
          description: InvalidLambdaResponseException
          schema:
            $ref: "#/definitions/InvalidLambdaResponseException"
        "490":
          description: TooManyRequestsException
          schema:
            $ref: "#/definitions/TooManyRequestsException"
        "491":
          description: LimitExceededException
          schema:
            $ref: "#/definitions/LimitExceededException"
        "492":
          description: UserNotFoundException
          schema:
            $ref: "#/definitions/UserNotFoundException"
        "493":
          description: UserNotConfirmedException
          schema:
            $ref: "#/definitions/UserNotConfirmedException"
        "494":
          description: InternalErrorException
          schema:
            $ref: "#/definitions/InternalErrorException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/ConfirmForgotPasswordRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityProviderService.ConfirmForgotPassword
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSCognitoIdentityProviderService.ConfirmSignUp:
    post:
      operationId: ConfirmSignUp
      description: Confirms registration of a user and handles the existing alias from a
        previous user.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/ConfirmSignUpResponse"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterException
          schema:
            $ref: "#/definitions/InvalidParameterException"
        "482":
          description: UnexpectedLambdaException
          schema:
            $ref: "#/definitions/UnexpectedLambdaException"
        "483":
          description: UserLambdaValidationException
          schema:
            $ref: "#/definitions/UserLambdaValidationException"
        "484":
          description: NotAuthorizedException
          schema:
            $ref: "#/definitions/NotAuthorizedException"
        "485":
          description: TooManyFailedAttemptsException
          schema:
            $ref: "#/definitions/TooManyFailedAttemptsException"
        "486":
          description: CodeMismatchException
          schema:
            $ref: "#/definitions/CodeMismatchException"
        "487":
          description: ExpiredCodeException
          schema:
            $ref: "#/definitions/ExpiredCodeException"
        "488":
          description: InvalidLambdaResponseException
          schema:
            $ref: "#/definitions/InvalidLambdaResponseException"
        "489":
          description: AliasExistsException
          schema:
            $ref: "#/definitions/AliasExistsException"
        "490":
          description: TooManyRequestsException
          schema:
            $ref: "#/definitions/TooManyRequestsException"
        "491":
          description: LimitExceededException
          schema:
            $ref: "#/definitions/LimitExceededException"
        "492":
          description: UserNotFoundException
          schema:
            $ref: "#/definitions/UserNotFoundException"
        "493":
          description: InternalErrorException
          schema:
            $ref: "#/definitions/InternalErrorException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/ConfirmSignUpRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityProviderService.ConfirmSignUp
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSCognitoIdentityProviderService.CreateGroup:
    post:
      operationId: CreateGroup
      description: <p>Creates a new group in the specified user pool.</p> <p>Requires
        developer credentials.</p>
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/CreateGroupResponse"
        "480":
          description: InvalidParameterException
          schema:
            $ref: "#/definitions/InvalidParameterException"
        "481":
          description: GroupExistsException
          schema:
            $ref: "#/definitions/GroupExistsException"
        "482":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "483":
          description: TooManyRequestsException
          schema:
            $ref: "#/definitions/TooManyRequestsException"
        "484":
          description: LimitExceededException
          schema:
            $ref: "#/definitions/LimitExceededException"
        "485":
          description: NotAuthorizedException
          schema:
            $ref: "#/definitions/NotAuthorizedException"
        "486":
          description: InternalErrorException
          schema:
            $ref: "#/definitions/InternalErrorException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/CreateGroupRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityProviderService.CreateGroup
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSCognitoIdentityProviderService.CreateIdentityProvider:
    post:
      operationId: CreateIdentityProvider
      description: Creates an identity provider for a user pool.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/CreateIdentityProviderResponse"
        "480":
          description: InvalidParameterException
          schema:
            $ref: "#/definitions/InvalidParameterException"
        "481":
          description: DuplicateProviderException
          schema:
            $ref: "#/definitions/DuplicateProviderException"
        "482":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "483":
          description: NotAuthorizedException
          schema:
            $ref: "#/definitions/NotAuthorizedException"
        "484":
          description: TooManyRequestsException
          schema:
            $ref: "#/definitions/TooManyRequestsException"
        "485":
          description: LimitExceededException
          schema:
            $ref: "#/definitions/LimitExceededException"
        "486":
          description: InternalErrorException
          schema:
            $ref: "#/definitions/InternalErrorException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/CreateIdentityProviderRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityProviderService.CreateIdentityProvider
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSCognitoIdentityProviderService.CreateResourceServer:
    post:
      operationId: CreateResourceServer
      description: Creates a new OAuth2.0 resource server and defines custom scopes in it.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/CreateResourceServerResponse"
        "480":
          description: InvalidParameterException
          schema:
            $ref: "#/definitions/InvalidParameterException"
        "481":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "482":
          description: NotAuthorizedException
          schema:
            $ref: "#/definitions/NotAuthorizedException"
        "483":
          description: TooManyRequestsException
          schema:
            $ref: "#/definitions/TooManyRequestsException"
        "484":
          description: LimitExceededException
          schema:
            $ref: "#/definitions/LimitExceededException"
        "485":
          description: InternalErrorException
          schema:
            $ref: "#/definitions/InternalErrorException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/CreateResourceServerRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityProviderService.CreateResourceServer
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSCognitoIdentityProviderService.CreateUserImportJob:
    post:
      operationId: CreateUserImportJob
      description: Creates the user import job.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/CreateUserImportJobResponse"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterException
          schema:
            $ref: "#/definitions/InvalidParameterException"
        "482":
          description: TooManyRequestsException
          schema:
            $ref: "#/definitions/TooManyRequestsException"
        "483":
          description: PreconditionNotMetException
          schema:
            $ref: "#/definitions/PreconditionNotMetException"
        "484":
          description: NotAuthorizedException
          schema:
            $ref: "#/definitions/NotAuthorizedException"
        "485":
          description: LimitExceededException
          schema:
            $ref: "#/definitions/LimitExceededException"
        "486":
          description: InternalErrorException
          schema:
            $ref: "#/definitions/InternalErrorException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/CreateUserImportJobRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityProviderService.CreateUserImportJob
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSCognitoIdentityProviderService.CreateUserPool:
    post:
      operationId: CreateUserPool
      description: Creates a new Amazon Cognito user pool and sets the password policy for
        the pool.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/CreateUserPoolResponse"
        "480":
          description: InvalidParameterException
          schema:
            $ref: "#/definitions/InvalidParameterException"
        "481":
          description: TooManyRequestsException
          schema:
            $ref: "#/definitions/TooManyRequestsException"
        "482":
          description: LimitExceededException
          schema:
            $ref: "#/definitions/LimitExceededException"
        "483":
          description: InvalidSmsRoleAccessPolicyException
          schema:
            $ref: "#/definitions/InvalidSmsRoleAccessPolicyException"
        "484":
          description: InvalidSmsRoleTrustRelationshipException
          schema:
            $ref: "#/definitions/InvalidSmsRoleTrustRelationshipException"
        "485":
          description: InvalidEmailRoleAccessPolicyException
          schema:
            $ref: "#/definitions/InvalidEmailRoleAccessPolicyException"
        "486":
          description: NotAuthorizedException
          schema:
            $ref: "#/definitions/NotAuthorizedException"
        "487":
          description: UserPoolTaggingException
          schema:
            $ref: "#/definitions/UserPoolTaggingException"
        "488":
          description: InternalErrorException
          schema:
            $ref: "#/definitions/InternalErrorException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/CreateUserPoolRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityProviderService.CreateUserPool
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSCognitoIdentityProviderService.CreateUserPoolClient:
    post:
      operationId: CreateUserPoolClient
      description: Creates the user pool client.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/CreateUserPoolClientResponse"
        "480":
          description: InvalidParameterException
          schema:
            $ref: "#/definitions/InvalidParameterException"
        "481":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "482":
          description: TooManyRequestsException
          schema:
            $ref: "#/definitions/TooManyRequestsException"
        "483":
          description: LimitExceededException
          schema:
            $ref: "#/definitions/LimitExceededException"
        "484":
          description: NotAuthorizedException
          schema:
            $ref: "#/definitions/NotAuthorizedException"
        "485":
          description: ScopeDoesNotExistException
          schema:
            $ref: "#/definitions/ScopeDoesNotExistException"
        "486":
          description: InvalidOAuthFlowException
          schema:
            $ref: "#/definitions/InvalidOAuthFlowException"
        "487":
          description: InternalErrorException
          schema:
            $ref: "#/definitions/InternalErrorException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/CreateUserPoolClientRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityProviderService.CreateUserPoolClient
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSCognitoIdentityProviderService.CreateUserPoolDomain:
    post:
      operationId: CreateUserPoolDomain
      description: Creates a new domain for a user pool.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/CreateUserPoolDomainResponse"
        "480":
          description: InvalidParameterException
          schema:
            $ref: "#/definitions/InvalidParameterException"
        "481":
          description: NotAuthorizedException
          schema:
            $ref: "#/definitions/NotAuthorizedException"
        "482":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "483":
          description: LimitExceededException
          schema:
            $ref: "#/definitions/LimitExceededException"
        "484":
          description: InternalErrorException
          schema:
            $ref: "#/definitions/InternalErrorException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/CreateUserPoolDomainRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityProviderService.CreateUserPoolDomain
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSCognitoIdentityProviderService.DeleteGroup:
    post:
      operationId: DeleteGroup
      description: <p>Deletes a group. Currently only groups with no members can be
        deleted.</p> <p>Requires developer credentials.</p>
      responses:
        "200":
          description: Success
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterException
          schema:
            $ref: "#/definitions/InvalidParameterException"
        "482":
          description: TooManyRequestsException
          schema:
            $ref: "#/definitions/TooManyRequestsException"
        "483":
          description: NotAuthorizedException
          schema:
            $ref: "#/definitions/NotAuthorizedException"
        "484":
          description: InternalErrorException
          schema:
            $ref: "#/definitions/InternalErrorException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/DeleteGroupRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityProviderService.DeleteGroup
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSCognitoIdentityProviderService.DeleteIdentityProvider:
    post:
      operationId: DeleteIdentityProvider
      description: Deletes an identity provider for a user pool.
      responses:
        "200":
          description: Success
        "480":
          description: InvalidParameterException
          schema:
            $ref: "#/definitions/InvalidParameterException"
        "481":
          description: UnsupportedIdentityProviderException
          schema:
            $ref: "#/definitions/UnsupportedIdentityProviderException"
        "482":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "483":
          description: NotAuthorizedException
          schema:
            $ref: "#/definitions/NotAuthorizedException"
        "484":
          description: TooManyRequestsException
          schema:
            $ref: "#/definitions/TooManyRequestsException"
        "485":
          description: InternalErrorException
          schema:
            $ref: "#/definitions/InternalErrorException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/DeleteIdentityProviderRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityProviderService.DeleteIdentityProvider
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSCognitoIdentityProviderService.DeleteResourceServer:
    post:
      operationId: DeleteResourceServer
      description: Deletes a resource server.
      responses:
        "200":
          description: Success
        "480":
          description: InvalidParameterException
          schema:
            $ref: "#/definitions/InvalidParameterException"
        "481":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "482":
          description: NotAuthorizedException
          schema:
            $ref: "#/definitions/NotAuthorizedException"
        "483":
          description: TooManyRequestsException
          schema:
            $ref: "#/definitions/TooManyRequestsException"
        "484":
          description: InternalErrorException
          schema:
            $ref: "#/definitions/InternalErrorException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/DeleteResourceServerRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityProviderService.DeleteResourceServer
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSCognitoIdentityProviderService.DeleteUser:
    post:
      operationId: DeleteUser
      description: Allows a user to delete himself or herself.
      responses:
        "200":
          description: Success
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterException
          schema:
            $ref: "#/definitions/InvalidParameterException"
        "482":
          description: NotAuthorizedException
          schema:
            $ref: "#/definitions/NotAuthorizedException"
        "483":
          description: TooManyRequestsException
          schema:
            $ref: "#/definitions/TooManyRequestsException"
        "484":
          description: PasswordResetRequiredException
          schema:
            $ref: "#/definitions/PasswordResetRequiredException"
        "485":
          description: UserNotFoundException
          schema:
            $ref: "#/definitions/UserNotFoundException"
        "486":
          description: UserNotConfirmedException
          schema:
            $ref: "#/definitions/UserNotConfirmedException"
        "487":
          description: InternalErrorException
          schema:
            $ref: "#/definitions/InternalErrorException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/DeleteUserRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSCognitoIdentityProviderService.DeleteUser
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSCognitoIdentityProviderService.DeleteUserAttributes:
    post:
      operationId: DeleteUserAttributes
      description: Deletes the attributes for a user.
      responses:
        "200":
          description: Success
          schema:
[...]
