openapi: 3.0.0
servers:
  - url: https://api.jumpseller.com/v1
info:
  contact:
    x-twitter: jumpseller
  description: |
    # Endpoint Structure

    All URLs are in the format: 

    ```text
    https://api.jumpseller.com/v1/path.json?login=XXXXXX&authtoken=storetoken  
    ```

    The path is prefixed by the API version and the URL takes as parameters the login (your store specific API login) and your authentication token.
    <br/><br/>
    ***

    # Version

    The current version of the API is **v1**.  
    If we change the API in backward-incompatible ways, we'll increase the version number and maintain stable support for the old urls.
    <br/><br/>
    ***

    # Authentication

    The API uses a token-based authentication with a combination of a login key and an auth token. **Both parameters can be found on the left sidebar of the Account section, accessed from the main menu of your Admin Panel**. The auth token of the user can be reset on the same page.

    ![Store Login](/images/support/api/apilogin.png)

    The auth token is a **32 characters** string.

    If you are developing a Jumpseller App, the authentication should be done using [OAuth-2](/support/oauth-2). Please read the article [Build an App](/support/apps) for more information.
    <br/><br/>
    ***

    # Curl Examples

    To request all the products at your store, you would append the products index path to the base url to create an URL with the format:  

    ```text
    https://api.jumpseller.com/v1/products.json?login=XXXXXX&authtoken=XXXXX
    ```

    In curl, you can invoque that URL with:  

    ```text
    curl -X GET "https://api.jumpseller.com/v1/products.json?login=XXXXXX&authtoken=XXXXX"
    ```

    To create a product, you will include the JSON data and specify the MIME Type:  

    ```text
    curl -X POST -d '{ "product" : {"name": "My new Product!", "price": 100} }' "https://api.jumpseller.com/v1/products.json?login=XXXXXX&authtoken=XXXXX" -H "Content-Type:application/json"
    ```

    and to update the product identified with 123:  

    ```text
    curl -X PUT -d '{ "product" : {"name": "My updated Product!", "price": 99} }' "https://api.jumpseller.com/v1/products/123.json?login=XXXXXX&authtoken=XXXXX" -H "Content-Type:application/json"
    ```

    or delete it:  

    ```text
    curl -X DELETE "https://api.jumpseller.com/v1/products/123.json?login=XXXXXX&authtoken=XXXXX" -H "Content-Type:application/json"
    ```
    <br/><br/>
    ***

    # PHP Examples

    Create a new Product (POST method)

    ```php
    $url = 'https://api.jumpseller.com/v1/products.json?login=XXXXX&authtoken=XXXXX;
    $ch = curl_init($url);
    curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);
    curl_setopt($ch, CURLOPT_HTTPHEADER, array('Content-Type: application/json'));

    curl_setopt($ch, CURLOPT_CUSTOMREQUEST, "POST"); //post method
    curl_setopt($ch, CURLOPT_POSTFIELDS, '{ "product" : {"name": "My updated Product!", "price": 99} }');

    $result = curl_exec($ch);
    print_r($result);
    curl_close($ch);
    ```
    <br/><br/>
    ***

    # Plain JSON only. No XML.

    * We only support JSON for data serialization.
    * Our node format has no root element.  
    * We use snake_case to describe attribute keys (like "created_at").  
    * All empty value are replaced with **null** strings.
    * All API URLs end in .json to indicate that they accept and return JSON.
    * POST and PUT methods require you to explicitly state the MIME type of your request's body content as **"application/json"**.
    <br/><br/>
    ***

    # Rate Limit
    You can perform a maximum of:

    + 240 (two hundred forty) requests per minute and
    + 8 (eight) requests per second 

    If you exceed this limit, you'll get a 403 Forbidden (Rate Limit Exceeded) response for subsequent requests.  

    The rate limits apply by IP address and by store. This means that multiple requests on different stores are not counted towards the same rate limit.

    This limits are necessary to ensure resources are correctly used. Your application should be aware of this limits and retry any unsuccessful request, check the following Ruby stub:

    ```ruby
    tries = 0; max_tries = 3;
    begin
      HTTParty.send(method, uri) # perform an API call.
      sleep 0.5
      tries += 1
    rescue
      unless tries >= max_tries
        sleep 1.0 # wait the necessary time before retrying the call again.
        retry
      end
    end
    ```

    Finally, you can review the Response Headers of each request:

    ```text
    Jumpseller-PerMinuteRateLimit-Limit: 60  
    Jumpseller-PerMinuteRateLimit-Remaining: 59 # requests available on the per-second interval  
    Jumpseller-PerSecondRateLimit-Limit: 2  
    Jumpseller-PerSecondRateLimit-Remaining: 1 # requests available on the per-second interval
    ``` 

    to better model your application requests intervals.

    In the event of getting your IP banned, the Response Header `Jumpseller-BannedByRateLimit-Reset` informs you the time when will your ban be reseted.
    <br/><br/>
    ***

    # Pagination

    By default we will return 50 objects (products, orders, etc) per page. There is a maximum of 100, using a query string `&limit=100`.
    If the result set gets paginated it is your responsibility to check the next page for more objects -- you do this by using query strings `&page=2`, `&page=3` and so on.

    ```text
    https://api.jumpseller.com/v1/products.json?login=XXXXXX&authtoken=XXXXX&page=3&limit=100
    ```
    <br/><br/>
    ***

    # More
    * [Jumpseller API wrapper](https://gitlab.com/jumpseller-api/ruby) provides a public Ruby abstraction over our API;
    * [Apps Page](/apps) showcases external integrations with Jumpseller done by technical experts;
    * [Imgbb API](https://api.imgbb.com/) provides an easy way to upload and temporaly host for images and files.
    <br/><br/>
    ***
    <br/><br/>
  title: Jumpseller API
  version: 1.0.0
  x-apisguru-categories:
    - ecommerce
  x-logo:
    altText: Jumpseller logo
    href: /
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_jumpseller_profile_image.png
  x-origin:
    - format: openapi
      url: https://api.jumpseller.com/swagger.json
      version: "3.0"
  x-providerName: jumpseller.com
paths:
  /categories.json:
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Category"
          description: OK
      summary: Retrieve all Categories.
      tags:
        - Categories
    post:
      description: Category's permalink is automatically generated from the given category's name.
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
      requestBody:
        $ref: "#/components/requestBodies/CategoryEdit"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Category"
          description: OK
      summary: Create a new Category.
      tags:
        - Categories
  /categories/count.json:
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Count"
          description: OK
      summary: Count all Categories.
      tags:
        - Categories
  "/categories/{id}.json":
    delete:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: Id of the Category
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Category Not Found.
      summary: Delete an existing Category.
      tags:
        - Categories
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: Id of the Category
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Category"
          description: The selected Category.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Category Not Found.
      summary: Retrieve a single Category.
      tags:
        - Categories
    put:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: Id of the Category
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      requestBody:
        $ref: "#/components/requestBodies/CategoryEdit"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Category"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Category Not Found.
      summary: Modify an existing Category.
      tags:
        - Categories
  /checkout_custom_fields.json:
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/PageParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/CheckoutCustomField"
                type: array
          description: An array of Checkout Custom Fields
      summary: Retrieve all Checkout Custom Fields.
      tags:
        - Checkout Custom Fields
    post:
      description: "Type values can be: input, selection, checkbox, date or text. Area values can be: contact, billing_shipping or other."
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
      requestBody:
        $ref: "#/components/requestBodies/CheckoutCustomFieldEdit"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckoutCustomField"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: CheckoutCustomField Not Found.
      summary: Create a new CheckoutCustomField.
      tags:
        - Checkout Custom Fields
  "/checkout_custom_fields/{id}.json":
    delete:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: Id of the CheckoutCustomField
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: CheckoutCustomField Not Found.
      summary: Delete an existing CheckoutCustomField.
      tags:
        - Checkout Custom Fields
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: Id of the CheckoutCustomField
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckoutCustomField"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: CheckoutCustomField Not Found.
      summary: Retrieve a single CheckoutCustomField.
      tags:
        - Checkout Custom Fields
    put:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: Id of the CheckoutCustomField
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      requestBody:
        $ref: "#/components/requestBodies/CheckoutCustomFieldEdit"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckoutCustomField"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: CheckoutCustomField Not Found.
      summary: Update a CheckoutCustomField.
      tags:
        - Checkout Custom Fields
  /countries.json:
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Country"
                type: array
          description: An array of Countries
      summary: Retrieve all Countries.
      tags:
        - Countries
  "/countries/{country_code}.json":
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: ISO3166 Country Code
          in: path
          name: country_code
          required: true
          schema:
            format: string
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Country"
          description: A Country information object
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Country Not Found.
      summary: Retrieve a single Country information.
      tags:
        - Countries
  "/countries/{country_code}/regions.json":
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: ISO3166 Country Code
          in: path
          name: country_code
          required: true
          schema:
            format: string
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Region"
                type: array
          description: An array of Regions from a single Country
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Country Not Found.
      summary: Retrieve all Regions from a single Country.
      tags:
        - Countries
        - Regions
  "/countries/{country_code}/regions/{region_code}.json":
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: ISO3166 Country Code
          in: path
          name: country_code
          required: true
          schema:
            format: string
            type: string
        - description: Region Code
          in: path
          name: region_code
          required: true
          schema:
            format: string
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Region"
          description: A Region information object
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Country or Region not found.
      summary: Retrieve a single Region information object.
      tags:
        - Countries
        - Regions
  /custom_fields.json:
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/CustomField"
                type: array
          description: An array of Custom Fields
      summary: Retrieve all Store's Custom Fields.
      tags:
        - Custom Fields
    post:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomFieldEdit"
        description: Custom Field parameters.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomField"
          description: OK
      summary: Create a new Custom Field.
      tags:
        - Custom Fields
  "/custom_fields/{id}.json":
    delete:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: Id of the CustomField
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: CustomField Not Found.
      summary: Delete an existing CustomField.
      tags:
        - Custom Fields
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: Id of the CustomField
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomField"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: CustomField Not Found.
      summary: Retrieve a single CustomField.
      tags:
        - Custom Fields
    put:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: Id of the CustomField
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomFieldEdit"
        description: CustomField parameters.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomField"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: CustomField Not Found.
      summary: Update a CustomField.
      tags:
        - Custom Fields
  "/custom_fields/{id}/select_options.json":
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: Id of the CustomField
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/CustomFieldSelectOption"
                type: array
          description: An array of Custom Fields Select Options
      summary: Retrieve all Store's Custom Fields.
      tags:
        - Custom Field Select Options
    post:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: Automatically added
          in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomFieldSelectOptionEdit"
        description: Custom Field Select Option parameters.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomFieldSelectOption"
          description: OK
      summary: Create a new Custom Field Select Option.
      tags:
        - Custom Field Select Options
  "/custom_fields/{id}/select_options/{custom_field_select_option_id}.json":
    delete:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: Id of the CustomField
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
        - description: Id of the CustomFieldSelectOption
          in: path
          name: custom_field_select_option_id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: CustomFieldSelectOption Not Found.
      summary: Delete an existing CustomFieldSelectOption.
      tags:
        - Custom Fields
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: Id of the CustomField
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
        - description: Id of the CustomFieldSelectOption
          in: path
          name: custom_field_select_option_id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomFieldSelectOption"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: CustomFieldSelectOption Not Found.
      summary: Retrieve a single SelectOption from a CustomField.
      tags:
        - Custom Field Select Options
    put:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: Id of the CustomField
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
        - description: Id of the CustomFieldSelectOption
          in: path
          name: custom_field_select_option_id
          required: true
          schema:
            format: int32
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomFieldSelectOptionEdit"
        description: CustomFieldSelectOption parameters.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomFieldSelectOption"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: CustomFieldSelectOption Not Found.
      summary: Update a SelectOption from a CustomField.
      tags:
        - Custom Field Select Options
  /customer_categories.json:
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/PageParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/CustomerCategory"
                type: array
          description: An array of Customer Categories
      summary: Retrieve all Customer Categories.
      tags:
        - Customer Categories
    post:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
      requestBody:
        $ref: "#/components/requestBodies/CustomerCategoryEdit"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerCategory"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: CustomerCategory Not Found.
      summary: Create a new CustomerCategory.
      tags:
        - Customer Categories
  "/customer_categories/{id}.json":
    delete:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: Id of the CustomerCategory
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: CustomerCategory Not Found.
      summary: Delete an existing CustomerCategory.
      tags:
        - Customer Categories
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: Id of the CustomerCategory
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerCategory"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: CustomerCategory Not Found.
      summary: Retrieve a single CustomerCategory.
      tags:
        - Customer Categories
    put:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: Id of the CustomerCategory
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      requestBody:
        $ref: "#/components/requestBodies/CustomerCategoryEdit"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerCategory"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: CustomerCategory Not Found.
      summary: Update a CustomerCategory.
      tags:
        - Customer Categories
  "/customer_categories/{id}/customers.json":
    delete:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: Id of the CustomerCategory
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      requestBody:
        $ref: "#/components/requestBodies/CustomersToCustomerCategory"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: CustomerCategory Not Found.
      summary: Delete Customers from an existing CustomerCategory.
      tags:
        - Customer Categories
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: Id of the CustomerCategory
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Customer"
                type: array
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: CustomerCategory Not Found.
      summary: Retrieves the customers in a CustomerCategory.
      tags:
        - Customer Categories
    post:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: Id of the CustomerCategory
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      requestBody:
        $ref: "#/components/requestBodies/CustomersToCustomerCategory"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Customer"
                type: array
          description: Array of Customers in the Customer Category
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: CustomerCategory Not Found.
      summary: Adds Customers to a CustomerCategory.
      tags:
        - Customer Categories
  /customers.json:
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/PageParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Customer"
                type: array
          description: An array of Orders
      summary: Retrieve all Customers.
      tags:
        - Customers
    post:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
      requestBody:
        $ref: "#/components/requestBodies/CustomerWithPasswordNoID"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Customer Not Found.
      summary: Create a new Customer.
      tags:
        - Customers
  /customers/count.json:
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Count"
          description: OK
      summary: Count all Customers.
      tags:
        - Customers
  "/customers/email/{email}.json":
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: Email of the Customer
          in: path
          name: email
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Customer Not Found.
      summary: Retrieve a single Customer by email.
      tags:
        - Customers
  "/customers/{id}.json":
    delete:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: Id of the Customer
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Customer Not Found.
      summary: Delete an existing Customer.
      tags:
        - Customers
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: Id of the Customer
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Customer Not Found.
      summary: Retrieve a single Customer by id.
      tags:
        - Customers
    put:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: Id of the Customer
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      requestBody:
        $ref: "#/components/requestBodies/CustomerWithPasswordNoID"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Customer Not Found.
      summary: Update a new Customer.
      tags:
        - Customers
  "/customers/{id}/fields":
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: Id of the Customer
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/CustomerAdditionalField"
                type: array
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Customer Not Found.
      summary: Retrieves the Customer Additional Field of a Customer.
      tags:
        - Customer Additional Fields
    post:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: Id of the Customer
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      requestBody:
        $ref: "#/components/requestBodies/CustomerAdditionalFieldEdit"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerAdditionalField"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Customer Additional Field Not Found.
      summary: Adds Customer Additional Fields to a Customer.
      tags:
        - Customer Additional Fields
  "/customers/{id}/fields/{field_id}":
    delete:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - $ref: "#/components/parameters/CustomerIDParam"
        - description: Id of the Customer Additional Field
          in: path
          name: field_id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Customer Not Found.
      summary: Delete a Customer Additional Field.
      tags:
        - Customer Additional Fields
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: Id of the Customer
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
        - description: Id of the Customer Additional Field
          in: path
          name: field_id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerAdditionalField"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Customer Not Found.
      summary: Retrieve a single Customer Additional Field.
      tags:
        - Customer Additional Fields
    put:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - $ref: "#/components/parameters/CustomerIDParam"
        - description: Id of the Customer Additional Field
          in: path
          name: field_id
          required: true
          schema:
            format: int32
            type: integer
      requestBody:
        $ref: "#/components/requestBodies/CustomerAdditionalFieldEdit"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerAdditionalField"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadParams"
          description: Customer Additional Field Bad Parameters.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Customer Additional Field Not Found.
      summary: Update a Customer Additional Field.
      tags:
        - Customer Additional Fields
  /fulfillments.json:
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/PageParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Fulfillment"
                type: array
          description: An array of Fulfillments
      summary: Retrieve all Fulfillments.
      tags:
        - Fulfillments
  /fulfillments/count.json:
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Count"
          description: OK
      summary: Count all Fulfillments.
      tags:
        - Fulfillments
  "/fulfillments/{id}.json":
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: Id of the Fulfillment
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Fulfillment"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Fulfillment Not Found.
      summary: Retrieve a single Fulfillment.
      tags:
        - Fulfillments
  /hooks.json:
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/PageParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Hook"
                type: array
          description: An array of Hooks
      summary: Retrieve all Hooks.
      tags:
        - Hooks
    post:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
      requestBody:
        $ref: "#/components/requestBodies/HookEdit"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Hook"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Hook Not Found.
      summary: Create a new Hook.
      tags:
        - Hooks
  "/hooks/{id}.json":
    delete:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: Id of the Hook
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Hook Not Found.
      summary: Delete an existing Hook.
      tags:
        - Hooks
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: Id of the Hook
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Hook"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Hook Not Found.
      summary: Retrieve a single Hook.
      tags:
        - Hooks
    put:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: Id of the Hook
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      requestBody:
        $ref: "#/components/requestBodies/HookEdit"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Hook"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Hook Not Found.
      summary: Update a Hook.
      tags:
        - Hooks
  /jsapps.json:
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/App"
          description: OK
      summary: Retrieve all the Store's JSApps.
      tags:
        - Apps
    post:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JSAppEdit"
        description: JSApp parameters to create
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JSApp"
          description: OK
      summary: Create a Store JSApp.
      tags:
        - Apps
  "/jsapps/{code}.json":
    delete:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: Code of the App
          in: path
          name: code
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: App Not Found.
      summary: Delete an existing JSApp.
      tags:
        - Apps
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: Code of the App
          in: path
          name: code
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JSApp"
          description: OK
      summary: Retrieve a JSApp.
      tags:
        - Apps
  "/order/{id}/fulfillments.json":
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: Id of the Order
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Fulfillment"
                type: array
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Fulfillment Not Found.
      summary: Retrieve the Fulfillments associated with the Order.
      tags:
        - Fulfillments
  /orders.json:
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/PageParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Order"
                type: array
          description: An array of Orders
      summary: Retrieve all Orders.
      tags:
        - Orders
    post:
      description: Orders created externally keep the given order product's values (bypassing internal promotion or product amounts).
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderCreate"
        description: Order parameters.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Order"
          description: OK
      summary: Create a new Order.
      tags:
        - Orders
  "/orders/after/{id}.json":
    get:
      description: For example the GET /orders/after/5000 will return Order 5001, 5002, 5003, etc.
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: Id of the Order
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Order"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Order Not Found.
      summary: Retrieve orders filtered by Order Id.
      tags:
        - Orders
  /orders/count.json:
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Count"
          description: OK
      summary: Count all Orders.
      tags:
        - Orders
  "/orders/status/{status}.json":
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: Status of the Order used as filter
          in: path
          name: status
          required: true
          schema:
            enum:
              - Abandoned
              - Canceled
              - Pending Payment
              - Paid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Order"
                type: array
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusInvalid"
          description: Status Invalid.
      summary: Retrieve orders filtered by status.
      tags:
        - Orders
  "/orders/{id}.json":
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: Id of the Order
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Order"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Order Not Found.
      summary: Retrieve a single Order.
      tags:
        - Orders
    put:
      description: Only `status`, `shipment_status`, `tracking_number`, `tracking_company`, `tracking_url`, `additional_information` and `additional_fields` are available for update. An email is send if `shipment_status` changes.
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: Id of the Order
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderEdit"
        description: Order parameters to change
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Order"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Order Not Found.
      summary: Modify an existing Order.
      tags:
        - Orders
  "/orders/{id}/history.json":
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: Id of the Order
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/OrderHistory"
                type: array
          description: An array with Order History
      summary: Retrieve all Order History.
      tags:
        - Orders
    post:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: Id of the OrderHistory
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrderHistoryEdit"
        description: Order History parameters.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderHistory"
          description: OK
      summary: Create a new Order History Entry.
      tags:
        - Orders
  /pages.json:
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/PageParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Page"
                type: array
          description: An array of Pages
      summary: Retrieve all Pages.
      tags:
        - Pages
    post:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
      requestBody:
        $ref: "#/components/requestBodies/PageModify"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Page"
          description: OK
      summary: Create a new Page.
      tags:
        - Pages
  /pages/count.json:
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Count"
          description: Total number of pages
      summary: Count all Pages.
      tags:
        - Pages
  "/pages/{id}.json":
    delete:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: Id of the Page
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Page Not Found.
      summary: Delete an existing Page.
      tags:
        - Pages
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: Id of the Page
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Page"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Page Not Found.
      summary: Retrieve a single Page by id.
      tags:
        - Pages
    put:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: Id of the Page
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      requestBody:
        $ref: "#/components/requestBodies/PageModify"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Page"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Page Not Found.
      summary: Update a Page.
      tags:
        - Pages
  /partners/stores.json:
    get:
      parameters:
        - $ref: "#/components/parameters/PartnerCodeParam"
        - $ref: "#/components/parameters/PartnerAuthtokenParam"
        - $ref: "#/components/parameters/PageParam"
        - description: Statistics start date. Should be in format 'Y-m-d'.
          in: query
          name: from
          required: true
          schema:
            format: string
            type: string
        - description: Statistics end date. Should be in format 'Y-m-d'.
          in: query
          name: to
          required: true
          schema:
            format: sting
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/type"
                type: array
          description: Array of partner stores statistics.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PartnerError"
          description: Bad Request.
      summary: Retrieve statistics.
      tags:
        - Partners
  /payment_methods.json:
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/PaymentMethod"
                type: array
          description: An array of Payment Methods
      summary: Retrieve all Store's Payment Methods.
      tags:
        - Payment Methods
  "/payment_methods/{id}.json":
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: Id of the Payment Method
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentMethod"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: PaymentMethod Not Found.
      summary: Retrieve a single Payment Method.
      tags:
        - Payment Methods
  /products.json:
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - $ref: "#/components/parameters/LimitParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LocaleParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Product"
                type: array
          description: OK
      summary: Retrieve all Products.
      tags:
        - Products
    post:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - $ref: "#/components/parameters/LocaleParam"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductEdit"
        description: Product parameters.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
          description: OK
      summary: Create a new Product.
      tags:
        - Products
  "/products/after/{id}.json":
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - $ref: "#/components/parameters/ProductIDParam"
        - $ref: "#/components/parameters/LocaleParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Product"
                type: array
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Product Not Found.
      summary: Retrieves Products after the given id.
      tags:
        - Products
  "/products/category/{category_id}.json":
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - $ref: "#/components/parameters/LocaleParam"
        - description: Category ID of the Product used as filter
          in: path
          name: category_id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Product"
                type: array
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Product Not Found.
      summary: Retrieve Products filtered by category.
      tags:
        - Products
  "/products/category/{category_id}/count.json":
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - $ref: "#/components/parameters/LocaleParam"
        - description: Category ID of the Product used as filter
          in: path
          name: category_id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Count"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Category Not Found.
      summary: Count Products filtered by category.
      tags:
        - Products
  /products/count.json:
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Count"
          description: OK
      summary: Count all Products.
      tags:
        - Products
  /products/search.json:
    get:
      description: |-
        Endpoint example: 

        ```text
        https://api.jumpseller.com/v1/products/search.json?login=XXXXXX&authtoken=XXXXX&query=test&fields=name,description 
        ```
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - $ref: "#/components/parameters/LocaleParam"
        - description: Text to query for the Product
          in: query
          name: query
          required: true
          schema:
            format: string
            type: string
        - description: Comma separated values of the fields to query for the Product
          in: query
          name: fields
          required: false
          schema:
            enum:
              - sku
              - barcode
              - brand
              - name
              - description
              - variants
              - option_name
              - custom_fields
              - custom_fields_selects
            format: string
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Product"
                type: array
          description: An array of products
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Invalid query.
      summary: Retrieve a Product List from a query.
      tags:
        - Products
  "/products/status/{status}.json":
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - $ref: "#/components/parameters/LocaleParam"
        - description: Status of the Product used as filter
          in: path
          name: status
          required: true
          schema:
            enum:
              - available
              - not-available
              - disabled
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Product"
                type: array
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusInvalid"
          description: Status Invalid.
      summary: Retrieve Products filtered by status.
      tags:
        - Products
  "/products/status/{status}/count.json":
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - $ref: "#/components/parameters/LocaleParam"
        - description: Status of the Product used as filter
          in: path
          name: status
          required: true
          schema:
            enum:
              - available
              - not-available
              - disabled
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Count"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusInvalid"
          description: Status Invalid.
      summary: Count Products filtered by status.
      tags:
        - Products
  "/products/{id}.json":
    delete:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - $ref: "#/components/parameters/ProductIDParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Product Not Found.
      summary: Delete an existing Product.
      tags:
        - Products
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - $ref: "#/components/parameters/LocaleParam"
        - description: ID of the Product
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Product Not Found.
      summary: Retrieve a single Product.
      tags:
        - Products
    put:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - $ref: "#/components/parameters/ProductIDParam"
        - $ref: "#/components/parameters/LocaleParam"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductEdit"
        description: Product parameters to change
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Product Not Found.
      summary: Modify an existing Product.
      tags:
        - Products
  "/products/{id}/attachments.json":
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: ID of the Product
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Attachment"
                type: array
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Product Not Found.
      summary: Retrieve all Product Attachments.
      tags:
        - Product Attachments
    post:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - $ref: "#/components/parameters/ProductIDParam"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AttachmentEdit"
        description: Product Attachment parameters.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Attachment"
          description: OK
      summary: Create a new Product Attachment.
      tags:
        - Product Attachments
  "/products/{id}/attachments/count.json":
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: ID of the Product
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Count"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Product Not Found.
      summary: Count all Product Attachments.
      tags:
        - Product Attachments
  "/products/{id}/attachments/{attachment_id}.json":
    delete:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - $ref: "#/components/parameters/ProductIDParam"
        - description: Id of the Product Attachment
          in: path
          name: attachment_id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Product Not Found.
      summary: Delete a Product Attachment.
      tags:
        - Product Attachments
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - $ref: "#/components/parameters/ProductIDParam"
        - description: Id of the Product Attachment
          in: path
          name: attachment_id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Attachment"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Product Not Found.
      summary: Retrieve a single Product Attachment.
      tags:
        - Product Attachments
  "/products/{id}/digital_products.json":
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: ID of the Product
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/DigitalProduct"
                type: array
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Product Not Found.
      summary: Retrieve all Product DigitalProducts.
      tags:
        - Product DigitalProducts
    post:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - $ref: "#/components/parameters/ProductIDParam"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DigitalProductEdit"
        description: Product DigitalProduct parameters.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DigitalProduct"
          description: OK
      summary: Create a new Product DigitalProduct.
      tags:
        - Product DigitalProducts
  "/products/{id}/digital_products/count.json":
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: ID of the Product
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Count"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Product Not Found.
      summary: Count all Product DigitalProducts.
      tags:
        - Product DigitalProducts
  "/products/{id}/digital_products/{digital_product_id}.json":
    delete:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - $ref: "#/components/parameters/ProductIDParam"
        - description: Id of the Product DigitalProduct
          in: path
          name: digital_product_id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Product Not Found.
      summary: Delete a Product DigitalProduct.
      tags:
        - Product DigitalProducts
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - $ref: "#/components/parameters/ProductIDParam"
        - description: Id of the Product DigitalProduct
          in: path
          name: digital_product_id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DigitalProduct"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Product Not Found.
      summary: Retrieve a single Product DigitalProduct.
      tags:
        - Product DigitalProducts
  "/products/{id}/fields.json":
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - $ref: "#/components/parameters/ProductIDParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ProductCustomField"
                type: array
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Product Not Found.
      summary: Retrieve all Product Custom Fields
      tags:
        - Product Custom Fields
    post:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - $ref: "#/components/parameters/ProductIDParam"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddProductCustomField"
        description: Product Custom Field parameters.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Product Not Found.
      summary: Add an existing Custom Field to a Product.
      tags:
        - Product Custom Fields
  "/products/{id}/fields/count.json":
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: ID of the Product
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Count"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Product Not Found.
      summary: Count all Product Custom Fields.
      tags:
        - Product Custom Fields
  "/products/{id}/images.json":
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: ID of the Product
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Image"
                type: array
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Product Not Found.
      summary: Retrieve all Product Images.
      tags:
        - Product Images
    post:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - $ref: "#/components/parameters/ProductIDParam"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ImageEdit"
        description: Product Image parameters.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Image"
          description: OK
      summary: Create a new Product Image.
      tags:
        - Product Images
  "/products/{id}/images/count.json":
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: ID of the Product
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Count"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Product Not Found.
      summary: Count all Product Images.
      tags:
        - Product Images
  "/products/{id}/images/{image_id}.json":
    delete:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - $ref: "#/components/parameters/ProductIDParam"
        - description: Id of the Product Image
          in: path
          name: image_id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Product Not Found.
      summary: Delete a Product Image.
      tags:
        - Product Images
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - $ref: "#/components/parameters/ProductIDParam"
        - description: Id of the Product Image
          in: path
          name: image_id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Image"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Product Not Found.
      summary: Retrieve a single Product Image.
      tags:
        - Product Images
  "/products/{id}/options.json":
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: ID of the Product
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ProductOption"
                type: array
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Product Not Found.
      summary: Retrieve all Product Options.
      tags:
        - Product Options
    post:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - $ref: "#/components/parameters/ProductIDParam"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductOptionEdit"
        description: Product Option parameters.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductOption"
          description: OK
      summary: Create a new Product Option.
      tags:
        - Product Options
  "/products/{id}/options/count.json":
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: ID of the Product
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Count"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Product Not Found.
      summary: Count all Product Options.
      tags:
        - Product Options
  "/products/{id}/options/{option_id}.json":
    delete:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - $ref: "#/components/parameters/ProductIDParam"
        - description: Id of the Product Option
          in: path
          name: option_id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Product Not Found.
      summary: Delete a Product Option.
      tags:
        - Product Options
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - $ref: "#/components/parameters/ProductIDParam"
        - description: Id of the Product Option
          in: path
          name: option_id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductOption"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Product Not Found.
      summary: Retrieve a single Product Option.
      tags:
        - Product Options
    put:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - $ref: "#/components/parameters/ProductIDParam"
        - description: Id of the Product Option
          in: path
          name: option_id
          required: true
          schema:
            format: int32
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductOptionEdit"
        description: Product option parameters to change
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductOption"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Product Not Found.
      summary: Modify an existing Product Option.
      tags:
        - Product Options
  "/products/{id}/options/{option_id}/values.json":
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: ID of the Product
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
        - description: ID of the Product Option
          in: path
          name: option_id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ProductOptionValue"
                type: array
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Product Not Found.
      summary: Retrieve all Product Option Values.
      tags:
        - Product Option Values
    post:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - $ref: "#/components/parameters/ProductIDParam"
        - description: Id of the Product Option
          in: path
          name: option_id
          required: true
          schema:
            format: int32
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductOptionValueEdit"
        description: Product Option Value parameters.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductOptionValue"
          description: OK
      summary: Create a new Product Option Value.
      tags:
        - Product Option Values
  "/products/{id}/options/{option_id}/values/count.json":
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - description: ID of the Product
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
        - description: ID of the Product Option
          in: path
          name: option_id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Count"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Product Not Found.
      summary: Count all Product Option Values.
      tags:
        - Product Option Values
  "/products/{id}/options/{option_id}/values/{value_id}.json":
    delete:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - $ref: "#/components/parameters/ProductIDParam"
        - description: Id of the Product Option
          in: path
          name: option_id
          required: true
          schema:
            format: int32
            type: integer
        - description: ID of the Product Option Value
          in: path
          name: value_id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Product Not Found.
      summary: Delete a Product Option Value.
      tags:
        - Product Option Values
    get:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - $ref: "#/components/parameters/ProductIDParam"
        - description: Id of the Product Option
          in: path
          name: option_id
          required: true
          schema:
            format: int32
            type: integer
        - description: ID of the Product Option Value
          in: path
          name: value_id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductOptionValue"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Product Not Found.
      summary: Retrieve a single Product Option Value.
      tags:
        - Product Option Values
    put:
      parameters:
        - $ref: "#/components/parameters/LoginParam"
        - $ref: "#/components/parameters/AuthtokenParam"
        - $ref: "#/components/parameters/ProductIDParam"
        - description: Id of the Product Option
          in: path
          name: option_id
          required: true
          schema:
            format: int32
            type: integer
        - description: Id of the Product Option Value
          in: path
          name: value_id
          required: true
          schema:
            format: int32
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductOptionValueEdit"
        description: Product option value parameters to change
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductOptionValue"
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
          description: Product Not Found.
      summary: Modify an existing Product Option Value.
      tags:
        - Product Option Values
[...]
