swagger: '2.0'
schemes:
  - https
host: www.googleapis.com
basePath: /apps/licensing/v1/product
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: Views and manages licenses for your domain.
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Enterprise License Manager
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-apisguru-categories:
    - enterprise
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.0.1
      format: google
      url: 'https://www.googleapis.com/discovery/v1/apis/licensing/v1/rest'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: licensing
externalDocs:
  url: 'https://developers.google.com/google-apps/licensing/'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/apps.licensing': View and manage G Suite licenses for your domain
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://www.googleapis.com/auth/apps.licensing': View and manage G Suite licenses for your domain
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  alt:
    default: json
    description: Data format for the response.
    enum:
      - json
    in: query
    name: alt
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
    in: query
    name: quotaUser
    type: string
  userIp:
    description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    in: query
    name: userIp
    type: string
tags:
  - name: licenseAssignments
paths:
  '/{productId}/sku/{skuId}/user':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Assign License.
      operationId: licensing.licenseAssignments.insert
      parameters:
        - description: Name for product
          in: path
          name: productId
          required: true
          type: string
        - description: Name for sku
          in: path
          name: skuId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/LicenseAssignmentInsert'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/LicenseAssignment'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/apps.licensing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/apps.licensing'
      tags:
        - licenseAssignments
  '/{productId}/sku/{skuId}/user/{userId}':
    delete:
      description: Revoke License.
      operationId: licensing.licenseAssignments.delete
      parameters:
        - description: Name for product
          in: path
          name: productId
          required: true
          type: string
        - description: Name for sku
          in: path
          name: skuId
          required: true
          type: string
        - description: email id or unique Id of the user
          in: path
          name: userId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/apps.licensing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/apps.licensing'
      tags:
        - licenseAssignments
    get:
      description: Get license assignment of a particular product and sku for a user
      operationId: licensing.licenseAssignments.get
      parameters:
        - description: Name for product
          in: path
          name: productId
          required: true
          type: string
        - description: Name for sku
          in: path
          name: skuId
          required: true
          type: string
        - description: email id or unique Id of the user
          in: path
          name: userId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/LicenseAssignment'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/apps.licensing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/apps.licensing'
      tags:
        - licenseAssignments
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Assign License. This method supports patch semantics.
      operationId: licensing.licenseAssignments.patch
      parameters:
        - description: Name for product
          in: path
          name: productId
          required: true
          type: string
        - description: Name for sku for which license would be revoked
          in: path
          name: skuId
          required: true
          type: string
        - description: email id or unique Id of the user
          in: path
          name: userId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/LicenseAssignment'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/LicenseAssignment'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/apps.licensing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/apps.licensing'
      tags:
        - licenseAssignments
    put:
      description: Assign License.
      operationId: licensing.licenseAssignments.update
      parameters:
        - description: Name for product
          in: path
          name: productId
          required: true
          type: string
        - description: Name for sku for which license would be revoked
          in: path
          name: skuId
          required: true
          type: string
        - description: email id or unique Id of the user
          in: path
          name: userId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/LicenseAssignment'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/LicenseAssignment'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/apps.licensing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/apps.licensing'
      tags:
        - licenseAssignments
  '/{productId}/sku/{skuId}/users':
    get:
      description: List license assignments for given product and sku of the customer.
      operationId: licensing.licenseAssignments.listForProductAndSku
      parameters:
        - description: Name for product
          in: path
          name: productId
          required: true
          type: string
        - description: Name for sku
          in: path
          name: skuId
          required: true
          type: string
        - description: CustomerId represents the customer for whom licenseassignments are queried
          in: query
          name: customerId
          required: true
          type: string
        - default: 100
          description: Maximum number of campaigns to return at one time. Must be positive. Optional. Default value is 100.
          in: query
          maximum: 1000
          minimum: 1
          name: maxResults
          type: integer
        - default: ''
          description: Token to fetch the next page.Optional. By default server will return first page
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/LicenseAssignmentList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/apps.licensing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/apps.licensing'
      tags:
        - licenseAssignments
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{productId}/users':
    get:
      description: List license assignments for given product of the customer.
      operationId: licensing.licenseAssignments.listForProduct
      parameters:
        - description: Name for product
          in: path
          name: productId
          required: true
          type: string
        - description: CustomerId represents the customer for whom licenseassignments are queried
          in: query
          name: customerId
          required: true
          type: string
        - default: 100
          description: Maximum number of campaigns to return at one time. Must be positive. Optional. Default value is 100.
          in: query
          maximum: 1000
          minimum: 1
          name: maxResults
          type: integer
        - default: ''
          description: Token to fetch the next page.Optional. By default server will return first page
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/LicenseAssignmentList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/apps.licensing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/apps.licensing'
      tags:
        - licenseAssignments
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
definitions:
  LicenseAssignment:
    description: Template for LiscenseAssignment Resource
    properties:
      etags:
        description: ETag of the resource.
        type: string
      kind:
        default: 'licensing#licenseAssignment'
        description: Identifies the resource as a LicenseAssignment.
        type: string
      productId:
        description: Id of the product.
        type: string
      productName:
        description: Display Name of the product.
        type: string
      selfLink:
        description: Link to this page.
        type: string
      skuId:
        description: Id of the sku of the product.
        type: string
      skuName:
        description: Display Name of the sku of the product.
        type: string
      userId:
        description: Email id of the user.
        type: string
    type: object
  LicenseAssignmentInsert:
    description: Template for LicenseAssignment Insert request
    properties:
      userId:
        description: Email id of the user
        type: string
    type: object
  LicenseAssignmentList:
    description: LicesnseAssignment List for a given product/sku for a customer.
    properties:
      etag:
        description: ETag of the resource.
        type: string
      items:
        description: The LicenseAssignments in this page of results.
        items:
          $ref: '#/definitions/LicenseAssignment'
        type: array
      kind:
        default: 'licensing#licenseAssignmentList'
        description: Identifies the resource as a collection of LicenseAssignments.
        type: string
      nextPageToken:
        description: 'The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.'
        type: string
    type: object
