swagger: '2.0'
schemes:
  - https
host: www.googleapis.com
basePath: /apps/licensing/v1/product
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: Licensing API to view and manage licenses for your domain
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Licensing
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-apisguru-categories:
    - enterprise
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.7.31
      format: google
      url: 'https://www.googleapis.com/discovery/v1/apis/licensing/v1/rest'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: licensing
externalDocs:
  url: 'https://developers.google.com/admin-sdk/licensing/'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/apps.licensing': View and manage G Suite licenses for your domain
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://www.googleapis.com/auth/apps.licensing': View and manage G Suite licenses for your domain
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  alt:
    default: json
    description: Data format for the response.
    enum:
      - json
    in: query
    name: alt
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: An opaque string that represents a user for quota purposes. Must not exceed 40 characters.
    in: query
    name: quotaUser
    type: string
  userIp:
    description: Deprecated. Please use quotaUser instead.
    in: query
    name: userIp
    type: string
tags:
  - name: licenseAssignments
paths:
  '/{productId}/sku/{skuId}/user':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Assign a license.
      operationId: licensing.licenseAssignments.insert
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/LicenseAssignmentInsert'
        - description: 'A product''s unique identifier. For more information about products in this version of the API, see Products and SKUs.'
          in: path
          name: productId
          required: true
          type: string
        - description: 'A product SKU''s unique identifier. For more information about available SKUs in this version of the API, see Products and SKUs.'
          in: path
          name: skuId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/LicenseAssignment'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/apps.licensing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/apps.licensing'
      tags:
        - licenseAssignments
  '/{productId}/sku/{skuId}/user/{userId}':
    delete:
      description: Revoke a license.
      operationId: licensing.licenseAssignments.delete
      parameters:
        - description: 'A product''s unique identifier. For more information about products in this version of the API, see Products and SKUs.'
          in: path
          name: productId
          required: true
          type: string
        - description: 'A product SKU''s unique identifier. For more information about available SKUs in this version of the API, see Products and SKUs.'
          in: path
          name: skuId
          required: true
          type: string
        - description: |-
            The user's current primary email address. If the user's email address changes, use the new email address in your API requests.
            Since a userId is subject to change, do not use a userId value as a key for persistent data. This key could break if the current user's email address changes.
            If the userId is suspended, the license status changes.
          in: path
          name: userId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/apps.licensing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/apps.licensing'
      tags:
        - licenseAssignments
    get:
      description: Get a specific user's license by product SKU.
      operationId: licensing.licenseAssignments.get
      parameters:
        - description: 'A product''s unique identifier. For more information about products in this version of the API, see Products and SKUs.'
          in: path
          name: productId
          required: true
          type: string
        - description: 'A product SKU''s unique identifier. For more information about available SKUs in this version of the API, see Products and SKUs.'
          in: path
          name: skuId
          required: true
          type: string
        - description: |-
            The user's current primary email address. If the user's email address changes, use the new email address in your API requests.
            Since a userId is subject to change, do not use a userId value as a key for persistent data. This key could break if the current user's email address changes.
            If the userId is suspended, the license status changes.
          in: path
          name: userId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/LicenseAssignment'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/apps.licensing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/apps.licensing'
      tags:
        - licenseAssignments
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Reassign a user's product SKU with a different SKU in the same product. This method supports patch semantics.
      operationId: licensing.licenseAssignments.patch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/LicenseAssignment'
        - description: 'A product''s unique identifier. For more information about products in this version of the API, see Products and SKUs.'
          in: path
          name: productId
          required: true
          type: string
        - description: 'A product SKU''s unique identifier. For more information about available SKUs in this version of the API, see Products and SKUs.'
          in: path
          name: skuId
          required: true
          type: string
        - description: |-
            The user's current primary email address. If the user's email address changes, use the new email address in your API requests.
            Since a userId is subject to change, do not use a userId value as a key for persistent data. This key could break if the current user's email address changes.
            If the userId is suspended, the license status changes.
          in: path
          name: userId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/LicenseAssignment'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/apps.licensing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/apps.licensing'
      tags:
        - licenseAssignments
    put:
      description: Reassign a user's product SKU with a different SKU in the same product.
      operationId: licensing.licenseAssignments.update
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/LicenseAssignment'
        - description: 'A product''s unique identifier. For more information about products in this version of the API, see Products and SKUs.'
          in: path
          name: productId
          required: true
          type: string
        - description: 'A product SKU''s unique identifier. For more information about available SKUs in this version of the API, see Products and SKUs.'
          in: path
          name: skuId
          required: true
          type: string
        - description: |-
            The user's current primary email address. If the user's email address changes, use the new email address in your API requests.
            Since a userId is subject to change, do not use a userId value as a key for persistent data. This key could break if the current user's email address changes.
            If the userId is suspended, the license status changes.
          in: path
          name: userId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/LicenseAssignment'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/apps.licensing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/apps.licensing'
      tags:
        - licenseAssignments
  '/{productId}/sku/{skuId}/users':
    get:
      description: List all users assigned licenses for a specific product SKU.
      operationId: licensing.licenseAssignments.listForProductAndSku
      parameters:
        - description: |-
            Customer's customerId. A previous version of this API accepted the primary domain name as a value for this field.
            If the customer is suspended, the server returns an error.
          in: query
          name: customerId
          required: true
          type: string
        - default: 100
          description: The maxResults query string determines how many entries are returned on each page of a large response. This is an optional parameter. The value must be a positive number.
          in: query
          maximum: 1000
          minimum: 1
          name: maxResults
          type: integer
        - default: ''
          description: 'Token to fetch the next page of data. The maxResults query string is related to the pageToken since maxResults determines how many entries are returned on each page. This is an optional query string. If not specified, the server returns the first page.'
          in: query
          name: pageToken
          type: string
        - description: 'A product''s unique identifier. For more information about products in this version of the API, see Products and SKUs.'
          in: path
          name: productId
          required: true
          type: string
        - description: 'A product SKU''s unique identifier. For more information about available SKUs in this version of the API, see Products and SKUs.'
          in: path
          name: skuId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/LicenseAssignmentList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/apps.licensing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/apps.licensing'
      tags:
        - licenseAssignments
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{productId}/users':
    get:
      description: List all users assigned licenses for a specific product SKU.
      operationId: licensing.licenseAssignments.listForProduct
      parameters:
        - description: |-
            Customer's customerId. A previous version of this API accepted the primary domain name as a value for this field.
            If the customer is suspended, the server returns an error.
          in: query
          name: customerId
          required: true
          type: string
        - default: 100
          description: The maxResults query string determines how many entries are returned on each page of a large response. This is an optional parameter. The value must be a positive number.
          in: query
          maximum: 1000
          minimum: 1
          name: maxResults
          type: integer
        - default: ''
          description: 'Token to fetch the next page of data. The maxResults query string is related to the pageToken since maxResults determines how many entries are returned on each page. This is an optional query string. If not specified, the server returns the first page.'
          in: query
          name: pageToken
          type: string
        - description: 'A product''s unique identifier. For more information about products in this version of the API, see Products and SKUs.'
          in: path
          name: productId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/LicenseAssignmentList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/apps.licensing'
          Oauth2c:
            - 'https://www.googleapis.com/auth/apps.licensing'
      tags:
        - licenseAssignments
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
definitions:
  LicenseAssignment:
    description: Representation of a license assignment.
    properties:
      etags:
        description: ETag of the resource.
        type: string
      kind:
        default: 'licensing#licenseAssignment'
        description: Identifies the resource as a LicenseAssignment.
        type: string
      productId:
        description: 'A product''s unique identifier. For more information about products in this version of the API, see Product and SKU IDs.'
        type: string
      productName:
        description: Display Name of the product.
        type: string
      selfLink:
        description: Link to this page.
        type: string
      skuId:
        description: 'A product SKU''s unique identifier. For more information about available SKUs in this version of the API, see Products and SKUs.'
        type: string
      skuName:
        description: Display Name of the sku of the product.
        type: string
      userId:
        description: 'The user''s current primary email address. If the user''s email address changes, use the new email address in your API requests. Since a userId is subject to change, do not use a userId value as a key for persistent data. This key could break if the current user''s email address changes. If the userId is suspended, the license status changes.'
        type: string
    type: object
  LicenseAssignmentInsert:
    description: Representation of a license assignment.
    properties:
      userId:
        description: Email id of the user
        type: string
    type: object
  LicenseAssignmentList:
    description: LicesnseAssignment List for a given product/sku for a customer.
    properties:
      etag:
        description: ETag of the resource.
        type: string
      items:
        description: The LicenseAssignments in this page of results.
        items:
          $ref: '#/definitions/LicenseAssignment'
        type: array
      kind:
        default: 'licensing#licenseAssignmentList'
        description: Identifies the resource as a collection of LicenseAssignments.
        type: string
      nextPageToken:
        description: The token that you must submit in a subsequent request to retrieve additional license results matching your query parameters. The maxResults query string is related to the nextPageToken since maxResults determines how many entries are returned on each next page.
        type: string
    type: object
