swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  title: RecoveryServicesClient
  version: '2016-06-01'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    format: swagger
    url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-recoveryservices/2016-06-01/swagger/recoveryservices.json'
    version: '2.0'
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: arm-recoveryservices
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account.
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersion:
    description: Client Api Version.
    in: query
    name: api-version
    required: true
    type: string
  ResourceGroupName:
    description: The name of the resource group where the recovery services vault is present.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionId:
    description: The subscription Id.
    in: path
    name: subscriptionId
    required: true
    type: string
  VaultName:
    description: The name of the recovery services vault.
    in: path
    name: vaultName
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults':
    get:
      consumes:
        - application/json
      deprecated: false
      operationId: Vaults_ListByResourceGroup
      parameters:
        - $ref: '#/parameters/SubscriptionId'
        - $ref: '#/parameters/ResourceGroupName'
        - $ref: '#/parameters/ApiVersion'
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/VaultList'
      summary: Retrieve a list of Vaults.
      tags:
        - Vaults
      x-ms-pageable:
        nextLinkName: 'null'
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}':
    delete:
      consumes:
        - application/json
      deprecated: false
      description: Deletes a vault.
      operationId: Vaults_Delete
      parameters:
        - $ref: '#/parameters/SubscriptionId'
        - $ref: '#/parameters/ResourceGroupName'
        - $ref: '#/parameters/VaultName'
        - $ref: '#/parameters/ApiVersion'
      produces:
        - application/json
      responses:
        '200':
          description: OK
      tags:
        - Vaults
    get:
      consumes:
        - application/json
      deprecated: false
      description: Get the Vault details.
      operationId: Vaults_Get
      parameters:
        - $ref: '#/parameters/SubscriptionId'
        - $ref: '#/parameters/ResourceGroupName'
        - $ref: '#/parameters/VaultName'
        - $ref: '#/parameters/ApiVersion'
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Vault'
      tags:
        - Vaults
    put:
      consumes:
        - application/json
      deprecated: false
      description: Creates or updates a Recovery Services vault.
      operationId: Vaults_CreateOrUpdate
      parameters:
        - $ref: '#/parameters/SubscriptionId'
        - $ref: '#/parameters/ResourceGroupName'
        - $ref: '#/parameters/VaultName'
        - $ref: '#/parameters/ApiVersion'
        - description: Recovery Services Vault to be created.
          in: body
          name: vault
          required: true
          schema:
            $ref: '#/definitions/Vault'
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Vault'
        '201':
          description: Created
          schema:
            $ref: '#/definitions/Vault'
      tags:
        - Vaults
definitions:
  Object:
    description: Base of all objects.
    properties: {}
    type: object
  Resource:
    properties:
      id:
        description: Resource Id
        readOnly: true
        type: string
      location:
        description: Resource Location
        type: string
      name:
        description: Resource Name
        readOnly: true
        type: string
      sku:
        $ref: '#/definitions/Sku'
      tags:
        additionalProperties:
          type: string
        description: Resource Tags
        type: object
      type:
        description: Resource Type
        readOnly: true
        type: string
    x-ms-azure-resource: true
  Sku:
    description: Identifies the unique system identifier for each Azure resource.
    properties:
      name:
        description: The Sku name.
        enum:
          - Standard
          - RS0
        type: string
        x-ms-enum:
          modelAsString: true
          name: SkuName
    required:
      - name
    type: object
  Vault:
    allOf:
      - $ref: '#/definitions/Resource'
    description: 'Resource information, as returned by the resource provider.'
    properties:
      etag:
        description: ETag of the Vault.
        readOnly: true
        type: string
      properties:
        $ref: '#/definitions/VaultProperties'
    required:
      - location
    type: object
  VaultList:
    description: The response model for Vault.
    properties:
      value:
        items:
          $ref: '#/definitions/Vault'
        type: array
    type: object
  VaultProperties:
    description: Properties of the vault.
    properties:
      provisioningState:
        description: Provisioning State.
        readOnly: true
        type: string
    type: object
