swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  description: The Microsoft Azure Storage Import/Export Resource Provider API.
  title: StorageImportExport
  version: '2016-11-01'
  x-apisguru-categories:
    - storage
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-storageimportexport/2016-11-01/swagger/storageimportexport.json'
      version: '2.0'
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: arm-storageimportexport
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.windows-ppe.net/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  Accept-Language:
    description: Specifies the preferred language for the response.
    enum:
      - en-us
    in: header
    name: Accept-Language
    required: true
    type: string
  api-version:
    description: Specifies the API version to use for this request.
    enum:
      - '2016-11-01'
    in: query
    name: api-version
    required: true
    type: string
  resourceGroupName:
    description: The resource group name uniquely identifies the resource group within the user subscription.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  subscriptionId:
    description: The subscription ID for the Azure user.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.ImportExport/locations:
    get:
      description: Returns a list of locations to which you can ship the disks associated with an import or export job. A location is a Microsoft data center region.
      operationId: ListLocations
      parameters:
        - $ref: '#/parameters/api-version'
        - $ref: '#/parameters/Accept-Language'
      responses:
        '200':
          description: The locations were successfully retrieved and are in the response.
          schema:
            $ref: '#/definitions/LocationsListResult'
        default:
          description: An error occurred during the operation.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
        - StorageImportExport
  '/providers/Microsoft.ImportExport/locations/{locationName}':
    get:
      description: Gets a location to which you can ship the disks associated with an import or export job. A location is an Azure region.
      operationId: GetLocation
      parameters:
        - description: 'The name of the location. For example, ''West US'' or ''westus''.'
          in: path
          name: locationName
          required: true
          type: string
        - $ref: '#/parameters/api-version'
        - $ref: '#/parameters/Accept-Language'
      responses:
        '200':
          description: The location was successfully retrieved and is in the response.
          schema:
            $ref: '#/definitions/Location'
        default:
          description: An error occurred during the operation.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
        - StorageImportExport
  /providers/Microsoft.ImportExport/operations:
    get:
      description: Returns the list of operations supported by the import/export resource provider.
      operationId: ListSupportedOperations
      parameters:
        - $ref: '#/parameters/api-version'
        - $ref: '#/parameters/Accept-Language'
      responses:
        '200':
          description: The supported operations were successfully retrieved and are in the response.
          schema:
            $ref: '#/definitions/SupportedOperationsListResult'
        default:
          description: An error occurred during the operation.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
        - StorageImportExport
  '/subscriptions/{subscriptionId}/providers/Microsoft.ImportExport/jobs':
    get:
      description: Gets all the active and completed import/export jobs in a subscription.
      operationId: Jobs_List
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/api-version'
        - $ref: '#/parameters/Accept-Language'
        - description: An integer value that specifies how many jobs at most should be returned. The value cannot exceed 100.
          in: query
          maximum: 100
          minimum: 1
          name: $top
          required: false
          type: integer
        - description: 'Can be used to restrict the results to certain conditions. The following possible values can be used with $filter: 1) $filter=type eq ''{type}''; 2) $filter=trackingnumber eq ''{trackingnumber}''; 3) $filter=state eq ''{state}''; 4) Logical and combination of the above, for example: $filter=type eq ''Import'' and state eq ''Transferring''. Valid values for type are Import and Export. Valid values for state are Creating, Shipping, Received, Transferring, Packaging, Closed, and Completed.'
          in: query
          name: $filter
          required: false
          type: string
      responses:
        '200':
          description: The jobs were successfully retrieved and are in the response.
          schema:
            $ref: '#/definitions/JobListResult'
        default:
          description: An error occurred during the operation.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
        - StorageImportExport
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ImportExport/jobs':
    get:
      description: Returns all active and completed import/export jobs in a resource group.
      operationId: Jobs_ListByResourceGroup
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - $ref: '#/parameters/api-version'
        - $ref: '#/parameters/Accept-Language'
        - description: An integer value that specifies how many jobs at most should be returned. The value cannot exceed 100.
          in: query
          maximum: 100
          minimum: 1
          name: $top
          required: false
          type: integer
        - description: 'Can be used to restrict the results to certain conditions. The following possible values can be used with $filter: 1) $filter=type eq ''{type}''; 2) $filter=trackingnumber eq ''{trackingnumber}''; 3) $filter=state eq ''{state}''; 4) Logical and combination of the above, for example: $filter=type eq ''Import'' and state eq ''Transferring''. Valid values for type are Import and Export. Valid values for state are Creating, Shipping, Received, Transferring, Packaging, Closed, and Completed.'
          in: query
          name: $filter
          required: false
          type: string
      responses:
        '200':
          description: The jobs were successfully retrieved and are in the response.
          schema:
            $ref: '#/definitions/JobListResult'
        default:
          description: An error occurred during the operation.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
        - StorageImportExport
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ImportExport/jobs/{jobName}':
    delete:
      description: Deletes an existing import/export job. Only import/export jobs in the Creating or Completed states can be deleted.
      operationId: Jobs_Delete
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - description: The name of the import/export job.
          in: path
          name: jobName
          required: true
          type: string
        - $ref: '#/parameters/api-version'
        - $ref: '#/parameters/Accept-Language'
      responses:
        '200':
          description: The job was successfully deleted.
        default:
          description: An error occurred during the operation.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
        - StorageImportExport
    get:
      description: Gets information about an existing import/export job.
      operationId: Jobs_Get
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - description: The name of the import/export job.
          in: path
          name: jobName
          required: true
          type: string
        - $ref: '#/parameters/api-version'
        - $ref: '#/parameters/Accept-Language'
      responses:
        '200':
          description: The job was successfully retrieved and is in the response.
          schema:
            $ref: '#/definitions/Job'
        default:
          description: An error occurred during the operation.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
        - StorageImportExport
    patch:
      description: Updates specific properties of the import/export job. You can call this operation to notify the Import/Export service that the hard drives comprising the import or export job have been shipped to the Microsoft data center. It can also be used to cancel an existing job.
      operationId: Jobs_Update
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - description: The name of the import/export job.
          in: path
          name: jobName
          required: true
          type: string
        - description: Import/export job properties that need to be updated.
          in: body
          name: jobProperties
          required: true
          schema:
            $ref: '#/definitions/MutableJob'
        - $ref: '#/parameters/api-version'
        - $ref: '#/parameters/Accept-Language'
      responses:
        '200':
          description: The job was successfully updated.
          schema:
            $ref: '#/definitions/Job'
        default:
          description: An error occurred during the operation.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
        - StorageImportExport
    put:
      description: Creates a new import/export job or updates an existing import/export job in the specified subscription.
      operationId: Jobs_CreateOrUpdate
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - description: The name of the import/export job.
          in: path
          name: jobName
          required: true
          type: string
        - description: Properties of the import/export job that need to be specified during creation.
          in: body
          name: jobProperties
          required: true
          schema:
            $ref: '#/definitions/Job'
        - $ref: '#/parameters/api-version'
        - $ref: '#/parameters/Accept-Language'
      responses:
        '200':
          description: The job was successfully updated.
          schema:
            $ref: '#/definitions/Job'
        '201':
          description: The job was successfully created.
          schema:
            $ref: '#/definitions/Job'
        default:
          description: An error occurred during the operation.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
        - StorageImportExport
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ImportExport/jobs/{jobName}/listBitLockerKeys':
    get:
      description: Lists the BitLocker keys for all drives in the specified import/export job.
      operationId: Jobs_ListBitLockerKeys
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - description: The name of the import/export job.
          in: path
          name: jobName
          required: true
          type: string
        - $ref: '#/parameters/api-version'
        - $ref: '#/parameters/Accept-Language'
      responses:
        '200':
          description: The BitLocker keys were successfully retrieved and are in the response.
          schema:
            $ref: '#/definitions/BitLockerKeysListResult'
        default:
          description: An error occurred during the operation.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
        - StorageImportExport
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ImportExport/moveResources':
    post:
      description: Moves the specified import/export jobs from the resource group to a target resource group. The target resource group may be in a different subscription.
      operationId: Jobs_Move
      parameters:
        - $ref: '#/parameters/subscriptionId'
        - $ref: '#/parameters/resourceGroupName'
        - description: Parameters to be provided to move a job from one resource group to another.
          in: body
          name: MoveJobsParameters
          required: true
          schema:
            $ref: '#/definitions/MoveJobParameters'
        - $ref: '#/parameters/api-version'
        - $ref: '#/parameters/Accept-Language'
      responses:
        '200':
          description: The job was successfully moved to the specified resource group.
        default:
          description: An error occurred during the operation.
          schema:
            $ref: '#/definitions/ErrorResponse'
      tags:
        - StorageImportExport
definitions:
  BitLockerKeysListResult:
    description: List of BitLocker keys for the specified import/export job.
    properties:
      value:
        description: List of BitLocker keys for the specified import/export job.
        items:
          $ref: '#/definitions/DriveStatus'
        type: array
  Drive:
    description: Provides information about the drive that contains information about the import/export jobs.
    properties:
      bitLockerKey:
        description: The BitLocker key used to encrypt the drive.
        type: string
      driveId:
        description: 'The drive''s hardware serial number, without spaces.'
        type: string
      manifestFile:
        description: The relative path of the manifest file on the drive.
        type: string
      manifestHash:
        description: The Base16-encoded MD5 hash of the manifest file on the drive.
        type: string
    required:
      - driveId
      - bitLockerKey
      - manifestFile
      - manifestHash
  DriveStatus:
    allOf:
      - $ref: '#/definitions/Drive'
    description: Provides information about the drive's status.
    properties:
      copyStatus:
        description: Detailed status about the data transfer process. This field is not returned in the response until the drive is in the Transferring state.
        type: string
      errorLogUri:
        description: A URI that points to the blob containing the error log for the data transfer operation.
        type: string
      manifestUri:
        description: A URI that points to the blob containing the drive manifest file.
        type: string
      percentComplete:
        description: Percentage completed for the drive.
        type: integer
      state:
        description: The drive's current state.
        enum:
          - Specified
          - Received
          - NeverReceived
          - Transferring
          - Completed
          - CompletedMoreInfo
          - ShippedBack
        type: string
        x-ms-enum:
          modelAsString: true
          name: DriveState
      verboseLogUri:
        description: A URI that points to the blob containing the verbose log for the data transfer operation.
        type: string
  ErrorBase:
    description: Describes the common properties of the Error object
    properties:
      code:
        description: Provides information about the error code.
        type: string
      message:
        description: Provides information about the error message.
        type: string
      target:
        description: Provides information about the error target.
        type: string
  ErrorInfo:
    allOf:
      - $ref: '#/definitions/ErrorBase'
    description: Describes the error information.
    properties:
      details:
        description: Describes the error details if present.
        items:
          $ref: '#/definitions/ErrorBase'
        type: array
  ErrorResponse:
    description: Describes the model for Error Response.
    properties:
      error:
        $ref: '#/definitions/ErrorInfo'
        description: Describes the error information
  Export:
    description: 'A property containing information about the blobs to be exported for an export job. This property is required for export jobs, but must not be specified for import jobs.'
    properties:
      blobList:
        description: A list of the blobs to be exported.
        properties:
          blobPath:
            description: A collection of blob-path strings.
            items:
              type: string
            type: array
          blobPathPrefix:
            description: A collection of blob-prefix strings.
            items:
              type: string
            type: array
        x-ms-client-flatten: true
      blobListblobPath:
        description: 'The relative URI to the block blob that contains the list of blob paths or blob path prefixes as defined above, beginning with the container name. If the blob is in the root container, the URI must begin with $root.'
        type: string
  Job:
    allOf:
      - $ref: '#/definitions/Resource'
    description: Describes an import/export job.
    properties:
      properties:
        $ref: '#/definitions/JobProperties'
        description: Import/export job properties.
        x-ms-client-flatten: true
    required:
      - properties
  JobListResult:
    description: List of import/export jobs.
    properties:
      nextLink:
        type: string
      value:
        items:
          $ref: '#/definitions/Job'
        type: array
    required:
      - value
  JobProperties:
    description: Import/export job specific properties.
    properties:
      backupDriveManifest:
        default: false
        description: Default value is false. Indicates whether the manifest files on the drives should be copied to block blobs.
        type: boolean
      cancelRequested:
        description: Indicates whether a request has been submitted to cancel the job.
        type: boolean
      containerSas:
        description: The container shared access signature (SAS) to be used to import or export data to or from the storage account.
        type: string
      deliveryPackage:
        $ref: '#/definitions/PackageInfomation'
        description: Contains information about the package being shipped by the customer to the Microsoft data center.
      diagnosticsPath:
        description: The virtual blob directory to which the copy logs and backups of drive manifest files (if enabled) will be stored.
        type: string
      driveList:
        description: List of up to ten drives that comprise the job. The drive list is a required element for an import job; it is not specified for export jobs.
        items:
          $ref: '#/definitions/DriveStatus'
        maxItems: 10
        minItems: 0
        type: array
      export:
        $ref: '#/definitions/Export'
        description: A property containing information about the blobs to be exported for an export job. This property is included for export jobs only.
      incompleteBlobListUri:
        description: 'A blob path that points to a block blob containing a list of blob names that were not exported due to insufficient drive space. If all blobs were exported successfully, then this element is not included in the response.'
        readOnly: true
        type: string
      jobType:
        description: 'The type of job: Import or Export.'
        enum:
          - Import
          - Export
        type: string
        x-ms-enum:
          modelAsString: false
          name: JobType
      logLevel:
        default: Error
        description: Default value is Error. Indicates whether error logging or verbose logging will be enabled.
        enum:
          - Error
          - Verbose
        type: string
        x-ms-enum:
          modelAsString: true
          name: LogLevel
      percentComplete:
        description: Overall percentage completed for the job.
        readOnly: true
        type: integer
      provisioningState:
        description: Specifies the provisioning state of the job.
        readOnly: true
        type: string
      returnAddress:
        $ref: '#/definitions/ReturnAddress'
        description: Specifies the return address information for the job.
      returnPackage:
        $ref: '#/definitions/PackageInfomation'
        description: Contains information about the package being shipped from the Microsoft data center to the customer to return the drives. The format is the same as the deliveryPackage property above. This property is not included if the drives have not yet been returned.
        readOnly: true
      returnShipping:
        $ref: '#/definitions/ReturnShipping'
        description: Specifies the return carrier and customer's account with the carrier.
      shippingInformation:
        $ref: '#/definitions/ShippingInformation'
        description: Contains information about the Microsoft datacenter to which the drives should be shipped.
        readOnly: true
      state:
        description: Current state of the job.
        enum:
          - Creating
          - Shipping
          - Received
          - Transferring
          - Packaging
          - Closed
          - Completed
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: JobState
      storageAccountId:
        description: The resource identifier of the storage account where data will be imported to or exported from.
        type: string
    required:
      - storageAccountId
      - jobType
      - returnAddress
      - returnShipping
      - diagnosticsPath
  Location:
    description: Provides information about an Azure data center location.
    properties:
      id:
        description: Specifies the resource identifier of the location.
        type: string
      name:
        description: Specifies the name of the location. Use List Locations to get all supported locations.
        type: string
      properties:
        $ref: '#/definitions/LocationProperties'
        description: Describes the properties of a location.
        x-ms-client-flatten: true
      type:
        description: Specifies the resource type of the location.
        type: string
  LocationProperties:
    description: Describes the properties of a location.
    properties:
      alternateLocations:
        description: 'A list of location IDs that should be used to ship shipping drives to for jobs created against the current location. If the current location is active, it will be part of the list. If it is temporarily closed due to maintenance, this list may contain other locations.'
        items:
          type: string
        type: array
      city:
        description: The city name to use when shipping the drives to the Azure data center.
        type: string
      countryOrRegion:
        description: The country or region to use when shipping the drives to the Azure data center.
        type: string
      phone:
        description: The phone number for the Azure data center.
        type: string
      postalCode:
        description: The postal code to use when shipping the drives to the Azure data center.
        type: string
      recipientName:
        description: The recipient name to use when shipping the drives to the Azure data center.
        type: string
      stateOrProvince:
        description: The state or province to use when shipping the drives to the Azure data center.
        type: string
      streetAddress1:
        description: The first line of the street address to use when shipping the drives to the Azure data center.
        type: string
      streetAddress2:
        description: The second line of the street address to use when shipping the drives to the Azure data center.
        type: string
      supportedCarriers:
        description: A list of carriers that are supported at this location.
        items:
          type: string
        type: array
  LocationsListResult:
    description: List of locations.
    properties:
      value:
        description: List of locations.
        items:
          $ref: '#/definitions/Location'
        type: array
    required:
      - value
  MoveJobParameters:
    description: Defines the parameters that need to be provided for moving an import/export job from one reesource group to another.
    properties:
      resources:
        description: Specifies the list of jobs to move to the target resource group. The jobs must be from the current resource group from the request URL.
        items:
          type: string
        type: array
      targetResourceGroup:
        description: Specifies the target resource group ID to move the jobs to.
        type: string
    required:
      - targetResourceGroup
      - resources
  MutableJob:
    description: Describes the updatable properties of the job
    properties:
      properties:
        $ref: '#/definitions/MutableJobProperties'
        description: Specifies the properties of an UpdateJob.
        x-ms-client-flatten: true
      tags:
        type: object
  MutableJobProperties:
    description: Properties of the job that can be updated.
    properties:
      backupDriveManifest:
        description: Indicates whether the manifest files on the drives should be copied to block blobs.
        type: boolean
      cancelRequested:
        description: 'If specified, the value must be true. The service will attempt to cancel the job.'
        type: boolean
      deliveryPackage:
        $ref: '#/definitions/PackageInfomation'
        description: Contains information about the package being shipped by the customer to the Microsoft data center.
      logLevel:
        description: Indicates whether error logging or verbose logging is enabled.
        type: string
      returnAddress:
        $ref: '#/definitions/ReturnAddress'
        description: Specifies the return address information for the job.
      returnShipping:
        $ref: '#/definitions/ReturnShipping'
        description: Specifies the return carrier and customer's account with the carrier.
      state:
        description: 'If specified, the value must be Shipping, which tells the Import/Export service that the package for the job has been shipped. The ReturnAddress and DeliveryPackage properties must have been set either in this request or in a previous request, otherwise the request will fail.'
        enum:
          - Shipping
        type: string
        x-ms-enum:
          modelAsString: true
          name: MutableJobState
  Operation:
    description: Describes a supported operation by the Storage Import/Export job API.
    properties:
      display:
        $ref: '#/definitions/OperationDisplayInformation'
        description: Display information about the operation.
        x-ms-client-flatten: true
      name:
        description: Name of the operation.
        type: string
    required:
      - name
      - display
  OperationDisplayInformation:
    description: Display information about the operation.
    properties:
      description:
        description: Short description of the operation.
        type: string
      operation:
        description: The display name of the operation.
        type: string
      provider:
        description: The resource provider name to which the operation belongs.
        type: string
      resource:
        description: The name of the resource to which the operation belongs.
        type: string
  PackageInfomation:
    description: Provides information about the package being shipped by the customer to the Microsoft data center.
    properties:
      carrierName:
        description: The name of the carrier that is used to ship the import or export drives.
        type: string
      driveCount:
        description: The number of drives included in the package.
        type: integer
      shipDate:
        description: The date the package is shipped.
        type: string
      trackingNumber:
        description: The tracking number of the package.
        type: string
    required:
      - carrierName
      - trackingNumber
      - driveCount
      - shipDate
  Resource:
    description: The Resource model definition.
    properties:
      id:
        description: Specifies the resource identifier of the job.
        readOnly: true
        type: string
      location:
        description: Specifies the Azure location where the job is created.
        type: string
      name:
        description: Specifies the name of the job.
        readOnly: true
        type: string
      tags:
        description: Specifies the tags that are assigned to the job.
        type: object
      type:
        description: Specifies the type of the job resource.
        readOnly: true
        type: string
    required:
      - location
  ReturnAddress:
    description: Specifies the return address information for the job.
    properties:
      city:
        description: The city name to use when returning the drives.
        type: string
      countryOrRegion:
        description: The country or region to use when returning the drives.
        type: string
      email:
        description: Email address of the recipient of the returned drives.
        type: string
      phone:
        description: Phone number of the recipient of the returned drives.
        type: string
      postalCode:
        description: The postal code to use when returning the drives.
        type: string
      recipientName:
        description: The name of the recipient who will receive the hard drives when they are returned.
        type: string
      stateOrProvince:
        description: The state or province to use when returning the drives.
        type: string
      streetAddress1:
        description: The first line of the street address to use when returning the drives.
        type: string
      streetAddress2:
        description: The second line of the street address to use when returning the drives.
        type: string
    required:
      - recipientName
      - streetAddress1
      - city
      - postalCode
      - countryOrRegion
      - phone
      - email
  ReturnShipping:
    description: Specifies the return carrier and customer's account with the carrier.
    properties:
      carrierAccountNumber:
        description: The customer's account number with the carrier.
        type: string
      carrierName:
        description: The carrier's name.
        type: string
    required:
      - carrierName
      - carrierAccountNumber
  ShippingInformation:
    description: Provides information about the Microsoft datacenter to which the drives should be shipped.
    properties:
      address:
        description: The address of the datacenter.
        type: string
      name:
        description: The name of the recipient at the datacenter.
        type: string
    required:
      - name
      - address
  SupportedOperationsListResult:
    description: List of supported operations by the import/export resource provider.
    properties:
      value:
        description: List of supported operations by the import/export resource provider.
        items:
          $ref: '#/definitions/Operation'
        type: array
