swagger: '2.0'
info:
  version: '2017-07-25'
  x-release: v4
  title: AWS Amplify
  description: ' Amplify is a fully managed continuous deployment and hosting service for modern web apps. '
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: amplify
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/amplify-2017-07-25.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/amplify/'
host: amplify.amazonaws.com
basePath: /
schemes:
  - https
  - http
x-servers:
  - url: 'http://amplify.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The Amplify multi-region endpoint
  - url: 'https://amplify.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The Amplify multi-region endpoint
  - url: 'http://amplify.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The Amplify endpoint for China (Beijing) and China (Ningxia)
  - url: 'https://amplify.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The Amplify endpoint for China (Beijing) and China (Ningxia)
x-hasEquivalentPaths: true
consumes:
  - application/json
produces:
  - application/json
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /apps:
    post:
      operationId: CreateApp
      description: ' Creates a new Amplify App. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateAppResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: DependentServiceFailureException
          schema:
            $ref: '#/definitions/DependentServiceFailureException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - name
            properties:
              name:
                description: ' Name for the Amplify App '
                type: string
                minLength: 1
                maxLength: 255
              description:
                description: ' Description for an Amplify App '
                type: string
                maxLength: 1000
              repository:
                description: ' Repository for an Amplify App '
                type: string
                maxLength: 1000
              platform:
                description: ' Platform / framework for an Amplify App '
                type: string
                enum:
                  - WEB
              iamServiceRoleArn:
                description: ' AWS IAM service role for an Amplify App '
                type: string
                minLength: 1
                maxLength: 1000
              oauthToken:
                description: ' OAuth token for 3rd party source control system for an Amplify App, used to create webhook and read-only deploy key. OAuth token is not stored. '
                type: string
                maxLength: 100
              accessToken:
                description: ' Personal Access token for 3rd party source control system for an Amplify App, used to create webhook and read-only deploy key. Token is not stored. '
                type: string
                minLength: 1
                maxLength: 255
              environmentVariables:
                description: ' Environment variables map for an Amplify App. '
                type: object
                additionalProperties:
                  $ref: '#/definitions/EnvValue'
              enableBranchAutoBuild:
                description: ' Enable the auto building of branches for an Amplify App. '
                type: boolean
              enableBasicAuth:
                description: ' Enable Basic Authorization for an Amplify App, this will apply to all branches part of this App. '
                type: boolean
              basicAuthCredentials:
                description: ' Credentials for Basic Authorization for an Amplify App. '
                type: string
                maxLength: 2000
              customRules:
                description: ' Custom rewrite / redirect rules for an Amplify App. '
                type: array
                items:
                  $ref: '#/definitions/CustomRule'
              tags:
                description: ' Tag for an Amplify App '
                type: object
                minProperties: 1
                maxProperties: 50
                additionalProperties:
                  $ref: '#/definitions/TagValue'
              buildSpec:
                description: ' BuildSpec file for Amplify app build. '
                type: string
                minLength: 1
                maxLength: 25000
              enableAutoBranchCreation:
                description: ' Enables automated branch creation for the Amplify App. '
                type: boolean
              autoBranchCreationPatterns:
                description: ' Automated branch creation glob patterns for the Amplify App. '
                type: array
                items:
                  $ref: '#/definitions/AutoBranchCreationPattern'
              autoBranchCreationConfig:
                description: ' Structure with auto branch creation config. '
                type: object
                properties:
                  stage:
                    $ref: '#/definitions/Stage'
                    description: ' Stage for the auto created branch. '
                  framework:
                    $ref: '#/definitions/Framework'
                    description: ' Framework for the auto created branch. '
                  enableAutoBuild:
                    $ref: '#/definitions/EnableAutoBuild'
                    description: ' Enables auto building for the auto created branch. '
                  environmentVariables:
                    $ref: '#/definitions/EnvironmentVariables'
                    description: ' Environment Variables for the auto created branch. '
                  basicAuthCredentials:
                    $ref: '#/definitions/BasicAuthCredentials'
                    description: ' Basic Authorization credentials for the auto created branch. '
                  enableBasicAuth:
                    $ref: '#/definitions/EnableBasicAuth'
                    description: ' Enables Basic Auth for the auto created branch. '
                  buildSpec:
                    $ref: '#/definitions/BuildSpec'
                    description: ' BuildSpec for the auto created branch. '
                  enablePullRequestPreview:
                    $ref: '#/definitions/EnablePullRequestPreview'
                    description: ' Enables Pull Request Preview for auto created branch. '
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListApps
      description: ' Lists existing Amplify Apps. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListAppsResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
      parameters:
        - name: nextToken
          in: query
          required: false
          description: ' Pagination token. If non-null pagination token is returned in a result, then pass its value in another request to fetch more entries. '
          type: string
          maxLength: 2000
        - name: maxResults
          in: query
          required: false
          description: ' Maximum number of records to list in a single response. '
          type: integer
          minimum: 1
          maximum: 100
  '/apps/{appId}/branches':
    post:
      operationId: CreateBranch
      description: ' Creates a new Branch for an Amplify App. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateBranchResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: DependentServiceFailureException
          schema:
            $ref: '#/definitions/DependentServiceFailureException'
      parameters:
        - name: appId
          in: path
          required: true
          description: ' Unique Id for an Amplify App. '
          type: string
          minLength: 1
          maxLength: 255
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - branchName
            properties:
              branchName:
                description: ' Name for the branch. '
                type: string
                minLength: 1
                maxLength: 255
              description:
                description: ' Description for the branch. '
                type: string
                maxLength: 1000
              stage:
                description: ' Stage for the branch. '
                type: string
                enum:
                  - PRODUCTION
                  - BETA
                  - DEVELOPMENT
                  - EXPERIMENTAL
                  - PULL_REQUEST
              framework:
                description: ' Framework for the branch. '
                type: string
                maxLength: 255
              enableNotification:
                description: ' Enables notifications for the branch. '
                type: boolean
              enableAutoBuild:
                description: ' Enables auto building for the branch. '
                type: boolean
              environmentVariables:
                description: ' Environment Variables for the branch. '
                type: object
                additionalProperties:
                  $ref: '#/definitions/EnvValue'
              basicAuthCredentials:
                description: ' Basic Authorization credentials for the branch. '
                type: string
                maxLength: 2000
              enableBasicAuth:
                description: ' Enables Basic Auth for the branch. '
                type: boolean
              tags:
                description: ' Tag for the branch. '
                type: object
                minProperties: 1
                maxProperties: 50
                additionalProperties:
                  $ref: '#/definitions/TagValue'
              buildSpec:
                description: ' BuildSpec file for Amplify app build. '
                type: string
                minLength: 1
                maxLength: 25000
              ttl:
                description: ' The content TTL for the website in seconds. '
                type: string
              displayName:
                description: ' Display name for a branch, will use as the default domain prefix. '
                type: string
                maxLength: 255
              enablePullRequestPreview:
                description: ' Enables Pull Request Preview for this branch. '
                type: boolean
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListBranches
      description: ' Lists branches for an Amplify App. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListBranchesResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
      parameters:
        - name: appId
          in: path
          required: true
          description: ' Unique Id for an Amplify App. '
          type: string
          minLength: 1
          maxLength: 255
        - name: nextToken
          in: query
          required: false
          description: ' Pagination token. Set to null to start listing branches from start. If a non-null pagination token is returned in a result, then pass its value in here to list more branches. '
          type: string
          maxLength: 2000
        - name: maxResults
          in: query
          required: false
          description: ' Maximum number of records to list in a single response. '
          type: integer
          minimum: 1
          maximum: 100
  '/apps/{appId}/branches/{branchName}/deployments':
    post:
      operationId: CreateDeployment
      description: ' Create a deployment for manual deploy apps. (Apps are not connected to repository) '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDeploymentResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: appId
          in: path
          required: true
          description: ' Unique Id for an Amplify App. '
          type: string
          minLength: 1
          maxLength: 255
        - name: branchName
          in: path
          required: true
          description: ' Name for the branch, for the Job. '
          type: string
          minLength: 1
          maxLength: 255
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              fileMap:
                description: ' Optional file map that contains file name as the key and file content md5 hash as the value. If this argument is provided, the service will generate different upload url per file. Otherwise, the service will only generate a single upload url for the zipped files. '
                type: object
                additionalProperties:
                  $ref: '#/definitions/MD5Hash'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/apps/{appId}/domains':
    post:
      operationId: CreateDomainAssociation
      description: ' Create a new DomainAssociation on an App '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDomainAssociationResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: DependentServiceFailureException
          schema:
            $ref: '#/definitions/DependentServiceFailureException'
      parameters:
        - name: appId
          in: path
          required: true
          description: ' Unique Id for an Amplify App. '
          type: string
          minLength: 1
          maxLength: 255
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - domainName
              - subDomainSettings
            properties:
              domainName:
                description: ' Domain name for the Domain Association. '
                type: string
                maxLength: 255
              enableAutoSubDomain:
                description: ' Enables automated creation of Subdomains for branches. '
                type: boolean
              subDomainSettings:
                description: ' Setting structure for the Subdomain. '
                type: array
                items:
                  $ref: '#/definitions/SubDomainSetting'
                maxItems: 255
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListDomainAssociations
      description: ' List domains with an app '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDomainAssociationsResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
      parameters:
        - name: appId
          in: path
          required: true
          description: ' Unique Id for an Amplify App. '
          type: string
          minLength: 1
          maxLength: 255
        - name: nextToken
          in: query
          required: false
          description: ' Pagination token. Set to null to start listing Apps from start. If non-null pagination token is returned in a result, then pass its value in here to list more projects. '
          type: string
          maxLength: 2000
        - name: maxResults
          in: query
          required: false
          description: ' Maximum number of records to list in a single response. '
          type: integer
          minimum: 1
          maximum: 100
  '/apps/{appId}/webhooks':
    post:
      operationId: CreateWebhook
      description: ' Create a new webhook on an App. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateWebhookResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: DependentServiceFailureException
          schema:
            $ref: '#/definitions/DependentServiceFailureException'
      parameters:
        - name: appId
          in: path
          required: true
          description: ' Unique Id for an Amplify App. '
          type: string
          minLength: 1
          maxLength: 255
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - branchName
            properties:
              branchName:
                description: ' Name for a branch, part of an Amplify App. '
                type: string
                minLength: 1
                maxLength: 255
              description:
                description: ' Description for a webhook. '
                type: string
                maxLength: 1000
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListWebhooks
      description: ' List webhooks with an app. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListWebhooksResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: appId
          in: path
          required: true
          description: ' Unique Id for an Amplify App. '
          type: string
          minLength: 1
          maxLength: 255
        - name: nextToken
          in: query
          required: false
          description: ' Pagination token. Set to null to start listing webhooks from start. If non-null pagination token is returned in a result, then pass its value in here to list more webhooks. '
          type: string
          maxLength: 2000
        - name: maxResults
          in: query
          required: false
          description: ' Maximum number of records to list in a single response. '
          type: integer
          minimum: 1
          maximum: 100
  '/apps/{appId}':
    delete:
      operationId: DeleteApp
      description: ' Delete an existing Amplify App by appId. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteAppResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '484':
          description: DependentServiceFailureException
          schema:
            $ref: '#/definitions/DependentServiceFailureException'
      parameters:
        - name: appId
          in: path
          required: true
          description: ' Unique Id for an Amplify App. '
          type: string
          minLength: 1
          maxLength: 255
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetApp
      description: ' Retrieves an existing Amplify App by appId. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetAppResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
      parameters:
        - name: appId
          in: path
          required: true
          description: ' Unique Id for an Amplify App. '
          type: string
          minLength: 1
          maxLength: 255
    post:
      operationId: UpdateApp
      description: ' Updates an existing Amplify App. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateAppResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
      parameters:
        - name: appId
          in: path
          required: true
          description: ' Unique Id for an Amplify App. '
          type: string
          minLength: 1
          maxLength: 255
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              name:
                description: ' Name for an Amplify App. '
                type: string
                minLength: 1
                maxLength: 255
              description:
                description: ' Description for an Amplify App. '
                type: string
                maxLength: 1000
              platform:
                description: ' Platform for an Amplify App. '
                type: string
                enum:
                  - WEB
              iamServiceRoleArn:
                description: ' IAM service role for an Amplify App. '
                type: string
                minLength: 1
                maxLength: 1000
              environmentVariables:
                description: ' Environment Variables for an Amplify App. '
                type: object
                additionalProperties:
                  $ref: '#/definitions/EnvValue'
              enableBranchAutoBuild:
                description: ' Enables branch auto-building for an Amplify App. '
                type: boolean
              enableBasicAuth:
                description: ' Enables Basic Authorization for an Amplify App. '
                type: boolean
              basicAuthCredentials:
                description: ' Basic Authorization credentials for an Amplify App. '
                type: string
                maxLength: 2000
              customRules:
                description: ' Custom redirect / rewrite rules for an Amplify App. '
                type: array
                items:
                  $ref: '#/definitions/CustomRule'
              buildSpec:
                description: ' BuildSpec file for Amplify app build. '
                type: string
                minLength: 1
                maxLength: 25000
              enableAutoBranchCreation:
                description: ' Enables automated branch creation for the Amplify App. '
                type: boolean
              autoBranchCreationPatterns:
                description: ' Automated branch creation glob patterns for the Amplify App. '
                type: array
                items:
                  $ref: '#/definitions/AutoBranchCreationPattern'
              autoBranchCreationConfig:
                description: ' Structure with auto branch creation config. '
                type: object
                properties:
                  stage:
                    $ref: '#/definitions/Stage'
                    description: ' Stage for the auto created branch. '
                  framework:
                    $ref: '#/definitions/Framework'
                    description: ' Framework for the auto created branch. '
                  enableAutoBuild:
                    $ref: '#/definitions/EnableAutoBuild'
                    description: ' Enables auto building for the auto created branch. '
                  environmentVariables:
                    $ref: '#/definitions/EnvironmentVariables'
                    description: ' Environment Variables for the auto created branch. '
                  basicAuthCredentials:
                    $ref: '#/definitions/BasicAuthCredentials'
                    description: ' Basic Authorization credentials for the auto created branch. '
                  enableBasicAuth:
                    $ref: '#/definitions/EnableBasicAuth'
                    description: ' Enables Basic Auth for the auto created branch. '
                  buildSpec:
                    $ref: '#/definitions/BuildSpec'
                    description: ' BuildSpec for the auto created branch. '
                  enablePullRequestPreview:
                    $ref: '#/definitions/EnablePullRequestPreview'
                    description: ' Enables Pull Request Preview for auto created branch. '
              repository:
                description: ' Repository for an Amplify App '
                type: string
                maxLength: 1000
              oauthToken:
                description: ' OAuth token for 3rd party source control system for an Amplify App, used to create webhook and read-only deploy key. OAuth token is not stored. '
                type: string
                maxLength: 100
              accessToken:
                description: ' Personal Access token for 3rd party source control system for an Amplify App, used to create webhook and read-only deploy key. Token is not stored. '
                type: string
                minLength: 1
                maxLength: 255
  '/apps/{appId}/branches/{branchName}':
    delete:
      operationId: DeleteBranch
      description: ' Deletes a branch for an Amplify App. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteBranchResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '484':
          description: DependentServiceFailureException
          schema:
            $ref: '#/definitions/DependentServiceFailureException'
      parameters:
        - name: appId
          in: path
          required: true
          description: ' Unique Id for an Amplify App. '
          type: string
          minLength: 1
          maxLength: 255
        - name: branchName
          in: path
          required: true
          description: ' Name for the branch. '
          type: string
          minLength: 1
          maxLength: 255
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetBranch
      description: ' Retrieves a branch for an Amplify App. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBranchResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
      parameters:
        - name: appId
          in: path
          required: true
          description: ' Unique Id for an Amplify App. '
          type: string
          minLength: 1
          maxLength: 255
        - name: branchName
          in: path
          required: true
          description: ' Name for the branch. '
          type: string
          minLength: 1
          maxLength: 255
    post:
      operationId: UpdateBranch
      description: ' Updates a branch for an Amplify App. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateBranchResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '484':
          description: DependentServiceFailureException
          schema:
            $ref: '#/definitions/DependentServiceFailureException'
      parameters:
        - name: appId
          in: path
          required: true
          description: ' Unique Id for an Amplify App. '
          type: string
          minLength: 1
          maxLength: 255
        - name: branchName
          in: path
          required: true
          description: ' Name for the branch. '
          type: string
          minLength: 1
          maxLength: 255
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              description:
                description: ' Description for the branch. '
                type: string
                maxLength: 1000
              framework:
                description: ' Framework for the branch. '
                type: string
                maxLength: 255
              stage:
                description: ' Stage for the branch. '
                type: string
                enum:
                  - PRODUCTION
                  - BETA
                  - DEVELOPMENT
                  - EXPERIMENTAL
                  - PULL_REQUEST
              enableNotification:
                description: ' Enables notifications for the branch. '
                type: boolean
              enableAutoBuild:
                description: ' Enables auto building for the branch. '
                type: boolean
              environmentVariables:
                description: ' Environment Variables for the branch. '
                type: object
                additionalProperties:
                  $ref: '#/definitions/EnvValue'
              basicAuthCredentials:
                description: ' Basic Authorization credentials for the branch. '
                type: string
                maxLength: 2000
              enableBasicAuth:
                description: ' Enables Basic Auth for the branch. '
                type: boolean
              buildSpec:
                description: ' BuildSpec file for Amplify app build. '
                type: string
                minLength: 1
                maxLength: 25000
              ttl:
                description: ' The content TTL for the website in seconds. '
                type: string
              displayName:
                description: ' Display name for a branch, will use as the default domain prefix. '
                type: string
                maxLength: 255
              enablePullRequestPreview:
                description: ' Enables Pull Request Preview for this branch. '
                type: boolean
  '/apps/{appId}/domains/{domainName}':
    delete:
      operationId: DeleteDomainAssociation
      description: ' Deletes a DomainAssociation. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDomainAssociationResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '484':
          description: DependentServiceFailureException
          schema:
            $ref: '#/definitions/DependentServiceFailureException'
      parameters:
        - name: appId
          in: path
          required: true
          description: ' Unique Id for an Amplify App. '
          type: string
          minLength: 1
          maxLength: 255
        - name: domainName
          in: path
          required: true
          description: ' Name of the domain. '
          type: string
          maxLength: 255
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetDomainAssociation
      description: ' Retrieves domain info that corresponds to an appId and domainName. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDomainAssociationResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
      parameters:
        - name: appId
          in: path
          required: true
          description: ' Unique Id for an Amplify App. '
          type: string
          minLength: 1
          maxLength: 255
        - name: domainName
          in: path
          required: true
          description: ' Name of the domain. '
          type: string
          maxLength: 255
    post:
      operationId: UpdateDomainAssociation
      description: ' Create a new DomainAssociation on an App '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateDomainAssociationResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '484':
          description: DependentServiceFailureException
          schema:
            $ref: '#/definitions/DependentServiceFailureException'
      parameters:
        - name: appId
          in: path
          required: true
          description: ' Unique Id for an Amplify App. '
          type: string
          minLength: 1
          maxLength: 255
        - name: domainName
          in: path
          required: true
          description: ' Name of the domain. '
          type: string
          maxLength: 255
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - subDomainSettings
            properties:
              enableAutoSubDomain:
                description: ' Enables automated creation of Subdomains for branches. '
                type: boolean
              subDomainSettings:
                description: ' Setting structure for the Subdomain. '
                type: array
                items:
                  $ref: '#/definitions/SubDomainSetting'
                maxItems: 255
  '/apps/{appId}/branches/{branchName}/jobs/{jobId}':
    delete:
      operationId: DeleteJob
      description: ' Delete a job, for an Amplify branch, part of Amplify App. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteJobResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: appId
          in: path
          required: true
          description: ' Unique Id for an Amplify App. '
          type: string
          minLength: 1
          maxLength: 255
        - name: branchName
          in: path
          required: true
          description: ' Name for the branch, for the Job. '
          type: string
          minLength: 1
          maxLength: 255
        - name: jobId
          in: path
          required: true
          description: ' Unique Id for the Job. '
          type: string
          maxLength: 255
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetJob
      description: ' Get a job for a branch, part of an Amplify App. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetJobResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: appId
          in: path
          required: true
          description: ' Unique Id for an Amplify App. '
          type: string
          minLength: 1
          maxLength: 255
        - name: branchName
          in: path
          required: true
          description: ' Name for the branch, for the Job. '
          type: string
          minLength: 1
          maxLength: 255
        - name: jobId
          in: path
          required: true
          description: ' Unique Id for the Job. '
          type: string
          maxLength: 255
  '/webhooks/{webhookId}':
    delete:
      operationId: DeleteWebhook
      description: ' Deletes a webhook. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteWebhookResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: webhookId
          in: path
          required: true
          description: ' Unique Id for a webhook. '
          type: string
          maxLength: 255
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetWebhook
      description: ' Retrieves webhook info that corresponds to a webhookId. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetWebhookResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: webhookId
          in: path
          required: true
          description: ' Unique Id for a webhook. '
          type: string
          maxLength: 255
    post:
      operationId: UpdateWebhook
      description: ' Update a webhook. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateWebhookResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '484':
          description: DependentServiceFailureException
          schema:
            $ref: '#/definitions/DependentServiceFailureException'
      parameters:
        - name: webhookId
          in: path
          required: true
          description: ' Unique Id for a webhook. '
          type: string
          maxLength: 255
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              branchName:
                description: ' Name for a branch, part of an Amplify App. '
                type: string
                minLength: 1
                maxLength: 255
              description:
                description: ' Description for a webhook. '
                type: string
                maxLength: 1000
  '/apps/{appId}/accesslogs':
    post:
      operationId: GenerateAccessLogs
      description: ' Retrieve website access logs for a specific time range via a pre-signed URL. Optionally, deliver the logs to a given S3 bucket. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GenerateAccessLogsResult'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '482':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
      parameters:
        - name: appId
          in: path
          required: true
          description: ' Unique Id for an Amplify App. '
          type: string
          minLength: 1
          maxLength: 255
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - domainName
            properties:
              startTime:
                description: ' The time at which the logs should start, inclusive. '
                type: string
                format: date-time
              endTime:
                description: ' The time at which the logs should end, inclusive. '
                type: string
                format: date-time
              domainName:
                description: ' Name of the domain. '
                type: string
                maxLength: 255
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/artifacts/{artifactId}':
    get:
      operationId: GetArtifactUrl
      description: ' Retrieves artifact info that corresponds to a artifactId. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetArtifactUrlResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: artifactId
          in: path
          required: true
          description: ' Unique Id for a artifact. '
          type: string
          maxLength: 255
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/apps/{appId}/branches/{branchName}/jobs/{jobId}/artifacts':
    get:
      operationId: ListArtifacts
      description: ' List artifacts with an app, a branch, a job and an artifact type. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListArtifactsResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: appId
          in: path
          required: true
          description: ' Unique Id for an Amplify App. '
          type: string
          minLength: 1
          maxLength: 255
        - name: branchName
          in: path
          required: true
          description: ' Name for a branch, part of an Amplify App. '
          type: string
          minLength: 1
          maxLength: 255
        - name: jobId
          in: path
          required: true
          description: ' Unique Id for an Job. '
          type: string
          maxLength: 255
        - name: nextToken
          in: query
          required: false
          description: ' Pagination token. Set to null to start listing artifacts from start. If non-null pagination token is returned in a result, then pass its value in here to list more artifacts. '
          type: string
          maxLength: 2000
        - name: maxResults
          in: query
          required: false
          description: ' Maximum number of records to list in a single response. '
          type: integer
          minimum: 1
          maximum: 100
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              artifactType:
                description: ' Type for an artifact. '
                type: string
                enum:
                  - TEST
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/apps/{appId}/branches/{branchName}/jobs':
    get:
      operationId: ListJobs
      description: ' List Jobs for a branch, part of an Amplify App. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListJobsResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: appId
          in: path
          required: true
          description: ' Unique Id for an Amplify App. '
          type: string
          minLength: 1
          maxLength: 255
        - name: branchName
          in: path
          required: true
          description: ' Name for a branch. '
          type: string
          minLength: 1
          maxLength: 255
        - name: nextToken
          in: query
          required: false
          description: ' Pagination token. Set to null to start listing steps from start. If a non-null pagination token is returned in a result, then pass its value in here to list more steps. '
          type: string
          maxLength: 2000
        - name: maxResults
          in: query
          required: false
          description: ' Maximum number of records to list in a single response. '
          type: integer
          minimum: 1
          maximum: 100
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      operationId: StartJob
      description: ' Starts a new job for a branch, part of an Amplify App. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartJobResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: appId
          in: path
          required: true
          description: ' Unique Id for an Amplify App. '
          type: string
          minLength: 1
          maxLength: 255
        - name: branchName
          in: path
          required: true
          description: ' Name for the branch, for the Job. '
          type: string
          minLength: 1
          maxLength: 255
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - jobType
            properties:
              jobId:
                description: ' Unique Id for an existing job. Required for "RETRY" JobType. '
                type: string
                maxLength: 255
              jobType:
                description: ' Type for the Job. Available JobTypes are: \n "RELEASE": Start a new job with the latest change from the specified branch. Only available for apps that have connected to a repository. "RETRY": Retry an existing job. JobId is required for this type of job. '
                type: string
                enum:
                  - RELEASE
                  - RETRY
                  - MANUAL
                  - WEB_HOOK
                maxLength: 10
              jobReason:
                description: ' Descriptive reason for starting this job. '
                type: string
                maxLength: 255
              commitId:
                description: ' Commit Id from 3rd party repository provider for the Job. '
                type: string
                maxLength: 255
              commitMessage:
                description: ' Commit message from 3rd party repository provider for the Job. '
                type: string
                maxLength: 10000
              commitTime:
                description: ' Commit date / time for the Job. '
                type: string
                format: date-time
  '/tags/{resourceArn}':
    get:
      operationId: ListTagsForResource
      description: ' List tags for resource. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForResourceResponse'
        '480':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '481':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: resourceArn
          in: path
          required: true
          description: ' Resource arn used to list tags. '
          type: string
          pattern: '^arn:aws:amplify:.*'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      operationId: TagResource
      description: ' Tag resource with tag key and value. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TagResourceResponse'
        '480':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '481':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: resourceArn
          in: path
          required: true
          description: ' Resource arn used to tag resource. '
          type: string
          pattern: '^arn:aws:amplify:.*'
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - tags
            properties:
              tags:
                description: ' Tags used to tag resource. '
                type: object
                minProperties: 1
                maxProperties: 50
                additionalProperties:
                  $ref: '#/definitions/TagValue'
  '/apps/{appId}/branches/{branchName}/deployments/start':
    post:
      operationId: StartDeployment
      description: ' Start a deployment for manual deploy apps. (Apps are not connected to repository) '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartDeploymentResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: appId
          in: path
          required: true
          description: ' Unique Id for an Amplify App. '
          type: string
          minLength: 1
          maxLength: 255
        - name: branchName
          in: path
          required: true
          description: ' Name for the branch, for the Job. '
          type: string
          minLength: 1
          maxLength: 255
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              jobId:
                description: ' The job id for this deployment, generated by create deployment request. '
                type: string
                maxLength: 255
              sourceUrl:
                description: ' The sourceUrl for this deployment, used when calling start deployment without create deployment. SourceUrl can be any HTTP GET url that is public accessible and downloads a single zip. '
                type: string
                maxLength: 1000
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/apps/{appId}/branches/{branchName}/jobs/{jobId}/stop':
    delete:
      operationId: StopJob
      description: ' Stop a job that is in progress, for an Amplify branch, part of Amplify App. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopJobResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: appId
          in: path
          required: true
          description: ' Unique Id for an Amplify App. '
          type: string
          minLength: 1
          maxLength: 255
        - name: branchName
          in: path
          required: true
          description: ' Name for the branch, for the Job. '
          type: string
          minLength: 1
          maxLength: 255
        - name: jobId
          in: path
          required: true
          description: ' Unique Id for the Job. '
          type: string
          maxLength: 255
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/tags/{resourceArn}#tagKeys':
    delete:
      operationId: UntagResource
      description: ' Untag resource with resourceArn. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UntagResourceResponse'
        '480':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '481':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: resourceArn
          in: path
          required: true
          description: ' Resource arn used to untag resource. '
          type: string
          pattern: '^arn:aws:amplify:.*'
        - name: tagKeys
          in: query
          required: true
          description: ' Tag keys used to untag resource. '
          type: array
          items:
            type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  CreateAppResult:
    type: object
    required:
      - app
    properties:
      app:
        $ref: '#/definitions/App'
  EnvValue:
    type: string
    maxLength: 1000
  CustomRule:
    type: object
    required:
      - source
      - target
    properties:
      source:
        $ref: '#/definitions/Source'
        description: ' The source pattern for a URL rewrite or redirect rule. '
      target:
        $ref: '#/definitions/Target'
        description: ' The target pattern for a URL rewrite or redirect rule. '
      status:
        $ref: '#/definitions/Status'
        description: ' The status code for a URL rewrite or redirect rule. '
      condition:
        $ref: '#/definitions/Condition'
        description: ' The condition for a URL rewrite or redirect rule, e.g. country code. '
    description: ' Custom rewrite / redirect rule. '
  TagValue:
    type: string
    maxLength: 256
  AutoBranchCreationPattern:
    type: string
    minLength: 1
    maxLength: 2048
  Stage:
    type: string
    enum:
      - PRODUCTION
      - BETA
      - DEVELOPMENT
      - EXPERIMENTAL
      - PULL_REQUEST
  Framework:
    type: string
    maxLength: 255
  EnableAutoBuild:
    type: boolean
  EnvironmentVariables:
    type: object
    additionalProperties:
      $ref: '#/definitions/EnvValue'
  BasicAuthCredentials:
    type: string
    maxLength: 2000
  EnableBasicAuth:
    type: boolean
  BuildSpec:
    type: string
    description: ' BuildSpec file for Amplify app build. '
    minLength: 1
    maxLength: 25000
  EnablePullRequestPreview:
    type: boolean
  BadRequestException: {}
  UnauthorizedException: {}
  InternalFailureException: {}
  LimitExceededException: {}
  DependentServiceFailureException: {}
  CreateBranchResult:
    type: object
    required:
      - branch
    properties:
      branch:
        $ref: '#/definitions/Branch'
        description: ' Branch structure for an Amplify App. '
    description: ' Result structure for create branch request. '
  NotFoundException: {}
  CreateDeploymentResult:
    type: object
    required:
      - fileUploadUrls
      - zipUploadUrl
    properties:
      jobId:
        $ref: '#/definitions/JobId'
        description: ' The jobId for this deployment, will supply to start deployment api. '
      fileUploadUrls:
        $ref: '#/definitions/FileUploadUrls'
        description: ' When the fileMap argument is provided in the request, the fileUploadUrls will contain a map of file names to upload url. '
      zipUploadUrl:
        $ref: '#/definitions/UploadUrl'
        description: ' When the fileMap argument is NOT provided. This zipUploadUrl will be returned. '
    description: ' Result structure for create a new deployment. '
  MD5Hash:
    type: string
    maxLength: 32
  CreateDomainAssociationResult:
    type: object
    required:
      - domainAssociation
    properties:
      domainAssociation:
        $ref: '#/definitions/DomainAssociation'
        description: ' Domain Association structure. '
    description: ' Result structure for the create Domain Association request. '
  SubDomainSetting:
    type: object
    required:
      - prefix
      - branchName
    properties:
      prefix:
        $ref: '#/definitions/DomainPrefix'
        description: ' Prefix setting for the Subdomain. '
      branchName:
        $ref: '#/definitions/BranchName'
        description: ' Branch name setting for the Subdomain. '
    description: ' Setting for the Subdomain. '
  CreateWebhookResult:
    type: object
    required:
      - webhook
    properties:
      webhook:
        $ref: '#/definitions/Webhook'
        description: ' Webhook structure. '
    description: ' Result structure for the create webhook request. '
  DeleteAppResult:
    type: object
    required:
      - app
    properties:
      app:
        $ref: '#/definitions/App'
    description: ' Result structure for an Amplify App delete request. '
  DeleteBranchResult:
    type: object
    required:
      - branch
    properties:
      branch:
        $ref: '#/definitions/Branch'
        description: ' Branch structure for an Amplify App. '
    description: ' Result structure for delete branch request. '
  DeleteDomainAssociationResult:
    type: object
    required:
      - domainAssociation
    properties:
      domainAssociation:
        $ref: '#/definitions/DomainAssociation'
  DeleteJobResult:
    type: object
    required:
      - jobSummary
    properties:
      jobSummary:
        $ref: '#/definitions/JobSummary'
    description: ' Result structure for the delete job request. '
  DeleteWebhookResult:
    type: object
    required:
      - webhook
    properties:
      webhook:
        $ref: '#/definitions/Webhook'
        description: ' Webhook structure. '
    description: ' Result structure for the delete webhook request. '
  GenerateAccessLogsResult:
    type: object
    properties:
      logUrl:
        $ref: '#/definitions/LogUrl'
        description: ' Pre-signed URL for the requested access logs. '
    description: ' Result structure for the generate access logs request. '
  GetAppResult:
    type: object
    required:
      - app
    properties:
      app:
        $ref: '#/definitions/App'
  GetArtifactUrlResult:
    type: object
    required:
      - artifactId
      - artifactUrl
    properties:
      artifactId:
        $ref: '#/definitions/ArtifactId'
        description: ' Unique Id for a artifact. '
      artifactUrl:
        $ref: '#/definitions/ArtifactUrl'
        description: ' Presigned url for the artifact. '
    description: ' Result structure for the get artifact request. '
  GetBranchResult:
    type: object
    required:
      - branch
    properties:
      branch:
        $ref: '#/definitions/Branch'
  GetDomainAssociationResult:
    type: object
    required:
      - domainAssociation
    properties:
      domainAssociation:
        $ref: '#/definitions/DomainAssociation'
        description: ' Domain Association structure. '
    description: ' Result structure for the get Domain Association request. '
  GetJobResult:
    type: object
    required:
      - job
    properties:
      job:
        $ref: '#/definitions/Job'
  GetWebhookResult:
    type: object
    required:
      - webhook
    properties:
      webhook:
        $ref: '#/definitions/Webhook'
        description: ' Webhook structure. '
    description: ' Result structure for the get webhook request. '
  ListAppsResult:
    type: object
    required:
      - apps
    properties:
      apps:
        $ref: '#/definitions/Apps'
        description: ' List of Amplify Apps. '
      nextToken:
        $ref: '#/definitions/NextToken'
        description: ' Pagination token. Set to null to start listing Apps from start. If non-null pagination token is returned in a result, then pass its value in here to list more projects. '
    description: ' Result structure for an Amplify App list request. '
  ListArtifactsResult:
    type: object
    required:
      - artifacts
    properties:
      artifacts:
        $ref: '#/definitions/Artifacts'
        description: ' List of artifacts. '
      nextToken:
        $ref: '#/definitions/NextToken'
        description: ' Pagination token. If non-null pagination token is returned in a result, then pass its value in another request to fetch more entries. '
    description: ' Result structure for the list artifacts request. '
  ListBranchesResult:
    type: object
    required:
      - branches
    properties:
      branches:
        $ref: '#/definitions/Branches'
        description: ' List of branches for an Amplify App. '
      nextToken:
        $ref: '#/definitions/NextToken'
        description: ' Pagination token. If non-null pagination token is returned in a result, then pass its value in another request to fetch more entries. '
    description: ' Result structure for list branches request. '
  ListDomainAssociationsResult:
    type: object
    required:
      - domainAssociations
    properties:
      domainAssociations:
        $ref: '#/definitions/DomainAssociations'
        description: ' List of Domain Associations. '
      nextToken:
        $ref: '#/definitions/NextToken'
        description: ' Pagination token. If non-null pagination token is returned in a result, then pass its value in another request to fetch more entries. '
    description: ' Result structure for the list Domain Association request. '
  ListJobsResult:
    type: object
    required:
      - jobSummaries
    properties:
      jobSummaries:
        $ref: '#/definitions/JobSummaries'
        description: ' Result structure for list job result request. '
      nextToken:
        $ref: '#/definitions/NextToken'
        description: ' Pagination token. If non-null pagination token is returned in a result, then pass its value in another request to fetch more entries. '
    description: ' Maximum number of records to list in a single response. '
  ListTagsForResourceResponse:
    type: object
    properties:
      tags:
        $ref: '#/definitions/TagMap'
        description: ' Tags result for response. '
    description: ' Response for list tags. '
  ResourceNotFoundException: {}
  ListWebhooksResult:
    type: object
    required:
      - webhooks
    properties:
      webhooks:
        $ref: '#/definitions/Webhooks'
        description: ' List of webhooks. '
      nextToken:
        $ref: '#/definitions/NextToken'
        description: ' Pagination token. If non-null pagination token is returned in a result, then pass its value in another request to fetch more entries. '
    description: ' Result structure for the list webhooks request. '
  StartDeploymentResult:
    type: object
    required:
      - jobSummary
    properties:
      jobSummary:
        $ref: '#/definitions/JobSummary'
        description: ' Summary for the Job. '
    description: ' Result structure for start a deployment. '
  StartJobResult:
    type: object
    required:
      - jobSummary
    properties:
      jobSummary:
        $ref: '#/definitions/JobSummary'
        description: ' Summary for the Job. '
    description: ' Result structure for run job request. '
  StopJobResult:
    type: object
    required:
      - jobSummary
    properties:
      jobSummary:
        $ref: '#/definitions/JobSummary'
        description: ' Summary for the Job. '
    description: ' Result structure for the stop job request. '
  TagResourceResponse:
    type: object
    properties: {}
    description: ' Response for tag resource. '
  UntagResourceResponse:
    type: object
    properties: {}
    description: ' Response for untag resource. '
  TagKey:
    type: string
    pattern: '^(?!aws:)[a-zA-Z+-=._:/]+$'
    minLength: 1
    maxLength: 128
  UpdateAppResult:
    type: object
    required:
      - app
    properties:
      app:
        $ref: '#/definitions/App'
        description: ' App structure for the updated App. '
    description: ' Result structure for an Amplify App update request. '
  UpdateBranchResult:
    type: object
    required:
      - branch
    properties:
      branch:
        $ref: '#/definitions/Branch'
        description: ' Branch structure for an Amplify App. '
    description: ' Result structure for update branch request. '
  UpdateDomainAssociationResult:
    type: object
    required:
      - domainAssociation
    properties:
      domainAssociation:
        $ref: '#/definitions/DomainAssociation'
        description: ' Domain Association structure. '
    description: ' Result structure for the update Domain Association request. '
  UpdateWebhookResult:
    type: object
    required:
      - webhook
    properties:
      webhook:
        $ref: '#/definitions/Webhook'
        description: ' Webhook structure. '
    description: ' Result structure for the update webhook request. '
  AccessToken:
    type: string
    minLength: 1
    maxLength: 255
  ActiveJobId:
    type: string
    maxLength: 1000
  AppId:
    type: string
    minLength: 1
    maxLength: 255
  AppArn:
    type: string
    maxLength: 1000
  Name:
    type: string
    minLength: 1
    maxLength: 255
  TagMap:
    type: object
    minProperties: 1
    maxProperties: 50
    additionalProperties:
      $ref: '#/definitions/TagValue'
  Description:
    type: string
    maxLength: 1000
  Repository:
    type: string
    maxLength: 1000
  Platform:
    type: string
    enum:
      - WEB
  CreateTime:
    type: string
    format: date-time
  UpdateTime:
    type: string
    format: date-time
  ServiceRoleArn:
    type: string
    minLength: 1
    maxLength: 1000
  DefaultDomain:
    type: string
    minLength: 1
    maxLength: 1000
  EnableBranchAutoBuild:
    type: boolean
  CustomRules:
    type: array
    items:
      $ref: '#/definitions/CustomRule'
  ProductionBranch:
    type: object
    properties:
      lastDeployTime:
        $ref: '#/definitions/LastDeployTime'
        description: ' Last Deploy Time of Production Branch. '
      status:
        $ref: '#/definitions/Status'
        description: ' Status of Production Branch. '
      thumbnailUrl:
        $ref: '#/definitions/ThumbnailUrl'
        description: ' Thumbnail URL for Production Branch. '
      branchName:
        $ref: '#/definitions/BranchName'
        description: ' Branch Name for Production Branch. '
    description: ' Structure with Production Branch information. '
  EnableAutoBranchCreation:
    type: boolean
  AutoBranchCreationPatterns:
    type: array
    items:
      $ref: '#/definitions/AutoBranchCreationPattern'
  AutoBranchCreationConfig:
    type: object
    properties:
      stage:
        $ref: '#/definitions/Stage'
        description: ' Stage for the auto created branch. '
      framework:
        $ref: '#/definitions/Framework'
        description: ' Framework for the auto created branch. '
      enableAutoBuild:
        $ref: '#/definitions/EnableAutoBuild'
        description: ' Enables auto building for the auto created branch. '
      environmentVariables:
        $ref: '#/definitions/EnvironmentVariables'
        description: ' Environment Variables for the auto created branch. '
      basicAuthCredentials:
        $ref: '#/definitions/BasicAuthCredentials'
        description: ' Basic Authorization credentials for the auto created branch. '
      enableBasicAuth:
        $ref: '#/definitions/EnableBasicAuth'
        description: ' Enables Basic Auth for the auto created branch. '
      buildSpec:
        $ref: '#/definitions/BuildSpec'
        description: ' BuildSpec for the auto created branch. '
      enablePullRequestPreview:
        $ref: '#/definitions/EnablePullRequestPreview'
        description: ' Enables Pull Request Preview for auto created branch. '
    description: ' Structure with auto branch creation config. '
  App:
    type: object
    required:
      - appId
      - appArn
      - name
      - description
      - repository
      - platform
      - createTime
      - updateTime
      - environmentVariables
      - defaultDomain
      - enableBranchAutoBuild
      - enableBasicAuth
    properties:
      appId:
        $ref: '#/definitions/AppId'
        description: ' Unique Id for the Amplify App. '
      appArn:
        $ref: '#/definitions/AppArn'
        description: ' ARN for the Amplify App. '
      name:
        $ref: '#/definitions/Name'
        description: ' Name for the Amplify App. '
      tags:
        $ref: '#/definitions/TagMap'
        description: ' Tag for Amplify App. '
      description:
        $ref: '#/definitions/Description'
        description: ' Description for the Amplify App. '
      repository:
        $ref: '#/definitions/Repository'
        description: ' Repository for the Amplify App. '
      platform:
        $ref: '#/definitions/Platform'
        description: ' Platform for the Amplify App. '
      createTime:
        $ref: '#/definitions/CreateTime'
        description: ' Create date / time for the Amplify App. '
      updateTime:
        $ref: '#/definitions/UpdateTime'
        description: ' Update date / time for the Amplify App. '
      iamServiceRoleArn:
        $ref: '#/definitions/ServiceRoleArn'
        description: ' IAM service role ARN for the Amplify App. '
      environmentVariables:
        $ref: '#/definitions/EnvironmentVariables'
        description: ' Environment Variables for the Amplify App. '
      defaultDomain:
        $ref: '#/definitions/DefaultDomain'
        description: ' Default domain for the Amplify App. '
      enableBranchAutoBuild:
        $ref: '#/definitions/EnableBranchAutoBuild'
        description: ' Enables auto-building of branches for the Amplify App. '
      enableBasicAuth:
        $ref: '#/definitions/EnableBasicAuth'
        description: ' Enables Basic Authorization for branches for the Amplify App. '
      basicAuthCredentials:
        $ref: '#/definitions/BasicAuthCredentials'
        description: ' Basic Authorization credentials for branches for the Amplify App. '
      customRules:
        $ref: '#/definitions/CustomRules'
        description: ' Custom redirect / rewrite rules for the Amplify App. '
      productionBranch:
        $ref: '#/definitions/ProductionBranch'
        description: ' Structure with Production Branch information. '
      buildSpec:
        $ref: '#/definitions/BuildSpec'
        description: ' BuildSpec content for Amplify App. '
      enableAutoBranchCreation:
        $ref: '#/definitions/EnableAutoBranchCreation'
        description: ' Enables automated branch creation for the Amplify App. '
      autoBranchCreationPatterns:
        $ref: '#/definitions/AutoBranchCreationPatterns'
        description: ' Automated branch creation glob patterns for the Amplify App. '
      autoBranchCreationConfig:
        $ref: '#/definitions/AutoBranchCreationConfig'
        description: ' Automated branch creation config for the Amplify App. '
    description: ' Amplify App represents different branches of a repository for building, deploying, and hosting. '
  Apps:
    type: array
    items:
      $ref: '#/definitions/App'
  ArtifactFileName:
    type: string
    maxLength: 1000
  ArtifactId:
    type: string
    maxLength: 255
  Artifact:
    type: object
    required:
      - artifactFileName
      - artifactId
    properties:
      artifactFileName:
        $ref: '#/definitions/ArtifactFileName'
        description: ' File name for the artifact. '
      artifactId:
        $ref: '#/definitions/ArtifactId'
        description: ' Unique Id for a artifact. '
    description: ' Structure for artifact. '
  ArtifactType:
    type: string
    enum:
      - TEST
  ArtifactUrl:
    type: string
    maxLength: 1000
  Artifacts:
    type: array
    items:
      $ref: '#/definitions/Artifact'
  ArtifactsUrl:
    type: string
    maxLength: 1000
  AssociatedResource:
    type: string
    minLength: 1
    maxLength: 2048
  AssociatedResources:
    type: array
    items:
      $ref: '#/definitions/AssociatedResource'
  BranchArn:
    type: string
    maxLength: 1000
  BranchName:
    type: string
    minLength: 1
    maxLength: 255
  DisplayName:
    type: string
    maxLength: 255
  EnableNotification:
    type: boolean
  CustomDomains:
    type: array
    items:
      $ref: '#/definitions/CustomDomain'
    maxItems: 255
  TotalNumberOfJobs:
    type: string
    maxLength: 1000
  ThumbnailUrl:
    type: string
    minLength: 1
    maxLength: 2000
  TTL:
    type: string
    description: ' The content TTL for the website in seconds. '
  Branch:
    type: object
    required:
      - branchArn
      - branchName
      - description
      - stage
      - displayName
      - enableNotification
      - createTime
      - updateTime
      - environmentVariables
      - enableAutoBuild
      - customDomains
      - framework
      - activeJobId
      - totalNumberOfJobs
      - enableBasicAuth
      - ttl
      - enablePullRequestPreview
    properties:
      branchArn:
        $ref: '#/definitions/BranchArn'
        description: ' ARN for a branch, part of an Amplify App. '
      branchName:
        $ref: '#/definitions/BranchName'
        description: ' Name for a branch, part of an Amplify App. '
      description:
        $ref: '#/definitions/Description'
        description: ' Description for a branch, part of an Amplify App. '
      tags:
        $ref: '#/definitions/TagMap'
        description: ' Tag for branch for Amplify App. '
      stage:
        $ref: '#/definitions/Stage'
        description: ' Stage for a branch, part of an Amplify App. '
      displayName:
        $ref: '#/definitions/DisplayName'
        description: ' Display name for a branch, will use as the default domain prefix. '
      enableNotification:
        $ref: '#/definitions/EnableNotification'
        description: ' Enables notifications for a branch, part of an Amplify App. '
      createTime:
        $ref: '#/definitions/CreateTime'
        description: ' Creation date and time for a branch, part of an Amplify App. '
      updateTime:
        $ref: '#/definitions/UpdateTime'
        description: ' Last updated date and time for a branch, part of an Amplify App. '
      environmentVariables:
        $ref: '#/definitions/EnvironmentVariables'
        description: ' Environment Variables specific to a branch, part of an Amplify App. '
      enableAutoBuild:
        $ref: '#/definitions/EnableAutoBuild'
        description: ' Enables auto-building on push for a branch, part of an Amplify App. '
      customDomains:
        $ref: '#/definitions/CustomDomains'
        description: ' Custom domains for a branch, part of an Amplify App. '
      framework:
        $ref: '#/definitions/Framework'
        description: ' Framework for a branch, part of an Amplify App. '
      activeJobId:
        $ref: '#/definitions/ActiveJobId'
        description: ' Id of the active job for a branch, part of an Amplify App. '
      totalNumberOfJobs:
        $ref: '#/definitions/TotalNumberOfJobs'
        description: ' Total number of Jobs part of an Amplify App. '
      enableBasicAuth:
        $ref: '#/definitions/EnableBasicAuth'
        description: ' Enables Basic Authorization for a branch, part of an Amplify App. '
      thumbnailUrl:
        $ref: '#/definitions/ThumbnailUrl'
        description: ' Thumbnail URL for the branch. '
      basicAuthCredentials:
        $ref: '#/definitions/BasicAuthCredentials'
        description: ' Basic Authorization credentials for a branch, part of an Amplify App. '
      buildSpec:
        $ref: '#/definitions/BuildSpec'
        description: ' BuildSpec content for branch for Amplify App. '
      ttl:
        $ref: '#/definitions/TTL'
        description: ' The content TTL for the website in seconds. '
      associatedResources:
        $ref: '#/definitions/AssociatedResources'
        description: ' List of custom resources that are linked to this branch. '
      enablePullRequestPreview:
        $ref: '#/definitions/EnablePullRequestPreview'
        description: ' Enables Pull Request Preview for this branch. '
      destinationBranch:
        $ref: '#/definitions/BranchName'
        description: ' The destination branch if the branch is a pull request branch. '
      sourceBranch:
        $ref: '#/definitions/BranchName'
        description: ' The source branch if the branch is a pull request branch. '
    description: ' Branch for an Amplify App, which maps to a 3rd party repository branch. '
  Branches:
    type: array
    items:
      $ref: '#/definitions/Branch'
    maxItems: 255
  CertificateVerificationDNSRecord:
    type: string
    maxLength: 1000
  CommitId:
    type: string
    maxLength: 255
  CommitMessage:
    type: string
    maxLength: 10000
  CommitTime:
    type: string
    format: date-time
  Condition:
    type: string
    minLength: 1
    maxLength: 2048
  Context:
    type: string
  OauthToken:
    type: string
    maxLength: 100
  CreateAppRequest:
    type: object
    required:
      - name
    properties:
      name:
        $ref: '#/definitions/Name'
        description: ' Name for the Amplify App '
      description:
        $ref: '#/definitions/Description'
        description: ' Description for an Amplify App '
      repository:
        $ref: '#/definitions/Repository'
        description: ' Repository for an Amplify App '
      platform:
        $ref: '#/definitions/Platform'
        description: ' Platform / framework for an Amplify App '
      iamServiceRoleArn:
        $ref: '#/definitions/ServiceRoleArn'
        description: ' AWS IAM service role for an Amplify App '
      oauthToken:
        $ref: '#/definitions/OauthToken'
        description: ' OAuth token for 3rd party source control system for an Amplify App, used to create webhook and read-only deploy key. OAuth token is not stored. '
      accessToken:
        $ref: '#/definitions/AccessToken'
        description: ' Personal Access token for 3rd party source control system for an Amplify App, used to create webhook and read-only deploy key. Token is not stored. '
      environmentVariables:
        $ref: '#/definitions/EnvironmentVariables'
        description: ' Environment variables map for an Amplify App. '
      enableBranchAutoBuild:
        $ref: '#/definitions/EnableBranchAutoBuild'
        description: ' Enable the auto building of branches for an Amplify App. '
      enableBasicAuth:
        $ref: '#/definitions/EnableBasicAuth'
        description: ' Enable Basic Authorization for an Amplify App, this will apply to all branches part of this App. '
      basicAuthCredentials:
        $ref: '#/definitions/BasicAuthCredentials'
        description: ' Credentials for Basic Authorization for an Amplify App. '
      customRules:
        $ref: '#/definitions/CustomRules'
        description: ' Custom rewrite / redirect rules for an Amplify App. '
      tags:
        $ref: '#/definitions/TagMap'
        description: ' Tag for an Amplify App '
      buildSpec:
        $ref: '#/definitions/BuildSpec'
        description: ' BuildSpec for an Amplify App '
      enableAutoBranchCreation:
        $ref: '#/definitions/EnableAutoBranchCreation'
        description: ' Enables automated branch creation for the Amplify App. '
      autoBranchCreationPatterns:
        $ref: '#/definitions/AutoBranchCreationPatterns'
        description: ' Automated branch creation glob patterns for the Amplify App. '
      autoBranchCreationConfig:
        $ref: '#/definitions/AutoBranchCreationConfig'
        description: ' Automated branch creation config for the Amplify App. '
    description: ' Request structure used to create Apps in Amplify. '
  CreateBranchRequest:
    type: object
    required:
      - branchName
    properties:
      branchName:
        $ref: '#/definitions/BranchName'
        description: ' Name for the branch. '
      description:
        $ref: '#/definitions/Description'
[...]
