swagger: '2.0'
schemes:
  - https
  - http
host: amplify.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: ' Amplify is a fully managed continuous deployment and hosting service for modern web apps. '
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: AWS Amplify
  version: '2017-07-25'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/amplify-2017-07-25.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: amplify
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/amplify/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  /apps:
    get:
      description: ' Lists existing Amplify Apps. '
      operationId: ListApps
      parameters:
        - description: ' Pagination token. If non-null pagination token is returned in a result, then pass its value in another request to fetch more entries. '
          in: query
          maxLength: 2000
          name: nextToken
          required: false
          type: string
        - description: ' Maximum number of records to list in a single response. '
          in: query
          maximum: 100
          minimum: 1
          name: maxResults
          required: false
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListAppsResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ' Creates a new Amplify App. '
      operationId: CreateApp
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              accessToken:
                description: ' Personal Access token for 3rd party source control system for an Amplify App, used to create webhook and read-only deploy key. Token is not stored. '
                maxLength: 255
                minLength: 1
                type: string
              autoBranchCreationConfig:
                description: ' Structure with auto branch creation config. '
                properties:
                  basicAuthCredentials:
                    $ref: '#/definitions/BasicAuthCredentials'
                    description: ' Basic Authorization credentials for the auto created branch. '
                  buildSpec:
                    $ref: '#/definitions/BuildSpec'
                    description: ' BuildSpec for the auto created branch. '
                  enableAutoBuild:
                    $ref: '#/definitions/EnableAutoBuild'
                    description: ' Enables auto building for the auto created branch. '
                  enableBasicAuth:
                    $ref: '#/definitions/EnableBasicAuth'
                    description: ' Enables Basic Auth for the auto created branch. '
                  environmentVariables:
                    $ref: '#/definitions/EnvironmentVariables'
                    description: ' Environment Variables for the auto created branch. '
                  framework:
                    $ref: '#/definitions/Framework'
                    description: ' Framework for the auto created branch. '
                  stage:
                    $ref: '#/definitions/Stage'
                    description: ' Stage for the auto created branch. '
                type: object
              autoBranchCreationPatterns:
                description: ' Automated branch creation glob patterns for the Amplify App. '
                items:
                  $ref: '#/definitions/AutoBranchCreationPattern'
                type: array
              basicAuthCredentials:
                description: ' Credentials for Basic Authorization for an Amplify App. '
                maxLength: 2000
                type: string
              buildSpec:
                description: ' BuildSpec file for Amplify app build. '
                maxLength: 25000
                minLength: 1
                type: string
              customRules:
                description: ' Custom rewrite / redirect rules for an Amplify App. '
                items:
                  $ref: '#/definitions/CustomRule'
                type: array
              description:
                description: ' Description for an Amplify App '
                maxLength: 1000
                type: string
              enableAutoBranchCreation:
                description: ' Enables automated branch creation for the Amplify App. '
                type: boolean
              enableBasicAuth:
                description: ' Enable Basic Authorization for an Amplify App, this will apply to all branches part of this App. '
                type: boolean
              enableBranchAutoBuild:
                description: ' Enable the auto building of branches for an Amplify App. '
                type: boolean
              environmentVariables:
                additionalProperties:
                  $ref: '#/definitions/EnvValue'
                description: ' Environment variables map for an Amplify App. '
                type: object
              iamServiceRoleArn:
                description: ' AWS IAM service role for an Amplify App '
                maxLength: 1000
                minLength: 1
                type: string
              name:
                description: ' Name for the Amplify App '
                maxLength: 255
                minLength: 1
                type: string
              oauthToken:
                description: ' OAuth token for 3rd party source control system for an Amplify App, used to create webhook and read-only deploy key. OAuth token is not stored. '
                maxLength: 100
                type: string
              platform:
                description: ' Platform / framework for an Amplify App '
                enum:
                  - WEB
                type: string
              repository:
                description: ' Repository for an Amplify App '
                maxLength: 1000
                type: string
              tags:
                additionalProperties:
                  $ref: '#/definitions/TagValue'
                description: ' Tag for an Amplify App '
                maxProperties: 50
                minProperties: 1
                type: object
            required:
              - name
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateAppResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: DependentServiceFailureException
          schema:
            $ref: '#/definitions/DependentServiceFailureException'
  '/apps/{appId}':
    delete:
      description: ' Delete an existing Amplify App by appId. '
      operationId: DeleteApp
      parameters:
        - description: ' Unique Id for an Amplify App. '
          in: path
          maxLength: 255
          minLength: 1
          name: appId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteAppResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '484':
          description: DependentServiceFailureException
          schema:
            $ref: '#/definitions/DependentServiceFailureException'
    get:
      description: ' Retrieves an existing Amplify App by appId. '
      operationId: GetApp
      parameters:
        - description: ' Unique Id for an Amplify App. '
          in: path
          maxLength: 255
          minLength: 1
          name: appId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetAppResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ' Updates an existing Amplify App. '
      operationId: UpdateApp
      parameters:
        - description: ' Unique Id for an Amplify App. '
          in: path
          maxLength: 255
          minLength: 1
          name: appId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              autoBranchCreationConfig:
                description: ' Structure with auto branch creation config. '
                properties:
                  basicAuthCredentials:
                    $ref: '#/definitions/BasicAuthCredentials'
                    description: ' Basic Authorization credentials for the auto created branch. '
                  buildSpec:
                    $ref: '#/definitions/BuildSpec'
                    description: ' BuildSpec for the auto created branch. '
                  enableAutoBuild:
                    $ref: '#/definitions/EnableAutoBuild'
                    description: ' Enables auto building for the auto created branch. '
                  enableBasicAuth:
                    $ref: '#/definitions/EnableBasicAuth'
                    description: ' Enables Basic Auth for the auto created branch. '
                  environmentVariables:
                    $ref: '#/definitions/EnvironmentVariables'
                    description: ' Environment Variables for the auto created branch. '
                  framework:
                    $ref: '#/definitions/Framework'
                    description: ' Framework for the auto created branch. '
                  stage:
                    $ref: '#/definitions/Stage'
                    description: ' Stage for the auto created branch. '
                type: object
              autoBranchCreationPatterns:
                description: ' Automated branch creation glob patterns for the Amplify App. '
                items:
                  $ref: '#/definitions/AutoBranchCreationPattern'
                type: array
              basicAuthCredentials:
                description: ' Basic Authorization credentials for an Amplify App. '
                maxLength: 2000
                type: string
              buildSpec:
                description: ' BuildSpec file for Amplify app build. '
                maxLength: 25000
                minLength: 1
                type: string
              customRules:
                description: ' Custom redirect / rewrite rules for an Amplify App. '
                items:
                  $ref: '#/definitions/CustomRule'
                type: array
              description:
                description: ' Description for an Amplify App. '
                maxLength: 1000
                type: string
              enableAutoBranchCreation:
                description: ' Enables automated branch creation for the Amplify App. '
                type: boolean
              enableBasicAuth:
                description: ' Enables Basic Authorization for an Amplify App. '
                type: boolean
              enableBranchAutoBuild:
                description: ' Enables branch auto-building for an Amplify App. '
                type: boolean
              environmentVariables:
                additionalProperties:
                  $ref: '#/definitions/EnvValue'
                description: ' Environment Variables for an Amplify App. '
                type: object
              iamServiceRoleArn:
                description: ' IAM service role for an Amplify App. '
                maxLength: 1000
                minLength: 1
                type: string
              name:
                description: ' Name for an Amplify App. '
                maxLength: 255
                minLength: 1
                type: string
              platform:
                description: ' Platform for an Amplify App. '
                enum:
                  - WEB
                type: string
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateAppResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
  '/apps/{appId}/branches':
    get:
      description: ' Lists branches for an Amplify App. '
      operationId: ListBranches
      parameters:
        - description: ' Unique Id for an Amplify App. '
          in: path
          maxLength: 255
          minLength: 1
          name: appId
          required: true
          type: string
        - description: ' Pagination token. Set to null to start listing branches from start. If a non-null pagination token is returned in a result, then pass its value in here to list more branches. '
          in: query
          maxLength: 2000
          name: nextToken
          required: false
          type: string
        - description: ' Maximum number of records to list in a single response. '
          in: query
          maximum: 100
          minimum: 1
          name: maxResults
          required: false
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListBranchesResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ' Creates a new Branch for an Amplify App. '
      operationId: CreateBranch
      parameters:
        - description: ' Unique Id for an Amplify App. '
          in: path
          maxLength: 255
          minLength: 1
          name: appId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              basicAuthCredentials:
                description: ' Basic Authorization credentials for the branch. '
                maxLength: 2000
                type: string
              branchName:
                description: ' Name for the branch. '
                maxLength: 255
                minLength: 1
                type: string
              buildSpec:
                description: ' BuildSpec file for Amplify app build. '
                maxLength: 25000
                minLength: 1
                type: string
              description:
                description: ' Description for the branch. '
                maxLength: 1000
                type: string
              displayName:
                description: ' Display name for a branch, will use as the default domain prefix. '
                maxLength: 255
                type: string
              enableAutoBuild:
                description: ' Enables auto building for the branch. '
                type: boolean
              enableBasicAuth:
                description: ' Enables Basic Auth for the branch. '
                type: boolean
              enableNotification:
                description: ' Enables notifications for the branch. '
                type: boolean
              environmentVariables:
                additionalProperties:
                  $ref: '#/definitions/EnvValue'
                description: ' Environment Variables for the branch. '
                type: object
              framework:
                description: ' Framework for the branch. '
                maxLength: 255
                type: string
              stage:
                description: ' Stage for the branch. '
                enum:
                  - PRODUCTION
                  - BETA
                  - DEVELOPMENT
                  - EXPERIMENTAL
                type: string
              tags:
                additionalProperties:
                  $ref: '#/definitions/TagValue'
                description: ' Tag for the branch. '
                maxProperties: 50
                minProperties: 1
                type: object
              ttl:
                description: ' The content TTL for the website in seconds. '
                type: string
            required:
              - branchName
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateBranchResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: DependentServiceFailureException
          schema:
            $ref: '#/definitions/DependentServiceFailureException'
  '/apps/{appId}/branches/{branchName}':
    delete:
      description: ' Deletes a branch for an Amplify App. '
      operationId: DeleteBranch
      parameters:
        - description: ' Unique Id for an Amplify App. '
          in: path
          maxLength: 255
          minLength: 1
          name: appId
          required: true
          type: string
        - description: ' Name for the branch. '
          in: path
          maxLength: 255
          minLength: 1
          name: branchName
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteBranchResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '484':
          description: DependentServiceFailureException
          schema:
            $ref: '#/definitions/DependentServiceFailureException'
    get:
      description: ' Retrieves a branch for an Amplify App. '
      operationId: GetBranch
      parameters:
        - description: ' Unique Id for an Amplify App. '
          in: path
          maxLength: 255
          minLength: 1
          name: appId
          required: true
          type: string
        - description: ' Name for the branch. '
          in: path
          maxLength: 255
          minLength: 1
          name: branchName
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBranchResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ' Updates a branch for an Amplify App. '
      operationId: UpdateBranch
      parameters:
        - description: ' Unique Id for an Amplify App. '
          in: path
          maxLength: 255
          minLength: 1
          name: appId
          required: true
          type: string
        - description: ' Name for the branch. '
          in: path
          maxLength: 255
          minLength: 1
          name: branchName
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              basicAuthCredentials:
                description: ' Basic Authorization credentials for the branch. '
                maxLength: 2000
                type: string
              buildSpec:
                description: ' BuildSpec file for Amplify app build. '
                maxLength: 25000
                minLength: 1
                type: string
              description:
                description: ' Description for the branch. '
                maxLength: 1000
                type: string
              displayName:
                description: ' Display name for a branch, will use as the default domain prefix. '
                maxLength: 255
                type: string
              enableAutoBuild:
                description: ' Enables auto building for the branch. '
                type: boolean
              enableBasicAuth:
                description: ' Enables Basic Auth for the branch. '
                type: boolean
              enableNotification:
                description: ' Enables notifications for the branch. '
                type: boolean
              environmentVariables:
                additionalProperties:
                  $ref: '#/definitions/EnvValue'
                description: ' Environment Variables for the branch. '
                type: object
              framework:
                description: ' Framework for the branch. '
                maxLength: 255
                type: string
              stage:
                description: ' Stage for the branch. '
                enum:
                  - PRODUCTION
                  - BETA
                  - DEVELOPMENT
                  - EXPERIMENTAL
                type: string
              ttl:
                description: ' The content TTL for the website in seconds. '
                type: string
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateBranchResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '484':
          description: DependentServiceFailureException
          schema:
            $ref: '#/definitions/DependentServiceFailureException'
  '/apps/{appId}/branches/{branchName}/deployments':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ' Create a deployment for manual deploy apps. (Apps are not connected to repository) '
      operationId: CreateDeployment
      parameters:
        - description: ' Unique Id for an Amplify App. '
          in: path
          maxLength: 255
          minLength: 1
          name: appId
          required: true
          type: string
        - description: ' Name for the branch, for the Job. '
          in: path
          maxLength: 255
          minLength: 1
          name: branchName
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              fileMap:
                additionalProperties:
                  $ref: '#/definitions/MD5Hash'
                description: ' Optional file map that contains file name as the key and file content md5 hash as the value. If this argument is provided, the service will generate different upload url per file. Otherwise, the service will only generate a single upload url for the zipped files. '
                type: object
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDeploymentResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
  '/apps/{appId}/branches/{branchName}/deployments/start':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ' Start a deployment for manual deploy apps. (Apps are not connected to repository) '
      operationId: StartDeployment
      parameters:
        - description: ' Unique Id for an Amplify App. '
          in: path
          maxLength: 255
          minLength: 1
          name: appId
          required: true
          type: string
        - description: ' Name for the branch, for the Job. '
          in: path
          maxLength: 255
          minLength: 1
          name: branchName
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              jobId:
                description: ' The job id for this deployment, generated by create deployment request. '
                maxLength: 255
                type: string
              sourceUrl:
                description: ' The sourceUrl for this deployment, used when calling start deployment without create deployment. SourceUrl can be any HTTP GET url that is public accessible and downloads a single zip. '
                maxLength: 1000
                type: string
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartDeploymentResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
  '/apps/{appId}/branches/{branchName}/jobs':
    get:
      description: ' List Jobs for a branch, part of an Amplify App. '
      operationId: ListJobs
      parameters:
        - description: ' Unique Id for an Amplify App. '
          in: path
          maxLength: 255
          minLength: 1
          name: appId
          required: true
          type: string
        - description: ' Name for a branch. '
          in: path
          maxLength: 255
          minLength: 1
          name: branchName
          required: true
          type: string
        - description: ' Pagination token. Set to null to start listing steps from start. If a non-null pagination token is returned in a result, then pass its value in here to list more steps. '
          in: query
          maxLength: 2000
          name: nextToken
          required: false
          type: string
        - description: ' Maximum number of records to list in a single response. '
          in: query
          maximum: 100
          minimum: 1
          name: maxResults
          required: false
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListJobsResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ' Starts a new job for a branch, part of an Amplify App. '
      operationId: StartJob
      parameters:
        - description: ' Unique Id for an Amplify App. '
          in: path
          maxLength: 255
          minLength: 1
          name: appId
          required: true
          type: string
        - description: ' Name for the branch, for the Job. '
          in: path
          maxLength: 255
          minLength: 1
          name: branchName
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              commitId:
                description: ' Commit Id from 3rd party repository provider for the Job. '
                maxLength: 255
                type: string
              commitMessage:
                description: ' Commit message from 3rd party repository provider for the Job. '
                maxLength: 10000
                type: string
              commitTime:
                description: ' Commit date / time for the Job. '
                format: date-time
                type: string
              jobId:
                description: ' Unique Id for an existing job. Required for "RETRY" JobType. '
                maxLength: 255
                type: string
              jobReason:
                description: ' Descriptive reason for starting this job. '
                maxLength: 255
                type: string
              jobType:
                description: ' Type for the Job. Available JobTypes are: \n "RELEASE": Start a new job with the latest change from the specified branch. Only available for apps that have connected to a repository. "RETRY": Retry an existing job. JobId is required for this type of job. '
                enum:
                  - RELEASE
                  - RETRY
                  - MANUAL
                  - WEB_HOOK
                maxLength: 10
                type: string
            required:
              - jobType
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartJobResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
  '/apps/{appId}/branches/{branchName}/jobs/{jobId}':
    delete:
      description: ' Delete a job, for an Amplify branch, part of Amplify App. '
      operationId: DeleteJob
      parameters:
        - description: ' Unique Id for an Amplify App. '
          in: path
          maxLength: 255
          minLength: 1
          name: appId
          required: true
          type: string
        - description: ' Name for the branch, for the Job. '
          in: path
          maxLength: 255
          minLength: 1
          name: branchName
          required: true
          type: string
        - description: ' Unique Id for the Job. '
          in: path
          maxLength: 255
          name: jobId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteJobResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
    get:
      description: ' Get a job for a branch, part of an Amplify App. '
      operationId: GetJob
      parameters:
        - description: ' Unique Id for an Amplify App. '
          in: path
          maxLength: 255
          minLength: 1
          name: appId
          required: true
          type: string
        - description: ' Name for the branch, for the Job. '
          in: path
          maxLength: 255
          minLength: 1
          name: branchName
          required: true
          type: string
        - description: ' Unique Id for the Job. '
          in: path
          maxLength: 255
          name: jobId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetJobResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/apps/{appId}/branches/{branchName}/jobs/{jobId}/stop':
    delete:
      description: ' Stop a job that is in progress, for an Amplify branch, part of Amplify App. '
      operationId: StopJob
      parameters:
        - description: ' Unique Id for an Amplify App. '
          in: path
          maxLength: 255
          minLength: 1
          name: appId
          required: true
          type: string
        - description: ' Name for the branch, for the Job. '
          in: path
          maxLength: 255
          minLength: 1
          name: branchName
          required: true
          type: string
        - description: ' Unique Id for the Job. '
          in: path
          maxLength: 255
          name: jobId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopJobResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/apps/{appId}/domains':
    get:
      description: ' List domains with an app '
      operationId: ListDomainAssociations
      parameters:
        - description: ' Unique Id for an Amplify App. '
          in: path
          maxLength: 255
          minLength: 1
          name: appId
          required: true
          type: string
        - description: ' Pagination token. Set to null to start listing Apps from start. If non-null pagination token is returned in a result, then pass its value in here to list more projects. '
          in: query
          maxLength: 2000
          name: nextToken
          required: false
          type: string
        - description: ' Maximum number of records to list in a single response. '
          in: query
          maximum: 100
          minimum: 1
          name: maxResults
          required: false
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDomainAssociationsResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ' Create a new DomainAssociation on an App '
      operationId: CreateDomainAssociation
      parameters:
        - description: ' Unique Id for an Amplify App. '
          in: path
          maxLength: 255
          minLength: 1
          name: appId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              domainName:
                description: ' Domain name for the Domain Association. '
                maxLength: 255
                type: string
              enableAutoSubDomain:
                description: ' Enables automated creation of Subdomains for branches. '
                type: boolean
              subDomainSettings:
                description: ' Setting structure for the Subdomain. '
                items:
                  $ref: '#/definitions/SubDomainSetting'
                maxItems: 255
                type: array
            required:
              - domainName
              - subDomainSettings
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDomainAssociationResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: DependentServiceFailureException
          schema:
            $ref: '#/definitions/DependentServiceFailureException'
  '/apps/{appId}/domains/{domainName}':
    delete:
      description: ' Deletes a DomainAssociation. '
      operationId: DeleteDomainAssociation
      parameters:
        - description: ' Unique Id for an Amplify App. '
          in: path
          maxLength: 255
          minLength: 1
          name: appId
          required: true
          type: string
        - description: ' Name of the domain. '
          in: path
          maxLength: 255
          name: domainName
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDomainAssociationResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '484':
          description: DependentServiceFailureException
          schema:
            $ref: '#/definitions/DependentServiceFailureException'
    get:
      description: ' Retrieves domain info that corresponds to an appId and domainName. '
      operationId: GetDomainAssociation
      parameters:
        - description: ' Unique Id for an Amplify App. '
          in: path
          maxLength: 255
          minLength: 1
          name: appId
          required: true
          type: string
        - description: ' Name of the domain. '
          in: path
          maxLength: 255
          name: domainName
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDomainAssociationResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ' Create a new DomainAssociation on an App '
      operationId: UpdateDomainAssociation
      parameters:
        - description: ' Unique Id for an Amplify App. '
          in: path
          maxLength: 255
          minLength: 1
          name: appId
          required: true
          type: string
        - description: ' Name of the domain. '
          in: path
          maxLength: 255
          name: domainName
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              enableAutoSubDomain:
                description: ' Enables automated creation of Subdomains for branches. '
                type: boolean
              subDomainSettings:
                description: ' Setting structure for the Subdomain. '
                items:
                  $ref: '#/definitions/SubDomainSetting'
                maxItems: 255
                type: array
            required:
              - subDomainSettings
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateDomainAssociationResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '484':
          description: DependentServiceFailureException
          schema:
            $ref: '#/definitions/DependentServiceFailureException'
  '/apps/{appId}/webhooks':
    get:
      description: ' List webhooks with an app. '
      operationId: ListWebhooks
      parameters:
        - description: ' Unique Id for an Amplify App. '
          in: path
          maxLength: 255
          minLength: 1
          name: appId
          required: true
          type: string
        - description: ' Pagination token. Set to null to start listing webhooks from start. If non-null pagination token is returned in a result, then pass its value in here to list more webhooks. '
          in: query
          maxLength: 2000
          name: nextToken
          required: false
          type: string
        - description: ' Maximum number of records to list in a single response. '
          in: query
          maximum: 100
          minimum: 1
          name: maxResults
          required: false
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListWebhooksResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ' Create a new webhook on an App. '
      operationId: CreateWebhook
      parameters:
        - description: ' Unique Id for an Amplify App. '
          in: path
          maxLength: 255
          minLength: 1
          name: appId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              branchName:
                description: ' Name for a branch, part of an Amplify App. '
                maxLength: 255
                minLength: 1
                type: string
              description:
                description: ' Description for a webhook. '
                maxLength: 1000
                type: string
            required:
              - branchName
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateWebhookResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: DependentServiceFailureException
          schema:
            $ref: '#/definitions/DependentServiceFailureException'
  '/tags/{resourceArn}':
    get:
      description: ' List tags for resource. '
      operationId: ListTagsForResource
      parameters:
        - description: ' Resource arn used to list tags. '
          in: path
          name: resourceArn
          pattern: '^arn:aws:amplify:.*'
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForResourceResponse'
        '480':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '481':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ' Tag resource with tag key and value. '
      operationId: TagResource
      parameters:
        - description: ' Resource arn used to tag resource. '
          in: path
          name: resourceArn
          pattern: '^arn:aws:amplify:.*'
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              tags:
                additionalProperties:
                  $ref: '#/definitions/TagValue'
                description: ' Tags used to tag resource. '
                maxProperties: 50
                minProperties: 1
                type: object
            required:
              - tags
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TagResourceResponse'
        '480':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '481':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/tags/{resourceArn}#tagKeys':
    delete:
      description: ' Untag resource with resourceArn. '
      operationId: UntagResource
      parameters:
        - description: ' Resource arn used to untag resource. '
          in: path
          name: resourceArn
          pattern: '^arn:aws:amplify:.*'
          required: true
          type: string
        - description: ' Tag keys used to untag resource. '
          in: query
          items:
            type: string
          name: tagKeys
          required: true
          type: array
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UntagResourceResponse'
        '480':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '481':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/webhooks/{webhookId}':
    delete:
      description: ' Deletes a webhook. '
      operationId: DeleteWebhook
      parameters:
        - description: ' Unique Id for a webhook. '
          in: path
          maxLength: 255
          name: webhookId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteWebhookResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
    get:
      description: ' Retrieves webhook info that corresponds to a webhookId. '
      operationId: GetWebhook
      parameters:
        - description: ' Unique Id for a webhook. '
          in: path
          maxLength: 255
          name: webhookId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetWebhookResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ' Update a webhook. '
      operationId: UpdateWebhook
      parameters:
        - description: ' Unique Id for a webhook. '
          in: path
          maxLength: 255
          name: webhookId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              branchName:
                description: ' Name for a branch, part of an Amplify App. '
                maxLength: 255
                minLength: 1
                type: string
              description:
                description: ' Description for a webhook. '
                maxLength: 1000
                type: string
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateWebhookResult'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '484':
          description: DependentServiceFailureException
          schema:
            $ref: '#/definitions/DependentServiceFailureException'
definitions:
  AccessToken:
    maxLength: 255
    minLength: 1
    type: string
  ActiveJobId:
    maxLength: 1000
    type: string
  App:
    description: ' Amplify App represents different branches of a repository for building, deploying, and hosting. '
    properties:
      appArn:
        $ref: '#/definitions/AppArn'
        description: ' ARN for the Amplify App. '
      appId:
        $ref: '#/definitions/AppId'
        description: ' Unique Id for the Amplify App. '
      autoBranchCreationConfig:
        $ref: '#/definitions/AutoBranchCreationConfig'
        description: ' Automated branch creation config for the Amplify App. '
      autoBranchCreationPatterns:
        $ref: '#/definitions/AutoBranchCreationPatterns'
        description: ' Automated branch creation glob patterns for the Amplify App. '
      basicAuthCredentials:
        $ref: '#/definitions/BasicAuthCredentials'
        description: ' Basic Authorization credentials for branches for the Amplify App. '
      buildSpec:
        $ref: '#/definitions/BuildSpec'
        description: ' BuildSpec content for Amplify App. '
      createTime:
        $ref: '#/definitions/CreateTime'
        description: ' Create date / time for the Amplify App. '
      customRules:
        $ref: '#/definitions/CustomRules'
        description: ' Custom redirect / rewrite rules for the Amplify App. '
      defaultDomain:
        $ref: '#/definitions/DefaultDomain'
        description: ' Default domain for the Amplify App. '
      description:
        $ref: '#/definitions/Description'
        description: ' Description for the Amplify App. '
      enableAutoBranchCreation:
        $ref: '#/definitions/EnableAutoBranchCreation'
        description: ' Enables automated branch creation for the Amplify App. '
      enableBasicAuth:
        $ref: '#/definitions/EnableBasicAuth'
        description: ' Enables Basic Authorization for branches for the Amplify App. '
      enableBranchAutoBuild:
        $ref: '#/definitions/EnableBranchAutoBuild'
        description: ' Enables auto-building of branches for the Amplify App. '
      environmentVariables:
        $ref: '#/definitions/EnvironmentVariables'
        description: ' Environment Variables for the Amplify App. '
      iamServiceRoleArn:
        $ref: '#/definitions/ServiceRoleArn'
        description: ' IAM service role ARN for the Amplify App. '
      name:
        $ref: '#/definitions/Name'
        description: ' Name for the Amplify App. '
      platform:
        $ref: '#/definitions/Platform'
        description: ' Platform for the Amplify App. '
      productionBranch:
        $ref: '#/definitions/ProductionBranch'
        description: ' Structure with Production Branch information. '
      repository:
        $ref: '#/definitions/Repository'
        description: ' Repository for the Amplify App. '
      tags:
        $ref: '#/definitions/TagMap'
        description: ' Tag for Amplify App. '
      updateTime:
        $ref: '#/definitions/UpdateTime'
        description: ' Update date / time for the Amplify App. '
    required:
      - appId
      - appArn
      - name
      - description
      - repository
      - platform
      - createTime
      - updateTime
      - environmentVariables
      - defaultDomain
      - enableBranchAutoBuild
      - enableBasicAuth
    type: object
  AppArn:
    maxLength: 1000
    type: string
  AppId:
    maxLength: 255
    minLength: 1
    type: string
  Apps:
    items:
      $ref: '#/definitions/App'
    type: array
  ArtifactsUrl:
    maxLength: 1000
    type: string
  AssociatedResource:
    maxLength: 2048
    minLength: 1
    type: string
  AssociatedResources:
    items:
      $ref: '#/definitions/AssociatedResource'
    type: array
  AutoBranchCreationConfig:
    description: ' Structure with auto branch creation config. '
    properties:
      basicAuthCredentials:
        $ref: '#/definitions/BasicAuthCredentials'
        description: ' Basic Authorization credentials for the auto created branch. '
      buildSpec:
        $ref: '#/definitions/BuildSpec'
        description: ' BuildSpec for the auto created branch. '
      enableAutoBuild:
        $ref: '#/definitions/EnableAutoBuild'
        description: ' Enables auto building for the auto created branch. '
      enableBasicAuth:
        $ref: '#/definitions/EnableBasicAuth'
        description: ' Enables Basic Auth for the auto created branch. '
      environmentVariables:
        $ref: '#/definitions/EnvironmentVariables'
        description: ' Environment Variables for the auto created branch. '
      framework:
        $ref: '#/definitions/Framework'
        description: ' Framework for the auto created branch. '
      stage:
        $ref: '#/definitions/Stage'
        description: ' Stage for the auto created branch. '
    type: object
  AutoBranchCreationPattern:
    maxLength: 2048
    minLength: 1
    type: string
  AutoBranchCreationPatterns:
    items:
      $ref: '#/definitions/AutoBranchCreationPattern'
    type: array
  BadRequestException: {}
  BasicAuthCredentials:
    maxLength: 2000
    type: string
  Branch:
    description: ' Branch for an Amplify App, which maps to a 3rd party repository branch. '
    properties:
      activeJobId:
        $ref: '#/definitions/ActiveJobId'
        description: ' Id of the active job for a branch, part of an Amplify App. '
      associatedResources:
        $ref: '#/definitions/AssociatedResources'
        description: ' List of custom resources that are linked to this branch. '
      basicAuthCredentials:
        $ref: '#/definitions/BasicAuthCredentials'
        description: ' Basic Authorization credentials for a branch, part of an Amplify App. '
      branchArn:
        $ref: '#/definitions/BranchArn'
        description: ' ARN for a branch, part of an Amplify App. '
      branchName:
        $ref: '#/definitions/BranchName'
        description: ' Name for a branch, part of an Amplify App. '
      buildSpec:
        $ref: '#/definitions/BuildSpec'
        description: ' BuildSpec content for branch for Amplify App. '
      createTime:
        $ref: '#/definitions/CreateTime'
        description: ' Creation date and time for a branch, part of an Amplify App. '
      customDomains:
        $ref: '#/definitions/CustomDomains'
        description: ' Custom domains for a branch, part of an Amplify App. '
      description:
        $ref: '#/definitions/Description'
        description: ' Description for a branch, part of an Amplify App. '
      displayName:
        $ref: '#/definitions/DisplayName'
        description: ' Display name for a branch, will use as the default domain prefix. '
      enableAutoBuild:
        $ref: '#/definitions/EnableAutoBuild'
        description: ' Enables auto-building on push for a branch, part of an Amplify App. '
      enableBasicAuth:
        $ref: '#/definitions/EnableBasicAuth'
        description: ' Enables Basic Authorization for a branch, part of an Amplify App. '
      enableNotification:
        $ref: '#/definitions/EnableNotification'
        description: ' Enables notifications for a branch, part of an Amplify App. '
      environmentVariables:
        $ref: '#/definitions/EnvironmentVariables'
        description: ' Environment Variables specific to a branch, part of an Amplify App. '
      framework:
        $ref: '#/definitions/Framework'
        description: ' Framework for a branch, part of an Amplify App. '
      stage:
        $ref: '#/definitions/Stage'
        description: ' Stage for a branch, part of an Amplify App. '
      tags:
        $ref: '#/definitions/TagMap'
        description: ' Tag for branch for Amplify App. '
      thumbnailUrl:
        $ref: '#/definitions/ThumbnailUrl'
        description: ' Thumbnail URL for the branch. '
      totalNumberOfJobs:
        $ref: '#/definitions/TotalNumberOfJobs'
        description: ' Total number of Jobs part of an Amplify App. '
      ttl:
        $ref: '#/definitions/TTL'
        description: ' The content TTL for the website in seconds. '
      updateTime:
        $ref: '#/definitions/UpdateTime'
        description: ' Last updated date and time for a branch, part of an Amplify App. '
    required:
      - branchArn
      - branchName
      - description
      - stage
      - displayName
      - enableNotification
      - createTime
      - updateTime
      - environmentVariables
      - enableAutoBuild
      - customDomains
      - framework
      - activeJobId
      - totalNumberOfJobs
      - enableBasicAuth
      - ttl
    type: object
  BranchArn:
    maxLength: 1000
    type: string
  BranchName:
    maxLength: 255
    minLength: 1
    type: string
  Branches:
    items:
      $ref: '#/definitions/Branch'
    maxItems: 255
    type: array
  BuildSpec:
    description: ' BuildSpec file for Amplify app build. '
    maxLength: 25000
    minLength: 1
    type: string
  CertificateVerificationDNSRecord:
    maxLength: 1000
    type: string
  CommitId:
    maxLength: 255
    type: string
  CommitMessage:
    maxLength: 10000
    type: string
  CommitTime:
    format: date-time
    type: string
  Condition:
    maxLength: 2048
    minLength: 1
    type: string
  Context:
    type: string
  CreateAppRequest:
    description: ' Request structure used to create Apps in Amplify. '
    properties:
      accessToken:
        $ref: '#/definitions/AccessToken'
        description: ' Personal Access token for 3rd party source control system for an Amplify App, used to create webhook and read-only deploy key. Token is not stored. '
      autoBranchCreationConfig:
        $ref: '#/definitions/AutoBranchCreationConfig'
        description: ' Automated branch creation config for the Amplify App. '
      autoBranchCreationPatterns:
        $ref: '#/definitions/AutoBranchCreationPatterns'
        description: ' Automated branch creation glob patterns for the Amplify App. '
      basicAuthCredentials:
        $ref: '#/definitions/BasicAuthCredentials'
        description: ' Credentials for Basic Authorization for an Amplify App. '
      buildSpec:
        $ref: '#/definitions/BuildSpec'
        description: ' BuildSpec for an Amplify App '
      customRules:
        $ref: '#/definitions/CustomRules'
        description: ' Custom rewrite / redirect rules for an Amplify App. '
      description:
        $ref: '#/definitions/Description'
        description: ' Description for an Amplify App '
      enableAutoBranchCreation:
        $ref: '#/definitions/EnableAutoBranchCreation'
        description: ' Enables automated branch creation for the Amplify App. '
      enableBasicAuth:
        $ref: '#/definitions/EnableBasicAuth'
        description: ' Enable Basic Authorization for an Amplify App, this will apply to all branches part of this App. '
      enableBranchAutoBuild:
        $ref: '#/definitions/EnableBranchAutoBuild'
        description: ' Enable the auto building of branches for an Amplify App. '
      environmentVariables:
        $ref: '#/definitions/EnvironmentVariables'
        description: ' Environment variables map for an Amplify App. '
      iamServiceRoleArn:
        $ref: '#/definitions/ServiceRoleArn'
        description: ' AWS IAM service role for an Amplify App '
      name:
        $ref: '#/definitions/Name'
        description: ' Name for the Amplify App '
      oauthToken:
        $ref: '#/definitions/OauthToken'
        description: ' OAuth token for 3rd party source control system for an Amplify App, used to create webhook and read-only deploy key. OAuth token is not stored. '
      platform:
        $ref: '#/definitions/Platform'
        description: ' Platform / framework for an Amplify App '
      repository:
        $ref: '#/definitions/Repository'
        description: ' Repository for an Amplify App '
      tags:
        $ref: '#/definitions/TagMap'
        description: ' Tag for an Amplify App '
    required:
      - name
    type: object
  CreateAppResult:
    properties:
      app:
        $ref: '#/definitions/App'
    required:
      - app
    type: object
  CreateBranchRequest:
    description: ' Request structure for a branch create request. '
    properties:
      basicAuthCredentials:
        $ref: '#/definitions/BasicAuthCredentials'
        description: ' Basic Authorization credentials for the branch. '
      branchName:
        $ref: '#/definitions/BranchName'
        description: ' Name for the branch. '
      buildSpec:
        $ref: '#/definitions/BuildSpec'
        description: ' BuildSpec for the branch. '
      description:
        $ref: '#/definitions/Description'
        description: ' Description for the branch. '
      displayName:
        $ref: '#/definitions/DisplayName'
        description: ' Display name for a branch, will use as the default domain prefix. '
      enableAutoBuild:
        $ref: '#/definitions/EnableAutoBuild'
        description: ' Enables auto building for the branch. '
      enableBasicAuth:
        $ref: '#/definitions/EnableBasicAuth'
        description: ' Enables Basic Auth for the branch. '
      enableNotification:
        $ref: '#/definitions/EnableNotification'
        description: ' Enables notifications for the branch. '
      environmentVariables:
        $ref: '#/definitions/EnvironmentVariables'
        description: ' Environment Variables for the branch. '
      framework:
        $ref: '#/definitions/Framework'
        description: ' Framework for the branch. '
      stage:
        $ref: '#/definitions/Stage'
        description: ' Stage for the branch. '
      tags:
        $ref: '#/definitions/TagMap'
        description: ' Tag for the branch. '
      ttl:
        $ref: '#/definitions/TTL'
        description: ' The content TTL for the website in seconds. '
    required:
      - branchName
    type: object
  CreateBranchResult:
    description: ' Result structure for create branch request. '
    properties:
      branch:
        $ref: '#/definitions/Branch'
        description: ' Branch structure for an Amplify App. '
    required:
      - branch
    type: object
  CreateDeploymentRequest:
    description: ' Request structure for create a new deployment. '
    properties:
      fileMap:
        $ref: '#/definitions/FileMap'
        description: ' Optional file map that contains file name as the key and file content md5 hash as the value. If this argument is provided, the service will generate different upload url per file. Otherwise, the service will only generate a single upload url for the zipped files. '
    type: object
  CreateDeploymentResult:
    description: ' Result structure for create a new deployment. '
    properties:
      fileUploadUrls:
        $ref: '#/definitions/FileUploadUrls'
        description: ' When the fileMap argument is provided in the request, the fileUploadUrls will contain a map of file names to upload url. '
      jobId:
        $ref: '#/definitions/JobId'
        description: ' The jobId for this deployment, will supply to start deployment api. '
      zipUploadUrl:
        $ref: '#/definitions/UploadUrl'
        description: ' When the fileMap argument is NOT provided. This zipUploadUrl will be returned. '
    required:
      - fileUploadUrls
      - zipUploadUrl
    type: object
  CreateDomainAssociationRequest:
    description: ' Request structure for create Domain Association request. '
    properties:
      domainName:
        $ref: '#/definitions/DomainName'
        description: ' Domain name for the Domain Association. '
      enableAutoSubDomain:
        $ref: '#/definitions/EnableAutoSubDomain'
        description: ' Enables automated creation of Subdomains for branches. '
      subDomainSettings:
        $ref: '#/definitions/SubDomainSettings'
        description: ' Setting structure for the Subdomain. '
    required:
      - domainName
      - subDomainSettings
    type: object
  CreateDomainAssociationResult:
    description: ' Result structure for the create Domain Association request. '
    properties:
      domainAssociation:
        $ref: '#/definitions/DomainAssociation'
        description: ' Domain Association structure. '
    required:
      - domainAssociation
    type: object
  CreateTime:
    format: date-time
    type: string
  CreateWebhookRequest:
    description: ' Request structure for create webhook request. '
    properties:
      branchName:
        $ref: '#/definitions/BranchName'
        description: ' Name for a branch, part of an Amplify App. '
      description:
        $ref: '#/definitions/Description'
        description: ' Description for a webhook. '
    required:
      - branchName
    type: object
  CreateWebhookResult:
    description: ' Result structure for the create webhook request. '
    properties:
      webhook:
        $ref: '#/definitions/Webhook'
        description: ' Webhook structure. '
    required:
      - webhook
    type: object
  CustomDomain:
    maxLength: 255
    type: string
  CustomDomains:
    items:
      $ref: '#/definitions/CustomDomain'
    maxItems: 255
    type: array
  CustomRule:
    description: ' Custom rewrite / redirect rule. '
    properties:
      condition:
        $ref: '#/definitions/Condition'
        description: ' The condition for a URL rewrite or redirect rule, e.g. country code. '
      source:
        $ref: '#/definitions/Source'
        description: ' The source pattern for a URL rewrite or redirect rule. '
      status:
        $ref: '#/definitions/Status'
        description: ' The status code for a URL rewrite or redirect rule. '
      target:
        $ref: '#/definitions/Target'
        description: ' The target pattern for a URL rewrite or redirect rule. '
    required:
      - source
      - target
    type: object
  CustomRules:
    items:
      $ref: '#/definitions/CustomRule'
    type: array
  DNSRecord:
    maxLength: 1000
    type: string
  DefaultDomain:
    maxLength: 1000
    minLength: 1
    type: string
  DeleteAppRequest:
    description: ' Request structure for an Amplify App delete request. '
    properties: {}
    type: object
  DeleteAppResult:
    description: ' Result structure for an Amplify App delete request. '
    properties:
      app:
        $ref: '#/definitions/App'
    required:
      - app
    type: object
  DeleteBranchRequest:
    description: ' Request structure for delete branch request. '
    properties: {}
    type: object
  DeleteBranchResult:
    description: ' Result structure for delete branch request. '
    properties:
      branch:
        $ref: '#/definitions/Branch'
        description: ' Branch structure for an Amplify App. '
    required:
      - branch
    type: object
  DeleteDomainAssociationRequest:
    description: ' Request structure for the delete Domain Association request. '
    properties: {}
    type: object
  DeleteDomainAssociationResult:
    properties:
      domainAssociation:
        $ref: '#/definitions/DomainAssociation'
    required:
      - domainAssociation
    type: object
  DeleteJobRequest:
    description: ' Request structure for delete job request. '
    properties: {}
    type: object
  DeleteJobResult:
    description: ' Result structure for the delete job request. '
    properties:
      jobSummary:
        $ref: '#/definitions/JobSummary'
    required:
      - jobSummary
    type: object
  DeleteWebhookRequest:
    description: ' Request structure for the delete webhook request. '
    properties: {}
    type: object
  DeleteWebhookResult:
    description: ' Result structure for the delete webhook request. '
    properties:
      webhook:
        $ref: '#/definitions/Webhook'
        description: ' Webhook structure. '
    required:
      - webhook
    type: object
  DependentServiceFailureException: {}
  Description:
    maxLength: 1000
    type: string
  DisplayName:
    maxLength: 255
    type: string
  DomainAssociation:
    description: ' Structure for Domain Association, which associates a custom domain with an Amplify App. '
    properties:
      certificateVerificationDNSRecord:
        $ref: '#/definitions/CertificateVerificationDNSRecord'
        description: ' DNS Record for certificate verification. '
      domainAssociationArn:
        $ref: '#/definitions/DomainAssociationArn'
        description: ' ARN for the Domain Association. '
      domainName:
        $ref: '#/definitions/DomainName'
        description: ' Name of the domain. '
      domainStatus:
        $ref: '#/definitions/DomainStatus'
        description: ' Status fo the Domain Association. '
      enableAutoSubDomain:
        $ref: '#/definitions/EnableAutoSubDomain'
        description: ' Enables automated creation of Subdomains for branches. '
      statusReason:
        $ref: '#/definitions/StatusReason'
        description: ' Reason for the current status of the Domain Association. '
      subDomains:
        $ref: '#/definitions/SubDomains'
        description: ' Subdomains for the Domain Association. '
    required:
      - domainAssociationArn
      - domainName
      - enableAutoSubDomain
      - domainStatus
      - statusReason
      - subDomains
    type: object
  DomainAssociationArn:
    maxLength: 1000
    type: string
  DomainAssociations:
    items:
      $ref: '#/definitions/DomainAssociation'
    maxItems: 255
    type: array
  DomainName:
    maxLength: 255
    type: string
  DomainPrefix:
    maxLength: 255
    type: string
  DomainStatus:
    enum:
      - PENDING_VERIFICATION
      - IN_PROGRESS
      - AVAILABLE
      - PENDING_DEPLOYMENT
      - FAILED
      - CREATING
      - REQUESTING_CERTIFICATE
      - UPDATING
    type: string
  EnableAutoBranchCreation:
    type: boolean
  EnableAutoBuild:
    type: boolean
  EnableAutoSubDomain:
    type: boolean
  EnableBasicAuth:
    type: boolean
  EnableBranchAutoBuild:
    type: boolean
  EnableNotification:
    type: boolean
  EndTime:
    format: date-time
    type: string
  EnvKey:
    maxLength: 255
    type: string
  EnvValue:
    maxLength: 1000
    type: string
  EnvironmentVariables:
    additionalProperties:
      $ref: '#/definitions/EnvValue'
    type: object
  FileMap:
    additionalProperties:
      $ref: '#/definitions/MD5Hash'
    type: object
  FileName:
    maxLength: 255
    type: string
  FileUploadUrls:
    additionalProperties:
      $ref: '#/definitions/UploadUrl'
    type: object
  Framework:
    maxLength: 255
    type: string
  GetAppRequest:
    description: ' Request structure for get App request. '
    properties: {}
    type: object
  GetAppResult:
    properties:
      app:
        $ref: '#/definitions/App'
    required:
      - app
    type: object
  GetBranchRequest:
    description: ' Result structure for get branch request. '
    properties: {}
    type: object
  GetBranchResult:
    properties:
      branch:
        $ref: '#/definitions/Branch'
    required:
      - branch
    type: object
  GetDomainAssociationRequest:
    description: ' Request structure for the get Domain Association request. '
    properties: {}
    type: object
  GetDomainAssociationResult:
    description: ' Result structure for the get Domain Association request. '
    properties:
      domainAssociation:
        $ref: '#/definitions/DomainAssociation'
        description: ' Domain Association structure. '
    required:
      - domainAssociation
    type: object
  GetJobRequest:
    description: ' Request structure for get job request. '
    properties: {}
    type: object
  GetJobResult:
    properties:
      job:
        $ref: '#/definitions/Job'
    required:
      - job
    type: object
  GetWebhookRequest:
    description: ' Request structure for the get webhook request. '
    properties: {}
    type: object
  GetWebhookResult:
    description: ' Result structure for the get webhook request. '
    properties:
      webhook:
        $ref: '#/definitions/Webhook'
        description: ' Webhook structure. '
    required:
      - webhook
    type: object
  InternalFailureException: {}
  Job:
    description: ' Structure for an execution job for an Amplify App. '
    properties:
      steps:
        $ref: '#/definitions/Steps'
        description: ' Execution steps for an execution job, for an Amplify App. '
      summary:
        $ref: '#/definitions/JobSummary'
        description: ' Summary for an execution job for an Amplify App. '
    required:
      - summary
      - steps
    type: object
  JobArn:
    maxLength: 1000
    type: string
  JobId:
    maxLength: 255
    type: string
  JobReason:
    maxLength: 255
    type: string
  JobStatus:
    enum:
      - PENDING
      - PROVISIONING
      - RUNNING
      - FAILED
      - SUCCEED
      - CANCELLING
      - CANCELLED
    type: string
  JobSummaries:
    items:
      $ref: '#/definitions/JobSummary'
    type: array
  JobSummary:
    description: ' Structure for the summary of a Job. '
    properties:
      commitId:
        $ref: '#/definitions/CommitId'
        description: ' Commit Id from 3rd party repository provider for the Job. '
      commitMessage:
        $ref: '#/definitions/CommitMessage'
        description: ' Commit message from 3rd party repository provider for the Job. '
      commitTime:
        $ref: '#/definitions/CommitTime'
        description: ' Commit date / time for the Job. '
      endTime:
        $ref: '#/definitions/EndTime'
        description: ' End date / time for the Job. '
      jobArn:
        $ref: '#/definitions/JobArn'
        description: ' Arn for the Job. '
      jobId:
        $ref: '#/definitions/JobId'
        description: ' Unique Id for the Job. '
      jobType:
        $ref: '#/definitions/JobType'
        description: ' Type for the Job. \n "RELEASE": Manually released from source by using StartJob API. "RETRY": Manually retried by using StartJob API. "WEB_HOOK": Automatically triggered by WebHooks. '
      startTime:
        $ref: '#/definitions/StartTime'
        description: ' Start date / time for the Job. '
      status:
        $ref: '#/definitions/JobStatus'
        description: ' Status for the Job. '
    required:
      - jobArn
      - jobId
      - commitId
      - commitMessage
      - commitTime
      - startTime
      - status
      - jobType
    type: object
  JobType:
    enum:
      - RELEASE
      - RETRY
      - MANUAL
      - WEB_HOOK
    maxLength: 10
    type: string
  LastDeployTime:
    format: date-time
    type: string
  LimitExceededException: {}
  ListAppsRequest:
    description: ' Request structure for an Amplify App list request. '
    properties: {}
    type: object
  ListAppsResult:
    description: ' Result structure for an Amplify App list request. '
    properties:
      apps:
        $ref: '#/definitions/Apps'
        description: ' List of Amplify Apps. '
      nextToken:
        $ref: '#/definitions/NextToken'
        description: ' Pagination token. Set to null to start listing Apps from start. If non-null pagination token is returned in a result, then pass its value in here to list more projects. '
    required:
      - apps
    type: object
  ListBranchesRequest:
    description: ' Request structure for list branches request. '
    properties: {}
    type: object
  ListBranchesResult:
    description: ' Result structure for list branches request. '
    properties:
      branches:
        $ref: '#/definitions/Branches'
        description: ' List of branches for an Amplify App. '
      nextToken:
        $ref: '#/definitions/NextToken'
        description: ' Pagination token. If non-null pagination token is returned in a result, then pass its value in another request to fetch more entries. '
    required:
      - branches
    type: object
  ListDomainAssociationsRequest:
    description: ' Request structure for the list Domain Associations request. '
    properties: {}
    type: object
  ListDomainAssociationsResult:
    description: ' Result structure for the list Domain Association request. '
    properties:
      domainAssociations:
        $ref: '#/definitions/DomainAssociations'
        description: ' List of Domain Associations. '
      nextToken:
        $ref: '#/definitions/NextToken'
        description: ' Pagination token. If non-null pagination token is returned in a result, then pass its value in another request to fetch more entries. '
    required:
      - domainAssociations
    type: object
  ListJobsRequest:
    description: ' Request structure for list job request. '
    properties: {}
    type: object
  ListJobsResult:
    description: ' Maximum number of records to list in a single response. '
    properties:
      jobSummaries:
        $ref: '#/definitions/JobSummaries'
        description: ' Result structure for list job result request. '
      nextToken:
        $ref: '#/definitions/NextToken'
        description: ' Pagination token. If non-null pagination token is returned in a result, then pass its value in another request to fetch more entries. '
    required:
      - jobSummaries
    type: object
  ListTagsForResourceRequest:
    description: ' Request structure used to list tags for resource. '
    properties: {}
    type: object
  ListTagsForResourceResponse:
    description: ' Response for list tags. '
    properties:
      tags:
        $ref: '#/definitions/TagMap'
        description: ' Tags result for response. '
    type: object
  ListWebhooksRequest:
    description: ' Request structure for the list webhooks request. '
    properties: {}
    type: object
  ListWebhooksResult:
    description: ' Result structure for the list webhooks request. '
    properties:
      nextToken:
        $ref: '#/definitions/NextToken'
        description: ' Pagination token. If non-null pagination token is returned in a result, then pass its value in another request to fetch more entries. '
      webhooks:
        $ref: '#/definitions/Webhooks'
        description: ' List of webhooks. '
    required:
      - webhooks
    type: object
  LogUrl:
    maxLength: 1000
    type: string
  MD5Hash:
    maxLength: 32
    type: string
  MaxResults:
    maximum: 100
    minimum: 1
    type: integer
  Name:
    maxLength: 255
    minLength: 1
    type: string
  NextToken:
    maxLength: 2000
    type: string
  NotFoundException: {}
  OauthToken:
    maxLength: 100
    type: string
  Platform:
    enum:
      - WEB
    type: string
  ProductionBranch:
    description: ' Structure with Production Branch information. '
    properties:
      branchName:
        $ref: '#/definitions/BranchName'
        description: ' Branch Name for Production Branch. '
      lastDeployTime:
        $ref: '#/definitions/LastDeployTime'
        description: ' Last Deploy Time of Production Branch. '
      status:
        $ref: '#/definitions/Status'
        description: ' Status of Production Branch. '
      thumbnailUrl:
        $ref: '#/definitions/ThumbnailUrl'
        description: ' Thumbnail URL for Production Branch. '
    type: object
  Repository:
    maxLength: 1000
    type: string
  ResourceArn:
    pattern: '^arn:aws:amplify:.*'
    type: string
  ResourceNotFoundException: {}
  Screenshots:
    additionalProperties:
      $ref: '#/definitions/ThumbnailUrl'
    type: object
  ServiceRoleArn:
    maxLength: 1000
    minLength: 1
    type: string
  Source:
    maxLength: 2048
    minLength: 1
    type: string
  SourceUrl:
    maxLength: 1000
    type: string
  Stage:
    enum:
      - PRODUCTION
      - BETA
      - DEVELOPMENT
      - EXPERIMENTAL
    type: string
  StartDeploymentRequest:
    description: ' Request structure for start a deployment. '
    properties:
      jobId:
        $ref: '#/definitions/JobId'
        description: ' The job id for this deployment, generated by create deployment request. '
      sourceUrl:
        $ref: '#/definitions/SourceUrl'
        description: ' The sourceUrl for this deployment, used when calling start deployment without create deployment. SourceUrl can be any HTTP GET url that is public accessible and downloads a single zip. '
    type: object
  StartDeploymentResult:
    description: ' Result structure for start a deployment. '
    properties:
      jobSummary:
        $ref: '#/definitions/JobSummary'
        description: ' Summary for the Job. '
    required:
      - jobSummary
    type: object
  StartJobRequest:
    description: ' Request structure for Start job request. '
    properties:
      commitId:
        $ref: '#/definitions/CommitId'
        description: ' Commit Id from 3rd party repository provider for the Job. '
      commitMessage:
        $ref: '#/definitions/CommitMessage'
        description: ' Commit message from 3rd party repository provider for the Job. '
      commitTime:
        $ref: '#/definitions/CommitTime'
        description: ' Commit date / time for the Job. '
      jobId:
        $ref: '#/definitions/JobId'
        description: ' Unique Id for an existing job. Required for "RETRY" JobType. '
      jobReason:
        $ref: '#/definitions/JobReason'
        description: ' Descriptive reason for starting this job. '
      jobType:
        $ref: '#/definitions/JobType'
        description: ' Type for the Job. Available JobTypes are: \n "RELEASE": Start a new job with the latest change from the specified branch. Only available for apps that have connected to a repository. "RETRY": Retry an existing job. JobId is required for this type of job. '
    required:
      - jobType
    type: object
  StartJobResult:
    description: ' Result structure for run job request. '
    properties:
      jobSummary:
        $ref: '#/definitions/JobSummary'
        description: ' Summary for the Job. '
    required:
      - jobSummary
    type: object
  StartTime:
    format: date-time
    type: string
  Status:
    maxLength: 3
    minLength: 3
    type: string
  StatusReason:
    maxLength: 1000
    type: string
  Step:
    description: ' Structure for an execution step for an execution job, for an Amplify App. '
    properties:
      artifactsUrl:
        $ref: '#/definitions/ArtifactsUrl'
        description: ' URL to the artifact for the execution step. '
      context:
        $ref: '#/definitions/Context'
        description: ' The context for current step, will include build image if step is build. '
      endTime:
        $ref: '#/definitions/EndTime'
        description: ' End date/ time of the execution step. '
      logUrl:
        $ref: '#/definitions/LogUrl'
        description: ' URL to the logs for the execution step. '
      screenshots:
        $ref: '#/definitions/Screenshots'
        description: ' List of screenshot URLs for the execution step, if relevant. '
      startTime:
        $ref: '#/definitions/StartTime'
        description: ' Start date/ time of the execution step. '
      status:
        $ref: '#/definitions/JobStatus'
        description: ' Status of the execution step. '
      statusReason:
        $ref: '#/definitions/StatusReason'
        description: ' The reason for current step status. '
      stepName:
        $ref: '#/definitions/StepName'
        description: ' Name of the execution step. '
    required:
      - stepName
      - startTime
      - status
      - endTime
    type: object
  StepName:
    maxLength: 255
    type: string
  Steps:
    items:
      $ref: '#/definitions/Step'
    type: array
  StopJobRequest:
    description: ' Request structure for stop job request. '
    properties: {}
    type: object
  StopJobResult:
    description: ' Result structure for the stop job request. '
    properties:
      jobSummary:
        $ref: '#/definitions/JobSummary'
        description: ' Summary for the Job. '
    required:
      - jobSummary
    type: object
  SubDomain:
    description: ' Subdomain for the Domain Association. '
    properties:
      dnsRecord:
        $ref: '#/definitions/DNSRecord'
        description: ' DNS record for the Subdomain. '
      subDomainSetting:
        $ref: '#/definitions/SubDomainSetting'
        description: ' Setting structure for the Subdomain. '
      verified:
        $ref: '#/definitions/Verified'
        description: ' Verified status of the Subdomain '
    required:
      - subDomainSetting
      - verified
      - dnsRecord
    type: object
  SubDomainSetting:
    description: ' Setting for the Subdomain. '
    properties:
      branchName:
        $ref: '#/definitions/BranchName'
        description: ' Branch name setting for the Subdomain. '
      prefix:
        $ref: '#/definitions/DomainPrefix'
        description: ' Prefix setting for the Subdomain. '
    required:
      - prefix
      - branchName
    type: object
[...]
