openapi: 3.0.0
servers:
  - url: 'https://management.azure.com/'
info:
  title: LogicAppsManagementClient
  version: 2015-08-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-web/2015-08-01-preview/swagger/logicAppsManagementClient.json'
      version: '2.0'
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: arm-web
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Web/locations/{location}/managedApis':
    get:
      deprecated: false
      description: Gets a list of managed APIs.
      operationId: ManagedApis_List
      parameters:
        - description: The location.
          in: path
          name: location
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApisCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/ApisCollection'
      summary: List managed Apis
      tags:
        - Managed Apis
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Web/locations/{location}/managedApis/{apiName}':
    get:
      deprecated: false
      description: Gets a managed API.
      operationId: ManagedApis_Get
      parameters:
        - description: The location.
          in: path
          name: location
          required: true
          schema:
            type: string
        - description: The managed API name.
          in: path
          name: apiName
          required: true
          schema:
            type: string
        - description: flag showing whether to export API definition in format specified by Accept header.
          in: query
          name: export
          schema:
            type: boolean
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiEntity'
            text/json:
              schema:
                $ref: '#/components/schemas/ApiEntity'
      summary: Get managed Api
      tags:
        - Managed Apis
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/connections':
    get:
      description: Gets a list of connections.
      operationId: Connections_List
      parameters:
        - description: Resource Group Name
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
        - description: The number of items to be included in the result.
          in: query
          name: $top
          required: false
          schema:
            type: integer
            format: int32
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/ConnectionCollection'
      summary: Get Connections
      tags:
        - Connections
      x-ms-odata: '#/components/schemas//components/schemas//components/schemas/Connection'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/connections/{connectionName}':
    delete:
      description: Deletes a connection.
      operationId: Connections_Delete
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The connection name.
          in: path
          name: connectionName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
      tags:
        - Connections
    get:
      description: Gets a connection.
      operationId: Connections_Get
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The connection name.
          in: path
          name: connectionName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
            text/json:
              schema:
                $ref: '#/components/schemas/Connection'
      tags:
        - Connections
    put:
      description: Creates or updates a connection.
      operationId: Connections_CreateOrUpdate
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The connection name.
          in: path
          name: connectionName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
            text/json:
              schema:
                $ref: '#/components/schemas/Connection'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
            text/json:
              schema:
                $ref: '#/components/schemas/Connection'
      tags:
        - Connections
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Connection'
          text/json:
            schema:
              $ref: '#/components/schemas/Connection'
        description: The connection.
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/connections/{connectionName}/confirmConsentCode':
    post:
      description: Confirms consent code of a connection.
      operationId: Connections_ConfirmConsentCode
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The connection name.
          in: path
          name: connectionName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
            text/json:
              schema:
                $ref: '#/components/schemas/Connection'
      tags:
        - Connections
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmConsentCodeInput'
          text/json:
            schema:
              $ref: '#/components/schemas/ConfirmConsentCodeInput'
        description: The content.
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/connections/{connectionName}/listConnectionKeys':
    post:
      description: Lists connection keys.
      operationId: Connections_ListConnectionKeys
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The connection name.
          in: path
          name: connectionName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionSecrets'
            text/json:
              schema:
                $ref: '#/components/schemas/ConnectionSecrets'
      tags:
        - Connections
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListConnectionKeysInput'
          text/json:
            schema:
              $ref: '#/components/schemas/ListConnectionKeysInput'
        description: The content.
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/connections/{connectionName}/listConsentLinks':
    post:
      description: Lists consent links of a connection.
      operationId: Connections_ListConsentLinks
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The connection name.
          in: path
          name: connectionName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentLinkPayload'
            text/json:
              schema:
                $ref: '#/components/schemas/ConsentLinkPayload'
      tags:
        - Connections
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsentLinkInput'
          text/json:
            schema:
              $ref: '#/components/schemas/ConsentLinkInput'
        description: The content.
        required: true
components:
  schemas:
    ApiEntity:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: API Management
      properties:
        properties:
          properties:
            apiDefinitionUrl:
              description: Api definition Url - url where the swagger can be downloaded from
              type: string
            backendService:
              $ref: '#/components/schemas/BackendServiceDefinition'
            capabilities:
              description: Capabilities
              items:
                type: string
              type: array
            changedTime:
              description: Timestamp of last connection change.
              format: date-time
              type: string
            connectionParameters:
              additionalProperties:
                $ref: '#/components/schemas/ConnectionParameter'
              description: Connection parameters
              type: object
            createdTime:
              description: Timestamp of the connection creation
              format: date-time
              type: string
            generalInformation:
              $ref: '#/components/schemas/GeneralApiInformation'
            metadata:
              $ref: '#/components/schemas/Object'
            name:
              description: "Name of the API\r\n            the URL path of this API when exposed via APIM"
              type: string
            path:
              description: the URL path of this API when exposed via APIM
              type: string
            policies:
              $ref: '#/components/schemas/ApiPolicies'
            protocols:
              description: Protocols supported by the front end - http/https
              items:
                type: string
              type: array
            runtimeUrls:
              description: Read only property returning the runtime endpoints where the API can be called
              items:
                type: string
              type: array
          x-ms-client-flatten: true
      type: object
    ApiOAuthSettings:
      description: OAuth settings for the conenction provider
      properties:
        clientId:
          description: Resource provider client id
          type: string
        clientSecret:
          description: Client Secret needed for OAuth
          type: string
        customParameters:
          additionalProperties:
            $ref: '#/components/schemas/ApiOAuthSettingsParameter'
          description: OAuth parameters key is the name of parameter
          type: object
        identityProvider:
          description: Identity provider
          type: string
        properties:
          $ref: '#/components/schemas/Object'
        redirectUrl:
          description: Url
          type: string
        scopes:
          description: OAuth scopes
          items:
            type: string
          type: array
      type: object
    ApiOAuthSettingsParameter:
      description: OAuth Settings Parameter
      properties:
        options:
          $ref: '#/components/schemas/Object'
        uiDefinition:
          $ref: '#/components/schemas/Object'
        value:
          description: Value
          type: string
      type: object
    ApiPolicies:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Api policies
      properties:
        properties:
          properties:
            content:
              description: Content of xml policy
              type: string
          x-ms-client-flatten: true
      type: object
    ApisCollection:
      description: Collection of Apis
      properties:
        nextLink:
          description: Link to next page of resources
          type: string
        value:
          description: Collection of resources
          items:
            $ref: '#/components/schemas/ApiEntity'
          type: array
      type: object
    ArmPlan:
      description: 'The plan object in an ARM, represents a marketplace plan'
      properties:
        name:
          description: The name
          type: string
        product:
          description: The product
          type: string
        promotionCode:
          description: The promotion code
          type: string
        publisher:
          description: The publisher
          type: string
        version:
          description: Version of product
          type: string
      type: object
    BackendServiceDefinition:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: API definitions with backend urls
      properties:
        properties:
          properties:
            hostingEnvironmentServiceUrls:
              description: Service Urls per Hosting environment
              items:
                $ref: '#/components/schemas/HostingEnvironmentServiceDescriptions'
              type: array
            serviceUrl:
              description: Url from which the swagger payload will be fetched
              type: string
          x-ms-client-flatten: true
      type: object
    ConfirmConsentCodeInput:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Confirm Consent Code Input payload
      properties:
        properties:
          properties:
            code:
              description: Code that was returned during consent flow
              type: string
            objectId:
              description: AAD object ID. This is userId
              type: string
            principalType:
              description: Principal type
              enum:
                - ActiveDirectory
                - Connection
                - MicrosoftAccount
              type: string
              x-ms-enum:
                modelAsString: false
                name: PrincipalType
            tenantId:
              description: Tenant Id
              type: string
          x-ms-client-flatten: true
      type: object
    Connection:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Api Connection
      properties:
        properties:
          properties:
            api:
              $ref: '#/components/schemas/ExpandedParent_ApiEntity_'
            changedTime:
              description: Timestamp of last connection change.
              format: date-time
              type: string
            createdTime:
              description: Timestamp of the connection creation
              format: date-time
              type: string
            customParameterValues:
              additionalProperties:
                $ref: '#/components/schemas/ParameterCustomLoginSettingValues'
              description: Custom login setting values.
              type: object
            displayName:
              description: display name
              type: string
            firstExpirationTime:
              description: Time in UTC when the first expiration of OAuth tokens
              format: date-time
              type: string
            keywords:
              description: List of Keywords that tag the acl
              items:
                type: string
              type: array
            metadata:
              $ref: '#/components/schemas/Object'
            name:
              description: connection name
              type: string
            nonSecretParameterValues:
              additionalProperties:
                $ref: '#/components/schemas/Object'
              description: Tokens/Claim
              type: object
            parameterValues:
              additionalProperties:
                $ref: '#/components/schemas/Object'
              description: Tokens/Claim
              type: object
            statuses:
              description: Status of the connection
              items:
                $ref: '#/components/schemas/ConnectionStatus'
              type: array
            tenantId:
              description: ''
              type: string
          x-ms-client-flatten: true
      type: object
    ConnectionCollection:
      description: Collection of conenctions
      properties:
        nextLink:
          description: Link to next page of resources
          type: string
        value:
          description: Collection of resources
          items:
            $ref: '#/components/schemas/Connection'
          type: array
      type: object
    ConnectionError:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Connection error
      properties:
        properties:
          properties:
            code:
              description: code of the status
              type: string
            message:
              description: Description of the status
              type: string
          x-ms-client-flatten: true
      type: object
    ConnectionParameter:
      description: connection provider parameters
      properties:
        defaultValue:
          $ref: '#/components/schemas/Object'
        oAuthSettings:
          $ref: '#/components/schemas/ApiOAuthSettings'
        type:
          description: Type of the parameter
          enum:
            - string
            - securestring
            - secureobject
            - int
            - bool
            - object
            - array
            - oauthSetting
            - connection
          type: string
          x-ms-enum:
            modelAsString: false
            name: ConnectionParameterType
        uiDefinition:
          $ref: '#/components/schemas/Object'
      type: object
    ConnectionSecrets:
      description: ''
      properties:
        connectionKey:
          description: Connection Key
          type: string
        parameterValues:
          additionalProperties:
            $ref: '#/components/schemas/Object'
          description: Tokens/Claim
          type: object
      type: object
    ConnectionStatus:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Connection status
      properties:
        properties:
          properties:
            error:
              $ref: '#/components/schemas/ConnectionError'
            status:
              description: Status
              type: string
            target:
              description: Target of the error
              type: string
          x-ms-client-flatten: true
      type: object
    ConsentLink:
      description: ''
      properties:
        displayName:
          description: Display Name of the parameter in the connection provider's oauthSettings
          type: string
        firstPartyLoginUri:
          description: Uri for first party login
          type: string
        link:
          description: Uri for the consent link
          type: string
        status:
          description: Status of the link
          enum:
            - Unauthenticated
            - Authenticated
            - Error
          type: string
          x-ms-enum:
            modelAsString: false
            name: LinkState
      type: object
    ConsentLinkInput:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Connection Constent Link payload
      properties:
        properties:
          properties:
            parameters:
              description: Array of links
              items:
                $ref: '#/components/schemas/ConsentLinkInputParameter'
              type: array
          x-ms-client-flatten: true
      type: object
    ConsentLinkInputParameter:
      description: ''
      properties:
        objectId:
          description: "AAD OID (user or group) if the principal type is ActiveDirectory.\r\n            MSA PUID if the principal type is MicrosoftAccount."
          type: string
        parameterName:
          description: Name of the parameter in the connection provider's oauthSettings
          type: string
        principalType:
          description: Principal type
          enum:
            - ActiveDirectory
            - Connection
            - MicrosoftAccount
          type: string
          x-ms-enum:
            modelAsString: false
            name: PrincipalType
        redirectUrl:
          description: Name of the parameter in the connection provider's oauthSettings
          type: string
        tenantId:
          description: Tenant Id
          type: string
      type: object
    ConsentLinkPayload:
      description: Collection of consent links
      properties:
        value:
          description: Collection of resources
          items:
            $ref: '#/components/schemas/ConsentLink'
          type: array
      type: object
    CustomLoginSettingValue:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Custom logging setting value
      properties:
        properties:
          properties:
            option:
              description: Option selected for this custom login setting value
              type: string
          x-ms-client-flatten: true
      type: object
    GeneralApiInformation:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: General API information
      properties:
        properties:
          properties:
            connectionDisplayName:
              description: DefaultConnectionNameTemplate
              type: string
            connectionPortalUrl:
              $ref: '#/components/schemas/Object'
            description:
              description: Description
              type: string
            displayName:
              description: Display Name
              type: string
            iconUrl:
              description: Icon Url
              type: string
            termsOfUseUrl:
              description: a public accessible url of the Terms Of Use Url of this API
              type: string
          x-ms-client-flatten: true
      type: object
    HostingEnvironmentServiceDescriptions:
      description: Back end service per ASE
      properties:
        hostId:
          description: Host Id
          type: string
        hostingEnvironmentId:
          description: Hosting environment Id
          type: string
        serviceUrl:
          description: service url to use
          type: string
        useInternalRouting:
          description: "When the backend url is in same ASE, for performance reason this flag can be set to true\r\n            If WebApp.DisableHostNames is also set it improves the security by making the back end accesible only \r\n            via API calls\r\n            Note: calls will fail if this option is used but back end is not on the same ASE"
          type: boolean
      type: object
    ListConnectionKeysInput:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: List Connection Keys Input payload
      properties:
        properties:
          properties:
            validityTimeSpan:
              description: time span for how long the keys will be valid
              type: string
          x-ms-client-flatten: true
      type: object
    Object:
      properties: {}
      type: object
    ParameterCustomLoginSettingValues:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Custom logging setting values
      properties:
        properties:
          properties:
            customParameters:
              additionalProperties:
                $ref: '#/components/schemas/CustomLoginSettingValue'
              description: Custom parameters.
              type: object
          x-ms-client-flatten: true
      type: object
    Resource:
      properties:
        id:
          description: Resource Id
          type: string
        kind:
          description: Kind of resource
          type: string
        location:
          description: Resource Location
          type: string
        name:
          description: Resource Name
          type: string
        tags:
          additionalProperties:
            type: string
          description: Resource tags
          type: object
        type:
          description: Resource type
          type: string
      required:
        - location
      x-ms-azure-resource: true
    SkuDescription:
      description: Describes a sku for a scalable resource
      properties:
        capacity:
          description: Current number of instances assigned to the resource
          format: int32
          type: integer
        family:
          description: Family code of the resource sku
          type: string
        name:
          description: Name of the resource sku
          type: string
        size:
          description: Size specifier of the resource sku
          type: string
        tier:
          description: Service Tier of the resource sku
          type: string
      type: object
    ExpandedParent_ApiEntity_:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: expanded parent object for expansion
      properties:
        properties:
          properties:
            entity:
              $ref: '#/components/schemas/ResponseMessageEnvelope_ApiEntity_'
            id:
              description: Id of connection provider
              type: string
          x-ms-client-flatten: true
      type: object
    ResponseMessageEnvelope_ApiEntity_:
      description: Message envelope that contains the common Azure resource manager properties and the resource provider specific content
      properties:
        id:
          description: "Resource Id. Typically id is populated only for responses to GET requests. Caller is responsible for passing in this\r\n            value for GET requests only.\r\n            For example: /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupId}/providers/Microsoft.Web/sites/{sitename}"
          type: string
        location:
          description: 'Geo region resource belongs to e.g. SouthCentralUS, SouthEastAsia'
          type: string
        name:
          description: Name of resource
          type: string
        plan:
          $ref: '#/components/schemas/ArmPlan'
        properties:
          $ref: '#/components/schemas/ApiEntity'
        sku:
          $ref: '#/components/schemas/SkuDescription'
        tags:
          additionalProperties:
            type: string
          description: Tags associated with resource
          type: object
        type:
          description: Type of resource e.g Microsoft.Web/sites
          type: string
      type: object
  parameters:
    apiVersionParameter:
      description: API Version
      in: query
      name: api-version
      required: true
      schema:
        type: string
    subscriptionIdParameter:
      description: Subscription Id
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      type: oauth2
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
