openapi: 3.0.0
servers:
  - url: https://mybusinessverifications.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: The My Business Verifications API provides an interface for taking verifications related actions for locations.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: My Business Verifications API
  version: v1
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_upload.wikimedia.org_wikipedia_commons_e_e1_YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
    - format: google
      url: https://mybusinessverifications.googleapis.com/$discovery/rest?version=v1
      version: v1
  x-providerName: googleapis.com
  x-serviceName: mybusinessverifications
externalDocs:
  url: https://developers.google.com/my-business/
tags:
  - name: locations
  - name: verificationTokens
paths:
  /v1/verificationTokens:generate:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Generates a token for the provided location data as a vetted [partner](https://support.google.com/business/answer/7674102). Throws PERMISSION_DENIED if the caller is not a vetted partner account. Throws FAILED_PRECONDITION if the caller's VettedStatus is INVALID.
      operationId: mybusinessverifications.verificationTokens.generate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenerateVerificationTokenRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenerateVerificationTokenResponse"
          description: Successful response
      tags:
        - verificationTokens
  "/v1/{location}:fetchVerificationOptions":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Reports all eligible verification options for a location in a specific language.
      operationId: mybusinessverifications.locations.fetchVerificationOptions
      parameters:
        - description: Required. The location to verify.
          in: path
          name: location
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FetchVerificationOptionsRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FetchVerificationOptionsResponse"
          description: Successful response
      tags:
        - locations
  "/v1/{name}/VoiceOfMerchantState":
    get:
      description: Gets the VoiceOfMerchant state.
      operationId: mybusinessverifications.locations.getVoiceOfMerchantState
      parameters:
        - description: Required. Resource name of the location.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoiceOfMerchantState"
          description: Successful response
      tags:
        - locations
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{name}:complete":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Completes a `PENDING` verification. It is only necessary for non `AUTO` verification methods. `AUTO` verification request is instantly `VERIFIED` upon creation.
      operationId: mybusinessverifications.locations.verifications.complete
      parameters:
        - description: Required. Resource name of the verification to complete.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompleteVerificationRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompleteVerificationResponse"
          description: Successful response
      tags:
        - locations
  "/v1/{name}:verify":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Starts the verification process for a location.
      operationId: mybusinessverifications.locations.verify
      parameters:
        - description: Required. Resource name of the location to verify.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyLocationRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyLocationResponse"
          description: Successful response
      tags:
        - locations
  "/v1/{parent}/verifications":
    get:
      description: List verifications of a location, ordered by create time.
      operationId: mybusinessverifications.locations.verifications.list
      parameters:
        - description: Required. Resource name of the location that verification requests belong to.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: How many verification to include per page. Minimum is 1, and the default and maximum page size is 100.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: If specified, returns the next page of verifications.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListVerificationsResponse"
          description: Successful response
      tags:
        - locations
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    AddressVerificationData:
      description: Display data for verifications through postcard.
      properties:
        address:
          $ref: "#/components/schemas/PostalAddress"
          description: Address that a postcard can be sent to.
        business:
          description: Merchant's business name.
          type: string
        expectedDeliveryDaysRegion:
          description: Expected number of days it takes to deliver a postcard to the address's region.
          format: int32
          type: integer
      type: object
    CompleteVerificationRequest:
      description: Request message for Verifications.CompleteVerificationAction.
      properties:
        pin:
          description: Required. PIN code received by the merchant to complete the verification.
          type: string
      type: object
    CompleteVerificationResponse:
      description: Response message for Verifications.CompleteVerificationAction.
      properties:
        verification:
          $ref: "#/components/schemas/Verification"
          description: The completed verification.
      type: object
    ComplyWithGuidelines:
      description: Indicates that the location fails to comply with our [guidelines](https://support.google.com/business/answer/3038177).
      properties:
        recommendationReason:
          description: The reason why the location is being recommended to comply with guidelines.
          enum:
            - RECOMMENDATION_REASON_UNSPECIFIED
            - BUSINESS_LOCATION_SUSPENDED
            - BUSINESS_LOCATION_DISABLED
          type: string
      type: object
    EmailVerificationData:
      description: Display data for verifications through email.
      properties:
        domain:
          description: Domain name in the email address. e.g. "gmail.com" in foo@gmail.com
          type: string
        isUserNameEditable:
          description: Whether client is allowed to provide a different user name.
          type: boolean
        user:
          description: User name in the email address. e.g. "foo" in foo@gmail.com
          type: string
      type: object
    FetchVerificationOptionsRequest:
      description: Request message for Verifications.FetchVerificationOptions.
      properties:
        context:
          $ref: "#/components/schemas/ServiceBusinessContext"
          description: Optional. Extra context information for the verification of service businesses. Can only be applied to the locations whose business type is CUSTOMER_LOCATION_ONLY. Specifying an accurate address could enable more options. INVALID_ARGUMENT will be thrown if it is set for other business types of locations.
        languageCode:
          description: Required. The BCP 47 language code representing the language that is to be used for the verification process. Available options vary by language.
          type: string
      type: object
    FetchVerificationOptionsResponse:
      description: Response message for Verifications.FetchVerificationOptions.
      properties:
        options:
          description: The available verification options.
          items:
            $ref: "#/components/schemas/VerificationOption"
          type: array
      type: object
    GenerateVerificationTokenRequest:
      description: Request message for Verifications.GenerateVerificationToken.
      properties:
        location:
          $ref: "#/components/schemas/Location"
          description: "Required. The target location. Note: The location information should exactly match the target Location, otherwise the generated verification token won't be able to verify the target Location."
      type: object
    GenerateVerificationTokenResponse:
      description: Response message for Verifications.GenerateVerificationToken.
      properties:
        token:
          $ref: "#/components/schemas/VerificationToken"
          description: The generated token to verify the location.
      type: object
    ListVerificationsResponse:
      description: Response message for Verifications.ListVerifications.
      properties:
        nextPageToken:
          description: If the number of verifications exceeded the requested page size, this field will be populated with a token to fetch the next page of verification on a subsequent call. If there are no more attributes, this field will not be present in the response.
          type: string
        verifications:
          description: List of the verifications.
          items:
            $ref: "#/components/schemas/Verification"
          type: array
      type: object
    Location:
      description: A subset of location info. See the [help center article] (https://support.google.com/business/answer/3038177) for a detailed description of these fields, or the [category endpoint](/my-business/reference/rest/v4/categories) for a list of valid business categories.
      properties:
        address:
          $ref: "#/components/schemas/PostalAddress"
          description: Required. A precise, accurate address to describe your business location. PO boxes or mailboxes located at remote locations are not acceptable. At this time, you can specify a maximum of five `address_lines` values in the address.
        name:
          description: Required. Location name should reflect your business's real-world name, as used consistently on your storefront, website, and stationery, and as known to customers. Any additional information, when relevant, can be included in other fields of the resource (for example, `Address`, `Categories`). Don't add unnecessary information to your name (for example, prefer "Google" over "Google Inc. - Mountain View Corporate Headquarters"). Don't include marketing taglines, store codes, special characters, hours or closed/open status, phone numbers, website URLs, service/product information, location/address or directions, or containment information (for example, "Chase ATM in Duane Reade").
          type: string
        primaryCategoryId:
          description: Required. Id of the category that best describes the core business this location engages in. e.g. gcid:bakery.
          type: string
        primaryPhone:
          description: Optional. A phone number that connects to your individual business location as directly as possible. Use a local phone number instead of a central, call center helpline number whenever possible.
          type: string
        websiteUri:
          description: Optional. A URL for this business. If possible, use a URL that represents this individual business location instead of a generic website/URL that represents all locations, or the brand.
          type: string
      type: object
    PostalAddress:
      description: "Represents a postal address, e.g. for postal delivery or payments addresses. Given a postal address, a postal service can deliver items to a premise, P.O. Box or similar. It is not intended to model geographical locations (roads, towns, mountains). In typical usage an address would be created via user input or from importing existing data, depending on the type of process. Advice on address input / editing: - Use an internationalization-ready address widget such as https://github.com/google/libaddressinput) - Users should not be presented with UI elements for input or editing of fields outside countries where that field is used. For more guidance on how to use this schema, please see: https://support.google.com/business/answer/6397478"
      properties:
        addressLines:
          description: Unstructured address lines describing the lower levels of an address. Because values in address_lines do not have type information and may sometimes contain multiple values in a single field (e.g. "Austin, TX"), it is important that the line order is clear. The order of address lines should be "envelope order" for the country/region of the address. In places where this can vary (e.g. Japan), address_language is used to make it explicit (e.g. "ja" for large-to-small ordering and "ja-Latn" or "en" for small-to-large). This way, the most specific line of an address can be selected based on the language. The minimum permitted structural representation of an address consists of a region_code with all remaining information placed in the address_lines. It would be possible to format such an address very approximately without geocoding, but no semantic reasoning could be made about any of the address components until it was at least partially resolved. Creating an address only containing a region_code and address_lines, and then geocoding is the recommended way to handle completely unstructured addresses (as opposed to guessing which parts of the address should be localities or administrative areas).
          items:
            type: string
          type: array
        administrativeArea:
          description: Optional. Highest administrative subdivision which is used for postal addresses of a country or region. For example, this can be a state, a province, an oblast, or a prefecture. Specifically, for Spain this is the province and not the autonomous community (e.g. "Barcelona" and not "Catalonia"). Many countries don't use an administrative area in postal addresses. E.g. in Switzerland this should be left unpopulated.
          type: string
        languageCode:
          description: "Optional. BCP-47 language code of the contents of this address (if known). This is often the UI language of the input form or is expected to match one of the languages used in the address' country/region, or their transliterated equivalents. This can affect formatting in certain countries, but is not critical to the correctness of the data and will never affect any validation or other non-formatting related operations. If this value is not known, it should be omitted (rather than specifying a possibly incorrect default). Examples: \"zh-Hant\", \"ja\", \"ja-Latn\", \"en\"."
          type: string
        locality:
          description: "Optional. Generally refers to the city/town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave locality empty and use address_lines."
          type: string
        organization:
          description: Optional. The name of the organization at the address.
          type: string
        postalCode:
          description: Optional. Postal code of the address. Not all countries use or require postal codes to be present, but where they are used, they may trigger additional validation with other parts of the address (e.g. state/zip validation in the U.S.A.).
          type: string
        recipients:
          description: Optional. The recipient at the address. This field may, under certain circumstances, contain multiline information. For example, it might contain "care of" information.
          items:
            type: string
          type: array
        regionCode:
          description: 'Required. CLDR region code of the country/region of the address. This is never inferred and it is up to the user to ensure the value is correct. See https://cldr.unicode.org/ and https://www.unicode.org/cldr/charts/30/supplemental/territory_information.html for details. Example: "CH" for Switzerland.'
          type: string
        revision:
          description: The schema revision of the `PostalAddress`. This must be set to 0, which is the latest revision. All new revisions **must** be backward compatible with old revisions.
          format: int32
          type: integer
        sortingCode:
          description: Optional. Additional, country-specific, sorting code. This is not used in most regions. Where it is used, the value is either a string like "CEDEX", optionally followed by a number (e.g. "CEDEX 7"), or just a number alone, representing the "sector code" (Jamaica), "delivery area indicator" (Malawi) or "post office indicator" (e.g. Côte d'Ivoire).
          type: string
        sublocality:
          description: Optional. Sublocality of the address. For example, this can be neighborhoods, boroughs, districts.
          type: string
      type: object
    ResolveOwnershipConflict:
      description: Indicates that the location duplicates another location that is in good standing.
      properties: {}
      type: object
    ServiceBusinessContext:
      description: Additional data for service business verification.
      properties:
        address:
          $ref: "#/components/schemas/PostalAddress"
          description: The verification address of the location. It is used to either enable more verification options or send a postcard.
      type: object
    Verification:
      description: A verification represents a verification attempt on a location.
      properties:
        announcement:
          description: Optional. Response announcement set only if the method is VETTED_PARTNER.
          type: string
        createTime:
          description: The timestamp when the verification is requested.
          format: google-datetime
          type: string
        method:
          description: The method of the verification.
          enum:
            - VERIFICATION_METHOD_UNSPECIFIED
            - ADDRESS
            - EMAIL
            - PHONE_CALL
            - SMS
            - AUTO
            - VETTED_PARTNER
          type: string
        name:
          description: Resource name of the verification.
          type: string
        state:
          description: The state of the verification.
          enum:
            - STATE_UNSPECIFIED
            - PENDING
            - COMPLETED
            - FAILED
          type: string
      type: object
    VerificationOption:
      description: The verification option represents how to verify the location (indicated by verification method) and where the verification will be sent to (indicated by display data).
      properties:
        addressData:
          $ref: "#/components/schemas/AddressVerificationData"
          description: Set only if the method is MAIL.
        announcement:
          description: Set only if the method is VETTED_PARTNER.
          type: string
        emailData:
          $ref: "#/components/schemas/EmailVerificationData"
          description: Set only if the method is EMAIL.
        phoneNumber:
          description: Set only if the method is PHONE_CALL or SMS. Phone number that the PIN will be sent to.
          type: string
        verificationMethod:
          description: Method to verify the location.
          enum:
            - VERIFICATION_METHOD_UNSPECIFIED
            - ADDRESS
            - EMAIL
            - PHONE_CALL
            - SMS
            - AUTO
            - VETTED_PARTNER
          type: string
      type: object
    VerificationToken:
      description: Token generated by a vetted [partner](https://support.google.com/business/answer/7674102).
      properties:
        tokenString:
          description: The token string.
          type: string
      type: object
    Verify:
      description: Indicates that the location requires verification. Contains information about the current verification actions performed on the location.
      properties:
        hasPendingVerification:
          description: Indicates whether a verification process has already started, and can be completed by the location.
          type: boolean
      type: object
    VerifyLocationRequest:
      description: Request message for Verifications.VerifyLocation.
      properties:
        context:
          $ref: "#/components/schemas/ServiceBusinessContext"
          description: Optional. Extra context information for the verification of service businesses. It is only required for the locations whose business type is CUSTOMER_LOCATION_ONLY. For ADDRESS verification, the address will be used to send out postcard. For other methods, it should be the same as the one that is passed to GetVerificationOptions. INVALID_ARGUMENT will be thrown if it is set for other types of business locations.
        emailAddress:
          description: Optional. The input for EMAIL method. Email address where the PIN should be sent to. An email address is accepted only if it is one of the addresses provided by FetchVerificationOptions. If the EmailVerificationData has is_user_name_editable set to true, the client may specify a different user name (local-part) but must match the domain name.
          type: string
        languageCode:
          description: Optional. The BCP 47 language code representing the language that is to be used for the verification process.
          type: string
        mailerContact:
          description: Optional. The input for ADDRESS method. Contact name the mail should be sent to.
          type: string
        method:
          description: Required. Verification method.
          enum:
            - VERIFICATION_METHOD_UNSPECIFIED
            - ADDRESS
            - EMAIL
            - PHONE_CALL
            - SMS
            - AUTO
            - VETTED_PARTNER
          type: string
        phoneNumber:
          description: Optional. The input for PHONE_CALL/SMS method The phone number that should be called or be sent SMS to. It must be one of the phone numbers in the eligible options.
          type: string
        token:
          $ref: "#/components/schemas/VerificationToken"
          description: Optional. The input for VETTED_PARTNER method available to select [partners.](https://support.google.com/business/answer/7674102) The input is not needed for a vetted account. Token that is associated to the location. Token that is associated to the location.
      type: object
    VerifyLocationResponse:
      description: Response message for Verifications.VerifyLocation.
      properties:
        verification:
          $ref: "#/components/schemas/Verification"
          description: The created verification request.
      type: object
    VoiceOfMerchantState:
      description: Response message for VoiceOfMerchant.GetVoiceOfMerchantState.
      properties:
        complyWithGuidelines:
          $ref: "#/components/schemas/ComplyWithGuidelines"
          description: The location fails to comply with our [guidelines](https://support.google.com/business/answer/3038177) and requires additional steps for reinstatement. To fix this issue, consult the [Help Center Article](https://support.google.com/business/answer/4569145).
        hasBusinessAuthority:
          description: Indicates whether the location has the authority (ownership) over the business on Google. If true, another location cannot take over and become the dominant listing on Maps. However, edits will not become live unless Voice of Merchant is gained (i.e. has_voice_of_merchant is true).
          type: boolean
        hasVoiceOfMerchant:
          description: Indicates whether the location is in good standing and has control over the business on Google. Any edits made to the location will propagate to Maps after passing the review phase.
          type: boolean
        resolveOwnershipConflict:
          $ref: "#/components/schemas/ResolveOwnershipConflict"
          description: This location duplicates another location that is in good standing. If you have access to the location in good standing, use that location's id to perform operations. Otherwise, request access from the current owner.
        verify:
          $ref: "#/components/schemas/Verify"
          description: Start or continue the verification process.
        waitForVoiceOfMerchant:
          $ref: "#/components/schemas/WaitForVoiceOfMerchant"
          description: Wait to gain Voice of Merchant. The location is under review for quality purposes.
      type: object
    WaitForVoiceOfMerchant:
      description: Indicates that the location will gain voice of merchant after passing review.
      properties: {}
      type: object
