openapi: 3.0.0
servers:
  - url: 'http://codebuild.amazonaws.com/'
info:
  version: '2016-10-06'
  x-release: v4
  title: AWS CodeBuild
  description: '<fullname>AWS CodeBuild</fullname> <p>AWS CodeBuild is a fully managed build service in the cloud. AWS CodeBuild compiles your source code, runs unit tests, and produces artifacts that are ready to deploy. AWS CodeBuild eliminates the need to provision, manage, and scale your own build servers. It provides prepackaged build environments for the most popular programming languages and build tools, such as Apach Maven, Gradle, and more. You can also fully customize build environments in AWS CodeBuild to use your own build tools. AWS CodeBuild scales automatically to meet peak build requests, and you pay only for the build time you consume. For more information about AWS CodeBuild, see the <i>AWS CodeBuild User Guide</i>.</p> <p>AWS CodeBuild supports these operations:</p> <ul> <li> <p> <code>BatchGetProjects</code>: Gets information about one or more build projects. A <i>build project</i> defines how AWS CodeBuild will run a build. This includes information such as where to get the source code to build, the build environment to use, the build commands to run, and where to store the build output. A <i>build environment</i> represents a combination of operating system, programming language runtime, and tools that AWS CodeBuild will use to run a build. Also, you can add tags to build projects to help manage your resources and costs.</p> </li> <li> <p> <code>CreateProject</code>: Creates a build project.</p> </li> <li> <p> <code>DeleteProject</code>: Deletes a build project.</p> </li> <li> <p> <code>ListProjects</code>: Gets a list of build project names, with each build project name representing a single build project.</p> </li> <li> <p> <code>UpdateProject</code>: Changes the settings of an existing build project.</p> </li> <li> <p> <code>BatchGetBuilds</code>: Gets information about one or more builds.</p> </li> <li> <p> <code>ListBuilds</code>: Gets a list of build IDs, with each build ID representing a single build.</p> </li> <li> <p> <code>ListBuildsForProject</code>: Gets a list of build IDs for the specified build project, with each build ID representing a single build.</p> </li> <li> <p> <code>StartBuild</code>: Starts running a build.</p> </li> <li> <p> <code>StopBuild</code>: Attempts to stop running a build.</p> </li> <li> <p> <code>ListCuratedEnvironmentImages</code>: Gets information about Docker images that are managed by AWS CodeBuild.</p> </li> </ul>'
  x-logo:
    url: 'https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: codebuild
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/codebuild-2016-10-06.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/codebuild/'
x-hasEquivalentPaths: true
security:
  - hmac: []
paths:
  /:
    post:
      operationId: BatchGetBuilds
      description: Gets information about builds.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchGetBuildsOutput'
        '480':
          description: InvalidInputException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchGetBuildsInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#BatchGetProjects':
    post:
      operationId: BatchGetProjects
      description: Gets information about build projects.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchGetProjectsOutput'
        '480':
          description: InvalidInputException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchGetProjectsInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CreateProject':
    post:
      operationId: CreateProject
      description: Creates a build project.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateProjectOutput'
        '480':
          description: InvalidInputException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '481':
          description: ResourceAlreadyExistsException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceAlreadyExistsException'
        '482':
          description: AccountLimitExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountLimitExceededException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteProject':
    post:
      operationId: DeleteProject
      description: Deletes a build project.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteProjectOutput'
        '480':
          description: InvalidInputException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteProjectInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ListBuilds':
    post:
      operationId: ListBuilds
      description: 'Gets a list of build IDs, with each build ID representing a single build.'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBuildsOutput'
        '480':
          description: InvalidInputException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListBuildsInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ListBuildsForProject':
    post:
      operationId: ListBuildsForProject
      description: 'Gets a list of build IDs for the specified build project, with each build ID representing a single build.'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBuildsForProjectOutput'
        '480':
          description: InvalidInputException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListBuildsForProjectInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ListCuratedEnvironmentImages':
    post:
      operationId: ListCuratedEnvironmentImages
      description: Gets information about Docker images that are managed by AWS CodeBuild.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCuratedEnvironmentImagesOutput'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListCuratedEnvironmentImagesInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ListProjects':
    post:
      operationId: ListProjects
      description: 'Gets a list of build project names, with each build project name representing a single build project.'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListProjectsOutput'
        '480':
          description: InvalidInputException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListProjectsInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#StartBuild':
    post:
      operationId: StartBuild
      description: Starts running a build.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartBuildOutput'
        '480':
          description: InvalidInputException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
        '482':
          description: AccountLimitExceededException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountLimitExceededException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartBuildInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#StopBuild':
    post:
      operationId: StopBuild
      description: Attempts to stop running a build.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StopBuildOutput'
        '480':
          description: InvalidInputException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StopBuildInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#UpdateProject':
    post:
      operationId: UpdateProject
      description: Changes the settings of a build project.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateProjectOutput'
        '480':
          description: InvalidInputException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNotFoundException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProjectInput'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
components:
  schemas:
    AccountLimitExceededException:
      type: object
      properties: {}
      description: An AWS service limit was exceeded for the calling AWS account.
    ArtifactNamespace:
      type: string
      enum:
        - NONE
        - BUILD_ID
    ArtifactPackaging:
      type: string
      enum:
        - NONE
        - ZIP
    ArtifactsType:
      type: string
      enum:
        - CODEPIPELINE
        - S3
        - NO_ARTIFACTS
    BatchGetBuildsInput:
      type: object
      required:
        - ids
      properties:
        ids:
          $ref: '#/components/schemas/BuildIds'
    BatchGetBuildsOutput:
      type: object
      properties:
        builds:
          $ref: '#/components/schemas/Builds'
        buildsNotFound:
          $ref: '#/components/schemas/BuildIds'
    BatchGetProjectsInput:
      type: object
      required:
        - names
      properties:
        names:
          $ref: '#/components/schemas/ProjectNames'
    BatchGetProjectsOutput:
      type: object
      properties:
        projects:
          $ref: '#/components/schemas/Projects'
        projectsNotFound:
          $ref: '#/components/schemas/ProjectNames'
    Boolean:
      type: boolean
    Build:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/NonEmptyString'
        arn:
          $ref: '#/components/schemas/NonEmptyString'
        startTime:
          $ref: '#/components/schemas/Timestamp'
        endTime:
          $ref: '#/components/schemas/Timestamp'
        currentPhase:
          $ref: '#/components/schemas/String'
        buildStatus:
          $ref: '#/components/schemas/StatusType'
        sourceVersion:
          $ref: '#/components/schemas/NonEmptyString'
        projectName:
          $ref: '#/components/schemas/NonEmptyString'
        phases:
          $ref: '#/components/schemas/BuildPhases'
        source:
          $ref: '#/components/schemas/ProjectSource'
        artifacts:
          $ref: '#/components/schemas/BuildArtifacts'
        environment:
          $ref: '#/components/schemas/ProjectEnvironment'
        logs:
          $ref: '#/components/schemas/LogsLocation'
        timeoutInMinutes:
          $ref: '#/components/schemas/WrapperInt'
        buildComplete:
          $ref: '#/components/schemas/Boolean'
        initiator:
          $ref: '#/components/schemas/String'
      description: Information about a build.
    BuildArtifacts:
      type: object
      properties:
        location:
          $ref: '#/components/schemas/String'
        sha256sum:
          $ref: '#/components/schemas/String'
        md5sum:
          $ref: '#/components/schemas/String'
      description: Information about build output artifacts.
    BuildIds:
      type: array
      items:
        $ref: '#/components/schemas/NonEmptyString'
      minItems: 1
      maxItems: 100
    BuildPhase:
      type: object
      properties:
        phaseType:
          $ref: '#/components/schemas/BuildPhaseType'
        phaseStatus:
          $ref: '#/components/schemas/StatusType'
        startTime:
          $ref: '#/components/schemas/Timestamp'
        endTime:
          $ref: '#/components/schemas/Timestamp'
        durationInSeconds:
          $ref: '#/components/schemas/WrapperLong'
        contexts:
          $ref: '#/components/schemas/PhaseContexts'
      description: Information about a stage for a build.
    BuildPhaseType:
      type: string
      enum:
        - SUBMITTED
        - PROVISIONING
        - DOWNLOAD_SOURCE
        - INSTALL
        - PRE_BUILD
        - BUILD
        - POST_BUILD
        - UPLOAD_ARTIFACTS
        - FINALIZING
        - COMPLETED
    BuildPhases:
      type: array
      items:
        $ref: '#/components/schemas/BuildPhase'
    Builds:
      type: array
      items:
        $ref: '#/components/schemas/Build'
    ComputeType:
      type: string
      enum:
        - BUILD_GENERAL1_SMALL
        - BUILD_GENERAL1_MEDIUM
        - BUILD_GENERAL1_LARGE
    CreateProjectInput:
      type: object
      required:
        - name
        - source
        - artifacts
        - environment
      properties:
        name:
          $ref: '#/components/schemas/ProjectName'
        description:
          $ref: '#/components/schemas/ProjectDescription'
        source:
          $ref: '#/components/schemas/ProjectSource'
        artifacts:
          $ref: '#/components/schemas/ProjectArtifacts'
        environment:
          $ref: '#/components/schemas/ProjectEnvironment'
        serviceRole:
          $ref: '#/components/schemas/NonEmptyString'
        timeoutInMinutes:
          $ref: '#/components/schemas/TimeOut'
        encryptionKey:
          $ref: '#/components/schemas/NonEmptyString'
        tags:
          $ref: '#/components/schemas/TagList'
    CreateProjectOutput:
      type: object
      properties:
        project:
          $ref: '#/components/schemas/Project'
    DeleteProjectInput:
      type: object
      required:
        - name
      properties:
        name:
          $ref: '#/components/schemas/NonEmptyString'
    DeleteProjectOutput:
      type: object
      properties: {}
    EnvironmentImage:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/String'
        description:
          $ref: '#/components/schemas/String'
      description: Information about a Docker image that is managed by AWS CodeBuild.
    EnvironmentImages:
      type: array
      items:
        $ref: '#/components/schemas/EnvironmentImage'
    EnvironmentLanguage:
      type: object
      properties:
        language:
          $ref: '#/components/schemas/LanguageType'
        images:
          $ref: '#/components/schemas/EnvironmentImages'
      description: A set of Docker images that are related by programming language and are managed by AWS CodeBuild.
    EnvironmentLanguages:
      type: array
      items:
        $ref: '#/components/schemas/EnvironmentLanguage'
    EnvironmentPlatform:
      type: object
      properties:
        platform:
          $ref: '#/components/schemas/PlatformType'
        languages:
          $ref: '#/components/schemas/EnvironmentLanguages'
      description: A set of Docker images that are related by platform and are managed by AWS CodeBuild.
    EnvironmentPlatforms:
      type: array
      items:
        $ref: '#/components/schemas/EnvironmentPlatform'
    EnvironmentType:
      type: string
      enum:
        - LINUX_CONTAINER
    EnvironmentVariable:
      type: object
      required:
        - name
        - value
      properties:
        name:
          $ref: '#/components/schemas/NonEmptyString'
        value:
          $ref: '#/components/schemas/String'
      description: Information about an environment variable for a build project or a build.
    EnvironmentVariables:
      type: array
      items:
        $ref: '#/components/schemas/EnvironmentVariable'
    InvalidInputException:
      type: object
      properties: {}
      description: The input value that was provided is not valid.
    KeyInput:
      type: string
      pattern: '^([\\p{L}\\p{Z}\\p{N}_.:/=@+\\-]*)$'
      minLength: 1
      maxLength: 127
    LanguageType:
      type: string
      enum:
        - JAVA
        - PYTHON
        - NODE_JS
        - RUBY
        - GOLANG
        - DOCKER
        - ANDROID
        - BASE
    ListBuildsForProjectInput:
      type: object
      required:
        - projectName
      properties:
        projectName:
          $ref: '#/components/schemas/NonEmptyString'
        sortOrder:
          $ref: '#/components/schemas/SortOrderType'
        nextToken:
          $ref: '#/components/schemas/String'
    ListBuildsForProjectOutput:
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/BuildIds'
        nextToken:
          $ref: '#/components/schemas/String'
    ListBuildsInput:
      type: object
      properties:
        sortOrder:
          $ref: '#/components/schemas/SortOrderType'
        nextToken:
          $ref: '#/components/schemas/String'
    ListBuildsOutput:
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/BuildIds'
        nextToken:
          $ref: '#/components/schemas/String'
    ListCuratedEnvironmentImagesInput:
      type: object
      properties: {}
    ListCuratedEnvironmentImagesOutput:
      type: object
      properties:
        platforms:
          $ref: '#/components/schemas/EnvironmentPlatforms'
    ListProjectsInput:
      type: object
      properties:
        sortBy:
          $ref: '#/components/schemas/ProjectSortByType'
        sortOrder:
          $ref: '#/components/schemas/SortOrderType'
        nextToken:
          $ref: '#/components/schemas/NonEmptyString'
    ListProjectsOutput:
      type: object
      properties:
        nextToken:
          $ref: '#/components/schemas/String'
        projects:
          $ref: '#/components/schemas/ProjectNames'
    LogsLocation:
      type: object
      properties:
        groupName:
          $ref: '#/components/schemas/String'
        streamName:
          $ref: '#/components/schemas/String'
        deepLink:
          $ref: '#/components/schemas/String'
      description: Information about build logs in Amazon CloudWatch Logs.
    NonEmptyString:
      type: string
      minLength: 1
    PhaseContext:
      type: object
      properties:
        statusCode:
          $ref: '#/components/schemas/String'
        message:
          $ref: '#/components/schemas/String'
      description: Additional information about a build phase that has an error. You can use this information to help troubleshoot a failed build.
    PhaseContexts:
      type: array
      items:
        $ref: '#/components/schemas/PhaseContext'
    PlatformType:
      type: string
      enum:
        - DEBIAN
        - AMAZON_LINUX
        - UBUNTU
    Project:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/ProjectName'
        arn:
          $ref: '#/components/schemas/String'
        description:
          $ref: '#/components/schemas/ProjectDescription'
        source:
          $ref: '#/components/schemas/ProjectSource'
        artifacts:
          $ref: '#/components/schemas/ProjectArtifacts'
        environment:
          $ref: '#/components/schemas/ProjectEnvironment'
        serviceRole:
          $ref: '#/components/schemas/NonEmptyString'
        timeoutInMinutes:
          $ref: '#/components/schemas/TimeOut'
        encryptionKey:
          $ref: '#/components/schemas/NonEmptyString'
        tags:
          $ref: '#/components/schemas/TagList'
        created:
          $ref: '#/components/schemas/Timestamp'
        lastModified:
          $ref: '#/components/schemas/Timestamp'
      description: Information about a build project.
    ProjectArtifacts:
      type: object
      required:
        - type
      properties:
        type:
          $ref: '#/components/schemas/ArtifactsType'
        location:
          $ref: '#/components/schemas/String'
        path:
          $ref: '#/components/schemas/String'
        namespaceType:
          $ref: '#/components/schemas/ArtifactNamespace'
        name:
          $ref: '#/components/schemas/String'
        packaging:
          $ref: '#/components/schemas/ArtifactPackaging'
      description: Information about the build output artifacts for the build project.
    ProjectDescription:
      type: string
      minLength: 0
      maxLength: 255
    ProjectEnvironment:
      type: object
      required:
        - type
        - image
        - computeType
      properties:
        type:
          $ref: '#/components/schemas/EnvironmentType'
        image:
          $ref: '#/components/schemas/NonEmptyString'
        computeType:
          $ref: '#/components/schemas/ComputeType'
        environmentVariables:
          $ref: '#/components/schemas/EnvironmentVariables'
        privilegedMode:
          $ref: '#/components/schemas/WrapperBoolean'
      description: Information about the build environment of the build project.
    ProjectName:
      type: string
      pattern: '[A-Za-z0-9][A-Za-z0-9\-_]{1,254}'
      minLength: 2
      maxLength: 255
    ProjectNames:
      type: array
      items:
        $ref: '#/components/schemas/NonEmptyString'
      minItems: 1
      maxItems: 100
    ProjectSortByType:
      type: string
      enum:
        - NAME
        - CREATED_TIME
        - LAST_MODIFIED_TIME
    ProjectSource:
      type: object
      required:
        - type
      properties:
        type:
          $ref: '#/components/schemas/SourceType'
        location:
          $ref: '#/components/schemas/String'
        buildspec:
          $ref: '#/components/schemas/String'
        auth:
          $ref: '#/components/schemas/SourceAuth'
      description: Information about the build input source code for the build project.
    Projects:
      type: array
      items:
        $ref: '#/components/schemas/Project'
    ResourceAlreadyExistsException:
      type: object
      properties: {}
      description: 'The specified AWS resource cannot be created, because an AWS resource with the same settings already exists.'
    ResourceNotFoundException:
      type: object
      properties: {}
      description: The specified AWS resource cannot be found.
    SortOrderType:
      type: string
      enum:
        - ASCENDING
        - DESCENDING
    SourceAuth:
      type: object
      required:
        - type
      properties:
        type:
          $ref: '#/components/schemas/SourceAuthType'
        resource:
          $ref: '#/components/schemas/String'
      description: <p>Information about the authorization settings for AWS CodeBuild to access the source code to be built.</p> <p>This information is for the AWS CodeBuild console's use only. Your code should not get or set this information directly (unless the build project's source <code>type</code> value is <code>GITHUB</code>).</p>
    SourceAuthType:
      type: string
      enum:
        - OAUTH
    SourceType:
      type: string
      enum:
        - CODECOMMIT
        - CODEPIPELINE
        - GITHUB
        - S3
    StartBuildInput:
      type: object
      required:
        - projectName
      properties:
        projectName:
          $ref: '#/components/schemas/NonEmptyString'
        sourceVersion:
          $ref: '#/components/schemas/String'
        artifactsOverride:
          $ref: '#/components/schemas/ProjectArtifacts'
        environmentVariablesOverride:
          $ref: '#/components/schemas/EnvironmentVariables'
        buildspecOverride:
          $ref: '#/components/schemas/String'
        timeoutInMinutesOverride:
          $ref: '#/components/schemas/TimeOut'
    StartBuildOutput:
      type: object
      properties:
        build:
          $ref: '#/components/schemas/Build'
    StatusType:
      type: string
      enum:
        - SUCCEEDED
        - FAILED
        - FAULT
        - TIMED_OUT
        - IN_PROGRESS
        - STOPPED
    StopBuildInput:
      type: object
      required:
        - id
      properties:
        id:
          $ref: '#/components/schemas/NonEmptyString'
    StopBuildOutput:
      type: object
      properties:
        build:
          $ref: '#/components/schemas/Build'
    String:
      type: string
    Tag:
      type: object
      properties:
        key:
          $ref: '#/components/schemas/KeyInput'
        value:
          $ref: '#/components/schemas/ValueInput'
      description: '<p>A tag, consisting of a key and a value.</p> <p>This tag is available for use by AWS services that support tags in AWS CodeBuild.</p>'
    TagList:
      type: array
      items:
        $ref: '#/components/schemas/Tag'
      minItems: 0
      maxItems: 50
    TimeOut:
      type: integer
      minimum: 5
      maximum: 480
    Timestamp:
      type: string
      format: date-time
    UpdateProjectInput:
      type: object
      required:
        - name
      properties:
        name:
          $ref: '#/components/schemas/NonEmptyString'
        description:
          $ref: '#/components/schemas/ProjectDescription'
        source:
          $ref: '#/components/schemas/ProjectSource'
        artifacts:
          $ref: '#/components/schemas/ProjectArtifacts'
        environment:
          $ref: '#/components/schemas/ProjectEnvironment'
        serviceRole:
          $ref: '#/components/schemas/NonEmptyString'
        timeoutInMinutes:
          $ref: '#/components/schemas/TimeOut'
        encryptionKey:
          $ref: '#/components/schemas/NonEmptyString'
        tags:
          $ref: '#/components/schemas/TagList'
    UpdateProjectOutput:
      type: object
      properties:
        project:
          $ref: '#/components/schemas/Project'
    ValueInput:
      type: string
      pattern: '^([\\p{L}\\p{Z}\\p{N}_.:/=@+\\-]*)$'
      minLength: 1
      maxLength: 255
    WrapperBoolean:
      type: boolean
    WrapperInt:
      type: integer
    WrapperLong:
      type: integer
  parameters:
    Action:
      name: Action
      in: header
      required: true
      schema:
        type: string
    Version:
      name: Version
      in: header
      required: true
      schema:
        type: string
    X-Amz-Content-Sha256:
      name: X-Amz-Content-Sha256
      in: header
      required: false
      schema:
        type: string
    X-Amz-Date:
      name: X-Amz-Date
      in: header
      required: false
      schema:
        type: string
    X-Amz-Algorithm:
      name: X-Amz-Algorithm
      in: header
      required: false
      schema:
        type: string
    X-Amz-Credential:
      name: X-Amz-Credential
      in: header
      required: false
      schema:
        type: string
    X-Amz-Security-Token:
      name: X-Amz-Security-Token
      in: header
      required: false
      schema:
        type: string
    X-Amz-Signature:
      name: X-Amz-Signature
      in: header
      required: false
      schema:
        type: string
    X-Amz-SignedHeaders:
      name: X-Amz-SignedHeaders
      in: header
      required: false
      schema:
        type: string
  securitySchemes:
    hmac:
      type: apiKey
      name: Authorization
      in: header
      description: Amazon Signature authorization v4
      x-amazon-apigateway-authtype: awsSigv4
