swagger: '2.0'
info:
  version: '2016-10-06'
  x-release: v4
  title: AWS CodeBuild
  description: '<fullname>AWS CodeBuild</fullname> <p>AWS CodeBuild is a fully managed build service in the cloud. AWS CodeBuild compiles your source code, runs unit tests, and produces artifacts that are ready to deploy. AWS CodeBuild eliminates the need to provision, manage, and scale your own build servers. It provides prepackaged build environments for the most popular programming languages and build tools, such as Apache Maven, Gradle, and more. You can also fully customize build environments in AWS CodeBuild to use your own build tools. AWS CodeBuild scales automatically to meet peak build requests. You pay only for the build time you consume. For more information about AWS CodeBuild, see the <i> <a href="https://docs.aws.amazon.com/codebuild/latest/userguide/welcome.html">AWS CodeBuild User Guide</a>.</i> </p> <p>AWS CodeBuild supports these operations:</p> <ul> <li> <p> <code>BatchDeleteBuilds</code>: Deletes one or more builds.</p> </li> <li> <p> <code>BatchGetBuilds</code>: Gets information about one or more builds.</p> </li> <li> <p> <code>BatchGetProjects</code>: Gets information about one or more build projects. A <i>build project</i> defines how AWS CodeBuild runs a build. This includes information such as where to get the source code to build, the build environment to use, the build commands to run, and where to store the build output. A <i>build environment</i> is a representation of operating system, programming language runtime, and tools that AWS CodeBuild uses to run a build. You can add tags to build projects to help manage your resources and costs.</p> </li> <li> <p> <code>CreateProject</code>: Creates a build project.</p> </li> <li> <p> <code>CreateReportGroup</code>: Creates a report group. A report group contains a collection of reports. </p> </li> <li> <p> <code>CreateWebhook</code>: For an existing AWS CodeBuild build project that has its source code stored in a GitHub or Bitbucket repository, enables AWS CodeBuild to start rebuilding the source code every time a code change is pushed to the repository.</p> </li> <li> <p> <code>DeleteProject</code>: Deletes a build project.</p> </li> <li> <p> <code>DeleteReport</code>: Deletes a report. </p> </li> <li> <p> <code>DeleteReportGroup</code>: Deletes a report group. </p> </li> <li> <p> <code>DeleteResourcePolicy</code>: Deletes a resource policy that is identified by its resource ARN. </p> </li> <li> <p> <code>DeleteSourceCredentials</code>: Deletes a set of GitHub, GitHub Enterprise, or Bitbucket source credentials.</p> </li> <li> <p> <code>DeleteWebhook</code>: For an existing AWS CodeBuild build project that has its source code stored in a GitHub or Bitbucket repository, stops AWS CodeBuild from rebuilding the source code every time a code change is pushed to the repository.</p> </li> <li> <p> <code>DescribeTestCases</code>: Returns a list of details about test cases for a report. </p> </li> <li> <p> <code>GetResourcePolicy</code>: Gets a resource policy that is identified by its resource ARN. </p> </li> <li> <p> <code>ImportSourceCredentials</code>: Imports the source repository credentials for an AWS CodeBuild project that has its source code stored in a GitHub, GitHub Enterprise, or Bitbucket repository.</p> </li> <li> <p> <code>InvalidateProjectCache</code>: Resets the cache for a project.</p> </li> <li> <p> <code>ListBuilds</code>: Gets a list of build IDs, with each build ID representing a single build.</p> </li> <li> <p> <code>ListBuildsForProject</code>: Gets a list of build IDs for the specified build project, with each build ID representing a single build.</p> </li> <li> <p> <code>ListCuratedEnvironmentImages</code>: Gets information about Docker images that are managed by AWS CodeBuild.</p> </li> <li> <p> <code>ListProjects</code>: Gets a list of build project names, with each build project name representing a single build project.</p> </li> <li> <p> <code>ListReportGroups</code>: Gets a list ARNs for the report groups in the current AWS account. </p> </li> <li> <p> <code>ListReports</code>: Gets a list ARNs for the reports in the current AWS account. </p> </li> <li> <p> <code>ListReportsForReportGroup</code>: Returns a list of ARNs for the reports that belong to a <code>ReportGroup</code>. </p> </li> <li> <p> <code>ListSharedProjects</code>: Gets a list of ARNs associated with projects shared with the current AWS account or user.</p> </li> <li> <p> <code>ListSharedReportGroups</code>: Gets a list of ARNs associated with report groups shared with the current AWS account or user</p> </li> <li> <p> <code>ListSourceCredentials</code>: Returns a list of <code>SourceCredentialsInfo</code> objects. Each <code>SourceCredentialsInfo</code> object includes the authentication type, token ARN, and type of source provider for one set of credentials.</p> </li> <li> <p> <code>PutResourcePolicy</code>: Stores a resource policy for the ARN of a <code>Project</code> or <code>ReportGroup</code> object. </p> </li> <li> <p> <code>StartBuild</code>: Starts running a build.</p> </li> <li> <p> <code>StopBuild</code>: Attempts to stop running a build.</p> </li> <li> <p> <code>UpdateProject</code>: Changes the settings of an existing build project.</p> </li> <li> <p> <code>UpdateReportGroup</code>: Changes a report group.</p> </li> <li> <p> <code>UpdateWebhook</code>: Changes the settings of an existing webhook.</p> </li> </ul>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: codebuild
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/codebuild-2016-10-06.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-driver: external
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/codebuild/'
host: codebuild.amazonaws.com
basePath: /
schemes:
  - https
  - http
x-servers:
  - url: 'http://codebuild.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The AWS CodeBuild multi-region endpoint
  - url: 'https://codebuild.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The AWS CodeBuild multi-region endpoint
  - url: 'http://codebuild.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The AWS CodeBuild endpoint for China (Beijing) and China (Ningxia)
  - url: 'https://codebuild.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The AWS CodeBuild endpoint for China (Beijing) and China (Ningxia)
x-hasEquivalentPaths: true
consumes:
  - application/json
produces:
  - application/json
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  '/#X-Amz-Target=CodeBuild_20161006.BatchDeleteBuilds':
    post:
      operationId: BatchDeleteBuilds
      description: Deletes one or more builds.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchDeleteBuildsOutput'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BatchDeleteBuildsInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CodeBuild_20161006.BatchDeleteBuilds
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=CodeBuild_20161006.BatchGetBuilds':
    post:
      operationId: BatchGetBuilds
      description: Gets information about one or more builds.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchGetBuildsOutput'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BatchGetBuildsInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CodeBuild_20161006.BatchGetBuilds
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=CodeBuild_20161006.BatchGetProjects':
    post:
      operationId: BatchGetProjects
      description: Gets information about one or more build projects.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchGetProjectsOutput'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BatchGetProjectsInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CodeBuild_20161006.BatchGetProjects
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=CodeBuild_20161006.BatchGetReportGroups':
    post:
      operationId: BatchGetReportGroups
      description: ' Returns an array of report groups. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchGetReportGroupsOutput'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BatchGetReportGroupsInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CodeBuild_20161006.BatchGetReportGroups
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=CodeBuild_20161006.BatchGetReports':
    post:
      operationId: BatchGetReports
      description: ' Returns an array of reports. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchGetReportsOutput'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BatchGetReportsInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CodeBuild_20161006.BatchGetReports
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=CodeBuild_20161006.CreateProject':
    post:
      operationId: CreateProject
      description: Creates a build project.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateProjectOutput'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '482':
          description: AccountLimitExceededException
          schema:
            $ref: '#/definitions/AccountLimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateProjectInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CodeBuild_20161006.CreateProject
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=CodeBuild_20161006.CreateReportGroup':
    post:
      operationId: CreateReportGroup
      description: ' Creates a report group. A report group contains a collection of reports. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateReportGroupOutput'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '482':
          description: AccountLimitExceededException
          schema:
            $ref: '#/definitions/AccountLimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateReportGroupInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CodeBuild_20161006.CreateReportGroup
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=CodeBuild_20161006.CreateWebhook':
    post:
      operationId: CreateWebhook
      description: '<p>For an existing AWS CodeBuild build project that has its source code stored in a GitHub or Bitbucket repository, enables AWS CodeBuild to start rebuilding the source code every time a code change is pushed to the repository.</p> <important> <p>If you enable webhooks for an AWS CodeBuild project, and the project is used as a build step in AWS CodePipeline, then two identical builds are created for each commit. One build is triggered through webhooks, and one through AWS CodePipeline. Because billing is on a per-build basis, you are billed for both builds. Therefore, if you are using AWS CodePipeline, we recommend that you disable webhooks in AWS CodeBuild. In the AWS CodeBuild console, clear the Webhook box. For more information, see step 5 in <a href="https://docs.aws.amazon.com/codebuild/latest/userguide/change-project.html#change-project-console">Change a Build Project''s Settings</a>.</p> </important>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateWebhookOutput'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: OAuthProviderException
          schema:
            $ref: '#/definitions/OAuthProviderException'
        '482':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateWebhookInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CodeBuild_20161006.CreateWebhook
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=CodeBuild_20161006.DeleteProject':
    post:
      operationId: DeleteProject
      description: ' Deletes a build project. When you delete a project, its builds are not deleted. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteProjectOutput'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteProjectInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CodeBuild_20161006.DeleteProject
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=CodeBuild_20161006.DeleteReport':
    post:
      operationId: DeleteReport
      description: ' Deletes a report. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteReportOutput'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteReportInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CodeBuild_20161006.DeleteReport
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=CodeBuild_20161006.DeleteReportGroup':
    post:
      operationId: DeleteReportGroup
      description: ' <code>DeleteReportGroup</code>: Deletes a report group. Before you delete a report group, you must delete its reports. Use <a href="https://docs.aws.amazon.com/codebuild/latest/APIReference/API_ListReportsForReportGroup.html">ListReportsForReportGroup</a> to get the reports in a report group. Use <a href="https://docs.aws.amazon.com/codebuild/latest/APIReference/API_DeleteReport.html">DeleteReport</a> to delete the reports. If you call <code>DeleteReportGroup</code> for a report group that contains one or more reports, an exception is thrown. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteReportGroupOutput'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteReportGroupInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CodeBuild_20161006.DeleteReportGroup
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=CodeBuild_20161006.DeleteResourcePolicy':
    post:
      operationId: DeleteResourcePolicy
      description: ' Deletes a resource policy that is identified by its resource ARN. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteResourcePolicyOutput'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteResourcePolicyInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CodeBuild_20161006.DeleteResourcePolicy
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=CodeBuild_20161006.DeleteSourceCredentials':
    post:
      operationId: DeleteSourceCredentials
      description: ' Deletes a set of GitHub, GitHub Enterprise, or Bitbucket source credentials. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteSourceCredentialsOutput'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteSourceCredentialsInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CodeBuild_20161006.DeleteSourceCredentials
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=CodeBuild_20161006.DeleteWebhook':
    post:
      operationId: DeleteWebhook
      description: 'For an existing AWS CodeBuild build project that has its source code stored in a GitHub or Bitbucket repository, stops AWS CodeBuild from rebuilding the source code every time a code change is pushed to the repository.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteWebhookOutput'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: OAuthProviderException
          schema:
            $ref: '#/definitions/OAuthProviderException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteWebhookInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CodeBuild_20161006.DeleteWebhook
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=CodeBuild_20161006.DescribeTestCases':
    post:
      operationId: DescribeTestCases
      description: ' Returns a list of details about test cases for a report. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeTestCasesOutput'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeTestCasesInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CodeBuild_20161006.DescribeTestCases
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=CodeBuild_20161006.GetResourcePolicy':
    post:
      operationId: GetResourcePolicy
      description: ' Gets a resource policy that is identified by its resource ARN. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetResourcePolicyOutput'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetResourcePolicyInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CodeBuild_20161006.GetResourcePolicy
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=CodeBuild_20161006.ImportSourceCredentials':
    post:
      operationId: ImportSourceCredentials
      description: ' Imports the source repository credentials for an AWS CodeBuild project that has its source code stored in a GitHub, GitHub Enterprise, or Bitbucket repository. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ImportSourceCredentialsOutput'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: AccountLimitExceededException
          schema:
            $ref: '#/definitions/AccountLimitExceededException'
        '482':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ImportSourceCredentialsInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CodeBuild_20161006.ImportSourceCredentials
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=CodeBuild_20161006.InvalidateProjectCache':
    post:
      operationId: InvalidateProjectCache
      description: Resets the cache for a project.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/InvalidateProjectCacheOutput'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/InvalidateProjectCacheInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CodeBuild_20161006.InvalidateProjectCache
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=CodeBuild_20161006.ListBuilds':
    post:
      operationId: ListBuilds
      description: 'Gets a list of build IDs, with each build ID representing a single build.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListBuildsOutput'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListBuildsInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CodeBuild_20161006.ListBuilds
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=CodeBuild_20161006.ListBuildsForProject':
    post:
      operationId: ListBuildsForProject
      description: 'Gets a list of build IDs for the specified build project, with each build ID representing a single build.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListBuildsForProjectOutput'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListBuildsForProjectInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CodeBuild_20161006.ListBuildsForProject
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=CodeBuild_20161006.ListCuratedEnvironmentImages':
    post:
      operationId: ListCuratedEnvironmentImages
      description: Gets information about Docker images that are managed by AWS CodeBuild.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListCuratedEnvironmentImagesOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListCuratedEnvironmentImagesInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CodeBuild_20161006.ListCuratedEnvironmentImages
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=CodeBuild_20161006.ListProjects':
    post:
      operationId: ListProjects
      description: 'Gets a list of build project names, with each build project name representing a single build project.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListProjectsOutput'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListProjectsInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CodeBuild_20161006.ListProjects
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=CodeBuild_20161006.ListReportGroups':
    post:
      operationId: ListReportGroups
      description: ' Gets a list ARNs for the report groups in the current AWS account. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListReportGroupsOutput'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListReportGroupsInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CodeBuild_20161006.ListReportGroups
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=CodeBuild_20161006.ListReports':
    post:
      operationId: ListReports
      description: ' Returns a list of ARNs for the reports in the current AWS account. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListReportsOutput'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListReportsInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CodeBuild_20161006.ListReports
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=CodeBuild_20161006.ListReportsForReportGroup':
    post:
      operationId: ListReportsForReportGroup
      description: ' Returns a list of ARNs for the reports that belong to a <code>ReportGroup</code>. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListReportsForReportGroupOutput'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListReportsForReportGroupInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CodeBuild_20161006.ListReportsForReportGroup
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=CodeBuild_20161006.ListSharedProjects':
    post:
      operationId: ListSharedProjects
      description: ' Gets a list of projects that are shared with other AWS accounts or users. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListSharedProjectsOutput'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListSharedProjectsInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CodeBuild_20161006.ListSharedProjects
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=CodeBuild_20161006.ListSharedReportGroups':
    post:
      operationId: ListSharedReportGroups
      description: ' Gets a list of report groups that are shared with other AWS accounts or users. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListSharedReportGroupsOutput'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListSharedReportGroupsInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CodeBuild_20161006.ListSharedReportGroups
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=CodeBuild_20161006.ListSourceCredentials':
    post:
      operationId: ListSourceCredentials
      description: ' Returns a list of <code>SourceCredentialsInfo</code> objects. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListSourceCredentialsOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListSourceCredentialsInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CodeBuild_20161006.ListSourceCredentials
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=CodeBuild_20161006.PutResourcePolicy':
    post:
      operationId: PutResourcePolicy
      description: ' Stores a resource policy for the ARN of a <code>Project</code> or <code>ReportGroup</code> object. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutResourcePolicyOutput'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutResourcePolicyInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CodeBuild_20161006.PutResourcePolicy
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=CodeBuild_20161006.StartBuild':
    post:
      operationId: StartBuild
      description: Starts running a build.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartBuildOutput'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: AccountLimitExceededException
          schema:
            $ref: '#/definitions/AccountLimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StartBuildInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CodeBuild_20161006.StartBuild
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=CodeBuild_20161006.StopBuild':
    post:
      operationId: StopBuild
      description: Attempts to stop running a build.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopBuildOutput'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StopBuildInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CodeBuild_20161006.StopBuild
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=CodeBuild_20161006.UpdateProject':
    post:
      operationId: UpdateProject
      description: Changes the settings of a build project.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateProjectOutput'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateProjectInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CodeBuild_20161006.UpdateProject
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=CodeBuild_20161006.UpdateReportGroup':
    post:
      operationId: UpdateReportGroup
      description: ' Updates a report group. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateReportGroupOutput'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateReportGroupInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CodeBuild_20161006.UpdateReportGroup
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=CodeBuild_20161006.UpdateWebhook':
    post:
      operationId: UpdateWebhook
      description: '<p> Updates the webhook associated with an AWS CodeBuild build project. </p> <note> <p> If you use Bitbucket for your repository, <code>rotateSecret</code> is ignored. </p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateWebhookOutput'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: OAuthProviderException
          schema:
            $ref: '#/definitions/OAuthProviderException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateWebhookInput'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CodeBuild_20161006.UpdateWebhook
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  BatchDeleteBuildsOutput:
    type: object
    properties:
      buildsDeleted:
        $ref: '#/definitions/BuildIds'
        description: The IDs of the builds that were successfully deleted.
      buildsNotDeleted:
        $ref: '#/definitions/BuildsNotDeleted'
        description: Information about any builds that could not be successfully deleted.
  BatchDeleteBuildsInput:
    type: object
    required:
      - ids
    properties:
      ids:
        $ref: '#/definitions/BuildIds'
        description: The IDs of the builds to delete.
  InvalidInputException: {}
  BatchGetBuildsOutput:
    type: object
    example:
      builds:
        - arn: 'arn:aws:codebuild:us-east-1:123456789012:build/codebuild-demo-project:9b0ac37f-d19e-4254-9079-f47e9a389eEX'
          artifacts:
            location: 'arn:aws:s3:::codebuild-123456789012-output-bucket/codebuild-demo-project'
          buildComplete: true
          buildStatus: SUCCEEDED
          currentPhase: COMPLETED
          endTime: 1479832474.764
          environment:
            type: LINUX_CONTAINER
            computeType: BUILD_GENERAL1_SMALL
            environmentVariables: []
            image: 'aws/codebuild/java:openjdk-8'
            privilegedMode: false
          id: 'codebuild-demo-project:9b0ac37f-d19e-4254-9079-f47e9a389eEX'
          initiator: MyDemoUser
          logs:
            deepLink: 'https://console.aws.amazon.com/cloudwatch/home?region=us-east-1#logEvent:group=/aws/codebuild/codebuild-demo-project;stream=9b0ac37f-d19e-4254-9079-f47e9a389eEX'
            groupName: /aws/codebuild/codebuild-demo-project
            streamName: 9b0ac37f-d19e-4254-9079-f47e9a389eEX
          phases:
            - durationInSeconds: 0
              endTime: 1479832342.23
              phaseStatus: SUCCEEDED
              phaseType: SUBMITTED
              startTime: 1479832341.854
            - contexts: []
              durationInSeconds: 72
              endTime: 1479832415.064
              phaseStatus: SUCCEEDED
              phaseType: PROVISIONING
              startTime: 1479832342.23
            - contexts: []
              durationInSeconds: 46
              endTime: 1479832461.261
              phaseStatus: SUCCEEDED
              phaseType: DOWNLOAD_SOURCE
              startTime: 1479832415.064
            - contexts: []
              durationInSeconds: 0
              endTime: 1479832461.354
              phaseStatus: SUCCEEDED
              phaseType: INSTALL
              startTime: 1479832461.261
            - contexts: []
              durationInSeconds: 0
              endTime: 1479832461.448
              phaseStatus: SUCCEEDED
              phaseType: PRE_BUILD
              startTime: 1479832461.354
            - contexts: []
              durationInSeconds: 9
              endTime: 1479832471.115
              phaseStatus: SUCCEEDED
              phaseType: BUILD
              startTime: 1479832461.448
            - contexts: []
              durationInSeconds: 0
              endTime: 1479832471.224
              phaseStatus: SUCCEEDED
              phaseType: POST_BUILD
              startTime: 1479832471.115
            - contexts: []
              durationInSeconds: 0
              endTime: 1479832471.791
              phaseStatus: SUCCEEDED
              phaseType: UPLOAD_ARTIFACTS
              startTime: 1479832471.224
            - contexts: []
              durationInSeconds: 2
              endTime: 1479832474.764
              phaseStatus: SUCCEEDED
              phaseType: FINALIZING
              startTime: 1479832471.791
            - phaseType: COMPLETED
              startTime: 1479832474.764
          projectName: codebuild-demo-project
          source:
            type: S3
            buildspec: ''
            location: 'arn:aws:s3:::codebuild-123456789012-input-bucket/MessageUtil.zip'
          startTime: 1479832341.854
          timeoutInMinutes: 60
        - arn: 'arn:aws:codebuild:us-east-1:123456789012:build/codebuild-demo-project:b79a46f7-1473-4636-a23f-da9c45c208EX'
          artifacts:
            location: 'arn:aws:s3:::codebuild-123456789012-output-bucket/codebuild-demo-project'
          buildComplete: true
          buildStatus: SUCCEEDED
          currentPhase: COMPLETED
          endTime: 1479401214.239
          environment:
            type: LINUX_CONTAINER
            computeType: BUILD_GENERAL1_SMALL
            environmentVariables: []
            image: 'aws/codebuild/java:openjdk-8'
            privilegedMode: false
          id: 'codebuild-demo-project:b79a46f7-1473-4636-a23f-da9c45c208EX'
          initiator: MyDemoUser
          logs:
            deepLink: 'https://console.aws.amazon.com/cloudwatch/home?region=us-east-1#logEvent:group=/aws/codebuild/codebuild-demo-project;stream=b79a46f7-1473-4636-a23f-da9c45c208EX'
            groupName: /aws/codebuild/codebuild-demo-project
            streamName: b79a46f7-1473-4636-a23f-da9c45c208EX
          phases:
            - durationInSeconds: 0
              endTime: 1479401082.342
              phaseStatus: SUCCEEDED
              phaseType: SUBMITTED
              startTime: 1479401081.869
            - contexts: []
              durationInSeconds: 71
              endTime: 1479401154.129
              phaseStatus: SUCCEEDED
              phaseType: PROVISIONING
              startTime: 1479401082.342
            - contexts: []
              durationInSeconds: 45
              endTime: 1479401199.136
              phaseStatus: SUCCEEDED
              phaseType: DOWNLOAD_SOURCE
              startTime: 1479401154.129
            - contexts: []
              durationInSeconds: 0
              endTime: 1479401199.236
              phaseStatus: SUCCEEDED
              phaseType: INSTALL
              startTime: 1479401199.136
            - contexts: []
              durationInSeconds: 0
              endTime: 1479401199.345
              phaseStatus: SUCCEEDED
              phaseType: PRE_BUILD
              startTime: 1479401199.236
            - contexts: []
              durationInSeconds: 9
              endTime: 1479401208.68
              phaseStatus: SUCCEEDED
              phaseType: BUILD
              startTime: 1479401199.345
            - contexts: []
              durationInSeconds: 0
              endTime: 1479401208.783
              phaseStatus: SUCCEEDED
              phaseType: POST_BUILD
              startTime: 1479401208.68
            - contexts: []
              durationInSeconds: 0
              endTime: 1479401209.463
              phaseStatus: SUCCEEDED
              phaseType: UPLOAD_ARTIFACTS
              startTime: 1479401208.783
            - contexts: []
              durationInSeconds: 4
              endTime: 1479401214.239
              phaseStatus: SUCCEEDED
              phaseType: FINALIZING
              startTime: 1479401209.463
            - phaseType: COMPLETED
              startTime: 1479401214.239
          projectName: codebuild-demo-project
          source:
            type: S3
            location: 'arn:aws:s3:::codebuild-123456789012-input-bucket/MessageUtil.zip'
          startTime: 1479401081.869
          timeoutInMinutes: 60
    properties:
      builds:
        $ref: '#/definitions/Builds'
        description: Information about the requested builds.
      buildsNotFound:
        $ref: '#/definitions/BuildIds'
        description: The IDs of builds for which information could not be found.
  BatchGetBuildsInput:
    type: object
    required:
      - ids
    properties:
      ids:
        $ref: '#/definitions/BuildIds'
        description: The IDs of the builds.
  BatchGetProjectsOutput:
    type: object
    properties:
      projects:
        $ref: '#/definitions/Projects'
        description: Information about the requested build projects.
      projectsNotFound:
        $ref: '#/definitions/ProjectNames'
        description: The names of build projects for which information could not be found.
  BatchGetProjectsInput:
    type: object
    required:
      - names
    properties:
      names:
        $ref: '#/definitions/ProjectNames'
        description: 'The names or ARNs of the build projects. To get information about a project shared with your AWS account, its ARN must be specified. You cannot specify a shared project using its name.'
  BatchGetReportGroupsOutput:
    type: object
    properties:
      reportGroups:
        $ref: '#/definitions/ReportGroups'
        description: ' The array of report groups returned by <code>BatchGetReportGroups</code>. '
      reportGroupsNotFound:
        $ref: '#/definitions/ReportGroupArns'
        description: ' An array of ARNs passed to <code>BatchGetReportGroups</code> that are not associated with a <code>ReportGroup</code>. '
  BatchGetReportGroupsInput:
    type: object
    required:
      - reportGroupArns
    properties:
      reportGroupArns:
        $ref: '#/definitions/ReportGroupArns'
        description: ' An array of report group ARNs that identify the report groups to return. '
  BatchGetReportsOutput:
    type: object
    properties:
      reports:
        $ref: '#/definitions/Reports'
        description: ' The array of <code>Report</code> objects returned by <code>BatchGetReports</code>. '
      reportsNotFound:
        $ref: '#/definitions/ReportArns'
        description: ' An array of ARNs passed to <code>BatchGetReportGroups</code> that are not associated with a <code>Report</code>. '
  BatchGetReportsInput:
    type: object
    required:
      - reportArns
    properties:
      reportArns:
        $ref: '#/definitions/ReportArns'
        description: ' An array of ARNs that identify the <code>Report</code> objects to return. '
  CreateProjectOutput:
    type: object
    properties:
      project:
        $ref: '#/definitions/Project'
        description: Information about the build project that was created.
  CreateProjectInput:
    type: object
    required:
      - name
      - source
      - artifacts
      - environment
      - serviceRole
    properties:
      name:
        $ref: '#/definitions/ProjectName'
        description: The name of the build project.
      description:
        $ref: '#/definitions/ProjectDescription'
        description: A description that makes the build project easy to identify.
      source:
        $ref: '#/definitions/ProjectSource'
        description: Information about the build input source code for the build project.
      secondarySources:
        $ref: '#/definitions/ProjectSources'
        description: ' An array of <code>ProjectSource</code> objects. '
      sourceVersion:
        $ref: '#/definitions/String'
        description: '<p> A version of the build input to be built for this project. If not specified, the latest version is used. If specified, it must be one of: </p> <ul> <li> <p>For AWS CodeCommit: the commit ID, branch, or Git tag to use.</p> </li> <li> <p>For GitHub: the commit ID, pull request ID, branch name, or tag name that corresponds to the version of the source code you want to build. If a pull request ID is specified, it must use the format <code>pr/pull-request-ID</code> (for example <code>pr/25</code>). If a branch name is specified, the branch''s HEAD commit ID is used. If not specified, the default branch''s HEAD commit ID is used.</p> </li> <li> <p>For Bitbucket: the commit ID, branch name, or tag name that corresponds to the version of the source code you want to build. If a branch name is specified, the branch''s HEAD commit ID is used. If not specified, the default branch''s HEAD commit ID is used.</p> </li> <li> <p>For Amazon Simple Storage Service (Amazon S3): the version ID of the object that represents the build input ZIP file to use.</p> </li> </ul> <p> If <code>sourceVersion</code> is specified at the build level, then that version takes precedence over this <code>sourceVersion</code> (at the project level). </p> <p> For more information, see <a href="https://docs.aws.amazon.com/codebuild/latest/userguide/sample-source-version.html">Source Version Sample with CodeBuild</a> in the <i>AWS CodeBuild User Guide</i>. </p>'
      secondarySourceVersions:
        $ref: '#/definitions/ProjectSecondarySourceVersions'
        description: ' An array of <code>ProjectSourceVersion</code> objects. If <code>secondarySourceVersions</code> is specified at the build level, then they take precedence over these <code>secondarySourceVersions</code> (at the project level). '
      artifacts:
        $ref: '#/definitions/ProjectArtifacts'
        description: Information about the build output artifacts for the build project.
      secondaryArtifacts:
        $ref: '#/definitions/ProjectArtifactsList'
        description: ' An array of <code>ProjectArtifacts</code> objects. '
      cache:
        $ref: '#/definitions/ProjectCache'
        description: Stores recently used information so that it can be quickly accessed at a later time.
      environment:
        $ref: '#/definitions/ProjectEnvironment'
        description: Information about the build environment for the build project.
      serviceRole:
        $ref: '#/definitions/NonEmptyString'
        description: The ARN of the AWS Identity and Access Management (IAM) role that enables AWS CodeBuild to interact with dependent AWS services on behalf of the AWS account.
      timeoutInMinutes:
        $ref: '#/definitions/TimeOut'
        description: 'How long, in minutes, from 5 to 480 (8 hours), for AWS CodeBuild to wait before it times out any build that has not been marked as completed. The default is 60 minutes.'
      queuedTimeoutInMinutes:
        $ref: '#/definitions/TimeOut'
        description: ' The number of minutes a build is allowed to be queued before it times out. '
      encryptionKey:
        $ref: '#/definitions/NonEmptyString'
        description: '<p>The AWS Key Management Service (AWS KMS) customer master key (CMK) to be used for encrypting the build output artifacts.</p> <note> <p> You can use a cross-account KMS key to encrypt the build output artifacts if your service role has permission to that key. </p> </note> <p>You can specify either the Amazon Resource Name (ARN) of the CMK or, if available, the CMK''s alias (using the format <code>alias/<i>alias-name</i> </code>).</p>'
      tags:
        $ref: '#/definitions/TagList'
        description: <p>A set of tags for this build project.</p> <p>These tags are available for use by AWS services that support AWS CodeBuild build project tags.</p>
      vpcConfig:
        $ref: '#/definitions/VpcConfig'
        description: VpcConfig enables AWS CodeBuild to access resources in an Amazon VPC.
      badgeEnabled:
        $ref: '#/definitions/WrapperBoolean'
        description: Set this to true to generate a publicly accessible URL for your project's build badge.
      logsConfig:
        $ref: '#/definitions/LogsConfig'
        description: ' Information about logs for the build project. These can be logs in Amazon CloudWatch Logs, logs uploaded to a specified S3 bucket, or both. '
  ResourceAlreadyExistsException: {}
  AccountLimitExceededException: {}
  CreateReportGroupOutput:
    type: object
    properties:
      reportGroup:
        $ref: '#/definitions/ReportGroup'
        description: ' Information about the report group that was created. '
  CreateReportGroupInput:
    type: object
    required:
      - name
      - type
      - exportConfig
    properties:
      name:
        $ref: '#/definitions/ReportGroupName'
        description: ' The name of the report group. '
      type:
        $ref: '#/definitions/ReportType'
        description: ' The type of report group. '
      exportConfig:
        $ref: '#/definitions/ReportExportConfig'
        description: ' A <code>ReportExportConfig</code> object that contains information about where the report group test results are exported. '
  CreateWebhookOutput:
    type: object
    properties:
      webhook:
        $ref: '#/definitions/Webhook'
        description: Information about a webhook that connects repository events to a build project in AWS CodeBuild.
  CreateWebhookInput:
    type: object
    required:
      - projectName
    properties:
      projectName:
        $ref: '#/definitions/ProjectName'
        description: The name of the AWS CodeBuild project.
      branchFilter:
        $ref: '#/definitions/String'
        description: '<p>A regular expression used to determine which repository branches are built when a webhook is triggered. If the name of a branch matches the regular expression, then it is built. If <code>branchFilter</code> is empty, then all branches are built.</p> <note> <p> It is recommended that you use <code>filterGroups</code> instead of <code>branchFilter</code>. </p> </note>'
      filterGroups:
        $ref: '#/definitions/FilterGroups'
        description: '<p> An array of arrays of <code>WebhookFilter</code> objects used to determine which webhooks are triggered. At least one <code>WebhookFilter</code> in the array must specify <code>EVENT</code> as its <code>type</code>. </p> <p> For a build to be triggered, at least one filter group in the <code>filterGroups</code> array must pass. For a filter group to pass, each of its filters must pass. </p>'
  OAuthProviderException: {}
  ResourceNotFoundException: {}
  DeleteProjectOutput:
    type: object
    properties: {}
  DeleteProjectInput:
    type: object
    required:
      - name
    properties:
      name:
        $ref: '#/definitions/NonEmptyString'
        description: The name of the build project.
  DeleteReportOutput:
    type: object
    properties: {}
  DeleteReportInput:
    type: object
    required:
      - arn
    properties:
      arn:
        $ref: '#/definitions/NonEmptyString'
        description: ' The ARN of the report to delete. '
  DeleteReportGroupOutput:
    type: object
    properties: {}
  DeleteReportGroupInput:
    type: object
    required:
      - arn
    properties:
      arn:
        $ref: '#/definitions/NonEmptyString'
        description: ' The ARN of the report group to delete. '
  DeleteResourcePolicyOutput:
    type: object
    properties: {}
  DeleteResourcePolicyInput:
    type: object
    required:
      - resourceArn
    properties:
      resourceArn:
        $ref: '#/definitions/NonEmptyString'
        description: ' The ARN of the resource that is associated with the resource policy. '
  DeleteSourceCredentialsOutput:
    type: object
    properties:
      arn:
        $ref: '#/definitions/NonEmptyString'
        description: ' The Amazon Resource Name (ARN) of the token. '
  DeleteSourceCredentialsInput:
    type: object
    required:
      - arn
    properties:
      arn:
        $ref: '#/definitions/NonEmptyString'
        description: ' The Amazon Resource Name (ARN) of the token.'
  DeleteWebhookOutput:
    type: object
    properties: {}
  DeleteWebhookInput:
    type: object
    required:
      - projectName
    properties:
      projectName:
        $ref: '#/definitions/ProjectName'
        description: The name of the AWS CodeBuild project.
  DescribeTestCasesOutput:
    type: object
    properties:
      nextToken:
        $ref: '#/definitions/String'
        description: ' During a previous call, the maximum number of items that can be returned is the value specified in <code>maxResults</code>. If there more items in the list, then a unique string called a <i>nextToken</i> is returned. To get the next batch of items in the list, call this operation again, adding the next token to the call. To get all of the items in the list, keep calling this operation with each subsequent next token that is returned, until no more next tokens are returned. '
      testCases:
        $ref: '#/definitions/TestCases'
        description: ' The returned list of test cases. '
  DescribeTestCasesInput:
    type: object
    required:
      - reportArn
    properties:
      reportArn:
        $ref: '#/definitions/String'
        description: ' The ARN of the report for which test cases are returned. '
      nextToken:
        $ref: '#/definitions/String'
        description: ' During a previous call, the maximum number of items that can be returned is the value specified in <code>maxResults</code>. If there more items in the list, then a unique string called a <i>nextToken</i> is returned. To get the next batch of items in the list, call this operation again, adding the next token to the call. To get all of the items in the list, keep calling this operation with each subsequent next token that is returned, until no more next tokens are returned. '
      maxResults:
        $ref: '#/definitions/PageSize'
        description: ' The maximum number of paginated test cases returned per response. Use <code>nextToken</code> to iterate pages in the list of returned <code>TestCase</code> objects. The default value is 100. '
      filter:
        $ref: '#/definitions/TestCaseFilter'
        description: ' A <code>TestCaseFilter</code> object used to filter the returned reports. '
  GetResourcePolicyOutput:
    type: object
    properties:
      policy:
        $ref: '#/definitions/NonEmptyString'
        description: ' The resource policy for the resource identified by the input ARN parameter. '
  GetResourcePolicyInput:
    type: object
    required:
      - resourceArn
    properties:
      resourceArn:
        $ref: '#/definitions/NonEmptyString'
        description: ' The ARN of the resource that is associated with the resource policy. '
  ImportSourceCredentialsOutput:
    type: object
    properties:
      arn:
        $ref: '#/definitions/NonEmptyString'
        description: ' The Amazon Resource Name (ARN) of the token. '
  ImportSourceCredentialsInput:
    type: object
    required:
      - token
      - serverType
      - authType
    properties:
      username:
        $ref: '#/definitions/NonEmptyString'
        description: ' The Bitbucket username when the <code>authType</code> is BASIC_AUTH. This parameter is not valid for other types of source providers or connections. '
      token:
        $ref: '#/definitions/SensitiveNonEmptyString'
        description: ' For GitHub or GitHub Enterprise, this is the personal access token. For Bitbucket, this is the app password. '
      serverType:
        $ref: '#/definitions/ServerType'
        description: ' The source provider used for this project. '
      authType:
        $ref: '#/definitions/AuthType'
        description: ' The type of authentication used to connect to a GitHub, GitHub Enterprise, or Bitbucket repository. An OAUTH connection is not supported by the API and must be created using the AWS CodeBuild console. '
      shouldOverwrite:
        $ref: '#/definitions/WrapperBoolean'
        description: ' Set to <code>false</code> to prevent overwriting the repository source credentials. Set to <code>true</code> to overwrite the repository source credentials. The default value is <code>true</code>. '
  InvalidateProjectCacheOutput:
    type: object
    properties: {}
  InvalidateProjectCacheInput:
    type: object
    required:
      - projectName
    properties:
      projectName:
        $ref: '#/definitions/NonEmptyString'
        description: The name of the AWS CodeBuild build project that the cache is reset for.
  ListBuildsOutput:
    type: object
    properties:
      ids:
        $ref: '#/definitions/BuildIds'
        description: 'A list of build IDs, with each build ID representing a single build.'
      nextToken:
        $ref: '#/definitions/String'
        description: 'If there are more than 100 items in the list, only the first 100 items are returned, along with a unique string called a <i>nextToken</i>. To get the next batch of items in the list, call this operation again, adding the next token to the call.'
  ListBuildsInput:
    type: object
    properties:
      sortOrder:
        $ref: '#/definitions/SortOrderType'
        description: '<p>The order to list build IDs. Valid values include:</p> <ul> <li> <p> <code>ASCENDING</code>: List the build IDs in ascending order by build ID.</p> </li> <li> <p> <code>DESCENDING</code>: List the build IDs in descending order by build ID.</p> </li> </ul>'
      nextToken:
        $ref: '#/definitions/String'
        description: 'During a previous call, if there are more than 100 items in the list, only the first 100 items are returned, along with a unique string called a <i>nextToken</i>. To get the next batch of items in the list, call this operation again, adding the next token to the call. To get all of the items in the list, keep calling this operation with each subsequent next token that is returned, until no more next tokens are returned.'
  ListBuildsForProjectOutput:
    type: object
    properties:
      ids:
        $ref: '#/definitions/BuildIds'
        description: 'A list of build IDs for the specified build project, with each build ID representing a single build.'
      nextToken:
        $ref: '#/definitions/String'
        description: 'If there are more than 100 items in the list, only the first 100 items are returned, along with a unique string called a <i>nextToken</i>. To get the next batch of items in the list, call this operation again, adding the next token to the call.'
  ListBuildsForProjectInput:
    type: object
    required:
      - projectName
    properties:
      projectName:
        $ref: '#/definitions/NonEmptyString'
        description: The name of the AWS CodeBuild project.
      sortOrder:
        $ref: '#/definitions/SortOrderType'
        description: '<p>The order to list build IDs. Valid values include:</p> <ul> <li> <p> <code>ASCENDING</code>: List the build IDs in ascending order by build ID.</p> </li> <li> <p> <code>DESCENDING</code>: List the build IDs in descending order by build ID.</p> </li> </ul>'
      nextToken:
        $ref: '#/definitions/String'
        description: 'During a previous call, if there are more than 100 items in the list, only the first 100 items are returned, along with a unique string called a <i>nextToken</i>. To get the next batch of items in the list, call this operation again, adding the next token to the call. To get all of the items in the list, keep calling this operation with each subsequent next token that is returned, until no more next tokens are returned.'
  ListCuratedEnvironmentImagesOutput:
    type: object
    properties:
      platforms:
        $ref: '#/definitions/EnvironmentPlatforms'
        description: Information about supported platforms for Docker images that are managed by AWS CodeBuild.
  ListCuratedEnvironmentImagesInput:
    type: object
    properties: {}
  ListProjectsOutput:
    type: object
    properties:
      nextToken:
        $ref: '#/definitions/String'
        description: 'If there are more than 100 items in the list, only the first 100 items are returned, along with a unique string called a <i>nextToken</i>. To get the next batch of items in the list, call this operation again, adding the next token to the call.'
      projects:
        $ref: '#/definitions/ProjectNames'
        description: 'The list of build project names, with each build project name representing a single build project.'
  ListProjectsInput:
    type: object
    properties:
      sortBy:
        $ref: '#/definitions/ProjectSortByType'
        description: '<p>The criterion to be used to list build project names. Valid values include:</p> <ul> <li> <p> <code>CREATED_TIME</code>: List based on when each build project was created.</p> </li> <li> <p> <code>LAST_MODIFIED_TIME</code>: List based on when information about each build project was last changed.</p> </li> <li> <p> <code>NAME</code>: List based on each build project''s name.</p> </li> </ul> <p>Use <code>sortOrder</code> to specify in what order to list the build project names based on the preceding criteria.</p>'
      sortOrder:
        $ref: '#/definitions/SortOrderType'
        description: '<p>The order in which to list build projects. Valid values include:</p> <ul> <li> <p> <code>ASCENDING</code>: List in ascending order.</p> </li> <li> <p> <code>DESCENDING</code>: List in descending order.</p> </li> </ul> <p>Use <code>sortBy</code> to specify the criterion to be used to list build project names.</p>'
      nextToken:
        $ref: '#/definitions/NonEmptyString'
        description: 'During a previous call, if there are more than 100 items in the list, only the first 100 items are returned, along with a unique string called a <i>nextToken</i>. To get the next batch of items in the list, call this operation again, adding the next token to the call. To get all of the items in the list, keep calling this operation with each subsequent next token that is returned, until no more next tokens are returned.'
  ListReportGroupsOutput:
    type: object
    properties:
      nextToken:
        $ref: '#/definitions/String'
        description: ' During a previous call, the maximum number of items that can be returned is the value specified in <code>maxResults</code>. If there more items in the list, then a unique string called a <i>nextToken</i> is returned. To get the next batch of items in the list, call this operation again, adding the next token to the call. To get all of the items in the list, keep calling this operation with each subsequent next token that is returned, until no more next tokens are returned. '
      reportGroups:
        $ref: '#/definitions/ReportGroupArns'
        description: ' The list of ARNs for the report groups in the current AWS account. '
  ListReportGroupsInput:
    type: object
    properties:
      sortOrder:
        $ref: '#/definitions/SortOrderType'
        description: ' Used to specify the order to sort the list of returned report groups. Valid values are <code>ASCENDING</code> and <code>DESCENDING</code>. '
      sortBy:
        $ref: '#/definitions/ReportGroupSortByType'
        description: '<p> The criterion to be used to list build report groups. Valid values include: </p> <ul> <li> <p> <code>CREATED_TIME</code>: List based on when each report group was created.</p> </li> <li> <p> <code>LAST_MODIFIED_TIME</code>: List based on when each report group was last changed.</p> </li> <li> <p> <code>NAME</code>: List based on each report group''s name.</p> </li> </ul>'
      nextToken:
        $ref: '#/definitions/String'
        description: ' During a previous call, the maximum number of items that can be returned is the value specified in <code>maxResults</code>. If there more items in the list, then a unique string called a <i>nextToken</i> is returned. To get the next batch of items in the list, call this operation again, adding the next token to the call. To get all of the items in the list, keep calling this operation with each subsequent next token that is returned, until no more next tokens are returned. '
      maxResults:
        $ref: '#/definitions/PageSize'
        description: ' The maximum number of paginated report groups returned per response. Use <code>nextToken</code> to iterate pages in the list of returned <code>ReportGroup</code> objects. The default value is 100. '
  ListReportsOutput:
    type: object
    properties:
      nextToken:
        $ref: '#/definitions/String'
        description: ' During a previous call, the maximum number of items that can be returned is the value specified in <code>maxResults</code>. If there more items in the list, then a unique string called a <i>nextToken</i> is returned. To get the next batch of items in the list, call this operation again, adding the next token to the call. To get all of the items in the list, keep calling this operation with each subsequent next token that is returned, until no more next tokens are returned. '
      reports:
        $ref: '#/definitions/ReportArns'
        description: ' The list of returned ARNs for the reports in the current AWS account. '
  ListReportsInput:
    type: object
    properties:
      sortOrder:
        $ref: '#/definitions/SortOrderType'
        description: '<p> Specifies the sort order for the list of returned reports. Valid values are: </p> <ul> <li> <p> <code>ASCENDING</code>: return reports in chronological order based on their creation date. </p> </li> <li> <p> <code>DESCENDING</code>: return reports in the reverse chronological order based on their creation date. </p> </li> </ul>'
      nextToken:
        $ref: '#/definitions/String'
        description: ' During a previous call, the maximum number of items that can be returned is the value specified in <code>maxResults</code>. If there more items in the list, then a unique string called a <i>nextToken</i> is returned. To get the next batch of items in the list, call this operation again, adding the next token to the call. To get all of the items in the list, keep calling this operation with each subsequent next token that is returned, until no more next tokens are returned. '
      maxResults:
        $ref: '#/definitions/PageSize'
        description: ' The maximum number of paginated reports returned per response. Use <code>nextToken</code> to iterate pages in the list of returned <code>Report</code> objects. The default value is 100. '
      filter:
        $ref: '#/definitions/ReportFilter'
        description: ' A <code>ReportFilter</code> object used to filter the returned reports. '
  ListReportsForReportGroupOutput:
    type: object
    properties:
      nextToken:
        $ref: '#/definitions/String'
        description: ' During a previous call, the maximum number of items that can be returned is the value specified in <code>maxResults</code>. If there more items in the list, then a unique string called a <i>nextToken</i> is returned. To get the next batch of items in the list, call this operation again, adding the next token to the call. To get all of the items in the list, keep calling this operation with each subsequent next token that is returned, until no more next tokens are returned. '
      reports:
        $ref: '#/definitions/ReportArns'
        description: ' The list of returned report group ARNs. '
  ListReportsForReportGroupInput:
    type: object
    required:
      - reportGroupArn
    properties:
      reportGroupArn:
        $ref: '#/definitions/String'
        description: ' The ARN of the report group for which you want to return report ARNs. '
      nextToken:
        $ref: '#/definitions/String'
        description: ' During a previous call, the maximum number of items that can be returned is the value specified in <code>maxResults</code>. If there more items in the list, then a unique string called a <i>nextToken</i> is returned. To get the next batch of items in the list, call this operation again, adding the next token to the call. To get all of the items in the list, keep calling this operation with each subsequent next token that is returned, until no more next tokens are returned. '
      sortOrder:
        $ref: '#/definitions/SortOrderType'
        description: ' Use to specify whether the results are returned in ascending or descending order. '
      maxResults:
        $ref: '#/definitions/PageSize'
        description: ' The maximum number of paginated reports in this report group returned per response. Use <code>nextToken</code> to iterate pages in the list of returned <code>Report</code> objects. The default value is 100. '
      filter:
        $ref: '#/definitions/ReportFilter'
        description: ' A <code>ReportFilter</code> object used to filter the returned reports. '
  ListSharedProjectsOutput:
    type: object
    properties:
      nextToken:
        $ref: '#/definitions/String'
        description: ' During a previous call, the maximum number of items that can be returned is the value specified in <code>maxResults</code>. If there more items in the list, then a unique string called a <i>nextToken</i> is returned. To get the next batch of items in the list, call this operation again, adding the next token to the call. To get all of the items in the list, keep calling this operation with each subsequent next token that is returned, until no more next tokens are returned. '
      projects:
        $ref: '#/definitions/ProjectArns'
        description: ' The list of ARNs for the build projects shared with the current AWS account or user. '
  ListSharedProjectsInput:
    type: object
    properties:
      sortBy:
        $ref: '#/definitions/SharedResourceSortByType'
        description: '<p> The criterion to be used to list build projects shared with the current AWS account or user. Valid values include: </p> <ul> <li> <p> <code>ARN</code>: List based on the ARN. </p> </li> <li> <p> <code>MODIFIED_TIME</code>: List based on when information about the shared project was last changed. </p> </li> </ul>'
      sortOrder:
        $ref: '#/definitions/SortOrderType'
        description: '<p>The order in which to list shared build projects. Valid values include:</p> <ul> <li> <p> <code>ASCENDING</code>: List in ascending order.</p> </li> <li> <p> <code>DESCENDING</code>: List in descending order.</p> </li> </ul>'
      maxResults:
        $ref: '#/definitions/PageSize'
        description: ' The maximum number of paginated shared build projects returned per response. Use <code>nextToken</code> to iterate pages in the list of returned <code>Project</code> objects. The default value is 100. '
      nextToken:
        $ref: '#/definitions/NonEmptyString'
        description: ' During a previous call, the maximum number of items that can be returned is the value specified in <code>maxResults</code>. If there more items in the list, then a unique string called a <i>nextToken</i> is returned. To get the next batch of items in the list, call this operation again, adding the next token to the call. To get all of the items in the list, keep calling this operation with each subsequent next token that is returned, until no more next tokens are returned. '
  ListSharedReportGroupsOutput:
    type: object
    properties:
      nextToken:
        $ref: '#/definitions/String'
        description: ' During a previous call, the maximum number of items that can be returned is the value specified in <code>maxResults</code>. If there more items in the list, then a unique string called a <i>nextToken</i> is returned. To get the next batch of items in the list, call this operation again, adding the next token to the call. To get all of the items in the list, keep calling this operation with each subsequent next token that is returned, until no more next tokens are returned. '
      reportGroups:
        $ref: '#/definitions/ReportGroupArns'
        description: ' The list of ARNs for the report groups shared with the current AWS account or user. '
  ListSharedReportGroupsInput:
    type: object
    properties:
      sortOrder:
        $ref: '#/definitions/SortOrderType'
        description: '<p>The order in which to list shared report groups. Valid values include:</p> <ul> <li> <p> <code>ASCENDING</code>: List in ascending order.</p> </li> <li> <p> <code>DESCENDING</code>: List in descending order.</p> </li> </ul>'
      sortBy:
        $ref: '#/definitions/SharedResourceSortByType'
        description: '<p> The criterion to be used to list report groups shared with the current AWS account or user. Valid values include: </p> <ul> <li> <p> <code>ARN</code>: List based on the ARN. </p> </li> <li> <p> <code>MODIFIED_TIME</code>: List based on when information about the shared report group was last changed. </p> </li> </ul>'
      nextToken:
        $ref: '#/definitions/String'
        description: ' During a previous call, the maximum number of items that can be returned is the value specified in <code>maxResults</code>. If there more items in the list, then a unique string called a <i>nextToken</i> is returned. To get the next batch of items in the list, call this operation again, adding the next token to the call. To get all of the items in the list, keep calling this operation with each subsequent next token that is returned, until no more next tokens are returned. '
      maxResults:
        $ref: '#/definitions/PageSize'
        description: ' The maximum number of paginated shared report groups per response. Use <code>nextToken</code> to iterate pages in the list of returned <code>ReportGroup</code> objects. The default value is 100. '
  ListSourceCredentialsOutput:
    type: object
    properties:
      sourceCredentialsInfos:
        $ref: '#/definitions/SourceCredentialsInfos'
        description: ' A list of <code>SourceCredentialsInfo</code> objects. Each <code>SourceCredentialsInfo</code> object includes the authentication type, token ARN, and type of source provider for one set of credentials. '
  ListSourceCredentialsInput:
    type: object
    properties: {}
  PutResourcePolicyOutput:
    type: object
    properties:
      resourceArn:
        $ref: '#/definitions/NonEmptyString'
        description: ' The ARN of the <code>Project</code> or <code>ReportGroup</code> resource that is associated with a resource policy. '
  PutResourcePolicyInput:
    type: object
    required:
      - policy
      - resourceArn
    properties:
      policy:
        $ref: '#/definitions/NonEmptyString'
        description: ' A JSON-formatted resource policy. For more information, see <a href="https://docs.aws.amazon.com/codebuild/latest/userguide/project-sharing.html#project-sharing-share">Sharing a Project</a> and <a href="https://docs.aws.amazon.com/codebuild/latest/userguide/report-groups-sharing.html#report-groups-sharing-share">Sharing a Report Group</a> in the <i>AWS CodeBuild User Guide</i>. '
      resourceArn:
        $ref: '#/definitions/NonEmptyString'
        description: ' The ARN of the <code>Project</code> or <code>ReportGroup</code> resource you want to associate with a resource policy. '
  StartBuildOutput:
    type: object
    properties:
      build:
        $ref: '#/definitions/Build'
        description: Information about the build to be run.
  StartBuildInput:
    type: object
    required:
      - projectName
    properties:
      projectName:
        $ref: '#/definitions/NonEmptyString'
        description: The name of the AWS CodeBuild build project to start running a build.
      secondarySourcesOverride:
        $ref: '#/definitions/ProjectSources'
        description: ' An array of <code>ProjectSource</code> objects. '
      secondarySourcesVersionOverride:
        $ref: '#/definitions/ProjectSecondarySourceVersions'
        description: ' An array of <code>ProjectSourceVersion</code> objects that specify one or more versions of the project''s secondary sources to be used for this build only. '
      sourceVersion:
        $ref: '#/definitions/String'
        description: '<p>A version of the build input to be built, for this build only. If not specified, the latest version is used. If specified, must be one of:</p> <ul> <li> <p>For AWS CodeCommit: the commit ID, branch, or Git tag to use.</p> </li> <li> <p>For GitHub: the commit ID, pull request ID, branch name, or tag name that corresponds to the version of the source code you want to build. If a pull request ID is specified, it must use the format <code>pr/pull-request-ID</code> (for example <code>pr/25</code>). If a branch name is specified, the branch''s HEAD commit ID is used. If not specified, the default branch''s HEAD commit ID is used.</p> </li> <li> <p>For Bitbucket: the commit ID, branch name, or tag name that corresponds to the version of the source code you want to build. If a branch name is specified, the branch''s HEAD commit ID is used. If not specified, the default branch''s HEAD commit ID is used.</p> </li> <li> <p>For Amazon Simple Storage Service (Amazon S3): the version ID of the object that represents the build input ZIP file to use.</p> </li> </ul> <p> If <code>sourceVersion</code> is specified at the project level, then this <code>sourceVersion</code> (at the build level) takes precedence. </p> <p> For more information, see <a href="https://docs.aws.amazon.com/codebuild/latest/userguide/sample-source-version.html">Source Version Sample with CodeBuild</a> in the <i>AWS CodeBuild User Guide</i>. </p>'
      artifactsOverride:
        $ref: '#/definitions/ProjectArtifacts'
        description: 'Build output artifact settings that override, for this build only, the latest ones already defined in the build project.'
      secondaryArtifactsOverride:
        $ref: '#/definitions/ProjectArtifactsList'
        description: ' An array of <code>ProjectArtifacts</code> objects. '
      environmentVariablesOverride:
        $ref: '#/definitions/EnvironmentVariables'
        description: 'A set of environment variables that overrides, for this build only, the latest ones already defined in the build project.'
      sourceTypeOverride:
        $ref: '#/definitions/SourceType'
        description: 'A source input type, for this build, that overrides the source input defined in the build project.'
      sourceLocationOverride:
        $ref: '#/definitions/String'
        description: 'A location that overrides, for this build, the source location for the one defined in the build project.'
      sourceAuthOverride:
        $ref: '#/definitions/SourceAuth'
        description: An authorization type for this build that overrides the one defined in the build project. This override applies only if the build project's source is BitBucket or GitHub.
      gitCloneDepthOverride:
        $ref: '#/definitions/GitCloneDepth'
        description: 'The user-defined depth of history, with a minimum value of 0, that overrides, for this build only, any previous depth of history defined in the build project.'
      gitSubmodulesConfigOverride:
        $ref: '#/definitions/GitSubmodulesConfig'
        description: ' Information about the Git submodules configuration for this build of an AWS CodeBuild build project. '
      buildspecOverride:
        $ref: '#/definitions/String'
        description: 'A build spec declaration that overrides, for this build only, the latest one already defined in the build project.'
      insecureSslOverride:
        $ref: '#/definitions/WrapperBoolean'
        description: Enable this flag to override the insecure SSL setting that is specified in the build project. The insecure SSL setting determines whether to ignore SSL warnings while connecting to the project source code. This override applies only if the build's source is GitHub Enterprise.
      reportBuildStatusOverride:
        $ref: '#/definitions/WrapperBoolean'
        description: '<p> Set to true to report to your source provider the status of a build''s start and completion. If you use this option with a source provider other than GitHub, GitHub Enterprise, or Bitbucket, an invalidInputException is thrown. </p> <note> <p> The status of a build triggered by a webhook is always reported to your source provider. </p> </note>'
      environmentTypeOverride:
        $ref: '#/definitions/EnvironmentType'
        description: A container type for this build that overrides the one specified in the build project.
      imageOverride:
        $ref: '#/definitions/NonEmptyString'
        description: The name of an image for this build that overrides the one specified in the build project.
      computeTypeOverride:
        $ref: '#/definitions/ComputeType'
[...]
