swagger: '2.0'
info:
  version: '2016-10-06'
  x-release: v4
  title: AWS CodeBuild
  description: '<fullname>AWS CodeBuild</fullname> <p>AWS CodeBuild is a fully managed build service in the cloud. AWS CodeBuild compiles your source code, runs unit tests, and produces artifacts that are ready to deploy. AWS CodeBuild eliminates the need to provision, manage, and scale your own build servers. It provides prepackaged build environments for the most popular programming languages and build tools, such as Apache Maven, Gradle, and more. You can also fully customize build environments in AWS CodeBuild to use your own build tools. AWS CodeBuild scales automatically to meet peak build requests. You pay only for the build time you consume. For more information about AWS CodeBuild, see the <i>AWS CodeBuild User Guide</i>.</p> <p>AWS CodeBuild supports these operations:</p> <ul> <li> <p> <code>BatchDeleteBuilds</code>: Deletes one or more builds.</p> </li> <li> <p> <code>BatchGetProjects</code>: Gets information about one or more build projects. A <i>build project</i> defines how AWS CodeBuild runs a build. This includes information such as where to get the source code to build, the build environment to use, the build commands to run, and where to store the build output. A <i>build environment</i> is a representation of operating system, programming language runtime, and tools that AWS CodeBuild uses to run a build. You can add tags to build projects to help manage your resources and costs.</p> </li> <li> <p> <code>CreateProject</code>: Creates a build project.</p> </li> <li> <p> <code>CreateWebhook</code>: For an existing AWS CodeBuild build project that has its source code stored in a GitHub or Bitbucket repository, enables AWS CodeBuild to start rebuilding the source code every time a code change is pushed to the repository.</p> </li> <li> <p> <code>UpdateWebhook</code>: Changes the settings of an existing webhook.</p> </li> <li> <p> <code>DeleteProject</code>: Deletes a build project.</p> </li> <li> <p> <code>DeleteWebhook</code>: For an existing AWS CodeBuild build project that has its source code stored in a GitHub or Bitbucket repository, stops AWS CodeBuild from rebuilding the source code every time a code change is pushed to the repository.</p> </li> <li> <p> <code>ListProjects</code>: Gets a list of build project names, with each build project name representing a single build project.</p> </li> <li> <p> <code>UpdateProject</code>: Changes the settings of an existing build project.</p> </li> <li> <p> <code>BatchGetBuilds</code>: Gets information about one or more builds.</p> </li> <li> <p> <code>ListBuilds</code>: Gets a list of build IDs, with each build ID representing a single build.</p> </li> <li> <p> <code>ListBuildsForProject</code>: Gets a list of build IDs for the specified build project, with each build ID representing a single build.</p> </li> <li> <p> <code>StartBuild</code>: Starts running a build.</p> </li> <li> <p> <code>StopBuild</code>: Attempts to stop running a build.</p> </li> <li> <p> <code>ListCuratedEnvironmentImages</code>: Gets information about Docker images that are managed by AWS CodeBuild.</p> </li> <li> <p> <code>DeleteSourceCredentials</code>: Deletes a set of GitHub, GitHub Enterprise, or Bitbucket source credentials.</p> </li> <li> <p> <code>ImportSourceCredentials</code>: Imports the source repository credentials for an AWS CodeBuild project that has its source code stored in a GitHub, GitHub Enterprise, or Bitbucket repository.</p> </li> <li> <p> <code>ListSourceCredentials</code>: Returns a list of <code>SourceCredentialsInfo</code> objects. Each <code>SourceCredentialsInfo</code> object includes the authentication type, token ARN, and type of source provider for one set of credentials.</p> </li> </ul>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: codebuild
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/codebuild-2016-10-06.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/codebuild/'
host: codebuild.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: query
    type: string
    required: true
  Version:
    name: Version
    in: query
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /:
    post:
      operationId: BatchDeleteBuilds
      description: Deletes one or more builds.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchDeleteBuildsOutput'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BatchDeleteBuildsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#BatchGetBuilds':
    post:
      operationId: BatchGetBuilds
      description: Gets information about builds.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchGetBuildsOutput'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BatchGetBuildsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#BatchGetProjects':
    post:
      operationId: BatchGetProjects
      description: Gets information about build projects.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchGetProjectsOutput'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BatchGetProjectsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateProject':
    post:
      operationId: CreateProject
      description: Creates a build project.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateProjectOutput'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '482':
          description: AccountLimitExceededException
          schema:
            $ref: '#/definitions/AccountLimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateProjectInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateWebhook':
    post:
      operationId: CreateWebhook
      description: '<p>For an existing AWS CodeBuild build project that has its source code stored in a GitHub or Bitbucket repository, enables AWS CodeBuild to start rebuilding the source code every time a code change is pushed to the repository.</p> <important> <p>If you enable webhooks for an AWS CodeBuild project, and the project is used as a build step in AWS CodePipeline, then two identical builds are created for each commit. One build is triggered through webhooks, and one through AWS CodePipeline. Because billing is on a per-build basis, you are billed for both builds. Therefore, if you are using AWS CodePipeline, we recommend that you disable webhooks in AWS CodeBuild. In the AWS CodeBuild console, clear the Webhook box. For more information, see step 5 in <a href="http://docs.aws.amazon.com/codebuild/latest/userguide/change-project.html#change-project-console">Change a Build Project''s Settings</a>.</p> </important>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateWebhookOutput'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: OAuthProviderException
          schema:
            $ref: '#/definitions/OAuthProviderException'
        '482':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateWebhookInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteProject':
    post:
      operationId: DeleteProject
      description: Deletes a build project.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteProjectOutput'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteProjectInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteSourceCredentials':
    post:
      operationId: DeleteSourceCredentials
      description: ' Deletes a set of GitHub, GitHub Enterprise, or Bitbucket source credentials. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteSourceCredentialsOutput'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteSourceCredentialsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteWebhook':
    post:
      operationId: DeleteWebhook
      description: 'For an existing AWS CodeBuild build project that has its source code stored in a GitHub or Bitbucket repository, stops AWS CodeBuild from rebuilding the source code every time a code change is pushed to the repository.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteWebhookOutput'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: OAuthProviderException
          schema:
            $ref: '#/definitions/OAuthProviderException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteWebhookInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ImportSourceCredentials':
    post:
      operationId: ImportSourceCredentials
      description: ' Imports the source repository credentials for an AWS CodeBuild project that has its source code stored in a GitHub, GitHub Enterprise, or Bitbucket repository. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ImportSourceCredentialsOutput'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: AccountLimitExceededException
          schema:
            $ref: '#/definitions/AccountLimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ImportSourceCredentialsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#InvalidateProjectCache':
    post:
      operationId: InvalidateProjectCache
      description: Resets the cache for a project.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/InvalidateProjectCacheOutput'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/InvalidateProjectCacheInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListBuilds':
    post:
      operationId: ListBuilds
      description: 'Gets a list of build IDs, with each build ID representing a single build.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListBuildsOutput'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListBuildsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListBuildsForProject':
    post:
      operationId: ListBuildsForProject
      description: 'Gets a list of build IDs for the specified build project, with each build ID representing a single build.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListBuildsForProjectOutput'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListBuildsForProjectInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListCuratedEnvironmentImages':
    post:
      operationId: ListCuratedEnvironmentImages
      description: Gets information about Docker images that are managed by AWS CodeBuild.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListCuratedEnvironmentImagesOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListCuratedEnvironmentImagesInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListProjects':
    post:
      operationId: ListProjects
      description: 'Gets a list of build project names, with each build project name representing a single build project.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListProjectsOutput'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListProjectsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListSourceCredentials':
    post:
      operationId: ListSourceCredentials
      description: ' Returns a list of <code>SourceCredentialsInfo</code> objects. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListSourceCredentialsOutput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListSourceCredentialsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#StartBuild':
    post:
      operationId: StartBuild
      description: Starts running a build.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartBuildOutput'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: AccountLimitExceededException
          schema:
            $ref: '#/definitions/AccountLimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StartBuildInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#StopBuild':
    post:
      operationId: StopBuild
      description: Attempts to stop running a build.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopBuildOutput'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StopBuildInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#UpdateProject':
    post:
      operationId: UpdateProject
      description: Changes the settings of a build project.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateProjectOutput'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateProjectInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#UpdateWebhook':
    post:
      operationId: UpdateWebhook
      description: '<p> Updates the webhook associated with an AWS CodeBuild build project. </p> <note> <p> If you use Bitbucket for your repository, <code>rotateSecret</code> is ignored. </p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateWebhookOutput'
        '480':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: OAuthProviderException
          schema:
            $ref: '#/definitions/OAuthProviderException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateWebhookInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  BatchDeleteBuildsOutput:
    type: object
    properties:
      buildsDeleted:
        $ref: '#/definitions/BuildIds'
        description: The IDs of the builds that were successfully deleted.
      buildsNotDeleted:
        $ref: '#/definitions/BuildsNotDeleted'
        description: Information about any builds that could not be successfully deleted.
  BatchDeleteBuildsInput:
    type: object
    required:
      - ids
    properties:
      ids:
        $ref: '#/definitions/BuildIds'
        description: The IDs of the builds to delete.
  InvalidInputException: {}
  BatchGetBuildsOutput:
    type: object
    example:
      builds:
        - arn: 'arn:aws:codebuild:us-east-1:123456789012:build/codebuild-demo-project:9b0ac37f-d19e-4254-9079-f47e9a389eEX'
          artifacts:
            location: 'arn:aws:s3:::codebuild-123456789012-output-bucket/codebuild-demo-project'
          buildComplete: true
          buildStatus: SUCCEEDED
          currentPhase: COMPLETED
          endTime: 1479832474.764
          environment:
            type: LINUX_CONTAINER
            computeType: BUILD_GENERAL1_SMALL
            environmentVariables: []
            image: 'aws/codebuild/java:openjdk-8'
            privilegedMode: false
          id: 'codebuild-demo-project:9b0ac37f-d19e-4254-9079-f47e9a389eEX'
          initiator: MyDemoUser
          logs:
            deepLink: 'https://console.aws.amazon.com/cloudwatch/home?region=us-east-1#logEvent:group=/aws/codebuild/codebuild-demo-project;stream=9b0ac37f-d19e-4254-9079-f47e9a389eEX'
            groupName: /aws/codebuild/codebuild-demo-project
            streamName: 9b0ac37f-d19e-4254-9079-f47e9a389eEX
          phases:
            - durationInSeconds: 0
              endTime: 1479832342.23
              phaseStatus: SUCCEEDED
              phaseType: SUBMITTED
              startTime: 1479832341.854
            - contexts: []
              durationInSeconds: 72
              endTime: 1479832415.064
              phaseStatus: SUCCEEDED
              phaseType: PROVISIONING
              startTime: 1479832342.23
            - contexts: []
              durationInSeconds: 46
              endTime: 1479832461.261
              phaseStatus: SUCCEEDED
              phaseType: DOWNLOAD_SOURCE
              startTime: 1479832415.064
            - contexts: []
              durationInSeconds: 0
              endTime: 1479832461.354
              phaseStatus: SUCCEEDED
              phaseType: INSTALL
              startTime: 1479832461.261
            - contexts: []
              durationInSeconds: 0
              endTime: 1479832461.448
              phaseStatus: SUCCEEDED
              phaseType: PRE_BUILD
              startTime: 1479832461.354
            - contexts: []
              durationInSeconds: 9
              endTime: 1479832471.115
              phaseStatus: SUCCEEDED
              phaseType: BUILD
              startTime: 1479832461.448
            - contexts: []
              durationInSeconds: 0
              endTime: 1479832471.224
              phaseStatus: SUCCEEDED
              phaseType: POST_BUILD
              startTime: 1479832471.115
            - contexts: []
              durationInSeconds: 0
              endTime: 1479832471.791
              phaseStatus: SUCCEEDED
              phaseType: UPLOAD_ARTIFACTS
              startTime: 1479832471.224
            - contexts: []
              durationInSeconds: 2
              endTime: 1479832474.764
              phaseStatus: SUCCEEDED
              phaseType: FINALIZING
              startTime: 1479832471.791
            - phaseType: COMPLETED
              startTime: 1479832474.764
          projectName: codebuild-demo-project
          source:
            type: S3
            buildspec: ''
            location: 'arn:aws:s3:::codebuild-123456789012-input-bucket/MessageUtil.zip'
          startTime: 1479832341.854
          timeoutInMinutes: 60
        - arn: 'arn:aws:codebuild:us-east-1:123456789012:build/codebuild-demo-project:b79a46f7-1473-4636-a23f-da9c45c208EX'
          artifacts:
            location: 'arn:aws:s3:::codebuild-123456789012-output-bucket/codebuild-demo-project'
          buildComplete: true
          buildStatus: SUCCEEDED
          currentPhase: COMPLETED
          endTime: 1479401214.239
          environment:
            type: LINUX_CONTAINER
            computeType: BUILD_GENERAL1_SMALL
            environmentVariables: []
            image: 'aws/codebuild/java:openjdk-8'
            privilegedMode: false
          id: 'codebuild-demo-project:b79a46f7-1473-4636-a23f-da9c45c208EX'
          initiator: MyDemoUser
          logs:
            deepLink: 'https://console.aws.amazon.com/cloudwatch/home?region=us-east-1#logEvent:group=/aws/codebuild/codebuild-demo-project;stream=b79a46f7-1473-4636-a23f-da9c45c208EX'
            groupName: /aws/codebuild/codebuild-demo-project
            streamName: b79a46f7-1473-4636-a23f-da9c45c208EX
          phases:
            - durationInSeconds: 0
              endTime: 1479401082.342
              phaseStatus: SUCCEEDED
              phaseType: SUBMITTED
              startTime: 1479401081.869
            - contexts: []
              durationInSeconds: 71
              endTime: 1479401154.129
              phaseStatus: SUCCEEDED
              phaseType: PROVISIONING
              startTime: 1479401082.342
            - contexts: []
              durationInSeconds: 45
              endTime: 1479401199.136
              phaseStatus: SUCCEEDED
              phaseType: DOWNLOAD_SOURCE
              startTime: 1479401154.129
            - contexts: []
              durationInSeconds: 0
              endTime: 1479401199.236
              phaseStatus: SUCCEEDED
              phaseType: INSTALL
              startTime: 1479401199.136
            - contexts: []
              durationInSeconds: 0
              endTime: 1479401199.345
              phaseStatus: SUCCEEDED
              phaseType: PRE_BUILD
              startTime: 1479401199.236
            - contexts: []
              durationInSeconds: 9
              endTime: 1479401208.68
              phaseStatus: SUCCEEDED
              phaseType: BUILD
              startTime: 1479401199.345
            - contexts: []
              durationInSeconds: 0
              endTime: 1479401208.783
              phaseStatus: SUCCEEDED
              phaseType: POST_BUILD
              startTime: 1479401208.68
            - contexts: []
              durationInSeconds: 0
              endTime: 1479401209.463
              phaseStatus: SUCCEEDED
              phaseType: UPLOAD_ARTIFACTS
              startTime: 1479401208.783
            - contexts: []
              durationInSeconds: 4
              endTime: 1479401214.239
              phaseStatus: SUCCEEDED
              phaseType: FINALIZING
              startTime: 1479401209.463
            - phaseType: COMPLETED
              startTime: 1479401214.239
          projectName: codebuild-demo-project
          source:
            type: S3
            location: 'arn:aws:s3:::codebuild-123456789012-input-bucket/MessageUtil.zip'
          startTime: 1479401081.869
          timeoutInMinutes: 60
    properties:
      builds:
        $ref: '#/definitions/Builds'
        description: Information about the requested builds.
      buildsNotFound:
        $ref: '#/definitions/BuildIds'
        description: The IDs of builds for which information could not be found.
  BatchGetBuildsInput:
    type: object
    required:
      - ids
    example:
      ids:
        - 'codebuild-demo-project:9b0ac37f-d19e-4254-9079-f47e9a389eEX'
        - 'codebuild-demo-project:b79a46f7-1473-4636-a23f-da9c45c208EX'
    properties:
      ids:
        $ref: '#/definitions/BuildIds'
        description: The IDs of the builds.
  BatchGetProjectsOutput:
    type: object
    properties:
      projects:
        $ref: '#/definitions/Projects'
        description: Information about the requested build projects.
      projectsNotFound:
        $ref: '#/definitions/ProjectNames'
        description: The names of build projects for which information could not be found.
  BatchGetProjectsInput:
    type: object
    required:
      - names
    properties:
      names:
        $ref: '#/definitions/ProjectNames'
        description: The names of the build projects.
  CreateProjectOutput:
    type: object
    properties:
      project:
        $ref: '#/definitions/Project'
        description: Information about the build project that was created.
  CreateProjectInput:
    type: object
    required:
      - name
      - source
      - artifacts
      - environment
      - serviceRole
    properties:
      name:
        $ref: '#/definitions/ProjectName'
        description: The name of the build project.
      description:
        $ref: '#/definitions/ProjectDescription'
        description: A description that makes the build project easy to identify.
      source:
        $ref: '#/definitions/ProjectSource'
        description: Information about the build input source code for the build project.
      secondarySources:
        $ref: '#/definitions/ProjectSources'
        description: ' An array of <code>ProjectSource</code> objects. '
      artifacts:
        $ref: '#/definitions/ProjectArtifacts'
        description: Information about the build output artifacts for the build project.
      secondaryArtifacts:
        $ref: '#/definitions/ProjectArtifactsList'
        description: ' An array of <code>ProjectArtifacts</code> objects. '
      cache:
        $ref: '#/definitions/ProjectCache'
        description: Stores recently used information so that it can be quickly accessed at a later time.
      environment:
        $ref: '#/definitions/ProjectEnvironment'
        description: Information about the build environment for the build project.
      serviceRole:
        $ref: '#/definitions/NonEmptyString'
        description: The ARN of the AWS Identity and Access Management (IAM) role that enables AWS CodeBuild to interact with dependent AWS services on behalf of the AWS account.
      timeoutInMinutes:
        $ref: '#/definitions/TimeOut'
        description: 'How long, in minutes, from 5 to 480 (8 hours), for AWS CodeBuild to wait before it times out any build that has not been marked as completed. The default is 60 minutes.'
      queuedTimeoutInMinutes:
        $ref: '#/definitions/TimeOut'
        description: ' The number of minutes a build is allowed to be queued before it times out. '
      encryptionKey:
        $ref: '#/definitions/NonEmptyString'
        description: '<p>The AWS Key Management Service (AWS KMS) customer master key (CMK) to be used for encrypting the build output artifacts.</p> <p>You can specify either the Amazon Resource Name (ARN) of the CMK or, if available, the CMK''s alias (using the format <code>alias/<i>alias-name</i> </code>).</p>'
      tags:
        $ref: '#/definitions/TagList'
        description: <p>A set of tags for this build project.</p> <p>These tags are available for use by AWS services that support AWS CodeBuild build project tags.</p>
      vpcConfig:
        $ref: '#/definitions/VpcConfig'
        description: VpcConfig enables AWS CodeBuild to access resources in an Amazon VPC.
      badgeEnabled:
        $ref: '#/definitions/WrapperBoolean'
        description: Set this to true to generate a publicly accessible URL for your project's build badge.
      logsConfig:
        $ref: '#/definitions/LogsConfig'
        description: ' Information about logs for the build project. These can be logs in Amazon CloudWatch Logs, logs uploaded to a specified S3 bucket, or both. '
  ResourceAlreadyExistsException: {}
  AccountLimitExceededException: {}
  CreateWebhookOutput:
    type: object
    properties:
      webhook:
        $ref: '#/definitions/Webhook'
        description: Information about a webhook that connects repository events to a build project in AWS CodeBuild.
  CreateWebhookInput:
    type: object
    required:
      - projectName
    properties:
      projectName:
        $ref: '#/definitions/ProjectName'
        description: The name of the AWS CodeBuild project.
      branchFilter:
        $ref: '#/definitions/String'
        description: 'A regular expression used to determine which repository branches are built when a webhook is triggered. If the name of a branch matches the regular expression, then it is built. If <code>branchFilter</code> is empty, then all branches are built.'
  OAuthProviderException: {}
  ResourceNotFoundException: {}
  DeleteProjectOutput:
    type: object
    properties: {}
  DeleteProjectInput:
    type: object
    required:
      - name
    properties:
      name:
        $ref: '#/definitions/NonEmptyString'
        description: The name of the build project.
  DeleteSourceCredentialsOutput:
    type: object
    properties:
      arn:
        $ref: '#/definitions/NonEmptyString'
        description: ' The Amazon Resource Name (ARN) of the token. '
  DeleteSourceCredentialsInput:
    type: object
    required:
      - arn
    properties:
      arn:
        $ref: '#/definitions/NonEmptyString'
        description: ' The Amazon Resource Name (ARN) of the token.'
  DeleteWebhookOutput:
    type: object
    properties: {}
  DeleteWebhookInput:
    type: object
    required:
      - projectName
    properties:
      projectName:
        $ref: '#/definitions/ProjectName'
        description: The name of the AWS CodeBuild project.
  ImportSourceCredentialsOutput:
    type: object
    properties:
      arn:
        $ref: '#/definitions/NonEmptyString'
        description: ' The Amazon Resource Name (ARN) of the token. '
  ImportSourceCredentialsInput:
    type: object
    required:
      - token
      - serverType
      - authType
    properties:
      username:
        $ref: '#/definitions/NonEmptyString'
        description: ' The Bitbucket username when the <code>authType</code> is BASIC_AUTH. This parameter is not valid for other types of source providers or connections. '
      token:
        $ref: '#/definitions/SensitiveNonEmptyString'
        description: ' For GitHub or GitHub Enterprise, this is the personal access token. For Bitbucket, this is the app password. '
      serverType:
        $ref: '#/definitions/ServerType'
        description: ' The source provider used for this project. '
      authType:
        $ref: '#/definitions/AuthType'
        description: ' The type of authentication used to connect to a GitHub, GitHub Enterprise, or Bitbucket repository. An OAUTH connection is not supported by the API and must be created using the AWS CodeBuild console. '
  InvalidateProjectCacheOutput:
    type: object
    properties: {}
  InvalidateProjectCacheInput:
    type: object
    required:
      - projectName
    properties:
      projectName:
        $ref: '#/definitions/NonEmptyString'
        description: The name of the AWS CodeBuild build project that the cache is reset for.
  ListBuildsOutput:
    type: object
    properties:
      ids:
        $ref: '#/definitions/BuildIds'
        description: 'A list of build IDs, with each build ID representing a single build.'
      nextToken:
        $ref: '#/definitions/String'
        description: 'If there are more than 100 items in the list, only the first 100 items are returned, along with a unique string called a <i>next token</i>. To get the next batch of items in the list, call this operation again, adding the next token to the call.'
  ListBuildsInput:
    type: object
    properties:
      sortOrder:
        $ref: '#/definitions/SortOrderType'
        description: '<p>The order to list build IDs. Valid values include:</p> <ul> <li> <p> <code>ASCENDING</code>: List the build IDs in ascending order by build ID.</p> </li> <li> <p> <code>DESCENDING</code>: List the build IDs in descending order by build ID.</p> </li> </ul>'
      nextToken:
        $ref: '#/definitions/String'
        description: 'During a previous call, if there are more than 100 items in the list, only the first 100 items are returned, along with a unique string called a <i>next token</i>. To get the next batch of items in the list, call this operation again, adding the next token to the call. To get all of the items in the list, keep calling this operation with each subsequent next token that is returned, until no more next tokens are returned.'
  ListBuildsForProjectOutput:
    type: object
    properties:
      ids:
        $ref: '#/definitions/BuildIds'
        description: 'A list of build IDs for the specified build project, with each build ID representing a single build.'
      nextToken:
        $ref: '#/definitions/String'
        description: 'If there are more than 100 items in the list, only the first 100 items are returned, along with a unique string called a <i>next token</i>. To get the next batch of items in the list, call this operation again, adding the next token to the call.'
  ListBuildsForProjectInput:
    type: object
    required:
      - projectName
    properties:
      projectName:
        $ref: '#/definitions/NonEmptyString'
        description: The name of the AWS CodeBuild project.
      sortOrder:
        $ref: '#/definitions/SortOrderType'
        description: '<p>The order to list build IDs. Valid values include:</p> <ul> <li> <p> <code>ASCENDING</code>: List the build IDs in ascending order by build ID.</p> </li> <li> <p> <code>DESCENDING</code>: List the build IDs in descending order by build ID.</p> </li> </ul>'
      nextToken:
        $ref: '#/definitions/String'
        description: 'During a previous call, if there are more than 100 items in the list, only the first 100 items are returned, along with a unique string called a <i>next token</i>. To get the next batch of items in the list, call this operation again, adding the next token to the call. To get all of the items in the list, keep calling this operation with each subsequent next token that is returned, until no more next tokens are returned.'
  ListCuratedEnvironmentImagesOutput:
    type: object
    properties:
      platforms:
        $ref: '#/definitions/EnvironmentPlatforms'
        description: Information about supported platforms for Docker images that are managed by AWS CodeBuild.
  ListCuratedEnvironmentImagesInput:
    type: object
    properties: {}
  ListProjectsOutput:
    type: object
    properties:
      nextToken:
        $ref: '#/definitions/String'
        description: 'If there are more than 100 items in the list, only the first 100 items are returned, along with a unique string called a <i>next token</i>. To get the next batch of items in the list, call this operation again, adding the next token to the call.'
      projects:
        $ref: '#/definitions/ProjectNames'
        description: 'The list of build project names, with each build project name representing a single build project.'
  ListProjectsInput:
    type: object
    properties:
      sortBy:
        $ref: '#/definitions/ProjectSortByType'
        description: '<p>The criterion to be used to list build project names. Valid values include:</p> <ul> <li> <p> <code>CREATED_TIME</code>: List based on when each build project was created.</p> </li> <li> <p> <code>LAST_MODIFIED_TIME</code>: List based on when information about each build project was last changed.</p> </li> <li> <p> <code>NAME</code>: List based on each build project''s name.</p> </li> </ul> <p>Use <code>sortOrder</code> to specify in what order to list the build project names based on the preceding criteria.</p>'
      sortOrder:
        $ref: '#/definitions/SortOrderType'
        description: '<p>The order in which to list build projects. Valid values include:</p> <ul> <li> <p> <code>ASCENDING</code>: List in ascending order.</p> </li> <li> <p> <code>DESCENDING</code>: List in descending order.</p> </li> </ul> <p>Use <code>sortBy</code> to specify the criterion to be used to list build project names.</p>'
      nextToken:
        $ref: '#/definitions/NonEmptyString'
        description: 'During a previous call, if there are more than 100 items in the list, only the first 100 items are returned, along with a unique string called a <i>next token</i>. To get the next batch of items in the list, call this operation again, adding the next token to the call. To get all of the items in the list, keep calling this operation with each subsequent next token that is returned, until no more next tokens are returned.'
  ListSourceCredentialsOutput:
    type: object
    properties:
      sourceCredentialsInfos:
        $ref: '#/definitions/SourceCredentialsInfos'
        description: ' A list of <code>SourceCredentialsInfo</code> objects. Each <code>SourceCredentialsInfo</code> object includes the authentication type, token ARN, and type of source provider for one set of credentials. '
  ListSourceCredentialsInput:
    type: object
    properties: {}
  StartBuildOutput:
    type: object
    properties:
      build:
        $ref: '#/definitions/Build'
        description: Information about the build to be run.
  StartBuildInput:
    type: object
    required:
      - projectName
    properties:
      projectName:
        $ref: '#/definitions/NonEmptyString'
        description: The name of the AWS CodeBuild build project to start running a build.
      secondarySourcesOverride:
        $ref: '#/definitions/ProjectSources'
        description: ' An array of <code>ProjectSource</code> objects. '
      secondarySourcesVersionOverride:
        $ref: '#/definitions/ProjectSecondarySourceVersions'
        description: ' An array of <code>ProjectSourceVersion</code> objects that specify one or more versions of the project''s secondary sources to be used for this build only. '
      sourceVersion:
        $ref: '#/definitions/String'
        description: '<p>A version of the build input to be built, for this build only. If not specified, the latest version is used. If specified, must be one of:</p> <ul> <li> <p>For AWS CodeCommit: the commit ID to use.</p> </li> <li> <p>For GitHub: the commit ID, pull request ID, branch name, or tag name that corresponds to the version of the source code you want to build. If a pull request ID is specified, it must use the format <code>pr/pull-request-ID</code> (for example <code>pr/25</code>). If a branch name is specified, the branch''s HEAD commit ID is used. If not specified, the default branch''s HEAD commit ID is used.</p> </li> <li> <p>For Bitbucket: the commit ID, branch name, or tag name that corresponds to the version of the source code you want to build. If a branch name is specified, the branch''s HEAD commit ID is used. If not specified, the default branch''s HEAD commit ID is used.</p> </li> <li> <p>For Amazon Simple Storage Service (Amazon S3): the version ID of the object that represents the build input ZIP file to use.</p> </li> </ul>'
      artifactsOverride:
        $ref: '#/definitions/ProjectArtifacts'
        description: 'Build output artifact settings that override, for this build only, the latest ones already defined in the build project.'
      secondaryArtifactsOverride:
        $ref: '#/definitions/ProjectArtifactsList'
        description: ' An array of <code>ProjectArtifacts</code> objects. '
      environmentVariablesOverride:
        $ref: '#/definitions/EnvironmentVariables'
        description: 'A set of environment variables that overrides, for this build only, the latest ones already defined in the build project.'
      sourceTypeOverride:
        $ref: '#/definitions/SourceType'
        description: 'A source input type, for this build, that overrides the source input defined in the build project.'
      sourceLocationOverride:
        $ref: '#/definitions/String'
        description: 'A location that overrides, for this build, the source location for the one defined in the build project.'
      sourceAuthOverride:
        $ref: '#/definitions/SourceAuth'
        description: An authorization type for this build that overrides the one defined in the build project. This override applies only if the build project's source is BitBucket or GitHub.
      gitCloneDepthOverride:
        $ref: '#/definitions/GitCloneDepth'
        description: 'The user-defined depth of history, with a minimum value of 0, that overrides, for this build only, any previous depth of history defined in the build project.'
      buildspecOverride:
        $ref: '#/definitions/String'
        description: 'A build spec declaration that overrides, for this build only, the latest one already defined in the build project.'
      insecureSslOverride:
        $ref: '#/definitions/WrapperBoolean'
        description: Enable this flag to override the insecure SSL setting that is specified in the build project. The insecure SSL setting determines whether to ignore SSL warnings while connecting to the project source code. This override applies only if the build's source is GitHub Enterprise.
      reportBuildStatusOverride:
        $ref: '#/definitions/WrapperBoolean'
        description: ' Set to true to report to your source provider the status of a build''s start and completion. If you use this option with a source provider other than GitHub, GitHub Enterprise, or Bitbucket, an invalidInputException is thrown. '
      environmentTypeOverride:
        $ref: '#/definitions/EnvironmentType'
        description: A container type for this build that overrides the one specified in the build project.
      imageOverride:
        $ref: '#/definitions/NonEmptyString'
        description: The name of an image for this build that overrides the one specified in the build project.
      computeTypeOverride:
        $ref: '#/definitions/ComputeType'
        description: The name of a compute type for this build that overrides the one specified in the build project.
      certificateOverride:
        $ref: '#/definitions/String'
        description: The name of a certificate for this build that overrides the one specified in the build project.
      cacheOverride:
        $ref: '#/definitions/ProjectCache'
        description: A ProjectCache object specified for this build that overrides the one defined in the build project.
      serviceRoleOverride:
        $ref: '#/definitions/NonEmptyString'
        description: The name of a service role for this build that overrides the one specified in the build project.
      privilegedModeOverride:
        $ref: '#/definitions/WrapperBoolean'
        description: Enable this flag to override privileged mode in the build project.
      timeoutInMinutesOverride:
        $ref: '#/definitions/TimeOut'
        description: 'The number of build timeout minutes, from 5 to 480 (8 hours), that overrides, for this build only, the latest setting already defined in the build project.'
      queuedTimeoutInMinutesOverride:
        $ref: '#/definitions/TimeOut'
        description: ' The number of minutes a build is allowed to be queued before it times out. '
      logsConfigOverride:
        $ref: '#/definitions/LogsConfig'
        description: ' Log settings for this build that override the log settings defined in the build project. '
  StopBuildOutput:
    type: object
    properties:
      build:
        $ref: '#/definitions/Build'
        description: Information about the build.
  StopBuildInput:
    type: object
    required:
      - id
    properties:
      id:
        $ref: '#/definitions/NonEmptyString'
        description: The ID of the build.
  UpdateProjectOutput:
    type: object
    properties:
      project:
        $ref: '#/definitions/Project'
        description: Information about the build project that was changed.
  UpdateProjectInput:
    type: object
    required:
      - name
    properties:
      name:
        $ref: '#/definitions/NonEmptyString'
        description: <p>The name of the build project.</p> <note> <p>You cannot change a build project's name.</p> </note>
      description:
        $ref: '#/definitions/ProjectDescription'
        description: A new or replacement description of the build project.
      source:
        $ref: '#/definitions/ProjectSource'
        description: Information to be changed about the build input source code for the build project.
      secondarySources:
        $ref: '#/definitions/ProjectSources'
        description: ' An array of <code>ProjectSource</code> objects. '
      artifacts:
        $ref: '#/definitions/ProjectArtifacts'
        description: Information to be changed about the build output artifacts for the build project.
      secondaryArtifacts:
        $ref: '#/definitions/ProjectArtifactsList'
        description: ' An array of <code>ProjectSource</code> objects. '
      cache:
        $ref: '#/definitions/ProjectCache'
        description: Stores recently used information so that it can be quickly accessed at a later time.
      environment:
        $ref: '#/definitions/ProjectEnvironment'
        description: Information to be changed about the build environment for the build project.
      serviceRole:
        $ref: '#/definitions/NonEmptyString'
        description: The replacement ARN of the AWS Identity and Access Management (IAM) role that enables AWS CodeBuild to interact with dependent AWS services on behalf of the AWS account.
      timeoutInMinutes:
        $ref: '#/definitions/TimeOut'
        description: 'The replacement value in minutes, from 5 to 480 (8 hours), for AWS CodeBuild to wait before timing out any related build that did not get marked as completed.'
      queuedTimeoutInMinutes:
        $ref: '#/definitions/TimeOut'
        description: ' The number of minutes a build is allowed to be queued before it times out. '
      encryptionKey:
        $ref: '#/definitions/NonEmptyString'
        description: '<p>The replacement AWS Key Management Service (AWS KMS) customer master key (CMK) to be used for encrypting the build output artifacts.</p> <p>You can specify either the Amazon Resource Name (ARN)of the CMK or, if available, the CMK''s alias (using the format <code>alias/<i>alias-name</i> </code>).</p>'
      tags:
        $ref: '#/definitions/TagList'
        description: <p>The replacement set of tags for this build project.</p> <p>These tags are available for use by AWS services that support AWS CodeBuild build project tags.</p>
      vpcConfig:
        $ref: '#/definitions/VpcConfig'
        description: VpcConfig enables AWS CodeBuild to access resources in an Amazon VPC.
      badgeEnabled:
        $ref: '#/definitions/WrapperBoolean'
        description: Set this to true to generate a publicly accessible URL for your project's build badge.
      logsConfig:
        $ref: '#/definitions/LogsConfig'
        description: ' Information about logs for the build project. A project can create logs in Amazon CloudWatch Logs, logs in an S3 bucket, or both. '
  UpdateWebhookOutput:
    type: object
    properties:
      webhook:
        $ref: '#/definitions/Webhook'
        description: ' Information about a repository''s webhook that is associated with a project in AWS CodeBuild. '
  UpdateWebhookInput:
    type: object
    required:
      - projectName
    properties:
      projectName:
        $ref: '#/definitions/ProjectName'
        description: The name of the AWS CodeBuild project.
      branchFilter:
        $ref: '#/definitions/String'
        description: 'A regular expression used to determine which repository branches are built when a webhook is triggered. If the name of a branch matches the regular expression, then it is built. If <code>branchFilter</code> is empty, then all branches are built.'
      rotateSecret:
        $ref: '#/definitions/Boolean'
        description: ' A boolean value that specifies whether the associated GitHub repository''s secret token should be updated. If you use Bitbucket for your repository, <code>rotateSecret</code> is ignored. '
  ArtifactNamespace:
    type: string
    enum:
      - NONE
      - BUILD_ID
  ArtifactPackaging:
    type: string
    enum:
      - NONE
      - ZIP
  ArtifactsType:
    type: string
    enum:
      - CODEPIPELINE
      - S3
      - NO_ARTIFACTS
  AuthType:
    type: string
    enum:
      - OAUTH
      - BASIC_AUTH
      - PERSONAL_ACCESS_TOKEN
  undefined: {}
  Boolean:
    type: boolean
  Build:
    type: object
    properties:
      id:
        $ref: '#/definitions/NonEmptyString'
        description: The unique ID for the build.
      arn:
        $ref: '#/definitions/NonEmptyString'
        description: The Amazon Resource Name (ARN) of the build.
      startTime:
        $ref: '#/definitions/Timestamp'
        description: 'When the build process started, expressed in Unix time format.'
      endTime:
        $ref: '#/definitions/Timestamp'
        description: 'When the build process ended, expressed in Unix time format.'
      currentPhase:
        $ref: '#/definitions/String'
        description: The current build phase.
      buildStatus:
        $ref: '#/definitions/StatusType'
        description: '<p>The current status of the build. Valid values include:</p> <ul> <li> <p> <code>FAILED</code>: The build failed.</p> </li> <li> <p> <code>FAULT</code>: The build faulted.</p> </li> <li> <p> <code>IN_PROGRESS</code>: The build is still in progress.</p> </li> <li> <p> <code>STOPPED</code>: The build stopped.</p> </li> <li> <p> <code>SUCCEEDED</code>: The build succeeded.</p> </li> <li> <p> <code>TIMED_OUT</code>: The build timed out.</p> </li> </ul>'
      sourceVersion:
        $ref: '#/definitions/NonEmptyString'
        description: Any version identifier for the version of the source code to be built.
      resolvedSourceVersion:
        $ref: '#/definitions/NonEmptyString'
        description: '<p> An identifier for the version of this build''s source code. </p> <ul> <li> <p> For AWS CodeCommit, GitHub, GitHub Enterprise, and BitBucket, the commit ID. </p> </li> <li> <p> For AWS CodePipeline, the source revision provided by AWS CodePipeline. </p> </li> <li> <p> For Amazon Simple Storage Service (Amazon S3), this does not apply. </p> </li> </ul>'
      projectName:
        $ref: '#/definitions/NonEmptyString'
        description: The name of the AWS CodeBuild project.
      phases:
        $ref: '#/definitions/BuildPhases'
        description: Information about all previous build phases that are complete and information about any current build phase that is not yet complete.
      source:
        $ref: '#/definitions/ProjectSource'
        description: Information about the source code to be built.
      secondarySources:
        $ref: '#/definitions/ProjectSources'
        description: ' An array of <code>ProjectSource</code> objects. '
      secondarySourceVersions:
        $ref: '#/definitions/ProjectSecondarySourceVersions'
        description: '<p> An array of <code>ProjectSourceVersion</code> objects. Each <code>ProjectSourceVersion</code> must be one of: </p> <ul> <li> <p>For AWS CodeCommit: the commit ID to use.</p> </li> <li> <p>For GitHub: the commit ID, pull request ID, branch name, or tag name that corresponds to the version of the source code you want to build. If a pull request ID is specified, it must use the format <code>pr/pull-request-ID</code> (for example, <code>pr/25</code>). If a branch name is specified, the branch''s HEAD commit ID is used. If not specified, the default branch''s HEAD commit ID is used.</p> </li> <li> <p>For Bitbucket: the commit ID, branch name, or tag name that corresponds to the version of the source code you want to build. If a branch name is specified, the branch''s HEAD commit ID is used. If not specified, the default branch''s HEAD commit ID is used.</p> </li> <li> <p>For Amazon Simple Storage Service (Amazon S3): the version ID of the object that represents the build input ZIP file to use.</p> </li> </ul>'
      artifacts:
        $ref: '#/definitions/BuildArtifacts'
        description: Information about the output artifacts for the build.
      secondaryArtifacts:
        $ref: '#/definitions/BuildArtifactsList'
        description: ' An array of <code>ProjectArtifacts</code> objects. '
      cache:
        $ref: '#/definitions/ProjectCache'
        description: Information about the cache for the build.
      environment:
        $ref: '#/definitions/ProjectEnvironment'
        description: Information about the build environment for this build.
      serviceRole:
        $ref: '#/definitions/NonEmptyString'
        description: The name of a service role used for this build.
      logs:
        $ref: '#/definitions/LogsLocation'
        description: Information about the build's logs in Amazon CloudWatch Logs.
      timeoutInMinutes:
        $ref: '#/definitions/WrapperInt'
        description: 'How long, in minutes, for AWS CodeBuild to wait before timing out this build if it does not get marked as completed.'
      queuedTimeoutInMinutes:
        $ref: '#/definitions/WrapperInt'
        description: ' The number of minutes a build is allowed to be queued before it times out. '
      buildComplete:
        $ref: '#/definitions/Boolean'
        description: 'Whether the build is complete. True if complete; otherwise, false.'
      initiator:
        $ref: '#/definitions/String'
        description: '<p>The entity that started the build. Valid values include:</p> <ul> <li> <p>If AWS CodePipeline started the build, the pipeline''s name (for example, <code>codepipeline/my-demo-pipeline</code>).</p> </li> <li> <p>If an AWS Identity and Access Management (IAM) user started the build, the user''s name (for example, <code>MyUserName</code>).</p> </li> <li> <p>If the Jenkins plugin for AWS CodeBuild started the build, the string <code>CodeBuild-Jenkins-Plugin</code>.</p> </li> </ul>'
      vpcConfig:
        $ref: '#/definitions/VpcConfig'
        description: 'If your AWS CodeBuild project accesses resources in an Amazon VPC, you provide this parameter that identifies the VPC ID and the list of security group IDs and subnet IDs. The security groups and subnets must belong to the same VPC. You must provide at least one security group and one subnet ID.'
      networkInterface:
        $ref: '#/definitions/NetworkInterface'
        description: Describes a network interface.
      encryptionKey:
        $ref: '#/definitions/NonEmptyString'
        description: '<p>The AWS Key Management Service (AWS KMS) customer master key (CMK) to be used for encrypting the build output artifacts.</p> <p>This is expressed either as the Amazon Resource Name (ARN) of the CMK or, if specified, the CMK''s alias (using the format <code>alias/<i>alias-name</i> </code>).</p>'
    description: Information about a build.
  BuildArtifacts:
    type: object
    properties:
      location:
        $ref: '#/definitions/String'
        description: Information about the location of the build artifacts.
      sha256sum:
        $ref: '#/definitions/String'
        description: <p>The SHA-256 hash of the build artifact.</p> <p>You can use this hash along with a checksum tool to confirm file integrity and authenticity.</p> <note> <p>This value is available only if the build project's <code>packaging</code> value is set to <code>ZIP</code>.</p> </note>
      md5sum:
        $ref: '#/definitions/String'
        description: <p>The MD5 hash of the build artifact.</p> <p>You can use this hash along with a checksum tool to confirm file integrity and authenticity.</p> <note> <p>This value is available only if the build project's <code>packaging</code> value is set to <code>ZIP</code>.</p> </note>
      overrideArtifactName:
        $ref: '#/definitions/WrapperBoolean'
        description: ' If this flag is set, a name specified in the build spec file overrides the artifact name. The name specified in a build spec file is calculated at build time and uses the Shell Command Language. For example, you can append a date and time to your artifact name so that it is always unique. '
      encryptionDisabled:
        $ref: '#/definitions/WrapperBoolean'
        description: ' Information that tells you if encryption for build artifacts is disabled. '
      artifactIdentifier:
        $ref: '#/definitions/String'
        description: ' An identifier for this artifact definition. '
    description: Information about build output artifacts.
  BuildArtifactsList:
    type: array
    items:
      $ref: '#/definitions/BuildArtifacts'
    minItems: 0
    maxItems: 12
  BuildIds:
    type: array
    items:
      $ref: '#/definitions/NonEmptyString'
    minItems: 1
    maxItems: 100
  BuildNotDeleted:
    type: object
    properties:
      id:
        $ref: '#/definitions/NonEmptyString'
        description: The ID of the build that could not be successfully deleted.
      statusCode:
        $ref: '#/definitions/String'
        description: Additional information about the build that could not be successfully deleted.
    description: Information about a build that could not be successfully deleted.
  BuildPhase:
    type: object
    properties:
      phaseType:
        $ref: '#/definitions/BuildPhaseType'
        description: '<p>The name of the build phase. Valid values include:</p> <ul> <li> <p> <code>BUILD</code>: Core build activities typically occur in this build phase.</p> </li> <li> <p> <code>COMPLETED</code>: The build has been completed.</p> </li> <li> <p> <code>DOWNLOAD_SOURCE</code>: Source code is being downloaded in this build phase.</p> </li> <li> <p> <code>FINALIZING</code>: The build process is completing in this build phase.</p> </li> <li> <p> <code>INSTALL</code>: Installation activities typically occur in this build phase.</p> </li> <li> <p> <code>POST_BUILD</code>: Post-build activities typically occur in this build phase.</p> </li> <li> <p> <code>PRE_BUILD</code>: Pre-build activities typically occur in this build phase.</p> </li> <li> <p> <code>PROVISIONING</code>: The build environment is being set up.</p> </li> <li> <p> <code>QUEUED</code>: The build has been submitted and is queued behind other submitted builds.</p> </li> <li> <p> <code>SUBMITTED</code>: The build has been submitted.</p> </li> <li> <p> <code>UPLOAD_ARTIFACTS</code>: Build output artifacts are being uploaded to the output location.</p> </li> </ul>'
      phaseStatus:
        $ref: '#/definitions/StatusType'
        description: '<p>The current status of the build phase. Valid values include:</p> <ul> <li> <p> <code>FAILED</code>: The build phase failed.</p> </li> <li> <p> <code>FAULT</code>: The build phase faulted.</p> </li> <li> <p> <code>IN_PROGRESS</code>: The build phase is still in progress.</p> </li> <li> <p> <code>QUEUED</code>: The build has been submitted and is queued behind other submitted builds.</p> </li> <li> <p> <code>STOPPED</code>: The build phase stopped.</p> </li> <li> <p> <code>SUCCEEDED</code>: The build phase succeeded.</p> </li> <li> <p> <code>TIMED_OUT</code>: The build phase timed out.</p> </li> </ul>'
      startTime:
        $ref: '#/definitions/Timestamp'
        description: 'When the build phase started, expressed in Unix time format.'
      endTime:
        $ref: '#/definitions/Timestamp'
        description: 'When the build phase ended, expressed in Unix time format.'
      durationInSeconds:
        $ref: '#/definitions/WrapperLong'
        description: 'How long, in seconds, between the starting and ending times of the build''s phase.'
      contexts:
        $ref: '#/definitions/PhaseContexts'
        description: 'Additional information about a build phase, especially to help troubleshoot a failed build.'
    description: Information about a stage for a build.
  BuildPhaseType:
    type: string
    enum:
      - SUBMITTED
      - QUEUED
      - PROVISIONING
      - DOWNLOAD_SOURCE
      - INSTALL
      - PRE_BUILD
      - BUILD
      - POST_BUILD
      - UPLOAD_ARTIFACTS
      - FINALIZING
      - COMPLETED
  BuildPhases:
    type: array
    items:
      $ref: '#/definitions/BuildPhase'
  Builds:
    type: array
    items:
      $ref: '#/definitions/Build'
  BuildsNotDeleted:
    type: array
    items:
      $ref: '#/definitions/BuildNotDeleted'
  CacheType:
    type: string
    enum:
      - NO_CACHE
      - S3
  CloudWatchLogsConfig:
    type: object
    required:
      - status
    properties:
      status:
        $ref: '#/definitions/LogsConfigStatusType'
        description: '<p>The current status of the logs in Amazon CloudWatch Logs for a build project. Valid values are:</p> <ul> <li> <p> <code>ENABLED</code>: Amazon CloudWatch Logs are enabled for this build project.</p> </li> <li> <p> <code>DISABLED</code>: Amazon CloudWatch Logs are not enabled for this build project.</p> </li> </ul>'
      groupName:
        $ref: '#/definitions/String'
        description: ' The group name of the logs in Amazon CloudWatch Logs. For more information, see <a href="http://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/Working-with-log-groups-and-streams.html">Working with Log Groups and Log Streams</a>. '
      streamName:
        $ref: '#/definitions/String'
        description: ' The prefix of the stream name of the Amazon CloudWatch Logs. For more information, see <a href="http://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/Working-with-log-groups-and-streams.html">Working with Log Groups and Log Streams</a>. '
    description: ' Information about Amazon CloudWatch Logs for a build project. '
  ComputeType:
    type: string
    enum:
      - BUILD_GENERAL1_SMALL
      - BUILD_GENERAL1_MEDIUM
      - BUILD_GENERAL1_LARGE
  EnvironmentImage:
    type: object
    properties:
      name:
        $ref: '#/definitions/String'
        description: The name of the Docker image.
      description:
        $ref: '#/definitions/String'
        description: The description of the Docker image.
      versions:
        $ref: '#/definitions/ImageVersions'
        description: A list of environment image versions.
    description: Information about a Docker image that is managed by AWS CodeBuild.
  EnvironmentImages:
    type: array
    items:
      $ref: '#/definitions/EnvironmentImage'
  EnvironmentLanguage:
    type: object
    properties:
      language:
        $ref: '#/definitions/LanguageType'
        description: The programming language for the Docker images.
      images:
        $ref: '#/definitions/EnvironmentImages'
        description: The list of Docker images that are related by the specified programming language.
    description: A set of Docker images that are related by programming language and are managed by AWS CodeBuild.
  EnvironmentLanguages:
    type: array
    items:
      $ref: '#/definitions/EnvironmentLanguage'
  EnvironmentPlatform:
    type: object
    properties:
      platform:
        $ref: '#/definitions/PlatformType'
        description: The platform's name.
      languages:
        $ref: '#/definitions/EnvironmentLanguages'
        description: The list of programming languages that are available for the specified platform.
    description: A set of Docker images that are related by platform and are managed by AWS CodeBuild.
  EnvironmentPlatforms:
    type: array
    items:
      $ref: '#/definitions/EnvironmentPlatform'
  EnvironmentType:
    type: string
    enum:
      - WINDOWS_CONTAINER
      - LINUX_CONTAINER
  EnvironmentVariable:
    type: object
    required:
      - name
      - value
    properties:
      name:
        $ref: '#/definitions/NonEmptyString'
        description: The name or key of the environment variable.
      value:
        $ref: '#/definitions/String'
        description: '<p>The value of the environment variable.</p> <important> <p>We strongly discourage the use of environment variables to store sensitive values, especially AWS secret key IDs and secret access keys. Environment variables can be displayed in plain text using the AWS CodeBuild console and the AWS Command Line Interface (AWS CLI).</p> </important>'
      type:
        $ref: '#/definitions/EnvironmentVariableType'
        description: '<p>The type of environment variable. Valid values include:</p> <ul> <li> <p> <code>PARAMETER_STORE</code>: An environment variable stored in Amazon EC2 Systems Manager Parameter Store.</p> </li> <li> <p> <code>PLAINTEXT</code>: An environment variable in plaintext format.</p> </li> </ul>'
    description: Information about an environment variable for a build project or a build.
  EnvironmentVariableType:
    type: string
    enum:
      - PLAINTEXT
      - PARAMETER_STORE
  EnvironmentVariables:
    type: array
    items:
      $ref: '#/definitions/EnvironmentVariable'
  GitCloneDepth:
    type: integer
    minimum: 0
  ImageVersions:
    type: array
    items:
      $ref: '#/definitions/String'
  KeyInput:
    type: string
    pattern: '^([\\p{L}\\p{Z}\\p{N}_.:/=@+\\-]*)$'
    minLength: 1
    maxLength: 127
  LanguageType:
    type: string
    enum:
      - JAVA
      - PYTHON
      - NODE_JS
      - RUBY
      - GOLANG
      - DOCKER
      - ANDROID
      - DOTNET
      - BASE
      - PHP
  LogsConfig:
    type: object
    properties:
      cloudWatchLogs:
        $ref: '#/definitions/CloudWatchLogsConfig'
        description: ' Information about Amazon CloudWatch Logs for a build project. Amazon CloudWatch Logs are enabled by default. '
      s3Logs:
        $ref: '#/definitions/S3LogsConfig'
        description: ' Information about logs built to an S3 bucket for a build project. S3 logs are not enabled by default. '
    description: ' Information about logs for a build project. These can be logs in Amazon CloudWatch Logs, built in a specified S3 bucket, or both. '
  LogsConfigStatusType:
    type: string
    enum:
      - ENABLED
      - DISABLED
  LogsLocation:
    type: object
    properties:
      groupName:
        $ref: '#/definitions/String'
        description: The name of the Amazon CloudWatch Logs group for the build logs.
      streamName:
        $ref: '#/definitions/String'
        description: The name of the Amazon CloudWatch Logs stream for the build logs.
      deepLink:
        $ref: '#/definitions/String'
        description: The URL to an individual build log in Amazon CloudWatch Logs.
      s3DeepLink:
        $ref: '#/definitions/String'
        description: ' The URL to a build log in an S3 bucket. '
      cloudWatchLogs:
        $ref: '#/definitions/CloudWatchLogsConfig'
        description: ' Information about Amazon CloudWatch Logs for a build project. '
      s3Logs:
        $ref: '#/definitions/S3LogsConfig'
        description: ' Information about S3 logs for a build project. '
    description: Information about build logs in Amazon CloudWatch Logs.
  NetworkInterface:
    type: object
    properties:
      subnetId:
        $ref: '#/definitions/NonEmptyString'
        description: The ID of the subnet.
      networkInterfaceId:
        $ref: '#/definitions/NonEmptyString'
        description: The ID of the network interface.
    description: Describes a network interface.
  NonEmptyString:
    type: string
    minLength: 1
  PhaseContext:
    type: object
    properties:
      statusCode:
        $ref: '#/definitions/String'
        description: The status code for the context of the build phase.
      message:
        $ref: '#/definitions/String'
        description: An explanation of the build phase's context. This might include a command ID and an exit code.
    description: Additional information about a build phase that has an error. You can use this information for troubleshooting.
  PhaseContexts:
    type: array
    items:
      $ref: '#/definitions/PhaseContext'
  PlatformType:
    type: string
    enum:
      - DEBIAN
      - AMAZON_LINUX
      - UBUNTU
      - WINDOWS_SERVER
  Project:
    type: object
    properties:
      name:
        $ref: '#/definitions/ProjectName'
        description: The name of the build project.
      arn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the build project.
      description:
        $ref: '#/definitions/ProjectDescription'
        description: A description that makes the build project easy to identify.
      source:
        $ref: '#/definitions/ProjectSource'
        description: Information about the build input source code for this build project.
      secondarySources:
        $ref: '#/definitions/ProjectSources'
        description: ' An array of <code>ProjectSource</code> objects. '
      artifacts:
        $ref: '#/definitions/ProjectArtifacts'
        description: Information about the build output artifacts for the build project.
      secondaryArtifacts:
        $ref: '#/definitions/ProjectArtifactsList'
        description: ' An array of <code>ProjectArtifacts</code> objects. '
      cache:
        $ref: '#/definitions/ProjectCache'
        description: Information about the cache for the build project.
      environment:
        $ref: '#/definitions/ProjectEnvironment'
        description: Information about the build environment for this build project.
      serviceRole:
        $ref: '#/definitions/NonEmptyString'
        description: The ARN of the AWS Identity and Access Management (IAM) role that enables AWS CodeBuild to interact with dependent AWS services on behalf of the AWS account.
      timeoutInMinutes:
        $ref: '#/definitions/TimeOut'
        description: 'How long, in minutes, from 5 to 480 (8 hours), for AWS CodeBuild to wait before timing out any related build that did not get marked as completed. The default is 60 minutes.'
      queuedTimeoutInMinutes:
        $ref: '#/definitions/TimeOut'
        description: ' The number of minutes a build is allowed to be queued before it times out. '
      encryptionKey:
        $ref: '#/definitions/NonEmptyString'
        description: '<p>The AWS Key Management Service (AWS KMS) customer master key (CMK) to be used for encrypting the build output artifacts.</p> <p>This is expressed either as the Amazon Resource Name (ARN) of the CMK or, if specified, the CMK''s alias (using the format <code>alias/<i>alias-name</i> </code>).</p>'
      tags:
        $ref: '#/definitions/TagList'
        description: <p>The tags for this build project.</p> <p>These tags are available for use by AWS services that support AWS CodeBuild build project tags.</p>
      created:
        $ref: '#/definitions/Timestamp'
        description: 'When the build project was created, expressed in Unix time format.'
      lastModified:
        $ref: '#/definitions/Timestamp'
        description: 'When the build project''s settings were last modified, expressed in Unix time format.'
      webhook:
        $ref: '#/definitions/Webhook'
        description: Information about a webhook that connects repository events to a build project in AWS CodeBuild.
      vpcConfig:
        $ref: '#/definitions/VpcConfig'
        description: Information about the VPC configuration that AWS CodeBuild accesses.
      badge:
        $ref: '#/definitions/ProjectBadge'
        description: Information about the build badge for the build project.
      logsConfig:
        $ref: '#/definitions/LogsConfig'
        description: ' Information about logs for the build project. A project can create logs in Amazon CloudWatch Logs, an S3 bucket, or both. '
    description: Information about a build project.
  ProjectArtifacts:
    type: object
    required:
      - type
    properties:
      type:
        $ref: '#/definitions/ArtifactsType'
        description: '<p>The type of build output artifact. Valid values include:</p> <ul> <li> <p> <code>CODEPIPELINE</code>: The build project has build output generated through AWS CodePipeline.</p> </li> <li> <p> <code>NO_ARTIFACTS</code>: The build project does not produce any build output.</p> </li> <li> <p> <code>S3</code>: The build project stores build output in Amazon Simple Storage Service (Amazon S3).</p> </li> </ul>'
      location:
        $ref: '#/definitions/String'
        description: '<p>Information about the build output artifact location:</p> <ul> <li> <p>If <code>type</code> is set to <code>CODEPIPELINE</code>, AWS CodePipeline ignores this value if specified. This is because AWS CodePipeline manages its build output locations instead of AWS CodeBuild.</p> </li> <li> <p>If <code>type</code> is set to <code>NO_ARTIFACTS</code>, this value is ignored if specified, because no build output is produced.</p> </li> <li> <p>If <code>type</code> is set to <code>S3</code>, this is the name of the output bucket.</p> </li> </ul>'
      path:
        $ref: '#/definitions/String'
        description: '<p>Along with <code>namespaceType</code> and <code>name</code>, the pattern that AWS CodeBuild uses to name and store the output artifact:</p> <ul> <li> <p>If <code>type</code> is set to <code>CODEPIPELINE</code>, AWS CodePipeline ignores this value if specified. This is because AWS CodePipeline manages its build output names instead of AWS CodeBuild.</p> </li> <li> <p>If <code>type</code> is set to <code>NO_ARTIFACTS</code>, this value is ignored if specified, because no build output is produced.</p> </li> <li> <p>If <code>type</code> is set to <code>S3</code>, this is the path to the output artifact. If <code>path</code> is not specified, <code>path</code> is not used.</p> </li> </ul> <p>For example, if <code>path</code> is set to <code>MyArtifacts</code>, <code>namespaceType</code> is set to <code>NONE</code>, and <code>name</code> is set to <code>MyArtifact.zip</code>, the output artifact is stored in the output bucket at <code>MyArtifacts/MyArtifact.zip</code>.</p>'
      namespaceType:
        $ref: '#/definitions/ArtifactNamespace'
        description: '<p>Along with <code>path</code> and <code>name</code>, the pattern that AWS CodeBuild uses to determine the name and location to store the output artifact:</p> <ul> <li> <p>If <code>type</code> is set to <code>CODEPIPELINE</code>, AWS CodePipeline ignores this value if specified. This is because AWS CodePipeline manages its build output names instead of AWS CodeBuild.</p> </li> <li> <p>If <code>type</code> is set to <code>NO_ARTIFACTS</code>, this value is ignored if specified, because no build output is produced.</p> </li> <li> <p>If <code>type</code> is set to <code>S3</code>, valid values include:</p> <ul> <li> <p> <code>BUILD_ID</code>: Include the build ID in the location of the build output artifact.</p> </li> <li> <p> <code>NONE</code>: Do not include the build ID. This is the default if <code>namespaceType</code> is not specified.</p> </li> </ul> </li> </ul> <p>For example, if <code>path</code> is set to <code>MyArtifacts</code>, <code>namespaceType</code> is set to <code>BUILD_ID</code>, and <code>name</code> is set to <code>MyArtifact.zip</code>, the output artifact is stored in <code>MyArtifacts/<i>build-ID</i>/MyArtifact.zip</code>.</p>'
      name:
        $ref: '#/definitions/String'
        description: '<p>Along with <code>path</code> and <code>namespaceType</code>, the pattern that AWS CodeBuild uses to name and store the output artifact:</p> <ul> <li> <p>If <code>type</code> is set to <code>CODEPIPELINE</code>, AWS CodePipeline ignores this value if specified. This is because AWS CodePipeline manages its build output names instead of AWS CodeBuild.</p> </li> <li> <p>If <code>type</code> is set to <code>NO_ARTIFACTS</code>, this value is ignored if specified, because no build output is produced.</p> </li> <li> <p>If <code>type</code> is set to <code>S3</code>, this is the name of the output artifact object. If you set the name to be a forward slash ("/"), the artifact is stored in the root of the output bucket.</p> </li> </ul> <p>For example:</p> <ul> <li> <p> If <code>path</code> is set to <code>MyArtifacts</code>, <code>namespaceType</code> is set to <code>BUILD_ID</code>, and <code>name</code> is set to <code>MyArtifact.zip</code>, then the output artifact is stored in <code>MyArtifacts/<i>build-ID</i>/MyArtifact.zip</code>. </p> </li> <li> <p> If <code>path</code> is empty, <code>namespaceType</code> is set to <code>NONE</code>, and <code>name</code> is set to "<code>/</code>", the output artifact is stored in the root of the output bucket. </p> </li> <li> <p> If <code>path</code> is set to <code>MyArtifacts</code>, <code>namespaceType</code> is set to <code>BUILD_ID</code>, and <code>name</code> is set to "<code>/</code>", the output artifact is stored in <code>MyArtifacts/<i>build-ID</i> </code>. </p> </li> </ul>'
      packaging:
        $ref: '#/definitions/ArtifactPackaging'
        description: '<p>The type of build output artifact to create:</p> <ul> <li> <p>If <code>type</code> is set to <code>CODEPIPELINE</code>, AWS CodePipeline ignores this value if specified. This is because AWS CodePipeline manages its build output artifacts instead of AWS CodeBuild.</p> </li> <li> <p>If <code>type</code> is set to <code>NO_ARTIFACTS</code>, this value is ignored if specified, because no build output is produced.</p> </li> <li> <p>If <code>type</code> is set to <code>S3</code>, valid values include:</p> <ul> <li> <p> <code>NONE</code>: AWS CodeBuild creates in the output bucket a folder that contains the build output. This is the default if <code>packaging</code> is not specified.</p> </li> <li> <p> <code>ZIP</code>: AWS CodeBuild creates in the output bucket a ZIP file that contains the build output.</p> </li> </ul> </li> </ul>'
      overrideArtifactName:
        $ref: '#/definitions/WrapperBoolean'
        description: ' If this flag is set, a name specified in the build spec file overrides the artifact name. The name specified in a build spec file is calculated at build time and uses the Shell Command Language. For example, you can append a date and time to your artifact name so that it is always unique. '
      encryptionDisabled:
        $ref: '#/definitions/WrapperBoolean'
        description: ' Set to true if you do not want your output artifacts encrypted. This option is valid only if your artifacts type is Amazon Simple Storage Service (Amazon S3). If this is set with another artifacts type, an invalidInputException is thrown. '
      artifactIdentifier:
        $ref: '#/definitions/String'
        description: ' An identifier for this artifact definition. '
    description: Information about the build output artifacts for the build project.
  ProjectArtifactsList:
    type: array
    items:
      $ref: '#/definitions/ProjectArtifacts'
    minItems: 0
    maxItems: 12
  ProjectBadge:
    type: object
    properties:
      badgeEnabled:
        $ref: '#/definitions/Boolean'
        description: Set this to true to generate a publicly accessible URL for your project's build badge.
      badgeRequestUrl:
        $ref: '#/definitions/String'
        description: <p>The publicly-accessible URL through which you can access the build badge for your project. </p> <p>The publicly accessible URL through which you can access the build badge for your project. </p>
    description: Information about the build badge for the build project.
  ProjectCache:
    type: object
    required:
      - type
    properties:
      type:
        $ref: '#/definitions/CacheType'
        description: '<p>The type of cache used by the build project. Valid values include:</p> <ul> <li> <p> <code>NO_CACHE</code>: The build project does not use any cache.</p> </li> <li> <p> <code>S3</code>: The build project reads and writes from and to S3.</p> </li> </ul>'
      location:
        $ref: '#/definitions/String'
        description: '<p>Information about the cache location: </p> <ul> <li> <p> <code>NO_CACHE</code>: This value is ignored.</p> </li> <li> <p> <code>S3</code>: This is the S3 bucket name/prefix.</p> </li> </ul>'
    description: Information about the cache for the build project.
  ProjectDescription:
    type: string
    minLength: 0
    maxLength: 255
  ProjectEnvironment:
    type: object
    required:
      - type
      - image
      - computeType
    properties:
      type:
        $ref: '#/definitions/EnvironmentType'
        description: The type of build environment to use for related builds.
      image:
        $ref: '#/definitions/NonEmptyString'
        description: The ID of the Docker image to use for this build project.
      computeType:
        $ref: '#/definitions/ComputeType'
        description: '<p>Information about the compute resources the build project uses. Available values include:</p> <ul> <li> <p> <code>BUILD_GENERAL1_SMALL</code>: Use up to 3 GB memory and 2 vCPUs for builds.</p> </li> <li> <p> <code>BUILD_GENERAL1_MEDIUM</code>: Use up to 7 GB memory and 4 vCPUs for builds.</p> </li> <li> <p> <code>BUILD_GENERAL1_LARGE</code>: Use up to 15 GB memory and 8 vCPUs for builds.</p> </li> </ul>'
      environmentVariables:
        $ref: '#/definitions/EnvironmentVariables'
        description: A set of environment variables to make available to builds for this build project.
      privilegedMode:
        $ref: '#/definitions/WrapperBoolean'
        description: '<p>Enables running the Docker daemon inside a Docker container. Set to true only if the build project is be used to build Docker images, and the specified build environment image is not provided by AWS CodeBuild with Docker support. Otherwise, all associated builds that attempt to interact with the Docker daemon fail. You must also start the Docker daemon so that builds can interact with it. One way to do this is to initialize the Docker daemon during the install phase of your build spec by running the following build commands. (Do not run these commands if the specified build environment image is provided by AWS CodeBuild with Docker support.)</p> <p>If the operating system''s base image is Ubuntu Linux:</p> <p> <code>- nohup /usr/local/bin/dockerd --host=unix:///var/run/docker.sock --host=tcp://0.0.0.0:2375 --storage-driver=overlay&amp; - timeout 15 sh -c "until docker info; do echo .; sleep 1; done"</code> </p> <p>If the operating system''s base image is Alpine Linux, add the <code>-t</code> argument to <code>timeout</code>:</p> <p> <code>- nohup /usr/local/bin/dockerd --host=unix:///var/run/docker.sock --host=tcp://0.0.0.0:2375 --storage-driver=overlay&amp; - timeout 15 -t sh -c "until docker info; do echo .; sleep 1; done"</code> </p>'
      certificate:
        $ref: '#/definitions/String'
        description: The certificate to use with this build project.
    description: Information about the build environment of the build project.
  ProjectName:
    type: string
    pattern: '[A-Za-z0-9][A-Za-z0-9\-_]{1,254}'
    minLength: 2
    maxLength: 255
  ProjectNames:
    type: array
    items:
      $ref: '#/definitions/NonEmptyString'
    minItems: 1
    maxItems: 100
  ProjectSecondarySourceVersions:
    type: array
    items:
      $ref: '#/definitions/ProjectSourceVersion'
    minItems: 0
    maxItems: 12
  ProjectSortByType:
    type: string
    enum:
      - NAME
      - CREATED_TIME
      - LAST_MODIFIED_TIME
  ProjectSource:
    type: object
    required:
      - type
    properties:
      type:
        $ref: '#/definitions/SourceType'
        description: '<p>The type of repository that contains the source code to be built. Valid values include:</p> <ul> <li> <p> <code>BITBUCKET</code>: The source code is in a Bitbucket repository.</p> </li> <li> <p> <code>CODECOMMIT</code>: The source code is in an AWS CodeCommit repository.</p> </li> <li> <p> <code>CODEPIPELINE</code>: The source code settings are specified in the source action of a pipeline in AWS CodePipeline.</p> </li> <li> <p> <code>GITHUB</code>: The source code is in a GitHub repository.</p> </li> <li> <p> <code>NO_SOURCE</code>: The project does not have input source code.</p> </li> <li> <p> <code>S3</code>: The source code is in an Amazon Simple Storage Service (Amazon S3) input bucket.</p> </li> </ul>'
      location:
        $ref: '#/definitions/String'
        description: '<p>Information about the location of the source code to be built. Valid values include:</p> <ul> <li> <p>For source code settings that are specified in the source action of a pipeline in AWS CodePipeline, <code>location</code> should not be specified. If it is specified, AWS CodePipeline ignores it. This is because AWS CodePipeline uses the settings in a pipeline''s source action instead of this value.</p> </li> <li> <p>For source code in an AWS CodeCommit repository, the HTTPS clone URL to the repository that contains the source code and the build spec (for example, <code>https://git-codecommit.<i>region-ID</i>.amazonaws.com/v1/repos/<i>repo-name</i> </code>).</p> </li> <li> <p>For source code in an Amazon Simple Storage Service (Amazon S3) input bucket, one of the following. </p> <ul> <li> <p> The path to the ZIP file that contains the source code (for example, <code> <i>bucket-name</i>/<i>path</i>/<i>to</i>/<i>object-name</i>.zip</code>). </p> </li> <li> <p> The path to the folder that contains the source code (for example, <code> <i>bucket-name</i>/<i>path</i>/<i>to</i>/<i>source-code</i>/<i>folder</i>/</code>). </p> </li> </ul> </li> <li> <p>For source code in a GitHub repository, the HTTPS clone URL to the repository that contains the source and the build spec. You must connect your AWS account to your GitHub account. Use the AWS CodeBuild console to start creating a build project. When you use the console to connect (or reconnect) with GitHub, on the GitHub <b>Authorize application</b> page, for <b>Organization access</b>, choose <b>Request access</b> next to each repository you want to allow AWS CodeBuild to have access to, and then choose <b>Authorize application</b>. (After you have connected to your GitHub account, you do not need to finish creating the build project. You can leave the AWS CodeBuild console.) To instruct AWS CodeBuild to use this connection, in the <code>source</code> object, set the <code>auth</code> object''s <code>type</code> value to <code>OAUTH</code>.</p> </li> <li> <p>For source code in a Bitbucket repository, the HTTPS clone URL to the repository that contains the source and the build spec. You must connect your AWS account to your Bitbucket account. Use the AWS CodeBuild console to start creating a build project. When you use the console to connect (or reconnect) with Bitbucket, on the Bitbucket <b>Confirm access to your account</b> page, choose <b>Grant access</b>. (After you have connected to your Bitbucket account, you do not need to finish creating the build project. You can leave the AWS CodeBuild console.) To instruct AWS CodeBuild to use this connection, in the <code>source</code> object, set the <code>auth</code> object''s <code>type</code> value to <code>OAUTH</code>.</p> </li> </ul>'
      gitCloneDepth:
        $ref: '#/definitions/GitCloneDepth'
        description: Information about the git clone depth for the build project.
      buildspec:
        $ref: '#/definitions/String'
        description: '<p>The build spec declaration to use for the builds in this build project.</p> <p>If this value is not specified, a build spec must be included along with the source code to be built.</p>'
      auth:
        $ref: '#/definitions/SourceAuth'
        description: <p>Information about the authorization settings for AWS CodeBuild to access the source code to be built.</p> <p>This information is for the AWS CodeBuild console's use only. Your code should not get or set this information directly.</p>
      reportBuildStatus:
        $ref: '#/definitions/WrapperBoolean'
        description: ' Set to true to report the status of a build''s start and finish to your source provider. This option is valid only when your source provider is GitHub, GitHub Enterprise, or Bitbucket. If this is set and you use a different source provider, an invalidInputException is thrown. '
      insecureSsl:
        $ref: '#/definitions/WrapperBoolean'
[...]
