swagger: '2.0'
schemes:
  - https
host: management.azure.com
x-hasEquivalentPaths: true
info:
  description: The Compute Management Client.
  title: ComputeManagementClient
  version: '2016-03-30'
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    format: swagger
    url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/2016-03-30/swagger/compute.json'
    version: '2.0'
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: arm-compute
consumes:
  - application/json
  - text/json
produces:
  - application/json
  - text/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: Client Api Version.
    in: query
    name: api-version
    required: true
    type: string
  SubscriptionIdParameter:
    description: subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers':
    get:
      description: Gets a list of virtual machine image publishers.
      operationId: VirtualMachineImages_ListPublishers
      parameters:
        - in: path
          name: location
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/VirtualMachineImageResource'
            type: array
      tags:
        - VirtualMachineImages
  '/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmextension/types':
    get:
      description: Gets a list of virtual machine extension image types.
      operationId: VirtualMachineExtensionImages_ListTypes
      parameters:
        - in: path
          name: location
          required: true
          type: string
        - in: path
          name: publisherName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/VirtualMachineExtensionImage'
            type: array
      tags:
        - VirtualMachineExtensionImages
  '/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmextension/types/{type}/versions':
    get:
      description: Gets a list of virtual machine extension image versions.
      operationId: VirtualMachineExtensionImages_ListVersions
      parameters:
        - in: path
          name: location
          required: true
          type: string
        - in: path
          name: publisherName
          required: true
          type: string
        - in: path
          name: type
          required: true
          type: string
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          type: string
        - format: int32
          in: query
          name: $top
          required: false
          type: integer
        - in: query
          name: $orderby
          required: false
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/VirtualMachineExtensionImage'
            type: array
      tags:
        - VirtualMachineExtensionImages
      x-ms-odata: '#/definitions/VirtualMachineExtensionImage'
  '/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmextension/types/{type}/versions/{version}':
    get:
      description: Gets a virtual machine extension image.
      operationId: VirtualMachineExtensionImages_Get
      parameters:
        - in: path
          name: location
          required: true
          type: string
        - in: path
          name: publisherName
          required: true
          type: string
        - in: path
          name: type
          required: true
          type: string
        - in: path
          name: version
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/VirtualMachineExtensionImage'
      tags:
        - VirtualMachineExtensionImages
  '/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmimage/offers':
    get:
      description: Gets a list of virtual machine image offers.
      operationId: VirtualMachineImages_ListOffers
      parameters:
        - in: path
          name: location
          required: true
          type: string
        - in: path
          name: publisherName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/VirtualMachineImageResource'
            type: array
      tags:
        - VirtualMachineImages
  '/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus':
    get:
      description: Gets a list of virtual machine image skus.
      operationId: VirtualMachineImages_ListSkus
      parameters:
        - in: path
          name: location
          required: true
          type: string
        - in: path
          name: publisherName
          required: true
          type: string
        - in: path
          name: offer
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/VirtualMachineImageResource'
            type: array
      tags:
        - VirtualMachineImages
  '/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus/{skus}/versions':
    get:
      description: Gets a list of virtual machine images.
      operationId: VirtualMachineImages_List
      parameters:
        - in: path
          name: location
          required: true
          type: string
        - in: path
          name: publisherName
          required: true
          type: string
        - in: path
          name: offer
          required: true
          type: string
        - in: path
          name: skus
          required: true
          type: string
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          type: string
        - format: int32
          in: query
          name: $top
          required: false
          type: integer
        - in: query
          name: $orderby
          required: false
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/VirtualMachineImageResource'
            type: array
      tags:
        - VirtualMachineImages
      x-ms-odata: '#/definitions/VirtualMachineImageResource'
  '/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus/{skus}/versions/{version}':
    get:
      description: Gets a virtual machine image.
      operationId: VirtualMachineImages_Get
      parameters:
        - in: path
          name: location
          required: true
          type: string
        - in: path
          name: publisherName
          required: true
          type: string
        - in: path
          name: offer
          required: true
          type: string
        - in: path
          name: skus
          required: true
          type: string
        - in: path
          name: version
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/VirtualMachineImage'
      tags:
        - VirtualMachineImages
  '/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/usages':
    get:
      description: Lists compute usages for a subscription.
      operationId: Usage_List
      parameters:
        - description: The location upon which resource usage is queried.
          in: path
          name: location
          pattern: '^[-\w\._]+$'
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ListUsagesResult'
      tags:
        - Usage
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/vmSizes':
    get:
      description: Lists all available virtual machine sizes for a subscription in a location.
      operationId: VirtualMachineSizes_List
      parameters:
        - description: The location upon which virtual-machine-sizes is queried.
          in: path
          name: location
          pattern: '^[-\w\._]+$'
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/VirtualMachineSizeListResult'
      tags:
        - VirtualMachineSizes
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/providers/Microsoft.Compute/virtualMachineScaleSets':
    get:
      description: Lists all Virtual Machine Scale Sets in the subscription. Use nextLink property in the response to get the next page of Virtual Machine Scale Sets. Do this till nextLink is not null to fetch all the Virtual Machine Scale Sets.
      operationId: VirtualMachineScaleSets_ListAll
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/VirtualMachineScaleSetListWithLinkResult'
      tags:
        - VirtualMachineScaleSets
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Compute/virtualMachines':
    get:
      description: Gets the list of Virtual Machines in the subscription. Use nextLink property in the response to get the next page of Virtual Machines. Do this till nextLink is not null to fetch all the Virtual Machines.
      operationId: VirtualMachines_ListAll
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/VirtualMachineListResult'
      tags:
        - VirtualMachines
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets':
    get:
      description: The operation to list the availability sets.
      operationId: AvailabilitySets_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/AvailabilitySetListResult'
      tags:
        - AvailabilitySets
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}':
    delete:
      description: The operation to delete the availability set.
      operationId: AvailabilitySets_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the availability set.
          in: path
          name: availabilitySetName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
        '204':
          description: ''
      tags:
        - AvailabilitySets
    get:
      description: The operation to get the availability set.
      operationId: AvailabilitySets_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the availability set.
          in: path
          name: availabilitySetName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/AvailabilitySet'
      tags:
        - AvailabilitySets
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}/vmSizes':
    get:
      description: Lists all available virtual machine sizes that can be used to create a new virtual machine in an existing availability set.
      operationId: AvailabilitySets_ListAvailableSizes
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the availability set.
          in: path
          name: availabilitySetName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/VirtualMachineSizeListResult'
      tags:
        - AvailabilitySets
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{name}':
    put:
      description: The operation to create or update the availability set.
      operationId: AvailabilitySets_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Parameters supplied to the Create Availability Set operation.
          in: path
          name: name
          required: true
          type: string
        - description: Parameters supplied to the Create Availability Set operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/AvailabilitySet'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/AvailabilitySet'
      tags:
        - AvailabilitySets
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets':
    get:
      description: Lists all virtual machine scale sets under a resource group.
      operationId: VirtualMachineScaleSets_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/VirtualMachineScaleSetListResult'
      tags:
        - VirtualMachineScaleSets
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{name}':
    put:
      description: Allows you to create or update a virtual machine scale set by providing parameters or a path to pre-configured parameter file.
      operationId: VirtualMachineScaleSets_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Parameters supplied to the Create Virtual Machine Scale Set operation.
          in: path
          name: name
          required: true
          type: string
        - description: Parameters supplied to the Create Virtual Machine Scale Set operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/VirtualMachineScaleSet'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/VirtualMachineScaleSet'
        '201':
          description: ''
          schema:
            $ref: '#/definitions/VirtualMachineScaleSet'
      tags:
        - VirtualMachineScaleSets
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines':
    get:
      description: Lists all virtual machines in a VM scale sets.
      operationId: VirtualMachineScaleSetVMs_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual machine scale set.
          in: path
          name: virtualMachineScaleSetName
          required: true
          type: string
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          type: string
        - description: The list parameters.
          in: query
          name: $select
          required: false
          type: string
        - description: The expand expression to apply on the operation.
          in: query
          name: $expand
          required: false
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/VirtualMachineScaleSetVMListResult'
      tags:
        - VirtualMachineScaleSetVMs
      x-ms-odata: '#/definitions/VirtualMachineScaleSetVM'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}':
    delete:
      description: Allows you to delete a virtual machine scale set.
      operationId: VirtualMachineScaleSets_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual machine scale set.
          in: path
          name: vmScaleSetName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
        '202':
          description: ''
        '204':
          description: ''
      tags:
        - VirtualMachineScaleSets
      x-ms-long-running-operation: true
    get:
      description: Display information about a virtual machine scale set.
      operationId: VirtualMachineScaleSets_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual machine scale set.
          in: path
          name: vmScaleSetName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/VirtualMachineScaleSet'
      tags:
        - VirtualMachineScaleSets
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/deallocate':
    post:
      description: Allows you to deallocate virtual machines in a virtual machine scale set. Shuts down the virtual machines and releases the compute resources. You are not billed for the compute resources that this virtual machine scale set uses.
      operationId: VirtualMachineScaleSets_Deallocate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual machine scale set.
          in: path
          name: vmScaleSetName
          required: true
          type: string
        - description: The list of virtual machine scale set instance IDs.
          in: body
          name: vmInstanceIDs
          required: false
          schema:
            $ref: '#/definitions/VirtualMachineScaleSetVMInstanceIDs'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '202':
          description: ''
      tags:
        - VirtualMachineScaleSets
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/delete':
    post:
      description: Allows you to delete virtual machines in a virtual machine scale set.
      operationId: VirtualMachineScaleSets_DeleteInstances
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual machine scale set.
          in: path
          name: vmScaleSetName
          required: true
          type: string
        - description: The list of virtual machine scale set instance IDs.
          in: body
          name: vmInstanceIDs
          required: true
          schema:
            $ref: '#/definitions/VirtualMachineScaleSetVMInstanceRequiredIDs'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '202':
          description: ''
      tags:
        - VirtualMachineScaleSets
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/instanceView':
    get:
      description: Displays status of a virtual machine scale set instance.
      operationId: VirtualMachineScaleSets_GetInstanceView
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual machine scale set.
          in: path
          name: vmScaleSetName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/VirtualMachineScaleSetInstanceView'
      tags:
        - VirtualMachineScaleSets
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/manualupgrade':
    post:
      description: Allows you to manually upgrade virtual machines in a virtual machine scale set.
      operationId: VirtualMachineScaleSets_UpdateInstances
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual machine scale set.
          in: path
          name: vmScaleSetName
          required: true
          type: string
        - description: The list of virtual machine scale set instance IDs.
          in: body
          name: vmInstanceIDs
          required: true
          schema:
            $ref: '#/definitions/VirtualMachineScaleSetVMInstanceRequiredIDs'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '202':
          description: ''
      tags:
        - VirtualMachineScaleSets
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/poweroff':
    post:
      description: Allows you to power off (stop) virtual machines in a virtual machine scale set. Note that resources are still attached and you are getting charged for the resources. Use deallocate to release resources.
      operationId: VirtualMachineScaleSets_PowerOff
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual machine scale set.
          in: path
          name: vmScaleSetName
          required: true
          type: string
        - description: The list of virtual machine scale set instance IDs.
          in: body
          name: vmInstanceIDs
          required: false
          schema:
            $ref: '#/definitions/VirtualMachineScaleSetVMInstanceIDs'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '202':
          description: ''
      tags:
        - VirtualMachineScaleSets
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/reimage':
    post:
      description: Allows you to re-image(update the version of the installed operating system) virtual machines in a virtual machine scale set.
      operationId: VirtualMachineScaleSets_Reimage
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual machine scale set.
          in: path
          name: vmScaleSetName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '202':
          description: ''
      tags:
        - VirtualMachineScaleSets
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/restart':
    post:
      description: Allows you to restart virtual machines in a virtual machine scale set.
      operationId: VirtualMachineScaleSets_Restart
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual machine scale set.
          in: path
          name: vmScaleSetName
          required: true
          type: string
        - description: The list of virtual machine scale set instance IDs.
          in: body
          name: vmInstanceIDs
          required: false
          schema:
            $ref: '#/definitions/VirtualMachineScaleSetVMInstanceIDs'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '202':
          description: ''
      tags:
        - VirtualMachineScaleSets
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/skus':
    get:
      description: Displays available skus for your virtual machine scale set including the minimum and maximum vm instances allowed for a particular sku.
      operationId: VirtualMachineScaleSets_ListSkus
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual machine scale set.
          in: path
          name: vmScaleSetName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/VirtualMachineScaleSetListSkusResult'
      tags:
        - VirtualMachineScaleSets
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/start':
    post:
      description: Allows you to start virtual machines in a virtual machine scale set.
      operationId: VirtualMachineScaleSets_Start
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual machine scale set.
          in: path
          name: vmScaleSetName
          required: true
          type: string
        - description: The list of virtual machine scale set instance IDs.
          in: body
          name: vmInstanceIDs
          required: false
          schema:
            $ref: '#/definitions/VirtualMachineScaleSetVMInstanceIDs'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '202':
          description: ''
      tags:
        - VirtualMachineScaleSets
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/virtualmachines/{instanceId}':
    delete:
      description: Allows you to delete a virtual machine scale set.
      operationId: VirtualMachineScaleSetVMs_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual machine scale set.
          in: path
          name: vmScaleSetName
          required: true
          type: string
        - description: The instance id of the virtual machine.
          in: path
          name: instanceId
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
        '202':
          description: ''
        '204':
          description: ''
      tags:
        - VirtualMachineScaleSetVMs
      x-ms-long-running-operation: true
    get:
      description: Displays information about a virtual machine scale set virtual machine.
      operationId: VirtualMachineScaleSetVMs_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual machine scale set.
          in: path
          name: vmScaleSetName
          required: true
          type: string
        - description: The instance id of the virtual machine.
          in: path
          name: instanceId
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/VirtualMachineScaleSetVM'
      tags:
        - VirtualMachineScaleSetVMs
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/virtualmachines/{instanceId}/deallocate':
    post:
      description: Allows you to deallocate a virtual machine scale set virtual machine. Shuts down the virtual machine and releases the compute resources. You are not billed for the compute resources that this virtual machine uses.
      operationId: VirtualMachineScaleSetVMs_Deallocate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual machine scale set.
          in: path
          name: vmScaleSetName
          required: true
          type: string
        - description: The instance id of the virtual machine.
          in: path
          name: instanceId
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '202':
          description: ''
      tags:
        - VirtualMachineScaleSetVMs
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/virtualmachines/{instanceId}/instanceView':
    get:
      description: Displays the status of a virtual machine scale set virtual machine.
      operationId: VirtualMachineScaleSetVMs_GetInstanceView
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual machine scale set.
          in: path
          name: vmScaleSetName
          required: true
          type: string
        - description: The instance id of the virtual machine.
          in: path
          name: instanceId
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/VirtualMachineScaleSetVMInstanceView'
      tags:
        - VirtualMachineScaleSetVMs
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/virtualmachines/{instanceId}/poweroff':
    post:
      description: Allows you to power off (stop) a virtual machine in a VM scale set.
      operationId: VirtualMachineScaleSetVMs_PowerOff
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual machine scale set.
          in: path
          name: vmScaleSetName
          required: true
          type: string
        - description: The instance id of the virtual machine.
          in: path
          name: instanceId
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '202':
          description: ''
      tags:
        - VirtualMachineScaleSetVMs
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/virtualmachines/{instanceId}/reimage':
    post:
      description: Allows you to re-image(update the version of the installed operating system) a virtual machine scale set instance.
      operationId: VirtualMachineScaleSetVMs_Reimage
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual machine scale set.
          in: path
          name: vmScaleSetName
          required: true
          type: string
        - description: The instance id of the virtual machine.
          in: path
          name: instanceId
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '202':
          description: ''
      tags:
        - VirtualMachineScaleSetVMs
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/virtualmachines/{instanceId}/restart':
    post:
      description: Allows you to restart a virtual machine in a VM scale set.
      operationId: VirtualMachineScaleSetVMs_Restart
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual machine scale set.
          in: path
          name: vmScaleSetName
          required: true
          type: string
        - description: The instance id of the virtual machine.
          in: path
          name: instanceId
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '202':
          description: ''
      tags:
        - VirtualMachineScaleSetVMs
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/virtualmachines/{instanceId}/start':
    post:
      description: Allows you to start a virtual machine in a VM scale set.
      operationId: VirtualMachineScaleSetVMs_Start
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual machine scale set.
          in: path
          name: vmScaleSetName
          required: true
          type: string
        - description: The instance id of the virtual machine.
          in: path
          name: instanceId
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '202':
          description: ''
      tags:
        - VirtualMachineScaleSetVMs
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines':
    get:
      description: The operation to list virtual machines under a resource group.
      operationId: VirtualMachines_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/VirtualMachineListResult'
      tags:
        - VirtualMachines
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}':
    delete:
      description: The operation to delete a virtual machine.
      operationId: VirtualMachines_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual machine.
          in: path
          name: vmName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '202':
          description: ''
        '204':
          description: ''
      tags:
        - VirtualMachines
      x-ms-long-running-operation: true
    get:
      description: The operation to get a virtual machine.
      operationId: VirtualMachines_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual machine.
          in: path
          name: vmName
          required: true
          type: string
        - description: The expand expression to apply on the operation.
          enum:
            - instanceView
          in: query
          name: $expand
          required: false
          type: string
          x-ms-enum:
            modelAsString: false
            name: InstanceViewTypes
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/VirtualMachine'
      tags:
        - VirtualMachines
    put:
      description: The operation to create or update a virtual machine.
      operationId: VirtualMachines_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual machine.
          in: path
          name: vmName
          required: true
          type: string
        - description: Parameters supplied to the Create Virtual Machine operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/VirtualMachine'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/VirtualMachine'
        '201':
          description: ''
          schema:
            $ref: '#/definitions/VirtualMachine'
      tags:
        - VirtualMachines
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/capture':
    post:
      description: Captures the VM by copying virtual hard disks of the VM and outputs a template that can be used to create similar VMs.
      operationId: VirtualMachines_Capture
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual machine.
          in: path
          name: vmName
          required: true
          type: string
        - description: Parameters supplied to the Capture Virtual Machine operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/VirtualMachineCaptureParameters'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/VirtualMachineCaptureResult'
        '202':
          description: ''
      tags:
        - VirtualMachines
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/deallocate':
    post:
      description: Shuts down the Virtual Machine and releases the compute resources. You are not billed for the compute resources that this Virtual Machine uses.
      operationId: VirtualMachines_Deallocate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual machine.
          in: path
          name: vmName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '202':
          description: ''
      tags:
        - VirtualMachines
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/extensions/{vmExtensionName}':
    delete:
      description: The operation to delete the extension.
      operationId: VirtualMachineExtensions_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual machine where the extension should be deleted.
          in: path
          name: vmName
          required: true
          type: string
        - description: The name of the virtual machine extension.
          in: path
          name: vmExtensionName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '202':
          description: ''
        '204':
          description: ''
      tags:
        - VirtualMachineExtensions
      x-ms-long-running-operation: true
    get:
      description: The operation to get the extension.
      operationId: VirtualMachineExtensions_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual machine containing the extension.
          in: path
          name: vmName
          required: true
          type: string
        - description: The name of the virtual machine extension.
          in: path
          name: vmExtensionName
          required: true
          type: string
        - description: The expand expression to apply on the operation.
          in: query
          name: $expand
          required: false
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/VirtualMachineExtension'
      tags:
        - VirtualMachineExtensions
    put:
      description: The operation to create or update the extension.
      operationId: VirtualMachineExtensions_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual machine where the extension should be create or updated.
          in: path
          name: vmName
          required: true
          type: string
        - description: The name of the virtual machine extension.
          in: path
          name: vmExtensionName
          required: true
          type: string
        - description: Parameters supplied to the Create Virtual Machine Extension operation.
          in: body
          name: extensionParameters
          required: true
          schema:
            $ref: '#/definitions/VirtualMachineExtension'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/VirtualMachineExtension'
        '201':
          description: ''
          schema:
            $ref: '#/definitions/VirtualMachineExtension'
      tags:
        - VirtualMachineExtensions
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/generalize':
    post:
      description: Sets the state of the VM as Generalized.
      operationId: VirtualMachines_Generalize
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual machine.
          in: path
          name: vmName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
      tags:
        - VirtualMachines
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/powerOff':
    post:
      description: The operation to power off (stop) a virtual machine.
      operationId: VirtualMachines_PowerOff
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual machine.
          in: path
          name: vmName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '202':
          description: ''
      tags:
        - VirtualMachines
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/redeploy':
    post:
      description: The operation to redeploy a virtual machine.
      operationId: VirtualMachines_Redeploy
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual machine.
          in: path
          name: vmName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '202':
          description: ''
      tags:
        - VirtualMachines
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/restart':
    post:
      description: The operation to restart a virtual machine.
      operationId: VirtualMachines_Restart
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual machine.
          in: path
          name: vmName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '202':
          description: ''
      tags:
        - VirtualMachines
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/start':
    post:
      description: The operation to start a virtual machine.
      operationId: VirtualMachines_Start
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual machine.
          in: path
          name: vmName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '202':
          description: ''
      tags:
        - VirtualMachines
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/vmSizes':
    get:
      description: Lists all available virtual machine sizes it can be resized to for a virtual machine.
      operationId: VirtualMachines_ListAvailableSizes
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual machine.
          in: path
          name: vmName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/VirtualMachineSizeListResult'
      tags:
        - VirtualMachines
      x-ms-pageable: {}
definitions:
  AdditionalUnattendContent:
    description: 'additional XML formatted information that can be included in the Unattend.xml file, which is used by Windows Setup. Contents are defined by setting name, component name, and the pass in which the content is a applied.'
    properties:
      componentName:
        description: 'the component name. Currently, the only allowable value is Microsoft-Windows-Shell-Setup.'
        enum:
          - Microsoft-Windows-Shell-Setup
        type: string
        x-ms-enum:
          modelAsString: false
          name: ComponentNames
      content:
        description: XML formatted content that is added to the unattend.xml file in the specified pass and component.The XML must be less than 4 KB and must include the root element for the setting or feature that is being inserted.
        type: string
      passName:
        description: 'the pass name. Currently, the only allowable value is oobeSystem.'
        enum:
          - oobeSystem
        type: string
        x-ms-enum:
          modelAsString: false
          name: PassNames
      settingName:
        description: 'setting name (e.g. FirstLogonCommands, AutoLogon )'
        enum:
          - AutoLogon
          - FirstLogonCommands
        type: string
        x-ms-enum:
          modelAsString: false
          name: SettingNames
  ApiEntityReference:
    description: The API entity reference.
    properties:
      id:
        description: 'the ARM resource id in the form of /subscriptions/{SubcriptionId}/resourceGroups/{ResourceGroupName}/...'
        type: string
  ApiError:
    description: Api error.
    properties:
      code:
        description: the error code.
        type: string
      details:
        description: the Api error details
        items:
          $ref: '#/definitions/ApiErrorBase'
        type: array
      innererror:
        $ref: '#/definitions/InnerError'
        description: the Api inner error
      message:
        description: the error message.
        type: string
      target:
        description: the target of the particular error.
        type: string
  ApiErrorBase:
    description: Api error base.
    properties:
      code:
        description: the error code.
        type: string
      message:
        description: the error message.
        type: string
      target:
        description: the target of the particular error.
        type: string
  AvailabilitySet:
    allOf:
      - $ref: '#/definitions/Resource'
    description: Create or update Availability Set parameters.
    properties:
      properties:
        $ref: '#/definitions/AvailabilitySetProperties'
        x-ms-client-flatten: true
  AvailabilitySetListResult:
    description: The List Availability Set operation response.
    properties:
      value:
        description: the list of availability sets
        items:
          $ref: '#/definitions/AvailabilitySet'
        type: array
  AvailabilitySetProperties:
    description: The instance view of a resource.
    properties:
      platformFaultDomainCount:
        description: Fault Domain count.
        format: int32
        type: integer
      platformUpdateDomainCount:
        description: Update Domain count.
        format: int32
        type: integer
      statuses:
        description: the resource status information.
        items:
          $ref: '#/definitions/InstanceViewStatus'
        type: array
      virtualMachines:
        description: a list containing reference to all Virtual Machines created under this Availability Set.
        items:
          $ref: '#/definitions/SubResource'
        type: array
  BootDiagnostics:
    description: Describes Boot Diagnostics.
    properties:
      enabled:
        description: whether boot diagnostics should be enabled on the Virtual Machine.
        type: boolean
      storageUri:
        description: the boot diagnostics storage Uri. It should be a valid Uri
        type: string
  BootDiagnosticsInstanceView:
    description: The instance view of a virtual machine boot diagnostics.
    properties:
      consoleScreenshotBlobUri:
        description: the console screenshot blob Uri.
        type: string
      serialConsoleLogBlobUri:
        description: the Linux serial console log blob Uri.
        type: string
  ComputeLongRunningOperationProperties:
    description: 'Compute-specific operation properties, including output'
    properties:
      output:
        description: Operation output data (raw JSON)
        type: object
  DataDisk:
    description: Describes a data disk.
    properties:
      caching:
        description: the caching type.
        enum:
          - None
          - ReadOnly
          - ReadWrite
        type: string
        x-ms-enum:
          modelAsString: false
          name: CachingTypes
      createOption:
        description: the create option.
        enum:
          - fromImage
          - empty
          - attach
        type: string
        x-ms-enum:
          modelAsString: false
          name: DiskCreateOptionTypes
      diskSizeGB:
        description: 'the initial disk size in GB for blank data disks, and the new desired size for existing OS and Data disks.'
        format: int32
        type: integer
      image:
        $ref: '#/definitions/VirtualHardDisk'
        description: 'the Source User Image VirtualHardDisk. This VirtualHardDisk will be copied before using it to attach to the Virtual Machine.If SourceImage is provided, the destination VirtualHardDisk should not exist.'
      lun:
        description: the logical unit number.
        format: int32
        type: integer
      name:
        description: the disk name.
        type: string
      vhd:
        $ref: '#/definitions/VirtualHardDisk'
        description: the Virtual Hard Disk.
    required:
      - lun
      - name
      - vhd
      - createOption
  DataDiskImage:
    description: Contains the data disk images information.
    properties:
      lun:
        description: the LUN number for a data disk.This value is used to identify data disk image inside the VMImage therefore it must be unique for each data disk.The allowed character for the value is digit.
        format: int32
        readOnly: true
        type: integer
  DiagnosticsProfile:
    description: Describes a diagnostics profile.
    properties:
      bootDiagnostics:
        $ref: '#/definitions/BootDiagnostics'
        description: the boot diagnostics.
  DiskEncryptionSettings:
    description: Describes a Encryption Settings for a Disk
    properties:
      diskEncryptionKey:
        $ref: '#/definitions/KeyVaultSecretReference'
        description: the disk encryption key which is a KeyVault Secret.
      enabled:
        description: whether disk encryption should be enabled on the Virtual Machine.
        type: boolean
      keyEncryptionKey:
        $ref: '#/definitions/KeyVaultKeyReference'
        description: the key encryption key which is KeyVault Key.
  DiskInstanceView:
    description: The instance view of the disk.
    properties:
      name:
        description: the disk name.
        type: string
      statuses:
        description: the resource status information.
        items:
          $ref: '#/definitions/InstanceViewStatus'
        type: array
  HardwareProfile:
    description: Describes a hardware profile.
    properties:
      vmSize:
        description: The virtual machine size name.
        enum:
          - Basic_A0
          - Basic_A1
          - Basic_A2
          - Basic_A3
          - Basic_A4
          - Standard_A0
          - Standard_A1
          - Standard_A2
          - Standard_A3
          - Standard_A4
          - Standard_A5
          - Standard_A6
          - Standard_A7
          - Standard_A8
          - Standard_A9
          - Standard_A10
          - Standard_A11
          - Standard_D1
          - Standard_D2
          - Standard_D3
          - Standard_D4
          - Standard_D11
          - Standard_D12
          - Standard_D13
          - Standard_D14
          - Standard_D1_v2
          - Standard_D2_v2
          - Standard_D3_v2
          - Standard_D4_v2
          - Standard_D5_v2
          - Standard_D11_v2
          - Standard_D12_v2
          - Standard_D13_v2
          - Standard_D14_v2
          - Standard_D15_v2
          - Standard_DS1
          - Standard_DS2
          - Standard_DS3
          - Standard_DS4
          - Standard_DS11
          - Standard_DS12
          - Standard_DS13
          - Standard_DS14
          - Standard_DS1_v2
          - Standard_DS2_v2
          - Standard_DS3_v2
          - Standard_DS4_v2
          - Standard_DS5_v2
          - Standard_DS11_v2
          - Standard_DS12_v2
          - Standard_DS13_v2
          - Standard_DS14_v2
          - Standard_DS15_v2
          - Standard_G1
          - Standard_G2
          - Standard_G3
          - Standard_G4
          - Standard_G5
          - Standard_GS1
          - Standard_GS2
          - Standard_GS3
          - Standard_GS4
          - Standard_GS5
        type: string
        x-ms-enum:
          modelAsString: true
          name: VirtualMachineSizeTypes
  ImageReference:
    description: The image reference.
    properties:
      offer:
        description: the image offer.
        type: string
      publisher:
        description: the image publisher.
        type: string
      sku:
        description: the image sku.
        type: string
      version:
        description: 'the image version. The allowed formats are Major.Minor.Build or ''latest''. Major, Minor and Build being decimal numbers. Specify ''latest'' to use the latest version of image.'
        type: string
  InnerError:
    description: Inner error details.
    properties:
      errordetail:
        description: the internal error message or exception dump.
        type: string
      exceptiontype:
        description: the exception type.
        type: string
  InstanceViewStatus:
    description: Instance view status.
    properties:
      code:
        description: the status Code.
        type: string
      displayStatus:
        description: the short localizable label for the status.
        type: string
      level:
        description: the level Code.
        enum:
          - Info
          - Warning
          - Error
        type: string
        x-ms-enum:
          modelAsString: false
          name: StatusLevelTypes
      message:
        description: 'the detailed Message, including for alerts and error messages.'
        type: string
      time:
        description: the time of the status.
        format: date-time
        type: string
  KeyVaultKeyReference:
    description: Describes a reference to Key Vault Key
    properties:
      keyUrl:
        description: the URL referencing a key in a Key Vault.
        type: string
      sourceVault:
        $ref: '#/definitions/SubResource'
        description: the Relative URL of the Key Vault containing the key
    required:
      - keyUrl
      - sourceVault
  KeyVaultSecretReference:
    description: Describes a reference to Key Vault Secret
    properties:
      secretUrl:
        description: the URL referencing a secret in a Key Vault.
        type: string
      sourceVault:
        $ref: '#/definitions/SubResource'
        description: the Relative URL of the Key Vault containing the secret.
    required:
      - secretUrl
      - sourceVault
  LinuxConfiguration:
    description: Describes Windows Configuration of the OS Profile.
    properties:
      disablePasswordAuthentication:
        description: whether Authentication using user name and password is allowed or not
        type: boolean
      ssh:
        $ref: '#/definitions/SshConfiguration'
        description: the SSH configuration for linux VMs
  ListUsagesResult:
    description: The List Usages operation response.
    properties:
      nextLink:
        description: the uri to fetch the next page of Compute Resource Usages. Call ListNext() with this to fetch the next page of Compute Resource Usages.
        type: string
      value:
        description: the list Compute Resource Usages.
        items:
          $ref: '#/definitions/Usage'
        type: array
  NetworkInterfaceReference:
    allOf:
      - $ref: '#/definitions/SubResource'
    description: Describes a network interface reference.
    properties:
      properties:
        $ref: '#/definitions/NetworkInterfaceReferenceProperties'
        x-ms-client-flatten: true
  NetworkInterfaceReferenceProperties:
    description: Describes a network interface reference properties.
    properties:
      primary:
        description: whether this is a primary NIC on a virtual machine
        type: boolean
  NetworkProfile:
    description: Describes a network profile.
    properties:
      networkInterfaces:
        description: the network interfaces.
        items:
          $ref: '#/definitions/NetworkInterfaceReference'
        type: array
  OSDisk:
    description: Describes an Operating System disk.
    properties:
      caching:
        description: the caching type.
        enum:
          - None
          - ReadOnly
          - ReadWrite
        type: string
        x-ms-enum:
          modelAsString: false
          name: CachingTypes
      createOption:
        description: the create option.
        enum:
          - fromImage
          - empty
          - attach
        type: string
        x-ms-enum:
          modelAsString: false
          name: DiskCreateOptionTypes
      diskSizeGB:
        description: 'the initial disk size in GB for blank data disks, and the new desired size for existing OS and Data disks.'
        format: int32
        type: integer
      encryptionSettings:
        $ref: '#/definitions/DiskEncryptionSettings'
        description: the disk encryption settings.
      image:
        $ref: '#/definitions/VirtualHardDisk'
        description: 'the Source User Image VirtualHardDisk. This VirtualHardDisk will be copied before using it to attach to the Virtual Machine.If SourceImage is provided, the destination VirtualHardDisk should not exist.'
      name:
        description: the disk name.
        type: string
      osType:
        description: the Operating System type.
        enum:
          - Windows
          - Linux
        type: string
        x-ms-enum:
          modelAsString: false
          name: OperatingSystemTypes
      vhd:
        $ref: '#/definitions/VirtualHardDisk'
        description: the Virtual Hard Disk.
    required:
      - name
      - vhd
      - createOption
  OSDiskImage:
    description: Contains the os disk image information.
    properties:
      operatingSystem:
        description: the operating system of the osDiskImage.
        enum:
          - Windows
          - Linux
        type: string
        x-ms-enum:
          modelAsString: false
          name: OperatingSystemTypes
    required:
      - operatingSystem
  OSProfile:
    description: Describes an OS profile.
    properties:
      adminPassword:
        description: the admin user password.
        type: string
      adminUsername:
        description: the admin user name.
        type: string
      computerName:
        description: the computer name.
        type: string
      customData:
        description: a base-64 encoded string of custom data.
        type: string
      linuxConfiguration:
        $ref: '#/definitions/LinuxConfiguration'
        description: the Linux Configuration of the OS profile.
      secrets:
        description: the List of certificates for addition to the VM.
        items:
          $ref: '#/definitions/VaultSecretGroup'
        type: array
      windowsConfiguration:
        $ref: '#/definitions/WindowsConfiguration'
        description: the Windows Configuration of the OS profile.
  Plan:
    description: Plan for the resource.
    properties:
      name:
        description: the plan ID.
        type: string
      product:
        description: the offer ID.
        type: string
      promotionCode:
        description: the promotion code.
        type: string
      publisher:
        description: the publisher ID.
        type: string
  PurchasePlan:
    description: Used for establishing the purchase context of any 3rd Party artifact through MarketPlace.
    properties:
      name:
        description: the plan ID.
        type: string
      product:
        description: the product ID.
        type: string
      publisher:
        description: the publisher ID.
        type: string
    required:
      - publisher
      - name
      - product
  Resource:
    properties:
      id:
        description: Resource Id
        readOnly: true
        type: string
      location:
        description: Resource location
        type: string
      name:
        description: Resource name
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: Resource tags
        type: object
      type:
        description: Resource type
        readOnly: true
        type: string
    required:
      - location
    x-ms-azure-resource: true
  Sku:
    description: Describes a virtual machine scale set sku.
    properties:
      capacity:
        description: the sku capacity.
        format: int64
        type: integer
      name:
        description: the sku name.
        type: string
      tier:
        description: the sku tier.
        type: string
  SshConfiguration:
    description: SSH configuration for Linux based VMs running on Azure
    properties:
      publicKeys:
        description: the list of SSH public keys used to authenticate with linux based VMs
        items:
          $ref: '#/definitions/SshPublicKey'
        type: array
  SshPublicKey:
    description: Contains information about SSH certificate public key and the path on the Linux VM where the public key is placed.
    properties:
      keyData:
        description: Certificate public key used to authenticate with VM through SSH.The certificate must be in Pem format with or without headers.
        type: string
      path:
        description: 'the full path on the created VM where SSH public key is stored. If the file already exists, the specified key is appended to the file.'
        type: string
  StorageProfile:
    description: Describes a storage profile.
    properties:
      dataDisks:
        description: the data disks.
        items:
          $ref: '#/definitions/DataDisk'
        type: array
      imageReference:
        $ref: '#/definitions/ImageReference'
        description: the image reference.
      osDisk:
        $ref: '#/definitions/OSDisk'
        description: the OS disk.
  SubResource:
    properties:
      id:
        description: Resource Id
        type: string
    x-ms-azure-resource: true
  UpgradePolicy:
    description: Describes an upgrade policy - automatic or manual.
    properties:
      mode:
        description: the upgrade mode.
        enum:
          - Automatic
          - Manual
        type: string
        x-ms-enum:
          modelAsString: false
          name: UpgradeMode
  Usage:
    description: Describes Compute Resource Usage.
    properties:
      currentValue:
        description: the current value of the usage.
        format: int32
        type: integer
      limit:
        description: the limit of usage.
        format: int64
        type: integer
      name:
        $ref: '#/definitions/UsageName'
        description: the name of the type of usage.
      unit:
        description: an enum describing the unit of measurement.
        enum:
          - Count
        type: string
        x-ms-enum:
          modelAsString: false
          name: UsageUnit
    required:
      - unit
      - currentValue
      - limit
      - name
  UsageName:
    description: The Usage Names.
    properties:
      localizedValue:
        description: a localized string describing the resource name.
        type: string
      value:
        description: a string describing the resource name.
        type: string
  VaultCertificate:
    description: 'Describes a single certificate reference in a Key Vault, and where the certificate should reside on the VM.'
    properties:
      certificateStore:
        description: 'the Certificate store in LocalMachine to add the certificate to on Windows, leave empty on Linux.'
        type: string
      certificateUrl:
        description: the URL referencing a secret in a Key Vault which contains a properly formatted certificate.
        type: string
  VaultSecretGroup:
    description: Describes a set of certificates which are all in the same Key Vault.
    properties:
      sourceVault:
        $ref: '#/definitions/SubResource'
        description: the Relative URL of the Key Vault containing all of the certificates in VaultCertificates.
      vaultCertificates:
        description: the list of key vault references in SourceVault which contain certificates
        items:
          $ref: '#/definitions/VaultCertificate'
        type: array
  VirtualHardDisk:
    description: Describes the uri of a disk.
    properties:
      uri:
        description: the virtual hard disk's uri. It should be a valid Uri to a virtual hard disk.
        type: string
  VirtualMachine:
    allOf:
      - $ref: '#/definitions/Resource'
    description: Describes a Virtual Machine.
    properties:
      plan:
        $ref: '#/definitions/Plan'
        description: the purchase plan when deploying virtual machine from VM Marketplace images.
      properties:
        $ref: '#/definitions/VirtualMachineProperties'
        x-ms-client-flatten: true
      resources:
        description: the virtual machine child extension resources.
        items:
          $ref: '#/definitions/VirtualMachineExtension'
        readOnly: true
        type: array
  VirtualMachineAgentInstanceView:
    description: The instance view of the VM Agent running on the virtual machine.
    properties:
      extensionHandlers:
        description: the virtual machine extension handler instance view.
        items:
          $ref: '#/definitions/VirtualMachineExtensionHandlerInstanceView'
        type: array
      statuses:
        description: the resource status information.
        items:
          $ref: '#/definitions/InstanceViewStatus'
        type: array
      vmAgentVersion:
        description: the VM Agent full version.
        type: string
  VirtualMachineCaptureParameters:
    description: Capture Virtual Machine parameters.
    properties:
      destinationContainerName:
        description: the destination container name.
        type: string
      overwriteVhds:
        description: 'whether it overwrites destination VirtualHardDisk if true, in case of conflict.'
        type: boolean
      vhdPrefix:
        description: the captured VirtualHardDisk's name prefix.
        type: string
    required:
      - vhdPrefix
      - destinationContainerName
      - overwriteVhds
  VirtualMachineCaptureResult:
    allOf:
      - $ref: '#/definitions/SubResource'
    description: Resource Id.
    properties:
      properties:
        $ref: '#/definitions/VirtualMachineCaptureResultProperties'
        x-ms-client-flatten: true
  VirtualMachineCaptureResultProperties:
    description: 'Compute-specific operation properties, including output'
    properties:
      output:
        description: Operation output data (raw JSON)
        type: object
  VirtualMachineExtension:
    allOf:
      - $ref: '#/definitions/Resource'
    description: Describes a Virtual Machine Extension.
    properties:
      properties:
        $ref: '#/definitions/VirtualMachineExtensionProperties'
        x-ms-client-flatten: true
  VirtualMachineExtensionHandlerInstanceView:
    description: The instance view of a virtual machine extension handler.
    properties:
      status:
        $ref: '#/definitions/InstanceViewStatus'
        description: the extension handler status.
      type:
        description: full type of the extension handler which includes both publisher and type.
        type: string
      typeHandlerVersion:
        description: the type version of the extension handler.
        type: string
  VirtualMachineExtensionImage:
    allOf:
      - $ref: '#/definitions/Resource'
    description: Describes a Virtual Machine Extension Image.
    properties:
      properties:
        $ref: '#/definitions/VirtualMachineExtensionImageProperties'
        x-ms-client-flatten: true
    required:
      - name
      - location
  VirtualMachineExtensionImageProperties:
    description: Describes the properties of a Virtual Machine Extension Image.
    properties:
      computeRole:
        description: the type of role (IaaS or PaaS) this extension supports.
        type: string
      handlerSchema:
        description: 'the schema defined by publisher, where extension consumers should provide settings in a matching schema.'
        type: string
      operatingSystem:
        description: the operating system this extension supports.
        type: string
      supportsMultipleExtensions:
        description: whether the handler can support multiple extensions.
        type: boolean
      vmScaleSetEnabled:
        description: 'whether the extension can be used on xRP VMScaleSets.By default existing extensions are usable on scalesets, but there might be cases where a publisher wants to explicitly indicate the extension is only enabled for CRP VMs but not VMSS.'
        type: boolean
    required:
      - operatingSystem
      - computeRole
      - handlerSchema
  VirtualMachineExtensionInstanceView:
    description: The instance view of a virtual machine extension.
    properties:
      name:
        description: the virtual machine extension name.
        type: string
      statuses:
        description: the resource status information.
        items:
          $ref: '#/definitions/InstanceViewStatus'
        type: array
      substatuses:
        description: the resource status information.
        items:
          $ref: '#/definitions/InstanceViewStatus'
        type: array
      type:
        description: the full type of the extension handler which includes both publisher and type.
        type: string
      typeHandlerVersion:
        description: the type version of the extension handler.
        type: string
  VirtualMachineExtensionProperties:
    description: Describes the properties of a Virtual Machine Extension.
    properties:
      autoUpgradeMinorVersion:
        description: whether the extension handler should be automatically upgraded across minor versions.
        type: boolean
      forceUpdateTag:
        description: how the extension handler should be forced to update even if the extension configuration has not changed.
        type: string
      instanceView:
        $ref: '#/definitions/VirtualMachineExtensionInstanceView'
        description: the virtual machine extension instance view.
      protectedSettings:
        description: Json formatted protected settings for the extension.
        type: object
      provisioningState:
        description: 'the provisioning state, which only appears in the response.'
        readOnly: true
        type: string
      publisher:
        description: the name of the extension handler publisher.
        type: string
      settings:
        description: Json formatted public settings for the extension.
        type: object
      type:
        description: the type of the extension handler.
        type: string
      typeHandlerVersion:
        description: the type version of the extension handler.
        type: string
  VirtualMachineImage:
    allOf:
      - $ref: '#/definitions/VirtualMachineImageResource'
    description: Describes a Virtual Machine Image.
    properties:
      properties:
        $ref: '#/definitions/VirtualMachineImageProperties'
        x-ms-client-flatten: true
    required:
      - name
      - location
  VirtualMachineImageProperties:
    description: Describes the properties of a Virtual Machine Image.
    properties:
      dataDiskImages:
        items:
          $ref: '#/definitions/DataDiskImage'
        type: array
      osDiskImage:
        $ref: '#/definitions/OSDiskImage'
      plan:
        $ref: '#/definitions/PurchasePlan'
  VirtualMachineImageResource:
    allOf:
      - $ref: '#/definitions/SubResource'
    description: Virtual machine image resource information.
    properties:
      location:
        description: the location of the resource.
        type: string
      name:
        description: the name of the resource.
        type: string
      tags:
        additionalProperties:
          type: string
        description: the tags attached to the resource.
        type: object
    required:
      - name
      - location
  VirtualMachineInstanceView:
    description: The instance view of a virtual machine.
    properties:
      bootDiagnostics:
        $ref: '#/definitions/BootDiagnosticsInstanceView'
        description: the boot diagnostics.
      disks:
        description: the disks information.
        items:
          $ref: '#/definitions/DiskInstanceView'
        type: array
      extensions:
        description: the extensions information.
        items:
          $ref: '#/definitions/VirtualMachineExtensionInstanceView'
        type: array
      platformFaultDomain:
        description: the Fault Domain count.
        format: int32
        type: integer
      platformUpdateDomain:
        description: the Update Domain count.
        format: int32
        type: integer
      rdpThumbPrint:
        description: the Remote desktop certificate thumbprint.
        type: string
      statuses:
        description: the resource status information.
        items:
          $ref: '#/definitions/InstanceViewStatus'
        type: array
      vmAgent:
        $ref: '#/definitions/VirtualMachineAgentInstanceView'
        description: the VM Agent running on the virtual machine.
  VirtualMachineListResult:
    description: The List Virtual Machine operation response.
    properties:
      nextLink:
        description: the uri to fetch the next page of VMs. Call ListNext() with this to fetch the next page of Virtual Machines.
        type: string
      value:
        description: the list of virtual machines.
        items:
          $ref: '#/definitions/VirtualMachine'
        type: array
  VirtualMachineProperties:
    description: Describes the properties of a Virtual Machine.
    properties:
      availabilitySet:
        $ref: '#/definitions/SubResource'
        description: the reference Id of the availability set to which this virtual machine belongs.
      diagnosticsProfile:
        $ref: '#/definitions/DiagnosticsProfile'
        description: the diagnostics profile.
      hardwareProfile:
        $ref: '#/definitions/HardwareProfile'
        description: the hardware profile.
      instanceView:
        $ref: '#/definitions/VirtualMachineInstanceView'
        description: the virtual machine instance view.
        readOnly: true
      licenseType:
        description: 'the license type, which is for bring your own license scenario.'
        type: string
      networkProfile:
        $ref: '#/definitions/NetworkProfile'
        description: the network profile.
      osProfile:
        $ref: '#/definitions/OSProfile'
        description: the OS profile.
      provisioningState:
        description: 'the provisioning state, which only appears in the response.'
        readOnly: true
        type: string
      storageProfile:
        $ref: '#/definitions/StorageProfile'
        description: the storage profile.
      vmId:
        description: the virtual machine unique id.
        readOnly: true
        type: string
  VirtualMachineScaleSet:
    allOf:
      - $ref: '#/definitions/Resource'
    description: Describes a Virtual Machine Scale Set.
    properties:
      properties:
        $ref: '#/definitions/VirtualMachineScaleSetProperties'
        x-ms-client-flatten: true
      sku:
        $ref: '#/definitions/Sku'
        description: the virtual machine scale set sku.
  VirtualMachineScaleSetExtension:
    allOf:
      - $ref: '#/definitions/SubResource'
    description: Describes a Virtual Machine Scale Set Extension.
    properties:
      name:
        description: the name of the extension.
        type: string
      properties:
        $ref: '#/definitions/VirtualMachineScaleSetExtensionProperties'
        x-ms-client-flatten: true
  VirtualMachineScaleSetExtensionProfile:
    description: Describes a virtual machine scale set extension profile.
    properties:
      extensions:
        description: the virtual machine scale set child extension resources.
        items:
          $ref: '#/definitions/VirtualMachineScaleSetExtension'
        type: array
  VirtualMachineScaleSetExtensionProperties:
    description: Describes the properties of a Virtual Machine Scale Set Extension.
    properties:
      autoUpgradeMinorVersion:
        description: whether the extension handler should be automatically upgraded across minor versions.
        type: boolean
      protectedSettings:
        description: Json formatted protected settings for the extension.
        type: object
      provisioningState:
        description: 'the provisioning state, which only appears in the response.'
        readOnly: true
        type: string
      publisher:
        description: the name of the extension handler publisher.
        type: string
      settings:
        description: Json formatted public settings for the extension.
        type: object
      type:
        description: the type of the extension handler.
        type: string
      typeHandlerVersion:
        description: the type version of the extension handler.
        type: string
  VirtualMachineScaleSetIPConfiguration:
    allOf:
      - $ref: '#/definitions/SubResource'
    description: Describes a virtual machine scale set network profile's IP configuration.
    properties:
      name:
        description: the IP configuration name.
        type: string
      properties:
        $ref: '#/definitions/VirtualMachineScaleSetIPConfigurationProperties'
        x-ms-client-flatten: true
    required:
      - name
  VirtualMachineScaleSetIPConfigurationProperties:
    description: Describes a virtual machine scale set network profile's IP configuration properties.
    properties:
      applicationGatewayBackendAddressPools:
        description: the application gateway backend address pools.
        items:
          $ref: '#/definitions/SubResource'
        type: array
      loadBalancerBackendAddressPools:
        description: the load balancer backend address pools.
        items:
          $ref: '#/definitions/SubResource'
        type: array
      loadBalancerInboundNatPools:
        description: the load balancer inbound nat pools.
        items:
          $ref: '#/definitions/SubResource'
        type: array
      subnet:
        $ref: '#/definitions/ApiEntityReference'
        description: the subnet.
    required:
      - subnet
  VirtualMachineScaleSetInstanceView:
    description: The instance view of a virtual machine scale set.
    properties:
      extensions:
        description: the extensions information.
        items:
          $ref: '#/definitions/VirtualMachineScaleSetVMExtensionsSummary'
        readOnly: true
        type: array
      statuses:
        description: the resource status information.
        items:
          $ref: '#/definitions/InstanceViewStatus'
        type: array
      virtualMachine:
        $ref: '#/definitions/VirtualMachineScaleSetInstanceViewStatusesSummary'
        description: the instance view status summary for the virtual machine scale set.
        readOnly: true
  VirtualMachineScaleSetInstanceViewStatusesSummary:
    description: Instance view statuses summary for virtual machines of a virtual machine scale set.
    properties:
      statusesSummary:
        description: the extensions information.
        items:
          $ref: '#/definitions/VirtualMachineStatusCodeCount'
        readOnly: true
        type: array
  VirtualMachineScaleSetListResult:
    description: The List Virtual Machine operation response.
    properties:
      nextLink:
        description: the uri to fetch the next page of Virtual Machine Scale Sets. Call ListNext() with this to fetch the next page of VMSS.
        type: string
      value:
        description: the list of virtual machine scale sets.
        items:
          $ref: '#/definitions/VirtualMachineScaleSet'
        type: array
  VirtualMachineScaleSetListSkusResult:
    description: The Virtual Machine Scale Set List Skus operation response.
    properties:
      nextLink:
        description: the uri to fetch the next page of Virtual Machine Scale Set Skus. Call ListNext() with this to fetch the next page of VMSS Skus.
        type: string
      value:
        description: the list of skus available for the virtual machine scale set.
        items:
          $ref: '#/definitions/VirtualMachineScaleSetSku'
        readOnly: true
        type: array
  VirtualMachineScaleSetListWithLinkResult:
    description: The List Virtual Machine operation response.
    properties:
      nextLink:
        description: the uri to fetch the next page of Virtual Machine Scale Sets. Call ListNext() with this to fetch the next page of Virtual Machine Scale Sets.
        type: string
      value:
        description: the list of virtual machine scale sets.
        items:
          $ref: '#/definitions/VirtualMachineScaleSet'
        type: array
  VirtualMachineScaleSetNetworkConfiguration:
    allOf:
      - $ref: '#/definitions/SubResource'
    description: Describes a virtual machine scale set network profile's network configurations.
    properties:
      name:
        description: the network configuration name.
        type: string
      properties:
        $ref: '#/definitions/VirtualMachineScaleSetNetworkConfigurationProperties'
        x-ms-client-flatten: true
    required:
      - name
  VirtualMachineScaleSetNetworkConfigurationProperties:
    description: Describes a virtual machine scale set network profile's IP configuration.
    properties:
      ipConfigurations:
        description: the virtual machine scale set IP Configuration.
        items:
          $ref: '#/definitions/VirtualMachineScaleSetIPConfiguration'
        type: array
      primary:
        description: whether this is a primary NIC on a virtual machine.
        type: boolean
    required:
      - ipConfigurations
  VirtualMachineScaleSetNetworkProfile:
    description: Describes a virtual machine scale set network profile.
    properties:
      networkInterfaceConfigurations:
        description: the list of network configurations.
        items:
          $ref: '#/definitions/VirtualMachineScaleSetNetworkConfiguration'
        type: array
  VirtualMachineScaleSetOSDisk:
    description: Describes a virtual machine scale set operating system disk.
    properties:
      caching:
        description: the caching type.
        enum:
          - None
          - ReadOnly
          - ReadWrite
        type: string
        x-ms-enum:
          modelAsString: false
          name: CachingTypes
      createOption:
        description: the create option.
        enum:
          - fromImage
          - empty
          - attach
        type: string
        x-ms-enum:
          modelAsString: false
          name: DiskCreateOptionTypes
      image:
        $ref: '#/definitions/VirtualHardDisk'
        description: 'the Source User Image VirtualHardDisk. This VirtualHardDisk will be copied before using it to attach to the Virtual Machine.If SourceImage is provided, the destination VirtualHardDisk should not exist.'
      name:
        description: the disk name.
        type: string
      osType:
        description: the Operating System type.
        enum:
          - Windows
          - Linux
        type: string
        x-ms-enum:
          modelAsString: false
          name: OperatingSystemTypes
      vhdContainers:
        description: the list of virtual hard disk container uris.
        items:
          type: string
        type: array
    required:
      - name
      - createOption
  VirtualMachineScaleSetOSProfile:
    description: Describes a virtual machine scale set OS profile.
    properties:
      adminPassword:
        description: the admin user password.
        type: string
      adminUsername:
        description: the admin user name.
        type: string
      computerNamePrefix:
        description: the computer name prefix.
        type: string
      customData:
        description: a base-64 encoded string of custom data.
        type: string
      linuxConfiguration:
        $ref: '#/definitions/LinuxConfiguration'
        description: the Linux Configuration of the OS profile.
      secrets:
        description: the List of certificates for addition to the VM.
        items:
          $ref: '#/definitions/VaultSecretGroup'
        type: array
      windowsConfiguration:
        $ref: '#/definitions/WindowsConfiguration'
        description: the Windows Configuration of the OS profile.
  VirtualMachineScaleSetProperties:
    description: Describes the properties of a Virtual Machine Scale Set.
    properties:
      overProvision:
        description: Specifies whether the Virtual Machine Scale Set should be overprovisioned.
        type: boolean
      provisioningState:
        description: 'the provisioning state, which only appears in the response.'
        readOnly: true
        type: string
      upgradePolicy:
        $ref: '#/definitions/UpgradePolicy'
        description: the upgrade policy.
      virtualMachineProfile:
        $ref: '#/definitions/VirtualMachineScaleSetVMProfile'
        description: the virtual machine profile.
  VirtualMachineScaleSetSku:
    description: Describes an available virtual machine scale set sku.
    properties:
      capacity:
        $ref: '#/definitions/VirtualMachineScaleSetSkuCapacity'
        description: available scaling information.
        readOnly: true
      resourceType:
        description: the type of resource the sku applies to.
        readOnly: true
        type: string
      sku:
        $ref: '#/definitions/Sku'
        description: the Sku.
        readOnly: true
  VirtualMachineScaleSetSkuCapacity:
    description: Describes scaling information of a sku.
    properties:
      defaultCapacity:
        description: the default capacity.
        format: int64
        readOnly: true
        type: integer
      maximum:
        description: the maximum capacity that can be set.
        format: int64
        readOnly: true
        type: integer
      minimum:
        description: the minimum capacity.
        format: int64
        readOnly: true
        type: integer
      scaleType:
        description: the scale type applicable to the sku.
        enum:
          - Automatic
          - None
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: VirtualMachineScaleSetSkuScaleType
  VirtualMachineScaleSetStorageProfile:
    description: Describes a virtual machine scale set storage profile.
    properties:
      imageReference:
        $ref: '#/definitions/ImageReference'
        description: the image reference.
      osDisk:
        $ref: '#/definitions/VirtualMachineScaleSetOSDisk'
        description: the OS disk.
  VirtualMachineScaleSetVM:
    allOf:
      - $ref: '#/definitions/Resource'
    description: Describes a virtual machine scale set virtual machine.
    properties:
      instanceId:
        description: the virtual machine instance id.
        readOnly: true
        type: string
      plan:
        $ref: '#/definitions/Plan'
        description: the purchase plan when deploying virtual machine from VM Marketplace images.
      properties:
        $ref: '#/definitions/VirtualMachineScaleSetVMProperties'
        x-ms-client-flatten: true
      resources:
        description: the virtual machine child extension resources.
        items:
          $ref: '#/definitions/VirtualMachineExtension'
        readOnly: true
        type: array
      sku:
        $ref: '#/definitions/Sku'
        description: the virtual machine sku.
        readOnly: true
  VirtualMachineScaleSetVMExtensionsSummary:
    description: Extensions summary for virtual machines of a virtual machine scale set.
    properties:
      name:
        description: the extension name.
        readOnly: true
        type: string
      statusesSummary:
        description: the extensions information.
        items:
[...]
