swagger: '2.0'
schemes:
  - https
host: neutrinoapi.net
basePath: /
info:
  contact:
    email: tech@neutrinoapi.com
    name: Neutrino API
    url: 'https://www.neutrinoapi.com/'
  description: The general-purpose API
  title: Neutrino
  version: 3.4.5
  x-origin:
    - format: swagger
      url: 'https://www.neutrinoapi.com/api/swagger.json'
      version: '2.0'
  x-providerName: neutrinoapi.net
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  api-key:
    description: Your API key
    in: query
    name: api-key
    type: apiKey
  user-id:
    description: Your user ID
    in: query
    name: user-id
    type: apiKey
security:
  - api-key: []
    user-id: []
tags:
  - description: ''
    name: Imaging
  - description: ''
    name: Telephony
  - description: ''
    name: Data Tools
  - description: ''
    name: Security and Networking
  - description: ''
    name: Geolocation
  - description: ''
    name: E-commerce
  - description: ''
    name: WWW
paths:
  /bad-word-filter:
    post:
      consumes:
        - application/x-www-form-urlencoded
      deprecated: false
      description: 'Detect bad words, swear words and profanity in a given text. See: https://www.neutrinoapi.com/api/bad-word-filter/'
      operationId: BadWordFilterPost
      parameters:
        - description: The output case style
          enum:
            - camel
          in: formData
          name: output-case
          required: false
          type: string
        - description: The content to scan. This can be either a URL to load content from or an actual content string
          in: formData
          name: content
          required: true
          type: string
        - description: The character to use to censor out the bad words found
          in: formData
          name: censor-character
          required: false
          type: string
      responses:
        '200':
          description: ''
          headers: {}
          schema:
            $ref: '#/definitions/BadWordFilterResponse'
        '400':
          description: Your API request has been rejected. Check error code for details
          schema:
            $ref: '#/definitions/APIError'
        '403':
          description: You have failed to authenticate
          schema:
            $ref: '#/definitions/APIError'
        '500':
          description: 'We messed up, sorry! Your request has caused a fatal exception'
          schema:
            $ref: '#/definitions/APIError'
        default:
          description: 'We messed up, sorry! Your request has caused an error'
          schema:
            $ref: '#/definitions/APIError'
      summary: Bad Word Filter
      tags:
        - Data Tools
  /bin-lookup:
    post:
      consumes:
        - application/x-www-form-urlencoded
      deprecated: false
      description: 'Perform a BIN (Bank Identification Number) or IIN (Issuer Identification Number) lookup. See: https://www.neutrinoapi.com/api/bin-lookup/'
      operationId: BinLookupPost
      parameters:
        - description: The output case style
          enum:
            - camel
          in: formData
          name: output-case
          required: false
          type: string
        - description: The BIN or IIN number (the first 6 digits of a credit card number)
          in: formData
          name: bin-number
          required: true
          type: string
        - description: Pass in the customers IP address and we will return some extra information about them
          in: formData
          name: customer-ip
          required: false
          type: string
      responses:
        '200':
          description: ''
          headers: {}
          schema:
            $ref: '#/definitions/BINLookupResponse'
        '400':
          description: Your API request has been rejected. Check error code for details
          schema:
            $ref: '#/definitions/APIError'
        '403':
          description: You have failed to authenticate
          schema:
            $ref: '#/definitions/APIError'
        '500':
          description: 'We messed up, sorry! Your request has caused a fatal exception'
          schema:
            $ref: '#/definitions/APIError'
        default:
          description: 'We messed up, sorry! Your request has caused an error'
          schema:
            $ref: '#/definitions/APIError'
      summary: BIN Lookup
      tags:
        - E-commerce
  /browser-bot:
    post:
      consumes:
        - application/x-www-form-urlencoded
      deprecated: false
      description: 'Browser bot can extract content, interact with keyboard and mouse events, and execute JavaScript on a website. See: https://www.neutrinoapi.com/api/browser-bot/'
      operationId: BrowserBotPost
      parameters:
        - description: The output case style
          enum:
            - camel
          in: formData
          name: output-case
          required: false
          type: string
        - description: The URL to load
          in: formData
          name: url
          required: true
          type: string
        - default: 30
          description: Timeout in seconds. Give up if still trying to load the page after this number of seconds
          format: int32
          in: formData
          name: timeout
          required: false
          type: integer
        - default: 3
          description: 'Delay in seconds to wait before capturing any page data, executing selectors or JavaScript'
          format: int32
          in: formData
          name: delay
          required: false
          type: integer
        - description: 'Extract content from the page DOM using this selector. Commonly known as a CSS selector, you can find a good reference <a href="https://www.w3schools.com/cssref/css_selectors.asp">here</a>'
          in: formData
          name: selector
          required: false
          type: string
        - default: []
          description: 'Execute JavaScript on the page. Each array element should contain a valid JavaScript statement in string form. If a statement returns any kind of value it will be returned in the ''exec-results'' response. For your convenience you can also use the following special shortcut functions: <div> sleep(seconds); Just wait/sleep for the specified number of seconds. click(''selector''); Click on the first element matching the given selector. focus(''selector''); Focus on the first element matching the given selector. keys(''characters''); Send the specified keyboard characters. Use click() or focus() first to send keys to a specific element. enter(); Send the Enter key. tab(); Send the Tab key. </div> Example: <div> [ "click(''#button-id'')", "sleep(1)", "click(''.field-class'')", "keys(''1234'')", "enter()" ] </div>'
          in: formData
          items:
            type: string
          name: exec
          required: false
          type: array
        - description: Override the browsers default user-agent string with this one
          in: formData
          name: user-agent
          required: false
          type: string
        - default: false
          description: Ignore any TLS/SSL certificate errors and load the page anyway
          in: formData
          name: ignore-certificate-errors
          required: false
          type: boolean
      responses:
        '200':
          description: ''
          headers: {}
          schema:
            $ref: '#/definitions/BrowserBotResponse'
        '400':
          description: Your API request has been rejected. Check error code for details
          schema:
            $ref: '#/definitions/APIError'
        '403':
          description: You have failed to authenticate
          schema:
            $ref: '#/definitions/APIError'
        '500':
          description: 'We messed up, sorry! Your request has caused a fatal exception'
          schema:
            $ref: '#/definitions/APIError'
        default:
          description: 'We messed up, sorry! Your request has caused an error'
          schema:
            $ref: '#/definitions/APIError'
      summary: Browser Bot
      tags:
        - WWW
  /convert:
    post:
      consumes:
        - application/x-www-form-urlencoded
      deprecated: false
      description: 'A powerful unit conversion tool. See: https://www.neutrinoapi.com/api/convert/'
      operationId: ConvertPost
      parameters:
        - description: The output case style
          enum:
            - camel
          in: formData
          name: output-case
          required: false
          type: string
        - description: The value to convert from (e.g. 10.95)
          in: formData
          name: from-value
          required: true
          type: string
        - description: The type of the value to convert from (e.g. USD)
          in: formData
          name: from-type
          required: true
          type: string
        - description: The type to convert to (e.g. EUR)
          in: formData
          name: to-type
          required: true
          type: string
      responses:
        '200':
          description: ''
          headers: {}
          schema:
            $ref: '#/definitions/ConvertResponse'
        '400':
          description: Your API request has been rejected. Check error code for details
          schema:
            $ref: '#/definitions/APIError'
        '403':
          description: You have failed to authenticate
          schema:
            $ref: '#/definitions/APIError'
        '500':
          description: 'We messed up, sorry! Your request has caused a fatal exception'
          schema:
            $ref: '#/definitions/APIError'
        default:
          description: 'We messed up, sorry! Your request has caused an error'
          schema:
            $ref: '#/definitions/APIError'
      summary: Convert
      tags:
        - Data Tools
  /email-validate:
    post:
      consumes:
        - application/x-www-form-urlencoded
      deprecated: false
      description: 'Parse, validate and clean an email address. See: https://www.neutrinoapi.com/api/email-validate/'
      operationId: EmailValidatePost
      parameters:
        - description: The output case style
          enum:
            - camel
          in: formData
          name: output-case
          required: false
          type: string
        - description: An email address
          in: formData
          name: email
          required: true
          type: string
        - default: false
          description: Automatically attempt to fix typos in the address
          in: formData
          name: fix-typos
          required: false
          type: boolean
      responses:
        '200':
          description: ''
          headers: {}
          schema:
            $ref: '#/definitions/EmailValidateResponse'
        '400':
          description: Your API request has been rejected. Check error code for details
          schema:
            $ref: '#/definitions/APIError'
        '403':
          description: You have failed to authenticate
          schema:
            $ref: '#/definitions/APIError'
        '500':
          description: 'We messed up, sorry! Your request has caused a fatal exception'
          schema:
            $ref: '#/definitions/APIError'
        default:
          description: 'We messed up, sorry! Your request has caused an error'
          schema:
            $ref: '#/definitions/APIError'
      summary: Email Validate
      tags:
        - Data Tools
  /email-verify:
    post:
      consumes:
        - application/x-www-form-urlencoded
      deprecated: false
      description: 'SMTP based email address verification. See: https://www.neutrinoapi.com/api/email-verify/'
      operationId: EmailVerifyPost
      parameters:
        - description: An email address
          in: formData
          name: email
          required: true
          type: string
        - description: The output case style
          enum:
            - camel
          in: formData
          name: output-case
          required: false
          type: string
        - default: false
          description: Automatically attempt to fix typos in the address
          in: formData
          name: fix-typos
          required: false
          type: boolean
      responses:
        '200':
          description: ''
          headers: {}
          schema:
            $ref: '#/definitions/EmailVerifyResponse'
        '400':
          description: Your API request has been rejected. Check error code for details
          schema:
            $ref: '#/definitions/APIError'
        '403':
          description: You have failed to authenticate
          schema:
            $ref: '#/definitions/APIError'
        '500':
          description: 'We messed up, sorry! Your request has caused a fatal exception'
          schema:
            $ref: '#/definitions/APIError'
        default:
          description: 'We messed up, sorry! Your request has caused an error'
          schema:
            $ref: '#/definitions/APIError'
      summary: Email Verify
      tags:
        - Security and Networking
  /geocode-address:
    post:
      consumes:
        - application/x-www-form-urlencoded
      deprecated: false
      description: 'Geocode an address, partial address or just the name of a place. See: https://www.neutrinoapi.com/api/geocode-address/'
      operationId: GeocodeAddressPost
      parameters:
        - description: The output case style
          enum:
            - camel
          in: formData
          name: output-case
          required: false
          type: string
        - description: 'The address, partial address or name of a place to try and locate'
          in: formData
          name: address
          required: true
          type: string
        - description: The ISO 2-letter country code to be biased towards (the default is no country bias)
          in: formData
          name: country-code
          required: false
          type: string
        - default: en
          description: 'The language to display results in, available languages are: <ul> <li>de, en, es, fr, it, pt, ru</li> </ul>'
          in: formData
          name: language-code
          required: false
          type: string
        - default: false
          description: 'If no matches are found for the given address, start performing a recursive fuzzy search until a geolocation is found. This option is recommended for processing user input or implementing auto-complete. We use a combination of approximate string matching and data cleansing to find possible location matches'
          in: formData
          name: fuzzy-search
          required: false
          type: boolean
      responses:
        '200':
          description: ''
          headers: {}
          schema:
            $ref: '#/definitions/GeocodeAddressResponse'
        '400':
          description: Your API request has been rejected. Check error code for details
          schema:
            $ref: '#/definitions/APIError'
        '403':
          description: You have failed to authenticate
          schema:
            $ref: '#/definitions/APIError'
        '500':
          description: 'We messed up, sorry! Your request has caused a fatal exception'
          schema:
            $ref: '#/definitions/APIError'
        default:
          description: 'We messed up, sorry! Your request has caused an error'
          schema:
            $ref: '#/definitions/APIError'
      summary: Geocode Address
      tags:
        - Geolocation
  /geocode-reverse:
    post:
      consumes:
        - application/x-www-form-urlencoded
      deprecated: false
      description: 'Convert a geographic coordinate (latitude and longitude) into a real world address. See: https://www.neutrinoapi.com/api/geocode-reverse/'
      operationId: GeocodeReversePost
      parameters:
        - description: The output case style
          enum:
            - camel
          in: formData
          name: output-case
          required: false
          type: string
        - description: The location latitude in decimal degrees format
          in: formData
          name: latitude
          required: true
          type: string
        - description: The location longitude in decimal degrees format
          in: formData
          name: longitude
          required: true
          type: string
        - default: en
          description: 'The language to display results in, available languages are: <ul> <li>de, en, es, fr, it, pt, ru</li> </ul>'
          in: formData
          name: language-code
          required: false
          type: string
        - default: address
          description: 'The zoom level to respond with: <ul> <li>address - the most precise address available</li> <li>street - the street level</li> <li>city - the city level</li> <li>state - the state level</li> <li>country - the country level</li> </ul>'
          in: formData
          name: zoom
          required: false
          type: string
      responses:
        '200':
          description: ''
          headers: {}
          schema:
            $ref: '#/definitions/GeocodeReverseResponse'
        '400':
          description: Your API request has been rejected. Check error code for details
          schema:
            $ref: '#/definitions/APIError'
        '403':
          description: You have failed to authenticate
          schema:
            $ref: '#/definitions/APIError'
        '500':
          description: 'We messed up, sorry! Your request has caused a fatal exception'
          schema:
            $ref: '#/definitions/APIError'
        default:
          description: 'We messed up, sorry! Your request has caused an error'
          schema:
            $ref: '#/definitions/APIError'
      summary: Geocode Reverse
      tags:
        - Geolocation
  /hlr-lookup:
    post:
      consumes:
        - application/x-www-form-urlencoded
      deprecated: false
      description: 'Connect to the global mobile cellular network and retrieve the status of a mobile device. See: https://www.neutrinoapi.com/api/hlr-lookup/'
      operationId: HlrLookupPost
      parameters:
        - description: The output case style
          enum:
            - camel
          in: formData
          name: output-case
          required: false
          type: string
        - description: A phone number
          in: formData
          name: number
          required: true
          type: string
        - description: 'ISO 2-letter country code, assume numbers are based in this country. If not set numbers are assumed to be in international format (with or without the leading + sign)'
          in: formData
          name: country-code
          required: false
          type: string
      responses:
        '200':
          description: ''
          headers: {}
          schema:
            $ref: '#/definitions/HLRLookupResponse'
        '400':
          description: Your API request has been rejected. Check error code for details
          schema:
            $ref: '#/definitions/APIError'
        '403':
          description: You have failed to authenticate
          schema:
            $ref: '#/definitions/APIError'
        '500':
          description: 'We messed up, sorry! Your request has caused a fatal exception'
          schema:
            $ref: '#/definitions/APIError'
        default:
          description: 'We messed up, sorry! Your request has caused an error'
          schema:
            $ref: '#/definitions/APIError'
      summary: HLR Lookup
      tags:
        - Telephony
  /host-reputation:
    post:
      consumes:
        - application/x-www-form-urlencoded
      deprecated: false
      description: 'Check the reputation of an IP address, domain name, FQDN or URL against a comprehensive list of blacklists and blocklists. See: https://www.neutrinoapi.com/api/host-reputation/'
      operationId: HostReputationPost
      parameters:
        - description: The output case style
          enum:
            - camel
          in: formData
          name: output-case
          required: false
          type: string
        - description: 'An IP address, domain name, FQDN or URL. If you supply a domain/URL it will be checked against the URI DNSBL lists'
          in: formData
          name: host
          required: true
          type: string
        - default: 3
          description: Only check lists with this rating or better
          format: int32
          in: formData
          name: list-rating
          required: false
          type: integer
      responses:
        '200':
          description: ''
          headers: {}
          schema:
            $ref: '#/definitions/HostReputationResponse'
        '400':
          description: Your API request has been rejected. Check error code for details
          schema:
            $ref: '#/definitions/APIError'
        '403':
          description: You have failed to authenticate
          schema:
            $ref: '#/definitions/APIError'
        '500':
          description: 'We messed up, sorry! Your request has caused a fatal exception'
          schema:
            $ref: '#/definitions/APIError'
        default:
          description: 'We messed up, sorry! Your request has caused an error'
          schema:
            $ref: '#/definitions/APIError'
      summary: Host Reputation
      tags:
        - Security and Networking
  /html-clean:
    post:
      consumes:
        - application/x-www-form-urlencoded
      deprecated: false
      description: 'Clean and sanitize untrusted HTML. See: https://www.neutrinoapi.com/api/html-clean/'
      operationId: HtmlCleanPost
      parameters:
        - description: The HTML content. This can be either a URL to load HTML from or an actual HTML content string
          in: formData
          name: content
          required: true
          type: string
        - description: 'The level of sanitization, possible values are: <b>plain-text</b>: reduce the content to plain text only (no HTML tags at all) <b>simple-text</b>: allow only very basic text formatting tags like b, em, i, strong, u <b>basic-html</b>: allow advanced text formatting and hyper links <b>basic-html-with-images</b>: same as basic html but also allows image tags <b>advanced-html</b>: same as basic html with images but also allows many more common HTML tags like table, ul, dl, pre'
          in: formData
          name: output-type
          required: true
          type: string
      responses:
        '200':
          description: ''
          headers: {}
          schema:
            format: binary
            type: string
        '400':
          description: Your API request has been rejected. Check error code for details
          schema:
            $ref: '#/definitions/APIError'
        '403':
          description: You have failed to authenticate
          schema:
            $ref: '#/definitions/APIError'
        '500':
          description: 'We messed up, sorry! Your request has caused a fatal exception'
          schema:
            $ref: '#/definitions/APIError'
        default:
          description: 'We messed up, sorry! Your request has caused an error'
          schema:
            $ref: '#/definitions/APIError'
      summary: HTML Clean
      tags:
        - WWW
  /html5-render:
    post:
      consumes:
        - application/x-www-form-urlencoded
      deprecated: false
      description: 'Render HTML content to PDF, JPG or PNG. See: https://www.neutrinoapi.com/api/html5-render/'
      operationId: Html5RenderPost
      parameters:
        - description: The output case style
          enum:
            - camel
          in: formData
          name: output-case
          required: false
          type: string
        - description: The HTML content. This can be either a URL to load HTML from or an actual HTML content string
          in: formData
          name: content
          required: true
          type: string
        - default: PDF
          description: 'Which format to output, available options are: PDF, PNG, JPG'
          in: formData
          name: format
          required: false
          type: string
        - default: A4
          description: 'Set the document page size, can be one of: A0 - A9, B0 - B10, Comm10E, DLE or Letter'
          in: formData
          name: page-size
          required: false
          type: string
        - description: The document title
          in: formData
          name: title
          required: false
          type: string
        - default: 0
          description: The document margin (in mm)
          format: int32
          in: formData
          name: margin
          required: false
          type: integer
        - default: 0
          description: The document left margin (in mm)
          format: int32
          in: formData
          name: margin-left
          required: false
          type: integer
        - default: 0
          description: The document right margin (in mm)
          format: int32
          in: formData
          name: margin-right
          required: false
          type: integer
        - default: 0
          description: The document top margin (in mm)
          format: int32
          in: formData
          name: margin-top
          required: false
          type: integer
        - default: 0
          description: The document bottom margin (in mm)
          format: int32
          in: formData
          name: margin-bottom
          required: false
          type: integer
        - default: false
          description: Set the document to lanscape orientation
          in: formData
          name: landscape
          required: false
          type: boolean
        - default: 1
          description: 'Set the zoom factor when rendering the page (2.0 for double size, 0.5 for half size)'
          format: int32
          in: formData
          name: zoom
          required: false
          type: integer
        - default: false
          description: Render the final document in grayscale
          in: formData
          name: grayscale
          required: false
          type: boolean
        - default: false
          description: Use @media print CSS styles to render the document
          in: formData
          name: media-print
          required: false
          type: boolean
        - default: false
          description: Activate all @media queries before rendering. This can be useful if you wan't to render the mobile version of a responsive website
          in: formData
          name: media-queries
          required: false
          type: boolean
        - default: false
          description: Generate real (fillable) PDF forms from HTML forms
          in: formData
          name: forms
          required: false
          type: boolean
        - description: 'Inject custom CSS into the HTML. e.g. ''body { background-color: red;}'''
          in: formData
          name: css
          required: false
          type: string
        - default: 1024
          description: If rendering to an image format (PNG or JPG) use this image width (in pixels)
          format: int32
          in: formData
          name: image-width
          required: false
          type: integer
        - description: If rendering to an image format (PNG or JPG) use this image height (in pixels). The default is automatic which dynamically sets the image height based on the content
          format: int32
          in: formData
          name: image-height
          required: false
          type: integer
        - default: 0
          description: Number of milliseconds to wait before rendering the page (can be useful for pages with animations etc)
          format: int32
          in: formData
          name: render-delay
          required: false
          type: integer
        - description: 'Text to print to the left-hand side header of each page. e.g. ''My header - Page {page_number} of {total_pages}'''
          in: formData
          name: header-text-left
          required: false
          type: string
        - description: Text to print to the center header of each page
          in: formData
          name: header-text-center
          required: false
          type: string
        - description: Text to print to the right-hand side header of each page
          in: formData
          name: header-text-right
          required: false
          type: string
        - default: 9
          description: The height of your header (in mm)
          format: int32
          in: formData
          name: header-size
          required: false
          type: integer
        - default: Courier
          description: 'Set the header font. Fonts available: Times, Courier, Helvetica, Arial'
          in: formData
          name: header-font
          required: false
          type: string
        - default: 11
          description: Set the header font size (in pt)
          format: int32
          in: formData
          name: header-font-size
          required: false
          type: integer
        - default: false
          description: Draw a full page width horizontal line under your header
          in: formData
          name: header-line
          required: false
          type: boolean
        - description: 'Text to print to the left-hand side footer of each page. e.g. ''My footer - Page {page_number} of {total_pages}'''
          in: formData
          name: footer-text-left
          required: false
          type: string
        - description: Text to print to the center header of each page
          in: formData
          name: footer-text-center
          required: false
          type: string
        - description: Text to print to the right-hand side header of each page
          in: formData
          name: footer-text-right
          required: false
          type: string
        - default: 9
          description: The height of your footer (in mm)
          format: int32
          in: formData
          name: footer-size
          required: false
          type: integer
        - default: Courier
          description: 'Set the footer font. Fonts available: Times, Courier, Helvetica, Arial'
          in: formData
          name: footer-font
          required: false
          type: string
        - default: 11
          description: Set the footer font size (in pt)
          format: int32
          in: formData
          name: footer-font-size
          required: false
          type: integer
        - default: false
          description: Draw a full page width horizontal line above your footer
          in: formData
          name: footer-line
          required: false
          type: boolean
        - description: Set the PDF page width explicitly (in mm)
          format: int32
          in: formData
          name: page-width
          required: false
          type: integer
        - description: Set the PDF page height explicitly (in mm)
          format: int32
          in: formData
          name: page-height
          required: false
          type: integer
      responses:
        '200':
          description: ''
          headers: {}
          schema:
            format: binary
            type: string
        '400':
          description: Your API request has been rejected. Check error code for details
          schema:
            $ref: '#/definitions/APIError'
        '403':
          description: You have failed to authenticate
          schema:
            $ref: '#/definitions/APIError'
        '500':
          description: 'We messed up, sorry! Your request has caused a fatal exception'
          schema:
            $ref: '#/definitions/APIError'
        default:
          description: 'We messed up, sorry! Your request has caused an error'
          schema:
            $ref: '#/definitions/APIError'
      summary: HTML5 Render
      tags:
        - Imaging
  /image-resize:
    post:
      consumes:
        - application/x-www-form-urlencoded
      deprecated: false
      description: 'Resize an image and output as either JPEG or PNG. See: https://www.neutrinoapi.com/api/image-resize/'
      operationId: ImageResizePost
      parameters:
        - description: The URL to the source image
          in: formData
          name: image-url
          required: true
          type: string
        - description: The width to resize to (in px) while preserving aspect ratio
          format: int32
          in: formData
          name: width
          required: true
          type: integer
        - description: The height to resize to (in px) while preserving aspect ratio
          format: int32
          in: formData
          name: height
          required: true
          type: integer
        - default: png
          description: 'The output image format, can be either png or jpg'
          in: formData
          name: format
          required: false
          type: string
      responses:
        '200':
          description: ''
          headers: {}
          schema:
            format: binary
            type: string
        '400':
          description: Your API request has been rejected. Check error code for details
          schema:
            $ref: '#/definitions/APIError'
        '403':
          description: You have failed to authenticate
          schema:
            $ref: '#/definitions/APIError'
        '500':
          description: 'We messed up, sorry! Your request has caused a fatal exception'
          schema:
            $ref: '#/definitions/APIError'
        default:
          description: 'We messed up, sorry! Your request has caused an error'
          schema:
            $ref: '#/definitions/APIError'
      summary: Image Resize
      tags:
        - Imaging
  /image-watermark:
    post:
      consumes:
        - application/x-www-form-urlencoded
      deprecated: false
      description: 'Watermark one image with another image. See: https://www.neutrinoapi.com/api/image-watermark/'
      operationId: ImageWatermarkPost
      parameters:
        - description: The URL to the source image
          in: formData
          name: image-url
          required: true
          type: string
        - description: The URL to the watermark image
          in: formData
          name: watermark-url
          required: true
          type: string
        - default: 50
          description: The opacity of the watermark (0 to 100)
          format: int32
          in: formData
          name: opacity
          required: false
          type: integer
        - default: png
          description: 'The output image format, can be either png or jpg'
          in: formData
          name: format
          required: false
          type: string
        - default: center
          description: 'The position of the watermark image, possible values are: center, top-left, top-center, top-right, bottom-left, bottom-center, bottom-right'
          in: formData
          name: position
          required: false
          type: string
        - description: If set resize the resulting image to this width (in px) while preserving aspect ratio
          format: int32
          in: formData
          name: width
          required: false
          type: integer
        - description: If set resize the resulting image to this height (in px) while preserving aspect ratio
          format: int32
          in: formData
          name: height
          required: false
          type: integer
      responses:
        '200':
          description: ''
          headers: {}
          schema:
            format: binary
            type: string
        '400':
          description: Your API request has been rejected. Check error code for details
          schema:
            $ref: '#/definitions/APIError'
        '403':
          description: You have failed to authenticate
          schema:
            $ref: '#/definitions/APIError'
        '500':
          description: 'We messed up, sorry! Your request has caused a fatal exception'
          schema:
            $ref: '#/definitions/APIError'
        default:
          description: 'We messed up, sorry! Your request has caused an error'
          schema:
            $ref: '#/definitions/APIError'
      summary: Image Watermark
      tags:
        - Imaging
  /ip-blocklist:
    post:
      consumes:
        - application/x-www-form-urlencoded
      deprecated: false
      description: 'The IP Blocklist API will detect potentially malicious or dangerous IP addresses. See: https://www.neutrinoapi.com/api/ip-blocklist/'
      operationId: IpBlocklistPost
      parameters:
        - description: The output case style
          enum:
            - camel
          in: formData
          name: output-case
          required: false
          type: string
        - description: An IPv4 or IPv6 address
          in: formData
          name: ip
          required: true
          type: string
      responses:
        '200':
          description: ''
          headers: {}
          schema:
            $ref: '#/definitions/IPBlocklistResponse'
        '400':
          description: Your API request has been rejected. Check error code for details
          schema:
            $ref: '#/definitions/APIError'
        '403':
          description: You have failed to authenticate
          schema:
            $ref: '#/definitions/APIError'
        '500':
          description: 'We messed up, sorry! Your request has caused a fatal exception'
          schema:
            $ref: '#/definitions/APIError'
        default:
          description: 'We messed up, sorry! Your request has caused an error'
          schema:
            $ref: '#/definitions/APIError'
      summary: IP Blocklist
      tags:
        - Security and Networking
  /ip-info:
    post:
      consumes:
        - application/x-www-form-urlencoded
      deprecated: false
      description: 'Get location information about an IP address and do reverse DNS (PTR) lookups. See: https://www.neutrinoapi.com/api/ip-info/'
      operationId: IpInfoPost
      parameters:
        - description: The output case style
          enum:
            - camel
          in: formData
          name: output-case
          required: false
          type: string
        - description: IPv4 or IPv6 address
          in: formData
          name: ip
          required: true
          type: string
        - default: false
          description: Do a reverse DNS (PTR) lookup. This option can add extra delay to the request so only use it if you need it
          in: formData
          name: reverse-lookup
          required: false
          type: boolean
      responses:
        '200':
          description: ''
          headers: {}
          schema:
            $ref: '#/definitions/IPInfoResponse'
        '400':
          description: Your API request has been rejected. Check error code for details
          schema:
            $ref: '#/definitions/APIError'
        '403':
          description: You have failed to authenticate
          schema:
            $ref: '#/definitions/APIError'
        '500':
          description: 'We messed up, sorry! Your request has caused a fatal exception'
          schema:
            $ref: '#/definitions/APIError'
        default:
          description: 'We messed up, sorry! Your request has caused an error'
          schema:
            $ref: '#/definitions/APIError'
      summary: IP Info
      tags:
        - Geolocation
  /ip-probe:
    post:
      consumes:
        - application/x-www-form-urlencoded
      deprecated: false
      description: 'Analyze and extract provider information for an IP address. See: https://www.neutrinoapi.com/api/ip-probe/'
      operationId: IpProbePost
      parameters:
        - description: The output case style
          enum:
            - camel
          in: formData
          name: output-case
          required: false
          type: string
        - description: IPv4 or IPv6 address
          in: formData
          name: ip
          required: true
          type: string
      responses:
        '200':
          description: ''
          headers: {}
          schema:
            $ref: '#/definitions/IPProbeResponse'
        '400':
          description: Your API request has been rejected. Check error code for details
          schema:
            $ref: '#/definitions/APIError'
        '403':
          description: You have failed to authenticate
          schema:
            $ref: '#/definitions/APIError'
        '500':
          description: 'We messed up, sorry! Your request has caused a fatal exception'
          schema:
            $ref: '#/definitions/APIError'
        default:
          description: 'We messed up, sorry! Your request has caused an error'
          schema:
            $ref: '#/definitions/APIError'
      summary: IP Probe
      tags:
        - Security and Networking
  /phone-playback:
    post:
      consumes:
        - application/x-www-form-urlencoded
      deprecated: false
      description: 'Make an automated call to any valid phone number and playback an audio message. See: https://www.neutrinoapi.com/api/phone-playback/'
      operationId: PhonePlaybackPost
      parameters:
        - description: The output case style
          enum:
            - camel
          in: formData
          name: output-case
          required: false
          type: string
        - description: The phone number to call. Must be in valid international format
          in: formData
          name: number
          required: true
          type: string
        - description: 'A URL to a valid audio file. Accepted audio formats are: <ul> <li>MP3</li> <li>WAV</li> <li>OGG</li> </ul>You can use the following MP3 URL for testing: https://www.neutrinoapi.com/test-files/test1.mp3'
          in: formData
          name: audio-url
          required: true
          type: string
      responses:
        '200':
          description: ''
          headers: {}
          schema:
            $ref: '#/definitions/PhonePlaybackResponse'
        '400':
          description: Your API request has been rejected. Check error code for details
          schema:
            $ref: '#/definitions/APIError'
        '403':
          description: You have failed to authenticate
          schema:
            $ref: '#/definitions/APIError'
        '500':
          description: 'We messed up, sorry! Your request has caused a fatal exception'
          schema:
            $ref: '#/definitions/APIError'
        default:
          description: 'We messed up, sorry! Your request has caused an error'
          schema:
            $ref: '#/definitions/APIError'
      summary: Phone Playback
      tags:
        - Telephony
  /phone-validate:
    post:
      consumes:
        - application/x-www-form-urlencoded
      deprecated: false
      description: 'Parse, validate and get location information about a phone number. See: https://www.neutrinoapi.com/api/phone-validate/'
      operationId: PhoneValidatePost
      parameters:
        - description: The output case style
          enum:
            - camel
          in: formData
          name: output-case
          required: false
          type: string
        - description: A phone number. This can be in international format (E.164) or local format. If passing local format you should use the 'country-code' or 'ip' options as well
          in: formData
          name: number
          required: true
          type: string
        - description: 'ISO 2-letter country code, assume numbers are based in this country. If not set numbers are assumed to be in international format (with or without the leading + sign)'
          in: formData
          name: country-code
          required: false
          type: string
        - description: Pass in a users IP address and we will assume numbers are based in the country of the IP address
          in: formData
          name: ip
          required: false
          type: string
      responses:
        '200':
          description: ''
          headers: {}
          schema:
            $ref: '#/definitions/PhoneValidateResponse'
        '400':
          description: Your API request has been rejected. Check error code for details
          schema:
            $ref: '#/definitions/APIError'
        '403':
          description: You have failed to authenticate
          schema:
            $ref: '#/definitions/APIError'
        '500':
          description: 'We messed up, sorry! Your request has caused a fatal exception'
          schema:
            $ref: '#/definitions/APIError'
        default:
          description: 'We messed up, sorry! Your request has caused an error'
          schema:
            $ref: '#/definitions/APIError'
      summary: Phone Validate
      tags:
        - Data Tools
  /phone-verify:
    post:
      consumes:
        - application/x-www-form-urlencoded
      deprecated: false
      description: 'Make an automated call to any valid phone number and playback a unique security code. See: https://www.neutrinoapi.com/api/phone-verify/'
      operationId: PhoneVerifyPost
      parameters:
        - description: The output case style
          enum:
            - camel
          in: formData
          name: output-case
          required: false
          type: string
        - description: The phone number to send the verification code to
          in: formData
          name: number
          required: true
          type: string
        - default: 6
          description: The number of digits to use in the security code (between 4 and 12)
          format: int32
          in: formData
          name: code-length
          required: false
          type: integer
        - description: Pass in your own security code. This is useful if you have implemented TOTP or similar 2FA methods. If not set then we will generate a secure random code
          format: int32
          in: formData
          name: security-code
          required: false
          type: integer
        - default: 800
          description: The delay in milliseconds between the playback of each security code
          format: int32
          in: formData
          name: playback-delay
          required: false
          type: integer
        - description: 'ISO 2-letter country code, assume numbers are based in this country. If not set numbers are assumed to be in international format (with or without the leading + sign)'
          in: formData
          name: country-code
          required: false
          type: string
        - default: en
          description: 'The language to playback the verification code in, available languages are: <ul> <li>de - German</li> <li>en - English</li> <li>es - Spanish</li> <li>fr - French</li> <li>it - Italian</li> <li>pt - Portuguese</li> <li>ru - Russian</li> </ul>'
          in: formData
          name: language-code
          required: false
          type: string
      responses:
        '200':
          description: ''
          headers: {}
          schema:
            $ref: '#/definitions/PhoneVerifyResponse'
        '400':
          description: Your API request has been rejected. Check error code for details
          schema:
            $ref: '#/definitions/APIError'
        '403':
          description: You have failed to authenticate
          schema:
            $ref: '#/definitions/APIError'
        '500':
          description: 'We messed up, sorry! Your request has caused a fatal exception'
          schema:
            $ref: '#/definitions/APIError'
        default:
          description: 'We messed up, sorry! Your request has caused an error'
          schema:
            $ref: '#/definitions/APIError'
      summary: Phone Verify
      tags:
        - Telephony
  /qr-code:
    post:
      consumes:
        - application/x-www-form-urlencoded
      deprecated: false
      description: 'Generate a QR code as a PNG image. See: https://www.neutrinoapi.com/api/qr-code/'
      operationId: QrCodePost
      parameters:
        - description: The content to encode into the QR code (e.g. a URL or a phone number)
          in: formData
          name: content
          required: true
          type: string
        - default: 256
          description: The width of the QR code (in px)
          format: int32
          in: formData
          name: width
          required: false
          type: integer
        - default: 256
          description: The height of the QR code (in px)
          format: int32
          in: formData
          name: height
          required: false
          type: integer
        - default: '#000000'
          description: The QR code foreground color
          in: formData
          name: fg-color
          required: false
          type: string
        - default: '#ffffff'
          description: The QR code background color
          in: formData
          name: bg-color
          required: false
          type: string
      responses:
        '200':
          description: ''
          headers: {}
          schema:
            format: binary
            type: string
        '400':
          description: Your API request has been rejected. Check error code for details
          schema:
            $ref: '#/definitions/APIError'
        '403':
          description: You have failed to authenticate
          schema:
            $ref: '#/definitions/APIError'
        '500':
          description: 'We messed up, sorry! Your request has caused a fatal exception'
          schema:
            $ref: '#/definitions/APIError'
        default:
          description: 'We messed up, sorry! Your request has caused an error'
          schema:
            $ref: '#/definitions/APIError'
      summary: QR Code
      tags:
        - Imaging
  /sms-message:
    post:
      consumes:
        - application/x-www-form-urlencoded
      deprecated: false
      description: 'Send a free-form message to any mobile device via SMS. See: https://www.neutrinoapi.com/api/sms-message/'
      operationId: SmsMessagePost
      parameters:
        - description: The output case style
          enum:
            - camel
          in: formData
          name: output-case
          required: false
          type: string
        - description: The phone number to send a message to
          in: formData
          name: number
          required: true
          type: string
        - description: The SMS message to send. Messages are truncated to a maximum of 150 characters for ASCII content OR 70 characters for UTF content
          in: formData
          name: message
          required: true
          type: string
        - description: 'ISO 2-letter country code, assume numbers are based in this country. If not set numbers are assumed to be in international format (with or without the leading + sign)'
          in: formData
          name: country-code
          required: false
          type: string
      responses:
        '200':
          description: ''
          headers: {}
          schema:
            $ref: '#/definitions/SMSMessageResponse'
        '400':
          description: Your API request has been rejected. Check error code for details
          schema:
            $ref: '#/definitions/APIError'
        '403':
          description: You have failed to authenticate
          schema:
            $ref: '#/definitions/APIError'
        '500':
          description: 'We messed up, sorry! Your request has caused a fatal exception'
          schema:
            $ref: '#/definitions/APIError'
        default:
          description: 'We messed up, sorry! Your request has caused an error'
          schema:
            $ref: '#/definitions/APIError'
      summary: SMS Message
      tags:
        - Telephony
  /sms-verify:
    post:
      consumes:
        - application/x-www-form-urlencoded
      deprecated: false
      description: 'Send a unique security code to any mobile device via SMS. See: https://www.neutrinoapi.com/api/sms-verify/'
      operationId: SmsVerifyPost
      parameters:
        - description: The output case style
          enum:
            - camel
          in: formData
          name: output-case
          required: false
          type: string
        - description: The phone number to send a verification code to
          in: formData
          name: number
          required: true
          type: string
        - default: 5
          description: The number of digits to use in the security code (must be between 4 and 12)
          format: int32
          in: formData
          name: code-length
          required: false
          type: integer
        - description: Pass in your own security code. This is useful if you have implemented TOTP or similar 2FA methods. If not set then we will generate a secure random code
          format: int32
          in: formData
          name: security-code
          required: false
          type: integer
        - description: 'ISO 2-letter country code, assume numbers are based in this country. If not set numbers are assumed to be in international format (with or without the leading + sign)'
          in: formData
          name: country-code
          required: false
          type: string
        - default: en
          description: 'The language to send the verification code in, available languages are: <ul> <li>de - German</li> <li>en - English</li> <li>es - Spanish</li> <li>fr - French</li> <li>it - Italian</li> <li>pt - Portuguese</li> <li>ru - Russian</li> </ul>'
          in: formData
          name: language-code
          required: false
          type: string
      responses:
        '200':
          description: ''
          headers: {}
          schema:
            $ref: '#/definitions/SMSVerifyResponse'
        '400':
          description: Your API request has been rejected. Check error code for details
          schema:
            $ref: '#/definitions/APIError'
        '403':
          description: You have failed to authenticate
          schema:
            $ref: '#/definitions/APIError'
        '500':
          description: 'We messed up, sorry! Your request has caused a fatal exception'
          schema:
            $ref: '#/definitions/APIError'
        default:
          description: 'We messed up, sorry! Your request has caused an error'
          schema:
            $ref: '#/definitions/APIError'
      summary: SMS Verify
      tags:
        - Telephony
  /url-info:
    post:
      consumes:
        - application/x-www-form-urlencoded
      deprecated: false
      description: 'Parse, analyze and retrieve content from the supplied URL. See: https://www.neutrinoapi.com/api/url-info/'
      operationId: UrlInfoPost
      parameters:
        - description: The output case style
          enum:
            - camel
          in: formData
          name: output-case
          required: false
          type: string
        - description: The URL to probe
          in: formData
          name: url
          required: true
          type: string
        - default: false
          description: 'If this URL responds with html, text, json or xml then return the response. This option is useful if you want to perform further processing on the URL content (e.g. with the HTML Extract or HTML Clean APIs)'
          in: formData
          name: fetch-content
          required: false
          type: boolean
        - default: false
          description: Ignore any TLS/SSL certificate errors and load the URL anyway
          in: formData
          name: ignore-certificate-errors
          required: false
          type: boolean
        - default: 20
          description: Timeout in seconds. Give up if still trying to load the URL after this number of seconds
          format: int32
          in: formData
          name: timeout
          required: false
          type: integer
      responses:
        '200':
          description: ''
          headers: {}
          schema:
            $ref: '#/definitions/URLInfoResponse'
        '400':
          description: Your API request has been rejected. Check error code for details
          schema:
            $ref: '#/definitions/APIError'
        '403':
          description: You have failed to authenticate
          schema:
            $ref: '#/definitions/APIError'
        '500':
          description: 'We messed up, sorry! Your request has caused a fatal exception'
          schema:
            $ref: '#/definitions/APIError'
        default:
          description: 'We messed up, sorry! Your request has caused an error'
          schema:
            $ref: '#/definitions/APIError'
      summary: URL Info
      tags:
        - WWW
  /user-agent-info:
    post:
      consumes:
        - application/x-www-form-urlencoded
      deprecated: false
      description: 'Parse, validate and get detailed user-agent information from a user agent string. See: https://www.neutrinoapi.com/api/user-agent-info/'
      operationId: UserAgentInfoPost
      parameters:
        - description: The output case style
          enum:
            - camel
          in: formData
          name: output-case
          required: false
          type: string
        - description: A user agent string
          in: formData
          name: user-agent
          required: true
          type: string
      responses:
        '200':
          description: ''
          headers: {}
          schema:
            $ref: '#/definitions/UserAgentInfoResponse'
        '400':
          description: Your API request has been rejected. Check error code for details
          schema:
            $ref: '#/definitions/APIError'
        '403':
          description: You have failed to authenticate
          schema:
            $ref: '#/definitions/APIError'
        '500':
          description: 'We messed up, sorry! Your request has caused a fatal exception'
          schema:
            $ref: '#/definitions/APIError'
        default:
          description: 'We messed up, sorry! Your request has caused an error'
          schema:
            $ref: '#/definitions/APIError'
      summary: User Agent Info
      tags:
        - Data Tools
  /verify-security-code:
    post:
      consumes:
        - application/x-www-form-urlencoded
      deprecated: false
      description: 'Check if a security code from one of the verify APIs is valid. See: https://www.neutrinoapi.com/api/verify-security-code/'
      operationId: VerifySecurityCodePost
      parameters:
        - description: The output case style
          enum:
            - camel
          in: formData
          name: output-case
          required: false
          type: string
        - description: The security code to verify
          in: formData
          name: security-code
          required: true
          type: string
      responses:
        '200':
          description: ''
          headers: {}
          schema:
            $ref: '#/definitions/VerifySecurityCodeResponse'
        '400':
          description: Your API request has been rejected. Check error code for details
          schema:
            $ref: '#/definitions/APIError'
        '403':
          description: You have failed to authenticate
          schema:
            $ref: '#/definitions/APIError'
        '500':
          description: 'We messed up, sorry! Your request has caused a fatal exception'
          schema:
            $ref: '#/definitions/APIError'
        default:
          description: 'We messed up, sorry! Your request has caused an error'
          schema:
            $ref: '#/definitions/APIError'
      summary: Verify Security Code
      tags:
        - Telephony
definitions:
  APIError:
    properties:
      apiError:
        description: API error code. If set and > 0 then an API error has occurred your request could not be completed
        format: int32
        type: integer
      apiErrorMsg:
        description: API error message
        type: string
    required:
      - apiError
      - apiErrorMsg
    title: APIError
    type: object
  BINLookupResponse:
    properties:
      cardBrand:
        description: The card brand (e.g. Visa or Mastercard)
        type: string
      cardCategory:
        description: 'The card category. There are many different card categories the most common card categories are: CLASSIC, BUSINESS, CORPORATE, PLATINUM, PREPAID'
        type: string
      cardType:
        description: 'The card type, will always be one of: DEBIT, CREDIT, CHARGE CARD'
        type: string
      country:
        description: The full country name of the issuer
        type: string
      countryCode:
        description: The ISO 2-letter country code of the issuer
        type: string
      countryCode3:
        description: The ISO 3-letter country code of the issuer
        type: string
      currencyCode:
        description: ISO 4217 currency code associated with the country of the issuer
        type: string
      ipBlocklisted:
        description: 'True if the customers IP is listed on one of our blocklists, see the <a href="http://www.neutrinoapi.com/api/ip-blocklist/">IP Blocklist API</a>'
        type: boolean
      ipBlocklists:
        description: An array of strings indicating which blocklists this IP is listed on
        items:
          type: string
        type: array
      ipCity:
        description: The city of the customers IP (if detectable)
        type: string
      ipCountry:
        description: The country of the customers IP
        type: string
      ipCountryCode:
        description: The ISO 2-letter country code of the customers IP
        type: string
      ipCountryCode3:
        description: The ISO 3-letter country code of the customers IP
        type: string
      ipMatchesBin:
        description: True if the customers IP country matches the BIN country
        type: boolean
      ipRegion:
        description: The region of the customers IP (if detectable)
        type: string
      issuer:
        description: The card issuer
        type: string
      issuerPhone:
        description: The card issuers phone number
        type: string
      issuerWebsite:
        description: The card issuers website
        type: string
      valid:
        description: Is this a valid BIN or IIN number
        type: boolean
    required:
      - country
      - ipCity
      - ipMatchesBin
      - cardType
      - cardCategory
      - ipCountryCode
      - ipCountry
      - issuer
      - ipBlocklisted
      - valid
      - ipBlocklists
      - issuerWebsite
      - countryCode
      - ipRegion
      - cardBrand
      - issuerPhone
      - countryCode3
      - currencyCode
      - ipCountryCode3
    title: BINLookupResponse
    type: object
  BadWordFilterResponse:
    properties:
      badWordsList:
        description: An array of the bad words found
        items:
          type: string
        type: array
      badWordsTotal:
        description: Total number of bad words detected
        format: int32
        type: integer
      censoredContent:
        description: The censored content (only set if censor-character has been set)
        type: string
      isBad:
        description: Does the text contain bad words
        type: boolean
    required:
      - badWordsList
      - badWordsTotal
      - censoredContent
      - isBad
    title: BadWordFilterResponse
    type: object
  Blacklist:
    properties:
      isListed:
        description: 'true if listed, false if not'
        type: boolean
      listHost:
        description: the domain/hostname of the DNSBL
        type: string
      listName:
        description: the name of the DNSBL
        type: string
      listRating:
        description: 'the list rating [1-3] with 1 being the best rating and 3 the lowest rating'
        format: int32
        type: integer
      responseTime:
        description: the DNSBL server response time in milliseconds
        format: int32
        type: integer
      returnCode:
        description: the specific return code for this listing (if listed)
        type: string
      txtRecord:
        description: the TXT record returned for this listing (if listed)
        type: string
    required:
      - isListed
      - listHost
      - listRating
      - listName
      - txtRecord
      - returnCode
      - responseTime
    title: Blacklist
    type: object
  BrowserBotResponse:
    properties:
      content:
        description: 'The complete raw, decompressed and decoded page content. Usually will be either HTML, JSON or XML'
        type: string
      elements:
        description: 'Array containing all the elements matching the supplied selector. Each element object will contain the text content, HTML content and all current element attributes'
        items:
          type: string
        type: array
      errorMessage:
        description: Contains the error message if an error has occurred ('is-error' will be true)
        type: string
      execResults:
        description: If you executed any JavaScript this array holds the results as objects
        items:
          type: string
        type: array
      httpRedirectUrl:
        description: The redirected URL if the URL responded with an HTTP redirect
        type: string
      httpStatusCode:
        description: The HTTP status code the URL returned
        format: int32
        type: integer
      httpStatusMessage:
        description: The HTTP status message the URL returned
        type: string
      isError:
        description: True if an error has occurred loading the page. Check the 'error-message' field for details
        type: boolean
      isHttpOk:
        description: True if the HTTP status is OK (200)
        type: boolean
      isHttpRedirect:
        description: True if the URL responded with an HTTP redirect
        type: boolean
      isSecure:
        description: True if the page is secured using TLS/SSL
        type: boolean
      isTimeout:
        description: True if a timeout occurred while loading the page. You can set the timeout with the request parameter 'timeout'
        type: boolean
      loadTime:
        description: The number of seconds taken to load the page (from initial request until DOM ready)
        format: int32
        type: integer
      mimeType:
        description: The document MIME type
        type: string
      responseHeaders:
        additionalProperties:
          type: string
        description: Map containing all the HTTP response headers the URL responded with
        type: object
      securityDetails:
        additionalProperties:
          type: string
        description: Map containing details of the TLS/SSL setup
        type: object
      serverIp:
        description: The HTTP servers IP address
        type: string
      title:
        description: The document title
        type: string
      url:
        description: The page URL
        type: string
    required:
      - url
      - content
      - mimeType
      - title
      - isError
      - isTimeout
      - errorMessage
      - httpStatusCode
      - httpStatusMessage
      - isHttpOk
      - isHttpRedirect
      - httpRedirectUrl
      - serverIp
      - loadTime
      - responseHeaders
      - isSecure
      - securityDetails
      - elements
      - execResults
    title: BrowserBotResponse
    type: object
  ConvertResponse:
    properties:
      fromType:
        description: The type of the value being converted from
        type: string
      fromValue:
        description: The value being converted from
        type: string
      result:
        description: The result of the conversion in string format
        type: string
      resultFloat:
        description: The result of the conversion as a floating-point number
        format: int32
        type: integer
      toType:
        description: The type being converted to
        type: string
      valid:
        description: True if the coversion was successful and produced a valid result
        type: boolean
    required:
      - valid
      - result
      - fromValue
      - toType
      - fromType
      - resultFloat
    title: ConvertResponse
    type: object
  EmailValidateResponse:
    properties:
      domain:
        description: The email domain
        type: string
      domainError:
        description: True if this address has a domain error (e.g. no valid mail server records)
        type: boolean
      email:
        description: The email address. If you have used the fix-typos option then this will be the fixed address
        type: string
      isDisposable:
        description: 'True if this address is a disposable, temporary or darknet related email address'
        type: boolean
      isFreemail:
        description: True if this address is a free-mail address
        type: boolean
      isPersonal:
        description: 'True if this address belongs to a person. False if this is a role based address, e.g. admin@, help@, office@, etc.'
        type: boolean
      provider:
        description: The email service provider domain
        type: string
      syntaxError:
        description: True if this address has a syntax error
        type: boolean
      typosFixed:
        description: True if typos have been fixed
        type: boolean
      valid:
        description: Is this a valid email
        type: boolean
    required:
      - valid
      - syntaxError
      - domain
      - domainError
      - isFreemail
      - email
      - isDisposable
      - typosFixed
      - isPersonal
      - provider
    title: EmailValidateResponse
    type: object
  EmailVerifyResponse:
    properties:
      domain:
        description: The email domain
        type: string
      domainError:
        description: True if this address has a domain error (e.g. no valid mail server records)
        type: boolean
      email:
        description: The email address. If you have used the fix-typos option then this will be the fixed address
        type: string
      isCatchAll:
        description: True if this email domain has a catch-all policy (it will accept mail for any username)
        type: boolean
      isDeferred:
        description: 'True if the mail server responded with a temporary failure (either a 4xx response code or unresponsive server). You can retry this address later, we recommend waiting at least 15 minutes before retrying'
        type: boolean
      isDisposable:
        description: 'True if this address is a disposable, temporary or darknet related email address'
        type: boolean
      isFreemail:
        description: True if this address is a free-mail address
        type: boolean
      isPersonal:
        description: 'True if this address is for a person. False if this is a role based address, e.g. admin@, help@, office@, etc.'
        type: boolean
      provider:
        description: The email service provider domain
        type: string
      smtpResponse:
        description: The raw SMTP response message received during verification
        type: string
      smtpStatus:
        description: 'The SMTP verification status for the address: <ul> <li>ok - SMTP verification was successful, this is a real address that can receive mail</li> <li>invalid - this is not a valid email address (has either a domain or syntax error)</li> <li>absent - this address is not registered with the email service provider</li> <li>unresponsive - the mail server(s) for this address timed-out or refused to open an SMTP connection</li> <li>unknown - sorry, we could not reliably determine the real status of this address (this address may or may not exist)</li> </ul>'
        type: string
      syntaxError:
        description: True if this address has a syntax error
        type: boolean
      typosFixed:
        description: True if typos have been fixed
        type: boolean
      valid:
        description: Is this a valid email address (syntax and domain is valid)
        type: boolean
      verified:
        description: True if this address has passed SMTP verification. Check the smtp-status and smtp-response fields for specific verification details
        type: boolean
    required:
      - valid
      - verified
      - email
      - typosFixed
      - syntaxError
      - domainError
      - domain
      - provider
      - isFreemail
      - isDisposable
      - isPersonal
      - smtpStatus
      - smtpResponse
      - isCatchAll
      - isDeferred
    title: EmailVerifyResponse
    type: object
  GeocodeAddressResponse:
    properties:
      found:
        description: The number of possible matching locations found
        format: int32
        type: integer
      locations:
        description: 'Array of matching location objects: <table> <tbody> <tr> <th>Key</th> <th>Type</th> <th>Description</th> </tr> <tr> <td>latitude</td> <td>float</td> <td>The location latitude</td> </tr> <tr> <td>longitude</td> <td>float</td> <td>The location longitude</td> </tr> <tr> <td>address</td> <td>string</td> <td>The fully formatted address</td> </tr> <tr> <td>address-components</td> <td>map</td> <td>The components which make up the address such as road, city, state, etc</td> </tr> <tr> <td>city</td> <td>string</td> <td>The city of the location</td> </tr> <tr> <td>state</td> <td>string</td> <td>The state of the location</td> </tr> <tr> <td>country</td> <td>string</td> <td>The country of the location</td> </tr> <tr> <td>country-code</td> <td>string</td> <td>The ISO 2-letter country code of the location</td> </tr> <tr> <td>country-code3</td> <td>string</td> <td>The ISO 3-letter country code of the location</td> </tr> <tr> <td>currency-code</td> <td>string</td> <td>ISO 4217 currency code associated with the country</td> </tr> <tr> <td>postal-code</td> <td>string</td> <td>The postal code for the location</td> </tr> <tr> <td>location-type</td> <td>string</td> <td>The detected location type ordered roughly from most to least precise, possible values are: <ul> <li>address - indicates a precise street address</li> <li>street - accurate to the street level but may not point to the exact location of the house/building number</li> <li>city - accurate to the city level, this includes villages, towns, suburbs, etc</li> <li>postal-code - indicates a postal code area (no house or street information present)</li> <li>railway - location is part of a rail network such as a station or railway track</li> <li>natural - indicates a natural feature, for example a mountain peak or a waterway</li> <li>island - location is an island or archipelago</li> <li>administrative - indicates an administrative boundary such as a country, state or province</li> </ul></td> </tr> <tr> <td>location-tags</td> <td>array</td> <td>Array of strings containing any location tags associated with the address. Tags are additional pieces of metadata about a specific location, there are thousands of different tags. Some examples of tags: shop, office, cafe, bank, pub</td> </tr> <tr> <td>timezone</td> <td>map</td> <td>Map containing timezone details for the location: <ul> <li>id - the time zone ID as per the IANA time zone database (tzdata)</li> <li>name - the time zone name</li> <li>abbr - the time zone abbreviation</li> <li>date - the current date within the time zone (ISO format)</li> <li>time - the current time within the time zone (ISO format)</li> </ul></td> </tr> </tbody> </table>'
        items:
          $ref: '#/definitions/Location'
        type: array
    required:
      - found
      - locations
    title: GeocodeAddressResponse
    type: object
  GeocodeReverseResponse:
    properties:
      address:
        description: The fully formatted address
        type: string
      addressComponents:
        additionalProperties:
          type: string
        description: 'The components which make up the address such as road, city, state, etc'
        type: object
      city:
        description: The city of the location
        type: string
      country:
        description: The country of the location
        type: string
      countryCode:
        description: The ISO 2-letter country code of the location
        type: string
      countryCode3:
        description: The ISO 3-letter country code of the location
        type: string
      currencyCode:
        description: ISO 4217 currency code associated with the country
        type: string
      found:
        description: True if these coordinates map to a real location
        type: boolean
      latitude:
        description: The location latitude
        format: int32
        type: integer
      locationTags:
        description: 'Array of strings containing any location tags associated with the address. Tags are additional pieces of metadata about a specific location, there are thousands of different tags. Some examples of tags: shop, office, cafe, bank, pub'
        items:
          type: string
        type: array
      locationType:
        description: 'The detected location type ordered roughly from most to least precise, possible values are: <ul> <li>address - indicates a precise street address</li> <li>street - accurate to the street level but may not point to the exact location of the house/building number</li> <li>city - accurate to the city level, this includes villages, towns, suburbs, etc</li> <li>postal-code - indicates a postal code area (no house or street information present)</li> <li>railway - location is part of a rail network such as a station or railway track</li> <li>natural - indicates a natural feature, for example a mountain peak or a waterway</li> <li>island - location is an island or archipelago</li> <li>administrative - indicates an administrative boundary such as a country, state or province</li> </ul>'
        type: string
      longitude:
        description: The location longitude
        format: int32
        type: integer
      postalCode:
        description: The postal code for the location
        type: string
      state:
        description: The state of the location
        type: string
      timezone:
        additionalProperties:
          type: string
        description: 'Map containing timezone details for the location: <ul> <li>id - the time zone ID as per the IANA time zone database (tzdata)</li> <li>name - the time zone name</li> <li>abbr - the time zone abbreviation</li> <li>date - the current date within the time zone (ISO format)</li> <li>time - the current time within the time zone (ISO format)</li> </ul>'
        type: object
    required:
      - country
      - found
      - address
      - city
      - countryCode
      - postalCode
      - state
      - addressComponents
      - countryCode3
      - currencyCode
      - locationType
      - locationTags
      - latitude
      - longitude
      - timezone
    title: GeocodeReverseResponse
    type: object
  HLRLookupResponse:
    properties:
      country:
        description: The phone number country
        type: string
      countryCode:
        description: The number location as an ISO 2-letter country code
        type: string
      countryCode3:
        description: The number location as an ISO 3-letter country code
        type: string
      currencyCode:
        description: ISO 4217 currency code associated with the country
        type: string
      hlrStatus:
        description: 'The HLR lookup status, possible values are: <ul> <li>ok - the HLR lookup was successful and the device is connected</li> <li>absent - the number was once registered but the device has been switched off or out of network range for some time</li> <li>unknown - the number is not known by the mobile network</li> <li>invalid - the number is not a valid mobile MSISDN number</li> <li>fixed-line - the number is a registered fixed-line not mobile</li> <li>voip - the number has been detected as a VOIP line</li> <li>failed - the HLR lookup has failed, we could not determine the real status of this number</li> </ul>'
        type: string
      hlrValid:
        description: Was the HLR lookup successful. If true then this is a working and registered cell-phone or mobile device (SMS and phone calls will be delivered)
        type: boolean
      imsi:
        description: The mobile IMSI number (International Mobile Subscriber Identity)
        type: string
      internationalCallingCode:
        description: The numbers international calling code
        format: int32
        type: integer
      internationalNumber:
        description: The number represented in full international format
        type: string
      isMobile:
        description: 'True if this is a mobile number (only true with 100% certainty, if the number type is unknown this value will be false)'
        type: boolean
      isPorted:
        description: Has this number been ported to another network
        type: boolean
      isRoaming:
        description: Is this number currently roaming from its origin country
        type: boolean
      localNumber:
        description: The number represented in local dialing format
        type: string
      location:
        description: 'The number location. Could be a city, region or country depending on the type of number'
        type: string
      mcc:
        description: The mobile MCC number (Mobile Country Code)
        type: string
      mnc:
        description: The mobile MNC number (Mobile Network Code)
        type: string
      msc:
        description: The mobile MSC number (Mobile Switching Center)
        type: string
      msin:
        description: The mobile MSIN number (Mobile Subscription Identification Number)
        type: string
      numberType:
        description: 'The number type, possible values are: <ul> <li>mobile</li> <li>fixed-line</li> <li>premium-rate</li> <li>toll-free</li> <li>voip</li> <li>unknown</li> </ul>'
        type: string
      numberValid:
        description: True if this a valid phone number
        type: boolean
      originNetwork:
        description: The origin mobile carrier name
        type: string
      portedNetwork:
        description: 'If the number has been ported, the ported to carrier name'
        type: string
      roamingCountryCode:
        description: 'If the number is currently roaming, the ISO 2-letter country code of the roaming in country'
        type: string
    required:
      - numberValid
      - internationalCallingCode
      - mnc
      - numberType
      - hlrValid
      - hlrStatus
      - portedNetwork
      - imsi
      - mcc
      - internationalNumber
      - localNumber
      - countryCode
      - isPorted
      - msin
      - location
      - originNetwork
      - isMobile
      - isRoaming
      - country
      - countryCode3
      - currencyCode
      - roamingCountryCode
      - msc
    title: HLRLookupResponse
    type: object
  HostReputationResponse:
    properties:
      host:
        description: The IP address or host name
        type: string
      isListed:
        description: Is this host blacklisted
        type: boolean
      listCount:
        description: The number of DNSBLs the host is listed on
        format: int32
        type: integer
      lists:
        description: 'An array of objects for each DNSBL checked, with the following keys: <ul> <li>is-listed - true if listed, false if not</li> <li>list-name - the name of the DNSBL</li> <li>list-host - the domain/hostname of the DNSBL</li> <li>list-rating - the list rating [1-3] with 1 being the best rating and 3 the lowest rating</li> <li>txt-record - the TXT record returned for this listing (if listed)</li> <li>return-code - the specific return code for this listing (if listed)</li> <li>response-time - the DNSBL server response time in milliseconds</li> </ul>'
        items:
          $ref: '#/definitions/Blacklist'
        type: array
    required:
      - isListed
      - lists
      - listCount
      - host
    title: HostReputationResponse
    type: object
  IPBlocklistResponse:
    properties:
      blocklists:
        description: An array of strings indicating which blocklists this IP is listed on (empty if not listed)
        items:
          type: string
        type: array
      ip:
        description: The IP address
        type: string
      isBot:
        description: IP is hosting a malicious bot or is part of a botnet. Includes brute-force crackers
        type: boolean
      isDshield:
        description: IP has been flagged as an attack source on DShield (dshield.org)
        type: boolean
      isExploitBot:
        description: IP is hosting an exploit finding bot or is running exploit scanning software
        type: boolean
      isHijacked:
        description: IP is part of a hijacked netblock or a netblock controlled by a criminal organization
        type: boolean
      isListed:
        description: Is this IP on a blocklist
        type: boolean
      isMalware:
        description: IP is involved in distributing or is running malware
        type: boolean
      isProxy:
        description: IP has been detected as an anonymous web proxy or anonymous HTTP proxy
        type: boolean
      isSpamBot:
        description: 'IP address is hosting a spam bot, comment spamming or any other spamming type software'
        type: boolean
      isSpider:
        description: IP is running a hostile web spider / web crawler
        type: boolean
      isSpyware:
        description: IP is involved in distributing or is running spyware
        type: boolean
      isTor:
        description: IP is a Tor node or running a Tor related service
        type: boolean
      isVpn:
        description: 'IP belongs to a VPN provider. This field is only kept for backward compatibility, for VPN detection use the <a href="https://www.neutrinoapi.com/api/ip-probe/">IP Probe</a> API'
        type: boolean
      lastSeen:
        description: The last time this IP was seen on a blocklist (in Unix time or 0 if not listed recently)
        format: int32
        type: integer
      listCount:
        description: The number of blocklists the IP is listed on
        format: int32
        type: integer
      sensors:
        description: An array of objects containing details on which sensors were used to detect this IP
        items:
          type: string
        type: array
    required:
      - ip
      - isBot
      - isExploitBot
      - isMalware
      - isSpider
      - isDshield
      - listCount
      - isProxy
      - isHijacked
      - isTor
      - isSpyware
      - isSpamBot
      - isListed
      - isVpn
      - lastSeen
      - blocklists
      - sensors
    title: IPBlocklistResponse
    type: object
  IPInfoResponse:
    properties:
      city:
        description: Name of the city (if detectable)
        type: string
      continentCode:
        description: ISO 2-letter continent code
        type: string
      country:
        description: Full country name
        type: string
      countryCode:
        description: ISO 2-letter country code
        type: string
      countryCode3:
        description: ISO 3-letter country code
        type: string
      currencyCode:
        description: ISO 4217 currency code associated with the country
        type: string
      hostDomain:
        description: The IPs host domain (only set if reverse-lookup has been used)
        type: string
      hostname:
        description: The IPs full hostname (only set if reverse-lookup has been used)
        type: string
      ip:
        description: The IP address
        type: string
      latitude:
        description: Location latitude
        format: int32
        type: integer
      longitude:
        description: Location longitude
        format: int32
        type: integer
      region:
        description: Name of the region (if detectable)
        type: string
      timezone:
        additionalProperties:
          type: string
        description: 'Map containing timezone details for the location: <ul> <li>id - the time zone ID as per the IANA time zone database (tzdata)</li> <li>name - the time zone name</li> <li>abbr - the time zone abbreviation</li> <li>date - the current date within the time zone (ISO format)</li> <li>time - the current time within the time zone (ISO format)</li> </ul>'
        type: object
      valid:
        description: Is this a valid IPv4 or IPv6 address
        type: boolean
    required:
      - valid
      - country
      - hostname
      - city
      - countryCode
      - latitude
      - region
      - longitude
      - continentCode
      - ip
      - countryCode3
      - currencyCode
      - hostDomain
      - timezone
    title: IPInfoResponse
    type: object
  IPProbeResponse:
    properties:
      asAge:
        description: The age of the autonomous system (AS) in number of years since registration
        format: int32
        type: integer
      asCidr:
        description: The autonomous system (AS) CIDR range
        type: string
      asCountryCode:
        description: The autonomous system (AS) ISO 2-letter country code
        type: string
      asCountryCode3:
        description: The autonomous system (AS) ISO 3-letter country code
        type: string
      asDescription:
        description: The autonomous system (AS) description / company name
        type: string
      asDomains:
        description: Array of all the domains associated with the autonomous system (AS)
        items:
          type: string
        type: array
      asn:
        description: The autonomous system (AS) number
        type: string
      city:
        description: Full city name (if detectable)
        type: string
      continentCode:
        description: ISO 2-letter continent code
        type: string
      country:
        description: Full country name
        type: string
      countryCode:
        description: ISO 2-letter country code
        type: string
      countryCode3:
        description: ISO 3-letter country code
        type: string
      currencyCode:
        description: ISO 4217 currency code associated with the country
        type: string
      hostDomain:
        description: The IPs host domain
        type: string
      hostname:
        description: The IPs full hostname (PTR)
        type: string
      ip:
        description: The IP address
        type: string
      isHosting:
        description: 'True if this IP belongs to a hosting company. Note that this can still be true even if the provider type is VPN/proxy, this occurs in the case that the IP is detected as both types'
        type: boolean
      isIsp:
        description: 'True if this IP belongs to an internet service provider. Note that this can still be true even if the provider type is VPN/proxy, this occurs in the case that the IP is detected as both types'
        type: boolean
      isProxy:
        description: True if this IP ia a proxy
        type: boolean
      isVpn:
        description: True if this IP ia a VPN
        type: boolean
      providerDescription:
        description: A description of the provider (usually extracted from the providers website)
        type: string
      providerDomain:
        description: The domain name of the provider
        type: string
      providerType:
        description: 'The detected provider type, possible values are: <ul> <li>isp - IP belongs to an internet service provider. This includes both mobile, home and business internet providers</li> <li>hosting - IP belongs to a hosting company. This includes website hosting, cloud computing platforms and colocation facilities</li> <li>vpn - IP belongs to a VPN provider</li> <li>proxy - IP belongs to a proxy service. This includes HTTP/SOCKS proxies and browser based proxies</li> <li>university - IP belongs to a university/college/campus</li> <li>government - IP belongs to a government department. This includes military facilities</li> <li>commercial - IP belongs to a commercial entity such as a corporate headquarters or company office</li> <li>unknown - could not identify the provider type</li> </ul>'
        type: string
      providerWebsite:
        description: The website URL for the provider
        type: string
      region:
        description: Full region name (if detectable)
        type: string
      valid:
        description: Is this a valid IPv4 or IPv6 address
        type: boolean
      vpnDomain:
        description: The domain of the VPN provider (may be empty if the VPN domain is not detectable)
        type: string
    required:
      - valid
      - country
      - providerType
      - countryCode
      - hostname
      - providerDomain
      - city
      - providerWebsite
      - ip
      - region
      - providerDescription
      - continentCode
      - isHosting
      - isIsp
      - countryCode3
      - currencyCode
      - isVpn
      - isProxy
      - asn
      - asCidr
      - asCountryCode
      - asCountryCode3
      - asDomains
      - asDescription
      - asAge
      - hostDomain
      - vpnDomain
    title: IPProbeResponse
    type: object
  Location:
    properties:
      address:
        description: The fully formatted address
        type: string
      addressComponents:
        additionalProperties:
          type: string
        description: 'The components which make up the address such as road, city, state etc. May also include additional metadata about the address'
        type: object
      city:
        description: The city of the location
        type: string
      country:
        description: The country of the location
        type: string
      countryCode:
        description: The ISO 2-letter country code of the location
        type: string
      countryCode3:
        description: The ISO 3-letter country code of the location
        type: string
      latitude:
        description: The location latitude
        format: double
        type: number
      longitude:
        description: The location longitude
        format: double
        type: number
      postalCode:
        description: The postal code for the location
        type: string
      state:
        description: The state of the location (if applicable)
        type: string
    required:
      - country
      - address
      - city
      - countryCode
      - countryCode3
      - latitude
      - postalCode
      - longitude
      - state
      - addressComponents
    title: Location
    type: object
  PhonePlaybackResponse:
    properties:
      calling:
        description: True if the call is being made now
        type: boolean
      numberValid:
        description: True if this a valid phone number
        type: boolean
    required:
      - calling
      - numberValid
    title: PhonePlaybackResponse
    type: object
  PhoneValidateResponse:
    properties:
      country:
        description: The phone number country
        type: string
      countryCode:
        description: The phone number country as an ISO 2-letter country code
        type: string
      countryCode3:
        description: The phone number country as an ISO 3-letter country code
        type: string
      currencyCode:
        description: ISO 4217 currency code associated with the country
        type: string
      internationalCallingCode:
        description: The international calling code
        format: int32
        type: integer
      internationalNumber:
        description: The number represented in full international format (E.164)
        type: string
      isMobile:
        description: 'True if this is a mobile number. If the number type is unknown this value will be false, use HLR lookup instead'
        type: boolean
      localNumber:
        description: The number represented in local dialing format
        type: string
      location:
        description: 'The phone number location. Could be a city, region or country depending on the type of number'
        type: string
      type:
        description: 'The predicted number type. Note: type detection is not possible in some countries which have no predictable prefix pattern (you can use the HLR Lookup API in these cases) Possible values are: <ul> <li>mobile</li> <li>fixed-line</li> <li>premium-rate</li> <li>toll-free</li> <li>voip</li> <li>unknown (use HLR lookup)</li> </ul>'
        type: string
      valid:
        description: Is this a valid phone number
        type: boolean
    required:
      - valid
      - internationalCallingCode
      - countryCode
      - location
      - isMobile
      - type
      - internationalNumber
      - localNumber
      - country
      - countryCode3
      - currencyCode
    title: PhoneValidateResponse
    type: object
  PhoneVerifyResponse:
    properties:
      calling:
        description: True if the call is being made now
        type: boolean
      numberValid:
        description: True if this a valid phone number
        type: boolean
      securityCode:
        description: 'The security code generated, you can save this code to perform your own verification or you can use the <a href="https://www.neutrinoapi.com/api/verify-security-code/">Verify Security Code API</a>'
        type: string
    required:
      - numberValid
      - calling
      - securityCode
    title: PhoneVerifyResponse
    type: object
  SMSMessageResponse:
    properties:
      numberValid:
        description: True if this a valid phone number
        type: boolean
      sent:
        description: True if the SMS has been sent
        type: boolean
    required:
      - numberValid
      - sent
    title: SMSMessageResponse
    type: object
  SMSVerifyResponse:
    properties:
      numberValid:
        description: True if this a valid phone number
        type: boolean
      securityCode:
        description: 'The security code generated, you can save this code to perform your own verification or you can use the <a href="https://www.neutrinoapi.com/api/verify-security-code/">Verify Security Code API</a>'
        type: string
      sent:
        description: True if the SMS has been sent
        type: boolean
    required:
      - numberValid
      - securityCode
      - sent
    title: SMSVerifyResponse
    type: object
  URLInfoResponse:
    properties:
      content:
        description: The actual content this URL responded with. Only set if the 'fetch-content' option was used
        type: string
      contentEncoding:
        description: The encoding format the URL uses
        type: string
      contentSize:
        description: The size of the URL content in bytes
        format: int32
        type: integer
      contentType:
        description: The content-type this URL serves
        type: string
      httpOk:
        description: True if this URL responded with an HTTP OK (200) status
        type: boolean
      httpRedirect:
        description: True if this URL responded with an HTTP redirect
        type: boolean
      httpStatus:
        description: The HTTP status code this URL responded with. An HTTP status of 0 indicates a network level issue
        format: int32
        type: integer
      httpStatusMessage:
        description: The HTTP status message assoicated with the status code
        format: int32
        type: integer
      isTimeout:
        description: True if a timeout occurred while loading the URL. You can set the timeout with the request parameter 'timeout'
        type: boolean
      loadTime:
        description: The time taken to load the URL content in seconds
        format: int32
        type: integer
      query:
        additionalProperties:
          type: string
        description: A key-value map of the URL query paramaters
[...]
