swagger: '2.0'
schemes:
  - https
host: api.tfl.gov.uk
info:
  description: 'Our unified API brings together data across all modes of transport into a single RESTful API. This API provides access to the most highly requested realtime and status infomation across all the modes of transport, in a single and consistent way. Access to the developer documentation is available at https://api.tfl.gov.uk'
  title: Transport for London Unified
  version: v1
  x-apisguru-categories:
    - location
    - open_data
  x-logo:
    url: 'https://pbs.twimg.com/profile_images/773531056670646272/dsuVeVSg.jpg'
  x-origin:
    - format: swagger
      url: 'https://api.tfl.gov.uk/swagger/docs/v1'
      version: '2.0'
  x-providerName: tfl.gov.uk
consumes: []
securityDefinitions:
  apiKey:
    description: API Key Authentication
    in: query
    name: app_key
    type: apiKey
  appId:
    description: Application ID
    in: query
    name: app_id
    type: apiKey
paths:
  '/AccidentStats/{year}':
    get:
      deprecated: false
      operationId: AccidentStats_Get
      parameters:
        - description: The year for which to filter the accidents on.
          format: int32
          in: path
          name: year
          required: true
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/AccidentDetail'
            type: array
      summary: Gets all accident details for accidents occuring in the specified year
      tags:
        - AccidentStats
  /AirQuality:
    get:
      deprecated: false
      operationId: AirQuality_Get
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Object'
      summary: Gets air quality data feed
      tags:
        - AirQuality
  /BikePoint:
    get:
      deprecated: false
      operationId: BikePoint_GetAll
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Place'
            type: array
      summary: "Gets all bike point locations. The Place object has an addtionalProperties array which contains the nbBikes, nbDocks and nbSpaces\r\n            numbers which give the status of the BikePoint. A mismatch in these numbers i.e. nbDocks - (nbBikes + nbSpaces) != 0 indicates broken docks."
      tags:
        - BikePoint
  /BikePoint/Search:
    get:
      deprecated: false
      operationId: BikePoint_Search
      parameters:
        - description: The search term e.g. "St. James"
          in: query
          name: query
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Place'
            type: array
      summary: "Search for bike stations by their name, a bike point's name often contains information about the name of the street\r\n            or nearby landmarks, for example. Note that the search result does not contain the PlaceProperties i.e. the status\r\n            or occupancy of the BikePoint, to get that information you should retrieve the BikePoint by its id on /BikePoint/id."
      tags:
        - BikePoint
  '/BikePoint/{id}':
    get:
      deprecated: false
      operationId: BikePoint_Get
      parameters:
        - description: A bike point id (a list of ids can be obtained from the above BikePoint call)
          in: path
          name: id
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Place'
      summary: Gets the bike point with the given id.
      tags:
        - BikePoint
  /Cabwise/search:
    get:
      deprecated: false
      operationId: Cabwise_Get
      parameters:
        - description: Latitude
          format: double
          in: query
          name: lat
          required: true
          type: number
        - description: Longitude
          format: double
          in: query
          name: lon
          required: true
          type: number
        - description: 'Operator Type e.g Minicab, Executive, Limousine'
          in: query
          name: optype
          required: false
          type: string
        - description: Wheelchair accessible
          in: query
          name: wc
          required: false
          type: string
        - description: The radius of the bounding circle in metres
          format: double
          in: query
          name: radius
          required: false
          type: number
        - description: Trading name of operating company
          in: query
          name: name
          required: false
          type: string
        - description: An optional parameter to limit the number of results return. Default and maximum is 20.
          format: int32
          in: query
          name: maxResults
          required: false
          type: integer
        - description: Legacy Format
          in: query
          name: legacyFormat
          required: false
          type: boolean
        - description: Force Xml
          in: query
          name: forceXml
          required: false
          type: boolean
        - description: Twenty Four Seven Only
          in: query
          name: twentyFourSevenOnly
          required: false
          type: boolean
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Object'
      summary: Gets taxis and minicabs contact information
      tags:
        - Cabwise
  '/Journey/JourneyResults/{from}/to/{to}':
    get:
      deprecated: false
      operationId: Journey_JourneyResults
      parameters:
        - description: 'Origin of the journey. Can be WGS84 coordinates expressed as "lat,long", a UK postcode, a Naptan (StopPoint) id, an ICS StopId, or a free-text string (will cause disambiguation unless it exactly matches a point of interest name).'
          in: path
          name: from
          required: true
          type: string
        - description: 'Destination of the journey. Can be WGS84 coordinates expressed as "lat,long", a UK postcode, a Naptan (StopPoint) id, an ICS StopId, or a free-text string (will cause disambiguation unless it exactly matches a point of interest name).'
          in: path
          name: to
          required: true
          type: string
        - description: 'Travel through point on the journey. Can be WGS84 coordinates expressed as "lat,long", a UK postcode, a Naptan (StopPoint) id, an ICS StopId, or a free-text string (will cause disambiguation unless it exactly matches a point of interest name).'
          in: query
          name: via
          required: false
          type: string
        - description: Does the journey cover stops outside London? eg. "nationalSearch=true"
          in: query
          name: nationalSearch
          required: false
          type: boolean
        - description: The date must be in yyyyMMdd format
          in: query
          name: date
          required: false
          type: string
        - description: The time must be in HHmm format
          in: query
          name: time
          required: false
          type: string
        - description: 'Does the time given relate to arrival or leaving time? Possible options: "departing" | "arriving"'
          enum:
            - Arriving
            - Departing
          in: query
          name: timeIs
          required: false
          type: string
        - description: 'The journey preference eg possible options: "leastinterchange" | "leasttime" | "leastwalking"'
          enum:
            - LeastInterchange
            - LeastTime
            - LeastWalking
          in: query
          name: journeyPreference
          required: false
          type: string
        - collectionFormat: multi
          description: 'The mode must be a comma separated list of modes. eg possible options: "public-bus,overground,train,tube,coach,dlr,cablecar,tram,river,walking,cycle"'
          in: query
          items:
            type: string
          name: mode
          required: false
          type: array
        - collectionFormat: multi
          description: 'The accessibility preference must be a comma separated list eg. "noSolidStairs,noEscalators,noElevators,stepFreeToVehicle,stepFreeToPlatform"'
          in: query
          items:
            enum:
              - NoRequirements
              - NoSolidStairs
              - NoEscalators
              - NoElevators
              - StepFreeToVehicle
              - StepFreeToPlatform
            type: string
          name: accessibilityPreference
          required: false
          type: array
        - description: An optional name to associate with the origin of the journey in the results.
          in: query
          name: fromName
          required: false
          type: string
        - description: An optional name to associate with the destination of the journey in the results.
          in: query
          name: toName
          required: false
          type: string
        - description: An optional name to associate with the via point of the journey in the results.
          in: query
          name: viaName
          required: false
          type: string
        - description: The max walking time in minutes for transfer eg. "120"
          in: query
          name: maxTransferMinutes
          required: false
          type: string
        - description: The max walking time in minutes for journeys eg. "120"
          in: query
          name: maxWalkingMinutes
          required: false
          type: string
        - description: 'The walking speed. eg possible options: "slow" | "average" | "fast".'
          enum:
            - Slow
            - Average
            - Fast
          in: query
          name: walkingSpeed
          required: false
          type: string
        - description: 'The cycle preference. eg possible options: "allTheWay" | "leaveAtStation" | "takeOnTransport" | "cycleHire"'
          enum:
            - None
            - LeaveAtStation
            - TakeOnTransport
            - AllTheWay
            - CycleHire
          in: query
          name: cyclePreference
          required: false
          type: string
        - description: 'Time adjustment command. eg possible options: "TripFirst" | "TripLast"'
          in: query
          name: adjustment
          required: false
          type: string
        - collectionFormat: multi
          description: 'A comma separated list of cycling proficiency levels. eg possible options: "easy,moderate,fast"'
          in: query
          items:
            enum:
              - Easy
              - Moderate
              - Fast
            type: string
          name: bikeProficiency
          required: false
          type: array
        - description: Option to determine whether to return alternative cycling journey
          in: query
          name: alternativeCycle
          required: false
          type: boolean
        - description: Option to determine whether to return alternative walking journey
          in: query
          name: alternativeWalking
          required: false
          type: boolean
        - description: Flag to determine whether certain text (e.g. walking instructions) should be output with HTML tags or not.
          in: query
          name: applyHtmlMarkup
          required: false
          type: boolean
        - description: 'A boolean to indicate whether or not to return 3 public transport journeys, a bus journey, a cycle hire journey, a personal cycle journey and a walking journey'
          in: query
          name: useMultiModalCall
          required: false
          type: boolean
        - description: A boolean to indicate whether to optimize journeys using walking
          in: query
          name: walkingOptimization
          required: false
          type: boolean
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ItineraryResult'
      summary: Perform a Journey Planner search from the parameters specified in simple types
      tags:
        - Journey
  /Journey/Meta/Modes:
    get:
      deprecated: false
      operationId: Journey_Meta
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Mode'
            type: array
      summary: Gets a list of all of the available journey planner modes
      tags:
        - Journey
  /Line/Meta/DisruptionCategories:
    get:
      deprecated: false
      operationId: Line_MetaDisruptionCategories
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              type: string
            type: array
      summary: Gets a list of valid disruption categories
      tags:
        - Line
  /Line/Meta/Modes:
    get:
      deprecated: false
      operationId: Line_MetaModes
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Mode'
            type: array
      summary: Gets a list of valid modes
      tags:
        - Line
  /Line/Meta/ServiceTypes:
    get:
      deprecated: false
      operationId: Line_MetaServiceTypes
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              type: string
            type: array
      summary: Gets a list of valid ServiceTypes to filter on
      tags:
        - Line
  /Line/Meta/Severity:
    get:
      deprecated: false
      operationId: Line_MetaSeverity
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/StatusSeverity'
            type: array
      summary: Gets a list of valid severity codes
      tags:
        - Line
  '/Line/Mode/{modes}':
    get:
      deprecated: false
      operationId: Line_GetByMode
      parameters:
        - description: 'A comma-separated list of modes e.g. tube,dlr'
          in: path
          items:
            type: string
          name: modes
          required: true
          type: array
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Line'
            type: array
      summary: Gets lines that serve the given modes.
      tags:
        - Line
  '/Line/Mode/{modes}/Disruption':
    get:
      deprecated: false
      operationId: Line_DisruptionByMode
      parameters:
        - description: 'A comma-separated list of modes e.g. tube,dlr'
          in: path
          items:
            type: string
          name: modes
          required: true
          type: array
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Disruption'
            type: array
      summary: Get disruptions for all lines of the given modes.
      tags:
        - Line
  '/Line/Mode/{modes}/Route':
    get:
      deprecated: false
      operationId: Line_RouteByMode
      parameters:
        - description: 'A comma-separated list of modes e.g. tube,dlr'
          in: path
          items:
            type: string
          name: modes
          required: true
          type: array
        - collectionFormat: multi
          description: 'A comma seperated list of service types to filter on. Supported values: Regular, Night. Defaulted to ''Regular'' if not specified'
          in: query
          items:
            enum:
              - Regular
              - Night
            type: string
          name: serviceTypes
          required: false
          type: array
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Line'
            type: array
      summary: 'Gets all lines and their valid routes for given modes, including the name and id of the originating and terminating stops for each route'
      tags:
        - Line
  '/Line/Mode/{modes}/Status':
    get:
      deprecated: false
      operationId: Line_StatusByMode
      parameters:
        - description: 'A comma-separated list of modes to filter by. e.g. tube,dlr'
          in: path
          items:
            type: string
          name: modes
          required: true
          type: array
        - description: Include details of the disruptions that are causing the line status including the affected stops and routes
          in: query
          name: detail
          required: false
          type: boolean
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Line'
            type: array
      summary: Gets the line status of for all lines for the given modes
      tags:
        - Line
  /Line/Route:
    get:
      deprecated: false
      operationId: Line_Route
      parameters:
        - collectionFormat: multi
          description: 'A comma seperated list of service types to filter on. Supported values: Regular, Night. Defaulted to ''Regular'' if not specified'
          in: query
          items:
            enum:
              - Regular
              - Night
            type: string
          name: serviceTypes
          required: false
          type: array
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Line'
            type: array
      summary: 'Get all valid routes for all lines, including the name and id of the originating and terminating stops for each route.'
      tags:
        - Line
  '/Line/Search/{query}':
    get:
      deprecated: false
      operationId: Line_Search
      parameters:
        - description: Search term e.g victoria
          in: path
          name: query
          required: true
          type: string
        - collectionFormat: multi
          description: Optionally filter by the specified modes
          in: query
          items:
            type: string
          name: modes
          required: false
          type: array
        - collectionFormat: multi
          description: 'A comma seperated list of service types to filter on. Supported values: Regular, Night. Defaulted to ''Regular'' if not specified'
          in: query
          items:
            enum:
              - Regular
              - Night
            type: string
          name: serviceTypes
          required: false
          type: array
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RouteSearchResponse'
      summary: Search for lines or routes matching the query string
      tags:
        - Line
  '/Line/Status/{severity}':
    get:
      deprecated: false
      operationId: Line_StatusBySeverity
      parameters:
        - description: 'The level of severity (eg: a number from 0 to 14)'
          format: int32
          in: path
          name: severity
          required: true
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Line'
            type: array
      summary: "Gets the line status for all lines with a given severity\r\n            A list of valid severity codes can be obtained from a call to Line/Meta/Severity"
      tags:
        - Line
  '/Line/{ids}':
    get:
      deprecated: false
      operationId: Line_Get
      parameters:
        - description: 'A comma-separated list of line ids e.g. victoria,circle,N133. Max. approx. 20 ids.'
          in: path
          items:
            type: string
          name: ids
          required: true
          type: array
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Line'
            type: array
      summary: Gets lines that match the specified line ids.
      tags:
        - Line
  '/Line/{ids}/Arrivals':
    get:
      deprecated: false
      parameters:
        - description: 'Id of stop to get arrival predictions for (station naptan code e.g. 940GZZLUASL, you can use /StopPoint/Search/{query} endpoint to find a stop point id from a station name)'
          in: query
          name: stopPointId
          required: true
          type: string
        - description: 'A comma-separated list of line ids e.g. victoria,circle,N133. Max. approx. 20 ids.'
          in: path
          items:
            type: string
          name: ids
          required: true
          type: array
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Prediction'
            type: array
      summary: Get the list of arrival predictions for given line ids based at the given stop
      tags:
        - Line
  '/Line/{ids}/Arrivals/{stopPointId}':
    get:
      deprecated: false
      parameters:
        - description: 'Id of stop to get arrival predictions for (station naptan code e.g. 940GZZLUASL, you can use /StopPoint/Search/{query} endpoint to find a stop point id from a station name)'
          in: path
          name: stopPointId
          required: true
          type: string
        - description: 'A comma-separated list of line ids e.g. victoria,circle,N133. Max. approx. 20 ids.'
          in: path
          items:
            type: string
          name: ids
          required: true
          type: array
        - description: The direction of travel. Can be inbound or outbound
          enum:
            - inbound
            - outbound
            - all
          in: query
          name: direction
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Prediction'
            type: array
      summary: Get the list of arrival predictions for given line ids based at the given stop going in the procided direction
      tags:
        - Line
  '/Line/{ids}/Disruption':
    get:
      deprecated: false
      operationId: Line_Disruption
      parameters:
        - description: 'A comma-separated list of line ids e.g. victoria,circle,N133. Max. approx. 20 ids.'
          in: path
          items:
            type: string
          name: ids
          required: true
          type: array
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Disruption'
            type: array
      summary: Get disruptions for the given line ids
      tags:
        - Line
  '/Line/{ids}/Route':
    get:
      deprecated: false
      operationId: Line_LineRoutesByIds
      parameters:
        - description: 'A comma-separated list of line ids e.g. victoria,circle,N133. Max. approx. 20 ids.'
          in: path
          items:
            type: string
          name: ids
          required: true
          type: array
        - collectionFormat: multi
          description: 'A comma seperated list of service types to filter on. Supported values: Regular, Night. Defaulted to ''Regular'' if not specified'
          in: query
          items:
            enum:
              - Regular
              - Night
            type: string
          name: serviceTypes
          required: false
          type: array
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Line'
            type: array
      summary: 'Get all valid routes for given line ids, including the name and id of the originating and terminating stops for each route.'
      tags:
        - Line
  '/Line/{ids}/Status':
    get:
      deprecated: false
      operationId: Line_StatusByIds
      parameters:
        - description: 'A comma-separated list of line ids e.g. victoria,circle,N133. Max. approx. 20 ids.'
          in: path
          items:
            type: string
          name: ids
          required: true
          type: array
        - description: Include details of the disruptions that are causing the line status including the affected stops and routes
          in: query
          name: detail
          required: false
          type: boolean
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Line'
            type: array
      summary: Gets the line status of for given line ids e.g Minor Delays
      tags:
        - Line
  '/Line/{ids}/Status/{StartDate}/to/{EndDate}':
    get:
      deprecated: false
      operationId: Line_Status
      parameters:
        - description: 'A comma-separated list of line ids e.g. victoria,circle,N133. Max. approx. 20 ids.'
          in: path
          items:
            type: string
          name: ids
          required: true
          type: array
        - description: Include details of the disruptions that are causing the line status including the affected stops and routes
          in: query
          name: detail
          required: false
          type: boolean
        - in: query
          name: startDate
          required: true
          type: string
        - in: query
          name: endDate
          required: true
          type: string
        - format: date-time
          in: query
          name: dateRange.startDate
          required: false
          type: string
        - format: date-time
          in: query
          name: dateRange.endDate
          required: false
          type: string
        - in: path
          name: StartDate
          required: true
          type: string
        - in: path
          name: EndDate
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Line'
            type: array
      summary: Gets the line status for given line ids during the provided dates e.g Minor Delays
      tags:
        - Line
  '/Line/{id}/Route/Sequence/{direction}':
    get:
      deprecated: false
      operationId: Line_RouteSequence
      parameters:
        - description: A single line id e.g. victoria
          in: path
          name: id
          required: true
          type: string
        - description: The direction of travel. Can be inbound or outbound.
          enum:
            - inbound
            - outbound
            - all
          in: path
          name: direction
          required: true
          type: string
        - collectionFormat: multi
          description: 'A comma seperated list of service types to filter on. Supported values: Regular, Night. Defaulted to ''Regular'' if not specified'
          in: query
          items:
            enum:
              - Regular
              - Night
            type: string
          name: serviceTypes
          required: false
          type: array
        - description: That excludes crowding from line disruptions. Can be true or false.
          in: query
          name: excludeCrowding
          required: false
          type: boolean
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RouteSequence'
      summary: 'Gets all valid routes for given line id, including the sequence of stops on each route.'
      tags:
        - Line
  '/Line/{id}/StopPoints':
    get:
      deprecated: false
      operationId: Line_StopPoints
      parameters:
        - description: A single line id e.g. victoria
          in: path
          name: id
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/StopPoint'
            type: array
      summary: Gets a list of the stations that serve the given line id
      tags:
        - Line
  '/Line/{id}/Timetable/{fromStopPointId}':
    get:
      deprecated: false
      operationId: Line_Timetable
      parameters:
        - description: 'The originating station''s stop point id (station naptan code e.g. 940GZZLUASL, you can use /StopPoint/Search/{query} endpoint to find a stop point id from a station name)'
          in: path
          name: fromStopPointId
          required: true
          type: string
        - description: A single line id e.g. victoria
          in: path
          name: id
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/TimetableResponse'
      summary: Gets the timetable for a specified station on the give line
      tags:
        - Line
  '/Line/{id}/Timetable/{fromStopPointId}/to/{toStopPointId}':
    get:
      deprecated: false
      operationId: Line_TimetableTo
      parameters:
        - description: 'The originating station''s stop point id (station naptan code e.g. 940GZZLUASL, you can use /StopPoint/Search/{query} endpoint to find a stop point id from a station name)'
          in: path
          name: fromStopPointId
          required: true
          type: string
        - description: A single line id e.g. victoria
          in: path
          name: id
          required: true
          type: string
        - description: The destination stations's Naptan code
          in: path
          name: toStopPointId
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/TimetableResponse'
      summary: Gets the timetable for a specified station on the give line with specified destination
      tags:
        - Line
  /Mode/ActiveServiceTypes:
    get:
      deprecated: false
      operationId: Mode_GetActiveServiceTypes
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/ActiveServiceType'
            type: array
      summary: "Returns the service type active for a mode.\r\n            Currently only supports tube"
      tags:
        - Mode
  '/Mode/{mode}/Arrivals':
    get:
      deprecated: false
      operationId: Mode_Arrivals
      parameters:
        - description: 'A mode name e.g. tube, dlr'
          in: path
          name: mode
          required: true
          type: string
        - description: 'A number of arrivals to return for each stop, -1 to return all available.'
          format: int32
          in: query
          name: count
          required: false
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Prediction'
            type: array
      summary: Gets the next arrival predictions for all stops of a given mode
      tags:
        - Mode
  /Occupancy/CarPark:
    get:
      deprecated: false
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/CarParkOccupancy'
            type: array
      summary: Gets the occupancy for all car parks that have occupancy data
      tags:
        - Occupancy
  '/Occupancy/CarPark/{id}':
    get:
      deprecated: false
      parameters:
        - description: ''
          in: path
          name: id
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CarParkOccupancy'
      summary: Gets the occupancy for a car park with a given id
      tags:
        - Occupancy
  /Place:
    get:
      deprecated: false
      operationId: Place_GetByGeoBox
      parameters:
        - collectionFormat: multi
          description: 'an optional list of comma separated property categories to return in the Place''s property bag. If null or empty, all categories of property are returned. Pass the keyword "none" to return no properties (a valid list of categories can be obtained from the /Place/Meta/categories endpoint)'
          in: query
          items:
            type: string
          name: categories
          required: false
          type: array
        - description: 'Defaults to false. If true child places e.g. individual charging stations at a charge point while be included, otherwise just the URLs of any child places will be returned'
          in: query
          name: includeChildren
          required: false
          type: boolean
        - collectionFormat: multi
          description: 'place types to filter on, or null to return all types'
          in: query
          items:
            type: string
          name: type
          required: false
          type: array
        - description: An optional parameter to limit the results to active records only (Currently only the 'VariableMessageSign' place type is supported)
          in: query
          name: activeOnly
          required: false
          type: boolean
        - format: double
          in: query
          name: bbBoxpoints.swLat
          required: true
          type: number
        - format: double
          in: query
          name: bbBoxpoints.swLon
          required: true
          type: number
        - format: double
          in: query
          name: bbBoxpoints.neLat
          required: true
          type: number
        - format: double
          in: query
          name: bbBoxpoints.neLon
          required: true
          type: number
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/StopPoint'
            type: array
      summary: "Gets the places that lie within the bounding box defined by the lat/lon of its north-west and south-east corners. Optionally filters\r\n            on type and can strip properties for a smaller payload."
      tags:
        - Place
  '/Place/Address/Streets/{Postcode}':
    get:
      deprecated: false
      operationId: Place_GetStreetsByPostCode
      parameters:
        - in: query
          name: postcode
          required: true
          type: string
        - in: query
          name: postcodeInput.postcode
          pattern: '^(([gG][iI][rR] {0,}0[aA]{2})|((([a-pr-uwyzA-PR-UWYZ][a-hk-yA-HK-Y]?[0-9][0-9]?)|(([a-pr-uwyzA-PR-UWYZ][0-9][a-hjkstuwA-HJKSTUW])|([a-pr-uwyzA-PR-UWYZ][a-hk-yA-HK-Y][0-9][abehmnprv-yABEHMNPRV-Y]))) {0,}[0-9][abd-hjlnp-uw-zABD-HJLNP-UW-Z]{2}))$'
          required: false
          type: string
        - in: path
          name: Postcode
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Object'
      summary: Gets the set of streets associated with a post code.
      tags:
        - Place
  /Place/Meta/Categories:
    get:
      deprecated: false
      operationId: Place_MetaCategories
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/PlaceCategory'
            type: array
      summary: Gets a list of all of the available place property categories and keys.
      tags:
        - Place
  /Place/Meta/PlaceTypes:
    get:
      deprecated: false
      operationId: Place_MetaPlaceTypes
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/PlaceCategory'
            type: array
      summary: Gets a list of the available types of Place.
      tags:
        - Place
  /Place/Search:
    get:
      deprecated: false
      operationId: Place_Search
      parameters:
        - description: 'The name of the place, you can use the /Place/Types/{types} endpoint to get a list of places for a given type including their names.'
          in: query
          name: name
          required: true
          type: string
        - collectionFormat: multi
          description: A comma-separated list of the types to return. Max. approx 12 types.
          in: query
          items:
            type: string
          name: types
          required: false
          type: array
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Place'
            type: array
      summary: Gets all places that matches the given query
      tags:
        - Place
  '/Place/Type/{types}':
    get:
      deprecated: false
      operationId: Place_GetByType
      parameters:
        - description: "A comma-separated list of the types to return. Max. approx 12 types.\r\n            A valid list of place types can be obtained from the /Place/Meta/placeTypes endpoint."
          in: path
          items:
            type: string
          name: types
          required: true
          type: array
        - description: An optional parameter to limit the results to active records only (Currently only the 'VariableMessageSign' place type is supported)
          in: query
          name: activeOnly
          required: false
          type: boolean
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Place'
            type: array
      summary: Gets all places of a given type
      tags:
        - Place
  '/Place/{id}':
    get:
      deprecated: false
      operationId: Place_Get
      parameters:
        - description: 'The id of the place, you can use the /Place/Types/{types} endpoint to get a list of places for a given type including their ids'
          in: path
          name: id
          required: true
          type: string
        - description: 'Defaults to false. If true child places e.g. individual charging stations at a charge point while be included, otherwise just the URLs of any child places will be returned'
          in: query
          name: includeChildren
          required: false
          type: boolean
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Place'
            type: array
      summary: Gets the place with the given id.
      tags:
        - Place
  '/Place/{type}/At/{Lat}/{Lon}':
    get:
      deprecated: false
      operationId: Place_GetAt
      parameters:
        - description: The place type (a valid list of place types can be obtained from the /Place/Meta/placeTypes endpoint)
          in: path
          items:
            type: string
          name: type
          required: true
          type: array
        - in: query
          name: lat
          required: true
          type: string
        - in: query
          name: lon
          required: true
          type: string
        - format: double
          in: query
          name: location.lat
          required: true
          type: number
        - format: double
          in: query
          name: location.lon
          required: true
          type: number
        - in: path
          name: Lat
          required: true
          type: string
        - in: path
          name: Lon
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Object'
      summary: "Gets any places of the given type whose geography intersects the given latitude and longitude. In practice this means the Place\r\n            must be polygonal e.g. a BoroughBoundary."
      tags:
        - Place
  '/Place/{type}/overlay/{z}/{Lat}/{Lon}/{width}/{height}':
    get:
      deprecated: false
      operationId: Place_GetOverlay
      parameters:
        - description: The zoom level
          format: int32
          in: path
          name: z
          required: true
          type: integer
        - description: The place type (a valid list of place types can be obtained from the /Place/Meta/placeTypes endpoint)
          in: path
          items:
            type: string
          name: type
          required: true
          type: array
        - description: The width of the requested overlay.
          format: int32
          in: path
          name: width
          required: true
          type: integer
        - description: The height of the requested overlay.
          format: int32
          in: path
          name: height
          required: true
          type: integer
        - in: query
          name: lat
          required: true
          type: string
        - in: query
          name: lon
          required: true
          type: string
        - format: double
          in: query
          name: location.lat
          required: true
          type: number
        - format: double
          in: query
          name: location.lon
          required: true
          type: number
        - in: path
          name: Lat
          required: true
          type: string
        - in: path
          name: Lon
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Object'
      summary: Gets the place overlay for a given set of co-ordinates and a given width/height.
      tags:
        - Place
  /Road:
    get:
      deprecated: false
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/RoadCorridor'
            type: array
      summary: Gets all roads managed by TfL
      tags:
        - Road
  /Road/Meta/Categories:
    get:
      deprecated: false
      operationId: Road_MetaCategories
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              type: string
            type: array
      summary: Gets a list of valid RoadDisruption categories
      tags:
        - Road
  /Road/Meta/Severities:
    get:
      deprecated: false
      operationId: Road_MetaSeverities
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/StatusSeverity'
            type: array
      summary: Gets a list of valid RoadDisruption severity codes
      tags:
        - Road
  '/Road/all/Disruption/{disruptionIds}':
    get:
      deprecated: false
      operationId: Road_DisruptionById
      parameters:
        - description: Comma-separated list of disruption identifiers to filter by.
          in: path
          items:
            type: string
          name: disruptionIds
          required: true
          type: array
        - description: 'Optional, defaults to false. When true, removes every property/node except for id, point, severity, severityDescription, startDate, endDate, corridor details, location and comments.'
          in: query
          name: stripContent
          required: false
          type: boolean
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/geo+json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RoadDisruption'
      summary: Gets a list of active disruptions filtered by disruption Ids.
      tags:
        - Road
  /Road/all/Street/Disruption:
    get:
      deprecated: false
      operationId: Road_DisruptedStreets
      parameters:
        - description: 'Optional, the start time to filter on.'
          format: date-time
          in: query
          name: startDate
          required: true
          type: string
        - description: 'Optional, The end time to filter on.'
          format: date-time
          in: query
          name: endDate
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Object'
      summary: 'Gets a list of disrupted streets. If no date filters are provided, current disruptions are returned.'
      tags:
        - Road
  '/Road/{ids}':
    get:
      deprecated: false
      parameters:
        - description: 'Comma-separated list of road identifiers e.g. "A406, A2" (a full list of supported road identifiers can be found at the /Road/ endpoint)'
          in: path
          items:
            type: string
          name: ids
          required: true
          type: array
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/RoadCorridor'
            type: array
      summary: Gets the road with the specified id (e.g. A1)
      tags:
        - Road
  '/Road/{ids}/Disruption':
    get:
      deprecated: false
      operationId: Road_Disruption
      parameters:
        - description: 'Comma-separated list of road identifiers e.g. "A406, A2" use all for all to ignore id filter (a full list of supported road identifiers can be found at the /Road/ endpoint)'
          in: path
          items:
            type: string
          name: ids
          required: true
          type: array
        - description: 'Optional, defaults to false. When true, removes every property/node except for id, point, severity, severityDescription, startDate, endDate, corridor details, location, comments and streets'
          in: query
          name: stripContent
          required: false
          type: boolean
        - collectionFormat: multi
          description: an optional list of Severity names to filter on (a valid list of severities can be obtained from the /Road/Meta/severities endpoint)
          in: query
          items:
            type: string
          name: severities
          required: false
          type: array
        - collectionFormat: multi
          description: an optional list of category names to filter on (a valid list of categories can be obtained from the /Road/Meta/categories endpoint)
          in: query
          items:
            type: string
          name: categories
          required: false
          type: array
        - description: 'Optional, defaults to true. When true, always includes disruptions that have road closures, regardless of the severity filter. When false, the severity filter works as normal.'
          in: query
          name: closures
          required: false
          type: boolean
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/geo+json
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/RoadDisruption'
            type: array
      summary: 'Get active disruptions, filtered by road ids'
      tags:
        - Road
  '/Road/{ids}/Status':
    get:
      deprecated: false
      operationId: Road_Status
      parameters:
        - description: 'Comma-separated list of road identifiers e.g. "A406, A2" or use "all" to ignore id filter (a full list of supported road identifiers can be found at the /Road/ endpoint)'
          in: path
          items:
            type: string
          name: ids
          required: true
          type: array
        - format: date-time
          in: query
          name: dateRangeNullable.startDate
          required: false
          type: string
        - format: date-time
          in: query
          name: dateRangeNullable.endDate
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/RoadCorridor'
            type: array
      summary: 'Gets the specified roads with the status aggregated over the date range specified, or now until the end of today if no dates are passed.'
      tags:
        - Road
  /Search:
    get:
      deprecated: false
      operationId: Search_Get
      parameters:
        - description: The search query
          in: query
          name: query
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SearchResponse'
      summary: "Search the site for occurrences of the query string. The maximum number of results returned is equal to the maximum page size\r\n            of 100. To return subsequent pages, use the paginated overload."
      tags:
        - Search
  /Search/BusSchedules:
    get:
      deprecated: false
      operationId: Search_BusSchedules
      parameters:
        - description: The search query
          in: query
          name: query
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SearchResponse'
      summary: Searches the bus schedules folder on S3 for a given bus number.
      tags:
        - Search
  /Search/Meta/Categories:
    get:
      deprecated: false
      operationId: Search_MetaCategories
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              type: string
            type: array
      summary: Gets the available search categories.
      tags:
        - Search
  /Search/Meta/SearchProviders:
    get:
      deprecated: false
      operationId: Search_MetaSearchProviders
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              type: string
            type: array
      summary: Gets the available searchProvider names.
      tags:
        - Search
  /Search/Meta/Sorts:
    get:
      deprecated: false
      operationId: Search_MetaSorts
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              type: string
            type: array
      summary: Gets the available sorting options.
      tags:
        - Search
  /StopPoint:
    get:
      deprecated: false
      operationId: StopPoint_GetByGeoPoint
      parameters:
        - collectionFormat: multi
          description: a list of stopTypes that should be returned (a list of valid stop types can be obtained from the StopPoint/meta/stoptypes endpoint)
          in: query
          items:
            type: string
          name: stopTypes
          required: true
          type: array
        - description: 'the radius of the bounding circle in metres (default : 200)'
          format: int32
          in: query
          name: radius
          required: false
          type: integer
        - description: Re-arrange the output into a parent/child hierarchy
          in: query
          name: useStopPointHierarchy
          required: false
          type: boolean
        - collectionFormat: multi
          description: 'the list of modes to search (comma separated mode names e.g. tube,dlr)'
          in: query
          items:
            type: string
          name: modes
          required: false
          type: array
        - collectionFormat: multi
          description: 'an optional list of comma separated property categories to return in the StopPoint''s property bag. If null or empty, all categories of property are returned. Pass the keyword "none" to return no properties (a valid list of categories can be obtained from the /StopPoint/Meta/categories endpoint)'
          in: query
          items:
            type: string
          name: categories
          required: false
          type: array
        - description: true to return the lines that each stop point serves as a nested resource
          in: query
          name: returnLines
          required: false
          type: boolean
        - format: double
          in: query
          name: location.lat
          required: true
          type: number
        - format: double
          in: query
          name: location.lon
          required: true
          type: number
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/StopPointsResponse'
      summary: 'Gets a list of StopPoints within {radius} by the specified criteria'
      tags:
        - StopPoint
  /StopPoint/Meta/Categories:
    get:
      deprecated: false
      operationId: StopPoint_MetaCategories
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/StopPointCategory'
            type: array
      summary: Gets the list of available StopPoint additional information categories
      tags:
        - StopPoint
  /StopPoint/Meta/Modes:
    get:
      deprecated: false
      operationId: StopPoint_MetaModes
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Mode'
            type: array
      summary: Gets the list of available StopPoint modes
      tags:
        - StopPoint
  /StopPoint/Meta/StopTypes:
    get:
      deprecated: false
      operationId: StopPoint_MetaStopTypes
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              type: string
            type: array
      summary: Gets the list of available StopPoint types
      tags:
        - StopPoint
  '/StopPoint/Mode/{modes}':
    get:
      deprecated: false
      operationId: StopPoint_GetByMode
      parameters:
        - description: 'A comma-seperated list of modes e.g. tube,dlr'
          in: path
          items:
            type: string
          name: modes
          required: true
          type: array
        - description: 'The data set page to return. Page 1 equates to the first 1000 stop points, page 2 equates to 1001-2000 etc. Must be entered for bus mode as data set is too large.'
          format: int32
          in: query
          name: page
          required: false
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/StopPointsResponse'
      summary: Gets a list of StopPoints filtered by the modes available at that StopPoint.
      tags:
        - StopPoint
  '/StopPoint/Mode/{modes}/Disruption':
    get:
      deprecated: false
      operationId: StopPoint_DisruptionByMode
      parameters:
        - description: 'A comma-seperated list of modes e.g. tube,dlr'
          in: path
          items:
            type: string
          name: modes
          required: true
          type: array
        - description: ''
          in: query
          name: includeRouteBlockedStops
          required: false
          type: boolean
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/DisruptedPoint'
            type: array
      summary: Gets a distinct list of disrupted stop points for the given modes
      tags:
        - StopPoint
  /StopPoint/Search:
    get:
      deprecated: false
      parameters:
        - description: 'The query string, case-insensitive. Leading and trailing wildcards are applied automatically.'
          in: query
          name: query
          required: true
          type: string
        - collectionFormat: multi
          description: 'An optional, parameter separated list of the modes to filter by'
          in: query
          items:
            type: string
          name: modes
          required: false
          type: array
        - description: True to only return stations in that have Fares data available for single fares to another station.
          in: query
          name: faresOnly
          required: false
          type: boolean
        - description: "An optional result limit, defaulting to and with a maximum of 50. Since children of the stop point heirarchy are returned for matches,\r\n            it is possible that the flattened result set will contain more than 50 items."
          format: int32
          in: query
          name: maxResults
          required: false
          type: integer
        - collectionFormat: multi
          description: 'An optional, parameter separated list of the lines to filter by'
          in: query
          items:
            type: string
          name: lines
          required: false
          type: array
        - description: 'If true, returns results including HUBs.'
          in: query
          name: includeHubs
          required: false
          type: boolean
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SearchResponse'
      summary: 'Search StopPoints by their common name, or their 5-digit Countdown Bus Stop Code.'
      tags:
        - StopPoint
  '/StopPoint/Search/{query}':
    get:
      deprecated: false
      parameters:
        - description: 'The query string, case-insensitive. Leading and trailing wildcards are applied automatically.'
          in: path
          name: query
          required: true
          type: string
        - collectionFormat: multi
          description: 'An optional, parameter separated list of the modes to filter by'
          in: query
          items:
            type: string
          name: modes
          required: false
          type: array
        - description: True to only return stations in that have Fares data available for single fares to another station.
          in: query
          name: faresOnly
          required: false
          type: boolean
        - description: "An optional result limit, defaulting to and with a maximum of 50. Since children of the stop point heirarchy are returned for matches,\r\n            it is possible that the flattened result set will contain more than 50 items."
          format: int32
          in: query
          name: maxResults
          required: false
          type: integer
        - collectionFormat: multi
          description: 'An optional, parameter separated list of the lines to filter by'
          in: query
          items:
            type: string
          name: lines
          required: false
          type: array
        - description: 'If true, returns results including HUBs.'
          in: query
          name: includeHubs
          required: false
          type: boolean
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SearchResponse'
      summary: 'Search StopPoints by their common name, or their 5-digit Countdown Bus Stop Code.'
      tags:
        - StopPoint
  /StopPoint/ServiceTypes:
    get:
      deprecated: false
      operationId: StopPoint_GetServiceTypes
      parameters:
        - description: The Naptan id of the stop
          in: query
          name: id
          required: true
          type: string
        - collectionFormat: multi
          description: The lines which contain the given Naptan id (all lines relevant to the given stoppoint if empty)
          in: query
          items:
            type: string
          name: lineIds
          required: false
          type: array
        - collectionFormat: multi
          description: The modes which the lines are relevant to (all if empty)
          in: query
          items:
            type: string
          name: modes
          required: false
          type: array
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/LineServiceType'
            type: array
      summary: Gets the service types for a given stoppoint
      tags:
        - StopPoint
  '/StopPoint/Sms/{id}':
    get:
      deprecated: false
      operationId: StopPoint_GetBySms
      parameters:
        - description: 'A 5-digit Countdown Bus Stop Code e.g. 73241, 50435, 56334.'
          in: path
          name: id
          required: true
          type: string
        - description: 'If set to "web", a 302 redirect to relevant website bus stop page is returned. Valid values are : web. All other values are ignored.'
          in: query
          name: output
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Object'
      summary: Gets a StopPoint for a given sms code.
      tags:
        - StopPoint
  '/StopPoint/Type/{types}':
    get:
      deprecated: false
      operationId: StopPoint_GetByType
      parameters:
        - description: "A comma-separated list of the types to return. Max. approx. 12 types. \r\n            A list of valid stop types can be obtained from the StopPoint/meta/stoptypes endpoint."
          in: path
          items:
            type: string
          name: types
          required: true
          type: array
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/StopPoint'
            type: array
      summary: Gets all stop points of a given type
      tags:
        - StopPoint
  '/StopPoint/{ids}':
    get:
      deprecated: false
      operationId: StopPoint_Get
      parameters:
        - description: "A comma-separated list of stop point ids (station naptan code e.g. 940GZZLUASL). Max. approx. 20 ids.\r\n            You can use /StopPoint/Search/{query} endpoint to find a stop point id from a station name."
          in: path
          items:
            type: string
          name: ids
          required: true
          type: array
        - description: 'Include the crowding data (static). To Filter further use: /StopPoint/{ids}/Crowding/{line}'
          in: query
          name: includeCrowdingData
          required: false
          type: boolean
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/StopPoint'
            type: array
      summary: Gets a list of StopPoints corresponding to the given list of stop ids.
      tags:
        - StopPoint
  '/StopPoint/{ids}/Disruption':
    get:
      deprecated: false
      operationId: StopPoint_Disruption
      parameters:
        - description: "A comma-seperated list of stop point ids. Max. approx. 20 ids.\r\n            You can use /StopPoint/Search/{query} endpoint to find a stop point id from a station name."
          in: path
          items:
            type: string
          name: ids
          required: true
          type: array
        - description: 'Specify true to return disruptions for entire family, or false to return disruptions for just this stop point. Defaults to false.'
          in: query
          name: getFamily
          required: false
          type: boolean
        - description: ''
          in: query
          name: includeRouteBlockedStops
          required: false
          type: boolean
        - description: Specify true to associate all disruptions with parent stop point. (Only applicable when getFamily is true).
          in: query
          name: flattenResponse
          required: false
          type: boolean
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/DisruptedPoint'
            type: array
      summary: 'Gets all disruptions for the specified StopPointId, plus disruptions for any child Naptan records it may have.'
      tags:
        - StopPoint
  '/StopPoint/{id}/Arrivals':
    get:
      deprecated: false
      operationId: StopPoint_Arrivals
      parameters:
        - description: 'A StopPoint id (station naptan code e.g. 940GZZLUASL, you can use /StopPoint/Search/{query} endpoint to find a stop point id from a station name)'
          in: path
          name: id
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Prediction'
            type: array
      summary: Gets the list of arrival predictions for the given stop point id
      tags:
        - StopPoint
  '/StopPoint/{id}/CanReachOnLine/{lineId}':
    get:
      deprecated: false
      operationId: StopPoint_ReachableFrom
      parameters:
        - description: 'The id (station naptan code e.g. 940GZZLUASL, you can use /StopPoint/Search/{query} endpoint to find a stop point id from a station name) of the stop point to filter by'
          in: path
          name: id
          required: true
          type: string
        - description: Line id of the line to filter by (e.g. victoria)
          in: path
          name: lineId
          required: true
          type: string
        - collectionFormat: multi
          description: 'A comma-separated list of service types to filter on. If not specified. Supported values: Regular, Night. Defaulted to ''Regular'' if not specified'
          in: query
          items:
            enum:
              - Regular
              - Night
            type: string
          name: serviceTypes
          required: false
          type: array
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/StopPoint'
            type: array
      summary: Gets Stopoints that are reachable from a station/line combination.
      tags:
        - StopPoint
  '/StopPoint/{id}/Crowding/{line}':
    get:
      deprecated: false
      operationId: StopPoint_Crowding
      parameters:
        - description: The Naptan id of the stop
          in: path
          name: id
          required: true
          type: string
        - description: 'A particular line e.g. victoria, circle, northern etc.'
          in: path
          name: line
          required: true
          type: string
        - description: The direction of travel. Can be inbound or outbound.
          enum:
            - inbound
            - outbound
            - all
          in: query
          name: direction
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/StopPoint'
            type: array
      summary: 'Gets all the Crowding data (static) for the StopPointId, plus crowding data for a given line and optionally a particular direction.'
      tags:
        - StopPoint
  '/StopPoint/{id}/DirectionTo/{toStopPointId}':
    get:
      deprecated: false
      operationId: StopPoint_Direction
      parameters:
        - description: 'Originating stop id (station naptan code e.g. 940GZZLUASL, you can use /StopPoint/Search/{query} endpoint to find a stop point id from a station name)'
          in: path
          name: id
          required: true
          type: string
        - description: 'Destination stop id (station naptan code e.g. 940GZZLUASL, you can use /StopPoint/Search/{query} endpoint to find a stop point id from a station name)'
          in: path
          name: toStopPointId
          required: true
          type: string
        - description: Optional line id filter e.g. victoria
          in: query
          name: lineId
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            type: string
      summary: 'Returns the canonical direction, "inbound" or "outbound", for a given pair of stop point Ids in the direction from -&gt; to.'
      tags:
        - StopPoint
  '/StopPoint/{id}/Route':
    get:
      deprecated: false
      operationId: StopPoint_Route
      parameters:
        - description: 'A stop point id (station naptan codes e.g. 940GZZLUASL, you can use /StopPoint/Search/{query} endpoint to find a stop point id from a station name)'
          in: path
          name: id
          required: true
          type: string
        - collectionFormat: multi
          description: 'A comma-separated list of service types to filter on. If not specified. Supported values: Regular, Night. Defaulted to ''Regular'' if not specified'
          in: query
          items:
            enum:
              - Regular
              - Night
            type: string
          name: serviceTypes
          required: false
          type: array
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/StopPointRouteSection'
            type: array
      summary: Returns the route sections for all the lines that service the given stop point ids
      tags:
        - StopPoint
  '/StopPoint/{stopPointId}/CarParks':
    get:
      deprecated: false
      operationId: StopPoint_GetCarParksById
      parameters:
        - description: stopPointId is required to get the car parks.
          in: path
          name: stopPointId
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Place'
            type: array
      summary: Get car parks corresponding to the given stop point id.
      tags:
        - StopPoint
  '/StopPoint/{stopPointId}/TaxiRanks':
    get:
      deprecated: false
      operationId: StopPoint_GetTaxiRanksByIds
      parameters:
        - description: stopPointId is required to get the taxi ranks.
          in: path
          name: stopPointId
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Place'
            type: array
      summary: Gets a list of taxi ranks corresponding to the given stop point id.
      tags:
        - StopPoint
  '/TravelTimes/compareOverlay/{z}/mapcenter/{mapCenterLat}/{mapCenterLon}/pinlocation/{pinLat}/{pinLon}/dimensions/{width}/{height}':
    get:
      deprecated: false
      operationId: TravelTime_GetCompareOverlay
      parameters:
        - description: The zoom level.
          format: int32
          in: path
          name: z
          required: true
          type: integer
        - description: The latitude of the pin.
          format: double
          in: path
          name: pinLat
          required: true
          type: number
        - description: The longitude of the pin.
          format: double
          in: path
          name: pinLon
          required: true
          type: number
        - description: The map center latitude.
          format: double
          in: path
          name: mapCenterLat
          required: true
          type: number
        - description: The map center longitude.
          format: double
          in: path
          name: mapCenterLon
          required: true
          type: number
        - description: The title of the scenario.
          in: query
          name: scenarioTitle
          required: true
          type: string
        - description: The id for the time of day (AM/INTER/PM)
          in: query
          name: timeOfDayId
          required: true
          type: string
        - description: The id of the mode.
          in: query
          name: modeId
          required: true
          type: string
        - description: The width of the requested overlay.
          format: int32
          in: path
          name: width
          required: true
          type: integer
        - description: The height of the requested overlay.
          format: int32
          in: path
          name: height
          required: true
          type: integer
        - description: The direction of travel.
          enum:
            - Average
            - From
            - To
          in: query
          name: direction
          required: true
          type: string
        - description: The total minutes between the travel time bands
          format: int32
          in: query
          name: travelTimeInterval
          required: true
          type: integer
        - in: query
          name: compareType
          required: true
          type: string
        - in: query
          name: compareValue
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Object'
      summary: Gets the TravelTime overlay.
      tags:
        - TravelTime
  '/TravelTimes/overlay/{z}/mapcenter/{mapCenterLat}/{mapCenterLon}/pinlocation/{pinLat}/{pinLon}/dimensions/{width}/{height}':
    get:
      deprecated: false
      operationId: TravelTime_GetOverlay
      parameters:
        - description: The zoom level.
          format: int32
          in: path
          name: z
          required: true
          type: integer
        - description: The latitude of the pin.
          format: double
          in: path
          name: pinLat
          required: true
          type: number
        - description: The longitude of the pin.
          format: double
          in: path
          name: pinLon
          required: true
          type: number
        - description: The map center latitude.
          format: double
          in: path
          name: mapCenterLat
          required: true
          type: number
        - description: The map center longitude.
          format: double
          in: path
          name: mapCenterLon
          required: true
          type: number
        - description: The title of the scenario.
          in: query
          name: scenarioTitle
          required: true
          type: string
        - description: The id for the time of day (AM/INTER/PM)
          in: query
          name: timeOfDayId
          required: true
          type: string
        - description: The id of the mode.
          in: query
          name: modeId
          required: true
          type: string
        - description: The width of the requested overlay.
          format: int32
          in: path
          name: width
          required: true
          type: integer
        - description: The height of the requested overlay.
          format: int32
          in: path
          name: height
          required: true
          type: integer
        - description: The direction of travel.
          enum:
            - Average
            - From
            - To
          in: query
          name: direction
          required: true
          type: string
        - description: The total minutes between the travel time bands
          format: int32
          in: query
          name: travelTimeInterval
          required: true
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Object'
      summary: Gets the TravelTime overlay.
      tags:
        - TravelTime
  /Vehicle/EmissionSurcharge:
    get:
      deprecated: false
      operationId: Vehicle_GetVehicle
      parameters:
        - description: The Vehicle Registration Mark
          in: query
          name: vrm
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/EmissionsSurchargeVehicle'
      summary: Gets the Emissions Surcharge compliance for the Vehicle
      tags:
        - Vehicle
  '/Vehicle/{ids}/Arrivals':
    get:
      deprecated: false
      operationId: Vehicle_Get
      parameters:
        - description: 'A comma-separated list of vehicle ids e.g. LX58CFV,LX11AZB,LX58CFE. Max approx. 25 ids.'
          in: path
          items:
            type: string
          name: ids
          required: true
          type: array
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Prediction'
            type: array
      summary: Gets the predictions for a given list of vehicle Id's.
      tags:
        - Vehicle
definitions:
  AccidentDetail:
    properties:
      borough:
        type: string
      casualties:
        items:
          $ref: '#/definitions/Casualty'
        type: array
      date:
        format: date-time
        type: string
      id:
        format: int32
        type: integer
      lat:
        format: double
        type: number
      location:
        type: string
      lon:
        format: double
        type: number
      severity:
        type: string
      vehicles:
        items:
          $ref: '#/definitions/Vehicle'
        type: array
    type: object
  AccidentStatsOrderedSummary:
    properties:
      accidents:
        format: int32
        type: integer
      borough:
        type: string
      year:
        format: int32
        type: integer
    type: object
  ActiveServiceType:
    properties:
      mode:
        type: string
      serviceType:
        type: string
    type: object
  AdditionalProperties:
    properties:
      category:
        type: string
      key:
        type: string
      modified:
        format: date-time
        type: string
      sourceSystemKey:
        type: string
      value:
        type: string
    type: object
  ApiVersionInfo:
    properties:
      assemblies:
        items:
          type: string
        type: array
      label:
        type: string
      timestamp:
        format: date-time
        type: string
      version:
        type: string
    type: object
  Bay:
    properties:
      bayCount:
        format: int32
        type: integer
      bayType:
        type: string
      free:
        format: int32
        type: integer
      occupied:
        format: int32
        type: integer
    type: object
  CarParkOccupancy:
    properties:
      bays:
        items:
          $ref: '#/definitions/Bay'
        type: array
      carParkDetailsUrl:
        type: string
      id:
        type: string
      name:
        type: string
    type: object
  Casualty:
    properties:
      age:
        format: int32
        type: integer
      ageBand:
        type: string
      class:
        type: string
      mode:
        type: string
      severity:
        type: string
    type: object
  Coordinate:
    properties:
      easting:
        format: double
        type: number
      latitude:
        format: double
        type: number
      longitude:
        format: double
        type: number
      northing:
        format: double
        type: number
      xCoord:
        format: int32
        type: integer
      yCoord:
        format: int32
        type: integer
    type: object
  Crowding:
    properties:
      passengerFlows:
        description: Busiest times at a station (static information)
        items:
          $ref: '#/definitions/PassengerFlow'
        type: array
      trainLoadings:
        description: 'Train Loading on a scale 1-6, 1 being "Very quiet" and 6 being "Exceptionally busy" (static information)'
        items:
          $ref: '#/definitions/TrainLoading'
        type: array
    type: object
  CycleSuperhighway:
    properties:
      geography:
        $ref: '#/definitions/DbGeography'
        description: A LineString or MultiLineString that forms the route of the highway
      id:
        description: The Id
        type: string
      label:
        description: The long label to show on maps when zoomed in
        type: string
      labelShort:
        description: The short label to show on maps
        type: string
      modified:
        description: When the data was last updated
        format: date-time
        type: string
      segmented:
        description: True if the route is split into segments
        type: boolean
    type: object
  DateRange:
    properties:
      endDate:
        format: date-time
        type: string
      startDate:
        format: date-time
        type: string
    type: object
  DateRangeNullable:
    properties:
      endDate:
        format: date-time
        type: string
      startDate:
        format: date-time
        type: string
    type: object
  DbGeography:
    properties:
      geography:
        $ref: '#/definitions/DbGeographyWellKnownValue'
    type: object
  DbGeographyWellKnownValue:
    properties:
      coordinateSystemId:
        format: int32
        type: integer
      wellKnownBinary:
        format: byte
        type: string
      wellKnownText:
        type: string
    type: object
  Disambiguation:
    properties:
      disambiguationOptions:
        items:
          $ref: '#/definitions/DisambiguationOption'
        type: array
    type: object
  DisambiguationOption:
    properties:
      description:
        type: string
      uri:
        type: string
    type: object
  DisruptedPoint:
    properties:
      additionalInformation:
        type: string
      appearance:
        type: string
      atcoCode:
        type: string
      commonName:
        type: string
      description:
        type: string
      fromDate:
        format: date-time
        type: string
      mode:
        type: string
      stationAtcoCode:
        type: string
      toDate:
        format: date-time
        type: string
      type:
        type: string
    type: object
  Disruption:
    description: Represents a disruption to a route within the transport network.
    properties:
      additionalInfo:
        description: Gets or sets the additionaInfo of this disruption.
        type: string
      affectedRoutes:
        description: Gets or sets the routes affected by this disruption
        items:
          $ref: '#/definitions/RouteSection'
        type: array
      affectedStops:
        description: Gets or sets the stops affected by this disruption
        items:
          $ref: '#/definitions/StopPoint'
        type: array
      category:
        description: Gets or sets the category of this dispruption.
        enum:
          - Undefined
          - RealTime
          - PlannedWork
          - Information
          - Event
          - Crowding
          - StatusAlert
        type: string
      categoryDescription:
        description: Gets or sets the description of the category.
        type: string
      closureText:
        type: string
      created:
        description: Gets or sets the date/time when this disruption was created.
        format: date-time
        type: string
      description:
        description: Gets or sets the description of this disruption.
        type: string
      isBlocking:
        type: boolean
      isWholeLine:
        type: boolean
      lastUpdate:
        description: Gets or sets the date/time when this disruption was last updated.
        format: date-time
        type: string
      type:
        description: Gets or sets the disruption type of this dispruption.
        type: string
    type: object
  EmissionsSurchargeVehicle:
    description: ''
    properties:
      colour:
        type: string
      compliance:
        enum:
          - NotCompliant
          - Compliant
          - Exempt
        type: string
      make:
        type: string
      model:
        type: string
      type:
        type: string
      vrm:
        type: string
    type: object
  Fare:
    properties:
      cap:
        format: double
        type: number
      cost:
        type: string
      description:
        type: string
      id:
        format: int32
        type: integer
      mode:
        type: string
      passengerType:
        type: string
      ticketTime:
        type: string
      ticketType:
        type: string
      validFrom:
        format: date-time
        type: string
      validUntil:
        format: date-time
        type: string
      zone:
        type: string
    type: object
  FareBounds:
    properties:
      description:
        type: string
      displayName:
        type: string
      displayOrder:
        format: int32
        type: integer
      from:
        type: string
      id:
        format: int32
        type: integer
      isPopularFare:
        type: boolean
      isPopularTravelCard:
        type: boolean
      isTour:
        type: boolean
      messages:
        items:
          $ref: '#/definitions/Message'
        type: array
      operator:
        type: string
      routeCode:
        type: string
      to:
        type: string
      via:
        type: string
    type: object
  FareDetails:
    properties:
      boundsId:
        format: int32
        type: integer
      displayName:
        type: string
      displayOrder:
        format: int32
        type: integer
      endDate:
        format: date-time
        type: string
      from:
        type: string
      fromStation:
        type: string
      isTour:
        type: boolean
      messages:
        items:
          $ref: '#/definitions/Message'
        type: array
      mode:
        type: string
      operator:
        type: string
      passengerType:
        type: string
      routeCode:
        type: string
      routeDescription:
        type: string
      specialFare:
        type: boolean
      startDate:
        format: date-time
        type: string
      throughFare:
        type: boolean
      ticketsAvailable:
        items:
          $ref: '#/definitions/Ticket'
        type: array
      to:
        type: string
      toStation:
        type: string
      validatorInformation:
        type: string
      via:
        type: string
    type: object
  FaresMode:
    properties:
      description:
        type: string
      id:
        format: int32
        type: integer
      name:
        type: string
    type: object
  FaresPeriod:
    properties:
      endDate:
        format: date-time
        type: string
      id:
        format: int32
        type: integer
      isFuture:
        type: boolean
      startDate:
        format: date-time
        type: string
      viewableDate:
        format: date-time
        type: string
    type: object
  FaresSection:
    properties:
      header:
        type: string
      index:
        format: int32
        type: integer
      messages:
        items:
          $ref: '#/definitions/Message'
        type: array
      rows:
        items:
          $ref: '#/definitions/FareDetails'
        type: array
    type: object
  GeoCodeSearchMatch:
    properties:
      address:
        description: A string describing the formatted address of the place. Adds additional context to the place's Name.
        type: string
      id:
        type: string
      lat:
        format: double
        type: number
      lon:
        format: double
        type: number
      name:
        type: string
      types:
        description: The type of the place e.g. "street_address"
        items:
          type: string
        type: array
      url:
        type: string
    type: object
  GeoPoint:
    properties:
      lat:
        format: double
        type: number
      lon:
        format: double
        type: number
    required:
      - lat
      - lon
    type: object
  GeoPointBBox:
    properties:
      neLat:
        format: double
        type: number
      neLon:
        format: double
        type: number
      swLat:
        format: double
        type: number
      swLon:
        format: double
        type: number
    required:
      - swLat
      - swLon
      - neLat
      - neLon
    type: object
  Identifier:
    properties:
      crowding:
        $ref: '#/definitions/Crowding'
      fullName:
        type: string
      id:
        type: string
      name:
        type: string
      type:
        type: string
      uri:
        type: string
    type: object
  Instruction:
    properties:
      detailed:
        type: string
      steps:
        items:
          $ref: '#/definitions/InstructionStep'
        type: array
      summary:
        type: string
    type: object
  InstructionStep:
    properties:
      cumulativeDistance:
        format: int32
        type: integer
      cumulativeTravelTime:
        format: int32
        type: integer
      description:
        type: string
      descriptionHeading:
        type: string
      distance:
        format: int32
        type: integer
      latitude:
        format: double
        type: number
      longitude:
        format: double
        type: number
      pathAttribute:
        $ref: '#/definitions/PathAttribute'
      skyDirection:
        format: int32
        type: integer
      skyDirectionDescription:
        enum:
          - North
          - NorthEast
          - East
          - SouthEast
          - South
          - SouthWest
          - West
          - NorthWest
        type: string
      streetName:
        type: string
      trackType:
        enum:
          - CycleSuperHighway
          - CanalTowpath
          - QuietRoad
          - ProvisionForCyclists
          - BusyRoads
          - None
          - PushBike
        type: string
      turnDirection:
        type: string
    type: object
  Interval:
    properties:
      stopId:
        type: string
      timeToArrival:
        format: double
        type: number
    type: object
  ItineraryResult:
    description: A DTO representing a list of possible journeys.
    properties:
      cycleHireDockingStationData:
        $ref: '#/definitions/JourneyPlannerCycleHireDockingStationData'
      journeyVector:
        $ref: '#/definitions/JourneyVector'
      journeys:
        items:
          $ref: '#/definitions/Journey'
        type: array
      lines:
        items:
          $ref: '#/definitions/Line'
        type: array
      recommendedMaxAgeMinutes:
        format: int32
        type: integer
      searchCriteria:
        $ref: '#/definitions/SearchCriteria'
      stopMessages:
        items:
          type: string
        type: array
    type: object
  Journey:
    description: Object that represents an end to end journey (see schematic).
    properties:
      arrivalDateTime:
        format: date-time
        type: string
      duration:
        format: int32
        type: integer
      legs:
        items:
          $ref: '#/definitions/Leg'
        type: array
      startDateTime:
        format: date-time
        type: string
    type: object
  JourneyPlannerCycleHireDockingStationData:
    properties:
      destinationId:
        type: string
      destinationNumberOfBikes:
        format: int32
        type: integer
      destinationNumberOfEmptySlots:
        format: int32
        type: integer
      originId:
        type: string
      originNumberOfBikes:
        format: int32
        type: integer
      originNumberOfEmptySlots:
        format: int32
        type: integer
    type: object
  JourneyVector:
    properties:
      from:
        type: string
      to:
        type: string
      uri:
        type: string
      via:
        type: string
    type: object
  JpElevation:
    properties:
      distance:
        format: int32
        type: integer
      endLat:
        format: double
        type: number
      endLon:
        format: double
        type: number
      gradient:
        format: double
        type: number
      heightFromPreviousPoint:
        format: int32
        type: integer
      startLat:
        format: double
        type: number
      startLon:
        format: double
        type: number
    type: object
  KnownJourney:
    properties:
      hour:
        type: string
      intervalId:
        format: int32
        type: integer
      minute:
        type: string
    type: object
  Leg:
    properties:
      arrivalPoint:
        $ref: '#/definitions/Point'
      arrivalTime:
[...]
