swagger: '2.0'
schemes:
  - https
host: api.twilio.com
basePath: /2010-04-01
info:
  description: |
    Enabling phones, VoIP, and messaging to be embedded into web, desktop, and mobile software.
  title: Twilio
  version: '2010-04-01'
  x-logo:
    url: 'https://www.twilio.com/bundles/marketing/img/logos/wordmark-red.svg'
  x-origin:
    format: raml
    url: 'https://raw.githubusercontent.com/raml-apis/Twilio/production/api.raml'
    version: '0.8'
  x-providerName: twilio.com
  x-unofficialSpec: true
externalDocs:
  url: 'https://www.twilio.com/api'
securityDefinitions:
  basic:
    type: basic
paths:
  '/Accounts/{AccountSid}/Applications/{ApplicationSid}{mediaTypeExtension}':
    delete:
      description: Delete this application.
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
        - in: path
          name: ApplicationSid
          required: true
          type: string
      responses:
        '204':
          description: Application deleted.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to delete the resource.
        '404':
          description: NOT FOUND.
        '405':
          description: "You can't DELETE the resource."
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: "We couldn't delete the resource. Please try again."
    get:
      description: Get application instance resource.
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
        - in: path
          name: ApplicationSid
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: |
            The request was successful and the response body contains the representation
            requested.
          schema:
            $ref: '#/definitions/application'
        '302':
          description: |
            A common redirect response; you can GET the representation at the URI
            in the Location response header.
        '304':
          description: |
            Your client's cached version of the representation is still up to date.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to access the resource.
        '404':
          description: NOT FOUND.
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: |
            We couldn't return the representation due to an internal server error.
        '503':
          description: |
            We are temporarily unable to return the representation. Please wait for
            a bit and try again.
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: |
        Tries to update the application's properties, and returns the updated
        resource representation if successful. The returned response is identical
        to that returned above when making a GET request.
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
        - in: path
          name: ApplicationSid
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: |
            The request was successful, we updated the resource and the response
            body contains the representation.
          schema:
            $ref: '#/definitions/application'
        '201':
          description: |
            The request was successful, we created a new resource and the response
            body contains the representation.
        '400':
          description: |
            The data given in the POST or PUT failed validation. Inspect the response
            body for details.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to create or update
            the resource.
        '404':
          description: NOT FOUND.
        '405':
          description: "You can't POST or PUT to the resource."
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: |
            We couldn't return the representation due to an internal server error.
  '/Accounts/{AccountSid}/Applications{mediaTypeExtension}':
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: |
        Returns a list of Application resource representations, each representing
        an application within your account. The list includes paging information.
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: |
            The request was successful and the response body contains the representation
            requested.
          schema:
            $ref: '#/definitions/applications'
        '302':
          description: |
            A common redirect response; you can GET the representation at the URI
            in the Location response header.
        '304':
          description: |
            Your client's cached version of the representation is still up to date.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to access the resource.
        '404':
          description: NOT FOUND.
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: |
            We couldn't return the representation due to an internal server error.
        '503':
          description: |
            We are temporarily unable to return the representation. Please wait for
            a bit and try again.
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: Creates a new application within your account.
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: |
            The request was successful, we updated the resource and the response
            body contains the representation.
        '201':
          description: |
            The request was successful, we created a new resource and the response
            body contains the representation.
          schema:
            $ref: '#/definitions/application'
        '400':
          description: |
            The data given in the POST or PUT failed validation. Inspect the response
            body for details.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to create or update
            the resource.
        '404':
          description: NOT FOUND.
        '405':
          description: "You can't POST or PUT to the resource."
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: |
            We couldn't return the representation due to an internal server error.
  '/Accounts/{AccountSid}/AuthorizedConnectApps/{ConnectAppSid}{mediaTypeExtension}':
    get:
      description: Get the properties of the authorized application.
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
        - in: path
          name: ConnectAppSid
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: |
            The request was successful and the response body contains the representation
            requested.
          schema:
            $ref: '#/definitions/authApp'
        '302':
          description: |
            A common redirect response; you can GET the representation at the URI
            in the Location response header.
        '304':
          description: |
            Your client's cached version of the representation is still up to date.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to access the resource.
        '404':
          description: NOT FOUND.
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: |
            We couldn't return the representation due to an internal server error.
        '503':
          description: |
            We are temporarily unable to return the representation. Please wait for
            a bit and try again.
  '/Accounts/{AccountSid}/AuthorizedConnectApps{mediaTypeExtension}':
    get:
      description: |
        Returns a list of Connect App resource representations, each representing a
        Connect App you've authorized to access your account. The list includes
        paging information.
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: |
            The request was successful and the response body contains the representation
            requested.
          schema:
            $ref: '#/definitions/authApps'
        '302':
          description: |
            A common redirect response; you can GET the representation at the URI
            in the Location response header.
        '304':
          description: |
            Your client's cached version of the representation is still up to date.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to access the resource.
        '404':
          description: NOT FOUND.
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: |
            We couldn't return the representation due to an internal server error.
        '503':
          description: |
            We are temporarily unable to return the representation. Please wait for
            a bit and try again.
  '/Accounts/{AccountSid}/AvailablePhoneNumbers/{IsoCountryCode}/Local{mediaTypeExtension}':
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: |
        Returns a list of local AvailablePhoneNumber resource representations
        that match the specified filters, each representing a phone number tha
        is currently available for provisioning within your account.
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - description: ISO 3166-1 alpha-2.
          in: path
          maxLength: 2
          minLength: 2
          name: IsoCountryCode
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: |
            The request was successful and the response body contains the representation
            requested.
          schema:
            $ref: '#/definitions/phoneLocalNumbers'
        '302':
          description: |
            A common redirect response; you can GET the representation at the URI
            in the Location response header.
        '304':
          description: |
            Your client's cached version of the representation is still up to date.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to access the resource.
        '404':
          description: NOT FOUND.
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: |
            We couldn't return the representation due to an internal server error.
        '503':
          description: |
            We are temporarily unable to return the representation. Please wait for
            a bit and try again.
  '/Accounts/{AccountSid}/AvailablePhoneNumbers/{IsoCountryCode}/Mobile{mediaTypeExtension}':
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: 'Returns a list of mobile AvailablePhoneNumber resource representations that match the specified filters, each representing a phone number that is currently available for provisioning within your account.'
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - description: ISO 3166-1 alpha-2.
          in: path
          maxLength: 2
          minLength: 2
          name: IsoCountryCode
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: |
            The request was successful and the response body contains the representation
            requested.
          schema:
            $ref: '#/definitions/phoneMobileNumbers'
        '302':
          description: |
            A common redirect response; you can GET the representation at the URI
            in the Location response header.
        '304':
          description: |
            Your client's cached version of the representation is still up to date.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to access the resource.
        '404':
          description: NOT FOUND.
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: |
            We couldn't return the representation due to an internal server error.
        '503':
          description: |
            We are temporarily unable to return the representation. Please wait for
            a bit and try again.
  '/Accounts/{AccountSid}/AvailablePhoneNumbers/{IsoCountryCode}/TollFree{mediaTypeExtension}':
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: |
        Returns a list of toll-free AvailablePhoneNumber elements that match the
        specified filters, each representing a phone number that is currently
        available for provisioning within your account. To provision an available
        phone number, POST the number to the IncomingPhoneNumbers resource.
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - description: ISO 3166-1 alpha-2.
          in: path
          maxLength: 2
          minLength: 2
          name: IsoCountryCode
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: |
            The request was successful and the response body contains the representation
            requested.
          schema:
            $ref: '#/definitions/phoneTollFreeNumbers'
        '302':
          description: |
            A common redirect response; you can GET the representation at the URI
            in the Location response header.
        '304':
          description: |
            Your client's cached version of the representation is still up to date.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to access the resource.
        '404':
          description: NOT FOUND.
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: |
            We couldn't return the representation due to an internal server error.
        '503':
          description: |
            We are temporarily unable to return the representation. Please wait for
            a bit and try again.
  '/Accounts/{AccountSid}/AvailablePhoneNumbers{mediaTypeExtension}':
    get:
      description: 'Returns a list of all AvailablePhoneNumber subresources for your account by ISO Country. For full information about our phone number support, see our Phone Number CSV (http://www.twilio.com/resources/rates/international-phone-number-rates.csv).'
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: |
            The request was successful and the response body contains the representation
            requested.
          schema:
            $ref: '#/definitions/availablePhoneNumbers'
        '302':
          description: |
            A common redirect response; you can GET the representation at the URI
            in the Location response header.
        '304':
          description: |
            Your client's cached version of the representation is still up to date.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to access the resource.
        '404':
          description: NOT FOUND.
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: |
            We couldn't return the representation due to an internal server error.
        '503':
          description: |
            We are temporarily unable to return the representation. Please wait for
            a bit and try again.
  '/Accounts/{AccountSid}/Calls/{CallSid}/Notifications{mediaTypeExtension}':
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: |
        Returns a list of notifications generated for an account. The list includes
        paging information.
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - in: path
          name: CallSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: |
            The request was successful and the response body contains the representation
            requested.
          schema:
            $ref: '#/definitions/notifications'
        '302':
          description: |
            A common redirect response; you can GET the representation at the URI
            in the Location response header.
        '304':
          description: |
            Your client's cached version of the representation is still up to date.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to access the resource.
        '404':
          description: NOT FOUND.
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: |
            We couldn't return the representation due to an internal server error.
        '503':
          description: |
            We are temporarily unable to return the representation. Please wait for
            a bit and try again.
  '/Accounts/{AccountSid}/Calls/{CallSid}/Recordings{mediaTypeExtension}':
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: |
        Returns a list of Recording resource representations, each representing a
        recording generated during the course of a phone call.
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - in: path
          name: CallSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: |
            The request was successful and the response body contains the representation
            requested.
          schema:
            $ref: '#/definitions/recordings'
        '302':
          description: |
            A common redirect response; you can GET the representation at the URI
            in the Location response header.
        '304':
          description: |
            Your client's cached version of the representation is still up to date.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to access the resource.
        '404':
          description: NOT FOUND.
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: |
            We couldn't return the representation due to an internal server error.
        '503':
          description: |
            We are temporarily unable to return the representation. Please wait for
            a bit and try again.
  '/Accounts/{AccountSid}/Calls/{CallSid}{mediaTypeExtension}':
    get:
      description: 'Returns the single Call resource identified by {CallSid}.'
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
        - in: path
          name: CallSid
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: |
            The request was successful and the response body contains the representation
            requested.
          schema:
            $ref: '#/definitions/callInstance'
        '302':
          description: |
            A common redirect response; you can GET the representation at the URI
            in the Location response header.
        '304':
          description: |
            Your client's cached version of the representation is still up to date.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to access the resource.
        '404':
          description: NOT FOUND.
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: |
            We couldn't return the representation due to an internal server error.
        '503':
          description: |
            We are temporarily unable to return the representation. Please wait for
            a bit and try again.
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: Modify a phone call.
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
        - in: path
          name: CallSid
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: |
            The request was successful, we updated the resource and the response
            body contains the representation.
          schema:
            $ref: '#/definitions/callInstance'
        '201':
          description: |
            The request was successful, we created a new resource and the response
            body contains the representation.
        '400':
          description: |
            The data given in the POST or PUT failed validation. Inspect the response
            body for details.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to create or update
            the resource.
        '404':
          description: NOT FOUND.
        '405':
          description: "You can't POST or PUT to the resource."
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: |
            We couldn't return the representation due to an internal server error.
  '/Accounts/{AccountSid}/Calls{mediaTypeExtension}':
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: 'Returns a list of phone calls made to and from the account identified by {AccountSid}.'
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: |
            The request was successful and the response body contains the representation
            requested.
          schema:
            $ref: '#/definitions/calls'
        '302':
          description: |
            A common redirect response; you can GET the representation at the URI
            in the Location response header.
        '304':
          description: |
            Your client's cached version of the representation is still up to date.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to access the resource.
        '404':
          description: NOT FOUND.
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: |
            We couldn't return the representation due to an internal server error.
        '503':
          description: |
            We are temporarily unable to return the representation. Please wait for
            a bit and try again.
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: 'To make a call, make an HTTP POST request. Initiate a new phone call.'
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: |
            The request was successful, we updated the resource and the response
            body contains the representation.
        '201':
          description: |
            The request was successful, we created a new resource and the response
            body contains the representation.
          schema:
            $ref: '#/definitions/call'
        '400':
          description: |
            The data given in the POST or PUT failed validation. Inspect the response
            body for details.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to create or update
            the resource.
        '404':
          description: NOT FOUND.
        '405':
          description: "You can't POST or PUT to the resource."
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: |
            We couldn't return the representation due to an internal server error.
  '/Accounts/{AccountSid}/Conferences/{ConferenceSid}/Participants/{CallSid}{mediaTypeExtension}':
    delete:
      description: Kick this participant from the conference.
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - in: path
          name: ConferenceSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
        - in: path
          name: CallSid
          required: true
          type: string
      responses:
        '204':
          description: Participant was successfully booted from the conference.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to delete the resource.
        '404':
          description: NOT FOUND.
        '405':
          description: "You can't DELETE the resource."
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: "We couldn't delete the resource. Please try again."
    get:
      description: Returns a representation of this participant.
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - in: path
          name: ConferenceSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
        - in: path
          name: CallSid
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: |
            The request was successful and the response body contains the representation
            requested.
          schema:
            $ref: '#/definitions/participant'
        '302':
          description: |
            A common redirect response; you can GET the representation at the URI
            in the Location response header.
        '304':
          description: |
            Your client's cached version of the representation is still up to date.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to access the resource.
        '404':
          description: NOT FOUND.
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: |
            We couldn't return the representation due to an internal server error.
        '503':
          description: |
            We are temporarily unable to return the representation. Please wait for
            a bit and try again.
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: Updates the status of a participant.
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - in: path
          name: ConferenceSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
        - in: path
          name: CallSid
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: |
            The request was successful, we updated the resource and the response
            body contains the representation.
          schema:
            $ref: '#/definitions/participant'
        '201':
          description: |
            The request was successful, we created a new resource and the response
            body contains the representation.
        '400':
          description: |
            The data given in the POST or PUT failed validation. Inspect the response
            body for details.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to create or update
            the resource.
        '404':
          description: NOT FOUND.
        '405':
          description: "You can't POST or PUT to the resource."
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: |
            We couldn't return the representation due to an internal server error.
  '/Accounts/{AccountSid}/Conferences/{ConferenceSid}/Participants{mediaTypeExtension}':
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: |
        Returns the list of participants in the conference identified by
        {ConferenceSid}.
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - in: path
          name: ConferenceSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: |
            The request was successful and the response body contains the representation
            requested.
          schema:
            $ref: '#/definitions/participants'
        '302':
          description: |
            A common redirect response; you can GET the representation at the URI
            in the Location response header.
        '304':
          description: |
            Your client's cached version of the representation is still up to date.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to access the resource.
        '404':
          description: NOT FOUND.
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: |
            We couldn't return the representation due to an internal server error.
        '503':
          description: |
            We are temporarily unable to return the representation. Please wait for
            a bit and try again.
  '/Accounts/{AccountSid}/Conferences/{ConferenceSid}{mediaTypeExtension}':
    get:
      description: |
        Returns a representation of the conference identified by {ConferenceSid}.
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
        - in: path
          name: ConferenceSid
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: |
            The request was successful and the response body contains the representation
            requested.
          schema:
            $ref: '#/definitions/conference'
        '302':
          description: |
            A common redirect response; you can GET the representation at the URI
            in the Location response header.
        '304':
          description: |
            Your client's cached version of the representation is still up to date.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to access the resource.
        '404':
          description: NOT FOUND.
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: |
            We couldn't return the representation due to an internal server error.
        '503':
          description: |
            We are temporarily unable to return the representation. Please wait for
            a bit and try again.
  '/Accounts/{AccountSid}/Conferences{mediaTypeExtension}':
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: |
        Returns a list of conferences within an account. The list includes paging
        information.
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: |
            The request was successful and the response body contains the representation
            requested.
          schema:
            $ref: '#/definitions/conferences'
        '302':
          description: |
            A common redirect response; you can GET the representation at the URI
            in the Location response header.
        '304':
          description: |
            Your client's cached version of the representation is still up to date.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to access the resource.
        '404':
          description: NOT FOUND.
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: |
            We couldn't return the representation due to an internal server error.
        '503':
          description: |
            We are temporarily unable to return the representation. Please wait for
            a bit and try again.
  '/Accounts/{AccountSid}/ConnectApps/{ConnectAppSid}{mediaTypeExtension}':
    get:
      description: Get the properties of a Connect App.
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
        - in: path
          name: ConnectAppSid
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: |
            The request was successful and the response body contains the representation
            requested.
          schema:
            $ref: '#/definitions/connectApp'
        '302':
          description: |
            A common redirect response; you can GET the representation at the URI
            in the Location response header.
        '304':
          description: |
            Your client's cached version of the representation is still up to date.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to access the resource.
        '404':
          description: NOT FOUND.
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: |
            We couldn't return the representation due to an internal server error.
        '503':
          description: |
            We are temporarily unable to return the representation. Please wait for
            a bit and try again.
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: |
        Tries to update the Connect App's properties, and returns the updated
        resource representation if successful. The returned response is identical
        to that returned above when making a GET request.
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
        - in: path
          name: ConnectAppSid
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: |
            The request was successful, we updated the resource and the response
            body contains the representation.
          schema:
            $ref: '#/definitions/connectApp'
        '201':
          description: |
            The request was successful, we created a new resource and the response
            body contains the representation.
        '400':
          description: |
            The data given in the POST or PUT failed validation. Inspect the response
            body for details.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to create or update
            the resource.
        '404':
          description: NOT FOUND.
        '405':
          description: "You can't POST or PUT to the resource."
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: |
            We couldn't return the representation due to an internal server error.
  '/Accounts/{AccountSid}/ConnectApps{mediaTypeExtension}':
    get:
      description: |
        Returns a list of Connect App resource representations, each representing
        a Connect App in your account. The list includes paging information.
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: |
            The request was successful and the response body contains the representation
            requested.
          schema:
            $ref: '#/definitions/connectApps'
        '302':
          description: |
            A common redirect response; you can GET the representation at the URI
            in the Location response header.
        '304':
          description: |
            Your client's cached version of the representation is still up to date.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to access the resource.
        '404':
          description: NOT FOUND.
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: |
            We couldn't return the representation due to an internal server error.
        '503':
          description: |
            We are temporarily unable to return the representation. Please wait for
            a bit and try again.
  '/Accounts/{AccountSid}/IncomingPhoneNumbers/Local{mediaTypeExtension}':
    get:
      description: 'Returns a list of local <IncomingPhoneNumber> elements, each representing a local (not toll-free) phone number given to your account, under an <IncomingPhoneNumbers> list element that includes paging information. Works exactly the same as the IncomingPhoneNumber resource, but filters out toll-free numbers.'
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - in: path
          name: mediaTypeExtension
          required: true
          type: string
      responses:
        '200':
          description: OK
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: "Adds a new phone number to your account. If a phone number is found for your request, Twilio will add it to your account and bill you for the first month's cost of the phone number. "
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - in: path
          name: mediaTypeExtension
          required: true
          type: string
      responses:
        '201':
          description: Created
        '400':
          description: "If Twilio can't find a phone number to match your request, you will receive an HTTP 400 with Twilio error code 21452."
  '/Accounts/{AccountSid}/IncomingPhoneNumbers/Mobile{mediaTypeExtension}':
    get:
      description: 'Returns a list of local <IncomingPhoneNumber> elements, each representing a mobile phone number given to your account, under an <IncomingPhoneNumbers> list element that includes paging information. Works exactly the same as the IncomingPhoneNumber resource, but filters out local and toll free numbers.'
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - in: path
          name: mediaTypeExtension
          required: true
          type: string
      responses:
        '200':
          description: OK
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: "Adds a new phone number to your account. If a phone number is found for your request, Twilio will add it to your account and bill you for the first month's cost of the phone number."
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - in: path
          name: mediaTypeExtension
          required: true
          type: string
      responses:
        '201':
          description: Created
        '400':
          description: "If Twilio can't find a phone number to match your request, you will receive an HTTP 400 with Twilio error code 21452."
  '/Accounts/{AccountSid}/IncomingPhoneNumbers/TollFree{mediaTypeExtension}':
    get:
      description: "Returns a list of local <IncomingPhoneNumber> elements, each representing a toll-free phone number given to your account, under an <IncomingPhoneNumbers> list element that includes paging information. Works exactly the same as the IncomingPhoneNumber resource, but filters out all numbers that aren't toll-free."
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - in: path
          name: mediaTypeExtension
          required: true
          type: string
      responses:
        '200':
          description: OK
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: "Adds a new phone number to your account. If a phone number is found for your request, Twilio will add it to your account and bill you for the first month's cost of the phone number. "
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - in: path
          name: mediaTypeExtension
          required: true
          type: string
      responses:
        '201':
          description: Created
        '400':
          description: "If Twilio can't find a phone number to match your request, you will receive an HTTP 400 with Twilio error code 21452."
  '/Accounts/{AccountSid}/IncomingPhoneNumbers/{IncomingPhoneNumberSid}{mediaTypeExtension}':
    delete:
      description: |
        Release this phone number from your account. Twilio will no longer answer
        calls to this number, and you will stop being billed the monthly phone
        number fee. The phone number will eventually be recycled and potentially
        given to another customer, so use with care. If you make a mistake, contac
        us. We may be able to give you the number back.
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
        - in: path
          name: IncomingPhoneNumberSid
          required: true
          type: string
      responses:
        '204':
          description: Phone number removed.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to delete the resource.
        '404':
          description: NOT FOUND.
        '405':
          description: "You can't DELETE the resource."
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: "We couldn't delete the resource. Please try again."
    get:
      description: "Get info about incoming call's phone number."
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
        - in: path
          name: IncomingPhoneNumberSid
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: |
            The request was successful and the response body contains the representation
            requested.
          schema:
            $ref: '#/definitions/incomingCall'
        '302':
          description: |
            A common redirect response; you can GET the representation at the URI
            in the Location response header.
        '304':
          description: |
            Your client's cached version of the representation is still up to date.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to access the resource.
        '404':
          description: NOT FOUND.
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: |
            We couldn't return the representation due to an internal server error.
        '503':
          description: |
            We are temporarily unable to return the representation. Please wait for
            a bit and try again.
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: |
        Tries to update the incoming phone number's properties, and returns the
        updated resource representation if successful. The returned response is
        identical to that returned above when making a GET request.
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
        - in: path
          name: IncomingPhoneNumberSid
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: |
            The request was successful, we updated the resource and the response
            body contains the representation.
          schema:
            $ref: '#/definitions/incomingCall'
        '201':
          description: |
            The request was successful, we created a new resource and the response
            body contains the representation.
        '400':
          description: |
            The data given in the POST or PUT failed validation. Inspect the response
            body for details.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to create or update
            the resource.
        '404':
          description: NOT FOUND.
        '405':
          description: "You can't POST or PUT to the resource."
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: |
            We couldn't return the representation due to an internal server error.
    put:
      consumes:
        - application/x-www-form-urlencoded
      description: |
        Tries to update the incoming phone number's properties, and returns the
        updated resource representation if successful. The returned response is
        identical to that returned above when making a GET request.
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
        - in: path
          name: IncomingPhoneNumberSid
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: |
            The request was successful, we updated the resource and the response
            body contains the representation.
          schema:
            $ref: '#/definitions/incomingCall'
        '201':
          description: |
            The request was successful, we created a new resource and the response
            body contains the representation.
        '400':
          description: |
            The data given in the POST or PUT failed validation. Inspect the response
            body for details.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to create or update
            the resource.
        '404':
          description: NOT FOUND.
        '405':
          description: "You can't POST or PUT to the resource."
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: |
            We couldn't return the representation due to an internal server error.
  '/Accounts/{AccountSid}/IncomingPhoneNumbers{mediaTypeExtension}':
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: |
        Returns a list of IncomingPhoneNumber resource representations, each
        representing a phone number given to your account. The list includes paging
        information.
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: |
            The request was successful and the response body contains the representation
            requested.
          schema:
            $ref: '#/definitions/incomingCalls'
        '302':
          description: |
            A common redirect response; you can GET the representation at the URI
            in the Location response header.
        '304':
          description: |
            Your client's cached version of the representation is still up to date.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to access the resource.
        '404':
          description: NOT FOUND.
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: |
            We couldn't return the representation due to an internal server error.
        '503':
          description: |
            We are temporarily unable to return the representation. Please wait for
            a bit and try again.
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: |
        Purchases a new phone number for your account. If a phone number is found
        for your request, Twilio will add it to your account and bill you for the
        first month's cost of the phone number.
        To find an available phone number to POST, use the subresources of the
        AvailablePhoneNumbers list resource.
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: |
            The request was successful, we updated the resource and the response
            body contains the representation.
        '201':
          description: |
            The request was successful, we created a new resource and the response
            body contains the representation.
          schema:
            $ref: '#/definitions/incomingCall'
        '400':
          description: 'If Twilio cannot find a phone number to match your request, you will receive an HTTP 400 with Twilio error code 21452.'
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to create or update
            the resource.
        '404':
          description: NOT FOUND.
        '405':
          description: "You can't POST or PUT to the resource."
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: |
            We couldn't return the representation due to an internal server error.
  '/Accounts/{AccountSid}/Messages/{MessageSid}/Media/{MediaSid}{mediaTypeExtension}':
    get:
      description: 'Without an extension, the media is returned using the mime-type provided when the media was generated.'
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - in: path
          name: MessageSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
        - in: path
          name: MediaSid
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: |
            The request was successful and the response body contains the representation
            requested.
          schema:
            $ref: '#/definitions/media'
        '302':
          description: |
            A common redirect response; you can GET the representation at the URI
            in the Location response header.
        '304':
          description: |
            Your client's cached version of the representation is still up to date.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to access the resource.
        '404':
          description: NOT FOUND.
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: |
            We couldn't return the representation due to an internal server error.
        '503':
          description: |
            We are temporarily unable to return the representation. Please wait for
            a bit and try again.
  '/Accounts/{AccountSid}/Messages/{MessageSid}/Media{mediaTypeExtension}':
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Returns a list of media associated with your message.
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - in: path
          name: MessageSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: |
            The request was successful and the response body contains the representation
            requested.
          schema:
            $ref: '#/definitions/mediaList'
        '302':
          description: |
            A common redirect response; you can GET the representation at the URI
            in the Location response header.
        '304':
          description: |
            Your client's cached version of the representation is still up to date.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to access the resource.
        '404':
          description: NOT FOUND.
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: |
            We couldn't return the representation due to an internal server error.
        '503':
          description: |
            We are temporarily unable to return the representation. Please wait for
            a bit and try again.
  '/Accounts/{AccountSid}/Messages/{MessageSid}{mediaTypeExtension}':
    get:
      description: |
        Returns a single message specified by the provided {MessageSid}.
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
        - in: path
          name: MessageSid
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: |
            The request was successful and the response body contains the representation
            requested.
          schema:
            $ref: '#/definitions/message'
        '302':
          description: |
            A common redirect response; you can GET the representation at the URI
            in the Location response header.
        '304':
          description: |
            Your client's cached version of the representation is still up to date.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to access the resource.
        '404':
          description: NOT FOUND.
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: |
            We couldn't return the representation due to an internal server error.
        '503':
          description: |
            We are temporarily unable to return the representation. Please wait for
            a bit and try again.
  '/Accounts/{AccountSid}/Messages{mediaTypeExtension}':
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Returns a list of messages associated with your account. The list includes paging information.
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: |
            The request was successful and the response body contains the representation
            requested.
          schema:
            $ref: '#/definitions/messages'
        '302':
          description: |
            A common redirect response; you can GET the representation at the URI
            in the Location response header.
        '304':
          description: |
            Your client's cached version of the representation is still up to date.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to access the resource.
        '404':
          description: NOT FOUND.
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: |
            We couldn't return the representation due to an internal server error.
        '503':
          description: |
            We are temporarily unable to return the representation. Please wait for
            a bit and try again.
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: 'To send a new outgoing message, make an HTTP POST to your Messages list resource URI'
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: |
            The request was successful, we updated the resource and the response
            body contains the representation.
        '201':
          description: |
            The request was successful, we created a new resource and the response
            body contains the representation.
          schema:
            $ref: '#/definitions/message'
        '400':
          description: |
            The data given in the POST or PUT failed validation. Inspect the response
            body for details.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to create or update
            the resource.
        '404':
          description: NOT FOUND.
        '405':
          description: "You can't POST or PUT to the resource."
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: |
            We couldn't return the representation due to an internal server error.
  '/Accounts/{AccountSid}/Notifications/{NotificationSid}{mediaTypeExtension}':
    delete:
      description: |
        Deletes the notification identified by {NotificationSid} from an account's log.
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
        - in: path
          name: NotificationSid
          required: true
          type: string
      responses:
        '204':
          description: Notification removed.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to delete the resource.
        '404':
          description: NOT FOUND.
        '405':
          description: "You can't DELETE the resource."
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: "We couldn't delete the resource. Please try again."
    get:
      description: Get a notification entry.
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
        - in: path
          name: NotificationSid
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: |
            The request was successful and the response body contains the representation
            requested.
          schema:
            $ref: '#/definitions/notification'
        '302':
          description: |
            A common redirect response; you can GET the representation at the URI
            in the Location response header.
        '304':
          description: |
            Your client's cached version of the representation is still up to date.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to access the resource.
        '404':
          description: NOT FOUND.
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: |
            We couldn't return the representation due to an internal server error.
        '503':
          description: |
            We are temporarily unable to return the representation. Please wait for
            a bit and try again.
  '/Accounts/{AccountSid}/Notifications{mediaTypeExtension}':
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: |
        Returns a list of notifications generated for an account. The list includes
        paging information.
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: |
            The request was successful and the response body contains the representation
            requested.
          schema:
            $ref: '#/definitions/notifications'
        '302':
          description: |
            A common redirect response; you can GET the representation at the URI
            in the Location response header.
        '304':
          description: |
            Your client's cached version of the representation is still up to date.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to access the resource.
        '404':
          description: NOT FOUND.
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: |
            We couldn't return the representation due to an internal server error.
        '503':
          description: |
            We are temporarily unable to return the representation. Please wait for
            a bit and try again.
  '/Accounts/{AccountSid}/OutgoingCallerIds/{OutgoingCallerIdSid}{mediaTypeExtension}':
    delete:
      description: |
        Deletes the caller ID from the account. Returns an HTTP 204 response if
        successful, with no body.
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
        - in: path
          name: OutgoingCallerIdSid
          required: true
          type: string
      responses:
        '204':
          description: Deletion successful.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to delete the resource.
        '404':
          description: NOT FOUND.
        '405':
          description: "You can't DELETE the resource."
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: "We couldn't delete the resource. Please try again."
    get:
      description: "Get the set of an account's verified phone numbers."
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
        - in: path
          name: OutgoingCallerIdSid
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: |
            The request was successful and the response body contains the representation
            requested.
          schema:
            $ref: '#/definitions/outgoingCallerId'
        '302':
          description: |
            A common redirect response; you can GET the representation at the URI
            in the Location response header.
        '304':
          description: |
            Your client's cached version of the representation is still up to date.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to access the resource.
        '404':
          description: NOT FOUND.
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: |
            We couldn't return the representation due to an internal server error.
        '503':
          description: |
            We are temporarily unable to return the representation. Please wait for
            a bit and try again.
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: 'Updates the caller id, and returns the updated resource if successful.'
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
        - in: path
          name: OutgoingCallerIdSid
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: |
            The request was successful, we updated the resource and the response
            body contains the representation.
          schema:
            $ref: '#/definitions/outgoingCallerId'
        '201':
          description: |
            The request was successful, we created a new resource and the response
            body contains the representation.
        '400':
          description: |
            The data given in the POST or PUT failed validation. Inspect the response
            body for details.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to create or update
            the resource.
        '404':
          description: NOT FOUND.
        '405':
          description: "You can't POST or PUT to the resource."
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: |
            We couldn't return the representation due to an internal server error.
    put:
      consumes:
        - application/x-www-form-urlencoded
      description: 'Updates the caller id, and returns the updated resource if successful.'
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
        - in: path
          name: OutgoingCallerIdSid
          required: true
          type: string
      responses:
        '200':
          description: |
            The request was successful, we updated the resource and the response
            body contains the representation.
        '201':
          description: |
            The request was successful, we created a new resource and the response
            body contains the representation.
        '400':
          description: |
            The data given in the POST or PUT failed validation. Inspect the response
            body for details.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to create or update
            the resource.
        '404':
          description: NOT FOUND.
        '405':
          description: "You can't POST or PUT to the resource."
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: |
            We couldn't return the representation due to an internal server error.
  '/Accounts/{AccountSid}/OutgoingCallerIds{mediaTypeExtension}':
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: |
        Returns a list of OutgoingCallerId resource representations, each representing
        a Caller ID number valid for an account. The list includes paging information.
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: |
            The request was successful and the response body contains the representation
            requested.
          schema:
            $ref: '#/definitions/outCallerIds'
        '302':
          description: |
            A common redirect response; you can GET the representation at the URI
            in the Location response header.
        '304':
          description: |
            Your client's cached version of the representation is still up to date.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to access the resource.
        '404':
          description: NOT FOUND.
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: |
            We couldn't return the representation due to an internal server error.
        '503':
          description: |
            We are temporarily unable to return the representation. Please wait for
            a bit and try again.
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: Adds a new CallerID to your account.
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: |
            The request was successful, we updated the resource and the response
            body contains the representation.
        '201':
          description: |
            The request was successful, we created a new resource and the response
            body contains the representation.
          schema:
            $ref: '#/definitions/outCaller'
        '400':
          description: |
            The data given in the POST or PUT failed validation. Inspect the response
            body for details.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to create or update
            the resource.
        '404':
          description: NOT FOUND.
        '405':
          description: "You can't POST or PUT to the resource."
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: |
            We couldn't return the representation due to an internal server error.
  '/Accounts/{AccountSid}/Queues/{QueueSid}/Members/Front{mediaTypeExtension}':
    get:
      description: Get a front member.
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - in: path
          name: QueueSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: |
            The request was successful and the response body contains the representation
            requested.
          schema:
            $ref: '#/definitions/member'
        '302':
          description: |
            A common redirect response; you can GET the representation at the URI
            in the Location response header.
        '304':
          description: |
            Your client's cached version of the representation is still up to date.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to access the resource.
        '404':
          description: NOT FOUND.
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: |
            We couldn't return the representation due to an internal server error.
        '503':
          description: |
            We are temporarily unable to return the representation. Please wait for
            a bit and try again.
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: |
        Posting a URL and Method to a Queue instance will dequeue a member from a
        queue and have the member's call begin executing the TwiML document at that URL
        When dequeuing the 'Front' of the queue, the next call in the queue will be redirected.
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - in: path
          name: QueueSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: |
            The request was successful, we updated the resource and the response
            body contains the representation.
          schema:
            $ref: '#/definitions/member'
        '201':
          description: |
            The request was successful, we created a new resource and the response
            body contains the representation.
        '400':
          description: Member was already dequed.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to create or update
            the resource.
        '404':
          description: NOT FOUND.
        '405':
          description: "You can't POST or PUT to the resource."
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: |
            We couldn't return the representation due to an internal server error.
  '/Accounts/{AccountSid}/Queues/{QueueSid}/Members/{CallSid}{mediaTypeExtension}':
    get:
      description: Get a specific member.
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - in: path
          name: QueueSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
        - in: path
          name: CallSid
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: |
            The request was successful and the response body contains the representation
            requested.
          schema:
            $ref: '#/definitions/member'
        '302':
          description: |
            A common redirect response; you can GET the representation at the URI
            in the Location response header.
        '304':
          description: |
            Your client's cached version of the representation is still up to date.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to access the resource.
        '404':
          description: NOT FOUND.
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: |
            We couldn't return the representation due to an internal server error.
        '503':
          description: |
            We are temporarily unable to return the representation. Please wait for
            a bit and try again.
    post:
      consumes:
        - application/x-www-form-urlencoded
      description: |
        Posting a URL and Method to a Queue instance will dequeue a member from a
        queue and have the member's call begin executing the TwiML document at that URL
        When redirecting a member of a queue addressed by CallSid, only the first request
        will succeed and return a 200 response code. A second request will fail and
        return an appropriate 400 response code.
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - in: path
          name: QueueSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
        - in: path
          name: CallSid
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: |
            The request was successful, we updated the resource and the response
            body contains the representation.
          schema:
            $ref: '#/definitions/member'
        '201':
          description: |
            The request was successful, we created a new resource and the response
            body contains the representation.
        '400':
          description: Member was already dequed.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to create or update
            the resource.
        '404':
          description: NOT FOUND.
        '405':
          description: "You can't POST or PUT to the resource."
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: |
            We couldn't return the representation due to an internal server error.
  '/Accounts/{AccountSid}/Queues/{QueueSid}/Members{mediaTypeExtension}':
    get:
      description: 'Returns the list of members in the queue identified by {QueueSid}.'
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - in: path
          name: QueueSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: |
            The request was successful and the response body contains the representation
            requested.
          schema:
            $ref: '#/definitions/members'
        '302':
          description: |
            A common redirect response; you can GET the representation at the URI
            in the Location response header.
        '304':
          description: |
            Your client's cached version of the representation is still up to date.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to access the resource.
        '404':
          description: NOT FOUND.
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: |
            We couldn't return the representation due to an internal server error.
        '503':
          description: |
            We are temporarily unable to return the representation. Please wait for
            a bit and try again.
  '/Accounts/{AccountSid}/Queues/{QueueSid}{mediaTypeExtension}':
    delete:
      description: |
        The DELETE method allows you to remove a Queue. Only empty queues are
        deletable.
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
        - in: path
          name: QueueSid
          required: true
          type: string
      responses:
        '204':
          description: Queue removed.
        '401':
          description: |
            The supplied credentials, if any, are not sufficient to delete the resource.
        '404':
          description: NOT FOUND.
        '405':
          description: "You can't DELETE the resource."
        '429':
          description: Your application is sending too many simultaneous requests.
        '500':
          description: "We couldn't delete the resource. Please try again."
    get:
      description: |
        Get resource's individual Queue instance.
      parameters:
        - in: path
          name: AccountSid
          required: true
          type: string
        - description: |
            By default, Twilio's REST API returns XML. You may obtain CSV, JSON or HTML by appending ".csv", ".json", or ".html".
          enum:
            - .json
            - .csv
            - .html
          in: path
          name: mediaTypeExtension
          required: true
          type: string
        - in: path
          name: QueueSid
          required: true
          type: string
      produces:
        - application/xml
      responses:
        '200':
          description: |
            The request was successful and the response body contains the representation
            requested.
          schema:
            $ref: '#/definitions/queue'
        '302':
          description: |
            A common redirect response; you can GET the representation at the URI
            in the Location response header.
        '304':
          description: |
            Your client's cached version of the representation is still up to date.
[...]
