openapi: 3.0.1
servers:
  - url: https://api.twilio.com
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Trunking
  version: 1.8.0
  x-apisguru-categories:
    - telecom
    - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_trunking_v1.json
      version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_trunking_v1
paths:
  /v1/Trunks:
    description: Represents a SIP trunk
    get:
      description: ""
      operationId: ListTrunk
      parameters:
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  trunks:
                    items:
                      $ref: "#/components/schemas/trunking.v1.trunk"
                    type: array
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreateTrunk
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                CnamLookupEnabled:
                  description: Whether Caller ID Name (CNAM) lookup should be enabled for the trunk. If enabled, all inbound calls to the SIP Trunk from the United States and Canada automatically perform a CNAM Lookup and display Caller ID data on your phone. See [CNAM Lookups](https://www.twilio.com/docs/sip-trunking#CNAM) for more information.
                  type: boolean
                DisasterRecoveryMethod:
                  description: "The HTTP method we should use to call the `disaster_recovery_url`. Can be: `GET` or `POST`."
                  enum:
                    - head
                    - get
                    - post
                    - patch
                    - put
                    - delete
                    - HEAD
                    - GET
                    - POST
                    - PATCH
                    - PUT
                    - DELETE
                  type: string
                DisasterRecoveryUrl:
                  description: The URL we should call using the `disaster_recovery_method` if an error occurs while sending SIP traffic towards the configured Origination URL. We retrieve TwiML from the URL and execute the instructions like any other normal TwiML call. See [Disaster Recovery](https://www.twilio.com/docs/sip-trunking#disaster-recovery) for more information.
                  format: uri
                  type: string
                DomainName:
                  description: The unique address you reserve on Twilio to which you route your SIP traffic. Domain names can contain letters, digits, and `-` and must end with `pstn.twilio.com`. See [Termination Settings](https://www.twilio.com/docs/sip-trunking#termination) for more information.
                  type: string
                FriendlyName:
                  description: A descriptive string that you create to describe the resource. It can be up to 64 characters long.
                  type: string
                Secure:
                  description: Whether Secure Trunking is enabled for the trunk. If enabled, all calls going through the trunk will be secure using SRTP for media and TLS for signaling. If disabled, then RTP will be used for media. See [Secure Trunking](https://www.twilio.com/docs/sip-trunking#securetrunking) for more information.
                  type: boolean
                TransferMode:
                  description: "The call transfer settings for the trunk. Can be: `enable-all`, `sip-only` and `disable-all`. See [Transfer](https://www.twilio.com/docs/sip-trunking/call-transfer) for more information."
                  enum:
                    - disable-all
                    - enable-all
                    - sip-only
                  type: string
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trunking.v1.trunk"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://trunking.twilio.com
    x-default-output-properties:
      - sid
      - friendly_name
      - domain_name
    x-path-type: list
  "/v1/Trunks/{Sid}":
    delete:
      description: ""
      operationId: DeleteTrunk
      parameters:
        - description: The unique string that we created to identify the Trunk resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^TK[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: Represents a SIP trunk
    get:
      description: ""
      operationId: FetchTrunk
      parameters:
        - description: The unique string that we created to identify the Trunk resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^TK[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trunking.v1.trunk"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: UpdateTrunk
      parameters:
        - description: The unique string that we created to identify the OriginationUrl resource to update.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^TK[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                CnamLookupEnabled:
                  description: Whether Caller ID Name (CNAM) lookup should be enabled for the trunk. If enabled, all inbound calls to the SIP Trunk from the United States and Canada automatically perform a CNAM Lookup and display Caller ID data on your phone. See [CNAM Lookups](https://www.twilio.com/docs/sip-trunking#CNAM) for more information.
                  type: boolean
                DisasterRecoveryMethod:
                  description: "The HTTP method we should use to call the `disaster_recovery_url`. Can be: `GET` or `POST`."
                  enum:
                    - head
                    - get
                    - post
                    - patch
                    - put
                    - delete
                    - HEAD
                    - GET
                    - POST
                    - PATCH
                    - PUT
                    - DELETE
                  type: string
                DisasterRecoveryUrl:
                  description: The URL we should call using the `disaster_recovery_method` if an error occurs while sending SIP traffic towards the configured Origination URL. We retrieve TwiML from the URL and execute the instructions like any other normal TwiML call. See [Disaster Recovery](https://www.twilio.com/docs/sip-trunking#disaster-recovery) for more information.
                  format: uri
                  type: string
                DomainName:
                  description: The unique address you reserve on Twilio to which you route your SIP traffic. Domain names can contain letters, digits, and `-` and must end with `pstn.twilio.com`. See [Termination Settings](https://www.twilio.com/docs/sip-trunking#termination) for more information.
                  type: string
                FriendlyName:
                  description: A descriptive string that you create to describe the resource. It can be up to 64 characters long.
                  type: string
                Secure:
                  description: Whether Secure Trunking is enabled for the trunk. If enabled, all calls going through the trunk will be secure using SRTP for media and TLS for signaling. If disabled, then RTP will be used for media. See [Secure Trunking](https://www.twilio.com/docs/sip-trunking#securetrunking) for more information.
                  type: boolean
                TransferMode:
                  description: "The call transfer settings for the trunk. Can be: `enable-all`, `sip-only` and `disable-all`. See [Transfer](https://www.twilio.com/docs/sip-trunking/call-transfer) for more information."
                  enum:
                    - disable-all
                    - enable-all
                    - sip-only
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trunking.v1.trunk"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://trunking.twilio.com
    x-default-output-properties:
      - sid
      - friendly_name
      - domain_name
    x-path-type: instance
  "/v1/Trunks/{TrunkSid}/CredentialLists":
    description: List of credentials for accessing a trunk
    get:
      description: ""
      operationId: ListCredentialList
      parameters:
        - description: The SID of the Trunk from which to read the credential lists.
          in: path
          name: TrunkSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^TK[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  credential_lists:
                    items:
                      $ref: "#/components/schemas/trunking.v1.trunk.credential_list"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreateCredentialList
      parameters:
        - description: The SID of the Trunk to associate the credential list with.
          in: path
          name: TrunkSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^TK[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                CredentialListSid:
                  description: The SID of the [Credential List](https://www.twilio.com/docs/voice/sip/api/sip-credentiallist-resource) that you want to associate with the trunk. Once associated, we will authenticate access to the trunk against this list.
                  maxLength: 34
                  minLength: 34
                  pattern: ^CL[0-9a-fA-F]{32}$
                  type: string
              required:
                - CredentialListSid
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trunking.v1.trunk.credential_list"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://trunking.twilio.com
    x-default-output-properties:
      - sid
      - friendly_name
      - date_created
    x-path-type: list
  "/v1/Trunks/{TrunkSid}/CredentialLists/{Sid}":
    delete:
      description: ""
      operationId: DeleteCredentialList
      parameters:
        - description: The SID of the Trunk from which to delete the credential list.
          in: path
          name: TrunkSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^TK[0-9a-fA-F]{32}$
            type: string
        - description: The unique string that we created to identify the CredentialList resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^CL[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: List of credentials for accessing a trunk
    get:
      description: ""
      operationId: FetchCredentialList
      parameters:
        - description: The SID of the Trunk from which to fetch the credential list.
          in: path
          name: TrunkSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^TK[0-9a-fA-F]{32}$
            type: string
        - description: The unique string that we created to identify the CredentialList resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^CL[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trunking.v1.trunk.credential_list"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://trunking.twilio.com
    x-default-output-properties:
      - sid
      - friendly_name
      - date_created
    x-path-type: instance
  "/v1/Trunks/{TrunkSid}/IpAccessControlLists":
    description: List of IP addresses for accessing a trunk
    get:
      description: List all IP Access Control Lists for a Trunk
      operationId: ListIpAccessControlList
      parameters:
        - description: The SID of the Trunk from which to read the IP Access Control Lists.
          in: path
          name: TrunkSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^TK[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  ip_access_control_lists:
                    items:
                      $ref: "#/components/schemas/trunking.v1.trunk.ip_access_control_list"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: Associate an IP Access Control List with a Trunk
      operationId: CreateIpAccessControlList
      parameters:
        - description: The SID of the Trunk to associate the IP Access Control List with.
          in: path
          name: TrunkSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^TK[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                IpAccessControlListSid:
                  description: The SID of the [IP Access Control List](https://www.twilio.com/docs/voice/sip/api/sip-ipaccesscontrollist-resource) that you want to associate with the trunk.
                  maxLength: 34
                  minLength: 34
                  pattern: ^AL[0-9a-fA-F]{32}$
                  type: string
              required:
                - IpAccessControlListSid
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trunking.v1.trunk.ip_access_control_list"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://trunking.twilio.com
    x-default-output-properties:
      - sid
      - friendly_name
      - date_created
    x-path-type: list
  "/v1/Trunks/{TrunkSid}/IpAccessControlLists/{Sid}":
    delete:
      description: Remove an associated IP Access Control List from a Trunk
      operationId: DeleteIpAccessControlList
      parameters:
        - description: The SID of the Trunk from which to delete the IP Access Control List.
          in: path
          name: TrunkSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^TK[0-9a-fA-F]{32}$
            type: string
        - description: The unique string that we created to identify the IpAccessControlList resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^AL[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: List of IP addresses for accessing a trunk
    get:
      description: ""
      operationId: FetchIpAccessControlList
      parameters:
        - description: The SID of the Trunk from which to fetch the IP Access Control List.
          in: path
          name: TrunkSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^TK[0-9a-fA-F]{32}$
            type: string
        - description: The unique string that we created to identify the IpAccessControlList resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^AL[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trunking.v1.trunk.ip_access_control_list"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://trunking.twilio.com
    x-default-output-properties:
      - sid
      - friendly_name
      - date_created
    x-path-type: instance
  "/v1/Trunks/{TrunkSid}/OriginationUrls":
    description: Network element entry points into your communications infrastructure
    get:
      description: ""
      operationId: ListOriginationUrl
      parameters:
        - description: The SID of the Trunk from which to read the OriginationUrl.
          in: path
          name: TrunkSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^TK[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  origination_urls:
                    items:
                      $ref: "#/components/schemas/trunking.v1.trunk.origination_url"
                    type: array
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreateOriginationUrl
      parameters:
        - description: The SID of the Trunk to associate the resource with.
          in: path
          name: TrunkSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^TK[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Enabled:
                  description: Whether the URL is enabled. The default is `true`.
                  type: boolean
                FriendlyName:
                  description: A descriptive string that you create to describe the resource. It can be up to 64 characters long.
                  type: string
                Priority:
                  description: The relative importance of the URI. Can be an integer from 0 to 65535, inclusive, and the default is 10. The lowest number represents the most important URI.
                  type: integer
                SipUrl:
                  description: The SIP address you want Twilio to route your Origination calls to. This must be a `sip:` schema.
                  format: uri
                  type: string
                Weight:
                  description: The value that determines the relative share of the load the URI should receive compared to other URIs with the same priority. Can be an integer from 1 to 65535, inclusive, and the default is 10. URLs with higher values receive more load than those with lower ones with the same priority.
                  type: integer
              required:
                - Weight
                - Priority
                - Enabled
                - FriendlyName
                - SipUrl
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trunking.v1.trunk.origination_url"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://trunking.twilio.com
    x-default-output-properties:
      - sid
      - friendly_name
      - sip_url
      - priority
      - weight
    x-path-type: list
  "/v1/Trunks/{TrunkSid}/OriginationUrls/{Sid}":
    delete:
      description: ""
      operationId: DeleteOriginationUrl
      parameters:
        - description: The SID of the Trunk from which to delete the OriginationUrl.
          in: path
          name: TrunkSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^TK[0-9a-fA-F]{32}$
            type: string
        - description: The unique string that we created to identify the OriginationUrl resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^OU[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: Network element entry points into your communications infrastructure
    get:
      description: ""
      operationId: FetchOriginationUrl
      parameters:
        - description: The SID of the Trunk from which to fetch the OriginationUrl.
          in: path
          name: TrunkSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^TK[0-9a-fA-F]{32}$
            type: string
        - description: The unique string that we created to identify the OriginationUrl resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^OU[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trunking.v1.trunk.origination_url"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: UpdateOriginationUrl
      parameters:
        - description: The SID of the Trunk from which to update the OriginationUrl.
          in: path
          name: TrunkSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^TK[0-9a-fA-F]{32}$
            type: string
        - description: The unique string that we created to identify the OriginationUrl resource to update.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^OU[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Enabled:
                  description: Whether the URL is enabled. The default is `true`.
                  type: boolean
                FriendlyName:
                  description: A descriptive string that you create to describe the resource. It can be up to 64 characters long.
                  type: string
                Priority:
                  description: The relative importance of the URI. Can be an integer from 0 to 65535, inclusive, and the default is 10. The lowest number represents the most important URI.
                  type: integer
                SipUrl:
                  description: The SIP address you want Twilio to route your Origination calls to. This must be a `sip:` schema. `sips` is NOT supported.
                  format: uri
                  type: string
                Weight:
                  description: The value that determines the relative share of the load the URI should receive compared to other URIs with the same priority. Can be an integer from 1 to 65535, inclusive, and the default is 10. URLs with higher values receive more load than those with lower ones with the same priority.
                  type: integer
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trunking.v1.trunk.origination_url"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://trunking.twilio.com
    x-default-output-properties:
      - sid
      - friendly_name
      - sip_url
      - priority
      - weight
    x-path-type: instance
  "/v1/Trunks/{TrunkSid}/PhoneNumbers":
    description: Phone numbers associated with trunks
    get:
      description: ""
      operationId: ListPhoneNumber
      parameters:
        - description: The SID of the Trunk from which to read the PhoneNumber resources.
          in: path
          name: TrunkSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^TK[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  phone_numbers:
                    items:
                      $ref: "#/components/schemas/trunking.v1.trunk.phone_number"
                    type: array
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreatePhoneNumber
      parameters:
        - description: The SID of the Trunk to associate the phone number with.
          in: path
          name: TrunkSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^TK[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                PhoneNumberSid:
                  description: The SID of the [Incoming Phone Number](https://www.twilio.com/docs/phone-numbers/api/incomingphonenumber-resource) that you want to associate with the trunk.
                  maxLength: 34
                  minLength: 34
                  pattern: ^PN[0-9a-fA-F]{32}$
                  type: string
              required:
                - PhoneNumberSid
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trunking.v1.trunk.phone_number"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://trunking.twilio.com
    x-default-output-properties:
      - sid
      - friendly_name
      - phone_number
    x-path-type: list
  "/v1/Trunks/{TrunkSid}/PhoneNumbers/{Sid}":
    delete:
      description: ""
      operationId: DeletePhoneNumber
      parameters:
        - description: The SID of the Trunk from which to delete the PhoneNumber resource.
          in: path
          name: TrunkSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^TK[0-9a-fA-F]{32}$
            type: string
        - description: The unique string that we created to identify the PhoneNumber resource to delete.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^PN[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: Phone numbers associated with trunks
    get:
      description: ""
      operationId: FetchPhoneNumber
      parameters:
        - description: The SID of the Trunk from which to fetch the PhoneNumber resource.
          in: path
          name: TrunkSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^TK[0-9a-fA-F]{32}$
            type: string
        - description: The unique string that we created to identify the PhoneNumber resource to fetch.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^PN[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trunking.v1.trunk.phone_number"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://trunking.twilio.com
    x-default-output-properties:
      - sid
      - friendly_name
      - phone_number
    x-path-type: instance
  "/v1/Trunks/{TrunkSid}/Recording":
    description: Recording settings for a trunk
    get:
      description: ""
      operationId: FetchRecording
      parameters:
        - description: The SID of the Trunk from which to fetch the recording settings.
          in: path
          name: TrunkSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^TK[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trunking.v1.trunk.recording"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: UpdateRecording
      parameters:
        - description: The SID of the Trunk that will have its recording settings updated.
          in: path
          name: TrunkSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^TK[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Mode:
                  description: The recording mode for the trunk. Can be do-not-record (default), record-from-ringing, record-from-answer, record-from-ringing-dual, or record-from-answer-dual.
                  enum:
                    - do-not-record
                    - record-from-ringing
                    - record-from-answer
                    - record-from-ringing-dual
                    - record-from-answer-dual
                  type: string
                Trim:
                  description: The recording trim setting for the trunk. Can be do-not-trim (default) or trim-silence.
                  enum:
                    - trim-silence
                    - do-not-trim
                  type: string
              type: object
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/trunking.v1.trunk.recording"
          description: Accepted
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://trunking.twilio.com
    x-default-output-properties:
      - mode
      - trim
    x-path-type: instance
components:
  schemas:
    trunking.v1.trunk:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        auth_type:
          type: string
        auth_type_set:
          items:
            type: string
          type: array
        cnam_lookup_enabled:
          type: boolean
        date_created:
          format: date-time
          type: string
        date_updated:
          format: date-time
          type: string
        disaster_recovery_method:
          enum:
            - head
            - get
            - post
            - patch
            - put
            - delete
            - HEAD
            - GET
            - POST
            - PATCH
            - PUT
            - DELETE
          type: string
        disaster_recovery_url:
          format: uri
          type: string
        domain_name:
          type: string
        friendly_name:
          type: string
        links:
          type: object
        recording:
          type: object
        secure:
          type: boolean
        sid:
          maxLength: 34
          minLength: 34
          pattern: ^TK[0-9a-fA-F]{32}$
          type: string
        transfer_mode:
          enum:
            - disable-all
            - enable-all
            - sip-only
          type: string
        url:
          format: uri
          type: string
      type: object
    trunking.v1.trunk.credential_list:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        date_created:
          format: date-time
          type: string
        date_updated:
          format: date-time
          type: string
        friendly_name:
          type: string
        sid:
          maxLength: 34
          minLength: 34
          pattern: ^CL[0-9a-fA-F]{32}$
          type: string
        trunk_sid:
          maxLength: 34
          minLength: 34
          pattern: ^TK[0-9a-fA-F]{32}$
          type: string
        url:
          format: uri
          type: string
      type: object
    trunking.v1.trunk.ip_access_control_list:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        date_created:
          format: date-time
          type: string
        date_updated:
          format: date-time
          type: string
        friendly_name:
          type: string
        sid:
          maxLength: 34
          minLength: 34
          pattern: ^AL[0-9a-fA-F]{32}$
          type: string
        trunk_sid:
          maxLength: 34
          minLength: 34
          pattern: ^TK[0-9a-fA-F]{32}$
          type: string
        url:
          format: uri
          type: string
      type: object
    trunking.v1.trunk.origination_url:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        date_created:
          format: date-time
          type: string
        date_updated:
          format: date-time
          type: string
        enabled:
          type: boolean
        friendly_name:
          type: string
        priority:
          type: integer
        sid:
          maxLength: 34
          minLength: 34
          pattern: ^OU[0-9a-fA-F]{32}$
          type: string
        sip_url:
          format: uri
          type: string
        trunk_sid:
          maxLength: 34
          minLength: 34
          pattern: ^TK[0-9a-fA-F]{32}$
          type: string
        url:
          format: uri
          type: string
        weight:
          type: integer
      type: object
    trunking.v1.trunk.phone_number:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        address_requirements:
          enum:
            - none
            - any
            - local
            - foreign
          type: string
        api_version:
          type: string
        beta:
          type: boolean
        capabilities:
          type: object
        date_created:
          format: date-time
          type: string
        date_updated:
          format: date-time
          type: string
        friendly_name:
          type: string
        links:
          type: object
        phone_number:
          type: string
        sid:
          maxLength: 34
          minLength: 34
          pattern: ^PN[0-9a-fA-F]{32}$
          type: string
        sms_application_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AP[0-9a-fA-F]{32}$
          type: string
        sms_fallback_method:
          enum:
            - head
            - get
            - post
            - patch
            - put
            - delete
            - HEAD
            - GET
            - POST
            - PATCH
            - PUT
            - DELETE
          type: string
        sms_fallback_url:
          format: uri
          type: string
        sms_method:
          enum:
            - head
            - get
            - post
            - patch
            - put
            - delete
            - HEAD
            - GET
            - POST
            - PATCH
            - PUT
            - DELETE
          type: string
        sms_url:
          format: uri
          type: string
        status_callback:
          format: uri
          type: string
        status_callback_method:
          enum:
            - head
            - get
            - post
            - patch
            - put
            - delete
            - HEAD
            - GET
            - POST
            - PATCH
            - PUT
            - DELETE
          type: string
        trunk_sid:
          maxLength: 34
          minLength: 34
          pattern: ^TK[0-9a-fA-F]{32}$
          type: string
        url:
          format: uri
          type: string
        voice_application_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AP[0-9a-fA-F]{32}$
          type: string
        voice_caller_id_lookup:
          type: boolean
        voice_fallback_method:
          enum:
            - head
            - get
            - post
            - patch
            - put
            - delete
            - HEAD
            - GET
            - POST
            - PATCH
            - PUT
            - DELETE
          type: string
        voice_fallback_url:
          format: uri
          type: string
        voice_method:
          enum:
            - head
            - get
            - post
            - patch
            - put
            - delete
            - HEAD
            - GET
            - POST
            - PATCH
            - PUT
            - DELETE
          type: string
        voice_url:
          format: uri
          type: string
      type: object
    trunking.v1.trunk.recording:
      properties:
        mode:
          enum:
            - do-not-record
            - record-from-ringing
            - record-from-answer
            - record-from-ringing-dual
            - record-from-answer-dual
          type: string
        trim:
          enum:
            - trim-silence
            - do-not-trim
          type: string
      type: object
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
x-maturity:
  - description: This product is Generally Available.
    name: GA
