swagger: '2.0'
schemes:
  - https
host: api.schooldigger.com
info:
  contact:
    email: api@schooldigger.com
    name: SchoolDigger
  description: 'Get detailed data on over 120,000 schools and 18,500 districts in the U.S.'
  termsOfService: 'https://developer.schooldigger.com/termsofservice'
  title: SchoolDigger API V1
  version: v1
  x-apisguru-categories:
    - open_data
    - education
  x-origin:
    - format: swagger
      url: 'https://api.schooldigger.com/swagger/docs/v1'
      version: '2.0'
  x-providerName: schooldigger.com
consumes: []
paths:
  /v1/districts:
    get:
      description: Search the SchoolDigger database for districts. You may use any combination of criteria as query parameters.
      operationId: Districts_GetAllDistricts
      parameters:
        - description: Two character state (e.g. 'CA') - required
          in: query
          name: st
          required: true
          type: string
        - description: 'Search term - note: will match district name or city (optional)'
          in: query
          name: q
          required: false
          type: string
        - description: Search for districts in this city (optional)
          in: query
          name: city
          required: false
          type: string
        - description: Search for districts in this 5-digit zip code (optional)
          in: query
          name: zip
          required: false
          type: string
        - description: 'Search for districts within (distanceMiles) of (nearLatitude)/(nearLongitude) (e.g. 44.982560) (optional) (Pro, Enterprise API levels only. Enterprise API level will flag districts that include lat/long in its attendance boundary.)'
          format: double
          in: query
          name: nearLatitude
          required: false
          type: number
        - description: 'Search for districts within (distanceMiles) of (nearLatitude)/(nearLongitude) (e.g. -124.289185) (optional) (Pro, Enterprise API levels only. Enterprise API level will flag districts that include lat/long in its attendance boundary.)'
          format: double
          in: query
          name: nearLongitude
          required: false
          type: number
        - description: 'Full U.S. address: flag returned districts that include this address in its attendance boundary. Example: ''123 Main St. AnyTown CA 90001'' (optional) (Enterprise API level only)'
          in: query
          name: boundaryAddress
          required: false
          type: string
        - description: 'Search for districts within (distanceMiles) of (nearLatitude)/(nearLongitude) (Default 5 miles) (optional) (Pro, Enterprise API levels only)'
          format: int32
          in: query
          name: distanceMiles
          required: false
          type: integer
        - description: Return only the districts that include given location (nearLatitdue/nearLongitude) or (nearAddress) in its attendance boundary (Enterprise API level only)
          in: query
          name: isInBoundaryOnly
          required: false
          type: boolean
        - description: Search for districts within a 'box' defined by (BoxLatitudeNW/BoxLongitudeNW) to (BoxLongitudeSE/BoxLatitudeSE) (optional)
          format: double
          in: query
          name: boxLatitudeNW
          required: false
          type: number
        - description: Search for districts within a 'box' defined by (BoxLatitudeNW/BoxLongitudeNW) to (BoxLongitudeSE/BoxLatitudeSE) (optional)
          format: double
          in: query
          name: boxLongitudeNW
          required: false
          type: number
        - description: Search for districts within a 'box' defined by (BoxLatitudeNW/BoxLongitudeNW) to (BoxLongitudeSE/BoxLatitudeSE) (optional)
          format: double
          in: query
          name: boxLatitudeSE
          required: false
          type: number
        - description: Search for districts within a 'box' defined by (BoxLatitudeNW/BoxLongitudeNW) to (BoxLongitudeSE/BoxLatitudeSE) (optional)
          format: double
          in: query
          name: boxLongitudeSE
          required: false
          type: number
        - description: 'Page number to retrieve (optional, default: 1)'
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: 'Number of districts to retrieve on a page (50 max) (optional, default: 10)'
          format: int32
          in: query
          name: perPage
          required: false
          type: integer
        - description: 'Sort list. Values are: districtname, distance, rank. For descending order, preceed with ''-'' i.e. -districtname (optional, default: districtname)'
          in: query
          name: sortBy
          required: false
          type: string
        - description: Your API app id
          in: query
          name: appID
          required: true
          type: string
          x-data-threescale-name: app_ids
        - description: Your API app key
          in: query
          name: appKey
          required: true
          type: string
          x-data-threescale-name: app_keys
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/APIDistrictList'
      summary: Returns a list of districts
      tags:
        - Districts
  '/v1/districts/{id}':
    get:
      description: Retrieve a single district record from the SchoolDigger database
      operationId: Districts_GetDistrict
      parameters:
        - description: The 7 digit District ID (e.g. 0642150)
          in: path
          name: id
          required: true
          type: string
        - description: Your API app id
          in: query
          name: appID
          required: true
          type: string
          x-data-threescale-name: app_ids
        - description: Your API app key
          in: query
          name: appKey
          required: true
          type: string
          x-data-threescale-name: app_keys
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/APIDistrict'
      summary: Returns a detailed record for one district district
      tags:
        - Districts
  '/v1/rankings/districts/{st}':
    get:
      parameters:
        - description: Two character state (e.g. 'CA')
          in: path
          name: st
          required: true
          type: string
        - description: The ranking year (leave blank for most recent year)
          format: int32
          in: query
          name: year
          required: false
          type: integer
        - description: 'Page number to retrieve (optional, default: 1)'
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: 'Number of districts to retrieve on a page (50 max) (optional, default: 10)'
          format: int32
          in: query
          name: perPage
          required: false
          type: integer
        - description: Your API app id
          in: query
          name: appID
          required: true
          type: string
          x-data-threescale-name: app_ids
        - description: Your API app key
          in: query
          name: appKey
          required: true
          type: string
          x-data-threescale-name: app_keys
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/APIDistrictListRank'
      summary: Returns a SchoolDigger district ranking list
      tags:
        - Rankings
  '/v1/rankings/schools/{st}':
    get:
      parameters:
        - description: Two character state (e.g. 'CA')
          in: path
          name: st
          required: true
          type: string
        - description: The ranking year (leave blank for most recent year)
          format: int32
          in: query
          name: year
          required: false
          type: integer
        - description: 'Level of ranking: ''Elementary'', ''Middle'', or ''High'''
          in: query
          name: level
          required: false
          type: string
        - description: 'Page number to retrieve (optional, default: 1)'
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: 'Number of schools to retrieve on a page (50 max) (optional, default: 10)'
          format: int32
          in: query
          name: perPage
          required: false
          type: integer
        - description: Your API app id
          in: query
          name: appID
          required: true
          type: string
          x-data-threescale-name: app_ids
        - description: Your API app key
          in: query
          name: appKey
          required: true
          type: string
          x-data-threescale-name: app_keys
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/APISchoolListRank'
      summary: Returns a SchoolDigger school ranking list
      tags:
        - Rankings
  /v1/schools:
    get:
      description: Search the SchoolDigger database for schools. You may use any combination of criteria as query parameters.
      operationId: Schools_GetAllSchools
      parameters:
        - description: Two character state (e.g. 'CA') - required
          in: query
          name: st
          required: true
          type: string
        - description: 'Search term - note: will match school name or city (optional)'
          in: query
          name: q
          required: false
          type: string
        - description: Search for schools within this district (7 digit district id) (optional)
          in: query
          name: districtID
          required: false
          type: string
        - description: 'Search for schools at this level. Valid values: ''Elementary'', ''Middle'', ''High'', ''Alt'', ''Private'' (optional)'
          in: query
          name: level
          required: false
          type: string
        - description: Search for schools in this city (optional)
          in: query
          name: city
          required: false
          type: string
        - description: Search for schools in this 5-digit zip code (optional)
          in: query
          name: zip
          required: false
          type: string
        - description: 'True = return only magnet schools, False = return only non-magnet schools (optional) (Pro, Enterprise API levels only)'
          in: query
          name: isMagnet
          required: false
          type: boolean
        - description: 'True = return only charter schools, False = return only non-charter schools (optional) (Pro, Enterprise API levels only)'
          in: query
          name: isCharter
          required: false
          type: boolean
        - description: 'True = return only virtual schools, False = return only non-virtual schools (optional) (Pro, Enterprise API levels only)'
          in: query
          name: isVirtual
          required: false
          type: boolean
        - description: 'True = return only Title I schools, False = return only non-Title I schools (optional) (Pro, Enterprise API levels only)'
          in: query
          name: isTitleI
          required: false
          type: boolean
        - description: 'True = return only Title I schoolwide schools, False = return only non-Title I Schoolwide schools (optional) (Pro, Enterprise API levels only)'
          in: query
          name: isTitleISchoolwide
          required: false
          type: boolean
        - description: 'Search for schools within (distanceMiles) of (nearLatitude)/(nearLongitude) (e.g. 44.982560) (optional) (Pro, Enterprise API levels only. Enterprise API level will flag schools that include lat/long in its attendance boundary.)'
          format: double
          in: query
          name: nearLatitude
          required: false
          type: number
        - description: 'Search for schools within (distanceMiles) of (nearLatitude)/(nearLongitude) (e.g. -124.289185) (optional) (Pro, Enterprise API levels only. Enterprise API level will flag schools that include lat/long in its attendance boundary.)'
          format: double
          in: query
          name: nearLongitude
          required: false
          type: number
        - description: 'Full U.S. address: flag returned schools that include this address in its attendance boundary. Example: ''123 Main St. AnyTown CA 90001'' (optional) (Enterprise API level only)'
          in: query
          name: boundaryAddress
          required: false
          type: string
        - description: 'Search for schools within (distanceMiles) of (nearLatitude)/(nearLongitude) (Default 5 miles) (optional) (Pro, Enterprise API levels only)'
          format: int32
          in: query
          name: distanceMiles
          required: false
          type: integer
        - description: Return only the schools that include given location (nearLatitdue/nearLongitude) or (nearAddress) in its attendance boundary (Enterprise API level only)
          in: query
          name: isInBoundaryOnly
          required: false
          type: boolean
        - description: Search for schools within a 'box' defined by (boxLatitudeNW/boxLongitudeNW) to (boxLongitudeSE/boxLatitudeSE) (optional)
          format: double
          in: query
          name: boxLatitudeNW
          required: false
          type: number
        - description: Search for schools within a 'box' defined by (boxLatitudeNW/boxLongitudeNW) to (boxLongitudeSE/boxLatitudeSE) (optional)
          format: double
          in: query
          name: boxLongitudeNW
          required: false
          type: number
        - description: Search for schools within a 'box' defined by (boxLatitudeNW/boxLongitudeNW) to (boxLongitudeSE/boxLatitudeSE) (optional)
          format: double
          in: query
          name: boxLatitudeSE
          required: false
          type: number
        - description: Search for schools within a 'box' defined by (boxLatitudeNW/boxLongitudeNW) to (boxLongitudeSE/boxLatitudeSE) (optional)
          format: double
          in: query
          name: boxLongitudeSE
          required: false
          type: number
        - description: 'Page number to retrieve (optional, default: 1)'
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: 'Number of schools to retrieve on a page (50 max) (optional, default: 10)'
          format: int32
          in: query
          name: perPage
          required: false
          type: integer
        - description: 'Sort list. Values are: schoolname, distance, rank. For descending order, preceed with ''-'' i.e. -schoolname (optional, default: schoolname)'
          in: query
          name: sortBy
          required: false
          type: string
        - description: Your API app id
          in: query
          name: appID
          required: true
          type: string
          x-data-threescale-name: app_ids
        - description: Your API app key
          in: query
          name: appKey
          required: true
          type: string
          x-data-threescale-name: app_keys
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/APISchoolList'
      summary: Returns a list of schools
      tags:
        - Schools
  '/v1/schools/{id}':
    get:
      description: Retrieve a school record from the SchoolDigger database
      operationId: Schools_GetSchool
      parameters:
        - description: The 12 digit School ID (e.g. 064215006903)
          in: path
          name: id
          required: true
          type: string
        - description: Your API app id
          in: query
          name: appID
          required: true
          type: string
          x-data-threescale-name: app_ids
        - description: Your API app key
          in: query
          name: appKey
          required: true
          type: string
          x-data-threescale-name: app_keys
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/APISchool'
      summary: Returns a detailed record for one school
      tags:
        - Schools
definitions:
  APIBoundary:
    properties:
      hasBoundary:
        description: States whether there is a boundary available
        readOnly: false
        type: boolean
      polylineCollection:
        description: Collection of one or more polylines that can be used to create the boundary on a map
        items:
          $ref: '#/definitions/APIPolyline'
        readOnly: false
        type: array
    type: object
  APICounty:
    properties:
      countyName:
        description: County in which the school or district is located
        type: string
      countyURL:
        description: SchoolDigger URL for all schools in this county
        readOnly: false
        type: string
    type: object
  APIDistrict:
    properties:
      address:
        $ref: '#/definitions/APILocation'
        description: District's physical address
        readOnly: false
      boundary:
        $ref: '#/definitions/APIBoundary'
        readOnly: false
      county:
        $ref: '#/definitions/APICounty'
        description: County where district is located
        readOnly: false
      districtID:
        description: SchoolDigger District ID Number (7 digits)
        readOnly: false
        type: string
      districtName:
        description: District name
        type: string
      districtYearlyDetails:
        description: District yearly metrics
        items:
          $ref: '#/definitions/APILEAYearlyDetail'
        readOnly: false
        type: array
      highGrade:
        description: The high grade served by this district
        readOnly: false
        type: string
      isWithinBoundary:
        description: Indicates whether this district's boundary includes the specified location from fromLatitude/fromLongitude
        readOnly: false
        type: boolean
      lowGrade:
        description: 'The low grade served by this district (PK = Prekindergarten, K = Kindergarten)'
        readOnly: false
        type: string
      numberAlternativeSchools:
        format: int32
        readOnly: false
        type: integer
      numberHighSchools:
        format: int32
        readOnly: false
        type: integer
      numberMiddleSchools:
        format: int32
        readOnly: false
        type: integer
      numberPrimarySchools:
        format: int32
        readOnly: false
        type: integer
      numberTotalSchools:
        format: int32
        readOnly: false
        type: integer
      phone:
        description: District phone number
        type: string
      rankHistory:
        description: SchoolDigger yearly rank history of the district
        items:
          $ref: '#/definitions/APILEARankHistory'
        readOnly: false
        type: array
      testScores:
        description: Test scores (district and state) -- requires Pro or Enterprise level API subscription
        items:
          $ref: '#/definitions/APITestScoreWrapper'
        readOnly: false
        type: array
      url:
        description: SchoolDigger URL for this district
        readOnly: false
        type: string
    type: object
  APIDistrict1:
    properties:
      address:
        $ref: '#/definitions/APILocation'
        description: District's physical address
        readOnly: false
      county:
        $ref: '#/definitions/APICounty'
        description: County where district is located
        readOnly: false
      distance:
        description: Distance from nearLatitude/nearLongitude (if supplied)
        format: double
        type: number
      districtID:
        description: 'SchoolDigger District ID Number (7 digits). Use /districts/{districtID} to retrieve the entire district record'
        readOnly: false
        type: string
      districtName:
        description: District name
        type: string
      districtYearlyDetails:
        description: District yearly metrics
        items:
          $ref: '#/definitions/APILEAYearlyDetail'
        readOnly: false
        type: array
      hasBoundary:
        description: 'Indicates that an attendance boundary is available for this district. (To retrieve, look up district with /districts/{id})'
        readOnly: false
        type: boolean
      highGrade:
        description: The high grade served by this district
        readOnly: false
        type: string
      isWithinBoundary:
        description: Indicates whether this district's boundary includes the specified location from fromLatitude/fromLongitude
        readOnly: false
        type: boolean
      locationIsWithinBoundary:
        description: Indicates whether this school's boundary includes the specified location from fromLatitude/fromLongitude or boundaryAddress (Enterprise API level)
        readOnly: false
        type: boolean
      lowGrade:
        description: 'The low grade served by this district (PK = Prekindergarten, K = Kindergarten)'
        readOnly: false
        type: string
      numberAlternativeSchools:
        description: Count of schools designated as other/alternative schools
        format: int32
        readOnly: false
        type: integer
      numberHighSchools:
        description: Count of schools designated as high schools
        format: int32
        readOnly: false
        type: integer
      numberMiddleSchools:
        description: Count of schools designated as middle schools
        format: int32
        readOnly: false
        type: integer
      numberPrimarySchools:
        description: Count of schools designated as primary schools
        format: int32
        readOnly: false
        type: integer
      numberTotalSchools:
        description: Count of schools in the district
        format: int32
        readOnly: false
        type: integer
      phone:
        description: District phone number
        type: string
      rankHistory:
        description: SchoolDigger yearly rank history of the district
        items:
          $ref: '#/definitions/APILEARankHistory'
        readOnly: false
        type: array
      testScores:
        description: Test scores (district and state) -- requires Pro or Enterprise level API subscription
        items:
          $ref: '#/definitions/APITestScoreWrapper'
        readOnly: false
        type: array
      url:
        description: SchoolDigger URL for this district
        readOnly: false
        type: string
    type: object
  APIDistrictList:
    properties:
      districtList:
        items:
          $ref: '#/definitions/APIDistrict1'
        type: array
      districtListSelected:
        $ref: '#/definitions/clsSD2District'
        description: Returns the district that might be featured (?findschool or the first school in the list)
      numberOfDistricts:
        description: The total count of districts that match your query
        format: int32
        readOnly: false
        type: integer
      numberOfPages:
        description: The total count of pages in your query list based on given per_page value
        format: int32
        readOnly: false
        type: integer
    type: object
  APIDistrictListRank:
    properties:
      districtList:
        items:
          $ref: '#/definitions/APIDistrict1'
        type: array
      districtListSelected:
        $ref: '#/definitions/clsSD2District'
        description: Returns the district that might be featured (?findschool or the first school in the list)
      numberOfDistricts:
        description: The total count of districts in the entire rank list
        format: int32
        readOnly: false
        type: integer
      numberOfPages:
        description: The total count of pages in your query list based on given per_page value
        format: int32
        readOnly: false
        type: integer
      rankCompareYear:
        format: int32
        type: integer
      rankYear:
        description: Year this ranking list represents (2017 = 2016-17)
        format: int32
        type: integer
      rankYearCompare:
        description: Year rankings returned for comparison (2017 = 2016-17)
        format: int32
        type: integer
      rankYearsAvailable:
        description: The years for which SchoolDigger district rankings are available for this state
        items:
          format: int32
          type: integer
        type: array
    type: object
  APIDistrictSum:
    description: District Summary
    properties:
      districtID:
        description: The 7 digit SchoolDigger District id number
        readOnly: false
        type: string
      districtName:
        type: string
      rankURL:
        description: The URL to see the district in the SchoolDigger ranking list
        readOnly: false
        type: string
      url:
        description: The URL to see the district details on SchoolDigger
        readOnly: false
        type: string
    type: object
  APILEARankHistory:
    properties:
      rank:
        description: Statewide rank of this district
        format: int32
        readOnly: false
        type: integer
      rankOf:
        description: Count of district ranked in this state
        format: int32
        readOnly: false
        type: integer
      rankScore:
        description: 'The rank score calculated by SchoolDigger (see https://www.schooldigger.com/aboutranking.aspx)'
        format: double
        readOnly: false
        type: number
      rankStars:
        description: 'The number of stars SchoolDigger awarded in the ranking of the district (0-5, 5 is best)'
        format: int32
        readOnly: false
        type: integer
      rankStatewidePercentage:
        description: Percentile of this district's rank (e.g. this district performed better than (x)% of this state's districts)
        format: double
        readOnly: false
        type: number
      year:
        description: School year (2017 - 2016-17)
        format: int32
        readOnly: false
        type: integer
    type: object
  APILEAYearlyDetail:
    properties:
      numberOfAids:
        description: Number of full-time equivalent instructional aids employed by the district
        format: double
        type: number
      numberOfCoordsSupervisors:
        description: Number of full-time equivalent instructional coordinators/supervisors employed by the district
        format: double
        type: number
      numberOfEnglishLanguageLearnerStudents:
        description: The number of English language learner (ELL) students served in appropriate programs
        format: int32
        type: integer
      numberOfGuidanceElem:
        description: Number of full-time equivalent elementary guidance counselors employed by the district
        format: double
        type: number
      numberOfGuidanceSecondary:
        description: Number of full-time equivalent secondary guidance counselors employed by the district
        format: double
        type: number
      numberOfGuidanceTotal:
        description: Total number of full-time equivalent guidance counselors employed by the district
        format: double
        type: number
      numberOfLEAAdministrators:
        description: Number of full-time equivalent LEA administrators employed by the district (LEA)
        format: double
        type: number
      numberOfLEASupportStaff:
        description: Number of full-time equivalent LEA administrative support staff employed by the district (LEA)
        format: double
        type: number
      numberOfLibrarians:
        description: Number of full-time equivalent librarians/media specialists employed by the district
        format: double
        type: number
      numberOfLibraryStaff:
        description: Number of full-time equivalent librarians/media support staff employed by the district
        format: double
        type: number
      numberOfOtherSupportStaff:
        description: Number of full-time equivalent all other support staff employed by the district (LEA)
        format: double
        type: number
      numberOfSchoolAdminSupportStaff:
        description: Number of full-time equivalent school administrative support staff employed by the district (LEA)
        format: double
        type: number
      numberOfSchoolAdministrators:
        description: Number of full-time equivalent school administrators employed by the district (LEA)
        format: double
        type: number
      numberOfSpecialEdStudents:
        description: The number of students having a written Individualized Education Program (IEP) under the Individuals With Disabilities Education Act (IDEA)
        format: int32
        type: integer
      numberOfStudentSupportStaff:
        description: Number of full-time equivalent student support services staff employed by the district (LEA)
        format: double
        type: number
      numberOfStudents:
        description: Number of students enrolled in the district
        format: int32
        type: integer
      numberOfTeachers:
        description: Number of full-time equivalent teachers employed by the district
        format: double
        type: number
      numberOfTeachersElementary:
        description: Number of full-time equivalent elementary teachers employed by the district
        format: double
        type: number
      numberOfTeachersK:
        description: Number of full-time equivalent kindergarten teachers employed by the district
        format: double
        type: number
      numberOfTeachersPK:
        description: Number of full-time equivalent pre-kindergarten teachers employed by the district
        format: double
        type: number
      numberOfTeachersSecondary:
        description: Number of full-time equivalent secondary teachers employed by the district
        format: double
        type: number
      year:
        description: School year (2017 = 2016-17)
        format: int32
        type: integer
    type: object
  APILatLong:
    properties:
      latitude:
        format: double
        type: number
      longitude:
        format: double
        type: number
    type: object
  APILocation:
    properties:
      city:
        type: string
      cityURL:
        description: SchoolDigger URL for schools in this city
        readOnly: false
        type: string
      html:
        description: HTML formatted address
        readOnly: false
        type: string
      latLong:
        $ref: '#/definitions/APILatLong'
        description: Latitude/longitude of school address (Pro and Enterprise API levels only)
        readOnly: false
      state:
        type: string
      stateFull:
        description: Full state name (WA = Washington)
        readOnly: false
        type: string
      street:
        type: string
      zip:
        type: string
      zip4:
        type: string
      zipURL:
        description: SchoolDigger URL for schools in this zip code
        readOnly: false
        type: string
    type: object
  APIPolyline:
    properties:
      numberEncodedPoints:
        description: Number of encoded points in polyline
        format: int32
        type: integer
      polylineOverlayEncodedPoints:
        description: Polyline for use with Google Maps or other mapping software
        type: string
    type: object
  APIRankHistory:
    properties:
      averageStandardScore:
        description: 'The Average Standard score calculated by SchoolDigger (see: https://www.schooldigger.com/aboutrankingmethodology.aspx)'
        format: double
        type: number
      rank:
        description: Statewide rank of this School
        format: int32
        readOnly: false
        type: integer
      rankLevel:
        description: 'The level for which this school is ranked (Elementary, Middle, High)'
        readOnly: false
        type: string
      rankOf:
        description: Count of schools ranked at this state/level
        format: int32
        readOnly: false
        type: integer
      rankStars:
        description: 'The number of stars SchoolDigger awarded in the ranking of the school (0-5, 5 is best)'
        format: int32
        readOnly: false
        type: integer
      rankStatewidePercentage:
        description: Percentile of this school's rank (e.g. this school performed better than (x)% of this state's elementary schools)
        format: double
        readOnly: false
        type: number
      year:
        description: School year (2017 - 2016-17)
        format: int32
        readOnly: false
        type: integer
    type: object
  APISchool:
    properties:
      address:
        $ref: '#/definitions/APILocation'
        description: School's physical address
        readOnly: false
      boundary:
        $ref: '#/definitions/APIBoundary'
        readOnly: false
      county:
        $ref: '#/definitions/APICounty'
        description: County where school is located
        readOnly: false
      district:
        $ref: '#/definitions/APIDistrictSum'
        description: District of school (public schools only)
        readOnly: false
      highGrade:
        description: The high grade served by this school
        readOnly: false
        type: string
      isCharterSchool:
        description: Indicates if school is a charter school (Yes/No/n-a)
        readOnly: false
        type: string
      isMagnetSchool:
        description: Indicates if school is a magnet school (Yes/No/n-a)
        readOnly: false
        type: string
      isPrivate:
        description: Indicates if school is a private school (Yes/No)
        readOnly: false
        type: boolean
      isTitleISchool:
        description: Indicates if school is a Title I school (Yes/No/n-a)
        readOnly: false
        type: string
      isTitleISchoolwideSchool:
        description: Indicates if a school-wide Title I school (Yes/No/n-a)
        readOnly: false
        type: string
      isVirtualSchool:
        description: Indicates if school is a virtual school (Yes/No/n-a)
        readOnly: false
        type: string
      locale:
        description: 'NCES Locale of school (https://nces.ed.gov/ccd/rural_locales.asp)'
        readOnly: false
        type: string
      lowGrade:
        description: 'The low grade served by this school (PK = Prekindergarten, K = Kindergarten)'
        readOnly: false
        type: string
      phone:
        description: School phone number
        type: string
      privateCoed:
        description: Coed/Boys/Girls (private schools only)
        readOnly: false
        type: string
      privateDays:
        description: Days in the school year (private schools only)
        format: int32
        readOnly: false
        type: integer
      privateHasLibrary:
        description: Indicates if the school has a library (private schools only)
        readOnly: false
        type: boolean
      privateHours:
        description: Hours in the school day (private schools only)
        format: double
        readOnly: false
        type: number
      privateOrientation:
        description: Affiliation of the school (private schools only)
        readOnly: false
        type: string
      rankHistory:
        description: SchoolDigger yearly rank history of the school
        items:
          $ref: '#/definitions/APIRankHistory'
        readOnly: false
        type: array
      rankMovement:
        description: Returns the movement of rank for this school between current and previous year
        format: int32
        readOnly: false
        type: integer
      schoolLevel:
        description: 'The level of school (Elementary, Middle, High, Private, Alternative)'
        readOnly: false
        type: string
      schoolName:
        description: School name
        type: string
      schoolYearlyDetails:
        description: School Yearly metrics
        items:
          $ref: '#/definitions/APIYearlyDemographics'
        readOnly: false
        type: array
      schoolid:
        description: SchoolDigger School ID Number (12 digits)
        readOnly: false
        type: string
      testScores:
        description: Test scores (including district and state) -- requires Pro or Enterprise level API subscription
        items:
          $ref: '#/definitions/APITestScoreWrapper'
        readOnly: false
        type: array
      url:
        description: SchoolDigger URL for this school
        readOnly: false
        type: string
      urlCompare:
        description: SchoolDigger URL for comparing this school to nearby schools
        readOnly: false
        type: string
    type: object
  APISchool1:
    description: 'APISchool1: A summary of a school record. For the full school record, call /schools/{id}'
    properties:
      address:
        $ref: '#/definitions/APILocation'
        description: School's physical address
        readOnly: false
      county:
        $ref: '#/definitions/APICounty'
        description: County where school is located
        readOnly: false
      distance:
        description: Distance from nearLatitude/nearLongitude (if supplied)
        format: double
        readOnly: false
        type: number
      district:
        $ref: '#/definitions/APIDistrictSum'
        description: District of school (public schools only)
        readOnly: false
      hasBoundary:
        description: 'Indicates that an attendance boundary is available for this school. (To retrieve, look up school with /schools/{id})'
        type: boolean
      highGrade:
        description: The high grade served by this school
        readOnly: false
        type: string
      isCharterSchool:
        description: Indicates if school is a charter school (Yes/No/n-a)
        readOnly: false
        type: string
      isMagnetSchool:
        description: Indicates if school is a magnet school (Yes/No/n-a)
        readOnly: false
        type: string
      isPrivate:
        description: Indicates if school is a private school (Yes/No)
        type: boolean
      isTitleISchool:
        description: Indicates if school is a Title I school (Yes/No/n-a)
        readOnly: false
        type: string
      isTitleISchoolwideSchool:
        description: Indicates if a school-wide Title I school (Yes/No/n-a)
        readOnly: false
        type: string
      isVirtualSchool:
        description: Indicates if school is a virtual school (Yes/No/n-a)
        readOnly: false
        type: string
      locationIsWithinBoundary:
        description: Indicates whether this school's boundary includes the specified location from fromLatitude/fromLongitude or boundaryAddress. (Enterprise API level only)
        readOnly: false
        type: boolean
      lowGrade:
        description: 'The low grade served by this school (PK = Prekindergarten, K = Kindergarten)'
        readOnly: false
        type: string
      phone:
        description: School phone number
        type: string
      privateCoed:
        description: Coed/Boys/Girls (private schools only)
        type: string
      privateDays:
        description: Days in the school year (private schools only)
        format: int32
        type: integer
      privateHasLibrary:
        description: Indicates if the school has a library (private schools only)
        type: boolean
      privateHours:
        description: Hours in the school day (private schools only)
        format: double
        type: number
      privateOrientation:
        description: Affiliation of the school (private schools only)
        type: string
      rankHistory:
        description: 'SchoolDigger yearly rank history of the school. To retrieve all years, call /schools/{id}.'
        items:
          $ref: '#/definitions/APIRankHistory'
        readOnly: false
        type: array
      rankMovement:
        description: Returns the movement of rank for this school between current and previous year
        format: int32
        readOnly: false
        type: integer
      schoolLevel:
        description: 'The level of school (Elementary, Middle, High, Private, Alternative)'
        readOnly: false
        type: string
      schoolName:
        description: School name
        type: string
      schoolYearlyDetails:
        description: 'School Yearly metrics. To retrieve all years, call /schools/{id}.'
        items:
          $ref: '#/definitions/APIYearlyDemographics'
        readOnly: false
        type: array
      schoolid:
        description: 'SchoolDigger School ID Number (12 digits). Use /schools/{schoolID} to retrieve the full school record'
        readOnly: false
        type: string
      url:
        description: SchoolDigger URL for this school
        readOnly: false
        type: string
      urlCompare:
        description: SchoolDigger URL for comparing this school to others
        readOnly: false
        type: string
    type: object
  APISchoolList:
    properties:
      numberOfPages:
        description: The total count of pages in your query list based on given per_page value
        format: int32
        readOnly: false
        type: integer
      numberOfSchools:
        description: The total count of schools that match your query
        format: int32
        readOnly: false
        type: integer
      schoolList:
        items:
          $ref: '#/definitions/APISchool1'
        type: array
    type: object
  APISchoolListRank:
    properties:
      numberOfPages:
        description: The total count of pages this ranking list based on given per_page value
        format: int32
        readOnly: false
        type: integer
      numberOfSchools:
        description: The total count of schools in this ranking list
        format: int32
        readOnly: false
        type: integer
      rankYear:
        description: Year this ranking list represents (2017 = 2016-17)
        format: int32
        type: integer
      rankYearCompare:
        description: Year rankings returned for comparison (2017 = 2016-17)
        format: int32
        type: integer
      rankYearsAvailable:
        description: The years for which SchoolDigger rankings are available for this state and level
        items:
          format: int32
          type: integer
        type: array
      schoolList:
        description: The schools in the ranking list
        items:
          $ref: '#/definitions/APISchool1'
        readOnly: false
        type: array
      schoolListSelected:
        $ref: '#/definitions/clsSD2School'
        description: Returns the school that might be featured (?findschool or the first school in the list)
    type: object
  APITestScore:
    properties:
      meanScaledScore:
        description: Mean scale score
        format: float
        readOnly: false
        type: number
      numTier1:
        description: Count of students performing at tier 1 (Enterprise API level only)
        format: int32
        readOnly: false
        type: integer
      numTier2:
        description: Count of students performing at tier 2 (Enterprise API level only)
        format: int32
        readOnly: false
        type: integer
      numTier3:
        description: Count of students performing at tier 3 (Enterprise API level only)
        format: int32
        readOnly: false
        type: integer
      numTier4:
        description: Count of students performing at tier 4 (Enterprise API level only)
        format: int32
        readOnly: false
        type: integer
      numTier5:
        description: Count of students performing at tier 5 (Enterprise API level only)
        format: int32
        readOnly: false
        type: integer
      numberMetStandard:
        description: Count of students meeting state standard
        format: float
        readOnly: false
        type: number
      percentMetStandard:
        description: Percent of students meeting state standard
        format: float
        readOnly: false
        type: number
      percentTier1:
        description: Percent of students performing at tier 1 (Enterprise API level only)
        format: float
        readOnly: false
        type: number
      percentTier2:
        description: Percent of students performing at tier 2 (Enterprise API level only)
        format: float
        readOnly: false
        type: number
      percentTier3:
        description: Percent of students performing at tier 3 (Enterprise API level only)
        format: float
        readOnly: false
        type: number
      percentTier4:
        description: Percent of students performing at tier 4 (Enterprise API level only)
        format: float
        readOnly: false
        type: number
      percentTier5:
        description: Percent of students performing at tier 5 (Enterprise API level only)
        format: float
        readOnly: false
        type: number
      studentsEligible:
        description: Count of students eligible to take test
        format: int32
        readOnly: false
        type: integer
      studentsTested:
        description: Count of students tested
        format: int32
        readOnly: false
        type: integer
    type: object
  APITestScoreWrapper:
    properties:
      districtTestScore:
        $ref: '#/definitions/APITestScore'
        description: District level test score
        readOnly: false
      grade:
        readOnly: false
        type: string
      schoolTestScore:
        $ref: '#/definitions/APITestScore'
        description: School level test score
        readOnly: false
      stateTestScore:
        $ref: '#/definitions/APITestScore'
        description: State level text score
        readOnly: false
      subject:
        description: Test subject
        readOnly: false
        type: string
      test:
        description: The name of the state-administed test
        readOnly: false
        type: string
      tier1:
        description: Tier 1 test score description (Enterprise API level only)
        readOnly: false
        type: string
      tier2:
        description: Tier 2 test score description (Enterprise API level only)
        readOnly: false
        type: string
      tier3:
        description: Tier 3 test score description (Enterprise API level only)
        readOnly: false
        type: string
      tier4:
        description: Tier 4 test score description (Enterprise API level only)
        readOnly: false
        type: string
      tier5:
        description: Tier 5 test score description (Enterprise API level only)
        readOnly: false
        type: string
      year:
        description: Year test was administered (2017 = 2016-17)
        format: int32
        readOnly: false
        type: integer
    type: object
  APIYearlyDemographics:
    properties:
      numberOfStudents:
        description: Count of students attending the school
        format: int32
        readOnly: false
        type: integer
      numberofAfricanAmericanStudents:
        description: 'NCES definition: A person having origins in any of the black racial groups of Africa.  (https://nces.ed.gov/statprog/2002/std1_5.asp)'
        format: int32
        type: integer
      numberofAsianStudents:
        description: 'NCES definition: A person having origins in any of the original peoples of the Far East, Southeast Asia, or the Indian subcontinent, including, for example, Cambodia, China, India, Japan, Korea, Malaysia, Pakistan, the Philippine Islands, Thailand, and Vietnam.  (https://nces.ed.gov/statprog/2002/std1_5.asp)'
        format: int32
        type: integer
      numberofHispanicStudents:
        description: 'NCES definition: A person of Cuban, Mexican, Puerto Rican, South or Central American, or other Spanish culture or origin, regardless of race. (https://nces.ed.gov/statprog/2002/std1_5.asp)'
        format: int32
        type: integer
      numberofIndianStudents:
        description: 'NCES definition: A person having origins in any of the original peoples of the Far East, Southeast Asia, or the Indian subcontinent, including, for example, Cambodia, China, India, Japan, Korea, Malaysia, Pakistan, the Philippine Islands, Thailand, and Vietnam. (https://nces.ed.gov/statprog/2002/std1_5.asp)'
        format: int32
        type: integer
      numberofPacificIslanderStudents:
        description: 'NCES definition: A person having origins in any of the original peoples of Hawaii, Guam, Samoa, or other Pacific Islands. (https://nces.ed.gov/statprog/2002/std1_5.asp)'
        format: int32
        type: integer
      numberofTwoOrMoreRaceStudents:
        description: 'NCES definition: Includes any combination of two or more races and not Hispanic/Latino ethnicity. (https://nces.ed.gov/statprog/2002/std1_5.asp)'
        format: int32
        type: integer
      numberofUnspecifiedRaceStudents:
        format: int32
        type: integer
      numberofWhiteStudents:
        description: 'NCES definition: A person having origins in any of the original peoples of Europe, the Middle East, or North Africa. (https://nces.ed.gov/statprog/2002/std1_5.asp)'
        format: int32
        type: integer
      percentFreeDiscLunch:
        description: Percent of students receiving a free or discounted lunch in the National School Lunch Program
        format: double
        readOnly: false
        type: number
      percentofAfricanAmericanStudents:
        format: double
        readOnly: false
        type: number
      percentofAsianStudents:
        format: double
        readOnly: false
        type: number
      percentofHispanicStudents:
        format: double
        readOnly: false
        type: number
      percentofIndianStudents:
        format: double
        readOnly: false
        type: number
      percentofPacificIslanderStudents:
        format: double
        readOnly: false
        type: number
      percentofTwoOrMoreRaceStudents:
        format: double
        readOnly: false
        type: number
      percentofUnspecifiedRaceStudents:
        format: double
        readOnly: false
        type: number
      percentofWhiteStudents:
        format: double
        readOnly: false
        type: number
      pupilTeacherRatio:
        description: Number of students / number of full-time equivalent teachers
        format: double
        type: number
      teachersFulltime:
        description: Number of full-time equvalent teachers employed at the school
        format: double
        type: number
      year:
        description: School year (2017 = 2016-17)
        format: int32
        readOnly: false
        type: integer
    type: object
  clsBoundary:
    properties:
      hasBoundary:
        description: States whether there is a boundary available
        readOnly: false
        type: boolean
      polylineCollection:
        items:
          $ref: '#/definitions/clsPolyline'
        type: array
    type: object
  clsLatLong:
    properties:
      hasLocation:
        readOnly: false
        type: boolean
      latitude:
        format: double
        type: number
      longitude:
        format: double
        type: number
    type: object
  clsPolyline:
    properties:
      id:
        type: string
      numberEncodedPoints:
        description: Number of encoded points in polyline
        format: int32
        type: integer
      polylineName:
        type: string
      polylineOverlayEncodedPoints:
        description: Polyline for use with Google Maps or other mapping software
        type: string
    type: object
  clsRankHistory:
    properties:
      averageStandardScore:
        description: 'The Average Standard score calculated by SchoolDigger (see: https://www.schooldigger.com/aboutrankingmethodology.aspx)'
        format: double
        type: number
      fRankOf:
        readOnly: false
        type: string
      level:
        enum:
          - Primary
          - Middle
          - High
          - Other
          - Private
          - All
          - NotSelected
        type: string
      percentMetStandard:
        description: Supplied for rank calls where one test/grade is chosen (AverageStandardScore will be nothing)
        format: double
        type: number
      rank:
        description: Statewide rank of this School
        format: int32
        type: integer
      rankNTile:
        format: int32
        type: integer
      rankNumStars:
        format: int32
        readOnly: false
        type: integer
      rankNumTests:
        format: int32
        type: integer
      rankOf:
        description: Count of schools ranked at this state/level
        format: int32
        type: integer
      rankPercentage:
        format: double
        readOnly: false
        type: number
      year:
        description: School year (2017 = 2016-17)
        format: int32
        type: integer
    type: object
  clsSD2County:
    properties:
      countyID:
        type: string
      countyName:
        description: County in which the school or district is located
        type: string
      countyURL:
        description: SchoolDigger URL for all schools in this county
        readOnly: false
        type: string
      fips:
        type: string
    type: object
  clsSD2District:
    description: The ultimate site-wide object for District data
    properties:
      address:
        $ref: '#/definitions/clsSD2Location'
      addressTypedInThisBoundary:
        type: boolean
      boundary:
        $ref: '#/definitions/clsBoundary'
      county:
        $ref: '#/definitions/clsSD2County'
      distance:
        description: Distance from nearLatitude/nearLongitude (if supplied)
        format: double
        type: number
      districtName:
        type: string
      fGrades:
        readOnly: false
        type: string
      fRankStarImage:
        readOnly: false
        type: string
      fips:
        type: string
      gsh:
        enum:
          - PK
          - KG
          - G1
          - G2
          - G3
          - G4
          - G5
          - G6
          - G7
          - G8
          - G9
          - G10
          - G11
          - G12
          - G13
          - 'N'
          - UG
          - AE
        type: string
      gsl:
        enum:
          - PK
          - KG
          - G1
          - G2
          - G3
          - G4
          - G5
          - G6
          - G7
          - G8
          - G9
          - G10
          - G11
          - G12
          - G13
          - 'N'
          - UG
          - AE
        type: string
      hasBoundary:
        description: 'Indicates that an attendance boundary is available for this district. (To retrieve, look up district with /districts/{id})'
        type: boolean
      leaAggregate:
        items:
          $ref: '#/definitions/clsSD2LEAAggregate'
        type: array
      leaid:
        type: string
      movement:
        format: int32
        type: integer
      numAlt:
        format: int32
        type: integer
      numHigh:
        format: int32
        type: integer
      numMiddle:
        format: int32
        type: integer
      numPrimary:
        format: int32
        type: integer
      numRankedElementarySchools:
        format: int32
        type: integer
      numRankedHighSchools:
        format: int32
        type: integer
      numRankedMiddleSchools:
        format: int32
        type: integer
      numSchools:
        format: int32
        type: integer
      numStudents:
        format: int32
        type: integer
      phone:
        type: string
      prevScore:
        format: double
        type: number
      rank:
        format: int32
        type: integer
      rankCompare:
        format: int32
        type: integer
      rankHistory:
        items:
          $ref: '#/definitions/clsRankHistory'
        type: array
      rankHistoryLY:
        $ref: '#/definitions/clsRankHistory'
        readOnly: false
      rankHistoryTY:
        $ref: '#/definitions/clsRankHistory'
        readOnly: false
      rankNTile:
        format: int32
        type: integer
      rankNumStars:
        format: int32
        readOnly: false
        type: integer
      rankOf:
        format: int32
        type: integer
      rankURL:
        description: The URL to see the district in the SchoolDigger ranking list
        readOnly: false
        type: string
      score:
        format: double
        type: number
      testScores:
        description: List of all Test scores (district and state)
        items:
          $ref: '#/definitions/clsSD2TestScoreWrapper'
        type: array
      url:
        description: The URL to see the district details on SchoolDigger
        readOnly: false
        type: string
    type: object
  clsSD2Immunization:
    properties:
      entity:
        format: int32
        type: integer
      entityCategory:
        format: int32
        type: integer
      entitySub:
        format: int32
        type: integer
      grade:
        type: string
      numApprovedDelay:
        format: int32
        type: integer
      numExemptMedical:
        format: int32
        type: integer
      numExemptReligious:
        format: int32
        type: integer
      numExemptTotal:
        format: int32
        type: integer
      numNotProtected:
        format: int32
        type: integer
      numProtected:
        format: int32
        type: integer
      numStudents:
        format: int32
        type: integer
      percentApprovedDelay:
        format: float
        type: number
      percentExemptMedical:
        format: float
        type: number
      percentExemptReligious:
        format: float
        type: number
      percentExemptTotal:
        format: float
        type: number
      percentNotProtected:
        format: float
        type: number
      percentProtected:
        format: float
        type: number
      year:
        format: int32
        type: integer
    type: object
  clsSD2LEAAggregate:
    description: Ultimate class for storing LEA Aggregate information
    properties:
      numberOfAids:
        description: Number of full-time equivalent instructional aids employed by the district
        format: double
        type: number
      numberOfCoordsSupervisors:
        description: Number of full-time equivalent instructional coordinators/supervisors employed by the district
        format: double
        type: number
      numberOfEnglishLanguageLearnerStudents:
        description: The number of English language learner (ELL) students served in appropriate programs
        format: int32
        type: integer
      numberOfGuidanceElem:
        description: Number of full-time equivalent elementary guidance counselors employed by the district
        format: double
        type: number
      numberOfGuidanceSecondary:
        description: Number of full-time equivalent secondary guidance counselors employed by the district
        format: double
        type: number
      numberOfGuidanceTotal:
        description: Total number of full-time equivalent guidance counselors employed by the district
        format: double
        type: number
      numberOfLEAAdministrators:
        description: Number of full-time equivalent LEA administrators employed by the district (LEA)
        format: double
        type: number
      numberOfLEASupportStaff:
        description: Number of full-time equivalent LEA administrative support staff employed by the district (LEA)
        format: double
        type: number
      numberOfLibrarians:
        description: Number of full-time equivalent librarians/media specialists employed by the district
        format: double
        type: number
      numberOfLibraryStaff:
        description: Number of full-time equivalent librarians/media support staff employed by the district
        format: double
        type: number
      numberOfOtherSupportStaff:
        description: Number of full-time equivalent all other support staff employed by the district (LEA)
        format: double
        type: number
      numberOfSchoolAdminSupportStaff:
        description: Number of full-time equivalent school administrative support staff employed by the district (LEA)
        format: double
        type: number
      numberOfSchoolAdministrators:
        description: Number of full-time equivalent school administrators employed by the district (LEA)
        format: double
        type: number
      numberOfSpecialEdStudents:
        description: The number of students having a written Individualized Education Program (IEP) under the Individuals With Disabilities Education Act (IDEA)
        format: int32
        type: integer
      numberOfStudentSupportStaff:
        description: Number of full-time equivalent student support services staff employed by the district (LEA)
        format: double
        type: number
      numberOfStudents:
        description: Number of students enrolled in the district
        format: int32
        type: integer
      numberOfTeachers:
        description: Number of full-time equivalent teachers employed by the district
        format: double
        type: number
      numberOfTeachersElementary:
        description: Number of full-time equivalent elementary teachers employed by the district
        format: double
        type: number
      numberOfTeachersK:
        description: Number of full-time equivalent kindergarten teachers employed by the district
        format: double
        type: number
      numberOfTeachersPK:
        description: Number of full-time equivalent pre-kindergarten teachers employed by the district
        format: double
        type: number
      numberOfTeachersSecondary:
        description: Number of full-time equivalent secondary teachers employed by the district
        format: double
        type: number
      year:
        description: School year (2017 = 2016-17)
        format: int32
        type: integer
    type: object
  clsSD2Location:
    properties:
      city:
        type: string
      cityURL:
        description: SchoolDigger URL for schools in this city
        readOnly: false
        type: string
      html:
        description: HTML formatted address
        readOnly: false
        type: string
      latLong:
        $ref: '#/definitions/clsLatLong'
      placeNameID:
        format: int64
        type: integer
      state:
        type: string
      stateFull:
        description: Full state name (WA = Washington)
        readOnly: false
        type: string
      street:
        type: string
      zip:
        type: string
      zip4:
        type: string
      zipURL:
        description: SchoolDigger URL for schools in this zip code
        readOnly: false
        type: string
    type: object
  clsSD2School:
    description: The ultimate (one and only) class to hold an entire school record for SchoolDigger 2
    properties:
      address:
        $ref: '#/definitions/clsSD2Location'
        description: The physical address of the school
      addressTypedInThisBoundary:
        type: boolean
      aggregate:
        items:
          $ref: '#/definitions/clsSD2SchoolAggregate'
        type: array
      aggregateLY:
        $ref: '#/definitions/clsSD2SchoolAggregate'
        readOnly: false
      aggregateMY:
        $ref: '#/definitions/clsSD2SchoolAggregate'
        description: 'This is a helper to get the most recent of each aggregate. For example, if the TY aggregate for TEACHERSFULLTIME is null, then try LY'
        readOnly: false
      aggregateTY:
        $ref: '#/definitions/clsSD2SchoolAggregate'
        readOnly: false
      boundary:
        $ref: '#/definitions/clsBoundary'
      county:
        $ref: '#/definitions/clsSD2County'
      distance:
        description: Distance from nearLatitude/nearLongitude (if supplied)
        format: double
        type: number
      district:
        $ref: '#/definitions/clsSD2District'
      fGrades:
        readOnly: false
        type: string
      fSchoolType:
        readOnly: false
        type: string
      fips:
        type: string
      googleGeocodeAccuracy:
        format: int32
        type: integer
      gsh:
        enum:
          - PK
          - KG
          - G1
          - G2
          - G3
          - G4
          - G5
          - G6
          - G7
          - G8
          - G9
          - G10
          - G11
          - G12
          - G13
          - 'N'
          - UG
          - AE
        type: string
      gsl:
        enum:
          - PK
          - KG
          - G1
          - G2
          - G3
          - G4
          - G5
          - G6
          - G7
          - G8
          - G9
          - G10
          - G11
          - G12
          - G13
          - 'N'
          - UG
          - AE
        type: string
      hasBoundary:
        description: 'Indicates that an attendance boundary is available for this school. (To retrieve, look up school with /schools/{id})'
        type: boolean
      immunePercent:
        format: double
        type: number
      immunePercentLY:
        format: double
        type: number
      immunizations:
        items:
          $ref: '#/definitions/clsSD2Immunization'
        type: array
      isCharter:
        enum:
          - 'True'
          - 'False'
          - M
          - 'N'
        type: string
      isMagnet:
        enum:
          - 'True'
          - 'False'
          - M
          - 'N'
        type: string
      isPrivate:
        description: Indicates if school is a private school (Yes/No)
        type: boolean
      isTitleI:
        enum:
          - 'True'
          - 'False'
          - M
          - 'N'
        type: string
      isTitleISchoolWide:
        enum:
          - 'True'
          - 'False'
          - M
          - 'N'
        type: string
      isVirtual:
        enum:
          - 'True'
          - 'False'
          - M
          - 'N'
        type: string
      leaid:
        type: string
      level:
        enum:
          - Primary
          - Middle
          - High
          - Other
          - Private
          - All
          - NotSelected
        type: string
      locale:
        description: 'NCES Locale of school (https://nces.ed.gov/ccd/rural_locales.asp)'
        type: string
      phone:
        description: School Phone Number
        type: string
      privateCoed:
        description: Coed/Boys/Girls (private schools only)
        type: string
      privateDays:
        description: Days in the school year (private schools only)
        format: int32
        type: integer
      privateHasLibrary:
        description: Indicates if the school has a library (private schools only)
        type: boolean
      privateHours:
        description: Hours in the school day (private schools only)
        format: double
        type: number
      privateOrientation:
        description: Affiliation of the school (private schools only)
        type: string
      rankCompare:
        $ref: '#/definitions/clsSD2SchoolDistrictRankCompare'
      rankHistory:
        items:
          $ref: '#/definitions/clsRankHistory'
        type: array
      rankHistoryLY:
        $ref: '#/definitions/clsRankHistory'
        readOnly: false
      rankHistoryTY:
        $ref: '#/definitions/clsRankHistory'
        readOnly: false
      rankMovement:
        description: Returns the movement of rank for this school between current and last year
        format: int32
        readOnly: false
        type: integer
      reviewSummary:
        items:
          $ref: '#/definitions/clsSD2SchoolReviewSummary'
        type: array
      reviews:
        items:
          $ref: '#/definitions/clsSD2SchoolReview'
        type: array
      schoolName:
        description: School Name
        type: string
      schoolnum:
        type: string
      testScores:
        description: List of all Test scores (including district and state)
        items:
          $ref: '#/definitions/clsSD2TestScoreWrapper'
        type: array
      url:
        description: SchoolDigger URL for this school
        readOnly: false
        type: string
      urlCompare:
        description: SchoolDigger URL for comparing this school to others
        readOnly: false
        type: string
    type: object
  clsSD2SchoolAggregate:
    description: Ultimate class for storing School Aggregate information
    properties:
      numberofAfricanAmericanStudents:
        description: 'NCES definition: A person having origins in any of the black racial groups of Africa.  (https://nces.ed.gov/statprog/2002/std1_5.asp)'
        format: int32
        type: integer
      numberofAsianStudents:
        description: 'NCES definition: A person having origins in any of the original peoples of the Far East, Southeast Asia, or the Indian subcontinent, including, for example, Cambodia, China, India, Japan, Korea, Malaysia, Pakistan, the Philippine Islands, Thailand, and Vietnam.  (https://nces.ed.gov/statprog/2002/std1_5.asp)'
        format: int32
        type: integer
      numberofHispanicStudents:
        description: 'NCES definition: A person of Cuban, Mexican, Puerto Rican, South or Central American, or other Spanish culture or origin, regardless of race. (https://nces.ed.gov/statprog/2002/std1_5.asp)'
        format: int32
        type: integer
      numberofIndianStudents:
        description: 'NCES definition: A person having origins in any of the original peoples of the Far East, Southeast Asia, or the Indian subcontinent, including, for example, Cambodia, China, India, Japan, Korea, Malaysia, Pakistan, the Philippine Islands, Thailand, and Vietnam. (https://nces.ed.gov/statprog/2002/std1_5.asp)'
        format: int32
        type: integer
      numberofPacificIslanderStudents:
        description: 'NCES definition: A person having origins in any of the original peoples of Hawaii, Guam, Samoa, or other Pacific Islands. (https://nces.ed.gov/statprog/2002/std1_5.asp)'
        format: int32
        type: integer
      numberofTwoOrMoreRaceStudents:
        description: 'NCES definition: Includes any combination of two or more races and not Hispanic/Latino ethnicity. (https://nces.ed.gov/statprog/2002/std1_5.asp)'
        format: int32
        type: integer
      numberofUnspecifiedRaceStudents:
        format: int32
        type: integer
      numberofWhiteStudents:
        description: 'NCES definition: A person having origins in any of the original peoples of Europe, the Middle East, or North Africa. (https://nces.ed.gov/statprog/2002/std1_5.asp)'
        format: int32
        type: integer
      percentAGAsian:
        format: double
        readOnly: false
        type: number
      percentAGBlack:
        format: double
        readOnly: false
        type: number
      percentAGHispanic:
        format: double
        readOnly: false
        type: number
      percentAGIndian:
        format: double
        readOnly: false
        type: number
      percentAGPacific:
        format: double
        readOnly: false
        type: number
      percentAGTwoRaces:
        format: double
        readOnly: false
        type: number
      percentAGUnspecified:
        format: double
        readOnly: false
        type: number
      percentAGWhite:
        format: double
        readOnly: false
        type: number
      percentFreeDisc:
        format: double
        type: number
      pupilTeacherRatio:
        description: Number of students / number of full-time equivalent teachers
        format: double
        type: number
      studentsMigrant:
        format: int32
        type: integer
      studentsTotalMembership:
        format: int32
        type: integer
      teachersFulltime:
        description: Number of full-time equvalent teachers employed at the school
        format: double
        type: number
      year:
        format: int32
        type: integer
    type: object
  clsSD2SchoolDistrictRankCompare:
    description: Class that contains how a school ranks with its peers in the same district
    properties:
      agAsianRank:
        format: int32
        type: integer
      agBlackRank:
        format: int32
        type: integer
      agHispanicRank:
        format: int32
        type: integer
      agIndianRank:
        format: int32
        type: integer
      agPacificRank:
        format: int32
        type: integer
      agTwoRacesRank:
        format: int32
        type: integer
      agWhiteRank:
        format: int32
        type: integer
      freeReducedLunchTotalRank:
        format: int32
        type: integer
      numSchools:
        description: The number of schools in the ranking sample
        format: int32
        type: integer
      numSchoolsRank:
        description: Number of *ranked* schools in the ranking sample
        format: int32
        type: integer
      pupilTeacherRatioRank:
        format: int32
        type: integer
      rankRank:
        format: int32
        type: integer
      studentsTotalMembershipRank:
        format: int32
        type: integer
      teachersFulltimeRank:
        format: int32
        type: integer
    type: object
  clsSD2SchoolReview:
    description: A single school review submitted by a site user
    properties:
      comment:
        type: string
      commentsEnabled:
        type: boolean
      createDateTime:
        description: The date the review was submitted
        format: date-time
        type: string
      fips:
        type: string
      helpfulNo:
        format: int32
        type: integer
      helpfulYes:
        format: int32
        type: integer
      iP4:
        type: string
      id:
        format: int32
        type: integer
      inappropriate:
        type: boolean
      leaid:
        type: string
      numStars:
        format: int32
        type: integer
      schoolnum:
        type: string
      showUserName:
        type: boolean
      status:
        enum:
          - NeedsAdministratorVerification
          - AvailableForViewing
          - Rejected
          - NeedsUserEmailVerification
          - NeedsUserEmailVerificationNeedsAdministratorVerification
          - NeedsUserEmailVerificationFirstWarning
          - Timeout
        type: string
      submitterType:
        enum:
          - Parent
          - Student
          - Teacher
          - Principal
          - Citizen
          - All
        type: string
      userID:
        format: int32
        type: integer
    type: object
  clsSD2SchoolReviewSummary:
    properties:
      count:
        format: int32
        type: integer
      numStars:
        format: int32
        type: integer
      submitterType:
        format: int32
        type: integer
    type: object
  clsSD2TestScoreWrapper:
    properties:
      districtTestScore:
        $ref: '#/definitions/clsSD2testScore'
      entity:
        format: int32
        type: integer
      entityCategory:
        format: int32
        type: integer
      entitySub:
        format: int32
        type: integer
      grade:
        type: string
      key:
        readOnly: false
        type: string
      schoolTestScore:
        $ref: '#/definitions/clsSD2testScore'
      stateTestScore:
        $ref: '#/definitions/clsSD2testScore'
      year:
        format: int32
        type: integer
    type: object
  clsSD2testScore:
    properties:
      meanScaledScore:
        description: Mean scale score
        format: float
        type: number
      meanScaledScoreNormalized:
        format: float
        type: number
      numTier1:
        description: Count of students performing at tier 1
        format: int32
        type: integer
      numTier2:
        description: Count of students performing at tier 2
        format: int32
        type: integer
      numTier3:
        description: Count of students performing at tier 3
        format: int32
        type: integer
      numTier4:
        description: Count of students performing at tier 4
        format: int32
        type: integer
      numTier5:
        description: Count of students performing at tier 5
        format: int32
        type: integer
      numberMetStandard:
        description: Count of students meeting state standard
        format: float
        type: number
      percentMetStandard:
        description: Percent of students meeting state standard
        format: float
        type: number
      percentMetStandardNormalized:
        format: float
        type: number
      percentTier1:
        description: Percent of students performing at tier 1
        format: float
        type: number
      percentTier2:
        description: Percent of students performing at tier 2
        format: float
        type: number
      percentTier3:
        description: Percent of students performing at tier 3
        format: float
        type: number
      percentTier4:
        description: Percent of students performing at tier 4
        format: float
        type: number
      percentTier5:
        description: Percent of students performing at tier 5
        format: float
        type: number
      studentsEligible:
        description: Count of students eligible to take test
        format: int32
        type: integer
      studentsTested:
        description: Count of students tested
        format: int32
        type: integer
    type: object
