{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "http://azure-api.sportsdata.io/v3/mlb/projections"
    },
    {
      "url": "https://azure-api.sportsdata.io/v3/mlb/projections"
    }
  ],
  "info": {
    "contact": {
      "x-twitter": "nfldata"
    },
    "description": "MLB projections API.",
    "title": "MLB v3 Projections",
    "version": "1.0",
    "x-apisguru-categories": [
      "entertainment"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_nfldata_profile_image.jpeg"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://fantasydata.com/downloads/swagger/mlb-v3-projections.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "sportsdata.io",
    "x-serviceName": "mlb-v3-projections"
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [],
  "paths": {
    "/{format}/DepthCharts": {
      "get": {
        "description": "Returns Depth Charts for all active MLB teams.",
        "operationId": "DepthCharts",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/TeamDepthChart"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Depth Charts"
      }
    },
    "/{format}/DfsSlatesByDate/{date}": {
      "get": {
        "operationId": "DfsSlatesByDate",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "The date of the slates.\n<br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.",
            "in": "path",
            "name": "date",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/DfsSlate"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "DFS Slates by Date"
      }
    },
    "/{format}/InjuredPlayers": {
      "get": {
        "description": "This endpoint provides all currently injured MLB players, along with injury details.",
        "operationId": "InjuredPlayers",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Player"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Injured Players"
      }
    },
    "/{format}/PlayerGameProjectionStatsByDate/{date}": {
      "get": {
        "operationId": "ProjectedPlayerGameStatsByDateWInjuriesDfsSalaries",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "The date of the game(s).\n<br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.",
            "in": "path",
            "name": "date",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/PlayerGameProjection"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Projected Player Game Stats by Date (w/ Injuries, DFS Salaries)"
      }
    },
    "/{format}/PlayerGameProjectionStatsByPlayer/{date}/{playerid}": {
      "get": {
        "operationId": "ProjectedPlayerGameStatsByPlayerWInjuriesDfsSalaries",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "The date of the game(s).\n<br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.",
            "in": "path",
            "name": "date",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Unique FantasyData Player ID.\nExample:<code>10000507</code>.",
            "in": "path",
            "name": "playerid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/PlayerGameProjection"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Projected Player Game Stats by Player (w/ Injuries, DFS Salaries)"
      }
    },
    "/{format}/PlayerSeasonProjectionStats/{season}": {
      "get": {
        "operationId": "ProjectedPlayerSeasonStatsWithAdp",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "Year of the season.\n<br>Examples: <code>2017</code>, <code>2018</code>.",
            "in": "path",
            "name": "season",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/PlayerSeasonProjection"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Projected Player Season Stats (with ADP)"
      }
    },
    "/{format}/StartingLineupsByDate/{date}": {
      "get": {
        "operationId": "StartingLineupsByDate",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "The date of the slates.\n<br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.",
            "in": "path",
            "name": "date",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/StartingLineups"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Starting Lineups by Date"
      }
    }
  },
  "components": {
    "schemas": {
      "DepthChart": {
        "properties": {
          "DepthChartID": {
            "nullable": false,
            "type": "integer"
          },
          "DepthOrder": {
            "nullable": true,
            "type": "integer"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "PlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "Position": {
            "nullable": true,
            "type": "string"
          },
          "PositionCategory": {
            "nullable": true,
            "type": "string"
          },
          "TeamID": {
            "nullable": false,
            "type": "integer"
          },
          "Updated": {
            "nullable": true,
            "type": "string"
          }
        }
      },
      "DfsSlate": {
        "properties": {
          "DfsSlateGames": {
            "items": {
              "$ref": "#/components/schemas/DfsSlateGame"
            },
            "type": "array"
          },
          "DfsSlatePlayers": {
            "items": {
              "$ref": "#/components/schemas/DfsSlatePlayer"
            },
            "type": "array"
          },
          "IsMultiDaySlate": {
            "nullable": true,
            "type": "boolean"
          },
          "NumberOfGames": {
            "nullable": true,
            "type": "integer"
          },
          "Operator": {
            "nullable": true,
            "type": "string"
          },
          "OperatorDay": {
            "nullable": true,
            "type": "string"
          },
          "OperatorGameType": {
            "nullable": true,
            "type": "string"
          },
          "OperatorName": {
            "nullable": true,
            "type": "string"
          },
          "OperatorSlateID": {
            "nullable": true,
            "type": "integer"
          },
          "OperatorStartTime": {
            "nullable": true,
            "type": "string"
          },
          "RemovedByOperator": {
            "nullable": true,
            "type": "boolean"
          },
          "SalaryCap": {
            "nullable": true,
            "type": "integer"
          },
          "SlateID": {
            "nullable": false,
            "type": "integer"
          },
          "SlateRosterSlots": {
            "items": {
              "nullable": true,
              "type": "string"
            },
            "type": "array"
          }
        }
      },
      "DfsSlateGame": {
        "properties": {
          "Game": {
            "$ref": "#/components/schemas/Game"
          },
          "GameID": {
            "nullable": true,
            "type": "integer"
          },
          "OperatorGameID": {
            "nullable": true,
            "type": "integer"
          },
          "RemovedByOperator": {
            "nullable": true,
            "type": "boolean"
          },
          "SlateGameID": {
            "nullable": false,
            "type": "integer"
          },
          "SlateID": {
            "nullable": false,
            "type": "integer"
          }
        }
      },
      "DfsSlatePlayer": {
        "properties": {
          "OperatorPlayerID": {
            "nullable": true,
            "type": "string"
          },
          "OperatorPlayerName": {
            "nullable": true,
            "type": "string"
          },
          "OperatorPosition": {
            "nullable": true,
            "type": "string"
          },
          "OperatorRosterSlots": {
            "items": {
              "nullable": true,
              "type": "string"
            },
            "type": "array"
          },
          "OperatorSalary": {
            "nullable": true,
            "type": "integer"
          },
          "OperatorSlatePlayerID": {
            "nullable": true,
            "type": "string"
          },
          "PlayerGameProjectionStatID": {
            "nullable": true,
            "type": "integer"
          },
          "PlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "RemovedByOperator": {
            "nullable": true,
            "type": "boolean"
          },
          "SlateGameID": {
            "nullable": true,
            "type": "integer"
          },
          "SlateID": {
            "nullable": false,
            "type": "integer"
          },
          "SlatePlayerID": {
            "nullable": false,
            "type": "integer"
          },
          "Team": {
            "nullable": true,
            "type": "string"
          },
          "TeamID": {
            "nullable": true,
            "type": "integer"
          }
        }
      },
      "Game": {
        "properties": {
          "Attendance": {
            "nullable": true,
            "type": "integer"
          },
          "AwayRotationNumber": {
            "nullable": true,
            "type": "integer"
          },
          "AwayTeam": {
            "nullable": true,
            "type": "string"
          },
          "AwayTeamErrors": {
            "nullable": true,
            "type": "integer"
          },
          "AwayTeamHits": {
            "nullable": true,
            "type": "integer"
          },
          "AwayTeamID": {
            "nullable": false,
            "type": "integer"
          },
          "AwayTeamMoneyLine": {
            "nullable": true,
            "type": "integer"
          },
          "AwayTeamProbablePitcherID": {
            "nullable": true,
            "type": "integer"
          },
          "AwayTeamRuns": {
            "nullable": true,
            "type": "integer"
          },
          "AwayTeamStartingPitcher": {
            "nullable": true,
            "type": "string"
          },
          "AwayTeamStartingPitcherID": {
            "nullable": true,
            "type": "integer"
          },
          "Balls": {
            "nullable": true,
            "type": "integer"
          },
          "Channel": {
            "nullable": true,
            "type": "string"
          },
          "CurrentHitter": {
            "nullable": true,
            "type": "string"
          },
          "CurrentHitterID": {
            "nullable": true,
            "type": "integer"
          },
          "CurrentHittingTeamID": {
            "nullable": true,
            "type": "integer"
          },
          "CurrentPitcher": {
            "nullable": true,
            "type": "string"
          },
          "CurrentPitcherID": {
            "nullable": true,
            "type": "integer"
          },
          "CurrentPitchingTeamID": {
            "nullable": true,
            "type": "integer"
          },
          "DateTime": {
            "nullable": true,
            "type": "string"
          },
          "DateTimeUTC": {
            "nullable": true,
            "type": "string"
          },
          "Day": {
            "nullable": true,
            "type": "string"
          },
          "DueUpHitterID1": {
            "nullable": true,
            "type": "integer"
          },
          "DueUpHitterID2": {
            "nullable": true,
            "type": "integer"
          },
          "DueUpHitterID3": {
            "nullable": true,
            "type": "integer"
          },
          "ForecastDescription": {
            "nullable": true,
            "type": "string"
          },
          "ForecastTempHigh": {
            "nullable": true,
            "type": "integer"
          },
          "ForecastTempLow": {
            "nullable": true,
            "type": "integer"
          },
          "ForecastWindChill": {
            "nullable": true,
            "type": "integer"
          },
          "ForecastWindDirection": {
            "nullable": true,
            "type": "integer"
          },
          "ForecastWindSpeed": {
            "nullable": true,
            "type": "integer"
          },
          "GameEndDateTime": {
            "nullable": true,
            "type": "string"
          },
          "GameID": {
            "nullable": false,
            "type": "integer"
          },
          "GlobalAwayTeamID": {
            "nullable": false,
            "type": "integer"
          },
          "GlobalGameID": {
            "nullable": false,
            "type": "integer"
          },
          "GlobalHomeTeamID": {
            "nullable": false,
            "type": "integer"
          },
          "HomeRotationNumber": {
            "nullable": true,
            "type": "integer"
          },
          "HomeTeam": {
            "nullable": true,
            "type": "string"
          },
          "HomeTeamErrors": {
            "nullable": true,
            "type": "integer"
          },
          "HomeTeamHits": {
            "nullable": true,
            "type": "integer"
          },
          "HomeTeamID": {
            "nullable": false,
            "type": "integer"
          },
          "HomeTeamMoneyLine": {
            "nullable": true,
            "type": "integer"
          },
          "HomeTeamProbablePitcherID": {
            "nullable": true,
            "type": "integer"
          },
          "HomeTeamRuns": {
            "nullable": true,
            "type": "integer"
          },
          "HomeTeamStartingPitcher": {
            "nullable": true,
            "type": "string"
          },
          "HomeTeamStartingPitcherID": {
            "nullable": true,
            "type": "integer"
          },
          "Inning": {
            "nullable": true,
            "type": "integer"
          },
          "InningDescription": {
            "nullable": true,
            "type": "string"
          },
          "InningHalf": {
            "nullable": true,
            "type": "string"
          },
          "Innings": {
            "items": {
              "$ref": "#/components/schemas/Inning"
            },
            "type": "array"
          },
          "IsClosed": {
            "nullable": false,
            "type": "boolean"
          },
          "LastPlay": {
            "nullable": true,
            "type": "string"
          },
          "LosingPitcher": {
            "nullable": true,
            "type": "string"
          },
          "LosingPitcherID": {
            "nullable": true,
            "type": "integer"
          },
          "NeutralVenue": {
            "nullable": true,
            "type": "boolean"
          },
          "Outs": {
            "nullable": true,
            "type": "integer"
          },
          "OverPayout": {
            "nullable": true,
            "type": "integer"
          },
          "OverUnder": {
            "nullable": true,
            "type": "number"
          },
          "PointSpread": {
            "nullable": true,
            "type": "number"
          },
          "PointSpreadAwayTeamMoneyLine": {
            "nullable": true,
            "type": "integer"
          },
          "PointSpreadHomeTeamMoneyLine": {
            "nullable": true,
            "type": "integer"
          },
          "RescheduledFromGameID": {
            "nullable": true,
            "type": "integer"
          },
          "RescheduledGameID": {
            "nullable": true,
            "type": "integer"
          },
          "RunnerOnFirst": {
            "nullable": true,
            "type": "boolean"
          },
          "RunnerOnSecond": {
            "nullable": true,
            "type": "boolean"
          },
          "RunnerOnThird": {
            "nullable": true,
            "type": "boolean"
          },
          "SavingPitcher": {
            "nullable": true,
            "type": "string"
          },
          "SavingPitcherID": {
            "nullable": true,
            "type": "integer"
          },
          "Season": {
            "nullable": false,
            "type": "integer"
          },
          "SeasonType": {
            "nullable": false,
            "type": "integer"
          },
          "SeriesInfo": {
            "$ref": "#/components/schemas/Series"
          },
          "StadiumID": {
            "nullable": true,
            "type": "integer"
          },
          "Status": {
            "nullable": true,
            "type": "string"
          },
          "Strikes": {
            "nullable": true,
            "type": "integer"
          },
          "UnderPayout": {
            "nullable": true,
            "type": "integer"
          },
          "Updated": {
            "nullable": true,
            "type": "string"
          },
          "WinningPitcher": {
            "nullable": true,
            "type": "string"
          },
          "WinningPitcherID": {
            "nullable": true,
            "type": "integer"
          }
        }
      },
      "Inning": {
        "properties": {
          "AwayTeamRuns": {
            "nullable": true,
            "type": "integer"
          },
          "GameID": {
            "nullable": false,
            "type": "integer"
          },
          "HomeTeamRuns": {
            "nullable": true,
            "type": "integer"
          },
          "InningID": {
            "nullable": false,
            "type": "integer"
          },
          "InningNumber": {
            "nullable": false,
            "type": "integer"
          }
        }
      },
      "Lineup": {
        "properties": {
          "BattingOrder": {
            "nullable": true,
            "type": "integer"
          },
          "Confirmed": {
            "nullable": true,
            "type": "boolean"
          },
          "FirstName": {
            "nullable": true,
            "type": "string"
          },
          "LastName": {
            "nullable": true,
            "type": "string"
          },
          "PlayerID": {
            "nullable": false,
            "type": "integer"
          },
          "Position": {
            "nullable": true,
            "type": "string"
          },
          "Starting": {
            "nullable": true,
            "type": "boolean"
          },
          "Team": {
            "nullable": true,
            "type": "string"
          },
          "TeamID": {
            "nullable": false,
            "type": "integer"
          }
        }
      },
      "Player": {
        "properties": {
          "BatHand": {
            "nullable": true,
            "type": "string"
          },
          "BirthCity": {
            "nullable": true,
            "type": "string"
          },
          "BirthCountry": {
            "nullable": true,
            "type": "string"
          },
          "BirthDate": {
            "nullable": true,
            "type": "string"
          },
          "BirthState": {
            "nullable": true,
            "type": "string"
          },
          "College": {
            "nullable": true,
            "type": "string"
          },
          "DraftKingsName": {
            "nullable": true,
            "type": "string"
          },
          "DraftKingsPlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "Experience": {
            "nullable": true,
            "type": "string"
          },
          "FanDuelName": {
            "nullable": true,
            "type": "string"
          },
          "FanDuelPlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "FantasyAlarmPlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "FantasyDraftName": {
            "nullable": true,
            "type": "string"
          },
          "FantasyDraftPlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "FirstName": {
            "nullable": true,
            "type": "string"
          },
          "GlobalTeamID": {
            "nullable": true,
            "type": "integer"
          },
          "Height": {
            "nullable": true,
            "type": "integer"
          },
          "HighSchool": {
            "nullable": true,
            "type": "string"
          },
          "InjuryBodyPart": {
            "nullable": true,
            "type": "string"
          },
          "InjuryNotes": {
            "nullable": true,
            "type": "string"
          },
          "InjuryStartDate": {
            "nullable": true,
            "type": "string"
          },
          "InjuryStatus": {
            "nullable": true,
            "type": "string"
          },
          "Jersey": {
            "nullable": true,
            "type": "integer"
          },
          "LastName": {
            "nullable": true,
            "type": "string"
          },
          "MLBAMID": {
            "nullable": true,
            "type": "integer"
          },
          "PhotoUrl": {
            "nullable": true,
            "type": "string"
          },
          "PlayerID": {
            "nullable": false,
            "type": "integer"
          },
          "Position": {
            "nullable": true,
            "type": "string"
          },
          "PositionCategory": {
            "nullable": true,
            "type": "string"
          },
          "ProDebut": {
            "nullable": true,
            "type": "string"
          },
          "RotoWirePlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "RotoworldPlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "Salary": {
            "nullable": true,
            "type": "integer"
          },
          "SportRadarPlayerID": {
            "nullable": true,
            "type": "string"
          },
          "SportsDataID": {
            "nullable": true,
            "type": "string"
          },
          "SportsDirectPlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "StatsPlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "Status": {
            "nullable": true,
            "type": "string"
          },
          "Team": {
            "nullable": true,
            "type": "string"
          },
          "TeamID": {
            "nullable": true,
            "type": "integer"
          },
          "ThrowHand": {
            "nullable": true,
            "type": "string"
          },
          "UpcomingGameID": {
            "nullable": true,
            "type": "integer"
          },
          "UsaTodayHeadshotNoBackgroundUpdated": {
            "nullable": true,
            "type": "string"
          },
          "UsaTodayHeadshotNoBackgroundUrl": {
            "nullable": true,
            "type": "string"
          },
          "UsaTodayHeadshotUpdated": {
            "nullable": true,
            "type": "string"
          },
          "UsaTodayHeadshotUrl": {
            "nullable": true,
            "type": "string"
          },
          "UsaTodayPlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "Weight": {
            "nullable": true,
            "type": "integer"
          },
          "XmlTeamPlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "YahooName": {
            "nullable": true,
            "type": "string"
          },
          "YahooPlayerID": {
            "nullable": true,
            "type": "integer"
          }
        }
      },
      "PlayerGameProjection": {
        "properties": {
          "AtBats": {
            "nullable": true,
            "type": "number"
          },
          "BallsInPlay": {
            "nullable": true,
            "type": "number"
          },
          "BattingAverage": {
            "nullable": true,
            "type": "number"
          },
          "BattingAverageOnBallsInPlay": {
            "nullable": true,
            "type": "number"
          },
          "BattingOrder": {
            "nullable": true,
            "type": "integer"
          },
          "BattingOrderConfirmed": {
            "nullable": true,
            "type": "boolean"
          },
          "CaughtStealing": {
            "nullable": true,
            "type": "number"
          },
          "DateTime": {
            "nullable": true,
            "type": "string"
          },
          "Day": {
            "nullable": true,
            "type": "string"
          },
          "DoublePlays": {
            "nullable": true,
            "type": "number"
          },
          "Doubles": {
            "nullable": true,
            "type": "number"
          },
          "DraftKingsPosition": {
            "nullable": true,
            "type": "string"
          },
          "DraftKingsSalary": {
            "nullable": true,
            "type": "integer"
          },
          "EarnedRunAverage": {
            "nullable": true,
            "type": "number"
          },
          "Errors": {
            "nullable": true,
            "type": "number"
          },
          "FanDuelPosition": {
            "nullable": true,
            "type": "string"
          },
          "FanDuelSalary": {
            "nullable": true,
            "type": "integer"
          },
          "FantasyDataSalary": {
            "nullable": true,
            "type": "integer"
          },
          "FantasyDraftPosition": {
            "nullable": true,
            "type": "string"
          },
          "FantasyDraftSalary": {
            "nullable": true,
            "type": "integer"
          },
          "FantasyPoints": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsBatting": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsDraftKings": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsFanDuel": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsFantasyDraft": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsPitching": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsYahoo": {
            "nullable": true,
            "type": "number"
          },
          "FieldingIndependentPitching": {
            "nullable": true,
            "type": "number"
          },
          "FlyOuts": {
            "nullable": true,
            "type": "number"
          },
          "GameID": {
            "nullable": true,
            "type": "integer"
          },
          "Games": {
            "nullable": true,
            "type": "integer"
          },
          "GlobalGameID": {
            "nullable": true,
            "type": "integer"
          },
          "GlobalOpponentID": {
            "nullable": true,
            "type": "integer"
          },
          "GlobalTeamID": {
            "nullable": true,
            "type": "integer"
          },
          "GrandSlams": {
            "nullable": true,
            "type": "number"
          },
          "GroundIntoDoublePlay": {
            "nullable": true,
            "type": "number"
          },
          "GroundOuts": {
            "nullable": true,
            "type": "number"
          },
          "HitByPitch": {
            "nullable": true,
            "type": "number"
          },
          "Hits": {
            "nullable": true,
            "type": "number"
          },
          "HomeOrAway": {
            "nullable": true,
            "type": "string"
          },
          "HomeRuns": {
            "nullable": true,
            "type": "number"
          },
          "InjuryBodyPart": {
            "nullable": true,
            "type": "string"
          },
          "InjuryNotes": {
            "nullable": true,
            "type": "string"
          },
          "InjuryStartDate": {
            "nullable": true,
            "type": "string"
          },
          "InjuryStatus": {
            "nullable": true,
            "type": "string"
          },
          "InningsPitchedDecimal": {
            "nullable": true,
            "type": "number"
          },
          "InningsPitchedFull": {
            "nullable": true,
            "type": "number"
          },
          "InningsPitchedOuts": {
            "nullable": true,
            "type": "number"
          },
          "IntentionalWalks": {
            "nullable": true,
            "type": "number"
          },
          "IsGameOver": {
            "nullable": false,
            "type": "boolean"
          },
          "IsolatedPower": {
            "nullable": true,
            "type": "number"
          },
          "LeftOnBase": {
            "nullable": true,
            "type": "number"
          },
          "LineOuts": {
            "nullable": true,
            "type": "number"
          },
          "Losses": {
            "nullable": true,
            "type": "number"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "OnBasePercentage": {
            "nullable": true,
            "type": "number"
          },
          "OnBasePlusSlugging": {
            "nullable": true,
            "type": "number"
          },
          "Opponent": {
            "nullable": true,
            "type": "string"
          },
          "OpponentID": {
            "nullable": true,
            "type": "integer"
          },
          "OpponentPositionRank": {
            "nullable": true,
            "type": "integer"
          },
          "OpponentRank": {
            "nullable": true,
            "type": "integer"
          },
          "Outs": {
            "nullable": true,
            "type": "number"
          },
          "PitchesSeen": {
            "nullable": true,
            "type": "number"
          },
          "PitchesThrown": {
            "nullable": true,
            "type": "number"
          },
          "PitchesThrownStrikes": {
            "nullable": true,
            "type": "number"
          },
          "PitchingBallsInPlay": {
            "nullable": true,
            "type": "number"
          },
          "PitchingBattingAverageAgainst": {
            "nullable": true,
            "type": "number"
          },
          "PitchingBattingAverageOnBallsInPlay": {
            "nullable": true,
            "type": "number"
          },
          "PitchingBlownSaves": {
            "nullable": true,
            "type": "number"
          },
          "PitchingCatchersInterference": {
            "nullable": true,
            "type": "number"
          },
          "PitchingCompleteGames": {
            "nullable": true,
            "type": "number"
          },
          "PitchingDoublePlays": {
            "nullable": true,
            "type": "number"
          },
          "PitchingDoubles": {
            "nullable": true,
            "type": "number"
          },
          "PitchingEarnedRuns": {
            "nullable": true,
            "type": "number"
          },
          "PitchingFlyOuts": {
            "nullable": true,
            "type": "number"
          },
          "PitchingGrandSlams": {
            "nullable": true,
            "type": "number"
          },
          "PitchingGroundIntoDoublePlay": {
            "nullable": true,
            "type": "number"
          },
          "PitchingGroundOuts": {
            "nullable": true,
            "type": "number"
          },
          "PitchingHitByPitch": {
            "nullable": true,
            "type": "number"
          },
          "PitchingHits": {
            "nullable": true,
            "type": "number"
          },
          "PitchingHolds": {
            "nullable": true,
            "type": "number"
          },
          "PitchingHomeRuns": {
            "nullable": true,
            "type": "number"
          },
          "PitchingInningStarted": {
            "nullable": true,
            "type": "integer"
          },
          "PitchingIntentionalWalks": {
            "nullable": true,
            "type": "number"
          },
          "PitchingLineOuts": {
            "nullable": true,
            "type": "number"
          },
          "PitchingNoHitters": {
            "nullable": true,
            "type": "number"
          },
          "PitchingOnBasePercentage": {
            "nullable": true,
            "type": "number"
          },
          "PitchingOnBasePlusSlugging": {
            "nullable": true,
            "type": "number"
          },
          "PitchingPerfectGames": {
            "nullable": true,
            "type": "number"
          },
          "PitchingPlateAppearances": {
            "nullable": true,
            "type": "number"
          },
          "PitchingPopOuts": {
            "nullable": true,
            "type": "number"
          },
          "PitchingQualityStarts": {
            "nullable": true,
            "type": "number"
          },
          "PitchingReachedOnError": {
            "nullable": true,
            "type": "number"
          },
          "PitchingRuns": {
            "nullable": true,
            "type": "number"
          },
          "PitchingSacrificeFlies": {
            "nullable": true,
            "type": "number"
          },
          "PitchingSacrifices": {
            "nullable": true,
            "type": "number"
          },
          "PitchingShutOuts": {
            "nullable": true,
            "type": "number"
          },
          "PitchingSingles": {
            "nullable": true,
            "type": "number"
          },
          "PitchingSluggingPercentage": {
            "nullable": true,
            "type": "number"
          },
          "PitchingStrikeouts": {
            "nullable": true,
            "type": "number"
          },
          "PitchingStrikeoutsPerNineInnings": {
            "nullable": true,
            "type": "number"
          },
          "PitchingTotalBases": {
            "nullable": true,
            "type": "number"
          },
          "PitchingTriples": {
            "nullable": true,
            "type": "number"
          },
          "PitchingWalks": {
            "nullable": true,
            "type": "number"
          },
          "PitchingWalksPerNineInnings": {
            "nullable": true,
            "type": "number"
          },
          "PitchingWeightedOnBasePercentage": {
            "nullable": true,
            "type": "number"
          },
          "PlateAppearances": {
            "nullable": true,
            "type": "number"
          },
          "PlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "PopOuts": {
            "nullable": true,
            "type": "number"
          },
          "Position": {
            "nullable": true,
            "type": "string"
          },
          "PositionCategory": {
            "nullable": true,
            "type": "string"
          },
          "ReachedOnError": {
            "nullable": true,
            "type": "number"
          },
          "Runs": {
            "nullable": true,
            "type": "number"
          },
          "RunsBattedIn": {
            "nullable": true,
            "type": "number"
          },
          "SacrificeFlies": {
            "nullable": true,
            "type": "number"
          },
          "Sacrifices": {
            "nullable": true,
            "type": "number"
          },
          "Saves": {
            "nullable": true,
            "type": "number"
          },
          "Season": {
            "nullable": true,
            "type": "integer"
          },
          "SeasonType": {
            "nullable": true,
            "type": "integer"
          },
          "Singles": {
            "nullable": true,
            "type": "number"
          },
          "SluggingPercentage": {
            "nullable": true,
            "type": "number"
          },
          "Started": {
            "nullable": true,
            "type": "integer"
          },
          "StatID": {
            "nullable": false,
            "type": "integer"
          },
          "StolenBases": {
            "nullable": true,
            "type": "number"
          },
          "Strikeouts": {
            "nullable": true,
            "type": "number"
          },
          "SubstituteBattingOrder": {
            "nullable": true,
            "type": "integer"
          },
          "SubstituteBattingOrderSequence": {
            "nullable": true,
            "type": "integer"
          },
          "Team": {
            "nullable": true,
            "type": "string"
          },
          "TeamID": {
            "nullable": true,
            "type": "integer"
          },
          "TotalBases": {
            "nullable": true,
            "type": "number"
          },
          "TotalOutsPitched": {
            "nullable": true,
            "type": "number"
          },
          "Triples": {
            "nullable": true,
            "type": "number"
          },
          "Updated": {
            "nullable": true,
            "type": "string"
          },
          "Walks": {
            "nullable": true,
            "type": "number"
          },
          "WalksHitsPerInningsPitched": {
            "nullable": true,
            "type": "number"
          },
          "WeightedOnBasePercentage": {
            "nullable": true,
            "type": "number"
          },
          "Wins": {
            "nullable": true,
            "type": "number"
          },
          "YahooPosition": {
            "nullable": true,
            "type": "string"
          },
          "YahooSalary": {
            "nullable": true,
            "type": "integer"
          }
        }
      },
      "PlayerSeasonProjection": {
        "properties": {
          "AtBats": {
            "nullable": true,
            "type": "number"
          },
          "AuctionValue": {
            "nullable": true,
            "type": "integer"
          },
          "AverageDraftPosition": {
            "nullable": true,
            "type": "number"
          },
          "BallsInPlay": {
            "nullable": true,
            "type": "number"
          },
          "BattingAverage": {
            "nullable": true,
            "type": "number"
          },
          "BattingAverageOnBallsInPlay": {
            "nullable": true,
            "type": "number"
          },
          "BattingOrder": {
            "nullable": true,
            "type": "integer"
          },
          "BattingOrderConfirmed": {
            "nullable": true,
            "type": "boolean"
          },
          "CaughtStealing": {
            "nullable": true,
            "type": "number"
          },
          "DoublePlays": {
            "nullable": true,
            "type": "number"
          },
          "Doubles": {
            "nullable": true,
            "type": "number"
          },
          "EarnedRunAverage": {
            "nullable": true,
            "type": "number"
          },
          "Errors": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPoints": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsBatting": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsDraftKings": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsFanDuel": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsFantasyDraft": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsPitching": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsYahoo": {
            "nullable": true,
            "type": "number"
          },
          "FieldingIndependentPitching": {
            "nullable": true,
            "type": "number"
          },
          "FlyOuts": {
            "nullable": true,
            "type": "number"
          },
          "Games": {
            "nullable": true,
            "type": "integer"
          },
          "GlobalTeamID": {
            "nullable": true,
            "type": "integer"
          },
          "GrandSlams": {
            "nullable": true,
            "type": "number"
          },
          "GroundIntoDoublePlay": {
            "nullable": true,
            "type": "number"
          },
          "GroundOuts": {
            "nullable": true,
            "type": "number"
          },
          "HitByPitch": {
            "nullable": true,
            "type": "number"
          },
          "Hits": {
            "nullable": true,
            "type": "number"
          },
          "HomeRuns": {
            "nullable": true,
            "type": "number"
          },
          "InningsPitchedDecimal": {
            "nullable": true,
            "type": "number"
          },
          "InningsPitchedFull": {
            "nullable": true,
            "type": "number"
          },
          "InningsPitchedOuts": {
            "nullable": true,
            "type": "number"
          },
          "IntentionalWalks": {
            "nullable": true,
            "type": "number"
          },
          "IsolatedPower": {
            "nullable": true,
            "type": "number"
          },
          "LeftOnBase": {
            "nullable": true,
            "type": "number"
          },
          "LineOuts": {
            "nullable": true,
            "type": "number"
          },
          "Losses": {
            "nullable": true,
            "type": "number"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "OnBasePercentage": {
            "nullable": true,
            "type": "number"
          },
          "OnBasePlusSlugging": {
            "nullable": true,
            "type": "number"
          },
          "Outs": {
            "nullable": true,
            "type": "number"
          },
          "PitchesSeen": {
            "nullable": true,
            "type": "number"
          },
          "PitchesThrown": {
            "nullable": true,
            "type": "number"
          },
          "PitchesThrownStrikes": {
            "nullable": true,
            "type": "number"
          },
          "PitchingBallsInPlay": {
            "nullable": true,
            "type": "number"
          },
          "PitchingBattingAverageAgainst": {
            "nullable": true,
            "type": "number"
          },
          "PitchingBattingAverageOnBallsInPlay": {
            "nullable": true,
            "type": "number"
          },
          "PitchingBlownSaves": {
            "nullable": true,
            "type": "number"
          },
          "PitchingCatchersInterference": {
            "nullable": true,
            "type": "number"
          },
          "PitchingCompleteGames": {
            "nullable": true,
            "type": "number"
          },
          "PitchingDoublePlays": {
            "nullable": true,
            "type": "number"
          },
          "PitchingDoubles": {
            "nullable": true,
            "type": "number"
          },
          "PitchingEarnedRuns": {
            "nullable": true,
            "type": "number"
          },
          "PitchingFlyOuts": {
            "nullable": true,
            "type": "number"
          },
          "PitchingGrandSlams": {
            "nullable": true,
            "type": "number"
          },
          "PitchingGroundIntoDoublePlay": {
            "nullable": true,
            "type": "number"
          },
          "PitchingGroundOuts": {
            "nullable": true,
            "type": "number"
          },
          "PitchingHitByPitch": {
            "nullable": true,
            "type": "number"
          },
          "PitchingHits": {
            "nullable": true,
            "type": "number"
          },
          "PitchingHolds": {
            "nullable": true,
            "type": "number"
          },
          "PitchingHomeRuns": {
            "nullable": true,
            "type": "number"
          },
          "PitchingInningStarted": {
            "nullable": true,
            "type": "integer"
          },
          "PitchingIntentionalWalks": {
            "nullable": true,
            "type": "number"
          },
          "PitchingLineOuts": {
            "nullable": true,
            "type": "number"
          },
          "PitchingNoHitters": {
            "nullable": true,
            "type": "number"
          },
          "PitchingOnBasePercentage": {
            "nullable": true,
            "type": "number"
          },
          "PitchingOnBasePlusSlugging": {
            "nullable": true,
            "type": "number"
          },
          "PitchingPerfectGames": {
            "nullable": true,
            "type": "number"
          },
          "PitchingPlateAppearances": {
            "nullable": true,
            "type": "number"
          },
          "PitchingPopOuts": {
            "nullable": true,
            "type": "number"
          },
          "PitchingQualityStarts": {
            "nullable": true,
            "type": "number"
          },
          "PitchingReachedOnError": {
            "nullable": true,
            "type": "number"
          },
          "PitchingRuns": {
            "nullable": true,
            "type": "number"
          },
          "PitchingSacrificeFlies": {
            "nullable": true,
            "type": "number"
          },
          "PitchingSacrifices": {
            "nullable": true,
            "type": "number"
          },
          "PitchingShutOuts": {
            "nullable": true,
            "type": "number"
          },
          "PitchingSingles": {
            "nullable": true,
            "type": "number"
          },
          "PitchingSluggingPercentage": {
            "nullable": true,
            "type": "number"
          },
          "PitchingStrikeouts": {
            "nullable": true,
            "type": "number"
          },
          "PitchingStrikeoutsPerNineInnings": {
            "nullable": true,
            "type": "number"
          },
          "PitchingTotalBases": {
            "nullable": true,
            "type": "number"
          },
          "PitchingTriples": {
            "nullable": true,
            "type": "number"
          },
          "PitchingWalks": {
            "nullable": true,
            "type": "number"
          },
          "PitchingWalksPerNineInnings": {
            "nullable": true,
            "type": "number"
          },
          "PitchingWeightedOnBasePercentage": {
            "nullable": true,
            "type": "number"
          },
          "PlateAppearances": {
            "nullable": true,
            "type": "number"
          },
          "PlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "PopOuts": {
            "nullable": true,
            "type": "number"
          },
          "Position": {
            "nullable": true,
            "type": "string"
          },
          "PositionCategory": {
            "nullable": true,
            "type": "string"
          },
          "ReachedOnError": {
            "nullable": true,
            "type": "number"
          },
          "Runs": {
            "nullable": true,
            "type": "number"
          },
          "RunsBattedIn": {
            "nullable": true,
            "type": "number"
          },
          "SacrificeFlies": {
            "nullable": true,
            "type": "number"
          },
          "Sacrifices": {
            "nullable": true,
            "type": "number"
          },
          "Saves": {
            "nullable": true,
            "type": "number"
          },
          "Season": {
            "nullable": true,
            "type": "integer"
          },
          "SeasonType": {
            "nullable": true,
            "type": "integer"
          },
          "Singles": {
            "nullable": true,
            "type": "number"
          },
          "SluggingPercentage": {
            "nullable": true,
            "type": "number"
          },
          "Started": {
            "nullable": true,
            "type": "integer"
          },
          "StatID": {
            "nullable": false,
            "type": "integer"
          },
          "StolenBases": {
            "nullable": true,
            "type": "number"
          },
          "Strikeouts": {
            "nullable": true,
            "type": "number"
          },
          "SubstituteBattingOrder": {
            "nullable": true,
            "type": "integer"
          },
          "SubstituteBattingOrderSequence": {
            "nullable": true,
            "type": "integer"
          },
          "Team": {
            "nullable": true,
            "type": "string"
          },
          "TeamID": {
            "nullable": true,
            "type": "integer"
          },
          "TotalBases": {
            "nullable": true,
            "type": "number"
          },
          "TotalOutsPitched": {
            "nullable": true,
            "type": "number"
          },
          "Triples": {
            "nullable": true,
            "type": "number"
          },
          "Updated": {
            "nullable": true,
            "type": "string"
          },
          "Walks": {
            "nullable": true,
            "type": "number"
          },
          "WalksHitsPerInningsPitched": {
            "nullable": true,
            "type": "number"
          },
          "WeightedOnBasePercentage": {
            "nullable": true,
            "type": "number"
          },
          "Wins": {
            "nullable": true,
            "type": "number"
          }
        }
      },
      "Series": {
        "properties": {
          "AwayTeamWins": {
            "nullable": false,
            "type": "integer"
          },
          "GameNumber": {
            "nullable": false,
            "type": "integer"
          },
          "HomeTeamWins": {
            "nullable": false,
            "type": "integer"
          },
          "MaxLength": {
            "nullable": false,
            "type": "integer"
          }
        }
      },
      "StartingLineups": {
        "properties": {
          "AwayBattingLineup": {
            "items": {
              "$ref": "#/components/schemas/Lineup"
            },
            "type": "array"
          },
          "AwayStartingPitcher": {
            "$ref": "#/components/schemas/Lineup"
          },
          "AwayTeam": {
            "nullable": true,
            "type": "string"
          },
          "AwayTeamID": {
            "nullable": true,
            "type": "integer"
          },
          "DateTime": {
            "nullable": true,
            "type": "string"
          },
          "Day": {
            "nullable": true,
            "type": "string"
          },
          "GameID": {
            "nullable": false,
            "type": "integer"
          },
          "HomeBattingLineup": {
            "items": {
              "$ref": "#/components/schemas/Lineup"
            },
            "type": "array"
          },
          "HomeStartingPitcher": {
            "$ref": "#/components/schemas/Lineup"
          },
          "HomeTeam": {
            "nullable": true,
            "type": "string"
          },
          "HomeTeamID": {
            "nullable": true,
            "type": "integer"
          },
          "Season": {
            "nullable": false,
            "type": "integer"
          },
          "SeasonType": {
            "nullable": false,
            "type": "integer"
          },
          "Status": {
            "nullable": true,
            "type": "string"
          }
        }
      },
      "TeamDepthChart": {
        "properties": {
          "DepthCharts": {
            "items": {
              "$ref": "#/components/schemas/DepthChart"
            },
            "type": "array"
          },
          "TeamID": {
            "nullable": false,
            "type": "integer"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyHeader": {
        "in": "header",
        "name": "Ocp-Apim-Subscription-Key",
        "type": "apiKey"
      },
      "apiKeyQuery": {
        "in": "query",
        "name": "key",
        "type": "apiKey"
      }
    }
  }
}