swagger: '2.0'
schemes:
  - https
host: cloudprofiler.googleapis.com
basePath: /
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: Manages continuous profiling information.
  title: Stackdriver Profiler
  version: v2
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.7.18
      format: google
      url: 'https://cloudprofiler.googleapis.com/$discovery/rest?version=v2'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: cloudprofiler
externalDocs:
  url: 'https://cloud.google.com/profiler/'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/monitoring': View and write monitoring data for all of your Google and third-party Cloud and API projects
      'https://www.googleapis.com/auth/monitoring.write': Publish metric data to your Google Cloud projects
    type: oauth2
parameters:
  $.xgafv:
    description: V1 error format.
    enum:
      - '1'
      - '2'
    in: query
    name: $.xgafv
    type: string
  access_token:
    description: OAuth access token.
    in: query
    name: access_token
    type: string
  alt:
    default: json
    description: Data format for response.
    enum:
      - json
      - media
      - proto
    in: query
    name: alt
    type: string
  callback:
    description: JSONP
    in: query
    name: callback
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
    in: query
    name: quotaUser
    type: string
  uploadType:
    description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
    in: query
    name: uploadType
    type: string
  upload_protocol:
    description: 'Upload protocol for media (e.g. "raw", "multipart").'
    in: query
    name: upload_protocol
    type: string
tags:
  - name: projects
paths:
  '/v2/{name}':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    patch:
      description: |-
        UpdateProfile updates the profile bytes and labels on the profile resource
        created in the online mode. Updating the bytes for profiles created in the
        offline mode is currently not supported: the profile content must be
        provided at the time of the profile creation.
      operationId: cloudprofiler.projects.profiles.patch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Profile'
        - description: 'Output only. Opaque, server-assigned, unique ID for this profile.'
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
        - description: |-
            Field mask used to specify the fields to be overwritten. Currently only
            profile_bytes and labels fields are supported by UpdateProfile, so only
            those fields can be specified in the mask. When no mask is provided, all
            fields are overwritten.
          in: query
          name: updateMask
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Profile'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/monitoring'
        - Oauth2:
            - 'https://www.googleapis.com/auth/monitoring.write'
      tags:
        - projects
  '/v2/{parent}/profiles':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        CreateProfile creates a new profile resource in the online mode.

        The server ensures that the new profiles are created at a constant rate per
        deployment, so the creation request may hang for some time until the next
        profile session is available.

        The request may fail with ABORTED error if the creation is not available
        within ~1m, the response will indicate the duration of the backoff the
        client should take before attempting creating a profile again. The backoff
        duration is returned in google.rpc.RetryInfo extension on the response
        status. To a gRPC client, the extension will be return as a
        binary-serialized proto in the trailing metadata item named
        "google.rpc.retryinfo-bin".
      operationId: cloudprofiler.projects.profiles.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CreateProfileRequest'
        - description: Parent project to create the profile in.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Profile'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/monitoring'
        - Oauth2:
            - 'https://www.googleapis.com/auth/monitoring.write'
      tags:
        - projects
  '/v2/{parent}/profiles:createOffline':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        CreateOfflineProfile creates a new profile resource in the offline mode.
        The client provides the profile to create along with the profile bytes, the
        server records it.
      operationId: cloudprofiler.projects.profiles.createOffline
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Profile'
        - description: Parent project to create the profile in.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Profile'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/monitoring'
        - Oauth2:
            - 'https://www.googleapis.com/auth/monitoring.write'
      tags:
        - projects
definitions:
  CreateProfileRequest:
    description: |-
      CreateProfileRequest describes a profile resource online creation request.
      The deployment field must be populated. The profile_type specifies the list
      of profile types supported by the agent. The creation call will hang until a
      profile of one of these types needs to be collected.
    properties:
      deployment:
        $ref: '#/definitions/Deployment'
        description: Deployment details.
      profileType:
        description: One or more profile types that the agent is capable of providing.
        items:
          enum:
            - PROFILE_TYPE_UNSPECIFIED
            - CPU
            - WALL
            - HEAP
            - THREADS
            - CONTENTION
            - PEAK_HEAP
            - HEAP_ALLOC
          type: string
        type: array
    type: object
  Deployment:
    description: Deployment contains the deployment identification information.
    properties:
      labels:
        additionalProperties:
          type: string
        description: |-
          Labels identify the deployment within the user universe and same target.
          Validation regex for label names: `^[a-z0-9]([a-z0-9-]{0,61}[a-z0-9])?$`.
          Value for an individual label must be <= 512 bytes, the total
          size of all label names and values must be <= 1024 bytes.

          Label named "language" can be used to record the programming language of
          the profiled deployment. The standard choices for the value include "java",
          "go", "python", "ruby", "nodejs", "php", "dotnet".

          For deployments running on Google Cloud Platform, "zone" or "region" label
          should be present describing the deployment location. An example of a zone
          is "us-central1-a", an example of a region is "us-central1" or
          "us-central".
        type: object
      projectId:
        description: |-
          Project ID is the ID of a cloud project.
          Validation regex: `^a-z{4,61}[a-z0-9]$`.
        type: string
      target:
        description: |-
          Target is the service name used to group related deployments:
          * Service name for GAE Flex / Standard.
          * Cluster and container name for GKE.
          * User-specified string for direct GCE profiling (e.g. Java).
          * Job name for Dataflow.
          Validation regex: `^[a-z]([-a-z0-9_.]{0,253}[a-z0-9])?$`.
        type: string
    type: object
  Profile:
    description: Profile resource.
    properties:
      deployment:
        $ref: '#/definitions/Deployment'
        description: Deployment this profile corresponds to.
      duration:
        description: |-
          Duration of the profiling session.
          Input (for the offline mode) or output (for the online mode).
          The field represents requested profiling duration. It may slightly differ
          from the effective profiling duration, which is recorded in the profile
          data, in case the profiling can't be stopped immediately (e.g. in case
          stopping the profiling is handled asynchronously).
        format: google-duration
        type: string
      labels:
        additionalProperties:
          type: string
        description: |-
          Input only. Labels associated to this specific profile. These labels will
          get merged with the deployment labels for the final data set.  See
          documentation on deployment labels for validation rules and limits.
        type: object
      name:
        description: 'Output only. Opaque, server-assigned, unique ID for this profile.'
        type: string
      profileBytes:
        description: |-
          Input only. Profile bytes, as a gzip compressed serialized proto, the
          format is https://github.com/google/pprof/blob/master/proto/profile.proto.
        format: byte
        type: string
      profileType:
        description: |-
          Type of profile.
          For offline mode, this must be specified when creating the profile. For
          online mode it is assigned and returned by the server.
        enum:
          - PROFILE_TYPE_UNSPECIFIED
          - CPU
          - WALL
          - HEAP
          - THREADS
          - CONTENTION
          - PEAK_HEAP
          - HEAP_ALLOC
        type: string
    type: object
