swagger: '2.0'
info:
  version: '2018-01-01'
  x-release: v4
  title: Firewall Management Service
  description: '<fullname>AWS Firewall Manager</fullname> <p>This is the <i>AWS Firewall Manager API Reference</i>. This guide is for developers who need detailed information about the AWS Firewall Manager API actions, data types, and errors. For detailed information about AWS Firewall Manager features, see the <a href="http://docs.aws.amazon.com/waf/latest/developerguide/fms-chapter.html">AWS Firewall Manager Developer Guide</a>.</p>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: fms
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/fms-2018-01-01.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/fms/'
host: fms.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: header
    type: string
    required: true
  Version:
    name: Version
    in: header
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /:
    post:
      operationId: AssociateAdminAccount
      description: '<p>Sets the AWS Firewall Manager administrator account. AWS Firewall Manager must be associated with the master account your AWS organization or associated with a member account that has the appropriate permissions. If the account ID that you submit is not an AWS Organizations master account, AWS Firewall Manager will set the appropriate permissions for the given member account.</p> <p>The account that you associate with AWS Firewall Manager is called the AWS Firewall Manager administrator account. </p>'
      responses:
        '200':
          description: Success
        '480':
          description: InvalidOperationException
          schema:
            $ref: '#/definitions/InvalidOperationException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AssociateAdminAccountRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteNotificationChannel':
    post:
      operationId: DeleteNotificationChannel
      description: Deletes an AWS Firewall Manager association with the IAM role and the Amazon Simple Notification Service (SNS) topic that is used to record AWS Firewall Manager SNS logs.
      responses:
        '200':
          description: Success
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidOperationException
          schema:
            $ref: '#/definitions/InvalidOperationException'
        '482':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteNotificationChannelRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeletePolicy':
    post:
      operationId: DeletePolicy
      description: 'Permanently deletes an AWS Firewall Manager policy. '
      responses:
        '200':
          description: Success
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidOperationException
          schema:
            $ref: '#/definitions/InvalidOperationException'
        '482':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeletePolicyRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DisassociateAdminAccount':
    post:
      operationId: DisassociateAdminAccount
      description: Disassociates the account that has been set as the AWS Firewall Manager administrator account. You will need to submit an <code>AssociateAdminAccount</code> request to set a new account as the AWS Firewall administrator.
      responses:
        '200':
          description: Success
        '480':
          description: InvalidOperationException
          schema:
            $ref: '#/definitions/InvalidOperationException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DisassociateAdminAccountRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetAdminAccount':
    post:
      operationId: GetAdminAccount
      description: Returns the AWS Organizations master account that is associated with AWS Firewall Manager as the AWS Firewall Manager administrator.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetAdminAccountResponse'
        '480':
          description: InvalidOperationException
          schema:
            $ref: '#/definitions/InvalidOperationException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetAdminAccountRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetComplianceDetail':
    post:
      operationId: GetComplianceDetail
      description: Returns detailed compliance information about the specified member account. Details include resources that are in and out of compliance with the specified policy. Resources are considered non-compliant if the specified policy has not been applied to them.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetComplianceDetailResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetComplianceDetailRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetNotificationChannel':
    post:
      operationId: GetNotificationChannel
      description: Returns information about the Amazon Simple Notification Service (SNS) topic that is used to record AWS Firewall Manager SNS logs.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetNotificationChannelResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidOperationException
          schema:
            $ref: '#/definitions/InvalidOperationException'
        '482':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetNotificationChannelRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetPolicy':
    post:
      operationId: GetPolicy
      description: Returns information about the specified AWS Firewall Manager policy.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetPolicyResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidOperationException
          schema:
            $ref: '#/definitions/InvalidOperationException'
        '482':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '483':
          description: InvalidTypeException
          schema:
            $ref: '#/definitions/InvalidTypeException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetPolicyRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListComplianceStatus':
    post:
      operationId: ListComplianceStatus
      description: 'Returns an array of <code>PolicyComplianceStatus</code> objects in the response. Use <code>PolicyComplianceStatus</code> to get a summary of which member accounts are protected by the specified policy. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListComplianceStatusResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListComplianceStatusRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListMemberAccounts':
    post:
      operationId: ListMemberAccounts
      description: <p>Returns a <code>MemberAccounts</code> object that lists the member accounts in the administrator's AWS organization.</p> <p>The <code>ListMemberAccounts</code> must be submitted by the account that is set as the AWS Firewall Manager administrator.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListMemberAccountsResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListMemberAccountsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListPolicies':
    post:
      operationId: ListPolicies
      description: Returns an array of <code>PolicySummary</code> objects in the response.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListPoliciesResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidOperationException
          schema:
            $ref: '#/definitions/InvalidOperationException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListPoliciesRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#PutNotificationChannel':
    post:
      operationId: PutNotificationChannel
      description: Designates the IAM role and Amazon Simple Notification Service (SNS) topic that AWS Firewall Manager uses to record SNS logs.
      responses:
        '200':
          description: Success
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidOperationException
          schema:
            $ref: '#/definitions/InvalidOperationException'
        '482':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutNotificationChannelRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#PutPolicy':
    post:
      operationId: PutPolicy
      description: Creates an AWS Firewall Manager policy.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutPolicyResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidOperationException
          schema:
            $ref: '#/definitions/InvalidOperationException'
        '482':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: InternalErrorException
          schema:
            $ref: '#/definitions/InternalErrorException'
        '485':
          description: InvalidTypeException
          schema:
            $ref: '#/definitions/InvalidTypeException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutPolicyRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  AssociateAdminAccountRequest:
    type: object
    required:
      - AdminAccount
    properties:
      AdminAccount:
        $ref: '#/definitions/[object Object]'
        description: 'The AWS account ID to associate with AWS Firewall Manager as the AWS Firewall Manager administrator account. This can be an AWS Organizations master account or a member account. For more information about AWS Organizations and master accounts, see <a href="https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts.html">Managing the AWS Accounts in Your Organization</a>.'
  InvalidOperationException: {}
  InvalidInputException: {}
  ResourceNotFoundException: {}
  InternalErrorException: {}
  DeleteNotificationChannelRequest:
    type: object
    properties: {}
  DeletePolicyRequest:
    type: object
    required:
      - PolicyId
    properties:
      PolicyId:
        $ref: '#/definitions/[object Object]'
        description: The ID of the policy that you want to delete. <code>PolicyId</code> is returned by <code>PutPolicy</code> and by <code>ListPolicies</code>.
  DisassociateAdminAccountRequest:
    type: object
    properties: {}
  GetAdminAccountResponse:
    type: object
    properties:
      AdminAccount:
        $ref: '#/definitions/[object Object]'
        description: The AWS account that is set as the AWS Firewall Manager administrator.
      RoleStatus:
        $ref: '#/definitions/[object Object]'
        description: The status of the AWS account that you set as the AWS Firewall Manager administrator.
  GetAdminAccountRequest:
    type: object
    properties: {}
  GetComplianceDetailResponse:
    type: object
    properties:
      PolicyComplianceDetail:
        $ref: '#/definitions/[object Object]'
        description: Information about the resources and the policy that you specified in the <code>GetComplianceDetail</code> request.
  GetComplianceDetailRequest:
    type: object
    required:
      - PolicyId
      - MemberAccount
    properties:
      PolicyId:
        $ref: '#/definitions/[object Object]'
        description: The ID of the policy that you want to get the details for. <code>PolicyId</code> is returned by <code>PutPolicy</code> and by <code>ListPolicies</code>.
      MemberAccount:
        $ref: '#/definitions/[object Object]'
        description: The AWS account that owns the resources that you want to get the details for.
  GetNotificationChannelResponse:
    type: object
    properties:
      SnsTopicArn:
        $ref: '#/definitions/[object Object]'
        description: 'The SNS topic that records AWS Firewall Manager activity. '
      SnsRoleName:
        $ref: '#/definitions/[object Object]'
        description: The IAM role that is used by AWS Firewall Manager to record activity to SNS.
  GetNotificationChannelRequest:
    type: object
    properties: {}
  GetPolicyResponse:
    type: object
    properties:
      Policy:
        $ref: '#/definitions/[object Object]'
        description: Information about the specified AWS Firewall Manager policy.
      PolicyArn:
        $ref: '#/definitions/[object Object]'
        description: The Amazon Resource Name (ARN) of the specified policy.
  GetPolicyRequest:
    type: object
    required:
      - PolicyId
    properties:
      PolicyId:
        $ref: '#/definitions/[object Object]'
        description: The ID of the AWS Firewall Manager policy that you want the details for.
  InvalidTypeException: {}
  ListComplianceStatusResponse:
    type: object
    properties:
      PolicyComplianceStatusList:
        $ref: '#/definitions/[object Object]'
        description: An array of <code>PolicyComplianceStatus</code> objects.
      NextToken:
        $ref: '#/definitions/[object Object]'
        description: 'If you have more <code>PolicyComplianceStatus</code> objects than the number that you specified for <code>MaxResults</code> in the request, the response includes a <code>NextToken</code> value. To list more <code>PolicyComplianceStatus</code> objects, submit another <code>ListComplianceStatus</code> request, and specify the <code>NextToken</code> value from the response in the <code>NextToken</code> value in the next request.'
  ListComplianceStatusRequest:
    type: object
    required:
      - PolicyId
    properties:
      PolicyId:
        $ref: '#/definitions/[object Object]'
        description: The ID of the AWS Firewall Manager policy that you want the details for.
      NextToken:
        $ref: '#/definitions/[object Object]'
        description: 'If you specify a value for <code>MaxResults</code> and you have more <code>PolicyComplianceStatus</code> objects than the number that you specify for <code>MaxResults</code>, AWS Firewall Manager returns a <code>NextToken</code> value in the response that allows you to list another group of <code>PolicyComplianceStatus</code> objects. For the second and subsequent <code>ListComplianceStatus</code> requests, specify the value of <code>NextToken</code> from the previous response to get information about another batch of <code>PolicyComplianceStatus</code> objects.'
      MaxResults:
        $ref: '#/definitions/[object Object]'
        description: 'Specifies the number of <code>PolicyComplianceStatus</code> objects that you want AWS Firewall Manager to return for this request. If you have more <code>PolicyComplianceStatus</code> objects than the number that you specify for <code>MaxResults</code>, the response includes a <code>NextToken</code> value that you can use to get another batch of <code>PolicyComplianceStatus</code> objects.'
  ListMemberAccountsResponse:
    type: object
    properties:
      MemberAccounts:
        $ref: '#/definitions/[object Object]'
        description: An array of account IDs.
      NextToken:
        $ref: '#/definitions/[object Object]'
        description: 'If you have more member account IDs than the number that you specified for <code>MaxResults</code> in the request, the response includes a <code>NextToken</code> value. To list more IDs, submit another <code>ListMemberAccounts</code> request, and specify the <code>NextToken</code> value from the response in the <code>NextToken</code> value in the next request.'
  ListMemberAccountsRequest:
    type: object
    properties:
      NextToken:
        $ref: '#/definitions/[object Object]'
        description: 'If you specify a value for <code>MaxResults</code> and you have more account IDs than the number that you specify for <code>MaxResults</code>, AWS Firewall Manager returns a <code>NextToken</code> value in the response that allows you to list another group of IDs. For the second and subsequent <code>ListMemberAccountsRequest</code> requests, specify the value of <code>NextToken</code> from the previous response to get information about another batch of member account IDs.'
      MaxResults:
        $ref: '#/definitions/[object Object]'
        description: 'Specifies the number of member account IDs that you want AWS Firewall Manager to return for this request. If you have more IDs than the number that you specify for <code>MaxResults</code>, the response includes a <code>NextToken</code> value that you can use to get another batch of member account IDs. The maximum value for <code>MaxResults</code> is 100.'
  ListPoliciesResponse:
    type: object
    properties:
      PolicyList:
        $ref: '#/definitions/[object Object]'
        description: An array of <code>PolicySummary</code> objects.
      NextToken:
        $ref: '#/definitions/[object Object]'
        description: 'If you have more <code>PolicySummary</code> objects than the number that you specified for <code>MaxResults</code> in the request, the response includes a <code>NextToken</code> value. To list more <code>PolicySummary</code> objects, submit another <code>ListPolicies</code> request, and specify the <code>NextToken</code> value from the response in the <code>NextToken</code> value in the next request.'
  ListPoliciesRequest:
    type: object
    properties:
      NextToken:
        $ref: '#/definitions/[object Object]'
        description: 'If you specify a value for <code>MaxResults</code> and you have more <code>PolicySummary</code> objects than the number that you specify for <code>MaxResults</code>, AWS Firewall Manager returns a <code>NextToken</code> value in the response that allows you to list another group of <code>PolicySummary</code> objects. For the second and subsequent <code>ListPolicies</code> requests, specify the value of <code>NextToken</code> from the previous response to get information about another batch of <code>PolicySummary</code> objects.'
      MaxResults:
        $ref: '#/definitions/[object Object]'
        description: 'Specifies the number of <code>PolicySummary</code> objects that you want AWS Firewall Manager to return for this request. If you have more <code>PolicySummary</code> objects than the number that you specify for <code>MaxResults</code>, the response includes a <code>NextToken</code> value that you can use to get another batch of <code>PolicySummary</code> objects.'
  LimitExceededException: {}
  PutNotificationChannelRequest:
    type: object
    required:
      - SnsTopicArn
      - SnsRoleName
    properties:
      SnsTopicArn:
        $ref: '#/definitions/[object Object]'
        description: The Amazon Resource Name (ARN) of the SNS topic that collects notifications from AWS Firewall Manager.
      SnsRoleName:
        $ref: '#/definitions/[object Object]'
        description: 'The Amazon Resource Name (ARN) of the IAM role that allows Amazon SNS to record AWS Firewall Manager activity. '
  PutPolicyResponse:
    type: object
    properties:
      Policy:
        $ref: '#/definitions/[object Object]'
        description: The details of the AWS Firewall Manager policy that was created.
      PolicyArn:
        $ref: '#/definitions/[object Object]'
        description: The Amazon Resource Name (ARN) of the policy that was created.
  PutPolicyRequest:
    type: object
    required:
      - Policy
    properties:
      Policy:
        $ref: '#/definitions/[object Object]'
        description: The details of the AWS Firewall Manager policy to be created.
  AWSAccountId:
    type: string
    minLength: 1
    maxLength: 1024
  AccountRoleStatus:
    type: string
    enum:
      - READY
      - CREATING
      - PENDING_DELETION
      - DELETING
      - DELETED
  '[object Object]': {}
  Boolean:
    type: boolean
  ComplianceViolator:
    type: object
    properties:
      ResourceId:
        $ref: '#/definitions/[object Object]'
        description: The resource ID.
      ViolationReason:
        $ref: '#/definitions/[object Object]'
        description: The reason that the resource is not protected by the policy.
      ResourceType:
        $ref: '#/definitions/[object Object]'
        description: 'The resource type. This is in the format shown in <a href="https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-template-resource-type-ref.html">AWS Resource Types Reference</a>. Valid values are <code>AWS::ElasticLoadBalancingV2::LoadBalancer</code> or <code>AWS::CloudFront::Distribution</code>.'
    description: Details of the resource that is not protected by the policy.
  ComplianceViolators:
    type: array
    items:
      $ref: '#/definitions/[object Object]'
  CustomerPolicyScopeId:
    type: string
    minLength: 1
    maxLength: 1024
  CustomerPolicyScopeIdList:
    type: array
    items:
      $ref: '#/definitions/[object Object]'
  CustomerPolicyScopeIdType:
    type: string
    enum:
      - ACCOUNT
  CustomerPolicyScopeMap:
    type: array
    items:
      type: object
      properties:
        key:
          $ref: '#/definitions/CustomerPolicyScopeIdType'
        value:
          $ref: '#/definitions/CustomerPolicyScopeIdList'
  DependentServiceName:
    type: string
    enum:
      - AWSCONFIG
      - AWSWAF
  DetailedInfo:
    type: string
    minLength: 1
    maxLength: 1024
  EvaluationResult:
    type: object
    properties:
      ComplianceStatus:
        $ref: '#/definitions/[object Object]'
        description: Describes an AWS account's compliance with the AWS Firewall Manager policy.
      ViolatorCount:
        $ref: '#/definitions/[object Object]'
        description: Number of resources that are non-compliant with the specified policy. A resource is considered non-compliant if it is not associated with the specified policy.
      EvaluationLimitExceeded:
        $ref: '#/definitions/[object Object]'
        description: Indicates that over 100 resources are non-compliant with the AWS Firewall Manager policy.
    description: Describes the compliance status for the account. An account is considered non-compliant if it includes resources that are not protected by the specified policy.
  EvaluationResults:
    type: array
    items:
      $ref: '#/definitions/[object Object]'
  IssueInfoMap:
    type: array
    items:
      type: object
      properties:
        key:
          $ref: '#/definitions/DependentServiceName'
        value:
          $ref: '#/definitions/DetailedInfo'
  ManagedServiceData:
    type: string
    minLength: 1
    maxLength: 1024
  MemberAccounts:
    type: array
    items:
      $ref: '#/definitions/[object Object]'
  PaginationMaxResults:
    type: integer
    minimum: 1
    maximum: 100
  PaginationToken:
    type: string
    minLength: 1
  Policy:
    type: object
    required:
      - PolicyName
      - SecurityServicePolicyData
      - ResourceType
      - ExcludeResourceTags
      - RemediationEnabled
    properties:
      PolicyId:
        $ref: '#/definitions/[object Object]'
        description: The ID of the AWS Firewall Manager policy.
      PolicyName:
        $ref: '#/definitions/[object Object]'
        description: The friendly name of the AWS Firewall Manager policy.
      PolicyUpdateToken:
        $ref: '#/definitions/[object Object]'
        description: 'A unique identifier for each update to the policy. When issuing a <code>PutPolicy</code> request, the <code>PolicyUpdateToken</code> in the request must match the <code>PolicyUpdateToken</code> of the current policy version. To get the <code>PolicyUpdateToken</code> of the current policy version, use a <code>GetPolicy</code> request.'
      SecurityServicePolicyData:
        $ref: '#/definitions/[object Object]'
        description: Details about the security service that is being used to protect the resources.
      ResourceType:
        $ref: '#/definitions/[object Object]'
        description: 'The type of resource to protect with the policy, either an Application Load Balancer or a CloudFront distribution. This is in the format shown in <a href="https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-template-resource-type-ref.html">AWS Resource Types Reference</a>. Valid values are <code>AWS::ElasticLoadBalancingV2::LoadBalancer</code> or <code>AWS::CloudFront::Distribution</code>.'
      ResourceTags:
        $ref: '#/definitions/[object Object]'
        description: An array of <code>ResourceTag</code> objects.
      ExcludeResourceTags:
        $ref: '#/definitions/[object Object]'
        description: 'If set to <code>True</code>, resources with the tags that are specified in the <code>ResourceTag</code> array are not protected by the policy. If set to <code>False</code>, and the <code>ResourceTag</code> array is not null, only resources with the specified tags are associated with the policy.'
      RemediationEnabled:
        $ref: '#/definitions/[object Object]'
        description: Indicates if the policy should be automatically applied to new resources.
      IncludeMap:
        $ref: '#/definitions/[object Object]'
        description: '<p>Specifies the AWS account IDs to include in the policy. If <code>IncludeMap</code> is null, all accounts in the AWS Organization are included in the policy. If <code>IncludeMap</code> is not null, only values listed in <code>IncludeMap</code> will be included in the policy.</p> <p>The key to the map is <code>ACCOUNT</code>. For example, a valid <code>IncludeMap</code> would be <code>{“ACCOUNT” : [“accountID1”, “accountID2”]}</code>.</p>'
      ExcludeMap:
        $ref: '#/definitions/[object Object]'
        description: '<p>Specifies the AWS account IDs to exclude from the policy. The <code>IncludeMap</code> values are evaluated first, with all of the appropriate account IDs added to the policy. Then the accounts listed in <code>ExcludeMap</code> are removed, resulting in the final list of accounts to add to the policy.</p> <p>The key to the map is <code>ACCOUNT</code>. For example, a valid <code>ExcludeMap</code> would be <code>{“ACCOUNT” : [“accountID1”, “accountID2”]}</code>.</p>'
    description: An AWS Firewall Manager policy.
  PolicyComplianceDetail:
    type: object
    properties:
      PolicyOwner:
        $ref: '#/definitions/[object Object]'
        description: The AWS account that created the AWS Firewall Manager policy.
      PolicyId:
        $ref: '#/definitions/[object Object]'
        description: The ID of the AWS Firewall Manager policy.
      MemberAccount:
        $ref: '#/definitions/[object Object]'
        description: The AWS account ID.
      Violators:
        $ref: '#/definitions/[object Object]'
        description: An array of resources that are not protected by the policy.
      EvaluationLimitExceeded:
        $ref: '#/definitions/[object Object]'
        description: Indicates if over 100 resources are non-compliant with the AWS Firewall Manager policy.
      ExpiredAt:
        $ref: '#/definitions/[object Object]'
        description: A time stamp that indicates when the returned information should be considered out-of-date.
      IssueInfoMap:
        $ref: '#/definitions/[object Object]'
        description: 'Details about problems with dependent services, such as AWS WAF or AWS Config, that are causing a resource to be non-compliant. The details include the name of the dependent service and the error message recieved indicating the problem with the service.'
    description: 'Describes the non-compliant resources in a member account for a specific AWS Firewall Manager policy. A maximum of 100 entries are displayed. If more than 100 resources are non-compliant, <code>EvaluationLimitExceeded</code> is set to <code>True</code>.'
  PolicyComplianceStatus:
    type: object
    properties:
      PolicyOwner:
        $ref: '#/definitions/[object Object]'
        description: The AWS account that created the AWS Firewall Manager policy.
      PolicyId:
        $ref: '#/definitions/[object Object]'
        description: The ID of the AWS Firewall Manager policy.
      PolicyName:
        $ref: '#/definitions/[object Object]'
        description: The friendly name of the AWS Firewall Manager policy.
      MemberAccount:
        $ref: '#/definitions/[object Object]'
        description: The member account ID.
      EvaluationResults:
        $ref: '#/definitions/[object Object]'
        description: An array of <code>EvaluationResult</code> objects.
      LastUpdated:
        $ref: '#/definitions/[object Object]'
        description: Time stamp of the last update to the <code>EvaluationResult</code> objects.
      IssueInfoMap:
        $ref: '#/definitions/[object Object]'
        description: 'Details about problems with dependent services, such as AWS WAF or AWS Config, that are causing a resource to be non-compliant. The details include the name of the dependent service and the error message recieved indicating the problem with the service.'
    description: Indicates whether the account is compliant with the specified policy. An account is considered non-compliant if it includes resources that are not protected by the policy.
  PolicyComplianceStatusList:
    type: array
    items:
      $ref: '#/definitions/[object Object]'
  PolicyComplianceStatusType:
    type: string
    enum:
      - COMPLIANT
      - NON_COMPLIANT
  PolicyId:
    type: string
    minLength: 36
    maxLength: 36
  PolicySummary:
    type: object
    properties:
      PolicyArn:
        $ref: '#/definitions/[object Object]'
        description: The Amazon Resource Name (ARN) of the specified policy.
      PolicyId:
        $ref: '#/definitions/[object Object]'
        description: The ID of the specified policy.
      PolicyName:
        $ref: '#/definitions/[object Object]'
        description: The friendly name of the specified policy.
      ResourceType:
        $ref: '#/definitions/[object Object]'
        description: 'The type of resource to protect with the policy, either an Application Load Balancer or a CloudFront distribution. This is in the format shown in <a href="https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-template-resource-type-ref.html">AWS Resource Types Reference</a>. Valid values are <code>AWS::ElasticLoadBalancingV2::LoadBalancer</code> or <code>AWS::CloudFront::Distribution</code>.'
      SecurityServiceType:
        $ref: '#/definitions/[object Object]'
        description: The service that the policy is using to protect the resources. This value is <code>WAF</code>.
      RemediationEnabled:
        $ref: '#/definitions/[object Object]'
        description: Indicates if the policy should be automatically applied to new resources.
    description: 'Details of the AWS Firewall Manager policy. '
  PolicySummaryList:
    type: array
    items:
      $ref: '#/definitions/[object Object]'
  PolicyUpdateToken:
    type: string
    minLength: 1
    maxLength: 1024
  ResourceArn:
    type: string
    minLength: 1
    maxLength: 1024
  ResourceCount:
    type: integer
    minimum: 0
  ResourceId:
    type: string
    minLength: 1
    maxLength: 1024
  ResourceName:
    type: string
    minLength: 1
    maxLength: 128
  ResourceTag:
    type: object
    required:
      - Key
    properties:
      Key:
        $ref: '#/definitions/[object Object]'
        description: The resource tag key.
      Value:
        $ref: '#/definitions/[object Object]'
        description: The resource tag value.
    description: 'The resource tags that AWS Firewall Manager uses to determine if a particular resource should be included or excluded from protection by the AWS Firewall Manager policy. Tags enable you to categorize your AWS resources in different ways, for example, by purpose, owner, or environment. Each tag consists of a key and an optional value, both of which you define. Tags are combined with an "OR." That is, if you add more than one tag, if any of the tags matches, the resource is considered a match for the include or exclude. <a href="https://docs.aws.amazon.com/awsconsolehelpdocs/latest/gsg/tag-editor.html">Working with Tag Editor</a>.'
  ResourceTags:
    type: array
    items:
      $ref: '#/definitions/[object Object]'
    minItems: 0
    maxItems: 8
  ResourceType:
    type: string
    minLength: 1
    maxLength: 128
  SecurityServicePolicyData:
    type: object
    required:
      - Type
    properties:
      Type:
        $ref: '#/definitions/[object Object]'
        description: The service that the policy is using to protect the resources. This value is <code>WAF</code>.
      ManagedServiceData:
        $ref: '#/definitions/[object Object]'
        description: '<p>Details about the service. This contains <code>WAF</code> data in JSON format, as shown in the following example:</p> <p> <code>ManagedServiceData": "{\"type\": \"WAF\", \"ruleGroups\": [{\"id\": \"12345678-1bcd-9012-efga-0987654321ab\", \"overrideAction\" : {\"type\": \"COUNT\"}}], \"defaultAction\": {\"type\": \"BLOCK\"}}</code> </p>'
    description: Details about the security service that is being used to protect the resources.
  SecurityServiceType:
    type: string
    enum:
      - WAF
  TagKey:
    type: string
    pattern: '^([\p{L}\p{Z}\p{N}_.:/=+\-@]*)$'
    minLength: 1
    maxLength: 128
  TagValue:
    type: string
    pattern: '^([\p{L}\p{Z}\p{N}_.:/=+\-@]*)$'
    maxLength: 256
  TimeStamp:
    type: string
    format: date-time
  ViolationReason:
    type: string
    enum:
      - WEB_ACL_MISSING_RULE_GROUP
      - RESOURCE_MISSING_WEB_ACL
      - RESOURCE_INCORRECT_WEB_ACL
