openapi: 3.0.0
servers:
  - url: https://webrisk.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: ""
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Web Risk API
  version: v1beta1
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
    - format: openapi
      url: https://webrisk.googleapis.com/$discovery/rest?version=v1
      version: "3.0"
  x-providerName: googleapis.com
  x-serviceName: webrisk
externalDocs:
  url: https://cloud.google.com/web-risk/
tags:
  - name: hashes
  - name: threatLists
  - name: uris
paths:
  /v1beta1/hashes:search:
    get:
      description: Gets the full hashes that match the requested hash prefix. This is used after a hash prefix is looked up in a threatList and there is a match. The client side threatList only holds partial hashes so the client must query this method to determine if there is a full hash match of a threat.
      operationId: webrisk.hashes.search
      parameters:
        - description: A hash prefix, consisting of the most significant 4-32 bytes of a SHA256 hash. For JSON requests, this field is base64-encoded.
          in: query
          name: hashPrefix
          schema:
            type: string
        - description: Required. The ThreatLists to search in. Multiple ThreatLists may be specified.
          explode: true
          in: query
          name: threatTypes
          schema:
            items:
              enum:
                - THREAT_TYPE_UNSPECIFIED
                - MALWARE
                - SOCIAL_ENGINEERING
                - UNWANTED_SOFTWARE
              type: string
            type: array
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudWebriskV1beta1SearchHashesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - hashes
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1beta1/threatLists:computeDiff:
    get:
      description: Gets the most recent threat list diffs. These diffs should be applied to a local database of hashes to keep it up-to-date. If the local database is empty or excessively out-of-date, a complete snapshot of the database will be returned.
      operationId: webrisk.threatLists.computeDiff
      parameters:
        - description: Sets the maximum number of entries that the client is willing to have in the local database. This should be a power of 2 between 2**10 and 2**20. If zero, no database size limit is set.
          in: query
          name: constraints.maxDatabaseEntries
          schema:
            type: integer
        - description: The maximum size in number of entries. The diff will not contain more entries than this value. This should be a power of 2 between 2**10 and 2**20. If zero, no diff size limit is set.
          in: query
          name: constraints.maxDiffEntries
          schema:
            type: integer
        - description: The compression types supported by the client.
          explode: true
          in: query
          name: constraints.supportedCompressions
          schema:
            items:
              enum:
                - COMPRESSION_TYPE_UNSPECIFIED
                - RAW
                - RICE
              type: string
            type: array
          style: form
        - description: Required. The threat list to update. Only a single ThreatType should be specified.
          in: query
          name: threatType
          schema:
            enum:
              - THREAT_TYPE_UNSPECIFIED
              - MALWARE
              - SOCIAL_ENGINEERING
              - UNWANTED_SOFTWARE
            type: string
        - description: The current version token of the client for the requested list (the client version that was received from the last successful diff). If the client does not have a version token (this is the first time calling ComputeThreatListDiff), this may be left empty and a full database snapshot will be returned.
          in: query
          name: versionToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudWebriskV1beta1ComputeThreatListDiffResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - threatLists
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1beta1/uris:search:
    get:
      description: This method is used to check whether a URI is on a given threatList. Multiple threatLists may be searched in a single query. The response will list all requested threatLists the URI was found to match. If the URI is not found on any of the requested ThreatList an empty response will be returned.
      operationId: webrisk.uris.search
      parameters:
        - description: Required. The ThreatLists to search in. Multiple ThreatLists may be specified.
          explode: true
          in: query
          name: threatTypes
          schema:
            items:
              enum:
                - THREAT_TYPE_UNSPECIFIED
                - MALWARE
                - SOCIAL_ENGINEERING
                - UNWANTED_SOFTWARE
              type: string
            type: array
          style: form
        - description: Required. The URI to be checked for matches.
          in: query
          name: uri
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudWebriskV1beta1SearchUrisResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - uris
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    GoogleCloudWebriskV1Submission:
      description: Wraps a URI that might be displaying malicious content.
      properties:
        threatTypes:
          description: ThreatTypes found to be associated with the submitted URI after reviewing it. This may be empty if the URI was not added to any list.
          items:
            enum:
              - THREAT_TYPE_UNSPECIFIED
              - MALWARE
              - SOCIAL_ENGINEERING
              - UNWANTED_SOFTWARE
            type: string
          type: array
        uri:
          description: Required. The URI that is being reported for malicious content to be analyzed.
          type: string
      type: object
    GoogleCloudWebriskV1SubmitUriMetadata:
      description: Metadata for the Submit URI long-running operation.
      properties:
        createTime:
          description: Creation time of the operation.
          format: google-datetime
          type: string
        state:
          description: The state of the operation.
          enum:
            - STATE_UNSPECIFIED
            - RUNNING
            - SUCCEEDED
            - CANCELLED
            - FAILED
          type: string
        updateTime:
          description: Latest update time of the operation.
          format: google-datetime
          type: string
      type: object
    GoogleCloudWebriskV1beta1ComputeThreatListDiffResponse:
      properties:
        additions:
          $ref: "#/components/schemas/GoogleCloudWebriskV1beta1ThreatEntryAdditions"
          description: A set of entries to add to a local threat type's list.
        checksum:
          $ref: "#/components/schemas/GoogleCloudWebriskV1beta1ComputeThreatListDiffResponseChecksum"
          description: The expected SHA256 hash of the client state; that is, of the sorted list of all hashes present in the database after applying the provided diff. If the client state doesn't match the expected state, the client must discard this diff and retry later.
        newVersionToken:
          description: The new opaque client version token. This should be retained by the client and passed into the next call of ComputeThreatListDiff as 'version_token'.
          format: byte
          type: string
        recommendedNextDiff:
          description: The soonest the client should wait before issuing any diff request. Querying sooner is unlikely to produce a meaningful diff. Waiting longer is acceptable considering the use case. If this field is not set clients may update as soon as they want.
          format: google-datetime
          type: string
        removals:
          $ref: "#/components/schemas/GoogleCloudWebriskV1beta1ThreatEntryRemovals"
          description: A set of entries to remove from a local threat type's list. This field may be empty.
        responseType:
          description: The type of response. This may indicate that an action must be taken by the client when the response is received.
          enum:
            - RESPONSE_TYPE_UNSPECIFIED
            - DIFF
            - RESET
          type: string
      type: object
    GoogleCloudWebriskV1beta1ComputeThreatListDiffResponseChecksum:
      description: The expected state of a client's local database.
      properties:
        sha256:
          description: The SHA256 hash of the client state; that is, of the sorted list of all hashes present in the database.
          format: byte
          type: string
      type: object
    GoogleCloudWebriskV1beta1RawHashes:
      description: The uncompressed threat entries in hash format. Hashes can be anywhere from 4 to 32 bytes in size. A large majority are 4 bytes, but some hashes are lengthened if they collide with the hash of a popular URI. Used for sending ThreatEntryAdditons to clients that do not support compression, or when sending non-4-byte hashes to clients that do support compression.
      properties:
        prefixSize:
          description: The number of bytes for each prefix encoded below. This field can be anywhere from 4 (shortest prefix) to 32 (full SHA256 hash). In practice this is almost always 4, except in exceptional circumstances.
          format: int32
          type: integer
        rawHashes:
          description: The hashes, in binary format, concatenated into one long string. Hashes are sorted in lexicographic order. For JSON API users, hashes are base64-encoded.
          format: byte
          type: string
      type: object
    GoogleCloudWebriskV1beta1RawIndices:
      description: A set of raw indices to remove from a local list.
      properties:
        indices:
          description: The indices to remove from a lexicographically-sorted local list.
          items:
            format: int32
            type: integer
          type: array
      type: object
    GoogleCloudWebriskV1beta1RiceDeltaEncoding:
      description: The Rice-Golomb encoded data. Used for sending compressed 4-byte hashes or compressed removal indices.
      properties:
        encodedData:
          description: The encoded deltas that are encoded using the Golomb-Rice coder.
          format: byte
          type: string
        entryCount:
          description: The number of entries that are delta encoded in the encoded data. If only a single integer was encoded, this will be zero and the single value will be stored in `first_value`.
          format: int32
          type: integer
        firstValue:
          description: The offset of the first entry in the encoded data, or, if only a single integer was encoded, that single integer's value. If the field is empty or missing, assume zero.
          format: int64
          type: string
        riceParameter:
          description: The Golomb-Rice parameter, which is a number between 2 and 28. This field is missing (that is, zero) if `num_entries` is zero.
          format: int32
          type: integer
      type: object
    GoogleCloudWebriskV1beta1SearchHashesResponse:
      properties:
        negativeExpireTime:
          description: For requested entities that did not match the threat list, how long to cache the response until.
          format: google-datetime
          type: string
        threats:
          description: The full hashes that matched the requested prefixes. The hash will be populated in the key.
          items:
            $ref: "#/components/schemas/GoogleCloudWebriskV1beta1SearchHashesResponseThreatHash"
          type: array
      type: object
    GoogleCloudWebriskV1beta1SearchHashesResponseThreatHash:
      description: Contains threat information on a matching hash.
      properties:
        expireTime:
          description: The cache lifetime for the returned match. Clients must not cache this response past this timestamp to avoid false positives.
          format: google-datetime
          type: string
        hash:
          description: A 32 byte SHA256 hash. This field is in binary format. For JSON requests, hashes are base64-encoded.
          format: byte
          type: string
        threatTypes:
          description: The ThreatList this threat belongs to. This must contain at least one entry.
          items:
            enum:
              - THREAT_TYPE_UNSPECIFIED
              - MALWARE
              - SOCIAL_ENGINEERING
              - UNWANTED_SOFTWARE
            type: string
          type: array
      type: object
    GoogleCloudWebriskV1beta1SearchUrisResponse:
      properties:
        threat:
          $ref: "#/components/schemas/GoogleCloudWebriskV1beta1SearchUrisResponseThreatUri"
          description: The threat list matches. This may be empty if the URI is on no list.
      type: object
    GoogleCloudWebriskV1beta1SearchUrisResponseThreatUri:
      description: Contains threat information on a matching uri.
      properties:
        expireTime:
          description: The cache lifetime for the returned match. Clients must not cache this response past this timestamp to avoid false positives.
          format: google-datetime
          type: string
        threatTypes:
          description: The ThreatList this threat belongs to.
          items:
            enum:
              - THREAT_TYPE_UNSPECIFIED
              - MALWARE
              - SOCIAL_ENGINEERING
              - UNWANTED_SOFTWARE
            type: string
          type: array
      type: object
    GoogleCloudWebriskV1beta1ThreatEntryAdditions:
      description: Contains the set of entries to add to a local database. May contain a combination of compressed and raw data in a single response.
      properties:
        rawHashes:
          description: The raw SHA256-formatted entries. Repeated to allow returning sets of hashes with different prefix sizes.
          items:
            $ref: "#/components/schemas/GoogleCloudWebriskV1beta1RawHashes"
          type: array
        riceHashes:
          $ref: "#/components/schemas/GoogleCloudWebriskV1beta1RiceDeltaEncoding"
          description: The encoded 4-byte prefixes of SHA256-formatted entries, using a Golomb-Rice encoding. The hashes are converted to uint32, sorted in ascending order, then delta encoded and stored as encoded_data.
      type: object
    GoogleCloudWebriskV1beta1ThreatEntryRemovals:
      description: Contains the set of entries to remove from a local database.
      properties:
        rawIndices:
          $ref: "#/components/schemas/GoogleCloudWebriskV1beta1RawIndices"
          description: The raw removal indices for a local list.
        riceIndices:
          $ref: "#/components/schemas/GoogleCloudWebriskV1beta1RiceDeltaEncoding"
          description: The encoded local, lexicographically-sorted list indices, using a Golomb-Rice encoding. Used for sending compressed removal indices. The removal indices (uint32) are sorted in ascending order, then delta encoded and stored as encoded_data.
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account.
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account.
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
