openapi: 3.0.0
servers:
  - url: 'https://api.apitore.com/api/28'
info:
  description: 'Rss to Json.<BR />[Endpoint] https://api.apitore.com/api/28'
  title: RSS2JSON APIs
  version: 0.0.1
  x-description-language: jp
  x-logo:
    url: 'https://apitore.com/img/apis/28.jpg'
  x-origin:
    - format: swagger
      url: 'https://api.apitore.com/json/28'
      version: '2.0'
  x-providerName: apitore.com
  x-serviceName: rss2jsonApis
tags:
  - description: Rome Controller
    name: rome-controller
paths:
  /rome/rss2json:
    get:
      description: 'RSS to Json.<BR />Response<BR />&nbsp; Github: <a href="https://github.com/keigohtr/apitore-response-parent/tree/master/rome-response">rome-response</a><BR />&nbsp; Class: com.apitore.banana.response.org.rome.SyndFeedResponseEntity<BR />'
      operationId: rss2jsonUsingGET
      parameters:
        - description: Access Token
          in: query
          name: access_token
          required: true
          schema:
            type: string
        - description: RSS
          in: query
          name: rss
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyndFeedResponseEntity'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: RSS to JSON
      tags:
        - rome-controller
components:
  schemas:
    SyndEntryEntity:
      properties:
        author:
          description: Author
          type: string
        description:
          description: Description
          type: string
        link:
          description: Link
          type: string
        pubDate:
          description: Published Date
          format: int64
          type: integer
        title:
          description: Title
          type: string
      required:
        - link
        - pubDate
        - title
      type: object
    SyndFeedResponseEntity:
      properties:
        author:
          description: Author
          type: string
        description:
          description: Description
          type: string
        endTime:
          description: End date
          type: string
        entries:
          description: Entries
          items:
            $ref: '#/components/schemas/SyndEntryEntity'
          type: array
        link:
          description: Link
          type: string
        log:
          description: Log message
          type: string
        num:
          description: Num
          format: int32
          type: integer
        processTime:
          description: 'Process time [millisecond]'
          type: string
        pubDate:
          description: Published Date
          format: int64
          type: integer
        rss:
          description: Input RSS
          type: string
        startTime:
          description: Start date
          type: string
        title:
          description: Title
          type: string
      required:
        - endTime
        - entries
        - link
        - log
        - num
        - processTime
        - pubDate
        - rss
        - startTime
        - title
      type: object
