openapi: 3.0.0
servers:
  - url: 'https://app.apacta.com/api/v1'
info:
  description: |-
    API for a tool to craftsmen used to register working hours, material usage and quality assurance.    
    # Endpoint
    The endpoint `https://app.apacta.com/api/v1` should be used to communicate with the API. API access is only allowed with SSL encrypted connection (https).
    # Authentication
    URL query authentication with an API key is used, so appending `?api_key={api_key}` to the URL where `{api_key}` is found within Apacta settings is used for authentication
    # Pagination
    If the endpoint returns a `pagination` object it means the endpoint supports pagination - currently it's only possible to change pages with `?page={page_number}` but implementing custom page sizes are on the road map.


    # Search/filter
    Is experimental but implemented in some cases - see the individual endpoints' docs for further explanation.
    # Ordering
    Is currently experimental, but on some endpoints it's implemented on URL querys so eg. to order Invoices by `invoice_number` appending `?sort=Invoices.invoice_number&direction=desc` would sort the list descending by the value of `invoice_number`.
    # Associations
    Is currently implemented on an experimental basis where you can append eg. `?include=Contacts,Projects`  to the `/api/v1/invoices/` endpoint to embed `Contact` and `Project` objects directly.
    # Project Files
    Currently project files can be retrieved from two endpoints. `/projects/{project_id}/files` handles files uploaded from wall posts or forms. `/projects/{project_id}/project_files` allows uploading and showing files, not belonging to specific form or wall post.
    # Errors/Exceptions
    ## 422 (Validation)
    Write something about how the `errors` object contains keys with the properties that failes validation like:
    ```
      {
          "success": false,
          "data": {
              "code": 422,
              "url": "/api/v1/contacts?api_key=5523be3b-30ef-425d-8203-04df7caaa93a",
              "message": "A validation error occurred",
              "errorCount": 1,
              "errors": {
                  "contact_types": [ ## Property name that failed validation
                      "Contacts must have at least one contact type" ## Message with further explanation
                  ]
              }
          }
      }
    ```
    ## Code examples
    Running examples of how to retrieve the 5 most recent forms registered and embed the details of the User that made the form, and eventual products contained in the form
    ### Swift
    ```
      
    ```
    ### Java
    #### OkHttp
    ```
      OkHttpClient client = new OkHttpClient();
      
      Request request = new Request.Builder()
        .url("https://app.apacta.com/api/v1/forms?extended=true&sort=Forms.created&direction=DESC&include=Products%2CCreatedBy&limit=5")
        .get()
        .addHeader("x-auth-token", "{INSERT_YOUR_TOKEN}")
        .addHeader("accept", "application/json")
        .build();
      
      Response response = client.newCall(request).execute();
    ```
    #### Unirest
    ```
      HttpResponse<String> response = Unirest.get("https://app.apacta.com/api/v1/forms?extended=true&sort=Forms.created&direction=DESC&include=Products%2CCreatedBy&limit=5")
        .header("x-auth-token", "{INSERT_YOUR_TOKEN}")
        .header("accept", "application/json")
        .asString();
    ```
    ### Javascript
    #### Native
    ```
      var data = null;
      
      var xhr = new XMLHttpRequest();
      xhr.withCredentials = true;
      
      xhr.addEventListener("readystatechange", function () {
        if (this.readyState === 4) {
          console.log(this.responseText);
        }
      });
      
      xhr.open("GET", "https://app.apacta.com/api/v1/forms?extended=true&sort=Forms.created&direction=DESC&include=Products%2CCreatedBy&limit=5");
      xhr.setRequestHeader("x-auth-token", "{INSERT_YOUR_TOKEN}");
      xhr.setRequestHeader("accept", "application/json");
      
      xhr.send(data);
    ```
    #### jQuery
    ```
      var settings = {
        "async": true,
        "crossDomain": true,
        "url": "https://app.apacta.com/api/v1/forms?extended=true&sort=Forms.created&direction=DESC&include=Products%2CCreatedBy&limit=5",
        "method": "GET",
        "headers": {
          "x-auth-token": "{INSERT_YOUR_TOKEN}",
          "accept": "application/json",
        }
      }
      
      $.ajax(settings).done(function (response) {
        console.log(response);
      });
    ```
    #### NodeJS (Request)
    ```
      var request = require("request");

      var options = { method: 'GET',
        url: 'https://app.apacta.com/api/v1/forms',
        qs: 
         { extended: 'true',
           sort: 'Forms.created',
           direction: 'DESC',
           include: 'Products,CreatedBy',
           limit: '5' },
        headers: 
         { accept: 'application/json',
           'x-auth-token': '{INSERT_YOUR_TOKEN}' } };
      
      request(options, function (error, response, body) {
        if (error) throw new Error(error);
      
        console.log(body);
      });

    ```
    ### Python 3
    ```
      import http.client
      
      conn = http.client.HTTPSConnection("app.apacta.com")
      
      payload = ""
      
      headers = {
          'x-auth-token': "{INSERT_YOUR_TOKEN}",
          'accept': "application/json",
          }
      
      conn.request("GET", "/api/v1/forms?extended=true&sort=Forms.created&direction=DESC&include=Products%2CCreatedBy&limit=5", payload, headers)
      
      res = conn.getresponse()
      data = res.read()
      
      print(data.decode("utf-8"))
    ```
    ### C#
    #### RestSharp
    ```
      var client = new RestClient("https://app.apacta.com/api/v1/forms?extended=true&sort=Forms.created&direction=DESC&include=Products%2CCreatedBy&limit=5");
      var request = new RestRequest(Method.GET);
      request.AddHeader("accept", "application/json");
      request.AddHeader("x-auth-token", "{INSERT_YOUR_TOKEN}");
      IRestResponse response = client.Execute(request);    
    ```
    ### Ruby
    ```
      require 'uri'
      require 'net/http'
      
      url = URI("https://app.apacta.com/api/v1/forms?extended=true&sort=Forms.created&direction=DESC&include=Products%2CCreatedBy&limit=5")
      
      http = Net::HTTP.new(url.host, url.port)
      http.use_ssl = true
      http.verify_mode = OpenSSL::SSL::VERIFY_NONE
      
      request = Net::HTTP::Get.new(url)
      request["x-auth-token"] = '{INSERT_YOUR_TOKEN}'
      request["accept"] = 'application/json'
      
      response = http.request(request)
      puts response.read_body
    ```
    ### PHP (HttpRequest)
    ```
      <?php

      $request = new HttpRequest();
      $request->setUrl('https://app.apacta.com/api/v1/forms');
      $request->setMethod(HTTP_METH_GET);
      
      $request->setQueryData(array(
        'extended' => 'true',
        'sort' => 'Forms.created',
        'direction' => 'DESC',
        'include' => 'Products,CreatedBy',
        'limit' => '5'
      ));
      
      $request->setHeaders(array(
        'accept' => 'application/json',
        'x-auth-token' => '{INSERT_YOUR_TOKEN}'
      ));
      
      try {
        $response = $request->send();
      
        echo $response->getBody();
      } catch (HttpException $ex) {
        echo $ex;
      }
    ```
    ### Shell (cURL)
    ```

      $ curl --request GET --url 'https://app.apacta.com/api/v1/forms?extended=true&sort=Forms.created&direction=DESC&include=Products%2CCreatedBy&limit=5' --header 'accept: application/json' --header 'x-auth-token: {INSERT_YOUR_TOKEN}'
      
    ```
  title: Apacta
  version: 0.0.1
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://apacta.com/wp-content/uploads/2016/01/apactalogo.png'
  x-origin:
    - format: swagger
      url: 'http://apidoc.apacta.com/swagger.yaml'
      version: '2.0'
  x-providerName: apacta.com
tags:
  - description: Experimental
    name: TimeEntries
  - description: Experimental
    name: TimeEntryIntervals
  - description: Experimental
    name: TimeEntryTypes
  - description: Experimental
    name: TimeEntryUnitTypes
  - description: Experimental
    name: TimeEntryValueTypes
paths:
  /cities:
    get:
      parameters:
        - description: Used to search for a city with specific zip code
          in: query
          name: zip_code
          required: false
          schema:
            type: string
      responses:
        '200':
          description: City object
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/City'
                  success:
                    default: true
                    type: boolean
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Get list of cities supported in Apacta
      tags:
        - Cities
  '/cities/{city_id}':
    get:
      parameters:
        - in: path
          name: city_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Details of city
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/City'
                  success:
                    default: true
                    type: boolean
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Get details about one city
      tags:
        - Cities
  /clocking_records:
    get:
      parameters:
        - description: Used to search for active clocking records
          in: query
          name: active
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: List of clocking records
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/ClockingRecord'
                    type: array
                  pagination:
                    $ref: '#/components/schemas/PaginationDetails'
                  success:
                    default: true
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Get a list of clocking records
      tags:
        - ClockingRecords
    post:
      responses:
        '201':
          description: Successfully added clocking record
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      id:
                        format: uuid
                        type: string
                    type: object
                  success:
                    default: true
                    type: boolean
                type: object
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorValidation'
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Create clocking record for authenticated user
      tags:
        - ClockingRecords
      requestBody:
        content:
          application/json:
            schema:
              properties:
                checkin_latitude:
                  type: string
                checkin_longitude:
                  type: string
                checkout_latitude:
                  type: string
                checkout_longitude:
                  type: string
                project_id:
                  format: uuid
                  type: string
              type: object
        required: true
  /clocking_records/checkout:
    post:
      responses:
        '201':
          description: Successfully checked out
          content:
            application/json:
              schema:
                properties:
                  success:
                    default: true
                    type: boolean
                type: object
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorValidation'
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Checkout active clocking record for authenticated user
      tags:
        - ClockingRecords
  '/clocking_records/{clocking_record_id}':
    delete:
      parameters:
        - in: path
          name: clocking_record_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      type: string
                    type: array
                  success:
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Delete a clocking record
      tags:
        - ClockingRecords
    get:
      parameters:
        - in: path
          name: clocking_record_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Clocking record object
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/ClockingRecord'
                  success:
                    default: true
                    type: boolean
                type: object
        '404':
          description: Clocking record not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Details of 1 clocking_record
      tags:
        - ClockingRecords
    put:
      parameters:
        - in: path
          name: clocking_record_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      type: object
                    type: array
                  success:
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Edit a clocking record
      tags:
        - ClockingRecords
  /contact_types:
    get:
      parameters:
        - description: Search for specific identifier value
          in: query
          name: identifier
          schema:
            type: string
      responses:
        '200':
          description: Contact object with city embedded
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/ContactType'
                    type: array
                  pagination:
                    $ref: '#/components/schemas/PaginationDetails'
                  success:
                    default: true
                    type: boolean
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Get list of contact types supported in Apacta
      tags:
        - ContactTypes
  '/contact_types/{contact_type_id}':
    get:
      parameters:
        - in: path
          name: contact_type_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Details of contact type
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/ContactType'
                  success:
                    default: true
                    type: boolean
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Get details about one contact type
      tags:
        - ContactTypes
  /contacts:
    get:
      parameters:
        - description: Used to search for a contact with a specific name
          in: query
          name: name
          required: false
          schema:
            type: string
        - description: Search for values in CVR field
          in: query
          name: cvr
          schema:
            type: string
        - description: Search for values in EAN field
          in: query
          name: ean
          schema:
            type: string
        - description: Search for values in ERP id field
          in: query
          name: erp_id
          schema:
            type: string
        - description: Used to show only contacts with with one specific `ContactType`
          in: query
          name: contact_type
          schema:
            type: string
            format: uuid
        - description: Used to show only contacts with with one specific `City`
          in: query
          name: city
          schema:
            type: string
      responses:
        '200':
          description: List of contacts with city embedded
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Contact'
                    type: array
                  pagination:
                    $ref: '#/components/schemas/PaginationDetails'
                  success:
                    default: true
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Get a list of contacts
      tags:
        - Contacts
    post:
      responses:
        '201':
          description: Successfully added contact
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      id:
                        format: uuid
                        type: string
                    type: object
                  success:
                    default: true
                    type: boolean
                type: object
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorValidation'
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Add a new contact
      tags:
        - Contacts
      requestBody:
        $ref: '#/components/requestBodies/Contact'
  '/contacts/{contact_id}':
    delete:
      parameters:
        - in: path
          name: contact_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      type: string
                    type: array
                  success:
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Delete a contact
      tags:
        - Contacts
    get:
      parameters:
        - in: path
          name: contact_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Contact object with city embedded
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/Contact'
                  success:
                    default: true
                    type: boolean
                type: object
        '404':
          description: Contact not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Details of 1 contact
      tags:
        - Contacts
    put:
      parameters:
        - in: path
          name: contact_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      type: object
                    type: array
                  success:
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Edit a contact
      tags:
        - Contacts
      requestBody:
        $ref: '#/components/requestBodies/Contact'
  /currencies:
    get:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Currency'
                    type: array
                  pagination:
                    $ref: '#/components/schemas/PaginationDetails'
                  success:
                    default: true
                    type: boolean
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Get list of currencies supported in Apacta
      tags:
        - Currencies
  '/currencies/{currency_id}':
    get:
      parameters:
        - in: path
          name: currency_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Details of currency
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/Currency'
                  success:
                    default: true
                    type: boolean
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Get details about one currency
      tags:
        - Currencies
  /employee_hours:
    get:
      parameters:
        - description: Date formatted as Y-m-d (2016-06-28)
          in: query
          name: date_from
          required: true
          schema:
            type: string
        - description: Date formatted as Y-m-d (2016-06-28)
          in: query
          name: date_to
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfull retrieve hours
          content:
            application/json:
              schema:
                properties:
                  data:
                    description: One element per form in the period
                    items:
                      properties:
                        form_date:
                          description: Y-m-d formatted
                          format: date
                          type: string
                        form_id:
                          format: uuid
                          type: string
                        project_name:
                          type: string
                        total_hours:
                          description: The amount of hours in seconds
                          format: int32
                          type: integer
                        working_description:
                          description: Trimmed at 50 characters
                          type: string
                        working_description_full:
                          description: Full work description (if available)
                          type: string
                      type: object
                    type: array
                  success:
                    default: true
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Used to retrieve details about the logged in user's hours
      tags:
        - EmployeeHours
  /expense_files:
    get:
      parameters:
        - in: query
          name: created_by_id
          schema:
            type: string
            format: uuid
        - in: query
          name: expense_id
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/ExpenseFile'
                    type: array
                  pagination:
                    $ref: '#/components/schemas/PaginationDetails'
                  success:
                    default: true
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Show list of expense files
      tags:
        - ExpenseFiles
    post:
      responses:
        '201':
          description: Successfully added file
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      id:
                        format: uuid
                        type: string
                    type: object
                  success:
                    default: true
                    type: boolean
                type: object
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorValidation'
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Add file to expense
      tags:
        - ExpenseFiles
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                description:
                  type: string
        required: true
  '/expense_files/{expense_file_id}':
    delete:
      parameters:
        - in: path
          name: expense_file_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      type: string
                    type: array
                  success:
                    default: true
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Delete file
      tags:
        - ExpenseFiles
    get:
      parameters:
        - in: path
          name: expense_file_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      type: string
                    type: array
                  success:
                    default: true
                    type: boolean
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Show file
      tags:
        - ExpenseFiles
    put:
      parameters:
        - in: path
          name: expense_file_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: object
                  success:
                    default: true
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Edit file
      tags:
        - ExpenseFiles
  /expense_lines:
    get:
      parameters:
        - in: query
          name: created_by_id
          schema:
            type: string
            format: uuid
        - in: query
          name: currency_id
          schema:
            type: string
            format: uuid
        - in: query
          name: expense_id
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/ExpenseLine'
                    type: array
                  pagination:
                    $ref: '#/components/schemas/PaginationDetails'
                  success:
                    default: true
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Show list of expense lines
      tags:
        - ExpenseLines
    post:
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      id:
                        format: uuid
                        type: string
                    type: object
                  success:
                    default: true
                    type: boolean
                type: object
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorValidation'
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Add line to expense
      tags:
        - ExpenseLines
      requestBody:
        content:
          application/json:
            schema:
              properties:
                buying_price:
                  format: float
                  type: number
                currency_id:
                  format: uuid
                  type: string
                expense_id:
                  format: uuid
                  type: string
                quantity:
                  format: int32
                  type: integer
                selling_price:
                  format: float
                  type: number
                text:
                  maxLength: 255
                  type: string
              type: object
  '/expense_lines/{expense_line_id}':
    delete:
      parameters:
        - in: path
          name: expense_line_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/ExpenseLine'
                  success:
                    default: true
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Delete expense line
      tags:
        - ExpenseLines
    get:
      parameters:
        - in: path
          name: expense_line_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/ExpenseLine'
                  success:
                    default: true
                    type: boolean
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Show expense line
      tags:
        - ExpenseLines
    put:
      parameters:
        - in: path
          name: expense_line_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/ExpenseLine'
                  success:
                    default: true
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Edit expense line
      tags:
        - ExpenseLines
  /expenses:
    get:
      parameters:
        - in: query
          name: created_by_id
          schema:
            type: string
            format: uuid
        - in: query
          name: company_id
          schema:
            type: string
            format: uuid
        - in: query
          name: contact_id
          schema:
            type: string
            format: uuid
        - in: query
          name: project_id
          schema:
            type: string
            format: uuid
        - description: Created after date
          in: query
          name: gt_created
          schema:
            type: string
            format: date
        - description: Created before date
          in: query
          name: lt_created
          schema:
            type: string
            format: date
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Expense'
                    type: array
                  pagination:
                    $ref: '#/components/schemas/PaginationDetails'
                  success:
                    default: true
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Show list of expenses
      tags:
        - Expenses
    post:
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      id:
                        format: uuid
                        type: string
                    type: object
                  success:
                    default: true
                    type: boolean
                type: object
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorValidation'
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Add line to expense
      tags:
        - Expenses
      requestBody:
        content:
          application/json:
            schema:
              properties:
                contact_id:
                  format: uuid
                  type: string
                currency_id:
                  format: uuid
                  type: string
                delivery_date:
                  format: date
                  type: string
                description:
                  maxLength: 8192
                  type: string
                project_id:
                  format: uuid
                  type: string
                reference:
                  maxLength: 8192
                  type: string
                short_text:
                  maxLength: 255
                  type: string
                supplier_invoice_number:
                  maxLength: 255
                  type: string
              type: object
  '/expenses/{expense_id}':
    delete:
      parameters:
        - in: path
          name: expense_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/Expense'
                  success:
                    default: true
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Delete expense
      tags:
        - Expenses
    get:
      parameters:
        - in: path
          name: expense_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/Expense'
                  success:
                    default: true
                    type: boolean
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Show expense
      tags:
        - Expenses
    put:
      parameters:
        - in: path
          name: expense_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/Expense'
                  success:
                    default: true
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Edit expense
      tags:
        - Expenses
  /form_field_types:
    get:
      parameters:
        - description: Used to filter on the `name` of the form_fields
          in: query
          name: name
          required: false
          schema:
            type: string
        - description: Used to filter on the `identifier` of the form_fields
          in: query
          name: identifier
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/FormFieldType'
                    type: array
                  pagination:
                    $ref: '#/components/schemas/PaginationDetails'
                  success:
                    default: true
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Get list of form field types
      tags:
        - FormFieldTypes
  '/form_field_types/{form_field_type_id}':
    get:
      parameters:
        - in: path
          name: form_field_type_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Details of `FormFieldType`
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/FormFieldType'
                  success:
                    type: boolean
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Get details about single `FormField`
      tags:
        - FormFieldTypes
  /form_fields:
    post:
      responses:
        '201':
          description: Successfully added field
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      id:
                        format: uuid
                        type: string
                    type: object
                  success:
                    default: true
                    type: boolean
                type: object
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorValidation'
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Add a new field to a `Form`
      tags:
        - FormFields
      requestBody:
        content:
          application/json:
            schema:
              properties:
                comment:
                  maxLength: 8192
                  type: string
                content_value:
                  maxLength: 255
                  type: string
                file_id:
                  format: uuid
                  type: string
                form_field_type_id:
                  format: uuid
                  type: string
                form_id:
                  format: uuid
                  type: string
                form_template_field_id:
                  format: uuid
                  type: string
                placement:
                  format: int32
                  type: integer
              type: object
  '/form_fields/{form_field_id}':
    get:
      parameters:
        - in: path
          name: form_field_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Details of `FormField`
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/FormField'
                  success:
                    default: true
                    type: boolean
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Get details about single `FormField`
      tags:
        - FormFields
  /form_templates:
    get:
      parameters:
        - description: Used to filter on the `name` of the form_templates
          in: query
          name: name
          schema:
            type: string
        - description: Used to filter on the `identifier` of the form_templates
          in: query
          name: identifier
          required: false
          schema:
            type: string
        - description: Used to filter on the `pdf_template_identifier` of the form_templates
          in: query
          name: pdf_template_identifier
          schema:
            type: string
        - description: Used to filter on the `description` of the form_templates
          in: query
          name: description
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/FormTemplate'
                    type: array
                  pagination:
                    $ref: '#/components/schemas/PaginationDetails'
                  success:
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Get array of form_templates for your company
      tags:
        - FormTemplates
  '/form_templates/{form_template_id}':
    get:
      parameters:
        - in: path
          name: form_template_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/FormTemplate'
                  success:
                    type: boolean
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: View one form template
      tags:
        - FormTemplates
  /forms:
    get:
      parameters:
        - description: Used to have extended details from the forms from the `Form`'s `FormFields`
          in: query
          name: extended
          schema:
            type: string
            enum:
              - true
              - false
        - description: Used in conjunction with `date_to` to only show forms within these dates - format like `2016-28-05`
          in: query
          name: date_from
          schema:
            type: string
            format: Y-m-d
        - description: Used in conjunction with `date_from` to only show forms within these dates - format like `2016-28-30`
          in: query
          name: date_to
          schema:
            type: string
            format: Y-m-d
        - description: Used to filter on the `project_id` of the forms
          in: query
          name: project_id
          schema:
            type: string
            format: uuid
        - description: Used to filter on the `created_by_id` of the forms
          in: query
          name: created_by_id
          required: false
          schema:
            type: string
        - description: Used to filter on the `form_template_id` of the forms
          in: query
          name: form_template_id
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Form'
                    type: array
                  pagination:
                    $ref: '#/components/schemas/PaginationDetails'
                  success:
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Retrieve array of forms
      tags:
        - Forms
    post:
      description: Used to add a form into the system
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      id:
                        format: uuid
                        type: string
                    type: object
                  success:
                    default: true
                    type: boolean
                type: object
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorValidation'
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Add new form
      tags:
        - Forms
      requestBody:
        content:
          application/json:
            schema:
              properties:
                form_template_id:
                  format: uuid
                  type: string
                project_id:
                  format: uuid
                  type: string
              required:
                - project_id
                - form_template_id
              type: object
  '/forms/{form_id}':
    delete:
      description: You can only delete the forms that you've submitted yourself
      parameters:
        - in: path
          name: form_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Delete a form
      tags:
        - Forms
    get:
      parameters:
        - in: path
          name: form_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/Form'
                  success:
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: View form
      tags:
        - Forms
    put:
      parameters:
        - in: path
          name: form_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Edit a form
      tags:
        - Forms
  /invoice_lines:
    get:
      parameters:
        - in: query
          name: invoice_id
          schema:
            type: string
            format: uuid
        - in: query
          name: product_id
          schema:
            type: string
            format: uuid
        - in: query
          name: user_id
          schema:
            type: string
            format: uuid
        - in: query
          name: name
          schema:
            type: string
        - in: query
          name: discount_text
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/InvoiceLine'
                    type: array
                  pagination:
                    $ref: '#/components/schemas/PaginationDetails'
                  success:
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: View list of invoice lines
      tags:
        - InvoiceLines
    post:
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      id:
                        format: uuid
                        type: string
                    type: object
                  success:
                    default: true
                    type: boolean
                type: object
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorValidation'
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Add invoice
      tags:
        - InvoiceLines
      requestBody:
        $ref: '#/components/requestBodies/InvoiceLine'
  '/invoice_lines/{invoice_line_id}':
    delete:
      parameters:
        - in: path
          name: invoice_line_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      type: object
                    type: array
                  success:
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Delete invoice line
      tags:
        - InvoiceLines
    get:
      parameters:
        - in: path
          name: invoice_line_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/InvoiceLine'
                  success:
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: View invoice line
      tags:
        - InvoiceLines
    put:
      parameters:
        - in: path
          name: invoice_line_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      type: object
                    type: array
                  success:
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Edit invoice line
      tags:
        - InvoiceLines
      requestBody:
        $ref: '#/components/requestBodies/InvoiceLine'
  /invoices:
    get:
      parameters:
        - description: Used to filter on the `contact_id` of the invoices
          in: query
          name: contact_id
          schema:
            type: string
            format: uuid
        - description: Used to filter on the `project_id` of the invoices
          in: query
          name: project_id
          required: false
          schema:
            type: string
            format: uuid
        - description: Used to filter on the `invoice_number` of the invoices
          in: query
          name: invoice_number
          schema:
            type: string
        - in: query
          name: offer_number
          schema:
            type: string
        - in: query
          name: is_draft
          schema:
            type: integer
            enum:
              - 0
              - 1
        - in: query
          name: is_offer
          schema:
            type: integer
            enum:
              - 0
              - 1
        - in: query
          name: is_locked
          schema:
            type: integer
            enum:
              - 0
              - 1
        - in: query
          name: date_from
          schema:
            type: string
            format: date
        - in: query
          name: date_to
          schema:
            type: string
            format: date
        - in: query
          name: issued_date
          schema:
            type: string
            format: date
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Invoice'
                    type: array
                  pagination:
                    $ref: '#/components/schemas/PaginationDetails'
                  success:
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: View list of invoices
      tags:
        - Invoices
    post:
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      id:
                        format: uuid
                        type: string
                    type: object
                  success:
                    default: true
                    type: boolean
                type: object
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorValidation'
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Add invoice
      tags:
        - Invoices
      requestBody:
        $ref: '#/components/requestBodies/Invoice'
  '/invoices/{invoice_id}':
    delete:
      parameters:
        - in: path
          name: invoice_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      type: object
                    type: array
                  success:
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Delete invoice
      tags:
        - Invoices
    get:
      parameters:
        - in: path
          name: invoice_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/Invoice'
                  success:
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: View invoice
      tags:
        - Invoices
    put:
      parameters:
        - in: path
          name: invoice_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      type: object
                    type: array
                  success:
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Edit invoice
      tags:
        - Invoices
      requestBody:
        $ref: '#/components/requestBodies/Invoice'
  /mass_messages_users:
    get:
      parameters:
        - description: Used to filter on the `is_read` of the mass messages
          in: query
          name: is_read
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/MassMessagesUser'
                    type: array
                  pagination:
                    $ref: '#/components/schemas/PaginationDetails'
                  success:
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: View list of mass messages for specific user
      tags:
        - MassMessagesUsers
  '/mass_messages_users/{mass_messages_user_id}':
    get:
      parameters:
        - in: path
          name: mass_messages_user_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/MassMessagesUser'
                  success:
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: View mass message
      tags:
        - MassMessagesUsers
    put:
      parameters:
        - in: path
          name: mass_messages_user_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      type: object
                    type: array
                  success:
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Edit mass message
      tags:
        - MassMessagesUsers
  /materials:
    get:
      parameters:
        - description: Used to filter on the `barcode` of the materials
          in: query
          name: barcode
          required: false
          schema:
            type: string
        - description: Used to filter on the `name` of the materials
          in: query
          name: name
          required: false
          schema:
            type: string
        - description: Used to find materials used in specific project by `project_id`
          in: query
          name: project_id
          required: false
          schema:
            type: string
            format: uuid
        - description: Used to find currently rented materials
          in: query
          name: currently_rented
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Material'
                    type: array
                  pagination:
                    $ref: '#/components/schemas/PaginationDetails'
                  success:
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: View list of all materials
      tags:
        - Materials
  '/materials/{material_id}':
    delete:
      parameters:
        - in: path
          name: material_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      type: object
                    type: array
                  success:
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Delete material
      tags:
        - Materials
    get:
      parameters:
        - in: path
          name: material_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/Material'
                  success:
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: View material
      tags:
        - Materials
    put:
      parameters:
        - in: path
          name: material_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      type: object
                    type: array
                  success:
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Edit material
      tags:
        - Materials
  '/materials/{material_id}/rentals/':
    get:
      parameters:
        - in: path
          name: material_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/MaterialRental'
                    type: array
                  pagination:
                    $ref: '#/components/schemas/PaginationDetails'
                  success:
                    default: true
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Show list of rentals for specific material
      tags:
        - MaterialRentals
    post:
      parameters:
        - in: path
          name: material_id
          required: true
          schema:
            type: string
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      id:
                        format: uuid
                        type: string
                    type: object
                  success:
                    default: true
                    type: boolean
                type: object
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorValidation'
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Add material rental
      tags:
        - MaterialRentals
      requestBody:
        content:
          application/json:
            schema:
              properties:
                form_id:
                  format: uuid
                  type: string
                from_date:
                  format: dateTime
                  type: string
                is_invoiced:
                  format: dateTime
                  type: string
                material_id:
                  format: uuid
                  type: string
                project_id:
                  format: uuid
                  type: string
                quantity:
                  format: float
                  type: number
                to_date:
                  format: dateTime
                  type: string
              type: object
  '/materials/{material_id}/rentals/checkout/':
    post:
      parameters:
        - in: path
          name: material_id
          required: true
          schema:
            type: string
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      id:
                        format: uuid
                        type: string
                    type: object
                  success:
                    default: true
                    type: boolean
                type: object
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorValidation'
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Checkout material rental
      tags:
        - MaterialRentals
      requestBody:
        content:
          application/json:
            schema:
              properties:
                form_id:
                  format: uuid
                  type: string
                material_rental_id:
                  format: uuid
                  type: string
                to_date:
                  format: dateTime
                  type: string
              type: object
  '/materials/{material_id}/rentals/{material_rental_id}/':
    delete:
      description: Delete rental for material
      parameters:
        - in: path
          name: material_id
          required: true
          schema:
            type: string
            format: uuid
        - in: path
          name: material_rental_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: object
                  success:
                    default: true
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Delete material rental
      tags:
        - MaterialRentals
    get:
      parameters:
        - in: path
          name: material_id
          required: true
          schema:
            type: string
        - in: path
          name: material_rental_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/MaterialRental'
                  success:
                    type: boolean
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Show rental foor materi
      tags:
        - MaterialRentals
    post:
      parameters:
        - in: path
          name: material_id
          required: true
          schema:
            type: string
        - in: path
          name: material_rental_id
          required: true
          schema:
            type: string
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      id:
                        format: uuid
                        type: string
                    type: object
                  success:
                    default: true
                    type: boolean
                type: object
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorValidation'
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Add material
      tags:
        - Materials
      requestBody:
        content:
          application/json:
            schema:
              properties:
                barcode:
                  type: string
                billing_cysle:
                  enum:
                    - hourly
                    - daily
                    - weekly
                  type: string
                cost_price:
                  format: float
                  type: number
                description:
                  type: string
                is_single_usage:
                  type: boolean
                name:
                  type: string
                selling_price:
                  format: float
                  type: number
              type: object
    put:
      description: Edit material rental
      parameters:
        - in: path
          name: material_id
          required: true
          schema:
            type: string
            format: uuid
        - in: path
          name: material_rental_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: object
                  success:
                    default: true
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Edit material rental
      tags:
        - MaterialRentals
  /ping:
    get:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  status:
                    default: ok
                    type: string
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Check if API is up and API key works
      tags:
        - Ping
  /products:
    get:
      parameters:
        - description: Used to filter on the `name` of the products
          in: query
          name: name
          schema:
            type: string
        - description: Used to filter on the `product_number` of the products
          in: query
          name: product_number
          schema:
            type: string
            format: uuid
        - description: Used to filter on the `barcode` of the products
          in: query
          name: barcode
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Product'
                    type: array
                  pagination:
                    $ref: '#/components/schemas/PaginationDetails'
                  success:
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: List products
      tags:
        - Products
    post:
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      id:
                        format: uuid
                        type: string
                    type: object
                  success:
                    default: true
                    type: boolean
                type: object
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorValidation'
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Add new product
      tags:
        - Products
      requestBody:
        content:
          application/json:
            schema:
              properties:
                barcode:
                  maxLength: 255
                  type: string
                buying_price:
                  format: double
                  type: number
                description:
                  maxLength: 8192
                  type: string
                erp_id:
                  maxLength: 255
                  type: string
                name:
                  maxLength: 255
                  type: string
                product_number:
                  maxLength: 255
                  type: string
                selling_price:
                  format: double
                  type: number
              required:
                - name
              type: object
  '/products/{product_id}':
    delete:
      parameters:
        - in: path
          name: product_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      type: string
                    type: array
                  success:
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Delete a product
      tags:
        - Products
    get:
      parameters:
        - in: path
          name: product_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/Product'
                  success:
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: View single product
      tags:
        - Products
    put:
      parameters:
        - in: path
          name: product_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      type: object
                    type: array
                  success:
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Edit a product
      tags:
        - Products
  /project_statuses:
    get:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/ProjectStatus'
                    type: array
                  pagination:
                    $ref: '#/components/schemas/PaginationDetails'
                  success:
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Get list of project statuses
      tags:
        - ProjectStatuses
  '/project_statuses/{project_status_id}':
    get:
      parameters:
        - in: path
          name: project_status_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/ProjectStatus'
                  success:
                    default: true
                    type: boolean
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Get details about one contact type
      tags:
        - ProjectStatuses
  /projects:
    get:
      parameters:
        - description: Unless this is set to `true` only open projects will be shown
          in: query
          name: show_all
          required: false
          schema:
            type: boolean
            default: false
        - description: Used to filter on the `contact_id` of the projects
          in: query
          name: contact_id
          schema:
            type: string
            format: uuid
        - description: Used to filter on the `project_status_id` of the projects
          in: query
          name: project_status_id
          schema:
            type: string
            format: uuid
        - description: Used to filter on the `project_status_id` of the projects (match any of the provided values)
          in: query
          name: project_status_ids
          style: form
          schema:
            type: array
            items:
              format: uuid
              type: string
        - description: Used to search on the `name` of the projects
          in: query
          name: name
          schema:
            type: string
        - description: Used to search on the `erp_id` of the projects
          in: query
          name: erp_id
          schema:
            type: string
        - description: Show projects with start time after than this value
          in: query
          name: start_time_gte
          schema:
            type: string
        - description: Show projects with start time before this value
          in: query
          name: start_time_lte
          schema:
            type: string
        - description: Show only projects with start time on specific date
          in: query
          name: start_time_eq
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Project'
                    type: array
                  pagination:
                    $ref: '#/components/schemas/PaginationDetails'
                  success:
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: View list of projects
      tags:
        - Projects
    post:
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      id:
                        format: uuid
                        type: string
                    type: object
                  success:
                    default: true
                    type: boolean
                type: object
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorValidation'
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Add a project
      tags:
        - Projects
      requestBody:
        $ref: '#/components/requestBodies/Project'
  '/projects/{project_id}':
    delete:
      parameters:
        - in: path
          name: project_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      type: string
                    type: array
                  success:
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Delete a project
      tags:
        - Projects
    get:
      parameters:
        - in: path
          name: project_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/Project'
                  success:
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: View specific project
      tags:
        - Projects
    put:
      parameters:
        - in: path
          name: project_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      type: object
                    type: array
                  success:
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Edit a project
      tags:
        - Projects
      requestBody:
        $ref: '#/components/requestBodies/Project'
  '/projects/{project_id}/files':
    get:
      description: Used to show files uploaded to a project from wall post or form
      parameters:
        - in: path
          name: project_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      type: string
                    type: array
                  pagination:
                    $ref: '#/components/schemas/PaginationDetails'
                  success:
                    default: true
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Show list of files uploaded to project
      tags:
        - Projects
  '/projects/{project_id}/files/{file_id}/':
    delete:
      description: Delete file uploaded to a project from wall post or form
      parameters:
        - in: path
          name: project_id
          required: true
          schema:
            type: string
            format: uuid
        - in: path
          name: file_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: object
                  success:
                    default: true
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Delete file
      tags:
        - Projects
    get:
      description: Show file uploaded to a project from wall post or form
      parameters:
        - in: path
          name: project_id
          required: true
          schema:
            type: string
        - in: path
          name: file_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: object
                  success:
                    default: true
                    type: boolean
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Show file
      tags:
        - Projects
    put:
      description: Edit file uploaded to a project from wall post or form
      parameters:
        - in: path
          name: project_id
          required: true
          schema:
            type: string
            format: uuid
        - in: path
          name: file_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: object
                  success:
                    default: true
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Edit file
      tags:
        - Projects
  '/projects/{project_id}/project_files':
    get:
      description: 'Returns files belonging to the project, not uploaded from wall post or form'
      parameters:
        - in: path
          name: project_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      type: string
                    type: array
                  pagination:
                    $ref: '#/components/schemas/PaginationDetails'
                  success:
                    default: true
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Show list of project files uploaded to project
      tags:
        - Projects
    post:
      parameters:
        - in: path
          name: project_id
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Successfully added project file
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      id:
                        format: uuid
                        type: string
                    type: object
                  success:
                    default: true
                    type: boolean
                type: object
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorValidation'
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Add project file to projects
      tags:
        - Projects
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
  '/projects/{project_id}/project_files/{project_file_id}/':
    delete:
      parameters:
        - in: path
          name: project_file_id
          required: true
          schema:
            type: string
            format: uuid
        - in: path
          name: project_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: object
                  success:
                    default: true
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Delete project file
      tags:
        - Projects
    get:
      parameters:
        - in: path
          name: project_id
          required: true
          schema:
            type: string
        - in: path
          name: project_file_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: object
                  success:
                    default: true
                    type: boolean
                type: object
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Show project file
      tags:
        - Projects
    put:
      parameters:
        - in: path
          name: project_id
          required: true
          schema:
            type: string
            format: uuid
        - in: path
          name: project_file_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: object
                  success:
                    default: true
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Edit project file
      tags:
        - Projects
  '/projects/{project_id}/users/':
    get:
      parameters:
        - in: path
          name: project_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/User'
                    type: array
                  pagination:
                    $ref: '#/components/schemas/PaginationDetails'
                  success:
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Show list of users added to project
      tags:
        - Projects
    post:
      parameters:
        - in: path
          name: project_id
          required: true
          schema:
            type: string
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      id:
                        format: uuid
                        type: string
                    type: object
                  success:
                    default: true
                    type: boolean
                type: object
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorValidation'
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Add user to project
      tags:
        - Projects
      requestBody:
        content:
          application/json:
            schema:
              properties:
                user_id:
                  format: uuid
                  type: string
              required:
                - user_id
              type: object
  '/projects/{project_id}/users/{user_id}':
    delete:
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
        - in: path
          name: project_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      type: object
                    type: array
                  success:
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Delete user from project
      tags:
        - Projects
    get:
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
        - in: path
          name: project_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/User'
                  success:
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: View specific user assigned to project
      tags:
        - Projects
  /stock_locations:
    get:
      parameters:
        - description: Used to filter on the `name` of the stock_locations
          in: query
          name: name
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/StockLocation'
                    type: array
                  pagination:
                    $ref: '#/components/schemas/PaginationDetails'
                  success:
                    type: boolean
                type: object
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: List stock_locations
      tags:
        - StockLocations
    post:
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      id:
                        format: uuid
                        type: string
                    type: object
                  success:
                    default: true
                    type: boolean
                type: object
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorValidation'
      security:
        - X-Auth-Token: []
        - api_key: []
      summary: Add new stock_locations
      tags:
        - StockLocations
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  maxLength: 255
                  type: string
              required:
                - name
              type: object
  '/stock_locations/{location_id}':
    delete:
      parameters:
        - in: path
          name: location_id
          required: true
          schema:
            type: string
      responses:
[...]
