swagger: '2.0'
schemes:
  - https
host: api.hsbc.com
info:
  contact:
    x-twitter: HSBC_UK
  title: HSBC UK
  version: 1.0.0
  x-apisguru-categories:
    - financial
  x-logo:
    url: 'https://twitter.com/HSBC_UK/profile_image?size=original'
  x-origin:
    - format: swagger
      url: 'https://developer.hsbc.com/swagger/combined-api.json'
      version: '2.0'
  x-providerName: hsbc.com
consumes:
  - application/json
produces:
  - application/json
paths:
  /open-banking/v1.2/atms:
    get:
      description: This API will return data about all our ATMs and is prepared to the Open Banking standards as defined by the Open Banking Implementation Entity (OBIE) in data dictionary version 1.2.4. It is regulated by the UK Competition and Markets Authority (CMA). Data is only available for the United Kingdom.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ATMDefinitionMeta'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition400'
        '408':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition408'
        '429':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition429'
        '500':
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition500'
        '503':
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition503'
      tags:
        - ATMs
  /open-banking/v1.2/branches:
    get:
      description: This API will return the branch details for all branches and is prepared to the Open Banking standards as defined by the Open Banking Implementation Entity (OBIE) in data dictionary version 1.2.4. It is regulated by the UK Competition and Markets Authority (CMA). Data is only available for the United Kingdom.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BranchDefinitionMeta'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition400'
        '408':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition408'
        '429':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition429'
        '500':
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition500'
        '503':
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition503'
      tags:
        - Branches
  /open-banking/v1.2/business-current-accounts:
    get:
      description: This API will return data about all BCA productsand is prepared to the Open Banking standards as defined by the Open Banking Implementation Entity (OBIE) in data dictionary version 1.2.4. It is regulated by the UK Competition and Markets Authority (CMA). Data is only available for the United Kingdom.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BCADefinitionMeta'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition400'
        '408':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition408'
        '429':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition429'
        '500':
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition500'
        '503':
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition503'
      tags:
        - Products BCA
  /open-banking/v1.2/commercial-credit-cards:
    get:
      description: This API will return data about all commercial credit cards productsand is prepared to the Open Banking standards as defined by the Open Banking Implementation Entity (OBIE) in data dictionary version 1.2.4. It is regulated by the UK Competition and Markets Authority (CMA). Data is only available for the United Kingdom.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CCCDefinitionMeta'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition400'
        '408':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition408'
        '429':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition429'
        '500':
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition500'
        '503':
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition503'
      tags:
        - Products Commercial Credit Cards
  /open-banking/v1.2/personal-current-accounts:
    get:
      description: This API will return data about all PCA productsand is prepared to the Open Banking standards as defined by the Open Banking Implementation Entity (OBIE) in data dictionary version 1.2.4. It is regulated by the UK Competition and Markets Authority (CMA). Data is only available for the United Kingdom.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PCADefinitionMeta'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition400'
        '408':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition408'
        '429':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition429'
        '500':
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition500'
        '503':
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition503'
      tags:
        - Products PCA
  /open-banking/v1.2/unsecured-sme-loans:
    get:
      description: This API will return data about all SME lending productsand is prepared to the Open Banking standards as defined by the Open Banking Implementation Entity (OBIE) in data dictionary version 1.2.4. It is regulated by the UK Competition and Markets Authority (CMA). Data is only available for the United Kingdom.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SMELendingDefinitionMeta'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition400'
        '408':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition408'
        '429':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition429'
        '500':
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition500'
        '503':
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition503'
      tags:
        - Products SME Lending
  '/x-open-banking/v1.2/atms/country/{country}':
    get:
      description: This extended API will return data about all ATMs in the specified country. It is based-on the Open Banking standards as defined by the Open Banking Implementation Entity (OBIE) in data dictionary version 1.2.4. The extended functionality may not fully adhere to the non-functional requirements of the regulator. Data is only available for the United Kingdom.
      parameters:
        - description: The ISO country code e.g. &quot;GB&quot;
          in: path
          name: country
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ATMDefinitionMeta'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition400'
        '408':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition408'
        '429':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition429'
        '500':
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition500'
        '503':
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition503'
      tags:
        - ATMs
  '/x-open-banking/v1.2/atms/country/{country}/town/{town}':
    get:
      description: This extended API will return data about all ATMs in the specified town. It is based-on the Open Banking standards as defined by the Open Banking Implementation Entity (OBIE) in data dictionary version 1.2.4. The extended functionality may not fully adhere to the non-functional requirements of the regulator. Data is only available for the United Kingdom.
      parameters:
        - description: The ISO country code e.g. &quot;GB&quot;
          in: path
          name: country
          required: true
          type: string
        - description: 'Town name, not case sensitive'
          in: path
          name: town
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ATMDefinitionMeta'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition400'
        '408':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition408'
        '429':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition429'
        '500':
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition500'
        '503':
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition503'
      tags:
        - ATMs
  '/x-open-banking/v1.2/atms/geo-location/lat/{latitude}/long/{longitude}':
    get:
      description: This extended API will data about all ATMs within a specified radius (1 to 10 miles) of the specified latitude and longitude. It is based-on the Open Banking standards as defined by the Open Banking Implementation Entity (OBIE) in data dictionary version 1.2.4. The extended functionality may not fully adhere to the non-functional requirements of the regulator. Data is only available for the United Kingdom.
      parameters:
        - description: Positive or negative decimal value in degrees. eg &quot51.50551621597067&quot
          in: path
          name: latitude
          required: true
          type: string
        - description: Positive or negative decimal value in degrees. eg &quot-0.0180120225995&quot
          in: path
          name: longitude
          required: true
          type: string
        - description: Number of miles (1 to 10) as an integer. Default = 1
          in: query
          name: radius
          required: true
          type: number
      responses:
        '200':
          description: Success
          schema:
            items:
              $ref: '#/definitions/ATMDefinition'
            type: array
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition400'
        '408':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition408'
        '429':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition429'
        '500':
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition500'
        '503':
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition503'
      tags:
        - ATMs
  '/x-open-banking/v1.2/atms/postcode/{postcode}':
    get:
      description: This extended API will return data about all ATMs within a 5 mile radius of the specified postcode. It is based-on the Open Banking standards as defined by the Open Banking Implementation Entity (OBIE) in data dictionary version 1.2.4. The extended functionality may not fully adhere to the non-functional requirements of the regulator. Data is only available for the United Kingdom.
      parameters:
        - description: Letters and numerals only. No spaces or special characters. eg  &quotSW1A1AA&quot
          in: path
          name: postcode
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            items:
              $ref: '#/definitions/ATMDefinition'
            type: array
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition400'
        '408':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition408'
        '429':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition429'
        '500':
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition500'
        '503':
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition503'
      tags:
        - ATMs
  '/x-open-banking/v1.2/branches/country/{country}':
    get:
      description: This extended API will return the branch details for all branches in the specified country. It is based-on the Open Banking standards as defined by the Open Banking Implementation Entity (OBIE) in data dictionary version 1.2.4. The extended functionality may not fully adhere to the non-functional requirements of the regulator. Data is only available for the United Kingdom.
      parameters:
        - description: The ISO country code e.g. &quot;GB&quot;
          in: path
          name: country
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BranchDefinitionMeta'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition400'
        '408':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition408'
        '429':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition429'
        '500':
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition500'
        '503':
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition503'
      tags:
        - Branches
  '/x-open-banking/v1.2/branches/country/{country}/town/{town}':
    get:
      description: This extended API will return the branch details for all branches in the specified town. It is based-on the Open Banking standards as defined by the Open Banking Implementation Entity (OBIE) in data dictionary version 1.2.4. The extended functionality may not fully adhere to the non-functional requirements of the regulator. Data is only available for the United Kingdom.
      parameters:
        - description: The ISO country code e.g. &quot;GB&quot;
          in: path
          name: country
          required: true
          type: string
        - description: 'Town name, not case sensitive'
          in: path
          name: town
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BranchDefinitionMeta'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition400'
        '408':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition408'
        '429':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition429'
        '500':
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition500'
        '503':
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition503'
      tags:
        - Branches
  '/x-open-banking/v1.2/branches/geo-location/lat/{latitude}/long/{longitude}':
    get:
      description: This API will return the branch details for all branches within a specified radius (1 to 10 miles) of the specified latitude and longitude. It is based-on the Open Banking standards as defined by the Open Banking Implementation Entity (OBIE) in data dictionary version 1.2.4. The extended functionality may not fully adhere to the non-functional requirements of the regulator. Data is only available for the United Kingdom.
      parameters:
        - description: Positive or negative decimal value in degrees. eg &quot51.50551621597067&quot
          in: path
          name: latitude
          required: true
          type: string
        - description: Positive or negative decimal value in degrees. eg &quot-0.0180120225995&quot
          in: path
          name: longitude
          required: true
          type: string
        - description: Number of miles (1 to 10) as an integer. Default = 1
          in: query
          name: radius
          required: true
          type: number
      responses:
        '200':
          description: Success
          schema:
            items:
              $ref: '#/definitions/BranchDefinition'
            type: array
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition400'
        '408':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition408'
        '429':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition429'
        '500':
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition500'
        '503':
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition503'
      tags:
        - Branches
  '/x-open-banking/v1.2/branches/postcode/{postcode}':
    get:
      description: This extended API will return the branch details for all branches within a 5 mile radius of the specified postcode. It is based-on the Open Banking standards as defined by the Open Banking Implementation Entity (OBIE) in data dictionary version 1.2.4. The extended functionality may not fully adhere to the non-functional requirements of the regulator. Data is only available for the United Kingdom.
      parameters:
        - description: Letters and numerals only. No spaces or special characters. eg. &quotSW1A1AA&quot
          in: path
          name: postcode
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            items:
              $ref: '#/definitions/BranchDefinition'
            type: array
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition400'
        '408':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition408'
        '429':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition429'
        '500':
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition500'
        '503':
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition503'
      tags:
        - Branches
  '/x-open-banking/v1.2/branches/sortcode/{sortcode}':
    get:
      description: This extended API will return the branch details for a branch specified by its sort code. It is based-on the Open Banking standards as defined by the Open Banking Implementation Entity (OBIE) in data dictionary version 1.2.4. The extended functionality may not fully adhere to the non-functional requirements of the regulator. Data is only available for the United Kingdom.
      parameters:
        - description: 6 digit number with no spaces or special characters. eg. &quot400003&quot
          in: path
          name: sortcode
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BranchDefinitionMeta'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition400'
        '408':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition408'
        '429':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition429'
        '500':
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition500'
        '503':
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition503'
      tags:
        - Branches
  '/x-open-banking/v1.2/business-current-accounts/segment/{segment}':
    get:
      description: This extended API will return data about all BCA products for the specified segment. It is based-on the Open Banking standards as defined by the Open Banking Implementation Entity (OBIE) in data dictionary version 1.2.4. The extended functionality may not fully adhere to the non-functional requirements of the regulator. Data is only available for the United Kingdom.
      parameters:
        - description: 'Segment name from this list&#58; &quot;Basic&quot;, &quot;Business&quot;, &quot;General&quot;, &quot;Graduate&quot;, &quot;International&quot;, &quot;Packaged&quot;, &quot;Personal&quot;, &quot;Premium&quot;, &quot;Reward&quot;, &quot;SME&quot;, &quot;Student&quot;, &quot;YoungAdult&quot;, &quot;Youth&quot;.'
          in: path
          name: segment
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BCADefinitionMeta'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition400'
        '408':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition408'
        '429':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition429'
        '500':
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition500'
        '503':
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition503'
      tags:
        - Products BCA
  '/x-open-banking/v1.2/commercial-credit-cards/segment/{segment}':
    get:
      description: This extended API will return data about all commercial credit cards products for the specified segment. It is based-on the Open Banking standards as defined by the Open Banking Implementation Entity (OBIE) in data dictionary version 1.2.4. The extended functionality may not fully adhere to the non-functional requirements of the regulator. Data is only available for the United Kingdom.
      parameters:
        - description: 'Segment name from this list&#58 &quot;Cashback&quot;, &quot;Corporate&quot;, &quot;General&quot;, &quot;Reward&quot;, &quot;SME&quot;.'
          in: path
          name: segment
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CCCDefinitionMeta'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition400'
        '408':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition408'
        '429':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition429'
        '500':
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition500'
        '503':
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition503'
      tags:
        - Products Commercial Credit Cards
  '/x-open-banking/v1.2/personal-current-accounts/segment/{segment}':
    get:
      description: This extended API will return data about all PCA products for the specified segment. It is based-on the Open Banking standards as defined by the Open Banking Implementation Entity (OBIE) in data dictionary version 1.2.4. The extended functionality may not fully adhere to the non-functional requirements of the regulator. Data is only available for the United Kingdom.
      parameters:
        - description: 'Segment name from this list&#58; &quot;Basic&quot;, &quot;Business&quot;, &quot;General&quot;, &quot;Graduate&quot;, &quot;International&quot;, &quot;Packaged&quot;, &quot;Personal&quot;, &quot;Premium&quot;, &quot;Reward&quot;, &quot;SME&quot;, &quot;Student&quot;, &quot;YoungAdult&quot;, &quot;Youth&quot;.'
          in: path
          name: segment
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PCADefinitionMeta'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition400'
        '408':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition408'
        '429':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition429'
        '500':
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition500'
        '503':
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition503'
      tags:
        - Products PCA
  '/x-open-banking/v1.2/unsecured-sme-loans/segment/{segment}':
    get:
      description: This extended API will return data about all SME lending products for the specified segment. It is based-on the Open Banking standards as defined by the Open Banking Implementation Entity (OBIE) in data dictionary version 1.2.4. The extended functionality may not fully adhere to the non-functional requirements of the regulator. Data is only available for the United Kingdom.
      parameters:
        - description: 'Segment name from this list&#58; &quot;AgricultureSector&quot;, &quot;AllSegmentsCorporate&quot;, &quot;Corporate&quot;, &quot;FixedGroup&quot;, &quot;FlexibleBusinessLoan&quot;, &quot;GovernmentScheme&quot;, &quot;NewCustomersOnly&quot;, &quot;SmallLoan&quot;, &quot;SpecialisedSector&quot;, &quot;SwitchersOnly&quot;.'
          in: path
          name: segment
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SMELendingDefinitionMeta'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition400'
        '408':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition408'
        '429':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition429'
        '500':
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition500'
        '503':
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition503'
      tags:
        - Products SME Lending
definitions:
  ATMDefinition:
    additionalProperties: false
    properties:
      ATMID:
        description: ATM terminal device identification for the acquirer and the issuer
        maxLength: 35
        minLength: 1
        type: string
      ATMServices:
        description: Information about ATM services
        items:
          description: Information about ATM services
          enum:
            - Balance
            - BillPayments
            - CashDeposits
            - CashWithdrawal
            - CharityDonation
            - ChequeBookRequest
            - ChequeDeposits
            - FastCash
            - MiniStatement
            - MobileBankingRegistration
            - MobilePaymentRegistration
            - MobilePhoneTopUp
            - OrderStatement
            - PINActivation
            - PINChange
          type: string
        minItems: 1
        type: array
        uniqueItems: true
      AccessibilityTypes:
        description: Information about the accessibility
        items:
          description: Information about the accessibility
          enum:
            - AudioCashMachine
            - AutomaticDoors
            - ChairAccess
            - DriveThru
            - ExternalRamp
            - InductionLoop
            - InternalRamp
            - LevelAccess
            - LowerLevelCounter
            - WheelchairAccess
          type: string
        type: array
        uniqueItems: true
      AdditionalATMServices:
        description: ATM Service Description
        items:
          description: maxLength 350 text
          maxLength: 350
          minLength: 1
          type: string
        type: array
      Address:
        additionalProperties: false
        description: Postal Address
        properties:
          BuildingNumberOrName:
            description: Number or Name that identifies the position of a building on a street
            maxLength: 350
            minLength: 1
            type: string
          Country:
            description: Nation with its own government
            pattern: '[A-Z]{2}'
            type: string
          CountrySubDivision:
            description: 'Identifies a subdivision of a country such as state, region, county'
            maxLength: 35
            minLength: 1
            type: string
          OptionalAddressField:
            description: Directions for customers
            maxLength: 350
            minLength: 1
            type: string
          PostCode:
            description: Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail
            maxLength: 16
            minLength: 1
            type: string
          StreetName:
            description: Name of a street or thoroughfare
            maxLength: 70
            minLength: 1
            type: string
          TownName:
            description: 'Name of a built-up area, with defined boundaries, and a local government'
            maxLength: 35
            minLength: 1
            type: string
        required:
          - StreetName
          - PostCode
          - Country
        type: object
      BranchIdentification:
        description: Unique and unambiguous identification of a retail branch of a financial institution
        maxLength: 35
        minLength: 1
        type: string
      Currency:
        description: Defines currency type available for dispense
        items:
          description: Active or Historic Currency Code
          pattern: '[A-Z]{3}'
          type: string
        minItems: 1
        type: array
        uniqueItems: true
      GeographicLocation:
        additionalProperties: false
        description: Geographic Coordinates
        properties:
          Latitude:
            description: The Latitude measured in decimal format according to ISO 213
            pattern: '^-?\d{1,3}\.\d{1,8}$'
            type: string
          Longitude:
            description: The longitude measured in decimal format according to ISO 213
            pattern: '^-?\d{1,3}\.\d{1,8}$'
            type: string
        required:
          - Latitude
          - Longitude
        type: object
      LocationCategory:
        description: Indicates the environment of the ATM
        enum:
          - Airport
          - BankSpecialisedOutlet
          - BranchExternal
          - BranchInternal
          - BranchLobby
          - BureauDeChange
          - CoachStation
          - CommercialSpaceInternal
          - ConvenienceStore
          - ExhibitionCentre
          - FactoryOrOffice
          - FillingStation
          - FinancialInstitution
          - GovernmentOffice
          - Hospital
          - Hotel
          - KioskPod
          - LeisureCentre
          - PleasurePark
          - PublicHouse
          - RailwayStation
          - RemoteUnit
          - RetailerDepartmentStore
          - RetailerOutlet
          - SeaportTerminal
          - ServiceStation
          - ShoppingCentreExternal
          - ShoppingCentreInternal
          - StorageDepot
          - SupermarketExternal
          - SupermarketInternal
          - UndergroundRailwayStation
          - UniversityOrCollege
        type: string
      MinimumValueDispensed:
        description: Minimum currency denominations usually available
        enum:
          - £5
          - £10
          - £20
          - £50
          - £100
        type: string
      Organisation:
        additionalProperties: false
        description: Organisation
        properties:
          Brand:
            additionalProperties: false
            description: Brand
            properties:
              TrademarkID:
                description: 'The trademark number that has been registered with the Intellectual Property Office. Note: The 2 letter IPO prefix should be omitted'
                maxLength: 35
                minLength: 1
                type: string
              TrademarkIPOCode:
                description: 'The Intellectual Property Office (IPO) is the official body responsible for intellectual property (IP) rights including patents, designs, trademarks and copyright. (Code: UK or EU only)'
                enum:
                  - UK
                  - EU
                type: string
            required:
              - TrademarkIPOCode
              - TrademarkID
            type: object
          ParentOrganisation:
            additionalProperties: false
            description: Parent organisation
            properties:
              BIC:
                description: The BIC from the organisation
                pattern: '[A-Z]{6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3})?'
                type: string
              LEI:
                description: The LEI ID of the organisation
                pattern: '^[A-Z0-9]{18,18}[0-9]{2,2}$'
                type: string
              OrganisationName:
                additionalProperties: false
                description: Organisation Name
                properties:
                  LegalName:
                    description: Legal Name of the organisation
                    maxLength: 35
                    minLength: 1
                    type: string
                required:
                  - LegalName
                type: object
            required:
              - OrganisationName
            type: object
        required:
          - ParentOrganisation
          - Brand
        type: object
      SiteID:
        description: 'Site identifying code, where ATM is located'
        maxLength: 35
        minLength: 1
        type: string
      SiteName:
        description: 'Site identifying name, where ATM is located'
        maxLength: 35
        minLength: 1
        type: string
      SupportedLanguages:
        description: Languages that the ATM supports
        items:
          description: must be ISO 693-2 codes
          type: string
        minItems: 1
        type: array
    required:
      - Organisation
      - ATMID
      - Address
      - GeographicLocation
      - SupportedLanguages
      - ATMServices
      - Currency
    title: ATM
    type: object
  ATMDefinitionMeta:
    properties:
      data:
        items:
          $ref: '#/definitions/ATMDefinition'
        type: array
      meta:
        $ref: '#/definitions/MetaDefinition'
    required:
      - meta
      - data
  BCADefinition:
    description: Business current account
    properties:
      AccessChannels:
        description: Ways to interact with the bank when managing account
        items:
          description: Channel
          enum:
            - ATM
            - Branch
            - BusinessCommercialCentre
            - CallCentre
            - MobileApps
            - MobileBanking
            - Online
            - Phone
            - Post
            - PostOffice
            - RelationshipManager
            - Text
          type: string
        minItems: 1
        type: array
      Benefits:
        additionalProperties: false
        description: Benefit
        properties:
          Benefit:
            description: Describe  one or more benefits if they exist
            type: boolean
          BenefitGroup:
            items:
              additionalProperties: false
              description: Benefit Interest Group
              properties:
                BenefitItem:
                  additionalProperties: false
                  description: Benefit Item
                  properties:
                    BenefitDetail:
                      items:
                        additionalProperties: false
                        description: Benefit detail
                        properties:
                          BenefitDescription:
                            description: A textual explanation of what the benefit is
                            type: string
                          BenefitID:
                            description: Unique benefit identifier per organisation
                            type: string
                          BenefitName:
                            description: The name of the benefit
                            type: string
                          BenefitType:
                            description: Type that represents the nature of the benefit
                            type: string
                          BenefitValue:
                            description: The value or values permissible for a specific benefit for an individual product representing a product characteristic
                            type: string
                          Counter:
                            description: Counter for the criteria (e.g. number of DD)
                            type: integer
                          CriteriaType:
                            items:
                              description: Criteria that is required in order to be eligible for the Benefit
                              enum:
                                - CashDeposit
                                - Deposit
                                - DirectDebit
                                - InitialDeposit
                                - InternetLogon
                                - MobileLogon
                                - RegularDeposit
                              type: string
                            type: array
                          DefaultToAccounts:
                            description: Is the benefit part of the default account
                            type: boolean
                          MaximumCriteria:
                            description: Maximum amount for the criteria
                            pattern: '^-?\d{1,10}\.\d{1,2}$'
                            type: string
                          MinimumCriteria:
                            description: Minimum amount for the criteria
                            pattern: '^-?\d{1,10}\.\d{1,2}$'
                            type: string
                          PromotionEndDate:
                            description: If the benefit is temporal the end date is when the benefit is no longer applicable
                            pattern: '^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$'
                            type: string
                          PromotionStartDate:
                            description: If the benefit is temporal the start date is when the benefit comes into effect
                            pattern: '^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$'
                            type: string
                        type: object
                      type: array
                    DateOfChange:
                      description: Date of the change if it refers to future terms
                      pattern: '^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$'
                      type: string
                    LengthPromotionalInDays:
                      description: Describes the length if only a duration is given instead of a date in days
                      type: integer
                    StartPromotionOrFutureTerms:
                      description: Describes the start date
                      pattern: '^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$'
                      type: string
                    StopPromotionOrFutureTerms:
                      description: Describes the end date
                      pattern: '^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$'
                      type: string
                  type: object
                BenefitSubType:
                  description: Benefit Subtype Code
                  enum:
                    - FutureMultipleTerms
                    - Promotional
                    - Regular
                  type: string
              required:
                - BenefitItem
              type: object
            type: array
        required:
          - Benefit
        type: object
      CAPricing:
        items:
          additionalProperties: false
          description: Card Price
          properties:
            CAPricingItem:
              additionalProperties: false
              description: Card Pricing
              properties:
                DateOfChange:
                  description: Date of the change if it refers to future terms
                  pattern: '^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$'
                  type: string
                ExchangeRateAdjustment:
                  description: 'The margin added, by certain card issuers, to the scheme rate in order to arrive at the exchange rate qouted as the reference exchange rate to the cardholder'
                  pattern: '^-?\d{1,3}\.\d{1,4}$'
                  type: string
                LengthPromotionalInDays:
                  description: Describes the length if only a duration is given instead of a date
                  type: integer
                StartPromotionOrFutureTerms:
                  description: Describes the start date
                  pattern: '^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$'
                  type: string
                StopPromotionOrFutureTerms:
                  description: Describes the end date
                  pattern: '^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$'
                  type: string
              type: object
            ProductSubType:
              description: 'Describes if the offering is promotional, regular or a description of a future state'
              enum:
                - FutureMultipleTerms
                - Promotional
                - Regular
              type: string
          required:
            - ProductSubType
            - CAPricingItem
          type: object
        minItems: 1
        type: array
      CardNotes:
        description: Optional additional notes to supplement the card details
        type: string
      CardType:
        description: Card Type available
        items:
          description: Indicates the card scheme
          enum:
            - BasicCard
            - BusinessQuickLodgeCard
            - Cashcard
            - ContactlessCashcard
            - ContactlessDebitMastercard
            - ContactlessDebitVisa
            - DebitMastercard
            - VisaDebit
            - DepositCard
            - OperatorCard
            - POCACard
          type: string
        minItems: 1
        type: array
      CardWithdrawalLimit:
        description: The daily Limit that a customer can get via the ATM. This describes the default limit rather than the maximum
        pattern: '^-?\d{1,10}\.\d{1,2}$'
        type: string
      ChequeBookAvailable:
        description: Can a chequebook be issued
        type: boolean
      Contactless:
        description: Does the card issued have contactless facility
        type: boolean
      CreditInterest:
        additionalProperties: false
        description: Credit Interest
        properties:
          CreditCharged:
            description: Is credit paid to the account. The answer will be the condition of all other fields to be filled
            type: boolean
          CreditInterestGroup:
            items:
              additionalProperties: false
              description: Credit Interest Group
              properties:
                CreditInterestItem:
                  additionalProperties: false
                  description: Credit Interest item
                  properties:
                    CalculationFrequency:
                      description: How often is interest applied to account
                      enum:
                        - Month
                        - Week
                        - Year
                      type: string
                    CalculationMethod:
                      description: Method for interest calculation
                      enum:
                        - Banded
                        - Tiered
                        - Whole
                      type: string
                    DateOfChange:
                      description: Date of the change if it refers to future terms
                      pattern: '^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$'
                      type: string
                    EndDate:
                      description: If interest is charged on a specific date range as end date (often used for promotion)
                      pattern: '^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$'
                      type: string
                    FixedInterestLength:
                      description: Fixed interest length in days
                      type: integer
                    InterestNotes:
                      description: Additional notes to supplement the interest details
                      type: string
                    InterestRateType:
                      description: Credit Interest Payment Rate Type
                      enum:
                        - Fixed
                        - Variable
                      type: string
                    InterestTiers:
                      items:
                        additionalProperties: false
                        description: Credit Interest Tiers
                        properties:
                          APRAERRate:
                            description: AER or APR Rate for comparison
                            pattern: '^-?\d{1,3}\.\d{1,4}$'
                            type: string
                          DailyChargeForMaximum:
                            description: Special charge on tiered overdraft
                            pattern: '^-?\d{1,10}\.\d{1,2}$'
                            type: string
                          DailyChargeForMinimum:
                            description: Special charge on tiered overdraft
                            pattern: '^-?\d{1,10}\.\d{1,2}$'
                            type: string
                          InterestTier:
                            description: Identifier for the tier
                            type: string
                          Rate:
                            description: Rate being paid by the bank (gross)
                            pattern: '^-?\d{1,3}\.\d{1,4}$'
                            type: string
                          RateComparisonType:
                            description: Rate Comparison Type
                            enum:
                              - APR
                              - AER
                              - Gross
                              - Net
                              - RepApr
                            type: string
                          TierValueMaximum:
                            description: Max Value of interst tier
                            maxLength: 15
                            minLength: 1
                            type: string
                          TierValueMinimum:
                            description: Lower value of interest tier
                            pattern: '^-?\d{1,10}\.\d{1,2}$'
                            type: string
                        type: object
                      type: array
                    LengthPromotionalInDays:
                      description: Describes the length if only a duration is given instead of a date
                      type: integer
                    PaymentMethod:
                      description: Credit Interest Payment Method Code
                      enum:
                        - Compound
                        - PayAway
                        - SelfCredit
                        - SimpleInterest
                      type: string
                    StartDate:
                      description: If interest is charged on a specific date range as start date (often used for promotion)
                      pattern: '^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$'
                      type: string
                    StartPromotionOrFutureTerms:
                      description: Describes the start date
                      pattern: '^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$'
                      type: string
                    StopPromotionOrFutureTerms:
                      description: Describes the end date
                      pattern: '^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$'
                      type: string
                  type: object
                InterestTierSubType:
                  description: 'Describes if the offering is promotional, regular or a description of a future state'
                  enum:
                    - FutureMultipleTerms
                    - Promotional
                    - Regular
                  type: string
              required:
                - CreditInterestItem
              type: object
            type: array
        required:
          - CreditCharged
        type: object
      CreditScoringPartOfAccountOpeningForGettingAnAccount:
        description: Indicates whether a credit check performed on an inquiry to open an account is submitted
        type: boolean
      CreditScoringPartOfAccountOpeningForIDVerification:
        description: Indicates whether a credit check is used to check the address of a potential new account holder
        type: boolean
      CreditScoringPartOfAccountOpeningIDVerificationIsAHardOrSoftCreditScore:
        items:
          description: Indicates the type of scoring
          enum:
            - Hard
            - Soft
          type: string
        type: array
      CreditScoringPartOfAccountOpeningIDVerificationText:
        description: Details on the specific credit scoring
        items:
          type: string
        type: array
      CreditScoringPartOfAccountOpeningIsAHardOrSoftCreditScore:
        description: Describes the type of credit scoring
        items:
          description: Indicates the type of scoring
          enum:
            - Hard
            - Soft
          type: string
        type: array
      CreditScoringPartOfAccountOpeningText:
        description: Details on the specific credit scoring
        type: string
      Currency:
        description: Currency of the Account. Default to GBP at present
        items:
          description: Active or Historic Currency Code
          pattern: '[A-Z]{3}'
          type: string
        minItems: 1
        type: array
      Eligibility:
        additionalProperties: false
        description: Eligibility
        properties:
          AgeRestricted:
            description: Indicates a customer's age is part of eligibility criteria
            type: boolean
          AnnualBusinessTurnover:
            description: Annual Business Turnover
            pattern: '^-?\d{1,10}\.\d{1,2}$'
            type: string
          AnnualBusinessTurnoverCurrency:
            description: Annual Business Turnover Currency
            pattern: '[A-Z]{3}'
            type: string
          Description:
            description: One paragraph detailing the eligibility
            type: string
          EligibilityName:
            description: 'Free text description, denotes non standard eligibilities not included in the code list'
            type: string
          EligibilityNotes:
            description: Optional additional notes to supplement the eligibility conditions. Only used for very specific conditions
            type: string
          EligibilityType:
            description: Eligibility type
            enum:
              - AnyBusinessCustomer
              - BusinessOnly
              - CreditCard
              - CreditScoring
              - EmailAddress
              - ExistingCustomers
              - IdAndV
              - Mortgage
              - NoArrearsOnLoan
              - NoCustomerInArrears
              - NoOverOverdraftThirtyDays
              - NoSoleUkAccountOrBankrupt
              - NTB
              - NTBBusiness
              - SoleStudentAccount
              - SoleUkAccount
              - StudentsOnly
              - TwoMonthsOfCourseStart
              - UCASFulltimeTwoYears
            type: string
          IncomeCondition:
            description: Stipulates any particular definition of income that applies to the income eligibility and/or method by which income must paid into the account (eg Salary DD)
            type: string
          IncomeTurnoverRelated:
            description: Indicates if eligibility linked to income
            type: boolean
          MarketingEligibility:
            items:
              description: Specific eligibility for marketing
              enum:
                - ExistingCustomers
                - NewCustomersOnly
                - SwitchersOnly
                - StartUp
              type: string
            type: array
            uniqueItems: true
          MaxNumberOfAccounts:
            description: Maximum number of the same prodcut the customer may hold
            type: string
          MaximumAge:
            description: 'Maximum age, in years, allowed to hold the account'
            type: integer
          MaximumAgeToOpen:
            description: 'Maximum age, in years, to open an account'
            type: integer
          MaximumOpeningAmount:
            description: A maximum amount to be deposited at opening
            type: boolean
          MinIncomeTurnoverPaidIntoAccount:
            description: Minimum Income Amount required to paid into the account
            type: integer
          MinimumAge:
            description: 'Minimum age, in years, required to hold an account'
            type: integer
          MinimumDeposit:
            description: A minimum deposit required to hold this account
            type: boolean
          MinimumIncomeFrequency:
            description: The frequency that the minimum mentioned before is deposited in the account. Yearly is very important for premium accounts
            enum:
              - AcademicTerm
              - HalfYearly
              - Monthly
              - Quarterly
              - Weekly
              - Yearly
            type: string
          MinimumIncomeTurnoverAmount:
            description: Minimum income / Turnover required to hold the product
            pattern: '^-?\d{1,10}\.\d{1,2}$'
            type: string
          MinimumIncomeTurnoverCurrency:
            description: Minimum income / Turnover Currency
            pattern: '[A-Z]{3}'
            type: string
          MinimumOperatingBalance:
            description: Minimum Operating Balance
            pattern: '^-?\d{1,10}\.\d{1,2}$'
            type: string
          MinimumOperatingBalanceCurrency:
            description: Minimum Operating Balance currency
            pattern: '[A-Z]{3}'
            type: string
          MinimumOperatingBalanceExists:
            description: Is there a Minimum Operating Balance?
            type: boolean
          OpeningDepositMaximumAmount:
            description: Maximum Amount to be depositing at opening
            pattern: '^-?\d{1,10}\.\d{1,2}$'
            type: string
          OpeningDepositMaximumCurrency:
            description: The currency of the Minimum Amount to be depositing at opening
            pattern: '[A-Z]{3}'
            type: string
          OpeningDepositMinimum:
            description: Minimum Amount to be held on account
            pattern: '^-?\d{1,10}\.\d{1,2}$'
            type: string
          OpeningDepositMinimumCurrency:
            description: The currency of the Minimum Amount to be depositing at opening
            pattern: '[A-Z]{3}'
            type: string
          OtherFinancialHoldingRequired:
            description: Indicates that it is necessary to hold another product with the bank in order to be eligible for this product or feature
            type: boolean
          PreviousBankruptcy:
            description: Describes if a previous bankruptcy / insolvency disqualfies for this account Details in ELI-280
            type: boolean
          ResidencyRestricted:
            description: Indicates a customer's residency forms part of the eligibility criteria
            type: boolean
          ResidencyRestrictedRegion:
            description: Indicates a customer must be current resident of a geographic area/country
            enum:
              - UK
              - EEA
              - EU
              - EFTA
              - GB - ENG
              - GB - NIR
              - GB - SCT
              - GB - WLS
              - IRL
            type: string
          SingleJointIncome:
            description: Minimum Income Source. For certain products a minimum income is required. This can be mandated as to the single income or to a joint income. This field describes this
            enum:
              - Joint
              - SoleIncome
              - SoleOrJoint
              - Turnover
            type: string
          ThirdSectorOrganisations:
            description: Is the product available to operate as a Clubs or Societies account?
            type: boolean
        required:
          - AgeRestricted
          - OtherFinancialHoldingRequired
          - Description
          - IncomeTurnoverRelated
          - ResidencyRestricted
          - ThirdSectorOrganisations
          - PreviousBankruptcy
        type: object
      Feature:
        items:
          description: Account Features
          properties:
            DateOfChange:
              description: Date of the change if it refers to future terms
              pattern: '^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$'
              type: string
            ExistingFeature:
              description: Indicates whether the account has any feature
              type: boolean
            FeatureDetails:
              description: Feature details
              items:
                description: Feature Details
                properties:
                  CriteriaType:
                    description: Criteria that is required in order to be eligible for the feature
                    type: string
                  DateOfChange:
                    description: Date of the change if it refers to future terms
                    pattern: '^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$'
                    type: string
                  FeatureDescription:
                    description: A textual explanation of what the feature
                    type: string
                  FeatureName:
                    description: The name of the feature
                    type: string
                  FeatureSubType:
                    description: ''
                    enum:
                      - FutureMultipleTerms
                      - Promotional
                      - Regular
                    type: string
                  FeatureType:
                    description: Type that represents the nature of the feature
                    type: string
                  FeatureValue:
                    description: The value or values permissible for a specific feature for an individual product representing a product characteristic
                    type: string
                  LengthPromotionalInDays:
                    description: Describes the length if only a duration is given instead of a date
                    type: integer
                  StartPromotionOrFutureTerms:
                    description: Describes the start date
                    pattern: '^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$'
                    type: string
                  StopPromotionOrFutureTerms:
                    description: Describes the end date
                    pattern: '^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$'
                    type: string
                type: object
              type: array
            LengthPromotionalInDays:
              description: Describes the length if only a duration is given instead of a date
              type: integer
            ProductSubType:
              description: 'Describes if the offering is promotional, regular or a description of a future state'
              enum:
                - FutureMultipleTerms
                - Promotional
                - Regular
              type: string
            StartPromotionOrFutureTerms:
              description: Describes the start date
              pattern: '^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$'
              type: string
            StopPromotionOrFutureTerms:
              description: Describes the end date
              pattern: '^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$'
              type: string
          required:
            - ExistingFeature
          type: object
        type: array
      FeesAndCharges:
        items:
          additionalProperties: false
          description: Fees And Charges
          properties:
            Fees:
              additionalProperties: false
              description: Fees
              properties:
                DateOfChange:
                  description: Date of the change if it refers to future terms
                  pattern: '^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$'
                  type: string
                FeeDetails:
                  items:
                    additionalProperties: false
                    description: Fee Details
                    properties:
                      FeeDetail:
                        additionalProperties: false
                        description: Fee Detail
                        properties:
                          DateOfChange:
                            description: Date of the change if it refers to future terms
                            pattern: '^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$'
                            type: string
                          FeeSubDetails:
                            additionalProperties: false
                            description: Fee Sub Details
                            properties:
                              FeeAmount:
                                description: Fee in GBP
                                pattern: '^-?\d{1,10}\.\d{1,2}$'
                                type: string
                              FeeFrequency:
                                description: Triggering frequency of the fee
                                enum:
                                  - AcademicTerm
                                  - AccountClosing
                                  - AccountOpening
                                  - AtTimeOfLoanRepayment
                                  - ChargingPeriod
                                  - Daily
                                  - EveryFiveBusinessDays
                                  - Item
                                  - Monthly
                                  - OnAccountAnniversary
                                  - PerHour
                                  - PerOccurrence
                                  - PerSheet
                                  - PerTransactionAmount
                                  - PerTransactionPercentage
                                  - Quarterly
                                  - SixMonthly
                                  - StartOfLoan
                                  - StatementMonthly
                                  - Weekly
                                  - Yearly
                                type: string
                              FeeHigherTier:
                                description: 'Higher occurrence / range boundary e.g. For returned cheques this could be 10, which means the first 10 returned cheque fits into this range'
                                type: integer
                              FeeLowerTier:
                                description: 'Lower occurrence / range boundary e.g. For returned cheques this could be 0, which means the first returned cheque fits into this range'
                                type: integer
                              FeeMax:
                                description: Fee in GBP
                                pattern: '^-?\d{1,10}\.\d{1,2}$'
                                type: string
                              FeeMin:
                                description: Fee in GBP
                                pattern: '^-?\d{1,10}\.\d{1,2}$'
                                type: string
                              FeeRate:
                                description: '% Rate'
                                pattern: '^-?\d{1,3}\.\d{1,4}$'
                                type: string
                              FeesAndChargesNotes:
                                description: Supplementary information for fees and charges
                                type: string
                              Negotiable:
                                description: Indicates that this Fee Rate or Fee Amount is negotiable based on risk or other factor
                                type: boolean
                              RepresentativeRate:
                                description: Representative Rate
                                pattern: '^-?\d{1,3}\.\d{1,4}$'
                                type: string
                            required:
                              - FeeFrequency
                              - Negotiable
                            type: object
                          FeeType:
                            description: A description of the Fee type
                            enum:
                              - ATMDonation
                              - ATMDeposATMPaidIn
                              - ReportCertBalance
                              - ATMAbroadConVisaCredit
                              - ATMAbroadConVisaDebit
                              - ATMCardnetEnvIn
                              - ATMCashGroupATMCreditCard
                              - ATMCashNonGroupATMCredittcard
                              - ATMCashGroupATMDebitCard
                              - ATMCashNonGroupATMDebitcard
                              - ATMConGroupATM
                              - ATMAbroad
                              - ATMForeignCashDebCard
                              - ATMAbroadGoldVisaDebit
                              - ATMSpainCashCard
                              - ATMSpainDebitCard
                              - ATMSpainConversionDebitCard
                              - ATMSpainConversionCashCard
                              - ATMNonSterlingWithdrawal
                              - ATMAbroadVisaCredit
                              - ATMAbroadVisaDebit
                              - ATMAbroadConVisaGoldDebit
                              - ATMWidthdrawCash
                              - BACSOnLineAncilliary
                              - BACSBatch
                              - BACSOnLineFile
                              - BACSFileItem
                              - 'BACSOnLineSetup '
                              - BACSItem
                              - BACSItemInterbranch
                              - BACSBulkBatch
                              - BACSOnLineOverlimit
                              - BACSOnLinePayment
                              - BACSRecallItem
                              - BACSOnLineService
                              - BACSBulkInternet
                              - BACSTELDirDebSmartCard
                              - BACSTELDirDebWebInit
                              - BACSTELirDebWebInit
                              - BACSTELDirDebOverlimit
                              - BACSTELDirDebPayment
                              - BACSTELDirDebService
                              - BACSTELDirDebAncilliary
                              - BACSDirectItemProfile
                              - BACSTELAncilliary
                              - BACSTELSmartCard
                              - BACSTELFile
                              - 'BACSTELSetup '
                              - BACSTELOverlimit
                              - BACSTELPayment
                              - BACSTELService
                              - CHAPSOutBranch
                              - CHAPSCancellation
                              - CHAPSOutOnlineDepositAcc
                              - CHAPSIn
                              - CHAPSOutInterBank
                              - CHAPSInterBank
                              - CHAPSOutPost
                              - CHAPSOutInterBranch
                              - CHAPSOut
                              - CHAPSOutOnline
                              - CHAPSandForeignPay
                              - CHAPSOutManual
                              - CardCardReplacement
                              - DraftsCounter
                              - DraftsBankers
                              - DraftsIntlPayableAbroad
                              - DraftsLostStolen
                              - CardPersonalisedCard
                              - DraftsIntlStoppedCancelled
                              - EuroChqXLess
                              - EuroChqXPlus
                              - FPSOutFutureDated
                              - FPSOutImmediate
                              - FPSOut
                              - FPSOutOwn
                              - FPSInBranch
                              - FPSUKPayUrgent
                              - LegalArticlesReport
                              - LegalSealing
                              - LegalBondAndGuarantee
                              - LegalCourtOrder
                              - LegalCoSearch
                              - LegalDepositAssignment
                              - LegalGuaranteePrep
                              - LegalLifePolicyPrepCo
                              - LegalLifePolicyPrepPersonal
                              - LegalPriorityPariPassu
                              - LegalSubordinationAgreement
                              - DirDebDirectDebitAdmin
                              - DirDebDirectDebitCancel
                              - IntlPayBIBForeignLimit
                              - IntlPayCreditTransCust
                              - IntlPayCreditTransNonCust
                              - IntlPayUrgentPaymentForeign
                              - IntlPayExpressMoneyMover
                              - IntlPayEEAPayUrgent
                              - IntlPayIrishPayUrgent
                              - IntlPayEEAPay
                              - IntlPayForeignIn1CPlus
                              - IntlPayForeignPaymentInUKAcc
                              - IntlPayForeignCharge
                              - IntlPayForeignCancellation
                              - IntlPayForeignStandardEUEuroBIC
                              - IntlPayFXFeeRate
                              - IntlPayForeignInternet
                              - IntlPayForeign
                              - IntlPayForeignInbound
                              - IntlPayFXPaymentOut
                              - IntlPayForeignInSub1C
                              - IntlPayFXRate
                              - IntlPayForeignStandardEUEuroNoBIC
                              - IntlPayFXPaymentOutIR
                              - IntlPayFXFee
                              - IntlPayPurchaseNonSterling
                              - IntlPayPostPaymentForeign
                              - IntlPayPurchaseRateNonSterling
                              - IntlPayPaymentTracing
                              - IntlPayStandardMoneyMover
                              - IntlPayMT101Transaction
                              - IntlPayTransNonSterling
                              - IntlPayTransRateNonSterling
                              - IntlPayForeignUrgentEUEuroBIC
                              - IntlPayForeignUrgentEUEuroNoBIC
                              - IntlPayUrgentPaymentGroup
                              - IntlPayUrgentPaymentUK
                              - IntlPayUSAPayUrgent
                              - IntlPayCurrencyPurchase
                              - IntlPayWorldpayPayment
                              - IntlPayCurrencyWithdraw
                              - InvPayBankDetailsWrong
                              - InvPayForeignBCNR
                              - InvPayForeignRecall
                              - InvGeneralInq
                              - InvOldInstruction
                              - InvPayPaymentRecall
                              - InvPayReturnDebitXVLess
                              - InvPayReturnDebitXVPlus
                              - InvPayStopPayment
                              - InvPayStandingOrdUnpaid
                              - SafeKeepAccess
                              - SafeKeepDeedMedium
                              - SafeKeepingEnvelope
                              - SafeKeepingInspection
                              - SafeKeepingLargeItem
                              - SafeKeepMultipleItems
                              - SafeKeepingParcel
                              - SafeKeepDeedSmall
                              - SafeKeepOneItem
                              - SafeKeepSafeCustody
                              - LoanArrangementFeePC
                              - LoanArrangement
                              - LoanEarlyRepayment
                              - LoanLatePayment
                              - LoanSMEUnsecuredLoan
                              - LoanTieredArrangement
                              - NightSafeNightSafeBankOpen
                              - NightSafeCreditSub5K
                              - NightSafeNightSafe
                              - NightSafeNightSafePaidIn
                              - OverdraftAnnualReview
                              - OverdraftTempOverdraft
                              - OverdraftUnauthorisedBorrowing
                              - POPostOfficeCounterCredit
                              - POPostOfficeCashCredit
                              - POPostOfficeCashOut
                              - POPostOfficeWithdrawal
                              - ChqBookTheftLossAllStopped
                              - ChqIssuedCurrencyAcc
                              - ChqCopy
                              - ChqDraft
                              - ChqIn
                              - ChqDraftSterling
                              - ChqOutIssued
                              - ChqSpecialChqPresentation
                              - ChqCounterCheque
                              - ChqChequeswithStatement
                              - ChqStopped
                              - ChqTrans
                              - ChqDraftFX
                              - ChqForeignCourier
                              - ChqForeignNegTenThou
                              - ChqForeignNegHundred
                              - ChequeForeignBankDivi
                              - ChqForeignNegFiftyThou
                              - ChqPensionCheque
                              - ChequeForeignOtherDivi
                              - ChqForeignNegFiveThou
                              - ChqForeignNegMax
                              - ChqForeignGBPMMDPlus
                              - ChqGiftCheque
                              - ChqCounterLodgement
                              - ChqCashDropLodgement
                              - ChqChequePhotocopy
                              - ChqPostOfficeCredit
                              - ChqPostOfficeChequeCollected
                              - ChqChequeRetrieval
                              - ChqReconcilliationPerTrans
                              - ChqSpecialPresentationCount
                              - ChqSpecialPresentationPTT
                              - ChqUnpaidCharge
                              - ChqUnpaidTransIn
                              - ChqUnpaidTransOut
                              - ChqUnpaidCheque
                              - ReportAuditLetter
                              - ReportFAXAdviceAdditional
                              - ReportTelAdviceAdditional
                              - ReportCreditHistory
                              - ReportCertInterestDuplicate
                              - ReportCertInterest
                              - ReportCreditHistoryAdditionalInYear
                              - ReportForeignStatusEnqElec
                              - ReportForeignStatusEnq
                              - ReportCashBackorInterestAnal
                              - ReportStatementChqDaily
                              - ReportStatementChqFortnightly
                              - ReportStatementChqMonthly
                              - ReportStatementChqWeekly
                              - ReportStatementAndDiviChq
                              - ReportReference
                              - ReportReferralItem
                              - ReportStatementByATM
                              - ReportStatementByBranch
                              - ReportStatementCopyRegular
                              - ReportStatusEnquiry
                              - ReportStatementFrequent
                              - ReportStatementMonthly
                              - ReportStatementCopy1
                              - ReportStatementToBranch
                              - ReportSMSTextMiniStatementorAlert
                              - ReportStatementFortnightly
                              - ReportSMSTextMiniStatementWoM
                              - ReportSMSTextAlertBalance
                              - ReportSMSTextAlert
                              - ReportTaxCert
                              - ReportWeeklyStatement
                              - ReportTextMessageBanking
                              - SEPACancellation
                              - SEPABranch
                              - SEPACredit
                              - SEPADirectDebit
                              - SEPAIn
                              - SEPAEuro
                              - SEPAOut
                              - SEPAUnpaid
                              - SEPAWinbitsAnnual Service
                              - SEPAWinbitsTransaction
                              - TransBillPaymentBranch
                              - TransBillCollect
                              - TransTelephoneBillPayment
                              - TransBankPayment
                              - TransBillPaymentTelephone
                              - TransCorrespondentBankFee
                              - TransCreditTransferUKDifferent
                              - TransCreditTransferUKSame
                              - TransCredit
                              - TransCreditTransfer
                              - TransBranchCredit
                              - TransDebit
                              - TransDebCardDeb
                              - TransUKDirDeb
                              - TransManualDeb
                              - TransBuyForeignWithGBP
                              - TransGoodValueReq
                              - TransSWIFTOutUKForeign
                              - TransInconpleteInstruction
                              - TransManualEntries
                              - TransManualTrans
                              - TransNonSterling
                              - TransPOSSaleForeign
                              - TransPriPaymentPost
                              - TransPOSSaleUK
                              - TransReturnPayment
                              - TransReconciliationPerTrans
                              - TransStandingOrdAdmin
                              - TransStandingOrd
                              - TransStandingOrdManPay
                              - TransTravellersChqOtherBank
                              - TransTelBusiPriPaymentForeignToUKAcc
                              - TransTeleItem
                              - TransTelBusiPriPaymentToGrpAcc
                              - TransTravellersChqRate
                              - TransTransferExGroup
                              - TransUnauthorisedPaidTrans
                              - TransUrgentPaymentPostal
                              - TransUnpaidTrans
                              - TransTelBusiPriPaymentToNonGrpAcc
                              - TransSWIFTOutNonEEASterling
                              - AutoAutoCredit
                              - AutoAutomatedEntries
                              - AutoAutoCreditPhoneInet
                              - AutoAutomatedTrans
                              - AutoDebitCardCommercial
                              - AutoFPSAutoCredit
                              - VisaConvertAbroadForeign
                              - VisaBureauDeChange
                              - VisaTravellersChqorCurrency
                              - OnlineInternetBillPayment
                              - OnlineBusinessOnlineEuroPayment
                              - OnlineBusinessOnlineUrgentEuroPayment
                              - OnlineBusinessOnlineForeignPayment
                              - OnlineInterbankTransfer
                              - OnlineInterbankPerTransfer
                              - OnlineInterbranchTransfer
                              - OnlineInterbranchPerTransfer
                              - OnlineSubscriptionMonthly
                              - OnlineBankingPayment
                              - OnlineBankingSubscription
                              - OnlinePOSSale
                              - OnlinePersonalCustAncillarys
                              - OnlinePersonalCustService
                              - OnlinePersonalCustOverlimits
                              - OnlineReplacementCardReader
                              - OnlinePersonalCustSetUp
                              - OnlinePersonalCustTransaction
                              - OnlinePaymentinGBPtoUK
                              - OnlineUrgentPayment
                              - OnlinePaymentinUSDtoUS
                              - OnlineBulkDirectDebSterling
                              - ForeignChqSent
                              - ForeignChqSelf
                              - ForeignChqEncashment
                              - ForeignFXInwardsCust
                              - ForeignFXTransfersROI
                              - ForeignFXForwardTrans
                              - ForeignFXTransfersBOI
                              - ForeignExMaintenance
                              - ForeignFXInwardsNonCust
                              - ForeignFXOutwards
                              - ForeignPurchase
                              - ForeignStatusRep
                              - ForeignChqDraft
                              - ForeignChqCLess
                              - ForeignChqMLess
                              - ForeignChqOther
                              - ForeignChqMPlus
                              - ForeignChqCCC
                              - ServiceCAccountFee
                              - ServiceCAccountFeeMonthly
                              - ServiceCAccountFeeQuarterly
                              - ServiceCBalanceHandling
                              - ServiceCFixedTariff
                              - ServiceCBusiDepAccBreakage
                              - ServiceCMonitorDaily
                              - ServiceCManagementFee
                              - ServiceCMinimumMonthlyFee
                              - ServiceCMonitorMonthly
                              - ServiceCMonitorWeekly
                              - ServiceCSecurityFee
                              - ServiceCMT940AccountFirst
                              - ServiceCMT940AccountSubsequent
                              - ServiceCOther
                              - CounterCoinHandling
                              - CounterCashIn
                              - CounterCashInNotUs
                              - CounterCashOut
                              - CounterCashX
                              - CounterForeignCashMax
                              - CounterForeignNoteHandling
                              - CounterForeignCashOut
                              - CounterCashFeeRate
                              - CounterForeignCashOutTx
                              - CounterCounterLodgement
                              - CounterCashDropLodgement
                              - CounterNotesLodged
                              - CounterNotesOut
                              - CounterCashInOwn
                              - CounterPaidTrans
                              - CounterCashFeePercent
                            type: string
                          LengthPromotionalInDays:
                            description: Describes the length if only a duration is given instead of a date
                            type: integer
                          Other:
                            description: Describe other fee type
                            type: string
                          StartPromotionOrFutureTerms:
                            description: Describes the start date
                            pattern: '^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$'
                            type: string
                          StopPromotionOrFutureTerms:
                            description: Describes the end date
                            pattern: '^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$'
                            type: string
                        required:
                          - FeeType
                          - FeeSubDetails
                        type: object
                      FeeSubType:
                        description: Fee Sub Type code
                        enum:
                          - FutureMultipleTerms
                          - Promotional
                          - Regular
                        type: string
                    required:
                      - FeeSubType
                      - FeeDetail
                    type: object
                  minItems: 1
                  type: array
                FeeHigherTier:
                  description: 'Higher occurrence / range boundary e.g. For returned cheques this could be 10, which means the first 10 returned cheque fits into this range'
                  type: integer
                FeeLowerTier:
                  description: 'Lower occurrence / range boundary e.g.. For returned cheques this could be 0, which means the first returned cheque fits into this range'
                  type: integer
                LengthPromotionalInDays:
                  description: Describes the length if only a duration is given instead of a date
                  type: integer
                StartPromotionOrFutureTerms:
                  description: Describes the start date
                  pattern: '^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$'
                  type: string
                StopPromotionOrFutureTerms:
                  description: Describes the end date
                  pattern: '^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$'
                  type: string
              required:
                - FeeDetails
              type: object
            ProductSubType:
              description: 'Describes if the offering is promotional, regular or a description of a future state'
              enum:
                - FutureMultipleTerms
                - Promotional
                - Regular
              type: string
          required:
            - ProductSubType
            - Fees
          type: object
        minItems: 1
        type: array
      InternationalPaymentsSupported:
        description: Indicates that the account supports international payments
        type: boolean
      MaximumMonthlyCharge:
        description: The maximum Relevant Charges that could accrue
        pattern: '^-?\d{1,10}\.\d{1,2}$'
        type: string
      MobileWallet:
        description: Mobile wallet supported by this product. A mobile wallet being any electronic device that allows an individual to make electronic commerce transactions
        items:
          description: Mobile wallet supported by this product. A mobile wallet being any electronic device that allows an individual to make electronic commerce transactions
          enum:
            - AndroidPay
            - ApplePay
            - IssuerMobileApp
            - MobileBankingApp
            - Other
            - PayM
            - SamsungPay
            - VodafoneWallet
          type: string
        type: array
      Organisation:
        additionalProperties: false
        description: Organisation
        properties:
          Brand:
            additionalProperties: false
            description: Brand
            properties:
              TrademarkID:
                description: 'The trademark number that has been registered with the Intellectual Property Office. Note: The 2 letter IPO prefix should be omitted'
                maxLength: 35
                minLength: 1
                type: string
              TrademarkIPOCode:
                description: 'The Intellectual Property Office (IPO) is the official body responsible for intellectual property (IP) rights including patents, designs, trademarks and copyright. (Code: UK or EU only)'
                enum:
                  - UK
                  - EU
                type: string
            required:
              - TrademarkIPOCode
              - TrademarkID
            type: object
          ParentOrganisation:
            additionalProperties: false
            description: Parent organisation
            properties:
              BIC:
                description: The BIC from the organisation
                pattern: '[A-Z]{6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3})?'
                type: string
              LEI:
                description: The LEI ID of the organisation
                pattern: '^[A-Z0-9]{18,18}[0-9]{2,2}$'
                type: string
              OrganisationName:
                additionalProperties: false
                description: Organisation Name
                properties:
                  LegalName:
                    description: Legal Name of the organisation
                    maxLength: 35
                    minLength: 1
                    type: string
                required:
                  - LegalName
                type: object
            required:
              - OrganisationName
            type: object
        required:
          - ParentOrganisation
          - Brand
        type: object
      Overdraft:
        items:
          additionalProperties: false
          description: Overdraft
          properties:
            AnnualRenewalFee:
              description: Fee payable per term for overdraft
              pattern: '^-?\d{1,10}\.\d{1,2}$'
              type: string
            AnnualRenewalRate:
              description: Rate to renew overdraft
              pattern: '^-?\d{1,3}\.\d{1,4}$'
              type: string
            DateOfChange:
              description: Date of the change if it refers to future terms
              pattern: '^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$'
              type: string
            InterestProductSubType:
              description: 'Describes if the offering is promotional, regular or a description of a future state'
              enum:
                - FutureMultipleTerms
                - Promotional
                - Regular
              type: string
            LengthPromotionalInDays:
              description: Describes the length if only a duration is given instead of a date
              type: integer
            MaximumDailyOverdraftCharge:
              description: Maximum daily overdraft charge
              pattern: '^-?\d{1,10}\.\d{1,2}$'
              type: string
            MaximumMonthlyOverdraftCharge:
              description: Maximum monthly overdraft charge
              pattern: '^-?\d{1,10}\.\d{1,2}$'
              type: string
            MinimumFee:
              description: Minimum overdraft fee
              pattern: '^-?\d{1,10}\.\d{1,2}$'
              type: string
            MinimumRenewalFee:
              description: The minimum amount charged for the annual renewal
              pattern: '^-?\d{1,10}\.\d{1,2}$'
              type: string
            MinimumSetupFee:
              description: The minimum amount charged for an overdraft set up
              pattern: '^-?\d{1,10}\.\d{1,2}$'
              type: string
            OverdraftPricing:
              additionalProperties: false
              description: Overdraft Pricing
              properties:
                ApplicableTo:
                  additionalProperties: false
                  description: Personal Interest Tiers
                  maxProperties: 1
                  minProperties: 1
                  properties:
                    InterestTierPersonal:
                      description: Identifier for the tier
                      type: string
                    InterestTierSME:
                      description: 'Identifier for tier only where it has been supplied under Part 8 (article 32 or the CMA order), value reflects upper tier value'
                      enum:
                        - £5000
                        - £10000
                        - £15000
                        - £20000
                        - £25000
                        - Other
                        - TierMaximum
                        - TierMinimum
                      type: string
                  type: object
                BufferAmount:
                  description: Amount on overdraft that is prearranged
                  pattern: '^-?\d{1,10}\.\d{1,2}$'
                  type: string
                DailyCharge:
                  description: Maximum daily overdraft charge
                  pattern: '^-?\d{1,10}\.\d{1,2}$'
                  type: string
                IndicativeRate:
                  description: Indicative Rate that the client will get
                  type: string
                InterestApplicationFrequency:
                  description: When the interest is applied
                  enum:
                    - Annual
                    - Daily
                    - Monthly
                    - Quarterly
                    - StatementDate
                  type: string
                InterestNotes:
                  description: Optional additional notes to supplement the interest details
                  type: string
                InterestRate:
                  description: interest rate applied to tier
                  pattern: '^-?\d{1,3}\.\d{1,4}$'
                  type: string
                InterestRateCalculationFrequency:
                  description: Frequency at which interest is calculated and accrued
                  enum:
                    - Annual
                    - Daily
                    - Monthly
                    - Quarterly
                  type: string
                InterestRateEARpa:
                  description: Interest rate applied to tier
                  pattern: '^-?\d{1,3}\.\d{1,4}$'
                  type: string
                ItemCharge:
                  description: Arranged overdraft item charge
                  pattern: '^-?\d{1,10}\.\d{1,2}$'
                  type: string
                MinUnarrangedOverdraftAmount:
                  description: Minimum Unarranged Overdraft Amount if applicable
                  pattern: '^-?\d{1,10}\.\d{1,2}$'
                  type: string
                MonthlyCharge:
                  description: Maximum monthly overdraft charge
                  pattern: '^-?\d{1,10}\.\d{1,2}$'
                  type: string
                OtherCharge:
                  description: Other flat charge levied when overdrawn (Arranged)
                  pattern: '^-?\d{1,10}\.\d{1,2}$'
                  type: string
                OverdraftNotes:
                  description: Supplementary notes for overdrafts
                  type: string
                RatesAreNegotiable:
                  description: Value that expresses if the rates are negotiable
                  enum:
                    - 'No'
                    - 'Yes'
                  type: string
                RepresentativeRate:
                  description: Interest rate at AER
                  pattern: '^-?\d{1,3}\.\d{1,4}$'
                  type: string
                Tiers:
                  items:
                    additionalProperties: false
                    description: Tiers
                    properties:
                      TierType:
                        additionalProperties: false
                        description: Tier Type
                        maxProperties: 1
                        minProperties: 1
[...]
