swagger: "2.0"
schemes:
  - https
host: connect.squareup.com
info:
  contact:
    email: developers@squareup.com
    name: Square Developer Platform
    url: https://squareup.com/developers
  description: Client library for accessing the Square Connect APIs
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://connect.squareup.com/tos
  title: Square Connect
  version: "2.0"
  x-apisguru-categories:
    - payment
  x-logo:
    url: http://square.github.io/images/logo.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/square/connect-api-specification/master/api.json
      version: "2.0"
  x-providerName: squareup.com
externalDocs:
  description: "Read the official documentation here:"
  url: https://docs.connect.squareup.com/
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  oauth2:
    authorizationUrl: https://connect.squareup.com/oauth2/authorize
    flow: accessCode
    scopes:
      BANK_ACCOUNTS_READ: GET endpoints related to a merchant's bank accounts
      CUSTOMERS_READ: " GET endpoints related to customer management"
      CUSTOMERS_WRITE: POST, PUT, and DELETE endpoints related to customer management
      EMPLOYEES_READ: GET endpoints related to employee management
      EMPLOYEES_WRITE: POST, PUT, and DELETE endpoints related to employee management
      ITEMS_READ: GET endpoints related to a merchant's item library
      ITEMS_WRITE: POST, PUT, and DELETE endpoints related to a merchant's item library
      MERCHANT_PROFILE_READ: GET endpoints related to a merchant's business and location entities. Almost all Connect API applications need this permission in order to obtain a merchant's location IDs
      ORDERS_READ: GET endpoints related to a merchant's orders
      ORDERS_WRITE: POST, PUT, and DELETE endpoints related to a merchant's orders
      PAYMENTS_READ: GET endpoints related to transactions and refunds
      PAYMENTS_WRITE: POST, PUT, and DELETE endpoints related to transactions and refunds. E-commerce applications must request this permission
      SETTLEMENTS_READ: GET endpoints related to settlements (deposits)
      TIMECARDS_READ: GET endpoints related to employee timecards
      TIMECARDS_WRITE: POST, PUT, and DELETE endpoints related to employee timecards
    tokenUrl: https://connect.squareup.com/oauth2/token
    type: oauth2
paths:
  /v1/me:
    get:
      deprecated: true
      description: Get a business's information.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#get-merchantid
      operationId: RetrieveBusiness
      parameters: []
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1Merchant"
      security:
        - oauth2:
            - MERCHANT_PROFILE_READ
      summary: Get a business's information.
      tags:
        - V1Locations
  /v1/me/employees:
    get:
      deprecated: false
      description: Provides summary information for all of a business's employees.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#get-employees
      operationId: ListEmployees
      parameters:
        - description: "The order in which employees are listed in the response, based on their created_at field.      Default value: ASC "
          enum:
            - ASC
            - DESC
          in: query
          name: order
          type: string
        - description: If filtering results by their updated_at field, the beginning of the requested reporting period, in ISO 8601 format
          in: query
          name: begin_updated_at
          required: false
          type: string
        - description: If filtering results by there updated_at field, the end of the requested reporting period, in ISO 8601 format.
          in: query
          name: end_updated_at
          required: false
          type: string
        - description: If filtering results by their created_at field, the beginning of the requested reporting period, in ISO 8601 format.
          in: query
          name: begin_created_at
          required: false
          type: string
        - description: If filtering results by their created_at field, the end of the requested reporting period, in ISO 8601 format.
          in: query
          name: end_created_at
          required: false
          type: string
        - description: If provided, the endpoint returns only employee entities with the specified status (ACTIVE or INACTIVE).
          enum:
            - ACTIVE
            - INACTIVE
          in: query
          name: status
          type: string
        - description: If provided, the endpoint returns only employee entities with the specified external_id.
          in: query
          name: external_id
          type: string
        - description: The maximum integer number of employee entities to return in a single response. Default 100, maximum 200.
          in: query
          maximum: 200
          name: limit
          type: integer
        - description: >-
            A pagination cursor to retrieve the next set of results for your

            original query to the endpoint.
          in: query
          name: batch_token
          required: false
          type: string
      responses:
        "200":
          description: Success
          headers:
            Link:
              description: "If returned, there are too many items to return in one request and you must paginate with the supplied link. "
              type: string
          schema:
            items:
              $ref: "#/definitions/v1Employee"
            type: array
      security:
        - oauth2:
            - EMPLOYEES_READ
      summary: Provides summary information for all of a business's employees.
      tags:
        - V1Employees
    post:
      deprecated: false
      description: Creates an employee for a business.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#post-employees
      operationId: CreateEmployee
      parameters:
        - description: >-
            An object containing the fields to POST for the request.


            See the corresponding object definition for field details.
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/v1Employee"
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1Employee"
      security:
        - oauth2:
            - EMPLOYEES_WRITE
      summary: Creates an employee for a business.
      tags:
        - V1Employees
  "/v1/me/employees/{employee_id}":
    get:
      deprecated: false
      description: Provides the details for a single employee.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#get-employeeid
      operationId: RetrieveEmployee
      parameters:
        - description: The employee's ID.
          in: path
          name: employee_id
          required: true
          type: string
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1Employee"
      security:
        - oauth2:
            - EMPLOYEES_READ
      summary: Provides the details for a single employee.
      tags:
        - V1Employees
    put:
      deprecated: false
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#put-employeeid
      operationId: UpdateEmployee
      parameters:
        - description: The ID of the role to modify.
          in: path
          name: employee_id
          required: true
          type: string
        - description: >-
            An object containing the fields to POST for the request.


            See the corresponding object definition for field details.
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/v1Employee"
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1Employee"
      security:
        - oauth2:
            - EMPLOYEES_WRITE
      summary: V1 UpdateEmployee
      tags:
        - V1Employees
  /v1/me/locations:
    get:
      deprecated: true
      description: Provides details for a business's locations, including their IDs.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#get-locations
      parameters: []
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            items:
              $ref: "#/definitions/v1Merchant"
            type: array
      security:
        - oauth2:
            - MERCHANT_PROFILE_READ
      summary: Provides details for a business's locations, including their IDs.
      tags:
        - V1Locations
  /v1/me/roles:
    get:
      deprecated: false
      description: Provides summary information for all of a business's employee roles.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#get-roles
      operationId: ListEmployeeRoles
      parameters:
        - description: "The order in which employees are listed in the response, based on their created_at field.Default value: ASC "
          enum:
            - ASC
            - DESC
          in: query
          name: order
          type: string
        - description: The maximum integer number of employee entities to return in a single response. Default 100, maximum 200.
          in: query
          maximum: 200
          name: limit
          type: integer
        - description: >-
            A pagination cursor to retrieve the next set of results for your

            original query to the endpoint.
          in: query
          name: batch_token
          required: false
          type: string
      responses:
        "200":
          description: Success
          headers:
            Link:
              description: If returned, there are too many items to return in one request and you must paginate with the supplied link.
              type: string
          schema:
            items:
              $ref: "#/definitions/v1EmployeeRole"
            type: array
      security:
        - oauth2:
            - EMPLOYEES_READ
      summary: Provides summary information for all of a business's employee roles.
      tags:
        - V1Employees
    post:
      deprecated: false
      description: Creates an employee role you can then assign to employees.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#post-roles
      operationId: CreateEmployeeRole
      parameters:
        - description: An EmployeeRole object with a name and permissions, and an optional owner flag.
          in: body
          name: EmployeeRole
          required: true
          schema:
            $ref: "#/definitions/v1EmployeeRole"
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1EmployeeRole"
      security:
        - oauth2:
            - EMPLOYEES_WRITE
      summary: Creates an employee role you can then assign to employees.
      tags:
        - V1Employees
  "/v1/me/roles/{role_id}":
    get:
      deprecated: false
      description: Provides the details for a single employee role.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#get-roleid
      operationId: RetrieveEmployeeRole
      parameters:
        - description: The role's ID.
          in: path
          name: role_id
          required: true
          type: string
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1EmployeeRole"
      security:
        - oauth2:
            - EMPLOYEES_READ
      summary: Provides the details for a single employee role.
      tags:
        - V1Employees
    put:
      deprecated: false
      description: Modifies the details of an employee role.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#put-roleid
      operationId: UpdateEmployeeRole
      parameters:
        - description: The ID of the role to modify.
          in: path
          name: role_id
          required: true
          type: string
        - description: >-
            An object containing the fields to POST for the request.


            See the corresponding object definition for field details.
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/v1EmployeeRole"
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1EmployeeRole"
      security:
        - oauth2:
            - EMPLOYEES_WRITE
      summary: Modifies the details of an employee role.
      tags:
        - V1Employees
  /v1/me/timecards:
    get:
      deprecated: false
      description: Provides summary information for all of a business's employee timecards.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#get-timecards
      operationId: ListTimecards
      parameters:
        - description: The order in which timecards are listed in the response, based on their created_at field.
          enum:
            - ASC
            - DESC
          in: query
          name: order
          required: false
          type: string
        - description: If provided, the endpoint returns only timecards for the employee with the specified ID.
          in: query
          name: employee_id
          required: false
          type: string
        - description: If filtering results by their clockin_time field, the beginning of the requested reporting period, in ISO 8601 format.
          in: query
          name: begin_clockin_time
          required: false
          type: string
        - description: If filtering results by their clockin_time field, the end of the requested reporting period, in ISO 8601 format.
          in: query
          name: end_clockin_time
          required: false
          type: string
        - description: If filtering results by their clockout_time field, the beginning of the requested reporting period, in ISO 8601 format.
          in: query
          name: begin_clockout_time
          required: false
          type: string
        - description: If filtering results by their clockout_time field, the end of the requested reporting period, in ISO 8601 format.
          in: query
          name: end_clockout_time
          required: false
          type: string
        - description: If filtering results by their updated_at field, the beginning of the requested reporting period, in ISO 8601 format.
          in: query
          name: begin_updated_at
          required: false
          type: string
        - description: If filtering results by their updated_at field, the end of the requested reporting period, in ISO 8601 format.
          in: query
          name: end_updated_at
          required: false
          type: string
        - description: If true, only deleted timecards are returned. If false, only valid timecards are returned.If you don't provide this parameter, both valid and deleted timecards are returned.
          in: query
          name: deleted
          required: false
          type: boolean
        - description: The maximum integer number of employee entities to return in a single response. Default 100, maximum 200.
          in: query
          maximum: 200
          name: limit
          type: integer
        - description: >-
            A pagination cursor to retrieve the next set of results for your

            original query to the endpoint.
          in: query
          name: batch_token
          required: false
          type: string
      responses:
        "200":
          description: Success
          headers:
            Link:
              description: "If returned, there are too many items to return in one request and you must paginate with the supplied link. "
              type: string
          schema:
            items:
              $ref: "#/definitions/v1Timecard"
            type: array
      security:
        - oauth2:
            - TIMECARDS_READ
      summary: Provides summary information for all of a business's employee timecards.
      tags:
        - V1Employees
    post:
      deprecated: false
      description: Creates a timecard for an employee. Each timecard corresponds to a single shift.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#post-timecards
      operationId: CreateTimecard
      parameters:
        - description: >-
            An object containing the fields to POST for the request.


            See the corresponding object definition for field details.
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/v1Timecard"
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1Timecard"
      security:
        - oauth2:
            - TIMECARDS_WRITE
      summary: Creates a timecard for an employee. Each timecard corresponds to a single shift.
      tags:
        - V1Employees
  "/v1/me/timecards/{timecard_id}":
    delete:
      deprecated: false
      description: Deletes a timecard. Deleted timecards are still accessible from Connect API endpoints, but the value of their deleted field is set to true. See Handling deleted timecards for more information.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#delete-timecardid
      operationId: DeleteTimecard
      parameters:
        - description: The ID of the timecard to delete.
          in: path
          name: timecard_id
          required: true
          type: string
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            type: object
      security:
        - oauth2:
            - TIMECARDS_WRITE
      summary: Deletes a timecard. Deleted timecards are still accessible from Connect API endpoints, but the value of their deleted field is set to true. See Handling deleted timecards for more information.
      tags:
        - V1Employees
    get:
      deprecated: false
      description: Provides the details for a single timecard.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#get-timecardid
      operationId: RetrieveTimecard
      parameters:
        - description: The timecard's ID.
          in: path
          name: timecard_id
          required: true
          type: string
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1Timecard"
      security:
        - oauth2:
            - TIMECARDS_READ
      summary: Provides the details for a single timecard.
      tags:
        - V1Employees
    put:
      deprecated: false
      description: Modifies a timecard's details. This creates an API_EDIT event for the timecard. You can view a timecard's event history with the List Timecard Events endpoint.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#put-timecardid
      operationId: UpdateTimecard
      parameters:
        - description: TThe ID of the timecard to modify.
          in: path
          name: timecard_id
          required: true
          type: string
        - description: >-
            An object containing the fields to POST for the request.


            See the corresponding object definition for field details.
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/v1Timecard"
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1Timecard"
      security:
        - oauth2:
            - TIMECARDS_WRITE
      summary: Modifies a timecard's details. This creates an API_EDIT event for the timecard. You can view a timecard's event history with the List Timecard Events endpoint.
      tags:
        - V1Employees
  "/v1/me/timecards/{timecard_id}/events":
    get:
      deprecated: false
      description: Provides summary information for all events associated with a particular timecard.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#get-events
      operationId: ListTimecardEvents
      parameters:
        - description: The ID of the timecard to list events for.
          in: path
          name: timecard_id
          required: true
          type: string
      responses:
        "200":
          description: Success
          headers:
            Link:
              description: "If returned, there are too many items to return in one request and you must paginate with the supplied link. "
              type: string
          schema:
            items:
              $ref: "#/definitions/v1TimecardEvent"
            type: array
      security:
        - oauth2:
            - TIMECARDS_READ
      summary: Provides summary information for all events associated with a particular timecard.
      tags:
        - V1Employees
  "/v1/{location_id}/bank-accounts":
    get:
      deprecated: false
      description: Provides non-confidential details for all of a location's associated bank accounts. This endpoint does not provide full bank account numbers, and there is no way to obtain a full bank account number with the Connect API.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#get-bankaccounts
      operationId: ListBankAccounts
      parameters:
        - description: The ID of the location to list bank accounts for.
          in: path
          name: location_id
          required: true
          type: string
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            items:
              $ref: "#/definitions/v1BankAccount"
            type: array
      security:
        - oauth2:
            - BANK_ACCOUNTS_READ
      summary: Provides non-confidential details for all of a location's associated bank accounts. This endpoint does not provide full bank account numbers, and there is no way to obtain a full bank account number with the Connect API.
      tags:
        - V1Transactions
  "/v1/{location_id}/bank-accounts/{bank_account_id}":
    get:
      deprecated: false
      description: Provides non-confidential details for a merchant's associated bank account. This endpoint does not provide full bank account numbers, and there is no way to obtain a full bank account number with the Connect API.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#get-bankaccountid
      operationId: RetrieveBankAccount
      parameters:
        - description: The ID of the bank account's associated location.
          in: path
          name: location_id
          required: true
          type: string
        - description: The bank account's Square-issued ID. You obtain this value from Settlement objects returned.
          in: path
          name: bank_account_id
          required: true
          type: string
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1BankAccount"
      security:
        - oauth2:
            - BANK_ACCOUNTS_READ
      summary: Provides non-confidential details for a merchant's associated bank account. This endpoint does not provide full bank account numbers, and there is no way to obtain a full bank account number with the Connect API.
      tags:
        - V1Transactions
  "/v1/{location_id}/cash-drawer-shifts":
    get:
      deprecated: false
      description: Provides the details for all of a location's cash drawer shifts during a date range. The date range you specify cannot exceed 90 days.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#get-cashdrawershifts
      operationId: ListCashDrawerShifts
      parameters:
        - description: The ID of the location to list cash drawer shifts for.
          in: path
          name: location_id
          required: true
          type: string
        - description: "The order in which cash drawer shifts are listed in the response, based on their created_at field. Default value: ASC"
          enum:
            - ASC
            - DESC
          in: query
          name: order
          required: false
          type: string
        - description: "The beginning of the requested reporting period, in ISO 8601 format. Default value: The current time minus 90 days."
          in: query
          name: begin_time
          required: false
          type: string
        - description: "The beginning of the requested reporting period, in ISO 8601 format. Default value: The current time."
          in: query
          name: end_time
          required: false
          type: string
      responses:
        "200":
          description: Success
          headers:
            Link:
              description: "If returned, there are too many items to return in one request and you must paginate with the supplied link. "
              type: string
          schema:
            items:
              $ref: "#/definitions/v1CashDrawerShift"
            type: array
      security:
        - oauth2:
            - PAYMENTS_READ
      summary: Provides the details for all of a location's cash drawer shifts during a date range. The date range you specify cannot exceed 90 days.
      tags:
        - V1Employees
  "/v1/{location_id}/cash-drawer-shifts/{shift_id}":
    get:
      deprecated: false
      description: Provides the details for a single cash drawer shift, including all events that occurred during the shift.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#get-cashdrawershiftid
      operationId: RetrieveCashDrawerShift
      parameters:
        - description: The ID of the location to list cash drawer shifts for.
          in: path
          name: location_id
          required: true
          type: string
        - description: The shift's ID.
          in: path
          name: shift_id
          required: true
          type: string
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1CashDrawerShift"
      security:
        - oauth2:
            - TIMECARDS_READ
      summary: Provides the details for a single cash drawer shift, including all events that occurred during the shift.
      tags:
        - V1Employees
  "/v1/{location_id}/categories":
    get:
      deprecated: false
      description: Lists all of a location's item categories.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#get-categories
      operationId: ListCategories
      parameters:
        - description: The ID of the location to list categories for.
          in: path
          name: location_id
          required: true
          type: string
      responses:
        "200":
          description: Success
          headers:
            Link:
              description: "If returned, there are too many items to return in one request and you must paginate with the supplied link. "
              type: string
          schema:
            items:
              $ref: "#/definitions/v1Category"
            type: array
      security:
        - oauth2:
            - ITEMS_READ
      summary: Lists all of a location's item categories.
      tags:
        - V1Items
    post:
      deprecated: false
      description: Creates an item category.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#post-categories
      operationId: CreateCategory
      parameters:
        - description: The ID of the location to create an item for.
          in: path
          name: location_id
          required: true
          type: string
        - description: >-
            An object containing the fields to POST for the request.


            See the corresponding object definition for field details.
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/v1Category"
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1Category"
      security:
        - oauth2:
            - ITEMS_WRITE
      summary: Creates an item category.
      tags:
        - V1Items
  "/v1/{location_id}/categories/{category_id}":
    delete:
      deprecated: false
      description: Deletes an existing item category.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#delete-categoryid
      operationId: DeleteCategory
      parameters:
        - description: The ID of the item's associated location.
          in: path
          name: location_id
          required: true
          type: string
        - description: The ID of the category to delete.
          in: path
          name: category_id
          required: true
          type: string
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1Category"
      security:
        - oauth2:
            - ITEMS_WRITE
      summary: Deletes an existing item category.
      tags:
        - V1Items
    put:
      deprecated: false
      description: Modifies the details of an existing item category.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#put-categoryid
      operationId: UpdateCategory
      parameters:
        - description: The ID of the category's associated location.
          in: path
          name: location_id
          required: true
          type: string
        - description: The ID of the category to edit.
          in: path
          name: category_id
          required: true
          type: string
        - description: >-
            An object containing the fields to POST for the request.


            See the corresponding object definition for field details.
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/v1Category"
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1Category"
      security:
        - oauth2:
            - ITEMS_WRITE
      summary: Modifies the details of an existing item category.
      tags:
        - V1Items
  "/v1/{location_id}/discounts":
    get:
      deprecated: false
      description: Lists all of a location's discounts.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#get-discounts
      operationId: ListDiscounts
      parameters:
        - description: The ID of the location to list categories for.
          in: path
          name: location_id
          required: true
          type: string
      responses:
        "200":
          description: Success
          headers:
            Link:
              description: "If returned, there are too many items to return in one request and you must paginate with the supplied link. "
              type: string
          schema:
            items:
              $ref: "#/definitions/v1Discount"
            type: array
      security:
        - oauth2:
            - ITEMS_READ
      summary: Lists all of a location's discounts.
      tags:
        - V1Items
    post:
      deprecated: false
      description: Creates a discount.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#post-discounts
      operationId: CreateDiscount
      parameters:
        - description: The ID of the location to create an item for.
          in: path
          name: location_id
          required: true
          type: string
        - description: >-
            An object containing the fields to POST for the request.


            See the corresponding object definition for field details.
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/v1Discount"
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1Discount"
      security:
        - oauth2:
            - ITEMS_WRITE
      summary: Creates a discount.
      tags:
        - V1Items
  "/v1/{location_id}/discounts/{discount_id}":
    delete:
      deprecated: false
      description: Deletes an existing discount.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#delete-discountid
      operationId: DeleteDiscount
      parameters:
        - description: The ID of the item's associated location.
          in: path
          name: location_id
          required: true
          type: string
        - description: The ID of the discount to delete.
          in: path
          name: discount_id
          required: true
          type: string
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1Discount"
      security:
        - oauth2:
            - ITEMS_WRITE
      summary: Deletes an existing discount.
      tags:
        - V1Items
    put:
      deprecated: false
      description: Modifies the details of an existing discount.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#put-discountid
      operationId: UpdateDiscount
      parameters:
        - description: The ID of the category's associated location.
          in: path
          name: location_id
          required: true
          type: string
        - description: The ID of the discount to edit.
          in: path
          name: discount_id
          required: true
          type: string
        - description: >-
            An object containing the fields to POST for the request.


            See the corresponding object definition for field details.
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/v1Discount"
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1Discount"
      security:
        - oauth2:
            - ITEMS_WRITE
      summary: Modifies the details of an existing discount.
      tags:
        - V1Items
  "/v1/{location_id}/fees":
    get:
      deprecated: false
      description: Lists all of a location's fees (taxes).
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#get-fees
      operationId: ListFees
      parameters:
        - description: The ID of the location to list fees for.
          in: path
          name: location_id
          required: true
          type: string
      responses:
        "200":
          description: Success
          headers:
            Link:
              description: "If returned, there are too many items to return in one request and you must paginate with the supplied link. "
              type: string
          schema:
            items:
              $ref: "#/definitions/v1Fee"
            type: array
      security:
        - oauth2:
            - ITEMS_READ
      summary: Lists all of a location's fees (taxes).
      tags:
        - V1Items
    post:
      deprecated: false
      description: Creates a fee (tax).
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#post-fees
      operationId: CreateFee
      parameters:
        - description: The ID of the location to create a fee for.
          in: path
          name: location_id
          required: true
          type: string
        - description: >-
            An object containing the fields to POST for the request.


            See the corresponding object definition for field details.
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/v1Fee"
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1Fee"
      security:
        - oauth2:
            - ITEMS_WRITE
      summary: Creates a fee (tax).
      tags:
        - V1Items
  "/v1/{location_id}/fees/{fee_id}":
    delete:
      deprecated: false
      description: Deletes an existing fee (tax).
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#delete-feeid
      operationId: DeleteFee
      parameters:
        - description: The ID of the fee's associated location.
          in: path
          name: location_id
          required: true
          type: string
        - description: The ID of the fee to delete.
          in: path
          name: fee_id
          required: true
          type: string
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1Fee"
      security:
        - oauth2:
            - ITEMS_WRITE
      summary: Deletes an existing fee (tax).
      tags:
        - V1Items
    put:
      deprecated: false
      description: Modifies the details of an existing fee (tax).
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#put-feeid
      operationId: UpdateFee
      parameters:
        - description: The ID of the fee's associated location.
          in: path
          name: location_id
          required: true
          type: string
        - description: The ID of the fee to edit.
          in: path
          name: fee_id
          required: true
          type: string
        - description: >-
            An object containing the fields to POST for the request.


            See the corresponding object definition for field details.
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/v1Fee"
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1Fee"
      security:
        - oauth2:
            - ITEMS_WRITE
      summary: Modifies the details of an existing fee (tax).
      tags:
        - V1Items
  "/v1/{location_id}/inventory":
    get:
      deprecated: false
      description: Provides inventory information for all of a merchant's inventory-enabled item variations.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#get-inventory
      operationId: ListInventory
      parameters:
        - description: The ID of the item's associated location.
          in: path
          name: location_id
          required: true
          type: string
        - description: The maximum number of inventory entries to return in a single response. This value cannot exceed 1000.
          in: query
          maximum: 1000
          name: limit
          required: false
          type: integer
        - description: >-
            A pagination cursor to retrieve the next set of results for your

            original query to the endpoint.
          in: query
          name: batch_token
          required: false
          type: string
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            items:
              $ref: "#/definitions/v1InventoryEntry"
            type: array
      security:
        - oauth2:
            - ITEMS_READ
      summary: Provides inventory information for all of a merchant's inventory-enabled item variations.
      tags:
        - V1Items
  "/v1/{location_id}/inventory/{variation_id}":
    post:
      deprecated: false
      description: Adjusts an item variation's current available inventory.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#post-inventory-variationid
      operationId: AdjustInventory
      parameters:
        - description: The ID of the item's associated location.
          in: path
          name: location_id
          required: true
          type: string
        - description: The ID of the variation to adjust inventory information for.
          in: path
          name: variation_id
          required: true
          type: string
        - description: >-
            An object containing the fields to POST for the request.


            See the corresponding object definition for field details.
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/v1AdjustInventoryRequest"
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1InventoryEntry"
      security:
        - oauth2:
            - ITEMS_WRITE
      summary: Adjusts an item variation's current available inventory.
      tags:
        - V1Items
  "/v1/{location_id}/items":
    get:
      deprecated: false
      description: Provides summary information for all of a location's items.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#get-items
      operationId: ListItems
      parameters:
        - description: The ID of the location to list items for.
          in: path
          name: location_id
          required: true
          type: string
        - description: >-
            A pagination cursor to retrieve the next set of results for your

            original query to the endpoint.
          in: query
          name: batch_token
          required: false
          type: string
      responses:
        "200":
          description: Success
          headers:
            Link:
              description: "If returned, there are too many items to return in one request and you must paginate with the supplied link. "
              type: string
          schema:
            items:
              $ref: "#/definitions/v1Item"
            type: array
      security:
        - oauth2:
            - ITEMS_READ
      summary: Provides summary information for all of a location's items.
      tags:
        - V1Items
    post:
      deprecated: false
      description: Creates an item and at least one variation for it.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#post-items
      operationId: CreateItem
      parameters:
        - description: The ID of the location to create an item for.
          in: path
          name: location_id
          required: true
          type: string
        - description: >-
            An object containing the fields to POST for the request.


            See the corresponding object definition for field details.
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/v1Item"
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1Item"
      security:
        - oauth2:
            - ITEMS_WRITE
      summary: Creates an item and at least one variation for it.
      tags:
        - V1Items
  "/v1/{location_id}/items/{item_id}":
    delete:
      deprecated: false
      description: Deletes an existing item and all item variations associated with it.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#delete-itemid
      operationId: DeleteItem
      parameters:
        - description: The ID of the item's associated location.
          in: path
          name: location_id
          required: true
          type: string
        - description: The ID of the item to modify.
          in: path
          name: item_id
          required: true
          type: string
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1Item"
      security:
        - oauth2:
            - ITEMS_WRITE
      summary: Deletes an existing item and all item variations associated with it.
      tags:
        - V1Items
    get:
      deprecated: false
      description: Provides the details for a single item, including associated modifier lists and fees.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#get-itemid
      operationId: RetrieveItem
      parameters:
        - description: The ID of the item's associated location.
          in: path
          name: location_id
          required: true
          type: string
        - description: The item's ID.
          in: path
          name: item_id
          required: true
          type: string
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1Item"
      security:
        - oauth2:
            - ITEMS_READ
      summary: Provides the details for a single item, including associated modifier lists and fees.
      tags:
        - V1Items
    put:
      deprecated: false
      description: Modifies the core details of an existing item.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#put-itemid
      operationId: UpdateItem
      parameters:
        - description: The ID of the item's associated location.
          in: path
          name: location_id
          required: true
          type: string
        - description: The ID of the item to modify.
          in: path
          name: item_id
          required: true
          type: string
        - description: >-
            An object containing the fields to POST for the request.


            See the corresponding object definition for field details.
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/v1Item"
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1Item"
      security:
        - oauth2:
            - ITEMS_WRITE
      summary: Modifies the core details of an existing item.
      tags:
        - V1Items
  "/v1/{location_id}/items/{item_id}/fees/{fee_id}":
    delete:
      deprecated: false
      description: Removes a fee assocation from an item, meaning the fee is no longer automatically applied to the item in Square Register.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#delete-itemid-feeid
      operationId: RemoveFee
      parameters:
        - description: The ID of the fee's associated location.
          in: path
          name: location_id
          required: true
          type: string
        - description: The ID of the item to add the fee to.
          in: path
          name: item_id
          required: true
          type: string
        - description: The ID of the fee to apply.
          in: path
          name: fee_id
          required: true
          type: string
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1Item"
      security:
        - oauth2:
            - ITEMS_WRITE
      summary: Removes a fee assocation from an item, meaning the fee is no longer automatically applied to the item in Square Register.
      tags:
        - V1Items
    put:
      deprecated: false
      description: Associates a fee with an item, meaning the fee is automatically applied to the item in Square Register.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#put-itemid-feeid
      operationId: ApplyFee
      parameters:
        - description: The ID of the fee's associated location.
          in: path
          name: location_id
          required: true
          type: string
        - description: The ID of the item to add the fee to.
          in: path
          name: item_id
          required: true
          type: string
        - description: The ID of the fee to apply.
          in: path
          name: fee_id
          required: true
          type: string
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1Item"
      security:
        - oauth2:
            - ITEMS_WRITE
      summary: Associates a fee with an item, meaning the fee is automatically applied to the item in Square Register.
      tags:
        - V1Items
  "/v1/{location_id}/items/{item_id}/modifier-lists/{modifier_list_id}":
    delete:
      deprecated: false
      description: Removes a modifier list association from an item, meaning modifier options from the list can no longer be applied to the item.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#delete-itemid-modifierlistid
      operationId: RemoveModifierList
      parameters:
        - description: The ID of the item's associated location.
          in: path
          name: location_id
          required: true
          type: string
        - description: The ID of the modifier list to remove.
          in: path
          name: modifier_list_id
          required: true
          type: string
        - description: The ID of the item to remove the modifier list from.
          in: path
          name: item_id
          required: true
          type: string
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1Item"
      security:
        - oauth2:
            - ITEMS_WRITE
      summary: Removes a modifier list association from an item, meaning modifier options from the list can no longer be applied to the item.
      tags:
        - V1Items
    put:
      deprecated: false
      description: Associates a modifier list with an item, meaning modifier options from the list can be applied to the item.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#put-itemid-modifierlistid
      operationId: ApplyModifierList
      parameters:
        - description: The ID of the item's associated location.
          in: path
          name: location_id
          required: true
          type: string
        - description: The ID of the modifier list to apply.
          in: path
          name: modifier_list_id
          required: true
          type: string
        - description: The ID of the item to add the modifier list to.
          in: path
          name: item_id
          required: true
          type: string
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1Item"
      security:
        - oauth2:
            - ITEMS_WRITE
      summary: Associates a modifier list with an item, meaning modifier options from the list can be applied to the item.
      tags:
        - V1Items
  "/v1/{location_id}/items/{item_id}/variations":
    post:
      deprecated: false
      description: Creates an item variation for an existing item.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#post-variations
      operationId: CreateVariation
      parameters:
        - description: The ID of the item's associated location.
          in: path
          name: location_id
          required: true
          type: string
        - description: The item's ID.
          in: path
          name: item_id
          required: true
          type: string
        - description: >-
            An object containing the fields to POST for the request.


            See the corresponding object definition for field details.
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/v1Variation"
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1Variation"
      security:
        - oauth2:
            - ITEMS_WRITE
      summary: Creates an item variation for an existing item.
      tags:
        - V1Items
  "/v1/{location_id}/items/{item_id}/variations/{variation_id}":
    delete:
      deprecated: false
      description: Deletes an existing item variation from an item.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#delete-variationid
      operationId: DeleteVariation
      parameters:
        - description: The ID of the item's associated location.
          in: path
          name: location_id
          required: true
          type: string
        - description: The ID of the item to delete.
          in: path
          name: item_id
          required: true
          type: string
        - description: The ID of the variation to delete.
          in: path
          name: variation_id
          required: true
          type: string
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1Variation"
      security:
        - oauth2:
            - ITEMS_WRITE
      summary: Deletes an existing item variation from an item.
      tags:
        - V1Items
    put:
      deprecated: false
      description: Modifies the details of an existing item variation.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#put-variationid
      operationId: UpdateVariation
      parameters:
        - description: The ID of the item's associated location.
          in: path
          name: location_id
          required: true
          type: string
        - description: The ID of the item to modify.
          in: path
          name: item_id
          required: true
          type: string
        - description: The ID of the variation to modify.
          in: path
          name: variation_id
          required: true
          type: string
        - description: >-
            An object containing the fields to POST for the request.


            See the corresponding object definition for field details.
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/v1Variation"
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1Variation"
      security:
        - oauth2:
            - ITEMS_WRITE
      summary: Modifies the details of an existing item variation.
      tags:
        - V1Items
  "/v1/{location_id}/modifier-lists":
    get:
      deprecated: false
      description: Lists all of a location's modifier lists.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#get-modifierlists
      operationId: ListModifierLists
      parameters:
        - description: The ID of the location to list modifier lists for.
          in: path
          name: location_id
          required: true
          type: string
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            items:
              $ref: "#/definitions/v1ModifierList"
            type: array
      security:
        - oauth2:
            - ITEMS_READ
      summary: Lists all of a location's modifier lists.
      tags:
        - V1Items
    post:
      deprecated: false
      description: Creates an item modifier list and at least one modifier option for it.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#post-modifierlists
      operationId: CreateModifierList
      parameters:
        - description: The ID of the location to create a modifier list for.
          in: path
          name: location_id
          required: true
          type: string
        - description: >-
            An object containing the fields to POST for the request.


            See the corresponding object definition for field details.
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/v1ModifierList"
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1ModifierList"
      security:
        - oauth2:
            - ITEMS_WRITE
      summary: Creates an item modifier list and at least one modifier option for it.
      tags:
        - V1Items
  "/v1/{location_id}/modifier-lists/{modifier_list_id}":
    delete:
      deprecated: false
      description: Deletes an existing item modifier list and all modifier options associated with it.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#delete-modifierlistid
      operationId: DeleteModifierList
      parameters:
        - description: The ID of the item's associated location.
          in: path
          name: location_id
          required: true
          type: string
        - description: The ID of the modifier list to delete.
          in: path
          name: modifier_list_id
          required: true
          type: string
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1ModifierList"
      security:
        - oauth2:
            - ITEMS_WRITE
      summary: Deletes an existing item modifier list and all modifier options associated with it.
      tags:
        - V1Items
    get:
      deprecated: false
      description: Provides the details for a single modifier list.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#get-modifierlistid
      operationId: RetrieveModifierList
      parameters:
        - description: The ID of the item's associated location.
          in: path
          name: location_id
          required: true
          type: string
        - description: The modifier list's ID.
          in: path
          name: modifier_list_id
          required: true
          type: string
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1ModifierList"
      security:
        - oauth2:
            - ITEMS_READ
      summary: Provides the details for a single modifier list.
      tags:
        - V1Items
    put:
      deprecated: false
      description: Modifies the details of an existing item modifier list.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#put-modifierlistid
      operationId: UpdateModifierList
      parameters:
        - description: The ID of the item's associated location.
          in: path
          name: location_id
          required: true
          type: string
        - description: The ID of the modifier list to edit.
          in: path
          name: modifier_list_id
          required: true
          type: string
        - description: >-
            An object containing the fields to POST for the request.


            See the corresponding object definition for field details.
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/v1UpdateModifierListRequest"
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1ModifierList"
      security:
        - oauth2:
            - ITEMS_WRITE
      summary: Modifies the details of an existing item modifier list.
      tags:
        - V1Items
  "/v1/{location_id}/modifier-lists/{modifier_list_id}/modifier-options":
    post:
      deprecated: false
      description: Creates an item modifier option and adds it to a modifier list.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#post-modifieroptions
      operationId: CreateModifierOption
      parameters:
        - description: The ID of the item's associated location.
          in: path
          name: location_id
          required: true
          type: string
        - description: The ID of the modifier list to edit.
          in: path
          name: modifier_list_id
          required: true
          type: string
        - description: >-
            An object containing the fields to POST for the request.


            See the corresponding object definition for field details.
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/v1ModifierOption"
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1ModifierOption"
      security:
        - oauth2:
            - ITEMS_WRITE
      summary: Creates an item modifier option and adds it to a modifier list.
      tags:
        - V1Items
  "/v1/{location_id}/modifier-lists/{modifier_list_id}/modifier-options/{modifier_option_id}":
    delete:
      deprecated: false
      description: Deletes an existing item modifier option from a modifier list.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#delete-modifieroptionid
      operationId: DeleteModifierOption
      parameters:
        - description: The ID of the item's associated location.
          in: path
          name: location_id
          required: true
          type: string
        - description: The ID of the modifier list to delete.
          in: path
          name: modifier_list_id
          required: true
          type: string
        - description: The ID of the modifier list to edit.
          in: path
          name: modifier_option_id
          required: true
          type: string
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1ModifierOption"
      security:
        - oauth2:
            - ITEMS_WRITE
      summary: Deletes an existing item modifier option from a modifier list.
      tags:
        - V1Items
    put:
      deprecated: false
      description: Modifies the details of an existing item modifier option.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#put-modifieroptionid
      operationId: UpdateModifierOption
      parameters:
        - description: The ID of the item's associated location.
          in: path
          name: location_id
          required: true
          type: string
        - description: The ID of the modifier list to edit.
          in: path
          name: modifier_list_id
          required: true
          type: string
        - description: The ID of the modifier list to edit.
          in: path
          name: modifier_option_id
          required: true
          type: string
        - description: >-
            An object containing the fields to POST for the request.


            See the corresponding object definition for field details.
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/v1ModifierOption"
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1ModifierOption"
      security:
        - oauth2:
            - ITEMS_WRITE
      summary: Modifies the details of an existing item modifier option.
      tags:
        - V1Items
  "/v1/{location_id}/orders":
    get:
      deprecated: false
      description: Provides summary information for a merchant's online store orders.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#get-ordrers
      operationId: ListOrders
      parameters:
        - description: The ID of the location to list online store orders for.
          in: path
          name: location_id
          required: true
          type: string
        - description: TThe order in which payments are listed in the response.
          enum:
            - ASC
            - DESC
          in: query
          name: order
          required: false
          type: string
        - description: The maximum number of payments to return in a single response. This value cannot exceed 200.
          in: query
          maximum: 200
          name: limit
          required: false
          type: integer
        - description: >-
            A pagination cursor to retrieve the next set of results for your

            original query to the endpoint.
          in: query
          name: batch_token
          required: false
          type: string
      responses:
        "200":
          description: Success
          headers:
            Link:
              description: "If returned, there are too many items to return in one request and you must paginate with the supplied link. "
              type: string
          schema:
            items:
              $ref: "#/definitions/v1Order"
            type: array
      security:
        - oauth2:
            - ORDERS_READ
      summary: Provides summary information for a merchant's online store orders.
      tags:
        - V1Transactions
  "/v1/{location_id}/orders/{order_id}":
    get:
      deprecated: false
      description: Provides comprehensive information for a single online store order, including the order's history.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#get-orderid
      operationId: RetrieveOrder
      parameters:
        - description: The ID of the order's associated location.
          in: path
          name: location_id
          required: true
          type: string
        - description: The order's Square-issued ID. You obtain this value from Order objects returned by the List Orders endpoint
          in: path
          name: order_id
          required: true
          type: string
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1Order"
      security:
        - oauth2:
            - ORDERS_READ
      summary: Provides comprehensive information for a single online store order, including the order's history.
      tags:
        - V1Transactions
    put:
      deprecated: false
      description: "Updates the details of an online store order. Every update you perform on an order corresponds to one of three actions:"
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#put-orderid
      operationId: UpdateOrder
      parameters:
        - description: The ID of the order's associated location.
          in: path
          name: location_id
          required: true
          type: string
        - description: The order's Square-issued ID. You obtain this value from Order objects returned by the List Orders endpoint
          in: path
          name: order_id
          required: true
          type: string
        - description: >-
            An object containing the fields to POST for the request.


            See the corresponding object definition for field details.
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/v1UpdateOrderRequest"
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1Order"
      security:
        - oauth2:
            - ORDERS_WRITE
      summary: "Updates the details of an online store order. Every update you perform on an order corresponds to one of three actions:"
      tags:
        - V1Transactions
  "/v1/{location_id}/pages":
    get:
      deprecated: false
      description: Lists all of a location's Favorites pages in Square Register.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#get-pages
      operationId: ListPages
      parameters:
        - description: The ID of the location to list Favorites pages for.
          in: path
          name: location_id
          required: true
          type: string
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            items:
              $ref: "#/definitions/v1Page"
            type: array
      security:
        - oauth2:
            - ITEMS_READ
      summary: Lists all of a location's Favorites pages in Square Register.
      tags:
        - V1Items
    post:
      deprecated: false
      description: Creates a Favorites page in Square Register.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#post-pages
      operationId: CreatePage
      parameters:
        - description: The ID of the location to create an item for.
          in: path
          name: location_id
          required: true
          type: string
        - description: >-
            An object containing the fields to POST for the request.


            See the corresponding object definition for field details.
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/v1Page"
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1Page"
      security:
        - oauth2:
            - ITEMS_WRITE
      summary: Creates a Favorites page in Square Register.
      tags:
        - V1Items
  "/v1/{location_id}/pages/{page_id}":
    delete:
      deprecated: false
      description: Deletes an existing Favorites page and all of its cells.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#delete-pageid
      operationId: DeletePage
      parameters:
        - description: The ID of the Favorites page's associated location.
          in: path
          name: location_id
          required: true
          type: string
        - description: The ID of the page to delete.
          in: path
          name: page_id
          required: true
          type: string
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1Page"
      security:
        - oauth2:
            - ITEMS_WRITE
      summary: Deletes an existing Favorites page and all of its cells.
      tags:
        - V1Items
    put:
      deprecated: false
      description: Modifies the details of a Favorites page in Square Register.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#put-pageid
      operationId: UpdatePage
      parameters:
        - description: The ID of the Favorites page's associated location
          in: path
          name: location_id
          required: true
          type: string
        - description: The ID of the page to modify.
          in: path
          name: page_id
          required: true
          type: string
        - description: >-
            An object containing the fields to POST for the request.


            See the corresponding object definition for field details.
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/v1Page"
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1Page"
      security:
        - oauth2:
            - ITEMS_WRITE
      summary: Modifies the details of a Favorites page in Square Register.
      tags:
        - V1Items
  "/v1/{location_id}/pages/{page_id}/cells":
    delete:
      deprecated: false
      description: Deletes a cell from a Favorites page in Square Register.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#delete-cells
      operationId: DeletePageCell
      parameters:
        - description: The ID of the Favorites page's associated location.
          in: path
          name: location_id
          required: true
          type: string
        - description: The ID of the page to delete.
          in: path
          name: page_id
          required: true
          type: string
        - description: The row of the cell to clear. Always an integer between 0 and 4, inclusive. Row 0 is the top row.
          in: query
          name: row
          required: false
          type: string
        - description: The column of the cell to clear. Always an integer between 0 and 4, inclusive. Column 0 is the leftmost column.
          in: query
          name: column
          required: false
          type: string
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1Page"
      security:
        - oauth2:
            - ITEMS_WRITE
      summary: Deletes a cell from a Favorites page in Square Register.
      tags:
        - V1Items
    put:
      deprecated: false
      description: Modifies a cell of a Favorites page in Square Register.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#put-cells
      operationId: UpdatePageCell
      parameters:
        - description: The ID of the Favorites page's associated location.
          in: path
          name: location_id
          required: true
          type: string
        - description: The ID of the page the cell belongs to.
          in: path
          name: page_id
          required: true
          type: string
        - description: >-
            An object containing the fields to POST for the request.


            See the corresponding object definition for field details.
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/v1PageCell"
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1Page"
      security:
        - oauth2:
            - ITEMS_WRITE
      summary: Modifies a cell of a Favorites page in Square Register.
      tags:
        - V1Items
  "/v1/{location_id}/payments":
    get:
      deprecated: false
      description: Provides summary information for all payments taken by a merchant or any of the merchant's mobile staff during a date range. Date ranges cannot exceed one year in length. See Date ranges for details of inclusive and exclusive dates.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#get-payments
      operationId: ListPayments
      parameters:
        - description: The ID of the location to list payments for. If you specify me, this endpoint returns payments aggregated from all of the business's locations.
          in: path
          name: location_id
          required: true
          type: string
        - description: The order in which payments are listed in the response.
          enum:
            - ASC
            - DESC
          in: query
          name: order
          required: false
          type: string
        - description: "The beginning of the requested reporting period, in ISO 8601 format. If this value is before January 1, 2013 (2013-01-01T00:00:00Z), this endpoint returns an error. Default value: The current time minus one year."
          in: query
          name: begin_time
          required: false
          type: string
        - description: "The end of the requested reporting period, in ISO 8601 format. If this value is more than one year greater than begin_time, this endpoint returns an error. Default value: The current time."
          in: query
          name: end_time
          required: false
          type: string
        - description: The maximum number of payments to return in a single response. This value cannot exceed 200.
          in: query
          maximum: 200
          name: limit
          type: integer
        - description: >-
            A pagination cursor to retrieve the next set of results for your

            original query to the endpoint.
          in: query
          name: batch_token
          required: false
          type: string
      responses:
        "200":
          description: Success
          headers:
            Link:
              description: "If returned, there are too many items to return in one request and you must paginate with the supplied link. "
              type: string
          schema:
            items:
              $ref: "#/definitions/v1Payment"
            type: array
      security:
        - oauth2:
            - PAYMENTS_READ
      summary: Provides summary information for all payments taken by a merchant or any of the merchant's mobile staff during a date range. Date ranges cannot exceed one year in length. See Date ranges for details of inclusive and exclusive dates.
      tags:
        - V1Transactions
  "/v1/{location_id}/payments/{payment_id}":
    get:
      deprecated: false
      description: Provides comprehensive information for a single payment.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#get-paymentid
      operationId: RetrievePayment
      parameters:
        - description: The ID of the payment's associated location.
          in: path
          name: location_id
          required: true
          type: string
        - description: The payment's Square-issued ID. You obtain this value from Payment objects returned by the List Payments endpoint, or Settlement objects returned by the List Settlements endpoint.
          in: path
          name: payment_id
          required: true
          type: string
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1Payment"
      security:
        - oauth2:
            - PAYMENTS_READ
      summary: Provides comprehensive information for a single payment.
      tags:
        - V1Transactions
  "/v1/{location_id}/refunds":
    get:
      deprecated: false
      description: Provides the details for all refunds initiated by a merchant or any of the merchant's mobile staff during a date range. Date ranges cannot exceed one year in length.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#get-refunds
      parameters:
        - description: The ID of the location to list refunds for.
          in: path
          name: location_id
          required: true
          type: string
        - description: TThe order in which payments are listed in the response.
          enum:
            - ASC
            - DESC
          in: query
          name: order
          required: false
          type: string
        - description: "The beginning of the requested reporting period, in ISO 8601 format. If this value is before January 1, 2013 (2013-01-01T00:00:00Z), this endpoint returns an error. Default value: The current time minus one year."
          in: query
          name: begin_time
          required: false
          type: string
        - description: "The end of the requested reporting period, in ISO 8601 format. If this value is more than one year greater than begin_time, this endpoint returns an error. Default value: The current time."
          in: query
          name: end_time
          required: false
          type: string
        - description: The maximum number of payments to return in a single response. This value cannot exceed 200.
          in: query
          maximum: 200
          name: limit
          required: false
          type: integer
        - description: >-
            A pagination cursor to retrieve the next set of results for your

            original query to the endpoint.
          in: query
          name: batch_token
          required: false
          type: string
      responses:
        "200":
          description: Success
          headers:
            Link:
              description: "If returned, there are too many items to return in one request and you must paginate with the supplied link. "
              type: string
          schema:
            items:
              $ref: "#/definitions/v1Refund"
            type: array
      security:
        - oauth2:
            - PAYMENTS_READ
      summary: Provides the details for all refunds initiated by a merchant or any of the merchant's mobile staff during a date range. Date ranges cannot exceed one year in length.
      tags:
        - V1Transactions
    post:
      deprecated: false
      description: Issues a refund for a previously processed payment. You must issue a refund within 60 days of the associated payment.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#post-refunds
      parameters:
        - description: The ID of the original payment's associated location.
          in: path
          name: location_id
          required: true
          type: string
        - description: >-
            An object containing the fields to POST for the request.


            See the corresponding object definition for field details.
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/v1CreateRefundRequest"
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1Refund"
      security:
        - oauth2:
            - PAYMENTS_WRITE
      summary: Issues a refund for a previously processed payment. You must issue a refund within 60 days of the associated payment.
      tags:
        - V1Transactions
  "/v1/{location_id}/settlements":
    get:
      deprecated: false
      description: "Provides summary information for all deposits and withdrawals initiated by Square to a merchant's bank account during a date range. Date ranges cannot exceed one year in length. "
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#get-settlements
      operationId: ListSettlements
      parameters:
        - description: The ID of the location to list settlements for. If you specify me, this endpoint returns payments aggregated from all of the business's locations.
          in: path
          name: location_id
          required: true
          type: string
        - description: TThe order in which payments are listed in the response.
          enum:
            - ASC
            - DESC
          in: query
          name: order
          required: false
          type: string
        - description: "The beginning of the requested reporting period, in ISO 8601 format. If this value is before January 1, 2013 (2013-01-01T00:00:00Z), this endpoint returns an error. Default value: The current time minus one year."
          in: query
          name: begin_time
          required: false
          type: string
        - description: "The end of the requested reporting period, in ISO 8601 format. If this value is more than one year greater than begin_time, this endpoint returns an error. Default value: The current time."
          in: query
          name: end_time
          required: false
          type: string
        - description: The maximum number of payments to return in a single response. This value cannot exceed 200.
          in: query
          maximum: 200
          name: limit
          required: false
          type: integer
        - description: Provide this parameter to retrieve only settlements with a particular status (SENT or FAILED).
          enum:
            - SENT
            - FAILED
          in: query
          name: status
          required: false
          type: string
        - description: >-
            A pagination cursor to retrieve the next set of results for your

            original query to the endpoint.
          in: query
          name: batch_token
          required: false
          type: string
      responses:
        "200":
          description: Success
          headers:
            Link:
              description: "If returned, there are too many items to return in one request and you must paginate with the supplied link. "
              type: string
          schema:
            items:
              $ref: "#/definitions/v1Settlement"
            type: array
      security:
        - oauth2:
            - SETTLEMENTS_READ
      summary: Provides summary information for all deposits and withdrawals initiated by Square to a merchant's bank account during a date range. Date ranges cannot exceed one year in length.
      tags:
        - V1Transactions
  "/v1/{location_id}/settlements/{settlement_id}":
    get:
      deprecated: false
      description: Provides comprehensive information for a single settlement, including the entries that contribute to the settlement's total.
      externalDocs:
        description: "Read the offical documentation here:"
        url: https://docs.connect.squareup.com/api/connect/v1/#get-settlementid
      operationId: RetrieveSettlement
      parameters:
        - description: The ID of the settlements's associated location.
          in: path
          name: location_id
          required: true
          type: string
        - description: The settlement's Square-issued ID. You obtain this value from Settlement objects returned by the List Settlements endpoint.
          in: path
          name: settlement_id
          required: true
          type: string
      responses:
        "200":
          description: Success
          headers: {}
          schema:
            $ref: "#/definitions/v1Settlement"
      security:
        - oauth2:
            - SETTLEMENTS_READ
      summary: Provides comprehensive information for a single settlement, including the entries that contribute to the settlement's total.
      tags:
        - V1Transactions
  /v2/catalog/batch-delete:
    post:
      description: >-
        Deletes a set of [CatalogItem](#type-catalogitem)s based on the

        provided list of target IDs and returns a set of successfully deleted IDs in

        the response. Deletion is a cascading event such that all children of the

        targeted object are also deleted. For example, deleting a CatalogItem will

        also delete all of its [CatalogItemVariation](#type-catalogitemvariation)

        children.


        `BatchDeleteCatalogObjects` succeeds even if only a portion of the targeted

        IDs can be deleted. The response will only include IDs that were

        actually deleted.
      operationId: BatchDeleteCatalogObjects
      parameters:
        - description: >-
            An object containing the fields to POST for the request.


            See the corresponding object definition for field details.
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/BatchDeleteCatalogObjectsRequest"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/BatchDeleteCatalogObjectsResponse"
      security:
        - oauth2:
            - ITEMS_WRITE
      summary: BatchDeleteCatalogObjects
      tags:
        - Catalog
      x-oauthpermissions:
        - ITEMS_WRITE
  /v2/catalog/batch-retrieve:
    post:
      description: >-
        Returns a set of objects based on the provided ID.

        Each [CatalogItem](#type-catalogitem) returned in the set includes all of its

        child information including: all of its

        [CatalogItemVariation](#type-catalogitemvariation) objects, references to

        its [CatalogModifierList](#type-catalogmodifierlist) objects, and the ids of

        any [CatalogTax](#type-catalogtax) objects that apply to it.
      operationId: BatchRetrieveCatalogObjects
      parameters:
        - description: >-
            An object containing the fields to POST for the request.


            See the corresponding object definition for field details.
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/BatchRetrieveCatalogObjectsRequest"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/BatchRetrieveCatalogObjectsResponse"
      security:
        - oauth2:
            - ITEMS_READ
      summary: BatchRetrieveCatalogObjects
      tags:
        - Catalog
      x-oauthpermissions:
        - ITEMS_READ
  /v2/catalog/batch-upsert:
    post:
      description: >-
        Creates or updates up to 10,000 target objects based on the provided

        list of objects. The target objects are grouped into batches and each batch is

        inserted/updated in an all-or-nothing manner. If an object within a batch is

        malformed in some way, or violates a database constraint, the entire batch

        containing that item will be disregarded. However, other batches in the same

        request may still succeed. Each batch may contain up to 1,000 objects, and

        batches will be processed in order as long as the total object count for the

        request (items, variations, modifier lists, discounts, and taxes) is no more

        than 10,000.
      operationId: BatchUpsertCatalogObjects
      parameters:
        - description: >-
            An object containing the fields to POST for the request.


            See the corresponding object definition for field details.
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/BatchUpsertCatalogObjectsRequest"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/BatchUpsertCatalogObjectsResponse"
      security:
        - oauth2:
            - ITEMS_WRITE
      summary: BatchUpsertCatalogObjects
      tags:
        - Catalog
      x-oauthpermissions:
        - ITEMS_WRITE
  /v2/catalog/info:
    get:
      description: >-
        Returns information about the Square Catalog API, such as batch size

        limits for `BatchUpsertCatalogObjects`.
      operationId: CatalogInfo
      parameters: []
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/CatalogInfoResponse"
      security:
        - oauth2:
            - ITEMS_READ
      summary: CatalogInfo
      tags:
        - Catalog
      x-oauthpermissions:
        - ITEMS_READ
  /v2/catalog/list:
    get:
      description: >-
        Returns a list of [CatalogObject](#type-catalogobject)s that includes

        all objects of a set of desired types (for example, all [CatalogItem](#type-catalogitem)

        and [CatalogTax](#type-catalogtax) objects) in the catalog. The types parameter

        is specified as a comma-separated list of valid [CatalogObject](#type-catalogobject) types:

        `ITEM`, `ITEM_VARIATION`, `MODIFIER`, `MODIFIER_LIST`, `CATEGORY`, `DISCOUNT`, `TAX`.
      operationId: ListCatalog
      parameters:
        - description: >-
            The pagination cursor returned in the previous response. Leave unset for an initial request.

            See [Paginating results](#paginatingresults) for more information.
          in: query
          name: cursor
          required: false
          type: string
        - description: >-
            An optional case-insensitive, comma-separated list of object types to retrieve, for example

            `ITEM,ITEM_VARIATION,CATEGORY`.


            The legal values are taken from the [CatalogObjectType](#type-catalogobjecttype)

            enumeration, namely `"ITEM"`, `"ITEM_VARIATION"`, `"CATEGORY"`, `"DISCOUNT"`, `"TAX"`,

            `"MODIFIER"`, or `"MODIFIER_LIST"`.
          in: query
          name: types
          required: false
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/ListCatalogResponse"
      security:
        - oauth2:
            - ITEMS_READ
      summary: ListCatalog
      tags:
        - Catalog
      x-oauthpermissions:
        - ITEMS_READ
  /v2/catalog/object:
    post:
      description: Creates or updates the target [CatalogObject](#type-catalogobject).
      operationId: UpsertCatalogObject
      parameters:
        - description: >-
            An object containing the fields to POST for the request.


            See the corresponding object definition for field details.
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/UpsertCatalogObjectRequest"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/UpsertCatalogObjectResponse"
      security:
        - oauth2:
            - ITEMS_WRITE
      summary: UpsertCatalogObject
      tags:
        - Catalog
      x-oauthpermissions:
        - ITEMS_WRITE
  "/v2/catalog/object/{object_id}":
    delete:
      description: >-
        Deletes a single [CatalogObject](#type-catalogobject) based on the

        provided ID and returns the set of successfully deleted IDs in the response.

        Deletion is a cascading event such that all children of the targeted object

        are also deleted. For example, deleting a [CatalogItem](#type-catalogitem)

        will also delete all of its

        [CatalogItemVariation](#type-catalogitemvariation) children.
      operationId: DeleteCatalogObject
      parameters:
        - description: >-
            The ID of the [CatalogObject](#type-catalogobject) to be deleted. When an object is deleted, other

            objects in the graph that depend on that object will be deleted as well (for example, deleting a

            [CatalogItem](#type-catalogitem) will delete its [CatalogItemVariation](#type-catalogitemvariation)s).
          in: path
          name: object_id
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/DeleteCatalogObjectResponse"
      security:
        - oauth2:
            - ITEMS_WRITE
      summary: DeleteCatalogObject
      tags:
        - Catalog
      x-oauthpermissions:
        - ITEMS_WRITE
    get:
      description: >-
        Returns a single [CatalogItem](#type-catalogitem) as a

        [CatalogObject](#type-catalogobject) based on the provided ID. The returned

        object includes all of the relevant [CatalogItem](#type-catalogitem)

        information including: [CatalogItemVariation](#type-catalogitemvariation)

        children, references to its

        [CatalogModifierList](#type-catalogmodifierlist) objects, and the ids of

        any [CatalogTax](#type-catalogtax) objects that apply to it.
      operationId: RetrieveCatalogObject
      parameters:
        - description: The object ID of any type of [CatalogObject](#type-catalogobject)s to be retrieved.
          in: path
          name: object_id
          required: true
          type: string
        - description: >-
            If `true`, the response will include additional objects that are related to the

            requested object, as follows:


            If the `object` field of the response contains a [CatalogItem](#type-catalogitem),

            its associated [CatalogCategory](#type-catalogcategory), [CatalogTax](#type-catalogtax)es, and

            [CatalogModifierList](#type-catalogmodifierlist)s will be returned in the `related_objects` field of the

[...]
