openapi: 3.0.2
servers:
  - description: The main Truora API domain
    url: https://api.truora.com
info:
  contact:
    email: api@truora.com
    name: Truora API Team
    url: https://www.truora.com
  description: |+
    **NOTE:** This is a preview of the API and it is not considered stable since refinements are still being made.

    # Introduction

    Welcome to the  **Truora Check** [**RESTful API**](https://en.wikipedia.org/wiki/Representational_state_transfer) reference. You may also want to check out our [**Validations API docs**](https://docs.validations.truora.com/) or our [**Signals API docs**](https://docs.signals.truora.com/).

    Truora Check API allows performing full background checks on people, vehicles and companies. There are three main types of background checks:

    - **Personal background check**: Verifies national IDs in multiple databases of public and legal entities in the LATAM region. For every national ID, returns information on: personal identity, criminal records, international background check, and professional background.

    - **Vehicle background check**: Verifies the vehicle documents and the owner identity in multiple databases of public and legal entities in the LATAM region. For every vehicle and owner type, returns information on: personal identity, driving records, criminal records, and vehicle information.  

    - **Company background check**: Verifies the tax ID or a company name in multiple databases of public and legal entities in the LATAM region. For every company, returns the associated: business status, legal and criminal records, and media reports.

    # API Key V1 is live!

    API key version 1 is now live. Users with version 0 API keys are not immediately required to upgrade to V1 but should plan to do so at their earliest convenience. The changes for integration with API keys v1 are as follows:

    - The field ``user_authorized`` is now required to perform person checks. This field indicates the API user has authorization to perform the check in compliance with data protection law.
    - The field ``homonym_scores`` is no longer included in our person check response as its results are already included in the body of the check and keeping them duplicated is generating unnecessary confusion.


    # API composition

    ## Endpoints

    - **Check endpoints**: Provide an easy way to create and search for a background check. They also allow inserting groups of checks into reports. Each check contains scores, datasets and databases.
     
    ```plain
    https://api.truora.com/v1/checks
    ```

    - **Report endpoints**: Support batch uploads and grouping multiple checks together. Excel and .csv files are supported for batch uploads.
     
    ```plain
    https://api.truora.com/v1/reports
    ```

    - **Configuration endpoints**: Allows personalizing data sets and scores for customized background checks.

    ```plain
    https://api.truora.com/v1/config
    ```

    - **Continuous check endpoints**: Allows creating recurring checks and get notified whenever a change in the check score occurs.

    ```plain
    https://api.truora.com/v1/continuous_checks
    ```

    - **Behavior endpoints**: Allows sharing anonymous feedback about a person behavior when interacting with the company.

    ```plain
    https://api.truora.com/v1/behaviour
    ```

    - **Hooks endpoints**: Allows sending notifications via requests to your service or another third-party service whenever certain events occur.

    ```plain
    https://api.truora.com/v1/hooks
    ```

    ## Datasets

    Categories that group the resulting information for background checks from databases are called datasets. Datasets are divided in:

    - **Personal identity**: Corroborates the existence and validates personal identity documents. 

    - **Criminal record**: Checks for crimes according to each country penal code or criminal code. Keep in mind that data aged less than 10 years is usually more consistent.

    - **Legal background**: Checks for lawsuits filed. Keep in mind that data aged less than 10 years is usually more consistent.

    - **International background**: Checks international lists for crimes related to identity theft, money laundering, terrorist financing, and high crimes.

    - **Professional background**: Checks professional regulatory entities for relevant information.

    - **Affiliations and insurances**: Checks the history and status of social security affiliations.

    - **Alert in media**: Checks major media agencies for relevant news related to violent actions.    

    - **Vehicle information**: Checks for the physical characteristics of the vehicle, technical status, insurance history, and other relevant information.

    - **Traffic fines**: Checks for outstanding traffic fines.

    - **Driving licenses**: Shows information relevant to the driver. Such as license status and driver certificates.

    - **Business background**: Checks for business status, legal and criminal history, and other relevant information.

    - **Taxes and Finances**: Checks for the information related to personal finances, liabilities, and taxes.

    ## Requests Format

    The POST requests receive a body that must be encoded in `www-x-form-urlencoded`, for instance:

    ```plain
    type=person&national_id=123456&country=CO
    ```

    The responses are always encoded in `JSON` format.

    ## Errors

    Whenever there is an error, a JSON with the following format is returned:

    ```json
    {
        "code": <Truora error code>,
        "http_code": <The HTTP status of the response>,
        "message": <The error message>
    }
    ```

    for instance:

    ```json
    {
        "code": 10404,
        "http_code": 404,
        "message": "The Check was not found"
    }
    ```

    ## SDKs

    If your favorite language was not on the next list, You can use our [OpenAPI 3 spec](https://docs.truora.com/openapi.json) to generate it using the [Open API Generator](https://openapi-generator.tech/docs/installation).

    To download the SDK click on the desired programming language:

    - [C# .Net Core](https://truora-sdk.s3.amazonaws.com/checks/checks_csharp-netcore_latest.zip)

    - [Elixir](https://truora-sdk.s3.amazonaws.com/checks/checks_elixir_latest.zip)

    - [Go](https://truora-sdk.s3.amazonaws.com/checks/checks_go_latest.zip)

    - [Java](https://truora-sdk.s3.amazonaws.com/checks/checks_java_latest.zip)

    - [JavaScript](https://truora-sdk.s3.amazonaws.com/checks/checks_javascript_latest.zip)

    - [Objc](https://truora-sdk.s3.amazonaws.com/checks/checks_objc_latest.zip)

    - [Php](https://truora-sdk.s3.amazonaws.com/checks/checks_php_latest.zip)

    - [Python](https://truora-sdk.s3.amazonaws.com/checks/checks_python_latest.zip)

    - [Ruby](https://truora-sdk.s3.amazonaws.com/checks/checks_ruby_latest.zip)

    You can see the full list of supported platforms here:

    https://openapi-generator.tech/docs/generators


  license:
    name: MIT License
    url: https://opensource.org/licenses/MIT
  termsOfService: http://swagger.io/terms/
  title: Checks API
  version: 1.0.0
  x-apisguru-categories:
    - location
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_docs.truora.com_logo.png
  x-origin:
    - format: openapi
      url: https://docs.truora.com/openapi.json
      version: "3.0"
  x-providerName: truora.com
security:
  - api-key: []
tags:
  - description: Allows you to create and retrieve background checks. Consults multiple databases and delivers a comprehensive set of information to help assess the reliability of a person, vehicle, or company.
    name: checks
  - description: |-
      The reports API let you group checks into a single report and download the result as a PDF or CSV file.
      It is also possible to upload a group of backgrounds check to be performed in batch and get a report about them later.
    name: reports
  - description: |
      The Custom Type API allows the creation of new products so only desired datasets are included in background checks.

      ## Score Configuration
      The `ScoreConfig` object has `Rules` to apply to related *databases* which are summed up creating a `Score` which is associated to a *dataset* of a background `check`. All weights given to the configuration must sum up 1.
    name: custom-type
  - description: Allows to anonymously report a person behavior. This information is fed to our machine learning platform to determine the reputational score of a person and produces a dataset; thus helping identify easily whether a candidate is reliable or not, based on all of their reputation against feedback reporters, visible via check API or user interface.
    name: behavior
  - description: Hooks allows configuring Truora Platform to notify via requests to your service (or another third-party service) whenever an event occurs in Truora Platform. They are the easiest way to get a warning when something happens in another system, in this case, Truora platform. This service allows sending notifications via requests to your service or another third-party service whenever certain events occur.
    name: hooks
  - description: Allows creating recurring checks with customizable frequency that notify whenever there are changes in check scores.
    name: continuous
paths:
  /v1/behavior:
    description: FIXME
    post:
      description: |
        Creates a behavior item to report employee conducts that do not or might not be included in their background check. This report includes both possitive and negative behaviors and sorts them by severity.

        ### Reasons to report a person

        <table>
          <tr>
            <td style="width: 100px"><center><b>Very High</b><br>(Score: 1)</td>
            <td>Rape, Drug Dealing, Sexual Harassment</td>
          </tr>
          <tr>
            <td><center><b>High</b><br>(Score: 0.8)</td>
            <td>Theft, Fights, Aggressive Behaviour, Identity Fraud, Drunk, Drug Possession</td>
          </tr>
          <tr>
            <td><center><b>Medium</b><br>(Score: 0.6)</td>
            <td>Absences</td>
          </tr>
          <tr>
            <td><center><b>Low</b><br>(Score: 0.4)</td>
            <td>Tardiness, Confidentiality Breach</td>
          </tr>
          <tr>
            <td><center><b>None</b><br>(Score: 0)</td>
            <td>Good Reputation</td>
          </tr>
          <tr>
            <td><center><b>Unknown</b></td>
            <td>No information</td>
          </tr>
        </table>

        **NOTE:** If the reason of your report is not here, please contact Truora support team.
      operationId: reportBehavior
      requestBody:
        content:
          application/x-www-form-urlencoded:
            examples:
              behaviour_co_good_rep:
                value:
                  birth_date: 1989-08-18T00:00:00.000Z
                  client_id: 5E3T34TAWEQE
                  country: CO
                  creation_date: 2020-03-09T00:00:00.000Z
                  document_id: "1116247495"
                  document_type: national-id
                  email: test@truora.com
                  feedback_date: 2017-02-13T00:00:00.000Z
                  feedback_id: "314159"
                  first_name: Pablo
                  last_name: Gómez
                  phone_number: "3184223113"
                  reason: Good Reputation
              behaviour_col:
                value:
                  birth_date: 1948-12-24T00:00:00.000Z
                  client_id: 5E3T34TAWEQE
                  country: CO
                  creation_date: 2019-05-21T00:00:00.000Z
                  document_id: "1144104231"
                  document_type: national-id
                  email: test@truora.com
                  feedback_date: 2017-02-13T00:00:00.000Z
                  feedback_id: "314159"
                  first_name: Jose
                  last_name: Marti
                  phone_number: "3184223113"
                  reason: Theft
            schema:
              $ref: "#/components/schemas/CreateBehaviorInput"
        description: The params necessary to create a Behaviour item
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BehaviourOutput"
          description: ""
        "400":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Error"
                type: array
          description: Error uploading the items
      security:
        - api-key: []
      summary: Report Behavior
      tags:
        - behavior
    summary: FIXME
  /v1/checks:
    description: FIXME
    get:
      description: Lists the existing checks in the account or in a specified report.
      operationId: listChecks
      parameters:
        - description: Start key value for the pagination
          in: query
          name: start_key
          required: false
          schema:
            type: string
        - description: Report id checks to be returned
          in: query
          name: report_id
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                company2_br:
                  value:
                    check:
                      check_id: CHKd8bf0b996552777f4cde0b966ccdfe65
                      country: BR
                      creation_date: 2020-02-24T18:13:08.373Z
                      homonym_score: 0
                      id_score: 0
                      previous_check: CHKc532a8c0f5ab451ee7b92c37ac379302
                      score: -1
                      status: in_progress
                      tax_id: 26.002.101/0001-95
                      type: company
                      update_date: 2020-02-24T18:13:57.420Z
                    details: /v1/checks/CHKd8bf0b996552777f4cde0b966ccdfe65/details
                    self: /v1/checks/CHKd8bf0b996552777f4cde0b966ccdfe65
                company3_br:
                  value:
                    check:
                      check_id: CHK318d32e40369e38933adbf169c0a9e0a
                      country: BR
                      creation_date: 2020-02-24T18:17:44.292Z
                      homonym_score: 0
                      id_score: 0
                      previous_check: CHKd1ea5bb8e85f83c3374bef264a7d8e9e
                      score: -1
                      status: not_started
                      tax_id: 30.013.881/0001-46
                      type: company
                      update_date: 2020-02-24T18:17:44.336Z
                    details: /v1/checks/CHK318d32e40369e38933adbf169c0a9e0a/details
                    self: /v1/checks/CHK318d32e40369e38933adbf169c0a9e0a
                company_br:
                  value:
                    check:
                      check_id: CHKf33342a03c0a91352c69585df41d74c0
                      country: BR
                      creation_date: 2020-02-24T18:11:03.532Z
                      first_name: MINAS GERAIS
                      homonym_score: 0
                      id_score: 0
                      last_name: ""
                      previous_check: CHKb2d5d829cf913d84e87a44f94e0cf507
                      score: -1
                      status: not_started
                      tax_id: 30.755.038/0001-35
                      type: company
                      update_date: 2020-02-24T18:11:03.585Z
                    details: /v1/checks/CHKf33342a03c0a91352c69585df41d74c0/details
                    self: /v1/checks/CHKf33342a03c0a91352c69585df41d74c0
                company_mx:
                  value:
                    check:
                      check_id: CHK37f8280ab056c7eb22fd9f2f44a545f4
                      country: MX
                      creation_date: 2020-02-22T19:36:36.982Z
                      first_name: EL PALACIO DE HIERRO, S.A. DE C.V.
                      homonym_score: 0
                      id_score: 0
                      score: -1
                      status: not_started
                      tax_id: PHI830429MG6
                      type: company
                      update_date: 2020-02-22T19:36:37.062Z
                    details: /v1/checks/CHK37f8280ab056c7eb22fd9f2f44a545f4/details
                    self: /v1/checks/CHK37f8280ab056c7eb22fd9f2f44a545f4
                person2_br:
                  value:
                    check:
                      check_id: CHK42be317a69b058d563604b9cb6eded08
                      country: BR
                      creation_date: 2020-02-24T18:05:22.306Z
                      date_of_birth: 1933-02-26T00:00:00.000Z
                      first_name: IVO
                      homonym_score: 0
                      id_score: 0
                      last_name: CECATTO
                      previous_check: CHKfb1d6fac51a64182bc250686ddbbbe92
                      score: -1
                      status: not_started
                      type: person
                      update_date: 2020-02-24T18:05:22.449Z
                    details: /v1/checks/CHK42be317a69b058d563604b9cb6eded08/details
                    self: /v1/checks/CHK42be317a69b058d563604b9cb6eded08
                person2_cl:
                  value:
                    check:
                      check_id: CHK53b55d92615a324b2b83da37b4a03be1
                      company_summary:
                        company_status: not_found
                      country: CL
                      creation_date: 2020-02-22T18:39:48.598Z
                      first_name: GIROLAMO
                      foreign_id: 26681429-1
                      homonym_score: 1
                      homonym_scores:
                        - data_set: personal_identity
                          result: ignored
                          score: 1
                          severity: unknown
                        - data_set: criminal_record
                          result: not_found
                          score: 1
                          severity: none
                        - data_set: legal_background
                          result: ignored
                          score: 1
                          severity: unknown
                        - data_set: international_background
                          result: not_found
                          score: 1
                          severity: none
                        - data_set: alert_in_media
                          result: not_found
                          score: 1
                          severity: none
                        - data_set: behavior
                          result: ignored
                          score: 1
                          severity: unknown
                        - data_set: taxes_and_finances
                          result: ignored
                          score: 1
                          severity: unknown
                      id_score: 1
                      last_name: RAMON RANDAZZO
                      previous_check: CHK0050923b9ad22fb15b0f93bf508406bd
                      score: 1
                      scores:
                        - by_id:
                            result: delayed
                            score: 1
                            severity: none
                          by_name:
                            result: ignored
                            score: 1
                            severity: unknown
                          data_set: personal_identity
                          result: delayed
                          score: 1
                          severity: none
                        - by_id:
                            result: ignored
                            score: 1
                            severity: unknown
                          by_name:
                            result: not_found
                            score: 1
                            severity: none
                          data_set: criminal_record
                          result: not_found
                          score: 1
                          severity: none
                        - by_id:
                            result: ignored
                            score: 1
                            severity: unknown
                          by_name:
                            result: ignored
                            score: 1
                            severity: unknown
                          data_set: legal_background
                          result: pending
                          score: 1
                          severity: none
                        - by_id:
                            result: not_found
                            score: 1
                            severity: none
                          by_name:
                            result: not_found
                            score: 1
                            severity: none
                          data_set: international_background
                          result: not_found
                          score: 1
                          severity: none
                        - by_id:
                            result: ignored
                            score: 1
                            severity: unknown
                          by_name:
                            result: not_found
                            score: 1
                            severity: none
                          data_set: alert_in_media
                          result: not_found
                          score: 1
                          severity: none
                        - by_id:
                            result: not_found
                            score: 1
                            severity: unknown
                          by_name:
                            result: ignored
                            score: 1
                            severity: unknown
                          data_set: behavior
                          result: not_found
                          score: 1
                          severity: unknown
                        - by_id:
                            result: ignored
                            score: 1
                            severity: unknown
                          by_name:
                            result: ignored
                            score: 1
                            severity: unknown
                          data_set: taxes_and_finances
                          result: pending
                          score: 1
                          severity: none
                      status: in_progress
                      statuses:
                        - data_set: alert_in_media
                          database_id: DBI2b69e4bd677e0c028939a2f3c1292c1cf2c31313
                          database_name: Búsqueda en medios GOOGLE RSS
                          status: completed
                        - data_set: alert_in_media
                          database_id: DBI20279be53a2cc5eb78c4eca234622c7764855804
                          database_name: Google
                          status: completed
                        - data_set: behavior
                          database_id: DBIf69c6a3a259884f021879767d2ad475ed8f0bf83
                          database_name: Reputational Score
                          status: completed
                        - data_set: criminal_record
                          database_name: cl-apelaciones
                          status: not_started
                        - database_id: DBI0dad4023e90b537c09f0c3f7c7fcf3004cdbeaf3
                          database_name: Policia Internacional de Chile
                          invalid_inputs:
                            - national_id
                          status: skipped
                        - database_id: DBI1961316617f316f1cdc9321f9b76e2ad2c75fd7a
                          database_name: Data juridica Chile
                          invalid_inputs:
                            - national_id
                          status: skipped
                        - data_set: criminal_record
                          database_name: cl-corte-suprema
                          status: not_started
                        - data_set: criminal_record
                          database_name: cl-apelaciones
                          status: not_started
                        - data_set: criminal_record
                          database_id: DBIe1698177a257d6c826a8aaca595c0b7cbabd4d13
                          database_name: Poder Judicial de Chile - Causas Penales
                          status: completed
                        - data_set: international_background
                          database_id: DBI5a155dfdb55d96a9ea00797ab5cf3fd88eac5910
                          database_name: Office of Foreign Assets Control
                          status: completed
                        - data_set: international_background
                          database_id: DBIda71937421a651f8564d16e18b21bb3955278271
                          database_name: DSS Most Wanted - Bureau of Diplomatic Security
                          status: completed
                        - data_set: international_background
                          database_id: DBI2ba70e37e29aacc38fc9a89cb6c39c29e8a5cfdd
                          database_name: United Nations Security Council Consolidate List
                          status: completed
                        - data_set: international_background
                          database_id: DBIc75c46e22d5565371d2893fad550474abc891fc7
                          database_name: Reported in the EU financial system
                          status: completed
                        - data_set: international_background
                          database_id: DBI6eeab904c812b84f8a78a7fd4e286b817c430fe1
                          database_name: Federal Bureau Of Prisons
                          status: completed
                        - data_set: international_background
                          database_id: DBIca0e39584d803f7b935e481328a559efeb315532
                          database_name: EU list of the most wanted
                          status: completed
                        - data_set: international_background
                          database_id: DBI4430985bb6620056a6064cf11bb31186d34d582d
                          database_name: Most Wanted Fugitives by the DEA
                          status: completed
                        - data_set: international_background
                          database_id: DBIb6f45cf65d3dfd2c37e6210ebbd9191d35dc48e2
                          database_name: World Bank Debarred Firms
                          status: completed
                        - data_set: international_background
                          database_id: DBIac4d74895385c27eccc0e589c2cf542a01ed6eea
                          database_name: FBI
                          status: completed
                        - data_set: international_background
                          database_id: DBI021bf85b4b88628dfe6c9f155e2f53c27c6e491a
                          database_name: Inter-American Development Bank
                          status: completed
                        - data_set: international_background
                          database_id: DBIe72ce9fcb6bd79b6c9a2685cb66e72f387e78e40
                          database_name: Interpol list of the most wanted
                          status: completed
                        - data_set: international_background
                          database_id: DBI16189d09c9ea160e0b46f9b02b5aa13b3acdb77e
                          database_name: Consolidated Screening Lists
                          status: completed
                        - data_set: legal_background
                          database_name: cl-corte-suprema
                          status: not_started
                        - data_set: legal_background
                          database_name: cl-civil
                          status: not_started
                        - data_set: legal_background
                          database_name: cl-apelaciones
                          status: not_started
                        - data_set: personal_identity
                          database_id: DBI4d2429c829696195d19b0853f1f5505047413f32
                          database_name: Consulta de estado de documento de identidad
                          status: delayed
                        - database_id: DBI1ea008ab7c3d6325c13214216fadc3ba8d24a69c
                          database_name: Estado de solicitud de visa
                          invalid_inputs:
                            - birthday
                            - native_country
                          status: skipped
                        - database_id: DBI21056ee44d1d83b1710ccfc1459f00ec431a6723
                          database_name: Chile atiende certificado de defunción para todo tramite
                          invalid_inputs:
                            - national_id
                          status: skipped
                        - database_id: DBIdf5a486fa11494b2571898540051b4868485684f
                          database_name: Servicio de Registro Civil e Identificación - Certificado de Nacimiento
                          invalid_inputs:
                            - national_id
                          status: skipped
                        - database_id: DBI213ee19ffa1c0046d17f5dcffb5401f7a26c80e7
                          database_name: RUT - Validación de identidad
                          invalid_inputs:
                            - national_id
                          status: skipped
                        - database_id: DBI487e341a18108ce718386a0c7d6b0d59d2dabbc1
                          database_name: Servicio Electoral de Chile
                          invalid_inputs:
                            - national_id
                          status: skipped
                        - database_id: DBI23b06bbdea960636df482680f506992107c86763
                          database_name: Chile atiende certificado de nacimiento
                          invalid_inputs:
                            - national_id
                          status: skipped
                        - database_id: DBIb7e8867d791f4bc4c12ed24f2323f115181cc0a8
                          database_name: Servicio de Impuestos Internos
                          invalid_inputs:
                            - national_id
                          status: skipped
                      summary:
                        identity_status: not_found
                      type: person
                      update_date: 2020-02-22T18:40:01.860Z
                      vehicle_summary:
                        vehicle_status: not_found
                    details: /v1/checks/CHK53b55d92615a324b2b83da37b4a03be1/details
                    self: /v1/checks/CHK53b55d92615a324b2b83da37b4a03be1
                person3_br:
                  value:
                    check:
                      check_id: CHK1a841f8da62a2ba839723121b3b4601e
                      country: BR
                      creation_date: 2020-02-24T18:08:13.675Z
                      date_of_birth: 1984-01-15T00:00:00.000Z
                      first_name: LESSANDRA
                      homonym_score: 0
                      id_score: 0
                      last_name: LUDKE
                      previous_check: CHK42d0fce1d8a9381ed895cfacd95182cc
                      score: -1
                      status: not_started
                      type: person
                      update_date: 2020-02-24T18:08:13.772Z
                    details: /v1/checks/CHK1a841f8da62a2ba839723121b3b4601e/details
                    self: /v1/checks/CHK1a841f8da62a2ba839723121b3b4601e
                person_br:
                  value:
                    check:
                      check_id: CHKc4e07009a10bb51e3313ce68141cd8f3
                      country: BR
                      creation_date: 2020-02-24T17:58:09.356Z
                      date_of_birth: 1992-04-23T00:00:00.000Z
                      first_name: BRUNO JORAND
                      homonym_score: 0
                      id_score: 0
                      last_name: CECATTO
                      score: -1
                      status: not_started
                      type: person
                      update_date: 2020-02-24T17:58:09.433Z
                    details: /v1/checks/CHKc4e07009a10bb51e3313ce68141cd8f3/details
                    self: /v1/checks/CHKc4e07009a10bb51e3313ce68141cd8f3
                person_cl:
                  value:
                    check:
                      check_id: CHKbd4a598cac3965cd38d8e8d0bebd3e5d
                      country: CL
                      creation_date: 2020-02-27T14:36:07.964Z
                      homonym_score: 0
                      id_score: 0
                      national_id: 16298205-2
                      previous_check: CHKac1103a76803689c64cece1b046a35e9
                      score: -1
                      status: not_started
                      type: person
                      update_date: 2020-02-27T14:36:08.145Z
                    details: /v1/checks/CHKbd4a598cac3965cd38d8e8d0bebd3e5d/details
                    self: /v1/checks/CHKbd4a598cac3965cd38d8e8d0bebd3e5d
                person_co:
                  value:
                    check:
                      check_id: CHK429a0a41c683451bc40146b297748932
                      company_summary:
                        company_status: not_found
                      country: CO
                      creation_date: 2020-02-22T17:09:45.414Z
                      first_name: DIANA
                      homonym_probability: 0.1
                      homonym_score: 0.9
                      homonym_scores:
                        - data_set: personal_identity
                          result: ignored
                          score: 1
                          severity: unknown
                        - data_set: criminal_record
                          result: not_found
                          score: 1
                          severity: none
                        - data_set: legal_background
                          result: not_found
                          score: 1
                          severity: none
                        - data_set: international_background
                          result: not_found
                          score: 1
                          severity: none
                        - data_set: professional_background
                          result: ignored
                          score: 1
                          severity: unknown
                        - data_set: affiliations_and_insurances
                          result: ignored
                          score: 1
                          severity: unknown
                        - data_set: alert_in_media
                          result: found
                          score: 0
                          severity: very_high
                        - data_set: behavior
                          result: ignored
                          score: 1
                          severity: unknown
                      id_score: 1
                      last_name: HIDALGO
                      national_id: "1151953477"
                      previous_check: CHK7c8a503b017f5a89b13cad8386ba58f9
                      score: 0.9
                      scores:
                        - by_id:
                            result: found
                            score: 1
                            severity: none
                          by_name:
                            result: ignored
                            score: 1
                            severity: unknown
                          data_set: personal_identity
                          result: found
                          score: 1
                          severity: none
                        - by_id:
                            result: found
                            score: 1
                            severity: none
                          by_name:
                            result: not_found
                            score: 1
                            severity: none
                          data_set: criminal_record
                          result: found
                          score: 1
                          severity: none
                        - by_id:
                            result: found
                            score: 1
                            severity: none
                          by_name:
                            result: not_found
                            score: 1
                            severity: none
                          data_set: legal_background
                          result: found
                          score: 1
                          severity: none
                        - by_id:
                            result: not_found
                            score: 1
                            severity: none
                          by_name:
                            result: not_found
                            score: 1
                            severity: none
                          data_set: international_background
                          result: not_found
                          score: 1
                          severity: none
                        - by_id:
                            result: not_found
                            score: 1
                            severity: unknown
                          by_name:
                            result: ignored
                            score: 1
                            severity: unknown
                          data_set: professional_background
                          result: not_found
                          score: 1
                          severity: unknown
                        - by_id:
                            result: found
                            score: 1
                            severity: none
                          by_name:
                            result: ignored
                            score: 1
                            severity: unknown
                          data_set: affiliations_and_insurances
                          result: found
                          score: 1
                          severity: none
                        - by_id:
                            result: ignored
                            score: 1
                            severity: unknown
                          by_name:
                            result: found
                            score: 0
                            severity: very_high
                          data_set: alert_in_media
                          result: found
                          score: 0
                          severity: very_high
                        - by_id:
                            result: not_found
                            score: 1
                            severity: unknown
                          by_name:
                            result: ignored
                            score: 1
                            severity: unknown
                          data_set: behavior
                          result: not_found
                          score: 1
                          severity: unknown
                      status: in_progress
                      statuses:
                        - data_set: international_background
                          database_id: DBI5a155dfdb55d96a9ea00797ab5cf3fd88eac5910
                          database_name: Office of Foreign Assets Control
                          status: completed
                        - data_set: international_background
                          database_id: DBI4430985bb6620056a6064cf11bb31186d34d582d
                          database_name: Most Wanted Fugitives by the DEA
                          status: completed
                        - data_set: international_background
                          database_id: DBIe72ce9fcb6bd79b6c9a2685cb66e72f387e78e40
                          database_name: Interpol list of the most wanted
                          status: completed
                        - data_set: international_background
                          database_id: DBI6eeab904c812b84f8a78a7fd4e286b817c430fe1
                          database_name: Federal Bureau Of Prisons
                          status: completed
                        - data_set: international_background
                          database_id: DBI16189d09c9ea160e0b46f9b02b5aa13b3acdb77e
                          database_name: Consolidated Screening Lists
                          status: completed
                        - data_set: international_background
                          database_id: DBIda71937421a651f8564d16e18b21bb3955278271
                          database_name: DSS Most Wanted - Bureau of Diplomatic Security
                          status: completed
                        - data_set: international_background
                          database_id: DBIac4d74895385c27eccc0e589c2cf542a01ed6eea
                          database_name: FBI
                          status: completed
                        - data_set: international_background
                          database_id: DBIc75c46e22d5565371d2893fad550474abc891fc7
                          database_name: Reported in the EU financial system
                          status: completed
                        - data_set: international_background
                          database_id: DBIca0e39584d803f7b935e481328a559efeb315532
                          database_name: EU list of the most wanted
                          status: completed
                        - data_set: international_background
                          database_id: DBIb6f45cf65d3dfd2c37e6210ebbd9191d35dc48e2
                          database_name: World Bank Debarred Firms
                          status: completed
                        - data_set: international_background
                          database_id: DBI2ba70e37e29aacc38fc9a89cb6c39c29e8a5cfdd
                          database_name: United Nations Security Council Consolidate List
                          status: completed
                        - data_set: international_background
                          database_id: DBI021bf85b4b88628dfe6c9f155e2f53c27c6e491a
                          database_name: Inter-American Development Bank
                          status: completed
                        - data_set: legal_background
                          database_id: DBIef43a3d7d2af8e4e8ca0f3d3e4c1bfc138d73c31
                          database_name: Sistema Penal Oral Acusatorio Colombiano - Notificación a deudores
                          status: completed
                        - data_set: legal_background
                          database_id: DBIa27c7448403bdd3c004cd6f85c7cf0850b4b84f2
                          database_name: Procesos Judiciales de Colombia
                          status: completed
                        - data_set: legal_background
                          database_id: DBI1fa89de9ddefb027566c52f633a1f4057cd14358
                          database_name: Sistema Electrónico de Contratación Pública Colombia
                          status: completed
                        - database_id: DBIcdc5e95d6d4fd5bd7a6cfc56dca58a8eecec5ae9
                          database_name: Certificado antecedentes fiscales persona jurídica
                          invalid_inputs:
                            - tax_id
                          status: skipped
                        - database_id: DBIe7a37e8584777ce70de79fe49bcbc657fac89396
                          database_name: "Policía: Registro Nacional de Medidas Correctivas"
                          invalid_inputs:
                            - document_expedition_date
                          status: skipped
                        - data_set: legal_background
                          database_id: DBI119a418cfbf3b3ac5aa50d0637405df59e041b6d
                          database_name: Contraloría
                          status: delayed
                        - data_set: legal_background
                          database_id: DBIa27c7448403bdd3c004cd6f85c7cf0850b4b84f2
                          database_name: Procesos Judiciales de Colombia
                          status: completed
                        - data_set: legal_background
                          database_id: DBI74d4ab1557f81e4a21229fc97796f44660c38832
                          database_name: SPOA - Notificaciones Administrativas
                          status: completed
                        - data_set: personal_identity
                          database_id: DBI619ce4a1b34e5ec4bc91b237efc63d0d3537f332
                          database_name: Policía Nacional de Colombia
                          status: completed
                        - data_set: personal_identity
                          database_id: DBI7b7dcb77eee7449153cf91b087b559cf996817dc
                          database_name: Procuraduría
                          status: completed
                        - database_id: DBI0d265630253ded5cdba1d98688a69e6271544546
                          database_name: Permiso Especial de Permanencia
                          invalid_inputs:
                            - pep
                            - document_expedition_date
                          status: skipped
                        - database_id: DBI41eb124213acf97a022487d928a8ac34626819c4
                          database_name: Certificación del estado de Cédula de Extranjería
                          invalid_inputs:
                            - foreign_id
                            - document_expedition_date
                          status: skipped
                        - database_id: DBIe7a37e8584777ce70de79fe49bcbc657fac89396
                          database_name: "Policía: Registro Nacional de Medidas Correctivas"
                          invalid_inputs:
                            - document_expedition_date
                          status: skipped
                        - data_set: personal_identity
                          database_id: DBI01241e248d1ceab7f163e2d8357c9a955c6700b7
                          database_name: Lugar de votación
                          status: completed
                        - data_set: personal_identity
                          database_id: DBI0e769ed7cca8905f0261a2da9f4f9a90895552f2
                          database_name: Situación Militar
                          status: completed
                        - database_id: DBI6265d2a778eb894c0d52f1c37d15f05a0d551ddc
                          database_name: Registro Único de Afiliados
                          invalid_inputs:
                            - document_expedition_date
                            - birth_certificate
                            - document_expedition_date
                            - diplomatic_id
                            - document_expedition_date
                            - foreign_id
                            - document_expedition_date
                            - passport
                            - document_expedition_date
                            - pep
                            - document_expedition_date
                          status: skipped
                        - database_id: DBI6265d2a778eb894c0d52f1c37d15f05a0d551ddc
                          database_name: Registro Único de Afiliados
                          invalid_inputs:
                            - document_expedition_date
                            - birth_certificate
                            - document_expedition_date
                            - diplomatic_id
                            - document_expedition_date
                            - foreign_id
                            - document_expedition_date
                            - passport
                            - document_expedition_date
                            - pep
                            - document_expedition_date
                          status: skipped
                        - data_set: professional_background
                          database_id: DBIcac12a47ea246a013727bc3fc90cd29b637108c0
                          database_name: Certificados Digitales SENA
                          status: completed
                        - data_set: professional_background
                          database_id: DBI24ad1ca3e134494e438cf703a882711035eadd78
                          database_name: Consulta antecedentes disciplinarios Colombia
                          status: completed
                        - data_set: professional_background
                          database_name: sigep
                          status: not_started
                        - data_set: affiliations_and_insurances
                          database_id: DBI3a8fec3eda33f7c3939f61b517844d1d327b705b
                          database_name: Afiliados del régimen contributivo y subsidiado
                          status: completed
                        - database_id: DBI6265d2a778eb894c0d52f1c37d15f05a0d551ddc
                          database_name: Registro Único de Afiliados
                          invalid_inputs:
                            - document_expedition_date
                            - birth_certificate
                            - document_expedition_date
                            - diplomatic_id
                            - document_expedition_date
                            - foreign_id
                            - document_expedition_date
                            - passport
                            - document_expedition_date
                            - pep
                            - document_expedition_date
                          status: skipped
                        - data_set: affiliations_and_insurances
                          database_id: DBIcea6b33e3f77251d4247c3a19682b456191628f6
                          database_name: Fondo de Pensiones Públicas
                          status: completed
                        - data_set: affiliations_and_insurances
                          database_id: DBI3df83c6ac72ea6a15c052eb0118bc3d7aba806af
                          database_name: Sistema de Selección de Beneficiarios Para Programas Sociales - SISBEN
                          status: completed
                        - database_id: DBI6265d2a778eb894c0d52f1c37d15f05a0d551ddc
                          database_name: Registro Único de Afiliados
                          invalid_inputs:
                            - document_expedition_date
                            - birth_certificate
                            - document_expedition_date
                            - diplomatic_id
                            - document_expedition_date
                            - foreign_id
                            - document_expedition_date
                            - passport
                            - document_expedition_date
                            - pep
                            - document_expedition_date
                          status: skipped
                        - data_set: alert_in_media
                          database_id: DBI20279be53a2cc5eb78c4eca234622c7764855804
                          database_name: Google
                          status: completed
                        - data_set: alert_in_media
                          database_id: DBI2b69e4bd677e0c028939a2f3c1292c1cf2c31313
                          database_name: Búsqueda en medios GOOGLE RSS
                          status: completed
                        - data_set: behavior
                          database_id: DBIf69c6a3a259884f021879767d2ad475ed8f0bf83
                          database_name: Reputational Score
                          status: completed
                        - data_set: criminal_record
                          database_id: DBI7b7dcb77eee7449153cf91b087b559cf996817dc
                          database_name: Procuraduría
                          status: completed
                        - data_set: criminal_record
                          database_id: DBI619ce4a1b34e5ec4bc91b237efc63d0d3537f332
                          database_name: Policía Nacional de Colombia
                          status: completed
                        - data_set: criminal_record
                          database_id: DBIa27c7448403bdd3c004cd6f85c7cf0850b4b84f2
                          database_name: Procesos Judiciales de Colombia
                          status: completed
                        - data_set: criminal_record
                          database_id: DBIdaff27e3eb07992b3d6b343acbd16bbdfb248b76
                          database_name: Juzgados De Ejecución De Penas Y Medidas De Seguridad
                          status: completed
                        - data_set: criminal_record
                          database_id: DBI200187dbf578076573d2ee836b3e70fb8ac8b6c8
                          database_name: Sistema Penal Oral Acusatorio Colombiano - Sentencias crímenes contra sindicalistas de Colombia
                          status: completed
                        - data_set: criminal_record
                          database_id: DBIcdeff105c4612715cfad486c321caed19def8c7e
                          database_name: Instituto Nacional Penitenciario y Carcelario
                          status: delayed
                        - data_set: criminal_record
                          database_id: DBIa27c7448403bdd3c004cd6f85c7cf0850b4b84f2
                          database_name: Procesos Judiciales de Colombia
                          status: completed
                      summary:
                        identity_status: found
                        names_found:
                          - count: 4
                            first_name: DIANA MARCELA
                            last_name: HIDALGO BONILLA
                      type: person
                      update_date: 2020-02-22T17:09:59.788Z
                      vehicle_summary:
                        vehicle_status: not_found
                    details: /v1/checks/CHK429a0a41c683451bc40146b297748932/details
                    self: /v1/checks/CHK429a0a41c683451bc40146b297748932
                person_cr:
                  value:
                    check:
                      check_id: CHK49d7eb21eade991a5a6b0d8beb47bfee
                      company_summary:
                        company_status: not_found
                      country: EC
                      creation_date: 2020-02-22T20:12:30.860Z
                      homonym_probability: 0.6
                      homonym_score: 0.98
                      homonym_scores:
                        - data_set: personal_identity
                          result: ignored
                          score: 1
                          severity: unknown
                        - data_set: criminal_record
                          result: ignored
                          score: 1
                          severity: unknown
                        - data_set: legal_background
                          result: ignored
                          score: 1
                          severity: unknown
                        - data_set: international_background
                          result: not_found
                          score: 1
                          severity: none
                        - data_set: affiliations_and_insurances
                          result: ignored
                          score: 1
                          severity: unknown
                        - data_set: alert_in_media
                          result: found
                          score: 0.8
                          severity: very_low
                      id_score: 1
                      national_id: 175646550-4
                      score: 0.98
                      scores:
                        - by_id:
                            result: found
                            score: 1
                            severity: none
                          by_name:
                            result: ignored
                            score: 1
                            severity: unknown
                          data_set: personal_identity
                          result: found
                          score: 1
                          severity: none
                        - by_id:
                            result: error
                            score: 1
                            severity: none
                          by_name:
                            result: ignored
                            score: 1
                            severity: unknown
                          data_set: criminal_record
                          result: error
                          score: 1
                          severity: none
                        - by_id:
                            result: ignored
                            score: 1
                            severity: unknown
                          by_name:
                            result: ignored
                            score: 1
                            severity: unknown
                          data_set: legal_background
                          result: ignored
                          score: 1
                          severity: unknown
                        - by_id:
                            result: not_found
                            score: 1
                            severity: none
                          by_name:
                            result: not_found
                            score: 1
                            severity: none
                          data_set: international_background
                          result: not_found
                          score: 1
                          severity: none
                        - by_id:
                            result: ignored
                            score: 1
                            severity: unknown
                          by_name:
                            result: ignored
                            score: 1
                            severity: unknown
                          data_set: affiliations_and_insurances
                          result: ignored
                          score: 1
                          severity: unknown
                        - by_id:
                            result: ignored
                            score: 1
                            severity: unknown
                          by_name:
                            result: found
                            score: 0.8
                            severity: very_low
                          data_set: alert_in_media
                          result: found
                          score: 0.8
                          severity: very_low
                      status: completed
                      statuses:
                        - data_set: alert_in_media
                          database_id: DBI2b69e4bd677e0c028939a2f3c1292c1cf2c31313
                          database_name: Búsqueda en medios GOOGLE RSS
                          status: completed
                        - data_set: alert_in_media
                          database_id: DBI20279be53a2cc5eb78c4eca234622c7764855804
                          database_name: Google
                          status: completed
                        - data_set: criminal_record
                          database_id: DBIca00d7f45436ec2ca01ac36dc410f43c8cb9258c
                          database_name: Fiscalía General del Estado
                          status: error
                        - data_set: criminal_record
                          database_id: DBI11a180e5a8b6c9b2d7055f2be2cc645b588a7516
                          database_name: Información judicial consejo de la judicatura - Ecuador
                          status: completed
                        - data_set: international_background
                          database_id: DBI5a155dfdb55d96a9ea00797ab5cf3fd88eac5910
                          database_name: Office of Foreign Assets Control
                          status: completed
                        - data_set: international_background
                          database_id: DBIb6f45cf65d3dfd2c37e6210ebbd9191d35dc48e2
                          database_name: World Bank Debarred Firms
                          status: completed
                        - data_set: international_background
                          database_id: DBI16189d09c9ea160e0b46f9b02b5aa13b3acdb77e
                          database_name: Consolidated Screening Lists
                          status: completed
                        - data_set: international_background
                          database_id: DBI2ba70e37e29aacc38fc9a89cb6c39c29e8a5cfdd
                          database_name: United Nations Security Council Consolidate List
                          status: completed
                        - data_set: international_background
                          database_id: DBIca0e39584d803f7b935e481328a559efeb315532
                          database_name: EU list of the most wanted
                          status: completed
                        - data_set: international_background
                          database_id: DBIe72ce9fcb6bd79b6c9a2685cb66e72f387e78e40
                          database_name: Interpol list of the most wanted
                          status: completed
                        - data_set: international_background
                          database_id: DBI6eeab904c812b84f8a78a7fd4e286b817c430fe1
                          database_name: Federal Bureau Of Prisons
                          status: completed
                        - data_set: international_background
                          database_id: DBI4430985bb6620056a6064cf11bb31186d34d582d
                          database_name: Most Wanted Fugitives by the DEA
                          status: completed
                        - data_set: international_background
                          database_id: DBIda71937421a651f8564d16e18b21bb3955278271
                          database_name: DSS Most Wanted - Bureau of Diplomatic Security
                          status: completed
                        - data_set: international_background
                          database_id: DBIc75c46e22d5565371d2893fad550474abc891fc7
                          database_name: Reported in the EU financial system
                          status: completed
                        - data_set: international_background
                          database_id: DBI021bf85b4b88628dfe6c9f155e2f53c27c6e491a
                          database_name: Inter-American Development Bank
                          status: completed
                        - data_set: international_background
                          database_id: DBIac4d74895385c27eccc0e589c2cf542a01ed6eea
                          database_name: FBI
                          status: completed
                        - data_set: personal_identity
                          database_id: DBI3f9871aac156e6cbc211f4c7e35b7bbcf77c32ba
                          database_name: Registro Unico de Contribuyente
                          status: completed
                        - data_set: personal_identity
                          database_id: DBIf9f211616d9d05beb929a8856f9dd0a144cf9936
                          database_name: Consulta de RUC
                          status: completed
                        - data_set: personal_identity
                          database_id: DBIbaf4fef85489d21a27f93d686c8408711ec0ca51
                          database_name: Dirección General de Registro Civil
                          status: completed
                        - data_set: personal_identity
                          database_id: DBI2ceefab9241ba8e439d640efb0d3479652c27ec8
                          database_name: Agencia nacional de transito
                          status: completed
                      summary:
                        identity_status: found
                        names_found:
                          - count: 3
                            first_name: SANDRA PATRICIA
                            last_name: HIDALGO BONILLA
                      type: person
                      update_date: 2020-02-22T20:13:53.933Z
                      vehicle_summary:
                        vehicle_status: not_found
                    details: /v1/checks/CHK49d7eb21eade991a5a6b0d8beb47bfee/details
                    self: /v1/checks/CHK49d7eb21eade991a5a6b0d8beb47bfee
                person_mx:
                  value:
                    check:
                      check_id: CHK9b2d7c662b5fe8785e0ef732d29d3787
                      country: MX
                      creation_date: 2020-02-22T19:07:17.195Z
                      first_name: SERGIO HUMBERTO
                      homonym_score: 0
                      id_score: 0
                      last_name: TEJEDA ESPINOZA
                      national_id: TEES790223HBSJSR07
                      score: -1
                      status: not_started
                      type: person
                      update_date: 2020-02-22T19:07:17.259Z
                    details: /v1/checks/CHK9b2d7c662b5fe8785e0ef732d29d3787/details
                    self: /v1/checks/CHK9b2d7c662b5fe8785e0ef732d29d3787
                person_pr:
                  value:
                    check:
                      check_id: CHK0788a145bf31e06e1c04d55c5c74d3ab
                      country: PR
                      creation_date: 2020-02-22T19:46:15.927Z
                      first_name: MIGUEL SEBASTIAN
                      homonym_score: 0
                      id_score: 0
                      last_name: LARA DIAZ
                      national_id: "70689612"
                      score: -1
                      status: not_started
                      type: person
                      update_date: 2020-02-22T19:46:15.984Z
                    details: /v1/checks/CHK0788a145bf31e06e1c04d55c5c74d3ab/details
                    self: /v1/checks/CHK0788a145bf31e06e1c04d55c5c74d3ab
                personex_cl:
                  value:
                    check:
                      check_id: CHKd4d4959434a4f12f3b865991353f0a85
                      country: CL
                      creation_date: 2020-02-22T18:41:59.045Z
                      first_name: HILARIO DEL ROSARIO
                      homonym_score: 0
                      id_score: 0
                      last_name: HILARIO DEL ROSARIO ZAMBRA BUGUEÑO
                      national_id: "101061442"
                      score: -1
                      status: not_started
                      type: person
                      update_date: 2020-02-22T18:41:59.175Z
                    details: /v1/checks/CHKd4d4959434a4f12f3b865991353f0a85/details
                    self: /v1/checks/CHKd4d4959434a4f12f3b865991353f0a85
                personex_pe:
                  value:
                    check:
                      check_id: CHKda12c1d9f76257263c24629a57f6cb2e
                      country: PE
                      creation_date: 2020-02-22T19:52:11.122Z
                      first_name: MARIA JOSE
                      foreign_id: "000056828"
                      homonym_score: 0
                      id_score: 0
                      last_name: ROLDAO MUÑOZ
                      score: -1
                      status: not_started
                      type: person
                      update_date: 2020-02-22T19:52:11.242Z
                    details: /v1/checks/CHKda12c1d9f76257263c24629a57f6cb2e/details
                    self: /v1/checks/CHKda12c1d9f76257263c24629a57f6cb2e
                vehicle2_br:
                  value:
                    check:
                      check_id: CHK194415e627c4d28b56d452755cf44f65
                      company_summary:
                        company_status: not_found
                      country: BR
                      creation_date: 2020-02-22T16:27:43.118Z
                      driver_license: "42948835704"
                      homonym_score: 1
                      homonym_scores:
                        - data_set: business_background
                          result: ignored
                          score: 1
                          severity: unknown
                        - data_set: international_background
                          result: ignored
                          score: 1
                          severity: unknown
                        - data_set: alert_in_media
                          result: ignored
                          score: 1
                          severity: unknown
                      id_score: 1
                      score: 1
                      scores:
                        - by_id:
                            result: ignored
                            score: 1
                            severity: unknown
                          by_name:
                            result: ignored
                            score: 1
                            severity: unknown
                          data_set: business_background
                          result: ignored
                          score: 1
                          severity: unknown
                        - by_id:
                            result: ignored
                            score: 1
                            severity: unknown
                          by_name:
                            result: ignored
                            score: 1
                            severity: unknown
                          data_set: international_background
                          result: ignored
                          score: 1
                          severity: unknown
                        - by_id:
                            result: ignored
                            score: 1
                            severity: unknown
                          by_name:
                            result: ignored
                            score: 1
                            severity: unknown
                          data_set: alert_in_media
                          result: ignored
                          score: 1
                          severity: unknown
                      status: completed
                      statuses:
                        - data_set: alert_in_media
                          database_name: google
                          status: skipped
                        - data_set: alert_in_media
                          database_name: all-google-rss
                          status: skipped
                        - database_id: DBIf2cb2b6d6539ac81acbcd265a56e9799a354b9fd
                          database_name: Emissão de Comprovante de Inscrição e de Situação Cadastral CNPJ
                          invalid_inputs:
                            - tax_id
                          status: skipped
                        - database_id: DBI5a155dfdb55d96a9ea00797ab5cf3fd88eac5910
                          database_name: Office of Foreign Assets Control
                          invalid_inputs:
                            - national_id
                            - tax_id
                            - passport
                            - foreign_id
                          status: skipped
                        - data_set: international_background
                          database_name: dea
                          status: skipped
                        - data_set: international_background
                          database_name: bid
                          status: skipped
                        - data_set: international_background
                          database_name: fbi
                          status: skipped
                        - data_set: international_background
                          database_name: interpol
                          status: skipped
                        - data_set: international_background
                          database_name: worldbankdebarredfirms
                          status: skipped
                        - data_set: international_background
                          database_name: dss
                          status: skipped
                        - data_set: international_background
                          database_name: federal-bureau-of-prisons
                          status: skipped
                        - data_set: international_background
                          database_name: fsf
                          status: skipped
                        - data_set: international_background
                          database_name: most-wanted-fugitives-eu
                          status: skipped
                        - data_set: international_background
                          database_name: unsc
                          status: skipped
                        - data_set: international_background
                          database_name: csl
                          status: skipped
                      summary:
                        identity_status: not_found
                      type: company
                      update_date: 2020-02-22T16:27:59.901Z
                      vehicle_summary:
                        vehicle_status: not_found
                    details: /v1/checks/CHK194415e627c4d28b56d452755cf44f65/details
                    self: /v1/checks/CHK194415e627c4d28b56d452755cf44f65
                vehicle3_br:
                  value:
                    check:
                      check_id: CHK89e6c31c04b670ed2f99bbb12ae13911
                      country: BR
                      creation_date: 2020-02-24T18:25:41.092Z
                      driver_license: "42948835704"
                      homonym_score: 0
                      id_score: 0
                      score: -1
                      status: in_progress
                      type: vehicle
                      update_date: 2020-02-24T18:25:55.100Z
                    details: /v1/checks/CHK89e6c31c04b670ed2f99bbb12ae13911/details
                    self: /v1/checks/CHK89e6c31c04b670ed2f99bbb12ae13911
                vehicle_br:
                  value:
                    check:
                      check_id: CHKff10acc81bf97cbbe6510e07ab1442bf
                      company_summary:
                        company_status: not_found
                      country: BR
                      creation_date: 2020-02-24T18:20:46.846Z
                      driver_license: 146.467.797-22
                      homonym_score: 1
                      homonym_scores:
                        - data_set: vehicle_information
                          result: ignored
                          score: 1
                          severity: unknown
                        - data_set: personal_identity
                          result: ignored
                          score: 1
                          severity: unknown
                        - data_set: traffic_fines
                          result: ignored
                          score: 1
                          severity: unknown
                        - data_set: driving_licenses
                          result: ignored
                          score: 1
                          severity: unknown
                        - data_set: criminal_record
                          result: ignored
                          score: 1
                          severity: unknown
                        - data_set: international_background
                          result: ignored
                          score: 1
                          severity: unknown
                        - data_set: behavior
                          result: ignored
                          score: 1
                          severity: unknown
                        - data_set: vehicle_permits
                          result: ignored
                          score: 1
                          severity: unknown
                      id_score: 1
                      score: 1
                      scores:
                        - by_id:
                            result: ignored
                            score: 1
                            severity: unknown
                          by_name:
                            result: ignored
                            score: 1
                            severity: unknown
                          data_set: vehicle_information
                          result: pending
                          score: 1
                          severity: none
                        - by_id:
                            result: ignored
                            score: 1
                            severity: unknown
                          by_name:
                            result: ignored
                            score: 1
                            severity: unknown
                          data_set: personal_identity
                          result: pending
                          score: 1
                          severity: none
                        - by_id:
                            result: ignored
                            score: 1
                            severity: unknown
                          by_name:
                            result: ignored
                            score: 1
                            severity: unknown
                          data_set: traffic_fines
                          result: pending
                          score: 1
                          severity: none
                        - by_id:
                            result: ignored
                            score: 1
                            severity: unknown
                          by_name:
                            result: ignored
                            score: 1
                            severity: unknown
                          data_set: driving_licenses
                          result: pending
                          score: 1
                          severity: none
                        - by_id:
                            result: ignored
                            score: 1
                            severity: unknown
                          by_name:
                            result: ignored
                            score: 1
                            severity: unknown
                          data_set: criminal_record
                          result: pending
                          score: 1
                          severity: none
                        - by_id:
                            result: ignored
                            score: 1
                            severity: unknown
                          by_name:
                            result: ignored
                            score: 1
                            severity: unknown
                          data_set: international_background
                          result: pending
                          score: 1
                          severity: none
                        - by_id:
                            result: ignored
                            score: 1
                            severity: unknown
                          by_name:
                            result: ignored
                            score: 1
                            severity: unknown
                          data_set: behavior
                          result: pending
                          score: 1
                          severity: none
                        - by_id:
                            result: ignored
                            score: 1
                            severity: unknown
                          by_name:
                            result: ignored
                            score: 1
                            severity: unknown
                          data_set: vehicle_permits
                          result: pending
                          score: 1
                          severity: none
                      status: in_progress
                      statuses:
                        - data_set: criminal_record
                          database_name: br-bgc-se
                          status: not_started
                        - data_set: criminal_record
                          database_name: br-bgc-go
                          status: not_started
                        - data_set: criminal_record
                          database_name: br-bgc-rn
                          status: not_started
                        - data_set: criminal_record
                          database_name: br-bgc-ce
                          status: not_started
                        - data_set: criminal_record
                          database_name: br-bgc-pe
                          status: not_started
                        - data_set: criminal_record
                          database_name: br-bgc-rs
                          status: not_started
                        - data_set: criminal_record
                          database_name: br-bgc-es
                          status: not_started
                        - data_set: criminal_record
                          database_name: br-bgc-al
                          status: not_started
                        - data_set: criminal_record
                          database_name: br-bgc-ac
                          status: not_started
                        - data_set: criminal_record
                          database_name: br-bgc-ba
                          status: not_started
                        - data_set: criminal_record
                          database_name: br-bgc-bnmp
                          status: not_started
                        - data_set: criminal_record
                          database_name: br-bgc-ms
                          status: not_started
                        - data_set: criminal_record
                          database_name: br-bgc-df
                          status: not_started
                        - data_set: criminal_record
                          database_name: br-bgc-am
                          status: not_started
                        - data_set: criminal_record
                          database_name: br-bgc-sp
                          status: not_started
                        - data_set: criminal_record
                          database_name: br-tjpa-turmais-recursais
                          status: not_started
                        - data_set: criminal_record
                          database_name: br-bgc-sc
                          status: not_started
                        - data_set: criminal_record
                          database_name: br-bgc-mt
                          status: not_started
                        - data_set: criminal_record
                          database_name: br-bgc-ma
                          status: not_started
                        - data_set: criminal_record
                          database_name: br-bgc-ap
                          status: not_started
                        - data_set: criminal_record
                          database_name: br-bgc-rj
                          status: not_started
                        - data_set: criminal_record
                          database_name: br-bgc-mg
                          status: not_started
                        - data_set: criminal_record
                          database_name: br-bgc-to
                          status: not_started
                        - database_id: DBI5a155dfdb55d96a9ea00797ab5cf3fd88eac5910
                          database_name: Office of Foreign Assets Control
                          invalid_inputs:
                            - national_id
                            - tax_id
                            - passport
                            - foreign_id
                          status: skipped
                        - data_set: international_background
                          database_name: dea
                          status: not_started
                        - data_set: international_background
                          database_name: bid
                          status: not_started
                        - data_set: international_background
                          database_name: fbi
                          status: not_started
                        - data_set: international_background
                          database_name: interpol
                          status: not_started
                        - data_set: international_background
                          database_name: worldbankdebarredfirms
                          status: not_started
                        - data_set: international_background
                          database_name: dss
                          status: not_started
                        - data_set: international_background
                          database_name: federal-bureau-of-prisons
                          status: not_started
                        - data_set: international_background
                          database_name: fsf
                          status: not_started
                        - data_set: international_background
                          database_name: most-wanted-fugitives-eu
                          status: not_started
                        - data_set: international_background
                          database_name: unsc
                          status: not_started
                        - data_set: international_background
                          database_name: csl
                          status: not_started
                        - data_set: personal_identity
                          database_name: br-bgc-id
                          status: not_started
                        - data_set: personal_identity
                          database_name: cpf-situation
                          status: not_started
                      summary:
                        identity_status: not_found
                      type: vehicle
                      update_date: 2020-02-24T18:20:57.127Z
                      vehicle_summary:
                        vehicle_status: not_found
                    details: /v1/checks/CHKff10acc81bf97cbbe6510e07ab1442bf/details
                    self: /v1/checks/CHKff10acc81bf97cbbe6510e07ab1442bf
                vehicle_cl:
                  value:
                    check:
                      check_id: CHK659e6a94d357f261a4ffa6b03cd4732e
                      company_summary:
                        company_status: not_found
                      country: CL
                      creation_date: 2020-02-22T18:46:24.681Z
                      driver_license: "16925357"
                      homonym_score: 0.099
                      homonym_scores:
                        - data_set: vehicle_information
                          result: ignored
                          score: 1
                          severity: unknown
                        - data_set: personal_identity
                          result: not_found
                          score: 0
                          severity: very_high
                        - data_set: traffic_fines
                          result: not_found
                          score: 0
                          severity: unknown
                        - data_set: driving_licenses
                          result: not_found
                          score: 0
                          severity: unknown
                        - data_set: criminal_record
                          result: not_found
                          score: 0
                          severity: unknown
                        - data_set: international_background
                          result: not_found
                          score: 0
                          severity: unknown
                        - data_set: behavior
                          result: not_found
                          score: 0
                          severity: unknown
                        - data_set: taxes_and_finances
                          result: not_found
                          score: 0
                          severity: unknown
                      id_score: 0.299
                      score: 0.299
                      scores:
                        - by_id:
                            result: ignored
                            score: 1
                            severity: unknown
                          by_name:
                            result: ignored
                            score: 1
                            severity: unknown
                          data_set: vehicle_information
                          result: ignored
                          score: 1
                          severity: unknown
                        - by_id:
                            result: ignored
                            score: 1
                            severity: unknown
                          by_name:
                            result: not_found
                            score: 0
                            severity: very_high
                          data_set: personal_identity
                          result: ignored
                          score: 1
                          severity: unknown
                        - by_id:
                            result: not_found
                            score: 0
                            severity: unknown
                          by_name:
                            result: not_found
                            score: 0
                            severity: unknown
                          data_set: traffic_fines
                          result: not_found
                          score: 0
                          severity: unknown
                        - by_id:
                            result: not_found
                            score: 0
                            severity: unknown
                          by_name:
                            result: not_found
                            score: 0
                            severity: unknown
                          data_set: driving_licenses
                          result: not_found
                          score: 0
                          severity: unknown
                        - by_id:
                            result: not_found
                            score: 0
                            severity: unknown
                          by_name:
                            result: not_found
                            score: 0
                            severity: unknown
                          data_set: criminal_record
                          result: not_found
                          score: 0
                          severity: unknown
                        - by_id:
                            result: not_found
                            score: 0
                            severity: unknown
                          by_name:
                            result: not_found
                            score: 0
                            severity: unknown
                          data_set: international_background
                          result: not_found
                          score: 0
                          severity: unknown
                        - by_id:
                            result: not_found
                            score: 0
                            severity: unknown
                          by_name:
                            result: not_found
                            score: 0
                            severity: unknown
                          data_set: behavior
                          result: not_found
                          score: 0
                          severity: unknown
                        - by_id:
                            result: not_found
                            score: 0
                            severity: unknown
                          by_name:
                            result: not_found
                            score: 0
                            severity: unknown
                          data_set: taxes_and_finances
                          result: not_found
                          score: 0
                          severity: unknown
                      status: completed
                      statuses:
                        - database_id: DBI5a155dfdb55d96a9ea00797ab5cf3fd88eac5910
                          database_name: Office of Foreign Assets Control
                          invalid_inputs:
                            - national_id
                            - tax_id
                            - passport
                            - foreign_id
                          status: skipped
                        - data_set: international_background
                          database_id: DBIda71937421a651f8564d16e18b21bb3955278271
                          database_name: DSS Most Wanted - Bureau of Diplomatic Security
                          status: completed
                        - data_set: international_background
                          database_id: DBI2ba70e37e29aacc38fc9a89cb6c39c29e8a5cfdd
                          database_name: United Nations Security Council Consolidate List
                          status: completed
                        - data_set: international_background
                          database_id: DBIc75c46e22d5565371d2893fad550474abc891fc7
                          database_name: Reported in the EU financial system
                          status: completed
                        - data_set: international_background
                          database_id: DBI6eeab904c812b84f8a78a7fd4e286b817c430fe1
                          database_name: Federal Bureau Of Prisons
                          status: completed
                        - data_set: international_background
                          database_id: DBIca0e39584d803f7b935e481328a559efeb315532
                          database_name: EU list of the most wanted
                          status: completed
                        - data_set: international_background
                          database_id: DBI4430985bb6620056a6064cf11bb31186d34d582d
                          database_name: Most Wanted Fugitives by the DEA
                          status: completed
                        - data_set: international_background
                          database_id: DBIb6f45cf65d3dfd2c37e6210ebbd9191d35dc48e2
                          database_name: World Bank Debarred Firms
                          status: completed
                        - data_set: international_background
                          database_id: DBIac4d74895385c27eccc0e589c2cf542a01ed6eea
                          database_name: FBI
                          status: completed
                        - data_set: international_background
                          database_id: DBI021bf85b4b88628dfe6c9f155e2f53c27c6e491a
                          database_name: Inter-American Development Bank
                          status: completed
                        - data_set: international_background
                          database_id: DBIe72ce9fcb6bd79b6c9a2685cb66e72f387e78e40
                          database_name: Interpol list of the most wanted
                          status: completed
                        - data_set: international_background
                          database_id: DBI16189d09c9ea160e0b46f9b02b5aa13b3acdb77e
                          database_name: Consolidated Screening Lists
                          status: completed
                        - database_id: DBI4d2429c829696195d19b0853f1f5505047413f32
                          database_name: Consulta de estado de documento de identidad
                          invalid_inputs:
                            - foreign_id
                            - national_id
                          status: skipped
                        - database_id: DBI1ea008ab7c3d6325c13214216fadc3ba8d24a69c
                          database_name: Estado de solicitud de visa
                          invalid_inputs:
                            - foreign_id
                            - first_name
                            - last_name
                            - birthday
                            - native_country
                          status: skipped
                        - database_id: DBI21056ee44d1d83b1710ccfc1459f00ec431a6723
                          database_name: Chile atiende certificado de defunción para todo tramite
                          invalid_inputs:
                            - national_id
                          status: skipped
                        - database_id: DBIdf5a486fa11494b2571898540051b4868485684f
                          database_name: Servicio de Registro Civil e Identificación - Certificado de Nacimiento
                          invalid_inputs:
                            - national_id
                          status: skipped
                        - database_id: DBI213ee19ffa1c0046d17f5dcffb5401f7a26c80e7
                          database_name: RUT - Validación de identidad
                          invalid_inputs:
                            - national_id
                          status: skipped
                        - database_id: DBI487e341a18108ce718386a0c7d6b0d59d2dabbc1
                          database_name: Servicio Electoral de Chile
                          invalid_inputs:
                            - national_id
                          status: skipped
                        - database_id: DBI23b06bbdea960636df482680f506992107c86763
                          database_name: Chile atiende certificado de nacimiento
                          invalid_inputs:
                            - national_id
                          status: skipped
                        - database_id: DBIb7e8867d791f4bc4c12ed24f2323f115181cc0a8
                          database_name: Servicio de Impuestos Internos
                          invalid_inputs:
                            - national_id
                          status: skipped
                        - database_id: DBI8057536e0a4efcc2a42f3d19be56700d125f948b
                          database_name: Ministerio de Transportes y Telecomunicaciones - Infracciones por cámara
                          invalid_inputs:
                            - license_plate
                          status: skipped
                        - database_id: DBI9b045bc21e58f0af258c00d6949c4f2a6b3189b3
                          database_name: Servicio de Registro Civil e Identificación - Multas de tránsito no pagadas
                          invalid_inputs:
                            - license_plate
                          status: skipped
                        - database_id: DBId18b1780e5fb1842d51feea5f48054e5ab005c36
                          database_name: Volante o Maleta
                          invalid_inputs:
                            - national_id
                            - license_plate
                          status: skipped
[...]
