swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  title: WebApps API Client
  version: '2016-08-01'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-web/2016-08-01/swagger/WebApps.json'
      version: '2.0'
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: arm-web
  x-tags:
    - Azure
    - Microsoft
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  apiVersionParameter:
    description: API Version
    in: query
    name: api-version
    required: true
    type: string
  resourceGroupNameParameter:
    description: Name of the resource group to which the resource belongs.
    in: path
    maxLength: 90
    minLength: 1
    name: resourceGroupName
    pattern: '^[-\w\._\(\)]+[^\.]$'
    required: true
    type: string
    x-ms-parameter-location: method
  subscriptionIdParameter:
    description: Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Web/sites':
    get:
      description: Get all apps for a subscription.
      operationId: WebApps_List
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WebAppCollection'
      summary: Get all apps for a subscription.
      tags:
        - WebApps
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites':
    get:
      description: 'Gets all web, mobile, and API apps in the specified resource group.'
      operationId: WebApps_ListByResourceGroup
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: 'Specify <strong>true</strong> to include deployment slots in results. The default is false, which only gives you the production slot of all apps.'
          in: query
          name: includeSlots
          type: boolean
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WebAppCollection'
      summary: 'Gets all web, mobile, and API apps in the specified resource group.'
      tags:
        - WebApps
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}':
    delete:
      description: 'Deletes a web, mobile, or API app, or one of the deployment slots.'
      operationId: WebApps_Delete
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app to delete.
          in: path
          name: name
          required: true
          type: string
        - description: 'If true, web app metrics are also deleted'
          in: query
          name: deleteMetrics
          type: boolean
        - description: 'Specify true if the App Service plan will be empty after app deletion and you want to delete the empty App Service plan. By default, the empty App Service plan is not deleted.'
          in: query
          name: deleteEmptyServerFarm
          type: boolean
        - description: 'If true, DNS registration is skipped'
          in: query
          name: skipDnsRegistration
          type: boolean
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: Succesfully deleted web app
        '404':
          description: Web app not found
      summary: 'Deletes a web, mobile, or API app, or one of the deployment slots.'
      tags:
        - WebApps
    get:
      description: 'Gets the details of a web, mobile, or API app.'
      operationId: WebApps_Get
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Site'
      summary: 'Gets the details of a web, mobile, or API app.'
      tags:
        - WebApps
    put:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      description: 'Creates a new web, mobile, or API app in an existing resource group, or updates an existing app.'
      operationId: WebApps_CreateOrUpdate
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: 'Unique name of the app to create or update. To create or update a deployment slot, use the {slot} parameter.'
          in: path
          name: name
          required: true
          type: string
        - description: A JSON representation of the app properties. See example.
          in: body
          name: siteEnvelope
          required: true
          schema:
            $ref: '#/definitions/Site'
        - description: |-
            If true web app hostname is not registered with DNS on creation. This parameter is
             only used for app creation
          in: query
          name: skipDnsRegistration
          type: boolean
        - description: 'If true, custom (non *.azurewebsites.net) domains associated with web app are not verified.'
          in: query
          name: skipCustomDomainVerification
          type: boolean
        - description: 'If true, web app hostname is force registered with DNS'
          in: query
          name: forceDnsRegistration
          type: boolean
        - description: Time to live in seconds for web app's default domain name
          in: query
          name: ttlInSeconds
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Site'
        '202':
          description: Asynchronous operation in progress
          schema:
            $ref: '#/definitions/Site'
      summary: 'Creates a new web, mobile, or API app in an existing resource group, or updates an existing app.'
      tags:
        - WebApps
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/analyzeCustomHostname':
    get:
      description: Analyze a custom hostname.
      operationId: WebApps_AnalyzeCustomHostname
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of web app
          in: path
          name: name
          required: true
          type: string
        - description: Custom hostname
          in: query
          name: hostName
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CustomHostnameAnalysisResult'
      summary: Analyze a custom hostname.
      tags:
        - WebApps
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/applySlotConfig':
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      description: Applies the configuration settings from the target slot onto the current slot.
      operationId: WebApps_ApplySlotConfigToProduction
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - description: JSON object that contains the target slot name. See example.
          in: body
          name: slotSwapEntity
          required: true
          schema:
            $ref: '#/definitions/CsmSlotEntity'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
      summary: Applies the configuration settings from the target slot onto the current slot.
      tags:
        - WebApps
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/backup':
    post:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      description: Creates a backup of an app.
      operationId: WebApps_Backup
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - description: Backup configuration. You can use the JSON response from the POST action as input here.
          in: body
          name: request
          required: true
          schema:
            $ref: '#/definitions/BackupRequest'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/BackupItem'
      summary: Creates a backup of an app.
      tags:
        - WebApps
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/backups':
    get:
      description: Gets existing backups of an app.
      operationId: WebApps_ListBackups
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/BackupItemCollection'
      summary: Gets existing backups of an app.
      tags:
        - WebApps
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/backups/discover':
    put:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      description: Discovers an existing app backup that can be restored from a blob in Azure storage.
      operationId: WebApps_DiscoverRestore
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - description: A RestoreRequest object that includes Azure storage URL and blog name for discovery of backup.
          in: body
          name: request
          required: true
          schema:
            $ref: '#/definitions/RestoreRequest'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RestoreRequest'
      summary: Discovers an existing app backup that can be restored from a blob in Azure storage.
      tags:
        - WebApps
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/backups/{backupId}':
    delete:
      description: Deletes a backup of an app by its ID.
      operationId: WebApps_DeleteBackup
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - description: ID of the backup.
          in: path
          name: backupId
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: Succesfully deleted web app backup item.
        '404':
          description: Web app backup item does not exist.
      summary: Deletes a backup of an app by its ID.
      tags:
        - WebApps
    get:
      description: Gets a backup of an app by its ID.
      operationId: WebApps_GetBackupStatus
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - description: ID of the backup.
          in: path
          name: backupId
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/BackupItem'
      summary: Gets a backup of an app by its ID.
      tags:
        - WebApps
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/backups/{backupId}/list':
    post:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      description: 'Gets status of a web app backup that may be in progress, including secrets associated with the backup, such as the Azure Storage SAS URL. Also can be used to update the SAS URL for the backup if a new URL is passed in the request body.'
      operationId: WebApps_ListBackupStatusSecrets
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of web app
          in: path
          name: name
          required: true
          type: string
        - description: Id of backup
          in: path
          name: backupId
          required: true
          type: string
        - description: Information on backup request
          in: body
          name: request
          required: true
          schema:
            $ref: '#/definitions/BackupRequest'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/BackupItem'
      summary: 'Gets status of a web app backup that may be in progress, including secrets associated with the backup, such as the Azure Storage SAS URL. Also can be used to update the SAS URL for the backup if a new URL is passed in the request body.'
      tags:
        - WebApps
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/backups/{backupId}/restore':
    post:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      description: 'Restores a specific backup to another app (or deployment slot, if specified).'
      operationId: WebApps_Restore
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - description: ID of the backup.
          in: path
          name: backupId
          required: true
          type: string
        - description: Information on restore request
          in: body
          name: request
          required: true
          schema:
            $ref: '#/definitions/RestoreRequest'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RestoreResponse'
      summary: 'Restores a specific backup to another app (or deployment slot, if specified).'
      tags:
        - WebApps
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config':
    get:
      description: List the configurations of an app
      operationId: WebApps_ListConfigurations
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SiteConfigResourceCollection'
      summary: List the configurations of an app
      tags:
        - WebApps
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/appsettings':
    put:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      description: Replaces the application settings of an app.
      operationId: WebApps_UpdateApplicationSettings
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - description: Application settings of the app.
          in: body
          name: appSettings
          required: true
          schema:
            $ref: '#/definitions/StringDictionary'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/StringDictionary'
      summary: Replaces the application settings of an app.
      tags:
        - WebApps
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/appsettings/list':
    post:
      description: Gets the application settings of an app.
      operationId: WebApps_ListApplicationSettings
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/StringDictionary'
      summary: Gets the application settings of an app.
      tags:
        - WebApps
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/authsettings':
    put:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      description: Updates the Authentication / Authorization settings associated with web app.
      operationId: WebApps_UpdateAuthSettings
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of web app
          in: path
          name: name
          required: true
          type: string
        - description: Auth settings associated with web app
          in: body
          name: siteAuthSettings
          required: true
          schema:
            $ref: '#/definitions/SiteAuthSettings'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SiteAuthSettings'
      summary: Updates the Authentication / Authorization settings associated with web app.
      tags:
        - WebApps
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/authsettings/list':
    post:
      description: Gets the Authentication/Authorization settings of an app.
      operationId: WebApps_GetAuthSettings
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SiteAuthSettings'
      summary: Gets the Authentication/Authorization settings of an app.
      tags:
        - WebApps
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/backup':
    delete:
      description: Deletes the backup configuration of an app.
      operationId: WebApps_DeleteBackupConfiguration
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: Succesfully deleted backup configuration.
      summary: Deletes the backup configuration of an app.
      tags:
        - WebApps
    put:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      description: Updates the backup configuration of an app.
      operationId: WebApps_UpdateBackupConfiguration
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - description: Edited backup configuration.
          in: body
          name: request
          required: true
          schema:
            $ref: '#/definitions/BackupRequest'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/BackupRequest'
      summary: Updates the backup configuration of an app.
      tags:
        - WebApps
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/backup/list':
    post:
      description: Gets the backup configuration of an app.
      operationId: WebApps_GetBackupConfiguration
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/BackupRequest'
      summary: Gets the backup configuration of an app.
      tags:
        - WebApps
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/connectionstrings':
    put:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      description: Replaces the connection strings of an app.
      operationId: WebApps_UpdateConnectionStrings
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - description: Connection strings of the app or deployment slot. See example.
          in: body
          name: connectionStrings
          required: true
          schema:
            $ref: '#/definitions/ConnectionStringDictionary'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ConnectionStringDictionary'
      summary: Replaces the connection strings of an app.
      tags:
        - WebApps
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/connectionstrings/list':
    post:
      description: Gets the connection strings of an app.
      operationId: WebApps_ListConnectionStrings
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ConnectionStringDictionary'
      summary: Gets the connection strings of an app.
      tags:
        - WebApps
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/logs':
    get:
      description: Gets the logging configuration of an app.
      operationId: WebApps_GetDiagnosticLogsConfiguration
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SiteLogsConfig'
      summary: Gets the logging configuration of an app.
      tags:
        - WebApps
    put:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      description: Updates the logging configuration of an app.
      operationId: WebApps_UpdateDiagnosticLogsConfig
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - description: A SiteLogsConfig JSON object that contains the logging configuration to change in the "properties" property.
          in: body
          name: siteLogsConfig
          required: true
          schema:
            $ref: '#/definitions/SiteLogsConfig'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SiteLogsConfig'
      summary: Updates the logging configuration of an app.
      tags:
        - WebApps
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/metadata':
    put:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      description: Replaces the metadata of an app.
      operationId: WebApps_UpdateMetadata
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - description: Edited metadata of the app or deployment slot. See example.
          in: body
          name: metadata
          required: true
          schema:
            $ref: '#/definitions/StringDictionary'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/StringDictionary'
      summary: Replaces the metadata of an app.
      tags:
        - WebApps
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/metadata/list':
    post:
      description: Gets the metadata of an app.
      operationId: WebApps_ListMetadata
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/StringDictionary'
      summary: Gets the metadata of an app.
      tags:
        - WebApps
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/publishingcredentials/list':
    post:
      description: Gets the Git/FTP publishing credentials of an app.
      operationId: WebApps_ListPublishingCredentials
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/User'
      summary: Gets the Git/FTP publishing credentials of an app.
      tags:
        - WebApps
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/pushsettings':
    put:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      description: Updates the Push settings associated with web app.
      operationId: WebApps_UpdateSitePushSettings
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of web app
          in: path
          name: name
          required: true
          type: string
        - description: Push settings associated with web app
          in: body
          name: pushSettings
          required: true
          schema:
            $ref: '#/definitions/PushSettings'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PushSettings'
      summary: Updates the Push settings associated with web app.
      tags:
        - WebApps
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/pushsettings/list':
    post:
      description: Gets the Push settings associated with web app.
      operationId: WebApps_ListSitePushSettings
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of web app
          in: path
          name: name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PushSettings'
      summary: Gets the Push settings associated with web app.
      tags:
        - WebApps
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/slotConfigNames':
    get:
      description: Gets the names of app settings and connection strings that stick to the slot (not swapped).
      operationId: WebApps_ListSlotConfigurationNames
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SlotConfigNamesResource'
      summary: Gets the names of app settings and connection strings that stick to the slot (not swapped).
      tags:
        - WebApps
    put:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      description: Updates the names of application settings and connection string that remain with the slot during swap operation.
      operationId: WebApps_UpdateSlotConfigurationNames
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - description: Names of application settings and connection strings. See example.
          in: body
          name: slotConfigNames
          required: true
          schema:
            $ref: '#/definitions/SlotConfigNamesResource'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SlotConfigNamesResource'
      summary: Updates the names of application settings and connection string that remain with the slot during swap operation.
      tags:
        - WebApps
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/web':
    get:
      description: 'Gets the configuration of an app, such as platform version and bitness, default documents, virtual applications, Always On, etc.'
      operationId: WebApps_GetConfiguration
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SiteConfigResource'
      summary: 'Gets the configuration of an app, such as platform version and bitness, default documents, virtual applications, Always On, etc.'
      tags:
        - WebApps
    patch:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      description: Updates the configuration of an app.
      operationId: WebApps_UpdateConfiguration
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - description: JSON representation of a SiteConfig object. See example.
          in: body
          name: siteConfig
          required: true
          schema:
            $ref: '#/definitions/SiteConfigResource'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SiteConfigResource'
      summary: Updates the configuration of an app.
      tags:
        - WebApps
    put:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      description: Updates the configuration of an app.
      operationId: WebApps_CreateOrUpdateConfiguration
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - description: JSON representation of a SiteConfig object. See example.
          in: body
          name: siteConfig
          required: true
          schema:
            $ref: '#/definitions/SiteConfigResource'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SiteConfigResource'
      summary: Updates the configuration of an app.
      tags:
        - WebApps
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/web/snapshots':
    get:
      description: Gets a list of web app configuration snapshots identifiers. Each element of the list contains a timestamp and the ID of the snapshot.
      operationId: WebApps_ListConfigurationSnapshotInfo
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/SiteConfigurationSnapshotInfo'
            type: array
      summary: Gets a list of web app configuration snapshots identifiers. Each element of the list contains a timestamp and the ID of the snapshot.
      tags:
        - WebApps
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/web/snapshots/{snapshotId}':
    get:
      description: Gets a snapshot of the configuration of an app at a previous point in time.
      operationId: WebApps_GetConfigurationSnapshot
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - description: The ID of the snapshot to read.
          in: path
          name: snapshotId
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SiteConfigResource'
      summary: Gets a snapshot of the configuration of an app at a previous point in time.
      tags:
        - WebApps
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/config/web/snapshots/{snapshotId}/recover':
    post:
      description: Reverts the configuration of an app to a previous snapshot.
      operationId: WebApps_RecoverSiteConfigurationSnapshot
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - description: The ID of the snapshot to read.
          in: path
          name: snapshotId
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '204':
          description: No Content
      summary: Reverts the configuration of an app to a previous snapshot.
      tags:
        - WebApps
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/deployments':
    get:
      description: 'List deployments for an app, or a deployment slot, or for an instance of a scaled-out app.'
      operationId: WebApps_ListDeployments
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DeploymentCollection'
      summary: 'List deployments for an app, or a deployment slot, or for an instance of a scaled-out app.'
      tags:
        - WebApps
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/deployments/{id}':
    delete:
      description: 'Delete a deployment by its ID for an app, a specific deployment slot, and/or a specific scaled-out instance.'
      operationId: WebApps_DeleteDeployment
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - description: Deployment ID.
          in: path
          name: id
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: Succesfully deleted deployment
        '204':
          description: Deployment does not exist
      summary: 'Delete a deployment by its ID for an app, a specific deployment slot, and/or a specific scaled-out instance.'
      tags:
        - WebApps
    get:
      description: 'Get a deployment by its ID for an app, a specific deployment slot, and/or a specific scaled-out instance.'
      operationId: WebApps_GetDeployment
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - description: Deployment ID.
          in: path
          name: id
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Deployment'
      summary: 'Get a deployment by its ID for an app, a specific deployment slot, and/or a specific scaled-out instance.'
      tags:
        - WebApps
    put:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      description: 'Create a deployment for an app, a specific deployment slot, and/or a specific scaled-out instance.'
      operationId: WebApps_CreateDeployment
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - description: ID of an existing deployment.
          in: path
          name: id
          required: true
          type: string
        - description: Deployment details.
          in: body
          name: deployment
          required: true
          schema:
            $ref: '#/definitions/Deployment'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Deployment'
      summary: 'Create a deployment for an app, a specific deployment slot, and/or a specific scaled-out instance.'
      tags:
        - WebApps
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/domainOwnershipIdentifiers':
    get:
      description: Lists ownership identifiers for domain associated with web app.
      operationId: WebApps_ListDomainOwnershipIdentifiers
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/IdentifierCollection'
      summary: Lists ownership identifiers for domain associated with web app.
      tags:
        - WebApps
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/domainOwnershipIdentifiers/{domainOwnershipIdentifierName}':
    delete:
      description: Deletes a domain ownership identifier for a web app.
      operationId: WebApps_DeleteDomainOwnershipIdentifier
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - description: Name of domain ownership identifier.
          in: path
          name: domainOwnershipIdentifierName
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: Succesfully deleted domain ownership identifier.
        '204':
          description: Domain ownership identifider does not exist.
      summary: Deletes a domain ownership identifier for a web app.
      tags:
        - WebApps
    get:
      description: Get domain ownership identifier for web app.
      operationId: WebApps_GetDomainOwnershipIdentifier
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - description: Name of domain ownership identifier.
          in: path
          name: domainOwnershipIdentifierName
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Identifier'
      summary: Get domain ownership identifier for web app.
      tags:
        - WebApps
    patch:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      description: 'Creates a domain ownership identifier for web app, or updates an existing ownership identifier.'
      operationId: WebApps_UpdateDomainOwnershipIdentifier
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - description: Name of domain ownership identifier.
          in: path
          name: domainOwnershipIdentifierName
          required: true
          type: string
        - description: A JSON representation of the domain ownership properties.
          in: body
          name: domainOwnershipIdentifier
          required: true
          schema:
            $ref: '#/definitions/Identifier'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Identifier'
      summary: 'Creates a domain ownership identifier for web app, or updates an existing ownership identifier.'
      tags:
        - WebApps
    put:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      description: 'Creates a domain ownership identifier for web app, or updates an existing ownership identifier.'
      operationId: WebApps_CreateOrUpdateDomainOwnershipIdentifier
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - description: Name of domain ownership identifier.
          in: path
          name: domainOwnershipIdentifierName
          required: true
          type: string
        - description: A JSON representation of the domain ownership properties.
          in: body
          name: domainOwnershipIdentifier
          required: true
          schema:
            $ref: '#/definitions/Identifier'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Identifier'
      summary: 'Creates a domain ownership identifier for web app, or updates an existing ownership identifier.'
      tags:
        - WebApps
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/hostNameBindings':
    get:
      description: Get hostname bindings for an app or a deployment slot.
      operationId: WebApps_ListHostNameBindings
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/HostNameBindingCollection'
      summary: Get hostname bindings for an app or a deployment slot.
      tags:
        - WebApps
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/hostNameBindings/{hostName}':
    delete:
      description: Deletes a hostname binding for an app.
      operationId: WebApps_DeleteHostNameBinding
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - description: Hostname in the hostname binding.
          in: path
          name: hostName
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: Succesfully deleted hostname binding
        '204':
          description: Hostname binding does not exist
      summary: Deletes a hostname binding for an app.
      tags:
        - WebApps
    get:
      description: 'Get the named hostname binding for an app (or deployment slot, if specified).'
      operationId: WebApps_GetHostNameBinding
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - description: Hostname in the hostname binding.
          in: path
          name: hostName
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/HostNameBinding'
      summary: 'Get the named hostname binding for an app (or deployment slot, if specified).'
      tags:
        - WebApps
    put:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      description: Creates a hostname binding for an app.
      operationId: WebApps_CreateOrUpdateHostNameBinding
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - description: Hostname in the hostname binding.
          in: path
          name: hostName
          required: true
          type: string
        - description: Binding details. This is the JSON representation of a HostNameBinding object.
          in: body
          name: hostNameBinding
          required: true
          schema:
            $ref: '#/definitions/HostNameBinding'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/HostNameBinding'
      summary: Creates a hostname binding for an app.
      tags:
        - WebApps
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/hybridConnectionNamespaces/{namespaceName}/relays/{relayName}':
    delete:
      description: Removes a Hybrid Connection from this site.
      operationId: WebApps_DeleteHybridConnection
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: The name of the web app
          in: path
          name: name
          required: true
          type: string
        - description: The namespace for this hybrid connection
          in: path
          name: namespaceName
          required: true
          type: string
        - description: The relay name for this hybrid connection
          in: path
          name: relayName
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: Succesfully deleted hybrid connection.
        '404':
          description: Hybrid connection does not exist.
      summary: Removes a Hybrid Connection from this site.
      tags:
        - WebApps
    get:
      description: Retrieves a specific Service Bus Hybrid Connection used by this Web App.
      operationId: WebApps_GetHybridConnection
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: The name of the web app
          in: path
          name: name
          required: true
          type: string
        - description: The namespace for this hybrid connection
          in: path
          name: namespaceName
          required: true
          type: string
        - description: The relay name for this hybrid connection
          in: path
          name: relayName
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/HybridConnection'
      summary: Retrieves a specific Service Bus Hybrid Connection used by this Web App.
      tags:
        - WebApps
    patch:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      description: Creates a new Hybrid Connection using a Service Bus relay.
      operationId: WebApps_UpdateHybridConnection
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: The name of the web app
          in: path
          name: name
          required: true
          type: string
        - description: The namespace for this hybrid connection
          in: path
          name: namespaceName
          required: true
          type: string
        - description: The relay name for this hybrid connection
          in: path
          name: relayName
          required: true
          type: string
        - description: The details of the hybrid connection
          in: body
          name: connectionEnvelope
          required: true
          schema:
            $ref: '#/definitions/HybridConnection'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/HybridConnection'
      summary: Creates a new Hybrid Connection using a Service Bus relay.
      tags:
        - WebApps
    put:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      description: Creates a new Hybrid Connection using a Service Bus relay.
      operationId: WebApps_CreateOrUpdateHybridConnection
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: The name of the web app
          in: path
          name: name
          required: true
          type: string
        - description: The namespace for this hybrid connection
          in: path
          name: namespaceName
          required: true
          type: string
        - description: The relay name for this hybrid connection
          in: path
          name: relayName
          required: true
          type: string
        - description: The details of the hybrid connection
          in: body
          name: connectionEnvelope
          required: true
          schema:
            $ref: '#/definitions/HybridConnection'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/HybridConnection'
      summary: Creates a new Hybrid Connection using a Service Bus relay.
      tags:
        - WebApps
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/hybridConnectionNamespaces/{namespaceName}/relays/{relayName}/listKeys':
    post:
      description: Gets the send key name and value for a Hybrid Connection.
      operationId: WebApps_ListHybridConnectionKeys
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: The name of the web app
          in: path
          name: name
          required: true
          type: string
        - description: The namespace for this hybrid connection
          in: path
          name: namespaceName
          required: true
          type: string
        - description: The relay name for this hybrid connection
          in: path
          name: relayName
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/HybridConnectionKey'
      summary: Gets the send key name and value for a Hybrid Connection.
      tags:
        - WebApps
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/hybridConnectionRelays':
    get:
      description: Retrieves all Service Bus Hybrid Connections used by this Web App.
      operationId: WebApps_ListHybridConnections
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: The name of the web app
          in: path
          name: name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/HybridConnection'
      summary: Retrieves all Service Bus Hybrid Connections used by this Web App.
      tags:
        - WebApps
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/hybridconnection':
    get:
      description: 'Gets hybrid connections configured for an app (or deployment slot, if specified).'
      operationId: WebApps_ListRelayServiceConnections
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RelayServiceConnectionEntity'
      summary: 'Gets hybrid connections configured for an app (or deployment slot, if specified).'
      tags:
        - WebApps
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/hybridconnection/{entityName}':
    delete:
      description: Deletes a relay service connection by its name.
      operationId: WebApps_DeleteRelayServiceConnection
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - description: Name of the hybrid connection configuration.
          in: path
          name: entityName
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: Succesfully deleted relay service connection.
        '404':
          description: Relay service connection does not exist.
      summary: Deletes a relay service connection by its name.
      tags:
        - WebApps
    get:
      description: Gets a hybrid connection configuration by its name.
      operationId: WebApps_GetRelayServiceConnection
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - description: Name of the hybrid connection.
          in: path
          name: entityName
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RelayServiceConnectionEntity'
      summary: Gets a hybrid connection configuration by its name.
      tags:
        - WebApps
    patch:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      description: 'Creates a new hybrid connection configuration (PUT), or updates an existing one (PATCH).'
      operationId: WebApps_UpdateRelayServiceConnection
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - description: Name of the hybrid connection configuration.
          in: path
          name: entityName
          required: true
          type: string
        - description: Details of the hybrid connection configuration.
          in: body
          name: connectionEnvelope
          required: true
          schema:
            $ref: '#/definitions/RelayServiceConnectionEntity'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RelayServiceConnectionEntity'
      summary: 'Creates a new hybrid connection configuration (PUT), or updates an existing one (PATCH).'
      tags:
        - WebApps
    put:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      description: 'Creates a new hybrid connection configuration (PUT), or updates an existing one (PATCH).'
      operationId: WebApps_CreateOrUpdateRelayServiceConnection
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - description: Name of the hybrid connection configuration.
          in: path
          name: entityName
          required: true
          type: string
        - description: Details of the hybrid connection configuration.
          in: body
          name: connectionEnvelope
          required: true
          schema:
            $ref: '#/definitions/RelayServiceConnectionEntity'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RelayServiceConnectionEntity'
      summary: 'Creates a new hybrid connection configuration (PUT), or updates an existing one (PATCH).'
      tags:
        - WebApps
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/instances':
    get:
      description: Gets all scale-out instances of an app.
      operationId: WebApps_ListInstanceIdentifiers
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WebAppInstanceCollection'
      summary: Gets all scale-out instances of an app.
      tags:
        - WebApps
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/instances/{instanceId}/deployments':
    get:
      description: 'List deployments for an app, or a deployment slot, or for an instance of a scaled-out app.'
      operationId: WebApps_ListInstanceDeployments
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - description: 'The ID of a specific scaled-out instance. This is the value of the name property in the JSON response from "GET api/sites/{siteName}/instances"'
          in: path
          name: instanceId
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DeploymentCollection'
      summary: 'List deployments for an app, or a deployment slot, or for an instance of a scaled-out app.'
      tags:
        - WebApps
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/instances/{instanceId}/deployments/{id}':
    delete:
      description: 'Delete a deployment by its ID for an app, a specific deployment slot, and/or a specific scaled-out instance.'
      operationId: WebApps_DeleteInstanceDeployment
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - description: Deployment ID.
          in: path
          name: id
          required: true
          type: string
        - description: 'ID of a specific scaled-out instance. This is the value of the name property in the JSON response from "GET api/sites/{siteName}/instances"'
          in: path
          name: instanceId
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: Succesfully deleted deployment
        '204':
          description: Deployment does not exist
      summary: 'Delete a deployment by its ID for an app, a specific deployment slot, and/or a specific scaled-out instance.'
      tags:
        - WebApps
    get:
      description: 'Get a deployment by its ID for an app, a specific deployment slot, and/or a specific scaled-out instance.'
      operationId: WebApps_GetInstanceDeployment
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - description: Deployment ID.
          in: path
          name: id
          required: true
          type: string
        - description: 'ID of a specific scaled-out instance. This is the value of the name property in the JSON response from "GET api/sites/{siteName}/instances"'
          in: path
          name: instanceId
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Deployment'
      summary: 'Get a deployment by its ID for an app, a specific deployment slot, and/or a specific scaled-out instance.'
      tags:
        - WebApps
    put:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      description: 'Create a deployment for an app, a specific deployment slot, and/or a specific scaled-out instance.'
      operationId: WebApps_CreateInstanceDeployment
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - description: ID of an existing deployment.
          in: path
          name: id
          required: true
          type: string
        - description: 'ID of a specific scaled-out instance. This is the value of the name property in the JSON response from "GET api/sites/{siteName}/instances"'
          in: path
          name: instanceId
          required: true
          type: string
        - description: Deployment details.
          in: body
          name: deployment
          required: true
          schema:
            $ref: '#/definitions/Deployment'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Deployment'
      summary: 'Create a deployment for an app, a specific deployment slot, and/or a specific scaled-out instance.'
      tags:
        - WebApps
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/iscloneable':
    post:
      description: Shows whether an app can be cloned to another resource group or subscription.
      operationId: WebApps_IsCloneable
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SiteCloneability'
      summary: Shows whether an app can be cloned to another resource group or subscription.
      tags:
        - WebApps
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/metricdefinitions':
    get:
      description: 'Gets all metric definitions of an app (or deployment slot, if specified).'
      operationId: WebApps_ListMetricDefinitions
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ResourceMetricDefinitionCollection'
      summary: 'Gets all metric definitions of an app (or deployment slot, if specified).'
      tags:
        - WebApps
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/metrics':
    get:
      description: 'Gets performance metrics of an app (or deployment slot, if specified).'
      operationId: WebApps_ListMetrics
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - description: Specify "true" to include metric details in the response. It is "false" by default.
          in: query
          name: details
          type: boolean
        - description: 'Return only metrics specified in the filter (using OData syntax). For example: $filter=(name.value eq ''Metric1'' or name.value eq ''Metric2'') and startTime eq ''2014-01-01T00:00:00Z'' and endTime eq ''2014-12-31T23:59:59Z'' and timeGrain eq duration''[Hour|Minute|Day]''.'
          in: query
          name: $filter
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ResourceMetricCollection'
      summary: 'Gets performance metrics of an app (or deployment slot, if specified).'
      tags:
        - WebApps
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/migrate':
    put:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      description: Restores a web app.
      operationId: WebApps_MigrateStorage
      parameters:
        - description: Azure subscription
          in: query
          name: subscriptionName
          required: true
          type: string
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of web app
          in: path
          name: name
          required: true
          type: string
        - description: Migration migrationOptions
          in: body
          name: migrationOptions
          required: true
          schema:
            $ref: '#/definitions/StorageMigrationOptions'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/StorageMigrationResponse'
      summary: Restores a web app.
      tags:
        - WebApps
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/migratemysql':
    post:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      description: Migrates a local (in-app) MySql database to a remote MySql database.
      operationId: WebApps_MigrateMySql
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of web app
          in: path
          name: name
          required: true
          type: string
        - description: MySql migration options
          in: body
          name: migrationRequestEnvelope
          required: true
          schema:
            $ref: '#/definitions/MigrateMySqlRequest'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Operation'
      summary: Migrates a local (in-app) MySql database to a remote MySql database.
      tags:
        - WebApps
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/migratemysql/status':
    get:
      description: 'Returns the status of MySql in app migration, if one is active, and whether or not MySql in app is enabled'
      operationId: WebApps_GetMigrateMySqlStatus
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of web app
          in: path
          name: name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MigrateMySqlStatus'
      summary: 'Returns the status of MySql in app migration, if one is active, and whether or not MySql in app is enabled'
      tags:
        - WebApps
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/networkFeatures/{view}':
    get:
      description: 'Gets all network features used by the app (or deployment slot, if specified).'
      operationId: WebApps_ListNetworkFeatures
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - description: The type of view. This can either be "summary" or "detailed".
          in: path
          name: view
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/NetworkFeatures'
        '404':
          description: The requested view does not exist.
      summary: 'Gets all network features used by the app (or deployment slot, if specified).'
      tags:
        - WebApps
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/networkTrace/start':
    post:
      description: Start capturing network packets for the site.
      operationId: WebApps_StartWebSiteNetworkTrace
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: The name of the web app.
          in: path
          name: name
          required: true
          type: string
        - description: The duration to keep capturing in seconds.
          format: int32
          in: query
          name: durationInSeconds
          type: integer
        - description: The maximum frame length in bytes (Optional).
          format: int32
          in: query
          name: maxFrameLength
          type: integer
        - description: The Blob URL to store capture file.
          in: query
          name: sasUrl
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            type: string
      summary: Start capturing network packets for the site.
      tags:
        - WebApps
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/networkTrace/stop':
    post:
      description: Stop ongoing capturing network packets for the site.
      operationId: WebApps_StopWebSiteNetworkTrace
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: The name of the web app.
          in: path
          name: name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            type: string
      summary: Stop ongoing capturing network packets for the site.
      tags:
        - WebApps
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/newpassword':
    post:
      description: 'Generates a new publishing password for an app (or deployment slot, if specified).'
      operationId: WebApps_GenerateNewSitePublishingPassword
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '204':
          description: No Content
      summary: 'Generates a new publishing password for an app (or deployment slot, if specified).'
      tags:
        - WebApps
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/perfcounters':
    get:
      description: Gets perfmon counters for web app.
      operationId: WebApps_ListPerfMonCounters
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of web app
          in: path
          name: name
          required: true
          type: string
        - description: 'Return only usages/metrics specified in the filter. Filter conforms to odata syntax. Example: $filter=(startTime eq ''2014-01-01T00:00:00Z'' and endTime eq ''2014-12-31T23:59:59Z'' and timeGrain eq duration''[Hour|Minute|Day]''.'
          in: query
          name: $filter
          type: string
          x-ms-skip-url-encoding: true
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PerfMonCounterCollection'
      summary: Gets perfmon counters for web app.
      tags:
        - WebApps
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/phplogging':
    get:
      description: Gets web app's event logs.
      operationId: WebApps_GetSitePhpErrorLogFlag
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of web app
          in: path
          name: name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SitePhpErrorLogFlag'
      summary: Gets web app's event logs.
      tags:
        - WebApps
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/premieraddons':
    get:
      description: Gets the premier add-ons of an app.
      operationId: WebApps_ListPremierAddOns
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PremierAddOn'
      summary: Gets the premier add-ons of an app.
      tags:
        - WebApps
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/premieraddons/{premierAddOnName}':
    delete:
      description: Delete a premier add-on from an app.
      operationId: WebApps_DeletePremierAddOn
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - description: Add-on name.
          in: path
          name: premierAddOnName
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: Succesfully deleted premier add-on.
      summary: Delete a premier add-on from an app.
      tags:
        - WebApps
    get:
      description: Gets a named add-on of an app.
      operationId: WebApps_GetPremierAddOn
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - description: Add-on name.
          in: path
          name: premierAddOnName
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PremierAddOn'
      summary: Gets a named add-on of an app.
      tags:
        - WebApps
    put:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      description: Updates a named add-on of an app.
      operationId: WebApps_AddPremierAddOn
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - description: Add-on name.
          in: path
          name: premierAddOnName
          required: true
          type: string
        - description: A JSON representation of the edited premier add-on.
          in: body
          name: premierAddOn
          required: true
          schema:
            $ref: '#/definitions/PremierAddOn'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PremierAddOn'
      summary: Updates a named add-on of an app.
      tags:
        - WebApps
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/publishxml':
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      description: 'Gets the publishing profile for an app (or deployment slot, if specified).'
      operationId: WebApps_ListPublishingProfileXmlWithSecrets
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - description: 'Specifies publishingProfileOptions for publishing profile. For example, use {"format": "FileZilla3"} to get a FileZilla publishing profile.'
          in: body
          name: publishingProfileOptions
          required: true
          schema:
            $ref: '#/definitions/CsmPublishingProfileOptions'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            type: file
      summary: 'Gets the publishing profile for an app (or deployment slot, if specified).'
      tags:
        - WebApps
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/recover':
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      description: Recovers a deleted web app.
      operationId: WebApps_Recover
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of web app
          in: path
          name: name
          required: true
          type: string
        - description: Snapshot data used for web app recovery. Snapshot information can be obtained by calling GetDeletedSites or GetSiteSnapshots API.
          in: body
          name: recoveryEntity
          required: true
          schema:
            $ref: '#/definitions/CsmSiteRecoveryEntity'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RecoverResponse'
      summary: Recovers a deleted web app.
      tags:
        - WebApps
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/resetSlotConfig':
    post:
      description: Resets the configuration settings of the current slot if they were previously modified by calling the API with POST.
      operationId: WebApps_ResetProductionSlotConfig
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
      summary: Resets the configuration settings of the current slot if they were previously modified by calling the API with POST.
      tags:
        - WebApps
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/resourceHealthMetadata':
    get:
      description: Gets the category of ResourceHealthMetadata to use for the given site
      operationId: WebApps_GetResourceHealthMetadata
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of web app
          in: path
          name: name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ResourceHealthMetadata'
      summary: Gets the category of ResourceHealthMetadata to use for the given site
      tags:
        - WebApps
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/restart':
    post:
      description: 'Restarts an app (or deployment slot, if specified).'
      operationId: WebApps_Restart
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Name of the app.
          in: path
          name: name
          required: true
          type: string
        - description: 'Specify true to apply the configuration settings and restarts the app only if necessary. By default, the API always restarts and reprovisions the app.'
          in: query
          name: softRestart
          type: boolean
        - description: 'Specify true to block until the app is restarted. By default, it is set to false, and the API responds immediately (asynchronous).'
          in: query
          name: synchronous
          type: boolean
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successfully restarted app.
      summary: 'Restarts an app (or deployment slot, if specified).'
      tags:
        - WebApps
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/slots':
    get:
[...]
