openapi: 3.0.0
servers:
  - url: https://marketcheck-prod.apigee.net/v2
info:
  description: One API serving data spanned across multiple verticals
  title: Marketcheck APIs
  version: "2.01"
  x-apisguru-categories:
    - ecommerce
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_MarketcheckAPIs_profile_image.jpeg
  x-origin:
    - format: openapi
      url: https://new-verticals-dot-marketcheck-gcp.uc.r.appspot.com/api-docs
      version: "3.0"
  x-providerName: apigee.net
  x-serviceName: marketcheck-cars
security:
  - authorizeEndpoint: []
paths:
  /car/dealer/inventory/active:
    get:
      description: Get dealers active inventory
      parameters:
        - $ref: "#/components/parameters/api_key"
        - $ref: "#/components/parameters/append_api_key"
        - $ref: "#/components/parameters/latitude"
        - $ref: "#/components/parameters/longitude"
        - $ref: "#/components/parameters/radius"
        - $ref: "#/components/parameters/zip"
        - $ref: "#/components/parameters/car_include_lease"
        - $ref: "#/components/parameters/car_include_finance"
        - $ref: "#/components/parameters/lease_term"
        - $ref: "#/components/parameters/lease_down_payment"
        - $ref: "#/components/parameters/lease_emp"
        - $ref: "#/components/parameters/finance_loan_term"
        - $ref: "#/components/parameters/finance_loan_apr"
        - $ref: "#/components/parameters/finance_emp"
        - $ref: "#/components/parameters/finance_down_payment"
        - $ref: "#/components/parameters/finance_down_payment_per"
        - $ref: "#/components/parameters/car_car_type"
        - $ref: "#/components/parameters/carfax_1_owner"
        - $ref: "#/components/parameters/carfax_clean_title"
        - $ref: "#/components/parameters/year_range"
        - $ref: "#/components/parameters/year"
        - $ref: "#/components/parameters/make"
        - $ref: "#/components/parameters/model"
        - $ref: "#/components/parameters/trim"
        - $ref: "#/components/parameters/dealer_id"
        - $ref: "#/components/parameters/vin"
        - $ref: "#/components/parameters/source"
        - $ref: "#/components/parameters/body_type"
        - $ref: "#/components/parameters/body_subtype"
        - $ref: "#/components/parameters/vehicle_type"
        - $ref: "#/components/parameters/car_vins"
        - $ref: "#/components/parameters/car_taxonomy_vins"
        - $ref: "#/components/parameters/mm"
        - $ref: "#/components/parameters/ymm"
        - $ref: "#/components/parameters/ymmt"
        - $ref: "#/components/parameters/match"
        - $ref: "#/components/parameters/cylinders"
        - $ref: "#/components/parameters/transmission"
        - $ref: "#/components/parameters/doors"
        - $ref: "#/components/parameters/drivetrain"
        - $ref: "#/components/parameters/exterior_color"
        - $ref: "#/components/parameters/interior_color"
        - $ref: "#/components/parameters/base_exterior_color"
        - $ref: "#/components/parameters/base_interior_color"
        - $ref: "#/components/parameters/engine"
        - $ref: "#/components/parameters/engine_size"
        - $ref: "#/components/parameters/engine_aspiration"
        - $ref: "#/components/parameters/engine_block"
        - $ref: "#/components/parameters/highway_mpg_range"
        - $ref: "#/components/parameters/city_mpg_range"
        - $ref: "#/components/parameters/miles_range"
        - $ref: "#/components/parameters/price_range"
        - $ref: "#/components/parameters/msrp_range"
        - $ref: "#/components/parameters/dom_range"
        - $ref: "#/components/parameters/sort_by"
        - $ref: "#/components/parameters/sort_order"
        - $ref: "#/components/parameters/rows"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/include_non_vin_listings"
        - $ref: "#/components/parameters/msa_code"
        - $ref: "#/components/parameters/facets"
        - $ref: "#/components/parameters/range_facets"
        - $ref: "#/components/parameters/facet_sort"
        - $ref: "#/components/parameters/stats"
        - $ref: "#/components/parameters/car_country"
        - $ref: "#/components/parameters/car_plot"
        - $ref: "#/components/parameters/car_nodedup"
        - $ref: "#/components/parameters/car_dedup"
        - $ref: "#/components/parameters/owned"
        - $ref: "#/components/parameters/state"
        - $ref: "#/components/parameters/city"
        - $ref: "#/components/parameters/dealer_name"
        - $ref: "#/components/parameters/dealership_group_name"
        - $ref: "#/components/parameters/trim_o"
        - $ref: "#/components/parameters/trim_r"
        - $ref: "#/components/parameters/dom_active_range"
        - $ref: "#/components/parameters/dom_180_range"
        - $ref: "#/components/parameters/exclude_certified"
        - $ref: "#/components/parameters/fuel_type"
        - $ref: "#/components/parameters/dealer_type"
        - $ref: "#/components/parameters/photo_links"
        - $ref: "#/components/parameters/photo_links_cached"
        - $ref: "#/components/parameters/stock_no"
        - $ref: "#/components/parameters/last_seen_range"
        - $ref: "#/components/parameters/first_seen_range"
        - $ref: "#/components/parameters/first_seen_at_source_range"
        - $ref: "#/components/parameters/first_seen_at_mc_range"
        - $ref: "#/components/parameters/last_seen_days"
        - $ref: "#/components/parameters/first_seen_days"
        - $ref: "#/components/parameters/first_seen_at_source_days"
        - $ref: "#/components/parameters/first_seen_at_mc_days"
        - $ref: "#/components/parameters/include_relevant_links"
        - $ref: "#/components/parameters/inventory_count_range"
        - $ref: "#/components/parameters/in_transit"
        - $ref: "#/components/parameters/seating_capacity"
        - $ref: "#/components/parameters/engine_size_range"
        - $ref: "#/components/parameters/powertrain_type"
        - $ref: "#/components/parameters/min_photo_links"
        - $ref: "#/components/parameters/min_photo_links_cached"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchResponse"
          description: List of all cars listings matching the search & filter criteria
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Get dealers active inventory
      tags:
        - Car Search
    x-swagger-router-controller: search
  "/car/recall/{vin}":
    get:
      description: Get a particular recall information for a vin
      operationId: getRecallHistory
      parameters:
        - $ref: "#/components/parameters/api_key"
        - $ref: "#/components/parameters/inpath_full_vin"
        - description: Page number to fetch the results for the given criteria. Default is 1.
          in: query
          name: page
          required: false
          schema:
            format: number
            type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchResponse"
          description: Reacll info for the given vin
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Recall info by vin
      tags:
        - Recall Search
    x-swagger-router-controller: history
  /client/configure/get:
    get:
      description: get client filters
      operationId: get
      parameters:
        - $ref: "#/components/parameters/api_key"
        - description: To filter listing on Country in which they are listed
          in: query
          name: country
          required: true
          schema:
            enum:
              - US
              - CA
              - UK
            type: string
      responses:
        "200":
          content:
            text/csv:
              examples:
                response:
                  value: |-
                    rule_type,field,value,factor
                    exclude,source,arnoldclark.com,
          description: Successfully get client filters
      summary: get client filters
      tags:
        - client filters
    x-swagger-router-controller: client_filters
  /client/configure/set:
    post:
      description: set client filters
      operationId: set
      parameters:
        - $ref: "#/components/parameters/api_key"
        - description: To filter listing on Country in which they are listed
          in: query
          name: country
          required: true
          schema:
            enum:
              - US
              - CA
              - UK
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                csvfile:
                  description: csv file with filters
                  format: binary
                  type: string
                  x-mimetype: text/csv
              required:
                - csvfile
              type: object
        required: true
      responses:
        "200":
          description: Successfully set client filters
      summary: set client filters
      tags:
        - client filters
    x-swagger-router-controller: client_filters
  "/crm_check/car/{vin}":
    get:
      description: Check whether particular vin has had a listing after stipulated date or not
      operationId: crmCheck
      parameters:
        - $ref: "#/components/parameters/api_key"
        - $ref: "#/components/parameters/inpath_full_vin"
        - description: sale date to check whether after this listing has appeared or not. Must be 8 character long, with YYYYMMDD format
          in: query
          name: sale_date
          required: true
          schema:
            format: string
            minLength: 8
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CRMResponse"
          description: CRM check for given vin
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: CRM check of a particular vin
      tags:
        - CRM Cleanse API
      x-swagger-router-controller: history
  "/dealer/car/uk/{id}":
    get:
      description: Get a particular dealer's information by its id
      parameters:
        - $ref: "#/components/parameters/api_key"
        - description: Dealer id to get all the dealer info attributes
          in: path
          name: id
          required: true
          schema:
            format: string
            type: string
        - description: boolean param to include site providers name in response
          in: query
          name: provider
          required: false
          schema:
            default: false
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dealer"
          description: Dealer for the given id
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Dealer by id
      tags:
        - Dealer API
      x-swagger-router-controller: search
  "/dealer/car/{id}":
    get:
      description: Get a particular dealer's information by its id
      operationId: getDealer
      parameters:
        - $ref: "#/components/parameters/api_key"
        - description: Dealer id to get all the dealer info attributes
          in: path
          name: id
          required: true
          schema:
            format: string
            type: string
        - description: boolean param to include site providers name in response
          in: query
          name: provider
          required: false
          schema:
            default: false
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dealer"
          description: Dealer for the given id
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Dealer by id
      tags:
        - Dealer API
      x-swagger-router-controller: search
  "/dealer/heavy-equipment/{id}":
    get:
      description: Get a particular dealer's information by its id
      parameters:
        - $ref: "#/components/parameters/api_key"
        - description: Dealer id to get all the dealer info attributes
          in: path
          name: id
          required: true
          schema:
            format: string
            type: string
        - description: boolean param to include site providers name in response
          in: query
          name: provider
          required: false
          schema:
            default: false
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dealer"
          description: Dealer for the given id
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Dealer by id
      tags:
        - Dealer API
      x-swagger-router-controller: search
  "/dealer/motorcycle/{id}":
    get:
      description: Get a particular dealer's information by its id
      parameters:
        - $ref: "#/components/parameters/api_key"
        - description: Dealer id to get all the dealer info attributes
          in: path
          name: id
          required: true
          schema:
            format: string
            type: string
        - description: boolean param to include site providers name in response
          in: query
          name: provider
          required: false
          schema:
            default: false
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dealer"
          description: Dealer for the given id
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Dealer by id
      tags:
        - Dealer API
      x-swagger-router-controller: search
  "/dealer/rv/{id}":
    get:
      description: Get a particular dealer's information by its id
      parameters:
        - $ref: "#/components/parameters/api_key"
        - description: Dealer id to get all the dealer info attributes
          in: path
          name: id
          required: true
          schema:
            format: string
            type: string
        - description: boolean param to include site providers name in response
          in: query
          name: provider
          required: false
          schema:
            default: false
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dealer"
          description: Dealer for the given id
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Dealer by id
      tags:
        - Dealer API
      x-swagger-router-controller: search
  /dealers/car:
    get:
      description: The dealers API returns a list of dealers around a given point and radius.
      operationId: dealerSearch
      parameters:
        - $ref: "#/components/parameters/api_key"
        - $ref: "#/components/parameters/latitude"
        - $ref: "#/components/parameters/longitude"
        - $ref: "#/components/parameters/radius"
        - $ref: "#/components/parameters/rows"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/non_default_country"
        - $ref: "#/components/parameters/dealer_type"
        - $ref: "#/components/parameters/city"
        - $ref: "#/components/parameters/state"
        - $ref: "#/components/parameters/listing_count_range"
        - $ref: "#/components/parameters/inventory_url"
        - $ref: "#/components/parameters/zip"
        - $ref: "#/components/parameters/sort_by"
        - $ref: "#/components/parameters/sort_order"
        - description: boolean param to include site providers name in response
          in: query
          name: provider
          required: false
          schema:
            default: false
            type: boolean
        - $ref: "#/components/parameters/facets"
        - $ref: "#/components/parameters/range_facets"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DealersResponse"
          description: List of dealers for the search
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Find car dealers around
      tags:
        - Dealer API
    x-swagger-router-controller: search
  /dealers/car/uk:
    get:
      description: The dealers API returns a list of dealers around a given point and radius.
      parameters:
        - $ref: "#/components/parameters/api_key"
        - $ref: "#/components/parameters/latitude"
        - $ref: "#/components/parameters/longitude"
        - $ref: "#/components/parameters/radius"
        - $ref: "#/components/parameters/rows"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/non_default_country"
        - $ref: "#/components/parameters/dealer_type"
        - $ref: "#/components/parameters/city"
        - description: To filter listing on county in which they are listed
          in: query
          name: county
          schema:
            type: string
          x-field-config:
            isConfigurable: true
            isMultiValued: true
            operator: in
            separator: ","
            targetAlias: state
            transformConstraints:
              - transformer: caseTransformer
                type: string
        - $ref: "#/components/parameters/listing_count_range"
        - $ref: "#/components/parameters/inventory_url"
        - description: To filter listing on postal code around which they are listed
          in: query
          name: postal_code
          schema:
            type: string
          x-field-config:
            isConfigurable: true
            isMultiValued: true
            operator: in
            separator: ","
            targetAlias: zip
            transformConstraints:
              - transformer: caseTransformer
                type: string
        - $ref: "#/components/parameters/sort_by"
        - $ref: "#/components/parameters/sort_order"
        - description: boolean param to include site providers name in response
          in: query
          name: provider
          required: false
          schema:
            default: false
            type: boolean
        - $ref: "#/components/parameters/facets"
        - $ref: "#/components/parameters/range_facets"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DealersResponse"
          description: List of dealers for the search
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Find car dealers around
      tags:
        - Dealer API
    x-swagger-router-controller: search
  /dealers/heavy-equipment:
    get:
      description: The dealers API returns a list of dealers around a given point and radius.
      parameters:
        - $ref: "#/components/parameters/api_key"
        - $ref: "#/components/parameters/latitude"
        - $ref: "#/components/parameters/longitude"
        - $ref: "#/components/parameters/radius"
        - $ref: "#/components/parameters/rows"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/non_default_country"
        - $ref: "#/components/parameters/dealer_type"
        - $ref: "#/components/parameters/city"
        - $ref: "#/components/parameters/state"
        - $ref: "#/components/parameters/listing_count_range"
        - $ref: "#/components/parameters/inventory_url"
        - $ref: "#/components/parameters/zip"
        - $ref: "#/components/parameters/sort_by"
        - $ref: "#/components/parameters/sort_order"
        - description: boolean param to include site providers name in response
          in: query
          name: provider
          required: false
          schema:
            default: false
            type: boolean
        - $ref: "#/components/parameters/facets"
        - $ref: "#/components/parameters/range_facets"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DealersResponse"
          description: List of dealers for the search
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Find car dealers around
      tags:
        - Dealer API
    x-swagger-router-controller: search
  /dealers/motorcycle:
    get:
      description: The dealers API returns a list of dealers around a given point and radius.
      parameters:
        - $ref: "#/components/parameters/api_key"
        - $ref: "#/components/parameters/latitude"
        - $ref: "#/components/parameters/longitude"
        - $ref: "#/components/parameters/radius"
        - $ref: "#/components/parameters/rows"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/non_default_country"
        - $ref: "#/components/parameters/dealer_type"
        - $ref: "#/components/parameters/city"
        - $ref: "#/components/parameters/state"
        - $ref: "#/components/parameters/listing_count_range"
        - $ref: "#/components/parameters/inventory_url"
        - $ref: "#/components/parameters/zip"
        - $ref: "#/components/parameters/sort_by"
        - $ref: "#/components/parameters/sort_order"
        - description: boolean param to include site providers name in response
          in: query
          name: provider
          required: false
          schema:
            default: false
            type: boolean
        - $ref: "#/components/parameters/facets"
        - $ref: "#/components/parameters/range_facets"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DealersResponse"
          description: List of dealers for the search
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Find car dealers around
      tags:
        - Dealer API
    x-swagger-router-controller: search
  /dealers/rv:
    get:
      description: The dealers API returns a list of dealers around a given point and radius.
      parameters:
        - $ref: "#/components/parameters/api_key"
        - $ref: "#/components/parameters/latitude"
        - $ref: "#/components/parameters/longitude"
        - $ref: "#/components/parameters/radius"
        - $ref: "#/components/parameters/rows"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/non_default_country"
        - $ref: "#/components/parameters/dealer_type"
        - $ref: "#/components/parameters/city"
        - $ref: "#/components/parameters/state"
        - $ref: "#/components/parameters/listing_count_range"
        - $ref: "#/components/parameters/inventory_url"
        - $ref: "#/components/parameters/zip"
        - $ref: "#/components/parameters/sort_by"
        - $ref: "#/components/parameters/sort_order"
        - description: boolean param to include site providers name in response
          in: query
          name: provider
          required: false
          schema:
            default: false
            type: boolean
        - $ref: "#/components/parameters/facets"
        - $ref: "#/components/parameters/range_facets"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DealersResponse"
          description: List of dealers for the search
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Find car dealers around
      tags:
        - Dealer API
    x-swagger-router-controller: search
  "/decode/car/epi/{vin}/specs":
    get:
      description: Get the basic information on specifications for a car identified by a valid VIN from EPI's decoder
      operationId: decodeViaEPI
      parameters:
        - $ref: "#/components/parameters/api_key"
        - $ref: "#/components/parameters/inpath_full_vin"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Build"
          description: Basic sepcifications details about the car
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: EPI VIN Decoder
      tags:
        - VIN Decoder API
      x-swagger-router-controller: vin_decoder
  "/decode/car/neovin/{vin}/specs":
    get:
      description: Get the basic information on specifications for a car identified by a valid VIN from NeoVIN decoder
      operationId: decodeViaNeoVIN
      parameters:
        - $ref: "#/components/parameters/api_key"
        - $ref: "#/components/parameters/inpath_full_vin"
        - description: Boolean variable to indicate wheather to include generic data as well in response
          in: query
          name: include_generic
          required: false
          schema:
            default: false
            type: boolean
        - description: Decode VIN on the fly instead of cached response
          in: query
          name: force_decode
          required: false
          schema:
            default: false
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NeoVIN"
          description: Basic sepcifications details about the car
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: NeoVIN Decoder
      tags:
        - VIN Decoder API
      x-swagger-router-controller: vin_decoder
  "/decode/car/{vin}/specs":
    get:
      description: Get the basic information on specifications for a car identified by a valid VIN
      operationId: decode
      parameters:
        - $ref: "#/components/parameters/api_key"
        - description: The VIN to identify the car. Must be a valid 17 char VIN
          in: path
          name: vin
          required: true
          schema:
            format: string
            minLength: 17
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Build"
          description: Basic sepcifications details about the car
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: VIN Decoder
      tags:
        - VIN Decoder API
      x-swagger-router-controller: vin_decoder
  "/history/car/uk/{vrm}":
    get:
      description: The history API returns online listing history for a car identified by its VRM. History listings are sorted in the descending order of the listing date / last seen date
      parameters:
        - $ref: "#/components/parameters/api_key"
        - $ref: "#/components/parameters/inpath_vrm"
        - description: Page number to fetch the results for the given criteria. Default is 1.
          in: query
          name: page
          required: false
          schema:
            format: number
            type: number
        - description: Flag to indicate whether to include duplicate historical records as well in the response
          in: query
          name: include_duplicates
          required: false
          schema:
            type: boolean
        - $ref: "#/components/parameters/sort_order"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/HistoricalListing"
                type: array
          description: Online listing history for the given vrm
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Get a cars online listing history
      tags:
        - Cars History API
    x-swagger-router-controller: history
  "/history/car/{vin}":
    get:
      description: The history API returns online listing history for a car identified by its VIN. History listings are sorted in the descending order of the listing date / last seen date
      operationId: getCarHistory
      parameters:
        - $ref: "#/components/parameters/api_key"
        - $ref: "#/components/parameters/inpath_full_vin"
        - description: List of fields to fetch, in case the default fields list in the response is to be trimmed down
          in: query
          name: fields
          required: false
          schema:
            format: string
            type: string
        - description: Page number to fetch the results for the given criteria. Default is 1.
          in: query
          name: page
          required: false
          schema:
            format: number
            type: number
        - description: Flag to indicate whether to include duplicate historical records as well in the response
          in: query
          name: include_duplicates
          required: false
          schema:
            type: boolean
        - $ref: "#/components/parameters/sort_order"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/HistoricalListing"
                type: array
          description: Online listing history for the given vin
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Get a cars online listing history
      tags:
        - Cars History API
    x-swagger-router-controller: history
  "/image/cache/car/{listingID}/{imageID}":
    get:
      description: Fetch the cached car image
      operationId: getCachedImage
      parameters:
        - $ref: "#/components/parameters/api_key"
        - description: ID of the listing to fetch cached images for
          in: path
          name: listingID
          required: true
          schema:
            type: string
        - description: ID of the image to fetch
          in: path
          name: imageID
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CacheImageResponse"
          description: Cached image of the car
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Fetch cached image
      tags:
        - Car Cached Image
    x-swagger-router-controller: search
  "/listing/car/auction/{id}":
    get:
      description: Get a particular auction listing by its id
      parameters:
        - $ref: "#/components/parameters/api_key"
        - $ref: "#/components/parameters/append_api_key"
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/include_relevant_links"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Listing"
          description: Listing for the given id
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Listing by id
      tags:
        - Car Search
    x-swagger-router-controller: search
  "/listing/car/auction/{id}/extra":
    get:
      description: Get listing options, features, seller comments
      parameters:
        - $ref: "#/components/parameters/api_key"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingExtraAttributes"
          description: ListingAttributes for the given listing id
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Long text Listings attributes for Listing with the given id
      tags:
        - Car Search
    x-swagger-router-controller: search
  "/listing/car/auction/{id}/media":
    get:
      description: Get listing media (photo, photos) by id
      parameters:
        - $ref: "#/components/parameters/api_key"
        - $ref: "#/components/parameters/append_api_key"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingMedia"
          description: ListingMedia for the given listing id
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Listing media by id
      tags:
        - Car Search
    x-swagger-router-controller: search
  "/listing/car/fsbo/{id}":
    get:
      description: Get a particular private party listing by its id
      parameters:
        - $ref: "#/components/parameters/api_key"
        - $ref: "#/components/parameters/append_api_key"
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/include_relevant_links"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Listing"
          description: Listing for the given id
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Listing by id
      tags:
        - Car Search
    x-swagger-router-controller: search
  "/listing/car/fsbo/{id}/extra":
    get:
      description: Get listing options, features, seller comments
      parameters:
        - $ref: "#/components/parameters/api_key"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingExtraAttributes"
          description: ListingAttributes for the given listing id
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Long text Listings attributes for Listing with the given id
      tags:
        - Car Search
    x-swagger-router-controller: search
  "/listing/car/fsbo/{id}/media":
    get:
      description: Get listing media (photo, photos) by id
      parameters:
        - $ref: "#/components/parameters/api_key"
        - $ref: "#/components/parameters/append_api_key"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingMedia"
          description: ListingMedia for the given listing id
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Listing media by id
      tags:
        - Car Search
    x-swagger-router-controller: search
  "/listing/car/uk/{id}":
    get:
      description: Get a particular dealer listing by its id
      parameters:
        - $ref: "#/components/parameters/api_key"
        - $ref: "#/components/parameters/append_api_key"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Listing"
          description: Listing for the given id
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Listing by id
      tags:
        - Car Search
    x-swagger-router-controller: search
  "/listing/car/uk/{id}/extra":
    get:
      description: Get listing options, features, seller comments
      parameters:
        - $ref: "#/components/parameters/api_key"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingExtraAttributes"
          description: ListingAttributes for the given listing id
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Long text Listings attributes for Listing with the given id
      tags:
        - Car Search
    x-swagger-router-controller: search
  "/listing/car/uk/{id}/media":
    get:
      description: Get listing media (photo, photos) by id
      parameters:
        - $ref: "#/components/parameters/api_key"
        - $ref: "#/components/parameters/append_api_key"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingMedia"
          description: ListingMedia for the given listing id
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Listing media by id
      tags:
        - Car Search
    x-swagger-router-controller: search
  "/listing/car/{id}":
    get:
      description: Get a particular dealer listing by its id
      operationId: getListing
      parameters:
        - $ref: "#/components/parameters/api_key"
        - $ref: "#/components/parameters/append_api_key"
        - $ref: "#/components/parameters/id"
        - $ref: "#/components/parameters/include_relevant_links"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Listing"
          description: Listing for the given id
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Listing by id
      tags:
        - Car Search
    x-swagger-router-controller: search
  "/listing/car/{id}/extra":
    get:
      description: Get listing options, features, seller comments
      parameters:
        - $ref: "#/components/parameters/api_key"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingExtraAttributes"
          description: ListingAttributes for the given listing id
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Long text Listings attributes for Listing with the given id
      tags:
        - Car Search
    x-swagger-router-controller: search
  "/listing/car/{id}/media":
    get:
      description: Get listing media (photo, photos) by id
      parameters:
        - $ref: "#/components/parameters/api_key"
        - $ref: "#/components/parameters/append_api_key"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingMedia"
          description: ListingMedia for the given listing id
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Listing media by id
      tags:
        - Car Search
    x-swagger-router-controller: search
  "/listing/heavy-equipment/{id}":
    get:
      description: Get a particular Heavy equipment listing by its id
      parameters:
        - $ref: "#/components/parameters/api_key"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HeavyEquipmentsListing"
          description: Heavy equipment listing for the given id
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Heavy equipment listing by id
      tags:
        - Heavy Equipment Search
    x-swagger-router-controller: search
  "/listing/heavy-equipment/{id}/extra":
    get:
      description: Get Heavy equipment listing options, features, seller comments
      parameters:
        - $ref: "#/components/parameters/api_key"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingExtraAttributes"
          description: Heavy equipment ListingAttributes for the given listing id
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Long text Heavy equipment Listings attributes for Listing with the given id
      tags:
        - Heavy Equipment Search
    x-swagger-router-controller: search
  "/listing/heavy-equipment/{id}/media":
    get:
      description: Get listing media (photo, photos) by id
      parameters:
        - $ref: "#/components/parameters/api_key"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingMedia"
          description: Listing Media for the given listing id
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Listing media by id
      tags:
        - Heavy Equipment Search
    x-swagger-router-controller: search
  "/listing/motorcycle/{id}":
    get:
      description: Get a particular Motorcycle listing by its id
      parameters:
        - $ref: "#/components/parameters/api_key"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MotorcycleListing"
          description: Motorcycle listing for the given id
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Motorcycle listing by id
      tags:
        - Motorcycle Search
    x-swagger-router-controller: search
  "/listing/motorcycle/{id}/extra":
    get:
      description: Get Motorcycle listing options, features, seller comments
      parameters:
        - $ref: "#/components/parameters/api_key"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingExtraAttributes"
          description: Motorcycle ListingAttributes for the given listing id
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Long text Motorcycle Listings attributes for Listing with the given id
      tags:
        - Motorcycle Search
    x-swagger-router-controller: search
  "/listing/motorcycle/{id}/media":
    get:
      description: Get Motorcycle listing media (photo, photos) by id
      parameters:
        - $ref: "#/components/parameters/api_key"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingMedia"
          description: Motorcycle listing media for the given listing id
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Motorcycle listing media by id
      tags:
        - Motorcycle Search
    x-swagger-router-controller: search
  "/listing/rv/uk/{id}":
    get:
      description: Get a particular RV listing by its id
      parameters:
        - $ref: "#/components/parameters/api_key"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RVListing"
          description: RV listing for the given id
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: RV listing by id
      tags:
        - RV Search
    x-swagger-router-controller: search
  "/listing/rv/uk/{id}/extra":
    get:
      description: Get RV listing options, features, seller comments
      parameters:
        - $ref: "#/components/parameters/api_key"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingExtraAttributes"
          description: RV ListingAttributes for the given listing id
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Long text RV Listings attributes for Listing with the given id
      tags:
        - RV Search
    x-swagger-router-controller: search
  "/listing/rv/uk/{id}/media":
    get:
      description: Get listing media (photo, photos) by id
      parameters:
        - $ref: "#/components/parameters/api_key"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingMedia"
          description: Listing Media for the given listing id
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Listing media by id
      tags:
        - RV Search
    x-swagger-router-controller: search
  "/listing/rv/{id}":
    get:
      description: Get a particular RV listing by its id
      parameters:
        - $ref: "#/components/parameters/api_key"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RVListing"
          description: RV listing for the given id
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: RV listing by id
      tags:
        - RV Search
    x-swagger-router-controller: search
  "/listing/rv/{id}/extra":
    get:
      description: Get RV listing options, features, seller comments
      parameters:
        - $ref: "#/components/parameters/api_key"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingExtraAttributes"
          description: RV ListingAttributes for the given listing id
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Long text RV Listings attributes for Listing with the given id
      tags:
        - RV Search
    x-swagger-router-controller: search
  "/listing/rv/{id}/media":
    get:
      description: Get listing media (photo, photos) by id
      parameters:
        - $ref: "#/components/parameters/api_key"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingMedia"
          description: Listing Media for the given listing id
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Listing media by id
      tags:
        - RV Search
    x-swagger-router-controller: search
  /mds/car:
    get:
      description: Get the basic information on specifications for a car identified by a valid VIN
      operationId: getMDS
      parameters:
        - $ref: "#/components/parameters/api_key"
        - description: VIN to decode
          in: query
          name: vin
          required: false
          schema:
            format: string
            minLength: 10
            type: string
        - description: Exact parameter
          in: query
          name: exact
          required: false
          schema:
            default: false
            type: boolean
        - $ref: "#/components/parameters/latitude"
        - $ref: "#/components/parameters/longitude"
        - description: Radius around the search location (Unit - Miles)
          in: query
          name: radius
          schema:
            format: int32
            type: integer
        - $ref: "#/components/parameters/zip"
        - $ref: "#/components/parameters/msa_code"
        - description: Debug parameter
          in: query
          name: debug
          required: false
          schema:
            default: false
            type: boolean
        - description: To fetch sold vins
          in: query
          name: include_sold
          required: false
          schema:
            default: false
            type: boolean
        - $ref: "#/components/parameters/country"
        - $ref: "#/components/parameters/state"
        - $ref: "#/components/parameters/city"
        - $ref: "#/components/parameters/ymmt"
        - $ref: "#/components/parameters/car_car_type"
        - $ref: "#/components/parameters/lease_term"
        - $ref: "#/components/parameters/lease_down_payment"
        - $ref: "#/components/parameters/lease_emp"
        - $ref: "#/components/parameters/finance_loan_term"
        - $ref: "#/components/parameters/finance_loan_apr"
        - $ref: "#/components/parameters/finance_emp"
        - $ref: "#/components/parameters/finance_down_payment"
        - $ref: "#/components/parameters/finance_down_payment_per"
        - $ref: "#/components/parameters/carfax_1_owner"
        - $ref: "#/components/parameters/carfax_clean_title"
        - $ref: "#/components/parameters/year"
        - $ref: "#/components/parameters/make"
        - $ref: "#/components/parameters/model"
        - $ref: "#/components/parameters/trim"
        - $ref: "#/components/parameters/dealer_id"
        - $ref: "#/components/parameters/source"
        - $ref: "#/components/parameters/body_type"
        - $ref: "#/components/parameters/body_subtype"
        - $ref: "#/components/parameters/vehicle_type"
        - $ref: "#/components/parameters/cylinders"
        - $ref: "#/components/parameters/transmission"
        - $ref: "#/components/parameters/doors"
        - $ref: "#/components/parameters/drivetrain"
        - $ref: "#/components/parameters/exterior_color"
        - $ref: "#/components/parameters/interior_color"
        - $ref: "#/components/parameters/base_exterior_color"
        - $ref: "#/components/parameters/base_interior_color"
        - $ref: "#/components/parameters/engine"
        - $ref: "#/components/parameters/engine_size"
        - $ref: "#/components/parameters/engine_aspiration"
        - $ref: "#/components/parameters/engine_block"
        - $ref: "#/components/parameters/highway_mpg_range"
        - $ref: "#/components/parameters/city_mpg_range"
        - $ref: "#/components/parameters/miles_range"
        - $ref: "#/components/parameters/price_range"
        - $ref: "#/components/parameters/msrp_range"
        - $ref: "#/components/parameters/dom_range"
        - $ref: "#/components/parameters/dealership_group_name"
        - $ref: "#/components/parameters/dom_active_range"
        - $ref: "#/components/parameters/dom_180_range"
        - $ref: "#/components/parameters/fuel_type"
        - $ref: "#/components/parameters/dealer_type"
        - $ref: "#/components/parameters/engine_size_range"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Mds"
          description: Provides Market Days supply for year make model or trim combination
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Market Days Supply
      tags:
        - Cars Market API
      x-swagger-router-controller: mds
  /popular/cars:
    get:
      description: Get make model wise top 50 popular cars on national, state, city level
      operationId: getPopularCars
      parameters:
        - $ref: "#/components/parameters/api_key"
        - description: State level sales count
          in: query
          name: state
          required: false
          schema:
            format: string
            type: string
        - description: City level sales count, pipe seperated like city_state=jacksonville|FL
          in: query
          name: city_state
          required: false
          schema:
            format: string
            type: string
        - description: Inventory type for which popular count is to be searched
          in: query
          name: car_type
          required: true
          schema:
            enum:
              - new
              - used
            format: string
            type: string
        - description: Country for which the popular cars are to be searched
          in: query
          name: country
          required: false
          schema:
            default: us
            enum:
              - us
              - ca
              - US
              - CA
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PopularCars"
          description: List of most popular top 50 cars
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Get make model wise top 50 popular cars on national, state, city level
      tags:
        - Cars Market API
      x-swagger-router-controller: market
  /predict/car/price:
    get:
      description: Predict car price based on it's specifications
      operationId: predictCarPrice
      parameters:
        - $ref: "#/components/parameters/api_key"
        - description: Predict price for a VIN
          in: query
          name: vin
          schema:
            type: string
        - description: Car condition
          in: query
          name: car_type
          required: true
          schema:
            enum:
              - used
              - new
            type: string
        - description: Car manufacturing year
          in: query
          name: year
          schema:
            type: integer
        - description: Car's make
          in: query
          name: make
          schema:
            type: string
        - description: Car's model
          in: query
          name: model
          schema:
            type: string
        - description: Car's trim
          in: query
          name: trim
          schema:
            type: string
        - description: Boolean to indicate car is certified or not
          in: query
          name: is_certified
          required: false
          schema:
            type: boolean
        - description: Boolean to indicate car is carfax one owner or not
          in: query
          name: carfax_1_owner
          required: false
          schema:
            type: boolean
        - description: Boolean to indicate car has clean title or not
          in: query
          name: carfax_clean_title
          required: false
          schema:
            type: boolean
        - description: Base exterior color of the car
          in: query
          name: base_exterior_color
          required: false
          schema:
            type: string
        - description: Base interior color of the car
          in: query
          name: base_interior_color
          required: false
          schema:
            type: string
        - description: Transmission on the car
          in: query
          name: transmission
          schema:
            enum:
              - Manual
              - Automatic
            type: string
        - description: Drivetrain on the car
          in: query
          name: drivetrain
          schema:
            enum:
              - 4WD
              - AWD
              - FWD
              - RWD
            type: string
        - description: Engine Size of the car
          in: query
          name: engine_size
          required: false
          schema:
            type: number
        - description: Engine Block of the car
          in: query
          name: engine_block
          required: false
          schema:
            enum:
              - I
              - V
              - H
            type: string
        - description: Number of cylinders in the vehicle
          in: query
          name: cylinders
          schema:
            type: integer
        - description: Number of doors in the vehicle
          in: query
          name: doors
          schema:
            type: integer
        - description: Highway mileage
          in: query
          name: highway_mpg
          schema:
            type: integer
        - description: City mileage of the car
          in: query
          name: city_mpg
          schema:
            type: integer
        - description: Latitude component of the location
          in: query
          name: latitude
          schema:
            type: number
        - description: Longitude component of the location
          in: query
          name: longitude
          schema:
            type: number
        - description: miles vehicle has driven in total
          in: query
          name: miles
          schema:
            type: integer
        - description: Location zip
          in: query
          name: zip
          schema:
            type: string
        - description: Country for which car price will be predicted
          in: query
          name: country
          schema:
            default: us
            enum:
              - us
              - ca
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PricePrediction"
          description: Predicted price of the car along with it's specifications
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Predict car price based on it's specifications
      tags:
        - Cars Market API
    x-swagger-router-controller: market
  /predict/car/uk/fmv:
    get:
      description: Predict fare value of car for UK based on YMMT & miles
      operationId: fareValue
      parameters:
        - $ref: "#/components/parameters/api_key"
        - description: Predict price for a VRM
          in: query
          name: vrm
          schema:
            type: string
        - description: Car manufacturing year
          in: query
          name: year
          schema:
            type: integer
        - description: Car's make
          in: query
          name: make
          schema:
            type: string
        - description: Car's model
          in: query
          name: model
          schema:
            type: string
        - description: Car's variant
          in: query
          name: variant
          schema:
            type: string
        - description: miles vehicle has driven in total
          in: query
          name: miles
          schema:
            type: integer
        - description: Postal code of the car
          in: query
          name: postal_code
          schema:
            type: string
        - description: Radius around postal code
          in: query
          name: radius
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FareValue"
          description: Predict fare value of car for UK based on YMMT & miles
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Predict fare value of car for UK based on YMMT & miles
      tags:
        - Cars Market API
    x-swagger-router-controller: market
  /predict/car/uk/price:
    get:
      description: Predict car price for UK based on it's specifications
      operationId: predictUkCarPrice
      parameters:
        - $ref: "#/components/parameters/api_key"
        - description: Predict price for a VRM
          in: query
          name: vrm
          schema:
            type: string
        - description: Car manufacturing year
          in: query
          name: year
          schema:
            type: integer
        - description: Car's make
          in: query
          name: make
          schema:
            type: string
        - description: Car's model
          in: query
          name: model
          schema:
            type: string
        - description: Car's trim
          in: query
          name: trim
          schema:
            type: string
        - description: Base exterior color of the car
          in: query
          name: base_exterior_color
          required: false
          schema:
            type: string
        - description: Transmission on the car
          in: query
          name: transmission
          schema:
            enum:
              - Manual
              - Automatic
            type: string
        - description: Drivetrain on the car
          in: query
          name: drivetrain
          schema:
            type: string
        - description: Engine Size of the car
          in: query
          name: engine_size
          required: false
          schema:
            format: double
            type: number
        - description: Number of cylinders in the vehicle
          in: query
          name: cylinders
          schema:
            type: integer
        - description: Number of doors in the vehicle
          in: query
          name: doors
          schema:
            type: integer
        - description: Fuel type of the car
          in: query
          name: fuel_type
          schema:
            type: string
        - description: Highway mileage
          in: query
          name: highway_mpg
          schema:
            format: double
            type: number
        - description: City mileage of the car
          in: query
          name: city_mpg
          schema:
            format: double
            type: number
        - description: Combiined mileage of the car
          in: query
          name: combined_mpg
          schema:
            format: double
            type: number
        - description: Latitude component of the location
          in: query
          name: latitude
          schema:
            type: number
        - description: Longitude component of the location
          in: query
          name: longitude
          schema:
            type: number
        - description: miles vehicle has driven in total
          in: query
          name: miles
          schema:
            type: integer
        - description: Location zip
          in: query
          name: zip
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PricePrediction"
          description: Predicted price of the car along with it's specifications
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Predict car price for UK based on it's specifications
      tags:
        - Cars Market API
    x-swagger-router-controller: market
  /sales/car:
    get:
      description: Get a sales count for city, state or national level by make, model, year, trim or taxonomy vin
      operationId: getSalesCount
      parameters:
        - $ref: "#/components/parameters/api_key"
        - description: Inventory type for which sales count is to be searched, default is used
          in: query
          name: car_type
          required: false
          schema:
            default: used
            enum:
              - new
              - used
            format: string
            type: string
        - description: Make for which sales count is to be searched
          in: query
          name: make
          required: false
          schema:
            format: string
            type: string
        - description: Make-Model for which sales count is to be searched, pipe seperated like mm=ford|f-150
          in: query
          name: mm
          required: false
          schema:
            format: string
            type: string
        - description: Year-Make-Model for which sales count is to be searched, pipe seperated like ymm=2015|ford|f-150
          in: query
          name: ymm
          required: false
          schema:
            format: string
            type: string
        - description: Year-Make-Model-Trim for which sales count is to be searched, pipe seperated like ymmt=2015|ford|f-150|platinum
          in: query
          name: ymmt
          required: false
          schema:
            format: string
            type: string
        - description: taxonomy_vin for which sales count is to be searched
          in: query
          name: taxonomy_vin
          required: false
          schema:
            format: string
            type: string
        - description: State level sales count
          in: query
          name: state
          required: false
          schema:
            format: string
            type: string
        - description: City level sales count, pipe seperated like city_state=jacksonville|FL
          in: query
          name: city_state
          required: false
          schema:
            format: string
            type: string
        - description: VIN that will be transformed to taxonomy_vin
          in: query
          name: vin
          required: false
          schema:
            format: string
            type: string
        - description: Country for which the sales records are to be searched
          in: query
          name: country
          required: false
          schema:
            default: us
            enum:
              - us
              - ca
              - US
              - CA
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sales"
          description: Sales count for given parameters
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Get sales count by make, model, year, trim or taxonomy vin
      tags:
        - Cars Market API
      x-swagger-router-controller: market
  /search/car/active:
    get:
      description: |-
        This endpoint is the meat of the API and serves many purposes. This API produces a list of currently active cars from the market for the given search criteria. The API results are limited to allow pagination upto 10000 rows. 
         The search API facilitates the following use cases - 
        1. Search Cars around a given geo-point within a given radius 
        2. Search cars for a specific year / make / model or combination of these 
        3. Search cars matching multiple year, make, model combinatins in the same search request
        4. Filter results by most car specification attributes
        5. Search for similar cars by VIN or Taxonomy VIN 
        6. Filter cars within a given price / miles / days on market (dom) range
        7. Specify a sort order for the results on price / miles / dom / listed date 
        8. Search cars for a given City / State combination 
        9. Get Facets to build the search drill downs 
        10. Get Market averages for price/miles/dom for your search
      parameters:
        - $ref: "#/components/parameters/api_key"
        - $ref: "#/components/parameters/append_api_key"
        - $ref: "#/components/parameters/latitude"
        - $ref: "#/components/parameters/longitude"
        - $ref: "#/components/parameters/radius"
        - $ref: "#/components/parameters/zip"
        - $ref: "#/components/parameters/car_include_lease"
        - $ref: "#/components/parameters/car_include_finance"
        - $ref: "#/components/parameters/lease_term"
        - $ref: "#/components/parameters/lease_down_payment"
        - $ref: "#/components/parameters/lease_emp"
        - $ref: "#/components/parameters/finance_loan_term"
        - $ref: "#/components/parameters/finance_loan_apr"
        - $ref: "#/components/parameters/finance_emp"
        - $ref: "#/components/parameters/finance_down_payment"
        - $ref: "#/components/parameters/finance_down_payment_per"
        - $ref: "#/components/parameters/car_car_type"
        - $ref: "#/components/parameters/carfax_1_owner"
        - $ref: "#/components/parameters/carfax_clean_title"
        - $ref: "#/components/parameters/year_range"
        - $ref: "#/components/parameters/year"
        - $ref: "#/components/parameters/make"
        - $ref: "#/components/parameters/model"
        - $ref: "#/components/parameters/trim"
        - $ref: "#/components/parameters/vin"
        - $ref: "#/components/parameters/body_type"
        - $ref: "#/components/parameters/body_subtype"
        - $ref: "#/components/parameters/vehicle_type"
        - $ref: "#/components/parameters/car_vins"
        - $ref: "#/components/parameters/car_taxonomy_vins"
        - $ref: "#/components/parameters/mm"
        - $ref: "#/components/parameters/ymm"
        - $ref: "#/components/parameters/ymmt"
        - $ref: "#/components/parameters/match"
        - $ref: "#/components/parameters/cylinders"
        - $ref: "#/components/parameters/transmission"
        - $ref: "#/components/parameters/doors"
        - $ref: "#/components/parameters/drivetrain"
        - $ref: "#/components/parameters/exterior_color"
        - $ref: "#/components/parameters/interior_color"
        - $ref: "#/components/parameters/base_exterior_color"
        - $ref: "#/components/parameters/base_interior_color"
        - $ref: "#/components/parameters/engine"
        - $ref: "#/components/parameters/engine_size"
        - $ref: "#/components/parameters/engine_aspiration"
        - $ref: "#/components/parameters/engine_block"
        - $ref: "#/components/parameters/highway_mpg_range"
        - $ref: "#/components/parameters/city_mpg_range"
        - $ref: "#/components/parameters/miles_range"
        - $ref: "#/components/parameters/price_range"
        - $ref: "#/components/parameters/msrp_range"
        - $ref: "#/components/parameters/dom_range"
        - $ref: "#/components/parameters/sort_by"
        - $ref: "#/components/parameters/sort_order"
        - $ref: "#/components/parameters/rows"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/include_non_vin_listings"
        - $ref: "#/components/parameters/msa_code"
        - $ref: "#/components/parameters/facets"
        - $ref: "#/components/parameters/range_facets"
        - $ref: "#/components/parameters/facet_sort"
        - $ref: "#/components/parameters/stats"
        - $ref: "#/components/parameters/car_country"
        - $ref: "#/components/parameters/car_plot"
        - $ref: "#/components/parameters/car_nodedup"
        - $ref: "#/components/parameters/car_dedup"
        - $ref: "#/components/parameters/owned"
        - $ref: "#/components/parameters/car_source"
        - $ref: "#/components/parameters/state"
        - $ref: "#/components/parameters/city"
        - $ref: "#/components/parameters/trim_o"
        - $ref: "#/components/parameters/trim_r"
        - $ref: "#/components/parameters/dom_active_range"
        - $ref: "#/components/parameters/dom_180_range"
        - $ref: "#/components/parameters/exclude_certified"
        - $ref: "#/components/parameters/fuel_type"
        - $ref: "#/components/parameters/dealer_type"
        - $ref: "#/components/parameters/photo_links"
        - $ref: "#/components/parameters/photo_links_cached"
        - $ref: "#/components/parameters/stock_no"
        - $ref: "#/components/parameters/last_seen_range"
        - $ref: "#/components/parameters/first_seen_range"
        - $ref: "#/components/parameters/first_seen_at_source_range"
        - $ref: "#/components/parameters/first_seen_at_mc_range"
        - $ref: "#/components/parameters/last_seen_days"
        - $ref: "#/components/parameters/first_seen_days"
        - $ref: "#/components/parameters/first_seen_at_source_days"
        - $ref: "#/components/parameters/first_seen_at_mc_days"
        - $ref: "#/components/parameters/include_relevant_links"
        - $ref: "#/components/parameters/inventory_count_range"
        - $ref: "#/components/parameters/car_dealer_id"
        - $ref: "#/components/parameters/exclude_dealer_ids"
        - $ref: "#/components/parameters/exclude_sources"
        - $ref: "#/components/parameters/in_transit"
        - $ref: "#/components/parameters/seating_capacity"
        - $ref: "#/components/parameters/powertrain_type"
        - $ref: "#/components/parameters/price_change"
        - $ref: "#/components/parameters/price_change_range"
        - $ref: "#/components/parameters/active_inventory_date_range"
        - $ref: "#/components/parameters/engine_size_range"
        - $ref: "#/components/parameters/high_value_features"
        - $ref: "#/components/parameters/min_photo_links"
        - $ref: "#/components/parameters/min_photo_links_cached"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchResponse"
          description: List of all cars listings matching the search & filter criteria
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Gets active car listings for the given search criteria
      tags:
        - Car Search
    x-swagger-router-controller: search
  /search/car/active/rank:
    post:
      description: Computer rank for car listings based on inputs provided.Weights for ranking parameters can also be provided.
      operationId: searchAndRankCar
      parameters:
        - $ref: "#/components/parameters/api_key"
        - $ref: "#/components/parameters/append_api_key"
        - $ref: "#/components/parameters/latitude"
        - $ref: "#/components/parameters/longitude"
        - $ref: "#/components/parameters/radius"
        - $ref: "#/components/parameters/zip"
        - $ref: "#/components/parameters/car_include_lease"
        - $ref: "#/components/parameters/car_include_finance"
        - $ref: "#/components/parameters/lease_term"
        - $ref: "#/components/parameters/lease_down_payment"
        - $ref: "#/components/parameters/lease_emp"
        - $ref: "#/components/parameters/finance_loan_term"
        - $ref: "#/components/parameters/finance_loan_apr"
        - $ref: "#/components/parameters/finance_emp"
        - $ref: "#/components/parameters/finance_down_payment"
        - $ref: "#/components/parameters/finance_down_payment_per"
        - $ref: "#/components/parameters/car_car_type"
        - $ref: "#/components/parameters/carfax_1_owner"
        - $ref: "#/components/parameters/carfax_clean_title"
        - $ref: "#/components/parameters/year"
        - $ref: "#/components/parameters/make"
        - $ref: "#/components/parameters/model"
        - $ref: "#/components/parameters/trim"
        - $ref: "#/components/parameters/vin"
        - $ref: "#/components/parameters/body_type"
        - $ref: "#/components/parameters/body_subtype"
        - $ref: "#/components/parameters/vehicle_type"
        - $ref: "#/components/parameters/car_vins"
        - $ref: "#/components/parameters/car_taxonomy_vins"
        - $ref: "#/components/parameters/ymmt"
        - $ref: "#/components/parameters/match"
        - $ref: "#/components/parameters/cylinders"
        - $ref: "#/components/parameters/transmission"
        - $ref: "#/components/parameters/doors"
        - $ref: "#/components/parameters/drivetrain"
        - $ref: "#/components/parameters/exterior_color"
        - $ref: "#/components/parameters/interior_color"
        - $ref: "#/components/parameters/base_exterior_color"
        - $ref: "#/components/parameters/base_interior_color"
        - $ref: "#/components/parameters/engine"
        - $ref: "#/components/parameters/engine_size"
        - $ref: "#/components/parameters/engine_aspiration"
        - $ref: "#/components/parameters/engine_block"
        - $ref: "#/components/parameters/highway_mpg_range"
        - $ref: "#/components/parameters/city_mpg_range"
        - $ref: "#/components/parameters/rank_miles_range"
        - $ref: "#/components/parameters/rank_price_range"
        - $ref: "#/components/parameters/msrp_range"
        - $ref: "#/components/parameters/dom_range"
        - $ref: "#/components/parameters/sort_by"
        - $ref: "#/components/parameters/sort_order"
        - $ref: "#/components/parameters/rows"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/include_non_vin_listings"
        - $ref: "#/components/parameters/msa_code"
        - $ref: "#/components/parameters/facets"
        - $ref: "#/components/parameters/range_facets"
        - $ref: "#/components/parameters/facet_sort"
        - $ref: "#/components/parameters/stats"
        - $ref: "#/components/parameters/car_country"
        - $ref: "#/components/parameters/car_plot"
        - $ref: "#/components/parameters/car_nodedup"
        - $ref: "#/components/parameters/car_dedup"
        - $ref: "#/components/parameters/owned"
        - $ref: "#/components/parameters/state"
        - $ref: "#/components/parameters/city"
        - $ref: "#/components/parameters/trim_o"
        - $ref: "#/components/parameters/trim_r"
        - $ref: "#/components/parameters/dom_active_range"
        - $ref: "#/components/parameters/dom_180_range"
        - $ref: "#/components/parameters/exclude_certified"
        - $ref: "#/components/parameters/fuel_type"
        - $ref: "#/components/parameters/dealer_type"
        - $ref: "#/components/parameters/photo_links"
        - $ref: "#/components/parameters/photo_links_cached"
        - $ref: "#/components/parameters/stock_no"
        - $ref: "#/components/parameters/last_seen_range"
        - $ref: "#/components/parameters/first_seen_range"
        - $ref: "#/components/parameters/first_seen_at_source_range"
        - $ref: "#/components/parameters/first_seen_at_mc_range"
        - $ref: "#/components/parameters/last_seen_days"
        - $ref: "#/components/parameters/first_seen_days"
        - $ref: "#/components/parameters/first_seen_at_source_days"
        - $ref: "#/components/parameters/first_seen_at_mc_days"
        - $ref: "#/components/parameters/inventory_type"
        - description: Page number to fetch the results for the given criteria. Default is 1.
          in: query
          name: page
          required: false
          schema:
            format: number
            type: number
      requestBody:
        $ref: "#/components/requestBodies/CarRankRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CarRankResponse"
          description: Rank listings based on inputs provided.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Compute relative rank for car listings.
      tags:
        - Rank Car Listings
    x-swagger-router-controller: search
  /search/car/active/rank/listings:
    post:
      description: Computer rank for car listings based on inputs provided.Weights for ranking parameters can also be provided.
      operationId: rankCar
      parameters:
        - $ref: "#/components/parameters/api_key"
        - $ref: "#/components/parameters/append_api_key"
      requestBody:
        $ref: "#/components/requestBodies/CarRankRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CarRankResponse"
          description: Rank listings based on inputs provided.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Compute relative rank for car listings.
      tags:
        - Rank Car Listings
    x-swagger-router-controller: search
  /search/car/auction/active:
    get:
      description: |-
        This API produces a list of currently active auction cars from the market for the given search criteria. The API results are limited to allow pagination upto 5000 rows. 
         The search API facilitates the following use cases - 
        1. Search Cars around a given geo-point within a given radius 
        2. Search cars for a specific year / make / model or combination of these 
        3. Search cars matching multiple year, make, model combinatins in the same search request
        4. Filter results by most car specification attributes
        5. Search for similar cars by VIN or Taxonomy VIN 
        6. Filter cars within a given price / miles / days on market (dom) range
        7. Specify a sort order for the results on price / miles / dom / listed date 
        8. Search cars for a given City / State combination 
        9. Get Facets to build the search drill downs 
        10. Get Market averages for price/miles/dom for your search
      parameters:
        - $ref: "#/components/parameters/api_key"
        - $ref: "#/components/parameters/append_api_key"
        - $ref: "#/components/parameters/latitude"
        - $ref: "#/components/parameters/longitude"
        - $ref: "#/components/parameters/radius"
        - $ref: "#/components/parameters/zip"
        - $ref: "#/components/parameters/car_include_lease"
        - $ref: "#/components/parameters/car_include_finance"
        - $ref: "#/components/parameters/lease_term"
        - $ref: "#/components/parameters/lease_down_payment"
        - $ref: "#/components/parameters/lease_emp"
        - $ref: "#/components/parameters/finance_loan_term"
        - $ref: "#/components/parameters/finance_loan_apr"
        - $ref: "#/components/parameters/finance_emp"
        - $ref: "#/components/parameters/finance_down_payment"
        - $ref: "#/components/parameters/finance_down_payment_per"
        - $ref: "#/components/parameters/car_car_type"
        - $ref: "#/components/parameters/carfax_1_owner"
        - $ref: "#/components/parameters/carfax_clean_title"
        - $ref: "#/components/parameters/year_range"
        - $ref: "#/components/parameters/year"
        - $ref: "#/components/parameters/make"
        - $ref: "#/components/parameters/model"
        - $ref: "#/components/parameters/trim"
        - $ref: "#/components/parameters/vin"
        - $ref: "#/components/parameters/body_type"
        - $ref: "#/components/parameters/body_subtype"
        - $ref: "#/components/parameters/vehicle_type"
        - $ref: "#/components/parameters/car_vins"
        - $ref: "#/components/parameters/car_taxonomy_vins"
        - $ref: "#/components/parameters/mm"
        - $ref: "#/components/parameters/ymm"
        - $ref: "#/components/parameters/ymmt"
        - $ref: "#/components/parameters/match"
        - $ref: "#/components/parameters/cylinders"
        - $ref: "#/components/parameters/transmission"
        - $ref: "#/components/parameters/doors"
        - $ref: "#/components/parameters/drivetrain"
        - $ref: "#/components/parameters/exterior_color"
        - $ref: "#/components/parameters/interior_color"
        - $ref: "#/components/parameters/base_exterior_color"
        - $ref: "#/components/parameters/base_interior_color"
        - $ref: "#/components/parameters/engine"
        - $ref: "#/components/parameters/engine_size"
        - $ref: "#/components/parameters/engine_aspiration"
        - $ref: "#/components/parameters/engine_block"
        - $ref: "#/components/parameters/highway_mpg_range"
        - $ref: "#/components/parameters/city_mpg_range"
        - $ref: "#/components/parameters/miles_range"
        - $ref: "#/components/parameters/price_range"
        - $ref: "#/components/parameters/msrp_range"
        - $ref: "#/components/parameters/dom_range"
        - $ref: "#/components/parameters/sort_by"
        - $ref: "#/components/parameters/sort_order"
        - $ref: "#/components/parameters/rows"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/include_non_vin_listings"
        - $ref: "#/components/parameters/msa_code"
        - $ref: "#/components/parameters/facets"
        - $ref: "#/components/parameters/range_facets"
        - $ref: "#/components/parameters/facet_sort"
        - $ref: "#/components/parameters/stats"
        - $ref: "#/components/parameters/car_country"
        - $ref: "#/components/parameters/car_plot"
        - $ref: "#/components/parameters/car_nodedup"
        - $ref: "#/components/parameters/car_dedup"
        - $ref: "#/components/parameters/owned"
        - $ref: "#/components/parameters/state"
        - $ref: "#/components/parameters/city"
        - $ref: "#/components/parameters/car_source"
        - $ref: "#/components/parameters/car_dealer_id"
        - $ref: "#/components/parameters/trim_o"
        - $ref: "#/components/parameters/trim_r"
        - $ref: "#/components/parameters/dom_active_range"
        - $ref: "#/components/parameters/dom_180_range"
        - $ref: "#/components/parameters/exclude_certified"
        - $ref: "#/components/parameters/fuel_type"
        - $ref: "#/components/parameters/dealer_type"
        - $ref: "#/components/parameters/photo_links"
        - $ref: "#/components/parameters/photo_links_cached"
        - $ref: "#/components/parameters/stock_no"
        - $ref: "#/components/parameters/last_seen_range"
        - $ref: "#/components/parameters/first_seen_range"
        - $ref: "#/components/parameters/first_seen_at_source_range"
        - $ref: "#/components/parameters/first_seen_at_mc_range"
        - $ref: "#/components/parameters/last_seen_days"
        - $ref: "#/components/parameters/first_seen_days"
        - $ref: "#/components/parameters/first_seen_at_source_days"
        - $ref: "#/components/parameters/first_seen_at_mc_days"
        - $ref: "#/components/parameters/include_relevant_links"
        - $ref: "#/components/parameters/inventory_count_range"
        - $ref: "#/components/parameters/exclude_dealer_ids"
        - $ref: "#/components/parameters/exclude_sources"
        - $ref: "#/components/parameters/in_transit"
        - description: To filter on title type
          in: query
          name: title_type
          required: false
          schema:
            enum:
              - clean
              - salvage
            type: string
          x-field-config:
            isConfigurable: true
            isMultiValued: false
            operator: in
            targetAlias: title_type_ss
            transformConstraints:
              - transformer: caseTransformer
                type: string
        - $ref: "#/components/parameters/seating_capacity"
        - $ref: "#/components/parameters/engine_size_range"
        - $ref: "#/components/parameters/min_photo_links"
        - $ref: "#/components/parameters/min_photo_links_cached"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchResponse"
          description: List of all auction cars listings matching the search & filter criteria
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Gets active auction car listings for the given search criteria
      tags:
        - Car Search
    x-swagger-router-controller: search
  /search/car/auto-complete:
    get:
      description: Auto-complete the inputs of your end users
      operationId: autoComplete
      parameters:
        - $ref: "#/components/parameters/api_key"
        - description: Field name for which you want auto-completion
          in: query
          name: field
          required: true
          schema:
            enum:
              - ymm
              - mm
              - make
              - model
              - trim
              - body_type
              - body_subtype
              - vehicle_type
              - transmission
              - drivetrain
              - fuel_type
              - exterior_color
              - interior_color
              - engine
              - engine_size
              - engine_block
              - state
              - city
            format: string
            type: string
        - description: Input entered so far
          in: query
          name: input
          required: true
          schema:
            format: string
            type: string
        - $ref: "#/components/parameters/year"
        - $ref: "#/components/parameters/make"
        - $ref: "#/components/parameters/model"
        - $ref: "#/components/parameters/trim"
        - $ref: "#/components/parameters/body_type"
        - $ref: "#/components/parameters/body_subtype"
        - $ref: "#/components/parameters/vehicle_type"
        - $ref: "#/components/parameters/transmission"
        - $ref: "#/components/parameters/drivetrain"
        - $ref: "#/components/parameters/fuel_type"
        - $ref: "#/components/parameters/exterior_color"
        - $ref: "#/components/parameters/interior_color"
        - $ref: "#/components/parameters/engine"
        - $ref: "#/components/parameters/engine_size"
        - $ref: "#/components/parameters/engine_block"
        - $ref: "#/components/parameters/state"
        - $ref: "#/components/parameters/city"
        - $ref: "#/components/parameters/car_source"
        - $ref: "#/components/parameters/car_dealer_id"
        - $ref: "#/components/parameters/country"
        - $ref: "#/components/parameters/car_type"
        - description: Flag to indicate whether to include non vin listing terms in results or not. Default is false to avoid un-normalised terms from non vin listings out of results
          in: query
          name: include_non_vin_listings
          required: false
          schema:
            default: "false"
            enum:
              - "true"
              - "false"
            type: string
          x-field-config:
            isConfigurable: true
            isMultiValued: false
            operator: equals
            targetAlias: is_non_vin_listing_is
            transformConstraints:
              - transformer: boolToFlag
                type: string
        - description: Boolean variable to indicate ignore case of current input
          in: query
          name: ignore_case
          required: false
          schema:
            default: true
            type: boolean
        - description: Boolean variable to indicate wheather to include term counts as well in response
          in: query
          name: term_counts
          required: false
          schema:
            default: false
            type: boolean
        - description: Sort the response, either by index or count(default)
          in: query
          name: sort_by
          required: false
          schema:
            default: index
            enum:
              - index
              - count
            type: string
        - description: seller type for autocomplete
          in: query
          name: seller_type
          required: false
          schema:
            type: string
          x-field-config:
            isConfigurable: true
            isMultiValued: true
            operator: in
            separator: ","
            targetAlias: seller_type
            transformConstraints:
              - transformer: caseTransformer
                type: string
        - $ref: "#/components/parameters/radius"
        - $ref: "#/components/parameters/zip"
        - $ref: "#/components/parameters/inventory_count_range"
        - $ref: "#/components/parameters/exclude_dealer_ids"
        - $ref: "#/components/parameters/exclude_sources"
        - $ref: "#/components/parameters/in_transit"
        - $ref: "#/components/parameters/facet_min_count"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchAutoCompleteResponse"
          description: Unique terms available in given field for auto completion
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: API for auto-completion of inputs
      tags:
        - Car Search
      x-swagger-router-controller: search
  /search/car/fsbo/active:
    get:
      description: |-
        This API produces a list of currently active FSBO cars from the market for the given search criteria. The API results are limited to allow pagination upto 5000 rows. 
         The search API facilitates the following use cases - 
        1. Search Cars around a given geo-point within a given radius 
        2. Search cars for a specific year / make / model or combination of these 
        3. Search cars matching multiple year, make, model combinatins in the same search request
        4. Filter results by most car specification attributes
        5. Search for similar cars by VIN or Taxonomy VIN 
        6. Filter cars within a given price / miles / days on market (dom) range
        7. Specify a sort order for the results on price / miles / dom / listed date 
        8. Search cars for a given City / State combination 
        9. Get Facets to build the search drill downs 
        10. Get Market averages for price/miles/dom for your search
      parameters:
        - $ref: "#/components/parameters/api_key"
        - $ref: "#/components/parameters/append_api_key"
        - $ref: "#/components/parameters/latitude"
        - $ref: "#/components/parameters/longitude"
        - $ref: "#/components/parameters/radius"
        - $ref: "#/components/parameters/zip"
        - $ref: "#/components/parameters/car_include_lease"
        - $ref: "#/components/parameters/car_include_finance"
        - $ref: "#/components/parameters/lease_term"
        - $ref: "#/components/parameters/lease_down_payment"
        - $ref: "#/components/parameters/lease_emp"
        - $ref: "#/components/parameters/finance_loan_term"
        - $ref: "#/components/parameters/finance_loan_apr"
        - $ref: "#/components/parameters/finance_emp"
        - $ref: "#/components/parameters/finance_down_payment"
        - $ref: "#/components/parameters/finance_down_payment_per"
        - $ref: "#/components/parameters/car_car_type"
        - $ref: "#/components/parameters/carfax_1_owner"
        - $ref: "#/components/parameters/carfax_clean_title"
        - $ref: "#/components/parameters/year_range"
        - $ref: "#/components/parameters/year"
        - $ref: "#/components/parameters/make"
        - $ref: "#/components/parameters/model"
        - $ref: "#/components/parameters/trim"
        - $ref: "#/components/parameters/vin"
        - $ref: "#/components/parameters/body_type"
        - $ref: "#/components/parameters/body_subtype"
        - $ref: "#/components/parameters/vehicle_type"
        - $ref: "#/components/parameters/car_vins"
        - $ref: "#/components/parameters/car_taxonomy_vins"
        - $ref: "#/components/parameters/mm"
        - $ref: "#/components/parameters/ymm"
        - $ref: "#/components/parameters/ymmt"
[...]
