swagger: '2.0'
schemes:
  - https
host: api.paylocity.com
basePath: /api
info:
  contact:
    email: webservices@paylocity.com
  description: |-
    For general questions and support of the API, contact: webservices@paylocity.com
    # Overview

    Paylocity Web Services API is an externally facing RESTful Internet protocol. The Paylocity API uses HTTP verbs and a RESTful endpoint structure. OAuth 2.0 is used as the API Authorization framework. Request and response payloads are formatted as JSON.
    Paylocity supports v1 and v2 versions of its API endpoints. v1, while supported, won't be enhanced with additional functionality. For direct link to v1 documentation, please click [here](https://docs.paylocity.com/weblink/guides/Paylocity_Web_Services_API/v1/Paylocity_Web_Services_API.htm). For additional resources regarding v1/v2 differences and conversion path, please contact webservices@paylocity.com.

    ##### Setup

    Paylocity will provide the secure client credentials and set up the scope (type of requests and allowed company numbers). You will receive the unique client id, secret, and Paylocity public key for the data encryption. The secret will expire in 365 days. 
    * Paylocity will send you an e-mail 10 days prior to the expiration date for the current secret. If not renewed, the second e-mail notification will be sent 5 days prior to secret's expiration. Each email will contain the code necessary to renew the client secret. 
    * You can obtain the new secret by calling API endpoint using your current not yet expired credentials and the code that was sent with the notification email. For details on API endpoint, please see Client Credentials section. 
    * Both the current secret value and the new secret value will be recognized during the transition period. After the current secret expires, you must use the new secret. 
    * If you were unable to renew the secret via API endpoint, you can still contact Service and they will email you new secret via secure email.


    When validating the request, Paylocity API will honor the defaults and required fields set up for the company default New Hire Template as defined in Web Pay.


    # Authorization

    Paylocity Web Services API uses OAuth2.0 Authentication with JSON Message Format.


    All requests of the Paylocity Web Services API require a bearer token which can be obtained by authenticating the client with the Paylocity Web Services API via OAuth 2.0.


    The client must request a bearer token from the authorization endpoint:


    auth-server for production: https://api.paylocity.com/IdentityServer/connect/token


    auth-server for testing: https://apisandbox.paylocity.com/IdentityServer/connect/token

    ##### Authorization Header

    The request is expected to be in the form of a basic authentication request, with the "Authorization" header containing the client-id and client-secret. This means the standard base-64 encoded user:password, prefixed with "Basic" as the value for the Authorization header, where user is the client-id and password is the client-secret.

    ##### Content-Type Header

    The "Content-Type" header is required to be "application/x-www-form-urlencoded".

    ##### Additional Values

    The request must post the following form encoded values within the request body:

        grant_type = client_credentials
        scope = WebLinkAPI

    ##### Responses

    Success will return HTTP 200 OK with JSON content:

        {
          "access_token": "xxx",
          "expires_in": 3600,
          "token_type": "Bearer"
        }

    # Encryption

    Paylocity uses a combination of RSA and AES cryptography. As part of the setup, each client is issued a public RSA key.

    Paylocity recommends the encryption of the incoming requests as additional protection of the sensitive data. Clients can opt-out of the encryption during the initial setup process. Opt-out will allow Paylocity to process un-encrypted requests.

    The Paylocity Public Key has the following properties:

    * 2048 bit key size

    * PKCS1 key format

    * PEM encoding

    ##### Properties

    * key (base 64 encoded): The AES symmetric key encrypted with the Paylocity Public Key. It is the key used to encrypt the content. Paylocity will decrypt the AES key using RSA decryption and use it to decrypt the content.

    * iv (base 64 encoded): The AES IV (Initialization Vector) used when encrypting the content.

    * content (base 64 encoded): The AES encrypted request. The key and iv provided in the secureContent request are used by Paylocity for decryption of the content.

    We suggest using the following for the AES:

    * CBC cipher mode

    * PKCS7 padding

    * 128 bit block size

    * 256 bit key size

    ##### Sample Example

        {
          "secureContent": {
            "key": "eS3aw6H/qzHMJ00gSi6gQ3xa08DPMazk8BFY96Pd99ODA==",
            "iv": "NLyXMGq9svw0XO5aI9BzWw==",
            "content": "gAEOiQltO1w+LzGUoIK8FiYbU42hug94EasSl7N+Q1w="
          }
        }

    ##### Sample C# Code

        using Newtonsoft.Json;
        using System;
        using System.IO;
        using System.Security.Cryptography;
        using System.Text;

        public class SecuredContent
        {
          [JsonProperty("key")]
          public string Key { get; set; }

          [JsonProperty("iv")]
          public string Iv { get; set; }

          [JsonProperty("content")]
          public string Content { get; set; }

        }

        public class EndUserSecureRequestExample
        {
          public string CreateSecuredRequest(FileInfo paylocityPublicKey, string unsecuredJsonRequest)
          {
            string publicKeyXml = File.ReadAllText(paylocityPublicKey.FullName, Encoding.UTF8);

            SecuredContent secureContent = this.CreateSecuredContent(publicKeyXml, unsecuredJsonRequest);

            string secureRequest = JsonConvert.SerializeObject(new { secureContent });

            return secureRequest;
          }

          private SecuredContent CreateSecuredContent(string publicKeyXml, string request)
          {
            using (AesCryptoServiceProvider aesCsp = new AesCryptoServiceProvider())
            {
              aesCsp.Mode = CipherMode.CBC;
              aesCsp.Padding = PaddingMode.PKCS7;
              aesCsp.BlockSize = 128;
              aesCsp.KeySize = 256;

              using (ICryptoTransform crt = aesCsp.CreateEncryptor(aesCsp.Key, aesCsp.IV))
              {
                using (MemoryStream outputStream = new MemoryStream())
                {
                  using (CryptoStream encryptStream = new CryptoStream(outputStream, crt, CryptoStreamMode.Write))
                  {
                    byte[] encodedRequest = Encoding.UTF8.GetBytes(request);
                    encryptStream.Write(encodedRequest, 0, encodedRequest.Length);
                    encryptStream.FlushFinalBlock();
                    byte[] encryptedRequest = outputStream.ToArray();

                    using (RSACryptoServiceProvider crp = new RSACryptoServiceProvider())
                    {
                      crp.FromXmlstring(publicKeyXml);
                      byte[] encryptedKey = crp.Encrypt(aesCsp.Key, false);

                      return new SecuredContent()
                      {
                        Key = Convert.ToBase64string(encryptedKey),
                        Iv = Convert.ToBase64string(aesCsp.IV),
                        Content = Convert.ToBase64string(encryptedRequest)
                      };
                    }
                  }
                }
              }
            }
          }
        }

    ## Support

    Questions about using the Paylocity API? Please contact webservices@paylocity.com.

    # Deductions (v1)

    Deductions API provides endpoints to retrieve, add, update and delete deductions for a company's employees. For schema details, click <a href="https://docs.paylocity.com/weblink/guides/Paylocity_Web_Services_API/v1/Paylocity_Web_Services_API.htm" target="_blank">here</a>.

    # OnBoarding (v1)

    Onboarding API sends employee data into Paylocity Onboarding to help ensure an easy and accurate hiring process for subsequent completion into Web Pay. For schema details, click <a href="https://docs.paylocity.com/weblink/guides/Paylocity_Web_Services_API/v1/Paylocity_Web_Services_API.htm" target="_blank">here</a>.
  termsOfService: Paylocity_Automated_Data_Exchange_Request_Form.pdf
  title: Paylocity
  version: '2'
  x-apisguru-categories:
    - financial
  x-logo:
    url: 'https://twitter.com/paylocity/profile_image?size=original'
  x-origin:
    - format: swagger
      url: 'https://api.paylocity.com/api/v2/openapi'
      version: '2.0'
  x-providerName: paylocity.com
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  paylocity_auth:
    flow: application
    scopes:
      WebLinkAPI: Web Link Api
    tokenUrl: 'https://api.paylocity.com/IdentityServer/connect/token'
    type: oauth2
paths:
  '/v2/companies/{companyId}/customfields/{category}':
    get:
      description: Get All Custom Fields for the selected company
      operationId: Get All Custom Fields by category
      parameters:
        - description: Bearer + JWT
          in: header
          name: Authorization
          required: true
          type: string
        - description: Company Id
          in: path
          name: companyId
          required: true
          type: string
        - description: Custom Fields Category
          in: path
          name: category
          required: true
          type: string
      responses:
        '200':
          description: Successfully retrieved
          schema:
            items:
              $ref: '#/definitions/customFieldDefinition'
            type: array
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Invalid Category
          schema:
            items:
              $ref: '#/definitions/error'
            type: array
        '500':
          description: Internal Server Error
          schema:
            items:
              $ref: '#/definitions/error'
            type: array
      security:
        - paylocity_auth:
            - WebLinkAPI
      summary: Get All Custom Fields
      tags:
        - Custom Fields
  '/v2/companies/{companyId}/employees':
    post:
      description: New Employee API sends new employee data directly to Web Pay. Companies who use the New Hire Template in Web Pay may require additional fields when hiring employees. New Employee API Requests will honor these required fields.
      operationId: Add employee
      parameters:
        - description: Bearer + JWT
          in: header
          name: Authorization
          required: true
          type: string
        - description: Employee Model
          in: body
          name: json
          required: true
          schema:
            $ref: '#/definitions/employee'
        - description: Company Id
          in: path
          name: companyId
          required: true
          type: string
      responses:
        '201':
          description: Successfully added
          schema:
            items:
              $ref: '#/definitions/employeeIdResponse'
            type: array
        '400':
          description: Bad Request
          schema:
            items:
              $ref: '#/definitions/error'
            type: array
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
          schema:
            items:
              $ref: '#/definitions/error'
            type: array
      security:
        - paylocity_auth:
            - WebLinkAPI
      summary: Add new employee
      tags:
        - Employee
  '/v2/companies/{companyId}/employees/{employeeId}':
    get:
      description: Get Employee API will return employee data currently available in Web Pay.
      operationId: Get employee
      parameters:
        - description: Bearer + JWT
          in: header
          name: Authorization
          required: true
          type: string
        - description: Company Id
          in: path
          name: companyId
          required: true
          type: string
        - description: Employee Id
          in: path
          name: employeeId
          required: true
          type: string
      responses:
        '200':
          description: Successfully Retrieved
          schema:
            items:
              $ref: '#/definitions/employee'
            type: array
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: The employee does not exist
          schema:
            items:
              $ref: '#/definitions/error'
            type: array
        '500':
          description: Internal Server Error
          schema:
            items:
              $ref: '#/definitions/error'
            type: array
      security:
        - paylocity_auth:
            - WebLinkAPI
      summary: Get employee
      tags:
        - Employee
    patch:
      description: Update Employee API will update existing employee data in WebPay.
      operationId: Update employee
      parameters:
        - description: Bearer + JWT
          in: header
          name: Authorization
          required: true
          type: string
        - description: Employee Model
          in: body
          name: json
          required: true
          schema:
            $ref: '#/definitions/employee'
        - description: Company Id
          in: path
          name: companyId
          required: true
          type: string
        - description: Employee Id
          in: path
          name: employeeId
          required: true
          type: string
      responses:
        '200':
          description: Successfully Updated
        '400':
          description: Bad Request
          schema:
            items:
              $ref: '#/definitions/error'
            type: array
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
          schema:
            items:
              $ref: '#/definitions/error'
            type: array
      security:
        - paylocity_auth:
            - WebLinkAPI
      summary: Update employee
      tags:
        - Employee
  '/v2/companies/{companyId}/employees/{employeeId}/benefitSetup':
    put:
      description: Sends new or updated employee benefit setup information directly to Web Pay.
      operationId: Update or add employee benefit setup
      parameters:
        - description: Bearer + JWT
          in: header
          name: Authorization
          required: true
          type: string
        - description: BenefitSetup Model
          in: body
          name: json
          required: true
          schema:
            $ref: '#/definitions/benefitSetup'
        - description: Company Id
          in: path
          name: companyId
          required: true
          type: string
        - description: Employee Id
          in: path
          name: employeeId
          required: true
          type: string
      responses:
        '200':
          description: Successfully added or updated
        '400':
          description: Bad Request
          schema:
            items:
              $ref: '#/definitions/error'
            type: array
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
          schema:
            items:
              $ref: '#/definitions/error'
            type: array
      security:
        - paylocity_auth:
            - WebLinkAPI
      summary: Add/update employee's benefit setup
      tags:
        - Employee Benefit Setup
  '/v2/companies/{companyId}/employees/{employeeId}/earnings':
    get:
      description: Get All Earnings returns all earnings for the selected employee.
      operationId: Get All Earnings
      parameters:
        - description: Bearer + JWT
          in: header
          name: Authorization
          required: true
          type: string
        - description: Company Id
          in: path
          name: companyId
          required: true
          type: string
        - description: Employee Id
          in: path
          name: employeeId
          required: true
          type: string
      responses:
        '200':
          description: Successfully retrieved
          schema:
            items:
              $ref: '#/definitions/earning'
            type: array
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: The employee does not exist
        '500':
          description: Internal Server Error
          schema:
            items:
              $ref: '#/definitions/error'
            type: array
      security:
        - paylocity_auth:
            - WebLinkAPI
      summary: Get All Earnings
      tags:
        - Earnings
    put:
      description: Add/Update Earning API sends new or updated employee earnings information directly to Web Pay.
      operationId: Add or update an employee earning
      parameters:
        - description: Bearer + JWT
          in: header
          name: Authorization
          required: true
          type: string
        - description: Earning Model
          in: body
          name: json
          required: true
          schema:
            $ref: '#/definitions/earning'
        - description: Company Id
          in: path
          name: companyId
          required: true
          type: string
        - description: Employee Id
          in: path
          name: employeeId
          required: true
          type: string
      responses:
        '200':
          description: Successfully added or updated
        '400':
          description: Bad Request
          schema:
            items:
              $ref: '#/definitions/error'
            type: array
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
          schema:
            items:
              $ref: '#/definitions/error'
            type: array
      security:
        - paylocity_auth:
            - WebLinkAPI
      summary: Add/Update Earning
      tags:
        - Earnings
  '/v2/companies/{companyId}/employees/{employeeId}/earnings/{earningCode}':
    get:
      description: Get Earnings returns all earnings with the provided earning code for the selected employee.
      operationId: Get Earnings by Earning Code
      parameters:
        - description: Bearer + JWT
          in: header
          name: Authorization
          required: true
          type: string
        - description: Company Id
          in: path
          name: companyId
          required: true
          type: string
        - description: Employee Id
          in: path
          name: employeeId
          required: true
          type: string
        - description: Earning Code
          in: path
          name: earningCode
          required: true
          type: string
      responses:
        '200':
          description: Successfully retrieved
          schema:
            items:
              $ref: '#/definitions/earning'
            type: array
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: The employee does not exist
        '500':
          description: Internal Server Error
          schema:
            items:
              $ref: '#/definitions/error'
            type: array
      security:
        - paylocity_auth:
            - WebLinkAPI
      summary: Get Earnings by Earning Code
      tags:
        - Earnings
  '/v2/companies/{companyId}/employees/{employeeId}/earnings/{earningCode}/{startDate}':
    delete:
      description: Delete Earning by Earning Code and Start Date
      operationId: Delete Earning by Earning Code and Start Date
      parameters:
        - description: Bearer + JWT
          in: header
          name: Authorization
          required: true
          type: string
        - description: Company Id
          in: path
          name: companyId
          required: true
          type: string
        - description: Employee Id
          in: path
          name: employeeId
          required: true
          type: string
        - description: Earning Code
          in: path
          name: earningCode
          required: true
          type: string
        - description: Start Date
          in: path
          name: startDate
          required: true
          type: string
      responses:
        '204':
          description: Successfully deleted
        '400':
          description: Bad Request
          schema:
            items:
              $ref: '#/definitions/error'
            type: array
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 'The employee does not exist, or the specified earningCode-startDate combination does not exist'
        '500':
          description: Internal Server Error
          schema:
            items:
              $ref: '#/definitions/error'
            type: array
      security:
        - paylocity_auth:
            - WebLinkAPI
      summary: Delete Earning by Earning Code and Start Date
      tags:
        - Earnings
    get:
      description: Get Earnings returns the single earning with the provided earning code and start date for the selected employee.
      operationId: Get Earning by Earning Code and Start Date
      parameters:
        - description: Bearer + JWT
          in: header
          name: Authorization
          required: true
          type: string
        - description: Company Id
          in: path
          name: companyId
          required: true
          type: string
        - description: Employee Id
          in: path
          name: employeeId
          required: true
          type: string
        - description: Earning Code
          in: path
          name: earningCode
          required: true
          type: string
        - description: Start Date
          in: path
          name: startDate
          required: true
          type: string
      responses:
        '200':
          description: Successfully retrieved
          schema:
            $ref: '#/definitions/earning'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 'The employee does not exist, or the specified earningCode-startDate combination does not exist'
        '500':
          description: Internal Server Error
          schema:
            items:
              $ref: '#/definitions/error'
            type: array
      security:
        - paylocity_auth:
            - WebLinkAPI
      summary: Get Earning by Earning Code and Start Date
      tags:
        - Earnings
  '/v2/companies/{companyId}/employees/{employeeId}/localTaxes':
    get:
      description: Returns all local taxes for the selected employee.
      operationId: Get all local taxes
      parameters:
        - description: Bearer + JWT
          in: header
          name: Authorization
          required: true
          type: string
        - description: Company Id
          in: path
          name: companyId
          required: true
          type: string
        - description: Employee Id
          in: path
          name: employeeId
          required: true
          type: string
      responses:
        '200':
          description: Successfully retrieved
          schema:
            items:
              $ref: '#/definitions/localTax'
            type: array
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: The employee does not exist
        '500':
          description: Internal Server Error
          schema:
            items:
              $ref: '#/definitions/error'
            type: array
      security:
        - paylocity_auth:
            - WebLinkAPI
      summary: Get all local taxes
      tags:
        - Local Taxes
    post:
      description: Sends new employee local tax information directly to Web Pay.
      operationId: Add local tax
      parameters:
        - description: Bearer + JWT
          in: header
          name: Authorization
          required: true
          type: string
        - description: LocalTax Model
          in: body
          name: json
          required: true
          schema:
            $ref: '#/definitions/localTax'
        - description: Company Id
          in: path
          name: companyId
          required: true
          type: string
        - description: Employee Id
          in: path
          name: employeeId
          required: true
          type: string
      responses:
        '201':
          description: Successfully added
        '400':
          description: Bad Request
          schema:
            items:
              $ref: '#/definitions/error'
            type: array
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
          schema:
            items:
              $ref: '#/definitions/error'
            type: array
      security:
        - paylocity_auth:
            - WebLinkAPI
      summary: Add new local tax
      tags:
        - Local Taxes
  '/v2/companies/{companyId}/employees/{employeeId}/localTaxes/{taxCode}':
    delete:
      description: Delete local tax by tax code
      operationId: Delete local tax by tax code
      parameters:
        - description: Bearer + JWT
          in: header
          name: Authorization
          required: true
          type: string
        - description: Company Id
          in: path
          name: companyId
          required: true
          type: string
        - description: Employee Id
          in: path
          name: employeeId
          required: true
          type: string
        - description: Tax Code
          in: path
          name: taxCode
          required: true
          type: string
      responses:
        '204':
          description: Successfully deleted
        '400':
          description: Bad Request
          schema:
            items:
              $ref: '#/definitions/error'
            type: array
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 'The employee does not exist, or the specified tax code does not exist'
        '500':
          description: Internal Server Error
          schema:
            items:
              $ref: '#/definitions/error'
            type: array
      security:
        - paylocity_auth:
            - WebLinkAPI
      summary: Delete local tax by tax code
      tags:
        - Local Taxes
    get:
      description: Returns all local taxes with the provided tax code for the selected employee.
      operationId: Get local tax by tax code
      parameters:
        - description: Bearer + JWT
          in: header
          name: Authorization
          required: true
          type: string
        - description: Company Id
          in: path
          name: companyId
          required: true
          type: string
        - description: Employee Id
          in: path
          name: employeeId
          required: true
          type: string
        - description: Tax Code
          in: path
          name: taxCode
          required: true
          type: string
      responses:
        '200':
          description: Successfully retrieved
          schema:
            items:
              $ref: '#/definitions/localTax'
            type: array
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: 'The employee does not exist, or the specified tax code does not exist'
        '500':
          description: Internal Server Error
          schema:
            items:
              $ref: '#/definitions/error'
            type: array
      security:
        - paylocity_auth:
            - WebLinkAPI
      summary: Get local taxes by tax code
      tags:
        - Local Taxes
  '/v2/companies/{companyId}/employees/{employeeId}/nonprimaryStateTax':
    put:
      description: Sends new or updated employee non-primary state tax information directly to Web Pay.
      operationId: Add or update non-primary state tax
      parameters:
        - description: Bearer + JWT
          in: header
          name: Authorization
          required: true
          type: string
        - description: Non-Primary State Tax Model
          in: body
          name: json
          required: true
          schema:
            $ref: '#/definitions/nonPrimaryStateTax'
        - description: Company Id
          in: path
          name: companyId
          required: true
          type: string
        - description: Employee Id
          in: path
          name: employeeId
          required: true
          type: string
      responses:
        '200':
          description: Successfully added or updated
        '400':
          description: Bad Request
          schema:
            items:
              $ref: '#/definitions/error'
            type: array
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
          schema:
            items:
              $ref: '#/definitions/error'
            type: array
      security:
        - paylocity_auth:
            - WebLinkAPI
      summary: Add/update non-primary state tax
      tags:
        - Non-Primary State Tax
  '/v2/companies/{companyId}/employees/{employeeId}/primaryStateTax':
    put:
      description: Sends new or updated employee primary state tax information directly to Web Pay.
      operationId: Add or update primary state tax
      parameters:
        - description: Bearer + JWT
          in: header
          name: Authorization
          required: true
          type: string
        - description: Primary State Tax Model
          in: body
          name: json
          required: true
          schema:
            $ref: '#/definitions/stateTax'
        - description: Company Id
          in: path
          name: companyId
          required: true
          type: string
        - description: Employee Id
          in: path
          name: employeeId
          required: true
          type: string
      responses:
        '200':
          description: Successfully added or updated
        '400':
          description: Bad Request
          schema:
            items:
              $ref: '#/definitions/error'
            type: array
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
          schema:
            items:
              $ref: '#/definitions/error'
            type: array
      security:
        - paylocity_auth:
            - WebLinkAPI
      summary: Add/update primary state tax
      tags:
        - Primary State Tax
  '/v2/companies/{companyId}/openapi':
    get:
      description: 'The company-specific Open API endpoint allows the client to GET an Open API document for the Paylocity API that is customized with company-specific resource schemas. These customized resource schemas define certain properties as enumerations of pre-defined values that correspond to the company''s setup with Web Pay. The customized schemas also indicate which properties are required by the company within Web Pay.<br  />To learn more about Open API, click [here](https://www.openapis.org/)'
      operationId: Get company-specific Open API documentation
      parameters:
        - description: Bearer + JWT
          in: header
          name: Authorization
          required: true
          type: string
        - description: Company Id
          in: path
          name: companyId
          required: true
          type: string
      responses:
        '200':
          description: Successfully retrieved
        '400':
          description: Bad Request
          schema:
            items:
              $ref: '#/definitions/error'
            type: array
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
          schema:
            items:
              $ref: '#/definitions/error'
            type: array
      security:
        - paylocity_auth:
            - WebLinkAPI
      summary: Get Company-Specific Open API Documentation
      tags:
        - Company-Specific Schema
  /v2/credentials/secrets:
    post:
      description: Obtain new client secret for Paylocity-issued client id. See Setup section for details.
      operationId: Add Client Secret
      parameters:
        - description: Bearer + JWT
          in: header
          name: Authorization
          required: true
          type: string
        - description: Add Client Secret Model
          in: body
          name: json
          required: true
          schema:
            $ref: '#/definitions/addClientSecret'
      responses:
        '200':
          description: Successfully added
        '400':
          description: Bad Request
          schema:
            items:
              $ref: '#/definitions/error'
            type: array
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
          schema:
            items:
              $ref: '#/definitions/error'
            type: array
      security:
        - paylocity_auth:
            - WebLinkAPI
      summary: Obtain new client secret.
      tags:
        - Client Credentials
  '/v2/weblinkstaging/companies/{companyId}/employees/newemployees':
    post:
      description: 'Add new employee to Web Link will send partially completed or potentially erroneous new hire record to Web Link, where it can be corrected and competed by company administrator or authorized Paylocity Service Bureau employee.'
      operationId: Add new employee to Web Link
      parameters:
        - description: Bearer + JWT
          in: header
          name: Authorization
          required: true
          type: string
        - description: StagedEmployee Model
          in: body
          name: json
          required: true
          schema:
            $ref: '#/definitions/stagedEmployee'
        - description: Company Id
          in: path
          name: companyId
          required: true
          type: string
      responses:
        '201':
          description: Successfully Added
          schema:
            items:
              $ref: '#/definitions/trackingNumberResponse'
            type: array
        '400':
          description: Bad Request
          schema:
            items:
              $ref: '#/definitions/error'
            type: array
        '403':
          description: Forbidden
        '500':
          description: Internal Server Error
          schema:
            items:
              $ref: '#/definitions/error'
            type: array
      security:
        - paylocity_auth:
            - WebLinkAPI
      summary: Add new employee to Web Link
      tags:
        - Employee Staging
definitions:
  addClientSecret:
    description: The Add Client Secret Request Model
    properties:
      code:
        description: 'A value sent with the ''ACTION NEEDED: Web Link API Credentials Expiring Soon.'' email notification.'
        type: string
    required:
      - code
    type: object
  benefitSetup:
    additionalProperties: false
    description: The benefit setup model
    properties:
      benefitClass:
        description: 'Benefit Class code. Values are configured in Web Pay Company > Setup > Benefits > Classes.<br  />Max length: 30'
        type:
          - string
          - 'null'
      benefitClassEffectiveDate:
        description: 'Date when Benefit Class takes effect. Common formats include *MM-DD-CCYY*, *CCYY-MM-DD*.'
        format: paylocity-date
        type:
          - string
          - 'null'
      benefitSalary:
        description: 'Salary used to configure benefits.<br  />Decimal(12,2)'
        type:
          - number
          - 'null'
      benefitSalaryEffectiveDate:
        description: 'Date when Benefit Salary takes effect. Common formats include *MM-DD-CCYY*, *CCYY-MM-DD*.'
        format: paylocity-date
        type:
          - string
          - 'null'
      doNotApplyAdministrativePeriod:
        description: Applicable only for HR Enhanced clients and Benefit Classes with ACA Employment Type of Full Time.
        type:
          - boolean
          - 'null'
      isMeasureAcaEligibility:
        description: Only valid for HR Enhanced clients and Benefit Classes that are ACA Employment Type of Full Time.
        type:
          - boolean
          - 'null'
    type: object
  customFieldDefinition:
    description: ''
    properties:
      category:
        description: The custom field category.
        type: string
      defaultValue:
        description: Specifies the default value of the custom field.
        type: string
      isRequired:
        description: Indicates whether the custom field is required.
        type: boolean
      label:
        description: The custom field label.
        type: string
      type:
        description: The custom field type.
        type: string
      values:
        description: A set of values that are applicable to the custom field.
        items:
          description: ''
          properties:
            code:
              description: The custom field code.
              type: string
            description:
              description: The custom field description.
              type: string
          type: object
        type: array
    type: object
  earning:
    additionalProperties: false
    description: The employee earning model
    properties:
      agency:
        description: 'Third-party agency associated with earning. Must match Company setup.<br  />Max length: 10'
        type:
          - string
          - 'null'
      amount:
        description: 'Value that matches CalculationCode to add to gross wages. For percentage (%), enter whole number (10 = 10%).  <br  />Decimal(12,2)'
        type:
          - number
          - 'null'
      annualMaximum:
        description: 'Year to Date dollar amount not to be exceeded for an earning in the calendar year. Used only with company driven maximums. <br  />Decimal(12,2)'
        type:
          - number
          - 'null'
      calculationCode:
        description: 'Defines how earnings are calculated. Common values are *% (percentage of gross), flat (flat dollar amount)*. Defaulted to the Company setup calcCode for earning. <br  />Max length: 20'
        type:
          - string
          - 'null'
      costCenter1:
        description: 'Cost Center associated with earning. Must match Company setup.<br  /> Max length: 10'
        type:
          - string
          - 'null'
      costCenter2:
        description: 'Cost Center associated with earning. Must match Company setup.<br  /> Max length: 10'
        type:
          - string
          - 'null'
      costCenter3:
        description: 'Cost Center associated with earning. Must match Company setup.<br  /> Max length: 10'
        type:
          - string
          - 'null'
      earningCode:
        description: 'Earning code. Must match Company setup. <br  />Max length: 10'
        type:
          - string
          - 'null'
      effectiveDate:
        description: 'Date earning is active. Defaulted to run date or check date based on Company setup. Common formats are MM-DD-CCYY, CCYY-MM-DD.'
        format: paylocity-date
        type:
          - string
          - 'null'
      endDate:
        description: 'Stop date of an earning. Common formats are MM-DD-CCYY, CCYY-MM-DD.'
        format: paylocity-date
        type:
          - string
          - 'null'
      frequency:
        description: 'Needed if earning is applied differently from the payroll frequency (one time earning for example).<br  /> Max length: 5'
        type:
          - string
          - 'null'
      goal:
        description: 'Dollar amount. The employee earning will stop when the goal amount is reached.<br  /> Decimal(12,2)'
        type:
          - number
          - 'null'
      hoursOrUnits:
        description: 'The value is used in conjunction with the Rate field. When entering Group Term Life Insurance (GTL), it should contain the full amount of the group term life insurance policy. <br  /> Decimal(12,2)'
        type:
          - number
          - 'null'
      isSelfInsured:
        description: 'Used for ACA. If not entered, defaulted to Company earning setup.'
        type:
          - boolean
          - 'null'
      jobCode:
        description: 'Job code associated with earnings. Must match Company setup.<br  /> Max length: 20'
        type:
          - string
          - 'null'
      miscellaneousInfo:
        description: 'Information to print on the check stub if agency is set up for this earning. <br  />Max length: 50'
        type:
          - string
          - 'null'
      paidTowardsGoal:
        description: 'Amount already paid to employee toward goal. <br  /> Decimal(12,2)'
        type:
          - number
          - 'null'
      payPeriodMaximum:
        description: 'Maximum amount of the earning on a single paycheck. <br  /> Decimal(12,2)'
        type:
          - number
          - 'null'
      payPeriodMinimum:
        description: 'Minimum amount of the earning on a single paycheck. <br  /> Decimal(12,2)'
        type:
          - number
          - 'null'
      rate:
        description: 'Rate is used in conjunction with the hoursOrUnits field. <br  /> Decimal(12,2)'
        type:
          - number
          - 'null'
      rateCode:
        description: 'Rate Code applies to additional pay rates entered for an employee. Must match Company setup. <br  /> Max length: 10'
        type:
          - string
          - 'null'
      startDate:
        description: 'Start date of an earning based on payroll calendar. Common formats are MM-DD-CCYY, CCYY-MM-DD.'
        format: paylocity-date
        type:
          - string
          - 'null'
    required:
      - earningCode
      - startDate
    type: object
  employee:
    additionalProperties: false
    description: The employee model
    properties:
      additionalDirectDeposit:
        description: 'Add up to 19 direct deposit accounts in addition to the main direct deposit account. If an employee already has at least one direct deposit account, users cannot add or update direct deposit information. Direct deposit is only available when inserting the employee''s initial direct deposit information. GET API will not return direct deposit data.'
        items:
          additionalProperties: false
          description: The additional direct deposit model
          properties:
            accountNumber:
              description: 'Account number, entered without special characters and spaces. <br  />Max length: 17<br />'
              type:
                - string
                - 'null'
            accountType:
              description: 'Account type. Valid values are *C* (Checking), *S* (Saving), *P* (Pay Card). <br   />Max length: 1<br />'
              type:
                - string
                - 'null'
            amount:
              description: 'Amount value to be deposited to the account.<br  />Decimal (12,2)<br />'
              type:
                - number
                - 'null'
            amountType:
              description: 'Amount type to indicate the context of the amount. Common values are *F* (FLAT), *F-* (Net Minus), *P* (Percent). <br  /> Max length: 5<br />'
              type:
                - string
                - 'null'
            blockSpecial:
              description: Indicates if direct deposit should be blocked when special check types such as Bonus are processed.<br />
              type:
                - boolean
                - 'null'
            isSkipPreNote:
              description: Indicates if account will not pre-note.<br />
              type:
                - boolean
                - 'null'
            nameOnAccount:
              description: 'Name on the bank account. Defaults to employee''s name. <br  />Max length: 30<br />'
              type:
                - string
                - 'null'
            preNoteDate:
              description: 'Date to end the pre-note of the account. Common formats include *MM-DD-CCYY*, *CCYY-MM-DD*.<br />'
              format: paylocity-date
              type:
                - string
                - 'null'
            routingNumber:
              description: 'ABA Transit Routing Number, entered without dashes or spaces. <br  />Max length: 9<br />'
              type:
                - string
                - 'null'
          type: object
        maxItems: 19
        type: array
      benefitSetup:
        additionalProperties: false
        description: ' Add or update setup values used for employee benefits integration, insurance plan settings, and ACA reporting.'
        properties:
          benefitClass:
            description: 'Benefit Class code. Values are configured in Web Pay Company > Setup > Benefits > Classes.<br  />Max length: 30'
            type:
              - string
              - 'null'
          benefitClassEffectiveDate:
            description: 'Date when Benefit Class takes effect. Common formats include *MM-DD-CCYY*, *CCYY-MM-DD*.'
            format: paylocity-date
            type:
              - string
              - 'null'
          benefitSalary:
            description: 'Salary used to configure benefits.<br  />Decimal(12,2)'
            type:
              - number
              - 'null'
          benefitSalaryEffectiveDate:
            description: 'Date when Benefit Salary takes effect. Common formats include *MM-DD-CCYY*, *CCYY-MM-DD*.'
            format: paylocity-date
            type:
              - string
              - 'null'
          doNotApplyAdministrativePeriod:
            description: Applicable only for HR Enhanced clients and Benefit Classes with ACA Employment Type of Full Time.
            type:
              - boolean
              - 'null'
          isMeasureAcaEligibility:
            description: Only valid for HR Enhanced clients and Benefit Classes that are ACA Employment Type of Full Time.
            type:
              - boolean
              - 'null'
        type: object
      birthDate:
        description: 'Employee birthdate. Common formats include *MM-DD-CCYY*, *CCYY-MM-DD*.'
        format: paylocity-date
        type:
          - string
          - 'null'
      companyName:
        description: 'Company name as defined in Web Pay, applicable with GET requests only.<br  /> Max length: 50'
        type:
          - string
          - 'null'
      customBooleanFields:
        description: Up to 8 custom fields of boolean (checkbox) type value.
        items:
          additionalProperties: false
          description: ''
          properties:
            category:
              description: The custom field category.  Acceptable value is 'PayrollAndHR'.
              enum:
                - PayrollAndHR
              type: string
            label:
              description: 'The custom field label whose value is to be added/updated. Must match to the label defined in Web Pay Custom Fields setup.  Max length: 255.'
              type:
                - string
                - 'null'
            value:
              description: The custom boolean field value.
              type:
                - boolean
                - 'null'
          required:
            - category
            - label
            - value
          type: object
        maxItems: 8
        type: array
      customDateFields:
        description: Up to 8 custom fields of the date type value.
        items:
          additionalProperties: false
          description: ''
          properties:
            category:
              description: The custom field category.  Acceptable value is 'PayrollAndHR'.
              enum:
                - PayrollAndHR
              type: string
            label:
              description: 'The custom field label whose value is to be added/updated.  Must match to the label defined in Web Pay Custom Fields setup.  Max length: 255.'
              type:
                - string
                - 'null'
            value:
              description: 'The custom date field value.  Common formats include MM-DD-CCYY, CCYY-MM-DD.'
              format: paylocity-date
              type:
                - string
                - 'null'
          required:
            - category
            - label
            - value
          type: object
        maxItems: 8
        type: array
      customDropDownFields:
        description: Up to 8 custom fields of the dropdown type value.
        items:
          additionalProperties: false
          description: ''
          properties:
            category:
              description: The custom field category.  Acceptable value is 'PayrollAndHR'.
              enum:
                - PayrollAndHR
              type: string
            label:
              description: 'The custom field label whose value is to be added/updated.  Must match to the label defined in Web Pay Custom Fields setup.  Max length: 255.'
              type:
                - string
                - 'null'
            value:
              description: 'The custom dropdown field value.  Values are configured in Web Pay Company > Setup > List Values > Lookup Values > Custom Fields: PayrollAndHR.  Max length: 10.'
              type:
                - string
                - 'null'
          required:
            - category
            - label
            - value
          type: object
        maxItems: 8
        type: array
      customNumberFields:
        description: Up to 8 custom fields of numeric type value.
        items:
          additionalProperties: false
          description: ''
          properties:
            category:
              description: The custom field category.  Acceptable value is 'PayrollAndHR'.
              enum:
                - PayrollAndHR
              type: string
            label:
              description: 'The custom field label whose value is to be added/updated.  Must match to the label defined in Web Pay Custom Fields setup.  Max length: 255.'
              type:
                - string
                - 'null'
            value:
              description: 'The custom number field value.  Decimal (18,6).'
              type:
                - number
                - 'null'
          required:
            - category
            - label
            - value
          type: object
        maxItems: 8
        type: array
      customTextFields:
        description: Up to 8 custom fields of text type value.
        items:
          additionalProperties: false
          description: ''
          properties:
            category:
              description: The custom field category.  Acceptable value is 'PayrollAndHR'.
              enum:
                - PayrollAndHR
              type: string
            label:
              description: 'The custom field label whose value is to be added/updated.  Must match to the label defined in Web Pay Custom Fields setup.  Max length: 255.'
              type:
                - string
                - 'null'
            value:
              description: 'The custom text field value.  Max length: 255.'
              type:
                - string
                - 'null'
          required:
            - category
            - label
            - value
          type: object
        maxItems: 8
        type: array
      departmentPosition:
        additionalProperties: false
        description: 'Add or update home department cost center, position, supervisor, reviewer, employment type, EEO class, pay settings, and union information.'
        properties:
          changeReason:
            description: 'Employee department/position change reason. Must match Company setup. <br  />Max length: 15'
            type:
              - string
              - 'null'
          clockBadgeNumber:
            description: 'Employee clock badge number. Defaults to employeeId. <br  />Max length: 10'
            type:
              - string
              - 'null'
          costCenter1:
            description: 'Employer defined location, like *branch, division, department*, etc. Must match Company setup. <br  />Max length: 10'
            type:
              - string
              - 'null'
          costCenter2:
            description: 'Employer defined location, like *branch, division, department*, etc. Must match Company setup. <br  />Max length: 10'
            type:
              - string
              - 'null'
          costCenter3:
            description: 'Employer defined location, like *branch, division, department*, etc. Must match Company setup. <br  />Max length: 10'
            type:
              - string
              - 'null'
          effectiveDate:
            description: 'The date the position takes effect. Common formats include *MM-DD-CCYY*, *CCYY-MM-DD*.'
            format: paylocity-date
            type:
              - string
              - 'null'
          employeeType:
            description: 'Employee current employment type. Common values *RFT (Regular Full Time), RPT (Regular Part Time), SNL (Seasonal), TFT (Temporary Full Time), TPT (Temporary Part Time)*. <br  />Max length: 10'
            type:
              - string
              - 'null'
          equalEmploymentOpportunityClass:
            description: 'Values are configured in Company > Setup > HR > EEO Classes.<br  /> Max length: 10'
            type:
              - string
              - 'null'
          isMinimumWageExempt:
            description: Indicates if employee is exempt from minimum wage.
            type:
              - boolean
              - 'null'
          isOvertimeExempt:
            description: Indicates if employee is exempt from overtime.
            type:
              - boolean
              - 'null'
          isSupervisorReviewer:
            description: Indicates if employee is a supervisor or reviewer.
            type:
              - boolean
              - 'null'
          isUnionDuesCollected:
            description: Indicates if union dues are collected.
            type:
              - boolean
              - 'null'
          isUnionInitiationCollected:
            description: Indicates if initiations fees are collected.
            type:
              - boolean
              - 'null'
          jobTitle:
            description: 'Employee current job title. <br  />Max length: 50'
            type:
              - string
              - 'null'
          payGroup:
            description: 'Employee pay group. Must match Company setup. <br  /> Max length: 20'
            type:
              - string
              - 'null'
          positionCode:
            description: 'Employee position code. Must match Company setup.<br  />Max length: 20'
            type:
              - string
              - 'null'
          reviewerCompanyNumber:
            description: 'Company number of reviewer.<br />Max length: 9'
            type:
              - string
              - 'null'
          reviewerEmployeeId:
            description: 'Employee id of the reviewer.<br />Max length: 10'
            type:
              - string
              - 'null'
          shift:
            description: 'Employee work shift.<br  />Max length: 255'
            type:
              - string
              - 'null'
          supervisorCompanyNumber:
            description: 'Supervisor''s company number. Defaults to employee company number.<br  />Max length: 9'
            type:
              - string
              - 'null'
          supervisorEmployeeId:
            description: 'EmployeeId of the supervisor. <br  />Max length: 10'
            type:
              - string
              - 'null'
          tipped:
            description: Indicates if employee receives tips.
            type:
              - string
              - 'null'
          unionAffiliationDate:
            description: 'Employee union affiliation effective date. Common formats include *MM-DD-CCYY*, *CCYY-MM-DD*.'
            format: paylocity-date
            type:
              - string
              - 'null'
          unionCode:
            description: 'Employee union code. Must match Company setup. <br  />Max length: 10'
            type:
              - string
              - 'null'
          unionPosition:
            description: 'Employee union position. Must match Company setup. <br  />Max length: 30'
            type:
              - string
              - 'null'
          workersCompensation:
            description: 'Employee worker compensation code. Must match Company setup.<br  /> Max length: 10'
            type:
              - string
              - 'null'
        type: object
      disabilityDescription:
        description: Indicates if employee has disability status.
        type:
          - string
          - 'null'
      employeeId:
        description: 'Leave blank to have Web Pay automatically assign the next available employee ID.<br  /> Max length: 10'
        type:
          - string
          - 'null'
      ethnicity:
        description: 'Employee ethnicity.<br  /> Max length: 10'
        type:
          - string
          - 'null'
      federalTax:
        additionalProperties: false
        description: 'Add or update federal tax amount type (taxCalculationCode), amount or percentage, filing status, and exemptions.'
        properties:
          amount:
            description: 'Tax amount. <br  />Decimal (12,2)'
            type:
              - number
              - 'null'
          exemptions:
            description: 'Federal tax exemptions value. <br  />Decimal (12,2)'
            type:
              - number
              - 'null'
          filingStatus:
            description: 'Employee federal filing status. Common values are *S* (Single), *M* (Married).<br  />Max length: 50'
            type:
              - string
              - 'null'
          percentage:
            description: 'Tax percentage. <br  />Decimal (12,2)'
            type:
              - number
              - 'null'
          taxCalculationCode:
            description: 'Tax calculation code. Common values are *F* (Flat), *P* (Percentage), *FDFP* (Flat Dollar Amount plus Fixed Percentage). <br  />Max length: 10'
            type:
              - string
              - 'null'
        type: object
      firstName:
        description: 'Employee first name. <br  />Max length: 40'
        type:
          - string
          - 'null'
      gender:
        description: 'Employee gender. Common values *M* (Male), *F* (Female). <br  />Max length: 1'
        type:
          - string
          - 'null'
      homeAddress:
        additionalProperties: false
        description: 'Add or update employee''s home address, personal phone numbers, and personal email.'
        properties:
          address1:
            description: '1st address line.<br  /> Max length: 40'
            type:
              - string
              - 'null'
          address2:
            description: '2nd address line. <br  /> Max length: 40'
            type:
              - string
              - 'null'
          city:
            description: 'City.<br  /> Max length: 40'
            type:
              - string
              - 'null'
          country:
            description: 'Country.<br  /> Max length: 30'
            type:
              - string
              - 'null'
          county:
            description: 'County.<br  /> Max length: 30'
            type:
              - string
              - 'null'
          emailAddress:
            description: 'Email. <br  />Max length: 50'
            type:
              - string
              - 'null'
          mobilePhone:
            description: 'Mobile phone number.<br  /> Max length: 12'
            type:
              - string
              - 'null'
          phone:
            description: 'Phone number.<br  /> Max length: 12'
            type:
              - string
              - 'null'
          postalCode:
            description: 'Postal code.<br  /> Max length: 10'
            type:
              - string
              - 'null'
          state:
            description: 'State or province.<br  /> Max length: 2'
            type:
              - string
              - 'null'
        type: object
      isHighlyCompensated:
        description: Indicates if employee meets the highly compensated employee criteria.
        type: boolean
      isSmoker:
        description: Indicates if employee is a smoker.
        type: boolean
      lastName:
        description: 'Employee last name. <br  />Max length: 40'
        type:
          - string
          - 'null'
      localTax:
        description: 'Add, update, or delete local tax code, filing status, and exemptions including  PA-PSD taxes.'
        items:
          additionalProperties: false
          description: The Local Tax model
          properties:
            exemptions:
              description: 'Local tax exemptions value.<br  />Decimal (12,2)'
              type:
                - number
                - 'null'
            exemptions2:
              description: 'Local tax exemptions 2 value.<br  />Decimal (12,2)'
              type:
                - number
                - 'null'
            filingStatus:
              description: 'Employee local tax filing status. Must match specific local tax setup. <br  /> Max length: 50'
              type:
                - string
                - 'null'
            residentPSD:
              description: 'Resident PSD (political subdivision code) applicable in PA. Must match Company setup.<br  /> Max length: 9'
              type:
                - string
                - 'null'
            taxCode:
              description: 'Local tax code.<br  />Max length: 50'
              type:
                - string
                - 'null'
            workPSD:
              description: 'Work location PSD. Must match Company setup. <br  /> Max length: 9'
              type:
                - string
                - 'null'
          type: object
        maxItems: 5
        type: array
      mainDirectDeposit:
        additionalProperties: false
        description: 'Add the main direct deposit account. After deposits are made to any additional direct deposit accounts, the remaining net check is deposited in the main direct deposit account. If an employee already has at least one direct deposit account, users cannot add or update direct deposit information. Direct deposit is only available when inserting the employee''s initial direct deposit information. GET API will not return direct deposit data.'
        properties:
          accountNumber:
            description: 'Account number, entered without special characters and spaces. <br  />Max length: 17'
            type:
              - string
              - 'null'
          accountType:
            description: 'Account type. Valid values are *C* (Checking), *S* (Saving), *P* (Pay Card). <br   />Max length: 1'
            type:
              - string
              - 'null'
          blockSpecial:
            description: Indicates if direct deposit should be blocked when special check types such as Bonus are processed.<br />
            type:
              - boolean
              - 'null'
          isSkipPreNote:
            description: Indicates if account will not pre-note.
            type:
              - boolean
              - 'null'
          nameOnAccount:
            description: 'Name on the bank account. Defaults to employee''s name. <br  />Max length: 30<br />'
            type:
              - string
              - 'null'
          preNoteDate:
            description: 'Date to end the pre-note of the account. Common formats include *MM-DD-CCYY*, *CCYY-MM-DD*.'
            format: paylocity-date
            type:
              - string
              - 'null'
          routingNumber:
            description: 'ABA Transit Routing Number, entered without dashes or spaces. <br  />Max length: 9'
            type:
              - string
              - 'null'
        type: object
      maritalStatus:
        description: 'Employee marital status. Common values *D (Divorced), M (Married), S (Single), W (Widowed)*. <br  />Max length: 10'
        type:
          - string
          - 'null'
      middleName:
        description: 'Employee middle name.<br  /> Max length: 20'
        type:
          - string
          - 'null'
      nonPrimaryStateTax:
        additionalProperties: false
        description: 'Add or update non-primary state tax code, amount type (taxCalculationCode), amount or percentage, filing status, exemptions, supplemental check (specialCheckCalc), and reciprocity code information.'
        properties:
          amount:
            description: 'State tax code.<br  /> Max length: 50'
            type:
              - number
              - 'null'
          exemptions:
            description: 'State tax exemptions value.<br  />Decimal (12,2)'
            type:
              - number
              - 'null'
          exemptions2:
            description: 'State tax exemptions 2 value.<br  />Decimal (12,2)'
            type:
              - number
              - 'null'
          filingStatus:
            description: 'Employee state tax filing status. Common values are *S* (Single), *M* (Married).<br  />Max length: 50'
            type:
              - string
              - 'null'
          percentage:
            description: 'State Tax percentage. <br  />Decimal (12,2)'
            type:
              - number
              - 'null'
          reciprocityCode:
            description: 'Non-primary state tax reciprocity code.<br  /> Max length: 50'
            type:
              - string
              - 'null'
          specialCheckCalc:
            description: 'Supplemental check calculation code. Common values are *Blocked* (Taxes blocked on Supplemental checks), *Supp* (Use supplemental Tax Rate-Code). <br  />Max length: 10'
            type:
              - string
              - 'null'
          taxCalculationCode:
            description: 'Tax calculation code. Common values are *F* (Flat), *P* (Percentage), *FDFP* (Flat Dollar Amount plus Fixed Percentage). <br  />Max length: 10'
            type:
              - string
              - 'null'
          taxCode:
            description: 'State tax code.<br  /> Max length: 50'
            type:
              - string
              - 'null'
        type: object
      ownerPercent:
        description: 'Percentage of employee''s ownership in the company, entered as a whole number. <br  /> Decimal (12,2)'
        type:
          - number
          - 'null'
      preferredName:
        description: 'Employee preferred display name.<br  /> Max length: 20'
        type:
          - string
          - 'null'
      primaryPayRate:
        additionalProperties: false
        description: 'Add or update hourly or salary pay rate, effective date, and pay frequency.'
        properties:
          annualSalary:
            description: 'Employee annual salary.<br />Decimal (12,2)'
            type:
              - number
              - 'null'
          baseRate:
            description: 'Employee base rate, used for Hourly employees. <br  />Decimal (12,2)'
            type:
              - number
              - 'null'
          beginCheckDate:
            description: 'The date of the first check on which the new pay rate will appear. This value is only applicable when updating an existing employee. Common formats include *MM-DD-CCYY*, *CCYY-MM-DD*.'
            format: paylocity-date
            type:
              - string
              - 'null'
          changeReason:
            description: 'Pay rate change reason.<br  /> Max length: 30'
            type:
              - string
              - 'null'
          defaultHours:
            description: 'Employee default hours consistently worked. If autoPayType is set to D, employee will be paid hourly base rate for the defaultHours. <br  />Decimal (12,2)'
            type:
              - number
              - 'null'
          effectiveDate:
            description: 'The date the employee''s pay rate takes effect. Common formats include *MM-DD-CCYY*, *CCYY-MM-DD*.'
            format: paylocity-date
            type:
              - string
              - 'null'
          isAutoPay:
            description: 'If set to *True*, employee will be paid automatically using deafultHours.'
            type:
              - boolean
              - 'null'
          payFrequency:
            description: 'Employee current pay frequency. Common values are *A (Annual), B (Bi-Weekly), D (Daily), M (Monthly), S (Semi-Monthly), Q (Quarterly), W (Weekly)*. <br  />Max length: 5'
            type:
              - string
              - 'null'
          payGrade:
            description: 'Employee pay grade. Must match Company setup. <br  /> Max length: 10'
            type:
              - string
              - 'null'
          payRateNote:
            description: 'Pay rate notes regarding employee.<br  /> Max length: 250'
            type:
              - string
              - 'null'
          payType:
            description: 'Employee pay type (rate code). Valid values are *Hourly* or *Salary*. <br  />Max length: 10'
            type:
              - string
              - 'null'
          ratePer:
            description: 'Employee base rate frequency used with payType Hourly. Common values are *Hour, Week*. Default is Hour. <br  />Max length: 10'
            type:
              - string
              - 'null'
          salary:
            description: 'Employee gross salary per pay period used with payType Salary.<br  />Decimal (12,2)'
            type:
              - number
              - 'null'
        type: object
      primaryStateTax:
        additionalProperties: false
        description: 'Add or update primary state tax code, amount type (taxCalculationCode), amount or percentage, filing status, exemptions, and supplemental check (specialCheckCalc) information. Only one primary state is allowed. Sending an updated primary state will replace the current primary state.'
        properties:
          amount:
            description: 'State tax code.<br  /> Max length: 50'
            type:
              - number
              - 'null'
          exemptions:
            description: 'State tax exemptions value.<br  />Decimal (12,2)'
            type:
              - number
              - 'null'
          exemptions2:
            description: 'State tax exemptions 2 value.<br  />Decimal (12,2)'
            type:
              - number
              - 'null'
          filingStatus:
            description: 'Employee state tax filing status. Common values are *S* (Single), *M* (Married).<br  />Max length: 50'
            type:
              - string
              - 'null'
          percentage:
            description: 'State Tax percentage. <br  />Decimal (12,2)'
            type:
              - number
              - 'null'
          specialCheckCalc:
            description: 'Supplemental check calculation code. Common values are *Blocked* (Taxes blocked on Supplemental checks), *Supp* (Use supplemental Tax Rate-Code). <br  />Max length: 10'
            type:
              - string
              - 'null'
          taxCalculationCode:
            description: 'Tax calculation code. Common values are *F* (Flat), *P* (Percentage), *FDFP* (Flat Dollar Amount plus Fixed Percentage). <br  />Max length: 10'
            type:
              - string
              - 'null'
          taxCode:
            description: 'State tax code.<br  /> Max length: 50'
            type:
              - string
              - 'null'
        type: object
      priorLastName:
        description: 'Prior last name if applicable.<br  />Max length: 40'
        type:
          - string
          - 'null'
      salutation:
        description: 'Employee preferred salutation. <br  />Max length: 10'
        type:
          - string
          - 'null'
      ssn:
        description: 'Employee social security number. Leave it blank if valid social security number not available. <br  />Max length: 11'
        type:
          - string
          - 'null'
      status:
        additionalProperties: false
        description: 'Add or update employee status, change reason, effective date, and adjusted seniority date. Note that companies that are still in Implementation cannot hire future employees.'
        properties:
          adjustedSeniorityDate:
            description: 'Adjusted seniority date. Common formats include *MM-DD-CCYY*, *CCYY-MM-DD*.'
            format: paylocity-date
            type:
              - string
              - 'null'
          changeReason:
            description: 'Employee status change reason. Must match Company setup.<br  /> Max length: 15'
            type:
              - string
              - 'null'
          effectiveDate:
            description: 'Common formats include *MM-DD-CCYY*, *CCYY-MM-DD*.'
            format: paylocity-date
            type:
              - string
              - 'null'
          employeeStatus:
            description: 'Employee current work status. Common values are *A* (Active), *L* (Leave of Absence), *T* (Terminated). <br  />Max length: 20'
            type:
              - string
              - 'null'
          hireDate:
            description: 'Employee hired date. Updates to hire date are not allowed and will be ignored. Common formats include *MM-DD-CCYY*, *CCYY-MM-DD*.'
            format: paylocity-date
            type:
              - string
              - 'null'
          isEligibleForRehire:
            description: Indicates if employee eligible for rehire.
            type:
              - boolean
              - 'null'
          reHireDate:
            description: 'Rehire date if employee is rehired.  Updates to re-hire date are not allowed and will be ignored. Common formats are *MM-DD-CCYY, CCYY-MM-DD*.'
            format: paylocity-date
            type:
              - string
              - 'null'
        type: object
      suffix:
        description: 'Employee name suffix. Common values are *Jr, Sr, II*.<br  />Max length: 30'
        type:
          - string
          - 'null'
      taxSetup:
        additionalProperties: false
        description: 'Add tax form, 1099 exempt reasons and notes, and 943 agricultural employee information. Once the employee receives wages, this information cannot be updated. Add or update SUI tax state, retirement plan, and statutory information.'
        properties:
          fitwExemptNotes:
            description: 'Notes for FITW exemption.<br  /> Max length: 250'
            type:
              - string
              - 'null'
          fitwExemptReason:
            description: 'Reason code for FITW exemption. Common values are *SE* (Statutory employee), *CR* (clergy/Religious). <br  /> Max length: 30'
            type:
              - string
              - 'null'
          futaExemptNotes:
            description: 'Notes for FUTA exemption.<br  /> Max length: 250'
            type:
              - string
              - 'null'
          futaExemptReason:
            description: 'Reason code for FUTA exemption. Common values are *501* (5019c)(3) Organization), *IC* (Independent Contractor).<br  /> Max length: 30'
            type:
              - string
              - 'null'
          isEmployee943:
            description: Indicates if employee in agriculture or farming.
            type: boolean
          isPension:
            description: Indicates if employee is eligible for pension.
            type: boolean
          isStatutory:
            description: Indicates if employee is statutory.
            type: boolean
          medExemptNotes:
            description: 'Notes for Medicare exemption.<br  /> Max length: 250'
            type:
              - string
              - 'null'
          medExemptReason:
            description: 'Reason code for Medicare exemption. Common values are *501* (5019c)(3) Organization), *IC* (Independent Contractor).<br  /> Max length: 30'
            type:
              - string
              - 'null'
          sitwExemptNotes:
            description: 'Notes for SITW exemption.<br  /> Max length: 250'
            type:
              - string
              - 'null'
          sitwExemptReason:
            description: 'Reason code for SITW exemption. Common values are *SE* (Statutory employee), *CR* (clergy/Religious). <br  /> Max length: 30'
            type:
              - string
              - 'null'
          ssExemptNotes:
            description: 'Notes for Social Security exemption.<br  /> Max length: 250'
            type:
              - string
              - 'null'
          ssExemptReason:
            description: 'Reason code for Social Security exemption. Common values are *SE* (Statutory employee), *CR* (clergy/Religious). <br  /> Max length: 30'
            type:
              - string
              - 'null'
          suiExemptNotes:
            description: 'Notes for SUI exemption.<br  /> Max length: 250'
            type:
              - string
              - 'null'
          suiExemptReason:
            description: 'Reason code for SUI exemption. Common values are *SE* (Statutory employee), *CR* (clergy/Religious). <br  /> Max length: 30'
            type:
              - string
              - 'null'
          suiState:
            description: 'Employee SUI (State Unemployment Insurance) state. <br  />Max length: 2'
            type:
              - string
              - 'null'
          taxDistributionCode1099R:
            description: 'Employee 1099R distribution code. Common values are *7* (Normal Distribution), *F* (Charitable Gift Annuity). <br  />Max length: 1'
            type:
              - string
              - 'null'
          taxForm:
            description: 'Employee tax form for reporting income. Valid values are *W2, 1099M, 1099R*. Default is W2. <br  />Max length: 15'
            type:
              - string
              - 'null'
        type: object
      veteranDescription:
        description: Indicates if employee is a veteran.
        type:
          - string
          - 'null'
      webTime:
        additionalProperties: false
        description: Add or update Web Time badge number and charge rate and synchronize Web Pay and Web Time employee data.
        properties:
          badgeNumber:
            description: 'Badge number usually issued for time and attendance system use. <br  />Max length: 50'
            type:
              - string
              - 'null'
          chargeRate:
            description: 'Rate to be charged to third party for time worked by the employee. It is most commonly referenced in the Cost Center Charge, Cost Center Charge vs. Cost Reports, and the Customer Invoice time and attendance reports. <br  />Decimal (12,2)'
            type:
              - number
              - 'null'
          isTimeLaborEnabled:
            description: 'If set to true, changes to employee data will be reflected in Web Time.'
            type:
              - boolean
              - 'null'
        type: object
      workAddress:
        additionalProperties: false
        description: 'Add or update employee''s work address, phone numbers, and email. Work Location drop down field is not included.'
        properties:
          address1:
            description: '1st address line.<br  /> Max length: 40'
            type:
              - string
              - 'null'
          address2:
            description: '2nd address line. <br  /> Max length: 40'
            type:
              - string
              - 'null'
          city:
            description: 'City.<br  /> Max length: 40'
            type:
              - string
              - 'null'
          country:
            description: 'Country.<br  /> Max length: 30'
            type:
              - string
              - 'null'
          county:
            description: 'County.<br  /> Max length: 30'
            type:
              - string
              - 'null'
          emailAddress:
            description: 'Email. <br  />Max length: 50'
            type:
              - string
              - 'null'
          mailStop:
            description: 'Employee mail stop.<br  /> Max length: 10'
            type:
              - string
              - 'null'
          mobilePhone:
            description: 'Mobile phone number.<br  /> Max length: 12'
            type:
              - string
              - 'null'
          pager:
            description: 'Employee pager number.<br  /> Max length: 20'
            type:
              - string
              - 'null'
          phone:
            description: 'Phone number.<br  /> Max length: 12'
            type:
              - string
              - 'null'
          phoneExtension:
            description: 'Phone number extension.<br  /> Max length: 10'
            type:
              - string
              - 'null'
          postalCode:
            description: 'Postal code.<br  /> Max length: 10'
            type:
              - string
              - 'null'
          state:
            description: 'State or province.<br  /> Max length: 2'
            type:
              - string
              - 'null'
        type: object
      workEligibility:
        additionalProperties: false
        description: Add or update I-9 work authorization information.
        properties:
          alienOrAdmissionDocumentNumber:
            description: Employee USCIS or Admission Number. <br  /> Must be 7-10 characters and may begin with an 'A'
            type:
              - string
              - 'null'
          attestedDate:
            description: 'The date the I-9 Verification form was attested by Employer or Authorized representative. Common formats are *MM-DD-CCYY, CCYY-MM-DD*.'
            format: paylocity-date
            type:
              - string
              - 'null'
          countryOfIssuance:
            description: 'If Foreign Passport number is provided, provide its country of issuance. Must match Paylocity setup.<br  /> Max length: 30'
            type:
              - string
              - 'null'
          foreignPassportNumber:
            description: 'Foreign Passport Number.<br  /> Max length: 50'
            type:
              - string
              - 'null'
          i94AdmissionNumber:
            description: Form I-94 admission number.<br  /> Must be 11 numeric characters
            type:
              - string
              - 'null'
          i9DateVerified:
            description: 'Common formats include *MM-DD-CCYY*, *CCYY-MM-DD*.'
            format: paylocity-date
            type:
              - string
              - 'null'
          i9Notes:
            description: 'Notes regarding employee''s i9.<br  /> Max length: 4000'
            type:
              - string
              - 'null'
          isI9Verified:
            description: Indicates if employee I9 is verified.
            type:
              - boolean
              - 'null'
          isSsnVerified:
            description: Indicates if employee SSN is verified.
            type:
              - boolean
              - 'null'
          ssnDateVerified:
            description: 'The date of employer verification of employee SSN. Common formats include *MM-DD-CCYY*, *CCYY-MM-DD*.'
            format: paylocity-date
            type:
              - string
              - 'null'
          ssnNotes:
            description: 'Notes regarding employee''s SSN.<br  /> Max length: 4000'
            type:
              - string
              - 'null'
          visaType:
            description: 'Employee Visa type. Must match one of the system coded values.<br  /> Max length: 100'
            type:
              - string
              - 'null'
          workAuthorization:
            description: 'Employee work authorization. Must match one of the system coded values.<br  /> Max length: 100'
            type:
              - string
              - 'null'
          workUntil:
            description: 'End date of employee work eligibility.  Common formats include *MM-DD-CCYY*, *CCYY-MM-DD*.'
            format: paylocity-date
            type:
              - string
              - 'null'
        type: object
    type: object
  employeeIdResponse:
    description: The EmployeeId Response Model
    properties:
      employeeId:
        description: The EmployeeId
        type: string
    type: object
  error:
    description: The error model
    properties:
      field:
        description: 'The name of the field, or property in the request message that contains an error.'
        type: string
      message:
        description: The error message.
        type: string
      options:
        description: 'A list of options associated with this error. These options may indicate valid values for the field, or property that contains an error.'
        items:
          description: The error option model
          properties:
            code:
              description: The code associated with this option.
              type: string
            description:
              description: The description of the option.
              type: string
          type: object
        type: array
      path:
        description: 'The JSON path of the field, or property, that contains an error in the request message.'
        type: string
    type: object
  localTax:
    additionalProperties: false
    description: The Local Tax model
    properties:
      exemptions:
        description: 'Local tax exemptions value.<br  />Decimal (12,2)'
        type:
          - number
          - 'null'
      exemptions2:
        description: 'Local tax exemptions 2 value.<br  />Decimal (12,2)'
        type:
          - number
          - 'null'
      filingStatus:
        description: 'Employee local tax filing status. Must match specific local tax setup. <br  /> Max length: 50'
        type:
          - string
          - 'null'
      residentPSD:
        description: 'Resident PSD (political subdivision code) applicable in PA. Must match Company setup.<br  /> Max length: 9'
        type:
          - string
          - 'null'
      taxCode:
        description: 'Local tax code.<br  />Max length: 50'
        type:
          - string
          - 'null'
      workPSD:
        description: 'Work location PSD. Must match Company setup. <br  /> Max length: 9'
        type:
          - string
          - 'null'
    type: object
  nonPrimaryStateTax:
    additionalProperties: false
    description: The Non-Primary State Tax model
    properties:
      amount:
        description: 'State tax code.<br  /> Max length: 50'
        type:
          - number
          - 'null'
      exemptions:
        description: 'State tax exemptions value.<br  />Decimal (12,2)'
        type:
          - number
          - 'null'
      exemptions2:
        description: 'State tax exemptions 2 value.<br  />Decimal (12,2)'
        type:
          - number
          - 'null'
      filingStatus:
        description: 'Employee state tax filing status. Common values are *S* (Single), *M* (Married).<br  />Max length: 50'
        type:
          - string
          - 'null'
      percentage:
        description: 'State Tax percentage. <br  />Decimal (12,2)'
        type:
          - number
          - 'null'
      reciprocityCode:
        description: 'Non-primary state tax reciprocity code.<br  /> Max length: 50'
        type:
          - string
          - 'null'
      specialCheckCalc:
        description: 'Supplemental check calculation code. Common values are *Blocked* (Taxes blocked on Supplemental checks), *Supp* (Use supplemental Tax Rate-Code). <br  />Max length: 10'
        type:
          - string
          - 'null'
      taxCalculationCode:
        description: 'Tax calculation code. Common values are *F* (Flat), *P* (Percentage), *FDFP* (Flat Dollar Amount plus Fixed Percentage). <br  />Max length: 10'
        type:
          - string
          - 'null'
      taxCode:
        description: 'State tax code.<br  /> Max length: 50'
        type:
          - string
          - 'null'
    type: object
  stagedEmployee:
    additionalProperties: false
    description: The staged employee model
    properties:
      additionalDirectDeposit:
        description: Add up to 4 direct deposit accounts in addition to the main direct deposit account. Direct deposit is only available when inserting the employee's initial direct deposit information.
        items:
          additionalProperties: false
          description: The additional direct deposit model
          properties:
            accountNumber:
              description: 'Account number, entered without special characters and spaces. <br  />Max length: 17<br />'
              type:
                - string
                - 'null'
            accountType:
              description: 'Account type. Valid values are *C* (Checking), *S* (Saving), *P* (Pay Card). <br   />Max length: 1<br />'
              type:
                - string
                - 'null'
            amount:
              description: 'Amount value to be deposited to the account.<br  />Decimal (12,2)<br />'
              type:
                - number
                - 'null'
            amountType:
              description: 'Amount type to indicate the context of the amount. Common values are *F* (FLAT), *F-* (Net Minus), *P* (Percent). <br  /> Max length: 5<br />'
              type:
                - string
                - 'null'
            isSkipPreNote:
              description: Indicates if account will not pre-note.<br />
              type:
                - boolean
                - 'null'
            preNoteDate:
              description: 'Date to end the pre-note of the account. Common formats include *MM-DD-CCYY*, *CCYY-MM-DD*.<br />'
              format: paylocity-date
              type:
                - string
                - 'null'
            routingNumber:
              description: 'ABA Transit Routing Number, entered without dashes or spaces. <br  />Max length: 9<br />'
              type:
                - string
                - 'null'
          type: object
        maxItems: 4
        type: array
      benefitSetup:
        description: 'Add setup values used for employee benefits integration, insurance plan settings, and ACA reporting.'
        items:
          additionalProperties: false
          description: The benefit setup model
          properties:
            benefitClass:
              description: 'Benefit Class code. Values are configured in Web Pay Company > Setup > Benefits > Classes.<br  />Max length: 30'
              type:
                - string
                - 'null'
            benefitClassEffectiveDate:
              description: 'Date when Benefit Class takes effect. Common formats include *MM-DD-CCYY*, *CCYY-MM-DD*.'
              format: paylocity-date
              type:
                - string
                - 'null'
            benefitSalary:
              description: 'Salary used to configure benefits.<br  />Decimal(12,2)'
              type:
                - number
                - 'null'
            benefitSalaryEffectiveDate:
              description: 'Date when Benefit Salary takes effect. Common formats include *MM-DD-CCYY*, *CCYY-MM-DD*.'
              format: paylocity-date
              type:
                - string
                - 'null'
            doNotApplyAdministrativePeriod:
              description: Applicable only for ACA Enhanced clients and Benefit Classes with ACA Employment Type of Full Time.
              type:
                - boolean
                - 'null'
            isMeasureAcaEligibility:
              description: Only valid for ACA Enhanced clients and Benefit Classes that are ACA Employment Type of Full Time.
              type:
                - boolean
                - 'null'
          type: object
        maxItems: 1
        type: array
      birthDate:
        description: 'Employee birthdate. Common formats include *MM-DD-CCYY*, *CCYY-MM-DD*.'
        format: paylocity-date
        type:
          - string
          - 'null'
      customBooleanFields:
        description: Up to 8 custom fields of boolean (checkbox) type value.
        items:
          additionalProperties: false
          description: ''
          properties:
            category:
              description: The custom field category.  Acceptable value is 'PayrollAndHR'.
              enum:
                - PayrollAndHR
              type: string
            label:
              description: 'The custom field label whose value is to be added/updated. Must match to the label defined in Web Pay Custom Fields setup.  Max length: 255.'
              type:
                - string
                - 'null'
            value:
              description: The custom boolean field value.
              type:
                - boolean
                - 'null'
          required:
            - category
            - label
            - value
          type: object
        maxItems: 8
        type: array
      customDateFields:
        description: Up to 8 custom fields of the date type value.
        items:
          additionalProperties: false
          description: ''
          properties:
            category:
              description: The custom field category.  Acceptable value is 'PayrollAndHR'.
              enum:
                - PayrollAndHR
              type: string
            label:
              description: 'The custom field label whose value is to be added/updated.  Must match to the label defined in Web Pay Custom Fields setup.  Max length: 255.'
              type:
                - string
                - 'null'
            value:
              description: 'The custom date field value.  Common formats include MM-DD-CCYY, CCYY-MM-DD.'
              format: paylocity-date
              type:
                - string
                - 'null'
          required:
            - category
            - label
            - value
          type: object
        maxItems: 8
        type: array
      customDropDownFields:
        description: Up to 8 custom fields of the dropdown type value.
        items:
          additionalProperties: false
          description: ''
          properties:
            category:
              description: The custom field category.  Acceptable value is 'PayrollAndHR'.
              enum:
                - PayrollAndHR
              type: string
            label:
              description: 'The custom field label whose value is to be added/updated.  Must match to the label defined in Web Pay Custom Fields setup.  Max length: 255.'
              type:
                - string
                - 'null'
            value:
              description: 'The custom dropdown field value.  Values are configured in Web Pay Company > Setup > List Values > Lookup Values > Custom Fields: PayrollAndHR.  Max length: 10.'
              type:
                - string
                - 'null'
          required:
            - category
            - label
            - value
          type: object
        maxItems: 8
        type: array
      customNumberFields:
        description: Up to 8 custom fields of numeric type value.
        items:
          additionalProperties: false
          description: ''
          properties:
            category:
              description: The custom field category.  Acceptable value is 'PayrollAndHR'.
              enum:
                - PayrollAndHR
              type: string
            label:
              description: 'The custom field label whose value is to be added/updated.  Must match to the label defined in Web Pay Custom Fields setup.  Max length: 255.'
              type:
                - string
                - 'null'
            value:
              description: 'The custom number field value.  Decimal (18,6).'
              type:
                - number
                - 'null'
          required:
            - category
            - label
            - value
          type: object
        maxItems: 8
        type: array
      customTextFields:
        description: Up to 8 custom fields of text type value.
        items:
          additionalProperties: false
          description: ''
          properties:
            category:
              description: The custom field category.  Acceptable value is 'PayrollAndHR'.
              enum:
                - PayrollAndHR
              type: string
            label:
              description: 'The custom field label whose value is to be added/updated.  Must match to the label defined in Web Pay Custom Fields setup.  Max length: 255.'
              type:
                - string
                - 'null'
            value:
              description: 'The custom text field value.  Max length: 255.'
              type:
                - string
                - 'null'
          required:
            - category
            - label
            - value
          type: object
        maxItems: 8
        type: array
      departmentPosition:
        description: 'Add home department cost center, position, supervisor, reviewer, employment type, EEO class, pay settings, and union information.'
        items:
          additionalProperties: false
          description: The Department Position model
          properties:
            changeReason:
              description: 'Employee department/position change reason. Must match Company setup. <br  />Max length: 15'
              type:
                - string
                - 'null'
            clockBadgeNumber:
              description: 'Employee clock badge number. Defaults to employeeId. <br  />Max length: 10'
              type:
                - string
                - 'null'
            costCenter1:
              description: 'Employer defined location, like *branch, division, department*, etc. Must match Company setup. <br  />Max length: 10'
              type:
                - string
                - 'null'
            costCenter2:
              description: 'Employer defined location, like *branch, division, department*, etc. Must match Company setup. <br  />Max length: 10'
              type:
                - string
                - 'null'
[...]
