swagger: '2.0'
schemes:
  - http
  - https
host: api.fantasydata.net
basePath: /v3/nhl/pbp
info:
  contact:
    x-twitter: nfldata
  description: NHL play-by-play API.
  title: NHL v3 Play-by-Play
  version: '1.0'
  x-apisguru-categories:
    - entertainment
  x-logo:
    url: 'https://twitter.com/nfldata/profile_image?size=original'
  x-origin:
    - format: swagger
      url: 'https://fantasydata.com/downloads/swagger/nhl-v3-play-by-play.json'
      version: '2.0'
  x-providerName: fantasydata.net
  x-serviceName: nhl-v3-play-by-play
produces:
  - application/json
securityDefinitions:
  apiKeyHeader:
    in: header
    name: Ocp-Apim-Subscription-Key
    type: apiKey
  apiKeyQuery:
    in: query
    name: subscription-key
    type: apiKey
security:
  - apiKeyHeader: []
  - apiKeyQuery: []
paths:
  '/{format}/PlayByPlay/{gameid}':
    get:
      operationId: PlayByPlay
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: The GameID of an MLB game.  GameIDs can be found in the Games API.  Valid entries are <code>14620</code> or <code>16905</code>
          in: path
          name: gameid
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/PlayByPlay'
      summary: Play By Play
  '/{format}/PlayByPlayDelta/{date}/{minutes}':
    get:
      operationId: PlayByPlayDelta
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |-
            The date of the game(s).
            <br>Examples: <code>2018-JAN-31</code>, <code>2017-OCT-01</code>.
          in: path
          name: date
          required: true
          type: string
        - description: |-
            Only returns plays that have changed in the last X minutes.  You specify how many minutes in time to go back.  Valid entries are:
            <code>1</code>, <code>2</code> ... <code>all</code>.
          in: path
          name: minutes
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/PlayByPlay'
            type: array
      summary: Play By Play Delta
definitions:
  Game:
    properties:
      Attendance:
        type: integer
      AwayTeam:
        type: string
      AwayTeamID:
        type: integer
      AwayTeamMoneyLine:
        type: integer
      AwayTeamScore:
        type: integer
      Channel:
        type: string
      DateTime:
        type: string
      Day:
        type: string
      GameID:
        type: integer
      GlobalAwayTeamID:
        type: integer
      GlobalGameID:
        type: integer
      GlobalHomeTeamID:
        type: integer
      HomeTeam:
        type: string
      HomeTeamID:
        type: integer
      HomeTeamMoneyLine:
        type: integer
      HomeTeamScore:
        type: integer
      IsClosed:
        type: boolean
      LastPlay:
        type: string
      OverUnder:
        type: number
      Period:
        type: string
      PointSpread:
        type: number
      PointSpreadAwayTeamMoneyLine:
        type: integer
      PointSpreadHomeTeamMoneyLine:
        type: integer
      Season:
        type: integer
      SeasonType:
        type: integer
      StadiumID:
        type: integer
      Status:
        type: string
      TimeRemainingMinutes:
        type: integer
      TimeRemainingSeconds:
        type: integer
      Updated:
        type: string
  Play:
    properties:
      AwayTeamScore:
        type: integer
      Category:
        type: string
      ClockMinutes:
        type: integer
      ClockSeconds:
        type: integer
      Created:
        type: string
      Description:
        type: string
      FirstAssistedByPlayerID:
        type: integer
      HomeTeamScore:
        type: integer
      Opponent:
        type: string
      OpponentID:
        type: integer
      OpposingPlayerID:
        type: integer
      PeriodID:
        type: integer
      PeriodName:
        type: string
      PlayID:
        type: integer
      PlayerID:
        type: integer
      PowerPlayTeam:
        type: string
      PowerPlayTeamID:
        type: integer
      SecondAssistedByPlayerID:
        type: integer
      Sequence:
        type: integer
      Team:
        type: string
      TeamID:
        type: integer
      Type:
        type: string
      Updated:
        type: string
  PlayByPlay:
    properties:
      Game:
        $ref: '#/definitions/Game'
      Plays:
        items:
          $ref: '#/definitions/Play'
        type: array
