{
  "swagger": "2.0",
  "info": {
    "title": "Google Analytics API",
    "x-serviceName": "analytics",
    "description": "View and manage your Google Analytics data",
    "contact": {
      "name": "Google",
      "url": "https://google.com"
    },
    "version": "v3",
    "x-providerName": "googleapis.com",
    "x-origin": {
      "format": "google",
      "version": "v1",
      "url": "https://www.googleapis.com/discovery/v1/apis/analytics/v3/rest"
    },
    "x-logo": "https://www.google.com/images/srpr/logo11w.png"
  },
  "host": "www.googleapis.com",
  "basePath": "/analytics/v3",
  "schemes": [
    "https"
  ],
  "paths": {
    "/data/ga": {
      "get": {
        "description": "Returns Analytics data for a view (profile).",
        "operationId": "analytics.data.ga.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/GaData"
            }
          }
        },
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "Unique table ID for retrieving Analytics data. Table ID is of the form ga:XXXX, where XXXX is the Analytics view (profile) ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "start-date",
            "in": "query",
            "description": "Start date for fetching Analytics data. Requests can specify a start date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is 7daysAgo.",
            "required": true,
            "type": "string"
          },
          {
            "name": "end-date",
            "in": "query",
            "description": "End date for fetching Analytics data. Request can should specify an end date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is yesterday.",
            "required": true,
            "type": "string"
          },
          {
            "name": "metrics",
            "in": "query",
            "description": "A comma-separated list of Analytics metrics. E.g., 'ga:sessions,ga:pageviews'. At least one metric must be specified.",
            "required": true,
            "type": "string"
          },
          {
            "name": "dimensions",
            "in": "query",
            "description": "A comma-separated list of Analytics dimensions. E.g., 'ga:browser,ga:city'.",
            "type": "string"
          },
          {
            "name": "filters",
            "in": "query",
            "description": "A comma-separated list of dimension or metric filters to be applied to Analytics data.",
            "type": "string"
          },
          {
            "name": "max-results",
            "in": "query",
            "description": "The maximum number of entries to include in this feed.",
            "type": "integer"
          },
          {
            "name": "output",
            "in": "query",
            "description": "The selected format for the response. Default format is JSON.",
            "type": "string",
            "enum": [
              "dataTable",
              "json"
            ]
          },
          {
            "name": "samplingLevel",
            "in": "query",
            "description": "The desired sampling level.",
            "type": "string",
            "enum": [
              "DEFAULT",
              "FASTER",
              "HIGHER_PRECISION"
            ]
          },
          {
            "name": "segment",
            "in": "query",
            "description": "An Analytics segment to be applied to data.",
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A comma-separated list of dimensions or metrics that determine the sort order for Analytics data.",
            "type": "string"
          },
          {
            "name": "start-index",
            "in": "query",
            "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
            "type": "integer",
            "minimum": 1
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics",
              "https://www.googleapis.com/auth/analytics.readonly"
            ]
          }
        ],
        "tags": [
          "data"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/data/mcf": {
      "get": {
        "description": "Returns Analytics Multi-Channel Funnels data for a view (profile).",
        "operationId": "analytics.data.mcf.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/McfData"
            }
          }
        },
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "Unique table ID for retrieving Analytics data. Table ID is of the form ga:XXXX, where XXXX is the Analytics view (profile) ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "start-date",
            "in": "query",
            "description": "Start date for fetching Analytics data. Requests can specify a start date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is 7daysAgo.",
            "required": true,
            "type": "string"
          },
          {
            "name": "end-date",
            "in": "query",
            "description": "End date for fetching Analytics data. Requests can specify a start date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is 7daysAgo.",
            "required": true,
            "type": "string"
          },
          {
            "name": "metrics",
            "in": "query",
            "description": "A comma-separated list of Multi-Channel Funnels metrics. E.g., 'mcf:totalConversions,mcf:totalConversionValue'. At least one metric must be specified.",
            "required": true,
            "type": "string"
          },
          {
            "name": "dimensions",
            "in": "query",
            "description": "A comma-separated list of Multi-Channel Funnels dimensions. E.g., 'mcf:source,mcf:medium'.",
            "type": "string"
          },
          {
            "name": "filters",
            "in": "query",
            "description": "A comma-separated list of dimension or metric filters to be applied to the Analytics data.",
            "type": "string"
          },
          {
            "name": "max-results",
            "in": "query",
            "description": "The maximum number of entries to include in this feed.",
            "type": "integer"
          },
          {
            "name": "samplingLevel",
            "in": "query",
            "description": "The desired sampling level.",
            "type": "string",
            "enum": [
              "DEFAULT",
              "FASTER",
              "HIGHER_PRECISION"
            ]
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A comma-separated list of dimensions or metrics that determine the sort order for the Analytics data.",
            "type": "string"
          },
          {
            "name": "start-index",
            "in": "query",
            "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
            "type": "integer",
            "minimum": 1
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics",
              "https://www.googleapis.com/auth/analytics.readonly"
            ]
          }
        ],
        "tags": [
          "data"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/data/realtime": {
      "get": {
        "description": "Returns real time data for a view (profile).",
        "operationId": "analytics.data.realtime.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/RealtimeData"
            }
          }
        },
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "Unique table ID for retrieving real time data. Table ID is of the form ga:XXXX, where XXXX is the Analytics view (profile) ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "metrics",
            "in": "query",
            "description": "A comma-separated list of real time metrics. E.g., 'rt:activeUsers'. At least one metric must be specified.",
            "required": true,
            "type": "string"
          },
          {
            "name": "dimensions",
            "in": "query",
            "description": "A comma-separated list of real time dimensions. E.g., 'rt:medium,rt:city'.",
            "type": "string"
          },
          {
            "name": "filters",
            "in": "query",
            "description": "A comma-separated list of dimension or metric filters to be applied to real time data.",
            "type": "string"
          },
          {
            "name": "max-results",
            "in": "query",
            "description": "The maximum number of entries to include in this feed.",
            "type": "integer"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A comma-separated list of dimensions or metrics that determine the sort order for real time data.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics",
              "https://www.googleapis.com/auth/analytics.readonly"
            ]
          }
        ],
        "tags": [
          "data"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/management/accountSummaries": {
      "get": {
        "description": "Lists account summaries (lightweight tree comprised of accounts/properties/profiles) to which the user has access.",
        "operationId": "analytics.management.accountSummaries.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AccountSummaries"
            }
          }
        },
        "parameters": [
          {
            "name": "max-results",
            "in": "query",
            "description": "The maximum number of account summaries to include in this response, where the largest acceptable value is 1000.",
            "type": "integer"
          },
          {
            "name": "start-index",
            "in": "query",
            "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
            "type": "integer",
            "minimum": 1
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics.edit",
              "https://www.googleapis.com/auth/analytics.readonly"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/management/accounts/{accountId}/entityUserLinks/{linkId}": {
      "delete": {
        "description": "Removes a user from the given account.",
        "operationId": "analytics.management.accountUserLinks.delete",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID to delete the user link for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "linkId",
            "in": "path",
            "description": "Link ID to delete the user link for.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics.manage.users"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "put": {
        "description": "Updates permissions for an existing user on the given account.",
        "operationId": "analytics.management.accountUserLinks.update",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/EntityUserLink"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID to update the account-user link for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "linkId",
            "in": "path",
            "description": "Link ID to update the account-user link for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/EntityUserLink"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics.manage.users"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/management/accounts/{accountId}/entityUserLinks": {
      "post": {
        "description": "Adds a new user to the given account.",
        "operationId": "analytics.management.accountUserLinks.insert",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/EntityUserLink"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID to create the user link for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/EntityUserLink"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics.manage.users"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "get": {
        "description": "Lists account-user links for a given account.",
        "operationId": "analytics.management.accountUserLinks.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/EntityUserLinks"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID to retrieve the user links for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "max-results",
            "in": "query",
            "description": "The maximum number of account-user links to include in this response.",
            "type": "integer"
          },
          {
            "name": "start-index",
            "in": "query",
            "description": "An index of the first account-user link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
            "type": "integer",
            "minimum": 1
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics.manage.users",
              "https://www.googleapis.com/auth/analytics.manage.users.readonly"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/management/accounts": {
      "get": {
        "description": "Lists all accounts to which the user has access.",
        "operationId": "analytics.management.accounts.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Accounts"
            }
          }
        },
        "parameters": [
          {
            "name": "max-results",
            "in": "query",
            "description": "The maximum number of accounts to include in this response.",
            "type": "integer"
          },
          {
            "name": "start-index",
            "in": "query",
            "description": "An index of the first account to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
            "type": "integer",
            "minimum": 1
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics",
              "https://www.googleapis.com/auth/analytics.edit",
              "https://www.googleapis.com/auth/analytics.readonly"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources": {
      "get": {
        "description": "List custom data sources to which the user has access.",
        "operationId": "analytics.management.customDataSources.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/CustomDataSources"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account Id for the custom data sources to retrieve.",
            "required": true,
            "type": "string"
          },
          {
            "name": "webPropertyId",
            "in": "path",
            "description": "Web property Id for the custom data sources to retrieve.",
            "required": true,
            "type": "string"
          },
          {
            "name": "max-results",
            "in": "query",
            "description": "The maximum number of custom data sources to include in this response.",
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "start-index",
            "in": "query",
            "description": "A 1-based index of the first custom data source to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
            "type": "integer",
            "minimum": 1
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics",
              "https://www.googleapis.com/auth/analytics.edit",
              "https://www.googleapis.com/auth/analytics.readonly"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions/{customDimensionId}": {
      "get": {
        "description": "Get a custom dimension to which the user has access.",
        "operationId": "analytics.management.customDimensions.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/CustomDimension"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID for the custom dimension to retrieve.",
            "required": true,
            "type": "string"
          },
          {
            "name": "webPropertyId",
            "in": "path",
            "description": "Web property ID for the custom dimension to retrieve.",
            "required": true,
            "type": "string"
          },
          {
            "name": "customDimensionId",
            "in": "path",
            "description": "The ID of the custom dimension to retrieve.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics.edit",
              "https://www.googleapis.com/auth/analytics.readonly"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "patch": {
        "description": "Updates an existing custom dimension. This method supports patch semantics.",
        "operationId": "analytics.management.customDimensions.patch",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/CustomDimension"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID for the custom dimension to update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "webPropertyId",
            "in": "path",
            "description": "Web property ID for the custom dimension to update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "customDimensionId",
            "in": "path",
            "description": "Custom dimension ID for the custom dimension to update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "ignoreCustomDataSourceLinks",
            "in": "query",
            "description": "Force the update and ignore any warnings related to the custom dimension being linked to a custom data source / data set.",
            "default": false,
            "type": "boolean"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CustomDimension"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics.edit"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "put": {
        "description": "Updates an existing custom dimension.",
        "operationId": "analytics.management.customDimensions.update",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/CustomDimension"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID for the custom dimension to update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "webPropertyId",
            "in": "path",
            "description": "Web property ID for the custom dimension to update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "customDimensionId",
            "in": "path",
            "description": "Custom dimension ID for the custom dimension to update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "ignoreCustomDataSourceLinks",
            "in": "query",
            "description": "Force the update and ignore any warnings related to the custom dimension being linked to a custom data source / data set.",
            "default": false,
            "type": "boolean"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CustomDimension"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics.edit"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions": {
      "post": {
        "description": "Create a new custom dimension.",
        "operationId": "analytics.management.customDimensions.insert",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/CustomDimension"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID for the custom dimension to create.",
            "required": true,
            "type": "string"
          },
          {
            "name": "webPropertyId",
            "in": "path",
            "description": "Web property ID for the custom dimension to create.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CustomDimension"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics.edit"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "get": {
        "description": "Lists custom dimensions to which the user has access.",
        "operationId": "analytics.management.customDimensions.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/CustomDimensions"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID for the custom dimensions to retrieve.",
            "required": true,
            "type": "string"
          },
          {
            "name": "webPropertyId",
            "in": "path",
            "description": "Web property ID for the custom dimensions to retrieve.",
            "required": true,
            "type": "string"
          },
          {
            "name": "max-results",
            "in": "query",
            "description": "The maximum number of custom dimensions to include in this response.",
            "type": "integer"
          },
          {
            "name": "start-index",
            "in": "query",
            "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
            "type": "integer",
            "minimum": 1
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics",
              "https://www.googleapis.com/auth/analytics.readonly"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics/{customMetricId}": {
      "get": {
        "description": "Get a custom metric to which the user has access.",
        "operationId": "analytics.management.customMetrics.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/CustomMetric"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID for the custom metric to retrieve.",
            "required": true,
            "type": "string"
          },
          {
            "name": "webPropertyId",
            "in": "path",
            "description": "Web property ID for the custom metric to retrieve.",
            "required": true,
            "type": "string"
          },
          {
            "name": "customMetricId",
            "in": "path",
            "description": "The ID of the custom metric to retrieve.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics.edit",
              "https://www.googleapis.com/auth/analytics.readonly"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "patch": {
        "description": "Updates an existing custom metric. This method supports patch semantics.",
        "operationId": "analytics.management.customMetrics.patch",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/CustomMetric"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID for the custom metric to update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "webPropertyId",
            "in": "path",
            "description": "Web property ID for the custom metric to update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "customMetricId",
            "in": "path",
            "description": "Custom metric ID for the custom metric to update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "ignoreCustomDataSourceLinks",
            "in": "query",
            "description": "Force the update and ignore any warnings related to the custom metric being linked to a custom data source / data set.",
            "default": false,
            "type": "boolean"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CustomMetric"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics.edit"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "put": {
        "description": "Updates an existing custom metric.",
        "operationId": "analytics.management.customMetrics.update",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/CustomMetric"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID for the custom metric to update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "webPropertyId",
            "in": "path",
            "description": "Web property ID for the custom metric to update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "customMetricId",
            "in": "path",
            "description": "Custom metric ID for the custom metric to update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "ignoreCustomDataSourceLinks",
            "in": "query",
            "description": "Force the update and ignore any warnings related to the custom metric being linked to a custom data source / data set.",
            "default": false,
            "type": "boolean"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CustomMetric"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics.edit"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics": {
      "post": {
        "description": "Create a new custom metric.",
        "operationId": "analytics.management.customMetrics.insert",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/CustomMetric"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID for the custom metric to create.",
            "required": true,
            "type": "string"
          },
          {
            "name": "webPropertyId",
            "in": "path",
            "description": "Web property ID for the custom dimension to create.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CustomMetric"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics.edit"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "get": {
        "description": "Lists custom metrics to which the user has access.",
        "operationId": "analytics.management.customMetrics.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/CustomMetrics"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID for the custom metrics to retrieve.",
            "required": true,
            "type": "string"
          },
          {
            "name": "webPropertyId",
            "in": "path",
            "description": "Web property ID for the custom metrics to retrieve.",
            "required": true,
            "type": "string"
          },
          {
            "name": "max-results",
            "in": "query",
            "description": "The maximum number of custom metrics to include in this response.",
            "type": "integer"
          },
          {
            "name": "start-index",
            "in": "query",
            "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
            "type": "integer",
            "minimum": 1
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics",
              "https://www.googleapis.com/auth/analytics.readonly"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}": {
      "delete": {
        "description": "Delete an experiment.",
        "operationId": "analytics.management.experiments.delete",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID to which the experiment belongs",
            "required": true,
            "type": "string"
          },
          {
            "name": "webPropertyId",
            "in": "path",
            "description": "Web property ID to which the experiment belongs",
            "required": true,
            "type": "string"
          },
          {
            "name": "profileId",
            "in": "path",
            "description": "View (Profile) ID to which the experiment belongs",
            "required": true,
            "type": "string"
          },
          {
            "name": "experimentId",
            "in": "path",
            "description": "ID of the experiment to delete",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics",
              "https://www.googleapis.com/auth/analytics.edit"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "get": {
        "description": "Returns an experiment to which the user has access.",
        "operationId": "analytics.management.experiments.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Experiment"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID to retrieve the experiment for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "webPropertyId",
            "in": "path",
            "description": "Web property ID to retrieve the experiment for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "profileId",
            "in": "path",
            "description": "View (Profile) ID to retrieve the experiment for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "experimentId",
            "in": "path",
            "description": "Experiment ID to retrieve the experiment for.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics",
              "https://www.googleapis.com/auth/analytics.edit",
              "https://www.googleapis.com/auth/analytics.readonly"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "patch": {
        "description": "Update an existing experiment. This method supports patch semantics.",
        "operationId": "analytics.management.experiments.patch",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Experiment"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID of the experiment to update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "webPropertyId",
            "in": "path",
            "description": "Web property ID of the experiment to update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "profileId",
            "in": "path",
            "description": "View (Profile) ID of the experiment to update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "experimentId",
            "in": "path",
            "description": "Experiment ID of the experiment to update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Experiment"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics",
              "https://www.googleapis.com/auth/analytics.edit"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "put": {
        "description": "Update an existing experiment.",
        "operationId": "analytics.management.experiments.update",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Experiment"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID of the experiment to update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "webPropertyId",
            "in": "path",
            "description": "Web property ID of the experiment to update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "profileId",
            "in": "path",
            "description": "View (Profile) ID of the experiment to update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "experimentId",
            "in": "path",
            "description": "Experiment ID of the experiment to update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Experiment"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics",
              "https://www.googleapis.com/auth/analytics.edit"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments": {
      "post": {
        "description": "Create a new experiment.",
        "operationId": "analytics.management.experiments.insert",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Experiment"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID to create the experiment for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "webPropertyId",
            "in": "path",
            "description": "Web property ID to create the experiment for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "profileId",
            "in": "path",
            "description": "View (Profile) ID to create the experiment for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Experiment"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics",
              "https://www.googleapis.com/auth/analytics.edit"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "get": {
        "description": "Lists experiments to which the user has access.",
        "operationId": "analytics.management.experiments.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Experiments"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID to retrieve experiments for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "webPropertyId",
            "in": "path",
            "description": "Web property ID to retrieve experiments for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "profileId",
            "in": "path",
            "description": "View (Profile) ID to retrieve experiments for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "max-results",
            "in": "query",
            "description": "The maximum number of experiments to include in this response.",
            "type": "integer"
          },
          {
            "name": "start-index",
            "in": "query",
            "description": "An index of the first experiment to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
            "type": "integer",
            "minimum": 1
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics",
              "https://www.googleapis.com/auth/analytics.edit",
              "https://www.googleapis.com/auth/analytics.readonly"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/management/accounts/{accountId}/filters/{filterId}": {
      "delete": {
        "description": "Delete a filter.",
        "operationId": "analytics.management.filters.delete",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Filter"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID to delete the filter for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "filterId",
            "in": "path",
            "description": "ID of the filter to be deleted.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics.edit"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "get": {
        "description": "Returns a filters to which the user has access.",
        "operationId": "analytics.management.filters.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Filter"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID to retrieve filters for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "filterId",
            "in": "path",
            "description": "Filter ID to retrieve filters for.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics.edit",
              "https://www.googleapis.com/auth/analytics.readonly"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "patch": {
        "description": "Updates an existing filter. This method supports patch semantics.",
        "operationId": "analytics.management.filters.patch",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Filter"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID to which the filter belongs.",
            "required": true,
            "type": "string"
          },
          {
            "name": "filterId",
            "in": "path",
            "description": "ID of the filter to be updated.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Filter"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics.edit"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "put": {
        "description": "Updates an existing filter.",
        "operationId": "analytics.management.filters.update",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Filter"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID to which the filter belongs.",
            "required": true,
            "type": "string"
          },
          {
            "name": "filterId",
            "in": "path",
            "description": "ID of the filter to be updated.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Filter"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics.edit"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/management/accounts/{accountId}/filters": {
      "post": {
        "description": "Create a new filter.",
        "operationId": "analytics.management.filters.insert",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Filter"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID to create filter for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Filter"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics.edit"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "get": {
        "description": "Lists all filters for an account",
        "operationId": "analytics.management.filters.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Filters"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID to retrieve filters for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "max-results",
            "in": "query",
            "description": "The maximum number of filters to include in this response.",
            "type": "integer"
          },
          {
            "name": "start-index",
            "in": "query",
            "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
            "type": "integer",
            "minimum": 1
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics.edit",
              "https://www.googleapis.com/auth/analytics.readonly"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals/{goalId}": {
      "get": {
        "description": "Gets a goal to which the user has access.",
        "operationId": "analytics.management.goals.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Goal"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID to retrieve the goal for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "webPropertyId",
            "in": "path",
            "description": "Web property ID to retrieve the goal for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "profileId",
            "in": "path",
            "description": "View (Profile) ID to retrieve the goal for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "goalId",
            "in": "path",
            "description": "Goal ID to retrieve the goal for.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics.edit",
              "https://www.googleapis.com/auth/analytics.readonly"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "patch": {
        "description": "Updates an existing view (profile). This method supports patch semantics.",
        "operationId": "analytics.management.goals.patch",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Goal"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID to update the goal.",
            "required": true,
            "type": "string"
          },
          {
            "name": "webPropertyId",
            "in": "path",
            "description": "Web property ID to update the goal.",
            "required": true,
            "type": "string"
          },
          {
            "name": "profileId",
            "in": "path",
            "description": "View (Profile) ID to update the goal.",
            "required": true,
            "type": "string"
          },
          {
            "name": "goalId",
            "in": "path",
            "description": "Index of the goal to be updated.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Goal"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics.edit"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "put": {
        "description": "Updates an existing view (profile).",
        "operationId": "analytics.management.goals.update",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Goal"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID to update the goal.",
            "required": true,
            "type": "string"
          },
          {
            "name": "webPropertyId",
            "in": "path",
            "description": "Web property ID to update the goal.",
            "required": true,
            "type": "string"
          },
          {
            "name": "profileId",
            "in": "path",
            "description": "View (Profile) ID to update the goal.",
            "required": true,
            "type": "string"
          },
          {
            "name": "goalId",
            "in": "path",
            "description": "Index of the goal to be updated.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Goal"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics.edit"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals": {
      "post": {
        "description": "Create a new goal.",
        "operationId": "analytics.management.goals.insert",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Goal"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID to create the goal for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "webPropertyId",
            "in": "path",
            "description": "Web property ID to create the goal for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "profileId",
            "in": "path",
            "description": "View (Profile) ID to create the goal for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Goal"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics.edit"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "get": {
        "description": "Lists goals to which the user has access.",
        "operationId": "analytics.management.goals.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Goals"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID to retrieve goals for. Can either be a specific account ID or '~all', which refers to all the accounts that user has access to.",
            "required": true,
            "type": "string"
          },
          {
            "name": "webPropertyId",
            "in": "path",
            "description": "Web property ID to retrieve goals for. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to.",
            "required": true,
            "type": "string"
          },
          {
            "name": "profileId",
            "in": "path",
            "description": "View (Profile) ID to retrieve goals for. Can either be a specific view (profile) ID or '~all', which refers to all the views (profiles) that user has access to.",
            "required": true,
            "type": "string"
          },
          {
            "name": "max-results",
            "in": "query",
            "description": "The maximum number of goals to include in this response.",
            "type": "integer"
          },
          {
            "name": "start-index",
            "in": "query",
            "description": "An index of the first goal to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
            "type": "integer",
            "minimum": 1
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics",
              "https://www.googleapis.com/auth/analytics.edit",
              "https://www.googleapis.com/auth/analytics.readonly"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks/{linkId}": {
      "delete": {
        "description": "Delete a profile filter link.",
        "operationId": "analytics.management.profileFilterLinks.delete",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID to which the profile filter link belongs.",
            "required": true,
            "type": "string"
          },
          {
            "name": "webPropertyId",
            "in": "path",
            "description": "Web property Id to which the profile filter link belongs.",
            "required": true,
            "type": "string"
          },
          {
            "name": "profileId",
            "in": "path",
            "description": "Profile ID to which the filter link belongs.",
            "required": true,
            "type": "string"
          },
          {
            "name": "linkId",
            "in": "path",
            "description": "ID of the profile filter link to delete.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics.edit"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "get": {
        "description": "Returns a single profile filter link.",
        "operationId": "analytics.management.profileFilterLinks.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ProfileFilterLink"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID to retrieve profile filter link for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "webPropertyId",
            "in": "path",
            "description": "Web property Id to retrieve profile filter link for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "profileId",
            "in": "path",
            "description": "Profile ID to retrieve filter link for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "linkId",
            "in": "path",
            "description": "ID of the profile filter link.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics.edit",
              "https://www.googleapis.com/auth/analytics.readonly"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "patch": {
        "description": "Update an existing profile filter link. This method supports patch semantics.",
        "operationId": "analytics.management.profileFilterLinks.patch",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ProfileFilterLink"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID to which profile filter link belongs.",
            "required": true,
            "type": "string"
          },
          {
            "name": "webPropertyId",
            "in": "path",
            "description": "Web property Id to which profile filter link belongs",
            "required": true,
            "type": "string"
          },
          {
            "name": "profileId",
            "in": "path",
            "description": "Profile ID to which filter link belongs",
            "required": true,
            "type": "string"
          },
          {
            "name": "linkId",
            "in": "path",
            "description": "ID of the profile filter link to be updated.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ProfileFilterLink"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics.edit"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "put": {
        "description": "Update an existing profile filter link.",
        "operationId": "analytics.management.profileFilterLinks.update",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ProfileFilterLink"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID to which profile filter link belongs.",
            "required": true,
            "type": "string"
          },
          {
            "name": "webPropertyId",
            "in": "path",
            "description": "Web property Id to which profile filter link belongs",
            "required": true,
            "type": "string"
          },
          {
            "name": "profileId",
            "in": "path",
            "description": "Profile ID to which filter link belongs",
            "required": true,
            "type": "string"
          },
          {
            "name": "linkId",
            "in": "path",
            "description": "ID of the profile filter link to be updated.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ProfileFilterLink"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics.edit"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks": {
      "post": {
        "description": "Create a new profile filter link.",
        "operationId": "analytics.management.profileFilterLinks.insert",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ProfileFilterLink"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID to create profile filter link for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "webPropertyId",
            "in": "path",
            "description": "Web property Id to create profile filter link for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "profileId",
            "in": "path",
            "description": "Profile ID to create filter link for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ProfileFilterLink"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics.edit"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "get": {
        "description": "Lists all profile filter links for a profile.",
        "operationId": "analytics.management.profileFilterLinks.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ProfileFilterLinks"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID to retrieve profile filter links for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "webPropertyId",
            "in": "path",
            "description": "Web property Id for profile filter links for. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to.",
            "required": true,
            "type": "string"
          },
          {
            "name": "profileId",
            "in": "path",
            "description": "Profile ID to retrieve filter links for. Can either be a specific profile ID or '~all', which refers to all the profiles that user has access to.",
            "required": true,
            "type": "string"
          },
          {
            "name": "max-results",
            "in": "query",
            "description": "The maximum number of profile filter links to include in this response.",
            "type": "integer"
          },
          {
            "name": "start-index",
            "in": "query",
            "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
            "type": "integer",
            "minimum": 1
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics.edit",
              "https://www.googleapis.com/auth/analytics.readonly"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks/{linkId}": {
      "delete": {
        "description": "Removes a user from the given view (profile).",
        "operationId": "analytics.management.profileUserLinks.delete",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID to delete the user link for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "webPropertyId",
            "in": "path",
            "description": "Web Property ID to delete the user link for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "profileId",
            "in": "path",
            "description": "View (Profile) ID to delete the user link for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "linkId",
            "in": "path",
            "description": "Link ID to delete the user link for.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics.manage.users"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "put": {
        "description": "Updates permissions for an existing user on the given view (profile).",
        "operationId": "analytics.management.profileUserLinks.update",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/EntityUserLink"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID to update the user link for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "webPropertyId",
            "in": "path",
            "description": "Web Property ID to update the user link for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "profileId",
            "in": "path",
            "description": "View (Profile ID) to update the user link for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "linkId",
            "in": "path",
            "description": "Link ID to update the user link for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/EntityUserLink"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics.manage.users"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks": {
      "post": {
        "description": "Adds a new user to the given view (profile).",
        "operationId": "analytics.management.profileUserLinks.insert",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/EntityUserLink"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID to create the user link for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "webPropertyId",
            "in": "path",
            "description": "Web Property ID to create the user link for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "profileId",
            "in": "path",
            "description": "View (Profile) ID to create the user link for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/EntityUserLink"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics.manage.users"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "get": {
        "description": "Lists profile-user links for a given view (profile).",
        "operationId": "analytics.management.profileUserLinks.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/EntityUserLinks"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID which the given view (profile) belongs to.",
            "required": true,
            "type": "string"
          },
          {
            "name": "webPropertyId",
            "in": "path",
            "description": "Web Property ID which the given view (profile) belongs to. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to.",
            "required": true,
            "type": "string"
          },
          {
            "name": "profileId",
            "in": "path",
            "description": "View (Profile) ID to retrieve the profile-user links for. Can either be a specific profile ID or '~all', which refers to all the profiles that user has access to.",
            "required": true,
            "type": "string"
          },
          {
            "name": "max-results",
            "in": "query",
            "description": "The maximum number of profile-user links to include in this response.",
            "type": "integer"
          },
          {
            "name": "start-index",
            "in": "query",
            "description": "An index of the first profile-user link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
            "type": "integer",
            "minimum": 1
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics.manage.users",
              "https://www.googleapis.com/auth/analytics.manage.users.readonly"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}": {
      "delete": {
        "description": "Deletes a view (profile).",
        "operationId": "analytics.management.profiles.delete",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID to delete the view (profile) for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "webPropertyId",
            "in": "path",
            "description": "Web property ID to delete the view (profile) for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "profileId",
            "in": "path",
            "description": "ID of the view (profile) to be deleted.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics.edit"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "get": {
        "description": "Gets a view (profile) to which the user has access.",
        "operationId": "analytics.management.profiles.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Profile"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID to retrieve the goal for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "webPropertyId",
            "in": "path",
            "description": "Web property ID to retrieve the goal for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "profileId",
            "in": "path",
            "description": "View (Profile) ID to retrieve the goal for.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics.edit",
              "https://www.googleapis.com/auth/analytics.readonly"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "patch": {
        "description": "Updates an existing view (profile). This method supports patch semantics.",
        "operationId": "analytics.management.profiles.patch",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Profile"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID to which the view (profile) belongs",
            "required": true,
            "type": "string"
          },
          {
            "name": "webPropertyId",
            "in": "path",
            "description": "Web property ID to which the view (profile) belongs",
            "required": true,
            "type": "string"
          },
          {
            "name": "profileId",
            "in": "path",
            "description": "ID of the view (profile) to be updated.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Profile"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics.edit"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "put": {
        "description": "Updates an existing view (profile).",
        "operationId": "analytics.management.profiles.update",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Profile"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID to which the view (profile) belongs",
            "required": true,
            "type": "string"
          },
          {
            "name": "webPropertyId",
            "in": "path",
            "description": "Web property ID to which the view (profile) belongs",
            "required": true,
            "type": "string"
          },
          {
            "name": "profileId",
            "in": "path",
            "description": "ID of the view (profile) to be updated.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Profile"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics.edit"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/management/accounts/{accountId}/webproperties/{webPropertyId}/profiles": {
      "post": {
        "description": "Create a new view (profile).",
        "operationId": "analytics.management.profiles.insert",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Profile"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID to create the view (profile) for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "webPropertyId",
            "in": "path",
            "description": "Web property ID to create the view (profile) for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Profile"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics.edit"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "get": {
        "description": "Lists views (profiles) to which the user has access.",
        "operationId": "analytics.management.profiles.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Profiles"
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account ID for the view (profiles) to retrieve. Can either be a specific account ID or '~all', which refers to all the accounts to which the user has access.",
            "required": true,
            "type": "string"
          },
          {
            "name": "webPropertyId",
            "in": "path",
            "description": "Web property ID for the views (profiles) to retrieve. Can either be a specific web property ID or '~all', which refers to all the web properties to which the user has access.",
            "required": true,
            "type": "string"
          },
          {
            "name": "max-results",
            "in": "query",
            "description": "The maximum number of views (profiles) to include in this response.",
            "type": "integer"
          },
          {
            "name": "start-index",
            "in": "query",
            "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
            "type": "integer",
            "minimum": 1
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics",
              "https://www.googleapis.com/auth/analytics.edit",
              "https://www.googleapis.com/auth/analytics.readonly"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/management/segments": {
      "get": {
        "description": "Lists segments to which the user has access.",
        "operationId": "analytics.management.segments.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Segments"
            }
          }
        },
        "parameters": [
          {
            "name": "max-results",
            "in": "query",
            "description": "The maximum number of segments to include in this response.",
            "type": "integer"
          },
          {
            "name": "start-index",
            "in": "query",
            "description": "An index of the first segment to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
            "type": "integer",
            "minimum": 1
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/analytics",
              "https://www.googleapis.com/auth/analytics.edit",
              "https://www.googleapis.com/auth/analytics.readonly"
            ]
          }
        ],
        "tags": [
          "management"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports/{unsampledReportId}": {
      "get": {
        "description": "Returns a single unsampled report.",
        "operationId": "analytics.management.unsampledReports.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/UnsampledReport"
            }
          }
        },
        "parameters": [
[...]
