swagger: '2.0'
info:
  version: '2010-12-01'
  x-release: v4
  title: Amazon Simple Email Service
  description: '<fullname>Amazon Simple Email Service</fullname> <p> This document contains reference information for the <a href="https://aws.amazon.com/ses/">Amazon Simple Email Service</a> (Amazon SES) API, version 2010-12-01. This document is best used in conjunction with the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/Welcome.html">Amazon SES Developer Guide</a>. </p> <note> <p> For a list of Amazon SES endpoints to use in service requests, see <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/regions.html">Regions and Amazon SES</a> in the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/Welcome.html">Amazon SES Developer Guide</a>.</p> </note>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: email
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/email-2010-12-01.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/email/'
host: email.amazonaws.com
basePath: /
schemes:
  - https
  - http
x-servers:
  - url: 'http://email.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The Amazon SES multi-region endpoint
  - url: 'https://email.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The Amazon SES multi-region endpoint
  - url: 'http://email.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The Amazon SES endpoint for China (Beijing) and China (Ningxia)
  - url: 'https://email.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The Amazon SES endpoint for China (Beijing) and China (Ningxia)
x-hasEquivalentPaths: true
consumes:
  - text/xml
produces:
  - text/xml
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  '/#Action=CloneReceiptRuleSet':
    get:
      x-aws-operation-name: CloneReceiptRuleSet
      operationId: GET CloneReceiptRuleSet
      description: '<p>Creates a receipt rule set by cloning an existing one. All receipt rules and configurations are copied to the new receipt rule set and are completely independent of the source rule set.</p> <p>For information about setting up rule sets, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rule-set.html">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CloneReceiptRuleSetResponse'
        '480':
          description: RuleSetDoesNotExistException
          schema:
            $ref: '#/definitions/RuleSetDoesNotExistException'
        '481':
          description: AlreadyExistsException
          schema:
            $ref: '#/definitions/AlreadyExistsException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: RuleSetName
          in: query
          required: true
          description: '<p>The name of the rule set to create. The name must:</p> <ul> <li> <p>This value can only contain ASCII letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-).</p> </li> <li> <p>Start and end with a letter or number.</p> </li> <li> <p>Contain less than 64 characters.</p> </li> </ul>'
          type: string
        - name: OriginalRuleSetName
          in: query
          required: true
          description: The name of the rule set to clone.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CloneReceiptRuleSet
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-12-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: CloneReceiptRuleSet
      operationId: POST CloneReceiptRuleSet
      description: '<p>Creates a receipt rule set by cloning an existing one. All receipt rules and configurations are copied to the new receipt rule set and are completely independent of the source rule set.</p> <p>For information about setting up rule sets, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rule-set.html">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CloneReceiptRuleSetResponse'
        '480':
          description: RuleSetDoesNotExistException
          schema:
            $ref: '#/definitions/RuleSetDoesNotExistException'
        '481':
          description: AlreadyExistsException
          schema:
            $ref: '#/definitions/AlreadyExistsException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: RuleSetName
          in: formData
          required: true
          description: '<p>The name of the rule set to create. The name must:</p> <ul> <li> <p>This value can only contain ASCII letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-).</p> </li> <li> <p>Start and end with a letter or number.</p> </li> <li> <p>Contain less than 64 characters.</p> </li> </ul>'
          type: string
        - name: OriginalRuleSetName
          in: formData
          required: true
          description: The name of the rule set to clone.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CloneReceiptRuleSet
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-12-01'
  '/#Action=CreateConfigurationSet':
    get:
      x-aws-operation-name: CreateConfigurationSet
      operationId: GET CreateConfigurationSet
      description: '<p>Creates a configuration set.</p> <p>Configuration sets enable you to publish email sending events. For information about using configuration sets, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateConfigurationSetResponse'
        '480':
          description: ConfigurationSetAlreadyExistsException
          schema:
            $ref: '#/definitions/ConfigurationSetAlreadyExistsException'
        '481':
          description: InvalidConfigurationSetException
          schema:
            $ref: '#/definitions/InvalidConfigurationSetException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: ConfigurationSet.Name
          in: query
          description: |-
            <p>The name of the configuration set.</p> <p>Configuration sets let you create groups of rules that you can apply to the emails you send using Amazon SES. For more information about using configuration sets, see <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/using-configuration-sets.html">Using Amazon SES Configuration Sets</a> in the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/">Amazon SES Developer Guide</a>.</p>
            <p>The name of the configuration set. The name must meet the following requirements:</p> <ul> <li> <p>Contain only letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-).</p> </li> <li> <p>Contain 64 characters or fewer.</p> </li> </ul>
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateConfigurationSet
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-12-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: CreateConfigurationSet
      operationId: POST CreateConfigurationSet
      description: '<p>Creates a configuration set.</p> <p>Configuration sets enable you to publish email sending events. For information about using configuration sets, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateConfigurationSetResponse'
        '480':
          description: ConfigurationSetAlreadyExistsException
          schema:
            $ref: '#/definitions/ConfigurationSetAlreadyExistsException'
        '481':
          description: InvalidConfigurationSetException
          schema:
            $ref: '#/definitions/InvalidConfigurationSetException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: ConfigurationSet.Name
          in: formData
          description: |-
            <p>The name of the configuration set.</p> <p>Configuration sets let you create groups of rules that you can apply to the emails you send using Amazon SES. For more information about using configuration sets, see <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/using-configuration-sets.html">Using Amazon SES Configuration Sets</a> in the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/">Amazon SES Developer Guide</a>.</p>
            <p>The name of the configuration set. The name must meet the following requirements:</p> <ul> <li> <p>Contain only letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-).</p> </li> <li> <p>Contain 64 characters or fewer.</p> </li> </ul>
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateConfigurationSet
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-12-01'
  '/#Action=CreateConfigurationSetEventDestination':
    get:
      x-aws-operation-name: CreateConfigurationSetEventDestination
      operationId: GET CreateConfigurationSetEventDestination
      description: '<p>Creates a configuration set event destination.</p> <note> <p>When you create or update an event destination, you must provide one, and only one, destination. The destination can be CloudWatch, Amazon Kinesis Firehose, or Amazon Simple Notification Service (Amazon SNS).</p> </note> <p>An event destination is the AWS service to which Amazon SES publishes the email sending events associated with a configuration set. For information about using configuration sets, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateConfigurationSetEventDestinationResponse'
        '480':
          description: ConfigurationSetDoesNotExistException
          schema:
            $ref: '#/definitions/ConfigurationSetDoesNotExistException'
        '481':
          description: EventDestinationAlreadyExistsException
          schema:
            $ref: '#/definitions/EventDestinationAlreadyExistsException'
        '482':
          description: InvalidCloudWatchDestinationException
          schema:
            $ref: '#/definitions/InvalidCloudWatchDestinationException'
        '483':
          description: InvalidFirehoseDestinationException
          schema:
            $ref: '#/definitions/InvalidFirehoseDestinationException'
        '484':
          description: InvalidSNSDestinationException
          schema:
            $ref: '#/definitions/InvalidSNSDestinationException'
        '485':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: ConfigurationSetName
          in: query
          required: true
          description: The name of the configuration set that the event destination should be associated with.
          type: string
        - name: EventDestination.Name
          in: query
          description: |-
            <p>Contains information about the event destination that the specified email sending events will be published to.</p> <note> <p>When you create or update an event destination, you must provide one, and only one, destination. The destination can be Amazon CloudWatch, Amazon Kinesis Firehose or Amazon Simple Notification Service (Amazon SNS).</p> </note> <p>Event destinations are associated with configuration sets, which enable you to publish email sending events to Amazon CloudWatch, Amazon Kinesis Firehose, or Amazon Simple Notification Service (Amazon SNS). For information about using configuration sets, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html">Amazon SES Developer Guide</a>.</p>
            <p>The name of the event destination. The name must:</p> <ul> <li> <p>This value can only contain ASCII letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-).</p> </li> <li> <p>Contain less than 64 characters.</p> </li> </ul>
          type: string
        - name: EventDestination.Enabled
          in: query
          description: |-
            <p>Contains information about the event destination that the specified email sending events will be published to.</p> <note> <p>When you create or update an event destination, you must provide one, and only one, destination. The destination can be Amazon CloudWatch, Amazon Kinesis Firehose or Amazon Simple Notification Service (Amazon SNS).</p> </note> <p>Event destinations are associated with configuration sets, which enable you to publish email sending events to Amazon CloudWatch, Amazon Kinesis Firehose, or Amazon Simple Notification Service (Amazon SNS). For information about using configuration sets, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html">Amazon SES Developer Guide</a>.</p>
            Sets whether Amazon SES publishes events to this destination when you send an email with the associated configuration set. Set to <code>true</code> to enable publishing to this destination; set to <code>false</code> to prevent publishing to this destination. The default value is <code>false</code>.
          type: string
        - name: EventDestination.MatchingEventTypes
          in: query
          description: |-
            <p>Contains information about the event destination that the specified email sending events will be published to.</p> <note> <p>When you create or update an event destination, you must provide one, and only one, destination. The destination can be Amazon CloudWatch, Amazon Kinesis Firehose or Amazon Simple Notification Service (Amazon SNS).</p> </note> <p>Event destinations are associated with configuration sets, which enable you to publish email sending events to Amazon CloudWatch, Amazon Kinesis Firehose, or Amazon Simple Notification Service (Amazon SNS). For information about using configuration sets, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html">Amazon SES Developer Guide</a>.</p>
            The type of email sending events to publish to the event destination.
          type: array
          items:
            type: string
        - name: EventDestination.KinesisFirehoseDestination
          in: query
          description: |-
            <p>Contains information about the event destination that the specified email sending events will be published to.</p> <note> <p>When you create or update an event destination, you must provide one, and only one, destination. The destination can be Amazon CloudWatch, Amazon Kinesis Firehose or Amazon Simple Notification Service (Amazon SNS).</p> </note> <p>Event destinations are associated with configuration sets, which enable you to publish email sending events to Amazon CloudWatch, Amazon Kinesis Firehose, or Amazon Simple Notification Service (Amazon SNS). For information about using configuration sets, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html">Amazon SES Developer Guide</a>.</p>
            An object that contains the delivery stream ARN and the IAM role ARN associated with an Amazon Kinesis Firehose event destination.
          type: string
        - name: EventDestination.CloudWatchDestination
          in: query
          description: |-
            <p>Contains information about the event destination that the specified email sending events will be published to.</p> <note> <p>When you create or update an event destination, you must provide one, and only one, destination. The destination can be Amazon CloudWatch, Amazon Kinesis Firehose or Amazon Simple Notification Service (Amazon SNS).</p> </note> <p>Event destinations are associated with configuration sets, which enable you to publish email sending events to Amazon CloudWatch, Amazon Kinesis Firehose, or Amazon Simple Notification Service (Amazon SNS). For information about using configuration sets, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html">Amazon SES Developer Guide</a>.</p>
            An object that contains the names, default values, and sources of the dimensions associated with an Amazon CloudWatch event destination.
          type: string
        - name: EventDestination.SNSDestination
          in: query
          description: |-
            <p>Contains information about the event destination that the specified email sending events will be published to.</p> <note> <p>When you create or update an event destination, you must provide one, and only one, destination. The destination can be Amazon CloudWatch, Amazon Kinesis Firehose or Amazon Simple Notification Service (Amazon SNS).</p> </note> <p>Event destinations are associated with configuration sets, which enable you to publish email sending events to Amazon CloudWatch, Amazon Kinesis Firehose, or Amazon Simple Notification Service (Amazon SNS). For information about using configuration sets, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html">Amazon SES Developer Guide</a>.</p>
            An object that contains the topic ARN associated with an Amazon Simple Notification Service (Amazon SNS) event destination.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateConfigurationSetEventDestination
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-12-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: CreateConfigurationSetEventDestination
      operationId: POST CreateConfigurationSetEventDestination
      description: '<p>Creates a configuration set event destination.</p> <note> <p>When you create or update an event destination, you must provide one, and only one, destination. The destination can be CloudWatch, Amazon Kinesis Firehose, or Amazon Simple Notification Service (Amazon SNS).</p> </note> <p>An event destination is the AWS service to which Amazon SES publishes the email sending events associated with a configuration set. For information about using configuration sets, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateConfigurationSetEventDestinationResponse'
        '480':
          description: ConfigurationSetDoesNotExistException
          schema:
            $ref: '#/definitions/ConfigurationSetDoesNotExistException'
        '481':
          description: EventDestinationAlreadyExistsException
          schema:
            $ref: '#/definitions/EventDestinationAlreadyExistsException'
        '482':
          description: InvalidCloudWatchDestinationException
          schema:
            $ref: '#/definitions/InvalidCloudWatchDestinationException'
        '483':
          description: InvalidFirehoseDestinationException
          schema:
            $ref: '#/definitions/InvalidFirehoseDestinationException'
        '484':
          description: InvalidSNSDestinationException
          schema:
            $ref: '#/definitions/InvalidSNSDestinationException'
        '485':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: ConfigurationSetName
          in: formData
          required: true
          description: The name of the configuration set that the event destination should be associated with.
          type: string
        - name: EventDestination.Name
          in: formData
          description: |-
            <p>Contains information about the event destination that the specified email sending events will be published to.</p> <note> <p>When you create or update an event destination, you must provide one, and only one, destination. The destination can be Amazon CloudWatch, Amazon Kinesis Firehose or Amazon Simple Notification Service (Amazon SNS).</p> </note> <p>Event destinations are associated with configuration sets, which enable you to publish email sending events to Amazon CloudWatch, Amazon Kinesis Firehose, or Amazon Simple Notification Service (Amazon SNS). For information about using configuration sets, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html">Amazon SES Developer Guide</a>.</p>
            <p>The name of the event destination. The name must:</p> <ul> <li> <p>This value can only contain ASCII letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-).</p> </li> <li> <p>Contain less than 64 characters.</p> </li> </ul>
          type: string
        - name: EventDestination.Enabled
          in: formData
          description: |-
            <p>Contains information about the event destination that the specified email sending events will be published to.</p> <note> <p>When you create or update an event destination, you must provide one, and only one, destination. The destination can be Amazon CloudWatch, Amazon Kinesis Firehose or Amazon Simple Notification Service (Amazon SNS).</p> </note> <p>Event destinations are associated with configuration sets, which enable you to publish email sending events to Amazon CloudWatch, Amazon Kinesis Firehose, or Amazon Simple Notification Service (Amazon SNS). For information about using configuration sets, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html">Amazon SES Developer Guide</a>.</p>
            Sets whether Amazon SES publishes events to this destination when you send an email with the associated configuration set. Set to <code>true</code> to enable publishing to this destination; set to <code>false</code> to prevent publishing to this destination. The default value is <code>false</code>.
          type: string
        - name: EventDestination.MatchingEventTypes
          in: formData
          description: |-
            <p>Contains information about the event destination that the specified email sending events will be published to.</p> <note> <p>When you create or update an event destination, you must provide one, and only one, destination. The destination can be Amazon CloudWatch, Amazon Kinesis Firehose or Amazon Simple Notification Service (Amazon SNS).</p> </note> <p>Event destinations are associated with configuration sets, which enable you to publish email sending events to Amazon CloudWatch, Amazon Kinesis Firehose, or Amazon Simple Notification Service (Amazon SNS). For information about using configuration sets, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html">Amazon SES Developer Guide</a>.</p>
            The type of email sending events to publish to the event destination.
          type: array
          items:
            type: string
        - name: EventDestination.KinesisFirehoseDestination
          in: formData
          description: |-
            <p>Contains information about the event destination that the specified email sending events will be published to.</p> <note> <p>When you create or update an event destination, you must provide one, and only one, destination. The destination can be Amazon CloudWatch, Amazon Kinesis Firehose or Amazon Simple Notification Service (Amazon SNS).</p> </note> <p>Event destinations are associated with configuration sets, which enable you to publish email sending events to Amazon CloudWatch, Amazon Kinesis Firehose, or Amazon Simple Notification Service (Amazon SNS). For information about using configuration sets, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html">Amazon SES Developer Guide</a>.</p>
            An object that contains the delivery stream ARN and the IAM role ARN associated with an Amazon Kinesis Firehose event destination.
          type: string
        - name: EventDestination.CloudWatchDestination
          in: formData
          description: |-
            <p>Contains information about the event destination that the specified email sending events will be published to.</p> <note> <p>When you create or update an event destination, you must provide one, and only one, destination. The destination can be Amazon CloudWatch, Amazon Kinesis Firehose or Amazon Simple Notification Service (Amazon SNS).</p> </note> <p>Event destinations are associated with configuration sets, which enable you to publish email sending events to Amazon CloudWatch, Amazon Kinesis Firehose, or Amazon Simple Notification Service (Amazon SNS). For information about using configuration sets, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html">Amazon SES Developer Guide</a>.</p>
            An object that contains the names, default values, and sources of the dimensions associated with an Amazon CloudWatch event destination.
          type: string
        - name: EventDestination.SNSDestination
          in: formData
          description: |-
            <p>Contains information about the event destination that the specified email sending events will be published to.</p> <note> <p>When you create or update an event destination, you must provide one, and only one, destination. The destination can be Amazon CloudWatch, Amazon Kinesis Firehose or Amazon Simple Notification Service (Amazon SNS).</p> </note> <p>Event destinations are associated with configuration sets, which enable you to publish email sending events to Amazon CloudWatch, Amazon Kinesis Firehose, or Amazon Simple Notification Service (Amazon SNS). For information about using configuration sets, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html">Amazon SES Developer Guide</a>.</p>
            An object that contains the topic ARN associated with an Amazon Simple Notification Service (Amazon SNS) event destination.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateConfigurationSetEventDestination
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-12-01'
  '/#Action=CreateConfigurationSetTrackingOptions':
    get:
      x-aws-operation-name: CreateConfigurationSetTrackingOptions
      operationId: GET CreateConfigurationSetTrackingOptions
      description: '<p>Creates an association between a configuration set and a custom domain for open and click event tracking. </p> <p>By default, images and links used for tracking open and click events are hosted on domains operated by Amazon SES. You can configure a subdomain of your own to handle these events. For information about using custom domains, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/configure-custom-open-click-domains.html">Amazon SES Developer Guide</a>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateConfigurationSetTrackingOptionsResponse'
        '480':
          description: ConfigurationSetDoesNotExistException
          schema:
            $ref: '#/definitions/ConfigurationSetDoesNotExistException'
        '481':
          description: TrackingOptionsAlreadyExistsException
          schema:
            $ref: '#/definitions/TrackingOptionsAlreadyExistsException'
        '482':
          description: InvalidTrackingOptionsException
          schema:
            $ref: '#/definitions/InvalidTrackingOptionsException'
      parameters:
        - name: ConfigurationSetName
          in: query
          required: true
          description: The name of the configuration set that the tracking options should be associated with.
          type: string
        - name: TrackingOptions.CustomRedirectDomain
          in: query
          description: |-
            <p>A domain that is used to redirect email recipients to an Amazon SES-operated domain. This domain captures open and click events generated by Amazon SES emails.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/configure-custom-open-click-domains.html">Configuring Custom Domains to Handle Open and Click Tracking</a> in the <i>Amazon SES Developer Guide</i>.</p>
            The custom subdomain that will be used to redirect email recipients to the Amazon SES event tracking domain.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateConfigurationSetTrackingOptions
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-12-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: CreateConfigurationSetTrackingOptions
      operationId: POST CreateConfigurationSetTrackingOptions
      description: '<p>Creates an association between a configuration set and a custom domain for open and click event tracking. </p> <p>By default, images and links used for tracking open and click events are hosted on domains operated by Amazon SES. You can configure a subdomain of your own to handle these events. For information about using custom domains, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/configure-custom-open-click-domains.html">Amazon SES Developer Guide</a>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateConfigurationSetTrackingOptionsResponse'
        '480':
          description: ConfigurationSetDoesNotExistException
          schema:
            $ref: '#/definitions/ConfigurationSetDoesNotExistException'
        '481':
          description: TrackingOptionsAlreadyExistsException
          schema:
            $ref: '#/definitions/TrackingOptionsAlreadyExistsException'
        '482':
          description: InvalidTrackingOptionsException
          schema:
            $ref: '#/definitions/InvalidTrackingOptionsException'
      parameters:
        - name: ConfigurationSetName
          in: formData
          required: true
          description: The name of the configuration set that the tracking options should be associated with.
          type: string
        - name: TrackingOptions.CustomRedirectDomain
          in: formData
          description: |-
            <p>A domain that is used to redirect email recipients to an Amazon SES-operated domain. This domain captures open and click events generated by Amazon SES emails.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/configure-custom-open-click-domains.html">Configuring Custom Domains to Handle Open and Click Tracking</a> in the <i>Amazon SES Developer Guide</i>.</p>
            The custom subdomain that will be used to redirect email recipients to the Amazon SES event tracking domain.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateConfigurationSetTrackingOptions
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-12-01'
  '/#Action=CreateCustomVerificationEmailTemplate':
    get:
      x-aws-operation-name: CreateCustomVerificationEmailTemplate
      operationId: GET CreateCustomVerificationEmailTemplate
      description: '<p>Creates a new custom verification email template.</p> <p>For more information about custom verification email templates, see <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/custom-verification-emails.html">Using Custom Verification Email Templates</a> in the <i>Amazon SES Developer Guide</i>.</p> <p>You can execute this operation no more than once per second.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: CustomVerificationEmailTemplateAlreadyExistsException
          schema:
            $ref: '#/definitions/CustomVerificationEmailTemplateAlreadyExistsException'
        '481':
          description: FromEmailAddressNotVerifiedException
          schema:
            $ref: '#/definitions/FromEmailAddressNotVerifiedException'
        '482':
          description: CustomVerificationEmailInvalidContentException
          schema:
            $ref: '#/definitions/CustomVerificationEmailInvalidContentException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: TemplateName
          in: query
          required: true
          description: The name of the custom verification email template.
          type: string
        - name: FromEmailAddress
          in: query
          required: true
          description: The email address that the custom verification email is sent from.
          type: string
        - name: TemplateSubject
          in: query
          required: true
          description: The subject line of the custom verification email.
          type: string
        - name: TemplateContent
          in: query
          required: true
          description: 'The content of the custom verification email. The total size of the email must be less than 10 MB. The message body may contain HTML, with some limitations. For more information, see <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/custom-verification-emails.html#custom-verification-emails-faq">Custom Verification Email Frequently Asked Questions</a> in the <i>Amazon SES Developer Guide</i>.'
          type: string
        - name: SuccessRedirectionURL
          in: query
          required: true
          description: The URL that the recipient of the verification email is sent to if his or her address is successfully verified.
          type: string
        - name: FailureRedirectionURL
          in: query
          required: true
          description: The URL that the recipient of the verification email is sent to if his or her address is not successfully verified.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateCustomVerificationEmailTemplate
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-12-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: CreateCustomVerificationEmailTemplate
      operationId: POST CreateCustomVerificationEmailTemplate
      description: '<p>Creates a new custom verification email template.</p> <p>For more information about custom verification email templates, see <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/custom-verification-emails.html">Using Custom Verification Email Templates</a> in the <i>Amazon SES Developer Guide</i>.</p> <p>You can execute this operation no more than once per second.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: CustomVerificationEmailTemplateAlreadyExistsException
          schema:
            $ref: '#/definitions/CustomVerificationEmailTemplateAlreadyExistsException'
        '481':
          description: FromEmailAddressNotVerifiedException
          schema:
            $ref: '#/definitions/FromEmailAddressNotVerifiedException'
        '482':
          description: CustomVerificationEmailInvalidContentException
          schema:
            $ref: '#/definitions/CustomVerificationEmailInvalidContentException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: TemplateName
          in: formData
          required: true
          description: The name of the custom verification email template.
          type: string
        - name: FromEmailAddress
          in: formData
          required: true
          description: The email address that the custom verification email is sent from.
          type: string
        - name: TemplateSubject
          in: formData
          required: true
          description: The subject line of the custom verification email.
          type: string
        - name: TemplateContent
          in: formData
          required: true
          description: 'The content of the custom verification email. The total size of the email must be less than 10 MB. The message body may contain HTML, with some limitations. For more information, see <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/custom-verification-emails.html#custom-verification-emails-faq">Custom Verification Email Frequently Asked Questions</a> in the <i>Amazon SES Developer Guide</i>.'
          type: string
        - name: SuccessRedirectionURL
          in: formData
          required: true
          description: The URL that the recipient of the verification email is sent to if his or her address is successfully verified.
          type: string
        - name: FailureRedirectionURL
          in: formData
          required: true
          description: The URL that the recipient of the verification email is sent to if his or her address is not successfully verified.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateCustomVerificationEmailTemplate
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-12-01'
  '/#Action=CreateReceiptFilter':
    get:
      x-aws-operation-name: CreateReceiptFilter
      operationId: GET CreateReceiptFilter
      description: '<p>Creates a new IP address filter.</p> <p>For information about setting up IP address filters, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-ip-filters.html">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateReceiptFilterResponse'
        '480':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '481':
          description: AlreadyExistsException
          schema:
            $ref: '#/definitions/AlreadyExistsException'
      parameters:
        - name: Filter.Name
          in: query
          description: |-
            <p>A receipt IP address filter enables you to specify whether to accept or reject mail originating from an IP address or range of IP addresses.</p> <p>For information about setting up IP address filters, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-ip-filters.html">Amazon SES Developer Guide</a>.</p>
            <p>The name of the IP address filter. The name must:</p> <ul> <li> <p>This value can only contain ASCII letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-).</p> </li> <li> <p>Start and end with a letter or number.</p> </li> <li> <p>Contain less than 64 characters.</p> </li> </ul>
          type: string
        - name: Filter.IpFilter
          in: query
          description: |-
            <p>A receipt IP address filter enables you to specify whether to accept or reject mail originating from an IP address or range of IP addresses.</p> <p>For information about setting up IP address filters, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-ip-filters.html">Amazon SES Developer Guide</a>.</p>
            A structure that provides the IP addresses to block or allow, and whether to block or allow incoming mail from them.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateReceiptFilter
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-12-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: CreateReceiptFilter
      operationId: POST CreateReceiptFilter
      description: '<p>Creates a new IP address filter.</p> <p>For information about setting up IP address filters, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-ip-filters.html">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateReceiptFilterResponse'
        '480':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '481':
          description: AlreadyExistsException
          schema:
            $ref: '#/definitions/AlreadyExistsException'
      parameters:
        - name: Filter.Name
          in: formData
          description: |-
            <p>A receipt IP address filter enables you to specify whether to accept or reject mail originating from an IP address or range of IP addresses.</p> <p>For information about setting up IP address filters, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-ip-filters.html">Amazon SES Developer Guide</a>.</p>
            <p>The name of the IP address filter. The name must:</p> <ul> <li> <p>This value can only contain ASCII letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-).</p> </li> <li> <p>Start and end with a letter or number.</p> </li> <li> <p>Contain less than 64 characters.</p> </li> </ul>
          type: string
        - name: Filter.IpFilter
          in: formData
          description: |-
            <p>A receipt IP address filter enables you to specify whether to accept or reject mail originating from an IP address or range of IP addresses.</p> <p>For information about setting up IP address filters, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-ip-filters.html">Amazon SES Developer Guide</a>.</p>
            A structure that provides the IP addresses to block or allow, and whether to block or allow incoming mail from them.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateReceiptFilter
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-12-01'
  '/#Action=CreateReceiptRule':
    get:
      x-aws-operation-name: CreateReceiptRule
      operationId: GET CreateReceiptRule
      description: '<p>Creates a receipt rule.</p> <p>For information about setting up receipt rules, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rules.html">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateReceiptRuleResponse'
        '480':
          description: InvalidSnsTopicException
          schema:
            $ref: '#/definitions/InvalidSnsTopicException'
        '481':
          description: InvalidS3ConfigurationException
          schema:
            $ref: '#/definitions/InvalidS3ConfigurationException'
        '482':
          description: InvalidLambdaFunctionException
          schema:
            $ref: '#/definitions/InvalidLambdaFunctionException'
        '483':
          description: AlreadyExistsException
          schema:
            $ref: '#/definitions/AlreadyExistsException'
        '484':
          description: RuleDoesNotExistException
          schema:
            $ref: '#/definitions/RuleDoesNotExistException'
        '485':
          description: RuleSetDoesNotExistException
          schema:
            $ref: '#/definitions/RuleSetDoesNotExistException'
        '486':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: RuleSetName
          in: query
          required: true
          description: The name of the rule set that the receipt rule will be added to.
          type: string
        - name: After
          in: query
          required: false
          description: 'The name of an existing rule after which the new rule will be placed. If this parameter is null, the new rule will be inserted at the beginning of the rule list.'
          type: string
        - name: Rule.Name
          in: query
          description: |-
            <p>Receipt rules enable you to specify which actions Amazon SES should take when it receives mail on behalf of one or more email addresses or domains that you own.</p> <p>Each receipt rule defines a set of email addresses or domains that it applies to. If the email addresses or domains match at least one recipient address of the message, Amazon SES executes all of the receipt rule's actions on the message.</p> <p>For information about setting up receipt rules, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rules.html">Amazon SES Developer Guide</a>.</p>
            <p>The name of the receipt rule. The name must:</p> <ul> <li> <p>This value can only contain ASCII letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-).</p> </li> <li> <p>Start and end with a letter or number.</p> </li> <li> <p>Contain less than 64 characters.</p> </li> </ul>
          type: string
        - name: Rule.Enabled
          in: query
          description: |-
            <p>Receipt rules enable you to specify which actions Amazon SES should take when it receives mail on behalf of one or more email addresses or domains that you own.</p> <p>Each receipt rule defines a set of email addresses or domains that it applies to. If the email addresses or domains match at least one recipient address of the message, Amazon SES executes all of the receipt rule's actions on the message.</p> <p>For information about setting up receipt rules, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rules.html">Amazon SES Developer Guide</a>.</p>
            If <code>true</code>, the receipt rule is active. The default value is <code>false</code>.
          type: string
        - name: Rule.TlsPolicy
          in: query
          description: |-
            <p>Receipt rules enable you to specify which actions Amazon SES should take when it receives mail on behalf of one or more email addresses or domains that you own.</p> <p>Each receipt rule defines a set of email addresses or domains that it applies to. If the email addresses or domains match at least one recipient address of the message, Amazon SES executes all of the receipt rule's actions on the message.</p> <p>For information about setting up receipt rules, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rules.html">Amazon SES Developer Guide</a>.</p>
            Specifies whether Amazon SES should require that incoming email is delivered over a connection encrypted with Transport Layer Security (TLS). If this parameter is set to <code>Require</code>, Amazon SES will bounce emails that are not received over TLS. The default is <code>Optional</code>.
          type: string
        - name: Rule.Recipients
          in: query
          description: |-
            <p>Receipt rules enable you to specify which actions Amazon SES should take when it receives mail on behalf of one or more email addresses or domains that you own.</p> <p>Each receipt rule defines a set of email addresses or domains that it applies to. If the email addresses or domains match at least one recipient address of the message, Amazon SES executes all of the receipt rule's actions on the message.</p> <p>For information about setting up receipt rules, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rules.html">Amazon SES Developer Guide</a>.</p>
            The recipient domains and email addresses that the receipt rule applies to. If this field is not specified, this rule will match all recipients under all verified domains.
          type: array
          items:
            type: string
        - name: Rule.Actions
          in: query
          description: |-
            <p>Receipt rules enable you to specify which actions Amazon SES should take when it receives mail on behalf of one or more email addresses or domains that you own.</p> <p>Each receipt rule defines a set of email addresses or domains that it applies to. If the email addresses or domains match at least one recipient address of the message, Amazon SES executes all of the receipt rule's actions on the message.</p> <p>For information about setting up receipt rules, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rules.html">Amazon SES Developer Guide</a>.</p>
            An ordered list of actions to perform on messages that match at least one of the recipient email addresses or domains specified in the receipt rule.
          type: array
          items:
            type: string
        - name: Rule.ScanEnabled
          in: query
          description: |-
            <p>Receipt rules enable you to specify which actions Amazon SES should take when it receives mail on behalf of one or more email addresses or domains that you own.</p> <p>Each receipt rule defines a set of email addresses or domains that it applies to. If the email addresses or domains match at least one recipient address of the message, Amazon SES executes all of the receipt rule's actions on the message.</p> <p>For information about setting up receipt rules, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rules.html">Amazon SES Developer Guide</a>.</p>
            If <code>true</code>, then messages that this receipt rule applies to are scanned for spam and viruses. The default value is <code>false</code>.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateReceiptRule
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-12-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: CreateReceiptRule
      operationId: POST CreateReceiptRule
      description: '<p>Creates a receipt rule.</p> <p>For information about setting up receipt rules, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rules.html">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateReceiptRuleResponse'
        '480':
          description: InvalidSnsTopicException
          schema:
            $ref: '#/definitions/InvalidSnsTopicException'
        '481':
          description: InvalidS3ConfigurationException
          schema:
            $ref: '#/definitions/InvalidS3ConfigurationException'
        '482':
          description: InvalidLambdaFunctionException
          schema:
            $ref: '#/definitions/InvalidLambdaFunctionException'
        '483':
          description: AlreadyExistsException
          schema:
            $ref: '#/definitions/AlreadyExistsException'
        '484':
          description: RuleDoesNotExistException
          schema:
            $ref: '#/definitions/RuleDoesNotExistException'
        '485':
          description: RuleSetDoesNotExistException
          schema:
            $ref: '#/definitions/RuleSetDoesNotExistException'
        '486':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: RuleSetName
          in: formData
          required: true
          description: The name of the rule set that the receipt rule will be added to.
          type: string
        - name: After
          in: formData
          required: false
          description: 'The name of an existing rule after which the new rule will be placed. If this parameter is null, the new rule will be inserted at the beginning of the rule list.'
          type: string
        - name: Rule.Name
          in: formData
          description: |-
            <p>Receipt rules enable you to specify which actions Amazon SES should take when it receives mail on behalf of one or more email addresses or domains that you own.</p> <p>Each receipt rule defines a set of email addresses or domains that it applies to. If the email addresses or domains match at least one recipient address of the message, Amazon SES executes all of the receipt rule's actions on the message.</p> <p>For information about setting up receipt rules, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rules.html">Amazon SES Developer Guide</a>.</p>
            <p>The name of the receipt rule. The name must:</p> <ul> <li> <p>This value can only contain ASCII letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-).</p> </li> <li> <p>Start and end with a letter or number.</p> </li> <li> <p>Contain less than 64 characters.</p> </li> </ul>
          type: string
        - name: Rule.Enabled
          in: formData
          description: |-
            <p>Receipt rules enable you to specify which actions Amazon SES should take when it receives mail on behalf of one or more email addresses or domains that you own.</p> <p>Each receipt rule defines a set of email addresses or domains that it applies to. If the email addresses or domains match at least one recipient address of the message, Amazon SES executes all of the receipt rule's actions on the message.</p> <p>For information about setting up receipt rules, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rules.html">Amazon SES Developer Guide</a>.</p>
            If <code>true</code>, the receipt rule is active. The default value is <code>false</code>.
          type: string
        - name: Rule.TlsPolicy
          in: formData
          description: |-
            <p>Receipt rules enable you to specify which actions Amazon SES should take when it receives mail on behalf of one or more email addresses or domains that you own.</p> <p>Each receipt rule defines a set of email addresses or domains that it applies to. If the email addresses or domains match at least one recipient address of the message, Amazon SES executes all of the receipt rule's actions on the message.</p> <p>For information about setting up receipt rules, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rules.html">Amazon SES Developer Guide</a>.</p>
            Specifies whether Amazon SES should require that incoming email is delivered over a connection encrypted with Transport Layer Security (TLS). If this parameter is set to <code>Require</code>, Amazon SES will bounce emails that are not received over TLS. The default is <code>Optional</code>.
          type: string
        - name: Rule.Recipients
          in: formData
          description: |-
            <p>Receipt rules enable you to specify which actions Amazon SES should take when it receives mail on behalf of one or more email addresses or domains that you own.</p> <p>Each receipt rule defines a set of email addresses or domains that it applies to. If the email addresses or domains match at least one recipient address of the message, Amazon SES executes all of the receipt rule's actions on the message.</p> <p>For information about setting up receipt rules, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rules.html">Amazon SES Developer Guide</a>.</p>
            The recipient domains and email addresses that the receipt rule applies to. If this field is not specified, this rule will match all recipients under all verified domains.
          type: array
          items:
            type: string
        - name: Rule.Actions
          in: formData
          description: |-
            <p>Receipt rules enable you to specify which actions Amazon SES should take when it receives mail on behalf of one or more email addresses or domains that you own.</p> <p>Each receipt rule defines a set of email addresses or domains that it applies to. If the email addresses or domains match at least one recipient address of the message, Amazon SES executes all of the receipt rule's actions on the message.</p> <p>For information about setting up receipt rules, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rules.html">Amazon SES Developer Guide</a>.</p>
            An ordered list of actions to perform on messages that match at least one of the recipient email addresses or domains specified in the receipt rule.
          type: array
          items:
            type: string
        - name: Rule.ScanEnabled
          in: formData
          description: |-
            <p>Receipt rules enable you to specify which actions Amazon SES should take when it receives mail on behalf of one or more email addresses or domains that you own.</p> <p>Each receipt rule defines a set of email addresses or domains that it applies to. If the email addresses or domains match at least one recipient address of the message, Amazon SES executes all of the receipt rule's actions on the message.</p> <p>For information about setting up receipt rules, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rules.html">Amazon SES Developer Guide</a>.</p>
            If <code>true</code>, then messages that this receipt rule applies to are scanned for spam and viruses. The default value is <code>false</code>.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateReceiptRule
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-12-01'
  '/#Action=CreateReceiptRuleSet':
    get:
      x-aws-operation-name: CreateReceiptRuleSet
      operationId: GET CreateReceiptRuleSet
      description: '<p>Creates an empty receipt rule set.</p> <p>For information about setting up receipt rule sets, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rule-set.html">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateReceiptRuleSetResponse'
        '480':
          description: AlreadyExistsException
          schema:
            $ref: '#/definitions/AlreadyExistsException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: RuleSetName
          in: query
          required: true
          description: '<p>The name of the rule set to create. The name must:</p> <ul> <li> <p>This value can only contain ASCII letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-).</p> </li> <li> <p>Start and end with a letter or number.</p> </li> <li> <p>Contain less than 64 characters.</p> </li> </ul>'
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateReceiptRuleSet
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-12-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: CreateReceiptRuleSet
      operationId: POST CreateReceiptRuleSet
      description: '<p>Creates an empty receipt rule set.</p> <p>For information about setting up receipt rule sets, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rule-set.html">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateReceiptRuleSetResponse'
        '480':
          description: AlreadyExistsException
          schema:
            $ref: '#/definitions/AlreadyExistsException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: RuleSetName
          in: formData
          required: true
          description: '<p>The name of the rule set to create. The name must:</p> <ul> <li> <p>This value can only contain ASCII letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-).</p> </li> <li> <p>Start and end with a letter or number.</p> </li> <li> <p>Contain less than 64 characters.</p> </li> </ul>'
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateReceiptRuleSet
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-12-01'
  '/#Action=CreateTemplate':
    get:
      x-aws-operation-name: CreateTemplate
      operationId: GET CreateTemplate
      description: '<p>Creates an email template. Email templates enable you to send personalized email to one or more destinations in a single API operation. For more information, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/send-personalized-email-api.html">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateTemplateResponse'
        '480':
          description: AlreadyExistsException
          schema:
            $ref: '#/definitions/AlreadyExistsException'
        '481':
          description: InvalidTemplateException
          schema:
            $ref: '#/definitions/InvalidTemplateException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: Template.TemplateName
          in: query
          description: |-
            The content of the email, composed of a subject line, an HTML part, and a text-only part.
            The name of the template. You will refer to this name when you send email using the <code>SendTemplatedEmail</code> or <code>SendBulkTemplatedEmail</code> operations.
          type: string
        - name: Template.SubjectPart
          in: query
          description: |-
            The content of the email, composed of a subject line, an HTML part, and a text-only part.
            The subject line of the email.
          type: string
        - name: Template.TextPart
          in: query
          description: |-
            The content of the email, composed of a subject line, an HTML part, and a text-only part.
            The email body that will be visible to recipients whose email clients do not display HTML.
          type: string
        - name: Template.HtmlPart
          in: query
          description: |-
            The content of the email, composed of a subject line, an HTML part, and a text-only part.
            The HTML body of the email.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateTemplate
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-12-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: CreateTemplate
      operationId: POST CreateTemplate
      description: '<p>Creates an email template. Email templates enable you to send personalized email to one or more destinations in a single API operation. For more information, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/send-personalized-email-api.html">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateTemplateResponse'
        '480':
          description: AlreadyExistsException
          schema:
            $ref: '#/definitions/AlreadyExistsException'
        '481':
          description: InvalidTemplateException
          schema:
            $ref: '#/definitions/InvalidTemplateException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: Template.TemplateName
          in: formData
          description: |-
            The content of the email, composed of a subject line, an HTML part, and a text-only part.
            The name of the template. You will refer to this name when you send email using the <code>SendTemplatedEmail</code> or <code>SendBulkTemplatedEmail</code> operations.
          type: string
        - name: Template.SubjectPart
          in: formData
          description: |-
            The content of the email, composed of a subject line, an HTML part, and a text-only part.
            The subject line of the email.
          type: string
        - name: Template.TextPart
          in: formData
          description: |-
            The content of the email, composed of a subject line, an HTML part, and a text-only part.
            The email body that will be visible to recipients whose email clients do not display HTML.
          type: string
        - name: Template.HtmlPart
          in: formData
          description: |-
            The content of the email, composed of a subject line, an HTML part, and a text-only part.
            The HTML body of the email.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateTemplate
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-12-01'
  '/#Action=DeleteConfigurationSet':
    get:
      x-aws-operation-name: DeleteConfigurationSet
      operationId: GET DeleteConfigurationSet
      description: '<p>Deletes a configuration set. Configuration sets enable you to publish email sending events. For information about using configuration sets, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteConfigurationSetResponse'
        '480':
          description: ConfigurationSetDoesNotExistException
          schema:
            $ref: '#/definitions/ConfigurationSetDoesNotExistException'
      parameters:
        - name: ConfigurationSetName
          in: query
          required: true
          description: The name of the configuration set to delete.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteConfigurationSet
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-12-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DeleteConfigurationSet
      operationId: POST DeleteConfigurationSet
      description: '<p>Deletes a configuration set. Configuration sets enable you to publish email sending events. For information about using configuration sets, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteConfigurationSetResponse'
        '480':
          description: ConfigurationSetDoesNotExistException
          schema:
            $ref: '#/definitions/ConfigurationSetDoesNotExistException'
      parameters:
        - name: ConfigurationSetName
          in: formData
          required: true
          description: The name of the configuration set to delete.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteConfigurationSet
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-12-01'
  '/#Action=DeleteConfigurationSetEventDestination':
    get:
      x-aws-operation-name: DeleteConfigurationSetEventDestination
      operationId: GET DeleteConfigurationSetEventDestination
      description: '<p>Deletes a configuration set event destination. Configuration set event destinations are associated with configuration sets, which enable you to publish email sending events. For information about using configuration sets, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteConfigurationSetEventDestinationResponse'
        '480':
          description: ConfigurationSetDoesNotExistException
          schema:
            $ref: '#/definitions/ConfigurationSetDoesNotExistException'
        '481':
          description: EventDestinationDoesNotExistException
          schema:
            $ref: '#/definitions/EventDestinationDoesNotExistException'
      parameters:
        - name: ConfigurationSetName
          in: query
          required: true
          description: The name of the configuration set from which to delete the event destination.
          type: string
        - name: EventDestinationName
          in: query
          required: true
          description: The name of the event destination to delete.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteConfigurationSetEventDestination
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-12-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DeleteConfigurationSetEventDestination
      operationId: POST DeleteConfigurationSetEventDestination
      description: '<p>Deletes a configuration set event destination. Configuration set event destinations are associated with configuration sets, which enable you to publish email sending events. For information about using configuration sets, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteConfigurationSetEventDestinationResponse'
        '480':
          description: ConfigurationSetDoesNotExistException
          schema:
            $ref: '#/definitions/ConfigurationSetDoesNotExistException'
        '481':
          description: EventDestinationDoesNotExistException
          schema:
            $ref: '#/definitions/EventDestinationDoesNotExistException'
      parameters:
        - name: ConfigurationSetName
          in: formData
          required: true
          description: The name of the configuration set from which to delete the event destination.
          type: string
        - name: EventDestinationName
          in: formData
          required: true
          description: The name of the event destination to delete.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteConfigurationSetEventDestination
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-12-01'
  '/#Action=DeleteConfigurationSetTrackingOptions':
    get:
      x-aws-operation-name: DeleteConfigurationSetTrackingOptions
      operationId: GET DeleteConfigurationSetTrackingOptions
      description: '<p>Deletes an association between a configuration set and a custom domain for open and click event tracking.</p> <p>By default, images and links used for tracking open and click events are hosted on domains operated by Amazon SES. You can configure a subdomain of your own to handle these events. For information about using custom domains, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/configure-custom-open-click-domains.html">Amazon SES Developer Guide</a>.</p> <note> <p>Deleting this kind of association will result in emails sent using the specified configuration set to capture open and click events using the standard, Amazon SES-operated domains.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteConfigurationSetTrackingOptionsResponse'
        '480':
          description: ConfigurationSetDoesNotExistException
          schema:
            $ref: '#/definitions/ConfigurationSetDoesNotExistException'
        '481':
          description: TrackingOptionsDoesNotExistException
          schema:
            $ref: '#/definitions/TrackingOptionsDoesNotExistException'
      parameters:
        - name: ConfigurationSetName
          in: query
          required: true
          description: The name of the configuration set from which you want to delete the tracking options.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteConfigurationSetTrackingOptions
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-12-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DeleteConfigurationSetTrackingOptions
      operationId: POST DeleteConfigurationSetTrackingOptions
      description: '<p>Deletes an association between a configuration set and a custom domain for open and click event tracking.</p> <p>By default, images and links used for tracking open and click events are hosted on domains operated by Amazon SES. You can configure a subdomain of your own to handle these events. For information about using custom domains, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/configure-custom-open-click-domains.html">Amazon SES Developer Guide</a>.</p> <note> <p>Deleting this kind of association will result in emails sent using the specified configuration set to capture open and click events using the standard, Amazon SES-operated domains.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteConfigurationSetTrackingOptionsResponse'
        '480':
          description: ConfigurationSetDoesNotExistException
          schema:
            $ref: '#/definitions/ConfigurationSetDoesNotExistException'
        '481':
          description: TrackingOptionsDoesNotExistException
          schema:
            $ref: '#/definitions/TrackingOptionsDoesNotExistException'
      parameters:
        - name: ConfigurationSetName
          in: formData
          required: true
          description: The name of the configuration set from which you want to delete the tracking options.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteConfigurationSetTrackingOptions
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-12-01'
  '/#Action=DeleteCustomVerificationEmailTemplate':
    get:
      x-aws-operation-name: DeleteCustomVerificationEmailTemplate
      operationId: GET DeleteCustomVerificationEmailTemplate
      description: '<p>Deletes an existing custom verification email template. </p> <p>For more information about custom verification email templates, see <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/custom-verification-emails.html">Using Custom Verification Email Templates</a> in the <i>Amazon SES Developer Guide</i>.</p> <p>You can execute this operation no more than once per second.</p>'
      responses:
        '200':
          description: Success
      parameters:
        - name: TemplateName
          in: query
          required: true
          description: The name of the custom verification email template that you want to delete.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteCustomVerificationEmailTemplate
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-12-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DeleteCustomVerificationEmailTemplate
      operationId: POST DeleteCustomVerificationEmailTemplate
      description: '<p>Deletes an existing custom verification email template. </p> <p>For more information about custom verification email templates, see <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/custom-verification-emails.html">Using Custom Verification Email Templates</a> in the <i>Amazon SES Developer Guide</i>.</p> <p>You can execute this operation no more than once per second.</p>'
      responses:
        '200':
          description: Success
      parameters:
        - name: TemplateName
          in: formData
          required: true
          description: The name of the custom verification email template that you want to delete.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteCustomVerificationEmailTemplate
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-12-01'
  '/#Action=DeleteIdentity':
    get:
      x-aws-operation-name: DeleteIdentity
      operationId: GET DeleteIdentity
      description: <p>Deletes the specified identity (an email address or a domain) from the list of verified identities.</p> <p>You can execute this operation no more than once per second.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteIdentityResponse'
      parameters:
        - name: Identity
          in: query
          required: true
          description: The identity to be removed from the list of identities for the AWS Account.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteIdentity
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-12-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DeleteIdentity
      operationId: POST DeleteIdentity
      description: <p>Deletes the specified identity (an email address or a domain) from the list of verified identities.</p> <p>You can execute this operation no more than once per second.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteIdentityResponse'
      parameters:
        - name: Identity
          in: formData
          required: true
          description: The identity to be removed from the list of identities for the AWS Account.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteIdentity
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-12-01'
  '/#Action=DeleteIdentityPolicy':
    get:
      x-aws-operation-name: DeleteIdentityPolicy
      operationId: GET DeleteIdentityPolicy
      description: '<p>Deletes the specified sending authorization policy for the given identity (an email address or a domain). This API returns successfully even if a policy with the specified name does not exist.</p> <note> <p>This API is for the identity owner only. If you have not verified the identity, this API will return an error.</p> </note> <p>Sending authorization is a feature that enables an identity owner to authorize other senders to use its identities. For information about using sending authorization, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/sending-authorization.html">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteIdentityPolicyResponse'
      parameters:
        - name: Identity
          in: query
          required: true
          description: '<p>The identity that is associated with the policy that you want to delete. You can specify the identity by using its name or by using its Amazon Resource Name (ARN). Examples: <code>user@example.com</code>, <code>example.com</code>, <code>arn:aws:ses:us-east-1:123456789012:identity/example.com</code>.</p> <p>To successfully call this API, you must own the identity.</p>'
          type: string
        - name: PolicyName
          in: query
          required: true
          description: The name of the policy to be deleted.
          type: string
          minLength: 1
          maxLength: 64
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteIdentityPolicy
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-12-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DeleteIdentityPolicy
      operationId: POST DeleteIdentityPolicy
      description: '<p>Deletes the specified sending authorization policy for the given identity (an email address or a domain). This API returns successfully even if a policy with the specified name does not exist.</p> <note> <p>This API is for the identity owner only. If you have not verified the identity, this API will return an error.</p> </note> <p>Sending authorization is a feature that enables an identity owner to authorize other senders to use its identities. For information about using sending authorization, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/sending-authorization.html">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteIdentityPolicyResponse'
      parameters:
        - name: Identity
          in: formData
          required: true
          description: '<p>The identity that is associated with the policy that you want to delete. You can specify the identity by using its name or by using its Amazon Resource Name (ARN). Examples: <code>user@example.com</code>, <code>example.com</code>, <code>arn:aws:ses:us-east-1:123456789012:identity/example.com</code>.</p> <p>To successfully call this API, you must own the identity.</p>'
          type: string
        - name: PolicyName
          in: formData
          required: true
          description: The name of the policy to be deleted.
          type: string
          minLength: 1
          maxLength: 64
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteIdentityPolicy
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-12-01'
  '/#Action=DeleteReceiptFilter':
    get:
      x-aws-operation-name: DeleteReceiptFilter
      operationId: GET DeleteReceiptFilter
      description: '<p>Deletes the specified IP address filter.</p> <p>For information about managing IP address filters, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-managing-ip-filters.html">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteReceiptFilterResponse'
      parameters:
        - name: FilterName
          in: query
          required: true
          description: The name of the IP address filter to delete.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteReceiptFilter
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-12-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DeleteReceiptFilter
      operationId: POST DeleteReceiptFilter
      description: '<p>Deletes the specified IP address filter.</p> <p>For information about managing IP address filters, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-managing-ip-filters.html">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteReceiptFilterResponse'
      parameters:
        - name: FilterName
          in: formData
          required: true
          description: The name of the IP address filter to delete.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteReceiptFilter
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-12-01'
  '/#Action=DeleteReceiptRule':
    get:
      x-aws-operation-name: DeleteReceiptRule
      operationId: GET DeleteReceiptRule
      description: '<p>Deletes the specified receipt rule.</p> <p>For information about managing receipt rules, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-managing-receipt-rules.html">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteReceiptRuleResponse'
        '480':
          description: RuleSetDoesNotExistException
          schema:
            $ref: '#/definitions/RuleSetDoesNotExistException'
      parameters:
        - name: RuleSetName
          in: query
          required: true
          description: The name of the receipt rule set that contains the receipt rule to delete.
          type: string
        - name: RuleName
          in: query
          required: true
          description: The name of the receipt rule to delete.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteReceiptRule
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2010-12-01'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DeleteReceiptRule
      operationId: POST DeleteReceiptRule
      description: '<p>Deletes the specified receipt rule.</p> <p>For information about managing receipt rules, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-managing-receipt-rules.html">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteReceiptRuleResponse'
        '480':
          description: RuleSetDoesNotExistException
          schema:
            $ref: '#/definitions/RuleSetDoesNotExistException'
      parameters:
        - name: RuleSetName
          in: formData
          required: true
          description: The name of the receipt rule set that contains the receipt rule to delete.
[...]
