swagger: '2.0'
schemes:
  - https
  - http
host: email.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: '<fullname>Amazon Simple Email Service</fullname> <p> This document contains reference information for the <a href="https://aws.amazon.com/ses/">Amazon Simple Email Service</a> (Amazon SES) API, version 2010-12-01. This document is best used in conjunction with the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/Welcome.html">Amazon SES Developer Guide</a>. </p> <note> <p> For a list of Amazon SES endpoints to use in service requests, see <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/regions.html">Regions and Amazon SES</a> in the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/Welcome.html">Amazon SES Developer Guide</a>.</p> </note>'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: Amazon Simple Email Service
  version: '2010-12-01'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/email-2010-12-01.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: email
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/email/'
consumes:
  - text/xml
produces:
  - text/xml
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/#Action=CloneReceiptRuleSet':
    get:
      description: '<p>Creates a receipt rule set by cloning an existing one. All receipt rules and configurations are copied to the new receipt rule set and are completely independent of the source rule set.</p> <p>For information about setting up rule sets, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rule-set.html">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>'
      operationId: GET CloneReceiptRuleSet
      parameters:
        - description: '<p>The name of the rule set to create. The name must:</p> <ul> <li> <p>This value can only contain ASCII letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-).</p> </li> <li> <p>Start and end with a letter or number.</p> </li> <li> <p>Contain less than 64 characters.</p> </li> </ul>'
          in: query
          name: RuleSetName
          required: true
          type: string
        - description: The name of the rule set to clone.
          in: query
          name: OriginalRuleSetName
          required: true
          type: string
        - enum:
            - CloneReceiptRuleSet
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CloneReceiptRuleSetResponse'
        '480':
          description: RuleSetDoesNotExistException
          schema:
            $ref: '#/definitions/RuleSetDoesNotExistException'
        '481':
          description: AlreadyExistsException
          schema:
            $ref: '#/definitions/AlreadyExistsException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      x-aws-operation-name: CloneReceiptRuleSet
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a receipt rule set by cloning an existing one. All receipt rules and configurations are copied to the new receipt rule set and are completely independent of the source rule set.</p> <p>For information about setting up rule sets, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rule-set.html">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>'
      operationId: POST CloneReceiptRuleSet
      parameters:
        - description: '<p>The name of the rule set to create. The name must:</p> <ul> <li> <p>This value can only contain ASCII letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-).</p> </li> <li> <p>Start and end with a letter or number.</p> </li> <li> <p>Contain less than 64 characters.</p> </li> </ul>'
          in: formData
          name: RuleSetName
          required: true
          type: string
        - description: The name of the rule set to clone.
          in: formData
          name: OriginalRuleSetName
          required: true
          type: string
        - enum:
            - CloneReceiptRuleSet
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CloneReceiptRuleSetResponse'
        '480':
          description: RuleSetDoesNotExistException
          schema:
            $ref: '#/definitions/RuleSetDoesNotExistException'
        '481':
          description: AlreadyExistsException
          schema:
            $ref: '#/definitions/AlreadyExistsException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      x-aws-operation-name: CloneReceiptRuleSet
  '/#Action=CreateConfigurationSet':
    get:
      description: '<p>Creates a configuration set.</p> <p>Configuration sets enable you to publish email sending events. For information about using configuration sets, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>'
      operationId: GET CreateConfigurationSet
      parameters:
        - description: |-
            <p>The name of the configuration set.</p> <p>Configuration sets let you create groups of rules that you can apply to the emails you send using Amazon SES. For more information about using configuration sets, see <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/using-configuration-sets.html">Using Amazon SES Configuration Sets</a> in the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/">Amazon SES Developer Guide</a>.</p>
            <p>The name of the configuration set. The name must meet the following requirements:</p> <ul> <li> <p>Contain only letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-).</p> </li> <li> <p>Contain 64 characters or fewer.</p> </li> </ul>
          in: query
          name: ConfigurationSet.Name
          type: string
        - enum:
            - CreateConfigurationSet
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateConfigurationSetResponse'
        '480':
          description: ConfigurationSetAlreadyExistsException
          schema:
            $ref: '#/definitions/ConfigurationSetAlreadyExistsException'
        '481':
          description: InvalidConfigurationSetException
          schema:
            $ref: '#/definitions/InvalidConfigurationSetException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      x-aws-operation-name: CreateConfigurationSet
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a configuration set.</p> <p>Configuration sets enable you to publish email sending events. For information about using configuration sets, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>'
      operationId: POST CreateConfigurationSet
      parameters:
        - description: |-
            <p>The name of the configuration set.</p> <p>Configuration sets let you create groups of rules that you can apply to the emails you send using Amazon SES. For more information about using configuration sets, see <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/using-configuration-sets.html">Using Amazon SES Configuration Sets</a> in the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/">Amazon SES Developer Guide</a>.</p>
            <p>The name of the configuration set. The name must meet the following requirements:</p> <ul> <li> <p>Contain only letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-).</p> </li> <li> <p>Contain 64 characters or fewer.</p> </li> </ul>
          in: formData
          name: ConfigurationSet.Name
          type: string
        - enum:
            - CreateConfigurationSet
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateConfigurationSetResponse'
        '480':
          description: ConfigurationSetAlreadyExistsException
          schema:
            $ref: '#/definitions/ConfigurationSetAlreadyExistsException'
        '481':
          description: InvalidConfigurationSetException
          schema:
            $ref: '#/definitions/InvalidConfigurationSetException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      x-aws-operation-name: CreateConfigurationSet
  '/#Action=CreateConfigurationSetEventDestination':
    get:
      description: '<p>Creates a configuration set event destination.</p> <note> <p>When you create or update an event destination, you must provide one, and only one, destination. The destination can be CloudWatch, Amazon Kinesis Firehose, or Amazon Simple Notification Service (Amazon SNS).</p> </note> <p>An event destination is the AWS service to which Amazon SES publishes the email sending events associated with a configuration set. For information about using configuration sets, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>'
      operationId: GET CreateConfigurationSetEventDestination
      parameters:
        - description: The name of the configuration set that the event destination should be associated with.
          in: query
          name: ConfigurationSetName
          required: true
          type: string
        - description: |-
            <p>Contains information about the event destination that the specified email sending events will be published to.</p> <note> <p>When you create or update an event destination, you must provide one, and only one, destination. The destination can be Amazon CloudWatch, Amazon Kinesis Firehose or Amazon Simple Notification Service (Amazon SNS).</p> </note> <p>Event destinations are associated with configuration sets, which enable you to publish email sending events to Amazon CloudWatch, Amazon Kinesis Firehose, or Amazon Simple Notification Service (Amazon SNS). For information about using configuration sets, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html">Amazon SES Developer Guide</a>.</p>
            <p>The name of the event destination. The name must:</p> <ul> <li> <p>This value can only contain ASCII letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-).</p> </li> <li> <p>Contain less than 64 characters.</p> </li> </ul>
          in: query
          name: EventDestination.Name
          type: string
        - description: |-
            <p>Contains information about the event destination that the specified email sending events will be published to.</p> <note> <p>When you create or update an event destination, you must provide one, and only one, destination. The destination can be Amazon CloudWatch, Amazon Kinesis Firehose or Amazon Simple Notification Service (Amazon SNS).</p> </note> <p>Event destinations are associated with configuration sets, which enable you to publish email sending events to Amazon CloudWatch, Amazon Kinesis Firehose, or Amazon Simple Notification Service (Amazon SNS). For information about using configuration sets, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html">Amazon SES Developer Guide</a>.</p>
            Sets whether Amazon SES publishes events to this destination when you send an email with the associated configuration set. Set to <code>true</code> to enable publishing to this destination; set to <code>false</code> to prevent publishing to this destination. The default value is <code>false</code>.
          in: query
          name: EventDestination.Enabled
          type: string
        - description: |-
            <p>Contains information about the event destination that the specified email sending events will be published to.</p> <note> <p>When you create or update an event destination, you must provide one, and only one, destination. The destination can be Amazon CloudWatch, Amazon Kinesis Firehose or Amazon Simple Notification Service (Amazon SNS).</p> </note> <p>Event destinations are associated with configuration sets, which enable you to publish email sending events to Amazon CloudWatch, Amazon Kinesis Firehose, or Amazon Simple Notification Service (Amazon SNS). For information about using configuration sets, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html">Amazon SES Developer Guide</a>.</p>
            The type of email sending events to publish to the event destination.
          in: query
          items:
            type: string
          name: EventDestination.MatchingEventTypes
          type: array
        - description: |-
            <p>Contains information about the event destination that the specified email sending events will be published to.</p> <note> <p>When you create or update an event destination, you must provide one, and only one, destination. The destination can be Amazon CloudWatch, Amazon Kinesis Firehose or Amazon Simple Notification Service (Amazon SNS).</p> </note> <p>Event destinations are associated with configuration sets, which enable you to publish email sending events to Amazon CloudWatch, Amazon Kinesis Firehose, or Amazon Simple Notification Service (Amazon SNS). For information about using configuration sets, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html">Amazon SES Developer Guide</a>.</p>
            An object that contains the delivery stream ARN and the IAM role ARN associated with an Amazon Kinesis Firehose event destination.
          in: query
          name: EventDestination.KinesisFirehoseDestination
          type: string
        - description: |-
            <p>Contains information about the event destination that the specified email sending events will be published to.</p> <note> <p>When you create or update an event destination, you must provide one, and only one, destination. The destination can be Amazon CloudWatch, Amazon Kinesis Firehose or Amazon Simple Notification Service (Amazon SNS).</p> </note> <p>Event destinations are associated with configuration sets, which enable you to publish email sending events to Amazon CloudWatch, Amazon Kinesis Firehose, or Amazon Simple Notification Service (Amazon SNS). For information about using configuration sets, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html">Amazon SES Developer Guide</a>.</p>
            An object that contains the names, default values, and sources of the dimensions associated with an Amazon CloudWatch event destination.
          in: query
          name: EventDestination.CloudWatchDestination
          type: string
        - description: |-
            <p>Contains information about the event destination that the specified email sending events will be published to.</p> <note> <p>When you create or update an event destination, you must provide one, and only one, destination. The destination can be Amazon CloudWatch, Amazon Kinesis Firehose or Amazon Simple Notification Service (Amazon SNS).</p> </note> <p>Event destinations are associated with configuration sets, which enable you to publish email sending events to Amazon CloudWatch, Amazon Kinesis Firehose, or Amazon Simple Notification Service (Amazon SNS). For information about using configuration sets, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html">Amazon SES Developer Guide</a>.</p>
            An object that contains the topic ARN associated with an Amazon Simple Notification Service (Amazon SNS) event destination.
          in: query
          name: EventDestination.SNSDestination
          type: string
        - enum:
            - CreateConfigurationSetEventDestination
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateConfigurationSetEventDestinationResponse'
        '480':
          description: ConfigurationSetDoesNotExistException
          schema:
            $ref: '#/definitions/ConfigurationSetDoesNotExistException'
        '481':
          description: EventDestinationAlreadyExistsException
          schema:
            $ref: '#/definitions/EventDestinationAlreadyExistsException'
        '482':
          description: InvalidCloudWatchDestinationException
          schema:
            $ref: '#/definitions/InvalidCloudWatchDestinationException'
        '483':
          description: InvalidFirehoseDestinationException
          schema:
            $ref: '#/definitions/InvalidFirehoseDestinationException'
        '484':
          description: InvalidSNSDestinationException
          schema:
            $ref: '#/definitions/InvalidSNSDestinationException'
        '485':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      x-aws-operation-name: CreateConfigurationSetEventDestination
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a configuration set event destination.</p> <note> <p>When you create or update an event destination, you must provide one, and only one, destination. The destination can be CloudWatch, Amazon Kinesis Firehose, or Amazon Simple Notification Service (Amazon SNS).</p> </note> <p>An event destination is the AWS service to which Amazon SES publishes the email sending events associated with a configuration set. For information about using configuration sets, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>'
      operationId: POST CreateConfigurationSetEventDestination
      parameters:
        - description: The name of the configuration set that the event destination should be associated with.
          in: formData
          name: ConfigurationSetName
          required: true
          type: string
        - description: |-
            <p>Contains information about the event destination that the specified email sending events will be published to.</p> <note> <p>When you create or update an event destination, you must provide one, and only one, destination. The destination can be Amazon CloudWatch, Amazon Kinesis Firehose or Amazon Simple Notification Service (Amazon SNS).</p> </note> <p>Event destinations are associated with configuration sets, which enable you to publish email sending events to Amazon CloudWatch, Amazon Kinesis Firehose, or Amazon Simple Notification Service (Amazon SNS). For information about using configuration sets, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html">Amazon SES Developer Guide</a>.</p>
            <p>The name of the event destination. The name must:</p> <ul> <li> <p>This value can only contain ASCII letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-).</p> </li> <li> <p>Contain less than 64 characters.</p> </li> </ul>
          in: formData
          name: EventDestination.Name
          type: string
        - description: |-
            <p>Contains information about the event destination that the specified email sending events will be published to.</p> <note> <p>When you create or update an event destination, you must provide one, and only one, destination. The destination can be Amazon CloudWatch, Amazon Kinesis Firehose or Amazon Simple Notification Service (Amazon SNS).</p> </note> <p>Event destinations are associated with configuration sets, which enable you to publish email sending events to Amazon CloudWatch, Amazon Kinesis Firehose, or Amazon Simple Notification Service (Amazon SNS). For information about using configuration sets, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html">Amazon SES Developer Guide</a>.</p>
            Sets whether Amazon SES publishes events to this destination when you send an email with the associated configuration set. Set to <code>true</code> to enable publishing to this destination; set to <code>false</code> to prevent publishing to this destination. The default value is <code>false</code>.
          in: formData
          name: EventDestination.Enabled
          type: string
        - description: |-
            <p>Contains information about the event destination that the specified email sending events will be published to.</p> <note> <p>When you create or update an event destination, you must provide one, and only one, destination. The destination can be Amazon CloudWatch, Amazon Kinesis Firehose or Amazon Simple Notification Service (Amazon SNS).</p> </note> <p>Event destinations are associated with configuration sets, which enable you to publish email sending events to Amazon CloudWatch, Amazon Kinesis Firehose, or Amazon Simple Notification Service (Amazon SNS). For information about using configuration sets, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html">Amazon SES Developer Guide</a>.</p>
            The type of email sending events to publish to the event destination.
          in: formData
          items:
            type: string
          name: EventDestination.MatchingEventTypes
          type: array
        - description: |-
            <p>Contains information about the event destination that the specified email sending events will be published to.</p> <note> <p>When you create or update an event destination, you must provide one, and only one, destination. The destination can be Amazon CloudWatch, Amazon Kinesis Firehose or Amazon Simple Notification Service (Amazon SNS).</p> </note> <p>Event destinations are associated with configuration sets, which enable you to publish email sending events to Amazon CloudWatch, Amazon Kinesis Firehose, or Amazon Simple Notification Service (Amazon SNS). For information about using configuration sets, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html">Amazon SES Developer Guide</a>.</p>
            An object that contains the delivery stream ARN and the IAM role ARN associated with an Amazon Kinesis Firehose event destination.
          in: formData
          name: EventDestination.KinesisFirehoseDestination
          type: string
        - description: |-
            <p>Contains information about the event destination that the specified email sending events will be published to.</p> <note> <p>When you create or update an event destination, you must provide one, and only one, destination. The destination can be Amazon CloudWatch, Amazon Kinesis Firehose or Amazon Simple Notification Service (Amazon SNS).</p> </note> <p>Event destinations are associated with configuration sets, which enable you to publish email sending events to Amazon CloudWatch, Amazon Kinesis Firehose, or Amazon Simple Notification Service (Amazon SNS). For information about using configuration sets, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html">Amazon SES Developer Guide</a>.</p>
            An object that contains the names, default values, and sources of the dimensions associated with an Amazon CloudWatch event destination.
          in: formData
          name: EventDestination.CloudWatchDestination
          type: string
        - description: |-
            <p>Contains information about the event destination that the specified email sending events will be published to.</p> <note> <p>When you create or update an event destination, you must provide one, and only one, destination. The destination can be Amazon CloudWatch, Amazon Kinesis Firehose or Amazon Simple Notification Service (Amazon SNS).</p> </note> <p>Event destinations are associated with configuration sets, which enable you to publish email sending events to Amazon CloudWatch, Amazon Kinesis Firehose, or Amazon Simple Notification Service (Amazon SNS). For information about using configuration sets, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html">Amazon SES Developer Guide</a>.</p>
            An object that contains the topic ARN associated with an Amazon Simple Notification Service (Amazon SNS) event destination.
          in: formData
          name: EventDestination.SNSDestination
          type: string
        - enum:
            - CreateConfigurationSetEventDestination
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateConfigurationSetEventDestinationResponse'
        '480':
          description: ConfigurationSetDoesNotExistException
          schema:
            $ref: '#/definitions/ConfigurationSetDoesNotExistException'
        '481':
          description: EventDestinationAlreadyExistsException
          schema:
            $ref: '#/definitions/EventDestinationAlreadyExistsException'
        '482':
          description: InvalidCloudWatchDestinationException
          schema:
            $ref: '#/definitions/InvalidCloudWatchDestinationException'
        '483':
          description: InvalidFirehoseDestinationException
          schema:
            $ref: '#/definitions/InvalidFirehoseDestinationException'
        '484':
          description: InvalidSNSDestinationException
          schema:
            $ref: '#/definitions/InvalidSNSDestinationException'
        '485':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      x-aws-operation-name: CreateConfigurationSetEventDestination
  '/#Action=CreateConfigurationSetTrackingOptions':
    get:
      description: '<p>Creates an association between a configuration set and a custom domain for open and click event tracking. </p> <p>By default, images and links used for tracking open and click events are hosted on domains operated by Amazon SES. You can configure a subdomain of your own to handle these events. For information about using custom domains, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/configure-custom-open-click-domains.html">Amazon SES Developer Guide</a>.</p>'
      operationId: GET CreateConfigurationSetTrackingOptions
      parameters:
        - description: The name of the configuration set that the tracking options should be associated with.
          in: query
          name: ConfigurationSetName
          required: true
          type: string
        - description: |-
            <p>A domain that is used to redirect email recipients to an Amazon SES-operated domain. This domain captures open and click events generated by Amazon SES emails.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/configure-custom-open-click-domains.html">Configuring Custom Domains to Handle Open and Click Tracking</a> in the <i>Amazon SES Developer Guide</i>.</p>
            The custom subdomain that will be used to redirect email recipients to the Amazon SES event tracking domain.
          in: query
          name: TrackingOptions.CustomRedirectDomain
          type: string
        - enum:
            - CreateConfigurationSetTrackingOptions
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateConfigurationSetTrackingOptionsResponse'
        '480':
          description: ConfigurationSetDoesNotExistException
          schema:
            $ref: '#/definitions/ConfigurationSetDoesNotExistException'
        '481':
          description: TrackingOptionsAlreadyExistsException
          schema:
            $ref: '#/definitions/TrackingOptionsAlreadyExistsException'
        '482':
          description: InvalidTrackingOptionsException
          schema:
            $ref: '#/definitions/InvalidTrackingOptionsException'
      x-aws-operation-name: CreateConfigurationSetTrackingOptions
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates an association between a configuration set and a custom domain for open and click event tracking. </p> <p>By default, images and links used for tracking open and click events are hosted on domains operated by Amazon SES. You can configure a subdomain of your own to handle these events. For information about using custom domains, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/configure-custom-open-click-domains.html">Amazon SES Developer Guide</a>.</p>'
      operationId: POST CreateConfigurationSetTrackingOptions
      parameters:
        - description: The name of the configuration set that the tracking options should be associated with.
          in: formData
          name: ConfigurationSetName
          required: true
          type: string
        - description: |-
            <p>A domain that is used to redirect email recipients to an Amazon SES-operated domain. This domain captures open and click events generated by Amazon SES emails.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/configure-custom-open-click-domains.html">Configuring Custom Domains to Handle Open and Click Tracking</a> in the <i>Amazon SES Developer Guide</i>.</p>
            The custom subdomain that will be used to redirect email recipients to the Amazon SES event tracking domain.
          in: formData
          name: TrackingOptions.CustomRedirectDomain
          type: string
        - enum:
            - CreateConfigurationSetTrackingOptions
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateConfigurationSetTrackingOptionsResponse'
        '480':
          description: ConfigurationSetDoesNotExistException
          schema:
            $ref: '#/definitions/ConfigurationSetDoesNotExistException'
        '481':
          description: TrackingOptionsAlreadyExistsException
          schema:
            $ref: '#/definitions/TrackingOptionsAlreadyExistsException'
        '482':
          description: InvalidTrackingOptionsException
          schema:
            $ref: '#/definitions/InvalidTrackingOptionsException'
      x-aws-operation-name: CreateConfigurationSetTrackingOptions
  '/#Action=CreateCustomVerificationEmailTemplate':
    get:
      description: '<p>Creates a new custom verification email template.</p> <p>For more information about custom verification email templates, see <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/custom-verification-emails.html">Using Custom Verification Email Templates</a> in the <i>Amazon SES Developer Guide</i>.</p> <p>You can execute this operation no more than once per second.</p>'
      operationId: GET CreateCustomVerificationEmailTemplate
      parameters:
        - description: The name of the custom verification email template.
          in: query
          name: TemplateName
          required: true
          type: string
        - description: The email address that the custom verification email is sent from.
          in: query
          name: FromEmailAddress
          required: true
          type: string
        - description: The subject line of the custom verification email.
          in: query
          name: TemplateSubject
          required: true
          type: string
        - description: 'The content of the custom verification email. The total size of the email must be less than 10 MB. The message body may contain HTML, with some limitations. For more information, see <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/custom-verification-emails.html#custom-verification-emails-faq">Custom Verification Email Frequently Asked Questions</a> in the <i>Amazon SES Developer Guide</i>.'
          in: query
          name: TemplateContent
          required: true
          type: string
        - description: The URL that the recipient of the verification email is sent to if his or her address is successfully verified.
          in: query
          name: SuccessRedirectionURL
          required: true
          type: string
        - description: The URL that the recipient of the verification email is sent to if his or her address is not successfully verified.
          in: query
          name: FailureRedirectionURL
          required: true
          type: string
        - enum:
            - CreateCustomVerificationEmailTemplate
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: CustomVerificationEmailTemplateAlreadyExistsException
          schema:
            $ref: '#/definitions/CustomVerificationEmailTemplateAlreadyExistsException'
        '481':
          description: FromEmailAddressNotVerifiedException
          schema:
            $ref: '#/definitions/FromEmailAddressNotVerifiedException'
        '482':
          description: CustomVerificationEmailInvalidContentException
          schema:
            $ref: '#/definitions/CustomVerificationEmailInvalidContentException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      x-aws-operation-name: CreateCustomVerificationEmailTemplate
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a new custom verification email template.</p> <p>For more information about custom verification email templates, see <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/custom-verification-emails.html">Using Custom Verification Email Templates</a> in the <i>Amazon SES Developer Guide</i>.</p> <p>You can execute this operation no more than once per second.</p>'
      operationId: POST CreateCustomVerificationEmailTemplate
      parameters:
        - description: The name of the custom verification email template.
          in: formData
          name: TemplateName
          required: true
          type: string
        - description: The email address that the custom verification email is sent from.
          in: formData
          name: FromEmailAddress
          required: true
          type: string
        - description: The subject line of the custom verification email.
          in: formData
          name: TemplateSubject
          required: true
          type: string
        - description: 'The content of the custom verification email. The total size of the email must be less than 10 MB. The message body may contain HTML, with some limitations. For more information, see <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/custom-verification-emails.html#custom-verification-emails-faq">Custom Verification Email Frequently Asked Questions</a> in the <i>Amazon SES Developer Guide</i>.'
          in: formData
          name: TemplateContent
          required: true
          type: string
        - description: The URL that the recipient of the verification email is sent to if his or her address is successfully verified.
          in: formData
          name: SuccessRedirectionURL
          required: true
          type: string
        - description: The URL that the recipient of the verification email is sent to if his or her address is not successfully verified.
          in: formData
          name: FailureRedirectionURL
          required: true
          type: string
        - enum:
            - CreateCustomVerificationEmailTemplate
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: CustomVerificationEmailTemplateAlreadyExistsException
          schema:
            $ref: '#/definitions/CustomVerificationEmailTemplateAlreadyExistsException'
        '481':
          description: FromEmailAddressNotVerifiedException
          schema:
            $ref: '#/definitions/FromEmailAddressNotVerifiedException'
        '482':
          description: CustomVerificationEmailInvalidContentException
          schema:
            $ref: '#/definitions/CustomVerificationEmailInvalidContentException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      x-aws-operation-name: CreateCustomVerificationEmailTemplate
  '/#Action=CreateReceiptFilter':
    get:
      description: '<p>Creates a new IP address filter.</p> <p>For information about setting up IP address filters, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-ip-filters.html">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>'
      operationId: GET CreateReceiptFilter
      parameters:
        - description: |-
            <p>A receipt IP address filter enables you to specify whether to accept or reject mail originating from an IP address or range of IP addresses.</p> <p>For information about setting up IP address filters, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-ip-filters.html">Amazon SES Developer Guide</a>.</p>
            <p>The name of the IP address filter. The name must:</p> <ul> <li> <p>This value can only contain ASCII letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-).</p> </li> <li> <p>Start and end with a letter or number.</p> </li> <li> <p>Contain less than 64 characters.</p> </li> </ul>
          in: query
          name: Filter.Name
          type: string
        - description: |-
            <p>A receipt IP address filter enables you to specify whether to accept or reject mail originating from an IP address or range of IP addresses.</p> <p>For information about setting up IP address filters, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-ip-filters.html">Amazon SES Developer Guide</a>.</p>
            A structure that provides the IP addresses to block or allow, and whether to block or allow incoming mail from them.
          in: query
          name: Filter.IpFilter
          type: string
        - enum:
            - CreateReceiptFilter
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateReceiptFilterResponse'
        '480':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '481':
          description: AlreadyExistsException
          schema:
            $ref: '#/definitions/AlreadyExistsException'
      x-aws-operation-name: CreateReceiptFilter
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a new IP address filter.</p> <p>For information about setting up IP address filters, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-ip-filters.html">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>'
      operationId: POST CreateReceiptFilter
      parameters:
        - description: |-
            <p>A receipt IP address filter enables you to specify whether to accept or reject mail originating from an IP address or range of IP addresses.</p> <p>For information about setting up IP address filters, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-ip-filters.html">Amazon SES Developer Guide</a>.</p>
            <p>The name of the IP address filter. The name must:</p> <ul> <li> <p>This value can only contain ASCII letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-).</p> </li> <li> <p>Start and end with a letter or number.</p> </li> <li> <p>Contain less than 64 characters.</p> </li> </ul>
          in: formData
          name: Filter.Name
          type: string
        - description: |-
            <p>A receipt IP address filter enables you to specify whether to accept or reject mail originating from an IP address or range of IP addresses.</p> <p>For information about setting up IP address filters, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-ip-filters.html">Amazon SES Developer Guide</a>.</p>
            A structure that provides the IP addresses to block or allow, and whether to block or allow incoming mail from them.
          in: formData
          name: Filter.IpFilter
          type: string
        - enum:
            - CreateReceiptFilter
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateReceiptFilterResponse'
        '480':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '481':
          description: AlreadyExistsException
          schema:
            $ref: '#/definitions/AlreadyExistsException'
      x-aws-operation-name: CreateReceiptFilter
  '/#Action=CreateReceiptRule':
    get:
      description: '<p>Creates a receipt rule.</p> <p>For information about setting up receipt rules, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rules.html">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>'
      operationId: GET CreateReceiptRule
      parameters:
        - description: The name of the rule set that the receipt rule will be added to.
          in: query
          name: RuleSetName
          required: true
          type: string
        - description: 'The name of an existing rule after which the new rule will be placed. If this parameter is null, the new rule will be inserted at the beginning of the rule list.'
          in: query
          name: After
          required: false
          type: string
        - description: |-
            <p>Receipt rules enable you to specify which actions Amazon SES should take when it receives mail on behalf of one or more email addresses or domains that you own.</p> <p>Each receipt rule defines a set of email addresses or domains that it applies to. If the email addresses or domains match at least one recipient address of the message, Amazon SES executes all of the receipt rule's actions on the message.</p> <p>For information about setting up receipt rules, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rules.html">Amazon SES Developer Guide</a>.</p>
            <p>The name of the receipt rule. The name must:</p> <ul> <li> <p>This value can only contain ASCII letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-).</p> </li> <li> <p>Start and end with a letter or number.</p> </li> <li> <p>Contain less than 64 characters.</p> </li> </ul>
          in: query
          name: Rule.Name
          type: string
        - description: |-
            <p>Receipt rules enable you to specify which actions Amazon SES should take when it receives mail on behalf of one or more email addresses or domains that you own.</p> <p>Each receipt rule defines a set of email addresses or domains that it applies to. If the email addresses or domains match at least one recipient address of the message, Amazon SES executes all of the receipt rule's actions on the message.</p> <p>For information about setting up receipt rules, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rules.html">Amazon SES Developer Guide</a>.</p>
            If <code>true</code>, the receipt rule is active. The default value is <code>false</code>.
          in: query
          name: Rule.Enabled
          type: string
        - description: |-
            <p>Receipt rules enable you to specify which actions Amazon SES should take when it receives mail on behalf of one or more email addresses or domains that you own.</p> <p>Each receipt rule defines a set of email addresses or domains that it applies to. If the email addresses or domains match at least one recipient address of the message, Amazon SES executes all of the receipt rule's actions on the message.</p> <p>For information about setting up receipt rules, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rules.html">Amazon SES Developer Guide</a>.</p>
            Specifies whether Amazon SES should require that incoming email is delivered over a connection encrypted with Transport Layer Security (TLS). If this parameter is set to <code>Require</code>, Amazon SES will bounce emails that are not received over TLS. The default is <code>Optional</code>.
          in: query
          name: Rule.TlsPolicy
          type: string
        - description: |-
            <p>Receipt rules enable you to specify which actions Amazon SES should take when it receives mail on behalf of one or more email addresses or domains that you own.</p> <p>Each receipt rule defines a set of email addresses or domains that it applies to. If the email addresses or domains match at least one recipient address of the message, Amazon SES executes all of the receipt rule's actions on the message.</p> <p>For information about setting up receipt rules, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rules.html">Amazon SES Developer Guide</a>.</p>
            The recipient domains and email addresses that the receipt rule applies to. If this field is not specified, this rule will match all recipients under all verified domains.
          in: query
          items:
            type: string
          name: Rule.Recipients
          type: array
        - description: |-
            <p>Receipt rules enable you to specify which actions Amazon SES should take when it receives mail on behalf of one or more email addresses or domains that you own.</p> <p>Each receipt rule defines a set of email addresses or domains that it applies to. If the email addresses or domains match at least one recipient address of the message, Amazon SES executes all of the receipt rule's actions on the message.</p> <p>For information about setting up receipt rules, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rules.html">Amazon SES Developer Guide</a>.</p>
            An ordered list of actions to perform on messages that match at least one of the recipient email addresses or domains specified in the receipt rule.
          in: query
          items:
            type: string
          name: Rule.Actions
          type: array
        - description: |-
            <p>Receipt rules enable you to specify which actions Amazon SES should take when it receives mail on behalf of one or more email addresses or domains that you own.</p> <p>Each receipt rule defines a set of email addresses or domains that it applies to. If the email addresses or domains match at least one recipient address of the message, Amazon SES executes all of the receipt rule's actions on the message.</p> <p>For information about setting up receipt rules, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rules.html">Amazon SES Developer Guide</a>.</p>
            If <code>true</code>, then messages that this receipt rule applies to are scanned for spam and viruses. The default value is <code>false</code>.
          in: query
          name: Rule.ScanEnabled
          type: string
        - enum:
            - CreateReceiptRule
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateReceiptRuleResponse'
        '480':
          description: InvalidSnsTopicException
          schema:
            $ref: '#/definitions/InvalidSnsTopicException'
        '481':
          description: InvalidS3ConfigurationException
          schema:
            $ref: '#/definitions/InvalidS3ConfigurationException'
        '482':
          description: InvalidLambdaFunctionException
          schema:
            $ref: '#/definitions/InvalidLambdaFunctionException'
        '483':
          description: AlreadyExistsException
          schema:
            $ref: '#/definitions/AlreadyExistsException'
        '484':
          description: RuleDoesNotExistException
          schema:
            $ref: '#/definitions/RuleDoesNotExistException'
        '485':
          description: RuleSetDoesNotExistException
          schema:
            $ref: '#/definitions/RuleSetDoesNotExistException'
        '486':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      x-aws-operation-name: CreateReceiptRule
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a receipt rule.</p> <p>For information about setting up receipt rules, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rules.html">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>'
      operationId: POST CreateReceiptRule
      parameters:
        - description: The name of the rule set that the receipt rule will be added to.
          in: formData
          name: RuleSetName
          required: true
          type: string
        - description: 'The name of an existing rule after which the new rule will be placed. If this parameter is null, the new rule will be inserted at the beginning of the rule list.'
          in: formData
          name: After
          required: false
          type: string
        - description: |-
            <p>Receipt rules enable you to specify which actions Amazon SES should take when it receives mail on behalf of one or more email addresses or domains that you own.</p> <p>Each receipt rule defines a set of email addresses or domains that it applies to. If the email addresses or domains match at least one recipient address of the message, Amazon SES executes all of the receipt rule's actions on the message.</p> <p>For information about setting up receipt rules, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rules.html">Amazon SES Developer Guide</a>.</p>
            <p>The name of the receipt rule. The name must:</p> <ul> <li> <p>This value can only contain ASCII letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-).</p> </li> <li> <p>Start and end with a letter or number.</p> </li> <li> <p>Contain less than 64 characters.</p> </li> </ul>
          in: formData
          name: Rule.Name
          type: string
        - description: |-
            <p>Receipt rules enable you to specify which actions Amazon SES should take when it receives mail on behalf of one or more email addresses or domains that you own.</p> <p>Each receipt rule defines a set of email addresses or domains that it applies to. If the email addresses or domains match at least one recipient address of the message, Amazon SES executes all of the receipt rule's actions on the message.</p> <p>For information about setting up receipt rules, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rules.html">Amazon SES Developer Guide</a>.</p>
            If <code>true</code>, the receipt rule is active. The default value is <code>false</code>.
          in: formData
          name: Rule.Enabled
          type: string
        - description: |-
            <p>Receipt rules enable you to specify which actions Amazon SES should take when it receives mail on behalf of one or more email addresses or domains that you own.</p> <p>Each receipt rule defines a set of email addresses or domains that it applies to. If the email addresses or domains match at least one recipient address of the message, Amazon SES executes all of the receipt rule's actions on the message.</p> <p>For information about setting up receipt rules, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rules.html">Amazon SES Developer Guide</a>.</p>
            Specifies whether Amazon SES should require that incoming email is delivered over a connection encrypted with Transport Layer Security (TLS). If this parameter is set to <code>Require</code>, Amazon SES will bounce emails that are not received over TLS. The default is <code>Optional</code>.
          in: formData
          name: Rule.TlsPolicy
          type: string
        - description: |-
            <p>Receipt rules enable you to specify which actions Amazon SES should take when it receives mail on behalf of one or more email addresses or domains that you own.</p> <p>Each receipt rule defines a set of email addresses or domains that it applies to. If the email addresses or domains match at least one recipient address of the message, Amazon SES executes all of the receipt rule's actions on the message.</p> <p>For information about setting up receipt rules, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rules.html">Amazon SES Developer Guide</a>.</p>
            The recipient domains and email addresses that the receipt rule applies to. If this field is not specified, this rule will match all recipients under all verified domains.
          in: formData
          items:
            type: string
          name: Rule.Recipients
          type: array
        - description: |-
            <p>Receipt rules enable you to specify which actions Amazon SES should take when it receives mail on behalf of one or more email addresses or domains that you own.</p> <p>Each receipt rule defines a set of email addresses or domains that it applies to. If the email addresses or domains match at least one recipient address of the message, Amazon SES executes all of the receipt rule's actions on the message.</p> <p>For information about setting up receipt rules, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rules.html">Amazon SES Developer Guide</a>.</p>
            An ordered list of actions to perform on messages that match at least one of the recipient email addresses or domains specified in the receipt rule.
          in: formData
          items:
            type: string
          name: Rule.Actions
          type: array
        - description: |-
            <p>Receipt rules enable you to specify which actions Amazon SES should take when it receives mail on behalf of one or more email addresses or domains that you own.</p> <p>Each receipt rule defines a set of email addresses or domains that it applies to. If the email addresses or domains match at least one recipient address of the message, Amazon SES executes all of the receipt rule's actions on the message.</p> <p>For information about setting up receipt rules, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rules.html">Amazon SES Developer Guide</a>.</p>
            If <code>true</code>, then messages that this receipt rule applies to are scanned for spam and viruses. The default value is <code>false</code>.
          in: formData
          name: Rule.ScanEnabled
          type: string
        - enum:
            - CreateReceiptRule
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateReceiptRuleResponse'
        '480':
          description: InvalidSnsTopicException
          schema:
            $ref: '#/definitions/InvalidSnsTopicException'
        '481':
          description: InvalidS3ConfigurationException
          schema:
            $ref: '#/definitions/InvalidS3ConfigurationException'
        '482':
          description: InvalidLambdaFunctionException
          schema:
            $ref: '#/definitions/InvalidLambdaFunctionException'
        '483':
          description: AlreadyExistsException
          schema:
            $ref: '#/definitions/AlreadyExistsException'
        '484':
          description: RuleDoesNotExistException
          schema:
            $ref: '#/definitions/RuleDoesNotExistException'
        '485':
          description: RuleSetDoesNotExistException
          schema:
            $ref: '#/definitions/RuleSetDoesNotExistException'
        '486':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      x-aws-operation-name: CreateReceiptRule
  '/#Action=CreateReceiptRuleSet':
    get:
      description: '<p>Creates an empty receipt rule set.</p> <p>For information about setting up receipt rule sets, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rule-set.html">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>'
      operationId: GET CreateReceiptRuleSet
      parameters:
        - description: '<p>The name of the rule set to create. The name must:</p> <ul> <li> <p>This value can only contain ASCII letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-).</p> </li> <li> <p>Start and end with a letter or number.</p> </li> <li> <p>Contain less than 64 characters.</p> </li> </ul>'
          in: query
          name: RuleSetName
          required: true
          type: string
        - enum:
            - CreateReceiptRuleSet
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateReceiptRuleSetResponse'
        '480':
          description: AlreadyExistsException
          schema:
            $ref: '#/definitions/AlreadyExistsException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      x-aws-operation-name: CreateReceiptRuleSet
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates an empty receipt rule set.</p> <p>For information about setting up receipt rule sets, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-receipt-rule-set.html">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>'
      operationId: POST CreateReceiptRuleSet
      parameters:
        - description: '<p>The name of the rule set to create. The name must:</p> <ul> <li> <p>This value can only contain ASCII letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-).</p> </li> <li> <p>Start and end with a letter or number.</p> </li> <li> <p>Contain less than 64 characters.</p> </li> </ul>'
          in: formData
          name: RuleSetName
          required: true
          type: string
        - enum:
            - CreateReceiptRuleSet
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateReceiptRuleSetResponse'
        '480':
          description: AlreadyExistsException
          schema:
            $ref: '#/definitions/AlreadyExistsException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      x-aws-operation-name: CreateReceiptRuleSet
  '/#Action=CreateTemplate':
    get:
      description: '<p>Creates an email template. Email templates enable you to send personalized email to one or more destinations in a single API operation. For more information, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/send-personalized-email-api.html">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>'
      operationId: GET CreateTemplate
      parameters:
        - description: |-
            The content of the email, composed of a subject line, an HTML part, and a text-only part.
            The name of the template. You will refer to this name when you send email using the <code>SendTemplatedEmail</code> or <code>SendBulkTemplatedEmail</code> operations.
          in: query
          name: Template.TemplateName
          type: string
        - description: |-
            The content of the email, composed of a subject line, an HTML part, and a text-only part.
            The subject line of the email.
          in: query
          name: Template.SubjectPart
          type: string
        - description: |-
            The content of the email, composed of a subject line, an HTML part, and a text-only part.
            The email body that will be visible to recipients whose email clients do not display HTML.
          in: query
          name: Template.TextPart
          type: string
        - description: |-
            The content of the email, composed of a subject line, an HTML part, and a text-only part.
            The HTML body of the email.
          in: query
          name: Template.HtmlPart
          type: string
        - enum:
            - CreateTemplate
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateTemplateResponse'
        '480':
          description: AlreadyExistsException
          schema:
            $ref: '#/definitions/AlreadyExistsException'
        '481':
          description: InvalidTemplateException
          schema:
            $ref: '#/definitions/InvalidTemplateException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      x-aws-operation-name: CreateTemplate
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates an email template. Email templates enable you to send personalized email to one or more destinations in a single API operation. For more information, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/send-personalized-email-api.html">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>'
      operationId: POST CreateTemplate
      parameters:
        - description: |-
            The content of the email, composed of a subject line, an HTML part, and a text-only part.
            The name of the template. You will refer to this name when you send email using the <code>SendTemplatedEmail</code> or <code>SendBulkTemplatedEmail</code> operations.
          in: formData
          name: Template.TemplateName
          type: string
        - description: |-
            The content of the email, composed of a subject line, an HTML part, and a text-only part.
            The subject line of the email.
          in: formData
          name: Template.SubjectPart
          type: string
        - description: |-
            The content of the email, composed of a subject line, an HTML part, and a text-only part.
            The email body that will be visible to recipients whose email clients do not display HTML.
          in: formData
          name: Template.TextPart
          type: string
        - description: |-
            The content of the email, composed of a subject line, an HTML part, and a text-only part.
            The HTML body of the email.
          in: formData
          name: Template.HtmlPart
          type: string
        - enum:
            - CreateTemplate
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateTemplateResponse'
        '480':
          description: AlreadyExistsException
          schema:
            $ref: '#/definitions/AlreadyExistsException'
        '481':
          description: InvalidTemplateException
          schema:
            $ref: '#/definitions/InvalidTemplateException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      x-aws-operation-name: CreateTemplate
  '/#Action=DeleteConfigurationSet':
    get:
      description: '<p>Deletes a configuration set. Configuration sets enable you to publish email sending events. For information about using configuration sets, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>'
      operationId: GET DeleteConfigurationSet
      parameters:
        - description: The name of the configuration set to delete.
          in: query
          name: ConfigurationSetName
          required: true
          type: string
        - enum:
            - DeleteConfigurationSet
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteConfigurationSetResponse'
        '480':
          description: ConfigurationSetDoesNotExistException
          schema:
            $ref: '#/definitions/ConfigurationSetDoesNotExistException'
      x-aws-operation-name: DeleteConfigurationSet
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Deletes a configuration set. Configuration sets enable you to publish email sending events. For information about using configuration sets, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>'
      operationId: POST DeleteConfigurationSet
      parameters:
        - description: The name of the configuration set to delete.
          in: formData
          name: ConfigurationSetName
          required: true
          type: string
        - enum:
            - DeleteConfigurationSet
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteConfigurationSetResponse'
        '480':
          description: ConfigurationSetDoesNotExistException
          schema:
            $ref: '#/definitions/ConfigurationSetDoesNotExistException'
      x-aws-operation-name: DeleteConfigurationSet
  '/#Action=DeleteConfigurationSetEventDestination':
    get:
      description: '<p>Deletes a configuration set event destination. Configuration set event destinations are associated with configuration sets, which enable you to publish email sending events. For information about using configuration sets, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>'
      operationId: GET DeleteConfigurationSetEventDestination
      parameters:
        - description: The name of the configuration set from which to delete the event destination.
          in: query
          name: ConfigurationSetName
          required: true
          type: string
        - description: The name of the event destination to delete.
          in: query
          name: EventDestinationName
          required: true
          type: string
        - enum:
            - DeleteConfigurationSetEventDestination
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteConfigurationSetEventDestinationResponse'
        '480':
          description: ConfigurationSetDoesNotExistException
          schema:
            $ref: '#/definitions/ConfigurationSetDoesNotExistException'
        '481':
          description: EventDestinationDoesNotExistException
          schema:
            $ref: '#/definitions/EventDestinationDoesNotExistException'
      x-aws-operation-name: DeleteConfigurationSetEventDestination
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Deletes a configuration set event destination. Configuration set event destinations are associated with configuration sets, which enable you to publish email sending events. For information about using configuration sets, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/monitor-sending-activity.html">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>'
      operationId: POST DeleteConfigurationSetEventDestination
      parameters:
        - description: The name of the configuration set from which to delete the event destination.
          in: formData
          name: ConfigurationSetName
          required: true
          type: string
        - description: The name of the event destination to delete.
          in: formData
          name: EventDestinationName
          required: true
          type: string
        - enum:
            - DeleteConfigurationSetEventDestination
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteConfigurationSetEventDestinationResponse'
        '480':
          description: ConfigurationSetDoesNotExistException
          schema:
            $ref: '#/definitions/ConfigurationSetDoesNotExistException'
        '481':
          description: EventDestinationDoesNotExistException
          schema:
            $ref: '#/definitions/EventDestinationDoesNotExistException'
      x-aws-operation-name: DeleteConfigurationSetEventDestination
  '/#Action=DeleteConfigurationSetTrackingOptions':
    get:
      description: '<p>Deletes an association between a configuration set and a custom domain for open and click event tracking.</p> <p>By default, images and links used for tracking open and click events are hosted on domains operated by Amazon SES. You can configure a subdomain of your own to handle these events. For information about using custom domains, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/configure-custom-open-click-domains.html">Amazon SES Developer Guide</a>.</p> <note> <p>Deleting this kind of association will result in emails sent using the specified configuration set to capture open and click events using the standard, Amazon SES-operated domains.</p> </note>'
      operationId: GET DeleteConfigurationSetTrackingOptions
      parameters:
        - description: The name of the configuration set from which you want to delete the tracking options.
          in: query
          name: ConfigurationSetName
          required: true
          type: string
        - enum:
            - DeleteConfigurationSetTrackingOptions
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteConfigurationSetTrackingOptionsResponse'
        '480':
          description: ConfigurationSetDoesNotExistException
          schema:
            $ref: '#/definitions/ConfigurationSetDoesNotExistException'
        '481':
          description: TrackingOptionsDoesNotExistException
          schema:
            $ref: '#/definitions/TrackingOptionsDoesNotExistException'
      x-aws-operation-name: DeleteConfigurationSetTrackingOptions
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Deletes an association between a configuration set and a custom domain for open and click event tracking.</p> <p>By default, images and links used for tracking open and click events are hosted on domains operated by Amazon SES. You can configure a subdomain of your own to handle these events. For information about using custom domains, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/configure-custom-open-click-domains.html">Amazon SES Developer Guide</a>.</p> <note> <p>Deleting this kind of association will result in emails sent using the specified configuration set to capture open and click events using the standard, Amazon SES-operated domains.</p> </note>'
      operationId: POST DeleteConfigurationSetTrackingOptions
      parameters:
        - description: The name of the configuration set from which you want to delete the tracking options.
          in: formData
          name: ConfigurationSetName
          required: true
          type: string
        - enum:
            - DeleteConfigurationSetTrackingOptions
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteConfigurationSetTrackingOptionsResponse'
        '480':
          description: ConfigurationSetDoesNotExistException
          schema:
            $ref: '#/definitions/ConfigurationSetDoesNotExistException'
        '481':
          description: TrackingOptionsDoesNotExistException
          schema:
            $ref: '#/definitions/TrackingOptionsDoesNotExistException'
      x-aws-operation-name: DeleteConfigurationSetTrackingOptions
  '/#Action=DeleteCustomVerificationEmailTemplate':
    get:
      description: '<p>Deletes an existing custom verification email template. </p> <p>For more information about custom verification email templates, see <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/custom-verification-emails.html">Using Custom Verification Email Templates</a> in the <i>Amazon SES Developer Guide</i>.</p> <p>You can execute this operation no more than once per second.</p>'
      operationId: GET DeleteCustomVerificationEmailTemplate
      parameters:
        - description: The name of the custom verification email template that you want to delete.
          in: query
          name: TemplateName
          required: true
          type: string
        - enum:
            - DeleteCustomVerificationEmailTemplate
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
      x-aws-operation-name: DeleteCustomVerificationEmailTemplate
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Deletes an existing custom verification email template. </p> <p>For more information about custom verification email templates, see <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/custom-verification-emails.html">Using Custom Verification Email Templates</a> in the <i>Amazon SES Developer Guide</i>.</p> <p>You can execute this operation no more than once per second.</p>'
      operationId: POST DeleteCustomVerificationEmailTemplate
      parameters:
        - description: The name of the custom verification email template that you want to delete.
          in: formData
          name: TemplateName
          required: true
          type: string
        - enum:
            - DeleteCustomVerificationEmailTemplate
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
      x-aws-operation-name: DeleteCustomVerificationEmailTemplate
  '/#Action=DeleteIdentity':
    get:
      description: <p>Deletes the specified identity (an email address or a domain) from the list of verified identities.</p> <p>You can execute this operation no more than once per second.</p>
      operationId: GET DeleteIdentity
      parameters:
        - description: The identity to be removed from the list of identities for the AWS Account.
          in: query
          name: Identity
          required: true
          type: string
        - enum:
            - DeleteIdentity
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteIdentityResponse'
      x-aws-operation-name: DeleteIdentity
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Deletes the specified identity (an email address or a domain) from the list of verified identities.</p> <p>You can execute this operation no more than once per second.</p>
      operationId: POST DeleteIdentity
      parameters:
        - description: The identity to be removed from the list of identities for the AWS Account.
          in: formData
          name: Identity
          required: true
          type: string
        - enum:
            - DeleteIdentity
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteIdentityResponse'
      x-aws-operation-name: DeleteIdentity
  '/#Action=DeleteIdentityPolicy':
    get:
      description: '<p>Deletes the specified sending authorization policy for the given identity (an email address or a domain). This API returns successfully even if a policy with the specified name does not exist.</p> <note> <p>This API is for the identity owner only. If you have not verified the identity, this API will return an error.</p> </note> <p>Sending authorization is a feature that enables an identity owner to authorize other senders to use its identities. For information about using sending authorization, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/sending-authorization.html">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>'
      operationId: GET DeleteIdentityPolicy
      parameters:
        - description: '<p>The identity that is associated with the policy that you want to delete. You can specify the identity by using its name or by using its Amazon Resource Name (ARN). Examples: <code>user@example.com</code>, <code>example.com</code>, <code>arn:aws:ses:us-east-1:123456789012:identity/example.com</code>.</p> <p>To successfully call this API, you must own the identity.</p>'
          in: query
          name: Identity
          required: true
          type: string
        - description: The name of the policy to be deleted.
          in: query
          maxLength: 64
          minLength: 1
          name: PolicyName
          required: true
          type: string
        - enum:
            - DeleteIdentityPolicy
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteIdentityPolicyResponse'
      x-aws-operation-name: DeleteIdentityPolicy
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Deletes the specified sending authorization policy for the given identity (an email address or a domain). This API returns successfully even if a policy with the specified name does not exist.</p> <note> <p>This API is for the identity owner only. If you have not verified the identity, this API will return an error.</p> </note> <p>Sending authorization is a feature that enables an identity owner to authorize other senders to use its identities. For information about using sending authorization, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/sending-authorization.html">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>'
      operationId: POST DeleteIdentityPolicy
      parameters:
        - description: '<p>The identity that is associated with the policy that you want to delete. You can specify the identity by using its name or by using its Amazon Resource Name (ARN). Examples: <code>user@example.com</code>, <code>example.com</code>, <code>arn:aws:ses:us-east-1:123456789012:identity/example.com</code>.</p> <p>To successfully call this API, you must own the identity.</p>'
          in: formData
          name: Identity
          required: true
          type: string
        - description: The name of the policy to be deleted.
          in: formData
          maxLength: 64
          minLength: 1
          name: PolicyName
          required: true
          type: string
        - enum:
            - DeleteIdentityPolicy
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteIdentityPolicyResponse'
      x-aws-operation-name: DeleteIdentityPolicy
  '/#Action=DeleteReceiptFilter':
    get:
      description: '<p>Deletes the specified IP address filter.</p> <p>For information about managing IP address filters, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-managing-ip-filters.html">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>'
      operationId: GET DeleteReceiptFilter
      parameters:
        - description: The name of the IP address filter to delete.
          in: query
          name: FilterName
          required: true
          type: string
        - enum:
            - DeleteReceiptFilter
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteReceiptFilterResponse'
      x-aws-operation-name: DeleteReceiptFilter
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Deletes the specified IP address filter.</p> <p>For information about managing IP address filters, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-managing-ip-filters.html">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>'
      operationId: POST DeleteReceiptFilter
      parameters:
        - description: The name of the IP address filter to delete.
          in: formData
          name: FilterName
          required: true
          type: string
        - enum:
            - DeleteReceiptFilter
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteReceiptFilterResponse'
      x-aws-operation-name: DeleteReceiptFilter
  '/#Action=DeleteReceiptRule':
    get:
      description: '<p>Deletes the specified receipt rule.</p> <p>For information about managing receipt rules, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-managing-receipt-rules.html">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>'
      operationId: GET DeleteReceiptRule
      parameters:
        - description: The name of the receipt rule set that contains the receipt rule to delete.
          in: query
          name: RuleSetName
          required: true
          type: string
        - description: The name of the receipt rule to delete.
          in: query
          name: RuleName
          required: true
          type: string
        - enum:
            - DeleteReceiptRule
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteReceiptRuleResponse'
        '480':
          description: RuleSetDoesNotExistException
          schema:
            $ref: '#/definitions/RuleSetDoesNotExistException'
      x-aws-operation-name: DeleteReceiptRule
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Deletes the specified receipt rule.</p> <p>For information about managing receipt rules, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-managing-receipt-rules.html">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>'
      operationId: POST DeleteReceiptRule
      parameters:
        - description: The name of the receipt rule set that contains the receipt rule to delete.
          in: formData
          name: RuleSetName
          required: true
          type: string
        - description: The name of the receipt rule to delete.
          in: formData
          name: RuleName
          required: true
          type: string
        - enum:
            - DeleteReceiptRule
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteReceiptRuleResponse'
        '480':
          description: RuleSetDoesNotExistException
          schema:
            $ref: '#/definitions/RuleSetDoesNotExistException'
      x-aws-operation-name: DeleteReceiptRule
  '/#Action=DeleteReceiptRuleSet':
    get:
      description: '<p>Deletes the specified receipt rule set and all of the receipt rules it contains.</p> <note> <p>The currently active rule set cannot be deleted.</p> </note> <p>For information about managing receipt rule sets, see the <a href="https://docs.aws.amazon.com/ses/latest/DeveloperGuide/receiving-email-managing-receipt-rule-sets.html">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>'
      operationId: GET DeleteReceiptRuleSet
      parameters:
        - description: The name of the receipt rule set to delete.
          in: query
          name: RuleSetName
          required: true
          type: string
        - enum:
            - DeleteReceiptRuleSet
          in: query
          name: Action
          required: true
          type: string
        - enum:
            - '2010-12-01'
          in: query
          name: Version
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteReceiptRuleSetResponse'
        '480':
          description: CannotDeleteException
          schema:
            $ref: '#/definitions/CannotDeleteException'
      x-aws-operation-name: DeleteReceiptRuleSet
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
[...]
