openapi: 3.0.0
servers:
  - url: https://vocadb.net
info:
  contact:
    x-twitter: vocadb
  title: VocaDB
  version: v1
  x-apisguru-categories:
    - media
  x-logo:
    url: https://twitter.com/vocadb/profile_image?size=original
  x-origin:
    - format: openapi
      url: https://vocadb.net/swagger/docs/v1
      version: "3.0"
  x-providerName: vocadb.net
  x-preferred: null
paths:
  /api/activityEntries:
    get:
      deprecated: false
      description: "Entries are always returned sorted from newest to oldest.\r

        \            Activity for deleted entries is not returned."
      operationId: ActivityEntryApi_GetList
      parameters:
        - description: Filter to return activity entries only before this date. Optional, by default no filter.
          in: query
          name: before
          required: false
          schema:
            format: date-time
            type: string
        - description: Filter to return activity entries only after this date. Optional, by default no filter.
          in: query
          name: since
          required: false
          schema:
            format: date-time
            type: string
        - description: Filter by user Id. Optional, by default no filter.
          in: query
          name: userId
          required: false
          schema:
            format: int32
            type: integer
        - description: Filter by entry edit event (either Created or Updated). Optional, by default no filter.
          in: query
          name: editEvent
          required: false
          schema:
            enum:
              - Created
              - Updated
              - Deleted
              - Restored
            type: string
        - description: Entry type. Optional.
          in: query
          name: entryType
          required: false
          schema:
            enum:
              - Undefined
              - Album
              - Artist
              - DiscussionTopic
              - PV
              - ReleaseEvent
              - ReleaseEventSeries
              - Song
              - SongList
              - Tag
              - User
              - Venue
            type: string
        - description: Maximum number of results to return. Default 50. Maximum value 500.
          in: query
          name: maxResults
          required: false
          schema:
            format: int32
            type: integer
        - description: Whether to load total number of items (optional, default to false).
          in: query
          name: getTotalCount
          required: false
          schema:
            type: boolean
        - description: Optional fields.
          in: query
          name: fields
          required: false
          schema:
            enum:
              - None
              - ArchivedVersion
              - Entry
            type: string
        - description: Optional fields for entries.
          in: query
          name: entryFields
          required: false
          schema:
            enum:
              - None
              - AdditionalNames
              - Description
              - MainPicture
              - Names
              - PVs
              - Tags
              - WebLinks
            type: string
        - description: Content language preference. Optional.
          in: query
          name: lang
          required: false
          schema:
            enum:
              - Default
              - Japanese
              - Romaji
              - English
            type: string
        - description: Sort rule. Optional.
          in: query
          name: sortRule
          required: false
          schema:
            enum:
              - CreateDateDescending
              - CreateDate
            type: string
      responses:
        "200":
          content:
            application/javascript:
              schema:
                $ref: "#/components/schemas/PartialFindResult_ActivityEntryForApiContract_"
            application/json:
              schema:
                $ref: "#/components/schemas/PartialFindResult_ActivityEntryForApiContract_"
            application/json-p:
              schema:
                $ref: "#/components/schemas/PartialFindResult_ActivityEntryForApiContract_"
            application/xml:
              schema:
                $ref: "#/components/schemas/PartialFindResult_ActivityEntryForApiContract_"
            text/javascript:
              schema:
                $ref: "#/components/schemas/PartialFindResult_ActivityEntryForApiContract_"
            text/json:
              schema:
                $ref: "#/components/schemas/PartialFindResult_ActivityEntryForApiContract_"
            text/xml:
              schema:
                $ref: "#/components/schemas/PartialFindResult_ActivityEntryForApiContract_"
          description: OK
      summary: Gets a list of recent activity entries.
      tags:
        - ActivityEntryApi
  /api/albums:
    get:
      deprecated: false
      operationId: AlbumApi_GetList
      parameters:
        - description: Album name query (optional).
          in: query
          name: query
          required: false
          schema:
            type: string
        - description: "Disc type. By default nothing. Possible values are Album, Single, EP, SplitAlbum, Compilation, Video, Other. Note: only one type supported for now."
          in: query
          name: discTypes
          required: false
          schema:
            enum:
              - Unknown
              - Album
              - Single
              - EP
              - SplitAlbum
              - Compilation
              - Video
              - Artbook
              - Game
              - Fanmade
              - Instrumental
              - Other
            type: string
        - description: Filter by tag name (optional). This filter can be specified multiple times.
          explode: true
          in: query
          name: tagName
          required: false
          schema:
            items:
              type: string
            type: array
        - description: Filter by tag Id (optional). This filter can be specified multiple times.
          explode: true
          in: query
          name: tagId
          required: false
          schema:
            items:
              format: int32
              type: integer
            type: array
        - description: Include child tags, if the tags being filtered by have any.
          in: query
          name: childTags
          required: false
          schema:
            type: boolean
        - description: Filter by artist Id (optional).
          explode: true
          in: query
          name: artistId
          required: false
          schema:
            items:
              format: int32
              type: integer
            type: array
        - description: "Filter by artist participation status. Only valid if artistId is specified.\r

            \            Everything (default): Show all albums by that artist (no filter).\r

            \            OnlyMainAlbums: Show only main albums by that artist.\r

            \            OnlyCollaborations: Show only collaborations by that artist."
          in: query
          name: artistParticipationStatus
          required: false
          schema:
            enum:
              - Everything
              - OnlyMainAlbums
              - OnlyCollaborations
            type: string
        - description: Include child voicebanks, if the artist being filtered by has any.
          in: query
          name: childVoicebanks
          required: false
          schema:
            type: boolean
        - description: Include members of groups. This applies if {artistId} is a group.
          in: query
          name: includeMembers
          required: false
          schema:
            type: boolean
        - description: Filter by album barcode (optional).
          in: query
          name: barcode
          required: false
          schema:
            type: string
        - description: Filter by entry status (optional).
          in: query
          name: status
          required: false
          schema:
            enum:
              - Draft
              - Finished
              - Approved
              - Locked
            type: string
        - description: Filter by albums whose release date is after this date (inclusive).
          in: query
          name: releaseDateAfter
          required: false
          schema:
            format: date-time
            type: string
        - description: Filter by albums whose release date is before this date (exclusive).
          in: query
          name: releaseDateBefore
          required: false
          schema:
            format: date-time
            type: string
        - description: List of advanced filters (optional).
          explode: true
          in: query
          name: advancedFilters
          required: false
          schema:
            items: {}
            type: array
        - description: First item to be retrieved (optional, defaults to 0).
          in: query
          name: start
          required: false
          schema:
            format: int32
            type: integer
        - description: Maximum number of results to be loaded (optional, defaults to 10, maximum of 50).
          in: query
          name: maxResults
          required: false
          schema:
            format: int32
            type: integer
        - description: Whether to load total number of items (optional, default to false).
          in: query
          name: getTotalCount
          required: false
          schema:
            type: boolean
        - description: "Sort rule (optional, defaults to Name). \r

            \            Possible values are None, Name, ReleaseDate, ReleaseDateWithNulls, AdditionDate, RatingAverage, RatingTotal, NameThenReleaseDate."
          in: query
          name: sort
          required: false
          schema:
            enum:
              - None
              - Name
              - ReleaseDate
              - ReleaseDateWithNulls
              - AdditionDate
              - RatingAverage
              - RatingTotal
              - NameThenReleaseDate
              - CollectionCount
            type: string
        - description: "Whether the search should prefer accurate matches. \r

            \            If this is true, entries that match by prefix will be moved first, instead of being sorted alphabetically.\r

            \            Requires a text query. Does not support pagination.\r

            \            This is mostly useful for autocomplete boxes."
          in: query
          name: preferAccurateMatches
          required: false
          schema:
            type: boolean
        - description: "Whether to search for deleted entries.\r

            \            If this is true, only deleted entries will be returned.\r

            \            If this is false (default), deleted entries are not returned."
          in: query
          name: deleted
          required: false
          schema:
            type: boolean
        - description: Match mode for artist name (optional, defaults to Exact).
          in: query
          name: nameMatchMode
          required: false
          schema:
            enum:
              - Auto
              - Partial
              - StartsWith
              - Exact
              - Words
            type: string
        - description: Optional fields (optional). Possible values are artists, names, pvs, tags, tracks, webLinks.
          in: query
          name: fields
          required: false
          schema:
            enum:
              - None
              - AdditionalNames
              - Artists
              - Description
              - Discs
              - Identifiers
              - MainPicture
              - Names
              - PVs
              - ReleaseEvent
              - Tags
              - Tracks
              - WebLinks
            type: string
        - description: Content language preference (optional).
          in: query
          name: lang
          required: false
          schema:
            enum:
              - Default
              - Japanese
              - Romaji
              - English
            type: string
      responses:
        "200":
          content:
            application/javascript:
              schema:
                $ref: "#/components/schemas/PartialFindResult_AlbumForApiContract_"
            application/json:
              schema:
                $ref: "#/components/schemas/PartialFindResult_AlbumForApiContract_"
            application/json-p:
              schema:
                $ref: "#/components/schemas/PartialFindResult_AlbumForApiContract_"
            application/xml:
              schema:
                $ref: "#/components/schemas/PartialFindResult_AlbumForApiContract_"
            text/javascript:
              schema:
                $ref: "#/components/schemas/PartialFindResult_AlbumForApiContract_"
            text/json:
              schema:
                $ref: "#/components/schemas/PartialFindResult_AlbumForApiContract_"
            text/xml:
              schema:
                $ref: "#/components/schemas/PartialFindResult_AlbumForApiContract_"
          description: OK
      summary: Gets a page of albums.
      tags:
        - AlbumApi
  "/api/albums/comments/{commentId}":
    delete:
      deprecated: false
      description: "Normal users can delete their own comments, moderators can delete all comments.\r

        \            Requires login."
      operationId: AlbumApi_DeleteComment
      parameters:
        - description: ID of the comment to be deleted.
          in: path
          name: commentId
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "204":
          description: No Content
      summary: Deletes a comment.
      tags:
        - AlbumApi
    post:
      deprecated: false
      description: "Normal users can edit their own comments, moderators can edit all comments.\r

        \            Requires login."
      operationId: AlbumApi_PostEditComment
      parameters:
        - description: ID of the comment to be edited.
          in: path
          name: commentId
          required: true
          schema:
            format: int32
            type: integer
      requestBody:
        $ref: "#/components/requestBodies/CommentForApiContract3"
      responses:
        "204":
          description: No Content
      summary: Updates a comment.
      tags:
        - AlbumApi
  /api/albums/names:
    get:
      deprecated: false
      operationId: AlbumApi_GetNames
      parameters:
        - description: Text query.
          in: query
          name: query
          required: false
          schema:
            type: string
        - description: Name match mode.
          in: query
          name: nameMatchMode
          required: false
          schema:
            enum:
              - Auto
              - Partial
              - StartsWith
              - Exact
              - Words
            type: string
        - description: Maximum number of results.
          in: query
          name: maxResults
          required: false
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/javascript:
              schema:
                items:
                  type: string
                type: array
            application/json:
              schema:
                items:
                  type: string
                type: array
            application/json-p:
              schema:
                items:
                  type: string
                type: array
            application/xml:
              schema:
                items:
                  type: string
                type: array
            text/javascript:
              schema:
                items:
                  type: string
                type: array
            text/json:
              schema:
                items:
                  type: string
                type: array
            text/xml:
              schema:
                items:
                  type: string
                type: array
          description: OK
      summary: Gets a list of album names. Ideal for autocomplete boxes.
      tags:
        - AlbumApi
  /api/albums/new:
    get:
      deprecated: false
      description: Output is cached for 1 hour.
      operationId: AlbumApi_GetNewAlbums
      parameters:
        - in: query
          name: languagePreference
          required: false
          schema:
            enum:
              - Default
              - Japanese
              - Romaji
              - English
            type: string
        - in: query
          name: fields
          required: false
          schema:
            enum:
              - None
              - AdditionalNames
              - Artists
              - Description
              - Discs
              - Identifiers
              - MainPicture
              - Names
              - PVs
              - ReleaseEvent
              - Tags
              - Tracks
              - WebLinks
            type: string
      responses:
        "200":
          content:
            application/javascript:
              schema:
                items:
                  $ref: "#/components/schemas/AlbumForApiContract"
                type: array
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AlbumForApiContract"
                type: array
            application/json-p:
              schema:
                items:
                  $ref: "#/components/schemas/AlbumForApiContract"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/AlbumForApiContract"
                type: array
            text/javascript:
              schema:
                items:
                  $ref: "#/components/schemas/AlbumForApiContract"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/AlbumForApiContract"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/AlbumForApiContract"
                type: array
          description: OK
      summary: Gets list of upcoming or recent albums, same as front page.
      tags:
        - AlbumApi
  /api/albums/top:
    get:
      deprecated: false
      description: Output is cached for 1 hour.
      operationId: AlbumApi_GetTopAlbums
      parameters:
        - explode: true
          in: query
          name: ignoreIds
          required: false
          schema:
            items:
              format: int32
              type: integer
            type: array
        - in: query
          name: languagePreference
          required: false
          schema:
            enum:
              - Default
              - Japanese
              - Romaji
              - English
            type: string
        - in: query
          name: fields
          required: false
          schema:
            enum:
              - None
              - AdditionalNames
              - Artists
              - Description
              - Discs
              - Identifiers
              - MainPicture
              - Names
              - PVs
              - ReleaseEvent
              - Tags
              - Tracks
              - WebLinks
            type: string
      responses:
        "200":
          content:
            application/javascript:
              schema:
                items:
                  $ref: "#/components/schemas/AlbumForApiContract"
                type: array
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AlbumForApiContract"
                type: array
            application/json-p:
              schema:
                items:
                  $ref: "#/components/schemas/AlbumForApiContract"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/AlbumForApiContract"
                type: array
            text/javascript:
              schema:
                items:
                  $ref: "#/components/schemas/AlbumForApiContract"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/AlbumForApiContract"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/AlbumForApiContract"
                type: array
          description: OK
      summary: Gets list of top rated albums, same as front page.
      tags:
        - AlbumApi
  "/api/albums/{id}":
    delete:
      deprecated: false
      operationId: AlbumApi_Delete
      parameters:
        - description: ID of the album to be deleted.
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
        - description: Notes.
          in: query
          name: notes
          required: false
          schema:
            type: string
      responses:
        "204":
          description: No Content
      summary: Deletes an album.
      tags:
        - AlbumApi
    get:
      deprecated: false
      operationId: AlbumApi_GetOne
      parameters:
        - description: Album Id (required).
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
        - description: Optional fields (optional). Possible values are artists, names, pvs, tags, tracks, webLinks.
          in: query
          name: fields
          required: false
          schema:
            enum:
              - None
              - AdditionalNames
              - Artists
              - Description
              - Discs
              - Identifiers
              - MainPicture
              - Names
              - PVs
              - ReleaseEvent
              - Tags
              - Tracks
              - WebLinks
            type: string
        - description: Optional fields for tracks, if included (optional).
          in: query
          name: songFields
          required: false
          schema:
            enum:
              - None
              - AdditionalNames
              - Albums
              - Artists
              - Lyrics
              - MainPicture
              - Names
              - PVs
              - ReleaseEvent
              - Tags
              - ThumbUrl
              - WebLinks
            type: string
        - description: Content language preference (optional).
          in: query
          name: lang
          required: false
          schema:
            enum:
              - Default
              - Japanese
              - Romaji
              - English
            type: string
      responses:
        "200":
          content:
            application/javascript:
              schema:
                $ref: "#/components/schemas/AlbumForApiContract"
            application/json:
              schema:
                $ref: "#/components/schemas/AlbumForApiContract"
            application/json-p:
              schema:
                $ref: "#/components/schemas/AlbumForApiContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/AlbumForApiContract"
            text/javascript:
              schema:
                $ref: "#/components/schemas/AlbumForApiContract"
            text/json:
              schema:
                $ref: "#/components/schemas/AlbumForApiContract"
            text/xml:
              schema:
                $ref: "#/components/schemas/AlbumForApiContract"
          description: OK
      summary: Gets an album by Id.
      tags:
        - AlbumApi
  "/api/albums/{id}/comments":
    get:
      deprecated: false
      description: Pagination and sorting might be added later.
      operationId: AlbumApi_GetComments
      parameters:
        - description: ID of the album whose comments to load.
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/javascript:
              schema:
                items:
                  $ref: "#/components/schemas/CommentForApiContract"
                type: array
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/CommentForApiContract"
                type: array
            application/json-p:
              schema:
                items:
                  $ref: "#/components/schemas/CommentForApiContract"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/CommentForApiContract"
                type: array
            text/javascript:
              schema:
                items:
                  $ref: "#/components/schemas/CommentForApiContract"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/CommentForApiContract"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/CommentForApiContract"
                type: array
          description: OK
      summary: Gets a list of comments for an album.
      tags:
        - AlbumApi
    post:
      deprecated: false
      operationId: AlbumApi_PostNewComment
      parameters:
        - description: ID of the album for which to create the comment.
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      requestBody:
        $ref: "#/components/requestBodies/CommentForApiContract"
      responses:
        "200":
          content:
            application/javascript:
              schema:
                $ref: "#/components/schemas/CommentForApiContract"
            application/json:
              schema:
                $ref: "#/components/schemas/CommentForApiContract"
            application/json-p:
              schema:
                $ref: "#/components/schemas/CommentForApiContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/CommentForApiContract"
            text/javascript:
              schema:
                $ref: "#/components/schemas/CommentForApiContract"
            text/json:
              schema:
                $ref: "#/components/schemas/CommentForApiContract"
            text/xml:
              schema:
                $ref: "#/components/schemas/CommentForApiContract"
          description: OK
      summary: Posts a new comment.
      tags:
        - AlbumApi
  "/api/albums/{id}/reviews":
    get:
      deprecated: false
      operationId: AlbumApi_GetReviews
      parameters:
        - in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
        - in: query
          name: languageCode
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/javascript:
              schema:
                items:
                  $ref: "#/components/schemas/AlbumReviewContract"
                type: array
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AlbumReviewContract"
                type: array
            application/json-p:
              schema:
                items:
                  $ref: "#/components/schemas/AlbumReviewContract"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/AlbumReviewContract"
                type: array
            text/javascript:
              schema:
                items:
                  $ref: "#/components/schemas/AlbumReviewContract"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/AlbumReviewContract"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/AlbumReviewContract"
                type: array
          description: OK
      tags:
        - AlbumApi
    post:
      deprecated: false
      operationId: AlbumApi_PostReview
      parameters:
        - in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AlbumReviewContract"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/AlbumReviewContract"
          application/xml:
            schema:
              $ref: "#/components/schemas/AlbumReviewContract"
          text/json:
            schema:
              $ref: "#/components/schemas/AlbumReviewContract"
          text/xml:
            schema:
              $ref: "#/components/schemas/AlbumReviewContract"
        required: true
      responses:
        "200":
          content:
            application/javascript:
              schema:
                $ref: "#/components/schemas/AlbumReviewContract"
            application/json:
              schema:
                $ref: "#/components/schemas/AlbumReviewContract"
            application/json-p:
              schema:
                $ref: "#/components/schemas/AlbumReviewContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/AlbumReviewContract"
            text/javascript:
              schema:
                $ref: "#/components/schemas/AlbumReviewContract"
            text/json:
              schema:
                $ref: "#/components/schemas/AlbumReviewContract"
            text/xml:
              schema:
                $ref: "#/components/schemas/AlbumReviewContract"
          description: OK
      tags:
        - AlbumApi
  "/api/albums/{id}/reviews/{reviewId}":
    delete:
      deprecated: false
      operationId: AlbumApi_DeleteReview
      parameters:
        - in: path
          name: reviewId
          required: true
          schema:
            format: int32
            type: integer
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "204":
          description: No Content
      tags:
        - AlbumApi
  "/api/albums/{id}/tracks":
    get:
      deprecated: false
      operationId: AlbumApi_GetTracks
      parameters:
        - description: Album ID (required).
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
        - description: List of optional fields (optional). Possible values are Albums, Artists, Names, PVs, Tags, ThumbUrl, WebLinks.
          in: query
          name: fields
          required: false
          schema:
            enum:
              - None
              - AdditionalNames
              - Albums
              - Artists
              - Lyrics
              - MainPicture
              - Names
              - PVs
              - ReleaseEvent
              - Tags
              - ThumbUrl
              - WebLinks
            type: string
        - description: Content language preference (optional).
          in: query
          name: lang
          required: false
          schema:
            enum:
              - Default
              - Japanese
              - Romaji
              - English
            type: string
      responses:
        "200":
          content:
            application/javascript:
              schema:
                items:
                  $ref: "#/components/schemas/SongInAlbumForApiContract"
                type: array
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/SongInAlbumForApiContract"
                type: array
            application/json-p:
              schema:
                items:
                  $ref: "#/components/schemas/SongInAlbumForApiContract"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/SongInAlbumForApiContract"
                type: array
            text/javascript:
              schema:
                items:
                  $ref: "#/components/schemas/SongInAlbumForApiContract"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/SongInAlbumForApiContract"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/SongInAlbumForApiContract"
                type: array
          description: OK
      summary: Gets tracks for an album.
      tags:
        - AlbumApi
  "/api/albums/{id}/tracks/fields":
    get:
      deprecated: false
      operationId: AlbumApi_GetTracksFields
      parameters:
        - in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
        - explode: true
          in: query
          name: field
          required: false
          schema:
            items:
              type: string
            type: array
        - in: query
          name: discNumber
          required: false
          schema:
            format: int32
            type: integer
        - in: query
          name: lang
          required: false
          schema:
            enum:
              - Default
              - Japanese
              - Romaji
              - English
            type: string
      responses:
        "200":
          content:
            application/javascript:
              schema:
                items:
                  additionalProperties:
                    type: string
                  type: object
                type: array
            application/json:
              schema:
                items:
                  additionalProperties:
                    type: string
                  type: object
                type: array
            application/json-p:
              schema:
                items:
                  additionalProperties:
                    type: string
                  type: object
                type: array
            application/xml:
              schema:
                items:
                  additionalProperties:
                    type: string
                  type: object
                type: array
            text/csv:
              schema:
                items:
                  additionalProperties:
                    type: string
                  type: object
                type: array
            text/javascript:
              schema:
                items:
                  additionalProperties:
                    type: string
                  type: object
                type: array
            text/json:
              schema:
                items:
                  additionalProperties:
                    type: string
                  type: object
                type: array
            text/xml:
              schema:
                items:
                  additionalProperties:
                    type: string
                  type: object
                type: array
          description: OK
      tags:
        - AlbumApi
  "/api/albums/{id}/user-collections":
    get:
      deprecated: false
      operationId: AlbumApi_GetUserCollections
      parameters:
        - in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
        - in: query
          name: languagePreference
          required: false
          schema:
            enum:
              - Default
              - Japanese
              - Romaji
              - English
            type: string
      responses:
        "200":
          content:
            application/javascript:
              schema:
                items:
                  $ref: "#/components/schemas/AlbumForUserForApiContract"
                type: array
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AlbumForUserForApiContract"
                type: array
            application/json-p:
              schema:
                items:
                  $ref: "#/components/schemas/AlbumForUserForApiContract"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/AlbumForUserForApiContract"
                type: array
            text/javascript:
              schema:
                items:
                  $ref: "#/components/schemas/AlbumForUserForApiContract"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/AlbumForUserForApiContract"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/AlbumForUserForApiContract"
                type: array
          description: OK
      tags:
        - AlbumApi
  /api/artists:
    get:
      deprecated: false
      operationId: ArtistApi_GetList
      parameters:
        - description: Artist name query (optional).
          in: query
          name: query
          required: false
          schema:
            type: string
        - description: Filtered artist type (optional).
          in: query
          name: artistTypes
          required: false
          schema:
            type: string
        - description: Allow base voicebanks. If false, only root voicebanks will be allowed. Only affects voice synthesizers that can have base voicebanks.
          in: query
          name: allowBaseVoicebanks
          required: false
          schema:
            type: boolean
        - description: Filter by tag name (optional).
          explode: true
          in: query
          name: tagName
          required: false
          schema:
            items:
              type: string
            type: array
        - description: Filter by tag Id (optional). This filter can be specified multiple times.
          explode: true
          in: query
          name: tagId
          required: false
          schema:
            items:
              format: int32
              type: integer
            type: array
        - description: Include child tags, if the tags being filtered by have any.
          in: query
          name: childTags
          required: false
          schema:
            type: boolean
        - description: Filter by user following the artists. By default there is no filtering.
          in: query
          name: followedByUserId
          required: false
          schema:
            format: int32
            type: integer
        - description: Filter by entry status (optional).
          in: query
          name: status
          required: false
          schema:
            enum:
              - Draft
              - Finished
              - Approved
              - Locked
            type: string
        - description: List of advanced filters (optional).
          explode: true
          in: query
          name: advancedFilters
          required: false
          schema:
            items: {}
            type: array
        - description: First item to be retrieved (optional, defaults to 0).
          in: query
          name: start
          required: false
          schema:
            format: int32
            type: integer
        - description: Maximum number of results to be loaded (optional, defaults to 10, maximum of 100).
          in: query
          name: maxResults
          required: false
          schema:
            format: int32
            type: integer
        - description: Whether to load total number of items (optional, default to false).
          in: query
          name: getTotalCount
          required: false
          schema:
            type: boolean
        - description: Sort rule (optional, defaults to Name). Possible values are None, Name, AdditionDate, AdditionDateAsc.
          in: query
          name: sort
          required: false
          schema:
            enum:
              - None
              - Name
              - AdditionDate
              - AdditionDateAsc
              - ReleaseDate
              - SongCount
              - SongRating
              - FollowerCount
            type: string
        - description: "Whether the search should prefer accurate matches. \r

            \            If this is true, entries that match by prefix will be moved first, instead of being sorted alphabetically.\r

            \            Requires a text query. Does not support pagination.\r

            \            This is mostly useful for autocomplete boxes."
          in: query
          name: preferAccurateMatches
          required: false
          schema:
            type: boolean
        - description: Match mode for artist name (optional, defaults to Exact).
          in: query
          name: nameMatchMode
          required: false
          schema:
            enum:
              - Auto
              - Partial
              - StartsWith
              - Exact
              - Words
            type: string
        - description: List of optional fields (optional). Possible values are Description, Groups, Members, Names, Tags, WebLinks.
          in: query
          name: fields
          required: false
          schema:
            enum:
              - None
              - AdditionalNames
              - ArtistLinks
              - ArtistLinksReverse
              - BaseVoicebank
              - Description
              - MainPicture
              - Names
              - Tags
              - WebLinks
            type: string
        - description: Content language preference (optional).
          in: query
          name: lang
          required: false
          schema:
            enum:
              - Default
              - Japanese
              - Romaji
              - English
            type: string
      responses:
        "200":
          content:
            application/javascript:
              schema:
                $ref: "#/components/schemas/PartialFindResult_ArtistForApiContract_"
            application/json:
              schema:
                $ref: "#/components/schemas/PartialFindResult_ArtistForApiContract_"
            application/json-p:
              schema:
                $ref: "#/components/schemas/PartialFindResult_ArtistForApiContract_"
            application/xml:
              schema:
                $ref: "#/components/schemas/PartialFindResult_ArtistForApiContract_"
            text/javascript:
              schema:
                $ref: "#/components/schemas/PartialFindResult_ArtistForApiContract_"
            text/json:
              schema:
                $ref: "#/components/schemas/PartialFindResult_ArtistForApiContract_"
            text/xml:
              schema:
                $ref: "#/components/schemas/PartialFindResult_ArtistForApiContract_"
          description: OK
      summary: Find artists.
      tags:
        - ArtistApi
  "/api/artists/comments/{commentId}":
    delete:
      deprecated: false
      description: "Normal users can delete their own comments, moderators can delete all comments.\r

        \            Requires login."
      operationId: ArtistApi_DeleteComment
      parameters:
        - description: ID of the comment to be deleted.
          in: path
          name: commentId
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "204":
          description: No Content
      summary: Deletes a comment.
      tags:
        - ArtistApi
    post:
      deprecated: false
      description: "Normal users can edit their own comments, moderators can edit all comments.\r

        \            Requires login."
      operationId: ArtistApi_PostEditComment
      parameters:
        - description: ID of the comment to be edited.
          in: path
          name: commentId
          required: true
          schema:
            format: int32
            type: integer
      requestBody:
        $ref: "#/components/requestBodies/CommentForApiContract3"
      responses:
        "204":
          description: No Content
      summary: Updates a comment.
      tags:
        - ArtistApi
  /api/artists/names:
    get:
      deprecated: false
      operationId: ArtistApi_GetNames
      parameters:
        - description: Text query.
          in: query
          name: query
          required: false
          schema:
            type: string
        - description: Name match mode.
          in: query
          name: nameMatchMode
          required: false
          schema:
            enum:
              - Auto
              - Partial
              - StartsWith
              - Exact
              - Words
            type: string
        - description: Maximum number of results.
          in: query
          name: maxResults
          required: false
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/javascript:
              schema:
                items:
                  type: string
                type: array
            application/json:
              schema:
                items:
                  type: string
                type: array
            application/json-p:
              schema:
                items:
                  type: string
                type: array
            application/xml:
              schema:
                items:
                  type: string
                type: array
            text/javascript:
              schema:
                items:
                  type: string
                type: array
            text/json:
              schema:
                items:
                  type: string
                type: array
            text/xml:
              schema:
                items:
                  type: string
                type: array
          description: OK
      summary: Gets a list of artist names. Ideal for autocomplete boxes.
      tags:
        - ArtistApi
  "/api/artists/{id}":
    delete:
      deprecated: false
      operationId: ArtistApi_Delete
      parameters:
        - description: ID of the artist to be deleted.
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
        - description: Notes.
          in: query
          name: notes
          required: false
          schema:
            type: string
      responses:
        "204":
          description: No Content
      summary: Deletes an artist.
      tags:
        - ArtistApi
    get:
      deprecated: false
      operationId: ArtistApi_GetOne
      parameters:
        - description: Artist ID (required).
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
        - description: List of optional fields (optional). Possible values are Description, Groups, Members, Names, Tags, WebLinks.
          in: query
          name: fields
          required: false
          schema:
            enum:
              - None
              - AdditionalNames
              - ArtistLinks
              - ArtistLinksReverse
              - BaseVoicebank
              - Description
              - MainPicture
              - Names
              - Tags
              - WebLinks
            type: string
        - description: List of artist relations (optional). Possible values are LatestAlbums, PopularAlbums, LatestSongs, PopularSongs, All
          in: query
          name: relations
          required: false
          schema:
            enum:
              - None
              - LatestAlbums
              - LatestEvents
              - LatestSongs
              - PopularAlbums
              - PopularSongs
              - All
            type: string
        - description: Content language preference (optional).
          in: query
          name: lang
          required: false
          schema:
            enum:
              - Default
              - Japanese
              - Romaji
              - English
            type: string
      responses:
        "200":
          content:
            application/javascript:
              schema:
                $ref: "#/components/schemas/ArtistForApiContract"
            application/json:
              schema:
                $ref: "#/components/schemas/ArtistForApiContract"
            application/json-p:
              schema:
                $ref: "#/components/schemas/ArtistForApiContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ArtistForApiContract"
            text/javascript:
              schema:
                $ref: "#/components/schemas/ArtistForApiContract"
            text/json:
              schema:
                $ref: "#/components/schemas/ArtistForApiContract"
            text/xml:
              schema:
                $ref: "#/components/schemas/ArtistForApiContract"
          description: OK
      summary: Gets an artist by Id.
      tags:
        - ArtistApi
  "/api/artists/{id}/comments":
    get:
      deprecated: false
      description: Pagination and sorting might be added later.
      operationId: ArtistApi_GetComments
      parameters:
        - description: ID of the artist whose comments to load.
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/javascript:
              schema:
                items:
                  $ref: "#/components/schemas/CommentForApiContract"
                type: array
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/CommentForApiContract"
                type: array
            application/json-p:
              schema:
                items:
                  $ref: "#/components/schemas/CommentForApiContract"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/CommentForApiContract"
                type: array
            text/javascript:
              schema:
                items:
                  $ref: "#/components/schemas/CommentForApiContract"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/CommentForApiContract"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/CommentForApiContract"
                type: array
          description: OK
      summary: Gets a list of comments for an artist.
      tags:
        - ArtistApi
    post:
      deprecated: false
      operationId: ArtistApi_PostNewComment
      parameters:
        - description: ID of the artist for which to create the comment.
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      requestBody:
        $ref: "#/components/requestBodies/CommentForApiContract"
      responses:
        "200":
          content:
            application/javascript:
              schema:
                $ref: "#/components/schemas/CommentForApiContract"
            application/json:
              schema:
                $ref: "#/components/schemas/CommentForApiContract"
            application/json-p:
              schema:
                $ref: "#/components/schemas/CommentForApiContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/CommentForApiContract"
            text/javascript:
              schema:
                $ref: "#/components/schemas/CommentForApiContract"
            text/json:
              schema:
                $ref: "#/components/schemas/CommentForApiContract"
            text/xml:
              schema:
                $ref: "#/components/schemas/CommentForApiContract"
          description: OK
      summary: Posts a new comment.
      tags:
        - ArtistApi
  "/api/comments/{entryType}-comments":
    get:
      deprecated: false
      operationId: CommentApi_GetComments
      parameters:
        - description: Entry type.
          in: path
          name: entryType
          required: true
          schema:
            enum:
              - Undefined
              - Album
              - Artist
              - DiscussionTopic
              - PV
              - ReleaseEvent
              - ReleaseEventSeries
              - Song
              - SongList
              - Tag
              - User
              - Venue
            type: string
        - description: ID of the entry whose comments to load.
          in: query
          name: entryId
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/javascript:
              schema:
                $ref: "#/components/schemas/PartialFindResult_CommentForApiContract_"
            application/json:
              schema:
                $ref: "#/components/schemas/PartialFindResult_CommentForApiContract_"
            application/json-p:
              schema:
                $ref: "#/components/schemas/PartialFindResult_CommentForApiContract_"
            application/xml:
              schema:
                $ref: "#/components/schemas/PartialFindResult_CommentForApiContract_"
            text/javascript:
              schema:
                $ref: "#/components/schemas/PartialFindResult_CommentForApiContract_"
            text/json:
              schema:
                $ref: "#/components/schemas/PartialFindResult_CommentForApiContract_"
            text/xml:
              schema:
                $ref: "#/components/schemas/PartialFindResult_CommentForApiContract_"
          description: OK
      summary: Gets a list of comments for an entry.
      tags:
        - CommentApi
    post:
      deprecated: false
      operationId: CommentApi_PostNewComment
      parameters:
        - description: Entry type.
          in: path
          name: entryType
          required: true
          schema:
            enum:
              - Undefined
              - Album
              - Artist
              - DiscussionTopic
              - PV
              - ReleaseEvent
              - ReleaseEventSeries
              - Song
              - SongList
              - Tag
              - User
              - Venue
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CommentForApiContract"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/CommentForApiContract"
          application/xml:
            schema:
              $ref: "#/components/schemas/CommentForApiContract"
          text/json:
            schema:
              $ref: "#/components/schemas/CommentForApiContract"
          text/xml:
            schema:
              $ref: "#/components/schemas/CommentForApiContract"
        description: Comment data. Message, entry and author must be specified. Author must match the logged in user.
        required: true
      responses:
        "200":
          content:
            application/javascript:
              schema:
                $ref: "#/components/schemas/CommentForApiContract"
            application/json:
              schema:
                $ref: "#/components/schemas/CommentForApiContract"
            application/json-p:
              schema:
                $ref: "#/components/schemas/CommentForApiContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/CommentForApiContract"
            text/javascript:
              schema:
                $ref: "#/components/schemas/CommentForApiContract"
            text/json:
              schema:
                $ref: "#/components/schemas/CommentForApiContract"
            text/xml:
              schema:
                $ref: "#/components/schemas/CommentForApiContract"
          description: OK
      summary: Posts a new comment.
      tags:
        - CommentApi
  "/api/comments/{entryType}-comments/{commentId}":
    delete:
      deprecated: false
      description: "Normal users can delete their own comments, moderators can delete all comments.\r

        \            Requires login."
      operationId: CommentApi_DeleteComment
      parameters:
        - description: Entry type.
          in: path
          name: entryType
          required: true
          schema:
            enum:
              - Undefined
              - Album
              - Artist
              - DiscussionTopic
              - PV
              - ReleaseEvent
              - ReleaseEventSeries
              - Song
              - SongList
              - Tag
              - User
              - Venue
            type: string
        - description: ID of the comment to be deleted.
          in: path
          name: commentId
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "204":
          description: No Content
      summary: Deletes a comment.
      tags:
        - CommentApi
    post:
      deprecated: false
      description: "Normal users can edit their own comments, moderators can edit all comments.\r

        \            Requires login."
      operationId: CommentApi_PostEditComment
      parameters:
        - description: Entry type.
          in: path
          name: entryType
          required: true
          schema:
            enum:
              - Undefined
              - Album
              - Artist
              - DiscussionTopic
              - PV
              - ReleaseEvent
              - ReleaseEventSeries
              - Song
              - SongList
              - Tag
              - User
              - Venue
            type: string
        - description: ID of the comment to be edited.
          in: path
          name: commentId
          required: true
          schema:
            format: int32
            type: integer
      requestBody:
        $ref: "#/components/requestBodies/CommentForApiContract3"
      responses:
        "204":
          description: No Content
      summary: Updates a comment.
      tags:
        - CommentApi
  "/api/discussions/comments/{commentId}":
    delete:
      deprecated: false
      operationId: DiscussionApi_DeleteComment
      parameters:
        - in: path
          name: commentId
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "204":
          description: No Content
      tags:
        - DiscussionApi
    post:
      deprecated: false
      operationId: DiscussionApi_PostEditComment
      parameters:
        - in: path
          name: commentId
          required: true
          schema:
            format: int32
            type: integer
      requestBody:
        $ref: "#/components/requestBodies/CommentForApiContract2"
      responses:
        "204":
          description: No Content
      tags:
        - DiscussionApi
  /api/discussions/folders:
    get:
      deprecated: false
      operationId: DiscussionApi_GetFolders
      parameters:
        - in: query
          name: fields
          required: false
          schema:
            enum:
              - None
              - LastTopic
              - TopicCount
            type: string
      responses:
        "200":
          content:
            application/javascript:
              schema:
                items:
                  $ref: "#/components/schemas/DiscussionFolderContract"
                type: array
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/DiscussionFolderContract"
                type: array
            application/json-p:
              schema:
                items:
                  $ref: "#/components/schemas/DiscussionFolderContract"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/DiscussionFolderContract"
                type: array
            text/javascript:
              schema:
                items:
                  $ref: "#/components/schemas/DiscussionFolderContract"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/DiscussionFolderContract"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/DiscussionFolderContract"
                type: array
          description: OK
      tags:
        - DiscussionApi
    post:
      deprecated: false
      operationId: DiscussionApi_PostNewFolder
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DiscussionFolderContract"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/DiscussionFolderContract"
          application/xml:
            schema:
              $ref: "#/components/schemas/DiscussionFolderContract"
          text/json:
            schema:
              $ref: "#/components/schemas/DiscussionFolderContract"
          text/xml:
            schema:
              $ref: "#/components/schemas/DiscussionFolderContract"
        required: true
      responses:
        "200":
          content:
            application/javascript:
              schema:
                $ref: "#/components/schemas/DiscussionFolderContract"
            application/json:
              schema:
                $ref: "#/components/schemas/DiscussionFolderContract"
            application/json-p:
              schema:
                $ref: "#/components/schemas/DiscussionFolderContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/DiscussionFolderContract"
            text/javascript:
              schema:
                $ref: "#/components/schemas/DiscussionFolderContract"
            text/json:
              schema:
                $ref: "#/components/schemas/DiscussionFolderContract"
            text/xml:
              schema:
                $ref: "#/components/schemas/DiscussionFolderContract"
          description: OK
      tags:
        - DiscussionApi
  "/api/discussions/folders/{folderId}/topics":
    get:
      deprecated: true
      operationId: DiscussionApi_GetTopicsForFolder
      parameters:
        - in: path
          name: folderId
          required: true
          schema:
            format: int32
            type: integer
        - in: query
          name: fields
          required: false
          schema:
            enum:
              - None
              - Comments
              - CommentCount
              - Content
              - LastComment
              - All
            type: string
      responses:
        "200":
          content:
            application/javascript:
              schema:
                items:
                  $ref: "#/components/schemas/DiscussionTopicContract"
                type: array
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/DiscussionTopicContract"
                type: array
            application/json-p:
              schema:
                items:
                  $ref: "#/components/schemas/DiscussionTopicContract"
                type: array
            application/xml:
              schema:
                items:
                  $ref: "#/components/schemas/DiscussionTopicContract"
                type: array
            text/javascript:
              schema:
                items:
                  $ref: "#/components/schemas/DiscussionTopicContract"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/DiscussionTopicContract"
                type: array
            text/xml:
              schema:
                items:
                  $ref: "#/components/schemas/DiscussionTopicContract"
                type: array
          description: OK
      tags:
        - DiscussionApi
    post:
      deprecated: false
      operationId: DiscussionApi_PostNewTopic
      parameters:
        - in: path
          name: folderId
          required: true
          schema:
            format: int32
            type: integer
      requestBody:
        $ref: "#/components/requestBodies/DiscussionTopicContract"
      responses:
        "200":
          content:
            application/javascript:
              schema:
                $ref: "#/components/schemas/DiscussionTopicContract"
            application/json:
              schema:
                $ref: "#/components/schemas/DiscussionTopicContract"
            application/json-p:
              schema:
                $ref: "#/components/schemas/DiscussionTopicContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/DiscussionTopicContract"
            text/javascript:
              schema:
                $ref: "#/components/schemas/DiscussionTopicContract"
            text/json:
              schema:
                $ref: "#/components/schemas/DiscussionTopicContract"
            text/xml:
              schema:
                $ref: "#/components/schemas/DiscussionTopicContract"
          description: OK
      tags:
        - DiscussionApi
  /api/discussions/topics:
    get:
      deprecated: false
      operationId: DiscussionApi_GetTopics
      parameters:
        - in: query
          name: folderId
          required: false
          schema:
            format: int32
            type: integer
        - in: query
          name: start
          required: false
          schema:
            format: int32
            type: integer
        - in: query
          name: maxResults
          required: false
          schema:
            format: int32
            type: integer
        - in: query
          name: getTotalCount
          required: false
          schema:
            type: boolean
        - in: query
          name: sort
          required: false
          schema:
            enum:
              - None
              - Name
              - DateCreated
              - LastCommentDate
            type: string
        - in: query
          name: fields
          required: false
          schema:
            enum:
              - None
              - Comments
              - CommentCount
              - Content
              - LastComment
              - All
            type: string
      responses:
        "200":
          content:
            application/javascript:
              schema:
                $ref: "#/components/schemas/PartialFindResult_DiscussionTopicContract_"
            application/json:
              schema:
                $ref: "#/components/schemas/PartialFindResult_DiscussionTopicContract_"
            application/json-p:
              schema:
                $ref: "#/components/schemas/PartialFindResult_DiscussionTopicContract_"
            application/xml:
              schema:
                $ref: "#/components/schemas/PartialFindResult_DiscussionTopicContract_"
            text/javascript:
              schema:
                $ref: "#/components/schemas/PartialFindResult_DiscussionTopicContract_"
            text/json:
              schema:
                $ref: "#/components/schemas/PartialFindResult_DiscussionTopicContract_"
            text/xml:
              schema:
                $ref: "#/components/schemas/PartialFindResult_DiscussionTopicContract_"
          description: OK
      tags:
        - DiscussionApi
  "/api/discussions/topics/{topicId}":
    delete:
      deprecated: false
      operationId: DiscussionApi_DeleteTopic
      parameters:
        - in: path
          name: topicId
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "204":
          description: No Content
      tags:
        - DiscussionApi
    get:
      deprecated: false
      operationId: DiscussionApi_GetTopic
      parameters:
        - in: path
          name: topicId
          required: true
          schema:
            format: int32
            type: integer
        - in: query
          name: fields
          required: false
          schema:
            enum:
              - None
              - Comments
              - CommentCount
              - Content
              - LastComment
              - All
            type: string
      responses:
        "200":
          content:
            application/javascript:
              schema:
                $ref: "#/components/schemas/DiscussionTopicContract"
            application/json:
              schema:
                $ref: "#/components/schemas/DiscussionTopicContract"
            application/json-p:
              schema:
                $ref: "#/components/schemas/DiscussionTopicContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/DiscussionTopicContract"
            text/javascript:
              schema:
                $ref: "#/components/schemas/DiscussionTopicContract"
            text/json:
              schema:
                $ref: "#/components/schemas/DiscussionTopicContract"
            text/xml:
              schema:
                $ref: "#/components/schemas/DiscussionTopicContract"
          description: OK
      tags:
        - DiscussionApi
    post:
      deprecated: false
      operationId: DiscussionApi_PostEditTopic
      parameters:
        - in: path
          name: topicId
          required: true
          schema:
            format: int32
            type: integer
      requestBody:
        $ref: "#/components/requestBodies/DiscussionTopicContract"
      responses:
        "204":
          description: No Content
      tags:
        - DiscussionApi
  "/api/discussions/topics/{topicId}/comments":
    post:
      deprecated: false
      operationId: DiscussionApi_PostNewComment
      parameters:
        - in: path
          name: topicId
          required: true
          schema:
            format: int32
            type: integer
      requestBody:
        $ref: "#/components/requestBodies/CommentForApiContract2"
      responses:
        "200":
          content:
            application/javascript:
              schema:
                $ref: "#/components/schemas/CommentForApiContract"
            application/json:
              schema:
                $ref: "#/components/schemas/CommentForApiContract"
            application/json-p:
              schema:
                $ref: "#/components/schemas/CommentForApiContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/CommentForApiContract"
            text/javascript:
              schema:
                $ref: "#/components/schemas/CommentForApiContract"
            text/json:
              schema:
                $ref: "#/components/schemas/CommentForApiContract"
            text/xml:
              schema:
                $ref: "#/components/schemas/CommentForApiContract"
          description: OK
      tags:
        - DiscussionApi
  /api/entries:
    get:
      deprecated: false
      operationId: EntryApi_GetList
      parameters:
        - description: Entry name query (optional).
          in: query
          name: query
          required: false
          schema:
            type: string
        - description: Filter by tag name (optional).
          explode: true
          in: query
          name: tagName
          required: false
          schema:
            items:
              type: string
            type: array
        - description: Filter by tag Id (optional).
          explode: true
          in: query
          name: tagId
          required: false
          schema:
            items:
              format: int32
              type: integer
            type: array
        - description: Include child tags, if the tags being filtered by have any.
          in: query
          name: childTags
          required: false
          schema:
            type: boolean
        - description: Included entry types (optional).
          in: query
          name: entryTypes
          required: false
          schema:
            enum:
              - Nothing
              - Album
              - Artist
              - DiscussionTopic
              - PV
              - ReleaseEvent
              - ReleaseEventSeries
              - Song
              - SongList
              - Tag
              - User
              - Venue
            type: string
        - description: Filter by entry status (optional).
          in: query
          name: status
          required: false
          schema:
            enum:
              - Draft
              - Finished
              - Approved
              - Locked
            type: string
        - description: First item to be retrieved (optional, defaults to 0).
          in: query
          name: start
          required: false
          schema:
            format: int32
            type: integer
        - description: Maximum number of results to be loaded (optional, defaults to 10, maximum of 30).
          in: query
          name: maxResults
          required: false
          schema:
            format: int32
            type: integer
        - description: Whether to load total number of items (optional, default to false).
          in: query
          name: getTotalCount
          required: false
          schema:
            type: boolean
        - description: Sort rule (optional, defaults to Name). Possible values are None, Name, AdditionDate.
          in: query
          name: sort
          required: false
          schema:
            enum:
              - None
              - Name
              - AdditionDate
              - ActivityDate
            type: string
        - description: Match mode for entry name (optional, defaults to Exact).
          in: query
          name: nameMatchMode
          required: false
          schema:
            enum:
              - Auto
              - Partial
              - StartsWith
              - Exact
              - Words
            type: string
        - description: List of optional fields (optional). Possible values are Description, MainPicture, Names, Tags, WebLinks.
          in: query
          name: fields
          required: false
          schema:
            enum:
              - None
              - AdditionalNames
              - Description
              - MainPicture
              - Names
              - PVs
              - Tags
              - WebLinks
            type: string
        - description: Content language preference (optional).
          in: query
          name: lang
          required: false
          schema:
            enum:
              - Default
              - Japanese
              - Romaji
              - English
            type: string
      responses:
        "200":
          content:
            application/javascript:
              schema:
                $ref: "#/components/schemas/PartialFindResult_EntryForApiContract_"
            application/json:
              schema:
                $ref: "#/components/schemas/PartialFindResult_EntryForApiContract_"
            application/json-p:
              schema:
                $ref: "#/components/schemas/PartialFindResult_EntryForApiContract_"
            application/xml:
              schema:
                $ref: "#/components/schemas/PartialFindResult_EntryForApiContract_"
            text/javascript:
              schema:
                $ref: "#/components/schemas/PartialFindResult_EntryForApiContract_"
            text/json:
              schema:
                $ref: "#/components/schemas/PartialFindResult_EntryForApiContract_"
            text/xml:
              schema:
                $ref: "#/components/schemas/PartialFindResult_EntryForApiContract_"
          description: OK
      summary: Find entries.
      tags:
        - EntryApi
  /api/entries/names:
    get:
      deprecated: false
      operationId: EntryApi_GetNames
      parameters:
        - description: Text query.
          in: query
          name: query
          required: false
          schema:
            type: string
        - description: Name match mode.
          in: query
          name: nameMatchMode
          required: false
          schema:
            enum:
              - Auto
              - Partial
              - StartsWith
              - Exact
              - Words
            type: string
        - description: Maximum number of results.
          in: query
          name: maxResults
          required: false
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/javascript:
              schema:
                items:
                  type: string
                type: array
            application/json:
              schema:
                items:
                  type: string
                type: array
            application/json-p:
              schema:
                items:
                  type: string
                type: array
            application/xml:
              schema:
                items:
                  type: string
                type: array
            text/javascript:
              schema:
                items:
                  type: string
                type: array
            text/json:
              schema:
                items:
                  type: string
                type: array
            text/xml:
              schema:
                items:
                  type: string
                type: array
          description: OK
      summary: Gets a list of entry names. Ideal for autocomplete boxes.
      tags:
        - EntryApi
  "/api/entry-types/{entryType}/{subType}/tag":
    get:
      deprecated: false
      operationId: EntryTypesApi_GetMappedTag
      parameters:
        - in: path
          name: entryType
          required: true
          schema:
            enum:
              - Undefined
              - Album
              - Artist
              - DiscussionTopic
              - PV
              - ReleaseEvent
              - ReleaseEventSeries
              - Song
              - SongList
              - Tag
              - User
              - Venue
            type: string
        - in: path
          name: subType
          required: true
          schema:
            type: string
        - in: query
          name: fields
          required: false
          schema:
            enum:
              - None
              - AdditionalNames
              - AliasedTo
              - Description
              - MainPicture
              - Names
              - Parent
              - RelatedTags
              - TranslatedDescription
              - WebLinks
            type: string
      responses:
        "200":
          content:
            application/javascript:
              schema:
                $ref: "#/components/schemas/TagForApiContract"
            application/json:
              schema:
                $ref: "#/components/schemas/TagForApiContract"
            application/json-p:
              schema:
                $ref: "#/components/schemas/TagForApiContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/TagForApiContract"
            text/javascript:
              schema:
                $ref: "#/components/schemas/TagForApiContract"
            text/json:
              schema:
                $ref: "#/components/schemas/TagForApiContract"
            text/xml:
              schema:
                $ref: "#/components/schemas/TagForApiContract"
          description: OK
      tags:
        - EntryTypesApi
  /api/pvs/for-songs:
    get:
      deprecated: false
      operationId: PVApi_GetList
      parameters:
        - description: PV title (optional).
          in: query
          name: name
          required: false
          schema:
            type: string
        - description: Uploader name (optional).
          in: query
          name: author
          required: false
          schema:
            type: string
        - description: PV service (optional).
          in: query
          name: service
          required: false
          schema:
            enum:
              - NicoNicoDouga
              - Youtube
              - SoundCloud
              - Vimeo
              - Piapro
              - Bilibili
              - File
              - LocalFile
              - Creofuga
              - Bandcamp
            type: string
        - description: Maximum number of results.
          in: query
          name: maxResults
          required: false
          schema:
            format: int32
            type: integer
        - description: Whether to load total number of items (optional, default to false).
          in: query
          name: getTotalCount
          required: false
          schema:
            type: boolean
        - description: Content language preference (optional).
          in: query
          name: lang
          required: false
          schema:
            enum:
              - Default
              - Japanese
              - Romaji
              - English
            type: string
      responses:
        "200":
          content:
            application/javascript:
              schema:
                $ref: "#/components/schemas/PartialFindResult_PVForSongContract_"
            application/json:
              schema:
                $ref: "#/components/schemas/PartialFindResult_PVForSongContract_"
            application/json-p:
              schema:
                $ref: "#/components/schemas/PartialFindResult_PVForSongContract_"
            application/xml:
              schema:
                $ref: "#/components/schemas/PartialFindResult_PVForSongContract_"
            text/javascript:
              schema:
                $ref: "#/components/schemas/PartialFindResult_PVForSongContract_"
            text/json:
              schema:
                $ref: "#/components/schemas/PartialFindResult_PVForSongContract_"
            text/xml:
              schema:
                $ref: "#/components/schemas/PartialFindResult_PVForSongContract_"
          description: OK
      summary: Gets a list of PVs for songs.
      tags:
        - PVApi
  /api/releaseEventSeries:
    get:
      deprecated: false
      operationId: ReleaseEventSeriesApi_GetList
      parameters:
        - description: Text query.
          in: query
          name: query
          required: false
          schema:
            type: string
        - description: Optional fields to include.
          in: query
          name: fields
          required: false
          schema:
            enum:
              - None
              - AdditionalNames
              - Description
              - Events
              - MainPicture
              - Names
              - WebLinks
            type: string
        - description: First item to be retrieved (optional).
          in: query
          name: start
          required: false
          schema:
            format: int32
            type: integer
        - description: Maximum number of results to be loaded (optional).
          in: query
          name: maxResults
          required: false
          schema:
            format: int32
            type: integer
        - description: Whether to load total number of items (optional).
          in: query
          name: getTotalCount
          required: false
          schema:
            type: boolean
        - description: Match mode for event name (optional).
          in: query
          name: nameMatchMode
          required: false
          schema:
            enum:
              - Auto
              - Partial
              - StartsWith
              - Exact
              - Words
            type: string
        - description: Content language preference (optional).
          in: query
          name: lang
          required: false
          schema:
            enum:
              - Default
              - Japanese
              - Romaji
              - English
            type: string
      responses:
        "200":
          content:
            application/javascript:
              schema:
                $ref: "#/components/schemas/PartialFindResult_ReleaseEventSeriesForApiContract_"
            application/json:
              schema:
                $ref: "#/components/schemas/PartialFindResult_ReleaseEventSeriesForApiContract_"
            application/json-p:
              schema:
                $ref: "#/components/schemas/PartialFindResult_ReleaseEventSeriesForApiContract_"
            application/xml:
              schema:
                $ref: "#/components/schemas/PartialFindResult_ReleaseEventSeriesForApiContract_"
            text/javascript:
              schema:
                $ref: "#/components/schemas/PartialFindResult_ReleaseEventSeriesForApiContract_"
            text/json:
              schema:
                $ref: "#/components/schemas/PartialFindResult_ReleaseEventSeriesForApiContract_"
            text/xml:
              schema:
                $ref: "#/components/schemas/PartialFindResult_ReleaseEventSeriesForApiContract_"
          description: OK
      summary: Gets a page of event series.
      tags:
        - ReleaseEventSeriesApi
  "/api/releaseEventSeries/{id}":
    delete:
      deprecated: false
      operationId: ReleaseEventSeriesApi_Delete
      parameters:
        - description: ID of the series to be deleted.
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
        - description: Notes.
          in: query
          name: notes
          required: false
          schema:
            type: string
        - description: "If true, the entry is hard deleted. Hard deleted entries cannot be restored normally, but they will be moved to trash.\r

            \            If false, the entry is soft deleted, meaning it can still be restored."
          in: query
          name: hardDelete
          required: false
          schema:
            type: boolean
      responses:
        "204":
          description: No Content
      summary: Deletes an event series.
      tags:
        - ReleaseEventSeriesApi
    get:
      deprecated: false
      operationId: ReleaseEventSeriesApi_GetOne
      parameters:
        - in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
        - in: query
          name: fields
          required: false
          schema:
            enum:
              - None
              - AdditionalNames
              - Description
              - Events
              - MainPicture
              - Names
              - WebLinks
            type: string
        - in: query
          name: lang
          required: false
          schema:
            enum:
              - Default
              - Japanese
              - Romaji
              - English
            type: string
      responses:
        "200":
          content:
            application/javascript:
              schema:
                $ref: "#/components/schemas/ReleaseEventSeriesForApiContract"
            application/json:
              schema:
                $ref: "#/components/schemas/ReleaseEventSeriesForApiContract"
            application/json-p:
              schema:
                $ref: "#/components/schemas/ReleaseEventSeriesForApiContract"
            application/xml:
              schema:
                $ref: "#/components/schemas/ReleaseEventSeriesForApiContract"
            text/javascript:
              schema:
                $ref: "#/components/schemas/ReleaseEventSeriesForApiContract"
            text/json:
              schema:
                $ref: "#/components/schemas/ReleaseEventSeriesForApiContract"
            text/xml:
              schema:
                $ref: "#/components/schemas/ReleaseEventSeriesForApiContract"
          description: OK
      summary: Gets single event series by ID.
      tags:
        - ReleaseEventSeriesApi
  /api/releaseEvents:
    get:
      deprecated: false
      operationId: ReleaseEventApi_GetList
      parameters:
        - description: Event name query (optional).
          in: query
          name: query
          required: false
          schema:
            type: string
        - description: Match mode for event name (optional, defaults to Auto).
          in: query
          name: nameMatchMode
          required: false
          schema:
            enum:
              - Auto
              - Partial
              - StartsWith
              - Exact
              - Words
            type: string
        - description: Filter by series Id.
          in: query
          name: seriesId
          required: false
          schema:
            format: int32
            type: integer
        - description: Filter by events after this date (inclusive).
          in: query
          name: afterDate
          required: false
          schema:
            format: date-time
            type: string
        - description: Filter by events before this date (exclusive).
          in: query
          name: beforeDate
          required: false
          schema:
            format: date-time
            type: string
        - description: Filter by event category.
          in: query
          name: category
          required: false
          schema:
            enum:
              - Unspecified
              - AlbumRelease
              - Anniversary
              - Club
              - Concert
              - Contest
              - Convention
              - Other
            type: string
        - description: Filter to include only events in user's events (interested or attending).
          in: query
          name: userCollectionId
          required: false
          schema:
            format: int32
            type: integer
        - description: Filter by one or more tag Ids (optional).
          explode: true
          in: query
          name: tagId
          required: false
          schema:
            items:
              format: int32
              type: integer
            type: array
        - description: Include child tags, if the tags being filtered by have any.
          in: query
          name: childTags
          required: false
          schema:
            type: boolean
        - description: Filter by artist Id.
          explode: true
          in: query
          name: artistId
          required: false
          schema:
            items:
              format: int32
              type: integer
            type: array
        - description: Include child voicebanks, if the artist being filtered by has any.
          in: query
          name: childVoicebanks
          required: false
          schema:
            type: boolean
        - description: Include members of groups. This applies if {artistId} is a group.
          in: query
          name: includeMembers
          required: false
          schema:
            type: boolean
        - description: Filter by entry status.
          in: query
          name: status
          required: false
          schema:
            enum:
              - Draft
              - Finished
              - Approved
              - Locked
            type: string
        - description: First item to be retrieved (optional, defaults to 0).
          in: query
          name: start
          required: false
          schema:
            format: int32
            type: integer
        - description: Maximum number of results to be loaded (optional, defaults to 10).
          in: query
          name: maxResults
          required: false
          schema:
            format: int32
            type: integer
        - description: Whether to load total number of items (optional, default to false).
          in: query
          name: getTotalCount
          required: false
          schema:
            type: boolean
        - description: "Sort rule (optional, defaults to Name). \r

            \            Possible values are None, Name, Date, SeriesName."
          in: query
          name: sort
          required: false
          schema:
            enum:
              - None
              - Name
              - Date
              - AdditionDate
              - SeriesName
              - VenueName
            type: string
        - description: Optional fields (optional). Possible values are Description, Series.
          in: query
          name: fields
          required: false
          schema:
            enum:
              - None
              - AdditionalNames
              - Artists
              - Description
              - MainPicture
              - Names
              - Series
              - SongList
              - Tags
              - Venue
              - WebLinks
            type: string
        - description: Content language preference.
          in: query
          name: lang
          required: false
          schema:
            enum:
              - Default
              - Japanese
              - Romaji
              - English
            type: string
      responses:
        "200":
          content:
            application/javascript:
              schema:
                $ref: "#/components/schemas/PartialFindResult_ReleaseEventForApiContract_"
            application/json:
              schema:
                $ref: "#/components/schemas/PartialFindResult_ReleaseEventForApiContract_"
            application/json-p:
              schema:
                $ref: "#/components/schemas/PartialFindResult_ReleaseEventForApiContract_"
            application/xml:
              schema:
                $ref: "#/components/schemas/PartialFindResult_ReleaseEventForApiContract_"
            text/javascript:
              schema:
                $ref: "#/components/schemas/PartialFindResult_ReleaseEventForApiContract_"
            text/json:
              schema:
                $ref: "#/components/schemas/PartialFindResult_ReleaseEventForApiContract_"
            text/xml:
              schema:
                $ref: "#/components/schemas/PartialFindResult_ReleaseEventForApiContract_"
          description: OK
      summary: Gets a page of events.
      tags:
        - ReleaseEventApi
  /api/releaseEvents/names:
    get:
      deprecated: false
      operationId: ReleaseEventApi_GetNames
      parameters:
        - description: Event name query, for example "Voc@loid".
          in: query
          name: query
          required: false
          schema:
            type: string
        - description: Maximum number of search results.
          in: query
          name: maxResults
          required: false
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/javascript:
              schema:
                items:
                  type: string
                type: array
            application/json:
              schema:
                items:
                  type: string
                type: array
            application/json-p:
              schema:
                items:
                  type: string
                type: array
            application/xml:
              schema:
                items:
                  type: string
                type: array
            text/javascript:
              schema:
                items:
                  type: string
                type: array
            text/json:
              schema:
                items:
                  type: string
                type: array
            text/xml:
              schema:
                items:
                  type: string
                type: array
          description: OK
      summary: "Find event names by a part of name.\r

        \            \r

        \            Matching is done anywhere from the name."
      tags:
        - ReleaseEventApi
  "/api/releaseEvents/{eventId}/albums":
    get:
      deprecated: false
      operationId: ReleaseEventApi_GetAlbums
      parameters:
        - description: Release event ID.
          in: path
          name: eventId
          required: true
          schema:
            format: int32
            type: integer
        - description: List of optional album fields.
          in: query
          name: fields
          required: false
          schema:
            enum:
              - None
              - AdditionalNames
              - Artists
              - Description
              - Discs
              - Identifiers
              - MainPicture
              - Names
              - PVs
              - ReleaseEvent
              - Tags
              - Tracks
              - WebLinks
            type: string
        - description: Content language preference.
          in: query
          name: lang
          required: false
          schema:
            enum:
              - Default
              - Japanese
              - Romaji
              - English
            type: string
      responses:
        "200":
          content:
            application/javascript:
              schema:
                items:
                  $ref: "#/components/schemas/AlbumForApiContract"
                type: array
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AlbumForApiContract"
                type: array
            application/json-p:
              schema:
                items:
                  $ref: "#/components/schemas/AlbumForApiContract"
                type: array
[...]
