swagger: '2.0'
schemes:
  - https
host: vocadb.net
info:
  contact:
    x-twitter: vocadb
  title: VocaDB
  version: v1
  x-apisguru-categories:
    - media
  x-logo:
    url: 'https://twitter.com/vocadb/profile_image?size=original'
  x-origin:
    - format: swagger
      url: 'http://vocadb.net/swagger/docs/v1'
      version: '2.0'
  x-providerName: vocadb.net
paths:
  /api/activityEntries:
    get:
      consumes: []
      deprecated: false
      description: "Entries are always returned sorted from newest to oldest.\r\n            Activity for deleted entries is not returned."
      operationId: ActivityEntryApi_GetList
      parameters:
        - description: 'Filter to return activity entries only before this date. Optional, by default no filter.'
          format: date-time
          in: query
          name: before
          required: false
          type: string
        - description: 'Filter to return activity entries only after this date. Optional, by default no filter.'
          format: date-time
          in: query
          name: since
          required: false
          type: string
        - description: 'Filter by user Id. Optional, by default no filter.'
          format: int32
          in: query
          name: userId
          required: false
          type: integer
        - description: 'Filter by entry edit event (either Created or Updated). Optional, by default no filter.'
          enum:
            - Created
            - Updated
            - Deleted
            - Restored
          in: query
          name: editEvent
          required: false
          type: string
        - description: Maximum number of results to return. Default 50. Maximum value 500.
          format: int32
          in: query
          name: maxResults
          required: false
          type: integer
        - description: 'Whether to load total number of items (optional, default to false).'
          in: query
          name: getTotalCount
          required: false
          type: boolean
        - description: Optional fields.
          enum:
            - None
            - ArchivedVersion
            - Entry
          in: query
          name: fields
          required: false
          type: string
        - description: Optional fields for entries.
          enum:
            - None
            - AdditionalNames
            - Description
            - MainPicture
            - Names
            - PVs
            - Tags
            - WebLinks
          in: query
          name: entryFields
          required: false
          type: string
        - description: Content language preference.
          enum:
            - Default
            - Japanese
            - Romaji
            - English
          in: query
          name: lang
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - text/javascript
        - application/javascript
        - application/json-p
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PartialFindResult[ActivityEntryForApiContract]'
      summary: Gets a list of recent activity entries.
      tags:
        - ActivityEntryApi
  /api/albums:
    get:
      consumes: []
      deprecated: false
      operationId: AlbumApi_GetList
      parameters:
        - description: Album name query (optional).
          in: query
          name: query
          required: false
          type: string
        - description: 'Disc type. By default nothing. Possible values are Album, Single, EP, SplitAlbum, Compilation, Video, Other. Note: only one type supported for now.'
          enum:
            - Unknown
            - Album
            - Single
            - EP
            - SplitAlbum
            - Compilation
            - Video
            - Artbook
            - Game
            - Fanmade
            - Instrumental
            - Other
          in: query
          name: discTypes
          required: false
          type: string
        - collectionFormat: multi
          description: Filter by tag name (optional). This filter can be specified multiple times.
          in: query
          items:
            type: string
          name: tagName
          required: false
          type: array
        - collectionFormat: multi
          description: Filter by tag Id (optional). This filter can be specified multiple times.
          in: query
          items:
            format: int32
            type: integer
          name: tagId
          required: false
          type: array
        - description: 'Include child tags, if the tags being filtered by have any.'
          in: query
          name: childTags
          required: false
          type: boolean
        - collectionFormat: multi
          description: Filter by artist Id (optional).
          in: query
          items:
            format: int32
            type: integer
          name: artistId
          required: false
          type: array
        - description: "Filter by artist participation status. Only valid if artistId is specified.\r\n            Everything (default): Show all albums by that artist (no filter).\r\n            OnlyMainAlbums: Show only main albums by that artist.\r\n            OnlyCollaborations: Show only collaborations by that artist."
          enum:
            - Everything
            - OnlyMainAlbums
            - OnlyCollaborations
          in: query
          name: artistParticipationStatus
          required: false
          type: string
        - description: 'Include child voicebanks, if the artist being filtered by has any.'
          in: query
          name: childVoicebanks
          required: false
          type: boolean
        - description: 'Include members of groups. This applies if {artistId} is a group.'
          in: query
          name: includeMembers
          required: false
          type: boolean
        - description: Filter by album barcode (optional).
          in: query
          name: barcode
          required: false
          type: string
        - description: Filter by entry status (optional).
          enum:
            - Draft
            - Finished
            - Approved
            - Locked
          in: query
          name: status
          required: false
          type: string
        - description: Filter by albums whose release date is after this date (inclusive).
          format: date-time
          in: query
          name: releaseDateAfter
          required: false
          type: string
        - description: Filter by albums whose release date is before this date (exclusive).
          format: date-time
          in: query
          name: releaseDateBefore
          required: false
          type: string
        - collectionFormat: multi
          description: List of advanced filters (optional).
          in: query
          items: {}
          name: advancedFilters
          required: false
          type: array
        - description: 'First item to be retrieved (optional, defaults to 0).'
          format: int32
          in: query
          name: start
          required: false
          type: integer
        - description: 'Maximum number of results to be loaded (optional, defaults to 10, maximum of 50).'
          format: int32
          in: query
          name: maxResults
          required: false
          type: integer
        - description: 'Whether to load total number of items (optional, default to false).'
          in: query
          name: getTotalCount
          required: false
          type: boolean
        - description: "Sort rule (optional, defaults to Name). \r\n            Possible values are None, Name, ReleaseDate, ReleaseDateWithNulls, AdditionDate, RatingAverage, RatingTotal, NameThenReleaseDate."
          enum:
            - None
            - Name
            - ReleaseDate
            - ReleaseDateWithNulls
            - AdditionDate
            - RatingAverage
            - RatingTotal
            - NameThenReleaseDate
            - CollectionCount
          in: query
          name: sort
          required: false
          type: string
        - description: "Whether the search should prefer accurate matches. \r\n            If this is true, entries that match by prefix will be moved first, instead of being sorted alphabetically.\r\n            Requires a text query. Does not support pagination.\r\n            This is mostly useful for autocomplete boxes."
          in: query
          name: preferAccurateMatches
          required: false
          type: boolean
        - description: "Whether to search for deleted entries.\r\n            If this is true, only deleted entries will be returned.\r\n            If this is false (default), deleted entries are not returned."
          in: query
          name: deleted
          required: false
          type: boolean
        - description: 'Match mode for artist name (optional, defaults to Exact).'
          enum:
            - Auto
            - Partial
            - StartsWith
            - Exact
            - Words
          in: query
          name: nameMatchMode
          required: false
          type: string
        - description: 'Optional fields (optional). Possible values are artists, names, pvs, tags, tracks, webLinks.'
          enum:
            - None
            - AdditionalNames
            - Artists
            - Description
            - Discs
            - Identifiers
            - MainPicture
            - Names
            - PVs
            - ReleaseEvent
            - Tags
            - Tracks
            - WebLinks
          in: query
          name: fields
          required: false
          type: string
        - description: Content language preference (optional).
          enum:
            - Default
            - Japanese
            - Romaji
            - English
          in: query
          name: lang
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - text/javascript
        - application/javascript
        - application/json-p
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PartialFindResult[AlbumForApiContract]'
      summary: Gets a page of albums.
      tags:
        - AlbumApi
  '/api/albums/comments/{commentId}':
    delete:
      consumes: []
      deprecated: false
      description: "Normal users can delete their own comments, moderators can delete all comments.\r\n            Requires login."
      operationId: AlbumApi_DeleteComment
      parameters:
        - description: ID of the comment to be deleted.
          format: int32
          in: path
          name: commentId
          required: true
          type: integer
      produces: []
      responses:
        '204':
          description: No Content
      summary: Deletes a comment.
      tags:
        - AlbumApi
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: "Normal users can edit their own comments, moderators can edit all comments.\r\n            Requires login."
      operationId: AlbumApi_PostEditComment
      parameters:
        - description: ID of the comment to be edited.
          format: int32
          in: path
          name: commentId
          required: true
          type: integer
        - description: New comment data. Only message can be edited.
          in: body
          name: contract
          required: true
          schema:
            $ref: '#/definitions/CommentForApiContract'
      produces: []
      responses:
        '204':
          description: No Content
      summary: Updates a comment.
      tags:
        - AlbumApi
  /api/albums/names:
    get:
      consumes: []
      deprecated: false
      operationId: AlbumApi_GetNames
      parameters:
        - description: Text query.
          in: query
          name: query
          required: false
          type: string
        - description: Name match mode.
          enum:
            - Auto
            - Partial
            - StartsWith
            - Exact
            - Words
          in: query
          name: nameMatchMode
          required: false
          type: string
        - description: Maximum number of results.
          format: int32
          in: query
          name: maxResults
          required: false
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - text/javascript
        - application/javascript
        - application/json-p
      responses:
        '200':
          description: OK
          schema:
            items:
              type: string
            type: array
      summary: Gets a list of album names. Ideal for autocomplete boxes.
      tags:
        - AlbumApi
  /api/albums/new:
    get:
      consumes: []
      deprecated: false
      description: Output is cached for 1 hour.
      operationId: AlbumApi_GetNewAlbums
      parameters:
        - enum:
            - Default
            - Japanese
            - Romaji
            - English
          in: query
          name: languagePreference
          required: false
          type: string
        - enum:
            - None
            - AdditionalNames
            - Artists
            - Description
            - Discs
            - Identifiers
            - MainPicture
            - Names
            - PVs
            - ReleaseEvent
            - Tags
            - Tracks
            - WebLinks
          in: query
          name: fields
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - text/javascript
        - application/javascript
        - application/json-p
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/AlbumForApiContract'
            type: array
      summary: 'Gets list of upcoming or recent albums, same as front page.'
      tags:
        - AlbumApi
  /api/albums/top:
    get:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: Output is cached for 1 hour.
      operationId: AlbumApi_GetTopAlbums
      parameters:
        - in: body
          name: ignoreIds
          required: true
          schema:
            items:
              format: int32
              type: integer
            type: array
        - enum:
            - Default
            - Japanese
            - Romaji
            - English
          in: query
          name: languagePreference
          required: false
          type: string
        - enum:
            - None
            - AdditionalNames
            - Artists
            - Description
            - Discs
            - Identifiers
            - MainPicture
            - Names
            - PVs
            - ReleaseEvent
            - Tags
            - Tracks
            - WebLinks
          in: query
          name: fields
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - text/javascript
        - application/javascript
        - application/json-p
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/AlbumForApiContract'
            type: array
      summary: 'Gets list of top rated albums, same as front page.'
      tags:
        - AlbumApi
  '/api/albums/{id}':
    delete:
      consumes: []
      deprecated: false
      operationId: AlbumApi_Delete
      parameters:
        - description: ID of the album to be deleted.
          format: int32
          in: path
          name: id
          required: true
          type: integer
        - description: Notes.
          in: query
          name: notes
          required: false
          type: string
      produces: []
      responses:
        '204':
          description: No Content
      summary: Deletes an album.
      tags:
        - AlbumApi
    get:
      consumes: []
      deprecated: false
      operationId: AlbumApi_GetOne
      parameters:
        - description: Album Id (required).
          format: int32
          in: path
          name: id
          required: true
          type: integer
        - description: 'Optional fields (optional). Possible values are artists, names, pvs, tags, tracks, webLinks.'
          enum:
            - None
            - AdditionalNames
            - Artists
            - Description
            - Discs
            - Identifiers
            - MainPicture
            - Names
            - PVs
            - ReleaseEvent
            - Tags
            - Tracks
            - WebLinks
          in: query
          name: fields
          required: false
          type: string
        - description: 'Optional fields for tracks, if included (optional).'
          enum:
            - None
            - AdditionalNames
            - Albums
            - Artists
            - Lyrics
            - MainPicture
            - Names
            - PVs
            - ReleaseEvent
            - Tags
            - ThumbUrl
            - WebLinks
          in: query
          name: songFields
          required: false
          type: string
        - description: Content language preference (optional).
          enum:
            - Default
            - Japanese
            - Romaji
            - English
          in: query
          name: lang
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - text/javascript
        - application/javascript
        - application/json-p
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/AlbumForApiContract'
      summary: Gets an album by Id.
      tags:
        - AlbumApi
  '/api/albums/{id}/comments':
    get:
      consumes: []
      deprecated: false
      description: Pagination and sorting might be added later.
      operationId: AlbumApi_GetComments
      parameters:
        - description: ID of the album whose comments to load.
          format: int32
          in: path
          name: id
          required: true
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - text/javascript
        - application/javascript
        - application/json-p
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/CommentForApiContract'
            type: array
      summary: Gets a list of comments for an album.
      tags:
        - AlbumApi
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      operationId: AlbumApi_PostNewComment
      parameters:
        - description: ID of the album for which to create the comment.
          format: int32
          in: path
          name: id
          required: true
          type: integer
        - description: Comment data. Message and author must be specified. Author must match the logged in user.
          in: body
          name: contract
          required: true
          schema:
            $ref: '#/definitions/CommentForApiContract'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - text/javascript
        - application/javascript
        - application/json-p
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CommentForApiContract'
      summary: Posts a new comment.
      tags:
        - AlbumApi
  '/api/albums/{id}/reviews':
    get:
      consumes: []
      deprecated: false
      operationId: AlbumApi_GetReviews
      parameters:
        - format: int32
          in: path
          name: id
          required: true
          type: integer
        - in: query
          name: languageCode
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - text/javascript
        - application/javascript
        - application/json-p
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/AlbumReviewContract'
            type: array
      tags:
        - AlbumApi
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      operationId: AlbumApi_PostReview
      parameters:
        - format: int32
          in: path
          name: id
          required: true
          type: integer
        - in: body
          name: reviewContract
          required: true
          schema:
            $ref: '#/definitions/AlbumReviewContract'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - text/javascript
        - application/javascript
        - application/json-p
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/AlbumReviewContract'
      tags:
        - AlbumApi
  '/api/albums/{id}/reviews/{reviewId}':
    delete:
      consumes: []
      deprecated: false
      operationId: AlbumApi_DeleteReview
      parameters:
        - format: int32
          in: path
          name: reviewId
          required: true
          type: integer
        - in: path
          name: id
          required: true
          type: string
      produces: []
      responses:
        '204':
          description: No Content
      tags:
        - AlbumApi
  '/api/albums/{id}/tracks':
    get:
      consumes: []
      deprecated: false
      operationId: AlbumApi_GetTracks
      parameters:
        - description: Album ID (required).
          format: int32
          in: path
          name: id
          required: true
          type: integer
        - description: 'List of optional fields (optional). Possible values are Albums, Artists, Names, PVs, Tags, ThumbUrl, WebLinks.'
          enum:
            - None
            - AdditionalNames
            - Albums
            - Artists
            - Lyrics
            - MainPicture
            - Names
            - PVs
            - ReleaseEvent
            - Tags
            - ThumbUrl
            - WebLinks
          in: query
          name: fields
          required: false
          type: string
        - description: Content language preference (optional).
          enum:
            - Default
            - Japanese
            - Romaji
            - English
          in: query
          name: lang
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - text/javascript
        - application/javascript
        - application/json-p
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/SongInAlbumForApiContract'
            type: array
      summary: Gets tracks for an album.
      tags:
        - AlbumApi
  '/api/albums/{id}/tracks/fields':
    get:
      consumes: []
      deprecated: false
      operationId: AlbumApi_GetTracksFormatted
      parameters:
        - description: Album ID.
          format: int32
          in: path
          name: id
          required: true
          type: integer
        - collectionFormat: multi
          description: 'Field to be included, for example "featvocalists" or "url". Can be specified multiple times.'
          in: query
          items:
            type: string
          name: field
          required: false
          type: array
        - description: Language preference.
          enum:
            - Default
            - Japanese
            - Romaji
            - English
          in: query
          name: lang
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - text/csv
        - text/javascript
        - application/javascript
        - application/json-p
      responses:
        '200':
          description: OK
          schema:
            items:
              additionalProperties:
                type: string
              type: object
            type: array
      summary: Gets tracks for an album formatted using the CSV format string.
      tags:
        - AlbumApi
  '/api/albums/{id}/user-collections':
    get:
      consumes: []
      deprecated: false
      operationId: AlbumApi_GetUserCollections
      parameters:
        - format: int32
          in: path
          name: id
          required: true
          type: integer
        - enum:
            - Default
            - Japanese
            - Romaji
            - English
          in: query
          name: languagePreference
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - text/javascript
        - application/javascript
        - application/json-p
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/AlbumForUserForApiContract'
            type: array
      tags:
        - AlbumApi
  /api/artists:
    get:
      consumes: []
      deprecated: false
      operationId: ArtistApi_GetList
      parameters:
        - description: Artist name query (optional).
          in: query
          name: query
          required: false
          type: string
        - description: Filtered artist type (optional).
          in: query
          name: artistTypes
          required: false
          type: string
        - description: 'Allow base voicebanks. If false, only root voicebanks will be allowed. Only affects voice synthesizers that can have base voicebanks.'
          in: query
          name: allowBaseVoicebanks
          required: false
          type: boolean
        - collectionFormat: multi
          description: Filter by tag name (optional).
          in: query
          items:
            type: string
          name: tagName
          required: false
          type: array
        - collectionFormat: multi
          description: Filter by tag Id (optional). This filter can be specified multiple times.
          in: query
          items:
            format: int32
            type: integer
          name: tagId
          required: false
          type: array
        - description: 'Include child tags, if the tags being filtered by have any.'
          in: query
          name: childTags
          required: false
          type: boolean
        - description: Filter by user following the artists. By default there is no filtering.
          format: int32
          in: query
          name: followedByUserId
          required: false
          type: integer
        - description: Filter by entry status (optional).
          enum:
            - Draft
            - Finished
            - Approved
            - Locked
          in: query
          name: status
          required: false
          type: string
        - collectionFormat: multi
          description: List of advanced filters (optional).
          in: query
          items: {}
          name: advancedFilters
          required: false
          type: array
        - description: 'First item to be retrieved (optional, defaults to 0).'
          format: int32
          in: query
          name: start
          required: false
          type: integer
        - description: 'Maximum number of results to be loaded (optional, defaults to 10, maximum of 100).'
          format: int32
          in: query
          name: maxResults
          required: false
          type: integer
        - description: 'Whether to load total number of items (optional, default to false).'
          in: query
          name: getTotalCount
          required: false
          type: boolean
        - description: 'Sort rule (optional, defaults to Name). Possible values are None, Name, AdditionDate, AdditionDateAsc.'
          enum:
            - None
            - Name
            - AdditionDate
            - AdditionDateAsc
            - ReleaseDate
            - SongCount
            - SongRating
            - FollowerCount
          in: query
          name: sort
          required: false
          type: string
        - description: "Whether the search should prefer accurate matches. \r\n            If this is true, entries that match by prefix will be moved first, instead of being sorted alphabetically.\r\n            Requires a text query. Does not support pagination.\r\n            This is mostly useful for autocomplete boxes."
          in: query
          name: preferAccurateMatches
          required: false
          type: boolean
        - description: 'Match mode for artist name (optional, defaults to Exact).'
          enum:
            - Auto
            - Partial
            - StartsWith
            - Exact
            - Words
          in: query
          name: nameMatchMode
          required: false
          type: string
        - description: 'List of optional fields (optional). Possible values are Description, Groups, Members, Names, Tags, WebLinks.'
          enum:
            - None
            - AdditionalNames
            - ArtistLinks
            - ArtistLinksReverse
            - BaseVoicebank
            - Description
            - MainPicture
            - Names
            - Tags
            - WebLinks
          in: query
          name: fields
          required: false
          type: string
        - description: Content language preference (optional).
          enum:
            - Default
            - Japanese
            - Romaji
            - English
          in: query
          name: lang
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - text/javascript
        - application/javascript
        - application/json-p
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PartialFindResult[ArtistForApiContract]'
      summary: Find artists.
      tags:
        - ArtistApi
  '/api/artists/comments/{commentId}':
    delete:
      consumes: []
      deprecated: false
      description: "Normal users can delete their own comments, moderators can delete all comments.\r\n            Requires login."
      operationId: ArtistApi_DeleteComment
      parameters:
        - description: ID of the comment to be deleted.
          format: int32
          in: path
          name: commentId
          required: true
          type: integer
      produces: []
      responses:
        '204':
          description: No Content
      summary: Deletes a comment.
      tags:
        - ArtistApi
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: "Normal users can edit their own comments, moderators can edit all comments.\r\n            Requires login."
      operationId: ArtistApi_PostEditComment
      parameters:
        - description: ID of the comment to be edited.
          format: int32
          in: path
          name: commentId
          required: true
          type: integer
        - description: New comment data. Only message can be edited.
          in: body
          name: contract
          required: true
          schema:
            $ref: '#/definitions/CommentForApiContract'
      produces: []
      responses:
        '204':
          description: No Content
      summary: Updates a comment.
      tags:
        - ArtistApi
  /api/artists/names:
    get:
      consumes: []
      deprecated: false
      operationId: ArtistApi_GetNames
      parameters:
        - description: Text query.
          in: query
          name: query
          required: false
          type: string
        - description: Name match mode.
          enum:
            - Auto
            - Partial
            - StartsWith
            - Exact
            - Words
          in: query
          name: nameMatchMode
          required: false
          type: string
        - description: Maximum number of results.
          format: int32
          in: query
          name: maxResults
          required: false
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - text/javascript
        - application/javascript
        - application/json-p
      responses:
        '200':
          description: OK
          schema:
            items:
              type: string
            type: array
      summary: Gets a list of artist names. Ideal for autocomplete boxes.
      tags:
        - ArtistApi
  '/api/artists/{id}':
    delete:
      consumes: []
      deprecated: false
      operationId: ArtistApi_Delete
      parameters:
        - description: ID of the artist to be deleted.
          format: int32
          in: path
          name: id
          required: true
          type: integer
        - description: Notes.
          in: query
          name: notes
          required: false
          type: string
      produces: []
      responses:
        '204':
          description: No Content
      summary: Deletes an artist.
      tags:
        - ArtistApi
    get:
      consumes: []
      deprecated: false
      operationId: ArtistApi_GetOne
      parameters:
        - description: Artist ID (required).
          format: int32
          in: path
          name: id
          required: true
          type: integer
        - description: 'List of optional fields (optional). Possible values are Description, Groups, Members, Names, Tags, WebLinks.'
          enum:
            - None
            - AdditionalNames
            - ArtistLinks
            - ArtistLinksReverse
            - BaseVoicebank
            - Description
            - MainPicture
            - Names
            - Tags
            - WebLinks
          in: query
          name: fields
          required: false
          type: string
        - description: 'List of artist relations (optional). Possible values are LatestAlbums, PopularAlbums, LatestSongs, PopularSongs, All'
          enum:
            - None
            - LatestAlbums
            - LatestEvents
            - LatestSongs
            - PopularAlbums
            - PopularSongs
            - All
          in: query
          name: relations
          required: false
          type: string
        - description: Content language preference (optional).
          enum:
            - Default
            - Japanese
            - Romaji
            - English
          in: query
          name: lang
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - text/javascript
        - application/javascript
        - application/json-p
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ArtistForApiContract'
      summary: Gets an artist by Id.
      tags:
        - ArtistApi
  '/api/artists/{id}/comments':
    get:
      consumes: []
      deprecated: false
      description: Pagination and sorting might be added later.
      operationId: ArtistApi_GetComments
      parameters:
        - description: ID of the artist whose comments to load.
          format: int32
          in: path
          name: id
          required: true
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - text/javascript
        - application/javascript
        - application/json-p
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/CommentForApiContract'
            type: array
      summary: Gets a list of comments for an artist.
      tags:
        - ArtistApi
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      operationId: ArtistApi_PostNewComment
      parameters:
        - description: ID of the artist for which to create the comment.
          format: int32
          in: path
          name: id
          required: true
          type: integer
        - description: Comment data. Message and author must be specified. Author must match the logged in user.
          in: body
          name: contract
          required: true
          schema:
            $ref: '#/definitions/CommentForApiContract'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - text/javascript
        - application/javascript
        - application/json-p
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CommentForApiContract'
      summary: Posts a new comment.
      tags:
        - ArtistApi
  '/api/comments/{entryType}-comments':
    get:
      consumes: []
      deprecated: false
      operationId: CommentApi_GetComments
      parameters:
        - description: Entry type.
          enum:
            - Undefined
            - Album
            - Artist
            - DiscussionTopic
            - PV
            - ReleaseEvent
            - ReleaseEventSeries
            - Song
            - SongList
            - Tag
            - User
          in: path
          name: entryType
          required: true
          type: string
        - description: ID of the entry whose comments to load.
          format: int32
          in: query
          name: entryId
          required: true
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - text/javascript
        - application/javascript
        - application/json-p
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PartialFindResult[CommentForApiContract]'
      summary: Gets a list of comments for an entry.
      tags:
        - CommentApi
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      operationId: CommentApi_PostNewComment
      parameters:
        - description: Entry type.
          enum:
            - Undefined
            - Album
            - Artist
            - DiscussionTopic
            - PV
            - ReleaseEvent
            - ReleaseEventSeries
            - Song
            - SongList
            - Tag
            - User
          in: path
          name: entryType
          required: true
          type: string
        - description: 'Comment data. Message, entry and author must be specified. Author must match the logged in user.'
          in: body
          name: contract
          required: true
          schema:
            $ref: '#/definitions/CommentForApiContract'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - text/javascript
        - application/javascript
        - application/json-p
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CommentForApiContract'
      summary: Posts a new comment.
      tags:
        - CommentApi
  '/api/comments/{entryType}-comments/{commentId}':
    delete:
      consumes: []
      deprecated: false
      description: "Normal users can delete their own comments, moderators can delete all comments.\r\n            Requires login."
      operationId: CommentApi_DeleteComment
      parameters:
        - description: Entry type.
          enum:
            - Undefined
            - Album
            - Artist
            - DiscussionTopic
            - PV
            - ReleaseEvent
            - ReleaseEventSeries
            - Song
            - SongList
            - Tag
            - User
          in: path
          name: entryType
          required: true
          type: string
        - description: ID of the comment to be deleted.
          format: int32
          in: path
          name: commentId
          required: true
          type: integer
      produces: []
      responses:
        '204':
          description: No Content
      summary: Deletes a comment.
      tags:
        - CommentApi
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: "Normal users can edit their own comments, moderators can edit all comments.\r\n            Requires login."
      operationId: CommentApi_PostEditComment
      parameters:
        - description: Entry type.
          enum:
            - Undefined
            - Album
            - Artist
            - DiscussionTopic
            - PV
            - ReleaseEvent
            - ReleaseEventSeries
            - Song
            - SongList
            - Tag
            - User
          in: path
          name: entryType
          required: true
          type: string
        - description: ID of the comment to be edited.
          format: int32
          in: path
          name: commentId
          required: true
          type: integer
        - description: New comment data. Only message can be edited.
          in: body
          name: contract
          required: true
          schema:
            $ref: '#/definitions/CommentForApiContract'
      produces: []
      responses:
        '204':
          description: No Content
      summary: Updates a comment.
      tags:
        - CommentApi
  '/api/discussions/comments/{commentId}':
    delete:
      consumes: []
      deprecated: false
      operationId: DiscussionApi_DeleteComment
      parameters:
        - format: int32
          in: path
          name: commentId
          required: true
          type: integer
      produces: []
      responses:
        '204':
          description: No Content
      tags:
        - DiscussionApi
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      operationId: DiscussionApi_PostEditComment
      parameters:
        - format: int32
          in: path
          name: commentId
          required: true
          type: integer
        - in: body
          name: contract
          required: true
          schema:
            $ref: '#/definitions/CommentForApiContract'
      produces: []
      responses:
        '204':
          description: No Content
      tags:
        - DiscussionApi
  /api/discussions/folders:
    get:
      consumes: []
      deprecated: false
      operationId: DiscussionApi_GetFolders
      parameters:
        - enum:
            - None
            - LastTopic
            - TopicCount
          in: query
          name: fields
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - text/javascript
        - application/javascript
        - application/json-p
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/DiscussionFolderContract'
            type: array
      tags:
        - DiscussionApi
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      operationId: DiscussionApi_PostNewFolder
      parameters:
        - in: body
          name: contract
          required: true
          schema:
            $ref: '#/definitions/DiscussionFolderContract'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - text/javascript
        - application/javascript
        - application/json-p
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DiscussionFolderContract'
      tags:
        - DiscussionApi
  '/api/discussions/folders/{folderId}/topics':
    get:
      consumes: []
      deprecated: true
      operationId: DiscussionApi_GetTopicsForFolder
      parameters:
        - format: int32
          in: path
          name: folderId
          required: true
          type: integer
        - enum:
            - None
            - Comments
            - CommentCount
            - Content
            - LastComment
            - All
          in: query
          name: fields
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - text/javascript
        - application/javascript
        - application/json-p
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/DiscussionTopicContract'
            type: array
      tags:
        - DiscussionApi
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      operationId: DiscussionApi_PostNewTopic
      parameters:
        - format: int32
          in: path
          name: folderId
          required: true
          type: integer
        - in: body
          name: contract
          required: true
          schema:
            $ref: '#/definitions/DiscussionTopicContract'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - text/javascript
        - application/javascript
        - application/json-p
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DiscussionTopicContract'
      tags:
        - DiscussionApi
  /api/discussions/topics:
    get:
      consumes: []
      deprecated: false
      operationId: DiscussionApi_GetTopics
      parameters:
        - format: int32
          in: query
          name: folderId
          required: false
          type: integer
        - format: int32
          in: query
          name: start
          required: false
          type: integer
        - format: int32
          in: query
          name: maxResults
          required: false
          type: integer
        - in: query
          name: getTotalCount
          required: false
          type: boolean
        - enum:
            - None
            - Name
            - DateCreated
            - LastCommentDate
          in: query
          name: sort
          required: false
          type: string
        - enum:
            - None
            - Comments
            - CommentCount
            - Content
            - LastComment
            - All
          in: query
          name: fields
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - text/javascript
        - application/javascript
        - application/json-p
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PartialFindResult[DiscussionTopicContract]'
      tags:
        - DiscussionApi
  '/api/discussions/topics/{topicId}':
    delete:
      consumes: []
      deprecated: false
      operationId: DiscussionApi_DeleteTopic
      parameters:
        - format: int32
          in: path
          name: topicId
          required: true
          type: integer
      produces: []
      responses:
        '204':
          description: No Content
      tags:
        - DiscussionApi
    get:
      consumes: []
      deprecated: false
      operationId: DiscussionApi_GetTopic
      parameters:
        - format: int32
          in: path
          name: topicId
          required: true
          type: integer
        - enum:
            - None
            - Comments
            - CommentCount
            - Content
            - LastComment
            - All
          in: query
          name: fields
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - text/javascript
        - application/javascript
        - application/json-p
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DiscussionTopicContract'
      tags:
        - DiscussionApi
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      operationId: DiscussionApi_PostEditTopic
      parameters:
        - format: int32
          in: path
          name: topicId
          required: true
          type: integer
        - in: body
          name: contract
          required: true
          schema:
            $ref: '#/definitions/DiscussionTopicContract'
      produces: []
      responses:
        '204':
          description: No Content
      tags:
        - DiscussionApi
  '/api/discussions/topics/{topicId}/comments':
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      operationId: DiscussionApi_PostNewComment
      parameters:
        - format: int32
          in: path
          name: topicId
          required: true
          type: integer
        - in: body
          name: contract
          required: true
          schema:
            $ref: '#/definitions/CommentForApiContract'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - text/javascript
        - application/javascript
        - application/json-p
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CommentForApiContract'
      tags:
        - DiscussionApi
  /api/entries:
    get:
      consumes: []
      deprecated: false
      operationId: EntryApi_GetList
      parameters:
        - description: Entry name query (optional).
          in: query
          name: query
          required: false
          type: string
        - collectionFormat: multi
          description: Filter by tag name (optional).
          in: query
          items:
            type: string
          name: tagName
          required: false
          type: array
        - collectionFormat: multi
          description: Filter by tag Id (optional).
          in: query
          items:
            format: int32
            type: integer
          name: tagId
          required: false
          type: array
        - description: 'Include child tags, if the tags being filtered by have any.'
          in: query
          name: childTags
          required: false
          type: boolean
        - description: Filter by entry status (optional).
          enum:
            - Draft
            - Finished
            - Approved
            - Locked
          in: query
          name: status
          required: false
          type: string
        - description: 'First item to be retrieved (optional, defaults to 0).'
          format: int32
          in: query
          name: start
          required: false
          type: integer
        - description: 'Maximum number of results to be loaded (optional, defaults to 10, maximum of 30).'
          format: int32
          in: query
          name: maxResults
          required: false
          type: integer
        - description: 'Whether to load total number of items (optional, default to false).'
          in: query
          name: getTotalCount
          required: false
          type: boolean
        - description: 'Sort rule (optional, defaults to Name). Possible values are None, Name, AdditionDate.'
          enum:
            - None
            - Name
            - AdditionDate
            - ActivityDate
          in: query
          name: sort
          required: false
          type: string
        - description: 'Match mode for entry name (optional, defaults to Exact).'
          enum:
            - Auto
            - Partial
            - StartsWith
            - Exact
            - Words
          in: query
          name: nameMatchMode
          required: false
          type: string
        - description: 'List of optional fields (optional). Possible values are Description, MainPicture, Names, Tags, WebLinks.'
          enum:
            - None
            - AdditionalNames
            - Description
            - MainPicture
            - Names
            - PVs
            - Tags
            - WebLinks
          in: query
          name: fields
          required: false
          type: string
        - description: Content language preference (optional).
          enum:
            - Default
            - Japanese
            - Romaji
            - English
          in: query
          name: lang
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - text/javascript
        - application/javascript
        - application/json-p
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PartialFindResult[EntryForApiContract]'
      summary: Find entries.
      tags:
        - EntryApi
  /api/entries/names:
    get:
      consumes: []
      deprecated: false
      operationId: EntryApi_GetNames
      parameters:
        - description: Text query.
          in: query
          name: query
          required: false
          type: string
        - description: Name match mode.
          enum:
            - Auto
            - Partial
            - StartsWith
            - Exact
            - Words
          in: query
          name: nameMatchMode
          required: false
          type: string
        - description: Maximum number of results.
          format: int32
          in: query
          name: maxResults
          required: false
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - text/javascript
        - application/javascript
        - application/json-p
      responses:
        '200':
          description: OK
          schema:
            items:
              type: string
            type: array
      summary: Gets a list of entry names. Ideal for autocomplete boxes.
      tags:
        - EntryApi
  /api/pvs/for-songs:
    get:
      consumes: []
      deprecated: false
      operationId: PVApi_GetList
      parameters:
        - description: Uploader name (optional).
          in: query
          name: author
          required: false
          type: string
        - description: Maximum number of results.
          format: int32
          in: query
          name: maxResults
          required: false
          type: integer
        - description: 'Whether to load total number of items (optional, default to false).'
          in: query
          name: getTotalCount
          required: false
          type: boolean
        - description: Content language preference (optional).
          enum:
            - Default
            - Japanese
            - Romaji
            - English
          in: query
          name: lang
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - text/javascript
        - application/javascript
        - application/json-p
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PartialFindResult[PVForSongContract]'
      summary: Gets a list of PVs for songs.
      tags:
        - PVApi
  /api/releaseEventSeries:
    get:
      consumes: []
      deprecated: false
      operationId: ReleaseEventSeriesApi_GetList
      parameters:
        - description: Text query.
          in: query
          name: query
          required: false
          type: string
        - description: First item to be retrieved (optional).
          format: int32
          in: query
          name: start
          required: false
          type: integer
        - description: Maximum number of results to be loaded (optional).
          format: int32
          in: query
          name: maxResults
          required: false
          type: integer
        - description: Whether to load total number of items (optional).
          in: query
          name: getTotalCount
          required: false
          type: boolean
        - description: Match mode for event name (optional).
          enum:
            - Auto
            - Partial
            - StartsWith
            - Exact
            - Words
          in: query
          name: nameMatchMode
          required: false
          type: string
        - description: Content language preference (optional).
          enum:
            - Default
            - Japanese
            - Romaji
            - English
          in: query
          name: lang
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - text/javascript
        - application/javascript
        - application/json-p
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PartialFindResult[ReleaseEventSeriesContract]'
      summary: Gets a page of event series.
      tags:
        - ReleaseEventSeriesApi
  '/api/releaseEventSeries/{id}':
    delete:
      consumes: []
      deprecated: false
      operationId: ReleaseEventSeriesApi_Delete
      parameters:
        - description: ID of the series to be deleted.
          format: int32
          in: path
          name: id
          required: true
          type: integer
        - description: Notes.
          in: query
          name: notes
          required: false
          type: string
        - description: "If true, the entry is hard deleted. Hard deleted entries cannot be restored normally, but they will be moved to trash.\r\n            If false, the entry is soft deleted, meaning it can still be restored."
          in: query
          name: hardDelete
          required: false
          type: boolean
      produces: []
      responses:
        '204':
          description: No Content
      summary: Deletes an event series.
      tags:
        - ReleaseEventSeriesApi
  /api/releaseEvents:
    get:
      consumes: []
      deprecated: false
      operationId: ReleaseEventApi_GetList
      parameters:
        - description: Event name query (optional).
          in: query
          name: query
          required: false
          type: string
        - description: 'Match mode for event name (optional, defaults to Auto).'
          enum:
            - Auto
            - Partial
            - StartsWith
            - Exact
            - Words
          in: query
          name: nameMatchMode
          required: false
          type: string
        - description: Filter by series Id.
          format: int32
          in: query
          name: seriesId
          required: false
          type: integer
        - description: Filter by events after this date (inclusive).
          format: date-time
          in: query
          name: afterDate
          required: false
          type: string
        - description: Filter by events before this date (exclusive).
          format: date-time
          in: query
          name: beforeDate
          required: false
          type: string
        - description: Filter by event category.
          enum:
            - Unspecified
            - AlbumRelease
            - Anniversary
            - Club
            - Concert
            - Contest
            - Convention
            - Other
          in: query
          name: category
          required: false
          type: string
        - description: Filter to include only events in user's events (interested or attending).
          format: int32
          in: query
          name: userCollectionId
          required: false
          type: integer
        - collectionFormat: multi
          description: Filter by one or more tag Ids (optional).
          in: query
          items:
            format: int32
            type: integer
          name: tagId
          required: false
          type: array
        - description: 'Include child tags, if the tags being filtered by have any.'
          in: query
          name: childTags
          required: false
          type: boolean
        - collectionFormat: multi
          description: Filter by artist Id.
          in: query
          items:
            format: int32
            type: integer
          name: artistId
          required: false
          type: array
        - description: 'Include child voicebanks, if the artist being filtered by has any.'
          in: query
          name: childVoicebanks
          required: false
          type: boolean
        - description: 'Include members of groups. This applies if {artistId} is a group.'
          in: query
          name: includeMembers
          required: false
          type: boolean
        - description: Filter by entry status.
          enum:
            - Draft
            - Finished
            - Approved
            - Locked
          in: query
          name: status
          required: false
          type: string
        - description: 'First item to be retrieved (optional, defaults to 0).'
          format: int32
          in: query
          name: start
          required: false
          type: integer
        - description: 'Maximum number of results to be loaded (optional, defaults to 10).'
          format: int32
          in: query
          name: maxResults
          required: false
          type: integer
        - description: 'Whether to load total number of items (optional, default to false).'
          in: query
          name: getTotalCount
          required: false
          type: boolean
        - description: "Sort rule (optional, defaults to Name). \r\n            Possible values are None, Name, Date, SeriesName."
          enum:
            - None
            - Name
            - Date
            - AdditionDate
            - SeriesName
          in: query
          name: sort
          required: false
          type: string
        - description: 'Optional fields (optional). Possible values are Description, Series.'
          enum:
            - None
            - AdditionalNames
            - Artists
            - Description
            - MainPicture
            - Names
            - Series
            - SongList
            - WebLinks
          in: query
          name: fields
          required: false
          type: string
        - description: Content language preference.
          enum:
            - Default
            - Japanese
            - Romaji
            - English
          in: query
          name: lang
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - text/javascript
        - application/javascript
        - application/json-p
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PartialFindResult[ReleaseEventForApiContract]'
      summary: Gets a page of events.
      tags:
        - ReleaseEventApi
  /api/releaseEvents/names:
    get:
      consumes: []
      deprecated: false
      operationId: ReleaseEventApi_GetNames
      parameters:
        - description: 'Event name query, for example "Voc@loid".'
          in: query
          name: query
          required: false
          type: string
        - description: Maximum number of search results.
          format: int32
          in: query
          name: maxResults
          required: false
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - text/javascript
        - application/javascript
        - application/json-p
      responses:
        '200':
          description: OK
          schema:
            items:
              type: string
            type: array
      summary: "Find event names by a part of name.\r\n            \r\n            Matching is done anywhere from the name."
      tags:
        - ReleaseEventApi
  '/api/releaseEvents/{eventId}/albums':
    get:
      consumes: []
      deprecated: false
      operationId: ReleaseEventApi_GetAlbums
      parameters:
        - description: Release event ID.
          format: int32
          in: path
          name: eventId
          required: true
          type: integer
        - description: List of optional album fields.
          enum:
            - None
            - AdditionalNames
            - Artists
            - Description
            - Discs
            - Identifiers
            - MainPicture
            - Names
            - PVs
            - ReleaseEvent
            - Tags
            - Tracks
            - WebLinks
          in: query
          name: fields
          required: false
          type: string
        - description: Content language preference.
          enum:
            - Default
            - Japanese
            - Romaji
            - English
          in: query
          name: lang
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - text/javascript
        - application/javascript
        - application/json-p
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/AlbumForApiContract'
            type: array
      summary: Gets a list of albums for a specific event.
      tags:
        - ReleaseEventApi
  '/api/releaseEvents/{eventId}/published-songs':
    get:
      consumes: []
      deprecated: false
      operationId: ReleaseEventApi_GetPublishedSongs
      parameters:
        - description: Event ID.
          format: int32
          in: path
          name: eventId
          required: true
          type: integer
        - description: List of optional song fields.
          enum:
            - None
            - AdditionalNames
            - Albums
            - Artists
            - Lyrics
            - MainPicture
            - Names
            - PVs
            - ReleaseEvent
            - Tags
            - ThumbUrl
            - WebLinks
          in: query
          name: fields
          required: false
          type: string
        - description: Content language preference.
          enum:
            - Default
            - Japanese
            - Romaji
            - English
          in: query
          name: lang
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - text/javascript
        - application/javascript
        - application/json-p
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/SongForApiContract'
            type: array
      summary: Gets a list of songs for a specific event.
      tags:
        - ReleaseEventApi
  '/api/releaseEvents/{eventId}/reports':
    post:
      consumes: []
      deprecated: false
      operationId: ReleaseEventApi_PostReport
      parameters:
        - description: Event to be reported.
          format: int32
          in: path
          name: eventId
          required: true
          type: integer
        - description: Report type.
          enum:
            - InvalidInfo
            - Duplicate
            - Inappropriate
            - Other
          in: query
          name: reportType
          required: true
          type: string
        - description: Notes. Optional.
          in: query
          name: notes
          required: true
          type: string
        - description: Version to be reported. Optional.
          format: int32
          in: query
          name: versionNumber
          required: true
          type: integer
      produces: []
      responses:
        '204':
          description: No Content
      summary: Creates a new report.
      tags:
        - ReleaseEventApi
  '/api/releaseEvents/{id}':
    delete:
      consumes: []
      deprecated: false
      operationId: ReleaseEventApi_Delete
      parameters:
        - description: ID of the event to be deleted.
          format: int32
          in: path
          name: id
          required: true
          type: integer
        - description: Notes.
          in: query
          name: notes
          required: false
          type: string
        - description: "If true, the entry is hard deleted. Hard deleted entries cannot be restored normally, but they will be moved to trash.\r\n            If false, the entry is soft deleted, meaning it can still be restored."
          in: query
          name: hardDelete
          required: false
          type: boolean
      produces: []
      responses:
        '204':
          description: No Content
      summary: Deletes an event.
      tags:
        - ReleaseEventApi
    get:
      consumes: []
      deprecated: false
      operationId: ReleaseEventApi_GetOne
      parameters:
        - format: int32
          in: path
          name: id
          required: true
          type: integer
        - enum:
            - None
            - AdditionalNames
            - Artists
            - Description
            - MainPicture
            - Names
            - Series
            - SongList
            - WebLinks
          in: query
          name: fields
          required: false
          type: string
        - enum:
            - Default
            - Japanese
            - Romaji
            - English
          in: query
          name: lang
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - text/javascript
        - application/javascript
        - application/json-p
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ReleaseEventForApiContract'
      tags:
        - ReleaseEventApi
  '/api/resources/{cultureCode}':
    get:
      consumes: []
      deprecated: false
      operationId: ResourcesApi_GetList
      parameters:
        - description: 'Culture code, for example "en-US" or "fi-FI".'
          in: path
          name: cultureCode
          required: true
          type: string
        - collectionFormat: multi
          description: Names of resource sets to be returned. More than one value can be specified. For example "artistTypeNames"
          in: query
          items:
            type: string
          name: setNames
          required: true
          type: array
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            additionalProperties:
              additionalProperties:
                type: string
              type: object
            type: object
      summary: Gets a number of resource sets for a specific culture.
      tags:
        - ResourcesApi
  /api/songLists:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      operationId: SongListApi_Post
      parameters:
        - description: Song list properties.
          in: body
          name: list
          required: true
          schema:
            $ref: '#/definitions/SongListForEditContract'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - text/javascript
        - application/javascript
        - application/json-p
      responses:
        '200':
          description: OK
          schema:
            format: int32
            type: integer
      summary: Creates a song list.
      tags:
        - SongListApi
  '/api/songLists/comments/{commentId}':
    delete:
      consumes: []
      deprecated: false
      description: "Normal users can delete their own comments, moderators can delete all comments.\r\n            Requires login."
      operationId: SongListApi_DeleteComment
      parameters:
        - description: ID of the comment to be deleted.
          format: int32
          in: path
          name: commentId
          required: true
          type: integer
      produces: []
      responses:
        '204':
          description: No Content
      summary: Deletes a comment.
      tags:
        - SongListApi
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: "Normal users can edit their own comments, moderators can edit all comments.\r\n            Requires login."
      operationId: SongListApi_PostEditComment
      parameters:
        - description: ID of the comment to be edited.
          format: int32
          in: path
          name: commentId
          required: true
          type: integer
        - description: New comment data. Only message can be edited.
          in: body
          name: contract
          required: true
          schema:
            $ref: '#/definitions/CommentForApiContract'
      produces: []
      responses:
        '204':
          description: No Content
      summary: Updates a comment.
      tags:
        - SongListApi
  /api/songLists/featured:
    get:
      consumes: []
      deprecated: false
      operationId: SongListApi_GetFeaturedLists
      parameters:
        - description: Song list name query (optional).
          in: query
          name: query
          required: false
          type: string
        - description: 'Match mode for list name (optional, defaults to Auto).'
          enum:
            - Auto
            - Partial
            - StartsWith
            - Exact
            - Words
          in: query
          name: nameMatchMode
          required: false
          type: string
        - description: 'Filter by a specific featured category. If empty, all categories are returned.'
          enum:
            - Nothing
            - Concerts
            - VocaloidRanking
            - Pools
            - Other
          in: query
          name: featuredCategory
          required: false
          type: string
        - description: 'First item to be retrieved (optional, defaults to 0).'
          format: int32
          in: query
          name: start
          required: false
          type: integer
        - description: 'Maximum number of results to be loaded (optional, defaults to 10, maximum of 50).'
          format: int32
          in: query
          name: maxResults
          required: false
          type: integer
        - description: 'Whether to load total number of items (optional, default to false).'
          in: query
          name: getTotalCount
          required: false
          type: boolean
        - description: 'List sort rule. Possible values are Nothing, Date, CreateDate, Name.'
          enum:
            - None
            - Name
            - Date
            - CreateDate
          in: query
          name: sort
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - text/javascript
        - application/javascript
        - application/json-p
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PartialFindResult[SongListForApiContract]'
      summary: Gets a list of featured song lists.
      tags:
        - SongListApi
  /api/songLists/featured/names:
    get:
      consumes: []
      deprecated: false
      operationId: SongListApi_GetFeaturedListNames
      parameters:
        - description: Text query.
          in: query
          name: query
          required: false
          type: string
        - description: Name match mode. Words is treated the same as Partial.
          enum:
            - Auto
            - Partial
            - StartsWith
            - Exact
            - Words
          in: query
          name: nameMatchMode
          required: false
          type: string
        - description: 'Filter by a specific featured category. If empty, all categories are returned.'
          enum:
            - Nothing
            - Concerts
            - VocaloidRanking
            - Pools
            - Other
          in: query
          name: featuredCategory
          required: false
          type: string
        - description: Maximum number of results.
          format: int32
          in: query
          name: maxResults
          required: false
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - text/javascript
        - application/javascript
        - application/json-p
      responses:
        '200':
          description: OK
          schema:
            items:
              type: string
            type: array
      summary: Gets a list of featuedd list names. Ideal for autocomplete boxes.
      tags:
        - SongListApi
  '/api/songLists/{id}':
    delete:
      consumes: []
      deprecated: false
      operationId: SongListApi_Delete
      parameters:
        - description: ID of the list to be deleted.
          format: int32
          in: path
          name: id
          required: true
          type: integer
        - description: Notes.
          in: query
          name: notes
          required: false
          type: string
        - description: "If true, the entry is hard deleted. Hard deleted entries cannot be restored normally, but they will be moved to trash.\r\n            If false, the entry is soft deleted, meaning it can still be restored."
          in: query
          name: hardDelete
          required: false
          type: boolean
      produces: []
      responses:
        '204':
          description: No Content
      summary: Deletes a song list.
      tags:
        - SongListApi
  '/api/songLists/{listId}/comments':
    get:
      consumes: []
      deprecated: false
      operationId: SongListApi_GetComments
      parameters:
        - description: ID of the list whose comments to load.
          format: int32
          in: path
          name: listId
          required: true
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - text/javascript
        - application/javascript
        - application/json-p
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PartialFindResult[CommentForApiContract]'
      summary: Gets a list of comments for a song list.
      tags:
        - SongListApi
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      operationId: SongListApi_PostNewComment
      parameters:
        - description: ID of the song list for which to create the comment.
          format: int32
          in: path
          name: listId
          required: true
          type: integer
        - description: Comment data. Message and author must be specified. Author must match the logged in user.
          in: body
          name: contract
          required: true
          schema:
            $ref: '#/definitions/CommentForApiContract'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - text/javascript
        - application/javascript
        - application/json-p
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CommentForApiContract'
      summary: Posts a new comment.
      tags:
        - SongListApi
  '/api/songLists/{listId}/songs':
    get:
      consumes: []
      deprecated: false
      operationId: SongListApi_GetSongs
      parameters:
        - description: ID of the song list.
          format: int32
          in: path
          name: listId
          required: true
          type: integer
        - description: Song name query (optional).
          in: query
          name: query
          required: false
          type: string
        - description: Filtered song types (optional).
          in: query
          name: songTypes
          required: false
          type: string
        - description: Filter by one or more PV services (separated by commas). The song will pass the filter if it has a PV for any of the matched services.
          enum:
            - Nothing
            - NicoNicoDouga
            - Youtube
            - SoundCloud
            - Vimeo
            - Piapro
            - Bilibili
            - File
            - LocalFile
            - Creofuga
          in: query
          name: pvServices
          required: false
          type: string
        - collectionFormat: multi
          description: Filter by one or more tag Ids (optional).
          in: query
          items:
            format: int32
            type: integer
          name: tagId
          required: false
          type: array
        - collectionFormat: multi
          description: Filter by artist Id.
          in: query
          items:
            format: int32
            type: integer
          name: artistId
          required: false
          type: array
        - description: 'Include child voicebanks, if the artist being filtered by has any.'
          in: query
          name: childVoicebanks
          required: false
          type: boolean
        - collectionFormat: multi
          description: List of advanced filters (optional).
          in: query
          items: {}
          name: advancedFilters
          required: false
          type: array
        - description: 'First item to be retrieved (optional, defaults to 0).'
          format: int32
          in: query
          name: start
          required: false
          type: integer
        - description: 'Maximum number of results to be loaded (optional, defaults to 10, maximum of 50).'
          format: int32
          in: query
          name: maxResults
          required: false
          type: integer
        - description: 'Whether to load total number of items (optional, default to false).'
          in: query
          name: getTotalCount
          required: false
          type: boolean
        - description: 'Song sort rule (optional, by default songs are sorted by song list order).'
          enum:
            - None
            - Name
            - AdditionDate
            - PublishDate
            - FavoritedTimes
            - RatingScore
          in: query
          name: sort
          required: false
          type: string
        - description: 'Match mode for song name (optional, defaults to Auto).'
          enum:
            - Auto
            - Partial
            - StartsWith
            - Exact
            - Words
          in: query
          name: nameMatchMode
          required: false
          type: string
        - description: 'List of optional fields (optional). Possible values are Albums, Artists, Names, PVs, Tags, ThumbUrl, WebLinks.'
          enum:
            - None
            - AdditionalNames
            - Albums
            - Artists
            - Lyrics
            - MainPicture
            - Names
            - PVs
            - ReleaseEvent
            - Tags
            - ThumbUrl
            - WebLinks
          in: query
          name: fields
          required: false
          type: string
        - description: Content language preference (optional).
          enum:
            - Default
            - Japanese
            - Romaji
            - English
          in: query
          name: lang
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - text/javascript
        - application/javascript
        - application/json-p
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PartialFindResult[SongInListForApiContract]'
      summary: Gets a list of songs in a song list.
      tags:
        - SongListApi
  /api/songs:
    get:
      consumes: []
      deprecated: false
      operationId: SongApi_GetList
      parameters:
        - description: Song name query (optional).
          in: query
          name: query
          required: false
          type: string
        - description: "Filtered song types (optional). \r\n            Possible values are Original, Remaster, Remix, Cover, Instrumental, Mashup, MusicPV, DramaPV, Other."
          in: query
          name: songTypes
          required: false
          type: string
        - collectionFormat: multi
          description: Filter by one or more tag names (optional).
          in: query
          items:
            type: string
          name: tagName
          required: false
          type: array
        - collectionFormat: multi
          description: Filter by one or more tag Ids (optional).
          in: query
          items:
            format: int32
            type: integer
          name: tagId
          required: false
          type: array
        - description: 'Include child tags, if the tags being filtered by have any.'
          in: query
          name: childTags
          required: false
          type: boolean
        - collectionFormat: multi
          description: Filter by artist Id.
          in: query
          items:
            format: int32
            type: integer
          name: artistId
          required: false
          type: array
        - description: "Filter by artist participation status. Only valid if artistId is specified.\r\n            Everything (default): Show all songs by that artist (no filter).\r\n            OnlyMainAlbums: Show only main songs by that artist.\r\n            OnlyCollaborations: Show only collaborations by that artist."
          enum:
            - Everything
            - OnlyMainAlbums
            - OnlyCollaborations
          in: query
          name: artistParticipationStatus
          required: false
          type: string
        - description: 'Include child voicebanks, if the artist being filtered by has any.'
          in: query
          name: childVoicebanks
          required: false
          type: boolean
        - description: 'Include members of groups. This applies if {artistId} is a group.'
          in: query
          name: includeMembers
          required: false
          type: boolean
        - description: Whether to only include songs with at least one PV.
          in: query
          name: onlyWithPvs
          required: false
          type: boolean
        - description: Filter by one or more PV services (separated by commas). The song will pass the filter if it has a PV for any of the matched services.
          enum:
            - Nothing
            - NicoNicoDouga
            - Youtube
            - SoundCloud
            - Vimeo
            - Piapro
            - Bilibili
            - File
            - LocalFile
            - Creofuga
          in: query
          name: pvServices
          required: false
          type: string
        - description: Allow only entries that have been created at most this many hours ago. By default there is no filtering.
          format: int32
          in: query
          name: since
          required: false
          type: integer
        - description: Minimum rating score. Optional.
          format: int32
          in: query
          name: minScore
          required: false
          type: integer
        - description: Filter by user's rated songs. By default there is no filtering.
          format: int32
          in: query
          name: userCollectionId
          required: false
          type: integer
        - description: Filter by release event. By default there is no filtering.
          format: int32
          in: query
          name: releaseEventId
          required: false
          type: integer
        - description: Filter by entry status (optional).
          enum:
            - Draft
            - Finished
            - Approved
            - Locked
          in: query
          name: status
          required: false
          type: string
        - collectionFormat: multi
          description: List of advanced filters (optional).
          in: query
          items: {}
          name: advancedFilters
          required: false
          type: array
        - description: 'First item to be retrieved (optional, defaults to 0).'
          format: int32
          in: query
          name: start
          required: false
          type: integer
        - description: 'Maximum number of results to be loaded (optional, defaults to 10, maximum of 50).'
          format: int32
          in: query
          name: maxResults
          required: false
          type: integer
        - description: 'Whether to load total number of items (optional, default to false).'
          in: query
          name: getTotalCount
          required: false
          type: boolean
        - description: 'Sort rule (optional, defaults to Name). Possible values are None, Name, AdditionDate, FavoritedTimes, RatingScore.'
          enum:
            - None
            - Name
            - AdditionDate
            - PublishDate
            - FavoritedTimes
            - RatingScore
          in: query
          name: sort
          required: false
          type: string
        - description: "Whether the search should prefer accurate matches. \r\n            If this is true, entries that match by prefix will be moved first, instead of being sorted alphabetically.\r\n            Requires a text query. Does not support pagination.\r\n            This is mostly useful for autocomplete boxes."
          in: query
          name: preferAccurateMatches
          required: false
          type: boolean
        - description: 'Match mode for song name (optional, defaults to Exact).'
          enum:
            - Auto
            - Partial
            - StartsWith
            - Exact
            - Words
          in: query
          name: nameMatchMode
          required: false
          type: string
        - description: 'List of optional fields (optional). Possible values are Albums, Artists, Names, PVs, Tags, ThumbUrl, WebLinks.'
          enum:
            - None
            - AdditionalNames
            - Albums
            - Artists
            - Lyrics
            - MainPicture
            - Names
            - PVs
            - ReleaseEvent
            - Tags
            - ThumbUrl
            - WebLinks
          in: query
          name: fields
          required: false
          type: string
        - description: Content language preference (optional).
          enum:
            - Default
            - Japanese
            - Romaji
            - English
          in: query
          name: lang
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - text/javascript
        - application/javascript
        - application/json-p
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PartialFindResult[SongForApiContract]'
      summary: Find songs.
      tags:
        - SongApi
  /api/songs/byPv:
    get:
      consumes: []
      deprecated: false
      operationId: SongApi_GetByPV
      parameters:
        - description: 'PV service (required). Possible values are NicoNicoDouga, Youtube, SoundCloud, Vimeo, Piapro, Bilibili.'
          enum:
            - NicoNicoDouga
            - Youtube
            - SoundCloud
            - Vimeo
            - Piapro
            - Bilibili
            - File
            - LocalFile
            - Creofuga
          in: query
          name: pvService
          required: true
          type: string
        - description: PV Id (required). For example sm123456.
          in: query
          name: pvId
          required: true
          type: string
        - description: 'List of optional fields (optional). Possible values are Albums, Artists, Names, PVs, Tags, ThumbUrl, WebLinks.'
          enum:
            - None
            - AdditionalNames
            - Albums
            - Artists
            - Lyrics
            - MainPicture
            - Names
            - PVs
            - ReleaseEvent
            - Tags
            - ThumbUrl
            - WebLinks
          in: query
          name: fields
          required: false
          type: string
        - description: Content language preference (optional).
          enum:
            - Default
            - Japanese
            - Romaji
            - English
          in: query
          name: lang
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - text/javascript
        - application/javascript
        - application/json-p
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SongForApiContract'
      summary: Gets a song by PV.
      tags:
        - SongApi
  '/api/songs/comments/{commentId}':
    delete:
      consumes: []
      deprecated: false
      description: "Normal users can delete their own comments, moderators can delete all comments.\r\n            Requires login."
      operationId: SongApi_DeleteComment
      parameters:
        - description: ID of the comment to be deleted.
          format: int32
          in: path
          name: commentId
          required: true
          type: integer
      produces: []
      responses:
        '204':
          description: No Content
      summary: Deletes a comment.
      tags:
        - SongApi
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      description: "Normal users can edit their own comments, moderators can edit all comments.\r\n            Requires login."
      operationId: SongApi_PostEditComment
      parameters:
        - description: ID of the comment to be edited.
          format: int32
          in: path
          name: commentId
          required: true
          type: integer
        - description: New comment data. Only message can be edited.
          in: body
          name: contract
          required: true
          schema:
            $ref: '#/definitions/CommentForApiContract'
      produces: []
      responses:
        '204':
          description: No Content
      summary: Updates a comment.
      tags:
        - SongApi
  /api/songs/highlighted:
    get:
      consumes: []
      deprecated: false
      description: Output is cached for 1 hour.
      operationId: SongApi_GetHighlightedSongs
      parameters:
        - enum:
            - Default
            - Japanese
            - Romaji
            - English
          in: query
          name: languagePreference
          required: false
          type: string
        - enum:
            - None
            - AdditionalNames
            - Albums
            - Artists
            - Lyrics
            - MainPicture
            - Names
            - PVs
            - ReleaseEvent
            - Tags
            - ThumbUrl
            - WebLinks
          in: query
          name: fields
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - text/javascript
        - application/javascript
        - application/json-p
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/SongForApiContract'
            type: array
      summary: 'Gets list of highlighted songs, same as front page.'
      tags:
        - SongApi
  '/api/songs/lyrics/{lyricsId}':
    get:
      consumes: []
      deprecated: false
      description: Output is cached. Specify song version as parameter to refresh.
      operationId: SongApi_GetLyrics
      parameters:
        - description: Lyrics ID.
          format: int32
          in: path
          name: lyricsId
          required: true
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - text/javascript
        - application/javascript
        - application/json-p
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/LyricsForSongContract'
      summary: Gets lyrics by ID.
      tags:
        - SongApi
  /api/songs/names:
    get:
      consumes: []
      deprecated: false
      operationId: SongApi_GetNames
      parameters:
        - description: Text query.
          in: query
          name: query
          required: false
          type: string
        - description: Name match mode.
          enum:
            - Auto
            - Partial
            - StartsWith
            - Exact
            - Words
          in: query
          name: nameMatchMode
          required: false
          type: string
        - description: Maximum number of results.
          format: int32
          in: query
          name: maxResults
          required: false
          type: integer
[...]
