openapi: 3.0.0
servers:
  - url: https://paymentsresellersubscription.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: ""
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Payments Reseller Subscription API
  version: v1
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
    - format: google
      url: https://paymentsresellersubscription.googleapis.com/$discovery/rest?version=v1
      version: v1
  x-providerName: googleapis.com
  x-serviceName: paymentsresellersubscription
externalDocs:
  url: https://developers.google.com/payments/reseller/subscription/
tags:
  - name: partners
paths:
  "/v1/{name}":
    get:
      description: Used by partners to get a subscription by id. It should be called directly by the partner using service accounts.
      operationId: paymentsresellersubscription.partners.subscriptions.get
      parameters:
        - description: Required. The name of the subscription resource to retrieve. It will have the format of "partners/{partner_id}/subscriptions/{subscription_id}"
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Subscription"
          description: Successful response
      tags:
        - partners
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{name}:cancel":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Used by partners to cancel a subscription service either immediately or by the end of the current billing cycle for their customers. It should be called directly by the partner using service accounts.
      operationId: paymentsresellersubscription.partners.subscriptions.cancel
      parameters:
        - description: Required. The name of the subscription resource to be cancelled. It will have the format of "partners/{partner_id}/subscriptions/{subscription_id}"
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionResponse"
          description: Successful response
      tags:
        - partners
  "/v1/{name}:entitle":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Used by partners to entitle a previously provisioned subscription to the current end user. The end user identity is inferred from the authorized credential of the request. This API must be authorized by the end user using OAuth.
      operationId: paymentsresellersubscription.partners.subscriptions.entitle
      parameters:
        - description: Required. The name of the subscription resource that is entitled to the current end user. It will have the format of "partners/{partner_id}/subscriptions/{subscription_id}"
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionResponse"
          description: Successful response
      tags:
        - partners
  "/v1/{name}:extend":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Used by partners to extend a subscription service for their customers. It should be called directly by the partner using service accounts.
      operationId: paymentsresellersubscription.partners.subscriptions.extend
      parameters:
        - description: Required. The name of the subscription resource to be extended. It will have the format of "partners/{partner_id}/subscriptions/{subscription_id}".
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionResponse"
          description: Successful response
      tags:
        - partners
  "/v1/{name}:undoCancel":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Used by partners to revoke the pending cancellation of a subscription, which is currently in `STATE_CANCEL_AT_END_OF_CYCLE` state. If the subscription is already cancelled, the request will fail. It should be called directly by the partner using service accounts.
      operationId: paymentsresellersubscription.partners.subscriptions.undoCancel
      parameters:
        - description: Required. The name of the subscription resource whose pending cancellation needs to be undone. It will have the format of "partners/{partner_id}/subscriptions/{subscription_id}"
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionResponse"
          description: Successful response
      tags:
        - partners
  "/v1/{parent}/products":
    get:
      description: Used by partners to list products that can be resold to their customers. It should be called directly by the partner using service accounts.
      operationId: paymentsresellersubscription.partners.products.list
      parameters:
        - description: "Required. The parent, the partner that can resell. Format: partners/{partner}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. The maximum number of products to return. The service may return fewer than this value. If unspecified, at most 50 products will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Optional. A page token, received from a previous `ListProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProducts` must match the call that provided the page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1ListProductsResponse"
          description: Successful response
      tags:
        - partners
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{parent}/promotions":
    get:
      description: Used by partners to list promotions, such as free trial, that can be applied on subscriptions. It should be called directly by the partner using service accounts.
      operationId: paymentsresellersubscription.partners.promotions.list
      parameters:
        - description: "Required. The parent, the partner that can resell. Format: partners/{partner}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: 'Optional. Specifies the filters for the promotion results. The syntax defined in the EBNF grammar: https://google.aip.dev/assets/misc/ebnf-filtering.txt. Examples: - applicable_products: "sku1" - region_codes: "US" - applicable_products: "sku1" AND region_codes: "US"'
          in: query
          name: filter
          schema:
            type: string
        - description: Optional. The maximum number of promotions to return. The service may return fewer than this value. If unspecified, at most 50 products will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Optional. A page token, received from a previous `ListPromotions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPromotions` must match the call that provided the page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1ListPromotionsResponse"
          description: Successful response
      tags:
        - partners
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{parent}/subscriptions":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Used by partners to create a subscription for their customers. The created subscription is associated with the end user inferred from the end user credentials. This API must be authorized by the end user using OAuth.
      operationId: paymentsresellersubscription.partners.subscriptions.create
      parameters:
        - description: Required. The parent resource name, which is the identifier of the partner. It will have the format of "partners/{partner_id}".
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. Identifies the subscription resource on the Partner side. The value is restricted to 63 ASCII characters at the maximum. If a subscription was previously created with the same subscription_id, we will directly return that one.
          in: query
          name: subscriptionId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Subscription"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Subscription"
          description: Successful response
      tags:
        - partners
  "/v1/{parent}/subscriptions:provision":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Used by partners to provision a subscription for their customers. This creates a subscription without associating it with the end user account. EntitleSubscription must be called separately using OAuth in order for the end user account to be associated with the subscription. It should be called directly by the partner using service accounts.
      operationId: paymentsresellersubscription.partners.subscriptions.provision
      parameters:
        - description: Required. The parent resource name, which is the identifier of the partner. It will have the format of "partners/{partner_id}".
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. Identifies the subscription resource on the Partner side. The value is restricted to 63 ASCII characters at the maximum. If a subscription was previously created with the same subscription_id, we will directly return that one.
          in: query
          name: subscriptionId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Subscription"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Subscription"
          description: Successful response
      tags:
        - partners
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionRequest:
      properties:
        cancelImmediately:
          description: Optional. If true, the subscription will be cancelled immediately. Otherwise, the subscription will be cancelled at the end of the current cycle, and therefore no prorated refund will be issued for the rest of the cycle.
          type: boolean
        cancellationReason:
          description: Specifies the reason for the cancellation.
          enum:
            - CANCELLATION_REASON_UNSPECIFIED
            - CANCELLATION_REASON_FRAUD
            - CANCELLATION_REASON_REMORSE
            - CANCELLATION_REASON_ACCIDENTAL_PURCHASE
            - CANCELLATION_REASON_PAST_DUE
            - CANCELLATION_REASON_ACCOUNT_CLOSED
            - CANCELLATION_REASON_UPGRADE_DOWNGRADE
            - CANCELLATION_REASON_USER_DELINQUENCY
            - CANCELLATION_REASON_OTHER
          type: string
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1CancelSubscriptionResponse:
      properties:
        subscription:
          $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Subscription"
          description: The cancelled subscription resource.
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1Duration:
      description: Describes the length of a period of a time.
      properties:
        count:
          description: number of duration units to be included.
          format: int32
          type: integer
        unit:
          description: The unit used for the duration
          enum:
            - UNIT_UNSPECIFIED
            - MONTH
            - DAY
          type: string
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionRequest:
      description: Partner request for entitling the previously provisioned subscription to an end user. The end user identity is inferred from the request OAuth context.
      properties: {}
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1EntitleSubscriptionResponse:
      properties:
        subscription:
          $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Subscription"
          description: The subscription that has user linked to it.
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionRequest:
      description: Request message for extending a Subscription resource. A new recurrence will be made based on the subscription schedule defined by the original product.
      properties:
        extension:
          $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Extension"
          description: Required. Specifies details of the extension. Currently, the duration of the extension must be exactly one billing cycle of the original subscription.
        requestId:
          description: Required. Restricted to 36 ASCII characters. A random UUID is recommended. The idempotency key for the request. The ID generation logic is controlled by the partner. request_id should be the same as on retries of the same request. A different request_id must be used for a extension of a different cycle. A random UUID is recommended.
          type: string
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1ExtendSubscriptionResponse:
      properties:
        cycleEndTime:
          description: The time at which the subscription is expected to be extended, in ISO 8061 format. UTC timezone. Example, "cycleEndTime":"2019-08-31T17:28:54.564Z"
          format: google-datetime
          type: string
        freeTrialEndTime:
          description: End of the free trial period, in ISO 8061 format. UTC timezone. Example, "freeTrialEndTime":"2019-08-31T17:28:54.564Z" This time will be set the same as initial subscription creation time if no free trial period is offered to the partner.
          format: google-datetime
          type: string
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1Extension:
      description: Describes the details of an extension request.
      properties:
        duration:
          $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Duration"
          description: Specifies the period of access the subscription should grant.
        partnerUserToken:
          description: Required. Identifier of the end-user in partner’s system.
          type: string
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1ListProductsResponse:
      properties:
        nextPageToken:
          description: A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.
          type: string
        products:
          description: The products for the specified partner.
          items:
            $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Product"
          type: array
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1ListPromotionsResponse:
      properties:
        nextPageToken:
          description: A token, which can be sent as `page_token` to retrieve the next page. If this field is empty, there are no subsequent pages.
          type: string
        promotions:
          description: The promotions for the specified partner.
          items:
            $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Promotion"
          type: array
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1Location:
      description: Describes a location of an end user.
      properties:
        postalCode:
          description: The postal code this location refers to. Ex. "94043"
          type: string
        regionCode:
          description: "2-letter ISO region code for current content region. Ex. “US” Please refers to: https://en.wikipedia.org/wiki/ISO_3166-1"
          type: string
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1Product:
      description: A Product resource that defines a subscription service that can be resold.
      properties:
        name:
          description: Output only. Response only. Resource name of the subscription. It will have the format of "partners/{partner_id}/products/{product_id}"
          readOnly: true
          type: string
        regionCodes:
          description: 'Output only. 2-letter ISO region code where the product is available in. Ex. "US" Please refers to: https://en.wikipedia.org/wiki/ISO_3166-1'
          items:
            type: string
          readOnly: true
          type: array
        subscriptionBillingCycleDuration:
          $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Duration"
          description: Output only. Specifies the length of the billing cycle of the subscription.
          readOnly: true
        titles:
          description: Output only. Localized human readable name of the product.
          items:
            $ref: "#/components/schemas/GoogleTypeLocalizedText"
          readOnly: true
          type: array
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1Promotion:
      description: A Promotion resource that defines a promotion for a subscription that can be resold.
      properties:
        applicableProducts:
          description: Output only. The product ids this promotion can be applied to.
          items:
            type: string
          readOnly: true
          type: array
        endTime:
          description: Optional. Specifies the end time (exclusive) of the period that the promotion is available in. If unset, the promotion is available indefinitely.
          format: google-datetime
          type: string
        freeTrialDuration:
          $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Duration"
          description: Output only. Specifies the duration of the free trial of the subscription.
          readOnly: true
        name:
          description: Output only. Response only. Resource name of the subscription promotion. It will have the format of "partners/{partner_id}/promotion/{promotion_id}"
          readOnly: true
          type: string
        regionCodes:
          description: 'Output only. 2-letter ISO region code where the promotion is available in. Ex. "US" Please refers to: https://en.wikipedia.org/wiki/ISO_3166-1'
          items:
            type: string
          readOnly: true
          type: array
        startTime:
          description: Optional. Specifies the start time (inclusive) of the period that the promotion is available in.
          format: google-datetime
          type: string
        titles:
          description: Output only. Localized human readable name of the promotion.
          items:
            $ref: "#/components/schemas/GoogleTypeLocalizedText"
          readOnly: true
          type: array
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1Subscription:
      description: A Subscription resource managed by 3P Partners.
      properties:
        cancellationDetails:
          $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1SubscriptionCancellationDetails"
          description: Output only. Describes the details of a cancelled subscription. Only applicable to subscription of state `STATE_CANCELLED`.
          readOnly: true
        createTime:
          description: Output only. System generated timestamp when the subscription is created. UTC timezone.
          format: google-datetime
          readOnly: true
          type: string
        cycleEndTime:
          description: 'Output only. The time at which the subscription is expected to be extended, in ISO 8061 format. UTC timezone. For example: "2019-08-31T17:28:54.564Z"'
          format: google-datetime
          readOnly: true
          type: string
        endUserEntitled:
          description: Output only. Indicates if the subscription is entitled to the end user.
          readOnly: true
          type: boolean
        freeTrialEndTime:
          description: Output only. End of the free trial period, in ISO 8061 format. For example, "2019-08-31T17:28:54.564Z". It will be set the same as createTime if no free trial promotion is specified.
          format: google-datetime
          readOnly: true
          type: string
        name:
          description: Output only. Response only. Resource name of the subscription. It will have the format of "partners/{partner_id}/subscriptions/{subscription_id}"
          readOnly: true
          type: string
        partnerUserToken:
          description: Required. Identifier of the end-user in partner’s system. The value is restricted to 63 ASCII characters at the maximum.
          type: string
        processingState:
          description: Output only. Describes the processing state of the subscription. See more details at [the lifecycle of a subscription](/payments/reseller/subscription/reference/index/Receive.Notifications#payments-subscription-lifecycle).
          enum:
            - PROCESSING_STATE_UNSPECIFIED
            - PROCESSING_STATE_CANCELLING
            - PROCESSING_STATE_RECURRING
          readOnly: true
          type: string
        products:
          description: Required. Resource name that identifies one or more subscription products. The format will be 'partners/{partner_id}/products/{product_id}'.
          items:
            type: string
          type: array
        promotions:
          description: Optional. Resource name that identifies one or more promotions that can be applied on the product. A typical promotion for a subscription is Free trial. The format will be 'partners/{partner_id}/promotions/{promotion_id}'.
          items:
            type: string
          type: array
        redirectUri:
          description: Output only. The place where partners should redirect the end-user to after creation. This field might also be populated when creation failed. However, Partners should always prepare a default URL to redirect the user in case this field is empty.
          readOnly: true
          type: string
        serviceLocation:
          $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Location"
          description: Required. The location that the service is provided as indicated by the partner.
        state:
          description: Output only. Describes the state of the subscription. See more details at [the lifecycle of a subscription](/payments/reseller/subscription/reference/index/Receive.Notifications#payments-subscription-lifecycle).
          enum:
            - STATE_UNSPECIFIED
            - STATE_CREATED
            - STATE_ACTIVE
            - STATE_CANCELLED
            - STATE_IN_GRACE_PERIOD
            - STATE_CANCEL_AT_END_OF_CYCLE
          readOnly: true
          type: string
        updateTime:
          description: Output only. System generated timestamp when the subscription is most recently updated. UTC timezone.
          format: google-datetime
          readOnly: true
          type: string
        upgradeDowngradeDetails:
          $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1SubscriptionUpgradeDowngradeDetails"
          description: Optional. Details about the previous subscription that this new subscription upgrades/downgrades from. Only populated if this subscription is an upgrade/downgrade from another subscription.
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1SubscriptionCancellationDetails:
      description: Describes the details of a cancelled or cancelling subscription.
      properties:
        reason:
          description: The reason of the cancellation.
          enum:
            - CANCELLATION_REASON_UNSPECIFIED
            - CANCELLATION_REASON_FRAUD
            - CANCELLATION_REASON_REMORSE
            - CANCELLATION_REASON_ACCIDENTAL_PURCHASE
            - CANCELLATION_REASON_PAST_DUE
            - CANCELLATION_REASON_ACCOUNT_CLOSED
            - CANCELLATION_REASON_UPGRADE_DOWNGRADE
            - CANCELLATION_REASON_USER_DELINQUENCY
            - CANCELLATION_REASON_OTHER
          type: string
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1SubscriptionUpgradeDowngradeDetails:
      description: Details about the previous subscription that this new subscription upgrades/downgrades from.
      properties:
        billingCycleSpec:
          description: Required. Specifies the billing cycle spec for the new upgraded/downgraded subscription.
          enum:
            - BILLING_CYCLE_SPEC_UNSPECIFIED
            - BILLING_CYCLE_SPEC_ALIGN_WITH_PREVIOUS_SUBSCRIPTION
            - BILLING_CYCLE_SPEC_START_IMMEDIATELY
          type: string
        previousSubscriptionId:
          description: Required. The previous subscription id to be replaced. This is not the full resource name, use the subscription_id segment only.
          type: string
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionRequest:
      description: Request to revoke a cancellation request.
      properties: {}
      type: object
    GoogleCloudPaymentsResellerSubscriptionV1UndoCancelSubscriptionResponse:
      description: Response that contains the updated subscription resource.
      properties:
        subscription:
          $ref: "#/components/schemas/GoogleCloudPaymentsResellerSubscriptionV1Subscription"
          description: The updated subscription resource.
      type: object
    GoogleTypeLocalizedText:
      description: Localized variant of a text in a particular language.
      properties:
        languageCode:
          description: The text's BCP-47 language code, such as "en-US" or "sr-Latn". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier.
          type: string
        text:
          description: Localized string in the language corresponding to `language_code' below.
          type: string
      type: object
