swagger: '2.0'
schemes:
  - https
host: www.googleapis.com
basePath: /books/v1
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: Searches for books and manages your Google Books library.
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Books
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.google.com/intl/en/images/logos/books_logo_lg.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.0.1
      format: google
      url: 'https://www.googleapis.com/discovery/v1/apis/books/v1/rest'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: books
externalDocs:
  url: 'https://developers.google.com/books/docs/v1/getting_started'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/books': Manage your books
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://www.googleapis.com/auth/books': Manage your books
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  alt:
    default: json
    description: Data format for the response.
    enum:
      - json
    in: query
    name: alt
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
    in: query
    name: quotaUser
    type: string
  userIp:
    description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    in: query
    name: userIp
    type: string
tags:
  - name: bookshelves
  - name: cloudloading
  - name: dictionary
  - name: layers
  - name: myconfig
  - name: mylibrary
  - name: notification
  - name: onboarding
  - name: personalizedstream
  - name: promooffer
  - name: series
  - name: volumes
paths:
  /cloudloading/addBook:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: ''
      operationId: books.cloudloading.addBook
      parameters:
        - description: A drive document id. The upload_client_token must not be set.
          in: query
          name: drive_document_id
          type: string
        - description: The document MIME type. It can be set only if the drive_document_id is set.
          in: query
          name: mime_type
          type: string
        - description: The document name. It can be set only if the drive_document_id is set.
          in: query
          name: name
          type: string
        - in: query
          name: upload_client_token
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/BooksCloudloadingResource'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/books'
          Oauth2c:
            - 'https://www.googleapis.com/auth/books'
      tags:
        - cloudloading
  /cloudloading/deleteBook:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Remove the book and its contents
      operationId: books.cloudloading.deleteBook
      parameters:
        - description: The id of the book to be removed.
          in: query
          name: volumeId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/books'
          Oauth2c:
            - 'https://www.googleapis.com/auth/books'
      tags:
        - cloudloading
  /cloudloading/updateBook:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: ''
      operationId: books.cloudloading.updateBook
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/BooksCloudloadingResource'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/BooksCloudloadingResource'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/books'
          Oauth2c:
            - 'https://www.googleapis.com/auth/books'
      tags:
        - cloudloading
  /dictionary/listOfflineMetadata:
    get:
      description: Returns a list of offline dictionary metadata available
      operationId: books.dictionary.listOfflineMetadata
      parameters:
        - description: The device/version ID from which to request the data.
          in: query
          name: cpksver
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Metadata'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/books'
          Oauth2c:
            - 'https://www.googleapis.com/auth/books'
      tags:
        - dictionary
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  /myconfig/getUserSettings:
    get:
      description: Gets the current settings for the user.
      operationId: books.myconfig.getUserSettings
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Usersettings'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/books'
          Oauth2c:
            - 'https://www.googleapis.com/auth/books'
      tags:
        - myconfig
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  /myconfig/releaseDownloadAccess:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Release downloaded content access restriction.
      operationId: books.myconfig.releaseDownloadAccess
      parameters:
        - collectionFormat: multi
          description: The volume(s) to release restrictions for.
          in: query
          items:
            type: string
          name: volumeIds
          required: true
          type: array
        - description: The device/version ID from which to release the restriction.
          in: query
          name: cpksver
          required: true
          type: string
        - description: 'ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US.'
          in: query
          name: locale
          type: string
        - description: String to identify the originator of this request.
          in: query
          name: source
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/DownloadAccesses'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/books'
          Oauth2c:
            - 'https://www.googleapis.com/auth/books'
      tags:
        - myconfig
  /myconfig/requestAccess:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Request concurrent and download access restrictions.
      operationId: books.myconfig.requestAccess
      parameters:
        - description: String to identify the originator of this request.
          in: query
          name: source
          required: true
          type: string
        - description: The volume to request concurrent/download restrictions for.
          in: query
          name: volumeId
          required: true
          type: string
        - description: The client nonce value.
          in: query
          name: nonce
          required: true
          type: string
        - description: The device/version ID from which to request the restrictions.
          in: query
          name: cpksver
          required: true
          type: string
        - description: 'The type of access license to request. If not specified, the default is BOTH.'
          enum:
            - BOTH
            - CONCURRENT
            - DOWNLOAD
          in: query
          name: licenseTypes
          type: string
        - description: 'ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US.'
          in: query
          name: locale
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/RequestAccess'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/books'
          Oauth2c:
            - 'https://www.googleapis.com/auth/books'
      tags:
        - myconfig
  /myconfig/syncVolumeLicenses:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Request downloaded content access for specified volumes on the My eBooks shelf.
      operationId: books.myconfig.syncVolumeLicenses
      parameters:
        - description: String to identify the originator of this request.
          in: query
          name: source
          required: true
          type: string
        - description: The client nonce value.
          in: query
          name: nonce
          required: true
          type: string
        - description: The device/version ID from which to release the restriction.
          in: query
          name: cpksver
          required: true
          type: string
        - collectionFormat: multi
          description: 'List of features supported by the client, i.e., ''RENTALS'''
          in: query
          items:
            enum:
              - RENTALS
            type: string
          name: features
          type: array
        - description: Set to true to include non-comics series. Defaults to false.
          in: query
          name: includeNonComicsSeries
          type: boolean
        - description: 'ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US.'
          in: query
          name: locale
          type: string
        - description: Set to true to show pre-ordered books. Defaults to false.
          in: query
          name: showPreorders
          type: boolean
        - collectionFormat: multi
          description: The volume(s) to request download restrictions for.
          in: query
          items:
            type: string
          name: volumeIds
          type: array
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Volumes'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/books'
          Oauth2c:
            - 'https://www.googleapis.com/auth/books'
      tags:
        - myconfig
  /myconfig/updateUserSettings:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: 'Sets the settings for the user. If a sub-object is specified, it will overwrite the existing sub-object stored in the server. Unspecified sub-objects will retain the existing value.'
      operationId: books.myconfig.updateUserSettings
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Usersettings'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Usersettings'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/books'
          Oauth2c:
            - 'https://www.googleapis.com/auth/books'
      tags:
        - myconfig
  /mylibrary/annotations:
    get:
      description: 'Retrieves a list of annotations, possibly filtered.'
      operationId: books.mylibrary.annotations.list
      parameters:
        - description: The content version for the requested volume.
          in: query
          name: contentVersion
          type: string
        - description: The layer ID to limit annotation by.
          in: query
          name: layerId
          type: string
        - collectionFormat: multi
          description: The layer ID(s) to limit annotation by.
          in: query
          items:
            type: string
          name: layerIds
          type: array
        - description: Maximum number of results to return
          in: query
          maximum: 40
          minimum: 0
          name: maxResults
          type: integer
        - description: The value of the nextToken from the previous page.
          in: query
          name: pageToken
          type: string
        - description: Set to true to return deleted annotations. updatedMin must be in the request to use this. Defaults to false.
          in: query
          name: showDeleted
          type: boolean
        - description: String to identify the originator of this request.
          in: query
          name: source
          type: string
        - description: RFC 3339 timestamp to restrict to items updated prior to this timestamp (exclusive).
          in: query
          name: updatedMax
          type: string
        - description: RFC 3339 timestamp to restrict to items updated since this timestamp (inclusive).
          in: query
          name: updatedMin
          type: string
        - description: The volume to restrict annotations to.
          in: query
          name: volumeId
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Annotations'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/books'
          Oauth2c:
            - 'https://www.googleapis.com/auth/books'
      tags:
        - mylibrary
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Inserts a new annotation.
      operationId: books.mylibrary.annotations.insert
      parameters:
        - description: The ID for the annotation to insert.
          in: query
          name: annotationId
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Annotation'
        - description: ISO-3166-1 code to override the IP-based location.
          in: query
          name: country
          type: string
        - description: Requests that only the summary of the specified layer be provided in the response.
          in: query
          name: showOnlySummaryInResponse
          type: boolean
        - description: String to identify the originator of this request.
          in: query
          name: source
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Annotation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/books'
          Oauth2c:
            - 'https://www.googleapis.com/auth/books'
      tags:
        - mylibrary
  /mylibrary/annotations/summary:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Gets the summary of specified layers.
      operationId: books.mylibrary.annotations.summary
      parameters:
        - collectionFormat: multi
          description: Array of layer IDs to get the summary for.
          in: query
          items:
            type: string
          name: layerIds
          required: true
          type: array
        - description: Volume id to get the summary for.
          in: query
          name: volumeId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AnnotationsSummary'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/books'
          Oauth2c:
            - 'https://www.googleapis.com/auth/books'
      tags:
        - mylibrary
  '/mylibrary/annotations/{annotationId}':
    delete:
      description: Deletes an annotation.
      operationId: books.mylibrary.annotations.delete
      parameters:
        - description: The ID for the annotation to delete.
          in: path
          name: annotationId
          required: true
          type: string
        - description: String to identify the originator of this request.
          in: query
          name: source
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/books'
          Oauth2c:
            - 'https://www.googleapis.com/auth/books'
      tags:
        - mylibrary
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    put:
      description: Updates an existing annotation.
      operationId: books.mylibrary.annotations.update
      parameters:
        - description: The ID for the annotation to update.
          in: path
          name: annotationId
          required: true
          type: string
        - description: String to identify the originator of this request.
          in: query
          name: source
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Annotation'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Annotation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/books'
          Oauth2c:
            - 'https://www.googleapis.com/auth/books'
      tags:
        - mylibrary
  /mylibrary/bookshelves:
    get:
      description: Retrieves a list of bookshelves belonging to the authenticated user.
      operationId: books.mylibrary.bookshelves.list
      parameters:
        - description: String to identify the originator of this request.
          in: query
          name: source
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Bookshelves'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/books'
          Oauth2c:
            - 'https://www.googleapis.com/auth/books'
      tags:
        - mylibrary
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/mylibrary/bookshelves/{shelf}':
    get:
      description: Retrieves metadata for a specific bookshelf belonging to the authenticated user.
      operationId: books.mylibrary.bookshelves.get
      parameters:
        - description: ID of bookshelf to retrieve.
          in: path
          name: shelf
          required: true
          type: string
        - description: String to identify the originator of this request.
          in: query
          name: source
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Bookshelf'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/books'
          Oauth2c:
            - 'https://www.googleapis.com/auth/books'
      tags:
        - mylibrary
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/mylibrary/bookshelves/{shelf}/addVolume':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Adds a volume to a bookshelf.
      operationId: books.mylibrary.bookshelves.addVolume
      parameters:
        - description: ID of bookshelf to which to add a volume.
          in: path
          name: shelf
          required: true
          type: string
        - description: ID of volume to add.
          in: query
          name: volumeId
          required: true
          type: string
        - description: The reason for which the book is added to the library.
          enum:
            - IOS_PREX
            - IOS_SEARCH
            - ONBOARDING
          in: query
          name: reason
          type: string
        - description: String to identify the originator of this request.
          in: query
          name: source
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/books'
          Oauth2c:
            - 'https://www.googleapis.com/auth/books'
      tags:
        - mylibrary
  '/mylibrary/bookshelves/{shelf}/clearVolumes':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Clears all volumes from a bookshelf.
      operationId: books.mylibrary.bookshelves.clearVolumes
      parameters:
        - description: ID of bookshelf from which to remove a volume.
          in: path
          name: shelf
          required: true
          type: string
        - description: String to identify the originator of this request.
          in: query
          name: source
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/books'
          Oauth2c:
            - 'https://www.googleapis.com/auth/books'
      tags:
        - mylibrary
  '/mylibrary/bookshelves/{shelf}/moveVolume':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Moves a volume within a bookshelf.
      operationId: books.mylibrary.bookshelves.moveVolume
      parameters:
        - description: ID of bookshelf with the volume.
          in: path
          name: shelf
          required: true
          type: string
        - description: ID of volume to move.
          in: query
          name: volumeId
          required: true
          type: string
        - description: 'Position on shelf to move the item (0 puts the item before the current first item, 1 puts it between the first and the second and so on.)'
          in: query
          name: volumePosition
          required: true
          type: integer
        - description: String to identify the originator of this request.
          in: query
          name: source
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/books'
          Oauth2c:
            - 'https://www.googleapis.com/auth/books'
      tags:
        - mylibrary
  '/mylibrary/bookshelves/{shelf}/removeVolume':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Removes a volume from a bookshelf.
      operationId: books.mylibrary.bookshelves.removeVolume
      parameters:
        - description: ID of bookshelf from which to remove a volume.
          in: path
          name: shelf
          required: true
          type: string
        - description: ID of volume to remove.
          in: query
          name: volumeId
          required: true
          type: string
        - description: The reason for which the book is removed from the library.
          enum:
            - ONBOARDING
          in: query
          name: reason
          type: string
        - description: String to identify the originator of this request.
          in: query
          name: source
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/books'
          Oauth2c:
            - 'https://www.googleapis.com/auth/books'
      tags:
        - mylibrary
  '/mylibrary/bookshelves/{shelf}/volumes':
    get:
      description: Gets volume information for volumes on a bookshelf.
      operationId: books.mylibrary.bookshelves.volumes.list
      parameters:
        - description: The bookshelf ID or name retrieve volumes for.
          in: path
          name: shelf
          required: true
          type: string
        - description: ISO-3166-1 code to override the IP-based location.
          in: query
          name: country
          type: string
        - description: Maximum number of results to return
          in: query
          minimum: 0
          name: maxResults
          type: integer
        - description: Restrict information returned to a set of selected fields.
          enum:
            - full
            - lite
          in: query
          name: projection
          type: string
        - description: Full-text search query string in this bookshelf.
          in: query
          name: q
          type: string
        - description: Set to true to show pre-ordered books. Defaults to false.
          in: query
          name: showPreorders
          type: boolean
        - description: String to identify the originator of this request.
          in: query
          name: source
          type: string
        - description: Index of the first element to return (starts at 0)
          in: query
          minimum: 0
          name: startIndex
          type: integer
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Volumes'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/books'
          Oauth2c:
            - 'https://www.googleapis.com/auth/books'
      tags:
        - mylibrary
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/mylibrary/readingpositions/{volumeId}':
    get:
      description: Retrieves my reading position information for a volume.
      operationId: books.mylibrary.readingpositions.get
      parameters:
        - description: ID of volume for which to retrieve a reading position.
          in: path
          name: volumeId
          required: true
          type: string
        - description: Volume content version for which this reading position is requested.
          in: query
          name: contentVersion
          type: string
        - description: String to identify the originator of this request.
          in: query
          name: source
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ReadingPosition'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/books'
          Oauth2c:
            - 'https://www.googleapis.com/auth/books'
      tags:
        - mylibrary
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/mylibrary/readingpositions/{volumeId}/setPosition':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Sets my reading position information for a volume.
      operationId: books.mylibrary.readingpositions.setPosition
      parameters:
        - description: ID of volume for which to update the reading position.
          in: path
          name: volumeId
          required: true
          type: string
        - description: RFC 3339 UTC format timestamp associated with this reading position.
          in: query
          name: timestamp
          required: true
          type: string
        - description: Position string for the new volume reading position.
          in: query
          name: position
          required: true
          type: string
        - description: Action that caused this reading position to be set.
          enum:
            - bookmark
            - chapter
            - next-page
            - prev-page
            - scroll
            - search
          in: query
          name: action
          type: string
        - description: Volume content version for which this reading position applies.
          in: query
          name: contentVersion
          type: string
        - description: Random persistent device cookie optional on set position.
          in: query
          name: deviceCookie
          type: string
        - description: String to identify the originator of this request.
          in: query
          name: source
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/books'
          Oauth2c:
            - 'https://www.googleapis.com/auth/books'
      tags:
        - mylibrary
  /notification/get:
    get:
      description: Returns notification details for a given notification id.
      operationId: books.notification.get
      parameters:
        - description: String to identify the notification.
          in: query
          name: notification_id
          required: true
          type: string
        - description: 'ISO-639-1 language and ISO-3166-1 country code. Ex: ''en_US''. Used for generating notification title and body.'
          in: query
          name: locale
          type: string
        - description: String to identify the originator of this request.
          in: query
          name: source
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Notification'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/books'
          Oauth2c:
            - 'https://www.googleapis.com/auth/books'
      tags:
        - notification
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  /onboarding/listCategories:
    get:
      description: List categories for onboarding experience.
      operationId: books.onboarding.listCategories
      parameters:
        - description: ISO-639-1 language and ISO-3166-1 country code. Default is en-US if unset.
          in: query
          name: locale
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Category'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/books'
          Oauth2c:
            - 'https://www.googleapis.com/auth/books'
      tags:
        - onboarding
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  /onboarding/listCategoryVolumes:
    get:
      description: List available volumes under categories for onboarding experience.
      operationId: books.onboarding.listCategoryVolumes
      parameters:
        - collectionFormat: multi
          description: List of category ids requested.
          in: query
          items:
            type: string
          name: categoryId
          type: array
        - description: ISO-639-1 language and ISO-3166-1 country code. Default is en-US if unset.
          in: query
          name: locale
          type: string
        - description: The maximum allowed maturity rating of returned volumes. Books with a higher maturity rating are filtered out.
          enum:
            - mature
            - not-mature
          in: query
          name: maxAllowedMaturityRating
          type: string
        - description: Number of maximum results per page to be included in the response.
          in: query
          name: pageSize
          type: integer
        - description: The value of the nextToken from the previous page.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Volume2'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/books'
          Oauth2c:
            - 'https://www.googleapis.com/auth/books'
      tags:
        - onboarding
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  /personalizedstream/get:
    get:
      description: Returns a stream of personalized book clusters
      operationId: books.personalizedstream.get
      parameters:
        - description: 'ISO-639-1 language and ISO-3166-1 country code. Ex: ''en_US''. Used for generating recommendations.'
          in: query
          name: locale
          type: string
        - description: The maximum allowed maturity rating of returned recommendations. Books with a higher maturity rating are filtered out.
          enum:
            - mature
            - not-mature
          in: query
          name: maxAllowedMaturityRating
          type: string
        - description: String to identify the originator of this request.
          in: query
          name: source
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Discoveryclusters'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/books'
          Oauth2c:
            - 'https://www.googleapis.com/auth/books'
      tags:
        - personalizedstream
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  /promooffer/accept:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: ''
      operationId: books.promooffer.accept
      parameters:
        - description: device android_id
          in: query
          name: androidId
          type: string
        - description: device device
          in: query
          name: device
          type: string
        - description: device manufacturer
          in: query
          name: manufacturer
          type: string
        - description: device model
          in: query
          name: model
          type: string
        - in: query
          name: offerId
          type: string
        - description: device product
          in: query
          name: product
          type: string
        - description: device serial
          in: query
          name: serial
          type: string
        - description: Volume id to exercise the offer
          in: query
          name: volumeId
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/books'
          Oauth2c:
            - 'https://www.googleapis.com/auth/books'
      tags:
        - promooffer
  /promooffer/dismiss:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: ''
      operationId: books.promooffer.dismiss
      parameters:
        - description: device android_id
          in: query
          name: androidId
          type: string
        - description: device device
          in: query
          name: device
          type: string
        - description: device manufacturer
          in: query
          name: manufacturer
          type: string
        - description: device model
          in: query
          name: model
          type: string
        - description: Offer to dimiss
          in: query
          name: offerId
          type: string
        - description: device product
          in: query
          name: product
          type: string
        - description: device serial
          in: query
          name: serial
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/books'
          Oauth2c:
            - 'https://www.googleapis.com/auth/books'
      tags:
        - promooffer
  /promooffer/get:
    get:
      description: Returns a list of promo offers available to the user
      operationId: books.promooffer.get
      parameters:
        - description: device android_id
          in: query
          name: androidId
          type: string
        - description: device device
          in: query
          name: device
          type: string
        - description: device manufacturer
          in: query
          name: manufacturer
          type: string
        - description: device model
          in: query
          name: model
          type: string
        - description: device product
          in: query
          name: product
          type: string
        - description: device serial
          in: query
          name: serial
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Offers'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/books'
          Oauth2c:
            - 'https://www.googleapis.com/auth/books'
      tags:
        - promooffer
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  /series/get:
    get:
      description: Returns Series metadata for the given series ids.
      operationId: books.series.get
      parameters:
        - collectionFormat: multi
          description: String that identifies the series
          in: query
          items:
            type: string
          name: series_id
          required: true
          type: array
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Series'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/books'
          Oauth2c:
            - 'https://www.googleapis.com/auth/books'
      tags:
        - series
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  /series/membership/get:
    get:
      description: Returns Series membership data given the series id.
      operationId: books.series.membership.get
      parameters:
        - description: String that identifies the series
          in: query
          name: series_id
          required: true
          type: string
        - description: Number of maximum results per page to be included in the response.
          in: query
          name: page_size
          type: integer
        - description: The value of the nextToken from the previous page.
          in: query
          name: page_token
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Seriesmembership'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/books'
          Oauth2c:
            - 'https://www.googleapis.com/auth/books'
      tags:
        - series
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/users/{userId}/bookshelves':
    get:
      description: Retrieves a list of public bookshelves for the specified user.
      operationId: books.bookshelves.list
      parameters:
        - description: ID of user for whom to retrieve bookshelves.
          in: path
          name: userId
          required: true
          type: string
        - description: String to identify the originator of this request.
          in: query
          name: source
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Bookshelves'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/books'
          Oauth2c:
            - 'https://www.googleapis.com/auth/books'
      tags:
        - bookshelves
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/users/{userId}/bookshelves/{shelf}':
    get:
      description: Retrieves metadata for a specific bookshelf for the specified user.
      operationId: books.bookshelves.get
      parameters:
        - description: ID of user for whom to retrieve bookshelves.
          in: path
          name: userId
          required: true
          type: string
        - description: ID of bookshelf to retrieve.
          in: path
          name: shelf
          required: true
          type: string
        - description: String to identify the originator of this request.
          in: query
          name: source
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Bookshelf'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/books'
          Oauth2c:
            - 'https://www.googleapis.com/auth/books'
      tags:
        - bookshelves
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/users/{userId}/bookshelves/{shelf}/volumes':
    get:
      description: Retrieves volumes in a specific bookshelf for the specified user.
      operationId: books.bookshelves.volumes.list
      parameters:
        - description: ID of user for whom to retrieve bookshelf volumes.
          in: path
          name: userId
          required: true
          type: string
        - description: ID of bookshelf to retrieve volumes.
          in: path
          name: shelf
          required: true
          type: string
        - description: Maximum number of results to return
          in: query
          minimum: 0
          name: maxResults
          type: integer
        - description: Set to true to show pre-ordered books. Defaults to false.
          in: query
          name: showPreorders
          type: boolean
        - description: String to identify the originator of this request.
          in: query
          name: source
          type: string
        - description: Index of the first element to return (starts at 0)
          in: query
          minimum: 0
          name: startIndex
          type: integer
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Volumes'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/books'
          Oauth2c:
            - 'https://www.googleapis.com/auth/books'
      tags:
        - bookshelves
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  /volumes:
    get:
      description: Performs a book search.
      operationId: books.volumes.list
      parameters:
        - description: Full-text search query string.
          in: query
          name: q
          required: true
          type: string
        - description: Restrict to volumes by download availability.
          enum:
            - epub
          in: query
          name: download
          type: string
        - description: Filter search results.
          enum:
            - ebooks
            - free-ebooks
            - full
            - paid-ebooks
            - partial
          in: query
          name: filter
          type: string
        - description: Restrict results to books with this language code.
          in: query
          name: langRestrict
          type: string
        - description: Restrict search to this user's library.
          enum:
            - my-library
            - no-restrict
          in: query
          name: libraryRestrict
          type: string
        - description: The maximum allowed maturity rating of returned recommendations. Books with a higher maturity rating are filtered out.
          enum:
            - mature
            - not-mature
          in: query
          name: maxAllowedMaturityRating
          type: string
        - description: Maximum number of results to return.
          in: query
          maximum: 40
          minimum: 0
          name: maxResults
          type: integer
        - description: Sort search results.
          enum:
            - newest
            - relevance
          in: query
          name: orderBy
          type: string
        - description: Restrict and brand results for partner ID.
          in: query
          name: partner
          type: string
        - description: Restrict to books or magazines.
          enum:
            - all
            - books
            - magazines
          in: query
          name: printType
          type: string
        - description: Restrict information returned to a set of selected fields.
          enum:
            - full
            - lite
          in: query
          name: projection
          type: string
        - description: Set to true to show books available for preorder. Defaults to false.
          in: query
          name: showPreorders
          type: boolean
        - description: String to identify the originator of this request.
          in: query
          name: source
          type: string
        - description: Index of the first result to return (starts at 0)
          in: query
          minimum: 0
          name: startIndex
          type: integer
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Volumes'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/books'
          Oauth2c:
            - 'https://www.googleapis.com/auth/books'
      tags:
        - volumes
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  /volumes/mybooks:
    get:
      description: Return a list of books in My Library.
      operationId: books.volumes.mybooks.list
      parameters:
        - collectionFormat: multi
          description: How the book was acquired
          in: query
          items:
            enum:
              - FAMILY_SHARED
              - PREORDERED
              - PREVIOUSLY_RENTED
              - PUBLIC_DOMAIN
              - PURCHASED
              - RENTED
              - SAMPLE
              - UPLOADED
            type: string
          name: acquireMethod
          type: array
        - description: ISO-3166-1 code to override the IP-based location.
          in: query
          name: country
          type: string
        - description: 'ISO-639-1 language and ISO-3166-1 country code. Ex:''en_US''. Used for generating recommendations.'
          in: query
          name: locale
          type: string
        - description: Maximum number of results to return.
          in: query
          maximum: 100
          minimum: 0
          name: maxResults
          type: integer
        - collectionFormat: multi
          description: The processing state of the user uploaded volumes to be returned. Applicable only if the UPLOADED is specified in the acquireMethod.
          in: query
          items:
            enum:
              - COMPLETED_FAILED
              - COMPLETED_SUCCESS
              - RUNNING
            type: string
          name: processingState
          type: array
        - description: String to identify the originator of this request.
          in: query
          name: source
          type: string
        - description: Index of the first result to return (starts at 0)
          in: query
          minimum: 0
          name: startIndex
          type: integer
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Volumes'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/books'
          Oauth2c:
            - 'https://www.googleapis.com/auth/books'
      tags:
        - volumes
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  /volumes/recommended:
    get:
      description: Return a list of recommended books for the current user.
      operationId: books.volumes.recommended.list
      parameters:
        - description: 'ISO-639-1 language and ISO-3166-1 country code. Ex: ''en_US''. Used for generating recommendations.'
          in: query
          name: locale
          type: string
        - description: The maximum allowed maturity rating of returned recommendations. Books with a higher maturity rating are filtered out.
          enum:
            - mature
            - not-mature
          in: query
          name: maxAllowedMaturityRating
          type: string
        - description: String to identify the originator of this request.
          in: query
          name: source
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Volumes'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/books'
          Oauth2c:
            - 'https://www.googleapis.com/auth/books'
      tags:
        - volumes
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  /volumes/recommended/rate:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Rate a recommended book for the current user.
      operationId: books.volumes.recommended.rate
      parameters:
        - description: Rating to be given to the volume.
          enum:
            - HAVE_IT
            - NOT_INTERESTED
          in: query
          name: rating
          required: true
          type: string
        - description: ID of the source volume.
          in: query
          name: volumeId
          required: true
          type: string
        - description: 'ISO-639-1 language and ISO-3166-1 country code. Ex: ''en_US''. Used for generating recommendations.'
          in: query
          name: locale
          type: string
        - description: String to identify the originator of this request.
          in: query
          name: source
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/BooksVolumesRecommendedRateResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/books'
          Oauth2c:
            - 'https://www.googleapis.com/auth/books'
      tags:
        - volumes
  /volumes/useruploaded:
    get:
      description: Return a list of books uploaded by the current user.
      operationId: books.volumes.useruploaded.list
      parameters:
        - description: 'ISO-639-1 language and ISO-3166-1 country code. Ex: ''en_US''. Used for generating recommendations.'
          in: query
          name: locale
          type: string
        - description: Maximum number of results to return.
          in: query
          maximum: 40
          minimum: 0
          name: maxResults
          type: integer
        - collectionFormat: multi
          description: The processing state of the user uploaded volumes to be returned.
          in: query
          items:
            enum:
              - COMPLETED_FAILED
              - COMPLETED_SUCCESS
              - RUNNING
            type: string
          name: processingState
          type: array
        - description: String to identify the originator of this request.
          in: query
          name: source
          type: string
        - description: Index of the first result to return (starts at 0)
          in: query
          minimum: 0
          name: startIndex
          type: integer
        - collectionFormat: multi
          description: The ids of the volumes to be returned. If not specified all that match the processingState are returned.
          in: query
          items:
            type: string
          name: volumeId
          type: array
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Volumes'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/books'
          Oauth2c:
            - 'https://www.googleapis.com/auth/books'
      tags:
        - volumes
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/volumes/{volumeId}':
    get:
      description: Gets volume information for a single volume.
      operationId: books.volumes.get
      parameters:
        - description: ID of volume to retrieve.
          in: path
          name: volumeId
          required: true
          type: string
        - description: ISO-3166-1 code to override the IP-based location.
          in: query
          name: country
          type: string
        - description: Set to true to include non-comics series. Defaults to false.
          in: query
          name: includeNonComicsSeries
          type: boolean
        - description: Brand results for partner ID.
          in: query
          name: partner
          type: string
        - description: Restrict information returned to a set of selected fields.
          enum:
            - full
            - lite
          in: query
          name: projection
          type: string
        - description: String to identify the originator of this request.
          in: query
          name: source
          type: string
        - in: query
          name: user_library_consistent_read
          type: boolean
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Volume'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/books'
          Oauth2c:
            - 'https://www.googleapis.com/auth/books'
      tags:
        - volumes
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/volumes/{volumeId}/associated':
    get:
      description: Return a list of associated books.
      operationId: books.volumes.associated.list
      parameters:
        - description: ID of the source volume.
          in: path
          name: volumeId
          required: true
          type: string
        - description: Association type.
          enum:
            - end-of-sample
            - end-of-volume
            - related-for-play
          in: query
          name: association
          type: string
        - description: 'ISO-639-1 language and ISO-3166-1 country code. Ex: ''en_US''. Used for generating recommendations.'
          in: query
          name: locale
          type: string
        - description: The maximum allowed maturity rating of returned recommendations. Books with a higher maturity rating are filtered out.
          enum:
            - mature
            - not-mature
          in: query
          name: maxAllowedMaturityRating
          type: string
        - description: String to identify the originator of this request.
          in: query
          name: source
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Volumes'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/books'
          Oauth2c:
            - 'https://www.googleapis.com/auth/books'
      tags:
        - volumes
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/volumes/{volumeId}/layers/{layerId}':
    get:
      description: Gets the volume annotations for a volume and layer.
      operationId: books.layers.volumeAnnotations.list
      parameters:
        - description: The volume to retrieve annotations for.
          in: path
          name: volumeId
          required: true
          type: string
        - description: The ID for the layer to get the annotations.
          in: path
          name: layerId
          required: true
          type: string
        - description: The content version for the requested volume.
          in: query
          name: contentVersion
          required: true
          type: string
        - description: The end offset to end retrieving data from.
          in: query
          name: endOffset
          type: string
        - description: The end position to end retrieving data from.
          in: query
          name: endPosition
          type: string
        - description: 'The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: ''en_US''.'
          in: query
          name: locale
          type: string
        - description: Maximum number of results to return
          in: query
          maximum: 200
          minimum: 0
          name: maxResults
          type: integer
        - description: The value of the nextToken from the previous page.
          in: query
          name: pageToken
          type: string
        - description: Set to true to return deleted annotations. updatedMin must be in the request to use this. Defaults to false.
          in: query
          name: showDeleted
          type: boolean
        - description: String to identify the originator of this request.
          in: query
          name: source
          type: string
        - description: The start offset to start retrieving data from.
          in: query
          name: startOffset
          type: string
        - description: The start position to start retrieving data from.
          in: query
          name: startPosition
          type: string
        - description: RFC 3339 timestamp to restrict to items updated prior to this timestamp (exclusive).
          in: query
          name: updatedMax
          type: string
        - description: RFC 3339 timestamp to restrict to items updated since this timestamp (inclusive).
          in: query
          name: updatedMin
          type: string
        - description: The version of the volume annotations that you are requesting.
          in: query
          name: volumeAnnotationsVersion
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Volumeannotations'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/books'
          Oauth2c:
            - 'https://www.googleapis.com/auth/books'
      tags:
        - layers
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/volumes/{volumeId}/layers/{layerId}/annotations/{annotationId}':
    get:
      description: Gets the volume annotation.
      operationId: books.layers.volumeAnnotations.get
      parameters:
        - description: The volume to retrieve annotations for.
          in: path
          name: volumeId
          required: true
          type: string
        - description: The ID for the layer to get the annotations.
          in: path
          name: layerId
          required: true
          type: string
        - description: The ID of the volume annotation to retrieve.
          in: path
          name: annotationId
          required: true
          type: string
        - description: 'The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: ''en_US''.'
          in: query
          name: locale
          type: string
        - description: String to identify the originator of this request.
          in: query
          name: source
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Volumeannotation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/books'
          Oauth2c:
            - 'https://www.googleapis.com/auth/books'
      tags:
        - layers
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/volumes/{volumeId}/layers/{layerId}/data':
    get:
      description: Gets the annotation data for a volume and layer.
      operationId: books.layers.annotationData.list
      parameters:
        - description: The volume to retrieve annotation data for.
          in: path
          name: volumeId
          required: true
          type: string
        - description: The ID for the layer to get the annotation data.
          in: path
          name: layerId
          required: true
          type: string
        - description: The content version for the requested volume.
          in: query
          name: contentVersion
          required: true
          type: string
        - collectionFormat: multi
          description: The list of Annotation Data Ids to retrieve. Pagination is ignored if this is set.
          in: query
          items:
            type: string
          name: annotationDataId
          type: array
        - description: The requested pixel height for any images. If height is provided width must also be provided.
          in: query
          name: h
          type: integer
        - description: 'The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: ''en_US''.'
          in: query
          name: locale
          type: string
        - description: Maximum number of results to return
          in: query
          maximum: 200
          minimum: 0
          name: maxResults
          type: integer
        - description: The value of the nextToken from the previous page.
          in: query
          name: pageToken
          type: string
        - description: The requested scale for the image.
          in: query
          minimum: 0
          name: scale
          type: integer
        - description: String to identify the originator of this request.
          in: query
          name: source
          type: string
        - description: RFC 3339 timestamp to restrict to items updated prior to this timestamp (exclusive).
          in: query
          name: updatedMax
          type: string
        - description: RFC 3339 timestamp to restrict to items updated since this timestamp (inclusive).
          in: query
          name: updatedMin
          type: string
        - description: The requested pixel width for any images. If width is provided height must also be provided.
          in: query
          name: w
          type: integer
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Annotationsdata'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/books'
          Oauth2c:
            - 'https://www.googleapis.com/auth/books'
      tags:
        - layers
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/volumes/{volumeId}/layers/{layerId}/data/{annotationDataId}':
    get:
      description: Gets the annotation data.
      operationId: books.layers.annotationData.get
      parameters:
        - description: The volume to retrieve annotations for.
          in: path
          name: volumeId
          required: true
          type: string
        - description: The ID for the layer to get the annotations.
          in: path
          name: layerId
          required: true
          type: string
        - description: The ID of the annotation data to retrieve.
          in: path
          name: annotationDataId
          required: true
          type: string
        - description: The content version for the volume you are trying to retrieve.
          in: query
          name: contentVersion
          required: true
          type: string
        - description: For the dictionary layer. Whether or not to allow web definitions.
          in: query
          name: allowWebDefinitions
          type: boolean
        - description: The requested pixel height for any images. If height is provided width must also be provided.
          in: query
          name: h
          type: integer
        - description: 'The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: ''en_US''.'
          in: query
          name: locale
          type: string
        - description: The requested scale for the image.
          in: query
          minimum: 0
          name: scale
          type: integer
        - description: String to identify the originator of this request.
          in: query
          name: source
          type: string
        - description: The requested pixel width for any images. If width is provided height must also be provided.
          in: query
          name: w
          type: integer
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Annotationdata'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/books'
          Oauth2c:
            - 'https://www.googleapis.com/auth/books'
      tags:
        - layers
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/volumes/{volumeId}/layersummary':
    get:
      description: List the layer summaries for a volume.
      operationId: books.layers.list
      parameters:
        - description: The volume to retrieve layers for.
          in: path
          name: volumeId
          required: true
          type: string
        - description: The content version for the requested volume.
          in: query
          name: contentVersion
          type: string
        - description: Maximum number of results to return
          in: query
          maximum: 200
          minimum: 0
          name: maxResults
          type: integer
        - description: The value of the nextToken from the previous page.
          in: query
          name: pageToken
          type: string
        - description: String to identify the originator of this request.
          in: query
          name: source
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Layersummaries'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/books'
          Oauth2c:
            - 'https://www.googleapis.com/auth/books'
      tags:
        - layers
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/volumes/{volumeId}/layersummary/{summaryId}':
    get:
      description: Gets the layer summary for a volume.
      operationId: books.layers.get
      parameters:
        - description: The volume to retrieve layers for.
          in: path
          name: volumeId
          required: true
          type: string
        - description: The ID for the layer to get the summary for.
          in: path
          name: summaryId
          required: true
          type: string
        - description: The content version for the requested volume.
          in: query
          name: contentVersion
          type: string
        - description: String to identify the originator of this request.
          in: query
          name: source
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Layersummary'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/books'
          Oauth2c:
            - 'https://www.googleapis.com/auth/books'
      tags:
        - layers
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
definitions:
  Annotation:
    properties:
      afterSelectedText:
        description: 'Anchor text after excerpt. For requests, if the user bookmarked a screen that has no flowing text on it, then this field should be empty.'
        type: string
      beforeSelectedText:
        description: 'Anchor text before excerpt. For requests, if the user bookmarked a screen that has no flowing text on it, then this field should be empty.'
        type: string
      clientVersionRanges:
        description: Selection ranges sent from the client.
        properties:
          cfiRange:
            $ref: '#/definitions/BooksAnnotationsRange'
            description: Range in CFI format for this annotation sent by client.
          contentVersion:
            description: Content version the client sent in.
            type: string
          gbImageRange:
            $ref: '#/definitions/BooksAnnotationsRange'
            description: Range in GB image format for this annotation sent by client.
          gbTextRange:
            $ref: '#/definitions/BooksAnnotationsRange'
            description: Range in GB text format for this annotation sent by client.
          imageCfiRange:
            $ref: '#/definitions/BooksAnnotationsRange'
            description: Range in image CFI format for this annotation sent by client.
        type: object
      created:
        description: Timestamp for the created time of this annotation.
        format: date-time
        type: string
      currentVersionRanges:
        description: Selection ranges for the most recent content version.
        properties:
          cfiRange:
            $ref: '#/definitions/BooksAnnotationsRange'
            description: Range in CFI format for this annotation for version above.
          contentVersion:
            description: Content version applicable to ranges below.
            type: string
          gbImageRange:
            $ref: '#/definitions/BooksAnnotationsRange'
            description: Range in GB image format for this annotation for version above.
          gbTextRange:
            $ref: '#/definitions/BooksAnnotationsRange'
            description: Range in GB text format for this annotation for version above.
          imageCfiRange:
            $ref: '#/definitions/BooksAnnotationsRange'
            description: Range in image CFI format for this annotation for version above.
        type: object
      data:
        description: User-created data for this annotation.
        type: string
      deleted:
        description: Indicates that this annotation is deleted.
        type: boolean
      highlightStyle:
        description: The highlight style for this annotation.
        type: string
      id:
        description: 'Id of this annotation, in the form of a GUID.'
        type: string
      kind:
        default: 'books#annotation'
        description: Resource type.
        type: string
      layerId:
        description: The layer this annotation is for.
        type: string
      layerSummary:
        properties:
          allowedCharacterCount:
            description: 'Maximum allowed characters on this layer, especially for the "copy" layer.'
            format: int32
            type: integer
          limitType:
            description: Type of limitation on this layer. "limited" or "unlimited" for the "copy" layer.
            type: string
          remainingCharacterCount:
            description: 'Remaining allowed characters on this layer, especially for the "copy" layer.'
            format: int32
            type: integer
        type: object
      pageIds:
        description: Pages that this annotation spans.
        items:
          type: string
        type: array
      selectedText:
        description: Excerpt from the volume.
        type: string
      selfLink:
        description: URL to this resource.
        type: string
      updated:
        description: Timestamp for the last time this annotation was modified.
        format: date-time
        type: string
      volumeId:
        description: The volume that this annotation belongs to.
        type: string
    type: object
  Annotationdata:
    properties:
      annotationType:
        description: The type of annotation this data is for.
        type: string
      data: {}
      encoded_data:
        description: Base64 encoded data for this annotation data.
        format: byte
        type: string
      id:
        description: Unique id for this annotation data.
        type: string
      kind:
        default: 'books#annotationdata'
        description: Resource Type
        type: string
      layerId:
        description: The Layer id for this data. *
        type: string
      selfLink:
        description: URL for this resource. *
        type: string
      updated:
        description: Timestamp for the last time this data was updated. (RFC 3339 UTC date-time format).
        format: date-time
        type: string
      volumeId:
        description: The volume id for this data. *
        type: string
    type: object
  Annotations:
    properties:
      items:
        description: A list of annotations.
        items:
          $ref: '#/definitions/Annotation'
        type: array
      kind:
        default: 'books#annotations'
        description: Resource type.
        type: string
      nextPageToken:
        description: Token to pass in for pagination for the next page. This will not be present if this request does not have more results.
        type: string
      totalItems:
        description: Total number of annotations found. This may be greater than the number of notes returned in this response if results have been paginated.
        format: int32
        type: integer
    type: object
  AnnotationsSummary:
    properties:
      kind:
        default: 'books#annotationsSummary'
        type: string
      layers:
        items:
          properties:
            allowedCharacterCount:
              format: int32
              type: integer
            layerId:
              type: string
            limitType:
              type: string
            remainingCharacterCount:
              format: int32
              type: integer
            updated:
              format: date-time
              type: string
          type: object
        type: array
    type: object
  Annotationsdata:
    properties:
      items:
        description: A list of Annotation Data.
        items:
          $ref: '#/definitions/Annotationdata'
        type: array
      kind:
        default: 'books#annotationsdata'
        description: Resource type
        type: string
      nextPageToken:
        description: Token to pass in for pagination for the next page. This will not be present if this request does not have more results.
        type: string
      totalItems:
        description: The total number of volume annotations found.
        format: int32
        type: integer
    type: object
  BooksAnnotationsRange:
    properties:
      endOffset:
        description: The offset from the ending position.
        type: string
      endPosition:
        description: The ending position for the range.
        type: string
      startOffset:
        description: The offset from the starting position.
        type: string
      startPosition:
        description: The starting position for the range.
        type: string
    type: object
  BooksCloudloadingResource:
    properties:
      author:
        type: string
      processingState:
        type: string
      title:
        type: string
      volumeId:
        type: string
    type: object
  BooksVolumesRecommendedRateResponse:
    properties:
      consistency_token:
        type: string
    type: object
  Bookshelf:
    properties:
      access:
        description: Whether this bookshelf is PUBLIC or PRIVATE.
        type: string
      created:
        description: Created time for this bookshelf (formatted UTC timestamp with millisecond resolution).
        format: date-time
        type: string
      description:
        description: Description of this bookshelf.
        type: string
      id:
        description: 'Id of this bookshelf, only unique by user.'
        format: int32
        type: integer
      kind:
        default: 'books#bookshelf'
        description: Resource type for bookshelf metadata.
        type: string
      selfLink:
        description: URL to this resource.
        type: string
      title:
        description: Title of this bookshelf.
        type: string
      updated:
        description: Last modified time of this bookshelf (formatted UTC timestamp with millisecond resolution).
        format: date-time
        type: string
      volumeCount:
        description: Number of volumes in this bookshelf.
        format: int32
        type: integer
      volumesLastUpdated:
        description: Last time a volume was added or removed from this bookshelf (formatted UTC timestamp with millisecond resolution).
        format: date-time
        type: string
    type: object
  Bookshelves:
    properties:
      items:
        description: A list of bookshelves.
        items:
          $ref: '#/definitions/Bookshelf'
        type: array
      kind:
        default: 'books#bookshelves'
        description: Resource type.
        type: string
    type: object
  Category:
    properties:
      items:
        description: A list of onboarding categories.
        items:
          properties:
            badgeUrl:
              type: string
            categoryId:
              type: string
            name:
              type: string
          type: object
        type: array
      kind:
        default: 'onboarding#category'
        description: Resource type.
        type: string
    type: object
  ConcurrentAccessRestriction:
    properties:
      deviceAllowed:
        description: 'Whether access is granted for this (user, device, volume).'
        type: boolean
      kind:
        default: 'books#concurrentAccessRestriction'
        description: Resource type.
        type: string
      maxConcurrentDevices:
        description: The maximum number of concurrent access licenses for this volume.
        format: int32
        type: integer
      message:
        description: Error/warning message.
        type: string
      nonce:
        description: Client nonce for verification. Download access and client-validation only.
        type: string
      reasonCode:
        description: Error/warning reason code.
        type: string
      restricted:
        description: Whether this volume has any concurrent access restrictions.
        type: boolean
      signature:
        description: Response signature.
        type: string
      source:
        description: Client app identifier for verification. Download access and client-validation only.
        type: string
      timeWindowSeconds:
        description: Time in seconds for license auto-expiration.
        format: int32
        type: integer
      volumeId:
        description: Identifies the volume for which this entry applies.
        type: string
    type: object
  Dictlayerdata:
    properties:
      common:
        properties:
          title:
            description: The display title and localized canonical name to use when searching for this entity on Google search.
            type: string
        type: object
      dict:
        properties:
          source:
            description: 'The source, url and attribution for this dictionary data.'
            properties:
              attribution:
                type: string
              url:
                type: string
            type: object
          words:
            items:
              properties:
                derivatives:
                  items:
                    properties:
                      source:
                        properties:
                          attribution:
                            type: string
                          url:
                            type: string
                        type: object
                      text:
                        type: string
                    type: object
                  type: array
                examples:
                  items:
                    properties:
                      source:
                        properties:
                          attribution:
                            type: string
                          url:
                            type: string
                        type: object
                      text:
                        type: string
                    type: object
                  type: array
                senses:
                  items:
                    properties:
                      conjugations:
                        items:
                          properties:
                            type:
                              type: string
                            value:
                              type: string
                          type: object
                        type: array
                      definitions:
                        items:
                          properties:
                            definition:
                              type: string
                            examples:
                              items:
                                properties:
                                  source:
                                    properties:
                                      attribution:
                                        type: string
                                      url:
                                        type: string
                                    type: object
                                  text:
                                    type: string
                                type: object
                              type: array
                          type: object
                        type: array
                      partOfSpeech:
                        type: string
                      pronunciation:
                        type: string
                      pronunciationUrl:
                        type: string
                      source:
                        properties:
                          attribution:
                            type: string
                          url:
                            type: string
                        type: object
                      syllabification:
                        type: string
                      synonyms:
                        items:
                          properties:
                            source:
                              properties:
                                attribution:
                                  type: string
                                url:
                                  type: string
                              type: object
                            text:
                              type: string
                          type: object
                        type: array
                    type: object
                  type: array
                source:
                  description: 'The words with different meanings but not related words, e.g. "go" (game) and "go" (verb).'
                  properties:
                    attribution:
                      type: string
                    url:
                      type: string
                  type: object
              type: object
            type: array
        type: object
      kind:
        default: 'books#dictlayerdata'
        type: string
    type: object
  Discoveryclusters:
    properties:
      clusters:
        items:
          properties:
            banner_with_content_container:
              properties:
                fillColorArgb:
                  type: string
                imageUrl:
                  type: string
                maskColorArgb:
                  type: string
                moreButtonText:
                  type: string
                moreButtonUrl:
                  type: string
                textColorArgb:
                  type: string
              type: object
            subTitle:
              type: string
            title:
              type: string
            totalVolumes:
              format: int32
              type: integer
            uid:
              type: string
            volumes:
              items:
                $ref: '#/definitions/Volume'
              type: array
          type: object
        type: array
      kind:
        default: 'books#discovery#clusters'
        description: Resorce type.
        type: string
      totalClusters:
        format: int32
        type: integer
    type: object
  DownloadAccessRestriction:
    properties:
      deviceAllowed:
        description: 'If restricted, whether access is granted for this (user, device, volume).'
        type: boolean
      downloadsAcquired:
        description: 'If restricted, the number of content download licenses already acquired (including the requesting client, if licensed).'
        format: int32
        type: integer
      justAcquired:
        description: 'If deviceAllowed, whether access was just acquired with this request.'
        type: boolean
      kind:
        default: 'books#downloadAccessRestriction'
        description: Resource type.
        type: string
      maxDownloadDevices:
        description: 'If restricted, the maximum number of content download licenses for this volume.'
        format: int32
        type: integer
      message:
        description: Error/warning message.
        type: string
      nonce:
        description: Client nonce for verification. Download access and client-validation only.
        type: string
      reasonCode:
        description: Error/warning reason code. Additional codes may be added in the future. 0 OK 100 ACCESS_DENIED_PUBLISHER_LIMIT 101 ACCESS_DENIED_LIMIT 200 WARNING_USED_LAST_ACCESS
        type: string
      restricted:
        description: Whether this volume has any download access restrictions.
        type: boolean
      signature:
        description: Response signature.
        type: string
      source:
        description: Client app identifier for verification. Download access and client-validation only.
        type: string
      volumeId:
        description: Identifies the volume for which this entry applies.
        type: string
    type: object
  DownloadAccesses:
    properties:
      downloadAccessList:
        description: A list of download access responses.
        items:
          $ref: '#/definitions/DownloadAccessRestriction'
        type: array
      kind:
        default: 'books#downloadAccesses'
        description: Resource type.
        type: string
    type: object
  Geolayerdata:
    properties:
      common:
        properties:
          lang:
            description: The language of the information url and description.
            type: string
          previewImageUrl:
            description: The URL for the preview image information.
            type: string
          snippet:
            description: The description for this location.
            type: string
          snippetUrl:
            description: 'The URL for information for this location. Ex: wikipedia link.'
            type: string
          title:
            description: The display title and localized canonical name to use when searching for this entity on Google search.
            type: string
        type: object
      geo:
        properties:
          boundary:
            description: 'The boundary of the location as a set of loops containing pairs of latitude, longitude coordinates.'
            items:
              items:
                properties:
                  latitude:
                    format: uint32
                    type: integer
                  longitude:
                    format: uint32
                    type: integer
                type: object
              type: array
            type: array
          cachePolicy:
            description: 'The cache policy active for this data. EX: UNRESTRICTED, RESTRICTED, NEVER'
            type: string
          countryCode:
            description: The country code of the location.
            type: string
          latitude:
            description: The latitude of the location.
            format: double
            type: number
          longitude:
            description: The longitude of the location.
            format: double
            type: number
          mapType:
            description: 'The type of map that should be used for this location. EX: HYBRID, ROADMAP, SATELLITE, TERRAIN'
            type: string
          viewport:
            description: 'The viewport for showing this location. This is a latitude, longitude rectangle.'
            properties:
              hi:
                properties:
                  latitude:
                    format: double
                    type: number
                  longitude:
                    format: double
                    type: number
                type: object
              lo:
                properties:
                  latitude:
                    format: double
                    type: number
                  longitude:
                    format: double
                    type: number
                type: object
            type: object
          zoom:
            description: 'The Zoom level to use for the map. Zoom levels between 0 (the lowest zoom level, in which the entire world can be seen on one map) to 21+ (down to individual buildings). See: https://developers.google.com/maps/documentation/staticmaps/#Zoomlevels'
            format: int32
            type: integer
        type: object
      kind:
        default: 'books#geolayerdata'
        type: string
    type: object
  Layersummaries:
    properties:
      items:
        description: A list of layer summary items.
        items:
          $ref: '#/definitions/Layersummary'
        type: array
      kind:
        default: 'books#layersummaries'
        description: Resource type.
        type: string
      totalItems:
        description: The total number of layer summaries found.
        format: int32
        type: integer
    type: object
  Layersummary:
    properties:
      annotationCount:
        description: The number of annotations for this layer.
        format: int32
        type: integer
      annotationTypes:
        description: The list of annotation types contained for this layer.
        items:
          type: string
        type: array
      annotationsDataLink:
        description: Link to get data for this annotation.
        type: string
      annotationsLink:
        description: The link to get the annotations for this layer.
        type: string
      contentVersion:
[...]
