swagger: '2.0'
schemes:
  - https
host: www.googleapis.com
basePath: /compute/v1/projects
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: API for the Google Compute Engine service.
  title: Compute Engine
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://cloud.google.com/_static/images/new-gcp-logo.png'
  x-origin:
    format: google
    url: 'https://www.googleapis.com/discovery/v1/apis/compute/v1/rest'
    version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: compute
externalDocs:
  url: 'https://developers.google.com/compute/docs/reference/latest/'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/compute': View and manage your Google Compute Engine resources
      'https://www.googleapis.com/auth/compute.readonly': View your Google Compute Engine resources
      'https://www.googleapis.com/auth/devstorage.full_control': Manage your data and permissions in Google Cloud Storage
      'https://www.googleapis.com/auth/devstorage.read_only': View your data in Google Cloud Storage
      'https://www.googleapis.com/auth/devstorage.read_write': Manage your data in Google Cloud Storage
    type: oauth2
parameters:
  alt:
    default: json
    description: Data format for the response.
    enum:
      - json
    in: query
    name: alt
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
    in: query
    name: quotaUser
    type: string
  userIp:
    description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    in: query
    name: userIp
    type: string
paths:
  '/{project}':
    get:
      description: Returns the specified project resource.
      operationId: compute.projects.get
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Project'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
            - 'https://www.googleapis.com/auth/compute.readonly'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/aggregated/addresses':
    get:
      description: Retrieves the list of addresses grouped by scope.
      operationId: compute.addresses.aggregatedList
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: |-
            Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.

            The field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.

            For example, filter=name ne example-instance.

            Compute Engine Beta API Only: If you use filtering in the Beta API, you can also filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. In particular, use filtering on nested fields to take advantage of instance labels to organize and filter results based on label values.

            The Beta API also supports filtering on multiple expressions by providing each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions meaning that resources must match all expressions to pass the filters.
          in: query
          name: filter
          type: string
        - default: 500
          description: 'The maximum number of results per page that Compute Engine should return. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.'
          in: query
          maximum: 500
          minimum: 0
          name: maxResults
          type: integer
        - description: Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AddressAggregatedList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
            - 'https://www.googleapis.com/auth/compute.readonly'
      tags:
        - addresses
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/aggregated/autoscalers':
    get:
      description: Retrieves the list of autoscalers grouped by scope.
      operationId: compute.autoscalers.aggregatedList
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: |-
            Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.

            The field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.

            For example, filter=name ne example-instance.

            Compute Engine Beta API Only: If you use filtering in the Beta API, you can also filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. In particular, use filtering on nested fields to take advantage of instance labels to organize and filter results based on label values.

            The Beta API also supports filtering on multiple expressions by providing each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions meaning that resources must match all expressions to pass the filters.
          in: query
          name: filter
          type: string
        - default: 500
          description: 'The maximum number of results per page that Compute Engine should return. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.'
          in: query
          maximum: 500
          minimum: 0
          name: maxResults
          type: integer
        - description: Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AutoscalerAggregatedList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
            - 'https://www.googleapis.com/auth/compute.readonly'
      tags:
        - autoscalers
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/aggregated/diskTypes':
    get:
      description: Retrieves the list of disk type resources grouped by scope.
      operationId: compute.diskTypes.aggregatedList
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: |-
            Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.

            The field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.

            For example, filter=name ne example-instance.

            Compute Engine Beta API Only: If you use filtering in the Beta API, you can also filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. In particular, use filtering on nested fields to take advantage of instance labels to organize and filter results based on label values.

            The Beta API also supports filtering on multiple expressions by providing each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions meaning that resources must match all expressions to pass the filters.
          in: query
          name: filter
          type: string
        - default: 500
          description: 'The maximum number of results per page that Compute Engine should return. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.'
          in: query
          maximum: 500
          minimum: 0
          name: maxResults
          type: integer
        - description: Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/DiskTypeAggregatedList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
            - 'https://www.googleapis.com/auth/compute.readonly'
      tags:
        - diskTypes
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/aggregated/disks':
    get:
      description: Retrieves the list of persistent disks grouped by scope.
      operationId: compute.disks.aggregatedList
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: |-
            Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.

            The field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.

            For example, filter=name ne example-instance.

            Compute Engine Beta API Only: If you use filtering in the Beta API, you can also filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. In particular, use filtering on nested fields to take advantage of instance labels to organize and filter results based on label values.

            The Beta API also supports filtering on multiple expressions by providing each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions meaning that resources must match all expressions to pass the filters.
          in: query
          name: filter
          type: string
        - default: 500
          description: 'The maximum number of results per page that Compute Engine should return. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.'
          in: query
          maximum: 500
          minimum: 0
          name: maxResults
          type: integer
        - description: Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/DiskAggregatedList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
            - 'https://www.googleapis.com/auth/compute.readonly'
      tags:
        - disks
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/aggregated/forwardingRules':
    get:
      description: Retrieves the list of forwarding rules grouped by scope.
      operationId: compute.forwardingRules.aggregatedList
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: |-
            Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.

            The field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.

            For example, filter=name ne example-instance.

            Compute Engine Beta API Only: If you use filtering in the Beta API, you can also filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. In particular, use filtering on nested fields to take advantage of instance labels to organize and filter results based on label values.

            The Beta API also supports filtering on multiple expressions by providing each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions meaning that resources must match all expressions to pass the filters.
          in: query
          name: filter
          type: string
        - default: 500
          description: 'The maximum number of results per page that Compute Engine should return. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.'
          in: query
          maximum: 500
          minimum: 0
          name: maxResults
          type: integer
        - description: Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ForwardingRuleAggregatedList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
            - 'https://www.googleapis.com/auth/compute.readonly'
      tags:
        - forwardingRules
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/aggregated/instanceGroupManagers':
    get:
      description: Retrieves the list of managed instance groups and groups them by zone.
      operationId: compute.instanceGroupManagers.aggregatedList
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: |-
            Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.

            The field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.

            For example, filter=name ne example-instance.

            Compute Engine Beta API Only: If you use filtering in the Beta API, you can also filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. In particular, use filtering on nested fields to take advantage of instance labels to organize and filter results based on label values.

            The Beta API also supports filtering on multiple expressions by providing each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions meaning that resources must match all expressions to pass the filters.
          in: query
          name: filter
          type: string
        - default: 500
          description: 'The maximum number of results per page that Compute Engine should return. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.'
          in: query
          maximum: 500
          minimum: 0
          name: maxResults
          type: integer
        - description: Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/InstanceGroupManagerAggregatedList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
            - 'https://www.googleapis.com/auth/compute.readonly'
      tags:
        - instanceGroupManagers
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/aggregated/instanceGroups':
    get:
      description: Retrieves the list of instance groups and sorts them by zone.
      operationId: compute.instanceGroups.aggregatedList
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: |-
            Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.

            The field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.

            For example, filter=name ne example-instance.

            Compute Engine Beta API Only: If you use filtering in the Beta API, you can also filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. In particular, use filtering on nested fields to take advantage of instance labels to organize and filter results based on label values.

            The Beta API also supports filtering on multiple expressions by providing each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions meaning that resources must match all expressions to pass the filters.
          in: query
          name: filter
          type: string
        - default: 500
          description: 'The maximum number of results per page that Compute Engine should return. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.'
          in: query
          maximum: 500
          minimum: 0
          name: maxResults
          type: integer
        - description: Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/InstanceGroupAggregatedList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
            - 'https://www.googleapis.com/auth/compute.readonly'
      tags:
        - instanceGroups
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/aggregated/instances':
    get:
      description: Retrieves aggregated list of instance resources.
      operationId: compute.instances.aggregatedList
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: |-
            Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.

            The field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.

            For example, filter=name ne example-instance.

            Compute Engine Beta API Only: If you use filtering in the Beta API, you can also filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. In particular, use filtering on nested fields to take advantage of instance labels to organize and filter results based on label values.

            The Beta API also supports filtering on multiple expressions by providing each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions meaning that resources must match all expressions to pass the filters.
          in: query
          name: filter
          type: string
        - default: 500
          description: 'The maximum number of results per page that Compute Engine should return. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.'
          in: query
          maximum: 500
          minimum: 0
          name: maxResults
          type: integer
        - description: Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/InstanceAggregatedList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
            - 'https://www.googleapis.com/auth/compute.readonly'
      tags:
        - instances
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/aggregated/machineTypes':
    get:
      description: Retrieves the list of machine type resources grouped by scope.
      operationId: compute.machineTypes.aggregatedList
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: |-
            Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.

            The field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.

            For example, filter=name ne example-instance.

            Compute Engine Beta API Only: If you use filtering in the Beta API, you can also filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. In particular, use filtering on nested fields to take advantage of instance labels to organize and filter results based on label values.

            The Beta API also supports filtering on multiple expressions by providing each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions meaning that resources must match all expressions to pass the filters.
          in: query
          name: filter
          type: string
        - default: 500
          description: 'The maximum number of results per page that Compute Engine should return. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.'
          in: query
          maximum: 500
          minimum: 0
          name: maxResults
          type: integer
        - description: Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/MachineTypeAggregatedList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
            - 'https://www.googleapis.com/auth/compute.readonly'
      tags:
        - machineTypes
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/aggregated/operations':
    get:
      description: Retrieves the list of all operations grouped by scope.
      operationId: compute.globalOperations.aggregatedList
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: |-
            Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.

            The field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.

            For example, filter=name ne example-instance.

            Compute Engine Beta API Only: If you use filtering in the Beta API, you can also filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. In particular, use filtering on nested fields to take advantage of instance labels to organize and filter results based on label values.

            The Beta API also supports filtering on multiple expressions by providing each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions meaning that resources must match all expressions to pass the filters.
          in: query
          name: filter
          type: string
        - default: 500
          description: 'The maximum number of results per page that Compute Engine should return. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.'
          in: query
          maximum: 500
          minimum: 0
          name: maxResults
          type: integer
        - description: Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OperationAggregatedList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
            - 'https://www.googleapis.com/auth/compute.readonly'
      tags:
        - globalOperations
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/aggregated/targetInstances':
    get:
      description: Retrieves the list of target instances grouped by scope.
      operationId: compute.targetInstances.aggregatedList
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: |-
            Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.

            The field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.

            For example, filter=name ne example-instance.

            Compute Engine Beta API Only: If you use filtering in the Beta API, you can also filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. In particular, use filtering on nested fields to take advantage of instance labels to organize and filter results based on label values.

            The Beta API also supports filtering on multiple expressions by providing each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions meaning that resources must match all expressions to pass the filters.
          in: query
          name: filter
          type: string
        - default: 500
          description: 'The maximum number of results per page that Compute Engine should return. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.'
          in: query
          maximum: 500
          minimum: 0
          name: maxResults
          type: integer
        - description: Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TargetInstanceAggregatedList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
            - 'https://www.googleapis.com/auth/compute.readonly'
      tags:
        - targetInstances
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/aggregated/targetPools':
    get:
      description: Retrieves the list of target pools grouped by scope.
      operationId: compute.targetPools.aggregatedList
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: |-
            Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.

            The field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.

            For example, filter=name ne example-instance.

            Compute Engine Beta API Only: If you use filtering in the Beta API, you can also filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. In particular, use filtering on nested fields to take advantage of instance labels to organize and filter results based on label values.

            The Beta API also supports filtering on multiple expressions by providing each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions meaning that resources must match all expressions to pass the filters.
          in: query
          name: filter
          type: string
        - default: 500
          description: 'The maximum number of results per page that Compute Engine should return. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.'
          in: query
          maximum: 500
          minimum: 0
          name: maxResults
          type: integer
        - description: Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TargetPoolAggregatedList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
            - 'https://www.googleapis.com/auth/compute.readonly'
      tags:
        - targetPools
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/aggregated/targetVpnGateways':
    get:
      description: Retrieves the list of target VPN gateways grouped by scope.
      operationId: compute.targetVpnGateways.aggregatedList
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: |-
            Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.

            The field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.

            For example, filter=name ne example-instance.

            Compute Engine Beta API Only: If you use filtering in the Beta API, you can also filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. In particular, use filtering on nested fields to take advantage of instance labels to organize and filter results based on label values.

            The Beta API also supports filtering on multiple expressions by providing each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions meaning that resources must match all expressions to pass the filters.
          in: query
          name: filter
          type: string
        - default: 500
          description: 'The maximum number of results per page that Compute Engine should return. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.'
          in: query
          maximum: 500
          minimum: 0
          name: maxResults
          type: integer
        - description: Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TargetVpnGatewayAggregatedList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
            - 'https://www.googleapis.com/auth/compute.readonly'
      tags:
        - targetVpnGateways
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/aggregated/vpnTunnels':
    get:
      description: Retrieves the list of VPN tunnels grouped by scope.
      operationId: compute.vpnTunnels.aggregatedList
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: |-
            Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.

            The field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.

            For example, filter=name ne example-instance.

            Compute Engine Beta API Only: If you use filtering in the Beta API, you can also filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. In particular, use filtering on nested fields to take advantage of instance labels to organize and filter results based on label values.

            The Beta API also supports filtering on multiple expressions by providing each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions meaning that resources must match all expressions to pass the filters.
          in: query
          name: filter
          type: string
        - default: 500
          description: 'The maximum number of results per page that Compute Engine should return. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.'
          in: query
          maximum: 500
          minimum: 0
          name: maxResults
          type: integer
        - description: Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/VpnTunnelAggregatedList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
            - 'https://www.googleapis.com/auth/compute.readonly'
      tags:
        - vpnTunnels
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/global/addresses':
    get:
      description: Retrieves the list of global address resources.
      operationId: compute.globalAddresses.list
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: |-
            Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.

            The field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.

            For example, filter=name ne example-instance.

            Compute Engine Beta API Only: If you use filtering in the Beta API, you can also filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. In particular, use filtering on nested fields to take advantage of instance labels to organize and filter results based on label values.

            The Beta API also supports filtering on multiple expressions by providing each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions meaning that resources must match all expressions to pass the filters.
          in: query
          name: filter
          type: string
        - default: 500
          description: 'The maximum number of results per page that Compute Engine should return. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.'
          in: query
          maximum: 500
          minimum: 0
          name: maxResults
          type: integer
        - description: Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AddressList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
            - 'https://www.googleapis.com/auth/compute.readonly'
      tags:
        - globalAddresses
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates an address resource in the specified project using the data included in the request.
      operationId: compute.globalAddresses.insert
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Address'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
      tags:
        - globalAddresses
  '/{project}/global/addresses/{address}':
    delete:
      description: Deletes the specified address resource.
      operationId: compute.globalAddresses.delete
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: Name of the address resource to delete.
          in: path
          name: address
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
      tags:
        - globalAddresses
    get:
      description: Returns the specified address resource.
      operationId: compute.globalAddresses.get
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: Name of the address resource to return.
          in: path
          name: address
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Address'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
            - 'https://www.googleapis.com/auth/compute.readonly'
      tags:
        - globalAddresses
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/global/backendServices':
    get:
      description: Retrieves the list of BackendService resources available to the specified project.
      operationId: compute.backendServices.list
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: |-
            Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.

            The field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.

            For example, filter=name ne example-instance.

            Compute Engine Beta API Only: If you use filtering in the Beta API, you can also filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. In particular, use filtering on nested fields to take advantage of instance labels to organize and filter results based on label values.

            The Beta API also supports filtering on multiple expressions by providing each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions meaning that resources must match all expressions to pass the filters.
          in: query
          name: filter
          type: string
        - default: 500
          description: 'The maximum number of results per page that Compute Engine should return. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.'
          in: query
          maximum: 500
          minimum: 0
          name: maxResults
          type: integer
        - description: Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/BackendServiceList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
            - 'https://www.googleapis.com/auth/compute.readonly'
      tags:
        - backendServices
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a BackendService resource in the specified project using the data included in the request.
      operationId: compute.backendServices.insert
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/BackendService'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
      tags:
        - backendServices
  '/{project}/global/backendServices/{backendService}':
    delete:
      description: Deletes the specified BackendService resource.
      operationId: compute.backendServices.delete
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: Name of the BackendService resource to delete.
          in: path
          name: backendService
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
      tags:
        - backendServices
    get:
      description: Returns the specified BackendService resource.
      operationId: compute.backendServices.get
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: Name of the BackendService resource to return.
          in: path
          name: backendService
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/BackendService'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
            - 'https://www.googleapis.com/auth/compute.readonly'
      tags:
        - backendServices
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Update the entire content of the BackendService resource. This method supports patch semantics.
      operationId: compute.backendServices.patch
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: Name of the BackendService resource to update.
          in: path
          name: backendService
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/BackendService'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
      tags:
        - backendServices
    put:
      description: Update the entire content of the BackendService resource.
      operationId: compute.backendServices.update
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: Name of the BackendService resource to update.
          in: path
          name: backendService
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/BackendService'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
      tags:
        - backendServices
  '/{project}/global/backendServices/{backendService}/getHealth':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Gets the most recent health check results for this BackendService.
      operationId: compute.backendServices.getHealth
      parameters:
        - in: path
          name: project
          required: true
          type: string
        - description: Name of the BackendService resource to which the queried instance belongs.
          in: path
          name: backendService
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ResourceGroupReference'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/BackendServiceGroupHealth'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
            - 'https://www.googleapis.com/auth/compute.readonly'
      tags:
        - backendServices
  '/{project}/global/firewalls':
    get:
      description: Retrieves the list of firewall resources available to the specified project.
      operationId: compute.firewalls.list
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: |-
            Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.

            The field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.

            For example, filter=name ne example-instance.

            Compute Engine Beta API Only: If you use filtering in the Beta API, you can also filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. In particular, use filtering on nested fields to take advantage of instance labels to organize and filter results based on label values.

            The Beta API also supports filtering on multiple expressions by providing each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions meaning that resources must match all expressions to pass the filters.
          in: query
          name: filter
          type: string
        - default: 500
          description: 'The maximum number of results per page that Compute Engine should return. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.'
          in: query
          maximum: 500
          minimum: 0
          name: maxResults
          type: integer
        - description: Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/FirewallList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
            - 'https://www.googleapis.com/auth/compute.readonly'
      tags:
        - firewalls
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a firewall resource in the specified project using the data included in the request.
      operationId: compute.firewalls.insert
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Firewall'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
      tags:
        - firewalls
  '/{project}/global/firewalls/{firewall}':
    delete:
      description: Deletes the specified firewall resource.
      operationId: compute.firewalls.delete
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: Name of the firewall resource to delete.
          in: path
          name: firewall
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
      tags:
        - firewalls
    get:
      description: Returns the specified firewall resource.
      operationId: compute.firewalls.get
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: Name of the firewall resource to return.
          in: path
          name: firewall
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Firewall'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
            - 'https://www.googleapis.com/auth/compute.readonly'
      tags:
        - firewalls
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates the specified firewall resource with the data included in the request. This method supports patch semantics.
      operationId: compute.firewalls.patch
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: Name of the firewall resource to update.
          in: path
          name: firewall
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Firewall'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
      tags:
        - firewalls
    put:
      description: Updates the specified firewall resource with the data included in the request.
      operationId: compute.firewalls.update
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: Name of the firewall resource to update.
          in: path
          name: firewall
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Firewall'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
      tags:
        - firewalls
  '/{project}/global/forwardingRules':
    get:
      description: Retrieves the list of ForwardingRule resources available to the specified project.
      operationId: compute.globalForwardingRules.list
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: |-
            Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.

            The field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.

            For example, filter=name ne example-instance.

            Compute Engine Beta API Only: If you use filtering in the Beta API, you can also filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. In particular, use filtering on nested fields to take advantage of instance labels to organize and filter results based on label values.

            The Beta API also supports filtering on multiple expressions by providing each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions meaning that resources must match all expressions to pass the filters.
          in: query
          name: filter
          type: string
        - default: 500
          description: 'The maximum number of results per page that Compute Engine should return. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.'
          in: query
          maximum: 500
          minimum: 0
          name: maxResults
          type: integer
        - description: Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ForwardingRuleList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
            - 'https://www.googleapis.com/auth/compute.readonly'
      tags:
        - globalForwardingRules
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a ForwardingRule resource in the specified project and region using the data included in the request.
      operationId: compute.globalForwardingRules.insert
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ForwardingRule'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
      tags:
        - globalForwardingRules
  '/{project}/global/forwardingRules/{forwardingRule}':
    delete:
      description: Deletes the specified ForwardingRule resource.
      operationId: compute.globalForwardingRules.delete
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: Name of the ForwardingRule resource to delete.
          in: path
          name: forwardingRule
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
      tags:
        - globalForwardingRules
    get:
      description: Returns the specified ForwardingRule resource.
      operationId: compute.globalForwardingRules.get
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: Name of the ForwardingRule resource to return.
          in: path
          name: forwardingRule
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ForwardingRule'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
            - 'https://www.googleapis.com/auth/compute.readonly'
      tags:
        - globalForwardingRules
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/global/forwardingRules/{forwardingRule}/setTarget':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Changes target URL for forwarding rule. The new target should be of the same type as the old target.
      operationId: compute.globalForwardingRules.setTarget
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: Name of the ForwardingRule resource in which target is to be set.
          in: path
          name: forwardingRule
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/TargetReference'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
      tags:
        - globalForwardingRules
  '/{project}/global/httpHealthChecks':
    get:
      description: Retrieves the list of HttpHealthCheck resources available to the specified project.
      operationId: compute.httpHealthChecks.list
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: |-
            Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.

            The field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.

            For example, filter=name ne example-instance.

            Compute Engine Beta API Only: If you use filtering in the Beta API, you can also filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. In particular, use filtering on nested fields to take advantage of instance labels to organize and filter results based on label values.

            The Beta API also supports filtering on multiple expressions by providing each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions meaning that resources must match all expressions to pass the filters.
          in: query
          name: filter
          type: string
        - default: 500
          description: 'The maximum number of results per page that Compute Engine should return. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.'
          in: query
          maximum: 500
          minimum: 0
          name: maxResults
          type: integer
        - description: Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/HttpHealthCheckList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
            - 'https://www.googleapis.com/auth/compute.readonly'
      tags:
        - httpHealthChecks
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a HttpHealthCheck resource in the specified project using the data included in the request.
      operationId: compute.httpHealthChecks.insert
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/HttpHealthCheck'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
      tags:
        - httpHealthChecks
  '/{project}/global/httpHealthChecks/{httpHealthCheck}':
    delete:
      description: Deletes the specified HttpHealthCheck resource.
      operationId: compute.httpHealthChecks.delete
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: Name of the HttpHealthCheck resource to delete.
          in: path
          name: httpHealthCheck
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
      tags:
        - httpHealthChecks
    get:
      description: Returns the specified HttpHealthCheck resource.
      operationId: compute.httpHealthChecks.get
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: Name of the HttpHealthCheck resource to return.
          in: path
          name: httpHealthCheck
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/HttpHealthCheck'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
            - 'https://www.googleapis.com/auth/compute.readonly'
      tags:
        - httpHealthChecks
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates a HttpHealthCheck resource in the specified project using the data included in the request. This method supports patch semantics.
      operationId: compute.httpHealthChecks.patch
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: Name of the HttpHealthCheck resource to update.
          in: path
          name: httpHealthCheck
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/HttpHealthCheck'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
      tags:
        - httpHealthChecks
    put:
      description: Updates a HttpHealthCheck resource in the specified project using the data included in the request.
      operationId: compute.httpHealthChecks.update
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: Name of the HttpHealthCheck resource to update.
          in: path
          name: httpHealthCheck
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/HttpHealthCheck'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
      tags:
        - httpHealthChecks
  '/{project}/global/httpsHealthChecks':
    get:
      description: Retrieves the list of HttpsHealthCheck resources available to the specified project.
      operationId: compute.httpsHealthChecks.list
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: |-
            Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.

            The field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.

            For example, filter=name ne example-instance.

            Compute Engine Beta API Only: If you use filtering in the Beta API, you can also filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. In particular, use filtering on nested fields to take advantage of instance labels to organize and filter results based on label values.

            The Beta API also supports filtering on multiple expressions by providing each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions meaning that resources must match all expressions to pass the filters.
          in: query
          name: filter
          type: string
        - default: 500
          description: 'The maximum number of results per page that Compute Engine should return. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.'
          in: query
          maximum: 500
          minimum: 0
          name: maxResults
          type: integer
        - description: Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/HttpsHealthCheckList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
            - 'https://www.googleapis.com/auth/compute.readonly'
      tags:
        - httpsHealthChecks
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a HttpsHealthCheck resource in the specified project using the data included in the request.
      operationId: compute.httpsHealthChecks.insert
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/HttpsHealthCheck'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
      tags:
        - httpsHealthChecks
  '/{project}/global/httpsHealthChecks/{httpsHealthCheck}':
    delete:
      description: Deletes the specified HttpsHealthCheck resource.
      operationId: compute.httpsHealthChecks.delete
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: Name of the HttpsHealthCheck resource to delete.
          in: path
          name: httpsHealthCheck
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
      tags:
        - httpsHealthChecks
    get:
      description: Returns the specified HttpsHealthCheck resource.
      operationId: compute.httpsHealthChecks.get
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: Name of the HttpsHealthCheck resource to return.
          in: path
          name: httpsHealthCheck
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/HttpsHealthCheck'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
            - 'https://www.googleapis.com/auth/compute.readonly'
      tags:
        - httpsHealthChecks
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates a HttpsHealthCheck resource in the specified project using the data included in the request. This method supports patch semantics.
      operationId: compute.httpsHealthChecks.patch
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: Name of the HttpsHealthCheck resource to update.
          in: path
          name: httpsHealthCheck
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/HttpsHealthCheck'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
      tags:
        - httpsHealthChecks
    put:
      description: Updates a HttpsHealthCheck resource in the specified project using the data included in the request.
      operationId: compute.httpsHealthChecks.update
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: Name of the HttpsHealthCheck resource to update.
          in: path
          name: httpsHealthCheck
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/HttpsHealthCheck'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
      tags:
        - httpsHealthChecks
  '/{project}/global/images':
    get:
      description: |-
        Retrieves the list of private images available to the specified project. Private images are images you create that belong to your project. This method does not get any images that belong to other projects, including publicly-available images, like Debian 7. If you want to get a list of publicly-available images, use this method to make a request to the respective image project, such as debian-cloud or windows-cloud.

        See Accessing images for more information.
      operationId: compute.images.list
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: |-
            Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.

            The field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.

            For example, filter=name ne example-instance.

            Compute Engine Beta API Only: If you use filtering in the Beta API, you can also filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. In particular, use filtering on nested fields to take advantage of instance labels to organize and filter results based on label values.

            The Beta API also supports filtering on multiple expressions by providing each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions meaning that resources must match all expressions to pass the filters.
          in: query
          name: filter
          type: string
        - default: 500
          description: 'The maximum number of results per page that Compute Engine should return. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.'
          in: query
          maximum: 500
          minimum: 0
          name: maxResults
          type: integer
        - description: Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ImageList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
            - 'https://www.googleapis.com/auth/compute.readonly'
      tags:
        - images
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates an image resource in the specified project using the data included in the request.
      operationId: compute.images.insert
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Image'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
            - 'https://www.googleapis.com/auth/devstorage.full_control'
            - 'https://www.googleapis.com/auth/devstorage.read_only'
            - 'https://www.googleapis.com/auth/devstorage.read_write'
      tags:
        - images
  '/{project}/global/images/{image}':
    delete:
      description: Deletes the specified image resource.
      operationId: compute.images.delete
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: Name of the image resource to delete.
          in: path
          name: image
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'https://www.googleapis.com/auth/compute'
      tags:
        - images
    get:
      description: Returns the specified image resource.
      operationId: compute.images.get
      parameters:
        - description: Project ID for this request.
          in: path
          name: project
          required: true
          type: string
        - description: Name of the image resource to return.
          in: path
          name: image
          required: true
          type: string
[...]
