swagger: '2.0'
schemes:
  - https
host: api.bitbucket.org
basePath: /2.0
info:
  contact:
    email: support@bitbucket.org
    name: Bitbucket Support
    url: 'https://bitbucket.org/support'
  description: 'Code against the Bitbucket API to automate simple tasks, embed Bitbucket data into your own site, build mobile or desktop apps, or even add custom UI add-ons into Bitbucket itself using the Connect framework.'
  termsOfService: 'https://www.atlassian.com/legal/customer-agreement'
  title: Bitbucket
  version: '2.0'
  x-apisguru-categories:
    - developer_tools
    - collaboration
  x-logo:
    url: 'https://d301sr5gafysq2.cloudfront.net/0c55837759e5/img/homepage/bitbucket-logo-blue.svg'
  x-origin:
    format: swagger
    url: 'https://bitbucket.org/api/swagger.json'
    version: '2.0'
  x-providerName: bitbucket.org
  x-tags:
    - code repository
    - code collaboration
    - git
externalDocs:
  url: 'https://bitbucket.org/api'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  api_key:
    description: API Keys can be used as Basic HTTP Authentication credentials and provide a substitute for the account's actual username and password. API Keys are only available to team accounts and there is only 1 key per account. API Keys do not support scopes and have therefore access to all contents of the account.
    in: header
    name: Authorization
    type: apiKey
  basic:
    description: 'Basic HTTP Authentication as per [RFC-2617](https://tools.ietf.org/html/rfc2617) (Digest not supported). Note that Basic Auth with username and password as credentials is only available on accounts that have 2-factor-auth / 2-step-verification disabled. If you use 2fa, you should authenticate using OAuth2 instead.'
    type: basic
  oauth2:
    authorizationUrl: 'https://bitbucket.org/site/oauth2/authorize'
    description: 'OAuth 2 as per [RFC-6749](https://tools.ietf.org/html/rfc6749).'
    flow: accessCode
    scopes:
      account: Read your account information
      'account:write': Read and modify your account information
      email: Read your account's primary email address
      issue: Read your repositories' issues
      'issue:write': Read and modify your repositories' issues
      pipeline: Access your repositories' build pipelines
      'pipeline:variable': Access your repositories' build pipelines and configure their variables
      'pipeline:write': Access and rerun your repositories' build pipelines
      project: Read your team's project settings and read repositories contained within your team's projects
      'project:write': 'Read and modify your team''s project settings, and read and transfer repositories within your team''s projects'
      pullrequest: Read your repositories and their pull requests
      'pullrequest:write': Read and modify your repositories and their pull requests
      repository: Read your repositories
      'repository:admin': Administer your repositories
      'repository:delete': Delete your repositories
      'repository:write': Read and modify your repositories
      snippet: Read your snippets
      'snippet:write': Read and modify your snippets
      team: Read your team membership information
      'team:write': Read and modify your team membership information
      webhook: Read and modify your repositories' webhooks
      wiki: Read and modify your repositories' wikis
    tokenUrl: 'https://bitbucket.org/site/oauth2/access_token'
    type: oauth2
tags:
  - description: ''
    name: users
  - description: ''
    name: teams
  - description: ''
    name: repositories
  - description: ''
    name: refs
  - description: ''
    name: commits
  - description: ''
    name: pullrequests
  - description: |-
      The issues resource provides functionality for getting information on
      issues in an issue tracker, creating new issues, updating them and deleting
      them.

      You can access public issues without authentication, but you can't gain access
      to private repositories' issues. By authenticating, you will get the ability
      to create issues, as well as access to updating data or deleting issues you
      have access to.
    name: issue_tracker
  - description: ''
    name: wiki
  - description: ''
    name: downloads
  - description: ''
    name: snippets
  - description: |
      Webhooks provide a way to configure Bitbucket Cloud to make requests to
      your server (or another external service) whenever certain events occur in
      Bitbucket Cloud.

      A webhook consists of:

      * A subject -- The resource that generates the events. Currently, this resource
        is the repository, user account, or team where you create the webhook.
      * One or more event -- The default event is a repository push, but you can
        select multiple events that can trigger the webhook.
      * A URL -- The endpoint where you want Bitbucket to send the event payloads
        when a matching event happens.

      There are two parts to getting a webhook to work: creating the webhook and
      triggering the webhook. After you create a webhook for an event, every time
      that event occurs, Bitbucket sends a payload request that describes the event
      to the specified URL. Thus, you can think of webhooks as a kind of
      notification system.

      Use webhooks to integrate applications with Bitbucket Cloud. The following
      use cases provides examples of when you would want to use webhooks:

      * Every time a user pushes commits in a repository, you may want to notify
        your CI server to start a build.
      * Every time a user pushes commits or creates a pull request, you may want to
        display a notification in your application.
    name: webhooks
  - description: |
      Commit statuses provide a way to tag commits with meta data,
      like automated build results.
    name: commitstatuses
  - description: |
      Repository owners and administrators can set branch management
      rules on a repository that control what can be pushed by whom.
      Through these rules, you can enforce a project or team
      workflow. For example, owners or administrators can:

      * Limit push powers
      * Prevent branch (bookmark) deletion
      * Prevent history re-writes (Git only)
    name: branchrestrictions
  - description: |
      Bitbucket Cloud projects make it easier for teams to focus on
      a goal, product, or process by organizing their repositories.
    name: projects
  - description: |
      Bitbucket Pipelines brings continuous delivery to Bitbucket
      Cloud, empowering teams with full branching to deployment
      visibility and faster feedback loops.
    name: pipelines
paths:
  /addon:
    delete:
      description: ''
      parameters: []
      responses:
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2: []
        - basic: []
        - api_key: []
      tags:
        - addon
    parameters: []
    put:
      description: ''
      parameters: []
      responses:
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2: []
        - basic: []
        - api_key: []
      tags:
        - addon
  /addon/linkers:
    get:
      description: ''
      parameters: []
      responses:
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2: []
        - basic: []
        - api_key: []
      tags:
        - addon
    parameters: []
  '/addon/linkers/{linker_key}':
    get:
      description: ''
      parameters: []
      responses:
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2: []
        - basic: []
        - api_key: []
      tags:
        - addon
    parameters:
      - in: path
        name: linker_key
        required: true
        type: string
  '/addon/linkers/{linker_key}/values':
    delete:
      description: ''
      parameters: []
      responses:
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2: []
        - basic: []
        - api_key: []
      tags:
        - addon
    get:
      description: ''
      parameters: []
      responses:
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2: []
        - basic: []
        - api_key: []
      tags:
        - addon
    parameters:
      - in: path
        name: linker_key
        required: true
        type: string
    post:
      description: ''
      parameters: []
      responses:
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2: []
        - basic: []
        - api_key: []
      tags:
        - addon
    put:
      description: ''
      parameters: []
      responses:
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2: []
        - basic: []
        - api_key: []
      tags:
        - addon
  '/addon/linkers/{linker_key}/values/':
    delete:
      description: ''
      parameters: []
      responses:
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2: []
        - basic: []
        - api_key: []
      tags:
        - addon
    get:
      description: ''
      parameters: []
      responses:
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2: []
        - basic: []
        - api_key: []
      tags:
        - addon
    parameters:
      - in: path
        name: linker_key
        required: true
        type: string
  /hook_events:
    get:
      description: |-
        Returns the webhook resource or subject types on which webhooks can
        be registered.

        Each resource/subject type contains an `event` link that returns the
        paginated list of specific events each individual subject type can
        emit.

        This endpoint is publicly accessible and does not require
        authentication or scopes.
      parameters: []
      responses:
        '200':
          description: A mapping of resource/subject types pointing to their individual event types.
          schema:
            $ref: '#/definitions/subject_types'
      security:
        - oauth2: []
        - basic: []
        - api_key: []
      tags:
        - webhooks
    parameters: []
  '/hook_events/{subject_type}':
    get:
      description: |-
        Returns a paginated list of all valid webhook events for the
        specified entity.

        This is public data that does not require any scopes or authentication.
      parameters:
        - description: A resource or subject type.
          enum:
            - user
            - repository
            - team
          in: path
          name: subject_type
          required: true
          type: string
      responses:
        '200':
          description: A paginated list of webhook types available to subscribe on.
          schema:
            $ref: '#/definitions/paginated_hook_events'
        '404':
          description: 'If an invalid `{subject_type}` value was specified.'
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2: []
        - basic: []
        - api_key: []
      tags:
        - webhooks
    parameters:
      - in: path
        name: subject_type
        required: true
        type: string
  /repositories:
    get:
      description: |-
        Returns a paginated list of all public repositories.

        This endpoint also supports filtering and sorting of the results. See
        [filtering and sorting](../meta/filtering) for more details.
      parameters:
        - description: |-
            Filter the results to include only repositories create on or
            after this [ISO-8601](https://en.wikipedia.org/wiki/ISO_8601)
             timestamp. Example: `YYYY-MM-DDTHH:mm:ss.sssZ`
          in: query
          name: after
          required: false
          type: string
      responses:
        '200':
          description: All public repositories.
          schema:
            $ref: '#/definitions/paginated_repositories'
      security:
        - oauth2:
            - repository
        - basic: []
        - api_key: []
      tags:
        - repositories
    parameters: []
  '/repositories/{username}':
    get:
      description: |-
        Returns a paginated list of all repositories owned by the specified
        account or UUID.

        The result can be narrowed down based on the authenticated user's role.

        E.g. with `?role=contributor`, only those repositories that the
        authenticated user has write access to are returned (this includes any
        repo the user is an admin on, as that implies write access).

        This endpoint also supports filtering and sorting of the results. See
        [filtering and sorting](../../meta/filtering) for more details.
      parameters:
        - description: |
            This can either be the username or the UUID of the user,
            surrounded by curly-braces, for example: `{user UUID}`.
          in: path
          name: username
          required: true
          type: string
        - description: |

            Filters the result based on the authenticated user's role on each repository.

            * **member**: returns repositories to which the user has explicit read access
            * **contributor**: returns repositories to which the user has explicit write access
            * **admin**: returns repositories to which the user has explicit administrator access
            * **owner**: returns all repositories owned by the current user
          enum:
            - admin
            - contributor
            - member
            - owner
          in: query
          name: role
          required: false
          type: string
      responses:
        '200':
          description: The repositories owned by the specified account.
          schema:
            $ref: '#/definitions/paginated_repositories'
        '404':
          description: If the specified account does not exist.
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - repository
        - basic: []
        - api_key: []
      tags:
        - repositories
    parameters:
      - in: path
        name: username
        required: true
        type: string
  '/repositories/{username}/{repo_slug}':
    delete:
      description: |-
        Deletes the repository. This is an irreversible operation.

        This does not affect its forks.
      parameters:
        - description: |
            This can either be the username or the UUID of the user,
            surrounded by curly-braces, for example: `{user UUID}`.
          in: path
          name: username
          required: true
          type: string
        - description: |
            This can either be the repository slug or the UUID of the repository,
            surrounded by curly-braces, for example: `{repository UUID}`.
          in: path
          name: repo_slug
          required: true
          type: string
      responses:
        '204':
          description: Indicates successful deletion.
        '403':
          description: 'If the caller either does not have admin access to the repository, or the repository is set to read-only.'
          schema:
            $ref: '#/definitions/error'
        '404':
          description: If the repository does not exist.
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - 'repository:delete'
        - basic: []
        - api_key: []
      tags:
        - repositories
    get:
      description: Returns the object describing this repository.
      parameters:
        - description: |
            This can either be the username or the UUID of the user,
            surrounded by curly-braces, for example: `{user UUID}`.
          in: path
          name: username
          required: true
          type: string
        - description: |
            This can either be the repository slug or the UUID of the repository,
            surrounded by curly-braces, for example: `{repository UUID}`.
          in: path
          name: repo_slug
          required: true
          type: string
      responses:
        '200':
          description: The repository object.
          schema:
            $ref: '#/definitions/repository'
        '403':
          description: If the repository is private and the authenticated user does not have access to it.
          schema:
            $ref: '#/definitions/error'
        '404':
          description: If no repository exists at this location.
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - repository
        - basic: []
        - api_key: []
      tags:
        - repositories
    parameters:
      - in: path
        name: username
        required: true
        type: string
      - in: path
        name: repo_slug
        required: true
        type: string
    post:
      description: |-
        Creates a new repository.

        Note: In order to set the project for the newly created repository,
        pass in either the project key or the project UUID as part of the
        request body as shown in the examples below:

        ```
        $ curl -X POST -H "Content-Type: application/json" -d '{
            "scm": "git",
            "project": {
                "key": "MARS"
            }
        }' https://api.bitbucket.org/2.0/repositories/teamsinspace/hablanding
        ```

        or

        ```
        $ curl -X POST -H "Content-Type: application/json" -d '{
            "scm": "git",
            "project": {
                "key": "{ba516952-992a-4c2d-acbd-17d502922f96}"
            }
        }' https://api.bitbucket.org/2.0/repositories/teamsinspace/hablanding
        ```

        The project must only be assigned for repositories belonging to a team.
        If the repository owner is a team and the project is not provided, the
        repository is automatically assigned to the oldest project in the team.

        Note: In the examples above, the username `teamsinspace`,
        and/or the repository name `hablanding` can be replaced by UUIDs.
      parameters:
        - description: |
            This can either be the username or the UUID of the user,
            surrounded by curly-braces, for example: `{user UUID}`.
          in: path
          name: username
          required: true
          type: string
        - description: |
            This can either be the repository slug or the UUID of the repository,
            surrounded by curly-braces, for example: `{repository UUID}`.
          in: path
          name: repo_slug
          required: true
          type: string
        - description: The repository that is to be created. Note that most object elements are optional. Elements "owner" and "full_name" are ignored as the URL implies them.
          in: body
          name: _body
          required: false
          schema:
            $ref: '#/definitions/repository'
      responses:
        '200':
          description: The newly created repository.
          schema:
            $ref: '#/definitions/repository'
        '400':
          description: 'If the input document was invalid, or if the caller lacks the privilege to create repositories under the targeted account.'
          schema:
            $ref: '#/definitions/error'
        '401':
          description: If the request was not authenticated.
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - 'repository:admin'
        - basic: []
        - api_key: []
      tags:
        - repositories
    put:
      description: |-
        Since this endpoint can be used to both update and to create a
        repository, the request body depends on the intent.

        ### Creation

        See the POST documentation for the repository endpoint for an example
        of the request body.

        ### Update

        Note: Changing the `name` of the repository will cause the location to
        be changed. This is because the URL of the repo is derived from the
        name (a process called slugification). In such a scenario, it is
        possible for the request to fail if the newly created slug conflicts
        with an existing repository's slug. But if there is no conflict,
        the new location will be returned in the `Location` header of the
        response.
      parameters:
        - description: |
            This can either be the username or the UUID of the user,
            surrounded by curly-braces, for example: `{user UUID}`.
          in: path
          name: username
          required: true
          type: string
        - description: |
            This can either be the repository slug or the UUID of the repository,
            surrounded by curly-braces, for example: `{repository UUID}`.
          in: path
          name: repo_slug
          required: true
          type: string
        - description: |
            The repository that is to be updated.

            Note that the elements "owner" and "full_name" are ignored since the
            URL implies them.
          in: body
          name: _body
          required: false
          schema:
            $ref: '#/definitions/repository'
      responses:
        '200':
          description: The existing repository has been updated
          headers:
            Location:
              description: |-
                The location of the repository. This header is only
                provided when the repository's name is changed.
              type: string
          schema:
            $ref: '#/definitions/repository'
        '201':
          description: A new repository has been created
          headers:
            Location:
              description: The location of the newly created repository
              type: string
          schema:
            $ref: '#/definitions/repository'
        '400':
          description: 'If the input document was invalid, or if the caller lacks the privilege to create repositories under the targeted account.'
          schema:
            $ref: '#/definitions/error'
        '401':
          description: If the request was not authenticated.
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - 'repository:admin'
        - basic: []
        - api_key: []
      tags:
        - repositories
  '/repositories/{username}/{repo_slug}/branch-restrictions':
    get:
      description: |-
        Returns a paginated list of all branch restrictions on the
        repository.
      parameters: []
      responses:
        '200':
          description: A paginated list of branch restrictions
          schema:
            $ref: '#/definitions/paginated_branchrestrictions'
        '401':
          description: If the request was not authenticated
          schema:
            $ref: '#/definitions/error'
        '403':
          description: If the authenticated user does not have admin access to the repository
          schema:
            $ref: '#/definitions/error'
        '404':
          description: If the repository does not exist
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - 'repository:admin'
        - basic: []
        - api_key: []
      tags:
        - branchrestrictions
    parameters:
      - in: path
        name: username
        required: true
        type: string
      - in: path
        name: repo_slug
        required: true
        type: string
    post:
      description: |-
        Creates a new branch restriction rule for a repository.

        `kind` describes what will be restricted. Allowed values are: `push`,
        `force`, `delete`, and `restrict_merges`.

        Different kinds of branch restrictions have different requirements:

        * `push` and `restrict_merges` require `users` and `groups` to be
          specified. Empty lists are allowed, in which case permission is
          denied for everybody.
        * `force` can not be specified in a Mercurial repository.

        `pattern` is used to determine which branches will be restricted.

        A `'*'` in `pattern` will expand to match zero or more characters, and
        every other character matches itself. For example, `'foo*'` will match
        `'foo'` and `'foobar'`, but not `'barfoo'`. `'*'` will match all
        branches.

        `users` and `groups` are lists of user names and group names.

        `kind` and `pattern` must be unique within a repository; adding new
        users or groups to an existing restriction should be done via `PUT`.

        Note that branch restrictions with overlapping patterns are allowed,
        but the resulting behavior may be surprising.
      parameters:
        - description: The new rule
          in: body
          name: _body
          required: true
          schema:
            $ref: '#/definitions/branchrestriction'
      responses:
        '201':
          description: A paginated list of branch restrictions
          schema:
            $ref: '#/definitions/branchrestriction'
        '401':
          description: If the request was not authenticated
          schema:
            $ref: '#/definitions/error'
        '403':
          description: If the authenticated user does not have admin access to the repository
          schema:
            $ref: '#/definitions/error'
        '404':
          description: If the repository does not exist
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - 'repository:admin'
        - basic: []
        - api_key: []
      tags:
        - branchrestrictions
  '/repositories/{username}/{repo_slug}/branch-restrictions/{id}':
    delete:
      description: Deletes an existing branch restriction rule.
      parameters:
        - description: The restriction rule's id
          in: path
          name: id
          required: true
          type: string
      responses:
        '204':
          description: ''
        '401':
          description: If the request was not authenticated
          schema:
            $ref: '#/definitions/error'
        '403':
          description: If the authenticated user does not have admin access to the repository
          schema:
            $ref: '#/definitions/error'
        '404':
          description: If the repository or branch restriction id does not exist
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - 'repository:admin'
        - basic: []
        - api_key: []
      tags:
        - branchrestrictions
    get:
      description: Returns a specific branch restriction rule.
      parameters:
        - description: The restriction rule's id
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: The branch restriction rule
          schema:
            $ref: '#/definitions/branchrestriction'
        '401':
          description: If the request was not authenticated
          schema:
            $ref: '#/definitions/error'
        '403':
          description: If the authenticated user does not have admin access to the repository
          schema:
            $ref: '#/definitions/error'
        '404':
          description: If the repository or branch restriction id does not exist
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - 'repository:admin'
        - basic: []
        - api_key: []
      tags:
        - branchrestrictions
    parameters:
      - in: path
        name: username
        required: true
        type: string
      - in: path
        name: id
        required: true
        type: string
      - in: path
        name: repo_slug
        required: true
        type: string
    put:
      description: |-
        Updates an existing branch restriction rule.

        Fields not present in the request body are ignored.

        See [`POST`](../../branch-restrictions#post) for details.
      parameters:
        - description: The restriction rule's id
          in: path
          name: id
          required: true
          type: string
        - description: The new version of the existing rule
          in: body
          name: _body
          required: true
          schema:
            $ref: '#/definitions/branchrestriction'
      responses:
        '200':
          description: The updated branch restriction rule
          schema:
            $ref: '#/definitions/branchrestriction'
        '401':
          description: If the request was not authenticated
          schema:
            $ref: '#/definitions/error'
        '403':
          description: If the authenticated user does not have admin access to the repository
          schema:
            $ref: '#/definitions/error'
        '404':
          description: If the repository or branch restriction id does not exist
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - 'repository:admin'
        - basic: []
        - api_key: []
      tags:
        - branchrestrictions
  '/repositories/{username}/{repo_slug}/commit/{node}/approve':
    delete:
      description: |-
        Redact the authenticated user's approval of the specified commit.

        This operation is only available to users that have explicit access to
        the repository. In contrast, just the fact that a repository is
        publicly accessible to users does not give them the ability to approve
        commits.
      parameters:
        - description: The commit's SHA1.
          in: path
          name: node
          required: true
          type: string
      responses:
        '204':
          description: An empty response indicating the authenticated user's approval has been withdrawn.
        '404':
          description: 'If the specified commit, or the repository does not exist.'
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - 'repository:write'
        - basic: []
        - api_key: []
      tags:
        - commits
    parameters:
      - in: path
        name: username
        required: true
        type: string
      - in: path
        name: node
        required: true
        type: string
      - in: path
        name: repo_slug
        required: true
        type: string
    post:
      description: |-
        Approve the specified commit as the authenticated user.

        This operation is only available to users that have explicit access to
        the repository. In contrast, just the fact that a repository is
        publicly accessible to users does not give them the ability to approve
        commits.
      parameters:
        - description: The commit's SHA1.
          in: path
          name: node
          required: true
          type: string
      responses:
        '200':
          description: The `participant` object recording that the authenticated user approved the commit.
          schema:
            $ref: '#/definitions/participant'
        '404':
          description: 'If the specified commit, or the repository does not exist.'
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - 'repository:write'
        - basic: []
        - api_key: []
      tags:
        - commits
  '/repositories/{username}/{repo_slug}/commit/{node}/statuses':
    get:
      description: Returns all statuses (e.g. build results) for a specific commit.
      parameters:
        - description: The commit's SHA1
          in: path
          name: node
          required: true
          type: string
      responses:
        '200':
          description: A paginated list of all commit statuses for this commit.
          schema:
            $ref: '#/definitions/paginated_commitstatuses'
        '401':
          description: If the repository is private and the request was not authenticated.
        '404':
          description: If the repository or commit does not exist
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - repository
        - basic: []
        - api_key: []
      tags:
        - repositories
        - commitstatuses
    parameters:
      - in: path
        name: username
        required: true
        type: string
      - in: path
        name: node
        required: true
        type: string
      - in: path
        name: repo_slug
        required: true
        type: string
  '/repositories/{username}/{repo_slug}/commit/{node}/statuses/build':
    parameters:
      - in: path
        name: username
        required: true
        type: string
      - in: path
        name: node
        required: true
        type: string
      - in: path
        name: repo_slug
        required: true
        type: string
    post:
      description: |-
        Creates a new build status against the specified commit.

        If the specified key already exists, the existing status object will
        be overwritten.

        When creating a new commit status, you can use a URI template for the URL.
        Templates are URLs that contain variable names that Bitbucket will
        evaluate at runtime whenever the URL is displayed anywhere similar to
        parameter substitution in
        [Bitbucket Connect](https://developer.atlassian.com/bitbucket/concepts/context-parameters.html).
        For example, one could use `https://foo.com/builds/{repository.full_name}`
        which Bitbucket will turn into `https://foo.com/builds/foo/bar` at render time.
        The context variables available are `repository` and `commit`.
      parameters:
        - description: The commit's SHA1
          in: path
          name: node
          required: true
          type: string
      responses:
        '201':
          description: The newly created build status object.
          schema:
            $ref: '#/definitions/commitstatus'
        '401':
          description: If the repository is private and the request was not authenticated.
        '404':
          description: 'If the repository, commit, or build status key does not exist'
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - repository
        - basic: []
        - api_key: []
      tags:
        - repositories
        - commitstatuses
  '/repositories/{username}/{repo_slug}/commit/{node}/statuses/build/{key}':
    get:
      description: Returns the specified build status for a commit.
      parameters:
        - description: The commit's SHA1
          in: path
          name: node
          required: true
          type: string
        - description: The build status' unique key
          in: path
          name: key
          required: true
          type: string
      responses:
        '200':
          description: The build status object with the specified key.
          schema:
            $ref: '#/definitions/commitstatus'
        '401':
          description: If the repository is private and the request was not authenticated.
        '404':
          description: 'If the repository, commit, or build status key does not exist'
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - repository
        - basic: []
        - api_key: []
      tags:
        - repositories
        - commitstatuses
    parameters:
      - in: path
        name: username
        required: true
        type: string
      - in: path
        name: node
        required: true
        type: string
      - in: path
        name: key
        required: true
        type: string
      - in: path
        name: repo_slug
        required: true
        type: string
    put:
      description: |-
        Used to update the current status of a build status object on the
        specific commit.

        This operation can also be used to change other properties of the
        build status:

        * `state`
        * `name`
        * `description`
        * `url`
        * `refname`

        The `key` cannot be changed.
      parameters:
        - description: The commit's SHA1
          in: path
          name: node
          required: true
          type: string
        - description: The commit status' unique key
          in: path
          name: key
          required: true
          type: string
        - description: The updated build status object
          in: body
          name: _body
          required: false
          schema:
            $ref: '#/definitions/commitstatus'
      responses:
        '200':
          description: The updated build status object.
          schema:
            $ref: '#/definitions/commitstatus'
        '401':
          description: If the repository is private and the request was not authenticated.
        '404':
          description: If the repository or build does not exist
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - repository
        - basic: []
        - api_key: []
      tags:
        - repositories
        - commitstatuses
  '/repositories/{username}/{repo_slug}/commit/{revision}':
    get:
      description: Returns the specified commit.
      parameters:
        - description: The commit's SHA1.
          in: path
          name: revision
          required: true
          type: string
      responses:
        '200':
          description: The commit object
          schema:
            $ref: '#/definitions/commit'
        '404':
          description: If the specified commit or repository does not exist.
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - repository
        - basic: []
        - api_key: []
      tags:
        - commits
    parameters:
      - in: path
        name: username
        required: true
        type: string
      - in: path
        name: revision
        required: true
        type: string
      - in: path
        name: repo_slug
        required: true
        type: string
  '/repositories/{username}/{repo_slug}/commit/{sha}/comments':
    get:
      description: |-
        Returns the commit's comments.

        This includes both global and inline comments.

        The default sorting is oldest to newest and can be overridden with
        the `sort` query parameter.
      parameters: []
      responses:
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - repository
        - basic: []
        - api_key: []
      tags:
        - commits
    parameters:
      - in: path
        name: username
        required: true
        type: string
      - in: path
        name: sha
        required: true
        type: string
      - in: path
        name: repo_slug
        required: true
        type: string
  '/repositories/{username}/{repo_slug}/commit/{sha}/comments/{comment_id}':
    get:
      description: Returns the specified commit comment.
      parameters: []
      responses:
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - repository
        - basic: []
        - api_key: []
      tags:
        - commits
    parameters:
      - in: path
        name: username
        required: true
        type: string
      - in: path
        name: sha
        required: true
        type: string
      - in: path
        name: comment_id
        required: true
        type: string
      - in: path
        name: repo_slug
        required: true
        type: string
  '/repositories/{username}/{repo_slug}/commits':
    get:
      description: |-
        These are the repository's commits. They are paginated and returned
        in reverse chronological order, similar to the output of `git log` and
        `hg log`. Like these tools, the DAG can be filtered.

        ## GET /repositories/{username}/{repo_slug}/commits/

        Returns all commits in the repo in topological order (newest commit
        first). All branches and tags are included (similar to
        `git log --all` and `hg log`).

        ## GET /repositories/{username}/{repo_slug}/commits/master

        Returns all commits on rev `master` (similar to `git log master`,
        `hg log master`).

        ## GET /repositories/{username}/{repo_slug}/commits/dev?exclude=master

        Returns all commits on ref `dev`, except those that are reachable on
        `master` (similar to `git log dev ^master`).

        ## GET /repositories/{username}/{repo_slug}/commits/?exclude=master

        Returns all commits in the repo that are not on master
        (similar to `git log --all ^master`).

        ## GET /repositories/{username}/{repo_slug}/commits/?include=foo&include=bar&exclude=fu&exclude=fubar

        Returns all commits that are on refs `foo` or `bar`, but not on `fu` or
        `fubar` (similar to `git log foo bar ^fu ^fubar`).

        Because the response could include a very large number of commits, it
        is paginated. Follow the 'next' link in the response to navigate to the
        next page of commits. As with other paginated resources, do not
        construct your own links.

        When the include and exclude parameters are more than ca fit in a
        query string, clients can use a `x-www-form-urlencoded` POST instead.
      parameters: []
      responses:
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - repository
        - basic: []
        - api_key: []
      tags:
        - commits
    parameters:
      - in: path
        name: username
        required: true
        type: string
      - in: path
        name: repo_slug
        required: true
        type: string
    post:
      description: |-
        Identical to `GET /repositories/{username}/{repo_slug}/commits`,
        except that POST allows clients to place the include and exclude
        parameters in the request body to avoid URL length issues.

        **Note that this resource does NOT support new commit creation.**
      parameters: []
      responses:
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - repository
        - basic: []
        - api_key: []
      tags:
        - commits
  '/repositories/{username}/{repo_slug}/commits/{revision}':
    get:
      description: |-
        These are the repository's commits. They are paginated and returned
        in reverse chronological order, similar to the output of `git log` and
        `hg log`. Like these tools, the DAG can be filtered.

        ## GET /repositories/{username}/{repo_slug}/commits/

        Returns all commits in the repo in topological order (newest commit
        first). All branches and tags are included (similar to
        `git log --all` and `hg log`).

        ## GET /repositories/{username}/{repo_slug}/commits/master

        Returns all commits on rev `master` (similar to `git log master`,
        `hg log master`).

        ## GET /repositories/{username}/{repo_slug}/commits/dev?exclude=master

        Returns all commits on ref `dev`, except those that are reachable on
        `master` (similar to `git log dev ^master`).

        ## GET /repositories/{username}/{repo_slug}/commits/?exclude=master

        Returns all commits in the repo that are not on master
        (similar to `git log --all ^master`).

        ## GET /repositories/{username}/{repo_slug}/commits/?include=foo&include=bar&exclude=fu&exclude=fubar

        Returns all commits that are on refs `foo` or `bar`, but not on `fu` or
        `fubar` (similar to `git log foo bar ^fu ^fubar`).

        Because the response could include a very large number of commits, it
        is paginated. Follow the 'next' link in the response to navigate to the
        next page of commits. As with other paginated resources, do not
        construct your own links.

        When the include and exclude parameters are more than ca fit in a
        query string, clients can use a `x-www-form-urlencoded` POST instead.
      parameters: []
      responses:
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - repository
        - basic: []
        - api_key: []
      tags:
        - commits
    parameters:
      - in: path
        name: username
        required: true
        type: string
      - in: path
        name: revision
        required: true
        type: string
      - in: path
        name: repo_slug
        required: true
        type: string
    post:
      description: |-
        Identical to `GET /repositories/{username}/{repo_slug}/commits`,
        except that POST allows clients to place the include and exclude
        parameters in the request body to avoid URL length issues.

        **Note that this resource does NOT support new commit creation.**
      parameters: []
      responses:
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - repository
        - basic: []
        - api_key: []
      tags:
        - commits
  '/repositories/{username}/{repo_slug}/components':
    get:
      description: |-
        Returns the components that have been defined in the issue tracker.

        This resource is only available on repositories that have the issue
        tracker enabled.
      parameters: []
      responses:
        '200':
          description: The components that have been defined in the issue tracker.
          schema:
            $ref: '#/definitions/paginated_components'
        '404':
          description: 'If the specified repository does not exist, or if the repository doesn''t have the issue tracker enabled.'
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - issue
        - basic: []
        - api_key: []
      tags:
        - issue_tracker
    parameters:
      - in: path
        name: username
        required: true
        type: string
      - in: path
        name: repo_slug
        required: true
        type: string
  '/repositories/{username}/{repo_slug}/components/{component_id}':
    get:
      description: Returns the specified issue tracker component object.
      parameters:
        - description: The component's id
          in: path
          name: component_id
          required: true
          type: integer
      responses:
        '200':
          description: The specified component object.
          schema:
            $ref: '#/definitions/component'
        '404':
          description: 'If the specified repository or component does not exist, or if the repository doesn''t have the issue tracker enabled.'
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - issue
        - basic: []
        - api_key: []
      tags:
        - issue_tracker
    parameters:
      - in: path
        name: username
        required: true
        type: string
      - in: path
        name: component_id
        required: true
        type: string
      - in: path
        name: repo_slug
        required: true
        type: string
  '/repositories/{username}/{repo_slug}/default-reviewers':
    get:
      description: |-
        Returns the repository's default reviewers.

        These are the users that are automatically added as reviewers on every
        new pull request that is created.
      parameters: []
      responses:
        '200':
          description: The paginated list of default reviewers
      security:
        - oauth2:
            - 'repository:admin'
        - basic: []
        - api_key: []
      tags:
        - pullrequests
    parameters:
      - in: path
        name: username
        required: true
        type: string
      - in: path
        name: repo_slug
        required: true
        type: string
  '/repositories/{username}/{repo_slug}/default-reviewers/{target_username}':
    delete:
      description: Removes a default reviewer from the repository.
      parameters: []
      responses:
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - 'repository:admin'
        - basic: []
        - api_key: []
      tags:
        - pullrequests
    get:
      description: |-
        Returns the specified reviewer.

        This can be used to test whether a user is among the repository's
        default reviewers list. A 404 indicates that that specified user is not
        a default reviewer.
      parameters: []
      responses:
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - 'repository:admin'
        - basic: []
        - api_key: []
      tags:
        - pullrequests
    parameters:
      - in: path
        name: username
        required: true
        type: string
      - in: path
        name: target_username
        required: true
        type: string
      - in: path
        name: repo_slug
        required: true
        type: string
    put:
      description: |-
        Adds the specified user to the repository's list of default
        reviewers.

        This method is idempotent. Adding a user a second time has no effect.
      parameters: []
      responses:
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - 'repository:admin'
        - basic: []
        - api_key: []
      tags:
        - pullrequests
  '/repositories/{username}/{repo_slug}/diff/{spec}':
    get:
      description: |-
        Produces a raw, git-style diff for either a single commit (diffed
        against its first parent), or a revspec of 2 commits (e.g.
        `3a8b42..9ff173` where the first commit represents the source and the
        second commit the destination).

        In case of the latter (diffing a revspec), a 3-way diff, or merge diff,
        is computed. This shows the changes introduced by the left branch
        (`3a8b42` in our example) as compared againt the right branch
        (`9ff173`).

        This is equivalent to merging the left branch into the right branch and
        then computing the diff of the merge commit against its first parent
        (the right branch). This follows the same behavior as pull requests
        that also show this style of 3-way, or merge diff.

        While similar to patches, diffs:

        * Don't have a commit header (username, commit message, etc)
        * Support the optional `path=foo/bar.py` query param to filter
          the diff to just that one file diff

        The raw diff is returned as-is, in whatever encoding the files in the
        repository use. It is not decoded into unicode. As such, the
        content-type is `text/plain`.
      parameters:
        - description: Generate diffs with <n> lines of context instead of the usual three
          in: query
          name: context
          required: false
          type: integer
        - description: Limit the diff to a single file
          in: query
          name: path
          required: false
          type: string
      responses:
        '200':
          description: The raw diff
        '555':
          description: |-
            If the diff was too large and timed out.

            Since this endpoint does not employ any form of pagination, but
            instead returns the diff as a single document, it can run into
            trouble on very large diffs. If Bitbucket times out in cases
            like these, a 555 status code is returned.
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - repository
        - basic: []
        - api_key: []
      tags:
        - commits
    parameters:
      - in: path
        name: username
        required: true
        type: string
      - in: path
        name: spec
        required: true
        type: string
      - in: path
        name: repo_slug
        required: true
        type: string
  '/repositories/{username}/{repo_slug}/downloads':
    get:
      description: Returns a list of download links associated with the repository.
      parameters: []
      responses:
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - repository
        - basic: []
        - api_key: []
      tags:
        - downloads
    parameters:
      - in: path
        name: username
        required: true
        type: string
      - in: path
        name: repo_slug
        required: true
        type: string
    post:
      description: |-
        Upload new download artifacts.

        To upload files, perform a `multipart/form-data` POST containing one
        or more `files` fields:

            $ echo Hello World > hello.txt
            $ curl -s -u evzijst -X POST https://api.bitbucket.org/2.0/repositories/evzijst/git-tests/downloads -F files=@hello.txt

        When a file is uploaded with the same name as an existing artifact,
        then the existing file will be replaced.
      parameters: []
      responses:
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - 'repository:write'
        - basic: []
        - api_key: []
      tags:
        - downloads
  '/repositories/{username}/{repo_slug}/downloads/{filename}':
    delete:
      description: Deletes the specified download artifact from the repository.
      parameters: []
      responses:
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - 'repository:write'
        - basic: []
        - api_key: []
      tags:
        - downloads
    get:
      description: |-
        Return a redirect to the contents of a download artifact.

        This endpoint returns the actual file contents and not the artifact's
        metadata.

            $ curl -s -L https://api.bitbucket.org/2.0/repositories/evzijst/git-tests/downloads/hello.txt
            Hello World
      parameters: []
      responses:
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - repository
        - basic: []
        - api_key: []
      tags:
        - downloads
    parameters:
      - in: path
        name: username
        required: true
        type: string
      - in: path
        name: filename
        required: true
        type: string
      - in: path
        name: repo_slug
        required: true
        type: string
  '/repositories/{username}/{repo_slug}/forks':
    get:
      description: |-
        Returns a paginated list of all the forks of the specified
        repository.
      parameters: []
      responses:
        '200':
          description: All forks.
          schema:
            $ref: '#/definitions/paginated_repositories'
      security:
        - oauth2:
            - repository
        - basic: []
        - api_key: []
      tags:
        - repositories
    parameters:
      - in: path
        name: username
        required: true
        type: string
      - in: path
        name: repo_slug
        required: true
        type: string
  '/repositories/{username}/{repo_slug}/hooks':
    get:
      description: Returns a paginated list of webhooks installed on this repository.
      parameters: []
      responses:
        '200':
          description: The paginated list of installed webhooks.
          schema:
            $ref: '#/definitions/paginated_webhook_subscriptions'
        '403':
          description: If the authenticated user does not have permission to access the webhooks.
          schema:
            $ref: '#/definitions/error'
        '404':
          description: If the repository does not exist.
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - webhook
        - basic: []
        - api_key: []
      tags:
        - repositories
        - webhooks
    parameters:
      - in: path
        name: username
        required: true
        type: string
      - in: path
        name: repo_slug
        required: true
        type: string
    post:
      description: |-
        Creates a new webhook on the specified repository.

        Example:

        ```
        $ curl -X POST -u credentials -H 'Content-Type: application/json'           https://api.bitbucket.org/2.0/repositories/username/slug/hooks           -d '
            {
              "description": "Webhook Description",
              "url": "https://example.com/",
              "active": true,
              "events": [
                "repo:push",
                "issue:created",
                "issue:updated"
              ]
            }'
        ```

        Note that this call requires the webhook scope, as well as any scope
        that applies to the events that the webhook subscribes to. In the
        example above that means: `webhook`, `repository` and `issue`.

        Also note that the `url` must properly resolve and cannot be an
        internal, non-routed address.
      parameters: []
      responses:
        '201':
          description: If the webhook was registered successfully.
          headers:
            Location:
              description: The URL of new newly created webhook.
              type: string
          schema:
            $ref: '#/definitions/webhook_subscription'
        '403':
          description: If the authenticated user does not have permission to install webhooks on the specified repository.
          schema:
            $ref: '#/definitions/error'
        '404':
          description: If the repository does not exist.
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - webhook
        - basic: []
        - api_key: []
      tags:
        - repositories
        - webhooks
  '/repositories/{username}/{repo_slug}/hooks/{uid}':
    delete:
      description: |-
        Deletes the specified webhook subscription from the given
        repository.
      parameters:
        - description: The installed webhook's id
          in: path
          name: uid
          required: true
          type: string
      responses:
        '204':
          description: When the webhook was deleted successfully
        '403':
          description: If the authenticated user does not have permission to delete the webhook.
          schema:
            $ref: '#/definitions/error'
        '404':
          description: If the webhook or repository does not exist.
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - webhook
        - basic: []
        - api_key: []
      tags:
        - repositories
        - webhooks
    get:
      description: |-
        Returns the webhook with the specified id installed on the specified
        repository.
      parameters:
        - description: The installed webhook's id.
          in: path
          name: uid
          required: true
          type: string
      responses:
        '200':
          description: The webhook subscription object.
          schema:
            $ref: '#/definitions/webhook_subscription'
        '404':
          description: If the webhook or repository does not exist.
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - webhook
        - basic: []
        - api_key: []
      tags:
        - repositories
        - webhooks
    parameters:
      - in: path
        name: username
        required: true
        type: string
      - in: path
        name: uid
        required: true
        type: string
      - in: path
        name: repo_slug
        required: true
        type: string
    put:
      description: |-
        Updates the specified webhook subscription.

        The following properties can be mutated:

        * `description`
        * `url`
        * `active`
        * `events`
      parameters:
        - description: The installed webhook's id
          in: path
          name: uid
          required: true
          type: string
      responses:
        '200':
          description: The webhook subscription object.
          schema:
            $ref: '#/definitions/webhook_subscription'
        '403':
          description: If the authenticated user does not have permission to update the webhook.
          schema:
            $ref: '#/definitions/error'
        '404':
          description: If the webhook or repository does not exist.
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - webhook
        - basic: []
        - api_key: []
      tags:
        - repositories
        - webhooks
  '/repositories/{username}/{repo_slug}/issues':
    get:
      description: Returns the issues in the issue tracker.
      parameters: []
      responses:
        '200':
          description: A paginated list of the issues matching any filter criteria that were provided.
          schema:
            $ref: '#/definitions/paginated_issues'
        '404':
          description: 'If the specified repository or version does not exist, or if the repository doesn''t have the issue tracker enabled.'
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - issue
        - basic: []
        - api_key: []
      tags:
        - issue_tracker
    parameters:
      - in: path
        name: username
        required: true
        type: string
      - in: path
        name: repo_slug
        required: true
        type: string
    post:
      description: |-
        Creates a new issue.

        This call requires authentication. Private repositories or private
        issue trackers require the caller to authenticate with an account that
        has appropriate authorisation.

        The authenticated user is used for the issue's `reporter` field.
      parameters:
        - description: The new issue. Note that the only required element is `title`. All other elements can be omitted from the body.
          in: body
          name: _body
          required: true
          schema:
            $ref: '#/definitions/issue'
      responses:
        '201':
          description: The newly created issue.
          headers:
            Location:
              description: The (absolute) URL of the newly created issue.
              type: string
          schema:
            $ref: '#/definitions/issue'
        '401':
          description: When the request wasn't authenticated.
          schema:
            $ref: '#/definitions/error'
        '403':
          description: When the authenticated user lacks the privilege to create issues in the issue tracker.
          schema:
            $ref: '#/definitions/error'
        '404':
          description: 'If the specified repository or version does not exist, or if the repository doesn''t have the issue tracker enabled.'
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - 'issue:write'
        - basic: []
        - api_key: []
      tags:
        - issue_tracker
  '/repositories/{username}/{repo_slug}/issues/{issue_id}':
    delete:
      description: |-
        Deletes the specified issue. This requires write access to the
        repository.
      parameters: []
      responses:
        '200':
          description: The issue object.
          schema:
            $ref: '#/definitions/issue'
        '403':
          description: When the authenticated user lacks isn't authorized to delete the issue tracker.
          schema:
            $ref: '#/definitions/error'
        '404':
          description: 'If the specified repository or issue does not exist, or if the repository doesn''t have the issue tracker enabled.'
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - 'issue:write'
        - basic: []
        - api_key: []
      tags:
        - issue_tracker
    get:
      description: Returns the specified issue.
      parameters: []
      responses:
        '200':
          description: The issue object.
          schema:
            $ref: '#/definitions/issue'
        '403':
          description: When the authenticated user lacks isn't authorized to access the issue tracker.
          schema:
            $ref: '#/definitions/error'
        '404':
          description: 'If the specified repository or issue does not exist, or if the repository doesn''t have the issue tracker enabled.'
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - issue
        - basic: []
        - api_key: []
      tags:
        - issue_tracker
    parameters:
      - in: path
        name: username
        required: true
        type: string
      - in: path
        name: issue_id
        required: true
        type: string
      - in: path
        name: repo_slug
        required: true
        type: string
  '/repositories/{username}/{repo_slug}/issues/{issue_id}/attachments':
    get:
      description: |-
        Returns all attachments for this issue.

        This returns the files' meta data. This does not return the files'
        actual contents.

        The files are always ordered by their upload date.
      parameters:
        - description: The issue's id
          in: path
          name: issue_id
          required: true
          type: integer
      responses:
        '200':
          description: A paginated list of all attachments for this issue.
          schema:
            $ref: '#/definitions/paginated_issue_attachments'
        '401':
          description: If the issue tracker is private and the request was not authenticated.
        '404':
          description: 'If the specified repository or version does not exist, or if the repository doesn''t have the issue tracker enabled.'
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - issue
        - basic: []
        - api_key: []
      tags:
        - issue_tracker
    parameters:
      - in: path
        name: username
        required: true
        type: string
      - in: path
        name: issue_id
        required: true
        type: string
      - in: path
        name: repo_slug
        required: true
        type: string
    post:
      description: |-
        Upload new issue attachments.

        To upload files, perform a `multipart/form-data` POST containing one
        or more file fields.

        When a file is uploaded with the same name as an existing attachment,
        then the existing file will be replaced.
      parameters:
        - description: The issue's id
          in: path
          name: issue_id
          required: true
          type: integer
      responses:
        '201':
          description: An empty response document.
          headers:
            Location:
              description: The URL to the issue's collection of attachments.
              type: string
        '400':
          description: 'If no files were uploaded, or if the wrong `Content-Type` was used.'
        '401':
          description: If the issue tracker is private and the request was not authenticated.
        '404':
          description: 'If the specified repository or issue does not exist, or if the repository doesn''t have the issue tracker enabled.'
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - 'issue:write'
        - basic: []
        - api_key: []
      tags:
        - issue_tracker
  '/repositories/{username}/{repo_slug}/issues/{issue_id}/attachments/{path}':
    delete:
      description: Deletes an attachment.
      parameters: []
      responses:
        '204':
          description: Indicates that the deletion was successful
        '401':
          description: If the issue tracker is private and the request was not authenticated.
        '404':
          description: 'If the specified repository, issue, or attachment does not exist, or if the repository doesn''t have the issue tracker enabled.'
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - 'issue:write'
        - basic: []
        - api_key: []
      tags:
        - issue_tracker
    get:
      description: |-
        Returns the contents of the specified file attachment.

        Note that this endpoint does not return a JSON response, but instead
        returns a redirect pointing to the actual file that in turn will return
        the raw contents.

        The redirect URL contains a one-time token that has a limited lifetime.
        As a result, the link should not be persisted, stored, or shared.
      parameters: []
      responses:
        '302':
          description: A redirect to the file's contents
          headers:
            Location:
              type: string
        '401':
          description: If the issue tracker is private and the request was not authenticated.
        '404':
          description: 'If the specified repository or issue does not exist, or if the repository doesn''t have the issue tracker enabled.'
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - issue
        - basic: []
        - api_key: []
      tags:
        - issue_tracker
    parameters:
      - in: path
        name: username
        required: true
        type: string
      - in: path
        name: path
        required: true
        type: string
      - in: path
        name: issue_id
        required: true
        type: string
      - in: path
        name: repo_slug
        required: true
        type: string
  '/repositories/{username}/{repo_slug}/issues/{issue_id}/comments':
    get:
      description: |-
        Returns all comments that were made on the specified issue.

        The default sorting is oldest to newest and can be overridden with
        the `sort` query parameter.
      parameters: []
      responses:
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - issue
        - basic: []
        - api_key: []
      tags:
        - issue_tracker
    parameters:
      - in: path
        name: username
        required: true
        type: string
      - in: path
        name: issue_id
        required: true
        type: string
      - in: path
        name: repo_slug
        required: true
        type: string
  '/repositories/{username}/{repo_slug}/issues/{issue_id}/comments/{comment_id}':
    get:
      description: Returns the specified issue comment object.
      parameters: []
      responses:
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - issue
        - basic: []
        - api_key: []
      tags:
        - issue_tracker
    parameters:
      - in: path
        name: username
        required: true
        type: string
      - in: path
        name: comment_id
        required: true
        type: string
      - in: path
        name: issue_id
        required: true
        type: string
      - in: path
        name: repo_slug
        required: true
        type: string
  '/repositories/{username}/{repo_slug}/issues/{issue_id}/vote':
    delete:
      description: Retract your vote.
      parameters:
        - description: The issue's id
          in: path
          name: issue_id
          required: true
          type: integer
      responses:
        default:
          description: Unexpected error.
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - 'issue:write'
            - 'account:write'
        - basic: []
        - api_key: []
      tags:
        - issue_tracker
    get:
      description: |-
        Check whether the authenticated user has voted for this issue.
        A 204 status code indicates that the user has voted, while a 404
        implies they haven't.
      parameters:
        - description: The issue's id
          in: path
          name: issue_id
          required: true
          type: integer
      responses:
        '204':
          description: If the authenticated user has not voted for this issue.
          schema:
            $ref: '#/definitions/error'
        '401':
          description: When the request wasn't authenticated.
          schema:
            $ref: '#/definitions/error'
        '404':
          description: 'If the authenticated user has not voted for this issue, or when the repo does not exist, or does not have an issue tracker.'
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - issue
            - account
        - basic: []
        - api_key: []
      tags:
        - issue_tracker
    parameters:
      - in: path
        name: username
        required: true
        type: string
      - in: path
        name: issue_id
        required: true
        type: string
      - in: path
        name: repo_slug
        required: true
        type: string
    put:
      description: |-
        Vote for this issue.

        To cast your vote, do an empty PUT. The 204 status code indicates that
        the operation was successful.
      parameters:
        - description: The issue's id
          in: path
          name: issue_id
          required: true
          type: integer
      responses:
        '204':
          description: Indicating the authenticated user has cast their vote successfully.
          schema:
            $ref: '#/definitions/error'
        '401':
          description: When the request wasn't authenticated.
          schema:
            $ref: '#/definitions/error'
        '404':
          description: 'When the issue does not exist, the repo does not exist, or when the repos does not have an issue tracker.'
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - issue
            - 'account:write'
        - basic: []
        - api_key: []
      tags:
        - issue_tracker
  '/repositories/{username}/{repo_slug}/issues/{issue_id}/watch':
    delete:
      description: Stop watching this issue.
      parameters:
        - description: The issue's id
          in: path
          name: issue_id
          required: true
          type: integer
      responses:
        '204':
          description: Indicates that the authenticated user successfully stopped watching this issue.
          schema:
            $ref: '#/definitions/error'
        '401':
          description: When the request wasn't authenticated.
          schema:
            $ref: '#/definitions/error'
        '404':
          description: 'If the issue or the repo does not exist, or the repository does not have an issue tracker.'
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - 'issue:write'
            - 'account:write'
        - basic: []
        - api_key: []
      tags:
        - issue_tracker
    get:
      description: |-
        Indicated whether or not the authenticated user is watching this
        issue.
      parameters:
        - description: The issue's id
          in: path
          name: issue_id
          required: true
          type: integer
      responses:
        '204':
          description: If the authenticated user is watching this issue.
          schema:
            $ref: '#/definitions/error'
        '401':
          description: When the request wasn't authenticated.
          schema:
            $ref: '#/definitions/error'
        '404':
          description: 'If the authenticated user is not watching this issue, or when the repo does not exist, or does not have an issue tracker.'
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - issue
            - account
        - basic: []
        - api_key: []
      tags:
        - issue_tracker
    parameters:
      - in: path
        name: username
        required: true
        type: string
      - in: path
        name: issue_id
        required: true
        type: string
      - in: path
        name: repo_slug
        required: true
        type: string
    put:
      description: |-
        Start watching this issue.

        To start watching this issue, do an empty PUT. The 204 status code
        indicates that the operation was successful.
      parameters:
        - description: The issue's id
          in: path
          name: issue_id
          required: true
          type: integer
      responses:
        '204':
          description: Indicates that the authenticated user successfully started watching this issue.
          schema:
            $ref: '#/definitions/error'
        '401':
          description: When the request wasn't authenticated.
          schema:
            $ref: '#/definitions/error'
        '404':
          description: 'If the authenticated user is not watching this issue, or when the repo does not exist, or does not have an issue tracker.'
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - issue
            - 'account:write'
        - basic: []
        - api_key: []
      tags:
        - issue_tracker
  '/repositories/{username}/{repo_slug}/milestones':
    get:
      description: |-
        Returns the milestones that have been defined in the issue tracker.

        This resource is only available on repositories that have the issue
        tracker enabled.
      parameters: []
      responses:
        '200':
          description: The milestones that have been defined in the issue tracker.
          schema:
            $ref: '#/definitions/paginated_milestones'
        '404':
          description: 'If the specified repository does not exist, or if the repository doesn''t have the issue tracker enabled.'
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - issue
        - basic: []
        - api_key: []
      tags:
        - issue_tracker
    parameters:
      - in: path
        name: username
        required: true
        type: string
      - in: path
        name: repo_slug
        required: true
        type: string
  '/repositories/{username}/{repo_slug}/milestones/{milestone_id}':
    get:
      description: Returns the specified issue tracker milestone object.
      parameters:
        - description: The milestone's id
          in: path
          name: milestone_id
          required: true
          type: integer
      responses:
        '200':
          description: The specified milestone object.
          schema:
            $ref: '#/definitions/milestone'
        '404':
          description: 'If the specified repository or milestone does not exist, or if the repository doesn''t have the issue tracker enabled.'
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - issue
        - basic: []
        - api_key: []
      tags:
        - issue_tracker
    parameters:
      - in: path
        name: username
        required: true
        type: string
      - in: path
        name: milestone_id
        required: true
        type: string
      - in: path
        name: repo_slug
        required: true
        type: string
  '/repositories/{username}/{repo_slug}/patch/{spec}':
    get:
      description: |-
        Produces a raw patch for a single commit (diffed against its first
        parent), or a patch-series for a revspec of 2 commits (e.g.
        `3a8b42..9ff173` where the first commit represents the source and the
        second commit the destination).

        In case of the latter (diffing a revspec), a patch series is returned
        for the commits on the source branch (`3a8b42` and its ancestors in
        our example). For Mercurial, a single patch is returned that combines
        the changes of all commits on the source branch.

        While similar to diffs, patches:

        * Have a commit header (username, commit message, etc)
        * Do not support the `path=foo/bar.py` query parameter

        The raw patch is returned as-is, in whatever encoding the files in the
        repository use. It is not decoded into unicode. As such, the
        content-type is `text/plain`.
      parameters: []
      responses:
        '200':
          description: The raw patches
        '555':
          description: |-
            If the diff was too large and timed out.

            Since this endpoint does not employ any form of pagination, but
            instead returns the diff as a single document, it can run into
            trouble on very large diffs. If Bitbucket times out in cases
            like these, a 555 status code is returned.
          schema:
            $ref: '#/definitions/error'
      security:
        - oauth2:
            - repository
        - basic: []
        - api_key: []
      tags:
        - commits
    parameters:
      - in: path
        name: username
        required: true
        type: string
      - in: path
        name: spec
        required: true
        type: string
      - in: path
        name: repo_slug
        required: true
        type: string
  '/repositories/{username}/{repo_slug}/pipelines/':
    get:
      description: Find pipelines
      operationId: getPipelinesForRepository
      parameters:
        - description: The account.
          in: path
          name: username
          required: true
          type: string
        - description: The repository.
          in: path
          name: repo_slug
          required: true
          type: string
      responses:
        '200':
          description: The matching pipelines.
          schema:
            $ref: '#/definitions/paginated_pipelines'
      tags:
        - pipelines
    post:
      description: |
        Endpoint to create and initiate a pipeline. 
        There are a couple of different options to initiate a pipeline, where the payload of the request will determine which type of pipeline will be instantiated.
        # Trigger a Pipeline for a branch or tag
        One way to trigger pipelines is by specifying the reference for which you want to trigger a pipeline (e.g. a branch or tag). 
        The specified reference will be used to determine which pipeline definition from the `bitbucket-pipelines.yml` file will be applied to initiate the pipeline. The pipeline will then do a clone of the repository and checkout the latest revision of the specified reference.

        ### Example

        ```
        $ curl -X POST -is -u username:password \
          -H 'Content-Type: application/json' \
         https://api.bitbucket.org/2.0/repositories/jeroendr/meat-demo2/pipelines/ \
          -d '
          {
            "target": {
              "ref_type": "branch", 
              "type": "pipeline_ref_target", 
              "ref_name": "master"
            }
          }'
        ```
        # Trigger a Pipeline for a commit on a branch or tag
        You can initiate a pipeline for a specific commit and in the context of a specified reference (e.g. a branch, tag or bookmark).
        The specified reference will be used to determine which pipeline definition from the bitbucket-pipelines.yml file will be applied to initiate the pipeline. The pipeline will clone the repository and then do a checkout the specified reference. 

        The following reference types are supported:

        * `branch` 
        * `named_branch`
        * `bookmark` 
         * `tag`

        ### Example

        ```
        $ curl -X POST -is -u username:password \
          -H 'Content-Type: application/json' \
          https://api.bitbucket.org/2.0/repositories/jeroendr/meat-demo2/pipelines/ \
          -d '
          {
            "target": {
              "commit": {
                "type": "commit", 
                "hash": "ce5b7431602f7cbba007062eeb55225c6e18e956"
              }, 
              "ref_type": "branch", 
              "type": "pipeline_ref_target", 
              "ref_name": "master"
            }
          }'
        ```
        # Trigger a specific pipeline definition for a commit
        You can trigger a specific pipeline that is defined in your `bitbucket-pipelines.yml` file for a specific commit. 
        In addition to the commit revision, you specify the type and pattern of the selector that identifies the pipeline definition. The resulting pipeline will then clone the repository and checkout the specified revision.

        ### Example

        ```
        $ curl -X POST -is -u username:password \
          -H 'Content-Type: application/json' \
         https://api.bitbucket.org/2.0/repositories/jeroendr/meat-demo2/pipelines/ \
         -d '
          {
             "target": {
              "commit": {
                 "hash":"a3c4e02c9a3755eccdc3764e6ea13facdf30f923",
                 "type":"commit"
               },
                "selector": {
                   "type":"custom",
                      "pattern":"Deploy to production"
                  },
                "type":"pipeline_commit_target"
           }
          }'
        ```
        # Trigger a specific pipeline definition for a commit on a branch or tag
        You can trigger a specific pipeline that is defined in your `bitbucket-pipelines.yml` file for a specific commit in the context of a specified reference. 
        In addition to the commit revision, you specify the type and pattern of the selector that identifies the pipeline definition, as well as the reference information. The resulting pipeline will then clone the repository a checkout the specified reference.

        ### Example

        ```
        $ curl -X POST -is -u username:password \
          -H 'Content-Type: application/json' \
         https://api.bitbucket.org/2.0/repositories/jeroendr/meat-demo2/pipelines/ \
         -d '
          {
             "target": {
              "commit": {
                 "hash":"a3c4e02c9a3755eccdc3764e6ea13facdf30f923",
                 "type":"commit"
               },
               "selector": {
                  "type": "custom",
                  "pattern": "Deploy to production"
               },
               "type": "pipeline_ref_target",
               "ref_name": "master",
               "ref_type": "branch"
             }
          }'
        ```
      operationId: createPipelineForRepository
      parameters:
        - description: The account.
          in: path
          name: username
          required: true
          type: string
        - description: The repository.
          in: path
          name: repo_slug
          required: true
          type: string
        - description: The pipeline to initiate.
          in: body
          name: _body
          required: true
          schema:
            $ref: '#/definitions/pipeline'
      responses:
        '201':
          description: The initiated pipeline.
          headers:
            Location:
              description: The URL of the newly created pipeline.
              type: string
          schema:
            $ref: '#/definitions/pipeline'
        '400':
          description: 'The account or repository is not enabled, the yml file does not exist in the repository for the given revision, or the request body contained invalid properties.'
          schema:
            $ref: '#/definitions/error'
        '404':
          description: The account or repository was not found.
          schema:
            $ref: '#/definitions/error'
      tags:
        - pipelines
  '/repositories/{username}/{repo_slug}/pipelines/{pipeline_uuid}':
    get:
      description: Retrieve a specified pipeline
      operationId: getPipelineForRepository
      parameters:
        - description: The account.
          in: path
          name: username
          required: true
          type: string
        - description: The repository.
          in: path
          name: repo_slug
          required: true
          type: string
        - description: The pipeline UUID.
          in: path
          name: pipeline_uuid
          required: true
          type: string
      responses:
        '200':
          description: The pipeline.
          schema:
            $ref: '#/definitions/pipeline'
        '404':
          description: 'No account, repository or pipeline with the UUID provided exists.'
          schema:
            $ref: '#/definitions/error'
      tags:
        - pipelines
  '/repositories/{username}/{repo_slug}/pipelines/{pipeline_uuid}/steps/':
    get:
      description: Find steps for the given pipeline.
      operationId: getPipelineStepsForRepository
      parameters:
        - description: The account.
          in: path
          name: username
          required: true
          type: string
        - description: The repository.
          in: path
          name: repo_slug
          required: true
          type: string
        - description: The UUID of the pipeline.
          in: path
          name: pipeline_uuid
          required: true
          type: string
      responses:
        '200':
          description: The steps.
          schema:
            $ref: '#/definitions/paginated_pipeline_steps'
      tags:
        - pipelines
  '/repositories/{username}/{repo_slug}/pipelines/{pipeline_uuid}/steps/{step_uuid}':
    get:
      description: Retrieve a given step of a pipeline.
      operationId: getPipelineStepForRepository
      parameters:
        - description: The account.
          in: path
          name: username
          required: true
          type: string
        - description: The repository.
          in: path
          name: repo_slug
          required: true
          type: string
        - description: The UUID of the pipeline.
          in: path
          name: pipeline_uuid
          required: true
          type: string
        - description: The UUID of the step.
          in: path
          name: step_uuid
          required: true
          type: string
      responses:
        '200':
          description: The step.
          schema:
            $ref: '#/definitions/pipeline_step'
        '404':
          description: 'No account, repository, pipeline or step with the UUID provided exists for the pipeline with the UUID provided.'
          schema:
            $ref: '#/definitions/error'
      tags:
        - pipelines
  '/repositories/{username}/{repo_slug}/pipelines/{pipeline_uuid}/steps/{step_uuid}/log':
    get:
      description: |-
        Retrieve the log file for a given step of a pipeline.

        This endpoint supports (and encourages!) the use of [HTTP Range requests](https://tools.ietf.org/html/rfc7233) to deal with potentially very large log files.
      operationId: getPipelineStepLogForRepository
      parameters:
        - description: The account.
          in: path
          name: username
          required: true
          type: string
        - description: The repository.
          in: path
          name: repo_slug
          required: true
          type: string
        - description: The UUID of the pipeline.
          in: path
          name: pipeline_uuid
          required: true
          type: string
        - description: The UUID of the step.
          in: path
          name: step_uuid
          required: true
          type: string
      produces:
        - text/plain
      responses:
        '200':
          description: The raw log file for this pipeline step.
        '304':
          description: The log has the same etag as the provided If-None-Match header.
          schema:
            $ref: '#/definitions/error'
        '404':
          description: 'A pipeline with the given UUID does not exist, a step with the given UUID does not exist in the pipeline or a log file does not exist for the given step.'
          schema:
            $ref: '#/definitions/error'
        '416':
          description: 'The requested range does not exist for requests that specified the [HTTP Range header](https://tools.ietf.org/html/rfc7233#section-3.1).'
          schema:
            $ref: '#/definitions/error'
      tags:
        - pipelines
  '/repositories/{username}/{repo_slug}/pipelines/{pipeline_uuid}/stopPipeline':
    post:
      description: Signal the stop of a pipeline and all of its steps that not have completed yet.
      operationId: stopPipeline
      parameters:
        - description: The account.
          in: path
          name: username
          required: true
          type: string
        - description: The repository.
          in: path
          name: repo_slug
          required: true
          type: string
        - description: The UUID of the pipeline.
          in: path
          name: pipeline_uuid
          required: true
          type: string
      responses:
        '204':
          description: The pipeline has been signaled to stop.
        '400':
          description: The specified pipeline has already completed.
          schema:
            $ref: '#/definitions/error'
        '404':
          description: 'Either the account, repository or pipeline with the given UUID does not exist.'
          schema:
            $ref: '#/definitions/error'
      tags:
        - pipelines
  '/repositories/{username}/{repo_slug}/pipelines_config':
    get:
      description: Retrieve the repository pipelines configuration.
      operationId: getRepositoryPipelineConfig
      parameters:
        - description: The account.
          in: path
          name: username
          required: true
          type: string
        - description: The repository.
          in: path
          name: repo_slug
          required: true
          type: string
      responses:
        '200':
          description: The repository pipelines configuration.
          schema:
            $ref: '#/definitions/pipelines_config'
      tags:
        - pipelines
    put:
      description: Update the pipelines configuration for a repository.
      operationId: updateRepositoryPipelineConfig
      parameters:
        - description: The account.
          in: path
          name: username
          required: true
          type: string
        - description: The repository.
          in: path
          name: repo_slug
          required: true
          type: string
        - description: The updated repository pipelines configuration.
          in: body
          name: _body
          required: true
          schema:
            $ref: '#/definitions/pipelines_config'
      responses:
        '200':
          description: The repository pipelines configuration was updated.
          schema:
            $ref: '#/definitions/pipelines_config'
      tags:
        - pipelines
  '/repositories/{username}/{repo_slug}/pipelines_config/ssh/key_pair':
    delete:
      description: Delete the repository SSH key pair.
      operationId: deleteRepositoryPipelineKeyPair
      parameters:
        - description: The account.
          in: path
          name: username
          required: true
          type: string
        - description: The repository.
          in: path
          name: repo_slug
          required: true
          type: string
      responses:
        '204':
          description: The SSH key pair was deleted.
        '404':
          description: 'The account, repository or SSH key pair was not found.'
          schema:
            $ref: '#/definitions/error'
      tags:
        - pipelines
    get:
      description: Retrieve the repository SSH key pair excluding the SSH private key. The private key is a write only field and will never be exposed in the logs or the REST API.
      operationId: getRepositoryPipelineSshKeyPair
      parameters:
        - description: The account.
          in: path
          name: username
          required: true
          type: string
        - description: The repository.
          in: path
          name: repo_slug
          required: true
          type: string
      responses:
        '200':
          description: The SSH key pair.
          schema:
            $ref: '#/definitions/pipeline_ssh_key_pair'
        '404':
          description: 'The account, repository or SSH key pair was not found.'
          schema:
            $ref: '#/definitions/error'
      tags:
        - pipelines
    put:
      description: Create or update the repository SSH key pair. The private key will be set as a default SSH identity in your build container.
      operationId: updateRepositoryPipelineKeyPair
      parameters:
        - description: The account.
          in: path
          name: username
          required: true
          type: string
        - description: The repository.
          in: path
          name: repo_slug
          required: true
          type: string
        - description: The created or updated SSH key pair.
          in: body
          name: _body
          required: true
          schema:
            $ref: '#/definitions/pipeline_ssh_key_pair'
      responses:
        '200':
          description: The SSH key pair was created or updated.
          schema:
            $ref: '#/definitions/pipeline_ssh_key_pair'
        '404':
          description: 'The account, repository or SSH key pair was not found.'
          schema:
            $ref: '#/definitions/error'
      tags:
        - pipelines
  '/repositories/{username}/{repo_slug}/pipelines_config/ssh/known_hosts/':
    get:
      description: Find repository level known hosts.
      operationId: getRepositoryPipelineKnownHosts
      parameters:
        - description: The account.
          in: path
          name: username
          required: true
          type: string
        - description: The repository.
          in: path
          name: repo_slug
          required: true
          type: string
      responses:
        '200':
[...]
