swagger: '2.0'
schemes:
  - https
host: adminmanagement.local.azurestack.external
info:
  description: Region health operation endpoints and objects.
  title: InfrastructureInsightsManagementClient
  version: '2016-05-01'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/InfrastructureInsights/Microsoft.InfrastructureInsights.Admin/stable/2016-05-01/RegionHealth.json'
      version: '2.0'
  x-providerName: azure.com
  x-serviceName: azsadmin-RegionHealth
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  RegionParameter:
    description: Name of the region
    in: path
    name: region
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/Microsoft.InfrastructureInsights.Admin/regionHealths':
    get:
      description: Get the list of all regions health status.
      operationId: RegionHealths_List
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Location name.
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - default: '2016-05-01'
          description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
        - description: OData filter parameter.
          in: query
          name: $filter
          type: string
          x-ms-parameter-location: method
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RegionHealthList'
      tags:
        - RegionHealths
      x-ms-examples:
        Get the list of all health items for the region:
          parameters:
            api-version: '2016-05-01'
            location: local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            '200':
              body:
                nextLink: ''
                value:
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local
                    location: local
                    name: local
                    properties:
                      alertSummary:
                        criticalAlertCount: 0
                        warningAlertCount: 2
                      usageMetrics:
                        - metricsValue:
                            - name: Used
                              unit: GB
                              value: 76.24941635131836
                            - name: Available
                              unit: GB
                              value: 181.7333984375
                          name: Physical memory
                        - metricsValue:
                            - name: Used
                              unit: TB
                              value: 0.22170669212937355
                            - name: Available
                              unit: TB
                              value: 2.2449070774018764
                          name: Physical storage
                        - metricsValue:
                            - name: Used
                              unit: One
                              value: 31
                            - name: Available
                              unit: One
                              value: 480
                          name: Public IP address pools
                    tags: {}
                    type: Microsoft.InfrastructureInsights.Admin/regionHealths
      x-ms-odata: '#/definitions/Alert'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/{region}':
    get:
      description: Get health status of a region.
      operationId: RegionHealths_Get
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Location name.
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/RegionParameter'
        - default: '2016-05-01'
          description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RegionHealth'
      tags:
        - RegionHealths
      x-ms-examples:
        Get the health status of a region:
          parameters:
            api-version: '2016-05-01'
            location: local
            region: local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            '200':
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local
                location: local
                name: local
                properties:
                  alertSummary:
                    criticalAlertCount: 0
                    warningAlertCount: 2
                  usageMetrics:
                    - metricsValue:
                        - name: Used
                          unit: GB
                          value: 76.24941635131836
                        - name: Available
                          unit: GB
                          value: 181.7333984375
                      name: Physical memory
                    - metricsValue:
                        - name: Used
                          unit: TB
                          value: 0.22170669212937355
                        - name: Available
                          unit: TB
                          value: 2.2449070774018764
                      name: Physical storage
                    - metricsValue:
                        - name: Used
                          unit: One
                          value: 31
                        - name: Available
                          unit: One
                          value: 480
                      name: Public IP address pools
                tags: {}
                type: Microsoft.InfrastructureInsights.Admin/regionHealths
definitions:
  RegionHealth:
    allOf:
      - description: Base Resource Object
        properties:
          id:
            description: URI of the resource.
            type: string
          location:
            description: Location where resource is location.
            readOnly: true
            type: string
          name:
            description: Name of the resource.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: List of key value pairs.
            readOnly: true
            type: object
          type:
            description: Type of resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
    description: Contains information related to a regions health.
    properties:
      properties:
        $ref: '#/definitions/RegionHealthModel'
        description: Contains information related to a regions health.
        x-ms-client-flatten: true
  RegionHealthList:
    description: Pageable list of region health items.
    properties:
      nextLink:
        description: URI to next page.
        type: string
      value:
        description: Array of region health items
        items:
          $ref: '#/definitions/RegionHealth'
        type: array
  RegionHealthModel:
    description: Contains information related to a regions health.
    properties:
      alertSummary:
        description: Summary of the alerts.
        properties:
          criticalAlertCount:
            description: How many critical alerts this service has.
            type: integer
          warningAlertCount:
            description: How many warning alerts this service has.
            type: integer
      usageMetrics:
        description: List of usage metrics for this region.
        items:
          description: Metrics of resource usage.
          properties:
            metricsValue:
              description: List of usage metrics.
              items:
                description: Metrics for a source.
                properties:
                  maCounterName:
                    description: Name of the usage metric.
                    type: string
                  name:
                    description: Name of the usage metric.
                    type: string
                  observedTimestamp:
                    description: Name of the usage metric.
                    format: date-time
                    type: string
                  sourceName:
                    description: What created the metric.
                    enum:
                      - PhysicalNode
                      - VirtualMachine
                      - ResourceProvider
                    type: string
                    x-ms-enum:
                      modelAsString: true
                      name: MetricsSourceType
                  sourceType:
                    description: Name of the usage metric.
                    type: string
                  unit:
                    description: The unit of the metric.
                    enum:
                      - One
                      - Percentage
                      - B
                      - KB
                      - MB
                      - GB
                      - TB
                    type: string
                    x-ms-enum:
                      modelAsString: true
                      name: MetricsUnit
                  value:
                    description: Name of the usage metric.
                    format: double
                    type: number
              type: array
            name:
              description: Name of the usage metric.
              type: string
        type: array
