swagger: '2.0'
schemes:
  - https
  - http
host: medialive.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: API for AWS Elemental MediaLive
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: AWS Elemental MediaLive
  version: '2017-10-14'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/medialive-2017-10-14.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: medialive
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/medialive/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  /prod/channels:
    get:
      description: Produces list of channels that have been created
      operationId: ListChannels
      parameters:
        - description: Placeholder documentation for MaxResults
          in: query
          maximum: 1000
          minimum: 1
          name: maxResults
          required: false
          type: integer
        - description: Placeholder documentation for __string
          in: query
          name: nextToken
          required: false
          type: string
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListChannelsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a new channel
      operationId: CreateChannel
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              channelClass:
                description: A standard channel has two encoding pipelines and a single pipeline channel only has one.
                enum:
                  - STANDARD
                  - SINGLE_PIPELINE
                type: string
              destinations:
                description: Placeholder documentation for __listOfOutputDestination
                items:
                  $ref: '#/definitions/OutputDestination'
                type: array
              encoderSettings:
                description: Encoder Settings
                properties:
                  AudioDescriptions:
                    $ref: '#/definitions/__listOfAudioDescription'
                  AvailBlanking:
                    $ref: '#/definitions/AvailBlanking'
                    description: Settings for ad avail blanking.
                  AvailConfiguration:
                    $ref: '#/definitions/AvailConfiguration'
                    description: Event-wide configuration settings for ad avail insertion.
                  BlackoutSlate:
                    $ref: '#/definitions/BlackoutSlate'
                    description: Settings for blackout slate.
                  CaptionDescriptions:
                    $ref: '#/definitions/__listOfCaptionDescription'
                    description: Settings for caption decriptions
                  GlobalConfiguration:
                    $ref: '#/definitions/GlobalConfiguration'
                    description: Configuration settings that apply to the event as a whole.
                  OutputGroups:
                    $ref: '#/definitions/__listOfOutputGroup'
                  TimecodeConfig:
                    $ref: '#/definitions/TimecodeConfig'
                    description: Contains settings used to acquire and adjust timecode information from inputs.
                  VideoDescriptions:
                    $ref: '#/definitions/__listOfVideoDescription'
                type: object
              inputAttachments:
                description: Placeholder documentation for __listOfInputAttachment
                items:
                  $ref: '#/definitions/InputAttachment'
                type: array
              inputSpecification:
                description: Placeholder documentation for InputSpecification
                properties:
                  Codec:
                    $ref: '#/definitions/InputCodec'
                    description: Input codec
                  MaximumBitrate:
                    $ref: '#/definitions/InputMaximumBitrate'
                    description: 'Maximum input bitrate, categorized coarsely'
                  Resolution:
                    $ref: '#/definitions/InputResolution'
                    description: 'Input resolution, categorized coarsely'
                type: object
              logLevel:
                description: The log level the user wants for their channel.
                enum:
                  - ERROR
                  - WARNING
                  - INFO
                  - DEBUG
                  - DISABLED
                type: string
              name:
                description: Placeholder documentation for __string
                type: string
              requestId:
                description: Placeholder documentation for __string
                type: string
              reserved:
                description: Placeholder documentation for __string
                type: string
              roleArn:
                description: Placeholder documentation for __string
                type: string
              tags:
                additionalProperties:
                  $ref: '#/definitions/__string'
                description: Placeholder documentation for Tags
                type: object
            required:
              - encoderSettings
            type: object
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnprocessableEntityException
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        '482':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '483':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '484':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '485':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '486':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '487':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  '/prod/channels/{channelId}':
    delete:
      description: Starts deletion of channel. The associated outputs are also deleted.
      operationId: DeleteChannel
      parameters:
        - description: Placeholder documentation for __string
          in: path
          name: channelId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '485':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '486':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '487':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
    get:
      description: Gets details about a channel
      operationId: DescribeChannel
      parameters:
        - description: Placeholder documentation for __string
          in: path
          name: channelId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '485':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '486':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates a channel.
      operationId: UpdateChannel
      parameters:
        - description: Placeholder documentation for __string
          in: path
          name: channelId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              destinations:
                description: Placeholder documentation for __listOfOutputDestination
                items:
                  $ref: '#/definitions/OutputDestination'
                type: array
              encoderSettings:
                description: Encoder Settings
                properties:
                  AudioDescriptions:
                    $ref: '#/definitions/__listOfAudioDescription'
                  AvailBlanking:
                    $ref: '#/definitions/AvailBlanking'
                    description: Settings for ad avail blanking.
                  AvailConfiguration:
                    $ref: '#/definitions/AvailConfiguration'
                    description: Event-wide configuration settings for ad avail insertion.
                  BlackoutSlate:
                    $ref: '#/definitions/BlackoutSlate'
                    description: Settings for blackout slate.
                  CaptionDescriptions:
                    $ref: '#/definitions/__listOfCaptionDescription'
                    description: Settings for caption decriptions
                  GlobalConfiguration:
                    $ref: '#/definitions/GlobalConfiguration'
                    description: Configuration settings that apply to the event as a whole.
                  OutputGroups:
                    $ref: '#/definitions/__listOfOutputGroup'
                  TimecodeConfig:
                    $ref: '#/definitions/TimecodeConfig'
                    description: Contains settings used to acquire and adjust timecode information from inputs.
                  VideoDescriptions:
                    $ref: '#/definitions/__listOfVideoDescription'
                type: object
              inputAttachments:
                description: Placeholder documentation for __listOfInputAttachment
                items:
                  $ref: '#/definitions/InputAttachment'
                type: array
              inputSpecification:
                description: Placeholder documentation for InputSpecification
                properties:
                  Codec:
                    $ref: '#/definitions/InputCodec'
                    description: Input codec
                  MaximumBitrate:
                    $ref: '#/definitions/InputMaximumBitrate'
                    description: 'Maximum input bitrate, categorized coarsely'
                  Resolution:
                    $ref: '#/definitions/InputResolution'
                    description: 'Input resolution, categorized coarsely'
                type: object
              logLevel:
                description: The log level the user wants for their channel.
                enum:
                  - ERROR
                  - WARNING
                  - INFO
                  - DEBUG
                  - DISABLED
                type: string
              name:
                description: Placeholder documentation for __string
                type: string
              roleArn:
                description: Placeholder documentation for __string
                type: string
            required:
              - encoderSettings
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnprocessableEntityException
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        '482':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '483':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '484':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '485':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '486':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  '/prod/channels/{channelId}/channelClass':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Changes the class of the channel.
      operationId: UpdateChannelClass
      parameters:
        - description: Placeholder documentation for __string
          in: path
          name: channelId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              channelClass:
                description: A standard channel has two encoding pipelines and a single pipeline channel only has one.
                enum:
                  - STANDARD
                  - SINGLE_PIPELINE
                type: string
              destinations:
                description: Placeholder documentation for __listOfOutputDestination
                items:
                  $ref: '#/definitions/OutputDestination'
                type: array
            required:
              - channelClass
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateChannelClassResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnprocessableEntityException
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        '482':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '483':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '484':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '485':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '486':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '487':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '488':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  '/prod/channels/{channelId}/schedule':
    delete:
      description: Delete all schedule actions on a channel.
      operationId: DeleteSchedule
      parameters:
        - description: Placeholder documentation for __string
          in: path
          name: channelId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteScheduleResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '485':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '486':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    get:
      description: Get a channel schedule
      operationId: DescribeSchedule
      parameters:
        - description: Placeholder documentation for __string
          in: path
          name: channelId
          required: true
          type: string
        - description: Placeholder documentation for MaxResults
          in: query
          maximum: 1000
          minimum: 1
          name: maxResults
          required: false
          type: integer
        - description: Placeholder documentation for __string
          in: query
          name: nextToken
          required: false
          type: string
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeScheduleResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '485':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '486':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Update a channel schedule
      operationId: BatchUpdateSchedule
      parameters:
        - description: Placeholder documentation for __string
          in: path
          name: channelId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              creates:
                description: A list of schedule actions to create (in a request) or that have been created (in a response).
                properties:
                  ScheduleActions:
                    $ref: '#/definitions/__listOfScheduleAction'
                    description: A list of schedule actions to create.
                type: object
              deletes:
                description: A list of schedule actions to delete.
                properties:
                  ActionNames:
                    $ref: '#/definitions/__listOf__string'
                    description: A list of schedule actions to delete.
                type: object
            required:
              - creates
              - deletes
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchUpdateScheduleResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnprocessableEntityException
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        '482':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '483':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '484':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '485':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '486':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '487':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  '/prod/channels/{channelId}/start':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Starts an existing channel
      operationId: StartChannel
      parameters:
        - description: Placeholder documentation for __string
          in: path
          name: channelId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '485':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '486':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '487':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  '/prod/channels/{channelId}/stop':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Stops a running channel
      operationId: StopChannel
      parameters:
        - description: Placeholder documentation for __string
          in: path
          name: channelId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '485':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '486':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '487':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  /prod/inputSecurityGroups:
    get:
      description: Produces a list of Input Security Groups for an account
      operationId: ListInputSecurityGroups
      parameters:
        - description: Placeholder documentation for MaxResults
          in: query
          maximum: 1000
          minimum: 1
          name: maxResults
          required: false
          type: integer
        - description: Placeholder documentation for __string
          in: query
          name: nextToken
          required: false
          type: string
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListInputSecurityGroupsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a Input Security Group
      operationId: CreateInputSecurityGroup
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              tags:
                additionalProperties:
                  $ref: '#/definitions/__string'
                description: Placeholder documentation for Tags
                type: object
              whitelistRules:
                description: Placeholder documentation for __listOfInputWhitelistRuleCidr
                items:
                  $ref: '#/definitions/InputWhitelistRuleCidr'
                type: array
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateInputSecurityGroupResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  '/prod/inputSecurityGroups/{inputSecurityGroupId}':
    delete:
      description: Deletes an Input Security Group
      operationId: DeleteInputSecurityGroup
      parameters:
        - description: Placeholder documentation for __string
          in: path
          name: inputSecurityGroupId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteInputSecurityGroupResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '485':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '486':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    get:
      description: Produces a summary of an Input Security Group
      operationId: DescribeInputSecurityGroup
      parameters:
        - description: Placeholder documentation for __string
          in: path
          name: inputSecurityGroupId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeInputSecurityGroupResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '485':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '486':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Update an Input Security Group's Whilelists.
      operationId: UpdateInputSecurityGroup
      parameters:
        - description: Placeholder documentation for __string
          in: path
          name: inputSecurityGroupId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              tags:
                additionalProperties:
                  $ref: '#/definitions/__string'
                description: Placeholder documentation for Tags
                type: object
              whitelistRules:
                description: Placeholder documentation for __listOfInputWhitelistRuleCidr
                items:
                  $ref: '#/definitions/InputWhitelistRuleCidr'
                type: array
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateInputSecurityGroupResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '485':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '486':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  /prod/inputs:
    get:
      description: Produces list of inputs that have been created
      operationId: ListInputs
      parameters:
        - description: Placeholder documentation for MaxResults
          in: query
          maximum: 1000
          minimum: 1
          name: maxResults
          required: false
          type: integer
        - description: Placeholder documentation for __string
          in: query
          name: nextToken
          required: false
          type: string
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListInputsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Create an input
      operationId: CreateInput
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              destinations:
                description: Placeholder documentation for __listOfInputDestinationRequest
                items:
                  $ref: '#/definitions/InputDestinationRequest'
                type: array
              inputSecurityGroups:
                description: Placeholder documentation for __listOf__string
                items:
                  $ref: '#/definitions/__string'
                type: array
              mediaConnectFlows:
                description: Placeholder documentation for __listOfMediaConnectFlowRequest
                items:
                  $ref: '#/definitions/MediaConnectFlowRequest'
                type: array
              name:
                description: Placeholder documentation for __string
                type: string
              requestId:
                description: Placeholder documentation for __string
                type: string
              roleArn:
                description: Placeholder documentation for __string
                type: string
              sources:
                description: Placeholder documentation for __listOfInputSourceRequest
                items:
                  $ref: '#/definitions/InputSourceRequest'
                type: array
              tags:
                additionalProperties:
                  $ref: '#/definitions/__string'
                description: Placeholder documentation for Tags
                type: object
              type:
                description: Placeholder documentation for InputType
                enum:
                  - UDP_PUSH
                  - RTP_PUSH
                  - RTMP_PUSH
                  - RTMP_PULL
                  - URL_PULL
                  - MP4_FILE
                  - MEDIACONNECT
                type: string
              vpc:
                description: |
                  Settings for a private VPC Input.
                  When this property is specified, the input destination addresses will be created in a VPC rather than with public Internet addresses.
                  This property requires setting the roleArn property on Input creation.
                  Not compatible with the inputSecurityGroups property.
                properties:
                  SecurityGroupIds:
                    $ref: '#/definitions/__listOf__string'
                    description: |
                      A list of up to 5 EC2 VPC security group IDs to attach to the Input VPC network interfaces.
                      Requires subnetIds. If none are specified then the VPC default security group will be used.
                  SubnetIds:
                    $ref: '#/definitions/__listOf__string'
                    description: |
                      A list of 2 VPC subnet IDs from the same VPC.
                      Subnet IDs must be mapped to two unique availability zones (AZ).
                type: object
            required:
              - vpc
            type: object
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateInputResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  '/prod/inputs/{inputId}':
    delete:
      description: Deletes the input end point
      operationId: DeleteInput
      parameters:
        - description: Placeholder documentation for __string
          in: path
          name: inputId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteInputResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '485':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '486':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '487':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
    get:
      description: Produces details about an input
      operationId: DescribeInput
      parameters:
        - description: Placeholder documentation for __string
          in: path
          name: inputId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeInputResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '485':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '486':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates an input.
      operationId: UpdateInput
      parameters:
        - description: Placeholder documentation for __string
          in: path
          name: inputId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              destinations:
                description: Placeholder documentation for __listOfInputDestinationRequest
                items:
                  $ref: '#/definitions/InputDestinationRequest'
                type: array
              inputSecurityGroups:
                description: Placeholder documentation for __listOf__string
                items:
                  $ref: '#/definitions/__string'
                type: array
              mediaConnectFlows:
                description: Placeholder documentation for __listOfMediaConnectFlowRequest
                items:
                  $ref: '#/definitions/MediaConnectFlowRequest'
                type: array
              name:
                description: Placeholder documentation for __string
                type: string
              roleArn:
                description: Placeholder documentation for __string
                type: string
              sources:
                description: Placeholder documentation for __listOfInputSourceRequest
                items:
                  $ref: '#/definitions/InputSourceRequest'
                type: array
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateInputResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '485':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '486':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  /prod/offerings:
    get:
      description: List offerings available for purchase.
      operationId: ListOfferings
      parameters:
        - description: Placeholder documentation for __string
          in: query
          name: channelClass
          required: false
          type: string
        - description: Placeholder documentation for __string
          in: query
          name: channelConfiguration
          required: false
          type: string
        - description: Placeholder documentation for __string
          in: query
          name: codec
          required: false
          type: string
        - description: Placeholder documentation for MaxResults
          in: query
          maximum: 1000
          minimum: 1
          name: maxResults
          required: false
          type: integer
        - description: Placeholder documentation for __string
          in: query
          name: maximumBitrate
          required: false
          type: string
        - description: Placeholder documentation for __string
          in: query
          name: maximumFramerate
          required: false
          type: string
        - description: Placeholder documentation for __string
          in: query
          name: nextToken
          required: false
          type: string
        - description: Placeholder documentation for __string
          in: query
          name: resolution
          required: false
          type: string
        - description: Placeholder documentation for __string
          in: query
          name: resourceType
          required: false
          type: string
        - description: Placeholder documentation for __string
          in: query
          name: specialFeature
          required: false
          type: string
        - description: Placeholder documentation for __string
          in: query
          name: videoQuality
          required: false
          type: string
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListOfferingsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/prod/offerings/{offeringId}':
    get:
      description: Get details for an offering.
      operationId: DescribeOffering
      parameters:
        - description: Placeholder documentation for __string
          in: path
          name: offeringId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeOfferingResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '485':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '486':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/prod/offerings/{offeringId}/purchase':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Purchase an offering and create a reservation.
      operationId: PurchaseOffering
      parameters:
        - description: Placeholder documentation for __string
          in: path
          name: offeringId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              count:
                description: Placeholder documentation for __integerMin1
                minimum: 1
                type: integer
              name:
                description: Placeholder documentation for __string
                type: string
              requestId:
                description: Placeholder documentation for __string
                type: string
              start:
                description: Placeholder documentation for __string
                type: string
              tags:
                additionalProperties:
                  $ref: '#/definitions/__string'
                description: Placeholder documentation for Tags
                type: object
            required:
              - count
            type: object
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/PurchaseOfferingResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '485':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '486':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '487':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  /prod/reservations:
    get:
      description: List purchased reservations.
      operationId: ListReservations
      parameters:
        - description: Placeholder documentation for __string
          in: query
          name: channelClass
          required: false
          type: string
        - description: Placeholder documentation for __string
          in: query
          name: codec
          required: false
          type: string
        - description: Placeholder documentation for MaxResults
          in: query
          maximum: 1000
          minimum: 1
          name: maxResults
          required: false
          type: integer
        - description: Placeholder documentation for __string
          in: query
          name: maximumBitrate
          required: false
          type: string
        - description: Placeholder documentation for __string
          in: query
          name: maximumFramerate
          required: false
          type: string
        - description: Placeholder documentation for __string
          in: query
          name: nextToken
          required: false
          type: string
        - description: Placeholder documentation for __string
          in: query
          name: resolution
          required: false
          type: string
        - description: Placeholder documentation for __string
          in: query
          name: resourceType
          required: false
          type: string
        - description: Placeholder documentation for __string
          in: query
          name: specialFeature
          required: false
          type: string
        - description: Placeholder documentation for __string
          in: query
          name: videoQuality
          required: false
          type: string
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListReservationsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/prod/reservations/{reservationId}':
    delete:
      description: Delete an expired reservation.
      operationId: DeleteReservation
      parameters:
        - description: Placeholder documentation for __string
          in: path
          name: reservationId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteReservationResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '485':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '486':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '487':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
    get:
      description: Get details for a reservation.
      operationId: DescribeReservation
      parameters:
        - description: Placeholder documentation for __string
          in: path
          name: reservationId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeReservationResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '485':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '486':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Update reservation.
      operationId: UpdateReservation
      parameters:
        - description: Placeholder documentation for __string
          in: path
          name: reservationId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              name:
                description: Placeholder documentation for __string
                type: string
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateReservationResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '485':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '486':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '487':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  '/prod/tags/{resource-arn}':
    get:
      description: Produces list of tags that have been created for a resource
      operationId: ListTagsForResource
      parameters:
        - description: Placeholder documentation for __string
          in: path
          name: resource-arn
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForResourceResponse'
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '482':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '483':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Create tags for a resource
      operationId: CreateTags
      parameters:
        - description: Placeholder documentation for __string
          in: path
          name: resource-arn
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              tags:
                additionalProperties:
                  $ref: '#/definitions/__string'
                description: Placeholder documentation for Tags
                type: object
            type: object
      responses:
        '204':
          description: Success
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '482':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '483':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
  '/prod/tags/{resource-arn}#tagKeys':
    delete:
      description: Removes tags for a resource
      operationId: DeleteTags
      parameters:
        - description: Placeholder documentation for __string
          in: path
          name: resource-arn
          required: true
          type: string
        - description: Placeholder documentation for __listOf__string
          in: query
          items:
            type: string
          name: tagKeys
          required: true
          type: array
      responses:
        '204':
          description: Success
        '480':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '481':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '482':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '483':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  AacCodingMode:
    description: Aac Coding Mode
    enum:
      - AD_RECEIVER_MIX
      - CODING_MODE_1_0
      - CODING_MODE_1_1
      - CODING_MODE_2_0
      - CODING_MODE_5_1
    type: string
  AacInputType:
    description: Aac Input Type
    enum:
      - BROADCASTER_MIXED_AD
      - NORMAL
    type: string
  AacProfile:
    description: Aac Profile
    enum:
      - HEV1
      - HEV2
      - LC
    type: string
  AacRateControlMode:
    description: Aac Rate Control Mode
    enum:
      - CBR
      - VBR
    type: string
  AacRawFormat:
    description: Aac Raw Format
    enum:
      - LATM_LOAS
      - NONE
    type: string
  AacSettings:
    description: Aac Settings
    properties:
      Bitrate:
        $ref: '#/definitions/__double'
        description: Average bitrate in bits/second. Valid values depend on rate control mode and profile.
      CodingMode:
        $ref: '#/definitions/AacCodingMode'
        description: 'Mono, Stereo, or 5.1 channel layout. Valid values depend on rate control mode and profile. The adReceiverMix setting receives a stereo description plus control track and emits a mono AAC encode of the description track, with control data emitted in the PES header as per ETSI TS 101 154 Annex E.'
      InputType:
        $ref: '#/definitions/AacInputType'
        description: |-
          Set to "broadcasterMixedAd" when input contains pre-mixed main audio + AD (narration) as a stereo pair.  The Audio Type field (audioType) will be set to 3, which signals to downstream systems that this stream contains "broadcaster mixed AD". Note that the input received by the encoder must contain pre-mixed audio; the encoder does not perform the mixing. The values in audioTypeControl and audioType (in AudioDescription) are ignored when set to broadcasterMixedAd.

          Leave set to "normal" when input does not contain pre-mixed audio + AD.
      Profile:
        $ref: '#/definitions/AacProfile'
        description: AAC Profile.
      RateControlMode:
        $ref: '#/definitions/AacRateControlMode'
        description: Rate Control Mode.
      RawFormat:
        $ref: '#/definitions/AacRawFormat'
        description: Sets LATM / LOAS AAC output for raw containers.
      SampleRate:
        $ref: '#/definitions/__double'
        description: Sample rate in Hz. Valid values depend on rate control mode and profile.
      Spec:
        $ref: '#/definitions/AacSpec'
        description: Use MPEG-2 AAC audio instead of MPEG-4 AAC audio for raw or MPEG-2 Transport Stream containers.
      VbrQuality:
        $ref: '#/definitions/AacVbrQuality'
        description: VBR Quality Level - Only used if rateControlMode is VBR.
    type: object
  AacSpec:
    description: Aac Spec
    enum:
      - MPEG2
      - MPEG4
    type: string
  AacVbrQuality:
    description: Aac Vbr Quality
    enum:
      - HIGH
      - LOW
      - MEDIUM_HIGH
      - MEDIUM_LOW
    type: string
  Ac3BitstreamMode:
    description: Ac3 Bitstream Mode
    enum:
      - COMMENTARY
      - COMPLETE_MAIN
      - DIALOGUE
      - EMERGENCY
      - HEARING_IMPAIRED
      - MUSIC_AND_EFFECTS
      - VISUALLY_IMPAIRED
      - VOICE_OVER
    type: string
  Ac3CodingMode:
    description: Ac3 Coding Mode
    enum:
      - CODING_MODE_1_0
      - CODING_MODE_1_1
      - CODING_MODE_2_0
      - CODING_MODE_3_2_LFE
    type: string
  Ac3DrcProfile:
    description: Ac3 Drc Profile
    enum:
      - FILM_STANDARD
      - NONE
    type: string
  Ac3LfeFilter:
    description: Ac3 Lfe Filter
    enum:
      - DISABLED
      - ENABLED
    type: string
  Ac3MetadataControl:
    description: Ac3 Metadata Control
    enum:
      - FOLLOW_INPUT
      - USE_CONFIGURED
    type: string
  Ac3Settings:
    description: Ac3 Settings
    properties:
      Bitrate:
        $ref: '#/definitions/__double'
        description: Average bitrate in bits/second. Valid bitrates depend on the coding mode.
      BitstreamMode:
        $ref: '#/definitions/Ac3BitstreamMode'
        description: Specifies the bitstream mode (bsmod) for the emitted AC-3 stream. See ATSC A/52-2012 for background on these values.
      CodingMode:
        $ref: '#/definitions/Ac3CodingMode'
        description: Dolby Digital coding mode. Determines number of channels.
      Dialnorm:
        $ref: '#/definitions/__integerMin1Max31'
        description: 'Sets the dialnorm for the output. If excluded and input audio is Dolby Digital, dialnorm will be passed through.'
      DrcProfile:
        $ref: '#/definitions/Ac3DrcProfile'
        description: 'If set to filmStandard, adds dynamic range compression signaling to the output bitstream as defined in the Dolby Digital specification.'
      LfeFilter:
        $ref: '#/definitions/Ac3LfeFilter'
        description: 'When set to enabled, applies a 120Hz lowpass filter to the LFE channel prior to encoding. Only valid in codingMode32Lfe mode.'
      MetadataControl:
        $ref: '#/definitions/Ac3MetadataControl'
        description: 'When set to "followInput", encoder metadata will be sourced from the DD, DD+, or DolbyE decoder that supplied this audio data. If audio was not supplied from one of these streams, then the static metadata settings will be used.'
    type: object
  AfdSignaling:
    description: Afd Signaling
    enum:
      - AUTO
      - FIXED
      - NONE
    type: string
  ArchiveContainerSettings:
    description: Archive Container Settings
    properties:
      M2tsSettings:
        $ref: '#/definitions/M2tsSettings'
    type: object
  ArchiveGroupSettings:
    description: Archive Group Settings
    properties:
      Destination:
        $ref: '#/definitions/OutputLocationRef'
        description: A directory and base filename where archive files should be written.
      RolloverInterval:
        $ref: '#/definitions/__integerMin1'
        description: Number of seconds to write to archive file before closing and starting a new one.
    required:
      - Destination
    type: object
  ArchiveOutputSettings:
    description: Archive Output Settings
    properties:
      ContainerSettings:
        $ref: '#/definitions/ArchiveContainerSettings'
        description: Settings specific to the container type of the file.
      Extension:
        $ref: '#/definitions/__string'
        description: 'Output file extension. If excluded, this will be auto-selected from the container type.'
      NameModifier:
        $ref: '#/definitions/__string'
        description: String concatenated to the end of the destination filename.  Required for multiple outputs of the same type.
    required:
      - ContainerSettings
    type: object
  AribDestinationSettings:
    description: Arib Destination Settings
    properties: {}
    type: object
  AribSourceSettings:
    description: Arib Source Settings
    properties: {}
    type: object
  AudioChannelMapping:
    description: Audio Channel Mapping
    properties:
      InputChannelLevels:
        $ref: '#/definitions/__listOfInputChannelLevel'
        description: Indices and gain values for each input channel that should be remixed into this output channel.
      OutputChannel:
        $ref: '#/definitions/__integerMin0Max7'
        description: The index of the output channel being produced.
    required:
      - OutputChannel
      - InputChannelLevels
    type: object
  AudioCodecSettings:
    description: Audio Codec Settings
    properties:
      AacSettings:
        $ref: '#/definitions/AacSettings'
      Ac3Settings:
        $ref: '#/definitions/Ac3Settings'
      Eac3Settings:
        $ref: '#/definitions/Eac3Settings'
      Mp2Settings:
        $ref: '#/definitions/Mp2Settings'
      PassThroughSettings:
        $ref: '#/definitions/PassThroughSettings'
    type: object
  AudioDescription:
    description: Audio Description
    properties:
      AudioNormalizationSettings:
        $ref: '#/definitions/AudioNormalizationSettings'
        description: Advanced audio normalization settings.
      AudioSelectorName:
        $ref: '#/definitions/__string'
        description: The name of the AudioSelector used as the source for this AudioDescription.
      AudioType:
        $ref: '#/definitions/AudioType'
        description: Applies only if audioTypeControl is useConfigured. The values for audioType are defined in ISO-IEC 13818-1.
      AudioTypeControl:
        $ref: '#/definitions/AudioDescriptionAudioTypeControl'
        description: |-
          Determines how audio type is determined.
            followInput: If the input contains an ISO 639 audioType, then that value is passed through to the output. If the input contains no ISO 639 audioType, the value in Audio Type is included in the output.
            useConfigured: The value in Audio Type is included in the output.
          Note that this field and audioType are both ignored if inputType is broadcasterMixedAd.
      CodecSettings:
        $ref: '#/definitions/AudioCodecSettings'
        description: Audio codec settings.
      LanguageCode:
        $ref: '#/definitions/__stringMin3Max3'
        description: 'Indicates the language of the audio output track. Only used if languageControlMode is useConfigured, or there is no ISO 639 language code specified in the input.'
      LanguageCodeControl:
        $ref: '#/definitions/AudioDescriptionLanguageCodeControl'
        description: 'Choosing followInput will cause the ISO 639 language code of the output to follow the ISO 639 language code of the input. The languageCode will be used when useConfigured is set, or when followInput is selected but there is no ISO 639 language code specified by the input.'
      Name:
        $ref: '#/definitions/__string'
        description: The name of this AudioDescription. Outputs will use this name to uniquely identify this AudioDescription.  Description names should be unique within this Live Event.
      RemixSettings:
        $ref: '#/definitions/RemixSettings'
        description: Settings that control how input audio channels are remixed into the output audio channels.
      StreamName:
        $ref: '#/definitions/__string'
        description: 'Used for MS Smooth and Apple HLS outputs. Indicates the name displayed by the player (eg. English, or Director Commentary).'
    required:
      - AudioSelectorName
      - Name
    type: object
  AudioDescriptionAudioTypeControl:
    description: Audio Description Audio Type Control
    enum:
      - FOLLOW_INPUT
      - USE_CONFIGURED
    type: string
  AudioDescriptionLanguageCodeControl:
    description: Audio Description Language Code Control
    enum:
      - FOLLOW_INPUT
      - USE_CONFIGURED
    type: string
  AudioLanguageSelection:
    description: Audio Language Selection
    properties:
      LanguageCode:
        $ref: '#/definitions/__string'
        description: Selects a specific three-letter language code from within an audio source.
      LanguageSelectionPolicy:
        $ref: '#/definitions/AudioLanguageSelectionPolicy'
        description: 'When set to "strict", the transport stream demux strictly identifies audio streams by their language descriptor. If a PMT update occurs such that an audio stream matching the initially selected language is no longer present then mute will be encoded until the language returns. If "loose", then on a PMT update the demux will choose another audio stream in the program with the same stream type if it can''t find one with the same language.'
    required:
      - LanguageCode
    type: object
  AudioLanguageSelectionPolicy:
    description: Audio Language Selection Policy
    enum:
      - LOOSE
      - STRICT
    type: string
  AudioNormalizationAlgorithm:
    description: Audio Normalization Algorithm
    enum:
      - ITU_1770_1
      - ITU_1770_2
    type: string
  AudioNormalizationAlgorithmControl:
    description: Audio Normalization Algorithm Control
    enum:
      - CORRECT_AUDIO
    type: string
  AudioNormalizationSettings:
    description: Audio Normalization Settings
    properties:
      Algorithm:
        $ref: '#/definitions/AudioNormalizationAlgorithm'
        description: 'Audio normalization algorithm to use. itu17701 conforms to the CALM Act specification, itu17702 conforms to the EBU R-128 specification.'
      AlgorithmControl:
        $ref: '#/definitions/AudioNormalizationAlgorithmControl'
        description: 'When set to correctAudio the output audio is corrected using the chosen algorithm. If set to measureOnly, the audio will be measured but not adjusted.'
      TargetLkfs:
        $ref: '#/definitions/__doubleMinNegative59Max0'
        description: 'Target LKFS(loudness) to adjust volume to. If no value is entered, a default value will be used according to the chosen algorithm.  The CALM Act (1770-1) recommends a target of -24 LKFS. The EBU R-128 specification (1770-2) recommends a target of -23 LKFS.'
    type: object
  AudioOnlyHlsSettings:
    description: Audio Only Hls Settings
    properties:
      AudioGroupId:
        $ref: '#/definitions/__string'
        description: Specifies the group to which the audio Rendition belongs.
      AudioOnlyImage:
        $ref: '#/definitions/InputLocation'
        description: 'For use with an audio only Stream. Must be a .jpg or .png file. If given, this image will be used as the cover-art for the audio only output. Ideally, it should be formatted for an iPhone screen for two reasons. The iPhone does not resize the image, it crops a centered image on the top/bottom and left/right. Additionally, this image file gets saved bit-for-bit into every 10-second segment file, so will increase bandwidth by {image file size} * {segment count} * {user count.}.'
      AudioTrackType:
        $ref: '#/definitions/AudioOnlyHlsTrackType'
        description: |-
          Four types of audio-only tracks are supported:

          Audio-Only Variant Stream
          The client can play back this audio-only stream instead of video in low-bandwidth scenarios. Represented as an EXT-X-STREAM-INF in the HLS manifest.

          Alternate Audio, Auto Select, Default
          Alternate rendition that the client should try to play back by default. Represented as an EXT-X-MEDIA in the HLS manifest with DEFAULT=YES, AUTOSELECT=YES

          Alternate Audio, Auto Select, Not Default
          Alternate rendition that the client may try to play back by default. Represented as an EXT-X-MEDIA in the HLS manifest with DEFAULT=NO, AUTOSELECT=YES

          Alternate Audio, not Auto Select
          Alternate rendition that the client will not try to play back by default. Represented as an EXT-X-MEDIA in the HLS manifest with DEFAULT=NO, AUTOSELECT=NO
    type: object
  AudioOnlyHlsTrackType:
    description: Audio Only Hls Track Type
    enum:
      - ALTERNATE_AUDIO_AUTO_SELECT
      - ALTERNATE_AUDIO_AUTO_SELECT_DEFAULT
      - ALTERNATE_AUDIO_NOT_AUTO_SELECT
      - AUDIO_ONLY_VARIANT_STREAM
    type: string
  AudioPidSelection:
    description: Audio Pid Selection
    properties:
      Pid:
        $ref: '#/definitions/__integerMin0Max8191'
        description: Selects a specific PID from within a source.
    required:
      - Pid
    type: object
  AudioSelector:
    description: Audio Selector
    properties:
      Name:
        $ref: '#/definitions/__stringMin1'
        description: The name of this AudioSelector. AudioDescriptions will use this name to uniquely identify this Selector.  Selector names should be unique per input.
      SelectorSettings:
        $ref: '#/definitions/AudioSelectorSettings'
        description: The audio selector settings.
    required:
      - Name
    type: object
  AudioSelectorSettings:
    description: Audio Selector Settings
    properties:
      AudioLanguageSelection:
        $ref: '#/definitions/AudioLanguageSelection'
      AudioPidSelection:
        $ref: '#/definitions/AudioPidSelection'
    type: object
  AudioType:
    description: Audio Type
    enum:
      - CLEAN_EFFECTS
      - HEARING_IMPAIRED
      - UNDEFINED
      - VISUAL_IMPAIRED_COMMENTARY
    type: string
  AuthenticationScheme:
    description: Authentication Scheme
    enum:
      - AKAMAI
      - COMMON
    type: string
  AvailBlanking:
    description: Avail Blanking
    properties:
      AvailBlankingImage:
        $ref: '#/definitions/InputLocation'
        description: Blanking image to be used. Leave empty for solid black. Only bmp and png images are supported.
      State:
        $ref: '#/definitions/AvailBlankingState'
        description: 'When set to enabled, causes video, audio and captions to be blanked when insertion metadata is added.'
    type: object
  AvailBlankingState:
    description: Avail Blanking State
    enum:
      - DISABLED
      - ENABLED
    type: string
  AvailConfiguration:
    description: Avail Configuration
    properties:
      AvailSettings:
        $ref: '#/definitions/AvailSettings'
        description: Ad avail settings.
    type: object
  AvailSettings:
    description: Avail Settings
    properties:
      Scte35SpliceInsert:
        $ref: '#/definitions/Scte35SpliceInsert'
      Scte35TimeSignalApos:
        $ref: '#/definitions/Scte35TimeSignalApos'
    type: object
  BadGatewayException: {}
  BadRequestException: {}
  BatchScheduleActionCreateRequest:
    description: A list of schedule actions to create (in a request) or that have been created (in a response).
    properties:
      ScheduleActions:
        $ref: '#/definitions/__listOfScheduleAction'
        description: A list of schedule actions to create.
    required:
      - ScheduleActions
    type: object
  BatchScheduleActionCreateResult:
    description: List of actions that have been created in the schedule.
    properties:
      ScheduleActions:
        $ref: '#/definitions/__listOfScheduleAction'
        description: List of actions that have been created in the schedule.
    required:
      - ScheduleActions
    type: object
  BatchScheduleActionDeleteRequest:
    description: A list of schedule actions to delete.
    properties:
      ActionNames:
        $ref: '#/definitions/__listOf__string'
        description: A list of schedule actions to delete.
    required:
      - ActionNames
    type: object
  BatchScheduleActionDeleteResult:
    description: List of actions that have been deleted from the schedule.
    properties:
      ScheduleActions:
        $ref: '#/definitions/__listOfScheduleAction'
        description: List of actions that have been deleted from the schedule.
    required:
      - ScheduleActions
    type: object
  BatchUpdateScheduleRequest:
    description: List of actions to create and list of actions to delete.
    properties:
      Creates:
        $ref: '#/definitions/BatchScheduleActionCreateRequest'
        description: Schedule actions to create in the schedule.
      Deletes:
        $ref: '#/definitions/BatchScheduleActionDeleteRequest'
        description: Schedule actions to delete from the schedule.
    type: object
  BatchUpdateScheduleResponse:
    description: Placeholder documentation for BatchUpdateScheduleResponse
    properties:
      Creates:
        $ref: '#/definitions/BatchScheduleActionCreateResult'
        description: Schedule actions created in the schedule.
      Deletes:
        $ref: '#/definitions/BatchScheduleActionDeleteResult'
        description: Schedule actions deleted from the schedule.
    type: object
  BlackoutSlate:
    description: Blackout Slate
    properties:
      BlackoutSlateImage:
        $ref: '#/definitions/InputLocation'
        description: Blackout slate image to be used. Leave empty for solid black. Only bmp and png images are supported.
      NetworkEndBlackout:
        $ref: '#/definitions/BlackoutSlateNetworkEndBlackout'
        description: 'Setting to enabled causes the encoder to blackout the video, audio, and captions, and raise the "Network Blackout Image" slate when an SCTE104/35 Network End Segmentation Descriptor is encountered. The blackout will be lifted when the Network Start Segmentation Descriptor is encountered. The Network End and Network Start descriptors must contain a network ID that matches the value entered in "Network ID".'
      NetworkEndBlackoutImage:
        $ref: '#/definitions/InputLocation'
        description: Path to local file to use as Network End Blackout image. Image will be scaled to fill the entire output raster.
      NetworkId:
        $ref: '#/definitions/__stringMin34Max34'
        description: 'Provides Network ID that matches EIDR ID format (e.g., "10.XXXX/XXXX-XXXX-XXXX-XXXX-XXXX-C").'
      State:
        $ref: '#/definitions/BlackoutSlateState'
        description: 'When set to enabled, causes video, audio and captions to be blanked when indicated by program metadata.'
    type: object
  BlackoutSlateNetworkEndBlackout:
    description: Blackout Slate Network End Blackout
    enum:
      - DISABLED
      - ENABLED
    type: string
  BlackoutSlateState:
    description: Blackout Slate State
    enum:
      - DISABLED
      - ENABLED
    type: string
  BurnInAlignment:
    description: Burn In Alignment
    enum:
      - CENTERED
      - LEFT
      - SMART
    type: string
  BurnInBackgroundColor:
    description: Burn In Background Color
    enum:
      - BLACK
      - NONE
      - WHITE
    type: string
  BurnInDestinationSettings:
    description: Burn In Destination Settings
    properties:
      Alignment:
        $ref: '#/definitions/BurnInAlignment'
        description: 'If no explicit xPosition or yPosition is provided, setting alignment to centered will place the captions at the bottom center of the output. Similarly, setting a left alignment will align captions to the bottom left of the output. If x and y positions are given in conjunction with the alignment parameter, the font will be justified (either left or centered) relative to those coordinates. Selecting "smart" justification will left-justify live subtitles and center-justify pre-recorded subtitles.  All burn-in and DVB-Sub font settings must match.'
      BackgroundColor:
        $ref: '#/definitions/BurnInBackgroundColor'
        description: Specifies the color of the rectangle behind the captions.  All burn-in and DVB-Sub font settings must match.
      BackgroundOpacity:
        $ref: '#/definitions/__integerMin0Max255'
        description: Specifies the opacity of the background rectangle. 255 is opaque; 0 is transparent. Leaving this parameter out is equivalent to setting it to 0 (transparent).  All burn-in and DVB-Sub font settings must match.
      Font:
        $ref: '#/definitions/InputLocation'
        description: 'External font file used for caption burn-in. File extension must be ''ttf'' or ''tte''.  Although the user can select output fonts for many different types of input captions,  embedded, STL and teletext sources use a strict grid system. Using external fonts with these caption sources could cause unexpected display of proportional fonts.  All burn-in and DVB-Sub font settings must match.'
      FontColor:
        $ref: '#/definitions/BurnInFontColor'
        description: 'Specifies the color of the burned-in captions.  This option is not valid for source captions that are STL, 608/embedded or teletext.  These source settings are already pre-defined by the caption stream.  All burn-in and DVB-Sub font settings must match.'
      FontOpacity:
        $ref: '#/definitions/__integerMin0Max255'
        description: Specifies the opacity of the burned-in captions. 255 is opaque; 0 is transparent.  All burn-in and DVB-Sub font settings must match.
      FontResolution:
        $ref: '#/definitions/__integerMin96Max600'
        description: Font resolution in DPI (dots per inch); default is 96 dpi.  All burn-in and DVB-Sub font settings must match.
      FontSize:
        $ref: '#/definitions/__string'
        description: When set to 'auto' fontSize will scale depending on the size of the output.  Giving a positive integer will specify the exact font size in points.  All burn-in and DVB-Sub font settings must match.
      OutlineColor:
        $ref: '#/definitions/BurnInOutlineColor'
        description: Specifies font outline color. This option is not valid for source captions that are either 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.
      OutlineSize:
        $ref: '#/definitions/__integerMin0Max10'
        description: Specifies font outline size in pixels. This option is not valid for source captions that are either 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.
      ShadowColor:
        $ref: '#/definitions/BurnInShadowColor'
        description: Specifies the color of the shadow cast by the captions.  All burn-in and DVB-Sub font settings must match.
      ShadowOpacity:
        $ref: '#/definitions/__integerMin0Max255'
        description: Specifies the opacity of the shadow. 255 is opaque; 0 is transparent. Leaving this parameter out is equivalent to setting it to 0 (transparent).  All burn-in and DVB-Sub font settings must match.
      ShadowXOffset:
        $ref: '#/definitions/__integer'
        description: Specifies the horizontal offset of the shadow relative to the captions in pixels. A value of -2 would result in a shadow offset 2 pixels to the left.  All burn-in and DVB-Sub font settings must match.
      ShadowYOffset:
        $ref: '#/definitions/__integer'
        description: Specifies the vertical offset of the shadow relative to the captions in pixels. A value of -2 would result in a shadow offset 2 pixels above the text.  All burn-in and DVB-Sub font settings must match.
      TeletextGridControl:
        $ref: '#/definitions/BurnInTeletextGridControl'
        description: Controls whether a fixed grid size will be used to generate the output subtitles bitmap. Only applicable for Teletext inputs and DVB-Sub/Burn-in outputs.
      XPosition:
        $ref: '#/definitions/__integerMin0'
        description: 'Specifies the horizontal position of the caption relative to the left side of the output in pixels. A value of 10 would result in the captions starting 10 pixels from the left of the output. If no explicit xPosition is provided, the horizontal caption position will be determined by the alignment parameter.  All burn-in and DVB-Sub font settings must match.'
      YPosition:
        $ref: '#/definitions/__integerMin0'
        description: 'Specifies the vertical position of the caption relative to the top of the output in pixels. A value of 10 would result in the captions starting 10 pixels from the top of the output. If no explicit yPosition is provided, the caption will be positioned towards the bottom of the output.  All burn-in and DVB-Sub font settings must match.'
    type: object
  BurnInFontColor:
    description: Burn In Font Color
    enum:
      - BLACK
      - BLUE
      - GREEN
      - RED
      - WHITE
      - YELLOW
    type: string
  BurnInOutlineColor:
    description: Burn In Outline Color
    enum:
      - BLACK
      - BLUE
      - GREEN
      - RED
      - WHITE
      - YELLOW
    type: string
  BurnInShadowColor:
    description: Burn In Shadow Color
    enum:
      - BLACK
      - NONE
      - WHITE
    type: string
  BurnInTeletextGridControl:
    description: Burn In Teletext Grid Control
    enum:
      - FIXED
      - SCALED
    type: string
  CaptionDescription:
    description: Output groups for this Live Event. Output groups contain information about where streams should be distributed.
    properties:
      CaptionSelectorName:
        $ref: '#/definitions/__string'
        description: Specifies which input caption selector to use as a caption source when generating output captions. This field should match a captionSelector name.
      DestinationSettings:
        $ref: '#/definitions/CaptionDestinationSettings'
        description: Additional settings for captions destination that depend on the destination type.
      LanguageCode:
        $ref: '#/definitions/__string'
        description: 'ISO 639-2 three-digit code: http://www.loc.gov/standards/iso639-2/'
      LanguageDescription:
        $ref: '#/definitions/__string'
        description: 'Human readable information to indicate captions available for players (eg. English, or Spanish).'
      Name:
        $ref: '#/definitions/__string'
        description: Name of the caption description.  Used to associate a caption description with an output.  Names must be unique within an event.
    required:
      - CaptionSelectorName
      - Name
    type: object
  CaptionDestinationSettings:
    description: Caption Destination Settings
    properties:
      AribDestinationSettings:
        $ref: '#/definitions/AribDestinationSettings'
      BurnInDestinationSettings:
        $ref: '#/definitions/BurnInDestinationSettings'
      DvbSubDestinationSettings:
[...]
