swagger: '2.0'
info:
  version: '2017-10-14'
  x-release: v4
  title: AWS Elemental MediaLive
  description: API for AWS Elemental MediaLive
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: medialive
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/medialive-2017-10-14.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/medialive/'
host: medialive.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: query
    type: string
    required: true
  Version:
    name: Version
    in: query
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  '/prod/channels/{channelId}/schedule':
    put:
      operationId: BatchUpdateSchedule
      description: Update a channel schedule
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchUpdateScheduleResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnprocessableEntityException
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        '482':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '483':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '484':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '485':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '486':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '487':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BatchUpdateScheduleRequest'
        - name: channelId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: DescribeSchedule
      description: Get a channel schedule
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeScheduleResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '485':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '486':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeScheduleRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: channelId
          type: string
          in: path
          required: true
  /prod/channels:
    post:
      operationId: CreateChannel
      description: Creates a new channel
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnprocessableEntityException
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        '482':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '483':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '484':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '485':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '486':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '487':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateChannelRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListChannels
      description: Produces list of channels that have been created
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListChannelsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListChannelsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
  /prod/inputs:
    post:
      operationId: CreateInput
      description: Create an input
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateInputResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateInputRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListInputs
      description: Produces list of inputs that have been created
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListInputsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListInputsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
  /prod/inputSecurityGroups:
    post:
      operationId: CreateInputSecurityGroup
      description: Creates a Input Security Group
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateInputSecurityGroupResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateInputSecurityGroupRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListInputSecurityGroups
      description: Produces a list of Input Security Groups for an account
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListInputSecurityGroupsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListInputSecurityGroupsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
  '/prod/channels/{channelId}':
    delete:
      operationId: DeleteChannel
      description: Starts deletion of channel. The associated outputs are also deleted.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '485':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '486':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '487':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteChannelRequest'
        - name: channelId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: DescribeChannel
      description: Gets details about a channel
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '485':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '486':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeChannelRequest'
        - name: channelId
          type: string
          in: path
          required: true
    put:
      operationId: UpdateChannel
      description: Updates a channel.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnprocessableEntityException
          schema:
            $ref: '#/definitions/UnprocessableEntityException'
        '482':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '483':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '484':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '485':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '486':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateChannelRequest'
        - name: channelId
          type: string
          in: path
          required: true
  '/prod/inputs/{inputId}':
    delete:
      operationId: DeleteInput
      description: Deletes the input end point
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteInputResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '485':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '486':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '487':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteInputRequest'
        - name: inputId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: DescribeInput
      description: Produces details about an input
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeInputResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '485':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '486':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeInputRequest'
        - name: inputId
          type: string
          in: path
          required: true
    put:
      operationId: UpdateInput
      description: Updates an input.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateInputResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '485':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '486':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateInputRequest'
        - name: inputId
          type: string
          in: path
          required: true
  '/prod/inputSecurityGroups/{inputSecurityGroupId}':
    delete:
      operationId: DeleteInputSecurityGroup
      description: Deletes an Input Security Group
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteInputSecurityGroupResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '485':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '486':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteInputSecurityGroupRequest'
        - name: inputSecurityGroupId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: DescribeInputSecurityGroup
      description: Produces a summary of an Input Security Group
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeInputSecurityGroupResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '485':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '486':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeInputSecurityGroupRequest'
        - name: inputSecurityGroupId
          type: string
          in: path
          required: true
    put:
      operationId: UpdateInputSecurityGroup
      description: Update an Input Security Group's Whilelists.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateInputSecurityGroupResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '485':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '486':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateInputSecurityGroupRequest'
        - name: inputSecurityGroupId
          type: string
          in: path
          required: true
  '/prod/reservations/{reservationId}':
    delete:
      operationId: DeleteReservation
      description: Delete an expired reservation.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteReservationResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '485':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '486':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '487':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteReservationRequest'
        - name: reservationId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: DescribeReservation
      description: Get details for a reservation.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeReservationResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '485':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '486':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeReservationRequest'
        - name: reservationId
          type: string
          in: path
          required: true
  '/prod/offerings/{offeringId}':
    get:
      operationId: DescribeOffering
      description: Get details for an offering.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeOfferingResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '485':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '486':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeOfferingRequest'
        - name: offeringId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /prod/offerings:
    get:
      operationId: ListOfferings
      description: List offerings available for purchase.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListOfferingsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListOfferingsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /prod/reservations:
    get:
      operationId: ListReservations
      description: List purchased reservations.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListReservationsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListReservationsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/prod/offerings/{offeringId}/purchase':
    post:
      operationId: PurchaseOffering
      description: Purchase an offering and create a reservation.
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/PurchaseOfferingResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '485':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '486':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '487':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PurchaseOfferingRequest'
        - name: offeringId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/prod/channels/{channelId}/start':
    post:
      operationId: StartChannel
      description: Starts an existing channel
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '485':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '486':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '487':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StartChannelRequest'
        - name: channelId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/prod/channels/{channelId}/stop':
    post:
      operationId: StopChannel
      description: Stops a running channel
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '485':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '486':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '487':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StopChannelRequest'
        - name: channelId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  BatchUpdateScheduleResponse:
    type: object
    properties:
      Creates:
        $ref: '#/definitions/BatchScheduleActionCreateResult'
        description: Schedule actions created in the schedule.
      Deletes:
        $ref: '#/definitions/BatchScheduleActionDeleteResult'
        description: Schedule actions deleted from the schedule.
    description: Placeholder documentation for BatchUpdateScheduleResponse
  BatchUpdateScheduleRequest:
    type: object
    properties:
      Creates:
        $ref: '#/definitions/BatchScheduleActionCreateRequest'
        description: Schedule actions to create in the schedule.
      Deletes:
        $ref: '#/definitions/BatchScheduleActionDeleteRequest'
        description: Schedule actions to delete from the schedule.
    description: List of actions to create and list of actions to delete.
  BadRequestException: {}
  UnprocessableEntityException: {}
  InternalServerErrorException: {}
  ForbiddenException: {}
  BadGatewayException: {}
  NotFoundException: {}
  GatewayTimeoutException: {}
  TooManyRequestsException: {}
  CreateChannelResponse:
    type: object
    properties:
      Channel:
        $ref: '#/definitions/Channel'
    description: Placeholder documentation for CreateChannelResponse
  CreateChannelRequest:
    type: object
    properties:
      Destinations:
        $ref: '#/definitions/__listOfOutputDestination'
      EncoderSettings:
        $ref: '#/definitions/EncoderSettings'
      InputAttachments:
        $ref: '#/definitions/__listOfInputAttachment'
        description: List of input attachments for channel.
      InputSpecification:
        $ref: '#/definitions/InputSpecification'
        description: 'Specification of input for this channel (max. bitrate, resolution, codec, etc.)'
      LogLevel:
        $ref: '#/definitions/LogLevel'
        description: The log level to write to CloudWatch Logs.
      Name:
        $ref: '#/definitions/__string'
        description: Name of channel.
      RequestId:
        $ref: '#/definitions/__string'
        description: |
          Unique request ID to be specified. This is needed to prevent retries from
          creating multiple resources.
      Reserved:
        $ref: '#/definitions/__string'
        description: Deprecated field that's only usable by whitelisted customers.
      RoleArn:
        $ref: '#/definitions/__string'
        description: An optional Amazon Resource Name (ARN) of the role to assume when running the Channel.
    description: A request to create a channel
  ConflictException: {}
  CreateInputResponse:
    type: object
    properties:
      Input:
        $ref: '#/definitions/Input'
    description: Placeholder documentation for CreateInputResponse
  CreateInputRequest:
    type: object
    properties:
      Destinations:
        $ref: '#/definitions/__listOfInputDestinationRequest'
        description: Destination settings for PUSH type inputs.
      InputSecurityGroups:
        $ref: '#/definitions/__listOf__string'
        description: A list of security groups referenced by IDs to attach to the input.
      MediaConnectFlows:
        $ref: '#/definitions/__listOfMediaConnectFlowRequest'
        description: |
          A list of the MediaConnect Flows that you want to use in this input. You can specify as few as one
          Flow and presently, as many as two. The only requirement is when you have more than one is that each Flow is in a
          separate Availability Zone as this ensures your EML input is redundant to AZ issues.
      Name:
        $ref: '#/definitions/__string'
        description: Name of the input.
      RequestId:
        $ref: '#/definitions/__string'
        description: |
          Unique identifier of the request to ensure the request is handled
          exactly once in case of retries.
      RoleArn:
        $ref: '#/definitions/__string'
        description: The Amazon Resource Name (ARN) of the role this input assumes during and after creation.
      Sources:
        $ref: '#/definitions/__listOfInputSourceRequest'
        description: |
          The source URLs for a PULL-type input. Every PULL type input needs
          exactly two source URLs for redundancy.
          Only specify sources for PULL type Inputs. Leave Destinations empty.
      Type:
        $ref: '#/definitions/InputType'
    description: The name of the input
  CreateInputSecurityGroupResponse:
    type: object
    properties:
      SecurityGroup:
        $ref: '#/definitions/InputSecurityGroup'
    description: Placeholder documentation for CreateInputSecurityGroupResponse
  CreateInputSecurityGroupRequest:
    type: object
    properties:
      WhitelistRules:
        $ref: '#/definitions/__listOfInputWhitelistRuleCidr'
        description: List of IPv4 CIDR addresses to whitelist
    description: The IPv4 CIDRs to whitelist for this Input Security Group
  DeleteChannelResponse:
    type: object
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: The unique arn of the channel.
      Destinations:
        $ref: '#/definitions/__listOfOutputDestination'
        description: |
          A list of destinations of the channel. For UDP outputs, there is one
          destination per output. For other types (HLS, for example), there is
          one destination per packager.
      EgressEndpoints:
        $ref: '#/definitions/__listOfChannelEgressEndpoint'
        description: The endpoints where outgoing connections initiate from
      EncoderSettings:
        $ref: '#/definitions/EncoderSettings'
      Id:
        $ref: '#/definitions/__string'
        description: The unique id of the channel.
      InputAttachments:
        $ref: '#/definitions/__listOfInputAttachment'
        description: List of input attachments for channel.
      InputSpecification:
        $ref: '#/definitions/InputSpecification'
      LogLevel:
        $ref: '#/definitions/LogLevel'
        description: The log level being written to CloudWatch Logs.
      Name:
        $ref: '#/definitions/__string'
        description: The name of the channel. (user-mutable)
      PipelinesRunningCount:
        $ref: '#/definitions/__integer'
        description: The number of currently healthy pipelines.
      RoleArn:
        $ref: '#/definitions/__string'
        description: The Amazon Resource Name (ARN) of the role assumed when running the Channel.
      State:
        $ref: '#/definitions/ChannelState'
    description: Placeholder documentation for DeleteChannelResponse
  DeleteChannelRequest:
    type: object
    properties: {}
    description: Placeholder documentation for DeleteChannelRequest
  DeleteInputResponse:
    type: object
    properties: {}
    description: Placeholder documentation for DeleteInputResponse
  DeleteInputRequest:
    type: object
    properties: {}
    description: Placeholder documentation for DeleteInputRequest
  DeleteInputSecurityGroupResponse:
    type: object
    properties: {}
    description: Placeholder documentation for DeleteInputSecurityGroupResponse
  DeleteInputSecurityGroupRequest:
    type: object
    properties: {}
    description: Placeholder documentation for DeleteInputSecurityGroupRequest
  DeleteReservationResponse:
    type: object
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: 'Unique reservation ARN, e.g. ''arn:aws:medialive:us-west-2:123456789012:reservation:1234567'''
      Count:
        $ref: '#/definitions/__integer'
        description: Number of reserved resources
      CurrencyCode:
        $ref: '#/definitions/__string'
        description: 'Currency code for usagePrice and fixedPrice in ISO-4217 format, e.g. ''USD'''
      Duration:
        $ref: '#/definitions/__integer'
        description: 'Lease duration, e.g. ''12'''
      DurationUnits:
        $ref: '#/definitions/OfferingDurationUnits'
        description: 'Units for duration, e.g. ''MONTHS'''
      End:
        $ref: '#/definitions/__string'
        description: 'Reservation UTC end date and time in ISO-8601 format, e.g. ''2019-03-01T00:00:00'''
      FixedPrice:
        $ref: '#/definitions/__double'
        description: 'One-time charge for each reserved resource, e.g. ''0.0'' for a NO_UPFRONT offering'
      Name:
        $ref: '#/definitions/__string'
        description: User specified reservation name
      OfferingDescription:
        $ref: '#/definitions/__string'
        description: 'Offering description, e.g. ''HD AVC output at 10-20 Mbps, 30 fps, and standard VQ in US West (Oregon)'''
      OfferingId:
        $ref: '#/definitions/__string'
        description: 'Unique offering ID, e.g. ''87654321'''
      OfferingType:
        $ref: '#/definitions/OfferingType'
        description: 'Offering type, e.g. ''NO_UPFRONT'''
      Region:
        $ref: '#/definitions/__string'
        description: 'AWS region, e.g. ''us-west-2'''
      ReservationId:
        $ref: '#/definitions/__string'
        description: 'Unique reservation ID, e.g. ''1234567'''
      ResourceSpecification:
        $ref: '#/definitions/ReservationResourceSpecification'
        description: Resource configuration details
      Start:
        $ref: '#/definitions/__string'
        description: 'Reservation UTC start date and time in ISO-8601 format, e.g. ''2018-03-01T00:00:00'''
      State:
        $ref: '#/definitions/ReservationState'
        description: 'Current state of reservation, e.g. ''ACTIVE'''
      UsagePrice:
        $ref: '#/definitions/__double'
        description: 'Recurring usage charge for each reserved resource, e.g. ''157.0'''
    description: Placeholder documentation for DeleteReservationResponse
  DeleteReservationRequest:
    type: object
    properties: {}
    description: Placeholder documentation for DeleteReservationRequest
  DescribeChannelResponse:
    type: object
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: The unique arn of the channel.
      Destinations:
        $ref: '#/definitions/__listOfOutputDestination'
        description: |
          A list of destinations of the channel. For UDP outputs, there is one
          destination per output. For other types (HLS, for example), there is
          one destination per packager.
      EgressEndpoints:
        $ref: '#/definitions/__listOfChannelEgressEndpoint'
        description: The endpoints where outgoing connections initiate from
      EncoderSettings:
        $ref: '#/definitions/EncoderSettings'
      Id:
        $ref: '#/definitions/__string'
        description: The unique id of the channel.
      InputAttachments:
        $ref: '#/definitions/__listOfInputAttachment'
        description: List of input attachments for channel.
      InputSpecification:
        $ref: '#/definitions/InputSpecification'
      LogLevel:
        $ref: '#/definitions/LogLevel'
        description: The log level being written to CloudWatch Logs.
      Name:
        $ref: '#/definitions/__string'
        description: The name of the channel. (user-mutable)
      PipelinesRunningCount:
        $ref: '#/definitions/__integer'
        description: The number of currently healthy pipelines.
      RoleArn:
        $ref: '#/definitions/__string'
        description: The Amazon Resource Name (ARN) of the role assumed when running the Channel.
      State:
        $ref: '#/definitions/ChannelState'
    description: Placeholder documentation for DescribeChannelResponse
  DescribeChannelRequest:
    type: object
    properties: {}
    description: Placeholder documentation for DescribeChannelRequest
  DescribeInputResponse:
    type: object
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: 'The Unique ARN of the input (generated, immutable).'
      AttachedChannels:
        $ref: '#/definitions/__listOf__string'
        description: A list of channel IDs that that input is attached to (currently an input can only be attached to one channel).
      Destinations:
        $ref: '#/definitions/__listOfInputDestination'
        description: A list of the destinations of the input (PUSH-type).
      Id:
        $ref: '#/definitions/__string'
        description: 'The generated ID of the input (unique for user account, immutable).'
      MediaConnectFlows:
        $ref: '#/definitions/__listOfMediaConnectFlow'
        description: A list of MediaConnect Flows for this input.
      Name:
        $ref: '#/definitions/__string'
        description: The user-assigned name (This is a mutable value).
      RoleArn:
        $ref: '#/definitions/__string'
        description: The Amazon Resource Name (ARN) of the role this input assumes during and after creation.
      SecurityGroups:
        $ref: '#/definitions/__listOf__string'
        description: A list of IDs for all the security groups attached to the input.
      Sources:
        $ref: '#/definitions/__listOfInputSource'
        description: A list of the sources of the input (PULL-type).
      State:
        $ref: '#/definitions/InputState'
      Type:
        $ref: '#/definitions/InputType'
    description: Placeholder documentation for DescribeInputResponse
  DescribeInputRequest:
    type: object
    properties: {}
    description: Placeholder documentation for DescribeInputRequest
  DescribeInputSecurityGroupResponse:
    type: object
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: Unique ARN of Input Security Group
      Id:
        $ref: '#/definitions/__string'
        description: The Id of the Input Security Group
      Inputs:
        $ref: '#/definitions/__listOf__string'
        description: The list of inputs currently using this Input Security Group.
      State:
        $ref: '#/definitions/InputSecurityGroupState'
        description: The current state of the Input Security Group.
      WhitelistRules:
        $ref: '#/definitions/__listOfInputWhitelistRule'
        description: Whitelist rules and their sync status
    description: Placeholder documentation for DescribeInputSecurityGroupResponse
  DescribeInputSecurityGroupRequest:
    type: object
    properties: {}
    description: Placeholder documentation for DescribeInputSecurityGroupRequest
  DescribeOfferingResponse:
    type: object
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: 'Unique offering ARN, e.g. ''arn:aws:medialive:us-west-2:123456789012:offering:87654321'''
      CurrencyCode:
        $ref: '#/definitions/__string'
        description: 'Currency code for usagePrice and fixedPrice in ISO-4217 format, e.g. ''USD'''
      Duration:
        $ref: '#/definitions/__integer'
        description: 'Lease duration, e.g. ''12'''
      DurationUnits:
        $ref: '#/definitions/OfferingDurationUnits'
        description: 'Units for duration, e.g. ''MONTHS'''
      FixedPrice:
        $ref: '#/definitions/__double'
        description: 'One-time charge for each reserved resource, e.g. ''0.0'' for a NO_UPFRONT offering'
      OfferingDescription:
        $ref: '#/definitions/__string'
        description: 'Offering description, e.g. ''HD AVC output at 10-20 Mbps, 30 fps, and standard VQ in US West (Oregon)'''
      OfferingId:
        $ref: '#/definitions/__string'
        description: 'Unique offering ID, e.g. ''87654321'''
      OfferingType:
        $ref: '#/definitions/OfferingType'
        description: 'Offering type, e.g. ''NO_UPFRONT'''
      Region:
        $ref: '#/definitions/__string'
        description: 'AWS region, e.g. ''us-west-2'''
      ResourceSpecification:
        $ref: '#/definitions/ReservationResourceSpecification'
        description: Resource configuration details
      UsagePrice:
        $ref: '#/definitions/__double'
        description: 'Recurring usage charge for each reserved resource, e.g. ''157.0'''
    description: Placeholder documentation for DescribeOfferingResponse
  DescribeOfferingRequest:
    type: object
    properties: {}
    description: Placeholder documentation for DescribeOfferingRequest
  DescribeReservationResponse:
    type: object
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: 'Unique reservation ARN, e.g. ''arn:aws:medialive:us-west-2:123456789012:reservation:1234567'''
      Count:
        $ref: '#/definitions/__integer'
        description: Number of reserved resources
      CurrencyCode:
        $ref: '#/definitions/__string'
        description: 'Currency code for usagePrice and fixedPrice in ISO-4217 format, e.g. ''USD'''
      Duration:
        $ref: '#/definitions/__integer'
        description: 'Lease duration, e.g. ''12'''
      DurationUnits:
        $ref: '#/definitions/OfferingDurationUnits'
        description: 'Units for duration, e.g. ''MONTHS'''
      End:
        $ref: '#/definitions/__string'
        description: 'Reservation UTC end date and time in ISO-8601 format, e.g. ''2019-03-01T00:00:00'''
      FixedPrice:
        $ref: '#/definitions/__double'
        description: 'One-time charge for each reserved resource, e.g. ''0.0'' for a NO_UPFRONT offering'
      Name:
        $ref: '#/definitions/__string'
        description: User specified reservation name
      OfferingDescription:
        $ref: '#/definitions/__string'
        description: 'Offering description, e.g. ''HD AVC output at 10-20 Mbps, 30 fps, and standard VQ in US West (Oregon)'''
      OfferingId:
        $ref: '#/definitions/__string'
        description: 'Unique offering ID, e.g. ''87654321'''
      OfferingType:
        $ref: '#/definitions/OfferingType'
        description: 'Offering type, e.g. ''NO_UPFRONT'''
      Region:
        $ref: '#/definitions/__string'
        description: 'AWS region, e.g. ''us-west-2'''
      ReservationId:
        $ref: '#/definitions/__string'
        description: 'Unique reservation ID, e.g. ''1234567'''
      ResourceSpecification:
        $ref: '#/definitions/ReservationResourceSpecification'
        description: Resource configuration details
      Start:
        $ref: '#/definitions/__string'
        description: 'Reservation UTC start date and time in ISO-8601 format, e.g. ''2018-03-01T00:00:00'''
      State:
        $ref: '#/definitions/ReservationState'
        description: 'Current state of reservation, e.g. ''ACTIVE'''
      UsagePrice:
        $ref: '#/definitions/__double'
        description: 'Recurring usage charge for each reserved resource, e.g. ''157.0'''
    description: Placeholder documentation for DescribeReservationResponse
  DescribeReservationRequest:
    type: object
    properties: {}
    description: Placeholder documentation for DescribeReservationRequest
  DescribeScheduleResponse:
    type: object
    properties:
      NextToken:
        $ref: '#/definitions/__string'
        description: The next token; for use in pagination.
      ScheduleActions:
        $ref: '#/definitions/__listOfScheduleAction'
        description: The list of actions in the schedule.
    description: Placeholder documentation for DescribeScheduleResponse
  DescribeScheduleRequest:
    type: object
    properties: {}
    description: Placeholder documentation for DescribeScheduleRequest
  ListChannelsResponse:
    type: object
    properties:
      Channels:
        $ref: '#/definitions/__listOfChannelSummary'
      NextToken:
        $ref: '#/definitions/__string'
    description: Placeholder documentation for ListChannelsResponse
  ListChannelsRequest:
    type: object
    properties: {}
    description: Placeholder documentation for ListChannelsRequest
  ListInputSecurityGroupsResponse:
    type: object
    properties:
      InputSecurityGroups:
        $ref: '#/definitions/__listOfInputSecurityGroup'
        description: List of input security groups
      NextToken:
        $ref: '#/definitions/__string'
    description: Placeholder documentation for ListInputSecurityGroupsResponse
  ListInputSecurityGroupsRequest:
    type: object
    properties: {}
    description: Placeholder documentation for ListInputSecurityGroupsRequest
  ListInputsResponse:
    type: object
    properties:
      Inputs:
        $ref: '#/definitions/__listOfInput'
      NextToken:
        $ref: '#/definitions/__string'
    description: Placeholder documentation for ListInputsResponse
  ListInputsRequest:
    type: object
    properties: {}
    description: Placeholder documentation for ListInputsRequest
  ListOfferingsResponse:
    type: object
    properties:
      NextToken:
        $ref: '#/definitions/__string'
        description: Token to retrieve the next page of results
      Offerings:
        $ref: '#/definitions/__listOfOffering'
        description: List of offerings
    description: Placeholder documentation for ListOfferingsResponse
  ListOfferingsRequest:
    type: object
    properties: {}
    description: Placeholder documentation for ListOfferingsRequest
  ListReservationsResponse:
    type: object
    properties:
      NextToken:
        $ref: '#/definitions/__string'
        description: Token to retrieve the next page of results
      Reservations:
        $ref: '#/definitions/__listOfReservation'
        description: List of reservations
    description: Placeholder documentation for ListReservationsResponse
  ListReservationsRequest:
    type: object
    properties: {}
    description: Placeholder documentation for ListReservationsRequest
  PurchaseOfferingResponse:
    type: object
    properties:
      Reservation:
        $ref: '#/definitions/Reservation'
    description: Placeholder documentation for PurchaseOfferingResponse
  PurchaseOfferingRequest:
    type: object
    required:
      - Count
    properties:
      Count:
        $ref: '#/definitions/__integerMin1'
        description: Number of resources
      Name:
        $ref: '#/definitions/__string'
        description: Name for the new reservation
      RequestId:
        $ref: '#/definitions/__string'
        description: Unique request ID to be specified. This is needed to prevent retries from creating multiple resources.
      Start:
        $ref: '#/definitions/__string'
        description: 'Requested reservation start time (UTC) in ISO-8601 format. The specified time must be between the first day of the current month and one year from now. If no value is given, the default is now.'
    description: Placeholder documentation for PurchaseOfferingRequest
  StartChannelResponse:
    type: object
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: The unique arn of the channel.
      Destinations:
        $ref: '#/definitions/__listOfOutputDestination'
        description: |
          A list of destinations of the channel. For UDP outputs, there is one
          destination per output. For other types (HLS, for example), there is
          one destination per packager.
      EgressEndpoints:
        $ref: '#/definitions/__listOfChannelEgressEndpoint'
        description: The endpoints where outgoing connections initiate from
      EncoderSettings:
        $ref: '#/definitions/EncoderSettings'
      Id:
        $ref: '#/definitions/__string'
        description: The unique id of the channel.
      InputAttachments:
        $ref: '#/definitions/__listOfInputAttachment'
        description: List of input attachments for channel.
      InputSpecification:
        $ref: '#/definitions/InputSpecification'
      LogLevel:
        $ref: '#/definitions/LogLevel'
        description: The log level being written to CloudWatch Logs.
      Name:
        $ref: '#/definitions/__string'
        description: The name of the channel. (user-mutable)
      PipelinesRunningCount:
        $ref: '#/definitions/__integer'
        description: The number of currently healthy pipelines.
      RoleArn:
        $ref: '#/definitions/__string'
        description: The Amazon Resource Name (ARN) of the role assumed when running the Channel.
      State:
        $ref: '#/definitions/ChannelState'
    description: Placeholder documentation for StartChannelResponse
  StartChannelRequest:
    type: object
    properties: {}
    description: Placeholder documentation for StartChannelRequest
  StopChannelResponse:
    type: object
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: The unique arn of the channel.
      Destinations:
        $ref: '#/definitions/__listOfOutputDestination'
        description: |
          A list of destinations of the channel. For UDP outputs, there is one
          destination per output. For other types (HLS, for example), there is
          one destination per packager.
      EgressEndpoints:
        $ref: '#/definitions/__listOfChannelEgressEndpoint'
        description: The endpoints where outgoing connections initiate from
      EncoderSettings:
        $ref: '#/definitions/EncoderSettings'
      Id:
        $ref: '#/definitions/__string'
        description: The unique id of the channel.
      InputAttachments:
        $ref: '#/definitions/__listOfInputAttachment'
        description: List of input attachments for channel.
      InputSpecification:
        $ref: '#/definitions/InputSpecification'
      LogLevel:
        $ref: '#/definitions/LogLevel'
        description: The log level being written to CloudWatch Logs.
      Name:
        $ref: '#/definitions/__string'
        description: The name of the channel. (user-mutable)
      PipelinesRunningCount:
        $ref: '#/definitions/__integer'
        description: The number of currently healthy pipelines.
      RoleArn:
        $ref: '#/definitions/__string'
        description: The Amazon Resource Name (ARN) of the role assumed when running the Channel.
      State:
        $ref: '#/definitions/ChannelState'
    description: Placeholder documentation for StopChannelResponse
  StopChannelRequest:
    type: object
    properties: {}
    description: Placeholder documentation for StopChannelRequest
  UpdateChannelResponse:
    type: object
    properties:
      Channel:
        $ref: '#/definitions/Channel'
    description: Placeholder documentation for UpdateChannelResponse
  UpdateChannelRequest:
    type: object
    properties:
      Destinations:
        $ref: '#/definitions/__listOfOutputDestination'
        description: A list of output destinations for this channel.
      EncoderSettings:
        $ref: '#/definitions/EncoderSettings'
        description: The encoder settings for this channel.
      InputAttachments:
        $ref: '#/definitions/__listOfInputAttachment'
      InputSpecification:
        $ref: '#/definitions/InputSpecification'
        description: 'Specification of input for this channel (max. bitrate, resolution, codec, etc.)'
      LogLevel:
        $ref: '#/definitions/LogLevel'
        description: The log level to write to CloudWatch Logs.
      Name:
        $ref: '#/definitions/__string'
        description: The name of the channel.
      RoleArn:
        $ref: '#/definitions/__string'
        description: An optional Amazon Resource Name (ARN) of the role to assume when running the Channel. If you do not specify this on an update call but the role was previously set that role will be removed.
    description: A request to update a channel.
  UpdateInputResponse:
    type: object
    properties:
      Input:
        $ref: '#/definitions/Input'
    description: Placeholder documentation for UpdateInputResponse
  UpdateInputRequest:
    type: object
    properties:
      Destinations:
        $ref: '#/definitions/__listOfInputDestinationRequest'
        description: Destination settings for PUSH type inputs.
      InputSecurityGroups:
        $ref: '#/definitions/__listOf__string'
        description: A list of security groups referenced by IDs to attach to the input.
      MediaConnectFlows:
        $ref: '#/definitions/__listOfMediaConnectFlowRequest'
        description: |
          A list of the MediaConnect Flow ARNs that you want to use as the source of the input. You can specify as few as one
          Flow and presently, as many as two. The only requirement is when you have more than one is that each Flow is in a
          separate Availability Zone as this ensures your EML input is redundant to AZ issues.
      Name:
        $ref: '#/definitions/__string'
        description: Name of the input.
      RoleArn:
        $ref: '#/definitions/__string'
        description: The Amazon Resource Name (ARN) of the role this input assumes during and after creation.
      Sources:
        $ref: '#/definitions/__listOfInputSourceRequest'
        description: |
          The source URLs for a PULL-type input. Every PULL type input needs
          exactly two source URLs for redundancy.
          Only specify sources for PULL type Inputs. Leave Destinations empty.
    description: A request to update an input.
  UpdateInputSecurityGroupResponse:
    type: object
    properties:
      SecurityGroup:
        $ref: '#/definitions/InputSecurityGroup'
    description: Placeholder documentation for UpdateInputSecurityGroupResponse
  UpdateInputSecurityGroupRequest:
    type: object
    properties:
      WhitelistRules:
        $ref: '#/definitions/__listOfInputWhitelistRuleCidr'
        description: List of IPv4 CIDR addresses to whitelist
    description: The request to update some combination of the Input Security Group name and the IPv4 CIDRs the Input Security Group should allow.
  AacCodingMode:
    type: string
    enum:
      - AD_RECEIVER_MIX
      - CODING_MODE_1_0
      - CODING_MODE_1_1
      - CODING_MODE_2_0
      - CODING_MODE_5_1
    description: Placeholder documentation for AacCodingMode
  AacInputType:
    type: string
    enum:
      - BROADCASTER_MIXED_AD
      - NORMAL
    description: Placeholder documentation for AacInputType
  AacProfile:
    type: string
    enum:
      - HEV1
      - HEV2
      - LC
    description: Placeholder documentation for AacProfile
  AacRateControlMode:
    type: string
    enum:
      - CBR
      - VBR
    description: Placeholder documentation for AacRateControlMode
  AacRawFormat:
    type: string
    enum:
      - LATM_LOAS
      - NONE
    description: Placeholder documentation for AacRawFormat
  __double:
    type: number
    description: Placeholder documentation for __double
    format: double
  AacSpec:
    type: string
    enum:
      - MPEG2
      - MPEG4
    description: Placeholder documentation for AacSpec
  AacVbrQuality:
    type: string
    enum:
      - HIGH
      - LOW
      - MEDIUM_HIGH
      - MEDIUM_LOW
    description: Placeholder documentation for AacVbrQuality
  AacSettings:
    type: object
    properties:
      Bitrate:
        $ref: '#/definitions/__double'
        description: Average bitrate in bits/second. Valid values depend on rate control mode and profile.
      CodingMode:
        $ref: '#/definitions/AacCodingMode'
        description: 'Mono, Stereo, or 5.1 channel layout. Valid values depend on rate control mode and profile. The adReceiverMix setting receives a stereo description plus control track and emits a mono AAC encode of the description track, with control data emitted in the PES header as per ETSI TS 101 154 Annex E.'
      InputType:
        $ref: '#/definitions/AacInputType'
        description: |-
          Set to "broadcasterMixedAd" when input contains pre-mixed main audio + AD (narration) as a stereo pair.  The Audio Type field (audioType) will be set to 3, which signals to downstream systems that this stream contains "broadcaster mixed AD". Note that the input received by the encoder must contain pre-mixed audio; the encoder does not perform the mixing. The values in audioTypeControl and audioType (in AudioDescription) are ignored when set to broadcasterMixedAd.

          Leave set to "normal" when input does not contain pre-mixed audio + AD.
      Profile:
        $ref: '#/definitions/AacProfile'
        description: AAC Profile.
      RateControlMode:
        $ref: '#/definitions/AacRateControlMode'
        description: Rate Control Mode.
      RawFormat:
        $ref: '#/definitions/AacRawFormat'
        description: Sets LATM / LOAS AAC output for raw containers.
      SampleRate:
        $ref: '#/definitions/__double'
        description: Sample rate in Hz. Valid values depend on rate control mode and profile.
      Spec:
        $ref: '#/definitions/AacSpec'
        description: Use MPEG-2 AAC audio instead of MPEG-4 AAC audio for raw or MPEG-2 Transport Stream containers.
      VbrQuality:
        $ref: '#/definitions/AacVbrQuality'
        description: VBR Quality Level - Only used if rateControlMode is VBR.
    description: Placeholder documentation for AacSettings
  Ac3BitstreamMode:
    type: string
    enum:
      - COMMENTARY
      - COMPLETE_MAIN
      - DIALOGUE
      - EMERGENCY
      - HEARING_IMPAIRED
      - MUSIC_AND_EFFECTS
      - VISUALLY_IMPAIRED
      - VOICE_OVER
    description: Placeholder documentation for Ac3BitstreamMode
  Ac3CodingMode:
    type: string
    enum:
      - CODING_MODE_1_0
      - CODING_MODE_1_1
      - CODING_MODE_2_0
      - CODING_MODE_3_2_LFE
    description: Placeholder documentation for Ac3CodingMode
  Ac3DrcProfile:
    type: string
    enum:
      - FILM_STANDARD
      - NONE
    description: Placeholder documentation for Ac3DrcProfile
  Ac3LfeFilter:
    type: string
    enum:
      - DISABLED
      - ENABLED
    description: Placeholder documentation for Ac3LfeFilter
  Ac3MetadataControl:
    type: string
    enum:
      - FOLLOW_INPUT
      - USE_CONFIGURED
    description: Placeholder documentation for Ac3MetadataControl
  __integerMin1Max31:
    type: integer
    description: Placeholder documentation for __integerMin1Max31
    minimum: 1
    maximum: 31
  Ac3Settings:
    type: object
    properties:
      Bitrate:
        $ref: '#/definitions/__double'
        description: Average bitrate in bits/second. Valid bitrates depend on the coding mode.
      BitstreamMode:
        $ref: '#/definitions/Ac3BitstreamMode'
        description: Specifies the bitstream mode (bsmod) for the emitted AC-3 stream. See ATSC A/52-2012 for background on these values.
      CodingMode:
        $ref: '#/definitions/Ac3CodingMode'
        description: Dolby Digital coding mode. Determines number of channels.
      Dialnorm:
        $ref: '#/definitions/__integerMin1Max31'
        description: 'Sets the dialnorm for the output. If excluded and input audio is Dolby Digital, dialnorm will be passed through.'
      DrcProfile:
        $ref: '#/definitions/Ac3DrcProfile'
        description: 'If set to filmStandard, adds dynamic range compression signaling to the output bitstream as defined in the Dolby Digital specification.'
      LfeFilter:
        $ref: '#/definitions/Ac3LfeFilter'
        description: 'When set to enabled, applies a 120Hz lowpass filter to the LFE channel prior to encoding. Only valid in codingMode32Lfe mode.'
      MetadataControl:
        $ref: '#/definitions/Ac3MetadataControl'
        description: 'When set to "followInput", encoder metadata will be sourced from the DD, DD+, or DolbyE decoder that supplied this audio data. If audio was not supplied from one of these streams, then the static metadata settings will be used.'
    description: Placeholder documentation for Ac3Settings
  AfdSignaling:
    type: string
    enum:
      - AUTO
      - FIXED
      - NONE
    description: Placeholder documentation for AfdSignaling
  M2tsSettings:
    type: object
    properties:
      AbsentInputAudioBehavior:
        $ref: '#/definitions/M2tsAbsentInputAudioBehavior'
        description: 'When set to drop, output audio streams will be removed from the program if the selected input audio stream is removed from the input. This allows the output audio configuration to dynamically change based on input configuration. If this is set to encodeSilence, all output audio streams will output encoded silence when not connected to an active input stream.'
      Arib:
        $ref: '#/definitions/M2tsArib'
        description: 'When set to enabled, uses ARIB-compliant field muxing and removes video descriptor.'
      AribCaptionsPid:
        $ref: '#/definitions/__string'
        description: Packet Identifier (PID) for ARIB Captions in the transport stream. Can be entered as a decimal or hexadecimal value.  Valid values are 32 (or 0x20)..8182 (or 0x1ff6).
      AribCaptionsPidControl:
        $ref: '#/definitions/M2tsAribCaptionsPidControl'
        description: 'If set to auto, pid number used for ARIB Captions will be auto-selected from unused pids.  If set to useConfigured, ARIB Captions will be on the configured pid number.'
      AudioBufferModel:
        $ref: '#/definitions/M2tsAudioBufferModel'
        description: 'When set to dvb, uses DVB buffer model for Dolby Digital audio.  When set to atsc, the ATSC model is used.'
      AudioFramesPerPes:
        $ref: '#/definitions/__integerMin0'
        description: The number of audio frames to insert for each PES packet.
      AudioPids:
        $ref: '#/definitions/__string'
        description: 'Packet Identifier (PID) of the elementary audio stream(s) in the transport stream. Multiple values are accepted, and can be entered in ranges and/or by comma separation. Can be entered as decimal or hexadecimal values. Each PID specified must be in the range of 32 (or 0x20)..8182 (or 0x1ff6).'
      AudioStreamType:
        $ref: '#/definitions/M2tsAudioStreamType'
        description: 'When set to atsc, uses stream type = 0x81 for AC3 and stream type = 0x87 for EAC3. When set to dvb, uses stream type = 0x06.'
      Bitrate:
        $ref: '#/definitions/__integerMin0'
        description: The output bitrate of the transport stream in bits per second. Setting to 0 lets the muxer automatically determine the appropriate bitrate.
      BufferModel:
        $ref: '#/definitions/M2tsBufferModel'
        description: 'If set to multiplex, use multiplex buffer model for accurate interleaving.  Setting to bufferModel to none can lead to lower latency, but low-memory devices may not be able to play back the stream without interruptions.'
      CcDescriptor:
        $ref: '#/definitions/M2tsCcDescriptor'
        description: 'When set to enabled, generates captionServiceDescriptor in PMT.'
      DvbNitSettings:
        $ref: '#/definitions/DvbNitSettings'
        description: Inserts DVB Network Information Table (NIT) at the specified table repetition interval.
      DvbSdtSettings:
        $ref: '#/definitions/DvbSdtSettings'
        description: Inserts DVB Service Description Table (SDT) at the specified table repetition interval.
      DvbSubPids:
        $ref: '#/definitions/__string'
        description: 'Packet Identifier (PID) for input source DVB Subtitle data to this output. Multiple values are accepted, and can be entered in ranges and/or by comma separation. Can be entered as decimal or hexadecimal values.  Each PID specified must be in the range of 32 (or 0x20)..8182 (or 0x1ff6).'
      DvbTdtSettings:
        $ref: '#/definitions/DvbTdtSettings'
        description: Inserts DVB Time and Date Table (TDT) at the specified table repetition interval.
      DvbTeletextPid:
        $ref: '#/definitions/__string'
        description: Packet Identifier (PID) for input source DVB Teletext data to this output. Can be entered as a decimal or hexadecimal value.  Valid values are 32 (or 0x20)..8182 (or 0x1ff6).
      Ebif:
        $ref: '#/definitions/M2tsEbifControl'
        description: 'If set to passthrough, passes any EBIF data from the input source to this output.'
      EbpAudioInterval:
        $ref: '#/definitions/M2tsAudioInterval'
        description: 'When videoAndFixedIntervals is selected, audio EBP markers will be added to partitions 3 and 4. The interval between these additional markers will be fixed, and will be slightly shorter than the video EBP marker interval. Only available when EBP Cablelabs segmentation markers are selected.  Partitions 1 and 2 will always follow the video interval.'
      EbpLookaheadMs:
        $ref: '#/definitions/__integerMin0Max10000'
        description: 'When set, enforces that Encoder Boundary Points do not come within the specified time interval of each other by looking ahead at input video. If another EBP is going to come in within the specified time interval, the current EBP is not emitted, and the segment is "stretched" to the next marker.  The lookahead value does not add latency to the system. The Live Event must be configured elsewhere to create sufficient latency to make the lookahead accurate.'
      EbpPlacement:
        $ref: '#/definitions/M2tsEbpPlacement'
        description: 'Controls placement of EBP on Audio PIDs. If set to videoAndAudioPids, EBP markers will be placed on the video PID and all audio PIDs.  If set to videoPid, EBP markers will be placed on only the video PID.'
      EcmPid:
        $ref: '#/definitions/__string'
        description: This field is unused and deprecated.
      EsRateInPes:
        $ref: '#/definitions/M2tsEsRateInPes'
        description: Include or exclude the ES Rate field in the PES header.
      EtvPlatformPid:
        $ref: '#/definitions/__string'
        description: Packet Identifier (PID) for input source ETV Platform data to this output. Can be entered as a decimal or hexadecimal value.  Valid values are 32 (or 0x20)..8182 (or 0x1ff6).
      EtvSignalPid:
        $ref: '#/definitions/__string'
        description: Packet Identifier (PID) for input source ETV Signal data to this output. Can be entered as a decimal or hexadecimal value.  Valid values are 32 (or 0x20)..8182 (or 0x1ff6).
      FragmentTime:
        $ref: '#/definitions/__doubleMin0'
        description: The length in seconds of each fragment. Only used with EBP markers.
      Klv:
        $ref: '#/definitions/M2tsKlv'
        description: 'If set to passthrough, passes any KLV data from the input source to this output.'
      KlvDataPids:
        $ref: '#/definitions/__string'
        description: 'Packet Identifier (PID) for input source KLV data to this output. Multiple values are accepted, and can be entered in ranges and/or by comma separation. Can be entered as decimal or hexadecimal values.  Each PID specified must be in the range of 32 (or 0x20)..8182 (or 0x1ff6).'
      NullPacketBitrate:
        $ref: '#/definitions/__doubleMin0'
        description: Value in bits per second of extra null packets to insert into the transport stream. This can be used if a downstream encryption system requires periodic null packets.
      PatInterval:
        $ref: '#/definitions/__integerMin0Max1000'
        description: 'The number of milliseconds between instances of this table in the output transport stream.  Valid values are 0, 10..1000.'
      PcrControl:
        $ref: '#/definitions/M2tsPcrControl'
        description: 'When set to pcrEveryPesPacket, a Program Clock Reference value is inserted for every Packetized Elementary Stream (PES) header. This parameter is effective only when the PCR PID is the same as the video or audio elementary stream.'
      PcrPeriod:
        $ref: '#/definitions/__integerMin0Max500'
        description: Maximum time in milliseconds between Program Clock Reference (PCRs) inserted into the transport stream.
      PcrPid:
        $ref: '#/definitions/__string'
        description: 'Packet Identifier (PID) of the Program Clock Reference (PCR) in the transport stream. When no value is given, the encoder will assign the same value as the Video PID. Can be entered as a decimal or hexadecimal value.  Valid values are 32 (or 0x20)..8182 (or 0x1ff6).'
      PmtInterval:
        $ref: '#/definitions/__integerMin0Max1000'
        description: 'The number of milliseconds between instances of this table in the output transport stream. Valid values are 0, 10..1000.'
      PmtPid:
        $ref: '#/definitions/__string'
        description: Packet Identifier (PID) for the Program Map Table (PMT) in the transport stream. Can be entered as a decimal or hexadecimal value. Valid values are 32 (or 0x20)..8182 (or 0x1ff6).
      ProgramNum:
        $ref: '#/definitions/__integerMin0Max65535'
        description: The value of the program number field in the Program Map Table.
      RateMode:
        $ref: '#/definitions/M2tsRateMode'
        description: 'When vbr, does not insert null packets into transport stream to fill specified bitrate. The bitrate setting acts as the maximum bitrate when vbr is set.'
      Scte27Pids:
        $ref: '#/definitions/__string'
        description: 'Packet Identifier (PID) for input source SCTE-27 data to this output. Multiple values are accepted, and can be entered in ranges and/or by comma separation. Can be entered as decimal or hexadecimal values.  Each PID specified must be in the range of 32 (or 0x20)..8182 (or 0x1ff6).'
      Scte35Control:
        $ref: '#/definitions/M2tsScte35Control'
        description: Optionally pass SCTE-35 signals from the input source to this output.
      Scte35Pid:
        $ref: '#/definitions/__string'
        description: Packet Identifier (PID) of the SCTE-35 stream in the transport stream. Can be entered as a decimal or hexadecimal value.  Valid values are 32 (or 0x20)..8182 (or 0x1ff6).
      SegmentationMarkers:
        $ref: '#/definitions/M2tsSegmentationMarkers'
        description: Inserts segmentation markers at each segmentationTime period. raiSegstart sets the Random Access Indicator bit in the adaptation field. raiAdapt sets the RAI bit and adds the current timecode in the private data bytes. psiSegstart inserts PAT and PMT tables at the start of segments. ebp adds Encoder Boundary Point information to the adaptation field as per OpenCable specification OC-SP-EBP-I01-130118. ebpLegacy adds Encoder Boundary Point information to the adaptation field using a legacy proprietary format.
      SegmentationStyle:
        $ref: '#/definitions/M2tsSegmentationStyle'
        description: |-
          The segmentation style parameter controls how segmentation markers are inserted into the transport stream. With avails, it is possible that segments may be truncated, which can influence where future segmentation markers are inserted.

          When a segmentation style of "resetCadence" is selected and a segment is truncated due to an avail, we will reset the segmentation cadence. This means the subsequent segment will have a duration of $segmentationTime seconds.

          When a segmentation style of "maintainCadence" is selected and a segment is truncated due to an avail, we will not reset the segmentation cadence. This means the subsequent segment will likely be truncated as well. However, all segments after that will have a duration of $segmentationTime seconds. Note that EBP lookahead is a slight exception to this rule.
      SegmentationTime:
        $ref: '#/definitions/__doubleMin1'
        description: The length in seconds of each segment. Required unless markers is set to None_.
      TimedMetadataBehavior:
        $ref: '#/definitions/M2tsTimedMetadataBehavior'
        description: 'When set to passthrough, timed metadata will be passed through from input to output.'
      TimedMetadataPid:
        $ref: '#/definitions/__string'
        description: Packet Identifier (PID) of the timed metadata stream in the transport stream. Can be entered as a decimal or hexadecimal value.  Valid values are 32 (or 0x20)..8182 (or 0x1ff6).
      TransportStreamId:
        $ref: '#/definitions/__integerMin0Max65535'
        description: The value of the transport stream ID field in the Program Map Table.
      VideoPid:
        $ref: '#/definitions/__string'
        description: Packet Identifier (PID) of the elementary video stream in the transport stream. Can be entered as a decimal or hexadecimal value.  Valid values are 32 (or 0x20)..8182 (or 0x1ff6).
    description: Placeholder documentation for M2tsSettings
  ArchiveContainerSettings:
    type: object
    properties:
      M2tsSettings:
        $ref: '#/definitions/M2tsSettings'
    description: Placeholder documentation for ArchiveContainerSettings
  OutputLocationRef:
    type: object
    properties:
      DestinationRefId:
        $ref: '#/definitions/__string'
    description: Reference to an OutputDestination ID defined in the channel
  __integerMin1:
    type: integer
    description: Placeholder documentation for __integerMin1
    minimum: 1
  ArchiveGroupSettings:
    type: object
    required:
      - Destination
    properties:
      Destination:
        $ref: '#/definitions/OutputLocationRef'
        description: 'A directory and base filename where archive files should be written.  If the base filename portion of the URI is left blank, the base filename of the first input will be automatically inserted.'
      RolloverInterval:
        $ref: '#/definitions/__integerMin1'
        description: Number of seconds to write to archive file before closing and starting a new one.
    description: Placeholder documentation for ArchiveGroupSettings
  __string:
    type: string
    description: Placeholder documentation for __string
  ArchiveOutputSettings:
    type: object
    required:
      - ContainerSettings
    properties:
      ContainerSettings:
        $ref: '#/definitions/ArchiveContainerSettings'
        description: Settings specific to the container type of the file.
      Extension:
        $ref: '#/definitions/__string'
        description: 'Output file extension. If excluded, this will be auto-selected from the container type.'
      NameModifier:
        $ref: '#/definitions/__string'
        description: String concatenated to the end of the destination filename.  Required for multiple outputs of the same type.
    description: Placeholder documentation for ArchiveOutputSettings
  AribDestinationSettings:
    type: object
    properties: {}
    description: Placeholder documentation for AribDestinationSettings
  AribSourceSettings:
    type: object
    properties: {}
    description: Placeholder documentation for AribSourceSettings
  __listOfInputChannelLevel:
    type: array
    description: Placeholder documentation for __listOfInputChannelLevel
    items:
      $ref: '#/definitions/InputChannelLevel'
  __integerMin0Max7:
    type: integer
    description: Placeholder documentation for __integerMin0Max7
    minimum: 0
    maximum: 7
  AudioChannelMapping:
    type: object
    required:
      - OutputChannel
      - InputChannelLevels
    properties:
      InputChannelLevels:
        $ref: '#/definitions/__listOfInputChannelLevel'
        description: Indices and gain values for each input channel that should be remixed into this output channel.
      OutputChannel:
        $ref: '#/definitions/__integerMin0Max7'
        description: The index of the output channel being produced.
    description: Placeholder documentation for AudioChannelMapping
  Eac3Settings:
    type: object
    properties:
      AttenuationControl:
        $ref: '#/definitions/Eac3AttenuationControl'
        description: 'When set to attenuate3Db, applies a 3 dB attenuation to the surround channels. Only used for 3/2 coding mode.'
      Bitrate:
        $ref: '#/definitions/__double'
        description: Average bitrate in bits/second. Valid bitrates depend on the coding mode.
      BitstreamMode:
        $ref: '#/definitions/Eac3BitstreamMode'
        description: Specifies the bitstream mode (bsmod) for the emitted E-AC-3 stream. See ATSC A/52-2012 (Annex E) for background on these values.
      CodingMode:
        $ref: '#/definitions/Eac3CodingMode'
        description: Dolby Digital Plus coding mode. Determines number of channels.
      DcFilter:
        $ref: '#/definitions/Eac3DcFilter'
        description: 'When set to enabled, activates a DC highpass filter for all input channels.'
      Dialnorm:
        $ref: '#/definitions/__integerMin1Max31'
        description: 'Sets the dialnorm for the output. If blank and input audio is Dolby Digital Plus, dialnorm will be passed through.'
      DrcLine:
        $ref: '#/definitions/Eac3DrcLine'
        description: Sets the Dolby dynamic range compression profile.
      DrcRf:
        $ref: '#/definitions/Eac3DrcRf'
        description: 'Sets the profile for heavy Dolby dynamic range compression, ensures that the instantaneous signal peaks do not exceed specified levels.'
      LfeControl:
        $ref: '#/definitions/Eac3LfeControl'
        description: 'When encoding 3/2 audio, setting to lfe enables the LFE channel'
      LfeFilter:
        $ref: '#/definitions/Eac3LfeFilter'
        description: 'When set to enabled, applies a 120Hz lowpass filter to the LFE channel prior to encoding. Only valid with codingMode32 coding mode.'
      LoRoCenterMixLevel:
        $ref: '#/definitions/__double'
        description: Left only/Right only center mix level. Only used for 3/2 coding mode.
      LoRoSurroundMixLevel:
        $ref: '#/definitions/__double'
        description: Left only/Right only surround mix level. Only used for 3/2 coding mode.
      LtRtCenterMixLevel:
        $ref: '#/definitions/__double'
        description: Left total/Right total center mix level. Only used for 3/2 coding mode.
      LtRtSurroundMixLevel:
        $ref: '#/definitions/__double'
        description: Left total/Right total surround mix level. Only used for 3/2 coding mode.
      MetadataControl:
        $ref: '#/definitions/Eac3MetadataControl'
        description: 'When set to followInput, encoder metadata will be sourced from the DD, DD+, or DolbyE decoder that supplied this audio data. If audio was not supplied from one of these streams, then the static metadata settings will be used.'
      PassthroughControl:
        $ref: '#/definitions/Eac3PassthroughControl'
        description: 'When set to whenPossible, input DD+ audio will be passed through if it is present on the input. This detection is dynamic over the life of the transcode. Inputs that alternate between DD+ and non-DD+ content will have a consistent DD+ output as the system alternates between passthrough and encoding.'
      PhaseControl:
        $ref: '#/definitions/Eac3PhaseControl'
        description: 'When set to shift90Degrees, applies a 90-degree phase shift to the surround channels. Only used for 3/2 coding mode.'
      StereoDownmix:
        $ref: '#/definitions/Eac3StereoDownmix'
        description: Stereo downmix preference. Only used for 3/2 coding mode.
      SurroundExMode:
        $ref: '#/definitions/Eac3SurroundExMode'
[...]
