swagger: '2.0'
info:
  version: '2017-10-14'
  x-release: v4
  title: AWS Elemental MediaLive
  description: API for AWS Elemental MediaLive
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: medialive
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/medialive-2017-10-14.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/medialive/'
host: medialive.amazonaws.com
basePath: /
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: header
    type: string
    required: true
  Version:
    name: Version
    in: header
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /prod/channels:
    get:
      operationId: ListChannels
      description: Produces list of channels that have been created
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListChannelsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListChannelsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /prod/inputs:
    get:
      operationId: ListInputs
      description: Produces list of inputs that have been created
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListInputsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListInputsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /prod/inputSecurityGroups:
    get:
      operationId: ListInputSecurityGroups
      description: Produces a list of Input Security Groups for an account
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListInputSecurityGroupsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '485':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListInputSecurityGroupsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/prod/channels/{channelId}':
    get:
      operationId: DescribeChannel
      description: Gets details about a channel
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '485':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '486':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeChannelRequest'
        - name: channelId
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/prod/inputs/{inputId}':
    get:
      operationId: DescribeInput
      description: Produces details about an input
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeInputResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '485':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '486':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeInputRequest'
        - name: inputId
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/prod/inputSecurityGroups/{inputSecurityGroupId}':
    get:
      operationId: DescribeInputSecurityGroup
      description: Produces a summary of an Input Security Group
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeInputSecurityGroupResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '485':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '486':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeInputSecurityGroupRequest'
        - name: inputSecurityGroupId
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/prod/channels/{channelId}/start':
    post:
      operationId: StartChannel
      description: Starts an existing channel
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '485':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '486':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '487':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StartChannelRequest'
        - name: channelId
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/prod/channels/{channelId}/stop':
    post:
      operationId: StopChannel
      description: Stops a running channel
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopChannelResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: BadGatewayException
          schema:
            $ref: '#/definitions/BadGatewayException'
        '484':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '485':
          description: GatewayTimeoutException
          schema:
            $ref: '#/definitions/GatewayTimeoutException'
        '486':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '487':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StopChannelRequest'
        - name: channelId
          in: path
          type: string
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  AacCodingMode:
    type: string
    enum:
      - AD_RECEIVER_MIX
      - CODING_MODE_1_0
      - CODING_MODE_1_1
      - CODING_MODE_2_0
      - CODING_MODE_5_1
    description: Placeholder documentation for AacCodingMode
  AacInputType:
    type: string
    enum:
      - BROADCASTER_MIXED_AD
      - NORMAL
    description: Placeholder documentation for AacInputType
  AacProfile:
    type: string
    enum:
      - HEV1
      - HEV2
      - LC
    description: Placeholder documentation for AacProfile
  AacRateControlMode:
    type: string
    enum:
      - CBR
      - VBR
    description: Placeholder documentation for AacRateControlMode
  AacRawFormat:
    type: string
    enum:
      - LATM_LOAS
      - NONE
    description: Placeholder documentation for AacRawFormat
  AacSettings:
    type: object
    properties:
      Bitrate:
        $ref: '#/definitions/__double'
        description: Average bitrate in bits/second. Valid values depend on rate control mode and profile.
      CodingMode:
        $ref: '#/definitions/AacCodingMode'
        description: 'Mono, Stereo, or 5.1 channel layout. Valid values depend on rate control mode and profile. The adReceiverMix setting receives a stereo description plus control track and emits a mono AAC encode of the description track, with control data emitted in the PES header as per ETSI TS 101 154 Annex E.'
      InputType:
        $ref: '#/definitions/AacInputType'
        description: |-
          Set to "broadcasterMixedAd" when input contains pre-mixed main audio + AD (narration) as a stereo pair.  The Audio Type field (audioType) will be set to 3, which signals to downstream systems that this stream contains "broadcaster mixed AD". Note that the input received by the encoder must contain pre-mixed audio; the encoder does not perform the mixing. The values in audioTypeControl and audioType (in AudioDescription) are ignored when set to broadcasterMixedAd.

          Leave set to "normal" when input does not contain pre-mixed audio + AD.
      Profile:
        $ref: '#/definitions/AacProfile'
        description: AAC Profile.
      RateControlMode:
        $ref: '#/definitions/AacRateControlMode'
        description: Rate Control Mode.
      RawFormat:
        $ref: '#/definitions/AacRawFormat'
        description: Sets LATM / LOAS AAC output for raw containers.
      SampleRate:
        $ref: '#/definitions/__double'
        description: Sample rate in Hz. Valid values depend on rate control mode and profile.
      Spec:
        $ref: '#/definitions/AacSpec'
        description: Use MPEG-2 AAC audio instead of MPEG-4 AAC audio for raw or MPEG-2 Transport Stream containers.
      VbrQuality:
        $ref: '#/definitions/AacVbrQuality'
        description: VBR Quality Level - Only used if rateControlMode is VBR.
    description: Placeholder documentation for AacSettings
  AacSpec:
    type: string
    enum:
      - MPEG2
      - MPEG4
    description: Placeholder documentation for AacSpec
  AacVbrQuality:
    type: string
    enum:
      - HIGH
      - LOW
      - MEDIUM_HIGH
      - MEDIUM_LOW
    description: Placeholder documentation for AacVbrQuality
  Ac3BitstreamMode:
    type: string
    enum:
      - COMMENTARY
      - COMPLETE_MAIN
      - DIALOGUE
      - EMERGENCY
      - HEARING_IMPAIRED
      - MUSIC_AND_EFFECTS
      - VISUALLY_IMPAIRED
      - VOICE_OVER
    description: Placeholder documentation for Ac3BitstreamMode
  Ac3CodingMode:
    type: string
    enum:
      - CODING_MODE_1_0
      - CODING_MODE_1_1
      - CODING_MODE_2_0
      - CODING_MODE_3_2_LFE
    description: Placeholder documentation for Ac3CodingMode
  Ac3DrcProfile:
    type: string
    enum:
      - FILM_STANDARD
      - NONE
    description: Placeholder documentation for Ac3DrcProfile
  Ac3LfeFilter:
    type: string
    enum:
      - DISABLED
      - ENABLED
    description: Placeholder documentation for Ac3LfeFilter
  Ac3MetadataControl:
    type: string
    enum:
      - FOLLOW_INPUT
      - USE_CONFIGURED
    description: Placeholder documentation for Ac3MetadataControl
  Ac3Settings:
    type: object
    properties:
      Bitrate:
        $ref: '#/definitions/__double'
        description: Average bitrate in bits/second. Valid bitrates depend on the coding mode.
      BitstreamMode:
        $ref: '#/definitions/Ac3BitstreamMode'
        description: Specifies the bitstream mode (bsmod) for the emitted AC-3 stream. See ATSC A/52-2012 for background on these values.
      CodingMode:
        $ref: '#/definitions/Ac3CodingMode'
        description: Dolby Digital coding mode. Determines number of channels.
      Dialnorm:
        $ref: '#/definitions/__integer'
        description: 'Sets the dialnorm for the output. If excluded and input audio is Dolby Digital, dialnorm will be passed through.'
      DrcProfile:
        $ref: '#/definitions/Ac3DrcProfile'
        description: 'If set to filmStandard, adds dynamic range compression signaling to the output bitstream as defined in the Dolby Digital specification.'
      LfeFilter:
        $ref: '#/definitions/Ac3LfeFilter'
        description: 'When set to enabled, applies a 120Hz lowpass filter to the LFE channel prior to encoding. Only valid in codingMode32Lfe mode.'
      MetadataControl:
        $ref: '#/definitions/Ac3MetadataControl'
        description: 'When set to "followInput", encoder metadata will be sourced from the DD, DD+, or DolbyE decoder that supplied this audio data. If audio was not supplied from one of these streams, then the static metadata settings will be used.'
    description: Placeholder documentation for Ac3Settings
  AccessDenied:
    type: object
    properties:
      Message:
        $ref: '#/definitions/__string'
    description: Placeholder documentation for AccessDenied
  AfdSignaling:
    type: string
    enum:
      - AUTO
      - FIXED
      - NONE
    description: Placeholder documentation for AfdSignaling
  ArchiveContainerSettings:
    type: object
    properties:
      M2tsSettings:
        $ref: '#/definitions/M2tsSettings'
    description: Placeholder documentation for ArchiveContainerSettings
  ArchiveGroupSettings:
    type: object
    properties:
      Destination:
        $ref: '#/definitions/OutputLocationRef'
        description: 'A directory and base filename where archive files should be written.  If the base filename portion of the URI is left blank, the base filename of the first input will be automatically inserted.'
      RolloverInterval:
        $ref: '#/definitions/__integer'
        description: Number of seconds to write to archive file before closing and starting a new one.
    description: Placeholder documentation for ArchiveGroupSettings
  ArchiveOutputSettings:
    type: object
    properties:
      ContainerSettings:
        $ref: '#/definitions/ArchiveContainerSettings'
        description: Settings specific to the container type of the file.
      Extension:
        $ref: '#/definitions/__string'
        description: 'Output file extension. If excluded, this will be auto-selected from the container type.'
      NameModifier:
        $ref: '#/definitions/__string'
        description: String concatenated to the end of the destination filename.  Required for multiple outputs of the same type.
    description: Placeholder documentation for ArchiveOutputSettings
  AribDestinationSettings:
    type: object
    properties: {}
    description: Placeholder documentation for AribDestinationSettings
  AribSourceSettings:
    type: object
    properties: {}
    description: Placeholder documentation for AribSourceSettings
  AudioChannelMapping:
    type: object
    properties:
      InputChannelLevels:
        $ref: '#/definitions/ListOfInputChannelLevel'
        description: Indices and gain values for each input channel that should be remixed into this output channel.
      OutputChannel:
        $ref: '#/definitions/__integer'
        description: The index of the output channel being produced.
    description: Placeholder documentation for AudioChannelMapping
  AudioCodecSettings:
    type: object
    properties:
      AacSettings:
        $ref: '#/definitions/AacSettings'
      Ac3Settings:
        $ref: '#/definitions/Ac3Settings'
      Eac3Settings:
        $ref: '#/definitions/Eac3Settings'
      Mp2Settings:
        $ref: '#/definitions/Mp2Settings'
      PassThroughSettings:
        $ref: '#/definitions/PassThroughSettings'
    description: Placeholder documentation for AudioCodecSettings
  AudioDescription:
    type: object
    properties:
      AudioNormalizationSettings:
        $ref: '#/definitions/AudioNormalizationSettings'
        description: Advanced audio normalization settings.
      AudioSelectorName:
        $ref: '#/definitions/__string'
        description: The name of the AudioSelector used as the source for this AudioDescription.
      AudioType:
        $ref: '#/definitions/AudioType'
        description: Applies only if audioTypeControl is useConfigured. The values for audioType are defined in ISO-IEC 13818-1.
      AudioTypeControl:
        $ref: '#/definitions/AudioDescriptionAudioTypeControl'
        description: |-
          Determines how audio type is determined.
            followInput: If the input contains an ISO 639 audioType, then that value is passed through to the output. If the input contains no ISO 639 audioType, the value in Audio Type is included in the output.
            useConfigured: The value in Audio Type is included in the output.
          Note that this field and audioType are both ignored if inputType is broadcasterMixedAd.
      CodecSettings:
        $ref: '#/definitions/AudioCodecSettings'
        description: Audio codec settings.
      LanguageCode:
        $ref: '#/definitions/__string'
        description: 'Indicates the language of the audio output track. Only used if languageControlMode is useConfigured, or there is no ISO 639 language code specified in the input.'
      LanguageCodeControl:
        $ref: '#/definitions/AudioDescriptionLanguageCodeControl'
        description: 'Choosing followInput will cause the ISO 639 language code of the output to follow the ISO 639 language code of the input. The languageCode will be used when useConfigured is set, or when followInput is selected but there is no ISO 639 language code specified by the input.'
      Name:
        $ref: '#/definitions/__string'
        description: The name of this AudioDescription. Outputs will use this name to uniquely identify this AudioDescription.  Description names should be unique within this Live Event.
      RemixSettings:
        $ref: '#/definitions/RemixSettings'
        description: Settings that control how input audio channels are remixed into the output audio channels.
      StreamName:
        $ref: '#/definitions/__string'
        description: 'Used for MS Smooth and Apple HLS outputs. Indicates the name displayed by the player (eg. English, or Director Commentary).'
    description: Placeholder documentation for AudioDescription
  AudioDescriptionAudioTypeControl:
    type: string
    enum:
      - FOLLOW_INPUT
      - USE_CONFIGURED
    description: Placeholder documentation for AudioDescriptionAudioTypeControl
  AudioDescriptionLanguageCodeControl:
    type: string
    enum:
      - FOLLOW_INPUT
      - USE_CONFIGURED
    description: Placeholder documentation for AudioDescriptionLanguageCodeControl
  AudioLanguageSelection:
    type: object
    properties:
      LanguageCode:
        $ref: '#/definitions/__string'
        description: Selects a specific three-letter language code from within an audio source.
      LanguageSelectionPolicy:
        $ref: '#/definitions/AudioLanguageSelectionPolicy'
        description: 'When set to "strict", the transport stream demux strictly identifies audio streams by their language descriptor. If a PMT update occurs such that an audio stream matching the initially selected language is no longer present then mute will be encoded until the language returns. If "loose", then on a PMT update the demux will choose another audio stream in the program with the same stream type if it can''t find one with the same language.'
    description: Placeholder documentation for AudioLanguageSelection
  AudioLanguageSelectionPolicy:
    type: string
    enum:
      - LOOSE
      - STRICT
    description: Placeholder documentation for AudioLanguageSelectionPolicy
  AudioNormalizationAlgorithm:
    type: string
    enum:
      - ITU_1770_1
      - ITU_1770_2
    description: Placeholder documentation for AudioNormalizationAlgorithm
  AudioNormalizationAlgorithmControl:
    type: string
    enum:
      - CORRECT_AUDIO
    description: Placeholder documentation for AudioNormalizationAlgorithmControl
  AudioNormalizationSettings:
    type: object
    properties:
      Algorithm:
        $ref: '#/definitions/AudioNormalizationAlgorithm'
        description: 'Audio normalization algorithm to use. itu17701 conforms to the CALM Act specification, itu17702 conforms to the EBU R-128 specification.'
      AlgorithmControl:
        $ref: '#/definitions/AudioNormalizationAlgorithmControl'
        description: 'When set to correctAudio the output audio is corrected using the chosen algorithm. If set to measureOnly, the audio will be measured but not adjusted.'
      TargetLkfs:
        $ref: '#/definitions/__double'
        description: 'Target LKFS(loudness) to adjust volume to. If no value is entered, a default value will be used according to the chosen algorithm.  The CALM Act (1770-1) recommends a target of -24 LKFS. The EBU R-128 specification (1770-2) recommends a target of -23 LKFS.'
    description: Placeholder documentation for AudioNormalizationSettings
  AudioOnlyHlsSettings:
    type: object
    properties:
      AudioGroupId:
        $ref: '#/definitions/__string'
        description: Specifies the group to which the audio Rendition belongs.
      AudioOnlyImage:
        $ref: '#/definitions/InputLocation'
        description: 'For use with an audio only Stream. Must be a .jpg or .png file. If given, this image will be used as the cover-art for the audio only output. Ideally, it should be formatted for an iPhone screen for two reasons. The iPhone does not resize the image, it crops a centered image on the top/bottom and left/right. Additionally, this image file gets saved bit-for-bit into every 10-second segment file, so will increase bandwidth by {image file size} * {segment count} * {user count.}.'
      AudioTrackType:
        $ref: '#/definitions/AudioOnlyHlsTrackType'
        description: |-
          Four types of audio-only tracks are supported:

          Audio-Only Variant Stream
          The client can play back this audio-only stream instead of video in low-bandwidth scenarios. Represented as an EXT-X-STREAM-INF in the HLS manifest.

          Alternate Audio, Auto Select, Default
          Alternate rendition that the client should try to play back by default. Represented as an EXT-X-MEDIA in the HLS manifest with DEFAULT=YES, AUTOSELECT=YES

          Alternate Audio, Auto Select, Not Default
          Alternate rendition that the client may try to play back by default. Represented as an EXT-X-MEDIA in the HLS manifest with DEFAULT=NO, AUTOSELECT=YES

          Alternate Audio, not Auto Select
          Alternate rendition that the client will not try to play back by default. Represented as an EXT-X-MEDIA in the HLS manifest with DEFAULT=NO, AUTOSELECT=NO
    description: Placeholder documentation for AudioOnlyHlsSettings
  AudioOnlyHlsTrackType:
    type: string
    enum:
      - ALTERNATE_AUDIO_AUTO_SELECT
      - ALTERNATE_AUDIO_AUTO_SELECT_DEFAULT
      - ALTERNATE_AUDIO_NOT_AUTO_SELECT
      - AUDIO_ONLY_VARIANT_STREAM
    description: Placeholder documentation for AudioOnlyHlsTrackType
  AudioPidSelection:
    type: object
    properties:
      Pid:
        $ref: '#/definitions/__integer'
        description: Selects a specific PID from within a source.
    description: Placeholder documentation for AudioPidSelection
  AudioSelector:
    type: object
    properties:
      Name:
        $ref: '#/definitions/__string'
        description: The name of this AudioSelector. AudioDescriptions will use this name to uniquely identify this Selector.  Selector names should be unique per input.
      SelectorSettings:
        $ref: '#/definitions/AudioSelectorSettings'
        description: The audio selector settings.
    description: Placeholder documentation for AudioSelector
  AudioSelectorSettings:
    type: object
    properties:
      AudioLanguageSelection:
        $ref: '#/definitions/AudioLanguageSelection'
      AudioPidSelection:
        $ref: '#/definitions/AudioPidSelection'
    description: Placeholder documentation for AudioSelectorSettings
  AudioType:
    type: string
    enum:
      - CLEAN_EFFECTS
      - HEARING_IMPAIRED
      - UNDEFINED
      - VISUAL_IMPAIRED_COMMENTARY
    description: Placeholder documentation for AudioType
  AvailBlanking:
    type: object
    properties:
      AvailBlankingImage:
        $ref: '#/definitions/InputLocation'
        description: Blanking image to be used. Leave empty for solid black. Only bmp and png images are supported.
      State:
        $ref: '#/definitions/AvailBlankingState'
        description: 'When set to enabled, causes video, audio and captions to be blanked when insertion metadata is added.'
    description: Placeholder documentation for AvailBlanking
  AvailBlankingState:
    type: string
    enum:
      - DISABLED
      - ENABLED
    description: Placeholder documentation for AvailBlankingState
  AvailConfiguration:
    type: object
    properties:
      AvailSettings:
        $ref: '#/definitions/AvailSettings'
        description: Ad avail settings.
    description: Placeholder documentation for AvailConfiguration
  AvailSettings:
    type: object
    properties:
      Scte35SpliceInsert:
        $ref: '#/definitions/Scte35SpliceInsert'
      Scte35TimeSignalApos:
        $ref: '#/definitions/Scte35TimeSignalApos'
    description: Placeholder documentation for AvailSettings
  BadGatewayException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/__string'
    description: Placeholder documentation for BadGatewayException
  BadRequestException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/__string'
    description: Placeholder documentation for BadRequestException
  BlackoutSlate:
    type: object
    properties:
      BlackoutSlateImage:
        $ref: '#/definitions/InputLocation'
        description: Blackout slate image to be used. Leave empty for solid black. Only bmp and png images are supported.
      NetworkEndBlackout:
        $ref: '#/definitions/BlackoutSlateNetworkEndBlackout'
        description: 'Setting to enabled causes the encoder to blackout the video, audio, and captions, and raise the "Network Blackout Image" slate when an SCTE104/35 Network End Segmentation Descriptor is encountered. The blackout will be lifted when the Network Start Segmentation Descriptor is encountered. The Network End and Network Start descriptors must contain a network ID that matches the value entered in "Network ID".'
      NetworkEndBlackoutImage:
        $ref: '#/definitions/InputLocation'
        description: Path to local file to use as Network End Blackout image. Image will be scaled to fill the entire output raster.
      NetworkId:
        $ref: '#/definitions/__string'
        description: 'Provides Network ID that matches EIDR ID format (e.g., "10.XXXX/XXXX-XXXX-XXXX-XXXX-XXXX-C").'
      State:
        $ref: '#/definitions/BlackoutSlateState'
        description: 'When set to enabled, causes video, audio and captions to be blanked when indicated by program metadata.'
    description: Placeholder documentation for BlackoutSlate
  BlackoutSlateNetworkEndBlackout:
    type: string
    enum:
      - DISABLED
      - ENABLED
    description: Placeholder documentation for BlackoutSlateNetworkEndBlackout
  BlackoutSlateState:
    type: string
    enum:
      - DISABLED
      - ENABLED
    description: Placeholder documentation for BlackoutSlateState
  BurnInAlignment:
    type: string
    enum:
      - CENTERED
      - LEFT
      - SMART
    description: Placeholder documentation for BurnInAlignment
  BurnInBackgroundColor:
    type: string
    enum:
      - BLACK
      - NONE
      - WHITE
    description: Placeholder documentation for BurnInBackgroundColor
  BurnInDestinationSettings:
    type: object
    properties:
      Alignment:
        $ref: '#/definitions/BurnInAlignment'
        description: 'If no explicit xPosition or yPosition is provided, setting alignment to centered will place the captions at the bottom center of the output. Similarly, setting a left alignment will align captions to the bottom left of the output. If x and y positions are given in conjunction with the alignment parameter, the font will be justified (either left or centered) relative to those coordinates. Selecting "smart" justification will left-justify live subtitles and center-justify pre-recorded subtitles.  All burn-in and DVB-Sub font settings must match.'
      BackgroundColor:
        $ref: '#/definitions/BurnInBackgroundColor'
        description: Specifies the color of the rectangle behind the captions.  All burn-in and DVB-Sub font settings must match.
      BackgroundOpacity:
        $ref: '#/definitions/__integer'
        description: Specifies the opacity of the background rectangle. 255 is opaque; 0 is transparent. Leaving this parameter out is equivalent to setting it to 0 (transparent).  All burn-in and DVB-Sub font settings must match.
      Font:
        $ref: '#/definitions/InputLocation'
        description: 'External font file used for caption burn-in. File extension must be ''ttf'' or ''tte''.  Although the user can select output fonts for many different types of input captions,  embedded, STL and teletext sources use a strict grid system. Using external fonts with these caption sources could cause unexpected display of proportional fonts.  All burn-in and DVB-Sub font settings must match.'
      FontColor:
        $ref: '#/definitions/BurnInFontColor'
        description: 'Specifies the color of the burned-in captions.  This option is not valid for source captions that are STL, 608/embedded or teletext.  These source settings are already pre-defined by the caption stream.  All burn-in and DVB-Sub font settings must match.'
      FontOpacity:
        $ref: '#/definitions/__integer'
        description: Specifies the opacity of the burned-in captions. 255 is opaque; 0 is transparent.  All burn-in and DVB-Sub font settings must match.
      FontResolution:
        $ref: '#/definitions/__integer'
        description: Font resolution in DPI (dots per inch); default is 96 dpi.  All burn-in and DVB-Sub font settings must match.
      FontSize:
        $ref: '#/definitions/__string'
        description: When set to 'auto' fontSize will scale depending on the size of the output.  Giving a positive integer will specify the exact font size in points.  All burn-in and DVB-Sub font settings must match.
      OutlineColor:
        $ref: '#/definitions/BurnInOutlineColor'
        description: Specifies font outline color. This option is not valid for source captions that are either 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.
      OutlineSize:
        $ref: '#/definitions/__integer'
        description: Specifies font outline size in pixels. This option is not valid for source captions that are either 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.
      ShadowColor:
        $ref: '#/definitions/BurnInShadowColor'
        description: Specifies the color of the shadow cast by the captions.  All burn-in and DVB-Sub font settings must match.
      ShadowOpacity:
        $ref: '#/definitions/__integer'
        description: Specifies the opacity of the shadow. 255 is opaque; 0 is transparent. Leaving this parameter out is equivalent to setting it to 0 (transparent).  All burn-in and DVB-Sub font settings must match.
      ShadowXOffset:
        $ref: '#/definitions/__integer'
        description: Specifies the horizontal offset of the shadow relative to the captions in pixels. A value of -2 would result in a shadow offset 2 pixels to the left.  All burn-in and DVB-Sub font settings must match.
      ShadowYOffset:
        $ref: '#/definitions/__integer'
        description: Specifies the vertical offset of the shadow relative to the captions in pixels. A value of -2 would result in a shadow offset 2 pixels above the text.  All burn-in and DVB-Sub font settings must match.
      TeletextGridControl:
        $ref: '#/definitions/BurnInTeletextGridControl'
        description: Controls whether a fixed grid size will be used to generate the output subtitles bitmap. Only applicable for Teletext inputs and DVB-Sub/Burn-in outputs.
      XPosition:
        $ref: '#/definitions/__integer'
        description: 'Specifies the horizontal position of the caption relative to the left side of the output in pixels. A value of 10 would result in the captions starting 10 pixels from the left of the output. If no explicit xPosition is provided, the horizontal caption position will be determined by the alignment parameter.  All burn-in and DVB-Sub font settings must match.'
      YPosition:
        $ref: '#/definitions/__integer'
        description: 'Specifies the vertical position of the caption relative to the top of the output in pixels. A value of 10 would result in the captions starting 10 pixels from the top of the output. If no explicit yPosition is provided, the caption will be positioned towards the bottom of the output.  All burn-in and DVB-Sub font settings must match.'
    description: Placeholder documentation for BurnInDestinationSettings
  BurnInFontColor:
    type: string
    enum:
      - BLACK
      - BLUE
      - GREEN
      - RED
      - WHITE
      - YELLOW
    description: Placeholder documentation for BurnInFontColor
  BurnInOutlineColor:
    type: string
    enum:
      - BLACK
      - BLUE
      - GREEN
      - RED
      - WHITE
      - YELLOW
    description: Placeholder documentation for BurnInOutlineColor
  BurnInShadowColor:
    type: string
    enum:
      - BLACK
      - NONE
      - WHITE
    description: Placeholder documentation for BurnInShadowColor
  BurnInTeletextGridControl:
    type: string
    enum:
      - FIXED
      - SCALED
    description: Placeholder documentation for BurnInTeletextGridControl
  CaptionDescription:
    type: object
    properties:
      CaptionSelectorName:
        $ref: '#/definitions/__string'
        description: Specifies which input caption selector to use as a caption source when generating output captions. This field should match a captionSelector name.
      DestinationSettings:
        $ref: '#/definitions/CaptionDestinationSettings'
        description: Additional settings for captions destination that depend on the destination type.
      LanguageCode:
        $ref: '#/definitions/__string'
        description: 'ISO 639-2 three-digit code: http://www.loc.gov/standards/iso639-2/'
      LanguageDescription:
        $ref: '#/definitions/__string'
        description: 'Human readable information to indicate captions available for players (eg. English, or Spanish).'
      Name:
        $ref: '#/definitions/__string'
        description: Name of the caption description.  Used to associate a caption description with an output.  Names must be unique within an event.
    description: Output groups for this Live Event. Output groups contain information about where streams should be distributed.
  CaptionDestinationSettings:
    type: object
    properties:
      AribDestinationSettings:
        $ref: '#/definitions/AribDestinationSettings'
      BurnInDestinationSettings:
        $ref: '#/definitions/BurnInDestinationSettings'
      DvbSubDestinationSettings:
        $ref: '#/definitions/DvbSubDestinationSettings'
      EmbeddedDestinationSettings:
        $ref: '#/definitions/EmbeddedDestinationSettings'
      EmbeddedPlusScte20DestinationSettings:
        $ref: '#/definitions/EmbeddedPlusScte20DestinationSettings'
      Scte20PlusEmbeddedDestinationSettings:
        $ref: '#/definitions/Scte20PlusEmbeddedDestinationSettings'
      Scte27DestinationSettings:
        $ref: '#/definitions/Scte27DestinationSettings'
      SmpteTtDestinationSettings:
        $ref: '#/definitions/SmpteTtDestinationSettings'
      TeletextDestinationSettings:
        $ref: '#/definitions/TeletextDestinationSettings'
      TtmlDestinationSettings:
        $ref: '#/definitions/TtmlDestinationSettings'
      WebvttDestinationSettings:
        $ref: '#/definitions/WebvttDestinationSettings'
    description: Placeholder documentation for CaptionDestinationSettings
  CaptionLanguageMapping:
    type: object
    properties:
      CaptionChannel:
        $ref: '#/definitions/__integer'
        description: Channel to insert closed captions.  Each channel mapping must have a unique channel number (maximum of 4)
      LanguageCode:
        $ref: '#/definitions/__string'
        description: 'Three character ISO 639-2 language code (see http://www.loc.gov/standards/iso639-2)'
      LanguageDescription:
        $ref: '#/definitions/__string'
        description: Textual description of language
    description: 'Maps a caption channel to an ISO 693-2 language code (http://www.loc.gov/standards/iso639-2), with an optional description.'
  CaptionSelector:
    type: object
    properties:
      LanguageCode:
        $ref: '#/definitions/__string'
        description: When specified this field indicates the three letter language code of the caption track to extract from the source.
      Name:
        $ref: '#/definitions/__string'
        description: Name identifier for a caption selector.  This name is used to associate this caption selector with one or more caption descriptions.  Names must be unique within an event.
      SelectorSettings:
        $ref: '#/definitions/CaptionSelectorSettings'
        description: Caption selector settings.
    description: Output groups for this Live Event. Output groups contain information about where streams should be distributed.
  CaptionSelectorSettings:
    type: object
    properties:
      AribSourceSettings:
        $ref: '#/definitions/AribSourceSettings'
      DvbSubSourceSettings:
        $ref: '#/definitions/DvbSubSourceSettings'
      EmbeddedSourceSettings:
        $ref: '#/definitions/EmbeddedSourceSettings'
      Scte20SourceSettings:
        $ref: '#/definitions/Scte20SourceSettings'
      Scte27SourceSettings:
        $ref: '#/definitions/Scte27SourceSettings'
      TeletextSourceSettings:
        $ref: '#/definitions/TeletextSourceSettings'
    description: Placeholder documentation for CaptionSelectorSettings
  Channel:
    type: object
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: The unique arn of the channel.
      Destinations:
        $ref: '#/definitions/ListOfOutputDestination'
        description: |
          A list of destinations of the channel. For UDP outputs, there is one
          destination per output. For other types (HLS, for example), there is
          one destination per packager.
      EgressEndpoints:
        $ref: '#/definitions/ListOfChannelEgressEndpoint'
        description: The endpoints where outgoing connections initiate from
      EncoderSettings:
        $ref: '#/definitions/EncoderSettings'
      Id:
        $ref: '#/definitions/__string'
        description: The unique id of the channel.
      InputAttachments:
        $ref: '#/definitions/ListOfInputAttachment'
        description: List of input attachments for channel.
      Name:
        $ref: '#/definitions/__string'
        description: The name of the channel. (user-mutable)
      PipelinesRunningCount:
        $ref: '#/definitions/__integer'
        description: The number of currently healthy pipelines.
      RoleArn:
        $ref: '#/definitions/__string'
        description: The Amazon Resource Name (ARN) of the role assumed when running the Channel.
      State:
        $ref: '#/definitions/ChannelState'
    description: Placeholder documentation for Channel
  ChannelConfigurationValidationError:
    type: object
    properties:
      Message:
        $ref: '#/definitions/__string'
      ValidationErrors:
        $ref: '#/definitions/ListOfValidationError'
        description: A collection of validation error responses from attempting to create a channel with a bouquet of settings.
    description: Placeholder documentation for ChannelConfigurationValidationError
  ChannelEgressEndpoint:
    type: object
    properties:
      SourceIp:
        $ref: '#/definitions/__string'
        description: Public IP of where a channel's output comes from
    description: Placeholder documentation for ChannelEgressEndpoint
  ChannelState:
    type: string
    enum:
      - CREATING
      - CREATE_FAILED
      - IDLE
      - STARTING
      - RUNNING
      - RECOVERING
      - STOPPING
      - DELETING
      - DELETED
    description: Placeholder documentation for ChannelState
  ChannelSummary:
    type: object
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: The unique arn of the channel.
      Destinations:
        $ref: '#/definitions/ListOfOutputDestination'
        description: |
          A list of destinations of the channel. For UDP outputs, there is one
          destination per output. For other types (HLS, for example), there is
          one destination per packager.
      EgressEndpoints:
        $ref: '#/definitions/ListOfChannelEgressEndpoint'
        description: The endpoints where outgoing connections initiate from
      Id:
        $ref: '#/definitions/__string'
        description: The unique id of the channel.
      InputAttachments:
        $ref: '#/definitions/ListOfInputAttachment'
        description: List of input attachments for channel.
      Name:
        $ref: '#/definitions/__string'
        description: The name of the channel. (user-mutable)
      PipelinesRunningCount:
        $ref: '#/definitions/__integer'
        description: The number of currently healthy pipelines.
      RoleArn:
        $ref: '#/definitions/__string'
        description: The Amazon Resource Name (ARN) of the role assumed when running the Channel.
      State:
        $ref: '#/definitions/ChannelState'
    description: Placeholder documentation for ChannelSummary
  ConflictException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/__string'
    description: Placeholder documentation for ConflictException
  CreateChannel:
    type: object
    properties:
      Destinations:
        $ref: '#/definitions/ListOfOutputDestination'
      EncoderSettings:
        $ref: '#/definitions/EncoderSettings'
      InputAttachments:
        $ref: '#/definitions/ListOfInputAttachment'
        description: List of input attachments for channel.
      Name:
        $ref: '#/definitions/__string'
        description: Name of channel.
      RequestId:
        $ref: '#/definitions/__string'
        description: |
          Unique request ID to be specified. This is needed to prevent retries from
          creating multiple resources.
      Reserved:
        $ref: '#/definitions/__string'
        description: Reserved for future use.
      RoleArn:
        $ref: '#/definitions/__string'
        description: An optional Amazon Resource Name (ARN) of the role to assume when running the Channel.
    description: Placeholder documentation for CreateChannel
  CreateChannelRequest:
    type: object
    properties:
      Destinations:
        $ref: '#/definitions/ListOfOutputDestination'
      EncoderSettings:
        $ref: '#/definitions/EncoderSettings'
      InputAttachments:
        $ref: '#/definitions/ListOfInputAttachment'
        description: List of input attachments for channel.
      Name:
        $ref: '#/definitions/__string'
        description: Name of channel.
      RequestId:
        $ref: '#/definitions/__string'
        description: |
          Unique request ID to be specified. This is needed to prevent retries from
          creating multiple resources.
      Reserved:
        $ref: '#/definitions/__string'
        description: Reserved for future use.
      RoleArn:
        $ref: '#/definitions/__string'
        description: An optional Amazon Resource Name (ARN) of the role to assume when running the Channel.
    description: A request to create a channel
  CreateChannelResponse:
    type: object
    properties:
      Channel:
        $ref: '#/definitions/Channel'
    description: Placeholder documentation for CreateChannelResponse
  CreateChannelResultModel:
    type: object
    properties:
      Channel:
        $ref: '#/definitions/Channel'
    description: Placeholder documentation for CreateChannelResultModel
  CreateInput:
    type: object
    properties:
      Destinations:
        $ref: '#/definitions/ListOfInputDestinationRequest'
        description: |
          settings required for PUSH-type inputs; one per redundancy group.
          Only one of sources and destinations can be specified.
          Note: there are currently no settings required for PUSH-type inputs
      InputSecurityGroups:
        $ref: '#/definitions/ListOf__string'
        description: A list of security groups referenced by IDs to attach to the input.
      Name:
        $ref: '#/definitions/__string'
        description: Name of the input.
      RequestId:
        $ref: '#/definitions/__string'
        description: |
          Unique identifier of the request to ensure the request is handled
          exactly once in case of retries
      Sources:
        $ref: '#/definitions/ListOfInputSourceRequest'
        description: |
          settings required for PULL-type inputs; one per redundancy group
          Only one of sources and destinations can be specified
      Type:
        $ref: '#/definitions/InputType'
    description: Placeholder documentation for CreateInput
  CreateInputRequest:
    type: object
    properties:
      Destinations:
        $ref: '#/definitions/ListOfInputDestinationRequest'
        description: |
          settings required for PUSH-type inputs; one per redundancy group.
          Only one of sources and destinations can be specified.
          Note: there are currently no settings required for PUSH-type inputs
      InputSecurityGroups:
        $ref: '#/definitions/ListOf__string'
        description: A list of security groups referenced by IDs to attach to the input.
      Name:
        $ref: '#/definitions/__string'
        description: Name of the input.
      RequestId:
        $ref: '#/definitions/__string'
        description: |
          Unique identifier of the request to ensure the request is handled
          exactly once in case of retries
      Sources:
        $ref: '#/definitions/ListOfInputSourceRequest'
        description: |
          settings required for PULL-type inputs; one per redundancy group
          Only one of sources and destinations can be specified
      Type:
        $ref: '#/definitions/InputType'
    description: The name of the input
  CreateInputResponse:
    type: object
    properties:
      Input:
        $ref: '#/definitions/Input'
    description: Placeholder documentation for CreateInputResponse
  CreateInputResultModel:
    type: object
    properties:
      Input:
        $ref: '#/definitions/Input'
    description: Placeholder documentation for CreateInputResultModel
  CreateInputSecurityGroupRequest:
    type: object
    properties:
      WhitelistRules:
        $ref: '#/definitions/ListOfInputWhitelistRuleCidr'
        description: List of IPv4 CIDR addresses to whitelist
    description: The IPv4 CIDRs to whitelist for this Input Security Group
  CreateInputSecurityGroupResponse:
    type: object
    properties:
      SecurityGroup:
        $ref: '#/definitions/InputSecurityGroup'
    description: Placeholder documentation for CreateInputSecurityGroupResponse
  CreateInputSecurityGroupResultModel:
    type: object
    properties:
      SecurityGroup:
        $ref: '#/definitions/InputSecurityGroup'
    description: Placeholder documentation for CreateInputSecurityGroupResultModel
  DeleteChannelRequest:
    type: object
    properties: {}
    description: Placeholder documentation for DeleteChannelRequest
  DeleteChannelResponse:
    type: object
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: The unique arn of the channel.
      Destinations:
        $ref: '#/definitions/ListOfOutputDestination'
        description: |
          A list of destinations of the channel. For UDP outputs, there is one
          destination per output. For other types (HLS, for example), there is
          one destination per packager.
      EgressEndpoints:
        $ref: '#/definitions/ListOfChannelEgressEndpoint'
        description: The endpoints where outgoing connections initiate from
      EncoderSettings:
        $ref: '#/definitions/EncoderSettings'
      Id:
        $ref: '#/definitions/__string'
        description: The unique id of the channel.
      InputAttachments:
        $ref: '#/definitions/ListOfInputAttachment'
        description: List of input attachments for channel.
      Name:
        $ref: '#/definitions/__string'
        description: The name of the channel. (user-mutable)
      PipelinesRunningCount:
        $ref: '#/definitions/__integer'
        description: The number of currently healthy pipelines.
      RoleArn:
        $ref: '#/definitions/__string'
        description: The Amazon Resource Name (ARN) of the role assumed when running the Channel.
      State:
        $ref: '#/definitions/ChannelState'
    description: Placeholder documentation for DeleteChannelResponse
  DeleteInputRequest:
    type: object
    properties: {}
    description: Placeholder documentation for DeleteInputRequest
  DeleteInputResponse:
    type: object
    properties: {}
    description: Placeholder documentation for DeleteInputResponse
  DeleteInputSecurityGroupRequest:
    type: object
    properties: {}
    description: Placeholder documentation for DeleteInputSecurityGroupRequest
  DeleteInputSecurityGroupResponse:
    type: object
    properties: {}
    description: Placeholder documentation for DeleteInputSecurityGroupResponse
  DescribeChannelRequest:
    type: object
    properties: {}
    description: Placeholder documentation for DescribeChannelRequest
  DescribeChannelResponse:
    type: object
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: The unique arn of the channel.
      Destinations:
        $ref: '#/definitions/ListOfOutputDestination'
        description: |
          A list of destinations of the channel. For UDP outputs, there is one
          destination per output. For other types (HLS, for example), there is
          one destination per packager.
      EgressEndpoints:
        $ref: '#/definitions/ListOfChannelEgressEndpoint'
        description: The endpoints where outgoing connections initiate from
      EncoderSettings:
        $ref: '#/definitions/EncoderSettings'
      Id:
        $ref: '#/definitions/__string'
        description: The unique id of the channel.
      InputAttachments:
        $ref: '#/definitions/ListOfInputAttachment'
        description: List of input attachments for channel.
      Name:
        $ref: '#/definitions/__string'
        description: The name of the channel. (user-mutable)
      PipelinesRunningCount:
        $ref: '#/definitions/__integer'
        description: The number of currently healthy pipelines.
      RoleArn:
        $ref: '#/definitions/__string'
        description: The Amazon Resource Name (ARN) of the role assumed when running the Channel.
      State:
        $ref: '#/definitions/ChannelState'
    description: Placeholder documentation for DescribeChannelResponse
  DescribeInputRequest:
    type: object
    properties: {}
    description: Placeholder documentation for DescribeInputRequest
  DescribeInputResponse:
    type: object
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: 'Unique ARN of input (generated, immutable)'
      AttachedChannels:
        $ref: '#/definitions/ListOf__string'
        description: List of channel IDs that that input is attached to (currently an input can only be attached to one channel)
      Destinations:
        $ref: '#/definitions/ListOfInputDestination'
        description: List of destinations of input (PULL-type)
      Id:
        $ref: '#/definitions/__string'
        description: 'generated ID of input (unique for user account, immutable)'
      Name:
        $ref: '#/definitions/__string'
        description: user-assigned name (mutable)
      SecurityGroups:
        $ref: '#/definitions/ListOf__string'
        description: List of IDs for all the security groups attached to the input.
      Sources:
        $ref: '#/definitions/ListOfInputSource'
        description: List of sources of input (PULL-type)
      State:
        $ref: '#/definitions/InputState'
      Type:
        $ref: '#/definitions/InputType'
    description: Placeholder documentation for DescribeInputResponse
  DescribeInputSecurityGroupRequest:
    type: object
    properties: {}
    description: Placeholder documentation for DescribeInputSecurityGroupRequest
  DescribeInputSecurityGroupResponse:
    type: object
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: Unique ARN of Input Security Group
      Id:
        $ref: '#/definitions/__string'
        description: The Id of the Input Security Group
      WhitelistRules:
        $ref: '#/definitions/ListOfInputWhitelistRule'
        description: Whitelist rules and their sync status
    description: Placeholder documentation for DescribeInputSecurityGroupResponse
  DvbNitSettings:
    type: object
    properties:
      NetworkId:
        $ref: '#/definitions/__integer'
        description: The numeric value placed in the Network Information Table (NIT).
      NetworkName:
        $ref: '#/definitions/__string'
        description: The network name text placed in the networkNameDescriptor inside the Network Information Table. Maximum length is 256 characters.
      RepInterval:
        $ref: '#/definitions/__integer'
        description: The number of milliseconds between instances of this table in the output transport stream.
    description: DVB Network Information Table (NIT)
  DvbSdtOutputSdt:
    type: string
    enum:
      - SDT_FOLLOW
      - SDT_FOLLOW_IF_PRESENT
      - SDT_MANUAL
      - SDT_NONE
    description: Placeholder documentation for DvbSdtOutputSdt
  DvbSdtSettings:
    type: object
    properties:
      OutputSdt:
        $ref: '#/definitions/DvbSdtOutputSdt'
        description: 'Selects method of inserting SDT information into output stream. The sdtFollow setting copies SDT information from input stream to output stream. The sdtFollowIfPresent setting copies SDT information from input stream to output stream if SDT information is present in the input, otherwise it will fall back on the user-defined values. The sdtManual setting means user will enter the SDT information. The sdtNone setting means output stream will not contain SDT information.'
      RepInterval:
        $ref: '#/definitions/__integer'
        description: The number of milliseconds between instances of this table in the output transport stream.
      ServiceName:
        $ref: '#/definitions/__string'
        description: The service name placed in the serviceDescriptor in the Service Description Table. Maximum length is 256 characters.
      ServiceProviderName:
        $ref: '#/definitions/__string'
        description: The service provider name placed in the serviceDescriptor in the Service Description Table. Maximum length is 256 characters.
    description: DVB Service Description Table (SDT)
  DvbSubDestinationAlignment:
    type: string
    enum:
      - CENTERED
      - LEFT
      - SMART
    description: Placeholder documentation for DvbSubDestinationAlignment
  DvbSubDestinationBackgroundColor:
    type: string
    enum:
      - BLACK
      - NONE
      - WHITE
    description: Placeholder documentation for DvbSubDestinationBackgroundColor
  DvbSubDestinationFontColor:
    type: string
    enum:
      - BLACK
      - BLUE
      - GREEN
      - RED
      - WHITE
      - YELLOW
    description: Placeholder documentation for DvbSubDestinationFontColor
  DvbSubDestinationOutlineColor:
    type: string
    enum:
      - BLACK
      - BLUE
      - GREEN
      - RED
      - WHITE
      - YELLOW
    description: Placeholder documentation for DvbSubDestinationOutlineColor
  DvbSubDestinationSettings:
    type: object
    properties:
      Alignment:
        $ref: '#/definitions/DvbSubDestinationAlignment'
        description: 'If no explicit xPosition or yPosition is provided, setting alignment to centered will place the captions at the bottom center of the output. Similarly, setting a left alignment will align captions to the bottom left of the output. If x and y positions are given in conjunction with the alignment parameter, the font will be justified (either left or centered) relative to those coordinates. Selecting "smart" justification will left-justify live subtitles and center-justify pre-recorded subtitles.  This option is not valid for source captions that are STL or 608/embedded.  These source settings are already pre-defined by the caption stream.  All burn-in and DVB-Sub font settings must match.'
      BackgroundColor:
        $ref: '#/definitions/DvbSubDestinationBackgroundColor'
        description: Specifies the color of the rectangle behind the captions.  All burn-in and DVB-Sub font settings must match.
      BackgroundOpacity:
        $ref: '#/definitions/__integer'
        description: Specifies the opacity of the background rectangle. 255 is opaque; 0 is transparent. Leaving this parameter blank is equivalent to setting it to 0 (transparent).  All burn-in and DVB-Sub font settings must match.
      Font:
        $ref: '#/definitions/InputLocation'
        description: 'External font file used for caption burn-in. File extension must be ''ttf'' or ''tte''.  Although the user can select output fonts for many different types of input captions, embedded, STL and teletext sources use a strict grid system. Using external fonts with these caption sources could cause unexpected display of proportional fonts.  All burn-in and DVB-Sub font settings must match.'
      FontColor:
        $ref: '#/definitions/DvbSubDestinationFontColor'
        description: 'Specifies the color of the burned-in captions.  This option is not valid for source captions that are STL, 608/embedded or teletext.  These source settings are already pre-defined by the caption stream.  All burn-in and DVB-Sub font settings must match.'
      FontOpacity:
        $ref: '#/definitions/__integer'
        description: Specifies the opacity of the burned-in captions. 255 is opaque; 0 is transparent.  All burn-in and DVB-Sub font settings must match.
      FontResolution:
        $ref: '#/definitions/__integer'
        description: Font resolution in DPI (dots per inch); default is 96 dpi.  All burn-in and DVB-Sub font settings must match.
      FontSize:
        $ref: '#/definitions/__string'
        description: When set to auto fontSize will scale depending on the size of the output.  Giving a positive integer will specify the exact font size in points.  All burn-in and DVB-Sub font settings must match.
      OutlineColor:
        $ref: '#/definitions/DvbSubDestinationOutlineColor'
        description: Specifies font outline color. This option is not valid for source captions that are either 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.
      OutlineSize:
        $ref: '#/definitions/__integer'
        description: Specifies font outline size in pixels. This option is not valid for source captions that are either 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.
      ShadowColor:
        $ref: '#/definitions/DvbSubDestinationShadowColor'
        description: Specifies the color of the shadow cast by the captions.  All burn-in and DVB-Sub font settings must match.
      ShadowOpacity:
        $ref: '#/definitions/__integer'
        description: Specifies the opacity of the shadow. 255 is opaque; 0 is transparent. Leaving this parameter blank is equivalent to setting it to 0 (transparent).  All burn-in and DVB-Sub font settings must match.
      ShadowXOffset:
        $ref: '#/definitions/__integer'
        description: Specifies the horizontal offset of the shadow relative to the captions in pixels. A value of -2 would result in a shadow offset 2 pixels to the left.  All burn-in and DVB-Sub font settings must match.
      ShadowYOffset:
        $ref: '#/definitions/__integer'
        description: Specifies the vertical offset of the shadow relative to the captions in pixels. A value of -2 would result in a shadow offset 2 pixels above the text.  All burn-in and DVB-Sub font settings must match.
      TeletextGridControl:
        $ref: '#/definitions/DvbSubDestinationTeletextGridControl'
        description: Controls whether a fixed grid size will be used to generate the output subtitles bitmap. Only applicable for Teletext inputs and DVB-Sub/Burn-in outputs.
      XPosition:
        $ref: '#/definitions/__integer'
        description: 'Specifies the horizontal position of the caption relative to the left side of the output in pixels. A value of 10 would result in the captions starting 10 pixels from the left of the output. If no explicit xPosition is provided, the horizontal caption position will be determined by the alignment parameter.  This option is not valid for source captions that are STL, 608/embedded or teletext. These source settings are already pre-defined by the caption stream.  All burn-in and DVB-Sub font settings must match.'
      YPosition:
        $ref: '#/definitions/__integer'
        description: 'Specifies the vertical position of the caption relative to the top of the output in pixels. A value of 10 would result in the captions starting 10 pixels from the top of the output. If no explicit yPosition is provided, the caption will be positioned towards the bottom of the output.  This option is not valid for source captions that are STL, 608/embedded or teletext.  These source settings are already pre-defined by the caption stream.  All burn-in and DVB-Sub font settings must match.'
    description: Placeholder documentation for DvbSubDestinationSettings
  DvbSubDestinationShadowColor:
    type: string
    enum:
      - BLACK
      - NONE
      - WHITE
    description: Placeholder documentation for DvbSubDestinationShadowColor
  DvbSubDestinationTeletextGridControl:
    type: string
    enum:
      - FIXED
      - SCALED
    description: Placeholder documentation for DvbSubDestinationTeletextGridControl
  DvbSubSourceSettings:
    type: object
    properties:
      Pid:
        $ref: '#/definitions/__integer'
        description: 'When using DVB-Sub with Burn-In or SMPTE-TT, use this PID for the source content. Unused for DVB-Sub passthrough. All DVB-Sub content is passed through, regardless of selectors.'
    description: Placeholder documentation for DvbSubSourceSettings
  DvbTdtSettings:
    type: object
    properties:
      RepInterval:
        $ref: '#/definitions/__integer'
        description: The number of milliseconds between instances of this table in the output transport stream.
    description: DVB Time and Date Table (SDT)
  Eac3AttenuationControl:
    type: string
    enum:
      - ATTENUATE_3_DB
      - NONE
    description: Placeholder documentation for Eac3AttenuationControl
  Eac3BitstreamMode:
    type: string
    enum:
      - COMMENTARY
      - COMPLETE_MAIN
      - EMERGENCY
      - HEARING_IMPAIRED
      - VISUALLY_IMPAIRED
    description: Placeholder documentation for Eac3BitstreamMode
  Eac3CodingMode:
    type: string
    enum:
      - CODING_MODE_1_0
      - CODING_MODE_2_0
      - CODING_MODE_3_2
    description: Placeholder documentation for Eac3CodingMode
  Eac3DcFilter:
    type: string
    enum:
      - DISABLED
      - ENABLED
    description: Placeholder documentation for Eac3DcFilter
  Eac3DrcLine:
    type: string
    enum:
      - FILM_LIGHT
      - FILM_STANDARD
      - MUSIC_LIGHT
      - MUSIC_STANDARD
      - NONE
      - SPEECH
    description: Placeholder documentation for Eac3DrcLine
  Eac3DrcRf:
    type: string
    enum:
      - FILM_LIGHT
      - FILM_STANDARD
      - MUSIC_LIGHT
      - MUSIC_STANDARD
      - NONE
      - SPEECH
    description: Placeholder documentation for Eac3DrcRf
  Eac3LfeControl:
    type: string
    enum:
      - LFE
      - NO_LFE
    description: Placeholder documentation for Eac3LfeControl
  Eac3LfeFilter:
    type: string
    enum:
      - DISABLED
      - ENABLED
    description: Placeholder documentation for Eac3LfeFilter
  Eac3MetadataControl:
    type: string
    enum:
      - FOLLOW_INPUT
      - USE_CONFIGURED
    description: Placeholder documentation for Eac3MetadataControl
  Eac3PassthroughControl:
    type: string
    enum:
      - NO_PASSTHROUGH
      - WHEN_POSSIBLE
    description: Placeholder documentation for Eac3PassthroughControl
  Eac3PhaseControl:
    type: string
    enum:
      - NO_SHIFT
      - SHIFT_90_DEGREES
    description: Placeholder documentation for Eac3PhaseControl
  Eac3Settings:
    type: object
    properties:
      AttenuationControl:
        $ref: '#/definitions/Eac3AttenuationControl'
        description: 'When set to attenuate3Db, applies a 3 dB attenuation to the surround channels. Only used for 3/2 coding mode.'
      Bitrate:
        $ref: '#/definitions/__double'
        description: Average bitrate in bits/second. Valid bitrates depend on the coding mode.
      BitstreamMode:
        $ref: '#/definitions/Eac3BitstreamMode'
        description: Specifies the bitstream mode (bsmod) for the emitted E-AC-3 stream. See ATSC A/52-2012 (Annex E) for background on these values.
      CodingMode:
        $ref: '#/definitions/Eac3CodingMode'
        description: Dolby Digital Plus coding mode. Determines number of channels.
      DcFilter:
        $ref: '#/definitions/Eac3DcFilter'
        description: 'When set to enabled, activates a DC highpass filter for all input channels.'
      Dialnorm:
        $ref: '#/definitions/__integer'
        description: 'Sets the dialnorm for the output. If blank and input audio is Dolby Digital Plus, dialnorm will be passed through.'
      DrcLine:
        $ref: '#/definitions/Eac3DrcLine'
        description: Sets the Dolby dynamic range compression profile.
      DrcRf:
        $ref: '#/definitions/Eac3DrcRf'
        description: 'Sets the profile for heavy Dolby dynamic range compression, ensures that the instantaneous signal peaks do not exceed specified levels.'
      LfeControl:
        $ref: '#/definitions/Eac3LfeControl'
        description: 'When encoding 3/2 audio, setting to lfe enables the LFE channel'
      LfeFilter:
        $ref: '#/definitions/Eac3LfeFilter'
        description: 'When set to enabled, applies a 120Hz lowpass filter to the LFE channel prior to encoding. Only valid with codingMode32 coding mode.'
      LoRoCenterMixLevel:
        $ref: '#/definitions/__double'
        description: Left only/Right only center mix level. Only used for 3/2 coding mode.
      LoRoSurroundMixLevel:
        $ref: '#/definitions/__double'
        description: Left only/Right only surround mix level. Only used for 3/2 coding mode.
      LtRtCenterMixLevel:
        $ref: '#/definitions/__double'
        description: Left total/Right total center mix level. Only used for 3/2 coding mode.
      LtRtSurroundMixLevel:
        $ref: '#/definitions/__double'
        description: Left total/Right total surround mix level. Only used for 3/2 coding mode.
      MetadataControl:
        $ref: '#/definitions/Eac3MetadataControl'
        description: 'When set to followInput, encoder metadata will be sourced from the DD, DD+, or DolbyE decoder that supplied this audio data. If audio was not supplied from one of these streams, then the static metadata settings will be used.'
      PassthroughControl:
        $ref: '#/definitions/Eac3PassthroughControl'
        description: 'When set to whenPossible, input DD+ audio will be passed through if it is present on the input. This detection is dynamic over the life of the transcode. Inputs that alternate between DD+ and non-DD+ content will have a consistent DD+ output as the system alternates between passthrough and encoding.'
      PhaseControl:
        $ref: '#/definitions/Eac3PhaseControl'
        description: 'When set to shift90Degrees, applies a 90-degree phase shift to the surround channels. Only used for 3/2 coding mode.'
      StereoDownmix:
        $ref: '#/definitions/Eac3StereoDownmix'
        description: Stereo downmix preference. Only used for 3/2 coding mode.
      SurroundExMode:
        $ref: '#/definitions/Eac3SurroundExMode'
        description: 'When encoding 3/2 audio, sets whether an extra center back surround channel is matrix encoded into the left and right surround channels.'
      SurroundMode:
        $ref: '#/definitions/Eac3SurroundMode'
        description: 'When encoding 2/0 audio, sets whether Dolby Surround is matrix encoded into the two channels.'
    description: Placeholder documentation for Eac3Settings
  Eac3StereoDownmix:
    type: string
    enum:
      - DPL2
      - LO_RO
      - LT_RT
      - NOT_INDICATED
    description: Placeholder documentation for Eac3StereoDownmix
  Eac3SurroundExMode:
    type: string
    enum:
      - DISABLED
      - ENABLED
      - NOT_INDICATED
    description: Placeholder documentation for Eac3SurroundExMode
  Eac3SurroundMode:
    type: string
    enum:
      - DISABLED
      - ENABLED
      - NOT_INDICATED
    description: Placeholder documentation for Eac3SurroundMode
  EmbeddedConvert608To708:
    type: string
    enum:
      - DISABLED
      - UPCONVERT
    description: Placeholder documentation for EmbeddedConvert608To708
  EmbeddedDestinationSettings:
    type: object
    properties: {}
    description: Placeholder documentation for EmbeddedDestinationSettings
  EmbeddedPlusScte20DestinationSettings:
    type: object
    properties: {}
    description: Placeholder documentation for EmbeddedPlusScte20DestinationSettings
  EmbeddedScte20Detection:
    type: string
    enum:
      - AUTO
      - 'OFF'
    description: Placeholder documentation for EmbeddedScte20Detection
  EmbeddedSourceSettings:
    type: object
    properties:
      Convert608To708:
        $ref: '#/definitions/EmbeddedConvert608To708'
        description: 'If upconvert, 608 data is both passed through via the "608 compatibility bytes" fields of the 708 wrapper as well as translated into 708. 708 data present in the source content will be discarded.'
      Scte20Detection:
        $ref: '#/definitions/EmbeddedScte20Detection'
        description: Set to "auto" to handle streams with intermittent and/or non-aligned SCTE-20 and Embedded captions.
      Source608ChannelNumber:
        $ref: '#/definitions/__integer'
        description: Specifies the 608/708 channel number within the video track from which to extract captions. Unused for passthrough.
      Source608TrackNumber:
        $ref: '#/definitions/__integer'
        description: This field is unused and deprecated.
    description: Placeholder documentation for EmbeddedSourceSettings
  Empty:
    type: object
    properties: {}
    description: Placeholder documentation for Empty
  EncoderSettings:
    type: object
    properties:
      AudioDescriptions:
        $ref: '#/definitions/ListOfAudioDescription'
      AvailBlanking:
        $ref: '#/definitions/AvailBlanking'
        description: Settings for ad avail blanking.
      AvailConfiguration:
        $ref: '#/definitions/AvailConfiguration'
        description: Event-wide configuration settings for ad avail insertion.
      BlackoutSlate:
        $ref: '#/definitions/BlackoutSlate'
        description: Settings for blackout slate.
      CaptionDescriptions:
        $ref: '#/definitions/ListOfCaptionDescription'
        description: Settings for caption decriptions
      GlobalConfiguration:
        $ref: '#/definitions/GlobalConfiguration'
        description: Configuration settings that apply to the event as a whole.
      OutputGroups:
        $ref: '#/definitions/ListOfOutputGroup'
      TimecodeConfig:
        $ref: '#/definitions/TimecodeConfig'
        description: Contains settings used to acquire and adjust timecode information from inputs.
      VideoDescriptions:
        $ref: '#/definitions/ListOfVideoDescription'
    description: Placeholder documentation for EncoderSettings
  FecOutputIncludeFec:
    type: string
    enum:
      - COLUMN
      - COLUMN_AND_ROW
    description: Placeholder documentation for FecOutputIncludeFec
  FecOutputSettings:
    type: object
    properties:
      ColumnDepth:
        $ref: '#/definitions/__integer'
        description: 'Parameter D from SMPTE 2022-1. The height of the FEC protection matrix.  The number of transport stream packets per column error correction packet. Must be between 4 and 20, inclusive.'
      IncludeFec:
        $ref: '#/definitions/FecOutputIncludeFec'
        description: Enables column only or column and row based FEC
      RowLength:
        $ref: '#/definitions/__integer'
        description: 'Parameter L from SMPTE 2022-1. The width of the FEC protection matrix.  Must be between 1 and 20, inclusive. If only Column FEC is used, then larger values increase robustness.  If Row FEC is used, then this is the number of transport stream packets per row error correction packet, and the value must be between 4 and 20, inclusive, if includeFec is columnAndRow. If includeFec is column, this value must be 1 to 20, inclusive.'
    description: Placeholder documentation for FecOutputSettings
  FixedAfd:
    type: string
    enum:
      - AFD_0000
      - AFD_0010
      - AFD_0011
      - AFD_0100
      - AFD_1000
      - AFD_1001
      - AFD_1010
      - AFD_1011
      - AFD_1101
      - AFD_1110
      - AFD_1111
    description: Placeholder documentation for FixedAfd
  ForbiddenException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/__string'
    description: Placeholder documentation for ForbiddenException
  GatewayTimeoutException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/__string'
    description: Placeholder documentation for GatewayTimeoutException
  GlobalConfiguration:
    type: object
    properties:
      InitialAudioGain:
        $ref: '#/definitions/__integer'
        description: Value to set the initial audio gain for the Live Event.
      InputEndAction:
        $ref: '#/definitions/GlobalConfigurationInputEndAction'
        description: 'Indicates the action to take when an input completes (e.g. end-of-file.) Options include immediately switching to the next sequential input (via "switchInput"), switching to the next input and looping back to the first input when last input ends (via "switchAndLoopInputs") or not switching inputs and instead transcoding black / color / slate images per the "Input Loss Behavior" configuration until an activateInput REST command is received (via "none").'
      InputLossBehavior:
        $ref: '#/definitions/InputLossBehavior'
        description: Settings for system actions when input is lost.
      OutputTimingSource:
        $ref: '#/definitions/GlobalConfigurationOutputTimingSource'
        description: Indicates whether the rate of frames emitted by the Live encoder should be paced by its system clock (which optionally may be locked to another source via NTP) or should be locked to the clock of the source that is providing the input stream.
      SupportLowFramerateInputs:
        $ref: '#/definitions/GlobalConfigurationLowFramerateInputs'
        description: Adjusts video input buffer for streams with very low video framerates. This is commonly set to enabled for music channels with less than one video frame per second.
    description: Placeholder documentation for GlobalConfiguration
  GlobalConfigurationInputEndAction:
    type: string
    enum:
      - NONE
      - SWITCH_AND_LOOP_INPUTS
    description: Placeholder documentation for GlobalConfigurationInputEndAction
  GlobalConfigurationLowFramerateInputs:
    type: string
    enum:
      - DISABLED
      - ENABLED
    description: Placeholder documentation for GlobalConfigurationLowFramerateInputs
  GlobalConfigurationOutputTimingSource:
    type: string
    enum:
      - INPUT_CLOCK
      - SYSTEM_CLOCK
    description: Placeholder documentation for GlobalConfigurationOutputTimingSource
  H264AdaptiveQuantization:
    type: string
    enum:
      - HIGH
      - HIGHER
      - LOW
      - MAX
      - MEDIUM
      - 'OFF'
    description: Placeholder documentation for H264AdaptiveQuantization
  H264ColorMetadata:
    type: string
    enum:
      - IGNORE
      - INSERT
    description: Placeholder documentation for H264ColorMetadata
  H264EntropyEncoding:
    type: string
    enum:
      - CABAC
      - CAVLC
    description: Placeholder documentation for H264EntropyEncoding
  H264FlickerAq:
    type: string
    enum:
      - DISABLED
      - ENABLED
    description: Placeholder documentation for H264FlickerAq
  H264FramerateControl:
    type: string
    enum:
      - INITIALIZE_FROM_SOURCE
      - SPECIFIED
    description: Placeholder documentation for H264FramerateControl
  H264GopBReference:
    type: string
    enum:
      - DISABLED
      - ENABLED
    description: Placeholder documentation for H264GopBReference
  H264GopSizeUnits:
    type: string
    enum:
      - FRAMES
      - SECONDS
    description: Placeholder documentation for H264GopSizeUnits
  H264Level:
    type: string
    enum:
      - H264_LEVEL_1
      - H264_LEVEL_1_1
      - H264_LEVEL_1_2
      - H264_LEVEL_1_3
      - H264_LEVEL_2
      - H264_LEVEL_2_1
      - H264_LEVEL_2_2
      - H264_LEVEL_3
      - H264_LEVEL_3_1
      - H264_LEVEL_3_2
      - H264_LEVEL_4
      - H264_LEVEL_4_1
      - H264_LEVEL_4_2
      - H264_LEVEL_5
      - H264_LEVEL_5_1
      - H264_LEVEL_5_2
      - H264_LEVEL_AUTO
    description: Placeholder documentation for H264Level
  H264LookAheadRateControl:
    type: string
    enum:
      - HIGH
      - LOW
      - MEDIUM
    description: Placeholder documentation for H264LookAheadRateControl
  H264ParControl:
    type: string
    enum:
      - INITIALIZE_FROM_SOURCE
      - SPECIFIED
    description: Placeholder documentation for H264ParControl
  H264Profile:
    type: string
    enum:
      - BASELINE
      - HIGH
      - HIGH_10BIT
      - HIGH_422
      - HIGH_422_10BIT
      - MAIN
    description: Placeholder documentation for H264Profile
  H264RateControlMode:
    type: string
    enum:
      - CBR
      - VBR
    description: Placeholder documentation for H264RateControlMode
  H264ScanType:
    type: string
    enum:
      - INTERLACED
      - PROGRESSIVE
    description: Placeholder documentation for H264ScanType
  H264SceneChangeDetect:
    type: string
    enum:
      - DISABLED
      - ENABLED
    description: Placeholder documentation for H264SceneChangeDetect
  H264Settings:
    type: object
    properties:
      AdaptiveQuantization:
        $ref: '#/definitions/H264AdaptiveQuantization'
        description: Adaptive quantization. Allows intra-frame quantizers to vary to improve visual quality.
      AfdSignaling:
        $ref: '#/definitions/AfdSignaling'
        description: 'Indicates that AFD values will be written into the output stream.  If afdSignaling is "auto", the system will try to preserve the input AFD value (in cases where multiple AFD values are valid). If set to "fixed", the AFD value will be the value configured in the fixedAfd parameter.'
      Bitrate:
        $ref: '#/definitions/__integer'
        description: 'Average bitrate in bits/second. Required for VBR, CBR, and ABR. For MS Smooth outputs, bitrates must be unique when rounded down to the nearest multiple of 1000.'
      BufFillPct:
        $ref: '#/definitions/__integer'
        description: Percentage of the buffer that should initially be filled (HRD buffer model).
      BufSize:
        $ref: '#/definitions/__integer'
        description: Size of buffer (HRD buffer model) in bits/second.
      ColorMetadata:
        $ref: '#/definitions/H264ColorMetadata'
        description: Includes colorspace metadata in the output.
      EntropyEncoding:
        $ref: '#/definitions/H264EntropyEncoding'
        description: Entropy encoding mode.  Use cabac (must be in Main or High profile) or cavlc.
      FixedAfd:
        $ref: '#/definitions/FixedAfd'
        description: Four bit AFD value to write on all frames of video in the output stream. Only valid when afdSignaling is set to 'Fixed'.
      FlickerAq:
        $ref: '#/definitions/H264FlickerAq'
        description: 'If set to enabled, adjust quantization within each frame to reduce flicker or ''pop'' on I-frames.'
      FramerateControl:
        $ref: '#/definitions/H264FramerateControl'
        description: 'This field indicates how the output video frame rate is specified.  If "specified" is selected then the output video frame rate is determined by framerateNumerator and framerateDenominator, else if "initializeFromSource" is selected then the output video frame rate will be set equal to the input video frame rate of the first input.'
      FramerateDenominator:
        $ref: '#/definitions/__integer'
        description: Framerate denominator.
      FramerateNumerator:
        $ref: '#/definitions/__integer'
        description: 'Framerate numerator - framerate is a fraction, e.g. 24000 / 1001 = 23.976 fps.'
      GopBReference:
        $ref: '#/definitions/H264GopBReference'
        description: Documentation update needed
      GopClosedCadence:
        $ref: '#/definitions/__integer'
        description: 'Frequency of closed GOPs. In streaming applications, it is recommended that this be set to 1 so a decoder joining mid-stream will receive an IDR frame as quickly as possible. Setting this value to 0 will break output segmenting.'
      GopNumBFrames:
        $ref: '#/definitions/__integer'
        description: Number of B-frames between reference frames.
      GopSize:
        $ref: '#/definitions/__double'
        description: GOP size (keyframe interval) in units of either frames or seconds per gopSizeUnits. Must be greater than zero.
      GopSizeUnits:
        $ref: '#/definitions/H264GopSizeUnits'
        description: Indicates if the gopSize is specified in frames or seconds. If seconds the system will convert the gopSize into a frame count at run time.
      Level:
        $ref: '#/definitions/H264Level'
        description: H.264 Level.
      LookAheadRateControl:
        $ref: '#/definitions/H264LookAheadRateControl'
        description: 'Amount of lookahead. A value of low can decrease latency and memory usage, while high can produce better quality for certain content.'
      MaxBitrate:
        $ref: '#/definitions/__integer'
        description: Maximum bitrate in bits/second (for VBR mode only).
      MinIInterval:
        $ref: '#/definitions/__integer'
        description: 'Only meaningful if sceneChangeDetect is set to enabled.  Enforces separation between repeated (cadence) I-frames and I-frames inserted by Scene Change Detection. If a scene change I-frame is within I-interval frames of a cadence I-frame, the GOP is shrunk and/or stretched to the scene change I-frame. GOP stretch requires enabling lookahead as well as setting I-interval. The normal cadence resumes for the next GOP. Note: Maximum GOP stretch = GOP size + Min-I-interval - 1'
      NumRefFrames:
        $ref: '#/definitions/__integer'
        description: Number of reference frames to use. The encoder may use more than requested if using B-frames and/or interlaced encoding.
      ParControl:
        $ref: '#/definitions/H264ParControl'
        description: 'This field indicates how the output pixel aspect ratio is specified.  If "specified" is selected then the output video pixel aspect ratio is determined by parNumerator and parDenominator, else if "initializeFromSource" is selected then the output pixsel aspect ratio will be set equal to the input video pixel aspect ratio of the first input.'
      ParDenominator:
        $ref: '#/definitions/__integer'
        description: Pixel Aspect Ratio denominator.
      ParNumerator:
        $ref: '#/definitions/__integer'
        description: Pixel Aspect Ratio numerator.
      Profile:
        $ref: '#/definitions/H264Profile'
        description: H.264 Profile.
      RateControlMode:
        $ref: '#/definitions/H264RateControlMode'
        description: Rate control mode.
      ScanType:
        $ref: '#/definitions/H264ScanType'
        description: Sets the scan type of the output to progressive or top-field-first interlaced.
      SceneChangeDetect:
        $ref: '#/definitions/H264SceneChangeDetect'
        description: Scene change detection.  Inserts I-frames on scene changes when enabled.
      Slices:
        $ref: '#/definitions/__integer'
        description: |-
          Number of slices per picture. Must be less than or equal to the number of macroblock rows for progressive pictures, and less than or equal to half the number of macroblock rows for interlaced pictures.
          This field is optional; when no value is specified the encoder will choose the number of slices based on encode resolution.
      Softness:
        $ref: '#/definitions/__integer'
        description: 'Softness. Selects quantizer matrix, larger values reduce high-frequency content in the encoded image.'
      SpatialAq:
        $ref: '#/definitions/H264SpatialAq'
        description: 'If set to enabled, adjust quantization within each frame based on spatial variation of content complexity.'
      Syntax:
        $ref: '#/definitions/H264Syntax'
        description: Produces a bitstream compliant with SMPTE RP-2027.
      TemporalAq:
        $ref: '#/definitions/H264TemporalAq'
        description: 'If set to enabled, adjust quantization within each frame based on temporal variation of content complexity.'
      TimecodeInsertion:
        $ref: '#/definitions/H264TimecodeInsertionBehavior'
        description: |-
          Determines how timecodes should be inserted into the video elementary stream.
          - 'disabled': Do not include timecodes
          - 'picTimingSei': Pass through picture timing SEI messages from the source specified in Timecode Config
    description: Placeholder documentation for H264Settings
  H264SpatialAq:
    type: string
    enum:
      - DISABLED
      - ENABLED
    description: Placeholder documentation for H264SpatialAq
  H264Syntax:
    type: string
    enum:
      - DEFAULT
      - RP2027
    description: Placeholder documentation for H264Syntax
  H264TemporalAq:
    type: string
    enum:
      - DISABLED
      - ENABLED
    description: Placeholder documentation for H264TemporalAq
  H264TimecodeInsertionBehavior:
    type: string
    enum:
      - DISABLED
      - PIC_TIMING_SEI
    description: Placeholder documentation for H264TimecodeInsertionBehavior
  HlsAdMarkers:
    type: string
    enum:
      - ADOBE
      - ELEMENTAL
      - ELEMENTAL_SCTE35
    description: Placeholder documentation for HlsAdMarkers
  HlsAkamaiHttpTransferMode:
    type: string
    enum:
      - CHUNKED
      - NON_CHUNKED
    description: Placeholder documentation for HlsAkamaiHttpTransferMode
  HlsAkamaiSettings:
    type: object
    properties:
      ConnectionRetryInterval:
        $ref: '#/definitions/__integer'
        description: Number of seconds to wait before retrying connection to the CDN if the connection is lost.
      FilecacheDuration:
        $ref: '#/definitions/__integer'
        description: Size in seconds of file cache for streaming outputs.
      HttpTransferMode:
        $ref: '#/definitions/HlsAkamaiHttpTransferMode'
        description: Specify whether or not to use chunked transfer encoding to Akamai. User should contact Akamai to enable this feature.
      NumRetries:
        $ref: '#/definitions/__integer'
        description: Number of retry attempts that will be made before the Live Event is put into an error state.
      RestartDelay:
        $ref: '#/definitions/__integer'
        description: 'If a streaming output fails, number of seconds to wait until a restart is initiated. A value of 0 means never restart.'
      Salt:
        $ref: '#/definitions/__string'
        description: Salt for authenticated Akamai.
      Token:
        $ref: '#/definitions/__string'
        description: 'Token parameter for authenticated akamai. If not specified, _gda_ is used.'
    description: Placeholder documentation for HlsAkamaiSettings
  HlsBasicPutSettings:
    type: object
    properties:
      ConnectionRetryInterval:
        $ref: '#/definitions/__integer'
        description: Number of seconds to wait before retrying connection to the CDN if the connection is lost.
      FilecacheDuration:
        $ref: '#/definitions/__integer'
        description: Size in seconds of file cache for streaming outputs.
      NumRetries:
        $ref: '#/definitions/__integer'
[...]
