openapi: 3.0.2
servers:
  - url: https://api.increase.com
  - url: https://sandbox.increase.com
info:
  title: Increase API
  version: 0.0.1
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_storage.googleapis.com_bank-277721-web-static-assets_imgs_card.jpg
  x-origin:
    - format: openapi
      url: https://increase.com/openapi.json
      version: "3.0"
  x-providerName: increase.com
security:
  - bearerAuth: []
tags:
  - description: Accounts are your bank accounts with Increase. They store money, receive transfers, and send payments. They earn interest and have depository insurance.
    name: Accounts
  - description: Each account can have multiple account and routing numbers. We recommend that you use a set per vendor. This is similar to how you use different passwords for different websites. Account numbers can also be used to seamlessly reconcile inbound payments. Generating a unique account number per vendor ensures you always know the originator of an incoming payment.
    name: Account Numbers
  - description: Cards are commercial credit cards. They'll immediately work for online purchases after you create them. All cards maintain a credit limit of 100% of the Account’s available balance at the time of transaction. Funds are deducted from the Account upon transaction settlement.
    name: Cards
  - description: If unauthorized activity occurs on a card, you can create a Card Dispute and we'll return the funds if appropriate.
    name: Card Disputes
  - description: This contains artwork and metadata relating to a Card's appearance in digital wallet apps like Apple Pay and Google Pay. For more information, see our guide on [digital card artwork](https://increase.com/documentation/card-art)
    name: Card Profiles
  - description: A Digital Wallet Token is created when a user adds a Card to their Apple Pay or Google Pay app. The Digital Wallet Token can be used for purchases just like a Card.
    name: Digital Wallet Tokens
  - description: Transactions are the immutable additions and removals of money from your bank account. They're the equivalent of line items on your bank statement.
    name: Transactions
  - description: Pending Transactions are potential future additions and removals of money from your bank account.
    name: Pending Transactions
  - description: Declined Transactions are refused additions and removals of money from your bank account. For example, Declined Transactions are caused when your Account has an insufficient balance or your Limits are triggered.
    name: Declined Transactions
  - description: You can set limits at the Account, Account Number, or Card level. Limits applied to Accounts will apply to all Account Numbers and Cards in the Account. You can specify any number of Limits and they will all be applied to inbound debits and card authorizations. Volume and count Limits are designed to prevent unauthorized debits.
    name: Limits
  - description: Account transfers move funds between your own accounts at Increase.
    name: Account Transfers
  - description: ACH transfers move funds between your Increase account and any other account accessible by the Automated Clearing House (ACH).
    name: ACH Transfers
  - description: ACH Prenotifications are one way you can verify account and routing numbers by Automated Clearing House (ACH).
    name: ACH Prenotifications
  - description: If unauthorized activity occurs via ACH, you can create an Inbound ACH Transfer Return and we'll reverse the transaction. You can create an Inbound ACH Transfer return the first two days after receiving an Inbound ACH Transfer.
    name: Inbound ACH Transfer Returns
  - description: Wire transfers move funds between your Increase account and any other account accessible by Fedwire.
    name: Wire Transfers
  - description: Wire drawdown requests enable you to request that someone else send you a wire. This feature is in beta; reach out to [support@increase.com](mailto:support@increase.com) to learn more.
    name: Wire Drawdown Requests
  - description: Inbound wire drawdown requests are requests from someone else to send them a wire. This feature is in beta; reach out to [support@increase.com](mailto:support@increase.com) to learn more.
    name: Inbound Wire Drawdown Requests
  - description: Check Transfers move funds from your Increase account by mailing a physical check.
    name: Check Transfers
  - description: Check Deposits allow you to deposit images of paper checks into your account.
    name: Check Deposits
  - description: Routing numbers are used to identify your bank in a financial transaction.
    name: Routing Numbers
  - description: External Accounts represent accounts at financial institutions other than Increase. You can use this API to store their details for reuse.
    name: External Accounts
  - description: Entities are the legal entities that own accounts. They can be people, corporations, partnerships, or trusts.
    name: Entities
  - description: Account Statements are generated monthly for every active Account. You can access the statement's data via the API or retrieve a PDF with its details via its associated File.
    name: Account Statements
  - description: Files are objects that represent a file hosted on Increase's servers. The file may have been uploaded by you (for example, when uploading a check image) or it may have been created by Increase (for example, an autogenerated statement PDF).
    name: Files
  - description: Increase generates certain documents / forms automatically for your application; they can be listed here. Currently the only supported document type is IRS Form 1099-INT.
    name: Documents
  - description: Events are records of things that happened to objects in the API. They also result in webhooks being generated.
    name: Events
  - description: Webhooks are event notifications we send to you by HTTPS POST requests. Event Subscriptions are how you configure your application to listen for them. You can create an Event Subscription through your [developer dashboard](https://dashboard.increase.com/developers/webhooks) or the API. For more information, see our [webhooks guide](https://increase.com/documentation/webhooks).
    name: Event Subscriptions
  - description: Real Time Decisions are created when your application needs to take action in real-time to some event such as a card authorization. Real time decisions are currently in beta; please contact support@increase.com if you're interested in trying them out!
    name: Real-Time Decisions
  - description: Groups represent organizations using Increase. You can retrieve information about your own organization via the API, or (more commonly) OAuth platforms can retrieve information about the organizations that have granted them access.
    name: Groups
  - description: When a user authorizes your OAuth application, an OAuth Connection object is created.
    name: OAuth Connections
  - description: When building your application, you can use these APIs to simulate external effects. They can be helpful to quickly test events that might take several hours in the real world (like receiving a wire or ACH). *These APIs will only work in the sandbox.* If you have a sandbox [Event Subscription](#event-subscriptions) configured, calling these APIs will also result in the appropriate webhooks being sent to your endpoint.
    name: Simulations
paths:
  /account_numbers:
    get:
      operationId: list_account_numbers
      parameters:
        - in: query
          name: cursor
          required: false
          schema:
            description: Return the page of entries after this one.
            type: string
        - in: query
          name: limit
          required: false
          schema:
            description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
            minimum: 0
            type: integer
        - in: query
          name: status
          required: false
          schema:
            description: The status to retrieve Account Numbers for.
            enum:
              - active
              - disabled
              - canceled
            type: string
            x-enum-descriptions:
              - The account number is active.
              - The account number is temporarily disabled.
              - The account number is permanently disabled.
        - in: query
          name: account_id
          required: false
          schema:
            description: Filter Account Numbers to those belonging to the specified Account.
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/account_number_list"
          description: Account Number List
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: List Account Numbers
      x-tag: Account Numbers
    post:
      operationId: create_an_account_number
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/create_an_account_number_parameters"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/account_number"
          description: Account Number
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Create an Account Number
      x-tag: Account Numbers
  "/account_numbers/{account_number_id}":
    get:
      operationId: retrieve_an_account_number
      parameters:
        - example: account_number_v18nkfqm6afpsrvy82b2
          in: path
          name: account_number_id
          required: true
          schema:
            description: The identifier of the Account Number to retrieve.
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/account_number"
          description: Account Number
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Retrieve an Account Number
      x-tag: Account Numbers
    patch:
      operationId: update_an_account_number
      parameters:
        - example: account_number_v18nkfqm6afpsrvy82b2
          in: path
          name: account_number_id
          required: true
          schema:
            description: The identifier of the Account Number.
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/update_an_account_number_parameters"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/account_number"
          description: Account Number
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Update an Account Number
      x-tag: Account Numbers
  /account_statements:
    get:
      operationId: list_account_statements
      parameters:
        - in: query
          name: cursor
          required: false
          schema:
            description: Return the page of entries after this one.
            type: string
        - in: query
          name: limit
          required: false
          schema:
            description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
            minimum: 0
            type: integer
        - example: account_in71c4amph0vgo2qllky
          in: query
          name: account_id
          required: false
          schema:
            description: Filter Account Statements to those belonging to the specified Account.
            type: string
        - in: query
          name: statement_period_start.after
          required: false
          schema:
            description: Return results after this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
        - in: query
          name: statement_period_start.before
          required: false
          schema:
            description: Return results before this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
        - in: query
          name: statement_period_start.on_or_after
          required: false
          schema:
            description: Return results on or after this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
        - in: query
          name: statement_period_start.on_or_before
          required: false
          schema:
            description: Return results on or before this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/account_statement_list"
          description: Account Statement List
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: List Account Statements
      x-tag: Account Statements
  "/account_statements/{account_statement_id}":
    get:
      operationId: retrieve_an_account_statement
      parameters:
        - example: account_statement_lkc03a4skm2k7f38vj15
          in: path
          name: account_statement_id
          required: true
          schema:
            description: The identifier of the Account Statement to retrieve.
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/account_statement"
          description: Account Statement
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Retrieve an Account Statement
      x-tag: Account Statements
  /account_transfers:
    get:
      operationId: list_account_transfers
      parameters:
        - in: query
          name: cursor
          required: false
          schema:
            description: Return the page of entries after this one.
            type: string
        - in: query
          name: limit
          required: false
          schema:
            description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
            minimum: 0
            type: integer
        - example: account_in71c4amph0vgo2qllky
          in: query
          name: account_id
          required: false
          schema:
            description: Filter Account Transfers to those that originated from the specified Account.
            type: string
        - in: query
          name: created_at.after
          required: false
          schema:
            description: Return results after this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
        - in: query
          name: created_at.before
          required: false
          schema:
            description: Return results before this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
        - in: query
          name: created_at.on_or_after
          required: false
          schema:
            description: Return results on or after this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
        - in: query
          name: created_at.on_or_before
          required: false
          schema:
            description: Return results on or before this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/account_transfer_list"
          description: Account Transfer List
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: List Account Transfers
      x-tag: Account Transfers
    post:
      operationId: create_an_account_transfer
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/create_an_account_transfer_parameters"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/account_transfer"
          description: Account Transfer
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Create an Account Transfer
      x-tag: Account Transfers
  "/account_transfers/{account_transfer_id}":
    get:
      operationId: retrieve_an_account_transfer
      parameters:
        - example: account_transfer_7k9qe1ysdgqztnt63l7n
          in: path
          name: account_transfer_id
          required: true
          schema:
            description: The identifier of the Account Transfer.
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/account_transfer"
          description: Account Transfer
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Retrieve an Account Transfer
      x-tag: Account Transfers
  "/account_transfers/{account_transfer_id}/approve":
    post:
      operationId: approve_an_account_transfer
      parameters:
        - example: account_transfer_7k9qe1ysdgqztnt63l7n
          in: path
          name: account_transfer_id
          required: true
          schema:
            description: The identifier of the Account Transfer to approve.
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/account_transfer"
          description: Account Transfer
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Approve an Account Transfer
      x-tag: Account Transfers
  "/account_transfers/{account_transfer_id}/cancel":
    post:
      operationId: cancel_an_account_transfer
      parameters:
        - example: account_transfer_7k9qe1ysdgqztnt63l7n
          in: path
          name: account_transfer_id
          required: true
          schema:
            description: The identifier of the pending Account Transfer to cancel.
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/account_transfer"
          description: Account Transfer
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Cancel an Account Transfer
      x-tag: Account Transfers
  /accounts:
    get:
      operationId: list_accounts
      parameters:
        - in: query
          name: cursor
          required: false
          schema:
            description: Return the page of entries after this one.
            type: string
        - in: query
          name: limit
          required: false
          schema:
            description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
            minimum: 0
            type: integer
        - example: entity_n8y8tnk2p9339ti393yi
          in: query
          name: entity_id
          required: false
          schema:
            description: Filter Accounts for those belonging to the specified Entity.
            type: string
        - in: query
          name: status
          required: false
          schema:
            description: Filter Accounts for those with the specified status.
            enum:
              - open
              - closed
            type: string
            x-enum-descriptions:
              - Open Accounts that are ready to use.
              - Closed Accounts on which no new activity can occur.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/account_list"
          description: Account List
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: List Accounts
      x-tag: Accounts
    post:
      operationId: create_an_account
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/create_an_account_parameters"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/account"
          description: Account
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Create an Account
      x-tag: Accounts
  "/accounts/{account_id}":
    get:
      operationId: retrieve_an_account
      parameters:
        - example: account_in71c4amph0vgo2qllky
          in: path
          name: account_id
          required: true
          schema:
            description: The identifier of the Account to retrieve.
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/account"
          description: Account
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Retrieve an Account
      x-tag: Accounts
    patch:
      operationId: update_an_account
      parameters:
        - example: account_in71c4amph0vgo2qllky
          in: path
          name: account_id
          required: true
          schema:
            description: The identifier of the Account to update.
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/update_an_account_parameters"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/account"
          description: Account
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Update an Account
      x-tag: Accounts
  "/accounts/{account_id}/close":
    post:
      operationId: close_an_account
      parameters:
        - example: account_in71c4amph0vgo2qllky
          in: path
          name: account_id
          required: true
          schema:
            description: The identifier of the Account to close.
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/account"
          description: Account
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Close an Account
      x-tag: Accounts
  /ach_prenotifications:
    get:
      operationId: list_ach_prenotifications
      parameters:
        - in: query
          name: cursor
          required: false
          schema:
            description: Return the page of entries after this one.
            type: string
        - in: query
          name: limit
          required: false
          schema:
            description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
            minimum: 0
            type: integer
        - in: query
          name: created_at.after
          required: false
          schema:
            description: Return results after this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
        - in: query
          name: created_at.before
          required: false
          schema:
            description: Return results before this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
        - in: query
          name: created_at.on_or_after
          required: false
          schema:
            description: Return results on or after this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
        - in: query
          name: created_at.on_or_before
          required: false
          schema:
            description: Return results on or before this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ach_prenotification_list"
          description: ACH Prenotification List
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: List ACH Prenotifications
      x-tag: ACH Prenotifications
    post:
      operationId: create_an_ach_prenotification
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/create_an_ach_prenotification_parameters"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ach_prenotification"
          description: ACH Prenotification
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Create an ACH Prenotification
      x-tag: ACH Prenotifications
  "/ach_prenotifications/{ach_prenotification_id}":
    get:
      operationId: retrieve_an_ach_prenotification
      parameters:
        - example: ach_prenotification_ubjf9qqsxl3obbcn1u34
          in: path
          name: ach_prenotification_id
          required: true
          schema:
            description: The identifier of the ACH Prenotification to retrieve.
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ach_prenotification"
          description: ACH Prenotification
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Retrieve an ACH Prenotification
      x-tag: ACH Prenotifications
  /ach_transfers:
    get:
      operationId: list_ach_transfers
      parameters:
        - in: query
          name: cursor
          required: false
          schema:
            description: Return the page of entries after this one.
            type: string
        - in: query
          name: limit
          required: false
          schema:
            description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
            minimum: 0
            type: integer
        - example: account_in71c4amph0vgo2qllky
          in: query
          name: account_id
          required: false
          schema:
            description: Filter ACH Transfers to those that originated from the specified Account.
            type: string
        - in: query
          name: external_account_id
          required: false
          schema:
            description: Filter ACH Transfers to those made to the specified External Account.
            type: string
        - in: query
          name: created_at.after
          required: false
          schema:
            description: Return results after this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
        - in: query
          name: created_at.before
          required: false
          schema:
            description: Return results before this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
        - in: query
          name: created_at.on_or_after
          required: false
          schema:
            description: Return results on or after this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
        - in: query
          name: created_at.on_or_before
          required: false
          schema:
            description: Return results on or before this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ach_transfer_list"
          description: ACH Transfer List
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: List ACH Transfers
      x-tag: ACH Transfers
    post:
      operationId: create_an_ach_transfer
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/create_an_ach_transfer_parameters"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ach_transfer"
          description: ACH Transfer
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Create an ACH Transfer
      x-tag: ACH Transfers
  "/ach_transfers/{ach_transfer_id}":
    get:
      operationId: retrieve_an_ach_transfer
      parameters:
        - example: ach_transfer_uoxatyh3lt5evrsdvo7q
          in: path
          name: ach_transfer_id
          required: true
          schema:
            description: The identifier of the ACH Transfer.
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ach_transfer"
          description: ACH Transfer
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Retrieve an ACH Transfer
      x-tag: ACH Transfers
  "/ach_transfers/{ach_transfer_id}/approve":
    post:
      description: Approves an ACH Transfer in a pending_approval state.
      operationId: approve_an_ach_transfer
      parameters:
        - example: ach_transfer_uoxatyh3lt5evrsdvo7q
          in: path
          name: ach_transfer_id
          required: true
          schema:
            description: The identifier of the ACH Transfer to approve.
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ach_transfer"
          description: ACH Transfer
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Approve an ACH Transfer
      x-tag: ACH Transfers
  "/ach_transfers/{ach_transfer_id}/cancel":
    post:
      description: Cancels an ACH Transfer in a pending_approval state.
      operationId: cancel_a_pending_ach_transfer
      parameters:
        - example: ach_transfer_uoxatyh3lt5evrsdvo7q
          in: path
          name: ach_transfer_id
          required: true
          schema:
            description: The identifier of the pending ACH Transfer to cancel.
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ach_transfer"
          description: ACH Transfer
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Cancel a pending ACH Transfer
      x-tag: ACH Transfers
  /card_disputes:
    get:
      operationId: list_card_disputes
      parameters:
        - in: query
          name: cursor
          required: false
          schema:
            description: Return the page of entries after this one.
            type: string
        - in: query
          name: limit
          required: false
          schema:
            description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
            minimum: 0
            type: integer
        - in: query
          name: created_at.after
          required: false
          schema:
            description: Return results after this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
        - in: query
          name: created_at.before
          required: false
          schema:
            description: Return results before this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
        - in: query
          name: created_at.on_or_after
          required: false
          schema:
            description: Return results on or after this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
        - in: query
          name: created_at.on_or_before
          required: false
          schema:
            description: Return results on or before this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
        - in: query
          name: status.in
          required: false
          schema:
            description: Return results whose value is in the provided list. For GET requests, this should be encoded as a comma-delimited string, such as `?in=one,two,three`.
            items:
              enum:
                - pending_reviewing
                - accepted
                - rejected
              type: string
              x-enum-descriptions:
                - The Card Dispute is pending review.
                - The Card Dispute has been accepted and your funds have been returned.
                - The Card Dispute has been rejected.
            type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/card_dispute_list"
          description: Card Dispute List
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: List Card Disputes
      x-tag: Card Disputes
    post:
      operationId: create_a_card_dispute
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/create_a_card_dispute_parameters"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/card_dispute"
          description: Card Dispute
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Create a Card Dispute
      x-tag: Card Disputes
  "/card_disputes/{card_dispute_id}":
    get:
      operationId: retrieve_a_card_dispute
      parameters:
        - example: card_dispute_h9sc95nbl1cgltpp7men
          in: path
          name: card_dispute_id
          required: true
          schema:
            description: The identifier of the Card Dispute.
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/card_dispute"
          description: Card Dispute
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Retrieve a Card Dispute
      x-tag: Card Disputes
  /card_profiles:
    get:
      operationId: list_card_profiles
      parameters:
        - in: query
          name: cursor
          required: false
          schema:
            description: Return the page of entries after this one.
            type: string
        - in: query
          name: limit
          required: false
          schema:
            description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
            minimum: 0
            type: integer
        - in: query
          name: status.in
          required: false
          schema:
            description: Return results whose value is in the provided list. For GET requests, this should be encoded as a comma-delimited string, such as `?in=one,two,three`.
            items:
              enum:
                - pending
                - rejected
                - active
                - archived
              type: string
              x-enum-descriptions:
                - The Card Profile is awaiting review from Increase and/or processing by card networks.
                - There is an issue with the Card Profile preventing it from use.
                - The Card Profile can be assigned to Cards.
                - The Card Profile is no longer in use.
            type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/card_profile_list"
          description: Card Profile List
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: List Card Profiles
      x-tag: Card Profiles
    post:
      operationId: create_a_card_profile
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/create_a_card_profile_parameters"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/card_profile"
          description: Card Profile
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Create a Card Profile
      x-tag: Card Profiles
  "/card_profiles/{card_profile_id}":
    get:
      operationId: retrieve_a_card_profile
      parameters:
        - example: card_profile_cox5y73lob2eqly18piy
          in: path
          name: card_profile_id
          required: true
          schema:
            description: The identifier of the Card Profile.
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/card_profile"
          description: Card Profile
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Retrieve a Card Profile
      x-tag: Card Profiles
  /cards:
    get:
      operationId: list_cards
      parameters:
        - in: query
          name: cursor
          required: false
          schema:
            description: Return the page of entries after this one.
            type: string
        - in: query
          name: limit
          required: false
          schema:
            description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
            minimum: 0
            type: integer
        - example: account_in71c4amph0vgo2qllky
          in: query
          name: account_id
          required: false
          schema:
            description: Filter Cards to ones belonging to the specified Account.
            type: string
        - in: query
          name: created_at.after
          required: false
          schema:
            description: Return results after this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
        - in: query
          name: created_at.before
          required: false
          schema:
            description: Return results before this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
        - in: query
          name: created_at.on_or_after
          required: false
          schema:
            description: Return results on or after this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
        - in: query
          name: created_at.on_or_before
          required: false
          schema:
            description: Return results on or before this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/card_list"
          description: Card List
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: List Cards
      x-tag: Cards
    post:
      operationId: create_a_card
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/create_a_card_parameters"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/card"
          description: Card
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Create a Card
      x-tag: Cards
  "/cards/{card_id}":
    get:
      operationId: retrieve_a_card
      parameters:
        - example: card_oubs0hwk5rn6knuecxg2
          in: path
          name: card_id
          required: true
          schema:
            description: The identifier of the Card.
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/card"
          description: Card
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Retrieve a Card
      x-tag: Cards
    patch:
      operationId: update_a_card
      parameters:
        - example: card_oubs0hwk5rn6knuecxg2
          in: path
          name: card_id
          required: true
          schema:
            description: The card identifier.
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/update_a_card_parameters"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/card"
          description: Card
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Update a Card
      x-tag: Cards
  "/cards/{card_id}/details":
    get:
      operationId: retrieve_sensitive_details_for_a_card
      parameters:
        - example: card_oubs0hwk5rn6knuecxg2
          in: path
          name: card_id
          required: true
          schema:
            description: The identifier of the Card to retrieve details for.
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/card_details"
          description: Card Details
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Retrieve sensitive details for a Card
      x-tag: Cards
  /check_deposits:
    get:
      operationId: list_check_deposits
      parameters:
        - in: query
          name: cursor
          required: false
          schema:
            description: Return the page of entries after this one.
            type: string
        - in: query
          name: limit
          required: false
          schema:
            description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
            minimum: 0
            type: integer
        - example: account_in71c4amph0vgo2qllky
          in: query
          name: account_id
          required: false
          schema:
            description: Filter Check Deposits to those belonging to the specified Account.
            type: string
        - in: query
          name: created_at.after
          required: false
          schema:
            description: Return results after this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
        - in: query
          name: created_at.before
          required: false
          schema:
            description: Return results before this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
        - in: query
          name: created_at.on_or_after
          required: false
          schema:
            description: Return results on or after this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
        - in: query
          name: created_at.on_or_before
          required: false
          schema:
            description: Return results on or before this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/check_deposit_list"
          description: Check Deposit List
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: List Check Deposits
      x-tag: Check Deposits
    post:
      operationId: create_a_check_deposit
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/create_a_check_deposit_parameters"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/check_deposit"
          description: Check Deposit
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Create a Check Deposit
      x-tag: Check Deposits
  "/check_deposits/{check_deposit_id}":
    get:
      operationId: retrieve_a_check_deposit
      parameters:
        - example: check_deposit_instruction_q2shv7x9qhevfm71kor8
          in: path
          name: check_deposit_id
          required: true
          schema:
            description: The identifier of the Check Deposit to retrieve.
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/check_deposit"
          description: Check Deposit
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Retrieve a Check Deposit
      x-tag: Check Deposits
  /check_transfers:
    get:
      operationId: list_check_transfers
      parameters:
        - in: query
          name: cursor
          required: false
          schema:
            description: Return the page of entries after this one.
            type: string
        - in: query
          name: limit
          required: false
          schema:
            description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
            minimum: 0
            type: integer
        - example: account_in71c4amph0vgo2qllky
          in: query
          name: account_id
          required: false
          schema:
            description: Filter Check Transfers to those that originated from the specified Account.
            type: string
        - in: query
          name: created_at.after
          required: false
          schema:
            description: Return results after this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
        - in: query
          name: created_at.before
          required: false
          schema:
            description: Return results before this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
        - in: query
          name: created_at.on_or_after
          required: false
          schema:
            description: Return results on or after this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
        - in: query
          name: created_at.on_or_before
          required: false
          schema:
            description: Return results on or before this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/check_transfer_list"
          description: Check Transfer List
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: List Check Transfers
      x-tag: Check Transfers
    post:
      operationId: create_a_check_transfer
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/create_a_check_transfer_parameters"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/check_transfer"
          description: Check Transfer
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Create a Check Transfer
      x-tag: Check Transfers
  "/check_transfers/{check_transfer_id}":
    get:
      operationId: retrieve_a_check_transfer
      parameters:
        - example: check_transfer_30b43acfu9vw8fyc4f5
          in: path
          name: check_transfer_id
          required: true
          schema:
            description: The identifier of the Check Transfer.
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/check_transfer"
          description: Check Transfer
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Retrieve a Check Transfer
      x-tag: Check Transfers
  "/check_transfers/{check_transfer_id}/approve":
    post:
      operationId: approve_a_check_transfer
      parameters:
        - example: check_transfer_30b43acfu9vw8fyc4f5
          in: path
          name: check_transfer_id
          required: true
          schema:
            description: The identifier of the Check Transfer to approve.
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/check_transfer"
          description: Check Transfer
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Approve a Check Transfer
      x-tag: Check Transfers
  "/check_transfers/{check_transfer_id}/cancel":
    post:
      operationId: cancel_a_pending_check_transfer
      parameters:
        - example: check_transfer_30b43acfu9vw8fyc4f5
          in: path
          name: check_transfer_id
          required: true
          schema:
            description: The identifier of the pending Check Transfer to cancel.
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/check_transfer"
          description: Check Transfer
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Cancel a pending Check Transfer
      x-tag: Check Transfers
  "/check_transfers/{check_transfer_id}/stop_payment":
    post:
      operationId: request_a_stop_payment_on_a_check_transfer
      parameters:
        - example: check_transfer_30b43acfu9vw8fyc4f5
          in: path
          name: check_transfer_id
          required: true
          schema:
            description: The identifier of the Check Transfer.
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/check_transfer"
          description: Check Transfer
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Request a stop payment on a Check Transfer
      x-tag: Check Transfers
  /declined_transactions:
    get:
      operationId: list_declined_transactions
      parameters:
        - in: query
          name: cursor
          required: false
          schema:
            description: Return the page of entries after this one.
            type: string
        - in: query
          name: limit
          required: false
          schema:
            description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
            minimum: 0
            type: integer
        - in: query
          name: account_id
          required: false
          schema:
            description: Filter Declined Transactions to ones belonging to the specified Account.
            type: string
        - in: query
          name: created_at.after
          required: false
          schema:
            description: Return results after this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
        - in: query
          name: created_at.before
          required: false
          schema:
            description: Return results before this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
        - in: query
          name: created_at.on_or_after
          required: false
          schema:
            description: Return results on or after this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
        - in: query
          name: created_at.on_or_before
          required: false
          schema:
            description: Return results on or before this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
        - in: query
          name: route_id
          required: false
          schema:
            description: Filter Declined Transactions to those belonging to the specified route.
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/declined_transaction_list"
          description: Declined Transaction List
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: List Declined Transactions
      x-tag: Declined Transactions
  "/declined_transactions/{declined_transaction_id}":
    get:
      operationId: retrieve_a_declined_transaction
      parameters:
        - example: declined_transaction_17jbn0yyhvkt4v4ooym8
          in: path
          name: declined_transaction_id
          required: true
          schema:
            description: The identifier of the Declined Transaction.
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/declined_transaction"
          description: Declined Transaction
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Retrieve a Declined Transaction
      x-tag: Declined Transactions
  /digital_wallet_tokens:
    get:
      operationId: list_digital_wallet_tokens
      parameters:
        - in: query
          name: cursor
          required: false
          schema:
            description: Return the page of entries after this one.
            type: string
        - in: query
          name: limit
          required: false
          schema:
            description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
            minimum: 0
            type: integer
        - example: card_oubs0hwk5rn6knuecxg2
          in: query
          name: card_id
          required: false
          schema:
            description: Filter Digital Wallet Tokens to ones belonging to the specified Card.
            type: string
        - in: query
          name: created_at.after
          required: false
          schema:
            description: Return results after this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
        - in: query
          name: created_at.before
          required: false
          schema:
            description: Return results before this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
        - in: query
          name: created_at.on_or_after
          required: false
          schema:
            description: Return results on or after this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
        - in: query
          name: created_at.on_or_before
          required: false
          schema:
            description: Return results on or before this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/digital_wallet_token_list"
          description: Digital Wallet Token List
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: List Digital Wallet Tokens
      x-tag: Digital Wallet Tokens
  "/digital_wallet_tokens/{digital_wallet_token_id}":
    get:
      operationId: retrieve_a_digital_wallet_token
      parameters:
        - example: digital_wallet_token_izi62go3h51p369jrie0
          in: path
          name: digital_wallet_token_id
          required: true
          schema:
            description: The identifier of the Digital Wallet Token.
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/digital_wallet_token"
          description: Digital Wallet Token
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Retrieve a Digital Wallet Token
      x-tag: Digital Wallet Tokens
  /documents:
    get:
      operationId: list_documents
      parameters:
        - in: query
          name: cursor
          required: false
          schema:
            description: Return the page of entries after this one.
            type: string
        - in: query
          name: limit
          required: false
          schema:
            description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
            minimum: 0
            type: integer
        - in: query
          name: entity_id
          required: false
          schema:
            description: Filter Documents to ones belonging to the specified Entity.
            type: string
        - in: query
          name: category.in
          required: false
          schema:
            description: Return results whose value is in the provided list. For GET requests, this should be encoded as a comma-delimited string, such as `?in=one,two,three`.
            items:
              enum:
                - form_1099_int
              type: string
              x-enum-descriptions:
                - Internal Revenue Service Form 1099-INT.
            type: array
        - in: query
          name: created_at.after
          required: false
          schema:
            description: Return results after this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
        - in: query
          name: created_at.before
          required: false
          schema:
            description: Return results before this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
        - in: query
          name: created_at.on_or_after
          required: false
          schema:
            description: Return results on or after this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
        - in: query
          name: created_at.on_or_before
          required: false
          schema:
            description: Return results on or before this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/document_list"
          description: Document List
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: List Documents
      x-tag: Documents
  "/documents/{document_id}":
    get:
      operationId: retrieve_a_document
      parameters:
        - example: document_qjtqc6s4c14ve2q89izm
          in: path
          name: document_id
          required: true
          schema:
            description: The identifier of the Document to retrieve.
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/document"
          description: Document
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Retrieve a Document
      x-tag: Documents
  /entities:
    get:
      operationId: list_entities
      parameters:
        - in: query
          name: cursor
          required: false
          schema:
            description: Return the page of entries after this one.
            type: string
        - in: query
          name: limit
          required: false
          schema:
            description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
            minimum: 0
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/entity_list"
          description: Entity List
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: List Entities
      x-tag: Entities
    post:
      operationId: create_an_entity
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/create_an_entity_parameters"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/entity"
          description: Entity
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Create an Entity
      x-tag: Entities
  "/entities/{entity_id}":
    get:
      operationId: retrieve_an_entity
      parameters:
        - example: entity_n8y8tnk2p9339ti393yi
          in: path
          name: entity_id
          required: true
          schema:
            description: The identifier of the Entity to retrieve.
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/entity"
          description: Entity
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Retrieve an Entity
      x-tag: Entities
  "/entities/{entity_id}/supplemental_documents":
    post:
      operationId: create_a_supplemental_document_for_an_entity
      parameters:
        - example: entity_n8y8tnk2p9339ti393yi
          in: path
          name: entity_id
          required: true
          schema:
            description: The identifier of the Entity to retrieve.
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/create_a_supplemental_document_for_an_entity_parameters"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/entity"
          description: Entity
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Create a supplemental document for an Entity
      x-tag: Entities
  /event_subscriptions:
    get:
      operationId: list_event_subscriptions
      parameters:
        - in: query
          name: cursor
          required: false
          schema:
            description: Return the page of entries after this one.
            type: string
        - in: query
          name: limit
          required: false
          schema:
            description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
            minimum: 0
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/event_subscription_list"
          description: Event Subscription List
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: List Event Subscriptions
      x-tag: Event Subscriptions
    post:
      operationId: create_an_event_subscription
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/create_an_event_subscription_parameters"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/event_subscription"
          description: Event Subscription
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Create an Event Subscription
      x-tag: Event Subscriptions
  "/event_subscriptions/{event_subscription_id}":
    get:
      operationId: retrieve_an_event_subscription
      parameters:
        - example: event_subscription_001dzz0r20rcdxgb013zqb8m04g
          in: path
          name: event_subscription_id
          required: true
          schema:
            description: The identifier of the Event Subscription.
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/event_subscription"
          description: Event Subscription
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Retrieve an Event Subscription
      x-tag: Event Subscriptions
    patch:
      operationId: update_an_event_subscription
      parameters:
        - example: event_subscription_001dzz0r20rcdxgb013zqb8m04g
          in: path
          name: event_subscription_id
          required: true
          schema:
            description: The identifier of the Event Subscription.
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/update_an_event_subscription_parameters"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/event_subscription"
          description: Event Subscription
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Update an Event Subscription
      x-tag: Event Subscriptions
  /events:
    get:
      operationId: list_events
      parameters:
        - in: query
          name: cursor
          required: false
          schema:
            description: Return the page of entries after this one.
            type: string
        - in: query
          name: limit
          required: false
          schema:
            description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
            minimum: 0
            type: integer
        - in: query
          name: created_at.after
          required: false
          schema:
            description: Return results after this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
        - in: query
          name: created_at.before
          required: false
          schema:
            description: Return results before this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
        - in: query
          name: created_at.on_or_after
          required: false
          schema:
            description: Return results on or after this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
        - in: query
          name: created_at.on_or_before
          required: false
          schema:
            description: Return results on or before this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
        - in: query
          name: category.in
          required: false
          schema:
            description: Return results whose value is in the provided list. For GET requests, this should be encoded as a comma-delimited string, such as `?in=one,two,three`.
            items:
              enum:
                - account.created
                - account.updated
                - account_number.created
                - account_number.updated
                - account_statement.created
                - account_transfer.created
                - account_transfer.updated
                - ach_prenotification.created
                - ach_prenotification.updated
                - ach_transfer.created
                - ach_transfer.updated
                - card.created
                - card.updated
                - card_dispute.created
                - card_dispute.updated
                - check_deposit.created
                - check_deposit.updated
                - check_transfer.created
                - check_transfer.updated
                - declined_transaction.created
                - digital_wallet_token.created
                - digital_wallet_token.updated
                - document.created
                - entity.created
                - entity.updated
                - external_account.created
                - file.created
                - group.updated
                - group.heartbeat
                - inbound_ach_transfer_return.created
                - inbound_ach_transfer_return.updated
                - inbound_wire_drawdown_request.created
                - oauth_connection.created
                - oauth_connection.deactivated
                - pending_transaction.created
                - pending_transaction.updated
                - real_time_decision.card_authorization_requested
                - real_time_decision.digital_wallet_token_requested
                - real_time_decision.digital_wallet_authentication_requested
                - real_time_payments_transfer.created
                - real_time_payments_transfer.updated
                - real_time_payments_request_for_payment.created
                - real_time_payments_request_for_payment.updated
                - transaction.created
                - wire_drawdown_request.created
                - wire_drawdown_request.updated
                - wire_transfer.created
                - wire_transfer.updated
              type: string
              x-enum-descriptions:
                - Occurs whenever an Account is created.
                - Occurs whenever an Account is updated.
                - Occurs whenever an Account Number is created.
                - Occurs whenever an Account Number is updated.
                - Occurs whenever an Account Statement is created.
                - Occurs whenever an Account Transfer is created.
                - Occurs whenever an Account Transfer is updated.
                - Occurs whenever an ACH Prenotification is created.
                - Occurs whenever an ACH Prenotification is updated.
                - Occurs whenever an ACH Transfer is created.
                - Occurs whenever an ACH Transfer is updated.
                - Occurs whenever a Card is created.
                - Occurs whenever a Card is updated.
                - Occurs whenever a Card Dispute is created.
                - Occurs whenever a Card Dispute is updated.
                - Occurs whenever a Check Deposit is created.
                - Occurs whenever a Check Deposit is updated.
                - Occurs whenever a Check Transfer is created.
                - Occurs whenever a Check Transfer is updated.
                - Occurs whenever a Declined Transaction is created.
                - Occurs whenever a Digital Wallet Token is created.
                - Occurs whenever a Digital Wallet Token is updated.
                - Occurs whenever a Document is created.
                - Occurs whenever an Entity is created.
                - Occurs whenever an Entity is updated.
                - Occurs whenever an External Account is created.
                - Occurs whenever a File is created.
                - Occurs whenever a Group is updated.
                - Increase may send webhooks with this category to see if a webhook endpoint is working properly.
                - Occurs whenever an Inbound ACH Transfer Return is created.
                - Occurs whenever an Inbound ACH Transfer Return is updated.
                - Occurs whenever an Inbound Wire Drawdown Request is created.
                - Occurs whenever an OAuth Connection is created.
                - Occurs whenever an OAuth Connection is deactivated.
                - Occurs whenever a Pending Transaction is created.
                - Occurs whenever a Pending Transaction is updated.
                - Occurs whenever a Real-Time Decision is created in response to a card authorization.
                - Occurs whenever a Real-Time Decision is created in response to a digital wallet provisioning attempt.
                - Occurs whenever a Real-Time Decision is created in response to a digital wallet requiring two-factor authentication.
                - Occurs whenever a Real Time Payments Transfer is created.
                - Occurs whenever a Real Time Payments Transfer is updated.
                - Occurs whenever a Real Time Payments Request for Payment is created.
                - Occurs whenever a Real Time Payments Request for Payment is updated.
                - Occurs whenever a Transaction is updated.
                - Occurs whenever a Wire Drawdown Request is created.
                - Occurs whenever a Wire Drawdown Request is updated.
                - Occurs whenever a Wire Transfer is created.
                - Occurs whenever a Wire Transfer is updated.
            type: array
        - in: query
          name: associated_object_id
          required: false
          schema:
            description: Filter Events to those belonging to the object with the provided identifier.
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/event_list"
          description: Event List
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: List Events
      x-tag: Events
  "/events/{event_id}":
    get:
      operationId: retrieve_an_event
      parameters:
        - example: event_001dzz0r20rzr4zrhrr1364hy80
          in: path
          name: event_id
          required: true
          schema:
            description: The identifier of the Event.
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/event"
          description: Event
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Retrieve an Event
      x-tag: Events
  /external_accounts:
    get:
      operationId: list_external_accounts
      parameters:
        - in: query
          name: cursor
          required: false
          schema:
            description: Return the page of entries after this one.
            type: string
        - in: query
          name: limit
          required: false
          schema:
            description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
            minimum: 0
            type: integer
        - in: query
          name: status.in
          required: false
          schema:
            description: Return results whose value is in the provided list. For GET requests, this should be encoded as a comma-delimited string, such as `?in=one,two,three`.
            items:
              enum:
                - active
                - archived
              type: string
              x-enum-descriptions:
                - The External Acccount is active.
                - The External Account is archived and won't appear in the dashboard.
            type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/external_account_list"
          description: External Account List
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: List External Accounts
      x-tag: External Accounts
    post:
      operationId: create_an_external_account
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/create_an_external_account_parameters"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/external_account"
          description: External Account
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Create an External Account
      x-tag: External Accounts
  "/external_accounts/{external_account_id}":
    get:
      operationId: retrieve_an_external_account
      parameters:
        - example: external_account_ukk55lr923a3ac0pp7iv
          in: path
          name: external_account_id
          required: true
          schema:
            description: The identifier of the External Account.
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/external_account"
          description: External Account
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Retrieve an External Account
      x-tag: External Accounts
    patch:
      operationId: update_an_external_account
      parameters:
        - example: external_account_ukk55lr923a3ac0pp7iv
          in: path
          name: external_account_id
          required: true
          schema:
            description: The external account identifier.
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/update_an_external_account_parameters"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/external_account"
          description: External Account
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Update an External Account
      x-tag: External Accounts
  /files:
    get:
      operationId: list_files
      parameters:
        - in: query
          name: cursor
          required: false
          schema:
            description: Return the page of entries after this one.
            type: string
        - in: query
          name: limit
          required: false
          schema:
            description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
            minimum: 0
            type: integer
        - in: query
          name: created_at.after
          required: false
          schema:
            description: Return results after this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
        - in: query
          name: created_at.before
          required: false
          schema:
            description: Return results before this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
        - in: query
          name: created_at.on_or_after
          required: false
          schema:
            description: Return results on or after this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
        - in: query
          name: created_at.on_or_before
          required: false
          schema:
            description: Return results on or before this [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) timestamp.
            format: date-time
            type: string
        - in: query
          name: purpose.in
          required: false
          schema:
            description: Return results whose value is in the provided list. For GET requests, this should be encoded as a comma-delimited string, such as `?in=one,two,three`.
            items:
              enum:
                - check_image_front
                - check_image_back
                - form_1099_int
                - form_ss_4
                - identity_document
                - increase_statement
                - other
                - trust_formation_document
                - digital_wallet_artwork
                - digital_wallet_app_icon
                - entity_supplemental_document
              type: string
              x-enum-descriptions:
                - An image of the front of a check, used for check deposits.
                - An image of the back of a check, used for check deposits.
                - IRS Form 1099-INT.
                - IRS Form SS-4.
                - An image of a government-issued ID.
                - A statement generated by Increase.
                - A file purpose not covered by any of the other cases.
                - A legal document forming a trust.
                - A card image to be rendered inside digital wallet apps. This must be a 1536x969 pixel PNG.
                - An icon for you app to be rendered inside digital wallet apps. This must be a 100x100 pixel PNG.
                - A supplemental document associated an an Entity.
            type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/file_list"
          description: File List
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: List Files
      x-tag: Files
    post:
      description: To upload a file to Increase, you'll need to send a request of Content-Type `multipart/form-data`. The request should contain the file you would like to upload, as well as the parameters for creating a file.
      operationId: create_a_file
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/create_a_file_parameters"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/file"
          description: File
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Create a File
      x-tag: Files
  "/files/{file_id}":
    get:
      operationId: retrieve_a_file
      parameters:
        - example: file_makxrc67oh9l6sg7w9yc
          in: path
          name: file_id
          required: true
          schema:
            description: The identifier of the File.
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/file"
          description: File
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Retrieve a File
      x-tag: Files
  /groups/current:
    get:
      description: Returns details for the currently authenticated Group.
      operationId: retrieve_group_details
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/group"
          description: Group
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Retrieve Group details
      x-tag: Groups
  /inbound_ach_transfer_returns:
    get:
      operationId: list_inbound_ach_transfer_returns
      parameters:
        - in: query
          name: cursor
          required: false
          schema:
            description: Return the page of entries after this one.
            type: string
        - in: query
          name: limit
          required: false
          schema:
            description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
            minimum: 0
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inbound_ach_transfer_return_list"
          description: Inbound ACH Transfer Return List
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: List Inbound ACH Transfer Returns
      x-tag: Inbound ACH Transfer Returns
    post:
      operationId: create_an_ach_return
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/create_an_ach_return_parameters"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inbound_ach_transfer_return"
          description: Inbound ACH Transfer Return
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Create an ACH Return
      x-tag: Inbound ACH Transfer Returns
  "/inbound_ach_transfer_returns/{inbound_ach_transfer_return_id}":
    get:
      operationId: retrieve_an_inbound_ach_transfer_return
      parameters:
        - example: inbound_ach_transfer_return_fhcxk5huskwhmt7iz0gk
          in: path
          name: inbound_ach_transfer_return_id
          required: true
          schema:
            description: The identifier of the Inbound ACH Transfer Return to retrieve.
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inbound_ach_transfer_return"
          description: Inbound ACH Transfer Return
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Retrieve an Inbound ACH Transfer Return
      x-tag: Inbound ACH Transfer Returns
  /inbound_wire_drawdown_requests:
    get:
      operationId: list_inbound_wire_drawdown_requests
      parameters:
        - in: query
          name: cursor
          required: false
          schema:
            description: Return the page of entries after this one.
            type: string
        - in: query
          name: limit
          required: false
          schema:
            description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
            minimum: 0
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inbound_wire_drawdown_request_list"
          description: Inbound Wire Drawdown Request List
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: List Inbound Wire Drawdown Requests
      x-tag: Inbound Wire Drawdown Requests
  "/inbound_wire_drawdown_requests/{inbound_wire_drawdown_request_id}":
    get:
      operationId: retrieve_an_inbound_wire_drawdown_request
      parameters:
        - example: inbound_wire_drawdown_request_u5a92ikqhz1ytphn799e
          in: path
          name: inbound_wire_drawdown_request_id
          required: true
          schema:
            description: The identifier of the Inbound Wire Drawdown Request to retrieve.
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inbound_wire_drawdown_request"
          description: Inbound Wire Drawdown Request
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Retrieve an Inbound Wire Drawdown Request
      x-tag: Inbound Wire Drawdown Requests
  /limits:
    get:
      operationId: list_limits
      parameters:
        - in: query
          name: cursor
          required: false
          schema:
            description: Return the page of entries after this one.
            type: string
        - in: query
          name: limit
          required: false
          schema:
            description: Limit the size of the list that is returned. The default (and maximum) is 100 objects.
            minimum: 0
            type: integer
        - example: account_number_v18nkfqm6afpsrvy82b2
          in: query
          name: model_id
          required: false
          schema:
            description: The model to retrieve limits for.
            maxLength: 200
            minLength: 1
            type: string
        - example: active
          in: query
          name: status
          required: false
          schema:
            description: The status to retrieve limits for.
            maxLength: 200
            minLength: 1
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/limit_list"
          description: Limit List
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: List Limits
      x-tag: Limits
    post:
      operationId: create_a_limit
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/create_a_limit_parameters"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/limit"
          description: Limit
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Create a Limit
      x-tag: Limits
  "/limits/{limit_id}":
    get:
      operationId: retrieve_a_limit
      parameters:
        - example: limit_fku42k0qtc8ulsuas38q
          in: path
          name: limit_id
          required: true
          schema:
            description: The identifier of the Limit to retrieve.
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/limit"
          description: Limit
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: Error
      summary: Retrieve a Limit
      x-tag: Limits
    patch:
      operationId: update_a_limit
      parameters:
        - example: limit_fku42k0qtc8ulsuas38q
          in: path
          name: limit_id
          required: true
          schema:
            description: The limit to update.
            type: string
      requestBody:
        content:
          application/json:
            schema:
[...]
