{
  "swagger": "2.0",
  "info": {
    "title": "Books API",
    "description": "Lets you search for books and manage your Google Books library.",
    "contact": {
      "name": "Google",
      "url": "https://google.com"
    },
    "version": "v1"
  },
  "host": "www.googleapis.com",
  "basePath": "/books/v1",
  "schemes": [
    "https"
  ],
  "paths": {
    "/users/{userId}/bookshelves/{shelf}": {
      "get": {
        "description": "Retrieves metadata for a specific bookshelf for the specified user.",
        "operationId": "books.bookshelves.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Bookshelf"
            }
          }
        },
        "parameters": [
          {
            "name": "shelf",
            "in": "path",
            "description": "ID of bookshelf to retrieve.",
            "required": true,
            "type": "string"
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "type": "string"
          },
          {
            "name": "userId",
            "in": "path",
            "description": "ID of user for whom to retrieve bookshelves.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "bookshelves"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/users/{userId}/bookshelves": {
      "get": {
        "description": "Retrieves a list of public bookshelves for the specified user.",
        "operationId": "books.bookshelves.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Bookshelves"
            }
          }
        },
        "parameters": [
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "type": "string"
          },
          {
            "name": "userId",
            "in": "path",
            "description": "ID of user for whom to retrieve bookshelves.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "bookshelves"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/users/{userId}/bookshelves/{shelf}/volumes": {
      "get": {
        "description": "Retrieves volumes in a specific bookshelf for the specified user.",
        "operationId": "books.bookshelves.volumes.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Volumes"
            }
          }
        },
        "parameters": [
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of results to return",
            "type": "integer",
            "minimum": 0
          },
          {
            "name": "shelf",
            "in": "path",
            "description": "ID of bookshelf to retrieve volumes.",
            "required": true,
            "type": "string"
          },
          {
            "name": "showPreorders",
            "in": "query",
            "description": "Set to true to show pre-ordered books. Defaults to false.",
            "type": "boolean"
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "type": "string"
          },
          {
            "name": "startIndex",
            "in": "query",
            "description": "Index of the first element to return (starts at 0)",
            "type": "integer",
            "minimum": 0
          },
          {
            "name": "userId",
            "in": "path",
            "description": "ID of user for whom to retrieve bookshelf volumes.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "bookshelves"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/cloudloading/addBook": {
      "post": {
        "description": "",
        "operationId": "books.cloudloading.addBook",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/BooksCloudloadingResource"
            }
          }
        },
        "parameters": [
          {
            "name": "drive_document_id",
            "in": "query",
            "description": "A drive document id. The upload_client_token must not be set.",
            "type": "string"
          },
          {
            "name": "mime_type",
            "in": "query",
            "description": "The document MIME type. It can be set only if the drive_document_id is set.",
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "The document name. It can be set only if the drive_document_id is set.",
            "type": "string"
          },
          {
            "name": "upload_client_token",
            "in": "query",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "cloudloading"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/cloudloading/deleteBook": {
      "post": {
        "description": "Remove the book and its contents",
        "operationId": "books.cloudloading.deleteBook",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "volumeId",
            "in": "query",
            "description": "The id of the book to be removed.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "cloudloading"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/cloudloading/updateBook": {
      "post": {
        "description": "",
        "operationId": "books.cloudloading.updateBook",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/BooksCloudloadingResource"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "cloudloading"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/dictionary/listOfflineMetadata": {
      "get": {
        "description": "Returns a list of offline dictionary meatadata available",
        "operationId": "books.dictionary.listOfflineMetadata",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Metadata"
            }
          }
        },
        "parameters": [
          {
            "name": "cpksver",
            "in": "query",
            "description": "The device/version ID from which to request the data.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "dictionary"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/volumes/{volumeId}/layersummary/{summaryId}": {
      "get": {
        "description": "Gets the layer summary for a volume.",
        "operationId": "books.layers.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Layersummary"
            }
          }
        },
        "parameters": [
          {
            "name": "contentVersion",
            "in": "query",
            "description": "The content version for the requested volume.",
            "type": "string"
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "type": "string"
          },
          {
            "name": "summaryId",
            "in": "path",
            "description": "The ID for the layer to get the summary for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "volumeId",
            "in": "path",
            "description": "The volume to retrieve layers for.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "layers"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/volumes/{volumeId}/layersummary": {
      "get": {
        "description": "List the layer summaries for a volume.",
        "operationId": "books.layers.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Layersummaries"
            }
          }
        },
        "parameters": [
          {
            "name": "contentVersion",
            "in": "query",
            "description": "The content version for the requested volume.",
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of results to return",
            "type": "integer",
            "minimum": 0,
            "maximum": 200
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The value of the nextToken from the previous page.",
            "type": "string"
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "type": "string"
          },
          {
            "name": "volumeId",
            "in": "path",
            "description": "The volume to retrieve layers for.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "layers"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/volumes/{volumeId}/layers/{layerId}/data/{annotationDataId}": {
      "get": {
        "description": "Gets the annotation data.",
        "operationId": "books.layers.annotationData.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Annotationdata"
            }
          }
        },
        "parameters": [
          {
            "name": "allowWebDefinitions",
            "in": "query",
            "description": "For the dictionary layer. Whether or not to allow web definitions.",
            "type": "boolean"
          },
          {
            "name": "annotationDataId",
            "in": "path",
            "description": "The ID of the annotation data to retrieve.",
            "required": true,
            "type": "string"
          },
          {
            "name": "contentVersion",
            "in": "query",
            "description": "The content version for the volume you are trying to retrieve.",
            "required": true,
            "type": "string"
          },
          {
            "name": "h",
            "in": "query",
            "description": "The requested pixel height for any images. If height is provided width must also be provided.",
            "type": "integer"
          },
          {
            "name": "layerId",
            "in": "path",
            "description": "The ID for the layer to get the annotations.",
            "required": true,
            "type": "string"
          },
          {
            "name": "locale",
            "in": "query",
            "description": "The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'.",
            "type": "string"
          },
          {
            "name": "scale",
            "in": "query",
            "description": "The requested scale for the image.",
            "type": "integer",
            "minimum": 0
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "type": "string"
          },
          {
            "name": "volumeId",
            "in": "path",
            "description": "The volume to retrieve annotations for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "w",
            "in": "query",
            "description": "The requested pixel width for any images. If width is provided height must also be provided.",
            "type": "integer"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "layers"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/volumes/{volumeId}/layers/{layerId}/data": {
      "get": {
        "description": "Gets the annotation data for a volume and layer.",
        "operationId": "books.layers.annotationData.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Annotationsdata"
            }
          }
        },
        "parameters": [
          {
            "name": "annotationDataId",
            "in": "query",
            "description": "The list of Annotation Data Ids to retrieve. Pagination is ignored if this is set.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "contentVersion",
            "in": "query",
            "description": "The content version for the requested volume.",
            "required": true,
            "type": "string"
          },
          {
            "name": "h",
            "in": "query",
            "description": "The requested pixel height for any images. If height is provided width must also be provided.",
            "type": "integer"
          },
          {
            "name": "layerId",
            "in": "path",
            "description": "The ID for the layer to get the annotation data.",
            "required": true,
            "type": "string"
          },
          {
            "name": "locale",
            "in": "query",
            "description": "The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'.",
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of results to return",
            "type": "integer",
            "minimum": 0,
            "maximum": 200
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The value of the nextToken from the previous page.",
            "type": "string"
          },
          {
            "name": "scale",
            "in": "query",
            "description": "The requested scale for the image.",
            "type": "integer",
            "minimum": 0
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "type": "string"
          },
          {
            "name": "updatedMax",
            "in": "query",
            "description": "RFC 3339 timestamp to restrict to items updated prior to this timestamp (exclusive).",
            "type": "string"
          },
          {
            "name": "updatedMin",
            "in": "query",
            "description": "RFC 3339 timestamp to restrict to items updated since this timestamp (inclusive).",
            "type": "string"
          },
          {
            "name": "volumeId",
            "in": "path",
            "description": "The volume to retrieve annotation data for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "w",
            "in": "query",
            "description": "The requested pixel width for any images. If width is provided height must also be provided.",
            "type": "integer"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "layers"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/volumes/{volumeId}/layers/{layerId}/annotations/{annotationId}": {
      "get": {
        "description": "Gets the volume annotation.",
        "operationId": "books.layers.volumeAnnotations.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Volumeannotation"
            }
          }
        },
        "parameters": [
          {
            "name": "annotationId",
            "in": "path",
            "description": "The ID of the volume annotation to retrieve.",
            "required": true,
            "type": "string"
          },
          {
            "name": "layerId",
            "in": "path",
            "description": "The ID for the layer to get the annotations.",
            "required": true,
            "type": "string"
          },
          {
            "name": "locale",
            "in": "query",
            "description": "The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'.",
            "type": "string"
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "type": "string"
          },
          {
            "name": "volumeId",
            "in": "path",
            "description": "The volume to retrieve annotations for.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "layers"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/volumes/{volumeId}/layers/{layerId}": {
      "get": {
        "description": "Gets the volume annotations for a volume and layer.",
        "operationId": "books.layers.volumeAnnotations.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Volumeannotations"
            }
          }
        },
        "parameters": [
          {
            "name": "contentVersion",
            "in": "query",
            "description": "The content version for the requested volume.",
            "required": true,
            "type": "string"
          },
          {
            "name": "endOffset",
            "in": "query",
            "description": "The end offset to end retrieving data from.",
            "type": "string"
          },
          {
            "name": "endPosition",
            "in": "query",
            "description": "The end position to end retrieving data from.",
            "type": "string"
          },
          {
            "name": "layerId",
            "in": "path",
            "description": "The ID for the layer to get the annotations.",
            "required": true,
            "type": "string"
          },
          {
            "name": "locale",
            "in": "query",
            "description": "The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'.",
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of results to return",
            "type": "integer",
            "minimum": 0,
            "maximum": 200
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The value of the nextToken from the previous page.",
            "type": "string"
          },
          {
            "name": "showDeleted",
            "in": "query",
            "description": "Set to true to return deleted annotations. updatedMin must be in the request to use this. Defaults to false.",
            "type": "boolean"
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "type": "string"
          },
          {
            "name": "startOffset",
            "in": "query",
            "description": "The start offset to start retrieving data from.",
            "type": "string"
          },
          {
            "name": "startPosition",
            "in": "query",
            "description": "The start position to start retrieving data from.",
            "type": "string"
          },
          {
            "name": "updatedMax",
            "in": "query",
            "description": "RFC 3339 timestamp to restrict to items updated prior to this timestamp (exclusive).",
            "type": "string"
          },
          {
            "name": "updatedMin",
            "in": "query",
            "description": "RFC 3339 timestamp to restrict to items updated since this timestamp (inclusive).",
            "type": "string"
          },
          {
            "name": "volumeAnnotationsVersion",
            "in": "query",
            "description": "The version of the volume annotations that you are requesting.",
            "type": "string"
          },
          {
            "name": "volumeId",
            "in": "path",
            "description": "The volume to retrieve annotations for.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "layers"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/myconfig/getUserSettings": {
      "get": {
        "description": "Gets the current settings for the user.",
        "operationId": "books.myconfig.getUserSettings",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Usersettings"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "myconfig"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/myconfig/releaseDownloadAccess": {
      "post": {
        "description": "Release downloaded content access restriction.",
        "operationId": "books.myconfig.releaseDownloadAccess",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/DownloadAccesses"
            }
          }
        },
        "parameters": [
          {
            "name": "cpksver",
            "in": "query",
            "description": "The device/version ID from which to release the restriction.",
            "required": true,
            "type": "string"
          },
          {
            "name": "locale",
            "in": "query",
            "description": "ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US.",
            "type": "string"
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "type": "string"
          },
          {
            "name": "volumeIds",
            "in": "query",
            "description": "The volume(s) to release restrictions for.",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "myconfig"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/myconfig/requestAccess": {
      "post": {
        "description": "Request concurrent and download access restrictions.",
        "operationId": "books.myconfig.requestAccess",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/RequestAccess"
            }
          }
        },
        "parameters": [
          {
            "name": "cpksver",
            "in": "query",
            "description": "The device/version ID from which to request the restrictions.",
            "required": true,
            "type": "string"
          },
          {
            "name": "licenseTypes",
            "in": "query",
            "description": "The type of access license to request. If not specified, the default is BOTH.",
            "type": "string",
            "enum": [
              "BOTH",
              "CONCURRENT",
              "DOWNLOAD"
            ]
          },
          {
            "name": "locale",
            "in": "query",
            "description": "ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US.",
            "type": "string"
          },
          {
            "name": "nonce",
            "in": "query",
            "description": "The client nonce value.",
            "required": true,
            "type": "string"
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "required": true,
            "type": "string"
          },
          {
            "name": "volumeId",
            "in": "query",
            "description": "The volume to request concurrent/download restrictions for.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "myconfig"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/myconfig/syncVolumeLicenses": {
      "post": {
        "description": "Request downloaded content access for specified volumes on the My eBooks shelf.",
        "operationId": "books.myconfig.syncVolumeLicenses",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Volumes"
            }
          }
        },
        "parameters": [
          {
            "name": "cpksver",
            "in": "query",
            "description": "The device/version ID from which to release the restriction.",
            "required": true,
            "type": "string"
          },
          {
            "name": "features",
            "in": "query",
            "description": "List of features supported by the client, i.e., 'RENTALS'",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "RENTALS"
              ]
            },
            "collectionFormat": "multi"
          },
          {
            "name": "locale",
            "in": "query",
            "description": "ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US.",
            "type": "string"
          },
          {
            "name": "nonce",
            "in": "query",
            "description": "The client nonce value.",
            "required": true,
            "type": "string"
          },
          {
            "name": "showPreorders",
            "in": "query",
            "description": "Set to true to show pre-ordered books. Defaults to false.",
            "type": "boolean"
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "required": true,
            "type": "string"
          },
          {
            "name": "volumeIds",
            "in": "query",
            "description": "The volume(s) to request download restrictions for.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "myconfig"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/myconfig/updateUserSettings": {
      "post": {
        "description": "Sets the settings for the user. If a sub-object is specified, it will overwrite the existing sub-object stored in the server. Unspecified sub-objects will retain the existing value.",
        "operationId": "books.myconfig.updateUserSettings",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Usersettings"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "myconfig"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/mylibrary/annotations/{annotationId}": {
      "delete": {
        "description": "Deletes an annotation.",
        "operationId": "books.mylibrary.annotations.delete",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "annotationId",
            "in": "path",
            "description": "The ID for the annotation to delete.",
            "required": true,
            "type": "string"
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "mylibrary"
        ]
      },
      "put": {
        "description": "Updates an existing annotation.",
        "operationId": "books.mylibrary.annotations.update",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Annotation"
            }
          }
        },
        "parameters": [
          {
            "name": "annotationId",
            "in": "path",
            "description": "The ID for the annotation to update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "mylibrary"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/mylibrary/annotations": {
      "post": {
        "description": "Inserts a new annotation.",
        "operationId": "books.mylibrary.annotations.insert",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Annotation"
            }
          }
        },
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "description": "ISO-3166-1 code to override the IP-based location.",
            "type": "string"
          },
          {
            "name": "showOnlySummaryInResponse",
            "in": "query",
            "description": "Requests that only the summary of the specified layer be provided in the response.",
            "type": "boolean"
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "mylibrary"
        ]
      },
      "get": {
        "description": "Retrieves a list of annotations, possibly filtered.",
        "operationId": "books.mylibrary.annotations.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Annotations"
            }
          }
        },
        "parameters": [
          {
            "name": "contentVersion",
            "in": "query",
            "description": "The content version for the requested volume.",
            "type": "string"
          },
          {
            "name": "layerId",
            "in": "query",
            "description": "The layer ID to limit annotation by.",
            "type": "string"
          },
          {
            "name": "layerIds",
            "in": "query",
            "description": "The layer ID(s) to limit annotation by.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of results to return",
            "type": "integer",
            "minimum": 0,
            "maximum": 40
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The value of the nextToken from the previous page.",
            "type": "string"
          },
          {
            "name": "showDeleted",
            "in": "query",
            "description": "Set to true to return deleted annotations. updatedMin must be in the request to use this. Defaults to false.",
            "type": "boolean"
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "type": "string"
          },
          {
            "name": "updatedMax",
            "in": "query",
            "description": "RFC 3339 timestamp to restrict to items updated prior to this timestamp (exclusive).",
            "type": "string"
          },
          {
            "name": "updatedMin",
            "in": "query",
            "description": "RFC 3339 timestamp to restrict to items updated since this timestamp (inclusive).",
            "type": "string"
          },
          {
            "name": "volumeId",
            "in": "query",
            "description": "The volume to restrict annotations to.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "mylibrary"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/mylibrary/annotations/summary": {
      "post": {
        "description": "Gets the summary of specified layers.",
        "operationId": "books.mylibrary.annotations.summary",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AnnotationsSummary"
            }
          }
        },
        "parameters": [
          {
            "name": "layerIds",
            "in": "query",
            "description": "Array of layer IDs to get the summary for.",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "volumeId",
            "in": "query",
            "description": "Volume id to get the summary for.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "mylibrary"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/mylibrary/bookshelves/{shelf}/addVolume": {
      "post": {
        "description": "Adds a volume to a bookshelf.",
        "operationId": "books.mylibrary.bookshelves.addVolume",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "reason",
            "in": "query",
            "description": "The reason for which the book is added to the library.",
            "type": "string",
            "enum": [
              "IOS_PREX",
              "IOS_SEARCH",
              "ONBOARDING"
            ]
          },
          {
            "name": "shelf",
            "in": "path",
            "description": "ID of bookshelf to which to add a volume.",
            "required": true,
            "type": "string"
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "type": "string"
          },
          {
            "name": "volumeId",
            "in": "query",
            "description": "ID of volume to add.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "mylibrary"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/mylibrary/bookshelves/{shelf}/clearVolumes": {
      "post": {
        "description": "Clears all volumes from a bookshelf.",
        "operationId": "books.mylibrary.bookshelves.clearVolumes",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "shelf",
            "in": "path",
            "description": "ID of bookshelf from which to remove a volume.",
            "required": true,
            "type": "string"
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "mylibrary"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/mylibrary/bookshelves/{shelf}": {
      "get": {
        "description": "Retrieves metadata for a specific bookshelf belonging to the authenticated user.",
        "operationId": "books.mylibrary.bookshelves.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Bookshelf"
            }
          }
        },
        "parameters": [
          {
            "name": "shelf",
            "in": "path",
            "description": "ID of bookshelf to retrieve.",
            "required": true,
            "type": "string"
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "mylibrary"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/mylibrary/bookshelves": {
      "get": {
        "description": "Retrieves a list of bookshelves belonging to the authenticated user.",
        "operationId": "books.mylibrary.bookshelves.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Bookshelves"
            }
          }
        },
        "parameters": [
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "mylibrary"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/mylibrary/bookshelves/{shelf}/moveVolume": {
      "post": {
        "description": "Moves a volume within a bookshelf.",
        "operationId": "books.mylibrary.bookshelves.moveVolume",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "shelf",
            "in": "path",
            "description": "ID of bookshelf with the volume.",
            "required": true,
            "type": "string"
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "type": "string"
          },
          {
            "name": "volumeId",
            "in": "query",
            "description": "ID of volume to move.",
            "required": true,
            "type": "string"
          },
          {
            "name": "volumePosition",
            "in": "query",
            "description": "Position on shelf to move the item (0 puts the item before the current first item, 1 puts it between the first and the second and so on.)",
            "required": true,
            "type": "integer"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "mylibrary"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/mylibrary/bookshelves/{shelf}/removeVolume": {
      "post": {
        "description": "Removes a volume from a bookshelf.",
        "operationId": "books.mylibrary.bookshelves.removeVolume",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "reason",
            "in": "query",
            "description": "The reason for which the book is removed from the library.",
            "type": "string",
            "enum": [
              "ONBOARDING"
            ]
          },
          {
            "name": "shelf",
            "in": "path",
            "description": "ID of bookshelf from which to remove a volume.",
            "required": true,
            "type": "string"
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "type": "string"
          },
          {
            "name": "volumeId",
            "in": "query",
            "description": "ID of volume to remove.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "mylibrary"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/mylibrary/bookshelves/{shelf}/volumes": {
      "get": {
        "description": "Gets volume information for volumes on a bookshelf.",
        "operationId": "books.mylibrary.bookshelves.volumes.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Volumes"
            }
          }
        },
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "description": "ISO-3166-1 code to override the IP-based location.",
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of results to return",
            "type": "integer",
            "minimum": 0
          },
          {
            "name": "projection",
            "in": "query",
            "description": "Restrict information returned to a set of selected fields.",
            "type": "string",
            "enum": [
              "full",
              "lite"
            ]
          },
          {
            "name": "q",
            "in": "query",
            "description": "Full-text search query string in this bookshelf.",
            "type": "string"
          },
          {
            "name": "shelf",
            "in": "path",
            "description": "The bookshelf ID or name retrieve volumes for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "showPreorders",
            "in": "query",
            "description": "Set to true to show pre-ordered books. Defaults to false.",
            "type": "boolean"
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "type": "string"
          },
          {
            "name": "startIndex",
            "in": "query",
            "description": "Index of the first element to return (starts at 0)",
            "type": "integer",
            "minimum": 0
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "mylibrary"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/mylibrary/readingpositions/{volumeId}": {
      "get": {
        "description": "Retrieves my reading position information for a volume.",
        "operationId": "books.mylibrary.readingpositions.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ReadingPosition"
            }
          }
        },
        "parameters": [
          {
            "name": "contentVersion",
            "in": "query",
            "description": "Volume content version for which this reading position is requested.",
            "type": "string"
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "type": "string"
          },
          {
            "name": "volumeId",
            "in": "path",
            "description": "ID of volume for which to retrieve a reading position.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "mylibrary"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/mylibrary/readingpositions/{volumeId}/setPosition": {
      "post": {
        "description": "Sets my reading position information for a volume.",
        "operationId": "books.mylibrary.readingpositions.setPosition",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "description": "Action that caused this reading position to be set.",
            "type": "string",
            "enum": [
              "bookmark",
              "chapter",
              "next-page",
              "prev-page",
              "scroll",
              "search"
            ]
          },
          {
            "name": "contentVersion",
            "in": "query",
            "description": "Volume content version for which this reading position applies.",
            "type": "string"
          },
          {
            "name": "deviceCookie",
            "in": "query",
            "description": "Random persistent device cookie optional on set position.",
            "type": "string"
          },
          {
            "name": "position",
            "in": "query",
            "description": "Position string for the new volume reading position.",
            "required": true,
            "type": "string"
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "query",
            "description": "RFC 3339 UTC format timestamp associated with this reading position.",
            "required": true,
            "type": "string"
          },
          {
            "name": "volumeId",
            "in": "path",
            "description": "ID of volume for which to update the reading position.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "mylibrary"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/onboarding/listCategories": {
      "get": {
        "description": "List categories for onboarding experience.",
        "operationId": "books.onboarding.listCategories",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Category"
            }
          }
        },
        "parameters": [
          {
            "name": "locale",
            "in": "query",
            "description": "ISO-639-1 language and ISO-3166-1 country code. Default is en-US if unset.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "onboarding"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/onboarding/listCategoryVolumes": {
      "get": {
        "description": "List available volumes under categories for onboarding experience.",
        "operationId": "books.onboarding.listCategoryVolumes",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Volume2"
            }
          }
        },
        "parameters": [
          {
            "name": "categoryId",
            "in": "query",
            "description": "List of category ids requested.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "locale",
            "in": "query",
            "description": "ISO-639-1 language and ISO-3166-1 country code. Default is en-US if unset.",
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of maximum results per page to be included in the response.",
            "type": "integer"
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The value of the nextToken from the previous page.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "onboarding"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/promooffer/accept": {
      "post": {
        "description": "",
        "operationId": "books.promooffer.accept",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "androidId",
            "in": "query",
            "description": "device android_id",
            "type": "string"
          },
          {
            "name": "device",
            "in": "query",
            "description": "device device",
            "type": "string"
          },
          {
            "name": "manufacturer",
            "in": "query",
            "description": "device manufacturer",
            "type": "string"
          },
          {
            "name": "model",
            "in": "query",
            "description": "device model",
            "type": "string"
          },
          {
            "name": "offerId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "product",
            "in": "query",
            "description": "device product",
            "type": "string"
          },
          {
            "name": "serial",
            "in": "query",
            "description": "device serial",
            "type": "string"
          },
          {
            "name": "volumeId",
            "in": "query",
            "description": "Volume id to exercise the offer",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "promooffer"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/promooffer/dismiss": {
      "post": {
        "description": "",
        "operationId": "books.promooffer.dismiss",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "androidId",
            "in": "query",
            "description": "device android_id",
            "type": "string"
          },
          {
            "name": "device",
            "in": "query",
            "description": "device device",
            "type": "string"
          },
          {
            "name": "manufacturer",
            "in": "query",
            "description": "device manufacturer",
            "type": "string"
          },
          {
            "name": "model",
            "in": "query",
            "description": "device model",
            "type": "string"
          },
          {
            "name": "offerId",
            "in": "query",
            "description": "Offer to dimiss",
            "type": "string"
          },
          {
            "name": "product",
            "in": "query",
            "description": "device product",
            "type": "string"
          },
          {
            "name": "serial",
            "in": "query",
            "description": "device serial",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "promooffer"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/promooffer/get": {
      "get": {
        "description": "Returns a list of promo offers available to the user",
        "operationId": "books.promooffer.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Offers"
            }
          }
        },
        "parameters": [
          {
            "name": "androidId",
            "in": "query",
            "description": "device android_id",
            "type": "string"
          },
          {
            "name": "device",
            "in": "query",
            "description": "device device",
            "type": "string"
          },
          {
            "name": "manufacturer",
            "in": "query",
            "description": "device manufacturer",
            "type": "string"
          },
          {
            "name": "model",
            "in": "query",
            "description": "device model",
            "type": "string"
          },
          {
            "name": "product",
            "in": "query",
            "description": "device product",
            "type": "string"
          },
          {
            "name": "serial",
            "in": "query",
            "description": "device serial",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "promooffer"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/volumes/{volumeId}": {
      "get": {
        "description": "Gets volume information for a single volume.",
        "operationId": "books.volumes.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Volume"
            }
          }
        },
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "description": "ISO-3166-1 code to override the IP-based location.",
            "type": "string"
          },
          {
            "name": "partner",
            "in": "query",
            "description": "Brand results for partner ID.",
            "type": "string"
          },
          {
            "name": "projection",
            "in": "query",
            "description": "Restrict information returned to a set of selected fields.",
            "type": "string",
            "enum": [
              "full",
              "lite"
            ]
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "type": "string"
          },
          {
            "name": "user_library_consistent_read",
            "in": "query",
            "type": "boolean"
          },
          {
            "name": "volumeId",
            "in": "path",
            "description": "ID of volume to retrieve.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "volumes"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/volumes": {
      "get": {
        "description": "Performs a book search.",
        "operationId": "books.volumes.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Volumes"
            }
          }
        },
        "parameters": [
          {
            "name": "download",
            "in": "query",
            "description": "Restrict to volumes by download availability.",
            "type": "string",
            "enum": [
              "epub"
            ]
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter search results.",
            "type": "string",
            "enum": [
              "ebooks",
              "free-ebooks",
              "full",
              "paid-ebooks",
              "partial"
            ]
          },
          {
            "name": "langRestrict",
            "in": "query",
            "description": "Restrict results to books with this language code.",
            "type": "string"
          },
          {
            "name": "libraryRestrict",
            "in": "query",
            "description": "Restrict search to this user's library.",
            "type": "string",
            "enum": [
              "my-library",
              "no-restrict"
            ]
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of results to return.",
            "type": "integer",
            "minimum": 0,
            "maximum": 40
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sort search results.",
            "type": "string",
            "enum": [
              "newest",
              "relevance"
            ]
          },
          {
            "name": "partner",
            "in": "query",
            "description": "Restrict and brand results for partner ID.",
            "type": "string"
          },
          {
            "name": "printType",
            "in": "query",
            "description": "Restrict to books or magazines.",
            "type": "string",
            "enum": [
              "all",
              "books",
              "magazines"
            ]
          },
          {
            "name": "projection",
            "in": "query",
            "description": "Restrict information returned to a set of selected fields.",
            "type": "string",
            "enum": [
              "full",
              "lite"
            ]
          },
          {
            "name": "q",
            "in": "query",
            "description": "Full-text search query string.",
            "required": true,
            "type": "string"
          },
          {
            "name": "showPreorders",
            "in": "query",
            "description": "Set to true to show books available for preorder. Defaults to false.",
            "type": "boolean"
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "type": "string"
          },
          {
            "name": "startIndex",
            "in": "query",
            "description": "Index of the first result to return (starts at 0)",
            "type": "integer",
            "minimum": 0
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "volumes"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/volumes/{volumeId}/associated": {
      "get": {
        "description": "Return a list of associated books.",
        "operationId": "books.volumes.associated.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Volumes"
            }
          }
        },
        "parameters": [
          {
            "name": "association",
            "in": "query",
            "description": "Association type.",
            "type": "string",
            "enum": [
              "end-of-sample",
              "end-of-volume",
              "related-for-play"
            ]
          },
          {
            "name": "locale",
            "in": "query",
            "description": "ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'. Used for generating recommendations.",
            "type": "string"
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "type": "string"
          },
          {
            "name": "volumeId",
            "in": "path",
            "description": "ID of the source volume.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "volumes"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/volumes/mybooks": {
      "get": {
        "description": "Return a list of books in My Library.",
        "operationId": "books.volumes.mybooks.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Volumes"
            }
          }
        },
        "parameters": [
          {
            "name": "acquireMethod",
            "in": "query",
            "description": "How the book was aquired",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "PREORDERED",
                "PREVIOUSLY_RENTED",
                "PUBLIC_DOMAIN",
                "PURCHASED",
                "RENTED",
                "SAMPLE",
                "UPLOADED"
              ]
            },
            "collectionFormat": "multi"
          },
          {
            "name": "locale",
            "in": "query",
            "description": "ISO-639-1 language and ISO-3166-1 country code. Ex:'en_US'. Used for generating recommendations.",
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of results to return.",
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          {
            "name": "processingState",
            "in": "query",
            "description": "The processing state of the user uploaded volumes to be returned. Applicable only if the UPLOADED is specified in the acquireMethod.",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "COMPLETED_FAILED",
                "COMPLETED_SUCCESS",
                "RUNNING"
              ]
            },
            "collectionFormat": "multi"
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "type": "string"
          },
          {
            "name": "startIndex",
            "in": "query",
            "description": "Index of the first result to return (starts at 0)",
            "type": "integer",
            "minimum": 0
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "volumes"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/volumes/recommended": {
      "get": {
        "description": "Return a list of recommended books for the current user.",
        "operationId": "books.volumes.recommended.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Volumes"
            }
          }
        },
        "parameters": [
          {
            "name": "locale",
            "in": "query",
            "description": "ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'. Used for generating recommendations.",
            "type": "string"
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "volumes"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/volumes/recommended/rate": {
      "post": {
        "description": "Rate a recommended book for the current user.",
        "operationId": "books.volumes.recommended.rate",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/BooksVolumesRecommendedRateResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "locale",
            "in": "query",
            "description": "ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'. Used for generating recommendations.",
            "type": "string"
          },
          {
            "name": "rating",
            "in": "query",
            "description": "Rating to be given to the volume.",
            "required": true,
            "type": "string",
            "enum": [
              "HAVE_IT",
              "NOT_INTERESTED"
            ]
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "type": "string"
          },
          {
            "name": "volumeId",
            "in": "query",
            "description": "ID of the source volume.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "volumes"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/volumes/useruploaded": {
      "get": {
        "description": "Return a list of books uploaded by the current user.",
        "operationId": "books.volumes.useruploaded.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Volumes"
            }
          }
        },
        "parameters": [
          {
            "name": "locale",
            "in": "query",
            "description": "ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'. Used for generating recommendations.",
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of results to return.",
            "type": "integer",
            "minimum": 0,
            "maximum": 40
          },
          {
            "name": "processingState",
            "in": "query",
            "description": "The processing state of the user uploaded volumes to be returned.",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "COMPLETED_FAILED",
                "COMPLETED_SUCCESS",
                "RUNNING"
              ]
            },
            "collectionFormat": "multi"
          },
          {
            "name": "source",
            "in": "query",
            "description": "String to identify the originator of this request.",
            "type": "string"
          },
          {
            "name": "startIndex",
            "in": "query",
            "description": "Index of the first result to return (starts at 0)",
            "type": "integer",
            "minimum": 0
          },
          {
            "name": "volumeId",
            "in": "query",
            "description": "The ids of the volumes to be returned. If not specified all that match the processingState are returned.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/books"
            ]
          }
        ],
        "tags": [
          "volumes"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    }
  },
  "definitions": {
    "Annotation": {
      "type": "object",
      "properties": {
        "afterSelectedText": {
          "type": "string",
          "description": "Anchor text after excerpt. For requests, if the user bookmarked a screen that has no flowing text on it, then this field should be empty."
        },
        "beforeSelectedText": {
          "type": "string",
          "description": "Anchor text before excerpt. For requests, if the user bookmarked a screen that has no flowing text on it, then this field should be empty."
        },
        "clientVersionRanges": {
          "type": "object",
          "description": "Selection ranges sent from the client.",
          "properties": {
            "cfiRange": {
              "$ref": "#/definitions/BooksAnnotationsRange",
              "description": "Range in CFI format for this annotation sent by client."
            },
            "contentVersion": {
              "type": "string",
              "description": "Content version the client sent in."
            },
            "gbImageRange": {
              "$ref": "#/definitions/BooksAnnotationsRange",
              "description": "Range in GB image format for this annotation sent by client."
            },
            "gbTextRange": {
              "$ref": "#/definitions/BooksAnnotationsRange",
              "description": "Range in GB text format for this annotation sent by client."
            },
            "imageCfiRange": {
              "$ref": "#/definitions/BooksAnnotationsRange",
              "description": "Range in image CFI format for this annotation sent by client."
            }
          }
        },
        "created": {
          "type": "string",
          "description": "Timestamp for the created time of this annotation.",
          "format": "date-time"
        },
        "currentVersionRanges": {
          "type": "object",
          "description": "Selection ranges for the most recent content version.",
          "properties": {
            "cfiRange": {
              "$ref": "#/definitions/BooksAnnotationsRange",
              "description": "Range in CFI format for this annotation for version above."
            },
            "contentVersion": {
              "type": "string",
              "description": "Content version applicable to ranges below."
            },
            "gbImageRange": {
              "$ref": "#/definitions/BooksAnnotationsRange",
              "description": "Range in GB image format for this annotation for version above."
            },
            "gbTextRange": {
              "$ref": "#/definitions/BooksAnnotationsRange",
              "description": "Range in GB text format for this annotation for version above."
            },
            "imageCfiRange": {
              "$ref": "#/definitions/BooksAnnotationsRange",
              "description": "Range in image CFI format for this annotation for version above."
            }
          }
        },
        "data": {
          "type": "string",
          "description": "User-created data for this annotation."
        },
        "deleted": {
          "type": "boolean",
          "description": "Indicates that this annotation is deleted."
        },
        "highlightStyle": {
          "type": "string",
          "description": "The highlight style for this annotation."
        },
        "id": {
          "type": "string",
          "description": "Id of this annotation, in the form of a GUID."
        },
        "kind": {
          "type": "string",
          "description": "Resource type.",
          "default": "books#annotation"
        },
        "layerId": {
          "type": "string",
          "description": "The layer this annotation is for."
        },
        "layerSummary": {
          "type": "object",
          "properties": {
            "allowedCharacterCount": {
              "type": "integer",
              "description": "Maximum allowed characters on this layer, especially for the \"copy\" layer.",
              "format": "int32"
            },
            "limitType": {
              "type": "string",
              "description": "Type of limitation on this layer. \"limited\" or \"unlimited\" for the \"copy\" layer."
            },
            "remainingCharacterCount": {
              "type": "integer",
              "description": "Remaining allowed characters on this layer, especially for the \"copy\" layer.",
              "format": "int32"
            }
          }
        },
        "pageIds": {
          "type": "array",
          "description": "Pages that this annotation spans.",
          "items": {
            "type": "string"
          }
        },
        "selectedText": {
          "type": "string",
          "description": "Excerpt from the volume."
        },
        "selfLink": {
          "type": "string",
          "description": "URL to this resource."
        },
        "updated": {
          "type": "string",
          "description": "Timestamp for the last time this annotation was modified.",
          "format": "date-time"
        },
        "volumeId": {
          "type": "string",
          "description": "The volume that this annotation belongs to."
        }
      }
    },
    "Annotationdata": {
      "type": "object",
      "properties": {
        "annotationType": {
          "type": "string",
          "description": "The type of annotation this data is for."
        },
        "data": {},
        "encoded_data": {
          "type": "string",
          "description": "Base64 encoded data for this annotation data.",
          "format": "byte"
        },
        "id": {
          "type": "string",
          "description": "Unique id for this annotation data."
        },
        "kind": {
          "type": "string",
          "description": "Resource Type",
          "default": "books#annotationdata"
        },
        "layerId": {
          "type": "string",
          "description": "The Layer id for this data. *"
        },
        "selfLink": {
          "type": "string",
          "description": "URL for this resource. *"
        },
        "updated": {
          "type": "string",
          "description": "Timestamp for the last time this data was updated. (RFC 3339 UTC date-time format).",
          "format": "date-time"
        },
        "volumeId": {
          "type": "string",
          "description": "The volume id for this data. *"
        }
      }
    },
    "Annotations": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "description": "A list of annotations.",
          "items": {
            "$ref": "#/definitions/Annotation"
          }
        },
        "kind": {
          "type": "string",
          "description": "Resource type.",
          "default": "books#annotations"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to pass in for pagination for the next page. This will not be present if this request does not have more results."
        },
        "totalItems": {
          "type": "integer",
          "description": "Total number of annotations found. This may be greater than the number of notes returned in this response if results have been paginated.",
          "format": "int32"
        }
      }
    },
    "AnnotationsSummary": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "default": "books#annotationsSummary"
        },
        "layers": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
[...]
