swagger: '2.0'
info:
  version: '2016-01-01'
  x-release: v4
  title: AWS Database Migration Service
  description: '<fullname>AWS Database Migration Service</fullname> <p>AWS Database Migration Service (AWS DMS) can migrate your data to and from the most widely used commercial and open-source databases such as Oracle, PostgreSQL, Microsoft SQL Server, Amazon Redshift, MariaDB, Amazon Aurora, MySQL, and SAP Adaptive Server Enterprise (ASE). The service supports homogeneous migrations such as Oracle to Oracle, as well as heterogeneous migrations between different database platforms, such as Oracle to MySQL or SQL Server to PostgreSQL.</p>'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: dms
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/dms-2016-01-01.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
    - format: swagger
      version: '2.0'
      url: 'https://raw.githubusercontent.com/mermade/openapi-definitions/master/aws/dms/2016-01-01/swagger.yaml'
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
x-logo:
  url: 'https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg'
  backgroundColor: '#FFFFFF'
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/dms/'
host: dms.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: header
    type: string
    required: true
  Version:
    name: Version
    in: header
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /:
    post:
      operationId: AddTagsToResource
      description: 'Adds metadata tags to a DMS resource, including replication instance, endpoint, security group, and migration task. These tags can also be used with cost allocation reporting to track cost associated with DMS resources, or used in a Condition statement in an IAM policy for DMS.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddTagsToResourceResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AddTagsToResourceMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateEndpoint':
    post:
      operationId: CreateEndpoint
      description: Creates an endpoint using the provided settings.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateEndpointResponse'
        '480':
          description: KMSKeyNotAccessibleFault
          schema:
            $ref: '#/definitions/KMSKeyNotAccessibleFault'
        '481':
          description: ResourceAlreadyExistsFault
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsFault'
        '482':
          description: ResourceQuotaExceededFault
          schema:
            $ref: '#/definitions/ResourceQuotaExceededFault'
        '483':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
        '484':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '485':
          description: AccessDeniedFault
          schema:
            $ref: '#/definitions/AccessDeniedFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateEndpointMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateReplicationInstance':
    post:
      operationId: CreateReplicationInstance
      description: Creates the replication instance using the specified parameters.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateReplicationInstanceResponse'
        '480':
          description: AccessDeniedFault
          schema:
            $ref: '#/definitions/AccessDeniedFault'
        '481':
          description: ResourceAlreadyExistsFault
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsFault'
        '482':
          description: InsufficientResourceCapacityFault
          schema:
            $ref: '#/definitions/InsufficientResourceCapacityFault'
        '483':
          description: ResourceQuotaExceededFault
          schema:
            $ref: '#/definitions/ResourceQuotaExceededFault'
        '484':
          description: StorageQuotaExceededFault
          schema:
            $ref: '#/definitions/StorageQuotaExceededFault'
        '485':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '486':
          description: ReplicationSubnetGroupDoesNotCoverEnoughAZs
          schema:
            $ref: '#/definitions/ReplicationSubnetGroupDoesNotCoverEnoughAZs'
        '487':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
        '488':
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
        '489':
          description: KMSKeyNotAccessibleFault
          schema:
            $ref: '#/definitions/KMSKeyNotAccessibleFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateReplicationInstanceMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateReplicationSubnetGroup':
    post:
      operationId: CreateReplicationSubnetGroup
      description: Creates a replication subnet group given a list of the subnet IDs in a VPC.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateReplicationSubnetGroupResponse'
        '480':
          description: AccessDeniedFault
          schema:
            $ref: '#/definitions/AccessDeniedFault'
        '481':
          description: ResourceAlreadyExistsFault
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsFault'
        '482':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '483':
          description: ResourceQuotaExceededFault
          schema:
            $ref: '#/definitions/ResourceQuotaExceededFault'
        '484':
          description: ReplicationSubnetGroupDoesNotCoverEnoughAZs
          schema:
            $ref: '#/definitions/ReplicationSubnetGroupDoesNotCoverEnoughAZs'
        '485':
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateReplicationSubnetGroupMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateReplicationTask':
    post:
      operationId: CreateReplicationTask
      description: Creates a replication task using the specified parameters.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateReplicationTaskResponse'
        '480':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
        '481':
          description: ResourceAlreadyExistsFault
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsFault'
        '482':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '483':
          description: KMSKeyNotAccessibleFault
          schema:
            $ref: '#/definitions/KMSKeyNotAccessibleFault'
        '484':
          description: ResourceQuotaExceededFault
          schema:
            $ref: '#/definitions/ResourceQuotaExceededFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateReplicationTaskMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteCertificate':
    post:
      operationId: DeleteCertificate
      description: 'Deletes the specified certificate. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteCertificateResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '481':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteCertificateMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteEndpoint':
    post:
      operationId: DeleteEndpoint
      description: <p>Deletes the specified endpoint.</p> <note> <p>All tasks associated with the endpoint must be deleted before you can delete the endpoint.</p> </note> <p/>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteEndpointResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '481':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteEndpointMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteReplicationInstance':
    post:
      operationId: DeleteReplicationInstance
      description: <p>Deletes the specified replication instance.</p> <note> <p>You must delete any migration tasks that are associated with the replication instance before you can delete it.</p> </note> <p/>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteReplicationInstanceResponse'
        '480':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
        '481':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteReplicationInstanceMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteReplicationSubnetGroup':
    post:
      operationId: DeleteReplicationSubnetGroup
      description: Deletes a subnet group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteReplicationSubnetGroupResponse'
        '480':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
        '481':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteReplicationSubnetGroupMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteReplicationTask':
    post:
      operationId: DeleteReplicationTask
      description: Deletes the specified replication task.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteReplicationTaskResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '481':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteReplicationTaskMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeAccountAttributes':
    post:
      operationId: DescribeAccountAttributes
      description: '<p>Lists all of the AWS DMS attributes for a customer account. The attributes include AWS DMS quotas for the account, such as the number of replication instances allowed. The description for a quota includes the quota name, current usage toward that quota, and the quota''s maximum value.</p> <p>This command does not take any parameters.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAccountAttributesResponse'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeAccountAttributesMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeCertificates':
    post:
      operationId: DescribeCertificates
      description: Provides a description of the certificate.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeCertificatesResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeCertificatesMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeConnections':
    post:
      operationId: DescribeConnections
      description: Describes the status of the connections that have been made between the replication instance and an endpoint. Connections are created when you test an endpoint.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeConnectionsResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeConnectionsMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeEndpointTypes':
    post:
      operationId: DescribeEndpointTypes
      description: Returns information about the type of endpoints available.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeEndpointTypesResponse'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeEndpointTypesMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeEndpoints':
    post:
      operationId: DescribeEndpoints
      description: Returns information about the endpoints for your account in the current region.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeEndpointsResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeEndpointsMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeOrderableReplicationInstances':
    post:
      operationId: DescribeOrderableReplicationInstances
      description: Returns information about the replication instance types that can be created in the specified region.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeOrderableReplicationInstancesResponse'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeOrderableReplicationInstancesMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeRefreshSchemasStatus':
    post:
      operationId: DescribeRefreshSchemasStatus
      description: Returns the status of the RefreshSchemas operation.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeRefreshSchemasStatusResponse'
        '480':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
        '481':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeRefreshSchemasStatusMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeReplicationInstances':
    post:
      operationId: DescribeReplicationInstances
      description: Returns information about replication instances for your account in the current region.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeReplicationInstancesResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeReplicationInstancesMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeReplicationSubnetGroups':
    post:
      operationId: DescribeReplicationSubnetGroups
      description: Returns information about the replication subnet groups.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeReplicationSubnetGroupsResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeReplicationSubnetGroupsMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeReplicationTasks':
    post:
      operationId: DescribeReplicationTasks
      description: Returns information about replication tasks for your account in the current region.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeReplicationTasksResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeReplicationTasksMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeSchemas':
    post:
      operationId: DescribeSchemas
      description: <p>Returns information about the schema for the specified endpoint.</p> <p/>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeSchemasResponse'
        '480':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
        '481':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeSchemasMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeTableStatistics':
    post:
      operationId: DescribeTableStatistics
      description: 'Returns table statistics on the database migration task, including table name, rows inserted, rows updated, and rows deleted.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeTableStatisticsResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '481':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeTableStatisticsMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ImportCertificate':
    post:
      operationId: ImportCertificate
      description: Uploads the specified certificate.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ImportCertificateResponse'
        '480':
          description: ResourceAlreadyExistsFault
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsFault'
        '481':
          description: InvalidCertificateFault
          schema:
            $ref: '#/definitions/InvalidCertificateFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ImportCertificateMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListTagsForResource':
    post:
      operationId: ListTagsForResource
      description: Lists all tags for an AWS DMS resource.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForResourceResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListTagsForResourceMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ModifyEndpoint':
    post:
      operationId: ModifyEndpoint
      description: Modifies the specified endpoint.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ModifyEndpointResponse'
        '480':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
        '481':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '482':
          description: ResourceAlreadyExistsFault
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsFault'
        '483':
          description: KMSKeyNotAccessibleFault
          schema:
            $ref: '#/definitions/KMSKeyNotAccessibleFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModifyEndpointMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ModifyReplicationInstance':
    post:
      operationId: ModifyReplicationInstance
      description: <p>Modifies the replication instance to apply new settings. You can change one or more parameters by specifying these parameters and the new values in the request.</p> <p>Some settings are applied during the maintenance window.</p> <p/>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ModifyReplicationInstanceResponse'
        '480':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
        '481':
          description: ResourceAlreadyExistsFault
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsFault'
        '482':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '483':
          description: InsufficientResourceCapacityFault
          schema:
            $ref: '#/definitions/InsufficientResourceCapacityFault'
        '484':
          description: StorageQuotaExceededFault
          schema:
            $ref: '#/definitions/StorageQuotaExceededFault'
        '485':
          description: UpgradeDependencyFailureFault
          schema:
            $ref: '#/definitions/UpgradeDependencyFailureFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModifyReplicationInstanceMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ModifyReplicationSubnetGroup':
    post:
      operationId: ModifyReplicationSubnetGroup
      description: Modifies the settings for the specified replication subnet group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ModifyReplicationSubnetGroupResponse'
        '480':
          description: AccessDeniedFault
          schema:
            $ref: '#/definitions/AccessDeniedFault'
        '481':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '482':
          description: ResourceQuotaExceededFault
          schema:
            $ref: '#/definitions/ResourceQuotaExceededFault'
        '483':
          description: SubnetAlreadyInUse
          schema:
            $ref: '#/definitions/SubnetAlreadyInUse'
        '484':
          description: ReplicationSubnetGroupDoesNotCoverEnoughAZs
          schema:
            $ref: '#/definitions/ReplicationSubnetGroupDoesNotCoverEnoughAZs'
        '485':
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModifyReplicationSubnetGroupMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ModifyReplicationTask':
    post:
      operationId: ModifyReplicationTask
      description: <p>Modifies the specified replication task.</p> <p>You can't modify the task endpoints. The task must be stopped before you can modify it. </p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ModifyReplicationTaskResponse'
        '480':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
        '481':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '482':
          description: ResourceAlreadyExistsFault
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsFault'
        '483':
          description: KMSKeyNotAccessibleFault
          schema:
            $ref: '#/definitions/KMSKeyNotAccessibleFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModifyReplicationTaskMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#RefreshSchemas':
    post:
      operationId: RefreshSchemas
      description: Populates the schema for the specified endpoint. This is an asynchronous operation and can take several minutes. You can check the status of this operation by calling the DescribeRefreshSchemasStatus operation.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RefreshSchemasResponse'
        '480':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
        '481':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '482':
          description: KMSKeyNotAccessibleFault
          schema:
            $ref: '#/definitions/KMSKeyNotAccessibleFault'
        '483':
          description: ResourceQuotaExceededFault
          schema:
            $ref: '#/definitions/ResourceQuotaExceededFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RefreshSchemasMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#RemoveTagsFromResource':
    post:
      operationId: RemoveTagsFromResource
      description: Removes metadata tags from a DMS resource.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RemoveTagsFromResourceResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RemoveTagsFromResourceMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#StartReplicationTask':
    post:
      operationId: StartReplicationTask
      description: Starts the replication task.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartReplicationTaskResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '481':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StartReplicationTaskMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#StopReplicationTask':
    post:
      operationId: StopReplicationTask
      description: <p>Stops the replication task.</p> <p/>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopReplicationTaskResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '481':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StopReplicationTaskMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#TestConnection':
    post:
      operationId: TestConnection
      description: Tests the connection between the replication instance and the endpoint.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TestConnectionResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '481':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
        '482':
          description: KMSKeyNotAccessibleFault
          schema:
            $ref: '#/definitions/KMSKeyNotAccessibleFault'
        '483':
          description: ResourceQuotaExceededFault
          schema:
            $ref: '#/definitions/ResourceQuotaExceededFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/TestConnectionMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  AccessDeniedFault:
    type: object
    properties:
      message:
        $ref: '#/definitions/ExceptionMessage'
        description: <p/>
    description: AWS DMS was denied access to the endpoint.
  AccountQuota:
    type: object
    properties:
      AccountQuotaName:
        $ref: '#/definitions/String'
        description: The name of the AWS DMS quota for this AWS account.
      Used:
        $ref: '#/definitions/Long'
        description: The amount currently used toward the quota maximum.
      Max:
        $ref: '#/definitions/Long'
        description: The maximum allowed value for the quota.
    description: 'Describes a quota for an AWS account, for example, the number of replication instances allowed.'
  AccountQuotaList:
    type: array
    items:
      $ref: '#/definitions/AccountQuota'
  AddTagsToResourceMessage:
    type: object
    required:
      - ResourceArn
      - Tags
    properties:
      ResourceArn:
        $ref: '#/definitions/String'
        description: 'The Amazon Resource Name (ARN) of the AWS DMS resource the tag is to be added to. AWS DMS resources include a replication instance, endpoint, and a replication task.'
      Tags:
        $ref: '#/definitions/TagList'
        description: The tag to be assigned to the DMS resource.
    description: <p/>
  AddTagsToResourceResponse:
    type: object
    properties: {}
    description: <p/>
  AvailabilityZone:
    type: object
    properties:
      Name:
        $ref: '#/definitions/String'
        description: The name of the availability zone.
    description: <p/>
  Boolean:
    type: boolean
  BooleanOptional:
    type: boolean
  Certificate:
    type: object
    properties:
      CertificateIdentifier:
        $ref: '#/definitions/String'
        description: The customer-assigned name of the certificate. Valid characters are A-z and 0-9.
      CertificateCreationDate:
        $ref: '#/definitions/TStamp'
        description: The date that the certificate was created.
      CertificatePem:
        $ref: '#/definitions/String'
        description: The contents of the .pem X.509 certificate file for the certificate.
      CertificateWallet:
        $ref: '#/definitions/CertificateWallet'
        description: The location of the imported Oracle Wallet certificate for use with SSL.
      CertificateArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) for the certificate.
      CertificateOwner:
        $ref: '#/definitions/String'
        description: The owner of the certificate.
      ValidFromDate:
        $ref: '#/definitions/TStamp'
        description: The beginning date that the certificate is valid.
      ValidToDate:
        $ref: '#/definitions/TStamp'
        description: The final date that the certificate is valid.
      SigningAlgorithm:
        $ref: '#/definitions/String'
        description: The signing algorithm for the certificate.
      KeyLength:
        $ref: '#/definitions/IntegerOptional'
        description: The key length of the cryptographic algorithm being used.
    description: The SSL certificate that can be used to encrypt connections between the endpoints and the replication instance.
  CertificateList:
    type: array
    items:
      $ref: '#/definitions/Certificate'
  CertificateWallet:
    type: string
  Connection:
    type: object
    properties:
      ReplicationInstanceArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the replication instance.
      EndpointArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) string that uniquely identifies the endpoint.
      Status:
        $ref: '#/definitions/String'
        description: The connection status.
      LastFailureMessage:
        $ref: '#/definitions/String'
        description: The error message when the connection last failed.
      EndpointIdentifier:
        $ref: '#/definitions/String'
        description: 'The identifier of the endpoint. Identifiers must begin with a letter; must contain only ASCII letters, digits, and hyphens; and must not end with a hyphen or contain two consecutive hyphens.'
      ReplicationInstanceIdentifier:
        $ref: '#/definitions/String'
        description: The replication instance identifier. This parameter is stored as a lowercase string.
    description: <p/>
  ConnectionList:
    type: array
    items:
      $ref: '#/definitions/Connection'
  CreateEndpointMessage:
    type: object
    required:
      - EndpointIdentifier
      - EndpointType
      - EngineName
    properties:
      EndpointIdentifier:
        $ref: '#/definitions/String'
        description: 'The database endpoint identifier. Identifiers must begin with a letter; must contain only ASCII letters, digits, and hyphens; and must not end with a hyphen or contain two consecutive hyphens.'
      EndpointType:
        $ref: '#/definitions/ReplicationEndpointTypeValue'
        description: The type of endpoint.
      EngineName:
        $ref: '#/definitions/String'
        description: 'The type of engine for the endpoint. Valid values include MYSQL, ORACLE, POSTGRES, MARIADB, AURORA, REDSHIFT, SYBASE, and SQLSERVER.'
      Username:
        $ref: '#/definitions/String'
        description: The user name to be used to login to the endpoint database.
      Password:
        $ref: '#/definitions/SecretString'
        description: The password to be used to login to the endpoint database.
      ServerName:
        $ref: '#/definitions/String'
        description: The name of the server where the endpoint database resides.
      Port:
        $ref: '#/definitions/IntegerOptional'
        description: The port used by the endpoint database.
      DatabaseName:
        $ref: '#/definitions/String'
        description: The name of the endpoint database.
      ExtraConnectionAttributes:
        $ref: '#/definitions/String'
        description: Additional attributes associated with the connection.
      KmsKeyId:
        $ref: '#/definitions/String'
        description: 'The KMS key identifier that will be used to encrypt the connection parameters. If you do not specify a value for the KmsKeyId parameter, then AWS DMS will use your default encryption key. AWS KMS creates the default encryption key for your AWS account. Your AWS account has a different default encryption key for each AWS region.'
      Tags:
        $ref: '#/definitions/TagList'
        description: Tags to be added to the endpoint.
      CertificateArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Number (ARN) for the certificate.
      SslMode:
        $ref: '#/definitions/DmsSslModeValue'
        description: '<p>The SSL mode to use for the SSL connection.</p> <p>SSL mode can be one of four values: none, require, verify-ca, verify-full. </p> <p>The default value is none.</p>'
    description: <p/>
  CreateEndpointResponse:
    type: object
    properties:
      Endpoint:
        $ref: '#/definitions/Endpoint'
        description: The endpoint that was created.
    description: <p/>
  CreateReplicationInstanceMessage:
    type: object
    required:
      - ReplicationInstanceIdentifier
      - ReplicationInstanceClass
    properties:
      ReplicationInstanceIdentifier:
        $ref: '#/definitions/String'
        description: '<p>The replication instance identifier. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 alphanumeric characters or hyphens.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>myrepinstance</code> </p>'
      AllocatedStorage:
        $ref: '#/definitions/IntegerOptional'
        description: The amount of storage (in gigabytes) to be initially allocated for the replication instance.
      ReplicationInstanceClass:
        $ref: '#/definitions/String'
        description: '<p>The compute and memory capacity of the replication instance as specified by the replication instance class.</p> <p> Valid Values: <code>dms.t2.micro | dms.t2.small | dms.t2.medium | dms.t2.large | dms.c4.large | dms.c4.xlarge | dms.c4.2xlarge | dms.c4.4xlarge </code> </p>'
      VpcSecurityGroupIds:
        $ref: '#/definitions/VpcSecurityGroupIdList'
        description: ' Specifies the VPC security group to be used with the replication instance. The VPC security group must work with the VPC containing the replication instance. '
      AvailabilityZone:
        $ref: '#/definitions/String'
        description: '<p>The EC2 Availability Zone that the replication instance will be created in.</p> <p>Default: A random, system-chosen Availability Zone in the endpoint''s region.</p> <p> Example: <code>us-east-1d</code> </p>'
      ReplicationSubnetGroupIdentifier:
        $ref: '#/definitions/String'
        description: A subnet group to associate with the replication instance.
      PreferredMaintenanceWindow:
        $ref: '#/definitions/String'
        description: '<p>The weekly time range during which system maintenance can occur, in Universal Coordinated Time (UTC).</p> <p> Format: <code>ddd:hh24:mi-ddd:hh24:mi</code> </p> <p>Default: A 30-minute window selected at random from an 8-hour block of time per region, occurring on a random day of the week.</p> <p>Valid Days: Mon, Tue, Wed, Thu, Fri, Sat, Sun</p> <p>Constraints: Minimum 30-minute window.</p>'
      MultiAZ:
        $ref: '#/definitions/BooleanOptional'
        description: ' Specifies if the replication instance is a Multi-AZ deployment. You cannot set the <code>AvailabilityZone</code> parameter if the Multi-AZ parameter is set to <code>true</code>. '
      EngineVersion:
        $ref: '#/definitions/String'
        description: The engine version number of the replication instance.
      AutoMinorVersionUpgrade:
        $ref: '#/definitions/BooleanOptional'
        description: '<p>Indicates that minor engine upgrades will be applied automatically to the replication instance during the maintenance window.</p> <p>Default: <code>true</code> </p>'
      Tags:
        $ref: '#/definitions/TagList'
        description: Tags to be associated with the replication instance.
      KmsKeyId:
        $ref: '#/definitions/String'
        description: 'The KMS key identifier that will be used to encrypt the content on the replication instance. If you do not specify a value for the KmsKeyId parameter, then AWS DMS will use your default encryption key. AWS KMS creates the default encryption key for your AWS account. Your AWS account has a different default encryption key for each AWS region.'
      PubliclyAccessible:
        $ref: '#/definitions/BooleanOptional'
        description: ' Specifies the accessibility options for the replication instance. A value of <code>true</code> represents an instance with a public IP address. A value of <code>false</code> represents an instance with a private IP address. The default value is <code>true</code>. '
    description: <p/>
  CreateReplicationInstanceResponse:
    type: object
    properties:
      ReplicationInstance:
        $ref: '#/definitions/ReplicationInstance'
        description: The replication instance that was created.
    description: <p/>
  CreateReplicationSubnetGroupMessage:
    type: object
    required:
      - ReplicationSubnetGroupIdentifier
      - ReplicationSubnetGroupDescription
      - SubnetIds
    properties:
      ReplicationSubnetGroupIdentifier:
        $ref: '#/definitions/String'
        description: '<p>The name for the replication subnet group. This value is stored as a lowercase string.</p> <p>Constraints: Must contain no more than 255 alphanumeric characters, periods, spaces, underscores, or hyphens. Must not be "default".</p> <p>Example: <code>mySubnetgroup</code> </p>'
      ReplicationSubnetGroupDescription:
        $ref: '#/definitions/String'
        description: The description for the subnet group.
      SubnetIds:
        $ref: '#/definitions/SubnetIdentifierList'
        description: The EC2 subnet IDs for the subnet group.
      Tags:
        $ref: '#/definitions/TagList'
        description: The tag to be assigned to the subnet group.
    description: <p/>
  CreateReplicationSubnetGroupResponse:
    type: object
    properties:
      ReplicationSubnetGroup:
        $ref: '#/definitions/ReplicationSubnetGroup'
        description: The replication subnet group that was created.
    description: <p/>
  CreateReplicationTaskMessage:
    type: object
    required:
      - ReplicationTaskIdentifier
      - SourceEndpointArn
      - TargetEndpointArn
      - ReplicationInstanceArn
      - MigrationType
      - TableMappings
    properties:
      ReplicationTaskIdentifier:
        $ref: '#/definitions/String'
        description: '<p>The replication task identifier.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 alphanumeric characters or hyphens.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul>'
      SourceEndpointArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) string that uniquely identifies the endpoint.
      TargetEndpointArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) string that uniquely identifies the endpoint.
      ReplicationInstanceArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the replication instance.
      MigrationType:
        $ref: '#/definitions/MigrationTypeValue'
        description: The migration type.
      TableMappings:
        $ref: '#/definitions/String'
        description: '<p>The path of the JSON file that contains the table mappings. Preceed the path with "file://".</p> <p>For example, --table-mappings file://mappingfile.json</p>'
      ReplicationTaskSettings:
        $ref: '#/definitions/String'
        description: 'Settings for the task, such as target metadata settings. For a complete list of task settings, see <a href="http://docs.aws.amazon.com/dms/latest/userguide/CHAP_Tasks.CustomizingTasks.TaskSettings.html">Task Settings for AWS Database Migration Service Tasks</a>.'
      CdcStartTime:
        $ref: '#/definitions/TStamp'
        description: The start time for the Change Data Capture (CDC) operation.
      Tags:
        $ref: '#/definitions/TagList'
        description: Tags to be added to the replication instance.
    description: <p/>
  CreateReplicationTaskResponse:
    type: object
    properties:
      ReplicationTask:
        $ref: '#/definitions/ReplicationTask'
        description: The replication task that was created.
    description: <p/>
  DeleteCertificateMessage:
    type: object
    required:
      - CertificateArn
    properties:
      CertificateArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the deleted certificate.
  DeleteCertificateResponse:
    type: object
    properties:
      Certificate:
        $ref: '#/definitions/Certificate'
        description: The Secure Sockets Layer (SSL) certificate.
  DeleteEndpointMessage:
    type: object
    required:
      - EndpointArn
    properties:
      EndpointArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) string that uniquely identifies the endpoint.
    description: <p/>
  DeleteEndpointResponse:
    type: object
    properties:
      Endpoint:
        $ref: '#/definitions/Endpoint'
        description: The endpoint that was deleted.
    description: <p/>
  DeleteReplicationInstanceMessage:
    type: object
    required:
      - ReplicationInstanceArn
    properties:
      ReplicationInstanceArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the replication instance to be deleted.
    description: <p/>
  DeleteReplicationInstanceResponse:
    type: object
    properties:
      ReplicationInstance:
        $ref: '#/definitions/ReplicationInstance'
        description: The replication instance that was deleted.
    description: <p/>
  DeleteReplicationSubnetGroupMessage:
    type: object
    required:
      - ReplicationSubnetGroupIdentifier
    properties:
      ReplicationSubnetGroupIdentifier:
        $ref: '#/definitions/String'
        description: The subnet group name of the replication instance.
    description: <p/>
  DeleteReplicationSubnetGroupResponse:
    type: object
    properties: {}
    description: <p/>
  DeleteReplicationTaskMessage:
    type: object
    required:
      - ReplicationTaskArn
    properties:
      ReplicationTaskArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the replication task to be deleted.
    description: <p/>
  DeleteReplicationTaskResponse:
    type: object
    properties:
      ReplicationTask:
        $ref: '#/definitions/ReplicationTask'
        description: The deleted replication task.
    description: <p/>
  DescribeAccountAttributesMessage:
    type: object
    properties: {}
    description: <p/>
  DescribeAccountAttributesResponse:
    type: object
    properties:
      AccountQuotas:
        $ref: '#/definitions/AccountQuotaList'
        description: Account quota information.
    description: <p/>
  DescribeCertificatesMessage:
    type: object
    properties:
      Filters:
        $ref: '#/definitions/FilterList'
        description: Filters applied to the certificate described in the form of key-value pairs.
      MaxRecords:
        $ref: '#/definitions/IntegerOptional'
        description: '<p> The maximum number of records to include in the response. If more records exist than the specified <code>MaxRecords</code> value, a pagination token called a marker is included in the response so that the remaining results can be retrieved. </p> <p>Default: 10</p>'
      Marker:
        $ref: '#/definitions/String'
        description: ' An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. '
  DescribeCertificatesResponse:
    type: object
    properties:
      Marker:
        $ref: '#/definitions/String'
        description: The pagination token.
      Certificates:
        $ref: '#/definitions/CertificateList'
        description: The Secure Sockets Layer (SSL) certificates associated with the replication instance.
  DescribeConnectionsMessage:
    type: object
    properties:
      Filters:
        $ref: '#/definitions/FilterList'
        description: '<p>The filters applied to the connection.</p> <p>Valid filter names: endpoint-arn | replication-instance-arn</p>'
      MaxRecords:
        $ref: '#/definitions/IntegerOptional'
        description: '<p> The maximum number of records to include in the response. If more records exist than the specified <code>MaxRecords</code> value, a pagination token called a marker is included in the response so that the remaining results can be retrieved. </p> <p>Default: 100</p> <p>Constraints: Minimum 20, maximum 100.</p>'
      Marker:
        $ref: '#/definitions/String'
        description: ' An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. '
    description: <p/>
  DescribeConnectionsResponse:
    type: object
    properties:
      Marker:
        $ref: '#/definitions/String'
        description: ' An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. '
      Connections:
        $ref: '#/definitions/ConnectionList'
        description: A description of the connections.
    description: <p/>
  DescribeEndpointTypesMessage:
    type: object
    properties:
      Filters:
        $ref: '#/definitions/FilterList'
        description: '<p>Filters applied to the describe action.</p> <p>Valid filter names: engine-name | endpoint-type</p>'
      MaxRecords:
        $ref: '#/definitions/IntegerOptional'
        description: '<p> The maximum number of records to include in the response. If more records exist than the specified <code>MaxRecords</code> value, a pagination token called a marker is included in the response so that the remaining results can be retrieved. </p> <p>Default: 100</p> <p>Constraints: Minimum 20, maximum 100.</p>'
      Marker:
        $ref: '#/definitions/String'
        description: ' An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. '
    description: <p/>
  DescribeEndpointTypesResponse:
    type: object
    properties:
      Marker:
        $ref: '#/definitions/String'
        description: ' An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. '
      SupportedEndpointTypes:
        $ref: '#/definitions/SupportedEndpointTypeList'
        description: The type of endpoints that are supported.
    description: <p/>
  DescribeEndpointsMessage:
    type: object
    properties:
      Filters:
        $ref: '#/definitions/FilterList'
        description: '<p>Filters applied to the describe action.</p> <p>Valid filter names: endpoint-arn | endpoint-type | endpoint-id | engine-name</p>'
      MaxRecords:
        $ref: '#/definitions/IntegerOptional'
        description: '<p> The maximum number of records to include in the response. If more records exist than the specified <code>MaxRecords</code> value, a pagination token called a marker is included in the response so that the remaining results can be retrieved. </p> <p>Default: 100</p> <p>Constraints: Minimum 20, maximum 100.</p>'
      Marker:
        $ref: '#/definitions/String'
        description: ' An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. '
    description: <p/>
  DescribeEndpointsResponse:
    type: object
    properties:
      Marker:
        $ref: '#/definitions/String'
        description: ' An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. '
      Endpoints:
        $ref: '#/definitions/EndpointList'
        description: Endpoint description.
    description: <p/>
  DescribeOrderableReplicationInstancesMessage:
    type: object
    properties:
      MaxRecords:
        $ref: '#/definitions/IntegerOptional'
        description: '<p> The maximum number of records to include in the response. If more records exist than the specified <code>MaxRecords</code> value, a pagination token called a marker is included in the response so that the remaining results can be retrieved. </p> <p>Default: 100</p> <p>Constraints: Minimum 20, maximum 100.</p>'
      Marker:
        $ref: '#/definitions/String'
        description: ' An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. '
    description: <p/>
  DescribeOrderableReplicationInstancesResponse:
    type: object
    properties:
      OrderableReplicationInstances:
        $ref: '#/definitions/OrderableReplicationInstanceList'
        description: The order-able replication instances available.
      Marker:
        $ref: '#/definitions/String'
        description: ' An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. '
    description: <p/>
  DescribeRefreshSchemasStatusMessage:
    type: object
    required:
      - EndpointArn
    properties:
      EndpointArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) string that uniquely identifies the endpoint.
    description: <p/>
  DescribeRefreshSchemasStatusResponse:
    type: object
    properties:
      RefreshSchemasStatus:
        $ref: '#/definitions/RefreshSchemasStatus'
        description: The status of the schema.
    description: <p/>
  DescribeReplicationInstancesMessage:
    type: object
    properties:
      Filters:
        $ref: '#/definitions/FilterList'
        description: '<p>Filters applied to the describe action.</p> <p>Valid filter names: replication-instance-arn | replication-instance-id | replication-instance-class | engine-version</p>'
      MaxRecords:
        $ref: '#/definitions/IntegerOptional'
        description: '<p> The maximum number of records to include in the response. If more records exist than the specified <code>MaxRecords</code> value, a pagination token called a marker is included in the response so that the remaining results can be retrieved. </p> <p>Default: 100</p> <p>Constraints: Minimum 20, maximum 100.</p>'
      Marker:
        $ref: '#/definitions/String'
        description: ' An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. '
    description: <p/>
  DescribeReplicationInstancesResponse:
    type: object
    properties:
      Marker:
        $ref: '#/definitions/String'
        description: ' An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. '
      ReplicationInstances:
        $ref: '#/definitions/ReplicationInstanceList'
        description: The replication instances described.
    description: <p/>
  DescribeReplicationSubnetGroupsMessage:
    type: object
    properties:
      Filters:
        $ref: '#/definitions/FilterList'
        description: Filters applied to the describe action.
      MaxRecords:
        $ref: '#/definitions/IntegerOptional'
        description: '<p> The maximum number of records to include in the response. If more records exist than the specified <code>MaxRecords</code> value, a pagination token called a marker is included in the response so that the remaining results can be retrieved. </p> <p>Default: 100</p> <p>Constraints: Minimum 20, maximum 100.</p>'
      Marker:
        $ref: '#/definitions/String'
        description: ' An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. '
    description: <p/>
  DescribeReplicationSubnetGroupsResponse:
    type: object
    properties:
      Marker:
        $ref: '#/definitions/String'
        description: ' An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. '
      ReplicationSubnetGroups:
        $ref: '#/definitions/ReplicationSubnetGroups'
        description: A description of the replication subnet groups.
    description: <p/>
  DescribeReplicationTasksMessage:
    type: object
    properties:
      Filters:
        $ref: '#/definitions/FilterList'
        description: '<p>Filters applied to the describe action.</p> <p>Valid filter names: replication-task-arn | replication-task-id | migration-type | endpoint-arn | replication-instance-arn</p>'
      MaxRecords:
        $ref: '#/definitions/IntegerOptional'
        description: '<p> The maximum number of records to include in the response. If more records exist than the specified <code>MaxRecords</code> value, a pagination token called a marker is included in the response so that the remaining results can be retrieved. </p> <p>Default: 100</p> <p>Constraints: Minimum 20, maximum 100.</p>'
      Marker:
        $ref: '#/definitions/String'
        description: ' An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. '
    description: <p/>
  DescribeReplicationTasksResponse:
    type: object
    properties:
      Marker:
        $ref: '#/definitions/String'
        description: ' An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. '
      ReplicationTasks:
        $ref: '#/definitions/ReplicationTaskList'
        description: A description of the replication tasks.
    description: <p/>
  DescribeSchemasMessage:
    type: object
    required:
      - EndpointArn
    properties:
      EndpointArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) string that uniquely identifies the endpoint.
      MaxRecords:
        $ref: '#/definitions/IntegerOptional'
        description: '<p> The maximum number of records to include in the response. If more records exist than the specified <code>MaxRecords</code> value, a pagination token called a marker is included in the response so that the remaining results can be retrieved. </p> <p>Default: 100</p> <p>Constraints: Minimum 20, maximum 100.</p>'
      Marker:
        $ref: '#/definitions/String'
        description: ' An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. '
    description: <p/>
  DescribeSchemasResponse:
    type: object
    properties:
      Marker:
        $ref: '#/definitions/String'
        description: ' An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. '
      Schemas:
        $ref: '#/definitions/SchemaList'
        description: The described schema.
    description: <p/>
  DescribeTableStatisticsMessage:
    type: object
    required:
      - ReplicationTaskArn
    properties:
      ReplicationTaskArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the replication task.
      MaxRecords:
        $ref: '#/definitions/IntegerOptional'
        description: '<p> The maximum number of records to include in the response. If more records exist than the specified <code>MaxRecords</code> value, a pagination token called a marker is included in the response so that the remaining results can be retrieved. </p> <p>Default: 100</p> <p>Constraints: Minimum 20, maximum 100.</p>'
      Marker:
        $ref: '#/definitions/String'
        description: ' An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. '
    description: <p/>
  DescribeTableStatisticsResponse:
    type: object
    properties:
      ReplicationTaskArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the replication task.
      TableStatistics:
        $ref: '#/definitions/TableStatisticsList'
        description: The table statistics.
      Marker:
        $ref: '#/definitions/String'
        description: ' An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. '
    description: <p/>
  DmsSslModeValue:
    type: string
    enum:
      - none
      - require
      - verify-ca
      - verify-full
  Endpoint:
    type: object
    properties:
      EndpointIdentifier:
        $ref: '#/definitions/String'
        description: 'The database endpoint identifier. Identifiers must begin with a letter; must contain only ASCII letters, digits, and hyphens; and must not end with a hyphen or contain two consecutive hyphens.'
      EndpointType:
        $ref: '#/definitions/ReplicationEndpointTypeValue'
        description: The type of endpoint.
      EngineName:
        $ref: '#/definitions/String'
        description: 'The database engine name. Valid values include MYSQL, ORACLE, POSTGRES, MARIADB, AURORA, REDSHIFT, SYBASE, and SQLSERVER.'
      Username:
        $ref: '#/definitions/String'
        description: The user name used to connect to the endpoint.
      ServerName:
        $ref: '#/definitions/String'
        description: The name of the server at the endpoint.
      Port:
        $ref: '#/definitions/IntegerOptional'
        description: The port value used to access the endpoint.
      DatabaseName:
        $ref: '#/definitions/String'
        description: The name of the database at the endpoint.
      ExtraConnectionAttributes:
        $ref: '#/definitions/String'
        description: Additional connection attributes used to connect to the endpoint.
      Status:
        $ref: '#/definitions/String'
        description: The status of the endpoint.
      KmsKeyId:
        $ref: '#/definitions/String'
        description: 'The KMS key identifier that will be used to encrypt the connection parameters. If you do not specify a value for the KmsKeyId parameter, then AWS DMS will use your default encryption key. AWS KMS creates the default encryption key for your AWS account. Your AWS account has a different default encryption key for each AWS region.'
      EndpointArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) string that uniquely identifies the endpoint.
      CertificateArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) used for SSL connection to the endpoint.
      SslMode:
        $ref: '#/definitions/DmsSslModeValue'
        description: '<p>The SSL mode used to connect to the endpoint.</p> <p>SSL mode can be one of four values: none, require, verify-ca, verify-full. </p> <p>The default value is none.</p>'
    description: <p/>
  EndpointList:
    type: array
    items:
      $ref: '#/definitions/Endpoint'
  ExceptionMessage:
    type: string
  Filter:
    type: object
    required:
      - Name
      - Values
    properties:
      Name:
        $ref: '#/definitions/String'
        description: The name of the filter.
      Values:
        $ref: '#/definitions/FilterValueList'
        description: The filter value.
    description: <p/>
  FilterList:
    type: array
    items:
      $ref: '#/definitions/Filter'
  FilterValueList:
    type: array
    items:
      $ref: '#/definitions/String'
  ImportCertificateMessage:
    type: object
    required:
      - CertificateIdentifier
    properties:
      CertificateIdentifier:
        $ref: '#/definitions/String'
        description: The customer-assigned name of the certificate. Valid characters are A-z and 0-9.
      CertificatePem:
        $ref: '#/definitions/String'
        description: The contents of the .pem X.509 certificate file for the certificate.
      CertificateWallet:
        $ref: '#/definitions/CertificateWallet'
        description: The location of the imported Oracle Wallet certificate for use with SSL.
  ImportCertificateResponse:
    type: object
    properties:
      Certificate:
        $ref: '#/definitions/Certificate'
        description: The certificate to be uploaded.
  InsufficientResourceCapacityFault:
    type: object
    properties:
      message:
        $ref: '#/definitions/ExceptionMessage'
        description: <p/>
    description: There are not enough resources allocated to the database migration.
  Integer:
    type: integer
  IntegerOptional:
    type: integer
  InvalidCertificateFault:
    type: object
    properties:
      message:
        $ref: '#/definitions/ExceptionMessage'
    description: The certificate was not valid.
  InvalidResourceStateFault:
    type: object
    properties:
      message:
        $ref: '#/definitions/ExceptionMessage'
        description: <p/>
    description: The resource is in a state that prevents it from being used for database migration.
  InvalidSubnet:
    type: object
    properties:
      message:
        $ref: '#/definitions/ExceptionMessage'
        description: <p/>
    description: The subnet provided is invalid.
  KMSKeyNotAccessibleFault:
    type: object
    properties:
      message:
        $ref: '#/definitions/ExceptionMessage'
        description: <p/>
    description: AWS DMS cannot access the KMS key.
  KeyList:
    type: array
    items:
      $ref: '#/definitions/String'
  ListTagsForResourceMessage:
    type: object
    required:
      - ResourceArn
    properties:
      ResourceArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) string that uniquely identifies the AWS DMS resource.
    description: <p/>
  ListTagsForResourceResponse:
    type: object
    properties:
      TagList:
        $ref: '#/definitions/TagList'
        description: A list of tags for the resource.
    description: <p/>
  Long:
    type: integer
  MigrationTypeValue:
    type: string
    enum:
      - full-load
      - cdc
      - full-load-and-cdc
  ModifyEndpointMessage:
    type: object
    required:
      - EndpointArn
    properties:
      EndpointArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) string that uniquely identifies the endpoint.
      EndpointIdentifier:
        $ref: '#/definitions/String'
        description: 'The database endpoint identifier. Identifiers must begin with a letter; must contain only ASCII letters, digits, and hyphens; and must not end with a hyphen or contain two consecutive hyphens.'
      EndpointType:
        $ref: '#/definitions/ReplicationEndpointTypeValue'
        description: The type of endpoint.
      EngineName:
        $ref: '#/definitions/String'
        description: 'The type of engine for the endpoint. Valid values include MYSQL, ORACLE, POSTGRES, MARIADB, AURORA, REDSHIFT, SYBASE, and SQLSERVER.'
      Username:
        $ref: '#/definitions/String'
        description: The user name to be used to login to the endpoint database.
      Password:
        $ref: '#/definitions/SecretString'
        description: The password to be used to login to the endpoint database.
      ServerName:
        $ref: '#/definitions/String'
        description: The name of the server where the endpoint database resides.
      Port:
        $ref: '#/definitions/IntegerOptional'
        description: The port used by the endpoint database.
      DatabaseName:
        $ref: '#/definitions/String'
        description: The name of the endpoint database.
      ExtraConnectionAttributes:
        $ref: '#/definitions/String'
        description: Additional attributes associated with the connection.
      CertificateArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the certificate used for SSL connection.
      SslMode:
        $ref: '#/definitions/DmsSslModeValue'
        description: '<p>The SSL mode to be used.</p> <p>SSL mode can be one of four values: none, require, verify-ca, verify-full. </p> <p>The default value is none.</p>'
    description: <p/>
  ModifyEndpointResponse:
    type: object
    properties:
      Endpoint:
        $ref: '#/definitions/Endpoint'
        description: The modified endpoint.
    description: <p/>
  ModifyReplicationInstanceMessage:
    type: object
    required:
      - ReplicationInstanceArn
    properties:
      ReplicationInstanceArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the replication instance.
      AllocatedStorage:
        $ref: '#/definitions/IntegerOptional'
        description: The amount of storage (in gigabytes) to be allocated for the replication instance.
      ApplyImmediately:
        $ref: '#/definitions/Boolean'
        description: Indicates whether the changes should be applied immediately or during the next maintenance window.
      ReplicationInstanceClass:
        $ref: '#/definitions/String'
        description: '<p>The compute and memory capacity of the replication instance.</p> <p> Valid Values: <code>dms.t2.micro | dms.t2.small | dms.t2.medium | dms.t2.large | dms.c4.large | dms.c4.xlarge | dms.c4.2xlarge | dms.c4.4xlarge </code> </p>'
      VpcSecurityGroupIds:
        $ref: '#/definitions/VpcSecurityGroupIdList'
        description: ' Specifies the VPC security group to be used with the replication instance. The VPC security group must work with the VPC containing the replication instance. '
      PreferredMaintenanceWindow:
        $ref: '#/definitions/String'
        description: '<p>The weekly time range (in UTC) during which system maintenance can occur, which might result in an outage. Changing this parameter does not result in an outage, except in the following situation, and the change is asynchronously applied as soon as possible. If moving this window to the current time, there must be at least 30 minutes between the current time and end of the window to ensure pending changes are applied.</p> <p>Default: Uses existing setting</p> <p>Format: ddd:hh24:mi-ddd:hh24:mi</p> <p>Valid Days: Mon | Tue | Wed | Thu | Fri | Sat | Sun</p> <p>Constraints: Must be at least 30 minutes</p>'
      MultiAZ:
        $ref: '#/definitions/BooleanOptional'
        description: ' Specifies if the replication instance is a Multi-AZ deployment. You cannot set the <code>AvailabilityZone</code> parameter if the Multi-AZ parameter is set to <code>true</code>. '
      EngineVersion:
        $ref: '#/definitions/String'
        description: The engine version number of the replication instance.
      AllowMajorVersionUpgrade:
        $ref: '#/definitions/Boolean'
        description: '<p>Indicates that major version upgrades are allowed. Changing this parameter does not result in an outage and the change is asynchronously applied as soon as possible.</p> <p>Constraints: This parameter must be set to true when specifying a value for the <code>EngineVersion</code> parameter that is a different major version than the replication instance''s current version.</p>'
      AutoMinorVersionUpgrade:
        $ref: '#/definitions/BooleanOptional'
        description: ' Indicates that minor version upgrades will be applied automatically to the replication instance during the maintenance window. Changing this parameter does not result in an outage except in the following case and the change is asynchronously applied as soon as possible. An outage will result if this parameter is set to <code>true</code> during the maintenance window, and a newer minor version is available, and AWS DMS has enabled auto patching for that engine version. '
      ReplicationInstanceIdentifier:
        $ref: '#/definitions/String'
        description: The replication instance identifier. This parameter is stored as a lowercase string.
    description: <p/>
  ModifyReplicationInstanceResponse:
    type: object
    properties:
      ReplicationInstance:
        $ref: '#/definitions/ReplicationInstance'
        description: The modified replication instance.
    description: <p/>
  ModifyReplicationSubnetGroupMessage:
    type: object
    required:
      - ReplicationSubnetGroupIdentifier
      - SubnetIds
    properties:
      ReplicationSubnetGroupIdentifier:
        $ref: '#/definitions/String'
        description: The name of the replication instance subnet group.
      ReplicationSubnetGroupDescription:
        $ref: '#/definitions/String'
        description: The description of the replication instance subnet group.
      SubnetIds:
        $ref: '#/definitions/SubnetIdentifierList'
        description: A list of subnet IDs.
    description: <p/>
  ModifyReplicationSubnetGroupResponse:
    type: object
    properties:
      ReplicationSubnetGroup:
        $ref: '#/definitions/ReplicationSubnetGroup'
        description: The modified replication subnet group.
    description: <p/>
  ModifyReplicationTaskMessage:
    type: object
    required:
      - ReplicationTaskArn
    properties:
      ReplicationTaskArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the replication task.
      ReplicationTaskIdentifier:
        $ref: '#/definitions/String'
        description: '<p>The replication task identifier.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 alphanumeric characters or hyphens.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul>'
      MigrationType:
        $ref: '#/definitions/MigrationTypeValue'
        description: '<p>The migration type.</p> <p>Valid values: full-load | cdc | full-load-and-cdc</p>'
      TableMappings:
        $ref: '#/definitions/String'
        description: '<p>The path of the JSON file that contains the table mappings. Preceed the path with "file://".</p> <p>For example, --table-mappings file://mappingfile.json</p>'
      ReplicationTaskSettings:
        $ref: '#/definitions/String'
        description: 'JSON file that contains settings for the task, such as target metadata settings.'
      CdcStartTime:
        $ref: '#/definitions/TStamp'
        description: The start time for the Change Data Capture (CDC) operation.
    description: <p/>
  ModifyReplicationTaskResponse:
    type: object
    properties:
      ReplicationTask:
        $ref: '#/definitions/ReplicationTask'
        description: The replication task that was modified.
    description: <p/>
  OrderableReplicationInstance:
    type: object
    properties:
      EngineVersion:
        $ref: '#/definitions/String'
        description: The version of the replication engine.
      ReplicationInstanceClass:
        $ref: '#/definitions/String'
        description: '<p>The compute and memory capacity of the replication instance.</p> <p> Valid Values: <code>dms.t2.micro | dms.t2.small | dms.t2.medium | dms.t2.large | dms.c4.large | dms.c4.xlarge | dms.c4.2xlarge | dms.c4.4xlarge </code> </p>'
      StorageType:
        $ref: '#/definitions/String'
        description: The type of storage used by the replication instance.
      MinAllocatedStorage:
        $ref: '#/definitions/Integer'
        description: The minimum amount of storage (in gigabytes) that can be allocated for the replication instance.
      MaxAllocatedStorage:
        $ref: '#/definitions/Integer'
        description: The minimum amount of storage (in gigabytes) that can be allocated for the replication instance.
      DefaultAllocatedStorage:
        $ref: '#/definitions/Integer'
        description: The default amount of storage (in gigabytes) that is allocated for the replication instance.
      IncludedAllocatedStorage:
        $ref: '#/definitions/Integer'
        description: The amount of storage (in gigabytes) that is allocated for the replication instance.
    description: <p/>
  OrderableReplicationInstanceList:
    type: array
    items:
      $ref: '#/definitions/OrderableReplicationInstance'
  RefreshSchemasMessage:
    type: object
    required:
      - EndpointArn
      - ReplicationInstanceArn
    properties:
      EndpointArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) string that uniquely identifies the endpoint.
      ReplicationInstanceArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the replication instance.
    description: <p/>
  RefreshSchemasResponse:
    type: object
    properties:
      RefreshSchemasStatus:
        $ref: '#/definitions/RefreshSchemasStatus'
        description: The status of the refreshed schema.
    description: <p/>
  RefreshSchemasStatus:
    type: object
    properties:
      EndpointArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) string that uniquely identifies the endpoint.
      ReplicationInstanceArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the replication instance.
      Status:
        $ref: '#/definitions/RefreshSchemasStatusTypeValue'
        description: The status of the schema.
      LastRefreshDate:
        $ref: '#/definitions/TStamp'
        description: The date the schema was last refreshed.
      LastFailureMessage:
        $ref: '#/definitions/String'
        description: The last failure message for the schema.
    description: <p/>
  RefreshSchemasStatusTypeValue:
    type: string
    enum:
      - successful
      - failed
      - refreshing
  RemoveTagsFromResourceMessage:
    type: object
    required:
      - ResourceArn
      - TagKeys
    properties:
      ResourceArn:
        $ref: '#/definitions/String'
        description: '&gt;The Amazon Resource Name (ARN) of the AWS DMS resource the tag is to be removed from.'
      TagKeys:
        $ref: '#/definitions/KeyList'
        description: The tag key (name) of the tag to be removed.
    description: <p/>
  RemoveTagsFromResourceResponse:
    type: object
    properties: {}
    description: <p/>
  ReplicationEndpointTypeValue:
    type: string
    enum:
      - source
      - target
  ReplicationInstance:
    type: object
    properties:
      ReplicationInstanceIdentifier:
        $ref: '#/definitions/String'
        description: '<p>The replication instance identifier. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 alphanumeric characters or hyphens.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>myrepinstance</code> </p>'
      ReplicationInstanceClass:
        $ref: '#/definitions/String'
        description: '<p>The compute and memory capacity of the replication instance.</p> <p> Valid Values: <code>dms.t2.micro | dms.t2.small | dms.t2.medium | dms.t2.large | dms.c4.large | dms.c4.xlarge | dms.c4.2xlarge | dms.c4.4xlarge </code> </p>'
      ReplicationInstanceStatus:
        $ref: '#/definitions/String'
        description: The status of the replication instance.
      AllocatedStorage:
        $ref: '#/definitions/Integer'
        description: The amount of storage (in gigabytes) that is allocated for the replication instance.
      InstanceCreateTime:
        $ref: '#/definitions/TStamp'
        description: The time the replication instance was created.
      VpcSecurityGroups:
        $ref: '#/definitions/VpcSecurityGroupMembershipList'
        description: The VPC security group for the instance.
      AvailabilityZone:
        $ref: '#/definitions/String'
        description: The Availability Zone for the instance.
      ReplicationSubnetGroup:
        $ref: '#/definitions/ReplicationSubnetGroup'
        description: The subnet group for the replication instance.
      PreferredMaintenanceWindow:
        $ref: '#/definitions/String'
        description: The maintenance window times for the replication instance.
      PendingModifiedValues:
        $ref: '#/definitions/ReplicationPendingModifiedValues'
        description: The pending modification values.
      MultiAZ:
        $ref: '#/definitions/Boolean'
        description: ' Specifies if the replication instance is a Multi-AZ deployment. You cannot set the <code>AvailabilityZone</code> parameter if the Multi-AZ parameter is set to <code>true</code>. '
      EngineVersion:
        $ref: '#/definitions/String'
        description: The engine version number of the replication instance.
      AutoMinorVersionUpgrade:
        $ref: '#/definitions/Boolean'
        description: Boolean value indicating if minor version upgrades will be automatically applied to the instance.
      KmsKeyId:
        $ref: '#/definitions/String'
        description: 'The KMS key identifier that is used to encrypt the content on the replication instance. If you do not specify a value for the KmsKeyId parameter, then AWS DMS will use your default encryption key. AWS KMS creates the default encryption key for your AWS account. Your AWS account has a different default encryption key for each AWS region.'
      ReplicationInstanceArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the replication instance.
      ReplicationInstancePublicIpAddress:
        $ref: '#/definitions/String'
        description: The public IP address of the replication instance.
      ReplicationInstancePrivateIpAddress:
        $ref: '#/definitions/String'
        description: The private IP address of the replication instance.
      ReplicationInstancePublicIpAddresses:
        $ref: '#/definitions/ReplicationInstancePublicIpAddressList'
        description: The public IP address of the replication instance.
      ReplicationInstancePrivateIpAddresses:
        $ref: '#/definitions/ReplicationInstancePrivateIpAddressList'
        description: The private IP address of the replication instance.
      PubliclyAccessible:
        $ref: '#/definitions/Boolean'
        description: ' Specifies the accessibility options for the replication instance. A value of <code>true</code> represents an instance with a public IP address. A value of <code>false</code> represents an instance with a private IP address. The default value is <code>true</code>. '
      SecondaryAvailabilityZone:
        $ref: '#/definitions/String'
        description: The availability zone of the standby replication instance in a Multi-AZ deployment.
    description: <p/>
  ReplicationInstanceList:
    type: array
    items:
      $ref: '#/definitions/ReplicationInstance'
  ReplicationInstancePrivateIpAddressList:
    type: array
    items:
      $ref: '#/definitions/String'
  ReplicationInstancePublicIpAddressList:
    type: array
    items:
      $ref: '#/definitions/String'
[...]
