swagger: '2.0'
info:
  version: '2016-01-01'
  x-release: v4
  title: AWS Database Migration Service
  description: '<fullname>AWS Database Migration Service</fullname> <p>AWS Database Migration Service (AWS DMS) can migrate your data to and from the most widely used commercial and open-source databases such as Oracle, PostgreSQL, Microsoft SQL Server, Amazon Redshift, MariaDB, Amazon Aurora, MySQL, and SAP Adaptive Server Enterprise (ASE). The service supports homogeneous migrations such as Oracle to Oracle, as well as heterogeneous migrations between different database platforms, such as Oracle to MySQL or SQL Server to PostgreSQL.</p> <p>For more information about AWS DMS, see the AWS DMS user guide at <a href="http://docs.aws.amazon.com/dms/latest/userguide/Welcome.html"> What Is AWS Database Migration Service? </a> </p>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: dms
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/dms-2016-01-01.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/dms/'
host: dms.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: header
    type: string
    required: true
  Version:
    name: Version
    in: header
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /:
    post:
      operationId: AddTagsToResource
      description: 'Adds metadata tags to a DMS resource, including replication instance, endpoint, security group, and migration task. These tags can also be used with cost allocation reporting to track cost associated with DMS resources, or used in a Condition statement in an IAM policy for DMS.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddTagsToResourceResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AddTagsToResourceMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateEndpoint':
    post:
      operationId: CreateEndpoint
      description: Creates an endpoint using the provided settings.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateEndpointResponse'
        '480':
          description: KMSKeyNotAccessibleFault
          schema:
            $ref: '#/definitions/KMSKeyNotAccessibleFault'
        '481':
          description: ResourceAlreadyExistsFault
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsFault'
        '482':
          description: ResourceQuotaExceededFault
          schema:
            $ref: '#/definitions/ResourceQuotaExceededFault'
        '483':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
        '484':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '485':
          description: AccessDeniedFault
          schema:
            $ref: '#/definitions/AccessDeniedFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateEndpointMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateEventSubscription':
    post:
      operationId: CreateEventSubscription
      description: '<p> Creates an AWS DMS event notification subscription. </p> <p>You can specify the type of source (<code>SourceType</code>) you want to be notified of, provide a list of AWS DMS source IDs (<code>SourceIds</code>) that triggers the events, and provide a list of event categories (<code>EventCategories</code>) for events you want to be notified of. If you specify both the <code>SourceType</code> and <code>SourceIds</code>, such as <code>SourceType = replication-instance</code> and <code>SourceIdentifier = my-replinstance</code>, you will be notified of all the replication instance events for the specified source. If you specify a <code>SourceType</code> but don''t specify a <code>SourceIdentifier</code>, you receive notice of the events for that source type for all your AWS DMS sources. If you don''t specify either <code>SourceType</code> nor <code>SourceIdentifier</code>, you will be notified of events generated from all AWS DMS sources belonging to your customer account.</p> <p>For more information about AWS DMS events, see <a href="http://docs.aws.amazon.com/dms/latest/userguide/CHAP_Events.html"> Working with Events and Notifications </a> in the AWS Database MIgration Service User Guide.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateEventSubscriptionResponse'
        '480':
          description: ResourceQuotaExceededFault
          schema:
            $ref: '#/definitions/ResourceQuotaExceededFault'
        '481':
          description: ResourceAlreadyExistsFault
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsFault'
        '482':
          description: SNSInvalidTopicFault
          schema:
            $ref: '#/definitions/SNSInvalidTopicFault'
        '483':
          description: SNSNoAuthorizationFault
          schema:
            $ref: '#/definitions/SNSNoAuthorizationFault'
        '484':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateEventSubscriptionMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateReplicationInstance':
    post:
      operationId: CreateReplicationInstance
      description: Creates the replication instance using the specified parameters.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateReplicationInstanceResponse'
        '480':
          description: AccessDeniedFault
          schema:
            $ref: '#/definitions/AccessDeniedFault'
        '481':
          description: ResourceAlreadyExistsFault
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsFault'
        '482':
          description: InsufficientResourceCapacityFault
          schema:
            $ref: '#/definitions/InsufficientResourceCapacityFault'
        '483':
          description: ResourceQuotaExceededFault
          schema:
            $ref: '#/definitions/ResourceQuotaExceededFault'
        '484':
          description: StorageQuotaExceededFault
          schema:
            $ref: '#/definitions/StorageQuotaExceededFault'
        '485':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '486':
          description: ReplicationSubnetGroupDoesNotCoverEnoughAZs
          schema:
            $ref: '#/definitions/ReplicationSubnetGroupDoesNotCoverEnoughAZs'
        '487':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
        '488':
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
        '489':
          description: KMSKeyNotAccessibleFault
          schema:
            $ref: '#/definitions/KMSKeyNotAccessibleFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateReplicationInstanceMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateReplicationSubnetGroup':
    post:
      operationId: CreateReplicationSubnetGroup
      description: Creates a replication subnet group given a list of the subnet IDs in a VPC.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateReplicationSubnetGroupResponse'
        '480':
          description: AccessDeniedFault
          schema:
            $ref: '#/definitions/AccessDeniedFault'
        '481':
          description: ResourceAlreadyExistsFault
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsFault'
        '482':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '483':
          description: ResourceQuotaExceededFault
          schema:
            $ref: '#/definitions/ResourceQuotaExceededFault'
        '484':
          description: ReplicationSubnetGroupDoesNotCoverEnoughAZs
          schema:
            $ref: '#/definitions/ReplicationSubnetGroupDoesNotCoverEnoughAZs'
        '485':
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateReplicationSubnetGroupMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateReplicationTask':
    post:
      operationId: CreateReplicationTask
      description: Creates a replication task using the specified parameters.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateReplicationTaskResponse'
        '480':
          description: AccessDeniedFault
          schema:
            $ref: '#/definitions/AccessDeniedFault'
        '481':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
        '482':
          description: ResourceAlreadyExistsFault
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsFault'
        '483':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '484':
          description: KMSKeyNotAccessibleFault
          schema:
            $ref: '#/definitions/KMSKeyNotAccessibleFault'
        '485':
          description: ResourceQuotaExceededFault
          schema:
            $ref: '#/definitions/ResourceQuotaExceededFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateReplicationTaskMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteCertificate':
    post:
      operationId: DeleteCertificate
      description: 'Deletes the specified certificate. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteCertificateResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '481':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteCertificateMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteEndpoint':
    post:
      operationId: DeleteEndpoint
      description: <p>Deletes the specified endpoint.</p> <note> <p>All tasks associated with the endpoint must be deleted before you can delete the endpoint.</p> </note> <p/>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteEndpointResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '481':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteEndpointMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteEventSubscription':
    post:
      operationId: DeleteEventSubscription
      description: ' Deletes an AWS DMS event subscription. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteEventSubscriptionResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '481':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteEventSubscriptionMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteReplicationInstance':
    post:
      operationId: DeleteReplicationInstance
      description: <p>Deletes the specified replication instance.</p> <note> <p>You must delete any migration tasks that are associated with the replication instance before you can delete it.</p> </note> <p/>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteReplicationInstanceResponse'
        '480':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
        '481':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteReplicationInstanceMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteReplicationSubnetGroup':
    post:
      operationId: DeleteReplicationSubnetGroup
      description: Deletes a subnet group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteReplicationSubnetGroupResponse'
        '480':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
        '481':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteReplicationSubnetGroupMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteReplicationTask':
    post:
      operationId: DeleteReplicationTask
      description: Deletes the specified replication task.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteReplicationTaskResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '481':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteReplicationTaskMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeAccountAttributes':
    post:
      operationId: DescribeAccountAttributes
      description: '<p>Lists all of the AWS DMS attributes for a customer account. The attributes include AWS DMS quotas for the account, such as the number of replication instances allowed. The description for a quota includes the quota name, current usage toward that quota, and the quota''s maximum value.</p> <p>This command does not take any parameters.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAccountAttributesResponse'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeAccountAttributesMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeCertificates':
    post:
      operationId: DescribeCertificates
      description: Provides a description of the certificate.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeCertificatesResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeCertificatesMessage'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeConnections':
    post:
      operationId: DescribeConnections
      description: Describes the status of the connections that have been made between the replication instance and an endpoint. Connections are created when you test an endpoint.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeConnectionsResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeConnectionsMessage'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeEndpointTypes':
    post:
      operationId: DescribeEndpointTypes
      description: Returns information about the type of endpoints available.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeEndpointTypesResponse'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeEndpointTypesMessage'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeEndpoints':
    post:
      operationId: DescribeEndpoints
      description: Returns information about the endpoints for your account in the current region.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeEndpointsResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeEndpointsMessage'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeEventCategories':
    post:
      operationId: DescribeEventCategories
      description: 'Lists categories for all event source types, or, if specified, for a specified source type. You can see a list of the event categories and source types in <a href="http://docs.aws.amazon.com/dms/latest/userguide/CHAP_Events.html"> Working with Events and Notifications </a> in the AWS Database Migration Service User Guide. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeEventCategoriesResponse'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeEventCategoriesMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeEventSubscriptions':
    post:
      operationId: DescribeEventSubscriptions
      description: '<p>Lists all the event subscriptions for a customer account. The description of a subscription includes <code>SubscriptionName</code>, <code>SNSTopicARN</code>, <code>CustomerID</code>, <code>SourceType</code>, <code>SourceID</code>, <code>CreationTime</code>, and <code>Status</code>. </p> <p>If you specify <code>SubscriptionName</code>, this action lists the description for that subscription.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeEventSubscriptionsResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeEventSubscriptionsMessage'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeEvents':
    post:
      operationId: DescribeEvents
      description: ' Lists events for a given source identifier and source type. You can also specify a start and end time. For more information on AWS DMS events, see <a href="http://docs.aws.amazon.com/dms/latest/userguide/CHAP_Events.html"> Working with Events and Notifications </a>. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeEventsResponse'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeEventsMessage'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeOrderableReplicationInstances':
    post:
      operationId: DescribeOrderableReplicationInstances
      description: Returns information about the replication instance types that can be created in the specified region.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeOrderableReplicationInstancesResponse'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeOrderableReplicationInstancesMessage'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeRefreshSchemasStatus':
    post:
      operationId: DescribeRefreshSchemasStatus
      description: Returns the status of the RefreshSchemas operation.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeRefreshSchemasStatusResponse'
        '480':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
        '481':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeRefreshSchemasStatusMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeReplicationInstances':
    post:
      operationId: DescribeReplicationInstances
      description: Returns information about replication instances for your account in the current region.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeReplicationInstancesResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeReplicationInstancesMessage'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeReplicationSubnetGroups':
    post:
      operationId: DescribeReplicationSubnetGroups
      description: Returns information about the replication subnet groups.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeReplicationSubnetGroupsResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeReplicationSubnetGroupsMessage'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeReplicationTaskAssessmentResults':
    post:
      operationId: DescribeReplicationTaskAssessmentResults
      description: Returns the task assessment results from Amazon S3. This action always returns the latest results.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeReplicationTaskAssessmentResultsResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeReplicationTaskAssessmentResultsMessage'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeReplicationTasks':
    post:
      operationId: DescribeReplicationTasks
      description: Returns information about replication tasks for your account in the current region.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeReplicationTasksResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeReplicationTasksMessage'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeSchemas':
    post:
      operationId: DescribeSchemas
      description: <p>Returns information about the schema for the specified endpoint.</p> <p/>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeSchemasResponse'
        '480':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
        '481':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeSchemasMessage'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeTableStatistics':
    post:
      operationId: DescribeTableStatistics
      description: '<p>Returns table statistics on the database migration task, including table name, rows inserted, rows updated, and rows deleted.</p> <p>Note that the "last updated" column the DMS console only indicates the time that AWS DMS last updated the table statistics record for a table. It does not indicate the time of the last update to the table.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeTableStatisticsResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '481':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeTableStatisticsMessage'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ImportCertificate':
    post:
      operationId: ImportCertificate
      description: Uploads the specified certificate.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ImportCertificateResponse'
        '480':
          description: ResourceAlreadyExistsFault
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsFault'
        '481':
          description: InvalidCertificateFault
          schema:
            $ref: '#/definitions/InvalidCertificateFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ImportCertificateMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListTagsForResource':
    post:
      operationId: ListTagsForResource
      description: Lists all tags for an AWS DMS resource.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForResourceResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListTagsForResourceMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ModifyEndpoint':
    post:
      operationId: ModifyEndpoint
      description: Modifies the specified endpoint.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ModifyEndpointResponse'
        '480':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
        '481':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '482':
          description: ResourceAlreadyExistsFault
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsFault'
        '483':
          description: KMSKeyNotAccessibleFault
          schema:
            $ref: '#/definitions/KMSKeyNotAccessibleFault'
        '484':
          description: AccessDeniedFault
          schema:
            $ref: '#/definitions/AccessDeniedFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModifyEndpointMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ModifyEventSubscription':
    post:
      operationId: ModifyEventSubscription
      description: 'Modifies an existing AWS DMS event notification subscription. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ModifyEventSubscriptionResponse'
        '480':
          description: ResourceQuotaExceededFault
          schema:
            $ref: '#/definitions/ResourceQuotaExceededFault'
        '481':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '482':
          description: SNSInvalidTopicFault
          schema:
            $ref: '#/definitions/SNSInvalidTopicFault'
        '483':
          description: SNSNoAuthorizationFault
          schema:
            $ref: '#/definitions/SNSNoAuthorizationFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModifyEventSubscriptionMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ModifyReplicationInstance':
    post:
      operationId: ModifyReplicationInstance
      description: <p>Modifies the replication instance to apply new settings. You can change one or more parameters by specifying these parameters and the new values in the request.</p> <p>Some settings are applied during the maintenance window.</p> <p/>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ModifyReplicationInstanceResponse'
        '480':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
        '481':
          description: ResourceAlreadyExistsFault
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsFault'
        '482':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '483':
          description: InsufficientResourceCapacityFault
          schema:
            $ref: '#/definitions/InsufficientResourceCapacityFault'
        '484':
          description: StorageQuotaExceededFault
          schema:
            $ref: '#/definitions/StorageQuotaExceededFault'
        '485':
          description: UpgradeDependencyFailureFault
          schema:
            $ref: '#/definitions/UpgradeDependencyFailureFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModifyReplicationInstanceMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ModifyReplicationSubnetGroup':
    post:
      operationId: ModifyReplicationSubnetGroup
      description: Modifies the settings for the specified replication subnet group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ModifyReplicationSubnetGroupResponse'
        '480':
          description: AccessDeniedFault
          schema:
            $ref: '#/definitions/AccessDeniedFault'
        '481':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '482':
          description: ResourceQuotaExceededFault
          schema:
            $ref: '#/definitions/ResourceQuotaExceededFault'
        '483':
          description: SubnetAlreadyInUse
          schema:
            $ref: '#/definitions/SubnetAlreadyInUse'
        '484':
          description: ReplicationSubnetGroupDoesNotCoverEnoughAZs
          schema:
            $ref: '#/definitions/ReplicationSubnetGroupDoesNotCoverEnoughAZs'
        '485':
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModifyReplicationSubnetGroupMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ModifyReplicationTask':
    post:
      operationId: ModifyReplicationTask
      description: '<p>Modifies the specified replication task.</p> <p>You can''t modify the task endpoints. The task must be stopped before you can modify it. </p> <p>For more information about AWS DMS tasks, see the AWS DMS user guide at <a href="http://docs.aws.amazon.com/dms/latest/userguide/CHAP_Tasks.html"> Working with Migration Tasks </a> </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ModifyReplicationTaskResponse'
        '480':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
        '481':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '482':
          description: ResourceAlreadyExistsFault
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsFault'
        '483':
          description: KMSKeyNotAccessibleFault
          schema:
            $ref: '#/definitions/KMSKeyNotAccessibleFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModifyReplicationTaskMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#RefreshSchemas':
    post:
      operationId: RefreshSchemas
      description: Populates the schema for the specified endpoint. This is an asynchronous operation and can take several minutes. You can check the status of this operation by calling the DescribeRefreshSchemasStatus operation.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RefreshSchemasResponse'
        '480':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
        '481':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '482':
          description: KMSKeyNotAccessibleFault
          schema:
            $ref: '#/definitions/KMSKeyNotAccessibleFault'
        '483':
          description: ResourceQuotaExceededFault
          schema:
            $ref: '#/definitions/ResourceQuotaExceededFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RefreshSchemasMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ReloadTables':
    post:
      operationId: ReloadTables
      description: 'Reloads the target database table with the source data. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ReloadTablesResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '481':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ReloadTablesMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#RemoveTagsFromResource':
    post:
      operationId: RemoveTagsFromResource
      description: Removes metadata tags from a DMS resource.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RemoveTagsFromResourceResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RemoveTagsFromResourceMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#StartReplicationTask':
    post:
      operationId: StartReplicationTask
      description: '<p>Starts the replication task.</p> <p>For more information about AWS DMS tasks, see the AWS DMS user guide at <a href="http://docs.aws.amazon.com/dms/latest/userguide/CHAP_Tasks.html"> Working with Migration Tasks </a> </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartReplicationTaskResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '481':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StartReplicationTaskMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#StartReplicationTaskAssessment':
    post:
      operationId: StartReplicationTaskAssessment
      description: ' Starts the replication task assessment for unsupported data types in the source database. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartReplicationTaskAssessmentResponse'
        '480':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
        '481':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StartReplicationTaskAssessmentMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#StopReplicationTask':
    post:
      operationId: StopReplicationTask
      description: <p>Stops the replication task.</p> <p/>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopReplicationTaskResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '481':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StopReplicationTaskMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#TestConnection':
    post:
      operationId: TestConnection
      description: Tests the connection between the replication instance and the endpoint.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TestConnectionResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '481':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
        '482':
          description: KMSKeyNotAccessibleFault
          schema:
            $ref: '#/definitions/KMSKeyNotAccessibleFault'
        '483':
          description: ResourceQuotaExceededFault
          schema:
            $ref: '#/definitions/ResourceQuotaExceededFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/TestConnectionMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  AccessDeniedFault:
    type: object
    properties:
      message:
        $ref: '#/definitions/ExceptionMessage'
        description: <p/>
    description: AWS DMS was denied access to the endpoint.
  AccountQuota:
    type: object
    properties:
      AccountQuotaName:
        $ref: '#/definitions/String'
        description: The name of the AWS DMS quota for this AWS account.
      Used:
        $ref: '#/definitions/Long'
        description: The amount currently used toward the quota maximum.
      Max:
        $ref: '#/definitions/Long'
        description: The maximum allowed value for the quota.
    description: 'Describes a quota for an AWS account, for example, the number of replication instances allowed.'
  AccountQuotaList:
    type: array
    items:
      $ref: '#/definitions/AccountQuota'
  AddTagsToResourceMessage:
    type: object
    required:
      - ResourceArn
      - Tags
    example:
      ResourceArn: 'arn:aws:dms:us-east-1:123456789012:endpoint:ASXWXJZLNWNT5HTWCGV2BUJQ7E'
      Tags:
        - Key: Acount
          Value: '1633456'
    properties:
      ResourceArn:
        $ref: '#/definitions/String'
        description: 'The Amazon Resource Name (ARN) of the AWS DMS resource the tag is to be added to. AWS DMS resources include a replication instance, endpoint, and a replication task.'
      Tags:
        $ref: '#/definitions/TagList'
        description: The tag to be assigned to the DMS resource.
    description: <p/>
  AddTagsToResourceResponse:
    type: object
    example: {}
    properties: {}
    description: <p/>
  AuthMechanismValue:
    type: string
    enum:
      - default
      - mongodb_cr
      - scram_sha_1
  AuthTypeValue:
    type: string
    enum:
      - 'no'
      - password
  AvailabilityZone:
    type: object
    properties:
      Name:
        $ref: '#/definitions/String'
        description: The name of the availability zone.
    description: <p/>
  Boolean:
    type: boolean
  BooleanOptional:
    type: boolean
  Certificate:
    type: object
    properties:
      CertificateIdentifier:
        $ref: '#/definitions/String'
        description: The customer-assigned name of the certificate. Valid characters are A-z and 0-9.
      CertificateCreationDate:
        $ref: '#/definitions/TStamp'
        description: The date that the certificate was created.
      CertificatePem:
        $ref: '#/definitions/String'
        description: The contents of the .pem X.509 certificate file for the certificate.
      CertificateWallet:
        $ref: '#/definitions/CertificateWallet'
        description: The location of the imported Oracle Wallet certificate for use with SSL.
      CertificateArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) for the certificate.
      CertificateOwner:
        $ref: '#/definitions/String'
        description: The owner of the certificate.
      ValidFromDate:
        $ref: '#/definitions/TStamp'
        description: The beginning date that the certificate is valid.
      ValidToDate:
        $ref: '#/definitions/TStamp'
        description: The final date that the certificate is valid.
      SigningAlgorithm:
        $ref: '#/definitions/String'
        description: The signing algorithm for the certificate.
      KeyLength:
        $ref: '#/definitions/IntegerOptional'
        description: The key length of the cryptographic algorithm being used.
    description: The SSL certificate that can be used to encrypt connections between the endpoints and the replication instance.
  CertificateList:
    type: array
    items:
      $ref: '#/definitions/Certificate'
  CertificateWallet:
    type: string
  CompressionTypeValue:
    type: string
    enum:
      - none
      - gzip
  Connection:
    type: object
    properties:
      ReplicationInstanceArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the replication instance.
      EndpointArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) string that uniquely identifies the endpoint.
      Status:
        $ref: '#/definitions/String'
        description: The connection status.
      LastFailureMessage:
        $ref: '#/definitions/String'
        description: The error message when the connection last failed.
      EndpointIdentifier:
        $ref: '#/definitions/String'
        description: 'The identifier of the endpoint. Identifiers must begin with a letter; must contain only ASCII letters, digits, and hyphens; and must not end with a hyphen or contain two consecutive hyphens.'
      ReplicationInstanceIdentifier:
        $ref: '#/definitions/String'
        description: The replication instance identifier. This parameter is stored as a lowercase string.
    description: <p/>
  ConnectionList:
    type: array
    items:
      $ref: '#/definitions/Connection'
  CreateEndpointMessage:
    type: object
    required:
      - EndpointIdentifier
      - EndpointType
      - EngineName
    example:
      CertificateArn: ''
      DatabaseName: testdb
      EndpointIdentifier: test-endpoint-1
      EndpointType: source
      EngineName: mysql
      ExtraConnectionAttributes: ''
      KmsKeyId: 'arn:aws:kms:us-east-1:123456789012:key/4c1731d6-5435-ed4d-be13-d53411a7cfbd'
      Password: pasword
      Port: 3306
      ServerName: mydb.cx1llnox7iyx.us-west-2.rds.amazonaws.com
      SslMode: require
      Tags:
        - Key: Acount
          Value: '143327655'
      Username: username
    properties:
      EndpointIdentifier:
        $ref: '#/definitions/String'
        description: 'The database endpoint identifier. Identifiers must begin with a letter; must contain only ASCII letters, digits, and hyphens; and must not end with a hyphen or contain two consecutive hyphens.'
      EndpointType:
        $ref: '#/definitions/ReplicationEndpointTypeValue'
        description: The type of endpoint.
      EngineName:
        $ref: '#/definitions/String'
        description: 'The type of engine for the endpoint. Valid values, depending on the EndPointType, include MYSQL, ORACLE, POSTGRES, MARIADB, AURORA, REDSHIFT, S3, SYBASE, DYNAMODB, MONGODB, and SQLSERVER.'
      Username:
        $ref: '#/definitions/String'
        description: The user name to be used to login to the endpoint database.
      Password:
        $ref: '#/definitions/SecretString'
        description: The password to be used to login to the endpoint database.
      ServerName:
        $ref: '#/definitions/String'
        description: The name of the server where the endpoint database resides.
      Port:
        $ref: '#/definitions/IntegerOptional'
        description: The port used by the endpoint database.
      DatabaseName:
        $ref: '#/definitions/String'
        description: The name of the endpoint database.
      ExtraConnectionAttributes:
        $ref: '#/definitions/String'
        description: Additional attributes associated with the connection.
      KmsKeyId:
        $ref: '#/definitions/String'
        description: 'The KMS key identifier that will be used to encrypt the connection parameters. If you do not specify a value for the KmsKeyId parameter, then AWS DMS will use your default encryption key. AWS KMS creates the default encryption key for your AWS account. Your AWS account has a different default encryption key for each AWS region.'
      Tags:
        $ref: '#/definitions/TagList'
        description: Tags to be added to the endpoint.
      CertificateArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) for the certificate.
      SslMode:
        $ref: '#/definitions/DmsSslModeValue'
        description: '<p>The SSL mode to use for the SSL connection.</p> <p>SSL mode can be one of four values: none, require, verify-ca, verify-full. </p> <p>The default value is none.</p>'
      DynamoDbSettings:
        $ref: '#/definitions/DynamoDbSettings'
        description: 'Settings in JSON format for the target Amazon DynamoDB endpoint. For more information about the available settings, see the <b>Using Object Mapping to Migrate Data to DynamoDB</b> section at <a href="http://docs.aws.amazon.com/dms/latest/userguide/CHAP_Target.DynamoDB.html"> Using an Amazon DynamoDB Database as a Target for AWS Database Migration Service</a>. '
      S3Settings:
        $ref: '#/definitions/S3Settings'
        description: 'Settings in JSON format for the target S3 endpoint. For more information about the available settings, see the <b>Extra Connection Attributes</b> section at <a href="http://docs.aws.amazon.com/dms/latest/userguide/CHAP_Target.S3.html"> Using Amazon S3 as a Target for AWS Database Migration Service</a>. '
      MongoDbSettings:
        $ref: '#/definitions/MongoDbSettings'
        description: 'Settings in JSON format for the source MongoDB endpoint. For more information about the available settings, see the <b>Configuration Properties When Using MongoDB as a Source for AWS Database Migration Service</b> section at <a href="http://docs.aws.amazon.com/dms/latest/userguide/CHAP_Source.MongoDB.html"> Using Amazon S3 as a Target for AWS Database Migration Service</a>. '
    description: <p/>
  CreateEndpointResponse:
    type: object
    example:
      Endpoint:
        EndpointArn: 'arn:aws:dms:us-east-1:123456789012:endpoint:RAAR3R22XSH46S3PWLC3NJAWKM'
        EndpointIdentifier: test-endpoint-1
        EndpointType: source
        EngineName: mysql
        KmsKeyId: 'arn:aws:kms:us-east-1:123456789012:key/4c1731d6-5435-ed4d-be13-d53411a7cfbd'
        Port: 3306
        ServerName: mydb.cx1llnox7iyx.us-west-2.rds.amazonaws.com
        Status: active
        Username: username
    properties:
      Endpoint:
        $ref: '#/definitions/Endpoint'
        description: The endpoint that was created.
    description: <p/>
  CreateEventSubscriptionMessage:
    type: object
    required:
      - SubscriptionName
      - SnsTopicArn
    properties:
      SubscriptionName:
        $ref: '#/definitions/String'
        description: '<p>The name of the DMS event notification subscription. </p> <p>Constraints: The name must be less than 255 characters. </p>'
      SnsTopicArn:
        $ref: '#/definitions/String'
        description: ' The Amazon Resource Name (ARN) of the Amazon SNS topic created for event notification. The ARN is created by Amazon SNS when you create a topic and subscribe to it. '
      SourceType:
        $ref: '#/definitions/String'
        description: '<p> The type of AWS DMS resource that generates the events. For example, if you want to be notified of events generated by a replication instance, you set this parameter to <code>replication-instance</code>. If this value is not specified, all events are returned. </p> <p>Valid values: replication-instance | migration-task</p>'
      EventCategories:
        $ref: '#/definitions/EventCategoriesList'
        description: ' A list of event categories for a source type that you want to subscribe to. You can see a list of the categories for a given source type by calling the <b>DescribeEventCategories</b> action or in the topic <a href="http://docs.aws.amazon.com/dms/latest/userguide/CHAP_Events.html"> Working with Events and Notifications</a> in the AWS Database Migration Service User Guide. '
      SourceIds:
        $ref: '#/definitions/SourceIdsList'
        description: ' The list of identifiers of the event sources for which events will be returned. If not specified, then all sources are included in the response. An identifier must begin with a letter and must contain only ASCII letters, digits, and hyphens; it cannot end with a hyphen or contain two consecutive hyphens. '
      Enabled:
        $ref: '#/definitions/BooleanOptional'
        description: ' A Boolean value; set to <b>true</b> to activate the subscription, or set to <b>false</b> to create the subscription but not activate it. '
      Tags:
        $ref: '#/definitions/TagList'
        description: A tag to be attached to the event subscription.
    description: <p/>
  CreateEventSubscriptionResponse:
    type: object
    properties:
      EventSubscription:
        $ref: '#/definitions/EventSubscription'
        description: The event subscription that was created.
    description: <p/>
  CreateReplicationInstanceMessage:
    type: object
    required:
      - ReplicationInstanceIdentifier
      - ReplicationInstanceClass
    example:
      AllocatedStorage: 123
      AutoMinorVersionUpgrade: true
      AvailabilityZone: ''
      EngineVersion: ''
      KmsKeyId: ''
      MultiAZ: true
      PreferredMaintenanceWindow: ''
      PubliclyAccessible: true
      ReplicationInstanceClass: ''
      ReplicationInstanceIdentifier: ''
      ReplicationSubnetGroupIdentifier: ''
      Tags:
        - Key: string
          Value: string
      VpcSecurityGroupIds: []
    properties:
      ReplicationInstanceIdentifier:
        $ref: '#/definitions/String'
        description: '<p>The replication instance identifier. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 alphanumeric characters or hyphens.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>myrepinstance</code> </p>'
      AllocatedStorage:
        $ref: '#/definitions/IntegerOptional'
        description: The amount of storage (in gigabytes) to be initially allocated for the replication instance.
      ReplicationInstanceClass:
        $ref: '#/definitions/String'
        description: '<p>The compute and memory capacity of the replication instance as specified by the replication instance class.</p> <p> Valid Values: <code>dms.t2.micro | dms.t2.small | dms.t2.medium | dms.t2.large | dms.c4.large | dms.c4.xlarge | dms.c4.2xlarge | dms.c4.4xlarge </code> </p>'
      VpcSecurityGroupIds:
        $ref: '#/definitions/VpcSecurityGroupIdList'
        description: ' Specifies the VPC security group to be used with the replication instance. The VPC security group must work with the VPC containing the replication instance. '
      AvailabilityZone:
        $ref: '#/definitions/String'
        description: '<p>The EC2 Availability Zone that the replication instance will be created in.</p> <p>Default: A random, system-chosen Availability Zone in the endpoint''s region.</p> <p> Example: <code>us-east-1d</code> </p>'
      ReplicationSubnetGroupIdentifier:
        $ref: '#/definitions/String'
        description: A subnet group to associate with the replication instance.
      PreferredMaintenanceWindow:
        $ref: '#/definitions/String'
        description: '<p>The weekly time range during which system maintenance can occur, in Universal Coordinated Time (UTC).</p> <p> Format: <code>ddd:hh24:mi-ddd:hh24:mi</code> </p> <p>Default: A 30-minute window selected at random from an 8-hour block of time per region, occurring on a random day of the week.</p> <p>Valid Days: Mon, Tue, Wed, Thu, Fri, Sat, Sun</p> <p>Constraints: Minimum 30-minute window.</p>'
      MultiAZ:
        $ref: '#/definitions/BooleanOptional'
        description: ' Specifies if the replication instance is a Multi-AZ deployment. You cannot set the <code>AvailabilityZone</code> parameter if the Multi-AZ parameter is set to <code>true</code>. '
      EngineVersion:
        $ref: '#/definitions/String'
        description: The engine version number of the replication instance.
      AutoMinorVersionUpgrade:
        $ref: '#/definitions/BooleanOptional'
        description: '<p>Indicates that minor engine upgrades will be applied automatically to the replication instance during the maintenance window.</p> <p>Default: <code>true</code> </p>'
      Tags:
        $ref: '#/definitions/TagList'
        description: Tags to be associated with the replication instance.
      KmsKeyId:
        $ref: '#/definitions/String'
        description: 'The KMS key identifier that will be used to encrypt the content on the replication instance. If you do not specify a value for the KmsKeyId parameter, then AWS DMS will use your default encryption key. AWS KMS creates the default encryption key for your AWS account. Your AWS account has a different default encryption key for each AWS region.'
      PubliclyAccessible:
        $ref: '#/definitions/BooleanOptional'
        description: ' Specifies the accessibility options for the replication instance. A value of <code>true</code> represents an instance with a public IP address. A value of <code>false</code> represents an instance with a private IP address. The default value is <code>true</code>. '
    description: <p/>
  CreateReplicationInstanceResponse:
    type: object
    example:
      ReplicationInstance:
        AllocatedStorage: 5
        AutoMinorVersionUpgrade: true
        EngineVersion: 1.5.0
        KmsKeyId: 'arn:aws:kms:us-east-1:123456789012:key/4c1731d6-5435-ed4d-be13-d53411a7cfbd'
        PendingModifiedValues: {}
        PreferredMaintenanceWindow: 'sun:06:00-sun:14:00'
        PubliclyAccessible: true
        ReplicationInstanceArn: 'arn:aws:dms:us-east-1:123456789012:rep:6UTDJGBOUS3VI3SUWA66XFJCJQ'
        ReplicationInstanceClass: dms.t2.micro
        ReplicationInstanceIdentifier: test-rep-1
        ReplicationInstanceStatus: creating
        ReplicationSubnetGroup:
          ReplicationSubnetGroupDescription: default
          ReplicationSubnetGroupIdentifier: default
          SubnetGroupStatus: Complete
          Subnets:
            - SubnetAvailabilityZone:
                Name: us-east-1d
              SubnetIdentifier: subnet-f6dd91af
              SubnetStatus: Active
            - SubnetAvailabilityZone:
                Name: us-east-1b
              SubnetIdentifier: subnet-3605751d
              SubnetStatus: Active
            - SubnetAvailabilityZone:
                Name: us-east-1c
              SubnetIdentifier: subnet-c2daefb5
              SubnetStatus: Active
            - SubnetAvailabilityZone:
                Name: us-east-1e
              SubnetIdentifier: subnet-85e90cb8
              SubnetStatus: Active
          VpcId: vpc-6741a603
    properties:
      ReplicationInstance:
        $ref: '#/definitions/ReplicationInstance'
        description: The replication instance that was created.
    description: <p/>
  CreateReplicationSubnetGroupMessage:
    type: object
    required:
      - ReplicationSubnetGroupIdentifier
      - ReplicationSubnetGroupDescription
      - SubnetIds
    example:
      ReplicationSubnetGroupDescription: US West subnet group
      ReplicationSubnetGroupIdentifier: us-west-2ab-vpc-215ds366
      SubnetIds:
        - subnet-e145356n
        - subnet-58f79200
      Tags:
        - Key: Acount
          Value: '145235'
    properties:
      ReplicationSubnetGroupIdentifier:
        $ref: '#/definitions/String'
        description: '<p>The name for the replication subnet group. This value is stored as a lowercase string.</p> <p>Constraints: Must contain no more than 255 alphanumeric characters, periods, spaces, underscores, or hyphens. Must not be "default".</p> <p>Example: <code>mySubnetgroup</code> </p>'
      ReplicationSubnetGroupDescription:
        $ref: '#/definitions/String'
        description: The description for the subnet group.
      SubnetIds:
        $ref: '#/definitions/SubnetIdentifierList'
        description: The EC2 subnet IDs for the subnet group.
      Tags:
        $ref: '#/definitions/TagList'
        description: The tag to be assigned to the subnet group.
    description: <p/>
  CreateReplicationSubnetGroupResponse:
    type: object
    example:
      ReplicationSubnetGroup: {}
    properties:
      ReplicationSubnetGroup:
        $ref: '#/definitions/ReplicationSubnetGroup'
        description: The replication subnet group that was created.
    description: <p/>
  CreateReplicationTaskMessage:
    type: object
    required:
      - ReplicationTaskIdentifier
      - SourceEndpointArn
      - TargetEndpointArn
      - ReplicationInstanceArn
      - MigrationType
      - TableMappings
    example:
      CdcStartTime: '2016-12-14T18:25:43Z'
      MigrationType: full-load
      ReplicationInstanceArn: 'arn:aws:dms:us-east-1:123456789012:rep:6UTDJGBOUS3VI3SUWA66XFJCJQ'
      ReplicationTaskIdentifier: task1
      ReplicationTaskSettings: ''
      SourceEndpointArn: 'arn:aws:dms:us-east-1:123456789012:endpoint:ZW5UAN6P4E77EC7YWHK4RZZ3BE'
      TableMappings: 'file://mappingfile.json'
      Tags:
        - Key: Acount
          Value: '24352226'
      TargetEndpointArn: 'arn:aws:dms:us-east-1:123456789012:endpoint:ASXWXJZLNWNT5HTWCGV2BUJQ7E'
    properties:
      ReplicationTaskIdentifier:
        $ref: '#/definitions/String'
        description: '<p>The replication task identifier.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 255 alphanumeric characters or hyphens.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul>'
      SourceEndpointArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) string that uniquely identifies the endpoint.
      TargetEndpointArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) string that uniquely identifies the endpoint.
      ReplicationInstanceArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the replication instance.
      MigrationType:
        $ref: '#/definitions/MigrationTypeValue'
        description: The migration type.
      TableMappings:
        $ref: '#/definitions/String'
        description: '<p>When using the AWS CLI or boto3, provide the path of the JSON file that contains the table mappings. Precede the path with "file://". When working with the DMS API, provide the JSON as the parameter value.</p> <p>For example, --table-mappings file://mappingfile.json</p>'
      ReplicationTaskSettings:
        $ref: '#/definitions/String'
        description: 'Settings for the task, such as target metadata settings. For a complete list of task settings, see <a href="http://docs.aws.amazon.com/dms/latest/userguide/CHAP_Tasks.CustomizingTasks.TaskSettings.html">Task Settings for AWS Database Migration Service Tasks</a>.'
      CdcStartTime:
        $ref: '#/definitions/TStamp'
        description: The start time for the Change Data Capture (CDC) operation.
      Tags:
        $ref: '#/definitions/TagList'
        description: Tags to be added to the replication instance.
    description: <p/>
  CreateReplicationTaskResponse:
    type: object
    example:
      ReplicationTask:
        MigrationType: full-load
        ReplicationInstanceArn: 'arn:aws:dms:us-east-1:123456789012:rep:6UTDJGBOUS3VI3SUWA66XFJCJQ'
        ReplicationTaskArn: 'arn:aws:dms:us-east-1:123456789012:task:OEAMB3NXSTZ6LFYZFEPPBBXPYM'
        ReplicationTaskCreationDate: '2016-12-14T18:25:43Z'
        ReplicationTaskIdentifier: task1
        ReplicationTaskSettings: '{"TargetMetadata":{"TargetSchema":"","SupportLobs":true,"FullLobMode":true,"LobChunkSize":64,"LimitedSizeLobMode":false,"LobMaxSize":0},"FullLoadSettings":{"FullLoadEnabled":true,"ApplyChangesEnabled":false,"TargetTablePrepMode":"DROP_AND_CREATE","CreatePkAfterFullLoad":false,"StopTaskCachedChangesApplied":false,"StopTaskCachedChangesNotApplied":false,"ResumeEnabled":false,"ResumeMinTableSize":100000,"ResumeOnlyClusteredPKTables":true,"MaxFullLoadSubTasks":8,"TransactionConsistencyTimeout":600,"CommitRate":10000},"Logging":{"EnableLogging":false}}'
        SourceEndpointArn: 'arn:aws:dms:us-east-1:123456789012:endpoint:ZW5UAN6P4E77EC7YWHK4RZZ3BE'
        Status: creating
        TableMappings: 'file://mappingfile.json'
        TargetEndpointArn: 'arn:aws:dms:us-east-1:123456789012:endpoint:ASXWXJZLNWNT5HTWCGV2BUJQ7E'
    properties:
      ReplicationTask:
        $ref: '#/definitions/ReplicationTask'
        description: The replication task that was created.
    description: <p/>
  DeleteCertificateMessage:
    type: object
    required:
      - CertificateArn
    example:
      CertificateArn: 'arn:aws:dms:us-east-1:123456789012:rep:6UTDJGBOUSM457DE6XFJCJQ'
    properties:
      CertificateArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the deleted certificate.
  DeleteCertificateResponse:
    type: object
    example:
      Certificate: {}
    properties:
      Certificate:
        $ref: '#/definitions/Certificate'
        description: The Secure Sockets Layer (SSL) certificate.
  DeleteEndpointMessage:
    type: object
    required:
      - EndpointArn
    example:
      EndpointArn: 'arn:aws:dms:us-east-1:123456789012:endpoint:RAAR3R22XSH46S3PWLC3NJAWKM'
    properties:
      EndpointArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) string that uniquely identifies the endpoint.
    description: <p/>
  DeleteEndpointResponse:
    type: object
    example:
      Endpoint:
        EndpointArn: 'arn:aws:dms:us-east-1:123456789012:endpoint:RAAR3R22XSH46S3PWLC3NJAWKM'
        EndpointIdentifier: test-endpoint-1
        EndpointType: source
        EngineName: mysql
        KmsKeyId: 'arn:aws:kms:us-east-1:123456789012:key/4c1731d6-5435-ed4d-be13-d53411a7cfbd'
        Port: 3306
        ServerName: mydb.cx1llnox7iyx.us-west-2.rds.amazonaws.com
        Status: active
        Username: username
    properties:
      Endpoint:
        $ref: '#/definitions/Endpoint'
        description: The endpoint that was deleted.
    description: <p/>
  DeleteEventSubscriptionMessage:
    type: object
    required:
      - SubscriptionName
    properties:
      SubscriptionName:
        $ref: '#/definitions/String'
        description: The name of the DMS event notification subscription to be deleted.
    description: <p/>
  DeleteEventSubscriptionResponse:
    type: object
    properties:
      EventSubscription:
        $ref: '#/definitions/EventSubscription'
        description: The event subscription that was deleted.
    description: <p/>
  DeleteReplicationInstanceMessage:
    type: object
    required:
      - ReplicationInstanceArn
    example:
      ReplicationInstanceArn: 'arn:aws:dms:us-east-1:123456789012:rep:6UTDJGBOUS3VI3SUWA66XFJCJQ'
    properties:
      ReplicationInstanceArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the replication instance to be deleted.
    description: <p/>
  DeleteReplicationInstanceResponse:
    type: object
    example:
      ReplicationInstance:
        AllocatedStorage: 5
        AutoMinorVersionUpgrade: true
        EngineVersion: 1.5.0
        KmsKeyId: 'arn:aws:kms:us-east-1:123456789012:key/4c1731d6-5435-ed4d-be13-d53411a7cfbd'
        PendingModifiedValues: {}
        PreferredMaintenanceWindow: 'sun:06:00-sun:14:00'
        PubliclyAccessible: true
        ReplicationInstanceArn: 'arn:aws:dms:us-east-1:123456789012:rep:6UTDJGBOUS3VI3SUWA66XFJCJQ'
        ReplicationInstanceClass: dms.t2.micro
        ReplicationInstanceIdentifier: test-rep-1
        ReplicationInstanceStatus: creating
        ReplicationSubnetGroup:
          ReplicationSubnetGroupDescription: default
          ReplicationSubnetGroupIdentifier: default
          SubnetGroupStatus: Complete
          Subnets:
            - SubnetAvailabilityZone:
                Name: us-east-1d
              SubnetIdentifier: subnet-f6dd91af
              SubnetStatus: Active
            - SubnetAvailabilityZone:
                Name: us-east-1b
              SubnetIdentifier: subnet-3605751d
              SubnetStatus: Active
            - SubnetAvailabilityZone:
                Name: us-east-1c
              SubnetIdentifier: subnet-c2daefb5
              SubnetStatus: Active
            - SubnetAvailabilityZone:
                Name: us-east-1e
              SubnetIdentifier: subnet-85e90cb8
              SubnetStatus: Active
          VpcId: vpc-6741a603
    properties:
      ReplicationInstance:
        $ref: '#/definitions/ReplicationInstance'
        description: The replication instance that was deleted.
    description: <p/>
  DeleteReplicationSubnetGroupMessage:
    type: object
    required:
      - ReplicationSubnetGroupIdentifier
    example:
      ReplicationSubnetGroupIdentifier: us-west-2ab-vpc-215ds366
    properties:
      ReplicationSubnetGroupIdentifier:
        $ref: '#/definitions/String'
        description: The subnet group name of the replication instance.
    description: <p/>
  DeleteReplicationSubnetGroupResponse:
    type: object
    example: {}
    properties: {}
    description: <p/>
  DeleteReplicationTaskMessage:
    type: object
    required:
      - ReplicationTaskArn
    example:
      ReplicationTaskArn: 'arn:aws:dms:us-east-1:123456789012:rep:6UTDJGBOUS3VI3SUWA66XFJCJQ'
    properties:
      ReplicationTaskArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the replication task to be deleted.
    description: <p/>
  DeleteReplicationTaskResponse:
    type: object
    example:
      ReplicationTask:
        MigrationType: full-load
        ReplicationInstanceArn: 'arn:aws:dms:us-east-1:123456789012:rep:6UTDJGBOUS3VI3SUWA66XFJCJQ'
        ReplicationTaskArn: 'arn:aws:dms:us-east-1:123456789012:task:OEAMB3NXSTZ6LFYZFEPPBBXPYM'
        ReplicationTaskCreationDate: '2016-12-14T18:25:43Z'
        ReplicationTaskIdentifier: task1
        ReplicationTaskSettings: '{"TargetMetadata":{"TargetSchema":"","SupportLobs":true,"FullLobMode":true,"LobChunkSize":64,"LimitedSizeLobMode":false,"LobMaxSize":0},"FullLoadSettings":{"FullLoadEnabled":true,"ApplyChangesEnabled":false,"TargetTablePrepMode":"DROP_AND_CREATE","CreatePkAfterFullLoad":false,"StopTaskCachedChangesApplied":false,"StopTaskCachedChangesNotApplied":false,"ResumeEnabled":false,"ResumeMinTableSize":100000,"ResumeOnlyClusteredPKTables":true,"MaxFullLoadSubTasks":8,"TransactionConsistencyTimeout":600,"CommitRate":10000},"Logging":{"EnableLogging":false}}'
        SourceEndpointArn: 'arn:aws:dms:us-east-1:123456789012:endpoint:ZW5UAN6P4E77EC7YWHK4RZZ3BE'
        Status: creating
        TableMappings: 'file://mappingfile.json'
        TargetEndpointArn: 'arn:aws:dms:us-east-1:123456789012:endpoint:ASXWXJZLNWNT5HTWCGV2BUJQ7E'
    properties:
      ReplicationTask:
        $ref: '#/definitions/ReplicationTask'
        description: The deleted replication task.
    description: <p/>
  DescribeAccountAttributesMessage:
    type: object
    example: {}
    properties: {}
    description: <p/>
  DescribeAccountAttributesResponse:
    type: object
    example:
      AccountQuotas:
        - AccountQuotaName: ReplicationInstances
          Max: 20
          Used: 0
        - AccountQuotaName: AllocatedStorage
          Max: 20
          Used: 0
        - AccountQuotaName: Endpoints
          Max: 20
          Used: 0
    properties:
      AccountQuotas:
        $ref: '#/definitions/AccountQuotaList'
        description: Account quota information.
    description: <p/>
  DescribeCertificatesMessage:
    type: object
    example:
      Filters:
        - Name: string
          Values:
            - string
            - string
      Marker: ''
      MaxRecords: 123
    properties:
      Filters:
        $ref: '#/definitions/FilterList'
        description: Filters applied to the certificate described in the form of key-value pairs.
      MaxRecords:
        $ref: '#/definitions/IntegerOptional'
        description: '<p> The maximum number of records to include in the response. If more records exist than the specified <code>MaxRecords</code> value, a pagination token called a marker is included in the response so that the remaining results can be retrieved. </p> <p>Default: 10</p>'
      Marker:
        $ref: '#/definitions/String'
        description: ' An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. '
  DescribeCertificatesResponse:
    type: object
    example:
      Certificates: []
      Marker: ''
    properties:
      Marker:
        $ref: '#/definitions/String'
        description: The pagination token.
      Certificates:
        $ref: '#/definitions/CertificateList'
        description: The Secure Sockets Layer (SSL) certificates associated with the replication instance.
  DescribeConnectionsMessage:
    type: object
    example:
      Filters:
        - Name: string
          Values:
            - string
            - string
      Marker: ''
      MaxRecords: 123
    properties:
      Filters:
        $ref: '#/definitions/FilterList'
        description: '<p>The filters applied to the connection.</p> <p>Valid filter names: endpoint-arn | replication-instance-arn</p>'
      MaxRecords:
        $ref: '#/definitions/IntegerOptional'
        description: '<p> The maximum number of records to include in the response. If more records exist than the specified <code>MaxRecords</code> value, a pagination token called a marker is included in the response so that the remaining results can be retrieved. </p> <p>Default: 100</p> <p>Constraints: Minimum 20, maximum 100.</p>'
      Marker:
        $ref: '#/definitions/String'
        description: ' An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. '
    description: <p/>
  DescribeConnectionsResponse:
    type: object
    example:
      Connections:
        - EndpointArn: 'arn:aws:dms:us-east-arn:aws:dms:us-east-1:123456789012:endpoint:ZW5UAN6P4E77EC7YWHK4RZZ3BE'
          EndpointIdentifier: testsrc1
          ReplicationInstanceArn: 'arn:aws:dms:us-east-1:123456789012:rep:6UTDJGBOUS3VI3SUWA66XFJCJQ'
          ReplicationInstanceIdentifier: test
          Status: successful
      Marker: ''
    properties:
      Marker:
        $ref: '#/definitions/String'
        description: ' An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. '
      Connections:
        $ref: '#/definitions/ConnectionList'
        description: A description of the connections.
    description: <p/>
  DescribeEndpointTypesMessage:
    type: object
    example:
      Filters:
        - Name: string
          Values:
            - string
            - string
      Marker: ''
      MaxRecords: 123
    properties:
      Filters:
        $ref: '#/definitions/FilterList'
        description: '<p>Filters applied to the describe action.</p> <p>Valid filter names: engine-name | endpoint-type</p>'
      MaxRecords:
        $ref: '#/definitions/IntegerOptional'
        description: '<p> The maximum number of records to include in the response. If more records exist than the specified <code>MaxRecords</code> value, a pagination token called a marker is included in the response so that the remaining results can be retrieved. </p> <p>Default: 100</p> <p>Constraints: Minimum 20, maximum 100.</p>'
      Marker:
        $ref: '#/definitions/String'
        description: ' An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. '
    description: <p/>
  DescribeEndpointTypesResponse:
    type: object
    example:
      Marker: ''
      SupportedEndpointTypes: []
    properties:
      Marker:
        $ref: '#/definitions/String'
        description: ' An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. '
      SupportedEndpointTypes:
        $ref: '#/definitions/SupportedEndpointTypeList'
        description: The type of endpoints that are supported.
    description: <p/>
  DescribeEndpointsMessage:
    type: object
    example:
      Filters:
        - Name: string
          Values:
            - string
            - string
      Marker: ''
      MaxRecords: 123
    properties:
      Filters:
        $ref: '#/definitions/FilterList'
        description: '<p>Filters applied to the describe action.</p> <p>Valid filter names: endpoint-arn | endpoint-type | endpoint-id | engine-name</p>'
      MaxRecords:
        $ref: '#/definitions/IntegerOptional'
        description: '<p> The maximum number of records to include in the response. If more records exist than the specified <code>MaxRecords</code> value, a pagination token called a marker is included in the response so that the remaining results can be retrieved. </p> <p>Default: 100</p> <p>Constraints: Minimum 20, maximum 100.</p>'
      Marker:
        $ref: '#/definitions/String'
        description: ' An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. '
    description: <p/>
  DescribeEndpointsResponse:
    type: object
    example:
      Endpoints: []
      Marker: ''
    properties:
      Marker:
        $ref: '#/definitions/String'
        description: ' An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. '
      Endpoints:
        $ref: '#/definitions/EndpointList'
[...]
