swagger: '2.0'
schemes:
  - https
  - http
host: dms.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: '<fullname>AWS Database Migration Service</fullname> <p>AWS Database Migration Service (AWS DMS) can migrate your data to and from the most widely used commercial and open-source databases such as Oracle, PostgreSQL, Microsoft SQL Server, Amazon Redshift, MariaDB, Amazon Aurora, MySQL, and SAP Adaptive Server Enterprise (ASE). The service supports homogeneous migrations such as Oracle to Oracle, as well as heterogeneous migrations between different database platforms, such as Oracle to MySQL or SQL Server to PostgreSQL.</p> <p>For more information about AWS DMS, see <a href="https://docs.aws.amazon.com/dms/latest/userguide/Welcome.html">What Is AWS Database Migration Service?</a> in the <i>AWS Database Migration User Guide.</i> </p>'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: AWS Database Migration Service
  version: '2016-01-01'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/dms-2016-01-01.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: dms
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/dms/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/#X-Amz-Target=AmazonDMSv20160101.AddTagsToResource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Adds metadata tags to an AWS DMS resource, including replication instance, endpoint, security group, and migration task. These tags can also be used with cost allocation reporting to track cost associated with DMS resources, or used in a Condition statement in an IAM policy for DMS.'
      operationId: AddTagsToResource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AddTagsToResourceMessage'
        - enum:
            - AmazonDMSv20160101.AddTagsToResource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddTagsToResourceResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
  '/#X-Amz-Target=AmazonDMSv20160101.ApplyPendingMaintenanceAction':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Applies a pending maintenance action to a resource (for example, to a replication instance).'
      operationId: ApplyPendingMaintenanceAction
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ApplyPendingMaintenanceActionMessage'
        - enum:
            - AmazonDMSv20160101.ApplyPendingMaintenanceAction
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ApplyPendingMaintenanceActionResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
  '/#X-Amz-Target=AmazonDMSv20160101.CreateEndpoint':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates an endpoint using the provided settings.
      operationId: CreateEndpoint
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateEndpointMessage'
        - enum:
            - AmazonDMSv20160101.CreateEndpoint
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateEndpointResponse'
        '480':
          description: KMSKeyNotAccessibleFault
          schema:
            $ref: '#/definitions/KMSKeyNotAccessibleFault'
        '481':
          description: ResourceAlreadyExistsFault
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsFault'
        '482':
          description: ResourceQuotaExceededFault
          schema:
            $ref: '#/definitions/ResourceQuotaExceededFault'
        '483':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
        '484':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '485':
          description: AccessDeniedFault
          schema:
            $ref: '#/definitions/AccessDeniedFault'
  '/#X-Amz-Target=AmazonDMSv20160101.CreateEventSubscription':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p> Creates an AWS DMS event notification subscription. </p> <p>You can specify the type of source (<code>SourceType</code>) you want to be notified of, provide a list of AWS DMS source IDs (<code>SourceIds</code>) that triggers the events, and provide a list of event categories (<code>EventCategories</code>) for events you want to be notified of. If you specify both the <code>SourceType</code> and <code>SourceIds</code>, such as <code>SourceType = replication-instance</code> and <code>SourceIdentifier = my-replinstance</code>, you will be notified of all the replication instance events for the specified source. If you specify a <code>SourceType</code> but don''t specify a <code>SourceIdentifier</code>, you receive notice of the events for that source type for all your AWS DMS sources. If you don''t specify either <code>SourceType</code> nor <code>SourceIdentifier</code>, you will be notified of events generated from all AWS DMS sources belonging to your customer account.</p> <p>For more information about AWS DMS events, see <a href="https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Events.html">Working with Events and Notifications</a> in the <i>AWS Database Migration Service User Guide.</i> </p>'
      operationId: CreateEventSubscription
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateEventSubscriptionMessage'
        - enum:
            - AmazonDMSv20160101.CreateEventSubscription
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateEventSubscriptionResponse'
        '480':
          description: ResourceQuotaExceededFault
          schema:
            $ref: '#/definitions/ResourceQuotaExceededFault'
        '481':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '482':
          description: ResourceAlreadyExistsFault
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsFault'
        '483':
          description: SNSInvalidTopicFault
          schema:
            $ref: '#/definitions/SNSInvalidTopicFault'
        '484':
          description: SNSNoAuthorizationFault
          schema:
            $ref: '#/definitions/SNSNoAuthorizationFault'
        '485':
          description: KMSAccessDeniedFault
          schema:
            $ref: '#/definitions/KMSAccessDeniedFault'
        '486':
          description: KMSDisabledFault
          schema:
            $ref: '#/definitions/KMSDisabledFault'
        '487':
          description: KMSInvalidStateFault
          schema:
            $ref: '#/definitions/KMSInvalidStateFault'
        '488':
          description: KMSNotFoundFault
          schema:
            $ref: '#/definitions/KMSNotFoundFault'
        '489':
          description: KMSThrottlingFault
          schema:
            $ref: '#/definitions/KMSThrottlingFault'
  '/#X-Amz-Target=AmazonDMSv20160101.CreateReplicationInstance':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates the replication instance using the specified parameters.
      operationId: CreateReplicationInstance
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateReplicationInstanceMessage'
        - enum:
            - AmazonDMSv20160101.CreateReplicationInstance
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateReplicationInstanceResponse'
        '480':
          description: AccessDeniedFault
          schema:
            $ref: '#/definitions/AccessDeniedFault'
        '481':
          description: ResourceAlreadyExistsFault
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsFault'
        '482':
          description: InsufficientResourceCapacityFault
          schema:
            $ref: '#/definitions/InsufficientResourceCapacityFault'
        '483':
          description: ResourceQuotaExceededFault
          schema:
            $ref: '#/definitions/ResourceQuotaExceededFault'
        '484':
          description: StorageQuotaExceededFault
          schema:
            $ref: '#/definitions/StorageQuotaExceededFault'
        '485':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '486':
          description: ReplicationSubnetGroupDoesNotCoverEnoughAZs
          schema:
            $ref: '#/definitions/ReplicationSubnetGroupDoesNotCoverEnoughAZs'
        '487':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
        '488':
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
        '489':
          description: KMSKeyNotAccessibleFault
          schema:
            $ref: '#/definitions/KMSKeyNotAccessibleFault'
  '/#X-Amz-Target=AmazonDMSv20160101.CreateReplicationSubnetGroup':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a replication subnet group given a list of the subnet IDs in a VPC.
      operationId: CreateReplicationSubnetGroup
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateReplicationSubnetGroupMessage'
        - enum:
            - AmazonDMSv20160101.CreateReplicationSubnetGroup
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateReplicationSubnetGroupResponse'
        '480':
          description: AccessDeniedFault
          schema:
            $ref: '#/definitions/AccessDeniedFault'
        '481':
          description: ResourceAlreadyExistsFault
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsFault'
        '482':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '483':
          description: ResourceQuotaExceededFault
          schema:
            $ref: '#/definitions/ResourceQuotaExceededFault'
        '484':
          description: ReplicationSubnetGroupDoesNotCoverEnoughAZs
          schema:
            $ref: '#/definitions/ReplicationSubnetGroupDoesNotCoverEnoughAZs'
        '485':
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
  '/#X-Amz-Target=AmazonDMSv20160101.CreateReplicationTask':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a replication task using the specified parameters.
      operationId: CreateReplicationTask
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateReplicationTaskMessage'
        - enum:
            - AmazonDMSv20160101.CreateReplicationTask
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateReplicationTaskResponse'
        '480':
          description: AccessDeniedFault
          schema:
            $ref: '#/definitions/AccessDeniedFault'
        '481':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
        '482':
          description: ResourceAlreadyExistsFault
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsFault'
        '483':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '484':
          description: KMSKeyNotAccessibleFault
          schema:
            $ref: '#/definitions/KMSKeyNotAccessibleFault'
        '485':
          description: ResourceQuotaExceededFault
          schema:
            $ref: '#/definitions/ResourceQuotaExceededFault'
  '/#X-Amz-Target=AmazonDMSv20160101.DeleteCertificate':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Deletes the specified certificate. '
      operationId: DeleteCertificate
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteCertificateMessage'
        - enum:
            - AmazonDMSv20160101.DeleteCertificate
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteCertificateResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '481':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
  '/#X-Amz-Target=AmazonDMSv20160101.DeleteEndpoint':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Deletes the specified endpoint.</p> <note> <p>All tasks associated with the endpoint must be deleted before you can delete the endpoint.</p> </note> <p/>
      operationId: DeleteEndpoint
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteEndpointMessage'
        - enum:
            - AmazonDMSv20160101.DeleteEndpoint
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteEndpointResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '481':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
  '/#X-Amz-Target=AmazonDMSv20160101.DeleteEventSubscription':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ' Deletes an AWS DMS event subscription. '
      operationId: DeleteEventSubscription
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteEventSubscriptionMessage'
        - enum:
            - AmazonDMSv20160101.DeleteEventSubscription
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteEventSubscriptionResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '481':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
  '/#X-Amz-Target=AmazonDMSv20160101.DeleteReplicationInstance':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Deletes the specified replication instance.</p> <note> <p>You must delete any migration tasks that are associated with the replication instance before you can delete it.</p> </note> <p/>
      operationId: DeleteReplicationInstance
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteReplicationInstanceMessage'
        - enum:
            - AmazonDMSv20160101.DeleteReplicationInstance
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteReplicationInstanceResponse'
        '480':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
        '481':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
  '/#X-Amz-Target=AmazonDMSv20160101.DeleteReplicationSubnetGroup':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes a subnet group.
      operationId: DeleteReplicationSubnetGroup
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteReplicationSubnetGroupMessage'
        - enum:
            - AmazonDMSv20160101.DeleteReplicationSubnetGroup
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteReplicationSubnetGroupResponse'
        '480':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
        '481':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
  '/#X-Amz-Target=AmazonDMSv20160101.DeleteReplicationTask':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes the specified replication task.
      operationId: DeleteReplicationTask
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteReplicationTaskMessage'
        - enum:
            - AmazonDMSv20160101.DeleteReplicationTask
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteReplicationTaskResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '481':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
  '/#X-Amz-Target=AmazonDMSv20160101.DescribeAccountAttributes':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Lists all of the AWS DMS attributes for a customer account. These attributes include AWS DMS quotas for the account and a unique account identifier in a particular DMS region. DMS quotas include a list of resource quotas supported by the account, such as the number of replication instances allowed. The description for each resource quota, includes the quota name, current usage toward that quota, and the quota''s maximum value. DMS uses the unique account identifier to name each artifact used by DMS in the given region.</p> <p>This command does not take any parameters.</p>'
      operationId: DescribeAccountAttributes
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeAccountAttributesMessage'
        - enum:
            - AmazonDMSv20160101.DescribeAccountAttributes
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAccountAttributesResponse'
  '/#X-Amz-Target=AmazonDMSv20160101.DescribeCertificates':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Provides a description of the certificate.
      operationId: DescribeCertificates
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeCertificatesMessage'
        - description: Pagination limit
          in: query
          name: MaxRecords
          required: false
          type: string
        - description: Pagination token
          in: query
          name: Marker
          required: false
          type: string
        - enum:
            - AmazonDMSv20160101.DescribeCertificates
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeCertificatesResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
  '/#X-Amz-Target=AmazonDMSv20160101.DescribeConnections':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes the status of the connections that have been made between the replication instance and an endpoint. Connections are created when you test an endpoint.
      operationId: DescribeConnections
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeConnectionsMessage'
        - description: Pagination limit
          in: query
          name: MaxRecords
          required: false
          type: string
        - description: Pagination token
          in: query
          name: Marker
          required: false
          type: string
        - enum:
            - AmazonDMSv20160101.DescribeConnections
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeConnectionsResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
  '/#X-Amz-Target=AmazonDMSv20160101.DescribeEndpointTypes':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns information about the type of endpoints available.
      operationId: DescribeEndpointTypes
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeEndpointTypesMessage'
        - description: Pagination limit
          in: query
          name: MaxRecords
          required: false
          type: string
        - description: Pagination token
          in: query
          name: Marker
          required: false
          type: string
        - enum:
            - AmazonDMSv20160101.DescribeEndpointTypes
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeEndpointTypesResponse'
  '/#X-Amz-Target=AmazonDMSv20160101.DescribeEndpoints':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns information about the endpoints for your account in the current region.
      operationId: DescribeEndpoints
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeEndpointsMessage'
        - description: Pagination limit
          in: query
          name: MaxRecords
          required: false
          type: string
        - description: Pagination token
          in: query
          name: Marker
          required: false
          type: string
        - enum:
            - AmazonDMSv20160101.DescribeEndpoints
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeEndpointsResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
  '/#X-Amz-Target=AmazonDMSv20160101.DescribeEventCategories':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Lists categories for all event source types, or, if specified, for a specified source type. You can see a list of the event categories and source types in <a href="https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Events.html">Working with Events and Notifications</a> in the <i>AWS Database Migration Service User Guide.</i> '
      operationId: DescribeEventCategories
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeEventCategoriesMessage'
        - enum:
            - AmazonDMSv20160101.DescribeEventCategories
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeEventCategoriesResponse'
  '/#X-Amz-Target=AmazonDMSv20160101.DescribeEventSubscriptions':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Lists all the event subscriptions for a customer account. The description of a subscription includes <code>SubscriptionName</code>, <code>SNSTopicARN</code>, <code>CustomerID</code>, <code>SourceType</code>, <code>SourceID</code>, <code>CreationTime</code>, and <code>Status</code>. </p> <p>If you specify <code>SubscriptionName</code>, this action lists the description for that subscription.</p>'
      operationId: DescribeEventSubscriptions
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeEventSubscriptionsMessage'
        - description: Pagination limit
          in: query
          name: MaxRecords
          required: false
          type: string
        - description: Pagination token
          in: query
          name: Marker
          required: false
          type: string
        - enum:
            - AmazonDMSv20160101.DescribeEventSubscriptions
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeEventSubscriptionsResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
  '/#X-Amz-Target=AmazonDMSv20160101.DescribeEvents':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ' Lists events for a given source identifier and source type. You can also specify a start and end time. For more information on AWS DMS events, see <a href="https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Events.html">Working with Events and Notifications</a> in the <i>AWS Database Migration User Guide.</i> '
      operationId: DescribeEvents
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeEventsMessage'
        - description: Pagination limit
          in: query
          name: MaxRecords
          required: false
          type: string
        - description: Pagination token
          in: query
          name: Marker
          required: false
          type: string
        - enum:
            - AmazonDMSv20160101.DescribeEvents
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeEventsResponse'
  '/#X-Amz-Target=AmazonDMSv20160101.DescribeOrderableReplicationInstances':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns information about the replication instance types that can be created in the specified region.
      operationId: DescribeOrderableReplicationInstances
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeOrderableReplicationInstancesMessage'
        - description: Pagination limit
          in: query
          name: MaxRecords
          required: false
          type: string
        - description: Pagination token
          in: query
          name: Marker
          required: false
          type: string
        - enum:
            - AmazonDMSv20160101.DescribeOrderableReplicationInstances
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeOrderableReplicationInstancesResponse'
  '/#X-Amz-Target=AmazonDMSv20160101.DescribePendingMaintenanceActions':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: For internal use only
      operationId: DescribePendingMaintenanceActions
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribePendingMaintenanceActionsMessage'
        - description: Pagination limit
          in: query
          name: MaxRecords
          required: false
          type: string
        - description: Pagination token
          in: query
          name: Marker
          required: false
          type: string
        - enum:
            - AmazonDMSv20160101.DescribePendingMaintenanceActions
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribePendingMaintenanceActionsResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
  '/#X-Amz-Target=AmazonDMSv20160101.DescribeRefreshSchemasStatus':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns the status of the RefreshSchemas operation.
      operationId: DescribeRefreshSchemasStatus
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeRefreshSchemasStatusMessage'
        - enum:
            - AmazonDMSv20160101.DescribeRefreshSchemasStatus
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeRefreshSchemasStatusResponse'
        '480':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
        '481':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
  '/#X-Amz-Target=AmazonDMSv20160101.DescribeReplicationInstanceTaskLogs':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns information about the task logs for the specified task.
      operationId: DescribeReplicationInstanceTaskLogs
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeReplicationInstanceTaskLogsMessage'
        - description: Pagination limit
          in: query
          name: MaxRecords
          required: false
          type: string
        - description: Pagination token
          in: query
          name: Marker
          required: false
          type: string
        - enum:
            - AmazonDMSv20160101.DescribeReplicationInstanceTaskLogs
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeReplicationInstanceTaskLogsResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '481':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
  '/#X-Amz-Target=AmazonDMSv20160101.DescribeReplicationInstances':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns information about replication instances for your account in the current region.
      operationId: DescribeReplicationInstances
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeReplicationInstancesMessage'
        - description: Pagination limit
          in: query
          name: MaxRecords
          required: false
          type: string
        - description: Pagination token
          in: query
          name: Marker
          required: false
          type: string
        - enum:
            - AmazonDMSv20160101.DescribeReplicationInstances
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeReplicationInstancesResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
  '/#X-Amz-Target=AmazonDMSv20160101.DescribeReplicationSubnetGroups':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns information about the replication subnet groups.
      operationId: DescribeReplicationSubnetGroups
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeReplicationSubnetGroupsMessage'
        - description: Pagination limit
          in: query
          name: MaxRecords
          required: false
          type: string
        - description: Pagination token
          in: query
          name: Marker
          required: false
          type: string
        - enum:
            - AmazonDMSv20160101.DescribeReplicationSubnetGroups
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeReplicationSubnetGroupsResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
  '/#X-Amz-Target=AmazonDMSv20160101.DescribeReplicationTaskAssessmentResults':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns the task assessment results from Amazon S3. This action always returns the latest results.
      operationId: DescribeReplicationTaskAssessmentResults
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeReplicationTaskAssessmentResultsMessage'
        - description: Pagination limit
          in: query
          name: MaxRecords
          required: false
          type: string
        - description: Pagination token
          in: query
          name: Marker
          required: false
          type: string
        - enum:
            - AmazonDMSv20160101.DescribeReplicationTaskAssessmentResults
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeReplicationTaskAssessmentResultsResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
  '/#X-Amz-Target=AmazonDMSv20160101.DescribeReplicationTasks':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns information about replication tasks for your account in the current region.
      operationId: DescribeReplicationTasks
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeReplicationTasksMessage'
        - description: Pagination limit
          in: query
          name: MaxRecords
          required: false
          type: string
        - description: Pagination token
          in: query
          name: Marker
          required: false
          type: string
        - enum:
            - AmazonDMSv20160101.DescribeReplicationTasks
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeReplicationTasksResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
  '/#X-Amz-Target=AmazonDMSv20160101.DescribeSchemas':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Returns information about the schema for the specified endpoint.</p> <p/>
      operationId: DescribeSchemas
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeSchemasMessage'
        - description: Pagination limit
          in: query
          name: MaxRecords
          required: false
          type: string
        - description: Pagination token
          in: query
          name: Marker
          required: false
          type: string
        - enum:
            - AmazonDMSv20160101.DescribeSchemas
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeSchemasResponse'
        '480':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
        '481':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
  '/#X-Amz-Target=AmazonDMSv20160101.DescribeTableStatistics':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Returns table statistics on the database migration task, including table name, rows inserted, rows updated, and rows deleted.</p> <p>Note that the "last updated" column the DMS console only indicates the time that AWS DMS last updated the table statistics record for a table. It does not indicate the time of the last update to the table.</p>'
      operationId: DescribeTableStatistics
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeTableStatisticsMessage'
        - description: Pagination limit
          in: query
          name: MaxRecords
          required: false
          type: string
        - description: Pagination token
          in: query
          name: Marker
          required: false
          type: string
        - enum:
            - AmazonDMSv20160101.DescribeTableStatistics
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeTableStatisticsResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '481':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
  '/#X-Amz-Target=AmazonDMSv20160101.ImportCertificate':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Uploads the specified certificate.
      operationId: ImportCertificate
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ImportCertificateMessage'
        - enum:
            - AmazonDMSv20160101.ImportCertificate
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ImportCertificateResponse'
        '480':
          description: ResourceAlreadyExistsFault
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsFault'
        '481':
          description: InvalidCertificateFault
          schema:
            $ref: '#/definitions/InvalidCertificateFault'
        '482':
          description: ResourceQuotaExceededFault
          schema:
            $ref: '#/definitions/ResourceQuotaExceededFault'
  '/#X-Amz-Target=AmazonDMSv20160101.ListTagsForResource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists all tags for an AWS DMS resource.
      operationId: ListTagsForResource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListTagsForResourceMessage'
        - enum:
            - AmazonDMSv20160101.ListTagsForResource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForResourceResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
  '/#X-Amz-Target=AmazonDMSv20160101.ModifyEndpoint':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Modifies the specified endpoint.
      operationId: ModifyEndpoint
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ModifyEndpointMessage'
        - enum:
            - AmazonDMSv20160101.ModifyEndpoint
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ModifyEndpointResponse'
        '480':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
        '481':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '482':
          description: ResourceAlreadyExistsFault
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsFault'
        '483':
          description: KMSKeyNotAccessibleFault
          schema:
            $ref: '#/definitions/KMSKeyNotAccessibleFault'
        '484':
          description: AccessDeniedFault
          schema:
            $ref: '#/definitions/AccessDeniedFault'
  '/#X-Amz-Target=AmazonDMSv20160101.ModifyEventSubscription':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Modifies an existing AWS DMS event notification subscription. '
      operationId: ModifyEventSubscription
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ModifyEventSubscriptionMessage'
        - enum:
            - AmazonDMSv20160101.ModifyEventSubscription
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ModifyEventSubscriptionResponse'
        '480':
          description: ResourceQuotaExceededFault
          schema:
            $ref: '#/definitions/ResourceQuotaExceededFault'
        '481':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '482':
          description: SNSInvalidTopicFault
          schema:
            $ref: '#/definitions/SNSInvalidTopicFault'
        '483':
          description: SNSNoAuthorizationFault
          schema:
            $ref: '#/definitions/SNSNoAuthorizationFault'
        '484':
          description: KMSAccessDeniedFault
          schema:
            $ref: '#/definitions/KMSAccessDeniedFault'
        '485':
          description: KMSDisabledFault
          schema:
            $ref: '#/definitions/KMSDisabledFault'
        '486':
          description: KMSInvalidStateFault
          schema:
            $ref: '#/definitions/KMSInvalidStateFault'
        '487':
          description: KMSNotFoundFault
          schema:
            $ref: '#/definitions/KMSNotFoundFault'
        '488':
          description: KMSThrottlingFault
          schema:
            $ref: '#/definitions/KMSThrottlingFault'
  '/#X-Amz-Target=AmazonDMSv20160101.ModifyReplicationInstance':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Modifies the replication instance to apply new settings. You can change one or more parameters by specifying these parameters and the new values in the request.</p> <p>Some settings are applied during the maintenance window.</p> <p/>
      operationId: ModifyReplicationInstance
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ModifyReplicationInstanceMessage'
        - enum:
            - AmazonDMSv20160101.ModifyReplicationInstance
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ModifyReplicationInstanceResponse'
        '480':
          description: AccessDeniedFault
          schema:
            $ref: '#/definitions/AccessDeniedFault'
        '481':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
        '482':
          description: ResourceAlreadyExistsFault
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsFault'
        '483':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '484':
          description: InsufficientResourceCapacityFault
          schema:
            $ref: '#/definitions/InsufficientResourceCapacityFault'
        '485':
          description: StorageQuotaExceededFault
          schema:
            $ref: '#/definitions/StorageQuotaExceededFault'
        '486':
          description: UpgradeDependencyFailureFault
          schema:
            $ref: '#/definitions/UpgradeDependencyFailureFault'
  '/#X-Amz-Target=AmazonDMSv20160101.ModifyReplicationSubnetGroup':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Modifies the settings for the specified replication subnet group.
      operationId: ModifyReplicationSubnetGroup
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ModifyReplicationSubnetGroupMessage'
        - enum:
            - AmazonDMSv20160101.ModifyReplicationSubnetGroup
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ModifyReplicationSubnetGroupResponse'
        '480':
          description: AccessDeniedFault
          schema:
            $ref: '#/definitions/AccessDeniedFault'
        '481':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '482':
          description: ResourceQuotaExceededFault
          schema:
            $ref: '#/definitions/ResourceQuotaExceededFault'
        '483':
          description: SubnetAlreadyInUse
          schema:
            $ref: '#/definitions/SubnetAlreadyInUse'
        '484':
          description: ReplicationSubnetGroupDoesNotCoverEnoughAZs
          schema:
            $ref: '#/definitions/ReplicationSubnetGroupDoesNotCoverEnoughAZs'
        '485':
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
  '/#X-Amz-Target=AmazonDMSv20160101.ModifyReplicationTask':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Modifies the specified replication task.</p> <p>You can''t modify the task endpoints. The task must be stopped before you can modify it. </p> <p>For more information about AWS DMS tasks, see <a href="https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Tasks.html">Working with Migration Tasks</a> in the <i>AWS Database Migration Service User Guide</i>.</p>'
      operationId: ModifyReplicationTask
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ModifyReplicationTaskMessage'
        - enum:
            - AmazonDMSv20160101.ModifyReplicationTask
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ModifyReplicationTaskResponse'
        '480':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
        '481':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '482':
          description: ResourceAlreadyExistsFault
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsFault'
        '483':
          description: KMSKeyNotAccessibleFault
          schema:
            $ref: '#/definitions/KMSKeyNotAccessibleFault'
  '/#X-Amz-Target=AmazonDMSv20160101.RebootReplicationInstance':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Reboots a replication instance. Rebooting results in a momentary outage, until the replication instance becomes available again.'
      operationId: RebootReplicationInstance
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/RebootReplicationInstanceMessage'
        - enum:
            - AmazonDMSv20160101.RebootReplicationInstance
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RebootReplicationInstanceResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '481':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
  '/#X-Amz-Target=AmazonDMSv20160101.RefreshSchemas':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Populates the schema for the specified endpoint. This is an asynchronous operation and can take several minutes. You can check the status of this operation by calling the DescribeRefreshSchemasStatus operation.
      operationId: RefreshSchemas
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/RefreshSchemasMessage'
        - enum:
            - AmazonDMSv20160101.RefreshSchemas
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RefreshSchemasResponse'
        '480':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
        '481':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '482':
          description: KMSKeyNotAccessibleFault
          schema:
            $ref: '#/definitions/KMSKeyNotAccessibleFault'
        '483':
          description: ResourceQuotaExceededFault
          schema:
            $ref: '#/definitions/ResourceQuotaExceededFault'
  '/#X-Amz-Target=AmazonDMSv20160101.ReloadTables':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Reloads the target database table with the source data. '
      operationId: ReloadTables
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ReloadTablesMessage'
        - enum:
            - AmazonDMSv20160101.ReloadTables
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ReloadTablesResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '481':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
  '/#X-Amz-Target=AmazonDMSv20160101.RemoveTagsFromResource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Removes metadata tags from a DMS resource.
      operationId: RemoveTagsFromResource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/RemoveTagsFromResourceMessage'
        - enum:
            - AmazonDMSv20160101.RemoveTagsFromResource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RemoveTagsFromResourceResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
  '/#X-Amz-Target=AmazonDMSv20160101.StartReplicationTask':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Starts the replication task.</p> <p>For more information about AWS DMS tasks, see <a href="https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Tasks.html">Working with Migration Tasks </a> in the <i>AWS Database Migration Service User Guide.</i> </p>'
      operationId: StartReplicationTask
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/StartReplicationTaskMessage'
        - enum:
            - AmazonDMSv20160101.StartReplicationTask
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartReplicationTaskResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '481':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
        '482':
          description: AccessDeniedFault
          schema:
            $ref: '#/definitions/AccessDeniedFault'
  '/#X-Amz-Target=AmazonDMSv20160101.StartReplicationTaskAssessment':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: ' Starts the replication task assessment for unsupported data types in the source database. '
      operationId: StartReplicationTaskAssessment
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/StartReplicationTaskAssessmentMessage'
        - enum:
            - AmazonDMSv20160101.StartReplicationTaskAssessment
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartReplicationTaskAssessmentResponse'
        '480':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
        '481':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
  '/#X-Amz-Target=AmazonDMSv20160101.StopReplicationTask':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Stops the replication task.</p> <p/>
      operationId: StopReplicationTask
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/StopReplicationTaskMessage'
        - enum:
            - AmazonDMSv20160101.StopReplicationTask
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopReplicationTaskResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '481':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
  '/#X-Amz-Target=AmazonDMSv20160101.TestConnection':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Tests the connection between the replication instance and the endpoint.
      operationId: TestConnection
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/TestConnectionMessage'
        - enum:
            - AmazonDMSv20160101.TestConnection
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TestConnectionResponse'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '481':
          description: InvalidResourceStateFault
          schema:
            $ref: '#/definitions/InvalidResourceStateFault'
        '482':
          description: KMSKeyNotAccessibleFault
          schema:
            $ref: '#/definitions/KMSKeyNotAccessibleFault'
        '483':
          description: ResourceQuotaExceededFault
          schema:
            $ref: '#/definitions/ResourceQuotaExceededFault'
definitions:
  AccessDeniedFault: {}
  AccountQuota:
    description: 'Describes a quota for an AWS account, for example, the number of replication instances allowed.'
    properties:
      AccountQuotaName:
        $ref: '#/definitions/String'
        description: The name of the AWS DMS quota for this AWS account.
      Max:
        $ref: '#/definitions/Long'
        description: The maximum allowed value for the quota.
      Used:
        $ref: '#/definitions/Long'
        description: The amount currently used toward the quota maximum.
    type: object
  AccountQuotaList:
    items:
      $ref: '#/definitions/AccountQuota'
    type: array
  AddTagsToResourceMessage:
    description: Associates a set of tags with an AWS DMS resource.
    properties:
      ResourceArn:
        $ref: '#/definitions/String'
        description: '<p>Identifies the AWS DMS resource to which tags should be added. The value for this parameter is an Amazon Resource Name (ARN).</p> <p>For AWS DMS, you can tag a replication instance, an endpoint, or a replication task.</p>'
      Tags:
        $ref: '#/definitions/TagList'
        description: One or more tags to be assigned to the resource.
    required:
      - ResourceArn
      - Tags
    type: object
  AddTagsToResourceResponse:
    description: <p/>
    example: {}
    properties: {}
    type: object
  ApplyPendingMaintenanceActionMessage:
    description: <p/>
    properties:
      ApplyAction:
        $ref: '#/definitions/String'
        description: The pending maintenance action to apply to this resource.
      OptInType:
        $ref: '#/definitions/String'
        description: '<p>A value that specifies the type of opt-in request, or undoes an opt-in request. You can''t undo an opt-in request of type <code>immediate</code>.</p> <p>Valid values:</p> <ul> <li> <p> <code>immediate</code> - Apply the maintenance action immediately.</p> </li> <li> <p> <code>next-maintenance</code> - Apply the maintenance action during the next maintenance window for the resource.</p> </li> <li> <p> <code>undo-opt-in</code> - Cancel any existing <code>next-maintenance</code> opt-in requests.</p> </li> </ul>'
      ReplicationInstanceArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the AWS DMS resource that the pending maintenance action applies to.
    required:
      - ReplicationInstanceArn
      - ApplyAction
      - OptInType
    type: object
  ApplyPendingMaintenanceActionResponse:
    description: <p/>
    properties:
      ResourcePendingMaintenanceActions:
        $ref: '#/definitions/ResourcePendingMaintenanceActions'
        description: The AWS DMS resource that the pending maintenance action will be applied to.
    type: object
  AuthMechanismValue:
    enum:
      - default
      - mongodb_cr
      - scram_sha_1
    type: string
  AuthTypeValue:
    enum:
      - 'no'
      - password
    type: string
  AvailabilityZone:
    description: <p/>
    properties:
      Name:
        $ref: '#/definitions/String'
        description: The name of the availability zone.
    type: object
  AvailabilityZonesList:
    items:
      $ref: '#/definitions/String'
    type: array
  Boolean:
    type: boolean
  BooleanOptional:
    type: boolean
  Certificate:
    description: The SSL certificate that can be used to encrypt connections between the endpoints and the replication instance.
    properties:
      CertificateArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) for the certificate.
      CertificateCreationDate:
        $ref: '#/definitions/TStamp'
        description: The date that the certificate was created.
      CertificateIdentifier:
        $ref: '#/definitions/String'
        description: 'A customer-assigned name for the certificate. Identifiers must begin with a letter; must contain only ASCII letters, digits, and hyphens; and must not end with a hyphen or contain two consecutive hyphens.'
      CertificateOwner:
        $ref: '#/definitions/String'
        description: The owner of the certificate.
      CertificatePem:
        $ref: '#/definitions/String'
        description: 'The contents of a <code>.pem</code> file, which contains an X.509 certificate.'
      CertificateWallet:
        $ref: '#/definitions/CertificateWallet'
        description: The location of an imported Oracle Wallet certificate for use with SSL.
      KeyLength:
        $ref: '#/definitions/IntegerOptional'
        description: The key length of the cryptographic algorithm being used.
      SigningAlgorithm:
        $ref: '#/definitions/String'
        description: The signing algorithm for the certificate.
      ValidFromDate:
        $ref: '#/definitions/TStamp'
        description: The beginning date that the certificate is valid.
      ValidToDate:
        $ref: '#/definitions/TStamp'
        description: The final date that the certificate is valid.
    type: object
  CertificateList:
    items:
      $ref: '#/definitions/Certificate'
    type: array
  CertificateWallet:
    type: string
  CompressionTypeValue:
    enum:
      - none
      - gzip
    type: string
  Connection:
    description: <p/>
    properties:
      EndpointArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) string that uniquely identifies the endpoint.
      EndpointIdentifier:
        $ref: '#/definitions/String'
        description: 'The identifier of the endpoint. Identifiers must begin with a letter; must contain only ASCII letters, digits, and hyphens; and must not end with a hyphen or contain two consecutive hyphens.'
      LastFailureMessage:
        $ref: '#/definitions/String'
        description: The error message when the connection last failed.
      ReplicationInstanceArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the replication instance.
      ReplicationInstanceIdentifier:
        $ref: '#/definitions/String'
        description: The replication instance identifier. This parameter is stored as a lowercase string.
      Status:
        $ref: '#/definitions/String'
        description: The connection status.
    type: object
  ConnectionList:
    items:
      $ref: '#/definitions/Connection'
    type: array
  CreateEndpointMessage:
    description: <p/>
    properties:
      CertificateArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) for the certificate.
      DatabaseName:
        $ref: '#/definitions/String'
        description: The name of the endpoint database.
      DmsTransferSettings:
        $ref: '#/definitions/DmsTransferSettings'
        description: '<p>The settings in JSON format for the DMS transfer type of source endpoint. </p> <p>Possible attributes include the following:</p> <ul> <li> <p> <code>serviceAccessRoleArn</code> - The IAM role that has permission to access the Amazon S3 bucket.</p> </li> <li> <p> <code>bucketName</code> - The name of the S3 bucket to use.</p> </li> <li> <p> <code>compressionType</code> - An optional parameter to use GZIP to compress the target files. To use GZIP, set this value to <code>NONE</code> (the default). To keep the files uncompressed, don''t use this value.</p> </li> </ul> <p>Shorthand syntax for these attributes is as follows: <code>ServiceAccessRoleArn=string,BucketName=string,CompressionType=string</code> </p> <p>JSON syntax for these attributes is as follows: <code>{ "ServiceAccessRoleArn": "string", "BucketName": "string", "CompressionType": "none"|"gzip" } </code> </p>'
      DynamoDbSettings:
        $ref: '#/definitions/DynamoDbSettings'
        description: 'Settings in JSON format for the target Amazon DynamoDB endpoint. For more information about the available settings, see <a href="https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Target.DynamoDB.html">Using Object Mapping to Migrate Data to DynamoDB</a> in the <i>AWS Database Migration Service User Guide.</i> '
      ElasticsearchSettings:
        $ref: '#/definitions/ElasticsearchSettings'
        description: 'Settings in JSON format for the target Elasticsearch endpoint. For more information about the available settings, see <a href="https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Target.Elasticsearch.html#CHAP_Target.Elasticsearch.Configuration">Extra Connection Attributes When Using Elasticsearch as a Target for AWS DMS</a> in the <i>AWS Database Migration User Guide.</i> '
      EndpointIdentifier:
        $ref: '#/definitions/String'
        description: 'The database endpoint identifier. Identifiers must begin with a letter; must contain only ASCII letters, digits, and hyphens; and must not end with a hyphen or contain two consecutive hyphens.'
      EndpointType:
        $ref: '#/definitions/ReplicationEndpointTypeValue'
        description: The type of endpoint. Valid values are <code>source</code> and <code>target</code>.
      EngineName:
        $ref: '#/definitions/String'
        description: 'The type of engine for the endpoint. Valid values, depending on the <code>EndpointType</code> value, include <code>mysql</code>, <code>oracle</code>, <code>postgres</code>, <code>mariadb</code>, <code>aurora</code>, <code>aurora-postgresql</code>, <code>redshift</code>, <code>s3</code>, <code>db2</code>, <code>azuredb</code>, <code>sybase</code>, <code>dynamodb</code>, <code>mongodb</code>, and <code>sqlserver</code>.'
      ExternalTableDefinition:
        $ref: '#/definitions/String'
        description: 'The external table definition. '
      ExtraConnectionAttributes:
        $ref: '#/definitions/String'
        description: 'Additional attributes associated with the connection. Each attribute is specified as a name-value pair associated by an equal sign (=). Multiple attributes are separated by a semicolon (;) with no additional white space. For information on the attributes available for connecting your source or target endpoint, see <a href="https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Endpoints.html">Working with AWS DMS Endpoints</a> in the <i>AWS Database Migration Service User Guide.</i> '
      KinesisSettings:
        $ref: '#/definitions/KinesisSettings'
        description: 'Settings in JSON format for the target Amazon Kinesis Data Streams endpoint. For more information about the available settings, see <a href="https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Target.Kinesis.html#CHAP_Target.Kinesis.ObjectMapping">Using Object Mapping to Migrate Data to a Kinesis Data Stream</a> in the <i>AWS Database Migration User Guide.</i> '
      KmsKeyId:
        $ref: '#/definitions/String'
        description: '<p>An AWS KMS key identifier that is used to encrypt the connection parameters for the endpoint.</p> <p>If you don''t specify a value for the <code>KmsKeyId</code> parameter, then AWS DMS uses your default encryption key.</p> <p>AWS KMS creates the default encryption key for your AWS account. Your AWS account has a different default encryption key for each AWS Region.</p>'
      MongoDbSettings:
        $ref: '#/definitions/MongoDbSettings'
        description: 'Settings in JSON format for the source MongoDB endpoint. For more information about the available settings, see the configuration properties section in <a href="https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Source.MongoDB.html"> Using MongoDB as a Target for AWS Database Migration Service</a> in the <i>AWS Database Migration Service User Guide.</i> '
      Password:
        $ref: '#/definitions/SecretString'
        description: The password to be used to log in to the endpoint database.
      Port:
        $ref: '#/definitions/IntegerOptional'
        description: The port used by the endpoint database.
      RedshiftSettings:
        $ref: '#/definitions/RedshiftSettings'
      S3Settings:
        $ref: '#/definitions/S3Settings'
        description: 'Settings in JSON format for the target Amazon S3 endpoint. For more information about the available settings, see <a href="https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Target.S3.html#CHAP_Target.S3.Configuring">Extra Connection Attributes When Using Amazon S3 as a Target for AWS DMS</a> in the <i>AWS Database Migration Service User Guide.</i> '
      ServerName:
        $ref: '#/definitions/String'
        description: The name of the server where the endpoint database resides.
      ServiceAccessRoleArn:
        $ref: '#/definitions/String'
        description: ' The Amazon Resource Name (ARN) for the service access role that you want to use to create the endpoint. '
      SslMode:
        $ref: '#/definitions/DmsSslModeValue'
        description: 'The Secure Sockets Layer (SSL) mode to use for the SSL connection. The default is <code>none</code> '
      Tags:
        $ref: '#/definitions/TagList'
        description: One or more tags to be assigned to the endpoint.
      Username:
        $ref: '#/definitions/String'
        description: The user name to be used to log in to the endpoint database.
    required:
      - EndpointIdentifier
      - EndpointType
      - EngineName
    type: object
  CreateEndpointResponse:
    description: <p/>
    example:
      Endpoint:
        EndpointArn: 'arn:aws:dms:us-east-1:123456789012:endpoint:RAAR3R22XSH46S3PWLC3NJAWKM'
        EndpointIdentifier: test-endpoint-1
        EndpointType: source
        EngineName: mysql
        KmsKeyId: 'arn:aws:kms:us-east-1:123456789012:key/4c1731d6-5435-ed4d-be13-d53411a7cfbd'
        Port: 3306
        ServerName: mydb.cx1llnox7iyx.us-west-2.rds.amazonaws.com
        Status: active
        Username: username
    properties:
      Endpoint:
        $ref: '#/definitions/Endpoint'
        description: The endpoint that was created.
    type: object
  CreateEventSubscriptionMessage:
    description: <p/>
    properties:
      Enabled:
        $ref: '#/definitions/BooleanOptional'
        description: ' A Boolean value; set to <code>true</code> to activate the subscription, or set to <code>false</code> to create the subscription but not activate it. '
      EventCategories:
        $ref: '#/definitions/EventCategoriesList'
        description: 'A list of event categories for a source type that you want to subscribe to. For more information, see <a href="https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Events.html">Working with Events and Notifications</a> in the <i>AWS Database Migration Service User Guide.</i> '
      SnsTopicArn:
        $ref: '#/definitions/String'
        description: ' The Amazon Resource Name (ARN) of the Amazon SNS topic created for event notification. The ARN is created by Amazon SNS when you create a topic and subscribe to it. '
      SourceIds:
        $ref: '#/definitions/SourceIdsList'
        description: '<p>A list of identifiers for which AWS DMS provides notification events.</p> <p>If you don''t specify a value, notifications are provided for all sources.</p> <p>If you specify multiple values, they must be of the same type. For example, if you specify a database instance ID, then all of the other values must be database instance IDs.</p>'
      SourceType:
        $ref: '#/definitions/String'
        description: '<p> The type of AWS DMS resource that generates the events. For example, if you want to be notified of events generated by a replication instance, you set this parameter to <code>replication-instance</code>. If this value is not specified, all events are returned. </p> <p>Valid values: <code>replication-instance</code> | <code>replication-task</code> </p>'
      SubscriptionName:
        $ref: '#/definitions/String'
        description: The name of the AWS DMS event notification subscription. This name must be less than 255 characters.
      Tags:
        $ref: '#/definitions/TagList'
        description: One or more tags to be assigned to the event subscription.
    required:
      - SubscriptionName
      - SnsTopicArn
    type: object
  CreateEventSubscriptionResponse:
    description: <p/>
    properties:
      EventSubscription:
        $ref: '#/definitions/EventSubscription'
        description: The event subscription that was created.
    type: object
  CreateReplicationInstanceMessage:
    description: <p/>
    properties:
      AllocatedStorage:
        $ref: '#/definitions/IntegerOptional'
        description: The amount of storage (in gigabytes) to be initially allocated for the replication instance.
      AutoMinorVersionUpgrade:
        $ref: '#/definitions/BooleanOptional'
        description: '<p>Indicates whether minor engine upgrades will be applied automatically to the replication instance during the maintenance window. This parameter defaults to <code>true</code>.</p> <p>Default: <code>true</code> </p>'
      AvailabilityZone:
        $ref: '#/definitions/String'
        description: 'The AWS Availability Zone where the replication instance will be created. The default value is a random, system-chosen Availability Zone in the endpoint''s AWS Region, for example: <code>us-east-1d</code> '
      DnsNameServers:
        $ref: '#/definitions/String'
        description: A list of DNS name servers supported for the replication instance.
      EngineVersion:
        $ref: '#/definitions/String'
        description: The engine version number of the replication instance.
      KmsKeyId:
        $ref: '#/definitions/String'
        description: '<p>An AWS KMS key identifier that is used to encrypt the data on the replication instance.</p> <p>If you don''t specify a value for the <code>KmsKeyId</code> parameter, then AWS DMS uses your default encryption key.</p> <p>AWS KMS creates the default encryption key for your AWS account. Your AWS account has a different default encryption key for each AWS Region.</p>'
      MultiAZ:
        $ref: '#/definitions/BooleanOptional'
        description: ' Specifies whether the replication instance is a Multi-AZ deployment. You cannot set the <code>AvailabilityZone</code> parameter if the Multi-AZ parameter is set to <code>true</code>. '
      PreferredMaintenanceWindow:
        $ref: '#/definitions/String'
        description: '<p>The weekly time range during which system maintenance can occur, in Universal Coordinated Time (UTC).</p> <p> Format: <code>ddd:hh24:mi-ddd:hh24:mi</code> </p> <p>Default: A 30-minute window selected at random from an 8-hour block of time per AWS Region, occurring on a random day of the week.</p> <p>Valid Days: Mon, Tue, Wed, Thu, Fri, Sat, Sun</p> <p>Constraints: Minimum 30-minute window.</p>'
      PubliclyAccessible:
        $ref: '#/definitions/BooleanOptional'
        description: ' Specifies the accessibility options for the replication instance. A value of <code>true</code> represents an instance with a public IP address. A value of <code>false</code> represents an instance with a private IP address. The default value is <code>true</code>. '
      ReplicationInstanceClass:
        $ref: '#/definitions/String'
        description: '<p>The compute and memory capacity of the replication instance as specified by the replication instance class.</p> <p> Valid Values: <code>dms.t2.micro | dms.t2.small | dms.t2.medium | dms.t2.large | dms.c4.large | dms.c4.xlarge | dms.c4.2xlarge | dms.c4.4xlarge </code> </p>'
      ReplicationInstanceIdentifier:
        $ref: '#/definitions/String'
        description: '<p>The replication instance identifier. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 alphanumeric characters or hyphens.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>myrepinstance</code> </p>'
      ReplicationSubnetGroupIdentifier:
        $ref: '#/definitions/String'
        description: A subnet group to associate with the replication instance.
      Tags:
        $ref: '#/definitions/TagList'
        description: One or more tags to be assigned to the replication instance.
      VpcSecurityGroupIds:
        $ref: '#/definitions/VpcSecurityGroupIdList'
        description: ' Specifies the VPC security group to be used with the replication instance. The VPC security group must work with the VPC containing the replication instance. '
    required:
      - ReplicationInstanceIdentifier
      - ReplicationInstanceClass
    type: object
  CreateReplicationInstanceResponse:
    description: <p/>
    example:
      ReplicationInstance:
        AllocatedStorage: 5
        AutoMinorVersionUpgrade: true
        EngineVersion: 1.5.0
        KmsKeyId: 'arn:aws:kms:us-east-1:123456789012:key/4c1731d6-5435-ed4d-be13-d53411a7cfbd'
        PendingModifiedValues: {}
        PreferredMaintenanceWindow: 'sun:06:00-sun:14:00'
        PubliclyAccessible: true
        ReplicationInstanceArn: 'arn:aws:dms:us-east-1:123456789012:rep:6UTDJGBOUS3VI3SUWA66XFJCJQ'
        ReplicationInstanceClass: dms.t2.micro
        ReplicationInstanceIdentifier: test-rep-1
        ReplicationInstanceStatus: creating
        ReplicationSubnetGroup:
          ReplicationSubnetGroupDescription: default
          ReplicationSubnetGroupIdentifier: default
          SubnetGroupStatus: Complete
          Subnets:
            - SubnetAvailabilityZone:
                Name: us-east-1d
              SubnetIdentifier: subnet-f6dd91af
              SubnetStatus: Active
            - SubnetAvailabilityZone:
                Name: us-east-1b
              SubnetIdentifier: subnet-3605751d
              SubnetStatus: Active
            - SubnetAvailabilityZone:
                Name: us-east-1c
              SubnetIdentifier: subnet-c2daefb5
              SubnetStatus: Active
            - SubnetAvailabilityZone:
                Name: us-east-1e
              SubnetIdentifier: subnet-85e90cb8
              SubnetStatus: Active
          VpcId: vpc-6741a603
    properties:
      ReplicationInstance:
        $ref: '#/definitions/ReplicationInstance'
        description: The replication instance that was created.
    type: object
  CreateReplicationSubnetGroupMessage:
    description: <p/>
    properties:
      ReplicationSubnetGroupDescription:
        $ref: '#/definitions/String'
        description: The description for the subnet group.
      ReplicationSubnetGroupIdentifier:
        $ref: '#/definitions/String'
        description: '<p>The name for the replication subnet group. This value is stored as a lowercase string.</p> <p>Constraints: Must contain no more than 255 alphanumeric characters, periods, spaces, underscores, or hyphens. Must not be "default".</p> <p>Example: <code>mySubnetgroup</code> </p>'
      SubnetIds:
        $ref: '#/definitions/SubnetIdentifierList'
        description: One or more subnet IDs to be assigned to the subnet group.
      Tags:
        $ref: '#/definitions/TagList'
        description: One or more tags to be assigned to the subnet group.
    required:
      - ReplicationSubnetGroupIdentifier
      - ReplicationSubnetGroupDescription
      - SubnetIds
    type: object
  CreateReplicationSubnetGroupResponse:
    description: <p/>
    example:
      ReplicationSubnetGroup: {}
    properties:
      ReplicationSubnetGroup:
        $ref: '#/definitions/ReplicationSubnetGroup'
        description: The replication subnet group that was created.
    type: object
  CreateReplicationTaskMessage:
    description: <p/>
    properties:
      CdcStartPosition:
        $ref: '#/definitions/String'
        description: '<p>Indicates when you want a change data capture (CDC) operation to start. Use either CdcStartPosition or CdcStartTime to specify when you want a CDC operation to start. Specifying both values results in an error.</p> <p> The value can be in date, checkpoint, or LSN/SCN format.</p> <p>Date Example: --cdc-start-position “2018-03-08T12:12:12”</p> <p>Checkpoint Example: --cdc-start-position "checkpoint:V1#27#mysql-bin-changelog.157832:1975:-1:2002:677883278264080:mysql-bin-changelog.157832:1876#0#0#*#0#93"</p> <p>LSN Example: --cdc-start-position “mysql-bin-changelog.000024:373”</p>'
      CdcStartTime:
        $ref: '#/definitions/TStamp'
        description: '<p>Indicates the start time for a change data capture (CDC) operation. Use either CdcStartTime or CdcStartPosition to specify when you want a CDC operation to start. Specifying both values results in an error.</p> <p>Timestamp Example: --cdc-start-time “2018-03-08T12:12:12”</p>'
      CdcStopPosition:
        $ref: '#/definitions/String'
[...]
