swagger: '2.0'
info:
  version: '2016-06-30'
  x-release: v4
  title: Amazon Import/Export Snowball
  description: 'AWS Snowball is a petabyte-scale data transport solution that uses secure devices to transfer large amounts of data between your on-premises data centers and Amazon Simple Storage Service (Amazon S3). The Snowball commands described here provide access to the same functionality that is available in the AWS Snowball Management Console, which enables you to create and manage jobs for Snowball. To transfer data locally with a Snowball device, you''ll need to use the Snowball client or the Amazon S3 API adapter for Snowball. For more information, see the <a href="https://docs.aws.amazon.com/AWSImportExport/latest/ug/api-reference.html">User Guide</a>.'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: snowball
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/snowball-2016-06-30.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-driver: external
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/snowball/'
host: snowball.amazonaws.com
basePath: /
schemes:
  - https
  - http
x-servers:
  - url: 'http://snowball.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The Amazon Snowball multi-region endpoint
  - url: 'https://snowball.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The Amazon Snowball multi-region endpoint
  - url: 'http://snowball.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The Amazon Snowball endpoint for China (Beijing) and China (Ningxia)
  - url: 'https://snowball.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The Amazon Snowball endpoint for China (Beijing) and China (Ningxia)
x-hasEquivalentPaths: true
consumes:
  - application/json
produces:
  - application/json
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  '/#X-Amz-Target=AWSIESnowballJobManagementService.CancelCluster':
    post:
      operationId: CancelCluster
      description: Cancels a cluster job. You can only cancel a cluster job while it's in the <code>AwaitingQuorum</code> status. You'll have at least an hour after creating a cluster job to cancel it.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CancelClusterResult'
        '480':
          description: KMSRequestFailedException
          schema:
            $ref: '#/definitions/KMSRequestFailedException'
        '481':
          description: InvalidJobStateException
          schema:
            $ref: '#/definitions/InvalidJobStateException'
        '482':
          description: InvalidResourceException
          schema:
            $ref: '#/definitions/InvalidResourceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CancelClusterRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSIESnowballJobManagementService.CancelCluster
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSIESnowballJobManagementService.CancelJob':
    post:
      operationId: CancelJob
      description: Cancels the specified job. You can only cancel a job before its <code>JobState</code> value changes to <code>PreparingAppliance</code>. Requesting the <code>ListJobs</code> or <code>DescribeJob</code> action returns a job's <code>JobState</code> as part of the response element data returned.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CancelJobResult'
        '480':
          description: InvalidResourceException
          schema:
            $ref: '#/definitions/InvalidResourceException'
        '481':
          description: InvalidJobStateException
          schema:
            $ref: '#/definitions/InvalidJobStateException'
        '482':
          description: KMSRequestFailedException
          schema:
            $ref: '#/definitions/KMSRequestFailedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CancelJobRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSIESnowballJobManagementService.CancelJob
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSIESnowballJobManagementService.CreateAddress':
    post:
      operationId: CreateAddress
      description: 'Creates an address for a Snowball to be shipped to. In most regions, addresses are validated at the time of creation. The address you provide must be located within the serviceable area of your region. If the address is invalid or unsupported, then an exception is thrown.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateAddressResult'
        '480':
          description: InvalidAddressException
          schema:
            $ref: '#/definitions/InvalidAddressException'
        '481':
          description: UnsupportedAddressException
          schema:
            $ref: '#/definitions/UnsupportedAddressException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateAddressRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSIESnowballJobManagementService.CreateAddress
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSIESnowballJobManagementService.CreateCluster':
    post:
      operationId: CreateCluster
      description: Creates an empty cluster. Each cluster supports five nodes. You use the <a>CreateJob</a> action separately to create the jobs for each of these nodes. The cluster does not ship until these five node jobs have been created.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateClusterResult'
        '480':
          description: InvalidResourceException
          schema:
            $ref: '#/definitions/InvalidResourceException'
        '481':
          description: KMSRequestFailedException
          schema:
            $ref: '#/definitions/KMSRequestFailedException'
        '482':
          description: InvalidInputCombinationException
          schema:
            $ref: '#/definitions/InvalidInputCombinationException'
        '483':
          description: Ec2RequestFailedException
          schema:
            $ref: '#/definitions/Ec2RequestFailedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateClusterRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSIESnowballJobManagementService.CreateCluster
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSIESnowballJobManagementService.CreateJob':
    post:
      operationId: CreateJob
      description: 'Creates a job to import or export data between Amazon S3 and your on-premises data center. Your AWS account must have the right trust policies and permissions in place to create a job for Snowball. If you''re creating a job for a node in a cluster, you only need to provide the <code>clusterId</code> value; the other job attributes are inherited from the cluster. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateJobResult'
        '480':
          description: InvalidResourceException
          schema:
            $ref: '#/definitions/InvalidResourceException'
        '481':
          description: KMSRequestFailedException
          schema:
            $ref: '#/definitions/KMSRequestFailedException'
        '482':
          description: InvalidInputCombinationException
          schema:
            $ref: '#/definitions/InvalidInputCombinationException'
        '483':
          description: ClusterLimitExceededException
          schema:
            $ref: '#/definitions/ClusterLimitExceededException'
        '484':
          description: Ec2RequestFailedException
          schema:
            $ref: '#/definitions/Ec2RequestFailedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateJobRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSIESnowballJobManagementService.CreateJob
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSIESnowballJobManagementService.DescribeAddress':
    post:
      operationId: DescribeAddress
      description: Takes an <code>AddressId</code> and returns specific details about that address in the form of an <code>Address</code> object.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAddressResult'
        '480':
          description: InvalidResourceException
          schema:
            $ref: '#/definitions/InvalidResourceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeAddressRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSIESnowballJobManagementService.DescribeAddress
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSIESnowballJobManagementService.DescribeAddresses':
    post:
      operationId: DescribeAddresses
      description: Returns a specified number of <code>ADDRESS</code> objects. Calling this API in one of the US regions will return addresses from the list of all addresses associated with this account in all US regions.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAddressesResult'
        '480':
          description: InvalidResourceException
          schema:
            $ref: '#/definitions/InvalidResourceException'
        '481':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeAddressesRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSIESnowballJobManagementService.DescribeAddresses
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSIESnowballJobManagementService.DescribeCluster':
    post:
      operationId: DescribeCluster
      description: 'Returns information about a specific cluster including shipping information, cluster status, and other important metadata.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeClusterResult'
        '480':
          description: InvalidResourceException
          schema:
            $ref: '#/definitions/InvalidResourceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeClusterRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSIESnowballJobManagementService.DescribeCluster
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSIESnowballJobManagementService.DescribeJob':
    post:
      operationId: DescribeJob
      description: 'Returns information about a specific job including shipping information, job status, and other important metadata. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeJobResult'
        '480':
          description: InvalidResourceException
          schema:
            $ref: '#/definitions/InvalidResourceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeJobRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSIESnowballJobManagementService.DescribeJob
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSIESnowballJobManagementService.GetJobManifest':
    post:
      operationId: GetJobManifest
      description: '<p>Returns a link to an Amazon S3 presigned URL for the manifest file associated with the specified <code>JobId</code> value. You can access the manifest file for up to 60 minutes after this request has been made. To access the manifest file after 60 minutes have passed, you''ll have to make another call to the <code>GetJobManifest</code> action.</p> <p>The manifest is an encrypted file that you can download after your job enters the <code>WithCustomer</code> status. The manifest is decrypted by using the <code>UnlockCode</code> code value, when you pass both values to the Snowball through the Snowball client when the client is started for the first time.</p> <p>As a best practice, we recommend that you don''t save a copy of an <code>UnlockCode</code> value in the same location as the manifest file for that job. Saving these separately helps prevent unauthorized parties from gaining access to the Snowball associated with that job.</p> <p>The credentials of a given job, including its manifest file and unlock code, expire 90 days after the job is created.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetJobManifestResult'
        '480':
          description: InvalidResourceException
          schema:
            $ref: '#/definitions/InvalidResourceException'
        '481':
          description: InvalidJobStateException
          schema:
            $ref: '#/definitions/InvalidJobStateException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetJobManifestRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSIESnowballJobManagementService.GetJobManifest
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSIESnowballJobManagementService.GetJobUnlockCode':
    post:
      operationId: GetJobUnlockCode
      description: '<p>Returns the <code>UnlockCode</code> code value for the specified job. A particular <code>UnlockCode</code> value can be accessed for up to 90 days after the associated job has been created.</p> <p>The <code>UnlockCode</code> value is a 29-character code with 25 alphanumeric characters and 4 hyphens. This code is used to decrypt the manifest file when it is passed along with the manifest to the Snowball through the Snowball client when the client is started for the first time.</p> <p>As a best practice, we recommend that you don''t save a copy of the <code>UnlockCode</code> in the same location as the manifest file for that job. Saving these separately helps prevent unauthorized parties from gaining access to the Snowball associated with that job.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetJobUnlockCodeResult'
        '480':
          description: InvalidResourceException
          schema:
            $ref: '#/definitions/InvalidResourceException'
        '481':
          description: InvalidJobStateException
          schema:
            $ref: '#/definitions/InvalidJobStateException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetJobUnlockCodeRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSIESnowballJobManagementService.GetJobUnlockCode
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSIESnowballJobManagementService.GetSnowballUsage':
    post:
      operationId: GetSnowballUsage
      description: '<p>Returns information about the Snowball service limit for your account, and also the number of Snowballs your account has in use.</p> <p>The default service limit for the number of Snowballs that you can have at one time is 1. If you want to increase your service limit, contact AWS Support.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetSnowballUsageResult'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetSnowballUsageRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSIESnowballJobManagementService.GetSnowballUsage
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSIESnowballJobManagementService.GetSoftwareUpdates':
    post:
      operationId: GetSoftwareUpdates
      description: Returns an Amazon S3 presigned URL for an update file associated with a specified <code>JobId</code>.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetSoftwareUpdatesResult'
        '480':
          description: InvalidResourceException
          schema:
            $ref: '#/definitions/InvalidResourceException'
        '481':
          description: InvalidJobStateException
          schema:
            $ref: '#/definitions/InvalidJobStateException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetSoftwareUpdatesRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSIESnowballJobManagementService.GetSoftwareUpdates
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSIESnowballJobManagementService.ListClusterJobs':
    post:
      operationId: ListClusterJobs
      description: 'Returns an array of <code>JobListEntry</code> objects of the specified length. Each <code>JobListEntry</code> object is for a job in the specified cluster and contains a job''s state, a job''s ID, and other information.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListClusterJobsResult'
        '480':
          description: InvalidResourceException
          schema:
            $ref: '#/definitions/InvalidResourceException'
        '481':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListClusterJobsRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSIESnowballJobManagementService.ListClusterJobs
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSIESnowballJobManagementService.ListClusters':
    post:
      operationId: ListClusters
      description: 'Returns an array of <code>ClusterListEntry</code> objects of the specified length. Each <code>ClusterListEntry</code> object contains a cluster''s state, a cluster''s ID, and other important status information.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListClustersResult'
        '480':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListClustersRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSIESnowballJobManagementService.ListClusters
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSIESnowballJobManagementService.ListCompatibleImages':
    post:
      operationId: ListCompatibleImages
      description: 'This action returns a list of the different Amazon EC2 Amazon Machine Images (AMIs) that are owned by your AWS account that would be supported for use on a Snowball Edge device. Currently, supported AMIs are based on the CentOS 7 (x86_64) - with Updates HVM, Ubuntu Server 14.04 LTS (HVM), and Ubuntu 16.04 LTS - Xenial (HVM) images, available on the AWS Marketplace.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListCompatibleImagesResult'
        '480':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '481':
          description: Ec2RequestFailedException
          schema:
            $ref: '#/definitions/Ec2RequestFailedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListCompatibleImagesRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSIESnowballJobManagementService.ListCompatibleImages
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSIESnowballJobManagementService.ListJobs':
    post:
      operationId: ListJobs
      description: 'Returns an array of <code>JobListEntry</code> objects of the specified length. Each <code>JobListEntry</code> object contains a job''s state, a job''s ID, and a value that indicates whether the job is a job part, in the case of export jobs. Calling this API action in one of the US regions will return jobs from the list of all jobs associated with this account in all US regions.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListJobsResult'
        '480':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListJobsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSIESnowballJobManagementService.ListJobs
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSIESnowballJobManagementService.UpdateCluster':
    post:
      operationId: UpdateCluster
      description: 'While a cluster''s <code>ClusterState</code> value is in the <code>AwaitingQuorum</code> state, you can update some of the information associated with a cluster. Once the cluster changes to a different job state, usually 60 minutes after the cluster being created, this action is no longer available.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateClusterResult'
        '480':
          description: InvalidResourceException
          schema:
            $ref: '#/definitions/InvalidResourceException'
        '481':
          description: InvalidJobStateException
          schema:
            $ref: '#/definitions/InvalidJobStateException'
        '482':
          description: KMSRequestFailedException
          schema:
            $ref: '#/definitions/KMSRequestFailedException'
        '483':
          description: InvalidInputCombinationException
          schema:
            $ref: '#/definitions/InvalidInputCombinationException'
        '484':
          description: Ec2RequestFailedException
          schema:
            $ref: '#/definitions/Ec2RequestFailedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateClusterRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSIESnowballJobManagementService.UpdateCluster
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSIESnowballJobManagementService.UpdateJob':
    post:
      operationId: UpdateJob
      description: 'While a job''s <code>JobState</code> value is <code>New</code>, you can update some of the information associated with a job. Once the job changes to a different job state, usually within 60 minutes of the job being created, this action is no longer available.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateJobResult'
        '480':
          description: InvalidResourceException
          schema:
            $ref: '#/definitions/InvalidResourceException'
        '481':
          description: InvalidJobStateException
          schema:
            $ref: '#/definitions/InvalidJobStateException'
        '482':
          description: KMSRequestFailedException
          schema:
            $ref: '#/definitions/KMSRequestFailedException'
        '483':
          description: InvalidInputCombinationException
          schema:
            $ref: '#/definitions/InvalidInputCombinationException'
        '484':
          description: ClusterLimitExceededException
          schema:
            $ref: '#/definitions/ClusterLimitExceededException'
        '485':
          description: Ec2RequestFailedException
          schema:
            $ref: '#/definitions/Ec2RequestFailedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateJobRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSIESnowballJobManagementService.UpdateJob
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  CancelClusterResult:
    type: object
    properties: {}
  CancelClusterRequest:
    type: object
    required:
      - ClusterId
    properties:
      ClusterId:
        $ref: '#/definitions/ClusterId'
        description: 'The 39-character ID for the cluster that you want to cancel, for example <code>CID123e4567-e89b-12d3-a456-426655440000</code>.'
  KMSRequestFailedException: {}
  InvalidJobStateException: {}
  InvalidResourceException: {}
  CancelJobResult:
    type: object
    properties: {}
  CancelJobRequest:
    type: object
    required:
      - JobId
    properties:
      JobId:
        $ref: '#/definitions/JobId'
        description: 'The 39-character job ID for the job that you want to cancel, for example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.'
  CreateAddressResult:
    type: object
    example:
      AddressId: ADID1234ab12-3eec-4eb3-9be6-9374c10eb51b
    properties:
      AddressId:
        $ref: '#/definitions/String'
        description: The automatically generated ID for a specific address. You'll use this ID when you create a job to specify which address you want the Snowball for that job shipped to.
  CreateAddressRequest:
    type: object
    required:
      - Address
    properties:
      Address:
        $ref: '#/definitions/Address'
        description: The address that you want the Snowball shipped to.
  InvalidAddressException: {}
  UnsupportedAddressException: {}
  CreateClusterResult:
    type: object
    example:
      ClusterId: CID123e4567-e89b-12d3-a456-426655440000
    properties:
      ClusterId:
        $ref: '#/definitions/ClusterId'
        description: The automatically generated ID for a cluster.
  CreateClusterRequest:
    type: object
    required:
      - JobType
      - Resources
      - AddressId
      - RoleARN
      - ShippingOption
    properties:
      JobType:
        $ref: '#/definitions/JobType'
        description: 'The type of job for this cluster. Currently, the only job type supported for clusters is <code>LOCAL_USE</code>.'
      Resources:
        $ref: '#/definitions/JobResource'
        description: 'The resources associated with the cluster job. These resources include Amazon S3 buckets and optional AWS Lambda functions written in the Python language. '
      Description:
        $ref: '#/definitions/String'
        description: 'An optional description of this specific cluster, for example <code>Environmental Data Cluster-01</code>.'
      AddressId:
        $ref: '#/definitions/AddressId'
        description: The ID for the address that you want the cluster shipped to.
      KmsKeyARN:
        $ref: '#/definitions/KmsKeyARN'
        description: 'The <code>KmsKeyARN</code> value that you want to associate with this cluster. <code>KmsKeyARN</code> values are created by using the <a href="https://docs.aws.amazon.com/kms/latest/APIReference/API_CreateKey.html">CreateKey</a> API action in AWS Key Management Service (AWS KMS). '
      RoleARN:
        $ref: '#/definitions/RoleARN'
        description: 'The <code>RoleARN</code> that you want to associate with this cluster. <code>RoleArn</code> values are created by using the <a href="https://docs.aws.amazon.com/IAM/latest/APIReference/API_CreateRole.html">CreateRole</a> API action in AWS Identity and Access Management (IAM).'
      SnowballType:
        $ref: '#/definitions/SnowballType'
        description: '<p>The type of AWS Snowball device to use for this cluster. Currently, the only supported device type for cluster jobs is <code>EDGE</code>.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/snowball/latest/developer-guide/device-differences.html">Snowball Edge Device Options</a> in the Snowball Edge Developer Guide.</p>'
      ShippingOption:
        $ref: '#/definitions/ShippingOption'
        description: '<p>The shipping speed for each node in this cluster. This speed doesn''t dictate how soon you''ll get each Snowball Edge device, rather it represents how quickly each device moves to its destination while in transit. Regional shipping speeds are as follows:</p> <ul> <li> <p>In Australia, you have access to express shipping. Typically, devices shipped express are delivered in about a day.</p> </li> <li> <p>In the European Union (EU), you have access to express shipping. Typically, Snowball Edges shipped express are delivered in about a day. In addition, most countries in the EU have access to standard shipping, which typically takes less than a week, one way.</p> </li> <li> <p>In India, Snowball Edges are delivered in one to seven days.</p> </li> <li> <p>In the US, you have access to one-day shipping and two-day shipping.</p> </li> </ul>'
      Notification:
        $ref: '#/definitions/Notification'
        description: The Amazon Simple Notification Service (Amazon SNS) notification settings for this cluster.
      ForwardingAddressId:
        $ref: '#/definitions/AddressId'
        description: The forwarding address ID for a cluster. This field is not supported in most regions.
      TaxDocuments:
        $ref: '#/definitions/TaxDocuments'
        description: The tax documents required in your AWS Region.
  InvalidInputCombinationException: {}
  Ec2RequestFailedException: {}
  CreateJobResult:
    type: object
    example:
      JobId: JID123e4567-e89b-12d3-a456-426655440000
    properties:
      JobId:
        $ref: '#/definitions/JobId'
        description: 'The automatically generated ID for a job, for example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.'
  CreateJobRequest:
    type: object
    properties:
      JobType:
        $ref: '#/definitions/JobType'
        description: 'Defines the type of job that you''re creating. '
      Resources:
        $ref: '#/definitions/JobResource'
        description: '<p>Defines the Amazon S3 buckets associated with this job.</p> <p>With <code>IMPORT</code> jobs, you specify the bucket or buckets that your transferred data will be imported into.</p> <p>With <code>EXPORT</code> jobs, you specify the bucket or buckets that your transferred data will be exported from. Optionally, you can also specify a <code>KeyRange</code> value. If you choose to export a range, you define the length of the range by providing either an inclusive <code>BeginMarker</code> value, an inclusive <code>EndMarker</code> value, or both. Ranges are UTF-8 binary sorted.</p>'
      Description:
        $ref: '#/definitions/String'
        description: 'Defines an optional description of this specific job, for example <code>Important Photos 2016-08-11</code>.'
      AddressId:
        $ref: '#/definitions/AddressId'
        description: The ID for the address that you want the Snowball shipped to.
      KmsKeyARN:
        $ref: '#/definitions/KmsKeyARN'
        description: 'The <code>KmsKeyARN</code> that you want to associate with this job. <code>KmsKeyARN</code>s are created using the <a href="https://docs.aws.amazon.com/kms/latest/APIReference/API_CreateKey.html">CreateKey</a> AWS Key Management Service (KMS) API action.'
      RoleARN:
        $ref: '#/definitions/RoleARN'
        description: 'The <code>RoleARN</code> that you want to associate with this job. <code>RoleArn</code>s are created using the <a href="https://docs.aws.amazon.com/IAM/latest/APIReference/API_CreateRole.html">CreateRole</a> AWS Identity and Access Management (IAM) API action.'
      SnowballCapacityPreference:
        $ref: '#/definitions/SnowballCapacity'
        description: 'If your job is being created in one of the US regions, you have the option of specifying what size Snowball you''d like for this job. In all other regions, Snowballs come with 80 TB in storage capacity.'
      ShippingOption:
        $ref: '#/definitions/ShippingOption'
        description: '<p>The shipping speed for this job. This speed doesn''t dictate how soon you''ll get the Snowball, rather it represents how quickly the Snowball moves to its destination while in transit. Regional shipping speeds are as follows:</p> <ul> <li> <p>In Australia, you have access to express shipping. Typically, Snowballs shipped express are delivered in about a day.</p> </li> <li> <p>In the European Union (EU), you have access to express shipping. Typically, Snowballs shipped express are delivered in about a day. In addition, most countries in the EU have access to standard shipping, which typically takes less than a week, one way.</p> </li> <li> <p>In India, Snowballs are delivered in one to seven days.</p> </li> <li> <p>In the US, you have access to one-day shipping and two-day shipping.</p> </li> </ul>'
      Notification:
        $ref: '#/definitions/Notification'
        description: Defines the Amazon Simple Notification Service (Amazon SNS) notification settings for this job.
      ClusterId:
        $ref: '#/definitions/ClusterId'
        description: 'The ID of a cluster. If you''re creating a job for a node in a cluster, you need to provide only this <code>clusterId</code> value. The other job attributes are inherited from the cluster.'
      SnowballType:
        $ref: '#/definitions/SnowballType'
        description: '<p>The type of AWS Snowball device to use for this job. Currently, the only supported device type for cluster jobs is <code>EDGE</code>.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/snowball/latest/developer-guide/device-differences.html">Snowball Edge Device Options</a> in the Snowball Edge Developer Guide.</p>'
      ForwardingAddressId:
        $ref: '#/definitions/AddressId'
        description: The forwarding address ID for a job. This field is not supported in most regions.
      TaxDocuments:
        $ref: '#/definitions/TaxDocuments'
        description: The tax documents required in your AWS Region.
  ClusterLimitExceededException: {}
  DescribeAddressResult:
    type: object
    example:
      Address:
        AddressId: ADID5643ec50-3eec-4eb3-9be6-9374c10eb51b
        City: Seattle
        Company: My Company
        Country: US
        Name: My Name
        PhoneNumber: 425-555-5555
        PostalCode: '98101'
        StateOrProvince: WA
        Street1: 123 Main Street
    properties:
      Address:
        $ref: '#/definitions/Address'
        description: The address that you want the Snowball or Snowballs associated with a specific job to be shipped to.
  DescribeAddressRequest:
    type: object
    required:
      - AddressId
    properties:
      AddressId:
        $ref: '#/definitions/AddressId'
        description: The automatically generated ID for a specific address.
  DescribeAddressesResult:
    type: object
    example:
      Addresses:
        - AddressId: ADID1234ab12-3eec-4eb3-9be6-9374c10eb51b
          City: Seattle
          Company: My Company
          Country: US
          Name: My Name
          PhoneNumber: 425-555-5555
          PostalCode: '98101'
          StateOrProvince: WA
          Street1: 123 Main Street
    properties:
      Addresses:
        $ref: '#/definitions/AddressList'
        description: The Snowball shipping addresses that were created for this account.
      NextToken:
        $ref: '#/definitions/String'
        description: 'HTTP requests are stateless. If you use the automatically generated <code>NextToken</code> value in your next <code>DescribeAddresses</code> call, your list of returned addresses will start from this point in the array.'
  DescribeAddressesRequest:
    type: object
    properties:
      MaxResults:
        $ref: '#/definitions/ListLimit'
        description: The number of <code>ADDRESS</code> objects to return.
      NextToken:
        $ref: '#/definitions/String'
        description: 'HTTP requests are stateless. To identify what object comes "next" in the list of <code>ADDRESS</code> objects, you have the option of specifying a value for <code>NextToken</code> as the starting point for your list of returned addresses.'
  InvalidNextTokenException: {}
  DescribeClusterResult:
    type: object
    example:
      ClusterMetadata:
        AddressId: ADID1234ab12-3eec-4eb3-9be6-9374c10eb51b
        ClusterId: CID123e4567-e89b-12d3-a456-426655440000
        ClusterState: Pending
        CreationDate: '1480475517.0'
        Description: MyCluster
        JobType: LOCAL_USE
        KmsKeyARN: 'arn:aws:kms:us-east-1:123456789012:key/abcd1234-12ab-34cd-56ef-123456123456'
        Notification:
          JobStatesToNotify: []
          NotifyAll: false
        Resources:
          S3Resources:
            - BucketArn: 'arn:aws:s3:::MyBucket'
              KeyRange: {}
        RoleARN: 'arn:aws:iam::123456789012:role/snowball-import-S3-role'
        ShippingOption: SECOND_DAY
    properties:
      ClusterMetadata:
        $ref: '#/definitions/ClusterMetadata'
        description: 'Information about a specific cluster, including shipping information, cluster status, and other important metadata.'
  DescribeClusterRequest:
    type: object
    required:
      - ClusterId
    properties:
      ClusterId:
        $ref: '#/definitions/ClusterId'
        description: The automatically generated ID for a cluster.
  DescribeJobResult:
    type: object
    example:
      JobMetadata:
        AddressId: ADID1234ab12-3eec-4eb3-9be6-9374c10eb51b
        CreationDate: '1475626164'
        Description: My Job
        JobId: JID123e4567-e89b-12d3-a456-426655440000
        JobState: New
        JobType: IMPORT
        KmsKeyARN: 'arn:aws:kms:us-east-1:123456789012:key/abcd1234-12ab-34cd-56ef-123456123456'
        Notification:
          JobStatesToNotify: []
          NotifyAll: false
        Resources:
          S3Resources:
            - BucketArn: 'arn:aws:s3:::MyBucket'
              KeyRange: {}
        RoleARN: 'arn:aws:iam::123456789012:role/snowball-import-S3-role'
        ShippingDetails:
          ShippingOption: SECOND_DAY
        SnowballCapacityPreference: T80
        SnowballType: STANDARD
    properties:
      JobMetadata:
        $ref: '#/definitions/JobMetadata'
        description: 'Information about a specific job, including shipping information, job status, and other important metadata.'
      SubJobMetadata:
        $ref: '#/definitions/JobMetadataList'
        description: 'Information about a specific job part (in the case of an export job), including shipping information, job status, and other important metadata.'
  DescribeJobRequest:
    type: object
    required:
      - JobId
    properties:
      JobId:
        $ref: '#/definitions/JobId'
        description: 'The automatically generated ID for a job, for example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.'
  GetJobManifestResult:
    type: object
    example:
      ManifestURI: 'https://awsie-frosty-manifests-prod.s3.amazonaws.com/JID123e4567-e89b-12d3-a456-426655440000_manifest.bin?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20161224T005115Z&X-Amz-SignedHeaders=...'
    properties:
      ManifestURI:
        $ref: '#/definitions/String'
        description: The Amazon S3 presigned URL for the manifest file associated with the specified <code>JobId</code> value.
  GetJobManifestRequest:
    type: object
    required:
      - JobId
    properties:
      JobId:
        $ref: '#/definitions/JobId'
        description: 'The ID for a job that you want to get the manifest file for, for example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.'
  GetJobUnlockCodeResult:
    type: object
    example:
      UnlockCode: 12345-abcde-56789-fghij-01234
    properties:
      UnlockCode:
        $ref: '#/definitions/String'
        description: The <code>UnlockCode</code> value for the specified job. The <code>UnlockCode</code> value can be accessed for up to 90 days after the job has been created.
  GetJobUnlockCodeRequest:
    type: object
    required:
      - JobId
    properties:
      JobId:
        $ref: '#/definitions/JobId'
        description: 'The ID for the job that you want to get the <code>UnlockCode</code> value for, for example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.'
  GetSnowballUsageResult:
    type: object
    example:
      SnowballLimit: 1
      SnowballsInUse: 0
    properties:
      SnowballLimit:
        $ref: '#/definitions/Integer'
        description: The service limit for number of Snowballs this account can have at once. The default service limit is 1 (one).
      SnowballsInUse:
        $ref: '#/definitions/Integer'
        description: The number of Snowballs that this account is currently using.
  GetSnowballUsageRequest:
    type: object
    properties: {}
  GetSoftwareUpdatesResult:
    type: object
    properties:
      UpdatesURI:
        $ref: '#/definitions/String'
        description: 'The Amazon S3 presigned URL for the update file associated with the specified <code>JobId</code> value. The software update will be available for 2 days after this request is made. To access an update after the 2 days have passed, you''ll have to make another call to <code>GetSoftwareUpdates</code>.'
  GetSoftwareUpdatesRequest:
    type: object
    required:
      - JobId
    properties:
      JobId:
        $ref: '#/definitions/JobId'
        description: 'The ID for a job that you want to get the software update file for, for example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.'
  ListClusterJobsResult:
    type: object
    example:
      JobListEntries:
        - CreationDate: '1480475524.0'
          Description: MyClustrer-node-001
          IsMaster: false
          JobId: JID123e4567-e89b-12d3-a456-426655440000
          JobState: New
          JobType: LOCAL_USE
          SnowballType: EDGE
        - CreationDate: '1480475525.0'
          Description: MyClustrer-node-002
          IsMaster: false
          JobId: JID123e4567-e89b-12d3-a456-426655440001
          JobState: New
          JobType: LOCAL_USE
          SnowballType: EDGE
        - CreationDate: '1480475525.0'
          Description: MyClustrer-node-003
          IsMaster: false
          JobId: JID123e4567-e89b-12d3-a456-426655440002
          JobState: New
          JobType: LOCAL_USE
          SnowballType: EDGE
        - CreationDate: '1480475525.0'
          Description: MyClustrer-node-004
          IsMaster: false
          JobId: JID123e4567-e89b-12d3-a456-426655440003
          JobState: New
          JobType: LOCAL_USE
          SnowballType: EDGE
        - CreationDate: '1480475525.0'
          Description: MyClustrer-node-005
          IsMaster: false
          JobId: JID123e4567-e89b-12d3-a456-426655440004
          JobState: New
          JobType: LOCAL_USE
          SnowballType: EDGE
    properties:
      JobListEntries:
        $ref: '#/definitions/JobListEntryList'
        description: 'Each <code>JobListEntry</code> object contains a job''s state, a job''s ID, and a value that indicates whether the job is a job part, in the case of export jobs. '
      NextToken:
        $ref: '#/definitions/String'
        description: 'HTTP requests are stateless. If you use the automatically generated <code>NextToken</code> value in your next <code>ListClusterJobsResult</code> call, your list of returned jobs will start from this point in the array.'
  ListClusterJobsRequest:
    type: object
    required:
      - ClusterId
    properties:
      ClusterId:
        $ref: '#/definitions/ClusterId'
        description: 'The 39-character ID for the cluster that you want to list, for example <code>CID123e4567-e89b-12d3-a456-426655440000</code>.'
      MaxResults:
        $ref: '#/definitions/ListLimit'
        description: The number of <code>JobListEntry</code> objects to return.
      NextToken:
        $ref: '#/definitions/String'
        description: 'HTTP requests are stateless. To identify what object comes "next" in the list of <code>JobListEntry</code> objects, you have the option of specifying <code>NextToken</code> as the starting point for your returned list.'
  ListClustersResult:
    type: object
    example:
      ClusterListEntries:
        - ClusterId: CID123e4567-e89b-12d3-a456-426655440000
          ClusterState: Pending
          CreationDate: '1480475517.0'
          Description: MyCluster
    properties:
      ClusterListEntries:
        $ref: '#/definitions/ClusterListEntryList'
        description: 'Each <code>ClusterListEntry</code> object contains a cluster''s state, a cluster''s ID, and other important status information.'
      NextToken:
        $ref: '#/definitions/String'
        description: 'HTTP requests are stateless. If you use the automatically generated <code>NextToken</code> value in your next <code>ClusterListEntry</code> call, your list of returned clusters will start from this point in the array.'
  ListClustersRequest:
    type: object
    properties:
      MaxResults:
        $ref: '#/definitions/ListLimit'
        description: The number of <code>ClusterListEntry</code> objects to return.
      NextToken:
        $ref: '#/definitions/String'
        description: 'HTTP requests are stateless. To identify what object comes "next" in the list of <code>ClusterListEntry</code> objects, you have the option of specifying <code>NextToken</code> as the starting point for your returned list.'
  ListCompatibleImagesResult:
    type: object
    properties:
      CompatibleImages:
        $ref: '#/definitions/CompatibleImageList'
        description: 'A JSON-formatted object that describes a compatible AMI, including the ID and name for a Snowball Edge AMI.'
      NextToken:
        $ref: '#/definitions/String'
        description: 'Because HTTP requests are stateless, this is the starting point for your next list of returned images.'
  ListCompatibleImagesRequest:
    type: object
    properties:
      MaxResults:
        $ref: '#/definitions/ListLimit'
        description: 'The maximum number of results for the list of compatible images. Currently, a Snowball Edge device can store 10 AMIs.'
      NextToken:
        $ref: '#/definitions/String'
        description: 'HTTP requests are stateless. To identify what object comes "next" in the list of compatible images, you can specify a value for <code>NextToken</code> as the starting point for your list of returned images.'
  ListJobsResult:
    type: object
    example:
      JobListEntries:
        - CreationDate: '1460678186.0'
          Description: MyJob
          IsMaster: false
          JobId: JID123e4567-e89b-12d3-a456-426655440000
          JobState: New
          JobType: IMPORT
          SnowballType: STANDARD
    properties:
      JobListEntries:
        $ref: '#/definitions/JobListEntryList'
        description: 'Each <code>JobListEntry</code> object contains a job''s state, a job''s ID, and a value that indicates whether the job is a job part, in the case of export jobs. '
      NextToken:
        $ref: '#/definitions/String'
        description: 'HTTP requests are stateless. If you use this automatically generated <code>NextToken</code> value in your next <code>ListJobs</code> call, your returned <code>JobListEntry</code> objects will start from this point in the array.'
  ListJobsRequest:
    type: object
    properties:
      MaxResults:
        $ref: '#/definitions/ListLimit'
        description: The number of <code>JobListEntry</code> objects to return.
      NextToken:
        $ref: '#/definitions/String'
        description: 'HTTP requests are stateless. To identify what object comes "next" in the list of <code>JobListEntry</code> objects, you have the option of specifying <code>NextToken</code> as the starting point for your returned list.'
  UpdateClusterResult:
    type: object
    properties: {}
  UpdateClusterRequest:
    type: object
    required:
      - ClusterId
    properties:
      ClusterId:
        $ref: '#/definitions/ClusterId'
        description: 'The cluster ID of the cluster that you want to update, for example <code>CID123e4567-e89b-12d3-a456-426655440000</code>.'
      RoleARN:
        $ref: '#/definitions/RoleARN'
        description: 'The new role Amazon Resource Name (ARN) that you want to associate with this cluster. To create a role ARN, use the <a href="https://docs.aws.amazon.com/IAM/latest/APIReference/API_CreateRole.html">CreateRole</a> API action in AWS Identity and Access Management (IAM).'
      Description:
        $ref: '#/definitions/String'
        description: The updated description of this cluster.
      Resources:
        $ref: '#/definitions/JobResource'
        description: The updated arrays of <a>JobResource</a> objects that can include updated <a>S3Resource</a> objects or <a>LambdaResource</a> objects.
      AddressId:
        $ref: '#/definitions/AddressId'
        description: The ID of the updated <a>Address</a> object.
      ShippingOption:
        $ref: '#/definitions/ShippingOption'
        description: The updated shipping option value of this cluster's <a>ShippingDetails</a> object.
      Notification:
        $ref: '#/definitions/Notification'
        description: The new or updated <a>Notification</a> object.
      ForwardingAddressId:
        $ref: '#/definitions/AddressId'
        description: The updated ID for the forwarding address for a cluster. This field is not supported in most regions.
  UpdateJobResult:
    type: object
    properties: {}
  UpdateJobRequest:
    type: object
    required:
      - JobId
    properties:
      JobId:
        $ref: '#/definitions/JobId'
        description: 'The job ID of the job that you want to update, for example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.'
      RoleARN:
        $ref: '#/definitions/RoleARN'
        description: 'The new role Amazon Resource Name (ARN) that you want to associate with this job. To create a role ARN, use the <a href="https://docs.aws.amazon.com/IAM/latest/APIReference/API_CreateRole.html">CreateRole</a>AWS Identity and Access Management (IAM) API action.'
      Notification:
        $ref: '#/definitions/Notification'
        description: The new or updated <a>Notification</a> object.
      Resources:
        $ref: '#/definitions/JobResource'
        description: 'The updated <code>JobResource</code> object, or the updated <a>JobResource</a> object. '
      AddressId:
        $ref: '#/definitions/AddressId'
        description: The ID of the updated <a>Address</a> object.
      ShippingOption:
        $ref: '#/definitions/ShippingOption'
        description: The updated shipping option value of this job's <a>ShippingDetails</a> object.
      Description:
        $ref: '#/definitions/String'
        description: The updated description of this job's <a>JobMetadata</a> object.
      SnowballCapacityPreference:
        $ref: '#/definitions/SnowballCapacity'
        description: The updated <code>SnowballCapacityPreference</code> of this job's <a>JobMetadata</a> object. The 50 TB Snowballs are only available in the US regions.
      ForwardingAddressId:
        $ref: '#/definitions/AddressId'
        description: The updated ID for the forwarding address for a job. This field is not supported in most regions.
  AddressId:
    type: string
    pattern: 'ADID[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}'
    minLength: 40
    maxLength: 40
  String:
    type: string
    minLength: 1
  Boolean:
    type: boolean
  Address:
    type: object
    properties:
      AddressId:
        $ref: '#/definitions/AddressId'
        description: The unique ID for an address.
      Name:
        $ref: '#/definitions/String'
        description: The name of a person to receive a Snowball at an address.
      Company:
        $ref: '#/definitions/String'
        description: The name of the company to receive a Snowball at an address.
      Street1:
        $ref: '#/definitions/String'
        description: The first line in a street address that a Snowball is to be delivered to.
      Street2:
        $ref: '#/definitions/String'
        description: The second line in a street address that a Snowball is to be delivered to.
      Street3:
        $ref: '#/definitions/String'
        description: The third line in a street address that a Snowball is to be delivered to.
      City:
        $ref: '#/definitions/String'
        description: The city in an address that a Snowball is to be delivered to.
      StateOrProvince:
        $ref: '#/definitions/String'
        description: The state or province in an address that a Snowball is to be delivered to.
      PrefectureOrDistrict:
        $ref: '#/definitions/String'
        description: This field is no longer used and the value is ignored.
      Landmark:
        $ref: '#/definitions/String'
        description: This field is no longer used and the value is ignored.
      Country:
        $ref: '#/definitions/String'
        description: The country in an address that a Snowball is to be delivered to.
      PostalCode:
        $ref: '#/definitions/String'
        description: The postal code in an address that a Snowball is to be delivered to.
      PhoneNumber:
        $ref: '#/definitions/String'
        description: The phone number associated with an address that a Snowball is to be delivered to.
      IsRestricted:
        $ref: '#/definitions/Boolean'
        description: 'If the address you are creating is a primary address, then set this option to true. This field is not supported in most regions.'
    description: 'The address that you want the Snowball or Snowballs associated with a specific job to be shipped to. Addresses are validated at the time of creation. The address you provide must be located within the serviceable area of your region. Although no individual elements of the <code>Address</code> are required, if the address is invalid or unsupported, then an exception is thrown.'
  AddressList:
    type: array
    items:
      $ref: '#/definitions/Address'
  AmiId:
    type: string
    pattern: '(ami-[0-9a-f]{8})|(ami-[0-9a-f]{17})'
    minLength: 12
    maxLength: 21
  ClusterId:
    type: string
    pattern: 'CID[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}'
    minLength: 39
    maxLength: 39
  JobId:
    type: string
    pattern: '(M|J)ID[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}'
    minLength: 39
    maxLength: 39
  ClusterState:
    type: string
    enum:
      - AwaitingQuorum
      - Pending
      - InUse
      - Complete
      - Cancelled
  Timestamp:
    type: string
    format: date-time
  ClusterListEntry:
    type: object
    properties:
      ClusterId:
        $ref: '#/definitions/String'
        description: 'The 39-character ID for the cluster that you want to list, for example <code>CID123e4567-e89b-12d3-a456-426655440000</code>.'
      ClusterState:
        $ref: '#/definitions/ClusterState'
        description: 'The current state of this cluster. For information about the state of a specific node, see <a>JobListEntry$JobState</a>.'
      CreationDate:
        $ref: '#/definitions/Timestamp'
        description: The creation date for this cluster.
      Description:
        $ref: '#/definitions/String'
        description: 'Defines an optional description of the cluster, for example <code>Environmental Data Cluster-01</code>.'
    description: 'Contains a cluster''s state, a cluster''s ID, and other important information.'
  ClusterListEntryList:
    type: array
    items:
      $ref: '#/definitions/ClusterListEntry'
  KmsKeyARN:
    type: string
    pattern: 'arn:aws.*:kms:.*:[0-9]{12}:key/.*'
    maxLength: 255
  RoleARN:
    type: string
    pattern: 'arn:aws.*:iam::[0-9]{12}:role/.*'
    maxLength: 255
  JobType:
    type: string
    enum:
      - IMPORT
      - EXPORT
      - LOCAL_USE
  SnowballType:
    type: string
    enum:
      - STANDARD
      - EDGE
      - EDGE_C
      - EDGE_CG
  JobResource:
    type: object
    properties:
      S3Resources:
        $ref: '#/definitions/S3ResourceList'
        description: An array of <code>S3Resource</code> objects.
      LambdaResources:
        $ref: '#/definitions/LambdaResourceList'
        description: The Python-language Lambda functions for this job.
      Ec2AmiResources:
        $ref: '#/definitions/Ec2AmiResourceList'
        description: The Amazon Machine Images (AMIs) associated with this job.
    description: 'Contains an array of AWS resource objects. Each object represents an Amazon S3 bucket, an AWS Lambda function, or an Amazon Machine Image (AMI) based on Amazon EC2 that is associated with a particular job.'
  ShippingOption:
    type: string
    enum:
      - SECOND_DAY
      - NEXT_DAY
      - EXPRESS
      - STANDARD
  Notification:
    type: object
    properties:
      SnsTopicARN:
        $ref: '#/definitions/SnsTopicARN'
        description: '<p>The new SNS <code>TopicArn</code> that you want to associate with this job. You can create Amazon Resource Names (ARNs) for topics by using the <a href="https://docs.aws.amazon.com/sns/latest/api/API_CreateTopic.html">CreateTopic</a> Amazon SNS API action.</p> <p>You can subscribe email addresses to an Amazon SNS topic through the AWS Management Console, or by using the <a href="https://docs.aws.amazon.com/sns/latest/api/API_Subscribe.html">Subscribe</a> AWS Simple Notification Service (SNS) API action.</p>'
      JobStatesToNotify:
        $ref: '#/definitions/JobStateList'
        description: The list of job states that will trigger a notification for this job.
      NotifyAll:
        $ref: '#/definitions/Boolean'
        description: Any change in job state will trigger a notification for this job.
    description: '<p>The Amazon Simple Notification Service (Amazon SNS) notification settings associated with a specific job. The <code>Notification</code> object is returned as a part of the response syntax of the <code>DescribeJob</code> action in the <code>JobMetadata</code> data type.</p> <p>When the notification settings are defined during job creation, you can choose to notify based on a specific set of job states using the <code>JobStatesToNotify</code> array of strings, or you can specify that you want to have Amazon SNS notifications sent out for all job states with <code>NotifyAll</code> set to true.</p>'
  TaxDocuments:
    type: object
    properties:
      IND:
        $ref: '#/definitions/INDTaxDocuments'
        description: The tax documents required in AWS Regions in India.
    description: The tax documents required in your AWS Region.
  ClusterMetadata:
    type: object
    properties:
      ClusterId:
        $ref: '#/definitions/String'
        description: The automatically generated ID for a cluster.
      Description:
        $ref: '#/definitions/String'
        description: The optional description of the cluster.
      KmsKeyARN:
        $ref: '#/definitions/KmsKeyARN'
        description: 'The <code>KmsKeyARN</code> Amazon Resource Name (ARN) associated with this cluster. This ARN was created using the <a href="https://docs.aws.amazon.com/kms/latest/APIReference/API_CreateKey.html">CreateKey</a> API action in AWS Key Management Service (AWS KMS).'
      RoleARN:
        $ref: '#/definitions/RoleARN'
        description: 'The role ARN associated with this cluster. This ARN was created using the <a href="https://docs.aws.amazon.com/IAM/latest/APIReference/API_CreateRole.html">CreateRole</a> API action in AWS Identity and Access Management (IAM).'
      ClusterState:
        $ref: '#/definitions/ClusterState'
        description: The current status of the cluster.
      JobType:
        $ref: '#/definitions/JobType'
        description: 'The type of job for this cluster. Currently, the only job type supported for clusters is <code>LOCAL_USE</code>.'
      SnowballType:
        $ref: '#/definitions/SnowballType'
        description: '<p>The type of AWS Snowball device to use for this cluster. Currently, the only supported device type for cluster jobs is <code>EDGE</code>.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/snowball/latest/developer-guide/device-differences.html">Snowball Edge Device Options</a> in the Snowball Edge Developer Guide.</p>'
      CreationDate:
        $ref: '#/definitions/Timestamp'
        description: The creation date for this cluster.
      Resources:
        $ref: '#/definitions/JobResource'
        description: The arrays of <a>JobResource</a> objects that can include updated <a>S3Resource</a> objects or <a>LambdaResource</a> objects.
      AddressId:
        $ref: '#/definitions/AddressId'
        description: The automatically generated ID for a specific address.
      ShippingOption:
        $ref: '#/definitions/ShippingOption'
        description: '<p>The shipping speed for each node in this cluster. This speed doesn''t dictate how soon you''ll get each Snowball Edge device, rather it represents how quickly each device moves to its destination while in transit. Regional shipping speeds are as follows:</p> <ul> <li> <p>In Australia, you have access to express shipping. Typically, devices shipped express are delivered in about a day.</p> </li> <li> <p>In the European Union (EU), you have access to express shipping. Typically, Snowball Edges shipped express are delivered in about a day. In addition, most countries in the EU have access to standard shipping, which typically takes less than a week, one way.</p> </li> <li> <p>In India, Snowball Edges are delivered in one to seven days.</p> </li> <li> <p>In the US, you have access to one-day shipping and two-day shipping.</p> </li> </ul>'
      Notification:
        $ref: '#/definitions/Notification'
        description: The Amazon Simple Notification Service (Amazon SNS) notification settings for this cluster.
      ForwardingAddressId:
        $ref: '#/definitions/AddressId'
        description: 'The ID of the address that you want a cluster shipped to, after it will be shipped to its primary address. This field is not supported in most regions.'
      TaxDocuments:
        $ref: '#/definitions/TaxDocuments'
        description: The tax documents required in your AWS Region.
    description: Contains metadata about a specific cluster.
  CompatibleImage:
    type: object
    properties:
      AmiId:
        $ref: '#/definitions/String'
        description: The unique identifier for an individual Snowball Edge AMI.
      Name:
        $ref: '#/definitions/String'
        description: The optional name of a compatible image.
    description: 'A JSON-formatted object that describes a compatible Amazon Machine Image (AMI), including the ID and name for a Snowball Edge AMI. This AMI is compatible with the device''s physical hardware requirements, and it should be able to be run in an SBE1 instance on the device.'
  CompatibleImageList:
    type: array
    items:
      $ref: '#/definitions/CompatibleImage'
  SnowballCapacity:
    type: string
    enum:
      - T50
      - T80
      - T100
      - T42
      - NoPreference
  Long:
    type: integer
  DataTransfer:
    type: object
    properties:
      BytesTransferred:
        $ref: '#/definitions/Long'
        description: The number of bytes transferred between a Snowball and Amazon S3.
      ObjectsTransferred:
        $ref: '#/definitions/Long'
        description: The number of objects transferred between a Snowball and Amazon S3.
      TotalBytes:
        $ref: '#/definitions/Long'
        description: The total bytes of data for a transfer between a Snowball and Amazon S3. This value is set to 0 (zero) until all the keys that will be transferred have been listed.
      TotalObjects:
        $ref: '#/definitions/Long'
        description: The total number of objects for a transfer between a Snowball and Amazon S3. This value is set to 0 (zero) until all the keys that will be transferred have been listed.
    description: 'Defines the real-time status of a Snowball''s data transfer while the device is at AWS. This data is only available while a job has a <code>JobState</code> value of <code>InProgress</code>, for both import and export jobs.'
  ListLimit:
    type: integer
    minimum: 0
    maximum: 100
  JobMetadata:
    type: object
    properties:
      JobId:
        $ref: '#/definitions/String'
        description: 'The automatically generated ID for a job, for example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.'
      JobState:
        $ref: '#/definitions/JobState'
        description: The current status of the jobs.
      JobType:
        $ref: '#/definitions/JobType'
        description: The type of job.
      SnowballType:
        $ref: '#/definitions/SnowballType'
        description: The type of device used with this job.
      CreationDate:
        $ref: '#/definitions/Timestamp'
        description: The creation date for this job.
      Resources:
        $ref: '#/definitions/JobResource'
        description: An array of <code>S3Resource</code> objects. Each <code>S3Resource</code> object represents an Amazon S3 bucket that your transferred data will be exported from or imported into.
      Description:
        $ref: '#/definitions/String'
        description: 'The description of the job, provided at job creation.'
      KmsKeyARN:
        $ref: '#/definitions/KmsKeyARN'
        description: 'The Amazon Resource Name (ARN) for the AWS Key Management Service (AWS KMS) key associated with this job. This ARN was created using the <a href="https://docs.aws.amazon.com/kms/latest/APIReference/API_CreateKey.html">CreateKey</a> API action in AWS KMS.'
      RoleARN:
        $ref: '#/definitions/RoleARN'
        description: 'The role ARN associated with this job. This ARN was created using the <a href="https://docs.aws.amazon.com/IAM/latest/APIReference/API_CreateRole.html">CreateRole</a> API action in AWS Identity and Access Management (IAM).'
      AddressId:
        $ref: '#/definitions/AddressId'
        description: The ID for the address that you want the Snowball shipped to.
      ShippingDetails:
        $ref: '#/definitions/ShippingDetails'
        description: 'A job''s shipping information, including inbound and outbound tracking numbers and shipping speed options.'
      SnowballCapacityPreference:
        $ref: '#/definitions/SnowballCapacity'
        description: 'The Snowball capacity preference for this job, specified at job creation. In US regions, you can choose between 50 TB and 80 TB Snowballs. All other regions use 80 TB capacity Snowballs.'
      Notification:
        $ref: '#/definitions/Notification'
        description: The Amazon Simple Notification Service (Amazon SNS) notification settings associated with a specific job. The <code>Notification</code> object is returned as a part of the response syntax of the <code>DescribeJob</code> action in the <code>JobMetadata</code> data type.
      DataTransferProgress:
        $ref: '#/definitions/DataTransfer'
        description: 'A value that defines the real-time status of a Snowball''s data transfer while the device is at AWS. This data is only available while a job has a <code>JobState</code> value of <code>InProgress</code>, for both import and export jobs.'
      JobLogInfo:
        $ref: '#/definitions/JobLogs'
        description: 'Links to Amazon S3 presigned URLs for the job report and logs. For import jobs, the PDF job report becomes available at the end of the import process. For export jobs, your job report typically becomes available while the Snowball for your job part is being delivered to you.'
      ClusterId:
        $ref: '#/definitions/String'
        description: 'The 39-character ID for the cluster, for example <code>CID123e4567-e89b-12d3-a456-426655440000</code>.'
      ForwardingAddressId:
        $ref: '#/definitions/AddressId'
        description: 'The ID of the address that you want a job shipped to, after it will be shipped to its primary address. This field is not supported in most regions.'
      TaxDocuments:
        $ref: '#/definitions/TaxDocuments'
        description: The metadata associated with the tax documents required in your AWS Region.
    description: 'Contains information about a specific job including shipping information, job status, and other important metadata. This information is returned as a part of the response syntax of the <code>DescribeJob</code> action.'
  JobMetadataList:
    type: array
    items:
      $ref: '#/definitions/JobMetadata'
  Ec2AmiResource:
    type: object
    required:
      - AmiId
    properties:
      AmiId:
        $ref: '#/definitions/AmiId'
        description: The ID of the AMI in Amazon EC2.
      SnowballAmiId:
        $ref: '#/definitions/String'
        description: The ID of the AMI on the Snowball Edge device.
    description: 'A JSON-formatted object that contains the IDs for an Amazon Machine Image (AMI), including the Amazon EC2 AMI ID and the Snowball Edge AMI ID. Each AMI has these two IDs to simplify identifying the AMI in both the AWS Cloud and on the device.'
  Ec2AmiResourceList:
    type: array
    items:
      $ref: '#/definitions/Ec2AmiResource'
  ResourceARN:
    type: string
    maxLength: 255
  EventTriggerDefinition:
    type: object
    properties:
      EventResourceARN:
        $ref: '#/definitions/ResourceARN'
        description: The Amazon Resource Name (ARN) for any local Amazon S3 resource that is an AWS Lambda function's event trigger associated with this job.
    description: The container for the <a>EventTriggerDefinition$EventResourceARN</a>.
  EventTriggerDefinitionList:
    type: array
    items:
      $ref: '#/definitions/EventTriggerDefinition'
  GSTIN:
    type: string
    pattern: '\d{2}[A-Z]{5}\d{4}[A-Z]{1}[A-Z\d]{1}[Z]{1}[A-Z\d]{1}'
  Integer:
    type: integer
  INDTaxDocuments:
    type: object
    properties:
      GSTIN:
        $ref: '#/definitions/GSTIN'
        description: The Goods and Services Tax (GST) documents required in AWS Regions in India.
    description: The tax documents required in AWS Regions in India.
  JobState:
    type: string
    enum:
      - New
      - PreparingAppliance
      - PreparingShipment
      - InTransitToCustomer
      - WithCustomer
      - InTransitToAWS
      - WithAWSSortingFacility
      - WithAWS
      - InProgress
      - Complete
      - Cancelled
      - Listing
      - Pending
  JobListEntry:
    type: object
    properties:
      JobId:
        $ref: '#/definitions/String'
        description: 'The automatically generated ID for a job, for example <code>JID123e4567-e89b-12d3-a456-426655440000</code>.'
      JobState:
        $ref: '#/definitions/JobState'
        description: The current state of this job.
      IsMaster:
        $ref: '#/definitions/Boolean'
        description: 'A value that indicates that this job is a master job. A master job represents a successful request to create an export job. Master jobs aren''t associated with any Snowballs. Instead, each master job will have at least one job part, and each job part is associated with a Snowball. It might take some time before the job parts associated with a particular master job are listed, because they are created after the master job is created.'
      JobType:
        $ref: '#/definitions/JobType'
        description: The type of job.
      SnowballType:
        $ref: '#/definitions/SnowballType'
        description: The type of device used with this job.
      CreationDate:
        $ref: '#/definitions/Timestamp'
        description: The creation date for this job.
      Description:
        $ref: '#/definitions/String'
        description: 'The optional description of this specific job, for example <code>Important Photos 2016-08-11</code>.'
    description: 'Each <code>JobListEntry</code> object contains a job''s state, a job''s ID, and a value that indicates whether the job is a job part, in the case of an export job.'
  JobListEntryList:
    type: array
    items:
      $ref: '#/definitions/JobListEntry'
  JobLogs:
    type: object
    properties:
      JobCompletionReportURI:
        $ref: '#/definitions/String'
        description: A link to an Amazon S3 presigned URL where the job completion report is located.
      JobSuccessLogURI:
        $ref: '#/definitions/String'
        description: A link to an Amazon S3 presigned URL where the job success log is located.
      JobFailureLogURI:
        $ref: '#/definitions/String'
        description: A link to an Amazon S3 presigned URL where the job failure log is located.
    description: '<p>Contains job logs. Whenever Snowball is used to import data into or export data out of Amazon S3, you''ll have the option of downloading a PDF job report. Job logs are returned as a part of the response syntax of the <code>DescribeJob</code> action in the <code>JobMetadata</code> data type. The job logs can be accessed for up to 60 minutes after this request has been made. To access any of the job logs after 60 minutes have passed, you''ll have to make another call to the <code>DescribeJob</code> action.</p> <p>For import jobs, the PDF job report becomes available at the end of the import process. For export jobs, your job report typically becomes available while the Snowball for your job part is being delivered to you.</p> <p>The job report provides you insight into the state of your Amazon S3 data transfer. The report includes details about your job or job part for your records.</p> <p>For deeper visibility into the status of your transferred objects, you can look at the two associated logs: a success log and a failure log. The logs are saved in comma-separated value (CSV) format, and the name of each log includes the ID of the job or job part that the log describes.</p>'
  ShippingDetails:
    type: object
    properties:
      ShippingOption:
        $ref: '#/definitions/ShippingOption'
        description: '<p>The shipping speed for a particular job. This speed doesn''t dictate how soon you''ll get the Snowball from the job''s creation date. This speed represents how quickly it moves to its destination while in transit. Regional shipping speeds are as follows:</p> <ul> <li> <p>In Australia, you have access to express shipping. Typically, Snowballs shipped express are delivered in about a day.</p> </li> <li> <p>In the European Union (EU), you have access to express shipping. Typically, Snowballs shipped express are delivered in about a day. In addition, most countries in the EU have access to standard shipping, which typically takes less than a week, one way.</p> </li> <li> <p>In India, Snowballs are delivered in one to seven days.</p> </li> <li> <p>In the United States of America (US), you have access to one-day shipping and two-day shipping.</p> </li> </ul>'
      InboundShipment:
        $ref: '#/definitions/Shipment'
        description: The <code>Status</code> and <code>TrackingNumber</code> values for a Snowball being returned to AWS for a particular job.
      OutboundShipment:
        $ref: '#/definitions/Shipment'
        description: The <code>Status</code> and <code>TrackingNumber</code> values for a Snowball being delivered to the address that you specified for a particular job.
    description: 'A job''s shipping information, including inbound and outbound tracking numbers and shipping speed options.'
  S3ResourceList:
    type: array
    items:
      $ref: '#/definitions/S3Resource'
  LambdaResourceList:
    type: array
    items:
      $ref: '#/definitions/LambdaResource'
  JobStateList:
    type: array
    items:
      $ref: '#/definitions/JobState'
  KeyRange:
    type: object
    properties:
      BeginMarker:
        $ref: '#/definitions/String'
        description: The key that starts an optional key range for an export job. Ranges are inclusive and UTF-8 binary sorted.
      EndMarker:
        $ref: '#/definitions/String'
        description: The key that ends an optional key range for an export job. Ranges are inclusive and UTF-8 binary sorted.
    description: 'Contains a key range. For export jobs, a <code>S3Resource</code> object can have an optional <code>KeyRange</code> value. The length of the range is defined at job creation, and has either an inclusive <code>BeginMarker</code>, an inclusive <code>EndMarker</code>, or both. Ranges are UTF-8 binary sorted.'
  LambdaResource:
    type: object
    properties:
      LambdaArn:
        $ref: '#/definitions/ResourceARN'
        description: An Amazon Resource Name (ARN) that represents an AWS Lambda function to be triggered by PUT object actions on the associated local Amazon S3 resource.
      EventTriggers:
        $ref: '#/definitions/EventTriggerDefinitionList'
        description: The array of ARNs for <a>S3Resource</a> objects to trigger the <a>LambdaResource</a> objects associated with this job.
    description: 'Identifies '
  SnsTopicARN:
    type: string
    pattern: 'arn:aws.*:sns:.*:[0-9]{12}:.*'
    maxLength: 255
  S3Resource:
    type: object
    properties:
      BucketArn:
        $ref: '#/definitions/ResourceARN'
        description: The Amazon Resource Name (ARN) of an Amazon S3 bucket.
      KeyRange:
        $ref: '#/definitions/KeyRange'
        description: 'For export jobs, you can provide an optional <code>KeyRange</code> within a specific Amazon S3 bucket. The length of the range is defined at job creation, and has either an inclusive <code>BeginMarker</code>, an inclusive <code>EndMarker</code>, or both. Ranges are UTF-8 binary sorted.'
    description: 'Each <code>S3Resource</code> object represents an Amazon S3 bucket that your transferred data will be exported from or imported into. For export jobs, this object can have an optional <code>KeyRange</code> value. The length of the range is defined at job creation, and has either an inclusive <code>BeginMarker</code>, an inclusive <code>EndMarker</code>, or both. Ranges are UTF-8 binary sorted.'
  Shipment:
    type: object
    properties:
      Status:
        $ref: '#/definitions/String'
        description: Status information for a shipment.
      TrackingNumber:
        $ref: '#/definitions/String'
        description: '<p>The tracking number for this job. Using this tracking number with your region''s carrier''s website, you can track a Snowball as the carrier transports it.</p> <p>For India, the carrier is Amazon Logistics. For all other regions, UPS is the carrier.</p>'
    description: The <code>Status</code> and <code>TrackingNumber</code> information for an inbound or outbound shipment.
