{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "http://azure-api.sportsdata.io/v3/nhl/projections"
    },
    {
      "url": "https://azure-api.sportsdata.io/v3/nhl/projections"
    }
  ],
  "info": {
    "contact": {
      "x-twitter": "nfldata"
    },
    "title": "NHL v3 Projections",
    "version": "1.0",
    "x-apisguru-categories": [
      "entertainment"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_nfldata_profile_image.jpeg"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://fantasydata.com/downloads/swagger/nhl-v3-projections.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "sportsdata.io",
    "x-serviceName": "nhl-v3-projections"
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [],
  "paths": {
    "/{format}/DfsSlatesByDate/{date}": {
      "get": {
        "operationId": "DfsSlatesByDate",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "The date of the game(s).\n<br>Examples: <code>2017-DEC-01</code>, <code>2018-FEB-15</code>.",
            "in": "path",
            "name": "date",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/DfsSlate"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "DFS Slates by Date"
      }
    },
    "/{format}/InjuredPlayers": {
      "get": {
        "description": "This endpoint provides all currently injured NHL players, along with injury details.",
        "operationId": "InjuredPlayers",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Player"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Injured Players"
      }
    },
    "/{format}/PlayerGameProjectionStatsByDate/{date}": {
      "get": {
        "operationId": "ProjectedPlayerGameStatsByDateWInjuriesDfsSalaries",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "The date of the game(s).\n <br>Examples: <code>2018-JAN-31</code>, <code>2017-OCT-01</code>.\n ",
            "in": "path",
            "name": "date",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/PlayerGameProjection"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Projected Player Game Stats by Date (w/ Injuries, DFS Salaries)"
      }
    },
    "/{format}/PlayerGameProjectionStatsByPlayer/{date}/{playerid}": {
      "get": {
        "operationId": "ProjectedPlayerGameStatsByPlayerWInjuriesDfsSalaries",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "The date of the game(s).\n <br>Examples: <code>2018-JAN-31</code>, <code>2017-OCT-01</code>.\n ",
            "in": "path",
            "name": "date",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Unique FantasyData Player ID.\nExample:<code>30000378</code>.",
            "in": "path",
            "name": "playerid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerGameProjection"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Projected Player Game Stats by Player (w/ Injuries, DFS Salaries)"
      }
    },
    "/{format}/StartingGoaltendersByDate/{date}": {
      "get": {
        "description": "This endpoint provides the projected & confirmed starting goaltenders for NHL games on a given date.",
        "operationId": "StartingGoaltendersByDate",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "The date of the game(s).\n<br>Examples: <code>2021-OCT-12</code>, <code>2021-DEC-09</code>.",
            "in": "path",
            "name": "date",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/StartingGoaltenders"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Starting Goaltenders by Date"
      }
    }
  },
  "components": {
    "schemas": {
      "DfsSlate": {
        "properties": {
          "DfsSlateGames": {
            "items": {
              "$ref": "#/components/schemas/DfsSlateGame"
            },
            "type": "array"
          },
          "DfsSlatePlayers": {
            "items": {
              "$ref": "#/components/schemas/DfsSlatePlayer"
            },
            "type": "array"
          },
          "IsMultiDaySlate": {
            "nullable": true,
            "type": "boolean"
          },
          "NumberOfGames": {
            "nullable": true,
            "type": "integer"
          },
          "Operator": {
            "nullable": true,
            "type": "string"
          },
          "OperatorDay": {
            "nullable": true,
            "type": "string"
          },
          "OperatorGameType": {
            "nullable": true,
            "type": "string"
          },
          "OperatorName": {
            "nullable": true,
            "type": "string"
          },
          "OperatorSlateID": {
            "nullable": true,
            "type": "integer"
          },
          "OperatorStartTime": {
            "nullable": true,
            "type": "string"
          },
          "RemovedByOperator": {
            "nullable": true,
            "type": "boolean"
          },
          "SalaryCap": {
            "nullable": true,
            "type": "integer"
          },
          "SlateID": {
            "nullable": false,
            "type": "integer"
          },
          "SlateRosterSlots": {
            "items": {
              "nullable": true,
              "type": "string"
            },
            "type": "array"
          }
        }
      },
      "DfsSlateGame": {
        "properties": {
          "Game": {
            "$ref": "#/components/schemas/Game"
          },
          "GameID": {
            "nullable": true,
            "type": "integer"
          },
          "OperatorGameID": {
            "nullable": true,
            "type": "integer"
          },
          "RemovedByOperator": {
            "nullable": true,
            "type": "boolean"
          },
          "SlateGameID": {
            "nullable": false,
            "type": "integer"
          },
          "SlateID": {
            "nullable": false,
            "type": "integer"
          }
        }
      },
      "DfsSlatePlayer": {
        "properties": {
          "OperatorPlayerID": {
            "nullable": true,
            "type": "string"
          },
          "OperatorPlayerName": {
            "nullable": true,
            "type": "string"
          },
          "OperatorPosition": {
            "nullable": true,
            "type": "string"
          },
          "OperatorRosterSlots": {
            "items": {
              "nullable": true,
              "type": "string"
            },
            "type": "array"
          },
          "OperatorSalary": {
            "nullable": true,
            "type": "integer"
          },
          "OperatorSlatePlayerID": {
            "nullable": true,
            "type": "string"
          },
          "PlayerGameProjectionStatID": {
            "nullable": true,
            "type": "integer"
          },
          "PlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "RemovedByOperator": {
            "nullable": true,
            "type": "boolean"
          },
          "SlateGameID": {
            "nullable": true,
            "type": "integer"
          },
          "SlateID": {
            "nullable": false,
            "type": "integer"
          },
          "SlatePlayerID": {
            "nullable": false,
            "type": "integer"
          },
          "Team": {
            "nullable": true,
            "type": "string"
          },
          "TeamID": {
            "nullable": true,
            "type": "integer"
          }
        }
      },
      "Game": {
        "properties": {
          "Attendance": {
            "nullable": true,
            "type": "integer"
          },
          "AwayRotationNumber": {
            "nullable": true,
            "type": "integer"
          },
          "AwayTeam": {
            "nullable": true,
            "type": "string"
          },
          "AwayTeamID": {
            "nullable": false,
            "type": "integer"
          },
          "AwayTeamMoneyLine": {
            "nullable": true,
            "type": "integer"
          },
          "AwayTeamScore": {
            "nullable": true,
            "type": "integer"
          },
          "Channel": {
            "nullable": true,
            "type": "string"
          },
          "DateTime": {
            "nullable": true,
            "type": "string"
          },
          "DateTimeUTC": {
            "nullable": true,
            "type": "string"
          },
          "Day": {
            "nullable": true,
            "type": "string"
          },
          "GameEndDateTime": {
            "nullable": true,
            "type": "string"
          },
          "GameID": {
            "nullable": false,
            "type": "integer"
          },
          "GlobalAwayTeamID": {
            "nullable": false,
            "type": "integer"
          },
          "GlobalGameID": {
            "nullable": false,
            "type": "integer"
          },
          "GlobalHomeTeamID": {
            "nullable": false,
            "type": "integer"
          },
          "HomeRotationNumber": {
            "nullable": true,
            "type": "integer"
          },
          "HomeTeam": {
            "nullable": true,
            "type": "string"
          },
          "HomeTeamID": {
            "nullable": false,
            "type": "integer"
          },
          "HomeTeamMoneyLine": {
            "nullable": true,
            "type": "integer"
          },
          "HomeTeamScore": {
            "nullable": true,
            "type": "integer"
          },
          "IsClosed": {
            "nullable": true,
            "type": "boolean"
          },
          "LastPlay": {
            "nullable": true,
            "type": "string"
          },
          "NeutralVenue": {
            "nullable": true,
            "type": "boolean"
          },
          "OverPayout": {
            "nullable": true,
            "type": "integer"
          },
          "OverUnder": {
            "nullable": true,
            "type": "number"
          },
          "Period": {
            "nullable": true,
            "type": "string"
          },
          "Periods": {
            "items": {
              "$ref": "#/components/schemas/Period"
            },
            "type": "array"
          },
          "PointSpread": {
            "nullable": true,
            "type": "number"
          },
          "PointSpreadAwayTeamMoneyLine": {
            "nullable": true,
            "type": "integer"
          },
          "PointSpreadHomeTeamMoneyLine": {
            "nullable": true,
            "type": "integer"
          },
          "Season": {
            "nullable": false,
            "type": "integer"
          },
          "SeasonType": {
            "nullable": false,
            "type": "integer"
          },
          "SeriesInfo": {
            "$ref": "#/components/schemas/Series"
          },
          "StadiumID": {
            "nullable": true,
            "type": "integer"
          },
          "Status": {
            "nullable": true,
            "type": "string"
          },
          "TimeRemainingMinutes": {
            "nullable": true,
            "type": "integer"
          },
          "TimeRemainingSeconds": {
            "nullable": true,
            "type": "integer"
          },
          "UnderPayout": {
            "nullable": true,
            "type": "integer"
          },
          "Updated": {
            "nullable": true,
            "type": "string"
          }
        }
      },
      "Goaltender": {
        "properties": {
          "Confirmed": {
            "nullable": false,
            "type": "boolean"
          },
          "FirstName": {
            "nullable": true,
            "type": "string"
          },
          "Jersey": {
            "nullable": true,
            "type": "integer"
          },
          "LastName": {
            "nullable": true,
            "type": "string"
          },
          "PlayerID": {
            "nullable": false,
            "type": "integer"
          },
          "Team": {
            "nullable": true,
            "type": "string"
          },
          "TeamID": {
            "nullable": false,
            "type": "integer"
          }
        }
      },
      "Penalty": {
        "properties": {
          "BenchPenaltyServedByPlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "Description": {
            "nullable": true,
            "type": "string"
          },
          "DrawnByPlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "DrawnByTeamID": {
            "nullable": true,
            "type": "integer"
          },
          "IsBenchPenalty": {
            "nullable": true,
            "type": "boolean"
          },
          "PenalizedPlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "PenalizedTeamID": {
            "nullable": true,
            "type": "integer"
          },
          "PenaltyID": {
            "nullable": false,
            "type": "integer"
          },
          "PenaltyMinutes": {
            "nullable": true,
            "type": "integer"
          },
          "PeriodID": {
            "nullable": false,
            "type": "integer"
          },
          "Sequence": {
            "nullable": true,
            "type": "integer"
          },
          "TimeRemainingMinutes": {
            "nullable": true,
            "type": "integer"
          },
          "TimeRemainingSeconds": {
            "nullable": true,
            "type": "integer"
          }
        }
      },
      "Period": {
        "properties": {
          "AwayScore": {
            "nullable": true,
            "type": "integer"
          },
          "GameID": {
            "nullable": false,
            "type": "integer"
          },
          "HomeScore": {
            "nullable": true,
            "type": "integer"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "Penalties": {
            "items": {
              "$ref": "#/components/schemas/Penalty"
            },
            "type": "array"
          },
          "PeriodID": {
            "nullable": false,
            "type": "integer"
          },
          "ScoringPlays": {
            "items": {
              "$ref": "#/components/schemas/ScoringPlay"
            },
            "type": "array"
          }
        }
      },
      "Player": {
        "properties": {
          "BirthCity": {
            "nullable": true,
            "type": "string"
          },
          "BirthDate": {
            "nullable": true,
            "type": "string"
          },
          "BirthState": {
            "nullable": true,
            "type": "string"
          },
          "Catches": {
            "nullable": true,
            "type": "string"
          },
          "DepthChartOrder": {
            "nullable": true,
            "type": "integer"
          },
          "DepthChartPosition": {
            "nullable": true,
            "type": "string"
          },
          "DraftKingsName": {
            "nullable": true,
            "type": "string"
          },
          "DraftKingsPlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "FanDuelName": {
            "nullable": true,
            "type": "string"
          },
          "FanDuelPlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "FantasyAlarmPlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "FantasyDraftName": {
            "nullable": true,
            "type": "string"
          },
          "FantasyDraftPlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "FirstName": {
            "nullable": true,
            "type": "string"
          },
          "GlobalTeamID": {
            "nullable": true,
            "type": "integer"
          },
          "Height": {
            "nullable": true,
            "type": "integer"
          },
          "InjuryBodyPart": {
            "nullable": true,
            "type": "string"
          },
          "InjuryNotes": {
            "nullable": true,
            "type": "string"
          },
          "InjuryStartDate": {
            "nullable": true,
            "type": "string"
          },
          "InjuryStatus": {
            "nullable": true,
            "type": "string"
          },
          "Jersey": {
            "nullable": true,
            "type": "integer"
          },
          "LastName": {
            "nullable": true,
            "type": "string"
          },
          "PhotoUrl": {
            "nullable": true,
            "type": "string"
          },
          "PlayerID": {
            "nullable": false,
            "type": "integer"
          },
          "Position": {
            "nullable": true,
            "type": "string"
          },
          "RotoWirePlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "RotoworldPlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "Shoots": {
            "nullable": true,
            "type": "string"
          },
          "SportRadarPlayerID": {
            "nullable": true,
            "type": "string"
          },
          "SportsDirectPlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "StatsPlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "Status": {
            "nullable": true,
            "type": "string"
          },
          "Team": {
            "nullable": true,
            "type": "string"
          },
          "TeamID": {
            "nullable": true,
            "type": "integer"
          },
          "UsaTodayHeadshotNoBackgroundUpdated": {
            "nullable": true,
            "type": "string"
          },
          "UsaTodayHeadshotNoBackgroundUrl": {
            "nullable": true,
            "type": "string"
          },
          "UsaTodayHeadshotUpdated": {
            "nullable": true,
            "type": "string"
          },
          "UsaTodayHeadshotUrl": {
            "nullable": true,
            "type": "string"
          },
          "UsaTodayPlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "Weight": {
            "nullable": true,
            "type": "integer"
          },
          "XmlTeamPlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "YahooName": {
            "nullable": true,
            "type": "string"
          },
          "YahooPlayerID": {
            "nullable": true,
            "type": "integer"
          }
        }
      },
      "PlayerGameProjection": {
        "properties": {
          "Assists": {
            "nullable": true,
            "type": "number"
          },
          "BenchPenaltyMinutes": {
            "nullable": true,
            "type": "number"
          },
          "Blocks": {
            "nullable": true,
            "type": "number"
          },
          "DateTime": {
            "nullable": true,
            "type": "string"
          },
          "Day": {
            "nullable": true,
            "type": "string"
          },
          "DraftKingsPosition": {
            "nullable": true,
            "type": "string"
          },
          "DraftKingsSalary": {
            "nullable": true,
            "type": "integer"
          },
          "EmptyNetGoals": {
            "nullable": true,
            "type": "number"
          },
          "FaceoffsLost": {
            "nullable": true,
            "type": "number"
          },
          "FaceoffsWon": {
            "nullable": true,
            "type": "number"
          },
          "FanDuelPosition": {
            "nullable": true,
            "type": "string"
          },
          "FanDuelSalary": {
            "nullable": true,
            "type": "integer"
          },
          "FantasyDataSalary": {
            "nullable": true,
            "type": "integer"
          },
          "FantasyDraftPosition": {
            "nullable": true,
            "type": "string"
          },
          "FantasyDraftSalary": {
            "nullable": true,
            "type": "integer"
          },
          "FantasyPoints": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsDraftKings": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsFanDuel": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsFantasyDraft": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsYahoo": {
            "nullable": true,
            "type": "number"
          },
          "GameID": {
            "nullable": true,
            "type": "integer"
          },
          "Games": {
            "nullable": true,
            "type": "integer"
          },
          "Giveaways": {
            "nullable": true,
            "type": "number"
          },
          "GlobalGameID": {
            "nullable": true,
            "type": "integer"
          },
          "GlobalOpponentID": {
            "nullable": true,
            "type": "integer"
          },
          "GlobalTeamID": {
            "nullable": true,
            "type": "integer"
          },
          "Goals": {
            "nullable": true,
            "type": "number"
          },
          "GoaltendingGoalsAgainst": {
            "nullable": true,
            "type": "number"
          },
          "GoaltendingLosses": {
            "nullable": true,
            "type": "number"
          },
          "GoaltendingMinutes": {
            "nullable": true,
            "type": "integer"
          },
          "GoaltendingOvertimeLosses": {
            "nullable": true,
            "type": "number"
          },
          "GoaltendingSaves": {
            "nullable": true,
            "type": "number"
          },
          "GoaltendingSeconds": {
            "nullable": true,
            "type": "integer"
          },
          "GoaltendingShotsAgainst": {
            "nullable": true,
            "type": "number"
          },
          "GoaltendingShutouts": {
            "nullable": true,
            "type": "number"
          },
          "GoaltendingWins": {
            "nullable": true,
            "type": "number"
          },
          "HatTricks": {
            "nullable": true,
            "type": "number"
          },
          "Hits": {
            "nullable": true,
            "type": "number"
          },
          "HomeOrAway": {
            "nullable": true,
            "type": "string"
          },
          "InjuryBodyPart": {
            "nullable": true,
            "type": "string"
          },
          "InjuryNotes": {
            "nullable": true,
            "type": "string"
          },
          "InjuryStartDate": {
            "nullable": true,
            "type": "string"
          },
          "InjuryStatus": {
            "nullable": true,
            "type": "string"
          },
          "IsGameOver": {
            "nullable": false,
            "type": "boolean"
          },
          "Minutes": {
            "nullable": true,
            "type": "integer"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "Opponent": {
            "nullable": true,
            "type": "string"
          },
          "OpponentID": {
            "nullable": true,
            "type": "integer"
          },
          "OpponentPositionRank": {
            "nullable": true,
            "type": "integer"
          },
          "OpponentRank": {
            "nullable": true,
            "type": "integer"
          },
          "PenaltyMinutes": {
            "nullable": true,
            "type": "number"
          },
          "PlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "PlusMinus": {
            "nullable": true,
            "type": "number"
          },
          "Position": {
            "nullable": true,
            "type": "string"
          },
          "PowerPlayAssists": {
            "nullable": true,
            "type": "number"
          },
          "PowerPlayGoals": {
            "nullable": true,
            "type": "number"
          },
          "Season": {
            "nullable": true,
            "type": "integer"
          },
          "SeasonType": {
            "nullable": true,
            "type": "integer"
          },
          "Seconds": {
            "nullable": true,
            "type": "integer"
          },
          "Shifts": {
            "nullable": true,
            "type": "number"
          },
          "ShootoutGoals": {
            "nullable": true,
            "type": "number"
          },
          "ShortHandedAssists": {
            "nullable": true,
            "type": "number"
          },
          "ShortHandedGoals": {
            "nullable": true,
            "type": "number"
          },
          "ShotsOnGoal": {
            "nullable": true,
            "type": "number"
          },
          "Started": {
            "nullable": true,
            "type": "integer"
          },
          "StatID": {
            "nullable": false,
            "type": "integer"
          },
          "Takeaways": {
            "nullable": true,
            "type": "number"
          },
          "Team": {
            "nullable": true,
            "type": "string"
          },
          "TeamID": {
            "nullable": true,
            "type": "integer"
          },
          "Updated": {
            "nullable": true,
            "type": "string"
          },
          "YahooPosition": {
            "nullable": true,
            "type": "string"
          },
          "YahooSalary": {
            "nullable": true,
            "type": "integer"
          }
        }
      },
      "ScoringPlay": {
        "properties": {
          "AllowedByTeamID": {
            "nullable": true,
            "type": "integer"
          },
          "AssistedByPlayerID1": {
            "nullable": true,
            "type": "integer"
          },
          "AssistedByPlayerID2": {
            "nullable": true,
            "type": "integer"
          },
          "AwayTeamScore": {
            "nullable": true,
            "type": "integer"
          },
          "EmptyNet": {
            "nullable": true,
            "type": "boolean"
          },
          "HomeTeamScore": {
            "nullable": true,
            "type": "integer"
          },
          "PeriodID": {
            "nullable": false,
            "type": "integer"
          },
          "PowerPlay": {
            "nullable": true,
            "type": "boolean"
          },
          "ScoredByPlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "ScoredByTeamID": {
            "nullable": true,
            "type": "integer"
          },
          "ScoringPlayID": {
            "nullable": false,
            "type": "integer"
          },
          "Sequence": {
            "nullable": true,
            "type": "integer"
          },
          "ShortHanded": {
            "nullable": true,
            "type": "boolean"
          },
          "TimeRemainingMinutes": {
            "nullable": true,
            "type": "integer"
          },
          "TimeRemainingSeconds": {
            "nullable": true,
            "type": "integer"
          }
        }
      },
      "Series": {
        "properties": {
          "AwayTeamWins": {
            "nullable": false,
            "type": "integer"
          },
          "GameNumber": {
            "nullable": false,
            "type": "integer"
          },
          "HomeTeamWins": {
            "nullable": false,
            "type": "integer"
          },
          "MaxLength": {
            "nullable": false,
            "type": "integer"
          }
        }
      },
      "StartingGoaltenders": {
        "properties": {
          "AwayGoaltender": {
            "$ref": "#/components/schemas/Goaltender"
          },
          "AwayTeam": {
            "nullable": true,
            "type": "string"
          },
          "AwayTeamID": {
            "nullable": true,
            "type": "integer"
          },
          "DateTime": {
            "nullable": true,
            "type": "string"
          },
          "Day": {
            "nullable": true,
            "type": "string"
          },
          "GameID": {
            "nullable": false,
            "type": "integer"
          },
          "HomeGoaltender": {
            "$ref": "#/components/schemas/Goaltender"
          },
          "HomeTeam": {
            "nullable": true,
            "type": "string"
          },
          "HomeTeamID": {
            "nullable": true,
            "type": "integer"
          },
          "Season": {
            "nullable": false,
            "type": "integer"
          },
          "SeasonType": {
            "nullable": false,
            "type": "integer"
          },
          "Status": {
            "nullable": true,
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyHeader": {
        "in": "header",
        "name": "Ocp-Apim-Subscription-Key",
        "type": "apiKey"
      },
      "apiKeyQuery": {
        "in": "query",
        "name": "key",
        "type": "apiKey"
      }
    }
  }
}