{
  "swagger": "2.0",
  "info": {
    "title": "Calendar API",
    "x-serviceName": "calendar",
    "description": "Lets you manipulate events and other calendar data.",
    "contact": {
      "name": "Google",
      "url": "https://google.com"
    },
    "version": "v3",
    "x-origin": {
      "format": "google",
      "version": "v1",
      "url": "https://www.googleapis.com/discovery/v1/apis/calendar/v3/rest"
    }
  },
  "host": "www.googleapis.com",
  "basePath": "/calendar/v3",
  "schemes": [
    "https"
  ],
  "paths": {
    "/calendars/{calendarId}/acl/{ruleId}": {
      "delete": {
        "description": "Deletes an access control rule.",
        "operationId": "calendar.acl.delete",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "ruleId",
            "in": "path",
            "description": "ACL rule identifier.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar"
            ]
          }
        ],
        "tags": [
          "acl"
        ]
      },
      "get": {
        "description": "Returns an access control rule.",
        "operationId": "calendar.acl.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AclRule"
            }
          }
        },
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "ruleId",
            "in": "path",
            "description": "ACL rule identifier.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar",
              "https://www.googleapis.com/auth/calendar.readonly"
            ]
          }
        ],
        "tags": [
          "acl"
        ]
      },
      "patch": {
        "description": "Updates an access control rule. This method supports patch semantics.",
        "operationId": "calendar.acl.patch",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AclRule"
            }
          }
        },
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "ruleId",
            "in": "path",
            "description": "ACL rule identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/AclRule"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar"
            ]
          }
        ],
        "tags": [
          "acl"
        ]
      },
      "put": {
        "description": "Updates an access control rule.",
        "operationId": "calendar.acl.update",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AclRule"
            }
          }
        },
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "ruleId",
            "in": "path",
            "description": "ACL rule identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/AclRule"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar"
            ]
          }
        ],
        "tags": [
          "acl"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/calendars/{calendarId}/acl": {
      "post": {
        "description": "Creates an access control rule.",
        "operationId": "calendar.acl.insert",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AclRule"
            }
          }
        },
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/AclRule"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar"
            ]
          }
        ],
        "tags": [
          "acl"
        ]
      },
      "get": {
        "description": "Returns the rules in the access control list for the calendar.",
        "operationId": "calendar.acl.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Acl"
            }
          }
        },
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Token specifying which result page to return. Optional.",
            "type": "string"
          },
          {
            "name": "showDeleted",
            "in": "query",
            "description": "Whether to include deleted ACLs in the result. Deleted ACLs are represented by role equal to \"none\". Deleted ACLs will always be included if syncToken is provided. Optional. The default is False.",
            "type": "boolean"
          },
          {
            "name": "syncToken",
            "in": "query",
            "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All entries deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar"
            ]
          }
        ],
        "tags": [
          "acl"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/calendars/{calendarId}/acl/watch": {
      "post": {
        "description": "Watch for changes to ACL resources.",
        "operationId": "calendar.acl.watch",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Channel"
            }
          }
        },
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Token specifying which result page to return. Optional.",
            "type": "string"
          },
          {
            "name": "showDeleted",
            "in": "query",
            "description": "Whether to include deleted ACLs in the result. Deleted ACLs are represented by role equal to \"none\". Deleted ACLs will always be included if syncToken is provided. Optional. The default is False.",
            "type": "boolean"
          },
          {
            "name": "syncToken",
            "in": "query",
            "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All entries deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Channel"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar"
            ]
          }
        ],
        "tags": [
          "acl"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/users/me/calendarList/{calendarId}": {
      "delete": {
        "description": "Deletes an entry on the user's calendar list.",
        "operationId": "calendar.calendarList.delete",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar"
            ]
          }
        ],
        "tags": [
          "calendarList"
        ]
      },
      "get": {
        "description": "Returns an entry on the user's calendar list.",
        "operationId": "calendar.calendarList.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/CalendarListEntry"
            }
          }
        },
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar",
              "https://www.googleapis.com/auth/calendar.readonly"
            ]
          }
        ],
        "tags": [
          "calendarList"
        ]
      },
      "patch": {
        "description": "Updates an entry on the user's calendar list. This method supports patch semantics.",
        "operationId": "calendar.calendarList.patch",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/CalendarListEntry"
            }
          }
        },
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "colorRgbFormat",
            "in": "query",
            "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.",
            "type": "boolean"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CalendarListEntry"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar"
            ]
          }
        ],
        "tags": [
          "calendarList"
        ]
      },
      "put": {
        "description": "Updates an entry on the user's calendar list.",
        "operationId": "calendar.calendarList.update",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/CalendarListEntry"
            }
          }
        },
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "colorRgbFormat",
            "in": "query",
            "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.",
            "type": "boolean"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CalendarListEntry"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar"
            ]
          }
        ],
        "tags": [
          "calendarList"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/users/me/calendarList": {
      "post": {
        "description": "Adds an entry to the user's calendar list.",
        "operationId": "calendar.calendarList.insert",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/CalendarListEntry"
            }
          }
        },
        "parameters": [
          {
            "name": "colorRgbFormat",
            "in": "query",
            "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.",
            "type": "boolean"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CalendarListEntry"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar"
            ]
          }
        ],
        "tags": [
          "calendarList"
        ]
      },
      "get": {
        "description": "Returns entries on the user's calendar list.",
        "operationId": "calendar.calendarList.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/CalendarList"
            }
          }
        },
        "parameters": [
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "minAccessRole",
            "in": "query",
            "description": "The minimum access role for the user in the returned entries. Optional. The default is no restriction.",
            "type": "string",
            "enum": [
              "freeBusyReader",
              "owner",
              "reader",
              "writer"
            ]
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Token specifying which result page to return. Optional.",
            "type": "string"
          },
          {
            "name": "showDeleted",
            "in": "query",
            "description": "Whether to include deleted calendar list entries in the result. Optional. The default is False.",
            "type": "boolean"
          },
          {
            "name": "showHidden",
            "in": "query",
            "description": "Whether to show hidden entries. Optional. The default is False.",
            "type": "boolean"
          },
          {
            "name": "syncToken",
            "in": "query",
            "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. If only read-only fields such as calendar properties or ACLs have changed, the entry won't be returned. All entries deleted and hidden since the previous list request will always be in the result set and it is not allowed to set showDeleted neither showHidden to False.\nTo ensure client state consistency minAccessRole query parameter cannot be specified together with nextSyncToken.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar",
              "https://www.googleapis.com/auth/calendar.readonly"
            ]
          }
        ],
        "tags": [
          "calendarList"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/users/me/calendarList/watch": {
      "post": {
        "description": "Watch for changes to CalendarList resources.",
        "operationId": "calendar.calendarList.watch",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Channel"
            }
          }
        },
        "parameters": [
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "minAccessRole",
            "in": "query",
            "description": "The minimum access role for the user in the returned entries. Optional. The default is no restriction.",
            "type": "string",
            "enum": [
              "freeBusyReader",
              "owner",
              "reader",
              "writer"
            ]
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Token specifying which result page to return. Optional.",
            "type": "string"
          },
          {
            "name": "showDeleted",
            "in": "query",
            "description": "Whether to include deleted calendar list entries in the result. Optional. The default is False.",
            "type": "boolean"
          },
          {
            "name": "showHidden",
            "in": "query",
            "description": "Whether to show hidden entries. Optional. The default is False.",
            "type": "boolean"
          },
          {
            "name": "syncToken",
            "in": "query",
            "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. If only read-only fields such as calendar properties or ACLs have changed, the entry won't be returned. All entries deleted and hidden since the previous list request will always be in the result set and it is not allowed to set showDeleted neither showHidden to False.\nTo ensure client state consistency minAccessRole query parameter cannot be specified together with nextSyncToken.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Channel"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar",
              "https://www.googleapis.com/auth/calendar.readonly"
            ]
          }
        ],
        "tags": [
          "calendarList"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/calendars/{calendarId}/clear": {
      "post": {
        "description": "Clears a primary calendar. This operation deletes all events associated with the primary calendar of an account.",
        "operationId": "calendar.calendars.clear",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar"
            ]
          }
        ],
        "tags": [
          "calendars"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/calendars/{calendarId}": {
      "delete": {
        "description": "Deletes a secondary calendar. Use calendars.clear for clearing all events on primary calendars.",
        "operationId": "calendar.calendars.delete",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar"
            ]
          }
        ],
        "tags": [
          "calendars"
        ]
      },
      "get": {
        "description": "Returns metadata for a calendar.",
        "operationId": "calendar.calendars.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Calendar"
            }
          }
        },
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar",
              "https://www.googleapis.com/auth/calendar.readonly"
            ]
          }
        ],
        "tags": [
          "calendars"
        ]
      },
      "patch": {
        "description": "Updates metadata for a calendar. This method supports patch semantics.",
        "operationId": "calendar.calendars.patch",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Calendar"
            }
          }
        },
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Calendar"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar"
            ]
          }
        ],
        "tags": [
          "calendars"
        ]
      },
      "put": {
        "description": "Updates metadata for a calendar.",
        "operationId": "calendar.calendars.update",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Calendar"
            }
          }
        },
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Calendar"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar"
            ]
          }
        ],
        "tags": [
          "calendars"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/calendars": {
      "post": {
        "description": "Creates a secondary calendar.",
        "operationId": "calendar.calendars.insert",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Calendar"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Calendar"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar"
            ]
          }
        ],
        "tags": [
          "calendars"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/channels/stop": {
      "post": {
        "description": "Stop watching resources through this channel",
        "operationId": "calendar.channels.stop",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Channel"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar",
              "https://www.googleapis.com/auth/calendar.readonly"
            ]
          }
        ],
        "tags": [
          "channels"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/colors": {
      "get": {
        "description": "Returns the color definitions for calendars and events.",
        "operationId": "calendar.colors.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Colors"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar",
              "https://www.googleapis.com/auth/calendar.readonly"
            ]
          }
        ],
        "tags": [
          "colors"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/calendars/{calendarId}/events/{eventId}": {
      "delete": {
        "description": "Deletes an event.",
        "operationId": "calendar.events.delete",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "eventId",
            "in": "path",
            "description": "Event identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "sendNotifications",
            "in": "query",
            "description": "Whether to send notifications about the deletion of the event. Optional. The default is False.",
            "type": "boolean"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar"
            ]
          }
        ],
        "tags": [
          "events"
        ]
      },
      "get": {
        "description": "Returns an event.",
        "operationId": "calendar.events.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Event"
            }
          }
        },
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "eventId",
            "in": "path",
            "description": "Event identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "alwaysIncludeEmail",
            "in": "query",
            "description": "Whether to always include a value in the email field for the organizer, creator and attendees, even if no real email is available (i.e. a generated, non-working value will be provided). The use of this option is discouraged and should only be used by clients which cannot handle the absence of an email address value in the mentioned places. Optional. The default is False.",
            "type": "boolean"
          },
          {
            "name": "maxAttendees",
            "in": "query",
            "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "timeZone",
            "in": "query",
            "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar",
              "https://www.googleapis.com/auth/calendar.readonly"
            ]
          }
        ],
        "tags": [
          "events"
        ]
      },
      "patch": {
        "description": "Updates an event. This method supports patch semantics.",
        "operationId": "calendar.events.patch",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Event"
            }
          }
        },
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "eventId",
            "in": "path",
            "description": "Event identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "alwaysIncludeEmail",
            "in": "query",
            "description": "Whether to always include a value in the email field for the organizer, creator and attendees, even if no real email is available (i.e. a generated, non-working value will be provided). The use of this option is discouraged and should only be used by clients which cannot handle the absence of an email address value in the mentioned places. Optional. The default is False.",
            "type": "boolean"
          },
          {
            "name": "maxAttendees",
            "in": "query",
            "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "sendNotifications",
            "in": "query",
            "description": "Whether to send notifications about the event update (e.g. attendee's responses, title changes, etc.). Optional. The default is False.",
            "type": "boolean"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Event"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar"
            ]
          }
        ],
        "tags": [
          "events"
        ]
      },
      "put": {
        "description": "Updates an event.",
        "operationId": "calendar.events.update",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Event"
            }
          }
        },
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "eventId",
            "in": "path",
            "description": "Event identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "alwaysIncludeEmail",
            "in": "query",
            "description": "Whether to always include a value in the email field for the organizer, creator and attendees, even if no real email is available (i.e. a generated, non-working value will be provided). The use of this option is discouraged and should only be used by clients which cannot handle the absence of an email address value in the mentioned places. Optional. The default is False.",
            "type": "boolean"
          },
          {
            "name": "maxAttendees",
            "in": "query",
            "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "sendNotifications",
            "in": "query",
            "description": "Whether to send notifications about the event update (e.g. attendee's responses, title changes, etc.). Optional. The default is False.",
            "type": "boolean"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Event"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar"
            ]
          }
        ],
        "tags": [
          "events"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/calendars/{calendarId}/events/import": {
      "post": {
        "description": "Imports an event. This operation is used to add a private copy of an existing event to a calendar.",
        "operationId": "calendar.events.import",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Event"
            }
          }
        },
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Event"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar"
            ]
          }
        ],
        "tags": [
          "events"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/calendars/{calendarId}/events": {
      "post": {
        "description": "Creates an event.",
        "operationId": "calendar.events.insert",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Event"
            }
          }
        },
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "maxAttendees",
            "in": "query",
            "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "sendNotifications",
            "in": "query",
            "description": "Whether to send notifications about the creation of the new event. Optional. The default is False.",
            "type": "boolean"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Event"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar"
            ]
          }
        ],
        "tags": [
          "events"
        ]
      },
      "get": {
        "description": "Returns events on the specified calendar.",
        "operationId": "calendar.events.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Events"
            }
          }
        },
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "alwaysIncludeEmail",
            "in": "query",
            "description": "Whether to always include a value in the email field for the organizer, creator and attendees, even if no real email is available (i.e. a generated, non-working value will be provided). The use of this option is discouraged and should only be used by clients which cannot handle the absence of an email address value in the mentioned places. Optional. The default is False.",
            "type": "boolean"
          },
          {
            "name": "iCalUID",
            "in": "query",
            "description": "Specifies event ID in the iCalendar format to be included in the response. Optional.",
            "type": "string"
          },
          {
            "name": "maxAttendees",
            "in": "query",
            "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of events returned on one result page. By default the value is 250 events. The page size can never be larger than 2500 events. Optional.",
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "The order of the events returned in the result. Optional. The default is an unspecified, stable order.",
            "type": "string",
            "enum": [
              "startTime",
              "updated"
            ]
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Token specifying which result page to return. Optional.",
            "type": "string"
          },
          {
            "name": "privateExtendedProperty",
            "in": "query",
            "description": "Extended properties constraint specified as propertyName=value. Matches only private properties. This parameter might be repeated multiple times to return events that match all given constraints.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Free text search terms to find events that match these terms in any field, except for extended properties. Optional.",
            "type": "string"
          },
          {
            "name": "sharedExtendedProperty",
            "in": "query",
            "description": "Extended properties constraint specified as propertyName=value. Matches only shared properties. This parameter might be repeated multiple times to return events that match all given constraints.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "showDeleted",
            "in": "query",
            "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events (but not the underlying recurring event) will still be included if showDeleted and singleEvents are both False. If showDeleted and singleEvents are both True, only single instances of deleted events (but not the underlying recurring events) are returned. Optional. The default is False.",
            "type": "boolean"
          },
          {
            "name": "showHiddenInvitations",
            "in": "query",
            "description": "Whether to include hidden invitations in the result. Optional. The default is False.",
            "type": "boolean"
          },
          {
            "name": "singleEvents",
            "in": "query",
            "description": "Whether to expand recurring events into instances and only return single one-off events and instances of recurring events, but not the underlying recurring events themselves. Optional. The default is False.",
            "type": "boolean"
          },
          {
            "name": "syncToken",
            "in": "query",
            "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All events deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nThere are several query parameters that cannot be specified together with nextSyncToken to ensure consistency of the client state.\n\nThese are: \n- iCalUID \n- orderBy \n- privateExtendedProperty \n- q \n- sharedExtendedProperty \n- timeMin \n- timeMax \n- updatedMin If the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
            "type": "string"
          },
          {
            "name": "timeMax",
            "in": "query",
            "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time.",
            "type": "string"
          },
          {
            "name": "timeMin",
            "in": "query",
            "description": "Lower bound (inclusive) for an event's end time to filter by. Optional. The default is not to filter by end time.",
            "type": "string"
          },
          {
            "name": "timeZone",
            "in": "query",
            "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
            "type": "string"
          },
          {
            "name": "updatedMin",
            "in": "query",
            "description": "Lower bound for an event's last modification time (as a RFC 3339 timestamp) to filter by. When specified, entries deleted since this time will always be included regardless of showDeleted. Optional. The default is not to filter by last modification time.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar",
              "https://www.googleapis.com/auth/calendar.readonly"
            ]
          }
        ],
        "tags": [
          "events"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/calendars/{calendarId}/events/{eventId}/instances": {
      "get": {
        "description": "Returns instances of the specified recurring event.",
        "operationId": "calendar.events.instances",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Events"
            }
          }
        },
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "eventId",
            "in": "path",
            "description": "Recurring event identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "alwaysIncludeEmail",
            "in": "query",
            "description": "Whether to always include a value in the email field for the organizer, creator and attendees, even if no real email is available (i.e. a generated, non-working value will be provided). The use of this option is discouraged and should only be used by clients which cannot handle the absence of an email address value in the mentioned places. Optional. The default is False.",
            "type": "boolean"
          },
          {
            "name": "maxAttendees",
            "in": "query",
            "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of events returned on one result page. By default the value is 250 events. The page size can never be larger than 2500 events. Optional.",
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "originalStart",
            "in": "query",
            "description": "The original start time of the instance in the result. Optional.",
            "type": "string"
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Token specifying which result page to return. Optional.",
            "type": "string"
          },
          {
            "name": "showDeleted",
            "in": "query",
            "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events will still be included if singleEvents is False. Optional. The default is False.",
            "type": "boolean"
          },
          {
            "name": "timeMax",
            "in": "query",
            "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time.",
            "type": "string"
          },
          {
            "name": "timeMin",
            "in": "query",
            "description": "Lower bound (inclusive) for an event's end time to filter by. Optional. The default is not to filter by end time.",
            "type": "string"
          },
          {
            "name": "timeZone",
            "in": "query",
            "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar",
              "https://www.googleapis.com/auth/calendar.readonly"
            ]
          }
        ],
        "tags": [
          "events"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/calendars/{calendarId}/events/{eventId}/move": {
      "post": {
        "description": "Moves an event to another calendar, i.e. changes an event's organizer.",
        "operationId": "calendar.events.move",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Event"
            }
          }
        },
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier of the source calendar where the event currently is on.",
            "required": true,
            "type": "string"
          },
          {
            "name": "eventId",
            "in": "path",
            "description": "Event identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "destination",
            "in": "query",
            "description": "Calendar identifier of the target calendar where the event is to be moved to.",
            "required": true,
            "type": "string"
          },
          {
            "name": "sendNotifications",
            "in": "query",
            "description": "Whether to send notifications about the change of the event's organizer. Optional. The default is False.",
            "type": "boolean"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar"
            ]
          }
        ],
        "tags": [
          "events"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/calendars/{calendarId}/events/quickAdd": {
      "post": {
        "description": "Creates an event based on a simple text string.",
        "operationId": "calendar.events.quickAdd",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Event"
            }
          }
        },
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "text",
            "in": "query",
            "description": "The text describing the event to be created.",
            "required": true,
            "type": "string"
          },
          {
            "name": "sendNotifications",
            "in": "query",
            "description": "Whether to send notifications about the creation of the event. Optional. The default is False.",
            "type": "boolean"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar"
            ]
          }
        ],
        "tags": [
          "events"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/calendars/{calendarId}/events/watch": {
      "post": {
        "description": "Watch for changes to Events resources.",
        "operationId": "calendar.events.watch",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Channel"
            }
          }
        },
        "parameters": [
          {
            "name": "calendarId",
            "in": "path",
            "description": "Calendar identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "alwaysIncludeEmail",
            "in": "query",
            "description": "Whether to always include a value in the email field for the organizer, creator and attendees, even if no real email is available (i.e. a generated, non-working value will be provided). The use of this option is discouraged and should only be used by clients which cannot handle the absence of an email address value in the mentioned places. Optional. The default is False.",
            "type": "boolean"
          },
          {
            "name": "iCalUID",
            "in": "query",
            "description": "Specifies event ID in the iCalendar format to be included in the response. Optional.",
            "type": "string"
          },
          {
            "name": "maxAttendees",
            "in": "query",
            "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of events returned on one result page. By default the value is 250 events. The page size can never be larger than 2500 events. Optional.",
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "The order of the events returned in the result. Optional. The default is an unspecified, stable order.",
            "type": "string",
            "enum": [
              "startTime",
              "updated"
            ]
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Token specifying which result page to return. Optional.",
            "type": "string"
          },
          {
            "name": "privateExtendedProperty",
            "in": "query",
            "description": "Extended properties constraint specified as propertyName=value. Matches only private properties. This parameter might be repeated multiple times to return events that match all given constraints.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Free text search terms to find events that match these terms in any field, except for extended properties. Optional.",
            "type": "string"
          },
          {
            "name": "sharedExtendedProperty",
            "in": "query",
            "description": "Extended properties constraint specified as propertyName=value. Matches only shared properties. This parameter might be repeated multiple times to return events that match all given constraints.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "showDeleted",
            "in": "query",
            "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events (but not the underlying recurring event) will still be included if showDeleted and singleEvents are both False. If showDeleted and singleEvents are both True, only single instances of deleted events (but not the underlying recurring events) are returned. Optional. The default is False.",
            "type": "boolean"
          },
          {
            "name": "showHiddenInvitations",
            "in": "query",
            "description": "Whether to include hidden invitations in the result. Optional. The default is False.",
            "type": "boolean"
          },
          {
            "name": "singleEvents",
            "in": "query",
            "description": "Whether to expand recurring events into instances and only return single one-off events and instances of recurring events, but not the underlying recurring events themselves. Optional. The default is False.",
            "type": "boolean"
          },
          {
            "name": "syncToken",
            "in": "query",
            "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All events deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nThere are several query parameters that cannot be specified together with nextSyncToken to ensure consistency of the client state.\n\nThese are: \n- iCalUID \n- orderBy \n- privateExtendedProperty \n- q \n- sharedExtendedProperty \n- timeMin \n- timeMax \n- updatedMin If the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
            "type": "string"
          },
          {
            "name": "timeMax",
            "in": "query",
            "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time.",
            "type": "string"
          },
          {
            "name": "timeMin",
            "in": "query",
            "description": "Lower bound (inclusive) for an event's end time to filter by. Optional. The default is not to filter by end time.",
            "type": "string"
          },
          {
            "name": "timeZone",
            "in": "query",
            "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
            "type": "string"
          },
          {
            "name": "updatedMin",
            "in": "query",
            "description": "Lower bound for an event's last modification time (as a RFC 3339 timestamp) to filter by. When specified, entries deleted since this time will always be included regardless of showDeleted. Optional. The default is not to filter by last modification time.",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Channel"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar",
              "https://www.googleapis.com/auth/calendar.readonly"
            ]
          }
        ],
        "tags": [
          "events"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/freeBusy": {
      "post": {
        "description": "Returns free/busy information for a set of calendars.",
        "operationId": "calendar.freebusy.query",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/FreeBusyResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/FreeBusyRequest"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar",
              "https://www.googleapis.com/auth/calendar.readonly"
            ]
          }
        ],
        "tags": [
          "freebusy"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/users/me/settings/{setting}": {
      "get": {
        "description": "Returns a single user setting.",
        "operationId": "calendar.settings.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Setting"
            }
          }
        },
        "parameters": [
          {
            "name": "setting",
            "in": "path",
            "description": "The id of the user setting.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar",
              "https://www.googleapis.com/auth/calendar.readonly"
            ]
          }
        ],
        "tags": [
          "settings"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/users/me/settings": {
      "get": {
        "description": "Returns all user settings for the authenticated user.",
        "operationId": "calendar.settings.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Settings"
            }
          }
        },
        "parameters": [
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Token specifying which result page to return. Optional.",
            "type": "string"
          },
          {
            "name": "syncToken",
            "in": "query",
            "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar",
              "https://www.googleapis.com/auth/calendar.readonly"
            ]
          }
        ],
        "tags": [
          "settings"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/users/me/settings/watch": {
      "post": {
        "description": "Watch for changes to Settings resources.",
        "operationId": "calendar.settings.watch",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Channel"
            }
          }
        },
        "parameters": [
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Token specifying which result page to return. Optional.",
            "type": "string"
          },
          {
            "name": "syncToken",
            "in": "query",
            "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Channel"
            }
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/calendar",
              "https://www.googleapis.com/auth/calendar.readonly"
            ]
          }
        ],
        "tags": [
          "settings"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    }
  },
  "definitions": {
    "Acl": {
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the collection."
        },
        "items": {
          "type": "array",
          "description": "List of rules on the access control list.",
          "items": {
            "$ref": "#/definitions/AclRule"
          }
        },
        "kind": {
          "type": "string",
          "description": "Type of the collection (\"calendar#acl\").",
          "default": "calendar#acl"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided."
        },
        "nextSyncToken": {
          "type": "string",
          "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided."
        }
      }
    },
    "AclRule": {
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "id": {
          "type": "string",
          "description": "Identifier of the ACL rule."
        },
        "kind": {
          "type": "string",
          "description": "Type of the resource (\"calendar#aclRule\").",
          "default": "calendar#aclRule"
        },
        "role": {
          "type": "string",
          "description": "The role assigned to the scope. Possible values are:  \n- \"none\" - Provides no access. \n- \"freeBusyReader\" - Provides read access to free/busy information. \n- \"reader\" - Provides read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. \n- \"writer\" - Provides read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. \n- \"owner\" - Provides ownership of the calendar. This role has all of the permissions of the writer role with the additional ability to see and manipulate ACLs."
        },
        "scope": {
          "type": "object",
          "description": "The scope of the rule.",
          "properties": {
            "type": {
              "type": "string",
              "description": "The type of the scope. Possible values are:  \n- \"default\" - The public scope. This is the default value. \n- \"user\" - Limits the scope to a single user. \n- \"group\" - Limits the scope to a group. \n- \"domain\" - Limits the scope to a domain.  Note: The permissions granted to the \"default\", or public, scope apply to any user, authenticated or not."
            },
            "value": {
              "type": "string",
              "description": "The email address of a user or group, or the name of a domain, depending on the scope type. Omitted for type \"default\"."
            }
          }
        }
      }
    },
    "Calendar": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of the calendar. Optional."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "id": {
          "type": "string",
          "description": "Identifier of the calendar."
        },
        "kind": {
          "type": "string",
          "description": "Type of the resource (\"calendar#calendar\").",
          "default": "calendar#calendar"
        },
        "location": {
          "type": "string",
          "description": "Geographic location of the calendar as free-form text. Optional."
        },
        "summary": {
          "type": "string",
          "description": "Title of the calendar."
        },
        "timeZone": {
          "type": "string",
          "description": "The time zone of the calendar. (Formatted as an IANA Time Zone Database name, e.g. \"Europe/Zurich\".) Optional."
        }
      }
    },
    "CalendarList": {
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the collection."
        },
        "items": {
          "type": "array",
          "description": "Calendars that are present on the user's calendar list.",
          "items": {
            "$ref": "#/definitions/CalendarListEntry"
          }
        },
        "kind": {
          "type": "string",
          "description": "Type of the collection (\"calendar#calendarList\").",
          "default": "calendar#calendarList"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided."
        },
        "nextSyncToken": {
          "type": "string",
          "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided."
        }
      }
    },
    "CalendarListEntry": {
      "type": "object",
      "properties": {
        "accessRole": {
          "type": "string",
          "description": "The effective access role that the authenticated user has on the calendar. Read-only. Possible values are:  \n- \"freeBusyReader\" - Provides read access to free/busy information. \n- \"reader\" - Provides read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. \n- \"writer\" - Provides read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. \n- \"owner\" - Provides ownership of the calendar. This role has all of the permissions of the writer role with the additional ability to see and manipulate ACLs."
        },
        "backgroundColor": {
          "type": "string",
          "description": "The main color of the calendar in the hexadecimal format \"#0088aa\". This property supersedes the index-based colorId property. Optional."
        },
        "colorId": {
          "type": "string",
          "description": "The color of the calendar. This is an ID referring to an entry in the calendar section of the colors definition (see the colors endpoint). Optional."
        },
        "defaultReminders": {
          "type": "array",
          "description": "The default reminders that the authenticated user has for this calendar.",
          "items": {
            "$ref": "#/definitions/EventReminder"
          }
        },
        "deleted": {
          "type": "boolean",
          "description": "Whether this calendar list entry has been deleted from the calendar list. Read-only. Optional. The default is False.",
          "default": "false"
        },
        "description": {
          "type": "string",
          "description": "Description of the calendar. Optional. Read-only."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "foregroundColor": {
          "type": "string",
          "description": "The foreground color of the calendar in the hexadecimal format \"#ffffff\". This property supersedes the index-based colorId property. Optional."
        },
        "hidden": {
          "type": "boolean",
          "description": "Whether the calendar has been hidden from the list. Optional. The default is False.",
          "default": "false"
        },
        "id": {
          "type": "string",
          "description": "Identifier of the calendar."
        },
        "kind": {
          "type": "string",
          "description": "Type of the resource (\"calendar#calendarListEntry\").",
          "default": "calendar#calendarListEntry"
        },
        "location": {
          "type": "string",
          "description": "Geographic location of the calendar as free-form text. Optional. Read-only."
        },
        "notificationSettings": {
          "type": "object",
          "description": "The notifications that the authenticated user is receiving for this calendar.",
          "properties": {
            "notifications": {
              "type": "array",
              "description": "The list of notifications set for this calendar.",
              "items": {
                "$ref": "#/definitions/CalendarNotification"
              }
            }
          }
        },
        "primary": {
          "type": "boolean",
          "description": "Whether the calendar is the primary calendar of the authenticated user. Read-only. Optional. The default is False.",
          "default": "false"
        },
        "selected": {
          "type": "boolean",
          "description": "Whether the calendar content shows up in the calendar UI. Optional. The default is False.",
          "default": "false"
        },
        "summary": {
          "type": "string",
          "description": "Title of the calendar. Read-only."
        },
        "summaryOverride": {
          "type": "string",
          "description": "The summary that the authenticated user has set for this calendar. Optional."
        },
        "timeZone": {
          "type": "string",
          "description": "The time zone of the calendar. Optional. Read-only."
        }
      }
    },
    "CalendarNotification": {
      "type": "object",
      "properties": {
        "method": {
          "type": "string",
          "description": "The method used to deliver the notification. Possible values are:  \n- \"email\" - Reminders are sent via email. \n- \"sms\" - Reminders are sent via SMS. This value is read-only and is ignored on inserts and updates."
        },
        "type": {
          "type": "string",
          "description": "The type of notification. Possible values are:  \n- \"eventCreation\" - Notification sent when a new event is put on the calendar. \n- \"eventChange\" - Notification sent when an event is changed. \n- \"eventCancellation\" - Notification sent when an event is cancelled. \n- \"eventResponse\" - Notification sent when an event is changed. \n- \"agenda\" - An agenda with the events of the day (sent out in the morning)."
        }
      }
    },
    "Channel": {
      "type": "object",
      "properties": {
        "address": {
          "type": "string",
          "description": "The address where notifications are delivered for this channel."
        },
        "expiration": {
          "type": "string",
          "description": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.",
          "format": "int64"
        },
        "id": {
          "type": "string",
          "description": "A UUID or similar unique string that identifies this channel."
        },
        "kind": {
          "type": "string",
          "description": "Identifies this as a notification channel used to watch for changes to a resource. Value: the fixed string \"api#channel\".",
          "default": "api#channel"
        },
        "params": {
          "type": "object",
          "description": "Additional parameters controlling delivery channel behavior. Optional.",
          "additionalProperties": {
            "type": "string",
            "description": "Declares a new parameter by name."
          }
        },
        "payload": {
          "type": "boolean",
          "description": "A Boolean value to indicate whether payload is wanted. Optional."
        },
        "resourceId": {
          "type": "string",
          "description": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions."
        },
        "resourceUri": {
          "type": "string",
          "description": "A version-specific identifier for the watched resource."
        },
        "token": {
          "type": "string",
          "description": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional."
        },
        "type": {
          "type": "string",
          "description": "The type of delivery mechanism used for this channel."
        }
      }
    },
    "ColorDefinition": {
      "type": "object",
      "properties": {
        "background": {
          "type": "string",
          "description": "The background color associated with this color definition."
        },
        "foreground": {
          "type": "string",
          "description": "The foreground color that can be used to write on top of a background with 'background' color."
        }
      }
    },
    "Colors": {
      "type": "object",
      "properties": {
        "calendar": {
          "type": "object",
          "description": "Palette of calendar colors, mapping from the color ID to its definition. A calendarListEntry resource refers to one of these color IDs in its color field. Read-only.",
          "additionalProperties": {
            "$ref": "#/definitions/ColorDefinition",
            "description": "A calendar color defintion."
          }
        },
        "event": {
          "type": "object",
          "description": "Palette of event colors, mapping from the color ID to its definition. An event resource may refer to one of these color IDs in its color field. Read-only.",
          "additionalProperties": {
            "$ref": "#/definitions/ColorDefinition",
            "description": "An event color definition."
          }
        },
        "kind": {
          "type": "string",
          "description": "Type of the resource (\"calendar#colors\").",
          "default": "calendar#colors"
        },
        "updated": {
          "type": "string",
          "description": "Last modification time of the color palette (as a RFC 3339 timestamp). Read-only.",
          "format": "date-time"
        }
      }
    },
    "Error": {
      "type": "object",
      "properties": {
        "domain": {
          "type": "string",
          "description": "Domain, or broad category, of the error."
        },
        "reason": {
          "type": "string",
          "description": "Specific reason for the error. Some of the possible values are:  \n- \"groupTooBig\" - The group of users requested is too large for a single query. \n- \"tooManyCalendarsRequested\" - The number of calendars requested is too large for a single query. \n- \"notFound\" - The requested resource was not found. \n- \"internalError\" - The API service has encountered an internal error.  Additional error types may be added in the future, so clients should gracefully handle additional error statuses not included in this list."
        }
      }
    },
    "Event": {
      "type": "object",
      "properties": {
        "anyoneCanAddSelf": {
          "type": "boolean",
          "description": "Whether anyone can invite themselves to the event. Optional. The default is False.",
          "default": "false"
        },
        "attendees": {
          "type": "array",
          "description": "The attendees of the event.",
          "items": {
            "$ref": "#/definitions/EventAttendee"
          }
        },
        "attendeesOmitted": {
          "type": "boolean",
          "description": "Whether attendees may have been omitted from the event's representation. When retrieving an event, this may be due to a restriction specified by the maxAttendee query parameter. When updating an event, this can be used to only update the participant's response. Optional. The default is False.",
          "default": "false"
        },
        "colorId": {
          "type": "string",
          "description": "The color of the event. This is an ID referring to an entry in the event section of the colors definition (see the  colors endpoint). Optional."
        },
        "created": {
          "type": "string",
          "description": "Creation time of the event (as a RFC 3339 timestamp). Read-only.",
          "format": "date-time"
        },
        "creator": {
          "type": "object",
          "description": "The creator of the event. Read-only.",
          "properties": {
            "displayName": {
              "type": "string",
              "description": "The creator's name, if available."
            },
            "email": {
              "type": "string",
              "description": "The creator's email address, if available."
            },
            "id": {
              "type": "string",
              "description": "The creator's Profile ID, if available."
            },
            "self": {
              "type": "boolean",
              "description": "Whether the creator corresponds to the calendar on which this copy of the event appears. Read-only. The default is False.",
              "default": "false"
            }
          }
        },
        "description": {
          "type": "string",
          "description": "Description of the event. Optional."
        },
        "end": {
          "$ref": "#/definitions/EventDateTime",
          "description": "The (exclusive) end time of the event. For a recurring event, this is the end time of the first instance."
        },
        "endTimeUnspecified": {
          "type": "boolean",
          "description": "Whether the end time is actually unspecified. An end time is still provided for compatibility reasons, even if this attribute is set to True. The default is False.",
          "default": "false"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "extendedProperties": {
          "type": "object",
          "description": "Extended properties of the event.",
          "properties": {
            "private": {
              "type": "object",
              "description": "Properties that are private to the copy of the event that appears on this calendar.",
              "additionalProperties": {
                "type": "string",
                "description": "The name of the private property and the corresponding value."
              }
            },
            "shared": {
              "type": "object",
              "description": "Properties that are shared between copies of the event on other attendees' calendars.",
              "additionalProperties": {
                "type": "string",
                "description": "The name of the shared property and the corresponding value."
              }
            }
          }
        },
        "gadget": {
          "type": "object",
          "description": "A gadget that extends this event.",
          "properties": {
            "display": {
              "type": "string",
              "description": "The gadget's display mode. Optional. Possible values are:  \n- \"icon\" - The gadget displays next to the event's title in the calendar view. \n- \"chip\" - The gadget displays when the event is clicked."
            },
            "height": {
              "type": "integer",
              "description": "The gadget's height in pixels. Optional.",
              "format": "int32"
            },
            "iconLink": {
              "type": "string",
              "description": "The gadget's icon URL."
            },
            "link": {
              "type": "string",
              "description": "The gadget's URL."
            },
            "preferences": {
              "type": "object",
              "description": "Preferences.",
              "additionalProperties": {
                "type": "string",
                "description": "The preference name and corresponding value."
              }
            },
            "title": {
              "type": "string",
              "description": "The gadget's title."
            },
            "type": {
              "type": "string",
              "description": "The gadget's type."
            },
            "width": {
              "type": "integer",
              "description": "The gadget's width in pixels. Optional.",
              "format": "int32"
            }
          }
        },
        "guestsCanInviteOthers": {
          "type": "boolean",
          "description": "Whether attendees other than the organizer can invite others to the event. Optional. The default is True.",
          "default": "true"
        },
        "guestsCanModify": {
          "type": "boolean",
          "description": "Whether attendees other than the organizer can modify the event. Optional. The default is False.",
          "default": "false"
        },
        "guestsCanSeeOtherGuests": {
          "type": "boolean",
          "description": "Whether attendees other than the organizer can see who the event's attendees are. Optional. The default is True.",
          "default": "true"
        },
        "hangoutLink": {
          "type": "string",
          "description": "An absolute link to the Google+ hangout associated with this event. Read-only."
        },
        "htmlLink": {
          "type": "string",
          "description": "An absolute link to this event in the Google Calendar Web UI. Read-only."
        },
        "iCalUID": {
          "type": "string",
          "description": "Event ID in the iCalendar format."
        },
        "id": {
          "type": "string",
          "description": "Identifier of the event. When creating new single or recurring events, you can specify their IDs. Provided IDs must follow these rules:  \n- characters allowed in the ID are those used in base32hex encoding, i.e. lowercase letters a-v and digits 0-9, see section 3.1.2 in RFC2938 \n- the length of the ID must be between 5 and 1024 characters \n- the ID must be unique per calendar  Due to the globally distributed nature of the system, we cannot guarantee that ID collisions will be detected at event creation time. To minimize the risk of collisions we recommend using an established UUID algorithm such as one described in RFC4122."
        },
        "kind": {
          "type": "string",
          "description": "Type of the resource (\"calendar#event\").",
          "default": "calendar#event"
        },
        "location": {
          "type": "string",
          "description": "Geographic location of the event as free-form text. Optional."
        },
        "locked": {
          "type": "boolean",
          "description": "Whether this is a locked event copy where no changes can be made to the main event fields \"summary\", \"description\", \"location\", \"start\", \"end\" or \"recurrence\". The default is False. Read-Only.",
          "default": "false"
        },
        "organizer": {
          "type": "object",
          "description": "The organizer of the event. If the organizer is also an attendee, this is indicated with a separate entry in attendees with the organizer field set to True. To change the organizer, use the move operation. Read-only, except when importing an event.",
          "properties": {
            "displayName": {
              "type": "string",
              "description": "The organizer's name, if available."
            },
            "email": {
              "type": "string",
[...]
