swagger: '2.0'
schemes:
  - https
host: api.ebay.com
basePath: /buy/feed/v1_beta
info:
  contact:
    name: 'eBay Inc,'
    x-twitter: ebay
  description: The Feed API provides the ability to download TSV_GZIP feed files containing eBay items and an hourly snapshot file of the items that have changed within an hour for a specific category and date.
  license:
    name: eBay API License Agreement
    url: 'https://go.developer.ebay.com/api-license-agreement'
  title: Item Feed Service
  version: v1_beta.9.0
  x-apisguru-categories:
    - ecommerce
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/ebay/profile_image?size=original'
  x-origin:
    - format: swagger
      url: 'https://developer.ebay.com/api-docs/master/buy/feed/openapi/2/buy_feed_v1_beta_oas2.json'
      version: '2.0'
  x-providerName: ebay.com
  x-serviceName: buy-feed
produces:
  - application/json
  - text/tab-separated-values
securityDefinitions:
  Client Credentials:
    description: The security definitions for this API. Please check individual operations for applicable scopes.
    flow: application
    scopes:
      'https://api.ebay.com/oauth/api_scope/buy.item.feed': View curated feeds of eBay items
    tokenUrl: 'https://api.ebay.com/identity/v1/oauth2/token'
    type: oauth2
paths:
  /item:
    get:
      description: 'This call lets you download a daily TSV_GZIP (tab separated value gzip) Item feed file. There are two Item feed files for every top-level (L1) category, including all its child categories: A file generated each day containing all the newly listed items for a specific category and date (feed_scope = NEWLY_LISTED) A file containing all the items in a specific category (feed_scope = ALL_ACTIVE) For each item, the primary item details are returned, except for the item description. The description of each item is excluded because these can be huge and items in an item group (an item with variations, such as size and color) can share the same description. The item descriptions are returned in a separate Item Description gzip feed file by the getItemDescriptionFeed call. To store all the item details provided by the Feed API, you would use the getItemFeed and getItemDescriptionFeed calls with the same parameters. For example: &nbsp;&nbsp;&nbsp; /item?feed_scope=NEWLY_LISTED&amp;category_id=625&amp;date=20170918 &nbsp;&nbsp;&nbsp; /item_description?feed_scope=NEWLY_LISTED&amp;category_id=625&amp;date=20170918 Items returned in the feed file All items in the file are: In new condition Fixed price (Buy It Now); no auctions From eBay trusted sellers Note: When curating the items returned, be sure to code as if these filters are not applied as they can be changed or removed in the future. The feed file contains all the items from all the child categories of the specified category. The first line of the file is the header, which labels the columns and indicates the order of the values on each line. Each header is described in the Response fields section. URLs for this call Production URL: https://api.ebay.com/buy/feed/v1_beta/ Sandbox URL: https://api.sandbox.ebay.com/buy/feed/v1_beta/ Downloading feed files Item feed files are binary gzip files. If the file is larger than 100 MB, the download must be streamed in chunks. You specify the size of the chunks in bytes using the Range request header. The Content-range response header indicates where in the full resource this partial chunk of data belongs and the total number of bytes in the file. For more information about using these headers, see Retrieving a gzip feed file. Important: The response is always a TSV_GZIP file. But for documentation purposes, the response is shown as JSON fields so that the value returned in each column can be explained. The order of the response fields, shows you the order of the columns in the feed file. Restrictions For a list of supported sites and other restrictions, see API Restrictions.'
      operationId: getItemFeed
      parameters:
        - description: 'The ID for the eBay marketplace where the items are hosted. For example: &nbsp;&nbsp;X-EBAY-C-MARKETPLACE-ID = EBAY-US For a list of supported sites see, API Restrictions.'
          in: header
          name: X-EBAY-C-MARKETPLACE-ID
          required: true
          type: string
        - description: 'This header specifies the range in bytes of the chunks of the gzip file being returned. Format: bytes=startpos-endpos For example, the following retrieves the first 10 MBs of the feed file. &nbsp;&nbsp;Range bytes=0-10485760 For more information about using this headers, see Retrieving a gzip feed file. Maximum: 100 MB'
          in: header
          name: Range
          required: true
          type: string
        - description: 'Specifies the type of file to return. Valid Values: NEWLY_LISTED - Returns the file containing all items that were listed on the day specified by the date parameter in the category specified by the category_id parameter. The items will be Good ''Til Cancelled and non-Good ''Til Cancelled items. If the item is a non-Good ''Til Cancelled item, the item''s end date will be returned in the itemEndDate column. /item?feed_scope=NEWLY_LISTED&amp;category_id=15032&amp;date=20170925 ALL_ACTIVE (bootstrap) - Returns the file containing all the ''Good ''Til Cancelled'' items in the category specified by the category_id parameter. /item?feed_scope=ALL_ACTIVE&amp;category_id=15032&amp;date=20170925 Note: This file type is generated only on request. After the file is generated, you use this method and feed_scope to download the file.'
          in: query
          name: feed_scope
          required: true
          type: string
        - description: 'An eBay top-level category ID of the items to be returned in the feed file. The list of eBay category IDs changes over time and category IDs are not the same across all the eBay marketplaces. To get a list of the top-level categories for a marketplaces, you can use the Taxonomy API getCategoryTree call. This call retrieves the complete category tree for the marketplace. The top-level categories are identified by the categoryTreeNodeLevel field. For example: &nbsp;&nbsp;&quot;categoryTreeNodeLevel&quot;: 1 For details see Get Categories for Buy APIs. Restriction: Must be a top-level category'
          in: query
          name: category_id
          required: true
          type: string
        - description: 'The date of the feed file you want. This is needed only when feed_scope=NEWLY_LISTED. If you specify a date and feed_scope=ALL_ACTIVE, the date is ignored and the latest file is returned. The date of the file is returned in the Last-Modified response header. The Item feed files are generated every day and there are always 14 daily feed files available. Important: The daily generated files are available each day after 9AM MST (US Mountain Standard Time), which is -7 hours UTC time. There is a 48 hour latency when generating the files, however it can take up to 72 hours for some of the larger files. This means you can download the file for July 10th on July 12 after 9AM MST. Format: yyyyMMdd Requirements: Must be within 3-14 days in the past Required when feed_scope=NEWLY_LISTED'
          in: query
          name: date
          required: false
          type: string
      responses:
        '200':
          description: Partial Content
          headers:
            Content-range:
              description: 'The content-range response header indicates where in the full resource this partial chunk of data belongs. It returns the lower and upper values in bytes (specified by the Range header) of the chunk and the total size of the file being downloaded in bytes. Maximum range: 100 MB The following is an example of a content-range response, where 0-10 is the lower and upper limit in bytes and 1000 is the total size of the file in bytes. &nbsp;&nbsp;0-10/1000 The following example of a content-range response indicates the value of the Range header is invalid and a 416 status code is returned. &nbsp;&nbsp; */1000 For more information and examples, see Retrieving a gzip feed file.'
              type: string
            Last-Modified:
              description: 'Returns the date when the file was generated. For example: Last-Modified&nbsp;&nbsp;Wed, 21 Oct 2015 07:28:00 GMT'
              type: string
          schema:
            $ref: '#/definitions/ItemResponse'
        '206':
          description: Partial Content
          headers:
            Content-range:
              description: 'The content-range response header indicates where in the full resource this partial chunk of data belongs. It returns the lower and upper values in bytes (specified by the Range header) of the chunk and the total size of the file being downloaded in bytes. Maximum range: 100 MB The following is an example of a content-range response, where 0-10 is the lower and upper limit in bytes and 1000 is the total size of the file in bytes. &nbsp;&nbsp;0-10/1000 The following example of a content-range response indicates the value of the Range header is invalid and a 416 status code is returned. &nbsp;&nbsp; */1000 For more information and examples, see Retrieving a gzip feed file.'
              type: string
            Last-Modified:
              description: 'Returns the date when the file was generated. For example: Last-Modified&nbsp;&nbsp;Wed, 21 Oct 2015 07:28:00 GMT'
              type: string
          schema:
            $ref: '#/definitions/ItemResponse'
        '400':
          description: Bad request
          x-response-codes:
            errors:
              '13000':
                category: REQUEST
                description: 'The request contains data that is invalid. Correct the request and submit the call again. For help, see the API Reference documentation for this call.'
                domain: API_FEED
              '13003':
                category: REQUEST
                description: 'The ''feed_scope'' {feed_scope} submitted is invalid. Valid values: {feedScopes}'
                domain: API_FEED
              '13004':
                category: REQUEST
                description: 'The ''category_id'' {category_id} submitted is invalid. See the API documentation for help on how to find category Ids.'
                domain: API_FEED
              '13005':
                category: REQUEST
                description: 'The ''date'' {date} submitted is invalid. The date can be 3 to 9 days in the past. The format is yyyMMdd.'
                domain: API_FEED
              '13006':
                category: REQUEST
                description: 'There was a problem with an eBay internal system or process. Wait a few minutes and retry the call. If that doesn''t work, contact eBay Support.'
                domain: API_FEED
              '13007':
                category: REQUEST
                description: The feed file requested cannot be found. It is possible the file requested is in the process of being generated. Either change the date or try the call again later.
                domain: API_FEED
              '13009':
                category: REQUEST
                description: 'The mandatory ''feed_scope'' query parameter is missing. Valid values: {feedScopes}'
                domain: API_FEED
              '13010':
                category: REQUEST
                description: The mandatory 'category_id' query parameter is missing.
                domain: API_FEED
              '13011':
                category: REQUEST
                description: 'The mandatory ''date'' query parameter is missing. Valid values: {earliestDate} to {latestDate} days in the past. The format is yyyMMdd.'
                domain: API_FEED
              '13012':
                category: REQUEST
                description: 'The marketplace Id {marketplaceId} is invalid. Valid values: {allowedMarketplaces}'
                domain: API_FEED
              '13013':
                category: REQUEST
                description: 'The mandatory ''X-EBAY-C-MARKETPLACE-ID'' header is missing. Valid values: {allowedMarketplaces}'
                domain: API_FEED
              '13014':
                category: REQUEST
                description: 'The marketplace Id {marketplaceId} is not supported. Valid values: {allowedMarketplaces}'
                domain: API_FEED
              '13015':
                category: REQUEST
                description: 'The mandatory ''Range'' request header is missing. For help, see the API Reference documentation for this call.'
                domain: API_FEED
              '13016':
                category: REQUEST
                description: 'The ''Range'' request header format is invalid. Format: ''bytes=start position-end position''.  For help, see the API Reference documentation for this call.'
                domain: API_FEED
              '13017':
                category: REQUEST
                description: 'The ''Range'' header is invalid. Please verify that the start and end positions are correct. For help, see the API Reference documentation for this call.'
                domain: API_FEED
              '13018':
                category: REQUEST
                description: The start position in the range header is invalid.
                domain: API_FEED
              '13019':
                category: REQUEST
                description: The end position in the range header is invalid.
                domain: API_FEED
        '404':
          description: Not found
        '416':
          description: Range not satisfiable
        '500':
          description: Internal server error
      security:
        - Client Credentials:
            - 'https://api.ebay.com/oauth/api_scope/buy.item.feed'
      tags:
        - item
  /item_description:
    get:
      description: 'This call lets you download a daily TSV_GZIP (tab separated value gzip) Item Description feed file. There are two Item Description feed files generated for every top-level (L1) category, including all its child categories: A file generated each day containing the item descriptions for all the newly listed items for a specific category and date (feed_scope = NEWLY_LISTED) A file containing the item descriptions for all the items in a specific category (feed_scope = ALL_ACTIVE) To store all the item details provided by the Feed API, you would use the getItemFeed and getItemDescriptionFeed calls with the same parameters. For example: &nbsp;&nbsp;&nbsp; /item?feed_scope=NEWLY_LISTED&amp;category_id=625&amp;date=20170918 &nbsp;&nbsp;&nbsp; /item_description?feed_scope=NEWLY_LISTED&amp;category_id=625&amp;date=20170918 Combining the Description and Item feed files The Description feed file contains only the itemId, itemGroupId and description columns. The value of the description column is BASE64 encoded for security reasons. For each row, there will be values in either itemId or itemGroupId. The description column will always contain a value. itemGroupId - The value in this column is the ID of an item group (an item with variations, such as size and color) where the items in the group share the same description. Even though the itemGroupId represents more than one item, the itemGroupId and description are returned only once for the entire group. In this case, there will be values in the itemGroupId and description columns. You match the value of itemGroupId from the Description feed file with the value of primaryItemGroupId from the Item feed file for the same day and category. itemId - The value in this column is the ID of an item that is not part of an item group or (in rare cases) the item is part of an item group but does not share a description with other items in the group. In this case, there will be values in the itemId and description columns. You match the value of itemId from the Description feed file with the value of itemId from the Item feed file for the same day and category. The file will contain the descriptions for all the items or item groups from all the child categories of the category. The first line of the file is the header, which labels the columns and indicates the order of the values on each line. Each column is described in the Response fields section. URLs for this call Production URL: https://api.ebay.com/buy/feed/v1_beta/ Sandbox URL: https://api.sandbox.ebay.com/buy/feed/v1_beta/ Downloading feed files Description feed files are very large so the gzip file, which is binary, is streamed in chunks. You specify the size of the chunks in bytes using the Range request header. The Content-range response header indicates where in the full resource this partial chunk of data belongs and the total number of bytes in the file. For more information about using these headers, see Retrieving a gzip feed file. Important: The response is always a TSV_GZIP file. But for documentation purposes, the response is shown as JSON fields so that the value returned in each column can be explained. The order of the response fields, shows you the order of the columns in the feed file. Restrictions For a list of supported sites and other restrictions, see API Restrictions.'
      operationId: getItemDescriptionFeed
      parameters:
        - description: 'The ID for the eBay marketplace where the items are hosted. For example: &nbsp;&nbsp;X-EBAY-C-MARKETPLACE-ID = EBAY-US For a list of supported sites see, API Restrictions.'
          in: header
          name: X-EBAY-C-MARKETPLACE-ID
          required: true
          type: string
        - description: 'This header specifies the range in bytes of the chunks of the gzip file being returned. Format: bytes=startpos-endpos For example, the following retrieves the first 10 MBs of the feed file. &nbsp;&nbsp;Range bytes=0-10485760 For more information about using this headers, see Retrieving a gzip feed file. Maximum: 100 MB'
          in: header
          name: Range
          required: true
          type: string
        - description: 'Specifies the type of file to return. Valid Values: NEWLY_LISTED - Returns the file containing all items that were listed on the day specified by the date parameter in the category specified by the category_id parameter. The items will be Good ''Til Cancelled and non-Good ''Til Cancelled items. If the item is a non-Good ''Til Cancelled item, the item''s end date will be returned in the itemEndDate column. /item_description?feed_scope=NEWLY_LISTED&amp;category_id=15032&amp;date=20170925 ALL_ACTIVE (bootstrap) - Returns the file containing all the ''Good ''Til Cancelled'' items in the category specified by the category_id parameter. /item_description?feed_scope=ALL_ACTIVE&amp;category_id=15032&amp;date=20170925 Note: This file type is generated only on request. After the file is generated, you use this method and feed_scope to download the file.'
          in: query
          name: feed_scope
          required: true
          type: string
        - description: 'An eBay top-level category ID of the items to be returned in the feed file. The list of eBay category IDs changes over time and category IDs are not the same across all the eBay marketplaces. To get a list of the top-level categories for a marketplace, you can use the Taxonomy API getCategoryTree call. This call retrieves the complete category tree for the marketplace. The top-level categories are identified by the categoryTreeNodeLevel field. For example: &nbsp;&nbsp;&quot;categoryTreeNodeLevel&quot;: 1 For details see Get Categories for Buy APIs. Restriction: Must be a top-level category'
          in: query
          name: category_id
          required: true
          type: string
        - description: 'The date of the feed file you want. This is needed only when feed_scope=NEWLY_LISTED. If you specify a date and feed_scope=ALL_ACTIVE, the date is ignored and the latest file is returned. The date of the file is returned in the Last-Modified response header. The Description feed files are generated every day and there are always 14 daily feed files available. There is a 48 hour latency when generating the files, however it can take up to 72 hours for some of the larger files. This means on July 10, the latest feed file you can download is July 8. In other words, if you wanted the file generated on July 10th, you would need to wait until July 12th. Note: The generated files are stored using MST (US Mountain Standard Time), which is -7 hours UTC time. Format: yyyyMMdd Requirements: Must be within 3-14 days in the past Required when feed_scope=NEWLY_LISTED'
          in: query
          name: date
          required: false
          type: string
      responses:
        '200':
          description: Partial Content
          headers:
            Content-range:
              description: 'The content-range response header indicates where in the full resource this partial chunk of data belongs. It returns the lower and upper values in bytes (specified by the Range header) of the chunk and the total size of the file being downloaded in bytes. Maximum range: 100 MB The following is an example of a content-range response, where 0-10 is the lower and upper limit in bytes and 1000 is the total size of the file in bytes. &nbsp;&nbsp;0-10/1000 The following example of a content-range response indicates the value of the Range header is invalid and a 416 status code is returned. &nbsp;&nbsp; */1000 For more information and examples, see Retrieving a gzip feed file.'
              type: string
            Last-Modified:
              description: 'Returns the date when the file was generated. For example: Last-Modified&nbsp;&nbsp;Wed, 21 Oct 2015 07:28:00 GMT'
              type: string
          schema:
            $ref: '#/definitions/ItemDescriptionResponse'
        '206':
          description: Partial Content
          headers:
            Content-range:
              description: 'The content-range response header indicates where in the full resource this partial chunk of data belongs. It returns the lower and upper values in bytes (specified by the Range header) of the chunk and the total size of the file being downloaded in bytes. Maximum range: 100 MB The following is an example of a content-range response, where 0-10 is the lower and upper limit in bytes and 1000 is the total size of the file in bytes. &nbsp;&nbsp;0-10/1000 The following example of a content-range response indicates the value of the Range header is invalid and a 416 status code is returned. &nbsp;&nbsp; */1000 For more information and examples, see Retrieving a gzip feed file.'
              type: string
            Last-Modified:
              description: 'Returns the date when the file was generated. For example: Last-Modified&nbsp;&nbsp;Wed, 21 Oct 2015 07:28:00 GMT'
              type: string
          schema:
            $ref: '#/definitions/ItemDescriptionResponse'
        '400':
          description: Bad request
          x-response-codes:
            errors:
              '13000':
                category: REQUEST
                description: 'The request contains data that is invalid. Correct the request and submit the call again. For help, see the API Reference documentation for this call.'
                domain: API_FEED
              '13003':
                category: REQUEST
                description: 'The ''feed_scope'' {feed_scope} submitted is invalid. Valid values: {feedScopes}'
                domain: API_FEED
              '13004':
                category: REQUEST
                description: 'The ''category_id'' {category_id} submitted is invalid. See the API documentation for help on how to find category Ids.'
                domain: API_FEED
              '13005':
                category: REQUEST
                description: 'The ''date'' {date} submitted is invalid. The date can be 3 to 9 days in the past. The format is yyyMMdd.'
                domain: API_FEED
              '13006':
                category: REQUEST
                description: 'There was a problem with an eBay internal system or process. Wait a few minutes and retry the call. If that doesn''t work, contact eBay Support.'
                domain: API_FEED
              '13007':
                category: REQUEST
                description: The feed file requested cannot be found. It is possible the file requested is in the process of being generated. Either change the date or try the call again later.
                domain: API_FEED
              '13009':
                category: REQUEST
                description: 'The mandatory ''feed_scope'' query parameter is missing. Valid values: {feedScopes}'
                domain: API_FEED
              '13010':
                category: REQUEST
                description: The mandatory 'category_id' query parameter is missing.
                domain: API_FEED
              '13011':
                category: REQUEST
                description: 'The mandatory ''date'' query parameter is missing. Valid values: {earliestDate} to {latestDate} days in the past. The format is yyyMMdd.'
                domain: API_FEED
              '13012':
                category: REQUEST
                description: 'The marketplace Id {marketplaceId} is invalid. Valid values: {allowedMarketplaces}'
                domain: API_FEED
              '13013':
                category: REQUEST
                description: 'The mandatory ''X-EBAY-C-MARKETPLACE-ID'' header is missing. Valid values: {allowedMarketplaces}'
                domain: API_FEED
              '13014':
                category: REQUEST
                description: 'The marketplace Id {marketplaceId} is not supported. Valid values: {allowedMarketplaces}'
                domain: API_FEED
              '13015':
                category: REQUEST
                description: 'The mandatory ''Range'' request header is missing. For help, see the API Reference documentation for this call.'
                domain: API_FEED
              '13016':
                category: REQUEST
                description: 'The ''Range'' request header format is invalid. Format: ''bytes=start position-end position''.  For help, see the API Reference documentation for this call.'
                domain: API_FEED
              '13017':
                category: REQUEST
                description: 'The ''Range'' header is invalid. Please verify that the start and end positions are correct. For help, see the API Reference documentation for this call.'
                domain: API_FEED
              '13018':
                category: REQUEST
                description: The start position in the range header is invalid.
                domain: API_FEED
              '13019':
                category: REQUEST
                description: The end position in the range header is invalid.
                domain: API_FEED
        '404':
          description: Not found
        '416':
          description: Range not satisfiable
        '500':
          description: Internal server error
      security:
        - Client Credentials:
            - 'https://api.ebay.com/oauth/api_scope/buy.item.feed'
      tags:
        - item_description
  /item_group:
    get:
      description: 'This call lets you download a daily TSV_GZIP (tab separated value gzip) Item Group feed file. There are two Item Group feed files for every top-level (L1) category, including all its child categories: A file generated each day containing item group information for all the newly listed items for a specific category and date (feed_scope = NEWLY_LISTED) A file containing item group information for all the items in a specific category (feed_scope = ALL_ACTIVE) The service reads each of the Item feed files and if an item in the feed file has a primaryItemGroupId value, which indicates the item is part of an item group, the service uses that value to return the item group (parent item) information for that item in the corresponding NEWLY_LISTED or ALL_ACTIVE Item Group feed file. This information includes a list of the aspect (variation) names for this item group. For example, if the item was a shirt some of the variation names could be Size, Color, etc., which are returned in the variesByLocalizedAspects column. (An item group is an item that has various aspect differences, such as color, size, storage capacity, etc.) The first line in any feed file is the header, which labels the columns and indicates the order of the values on each line. Each header is described in the Response fields section. Combining the Item Group and Item feed files The Item Group feed file contains details about the item group (parent item), including the item group ID itemGroupId. You match the value of itemGroupId from the Item Group feed file with the value of primaryItemGroupId from the Item feed file for the same day and category. Downloading feed files URLs for this call Production URL: https://api.ebay.com/buy/feed/v1_beta/ Sandbox URL: https://api.sandbox.ebay.com/buy/feed/v1_beta/ Item Group feed files are binary gzip files. If the file is larger than 100 MB, the download must be streamed in chunks. You specify the size of the chunks in bytes using the Range request header. The content-range response header indicates where in the full resource this partial chunk of data belongs and the total number of bytes in the file. For more information about using these headers, see Retrieving a gzip feed file. Important: The response is always only a TSV_GZIP file. But for documentation purposes, the response is shown as JSON fields so that the value returned in each column can be explained. The order of the response fields, shows you the order of the columns in the feed file. Restrictions For a list of supported sites and other restrictions, see API Restrictions.'
      operationId: getItemGroupFeed
      parameters:
        - description: 'The ID for the eBay marketplace where the items are hosted. For example: &nbsp;&nbsp;X-EBAY-C-MARKETPLACE-ID = EBAY-US For a list of supported sites see, API Restrictions.'
          in: header
          name: X-EBAY-C-MARKETPLACE-ID
          required: true
          type: string
        - description: 'This header specifies the range in bytes of the chunks of the gzip file being returned. Format: bytes=startpos-endpos For example, the following retrieves the first 10 MBs of the feed file. &nbsp;&nbsp;Range bytes=0-10485760 For more information about using this headers, see Retrieving a gzip feed file. Maximum: 100 MB'
          in: header
          name: Range
          required: false
          type: string
        - description: 'Specifies the type of file to return. Valid Values: NEWLY_LISTED - Returns the file containing the item group information for items in the NEWLY_LISTED Item feed file that were associated with an item group. The items in this type of Item feed file are items that were listed on the day specified by the date parameter in the category specified by the category_id parameter. The items will be Good ''Til Cancelled and non-Good ''Til Cancelled items. If the item is a non-Good ''Til Cancelled item, the item''s end date will be returned in the itemEndDate column. /item_group?feed_scope=NEWLY_LISTED&amp;category_id=15032&amp;date=20170925 ALL_ACTIVE (bootstrap) - Returns the file containing the item group information for items in the ALL_ACTIVE Item feed file that were associated with an item group. The items in this type of Item feed file are all the ''Good ''Til Cancelled'' items in the category specified by the category_id parameter. /item_group?feed_scope=ALL_ACTIVE&amp;category_id=15032&amp;date=20170925 Note: This file type is generated only on request. After the file is generated, you use this method and feed_scope to download the file.'
          in: query
          name: feed_scope
          required: true
          type: string
        - description: 'An eBay top-level category ID of the items to be returned in the feed file. The list of eBay category IDs changes over time and category IDs are not the same across all the eBay marketplaces. To get a list of the top-level categories for a marketplaces, you can use the Taxonomy API getCategoryTree call. This call retrieves the complete category tree for the marketplace. The top-level categories are identified by the categoryTreeNodeLevel field. For example: &nbsp;&nbsp;&quot;categoryTreeNodeLevel&quot;: 1 For details see Get Categories for Buy APIs. Restriction: Must be a top-level category'
          in: query
          name: category_id
          required: true
          type: string
        - description: 'The date of the feed file you want. This is needed only when feed_scope=NEWLY_LISTED. If you specify a date and feed_scope=ALL_ACTIVE, the date is ignored and the latest file is returned. The date of the file is returned in the Last-Modified response header. The Item Group feed files are generated every day and there are always 14 daily feed files available. There is a 48 hour latency when generating the files. This means on July 10, the latest feed file you can download is July 8. In other words, if you wanted the file generated on July 10th, you would need to wait until July 12th. Note: The generated files are stored using MST (US Mountain Standard Time), which is -7 hours UTC time. Format: yyyyMMdd Requirement: Requirements: Must be within 3-14 days in the past Required when feed_scope=NEWLY_LISTED'
          in: query
          name: date
          required: false
          type: string
      responses:
        '200':
          description: Partial Content
          headers:
            Content-range:
              description: 'The content-range response header indicates where in the full resource this partial chunk of data belongs. It returns the lower and upper values in bytes (specified by the Range header) of the chunk and the total size of the file being downloaded in bytes. Maximum range: 100 MB The following is an example of a content-range response, where 0-10 is the lower and upper limit in bytes and 1000 is the total size of the file in bytes. &nbsp;&nbsp;0-10/1000 The following example of a content-range response indicates the value of the Range header is invalid and a 416 status code is returned. &nbsp;&nbsp; */1000 For more information and examples, see Retrieving a gzip feed file.'
              type: string
            Last-Modified:
              description: 'Returns the date when the file was generated. For example: Last-Modified&nbsp;&nbsp;Wed, 21 Oct 2015 07:28:00 GMT'
              type: string
          schema:
            $ref: '#/definitions/ItemGroupResponse'
        '206':
          description: Partial Content
          headers:
            Content-range:
              description: 'The content-range response header indicates where in the full resource this partial chunk of data belongs. It returns the lower and upper values in bytes (specified by the Range header) of the chunk and the total size of the file being downloaded in bytes. Maximum range: 100 MB The following is an example of a content-range response, where 0-10 is the lower and upper limit in bytes and 1000 is the total size of the file in bytes. &nbsp;&nbsp;0-10/1000 The following example of a content-range response indicates the value of the Range header is invalid and a 416 status code is returned. &nbsp;&nbsp; */1000 For more information and examples, see Retrieving a gzip feed file.'
              type: string
            Last-Modified:
              description: 'Returns the date when the file was generated. For example: Last-Modified&nbsp;&nbsp;Wed, 21 Oct 2015 07:28:00 GMT'
              type: string
          schema:
            $ref: '#/definitions/ItemGroupResponse'
        '400':
          description: Bad request
          x-response-codes:
            errors:
              '13000':
                category: REQUEST
                description: 'The request contains data that is invalid. Correct the request and submit the call again. For help, see the API Reference documentation for this call.'
                domain: API_FEED
              '13003':
                category: REQUEST
                description: 'The ''feed_scope'' {feed_scope} submitted is invalid. Valid values: {feedScopes}'
                domain: API_FEED
              '13004':
                category: REQUEST
                description: 'The ''category_id'' {category_id} submitted is invalid. See the API documentation for help on how to find category Ids.'
                domain: API_FEED
              '13005':
                category: REQUEST
                description: 'The ''date'' {date} submitted is invalid. The date can be 3 to 9 days in the past. The format is yyyMMdd.'
                domain: API_FEED
              '13006':
                category: REQUEST
                description: 'There was a problem with an eBay internal system or process. Wait a few minutes and retry the call. If that doesn''t work, contact eBay Support.'
                domain: API_FEED
              '13007':
                category: REQUEST
                description: The feed file requested cannot be found. It is possible the file requested is in the process of being generated. Either change the date or try the call again later.
                domain: API_FEED
              '13009':
                category: REQUEST
                description: 'The mandatory ''feed_scope'' query parameter is missing. Valid values: {feedScopes}'
                domain: API_FEED
              '13010':
                category: REQUEST
                description: The mandatory 'category_id' query parameter is missing.
                domain: API_FEED
              '13011':
                category: REQUEST
                description: 'The mandatory ''date'' query parameter is missing. Valid values: {earliestDate} to {latestDate} days in the past. The format is yyyMMdd.'
                domain: API_FEED
              '13012':
                category: REQUEST
                description: 'The marketplace Id {marketplaceId} is invalid. Valid values: {allowedMarketplaces}'
                domain: API_FEED
              '13013':
                category: REQUEST
                description: 'The mandatory ''X-EBAY-C-MARKETPLACE-ID'' header is missing. Valid values: {allowedMarketplaces}'
                domain: API_FEED
              '13014':
                category: REQUEST
                description: 'The marketplace Id {marketplaceId} is not supported. Valid values: {allowedMarketplaces}'
                domain: API_FEED
              '13015':
                category: REQUEST
                description: 'The mandatory ''Range'' request header is missing. For help, see the API Reference documentation for this call.'
                domain: API_FEED
              '13016':
                category: REQUEST
                description: 'The ''Range'' request header format is invalid. Format: ''bytes=start position-end position''.  For help, see the API Reference documentation for this call.'
                domain: API_FEED
              '13017':
                category: REQUEST
                description: 'The ''Range'' header is invalid. Please verify that the start and end positions are correct. For help, see the API Reference documentation for this call.'
                domain: API_FEED
              '13018':
                category: REQUEST
                description: The start position in the range header is invalid.
                domain: API_FEED
              '13019':
                category: REQUEST
                description: The end position in the range header is invalid.
                domain: API_FEED
        '404':
          description: Not found
        '416':
          description: Range not satisfiable
        '500':
          description: Internal server error
      security:
        - Client Credentials:
            - 'https://api.ebay.com/oauth/api_scope/buy.item.feed'
      tags:
        - item_group
  /item_snapshot:
    get:
      description: 'The Hourly Snapshot feed file is generated each hour every day for all categories. This call lets you download an Hourly Snapshot TSV_GZIP (tab separated value gzip) feed file containing the details of all the items that have changed within the specified day and hour for a specific category. This means to generate the 8AM file of items that have changed from 8AM and 8:59AM, the service starts at 9AM. You can retrieve the 8AM snapshot file at 10AM. You can use the response from this call to update the item details of items stored in your database. By comparing the value of itemSnapshotDate for the same item you will be able to tell which information is the latest. Note: Currently, hourly updates for descriptions are not supported. URLs for this call Production URL: https://api.ebay.com/buy/feed/v1_beta/ Sandbox URL: https://api.sandbox.ebay.com/buy/feed/v1_beta/ Downloading feed files Hourly snapshot feed files are binary gzip files. If the file is larger than 100 MB, the download must be streamed in chunks. You specify the size of the chunks in bytes using the Range request header. The Content-range response header indicates where in the full resource this partial chunk of data belongs and the total number of bytes in the file. For more information about using these headers, see Retrieving a gzip feed file. Important: The response is always a TSV_GZIP file. But for documentation purposes, the response is shown as JSON fields so that the value returned in each column can be explained. The order of the response fields, shows you the order of the columns in the feed file. Restrictions For a list of supported sites and other restrictions, see API Restrictions.'
      operationId: getItemSnapshotFeed
      parameters:
        - description: 'The ID for the eBay marketplace where the items are hosted. For example: &nbsp;&nbsp;X-EBAY-C-MARKETPLACE-ID = EBAY-US For a list of supported sites see, API Restrictions.'
          in: header
          name: X-EBAY-C-MARKETPLACE-ID
          required: true
          type: string
        - description: 'This header specifies the range in bytes of the chunks of the gzip file being returned. Format: bytes=startpos-endpos For example, the following retrieves the first 10 MBs of the feed file. &nbsp;&nbsp;Range bytes=0-10485760 For more information about using this headers, see Retrieving a gzip feed file. Maximum: 100 MB'
          in: header
          name: Range
          required: true
          type: string
        - description: 'An eBay top-level category ID of the items to be returned in the feed file. The list of eBay category IDs changes over time and category IDs are not the same across all the eBay marketplaces. To get a list of the top-level categories for a marketplace, you can use the Taxonomy API getCategoryTree call. This call retrieves the complete category tree for the marketplace. The top-level categories are identified by the categoryTreeNodeLevel field. For example: &nbsp;&nbsp;&quot;categoryTreeNodeLevel&quot;: 1 For details see Get Categories for Buy APIs. Restriction: Must be a top-level category'
          in: query
          name: category_id
          required: true
          type: string
        - description: 'The hour of the incremental feed file you want, for a particular day. There are always 14 days of Hourly Snapshot feed files available. If you specify that you want the 9AM file for July 15, 2017 (2017-07-15T09:00:00.000Z), the data in the feed file will be items that changed after 9AM on July 15, 2017. Restrictions: Files are generated on the hour, so minutes and seconds are always zeros. &nbsp;&nbsp;&nbsp;(2017-07-12T09:00:00.000Z) Format: UTC format (yyyy-MM-ddThh:00:00.000Z)'
          in: query
          name: snapshot_date
          required: true
          type: string
      responses:
        '200':
          description: Partial Content
          headers:
            Content-range:
              description: 'The content-range response header indicates where in the full resource this partial chunk of data belongs. It returns the lower and upper values in bytes (specified by the Range header) of the chunk and the total size of the file being downloaded in bytes. Maximum range: 100 MB The following is an example of a content-range response, where 0-10 is the lower and upper limit in bytes and 1000 is the total size of the file in bytes. &nbsp;&nbsp;0-10/1000 The following example of a content-range response indicates the value of the Range header is invalid and a 416 status code is returned. &nbsp;&nbsp; */1000 For more information and examples, see Retrieving a gzip feed file.'
              type: string
            Last-Modified:
              description: 'Returns the date when the file was generated. For example: Last-Modified&nbsp;&nbsp;Wed, 21 Oct 2015 07:28:00 GMT'
              type: string
          schema:
            $ref: '#/definitions/ItemSnapshotResponse'
        '206':
          description: Partial Content
          headers:
            Content-range:
              description: 'The content-range response header indicates where in the full resource this partial chunk of data belongs. It returns the lower and upper values in bytes (specified by the Range header) of the chunk and the total size of the file being downloaded in bytes. Maximum range: 100 MB The following is an example of a content-range response, where 0-10 is the lower and upper limit in bytes and 1000 is the total size of the file in bytes. &nbsp;&nbsp;0-10/1000 The following example of a content-range response indicates the value of the Range header is invalid and a 416 status code is returned. &nbsp;&nbsp; */1000 For more information and examples, see Retrieving a gzip feed file.'
              type: string
            Last-Modified:
              description: 'Returns the date when the file was generated. For example: Last-Modified&nbsp;&nbsp;Wed, 21 Oct 2015 07:28:00 GMT'
              type: string
          schema:
            $ref: '#/definitions/ItemSnapshotResponse'
        '400':
          description: Bad request
          x-response-codes:
            errors:
              '13000':
                category: REQUEST
                description: 'The request contains data that is invalid. Correct the request and submit the call again. For help, see the API Reference documentation for this call.'
                domain: API_FEED
              '13004':
                category: REQUEST
                description: 'The ''category_id'' {category_id} submitted is invalid. See the API documentation for help on how to find category Ids.'
                domain: API_FEED
              '13006':
                category: REQUEST
                description: 'There was a problem with an eBay internal system or process. Wait a few minutes and retry the call. If that doesn''t work, contact eBay Support.'
                domain: API_FEED
              '13007':
                category: REQUEST
                description: The feed file requested cannot be found. It is possible the file requested is in the process of being generated. Either change the date or try the call again later.
                domain: API_FEED
              '13010':
                category: REQUEST
                description: The mandatory 'category_id' query parameter is missing.
                domain: API_FEED
              '13012':
                category: REQUEST
                description: 'The marketplace Id {marketplaceId} is invalid. Valid values: {allowedMarketplaces}'
                domain: API_FEED
              '13013':
                category: REQUEST
                description: 'The mandatory ''X-EBAY-C-MARKETPLACE-ID'' header is missing. Valid values: {allowedMarketplaces}'
                domain: API_FEED
              '13014':
                category: REQUEST
                description: 'The marketplace Id {marketplaceId} is not supported. Valid values: {allowedMarketplaces}'
                domain: API_FEED
              '13015':
                category: REQUEST
                description: 'The mandatory ''Range'' request header is missing. For help, see the API Reference documentation for this call.'
                domain: API_FEED
              '13016':
                category: REQUEST
                description: 'The ''Range'' request header format is invalid. Format: ''bytes=start position-end position''.  For help, see the API Reference documentation for this call.'
                domain: API_FEED
              '13017':
                category: REQUEST
                description: 'The ''Range'' header is invalid. Please verify that the start and end positions are correct. For help, see the API Reference documentation for this call.'
                domain: API_FEED
              '13018':
                category: REQUEST
                description: The start position in the range header is invalid.
                domain: API_FEED
              '13019':
                category: REQUEST
                description: The end position in the range header is invalid.
                domain: API_FEED
              '13020':
                category: REQUEST
                description: The mandatory 'snapshot_date' query parameter is missing.
                domain: API_FEED
              '13021':
                category: REQUEST
                description: 'The ''snapshot_date'' query parameter is invalid.Valid format is ''yyyy-MM-ddTHH:mm:ss'''
                domain: API_FEED
        '404':
          description: Not found
        '416':
          description: Range not satisfiable
        '500':
          description: Internal server error
      security:
        - Client Credentials:
            - 'https://api.ebay.com/oauth/api_scope/buy.item.feed'
      tags:
        - item_snapshot
definitions:
  Item:
    description: The type that defines the fields for the data returned by the <b> getItemFeed</b> call.
    properties:
      acceptedPaymentMethods:
        description: 'Indicates the credit card service that will be used to process the transaction. If this column contains PAYPAL, you can use the Buy Order API to checkout and purchase the item. If this column is empty, you must use another method for checkout.'
        type: string
      additionalImageUrls:
        description: 'A pipe separated (|) list of URLs for the additional images of the item. These images are in addition to the primary image, which is returned in the imageUrl column. Note: This column can contain multiple values.'
        type: string
      availability:
        description: 'An enumeration value representing the item''s availability (possibility of being purchased). Values: AVAILABLE TEMPORARILY_UNAVAILABLE UNAVAILABLE Code so that your app gracefully handles any future changes to this list. For implementation help, refer to <a href=''https://developer.ebay.com/devzone/rest/api-ref/feed/types/AvailabilityEnum.html''>eBay API documentation</a>'
        type: string
      availabilityThreshold:
        description: 'This column has a value only when the seller sets their ''display item quantity'' preference to Display &quot;More than 10 available&quot; in your listing (if applicable). The value of this column will be &quot;10&quot;, which is the threshold value. Code so that your app gracefully handles any future changes to this value.'
        type: integer
      availabilityThresholdType:
        description: 'This column has a value only when the seller sets their Display Item Quantity preference to Display &quot;More than 10 available&quot; in your listing (if applicable). The value of this column will be MORE_THAN. This indicates that the seller has more than the ''Display Item Quantity'', which is 10, in stock for this item. The following are the Display Item Quantity preferences the seller can set. Display &quot;More than 10 available&quot; in your listing (if applicable) If the seller enables this preference, this column will have a value as long as there are more than 10 of this item in inventory. If the quantity is equal to 10 or drops below 10, this column will be null and the estimated quantity of the item is returned in the estimatedAvailableQuantity column. Display the exact quantity in your items If the seller enables this preference, the availabilityThresholdType and availabilityThreshold columns will be null and the estimated quantity of the item is returned in the estimatedAvailableQuantity column. Note: Because the quantity of an item can change several times within a second, it is impossible to return the exact quantity. Code so that your app gracefully handles any future changes to these preferences. For implementation help, refer to <a href=''https://developer.ebay.com/devzone/rest/api-ref/feed/types/AvailabilityThresholdEnum.html''>eBay API documentation</a>'
        type: string
      brand:
        description: 'The name brand of the item, such as Nike, Apple, etc.'
        type: string
      buyingOptions:
        description: 'A comma separated list of the purchase options available for the item, such as FIXED_PRICE, AUCTION. FIXED_PRICE - Returned for fixed-price items (non-auction) AUCTION - Returned for auction items without Buy It Now feature FIXED_PRICE and AUCTION - Returned for auction items enabled with the Buy It Now feature Code so that your app gracefully handles any future changes to this list.'
        type: string
      category:
        description: 'The label of the category. For example: Toys &amp; Hobbies|Action Figures|Comic Book Heroes'
        type: string
      categoryId:
        description: 'The ID of the category of the item. For example: The ID for Toys &amp; Hobbies|Action Figures|Comic Book Heroes is 158671.'
        type: string
      condition:
        description: 'The text describing the condition of the item. For a list of condition names, see ConditionEnum. Code so that your app gracefully handles any future changes to this list.'
        type: string
      conditionId:
        description: 'The identifier of the condition of the item. For example, 1000 is the identifier for NEW. For a list of condition names and IDs, see ConditionEnum. Code so that your app gracefully handles any future changes to this list.'
        type: string
      deliveryOptions:
        description: 'A comma separated list of delivery options for the item, such as SHIP_TO_HOME and SELLER_ARRANGED_LOCAL_PICKUP. This column lets you filter out items that cannot be shipped to the buyer. Code so that your app gracefully handles any future changes to this list. For implementation help, refer to <a href=''https://developer.ebay.com/devzone/rest/api-ref/feed/types/DeliveryOptionsEnum.html''>eBay API documentation</a>'
        type: string
      discountAmount:
        description: 'The calculated amount of the discount (originalPriceValue - priceValue). For example, if originalPriceValue is 70 and priceValue is 56, this value would be 14. Note: The currency shown in originalPriceCurrency is used for both discountAmount and originalPriceCurrency.'
        type: string
      discountPercentage:
        description: 'The calculated discount percentage. For example, if originalPriceValue is 70 and discountAmount is 14, this value will be 20.'
        type: string
      energyEfficiencyClass:
        description: 'Indicates the European energy efficiency rating (EEK) of the item. This field is returned only if the seller specified the energy efficiency rating. The rating is a set of energy efficiency classes from A to G, where ''A'' is the most energy efficient and ''G'' is the least efficient. This rating helps buyers choose between various models. To retrieve the manufacturer''s specifications for this item, when they are available, use the getItem call in the Browse API. The information is returned in the productFicheWebUrl field.'
        type: string
      epid:
        description: The eBay product identifier of a product from the eBay product catalog. You can use this value in the Browse API search call to retrieve items for this product and in the Marketing API calls to retrieve 'also viewed' and 'also bought' products to encourage up-selling and cross-selling.
        type: string
      estimatedAvailableQuantity:
        description: 'The estimated number of this item that are available for purchase. Because the quantity of an item can change several times within a second, it is impossible to return the exact quantity. So instead of returning quantity, the estimated availability of the item is returned.'
        type: integer
      gtin:
        description: 'The unique Global Trade Item Number of the item as defined by http://www.gtin.info. This can be a UPC (Universal Product Code), EAN (European Article Number), or an ISBN (International Standard Book Number) value.'
        type: string
      imageAlteringProhibited:
        description: 'A boolean that indicates whether the images can be altered. If the value is true, you cannot modify the image. Note: Due to image licensing agreements and other legal concerns, modification (including resizing) of some images is strictly prohibited. These images are for display as-is only.'
        type: boolean
      imageUrl:
        description: The URL to the primary image of the item. This is the URL of the largest image available based on what the seller submitted.
        type: string
      inferredBrand:
        description: 'The name brand for the item, such as Nike or Apple, which has been programmatically determined by eBay. To identify the product, this is always used along with MPN. If the seller provided a brand for the item, the seller''s value is returned in the brand column.'
        type: string
      inferredEpid:
        description: 'The ePID (eBay Product ID of a product from the eBay product catalog) for the item, which has been programmatically determined by eBay. If the seller provided an ePID for the item, the seller''s value is returned in the epid column.'
        type: string
      inferredGtin:
        description: 'The GTIN (Global Trade Item Number) of the product as defined by http://www.gtin.info, which as been programmatically determined by eBay. This can be a UPC (Universal Product Code), EAN (European Article Number), or an ISBN (International Standard Book Number) value. If the seller provided a GTIN for the item, the seller''s value is returned in the gtin column.'
        type: string
      inferredLocalizedAspects:
        description: 'A semicolon separated list of the name/value pairs for the aspects of the item, which are BASE64 encoded. These aspects have been programmatically determined by eBay. If the seller provided aspects for the item, the seller''s values are returned in the localizedAspects column. The aspect label is separated by a pipe (|), the aspect name and value are separated by a colon (:) and the name/value pairs are separated by a semicolon (;). Example without Label &nbsp;&nbsp; Encoded Format: &nbsp;&nbsp;&nbsp;encodedName:encodedValue;encodedName:encodedValue;encodedName:encodedValue &nbsp;&nbsp; Encoded Example (encoded text shown in orange): &nbsp;&nbsp;&nbsp;U2l6ZQ==:WEw=;Q29sb3I=:UmVk;U2xlZXZlcw==:TG9uZw== &nbsp;&nbsp; Decoded: &nbsp;&nbsp;&nbsp;Size:XL;Color:Red;Sleeves:Long Example with Label &nbsp;&nbsp; Encoded Format: &nbsp;&nbsp;&nbsp;encodedLabel|encodedName:encodedValue;encodedName:encodedValue;encodedLabel| &nbsp;&nbsp; Encoded Example (encoded text shown in orange): &nbsp;&nbsp;&nbsp;UHJvZHVjdCBJZGVudGlmaWVycw==|R1RJTg==:MDE5MDE5ODA2NjYzMw==;QlJBTkQ=:QXBwbGU=;UHJvZHVjdCBLZXkgRmVhdHVyZXM=|TW9kZWw=:aVBob25lIDc= &nbsp;&nbsp; Decoded: &nbsp;&nbsp;&nbsp;Product Identifiers|GTIN:0190198066633;BRAND:Apple;Product Key Features|Model:iPhone 7 Note: The separators ( | : ; ) are not encoded. You must decode each label, name, and value separately. You cannot decode the entire string. For more information, see Encoded Aspects in the Buying Integration Guide.'
        type: string
      inferredMpn:
        description: 'The MPN (Manufacturer''s Part Number) for the item, which has been programmatically determined by eBay. To identify the product, this is always used along with brand. If the seller provided a MPN for the item, the seller''s value is returned in the mpn column.'
        type: string
      itemEndDate:
        description: 'A timestamp indicating when the item''s sale period will end based on its start date and duration. For Good ''Til Cancelled'' items, no value is returned in this column. Format: UTC (yyyy-MM-ddThh:mm:ss.sssZ).'
        type: string
      itemId:
        description: The unique identifier of the eBay item.
        type: string
      itemLocationCountry:
        description: The country where the item is physically located.
        type: string
      localizedAspects:
        description: 'A semicolon separated list of the name/value pairs for the aspects of the item, which are BASE64 encoded. The aspect label is separated by a pipe (|), the aspect name and value are separated by a colon (:) and the name/value pairs are separated by a semicolon (;). Example without Label &nbsp;&nbsp; Encoded Format: &nbsp;&nbsp;&nbsp;encodedName:encodedValue;encodedName:encodedValue;encodedName:encodedValue &nbsp;&nbsp; Encoded Example (encoded text shown in orange): &nbsp;&nbsp;&nbsp;U2l6ZQ==:WEw=;Q29sb3I=:UmVk;U2xlZXZlcw==:TG9uZw== &nbsp;&nbsp; Decoded: &nbsp;&nbsp;&nbsp;Size:XL;Color:Red;Sleeves:Long Example with Label &nbsp;&nbsp; Encoded Format: &nbsp;&nbsp;&nbsp;encodedLabel|encodedName:encodedValue;encodedName:encodedValue;encodedLabel| &nbsp;&nbsp; Encoded Example (encoded text shown in orange): &nbsp;&nbsp;&nbsp;UHJvZHVjdCBJZGVudGlmaWVycw==|R1RJTg==:MDE5MDE5ODA2NjYzMw==;QlJBTkQ=:QXBwbGU=;UHJvZHVjdCBLZXkgRmVhdHVyZXM=|TW9kZWw=:aVBob25lIDc= &nbsp;&nbsp; Decoded: &nbsp;&nbsp;&nbsp;Product Identifiers|GTIN:0190198066633;BRAND:Apple;Product Key Features|Model:iPhone 7 Note: The separators ( | : ; ) are not encoded. You must decode each label, name, and value separately. You cannot decode the entire string. For more information, see Encoded Aspects in the Buying Integration Guide.'
        type: string
      mpn:
        description: 'The manufacturer part number, which is a number that is used in combination with brand to identify a product.'
        type: string
      originalPriceCurrency:
        description: 'The currency of the originalPriceValue of the item and the discountAmount. For implementation help, refer to <a href=''https://developer.ebay.com/devzone/rest/api-ref/feed/types/CurrencyCodeEnum.html''>eBay API documentation</a>'
        type: string
      originalPriceValue:
        description: The original selling price of the item. This lets you surface a strikethrough price for the item.
        type: string
      priceCurrency:
        description: 'The currency used for the price of the item. Generally, this is the currency used by the country of the eBay site offering the item. For implementation help, refer to <a href=''https://developer.ebay.com/devzone/rest/api-ref/feed/types/CurrencyCodeEnum.html''>eBay API documentation</a>'
        type: string
      priceValue:
        description: 'The price of the item. This price can be a discounted price. If it is discounted, information about the discount is returned in the originalPriceValue, originalPriceCurrency, discountAmount, and discountPercentage columns.'
        type: string
      primaryItemGroupId:
        description: 'The unique identifier for the item group that contains this item. An item group is an item that has various aspect differences, such as color, size, storage capacity, etc.'
        type: string
      primaryItemGroupType:
        description: 'The item group type. Supported value: SELLER_DEFINED_VARIATIONS, indicates that the item group was created by the seller. Code so that your app gracefully handles any future changes to this list.'
        type: string
      refundMethod:
        description: 'An enumeration value that indicates how a buyer is refunded when an item is returned. Code so that your app gracefully handles any future changes to this list. For implementation help, refer to <a href=''https://developer.ebay.com/devzone/rest/api-ref/feed/types/RefundMethodEnum.html''>eBay API documentation</a>'
        type: string
      restockingFeePercentage:
        description: 'The restocking fee percentage that the seller has set on the item. Sellers have the option of setting no restocking fee for an item, or they can set the percentage to 10, 15, or 20 percent. For example, if the cost of the item was $100, and the restocking percentage was 20 percent, the buyer would be charged $20 to return that item. This means that instead of receiving a $100 refund, they would received $80 due to the restocking fee. Values Returned: NoRestockingFee, Percent_10, Percent_15, and Percent_20'
        type: string
      returnMethod:
        description: 'An enumeration value that indicates the alternative methods for a full refund when an item is returned. This column will have data if the seller offers the buyer an item replacement or exchange instead of a monetary refund. For implementation help, refer to <a href=''https://developer.ebay.com/devzone/rest/api-ref/feed/types/ReturnMethodEnum.html''>eBay API documentation</a>'
        type: string
      returnPeriodUnit:
        description: 'An enumeration value that indicates the period of time being used to measure the duration, such as business days or months, or years. See the TimeDurationUnitEnum type for a list of possible time-measuring units. For implementation help, refer to <a href=''https://developer.ebay.com/devzone/rest/api-ref/feed/types/TimeDurationUnitEnum.html''>eBay API documentation</a>'
        type: string
      returnPeriodValue:
        description: 'The amount of time the buyer has to return the item after the purchase date. This can be the number of years, months, or days depending on returnPeriodUnit. For example, if this value is ''30'', and the returnPeriodUnit value is ''DAY'', the return period is 30 days.'
        type: integer
      returnShippingCostPayer:
        description: 'The party responsible for the return shipping costs when an item is returned. Valid Values: BUYER or SELLER Code so that your app gracefully handles any future changes to this list. For implementation help, refer to <a href=''https://developer.ebay.com/devzone/rest/api-ref/feed/types/ReturnShippingCostPayerEnum.html''>eBay API documentation</a>'
        type: string
      returnsAccepted:
        description: Indicates whether the seller accepts returns for the item.
        type: boolean
      sellerFeedbackPercentage:
        description: The percentage of the seller's total positive feedback.
        type: string
      sellerFeedbackScore:
        description: The feedback score of the seller. This value is based on the ratings from eBay members that bought items from this seller.
        type: string
      sellerItemRevision:
        description: 'An identifier generated/incremented when a seller revises the item. There are two types of item revisions; seller changes, such as changing the title and eBay system changes, such as changing the quantity when an item is purchased. This ID is changed only when the seller makes a change to the item.'
        type: string
      sellerTrustLevel:
        description: 'An enumeration value representing the eBay status of the seller. Code so that your app gracefully handles any future changes to this list. For implementation help, refer to <a href=''https://developer.ebay.com/devzone/rest/api-ref/feed/types/SellerTrustLevelEnum.html''>eBay API documentation</a>'
        type: string
      sellerUsername:
        description: The seller's eBay user name.
        type: string
      shipToExcludedRegions:
        description: 'A pipe (|) separated alphabetical list of the geographic countries and regions where the item cannot be shipped. These countries and regions refine (restrict) the shipToIncludedRegions list. The COUNTRY: list is separated from the REGION: list with a semicolon (;). Format Example: COUNTRY:US|BM|GL|MX|PM;REGION:AFRICA|ASIA|CENTRAL_AMERICA_AND_CARIBBEAN|EUROPE|MIDDLE_EAST|OCEANIA|SOUTH_AMERICA|SOUTHEAST_ASIA; Country Values: The two-letter ISO 3166 standard code of the country. Region Values: AFRICA, AMERICAS, ANTARCTIC, ARCTIC, ASIA, AUSTRALIA, CENTRAL_AMERICA_AND_CARIBBEAN, EUROPE, EURO_UNION, GREATER_CHINA, MIDDLE_EAST, NORTH_AMERICA, OCEANIA, REST_OF_ASIA, SOUTHEAST_ASIA, SOUTH_AMERICA, WORLDWIDE Code so that your app gracefully handles any future changes to this list.'
        type: string
      shipToIncludedRegions:
        description: 'A pipe (|) separated alphabetical list of the geographic countries and regions where the seller will ship the item. If a region is specified, you will need to subtract any countries and regions returned in the shipToExcludedRegions column to fully understand where the seller will ship. The COUNTRY: list is separated from the REGION: list with a semicolon (;). Format Example: COUNTRY:US|BM|GL|MX|PM;REGION:AFRICA|ASIA|CENTRAL_AMERICA_AND_CARIBBEAN|EUROPE|MIDDLE_EAST|OCEANIA|SOUTH_AMERICA|SOUTHEAST_ASIA; Country Values: The two-letter ISO 3166 standard code of the country. Region Values: AFRICA, AMERICAS, ANTARCTIC, ARCTIC, ASIA, AUSTRALIA, CENTRAL_AMERICA_AND_CARIBBEAN, EUROPE, EURO_UNION, GREATER_CHINA, MIDDLE_EAST, NORTH_AMERICA, OCEANIA, REST_OF_ASIA, SOUTHEAST_ASIA, SOUTH_AMERICA, WORLDWIDE Code so that your app gracefully handles any future changes to this list.'
        type: string
      title:
        description: The seller created title of the item.
        type: string
    type: object
  ItemDescription:
    description: 'The type that defines fields for the data returned by the <b> getItemDescriptionFeed</b> call. The first row is the header, which labels the columns and indicates the order of the values for each item. The header labels match the fields that are described in the <a href="/api-docs/buy/feed/resources/item_group/methods/getItemGroupFeed#h3-response-fields">Response fields</a> section. '
    properties:
      description:
        description: 'The seller created description of the item, which is BASE64 encoded. Descriptions can contain HTML code, links, etc. and are often very large.'
        type: string
      itemGroupId:
        description: 'The unique identifier for the item group (items with variations, such as a shirt in multiple sizes) where the items in the group share the same description. Even though the itemGroupId represents more than one item, the itemGroupId and description are returned only once for the entire group. In this case, there will be values in the itemGroupId and description columns. You match the value of itemGroupId from the Description feed file with the value of primaryItemGroupId from the Item feed file for the same day and category.'
        type: string
      itemId:
        description: 'The unique identifier of the eBay item that is not part of an item group or (in rare cases) the item is part of an item group but does not share a description with other items in the group. In this case, there will be values in the itemId and description columns. You match the value of itemId from the Description feed file with the value of itemId from the Item feed file for the same day and category.'
        type: string
    type: object
  ItemDescriptionResponse:
    description: 'The type that defines the array for the fields returned by the <b> getItemDescriptionFeed</b> call. '
    properties:
      itemDescriptions:
        description: 'The container for the array of items returned by the getItemDescriptionFeed call. The data in the file is tab separated and the first row is the header, which labels the columns and indicates the order of the values for each item. The header labels match the fields that are described in the Response fields section.'
        items:
          $ref: '#/definitions/ItemDescription'
        type: array
    type: object
  ItemGroup:
    description: The type that defines the fields for the data returned by the <b> getItemGroupFeed</b> call.
    properties:
      additionalImageUrls:
        description: 'A pipe separated (|) list of URLs for the additional images for the item group. These images are in addition to the primary image, which is returned in the imageUrl column. Note: This column can contain multiple values.'
        type: string
      imageAlteringProhibited:
        description: 'A boolean that indicates whether the images can be altered. If the value is true, you cannot modify the image. Note: Due to image licensing agreements and other legal concerns, modification (including resizing) of some images is strictly prohibited. These images are for display as-is only.'
        type: boolean
      imageUrl:
        description: The URL to the primary image of the item. The other images of the item group are returned in the additionalImageUrls column.
        type: string
      itemGroupId:
        description: The unique identifier for the item group. This ID is returned in the primaryItemGroupId column of the Item Feed file.
        type: string
      itemGroupType:
        description: 'The item group type. For example: SELLER_DEFINED_VARIATIONS, indicates that the item group was created by the seller. Code so that your app gracefully handles any future changes to this list.'
        type: string
      title:
        description: The seller created title of the item group.
        type: string
      variesByLocalizedAspects:
        description: 'A pipe separated (|) list of the aspect (variation) names for this item group. The aspect name is BASE64 encoded. Note: This column can contain multiple values. &nbsp;&nbsp; Encoded Format: &nbsp;&nbsp;&nbsp;aspectName|aspectName &nbsp;&nbsp; Encoded Example (encoded text shown in orange): &nbsp;&nbsp;&nbsp;Q29sb3I=|U2l6ZQ== &nbsp;&nbsp; Decoded: &nbsp;&nbsp;&nbsp;Color|Size'
        type: string
    type: object
  ItemGroupResponse:
    description: The type that defines the array for the fields returned by the <b> getItemGroupFeed</b> call.
    properties:
      itemGroups:
        description: 'The container for the array of items returned by the getItemGroupFeed call. The data in the file is tab separated and the first row is the header, which labels the columns and indicates the order of the values for each item. The header labels match the fields that are described in the Response fields section.'
        items:
          $ref: '#/definitions/ItemGroup'
        type: array
    type: object
  ItemResponse:
    description: 'The type that defines the array for the items returned by the <b> getItemFeed</b> call. '
    properties:
      items:
        description: 'The container for the array of items returned by the getItemFeed call. The data in the file is tab separated and the first row is the header, which labels the columns and indicates the order of the values on each line. The header labels match the fields that are described in the Response fields section.'
        items:
          $ref: '#/definitions/Item'
        type: array
    type: object
  ItemSnapshot:
    description: 'The type that defines the fields for the data returned by the <b> getItemSnapshotFeed</b> call. <p class="tablenote"><b>Note: </b> The  <b> imageAlteringProhibited</b> column is not returned.</p>'
    properties:
      availability:
        description: 'An enumeration value representing the item''s availability (possibility of being purchased). Values: AVAILABLE TEMPORARILY_UNAVAILABLE UNAVAILABLE Code so that your app gracefully handles any future changes to this list. For implementation help, refer to <a href=''https://developer.ebay.com/devzone/rest/api-ref/feed/types/AvailabilityEnum.html''>eBay API documentation</a>'
        type: string
      availabilityThreshold:
        description: 'This column has a value only when the seller sets their ''display item quantity'' preference to Display &quot;More than 10 available&quot; in your listing (if applicable). The value of this column will be &quot;10&quot;, which is the threshold value. Code so that your app gracefully handles any future changes to this value.'
        type: integer
      availabilityThresholdType:
        description: 'This column has a value only when the seller sets their Display Item Quantity preference to Display &quot;More than 10 available&quot; in your listing (if applicable). The value of this column will be MORE_THAN. This indicates that the seller has more than the ''Display Item Quantity'', which is 10, in stock for this item. The following are the Display Item Quantity preferences the seller can set. Display &quot;More than 10 available&quot; in your listing (if applicable) If the seller enables this preference, this column will have a value as long as there are more than 10 of this item in inventory. If the quantity is equal to 10 or drops below 10, this column will be null and the estimated quantity of the item is returned in the estimatedAvailableQuantity column. Display the exact quantity in your items If the seller enables this preference, the availabilityThresholdType and availabilityThreshold columns will be null and the estimated quantity of the item is returned in the estimatedAvailableQuantity column. Note: Because the quantity of an item can change several times within a second, it is impossible to return the exact quantity. Code so that your app gracefully handles any future changes to these preferences. For implementation help, refer to <a href=''https://developer.ebay.com/devzone/rest/api-ref/feed/types/AvailabilityThresholdEnum.html''>eBay API documentation</a>'
        type: string
      brand:
        description: 'The name brand of the item, such as Nike, Apple, etc.'
        type: string
      buyingOptions:
        description: 'A comma separated list of the purchase options available for the item, such as FIXED_PRICE, AUCTION. Code so that your app gracefully handles any future changes to this list. Note: This column can contain multiple values.'
        type: string
      category:
        description: 'The label of the category of the item. For example: Toys &amp; Hobbies|Action Figures|Comic Book Heroes .'
        type: string
      categoryId:
        description: 'The ID of the category of the item. For example: The ID for Toys &amp; Hobbies|Action Figures|Comic Book Heroes is 158671.'
        type: string
      condition:
        description: 'The text describing the condition of the item, such as New or Used. For a list of condition names, see ConditionEnum. Code so that your app gracefully handles any future changes to this list.'
        type: string
      conditionId:
        description: 'The identifier of the condition of the item. For example, 1000 is the identifier for NEW. For a list of condition names and IDs, see ConditionEnum. Code so that your app gracefully handles any future changes to this list.'
        type: string
      discountAmount:
        description: 'The calculated amount of the discount (originalPriceValue - priceValue). For example, if originalPriceValue is 70 and priceValue is 56, this value would be 14. Note: The currency shown in originalPriceCurrency is used for both discountAmount and originalPriceCurrency.'
        type: string
      discountPercentage:
        description: 'The calculated discount percentage. For example, if originalPriceValue is 70 and discountAmount is 14, this value will be 20.'
        type: string
      epid:
        description: The eBay product identifier of a product from the eBay product catalog. You can use this value in the Browse API search call to retrieve items for this product and in the Marketing API calls to retrieve 'also viewed' and 'also bought' products to encourage up-selling and cross-selling.
        type: string
      estimatedAvailableQuantity:
        description: 'The estimated number of this item that are available for purchase. Because the quantity of an item can change several times within a second, it is impossible to return the exact quantity. So instead of returning quantity, the estimated availability of the item is returned.'
        type: integer
      gtin:
        description: 'The unique Global Trade Item Number of the item as defined by http://www.gtin.info. This can be a UPC (Universal Product Code), EAN (European Article Number), or an ISBN (International Standard Book Number) value.'
        type: string
      imageUrl:
        description: The URL to the primary image of the item. This is the URL of the largest image available based on what the seller submitted.
        type: string
      itemEndDate:
        description: 'A timestamp indicating when the item''s sale period will end based on its start date and duration. For Good ''Til Cancelled'' items, no value is returned in this column. Format: UTC (yyyy-MM-ddThh:mm:ss.sssZ).'
        type: string
      itemId:
        description: The unique identifier of the eBay item.
        type: string
      itemLocationCountry:
        description: The country where the item is physically located.
        type: string
      itemSnapshotDate:
        description: 'This timestamp denotes the date and time the changes for that item were picked up and added to the snapshot feed file. For example, let''s say you have a snapshot feed file and also ran the getItem call. When you compare the same item information from the two sources, you see that the price in the getItem call response is different from the price in the snapshot feed file. By knowing the date and time you submitted the getItem call, you can use the itemSnapshotDate data to determine which price is the most current for this item.'
        type: string
      localizedAspects:
        description: 'A semicolon separated list of the name/value pairs for the aspects of the item, which are BASE64 encoded. The aspect label is separated by a pipe (|), the aspect name and value are separated by a colon (:) and the name/value pairs are separated by a semicolon (;). Example without Label &nbsp;&nbsp; Encoded Format: &nbsp;&nbsp;&nbsp;encodedName:encodedValue;encodedName:encodedValue;encodedName:encodedValue &nbsp;&nbsp; Encoded Example (encoded text shown in orange): &nbsp;&nbsp;&nbsp;U2l6ZQ==:WEw=;Q29sb3I=:UmVk;U2xlZXZlcw==:TG9uZw== &nbsp;&nbsp; Decoded: &nbsp;&nbsp;&nbsp;Size:XL;Color:Red;Sleeves:Long Example with Label &nbsp;&nbsp; Encoded Format: &nbsp;&nbsp;&nbsp;encodedLabel|encodedName:encodedValue;encodedName:encodedValue;encodedLabel| &nbsp;&nbsp; Encoded Example (encoded text shown in orange): &nbsp;&nbsp;&nbsp;UHJvZHVjdCBJZGVudGlmaWVycw==|R1RJTg==:MDE5MDE5ODA2NjYzMw==;QlJBTkQ=:QXBwbGU=;UHJvZHVjdCBLZXkgRmVhdHVyZXM=|TW9kZWw=:aVBob25lIDc= &nbsp;&nbsp; Decoded: &nbsp;&nbsp;&nbsp;Product Identifiers|GTIN:0190198066633;BRAND:Apple;Product Key Features|Model:iPhone 7 Note: The separators ( | : ; ) are not encoded. You must decode each label, name, and value separately. You cannot decode the entire string. For more information, see Encoded Aspects in the Buying Integration Guide.'
        type: string
      mpn:
        description: 'The manufacturer part number, which is a number that is used in combination with brand to identify a product.'
        type: string
      originalPriceCurrency:
        description: 'The currency of the originalPriceValue of the item and the discountAmount. For implementation help, refer to <a href=''https://developer.ebay.com/devzone/rest/api-ref/feed/types/CurrencyCodeEnum.html''>eBay API documentation</a>'
        type: string
      originalPriceValue:
        description: The original selling price of the item. This lets you surface a strikethrough price for the item.
        type: string
      priceCurrency:
        description: 'The currency used for the price of the item. Generally, this is the currency used by the country of the eBay site offering the item. For implementation help, refer to <a href=''https://developer.ebay.com/devzone/rest/api-ref/feed/types/CurrencyCodeEnum.html''>eBay API documentation</a>'
        type: string
      priceValue:
        description: 'The price of the item. Note: This price can be a discounted price.'
        type: string
      primaryItemGroupId:
        description: 'The unique identifier for the item group that contains this item. An item group is an item that has various aspect differences, such as color, size, storage capacity, etc.'
        type: string
      primaryItemGroupType:
        description: 'The item group type. Supported value: SELLER_DEFINED_VARIATIONS, indicates that the item group was created by the seller. Code so that your app gracefully handles any future changes to this list.'
        type: string
      refundMethod:
        description: 'An enumeration value that indicates how a buyer is refunded when an item is returned. Code so that your app gracefully handles any future changes to this list. For implementation help, refer to <a href=''https://developer.ebay.com/devzone/rest/api-ref/feed/types/RefundMethodEnum.html''>eBay API documentation</a>'
        type: string
      returnMethod:
        description: 'An enumeration value that indicates the alternative methods for a full refund when an item is returned. This column will have data if the seller offers the buyer an item replacement or exchange instead of a monetary refund. For implementation help, refer to <a href=''https://developer.ebay.com/devzone/rest/api-ref/feed/types/ReturnMethodEnum.html''>eBay API documentation</a>'
        type: string
      returnPeriodUnit:
        description: 'An enumeration value that indicates the period of time being used to measure the duration, such as business days or months, or years. See the TimeDurationUnitEnum type for a list of possible time-measuring units. For implementation help, refer to <a href=''https://developer.ebay.com/devzone/rest/api-ref/feed/types/TimeDurationUnitEnum.html''>eBay API documentation</a>'
        type: string
      returnPeriodValue:
        description: 'The amount of time the buyer has to return the item after the purchase date. This can be the number of years, months, or days depending on returnPeriodUnit. For example, if this value is ''30'', and the returnPeriodUnit value is ''DAY'', the return period is 30 days.'
        type: integer
      returnShippingCostPayer:
        description: 'The party responsible for the return shipping costs when an item is returned. Valid Values: BUYER or SELLER Code so that your app gracefully handles any future changes to this list. For implementation help, refer to <a href=''https://developer.ebay.com/devzone/rest/api-ref/feed/types/ReturnShippingCostPayerEnum.html''>eBay API documentation</a>'
        type: string
      returnsAccepted:
        description: Indicates whether the seller accepts returns for the item.
        type: boolean
      sellerFeedbackPercentage:
        description: The percentage of the seller's total positive feedback.
        type: string
      sellerFeedbackScore:
        description: The feedback score of the seller. This value is based on the ratings from eBay members that bought items from this seller.
        type: string
      sellerItemRevision:
        description: 'An identifier generated/incremented when a seller revises the item. There are two types of item revisions; seller changes, such as changing the title and eBay system changes, such as changing the quantity when an item is purchased. This ID is changed only when the seller makes a change to the item.'
        type: string
      sellerUsername:
        description: The seller's eBay user name.
        type: string
      title:
        description: The seller created title of the item.
        type: string
    type: object
  ItemSnapshotResponse:
    description: The type that defines the container for the items returned by the <b> getItemSnapshotResponse</b>.
    properties:
      items:
        description: The type that defines the array for the items returned by the getItemSnapshotFeed call.
        items:
          $ref: '#/definitions/ItemSnapshot'
        type: array
    type: object
