swagger: '2.0'
schemes:
  - https
host: tracing.googleapis.com
basePath: /
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: |
    Send and retrieve trace data from Google Stackdriver Trace.
  title: Google Tracing
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    format: google
    url: 'https://tracing.googleapis.com/$discovery/rest?version=v1'
    version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: tracing
externalDocs:
  url: 'https://cloud.google.com/trace'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/trace.append': Write Trace data for a project or application
      'https://www.googleapis.com/auth/trace.readonly': Read Trace data for a project or application
    type: oauth2
parameters:
  $.xgafv:
    description: V1 error format.
    enum:
      - '1'
      - '2'
    in: query
    name: $.xgafv
    type: string
  access_token:
    description: OAuth access token.
    in: query
    name: access_token
    type: string
  alt:
    default: json
    description: Data format for response.
    enum:
      - json
      - media
      - proto
    in: query
    name: alt
    type: string
  bearer_token:
    description: OAuth bearer token.
    in: query
    name: bearer_token
    type: string
  callback:
    description: JSONP
    in: query
    name: callback
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  pp:
    default: true
    description: Pretty-print response.
    in: query
    name: pp
    type: boolean
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
    in: query
    name: quotaUser
    type: string
  uploadType:
    description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
    in: query
    name: uploadType
    type: string
  upload_protocol:
    description: 'Upload protocol for media (e.g. "raw", "multipart").'
    in: query
    name: upload_protocol
    type: string
tags:
  - name: projects
paths:
  '/v1/{name}':
    get:
      description: Returns a specific trace.
      operationId: tracing.projects.traces.get
      parameters:
        - description: ID of the trace. Format is `projects/PROJECT_ID/traces/TRACE_ID`.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Trace'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/trace.readonly'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
  '/v1/{name}:listSpans':
    get:
      description: Returns a list of spans within a trace.
      operationId: tracing.projects.traces.listSpans
      parameters:
        - description: |-
            ID of the trace for which to list child spans. Format is
            `projects/PROJECT_ID/traces/TRACE_ID`.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
        - description: |-
            Token identifying the page of results to return. If provided, use the
            value of the `nextPageToken` field from a previous request. Optional.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListSpansResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/trace.readonly'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
  '/v1/{parent}/traces':
    get:
      description: Returns of a list of traces that match the specified filter conditions.
      operationId: tracing.projects.traces.list
      parameters:
        - description: ID of the Cloud project where the trace data is stored.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
        - description: |-
            Field used to sort the returned traces. Optional.
            Can be one of the following:

            *   `trace_id`
            *   `name` (`name` field of root span in the trace)
            *   `duration` (difference between `end_time` and `start_time` fields of
                 the root span)
            *   `start` (`start_time` field of the root span)

            Descending order can be specified by appending `desc` to the sort field
            (for example, `name desc`).

            Only one sort field is permitted.
          in: query
          name: orderBy
          type: string
        - description: |-
            An optional filter for the request.
            Example:
            `version_label_key:a some_label:some_label_key`
            returns traces from version `a` and has `some_label` with `some_label_key`.
          in: query
          name: filter
          type: string
        - description: |-
            End of the time interval (inclusive) during which the trace data was
            collected from the application.
          in: query
          name: endTime
          type: string
        - description: |-
            Start of the time interval (inclusive) during which the trace data was
            collected from the application.
          in: query
          name: startTime
          type: string
        - description: |-
            Token identifying the page of results to return. If provided, use the
            value of the `next_page_token` field from a previous request. Optional.
          in: query
          name: pageToken
          type: string
        - description: |-
            Maximum number of traces to return. If not specified or <= 0, the
            implementation selects a reasonable value. The implementation may
            return fewer traces than the requested page size. Optional.
          in: query
          name: pageSize
          type: integer
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListTracesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/trace.readonly'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
  '/v1/{parent}/traces:batchUpdate':
    parameters:
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
    post:
      description: |-
        Sends new spans to Stackdriver Trace or updates existing spans. If the
        name of a trace that you send matches that of an existing trace, any fields
        in the existing trace and its spans are overwritten by the provided values,
        and any new fields provided are merged with the existing trace data. If the
        name does not match, a new trace is created with given set of spans.
      operationId: tracing.projects.traces.batchUpdate
      parameters:
        - description: ID of the Cloud project where the trace data is stored.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
        - in: body
          name: body
          schema:
            $ref: '#/definitions/BatchUpdateSpansRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/trace.append'
      tags:
        - projects
definitions:
  Annotation:
    description: Text annotation with a set of attributes.
    properties:
      attributes:
        additionalProperties:
          $ref: '#/definitions/AttributeValue'
        description: A set of attributes on the annotation.
        type: object
      description:
        description: A user-supplied message describing the event.
        type: string
    type: object
  AttributeValue:
    description: 'The allowed types for the value side of an attribute key:value pair.'
    properties:
      boolValue:
        description: A boolean value.
        type: boolean
      intValue:
        description: An integer value.
        format: int64
        type: string
      stringValue:
        description: A string value.
        type: string
    type: object
  BatchUpdateSpansRequest:
    description: The request message for the `BatchUpdateSpans` method.
    properties:
      spanUpdates:
        additionalProperties:
          $ref: '#/definitions/SpanUpdates'
        description: A map from trace name to spans to be stored or updated.
        type: object
    type: object
  Empty:
    description: |-
      A generic empty message that you can re-use to avoid defining duplicated
      empty messages in your APIs. A typical example is to use it as the request
      or the response type of an API method. For instance:

          service Foo {
            rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);
          }

      The JSON representation for `Empty` is empty JSON object `{}`.
    properties: {}
    type: object
  Link:
    description: |-
      A pointer from this span to another span in a different `Trace`. Used
      (for example) in batching operations, where a single batch handler
      processes multiple requests from different traces.
    properties:
      spanId:
        description: The `id` of the linked span.
        format: uint64
        type: string
      traceId:
        description: The ID of the parent trace of the linked span.
        type: string
      type:
        description: The relationship of the current span relative to the linked span.
        enum:
          - TYPE_UNSPECIFIED
          - CHILD
          - PARENT
        type: string
    type: object
  ListSpansResponse:
    description: The response message for the `ListSpans` method.
    properties:
      nextPageToken:
        description: |-
          If defined, indicates that there are more spans that match the request.
          Pass this as the value of `pageToken` in a subsequent request to retrieve
          additional spans.
        type: string
      spans:
        description: The requested spans if there are any in the specified trace.
        items:
          $ref: '#/definitions/Span'
        type: array
    type: object
  ListTracesResponse:
    description: The response message for the `ListTraces` method.
    properties:
      nextPageToken:
        description: |-
          If defined, indicates that there are more traces that match the request
          and that this value should be passed to the next request to continue
          retrieving additional traces.
        type: string
      traces:
        description: List of trace records returned.
        items:
          $ref: '#/definitions/Trace'
        type: array
    type: object
  Module:
    description: Binary module.
    properties:
      buildId:
        description: |-
          Build_id is a unique identifier for the module,
          usually a hash of its contents
        type: string
      module:
        description: |-
          E.g. main binary, kernel modules, and dynamic libraries
          such as libc.so, sharedlib.so
        type: string
    type: object
  NetworkEvent:
    description: An event describing an RPC message sent/received on the network.
    properties:
      kernelTime:
        description: |-
          If available, this is the kernel time:

          *  For sent messages, this is the time at which the first bit was sent.
          *  For received messages, this is the time at which the last bit was
             received.
        format: google-datetime
        type: string
      messageId:
        description: 'An identifier for the message, which must be unique in this span.'
        format: uint64
        type: string
      messageSize:
        description: The number of bytes sent or received.
        format: uint64
        type: string
      type:
        description: |-
          Type of NetworkEvent. Indicates whether the RPC message was sent or
          received.
        enum:
          - TYPE_UNSPECIFIED
          - SENT
          - RECV
        type: string
    type: object
  Span:
    description: |-
      A span represents a single operation within a trace. Spans can be nested
      to form a trace tree. Often, a trace contains a root span that
      describes the end-to-end latency and, optionally, one or more subspans for
      its sub-operations. (A trace could alternatively contain multiple root spans,
      or none at all.) Spans do not need to be contiguous. There may be gaps
      and/or overlaps between spans in a trace.
    properties:
      attributes:
        additionalProperties:
          $ref: '#/definitions/AttributeValue'
        description: |-
          Properties of a span in key:value format. The maximum length for the
          key is 128 characters. The value can be a string (up to 2000 characters),
          int, or boolean.

          Some common pair examples:

              "/instance_id": "my-instance"
              "/zone": "us-central1-a"
              "/grpc/peer_address": "ip:port" (dns, etc.)
              "/grpc/deadline": "Duration"
              "/http/user_agent"
              "/http/request_bytes": 300
              "/http/response_bytes": 1200
              "/http/url": google.com/apis
              "abc.com/myattribute": true
        type: object
      hasRemoteParent:
        description: True if this span has a remote parent (is an RPC server span).
        type: boolean
      id:
        description: |-
          Identifier for the span. Must be a 64-bit integer other than 0 and
          unique within a trace.
        format: uint64
        type: string
      links:
        description: |-
          A collection of links, which are references from this span to another span
          in a different trace.
        items:
          $ref: '#/definitions/Link'
        type: array
      localEndTime:
        description: |-
          End time of the span.
          On the client side, this is the local machine clock time at which the span
          execution was ended; on the server
          side, this is the time at which the server application handler stopped
          running.
        format: google-datetime
        type: string
      localStartTime:
        description: |-
          Start time of the span.
          On the client side, this is the local machine clock time at which the span
          execution was started; on the server
          side, this is the time at which the server application handler started
          running.
        format: google-datetime
        type: string
      name:
        description: |-
          Name of the span. The span name is sanitized and displayed in the
          Stackdriver Trace tool in the {% dynamic print site_values.console_name %}.
          The name may be a method name or some other per-call site name.
          For the same executable and the same call point, a best practice is
          to use a consistent name, which makes it easier to correlate
          cross-trace spans.
        type: string
      parentId:
        description: |-
          ID of the parent span. If this is a root span, the value must be `0` or
          empty.
        format: uint64
        type: string
      stackTrace:
        $ref: '#/definitions/StackTrace'
        description: Stack trace captured at the start of the span.
      status:
        $ref: '#/definitions/Status'
        description: An optional final status for this span.
      timeEvents:
        description: |-
          A collection of `TimeEvent`s. A `TimeEvent` is a time-stamped annotation
          on the span, consisting of either user-supplied key:value pairs, or
          details of an RPC message sent/received on the network.
        items:
          $ref: '#/definitions/TimeEvent'
        type: array
    type: object
  SpanUpdates:
    description: Collection of spans to update.
    properties:
      spans:
        description: A collection of spans.
        items:
          $ref: '#/definitions/Span'
        type: array
    type: object
  StackFrame:
    description: Represents a single stack frame in a stack trace.
    properties:
      columnNumber:
        description: |-
          Column number is important in JavaScript (anonymous functions).
          May not be available in some languages.
        format: int64
        type: string
      fileName:
        description: The filename of the file containing this frame.
        type: string
      functionName:
        description: |-
          The fully-qualified name that uniquely identifies this function or
          method.
        type: string
      lineNumber:
        description: Line number of the frame.
        format: int64
        type: string
      loadModule:
        $ref: '#/definitions/Module'
        description: Binary module the code is loaded from.
      originalFunctionName:
        description: |-
          Used when the function name is
          [mangled](http://www.avabodh.com/cxxin/namemangling.html). May be
          fully-qualified.
        type: string
      sourceVersion:
        description: The version of the deployed source code.
        type: string
    type: object
  StackTrace:
    description: StackTrace collected in a trace.
    properties:
      stackFrame:
        description: Stack frames of this stack trace.
        items:
          $ref: '#/definitions/StackFrame'
        type: array
      stackTraceHashId:
        description: |-
          The hash ID is used to conserve network bandwidth for duplicate
          stack traces within a single trace.

          Often multiple spans will have identical stack traces.
          The first occurance of a stack trace should contain both the
          `stackFrame` content and a value in `stackTraceHashId`.

          Subsequent spans within the same request can refer
          to that stack trace by only setting `stackTraceHashId`.
        format: uint64
        type: string
    type: object
  Status:
    description: |-
      The `Status` type defines a logical error model that is suitable for different
      programming environments, including REST APIs and RPC APIs. It is used by
      [gRPC](https://github.com/grpc). The error model is designed to be:

      - Simple to use and understand for most users
      - Flexible enough to meet unexpected needs

      # Overview

      The `Status` message contains three pieces of data: error code, error message,
      and error details. The error code should be an enum value of
      google.rpc.Code, but it may accept additional error codes if needed.  The
      error message should be a developer-facing English message that helps
      developers *understand* and *resolve* the error. If a localized user-facing
      error message is needed, put the localized message in the error details or
      localize it in the client. The optional error details may contain arbitrary
      information about the error. There is a predefined set of error detail types
      in the package `google.rpc` which can be used for common error conditions.

      # Language mapping

      The `Status` message is the logical representation of the error model, but it
      is not necessarily the actual wire format. When the `Status` message is
      exposed in different client libraries and different wire protocols, it can be
      mapped differently. For example, it will likely be mapped to some exceptions
      in Java, but more likely mapped to some error codes in C.

      # Other uses

      The error model and the `Status` message can be used in a variety of
      environments, either with or without APIs, to provide a
      consistent developer experience across different environments.

      Example uses of this error model include:

      - Partial errors. If a service needs to return partial errors to the client,
          it may embed the `Status` in the normal response to indicate the partial
          errors.

      - Workflow errors. A typical workflow has multiple steps. Each step may
          have a `Status` message for error reporting purpose.

      - Batch operations. If a client uses batch request and batch response, the
          `Status` message should be used directly inside batch response, one for
          each error sub-response.

      - Asynchronous operations. If an API call embeds asynchronous operation
          results in its response, the status of those operations should be
          represented directly using the `Status` message.

      - Logging. If some API errors are stored in logs, the message `Status` could
          be used directly after any stripping needed for security/privacy reasons.
    properties:
      code:
        description: 'The status code, which should be an enum value of google.rpc.Code.'
        format: int32
        type: integer
      details:
        description: |-
          A list of messages that carry the error details.  There will be a
          common set of message types for APIs to use.
        items:
          additionalProperties:
            description: Properties of the object. Contains field @type with type URL.
          type: object
        type: array
      message:
        description: |-
          A developer-facing error message, which should be in English. Any
          user-facing error message should be localized and sent in the
          google.rpc.Status.details field, or localized by the client.
        type: string
    type: object
  TimeEvent:
    description: A time-stamped annotation in the Span.
    properties:
      annotation:
        $ref: '#/definitions/Annotation'
        description: 'One or more key:value pairs.'
      localTime:
        description: The timestamp indicating the time the event occurred.
        format: google-datetime
        type: string
      networkEvent:
        $ref: '#/definitions/NetworkEvent'
        description: An event describing an RPC message sent/received on the network.
    type: object
  Trace:
    description: |-
      A trace describes how long it takes for an application to perform some
      operations. It consists of a set of spans, each representing
      an operation and including time information and operation details.
    properties:
      name:
        description: |-
          A globally unique identifier for the trace in the format
          `projects/PROJECT_NUMBER/traces/TRACE_ID`. `TRACE_ID` is a base16-encoded
          string of a 128-bit number and is required to be 32 char long.
        type: string
    type: object
