swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  description: 'Azure Log Analytics API reference for LinkTargets, StorageInsightConfigs and SavedSearches.'
  title: Azure Log Analytics
  version: '2015-03-20'
  x-apisguru-categories:
    - analytics
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-operationalinsights/2015-03-20/swagger/OperationalInsights.json'
      version: '2.0'
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: arm-operationalinsights
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: Client Api Version.
    in: query
    name: api-version
    required: true
    type: string
  ResourceGroupNameParameter:
    description: The name of the resource group to get. The name is case insensitive.
    in: path
    maxLength: 90
    minLength: 1
    name: resourceGroupName
    pattern: '^[-\w\._\(\)]+$'
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.OperationalInsights/linkTargets':
    get:
      description: Get a list of workspaces which the current user has administrator privileges and are not associated with an Azure Subscription. The subscriptionId parameter in the Url is ignored.
      operationId: Workspaces_ListLinkTargets
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK response definition.
          schema:
            items:
              $ref: '#/definitions/LinkTarget'
            type: array
      tags:
        - Workspaces
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/savedSearches':
    get:
      description: Gets the saved searches for a given Log Analytics Workspace
      operationId: SavedSearches_ListByWorkspace
      parameters:
        - $ref: '#/parameters/ResourceGroupNameParameter'
        - description: Log Analytics workspace name
          in: path
          name: workspaceName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK response definition.
          schema:
            $ref: '#/definitions/SavedSearchesListResult'
      tags:
        - SavedSearches
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/savedSearches/{savedSearchName}':
    delete:
      description: Deletes the specified saved search in a given workspace.
      operationId: SavedSearches_Delete
      parameters:
        - $ref: '#/parameters/ResourceGroupNameParameter'
        - description: Log Analytics workspace name
          in: path
          name: workspaceName
          required: true
          type: string
        - description: Name of the saved search.
          in: path
          name: savedSearchName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK response definition.
      tags:
        - SavedSearches
    get:
      description: Gets the specified saved search for a given workspace.
      operationId: SavedSearches_Get
      parameters:
        - $ref: '#/parameters/ResourceGroupNameParameter'
        - description: Log Analytics workspace name
          in: path
          name: workspaceName
          required: true
          type: string
        - description: The id of the saved search.
          in: path
          name: savedSearchName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK response definition.
          schema:
            $ref: '#/definitions/SavedSearch'
      tags:
        - SavedSearches
    put:
      description: Creates or updates a saved search for a given workspace.
      operationId: SavedSearches_CreateOrUpdate
      parameters:
        - $ref: '#/parameters/ResourceGroupNameParameter'
        - description: Log Analytics workspace name
          in: path
          name: workspaceName
          required: true
          type: string
        - description: The id of the saved search.
          in: path
          name: savedSearchName
          required: true
          type: string
        - description: The parameters required to save a search.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/SavedSearch'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK response definition.
          schema:
            $ref: '#/definitions/SavedSearch'
      tags:
        - SavedSearches
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/savedSearches/{savedSearchName}/results':
    get:
      description: Gets the results from a saved search for a given workspace.
      operationId: SavedSearches_GetResults
      parameters:
        - $ref: '#/parameters/ResourceGroupNameParameter'
        - description: Log Analytics workspace name
          in: path
          name: workspaceName
          required: true
          type: string
        - description: The name of the saved search.
          in: path
          name: savedSearchName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK response definition.
          schema:
            $ref: '#/definitions/SearchResultsResponse'
      tags:
        - SavedSearches
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/schema':
    post:
      description: Gets the schema for a given workspace.
      operationId: Workspaces_GetSchema
      parameters:
        - $ref: '#/parameters/ResourceGroupNameParameter'
        - description: Log Analytics workspace name
          in: path
          name: workspaceName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK response definition.
          schema:
            $ref: '#/definitions/SearchGetSchemaResponse'
      tags:
        - Workspaces
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/search':
    post:
      description: 'Submit a search for a given workspace. The response will contain an id to track the search. User can use the id to poll the search status and get the full search result later if the search takes long time to finish. '
      operationId: Workspaces_GetSearchResults
      parameters:
        - $ref: '#/parameters/ResourceGroupNameParameter'
        - description: Log Analytics workspace name
          in: path
          name: workspaceName
          required: true
          type: string
        - description: The parameters required to execute a search query.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/SearchParameters'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK response definition.
          schema:
            $ref: '#/definitions/SearchResultsResponse'
        '202':
          description: Accepted response definition
      tags:
        - Workspaces
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/search/{id}':
    post:
      description: Gets updated search results for a given search query.
      operationId: Workspaces_UpdateSearchResults
      parameters:
        - $ref: '#/parameters/ResourceGroupNameParameter'
        - description: Log Analytics workspace name
          in: path
          name: workspaceName
          required: true
          type: string
        - description: The id of the search that will have results updated. You can get the id from the response of the GetResults call.
          in: path
          name: id
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK response definition.
          schema:
            $ref: '#/definitions/SearchResultsResponse'
      tags:
        - Workspaces
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/storageInsightConfigs':
    get:
      description: Lists the storage insight instances within a workspace
      operationId: StorageInsights_ListByWorkspace
      parameters:
        - $ref: '#/parameters/ResourceGroupNameParameter'
        - description: Log Analytics Workspace name that will contain the storageInsightsConfigs resource
          in: path
          name: workspaceName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK response definition.
          schema:
            $ref: '#/definitions/StorageInsightListResult'
      tags:
        - StorageInsights
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/storageInsightConfigs/{storageInsightName}':
    delete:
      description: Deletes a storageInsightsConfigs resource
      operationId: StorageInsights_Delete
      parameters:
        - $ref: '#/parameters/ResourceGroupNameParameter'
        - description: Log Analytics Workspace name that contains the storageInsightsConfigs resource
          in: path
          name: workspaceName
          required: true
          type: string
        - description: Name of the storageInsightsConfigs resource
          in: path
          name: storageInsightName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK response definition.
        '204':
          description: NoContent response definition.
      tags:
        - StorageInsights
    get:
      description: Gets a storage insight instance.
      operationId: StorageInsights_Get
      parameters:
        - $ref: '#/parameters/ResourceGroupNameParameter'
        - description: Log Analytics Workspace name that contains the storageInsightsConfigs resource
          in: path
          name: workspaceName
          required: true
          type: string
        - description: Name of the storageInsightsConfigs resource
          in: path
          name: storageInsightName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK response definition.
          schema:
            $ref: '#/definitions/StorageInsight'
      tags:
        - StorageInsights
    put:
      description: Create or update a storage insight.
      operationId: StorageInsights_CreateOrUpdate
      parameters:
        - $ref: '#/parameters/ResourceGroupNameParameter'
        - description: Log Analytics Workspace name that will contain the storageInsightsConfigs resource
          in: path
          name: workspaceName
          required: true
          type: string
        - description: Name of the storageInsightsConfigs resource
          in: path
          name: storageInsightName
          required: true
          type: string
        - description: The parameters required to create or update a storage insight.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/StorageInsight'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: OK response definition.
          schema:
            $ref: '#/definitions/StorageInsight'
        '201':
          description: Created response definition.
          schema:
            $ref: '#/definitions/StorageInsight'
      tags:
        - StorageInsights
definitions:
  CoreSummary:
    description: The core summary of a search.
    properties:
      NumberOfDocuments:
        description: The number of documents of a core summary.
        format: int64
        type: integer
      Status:
        description: The status of a core summary.
        type: string
    required:
      - NumberOfDocuments
  LinkTarget:
    description: Metadata for a workspace that isn't linked to an Azure subscription.
    properties:
      accountName:
        description: The display name of the workspace.
        type: string
        x-ms-client-name: DisplayName
      customerId:
        description: 'The GUID that uniquely identifies the workspace. '
        type: string
      location:
        description: The location of the workspace.
        type: string
      workspaceName:
        description: The DNS valid workspace name.
        type: string
  ProxyResource:
    description: Common properties of proxy resource.
    properties:
      id:
        description: Resource ID.
        readOnly: true
        type: string
      name:
        description: Resource name.
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: Resource tags
        type: object
      type:
        description: Resource type.
        readOnly: true
        type: string
  Resource:
    description: The resource definition.
    properties:
      id:
        description: Resource Id
        readOnly: true
        type: string
      location:
        description: Resource location
        type: string
      name:
        description: Resource name
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: Resource tags
        type: object
      type:
        description: Resource type
        readOnly: true
        type: string
    required:
      - location
    x-ms-azure-resource: true
  SavedSearch:
    description: Value object for saved search results.
    properties:
      etag:
        description: The etag of the saved search.
        type: string
      id:
        description: The id of the saved search.
        readOnly: true
        type: string
      properties:
        $ref: '#/definitions/SavedSearchProperties'
        description: Gets or sets properties of the saved search.
        x-ms-client-flatten: true
    required:
      - properties
  SavedSearchProperties:
    description: Value object for saved search results.
    properties:
      Category:
        description: 'The category of the saved search. This helps the user to find a saved search faster. '
        type: string
      DisplayName:
        description: Saved search display name.
        type: string
      Query:
        description: 'The query expression for the saved search. Please see https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-search-reference for reference.'
        type: string
      Tags:
        description: The tags attached to the saved search.
        items:
          $ref: '#/definitions/Tag'
        type: array
      Version:
        description: The version number of the query lanuage. Only verion 1 is allowed here.
        format: int64
        maximum: 1
        minimum: 1
        type: integer
    required:
      - Category
      - DisplayName
      - Query
      - Version
  SavedSearchesListResult:
    description: The saved search operation response.
    properties:
      __metadata:
        $ref: '#/definitions/SearchMetadata'
        description: The metadata from search results.
        x-ms-client-name: Metadata
      value:
        description: The array of result values.
        items:
          $ref: '#/definitions/SavedSearch'
        type: array
  SearchError:
    description: Details for a search error.
    properties:
      message:
        description: The error message.
        type: string
      type:
        description: The error type.
        type: string
  SearchGetSchemaResponse:
    description: The get schema operation response.
    properties:
      __metadata:
        $ref: '#/definitions/SearchMetadata'
        description: The metadata from search results.
        x-ms-client-name: Metadata
      value:
        description: The array of result values.
        items:
          $ref: '#/definitions/SearchSchemaValue'
        type: array
  SearchHighlight:
    description: Highlight details.
    properties:
      post:
        description: The string that is put after a matched result.
        type: string
      pre:
        description: The string that is put before a matched result.
        type: string
  SearchMetadata:
    description: Metadata for search results.
    properties:
      CoreSummaries:
        description: The core summaries.
        items:
          $ref: '#/definitions/CoreSummary'
        type: array
      ETag:
        description: The ETag of the search results.
        type: string
      LastUpdated:
        description: The time of last update.
        format: date-time
        type: string
      RequestId:
        description: The request id of the search.
        type: string
        x-ms-client-name: SearchId
      StartTime:
        description: The start time for the search.
        format: date-time
        type: string
      Status:
        description: The status of the search results.
        type: string
      aggregatedGroupingFields:
        description: The aggregated grouping fields.
        type: string
      aggregatedValueField:
        description: The aggregated value field.
        type: string
      id:
        description: The id of the search results request.
        type: string
      max:
        description: The max of all aggregates returned in the result set.
        format: int64
        type: integer
      requestTime:
        description: The request time.
        format: int64
        type: integer
      resultType:
        description: The search result type.
        type: string
      schema:
        $ref: '#/definitions/SearchMetadataSchema'
        description: The schema.
      sort:
        description: How the results are sorted.
        items:
          $ref: '#/definitions/SearchSort'
        type: array
      sum:
        description: The sum of all aggregates returned in the result set.
        format: int64
        type: integer
      top:
        description: The number of top search results.
        format: int64
        type: integer
      total:
        description: The total number of search results.
        format: int64
        type: integer
  SearchMetadataSchema:
    description: Schema metadata for search.
    properties:
      name:
        description: The name of the metadata schema.
        type: string
      version:
        description: The version of the metadata schema.
        format: int32
        type: integer
  SearchParameters:
    description: Parameters specifying the search query and range.
    properties:
      end:
        description: 'The end date filter, so the only query results returned are before this date.'
        format: date-time
        type: string
      highlight:
        $ref: '#/definitions/SearchHighlight'
        description: The highlight that looks for all occurences of a string.
      query:
        description: The query to search.
        type: string
      start:
        description: 'The start date filter, so the only query results returned are after this date.'
        format: date-time
        type: string
      top:
        description: The number to get from the top.
        format: int64
        type: integer
    required:
      - query
  SearchResultsResponse:
    description: The get search result operation response.
    properties:
      __metadata:
        $ref: '#/definitions/SearchMetadata'
        description: The metadata from search results.
        x-ms-client-name: Metadata
      error:
        $ref: '#/definitions/SearchError'
        description: The error.
      id:
        description: 'The id of the search, which includes the full url.'
        readOnly: true
        type: string
      value:
        description: The array of result values.
        items:
          type: object
        type: array
  SearchSchemaValue:
    description: Value object for schema results.
    properties:
      displayName:
        description: The display name of the schema.
        type: string
      facet:
        description: The boolean that indicates whether or not the field is a facet.
        type: boolean
      indexed:
        description: The boolean that indicates the field is searchable as free text.
        type: boolean
      name:
        description: The name of the schema.
        type: string
      ownerType:
        description: The array of workflows containing the field.
        items:
          type: string
        type: array
      stored:
        description: The boolean that indicates whether or not the field is stored.
        type: boolean
      type:
        description: The type.
        type: string
    required:
      - facet
      - stored
      - indexed
  SearchSort:
    description: The sort parameters for search.
    properties:
      name:
        description: The name of the field the search query is sorted on.
        type: string
      order:
        description: The sort order of the search.
        enum:
          - asc
          - desc
        type: string
        x-ms-enum:
          modelAsString: true
          name: SearchSortEnum
  StorageAccount:
    description: Describes a storage account connection.
    properties:
      id:
        description: The Azure Resource Manager ID of the storage account resource.
        type: string
      key:
        description: The storage account key.
        type: string
    required:
      - id
      - key
  StorageInsight:
    allOf:
      - $ref: '#/definitions/ProxyResource'
    description: The top level storage insight resource container.
    properties:
      eTag:
        description: The ETag of the storage insight.
        type: string
      properties:
        $ref: '#/definitions/StorageInsightProperties'
        description: Storage insight properties.
        x-ms-client-flatten: true
  StorageInsightListResult:
    description: The list storage insights operation response.
    properties:
      '@odata.nextLink':
        description: The link (url) to the next page of results.
        type: string
        x-ms-client-name: odataNextLink
      value:
        description: Gets or sets a list of storage insight instances.
        items:
          $ref: '#/definitions/StorageInsight'
        type: array
  StorageInsightProperties:
    description: Storage insight properties.
    properties:
      containers:
        description: The names of the blob containers that the workspace should read
        items:
          type: string
        type: array
      status:
        $ref: '#/definitions/StorageInsightStatus'
        description: The status of the storage insight
        readOnly: true
      storageAccount:
        $ref: '#/definitions/StorageAccount'
        description: The storage account connection details
      tables:
        description: The names of the Azure tables that the workspace should read
        items:
          type: string
        type: array
    required:
      - storageAccount
  StorageInsightStatus:
    description: The status of the storage insight.
    properties:
      description:
        description: Description of the state of the storage insight.
        type: string
      state:
        description: The state of the storage insight connection to the workspace
        enum:
          - OK
          - ERROR
        type: string
        x-ms-enum:
          modelAsString: true
          name: StorageInsightState
    required:
      - state
  Tag:
    description: A tag of a saved search.
    properties:
      Name:
        description: The tag name.
        type: string
      Value:
        description: The tag value.
        type: string
    required:
      - Name
      - Value
