openapi: 3.0.0
info:
  version: 2016-08-04
  x-release: v4
  title: AWS Health APIs and Notifications
  description: <fullname>Health</fullname> <p>The Health API provides programmatic access to the Health information that appears in the <a href="https://phd.aws.amazon.com/phd/home#/">Personal Health Dashboard</a>. You can use the API operations to get information about events that might affect your Amazon Web Services services and resources.</p> <note> <ul> <li> <p>You must have a Business, Enterprise On-Ramp, or Enterprise Support plan from <a href="http://aws.amazon.com/premiumsupport/">Amazon Web Services Support</a> to use the Health API. If you call the Health API from an Amazon Web Services account that doesn't have a Business, Enterprise On-Ramp, or Enterprise Support plan, you receive a <code>SubscriptionRequiredException</code> error.</p> </li> <li> <p>You can use the Health endpoint health.us-east-1.amazonaws.com (HTTPS) to call the Health API operations. Health supports a multi-Region application architecture and has two regional endpoints in an active-passive configuration. You can use the high availability endpoint example to determine which Amazon Web Services Region is active, so that you can get the latest information from the API. For more information, see <a href="https://docs.aws.amazon.com/health/latest/ug/health-api.html">Accessing the Health API</a> in the <i>Health User Guide</i>.</p> </li> </ul> </note> <p>For authentication of requests, Health uses the <a href="https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html">Signature Version 4 Signing Process</a>.</p> <p>If your Amazon Web Services account is part of Organizations, you can use the Health organizational view feature. This feature provides a centralized view of Health events across all accounts in your organization. You can aggregate Health events in real time to identify accounts in your organization that are affected by an operational event or get notified of security vulnerabilities. Use the organizational view API operations to enable this feature and return event information. For more information, see <a href="https://docs.aws.amazon.com/health/latest/ug/aggregate-events.html">Aggregating Health events</a> in the <i>Health User Guide</i>.</p> <note> <p>When you use the Health API operations to return Health events, see the following recommendations:</p> <ul> <li> <p>Use the <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_Event.html#AWSHealth-Type-Event-eventScopeCode">eventScopeCode</a> parameter to specify whether to return Health events that are public or account-specific.</p> </li> <li> <p>Use pagination to view all events from the response. For example, if you call the <code>DescribeEventsForOrganization</code> operation to get all events in your organization, you might receive several page results. Specify the <code>nextToken</code> in the next request to return more results.</p> </li> </ul> </note>
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png
    backgroundColor: "#FFFFFF"
  termsOfService: https://aws.amazon.com/service-terms/
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: https://github.com/mermade/aws2openapi
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: http://www.apache.org/licenses/
  x-providerName: amazonaws.com
  x-serviceName: health
  x-origin:
    - contentType: application/json
      url: https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/health-2016-08-04.normal.json
      converter:
        url: https://github.com/mermade/aws2openapi
        version: 1.0.0
      x-apisguru-driver: external
  x-apiClientRegistration:
    url: https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: https://docs.aws.amazon.com/health/
servers:
  - url: https://health.us-east-1.amazonaws.com
    variables: {}
    description: The general AWSHealth multi-region endpoint
  - url: http://health.{region}.amazonaws.com.cn
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The AWSHealth endpoint for China (Beijing) and China (Ningxia)
  - url: https://health.{region}.amazonaws.com.cn
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The AWSHealth endpoint for China (Beijing) and China (Ningxia)
x-hasEquivalentPaths: true
paths:
  /#X-Amz-Target=AWSHealth_20160804.DescribeAffectedAccountsForOrganization:
    post:
      operationId: DescribeAffectedAccountsForOrganization
      description: <p>Returns a list of accounts in the organization from Organizations that are affected by the provided event. For more information about the different types of Health events, see <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_Event.html">Event</a>. </p> <p>Before you can call this operation, you must first enable Health to work with Organizations. To do this, call the <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_EnableHealthServiceAccessForOrganization.html">EnableHealthServiceAccessForOrganization</a> operation from your organization's management account.</p> <note> <p>This API operation uses pagination. Specify the <code>nextToken</code> parameter in the next request to return more results.</p> </note>
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DescribeAffectedAccountsForOrganizationResponse"
        "480":
          description: InvalidPaginationToken
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidPaginationToken"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DescribeAffectedAccountsForOrganizationRequest"
      parameters:
        - name: maxResults
          in: query
          schema:
            type: string
          description: Pagination limit
          required: false
        - name: nextToken
          in: query
          schema:
            type: string
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSHealth_20160804.DescribeAffectedAccountsForOrganization
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSHealth_20160804.DescribeAffectedEntities:
    post:
      operationId: DescribeAffectedEntities
      description: <p>Returns a list of entities that have been affected by the specified events, based on the specified filter criteria. Entities can refer to individual customer resources, groups of customer resources, or any other construct, depending on the Amazon Web Services service. Events that have impact beyond that of the affected entities, or where the extent of impact is unknown, include at least one entity indicating this.</p> <p>At least one event ARN is required.</p> <note> <ul> <li> <p>This API operation uses pagination. Specify the <code>nextToken</code> parameter in the next request to return more results.</p> </li> <li> <p>This operation supports resource-level permissions. You can use this operation to allow or deny access to specific Health events. For more information, see <a href="https://docs.aws.amazon.com/health/latest/ug/security_iam_id-based-policy-examples.html#resource-action-based-conditions">Resource- and action-based conditions</a> in the <i>Health User Guide</i>.</p> </li> </ul> </note>
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DescribeAffectedEntitiesResponse"
        "480":
          description: InvalidPaginationToken
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidPaginationToken"
        "481":
          description: UnsupportedLocale
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnsupportedLocale"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DescribeAffectedEntitiesRequest"
      parameters:
        - name: maxResults
          in: query
          schema:
            type: string
          description: Pagination limit
          required: false
        - name: nextToken
          in: query
          schema:
            type: string
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSHealth_20160804.DescribeAffectedEntities
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSHealth_20160804.DescribeAffectedEntitiesForOrganization:
    post:
      operationId: DescribeAffectedEntitiesForOrganization
      description: <p>Returns a list of entities that have been affected by one or more events for one or more accounts in your organization in Organizations, based on the filter criteria. Entities can refer to individual customer resources, groups of customer resources, or any other construct, depending on the Amazon Web Services service.</p> <p>At least one event Amazon Resource Name (ARN) and account ID are required.</p> <p>Before you can call this operation, you must first enable Health to work with Organizations. To do this, call the <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_EnableHealthServiceAccessForOrganization.html">EnableHealthServiceAccessForOrganization</a> operation from your organization's management account.</p> <note> <ul> <li> <p>This API operation uses pagination. Specify the <code>nextToken</code> parameter in the next request to return more results.</p> </li> <li> <p>This operation doesn't support resource-level permissions. You can't use this operation to allow or deny access to specific Health events. For more information, see <a href="https://docs.aws.amazon.com/health/latest/ug/security_iam_id-based-policy-examples.html#resource-action-based-conditions">Resource- and action-based conditions</a> in the <i>Health User Guide</i>.</p> </li> </ul> </note>
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DescribeAffectedEntitiesForOrganizationResponse"
        "480":
          description: InvalidPaginationToken
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidPaginationToken"
        "481":
          description: UnsupportedLocale
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnsupportedLocale"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DescribeAffectedEntitiesForOrganizationRequest"
      parameters:
        - name: maxResults
          in: query
          schema:
            type: string
          description: Pagination limit
          required: false
        - name: nextToken
          in: query
          schema:
            type: string
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSHealth_20160804.DescribeAffectedEntitiesForOrganization
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSHealth_20160804.DescribeEntityAggregates:
    post:
      operationId: DescribeEntityAggregates
      description: Returns the number of entities that are affected by each of the specified events.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DescribeEntityAggregatesResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DescribeEntityAggregatesRequest"
      parameters:
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSHealth_20160804.DescribeEntityAggregates
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSHealth_20160804.DescribeEventAggregates:
    post:
      operationId: DescribeEventAggregates
      description: <p>Returns the number of events of each event type (issue, scheduled change, and account notification). If no filter is specified, the counts of all events in each category are returned.</p> <note> <p>This API operation uses pagination. Specify the <code>nextToken</code> parameter in the next request to return more results.</p> </note>
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DescribeEventAggregatesResponse"
        "480":
          description: InvalidPaginationToken
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidPaginationToken"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DescribeEventAggregatesRequest"
      parameters:
        - name: maxResults
          in: query
          schema:
            type: string
          description: Pagination limit
          required: false
        - name: nextToken
          in: query
          schema:
            type: string
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSHealth_20160804.DescribeEventAggregates
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSHealth_20160804.DescribeEventDetails:
    post:
      operationId: DescribeEventDetails
      description: <p>Returns detailed information about one or more specified events. Information includes standard event data (Amazon Web Services Region, service, and so on, as returned by <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEvents.html">DescribeEvents</a>), a detailed event description, and possible additional metadata that depends upon the nature of the event. Affected entities are not included. To retrieve the entities, use the <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeAffectedEntities.html">DescribeAffectedEntities</a> operation.</p> <p>If a specified event can't be retrieved, an error message is returned for that event.</p> <note> <p>This operation supports resource-level permissions. You can use this operation to allow or deny access to specific Health events. For more information, see <a href="https://docs.aws.amazon.com/health/latest/ug/security_iam_id-based-policy-examples.html#resource-action-based-conditions">Resource- and action-based conditions</a> in the <i>Health User Guide</i>.</p> </note>
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DescribeEventDetailsResponse"
        "480":
          description: UnsupportedLocale
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnsupportedLocale"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DescribeEventDetailsRequest"
      parameters:
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSHealth_20160804.DescribeEventDetails
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSHealth_20160804.DescribeEventDetailsForOrganization:
    post:
      operationId: DescribeEventDetailsForOrganization
      description: <p>Returns detailed information about one or more specified events for one or more Amazon Web Services accounts in your organization. This information includes standard event data (such as the Amazon Web Services Region and service), an event description, and (depending on the event) possible metadata. This operation doesn't return affected entities, such as the resources related to the event. To return affected entities, use the <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeAffectedEntitiesForOrganization.html">DescribeAffectedEntitiesForOrganization</a> operation.</p> <note> <p>Before you can call this operation, you must first enable Health to work with Organizations. To do this, call the <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_EnableHealthServiceAccessForOrganization.html">EnableHealthServiceAccessForOrganization</a> operation from your organization's management account.</p> </note> <p>When you call the <code>DescribeEventDetailsForOrganization</code> operation, specify the <code>organizationEventDetailFilters</code> object in the request. Depending on the Health event type, note the following differences:</p> <ul> <li> <p>To return event details for a public event, you must specify a null value for the <code>awsAccountId</code> parameter. If you specify an account ID for a public event, Health returns an error message because public events aren't specific to an account.</p> </li> <li> <p>To return event details for an event that is specific to an account in your organization, you must specify the <code>awsAccountId</code> parameter in the request. If you don't specify an account ID, Health returns an error message because the event is specific to an account in your organization. </p> </li> </ul> <p>For more information, see <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_Event.html">Event</a>.</p> <note> <p>This operation doesn't support resource-level permissions. You can't use this operation to allow or deny access to specific Health events. For more information, see <a href="https://docs.aws.amazon.com/health/latest/ug/security_iam_id-based-policy-examples.html#resource-action-based-conditions">Resource- and action-based conditions</a> in the <i>Health User Guide</i>.</p> </note>
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DescribeEventDetailsForOrganizationResponse"
        "480":
          description: UnsupportedLocale
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnsupportedLocale"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DescribeEventDetailsForOrganizationRequest"
      parameters:
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSHealth_20160804.DescribeEventDetailsForOrganization
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSHealth_20160804.DescribeEventTypes:
    post:
      operationId: DescribeEventTypes
      description: <p>Returns the event types that meet the specified filter criteria. You can use this API operation to find information about the Health event, such as the category, Amazon Web Services service, and event code. The metadata for each event appears in the <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_EventType.html">EventType</a> object. </p> <p>If you don't specify a filter criteria, the API operation returns all event types, in no particular order. </p> <note> <p>This API operation uses pagination. Specify the <code>nextToken</code> parameter in the next request to return more results.</p> </note>
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DescribeEventTypesResponse"
        "480":
          description: InvalidPaginationToken
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidPaginationToken"
        "481":
          description: UnsupportedLocale
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnsupportedLocale"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DescribeEventTypesRequest"
      parameters:
        - name: maxResults
          in: query
          schema:
            type: string
          description: Pagination limit
          required: false
        - name: nextToken
          in: query
          schema:
            type: string
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSHealth_20160804.DescribeEventTypes
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSHealth_20160804.DescribeEvents:
    post:
      operationId: DescribeEvents
      description: <p> Returns information about events that meet the specified filter criteria. Events are returned in a summary form and do not include the detailed description, any additional metadata that depends on the event type, or any affected resources. To retrieve that information, use the <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventDetails.html">DescribeEventDetails</a> and <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeAffectedEntities.html">DescribeAffectedEntities</a> operations.</p> <p>If no filter criteria are specified, all events are returned. Results are sorted by <code>lastModifiedTime</code>, starting with the most recent event.</p> <note> <ul> <li> <p>When you call the <code>DescribeEvents</code> operation and specify an entity for the <code>entityValues</code> parameter, Health might return public events that aren't specific to that resource. For example, if you call <code>DescribeEvents</code> and specify an ID for an Amazon Elastic Compute Cloud (Amazon EC2) instance, Health might return events that aren't specific to that resource or service. To get events that are specific to a service, use the <code>services</code> parameter in the <code>filter</code> object. For more information, see <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_Event.html">Event</a>.</p> </li> <li> <p>This API operation uses pagination. Specify the <code>nextToken</code> parameter in the next request to return more results.</p> </li> </ul> </note>
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DescribeEventsResponse"
        "480":
          description: InvalidPaginationToken
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidPaginationToken"
        "481":
          description: UnsupportedLocale
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnsupportedLocale"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DescribeEventsRequest"
      parameters:
        - name: maxResults
          in: query
          schema:
            type: string
          description: Pagination limit
          required: false
        - name: nextToken
          in: query
          schema:
            type: string
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSHealth_20160804.DescribeEvents
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSHealth_20160804.DescribeEventsForOrganization:
    post:
      operationId: DescribeEventsForOrganization
      description: <p>Returns information about events across your organization in Organizations. You can use the<code>filters</code> parameter to specify the events that you want to return. Events are returned in a summary form and don't include the affected accounts, detailed description, any additional metadata that depends on the event type, or any affected resources. To retrieve that information, use the following operations:</p> <ul> <li> <p> <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeAffectedAccountsForOrganization.html">DescribeAffectedAccountsForOrganization</a> </p> </li> <li> <p> <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventDetailsForOrganization.html">DescribeEventDetailsForOrganization</a> </p> </li> <li> <p> <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeAffectedEntitiesForOrganization.html">DescribeAffectedEntitiesForOrganization</a> </p> </li> </ul> <p>If you don't specify a <code>filter</code>, the <code>DescribeEventsForOrganizations</code> returns all events across your organization. Results are sorted by <code>lastModifiedTime</code>, starting with the most recent event. </p> <p>For more information about the different types of Health events, see <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_Event.html">Event</a>.</p> <p>Before you can call this operation, you must first enable Health to work with Organizations. To do this, call the <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_EnableHealthServiceAccessForOrganization.html">EnableHealthServiceAccessForOrganization</a> operation from your organization's management account.</p> <note> <p>This API operation uses pagination. Specify the <code>nextToken</code> parameter in the next request to return more results.</p> </note>
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DescribeEventsForOrganizationResponse"
        "480":
          description: InvalidPaginationToken
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidPaginationToken"
        "481":
          description: UnsupportedLocale
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnsupportedLocale"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DescribeEventsForOrganizationRequest"
      parameters:
        - name: maxResults
          in: query
          schema:
            type: string
          description: Pagination limit
          required: false
        - name: nextToken
          in: query
          schema:
            type: string
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSHealth_20160804.DescribeEventsForOrganization
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSHealth_20160804.DescribeHealthServiceStatusForOrganization:
    post:
      operationId: DescribeHealthServiceStatusForOrganization
      description: This operation provides status information on enabling or disabling Health to work with your organization. To call this operation, you must sign in as an IAM user, assume an IAM role, or sign in as the root user (not recommended) in the organization's management account.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DescribeHealthServiceStatusForOrganizationResponse"
      parameters:
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSHealth_20160804.DescribeHealthServiceStatusForOrganization
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSHealth_20160804.DisableHealthServiceAccessForOrganization:
    post:
      operationId: DisableHealthServiceAccessForOrganization
      description: <p>Disables Health from working with Organizations. To call this operation, you must sign in as an Identity and Access Management (IAM) user, assume an IAM role, or sign in as the root user (not recommended) in the organization's management account. For more information, see <a href="https://docs.aws.amazon.com/health/latest/ug/aggregate-events.html">Aggregating Health events</a> in the <i>Health User Guide</i>.</p> <p>This operation doesn't remove the service-linked role from the management account in your organization. You must use the IAM console, API, or Command Line Interface (CLI) to remove the service-linked role. For more information, see <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/using-service-linked-roles.html#delete-service-linked-role">Deleting a Service-Linked Role</a> in the <i>IAM User Guide</i>.</p> <note> <p>You can also disable the organizational feature by using the Organizations <a href="https://docs.aws.amazon.com/organizations/latest/APIReference/API_DisableAWSServiceAccess.html">DisableAWSServiceAccess</a> API operation. After you call this operation, Health stops aggregating events for all other Amazon Web Services accounts in your organization. If you call the Health API operations for organizational view, Health returns an error. Health continues to aggregate health events for your Amazon Web Services account.</p> </note>
      responses:
        "200":
          description: Success
        "480":
          description: ConcurrentModificationException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConcurrentModificationException"
      parameters:
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSHealth_20160804.DisableHealthServiceAccessForOrganization
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=AWSHealth_20160804.EnableHealthServiceAccessForOrganization:
    post:
      operationId: EnableHealthServiceAccessForOrganization
      description: <p>Enables Health to work with Organizations. You can use the organizational view feature to aggregate events from all Amazon Web Services accounts in your organization in a centralized location. </p> <p>This operation also creates a service-linked role for the management account in the organization. </p> <note> <p>To call this operation, you must meet the following requirements:</p> <ul> <li> <p>You must have a Business, Enterprise On-Ramp, or Enterprise Support plan from <a href="http://aws.amazon.com/premiumsupport/">Amazon Web Services Support</a> to use the Health API. If you call the Health API from an Amazon Web Services account that doesn't have a Business, Enterprise On-Ramp, or Enterprise Support plan, you receive a <code>SubscriptionRequiredException</code> error.</p> </li> <li> <p>You must have permission to call this operation from the organization's management account. For example IAM policies, see <a href="https://docs.aws.amazon.com/health/latest/ug/security_iam_id-based-policy-examples.html">Health identity-based policy examples</a>.</p> </li> </ul> </note> <p>If you don't have the required support plan, you can instead use the Health console to enable the organizational view feature. For more information, see <a href="https://docs.aws.amazon.com/health/latest/ug/aggregate-events.html">Aggregating Health events</a> in the <i>Health User Guide</i>.</p>
      responses:
        "200":
          description: Success
        "480":
          description: ConcurrentModificationException
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConcurrentModificationException"
      parameters:
        - name: X-Amz-Target
          in: header
          required: true
          schema:
            type: string
            enum:
              - AWSHealth_20160804.EnableHealthServiceAccessForOrganization
    parameters:
      - $ref: "#/components/parameters/X-Amz-Content-Sha256"
      - $ref: "#/components/parameters/X-Amz-Date"
      - $ref: "#/components/parameters/X-Amz-Algorithm"
      - $ref: "#/components/parameters/X-Amz-Credential"
      - $ref: "#/components/parameters/X-Amz-Security-Token"
      - $ref: "#/components/parameters/X-Amz-Signature"
      - $ref: "#/components/parameters/X-Amz-SignedHeaders"
components:
  parameters:
    X-Amz-Content-Sha256:
      name: X-Amz-Content-Sha256
      in: header
      schema:
        type: string
      required: false
    X-Amz-Date:
      name: X-Amz-Date
      in: header
      schema:
        type: string
      required: false
    X-Amz-Algorithm:
      name: X-Amz-Algorithm
      in: header
      schema:
        type: string
      required: false
    X-Amz-Credential:
      name: X-Amz-Credential
      in: header
      schema:
        type: string
      required: false
    X-Amz-Security-Token:
      name: X-Amz-Security-Token
      in: header
      schema:
        type: string
      required: false
    X-Amz-Signature:
      name: X-Amz-Signature
      in: header
      schema:
        type: string
      required: false
    X-Amz-SignedHeaders:
      name: X-Amz-SignedHeaders
      in: header
      schema:
        type: string
      required: false
  securitySchemes:
    hmac:
      type: apiKey
      name: Authorization
      in: header
      description: Amazon Signature authorization v4
      x-amazon-apigateway-authtype: awsSigv4
  schemas:
    DescribeAffectedAccountsForOrganizationResponse:
      type: object
      properties:
        affectedAccounts:
          allOf:
            - $ref: "#/components/schemas/affectedAccountsList"
            - description: A JSON set of elements of the affected accounts.
        eventScopeCode:
          allOf:
            - $ref: "#/components/schemas/eventScopeCode"
            - description: <p>This parameter specifies if the Health event is a public Amazon Web Services service event or an account-specific event.</p> <ul> <li> <p>If the <code>eventScopeCode</code> value is <code>PUBLIC</code>, then the <code>affectedAccounts</code> value is always empty.</p> </li> <li> <p>If the <code>eventScopeCode</code> value is <code>ACCOUNT_SPECIFIC</code>, then the <code>affectedAccounts</code> value lists the affected Amazon Web Services accounts in your organization. For example, if an event affects a service such as Amazon Elastic Compute Cloud and you have Amazon Web Services accounts that use that service, those account IDs appear in the response.</p> </li> <li> <p>If the <code>eventScopeCode</code> value is <code>NONE</code>, then the <code>eventArn</code> that you specified in the request is invalid or doesn't exist.</p> </li> </ul>
        nextToken:
          allOf:
            - $ref: "#/components/schemas/nextToken"
            - description: If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value.
    DescribeAffectedAccountsForOrganizationRequest:
      type: object
      required:
        - eventArn
      title: DescribeAffectedAccountsForOrganizationRequest
      properties:
        eventArn:
          allOf:
            - $ref: "#/components/schemas/eventArn"
            - description: <p>The unique identifier for the event. The event ARN has the <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i> </code> format.</p> <p>For example, an event ARN might look like the following:</p> <p> <code>arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code> </p>
        nextToken:
          allOf:
            - $ref: "#/components/schemas/nextToken"
            - description: If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value.
        maxResults:
          allOf:
            - $ref: "#/components/schemas/maxResults"
            - description: The maximum number of items to return in one batch, between 10 and 100, inclusive.
    InvalidPaginationToken: {}
    DescribeAffectedEntitiesResponse:
      type: object
      properties:
        entities:
          allOf:
            - $ref: "#/components/schemas/EntityList"
            - description: The entities that match the filter criteria.
        nextToken:
          allOf:
            - $ref: "#/components/schemas/nextToken"
            - description: If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value.
    DescribeAffectedEntitiesRequest:
      type: object
      required:
        - filter
      title: DescribeAffectedEntitiesRequest
      properties:
        filter:
          allOf:
            - $ref: "#/components/schemas/EntityFilter"
            - description: Values to narrow the results returned. At least one event ARN is required.
        locale:
          allOf:
            - $ref: "#/components/schemas/locale"
            - description: The locale (language) to return information in. English (en) is the default and the only supported value at this time.
        nextToken:
          allOf:
            - $ref: "#/components/schemas/nextToken"
            - description: If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value.
        maxResults:
          allOf:
            - $ref: "#/components/schemas/maxResults"
            - description: The maximum number of items to return in one batch, between 10 and 100, inclusive.
    UnsupportedLocale: {}
    DescribeAffectedEntitiesForOrganizationResponse:
      type: object
      properties:
        entities:
          allOf:
            - $ref: "#/components/schemas/EntityList"
            - description: A JSON set of elements including the <code>awsAccountId</code> and its <code>entityArn</code>, <code>entityValue</code> and its <code>entityArn</code>, <code>lastUpdatedTime</code>, and <code>statusCode</code>.
        failedSet:
          allOf:
            - $ref: "#/components/schemas/DescribeAffectedEntitiesForOrganizationFailedSet"
            - description: A JSON set of elements of the failed response, including the <code>awsAccountId</code>, <code>errorMessage</code>, <code>errorName</code>, and <code>eventArn</code>.
        nextToken:
          allOf:
            - $ref: "#/components/schemas/nextToken"
            - description: If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value.
    DescribeAffectedEntitiesForOrganizationRequest:
      type: object
      required:
        - organizationEntityFilters
      title: DescribeAffectedEntitiesForOrganizationRequest
      properties:
        organizationEntityFilters:
          allOf:
            - $ref: "#/components/schemas/OrganizationEntityFiltersList"
            - description: A JSON set of elements including the <code>awsAccountId</code> and the <code>eventArn</code>.
        locale:
          allOf:
            - $ref: "#/components/schemas/locale"
            - description: The locale (language) to return information in. English (en) is the default and the only supported value at this time.
        nextToken:
          allOf:
            - $ref: "#/components/schemas/nextToken"
            - description: If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value.
        maxResults:
          allOf:
            - $ref: "#/components/schemas/maxResultsLowerRange"
            - description: The maximum number of items to return in one batch, between 10 and 100, inclusive.
    DescribeEntityAggregatesResponse:
      type: object
      properties:
        entityAggregates:
          allOf:
            - $ref: "#/components/schemas/EntityAggregateList"
            - description: The number of entities that are affected by each of the specified events.
    DescribeEntityAggregatesRequest:
      type: object
      title: DescribeEntityAggregatesRequest
      properties:
        eventArns:
          allOf:
            - $ref: "#/components/schemas/EventArnsList"
            - description: 'A list of event ARNs (unique identifiers). For example: <code>"arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-CDE456", "arn:aws:health:us-west-1::event/EBS/AWS_EBS_LOST_VOLUME/AWS_EBS_LOST_VOLUME_CHI789_JKL101"</code> '
    DescribeEventAggregatesResponse:
      type: object
      properties:
        eventAggregates:
          allOf:
            - $ref: "#/components/schemas/EventAggregateList"
            - description: The number of events in each category that meet the optional filter criteria.
        nextToken:
          allOf:
            - $ref: "#/components/schemas/nextToken"
            - description: If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value.
    DescribeEventAggregatesRequest:
      type: object
      required:
        - aggregateField
      title: DescribeEventAggregatesRequest
      properties:
        filter:
          allOf:
            - $ref: "#/components/schemas/EventFilter"
            - description: Values to narrow the results returned.
        aggregateField:
          allOf:
            - $ref: "#/components/schemas/eventAggregateField"
            - description: The only currently supported value is <code>eventTypeCategory</code>.
        maxResults:
          allOf:
            - $ref: "#/components/schemas/maxResults"
            - description: The maximum number of items to return in one batch, between 10 and 100, inclusive.
        nextToken:
          allOf:
            - $ref: "#/components/schemas/nextToken"
            - description: If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value.
    DescribeEventDetailsResponse:
      type: object
      properties:
        successfulSet:
          allOf:
            - $ref: "#/components/schemas/DescribeEventDetailsSuccessfulSet"
            - description: Information about the events that could be retrieved.
        failedSet:
          allOf:
            - $ref: "#/components/schemas/DescribeEventDetailsFailedSet"
            - description: Error messages for any events that could not be retrieved.
    DescribeEventDetailsRequest:
      type: object
      required:
        - eventArns
      title: DescribeEventDetailsRequest
      properties:
        eventArns:
          allOf:
            - $ref: "#/components/schemas/eventArnList"
            - description: 'A list of event ARNs (unique identifiers). For example: <code>"arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-CDE456", "arn:aws:health:us-west-1::event/EBS/AWS_EBS_LOST_VOLUME/AWS_EBS_LOST_VOLUME_CHI789_JKL101"</code> '
        locale:
          allOf:
            - $ref: "#/components/schemas/locale"
            - description: The locale (language) to return information in. English (en) is the default and the only supported value at this time.
    DescribeEventDetailsForOrganizationResponse:
      type: object
      properties:
        successfulSet:
          allOf:
            - $ref: "#/components/schemas/DescribeEventDetailsForOrganizationSuccessfulSet"
            - description: Information about the events that could be retrieved.
        failedSet:
          allOf:
            - $ref: "#/components/schemas/DescribeEventDetailsForOrganizationFailedSet"
            - description: Error messages for any events that could not be retrieved.
    DescribeEventDetailsForOrganizationRequest:
      type: object
      required:
        - organizationEventDetailFilters
      title: DescribeEventDetailsForOrganizationRequest
      properties:
        organizationEventDetailFilters:
          allOf:
            - $ref: "#/components/schemas/OrganizationEventDetailFiltersList"
            - description: A set of JSON elements that includes the <code>awsAccountId</code> and the <code>eventArn</code>.
        locale:
          allOf:
            - $ref: "#/components/schemas/locale"
            - description: The locale (language) to return information in. English (en) is the default and the only supported value at this time.
    DescribeEventTypesResponse:
      type: object
      properties:
        eventTypes:
          allOf:
            - $ref: "#/components/schemas/EventTypeList"
            - description: A list of event types that match the filter criteria. Event types have a category (<code>issue</code>, <code>accountNotification</code>, or <code>scheduledChange</code>), a service (for example, <code>EC2</code>, <code>RDS</code>, <code>DATAPIPELINE</code>, <code>BILLING</code>), and a code (in the format <code>AWS_<i>SERVICE</i>_<i>DESCRIPTION</i> </code>; for example, <code>AWS_EC2_SYSTEM_MAINTENANCE_EVENT</code>).
        nextToken:
          allOf:
            - $ref: "#/components/schemas/nextToken"
            - description: If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value.
    DescribeEventTypesRequest:
      type: object
      title: DescribeEventTypesRequest
      properties:
        filter:
          allOf:
            - $ref: "#/components/schemas/EventTypeFilter"
            - description: Values to narrow the results returned.
        locale:
          allOf:
            - $ref: "#/components/schemas/locale"
            - description: The locale (language) to return information in. English (en) is the default and the only supported value at this time.
        nextToken:
          allOf:
            - $ref: "#/components/schemas/nextToken"
            - description: If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value.
        maxResults:
          allOf:
            - $ref: "#/components/schemas/maxResults"
            - description: The maximum number of items to return in one batch, between 10 and 100, inclusive.
    DescribeEventsResponse:
      type: object
      properties:
        events:
          allOf:
            - $ref: "#/components/schemas/EventList"
            - description: The events that match the specified filter criteria.
        nextToken:
          allOf:
            - $ref: "#/components/schemas/nextToken"
            - description: If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value.
    DescribeEventsRequest:
      type: object
      title: DescribeEventsRequest
      properties:
        filter:
          allOf:
            - $ref: "#/components/schemas/EventFilter"
            - description: Values to narrow the results returned.
        nextToken:
          allOf:
            - $ref: "#/components/schemas/nextToken"
            - description: If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value.
        maxResults:
          allOf:
            - $ref: "#/components/schemas/maxResults"
            - description: The maximum number of items to return in one batch, between 10 and 100, inclusive.
        locale:
          allOf:
            - $ref: "#/components/schemas/locale"
            - description: The locale (language) to return information in. English (en) is the default and the only supported value at this time.
    DescribeEventsForOrganizationResponse:
      type: object
      properties:
        events:
          allOf:
            - $ref: "#/components/schemas/OrganizationEventList"
            - description: The events that match the specified filter criteria.
        nextToken:
          allOf:
            - $ref: "#/components/schemas/nextToken"
            - description: If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value.
    DescribeEventsForOrganizationRequest:
      type: object
      title: DescribeEventsForOrganizationRequest
      properties:
        filter:
          allOf:
            - $ref: "#/components/schemas/OrganizationEventFilter"
            - description: Values to narrow the results returned.
        nextToken:
          allOf:
            - $ref: "#/components/schemas/nextToken"
            - description: If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value.
        maxResults:
          allOf:
            - $ref: "#/components/schemas/maxResultsLowerRange"
            - description: The maximum number of items to return in one batch, between 10 and 100, inclusive.
        locale:
          allOf:
            - $ref: "#/components/schemas/locale"
            - description: The locale (language) to return information in. English (en) is the default and the only supported value at this time.
    DescribeHealthServiceStatusForOrganizationResponse:
      type: object
      properties:
        healthServiceAccessStatusForOrganization:
          allOf:
            - $ref: "#/components/schemas/healthServiceAccessStatusForOrganization"
            - description: <p>Information about the status of enabling or disabling the Health organizational view feature in your organization.</p> <p>Valid values are <code>ENABLED | DISABLED | PENDING</code>. </p>
    ConcurrentModificationException: {}
    entityArn:
      type: string
      pattern: .{0,1600}
      maxLength: 1600
    eventArn:
      type: string
      pattern: arn:aws(-[a-z]+(-[a-z]+)?)?:health:[^:]*:[^:]*:event(?:/[\w-]+){3}
      maxLength: 1600
    entityValue:
      type: string
      pattern: .{0,1224}
      maxLength: 1224
    entityUrl:
      type: string
    accountId:
      type: string
      pattern: ^\S+$
      maxLength: 12
    timestamp:
      type: string
      format: date-time
    entityStatusCode:
      type: string
      enum:
        - IMPAIRED
        - UNIMPAIRED
        - UNKNOWN
    tagSet:
      type: object
      maxProperties: 50
      additionalProperties:
        $ref: "#/components/schemas/tagValue"
    AffectedEntity:
      type: object
      properties:
        entityArn:
          allOf:
            - $ref: "#/components/schemas/entityArn"
            - description: "The unique identifier for the entity. Format: <code>arn:aws:health:<i>entity-region</i>:<i>aws-account</i>:entity/<i>entity-id</i> </code>. Example: <code>arn:aws:health:us-east-1:111222333444:entity/AVh5GGT7ul1arKr1sE1K</code> "
        eventArn:
          allOf:
            - $ref: "#/components/schemas/eventArn"
            - description: <p>The unique identifier for the event. The event ARN has the <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i> </code> format.</p> <p>For example, an event ARN might look like the following:</p> <p> <code>arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code> </p>
        entityValue:
          allOf:
            - $ref: "#/components/schemas/entityValue"
            - description: The ID of the affected entity.
        entityUrl:
          allOf:
            - $ref: "#/components/schemas/entityUrl"
            - description: The URL of the affected entity.
        awsAccountId:
          allOf:
            - $ref: "#/components/schemas/accountId"
            - description: The 12-digit Amazon Web Services account number that contains the affected entity.
        lastUpdatedTime:
          allOf:
            - $ref: "#/components/schemas/timestamp"
            - description: The most recent time that the entity was updated.
        statusCode:
          allOf:
            - $ref: "#/components/schemas/entityStatusCode"
            - description: The most recent status of the entity affected by the event. The possible values are <code>IMPAIRED</code>, <code>UNIMPAIRED</code>, and <code>UNKNOWN</code>.
        tags:
          allOf:
            - $ref: "#/components/schemas/tagSet"
            - description: <p>A map of entity tags attached to the affected entity.</p> <note> <p>Currently, the <code>tags</code> property isn't supported.</p> </note>
      description: Information about an entity that is affected by a Health event.
    DateTimeRange:
      type: object
      properties:
        from:
          allOf:
            - $ref: "#/components/schemas/timestamp"
            - description: The starting date and time of a time range.
        to:
          allOf:
            - $ref: "#/components/schemas/timestamp"
            - description: The ending date and time of a time range.
      description: 'A range of dates and times that is used by the <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_EventFilter.html">EventFilter</a> and <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_EntityFilter.html">EntityFilter</a> objects. If <code>from</code> is set and <code>to</code> is set: match items where the timestamp (<code>startTime</code>, <code>endTime</code>, or <code>lastUpdatedTime</code>) is between <code>from</code> and <code>to</code> inclusive. If <code>from</code> is set and <code>to</code> is not set: match items where the timestamp value is equal to or after <code>from</code>. If <code>from</code> is not set and <code>to</code> is set: match items where the timestamp value is equal to or before <code>to</code>.'
    nextToken:
      type: string
      pattern: "[a-zA-Z0-9=/+_.-]{4,10000}"
      minLength: 4
      maxLength: 10000
    maxResults:
      type: integer
      minimum: 10
      maximum: 100
    affectedAccountsList:
      type: array
      items:
        $ref: "#/components/schemas/accountId"
    eventScopeCode:
      type: string
      enum:
        - PUBLIC
        - ACCOUNT_SPECIFIC
        - NONE
    OrganizationAffectedEntitiesErrorItem:
      type: object
      properties:
        awsAccountId:
          allOf:
            - $ref: "#/components/schemas/accountId"
            - description: The 12-digit Amazon Web Services account numbers that contains the affected entities.
        eventArn:
          allOf:
            - $ref: "#/components/schemas/eventArn"
            - description: <p>The unique identifier for the event. The event ARN has the <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i> </code> format.</p> <p>For example, an event ARN might look like the following:</p> <p> <code>arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code> </p>
        errorName:
          allOf:
            - $ref: "#/components/schemas/string"
            - description: The name of the error.
        errorMessage:
          allOf:
            - $ref: "#/components/schemas/string"
            - description: The unique identifier for the event type. The format is <code>AWS_SERVICE_DESCRIPTION</code>. For example, <code>AWS_EC2_SYSTEM_MAINTENANCE_EVENT</code>.
      description: Error information returned when a <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeAffectedEntitiesForOrganization.html">DescribeAffectedEntitiesForOrganization</a> operation can't find or process a specific entity.
    DescribeAffectedEntitiesForOrganizationFailedSet:
      type: array
      items:
        $ref: "#/components/schemas/OrganizationAffectedEntitiesErrorItem"
    OrganizationEntityFiltersList:
      type: array
      items:
        $ref: "#/components/schemas/EventAccountFilter"
      minItems: 1
      maxItems: 10
    locale:
      type: string
      pattern: .{2,256}
      minLength: 2
      maxLength: 256
    maxResultsLowerRange:
      type: integer
      minimum: 1
      maximum: 100
    EntityList:
      type: array
      items:
        $ref: "#/components/schemas/AffectedEntity"
    EntityFilter:
      type: object
      required:
        - eventArns
      properties:
        eventArns:
          allOf:
            - $ref: "#/components/schemas/eventArnList"
            - description: 'A list of event ARNs (unique identifiers). For example: <code>"arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-CDE456", "arn:aws:health:us-west-1::event/EBS/AWS_EBS_LOST_VOLUME/AWS_EBS_LOST_VOLUME_CHI789_JKL101"</code> '
        entityArns:
          allOf:
            - $ref: "#/components/schemas/entityArnList"
            - description: A list of entity ARNs (unique identifiers).
        entityValues:
          allOf:
            - $ref: "#/components/schemas/entityValueList"
            - description: A list of IDs for affected entities.
        lastUpdatedTimes:
          allOf:
            - $ref: "#/components/schemas/dateTimeRangeList"
            - description: A list of the most recent dates and times that the entity was updated.
        tags:
          allOf:
            - $ref: "#/components/schemas/tagFilter"
            - description: <p>A map of entity tags attached to the affected entity.</p> <note> <p>Currently, the <code>tags</code> property isn't supported.</p> </note>
        statusCodes:
          allOf:
            - $ref: "#/components/schemas/entityStatusCodeList"
            - description: A list of entity status codes (<code>IMPAIRED</code>, <code>UNIMPAIRED</code>, or <code>UNKNOWN</code>).
      description: The values to use to filter results from the <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeAffectedEntities.html">DescribeAffectedEntities</a> operation.
    EventArnsList:
      type: array
      items:
        $ref: "#/components/schemas/eventArn"
      minItems: 1
      maxItems: 50
    EntityAggregateList:
      type: array
      items:
        $ref: "#/components/schemas/EntityAggregate"
    EventFilter:
      type: object
      properties:
        eventArns:
          allOf:
            - $ref: "#/components/schemas/eventArnList"
            - description: 'A list of event ARNs (unique identifiers). For example: <code>"arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-CDE456", "arn:aws:health:us-west-1::event/EBS/AWS_EBS_LOST_VOLUME/AWS_EBS_LOST_VOLUME_CHI789_JKL101"</code> '
        eventTypeCodes:
          allOf:
            - $ref: "#/components/schemas/eventTypeList"
            - description: 'A list of unique identifiers for event types. For example, <code>"AWS_EC2_SYSTEM_MAINTENANCE_EVENT","AWS_RDS_MAINTENANCE_SCHEDULED".</code> '
        services:
          allOf:
            - $ref: "#/components/schemas/serviceList"
            - description: The Amazon Web Services services associated with the event. For example, <code>EC2</code>, <code>RDS</code>.
        regions:
          allOf:
            - $ref: "#/components/schemas/regionList"
            - description: A list of Amazon Web Services Regions.
        availabilityZones:
          allOf:
            - $ref: "#/components/schemas/availabilityZones"
            - description: A list of Amazon Web Services Availability Zones.
        startTimes:
          allOf:
            - $ref: "#/components/schemas/dateTimeRangeList"
            - description: A list of dates and times that the event began.
        endTimes:
          allOf:
            - $ref: "#/components/schemas/dateTimeRangeList"
            - description: A list of dates and times that the event ended.
        lastUpdatedTimes:
          allOf:
            - $ref: "#/components/schemas/dateTimeRangeList"
            - description: A list of dates and times that the event was last updated.
        entityArns:
          allOf:
            - $ref: "#/components/schemas/entityArnList"
            - description: A list of entity ARNs (unique identifiers).
        entityValues:
          allOf:
            - $ref: "#/components/schemas/entityValueList"
            - description: A list of entity identifiers, such as EC2 instance IDs (<code>i-34ab692e</code>) or EBS volumes (<code>vol-426ab23e</code>).
        eventTypeCategories:
          allOf:
            - $ref: "#/components/schemas/eventTypeCategoryList"
            - description: A list of event type category codes. Possible values are <code>issue</code>, <code>accountNotification</code>, or <code>scheduledChange</code>. Currently, the <code>investigation</code> value isn't supported at this time.
        tags:
          allOf:
            - $ref: "#/components/schemas/tagFilter"
            - description: <p>A map of entity tags attached to the affected entity.</p> <note> <p>Currently, the <code>tags</code> property isn't supported.</p> </note>
        eventStatusCodes:
          allOf:
            - $ref: "#/components/schemas/eventStatusCodeList"
            - description: A list of event status codes.
      description: The values to use to filter results from the <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEvents.html">DescribeEvents</a> and <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventAggregates.html">DescribeEventAggregates</a> operations.
    eventAggregateField:
      type: string
      enum:
        - eventTypeCategory
    EventAggregateList:
      type: array
      items:
        $ref: "#/components/schemas/EventAggregate"
    EventDetailsErrorItem:
      type: object
      properties:
        eventArn:
          allOf:
            - $ref: "#/components/schemas/eventArn"
            - description: <p>The unique identifier for the event. The event ARN has the <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i> </code> format.</p> <p>For example, an event ARN might look like the following:</p> <p> <code>arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code> </p>
        errorName:
          allOf:
            - $ref: "#/components/schemas/string"
            - description: The name of the error.
        errorMessage:
          allOf:
            - $ref: "#/components/schemas/string"
            - description: A message that describes the error.
      description: Error information returned when a <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventDetails.html">DescribeEventDetails</a> operation can't find a specified event.
    DescribeEventDetailsFailedSet:
      type: array
      items:
        $ref: "#/components/schemas/EventDetailsErrorItem"
    OrganizationEventDetailsErrorItem:
      type: object
      properties:
        awsAccountId:
          allOf:
            - $ref: "#/components/schemas/accountId"
            - description: Error information returned when a <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventDetailsForOrganization.html">DescribeEventDetailsForOrganization</a> operation can't find a specified event.
        eventArn:
          allOf:
            - $ref: "#/components/schemas/eventArn"
            - description: <p>The unique identifier for the event. The event ARN has the <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i> </code> format.</p> <p>For example, an event ARN might look like the following:</p> <p> <code>arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code> </p>
        errorName:
          allOf:
            - $ref: "#/components/schemas/string"
            - description: The name of the error.
        errorMessage:
          allOf:
            - $ref: "#/components/schemas/string"
            - description: <p>A message that describes the error.</p> <p>If you call the <code>DescribeEventDetailsForOrganization</code> operation and receive one of the following errors, follow the recommendations in the message:</p> <ul> <li> <p>We couldn't find a public event that matches your request. To find an event that is account specific, you must enter an Amazon Web Services account ID in the request.</p> </li> <li> <p>We couldn't find an account specific event for the specified Amazon Web Services account. To find an event that is public, you must enter a null value for the Amazon Web Services account ID in the request.</p> </li> <li> <p>Your Amazon Web Services account doesn't include the Amazon Web Services Support plan required to use the Health API. You must have either a Business, Enterprise On-Ramp, or Enterprise Support plan.</p> </li> </ul>
      description: Error information returned when a <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventDetailsForOrganization.html">DescribeEventDetailsForOrganization</a> operation can't find a specified event.
    DescribeEventDetailsForOrganizationFailedSet:
      type: array
      items:
        $ref: "#/components/schemas/OrganizationEventDetailsErrorItem"
    OrganizationEventDetailFiltersList:
      type: array
      items:
        $ref: "#/components/schemas/EventAccountFilter"
      minItems: 1
      maxItems: 10
    DescribeEventDetailsForOrganizationSuccessfulSet:
      type: array
      items:
        $ref: "#/components/schemas/OrganizationEventDetails"
    OrganizationEventDetails:
      type: object
      properties:
        awsAccountId:
          allOf:
            - $ref: "#/components/schemas/accountId"
            - description: The 12-digit Amazon Web Services account numbers that contains the affected entities.
        event:
          $ref: "#/components/schemas/Event"
        eventDescription:
          $ref: "#/components/schemas/EventDescription"
        eventMetadata:
          allOf:
            - $ref: "#/components/schemas/eventMetadata"
            - description: Additional metadata about the event.
      description: Detailed information about an event. A combination of an <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_Event.html">Event</a> object, an <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_EventDescription.html">EventDescription</a> object, and additional metadata about the event. Returned by the <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventDetailsForOrganization.html">DescribeEventDetailsForOrganization</a> operation.
    eventArnList:
      type: array
      items:
        $ref: "#/components/schemas/eventArn"
      minItems: 1
      maxItems: 10
    DescribeEventDetailsSuccessfulSet:
      type: array
      items:
        $ref: "#/components/schemas/EventDetails"
    EventDetails:
      type: object
      properties:
        event:
          allOf:
            - $ref: "#/components/schemas/Event"
            - description: Summary information about the event.
        eventDescription:
          allOf:
            - $ref: "#/components/schemas/EventDescription"
            - description: The most recent description of the event.
        eventMetadata:
          allOf:
            - $ref: "#/components/schemas/eventMetadata"
            - description: Additional metadata about the event.
      description: Detailed information about an event. A combination of an <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_Event.html">Event</a> object, an <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_EventDescription.html">EventDescription</a> object, and additional metadata about the event. Returned by the <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventDetails.html">DescribeEventDetails</a> operation.
    EventTypeFilter:
      type: object
      properties:
        eventTypeCodes:
          allOf:
            - $ref: "#/components/schemas/EventTypeCodeList"
            - description: A list of event type codes.
        services:
          allOf:
            - $ref: "#/components/schemas/serviceList"
            - description: The Amazon Web Services services associated with the event. For example, <code>EC2</code>, <code>RDS</code>.
        eventTypeCategories:
          allOf:
            - $ref: "#/components/schemas/EventTypeCategoryList"
            - description: A list of event type category codes. Possible values are <code>issue</code>, <code>accountNotification</code>, or <code>scheduledChange</code>. Currently, the <code>investigation</code> value isn't supported at this time.
      description: The values to use to filter results from the <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventTypes.html">DescribeEventTypes</a> operation.
    EventTypeList:
      type: array
      items:
        $ref: "#/components/schemas/EventType"
    OrganizationEventFilter:
      type: object
      properties:
        eventTypeCodes:
          allOf:
            - $ref: "#/components/schemas/eventTypeList"
            - description: 'A list of unique identifiers for event types. For example, <code>"AWS_EC2_SYSTEM_MAINTENANCE_EVENT","AWS_RDS_MAINTENANCE_SCHEDULED".</code> '
        awsAccountIds:
          allOf:
            - $ref: "#/components/schemas/awsAccountIdsList"
            - description: A list of 12-digit Amazon Web Services account numbers that contains the affected entities.
        services:
          allOf:
            - $ref: "#/components/schemas/serviceList"
            - description: The Amazon Web Services services associated with the event. For example, <code>EC2</code>, <code>RDS</code>.
        regions:
          allOf:
            - $ref: "#/components/schemas/regionList"
            - description: A list of Amazon Web Services Regions.
        startTime:
          $ref: "#/components/schemas/DateTimeRange"
        endTime:
          $ref: "#/components/schemas/DateTimeRange"
        lastUpdatedTime:
          $ref: "#/components/schemas/DateTimeRange"
        entityArns:
          allOf:
            - $ref: "#/components/schemas/entityArnList"
            - description: A list of entity ARNs (unique identifiers).
        entityValues:
          allOf:
            - $ref: "#/components/schemas/entityValueList"
            - description: A list of entity identifiers, such as EC2 instance IDs (i-34ab692e) or EBS volumes (vol-426ab23e).
        eventTypeCategories:
          allOf:
            - $ref: "#/components/schemas/eventTypeCategoryList"
            - description: A list of event type category codes. Possible values are <code>issue</code>, <code>accountNotification</code>, or <code>scheduledChange</code>. Currently, the <code>investigation</code> value isn't supported at this time.
        eventStatusCodes:
          allOf:
            - $ref: "#/components/schemas/eventStatusCodeList"
            - description: A list of event status codes.
      description: The values to filter results from the <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventsForOrganization.html">DescribeEventsForOrganization</a> operation.
    OrganizationEventList:
      type: array
      items:
        $ref: "#/components/schemas/OrganizationEvent"
    EventList:
      type: array
      items:
        $ref: "#/components/schemas/Event"
    healthServiceAccessStatusForOrganization:
      type: string
    count:
      type: integer
    EntityAggregate:
      type: object
      properties:
        eventArn:
          allOf:
            - $ref: "#/components/schemas/eventArn"
            - description: <p>The unique identifier for the event. The event ARN has the <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i> </code> format.</p> <p>For example, an event ARN might look like the following:</p> <p> <code>arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code> </p>
        count:
          allOf:
            - $ref: "#/components/schemas/count"
            - description: The number of entities that match the criteria for the specified events.
      description: The number of entities that are affected by one or more events. Returned by the <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEntityAggregates.html">DescribeEntityAggregates</a> operation.
    entityArnList:
      type: array
      items:
        $ref: "#/components/schemas/entityArn"
      minItems: 1
      maxItems: 99
    entityValueList:
      type: array
      items:
        $ref: "#/components/schemas/entityValue"
      minItems: 1
      maxItems: 99
    dateTimeRangeList:
      type: array
      items:
        $ref: "#/components/schemas/DateTimeRange"
      minItems: 1
      maxItems: 10
    tagFilter:
      type: array
      items:
        $ref: "#/components/schemas/tagSet"
      maxItems: 50
    entityStatusCodeList:
      type: array
      items:
        $ref: "#/components/schemas/entityStatusCode"
      minItems: 1
      maxItems: 3
    service:
      type: string
      pattern: "[^:/]{2,30}"
      minLength: 2
      maxLength: 30
    eventTypeCode:
      type: string
      pattern: "[a-zA-Z0-9\\_\\-]{3,100}"
      minLength: 3
      maxLength: 100
    eventTypeCategory:
      type: string
      enum:
        - issue
        - accountNotification
        - scheduledChange
        - investigation
      minLength: 3
      maxLength: 255
    region:
      type: string
      pattern: "[^:/]{2,25}"
      minLength: 2
      maxLength: 25
    availabilityZone:
      type: string
      pattern: "[a-z]{2}\\-[0-9a-z\\-]{4,16}"
      minLength: 6
      maxLength: 18
    eventStatusCode:
      type: string
      enum:
        - open
        - closed
        - upcoming
    Event:
      type: object
      properties:
        arn:
          allOf:
            - $ref: "#/components/schemas/eventArn"
            - description: <p>The unique identifier for the event. The event ARN has the <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i> </code> format.</p> <p>For example, an event ARN might look like the following:</p> <p> <code>arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code> </p>
        service:
          allOf:
            - $ref: "#/components/schemas/service"
            - description: The Amazon Web Services service that is affected by the event. For example, <code>EC2</code>, <code>RDS</code>.
        eventTypeCode:
          allOf:
            - $ref: "#/components/schemas/eventTypeCode"
            - description: The unique identifier for the event type. The format is <code>AWS_<i>SERVICE</i>_<i>DESCRIPTION</i> </code>; for example, <code>AWS_EC2_SYSTEM_MAINTENANCE_EVENT</code>.
        eventTypeCategory:
          allOf:
            - $ref: "#/components/schemas/eventTypeCategory"
            - description: A list of event type category codes. Possible values are <code>issue</code>, <code>accountNotification</code>, or <code>scheduledChange</code>. Currently, the <code>investigation</code> value isn't supported at this time.
        region:
          allOf:
            - $ref: "#/components/schemas/region"
            - description: The Amazon Web Services Region name of the event.
        availabilityZone:
          allOf:
            - $ref: "#/components/schemas/availabilityZone"
            - description: The Amazon Web Services Availability Zone of the event. For example, us-east-1a.
        startTime:
          allOf:
            - $ref: "#/components/schemas/timestamp"
            - description: The date and time that the event began.
        endTime:
          allOf:
            - $ref: "#/components/schemas/timestamp"
            - description: The date and time that the event ended.
        lastUpdatedTime:
          allOf:
            - $ref: "#/components/schemas/timestamp"
            - description: The most recent date and time that the event was updated.
        statusCode:
          allOf:
            - $ref: "#/components/schemas/eventStatusCode"
            - description: The most recent status of the event. Possible values are <code>open</code>, <code>closed</code>, and <code>upcoming</code>.
        eventScopeCode:
          allOf:
            - $ref: "#/components/schemas/eventScopeCode"
            - description: <p>This parameter specifies if the Health event is a public Amazon Web Services service event or an account-specific event.</p> <ul> <li> <p>If the <code>eventScopeCode</code> value is <code>PUBLIC</code>, then the <code>affectedAccounts</code> value is always empty.</p> </li> <li> <p>If the <code>eventScopeCode</code> value is <code>ACCOUNT_SPECIFIC</code>, then the <code>affectedAccounts</code> value lists the affected Amazon Web Services accounts in your organization. For example, if an event affects a service such as Amazon Elastic Compute Cloud and you have Amazon Web Services accounts that use that service, those account IDs appear in the response.</p> </li> <li> <p>If the <code>eventScopeCode</code> value is <code>NONE</code>, then the <code>eventArn</code> that you specified in the request is invalid or doesn't exist.</p> </li> </ul>
      description: <p>Summary information about an Health event.</p> <p>Health events can be public or account-specific:</p> <ul> <li> <p> <i>Public events</i> might be service events that are not specific to an Amazon Web Services account. For example, if there is an issue with an Amazon Web Services Region, Health provides information about the event, even if you don't use services or resources in that Region.</p> </li> <li> <p> <i>Account-specific</i> events are specific to either your Amazon Web Services account or an account in your organization. For example, if there's an issue with Amazon Elastic Compute Cloud in a Region that you use, Health provides information about the event and the affected resources in the account.</p> </li> </ul> <p>You can determine if an event is public or account-specific by using the <code>eventScopeCode</code> parameter. For more information, see <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_Event.html#AWSHealth-Type-Event-eventScopeCode">eventScopeCode</a>.</p>
    EventAccountFilter:
      type: object
      required:
        - eventArn
      properties:
        eventArn:
          allOf:
            - $ref: "#/components/schemas/eventArn"
            - description: <p>The unique identifier for the event. The event ARN has the <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i> </code> format.</p> <p>For example, an event ARN might look like the following:</p> <p> <code>arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code> </p>
        awsAccountId:
          allOf:
            - $ref: "#/components/schemas/accountId"
            - description: The 12-digit Amazon Web Services account numbers that contains the affected entities.
      description: The values used to filter results from the <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventDetailsForOrganization.html">DescribeEventDetailsForOrganization</a> and <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeAffectedEntitiesForOrganization.html">DescribeAffectedEntitiesForOrganization</a> operations.
    aggregateValue:
      type: string
    EventAggregate:
      type: object
      properties:
        aggregateValue:
          allOf:
            - $ref: "#/components/schemas/aggregateValue"
            - description: The issue type for the associated count.
        count:
          allOf:
            - $ref: "#/components/schemas/count"
            - description: The number of events of the associated issue type.
      description: The number of events of each issue type. Returned by the <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventAggregates.html">DescribeEventAggregates</a> operation.
    eventDescription:
      type: string
    EventDescription:
      type: object
      properties:
        latestDescription:
          allOf:
            - $ref: "#/components/schemas/eventDescription"
            - description: The most recent description of the event.
      description: The detailed description of the event. Included in the information returned by the <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventDetails.html">DescribeEventDetails</a> operation.
    eventMetadata:
      type: object
      additionalProperties:
        $ref: "#/components/schemas/metadataValue"
    string:
      type: string
    eventTypeList:
      type: array
      items:
        $ref: "#/components/schemas/eventType"
      minItems: 1
      maxItems: 10
    serviceList:
      type: array
      items:
        $ref: "#/components/schemas/service"
      minItems: 1
      maxItems: 10
    regionList:
      type: array
      items:
        $ref: "#/components/schemas/region"
      minItems: 1
      maxItems: 10
    availabilityZones:
      type: array
      items:
        $ref: "#/components/schemas/availabilityZone"
    eventTypeCategoryList:
      type: array
      items:
        $ref: "#/components/schemas/eventTypeCategory"
      minItems: 1
      maxItems: 10
    eventStatusCodeList:
      type: array
      items:
        $ref: "#/components/schemas/eventStatusCode"
      minItems: 1
      maxItems: 6
    EventType:
      type: object
      properties:
        service:
          allOf:
            - $ref: "#/components/schemas/service"
            - description: The Amazon Web Services service that is affected by the event. For example, <code>EC2</code>, <code>RDS</code>.
        code:
          allOf:
            - $ref: "#/components/schemas/eventTypeCode"
            - description: The unique identifier for the event type. The format is <code>AWS_<i>SERVICE</i>_<i>DESCRIPTION</i> </code>; for example, <code>AWS_EC2_SYSTEM_MAINTENANCE_EVENT</code>.
        category:
          allOf:
            - $ref: "#/components/schemas/eventTypeCategory"
            - description: A list of event type category codes. Possible values are <code>issue</code>, <code>accountNotification</code>, or <code>scheduledChange</code>. Currently, the <code>investigation</code> value isn't supported at this time.
      description: <p>Contains the metadata about a type of event that is reported by Health. The <code>EventType</code> shows the category, service, and the event type code of the event. For example, an <code>issue</code> might be the category, <code>EC2</code> the service, and <code>AWS_EC2_SYSTEM_MAINTENANCE_EVENT</code> the event type code.</p> <p>You can use the <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventTypes.html">DescribeEventTypes</a> API operation to return this information about an event.</p> <p>You can also use the Amazon CloudWatch Events console to create a rule so that you can get notified or take action when Health delivers a specific event to your Amazon Web Services account. For more information, see <a href="https://docs.aws.amazon.com/health/latest/ug/cloudwatch-events-health.html">Monitor for Health events with Amazon CloudWatch Events</a> in the <i>Health User Guide</i>.</p>
    EventTypeCategoryList:
      type: array
      items:
        $ref: "#/components/schemas/eventTypeCategory"
      minItems: 1
      maxItems: 10
    EventTypeCodeList:
      type: array
      items:
        $ref: "#/components/schemas/eventTypeCode"
      minItems: 1
      maxItems: 10
    OrganizationEvent:
      type: object
      properties:
        arn:
          allOf:
            - $ref: "#/components/schemas/eventArn"
            - description: <p>The unique identifier for the event. The event ARN has the <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i> </code> format.</p> <p>For example, an event ARN might look like the following:</p> <p> <code>arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code> </p>
        service:
          allOf:
            - $ref: "#/components/schemas/service"
            - description: The Amazon Web Services service that is affected by the event, such as EC2 and RDS.
        eventTypeCode:
          allOf:
            - $ref: "#/components/schemas/eventTypeCode"
            - description: The unique identifier for the event type. The format is <code>AWS_SERVICE_DESCRIPTION</code>. For example, <code>AWS_EC2_SYSTEM_MAINTENANCE_EVENT</code>.
        eventTypeCategory:
          allOf:
            - $ref: "#/components/schemas/eventTypeCategory"
            - description: A list of event type category codes. Possible values are <code>issue</code>, <code>accountNotification</code>, or <code>scheduledChange</code>. Currently, the <code>investigation</code> value isn't supported at this time.
        eventScopeCode:
          allOf:
            - $ref: "#/components/schemas/eventScopeCode"
            - description: <p>This parameter specifies if the Health event is a public Amazon Web Services service event or an account-specific event.</p> <ul> <li> <p>If the <code>eventScopeCode</code> value is <code>PUBLIC</code>, then the <code>affectedAccounts</code> value is always empty.</p> </li> <li> <p>If the <code>eventScopeCode</code> value is <code>ACCOUNT_SPECIFIC</code>, then the <code>affectedAccounts</code> value lists the affected Amazon Web Services accounts in your organization. For example, if an event affects a service such as Amazon Elastic Compute Cloud and you have Amazon Web Services accounts that use that service, those account IDs appear in the response.</p> </li> <li> <p>If the <code>eventScopeCode</code> value is <code>NONE</code>, then the <code>eventArn</code> that you specified in the request is invalid or doesn't exist.</p> </li> </ul>
        region:
          allOf:
            - $ref: "#/components/schemas/region"
            - description: The Amazon Web Services Region name of the event.
        startTime:
          allOf:
            - $ref: "#/components/schemas/timestamp"
            - description: The date and time that the event began.
        endTime:
          allOf:
            - $ref: "#/components/schemas/timestamp"
            - description: The date and time that the event ended.
        lastUpdatedTime:
          allOf:
            - $ref: "#/components/schemas/timestamp"
            - description: The most recent date and time that the event was updated.
        statusCode:
          allOf:
            - $ref: "#/components/schemas/eventStatusCode"
            - description: The most recent status of the event. Possible values are <code>open</code>, <code>closed</code>, and <code>upcoming</code>.
      description: Summary information about an event, returned by the <a href="https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventsForOrganization.html">DescribeEventsForOrganization</a> operation.
    awsAccountIdsList:
      type: array
      items:
        $ref: "#/components/schemas/accountId"
      minItems: 1
      maxItems: 50
    metadataValue:
      type: string
      maxLength: 32766
    eventType:
      type: string
      pattern: "[^:/]{3,100}"
      minLength: 3
      maxLength: 100
    metadataKey:
      type: string
      maxLength: 32766
    tagKey:
      type: string
      pattern: .{0,127}
      maxLength: 127
    tagValue:
      type: string
      pattern: .{0,255}
      maxLength: 255
security:
  - hmac: []
