swagger: '2.0'
info:
  version: '2013-12-02'
  x-release: v4
  title: Amazon Kinesis
  description: <fullname>Amazon Kinesis Streams Service API Reference</fullname> <p>Amazon Kinesis Streams is a managed service that scales elastically for real time processing of streaming big data.</p>
  x-logo:
    url: 'https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: kinesis
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/kinesis-2013-12-02.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/kinesis/'
host: kinesis.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: header
    type: string
    required: true
  Version:
    name: Version
    in: header
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /:
    post:
      operationId: AddTagsToStream
      description: '<p>Adds or updates tags for the specified Kinesis stream. Each stream can have up to 10 tags.</p> <p>If tags have already been assigned to the stream, <code>AddTagsToStream</code> overwrites any existing tags that correspond to the specified tag keys.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AddTagsToStreamInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateStream':
    post:
      operationId: CreateStream
      description: '<p>Creates a Kinesis stream. A stream captures and transports data records that are continuously emitted from different data sources or <i>producers</i>. Scale-out within a stream is explicitly supported by means of shards, which are uniquely identified groups of data records in a stream.</p> <p>You specify and control the number of shards that a stream is composed of. Each shard can support reads up to 5 transactions per second, up to a maximum data read total of 2 MB per second. Each shard can support writes up to 1,000 records per second, up to a maximum data write total of 1 MB per second. I the amount of data input increases or decreases, you can add or remove shards.</p> <p>The stream name identifies the stream. The name is scoped to the AWS account used by the application. It is also scoped by region. That is, two streams in two different accounts can have the same name, and two streams in the same account, but in two different regions, can have the same name.</p> <p> <code>CreateStream</code> is an asynchronous operation. Upon receiving a <code>CreateStream</code> request, Kinesis Streams immediately returns and sets the stream status to <code>CREATING</code>. After the stream is created, Kinesis Streams sets the stream status to <code>ACTIVE</code>. You should perform read and write operations only on an <code>ACTIVE</code> stream. </p> <p>You receive a <code>LimitExceededException</code> when making a <code>CreateStream</code> request when you try to do one of the following:</p> <ul> <li> <p>Have more than five streams in the <code>CREATING</code> state at any point in time.</p> </li> <li> <p>Create more shards than are authorized for your account.</p> </li> </ul> <p>For the default shard limit for an AWS account, see <a href="http://docs.aws.amazon.com/kinesis/latest/dev/service-sizes-and-limits.html">Streams Limits</a> in the <i>Amazon Kinesis Streams Developer Guide</i>. To increase this limit, <a href="http://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html">contact AWS Support</a>.</p> <p>You can use <code>DescribeStream</code> to check the stream status, which is returned in <code>StreamStatus</code>.</p> <p> <a>CreateStream</a> has a limit of 5 transactions per second per account.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateStreamInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DecreaseStreamRetentionPeriod':
    post:
      operationId: DecreaseStreamRetentionPeriod
      description: '<p>Decreases the Kinesis stream''s retention period, which is the length of time data records are accessible after they are added to the stream. The minimum value of a stream''s retention period is 24 hours.</p> <p>This operation may result in lost data. For example, if the stream''s retention period is 48 hours and is decreased to 24 hours, any data already in the stream that is older than 24 hours is inaccessible.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DecreaseStreamRetentionPeriodInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteStream':
    post:
      operationId: DeleteStream
      description: '<p>Deletes a Kinesis stream and all its shards and data. You must shut down any applications that are operating on the stream before you delete the stream. If an application attempts to operate on a deleted stream, it receives the exception <code>ResourceNotFoundException</code>.</p> <p>If the stream is in the <code>ACTIVE</code> state, you can delete it. After a <code>DeleteStream</code> request, the specified stream is in the <code>DELETING</code> state until Kinesis Streams completes the deletion.</p> <p> <b>Note:</b> Kinesis Streams might continue to accept data read and write operations, such as <a>PutRecord</a>, <a>PutRecords</a>, and <a>GetRecords</a>, on a stream in the <code>DELETING</code> state until the stream deletion is complete.</p> <p>When you delete a stream, any shards in that stream are also deleted, and any tags are dissociated from the stream.</p> <p>You can use the <a>DescribeStream</a> operation to check the state of the stream, which is returned in <code>StreamStatus</code>.</p> <p> <a>DeleteStream</a> has a limit of 5 transactions per second per account.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteStreamInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeLimits':
    post:
      operationId: DescribeLimits
      description: '<p>Describes the shard limits and usage for the account.</p> <p>If you update your account limits, the old limits might be returned for a few minutes.</p> <p>This operation has a limit of 1 transaction per second per account.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeLimitsOutput'
        '480':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeLimitsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeStream':
    post:
      operationId: DescribeStream
      description: '<p>Describes the specified Kinesis stream.</p> <p>The information returned includes the stream name, Amazon Resource Name (ARN), creation time, enhanced metric configuration, and shard map. The shard map is an array of shard objects. For each shard object, there is the hash key and sequence number ranges that the shard spans, and the IDs of any earlier shards that played in a role in creating the shard. Every record ingested in the stream is identified by a sequence number, which is assigned when the record is put into the stream.</p> <p>You can limit the number of shards returned by each call. For more information, see <a href="http://docs.aws.amazon.com/kinesis/latest/dev/kinesis-using-sdk-java-retrieve-shards.html">Retrieving Shards from a Stream</a> in the <i>Amazon Kinesis Streams Developer Guide</i>.</p> <p>There are no guarantees about the chronological order shards returned. To process shards in chronological order, use the ID of the parent shard to track the lineage to the oldest shard.</p> <p>This operation has a limit of 10 transactions per second per account.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeStreamOutput'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeStreamInput'
        - name: Limit
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: ExclusiveStartShardId
          type: string
          in: query
          description: Pagination token
          required: false
      x-waiters:
        - delay: 10
          operation: DescribeStream
          maxAttempts: 18
          acceptors:
            - expected: ACTIVE
              matcher: path
              state: success
              argument: StreamDescription.StreamStatus
        - delay: 10
          operation: DescribeStream
          maxAttempts: 18
          acceptors:
            - expected: ResourceNotFoundException
              matcher: error
              state: success
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeStreamSummary':
    post:
      operationId: DescribeStreamSummary
      description: '<p>Provides a summarized description of the specified Kinesis stream without the shard list.</p> <p>The information returned includes the stream name, Amazon Resource Name (ARN), status, record retention period, approximate creation time, monitoring, encryption details, and open shard count. </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeStreamSummaryOutput'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeStreamSummaryInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DisableEnhancedMonitoring':
    post:
      operationId: DisableEnhancedMonitoring
      description: Disables enhanced monitoring.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EnhancedMonitoringOutput'
        '480':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DisableEnhancedMonitoringInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#EnableEnhancedMonitoring':
    post:
      operationId: EnableEnhancedMonitoring
      description: Enables enhanced Kinesis stream monitoring for shard-level metrics.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EnhancedMonitoringOutput'
        '480':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/EnableEnhancedMonitoringInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetRecords':
    post:
      operationId: GetRecords
      description: '<p>Gets data records from a Kinesis stream''s shard.</p> <p>Specify a shard iterator using the <code>ShardIterator</code> parameter. The shard iterator specifies the position in the shard from which you want to start reading data records sequentially. If there are no records available in the portion of the shard that the iterator points to, <a>GetRecords</a> returns an empty list. It might take multiple calls to get to a portion of the shard that contains records.</p> <p>You can scale by provisioning multiple shards per stream while considering service limits (for more information, see <a href="http://docs.aws.amazon.com/kinesis/latest/dev/service-sizes-and-limits.html">Streams Limits</a> in the <i>Amazon Kinesis Streams Developer Guide</i>). Your application should have one thread per shard, each reading continuously from its stream. To read from a stream continually, call <a>GetRecords</a> in a loop. Use <a>GetShardIterator</a> to get the shard iterator to specify in the first <a>GetRecords</a> call. <a>GetRecords</a> returns a new shard iterator in <code>NextShardIterator</code>. Specify the shard iterator returned in <code>NextShardIterator</code> in subsequent calls to <a>GetRecords</a>. If the shard has been closed, the shard iterator can''t return more data and <a>GetRecords</a> returns <code>null</code> in <code>NextShardIterator</code>. You can terminate the loop when the shard is closed, or when the shard iterator reaches the record with the sequence number or other attribute that marks it as the last record to process.</p> <p>Each data record can be up to 1 MB in size, and each shard can read up to 2 MB per second. You can ensure that your calls don''t exceed the maximum supported size or throughput by using the <code>Limit</code> parameter to specify the maximum number of records that <a>GetRecords</a> can return. Consider your average record size when determining this limit.</p> <p>The size of the data returned by <a>GetRecords</a> varies depending on the utilization of the shard. The maximum size of data that <a>GetRecords</a> can return is 10 MB. If a call returns this amount of data, subsequent calls made within the next 5 seconds throw <code>ProvisionedThroughputExceededException</code>. If there is insufficient provisioned throughput on the shard, subsequent calls made within the next 1 second throw <code>ProvisionedThroughputExceededException</code>. <a>GetRecords</a> won''t return any data when it throws an exception. For this reason, we recommend that you wait one second between calls to <a>GetRecords</a>; however, it''s possible that the application will get exceptions for longer than 1 second.</p> <p>To detect whether the application is falling behind in processing, you can use the <code>MillisBehindLatest</code> response attribute. You can also monitor the stream using CloudWatch metrics and other mechanisms (see <a href="http://docs.aws.amazon.com/kinesis/latest/dev/monitoring.html">Monitoring</a> in the <i>Amazon Kinesis Streams Developer Guide</i>).</p> <p>Each Amazon Kinesis record includes a value, <code>ApproximateArrivalTimestamp</code>, that is set when a stream successfully receives and stores a record. This is commonly referred to as a server-side time stamp, whereas a client-side time stamp is set when a data producer creates or sends the record to a stream (a data producer is any data source putting data records into a stream, for example with <a>PutRecords</a>). The time stamp has millisecond precision. There are no guarantees about the time stamp accuracy, or that the time stamp is always increasing. For example, records in a shard or across a stream might have time stamps that are out of order.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetRecordsOutput'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '482':
          description: ProvisionedThroughputExceededException
          schema:
            $ref: '#/definitions/ProvisionedThroughputExceededException'
        '483':
          description: ExpiredIteratorException
          schema:
            $ref: '#/definitions/ExpiredIteratorException'
        '484':
          description: KMSDisabledException
          schema:
            $ref: '#/definitions/KMSDisabledException'
        '485':
          description: KMSInvalidStateException
          schema:
            $ref: '#/definitions/KMSInvalidStateException'
        '486':
          description: KMSAccessDeniedException
          schema:
            $ref: '#/definitions/KMSAccessDeniedException'
        '487':
          description: KMSNotFoundException
          schema:
            $ref: '#/definitions/KMSNotFoundException'
        '488':
          description: KMSOptInRequired
          schema:
            $ref: '#/definitions/KMSOptInRequired'
        '489':
          description: KMSThrottlingException
          schema:
            $ref: '#/definitions/KMSThrottlingException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetRecordsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetShardIterator':
    post:
      operationId: GetShardIterator
      description: '<p>Gets an Amazon Kinesis shard iterator. A shard iterator expires five minutes after it is returned to the requester.</p> <p>A shard iterator specifies the shard position from which to start reading data records sequentially. The position is specified using the sequence number of a data record in a shard. A sequence number is the identifier associated with every record ingested in the stream, and is assigned when a record is put into the stream. Each stream has one or more shards.</p> <p>You must specify the shard iterator type. For example, you can set the <code>ShardIteratorType</code> parameter to read exactly from the position denoted by a specific sequence number by using the <code>AT_SEQUENCE_NUMBER</code> shard iterator type. Alternatively, the parameter can read right after the sequence number by using the <code>AFTER_SEQUENCE_NUMBER</code> shard iterator type, using sequence numbers returned by earlier calls to <a>PutRecord</a>, <a>PutRecords</a>, <a>GetRecords</a>, or <a>DescribeStream</a>. In the request, you can specify the shard iterator type <code>AT_TIMESTAMP</code> to read records from an arbitrary point in time, <code>TRIM_HORIZON</code> to cause <code>ShardIterator</code> to point to the last untrimmed record in the shard in the system (the oldest data record in the shard), or <code>LATEST</code> so that you always read the most recent data in the shard. </p> <p>When you read repeatedly from a stream, use a <a>GetShardIterator</a> request to get the first shard iterator for use in your first <a>GetRecords</a> request and for subsequent reads use the shard iterator returned by the <a>GetRecords</a> request in <code>NextShardIterator</code>. A new shard iterator is returned by every <a>GetRecords</a> request in <code>NextShardIterator</code>, which you use in the <code>ShardIterator</code> parameter of the next <a>GetRecords</a> request. </p> <p>If a <a>GetShardIterator</a> request is made too often, you receive a <code>ProvisionedThroughputExceededException</code>. For more information about throughput limits, see <a>GetRecords</a>, and <a href="http://docs.aws.amazon.com/kinesis/latest/dev/service-sizes-and-limits.html">Streams Limits</a> in the <i>Amazon Kinesis Streams Developer Guide</i>.</p> <p>If the shard is closed, <a>GetShardIterator</a> returns a valid iterator for the last sequence number of the shard. A shard can be closed as a result of using <a>SplitShard</a> or <a>MergeShards</a>.</p> <p> <a>GetShardIterator</a> has a limit of 5 transactions per second per account per open shard.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetShardIteratorOutput'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '482':
          description: ProvisionedThroughputExceededException
          schema:
            $ref: '#/definitions/ProvisionedThroughputExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetShardIteratorInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#IncreaseStreamRetentionPeriod':
    post:
      operationId: IncreaseStreamRetentionPeriod
      description: '<p>Increases the Amazon Kinesis stream''s retention period, which is the length of time data records are accessible after they are added to the stream. The maximum value of a stream''s retention period is 168 hours (7 days).</p> <p>If you choose a longer stream retention period, this operation increases the time period during which records that have not yet expired are accessible. However, it does not make previous, expired data (older than the stream''s previous retention period) accessible after the operation has been called. For example, if a stream''s retention period is set to 24 hours and is increased to 168 hours, any data that is older than 24 hours remains inaccessible to consumer applications.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/IncreaseStreamRetentionPeriodInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListStreams':
    post:
      operationId: ListStreams
      description: '<p>Lists your Kinesis streams.</p> <p>The number of streams may be too large to return from a single call to <code>ListStreams</code>. You can limit the number of returned streams using the <code>Limit</code> parameter. If you do not specify a value for the <code>Limit</code> parameter, Kinesis Streams uses the default limit, which is currently 10.</p> <p>You can detect if there are more streams available to list by using the <code>HasMoreStreams</code> flag from the returned output. If there are more streams available, you can request more streams by using the name of the last stream returned by the <code>ListStreams</code> request in the <code>ExclusiveStartStreamName</code> parameter in a subsequent request to <code>ListStreams</code>. The group of stream names returned by the subsequent request is then added to the list. You can continue this process until all the stream names have been collected in the list. </p> <p> <a>ListStreams</a> has a limit of 5 transactions per second per account.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListStreamsOutput'
        '480':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListStreamsInput'
        - name: Limit
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: ExclusiveStartStreamName
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListTagsForStream':
    post:
      operationId: ListTagsForStream
      description: Lists the tags for the specified Kinesis stream.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForStreamOutput'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListTagsForStreamInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#MergeShards':
    post:
      operationId: MergeShards
      description: '<p>Merges two adjacent shards in a Kinesis stream and combines them into a single shard to reduce the stream''s capacity to ingest and transport data. Two shards are considered adjacent if the union of the hash key ranges for the two shards form a contiguous set with no gaps. For example, if you have two shards, one with a hash key range of 276...381 and the other with a hash key range of 382...454, then you could merge these two shards into a single shard that would have a hash key range of 276...454. After the merge, the single child shard receives data for all hash key values covered by the two parent shards.</p> <p> <code>MergeShards</code> is called when there is a need to reduce the overall capacity of a stream because of excess capacity that is not being used. You must specify the shard to be merged and the adjacent shard for a stream. For more information about merging shards, see <a href="http://docs.aws.amazon.com/kinesis/latest/dev/kinesis-using-sdk-java-resharding-merge.html">Merge Two Shards</a> in the <i>Amazon Kinesis Streams Developer Guide</i>.</p> <p>If the stream is in the <code>ACTIVE</code> state, you can call <code>MergeShards</code>. If a stream is in the <code>CREATING</code>, <code>UPDATING</code>, or <code>DELETING</code> state, <code>MergeShards</code> returns a <code>ResourceInUseException</code>. If the specified stream does not exist, <code>MergeShards</code> returns a <code>ResourceNotFoundException</code>. </p> <p>You can use <a>DescribeStream</a> to check the state of the stream, which is returned in <code>StreamStatus</code>.</p> <p> <code>MergeShards</code> is an asynchronous operation. Upon receiving a <code>MergeShards</code> request, Amazon Kinesis immediately returns a response and sets the <code>StreamStatus</code> to <code>UPDATING</code>. After the operation is completed, Amazon Kinesis sets the <code>StreamStatus</code> to <code>ACTIVE</code>. Read and write operations continue to work while the stream is in the <code>UPDATING</code> state. </p> <p>You use <a>DescribeStream</a> to determine the shard IDs that are specified in the <code>MergeShards</code> request. </p> <p>If you try to operate on too many streams in parallel using <a>CreateStream</a>, <a>DeleteStream</a>, <code>MergeShards</code> or <a>SplitShard</a>, you will receive a <code>LimitExceededException</code>. </p> <p> <code>MergeShards</code> has a limit of 5 transactions per second per account.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/MergeShardsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#PutRecord':
    post:
      operationId: PutRecord
      description: '<p>Writes a single data record into an Amazon Kinesis stream. Call <code>PutRecord</code> to send data into the stream for real-time ingestion and subsequent processing, one record at a time. Each shard can support writes up to 1,000 records per second, up to a maximum data write total of 1 MB per second.</p> <p>You must specify the name of the stream that captures, stores, and transports the data; a partition key; and the data blob itself.</p> <p>The data blob can be any type of data; for example, a segment from a log file, geographic/location data, website clickstream data, and so on.</p> <p>The partition key is used by Kinesis Streams to distribute data across shards. Kinesis Streams segregates the data records that belong to a stream into multiple shards, using the partition key associated with each data record to determine the shard to which a given data record belongs.</p> <p>Partition keys are Unicode strings, with a maximum length limit of 256 characters for each key. An MD5 hash function is used to map partition keys to 128-bit integer values and to map associated data records to shards using the hash key ranges of the shards. You can override hashing the partition key to determine the shard by explicitly specifying a hash value using the <code>ExplicitHashKey</code> parameter. For more information, see <a href="http://docs.aws.amazon.com/kinesis/latest/dev/developing-producers-with-sdk.html#kinesis-using-sdk-java-add-data-to-stream">Adding Data to a Stream</a> in the <i>Amazon Kinesis Streams Developer Guide</i>.</p> <p> <code>PutRecord</code> returns the shard ID of where the data record was placed and the sequence number that was assigned to the data record.</p> <p>Sequence numbers increase over time and are specific to a shard within a stream, not across all shards within a stream. To guarantee strictly increasing ordering, write serially to a shard and use the <code>SequenceNumberForOrdering</code> parameter. For more information, see <a href="http://docs.aws.amazon.com/kinesis/latest/dev/developing-producers-with-sdk.html#kinesis-using-sdk-java-add-data-to-stream">Adding Data to a Stream</a> in the <i>Amazon Kinesis Streams Developer Guide</i>.</p> <p>If a <code>PutRecord</code> request cannot be processed because of insufficient provisioned throughput on the shard involved in the request, <code>PutRecord</code> throws <code>ProvisionedThroughputExceededException</code>. </p> <p>By default, data records are accessible for 24 hours from the time that they are added to a stream. You can use <a>IncreaseStreamRetentionPeriod</a> or <a>DecreaseStreamRetentionPeriod</a> to modify this retention period.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutRecordOutput'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '482':
          description: ProvisionedThroughputExceededException
          schema:
            $ref: '#/definitions/ProvisionedThroughputExceededException'
        '483':
          description: KMSDisabledException
          schema:
            $ref: '#/definitions/KMSDisabledException'
        '484':
          description: KMSInvalidStateException
          schema:
            $ref: '#/definitions/KMSInvalidStateException'
        '485':
          description: KMSAccessDeniedException
          schema:
            $ref: '#/definitions/KMSAccessDeniedException'
        '486':
          description: KMSNotFoundException
          schema:
            $ref: '#/definitions/KMSNotFoundException'
        '487':
          description: KMSOptInRequired
          schema:
            $ref: '#/definitions/KMSOptInRequired'
        '488':
          description: KMSThrottlingException
          schema:
            $ref: '#/definitions/KMSThrottlingException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutRecordInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#PutRecords':
    post:
      operationId: PutRecords
      description: '<p>Writes multiple data records into a Kinesis stream in a single call (also referred to as a <code>PutRecords</code> request). Use this operation to send data into the stream for data ingestion and processing. </p> <p>Each <code>PutRecords</code> request can support up to 500 records. Each record in the request can be as large as 1 MB, up to a limit of 5 MB for the entire request, including partition keys. Each shard can support writes up to 1,000 records per second, up to a maximum data write total of 1 MB per second.</p> <p>You must specify the name of the stream that captures, stores, and transports the data; and an array of request <code>Records</code>, with each record in the array requiring a partition key and data blob. The record size limit applies to the total size of the partition key and data blob.</p> <p>The data blob can be any type of data; for example, a segment from a log file, geographic/location data, website clickstream data, and so on.</p> <p>The partition key is used by Kinesis Streams as input to a hash function that maps the partition key and associated data to a specific shard. An MD5 hash function is used to map partition keys to 128-bit integer values and to map associated data records to shards. As a result of this hashing mechanism, all data records with the same partition key map to the same shard within the stream. For more information, see <a href="http://docs.aws.amazon.com/kinesis/latest/dev/developing-producers-with-sdk.html#kinesis-using-sdk-java-add-data-to-stream">Adding Data to a Stream</a> in the <i>Amazon Kinesis Streams Developer Guide</i>.</p> <p>Each record in the <code>Records</code> array may include an optional parameter, <code>ExplicitHashKey</code>, which overrides the partition key to shard mapping. This parameter allows a data producer to determine explicitly the shard where the record is stored. For more information, see <a href="http://docs.aws.amazon.com/kinesis/latest/dev/developing-producers-with-sdk.html#kinesis-using-sdk-java-putrecords">Adding Multiple Records with PutRecords</a> in the <i>Amazon Kinesis Streams Developer Guide</i>.</p> <p>The <code>PutRecords</code> response includes an array of response <code>Records</code>. Each record in the response array directly correlates with a record in the request array using natural ordering, from the top to the bottom of the request and response. The response <code>Records</code> array always includes the same number of records as the request array.</p> <p>The response <code>Records</code> array includes both successfully and unsuccessfully processed records. Amazon Kinesis attempts to process all records in each <code>PutRecords</code> request. A single record failure does not stop the processing of subsequent records.</p> <p>A successfully processed record includes <code>ShardId</code> and <code>SequenceNumber</code> values. The <code>ShardId</code> parameter identifies the shard in the stream where the record is stored. The <code>SequenceNumber</code> parameter is an identifier assigned to the put record, unique to all records in the stream.</p> <p>An unsuccessfully processed record includes <code>ErrorCode</code> and <code>ErrorMessage</code> values. <code>ErrorCode</code> reflects the type of error and can be one of the following values: <code>ProvisionedThroughputExceededException</code> or <code>InternalFailure</code>. <code>ErrorMessage</code> provides more detailed information about the <code>ProvisionedThroughputExceededException</code> exception including the account ID, stream name, and shard ID of the record that was throttled. For more information about partially successful responses, see <a href="http://docs.aws.amazon.com/kinesis/latest/dev/kinesis-using-sdk-java-add-data-to-stream.html#kinesis-using-sdk-java-putrecords">Adding Multiple Records with PutRecords</a> in the <i>Amazon Kinesis Streams Developer Guide</i>.</p> <p>By default, data records are accessible for 24 hours from the time that they are added to a stream. You can use <a>IncreaseStreamRetentionPeriod</a> or <a>DecreaseStreamRetentionPeriod</a> to modify this retention period.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutRecordsOutput'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '482':
          description: ProvisionedThroughputExceededException
          schema:
            $ref: '#/definitions/ProvisionedThroughputExceededException'
        '483':
          description: KMSDisabledException
          schema:
            $ref: '#/definitions/KMSDisabledException'
        '484':
          description: KMSInvalidStateException
          schema:
            $ref: '#/definitions/KMSInvalidStateException'
        '485':
          description: KMSAccessDeniedException
          schema:
            $ref: '#/definitions/KMSAccessDeniedException'
        '486':
          description: KMSNotFoundException
          schema:
            $ref: '#/definitions/KMSNotFoundException'
        '487':
          description: KMSOptInRequired
          schema:
            $ref: '#/definitions/KMSOptInRequired'
        '488':
          description: KMSThrottlingException
          schema:
            $ref: '#/definitions/KMSThrottlingException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutRecordsInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#RemoveTagsFromStream':
    post:
      operationId: RemoveTagsFromStream
      description: '<p>Removes tags from the specified Kinesis stream. Removed tags are deleted and cannot be recovered after this operation successfully completes.</p> <p>If you specify a tag that does not exist, it is ignored.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RemoveTagsFromStreamInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#SplitShard':
    post:
      operationId: SplitShard
      description: '<p>Splits a shard into two new shards in the Kinesis stream, to increase the stream''s capacity to ingest and transport data. <code>SplitShard</code> is called when there is a need to increase the overall capacity of a stream because of an expected increase in the volume of data records being ingested. </p> <p>You can also use <code>SplitShard</code> when a shard appears to be approaching its maximum utilization; for example, the producers sending data into the specific shard are suddenly sending more than previously anticipated. You can also call <code>SplitShard</code> to increase stream capacity, so that more Kinesis Streams applications can simultaneously read data from the stream for real-time processing. </p> <p>You must specify the shard to be split and the new hash key, which is the position in the shard where the shard gets split in two. In many cases, the new hash key might be the average of the beginning and ending hash key, but it can be any hash key value in the range being mapped into the shard. For more information, see <a href="http://docs.aws.amazon.com/kinesis/latest/dev/kinesis-using-sdk-java-resharding-split.html">Split a Shard</a> in the <i>Amazon Kinesis Streams Developer Guide</i>.</p> <p>You can use <a>DescribeStream</a> to determine the shard ID and hash key values for the <code>ShardToSplit</code> and <code>NewStartingHashKey</code> parameters that are specified in the <code>SplitShard</code> request.</p> <p> <code>SplitShard</code> is an asynchronous operation. Upon receiving a <code>SplitShard</code> request, Kinesis Streams immediately returns a response and sets the stream status to <code>UPDATING</code>. After the operation is completed, Kinesis Streams sets the stream status to <code>ACTIVE</code>. Read and write operations continue to work while the stream is in the <code>UPDATING</code> state. </p> <p>You can use <code>DescribeStream</code> to check the status of the stream, which is returned in <code>StreamStatus</code>. If the stream is in the <code>ACTIVE</code> state, you can call <code>SplitShard</code>. If a stream is in <code>CREATING</code> or <code>UPDATING</code> or <code>DELETING</code> states, <code>DescribeStream</code> returns a <code>ResourceInUseException</code>.</p> <p>If the specified stream does not exist, <code>DescribeStream</code> returns a <code>ResourceNotFoundException</code>. If you try to create more shards than are authorized for your account, you receive a <code>LimitExceededException</code>. </p> <p>For the default shard limit for an AWS account, see <a href="http://docs.aws.amazon.com/kinesis/latest/dev/service-sizes-and-limits.html">Streams Limits</a> in the <i>Amazon Kinesis Streams Developer Guide</i>. To increase this limit, <a href="http://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html">contact AWS Support</a>.</p> <p>If you try to operate on too many streams simultaneously using <a>CreateStream</a>, <a>DeleteStream</a>, <a>MergeShards</a>, and/or <a>SplitShard</a>, you receive a <code>LimitExceededException</code>. </p> <p> <code>SplitShard</code> has a limit of 5 transactions per second per account.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SplitShardInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#StartStreamEncryption':
    post:
      operationId: StartStreamEncryption
      description: '<p>Enables or updates server-side encryption using an AWS KMS key for a specified stream. </p> <p>Starting encryption is an asynchronous operation. Upon receiving the request, Kinesis Streams returns immediately and sets the status of the stream to <code>UPDATING</code>. After the update is complete, Kinesis Streams sets the status of the stream back to <code>ACTIVE</code>. Updating or applying encryption normally takes a few seconds to complete, but it can take minutes. You can continue to read and write data to your stream while its status is <code>UPDATING</code>. Once the status of the stream is <code>ACTIVE</code>, encryption begins for records written to the stream. </p> <p>API Limits: You can successfully apply a new AWS KMS key for server-side encryption 25 times in a rolling 24-hour period.</p> <p>Note: It can take up to five seconds after the stream is in an <code>ACTIVE</code> status before all records written to the stream are encrypted. After you enable encryption, you can verify that encryption is applied by inspecting the API response from <code>PutRecord</code> or <code>PutRecords</code>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: KMSDisabledException
          schema:
            $ref: '#/definitions/KMSDisabledException'
        '485':
          description: KMSInvalidStateException
          schema:
            $ref: '#/definitions/KMSInvalidStateException'
        '486':
          description: KMSAccessDeniedException
          schema:
            $ref: '#/definitions/KMSAccessDeniedException'
        '487':
          description: KMSNotFoundException
          schema:
            $ref: '#/definitions/KMSNotFoundException'
        '488':
          description: KMSOptInRequired
          schema:
            $ref: '#/definitions/KMSOptInRequired'
        '489':
          description: KMSThrottlingException
          schema:
            $ref: '#/definitions/KMSThrottlingException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StartStreamEncryptionInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#StopStreamEncryption':
    post:
      operationId: StopStreamEncryption
      description: '<p>Disables server-side encryption for a specified stream. </p> <p>Stopping encryption is an asynchronous operation. Upon receiving the request, Kinesis Streams returns immediately and sets the status of the stream to <code>UPDATING</code>. After the update is complete, Kinesis Streams sets the status of the stream back to <code>ACTIVE</code>. Stopping encryption normally takes a few seconds to complete, but it can take minutes. You can continue to read and write data to your stream while its status is <code>UPDATING</code>. Once the status of the stream is <code>ACTIVE</code>, records written to the stream are no longer encrypted by Kinesis Streams. </p> <p>API Limits: You can successfully disable server-side encryption 25 times in a rolling 24-hour period. </p> <p>Note: It can take up to five seconds after the stream is in an <code>ACTIVE</code> status before all records written to the stream are no longer subject to encryption. After you disabled encryption, you can verify that encryption is not applied by inspecting the API response from <code>PutRecord</code> or <code>PutRecords</code>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StopStreamEncryptionInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#UpdateShardCount':
    post:
      operationId: UpdateShardCount
      description: '<p>Updates the shard count of the specified stream to the specified number of shards.</p> <p>Updating the shard count is an asynchronous operation. Upon receiving the request, Kinesis Streams returns immediately and sets the status of the stream to <code>UPDATING</code>. After the update is complete, Kinesis Streams sets the status of the stream back to <code>ACTIVE</code>. Depending on the size of the stream, the scaling action could take a few minutes to complete. You can continue to read and write data to your stream while its status is <code>UPDATING</code>.</p> <p>To update the shard count, Kinesis Streams performs splits or merges on individual shards. This can cause short-lived shards to be created, in addition to the final shards. We recommend that you double or halve the shard count, as this results in the fewest number of splits or merges.</p> <p>This operation has the following limits, which are per region per account unless otherwise noted. You cannot:</p> <ul> <li> <p>Scale more than twice per rolling 24 hour period</p> </li> <li> <p>Scale up to double your current shard count</p> </li> <li> <p>Scale down below half your current shard count</p> </li> <li> <p>Scale up to more 500 shards in a stream</p> </li> <li> <p>Scale a stream with more than 500 shards down unless the result is less than 500 shards</p> </li> <li> <p>Scale up more the shard limits for your account</p> </li> <li> <p/> </li> </ul> <p>For the default limits for an AWS account, see <a href="http://docs.aws.amazon.com/kinesis/latest/dev/service-sizes-and-limits.html">Streams Limits</a> in the <i>Amazon Kinesis Streams Developer Guide</i>. To increase a limit, <a href="http://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html">contact AWS Support</a>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateShardCountOutput'
        '480':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateShardCountInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  AddTagsToStreamInput:
    type: object
    required:
      - StreamName
      - Tags
    properties:
      StreamName:
        $ref: '#/definitions/StreamName'
        description: The name of the stream.
      Tags:
        $ref: '#/definitions/TagMap'
        description: The set of key-value pairs to use to create the tags.
    description: Represents the input for <code>AddTagsToStream</code>.
  BooleanObject:
    type: boolean
  CreateStreamInput:
    type: object
    required:
      - StreamName
      - ShardCount
    properties:
      StreamName:
        $ref: '#/definitions/StreamName'
        description: 'A name to identify the stream. The stream name is scoped to the AWS account used by the application that creates the stream. It is also scoped by region. That is, two streams in two different AWS accounts can have the same name. Two streams in the same AWS account but in two different regions can also have the same name.'
      ShardCount:
        $ref: '#/definitions/PositiveIntegerObject'
        description: <p>The number of shards that the stream will use. The throughput of the stream is a function of the number of shards; more shards are required for greater provisioned throughput.</p> <p>DefaultShardLimit;</p>
    description: Represents the input for <code>CreateStream</code>.
  Data:
    type: string
    minLength: 0
    maxLength: 1048576
  DecreaseStreamRetentionPeriodInput:
    type: object
    required:
      - StreamName
      - RetentionPeriodHours
    properties:
      StreamName:
        $ref: '#/definitions/StreamName'
        description: The name of the stream to modify.
      RetentionPeriodHours:
        $ref: '#/definitions/PositiveIntegerObject'
        description: 'The new retention period of the stream, in hours. Must be less than the current retention period.'
    description: Represents the input for <a>DecreaseStreamRetentionPeriod</a>.
  DeleteStreamInput:
    type: object
    required:
      - StreamName
    properties:
      StreamName:
        $ref: '#/definitions/StreamName'
        description: The name of the stream to delete.
    description: Represents the input for <a>DeleteStream</a>.
  DescribeLimitsInput:
    type: object
    properties: {}
  DescribeLimitsOutput:
    type: object
    required:
      - ShardLimit
      - OpenShardCount
    properties:
      ShardLimit:
        $ref: '#/definitions/ShardCountObject'
        description: The maximum number of shards.
      OpenShardCount:
        $ref: '#/definitions/ShardCountObject'
        description: The number of open shards.
  DescribeStreamInput:
    type: object
    required:
      - StreamName
    properties:
      StreamName:
        $ref: '#/definitions/StreamName'
        description: The name of the stream to describe.
      Limit:
        $ref: '#/definitions/DescribeStreamInputLimit'
        description: 'The maximum number of shards to return in a single call. The default value is 100. If you specify a value greater than 100, at most 100 shards are returned.'
      ExclusiveStartShardId:
        $ref: '#/definitions/ShardId'
        description: The shard ID of the shard to start with.
    description: Represents the input for <code>DescribeStream</code>.
  DescribeStreamInputLimit:
    type: integer
    minimum: 1
    maximum: 10000
  DescribeStreamOutput:
    type: object
    required:
      - StreamDescription
    properties:
      StreamDescription:
        $ref: '#/definitions/StreamDescription'
        description: 'The current status of the stream, the stream ARN, an array of shard objects that comprise the stream, and whether there are more shards available.'
    description: Represents the output for <code>DescribeStream</code>.
  DescribeStreamSummaryInput:
    type: object
    required:
      - StreamName
    properties:
      StreamName:
        $ref: '#/definitions/StreamName'
        description: The name of the stream to describe.
  DescribeStreamSummaryOutput:
    type: object
    required:
      - StreamDescriptionSummary
    properties:
      StreamDescriptionSummary:
        $ref: '#/definitions/StreamDescriptionSummary'
        description: A <a>StreamDescriptionSummary</a> containing information about the stream.
  DisableEnhancedMonitoringInput:
    type: object
    required:
      - StreamName
      - ShardLevelMetrics
    properties:
      StreamName:
        $ref: '#/definitions/StreamName'
        description: The name of the Kinesis stream for which to disable enhanced monitoring.
      ShardLevelMetrics:
        $ref: '#/definitions/MetricsNameList'
        description: '<p>List of shard-level metrics to disable.</p> <p>The following are the valid shard-level metrics. The value "<code>ALL</code>" disables every metric.</p> <ul> <li> <p> <code>IncomingBytes</code> </p> </li> <li> <p> <code>IncomingRecords</code> </p> </li> <li> <p> <code>OutgoingBytes</code> </p> </li> <li> <p> <code>OutgoingRecords</code> </p> </li> <li> <p> <code>WriteProvisionedThroughputExceeded</code> </p> </li> <li> <p> <code>ReadProvisionedThroughputExceeded</code> </p> </li> <li> <p> <code>IteratorAgeMilliseconds</code> </p> </li> <li> <p> <code>ALL</code> </p> </li> </ul> <p>For more information, see <a href="http://docs.aws.amazon.com/kinesis/latest/dev/monitoring-with-cloudwatch.html">Monitoring the Amazon Kinesis Streams Service with Amazon CloudWatch</a> in the <i>Amazon Kinesis Streams Developer Guide</i>.</p>'
    description: Represents the input for <a>DisableEnhancedMonitoring</a>.
  EnableEnhancedMonitoringInput:
    type: object
    required:
      - StreamName
      - ShardLevelMetrics
    properties:
      StreamName:
        $ref: '#/definitions/StreamName'
        description: The name of the stream for which to enable enhanced monitoring.
      ShardLevelMetrics:
        $ref: '#/definitions/MetricsNameList'
        description: '<p>List of shard-level metrics to enable.</p> <p>The following are the valid shard-level metrics. The value "<code>ALL</code>" enables every metric.</p> <ul> <li> <p> <code>IncomingBytes</code> </p> </li> <li> <p> <code>IncomingRecords</code> </p> </li> <li> <p> <code>OutgoingBytes</code> </p> </li> <li> <p> <code>OutgoingRecords</code> </p> </li> <li> <p> <code>WriteProvisionedThroughputExceeded</code> </p> </li> <li> <p> <code>ReadProvisionedThroughputExceeded</code> </p> </li> <li> <p> <code>IteratorAgeMilliseconds</code> </p> </li> <li> <p> <code>ALL</code> </p> </li> </ul> <p>For more information, see <a href="http://docs.aws.amazon.com/kinesis/latest/dev/monitoring-with-cloudwatch.html">Monitoring the Amazon Kinesis Streams Service with Amazon CloudWatch</a> in the <i>Amazon Kinesis Streams Developer Guide</i>.</p>'
    description: Represents the input for <a>EnableEnhancedMonitoring</a>.
  EncryptionType:
    type: string
    enum:
      - NONE
      - KMS
  EnhancedMetrics:
    type: object
    properties:
      ShardLevelMetrics:
        $ref: '#/definitions/MetricsNameList'
        description: '<p>List of shard-level metrics.</p> <p>The following are the valid shard-level metrics. The value "<code>ALL</code>" enhances every metric.</p> <ul> <li> <p> <code>IncomingBytes</code> </p> </li> <li> <p> <code>IncomingRecords</code> </p> </li> <li> <p> <code>OutgoingBytes</code> </p> </li> <li> <p> <code>OutgoingRecords</code> </p> </li> <li> <p> <code>WriteProvisionedThroughputExceeded</code> </p> </li> <li> <p> <code>ReadProvisionedThroughputExceeded</code> </p> </li> <li> <p> <code>IteratorAgeMilliseconds</code> </p> </li> <li> <p> <code>ALL</code> </p> </li> </ul> <p>For more information, see <a href="http://docs.aws.amazon.com/kinesis/latest/dev/monitoring-with-cloudwatch.html">Monitoring the Amazon Kinesis Streams Service with Amazon CloudWatch</a> in the <i>Amazon Kinesis Streams Developer Guide</i>.</p>'
    description: Represents enhanced metrics types.
  EnhancedMonitoringList:
    type: array
    items:
      $ref: '#/definitions/EnhancedMetrics'
  EnhancedMonitoringOutput:
    type: object
    properties:
      StreamName:
        $ref: '#/definitions/StreamName'
        description: The name of the Kinesis stream.
      CurrentShardLevelMetrics:
        $ref: '#/definitions/MetricsNameList'
        description: Represents the current state of the metrics that are in the enhanced state before the operation.
      DesiredShardLevelMetrics:
        $ref: '#/definitions/MetricsNameList'
        description: Represents the list of all the metrics that would be in the enhanced state after the operation.
    description: Represents the output for <a>EnableEnhancedMonitoring</a> and <a>DisableEnhancedMonitoring</a>.
  ErrorCode:
    type: string
  ErrorMessage:
    type: string
  ExpiredIteratorException:
    type: object
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: A message that provides information about the error.
    description: The provided iterator exceeds the maximum age allowed.
  GetRecordsInput:
    type: object
    required:
      - ShardIterator
    properties:
      ShardIterator:
        $ref: '#/definitions/ShardIterator'
        description: The position in the shard from which you want to start sequentially reading data records. A shard iterator specifies this position using the sequence number of a data record in the shard.
      Limit:
        $ref: '#/definitions/GetRecordsInputLimit'
        description: 'The maximum number of records to return. Specify a value of up to 10,000. If you specify a value that is greater than 10,000, <a>GetRecords</a> throws <code>InvalidArgumentException</code>.'
    description: Represents the input for <a>GetRecords</a>.
  GetRecordsInputLimit:
    type: integer
    minimum: 1
    maximum: 10000
  GetRecordsOutput:
    type: object
    required:
      - Records
    properties:
      Records:
        $ref: '#/definitions/RecordList'
        description: The data records retrieved from the shard.
      NextShardIterator:
        $ref: '#/definitions/ShardIterator'
        description: 'The next position in the shard from which to start sequentially reading data records. If set to <code>null</code>, the shard has been closed and the requested iterator does not return any more data. '
      MillisBehindLatest:
        $ref: '#/definitions/MillisBehindLatest'
        description: 'The number of milliseconds the <a>GetRecords</a> response is from the tip of the stream, indicating how far behind current time the consumer is. A value of zero indicates that record processing is caught up, and there are no new records to process at this moment.'
    description: Represents the output for <a>GetRecords</a>.
  GetShardIteratorInput:
    type: object
    required:
      - StreamName
      - ShardId
      - ShardIteratorType
    properties:
      StreamName:
        $ref: '#/definitions/StreamName'
        description: The name of the Amazon Kinesis stream.
      ShardId:
        $ref: '#/definitions/ShardId'
        description: The shard ID of the Kinesis Streams shard to get the iterator for.
      ShardIteratorType:
        $ref: '#/definitions/ShardIteratorType'
        description: '<p>Determines how the shard iterator is used to start reading data records from the shard.</p> <p>The following are the valid Amazon Kinesis shard iterator types:</p> <ul> <li> <p>AT_SEQUENCE_NUMBER - Start reading from the position denoted by a specific sequence number, provided in the value <code>StartingSequenceNumber</code>.</p> </li> <li> <p>AFTER_SEQUENCE_NUMBER - Start reading right after the position denoted by a specific sequence number, provided in the value <code>StartingSequenceNumber</code>.</p> </li> <li> <p>AT_TIMESTAMP - Start reading from the position denoted by a specific time stamp, provided in the value <code>Timestamp</code>.</p> </li> <li> <p>TRIM_HORIZON - Start reading at the last untrimmed record in the shard in the system, which is the oldest data record in the shard.</p> </li> <li> <p>LATEST - Start reading just after the most recent record in the shard, so that you always read the most recent data in the shard.</p> </li> </ul>'
      StartingSequenceNumber:
        $ref: '#/definitions/SequenceNumber'
        description: The sequence number of the data record in the shard from which to start reading. Used with shard iterator type AT_SEQUENCE_NUMBER and AFTER_SEQUENCE_NUMBER.
      Timestamp:
        $ref: '#/definitions/Timestamp'
        description: 'The time stamp of the data record from which to start reading. Used with shard iterator type AT_TIMESTAMP. A time stamp is the Unix epoch date with precision in milliseconds. For example, <code>2016-04-04T19:58:46.480-00:00</code> or <code>1459799926.480</code>. If a record with this exact time stamp does not exist, the iterator returned is for the next (later) record. If the time stamp is older than the current trim horizon, the iterator returned is for the oldest untrimmed data record (TRIM_HORIZON).'
    description: Represents the input for <code>GetShardIterator</code>.
  GetShardIteratorOutput:
    type: object
    properties:
      ShardIterator:
        $ref: '#/definitions/ShardIterator'
        description: The position in the shard from which to start reading data records sequentially. A shard iterator specifies this position using the sequence number of a data record in a shard.
    description: Represents the output for <code>GetShardIterator</code>.
  HashKey:
    type: string
    pattern: '0|([1-9]\d{0,38})'
  HashKeyRange:
    type: object
    required:
      - StartingHashKey
      - EndingHashKey
    properties:
      StartingHashKey:
        $ref: '#/definitions/HashKey'
        description: The starting hash key of the hash key range.
      EndingHashKey:
        $ref: '#/definitions/HashKey'
        description: The ending hash key of the hash key range.
    description: 'The range of possible hash key values for the shard, which is a set of ordered contiguous positive integers.'
  IncreaseStreamRetentionPeriodInput:
    type: object
    required:
      - StreamName
      - RetentionPeriodHours
    properties:
      StreamName:
        $ref: '#/definitions/StreamName'
        description: The name of the stream to modify.
      RetentionPeriodHours:
        $ref: '#/definitions/PositiveIntegerObject'
        description: 'The new retention period of the stream, in hours. Must be more than the current retention period.'
    description: Represents the input for <a>IncreaseStreamRetentionPeriod</a>.
  InvalidArgumentException:
    type: object
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: A message that provides information about the error.
    description: 'A specified parameter exceeds its restrictions, is not supported, or can''t be used. For more information, see the returned message.'
  KMSAccessDeniedException:
    type: object
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: A message that provides information about the error.
    description: The ciphertext references a key that doesn't exist or that you don't have access to.
  KMSDisabledException:
    type: object
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: A message that provides information about the error.
    description: The request was rejected because the specified customer master key (CMK) isn't enabled.
  KMSInvalidStateException:
    type: object
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: A message that provides information about the error.
    description: 'The request was rejected because the state of the specified resource isn''t valid for this request. For more information, see <a href="http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.'
  KMSNotFoundException:
    type: object
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: A message that provides information about the error.
    description: The request was rejected because the specified entity or resource can't be found.
  KMSOptInRequired:
    type: object
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: A message that provides information about the error.
    description: The AWS access key ID needs a subscription for the service.
  KMSThrottlingException:
    type: object
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: A message that provides information about the error.
    description: 'The request was denied due to request throttling. For more information about throttling, see <a href="http://docs.aws.amazon.com/kms/latest/developerguide/limits.html#requests-per-second">Limits</a> in the <i>AWS Key Management Service Developer Guide</i>.'
  KeyId:
    type: string
    minLength: 1
    maxLength: 2048
  LimitExceededException:
    type: object
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: A message that provides information about the error.
    description: 'The requested resource exceeds the maximum number allowed, or the number of concurrent stream requests exceeds the maximum number allowed. '
  ListStreamsInput:
    type: object
    properties:
      Limit:
        $ref: '#/definitions/ListStreamsInputLimit'
        description: The maximum number of streams to list.
      ExclusiveStartStreamName:
        $ref: '#/definitions/StreamName'
        description: The name of the stream to start the list with.
    description: Represents the input for <code>ListStreams</code>.
  ListStreamsInputLimit:
    type: integer
    minimum: 1
    maximum: 10000
  ListStreamsOutput:
    type: object
    required:
      - StreamNames
      - HasMoreStreams
    properties:
      StreamNames:
        $ref: '#/definitions/StreamNameList'
        description: The names of the streams that are associated with the AWS account making the <code>ListStreams</code> request.
      HasMoreStreams:
        $ref: '#/definitions/BooleanObject'
        description: 'If set to <code>true</code>, there are more streams available to list.'
    description: Represents the output for <code>ListStreams</code>.
  ListTagsForStreamInput:
    type: object
    required:
      - StreamName
    properties:
      StreamName:
        $ref: '#/definitions/StreamName'
        description: The name of the stream.
      ExclusiveStartTagKey:
        $ref: '#/definitions/TagKey'
        description: 'The key to use as the starting point for the list of tags. If this parameter is set, <code>ListTagsForStream</code> gets all tags that occur after <code>ExclusiveStartTagKey</code>. '
      Limit:
        $ref: '#/definitions/ListTagsForStreamInputLimit'
        description: 'The number of tags to return. If this number is less than the total number of tags associated with the stream, <code>HasMoreTags</code> is set to <code>true</code>. To list additional tags, set <code>ExclusiveStartTagKey</code> to the last key in the response.'
    description: Represents the input for <code>ListTagsForStream</code>.
  ListTagsForStreamInputLimit:
    type: integer
    minimum: 1
    maximum: 10
  ListTagsForStreamOutput:
    type: object
    required:
      - Tags
      - HasMoreTags
    properties:
      Tags:
        $ref: '#/definitions/TagList'
        description: 'A list of tags associated with <code>StreamName</code>, starting with the first tag after <code>ExclusiveStartTagKey</code> and up to the specified <code>Limit</code>. '
      HasMoreTags:
        $ref: '#/definitions/BooleanObject'
        description: 'If set to <code>true</code>, more tags are available. To request additional tags, set <code>ExclusiveStartTagKey</code> to the key of the last tag returned.'
    description: Represents the output for <code>ListTagsForStream</code>.
  MergeShardsInput:
    type: object
    required:
      - StreamName
      - ShardToMerge
      - AdjacentShardToMerge
    properties:
      StreamName:
        $ref: '#/definitions/StreamName'
        description: The name of the stream for the merge.
      ShardToMerge:
        $ref: '#/definitions/ShardId'
        description: The shard ID of the shard to combine with the adjacent shard for the merge.
      AdjacentShardToMerge:
        $ref: '#/definitions/ShardId'
        description: The shard ID of the adjacent shard for the merge.
    description: Represents the input for <code>MergeShards</code>.
  MetricsName:
    type: string
    enum:
      - IncomingBytes
      - IncomingRecords
      - OutgoingBytes
      - OutgoingRecords
      - WriteProvisionedThroughputExceeded
      - ReadProvisionedThroughputExceeded
      - IteratorAgeMilliseconds
      - ALL
  MetricsNameList:
    type: array
    items:
      $ref: '#/definitions/MetricsName'
    minItems: 1
    maxItems: 7
  MillisBehindLatest:
    type: integer
    minimum: 0
  PartitionKey:
    type: string
    minLength: 1
    maxLength: 256
  PositiveIntegerObject:
    type: integer
    minimum: 1
    maximum: 100000
  ProvisionedThroughputExceededException:
    type: object
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: A message that provides information about the error.
    description: 'The request rate for the stream is too high, or the requested data is too large for the available throughput. Reduce the frequency or size of your requests. For more information, see <a href="http://docs.aws.amazon.com/kinesis/latest/dev/service-sizes-and-limits.html">Streams Limits</a> in the <i>Amazon Kinesis Streams Developer Guide</i>, and <a href="http://docs.aws.amazon.com/general/latest/gr/api-retries.html">Error Retries and Exponential Backoff in AWS</a> in the <i>AWS General Reference</i>.'
  PutRecordInput:
    type: object
    required:
      - StreamName
      - Data
      - PartitionKey
    properties:
      StreamName:
        $ref: '#/definitions/StreamName'
        description: The name of the stream to put the data record into.
      Data:
        $ref: '#/definitions/Data'
        description: 'The data blob to put into the record, which is base64-encoded when the blob is serialized. When the data blob (the payload before base64-encoding) is added to the partition key size, the total size must not exceed the maximum record size (1 MB).'
      PartitionKey:
        $ref: '#/definitions/PartitionKey'
        description: 'Determines which shard in the stream the data record is assigned to. Partition keys are Unicode strings with a maximum length limit of 256 characters for each key. Amazon Kinesis uses the partition key as input to a hash function that maps the partition key and associated data to a specific shard. Specifically, an MD5 hash function is used to map partition keys to 128-bit integer values and to map associated data records to shards. As a result of this hashing mechanism, all data records with the same partition key map to the same shard within the stream.'
      ExplicitHashKey:
        $ref: '#/definitions/HashKey'
        description: The hash value used to explicitly determine the shard the data record is assigned to by overriding the partition key hash.
      SequenceNumberForOrdering:
        $ref: '#/definitions/SequenceNumber'
        description: 'Guarantees strictly increasing sequence numbers, for puts from the same client and to the same partition key. Usage: set the <code>SequenceNumberForOrdering</code> of record <i>n</i> to the sequence number of record <i>n-1</i> (as returned in the result when putting record <i>n-1</i>). If this parameter is not set, records are coarsely ordered based on arrival time.'
    description: Represents the input for <code>PutRecord</code>.
  PutRecordOutput:
    type: object
    required:
      - ShardId
      - SequenceNumber
    properties:
      ShardId:
        $ref: '#/definitions/ShardId'
        description: The shard ID of the shard where the data record was placed.
      SequenceNumber:
        $ref: '#/definitions/SequenceNumber'
        description: The sequence number identifier that was assigned to the put data record. The sequence number for the record is unique across all records in the stream. A sequence number is the identifier associated with every record put into the stream.
      EncryptionType:
        $ref: '#/definitions/EncryptionType'
        description: '<p>The encryption type to use on the record. This parameter can be one of the following values:</p> <ul> <li> <p> <code>NONE</code>: Do not encrypt the records in the stream.</p> </li> <li> <p> <code>KMS</code>: Use server-side encryption on the records in the stream using a customer-managed KMS key.</p> </li> </ul>'
    description: Represents the output for <code>PutRecord</code>.
  PutRecordsInput:
    type: object
    required:
      - Records
      - StreamName
    properties:
      Records:
        $ref: '#/definitions/PutRecordsRequestEntryList'
        description: The records associated with the request.
      StreamName:
        $ref: '#/definitions/StreamName'
        description: The stream name associated with the request.
    description: A <code>PutRecords</code> request.
  PutRecordsOutput:
    type: object
    required:
      - Records
    properties:
      FailedRecordCount:
        $ref: '#/definitions/PositiveIntegerObject'
        description: The number of unsuccessfully processed records in a <code>PutRecords</code> request.
      Records:
        $ref: '#/definitions/PutRecordsResultEntryList'
        description: 'An array of successfully and unsuccessfully processed record results, correlated with the request by natural ordering. A record that is successfully added to a stream includes <code>SequenceNumber</code> and <code>ShardId</code> in the result. A record that fails to be added to a stream includes <code>ErrorCode</code> and <code>ErrorMessage</code> in the result.'
      EncryptionType:
        $ref: '#/definitions/EncryptionType'
        description: '<p>The encryption type used on the records. This parameter can be one of the following values:</p> <ul> <li> <p> <code>NONE</code>: Do not encrypt the records.</p> </li> <li> <p> <code>KMS</code>: Use server-side encryption on the records using a customer-managed KMS key.</p> </li> </ul>'
    description: ' <code>PutRecords</code> results.'
  PutRecordsRequestEntry:
    type: object
    required:
      - Data
      - PartitionKey
    properties:
      Data:
        $ref: '#/definitions/Data'
        description: 'The data blob to put into the record, which is base64-encoded when the blob is serialized. When the data blob (the payload before base64-encoding) is added to the partition key size, the total size must not exceed the maximum record size (1 MB).'
      ExplicitHashKey:
        $ref: '#/definitions/HashKey'
        description: The hash value used to determine explicitly the shard that the data record is assigned to by overriding the partition key hash.
      PartitionKey:
        $ref: '#/definitions/PartitionKey'
        description: 'Determines which shard in the stream the data record is assigned to. Partition keys are Unicode strings with a maximum length limit of 256 characters for each key. Amazon Kinesis uses the partition key as input to a hash function that maps the partition key and associated data to a specific shard. Specifically, an MD5 hash function is used to map partition keys to 128-bit integer values and to map associated data records to shards. As a result of this hashing mechanism, all data records with the same partition key map to the same shard within the stream.'
    description: Represents the output for <code>PutRecords</code>.
  PutRecordsRequestEntryList:
    type: array
    items:
      $ref: '#/definitions/PutRecordsRequestEntry'
    minItems: 1
    maxItems: 500
  PutRecordsResultEntry:
    type: object
    properties:
      SequenceNumber:
        $ref: '#/definitions/SequenceNumber'
        description: The sequence number for an individual record result.
      ShardId:
        $ref: '#/definitions/ShardId'
        description: The shard ID for an individual record result.
      ErrorCode:
        $ref: '#/definitions/ErrorCode'
        description: The error code for an individual record result. <code>ErrorCodes</code> can be either <code>ProvisionedThroughputExceededException</code> or <code>InternalFailure</code>.
      ErrorMessage:
        $ref: '#/definitions/ErrorMessage'
        description: 'The error message for an individual record result. An <code>ErrorCode</code> value of <code>ProvisionedThroughputExceededException</code> has an error message that includes the account ID, stream name, and shard ID. An <code>ErrorCode</code> value of <code>InternalFailure</code> has the error message <code>"Internal Service Failure"</code>.'
    description: Represents the result of an individual record from a <code>PutRecords</code> request. A record that is successfully added to a stream includes <code>SequenceNumber</code> and <code>ShardId</code> in the result. A record that fails to be added to the stream includes <code>ErrorCode</code> and <code>ErrorMessage</code> in the result.
  PutRecordsResultEntryList:
    type: array
    items:
      $ref: '#/definitions/PutRecordsResultEntry'
    minItems: 1
    maxItems: 500
  Record:
    type: object
    required:
      - SequenceNumber
      - Data
      - PartitionKey
    properties:
      SequenceNumber:
        $ref: '#/definitions/SequenceNumber'
        description: The unique identifier of the record within its shard.
      ApproximateArrivalTimestamp:
        $ref: '#/definitions/Timestamp'
        description: The approximate time that the record was inserted into the stream.
      Data:
        $ref: '#/definitions/Data'
        description: 'The data blob. The data in the blob is both opaque and immutable to Kinesis Streams, which does not inspect, interpret, or change the data in the blob in any way. When the data blob (the payload before base64-encoding) is added to the partition key size, the total size must not exceed the maximum record size (1 MB).'
      PartitionKey:
        $ref: '#/definitions/PartitionKey'
        description: Identifies which shard in the stream the data record is assigned to.
      EncryptionType:
        $ref: '#/definitions/EncryptionType'
        description: '<p>The encryption type used on the record. This parameter can be one of the following values:</p> <ul> <li> <p> <code>NONE</code>: Do not encrypt the records in the stream.</p> </li> <li> <p> <code>KMS</code>: Use server-side encryption on the records in the stream using a customer-managed KMS key.</p> </li> </ul>'
    description: 'The unit of data of the Kinesis stream, which is composed of a sequence number, a partition key, and a data blob.'
  RecordList:
    type: array
    items:
      $ref: '#/definitions/Record'
  RemoveTagsFromStreamInput:
    type: object
    required:
      - StreamName
      - TagKeys
    properties:
      StreamName:
        $ref: '#/definitions/StreamName'
        description: The name of the stream.
      TagKeys:
        $ref: '#/definitions/TagKeyList'
        description: A list of tag keys. Each corresponding tag is removed from the stream.
    description: Represents the input for <code>RemoveTagsFromStream</code>.
  ResourceInUseException:
    type: object
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: A message that provides information about the error.
    description: 'The resource is not available for this operation. For successful operation, the resource must be in the <code>ACTIVE</code> state.'
  ResourceNotFoundException:
    type: object
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: A message that provides information about the error.
    description: The requested resource could not be found. The stream might not be specified correctly.
  ScalingType:
    type: string
    enum:
      - UNIFORM_SCALING
  SequenceNumber:
    type: string
    pattern: '0|([1-9]\d{0,128})'
  SequenceNumberRange:
    type: object
    required:
      - StartingSequenceNumber
    properties:
      StartingSequenceNumber:
        $ref: '#/definitions/SequenceNumber'
        description: The starting sequence number for the range.
      EndingSequenceNumber:
        $ref: '#/definitions/SequenceNumber'
        description: The ending sequence number for the range. Shards that are in the OPEN state have an ending sequence number of <code>null</code>.
    description: The range of possible sequence numbers for the shard.
  Shard:
    type: object
    required:
      - ShardId
      - HashKeyRange
      - SequenceNumberRange
    properties:
      ShardId:
        $ref: '#/definitions/ShardId'
        description: The unique identifier of the shard within the stream.
      ParentShardId:
        $ref: '#/definitions/ShardId'
        description: The shard ID of the shard's parent.
      AdjacentParentShardId:
        $ref: '#/definitions/ShardId'
        description: The shard ID of the shard adjacent to the shard's parent.
      HashKeyRange:
        $ref: '#/definitions/HashKeyRange'
        description: 'The range of possible hash key values for the shard, which is a set of ordered contiguous positive integers.'
      SequenceNumberRange:
        $ref: '#/definitions/SequenceNumberRange'
        description: The range of possible sequence numbers for the shard.
    description: A uniquely identified group of data records in a Kinesis stream.
  ShardCountObject:
    type: integer
    minimum: 0
    maximum: 1000000
  ShardId:
    type: string
    pattern: '[a-zA-Z0-9_.-]+'
    minLength: 1
    maxLength: 128
  ShardIterator:
    type: string
    minLength: 1
    maxLength: 512
  ShardIteratorType:
    type: string
    enum:
      - AT_SEQUENCE_NUMBER
      - AFTER_SEQUENCE_NUMBER
      - TRIM_HORIZON
      - LATEST
      - AT_TIMESTAMP
  ShardList:
    type: array
    items:
      $ref: '#/definitions/Shard'
  SplitShardInput:
    type: object
    required:
      - StreamName
      - ShardToSplit
      - NewStartingHashKey
    properties:
      StreamName:
        $ref: '#/definitions/StreamName'
        description: The name of the stream for the shard split.
      ShardToSplit:
        $ref: '#/definitions/ShardId'
        description: The shard ID of the shard to split.
      NewStartingHashKey:
        $ref: '#/definitions/HashKey'
        description: A hash key value for the starting hash key of one of the child shards created by the split. The hash key range for a given shard constitutes a set of ordered contiguous positive integers. The value for <code>NewStartingHashKey</code> must be in the range of hash keys being mapped into the shard. The <code>NewStartingHashKey</code> hash key value and all higher hash key values in hash key range are distributed to one of the child shards. All the lower hash key values in the range are distributed to the other child shard.
    description: Represents the input for <code>SplitShard</code>.
  StartStreamEncryptionInput:
    type: object
    required:
      - StreamName
      - EncryptionType
      - KeyId
    properties:
      StreamName:
        $ref: '#/definitions/StreamName'
        description: The name of the stream for which to start encrypting records.
      EncryptionType:
        $ref: '#/definitions/EncryptionType'
        description: The encryption type to use. The only valid value is <code>KMS</code>.
      KeyId:
        $ref: '#/definitions/KeyId'
[...]
