openapi: 3.0.0
servers:
  - url: https://networkservices.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: ""
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Network Services API
  version: v1
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_upload.wikimedia.org_wikipedia_commons_e_e1_YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
    - format: openapi
      url: https://networkservices.googleapis.com/$discovery/rest?version=v1
      version: "3.0"
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: networkservices
externalDocs:
  url: https://cloud.google.com/networking
tags:
  - name: projects
paths:
  "/v1/{name}":
    delete:
      description: Deletes a single TlsRoute.
      operationId: networkservices.projects.locations.tlsRoutes.delete
      parameters:
        - description: Required. A name of the TlsRoute to delete. Must be in the format `projects/*/locations/global/tlsRoutes/*`.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    get:
      description: Gets details of a single TlsRoute.
      operationId: networkservices.projects.locations.tlsRoutes.get
      parameters:
        - description: Required. A name of the TlsRoute to get. Must be in the format `projects/*/locations/global/tlsRoutes/*`.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TlsRoute"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Updates the parameters of a single TlsRoute.
      operationId: networkservices.projects.locations.tlsRoutes.patch
      parameters:
        - description: Required. Name of the TlsRoute resource. It matches pattern `projects/*/locations/global/tlsRoutes/tls_route_name>`.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Optional. Field mask is used to specify the fields to be overwritten in the TlsRoute resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.
          in: query
          name: updateMask
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TlsRoute"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{name}/locations":
    get:
      description: Lists information about the supported locations for this service.
      operationId: networkservices.projects.locations.list
      parameters:
        - description: The resource that owns the locations collection, if applicable.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: A filter to narrow down results to a preferred subset. The filtering language accepts strings like `"displayName=tokyo"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).
          in: query
          name: filter
          schema:
            type: string
        - description: The maximum number of results to return. If not set, the service selects a default.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListLocationsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{name}/operations":
    get:
      description: Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.
      operationId: networkservices.projects.locations.operations.list
      parameters:
        - description: The name of the operation's parent resource.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: The standard list filter.
          in: query
          name: filter
          schema:
            type: string
        - description: The standard list page size.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The standard list page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListOperationsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{name}:cancel":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.
      operationId: networkservices.projects.locations.operations.cancel
      parameters:
        - description: The name of the operation resource to be cancelled.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelOperationRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{parent}/endpointPolicies":
    get:
      description: Lists EndpointPolicies in a given project and location.
      operationId: networkservices.projects.locations.endpointPolicies.list
      parameters:
        - description: Required. The project and location from which the EndpointPolicies should be listed, specified in the format `projects/*/locations/global`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Maximum number of EndpointPolicies to return per call.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The value returned by the last `ListEndpointPoliciesResponse` Indicates that this is a continuation of a prior `ListEndpointPolicies` call, and that the system should return the next page of data.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListEndpointPoliciesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new EndpointPolicy in a given project and location.
      operationId: networkservices.projects.locations.endpointPolicies.create
      parameters:
        - description: Required. The parent resource of the EndpointPolicy. Must be in the format `projects/*/locations/global`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. Short name of the EndpointPolicy resource to be created. E.g. "CustomECS".
          in: query
          name: endpointPolicyId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EndpointPolicy"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{parent}/gateways":
    get:
      description: Lists Gateways in a given project and location.
      operationId: networkservices.projects.locations.gateways.list
      parameters:
        - description: Required. The project and location from which the Gateways should be listed, specified in the format `projects/*/locations/*`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Maximum number of Gateways to return per call.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The value returned by the last `ListGatewaysResponse` Indicates that this is a continuation of a prior `ListGateways` call, and that the system should return the next page of data.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListGatewaysResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new Gateway in a given project and location.
      operationId: networkservices.projects.locations.gateways.create
      parameters:
        - description: Required. The parent resource of the Gateway. Must be in the format `projects/*/locations/*`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. Short name of the Gateway resource to be created.
          in: query
          name: gatewayId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Gateway"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{parent}/grpcRoutes":
    get:
      description: Lists GrpcRoutes in a given project and location.
      operationId: networkservices.projects.locations.grpcRoutes.list
      parameters:
        - description: Required. The project and location from which the GrpcRoutes should be listed, specified in the format `projects/*/locations/global`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Maximum number of GrpcRoutes to return per call.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The value returned by the last `ListGrpcRoutesResponse` Indicates that this is a continuation of a prior `ListGrpcRoutes` call, and that the system should return the next page of data.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListGrpcRoutesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new GrpcRoute in a given project and location.
      operationId: networkservices.projects.locations.grpcRoutes.create
      parameters:
        - description: Required. The parent resource of the GrpcRoute. Must be in the format `projects/*/locations/global`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. Short name of the GrpcRoute resource to be created.
          in: query
          name: grpcRouteId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GrpcRoute"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{parent}/httpRoutes":
    get:
      description: Lists HttpRoute in a given project and location.
      operationId: networkservices.projects.locations.httpRoutes.list
      parameters:
        - description: Required. The project and location from which the HttpRoutes should be listed, specified in the format `projects/*/locations/global`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Maximum number of HttpRoutes to return per call.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The value returned by the last `ListHttpRoutesResponse` Indicates that this is a continuation of a prior `ListHttpRoutes` call, and that the system should return the next page of data.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListHttpRoutesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new HttpRoute in a given project and location.
      operationId: networkservices.projects.locations.httpRoutes.create
      parameters:
        - description: Required. The parent resource of the HttpRoute. Must be in the format `projects/*/locations/global`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. Short name of the HttpRoute resource to be created.
          in: query
          name: httpRouteId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HttpRoute"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{parent}/meshes":
    get:
      description: Lists Meshes in a given project and location.
      operationId: networkservices.projects.locations.meshes.list
      parameters:
        - description: Required. The project and location from which the Meshes should be listed, specified in the format `projects/*/locations/global`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Maximum number of Meshes to return per call.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The value returned by the last `ListMeshesResponse` Indicates that this is a continuation of a prior `ListMeshes` call, and that the system should return the next page of data.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListMeshesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new Mesh in a given project and location.
      operationId: networkservices.projects.locations.meshes.create
      parameters:
        - description: Required. The parent resource of the Mesh. Must be in the format `projects/*/locations/global`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. Short name of the Mesh resource to be created.
          in: query
          name: meshId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Mesh"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{parent}/serviceBindings":
    get:
      description: Lists ServiceBinding in a given project and location.
      operationId: networkservices.projects.locations.serviceBindings.list
      parameters:
        - description: Required. The project and location from which the ServiceBindings should be listed, specified in the format `projects/*/locations/global`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Maximum number of ServiceBindings to return per call.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The value returned by the last `ListServiceBindingsResponse` Indicates that this is a continuation of a prior `ListRouters` call, and that the system should return the next page of data.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListServiceBindingsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new ServiceBinding in a given project and location.
      operationId: networkservices.projects.locations.serviceBindings.create
      parameters:
        - description: Required. The parent resource of the ServiceBinding. Must be in the format `projects/*/locations/global`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. Short name of the ServiceBinding resource to be created.
          in: query
          name: serviceBindingId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ServiceBinding"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{parent}/tcpRoutes":
    get:
      description: Lists TcpRoute in a given project and location.
      operationId: networkservices.projects.locations.tcpRoutes.list
      parameters:
        - description: Required. The project and location from which the TcpRoutes should be listed, specified in the format `projects/*/locations/global`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Maximum number of TcpRoutes to return per call.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The value returned by the last `ListTcpRoutesResponse` Indicates that this is a continuation of a prior `ListTcpRoutes` call, and that the system should return the next page of data.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTcpRoutesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new TcpRoute in a given project and location.
      operationId: networkservices.projects.locations.tcpRoutes.create
      parameters:
        - description: Required. The parent resource of the TcpRoute. Must be in the format `projects/*/locations/global`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. Short name of the TcpRoute resource to be created. E.g. TODO(Add an example).
          in: query
          name: tcpRouteId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TcpRoute"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{parent}/tlsRoutes":
    get:
      description: Lists TlsRoute in a given project and location.
      operationId: networkservices.projects.locations.tlsRoutes.list
      parameters:
        - description: Required. The project and location from which the TlsRoutes should be listed, specified in the format `projects/*/locations/global`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Maximum number of TlsRoutes to return per call.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The value returned by the last `ListTlsRoutesResponse` Indicates that this is a continuation of a prior `ListTlsRoutes` call, and that the system should return the next page of data.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTlsRoutesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new TlsRoute in a given project and location.
      operationId: networkservices.projects.locations.tlsRoutes.create
      parameters:
        - description: Required. The parent resource of the TlsRoute. Must be in the format `projects/*/locations/global`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. Short name of the TlsRoute resource to be created. E.g. TODO(Add an example).
          in: query
          name: tlsRouteId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TlsRoute"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{resource}:getIamPolicy":
    get:
      description: Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.
      operationId: networkservices.projects.locations.serviceBindings.getIamPolicy
      parameters:
        - description: "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
          in: path
          name: resource
          required: true
          schema:
            type: string
        - description: Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).
          in: query
          name: options.requestedPolicyVersion
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Policy"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{resource}:setIamPolicy":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.
      operationId: networkservices.projects.locations.serviceBindings.setIamPolicy
      parameters:
        - description: "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
          in: path
          name: resource
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetIamPolicyRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Policy"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{resource}:testIamPermissions":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: 'Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may "fail open" without warning.'
      operationId: networkservices.projects.locations.serviceBindings.testIamPermissions
      parameters:
        - description: "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
          in: path
          name: resource
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TestIamPermissionsRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TestIamPermissionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    AuditConfig:
      description: 'Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { "audit_configs": [ { "service": "allServices", "audit_log_configs": [ { "log_type": "DATA_READ", "exempted_members": [ "user:jose@example.com" ] }, { "log_type": "DATA_WRITE" }, { "log_type": "ADMIN_READ" } ] }, { "service": "sampleservice.googleapis.com", "audit_log_configs": [ { "log_type": "DATA_READ" }, { "log_type": "DATA_WRITE", "exempted_members": [ "user:aliya@example.com" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.'
      properties:
        auditLogConfigs:
          description: The configuration for logging of each type of permission.
          items:
            $ref: "#/components/schemas/AuditLogConfig"
          type: array
        service:
          description: Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.
          type: string
      type: object
    AuditLogConfig:
      description: "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      properties:
        exemptedMembers:
          description: Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.
          items:
            type: string
          type: array
        logType:
          description: The log type that this config enables.
          enum:
            - LOG_TYPE_UNSPECIFIED
            - ADMIN_READ
            - DATA_WRITE
            - DATA_READ
          type: string
      type: object
    Binding:
      description: Associates `members`, or principals, with a `role`.
      properties:
        condition:
          $ref: "#/components/schemas/Expr"
          description: The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).
        members:
          description: "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding."
          items:
            type: string
          type: array
        role:
          description: Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.
          type: string
      type: object
    CancelOperationRequest:
      description: The request message for Operations.CancelOperation.
      properties: {}
      type: object
    Empty:
      description: "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      properties: {}
      type: object
    EndpointMatcher:
      description: A definition of a matcher that selects endpoints to which the policies should be applied.
      properties:
        metadataLabelMatcher:
          $ref: "#/components/schemas/EndpointMatcherMetadataLabelMatcher"
          description: The matcher is based on node metadata presented by xDS clients.
      type: object
    EndpointMatcherMetadataLabelMatcher:
      description: The matcher that is based on node metadata presented by xDS clients.
      properties:
        metadataLabelMatchCriteria:
          description: "Specifies how matching should be done. Supported values are: MATCH_ANY: At least one of the Labels specified in the matcher should match the metadata presented by xDS client. MATCH_ALL: The metadata presented by the xDS client should contain all of the labels specified here. The selection is determined based on the best match. For example, suppose there are three EndpointPolicy resources P1, P2 and P3 and if P1 has a the matcher as MATCH_ANY , P2 has MATCH_ALL , and P3 has MATCH_ALL . If a client with label connects, the config from P1 will be selected. If a client with label connects, the config from P2 will be selected. If a client with label connects, the config from P3 will be selected. If there is more than one best match, (for example, if a config P4 with selector exists and if a client with label connects), an error will be thrown."
          enum:
            - METADATA_LABEL_MATCH_CRITERIA_UNSPECIFIED
            - MATCH_ANY
            - MATCH_ALL
          type: string
        metadataLabels:
          description: The list of label value pairs that must match labels in the provided metadata based on filterMatchCriteria This list can have at most 64 entries. The list can be empty if the match criteria is MATCH_ANY, to specify a wildcard match (i.e this matches any client).
          items:
            $ref: "#/components/schemas/EndpointMatcherMetadataLabelMatcherMetadataLabels"
          type: array
      type: object
    EndpointMatcherMetadataLabelMatcherMetadataLabels:
      description: Defines a name-pair value for a single label.
      properties:
        labelName:
          description: Required. Label name presented as key in xDS Node Metadata.
          type: string
        labelValue:
          description: Required. Label value presented as value corresponding to the above key, in xDS Node Metadata.
          type: string
      type: object
    EndpointPolicy:
      description: EndpointPolicy is a resource that helps apply desired configuration on the endpoints that match specific criteria. For example, this resource can be used to apply "authentication config" an all endpoints that serve on port 8080.
      properties:
        authorizationPolicy:
          description: Optional. This field specifies the URL of AuthorizationPolicy resource that applies authorization policies to the inbound traffic at the matched endpoints. Refer to Authorization. If this field is not specified, authorization is disabled(no authz checks) for this endpoint.
          type: string
        clientTlsPolicy:
          description: Optional. A URL referring to a ClientTlsPolicy resource. ClientTlsPolicy can be set to specify the authentication for traffic from the proxy to the actual endpoints. More specifically, it is applied to the outgoing traffic from the proxy to the endpoint. This is typically used for sidecar model where the proxy identifies itself as endpoint to the control plane, with the connection between sidecar and endpoint requiring authentication. If this field is not set, authentication is disabled(open). Applicable only when EndpointPolicyType is SIDECAR_PROXY.
          type: string
        createTime:
          description: Output only. The timestamp when the resource was created.
          format: google-datetime
          readOnly: true
          type: string
        description:
          description: Optional. A free-text description of the resource. Max length 1024 characters.
          type: string
        endpointMatcher:
          $ref: "#/components/schemas/EndpointMatcher"
          description: Required. A matcher that selects endpoints to which the policies should be applied.
        labels:
          additionalProperties:
            type: string
          description: Optional. Set of label tags associated with the EndpointPolicy resource.
          type: object
        name:
          description: Required. Name of the EndpointPolicy resource. It matches pattern `projects/{project}/locations/global/endpointPolicies/{endpoint_policy}`.
          type: string
        serverTlsPolicy:
          description: Optional. A URL referring to ServerTlsPolicy resource. ServerTlsPolicy is used to determine the authentication policy to be applied to terminate the inbound traffic at the identified backends. If this field is not set, authentication is disabled(open) for this endpoint.
          type: string
        trafficPortSelector:
          $ref: "#/components/schemas/TrafficPortSelector"
          description: Optional. Port selector for the (matched) endpoints. If no port selector is provided, the matched config is applied to all ports.
        type:
          description: Required. The type of endpoint policy. This is primarily used to validate the configuration.
          enum:
            - ENDPOINT_POLICY_TYPE_UNSPECIFIED
            - SIDECAR_PROXY
            - GRPC_SERVER
          type: string
        updateTime:
          description: Output only. The timestamp when the resource was updated.
          format: google-datetime
          readOnly: true
          type: string
      type: object
    Expr:
      description: "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      properties:
        description:
          description: Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.
          type: string
        expression:
          description: Textual representation of an expression in Common Expression Language syntax.
          type: string
        location:
          description: Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.
          type: string
        title:
          description: Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.
          type: string
      type: object
    Gateway:
      description: Gateway represents the configuration for a proxy, typically a load balancer. It captures the ip:port over which the services are exposed by the proxy, along with any policy configurations. Routes have reference to to Gateways to dictate how requests should be routed by this Gateway.
      properties:
        addresses:
          description: Optional. Zero or one IPv4-address on which the Gateway will receive the traffic. When no address is provided, an IP from the subnetwork is allocated This field only applies to gateways of type 'SECURE_WEB_GATEWAY'. Gateways of type 'OPEN_MESH' listen on 0.0.0.0.
          items:
            type: string
          type: array
        certificateUrls:
          description: Optional. A fully-qualified Certificates URL reference. The proxy presents a Certificate (selected based on SNI) when establishing a TLS connection. This feature only applies to gateways of type 'SECURE_WEB_GATEWAY'.
          items:
            type: string
          type: array
        createTime:
          description: Output only. The timestamp when the resource was created.
          format: google-datetime
          readOnly: true
          type: string
        description:
          description: Optional. A free-text description of the resource. Max length 1024 characters.
          type: string
        gatewaySecurityPolicy:
          description: "Optional. A fully-qualified GatewaySecurityPolicy URL reference. Defines how a server should apply security policy to inbound (VM to Proxy) initiated connections. For example: `projects/*/locations/*/gatewaySecurityPolicies/swg-policy`. This policy is specific to gateways of type 'SECURE_WEB_GATEWAY'."
          type: string
        labels:
          additionalProperties:
            type: string
          description: Optional. Set of label tags associated with the Gateway resource.
          type: object
        name:
          description: Required. Name of the Gateway resource. It matches pattern `projects/*/locations/*/gateways/`.
          type: string
        network:
          description: "Optional. The relative resource name identifying the VPC network that is using this configuration. For example: `projects/*/global/networks/network-1`. Currently, this field is specific to gateways of type 'SECURE_WEB_GATEWAY'."
          type: string
        ports:
          description: Required. One or more port numbers (1-65535), on which the Gateway will receive traffic. The proxy binds to the specified ports. Gateways of type 'SECURE_WEB_GATEWAY' are limited to 1 port. Gateways of type 'OPEN_MESH' listen on 0.0.0.0 and support multiple ports.
          items:
            format: int32
            type: integer
          type: array
        scope:
          description: Optional. Scope determines how configuration across multiple Gateway instances are merged. The configuration for multiple Gateway instances with the same scope will be merged as presented as a single coniguration to the proxy/load balancer. Max length 64 characters. Scope should start with a letter and can only have letters, numbers, hyphens.
          type: string
        selfLink:
          description: Output only. Server-defined URL of this resource
          readOnly: true
          type: string
        serverTlsPolicy:
          description: Optional. A fully-qualified ServerTLSPolicy URL reference. Specifies how TLS traffic is terminated. If empty, TLS termination is disabled.
          type: string
        subnetwork:
          description: "Optional. The relative resource name identifying the subnetwork in which this SWG is allocated. For example: `projects/*/regions/us-central1/subnetworks/network-1` Currently, this field is specific to gateways of type 'SECURE_WEB_GATEWAY\"."
          type: string
        type:
          description: Immutable. The type of the customer managed gateway. This field is required. If unspecified, an error is returned.
          enum:
            - TYPE_UNSPECIFIED
            - OPEN_MESH
            - SECURE_WEB_GATEWAY
          type: string
        updateTime:
          description: Output only. The timestamp when the resource was updated.
          format: google-datetime
          readOnly: true
          type: string
      type: object
    GrpcRoute:
      description: GrpcRoute is the resource defining how gRPC traffic routed by a Mesh or Gateway resource is routed.
      properties:
        createTime:
          description: Output only. The timestamp when the resource was created.
          format: google-datetime
          readOnly: true
          type: string
        description:
          description: Optional. A free-text description of the resource. Max length 1024 characters.
          type: string
        gateways:
          description: "Optional. Gateways defines a list of gateways this GrpcRoute is attached to, as one of the routing rules to route the requests served by the gateway. Each gateway reference should match the pattern: `projects/*/locations/global/gateways/`"
          items:
            type: string
          type: array
        hostnames:
          description: "Required. Service hostnames with an optional port for which this route describes traffic. Format: [:] Hostname is the fully qualified domain name of a network host. This matches the RFC 1123 definition of a hostname with 2 notable exceptions: - IPs are not allowed. - A hostname may be prefixed with a wildcard label (*.). The wildcard label must appear by itself as the first label. Hostname can be \"precise\" which is a domain name without the terminating dot of a network host (e.g. \"foo.example.com\") or \"wildcard\", which is a domain name prefixed with a single wildcard label (e.g. *.example.com). Note that as per RFC1035 and RFC1123, a label must consist of lower case alphanumeric characters or '-', and must start and end with an alphanumeric character. No other punctuation is allowed. The routes associated with a Mesh or Gateway must have unique hostnames. If you attempt to attach multiple routes with conflicting hostnames, the configuration will be rejected. For example, while it is acceptable for routes for the hostnames \"*.foo.bar.com\" and \"*.bar.com\" to be associated with the same route, it is not possible to associate two routes both with \"*.bar.com\" or both with \"bar.com\". If a port is specified, then gRPC clients must use the channel URI with the port to match this rule (i.e. \"xds:///service:123\"), otherwise they must supply the URI without a port (i.e. \"xds:///service\")."
          items:
            type: string
          type: array
        labels:
          additionalProperties:
            type: string
          description: Optional. Set of label tags associated with the GrpcRoute resource.
          type: object
        meshes:
          description: "Optional. Meshes defines a list of meshes this GrpcRoute is attached to, as one of the routing rules to route the requests served by the mesh. Each mesh reference should match the pattern: `projects/*/locations/global/meshes/`"
          items:
            type: string
          type: array
        name:
          description: Required. Name of the GrpcRoute resource. It matches pattern `projects/*/locations/global/grpcRoutes/`
          type: string
        rules:
          description: Required. A list of detailed rules defining how to route traffic. Within a single GrpcRoute, the GrpcRoute.RouteAction associated with the first matching GrpcRoute.RouteRule will be executed. At least one rule must be supplied.
          items:
            $ref: "#/components/schemas/GrpcRouteRouteRule"
          type: array
        selfLink:
          description: Output only. Server-defined URL of this resource
          readOnly: true
          type: string
        updateTime:
          description: Output only. The timestamp when the resource was updated.
          format: google-datetime
          readOnly: true
          type: string
      type: object
    GrpcRouteDestination:
      description: The destination to which traffic will be routed.
      properties:
        serviceName:
          description: Required. The URL of a destination service to which to route traffic. Must refer to either a BackendService or ServiceDirectoryService.
          type: string
        weight:
          description: "Optional. Specifies the proportion of requests forwarded to the backend referenced by the serviceName field. This is computed as: weight/Sum(weights in this destination list). For non-zero values, there may be some epsilon from the exact proportion defined here depending on the precision an implementation supports. If only one serviceName is specified and it has a weight greater than 0, 100% of the traffic is forwarded to that backend. If weights are specified for any one service name, they need to be specified for all of them. If weights are unspecified for all services, then, traffic is distributed in equal proportions to all of them."
          format: int32
          type: integer
      type: object
    GrpcRouteFaultInjectionPolicy:
      description: The specification for fault injection introduced into traffic to test the resiliency of clients to destination service failure. As part of fault injection, when clients send requests to a destination, delays can be introduced on a percentage of requests before sending those requests to the destination service. Similarly requests from clients can be aborted by for a percentage of requests.
      properties:
        abort:
          $ref: "#/components/schemas/GrpcRouteFaultInjectionPolicyAbort"
          description: The specification for aborting to client requests.
        delay:
          $ref: "#/components/schemas/GrpcRouteFaultInjectionPolicyDelay"
          description: The specification for injecting delay to client requests.
      type: object
    GrpcRouteFaultInjectionPolicyAbort:
      description: Specification of how client requests are aborted as part of fault injection before being sent to a destination.
      properties:
        httpStatus:
          description: The HTTP status code used to abort the request. The value must be between 200 and 599 inclusive.
          format: int32
          type: integer
        percentage:
          description: The percentage of traffic which will be aborted. The value must be between [0, 100]
          format: int32
          type: integer
      type: object
    GrpcRouteFaultInjectionPolicyDelay:
      description: Specification of how client requests are delayed as part of fault injection before being sent to a destination.
      properties:
        fixedDelay:
          description: Specify a fixed delay before forwarding the request.
          format: google-duration
          type: string
        percentage:
          description: The percentage of traffic on which delay will be injected. The value must be between [0, 100]
          format: int32
          type: integer
      type: object
    GrpcRouteHeaderMatch:
      description: A match against a collection of headers.
      properties:
        key:
          description: Required. The key of the header.
          type: string
        type:
          description: Optional. Specifies how to match against the value of the header. If not specified, a default value of EXACT is used.
          enum:
            - TYPE_UNSPECIFIED
            - EXACT
            - REGULAR_EXPRESSION
          type: string
        value:
          description: Required. The value of the header.
          type: string
      type: object
    GrpcRouteMethodMatch:
      description: Specifies a match against a method.
      properties:
        caseSensitive:
          description: Optional. Specifies that matches are case sensitive. The default value is true. case_sensitive must not be used with a type of REGULAR_EXPRESSION.
          type: boolean
        grpcMethod:
          description: Required. Name of the method to match against. If unspecified, will match all methods.
          type: string
        grpcService:
          description: Required. Name of the service to match against. If unspecified, will match all services.
          type: string
        type:
          description: Optional. Specifies how to match against the name. If not specified, a default value of "EXACT" is used.
          enum:
            - TYPE_UNSPECIFIED
            - EXACT
            - REGULAR_EXPRESSION
          type: string
      type: object
    GrpcRouteRetryPolicy:
      description: The specifications for retries.
      properties:
        numRetries:
          description: Specifies the allowed number of retries. This number must be > 0. If not specified, default to 1.
          format: uint32
          type: integer
        retryConditions:
          description: "- connect-failure: Router will retry on failures connecting to Backend Services, for example due to connection timeouts. - refused-stream: Router will retry if the backend service resets the stream with a REFUSED_STREAM error code. This reset type indicates that it is safe to retry. - cancelled: Router will retry if the gRPC status code in the response header is set to cancelled - deadline-exceeded: Router will retry if the gRPC status code in the response header is set to deadline-exceeded - resource-exhausted: Router will retry if the gRPC status code in the response header is set to resource-exhausted - unavailable: Router will retry if the gRPC status code in the response header is set to unavailable"
          items:
            type: string
          type: array
      type: object
    GrpcRouteRouteAction:
      description: Specifies how to route matched traffic.
      properties:
        destinations:
          description: Optional. The destination services to which traffic should be forwarded. If multiple destinations are specified, traffic will be split between Backend Service(s) according to the weight field of these destinations.
          items:
            $ref: "#/components/schemas/GrpcRouteDestination"
          type: array
        faultInjectionPolicy:
          $ref: "#/components/schemas/GrpcRouteFaultInjectionPolicy"
          description: Optional. The specification for fault injection introduced into traffic to test the resiliency of clients to destination service failure. As part of fault injection, when clients send requests to a destination, delays can be introduced on a percentage of requests before sending those requests to the destination service. Similarly requests from clients can be aborted by for a percentage of requests. timeout and retry_policy will be ignored by clients that are configured with a fault_injection_policy
        retryPolicy:
          $ref: "#/components/schemas/GrpcRouteRetryPolicy"
          description: Optional. Specifies the retry policy associated with this route.
        timeout:
          description: Optional. Specifies the timeout for selected route. Timeout is computed from the time the request has been fully processed (i.e. end of stream) up until the response has been completely processed. Timeout includes all retries.
          format: google-duration
          type: string
      type: object
    GrpcRouteRouteMatch:
      description: Criteria for matching traffic. A RouteMatch will be considered to match when all supplied fields match.
      properties:
        headers:
          description: Optional. Specifies a collection of headers to match.
          items:
            $ref: "#/components/schemas/GrpcRouteHeaderMatch"
          type: array
        method:
          $ref: "#/components/schemas/GrpcRouteMethodMatch"
          description: Optional. A gRPC method to match against. If this field is empty or omitted, will match all methods.
      type: object
    GrpcRouteRouteRule:
      description: Describes how to route traffic.
      properties:
        action:
          $ref: "#/components/schemas/GrpcRouteRouteAction"
          description: Required. A detailed rule defining how to route traffic. This field is required.
        matches:
          description: Optional. Matches define conditions used for matching the rule against incoming gRPC requests. Each match is independent, i.e. this rule will be matched if ANY one of the matches is satisfied. If no matches field is specified, this rule will unconditionally match traffic.
          items:
            $ref: "#/components/schemas/GrpcRouteRouteMatch"
          type: array
      type: object
    HttpRoute:
      description: HttpRoute is the resource defining how HTTP traffic should be routed by a Mesh or Gateway resource.
      properties:
        createTime:
          description: Output only. The timestamp when the resource was created.
          format: google-datetime
          readOnly: true
          type: string
        description:
          description: Optional. A free-text description of the resource. Max length 1024 characters.
          type: string
        gateways:
          description: "Optional. Gateways defines a list of gateways this HttpRoute is attached to, as one of the routing rules to route the requests served by the gateway. Each gateway reference should match the pattern: `projects/*/locations/global/gateways/`"
          items:
            type: string
          type: array
        hostnames:
          description: "Required. Hostnames define a set of hosts that should match against the HTTP host header to select a HttpRoute to process the request. Hostname is the fully qualified domain name of a network host, as defined by RFC 1123 with the exception that: - IPs are not allowed. - A hostname may be prefixed with a wildcard label (*.). The wildcard label must appear by itself as the first label. Hostname can be \"precise\" which is a domain name without the terminating dot of a network host (e.g. \"foo.example.com\") or \"wildcard\", which is a domain name prefixed with a single wildcard label (e.g. *.example.com). Note that as per RFC1035 and RFC1123, a label must consist of lower case alphanumeric characters or '-', and must start and end with an alphanumeric character. No other punctuation is allowed. The routes associated with a Mesh or Gateways must have unique hostnames. If you attempt to attach multiple routes with conflicting hostnames, the configuration will be rejected. For example, while it is acceptable for routes for the hostnames \"*.foo.bar.com\" and \"*.bar.com\" to be associated with the same Mesh (or Gateways under the same scope), it is not possible to associate two routes both with \"*.bar.com\" or both with \"bar.com\"."
          items:
            type: string
          type: array
        labels:
          additionalProperties:
            type: string
          description: Optional. Set of label tags associated with the HttpRoute resource.
          type: object
        meshes:
          description: "Optional. Meshes defines a list of meshes this HttpRoute is attached to, as one of the routing rules to route the requests served by the mesh. Each mesh reference should match the pattern: `projects/*/locations/global/meshes/` The attached Mesh should be of a type SIDECAR"
          items:
            type: string
          type: array
        name:
          description: Required. Name of the HttpRoute resource. It matches pattern `projects/*/locations/global/httpRoutes/http_route_name>`.
          type: string
        rules:
          description: Required. Rules that define how traffic is routed and handled. Rules will be matched sequentially based on the RouteMatch specified for the rule.
          items:
            $ref: "#/components/schemas/HttpRouteRouteRule"
          type: array
        selfLink:
          description: Output only. Server-defined URL of this resource
          readOnly: true
          type: string
        updateTime:
          description: Output only. The timestamp when the resource was updated.
          format: google-datetime
          readOnly: true
          type: string
      type: object
    HttpRouteCorsPolicy:
      description: The Specification for allowing client side cross-origin requests.
      properties:
        allowCredentials:
          description: In response to a preflight request, setting this to true indicates that the actual request can include user credentials. This translates to the Access-Control-Allow-Credentials header. Default value is false.
          type: boolean
        allowHeaders:
          description: Specifies the content for Access-Control-Allow-Headers header.
          items:
            type: string
          type: array
        allowMethods:
          description: Specifies the content for Access-Control-Allow-Methods header.
          items:
            type: string
          type: array
        allowOriginRegexes:
          description: Specifies the regular expression patterns that match allowed origins. For regular expression grammar, please see https://github.com/google/re2/wiki/Syntax.
          items:
            type: string
          type: array
        allowOrigins:
          description: Specifies the list of origins that will be allowed to do CORS requests. An origin is allowed if it matches either an item in allow_origins or an item in allow_origin_regexes.
          items:
            type: string
          type: array
        disabled:
          description: If true, the CORS policy is disabled. The default value is false, which indicates that the CORS policy is in effect.
          type: boolean
        exposeHeaders:
          description: Specifies the content for Access-Control-Expose-Headers header.
          items:
            type: string
          type: array
        maxAge:
          description: Specifies how long result of a preflight request can be cached in seconds. This translates to the Access-Control-Max-Age header.
          type: string
      type: object
    HttpRouteDestination:
      description: Specifications of a destination to which the request should be routed to.
      properties:
        serviceName:
          description: The URL of a BackendService to route traffic to.
          type: string
        weight:
          description: "Specifies the proportion of requests forwarded to the backend referenced by the serviceName field. This is computed as: weight/Sum(weights in this destination list). For non-zero values, there may be some epsilon from the exact proportion defined here depending on the precision an implementation supports. If only one serviceName is specified and it has a weight greater than 0, 100% of the traffic is forwarded to that backend. If weights are specified for any one service name, they need to be specified for all of them. If weights are unspecified for all services, then, traffic is distributed in equal proportions to all of them."
          format: int32
          type: integer
      type: object
    HttpRouteFaultInjectionPolicy:
      description: The specification for fault injection introduced into traffic to test the resiliency of clients to destination service failure. As part of fault injection, when clients send requests to a destination, delays can be introduced by client proxy on a percentage of requests before sending those requests to the destination service. Similarly requests can be aborted by client proxy for a percentage of requests.
      properties:
        abort:
          $ref: "#/components/schemas/HttpRouteFaultInjectionPolicyAbort"
          description: The specification for aborting to client requests.
        delay:
          $ref: "#/components/schemas/HttpRouteFaultInjectionPolicyDelay"
          description: The specification for injecting delay to client requests.
      type: object
    HttpRouteFaultInjectionPolicyAbort:
      description: Specification of how client requests are aborted as part of fault injection before being sent to a destination.
      properties:
        httpStatus:
          description: The HTTP status code used to abort the request. The value must be between 200 and 599 inclusive.
          format: int32
          type: integer
        percentage:
          description: The percentage of traffic which will be aborted. The value must be between [0, 100]
          format: int32
          type: integer
      type: object
    HttpRouteFaultInjectionPolicyDelay:
      description: Specification of how client requests are delayed as part of fault injection before being sent to a destination.
      properties:
        fixedDelay:
          description: Specify a fixed delay before forwarding the request.
          format: google-duration
          type: string
        percentage:
          description: The percentage of traffic on which delay will be injected. The value must be between [0, 100]
          format: int32
          type: integer
      type: object
    HttpRouteHeaderMatch:
      description: Specifies how to select a route rule based on HTTP request headers.
      properties:
        exactMatch:
          description: The value of the header should match exactly the content of exact_match.
          type: string
        header:
          description: The name of the HTTP header to match against.
          type: string
        invertMatch:
          description: If specified, the match result will be inverted before checking. Default value is set to false.
          type: boolean
        prefixMatch:
          description: The value of the header must start with the contents of prefix_match.
          type: string
        presentMatch:
          description: A header with header_name must exist. The match takes place whether or not the header has a value.
          type: boolean
        rangeMatch:
          $ref: "#/components/schemas/HttpRouteHeaderMatchIntegerRange"
          description: If specified, the rule will match if the request header value is within the range.
        regexMatch:
          description: "The value of the header must match the regular expression specified in regex_match. For regular expression grammar, please see: https://github.com/google/re2/wiki/Syntax"
          type: string
        suffixMatch:
          description: The value of the header must end with the contents of suffix_match.
          type: string
      type: object
    HttpRouteHeaderMatchIntegerRange:
      description: Represents an integer value range.
      properties:
        end:
          description: End of the range (exclusive)
          format: int32
          type: integer
        start:
          description: Start of the range (inclusive)
          format: int32
          type: integer
      type: object
    HttpRouteHeaderModifier:
      description: The specification for modifying HTTP header in HTTP request and HTTP response.
      properties:
        add:
          additionalProperties:
            type: string
          description: Add the headers with given map where key is the name of the header, value is the value of the header.
          type: object
        remove:
          description: Remove headers (matching by header names) specified in the list.
          items:
            type: string
          type: array
        set:
          additionalProperties:
            type: string
          description: Completely overwrite/replace the headers with given map where key is the name of the header, value is the value of the header.
          type: object
      type: object
    HttpRouteQueryParameterMatch:
      description: Specifications to match a query parameter in the request.
      properties:
        exactMatch:
          description: The value of the query parameter must exactly match the contents of exact_match. Only one of exact_match, regex_match, or present_match must be set.
          type: string
        presentMatch:
          description: Specifies that the QueryParameterMatcher matches if request contains query parameter, irrespective of whether the parameter has a value or not. Only one of exact_match, regex_match, or present_match must be set.
          type: boolean
        queryParameter:
          description: The name of the query parameter to match.
          type: string
        regexMatch:
          description: The value of the query parameter must match the regular expression specified by regex_match. For regular expression grammar, please see https://github.com/google/re2/wiki/Syntax Only one of exact_match, regex_match, or present_match must be set.
          type: string
      type: object
    HttpRouteRedirect:
      description: The specification for redirecting traffic.
      properties:
        hostRedirect:
          description: The host that will be used in the redirect response instead of the one that was supplied in the request.
          type: string
        httpsRedirect:
          description: If set to true, the URL scheme in the redirected request is set to https. If set to false, the URL scheme of the redirected request will remain the same as that of the request. The default is set to false.
          type: boolean
        pathRedirect:
          description: The path that will be used in the redirect response instead of the one that was supplied in the request. path_redirect can not be supplied together with prefix_redirect. Supply one alone or neither. If neither is supplied, the path of the original request will be used for the redirect.
          type: string
        portRedirect:
          description: The port that will be used in the redirected request instead of the one that was supplied in the request.
          format: int32
          type: integer
        prefixRewrite:
          description: Indicates that during redirection, the matched prefix (or path) should be swapped with this value. This option allows URLs be dynamically created based on the request.
          type: string
        responseCode:
          description: The HTTP Status code to use for the redirect.
          enum:
            - RESPONSE_CODE_UNSPECIFIED
            - MOVED_PERMANENTLY_DEFAULT
            - FOUND
            - SEE_OTHER
            - TEMPORARY_REDIRECT
            - PERMANENT_REDIRECT
          type: string
        stripQuery:
          description: if set to true, any accompanying query portion of the original URL is removed prior to redirecting the request. If set to false, the query portion of the original URL is retained. The default is set to false.
          type: boolean
      type: object
    HttpRouteRequestMirrorPolicy:
      description: Specifies the policy on how requests are shadowed to a separate mirrored destination service. The proxy does not wait for responses from the shadow service. Prior to sending traffic to the shadow service, the host/authority header is suffixed with -shadow.
      properties:
        destination:
          $ref: "#/components/schemas/HttpRouteDestination"
          description: The destination the requests will be mirrored to. The weight of the destination will be ignored.
      type: object
    HttpRouteRetryPolicy:
      description: The specifications for retries.
      properties:
        numRetries:
          description: Specifies the allowed number of retries. This number must be > 0. If not specified, default to 1.
          format: int32
          type: integer
        perTryTimeout:
          description: Specifies a non-zero timeout per retry attempt.
          format: google-duration
          type: string
        retryConditions:
          description: "Specifies one or more conditions when this retry policy applies. Valid values are: 5xx: Proxy will attempt a retry if the destination service responds with any 5xx response code, of if the destination service does not respond at all, example: disconnect, reset, read timeout, connection failure and refused streams. gateway-error: Similar to 5xx, but only applies to response codes 502, 503, 504. reset: Proxy will attempt a retry if the destination service does not respond at all (disconnect/reset/read timeout) connect-failure: Proxy will retry on failures connecting to destination for example due to connection timeouts. retriable-4xx: Proxy will retry fro retriable 4xx response codes. Currently the only retriable error supported is 409. refused-stream: Proxy will retry if the destination resets the stream with a REFUSED_STREAM error code. This reset type indicates that it is safe to retry."
          items:
            type: string
          type: array
      type: object
    HttpRouteRouteAction:
      description: The specifications for routing traffic and applying associated policies.
      properties:
        corsPolicy:
          $ref: "#/components/schemas/HttpRouteCorsPolicy"
          description: The specification for allowing client side cross-origin requests.
        destinations:
          description: The destination to which traffic should be forwarded.
          items:
            $ref: "#/components/schemas/HttpRouteDestination"
          type: array
        faultInjectionPolicy:
          $ref: "#/components/schemas/HttpRouteFaultInjectionPolicy"
          description: The specification for fault injection introduced into traffic to test the resiliency of clients to backend service failure. As part of fault injection, when clients send requests to a backend service, delays can be introduced on a percentage of requests before sending those requests to the backend service. Similarly requests from clients can be aborted for a percentage of requests. timeout and retry_policy will be ignored by clients that are configured with a fault_injection_policy
        redirect:
          $ref: "#/components/schemas/HttpRouteRedirect"
          description: If set, the request is directed as configured by this field.
        requestHeaderModifier:
          $ref: "#/components/schemas/HttpRouteHeaderModifier"
          description: The specification for modifying the headers of a matching request prior to delivery of the request to the destination.
        requestMirrorPolicy:
          $ref: "#/components/schemas/HttpRouteRequestMirrorPolicy"
          description: Specifies the policy on how requests intended for the routes destination are shadowed to a separate mirrored destination. Proxy will not wait for the shadow destination to respond before returning the response. Prior to sending traffic to the shadow service, the host/authority header is suffixed with -shadow.
        responseHeaderModifier:
          $ref: "#/components/schemas/HttpRouteHeaderModifier"
          description: The specification for modifying the headers of a response prior to sending the response back to the client.
        retryPolicy:
          $ref: "#/components/schemas/HttpRouteRetryPolicy"
          description: Specifies the retry policy associated with this route.
        timeout:
          description: Specifies the timeout for selected route. Timeout is computed from the time the request has been fully processed (i.e. end of stream) up until the response has been completely processed. Timeout includes all retries.
          format: google-duration
          type: string
        urlRewrite:
          $ref: "#/components/schemas/HttpRouteURLRewrite"
          description: The specification for rewrite URL before forwarding requests to the destination.
      type: object
    HttpRouteRouteMatch:
      description: RouteMatch defines specifications used to match requests. If multiple match types are set, this RouteMatch will match if ALL type of matches are matched.
      properties:
        fullPathMatch:
          description: The HTTP request path value should exactly match this value. Only one of full_path_match, prefix_match, or regex_match should be used.
          type: string
        headers:
          description: Specifies a list of HTTP request headers to match against. ALL of the supplied headers must be matched.
          items:
            $ref: "#/components/schemas/HttpRouteHeaderMatch"
          type: array
        ignoreCase:
          description: Specifies if prefix_match and full_path_match matches are case sensitive. The default value is false.
          type: boolean
        prefixMatch:
          description: The HTTP request path value must begin with specified prefix_match. prefix_match must begin with a /. Only one of full_path_match, prefix_match, or regex_match should be used.
          type: string
        queryParameters:
          description: Specifies a list of query parameters to match against. ALL of the query parameters must be matched.
          items:
            $ref: "#/components/schemas/HttpRouteQueryParameterMatch"
          type: array
        regexMatch:
          description: The HTTP request path value must satisfy the regular expression specified by regex_match after removing any query parameters and anchor supplied with the original URL. For regular expression grammar, please see https://github.com/google/re2/wiki/Syntax Only one of full_path_match, prefix_match, or regex_match should be used.
          type: string
      type: object
    HttpRouteRouteRule:
      description: Specifies how to match traffic and how to route traffic when traffic is matched.
      properties:
        action:
          $ref: "#/components/schemas/HttpRouteRouteAction"
          description: The detailed rule defining how to route matched traffic.
        matches:
          description: A list of matches define conditions used for matching the rule against incoming HTTP requests. Each match is independent, i.e. this rule will be matched if ANY one of the matches is satisfied. If no matches field is specified, this rule will unconditionally match traffic. If a default rule is desired to be configured, add a rule with no matches specified to the end of the rules list.
          items:
            $ref: "#/components/schemas/HttpRouteRouteMatch"
          type: array
      type: object
    HttpRouteURLRewrite:
      description: The specification for modifying the URL of the request, prior to forwarding the request to the destination.
      properties:
        hostRewrite:
          description: Prior to forwarding the request to the selected destination, the requests host header is replaced by this value.
          type: string
        pathPrefixRewrite:
          description: Prior to forwarding the request to the selected destination, the matching portion of the requests path is replaced by this value.
          type: string
      type: object
    ListEndpointPoliciesResponse:
      description: Response returned by the ListEndpointPolicies method.
      properties:
        endpointPolicies:
          description: List of EndpointPolicy resources.
          items:
            $ref: "#/components/schemas/EndpointPolicy"
          type: array
        nextPageToken:
          description: If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.
          type: string
      type: object
    ListGatewaysResponse:
      description: Response returned by the ListGateways method.
      properties:
        gateways:
          description: List of Gateway resources.
          items:
            $ref: "#/components/schemas/Gateway"
          type: array
        nextPageToken:
          description: If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.
          type: string
      type: object
    ListGrpcRoutesResponse:
      description: Response returned by the ListGrpcRoutes method.
      properties:
        grpcRoutes:
          description: List of GrpcRoute resources.
          items:
            $ref: "#/components/schemas/GrpcRoute"
          type: array
        nextPageToken:
          description: If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.
          type: string
      type: object
    ListHttpRoutesResponse:
      description: Response returned by the ListHttpRoutes method.
      properties:
        httpRoutes:
          description: List of HttpRoute resources.
          items:
            $ref: "#/components/schemas/HttpRoute"
          type: array
        nextPageToken:
          description: If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.
          type: string
      type: object
    ListLocationsResponse:
      description: The response message for Locations.ListLocations.
      properties:
        locations:
          description: A list of locations that matches the specified filter in the request.
          items:
            $ref: "#/components/schemas/Location"
          type: array
        nextPageToken:
          description: The standard List next-page token.
          type: string
      type: object
    ListMeshesResponse:
      description: Response returned by the ListMeshes method.
      properties:
        meshes:
          description: List of Mesh resources.
          items:
            $ref: "#/components/schemas/Mesh"
          type: array
        nextPageToken:
          description: If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.
          type: string
      type: object
    ListOperationsResponse:
      description: The response message for Operations.ListOperations.
      properties:
        nextPageToken:
          description: The standard List next-page token.
          type: string
        operations:
          description: A list of operations that matches the specified filter in the request.
          items:
            $ref: "#/components/schemas/Operation"
          type: array
      type: object
    ListServiceBindingsResponse:
      description: Response returned by the ListServiceBindings method.
      properties:
        nextPageToken:
          description: If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.
          type: string
        serviceBindings:
          description: List of ServiceBinding resources.
          items:
            $ref: "#/components/schemas/ServiceBinding"
          type: array
      type: object
    ListTcpRoutesResponse:
      description: Response returned by the ListTcpRoutes method.
      properties:
        nextPageToken:
[...]
