swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  description: Use these REST APIs for performing operations on API entity and their Operations associated with your Azure API Management deployment.
  title: ApiManagementClient
  version: '2017-03-01'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/current/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2017-03-01/apimapis.json'
      version: '2.0'
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: apimanagement-apimapis
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiIdParameter:
    description: API identifier. Must be unique in the current API Management service instance.
    in: path
    maxLength: 256
    minLength: 1
    name: apiId
    pattern: '^[^*#&+:<>?]+$'
    required: true
    type: string
    x-ms-parameter-location: method
  OperationIdParameter:
    description: Operation identifier within an API. Must be unique in the current API Management service instance.
    in: path
    maxLength: 256
    minLength: 1
    name: operationId
    pattern: '^[^*#&+:<>?]+$'
    required: true
    type: string
    x-ms-parameter-location: method
  SchemaIdParameter:
    description: Schema identifier within an API. Must be unique in the current API Management service instance.
    in: path
    maxLength: 256
    minLength: 1
    name: schemaId
    pattern: '^[^*#&+:<>?]+$'
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis':
    get:
      description: Lists all APIs of the API Management service instance.
      externalDocs:
        url: 'https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-create-apis'
      operationId: Api_ListByService
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - description: |-
            | Field       | Supported operators    | Supported functions               |
            |-------------|------------------------|-----------------------------------|
            | id          | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
            | name        | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
            | description | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
            | serviceUrl  | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
            | path        | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
          in: query
          name: $filter
          required: false
          type: string
        - description: Number of records to return.
          format: int32
          in: query
          minimum: 1
          name: $top
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Number of records to skip.
          format: int32
          in: query
          minimum: 0
          name: $skip
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: Paged Result reponse of Apis.
          schema:
            $ref: '#/definitions/ApiCollection'
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: 'The list of invalid fields send in request, in case of validation error.'
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - Apis
      x-ms-examples:
        ApiManagementListApis:
          parameters:
            api-version: '2017-03-01'
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            '200':
              body:
                nextLink: ''
                value:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/echo-api
                    name: echo-api
                    properties:
                      apiRevision: '1'
                      displayName: Echo API
                      isCurrent: true
                      isOnline: true
                      path: echo
                      protocols:
                        - https
                      serviceUrl: 'http://echoapi.cloudapp.net/api'
                    type: Microsoft.ApiManagement/service/apis
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/PetStoreTemplate2
                    name: PetStoreTemplate2
                    properties:
                      apiRevision: '1'
                      description: 'This is a sample server Petstore server.  You can find out more about Swagger at [http://swagger.io](http://swagger.io) or on [irc.freenode.net, #swagger](http://swagger.io/irc/).  For this sample, you can use the api key `special-key` to test the authorization filters.'
                      displayName: Swagger Petstore
                      isCurrent: true
                      isOnline: true
                      path: petstore2
                      protocols:
                        - http
                      serviceUrl: 'http://petstore.swagger.io/v2'
                    type: Microsoft.ApiManagement/service/apis
      x-ms-odata: '#/definitions/ApiContract'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}':
    delete:
      description: Deletes the specified API of the API Management service instance.
      operationId: Api_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/ApiIdParameter'
        - description: ETag of the API Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.
          in: header
          name: If-Match
          required: true
          type: string
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '204':
          description: The API was successfully deleted.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: 'The list of invalid fields send in request, in case of validation error.'
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - Apis
      x-ms-examples:
        ApiManagementDeleteApi.json:
          parameters:
            If-Match: '*'
            api-version: '2017-03-01'
            apiId: echo-api
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            '204': {}
    get:
      description: Gets the details of the API specified by its identifier.
      operationId: Api_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/ApiIdParameter'
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: The response body contains the specified API entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              type: string
          schema:
            $ref: '#/definitions/ApiContract'
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: 'The list of invalid fields send in request, in case of validation error.'
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - Apis
      x-ms-examples:
        ApiManagementGetApiContract:
          parameters:
            api-version: '2017-03-01'
            apiId: 57d1f7558aa04f15146d9d8a
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/57d1f7558aa04f15146d9d8a
                name: 57d1f7558aa04f15146d9d8a
                properties:
                  apiRevision: '1'
                  displayName: Service
                  isCurrent: true
                  isOnline: true
                  path: schulte
                  protocols:
                    - https
                  serviceUrl: 'https://api.plexonline.com/DataSource/Service.asmx'
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                  type: soap
                type: Microsoft.ApiManagement/service/apis
    patch:
      description: Updates the specified API of the API Management service instance.
      operationId: Api_Update
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/ApiIdParameter'
        - description: API Update Contract parameters.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/ApiUpdateContract'
        - description: ETag of the API entity. ETag should match the current entity state in the header response of the GET request or it should be * for unconditional update.
          in: header
          name: If-Match
          required: true
          type: string
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '204':
          description: The API was successfully updated.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: 'The list of invalid fields send in request, in case of validation error.'
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - Apis
      x-ms-examples:
        ApiManagementUpdateApi.json:
          parameters:
            If-Match: '*'
            api-version: '2017-03-01'
            apiId: echo-api
            parameters:
              properties:
                displayName: Echo API New
                path: newecho
                serviceUrl: 'http://echoapi.cloudapp.net/api2'
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            '204': {}
    put:
      description: Creates new or updates existing specified API of the API Management service instance.
      operationId: Api_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/ApiIdParameter'
        - description: Create or update parameters.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/ApiCreateOrUpdateParameter'
        - description: ETag of the Api Entity. For Create Api Etag should not be specified. For Update Etag should match the existing Entity or it can be * for unconditional update.
          in: header
          name: If-Match
          required: false
          type: string
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: API was successfully updated.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              type: string
          schema:
            $ref: '#/definitions/ApiContract'
        '201':
          description: API was successfully created.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              type: string
          schema:
            $ref: '#/definitions/ApiContract'
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: 'The list of invalid fields send in request, in case of validation error.'
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - Apis
      x-ms-examples:
        ApiManagementCreateApi:
          parameters:
            api-version: '2017-03-01'
            apiId: tempgroup
            parameters:
              properties:
                authenticationSettings:
                  oAuth2:
                    authorizationServerId: authorizationServerId2283
                    scope: oauth2scope2580
                description: apidescription5200
                displayName: apiname1463
                path: newapiPath
                protocols:
                  - https
                  - http
                serviceUrl: 'http://newechoapi.cloudapp.net/api'
                subscriptionKeyParameterNames:
                  header: header4520
                  query: query3037
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/apiid9419
                name: apiid9419
                properties:
                  apiRevision: '1'
                  authenticationSettings:
                    oAuth2:
                      authorizationServerId: authorizationServerId2283
                      scope: oauth2scope2580
                  description: apidescription5200
                  displayName: apiname1463
                  isCurrent: true
                  isOnline: true
                  path: newapiPath
                  protocols:
                    - http
                    - https
                  serviceUrl: 'http://newechoapi.cloudapp.net/api'
                  subscriptionKeyParameterNames:
                    header: header4520
                    query: query3037
                type: Microsoft.ApiManagement/service/apis
            '201':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/apiid9419
                name: apiid9419
                properties:
                  apiRevision: '1'
                  authenticationSettings:
                    oAuth2:
                      authorizationServerId: authorizationServerId2283
                      scope: oauth2scope2580
                  description: apidescription5200
                  displayName: apiname1463
                  isCurrent: true
                  isOnline: true
                  path: newapiPath
                  protocols:
                    - http
                    - https
                  serviceUrl: 'http://newechoapi.cloudapp.net/api'
                  subscriptionKeyParameterNames:
                    header: header4520
                    query: query3037
                type: Microsoft.ApiManagement/service/apis
        ApiManagementCreateApiUsingSwaggerImport:
          parameters:
            api-version: '2017-03-01'
            apiId: petstore
            parameters:
              properties:
                contentFormat: swagger-link-json
                contentValue: 'http://petstore.swagger.io/v2/swagger.json'
                path: petstore
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/petstoreapi
                name: petstoreapi
                properties:
                  apiRevision: '1'
                  description: 'This is a sample server Petstore server.  You can find out more about Swagger at [http://swagger.io](http://swagger.io) or on [irc.freenode.net, #swagger](http://swagger.io/irc/).  For this sample, you can use the api key `special-key` to test the authorization filters.'
                  displayName: Swagger Petstore
                  isCurrent: true
                  path: petstore
                  protocols:
                    - http
                  serviceUrl: 'http://petstore.swagger.io/v2'
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                type: Microsoft.ApiManagement/service/apis
            '201':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/petstoreapi
                name: petstoreapi
                properties:
                  apiRevision: '1'
                  description: 'This is a sample server Petstore server.  You can find out more about Swagger at [http://swagger.io](http://swagger.io) or on [irc.freenode.net, #swagger](http://swagger.io/irc/).  For this sample, you can use the api key `special-key` to test the authorization filters.'
                  displayName: Swagger Petstore
                  isCurrent: true
                  path: petstore
                  protocols:
                    - http
                  serviceUrl: 'http://petstore.swagger.io/v2'
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                type: Microsoft.ApiManagement/service/apis
        ApiManagementCreateApiUsingWadlImport:
          parameters:
            api-version: '2017-03-01'
            apiId: petstore
            parameters:
              properties:
                contentFormat: wadl-link-json
                contentValue: 'https://developer.cisco.com/media/wae-release-6-2-api-reference/wae-collector-rest-api/application.wadl'
                path: collector
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/collectorwadl
                name: collectorwadl
                properties:
                  apiRevision: '1'
                  description: ''
                  displayName: 'http://localhost:8080/collector-northbound'
                  isCurrent: true
                  path: collector
                  protocols:
                    - https
                  serviceUrl: 'http://localhost:8080/collector-northbound'
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                type: Microsoft.ApiManagement/service/apis
            '201':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/collectorwadl
                name: collectorwadl
                properties:
                  apiRevision: '1'
                  description: ''
                  displayName: 'http://localhost:8080/collector-northbound'
                  isCurrent: true
                  path: collector
                  protocols:
                    - https
                  serviceUrl: 'http://localhost:8080/collector-northbound'
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                type: Microsoft.ApiManagement/service/apis
        ApiManagementCreateApiUsingWsdlImport:
          parameters:
            api-version: '2017-03-01'
            apiId: soapApi
            parameters:
              properties:
                contentFormat: wsdl-link
                contentValue: 'http://www.webservicex.net/CurrencyConvertor.asmx?WSDL'
                path: currency
                wsdlSelector:
                  wsdlEndpointName: CurrencyConvertorSoap
                  wsdlServiceName: CurrencyConvertor
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/soapApi
                name: soapApi
                properties:
                  apiRevision: '1'
                  displayName: CurrencyConvertor
                  isCurrent: true
                  path: currency
                  protocols:
                    - https
                  serviceUrl: 'http://www.webservicex.net'
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                type: Microsoft.ApiManagement/service/apis
            '201':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/soapApi
                name: soapApi
                properties:
                  apiRevision: '1'
                  displayName: CurrencyConvertor
                  isCurrent: true
                  path: currency
                  protocols:
                    - https
                  serviceUrl: 'http://www.webservicex.net'
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                type: Microsoft.ApiManagement/service/apis
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/operations':
    get:
      description: Lists a collection of the operations for the specified API.
      operationId: ApiOperation_ListByApi
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/ApiIdParameter'
        - description: |-
            | Field       | Supported operators    | Supported functions               |
            |-------------|------------------------|-----------------------------------|
            | name        | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
            | method      | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
            | description | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
            | urlTemplate | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
          in: query
          name: $filter
          required: false
          type: string
        - description: Number of records to return.
          format: int32
          in: query
          minimum: 1
          name: $top
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Number of records to skip.
          format: int32
          in: query
          minimum: 0
          name: $skip
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: A collection of operation summary entities at the API level.
          schema:
            $ref: '#/definitions/OperationCollection'
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: 'The list of invalid fields send in request, in case of validation error.'
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - Operations
      x-ms-examples:
        ApiManagementListApiOperations:
          parameters:
            api-version: '2017-03-01'
            apiId: 57d2ef278aa04f0888cba3f3
            operationId: 57d2ef278aa04f0ad01d6cdc
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            '200':
              body:
                nextLink: ''
                value:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/57d2ef278aa04f0888cba3f3/operations/57d2ef278aa04f0ad01d6cdc
                    name: 57d2ef278aa04f0ad01d6cdc
                    properties:
                      displayName: CancelOrder
                      method: POST
                      urlTemplate: '/?soapAction=http://tempuri.org/IFazioService/CancelOrder'
                    type: Microsoft.ApiManagement/service/apis/operations
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/57d2ef278aa04f0888cba3f3/operations/57d2ef278aa04f0ad01d6cda
                    name: 57d2ef278aa04f0ad01d6cda
                    properties:
                      displayName: GetMostRecentOrder
                      method: POST
                      urlTemplate: '/?soapAction=http://tempuri.org/IFazioService/GetMostRecentOrder'
                    type: Microsoft.ApiManagement/service/apis/operations
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/57d2ef278aa04f0888cba3f3/operations/57d2ef278aa04f0ad01d6cd9
                    name: 57d2ef278aa04f0ad01d6cd9
                    properties:
                      displayName: GetOpenOrders
                      method: POST
                      urlTemplate: '/?soapAction=http://tempuri.org/IFazioService/GetOpenOrders'
                    type: Microsoft.ApiManagement/service/apis/operations
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/57d2ef278aa04f0888cba3f3/operations/57d2ef278aa04f0ad01d6cdb
                    name: 57d2ef278aa04f0ad01d6cdb
                    properties:
                      displayName: GetOrder
                      method: POST
                      urlTemplate: '/?soapAction=http://tempuri.org/IFazioService/GetOrder'
                    type: Microsoft.ApiManagement/service/apis/operations
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/57d2ef278aa04f0888cba3f3/operations/57d2ef278aa04f0ad01d6cd8
                    name: 57d2ef278aa04f0ad01d6cd8
                    properties:
                      displayName: submitOrder
                      method: POST
                      urlTemplate: '/?soapAction=http://tempuri.org/IFazioService/submitOrder'
                    type: Microsoft.ApiManagement/service/apis/operations
      x-ms-odata: '#/definitions/OperationContract'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/operations/{operationId}':
    delete:
      description: Deletes the specified operation in the API.
      operationId: ApiOperation_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/ApiIdParameter'
        - $ref: '#/parameters/OperationIdParameter'
        - description: ETag of the API Operation Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.
          in: header
          name: If-Match
          required: true
          type: string
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '204':
          description: The operation was successfully deleted.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: 'The list of invalid fields send in request, in case of validation error.'
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - Operations
      x-ms-examples:
        ApiManagementDeleteApiOperation:
          parameters:
            If-Match: '*'
            api-version: '2017-03-01'
            apiId: 57d2ef278aa04f0888cba3f3
            operationId: 57d2ef278aa04f0ad01d6cdc
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            '204': {}
    get:
      description: Gets the details of the API Operation specified by its identifier.
      operationId: ApiOperation_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/ApiIdParameter'
        - $ref: '#/parameters/OperationIdParameter'
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: The response body contains the specified Operation entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              type: string
          schema:
            $ref: '#/definitions/OperationContract'
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: 'The list of invalid fields send in request, in case of validation error.'
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - Operations
      x-ms-examples:
        ApiManagementGetApiOperation:
          parameters:
            api-version: '2017-03-01'
            apiId: 57d2ef278aa04f0888cba3f3
            operationId: 57d2ef278aa04f0ad01d6cdc
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/57d2ef278aa04f0888cba3f3/operations/57d2ef278aa04f0ad01d6cdc
                name: 57d2ef278aa04f0ad01d6cdc
                properties:
                  displayName: CancelOrder
                  method: POST
                  request:
                    description: IFazioService_CancelOrder_InputMessage
                    headers: []
                    queryParameters: []
                    representations:
                      - contentType: text/xml
                        sample: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<Envelope xmlns=\"http://schemas.xmlsoap.org/soap/envelope/\">\r\n  <Body>\r\n    <CancelOrder xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://tempuri.org/\">\r\n      <orderId>1</orderId>\r\n    </CancelOrder>\r\n  </Body>\r\n</Envelope>"
                        schemaId: 6980a395-f08b-4a59-8295-1440cbd909b8
                        typeName: CancelOrder
                  responses:
                    - description: IFazioService_CancelOrder_OutputMessage
                      headers: []
                      representations:
                        - contentType: text/xml
                          sample: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<Envelope xmlns=\"http://schemas.xmlsoap.org/soap/envelope/\">\r\n  <Body>\r\n    <CancelOrderResponse xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns=\"http://tempuri.org/\">\r\n      <CancelOrderResult>1</CancelOrderResult>\r\n    </CancelOrderResponse>\r\n  </Body>\r\n</Envelope>"
                          schemaId: 6980a395-f08b-4a59-8295-1440cbd909b8
                          typeName: CancelOrderResponse
                      statusCode: 200
                  templateParameters: []
                  urlTemplate: '/?soapAction=http://tempuri.org/IFazioService/CancelOrder'
                type: Microsoft.ApiManagement/service/apis/operations
    patch:
      description: Updates the details of the operation in the API specified by its identifier.
      operationId: ApiOperation_Update
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/ApiIdParameter'
        - $ref: '#/parameters/OperationIdParameter'
        - description: API Operation Update parameters.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/OperationUpdateContract'
        - description: ETag of the API Operation Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.
          in: header
          name: If-Match
          required: true
          type: string
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '204':
          description: The operation was successfully updated.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: 'The list of invalid fields send in request, in case of validation error.'
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - Operations
      x-ms-examples:
        ApiManagementUpdateApiOperation:
          parameters:
            If-Match: '*'
            api-version: '2017-03-01'
            apiId: echo-api
            operationId: operationId
            parameters:
              properties:
                displayName: Retrieve resource
                method: GET
                request:
                  queryParameters:
                    - defaultValue: sample
                      description: A sample parameter that is required and has a default value of "sample".
                      name: param1
                      required: true
                      type: string
                      values:
                        - sample
                responses:
                  - description: Returned in all cases.
                    headers: []
                    representations: []
                    statusCode: 200
                  - description: Server Error.
                    headers: []
                    representations: []
                    statusCode: 500
                templateParameters: []
                urlTemplate: /resource
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            '204': {}
    put:
      description: Creates a new operation in the API or updates an existing one.
      operationId: ApiOperation_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/ApiIdParameter'
        - $ref: '#/parameters/OperationIdParameter'
        - description: Create parameters.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/OperationContract'
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: Operation was successfully updated.
          schema:
            $ref: '#/definitions/OperationContract'
        '201':
          description: Operation was successfully created.
          schema:
            $ref: '#/definitions/OperationContract'
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: 'The list of invalid fields send in request, in case of validation error.'
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - Operations
      x-ms-examples:
        ApiManagementCreateApiOperation:
          parameters:
            api-version: '2017-03-01'
            apiId: PetStoreTemplate2
            operationId: newoperations
            parameters:
              name: newoperation
              properties:
                description: This can only be done by the logged in user.
                displayName: createUser2
                method: POST
                request:
                  description: Created user object
                  headers: []
                  queryParameters: []
                  representations:
                    - contentType: application/json
                      schemaId: 592f6c1d0af5840ca8897f0c
                      typeName: User
                responses:
                  - description: successful operation
                    headers: []
                    representations:
                      - contentType: application/xml
                      - contentType: application/json
                    statusCode: 200
                templateParameters: []
                urlTemplate: /user1
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/PetStoreTemplate2/operations/newoperations
                name: newoperations
                properties:
                  description: This can only be done by the logged in user.
                  displayName: createUser2
                  method: POST
                  request:
                    description: Created user object
                    headers: []
                    queryParameters: []
                    representations:
                      - contentType: application/json
                        schemaId: 592f6c1d0af5840ca8897f0c
                        typeName: User
                  responses:
                    - description: successful operation
                      headers: []
                      representations:
                        - contentType: application/xml
                        - contentType: application/json
                      statusCode: 200
                  templateParameters: []
                  urlTemplate: /user1
                type: Microsoft.ApiManagement/service/apis/operations
            '201':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/PetStoreTemplate2/operations/newoperations
                name: newoperations
                properties:
                  description: This can only be done by the logged in user.
                  displayName: createUser2
                  method: POST
                  request:
                    description: Created user object
                    headers: []
                    queryParameters: []
                    representations:
                      - contentType: application/json
                        schemaId: 592f6c1d0af5840ca8897f0c
                        typeName: User
                  responses:
                    - description: successful operation
                      headers: []
                      representations:
                        - contentType: application/xml
                        - contentType: application/json
                      statusCode: 200
                  templateParameters: []
                  urlTemplate: /user1
                type: Microsoft.ApiManagement/service/apis/operations
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/operations/{operationId}/policies':
    get:
      description: Get the list of policy configuration at the API Operation level.
      operationId: ApiOperationPolicy_ListByOperation
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/ApiIdParameter'
        - $ref: '#/parameters/OperationIdParameter'
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: Api Operations Policy Collection.
          schema:
            description: The response of the list policy operation.
            properties:
              nextLink:
                description: Next page link if any.
                type: string
              value:
                description: Policy Contract value.
                items:
                  allOf:
                    - description: The Resource definition.
                      properties:
                        id:
                          description: Resource ID.
                          readOnly: true
                          type: string
                        name:
                          description: Resource name.
                          readOnly: true
                          type: string
                        type:
                          description: Resource type for API Management resource.
                          readOnly: true
                          type: string
                      x-ms-azure-resource: true
                  description: Policy Contract details.
                  properties:
                    properties:
                      description: Policy contract Properties.
                      properties:
                        policyContent:
                          description: Json escaped Xml Encoded contents of the Policy.
                          type: string
                      required:
                        - policyContent
                type: array
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: 'The list of invalid fields send in request, in case of validation error.'
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - ApiOperationPolicies
      x-ms-examples:
        ApiManagementListApiOperationPolicies:
          parameters:
            api-version: '2017-03-01'
            apiId: 599e2953193c3c0bd0b3e2fa
            operationId: 599e29ab193c3c0bd0b3e2fb
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            '200':
              body:
                nextLink: ''
                value:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/599e2953193c3c0bd0b3e2fa/operations/599e29ab193c3c0bd0b3e2fb/policies/policy
                    name: policy
                    properties:
                      policyContent: "<!--\r\n    IMPORTANT:\r\n    - Policy elements can appear only within the <inbound>, <outbound>, <backend> section elements.\r\n    - Only the <forward-request> policy element can appear within the <backend> section element.\r\n    - To apply a policy to the incoming request (before it is forwarded to the backend service), place a corresponding policy element within the <inbound> section element.\r\n    - To apply a policy to the outgoing response (before it is sent back to the caller), place a corresponding policy element within the <outbound> section element.\r\n    - To add a policy position the cursor at the desired insertion point and click on the round button associated with the policy.\r\n    - To remove a policy, delete the corresponding policy statement from the policy document.\r\n    - Position the <base> element within a section element to inherit all policies from the corresponding section element in the enclosing scope.\r\n    - Remove the <base> element to prevent inheriting policies from the corresponding section element in the enclosing scope.\r\n    - Policies are applied in the order of their appearance, from the top down.\r\n-->\r\n<policies>\r\n  <inbound>\r\n    <validate-jwt header-name=\"dd\">\r\n      <required-claims>\r\n        <claim name=\"bla\" separator=\"\">\r\n          <value>xxx</value>\r\n        </claim>\r\n      </required-claims>\r\n    </validate-jwt>\r\n    <base />\r\n  </inbound>\r\n  <backend>\r\n    <base />\r\n  </backend>\r\n  <outbound>\r\n    <base />\r\n  </outbound>\r\n</policies>"
                    type: Microsoft.ApiManagement/service/apis/operations/policies
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/operations/{operationId}/policies/{policyId}':
    delete:
      description: Deletes the policy configuration at the Api Operation.
      operationId: ApiOperationPolicy_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/ApiIdParameter'
        - $ref: '#/parameters/OperationIdParameter'
        - description: The entity state (Etag) version of the Api Operation Policy to delete. A value of "*" can be used for If-Match to unconditionally apply the operation.
          in: header
          name: If-Match
          required: true
          type: string
        - description: The identifier of the Policy.
          enum:
            - policy
          in: path
          name: policyId
          required: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: PolicyIdName
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '204':
          description: Successfully deleted the policy configuration at the API Operation level.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: 'The list of invalid fields send in request, in case of validation error.'
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - ApiOperationPolicies
      x-ms-examples:
        ApiManagementDeleteOperationPolicy:
          parameters:
            If-Match: '*'
            api-version: '2017-03-01'
            apiId: testapi
            operationId: testoperation
            policyId: policy
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            '204': {}
    get:
      description: Get the policy configuration at the API Operation level.
      operationId: ApiOperationPolicy_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/ApiIdParameter'
        - $ref: '#/parameters/OperationIdParameter'
        - description: The identifier of the Policy.
          enum:
            - policy
          in: path
          name: policyId
          required: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: PolicyIdName
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: Api Operation Policy information.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              type: string
          schema:
            allOf:
              - description: The Resource definition.
                properties:
                  id:
                    description: Resource ID.
                    readOnly: true
                    type: string
                  name:
                    description: Resource name.
                    readOnly: true
                    type: string
                  type:
                    description: Resource type for API Management resource.
                    readOnly: true
                    type: string
                x-ms-azure-resource: true
            description: Policy Contract details.
            properties:
              properties:
                description: Policy contract Properties.
                properties:
                  policyContent:
                    description: Json escaped Xml Encoded contents of the Policy.
                    type: string
                required:
                  - policyContent
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: 'The list of invalid fields send in request, in case of validation error.'
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - ApiOperationPolicies
      x-ms-examples:
        ApiManagementGetApiOperationPolicy:
          parameters:
            api-version: '2017-03-01'
            apiId: 5600b539c53f5b0062040001
            operationId: 5600b53ac53f5b0062080006
            policyId: policy
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/5600b539c53f5b0062040001/operations/5600b53ac53f5b0062080006/policies/policy
                name: policy
                properties:
                  policyContent: "<policies>\r\n  <inbound>\r\n    <base />\r\n  </inbound>\r\n  <backend>\r\n    <base />\r\n  </backend>\r\n  <outbound>\r\n    <base />\r\n    <set-header name=\"X-My-Sample\" exists-action=\"override\">\r\n      <value>This is a sample</value>\r\n      <!-- for multiple headers with the same name add additional value elements -->\r\n    </set-header>\r\n    <jsonp callback-parameter-name=\"ProcessResponse\" />\r\n  </outbound>\r\n</policies>"
                type: Microsoft.ApiManagement/service/apis/operations/policies
    put:
      description: Creates or updates policy configuration for the API Operation level.
      operationId: ApiOperationPolicy_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/ApiIdParameter'
        - $ref: '#/parameters/OperationIdParameter'
        - description: The identifier of the Policy.
          enum:
            - policy
          in: path
          name: policyId
          required: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: PolicyIdName
          x-ms-parameter-location: method
        - description: The policy contents to apply.
          in: body
          name: parameters
          required: true
          schema:
            allOf:
              - description: The Resource definition.
                properties:
                  id:
                    description: Resource ID.
                    readOnly: true
                    type: string
                  name:
                    description: Resource name.
                    readOnly: true
                    type: string
                  type:
                    description: Resource type for API Management resource.
                    readOnly: true
                    type: string
                x-ms-azure-resource: true
            description: Policy Contract details.
            properties:
              properties:
                description: Policy contract Properties.
                properties:
                  policyContent:
                    description: Json escaped Xml Encoded contents of the Policy.
                    type: string
                required:
                  - policyContent
        - description: The entity state (Etag) version of the Api Operation policy to update. A value of "*" can be used for If-Match to unconditionally apply the operation.
          in: header
          name: If-Match
          required: true
          type: string
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: Api Operation policy configuration of the tenant was successfully updated.
          schema:
            allOf:
              - description: The Resource definition.
                properties:
                  id:
                    description: Resource ID.
                    readOnly: true
                    type: string
                  name:
                    description: Resource name.
                    readOnly: true
                    type: string
                  type:
                    description: Resource type for API Management resource.
                    readOnly: true
                    type: string
                x-ms-azure-resource: true
            description: Policy Contract details.
            properties:
              properties:
                description: Policy contract Properties.
                properties:
                  policyContent:
                    description: Json escaped Xml Encoded contents of the Policy.
                    type: string
                required:
                  - policyContent
        '201':
          description: Api Operation policy configuration was successfully created.
          schema:
            allOf:
              - description: The Resource definition.
                properties:
                  id:
                    description: Resource ID.
                    readOnly: true
                    type: string
                  name:
                    description: Resource name.
                    readOnly: true
                    type: string
                  type:
                    description: Resource type for API Management resource.
                    readOnly: true
                    type: string
                x-ms-azure-resource: true
            description: Policy Contract details.
            properties:
              properties:
                description: Policy contract Properties.
                properties:
                  policyContent:
                    description: Json escaped Xml Encoded contents of the Policy.
                    type: string
                required:
                  - policyContent
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: 'The list of invalid fields send in request, in case of validation error.'
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - ApiOperationPolicies
      x-ms-examples:
        ApiManagementCreateApiOperationPolicy:
          parameters:
            If-Match: '*'
            api-version: '2017-03-01'
            apiId: 5600b57e7e8880006a040001
            operationId: 5600b57e7e8880006a080001
            parameters:
              properties:
                policyContent: <policies> <inbound /> <backend>    <forward-request />  </backend>  <outbound /></policies>
            policyId: policy
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/5600b57e7e8880006a040001/operations/5600b57e7e8880006a080001/policies/policy
                name: policy
                properties:
                  policyContent: "<policies>\r\n  <inbound />\r\n  <backend>\r\n    <forward-request />\r\n  </backend>\r\n  <outbound />\r\n</policies>"
                type: Microsoft.ApiManagement/service/apis/operations/policies
            '201':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/5600b57e7e8880006a040001/operations/5600b57e7e8880006a080001/policies/policy
                name: policy
                properties:
                  policyContent: "<policies>\r\n  <inbound />\r\n  <backend>\r\n    <forward-request />\r\n  </backend>\r\n  <outbound />\r\n</policies>"
                type: Microsoft.ApiManagement/service/apis/operations/policies
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/policies':
    get:
      description: Get the policy configuration at the API level.
      operationId: ApiPolicy_ListByApi
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/ApiIdParameter'
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: Apis Policy Collection.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              type: string
          schema:
            description: The response of the list policy operation.
            properties:
              nextLink:
                description: Next page link if any.
                type: string
              value:
                description: Policy Contract value.
                items:
                  allOf:
                    - description: The Resource definition.
                      properties:
                        id:
                          description: Resource ID.
                          readOnly: true
                          type: string
                        name:
                          description: Resource name.
                          readOnly: true
                          type: string
                        type:
                          description: Resource type for API Management resource.
                          readOnly: true
                          type: string
                      x-ms-azure-resource: true
                  description: Policy Contract details.
                  properties:
                    properties:
                      description: Policy contract Properties.
                      properties:
                        policyContent:
                          description: Json escaped Xml Encoded contents of the Policy.
                          type: string
                      required:
                        - policyContent
                type: array
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: 'The list of invalid fields send in request, in case of validation error.'
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - ApiPolicy
      x-ms-examples:
        ApiManagementListApiPolicies:
          parameters:
            api-version: '2017-03-01'
            apiId: 5600b59475ff190048040001
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            '200':
              body:
                nextLink: ''
                value:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/5600b59475ff190048040001/policies/policy
                    name: policy
                    properties:
                      policyContent: "<!--\r\n    IMPORTANT:\r\n    - Policy elements can appear only within the <inbound>, <outbound>, <backend> section elements.\r\n    - Only the <forward-request> policy element can appear within the <backend> section element.\r\n    - To apply a policy to the incoming request (before it is forwarded to the backend service), place a corresponding policy element within the <inbound> section element.\r\n    - To apply a policy to the outgoing response (before it is sent back to the caller), place a corresponding policy element within the <outbound> section element.\r\n    - To add a policy position the cursor at the desired insertion point and click on the round button associated with the policy.\r\n    - To remove a policy, delete the corresponding policy statement from the policy document.\r\n    - Position the <base> element within a section element to inherit all policies from the corresponding section element in the enclosing scope.\r\n    - Remove the <base> element to prevent inheriting policies from the corresponding section element in the enclosing scope.\r\n    - Policies are applied in the order of their appearance, from the top down.\r\n-->\r\n<policies>\r\n  <inbound>\r\n    <quota-by-key calls=\"5\" bandwidth=\"2\" renewal-period=\"&#x9;P3Y6M4DT12H30M5S\" counter-key=\"ba\" />\r\n    <base />\r\n  </inbound>\r\n  <backend>\r\n    <base />\r\n  </backend>\r\n  <outbound>\r\n    <log-to-eventhub logger-id=\"apimService1\" partition-key=\"@(context.Subscription.Id)\">\r\n@{\r\n\tRandom Random = new Random();\r\n\t\t\t\tconst string Chars = \"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz \";                \r\n                return string.Join(\",\", DateTime.UtcNow, new string(\r\n                    Enumerable.Repeat(Chars, Random.Next(2150400))\r\n                              .Select(s =&gt; s[Random.Next(s.Length)])\r\n                              .ToArray()));\r\n          }                           \r\n                        </log-to-eventhub>\r\n    <base />\r\n  </outbound>\r\n</policies>"
                    type: Microsoft.ApiManagement/service/apis/policies
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/policies/{policyId}':
    delete:
      description: Deletes the policy configuration at the Api.
      operationId: ApiPolicy_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/ApiIdParameter'
        - description: The identifier of the Policy.
          enum:
            - policy
          in: path
          name: policyId
          required: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: PolicyIdName
          x-ms-parameter-location: method
        - description: The entity state (Etag) version of the Api policy to update. A value of "*" can be used for If-Match to unconditionally apply the operation.
          in: header
          name: If-Match
          required: true
          type: string
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '204':
          description: Successfully deleted the policy configuration at the API level.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: 'The list of invalid fields send in request, in case of validation error.'
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - ApiPolicy
      x-ms-examples:
        ApiManagementDeleteApiPolicy:
          parameters:
            If-Match: '*'
            api-version: '2017-03-01'
            apiId: loggerId
            policyId: policy
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            '204': {}
    get:
      description: Get the policy configuration at the API level.
      operationId: ApiPolicy_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/ApiIdParameter'
        - description: The identifier of the Policy.
          enum:
            - policy
          in: path
          name: policyId
          required: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: PolicyIdName
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        '200':
          description: Api Policy information.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              type: string
          schema:
            allOf:
              - description: The Resource definition.
                properties:
                  id:
                    description: Resource ID.
                    readOnly: true
                    type: string
                  name:
                    description: Resource name.
                    readOnly: true
                    type: string
                  type:
                    description: Resource type for API Management resource.
                    readOnly: true
                    type: string
                x-ms-azure-resource: true
            description: Policy Contract details.
            properties:
              properties:
                description: Policy contract Properties.
                properties:
                  policyContent:
                    description: Json escaped Xml Encoded contents of the Policy.
                    type: string
                required:
                  - policyContent
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: 'The list of invalid fields send in request, in case of validation error.'
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - ApiPolicy
      x-ms-examples:
        ApiManagementGetApiPolicy:
          parameters:
            api-version: '2017-03-01'
            apiId: 5600b59475ff190048040001
            policyId: policy
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            '200':
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/5600b59475ff190048040001/policies/policy
                name: policy
                properties:
                  policyContent: "<!--\r\n    IMPORTANT:\r\n    - Policy elements can appear only within the <inbound>, <outbound>, <backend> section elements.\r\n    - Only the <forward-request> policy element can appear within the <backend> section element.\r\n    - To apply a policy to the incoming request (before it is forwarded to the backend service), place a corresponding policy element within the <inbound> section element.\r\n    - To apply a policy to the outgoing response (before it is sent back to the caller), place a corresponding policy element within the <outbound> section element.\r\n    - To add a policy position the cursor at the desired insertion point and click on the round button associated with the policy.\r\n    - To remove a policy, delete the corresponding policy statement from the policy document.\r\n    - Position the <base> element within a section element to inherit all policies from the corresponding section element in the enclosing scope.\r\n    - Remove the <base> element to prevent inheriting policies from the corresponding section element in the enclosing scope.\r\n    - Policies are applied in the order of their appearance, from the top down.\r\n-->\r\n<policies>\r\n  <inbound>\r\n    <quota-by-key calls=\"5\" bandwidth=\"2\" renewal-period=\"&#x9;P3Y6M4DT12H30M5S\" counter-key=\"ba\" />\r\n    <base />\r\n  </inbound>\r\n  <backend>\r\n    <base />\r\n  </backend>\r\n  <outbound>\r\n    <log-to-eventhub logger-id=\"apimService1\" partition-key=\"@(context.Subscription.Id)\">\r\n@{\r\n\tRandom Random = new Random();\r\n\t\t\t\tconst string Chars = \"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz \";                \r\n                return string.Join(\",\", DateTime.UtcNow, new string(\r\n                    Enumerable.Repeat(Chars, Random.Next(2150400))\r\n                              .Select(s =&gt; s[Random.Next(s.Length)])\r\n                              .ToArray()));\r\n          }                           \r\n                        </log-to-eventhub>\r\n    <base />\r\n  </outbound>\r\n</policies>"
                type: Microsoft.ApiManagement/service/apis/policies
    put:
      description: Creates or updates policy configuration for the API.
      operationId: ApiPolicy_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: '^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$'
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/ApiIdParameter'
        - description: The identifier of the Policy.
          enum:
            - policy
          in: path
          name: policyId
          required: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: PolicyIdName
          x-ms-parameter-location: method
        - description: The policy contents to apply.
          in: body
          name: parameters
          required: true
          schema:
            allOf:
              - description: The Resource definition.
                properties:
                  id:
                    description: Resource ID.
                    readOnly: true
                    type: string
                  name:
                    description: Resource name.
                    readOnly: true
                    type: string
                  type:
                    description: Resource type for API Management resource.
                    readOnly: true
                    type: string
                x-ms-azure-resource: true
            description: Policy Contract details.
            properties:
              properties:
                description: Policy contract Properties.
                properties:
                  policyContent:
                    description: Json escaped Xml Encoded contents of the Policy.
                    type: string
                required:
                  - policyContent
        - description: The entity state (Etag) version of the Api Policy to update. A value of "*" can be used for If-Match to unconditionally apply the operation.
          in: header
          name: If-Match
[...]
