swagger: '2.0'
schemes:
  - https
host: www.googleapis.com
basePath: /androidpublisher/v1/applications
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: Accesses Android application developers' Google Play accounts.
  title: Google Play Developer
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-apisguru-categories:
    - developer_tools
  x-logo:
    url: 'https://www.gstatic.com/android/market_images/web/play_logo_x2.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.7.25
      format: google
      url: 'https://www.googleapis.com/discovery/v1/apis/androidpublisher/v1/rest'
      version: v1
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: androidpublisher
externalDocs:
  url: 'https://developers.google.com/android-publisher'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/androidpublisher': View and manage your Google Play Developer account
    type: oauth2
parameters:
  alt:
    default: json
    description: Data format for the response.
    enum:
      - json
    in: query
    name: alt
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: An opaque string that represents a user for quota purposes. Must not exceed 40 characters.
    in: query
    name: quotaUser
    type: string
  userIp:
    description: Deprecated. Please use quotaUser instead.
    in: query
    name: userIp
    type: string
tags:
  - name: purchases
paths:
  '/{packageName}/subscriptions/{subscriptionId}/purchases/{token}':
    get:
      description: Checks whether a user's subscription purchase is valid and returns its expiry time.
      operationId: androidpublisher.purchases.get
      parameters:
        - description: 'The package name of the application for which this subscription was purchased (for example, ''com.some.thing'').'
          in: path
          name: packageName
          required: true
          type: string
        - description: 'The purchased subscription ID (for example, ''monthly001'').'
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The token provided to the user's device when the subscription was purchased.
          in: path
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SubscriptionPurchase'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - purchases
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{packageName}/subscriptions/{subscriptionId}/purchases/{token}/cancel':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Cancels a user's subscription purchase. The subscription remains valid until its expiration time.
      operationId: androidpublisher.purchases.cancel
      parameters:
        - description: 'The package name of the application for which this subscription was purchased (for example, ''com.some.thing'').'
          in: path
          name: packageName
          required: true
          type: string
        - description: 'The purchased subscription ID (for example, ''monthly001'').'
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The token provided to the user's device when the subscription was purchased.
          in: path
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - purchases
definitions:
  SubscriptionPurchase:
    description: A SubscriptionPurchase resource indicates the status of a user's subscription purchase.
    properties:
      autoRenewing:
        description: Whether the subscription will automatically be renewed when it reaches its current expiry time.
        type: boolean
      initiationTimestampMsec:
        description: 'Time at which the subscription was granted, in milliseconds since the Epoch.'
        format: int64
        type: string
      kind:
        default: 'androidpublisher#subscriptionPurchase'
        description: This kind represents a subscriptionPurchase object in the androidpublisher service.
        type: string
      validUntilTimestampMsec:
        description: 'Time at which the subscription will expire, in milliseconds since the Epoch.'
        format: int64
        type: string
    type: object
