swagger: '2.0'
schemes:
  - https
host: www.googleapis.com
basePath: /youtube/analytics/v1
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: Retrieves your YouTube Analytics data.
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: YouTube Analytics
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-apisguru-categories:
    - analytics
  x-logo:
    url: 'https://pbs.twimg.com/profile_images/902547949103841281/TmdokZcM_400x400.jpg'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.0.1
      format: google
      url: 'https://www.googleapis.com/discovery/v1/apis/youtubeAnalytics/v1/rest'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: youtubeAnalytics
externalDocs:
  url: 'http://developers.google.com/youtube/analytics/'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/youtube': Manage your YouTube account
      'https://www.googleapis.com/auth/youtube.readonly': View your YouTube account
      'https://www.googleapis.com/auth/youtubepartner': View and manage your assets and associated content on YouTube
      'https://www.googleapis.com/auth/yt-analytics-monetary.readonly': View monetary and non-monetary YouTube Analytics reports for your YouTube content
      'https://www.googleapis.com/auth/yt-analytics.readonly': View YouTube Analytics reports for your YouTube content
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://www.googleapis.com/auth/youtube': Manage your YouTube account
      'https://www.googleapis.com/auth/youtube.readonly': View your YouTube account
      'https://www.googleapis.com/auth/youtubepartner': View and manage your assets and associated content on YouTube
      'https://www.googleapis.com/auth/yt-analytics-monetary.readonly': View monetary and non-monetary YouTube Analytics reports for your YouTube content
      'https://www.googleapis.com/auth/yt-analytics.readonly': View YouTube Analytics reports for your YouTube content
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  alt:
    default: json
    description: Data format for the response.
    enum:
      - csv
      - json
    in: query
    name: alt
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
    in: query
    name: quotaUser
    type: string
  userIp:
    description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    in: query
    name: userIp
    type: string
tags:
  - name: groupItems
  - name: groups
  - name: reports
paths:
  /groupItems:
    delete:
      description: Removes an item from a group.
      operationId: youtubeAnalytics.groupItems.delete
      parameters:
        - description: The id parameter specifies the YouTube group item ID for the group that is being deleted.
          in: query
          name: id
          required: true
          type: string
        - description: |-
            Note: This parameter is intended exclusively for YouTube content partners.

            The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.
          in: query
          name: onBehalfOfContentOwner
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtubepartner'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtubepartner'
      tags:
        - groupItems
    get:
      description: Returns a collection of group items that match the API request parameters.
      operationId: youtubeAnalytics.groupItems.list
      parameters:
        - description: The id parameter specifies the unique ID of the group for which you want to retrieve group items.
          in: query
          name: groupId
          required: true
          type: string
        - description: |-
            Note: This parameter is intended exclusively for YouTube content partners.

            The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.
          in: query
          name: onBehalfOfContentOwner
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GroupItemListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtubepartner'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtubepartner'
        - Oauth2:
            - 'https://www.googleapis.com/auth/yt-analytics.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/yt-analytics.readonly'
      tags:
        - groupItems
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a group item.
      operationId: youtubeAnalytics.groupItems.insert
      parameters:
        - description: |-
            Note: This parameter is intended exclusively for YouTube content partners.

            The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.
          in: query
          name: onBehalfOfContentOwner
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GroupItem'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GroupItem'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtubepartner'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtubepartner'
      tags:
        - groupItems
  /groups:
    delete:
      description: Deletes a group.
      operationId: youtubeAnalytics.groups.delete
      parameters:
        - description: The id parameter specifies the YouTube group ID for the group that is being deleted.
          in: query
          name: id
          required: true
          type: string
        - description: |-
            Note: This parameter is intended exclusively for YouTube content partners.

            The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.
          in: query
          name: onBehalfOfContentOwner
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtubepartner'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtubepartner'
      tags:
        - groups
    get:
      description: 'Returns a collection of groups that match the API request parameters. For example, you can retrieve all groups that the authenticated user owns, or you can retrieve one or more groups by their unique IDs.'
      operationId: youtubeAnalytics.groups.list
      parameters:
        - description: 'The id parameter specifies a comma-separated list of the YouTube group ID(s) for the resource(s) that are being retrieved. In a group resource, the id property specifies the group''s YouTube group ID.'
          in: query
          name: id
          type: string
        - description: Set this parameter's value to true to instruct the API to only return groups owned by the authenticated user.
          in: query
          name: mine
          type: boolean
        - description: |-
            Note: This parameter is intended exclusively for YouTube content partners.

            The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.
          in: query
          name: onBehalfOfContentOwner
          type: string
        - description: 'The pageToken parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken property identifies the next page that can be retrieved.'
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GroupListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtubepartner'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtubepartner'
        - Oauth2:
            - 'https://www.googleapis.com/auth/yt-analytics.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/yt-analytics.readonly'
      tags:
        - groups
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a group.
      operationId: youtubeAnalytics.groups.insert
      parameters:
        - description: |-
            Note: This parameter is intended exclusively for YouTube content partners.

            The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.
          in: query
          name: onBehalfOfContentOwner
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Group'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Group'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtubepartner'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtubepartner'
      tags:
        - groups
    put:
      description: 'Modifies a group. For example, you could change a group''s title.'
      operationId: youtubeAnalytics.groups.update
      parameters:
        - description: |-
            Note: This parameter is intended exclusively for YouTube content partners.

            The onBehalfOfContentOwner parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.
          in: query
          name: onBehalfOfContentOwner
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Group'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Group'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtubepartner'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtubepartner'
      tags:
        - groups
  /reports:
    get:
      description: Retrieve your YouTube Analytics reports.
      operationId: youtubeAnalytics.reports.query
      parameters:
        - description: |-
            Identifies the YouTube channel or content owner for which you are retrieving YouTube Analytics data.
            - To request data for a YouTube user, set the ids parameter value to channel==CHANNEL_ID, where CHANNEL_ID specifies the unique YouTube channel ID.
            - To request data for a YouTube CMS content owner, set the ids parameter value to contentOwner==OWNER_NAME, where OWNER_NAME is the CMS name of the content owner.
          in: query
          name: ids
          required: true
          type: string
        - description: The start date for fetching YouTube Analytics data. The value should be in YYYY-MM-DD format.
          in: query
          name: start-date
          required: true
          type: string
        - description: The end date for fetching YouTube Analytics data. The value should be in YYYY-MM-DD format.
          in: query
          name: end-date
          required: true
          type: string
        - description: 'A comma-separated list of YouTube Analytics metrics, such as views or likes,dislikes. See the Available Reports document for a list of the reports that you can retrieve and the metrics available in each report, and see the Metrics document for definitions of those metrics.'
          in: query
          name: metrics
          required: true
          type: string
        - description: 'The currency to which financial metrics should be converted. The default is US Dollar (USD). If the result contains no financial metrics, this flag will be ignored. Responds with an error if the specified currency is not recognized.'
          in: query
          name: currency
          type: string
        - description: 'A comma-separated list of YouTube Analytics dimensions, such as views or ageGroup,gender. See the Available Reports document for a list of the reports that you can retrieve and the dimensions used for those reports. Also see the Dimensions document for definitions of those dimensions.'
          in: query
          name: dimensions
          type: string
        - description: 'A list of filters that should be applied when retrieving YouTube Analytics data. The Available Reports document identifies the dimensions that can be used to filter each report, and the Dimensions document defines those dimensions. If a request uses multiple filters, join them together with a semicolon (;), and the returned result table will satisfy both filters. For example, a filters parameter value of video==dMH0bHeiRNg;country==IT restricts the result set to include data for the given video in Italy.'
          in: query
          name: filters
          type: string
        - description: If set to true historical data (i.e. channel data from before the linking of the channel to the content owner) will be retrieved.
          in: query
          name: include-historical-channel-data
          type: boolean
        - description: The maximum number of rows to include in the response.
          in: query
          minimum: 1
          name: max-results
          type: integer
        - description: A comma-separated list of dimensions or metrics that determine the sort order for YouTube Analytics data. By default the sort order is ascending. The '-' prefix causes descending sort order.
          in: query
          name: sort
          type: string
        - description: 'An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter (one-based, inclusive).'
          in: query
          minimum: 1
          name: start-index
          type: integer
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ResultTable'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube'
        - Oauth2:
            - 'https://www.googleapis.com/auth/youtube.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/youtube.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/yt-analytics-monetary.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/yt-analytics-monetary.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/yt-analytics.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/yt-analytics.readonly'
      tags:
        - reports
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
definitions:
  Group:
    properties:
      contentDetails:
        properties:
          itemCount:
            format: uint64
            type: string
          itemType:
            type: string
        type: object
      etag:
        type: string
      id:
        type: string
      kind:
        default: 'youtube#group'
        type: string
      snippet:
        properties:
          publishedAt:
            format: date-time
            type: string
          title:
            type: string
        type: object
    type: object
  GroupItem:
    properties:
      etag:
        type: string
      groupId:
        type: string
      id:
        type: string
      kind:
        default: 'youtube#groupItem'
        type: string
      resource:
        properties:
          id:
            type: string
          kind:
            type: string
        type: object
    type: object
  GroupItemListResponse:
    description: A paginated list of grouList resources returned in response to a youtubeAnalytics.groupApi.list request.
    properties:
      etag:
        type: string
      items:
        items:
          $ref: '#/definitions/GroupItem'
        type: array
      kind:
        default: 'youtube#groupItemListResponse'
        type: string
    type: object
  GroupListResponse:
    description: A paginated list of grouList resources returned in response to a youtubeAnalytics.groupApi.list request.
    properties:
      etag:
        type: string
      items:
        items:
          $ref: '#/definitions/Group'
        type: array
      kind:
        default: 'youtube#groupListResponse'
        type: string
      nextPageToken:
        type: string
    type: object
  ResultTable:
    description: 'Contains a single result table. The table is returned as an array of rows that contain the values for the cells of the table. Depending on the metric or dimension, the cell can contain a string (video ID, country code) or a number (number of views or number of likes).'
    properties:
      columnHeaders:
        description: 'This value specifies information about the data returned in the rows fields. Each item in the columnHeaders list identifies a field returned in the rows value, which contains a list of comma-delimited data. The columnHeaders list will begin with the dimensions specified in the API request, which will be followed by the metrics specified in the API request. The order of both dimensions and metrics will match the ordering in the API request. For example, if the API request contains the parameters dimensions=ageGroup,gender&metrics=viewerPercentage, the API response will return columns in this order: ageGroup,gender,viewerPercentage.'
        items:
          properties:
            columnType:
              description: The type of the column (DIMENSION or METRIC).
              type: string
            dataType:
              description: 'The type of the data in the column (STRING, INTEGER, FLOAT, etc.).'
              type: string
            name:
              description: The name of the dimension or metric.
              type: string
          type: object
        type: array
      kind:
        default: 'youtubeAnalytics#resultTable'
        description: 'This value specifies the type of data included in the API response. For the query method, the kind property value will be youtubeAnalytics#resultTable.'
        type: string
      rows:
        description: 'The list contains all rows of the result table. Each item in the list is an array that contains comma-delimited data corresponding to a single row of data. The order of the comma-delimited data fields will match the order of the columns listed in the columnHeaders field. If no data is available for the given query, the rows element will be omitted from the response. The response for a query with the day dimension will not contain rows for the most recent days.'
        items:
          items: {}
          type: array
        type: array
    type: object
