openapi: 3.0.0
servers:
  - description: Main production server
    url: 'https://api.brex.io'
info:
  title: Brex
  version: 1.0.0
  x-apisguru-categories:
    - financial
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://brex.io/img/logo_brex_small.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.6.2
      format: openapi
      url: 'https://api.brex.io/docs/'
      version: '3.0'
  x-providerName: brex.io
tags:
  - description: System operations
    name: v1-system
  - description: Company Search operations
    name: v1-company
  - description: 'Product Search, Order and Retrieve operations'
    name: v1-product
  - description: Pep Sanction Check operations
    name: v1-pepsanction
  - description: VAT-Verification methods
    name: v1-vat-verification
  - description: NIF-Verification methods
    name: v1-nif-verification
paths:
  '/api/v1/company/announcement/{id}':
    get:
      description: Search announcements by id
      parameters:
        - description: announcement hex ID
          in: path
          name: id
          required: true
          schema:
            format: string
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  properties:
                    countryCode:
                      type: string
                    id:
                      type: string
                    registrationNumber:
                      type: string
                    structured:
                      type: string
                    text:
                      type: string
                    time:
                      format: date
                      type: string
                    type:
                      type: string
                type: array
          description: List of announcements
        default:
          content:
            application/json:
              schema:
                properties:
                  code:
                    format: int32
                    type: integer
                  message:
                    type: string
                required:
                  - code
                  - message
          description: Detailed information about the error
      security:
        - user_key: []
      tags:
        - v1-company
  '/api/v1/company/deepsearch/name/{country}/{name}':
    get:
      description: Deep Search (Search on register) by country and name
      parameters:
        - description: ISO_3166-1_alpha-2 representation of a country name - 2 chars
          in: path
          name: country
          required: true
          schema:
            format: string
            type: string
        - description: company name
          in: path
          name: name
          required: true
          schema:
            format: string
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  properties:
                    address:
                      items:
                        type: string
                      type: array
                    country:
                      type: string
                    dateOfIncorporation:
                      type: string
                    extraData:
                      type: object
                    formattedAddress:
                      items:
                        type: string
                      type: array
                    id:
                      type: string
                    legalForm:
                      type: string
                    managingDirectors:
                      items:
                        type: string
                      type: array
                    name:
                      type: string
                    registrationNumber:
                      type: string
                    requestTime:
                      type: integer
                    secretaries:
                      items:
                        type: string
                      type: array
                    sicNaceCodes:
                      items:
                        type: string
                      type: array
                    status:
                      type: string
                type: array
          description: List of companies
        default:
          content:
            application/json:
              schema:
                properties:
                  code:
                    format: int32
                    type: integer
                  message:
                    type: string
                required:
                  - code
                  - message
          description: Detailed information about the error
      security:
        - user_key: []
      tags:
        - v1-company
  '/api/v1/company/deepsearch/number/{country}/{number}':
    get:
      description: Deep Search (Search on register) by country and register number.
      parameters:
        - description: ISO_3166-1_alpha-2 representation of a country name - 2 chars
          in: path
          name: country
          required: true
          schema:
            format: string
            type: string
        - description: company registration number
          in: path
          name: number
          required: true
          schema:
            format: string
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  properties:
                    address:
                      items:
                        type: string
                      type: array
                    country:
                      type: string
                    dateOfIncorporation:
                      type: string
                    extraData:
                      type: object
                    formattedAddress:
                      items:
                        type: string
                      type: array
                    id:
                      type: string
                    legalForm:
                      type: string
                    managingDirectors:
                      items:
                        type: string
                      type: array
                    name:
                      type: string
                    registrationNumber:
                      type: string
                    requestTime:
                      type: integer
                    secretaries:
                      items:
                        type: string
                      type: array
                    sicNaceCodes:
                      items:
                        type: string
                      type: array
                    status:
                      type: string
                type: array
          description: List of companies
        default:
          content:
            application/json:
              schema:
                properties:
                  code:
                    format: int32
                    type: integer
                  message:
                    type: string
                required:
                  - code
                  - message
          description: Detailed information about the error
      security:
        - user_key: []
      tags:
        - v1-company
  '/api/v1/company/search/name/{country}/{name}':
    get:
      description: Search by country and name
      parameters:
        - description: ISO_3166-1_alpha-2 representation of a country name - 2 chars
          in: path
          name: country
          required: true
          schema:
            format: string
            type: string
        - description: company name
          in: path
          name: name
          required: true
          schema:
            format: string
            type: string
        - description: number of search results
          in: query
          name: limit
          required: false
          schema:
            format: int64
            type: integer
      responses:
        default:
          content:
            application/json:
              schema:
                properties:
                  code:
                    format: int32
                    type: integer
                  message:
                    type: string
                required:
                  - code
                  - message
          description: Detailed information about the error
      security:
        - user_key: []
      tags:
        - v1-company
  '/api/v1/company/search/number/{country}/{number}':
    get:
      description: Search by country and registration number
      parameters:
        - description: ISO_3166-1_alpha-2 representation of a country name - 2 chars
          in: path
          name: country
          required: true
          schema:
            format: string
            type: string
        - description: company registration number
          in: path
          name: number
          required: true
          schema:
            format: string
            type: string
        - description: number of search results
          in: query
          name: limit
          required: false
          schema:
            format: int64
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  properties:
                    address:
                      items:
                        type: string
                      type: array
                    country:
                      type: string
                    dateOfIncorporation:
                      type: string
                    extraData:
                      type: object
                    formattedAddress:
                      items:
                        type: string
                      type: array
                    id:
                      type: string
                    legalForm:
                      type: string
                    managingDirectors:
                      items:
                        type: string
                      type: array
                    name:
                      type: string
                    registrationNumber:
                      type: string
                    requestTime:
                      type: integer
                    secretaries:
                      items:
                        type: string
                      type: array
                    sicNaceCodes:
                      items:
                        type: string
                      type: array
                    status:
                      type: string
                type: array
          description: List of companies
        default:
          content:
            application/json:
              schema:
                properties:
                  code:
                    format: int32
                    type: integer
                  message:
                    type: string
                required:
                  - code
                  - message
          description: Detailed information about the error
      security:
        - user_key: []
      tags:
        - v1-company
  '/api/v1/company/search/{country}':
    post:
      description: 'Search by country and mixed parameters. This function requires a country code then a mixture of name, number, url, phone, and vat. 0 or 1 of each parameter can be supplied. These are applied in a progressive filter mechanism in the order they are supplied (when properly implemented). This means it is possible to return empty sets when a later match returns an empty set.'
      parameters:
        - description: ISO_3166-1_alpha-2 representation of a country name - 2 chars
          in: path
          name: country
          required: true
          schema:
            format: string
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                address:
                  description: Company address (or address partial)
                  type: string
                name:
                  description: Company name
                  type: string
                number:
                  description: Company registration number
                  type: string
                phone:
                  description: Company contact phone number
                  type: string
                url:
                  description: Company url
                  type: string
                vat:
                  description: Company VAT number
                  type: string
              type: object
        description: VAT number and the company details
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  properties:
                    address:
                      items:
                        type: string
                      type: array
                    country:
                      type: string
                    dateOfIncorporation:
                      type: string
                    extraData:
                      type: object
                    formattedAddress:
                      items:
                        type: string
                      type: array
                    id:
                      type: string
                    legalForm:
                      type: string
                    managingDirectors:
                      items:
                        type: string
                      type: array
                    name:
                      type: string
                    registrationNumber:
                      type: string
                    requestTime:
                      type: integer
                    secretaries:
                      items:
                        type: string
                      type: array
                    sicNaceCodes:
                      items:
                        type: string
                      type: array
                    status:
                      type: string
                type: array
          description: List of companies
        default:
          content:
            application/json:
              schema:
                properties:
                  code:
                    format: int32
                    type: integer
                  message:
                    type: string
                required:
                  - code
                  - message
          description: Detailed information about the error
      security:
        - user_key: []
      tags:
        - v1-company
  '/api/v1/company/{id}/announcements':
    get:
      description: Search announcements by company id
      parameters:
        - description: company hex ID
          in: path
          name: id
          required: true
          schema:
            format: string
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  properties:
                    countryCode:
                      type: string
                    id:
                      type: string
                    registrationNumber:
                      type: string
                    structured:
                      type: string
                    text:
                      type: string
                    time:
                      format: date
                      type: string
                    type:
                      type: string
                type: array
          description: List of announcements
        default:
          content:
            application/json:
              schema:
                properties:
                  code:
                    format: int32
                    type: integer
                  message:
                    type: string
                required:
                  - code
                  - message
          description: Detailed information about the error
      security:
        - user_key: []
      tags:
        - v1-company
    post:
      description: Search announcements by company id
      parameters:
        - description: company hex ID
          in: path
          name: id
          required: true
          schema:
            format: string
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              example:
                data: true
                data-max-announcements: 10
              properties:
                data:
                  description: include announcement text and structured data
                  type: boolean
                data-max-announcements:
                  description: maximum amount of announcements that should include text
                  format: int32
                  type: integer
              type: object
        description: Announcement details
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  countryCode:
                    type: string
                  id:
                    type: string
                  registrationNumber:
                    type: string
                  structured:
                    type: string
                  text:
                    type: string
                  time:
                    format: date
                    type: string
                  type:
                    type: string
                required:
                  - countryCode
                  - id
                  - registrationNumber
                  - time
                  - type
          description: The details of announcement
        default:
          content:
            application/json:
              schema:
                properties:
                  code:
                    format: int32
                    type: integer
                  message:
                    type: string
                required:
                  - code
                  - message
          description: Detailed information about the error
      security:
        - user_key: []
      tags:
        - v1-company
  '/api/v1/company/{id}/super/{country}':
    get:
      description: Search for company superdata by id from previous call
      parameters:
        - description: company superdata by id
          in: path
          name: id
          required: true
          schema:
            format: string
            type: string
        - description: ISO_3166-1_alpha-2 representation of a country name - 2 chars
          in: path
          name: country
          required: true
          schema:
            format: string
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  properties:
                    address:
                      items:
                        type: string
                      type: array
                    country:
                      type: string
                    dateOfIncorporation:
                      type: string
                    extraData:
                      type: object
                    formattedAddress:
                      items:
                        type: string
                      type: array
                    id:
                      type: string
                    legalForm:
                      type: string
                    managingDirectors:
                      items:
                        type: string
                      type: array
                    name:
                      type: string
                    registrationNumber:
                      type: string
                    requestTime:
                      type: integer
                    secretaries:
                      items:
                        type: string
                      type: array
                    sicNaceCodes:
                      items:
                        type: string
                      type: array
                    status:
                      type: string
                type: array
          description: List of companies
        default:
          content:
            application/json:
              schema:
                properties:
                  code:
                    format: int32
                    type: integer
                  message:
                    type: string
                required:
                  - code
                  - message
          description: Detailed information about the error
      security:
        - user_key: []
      tags:
        - v1-company
  '/api/v1/company/{id}/{dataset}':
    get:
      description: Search for company by id from previous call
      parameters:
        - description: company master data by id
          in: path
          name: id
          required: true
          schema:
            format: string
            type: string
        - description: company master data by id
          in: path
          name: dataset
          required: true
          schema:
            enum:
              - ''
              - mini
              - master
              - full
              - refresh
            format: string
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  properties:
                    address:
                      items:
                        type: string
                      type: array
                    country:
                      type: string
                    dateOfIncorporation:
                      type: string
                    extraData:
                      type: object
                    formattedAddress:
                      items:
                        type: string
                      type: array
                    id:
                      type: string
                    legalForm:
                      type: string
                    managingDirectors:
                      items:
                        type: string
                      type: array
                    name:
                      type: string
                    registrationNumber:
                      type: string
                    requestTime:
                      type: integer
                    secretaries:
                      items:
                        type: string
                      type: array
                    sicNaceCodes:
                      items:
                        type: string
                      type: array
                    status:
                      type: string
                type: array
          description: List of companies
        default:
          content:
            application/json:
              schema:
                properties:
                  code:
                    format: int32
                    type: integer
                  message:
                    type: string
                required:
                  - code
                  - message
          description: Detailed information about the error
      security:
        - user_key: []
      tags:
        - v1-company
  '/api/v1/nif-verification/basic-check/{country}':
    post:
      description: Basic verification of given portuguese NIF number against NIF.com. Optional parameters may help to build a better confidence score.
      parameters:
        - description: ISO_3166-1_alpha-2 representation of a country name - 2 chars
          in: path
          name: country
          required: true
          schema:
            format: string
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                companyAddress:
                  description: company address lines
                  type: string
                companyName:
                  description: Company name
                  type: string
                nifNumber:
                  description: NIF number to validate
                  type: string
              required:
                - nifNumber
              type: object
        description: Company details
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  companyName:
                    type: string
                  confidenceScore:
                    type: number
                  nifNumber:
                    type: number
                  validationStatus:
                    type: boolean
                required:
                  - nifNumber
                  - confidenceScore
                  - validationStatus
          description: Result of a basic NIF verification
        default:
          content:
            application/json:
              schema:
                properties:
                  code:
                    format: int32
                    type: integer
                  message:
                    type: string
                required:
                  - code
                  - message
          description: Detailed information about the error
      security:
        - user_key: []
      tags:
        - v1-nif-verification
  '/api/v1/nif-verification/comprehensive-check/{country}':
    post:
      description: Comprehensive verification of given portuguese NIF number against NIF.com. Optional parameters may help to build a better confidence score.
      parameters:
        - description: ISO_3166-1_alpha-2 representation of a country name - 2 chars
          in: path
          name: country
          required: true
          schema:
            format: string
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                companyAddress:
                  description: company address lines
                  type: string
                companyName:
                  description: Company name
                  type: string
                nifNumber:
                  description: NIF number to validate
                  type: string
              required:
                - nifNumber
              type: object
        description: Company details
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  activity:
                    type: object
                  address:
                    type: string
                  capital:
                    type: number
                  companyName:
                    type: string
                  confidenceScore:
                    type: number
                  currency:
                    type: string
                  email:
                    type: string
                  fax:
                    type: string
                  geo:
                    type: string
                  legalType:
                    type: string
                  nifNumber:
                    type: number
                  phone:
                    type: string
                  status:
                    type: object
                  validationStatus:
                    type: boolean
                  website:
                    type: string
                required:
                  - nifNumber
                  - confidenceScore
                  - validationStatus
          description: Result of a comprehensive NIF verification
        default:
          content:
            application/json:
              schema:
                properties:
                  code:
                    format: int32
                    type: integer
                  message:
                    type: string
                required:
                  - code
                  - message
          description: Detailed information about the error
      security:
        - user_key: []
      tags:
        - v1-nif-verification
  '/api/v1/pepsanction/order/{type}/{search}':
    post:
      description: Order a new Pep Sanction Check
      parameters:
        - description: Type (Business or Person) of the requested Pep Sanction Check
          in: path
          name: type
          required: true
          schema:
            enum:
              - ''
              - B
              - P
            format: string
            type: string
        - description: Search string for the Pep Sanction Check
          in: path
          name: search
          required: true
          schema:
            format: string
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Aliases:
                  description: Optional parameter for declaring alias names when doing a person search (seperated by commas)
                  type: string
                DOB:
                  description: Optional parameter for date of birth name when doing a person search
                  type: string
                FamilyName:
                  description: Optional parameter for last name when doing a person search
                  type: string
                Filters:
                  description: Optional parameter for restricting search when doing a person search (seperated by commas)
                  type: string
                GivenName:
                  description: Optional parameter for first name when doing a person search
                  type: string
                MiddleName:
                  description: Optional parameter for middle name when doing a person search
                  type: string
              type: object
        description: Optional parameters to enhance search
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  availability:
                    type: string
                  category:
                    type: string
                  countryCode:
                    type: string
                  description:
                    type: string
                  hasOptions:
                    type: boolean
                  options:
                    items:
                      type: string
                    type: array
                  price:
                    format: float
                    type: number
                  provider:
                    type: string
                  sku:
                    type: string
                  type:
                    type: string
                required:
                  - availability
                  - category
                  - countryCode
                  - description
                  - hasOptions
                  - options
                  - price
                  - provider
                  - sku
                  - type
          description: Product details
        default:
          content:
            application/json:
              schema:
                properties:
                  code:
                    format: int32
                    type: integer
                  message:
                    type: string
                required:
                  - code
                  - message
          description: Detailed information about the error
      security:
        - user_key: []
      tags:
        - v1-pepsanction
  '/api/v1/pepsanction/retrieve/{id}':
    get:
      description: Retrieve a delivered Pep Sanction check structured or in pdf
      parameters:
        - description: The type (pdf or json) in which the check should be returned
          in: header
          name: accept
          required: false
          schema:
            default: application/json
            enum:
              - application/json
              - application/pdf
            format: string
            type: string
        - description: The id of the ordered Pep Sanction Check (id as returned by orderPepSanction call)
          in: path
          name: id
          required: true
          schema:
            format: string
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  listsChecked:
                    type: string
                  results:
                    properties:
                      Excerpts:
                        type: string
                      ResultsURL:
                        type: string
                      SearchType:
                        type: string
                      SourceAgency:
                        type: string
                      SourceEntity:
                        type: string
                      SourceID:
                        format: int64
                        type: integer
                      SourceName:
                        type: string
                      SourceType:
                        type: string
                  search:
                    type: string
                  status:
                    type: string
                  timestamp:
                    format: date
                    type: string
                  type:
                    type: string
                required:
                  - listsChecked
                  - search
                  - status
                  - timestamp
                  - type
          description: Result of a PEP and sanctions list check
        default:
          content:
            application/json:
              schema:
                properties:
                  code:
                    format: int32
                    type: integer
                  message:
                    type: string
                required:
                  - code
                  - message
          description: Detailed information about the error
      security:
        - user_key: []
      tags:
        - v1-pepsanction
  '/api/v1/product/availability/{sku}/{subjectId}':
    get:
      description: Check availabilty and valid options for a particular product for a particular subject
      parameters:
        - description: SKU - 9 character value from a Product object
          in: path
          name: sku
          required: true
          schema:
            format: string
            type: string
        - description: Subject (e.g. Company) ID - 32 character hex value
          in: path
          name: subjectId
          required: true
          schema:
            format: string
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  availability:
                    type: string
                  category:
                    type: string
                  countryCode:
                    type: string
                  description:
                    type: string
                  hasOptions:
                    type: boolean
                  options:
                    items:
                      type: string
                    type: array
                  price:
                    format: float
                    type: number
                  provider:
                    type: string
                  sku:
                    type: string
                  type:
                    type: string
                required:
                  - availability
                  - category
                  - countryCode
                  - description
                  - hasOptions
                  - options
                  - price
                  - provider
                  - sku
                  - type
          description: Product details
        default:
          content:
            application/json:
              schema:
                properties:
                  code:
                    format: int32
                    type: integer
                  message:
                    type: string
                required:
                  - code
                  - message
          description: Detailed information about the error
      security:
        - user_key: []
      tags:
        - v1-product
  '/api/v1/product/notifier/{notifierId}':
    get:
      description: Return the current status of an existing notifier
      parameters:
        - description: ID of the ProductOrderNotifier as returned from a /notifier POST call - 32 character hex value
          in: path
          name: notifierId
          required: true
          schema:
            format: string
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  callback:
                    type: string
                  identity:
                    type: string
                  lastCallTime:
                    format: date
                    type: string
                  lastResponseCode:
                    type: integer
                  notifierType:
                    type: string
                  productOrderIdentity:
                    type: string
                required:
                  - callback
                  - lastCallTime
                  - lastResponseCode
                  - notifierType
                  - productOrderIdentity
          description: Details of configured product order notification
        default:
          content:
            application/json:
              schema:
                properties:
                  code:
                    format: int32
                    type: integer
                  message:
                    type: string
                required:
                  - code
                  - message
          description: Detailed information about the error
      security:
        - user_key: []
      tags:
        - v1-product
  '/api/v1/product/order/{sku}/{option}/{subjectId}':
    post:
      description: Place an order for a particular product for a particular subject
      parameters:
        - description: SKU - 9 character value from a Product object
          in: path
          name: sku
          required: true
          schema:
            format: string
            type: string
        - description: Product option (e.g. Accounts year) from a previous Availability call
          in: path
          name: option
          required: true
          schema:
            format: string
            type: string
        - description: Subject (e.g. Company) ID - 32 character hex value
          in: path
          name: subjectId
          required: true
          schema:
            format: string
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  identity:
                    type: string
                  option:
                    type: string
                  ordered:
                    format: date
                    type: string
                  owner:
                    type: string
                  price:
                    format: float
                    type: number
                  sku:
                    type: string
                  status:
                    type: string
                  subjectId:
                    type: string
                  subjectValue:
                    type: string
                required:
                  - identity
                  - option
                  - ordered
                  - owner
                  - price
                  - sku
                  - status
                  - subjectId
                  - subjectValue
          description: Product order details
        default:
          content:
            application/json:
              schema:
                properties:
                  code:
                    format: int32
                    type: integer
                  message:
                    type: string
                required:
                  - code
                  - message
          description: Detailed information about the error
      security:
        - user_key: []
      tags:
        - v1-product
  '/api/v1/product/order/{sku}/{subjectId}':
    post:
      description: Place an order for a particular product for a particular subject
      parameters:
        - description: SKU - 9 character value from a Product object
          in: path
          name: sku
          required: true
          schema:
            format: string
            type: string
        - description: Subject (e.g. Company) ID - 32 character hex value
          in: path
          name: subjectId
          required: true
          schema:
            format: string
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  identity:
                    type: string
                  option:
                    type: string
                  ordered:
                    format: date
                    type: string
                  owner:
                    type: string
                  price:
                    format: float
                    type: number
                  sku:
                    type: string
                  status:
                    type: string
                  subjectId:
                    type: string
                  subjectValue:
                    type: string
                required:
                  - identity
                  - option
                  - ordered
                  - owner
                  - price
                  - sku
                  - status
                  - subjectId
                  - subjectValue
          description: Product order details
        default:
          content:
            application/json:
              schema:
                properties:
                  code:
                    format: int32
                    type: integer
                  message:
                    type: string
                required:
                  - code
                  - message
          description: Detailed information about the error
      security:
        - user_key: []
      tags:
        - v1-product
  '/api/v1/product/search/{subjectId}':
    get:
      description: Search for possible products for a particular subject
      parameters:
        - description: Subject (e.g. Company) ID - 32 character hex value
          in: path
          name: subjectId
          required: true
          schema:
            format: string
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  properties:
                    availability:
                      type: string
                    category:
                      type: string
                    countryCode:
                      type: string
                    description:
                      type: string
                    hasOptions:
                      type: boolean
                    options:
                      items:
                        type: string
                      type: array
                    price:
                      format: float
                      type: number
                    provider:
                      type: string
                    sku:
                      type: string
                    type:
                      type: string
                type: array
          description: List of products
        default:
          content:
            application/json:
              schema:
                properties:
                  code:
                    format: int32
                    type: integer
                  message:
                    type: string
                required:
                  - code
                  - message
          description: Detailed information about the error
      security:
        - user_key: []
      tags:
        - v1-product
  '/api/v1/product/status/{orderId}':
    get:
      description: Get the status of an ongoing order
      parameters:
        - description: ID of the ProductOrder as returned from a /product/buy call - 32 character hex value
          in: path
          name: orderId
          required: true
          schema:
            format: string
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  identity:
                    type: string
                  option:
                    type: string
                  ordered:
                    format: date
                    type: string
                  owner:
                    type: string
                  price:
                    format: float
                    type: number
                  sku:
                    type: string
                  status:
                    type: string
                  subjectId:
                    type: string
                  subjectValue:
                    type: string
                required:
                  - identity
                  - option
                  - ordered
                  - owner
                  - price
                  - sku
                  - status
                  - subjectId
                  - subjectValue
          description: Product order details
        default:
          content:
            application/json:
              schema:
                properties:
                  code:
                    format: int32
                    type: integer
                  message:
                    type: string
                required:
                  - code
                  - message
          description: Detailed information about the error
      security:
        - user_key: []
      tags:
        - v1-product
  '/api/v1/product/{orderId}':
    get:
      description: Retrieves the document associated with a completed order
      parameters:
        - description: ID of the ProductOrder as returned from a /product/buy call - 32 character hex value
          in: path
          name: orderId
          required: true
          schema:
            format: string
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  mimeType:
                    type: string
                  productOrderId:
                    type: string
                  uri:
                    type: string
                required:
                  - mimeType
                  - productOrderId
                  - uri
          description: Details for retrieval of a delivered product
        default:
          content:
            application/json:
              schema:
                properties:
                  code:
                    format: int32
                    type: integer
                  message:
                    type: string
                required:
                  - code
                  - message
          description: Detailed information about the error
      security:
        - user_key: []
      tags:
        - v1-product
  /api/v1/system/countries:
    get:
      description: Search for possible products for a particular subject
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  properties:
                    country_code:
                      type: string
                    country_name:
                      type: string
                type: array
          description: List of countries
        default:
          content:
            application/json:
              schema:
                properties:
                  code:
                    format: int32
                    type: integer
                  message:
                    type: string
                required:
                  - code
                  - message
          description: Detailed information about the error
      security:
        - user_key: []
      tags:
        - v1-system
  /api/v1/system/pricelist:
    get:
      description: Retrieve pricing rules for your subscription plan
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  properties:
                    cost_per_unit:
                      type: string
                    max:
                      type: string
                    metric_id:
                      type: string
                    min:
                      type: string
                    sku:
                      type: string
                type: array
          description: List of pricing rules
        default:
          content:
            application/json:
              schema:
                properties:
                  code:
                    format: int32
                    type: integer
                  message:
                    type: string
                required:
                  - code
                  - message
          description: Detailed information about the error
      security:
        - user_key: []
      tags:
        - v1-system
  '/api/v1/vat-verification/basic-check/{country}':
    post:
      description: Basic verification of given VAT number against VIES. Optional parameters may help to build a better confidence score.
      parameters:
        - description: ISO_3166-1_alpha-2 representation of a country name - 2 chars
          in: path
          name: country
          required: true
          schema:
            format: string
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                companyAddress:
                  description: company address lines
                  type: string
                companyName:
                  description: Company name
                  type: string
                companyNumber:
                  description: official company number
                  type: string
                vatNumber:
                  description: VAT number to validate
                  type: string
              required:
                - vatNumber
              type: object
        description: VAT number and the company details
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  company:
                    properties:
                      address:
                        items:
                          type: string
                        type: array
                      country:
                        type: string
                      dateOfIncorporation:
                        type: string
                      extraData:
                        type: object
                      formattedAddress:
                        items:
                          type: string
                        type: array
                      id:
                        type: string
                      legalForm:
                        type: string
                      managingDirectors:
                        items:
                          type: string
                        type: array
                      name:
                        type: string
                      registrationNumber:
                        type: string
                      requestTime:
                        type: integer
                      secretaries:
                        items:
                          type: string
                        type: array
                      sicNaceCodes:
                        items:
                          type: string
                        type: array
                      status:
                        type: string
                    required:
                      - country
                      - id
                      - name
                      - registrationNumber
                  confidenceScore:
                    type: number
                  validationStatus:
                    type: boolean
                required:
                  - confidenceScore
                  - validationStatus
          description: Denotes validity of checked VAT
        default:
          content:
            application/json:
              schema:
                properties:
                  code:
                    format: int32
                    type: integer
                  message:
                    type: string
                required:
                  - code
                  - message
          description: Detailed information about the error
      security:
        - user_key: []
      tags:
        - v1-vat-verification
  '/api/v1/vat-verification/comprehensive-check/{country}':
    post:
      description: Extended verification of given VAT number against VIES and register. Optional parameters may help to build a better confidence score.
      parameters:
        - description: ISO_3166-1_alpha-2 representation of a country name - 2 chars
          in: path
          name: country
          required: true
          schema:
            format: string
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                companyAddress:
                  description: company address lines
                  type: string
                companyName:
                  description: Company name
                  type: string
                companyNumber:
                  description: official company number
                  type: string
                vatNumber:
                  description: VAT number to validate
                  type: string
              required:
                - vatNumber
              type: object
        description: VAT number and the company details
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  company:
                    properties:
                      address:
                        items:
                          type: string
                        type: array
                      country:
                        type: string
                      dateOfIncorporation:
                        type: string
                      extraData:
                        type: object
                      formattedAddress:
                        items:
                          type: string
                        type: array
                      id:
                        type: string
                      legalForm:
                        type: string
                      managingDirectors:
                        items:
                          type: string
                        type: array
                      name:
                        type: string
                      registrationNumber:
                        type: string
                      requestTime:
                        type: integer
                      secretaries:
                        items:
                          type: string
                        type: array
                      sicNaceCodes:
                        items:
                          type: string
                        type: array
                      status:
                        type: string
                    required:
                      - country
                      - id
                      - name
                      - registrationNumber
                  confidenceScore:
                    type: number
                  validationStatus:
                    type: boolean
                required:
                  - confidenceScore
                  - validationStatus
          description: Denotes validity of checked VAT
        default:
          content:
            application/json:
              schema:
                properties:
                  code:
                    format: int32
                    type: integer
                  message:
                    type: string
                required:
                  - code
                  - message
          description: Detailed information about the error
      security:
        - user_key: []
      tags:
        - v1-vat-verification
components:
  securitySchemes:
    user_key:
      in: header
      name: user_key
      type: apiKey
