swagger: '2.0'
schemes:
  - https
host: api.hetras-certification.net
basePath: /
info:
  title: hetras booking API v0
  version: v0
  x-logo:
    url: 'https://hetras.zendesk.com/hc/logo'
  x-origin:
    format: swagger
    url: 'https://developer.hetras.com/swagger/spec/BookingAPIv0.json'
    version: '2.0'
  x-providerName: hetras-certification.net
  x-serviceName: booking
paths:
  /api/booking/v0/addons:
    get:
      consumes: []
      deprecated: false
      description: "With the addons request you can get a list of offers for addon services available for a specific rate, room type\r\n            and guest stay details.The channel code will define which rates will be returned based on the access control \r\n            configuration for related rates."
      parameters:
        - description: Application identifier
          in: header
          name: App-Id
          required: true
          type: string
          x-data-threescale-name: app_ids
        - description: Application key.
          in: header
          name: App-Key
          required: true
          type: string
          x-data-threescale-name: app_keys
        - description: Specifies the hotel id to request offers for.
          format: int32
          in: query
          name: hotelId
          required: true
          type: integer
        - description: Date from when the addon service will be booked to the reservation in the ISO-8601 format "YYYY-MM-DD".
          format: date-time
          in: query
          name: arrivalDate
          required: true
          type: string
        - description: "Date until when the addon service will be booked to the reservation in the ISO-8601 format \"YYYY-MM-DD\".\r\n            This is usually the departure date of the reservation."
          format: date-time
          in: query
          name: departureDate
          required: true
          type: string
        - description: Channel Code the rate plan needs to be configured for.
          in: query
          name: channelCode
          required: true
          type: string
        - description: Number of adults per room.
          format: byte
          in: query
          maximum: 255
          minimum: 1
          name: adults
          required: true
          type: string
        - description: Number of rooms.
          format: byte
          in: query
          maximum: 255
          minimum: 1
          name: rooms
          required: true
          type: string
        - description: Only return offers for the specified room type code.
          in: query
          name: roomType
          required: true
          type: string
        - description: Only return offers for the specified rate plan code.
          in: query
          name: ratePlanCode
          required: true
          type: string
        - description: Expand the rates breakdown if required.
          enum:
            - None
            - Breakdown
          in: query
          name: expand
          required: false
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: All addon offers for the requested stay details.
          schema:
            $ref: '#/definitions/Addons'
        '400':
          description: Bad request. Request parameters syntactically erroneous.
        '401':
          description: 'You provided wrong credentials, or you reached your API limit.'
        '403':
          description: The application does not have access to the requested resource.
        '404':
          description: Not Found. The server has not found anything matching the Request-URI.
        '422':
          description: "The request failed to validate. Either a mandatory parameter was missing or no offers for \r\n            the requested stay details"
        '500':
          description: We caught an unexpected error on our side. Please report with providing the Hetras-Tracking-Id from the response headers and we will check the logfiles.
      summary: Get a list of offers for addon services for the specified guest stay details.
      tags:
        - Addons
  /api/booking/v0/blocks:
    get:
      consumes: []
      deprecated: false
      description: "With this endpoint you can request a list of blocks for the hotel chain. Currently we only support to optionally\r\n            filter by the group code linked to the block. Additional filters will be available soon."
      parameters:
        - description: Application identifier
          in: header
          name: App-Id
          required: true
          type: string
          x-data-threescale-name: app_ids
        - description: Application key.
          in: header
          name: App-Key
          required: true
          type: string
          x-data-threescale-name: app_keys
        - description: Only return blocks for this specific hotel.
          format: int32
          in: query
          name: hotelId
          required: false
          type: integer
        - description: Filter the blocks by the specified group code
          in: query
          name: groupCode
          required: false
          type: string
        - description: Return all blocks where the block's last_departure is greater than specified date.
          format: date-time
          in: query
          name: from
          required: false
          type: string
        - description: Return all blocks where the block's last_departure is less than specified date.
          format: date-time
          in: query
          name: to
          required: false
          type: string
        - description: Return all blocks where the block status is one of the specified values.
          enum:
            - Cancelled
            - Tentative
            - Definite
          in: query
          name: status
          required: false
          type: string
        - description: Return all blocks that have related the specified comma-separated rate plans.
          in: query
          items:
            type: string
          name: ratePlanCodes
          required: false
          type: array
        - description: Amount of items to skip.
          format: int32
          in: query
          name: skip
          required: false
          type: integer
        - description: Amount of items to select.
          format: int32
          in: query
          name: top
          required: false
          type: integer
        - description: Return total amount of items for a given filter criteria.
          enum:
            - None
            - AllPages
          in: query
          name: inlinecount
          required: false
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: Returns a list of blocks matching the provided filter criteria.
          schema:
            $ref: '#/definitions/BlocksResponse'
        '204':
          description: There are no blocks matching your filter criteria.
        '400':
          description: Bad request. Request parameters syntactically erroneous.
        '401':
          description: 'You provided wrong credentials, or you reached your API limit.'
        '403':
          description: The application does not have access to the requested resource.
        '404':
          description: Not Found. The server has not found anything matching the Request-URI.
        '500':
          description: We caught an unexpected error on our side. Please report with providing the Hetras-Tracking-Id from the response headers and we will check the logfiles.
      summary: Gets a list of blocks.
      tags:
        - Blocks
  /api/booking/v0/blocks/$count:
    get:
      consumes: []
      deprecated: false
      parameters:
        - description: Application identifier
          in: header
          name: App-Id
          required: true
          type: string
          x-data-threescale-name: app_ids
        - description: Application key.
          in: header
          name: App-Key
          required: true
          type: string
          x-data-threescale-name: app_keys
        - description: Only return blocks for this specific hotel.
          format: int32
          in: query
          name: hotelId
          required: false
          type: integer
        - description: Filter the blocks by the specified group code
          in: query
          name: groupCode
          required: false
          type: string
        - description: Return all blocks where the block's last_departure is greater than specified date.
          format: date-time
          in: query
          name: from
          required: false
          type: string
        - description: Return all blocks where the block's last_departure is less than specified date.
          format: date-time
          in: query
          name: to
          required: false
          type: string
        - description: Return all blocks where the block status is one of the specified values.
          enum:
            - Cancelled
            - Tentative
            - Definite
          in: query
          name: status
          required: false
          type: string
        - description: Return all blocks that have related the specified comma-separated rate plans.
          in: query
          items:
            type: string
          name: ratePlanCodes
          required: false
          type: array
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: The total blocks count for a given filter criteria.
          schema:
            $ref: '#/definitions/TotalCountResponse'
        '401':
          description: 'You provided wrong credentials, or you reached your API limit.'
        '403':
          description: The application does not have access to the requested resource.
        '500':
          description: We couldn't return the representation due to an internal server error.
        '503':
          description: The server is currently unavailable. Please try later.
      summary: Get total blocks count that match the given filter criteria.
      tags:
        - Blocks
  '/api/booking/v0/blocks/{blockCode}':
    get:
      consumes: []
      deprecated: false
      description: Read all informationen about a block including the numbers of blocked rooms per room type and business day.
      parameters:
        - description: Application identifier
          in: header
          name: App-Id
          required: true
          type: string
          x-data-threescale-name: app_ids
        - description: Application key.
          in: header
          name: App-Key
          required: true
          type: string
          x-data-threescale-name: app_keys
        - description: "Specifies the block code. The block code is composed of the hotel code, a dash and the block code \r\n            as shown in the hetras UI."
          in: path
          name: blockCode
          required: true
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: Returns you all details for the specific block.
          schema:
            $ref: '#/definitions/BlockResponse'
        '400':
          description: Bad request. Request parameters syntactically erroneous.
        '401':
          description: 'You provided wrong credentials, or you reached your API limit.'
        '403':
          description: The application does not have access to the requested resource.
        '404':
          description: Not Found. The server has not found anything matching the Request-URI.
        '500':
          description: We caught an unexpected error on our side. Please report with providing the Hetras-Tracking-Id from the response headers and we will check the logfiles.
      summary: Gets the details for a specific block.
      tags:
        - Blocks
  /api/booking/v0/bookings:
    get:
      consumes: []
      deprecated: false
      description: "Here you can easily find bookings matching various criteria. The booking you are looking for has to fullfill all the specified criteria\r\n            at the same time. So if you specify a customer name and a channel code you will get all bookings where the firstname or lastname of a guest or a \r\n            contact contains the specified value and that have been done through the defined channel.\r\n            A booking can consist of multiple reservations, so even if you are looking for a specific reservation which is part of a multi-room booking you will get\r\n            all reservations for this booking returned."
      parameters:
        - description: Application identifier
          in: header
          name: App-Id
          required: true
          type: string
          x-data-threescale-name: app_ids
        - description: Application key.
          in: header
          name: App-Key
          required: true
          type: string
          x-data-threescale-name: app_keys
        - description: Only return bookings for this specific hotel.
          format: int32
          in: query
          name: hotelId
          required: false
          type: integer
        - description: Return bookings for this cancellation id.
          in: query
          name: cancellationId
          required: false
          type: string
        - description: "Return bookings matching this reservation number. Please note that reservation numbers are only unique within a hotel. If you\r\n            don´t specify a hotel filter at the same time you could get back multiple bookings from different hotels."
          format: int32
          in: query
          name: reservationNumber
          required: false
          type: integer
        - description: "Return all bookings where the first or lastname of one of the guests or the contact contains the specified value. The search is executed case insensitive\r\n            and also stripping of any whitespaces."
          in: query
          name: customerName
          required: false
          type: string
        - description: "Return all bookings where the primary email address of one of the guests or the contact contains the specified value. The search is executed case insensitive\r\n            and also stripping of any whitespaces."
          in: query
          name: customerEmail
          required: false
          type: string
        - description: Return all bookings the id of one of the guests or the contact matches the specified value.
          in: query
          name: customerId
          required: false
          type: string
        - description: Return all bookings having the specified room number assigned.
          in: query
          name: roomNumber
          required: false
          type: string
        - description: Return all bookings exactly matching the specified external id. This filter is case sensitive.
          in: query
          name: externalId
          required: false
          type: string
        - description: "Return all bookings where the name of the linked company or travel agent profile contains the specified value. The search is executed case insensitive\r\n            and also stripping of any whitespaces."
          in: query
          name: companyName
          required: false
          type: string
        - description: Return all bookings the id of the company or travel agent profile matches the specified value.
          in: query
          name: companyId
          required: false
          type: string
        - description: "Return all bookings where the primary email address of the company or the travel agent profile contains the specified value. The search is executed case insensitive\r\n            and also stripping of any whitespaces."
          in: query
          name: companyEmail
          required: false
          type: string
        - description: Return all bookings where the block code matches the specified value.
          in: query
          name: blockCode
          required: false
          type: string
        - description: Return all bookings where the reservation status is one of the specified values.
          in: query
          items:
            enum:
              - Tentative
              - Waitlisted
              - OnRequest
              - NonGuaranteed
              - Guaranteed
              - InHouse
              - CheckedOut
              - NoShow
              - Denied
              - Cancelled
              - Released
              - Walked
              - Expired
              - WalkIn
              - Registered
            type: string
          name: reservationStatuses
          required: false
          type: array
        - description: Return all bookings where the market code is one of the specified values.
          in: query
          items:
            type: string
          name: marketCodes
          required: false
          type: array
        - description: Return all bookings where the channel code is one of the specified values.
          in: query
          items:
            type: string
          name: channelCodes
          required: false
          type: array
        - description: Return all bookings where the subchannel code is one of the specified values.
          in: query
          items:
            type: string
          name: subChannelCodes
          required: false
          type: array
        - description: Return all bookings where the room type is one of the specified values.
          in: query
          items:
            type: string
          name: roomTypes
          required: false
          type: array
        - description: Return all bookings where the rate plan code is one of the specified values.
          in: query
          items:
            type: string
          name: ratePlanCodes
          required: false
          type: array
        - description: "Start date for the selected date filter. If you select arrival date as date filter the bookings returned will have at least\r\n            one reservation arriving on the specified date or later."
          format: date-time
          in: query
          name: from
          required: false
          type: string
        - description: "End date for the selected date filter. If you select arrival date as date filter the bookings returned will have at least\r\n            one reservation arriving on the specified date or earlier."
          format: date-time
          in: query
          name: to
          required: false
          type: string
        - description: "Select a date field you want to filter bookings by. Only one filter at a time can be applied. The to and from dates\r\n            will then define the time range."
          enum:
            - ArrivalDate
            - DepartureDate
            - StayDate
            - CreationDate
            - ModificationDate
          in: query
          name: dateFilter
          required: false
          type: string
        - description: Amount of items to skip.
          format: int32
          in: query
          name: skip
          required: false
          type: integer
        - description: Amount of items to select.
          format: int32
          in: query
          name: top
          required: false
          type: integer
        - description: Return total amount of items for a given filter criteria.
          enum:
            - None
            - AllPages
          in: query
          name: inlinecount
          required: false
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: A list of reservations for the requested hotel identifier.
          schema:
            $ref: '#/definitions/BookingListResponse'
        '204':
          description: There are no bookings matching your filter criteria.
        '401':
          description: 'You provided wrong credentials, or you reached your API limit.'
        '403':
          description: The application does not have access to the requested resource.
        '404':
          description: Not Found. The server has not found anything matching the Request-URI.
        '422':
          description: Bad request. Request parameters syntactically erroneous.
        '500':
          description: We caught an unexpected error on our side. Please report with providing the Hetras-Tracking-Id from the response headers and we will check the logfiles.
        '503':
          description: The server is currently unavailable. Please try later.
      summary: Find bookings matching the given filter criteria.
      tags:
        - Reservation
    post:
      consumes:
        - application/json
        - text/json
      deprecated: false
      description: "Create a new booking as defined in the requests payload. You can get more information about the payload if you check out the\r\n            documentation for the reservation request model.<br />\r\n            Please also have a look at the <a href=\"https://developer.hetras.com/docs/tutorials\" onfocus=\"this.blur()\">Tutorials</a>.<br />\r\n            For more details on how the API responds to errors please check our documentation on \r\n            <a href=\"https://developer.hetras.com/docs/errors/\" onfocus=\"this.blur()\">Error Handling</a>."
      parameters:
        - description: Application identifier
          in: header
          name: App-Id
          required: true
          type: string
          x-data-threescale-name: app_ids
        - description: Application key.
          in: header
          name: App-Key
          required: true
          type: string
          x-data-threescale-name: app_keys
        - description: Specifies the details of the booking to be created.
          in: body
          name: reservation
          required: true
          schema:
            $ref: '#/definitions/Reservation'
        - description: Whether to send a confirmation email to the primary guest
          in: query
          name: sendConfirmation
          required: false
          type: boolean
      produces:
        - application/json
        - text/json
      responses:
        '201':
          description: "The creation of the booking was successful. You will get back the confirmation id and maybe warnings, if\r\n            e.g. the prepayment could not be captured."
          schema:
            $ref: '#/definitions/BaseResponse'
        '400':
          description: Bad request. Request parameters or request body erroneous.
        '401':
          description: 'You provided wrong credentials, or you reached your API limit.'
        '403':
          description: The application does not have access to the requested resource.
        '404':
          description: Not Found. The server has not found anything matching the Request-URI.
        '422':
          description: The request failed to validate.
        '500':
          description: We caught an unexpected error on our side. Please report with providing the Hetras-Tracking-Id from the response headers and we will check the logfiles.
        '503':
          description: The server is currently unavailable. Please try later.
      summary: Create a new booking.
      tags:
        - Reservation
  /api/booking/v0/bookings/$count:
    get:
      consumes: []
      deprecated: false
      description: "Get the count of all bookings matching your criteria. The bookings have to fullfill all the specified criteria\r\n            at the same time. So if you specify a customer name and a channel code you will get the count for all bookings where the firstname or lastname \r\n            of a guest or a contact contains the specified value and that have been done through the defined channel."
      parameters:
        - description: Application identifier
          in: header
          name: App-Id
          required: true
          type: string
          x-data-threescale-name: app_ids
        - description: Application key.
          in: header
          name: App-Key
          required: true
          type: string
          x-data-threescale-name: app_keys
        - description: Only return bookings for this specific hotel.
          format: int32
          in: query
          name: hotelId
          required: false
          type: integer
        - description: Return bookings for this cancellation id.
          in: query
          name: cancellationId
          required: false
          type: string
        - description: "Return bookings matching this reservation number. Please note that reservation numbers are only unique within a hotel. If you\r\n            don´t specify a hotel filter at the same time you could get back multiple bookings from different hotels."
          format: int32
          in: query
          name: reservationNumber
          required: false
          type: integer
        - description: "Return all bookings where the first or lastname of one of the guests or the contact contains the specified value. The search is executed case insensitive\r\n            and also stripping of any whitespaces."
          in: query
          name: customerName
          required: false
          type: string
        - description: "Return all bookings where the primary email address of one of the guests or the contact contains the specified value. The search is executed case insensitive\r\n            and also stripping of any whitespaces."
          in: query
          name: customerEmail
          required: false
          type: string
        - description: Return all bookings the id of one of the guests or the contact matches the specified value.
          in: query
          name: customerId
          required: false
          type: string
        - description: Return all bookings having the specified room number assigned.
          in: query
          name: roomNumber
          required: false
          type: string
        - description: Return all bookings exactly matching the specified external id. This filter is case sensitive.
          in: query
          name: externalId
          required: false
          type: string
        - description: "Return all bookings where the name of the linked company or travel agent profile contains the specified value. The search is executed case insensitive\r\n            and also stripping of any whitespaces."
          in: query
          name: companyName
          required: false
          type: string
        - description: Return all bookings the id of the company or travel agent profile matches the specified value.
          in: query
          name: companyId
          required: false
          type: string
        - description: "Return all bookings where the primary email address of the company or the travel agent profile contains the specified value. The search is executed case insensitive\r\n            and also stripping of any whitespaces."
          in: query
          name: companyEmail
          required: false
          type: string
        - description: Return all bookings where the block code matches the specified value.
          in: query
          name: blockCode
          required: false
          type: string
        - description: Return all bookings where the reservation status is one of the specified values.
          in: query
          items:
            enum:
              - Tentative
              - Waitlisted
              - OnRequest
              - NonGuaranteed
              - Guaranteed
              - InHouse
              - CheckedOut
              - NoShow
              - Denied
              - Cancelled
              - Released
              - Walked
              - Expired
              - WalkIn
              - Registered
            type: string
          name: reservationStatuses
          required: false
          type: array
        - description: Return all bookings where the market code is one of the specified values.
          in: query
          items:
            type: string
          name: marketCodes
          required: false
          type: array
        - description: Return all bookings where the channel code is one of the specified values.
          in: query
          items:
            type: string
          name: channelCodes
          required: false
          type: array
        - description: Return all bookings where the subchannel code is one of the specified values.
          in: query
          items:
            type: string
          name: subChannelCodes
          required: false
          type: array
        - description: Return all bookings where the room type is one of the specified values.
          in: query
          items:
            type: string
          name: roomTypes
          required: false
          type: array
        - description: Return all bookings where the rate plan code is one of the specified values.
          in: query
          items:
            type: string
          name: ratePlanCodes
          required: false
          type: array
        - description: "Start date for the selected date filter. If you select arrival date as date filter the bookings returned will have at least\r\n            one reservation arriving on the specified date or later."
          format: date-time
          in: query
          name: from
          required: false
          type: string
        - description: "End date for the selected date filter. If you select arrival date as date filter the bookings returned will have at least\r\n            one reservation arriving on the specified date or earlier."
          format: date-time
          in: query
          name: to
          required: false
          type: string
        - description: "Select a date field you want to filter bookings by. Only one filter at a time can be applied. The to and from dates\r\n            will then define the time range."
          enum:
            - ArrivalDate
            - DepartureDate
            - StayDate
            - CreationDate
            - ModificationDate
          in: query
          name: dateFilter
          required: false
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: The total booking count for a given filter criteria.
          schema:
            $ref: '#/definitions/TotalCountResponse'
        '401':
          description: 'You provided wrong credentials, or you reached your API limit.'
        '403':
          description: The application does not have access to the requested resource.
        '500':
          description: We caught an unexpected error on our side. Please report with providing the Hetras-Tracking-Id from the response headers and we will check the logfiles.
        '503':
          description: The server is currently unavailable. Please try later.
      summary: Get total count of bookings matchung the given filter criteria.
      tags:
        - Reservation
  '/api/booking/v0/bookings/{confirmationId}':
    get:
      consumes: []
      deprecated: false
      description: "A booking groups all reservations done in one single request and can be identified by the confirmation id.\r\n            Guests usually use the confirmation id to check in at the kiosk, on the website or mobile device. In hetras\r\n            all reservations of one booking share the room type, rate plan and number of guests per room."
      parameters:
        - description: Application identifier
          in: header
          name: App-Id
          required: true
          type: string
          x-data-threescale-name: app_ids
        - description: Application key.
          in: header
          name: App-Key
          required: true
          type: string
          x-data-threescale-name: app_keys
        - description: The confirmation id for the booking to load.
          in: path
          name: confirmationId
          required: true
          type: string
        - description: Specifies the expand type.
          enum:
            - None
            - RoomRates
          in: query
          name: expand
          required: false
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: Returns a list of all reservations for that booking.
          schema:
            $ref: '#/definitions/ReservationsResponse'
        '400':
          description: Bad request. Request parameters syntactically erroneous.
        '401':
          description: 'You provided wrong credentials, or you reached your API limit.'
        '403':
          description: The application does not have access to the requested resource.
        '404':
          description: Not Found. The server has not found anything matching the Request-URI.
        '500':
          description: We caught an unexpected error on our side. Please report with providing the Hetras-Tracking-Id from the response headers and we will check the logfiles.
        '503':
          description: The server is currently unavailable. Please try later.
      summary: Load all reservations for one booking by confirmation id.
      tags:
        - Reservation
  '/api/booking/v0/bookings/{confirmationId}/reservations/{reservationNumber}':
    get:
      consumes: []
      deprecated: false
      description: With this request you can load one specific reservation done with one booking request.
      parameters:
        - description: Application identifier
          in: header
          name: App-Id
          required: true
          type: string
          x-data-threescale-name: app_ids
        - description: Application key.
          in: header
          name: App-Key
          required: true
          type: string
          x-data-threescale-name: app_keys
        - description: The confirmation id for the booking the reservation was made.
          in: path
          name: confirmationId
          required: true
          type: string
        - description: Specifies the reservation number for the reservation to load.
          format: int32
          in: path
          name: reservationNumber
          required: true
          type: integer
        - description: Specifies the expand type.
          enum:
            - None
            - RoomRates
          in: query
          name: expand
          required: false
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: Returns the details of the reservation specified.
          schema:
            $ref: '#/definitions/ReservationResponse'
        '400':
          description: Bad request. Request parameters syntactically erroneous.
        '401':
          description: 'You provided wrong credentials, or you reached your API limit.'
        '403':
          description: The application does not have access to the requested resource.
        '404':
          description: Not Found. The server has not found anything matching the Request-URI.
        '500':
          description: We caught an unexpected error on our side. Please report with providing the Hetras-Tracking-Id from the response headers and we will check the logfiles.
        '503':
          description: The server is currently unavailable. Please try later.
      summary: Load a specific reservation from a booking.
      tags:
        - Reservation
  '/api/booking/v0/bookings/{confirmationId}/reservations/{reservationNumber}/assign_room':
    post:
      consumes:
        - application/json
        - text/json
      deprecated: false
      description: "By default this API call assigns a random room, which has the proper room type, is not already assigned\r\n            to another reservation or has any maintenance status set for the stay period of the underlying reservation. If the\r\n            arrival date for the underlying reservation is the current business day dirty rooms are excluded by default. For reservation\r\n            arriving on any latter day the room condition is not taken into account.<br />\r\n            By specifiying the room selection criteria in the request body you can influence which room will be assigned. See the request model\r\n            for further details.<br />\r\n            For more details on how the API responds to errors please check our documentation on \r\n            <a href=\"https://developer.hetras.com/docs/errors/\" onfocus=\"this.blur()\">Error Handling</a>."
      parameters:
        - description: Application identifier
          in: header
          name: App-Id
          required: true
          type: string
          x-data-threescale-name: app_ids
        - description: Application key.
          in: header
          name: App-Key
          required: true
          type: string
          x-data-threescale-name: app_keys
        - description: The confirmation id for the booking the reservation was made.
          in: path
          name: confirmationId
          required: true
          type: string
        - description: Specifies the reservation number for the reservation the room should be assigned to.
          format: int32
          in: path
          name: reservationNumber
          required: true
          type: integer
        - description: Specifies the criteria for the room selection.
          in: body
          name: assigningCriteria
          required: false
          schema:
            $ref: '#/definitions/AssignRoomCriteria'
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: The room assignment was successful. The Reponse would contain the room number assigned.
          schema:
            $ref: '#/definitions/AssignRoomResponse'
        '400':
          description: Bad request. Request parameters or request body erroneous.
        '401':
          description: 'You provided wrong credentials, or you reached your API limit.'
        '403':
          description: The application does not have access to the requested resource.
        '404':
          description: Not Found. The server has not found anything matching the Request-URI.
        '422':
          description: The request failed to validate. The reason could be no available rooms or a mismatch of room types etc.
        '500':
          description: We caught an unexpected error on our side. Please report with providing the Hetras-Tracking-Id from the response headers and we will check the logfiles.
        '503':
          description: The server is currently unavailable. Please try later.
      summary: Assign a room to a reservation.
      tags:
        - Reservation
  '/api/booking/v0/bookings/{confirmationId}/reservations/{reservationNumber}/cancel':
    post:
      consumes: []
      deprecated: false
      description: "This request will cancel one specific reservation. It will show up in the hetras UI in the Cancellation and NoShow\r\n            processing screen and it will be up to the hotel staff to either charge or waive the cancellation fee.<br />\r\n            For more details on how the API responds to errors please check our documentation on \r\n            <a href=\"https://developer.hetras.com/docs/errors/\" onfocus=\"this.blur()\">Error Handling</a>."
      parameters:
        - description: Application identifier
          in: header
          name: App-Id
          required: true
          type: string
          x-data-threescale-name: app_ids
        - description: Application key.
          in: header
          name: App-Key
          required: true
          type: string
          x-data-threescale-name: app_keys
        - description: The confirmation id for the booking the reservation was made.
          in: path
          name: confirmationId
          required: true
          type: string
        - description: Specifies the reservation number for the reservation to cancel.
          format: int32
          in: path
          name: reservationNumber
          required: true
          type: integer
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: Returns the cancellation id and the cancellation fee that will be charged to the folio of the reservation.
          schema:
            $ref: '#/definitions/CancellationResponse'
        '400':
          description: Bad request. Request parameters or request body erroneous.
        '401':
          description: 'You provided wrong credentials, or you reached your API limit.'
        '403':
          description: The application does not have access to the requested resource.
        '404':
          description: Not Found. The server has not found anything matching the Request-URI.
        '500':
          description: We caught an unexpected error on our side. Please report with providing the Hetras-Tracking-Id from the response headers and we will check the logfiles.
        '503':
          description: The server is currently unavailable. Please try later.
      summary: Cancel one reservation.
      tags:
        - Reservation
  /api/booking/v0/rates:
    get:
      consumes: []
      deprecated: false
      description: "With the rates request you can get a list of different rate offers per room type. You will have to at least \r\n            specify the hotel, the arrival and departure date, number of adults per room and the channel code. The channel code\r\n            will define which rates will be returned based on the access control configuration for the rates."
      parameters:
        - description: Application identifier
          in: header
          name: App-Id
          required: true
          type: string
          x-data-threescale-name: app_ids
        - description: Application key.
          in: header
          name: App-Key
          required: true
          type: string
          x-data-threescale-name: app_keys
        - description: Specifies the hotel id to request offers for.
          format: int32
          in: query
          name: hotelId
          required: true
          type: integer
        - description: Date of arrival for the guest in the ISO-8601 format "YYYY-MM-DD".
          format: date-time
          in: query
          name: arrivalDate
          required: true
          type: string
        - description: Date of departure for the guest in the ISO-8601 format "YYYY-MM-DD".
          format: date-time
          in: query
          name: departureDate
          required: true
          type: string
        - description: Channel Code the rate plan needs to be configured for.
          in: query
          name: channelCode
          required: true
          type: string
        - description: Number of adults per room.
          format: byte
          in: query
          minimum: 1
          name: adults
          required: true
          type: string
        - description: Number of rooms (default is 1).
          format: byte
          in: query
          minimum: 1
          name: rooms
          required: false
          type: string
        - description: Only return offers with rates for the specified room type code.
          in: query
          name: roomType
          required: false
          type: string
        - description: Only return offers for the specified room type code.
          in: query
          name: ratePlanCode
          required: false
          type: string
        - description: Only return offers for the specified group code.
          in: query
          name: groupCode
          required: false
          type: string
        - description: Expand the rates breakdown if required.
          enum:
            - None
            - Breakdown
          in: query
          name: expand
          required: false
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: Different rates for the requested stay details grouped by room type.
          schema:
            $ref: '#/definitions/Rates'
        '400':
          description: Bad request. Request parameters syntactically erroneous.
        '401':
          description: 'You provided wrong credentials, or you reached your API limit.'
        '403':
          description: The application does not have access to the requested resource.
        '404':
          description: Not Found. The server has not found anything matching the Request-URI.
        '422':
          description: "The request failed to validate. Either a mandatory parameter was missing or no offers for \r\n            the requested stay details"
        '500':
          description: We caught an unexpected error on our side. Please report with providing the Hetras-Tracking-Id from the response headers and we will check the logfiles.
      summary: Get a list of room offers for the specified guest stay details.
      tags:
        - Rates
definitions:
  AcceptedGuaranteeTypes:
    properties:
      accepted:
        description: "In this list you find all the accepted guarantee types for this offer. They are sorted in ascending\r\n            order."
        items:
          enum:
            - PM4Hold
            - PM6Hold
            - GuaranteeToCreditCard
            - GuaranteeToGuestAccount
            - GuaranteeByTravelAgent
            - GuaranteeByCompany
            - Deposit
            - Voucher
            - Prepayment
            - NonGuaranteed
            - Tentative
            - Waitlist
          type: string
        type: array
      minimum:
        description: "Based on the rateplan a reservation does need to have a minimum guarantee. When you create a new booking you\r\n            can always use a higher guarantee type starting from the minimum. If you do not specify a guarantee when creating\r\n            a new booking using this offer this guarantee type will be used by default. See \r\n            https://developer.hetras.com/docs/tutorials#payment for information about guarantee types and payment details"
        enum:
          - PM4Hold
          - PM6Hold
          - GuaranteeToCreditCard
          - GuaranteeToGuestAccount
          - GuaranteeByTravelAgent
          - GuaranteeByCompany
          - Deposit
          - Voucher
          - Prepayment
          - NonGuaranteed
          - Tentative
          - Waitlist
        type: string
    type: object
  AddonOffer:
    properties:
      breakdown:
        description: "In this collection you will get an entry with price information for every day the addon service will be charged\r\n            to the folio of the reservation if the addon service is booked."
        items:
          $ref: '#/definitions/AddonOfferBreakdown'
        type: array
      code:
        description: The code of the addon service
        type: string
      description:
        description: The description of the addon service
        type: string
      frequency:
        description: "The frequency this addon service will be charged to the reservation. This field is a string that can be displayed,\r\n            but is not supposed to be used for computation"
        type: string
      name:
        description: The name of the addon service
        type: string
      rate_mode:
        description: "The price for an addon service can be per person or per room. All the prices in an offer are already calculated\r\n            for all rooms and number of persons per room. Based on this attribute you will be able to know how to calculate\r\n            the price per person and room, per room or per person depending on your needs."
        enum:
          - PerRoom
          - PerPerson
        type: string
      total_stay:
        $ref: '#/definitions/AddonOfferRate'
        description: "This object gives you the price information if this addon service is booked for the total stay defined in your\r\n            request by arrivalDate and departureDate"
    type: object
  AddonOfferBreakdown:
    properties:
      business_day:
        description: The business day the price for the addon service will be posted to the folio of the reservation
        format: date-time
        type: string
      currency:
        description: The currency the addon service will be charged in.
        type: string
      included_tax:
        description: "The amount of taxes already included in the gross rate of the addon service also calculated for all rooms and\r\n            all persons."
        format: double
        type: number
      rate:
        description: The gross rate of the addon service. It is the price calculated for all rooms and all persons.
        format: double
        type: number
    type: object
  AddonOfferRate:
    properties:
      currency:
        description: The currency the addon service will be charged in.
        type: string
      included_tax:
        description: "The amount of taxes already included in the gross rate of the addon service also calculated for all rooms and\r\n            all persons."
        format: double
        type: number
      rate:
        description: The gross rate of the addon service. It is the price calculated for all rooms and all persons.
        format: double
        type: number
    type: object
  Addons:
    properties:
      addon_services:
        description: A collection of offers for addon services.
        items:
          $ref: '#/definitions/AddonOffer'
        type: array
      adults:
        description: The number of adults per room the addon offers are requested for. The rates will then already reflects this.
        format: int32
        type: integer
      arrival_date:
        description: The arrival date of the reservation the addon offers are supposed to be booked on.
        format: date-time
        type: string
      departure_date:
        description: The departure date of the reservation the addon offers are supposed to be booked on.
        format: date-time
        type: string
      hotel_id:
        description: The id of the hotel the addon offers will be valid for
        format: int32
        type: integer
      hotel_name:
        description: The name of the hotel the addon offers will be valid for
        type: string
      rate_plan:
        $ref: '#/definitions/RatePlan'
        description: "The rate plan all the addon offers are valid for. The reservation you want to book this addons for needs\r\n            to have the same rate plan otherwise you might see different prices on the target reservation."
      room:
        $ref: '#/definitions/ReservationRoom'
        description: "The room type all the addon offers are valid for. The reservation you want to book this addons for needs\r\n            to have the same room type otherwise you might see different prices on the target reservation."
      rooms:
        description: The number of rooms the addon offers are requested for. The rates will then already reflects this.
        format: int32
        type: integer
    type: object
  AssignRoomCriteria:
    description: Represents a set of criteria for assigning a room
    properties:
      amenities:
        description: Ensure the assigned room will have all the amenities specified. You can provide a comma seperated list of amenity codes.
        items:
          type: string
        type: array
      condition:
        description: "Here you can define to limit the list of assignable rooms based on their current condition. This is only applicable if the underlying reservation\r\n            is due to arrive on the current business day. If not set by default only clean rooms will be assigned."
        enum:
          - CleanNotInspected
          - Clean
          - Dirty
          - Any
        type: string
      include_out_of_service:
        description: "Sometimes you might want to assign rooms which are out of service (small repair needed) if no other rooms are available anymore. If you set\r\n            include_out_of_service to true even those rooms will be considered. The default is false."
        type: boolean
      locations:
        description: Ensure the assigned room will have at least one of the specified locations. You can provide a comma seperated list of location codes.
        items:
          type: string
        type: array
      respect_guest_preferences:
        description: "Defines if the preferences for locations, amenities and views of the primary guest should be taken into account. All defined preferences in the guest\r\n            profile override any of the criteria defined in the request body. The default is false."
        type: boolean
      room_number:
        description: "If you define a specific room number this room will be assigned if not assigned to another reservation, has proper room type and is not OutOfOrder \r\n            or OutOfInventory for the stay duration of the underlying reservaton. If set all other filter criteria will be ignored."
        type: string
      views:
        description: Ensure the assigned room will have at least one of the specified views. You can provide a comma seperated list of view codes.
        items:
          type: string
        type: array
    type: object
  AssignRoomResponse:
    description: Defines the response for room assignment operation
    properties:
      _warnings:
        description: "Warnings that came up when your request was processed. Your request will still be processed successfull when\r\n            you see such warnings in your response"
        items:
          type: string
        type: array
      room_number:
        description: The room number assigned
        type: string
    type: object
  BaseResponse:
    properties:
      _warnings:
        description: "Warnings that came up when your request was processed. Your request will still be processed successfull when\r\n            you see such warnings in your response"
        items:
          type: string
        type: array
    type: object
  Block:
    properties:
      _links:
        additionalProperties:
          $ref: '#/definitions/LinkObject'
        description: Collection of links to related resources
        type: object
      average_daily_rate:
        description: Average daily rate for this block. You can multiply by the count of blocked room nights and get a forecast value for this block
        format: double
        type: number
      code:
        description: "The code of a block. The code is composed of the hotel code a dash and the block code shown in the hetras UI. \r\n            An example block code on the API for a block with code TRAVEL1 defined for the hotel with code ABC \r\n            would be ABC-TRAVEL1"
        type: string
      count:
        description: Total number of room nights blocked across all room types and days
        format: int32
        type: integer
      first_arrival:
        description: (Earliest) arrival date for reservations split from this block
        format: date-time
        type: string
      group:
        $ref: '#/definitions/GroupMaster'
        description: Group master template linked to this block
      hotel:
        $ref: '#/definitions/HotelSummary'
        description: Hotel information for the hotel the rooms are blocked for
      last_departure:
        description: (Latest) departure date for reservations split from this block
        format: date-time
        type: string
      name:
        description: The name of the block
        type: string
      picked:
        description: Total number of room nights picked up accross all room types and days
        format: int32
        type: integer
      rate_plans:
        description: The rateplans linked to this block
        items:
          $ref: '#/definitions/BlockRatePlan'
        type: array
      status:
        description: The current status of the block
        enum:
          - Physical
          - Cancelled
          - Tentative
          - Definite
        type: string
    type: object
  BlockInfo:
    properties:
      _links:
        additionalProperties:
          $ref: '#/definitions/LinkObject'
        description: Collection of links to related resources
        type: object
      code:
        description: "The code is composed of the hotel code a dash and the block code shown in the hetras UI. An \r\n            example block code on the API for a block with code TRAVEL1 defined for the hotel with code ABC would \r\n            be ABC-TRAVEL1"
        type: string
      name:
        description: The name of the block
        type: string
    type: object
  BlockListRequest:
    properties:
      from:
        description: Return all blocks where the block's last_departure is greater than specified date.
        format: date-time
        type: string
      groupCode:
        description: Filter the blocks by the specified group code
        type: string
      hotelId:
        description: Only return blocks for this specific hotel.
        format: int32
        type: integer
      ratePlanCodes:
        description: Return all blocks that have related the specified comma-separated rate plans.
        items:
          type: string
        type: array
      status:
        description: Return all blocks where the block status is one of the specified values.
        enum:
          - Cancelled
          - Tentative
          - Definite
        type: string
      to:
        description: Return all blocks where the block's last_departure is less than specified date.
        format: date-time
        type: string
    type: object
  BlockRatePlan:
    properties:
      code:
        description: Code of the rate plan
        type: string
      description:
        description: Description of the rate plan suitable for being displayed to customers
        type: string
      forecast:
        description: Speficies if this is the rateplan that should be used for calculating the forecast
        type: boolean
      name:
        description: Name of the rate plan
        type: string
    type: object
  BlockResponse:
    properties:
      _links:
        additionalProperties:
          $ref: '#/definitions/LinkObject'
        description: Collection of links to related resources
        type: object
      average_daily_rate:
        description: Average daily rate for this block. You can multiply by the count of blocked room nights and get a forecast value for this block
        format: double
        type: number
      code:
        description: "The code of a block. The code is composed of the hotel code a dash and the block code shown in the hetras UI. \r\n            An example block code on the API for a block with code TRAVEL1 defined for the hotel with code ABC \r\n            would be ABC-TRAVEL1"
        type: string
      count:
        description: Total number of room nights blocked across all room types and days
        format: int32
        type: integer
      first_arrival:
        description: (Earliest) arrival date for reservations split from this block
        format: date-time
        type: string
      group:
        $ref: '#/definitions/GroupMaster'
        description: Group master template linked to this block
      hotel:
        $ref: '#/definitions/HotelSummary'
        description: Hotel information for the hotel the rooms are blocked for
      last_departure:
        description: (Latest) departure date for reservations split from this block
        format: date-time
        type: string
      name:
        description: The name of the block
        type: string
      picked:
        description: Total number of room nights picked up accross all room types and days
        format: int32
        type: integer
      rate_plans:
        description: The rateplans linked to this block
        items:
          $ref: '#/definitions/BlockRatePlan'
        type: array
      room_type_counts:
        description: Number of blocked and picked up rooms per room type and day.
        items:
          $ref: '#/definitions/RoomTypeCount'
        type: array
      status:
        description: The current status of the block
        enum:
          - Physical
          - Cancelled
          - Tentative
          - Definite
        type: string
    type: object
  BlockRoomType:
    properties:
      _links:
        additionalProperties:
          $ref: '#/definitions/LinkObject'
        description: Collection of links to related resources
        type: object
      code:
        description: Code of the room type
        type: string
      name:
        description: Name of the room type
        type: string
    type: object
  BlocksResponse:
    properties:
      _count:
        description: The number of items matching your request in total for all pages.
        format: int32
        type: integer
      _links:
        additionalProperties:
          $ref: '#/definitions/LinkObject'
        description: Collection of links to related resources
        type: object
      blocks:
        description: List of all blocks matching the given filter criteria.
        items:
          $ref: '#/definitions/Block'
        type: array
    type: object
  BookingListItem:
    properties:
      _links:
        additionalProperties:
          $ref: '#/definitions/LinkObject'
        description: Collection of links to related resources
        type: object
      confirmation_id:
        description: "The confirmation id for the booking which the guest can use to check in on the kiosk, add the\r\n            booking to the mobile app etc. It is used as identifier for all reservations done with the same\r\n            booking request."
        type: string
      reservations:
        description: Collection of reservations made with on booking request.
        items:
          $ref: '#/definitions/BookingListReservationItem'
        type: array
    type: object
  BookingListRequest:
    properties:
      blockCode:
        description: Return all bookings where the block code matches the specified value.
        type: string
      cancellationId:
        description: Return bookings for this cancellation id.
        type: string
      channelCodes:
        description: Return all bookings where the channel code is one of the specified values.
        items:
          type: string
        type: array
      companyEmail:
        description: "Return all bookings where the primary email address of the company or the travel agent profile contains the specified value. The search is executed case insensitive\r\n            and also stripping of any whitespaces."
        type: string
      companyId:
        description: Return all bookings the id of the company or travel agent profile matches the specified value.
        type: string
      companyName:
        description: "Return all bookings where the name of the linked company or travel agent profile contains the specified value. The search is executed case insensitive\r\n            and also stripping of any whitespaces."
        type: string
      customerEmail:
        description: "Return all bookings where the primary email address of one of the guests or the contact contains the specified value. The search is executed case insensitive\r\n            and also stripping of any whitespaces."
        type: string
      customerId:
        description: Return all bookings the id of one of the guests or the contact matches the specified value.
        type: string
      customerName:
        description: "Return all bookings where the first or lastname of one of the guests or the contact contains the specified value. The search is executed case insensitive\r\n            and also stripping of any whitespaces."
        type: string
      dateFilter:
        description: "Select a date field you want to filter bookings by. Only one filter at a time can be applied. The to and from dates\r\n            will then define the time range."
        enum:
          - ArrivalDate
          - DepartureDate
          - StayDate
          - CreationDate
          - ModificationDate
        type: string
      externalId:
        description: Return all bookings exactly matching the specified external id. This filter is case sensitive.
        type: string
      from:
        description: "Start date for the selected date filter. If you select arrival date as date filter the bookings returned will have at least\r\n            one reservation arriving on the specified date or later."
        format: date-time
        type: string
      hotelId:
        description: Only return bookings for this specific hotel.
        format: int32
        type: integer
      marketCodes:
        description: Return all bookings where the market code is one of the specified values.
        items:
          type: string
        type: array
      ratePlanCodes:
        description: Return all bookings where the rate plan code is one of the specified values.
        items:
          type: string
        type: array
      reservationNumber:
        description: "Return bookings matching this reservation number. Please note that reservation numbers are only unique within a hotel. If you\r\n            don´t specify a hotel filter at the same time you could get back multiple bookings from different hotels."
        format: int32
        type: integer
      reservationStatuses:
        description: Return all bookings where the reservation status is one of the specified values.
        items:
          enum:
            - Tentative
            - Waitlisted
            - OnRequest
            - NonGuaranteed
            - Guaranteed
            - InHouse
            - CheckedOut
            - NoShow
            - Denied
            - Cancelled
            - Released
            - Walked
            - Expired
            - WalkIn
            - Registered
          type: string
        type: array
      roomNumber:
        description: Return all bookings having the specified room number assigned.
        type: string
      roomTypes:
        description: Return all bookings where the room type is one of the specified values.
        items:
          type: string
        type: array
      subChannelCodes:
        description: Return all bookings where the subchannel code is one of the specified values.
        items:
          type: string
        type: array
      to:
        description: "End date for the selected date filter. If you select arrival date as date filter the bookings returned will have at least\r\n            one reservation arriving on the specified date or earlier."
        format: date-time
        type: string
    type: object
  BookingListReservationItem:
    properties:
      _links:
        additionalProperties:
          $ref: '#/definitions/LinkObject'
        description: Collection of links to related resources
        type: object
      addon_services:
        description: "A list of addon service codes that are currently booked on the reservation. Services which are charged\r\n            once per stay are only visible before and on the day they are booked for"
        items:
          type: string
        type: array
      adults:
        description: The number of adults per room
        format: int32
        type: integer
      arrival_date:
        description: The arrival date of the guests
        format: date-time
        type: string
      balance:
        description: "The balance for all folios of this reservartion. It is calculated by all already charged room and service rates plus manual charges \r\n            or charges from other systems like POS minus all payments. A negative balance indicates the reservation is overpaid, a positive balance \r\n            that the guest owes the hotel money"
        format: double
        type: number
      block_code:
        description: If this reservation is a pick-up from a block you will see the appropriate block code here
        type: string
      cancellation_id:
        description: The cancellation id if the reservation has been cancelled
        type: string
      channel_code:
        description: "The code of the channel that was used when the booking has been created. It is also known as source. \r\n            Possible values can be OTA, GDS or DIRECT, but it is configurable per hotel"
        type: string
      companies:
        $ref: '#/definitions/CompaniesInfo'
        description: Information about related companies
      customers:
        $ref: '#/definitions/CustomersInfo'
        description: Information about customers
      departure_date:
        description: The departure date of the guests
        format: date-time
        type: string
      external_id:
        description: "The external id for this reservation is the unique identifier from the system that created the booking in hetras. It could be the id of an\r\n            OTA like Expedia or booking.com or one of the GDS systems like Amadeus or Galileo"
        type: string
      hotel:
        $ref: '#/definitions/HotelInfo'
        description: Information about the hotel the reservation belongs to
      market_code:
        description: The code of the market segment the rate plan for this reservation is linked to
        type: string
      rate_plan:
        $ref: '#/definitions/RatePlan'
        description: The rate plan details this reservation is related to
      reservation_number:
        description: The reservation number of the reservation
        format: int32
        type: integer
      reservation_status:
        description: The current status of this reservation
        enum:
          - Tentative
          - Waitlisted
          - OnRequest
          - NonGuaranteed
          - Guaranteed
          - InHouse
          - CheckedOut
          - NoShow
          - Denied
          - Cancelled
          - Released
          - Walked
          - Expired
          - WalkIn
          - Registered
        type: string
      room:
        $ref: '#/definitions/RoomInfo'
        description: "The room type this reservation is related to and if applicable the already assigned specific room for \r\n            this reservation"
      rooms:
        description: "The number of rooms this reservation is valid for. After a multi-room booking is done there will be \r\n            one reservation in hetras for this booking for all rooms. The hotel staff then will split this reservation into\r\n            one reservation per room to be able to check in the guests"
        format: int32
        type: integer
      services:
        description: A list of details for all services included and addon service booked on this reservation
        items:
          $ref: '#/definitions/Service'
        type: array
      subchannel_code:
        description: "The code of the subchannel that was used when the booking has been created. Possible values can be \r\n            BOOKING, EXPEDIA or WALKIN, but it is configurable per hotel"
        type: string
    type: object
  BookingListResponse:
    properties:
      _count:
        description: The number of items matching your request in total for all pages.
        format: int32
        type: integer
      _links:
        additionalProperties:
          $ref: '#/definitions/LinkObject'
        description: Collection of links to related resources
        type: object
      bookings:
        description: Collection of bookings that match the defined filter criteria.
        items:
          $ref: '#/definitions/BookingListItem'
        type: array
    type: object
  CancellationPolicy:
    properties:
      description:
        description: Description of the cancellation policy suitable for displaying to customers
        type: string
      fee:
        description: The fee a guest has to pay when cancelling the reservation
        format: double
        type: number
      fee_date:
        description: The date and time in UTC from when the fee has to be paid in case of cancellation
        format: date-time
        type: string
    type: object
  CancellationResponse:
    description: Result of cancel operation
    properties:
      _warnings:
        description: "Warnings that came up when your request was processed. Your request will still be processed successfull when\r\n            you see such warnings in your response"
        items:
          type: string
        type: array
      balance:
        description: The current balance on the reservations folio without the cancellation fee
        format: double
        type: number
      cancellation_fee:
        description: "The fee that might be charged to the folio of the reservation. The cancelled reservation will\r\n            show up in the cancellation and no show processing screen and the hotel staff will either charge\r\n            the fee or waive it."
        format: double
        type: number
      cancellation_id:
        description: The id of the successful cancellation. With this id the hotel staff will be able to find the reservation
        type: string
    type: object
  Card:
    properties:
      id:
        type: string
    type: object
  CompaniesInfo:
    properties:
      company:
        $ref: '#/definitions/Company'
        description: The company linked to this reservation
      travel_agent:
        $ref: '#/definitions/Company'
        description: The travel agent linked to this reservation
    type: object
  Company:
    properties:
      company_id:
        description: "The id of a company profile. The id is build out of the Supplier Code a dash and the profile id\r\n            shown in the hetras UI. An example id on the API for a profile with id 12345 on the level of supplier ABC \r\n            would be ABC-12345"
        type: string
      name:
        description: This name of a company profile.
        type: string
    type: object
  Contact:
    properties:
      customer_id:
        description: "The id of a customer profile. The id is build out of the Supplier Code a dash and the profile id\r\n            shown in the hetras UI. An example id on the API for a profile with id 12345 on the level of supplier ABC \r\n            would be ABC-12345"
        type: string
    type: object
  CreateReservationRequest:
    properties:
      sendConfirmation:
        description: Whether to send a confirmation email to the primary guest
        type: boolean
    type: object
  Customer:
    properties:
      customer_id:
        description: "The id of a customer profile. The id is build out of the Supplier Code a dash and the profile id\r\n            shown in the hetras UI. An example id on the API for a profile with id 12345 on the level of supplier ABC \r\n            would be ABC-12345"
        type: string
      email:
        description: The primary email address of the guest
        type: string
      first_name:
        description: First name of the guest
        type: string
      gender:
        description: Gender
        enum:
          - Unspecified
          - Male
          - Female
        type: string
      last_name:
        description: Last name of the guest
        type: string
      mailing_address:
        $ref: '#/definitions/MailingAddress'
        description: "The home mailing address of the guest or if no home mailing address is specified it will\r\n            give you the first address found on the guest profile."
      nationality:
        description: "The nationality of the guest in ISO 3166-1 alpha-2 format\r\n            (see: http://www.iso.org/iso/country_codes/iso_3166_code_lists/country_names_and_code_elements.htm)"
        type: string
      phone:
        description: The primary phone number of the guest
        type: string
      primary:
        description: Defines if the guest is the primary guest of the reservation
        type: boolean
      title:
        description: Title of the guest. Needs to be taken from the available titles defined in the codes
        type: string
    type: object
  CustomersInfo:
    properties:
      contact:
        $ref: '#/definitions/Customer'
        description: The contact linked to this reservation
      guests:
        description: A list of guest details for this reservation
        items:
          $ref: '#/definitions/Customer'
        type: array
    type: object
  DailyRate:
    properties:
      addon_services:
        description: List of addon services with additional price information.
        items:
          $ref: '#/definitions/ServiceRate'
        type: array
      date:
        description: Date the room rate will be charged to the folio
        format: date-time
        type: string
      excluded_tax:
        description: The amount of extra taxes also calculated for all rooms and all persons per room.
        format: double
        type: number
      included_services:
        description: List of codes for all services already included in the gross rate
        items:
          type: string
        type: array
      included_tax:
        description: "The amount of taxes already included in the gross rate also calculated for all rooms and\r\n            all persons per room."
        format: double
        type: number
      rate:
        description: The gross rate. It is the price calculated for all rooms and all persons per room.
        format: double
        type: number
      room_type:
        description: Code of the room type which is booked for that day
        type: string
    type: object
  DepositPolicy:
    properties:
      amount:
        description: Deposit amount that has to be paid
        format: double
        type: number
      description:
        description: Description of the deposit policy suitable for displaying to customers
        type: string
      due_date:
        description: Date the deposit amount has to be paid latest
        format: date-time
        type: string
    type: object
  EmbeddedRoom:
    description: "Represents a short version of room information. To get the full version\r\n            please follow the self link from the links collection"
    properties:
      _links:
        additionalProperties:
          $ref: '#/definitions/LinkObject'
        description: Collection of links to related resources
        type: object
      description:
        description: Description of the room
        type: string
      name:
        description: Name of the room
        type: string
      number:
        description: Number of the room
        type: string
      room_type:
        $ref: '#/definitions/EmbeddedRoomType'
        description: Room type of the room. Contains only the basic properties of the room type
    type: object
  EmbeddedRoomType:
    description: "Basic data for a room type. To get the full details please follow the self link\r\n            from the links collection"
    properties:
      _links:
        additionalProperties:
          $ref: '#/definitions/LinkObject'
        description: Collection of links to related resources
        type: object
      code:
        description: Code of the room type
        type: string
      description:
        description: Description of the room type
        type: string
      name:
        description: Name of the room type
        type: string
    type: object
  GeneralPolicy:
    properties:
      description:
        description: Description of the general policy suitable for displaying to customers
        type: string
      name:
        description: Name of the general policy
        type: string
    type: object
  GetAddonsRequest:
    properties:
      adults:
        description: Number of adults per room.
        format: byte
        maximum: 255
        minimum: 1
        type: string
      arrivalDate:
        description: Date from when the addon service will be booked to the reservation in the ISO-8601 format "YYYY-MM-DD".
        format: date-time
        type: string
      channelCode:
        description: Channel Code the rate plan needs to be configured for.
        type: string
      departureDate:
        description: "Date until when the addon service will be booked to the reservation in the ISO-8601 format \"YYYY-MM-DD\".\r\n            This is usually the departure date of the reservation."
        format: date-time
        type: string
      expand:
        description: Expand the rates breakdown if required.
        enum:
          - None
          - Breakdown
        type: string
      hotelId:
        description: Specifies the hotel id to request offers for.
        format: int32
        type: integer
      ratePlanCode:
        description: Only return offers for the specified rate plan code.
        type: string
      roomType:
        description: Only return offers for the specified room type code.
        type: string
      rooms:
        description: Number of rooms.
        format: byte
        maximum: 255
        minimum: 1
        type: string
    required:
      - hotelId
      - arrivalDate
      - departureDate
      - channelCode
      - adults
      - rooms
      - roomType
      - ratePlanCode
    type: object
  GetCardsResponse:
    properties:
      cards:
        items:
          $ref: '#/definitions/Card'
        type: array
    type: object
  GroupMaster:
    properties:
      code:
        description: Code of the linked group master template
        type: string
      name:
        description: Name of the linked group master template
        type: string
    type: object
  Guarantee:
    properties:
      guarantee_type:
        description: One of the accepted guarantee types from the offer you selected out of the rates response
        enum:
          - PM4Hold
          - PM6Hold
          - GuaranteeToCreditCard
          - GuaranteeToGuestAccount
          - GuaranteeByTravelAgent
          - GuaranteeByCompany
          - Deposit
          - Voucher
          - Prepayment
          - NonGuaranteed
          - Tentative
          - Waitlist
        type: string
      token:
        $ref: '#/definitions/Token'
        description: The token to be used for capturing the reservations amount or to guarantee for the reservation
    type: object
  GuaranteeResponse:
    properties:
      guarantee_type:
        description: The guarantee type of the reservation
        enum:
          - PM4Hold
          - PM6Hold
          - GuaranteeToCreditCard
          - GuaranteeToGuestAccount
          - GuaranteeByTravelAgent
          - GuaranteeByCompany
          - Deposit
          - Voucher
          - Prepayment
          - NonGuaranteed
          - Tentative
          - Waitlist
        type: string
      valid_token:
        description: "Tells you if there is a token for a valid creadit card on the reservation that can be used to\r\n            capture the reservations amount or to guarantee for the reservation"
        type: boolean
    type: object
  HotelInfo:
    properties:
      code:
        description: Hotel Code which is also called property or component code
        type: string
      id:
        description: Hotel Identifier
        format: int32
        type: integer
    type: object
  HotelSummary:
    properties:
      _links:
        additionalProperties:
          $ref: '#/definitions/LinkObject'
        description: Collection of links to related resources
        type: object
      code:
        description: Hotel code
        type: string
      id:
        description: Hotel Identity
        format: int32
        type: integer
      name:
        description: Hotel name
        type: string
    type: object
  JsonPatchOperationRequest:
    description: Represents JSON Patch request
    properties:
      op:
        description: The operation that should be performed on the object or attribute defined in the path
        enum:
          - Add
          - Remove
          - Replace
          - Move
          - Copy
          - Test
        type: string
      path:
        description: The path to the object or attribute the operation should be performed on
        type: string
      value:
        $ref: '#/definitions/Object'
        description: The new value of the object or attribute after the operation has been performed
    required:
      - op
      - path
      - value
    type: object
  LinkObject:
    description: A Link Object represents a hyperlink from the containing resource to a URI.
    properties:
      deprecation:
        description: "<para>The \"deprecation\" property is OPTIONAL.</para>\r\n<para>\_</para>\r\n<para>Its presence indicates that the link is to be deprecated (i.e.\r\n            removed) at a future date.  Its value is a URL that SHOULD provide\r\n            further information about the deprecation.\r\n            A client SHOULD provide some notification (for example, by logging a\r\n            warning message) whenever it traverses over a link that has this\r\n            property.  The notification SHOULD include the deprecation property's\r\n            value so that a client maintainer can easily find information about\r\n            the deprecation.</para>"
        type: string
      href:
        description: "<para>The \"href\" property is REQUIRED.</para>\r\n<para>\_</para>\r\n<para>Its value is either a URI [RFC3986] or a URI Template [RFC6570].\r\n            If the value is a URI Template then the Link Object SHOULD have a\r\n            \"templated\" attribute whose value is true.</para>"
        type: string
      hreflang:
        description: "<para>The \"hreflang\" property is OPTIONAL.</para>\r\n<para>\_</para>\r\n<para>Its value is a string and is intended for indicating the language of\r\n            the target resource (as defined by [RFC5988]).</para>"
        type: string
      name:
        description: "<para>The \"name\" property is OPTIONAL.</para>\r\n<para>\_</para>\r\n<para>Its value MAY be used as a secondary key for selecting Link Objects\r\n            which share the same relation type.</para>"
        type: string
      profile:
        description: "<para>The \"profile\" property is OPTIONAL.</para>\r\n<para>\_</para>\r\n<para>Its value is a string which is a URI that hints about the profile.</para>"
        type: string
      templated:
        description: "<para>The \"templated\" property is OPTIONAL.</para>\r\n<para>\_</para>\r\n<para>Its value is boolean and SHOULD be true when the Link Object's \"href\"\r\n            property is a URI Template.\r\n            Its value SHOULD be considered false if it is undefined or any other\r\n            value than true.</para>"
        type: boolean
      title:
        description: "<para>The \"title\" property is OPTIONAL.</para>\r\n<para>\_</para>\r\n<para>Its value is a string and is intended for labelling the link with a\r\n            human-readable identifier (as defined by [RFC5988]).</para>"
        type: string
      type:
        description: "<para>The \"type\" property is OPTIONAL.</para>\r\n<para>\_</para>\r\n<para>Its value is a string used as a hint to indicate the media type\r\n            expected when dereferencing the target resource.</para>"
        type: string
    required:
      - href
    type: object
  MailingAddress:
    properties:
      address:
        description: 'The address details like street, number, and other in free format'
        type: string
      address_type:
        description: One of the values from the enumeration of allowed address types
        enum:
          - Home
          - Business
          - Billing
          - Other
        type: string
      city:
        description: The city name for this address
        type: string
      country:
        description: "The country code for this address in ISO 3166-1 alpha-2 format\r\n            (see: <a href=\"http://www.iso.org/iso/country_codes/iso_3166_code_lists/country_names_and_code_elements.htm\" onfocus=\"this.blur()\" target=\"_blank\">http://www.iso.org/iso/country_codes/iso_3166_code_lists/country_names_and_code_elements.htm</a>)"
        type: string
      postal_code:
        description: The postal code for this address
        type: string
    type: object
  NoShowPolicy:
    properties:
      description:
        description: Description of the noshow policy suitable for displaying to customers
        type: string
      fee:
        description: The fee that will be charged to the reservations folio in case the guest does not show up
        format: double
        type: number
    type: object
  Object:
    properties: {}
    type: object
  Offer:
    properties:
      _links:
        additionalProperties:
          $ref: '#/definitions/LinkObject'
        description: Link to request addon offers for this stay
        type: object
      adults:
        description: Number of adults the offer is calculated for
        format: int32
        type: integer
      available_rooms:
        description: Number of currently available rooms for that specific offer
        format: int32
        type: integer
      breakdown:
        description: In this collection you will get an entry with price information for every day.
        items:
          $ref: '#/definitions/RoomOfferDailyRate'
        type: array
      cancellation_policies:
        description: List of cancellation policies defined for that rate
        items:
          $ref: '#/definitions/CancellationPolicy'
        type: array
      currency:
        description: The amounts of this offer are always in this currency
        type: string
      deposit_policies:
        description: List of Deposit policies defined for that rate
        items:
          $ref: '#/definitions/DepositPolicy'
        type: array
      general_policies:
        description: List of general policies defined for that rate
        items:
          $ref: '#/definitions/GeneralPolicy'
        type: array
      guarantee_types:
        $ref: '#/definitions/AcceptedGuaranteeTypes'
        description: Accepted guarantee types and the minimum guarantee type defined for that rate
      included_services:
        description: A list of  of services included already in the rate for this offer
        items:
          type: string
        type: array
      noshow_policy:
        $ref: '#/definitions/NoShowPolicy'
        description: No Show policy defined for that rate
      rate_plan_code:
        description: The code of the rate plan for this offer
        type: string
      total_stay:
        $ref: '#/definitions/Rate'
        description: The total stay amounts for this offer
    type: object
  PagedDataRequest:
    properties:
      inlinecount:
        description: Return total amount of items for a given filter criteria.
        enum:
          - None
          - AllPages
        type: string
      skip:
        description: Amount of items to skip.
        format: int32
        type: integer
      top:
        description: Amount of items to select.
        format: int32
        type: integer
    type: object
  PreCheckInRequest:
    description: With this request you can execute a precheckin on a reservation
    properties:
      device_id:
        description: The device id that will be put on the reservation
        type: string
    required:
      - device_id
    type: object
  Rate:
    properties:
      addon_services:
        description: List of addon services with additional price information.
        items:
          $ref: '#/definitions/ServiceRate'
        type: array
      excluded_tax:
        description: The amount of extra taxes also calculated for all rooms and all persons per room.
        format: double
        type: number
      included_services:
        description: List of codes for all services already included in the gross rate
        items:
          type: string
        type: array
      included_tax:
        description: "The amount of taxes already included in the gross rate also calculated for all rooms and\r\n            all persons per room."
        format: double
        type: number
      rate:
        description: The gross rate. It is the price calculated for all rooms and all persons per room.
        format: double
        type: number
    type: object
  RatePlan:
    properties:
      code:
        description: Code of the rate plan
        type: string
      description:
        description: Description of the rate plan suitable for being displayed to customers
        type: string
      name:
        description: Name of the rate plan
        type: string
    type: object
  Rates:
    properties:
      arrival_date:
        description: The arrival date of the guest for this rate offer
        format: date-time
        type: string
      departure_date:
        description: The departure date of the guest for this rate offer
        format: date-time
        type: string
      hotel_id:
        description: The id of the hotel the rate offers will be valid for
        format: int32
        type: integer
      hotel_name:
        description: The name of the hotel the rate offers will be valid for
        type: string
      rate_plans:
        description: List of rate plans details for rates you can find offers in the room_offers
        items:
          $ref: '#/definitions/RatePlan'
        type: array
      room_offers:
        description: List of room types with available rate offers ordered from ascending
        items:
          $ref: '#/definitions/RoomOffer'
        type: array
      rooms:
        description: List of room type details for room types you can find offers in the room_offers
        items:
          $ref: '#/definitions/ReservationRoom'
        type: array
      services:
        description: List of service details for included services in offers you can find in the room_offers
        items:
          $ref: '#/definitions/Service'
        type: array
    type: object
  RatesRequest:
    properties:
      adults:
        description: Number of adults per room.
        format: byte
        minimum: 1
        type: string
      arrivalDate:
        description: Date of arrival for the guest in the ISO-8601 format "YYYY-MM-DD".
        format: date-time
        type: string
      channelCode:
        description: Channel Code the rate plan needs to be configured for.
        type: string
      departureDate:
        description: Date of departure for the guest in the ISO-8601 format "YYYY-MM-DD".
        format: date-time
        type: string
      expand:
        description: Expand the rates breakdown if required.
        enum:
          - None
          - Breakdown
        type: string
      groupCode:
        description: Only return offers for the specified group code.
        type: string
      hotelId:
        description: Specifies the hotel id to request offers for.
        format: int32
        type: integer
      ratePlanCode:
        description: Only return offers for the specified room type code.
        type: string
      roomType:
        description: Only return offers with rates for the specified room type code.
        type: string
      rooms:
        description: Number of rooms (default is 1).
        format: byte
        minimum: 1
        type: string
    required:
      - hotelId
      - arrivalDate
      - departureDate
      - channelCode
      - adults
    type: object
  Reservation:
    properties:
      addons:
        description: A list of addon service codes that should be booked for all reservations of this booking
        items:
          type: string
        type: array
      adults:
        description: The number of adults per room
        format: int32
        type: integer
      arrival_date:
        description: The arrival date of the guests
        format: date-time
        type: string
      channel_code:
        description: The channel code for this reservation. You can find available channels in the codes for the hotel.
        type: string
      comment:
        description: The comment you want to add for this reservation
        type: string
      company:
        $ref: '#/definitions/Company'
        description: The company that will be linked to this reservation
      contact:
        $ref: '#/definitions/Contact'
        description: The contact that will be linked to this reservation
      departure_date:
        description: The departure date of the guests
        format: date-time
        type: string
      external_id:
        description: "The external id for this reservation. You can put here your own id used by you or the external system\r\n            you integrate hetras with"
        type: string
      group_code:
        description: The group code based on which the reservation will be created.
        type: string
      guarantee:
        $ref: '#/definitions/Guarantee'
        description: "The guarantee for this reservation. See https://developer.hetras.com/docs/tutorials#payment for information about\r\n            how to fill out the guarantee object"
      guests:
        description: A list of guests with some basic guest details
        items:
          $ref: '#/definitions/Customer'
        type: array
      hotel_id:
        description: The id of the hotel this reservation is valid for
        format: int32
        type: integer
      payment_method:
        description: The payment method for this reservation
        enum:
          - None
          - Cash
          - CreditCard
          - WireTransfer
          - ChargeToCompany
          - Check
          - Voucher
          - DebitCard
          - Token
          - Miscellaneous
        type: string
      rate_plan:
        description: The rate plan code this reservation is related to
        type: string
      room_type:
        description: The room type code this reservation is related to
        type: string
      rooms:
        description: "The number of rooms this reservation is for. After a multi-room booking is done there will be \r\n            one reservation in hetras for all rooms. The hotel staff then will split this reservation into\r\n            one reservation per room to be able to check in the guests"
        format: int32
        type: integer
    required:
      - hotel_id
    type: object
  ReservationResponse:
    properties:
      _warnings:
        description: "Warnings that came up when your request was processed. Your request will still be processed successfull when\r\n            you see such warnings in your response"
        items:
          type: string
        type: array
      addon_services:
        description: "A list of addon service codes that are currently booked on the reservation. Services which are charged\r\n            once per stay are only visible before and on the day they are booked for."
        items:
          type: string
        type: array
      adults:
        description: The number of adults per room
        format: int32
        type: integer
      arrival_date:
        description: The arrival date of the guests
        format: date-time
        type: string
      balance:
        description: "The balance for all folios of this reservartion. It is calculated by all already charged room and service\r\n            rates plus manual charges or charges from other systems like POS minus all payments. A negative balance\r\n            indicates the reservation is overpaid, a positive balance that the guest owes the hotel money"
        format: double
        type: number
      block:
[...]
