swagger: '2.0'
schemes:
  - https
  - http
host: api.deutschebahn.com
basePath: /reisezentren/v1
info:
  contact:
    email: Joachim.Schirrmacher@deutschebahn.com
    name: DB Systel GmbH
  description: This REST-API enables you to query information about travel centers in Germany.
  termsOfService: 'https://developer.deutschebahn.com/store/'
  title: Reisezentren
  version: v1
  x-apisguru-categories:
    - open_data
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://pbs.twimg.com/profile_images/591140150413025280/Cjcqjl2J.png'
  x-origin:
    - format: swagger
      url: 'https://developer.deutschebahn.com/store/api-docs/DBOpenData/Reisezentren/v1'
      version: '2.0'
  x-providerName: deutschebahn.com
  x-serviceName: reisezentren
securityDefinitions: {}
tags:
  - name: API
paths:
  /reisezentren:
    get:
      description: Get all station infos
      parameters:
        - description: A station name or part of it
          in: query
          name: name
          required: false
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: List has been created
          schema:
            $ref: '#/definitions/TravelCenterList'
        '404':
          description: No travel centers could be found matching the given name
          schema:
            $ref: '#/definitions/Error'
        '416':
          description: Filtering required - specify a name fragment of at least 3 characters
          schema:
            $ref: '#/definitions/Error'
      summary: Get all station infos
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  '/reisezentren/loc/{lat}/{lon}':
    get:
      description: Get information about a station near a location
      operationId: ''
      parameters:
        - description: Latitude
          format: float
          in: path
          name: lat
          required: true
          type: number
        - description: Longitude
          format: float
          in: path
          name: lon
          required: true
          type: number
      produces:
        - application/json
      responses:
        '200':
          description: A station was found
          schema:
            $ref: '#/definitions/TravelCenter'
      summary: Get information about a station near a location
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  '/reisezentren/{id}':
    get:
      description: Get information about a specific station
      parameters:
        - description: Station id
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: The travel center was found
          schema:
            $ref: '#/definitions/TravelCenter'
        '404':
          description: No travel center found
          schema:
            $ref: '#/definitions/Error'
      summary: Get information about a specific station
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
definitions:
  Error:
    properties:
      code:
        format: int32
        type: integer
      message:
        type: string
    type: object
  OpeningTime:
    items:
      type: string
    type: array
  TravelCenter:
    properties:
      address:
        description: Street address of travel center
        type: string
      city:
        description: City of travel center
        type: string
      id:
        description: Identifying number
        type: integer
      lat:
        description: Latitude of travel center location
        type: number
      lon:
        description: Longitude of travel center location
        type: number
      name:
        description: Name of travel center
        type: string
      openingTimes:
        description: 'Opening times of the travel center, ordered by week day'
        properties:
          fri:
            $ref: '#/definitions/OpeningTime'
          mon:
            $ref: '#/definitions/OpeningTime'
          sat:
            $ref: '#/definitions/OpeningTime'
          sun:
            $ref: '#/definitions/OpeningTime'
          thu:
            $ref: '#/definitions/OpeningTime'
          tue:
            $ref: '#/definitions/OpeningTime'
          wed:
            $ref: '#/definitions/OpeningTime'
        type: object
      postCode:
        description: Post code of travel center
        type: string
      type:
        description: Type of travel center
        enum:
          - Reisezentrum
          - Mobility Center
        type: string
    type: object
  TravelCenterList:
    items:
      $ref: '#/definitions/TravelCenter'
    type: array
