openapi: 3.0.1
servers:
  - url: https://online.visualstudio.com
info:
  description: Public APIs for managing VS Codespaces
  title: VSOnline
  version: v1
  x-apisguru-categories:
    - developer_tools
    - collaboration
  x-origin:
    - format: openapi
      url: https://online.visualstudio.com/api/v1/swagger
      version: "3.0"
  x-providerName: visualstudio.com
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_apis.guru_assets_images_no-logo.svg
security:
  - Bearer: []
paths:
  /api/v1/AgentTelemetry:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              items:
                $ref: "#/components/schemas/TelemetryData"
              type: array
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/TelemetryData"
              type: array
          application/json-patch+json:
            schema:
              items:
                $ref: "#/components/schemas/TelemetryData"
              type: array
          text/json:
            schema:
              items:
                $ref: "#/components/schemas/TelemetryData"
              type: array
      responses:
        "204":
          description: No Content
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
      tags:
        - AgentTelemetry
  /api/v1/AgentTelemetry/standalone:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              items:
                $ref: "#/components/schemas/TelemetryData"
              type: array
          application/json:
            schema:
              items:
                $ref: "#/components/schemas/TelemetryData"
              type: array
          application/json-patch+json:
            schema:
              items:
                $ref: "#/components/schemas/TelemetryData"
              type: array
          text/json:
            schema:
              items:
                $ref: "#/components/schemas/TelemetryData"
              type: array
      responses:
        "204":
          description: No Content
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
      tags:
        - AgentTelemetry
  "/api/v1/Agents/{family}":
    get:
      parameters:
        - in: path
          name: family
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/AgentResponse"
            text/plain:
              schema:
                $ref: "#/components/schemas/AgentResponse"
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Not Found
      tags:
        - Agents
  /api/v1/Environments:
    get:
      parameters:
        - in: query
          name: name
          schema:
            type: string
        - in: query
          name: planId
          schema:
            type: string
        - in: query
          name: deleted
          schema:
            default: false
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/CloudEnvironmentResult"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/CloudEnvironmentResult"
                type: array
            text/plain:
              schema:
                items:
                  $ref: "#/components/schemas/CloudEnvironmentResult"
                type: array
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
      tags:
        - Environments
    post:
      parameters:
        - in: query
          name: access
          schema:
            type: boolean
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: "#/components/schemas/CreateCloudEnvironmentBody"
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCloudEnvironmentBody"
          application/json-patch+json:
            schema:
              $ref: "#/components/schemas/CreateCloudEnvironmentBody"
          text/json:
            schema:
              $ref: "#/components/schemas/CreateCloudEnvironmentBody"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CloudEnvironmentResult"
            text/json:
              schema:
                $ref: "#/components/schemas/CloudEnvironmentResult"
            text/plain:
              schema:
                $ref: "#/components/schemas/CloudEnvironmentResult"
          description: Created
        "307":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageCodes"
            text/json:
              schema:
                $ref: "#/components/schemas/MessageCodes"
            text/plain:
              schema:
                $ref: "#/components/schemas/MessageCodes"
          description: Redirect
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageCodes"
            text/json:
              schema:
                $ref: "#/components/schemas/MessageCodes"
            text/plain:
              schema:
                $ref: "#/components/schemas/MessageCodes"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageCodes"
            text/json:
              schema:
                $ref: "#/components/schemas/MessageCodes"
            text/plain:
              schema:
                $ref: "#/components/schemas/MessageCodes"
          description: Forbidden
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageCodes"
            text/json:
              schema:
                $ref: "#/components/schemas/MessageCodes"
            text/plain:
              schema:
                $ref: "#/components/schemas/MessageCodes"
          description: Conflict
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageCodes"
            text/json:
              schema:
                $ref: "#/components/schemas/MessageCodes"
            text/plain:
              schema:
                $ref: "#/components/schemas/MessageCodes"
          description: Server Error
      tags:
        - Environments
  "/api/v1/Environments/{environmentId}":
    delete:
      parameters:
        - in: path
          name: environmentId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "204":
          description: No Content
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Not Found
      tags:
        - Environments
    get:
      operationId: GetEnvironmentRoute
      parameters:
        - in: path
          name: environmentId
          required: true
          schema:
            format: uuid
            type: string
        - in: query
          name: connect
          schema:
            type: boolean
        - in: query
          name: pfConnect
          schema:
            type: boolean
        - in: query
          name: deleted
          schema:
            default: false
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CloudEnvironmentResult"
            text/json:
              schema:
                $ref: "#/components/schemas/CloudEnvironmentResult"
            text/plain:
              schema:
                $ref: "#/components/schemas/CloudEnvironmentResult"
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Not Found
      tags:
        - Environments
    patch:
      parameters:
        - in: path
          name: environmentId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: "#/components/schemas/UpdateCloudEnvironmentBody"
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCloudEnvironmentBody"
          application/json-patch+json:
            schema:
              $ref: "#/components/schemas/UpdateCloudEnvironmentBody"
          text/json:
            schema:
              $ref: "#/components/schemas/UpdateCloudEnvironmentBody"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CloudEnvironmentResult"
            text/json:
              schema:
                $ref: "#/components/schemas/CloudEnvironmentResult"
            text/plain:
              schema:
                $ref: "#/components/schemas/CloudEnvironmentResult"
          description: Success
        "400":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/MessageCodes"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/MessageCodes"
                type: array
            text/plain:
              schema:
                items:
                  $ref: "#/components/schemas/MessageCodes"
                type: array
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Conflict
      tags:
        - Environments
  "/api/v1/Environments/{environmentId}/_callback":
    post:
      operationId: UpdateEnvironmentRoute
      parameters:
        - in: path
          name: environmentId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: "#/components/schemas/EnvironmentRegistrationCallbackBody"
          application/json:
            schema:
              $ref: "#/components/schemas/EnvironmentRegistrationCallbackBody"
          application/json-patch+json:
            schema:
              $ref: "#/components/schemas/EnvironmentRegistrationCallbackBody"
          text/json:
            schema:
              $ref: "#/components/schemas/EnvironmentRegistrationCallbackBody"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CloudEnvironmentResult"
            text/json:
              schema:
                $ref: "#/components/schemas/CloudEnvironmentResult"
            text/plain:
              schema:
                $ref: "#/components/schemas/CloudEnvironmentResult"
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Not Found
      tags:
        - Environments
  "/api/v1/Environments/{environmentId}/archive":
    get:
      parameters:
        - in: path
          name: environmentId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnfilteredCloudEnvironmentResult"
            text/json:
              schema:
                $ref: "#/components/schemas/UnfilteredCloudEnvironmentResult"
            text/plain:
              schema:
                $ref: "#/components/schemas/UnfilteredCloudEnvironmentResult"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageCodes"
            text/json:
              schema:
                $ref: "#/components/schemas/MessageCodes"
            text/plain:
              schema:
                $ref: "#/components/schemas/MessageCodes"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Not Found
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageCodes"
            text/json:
              schema:
                $ref: "#/components/schemas/MessageCodes"
            text/plain:
              schema:
                $ref: "#/components/schemas/MessageCodes"
          description: Server Error
      tags:
        - Environments
    post:
      parameters:
        - in: path
          name: environmentId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CloudEnvironmentResult"
            text/json:
              schema:
                $ref: "#/components/schemas/CloudEnvironmentResult"
            text/plain:
              schema:
                $ref: "#/components/schemas/CloudEnvironmentResult"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageCodes"
            text/json:
              schema:
                $ref: "#/components/schemas/MessageCodes"
            text/plain:
              schema:
                $ref: "#/components/schemas/MessageCodes"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Not Found
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageCodes"
            text/json:
              schema:
                $ref: "#/components/schemas/MessageCodes"
            text/plain:
              schema:
                $ref: "#/components/schemas/MessageCodes"
          description: Server Error
      tags:
        - Environments
  "/api/v1/Environments/{environmentId}/export":
    post:
      parameters:
        - in: path
          name: environmentId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CloudEnvironmentResult"
            text/json:
              schema:
                $ref: "#/components/schemas/CloudEnvironmentResult"
            text/plain:
              schema:
                $ref: "#/components/schemas/CloudEnvironmentResult"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageCodes"
            text/json:
              schema:
                $ref: "#/components/schemas/MessageCodes"
            text/plain:
              schema:
                $ref: "#/components/schemas/MessageCodes"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Not Found
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageCodes"
            text/json:
              schema:
                $ref: "#/components/schemas/MessageCodes"
            text/plain:
              schema:
                $ref: "#/components/schemas/MessageCodes"
          description: Server Error
      tags:
        - Environments
  "/api/v1/Environments/{environmentId}/folder":
    patch:
      parameters:
        - in: path
          name: environmentId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: "#/components/schemas/CloudEnvironmentFolderBody"
          application/json:
            schema:
              $ref: "#/components/schemas/CloudEnvironmentFolderBody"
          application/json-patch+json:
            schema:
              $ref: "#/components/schemas/CloudEnvironmentFolderBody"
          text/json:
            schema:
              $ref: "#/components/schemas/CloudEnvironmentFolderBody"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CloudEnvironmentResult"
            text/json:
              schema:
                $ref: "#/components/schemas/CloudEnvironmentResult"
            text/plain:
              schema:
                $ref: "#/components/schemas/CloudEnvironmentResult"
          description: Success
        "400":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/MessageCodes"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/MessageCodes"
                type: array
            text/plain:
              schema:
                items:
                  $ref: "#/components/schemas/MessageCodes"
                type: array
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Not Found
      tags:
        - Environments
  "/api/v1/Environments/{environmentId}/heartbeattoken":
    get:
      parameters:
        - in: path
          name: environmentId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CloudEnvironmentResult"
            text/json:
              schema:
                $ref: "#/components/schemas/CloudEnvironmentResult"
            text/plain:
              schema:
                $ref: "#/components/schemas/CloudEnvironmentResult"
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Not Found
      tags:
        - Environments
  "/api/v1/Environments/{environmentId}/notify":
    post:
      parameters:
        - in: path
          name: environmentId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: "#/components/schemas/NotificationDataBody"
          application/json:
            schema:
              $ref: "#/components/schemas/NotificationDataBody"
          application/json-patch+json:
            schema:
              $ref: "#/components/schemas/NotificationDataBody"
          text/json:
            schema:
              $ref: "#/components/schemas/NotificationDataBody"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            text/plain:
              schema:
                type: string
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageCodes"
            text/json:
              schema:
                $ref: "#/components/schemas/MessageCodes"
            text/plain:
              schema:
                $ref: "#/components/schemas/MessageCodes"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Not Found
      tags:
        - Environments
  "/api/v1/Environments/{environmentId}/ports/{port}":
    delete:
      parameters:
        - in: path
          name: environmentId
          required: true
          schema:
            type: string
        - in: path
          name: port
          required: true
          schema:
            format: int32
            maximum: 65535
            minimum: 1
            type: integer
      responses:
        "200":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageCodes"
            text/json:
              schema:
                $ref: "#/components/schemas/MessageCodes"
            text/plain:
              schema:
                $ref: "#/components/schemas/MessageCodes"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Not Found
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageCodes"
            text/json:
              schema:
                $ref: "#/components/schemas/MessageCodes"
            text/plain:
              schema:
                $ref: "#/components/schemas/MessageCodes"
          description: Server Error
      tags:
        - Environments
    put:
      parameters:
        - in: path
          name: environmentId
          required: true
          schema:
            type: string
        - in: path
          name: port
          required: true
          schema:
            format: int32
            maximum: 65535
            minimum: 1
            type: integer
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: "#/components/schemas/AddForwardedPortSettings"
          application/json:
            schema:
              $ref: "#/components/schemas/AddForwardedPortSettings"
          application/json-patch+json:
            schema:
              $ref: "#/components/schemas/AddForwardedPortSettings"
          text/json:
            schema:
              $ref: "#/components/schemas/AddForwardedPortSettings"
      responses:
        "200":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageCodes"
            text/json:
              schema:
                $ref: "#/components/schemas/MessageCodes"
            text/plain:
              schema:
                $ref: "#/components/schemas/MessageCodes"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Not Found
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageCodes"
            text/json:
              schema:
                $ref: "#/components/schemas/MessageCodes"
            text/plain:
              schema:
                $ref: "#/components/schemas/MessageCodes"
          description: Server Error
      tags:
        - Environments
  "/api/v1/Environments/{environmentId}/restore":
    patch:
      parameters:
        - in: path
          name: environmentId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Forbidden
      tags:
        - Environments
  "/api/v1/Environments/{environmentId}/secrets":
    put:
      parameters:
        - in: path
          name: environmentId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: "#/components/schemas/UpdateUserSecretsRequestBody"
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserSecretsRequestBody"
          application/json-patch+json:
            schema:
              $ref: "#/components/schemas/UpdateUserSecretsRequestBody"
          text/json:
            schema:
              $ref: "#/components/schemas/UpdateUserSecretsRequestBody"
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CloudEnvironmentResult"
            text/json:
              schema:
                $ref: "#/components/schemas/CloudEnvironmentResult"
            text/plain:
              schema:
                $ref: "#/components/schemas/CloudEnvironmentResult"
          description: No Content
        "307":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageCodes"
            text/json:
              schema:
                $ref: "#/components/schemas/MessageCodes"
            text/plain:
              schema:
                $ref: "#/components/schemas/MessageCodes"
          description: Redirect
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageCodes"
            text/json:
              schema:
                $ref: "#/components/schemas/MessageCodes"
            text/plain:
              schema:
                $ref: "#/components/schemas/MessageCodes"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageCodes"
            text/json:
              schema:
                $ref: "#/components/schemas/MessageCodes"
            text/plain:
              schema:
                $ref: "#/components/schemas/MessageCodes"
          description: Forbidden
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageCodes"
            text/json:
              schema:
                $ref: "#/components/schemas/MessageCodes"
            text/plain:
              schema:
                $ref: "#/components/schemas/MessageCodes"
          description: Server Error
      tags:
        - Environments
  "/api/v1/Environments/{environmentId}/shutdown":
    post:
      parameters:
        - in: path
          name: environmentId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CloudEnvironmentResult"
            text/json:
              schema:
                $ref: "#/components/schemas/CloudEnvironmentResult"
            text/plain:
              schema:
                $ref: "#/components/schemas/CloudEnvironmentResult"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageCodes"
            text/json:
              schema:
                $ref: "#/components/schemas/MessageCodes"
            text/plain:
              schema:
                $ref: "#/components/schemas/MessageCodes"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Not Found
      tags:
        - Environments
  "/api/v1/Environments/{environmentId}/start":
    post:
      parameters:
        - in: path
          name: environmentId
          required: true
          schema:
            format: uuid
            type: string
        - in: query
          name: access
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CloudEnvironmentResult"
            text/json:
              schema:
                $ref: "#/components/schemas/CloudEnvironmentResult"
            text/plain:
              schema:
                $ref: "#/components/schemas/CloudEnvironmentResult"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageCodes"
            text/json:
              schema:
                $ref: "#/components/schemas/MessageCodes"
            text/plain:
              schema:
                $ref: "#/components/schemas/MessageCodes"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Not Found
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageCodes"
            text/json:
              schema:
                $ref: "#/components/schemas/MessageCodes"
            text/plain:
              schema:
                $ref: "#/components/schemas/MessageCodes"
          description: Server Error
      tags:
        - Environments
  "/api/v1/Environments/{environmentId}/state":
    get:
      parameters:
        - in: path
          name: environmentId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Not Found
      tags:
        - Environments
  "/api/v1/Environments/{environmentId}/updates":
    get:
      parameters:
        - in: path
          name: environmentId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CloudEnvironmentResult"
            text/json:
              schema:
                $ref: "#/components/schemas/CloudEnvironmentResult"
            text/plain:
              schema:
                $ref: "#/components/schemas/CloudEnvironmentResult"
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Not Found
      tags:
        - Environments
  /api/v1/GenevaActions/Billing/resend:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: "#/components/schemas/ReplayBillRequestBody"
          application/json:
            schema:
              $ref: "#/components/schemas/ReplayBillRequestBody"
          application/json-patch+json:
            schema:
              $ref: "#/components/schemas/ReplayBillRequestBody"
          text/json:
            schema:
              $ref: "#/components/schemas/ReplayBillRequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillSummary"
            text/json:
              schema:
                $ref: "#/components/schemas/BillSummary"
            text/plain:
              schema:
                $ref: "#/components/schemas/BillSummary"
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Not Found
      tags:
        - Billing
  "/api/v1/GenevaActions/Billing/{environmentId}":
    get:
      parameters:
        - in: path
          name: environmentId
          required: true
          schema:
            format: uuid
            type: string
        - in: query
          name: startTime
          schema:
            type: string
        - in: query
          name: endTime
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillSummary"
            text/json:
              schema:
                $ref: "#/components/schemas/BillSummary"
            text/plain:
              schema:
                $ref: "#/components/schemas/BillSummary"
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Not Found
      tags:
        - Billing
  "/api/v1/GenevaActions/Billing/{environmentId}/state-changes":
    get:
      parameters:
        - in: path
          name: environmentId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvironmentStateChange"
            text/json:
              schema:
                $ref: "#/components/schemas/EnvironmentStateChange"
            text/plain:
              schema:
                $ref: "#/components/schemas/EnvironmentStateChange"
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Not Found
      tags:
        - Billing
    post:
      parameters:
        - in: path
          name: environmentId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: "#/components/schemas/CreateEnvironmentStateChangeBody"
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEnvironmentStateChangeBody"
          application/json-patch+json:
            schema:
              $ref: "#/components/schemas/CreateEnvironmentStateChangeBody"
          text/json:
            schema:
              $ref: "#/components/schemas/CreateEnvironmentStateChangeBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvironmentStateChange"
            text/json:
              schema:
                $ref: "#/components/schemas/EnvironmentStateChange"
            text/plain:
              schema:
                $ref: "#/components/schemas/EnvironmentStateChange"
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Not Found
      tags:
        - Billing
  "/api/v1/GenevaActions/Configuration/{target}":
    post:
      parameters:
        - in: path
          name: target
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: "#/components/schemas/UpdateSystemConfigurationBody"
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSystemConfigurationBody"
          application/json-patch+json:
            schema:
              $ref: "#/components/schemas/UpdateSystemConfigurationBody"
          text/json:
            schema:
              $ref: "#/components/schemas/UpdateSystemConfigurationBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SystemConfigurationResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/SystemConfigurationResponse"
            text/plain:
              schema:
                $ref: "#/components/schemas/SystemConfigurationResponse"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
      tags:
        - Configuration
  "/api/v1/GenevaActions/Configuration/{target}/{key}":
    delete:
      parameters:
        - in: path
          name: target
          required: true
          schema:
            type: string
        - in: path
          name: key
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Not Found
      tags:
        - Configuration
    get:
      parameters:
        - in: path
          name: target
          required: true
          schema:
            type: string
        - in: path
          name: key
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SystemConfigurationResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/SystemConfigurationResponse"
            text/plain:
              schema:
                $ref: "#/components/schemas/SystemConfigurationResponse"
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Not Found
      tags:
        - Configuration
  "/api/v1/GenevaActions/Environments/{environmentId}":
    delete:
      parameters:
        - in: path
          name: environmentId
          required: true
          schema:
            format: uuid
            type: string
        - in: query
          name: deletionType
          schema:
            type: string
      responses:
        "204":
          description: No Content
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Not Found
      tags:
        - Environments
    get:
      parameters:
        - in: path
          name: environmentId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CloudEnvironmentResult"
            text/json:
              schema:
                $ref: "#/components/schemas/CloudEnvironmentResult"
            text/plain:
              schema:
                $ref: "#/components/schemas/CloudEnvironmentResult"
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Not Found
      tags:
        - Environments
  "/api/v1/GenevaActions/Environments/{environmentId}/archive":
    put:
      parameters:
        - in: path
          name: environmentId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CloudEnvironmentResult"
            text/json:
              schema:
                $ref: "#/components/schemas/CloudEnvironmentResult"
            text/plain:
              schema:
                $ref: "#/components/schemas/CloudEnvironmentResult"
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Not Found
      tags:
        - Environments
  "/api/v1/GenevaActions/Environments/{environmentId}/archived_storage_sas/{targetBlob}":
    get:
      parameters:
        - in: path
          name: environmentId
          required: true
          schema:
            type: string
        - in: path
          name: targetBlob
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            text/plain:
              schema:
                type: string
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Not Found
      tags:
        - Environments
  "/api/v1/GenevaActions/Environments/{environmentId}/shutdown":
    put:
      parameters:
        - in: path
          name: environmentId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CloudEnvironmentResult"
            text/json:
              schema:
                $ref: "#/components/schemas/CloudEnvironmentResult"
            text/plain:
              schema:
                $ref: "#/components/schemas/CloudEnvironmentResult"
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Not Found
      tags:
        - Environments
  "/api/v1/GenevaActions/Environments/{environmentId}/upload/running/vm/logs":
    post:
      parameters:
        - in: path
          name: environmentId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VmLogsUploadInfo"
            text/json:
              schema:
                $ref: "#/components/schemas/VmLogsUploadInfo"
            text/plain:
              schema:
                $ref: "#/components/schemas/VmLogsUploadInfo"
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Not Found
      tags:
        - Environments
  /api/v1/GenevaActions/Pools/change-resource-deletion-setting:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: "#/components/schemas/ChangeResourceDeletionRequestBody"
          application/json:
            schema:
              $ref: "#/components/schemas/ChangeResourceDeletionRequestBody"
          application/json-patch+json:
            schema:
              $ref: "#/components/schemas/ChangeResourceDeletionRequestBody"
          text/json:
            schema:
              $ref: "#/components/schemas/ChangeResourceDeletionRequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SystemConfigurationResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/SystemConfigurationResponse"
            text/plain:
              schema:
                $ref: "#/components/schemas/SystemConfigurationResponse"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
      tags:
        - Pools
  "/api/v1/GenevaActions/Pools/{poolCode}/rotate-pool":
    post:
      parameters:
        - in: path
          name: poolCode
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "503":
          description: Server Error
      tags:
        - Pools
  "/api/v1/GenevaActions/Pools/{target}":
    post:
      parameters:
        - in: path
          name: target
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: "#/components/schemas/PoolConfigRequestBody"
          application/json:
            schema:
              $ref: "#/components/schemas/PoolConfigRequestBody"
          application/json-patch+json:
            schema:
              $ref: "#/components/schemas/PoolConfigRequestBody"
          text/json:
            schema:
              $ref: "#/components/schemas/PoolConfigRequestBody"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SystemConfigurationResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/SystemConfigurationResponse"
            text/plain:
              schema:
                $ref: "#/components/schemas/SystemConfigurationResponse"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
      tags:
        - Pools
  /api/v1/GenevaActions/Prebuilds/pools/createorupdatesettings:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: "#/components/schemas/PoolSettingsBody"
          application/json:
            schema:
              $ref: "#/components/schemas/PoolSettingsBody"
          application/json-patch+json:
            schema:
              $ref: "#/components/schemas/PoolSettingsBody"
          text/json:
            schema:
              $ref: "#/components/schemas/PoolSettingsBody"
        required: true
      responses:
        "201":
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageCodes"
            text/json:
              schema:
                $ref: "#/components/schemas/MessageCodes"
            text/plain:
              schema:
                $ref: "#/components/schemas/MessageCodes"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Not Found
      tags:
        - Prebuilds
  /api/v1/GenevaActions/Prebuilds/pools/delete:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: "#/components/schemas/PoolSettingsBody"
          application/json:
            schema:
              $ref: "#/components/schemas/PoolSettingsBody"
          application/json-patch+json:
            schema:
              $ref: "#/components/schemas/PoolSettingsBody"
          text/json:
            schema:
              $ref: "#/components/schemas/PoolSettingsBody"
        required: true
      responses:
        "201":
          description: Created
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Not Found
      tags:
        - Prebuilds
  /api/v1/GenevaActions/Privacy/refresh-profile-telemetry-properties:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: "#/components/schemas/RefreshProfileTelemetryPropertiesRequest"
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshProfileTelemetryPropertiesRequest"
          application/json-patch+json:
            schema:
              $ref: "#/components/schemas/RefreshProfileTelemetryPropertiesRequest"
          text/json:
            schema:
              $ref: "#/components/schemas/RefreshProfileTelemetryPropertiesRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefreshProfileTelemetryPropertiesResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/RefreshProfileTelemetryPropertiesResponse"
            text/plain:
              schema:
                $ref: "#/components/schemas/RefreshProfileTelemetryPropertiesResponse"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
      tags:
        - Privacy
  "/api/v1/GenevaActions/Resources/{resourceId}/under-investigation":
    post:
      parameters:
        - in: path
          name: resourceId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnderInvestigationResponseBody"
            text/json:
              schema:
                $ref: "#/components/schemas/UnderInvestigationResponseBody"
            text/plain:
              schema:
                $ref: "#/components/schemas/UnderInvestigationResponseBody"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
      tags:
        - Resources
  /api/v1/GenevaActions/VnetPoolDefinitions:
    delete:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: "#/components/schemas/PoolDefinitionInput"
          application/json:
            schema:
              $ref: "#/components/schemas/PoolDefinitionInput"
          application/json-patch+json:
            schema:
              $ref: "#/components/schemas/PoolDefinitionInput"
          text/json:
            schema:
              $ref: "#/components/schemas/PoolDefinitionInput"
      responses:
        "200":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Not Found
        "503":
          description: Server Error
      tags:
        - VnetPoolDefinitions
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: "#/components/schemas/PoolDefinitionInput"
          application/json:
            schema:
              $ref: "#/components/schemas/PoolDefinitionInput"
          application/json-patch+json:
            schema:
              $ref: "#/components/schemas/PoolDefinitionInput"
          text/json:
            schema:
              $ref: "#/components/schemas/PoolDefinitionInput"
      responses:
        "200":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Not Found
        "503":
          description: Server Error
      tags:
        - VnetPoolDefinitions
  /api/v1/HeartBeat:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: "#/components/schemas/HeartBeatBody"
          application/json:
            schema:
              $ref: "#/components/schemas/HeartBeatBody"
          application/json-patch+json:
            schema:
              $ref: "#/components/schemas/HeartBeatBody"
          text/json:
            schema:
              $ref: "#/components/schemas/HeartBeatBody"
      responses:
        "204":
          description: No Content
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Client Error
      tags:
        - HeartBeat
  /api/v1/Locations:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationsResult"
            text/json:
              schema:
                $ref: "#/components/schemas/LocationsResult"
            text/plain:
              schema:
                $ref: "#/components/schemas/LocationsResult"
          description: Success
      tags:
        - Locations
  "/api/v1/Locations/{location}":
    get:
      parameters:
        - in: path
          name: location
          required: true
          schema:
            type: string
        - in: query
          name: planId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationInfoResult"
            text/json:
              schema:
                $ref: "#/components/schemas/LocationInfoResult"
            text/plain:
              schema:
                $ref: "#/components/schemas/LocationInfoResult"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Not Found
      tags:
        - Locations
  "/api/v1/Prebuilds/pools/{poolId}/instances":
    post:
      parameters:
        - in: path
          name: poolId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: "#/components/schemas/CreateEnvironmentPoolResourceBody"
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEnvironmentPoolResourceBody"
          application/json-patch+json:
            schema:
              $ref: "#/components/schemas/CreateEnvironmentPoolResourceBody"
          text/json:
            schema:
              $ref: "#/components/schemas/CreateEnvironmentPoolResourceBody"
      responses:
        "201":
          description: Created
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Not Found
      tags:
        - Prebuilds
    put:
      parameters:
        - in: path
          name: poolId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: "#/components/schemas/CreateEnvironmentPoolResourceBody"
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEnvironmentPoolResourceBody"
          application/json-patch+json:
            schema:
              $ref: "#/components/schemas/CreateEnvironmentPoolResourceBody"
          text/json:
            schema:
              $ref: "#/components/schemas/CreateEnvironmentPoolResourceBody"
      responses:
        "201":
          description: Created
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Not Found
      tags:
        - Prebuilds
  "/api/v1/Prebuilds/template/{environmentId}":
    get:
      operationId: GetTemplateInfoRoute
      parameters:
        - in: path
          name: environmentId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrebuildTemplateInfoResult"
            text/json:
              schema:
                $ref: "#/components/schemas/PrebuildTemplateInfoResult"
            text/plain:
              schema:
                $ref: "#/components/schemas/PrebuildTemplateInfoResult"
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Not Found
      tags:
        - Prebuilds
  "/api/v1/Prebuilds/templates/repo/{repoId}/branch/{branchName}/hash/{prebuildHash}/location/{location}/skus":
    get:
      operationId: GetPrebuildReadinessRoute
      parameters:
        - in: path
          name: repoId
          required: true
          schema:
            type: string
        - in: path
          name: branchName
          required: true
          schema:
            type: string
        - in: path
          name: prebuildHash
          required: true
          schema:
            type: string
        - in: path
          name: location
          required: true
          schema:
            type: string
        - in: query
          name: storageType
          schema:
            $ref: "#/components/schemas/StorageType"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrebuildReadinessResult"
            text/json:
              schema:
                $ref: "#/components/schemas/PrebuildReadinessResult"
            text/plain:
              schema:
                $ref: "#/components/schemas/PrebuildReadinessResult"
          description: Success
        "400":
          content:
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            text/plain:
              schema:
                type: string
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Not Found
      tags:
        - Prebuilds
  /api/v1/Sas:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ScopedSecretResultBody"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/ScopedSecretResultBody"
                type: array
            text/plain:
              schema:
                items:
                  $ref: "#/components/schemas/ScopedSecretResultBody"
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Forbidden
      tags:
        - Sas
  /api/v1/Secrets:
    get:
      parameters:
        - in: query
          name: planId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ScopedSecretResultBody"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/ScopedSecretResultBody"
                type: array
            text/plain:
              schema:
                items:
                  $ref: "#/components/schemas/ScopedSecretResultBody"
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Forbidden
      tags:
        - Secrets
    post:
      parameters:
        - in: query
          name: planId
          schema:
            type: string
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: "#/components/schemas/ScopedCreateSecretBody"
          application/json:
            schema:
              $ref: "#/components/schemas/ScopedCreateSecretBody"
          application/json-patch+json:
            schema:
              $ref: "#/components/schemas/ScopedCreateSecretBody"
          text/json:
            schema:
              $ref: "#/components/schemas/ScopedCreateSecretBody"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScopedSecretResultBody"
            text/json:
              schema:
                $ref: "#/components/schemas/ScopedSecretResultBody"
            text/plain:
              schema:
                $ref: "#/components/schemas/ScopedSecretResultBody"
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Forbidden
      tags:
        - Secrets
  "/api/v1/Secrets/{secretId}":
    delete:
      parameters:
        - in: query
          name: planId
          schema:
            type: string
        - in: query
          name: scope
          schema:
            $ref: "#/components/schemas/SecretScope"
        - in: path
          name: secretId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "204":
          description: No Content
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Forbidden
      tags:
        - Secrets
    put:
      parameters:
        - in: query
          name: planId
          schema:
            type: string
        - in: path
          name: secretId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: "#/components/schemas/ScopedUpdateSecretBody"
          application/json:
            schema:
              $ref: "#/components/schemas/ScopedUpdateSecretBody"
          application/json-patch+json:
            schema:
              $ref: "#/components/schemas/ScopedUpdateSecretBody"
          text/json:
            schema:
              $ref: "#/components/schemas/ScopedUpdateSecretBody"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScopedSecretResultBody"
            text/json:
              schema:
                $ref: "#/components/schemas/ScopedSecretResultBody"
            text/plain:
              schema:
                $ref: "#/components/schemas/ScopedSecretResultBody"
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Forbidden
      tags:
        - Secrets
  "/api/v1/Tenant/{tenantId}":
    delete:
      parameters:
        - in: path
          name: tenantId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Not Found
        "500":
          description: Server Error
        "503":
          description: Server Error
      tags:
        - Tenant
    get:
      parameters:
        - in: path
          name: tenantId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TenantInfoResult"
            text/json:
              schema:
                $ref: "#/components/schemas/TenantInfoResult"
            text/plain:
              schema:
                $ref: "#/components/schemas/TenantInfoResult"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Not Found
        "500":
          description: Server Error
        "503":
          description: Server Error
      tags:
        - Tenant
    put:
      parameters:
        - in: path
          name: tenantId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "500":
          description: Server Error
        "503":
          description: Server Error
      tags:
        - Tenant
  "/api/v1/Tokens/plans/{planName}/deleteAllCodespaces":
    post:
      parameters:
        - in: path
          name: planName
          required: true
          schema:
            type: string
        - in: header
          name: x-subscription-id
          schema:
            type: string
        - in: query
          name: expiration
          schema:
            format: date-time
            type: string
      responses:
        "200":
          description: Success
      tags:
        - Tokens
  "/api/v1/Tokens/plans/{planName}/readAllCodespaces":
    post:
      parameters:
        - in: path
          name: planName
          required: true
          schema:
            type: string
        - in: header
          name: x-subscription-id
          schema:
            type: string
        - in: query
          name: expiration
          schema:
            format: date-time
            type: string
      responses:
        "200":
          description: Success
      tags:
        - Tokens
  "/api/v1/Tokens/plans/{planName}/writeCodespaces":
    post:
      parameters:
        - in: path
          name: planName
          required: true
          schema:
            type: string
        - in: header
[...]
