openapi: 3.0.3
servers:
  - url: https://api.ntropy.network
info:
  contact: {}
  description: |-
    Ntropy Transaction API for transaction classification & management

    Contact Support:
     Name: API Support
     Email: api@ntropy.network
  title: Ntropy Transaction API v1
  version: 1.0.0
  x-apisguru-categories:
    - financial
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.website-files.com_60478d22345ad2b2ea2a1a12_6070b22f45729bf27b1f6be1_ntropy.png
  x-origin:
    - format: postman
      url: https://www.postman.com/collections/15141771-9e1b6dfc-9afc-4527-9926-479b8ce9366a-TzCJfpx4
      version: 2.x
  x-providerName: ntropy.network
tags:
  - name: classifier
  - name: consumer
  - name: batch
  - name: business
  - name: batch1
paths:
  "/classifier/business/batch/{id}":
    get:
      description: Get a batch of business transaction classification results.
      operationId: getABatchOfBusinessTransactionClassificationResults
      responses:
        "200":
          content:
            application/json:
              examples:
                Returned a batch of business transaction classification results.:
                  value:
                    id: urn:uuid:d4b197a2-f2cf-8302-0ef8-566
                    progress: 68497089
                    results:
                      - labels:
                          - Cloud computing
                          - Infrastructure
                        logo: https://logo.clearbit.com/aws.amazon.com
                        merchant: Amazon Web Services
                        transaction_id: xbx8YP14g565Xketw3tFmn4yp49x3tbj9mD8DB4fM8DDY6x
                        website: https://aws.amazon.com/
                      - labels:
                          - Cloud computing
                          - Infrastructure
                        logo: https://logo.clearbit.com/aws.amazon.com
                        merchant: Amazon Web Services
                        transaction_id: xbx8YP14g565Xketw3tFmn4yp49x3tbj9mD8DB4fM8DDY6x
                        website: https://aws.amazon.com/
                    status: finished
                    updated_at: 1949-08-24T23:09:35.824Z
              schema:
                properties:
                  id:
                    example: urn:uuid:d4b197a2-f2cf-8302-0ef8-566
                    type: string
                  progress:
                    example: 68497089
                    type: number
                  results:
                    example:
                      - labels:
                          - Cloud computing
                          - Infrastructure
                        logo: https://logo.clearbit.com/aws.amazon.com
                        merchant: Amazon Web Services
                        transaction_id: xbx8YP14g565Xketw3tFmn4yp49x3tbj9mD8DB4fM8DDY6x
                        website: https://aws.amazon.com/
                      - labels:
                          - Cloud computing
                          - Infrastructure
                        logo: https://logo.clearbit.com/aws.amazon.com
                        merchant: Amazon Web Services
                        transaction_id: xbx8YP14g565Xketw3tFmn4yp49x3tbj9mD8DB4fM8DDY6x
                        website: https://aws.amazon.com/
                    items:
                      properties:
                        labels:
                          example:
                            - Cloud computing
                            - Infrastructure
                          items:
                            example: Cloud computing
                            type: string
                          type: array
                        logo:
                          example: https://logo.clearbit.com/aws.amazon.com
                          type: string
                        merchant:
                          example: Amazon Web Services
                          type: string
                        transaction_id:
                          example: xbx8YP14g565Xketw3tFmn4yp49x3tbj9mD8DB4fM8DDY6x
                          type: string
                        website:
                          example: https://aws.amazon.com/
                          type: string
                      type: object
                    type: array
                  status:
                    example: finished
                    type: string
                  updated_at:
                    example: 1949-08-24T23:09:35.824Z
                    type: string
                type: object
          description: Returned a batch of business transaction classification results.
        "404":
          content:
            text/plain:
              examples:
                Not found.:
                  value: ""
          description: Not found.
        "500":
          content:
            text/plain:
              examples:
                Internal server error.:
                  value: ""
          description: Internal server error.
      summary: Get a batch of business transaction classification results.
      tags:
        - classifier
        - business
        - batch1
    parameters:
      - description: (Required) Batch id.
        in: path
        name: id
        required: true
        schema:
          example: 247ee045-3d04-4b3c-872b-a9160b810f33
          type: string
  "/classifier/consumer/batch/{id}":
    get:
      description: Get a batch of consumer transaction classification results.
      operationId: getABatchOfConsumerTransactionClassificationResults
      responses:
        "200":
          content:
            application/json:
              examples:
                Returned a batch of consumer transaction classification results.:
                  value:
                    id: 5d13df6c-6a20-59b6-9259-fb4f0ad90411
                    progress: -62518197
                    results:
                      - contact:
                          email: hUkvsYKUamGpI@rWdfbzlEMyCxWD.ep
                          phone: exercitation esse sed nisi
                        labels:
                          - eu quis pr
                          - eu
                        location:
                          address: pariatur esse officia cupidatat
                          city: fugiat tempor reprehenderit
                          country: ad ea ut id
                          lat: -68164400.35857312
                          lon: 85118979.13578662
                          postal_code: minim est
                        logo: laborum fugiat
                        merchant: do enim ullamco irure
                        person: non
                        rating:
                          reviews: 49181631
                          value: -18636660.679956168
                        transaction_id: proident occaecat
                        website: ""
                      - contact:
                          email: B2b9F6BqZI@dnlLjJGCVnHqEgVFyDwSWrcCVtCuR.wsx
                          phone: incididunt reprehenderit do cupidatat
                        labels:
                          - non cupidatat et esse
                          - nisi reprehenderit est conse
                        location:
                          address: irure magna
                          city: deserunt ut in
                          country: dolore Excepteur aliqua do
                          lat: -53232704.415080525
                          lon: 24234387.569050018
                          postal_code: officia dolore dolor
                        logo: est
                        merchant: laboris culpa Excepteur consequat consectetur
                        person: fugiat
                        rating:
                          reviews: 97241118
                          value: -51476788.074969985
                        transaction_id: labore Ut
                        website: cillum laborum c
                    status: error
                    updated_at: 2014-05-05T08:09:39.758Z
              schema:
                properties:
                  id:
                    example: 5d13df6c-6a20-59b6-9259-fb4f0ad90411
                    type: string
                  progress:
                    example: -62518197
                    type: number
                  results:
                    example:
                      - contact:
                          email: hUkvsYKUamGpI@rWdfbzlEMyCxWD.ep
                          phone: exercitation esse sed nisi
                        labels:
                          - eu quis pr
                          - eu
                        location:
                          address: pariatur esse officia cupidatat
                          city: fugiat tempor reprehenderit
                          country: ad ea ut id
                          lat: -68164400.35857312
                          lon: 85118979.13578662
                          postal_code: minim est
                        logo: laborum fugiat
                        merchant: do enim ullamco irure
                        person: non
                        rating:
                          reviews: 49181631
                          value: -18636660.679956168
                        transaction_id: proident occaecat
                        website: ""
                      - contact:
                          email: B2b9F6BqZI@dnlLjJGCVnHqEgVFyDwSWrcCVtCuR.wsx
                          phone: incididunt reprehenderit do cupidatat
                        labels:
                          - non cupidatat et esse
                          - nisi reprehenderit est conse
                        location:
                          address: irure magna
                          city: deserunt ut in
                          country: dolore Excepteur aliqua do
                          lat: -53232704.415080525
                          lon: 24234387.569050018
                          postal_code: officia dolore dolor
                        logo: est
                        merchant: laboris culpa Excepteur consequat consectetur
                        person: fugiat
                        rating:
                          reviews: 97241118
                          value: -51476788.074969985
                        transaction_id: labore Ut
                        website: cillum laborum c
                    items:
                      properties:
                        contact:
                          properties:
                            email:
                              example: hUkvsYKUamGpI@rWdfbzlEMyCxWD.ep
                              type: string
                            phone:
                              example: exercitation esse sed nisi
                              type: string
                          type: object
                        labels:
                          example:
                            - eu quis pr
                            - eu
                          items:
                            example: eu quis pr
                            type: string
                          type: array
                        location:
                          properties:
                            address:
                              example: pariatur esse officia cupidatat
                              type: string
                            city:
                              example: fugiat tempor reprehenderit
                              type: string
                            country:
                              example: ad ea ut id
                              type: string
                            lat:
                              example: -68164400.35857312
                              type: number
                            lon:
                              example: 85118979.13578662
                              type: number
                            postal_code:
                              example: minim est
                              type: string
                          type: object
                        logo:
                          example: laborum fugiat
                          type: string
                        merchant:
                          example: do enim ullamco irure
                          type: string
                        person:
                          example: non
                          type: string
                        rating:
                          properties:
                            reviews:
                              example: 49181631
                              type: number
                            value:
                              example: -18636660.679956168
                              type: number
                          type: object
                        transaction_id:
                          example: proident occaecat
                          type: string
                        website:
                          example: ""
                          type: string
                      type: object
                    type: array
                  status:
                    example: error
                    type: string
                  updated_at:
                    example: 2014-05-05T08:09:39.758Z
                    type: string
                type: object
          description: Returned a batch of consumer transaction classification results.
        "404":
          content:
            text/plain:
              examples:
                Not found:
                  value: ""
          description: Not found
        "500":
          content:
            text/plain:
              examples:
                Internal server error:
                  value: ""
          description: Internal server error
      summary: Get a batch of consumer transaction classification results.
      tags:
        - classifier
        - consumer
        - batch
    parameters:
      - description: (Required) Batch id.
        in: path
        name: id
        required: true
        schema:
          example: 247ee045-3d04-4b3c-872b-a9160b810f33
          type: string
