openapi: 3.0.0
servers:
  - url: https://driveactivity.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Provides a historical view of activity in Google Drive.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Drive Activity API
  version: v2
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png
  x-origin:
    - converter:
        url: https://github.com/mermade/oas-kit
        version: 7.0.4
      format: google
      url: https://driveactivity.googleapis.com/$discovery/rest?version=v2
      version: v1
  x-providerName: googleapis.com
  x-serviceName: driveactivity
externalDocs:
  url: https://developers.google.com/drive/activity/
tags:
  - name: activity
paths:
  /v2/activity:query:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Query past activity in Google Drive.
      operationId: driveactivity.activity.query
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QueryDriveActivityRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueryDriveActivityResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/drive.activity
          Oauth2c:
            - https://www.googleapis.com/auth/drive.activity
        - Oauth2:
            - https://www.googleapis.com/auth/drive.activity.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/drive.activity.readonly
      tags:
        - activity
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    Action:
      description: Information about the action.
      properties:
        actor:
          $ref: "#/components/schemas/Actor"
          description: The actor responsible for this action (or empty if all actors are responsible).
        detail:
          $ref: "#/components/schemas/ActionDetail"
          description: The type and detailed information about the action.
        target:
          $ref: "#/components/schemas/Target"
          description: The target this action affects (or empty if affecting all targets). This represents the state of the target immediately after this action occurred.
        timeRange:
          $ref: "#/components/schemas/TimeRange"
          description: The action occurred over this time range.
        timestamp:
          description: The action occurred at this specific time.
          format: google-datetime
          type: string
      type: object
    ActionDetail:
      description: Data describing the type and additional information of an action.
      properties:
        appliedLabelChange:
          $ref: "#/components/schemas/AppliedLabelChange"
          description: Label was changed.
        comment:
          $ref: "#/components/schemas/Comment"
          description: A change about comments was made.
        create:
          $ref: "#/components/schemas/Create"
          description: An object was created.
        delete:
          $ref: "#/components/schemas/Delete"
          description: An object was deleted.
        dlpChange:
          $ref: "#/components/schemas/DataLeakPreventionChange"
          description: A change happened in data leak prevention status.
        edit:
          $ref: "#/components/schemas/Edit"
          description: An object was edited.
        move:
          $ref: "#/components/schemas/Move"
          description: An object was moved.
        permissionChange:
          $ref: "#/components/schemas/PermissionChange"
          description: The permission on an object was changed.
        reference:
          $ref: "#/components/schemas/ApplicationReference"
          description: An object was referenced in an application outside of Drive/Docs.
        rename:
          $ref: "#/components/schemas/Rename"
          description: An object was renamed.
        restore:
          $ref: "#/components/schemas/Restore"
          description: A deleted object was restored.
        settingsChange:
          $ref: "#/components/schemas/SettingsChange"
          description: Settings were changed.
      type: object
    Actor:
      description: The actor of a Drive activity.
      properties:
        administrator:
          $ref: "#/components/schemas/Administrator"
          description: An administrator.
        anonymous:
          $ref: "#/components/schemas/AnonymousUser"
          description: An anonymous user.
        impersonation:
          $ref: "#/components/schemas/Impersonation"
          description: An account acting on behalf of another.
        system:
          $ref: "#/components/schemas/SystemEvent"
          description: A non-user actor (i.e. system triggered).
        user:
          $ref: "#/components/schemas/User"
          description: An end user.
      type: object
    Administrator:
      description: Empty message representing an administrator.
      properties: {}
      type: object
    AnonymousUser:
      description: Empty message representing an anonymous user or indicating the authenticated user should be anonymized.
      properties: {}
      type: object
    Anyone:
      description: Represents any user (including a logged out user).
      properties: {}
      type: object
    ApplicationReference:
      description: Activity in applications other than Drive.
      properties:
        type:
          description: The reference type corresponding to this event.
          enum:
            - UNSPECIFIED_REFERENCE_TYPE
            - LINK
            - DISCUSS
          type: string
      type: object
    AppliedLabelChange:
      description: Label changes that were made on the Target.
      properties:
        changes:
          description: Changes that were made to the Label on the Target.
          items:
            $ref: "#/components/schemas/AppliedLabelChangeDetail"
          type: array
      type: object
    AppliedLabelChangeDetail:
      description: A change made to a Label on the Target.
      properties:
        fieldChanges:
          description: Field Changes. Only present if `types` contains `LABEL_FIELD_VALUE_CHANGED`.
          items:
            $ref: "#/components/schemas/FieldValueChange"
          type: array
        label:
          description: The Label name representing the Label that changed. This name always contains the revision of the Label that was used when this Action occurred. The format is `labels/id@revision`.
          type: string
        title:
          description: The human-readable title of the label that changed.
          type: string
        types:
          description: The types of changes made to the Label on the Target.
          items:
            enum:
              - TYPE_UNSPECIFIED
              - LABEL_ADDED
              - LABEL_REMOVED
              - LABEL_FIELD_VALUE_CHANGED
              - LABEL_APPLIED_BY_ITEM_CREATE
            type: string
          type: array
      type: object
    Assignment:
      description: A comment with an assignment.
      properties:
        assignedUser:
          $ref: "#/components/schemas/User"
          description: The user to whom the comment was assigned.
        subtype:
          description: The sub-type of this event.
          enum:
            - SUBTYPE_UNSPECIFIED
            - ADDED
            - DELETED
            - REPLY_ADDED
            - REPLY_DELETED
            - RESOLVED
            - REOPENED
            - REASSIGNED
          type: string
      type: object
    Comment:
      description: A change about comments on an object.
      properties:
        assignment:
          $ref: "#/components/schemas/Assignment"
          description: A change on an assignment.
        mentionedUsers:
          description: Users who are mentioned in this comment.
          items:
            $ref: "#/components/schemas/User"
          type: array
        post:
          $ref: "#/components/schemas/Post"
          description: A change on a regular posted comment.
        suggestion:
          $ref: "#/components/schemas/Suggestion"
          description: A change on a suggestion.
      type: object
    ConsolidationStrategy:
      description: How the individual activities are consolidated. If a set of activities is related they can be consolidated into one combined activity, such as one actor performing the same action on multiple targets, or multiple actors performing the same action on a single target. The strategy defines the rules for which activities are related.
      properties:
        legacy:
          $ref: "#/components/schemas/Legacy"
          description: The individual activities are consolidated using the legacy strategy.
        none:
          $ref: "#/components/schemas/NoConsolidation"
          description: The individual activities are not consolidated.
      type: object
    Copy:
      description: An object was created by copying an existing object.
      properties:
        originalObject:
          $ref: "#/components/schemas/TargetReference"
          description: The original object.
      type: object
    Create:
      description: An object was created.
      properties:
        copy:
          $ref: "#/components/schemas/Copy"
          description: If present, indicates the object was created by copying an existing Drive object.
        new:
          $ref: "#/components/schemas/New"
          description: If present, indicates the object was newly created (e.g. as a blank document), not derived from a Drive object or external object.
        upload:
          $ref: "#/components/schemas/Upload"
          description: If present, indicates the object originated externally and was uploaded to Drive.
      type: object
    DataLeakPreventionChange:
      description: A change in the object's data leak prevention status.
      properties:
        type:
          description: The type of Data Leak Prevention (DLP) change.
          enum:
            - TYPE_UNSPECIFIED
            - FLAGGED
            - CLEARED
          type: string
      type: object
    Date:
      description: Wrapper for Date Field value.
      properties:
        value:
          description: Date value.
          format: google-datetime
          type: string
      type: object
    Delete:
      description: An object was deleted.
      properties:
        type:
          description: The type of delete action taken.
          enum:
            - TYPE_UNSPECIFIED
            - TRASH
            - PERMANENT_DELETE
          type: string
      type: object
    DeletedUser:
      description: A user whose account has since been deleted.
      properties: {}
      type: object
    Domain:
      description: Information about a domain.
      properties:
        legacyId:
          description: An opaque string used to identify this domain.
          type: string
        name:
          description: The name of the domain, e.g. `google.com`.
          type: string
      type: object
    Drive:
      description: Information about a shared drive.
      properties:
        name:
          description: The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name.
          type: string
        root:
          $ref: "#/components/schemas/DriveItem"
          description: The root of this shared drive.
        title:
          description: The title of the shared drive.
          type: string
      type: object
    DriveActivity:
      description: A single Drive activity comprising one or more Actions by one or more Actors on one or more Targets. Some Action groupings occur spontaneously, such as moving an item into a shared folder triggering a permission change. Other groupings of related Actions, such as multiple Actors editing one item or moving multiple files into a new folder, are controlled by the selection of a ConsolidationStrategy in the QueryDriveActivityRequest.
      properties:
        actions:
          description: Details on all actions in this activity.
          items:
            $ref: "#/components/schemas/Action"
          type: array
        actors:
          description: All actor(s) responsible for the activity.
          items:
            $ref: "#/components/schemas/Actor"
          type: array
        primaryActionDetail:
          $ref: "#/components/schemas/ActionDetail"
          description: Key information about the primary action for this activity. This is either representative, or the most important, of all actions in the activity, according to the ConsolidationStrategy in the request.
        targets:
          description: All Google Drive objects this activity is about (e.g. file, folder, drive). This represents the state of the target immediately after the actions occurred.
          items:
            $ref: "#/components/schemas/Target"
          type: array
        timeRange:
          $ref: "#/components/schemas/TimeRange"
          description: The activity occurred over this time range.
        timestamp:
          description: The activity occurred at this specific time.
          format: google-datetime
          type: string
      type: object
    DriveFile:
      description: A Drive item which is a file.
      properties: {}
      type: object
    DriveFolder:
      description: A Drive item which is a folder.
      properties:
        type:
          description: The type of Drive folder.
          enum:
            - TYPE_UNSPECIFIED
            - MY_DRIVE_ROOT
            - SHARED_DRIVE_ROOT
            - STANDARD_FOLDER
          type: string
      type: object
    DriveItem:
      description: A Drive item, such as a file or folder.
      properties:
        driveFile:
          $ref: "#/components/schemas/DriveFile"
          description: The Drive item is a file.
        driveFolder:
          $ref: "#/components/schemas/DriveFolder"
          description: The Drive item is a folder. Includes information about the type of folder.
        file:
          $ref: "#/components/schemas/File"
          description: This field is deprecated; please use the `driveFile` field instead.
        folder:
          $ref: "#/components/schemas/Folder"
          description: This field is deprecated; please use the `driveFolder` field instead.
        mimeType:
          description: The MIME type of the Drive item. See https://developers.google.com/drive/v3/web/mime-types.
          type: string
        name:
          description: The target Drive item. The format is `items/ITEM_ID`.
          type: string
        owner:
          $ref: "#/components/schemas/Owner"
          description: Information about the owner of this Drive item.
        title:
          description: The title of the Drive item.
          type: string
      type: object
    DriveItemReference:
      description: A lightweight reference to a Drive item, such as a file or folder.
      properties:
        driveFile:
          $ref: "#/components/schemas/DriveFile"
          description: The Drive item is a file.
        driveFolder:
          $ref: "#/components/schemas/DriveFolder"
          description: The Drive item is a folder. Includes information about the type of folder.
        file:
          $ref: "#/components/schemas/File"
          description: This field is deprecated; please use the `driveFile` field instead.
        folder:
          $ref: "#/components/schemas/Folder"
          description: This field is deprecated; please use the `driveFolder` field instead.
        name:
          description: The target Drive item. The format is `items/ITEM_ID`.
          type: string
        title:
          description: The title of the Drive item.
          type: string
      type: object
    DriveReference:
      description: A lightweight reference to a shared drive.
      properties:
        name:
          description: The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name.
          type: string
        title:
          description: The title of the shared drive.
          type: string
      type: object
    Edit:
      description: An empty message indicating an object was edited.
      properties: {}
      type: object
    FieldValue:
      description: Contains a value of a Field.
      properties:
        date:
          $ref: "#/components/schemas/Date"
          description: Date Field value.
        integer:
          $ref: "#/components/schemas/Integer"
          description: Integer Field value.
        selection:
          $ref: "#/components/schemas/Selection"
          description: Selection Field value.
        selectionList:
          $ref: "#/components/schemas/SelectionList"
          description: Selection List Field value.
        text:
          $ref: "#/components/schemas/Text"
          description: Text Field value.
        textList:
          $ref: "#/components/schemas/TextList"
          description: Text List Field value.
        user:
          $ref: "#/components/schemas/SingleUser"
          description: User Field value.
        userList:
          $ref: "#/components/schemas/UserList"
          description: User List Field value.
      type: object
    FieldValueChange:
      description: Change to a Field value.
      properties:
        displayName:
          description: The human-readable display name for this field.
          type: string
        fieldId:
          description: The ID of this field. Field IDs are unique within a Label.
          type: string
        newValue:
          $ref: "#/components/schemas/FieldValue"
          description: The value that is now set on the field. If not present, the field was cleared. At least one of {old_value|new_value} is always set.
        oldValue:
          $ref: "#/components/schemas/FieldValue"
          description: The value that was previously set on the field. If not present, the field was newly set. At least one of {old_value|new_value} is always set.
      type: object
    File:
      description: This item is deprecated; please see `DriveFile` instead.
      properties: {}
      type: object
    FileComment:
      description: A comment on a file.
      properties:
        legacyCommentId:
          description: The comment in the discussion thread. This identifier is an opaque string compatible with the Drive API; see https://developers.google.com/drive/v3/reference/comments/get
          type: string
        legacyDiscussionId:
          description: The discussion thread to which the comment was added. This identifier is an opaque string compatible with the Drive API and references the first comment in a discussion; see https://developers.google.com/drive/v3/reference/comments/get
          type: string
        linkToDiscussion:
          description: The link to the discussion thread containing this comment, for example, `https://docs.google.com/DOCUMENT_ID/edit?disco=THREAD_ID`.
          type: string
        parent:
          $ref: "#/components/schemas/DriveItem"
          description: The Drive item containing this comment.
      type: object
    Folder:
      description: This item is deprecated; please see `DriveFolder` instead.
      properties:
        type:
          description: This field is deprecated; please see `DriveFolder.type` instead.
          enum:
            - TYPE_UNSPECIFIED
            - MY_DRIVE_ROOT
            - TEAM_DRIVE_ROOT
            - STANDARD_FOLDER
          type: string
      type: object
    Group:
      description: Information about a group.
      properties:
        email:
          description: The email address of the group.
          type: string
        title:
          description: The title of the group.
          type: string
      type: object
    Impersonation:
      description: Information about an impersonation, where an admin acts on behalf of an end user. Information about the acting admin is not currently available.
      properties:
        impersonatedUser:
          $ref: "#/components/schemas/User"
          description: The impersonated user.
      type: object
    Integer:
      description: Wrapper for Integer Field value.
      properties:
        value:
          description: Integer value.
          format: int64
          type: string
      type: object
    KnownUser:
      description: A known user.
      properties:
        isCurrentUser:
          description: True if this is the user making the request.
          type: boolean
        personName:
          description: The identifier for this user that can be used with the People API to get more information. The format is `people/ACCOUNT_ID`. See https://developers.google.com/people/.
          type: string
      type: object
    Legacy:
      description: A strategy that consolidates activities using the grouping rules from the legacy V1 Activity API. Similar actions occurring within a window of time can be grouped across multiple targets (such as moving a set of files at once) or multiple actors (such as several users editing the same item). Grouping rules for this strategy are specific to each type of action.
      properties: {}
      type: object
    Move:
      description: An object was moved.
      properties:
        addedParents:
          description: The added parent object(s).
          items:
            $ref: "#/components/schemas/TargetReference"
          type: array
        removedParents:
          description: The removed parent object(s).
          items:
            $ref: "#/components/schemas/TargetReference"
          type: array
      type: object
    New:
      description: An object was created from scratch.
      properties: {}
      type: object
    NoConsolidation:
      description: A strategy that does no consolidation of individual activities.
      properties: {}
      type: object
    Owner:
      description: Information about the owner of a Drive item.
      properties:
        domain:
          $ref: "#/components/schemas/Domain"
          description: The domain of the Drive item owner.
        drive:
          $ref: "#/components/schemas/DriveReference"
          description: The drive that owns the item.
        teamDrive:
          $ref: "#/components/schemas/TeamDriveReference"
          description: This field is deprecated; please use the `drive` field instead.
        user:
          $ref: "#/components/schemas/User"
          description: The user that owns the Drive item.
      type: object
    Permission:
      description: The permission setting of an object.
      properties:
        allowDiscovery:
          description: If true, the item can be discovered (e.g. in the user's "Shared with me" collection) without needing a link to the item.
          type: boolean
        anyone:
          $ref: "#/components/schemas/Anyone"
          description: If set, this permission applies to anyone, even logged out users.
        domain:
          $ref: "#/components/schemas/Domain"
          description: The domain to whom this permission applies.
        group:
          $ref: "#/components/schemas/Group"
          description: The group to whom this permission applies.
        role:
          description: Indicates the [Google Drive permissions role](https://developers.google.com/drive/web/manage-sharing#roles). The role determines a user's ability to read, write, and comment on items.
          enum:
            - ROLE_UNSPECIFIED
            - OWNER
            - ORGANIZER
            - FILE_ORGANIZER
            - EDITOR
            - COMMENTER
            - VIEWER
            - PUBLISHED_VIEWER
          type: string
        user:
          $ref: "#/components/schemas/User"
          description: The user to whom this permission applies.
      type: object
    PermissionChange:
      description: A change of the permission setting on an item.
      properties:
        addedPermissions:
          description: The set of permissions added by this change.
          items:
            $ref: "#/components/schemas/Permission"
          type: array
        removedPermissions:
          description: The set of permissions removed by this change.
          items:
            $ref: "#/components/schemas/Permission"
          type: array
      type: object
    Post:
      description: A regular posted comment.
      properties:
        subtype:
          description: The sub-type of this event.
          enum:
            - SUBTYPE_UNSPECIFIED
            - ADDED
            - DELETED
            - REPLY_ADDED
            - REPLY_DELETED
            - RESOLVED
            - REOPENED
          type: string
      type: object
    QueryDriveActivityRequest:
      description: The request message for querying Drive activity.
      properties:
        ancestorName:
          description: Return activities for this Drive folder, plus all children and descendants. The format is `items/ITEM_ID`.
          type: string
        consolidationStrategy:
          $ref: "#/components/schemas/ConsolidationStrategy"
          description: Details on how to consolidate related actions that make up the activity. If not set, then related actions aren't consolidated.
        filter:
          description: 'The filtering for items returned from this query request. The format of the filter string is a sequence of expressions, joined by an optional "AND", where each expression is of the form "field operator value". Supported fields: - `time`: Uses numerical operators on date values either in terms of milliseconds since Jan 1, 1970 or in RFC 3339 format. Examples: - `time > 1452409200000 AND time <= 1492812924310` - `time >= "2016-01-10T01:02:03-05:00"` - `detail.action_detail_case`: Uses the "has" operator (:) and either a singular value or a list of allowed action types enclosed in parentheses, separated by a space. To exclude a result from the response, prepend a hyphen (`-`) to the beginning of the filter string. Examples: - `detail.action_detail_case:RENAME` - `detail.action_detail_case:(CREATE RESTORE)` - `-detail.action_detail_case:MOVE` '
          type: string
        itemName:
          description: Return activities for this Drive item. The format is `items/ITEM_ID`.
          type: string
        pageSize:
          description: The minimum number of activities desired in the response; the server attempts to return at least this quantity. The server may also return fewer activities if it has a partial response ready before the request times out. If not set, a default value is used.
          format: int32
          type: integer
        pageToken:
          description: The token identifies which page of results to return. Set this to the next_page_token value returned from a previous query to obtain the following page of results. If not set, the first page of results is returned.
          type: string
      type: object
    QueryDriveActivityResponse:
      description: Response message for querying Drive activity.
      properties:
        activities:
          description: List of activity requested.
          items:
            $ref: "#/components/schemas/DriveActivity"
          type: array
        nextPageToken:
          description: Token to retrieve the next page of results, or empty if there are no more results in the list.
          type: string
      type: object
    Rename:
      description: An object was renamed.
      properties:
        newTitle:
          description: The new title of the drive object.
          type: string
        oldTitle:
          description: The previous title of the drive object.
          type: string
      type: object
    Restore:
      description: A deleted object was restored.
      properties:
        type:
          description: The type of restore action taken.
          enum:
            - TYPE_UNSPECIFIED
            - UNTRASH
          type: string
      type: object
    RestrictionChange:
      description: Information about restriction policy changes to a feature.
      properties:
        feature:
          description: The feature which had a change in restriction policy.
          enum:
            - FEATURE_UNSPECIFIED
            - SHARING_OUTSIDE_DOMAIN
            - DIRECT_SHARING
            - ITEM_DUPLICATION
            - DRIVE_FILE_STREAM
            - FILE_ORGANIZER_CAN_SHARE_FOLDERS
          type: string
        newRestriction:
          description: The restriction in place after the change.
          enum:
            - RESTRICTION_UNSPECIFIED
            - UNRESTRICTED
            - FULLY_RESTRICTED
          type: string
      type: object
    Selection:
      description: Wrapper for Selection Field value as combined value/display_name pair for selected choice.
      properties:
        displayName:
          description: Selection value as human-readable display string.
          type: string
        value:
          description: Selection value as Field Choice ID.
          type: string
      type: object
    SelectionList:
      description: Wrapper for SelectionList Field value.
      properties:
        values:
          description: Selection values.
          items:
            $ref: "#/components/schemas/Selection"
          type: array
      type: object
    SettingsChange:
      description: Information about settings changes.
      properties:
        restrictionChanges:
          description: The set of changes made to restrictions.
          items:
            $ref: "#/components/schemas/RestrictionChange"
          type: array
      type: object
    SingleUser:
      description: Wrapper for User Field value.
      properties:
        value:
          description: User value as email.
          type: string
      type: object
    Suggestion:
      description: A suggestion.
      properties:
        subtype:
          description: The sub-type of this event.
          enum:
            - SUBTYPE_UNSPECIFIED
            - ADDED
            - DELETED
            - REPLY_ADDED
            - REPLY_DELETED
            - ACCEPTED
            - REJECTED
            - ACCEPT_DELETED
            - REJECT_DELETED
          type: string
      type: object
    SystemEvent:
      description: Event triggered by system operations instead of end users.
      properties:
        type:
          description: The type of the system event that may triggered activity.
          enum:
            - TYPE_UNSPECIFIED
            - USER_DELETION
            - TRASH_AUTO_PURGE
          type: string
      type: object
    Target:
      description: Information about the target of activity. For more information on how activity history is shared with users, see [Activity history visibility](https://developers.google.com/drive/activity/v2#activityhistory).
      properties:
        drive:
          $ref: "#/components/schemas/Drive"
          description: The target is a shared drive.
        driveItem:
          $ref: "#/components/schemas/DriveItem"
          description: The target is a Drive item.
        fileComment:
          $ref: "#/components/schemas/FileComment"
          description: The target is a comment on a Drive file.
        teamDrive:
          $ref: "#/components/schemas/TeamDrive"
          description: This field is deprecated; please use the `drive` field instead.
      type: object
    TargetReference:
      description: A lightweight reference to the target of activity.
      properties:
        drive:
          $ref: "#/components/schemas/DriveReference"
          description: The target is a shared drive.
        driveItem:
          $ref: "#/components/schemas/DriveItemReference"
          description: The target is a Drive item.
        teamDrive:
          $ref: "#/components/schemas/TeamDriveReference"
          description: This field is deprecated; please use the `drive` field instead.
      type: object
    TeamDrive:
      description: This item is deprecated; please see `Drive` instead.
      properties:
        name:
          description: This field is deprecated; please see `Drive.name` instead.
          type: string
        root:
          $ref: "#/components/schemas/DriveItem"
          description: This field is deprecated; please see `Drive.root` instead.
        title:
          description: This field is deprecated; please see `Drive.title` instead.
          type: string
      type: object
    TeamDriveReference:
      description: This item is deprecated; please see `DriveReference` instead.
      properties:
        name:
          description: This field is deprecated; please see `DriveReference.name` instead.
          type: string
        title:
          description: This field is deprecated; please see `DriveReference.title` instead.
          type: string
      type: object
    Text:
      description: Wrapper for Text Field value.
      properties:
        value:
          description: Value of Text Field.
          type: string
      type: object
    TextList:
      description: Wrapper for Text List Field value.
      properties:
        values:
          description: Text values.
          items:
            $ref: "#/components/schemas/Text"
          type: array
      type: object
    TimeRange:
      description: Information about time ranges.
      properties:
        endTime:
          description: The end of the time range.
          format: google-datetime
          type: string
        startTime:
          description: The start of the time range.
          format: google-datetime
          type: string
      type: object
    UnknownUser:
      description: A user about whom nothing is currently known.
      properties: {}
      type: object
    Upload:
      description: An object was uploaded into Drive.
      properties: {}
      type: object
    User:
      description: Information about an end user.
      properties:
        deletedUser:
          $ref: "#/components/schemas/DeletedUser"
          description: A user whose account has since been deleted.
        knownUser:
          $ref: "#/components/schemas/KnownUser"
          description: A known user.
        unknownUser:
          $ref: "#/components/schemas/UnknownUser"
          description: A user about whom nothing is currently known.
      type: object
    UserList:
      description: Wrapper for UserList Field value.
      properties:
        values:
          description: User values.
          items:
            $ref: "#/components/schemas/SingleUser"
          type: array
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/drive.activity: View and add to the activity record of files in your Google Drive
            https://www.googleapis.com/auth/drive.activity.readonly: View the activity record of files in your Google Drive
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/drive.activity: View and add to the activity record of files in your Google Drive
            https://www.googleapis.com/auth/drive.activity.readonly: View the activity record of files in your Google Drive
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
