{
  "swagger": "2.0",
  "info": {
    "title": "Google Fonts Developer API",
    "x-serviceName": "webfonts",
    "description": "The Google Fonts Developer API.",
    "contact": {
      "name": "Google",
      "url": "https://google.com"
    },
    "version": "v1",
    "x-origin": {
      "format": "google",
      "version": "v1",
      "url": "https://www.googleapis.com/discovery/v1/apis/webfonts/v1/rest"
    }
  },
  "host": "www.googleapis.com",
  "basePath": "/webfonts/v1",
  "schemes": [
    "https"
  ],
  "paths": {
    "/webfonts": {
      "get": {
        "description": "Retrieves the list of fonts currently served by the Google Fonts Developer API",
        "operationId": "webfonts.webfonts.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/WebfontList"
            }
          }
        },
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "description": "Enables sorting of the list",
            "type": "string",
            "enum": [
              "alpha",
              "date",
              "popularity",
              "style",
              "trending"
            ]
          }
        ],
        "tags": [
          "webfonts"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    }
  },
  "definitions": {
    "Webfont": {
      "type": "object",
      "properties": {
        "category": {
          "type": "string",
          "description": "The category of the font."
        },
        "family": {
          "type": "string",
          "description": "The name of the font."
        },
        "files": {
          "type": "object",
          "description": "The font files (with all supported scripts) for each one of the available variants, as a key : value map.",
          "additionalProperties": {
            "type": "string",
            "description": "The font file URL (value) for an specific variant (key)."
          }
        },
        "kind": {
          "type": "string",
          "description": "This kind represents a webfont object in the webfonts service.",
          "default": "webfonts#webfont"
        },
        "lastModified": {
          "type": "string",
          "description": "The date (format \"yyyy-MM-dd\") the font was modified for the last time.",
          "format": "date"
        },
        "subsets": {
          "type": "array",
          "description": "The scripts supported by the font.",
          "items": {
            "type": "string"
          }
        },
        "variants": {
          "type": "array",
          "description": "The available variants for the font.",
          "items": {
            "type": "string"
          }
        },
        "version": {
          "type": "string",
          "description": "The font version."
        }
      }
    },
    "WebfontList": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "description": "The list of fonts currently served by the Google Fonts API.",
          "items": {
            "$ref": "#/definitions/Webfont"
          }
        },
        "kind": {
          "type": "string",
          "description": "This kind represents a list of webfont objects in the webfonts service.",
          "default": "webfonts#webfontList"
        }
      }
    }
  },
  "parameters": {
    "alt": {
      "name": "alt",
      "in": "query",
      "description": "Data format for the response.",
      "default": "json",
      "type": "string",
      "enum": [
        "json"
      ]
    },
    "fields": {
      "name": "fields",
      "in": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "name": "key",
      "in": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "name": "oauth_token",
      "in": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "name": "prettyPrint",
      "in": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": true,
      "type": "boolean"
    },
    "quotaUser": {
      "name": "quotaUser",
      "in": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
      "type": "string"
    },
    "userIp": {
      "name": "userIp",
      "in": "query",
      "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
      "type": "string"
    }
  },
  "externalDocs": {
    "url": "https://developers.google.com/fonts/docs/developer_api"
  }
}