openapi: 3.0.0
servers:
  - url: https://demo.netbox.dev/api
info:
  description: API to access NetBox
  license:
    name: Apache v2 License
  termsOfService: https://github.com/netbox-community/netbox
  title: NetBox API
  version: "3.4"
  x-apisguru-categories:
    - enterprise
  x-origin:
    - format: swagger
      url: https://demo.netbox.dev/api/docs/?format=openapi
      version: "2.0"
  x-providerName: netbox.dev
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_apis.guru_assets_images_no-logo.svg
security:
  - Bearer: []
paths:
  /circuits/circuit-terminations/:
    delete:
      description: ""
      operationId: circuits_circuit-terminations_bulk_delete
      responses:
        "204":
          description: ""
      tags:
        - circuits
    get:
      description: ""
      operationId: circuits_circuit-terminations_list
      parameters:
        - description: ""
          in: query
          name: id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: term_side
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: port_speed
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: upstream_speed
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: xconnect_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: description
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: cable_end
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: created
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: last_updated
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: q
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: tag
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: cabled
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: occupied
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: circuit_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: site_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: site
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: provider_network_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: id__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: id__lte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: id__lt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: id__gte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: id__gt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: term_side__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: port_speed__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: port_speed__lte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: port_speed__lt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: port_speed__gte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: port_speed__gt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: upstream_speed__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: upstream_speed__lte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: upstream_speed__lt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: upstream_speed__gte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: upstream_speed__gt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: xconnect_id__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: xconnect_id__ic
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: xconnect_id__nic
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: xconnect_id__iew
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: xconnect_id__niew
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: xconnect_id__isw
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: xconnect_id__nisw
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: xconnect_id__ie
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: xconnect_id__nie
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: xconnect_id__empty
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: description__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: description__ic
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: description__nic
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: description__iew
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: description__niew
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: description__isw
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: description__nisw
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: description__ie
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: description__nie
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: description__empty
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: cable_end__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: created__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: created__lte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: created__lt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: created__gte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: created__gt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: last_updated__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: last_updated__lte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: last_updated__lt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: last_updated__gte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: last_updated__gt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: tag__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: circuit_id__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: site_id__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: site__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: provider_network_id__n
          required: false
          schema:
            type: string
        - description: Which field to use when ordering the results.
          in: query
          name: ordering
          required: false
          schema:
            type: string
        - description: Number of results to return per page.
          in: query
          name: limit
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          in: query
          name: offset
          required: false
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  count:
                    type: integer
                  next:
                    format: uri
                    nullable: true
                    type: string
                  previous:
                    format: uri
                    nullable: true
                    type: string
                  results:
                    items:
                      $ref: "#/components/schemas/CircuitTermination"
                    type: array
                required:
                  - count
                  - results
                type: object
          description: ""
      tags:
        - circuits
    parameters: []
    patch:
      description: ""
      operationId: circuits_circuit-terminations_bulk_partial_update
      requestBody:
        $ref: "#/components/requestBodies/WritableCircuitTermination"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CircuitTermination"
          description: ""
      tags:
        - circuits
    post:
      description: ""
      operationId: circuits_circuit-terminations_create
      requestBody:
        $ref: "#/components/requestBodies/WritableCircuitTermination"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CircuitTermination"
          description: ""
      tags:
        - circuits
    put:
      description: ""
      operationId: circuits_circuit-terminations_bulk_update
      requestBody:
        $ref: "#/components/requestBodies/WritableCircuitTermination"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CircuitTermination"
          description: ""
      tags:
        - circuits
  "/circuits/circuit-terminations/{id}/":
    delete:
      description: ""
      operationId: circuits_circuit-terminations_delete
      responses:
        "204":
          description: ""
      tags:
        - circuits
    get:
      description: ""
      operationId: circuits_circuit-terminations_read
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CircuitTermination"
          description: ""
      tags:
        - circuits
    parameters:
      - description: A unique integer value identifying this circuit termination.
        in: path
        name: id
        required: true
        schema:
          type: integer
    patch:
      description: ""
      operationId: circuits_circuit-terminations_partial_update
      requestBody:
        $ref: "#/components/requestBodies/WritableCircuitTermination"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CircuitTermination"
          description: ""
      tags:
        - circuits
    put:
      description: ""
      operationId: circuits_circuit-terminations_update
      requestBody:
        $ref: "#/components/requestBodies/WritableCircuitTermination"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CircuitTermination"
          description: ""
      tags:
        - circuits
  "/circuits/circuit-terminations/{id}/paths/":
    get:
      description: Return all CablePaths which traverse a given pass-through port.
      operationId: circuits_circuit-terminations_paths
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CircuitTermination"
          description: ""
      tags:
        - circuits
    parameters:
      - description: A unique integer value identifying this circuit termination.
        in: path
        name: id
        required: true
        schema:
          type: integer
  /circuits/circuit-types/:
    delete:
      description: ""
      operationId: circuits_circuit-types_bulk_delete
      responses:
        "204":
          description: ""
      tags:
        - circuits
    get:
      description: ""
      operationId: circuits_circuit-types_list
      parameters:
        - description: ""
          in: query
          name: id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: name
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: slug
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: description
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: created
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: last_updated
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: q
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: tag
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: id__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: id__lte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: id__lt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: id__gte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: id__gt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: name__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: name__ic
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: name__nic
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: name__iew
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: name__niew
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: name__isw
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: name__nisw
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: name__ie
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: name__nie
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: name__empty
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: slug__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: slug__ic
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: slug__nic
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: slug__iew
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: slug__niew
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: slug__isw
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: slug__nisw
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: slug__ie
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: slug__nie
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: slug__empty
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: description__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: description__ic
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: description__nic
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: description__iew
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: description__niew
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: description__isw
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: description__nisw
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: description__ie
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: description__nie
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: description__empty
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: created__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: created__lte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: created__lt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: created__gte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: created__gt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: last_updated__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: last_updated__lte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: last_updated__lt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: last_updated__gte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: last_updated__gt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: tag__n
          required: false
          schema:
            type: string
        - description: Which field to use when ordering the results.
          in: query
          name: ordering
          required: false
          schema:
            type: string
        - description: Number of results to return per page.
          in: query
          name: limit
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          in: query
          name: offset
          required: false
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  count:
                    type: integer
                  next:
                    format: uri
                    nullable: true
                    type: string
                  previous:
                    format: uri
                    nullable: true
                    type: string
                  results:
                    items:
                      $ref: "#/components/schemas/CircuitType"
                    type: array
                required:
                  - count
                  - results
                type: object
          description: ""
      tags:
        - circuits
    parameters: []
    patch:
      description: ""
      operationId: circuits_circuit-types_bulk_partial_update
      requestBody:
        $ref: "#/components/requestBodies/CircuitType"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CircuitType"
          description: ""
      tags:
        - circuits
    post:
      description: ""
      operationId: circuits_circuit-types_create
      requestBody:
        $ref: "#/components/requestBodies/CircuitType"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CircuitType"
          description: ""
      tags:
        - circuits
    put:
      description: ""
      operationId: circuits_circuit-types_bulk_update
      requestBody:
        $ref: "#/components/requestBodies/CircuitType"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CircuitType"
          description: ""
      tags:
        - circuits
  "/circuits/circuit-types/{id}/":
    delete:
      description: ""
      operationId: circuits_circuit-types_delete
      responses:
        "204":
          description: ""
      tags:
        - circuits
    get:
      description: ""
      operationId: circuits_circuit-types_read
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CircuitType"
          description: ""
      tags:
        - circuits
    parameters:
      - description: A unique integer value identifying this circuit type.
        in: path
        name: id
        required: true
        schema:
          type: integer
    patch:
      description: ""
      operationId: circuits_circuit-types_partial_update
      requestBody:
        $ref: "#/components/requestBodies/CircuitType"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CircuitType"
          description: ""
      tags:
        - circuits
    put:
      description: ""
      operationId: circuits_circuit-types_update
      requestBody:
        $ref: "#/components/requestBodies/CircuitType"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CircuitType"
          description: ""
      tags:
        - circuits
  /circuits/circuits/:
    delete:
      description: ""
      operationId: circuits_circuits_bulk_delete
      responses:
        "204":
          description: ""
      tags:
        - circuits
    get:
      description: ""
      operationId: circuits_circuits_list
      parameters:
        - description: ""
          in: query
          name: id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: cid
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: description
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: install_date
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: termination_date
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: commit_rate
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: created
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: last_updated
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: q
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: tag
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: tenant_group_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: tenant_group
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: tenant_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: tenant
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: contact
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: contact_role
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: contact_group
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: provider_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: provider
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: provider_network_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: type_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: type
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: status
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: region_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: region
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: site_group_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: site_group
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: site_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: site
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: id__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: id__lte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: id__lt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: id__gte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: id__gt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: cid__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: cid__ic
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: cid__nic
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: cid__iew
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: cid__niew
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: cid__isw
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: cid__nisw
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: cid__ie
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: cid__nie
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: cid__empty
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: description__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: description__ic
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: description__nic
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: description__iew
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: description__niew
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: description__isw
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: description__nisw
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: description__ie
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: description__nie
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: description__empty
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: install_date__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: install_date__lte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: install_date__lt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: install_date__gte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: install_date__gt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: termination_date__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: termination_date__lte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: termination_date__lt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: termination_date__gte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: termination_date__gt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: commit_rate__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: commit_rate__lte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: commit_rate__lt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: commit_rate__gte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: commit_rate__gt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: created__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: created__lte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: created__lt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: created__gte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: created__gt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: last_updated__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: last_updated__lte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: last_updated__lt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: last_updated__gte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: last_updated__gt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: tag__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: tenant_group_id__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: tenant_group__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: tenant_id__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: tenant__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: contact__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: contact_role__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: contact_group__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: provider_id__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: provider__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: provider_network_id__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: type_id__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: type__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: status__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: region_id__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: region__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: site_group_id__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: site_group__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: site_id__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: site__n
          required: false
          schema:
            type: string
        - description: Which field to use when ordering the results.
          in: query
          name: ordering
          required: false
          schema:
            type: string
        - description: Number of results to return per page.
          in: query
          name: limit
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          in: query
          name: offset
          required: false
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  count:
                    type: integer
                  next:
                    format: uri
                    nullable: true
                    type: string
                  previous:
                    format: uri
                    nullable: true
                    type: string
                  results:
                    items:
                      $ref: "#/components/schemas/Circuit"
                    type: array
                required:
                  - count
                  - results
                type: object
          description: ""
      tags:
        - circuits
    parameters: []
    patch:
      description: ""
      operationId: circuits_circuits_bulk_partial_update
      requestBody:
        $ref: "#/components/requestBodies/WritableCircuit"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Circuit"
          description: ""
      tags:
        - circuits
    post:
      description: ""
      operationId: circuits_circuits_create
      requestBody:
        $ref: "#/components/requestBodies/WritableCircuit"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Circuit"
          description: ""
      tags:
        - circuits
    put:
      description: ""
      operationId: circuits_circuits_bulk_update
      requestBody:
        $ref: "#/components/requestBodies/WritableCircuit"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Circuit"
          description: ""
      tags:
        - circuits
  "/circuits/circuits/{id}/":
    delete:
      description: ""
      operationId: circuits_circuits_delete
      responses:
        "204":
          description: ""
      tags:
        - circuits
    get:
      description: ""
      operationId: circuits_circuits_read
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Circuit"
          description: ""
      tags:
        - circuits
    parameters:
      - description: A unique integer value identifying this circuit.
        in: path
        name: id
        required: true
        schema:
          type: integer
    patch:
      description: ""
      operationId: circuits_circuits_partial_update
      requestBody:
        $ref: "#/components/requestBodies/WritableCircuit"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Circuit"
          description: ""
      tags:
        - circuits
    put:
      description: ""
      operationId: circuits_circuits_update
      requestBody:
        $ref: "#/components/requestBodies/WritableCircuit"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Circuit"
          description: ""
      tags:
        - circuits
  /circuits/provider-networks/:
    delete:
      description: ""
      operationId: circuits_provider-networks_bulk_delete
      responses:
        "204":
          description: ""
      tags:
        - circuits
    get:
      description: ""
      operationId: circuits_provider-networks_list
      parameters:
        - description: ""
          in: query
          name: id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: name
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: service_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: description
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: created
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: last_updated
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: q
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: tag
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: provider_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: provider
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: id__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: id__lte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: id__lt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: id__gte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: id__gt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: name__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: name__ic
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: name__nic
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: name__iew
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: name__niew
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: name__isw
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: name__nisw
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: name__ie
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: name__nie
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: name__empty
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: service_id__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: service_id__ic
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: service_id__nic
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: service_id__iew
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: service_id__niew
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: service_id__isw
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: service_id__nisw
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: service_id__ie
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: service_id__nie
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: service_id__empty
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: description__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: description__ic
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: description__nic
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: description__iew
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: description__niew
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: description__isw
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: description__nisw
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: description__ie
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: description__nie
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: description__empty
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: created__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: created__lte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: created__lt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: created__gte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: created__gt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: last_updated__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: last_updated__lte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: last_updated__lt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: last_updated__gte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: last_updated__gt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: tag__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: provider_id__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: provider__n
          required: false
          schema:
            type: string
        - description: Which field to use when ordering the results.
          in: query
          name: ordering
          required: false
          schema:
            type: string
        - description: Number of results to return per page.
          in: query
          name: limit
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          in: query
          name: offset
          required: false
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  count:
                    type: integer
                  next:
                    format: uri
                    nullable: true
                    type: string
                  previous:
                    format: uri
                    nullable: true
                    type: string
                  results:
                    items:
                      $ref: "#/components/schemas/ProviderNetwork"
                    type: array
                required:
                  - count
                  - results
                type: object
          description: ""
      tags:
        - circuits
    parameters: []
    patch:
      description: ""
      operationId: circuits_provider-networks_bulk_partial_update
      requestBody:
        $ref: "#/components/requestBodies/WritableProviderNetwork"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProviderNetwork"
          description: ""
      tags:
        - circuits
    post:
      description: ""
      operationId: circuits_provider-networks_create
      requestBody:
        $ref: "#/components/requestBodies/WritableProviderNetwork"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProviderNetwork"
          description: ""
      tags:
        - circuits
    put:
      description: ""
      operationId: circuits_provider-networks_bulk_update
      requestBody:
        $ref: "#/components/requestBodies/WritableProviderNetwork"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProviderNetwork"
          description: ""
      tags:
        - circuits
  "/circuits/provider-networks/{id}/":
    delete:
      description: ""
      operationId: circuits_provider-networks_delete
      responses:
        "204":
          description: ""
      tags:
        - circuits
    get:
      description: ""
      operationId: circuits_provider-networks_read
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProviderNetwork"
          description: ""
      tags:
        - circuits
    parameters:
      - description: A unique integer value identifying this provider network.
        in: path
        name: id
        required: true
        schema:
          type: integer
    patch:
      description: ""
      operationId: circuits_provider-networks_partial_update
      requestBody:
        $ref: "#/components/requestBodies/WritableProviderNetwork"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProviderNetwork"
          description: ""
      tags:
        - circuits
    put:
      description: ""
      operationId: circuits_provider-networks_update
      requestBody:
        $ref: "#/components/requestBodies/WritableProviderNetwork"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProviderNetwork"
          description: ""
      tags:
        - circuits
  /circuits/providers/:
    delete:
      description: ""
      operationId: circuits_providers_bulk_delete
      responses:
        "204":
          description: ""
      tags:
        - circuits
    get:
      description: ""
      operationId: circuits_providers_list
      parameters:
        - description: ""
          in: query
          name: id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: name
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: slug
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: account
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: created
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: last_updated
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: q
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: tag
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: contact
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: contact_role
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: contact_group
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: region_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: region
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: site_group_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: site_group
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: site_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: site
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: asn_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: id__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: id__lte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: id__lt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: id__gte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: id__gt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: name__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: name__ic
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: name__nic
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: name__iew
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: name__niew
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: name__isw
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: name__nisw
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: name__ie
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: name__nie
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: name__empty
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: slug__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: slug__ic
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: slug__nic
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: slug__iew
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: slug__niew
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: slug__isw
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: slug__nisw
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: slug__ie
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: slug__nie
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: slug__empty
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: account__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: account__ic
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: account__nic
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: account__iew
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: account__niew
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: account__isw
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: account__nisw
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: account__ie
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: account__nie
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: account__empty
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: created__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: created__lte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: created__lt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: created__gte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: created__gt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: last_updated__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: last_updated__lte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: last_updated__lt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: last_updated__gte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: last_updated__gt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: tag__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: contact__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: contact_role__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: contact_group__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: region_id__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: region__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: site_group_id__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: site_group__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: site_id__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: site__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: asn_id__n
          required: false
          schema:
            type: string
        - description: Which field to use when ordering the results.
          in: query
          name: ordering
          required: false
          schema:
            type: string
        - description: Number of results to return per page.
          in: query
          name: limit
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          in: query
          name: offset
          required: false
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  count:
                    type: integer
                  next:
                    format: uri
                    nullable: true
                    type: string
                  previous:
                    format: uri
                    nullable: true
                    type: string
                  results:
                    items:
                      $ref: "#/components/schemas/Provider"
                    type: array
                required:
                  - count
                  - results
                type: object
          description: ""
      tags:
        - circuits
    parameters: []
    patch:
      description: ""
      operationId: circuits_providers_bulk_partial_update
      requestBody:
        $ref: "#/components/requestBodies/WritableProvider"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Provider"
          description: ""
      tags:
        - circuits
    post:
      description: ""
      operationId: circuits_providers_create
      requestBody:
        $ref: "#/components/requestBodies/WritableProvider"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Provider"
          description: ""
      tags:
        - circuits
    put:
      description: ""
      operationId: circuits_providers_bulk_update
      requestBody:
        $ref: "#/components/requestBodies/WritableProvider"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Provider"
          description: ""
      tags:
        - circuits
  "/circuits/providers/{id}/":
    delete:
      description: ""
      operationId: circuits_providers_delete
      responses:
        "204":
          description: ""
      tags:
        - circuits
    get:
      description: ""
      operationId: circuits_providers_read
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Provider"
          description: ""
      tags:
        - circuits
    parameters:
      - description: A unique integer value identifying this provider.
        in: path
        name: id
        required: true
        schema:
          type: integer
    patch:
      description: ""
      operationId: circuits_providers_partial_update
      requestBody:
        $ref: "#/components/requestBodies/WritableProvider"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Provider"
          description: ""
      tags:
        - circuits
    put:
      description: ""
      operationId: circuits_providers_update
      requestBody:
        $ref: "#/components/requestBodies/WritableProvider"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Provider"
          description: ""
      tags:
        - circuits
  /dcim/cable-terminations/:
    delete:
      description: ""
      operationId: dcim_cable-terminations_bulk_delete
      responses:
        "204":
          description: ""
      tags:
        - dcim
    get:
      description: ""
      operationId: dcim_cable-terminations_list
      parameters:
        - description: ""
          in: query
          name: id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: cable
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: cable_end
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: termination_type
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: termination_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: id__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: id__lte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: id__lt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: id__gte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: id__gt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: cable__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: cable_end__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: termination_type__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: termination_id__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: termination_id__lte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: termination_id__lt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: termination_id__gte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: termination_id__gt
          required: false
          schema:
            type: string
        - description: Which field to use when ordering the results.
          in: query
          name: ordering
          required: false
          schema:
            type: string
        - description: Number of results to return per page.
          in: query
          name: limit
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          in: query
          name: offset
          required: false
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  count:
                    type: integer
                  next:
                    format: uri
                    nullable: true
                    type: string
                  previous:
                    format: uri
                    nullable: true
                    type: string
                  results:
                    items:
                      $ref: "#/components/schemas/CableTermination"
                    type: array
                required:
                  - count
                  - results
                type: object
          description: ""
      tags:
        - dcim
    parameters: []
    patch:
      description: ""
      operationId: dcim_cable-terminations_bulk_partial_update
      requestBody:
        $ref: "#/components/requestBodies/CableTermination"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CableTermination"
          description: ""
      tags:
        - dcim
    post:
      description: ""
      operationId: dcim_cable-terminations_create
      requestBody:
        $ref: "#/components/requestBodies/CableTermination"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CableTermination"
          description: ""
      tags:
        - dcim
    put:
      description: ""
      operationId: dcim_cable-terminations_bulk_update
      requestBody:
        $ref: "#/components/requestBodies/CableTermination"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CableTermination"
          description: ""
      tags:
        - dcim
  "/dcim/cable-terminations/{id}/":
    delete:
      description: ""
      operationId: dcim_cable-terminations_delete
      responses:
        "204":
          description: ""
      tags:
        - dcim
    get:
      description: ""
      operationId: dcim_cable-terminations_read
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CableTermination"
          description: ""
      tags:
        - dcim
    parameters:
      - description: A unique integer value identifying this cable termination.
        in: path
        name: id
        required: true
        schema:
          type: integer
    patch:
      description: ""
      operationId: dcim_cable-terminations_partial_update
      requestBody:
        $ref: "#/components/requestBodies/CableTermination"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CableTermination"
          description: ""
      tags:
        - dcim
    put:
      description: ""
      operationId: dcim_cable-terminations_update
      requestBody:
        $ref: "#/components/requestBodies/CableTermination"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CableTermination"
          description: ""
      tags:
        - dcim
  /dcim/cables/:
    delete:
      description: ""
      operationId: dcim_cables_bulk_delete
      responses:
        "204":
          description: ""
      tags:
        - dcim
    get:
      description: ""
      operationId: dcim_cables_list
      parameters:
        - description: ""
          in: query
          name: id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: label
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: length
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: length_unit
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: tenant_group_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: tenant_group
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: tenant_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: tenant
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: created
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: last_updated
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: q
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: tag
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: termination_a_type
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: termination_a_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: termination_b_type
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: termination_b_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: type
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: status
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: color
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: device_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: device
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: rack_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: rack
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: location_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: location
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: site_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: site
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: id__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: id__lte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: id__lt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: id__gte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: id__gt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: label__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: label__ic
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: label__nic
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: label__iew
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: label__niew
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: label__isw
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: label__nisw
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: label__ie
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: label__nie
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: label__empty
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: length__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: length__lte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: length__lt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: length__gte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: length__gt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: length_unit__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: tenant_group_id__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: tenant_group__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: tenant_id__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: tenant__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: created__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: created__lte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: created__lt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: created__gte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: created__gt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: last_updated__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: last_updated__lte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: last_updated__lt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: last_updated__gte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: last_updated__gt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: tag__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: termination_a_type__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: termination_a_id__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: termination_a_id__lte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: termination_a_id__lt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: termination_a_id__gte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: termination_a_id__gt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: termination_b_type__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: termination_b_id__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: termination_b_id__lte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: termination_b_id__lt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: termination_b_id__gte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: termination_b_id__gt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: type__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: status__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: color__n
          required: false
          schema:
            type: string
        - description: Which field to use when ordering the results.
          in: query
          name: ordering
          required: false
          schema:
            type: string
        - description: Number of results to return per page.
          in: query
          name: limit
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          in: query
          name: offset
          required: false
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  count:
                    type: integer
                  next:
                    format: uri
                    nullable: true
                    type: string
                  previous:
                    format: uri
                    nullable: true
                    type: string
                  results:
                    items:
                      $ref: "#/components/schemas/Cable"
                    type: array
                required:
                  - count
                  - results
                type: object
          description: ""
      tags:
        - dcim
    parameters: []
    patch:
      description: ""
      operationId: dcim_cables_bulk_partial_update
      requestBody:
        $ref: "#/components/requestBodies/WritableCable"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Cable"
          description: ""
      tags:
        - dcim
    post:
      description: ""
      operationId: dcim_cables_create
      requestBody:
        $ref: "#/components/requestBodies/WritableCable"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Cable"
          description: ""
      tags:
        - dcim
    put:
      description: ""
      operationId: dcim_cables_bulk_update
      requestBody:
        $ref: "#/components/requestBodies/WritableCable"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Cable"
          description: ""
      tags:
        - dcim
  "/dcim/cables/{id}/":
    delete:
      description: ""
      operationId: dcim_cables_delete
      responses:
        "204":
          description: ""
      tags:
        - dcim
    get:
      description: ""
      operationId: dcim_cables_read
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Cable"
          description: ""
      tags:
        - dcim
    parameters:
      - description: A unique integer value identifying this cable.
        in: path
        name: id
        required: true
        schema:
          type: integer
    patch:
      description: ""
      operationId: dcim_cables_partial_update
      requestBody:
        $ref: "#/components/requestBodies/WritableCable"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Cable"
          description: ""
      tags:
        - dcim
    put:
      description: ""
      operationId: dcim_cables_update
      requestBody:
        $ref: "#/components/requestBodies/WritableCable"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Cable"
          description: ""
      tags:
        - dcim
  /dcim/connected-device/:
    get:
      description: |-
        This endpoint allows a user to determine what device (if any) is connected to a given peer device and peer
        interface. This is useful in a situation where a device boots with no configuration, but can detect its neighbors
        via a protocol such as LLDP. Two query parameters must be included in the request:

        * `peer_device`: The name of the peer device
        * `peer_interface`: The name of the peer interface
      operationId: dcim_connected-device_list
      parameters:
        - description: The name of the peer device
          in: query
          name: peer_device
          required: true
          schema:
            type: string
        - description: The name of the peer interface
          in: query
          name: peer_interface
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Device"
          description: ""
      tags:
        - dcim
    parameters: []
  /dcim/console-port-templates/:
    delete:
      description: ""
      operationId: dcim_console-port-templates_bulk_delete
      responses:
        "204":
          description: ""
      tags:
        - dcim
    get:
      description: ""
      operationId: dcim_console-port-templates_list
      parameters:
        - description: ""
          in: query
          name: id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: name
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: type
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: created
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: last_updated
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: q
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: devicetype_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: moduletype_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: id__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: id__lte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: id__lt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: id__gte
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: id__gt
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: name__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: name__ic
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: name__nic
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: name__iew
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: name__niew
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: name__isw
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: name__nisw
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: name__ie
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: name__nie
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: name__empty
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: type__n
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: created__n
          required: false
[...]
