openapi: 3.0.0
servers:
  - url: 'https://www.googleapis.com/bigquery/v2'
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: 'A data platform for customers to create, manage, share and query data.'
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: BigQuery
  version: v2
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-apisguru-categories:
    - search
  x-logo:
    url: 'https://cloud.google.com/_static/images/new-gcp-logo.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.0.1
      format: google
      url: 'https://www.googleapis.com/discovery/v1/apis/bigquery/v2/rest'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: bigquery
externalDocs:
  url: 'https://cloud.google.com/bigquery/'
tags:
  - name: datasets
  - name: jobs
  - name: projects
  - name: tabledata
  - name: tables
paths:
  /projects:
    get:
      description: Lists all projects to which you have been granted any project role.
      operationId: bigquery.projects.list
      parameters:
        - description: Maximum number of results to return
          in: query
          name: maxResults
          schema:
            type: integer
        - description: 'Page token, returned by a previous call, to request the next page of results'
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProjectList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/bigquery'
          Oauth2c:
            - 'https://www.googleapis.com/auth/bigquery'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
      tags:
        - projects
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  '/projects/{projectId}/datasets':
    get:
      description: Lists all datasets in the specified project to which you have been granted the READER dataset role.
      operationId: bigquery.datasets.list
      parameters:
        - description: Project ID of the datasets to be listed
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: 'Whether to list all datasets, including hidden ones'
          in: query
          name: all
          schema:
            type: boolean
        - description: 'An expression for filtering the results of the request by label. The syntax is "labels.<name>[:<value>]". Multiple filters can be ANDed together by connecting with a space. Example: "labels.department:receiving labels.active". See Filtering datasets using labels for details.'
          in: query
          name: filter
          schema:
            type: string
        - description: The maximum number of results to return
          in: query
          name: maxResults
          schema:
            type: integer
        - description: 'Page token, returned by a previous call, to request the next page of results'
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DatasetList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/bigquery'
          Oauth2c:
            - 'https://www.googleapis.com/auth/bigquery'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
      tags:
        - datasets
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Creates a new empty dataset.
      operationId: bigquery.datasets.insert
      parameters:
        - description: Project ID of the new dataset
          in: path
          name: projectId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Dataset'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/bigquery'
          Oauth2c:
            - 'https://www.googleapis.com/auth/bigquery'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - datasets
      requestBody:
        $ref: '#/components/requestBodies/Dataset'
  '/projects/{projectId}/datasets/{datasetId}':
    delete:
      description: 'Deletes the dataset specified by the datasetId value. Before you can delete a dataset, you must delete all its tables, either manually or by specifying deleteContents. Immediately after deletion, you can create another dataset with the same name.'
      operationId: bigquery.datasets.delete
      parameters:
        - description: Project ID of the dataset being deleted
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: Dataset ID of dataset being deleted
          in: path
          name: datasetId
          required: true
          schema:
            type: string
        - description: 'If True, delete all the tables in the dataset. If False and the dataset contains tables, the request will fail. Default is False'
          in: query
          name: deleteContents
          schema:
            type: boolean
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/bigquery'
          Oauth2c:
            - 'https://www.googleapis.com/auth/bigquery'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - datasets
    get:
      description: Returns the dataset specified by datasetID.
      operationId: bigquery.datasets.get
      parameters:
        - description: Project ID of the requested dataset
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: Dataset ID of the requested dataset
          in: path
          name: datasetId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Dataset'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/bigquery'
          Oauth2c:
            - 'https://www.googleapis.com/auth/bigquery'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
      tags:
        - datasets
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    patch:
      description: 'Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource. This method supports patch semantics.'
      operationId: bigquery.datasets.patch
      parameters:
        - description: Project ID of the dataset being updated
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: Dataset ID of the dataset being updated
          in: path
          name: datasetId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Dataset'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/bigquery'
          Oauth2c:
            - 'https://www.googleapis.com/auth/bigquery'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - datasets
      requestBody:
        $ref: '#/components/requestBodies/Dataset'
    put:
      description: 'Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource.'
      operationId: bigquery.datasets.update
      parameters:
        - description: Project ID of the dataset being updated
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: Dataset ID of the dataset being updated
          in: path
          name: datasetId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Dataset'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/bigquery'
          Oauth2c:
            - 'https://www.googleapis.com/auth/bigquery'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - datasets
      requestBody:
        $ref: '#/components/requestBodies/Dataset'
  '/projects/{projectId}/datasets/{datasetId}/tables':
    get:
      description: Lists all tables in the specified dataset. Requires the READER dataset role.
      operationId: bigquery.tables.list
      parameters:
        - description: Project ID of the tables to list
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: Dataset ID of the tables to list
          in: path
          name: datasetId
          required: true
          schema:
            type: string
        - description: Maximum number of results to return
          in: query
          name: maxResults
          schema:
            type: integer
        - description: 'Page token, returned by a previous call, to request the next page of results'
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TableList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/bigquery'
          Oauth2c:
            - 'https://www.googleapis.com/auth/bigquery'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
      tags:
        - tables
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: 'Creates a new, empty table in the dataset.'
      operationId: bigquery.tables.insert
      parameters:
        - description: Project ID of the new table
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: Dataset ID of the new table
          in: path
          name: datasetId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Table'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/bigquery'
          Oauth2c:
            - 'https://www.googleapis.com/auth/bigquery'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - tables
      requestBody:
        $ref: '#/components/requestBodies/Table'
  '/projects/{projectId}/datasets/{datasetId}/tables/{tableId}':
    delete:
      description: 'Deletes the table specified by tableId from the dataset. If the table contains data, all the data will be deleted.'
      operationId: bigquery.tables.delete
      parameters:
        - description: Project ID of the table to delete
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: Dataset ID of the table to delete
          in: path
          name: datasetId
          required: true
          schema:
            type: string
        - description: Table ID of the table to delete
          in: path
          name: tableId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/bigquery'
          Oauth2c:
            - 'https://www.googleapis.com/auth/bigquery'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - tables
    get:
      description: 'Gets the specified table resource by table ID. This method does not return the data in the table, it only returns the table resource, which describes the structure of this table.'
      operationId: bigquery.tables.get
      parameters:
        - description: Project ID of the requested table
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: Dataset ID of the requested table
          in: path
          name: datasetId
          required: true
          schema:
            type: string
        - description: Table ID of the requested table
          in: path
          name: tableId
          required: true
          schema:
            type: string
        - description: 'List of fields to return (comma-separated). If unspecified, all fields are returned'
          in: query
          name: selectedFields
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Table'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/bigquery'
          Oauth2c:
            - 'https://www.googleapis.com/auth/bigquery'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
      tags:
        - tables
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    patch:
      description: 'Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource. This method supports patch semantics.'
      operationId: bigquery.tables.patch
      parameters:
        - description: Project ID of the table to update
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: Dataset ID of the table to update
          in: path
          name: datasetId
          required: true
          schema:
            type: string
        - description: Table ID of the table to update
          in: path
          name: tableId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Table'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/bigquery'
          Oauth2c:
            - 'https://www.googleapis.com/auth/bigquery'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - tables
      requestBody:
        $ref: '#/components/requestBodies/Table'
    put:
      description: 'Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource.'
      operationId: bigquery.tables.update
      parameters:
        - description: Project ID of the table to update
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: Dataset ID of the table to update
          in: path
          name: datasetId
          required: true
          schema:
            type: string
        - description: Table ID of the table to update
          in: path
          name: tableId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Table'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/bigquery'
          Oauth2c:
            - 'https://www.googleapis.com/auth/bigquery'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - tables
      requestBody:
        $ref: '#/components/requestBodies/Table'
  '/projects/{projectId}/datasets/{datasetId}/tables/{tableId}/data':
    get:
      description: Retrieves table data from a specified set of rows. Requires the READER dataset role.
      operationId: bigquery.tabledata.list
      parameters:
        - description: Project ID of the table to read
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: Dataset ID of the table to read
          in: path
          name: datasetId
          required: true
          schema:
            type: string
        - description: Table ID of the table to read
          in: path
          name: tableId
          required: true
          schema:
            type: string
        - description: Maximum number of results to return
          in: query
          name: maxResults
          schema:
            type: integer
        - description: 'Page token, returned by a previous call, identifying the result set'
          in: query
          name: pageToken
          schema:
            type: string
        - description: 'List of fields to return (comma-separated). If unspecified, all fields are returned'
          in: query
          name: selectedFields
          schema:
            type: string
        - description: Zero-based index of the starting row to read
          in: query
          name: startIndex
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TableDataList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/bigquery'
          Oauth2c:
            - 'https://www.googleapis.com/auth/bigquery'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
      tags:
        - tabledata
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  '/projects/{projectId}/datasets/{datasetId}/tables/{tableId}/insertAll':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Streams data into BigQuery one record at a time without needing to run a load job. Requires the WRITER dataset role.
      operationId: bigquery.tabledata.insertAll
      parameters:
        - description: Project ID of the destination table.
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: Dataset ID of the destination table.
          in: path
          name: datasetId
          required: true
          schema:
            type: string
        - description: Table ID of the destination table.
          in: path
          name: tableId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TableDataInsertAllResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/bigquery'
          Oauth2c:
            - 'https://www.googleapis.com/auth/bigquery'
        - Oauth2:
            - 'https://www.googleapis.com/auth/bigquery.insertdata'
          Oauth2c:
            - 'https://www.googleapis.com/auth/bigquery.insertdata'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - tabledata
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TableDataInsertAllRequest'
  '/projects/{projectId}/jobs':
    get:
      description: 'Lists all jobs that you started in the specified project. Job information is available for a six month period after creation. The job list is sorted in reverse chronological order, by job creation time. Requires the Can View project role, or the Is Owner project role if you set the allUsers property.'
      operationId: bigquery.jobs.list
      parameters:
        - description: Project ID of the jobs to list
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: Whether to display jobs owned by all users in the project. Default false
          in: query
          name: allUsers
          schema:
            type: boolean
        - description: Maximum number of results to return
          in: query
          name: maxResults
          schema:
            type: integer
        - description: 'Page token, returned by a previous call, to request the next page of results'
          in: query
          name: pageToken
          schema:
            type: string
        - description: Restrict information returned to a set of selected fields
          in: query
          name: projection
          schema:
            type: string
            enum:
              - full
              - minimal
        - description: Filter for job state
          in: query
          name: stateFilter
          explode: true
          schema:
            type: array
            items:
              enum:
                - done
                - pending
                - running
              type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/JobList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/bigquery'
          Oauth2c:
            - 'https://www.googleapis.com/auth/bigquery'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
      tags:
        - jobs
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Starts a new asynchronous job. Requires the Can View project role.
      operationId: bigquery.jobs.insert
      parameters:
        - description: Project ID of the project that will be billed for the job
          in: path
          name: projectId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Job'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/bigquery'
          Oauth2c:
            - 'https://www.googleapis.com/auth/bigquery'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.read_only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.read_only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
      tags:
        - jobs
      requestBody:
        content:
          application/octet-stream:
            schema:
              $ref: '#/components/schemas/Job'
  '/projects/{projectId}/jobs/{jobId}':
    get:
      description: 'Returns information about a specific job. Job information is available for a six month period after creation. Requires that you''re the person who ran the job, or have the Is Owner project role.'
      operationId: bigquery.jobs.get
      parameters:
        - description: '[Required] Project ID of the requested job'
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: '[Required] Job ID of the requested job'
          in: path
          name: jobId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Job'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/bigquery'
          Oauth2c:
            - 'https://www.googleapis.com/auth/bigquery'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
      tags:
        - jobs
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  '/projects/{projectId}/jobs/{jobId}/cancel':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: 'Requests that a job be cancelled. This call will return immediately, and the client will need to poll for the job status to see if the cancel completed successfully. Cancelled jobs may still incur costs.'
      operationId: bigquery.jobs.cancel
      parameters:
        - description: '[Required] Project ID of the job to cancel'
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: '[Required] Job ID of the job to cancel'
          in: path
          name: jobId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/JobCancelResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/bigquery'
          Oauth2c:
            - 'https://www.googleapis.com/auth/bigquery'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - jobs
  '/projects/{projectId}/queries':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Runs a BigQuery SQL query synchronously and returns query results if the query completes within a specified timeout.
      operationId: bigquery.jobs.query
      parameters:
        - description: Project ID of the project billed for the query
          in: path
          name: projectId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/QueryResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/bigquery'
          Oauth2c:
            - 'https://www.googleapis.com/auth/bigquery'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
      tags:
        - jobs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
  '/projects/{projectId}/queries/{jobId}':
    get:
      description: Retrieves the results of a query job.
      operationId: bigquery.jobs.getQueryResults
      parameters:
        - description: '[Required] Project ID of the query job'
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: '[Required] Job ID of the query job'
          in: path
          name: jobId
          required: true
          schema:
            type: string
        - description: Maximum number of results to read
          in: query
          name: maxResults
          schema:
            type: integer
        - description: 'Page token, returned by a previous call, to request the next page of results'
          in: query
          name: pageToken
          schema:
            type: string
        - description: Zero-based index of the starting row
          in: query
          name: startIndex
          schema:
            type: string
        - description: 'How long to wait for the query to complete, in milliseconds, before returning. Default is 10 seconds. If the timeout passes before the job completes, the ''jobComplete'' field in the response will be false'
          in: query
          name: timeoutMs
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GetQueryResultsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/bigquery'
          Oauth2c:
            - 'https://www.googleapis.com/auth/bigquery'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
      tags:
        - jobs
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
components:
  schemas:
    BigtableColumn:
      properties:
        encoding:
          description: '[Optional] The encoding of the values when the type is not STRING. Acceptable encoding values are: TEXT - indicates values are alphanumeric text strings. BINARY - indicates values are encoded using HBase Bytes.toBytes family of functions. ''encoding'' can also be set at the column family level. However, the setting at this level takes precedence if ''encoding'' is set at both levels.'
          type: string
        fieldName:
          description: '[Optional] If the qualifier is not a valid BigQuery field identifier i.e. does not match [a-zA-Z][a-zA-Z0-9_]*, a valid identifier must be provided as the column field name and is used as field name in queries.'
          type: string
        onlyReadLatest:
          description: '[Optional] If this is set, only the latest version of value in this column are exposed. ''onlyReadLatest'' can also be set at the column family level. However, the setting at this level takes precedence if ''onlyReadLatest'' is set at both levels.'
          type: boolean
        qualifierEncoded:
          description: '[Required] Qualifier of the column. Columns in the parent column family that has this exact qualifier are exposed as . field. If the qualifier is valid UTF-8 string, it can be specified in the qualifier_string field. Otherwise, a base-64 encoded value must be set to qualifier_encoded. The column field name is the same as the column qualifier. However, if the qualifier is not a valid BigQuery field identifier i.e. does not match [a-zA-Z][a-zA-Z0-9_]*, a valid identifier must be provided as field_name.'
          format: byte
          type: string
        qualifierString:
          type: string
        type:
          description: '[Optional] The type to convert the value in cells of this column. The values are expected to be encoded using HBase Bytes.toBytes function when using the BINARY encoding value. Following BigQuery types are allowed (case-sensitive) - BYTES STRING INTEGER FLOAT BOOLEAN Default type is BYTES. ''type'' can also be set at the column family level. However, the setting at this level takes precedence if ''type'' is set at both levels.'
          type: string
      type: object
    BigtableColumnFamily:
      properties:
        columns:
          description: '[Optional] Lists of columns that should be exposed as individual fields as opposed to a list of (column name, value) pairs. All columns whose qualifier matches a qualifier in this list can be accessed as .. Other columns can be accessed as a list through .Column field.'
          items:
            $ref: '#/components/schemas/BigtableColumn'
          type: array
        encoding:
          description: '[Optional] The encoding of the values when the type is not STRING. Acceptable encoding values are: TEXT - indicates values are alphanumeric text strings. BINARY - indicates values are encoded using HBase Bytes.toBytes family of functions. This can be overridden for a specific column by listing that column in ''columns'' and specifying an encoding for it.'
          type: string
        familyId:
          description: Identifier of the column family.
          type: string
        onlyReadLatest:
          description: '[Optional] If this is set only the latest version of value are exposed for all columns in this column family. This can be overridden for a specific column by listing that column in ''columns'' and specifying a different setting for that column.'
          type: boolean
        type:
          description: '[Optional] The type to convert the value in cells of this column family. The values are expected to be encoded using HBase Bytes.toBytes function when using the BINARY encoding value. Following BigQuery types are allowed (case-sensitive) - BYTES STRING INTEGER FLOAT BOOLEAN Default type is BYTES. This can be overridden for a specific column by listing that column in ''columns'' and specifying a type for it.'
          type: string
      type: object
    BigtableOptions:
      properties:
        columnFamilies:
          description: '[Optional] List of column families to expose in the table schema along with their types. This list restricts the column families that can be referenced in queries and specifies their value types. You can use this list to do type conversions - see the ''type'' field for more details. If you leave this list empty, all column families are present in the table schema and their values are read as BYTES. During a query only the column families referenced in that query are read from Bigtable.'
          items:
            $ref: '#/components/schemas/BigtableColumnFamily'
          type: array
        ignoreUnspecifiedColumnFamilies:
          description: '[Optional] If field is true, then the column families that are not specified in columnFamilies list are not exposed in the table schema. Otherwise, they are read with BYTES type values. The default value is false.'
          type: boolean
        readRowkeyAsString:
          description: '[Optional] If field is true, then the rowkey column families will be read and converted to string. Otherwise they are read with BYTES type values and users need to manually cast them with CAST if necessary. The default value is false.'
          type: boolean
      type: object
    CsvOptions:
      properties:
        allowJaggedRows:
          description: '[Optional] Indicates if BigQuery should accept rows that are missing trailing optional columns. If true, BigQuery treats missing trailing columns as null values. If false, records with missing trailing columns are treated as bad records, and if there are too many bad records, an invalid error is returned in the job result. The default value is false.'
          type: boolean
        allowQuotedNewlines:
          description: '[Optional] Indicates if BigQuery should allow quoted data sections that contain newline characters in a CSV file. The default value is false.'
          type: boolean
        encoding:
          description: '[Optional] The character encoding of the data. The supported values are UTF-8 or ISO-8859-1. The default value is UTF-8. BigQuery decodes the data after the raw, binary data has been split using the values of the quote and fieldDelimiter properties.'
          type: string
        fieldDelimiter:
          description: '[Optional] The separator for fields in a CSV file. BigQuery converts the string to ISO-8859-1 encoding, and then uses the first byte of the encoded string to split the data in its raw, binary state. BigQuery also supports the escape sequence "\t" to specify a tab separator. The default value is a comma ('','').'
          type: string
        quote:
          default: '"'
          description: '[Optional] The value that is used to quote data sections in a CSV file. BigQuery converts the string to ISO-8859-1 encoding, and then uses the first byte of the encoded string to split the data in its raw, binary state. The default value is a double-quote (''"''). If your data does not contain quoted sections, set the property value to an empty string. If your data contains quoted newline characters, you must also set the allowQuotedNewlines property to true.'
          pattern: .?
          type: string
        skipLeadingRows:
          description: '[Optional] The number of rows at the top of a CSV file that BigQuery will skip when reading the data. The default value is 0. This property is useful if you have header rows in the file that should be skipped.'
          format: int64
          type: string
      type: object
    Dataset:
      properties:
        access:
          description: '[Optional] An array of objects that define dataset access for one or more entities. You can set this property when inserting or updating a dataset in order to control who is allowed to access the data. If unspecified at dataset creation time, BigQuery adds default dataset access for the following entities: access.specialGroup: projectReaders; access.role: READER; access.specialGroup: projectWriters; access.role: WRITER; access.specialGroup: projectOwners; access.role: OWNER; access.userByEmail: [dataset creator email]; access.role: OWNER;'
          items:
            properties:
              domain:
                description: '[Pick one] A domain to grant access to. Any users signed in with the domain specified will be granted the specified access. Example: "example.com".'
                type: string
              groupByEmail:
                description: '[Pick one] An email address of a Google Group to grant access to.'
                type: string
              role:
                description: '[Required] Describes the rights granted to the user specified by the other member of the access object. The following string values are supported: READER, WRITER, OWNER.'
                type: string
              specialGroup:
                description: '[Pick one] A special group to grant access to. Possible values include: projectOwners: Owners of the enclosing project. projectReaders: Readers of the enclosing project. projectWriters: Writers of the enclosing project. allAuthenticatedUsers: All authenticated BigQuery users.'
                type: string
              userByEmail:
                description: '[Pick one] An email address of a user to grant access to. For example: fred@example.com.'
                type: string
              view:
                $ref: '#/components/schemas/TableReference'
            type: object
          type: array
        creationTime:
          description: '[Output-only] The time when this dataset was created, in milliseconds since the epoch.'
          format: int64
          type: string
        datasetReference:
          $ref: '#/components/schemas/DatasetReference'
        defaultTableExpirationMs:
          description: '[Optional] The default lifetime of all tables in the dataset, in milliseconds. The minimum value is 3600000 milliseconds (one hour). Once this property is set, all newly-created tables in the dataset will have an expirationTime property set to the creation time plus the value in this property, and changing the value will only affect new tables, not existing ones. When the expirationTime for a given table is reached, that table will be deleted automatically. If a table''s expirationTime is modified or removed before the table expires, or if you provide an explicit expirationTime when creating a table, that value takes precedence over the default expiration time indicated by this property.'
          format: int64
          type: string
        description:
          description: '[Optional] A user-friendly description of the dataset.'
          type: string
        etag:
          description: '[Output-only] A hash of the resource.'
          type: string
        friendlyName:
          description: '[Optional] A descriptive name for the dataset.'
          type: string
        id:
          description: '[Output-only] The fully-qualified unique name of the dataset in the format projectId:datasetId. The dataset name without the project name is given in the datasetId field. When creating a new dataset, leave this field blank, and instead specify the datasetId field.'
          type: string
        kind:
          default: 'bigquery#dataset'
          description: '[Output-only] The resource type.'
          type: string
        labels:
          additionalProperties:
            type: string
          description: The labels associated with this dataset. You can use these to organize and group your datasets. You can set this property when inserting or updating a dataset. See Labeling Datasets for more information.
          type: object
        lastModifiedTime:
          description: '[Output-only] The date when this dataset or any of its tables was last modified, in milliseconds since the epoch.'
          format: int64
          type: string
        location:
          description: The geographic location where the dataset should reside. Possible values include EU and US. The default value is US.
          type: string
        selfLink:
          description: '[Output-only] A URL that can be used to access the resource again. You can use this URL in Get or Update requests to the resource.'
          type: string
      type: object
    DatasetList:
      properties:
        datasets:
          description: 'An array of the dataset resources in the project. Each resource contains basic information. For full information about a particular dataset resource, use the Datasets: get method. This property is omitted when there are no datasets in the project.'
          items:
            properties:
              datasetReference:
                $ref: '#/components/schemas/DatasetReference'
              friendlyName:
                description: 'A descriptive name for the dataset, if one exists.'
                type: string
              id:
                description: 'The fully-qualified, unique, opaque ID of the dataset.'
                type: string
              kind:
                default: 'bigquery#dataset'
                description: 'The resource type. This property always returns the value "bigquery#dataset".'
                type: string
              labels:
                additionalProperties:
                  type: string
                description: The labels associated with this dataset. You can use these to organize and group your datasets.
                type: object
            type: object
          type: array
        etag:
          description: A hash value of the results page. You can use this property to determine if the page has changed since the last request.
          type: string
        kind:
          default: 'bigquery#datasetList'
          description: 'The list type. This property always returns the value "bigquery#datasetList".'
          type: string
        nextPageToken:
          description: A token that can be used to request the next results page. This property is omitted on the final results page.
          type: string
      type: object
    DatasetReference:
      properties:
        datasetId:
          description: '[Required] A unique ID for this dataset, without the project name. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 1,024 characters.'
          type: string
        projectId:
          description: '[Optional] The ID of the project containing this dataset.'
          type: string
      type: object
    ErrorProto:
      properties:
        debugInfo:
          description: Debugging information. This property is internal to Google and should not be used.
          type: string
        location:
          description: 'Specifies where the error occurred, if present.'
          type: string
        message:
          description: A human-readable description of the error.
          type: string
        reason:
          description: A short error code that summarizes the error.
          type: string
      type: object
    ExplainQueryStage:
      properties:
        computeRatioAvg:
          description: Relative amount of time the average shard spent on CPU-bound tasks.
          format: double
          type: number
        computeRatioMax:
          description: Relative amount of time the slowest shard spent on CPU-bound tasks.
          format: double
          type: number
        id:
          description: Unique ID for stage within plan.
          format: int64
          type: string
        name:
          description: Human-readable name for stage.
          type: string
        readRatioAvg:
          description: Relative amount of time the average shard spent reading input.
          format: double
          type: number
        readRatioMax:
          description: Relative amount of time the slowest shard spent reading input.
          format: double
          type: number
        recordsRead:
          description: Number of records read into the stage.
          format: int64
          type: string
        recordsWritten:
          description: Number of records written by the stage.
          format: int64
          type: string
        status:
          description: Current status for the stage.
          type: string
        steps:
          description: List of operations within the stage in dependency order (approximately chronological).
          items:
            $ref: '#/components/schemas/ExplainQueryStep'
          type: array
        waitRatioAvg:
          description: Relative amount of time the average shard spent waiting to be scheduled.
          format: double
          type: number
        waitRatioMax:
          description: Relative amount of time the slowest shard spent waiting to be scheduled.
          format: double
          type: number
        writeRatioAvg:
          description: Relative amount of time the average shard spent on writing output.
          format: double
          type: number
        writeRatioMax:
          description: Relative amount of time the slowest shard spent on writing output.
          format: double
          type: number
      type: object
    ExplainQueryStep:
      properties:
        kind:
          description: Machine-readable operation type.
          type: string
        substeps:
          description: Human-readable stage descriptions.
          items:
            type: string
          type: array
      type: object
    ExternalDataConfiguration:
      properties:
        autodetect:
          description: Try to detect schema and format options automatically. Any option specified explicitly will be honored.
          type: boolean
        bigtableOptions:
          $ref: '#/components/schemas/BigtableOptions'
        compression:
          description: '[Optional] The compression type of the data source. Possible values include GZIP and NONE. The default value is NONE. This setting is ignored for Google Cloud Bigtable, Google Cloud Datastore backups and Avro formats.'
          type: string
        csvOptions:
          $ref: '#/components/schemas/CsvOptions'
        googleSheetsOptions:
          $ref: '#/components/schemas/GoogleSheetsOptions'
        ignoreUnknownValues:
          description: '[Optional] Indicates if BigQuery should allow extra values that are not represented in the table schema. If true, the extra values are ignored. If false, records with extra columns are treated as bad records, and if there are too many bad records, an invalid error is returned in the job result. The default value is false. The sourceFormat property determines what BigQuery treats as an extra value: CSV: Trailing columns JSON: Named values that don''t match any column names Google Cloud Bigtable: This setting is ignored. Google Cloud Datastore backups: This setting is ignored. Avro: This setting is ignored.'
          type: boolean
        maxBadRecords:
          description: '[Optional] The maximum number of bad records that BigQuery can ignore when reading data. If the number of bad records exceeds this value, an invalid error is returned in the job result. The default value is 0, which requires that all records are valid. This setting is ignored for Google Cloud Bigtable, Google Cloud Datastore backups and Avro formats.'
          format: int32
          type: integer
        schema:
          $ref: '#/components/schemas/TableSchema'
        sourceFormat:
          description: '[Required] The data format. For CSV files, specify "CSV". For Google sheets, specify "GOOGLE_SHEETS". For newline-delimited JSON, specify "NEWLINE_DELIMITED_JSON". For Avro files, specify "AVRO". For Google Cloud Datastore backups, specify "DATASTORE_BACKUP". [Beta] For Google Cloud Bigtable, specify "BIGTABLE".'
          type: string
        sourceUris:
          description: '[Required] The fully-qualified URIs that point to your data in Google Cloud. For Google Cloud Storage URIs: Each URI can contain one ''*'' wildcard character and it must come after the ''bucket'' name. Size limits related to load jobs apply to external data sources. For Google Cloud Bigtable URIs: Exactly one URI can be specified and it has be a fully specified and valid HTTPS URL for a Google Cloud Bigtable table. For Google Cloud Datastore backups, exactly one URI can be specified, and it must end with ''.backup_info''. Also, the ''*'' wildcard character is not allowed.'
          items:
            type: string
          type: array
      type: object
    GetQueryResultsResponse:
      properties:
        cacheHit:
          description: Whether the query result was fetched from the query cache.
          type: boolean
        errors:
          description: '[Output-only] The first errors or warnings encountered during the running of the job. The final message includes the number of errors that caused the process to stop. Errors here do not necessarily mean that the job has completed or was unsuccessful.'
          items:
            $ref: '#/components/schemas/ErrorProto'
          type: array
        etag:
          description: A hash of this response.
          type: string
        jobComplete:
          description: 'Whether the query has completed or not. If rows or totalRows are present, this will always be true. If this is false, totalRows will not be available.'
          type: boolean
        jobReference:
          $ref: '#/components/schemas/JobReference'
        kind:
          default: 'bigquery#getQueryResultsResponse'
          description: The resource type of the response.
          type: string
        numDmlAffectedRows:
          description: '[Output-only] The number of rows affected by a DML statement. Present only for DML statements INSERT, UPDATE or DELETE.'
          format: int64
          type: string
        pageToken:
          description: A token used for paging results.
          type: string
        rows:
          description: 'An object with as many results as can be contained within the maximum permitted reply size. To get any additional rows, you can call GetQueryResults and specify the jobReference returned above. Present only when the query completes successfully.'
          items:
            $ref: '#/components/schemas/TableRow'
          type: array
        schema:
          $ref: '#/components/schemas/TableSchema'
        totalBytesProcessed:
          description: The total number of bytes processed for this query.
          format: int64
          type: string
        totalRows:
          description: 'The total number of rows in the complete query result set, which can be more than the number of rows in this single page of results. Present only when the query completes successfully.'
          format: uint64
          type: string
      type: object
    GoogleSheetsOptions:
      properties:
        skipLeadingRows:
          description: '[Optional] The number of rows at the top of a sheet that BigQuery will skip when reading the data. The default value is 0. This property is useful if you have header rows that should be skipped. When autodetect is on, behavior is the following: * skipLeadingRows unspecified - Autodetect tries to detect headers in the first row. If they are not detected, the row is read as data. Otherwise data is read starting from the second row. * skipLeadingRows is 0 - Instructs autodetect that there are no headers and data should be read starting from the first row. * skipLeadingRows = N > 0 - Autodetect skips N-1 rows and tries to detect headers in row N. If headers are not detected, row N is just skipped. Otherwise row N is used to extract column names for the detected schema.'
          format: int64
          type: string
      type: object
    Job:
      properties:
        configuration:
          $ref: '#/components/schemas/JobConfiguration'
        etag:
          description: '[Output-only] A hash of this resource.'
          type: string
        id:
          description: '[Output-only] Opaque ID field of the job'
          type: string
        jobReference:
          $ref: '#/components/schemas/JobReference'
        kind:
          default: 'bigquery#job'
          description: '[Output-only] The type of the resource.'
          type: string
        selfLink:
          description: '[Output-only] A URL that can be used to access this resource again.'
          type: string
        statistics:
          $ref: '#/components/schemas/JobStatistics'
        status:
          $ref: '#/components/schemas/JobStatus'
        user_email:
          description: '[Output-only] Email address of the user who ran the job.'
          type: string
      type: object
    JobCancelResponse:
      properties:
        job:
          $ref: '#/components/schemas/Job'
        kind:
          default: 'bigquery#jobCancelResponse'
          description: The resource type of the response.
          type: string
      type: object
    JobConfiguration:
      properties:
        copy:
          $ref: '#/components/schemas/JobConfigurationTableCopy'
        dryRun:
          description: '[Optional] If set, don''t actually run this job. A valid query will return a mostly empty response with some processing statistics, while an invalid query will return the same error it would if it wasn''t a dry run. Behavior of non-query jobs is undefined.'
          type: boolean
        extract:
          $ref: '#/components/schemas/JobConfigurationExtract'
        labels:
          additionalProperties:
            type: string
          description: '[Experimental] The labels associated with this job. You can use these to organize and group your jobs. Label keys and values can be no longer than 63 characters, can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter and each label in the list must have a different key.'
          type: object
        load:
          $ref: '#/components/schemas/JobConfigurationLoad'
        query:
          $ref: '#/components/schemas/JobConfigurationQuery'
      type: object
    JobConfigurationExtract:
      properties:
        compression:
          description: '[Optional] The compression type to use for exported files. Possible values include GZIP and NONE. The default value is NONE.'
          type: string
        destinationFormat:
          description: '[Optional] The exported file format. Possible values include CSV, NEWLINE_DELIMITED_JSON and AVRO. The default value is CSV. Tables with nested or repeated fields cannot be exported as CSV.'
          type: string
        destinationUri:
          description: '[Pick one] DEPRECATED: Use destinationUris instead, passing only one URI as necessary. The fully-qualified Google Cloud Storage URI where the extracted table should be written.'
          type: string
        destinationUris:
          description: '[Pick one] A list of fully-qualified Google Cloud Storage URIs where the extracted table should be written.'
          items:
            type: string
          type: array
        fieldDelimiter:
          description: '[Optional] Delimiter to use between fields in the exported data. Default is '','''
          type: string
        printHeader:
          default: true
          description: '[Optional] Whether to print out a header row in the results. Default is true.'
          type: boolean
        sourceTable:
          $ref: '#/components/schemas/TableReference'
      type: object
    JobConfigurationLoad:
      properties:
        allowJaggedRows:
          description: '[Optional] Accept rows that are missing trailing optional columns. The missing values are treated as nulls. If false, records with missing trailing columns are treated as bad records, and if there are too many bad records, an invalid error is returned in the job result. The default value is false. Only applicable to CSV, ignored for other formats.'
          type: boolean
        allowQuotedNewlines:
          description: Indicates if BigQuery should allow quoted data sections that contain newline characters in a CSV file. The default value is false.
          type: boolean
        autodetect:
          description: Indicates if we should automatically infer the options and schema for CSV and JSON sources.
          type: boolean
        createDisposition:
          description: '[Optional] Specifies whether the job is allowed to create new tables. The following values are supported: CREATE_IF_NEEDED: If the table does not exist, BigQuery creates the table. CREATE_NEVER: The table must already exist. If it does not, a ''notFound'' error is returned in the job result. The default value is CREATE_IF_NEEDED. Creation, truncation and append actions occur as one atomic update upon job completion.'
          type: string
        destinationTable:
          $ref: '#/components/schemas/TableReference'
        encoding:
          description: '[Optional] The character encoding of the data. The supported values are UTF-8 or ISO-8859-1. The default value is UTF-8. BigQuery decodes the data after the raw, binary data has been split using the values of the quote and fieldDelimiter properties.'
          type: string
        fieldDelimiter:
          description: '[Optional] The separator for fields in a CSV file. The separator can be any ISO-8859-1 single-byte character. To use a character in the range 128-255, you must encode the character as UTF8. BigQuery converts the string to ISO-8859-1 encoding, and then uses the first byte of the encoded string to split the data in its raw, binary state. BigQuery also supports the escape sequence "\t" to specify a tab separator. The default value is a comma ('','').'
          type: string
        ignoreUnknownValues:
          description: '[Optional] Indicates if BigQuery should allow extra values that are not represented in the table schema. If true, the extra values are ignored. If false, records with extra columns are treated as bad records, and if there are too many bad records, an invalid error is returned in the job result. The default value is false. The sourceFormat property determines what BigQuery treats as an extra value: CSV: Trailing columns JSON: Named values that don''t match any column names'
          type: boolean
        maxBadRecords:
          description: '[Optional] The maximum number of bad records that BigQuery can ignore when running the job. If the number of bad records exceeds this value, an invalid error is returned in the job result. The default value is 0, which requires that all records are valid.'
          format: int32
          type: integer
        nullMarker:
          description: '[Optional] Specifies a string that represents a null value in a CSV file. For example, if you specify "\N", BigQuery interprets "\N" as a null value when loading a CSV file. The default value is the empty string. If you set this property to a custom value, BigQuery throws an error if an empty string is present for all data types except for STRING and BYTE. For STRING and BYTE columns, BigQuery interprets the empty string as an empty value.'
          type: string
        projectionFields:
          description: 'If sourceFormat is set to "DATASTORE_BACKUP", indicates which entity properties to load into BigQuery from a Cloud Datastore backup. Property names are case sensitive and must be top-level properties. If no properties are specified, BigQuery loads all properties. If any named property isn''t found in the Cloud Datastore backup, an invalid error is returned in the job result.'
          items:
            type: string
          type: array
        quote:
          default: '"'
          description: '[Optional] The value that is used to quote data sections in a CSV file. BigQuery converts the string to ISO-8859-1 encoding, and then uses the first byte of the encoded string to split the data in its raw, binary state. The default value is a double-quote (''"''). If your data does not contain quoted sections, set the property value to an empty string. If your data contains quoted newline characters, you must also set the allowQuotedNewlines property to true.'
          pattern: .?
          type: string
        schema:
          $ref: '#/components/schemas/TableSchema'
        schemaInline:
          description: '[Deprecated] The inline schema. For CSV schemas, specify as "Field1:Type1[,Field2:Type2]*". For example, "foo:STRING, bar:INTEGER, baz:FLOAT".'
          type: string
        schemaInlineFormat:
          description: '[Deprecated] The format of the schemaInline property.'
          type: string
        schemaUpdateOptions:
          description: '[Experimental] Allows the schema of the desitination table to be updated as a side effect of the load job. Schema update options are supported in two cases: when writeDisposition is WRITE_APPEND; when writeDisposition is WRITE_TRUNCATE and the destination table is a partition of a table, specified by partition decorators. For normal tables, WRITE_TRUNCATE will always overwrite the schema. One or more of the following values are specified: ALLOW_FIELD_ADDITION: allow adding a nullable field to the schema. ALLOW_FIELD_RELAXATION: allow relaxing a required field in the original schema to nullable.'
          items:
            type: string
          type: array
        skipLeadingRows:
          description: '[Optional] The number of rows at the top of a CSV file that BigQuery will skip when loading the data. The default value is 0. This property is useful if you have header rows in the file that should be skipped.'
          format: int32
          type: integer
        sourceFormat:
          description: '[Optional] The format of the data files. For CSV files, specify "CSV". For datastore backups, specify "DATASTORE_BACKUP". For newline-delimited JSON, specify "NEWLINE_DELIMITED_JSON". For Avro, specify "AVRO". The default value is CSV.'
          type: string
        sourceUris:
          description: '[Required] The fully-qualified URIs that point to your data in Google Cloud Storage. Each URI can contain one ''*'' wildcard character and it must come after the ''bucket'' name.'
          items:
            type: string
          type: array
        writeDisposition:
          description: '[Optional] Specifies the action that occurs if the destination table already exists. The following values are supported: WRITE_TRUNCATE: If the table already exists, BigQuery overwrites the table data. WRITE_APPEND: If the table already exists, BigQuery appends the data to the table. WRITE_EMPTY: If the table already exists and contains data, a ''duplicate'' error is returned in the job result. The default value is WRITE_APPEND. Each action is atomic and only occurs if BigQuery is able to complete the job successfully. Creation, truncation and append actions occur as one atomic update upon job completion.'
          type: string
      type: object
    JobConfigurationQuery:
      properties:
        allowLargeResults:
          default: false
          description: '[Optional] If true and query uses legacy SQL dialect, allows the query to produce arbitrarily large result tables at a slight cost in performance. Requires destinationTable to be set. For standard SQL queries, this flag is ignored and large results are always allowed. However, you must still set destinationTable when result size exceeds the allowed maximum response size.'
          type: boolean
        createDisposition:
          description: '[Optional] Specifies whether the job is allowed to create new tables. The following values are supported: CREATE_IF_NEEDED: If the table does not exist, BigQuery creates the table. CREATE_NEVER: The table must already exist. If it does not, a ''notFound'' error is returned in the job result. The default value is CREATE_IF_NEEDED. Creation, truncation and append actions occur as one atomic update upon job completion.'
          type: string
        defaultDataset:
          $ref: '#/components/schemas/DatasetReference'
        destinationTable:
          $ref: '#/components/schemas/TableReference'
        flattenResults:
          default: true
          description: '[Optional] If true and query uses legacy SQL dialect, flattens all nested and repeated fields in the query results. allowLargeResults must be true if this is set to false. For standard SQL queries, this flag is ignored and results are never flattened.'
          type: boolean
        maximumBillingTier:
          default: 1
          description: '[Optional] Limits the billing tier for this job. Queries that have resource usage beyond this tier will fail (without incurring a charge). If unspecified, this will be set to your project default.'
          format: int32
          type: integer
        maximumBytesBilled:
          description: '[Optional] Limits the bytes billed for this job. Queries that will have bytes billed beyond this limit will fail (without incurring a charge). If unspecified, this will be set to your project default.'
          format: int64
          type: string
        parameterMode:
          description: Standard SQL only. Set to POSITIONAL to use positional (?) query parameters or to NAMED to use named (@myparam) query parameters in this query.
          type: string
        preserveNulls:
          description: '[Deprecated] This property is deprecated.'
          type: boolean
        priority:
          description: '[Optional] Specifies a priority for the query. Possible values include INTERACTIVE and BATCH. The default value is INTERACTIVE.'
          type: string
        query:
          description: '[Required] SQL query text to execute. The useLegacySql field can be used to indicate whether the query uses legacy SQL or standard SQL.'
          type: string
        queryParameters:
          description: Query parameters for standard SQL queries.
          items:
            $ref: '#/components/schemas/QueryParameter'
          type: array
        schemaUpdateOptions:
          description: '[Experimental] Allows the schema of the destination table to be updated as a side effect of the query job. Schema update options are supported in two cases: when writeDisposition is WRITE_APPEND; when writeDisposition is WRITE_TRUNCATE and the destination table is a partition of a table, specified by partition decorators. For normal tables, WRITE_TRUNCATE will always overwrite the schema. One or more of the following values are specified: ALLOW_FIELD_ADDITION: allow adding a nullable field to the schema. ALLOW_FIELD_RELAXATION: allow relaxing a required field in the original schema to nullable.'
          items:
            type: string
          type: array
        tableDefinitions:
          additionalProperties:
            $ref: '#/components/schemas/ExternalDataConfiguration'
          description: '[Optional] If querying an external data source outside of BigQuery, describes the data format, location and other properties of the data source. By defining these properties, the data source can then be queried as if it were a standard BigQuery table.'
          type: object
        useLegacySql:
          description: 'Specifies whether to use BigQuery''s legacy SQL dialect for this query. The default value is true. If set to false, the query will use BigQuery''s standard SQL: https://cloud.google.com/bigquery/sql-reference/ When useLegacySql is set to false, the values of allowLargeResults and flattenResults are ignored; query will be run as if allowLargeResults is true and flattenResults is false.'
          type: boolean
        useQueryCache:
          default: true
          description: '[Optional] Whether to look for the result in the query cache. The query cache is a best-effort cache that will be flushed whenever tables in the query are modified. Moreover, the query cache is only available when a query does not have a destination table specified. The default value is true.'
          type: boolean
        userDefinedFunctionResources:
          description: Describes user-defined function resources used in the query.
          items:
            $ref: '#/components/schemas/UserDefinedFunctionResource'
          type: array
        writeDisposition:
          description: '[Optional] Specifies the action that occurs if the destination table already exists. The following values are supported: WRITE_TRUNCATE: If the table already exists, BigQuery overwrites the table data. WRITE_APPEND: If the table already exists, BigQuery appends the data to the table. WRITE_EMPTY: If the table already exists and contains data, a ''duplicate'' error is returned in the job result. The default value is WRITE_EMPTY. Each action is atomic and only occurs if BigQuery is able to complete the job successfully. Creation, truncation and append actions occur as one atomic update upon job completion.'
          type: string
      type: object
    JobConfigurationTableCopy:
      properties:
        createDisposition:
          description: '[Optional] Specifies whether the job is allowed to create new tables. The following values are supported: CREATE_IF_NEEDED: If the table does not exist, BigQuery creates the table. CREATE_NEVER: The table must already exist. If it does not, a ''notFound'' error is returned in the job result. The default value is CREATE_IF_NEEDED. Creation, truncation and append actions occur as one atomic update upon job completion.'
          type: string
        destinationTable:
          $ref: '#/components/schemas/TableReference'
        sourceTable:
          $ref: '#/components/schemas/TableReference'
        sourceTables:
          description: '[Pick one] Source tables to copy.'
          items:
            $ref: '#/components/schemas/TableReference'
          type: array
        writeDisposition:
          description: '[Optional] Specifies the action that occurs if the destination table already exists. The following values are supported: WRITE_TRUNCATE: If the table already exists, BigQuery overwrites the table data. WRITE_APPEND: If the table already exists, BigQuery appends the data to the table. WRITE_EMPTY: If the table already exists and contains data, a ''duplicate'' error is returned in the job result. The default value is WRITE_EMPTY. Each action is atomic and only occurs if BigQuery is able to complete the job successfully. Creation, truncation and append actions occur as one atomic update upon job completion.'
          type: string
      type: object
    JobList:
      properties:
        etag:
          description: A hash of this page of results.
          type: string
        jobs:
          description: List of jobs that were requested.
          items:
            properties:
              configuration:
                $ref: '#/components/schemas/JobConfiguration'
              errorResult:
                $ref: '#/components/schemas/ErrorProto'
              id:
                description: Unique opaque ID of the job.
                type: string
              jobReference:
                $ref: '#/components/schemas/JobReference'
              kind:
                default: 'bigquery#job'
                description: The resource type.
                type: string
              state:
                description: 'Running state of the job. When the state is DONE, errorResult can be checked to determine whether the job succeeded or failed.'
                type: string
              statistics:
                $ref: '#/components/schemas/JobStatistics'
              status:
                $ref: '#/components/schemas/JobStatus'
              user_email:
                description: '[Full-projection-only] Email address of the user who ran the job.'
                type: string
            type: object
          type: array
        kind:
          default: 'bigquery#jobList'
          description: The resource type of the response.
          type: string
        nextPageToken:
          description: A token to request the next page of results.
          type: string
      type: object
    JobReference:
      properties:
        jobId:
          description: '[Required] The ID of the job. The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-). The maximum length is 1,024 characters.'
          type: string
        projectId:
          description: '[Required] The ID of the project containing this job.'
          type: string
      type: object
    JobStatistics:
      properties:
        creationTime:
          description: '[Output-only] Creation time of this job, in milliseconds since the epoch. This field will be present on all jobs.'
          format: int64
          type: string
        endTime:
          description: '[Output-only] End time of this job, in milliseconds since the epoch. This field will be present whenever a job is in the DONE state.'
          format: int64
          type: string
        extract:
          $ref: '#/components/schemas/JobStatistics4'
        load:
          $ref: '#/components/schemas/JobStatistics3'
        query:
          $ref: '#/components/schemas/JobStatistics2'
        startTime:
          description: '[Output-only] Start time of this job, in milliseconds since the epoch. This field will be present when the job transitions from the PENDING state to either RUNNING or DONE.'
          format: int64
          type: string
        totalBytesProcessed:
          description: '[Output-only] [Deprecated] Use the bytes processed in the query statistics instead.'
          format: int64
          type: string
      type: object
    JobStatistics2:
      properties:
        billingTier:
          description: '[Output-only] Billing tier for the job.'
          format: int32
          type: integer
        cacheHit:
          description: '[Output-only] Whether the query result was fetched from the query cache.'
          type: boolean
        numDmlAffectedRows:
          description: '[Output-only] The number of rows affected by a DML statement. Present only for DML statements INSERT, UPDATE or DELETE.'
          format: int64
          type: string
        queryPlan:
          description: '[Output-only] Describes execution plan for the query.'
          items:
            $ref: '#/components/schemas/ExplainQueryStage'
          type: array
        referencedTables:
          description: '[Output-only, Experimental] Referenced tables for the job. Queries that reference more than 50 tables will not have a complete list.'
          items:
            $ref: '#/components/schemas/TableReference'
          type: array
        schema:
          $ref: '#/components/schemas/TableSchema'
        statementType:
          description: '[Output-only, Experimental] The type of query statement, if valid.'
          type: string
        totalBytesBilled:
          description: '[Output-only] Total bytes billed for the job.'
          format: int64
          type: string
        totalBytesProcessed:
          description: '[Output-only] Total bytes processed for the job.'
          format: int64
          type: string
        undeclaredQueryParameters:
          description: '[Output-only, Experimental] Standard SQL only: list of undeclared query parameters detected during a dry run validation.'
          items:
            $ref: '#/components/schemas/QueryParameter'
          type: array
      type: object
    JobStatistics3:
      properties:
        inputFileBytes:
          description: '[Output-only] Number of bytes of source data in a load job.'
          format: int64
          type: string
        inputFiles:
          description: '[Output-only] Number of source files in a load job.'
          format: int64
          type: string
        outputBytes:
          description: '[Output-only] Size of the loaded data in bytes. Note that while a load job is in the running state, this value may change.'
          format: int64
          type: string
        outputRows:
          description: '[Output-only] Number of rows imported in a load job. Note that while an import job is in the running state, this value may change.'
          format: int64
          type: string
      type: object
    JobStatistics4:
      properties:
        destinationUriFileCounts:
          description: '[Output-only] Number of files per destination URI or URI pattern specified in the extract configuration. These values will be in the same order as the URIs specified in the ''destinationUris'' field.'
          items:
            format: int64
            type: string
          type: array
      type: object
    JobStatus:
      properties:
        errorResult:
          $ref: '#/components/schemas/ErrorProto'
        errors:
          description: '[Output-only] The first errors encountered during the running of the job. The final message includes the number of errors that caused the process to stop. Errors here do not necessarily mean that the job has completed or was unsuccessful.'
          items:
            $ref: '#/components/schemas/ErrorProto'
          type: array
        state:
          description: '[Output-only] Running state of the job.'
          type: string
      type: object
    JsonObject:
      additionalProperties:
        $ref: '#/components/schemas/JsonValue'
      description: Represents a single JSON object.
      type: object
    JsonValue: {}
    ProjectList:
      properties:
        etag:
          description: A hash of the page of results
          type: string
        kind:
          default: 'bigquery#projectList'
          description: The type of list.
          type: string
        nextPageToken:
          description: A token to request the next page of results.
          type: string
        projects:
          description: Projects to which you have at least READ access.
          items:
            properties:
              friendlyName:
                description: A descriptive name for this project.
                type: string
              id:
                description: An opaque ID of this project.
                type: string
              kind:
                default: 'bigquery#project'
                description: The resource type.
                type: string
              numericId:
                description: The numeric ID of this project.
                format: uint64
                type: string
              projectReference:
                $ref: '#/components/schemas/ProjectReference'
            type: object
          type: array
        totalItems:
          description: The total number of projects in the list.
          format: int32
          type: integer
      type: object
    ProjectReference:
      properties:
        projectId:
          description: '[Required] ID of the project. Can be either the numeric ID or the assigned ID of the project.'
          type: string
      type: object
    QueryParameter:
      properties:
        name:
          description: '[Optional] If unset, this is a positional parameter. Otherwise, should be unique within a query.'
          type: string
        parameterType:
          $ref: '#/components/schemas/QueryParameterType'
        parameterValue:
          $ref: '#/components/schemas/QueryParameterValue'
      type: object
    QueryParameterType:
      properties:
        arrayType:
          $ref: '#/components/schemas/QueryParameterType'
        structTypes:
          description: '[Optional] The types of the fields of this struct, in order, if this is a struct.'
          items:
            properties:
              description:
                description: '[Optional] Human-oriented description of the field.'
                type: string
              name:
                description: '[Optional] The name of this field.'
                type: string
              type:
                $ref: '#/components/schemas/QueryParameterType'
            type: object
          type: array
        type:
          description: '[Required] The top level type of this field.'
          type: string
      type: object
    QueryParameterValue:
      properties:
        arrayValues:
          description: '[Optional] The array values, if this is an array type.'
          items:
            $ref: '#/components/schemas/QueryParameterValue'
          type: array
        structValues:
          additionalProperties:
            $ref: '#/components/schemas/QueryParameterValue'
          description: '[Optional] The struct field values, in order of the struct type''s declaration.'
          type: object
        value:
          description: '[Optional] The value of this value, if a simple scalar type.'
          type: string
      type: object
    QueryRequest:
      properties:
        defaultDataset:
          $ref: '#/components/schemas/DatasetReference'
        dryRun:
          description: '[Optional] If set to true, BigQuery doesn''t run the job. Instead, if the query is valid, BigQuery returns statistics about the job such as how many bytes would be processed. If the query is invalid, an error returns. The default value is false.'
          type: boolean
        kind:
          default: 'bigquery#queryRequest'
          description: The resource type of the request.
          type: string
        maxResults:
          description: '[Optional] The maximum number of rows of data to return per page of results. Setting this flag to a small value such as 1000 and then paging through results might improve reliability when the query result set is large. In addition to this limit, responses are also limited to 10 MB. By default, there is no maximum row count, and only the byte limit applies.'
          format: uint32
          type: integer
        parameterMode:
          description: Standard SQL only. Set to POSITIONAL to use positional (?) query parameters or to NAMED to use named (@myparam) query parameters in this query.
          type: string
        preserveNulls:
          description: '[Deprecated] This property is deprecated.'
          type: boolean
        query:
          description: '[Required] A query string, following the BigQuery query syntax, of the query to execute. Example: "SELECT count(f1) FROM [myProjectId:myDatasetId.myTableId]".'
          type: string
        queryParameters:
          description: Query parameters for Standard SQL queries.
          items:
            $ref: '#/components/schemas/QueryParameter'
          type: array
        timeoutMs:
          description: '[Optional] How long to wait for the query to complete, in milliseconds, before the request times out and returns. Note that this is only a timeout for the request, not the query. If the query takes longer to run than the timeout value, the call returns without any results and with the ''jobComplete'' flag set to false. You can call GetQueryResults() to wait for the query to complete and read the results. The default value is 10000 milliseconds (10 seconds).'
          format: uint32
          type: integer
        useLegacySql:
          default: true
          description: 'Specifies whether to use BigQuery''s legacy SQL dialect for this query. The default value is true. If set to false, the query will use BigQuery''s standard SQL: https://cloud.google.com/bigquery/sql-reference/ When useLegacySql is set to false, the values of allowLargeResults and flattenResults are ignored; query will be run as if allowLargeResults is true and flattenResults is false.'
          type: boolean
        useQueryCache:
          default: true
          description: '[Optional] Whether to look for the result in the query cache. The query cache is a best-effort cache that will be flushed whenever tables in the query are modified. The default value is true.'
          type: boolean
      type: object
    QueryResponse:
      properties:
        cacheHit:
          description: Whether the query result was fetched from the query cache.
          type: boolean
        errors:
          description: '[Output-only] The first errors or warnings encountered during the running of the job. The final message includes the number of errors that caused the process to stop. Errors here do not necessarily mean that the job has completed or was unsuccessful.'
          items:
            $ref: '#/components/schemas/ErrorProto'
          type: array
        jobComplete:
          description: 'Whether the query has completed or not. If rows or totalRows are present, this will always be true. If this is false, totalRows will not be available.'
          type: boolean
        jobReference:
          $ref: '#/components/schemas/JobReference'
        kind:
          default: 'bigquery#queryResponse'
          description: The resource type.
          type: string
        numDmlAffectedRows:
          description: '[Output-only] The number of rows affected by a DML statement. Present only for DML statements INSERT, UPDATE or DELETE.'
          format: int64
          type: string
        pageToken:
          description: A token used for paging results.
          type: string
        rows:
          description: 'An object with as many results as can be contained within the maximum permitted reply size. To get any additional rows, you can call GetQueryResults and specify the jobReference returned above.'
          items:
            $ref: '#/components/schemas/TableRow'
          type: array
        schema:
          $ref: '#/components/schemas/TableSchema'
        totalBytesProcessed:
          description: 'The total number of bytes processed for this query. If this query was a dry run, this is the number of bytes that would be processed if the query were run.'
          format: int64
          type: string
        totalRows:
          description: 'The total number of rows in the complete query result set, which can be more than the number of rows in this single page of results.'
          format: uint64
          type: string
      type: object
    Streamingbuffer:
      properties:
        estimatedBytes:
          description: '[Output-only] A lower-bound estimate of the number of bytes currently in the streaming buffer.'
          format: uint64
          type: string
        estimatedRows:
          description: '[Output-only] A lower-bound estimate of the number of rows currently in the streaming buffer.'
          format: uint64
          type: string
        oldestEntryTime:
          description: '[Output-only] Contains the timestamp of the oldest entry in the streaming buffer, in milliseconds since the epoch, if the streaming buffer is available.'
          format: uint64
          type: string
      type: object
    Table:
      properties:
        creationTime:
          description: '[Output-only] The time when this table was created, in milliseconds since the epoch.'
          format: int64
          type: string
        description:
          description: '[Optional] A user-friendly description of this table.'
          type: string
        etag:
          description: '[Output-only] A hash of this resource.'
          type: string
        expirationTime:
          description: '[Optional] The time when this table expires, in milliseconds since the epoch. If not present, the table will persist indefinitely. Expired tables will be deleted and their storage reclaimed.'
          format: int64
          type: string
        externalDataConfiguration:
          $ref: '#/components/schemas/ExternalDataConfiguration'
        friendlyName:
          description: '[Optional] A descriptive name for this table.'
          type: string
        id:
          description: '[Output-only] An opaque ID uniquely identifying the table.'
          type: string
        kind:
          default: 'bigquery#table'
          description: '[Output-only] The type of the resource.'
          type: string
        labels:
          additionalProperties:
            type: string
          description: '[Experimental] The labels associated with this table. You can use these to organize and group your tables. Label keys and values can be no longer than 63 characters, can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter and each label in the list must have a different key.'
          type: object
        lastModifiedTime:
          description: '[Output-only] The time when this table was last modified, in milliseconds since the epoch.'
          format: uint64
          type: string
        location:
          description: '[Output-only] The geographic location where the table resides. This value is inherited from the dataset.'
          type: string
        numBytes:
          description: '[Output-only] The size of this table in bytes, excluding any data in the streaming buffer.'
          format: int64
          type: string
        numLongTermBytes:
          description: '[Output-only] The number of bytes in the table that are considered "long-term storage".'
          format: int64
          type: string
        numRows:
          description: '[Output-only] The number of rows of data in this table, excluding any data in the streaming buffer.'
          format: uint64
          type: string
        schema:
          $ref: '#/components/schemas/TableSchema'
        selfLink:
          description: '[Output-only] A URL that can be used to access this resource again.'
          type: string
        streamingBuffer:
          $ref: '#/components/schemas/Streamingbuffer'
        tableReference:
          $ref: '#/components/schemas/TableReference'
        timePartitioning:
          $ref: '#/components/schemas/TimePartitioning'
        type:
          description: '[Output-only] Describes the table type. The following values are supported: TABLE: A normal BigQuery table. VIEW: A virtual table defined by a SQL query. EXTERNAL: A table that references data stored in an external storage system, such as Google Cloud Storage. The default value is TABLE.'
          type: string
        view:
          $ref: '#/components/schemas/ViewDefinition'
      type: object
    TableCell:
      properties:
        v: {}
      type: object
    TableDataInsertAllRequest:
      properties:
        ignoreUnknownValues:
          description: '[Optional] Accept rows that contain values that do not match the schema. The unknown values are ignored. Default is false, which treats unknown values as errors.'
          type: boolean
        kind:
          default: 'bigquery#tableDataInsertAllRequest'
          description: The resource type of the response.
          type: string
        rows:
          description: The rows to insert.
          items:
            properties:
              insertId:
[...]
