swagger: '2.0'
schemes:
  - https
host: www.googleapis.com
basePath: /androidpublisher/v3/applications
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: Accesses Android application developers' Google Play accounts.
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Google Play Developer
  version: v3
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-apisguru-categories:
    - developer_tools
  x-logo:
    url: 'https://www.gstatic.com/android/market_images/web/play_logo_x2.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.7.31
      format: google
      url: 'https://www.googleapis.com/discovery/v1/apis/androidpublisher/v3/rest'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: androidpublisher
externalDocs:
  url: 'https://developers.google.com/android-publisher'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/androidpublisher': View and manage your Google Play Developer account
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://www.googleapis.com/auth/androidpublisher': View and manage your Google Play Developer account
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  alt:
    default: json
    description: Data format for the response.
    enum:
      - json
    in: query
    name: alt
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: An opaque string that represents a user for quota purposes. Must not exceed 40 characters.
    in: query
    name: quotaUser
    type: string
  userIp:
    description: Deprecated. Please use quotaUser instead.
    in: query
    name: userIp
    type: string
tags:
  - name: edits
  - name: inappproducts
  - name: internalappsharingartifacts
  - name: orders
  - name: purchases
  - name: reviews
paths:
  '/internalappsharing/{packageName}/artifacts/apk':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      consumes:
        - application/octet-stream
        - application/vnd.android.package-archive
      description: 'Uploads an APK to internal app sharing. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See: https://developers.google.com/api-client-library/java/google-api-java-client/errors for an example in java.'
      operationId: androidpublisher.internalappsharingartifacts.uploadapk
      parameters:
        - description: 'Unique identifier for the Android app; for example, "com.spiffygame".'
          in: path
          name: packageName
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/InternalAppSharingArtifact'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - internalappsharingartifacts
  '/internalappsharing/{packageName}/artifacts/bundle':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      consumes:
        - application/octet-stream
      description: 'Uploads an app bundle to internal app sharing. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See: https://developers.google.com/api-client-library/java/google-api-java-client/errors for an example in java.'
      operationId: androidpublisher.internalappsharingartifacts.uploadbundle
      parameters:
        - description: 'Unique identifier for the Android app; for example, "com.spiffygame".'
          in: path
          name: packageName
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/InternalAppSharingArtifact'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - internalappsharingartifacts
  '/{packageName}/edits':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: 'Creates a new edit for an app, populated with the app''s current state.'
      operationId: androidpublisher.edits.insert
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AppEdit'
        - description: 'Unique identifier for the Android app that is being updated; for example, "com.spiffygame".'
          in: path
          name: packageName
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AppEdit'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - edits
  '/{packageName}/edits/{editId}':
    delete:
      description: Deletes an edit for an app. Creating a new edit will automatically delete any of your previous edits so this method need only be called if you want to preemptively abandon an edit.
      operationId: androidpublisher.edits.delete
      parameters:
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          type: string
        - description: 'Unique identifier for the Android app that is being updated; for example, "com.spiffygame".'
          in: path
          name: packageName
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - edits
    get:
      description: 'Returns information about the edit specified. Calls will fail if the edit is no long active (e.g. has been deleted, superseded or expired).'
      operationId: androidpublisher.edits.get
      parameters:
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          type: string
        - description: 'Unique identifier for the Android app that is being updated; for example, "com.spiffygame".'
          in: path
          name: packageName
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AppEdit'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - edits
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{packageName}/edits/{editId}/apks':
    get:
      operationId: androidpublisher.edits.apks.list
      parameters:
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          type: string
        - description: 'Unique identifier for the Android app that is being updated; for example, "com.spiffygame".'
          in: path
          name: packageName
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ApksListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - edits
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      consumes:
        - application/octet-stream
        - application/vnd.android.package-archive
      operationId: androidpublisher.edits.apks.upload
      parameters:
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          type: string
        - description: 'Unique identifier for the Android app that is being updated; for example, "com.spiffygame".'
          in: path
          name: packageName
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Apk'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - edits
  '/{packageName}/edits/{editId}/apks/externallyHosted':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: 'Creates a new APK without uploading the APK itself to Google Play, instead hosting the APK at a specified URL. This function is only available to enterprises using Google Play for Work whose application is configured to restrict distribution to the enterprise domain.'
      operationId: androidpublisher.edits.apks.addexternallyhosted
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ApksAddExternallyHostedRequest'
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          type: string
        - description: 'Unique identifier for the Android app that is being updated; for example, "com.spiffygame".'
          in: path
          name: packageName
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ApksAddExternallyHostedResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - edits
  '/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      consumes:
        - application/octet-stream
      description: 'Uploads the deobfuscation file of the specified APK. If a deobfuscation file already exists, it will be replaced.'
      operationId: androidpublisher.edits.deobfuscationfiles.upload
      parameters:
        - description: The version code of the APK whose deobfuscation file is being uploaded.
          in: path
          name: apkVersionCode
          required: true
          type: integer
        - enum:
            - proguard
          in: path
          name: deobfuscationFileType
          required: true
          type: string
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          type: string
        - description: 'Unique identifier of the Android app for which the deobfuscatiuon files are being uploaded; for example, "com.spiffygame".'
          in: path
          name: packageName
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/DeobfuscationFilesUploadResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - edits
  '/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}':
    get:
      description: Fetches the Expansion File configuration for the APK specified.
      operationId: androidpublisher.edits.expansionfiles.get
      parameters:
        - description: The version code of the APK whose Expansion File configuration is being read or modified.
          in: path
          name: apkVersionCode
          required: true
          type: integer
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          type: string
        - enum:
            - main
            - patch
          in: path
          name: expansionFileType
          required: true
          type: string
        - description: 'Unique identifier for the Android app that is being updated; for example, "com.spiffygame".'
          in: path
          name: packageName
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ExpansionFile'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - edits
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates the APK's Expansion File configuration to reference another APK's Expansion Files. To add a new Expansion File use the Upload method. This method supports patch semantics.
      operationId: androidpublisher.edits.expansionfiles.patch
      parameters:
        - description: The version code of the APK whose Expansion File configuration is being read or modified.
          in: path
          name: apkVersionCode
          required: true
          type: integer
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ExpansionFile'
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          type: string
        - enum:
            - main
            - patch
          in: path
          name: expansionFileType
          required: true
          type: string
        - description: 'Unique identifier for the Android app that is being updated; for example, "com.spiffygame".'
          in: path
          name: packageName
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ExpansionFile'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - edits
    post:
      consumes:
        - application/octet-stream
      description: Uploads and attaches a new Expansion File to the APK specified.
      operationId: androidpublisher.edits.expansionfiles.upload
      parameters:
        - description: The version code of the APK whose Expansion File configuration is being read or modified.
          in: path
          name: apkVersionCode
          required: true
          type: integer
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          type: string
        - enum:
            - main
            - patch
          in: path
          name: expansionFileType
          required: true
          type: string
        - description: 'Unique identifier for the Android app that is being updated; for example, "com.spiffygame".'
          in: path
          name: packageName
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ExpansionFilesUploadResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - edits
    put:
      description: Updates the APK's Expansion File configuration to reference another APK's Expansion Files. To add a new Expansion File use the Upload method.
      operationId: androidpublisher.edits.expansionfiles.update
      parameters:
        - description: The version code of the APK whose Expansion File configuration is being read or modified.
          in: path
          name: apkVersionCode
          required: true
          type: integer
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ExpansionFile'
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          type: string
        - enum:
            - main
            - patch
          in: path
          name: expansionFileType
          required: true
          type: string
        - description: 'Unique identifier for the Android app that is being updated; for example, "com.spiffygame".'
          in: path
          name: packageName
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ExpansionFile'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - edits
  '/{packageName}/edits/{editId}/bundles':
    get:
      operationId: androidpublisher.edits.bundles.list
      parameters:
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          type: string
        - description: 'Unique identifier for the Android app that is being updated; for example, "com.spiffygame".'
          in: path
          name: packageName
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/BundlesListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - edits
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      consumes:
        - application/octet-stream
      description: 'Uploads a new Android App Bundle to this edit. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See: https://developers.google.com/api-client-library/java/google-api-java-client/errors for an example in java.'
      operationId: androidpublisher.edits.bundles.upload
      parameters:
        - description: 'Must be set to true if the bundle installation may trigger a warning on user devices (for example, if installation size may be over a threshold, typically 100 MB).'
          in: query
          name: ackBundleInstallationWarning
          type: boolean
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          type: string
        - description: 'Unique identifier for the Android app that is being updated; for example, "com.spiffygame".'
          in: path
          name: packageName
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Bundle'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - edits
  '/{packageName}/edits/{editId}/details':
    get:
      description: Fetches app details for this edit. This includes the default language and developer support contact information.
      operationId: androidpublisher.edits.details.get
      parameters:
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          type: string
        - description: 'Unique identifier for the Android app that is being updated; for example, "com.spiffygame".'
          in: path
          name: packageName
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AppDetails'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - edits
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates app details for this edit. This method supports patch semantics.
      operationId: androidpublisher.edits.details.patch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AppDetails'
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          type: string
        - description: 'Unique identifier for the Android app that is being updated; for example, "com.spiffygame".'
          in: path
          name: packageName
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AppDetails'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - edits
    put:
      description: Updates app details for this edit.
      operationId: androidpublisher.edits.details.update
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AppDetails'
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          type: string
        - description: 'Unique identifier for the Android app that is being updated; for example, "com.spiffygame".'
          in: path
          name: packageName
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AppDetails'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - edits
  '/{packageName}/edits/{editId}/listings':
    delete:
      description: Deletes all localized listings from an edit.
      operationId: androidpublisher.edits.listings.deleteall
      parameters:
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          type: string
        - description: 'Unique identifier for the Android app that is being updated; for example, "com.spiffygame".'
          in: path
          name: packageName
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - edits
    get:
      description: Returns all of the localized store listings attached to this edit.
      operationId: androidpublisher.edits.listings.list
      parameters:
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          type: string
        - description: 'Unique identifier for the Android app that is being updated; for example, "com.spiffygame".'
          in: path
          name: packageName
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListingsListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - edits
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{packageName}/edits/{editId}/listings/{language}':
    delete:
      description: Deletes the specified localized store listing from an edit.
      operationId: androidpublisher.edits.listings.delete
      parameters:
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          type: string
        - description: 'The language code (a BCP-47 language tag) of the localized listing to read or modify. For example, to select Austrian German, pass "de-AT".'
          in: path
          name: language
          required: true
          type: string
        - description: 'Unique identifier for the Android app that is being updated; for example, "com.spiffygame".'
          in: path
          name: packageName
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - edits
    get:
      description: Fetches information about a localized store listing.
      operationId: androidpublisher.edits.listings.get
      parameters:
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          type: string
        - description: 'The language code (a BCP-47 language tag) of the localized listing to read or modify. For example, to select Austrian German, pass "de-AT".'
          in: path
          name: language
          required: true
          type: string
        - description: 'Unique identifier for the Android app that is being updated; for example, "com.spiffygame".'
          in: path
          name: packageName
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Listing'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - edits
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Creates or updates a localized store listing. This method supports patch semantics.
      operationId: androidpublisher.edits.listings.patch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Listing'
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          type: string
        - description: 'The language code (a BCP-47 language tag) of the localized listing to read or modify. For example, to select Austrian German, pass "de-AT".'
          in: path
          name: language
          required: true
          type: string
        - description: 'Unique identifier for the Android app that is being updated; for example, "com.spiffygame".'
          in: path
          name: packageName
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Listing'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - edits
    put:
      description: Creates or updates a localized store listing.
      operationId: androidpublisher.edits.listings.update
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Listing'
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          type: string
        - description: 'The language code (a BCP-47 language tag) of the localized listing to read or modify. For example, to select Austrian German, pass "de-AT".'
          in: path
          name: language
          required: true
          type: string
        - description: 'Unique identifier for the Android app that is being updated; for example, "com.spiffygame".'
          in: path
          name: packageName
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Listing'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - edits
  '/{packageName}/edits/{editId}/listings/{language}/{imageType}':
    delete:
      description: Deletes all images for the specified language and image type.
      operationId: androidpublisher.edits.images.deleteall
      parameters:
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          type: string
        - enum:
            - featureGraphic
            - icon
            - phoneScreenshots
            - promoGraphic
            - sevenInchScreenshots
            - tenInchScreenshots
            - tvBanner
            - tvScreenshots
            - wearScreenshots
          in: path
          name: imageType
          required: true
          type: string
        - description: 'The language code (a BCP-47 language tag) of the localized listing whose images are to read or modified. For example, to select Austrian German, pass "de-AT".'
          in: path
          name: language
          required: true
          type: string
        - description: 'Unique identifier for the Android app that is being updated; for example, "com.spiffygame".'
          in: path
          name: packageName
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ImagesDeleteAllResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - edits
    get:
      description: Lists all images for the specified language and image type.
      operationId: androidpublisher.edits.images.list
      parameters:
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          type: string
        - enum:
            - featureGraphic
            - icon
            - phoneScreenshots
            - promoGraphic
            - sevenInchScreenshots
            - tenInchScreenshots
            - tvBanner
            - tvScreenshots
            - wearScreenshots
          in: path
          name: imageType
          required: true
          type: string
        - description: 'The language code (a BCP-47 language tag) of the localized listing whose images are to read or modified. For example, to select Austrian German, pass "de-AT".'
          in: path
          name: language
          required: true
          type: string
        - description: 'Unique identifier for the Android app that is being updated; for example, "com.spiffygame".'
          in: path
          name: packageName
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ImagesListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - edits
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      consumes:
        - image/aces
        - image/apng
        - image/avci
        - image/avcs
        - image/bmp
        - image/cgm
        - image/dicom-rle
        - image/emf
        - image/fits
        - image/g3fax
        - image/gif
        - image/heic
        - image/heic-sequence
        - image/heif
        - image/heif-sequence
        - image/ief
        - image/jls
        - image/jp2
        - image/jpeg
        - image/jpm
        - image/jpx
        - image/ktx
        - image/naplps
        - image/pjpeg
        - image/png
        - image/prs.btif
        - image/prs.pti
        - image/pwg-raster
        - image/sgi
        - image/svg+xml
        - image/t38
        - image/tiff
        - image/tiff-fx
        - image/vnd.adobe.photoshop
        - image/vnd.airzip.accelerator.azv
        - image/vnd.cns.inf2
        - image/vnd.dece.graphic
        - image/vnd.djvu
        - image/vnd.dvb.subtitle
        - image/vnd.dwg
        - image/vnd.dxf
        - image/vnd.fastbidsheet
        - image/vnd.fpx
        - image/vnd.fst
        - image/vnd.fujixerox.edmics-mmr
        - image/vnd.fujixerox.edmics-rlc
        - image/vnd.globalgraphics.pgb
        - image/vnd.microsoft.icon
        - image/vnd.mix
        - image/vnd.mozilla.apng
        - image/vnd.ms-modi
        - image/vnd.ms-photo
        - image/vnd.net-fpx
        - image/vnd.radiance
        - image/vnd.sealed.png
        - image/vnd.sealedmedia.softseal.gif
        - image/vnd.sealedmedia.softseal.jpg
        - image/vnd.svf
        - image/vnd.tencent.tap
        - image/vnd.valve.source.texture
        - image/vnd.wap.wbmp
        - image/vnd.xiff
        - image/vnd.zbrush.pcx
        - image/webp
        - image/wmf
        - image/x-3ds
        - image/x-cmu-raster
        - image/x-cmx
        - image/x-freehand
        - image/x-icon
        - image/x-jng
        - image/x-mrsid-image
        - image/x-ms-bmp
        - image/x-pcx
        - image/x-pict
        - image/x-portable-anymap
        - image/x-portable-bitmap
        - image/x-portable-graymap
        - image/x-portable-pixmap
        - image/x-rgb
        - image/x-tga
        - image/x-xbitmap
        - image/x-xcf
        - image/x-xpixmap
        - image/x-xwindowdump
      description: Uploads a new image and adds it to the list of images for the specified language and image type.
      operationId: androidpublisher.edits.images.upload
      parameters:
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          type: string
        - enum:
            - featureGraphic
            - icon
            - phoneScreenshots
            - promoGraphic
            - sevenInchScreenshots
            - tenInchScreenshots
            - tvBanner
            - tvScreenshots
            - wearScreenshots
          in: path
          name: imageType
          required: true
          type: string
        - description: 'The language code (a BCP-47 language tag) of the localized listing whose images are to read or modified. For example, to select Austrian German, pass "de-AT".'
          in: path
          name: language
          required: true
          type: string
        - description: 'Unique identifier for the Android app that is being updated; for example, "com.spiffygame".'
          in: path
          name: packageName
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ImagesUploadResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - edits
  '/{packageName}/edits/{editId}/listings/{language}/{imageType}/{imageId}':
    delete:
      description: Deletes the image (specified by id) from the edit.
      operationId: androidpublisher.edits.images.delete
      parameters:
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          type: string
        - description: Unique identifier an image within the set of images attached to this edit.
          in: path
          name: imageId
          required: true
          type: string
        - enum:
            - featureGraphic
            - icon
            - phoneScreenshots
            - promoGraphic
            - sevenInchScreenshots
            - tenInchScreenshots
            - tvBanner
            - tvScreenshots
            - wearScreenshots
          in: path
          name: imageType
          required: true
          type: string
        - description: 'The language code (a BCP-47 language tag) of the localized listing whose images are to read or modified. For example, to select Austrian German, pass "de-AT".'
          in: path
          name: language
          required: true
          type: string
        - description: 'Unique identifier for the Android app that is being updated; for example, "com.spiffygame".'
          in: path
          name: packageName
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - edits
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{packageName}/edits/{editId}/testers/{track}':
    get:
      operationId: androidpublisher.edits.testers.get
      parameters:
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          type: string
        - description: 'Unique identifier for the Android app that is being updated; for example, "com.spiffygame".'
          in: path
          name: packageName
          required: true
          type: string
        - description: The track to read or modify.
          in: path
          name: track
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Testers'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - edits
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      operationId: androidpublisher.edits.testers.patch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Testers'
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          type: string
        - description: 'Unique identifier for the Android app that is being updated; for example, "com.spiffygame".'
          in: path
          name: packageName
          required: true
          type: string
        - description: The track to read or modify.
          in: path
          name: track
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Testers'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - edits
    put:
      operationId: androidpublisher.edits.testers.update
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Testers'
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          type: string
        - description: 'Unique identifier for the Android app that is being updated; for example, "com.spiffygame".'
          in: path
          name: packageName
          required: true
          type: string
        - description: The track to read or modify.
          in: path
          name: track
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Testers'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - edits
  '/{packageName}/edits/{editId}/tracks':
    get:
      description: Lists all the track configurations for this edit.
      operationId: androidpublisher.edits.tracks.list
      parameters:
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          type: string
        - description: 'Unique identifier for the Android app that is being updated; for example, "com.spiffygame".'
          in: path
          name: packageName
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TracksListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - edits
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{packageName}/edits/{editId}/tracks/{track}':
    get:
      description: Fetches the track configuration for the specified track type. Includes the APK version codes that are in this track.
      operationId: androidpublisher.edits.tracks.get
      parameters:
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          type: string
        - description: 'Unique identifier for the Android app that is being updated; for example, "com.spiffygame".'
          in: path
          name: packageName
          required: true
          type: string
        - description: The track to read or modify.
          in: path
          name: track
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Track'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - edits
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates the track configuration for the specified track type. This method supports patch semantics.
      operationId: androidpublisher.edits.tracks.patch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Track'
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          type: string
        - description: 'Unique identifier for the Android app that is being updated; for example, "com.spiffygame".'
          in: path
          name: packageName
          required: true
          type: string
        - description: The track to read or modify.
          in: path
          name: track
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Track'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - edits
    put:
      description: Updates the track configuration for the specified track type.
      operationId: androidpublisher.edits.tracks.update
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Track'
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          type: string
        - description: 'Unique identifier for the Android app that is being updated; for example, "com.spiffygame".'
          in: path
          name: packageName
          required: true
          type: string
        - description: The track to read or modify.
          in: path
          name: track
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Track'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - edits
  '/{packageName}/edits/{editId}:commit':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Commits/applies the changes made in this edit back to the app.
      operationId: androidpublisher.edits.commit
      parameters:
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          type: string
        - description: 'Unique identifier for the Android app that is being updated; for example, "com.spiffygame".'
          in: path
          name: packageName
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AppEdit'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - edits
  '/{packageName}/edits/{editId}:validate':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Checks that the edit can be successfully committed. The edit's changes are not applied to the live app.
      operationId: androidpublisher.edits.validate
      parameters:
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          type: string
        - description: 'Unique identifier for the Android app that is being updated; for example, "com.spiffygame".'
          in: path
          name: packageName
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AppEdit'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - edits
  '/{packageName}/inappproducts':
    get:
      description: 'List all the in-app products for an Android app, both subscriptions and managed in-app products..'
      operationId: androidpublisher.inappproducts.list
      parameters:
        - in: query
          name: maxResults
          type: integer
        - description: 'Unique identifier for the Android app with in-app products; for example, "com.spiffygame".'
          in: path
          name: packageName
          required: true
          type: string
        - in: query
          name: startIndex
          type: integer
        - in: query
          name: token
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/InappproductsListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - inappproducts
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a new in-app product for an app.
      operationId: androidpublisher.inappproducts.insert
      parameters:
        - description: If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.
          in: query
          name: autoConvertMissingPrices
          type: boolean
        - in: body
          name: body
          schema:
            $ref: '#/definitions/InAppProduct'
        - description: 'Unique identifier for the Android app; for example, "com.spiffygame".'
          in: path
          name: packageName
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/InAppProduct'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - inappproducts
  '/{packageName}/inappproducts/{sku}':
    delete:
      description: Delete an in-app product for an app.
      operationId: androidpublisher.inappproducts.delete
      parameters:
        - description: 'Unique identifier for the Android app with the in-app product; for example, "com.spiffygame".'
          in: path
          name: packageName
          required: true
          type: string
        - description: Unique identifier for the in-app product.
          in: path
          name: sku
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - inappproducts
    get:
      description: Returns information about the in-app product specified.
      operationId: androidpublisher.inappproducts.get
      parameters:
        - in: path
          name: packageName
          required: true
          type: string
        - description: Unique identifier for the in-app product.
          in: path
          name: sku
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/InAppProduct'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - inappproducts
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates the details of an in-app product. This method supports patch semantics.
      operationId: androidpublisher.inappproducts.patch
      parameters:
        - description: If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.
          in: query
          name: autoConvertMissingPrices
          type: boolean
        - in: body
          name: body
          schema:
            $ref: '#/definitions/InAppProduct'
        - description: 'Unique identifier for the Android app with the in-app product; for example, "com.spiffygame".'
          in: path
          name: packageName
          required: true
          type: string
        - description: Unique identifier for the in-app product.
          in: path
          name: sku
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/InAppProduct'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - inappproducts
    put:
      description: Updates the details of an in-app product.
      operationId: androidpublisher.inappproducts.update
      parameters:
        - description: If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.
          in: query
          name: autoConvertMissingPrices
          type: boolean
        - in: body
          name: body
          schema:
            $ref: '#/definitions/InAppProduct'
        - description: 'Unique identifier for the Android app with the in-app product; for example, "com.spiffygame".'
          in: path
          name: packageName
          required: true
          type: string
        - description: Unique identifier for the in-app product.
          in: path
          name: sku
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/InAppProduct'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - inappproducts
  '/{packageName}/orders/{orderId}:refund':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Refund a user's subscription or in-app purchase order.
      operationId: androidpublisher.orders.refund
      parameters:
        - description: The order ID provided to the user when the subscription or in-app order was purchased.
          in: path
          name: orderId
          required: true
          type: string
        - description: 'The package name of the application for which this subscription or in-app item was purchased (for example, ''com.some.thing'').'
          in: path
          name: packageName
          required: true
          type: string
        - description: 'Whether to revoke the purchased item. If set to true, access to the subscription or in-app item will be terminated immediately. If the item is a recurring subscription, all future payments will also be terminated. Consumed in-app items need to be handled by developer''s app. (optional)'
          in: query
          name: revoke
          type: boolean
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - orders
  '/{packageName}/purchases/products/{productId}/tokens/{token}':
    get:
      description: Checks the purchase and consumption status of an inapp item.
      operationId: androidpublisher.purchases.products.get
      parameters:
        - description: 'The package name of the application the inapp product was sold in (for example, ''com.some.thing'').'
          in: path
          name: packageName
          required: true
          type: string
        - description: 'The inapp product SKU (for example, ''com.some.thing.inapp1'').'
          in: path
          name: productId
          required: true
          type: string
        - description: The token provided to the user's device when the inapp product was purchased.
          in: path
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ProductPurchase'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - purchases
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{packageName}/purchases/products/{productId}/tokens/{token}:acknowledge':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Acknowledges a purchase of an inapp item.
      operationId: androidpublisher.purchases.products.acknowledge
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ProductPurchasesAcknowledgeRequest'
        - description: 'The package name of the application the inapp product was sold in (for example, ''com.some.thing'').'
          in: path
          name: packageName
          required: true
          type: string
        - description: 'The inapp product SKU (for example, ''com.some.thing.inapp1'').'
          in: path
          name: productId
          required: true
          type: string
        - description: The token provided to the user's device when the subscription was purchased.
          in: path
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - purchases
  '/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}':
    get:
      description: Checks whether a user's subscription purchase is valid and returns its expiry time.
      operationId: androidpublisher.purchases.subscriptions.get
      parameters:
        - description: 'The package name of the application for which this subscription was purchased (for example, ''com.some.thing'').'
          in: path
          name: packageName
          required: true
          type: string
        - description: 'The purchased subscription ID (for example, ''monthly001'').'
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The token provided to the user's device when the subscription was purchased.
          in: path
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SubscriptionPurchase'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - purchases
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:acknowledge':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Acknowledges a subscription purchase.
      operationId: androidpublisher.purchases.subscriptions.acknowledge
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SubscriptionPurchasesAcknowledgeRequest'
        - description: 'The package name of the application for which this subscription was purchased (for example, ''com.some.thing'').'
          in: path
          name: packageName
          required: true
          type: string
        - description: 'The purchased subscription ID (for example, ''monthly001'').'
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The token provided to the user's device when the subscription was purchased.
          in: path
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - purchases
  '/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:cancel':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Cancels a user's subscription purchase. The subscription remains valid until its expiration time.
      operationId: androidpublisher.purchases.subscriptions.cancel
      parameters:
        - description: 'The package name of the application for which this subscription was purchased (for example, ''com.some.thing'').'
          in: path
          name: packageName
          required: true
          type: string
        - description: 'The purchased subscription ID (for example, ''monthly001'').'
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The token provided to the user's device when the subscription was purchased.
          in: path
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - purchases
  '/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:defer':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Defers a user's subscription purchase until a specified future expiration time.
      operationId: androidpublisher.purchases.subscriptions.defer
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SubscriptionPurchasesDeferRequest'
        - description: 'The package name of the application for which this subscription was purchased (for example, ''com.some.thing'').'
          in: path
          name: packageName
          required: true
          type: string
        - description: 'The purchased subscription ID (for example, ''monthly001'').'
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The token provided to the user's device when the subscription was purchased.
          in: path
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SubscriptionPurchasesDeferResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - purchases
  '/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:refund':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: 'Refunds a user''s subscription purchase, but the subscription remains valid until its expiration time and it will continue to recur.'
      operationId: androidpublisher.purchases.subscriptions.refund
      parameters:
        - description: 'The package name of the application for which this subscription was purchased (for example, ''com.some.thing'').'
          in: path
          name: packageName
          required: true
          type: string
        - description: 'The purchased subscription ID (for example, ''monthly001'').'
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The token provided to the user's device when the subscription was purchased.
          in: path
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - purchases
  '/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:revoke':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Refunds and immediately revokes a user's subscription purchase. Access to the subscription will be terminated immediately and it will stop recurring.
      operationId: androidpublisher.purchases.subscriptions.revoke
      parameters:
        - description: 'The package name of the application for which this subscription was purchased (for example, ''com.some.thing'').'
          in: path
          name: packageName
          required: true
          type: string
        - description: 'The purchased subscription ID (for example, ''monthly001'').'
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The token provided to the user's device when the subscription was purchased.
          in: path
          name: token
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - purchases
  '/{packageName}/purchases/voidedpurchases':
    get:
      description: 'Lists the purchases that were canceled, refunded or charged-back.'
      operationId: androidpublisher.purchases.voidedpurchases.list
      parameters:
        - description: 'The time, in milliseconds since the Epoch, of the newest voided purchase that you want to see in the response. The value of this parameter cannot be greater than the current time and is ignored if a pagination token is set. Default value is current time. Note: This filter is applied on the time at which the record is seen as voided by our systems and not the actual voided time returned in the response.'
          in: query
          name: endTime
          type: string
        - in: query
          name: maxResults
          type: integer
        - description: 'The package name of the application for which voided purchases need to be returned (for example, ''com.some.thing'').'
          in: path
          name: packageName
          required: true
          type: string
        - in: query
          name: startIndex
          type: integer
        - description: 'The time, in milliseconds since the Epoch, of the oldest voided purchase that you want to see in the response. The value of this parameter cannot be older than 30 days and is ignored if a pagination token is set. Default value is current time minus 30 days. Note: This filter is applied on the time at which the record is seen as voided by our systems and not the actual voided time returned in the response.'
          in: query
          name: startTime
          type: string
        - in: query
          name: token
          type: string
        - description: |-
            The type of voided purchases that you want to see in the response. Possible values are:  
            - 0: Only voided in-app product purchases will be returned in the response. This is the default value.
            - 1: Both voided in-app purchases and voided subscription purchases will be returned in the response.  Note: Before requesting to receive voided subscription purchases, you must switch to use orderId in the response which uniquely identifies one-time purchases and subscriptions. Otherwise, you will receive multiple subscription orders with the same PurchaseToken, because subscription renewal orders share the same PurchaseToken.
          in: query
          name: type
          type: integer
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/VoidedPurchasesListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - purchases
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{packageName}/reviews':
    get:
      description: Returns a list of reviews. Only reviews from last week will be returned.
      operationId: androidpublisher.reviews.list
      parameters:
        - in: query
          name: maxResults
          type: integer
        - description: 'Unique identifier for the Android app for which we want reviews; for example, "com.spiffygame".'
          in: path
          name: packageName
          required: true
          type: string
        - in: query
          name: startIndex
          type: integer
        - in: query
          name: token
          type: string
        - in: query
          name: translationLanguage
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ReviewsListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - reviews
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{packageName}/reviews/{reviewId}':
    get:
      description: Returns a single review.
      operationId: androidpublisher.reviews.get
      parameters:
        - description: 'Unique identifier for the Android app for which we want reviews; for example, "com.spiffygame".'
          in: path
          name: packageName
          required: true
          type: string
        - in: path
          name: reviewId
          required: true
          type: string
        - in: query
          name: translationLanguage
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Review'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - reviews
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{packageName}/reviews/{reviewId}:reply':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: 'Reply to a single review, or update an existing reply.'
      operationId: androidpublisher.reviews.reply
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ReviewsReplyRequest'
        - description: 'Unique identifier for the Android app for which we want reviews; for example, "com.spiffygame".'
          in: path
          name: packageName
          required: true
          type: string
        - in: path
          name: reviewId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ReviewsReplyResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/androidpublisher'
          Oauth2c:
            - 'https://www.googleapis.com/auth/androidpublisher'
      tags:
        - reviews
definitions:
  Apk:
    properties:
      binary:
        $ref: '#/definitions/ApkBinary'
        description: Information about the binary payload of this APK.
      versionCode:
        description: 'The version code of the APK, as specified in the APK''s manifest file.'
        format: int32
        type: integer
    type: object
  ApkBinary:
    description: Represents the binary payload of an APK.
    properties:
      sha1:
        description: 'A sha1 hash of the APK payload, encoded as a hex string and matching the output of the sha1sum command.'
        type: string
      sha256:
        description: 'A sha256 hash of the APK payload, encoded as a hex string and matching the output of the sha256sum command.'
        type: string
    type: object
  ApksAddExternallyHostedRequest:
    properties:
      externallyHostedApk:
        $ref: '#/definitions/ExternallyHostedApk'
        description: The definition of the externally-hosted APK and where it is located.
    type: object
  ApksAddExternallyHostedResponse:
    properties:
      externallyHostedApk:
        $ref: '#/definitions/ExternallyHostedApk'
        description: The definition of the externally-hosted APK and where it is located.
    type: object
  ApksListResponse:
    properties:
      apks:
        items:
          $ref: '#/definitions/Apk'
        type: array
      kind:
        default: 'androidpublisher#apksListResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "androidpublisher#apksListResponse".'
        type: string
    type: object
  AppDetails:
    properties:
      contactEmail:
        description: The user-visible support email for this app.
        type: string
      contactPhone:
        description: The user-visible support telephone number for this app.
        type: string
      contactWebsite:
        description: The user-visible website for this app.
        type: string
      defaultLanguage:
        description: 'Default language code, in BCP 47 format (eg "en-US").'
        type: string
    type: object
  AppEdit:
    description: Represents an edit of an app. An edit allows clients to make multiple changes before committing them in one operation.
    properties:
      expiryTimeSeconds:
        description: The time at which the edit will expire and will be no longer valid for use in any subsequent API calls (encoded as seconds since the Epoch).
        type: string
      id:
        description: The ID of the edit that can be used in subsequent API calls.
        type: string
    type: object
  Bundle:
    properties:
      sha1:
        description: 'A sha1 hash of the upload payload, encoded as a hex string and matching the output of the sha1sum command.'
        type: string
      sha256:
        description: 'A sha256 hash of the upload payload, encoded as a hex string and matching the output of the sha256sum command.'
        type: string
      versionCode:
        description: The version code of the Android App Bundle. As specified in the Android App Bundle's base module APK manifest file.
        format: int32
        type: integer
    type: object
  BundlesListResponse:
    properties:
      bundles:
        items:
          $ref: '#/definitions/Bundle'
        type: array
      kind:
        default: 'androidpublisher#bundlesListResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "androidpublisher#bundlesListResponse".'
        type: string
    type: object
  Comment:
    properties:
      developerComment:
        $ref: '#/definitions/DeveloperComment'
        description: A comment from a developer.
      userComment:
        $ref: '#/definitions/UserComment'
        description: A comment from a user.
    type: object
  CountryTargeting:
    properties:
      countries:
        items:
          type: string
        type: array
      includeRestOfWorld:
        type: boolean
    type: object
  DeobfuscationFile:
    description: Represents a deobfuscation file.
    properties:
      symbolType:
        description: The type of the deobfuscation file.
        type: string
    type: object
  DeobfuscationFilesUploadResponse:
    properties:
      deobfuscationFile:
        $ref: '#/definitions/DeobfuscationFile'
    type: object
  DeveloperComment:
    properties:
      lastModified:
        $ref: '#/definitions/Timestamp'
        description: The last time at which this comment was updated.
      text:
        description: 'The content of the comment, i.e. reply body.'
        type: string
    type: object
  DeviceMetadata:
    properties:
      cpuMake:
        description: Device CPU make e.g. "Qualcomm"
        type: string
      cpuModel:
        description: Device CPU model e.g. "MSM8974"
        type: string
      deviceClass:
        description: Device class (e.g. tablet)
        type: string
      glEsVersion:
        description: OpenGL version
        format: int32
        type: integer
      manufacturer:
        description: Device manufacturer (e.g. Motorola)
        type: string
      nativePlatform:
        description: 'Comma separated list of native platforms (e.g. "arm", "arm7")'
        type: string
      productName:
        description: Device model name (e.g. Droid)
        type: string
      ramMb:
        description: Device RAM in Megabytes e.g. "2048"
        format: int32
        type: integer
      screenDensityDpi:
        description: Screen density in DPI
        format: int32
        type: integer
      screenHeightPx:
        description: Screen height in pixels
        format: int32
        type: integer
      screenWidthPx:
        description: Screen width in pixels
        format: int32
        type: integer
    type: object
  ExpansionFile:
    properties:
      fileSize:
        description: 'If set this field indicates that this APK has an Expansion File uploaded to it: this APK does not reference another APK''s Expansion File. The field''s value is the size of the uploaded Expansion File in bytes.'
        format: int64
        type: string
      referencesVersion:
        description: If set this APK's Expansion File references another APK's Expansion File. The file_size field will not be set.
        format: int32
        type: integer
    type: object
  ExpansionFilesUploadResponse:
    properties:
      expansionFile:
        $ref: '#/definitions/ExpansionFile'
    type: object
  ExternallyHostedApk:
    description: 'Defines an APK available for this application that is hosted externally and not uploaded to Google Play. This function is only available to enterprises who are using Google Play for Work, and whos application is restricted to the enterprise private channel'
    properties:
      applicationLabel:
        description: The application label.
        type: string
      certificateBase64s:
        description: 'A certificate (or array of certificates if a certificate-chain is used) used to signed this APK, represented as a base64 encoded byte array.'
        items:
          type: string
        type: array
      externallyHostedUrl:
        description: The URL at which the APK is hosted. This must be an https URL.
        type: string
      fileSha1Base64:
        description: 'The SHA1 checksum of this APK, represented as a base64 encoded byte array.'
        type: string
      fileSha256Base64:
        description: 'The SHA256 checksum of this APK, represented as a base64 encoded byte array.'
        type: string
      fileSize:
        description: The file size in bytes of this APK.
        format: int64
        type: string
      iconBase64:
        description: 'The icon image from the APK, as a base64 encoded byte array.'
        type: string
      maximumSdk:
        description: The maximum SDK supported by this APK (optional).
        format: int32
        type: integer
      minimumSdk:
        description: The minimum SDK targeted by this APK.
        format: int32
        type: integer
      nativeCodes:
        description: The native code environments supported by this APK (optional).
        items:
          type: string
        type: array
      packageName:
        description: The package name.
        type: string
      usesFeatures:
        description: The features required by this APK (optional).
        items:
          type: string
        type: array
      usesPermissions:
        description: The permissions requested by this APK.
        items:
          $ref: '#/definitions/ExternallyHostedApkUsesPermission'
        type: array
      versionCode:
        description: The version code of this APK.
        format: int32
        type: integer
      versionName:
        description: The version name of this APK.
        type: string
    type: object
  ExternallyHostedApkUsesPermission:
    description: A permission used by this APK.
    properties:
      maxSdkVersion:
        description: 'Optionally, the maximum SDK version for which the permission is required.'
        format: int32
        type: integer
      name:
        description: The name of the permission requested.
        type: string
    type: object
  Image:
    properties:
      id:
        description: A unique id representing this image.
        type: string
      sha1:
        description: A sha1 hash of the image that was uploaded.
        type: string
      sha256:
        description: A sha256 hash of the image that was uploaded.
        type: string
      url:
        description: A URL that will serve a preview of the image.
        type: string
    type: object
  ImagesDeleteAllResponse:
    properties:
      deleted:
        items:
          $ref: '#/definitions/Image'
        type: array
    type: object
  ImagesListResponse:
    properties:
      images:
        items:
          $ref: '#/definitions/Image'
        type: array
    type: object
  ImagesUploadResponse:
    properties:
      image:
        $ref: '#/definitions/Image'
    type: object
  InAppProduct:
    properties:
      defaultLanguage:
        description: 'The default language of the localized data, as defined by BCP 47. e.g. "en-US", "en-GB".'
        type: string
      defaultPrice:
        $ref: '#/definitions/Price'
        description: Default price cannot be zero. In-app products can never be free. Default price is always in the developer's Checkout merchant currency.
      gracePeriod:
        description: 'Grace period of the subscription, specified in ISO 8601 format. It will allow developers to give their subscribers a grace period when the payment for the new recurrence period is declined. Acceptable values = "P3D" (three days) and "P7D" (seven days)'
        type: string
      listings:
        additionalProperties:
          $ref: '#/definitions/InAppProductListing'
          description: 'The language of the localized data, as defined by BCP 47. i.e.: "en-US", "en-GB".'
        description: List of localized title and description data.
        type: object
      packageName:
        description: The package name of the parent app.
        type: string
      prices:
        additionalProperties:
          $ref: '#/definitions/Price'
          description: 'Region code, as defined by ISO 3166-2.'
        description: Prices per buyer region. None of these prices should be zero. In-app products can never be free.
        type: object
      purchaseType:
        description: Purchase type enum value. Unmodifiable after creation.
        type: string
      season:
        $ref: '#/definitions/Season'
        description: Definition of a season for a seasonal subscription. Can be defined only for yearly subscriptions.
      sku:
        description: 'The stock-keeping-unit (SKU) of the product, unique within an app.'
        type: string
      status:
        type: string
      subscriptionPeriod:
        description: 'Subscription period, specified in ISO 8601 format. Acceptable values are "P1W" (one week), "P1M" (one month), "P3M" (three months), "P6M" (six months), and "P1Y" (one year).'
        type: string
      trialPeriod:
        description: 'Trial period, specified in ISO 8601 format. Acceptable values are anything between "P7D" (seven days) and "P999D" (999 days). Seasonal subscriptions cannot have a trial period.'
        type: string
    type: object
  InAppProductListing:
    properties:
      description:
        type: string
      title:
        type: string
    type: object
  InappproductsListResponse:
    properties:
      inappproduct:
        items:
          $ref: '#/definitions/InAppProduct'
        type: array
      kind:
        default: 'androidpublisher#inappproductsListResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "androidpublisher#inappproductsListResponse".'
        type: string
      pageInfo:
        $ref: '#/definitions/PageInfo'
      tokenPagination:
        $ref: '#/definitions/TokenPagination'
    type: object
  InternalAppSharingArtifact:
    description: An artifact resource which gets created when uploading an APK or Android App Bundle through internal app sharing.
    properties:
      certificateFingerprint:
        description: The SHA256 fingerprint of the certificate used to signed the generated artifact.
        type: string
      downloadUrl:
        description: The download URL generated for the uploaded artifact. Users that are authorized to download can follow the link to the Play Store app to install it.
        type: string
      sha256:
        description: 'The SHA-256 hash of the artifact represented as a lowercase hexadecimal number, matching the output of the sha256sum command.'
        type: string
    type: object
  IntroductoryPriceInfo:
    description: Contains the introductory price information for a subscription.
    properties:
      introductoryPriceAmountMicros:
        description: 'Introductory price of the subscription, not including tax. The currency is the same as price_currency_code. Price is expressed in micro-units, where 1,000,000 micro-units represents one unit of the currency. For example, if the subscription price is €1.99, price_amount_micros is 1990000.'
        format: int64
        type: string
      introductoryPriceCurrencyCode:
        description: 'ISO 4217 currency code for the introductory subscription price. For example, if the price is specified in British pounds sterling, price_currency_code is "GBP".'
        type: string
      introductoryPriceCycles:
        description: The number of billing period to offer introductory pricing.
        format: int32
        type: integer
      introductoryPricePeriod:
        description: 'Introductory price period, specified in ISO 8601 format. Common values are (but not limited to) "P1W" (one week), "P1M" (one month), "P3M" (three months), "P6M" (six months), and "P1Y" (one year).'
        type: string
    type: object
  Listing:
    properties:
      fullDescription:
        description: Full description of the app; this may be up to 4000 characters in length.
        type: string
      language:
        description: 'Language localization code (for example, "de-AT" for Austrian German).'
        type: string
      shortDescription:
        description: Short description of the app (previously known as promo text); this may be up to 80 characters in length.
        type: string
      title:
        description: App's localized title.
        type: string
      video:
        description: URL of a promotional YouTube video for the app.
        type: string
    type: object
  ListingsListResponse:
    properties:
      kind:
        default: 'androidpublisher#listingsListResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "androidpublisher#listingsListResponse".'
        type: string
      listings:
        items:
          $ref: '#/definitions/Listing'
        type: array
    type: object
  LocalizedText:
    properties:
      language:
        description: 'The language code, in BCP 47 format (eg "en-US").'
        type: string
      text:
        description: The text in the given `language`.
        type: string
    type: object
  MonthDay:
    properties:
      day:
        description: 'Day of a month, value in [1, 31] range. Valid range depends on the specified month.'
        format: uint32
        type: integer
      month:
        description: 'Month of a year. e.g. 1 = JAN, 2 = FEB etc.'
        format: uint32
        type: integer
    type: object
  PageInfo:
    properties:
      resultPerPage:
        format: int32
        type: integer
      startIndex:
        format: int32
        type: integer
      totalResults:
        format: int32
        type: integer
    type: object
  Price:
    properties:
      currency:
        description: '3 letter Currency code, as defined by ISO 4217.'
        type: string
      priceMicros:
        description: The price in millionths of the currency base unit represented as a string.
        type: string
    type: object
  ProductPurchase:
    description: A ProductPurchase resource indicates the status of a user's inapp product purchase.
    properties:
      acknowledgementState:
        description: |-
          The acknowledgement state of the inapp product. Possible values are:  
          - Yet to be acknowledged 
          - Acknowledged
        format: int32
        type: integer
      consumptionState:
        description: |-
          The consumption state of the inapp product. Possible values are:  
          - Yet to be consumed 
          - Consumed
        format: int32
        type: integer
      developerPayload:
        description: A developer-specified string that contains supplemental information about an order.
        type: string
      kind:
        default: 'androidpublisher#productPurchase'
        description: This kind represents an inappPurchase object in the androidpublisher service.
        type: string
      orderId:
        description: The order id associated with the purchase of the inapp product.
        type: string
      purchaseState:
        description: |-
          The purchase state of the order. Possible values are:  
          - Purchased 
          - Canceled 
          - Pending
        format: int32
        type: integer
      purchaseTimeMillis:
        description: 'The time the product was purchased, in milliseconds since the epoch (Jan 1, 1970).'
        format: int64
        type: string
      purchaseType:
        description: |-
          The type of purchase of the inapp product. This field is only set if this purchase was not made using the standard in-app billing flow. Possible values are:  
          - Test (i.e. purchased from a license testing account) 
          - Promo (i.e. purchased using a promo code) 
          - Rewarded (i.e. from watching a video ad instead of paying)
        format: int32
        type: integer
    type: object
  ProductPurchasesAcknowledgeRequest:
    properties:
      developerPayload:
        description: Payload to attach to the purchase.
        type: string
    type: object
  Prorate:
    properties:
      defaultPrice:
        $ref: '#/definitions/Price'
        description: Default price cannot be zero and must be less than the full subscription price. Default price is always in the developer's Checkout merchant currency. Targeted countries have their prices set automatically based on the default_price.
      start:
        $ref: '#/definitions/MonthDay'
        description: Defines the first day on which the price takes effect.
    type: object
  Review:
    properties:
      authorName:
        description: The name of the user who wrote the review.
        type: string
[...]
