{
  "openapi": "3.0.1",
  "servers": [
    {
      "url": "https://ip-messaging.twilio.com"
    }
  ],
  "info": {
    "contact": {
      "email": "support@twilio.com",
      "name": "Twilio Support",
      "url": "https://support.twilio.com"
    },
    "description": "This is the public Twilio REST API.",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "termsOfService": "https://www.twilio.com/legal/tos",
    "title": "Twilio - Ip_messaging",
    "version": "1.42.0",
    "x-apisguru-categories": [
      "telecom",
      "messaging"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_static1.twilio.com_marketing_bundles_marketing_img_logos_wordmark-red.svg"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_ip_messaging_v1.json",
        "version": "3.0"
      }
    ],
    "x-providerName": "twilio.com",
    "x-serviceName": "twilio_ip_messaging_v1"
  },
  "paths": {
    "/v1/Credentials": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "",
        "operationId": "ListCredential",
        "parameters": [
          {
            "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
            "in": "query",
            "name": "PageSize",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The page index. This value is simply for client state.",
            "in": "query",
            "name": "Page",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "The page token. This is provided by the API.",
            "in": "query",
            "name": "PageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "credentials": {
                      "items": {
                        "$ref": "#/components/schemas/ip_messaging.v1.credential"
                      },
                      "type": "array"
                    },
                    "meta": {
                      "properties": {
                        "first_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        },
                        "next_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "url": {
                          "format": "uri",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "title": "ListCredentialResponse",
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "post": {
        "description": "",
        "operationId": "CreateCredential",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "ApiKey": {
                    "description": "",
                    "type": "string"
                  },
                  "Certificate": {
                    "description": "",
                    "type": "string"
                  },
                  "FriendlyName": {
                    "description": "",
                    "type": "string"
                  },
                  "PrivateKey": {
                    "description": "",
                    "type": "string"
                  },
                  "Sandbox": {
                    "description": "",
                    "type": "boolean"
                  },
                  "Secret": {
                    "description": "",
                    "type": "string"
                  },
                  "Type": {
                    "$ref": "#/components/schemas/credential_enum_push_service",
                    "description": "",
                    "type": "string"
                  }
                },
                "required": [
                  "Type"
                ],
                "title": "CreateCredentialRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ip_messaging.v1.credential"
                }
              }
            },
            "description": "Created"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://ip-messaging.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "friendly_name",
          "type"
        ],
        "pathType": "list"
      }
    },
    "/v1/Credentials/{Sid}": {
      "delete": {
        "description": "",
        "operationId": "DeleteCredential",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^CR[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "",
        "operationId": "FetchCredential",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^CR[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ip_messaging.v1.credential"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "post": {
        "description": "",
        "operationId": "UpdateCredential",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^CR[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "ApiKey": {
                    "description": "",
                    "type": "string"
                  },
                  "Certificate": {
                    "description": "",
                    "type": "string"
                  },
                  "FriendlyName": {
                    "description": "",
                    "type": "string"
                  },
                  "PrivateKey": {
                    "description": "",
                    "type": "string"
                  },
                  "Sandbox": {
                    "description": "",
                    "type": "boolean"
                  },
                  "Secret": {
                    "description": "",
                    "type": "string"
                  }
                },
                "title": "UpdateCredentialRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ip_messaging.v1.credential"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://ip-messaging.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "friendly_name",
          "type"
        ],
        "pathType": "instance"
      }
    },
    "/v1/Services": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "",
        "operationId": "ListService",
        "parameters": [
          {
            "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
            "in": "query",
            "name": "PageSize",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The page index. This value is simply for client state.",
            "in": "query",
            "name": "Page",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "The page token. This is provided by the API.",
            "in": "query",
            "name": "PageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "meta": {
                      "properties": {
                        "first_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        },
                        "next_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "url": {
                          "format": "uri",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "services": {
                      "items": {
                        "$ref": "#/components/schemas/ip_messaging.v1.service"
                      },
                      "type": "array"
                    }
                  },
                  "title": "ListServiceResponse",
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "post": {
        "description": "",
        "operationId": "CreateService",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "FriendlyName": {
                    "description": "",
                    "type": "string"
                  }
                },
                "required": [
                  "FriendlyName"
                ],
                "title": "CreateServiceRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ip_messaging.v1.service"
                }
              }
            },
            "description": "Created"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://ip-messaging.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "friendly_name",
          "date_created"
        ],
        "pathType": "list"
      }
    },
    "/v1/Services/{ServiceSid}/Channels": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "",
        "operationId": "ListChannel",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "ServiceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "Type",
            "schema": {
              "items": {
                "$ref": "#/components/schemas/channel_enum_channel_type",
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
            "in": "query",
            "name": "PageSize",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The page index. This value is simply for client state.",
            "in": "query",
            "name": "Page",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "The page token. This is provided by the API.",
            "in": "query",
            "name": "PageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "channels": {
                      "items": {
                        "$ref": "#/components/schemas/ip_messaging.v1.service.channel"
                      },
                      "type": "array"
                    },
                    "meta": {
                      "properties": {
                        "first_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        },
                        "next_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "url": {
                          "format": "uri",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "title": "ListChannelResponse",
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "post": {
        "description": "",
        "operationId": "CreateChannel",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "ServiceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "Attributes": {
                    "description": "",
                    "type": "string"
                  },
                  "FriendlyName": {
                    "description": "",
                    "type": "string"
                  },
                  "Type": {
                    "$ref": "#/components/schemas/channel_enum_channel_type",
                    "description": "",
                    "type": "string"
                  },
                  "UniqueName": {
                    "description": "",
                    "type": "string"
                  }
                },
                "title": "CreateChannelRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ip_messaging.v1.service.channel"
                }
              }
            },
            "description": "Created"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://ip-messaging.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "unique_name",
          "friendly_name"
        ],
        "parent": "/Services/{Sid}",
        "pathType": "list"
      }
    },
    "/v1/Services/{ServiceSid}/Channels/{ChannelSid}/Invites": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "",
        "operationId": "ListInvite",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "ServiceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "ChannelSid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "Identity",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
            "in": "query",
            "name": "PageSize",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The page index. This value is simply for client state.",
            "in": "query",
            "name": "Page",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "The page token. This is provided by the API.",
            "in": "query",
            "name": "PageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "invites": {
                      "items": {
                        "$ref": "#/components/schemas/ip_messaging.v1.service.channel.invite"
                      },
                      "type": "array"
                    },
                    "meta": {
                      "properties": {
                        "first_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        },
                        "next_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "url": {
                          "format": "uri",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "title": "ListInviteResponse",
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "post": {
        "description": "",
        "operationId": "CreateInvite",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "ServiceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "ChannelSid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "Identity": {
                    "description": "",
                    "type": "string"
                  },
                  "RoleSid": {
                    "description": "",
                    "maxLength": 34,
                    "minLength": 34,
                    "pattern": "^RL[0-9a-fA-F]{32}$",
                    "type": "string"
                  }
                },
                "required": [
                  "Identity"
                ],
                "title": "CreateInviteRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ip_messaging.v1.service.channel.invite"
                }
              }
            },
            "description": "Created"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://ip-messaging.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "identity",
          "date_created"
        ],
        "parent": "/Services/{ServiceSid}/Channels/{Sid}",
        "pathType": "list"
      }
    },
    "/v1/Services/{ServiceSid}/Channels/{ChannelSid}/Invites/{Sid}": {
      "delete": {
        "description": "",
        "operationId": "DeleteInvite",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "ServiceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "ChannelSid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IN[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "",
        "operationId": "FetchInvite",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "ServiceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "ChannelSid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IN[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ip_messaging.v1.service.channel.invite"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://ip-messaging.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "identity",
          "date_created"
        ],
        "parent": "/Services/{ServiceSid}/Channels/{Sid}",
        "pathType": "instance"
      }
    },
    "/v1/Services/{ServiceSid}/Channels/{ChannelSid}/Members": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "",
        "operationId": "ListMember",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "ServiceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "ChannelSid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "Identity",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
            "in": "query",
            "name": "PageSize",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The page index. This value is simply for client state.",
            "in": "query",
            "name": "Page",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "The page token. This is provided by the API.",
            "in": "query",
            "name": "PageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "members": {
                      "items": {
                        "$ref": "#/components/schemas/ip_messaging.v1.service.channel.member"
                      },
                      "type": "array"
                    },
                    "meta": {
                      "properties": {
                        "first_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        },
                        "next_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "url": {
                          "format": "uri",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "title": "ListMemberResponse",
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "post": {
        "description": "",
        "operationId": "CreateMember",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "ServiceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "ChannelSid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "Identity": {
                    "description": "",
                    "type": "string"
                  },
                  "RoleSid": {
                    "description": "",
                    "maxLength": 34,
                    "minLength": 34,
                    "pattern": "^RL[0-9a-fA-F]{32}$",
                    "type": "string"
                  }
                },
                "required": [
                  "Identity"
                ],
                "title": "CreateMemberRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ip_messaging.v1.service.channel.member"
                }
              }
            },
            "description": "Created"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://ip-messaging.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "identity",
          "date_created"
        ],
        "parent": "/Services/{ServiceSid}/Channels/{Sid}",
        "pathType": "list"
      }
    },
    "/v1/Services/{ServiceSid}/Channels/{ChannelSid}/Members/{Sid}": {
      "delete": {
        "description": "",
        "operationId": "DeleteMember",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "ServiceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "ChannelSid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^MB[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "",
        "operationId": "FetchMember",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "ServiceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "ChannelSid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^MB[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ip_messaging.v1.service.channel.member"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "post": {
        "description": "",
        "operationId": "UpdateMember",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "ServiceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "ChannelSid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^MB[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "LastConsumedMessageIndex": {
                    "description": "",
                    "nullable": true,
                    "type": "integer"
                  },
                  "RoleSid": {
                    "description": "",
                    "maxLength": 34,
                    "minLength": 34,
                    "pattern": "^RL[0-9a-fA-F]{32}$",
                    "type": "string"
                  }
                },
                "title": "UpdateMemberRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ip_messaging.v1.service.channel.member"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://ip-messaging.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "identity",
          "date_created"
        ],
        "parent": "/Services/{ServiceSid}/Channels/{Sid}",
        "pathType": "instance"
      }
    },
    "/v1/Services/{ServiceSid}/Channels/{ChannelSid}/Messages": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "",
        "operationId": "ListMessage",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "ServiceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "ChannelSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^CH[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "query",
            "name": "Order",
            "schema": {
              "$ref": "#/components/schemas/message_enum_order_type",
              "type": "string"
            }
          },
          {
            "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
            "in": "query",
            "name": "PageSize",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The page index. This value is simply for client state.",
            "in": "query",
            "name": "Page",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "The page token. This is provided by the API.",
            "in": "query",
            "name": "PageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "messages": {
                      "items": {
                        "$ref": "#/components/schemas/ip_messaging.v1.service.channel.message"
                      },
                      "type": "array"
                    },
                    "meta": {
                      "properties": {
                        "first_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        },
                        "next_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "url": {
                          "format": "uri",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "title": "ListMessageResponse",
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "post": {
        "description": "",
        "operationId": "CreateMessage",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "ServiceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "ChannelSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^CH[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "Attributes": {
                    "description": "",
                    "type": "string"
                  },
                  "Body": {
                    "description": "",
                    "type": "string"
                  },
                  "From": {
                    "description": "",
                    "type": "string"
                  }
                },
                "required": [
                  "Body"
                ],
                "title": "CreateMessageRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ip_messaging.v1.service.channel.message"
                }
              }
            },
            "description": "Created"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://ip-messaging.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "from",
          "to",
          "date_created"
        ],
        "parent": "/Services/{ServiceSid}/Channels/{Sid}",
        "pathType": "list"
      }
    },
    "/v1/Services/{ServiceSid}/Channels/{ChannelSid}/Messages/{Sid}": {
      "delete": {
        "description": "",
        "operationId": "DeleteMessage",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "ServiceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "ChannelSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^CH[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IM[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "",
        "operationId": "FetchMessage",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "ServiceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "ChannelSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^CH[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IM[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ip_messaging.v1.service.channel.message"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "post": {
        "description": "",
        "operationId": "UpdateMessage",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "ServiceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "ChannelSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^CH[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IM[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "Attributes": {
                    "description": "",
                    "type": "string"
                  },
                  "Body": {
                    "description": "",
                    "type": "string"
                  }
                },
                "title": "UpdateMessageRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ip_messaging.v1.service.channel.message"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://ip-messaging.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "from",
          "to",
          "date_created"
        ],
        "parent": "/Services/{ServiceSid}/Channels/{Sid}",
        "pathType": "instance"
      }
    },
    "/v1/Services/{ServiceSid}/Channels/{Sid}": {
      "delete": {
        "description": "",
        "operationId": "DeleteChannel",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "ServiceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "",
        "operationId": "FetchChannel",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "ServiceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ip_messaging.v1.service.channel"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "post": {
        "description": "",
        "operationId": "UpdateChannel",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "ServiceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "Attributes": {
                    "description": "",
                    "type": "string"
                  },
                  "FriendlyName": {
                    "description": "",
                    "type": "string"
                  },
                  "UniqueName": {
                    "description": "",
                    "type": "string"
                  }
                },
                "title": "UpdateChannelRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ip_messaging.v1.service.channel"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://ip-messaging.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "unique_name",
          "friendly_name"
        ],
        "parent": "/Services/{Sid}",
        "pathType": "instance"
      }
    },
    "/v1/Services/{ServiceSid}/Roles": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "",
        "operationId": "ListRole",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "ServiceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
            "in": "query",
            "name": "PageSize",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The page index. This value is simply for client state.",
            "in": "query",
            "name": "Page",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "The page token. This is provided by the API.",
            "in": "query",
            "name": "PageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "meta": {
                      "properties": {
                        "first_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        },
                        "next_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "url": {
                          "format": "uri",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "roles": {
                      "items": {
                        "$ref": "#/components/schemas/ip_messaging.v1.service.role"
                      },
                      "type": "array"
                    }
                  },
                  "title": "ListRoleResponse",
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "post": {
        "description": "",
        "operationId": "CreateRole",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "ServiceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "FriendlyName": {
                    "description": "",
                    "type": "string"
                  },
                  "Permission": {
                    "description": "",
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "Type": {
                    "$ref": "#/components/schemas/role_enum_role_type",
                    "description": "",
                    "type": "string"
                  }
                },
                "required": [
                  "FriendlyName",
                  "Type",
                  "Permission"
                ],
                "title": "CreateRoleRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ip_messaging.v1.service.role"
                }
              }
            },
            "description": "Created"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://ip-messaging.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "friendly_name",
          "type"
        ],
        "parent": "/Services/{Sid}",
        "pathType": "list"
      }
    },
    "/v1/Services/{ServiceSid}/Roles/{Sid}": {
      "delete": {
        "description": "",
        "operationId": "DeleteRole",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "ServiceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^RL[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "",
        "operationId": "FetchRole",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "ServiceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^RL[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ip_messaging.v1.service.role"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "post": {
        "description": "",
        "operationId": "UpdateRole",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "ServiceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^RL[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "Permission": {
                    "description": "",
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  }
                },
                "required": [
                  "Permission"
                ],
                "title": "UpdateRoleRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ip_messaging.v1.service.role"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://ip-messaging.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "friendly_name",
          "type"
        ],
        "parent": "/Services/{Sid}",
        "pathType": "instance"
      }
    },
    "/v1/Services/{ServiceSid}/Users": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "",
        "operationId": "ListUser",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "ServiceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
            "in": "query",
            "name": "PageSize",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The page index. This value is simply for client state.",
            "in": "query",
            "name": "Page",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "The page token. This is provided by the API.",
            "in": "query",
            "name": "PageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "meta": {
                      "properties": {
                        "first_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        },
                        "next_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "url": {
                          "format": "uri",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "users": {
                      "items": {
                        "$ref": "#/components/schemas/ip_messaging.v1.service.user"
                      },
                      "type": "array"
                    }
                  },
                  "title": "ListUserResponse",
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "post": {
        "description": "",
        "operationId": "CreateUser",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "ServiceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "Attributes": {
                    "description": "",
                    "type": "string"
                  },
                  "FriendlyName": {
                    "description": "",
                    "type": "string"
                  },
                  "Identity": {
                    "description": "",
                    "type": "string"
                  },
                  "RoleSid": {
                    "description": "",
                    "maxLength": 34,
                    "minLength": 34,
                    "pattern": "^RL[0-9a-fA-F]{32}$",
                    "type": "string"
                  }
                },
                "required": [
                  "Identity"
                ],
                "title": "CreateUserRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ip_messaging.v1.service.user"
                }
              }
            },
            "description": "Created"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://ip-messaging.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "friendly_name",
          "date_created"
        ],
        "parent": "/Services/{Sid}",
        "pathType": "list"
      }
    },
    "/v1/Services/{ServiceSid}/Users/{Sid}": {
      "delete": {
        "description": "",
        "operationId": "DeleteUser",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "ServiceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "",
        "operationId": "FetchUser",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "ServiceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ip_messaging.v1.service.user"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "post": {
        "description": "",
        "operationId": "UpdateUser",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "ServiceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "Attributes": {
                    "description": "",
                    "type": "string"
                  },
                  "FriendlyName": {
                    "description": "",
                    "type": "string"
                  },
                  "RoleSid": {
                    "description": "",
                    "maxLength": 34,
                    "minLength": 34,
                    "pattern": "^RL[0-9a-fA-F]{32}$",
                    "type": "string"
                  }
                },
                "title": "UpdateUserRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ip_messaging.v1.service.user"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://ip-messaging.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "friendly_name",
          "date_created"
        ],
        "parent": "/Services/{Sid}",
        "pathType": "instance"
      }
    },
    "/v1/Services/{ServiceSid}/Users/{UserSid}/Channels": {
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "",
        "operationId": "ListUserChannel",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "ServiceSid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "path",
            "name": "UserSid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
            "in": "query",
            "name": "PageSize",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "The page index. This value is simply for client state.",
            "in": "query",
            "name": "Page",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "The page token. This is provided by the API.",
            "in": "query",
            "name": "PageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "channels": {
                      "items": {
                        "$ref": "#/components/schemas/ip_messaging.v1.service.user.user_channel"
                      },
                      "type": "array"
                    },
                    "meta": {
                      "properties": {
                        "first_page_url": {
                          "format": "uri",
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        },
                        "next_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        },
                        "previous_page_url": {
                          "format": "uri",
                          "nullable": true,
                          "type": "string"
                        },
                        "url": {
                          "format": "uri",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "title": "ListUserChannelResponse",
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://ip-messaging.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "channel_sid",
          "status"
        ],
        "mountName": "user_channels",
        "parent": "/Services/{ServiceSid}/Users/{Sid}",
        "pathType": "list"
      }
    },
    "/v1/Services/{Sid}": {
      "delete": {
        "description": "",
        "operationId": "DeleteService",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "description": "TODO: Resource-level docs",
      "get": {
        "description": "",
        "operationId": "FetchService",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ip_messaging.v1.service"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "post": {
        "description": "",
        "operationId": "UpdateService",
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "Sid",
            "required": true,
            "schema": {
              "maxLength": 34,
              "minLength": 34,
              "pattern": "^IS[0-9a-fA-F]{32}$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "ConsumptionReportInterval": {
                    "description": "",
                    "type": "integer"
                  },
                  "DefaultChannelCreatorRoleSid": {
                    "description": "",
                    "maxLength": 34,
                    "minLength": 34,
                    "pattern": "^RL[0-9a-fA-F]{32}$",
                    "type": "string"
                  },
                  "DefaultChannelRoleSid": {
                    "description": "",
                    "maxLength": 34,
                    "minLength": 34,
                    "pattern": "^RL[0-9a-fA-F]{32}$",
                    "type": "string"
                  },
                  "DefaultServiceRoleSid": {
                    "description": "",
                    "maxLength": 34,
                    "minLength": 34,
                    "pattern": "^RL[0-9a-fA-F]{32}$",
                    "type": "string"
                  },
                  "FriendlyName": {
                    "description": "",
                    "type": "string"
                  },
                  "Limits.ChannelMembers": {
                    "description": "",
                    "type": "integer"
                  },
                  "Limits.UserChannels": {
                    "description": "",
                    "type": "integer"
                  },
                  "Notifications.AddedToChannel.Enabled": {
                    "description": "",
                    "type": "boolean"
                  },
                  "Notifications.AddedToChannel.Template": {
                    "description": "",
                    "type": "string"
                  },
                  "Notifications.InvitedToChannel.Enabled": {
                    "description": "",
                    "type": "boolean"
                  },
                  "Notifications.InvitedToChannel.Template": {
                    "description": "",
                    "type": "string"
                  },
                  "Notifications.NewMessage.Enabled": {
                    "description": "",
                    "type": "boolean"
                  },
                  "Notifications.NewMessage.Template": {
                    "description": "",
                    "type": "string"
                  },
                  "Notifications.RemovedFromChannel.Enabled": {
                    "description": "",
                    "type": "boolean"
                  },
                  "Notifications.RemovedFromChannel.Template": {
                    "description": "",
                    "type": "string"
                  },
                  "PostWebhookUrl": {
                    "description": "",
                    "format": "uri",
                    "type": "string"
                  },
                  "PreWebhookUrl": {
                    "description": "",
                    "format": "uri",
                    "type": "string"
                  },
                  "ReachabilityEnabled": {
                    "description": "",
                    "type": "boolean"
                  },
                  "ReadStatusEnabled": {
                    "description": "",
                    "type": "boolean"
                  },
                  "TypingIndicatorTimeout": {
                    "description": "",
                    "type": "integer"
                  },
                  "WebhookFilters": {
                    "description": "",
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "WebhookMethod": {
                    "description": "",
                    "enum": [
                      "HEAD",
                      "GET",
                      "POST",
                      "PATCH",
                      "PUT",
                      "DELETE"
                    ],
                    "format": "http-method",
                    "type": "string"
                  },
                  "Webhooks.OnChannelAdd.Method": {
                    "description": "",
                    "enum": [
                      "HEAD",
                      "GET",
                      "POST",
                      "PATCH",
                      "PUT",
                      "DELETE"
                    ],
                    "format": "http-method",
                    "type": "string"
                  },
                  "Webhooks.OnChannelAdd.Url": {
                    "description": "",
                    "format": "uri",
                    "type": "string"
                  },
                  "Webhooks.OnChannelAdded.Method": {
                    "description": "",
                    "enum": [
                      "HEAD",
                      "GET",
                      "POST",
                      "PATCH",
                      "PUT",
                      "DELETE"
                    ],
                    "format": "http-method",
                    "type": "string"
                  },
                  "Webhooks.OnChannelAdded.Url": {
                    "description": "",
                    "format": "uri",
                    "type": "string"
                  },
                  "Webhooks.OnChannelDestroy.Method": {
                    "description": "",
                    "enum": [
                      "HEAD",
                      "GET",
                      "POST",
                      "PATCH",
                      "PUT",
                      "DELETE"
                    ],
                    "format": "http-method",
                    "type": "string"
                  },
                  "Webhooks.OnChannelDestroy.Url": {
                    "description": "",
                    "format": "uri",
                    "type": "string"
                  },
                  "Webhooks.OnChannelDestroyed.Method": {
                    "description": "",
                    "enum": [
                      "HEAD",
                      "GET",
                      "POST",
                      "PATCH",
                      "PUT",
                      "DELETE"
                    ],
                    "format": "http-method",
                    "type": "string"
                  },
                  "Webhooks.OnChannelDestroyed.Url": {
                    "description": "",
                    "format": "uri",
                    "type": "string"
                  },
                  "Webhooks.OnChannelUpdate.Method": {
                    "description": "",
                    "enum": [
                      "HEAD",
                      "GET",
                      "POST",
                      "PATCH",
                      "PUT",
                      "DELETE"
                    ],
                    "format": "http-method",
                    "type": "string"
                  },
                  "Webhooks.OnChannelUpdate.Url": {
                    "description": "",
                    "format": "uri",
                    "type": "string"
                  },
                  "Webhooks.OnChannelUpdated.Method": {
                    "description": "",
                    "enum": [
                      "HEAD",
                      "GET",
                      "POST",
                      "PATCH",
                      "PUT",
                      "DELETE"
                    ],
                    "format": "http-method",
                    "type": "string"
                  },
                  "Webhooks.OnChannelUpdated.Url": {
                    "description": "",
                    "format": "uri",
                    "type": "string"
                  },
                  "Webhooks.OnMemberAdd.Method": {
                    "description": "",
                    "enum": [
                      "HEAD",
                      "GET",
                      "POST",
                      "PATCH",
                      "PUT",
                      "DELETE"
                    ],
                    "format": "http-method",
                    "type": "string"
                  },
                  "Webhooks.OnMemberAdd.Url": {
                    "description": "",
                    "format": "uri",
                    "type": "string"
                  },
                  "Webhooks.OnMemberAdded.Method": {
                    "description": "",
                    "enum": [
                      "HEAD",
                      "GET",
                      "POST",
                      "PATCH",
                      "PUT",
                      "DELETE"
                    ],
                    "format": "http-method",
                    "type": "string"
                  },
                  "Webhooks.OnMemberAdded.Url": {
                    "description": "",
                    "format": "uri",
                    "type": "string"
                  },
                  "Webhooks.OnMemberRemove.Method": {
                    "description": "",
                    "enum": [
                      "HEAD",
                      "GET",
                      "POST",
                      "PATCH",
                      "PUT",
                      "DELETE"
                    ],
                    "format": "http-method",
                    "type": "string"
                  },
                  "Webhooks.OnMemberRemove.Url": {
                    "description": "",
                    "format": "uri",
                    "type": "string"
                  },
                  "Webhooks.OnMemberRemoved.Method": {
                    "description": "",
                    "enum": [
                      "HEAD",
                      "GET",
                      "POST",
                      "PATCH",
                      "PUT",
                      "DELETE"
                    ],
                    "format": "http-method",
                    "type": "string"
                  },
                  "Webhooks.OnMemberRemoved.Url": {
                    "description": "",
                    "format": "uri",
                    "type": "string"
                  },
                  "Webhooks.OnMessageRemove.Method": {
                    "description": "",
                    "enum": [
                      "HEAD",
                      "GET",
                      "POST",
                      "PATCH",
                      "PUT",
                      "DELETE"
                    ],
                    "format": "http-method",
                    "type": "string"
                  },
                  "Webhooks.OnMessageRemove.Url": {
                    "description": "",
                    "format": "uri",
                    "type": "string"
                  },
                  "Webhooks.OnMessageRemoved.Method": {
                    "description": "",
                    "enum": [
                      "HEAD",
                      "GET",
                      "POST",
                      "PATCH",
                      "PUT",
                      "DELETE"
                    ],
                    "format": "http-method",
                    "type": "string"
                  },
                  "Webhooks.OnMessageRemoved.Url": {
                    "description": "",
                    "format": "uri",
                    "type": "string"
                  },
                  "Webhooks.OnMessageSend.Method": {
                    "description": "",
                    "enum": [
                      "HEAD",
                      "GET",
                      "POST",
                      "PATCH",
                      "PUT",
                      "DELETE"
                    ],
                    "format": "http-method",
                    "type": "string"
                  },
                  "Webhooks.OnMessageSend.Url": {
                    "description": "",
                    "format": "uri",
                    "type": "string"
                  },
                  "Webhooks.OnMessageSent.Method": {
                    "description": "",
                    "enum": [
                      "HEAD",
                      "GET",
                      "POST",
                      "PATCH",
                      "PUT",
                      "DELETE"
                    ],
                    "format": "http-method",
                    "type": "string"
                  },
                  "Webhooks.OnMessageSent.Url": {
                    "description": "",
                    "format": "uri",
                    "type": "string"
                  },
                  "Webhooks.OnMessageUpdate.Method": {
                    "description": "",
                    "enum": [
                      "HEAD",
                      "GET",
                      "POST",
                      "PATCH",
                      "PUT",
                      "DELETE"
                    ],
                    "format": "http-method",
                    "type": "string"
                  },
                  "Webhooks.OnMessageUpdate.Url": {
                    "description": "",
                    "format": "uri",
                    "type": "string"
                  },
                  "Webhooks.OnMessageUpdated.Method": {
                    "description": "",
                    "enum": [
                      "HEAD",
                      "GET",
                      "POST",
                      "PATCH",
                      "PUT",
                      "DELETE"
                    ],
                    "format": "http-method",
                    "type": "string"
                  },
                  "Webhooks.OnMessageUpdated.Url": {
                    "description": "",
                    "format": "uri",
                    "type": "string"
                  }
                },
                "title": "UpdateServiceRequest",
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ip_messaging.v1.service"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "accountSid_authToken": []
          }
        ],
        "x-maturity": [
          "GA"
        ]
      },
      "servers": [
        {
          "url": "https://ip-messaging.twilio.com"
        }
      ],
      "x-twilio": {
        "defaultOutputProperties": [
          "sid",
          "friendly_name",
          "date_created"
        ],
        "pathType": "instance"
      }
    }
  },
  "components": {
    "schemas": {
      "channel_enum_channel_type": {
        "enum": [
          "public",
          "private"
        ],
        "type": "string"
      },
      "credential_enum_push_service": {
        "enum": [
          "gcm",
          "apn",
          "fcm"
        ],
        "type": "string"
      },
      "ip_messaging.v1.credential": {
        "properties": {
          "account_sid": {
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^AC[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "date_created": {
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "date_updated": {
            "format": "date-time",
            "nullable": true,
            "type": "string"
          },
          "friendly_name": {
            "nullable": true,
            "type": "string"
          },
          "sandbox": {
            "nullable": true,
            "type": "string"
          },
          "sid": {
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^CR[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/credential_enum_push_service",
            "nullable": true,
            "type": "string"
          },
          "url": {
            "format": "uri",
            "nullable": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "ip_messaging.v1.service": {
        "properties": {
          "account_sid": {
            "maxLength": 34,
            "minLength": 34,
            "nullable": true,
            "pattern": "^AC[0-9a-fA-F]{32}$",
            "type": "string"
          },
          "consumption_report_interval": {
            "nullable": true,
            "type": "integer"
          },
          "date_created": {
[...]
