openapi: 3.0.0
servers:
  - url: 'https://management.azure.com/'
info:
  title: Domains API Client
  version: '2015-04-01'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-web/2015-04-01/swagger/Domains.json'
      version: '2.0'
  x-providerName: azure.com
  x-serviceName: arm-web
  x-preferred: false
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/checkDomainAvailability':
    post:
      description: Check if a domain is available for registration.
      operationId: Domains_CheckAvailability
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainAvailablilityCheckResult'
            text/json:
              schema:
                $ref: '#/components/schemas/DomainAvailablilityCheckResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/DomainAvailablilityCheckResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/DomainAvailablilityCheckResult'
      summary: Check if a domain is available for registration.
      tags:
        - Domains
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NameIdentifier'
          text/json:
            schema:
              $ref: '#/components/schemas/NameIdentifier'
          application/xml:
            schema:
              $ref: '#/components/schemas/NameIdentifier'
          text/xml:
            schema:
              $ref: '#/components/schemas/NameIdentifier'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/NameIdentifier'
        description: Name of the domain.
        required: true
  '/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/domains':
    get:
      description: Get all domains in a subscription.
      operationId: Domains_List
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/DomainCollection'
      summary: Get all domains in a subscription.
      tags:
        - Domains
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/generateSsoRequest':
    post:
      description: Generate a single sign-on request for the domain management portal.
      operationId: Domains_GetControlCenterSsoRequest
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainControlCenterSsoRequest'
            text/json:
              schema:
                $ref: '#/components/schemas/DomainControlCenterSsoRequest'
            application/xml:
              schema:
                $ref: '#/components/schemas/DomainControlCenterSsoRequest'
            text/xml:
              schema:
                $ref: '#/components/schemas/DomainControlCenterSsoRequest'
      summary: Generate a single sign-on request for the domain management portal.
      tags:
        - Domains
  '/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/listDomainRecommendations':
    post:
      description: Get domain name recommendations based on keywords.
      operationId: Domains_ListRecommendations
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameIdentifierCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/NameIdentifierCollection'
      summary: Get domain name recommendations based on keywords.
      tags:
        - Domains
      x-ms-pageable:
        nextLinkName: nextLink
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainRecommendationSearchParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/DomainRecommendationSearchParameters'
          application/xml:
            schema:
              $ref: '#/components/schemas/DomainRecommendationSearchParameters'
          text/xml:
            schema:
              $ref: '#/components/schemas/DomainRecommendationSearchParameters'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DomainRecommendationSearchParameters'
        description: Search parameters for domain name recommendations.
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DomainRegistration/domains':
    get:
      description: Get all domains in a resource group.
      operationId: Domains_ListByResourceGroup
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/DomainCollection'
      summary: Get all domains in a resource group.
      tags:
        - Domains
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DomainRegistration/domains/{domainName}':
    delete:
      description: Delete a domain.
      operationId: Domains_Delete
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the domain.
          in: path
          name: domainName
          required: true
          schema:
            type: string
        - description: Specify <code>true</code> to delete the domain immediately. The default is <code>false</code> which deletes the domain after 24 hours.
          in: query
          name: forceHardDeleteDomain
          schema:
            type: boolean
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Succesfully deleted domain.
        '204':
          description: Domain does not exist in Azure database probably because it has already been deleted
      summary: Delete a domain.
      tags:
        - Domains
    get:
      description: Get a domain.
      operationId: Domains_Get
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the domain.
          in: path
          name: domainName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
            text/json:
              schema:
                $ref: '#/components/schemas/Domain'
            application/xml:
              schema:
                $ref: '#/components/schemas/Domain'
            text/xml:
              schema:
                $ref: '#/components/schemas/Domain'
      summary: Get a domain.
      tags:
        - Domains
    put:
      description: Creates or updates a domain.
      operationId: Domains_CreateOrUpdate
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of the domain.
          in: path
          name: domainName
          required: true
          schema:
            type: string
            pattern: '[a-zA-Z0-9][a-zA-Z0-9\.-]+'
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Domain purchase was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
            text/json:
              schema:
                $ref: '#/components/schemas/Domain'
            application/xml:
              schema:
                $ref: '#/components/schemas/Domain'
            text/xml:
              schema:
                $ref: '#/components/schemas/Domain'
        '202':
          description: Domain purchase is in progress.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
            text/json:
              schema:
                $ref: '#/components/schemas/Domain'
            application/xml:
              schema:
                $ref: '#/components/schemas/Domain'
            text/xml:
              schema:
                $ref: '#/components/schemas/Domain'
      summary: Creates or updates a domain.
      tags:
        - Domains
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Domain'
          text/json:
            schema:
              $ref: '#/components/schemas/Domain'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Domain'
        description: Domain registration information.
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DomainRegistration/domains/{domainName}/domainOwnershipIdentifiers':
    get:
      description: Lists domain ownership identifiers.
      operationId: Domains_ListOwnershipIdentifiers
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of domain.
          in: path
          name: domainName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainOwnershipIdentifierCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/DomainOwnershipIdentifierCollection'
      summary: Lists domain ownership identifiers.
      tags:
        - Domains
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DomainRegistration/domains/{domainName}/domainOwnershipIdentifiers/{name}':
    delete:
      description: Delete ownership identifier for domain
      operationId: Domains_DeleteOwnershipIdentifier
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of domain.
          in: path
          name: domainName
          required: true
          schema:
            type: string
        - description: Name of identifier.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Succesfully deleted domain ownership identifier.
        '204':
          description: Domain ownership identifider does not exist.
      summary: Delete ownership identifier for domain
      tags:
        - Domains
    get:
      description: Get ownership identifier for domain
      operationId: Domains_GetOwnershipIdentifier
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of domain.
          in: path
          name: domainName
          required: true
          schema:
            type: string
        - description: Name of identifier.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainOwnershipIdentifier'
            text/json:
              schema:
                $ref: '#/components/schemas/DomainOwnershipIdentifier'
            application/xml:
              schema:
                $ref: '#/components/schemas/DomainOwnershipIdentifier'
            text/xml:
              schema:
                $ref: '#/components/schemas/DomainOwnershipIdentifier'
      summary: Get ownership identifier for domain
      tags:
        - Domains
    patch:
      description: Creates an ownership identifier for a domain or updates identifier details for an existing identifer
      operationId: Domains_UpdateOwnershipIdentifier
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of domain.
          in: path
          name: domainName
          required: true
          schema:
            type: string
        - description: Name of identifier.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainOwnershipIdentifier'
            text/json:
              schema:
                $ref: '#/components/schemas/DomainOwnershipIdentifier'
            application/xml:
              schema:
                $ref: '#/components/schemas/DomainOwnershipIdentifier'
            text/xml:
              schema:
                $ref: '#/components/schemas/DomainOwnershipIdentifier'
      summary: Creates an ownership identifier for a domain or updates identifier details for an existing identifer
      tags:
        - Domains
      requestBody:
        $ref: '#/components/requestBodies/DomainOwnershipIdentifier'
    put:
      description: Creates an ownership identifier for a domain or updates identifier details for an existing identifer
      operationId: Domains_CreateOrUpdateOwnershipIdentifier
      parameters:
        - $ref: '#/components/parameters/resourceGroupNameParameter'
        - description: Name of domain.
          in: path
          name: domainName
          required: true
          schema:
            type: string
        - description: Name of identifier.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainOwnershipIdentifier'
            text/json:
              schema:
                $ref: '#/components/schemas/DomainOwnershipIdentifier'
            application/xml:
              schema:
                $ref: '#/components/schemas/DomainOwnershipIdentifier'
            text/xml:
              schema:
                $ref: '#/components/schemas/DomainOwnershipIdentifier'
      summary: Creates an ownership identifier for a domain or updates identifier details for an existing identifer
      tags:
        - Domains
      requestBody:
        $ref: '#/components/requestBodies/DomainOwnershipIdentifier'
components:
  schemas:
    Address:
      description: Address information for domain registration.
      properties:
        address1:
          description: Address 1.
          type: string
        address2:
          description: Address 2.
          type: string
        city:
          description: City.
          type: string
        country:
          description: Country.
          type: string
        postalCode:
          description: Postal code.
          type: string
        state:
          description: State.
          type: string
      required:
        - address1
        - city
        - country
        - postalCode
        - state
      type: object
    Contact:
      description: |-
        Contact information for domain registration. If 'Domain Privacy' option is not selected then the contact information is made publicly available through the Whois 
         directories as per ICANN requirements.
      properties:
        addressMailing:
          $ref: '#/components/schemas/Address'
        email:
          description: Email address.
          type: string
        fax:
          description: Fax number.
          type: string
        jobTitle:
          description: Job title.
          type: string
        nameFirst:
          description: First name.
          type: string
        nameLast:
          description: Last name.
          type: string
        nameMiddle:
          description: Middle name.
          type: string
        organization:
          description: Organization.
          type: string
        phone:
          description: Phone number.
          type: string
      required:
        - email
        - nameFirst
        - nameLast
        - phone
      type: object
    Domain:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Information about a domain.
      properties:
        properties:
          description: Domain resource specific properties
          properties:
            authCode:
              readOnly: true
              type: string
              x-ms-mutability:
                - create
            autoRenew:
              default: true
              description: '<code>true</code> if the domain should be automatically renewed; otherwise, <code>false</code>.'
              type: boolean
            consent:
              $ref: '#/components/schemas/DomainPurchaseConsent'
            contactAdmin:
              $ref: '#/components/schemas/Contact'
            contactBilling:
              $ref: '#/components/schemas/Contact'
            contactRegistrant:
              $ref: '#/components/schemas/Contact'
            contactTech:
              $ref: '#/components/schemas/Contact'
            createdTime:
              description: Domain creation timestamp.
              format: date-time
              readOnly: true
              type: string
            dnsType:
              description: Current DNS type
              enum:
                - AzureDns
                - DefaultDomainRegistrarDns
              type: string
              x-ms-enum:
                modelAsString: false
                name: DnsType
            dnsZoneId:
              description: Azure DNS Zone to use
              type: string
            domainNotRenewableReasons:
              description: Reasons why domain is not renewable.
              items:
                enum:
                  - RegistrationStatusNotSupportedForRenewal
                  - ExpirationNotInRenewalTimeRange
                  - SubscriptionNotActive
                type: string
              readOnly: true
              type: array
            expirationTime:
              description: Domain expiration timestamp.
              format: date-time
              readOnly: true
              type: string
            lastRenewedTime:
              description: Timestamp when the domain was renewed last time.
              format: date-time
              readOnly: true
              type: string
            managedHostNames:
              description: All hostnames derived from the domain and assigned to Azure resources.
              items:
                $ref: '#/components/schemas/HostName'
              readOnly: true
              type: array
            nameServers:
              description: Name servers.
              items:
                type: string
              readOnly: true
              type: array
            privacy:
              description: '<code>true</code> if domain privacy is enabled for this domain; otherwise, <code>false</code>.'
              type: boolean
            provisioningState:
              description: Domain provisioning state.
              enum:
                - Succeeded
                - Failed
                - Canceled
                - InProgress
                - Deleting
              readOnly: true
              type: string
              x-ms-enum:
                modelAsString: false
                name: ProvisioningState
            readyForDnsRecordManagement:
              description: |-
                <code>true</code> if Azure can assign this domain to App Service apps; otherwise, <code>false</code>. This value will be <code>true</code> if domain registration status is active and 
                 it is hosted on name servers Azure has programmatic access to.
              readOnly: true
              type: boolean
            registrationStatus:
              description: Domain registration status.
              enum:
                - Active
                - Awaiting
                - Cancelled
                - Confiscated
                - Disabled
                - Excluded
                - Expired
                - Failed
                - Held
                - Locked
                - Parked
                - Pending
                - Reserved
                - Reverted
                - Suspended
                - Transferred
                - Unknown
                - Unlocked
                - Unparked
                - Updated
                - JsonConverterFailed
              readOnly: true
              type: string
              x-ms-enum:
                modelAsString: false
                name: DomainStatus
            targetDnsType:
              description: Target DNS type (would be used for migration)
              enum:
                - AzureDns
                - DefaultDomainRegistrarDns
              type: string
              x-ms-enum:
                modelAsString: false
                name: DnsType
          required:
            - contactAdmin
            - contactBilling
            - contactRegistrant
            - contactTech
            - consent
          x-ms-client-flatten: true
      type: object
    DomainAvailablilityCheckResult:
      description: Domain availablility check result.
      properties:
        available:
          description: '<code>true</code> if domain can be purchased using CreateDomain API; otherwise, <code>false</code>.'
          type: boolean
        domainType:
          description: 'Valid values are Regular domain: Azure will charge the full price of domain registration, SoftDeleted: Purchasing this domain will simply restore it and this operation will not cost anything.'
          enum:
            - Regular
            - SoftDeleted
          type: string
          x-ms-enum:
            modelAsString: false
            name: DomainType
        name:
          description: Name of the domain.
          type: string
      type: object
    DomainCollection:
      description: Collection of domains.
      properties:
        nextLink:
          description: Link to next page of resources.
          type: string
        value:
          description: Collection of resources.
          items:
            $ref: '#/components/schemas/Domain'
          type: array
      required:
        - value
      type: object
    DomainControlCenterSsoRequest:
      description: Single sign-on request information for domain management.
      properties:
        postParameterKey:
          description: Post parameter key.
          readOnly: true
          type: string
        postParameterValue:
          description: Post parameter value. Client should use 'application/x-www-form-urlencoded' encoding for this value.
          readOnly: true
          type: string
        url:
          description: URL where the single sign-on request is to be made.
          readOnly: true
          type: string
      type: object
    DomainOwnershipIdentifier:
      allOf:
        - $ref: '#/components/schemas/Resource'
      description: Domain ownership Identifier.
      properties:
        properties:
          description: DomainOwnershipIdentifier resource specific properties
          properties:
            ownershipId:
              description: Ownership Id.
              type: string
          x-ms-client-flatten: true
      type: object
    DomainOwnershipIdentifierCollection:
      description: Collection of domain ownership identifiers.
      properties:
        nextLink:
          description: Link to next page of resources.
          type: string
        value:
          description: Collection of resources.
          items:
            $ref: '#/components/schemas/DomainOwnershipIdentifier'
          type: array
      required:
        - value
      type: object
    DomainPurchaseConsent:
      description: 'Domain purchase consent object, representing acceptance of applicable legal agreements.'
      properties:
        agreedAt:
          description: Timestamp when the agreements were accepted.
          format: date-time
          type: string
        agreedBy:
          description: Client IP address.
          type: string
        agreementKeys:
          description: List of applicable legal agreement keys. This list can be retrieved using ListLegalAgreements API under <code>TopLevelDomain</code> resource.
          items:
            type: string
          type: array
      type: object
    DomainRecommendationSearchParameters:
      description: Domain recommendation search parameters.
      properties:
        keywords:
          description: Keywords to be used for generating domain recommendations.
          type: string
        maxDomainRecommendations:
          description: Maximum number of recommendations.
          format: int32
          type: integer
      type: object
    HostName:
      description: Details of a hostname derived from a domain.
      properties:
        azureResourceName:
          description: Name of the Azure resource the hostname is assigned to. If it is assigned to a Traffic Manager then it will be the Traffic Manager name otherwise it will be the app name.
          type: string
        azureResourceType:
          description: Type of the Azure resource the hostname is assigned to.
          enum:
            - Website
            - TrafficManager
          type: string
          x-ms-enum:
            modelAsString: false
            name: AzureResourceType
        customHostNameDnsRecordType:
          description: Type of the DNS record.
          enum:
            - CName
            - A
          type: string
          x-ms-enum:
            modelAsString: false
            name: CustomHostNameDnsRecordType
        hostNameType:
          description: Type of the hostname.
          enum:
            - Verified
            - Managed
          type: string
          x-ms-enum:
            modelAsString: false
            name: HostNameType
        name:
          description: Name of the hostname.
          type: string
        siteNames:
          description: List of apps the hostname is assigned to. This list will have more than one app only if the hostname is pointing to a Traffic Manager.
          items:
            type: string
          type: array
      type: object
    NameIdentifier:
      description: Identifies an object.
      properties:
        name:
          description: Name of the object.
          type: string
      type: object
    NameIdentifierCollection:
      description: Collection of domain name identifiers.
      properties:
        nextLink:
          description: Link to next page of resources.
          type: string
        value:
          description: Collection of resources.
          items:
            $ref: '#/components/schemas/NameIdentifier'
          type: array
      required:
        - value
      type: object
    Resource:
      description: Azure resource.
      properties:
        id:
          description: Resource Id.
          readOnly: true
          type: string
        kind:
          description: Kind of resource.
          type: string
        location:
          description: Resource Location.
          type: string
        name:
          description: Resource Name.
          type: string
        tags:
          additionalProperties:
            type: string
          description: Resource tags.
          type: object
        type:
          description: Resource type.
          type: string
      required:
        - location
      x-ms-azure-resource: true
  parameters:
    apiVersionParameter:
      description: API Version
      in: query
      name: api-version
      required: true
      schema:
        type: string
    resourceGroupNameParameter:
      description: Name of the resource group to which the resource belongs.
      in: path
      name: resourceGroupName
      required: true
      x-ms-parameter-location: method
      schema:
        type: string
        minLength: 1
        maxLength: 90
        pattern: '^[-\w\._\(\)]+[^\.]$'
    subscriptionIdParameter:
      description: Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
  requestBodies:
    DomainOwnershipIdentifier:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DomainOwnershipIdentifier'
        text/json:
          schema:
            $ref: '#/components/schemas/DomainOwnershipIdentifier'
        application/x-www-form-urlencoded:
          schema:
            $ref: '#/components/schemas/DomainOwnershipIdentifier'
      description: A JSON representation of the domain ownership properties.
      required: true
  securitySchemes:
    azure_auth:
      description: Azure Active Directory OAuth2 Flow
      type: oauth2
      flows:
        implicit:
          authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
          scopes:
            user_impersonation: impersonate your user account
