swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  title: TopLevelDomains API Client
  version: '2015-04-01'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-web/2015-04-01/swagger/TopLevelDomains.json'
      version: '2.0'
  x-providerName: azure.com
  x-serviceName: arm-web
  x-tags:
    - Azure
    - Microsoft
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  apiVersionParameter:
    description: API Version
    in: query
    name: api-version
    required: true
    type: string
  subscriptionIdParameter:
    description: Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/topLevelDomains':
    get:
      description: Get all top-level domains supported for registration.
      operationId: TopLevelDomains_List
      parameters:
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/TopLevelDomainCollection'
      summary: Get all top-level domains supported for registration.
      tags:
        - TopLevelDomains
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/topLevelDomains/{name}':
    get:
      description: Get details of a top-level domain.
      operationId: TopLevelDomains_Get
      parameters:
        - description: Name of the top-level domain.
          in: path
          name: name
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/TopLevelDomain'
      summary: Get details of a top-level domain.
      tags:
        - TopLevelDomains
  '/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/topLevelDomains/{name}/listAgreements':
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      description: Gets all legal agreements that user needs to accept before purchasing a domain.
      operationId: TopLevelDomains_ListAgreements
      parameters:
        - description: Name of the top-level domain.
          in: path
          name: name
          required: true
          type: string
        - description: Domain agreement options.
          in: body
          name: agreementOption
          required: true
          schema:
            $ref: '#/definitions/TopLevelDomainAgreementOption'
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/TldLegalAgreementCollection'
      summary: Gets all legal agreements that user needs to accept before purchasing a domain.
      tags:
        - TopLevelDomains
      x-ms-pageable:
        nextLinkName: nextLink
definitions:
  Resource:
    description: Azure resource.
    properties:
      id:
        description: Resource Id.
        readOnly: true
        type: string
      kind:
        description: Kind of resource.
        type: string
      location:
        description: Resource Location.
        type: string
      name:
        description: Resource Name.
        type: string
      tags:
        additionalProperties:
          type: string
        description: Resource tags.
        type: object
      type:
        description: Resource type.
        type: string
    required:
      - location
    x-ms-azure-resource: true
  TldLegalAgreement:
    description: Legal agreement for a top level domain.
    properties:
      agreementKey:
        description: Unique identifier for the agreement.
        type: string
      content:
        description: Agreement details.
        type: string
      title:
        description: Agreement title.
        type: string
      url:
        description: URL where a copy of the agreement details is hosted.
        type: string
    required:
      - agreementKey
      - title
      - content
    type: object
  TldLegalAgreementCollection:
    description: Collection of top-level domain legal agreements.
    properties:
      nextLink:
        description: Link to next page of resources.
        type: string
      value:
        description: Collection of resources.
        items:
          $ref: '#/definitions/TldLegalAgreement'
        type: array
    required:
      - value
    type: object
  TopLevelDomain:
    allOf:
      - $ref: '#/definitions/Resource'
    description: A top level domain object.
    properties:
      properties:
        description: TopLevelDomain resource specific properties
        properties:
          name:
            description: Name of the top level domain.
            readOnly: true
            type: string
            x-ms-client-name: domainName
          privacy:
            description: 'If <code>true</code>, then the top level domain supports domain privacy; otherwise, <code>false</code>.'
            type: boolean
        x-ms-client-flatten: true
    type: object
  TopLevelDomainAgreementOption:
    description: Options for retrieving the list of top level domain legal agreements.
    properties:
      forTransfer:
        description: 'If <code>true</code>, then the list of agreements will include agreements for domain transfer as well; otherwise, <code>false</code>.'
        type: boolean
      includePrivacy:
        description: 'If <code>true</code>, then the list of agreements will include agreements for domain privacy as well; otherwise, <code>false</code>.'
        type: boolean
    type: object
  TopLevelDomainCollection:
    description: Collection of Top-level domains.
    properties:
      nextLink:
        description: Link to next page of resources.
        type: string
      value:
        description: Collection of resources.
        items:
          $ref: '#/definitions/TopLevelDomain'
        type: array
    required:
      - value
    type: object
