swagger: '2.0'
schemes:
  - http
host: epscass.prd-prsn.com
info:
  description: Access to the Pearson OpenClass API
  title: EPS APIs
  version: 1.0.0
  x-logo:
    url: 'https://www.pearson.com/content/dam/corporate/global/pearson-dot-com/images/section-images/media/logos/Pearson_Without_Strapline_Blue_RGB_LoRes.png'
  x-origin:
    format: swagger
    url: 'http://epscass.prd-prsn.com/api/resources'
    version: '2.0'
  x-providerName: prd-prsn.com
tags:
  - name: Health check
  - name: resources
  - name: institution
  - name: Version
paths:
  /api/institution:
    get:
      description: ''
      operationId: getInstitutions
      parameters:
        - in: header
          name: correlation-id
          required: false
          type: string
      produces:
        - application/json;charset=UTF-8
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/SearchBeanInstitutionBean'
      summary: List institution
      tags:
        - institution
  '/api/institution/{uniqueId}':
    get:
      description: ''
      operationId: getInstitution
      parameters:
        - description: The intitution unique id
          format: int64
          in: path
          name: uniqueId
          required: true
          type: integer
        - in: header
          name: correlation-id
          required: false
          type: string
      produces:
        - application/json;charset=UTF-8
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/InstitutionBean'
      summary: Get an institution
      tags:
        - institution
  /api/version:
    get:
      description: ''
      operationId: version
      parameters:
        - in: header
          name: correlation-id
          required: false
          type: string
      produces:
        - application/json;charset=UTF-8
      responses:
        default:
          description: successful operation
      summary: Get the server version
      tags:
        - Version
  /health:
    get:
      description: ''
      operationId: health
      parameters:
        - in: header
          name: correlation-id
          required: false
          type: string
      produces:
        - application/json;charset=UTF-8
      responses:
        default:
          description: successful operation
      summary: Get health
      tags:
        - Health check
definitions:
  DeliveryBean:
    properties:
      responseHeaders:
        additionalProperties:
          type: string
        type: object
      uri:
        format: uri
        type: string
      uris:
        additionalProperties:
          items:
            format: uri
            type: string
          type: array
        type: object
    type: object
  InstitutionBean:
    properties:
      config:
        additionalProperties:
          type: string
        type: object
      delivery:
        $ref: '#/definitions/DeliveryBean'
      enabled:
        default: false
        type: boolean
      filestoreId:
        type: string
      name:
        type: string
      password:
        type: string
      secondaryUrls:
        items:
          type: string
        type: array
        uniqueItems: true
      timeZone:
        type: string
      uniqueId:
        format: int64
        type: integer
      url:
        type: string
    type: object
  SearchBeanInstitutionBean:
    properties:
      available:
        format: int64
        type: integer
      length:
        format: int32
        type: integer
      results:
        items:
          $ref: '#/definitions/InstitutionBean'
        type: array
      start:
        format: int64
        type: integer
      warnings:
        items:
          type: string
        type: array
    type: object
