openapi: 3.0.0
servers:
  - url: https://dns.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: ""
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Cloud DNS API
  version: v1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png
  x-origin:
    - format: google
      url: https://dns.googleapis.com/$discovery/rest?version=v1
      version: v1
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: dns
externalDocs:
  url: https://cloud.google.com/dns/docs
tags:
  - name: changes
  - name: dnsKeys
  - name: managedZoneOperations
  - name: managedZones
  - name: policies
  - name: projects
  - name: resourceRecordSets
  - name: responsePolicies
  - name: responsePolicyRules
paths:
  "/dns/v1/projects/{project}":
    get:
      description: Fetches the representation of an existing Project.
      operationId: dns.projects.get
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
          in: query
          name: clientOperationId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/dns/v1/projects/{project}/managedZones":
    get:
      description: Enumerates ManagedZones that have been created but not yet deleted.
      operationId: dns.managedZones.list
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Restricts the list to return only zones with this domain name.
          in: query
          name: dnsName
          schema:
            type: string
        - description: Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.
          in: query
          name: maxResults
          schema:
            type: integer
        - description: Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ManagedZonesListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - managedZones
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new ManagedZone.
      operationId: dns.managedZones.create
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
          in: query
          name: clientOperationId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ManagedZone"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ManagedZone"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - managedZones
  "/dns/v1/projects/{project}/managedZones/{managedZone}":
    delete:
      description: Deletes a previously created ManagedZone.
      operationId: dns.managedZones.delete
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Identifies the managed zone addressed by this request. Can be the managed zone name or ID.
          in: path
          name: managedZone
          required: true
          schema:
            type: string
        - description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
          in: query
          name: clientOperationId
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - managedZones
    get:
      description: Fetches the representation of an existing ManagedZone.
      operationId: dns.managedZones.get
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Identifies the managed zone addressed by this request. Can be the managed zone name or ID.
          in: path
          name: managedZone
          required: true
          schema:
            type: string
        - description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
          in: query
          name: clientOperationId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ManagedZone"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - managedZones
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Applies a partial update to an existing ManagedZone.
      operationId: dns.managedZones.patch
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Identifies the managed zone addressed by this request. Can be the managed zone name or ID.
          in: path
          name: managedZone
          required: true
          schema:
            type: string
        - description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
          in: query
          name: clientOperationId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ManagedZone"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - managedZones
    put:
      description: Updates an existing ManagedZone.
      operationId: dns.managedZones.update
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Identifies the managed zone addressed by this request. Can be the managed zone name or ID.
          in: path
          name: managedZone
          required: true
          schema:
            type: string
        - description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
          in: query
          name: clientOperationId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ManagedZone"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - managedZones
  "/dns/v1/projects/{project}/managedZones/{managedZone}/changes":
    get:
      description: Enumerates Changes to a ResourceRecordSet collection.
      operationId: dns.changes.list
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Identifies the managed zone addressed by this request. Can be the managed zone name or ID.
          in: path
          name: managedZone
          required: true
          schema:
            type: string
        - description: Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.
          in: query
          name: maxResults
          schema:
            type: integer
        - description: Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.
          in: query
          name: pageToken
          schema:
            type: string
        - description: Sorting criterion. The only supported value is change sequence.
          in: query
          name: sortBy
          schema:
            enum:
              - changeSequence
            type: string
        - description: "Sorting order direction: 'ascending' or 'descending'."
          in: query
          name: sortOrder
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChangesListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - changes
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Atomically updates the ResourceRecordSet collection.
      operationId: dns.changes.create
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Identifies the managed zone addressed by this request. Can be the managed zone name or ID.
          in: path
          name: managedZone
          required: true
          schema:
            type: string
        - description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
          in: query
          name: clientOperationId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Change"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Change"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - changes
  "/dns/v1/projects/{project}/managedZones/{managedZone}/changes/{changeId}":
    get:
      description: Fetches the representation of an existing Change.
      operationId: dns.changes.get
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Identifies the managed zone addressed by this request. Can be the managed zone name or ID.
          in: path
          name: managedZone
          required: true
          schema:
            type: string
        - description: The identifier of the requested change, from a previous ResourceRecordSetsChangeResponse.
          in: path
          name: changeId
          required: true
          schema:
            type: string
        - description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
          in: query
          name: clientOperationId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Change"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - changes
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/dns/v1/projects/{project}/managedZones/{managedZone}/dnsKeys":
    get:
      description: Enumerates DnsKeys to a ResourceRecordSet collection.
      operationId: dns.dnsKeys.list
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Identifies the managed zone addressed by this request. Can be the managed zone name or ID.
          in: path
          name: managedZone
          required: true
          schema:
            type: string
        - description: An optional comma-separated list of digest types to compute and display for key signing keys. If omitted, the recommended digest type is computed and displayed.
          in: query
          name: digestType
          schema:
            type: string
        - description: Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.
          in: query
          name: maxResults
          schema:
            type: integer
        - description: Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DnsKeysListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - dnsKeys
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/dns/v1/projects/{project}/managedZones/{managedZone}/dnsKeys/{dnsKeyId}":
    get:
      description: Fetches the representation of an existing DnsKey.
      operationId: dns.dnsKeys.get
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Identifies the managed zone addressed by this request. Can be the managed zone name or ID.
          in: path
          name: managedZone
          required: true
          schema:
            type: string
        - description: The identifier of the requested DnsKey.
          in: path
          name: dnsKeyId
          required: true
          schema:
            type: string
        - description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
          in: query
          name: clientOperationId
          schema:
            type: string
        - description: An optional comma-separated list of digest types to compute and display for key signing keys. If omitted, the recommended digest type is computed and displayed.
          in: query
          name: digestType
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DnsKey"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - dnsKeys
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/dns/v1/projects/{project}/managedZones/{managedZone}/operations":
    get:
      description: Enumerates Operations for the given ManagedZone.
      operationId: dns.managedZoneOperations.list
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Identifies the managed zone addressed by this request.
          in: path
          name: managedZone
          required: true
          schema:
            type: string
        - description: Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.
          in: query
          name: maxResults
          schema:
            type: integer
        - description: Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.
          in: query
          name: pageToken
          schema:
            type: string
        - description: Sorting criterion. The only supported values are START_TIME and ID.
          in: query
          name: sortBy
          schema:
            enum:
              - startTime
              - id
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ManagedZoneOperationsListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - managedZoneOperations
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/dns/v1/projects/{project}/managedZones/{managedZone}/operations/{operation}":
    get:
      description: Fetches the representation of an existing Operation.
      operationId: dns.managedZoneOperations.get
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Identifies the managed zone addressed by this request.
          in: path
          name: managedZone
          required: true
          schema:
            type: string
        - description: Identifies the operation addressed by this request (ID of the operation).
          in: path
          name: operation
          required: true
          schema:
            type: string
        - description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
          in: query
          name: clientOperationId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - managedZoneOperations
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/dns/v1/projects/{project}/managedZones/{managedZone}/rrsets":
    get:
      description: Enumerates ResourceRecordSets that you have created but not yet deleted.
      operationId: dns.resourceRecordSets.list
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Identifies the managed zone addressed by this request. Can be the managed zone name or ID.
          in: path
          name: managedZone
          required: true
          schema:
            type: string
        - description: Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.
          in: query
          name: maxResults
          schema:
            type: integer
        - description: Restricts the list to return only records with this fully qualified domain name.
          in: query
          name: name
          schema:
            type: string
        - description: Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.
          in: query
          name: pageToken
          schema:
            type: string
        - description: Restricts the list to return only records of this type. If present, the "name" parameter must also be present.
          in: query
          name: type
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceRecordSetsListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - resourceRecordSets
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new ResourceRecordSet.
      operationId: dns.resourceRecordSets.create
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Identifies the managed zone addressed by this request. Can be the managed zone name or ID.
          in: path
          name: managedZone
          required: true
          schema:
            type: string
        - description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
          in: query
          name: clientOperationId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResourceRecordSet"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceRecordSet"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - resourceRecordSets
  "/dns/v1/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}":
    delete:
      description: Deletes a previously created ResourceRecordSet.
      operationId: dns.resourceRecordSets.delete
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Identifies the managed zone addressed by this request. Can be the managed zone name or ID.
          in: path
          name: managedZone
          required: true
          schema:
            type: string
        - description: Fully qualified domain name.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: RRSet type.
          in: path
          name: type
          required: true
          schema:
            type: string
        - description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
          in: query
          name: clientOperationId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceRecordSetsDeleteResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - resourceRecordSets
    get:
      description: Fetches the representation of an existing ResourceRecordSet.
      operationId: dns.resourceRecordSets.get
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Identifies the managed zone addressed by this request. Can be the managed zone name or ID.
          in: path
          name: managedZone
          required: true
          schema:
            type: string
        - description: Fully qualified domain name.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: RRSet type.
          in: path
          name: type
          required: true
          schema:
            type: string
        - description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
          in: query
          name: clientOperationId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceRecordSet"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - resourceRecordSets
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Applies a partial update to an existing ResourceRecordSet.
      operationId: dns.resourceRecordSets.patch
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Identifies the managed zone addressed by this request. Can be the managed zone name or ID.
          in: path
          name: managedZone
          required: true
          schema:
            type: string
        - description: Fully qualified domain name.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: RRSet type.
          in: path
          name: type
          required: true
          schema:
            type: string
        - description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
          in: query
          name: clientOperationId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResourceRecordSet"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceRecordSet"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - resourceRecordSets
  "/dns/v1/projects/{project}/policies":
    get:
      description: Enumerates all Policies associated with a project.
      operationId: dns.policies.list
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.
          in: query
          name: maxResults
          schema:
            type: integer
        - description: Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PoliciesListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - policies
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new Policy.
      operationId: dns.policies.create
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
          in: query
          name: clientOperationId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Policy"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Policy"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - policies
  "/dns/v1/projects/{project}/policies/{policy}":
    delete:
      description: Deletes a previously created Policy. Fails if the policy is still being referenced by a network.
      operationId: dns.policies.delete
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: User given friendly name of the policy addressed by this request.
          in: path
          name: policy
          required: true
          schema:
            type: string
        - description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
          in: query
          name: clientOperationId
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - policies
    get:
      description: Fetches the representation of an existing Policy.
      operationId: dns.policies.get
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: User given friendly name of the policy addressed by this request.
          in: path
          name: policy
          required: true
          schema:
            type: string
        - description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
          in: query
          name: clientOperationId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Policy"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - policies
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Applies a partial update to an existing Policy.
      operationId: dns.policies.patch
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: User given friendly name of the policy addressed by this request.
          in: path
          name: policy
          required: true
          schema:
            type: string
        - description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
          in: query
          name: clientOperationId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Policy"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PoliciesPatchResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - policies
    put:
      description: Updates an existing Policy.
      operationId: dns.policies.update
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: User given friendly name of the policy addressed by this request.
          in: path
          name: policy
          required: true
          schema:
            type: string
        - description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
          in: query
          name: clientOperationId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Policy"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PoliciesUpdateResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - policies
  "/dns/v1/projects/{project}/responsePolicies":
    get:
      description: Enumerates all Response Policies associated with a project.
      operationId: dns.responsePolicies.list
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.
          in: query
          name: maxResults
          schema:
            type: integer
        - description: Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponsePoliciesListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - responsePolicies
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new Response Policy
      operationId: dns.responsePolicies.create
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
          in: query
          name: clientOperationId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResponsePolicy"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponsePolicy"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - responsePolicies
  "/dns/v1/projects/{project}/responsePolicies/{responsePolicy}":
    delete:
      description: Deletes a previously created Response Policy. Fails if the response policy is non-empty or still being referenced by a network.
      operationId: dns.responsePolicies.delete
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: User assigned name of the Response Policy addressed by this request.
          in: path
          name: responsePolicy
          required: true
          schema:
            type: string
        - description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
          in: query
          name: clientOperationId
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - responsePolicies
    get:
      description: Fetches the representation of an existing Response Policy.
      operationId: dns.responsePolicies.get
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: User assigned name of the Response Policy addressed by this request.
          in: path
          name: responsePolicy
          required: true
          schema:
            type: string
        - description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
          in: query
          name: clientOperationId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponsePolicy"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - responsePolicies
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Applies a partial update to an existing Response Policy.
      operationId: dns.responsePolicies.patch
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: User assigned name of the response policy addressed by this request.
          in: path
          name: responsePolicy
          required: true
          schema:
            type: string
        - description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
          in: query
          name: clientOperationId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResponsePolicy"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponsePoliciesPatchResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - responsePolicies
    put:
      description: Updates an existing Response Policy.
      operationId: dns.responsePolicies.update
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: User assigned name of the Response Policy addressed by this request.
          in: path
          name: responsePolicy
          required: true
          schema:
            type: string
        - description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
          in: query
          name: clientOperationId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResponsePolicy"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponsePoliciesUpdateResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - responsePolicies
  "/dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules":
    get:
      description: Enumerates all Response Policy Rules associated with a project.
      operationId: dns.responsePolicyRules.list
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: User assigned name of the Response Policy to list.
          in: path
          name: responsePolicy
          required: true
          schema:
            type: string
        - description: Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.
          in: query
          name: maxResults
          schema:
            type: integer
        - description: Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponsePolicyRulesListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - responsePolicyRules
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new Response Policy Rule.
      operationId: dns.responsePolicyRules.create
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: User assigned name of the Response Policy containing the Response Policy Rule.
          in: path
          name: responsePolicy
          required: true
          schema:
            type: string
        - description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
          in: query
          name: clientOperationId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResponsePolicyRule"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponsePolicyRule"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - responsePolicyRules
  "/dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}":
    delete:
      description: Deletes a previously created Response Policy Rule.
      operationId: dns.responsePolicyRules.delete
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: User assigned name of the Response Policy containing the Response Policy Rule.
          in: path
          name: responsePolicy
          required: true
          schema:
            type: string
        - description: User assigned name of the Response Policy Rule addressed by this request.
          in: path
          name: responsePolicyRule
          required: true
          schema:
            type: string
        - description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
          in: query
          name: clientOperationId
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - responsePolicyRules
    get:
      description: Fetches the representation of an existing Response Policy Rule.
      operationId: dns.responsePolicyRules.get
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: User assigned name of the Response Policy containing the Response Policy Rule.
          in: path
          name: responsePolicy
          required: true
          schema:
            type: string
        - description: User assigned name of the Response Policy Rule addressed by this request.
          in: path
          name: responsePolicyRule
          required: true
          schema:
            type: string
        - description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
          in: query
          name: clientOperationId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponsePolicyRule"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - responsePolicyRules
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Applies a partial update to an existing Response Policy Rule.
      operationId: dns.responsePolicyRules.patch
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: User assigned name of the Response Policy containing the Response Policy Rule.
          in: path
          name: responsePolicy
          required: true
          schema:
            type: string
        - description: User assigned name of the Response Policy Rule addressed by this request.
          in: path
          name: responsePolicyRule
          required: true
          schema:
            type: string
        - description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
          in: query
          name: clientOperationId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResponsePolicyRule"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponsePolicyRulesPatchResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - responsePolicyRules
    put:
      description: Updates an existing Response Policy Rule.
      operationId: dns.responsePolicyRules.update
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: User assigned name of the Response Policy containing the Response Policy Rule.
          in: path
          name: responsePolicy
          required: true
          schema:
            type: string
        - description: User assigned name of the Response Policy Rule addressed by this request.
          in: path
          name: responsePolicyRule
          required: true
          schema:
            type: string
        - description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
          in: query
          name: clientOperationId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResponsePolicyRule"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponsePolicyRulesUpdateResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - responsePolicyRules
  "/dns/v1/{resource}:getIamPolicy":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.
      operationId: dns.managedZones.getIamPolicy
      parameters:
        - description: "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
          in: path
          name: resource
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleIamV1GetIamPolicyRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleIamV1Policy"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - managedZones
  "/dns/v1/{resource}:setIamPolicy":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.
      operationId: dns.managedZones.setIamPolicy
      parameters:
        - description: "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
          in: path
          name: resource
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleIamV1SetIamPolicyRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleIamV1Policy"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - managedZones
  "/dns/v1/{resource}:testIamPermissions":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: 'Returns permissions that a caller has on the specified resource. If the resource does not exist, this returns an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may "fail open" without warning.'
      operationId: dns.managedZones.testIamPermissions
      parameters:
        - description: "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
          in: path
          name: resource
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleIamV1TestIamPermissionsRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleIamV1TestIamPermissionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - managedZones
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    Change:
      description: A Change represents a set of ResourceRecordSet additions and deletions applied atomically to a ManagedZone. ResourceRecordSets within a ManagedZone are modified by creating a new Change element in the Changes collection. In turn the Changes collection also records the past modifications to the ResourceRecordSets in a ManagedZone. The current state of the ManagedZone is the sum effect of applying all Change elements in the Changes collection in sequence.
      properties:
        additions:
          description: Which ResourceRecordSets to add?
          items:
            $ref: "#/components/schemas/ResourceRecordSet"
          type: array
        deletions:
          description: Which ResourceRecordSets to remove? Must match existing data exactly.
          items:
            $ref: "#/components/schemas/ResourceRecordSet"
          type: array
        id:
          description: Unique identifier for the resource; defined by the server (output only).
          type: string
        isServing:
          description: If the DNS queries for the zone will be served.
          type: boolean
        kind:
          default: dns#change
          type: string
        startTime:
          description: The time that this operation was started by the server (output only). This is in RFC3339 text format.
          type: string
        status:
          description: Status of the operation (output only). A status of "done" means that the request to update the authoritative servers has been sent, but the servers might not be updated yet.
          enum:
            - pending
            - done
          type: string
      type: object
    ChangesListResponse:
      description: The response to a request to enumerate Changes to a ResourceRecordSets collection.
      properties:
        changes:
          description: The requested changes.
          items:
            $ref: "#/components/schemas/Change"
          type: array
        header:
          $ref: "#/components/schemas/ResponseHeader"
        kind:
          default: dns#changesListResponse
          description: Type of resource.
          type: string
        nextPageToken:
          description: The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your pagination token. This lets you retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You cannot retrieve a "snapshot" of collections larger than the maximum page size.
          type: string
      type: object
    DnsKey:
      description: A DNSSEC key pair.
      properties:
        algorithm:
          description: String mnemonic specifying the DNSSEC algorithm of this key. Immutable after creation time.
          enum:
            - rsasha1
            - rsasha256
            - rsasha512
            - ecdsap256sha256
            - ecdsap384sha384
          type: string
        creationTime:
          description: The time that this resource was created in the control plane. This is in RFC3339 text format. Output only.
          type: string
        description:
          description: A mutable string of at most 1024 characters associated with this resource for the user's convenience. Has no effect on the resource's function.
          type: string
        digests:
          description: Cryptographic hashes of the DNSKEY resource record associated with this DnsKey. These digests are needed to construct a DS record that points at this DNS key. Output only.
          items:
            $ref: "#/components/schemas/DnsKeyDigest"
          type: array
        id:
          description: Unique identifier for the resource; defined by the server (output only).
          type: string
        isActive:
          description: Active keys are used to sign subsequent changes to the ManagedZone. Inactive keys are still present as DNSKEY Resource Records for the use of resolvers validating existing signatures.
          type: boolean
        keyLength:
          description: Length of the key in bits. Specified at creation time, and then immutable.
          format: uint32
          type: integer
        keyTag:
          description: The key tag is a non-cryptographic hash of the a DNSKEY resource record associated with this DnsKey. The key tag can be used to identify a DNSKEY more quickly (but it is not a unique identifier). In particular, the key tag is used in a parent zone's DS record to point at the DNSKEY in this child ManagedZone. The key tag is a number in the range [0, 65535] and the algorithm to calculate it is specified in RFC4034 Appendix B. Output only.
          format: int32
          type: integer
        kind:
          default: dns#dnsKey
          type: string
        publicKey:
          description: Base64 encoded public half of this key. Output only.
          type: string
        type:
          description: One of "KEY_SIGNING" or "ZONE_SIGNING". Keys of type KEY_SIGNING have the Secure Entry Point flag set and, when active, are used to sign only resource record sets of type DNSKEY. Otherwise, the Secure Entry Point flag is cleared, and this key is used to sign only resource record sets of other types. Immutable after creation time.
          enum:
            - keySigning
            - zoneSigning
          type: string
      type: object
    DnsKeyDigest:
      properties:
        digest:
          description: The base-16 encoded bytes of this digest. Suitable for use in a DS resource record.
          type: string
        type:
          description: Specifies the algorithm used to calculate this digest.
          enum:
            - sha1
            - sha256
            - sha384
          type: string
      type: object
    DnsKeySpec:
      description: Parameters for DnsKey key generation. Used for generating initial keys for a new ManagedZone and as default when adding a new DnsKey.
      properties:
        algorithm:
          description: String mnemonic specifying the DNSSEC algorithm of this key.
          enum:
            - rsasha1
            - rsasha256
            - rsasha512
            - ecdsap256sha256
            - ecdsap384sha384
          type: string
        keyLength:
          description: Length of the keys in bits.
          format: uint32
          type: integer
        keyType:
          description: Specifies whether this is a key signing key (KSK) or a zone signing key (ZSK). Key signing keys have the Secure Entry Point flag set and, when active, are only used to sign resource record sets of type DNSKEY. Zone signing keys do not have the Secure Entry Point flag set and are used to sign all other types of resource record sets.
          enum:
            - keySigning
            - zoneSigning
          type: string
        kind:
          default: dns#dnsKeySpec
          type: string
      type: object
    DnsKeysListResponse:
      description: The response to a request to enumerate DnsKeys in a ManagedZone.
      properties:
        dnsKeys:
          description: The requested resources.
          items:
            $ref: "#/components/schemas/DnsKey"
          type: array
        header:
          $ref: "#/components/schemas/ResponseHeader"
        kind:
          default: dns#dnsKeysListResponse
          description: Type of resource.
          type: string
        nextPageToken:
          description: The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your pagination token. In this way you can retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. There is no way to retrieve a "snapshot" of collections larger than the maximum page size.
          type: string
      type: object
    Expr:
      description: "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      properties:
        description:
          description: Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.
          type: string
        expression:
          description: Textual representation of an expression in Common Expression Language syntax.
          type: string
        location:
          description: Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.
          type: string
        title:
          description: Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.
          type: string
      type: object
    GoogleIamV1AuditConfig:
      description: 'Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { "audit_configs": [ { "service": "allServices", "audit_log_configs": [ { "log_type": "DATA_READ", "exempted_members": [ "user:jose@example.com" ] }, { "log_type": "DATA_WRITE" }, { "log_type": "ADMIN_READ" } ] }, { "service": "sampleservice.googleapis.com", "audit_log_configs": [ { "log_type": "DATA_READ" }, { "log_type": "DATA_WRITE", "exempted_members": [ "user:aliya@example.com" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.'
      properties:
        auditLogConfigs:
          description: The configuration for logging of each type of permission.
          items:
            $ref: "#/components/schemas/GoogleIamV1AuditLogConfig"
          type: array
        service:
          description: Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.
          type: string
      type: object
    GoogleIamV1AuditLogConfig:
      description: "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      properties:
        exemptedMembers:
          description: Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.
          items:
            type: string
          type: array
        logType:
          description: The log type that this config enables.
          enum:
            - LOG_TYPE_UNSPECIFIED
            - ADMIN_READ
            - DATA_WRITE
            - DATA_READ
          type: string
      type: object
    GoogleIamV1Binding:
      description: Associates `members`, or principals, with a `role`.
      properties:
        condition:
          $ref: "#/components/schemas/Expr"
          description: The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).
        members:
[...]
