swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  description: 'The Azure SQL Database management API provides a RESTful set of web APIs that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities.'
  title: SqlManagementClient
  version: '2014-04-01'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/current/specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/tableAuditing.json'
      version: '2.0'
  x-providerName: azure.com
  x-serviceName: sql-tableAuditing
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
parameters:
  ApiVersionParameter:
    description: The API version to use for the request.
    in: query
    name: api-version
    required: true
    type: string
    x-ms-parameter-location: client
  ConnectionPolicyNameParameter:
    description: The name of the connection policy.
    enum:
      - default
    in: path
    name: connectionPolicyName
    required: true
    type: string
    x-ms-enum:
      modelAsString: true
      name: ConnectionPolicyName
    x-ms-parameter-location: method
  DatabaseNameParameter:
    description: The name of the database.
    in: path
    name: databaseName
    required: true
    type: string
    x-ms-parameter-location: method
  ResourceGroupParameter:
    description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  ServerNameParameter:
    description: The name of the server.
    in: path
    name: serverName
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: The subscription ID that identifies an Azure subscription.
    in: path
    name: subscriptionId
    required: true
    type: string
    x-ms-parameter-location: client
  TableAuditingPolicyNameParameter:
    description: The name of the table auditing policy.
    enum:
      - default
    in: path
    name: tableAuditingPolicyName
    required: true
    type: string
    x-ms-enum:
      modelAsString: true
      name: TableAuditingPolicyName
    x-ms-parameter-location: method
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/auditingPolicies':
    get:
      deprecated: true
      description: 'Lists a servers''s table auditing policies. Table auditing is deprecated, use blob auditing instead.'
      operationId: ServerTableAuditingPolicies_ListByServer
      parameters:
        - $ref: '#/parameters/ResourceGroupParameter'
        - $ref: '#/parameters/ServerNameParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully retrieved the server table auditing policies.
          schema:
            $ref: '#/definitions/ServerTableAuditingPolicyListResult'
      tags:
        - TableAuditing
      x-ms-examples:
        List server table auditing policy:
          parameters:
            api-version: '2014-04-01'
            resourceGroupName: blobauditingtest-6852
            serverName: blobauditingtest-2080
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            '200':
              body:
                value:
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/blobauditingtest-6852/providers/Microsoft.Sql/servers/blobauditingtest-2080/databases/testdb/auditingPolicies/Default
                    location: West US
                    name: Default
                    properties:
                      auditLogsTableName: Blobauditingtest2080
                      auditingState: New
                      eventTypesToAudit: 'PlainSQL_Success,PlainSQL_Failure,ParameterizedSQL_Success,ParameterizedSQL_Failure,StoredProcedure_Success,StoredProcedure_Failure,Login_Success,Login_Failure,TransactionManagement_Success,TransactionManagement_Failure'
                      fullAuditLogsTableName: SQLDBAuditLogsBlobauditingtest2080
                      retentionDays: '0'
                    type: Microsoft.Sql/servers/databases/auditingPolicies
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/auditingPolicies/{tableAuditingPolicyName}':
    get:
      deprecated: true
      description: 'Gets a server''s table auditing policy. Table auditing is deprecated, use blob auditing instead.'
      operationId: ServerTableAuditingPolicies_Get
      parameters:
        - $ref: '#/parameters/ResourceGroupParameter'
        - $ref: '#/parameters/ServerNameParameter'
        - $ref: '#/parameters/TableAuditingPolicyNameParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully retrieved the server table auditing policy.
          schema:
            $ref: '#/definitions/ServerTableAuditingPolicy'
      tags:
        - TableAuditing
      x-ms-examples:
        Get server table auditing policy:
          parameters:
            api-version: '2014-04-01'
            resourceGroupName: blobauditingtest-6852
            serverName: blobauditingtest-2080
            subscriptionId: 00000000-1111-2222-3333-444444444444
            tableAuditingPolicyName: default
          responses:
            '200':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/blobauditingtest-6852/providers/Microsoft.Sql/servers/blobauditingtest-2080/databases/testdb/auditingPolicies/Default
                location: West US
                name: Default
                properties:
                  auditLogsTableName: Blobauditingtest2080
                  auditingState: New
                  eventTypesToAudit: 'PlainSQL_Success,PlainSQL_Failure,ParameterizedSQL_Success,ParameterizedSQL_Failure,StoredProcedure_Success,StoredProcedure_Failure,Login_Success,Login_Failure,TransactionManagement_Success,TransactionManagement_Failure'
                  fullAuditLogsTableName: SQLDBAuditLogsBlobauditingtest2080
                  retentionDays: '0'
                type: Microsoft.Sql/servers/databases/auditingPolicies
    put:
      deprecated: true
      description: 'Creates or updates a servers''s table auditing policy. Table auditing is deprecated, use blob auditing instead.'
      operationId: ServerTableAuditingPolicies_CreateOrUpdate
      parameters:
        - $ref: '#/parameters/ResourceGroupParameter'
        - $ref: '#/parameters/ServerNameParameter'
        - $ref: '#/parameters/TableAuditingPolicyNameParameter'
        - description: The server table auditing policy.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/ServerTableAuditingPolicy'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully set the server table auditing policy.
          schema:
            $ref: '#/definitions/ServerTableAuditingPolicy'
        '201':
          description: Successfully created the server table auditing policy.
          schema:
            $ref: '#/definitions/ServerTableAuditingPolicy'
      tags:
        - TableAuditing
      x-ms-examples:
        Create or update server table auditing policy:
          parameters:
            api-version: '2014-04-01'
            properties: {}
            resourceGroupName: blobauditingtest-6852
            serverName: blobauditingtest-2080
            subscriptionId: 00000000-1111-2222-3333-444444444444
            tableAuditingPolicyName: default
          responses:
            '200':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/blobauditingtest-6852/providers/Microsoft.Sql/servers/blobauditingtest-2080/databases/testdb/auditingPolicies/Default
                location: West US
                name: Default
                properties:
                  auditLogsTableName: Blobauditingtest2080
                  auditingState: New
                  eventTypesToAudit: 'PlainSQL_Success,PlainSQL_Failure,ParameterizedSQL_Success,ParameterizedSQL_Failure,StoredProcedure_Success,StoredProcedure_Failure,Login_Success,Login_Failure,TransactionManagement_Success,TransactionManagement_Failure'
                  fullAuditLogsTableName: SQLDBAuditLogsBlobauditingtest2080
                  retentionDays: '0'
                type: Microsoft.Sql/servers/databases/auditingPolicies
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/auditingPolicies':
    get:
      deprecated: true
      description: 'Lists a database''s table auditing policies. Table auditing is deprecated, use blob auditing instead.'
      operationId: DatabaseTableAuditingPolicies_ListByDatabase
      parameters:
        - $ref: '#/parameters/ResourceGroupParameter'
        - $ref: '#/parameters/ServerNameParameter'
        - description: The name of the database for which the table audit policy is defined.
          in: path
          name: databaseName
          required: true
          type: string
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully retrieved the database table auditing policies.
          schema:
            $ref: '#/definitions/DatabaseTableAuditingPolicyListResult'
      tags:
        - TableAuditing
      x-ms-examples:
        Get database table auditing policy:
          parameters:
            api-version: '2014-04-01'
            databaseName: testdb
            resourceGroupName: blobauditingtest-6852
            serverName: blobauditingtest-2080
            subscriptionId: 00000000-1111-2222-3333-444444444444
            tableAuditingPolicyName: default
          responses:
            '200':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/blobauditingtest-6852/providers/Microsoft.Sql/servers/blobauditingtest-2080/databases/testdb/auditingPolicies/Default
                location: West US
                name: Default
                properties:
                  auditLogsTableName: Blobauditingtest2080Testdb
                  auditingState: New
                  eventTypesToAudit: 'PlainSQL_Success,PlainSQL_Failure,ParameterizedSQL_Success,ParameterizedSQL_Failure,StoredProcedure_Success,StoredProcedure_Failure,Login_Success,Login_Failure,TransactionManagement_Success,TransactionManagement_Failure'
                  fullAuditLogsTableName: SQLDBAuditLogsBlobauditingtest2080Testdb
                  retentionDays: '0'
                  useServerDefault: Enabled
                type: Microsoft.Sql/servers/databases/auditingPolicies
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/auditingPolicies/{tableAuditingPolicyName}':
    get:
      deprecated: true
      description: 'Gets a database''s table auditing policy. Table auditing is deprecated, use blob auditing instead.'
      operationId: DatabaseTableAuditingPolicies_Get
      parameters:
        - $ref: '#/parameters/ResourceGroupParameter'
        - $ref: '#/parameters/ServerNameParameter'
        - description: The name of the database for which the table audit policy is defined.
          in: path
          name: databaseName
          required: true
          type: string
        - $ref: '#/parameters/TableAuditingPolicyNameParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully retrieved the database table auditing policy.
          schema:
            $ref: '#/definitions/DatabaseTableAuditingPolicy'
      tags:
        - TableAuditing
      x-ms-examples:
        Get database table auditing policy:
          parameters:
            api-version: '2014-04-01'
            databaseName: testdb
            resourceGroupName: blobauditingtest-6852
            serverName: blobauditingtest-2080
            subscriptionId: 00000000-1111-2222-3333-444444444444
            tableAuditingPolicyName: default
          responses:
            '200':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/blobauditingtest-6852/providers/Microsoft.Sql/servers/blobauditingtest-2080/databases/testdb/auditingPolicies/Default
                location: West US
                name: Default
                properties:
                  auditLogsTableName: Blobauditingtest2080Testdb
                  auditingState: New
                  eventTypesToAudit: 'PlainSQL_Success,PlainSQL_Failure,ParameterizedSQL_Success,ParameterizedSQL_Failure,StoredProcedure_Success,StoredProcedure_Failure,Login_Success,Login_Failure,TransactionManagement_Success,TransactionManagement_Failure'
                  fullAuditLogsTableName: SQLDBAuditLogsBlobauditingtest2080Testdb
                  retentionDays: '0'
                  useServerDefault: Enabled
                type: Microsoft.Sql/servers/databases/auditingPolicies
    put:
      deprecated: true
      description: 'Creates or updates a database''s table auditing policy. Table auditing is deprecated, use blob auditing instead.'
      operationId: DatabaseTableAuditingPolicies_CreateOrUpdate
      parameters:
        - $ref: '#/parameters/ResourceGroupParameter'
        - $ref: '#/parameters/ServerNameParameter'
        - description: The name of the database for which the table auditing policy will be defined.
          in: path
          name: databaseName
          required: true
          type: string
        - $ref: '#/parameters/TableAuditingPolicyNameParameter'
        - description: The database table auditing policy.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/DatabaseTableAuditingPolicy'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully set the database table auditing policy.
          schema:
            $ref: '#/definitions/DatabaseTableAuditingPolicy'
        '201':
          description: Successfully created the database table auditing policy.
          schema:
            $ref: '#/definitions/DatabaseTableAuditingPolicy'
      tags:
        - TableAuditing
      x-ms-examples:
        Create or update database table auditing policy:
          parameters:
            api-version: '2014-04-01'
            databaseName: testdb
            parameters: {}
            resourceGroupName: blobauditingtest-6852
            serverName: blobauditingtest-2080
            subscriptionId: 00000000-1111-2222-3333-444444444444
            tableAuditingPolicyName: default
          responses:
            '200':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/blobauditingtest-6852/providers/Microsoft.Sql/servers/blobauditingtest-2080/databases/testdb/auditingPolicies/Default
                location: West US
                name: Default
                properties:
                  auditLogsTableName: Blobauditingtest2080Testdb
                  auditingState: New
                  eventTypesToAudit: 'PlainSQL_Success,PlainSQL_Failure,ParameterizedSQL_Success,ParameterizedSQL_Failure,StoredProcedure_Success,StoredProcedure_Failure,Login_Success,Login_Failure,TransactionManagement_Success,TransactionManagement_Failure'
                  fullAuditLogsTableName: SQLDBAuditLogsBlobauditingtest2080Testdb
                  retentionDays: '0'
                  useServerDefault: Enabled
                type: Microsoft.Sql/servers/databases/auditingPolicies
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/connectionPolicies/{connectionPolicyName}':
    get:
      deprecated: true
      description: 'Gets a database''s connection policy, which is used with table auditing. Table auditing is deprecated, use blob auditing instead.'
      operationId: DatabaseConnectionPolicies_Get
      parameters:
        - $ref: '#/parameters/ResourceGroupParameter'
        - $ref: '#/parameters/ServerNameParameter'
        - description: The name of the database for which the connection policy is defined.
          in: path
          name: databaseName
          required: true
          type: string
        - $ref: '#/parameters/ConnectionPolicyNameParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully retrieved the database connection policy.
          schema:
            $ref: '#/definitions/DatabaseConnectionPolicy'
      tags:
        - TableAuditing
      x-ms-examples:
        Get database table auditing policy:
          parameters:
            api-version: '2014-04-01'
            connectionPolicyName: default
            databaseName: testdb
            resourceGroupName: blobauditingtest-6852
            serverName: blobauditingtest-2080
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            '200':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/blobauditingtest-6852/providers/Microsoft.Sql/servers/blobauditingtest-2080/databases/testdb/connectionPolicies/default
                location: West US
                name: default
                properties:
                  proxyDnsName: blobauditingtest-2080.database.secure.windows.net
                  proxyPort: '1433'
                  redirectionState: Disabled
                  securityEnabledAccess: Optional
                  state: New
                  useServerDefault: Enabled
                  visibility: Visible
                type: Microsoft.Sql/servers/databases/connectionPolicies
    put:
      deprecated: true
      description: 'Creates or updates a database''s connection policy, which is used with table auditing. Table auditing is deprecated, use blob auditing instead.'
      operationId: DatabaseConnectionPolicies_CreateOrUpdate
      parameters:
        - $ref: '#/parameters/ResourceGroupParameter'
        - $ref: '#/parameters/ServerNameParameter'
        - description: The name of the database for which the connection policy will be defined.
          in: path
          name: databaseName
          required: true
          type: string
        - $ref: '#/parameters/ConnectionPolicyNameParameter'
        - description: The database connection policy.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/DatabaseConnectionPolicy'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successfully set the database connection policy.
          schema:
            $ref: '#/definitions/DatabaseConnectionPolicy'
        '201':
          description: Successfully created the database connection policy.
          schema:
            $ref: '#/definitions/DatabaseConnectionPolicy'
      tags:
        - TableAuditing
      x-ms-examples:
        Create or update database connection policy:
          parameters:
            api-version: '2014-04-01'
            connectionPolicyName: default
            databaseName: testdb
            parameters: {}
            resourceGroupName: blobauditingtest-6852
            serverName: blobauditingtest-2080
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            '200':
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/blobauditingtest-6852/providers/Microsoft.Sql/servers/blobauditingtest-2080/databases/testdb/connectionPolicies/default
                location: West US
                name: default
                properties:
                  proxyDnsName: blobauditingtest-2080.database.secure.windows.net
                  proxyPort: '1433'
                  redirectionState: Disabled
                  securityEnabledAccess: Optional
                  state: New
                  useServerDefault: Enabled
                  visibility: Visible
                type: Microsoft.Sql/servers/databases/connectionPolicies
definitions:
  DatabaseConnectionPolicy:
    allOf:
      - $ref: '#/definitions/ProxyResource'
    description: A database connection policy.
    properties:
      kind:
        description: Resource kind.
        readOnly: true
        type: string
      location:
        description: Resource location.
        readOnly: true
        type: string
      properties:
        $ref: '#/definitions/DatabaseConnectionPolicyProperties'
        description: Resource properties.
        x-ms-client-flatten: true
    type: object
  DatabaseConnectionPolicyProperties:
    description: Properties of a database connection policy.
    properties:
      proxyDnsName:
        description: The fully qualified host name of the auditing proxy.
        type: string
      proxyPort:
        description: The port number of the auditing proxy.
        type: string
      redirectionState:
        description: The state of proxy redirection.
        type: string
      securityEnabledAccess:
        description: The state of security access.
        type: string
      state:
        description: The connection policy state.
        type: string
      useServerDefault:
        description: Whether server default is enabled or disabled.
        type: string
      visibility:
        description: The visibility of the auditing proxy.
        type: string
    type: object
  DatabaseTableAuditingPolicy:
    allOf:
      - $ref: '#/definitions/ProxyResource'
    description: A database table auditing policy.
    properties:
      kind:
        description: Resource kind.
        readOnly: true
        type: string
      location:
        description: Resource location.
        readOnly: true
        type: string
      properties:
        $ref: '#/definitions/DatabaseTableAuditingPolicyProperties'
        description: Resource properties.
        x-ms-client-flatten: true
    type: object
  DatabaseTableAuditingPolicyListResult:
    description: Represents the response to a list database table auditing policies request.
    properties:
      value:
        description: The list of database table auditing policies.
        items:
          $ref: '#/definitions/DatabaseTableAuditingPolicy'
        type: array
    required:
      - value
  DatabaseTableAuditingPolicyProperties:
    allOf:
      - $ref: '#/definitions/TableAuditingPolicyProperties'
    description: Properties of a database table auditing policy.
    properties:
      useServerDefault:
        description: Whether server default is enabled or disabled.
        type: string
  ProxyResource:
    allOf:
      - $ref: '#/definitions/Resource'
    description: ARM proxy resource.
    properties: {}
    type: object
  Resource:
    description: ARM resource.
    properties:
      id:
        description: Resource ID.
        readOnly: true
        type: string
      name:
        description: Resource name.
        readOnly: true
        type: string
      type:
        description: Resource type.
        readOnly: true
        type: string
    type: object
    x-ms-azure-resource: true
  ServerTableAuditingPolicy:
    allOf:
      - $ref: '#/definitions/ProxyResource'
    description: A server table auditing policy.
    properties:
      kind:
        description: Resource kind.
        readOnly: true
        type: string
      location:
        description: Resource location.
        readOnly: true
        type: string
      properties:
        $ref: '#/definitions/ServerTableAuditingPolicyProperties'
        description: Resource properties.
        x-ms-client-flatten: true
    type: object
  ServerTableAuditingPolicyListResult:
    description: Represents the response to a list server table auditing policies request.
    properties:
      value:
        description: The list of server table auditing policies.
        items:
          $ref: '#/definitions/ServerTableAuditingPolicy'
        type: array
    required:
      - value
  ServerTableAuditingPolicyProperties:
    allOf:
      - $ref: '#/definitions/TableAuditingPolicyProperties'
    description: Properties of a server table auditing policy.
  TableAuditingPolicyProperties:
    description: Properties of a table auditing policy.
    properties:
      auditLogsTableName:
        description: The audit logs table name.
        type: string
      auditingState:
        description: The state of the policy.
        type: string
      eventTypesToAudit:
        description: Comma-separated list of event types to audit.
        type: string
      fullAuditLogsTableName:
        description: The full audit logs table name.
        type: string
      retentionDays:
        description: The number of days to keep in the audit logs.
        type: string
      storageAccountKey:
        description: The key of the auditing storage account.
        type: string
      storageAccountName:
        description: The table storage account name
        type: string
      storageAccountResourceGroupName:
        description: The table storage account resource group name
        type: string
      storageAccountSecondaryKey:
        description: The secondary key of the auditing storage account.
        type: string
      storageAccountSubscriptionId:
        description: The table storage subscription Id.
        format: uuid
        type: string
      storageTableEndpoint:
        description: The storage table endpoint.
        type: string
    type: object
