swagger: '2.0'
schemes:
  - http
  - https
host: api.fantasydata.net
basePath: /v3/nfl/news-rotoballer
info:
  contact:
    x-twitter: nfldata
  title: NFL v3 RotoBaller Premium News
  version: '1.0'
  x-apisguru-categories:
    - entertainment
  x-logo:
    url: 'https://twitter.com/nfldata/profile_image?size=original'
  x-origin:
    - format: swagger
      url: 'https://fantasydata.com/downloads/swagger/nfl-v3-rotoballer-premium-news.json'
      version: '2.0'
  x-providerName: fantasydata.net
  x-serviceName: nfl-v3-rotoballer-premium-news
produces:
  - application/json
securityDefinitions:
  apiKeyHeader:
    in: header
    name: Ocp-Apim-Subscription-Key
    type: apiKey
  apiKeyQuery:
    in: query
    name: subscription-key
    type: apiKey
security:
  - apiKeyHeader: []
  - apiKeyQuery: []
tags: []
paths:
  '/{format}/RotoBallerPremiumNews':
    get:
      operationId: PremiumNews
      parameters:
        - default: xml
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - xml
            - json
          in: path
          name: format
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/News'
            type: array
      summary: Premium News
  '/{format}/RotoBallerPremiumNewsByDate/{date}':
    get:
      operationId: PremiumNewsByDate
      parameters:
        - default: xml
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - xml
            - json
          in: path
          name: format
          required: true
          type: string
        - description: |-
            The date of the news.
            <br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.
          in: path
          name: date
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/News'
            type: array
      summary: Premium News by Date
  '/{format}/RotoBallerPremiumNewsByPlayerID/{playerid}':
    get:
      operationId: PremiumNewsByPlayer
      parameters:
        - default: xml
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - xml
            - json
          in: path
          name: format
          required: true
          type: string
        - description: |-
            Unique FantasyData Player ID.
            Example:<code>10000507</code>.
          in: path
          name: playerid
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/News'
            type: array
      summary: Premium News by Player
  '/{format}/RotoBallerPremiumNewsByTeam/{team}':
    get:
      operationId: PremiumNewsByTeam
      parameters:
        - default: xml
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - xml
            - json
          in: path
          name: format
          required: true
          type: string
        - description: 'Abbreviation of the team. Example: <code>WAS</code>.'
          in: path
          name: team
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/News'
            type: array
      summary: Premium News by Team
definitions:
  News:
    properties:
      Author:
        type: string
      Categories:
        type: string
      Content:
        type: string
      NewsID:
        type: integer
      PlayerID:
        type: integer
      PlayerID2:
        type: integer
      Source:
        type: string
      Team:
        type: string
      Team2:
        type: string
      TeamID:
        type: integer
      TeamID2:
        type: integer
      TermsOfUse:
        type: string
      TimeAgo:
        type: string
      Title:
        type: string
      Updated:
        type: string
      Url:
        type: string
x-servers:
  - url: 'http://api.fantasydata.net'
  - url: 'https://api.fantasydata.net'
  - url: 'http://fantasydata-northcentralus-01.regional.azure-api.net'
  - url: 'https://fantasydata-northcentralus-01.regional.azure-api.net'
