openapi: 3.0.0
servers:
  - url: https://kmsinventory.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: ""
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: KMS Inventory API
  version: v1
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_upload.wikimedia.org_wikipedia_commons_e_e1_YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
    - format: google
      url: https://kmsinventory.googleapis.com/$discovery/rest?version=v1
      version: v1
  x-providerName: googleapis.com
  x-serviceName: kmsinventory
externalDocs:
  url: https://cloud.google.com/kms/
tags:
  - name: organizations
  - name: projects
paths:
  "/v1/{name}/protectedResourcesSummary":
    get:
      description: Returns aggregate information about the resources protected by the given Cloud KMS CryptoKey. Only resources within the same Cloud organization as the key will be returned. The project that holds the key must be part of an organization in order for this call to succeed.
      operationId: kmsinventory.projects.locations.keyRings.cryptoKeys.getProtectedResourcesSummary
      parameters:
        - description: Required. The resource name of the CryptoKey.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudKmsInventoryV1ProtectedResourcesSummary"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{parent}/cryptoKeys":
    get:
      description: Returns cryptographic keys managed by Cloud KMS in a given Cloud project. Note that this data is sourced from snapshots, meaning it may not completely reflect the actual state of key metadata at call time.
      operationId: kmsinventory.projects.cryptoKeys.list
      parameters:
        - description: Required. The Google Cloud project for which to retrieve key metadata, in the format `projects/*`
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. The maximum number of keys to return. The service may return fewer than this value. If unspecified, at most 1000 keys will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Optional. Pass this into a subsequent request in order to receive the next page of results.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudKmsInventoryV1ListCryptoKeysResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{scope}/protectedResources:search":
    get:
      description: Returns metadata about the resources protected by the given Cloud KMS CryptoKey in the given Cloud organization.
      operationId: kmsinventory.organizations.protectedResources.search
      parameters:
        - description: "Required. Resource name of the organization. Example: organizations/123"
          in: path
          name: scope
          required: true
          schema:
            type: string
        - description: Required. The resource name of the CryptoKey.
          in: query
          name: cryptoKey
          schema:
            type: string
        - description: The maximum number of resources to return. The service may return fewer than this value. If unspecified, at most 500 resources will be returned. The maximum value is 500; values above 500 will be coerced to 500.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A page token, received from a previous KeyTrackingService.SearchProtectedResources call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to KeyTrackingService.SearchProtectedResources must match the call that provided the page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudKmsInventoryV1SearchProtectedResourcesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - organizations
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    GoogleCloudKmsInventoryV1ListCryptoKeysResponse:
      description: Response message for KeyDashboardService.ListCryptoKeys.
      properties:
        cryptoKeys:
          description: The list of CryptoKeys.
          items:
            $ref: "#/components/schemas/GoogleCloudKmsV1CryptoKey"
          type: array
        nextPageToken:
          description: The page token returned from the previous response if the next page is desired.
          type: string
      type: object
    GoogleCloudKmsInventoryV1ProtectedResource:
      description: Metadata about a resource protected by a Cloud KMS key.
      properties:
        cloudProduct:
          description: "The Cloud product that owns the resource. Example: `compute`"
          type: string
        createTime:
          description: Output only. The time at which this resource was created. The granularity is in seconds. Timestamp.nanos will always be 0.
          format: google-datetime
          readOnly: true
          type: string
        cryptoKeyVersion:
          description: The name of the Cloud KMS [CryptoKeyVersion](https://cloud.google.com/kms/docs/reference/rest/v1/projects.locations.keyRings.cryptoKeys.cryptoKeyVersions?hl=en) used to protect this resource via CMEK. This field is empty if the Google Cloud product owning the resource does not provide key version data to Asset Inventory. If there are multiple key versions protecting the resource, then this is same value as the first element of crypto_key_versions.
          type: string
        cryptoKeyVersions:
          description: The names of the Cloud KMS [CryptoKeyVersion](https://cloud.google.com/kms/docs/reference/rest/v1/projects.locations.keyRings.cryptoKeys.cryptoKeyVersions?hl=en) used to protect this resource via CMEK. This field is empty if the Google Cloud product owning the resource does not provide key versions data to Asset Inventory. The first element of this field is stored in crypto_key_version.
          items:
            type: string
          type: array
        labels:
          additionalProperties:
            type: string
          description: A key-value pair of the resource's labels (v1) to their values.
          type: object
        location:
          description: Location can be `global`, regional like `us-east1`, or zonal like `us-west1-b`.
          type: string
        name:
          description: "The full resource name of the resource. Example: `//compute.googleapis.com/projects/my_project_123/zones/zone1/instances/instance1`."
          type: string
        project:
          description: "Format: `projects/{PROJECT_NUMBER}`."
          type: string
        projectId:
          description: The ID of the project that owns the resource.
          type: string
        resourceType:
          description: "Example: `compute.googleapis.com/Disk`"
          type: string
      type: object
    GoogleCloudKmsInventoryV1ProtectedResourcesSummary:
      description: Aggregate information about the resources protected by a Cloud KMS key in the same Cloud organization as the key.
      properties:
        cloudProducts:
          additionalProperties:
            format: int64
            type: string
          description: The number of resources protected by the key grouped by Cloud product.
          type: object
        locations:
          additionalProperties:
            format: int64
            type: string
          description: The number of resources protected by the key grouped by region.
          type: object
        name:
          description: "The full name of the ProtectedResourcesSummary resource. Example: projects/test-project/locations/us/keyRings/test-keyring/cryptoKeys/test-key/protectedResourcesSummary"
          type: string
        projectCount:
          description: The number of distinct Cloud projects in the same Cloud organization as the key that have resources protected by the key.
          format: int32
          type: integer
        resourceCount:
          description: The total number of protected resources in the same Cloud organization as the key.
          format: int64
          type: string
        resourceTypes:
          additionalProperties:
            format: int64
            type: string
          description: The number of resources protected by the key grouped by resource type.
          type: object
      type: object
    GoogleCloudKmsInventoryV1SearchProtectedResourcesResponse:
      description: Response message for KeyTrackingService.SearchProtectedResources.
      properties:
        nextPageToken:
          description: A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.
          type: string
        protectedResources:
          description: Protected resources for this page.
          items:
            $ref: "#/components/schemas/GoogleCloudKmsInventoryV1ProtectedResource"
          type: array
      type: object
    GoogleCloudKmsV1CryptoKey:
      description: A CryptoKey represents a logical key that can be used for cryptographic operations. A CryptoKey is made up of zero or more versions, which represent the actual key material used in cryptographic operations.
      properties:
        createTime:
          description: Output only. The time at which this CryptoKey was created.
          format: google-datetime
          readOnly: true
          type: string
        cryptoKeyBackend:
          description: Immutable. The resource name of the backend environment where the key material for all CryptoKeyVersions associated with this CryptoKey reside and where all related cryptographic operations are performed. Only applicable if CryptoKeyVersions have a ProtectionLevel of EXTERNAL_VPC, with the resource name in the format `projects/*/locations/*/ekmConnections/*`. Note, this list is non-exhaustive and may apply to additional ProtectionLevels in the future.
          type: string
        destroyScheduledDuration:
          description: Immutable. The period of time that versions of this key spend in the DESTROY_SCHEDULED state before transitioning to DESTROYED. If not specified at creation time, the default duration is 24 hours.
          format: google-duration
          type: string
        importOnly:
          description: Immutable. Whether this key may contain imported versions only.
          type: boolean
        labels:
          additionalProperties:
            type: string
          description: Labels with user-defined metadata. For more information, see [Labeling Keys](https://cloud.google.com/kms/docs/labeling-keys).
          type: object
        name:
          description: Output only. The resource name for this CryptoKey in the format `projects/*/locations/*/keyRings/*/cryptoKeys/*`.
          readOnly: true
          type: string
        nextRotationTime:
          description: "At next_rotation_time, the Key Management Service will automatically: 1. Create a new version of this CryptoKey. 2. Mark the new version as primary. Key rotations performed manually via CreateCryptoKeyVersion and UpdateCryptoKeyPrimaryVersion do not affect next_rotation_time. Keys with purpose ENCRYPT_DECRYPT support automatic rotation. For other keys, this field must be omitted."
          format: google-datetime
          type: string
        primary:
          $ref: "#/components/schemas/GoogleCloudKmsV1CryptoKeyVersion"
          description: Output only. A copy of the "primary" CryptoKeyVersion that will be used by Encrypt when this CryptoKey is given in EncryptRequest.name. The CryptoKey's primary version can be updated via UpdateCryptoKeyPrimaryVersion. Keys with purpose ENCRYPT_DECRYPT may have a primary. For other keys, this field will be omitted.
          readOnly: true
        purpose:
          description: Immutable. The immutable purpose of this CryptoKey.
          enum:
            - CRYPTO_KEY_PURPOSE_UNSPECIFIED
            - ENCRYPT_DECRYPT
            - ASYMMETRIC_SIGN
            - ASYMMETRIC_DECRYPT
            - MAC
          type: string
        rotationPeriod:
          description: next_rotation_time will be advanced by this period when the service automatically rotates a key. Must be at least 24 hours and at most 876,000 hours. If rotation_period is set, next_rotation_time must also be set. Keys with purpose ENCRYPT_DECRYPT support automatic rotation. For other keys, this field must be omitted.
          format: google-duration
          type: string
        versionTemplate:
          $ref: "#/components/schemas/GoogleCloudKmsV1CryptoKeyVersionTemplate"
          description: A template describing settings for new CryptoKeyVersion instances. The properties of new CryptoKeyVersion instances created by either CreateCryptoKeyVersion or auto-rotation are controlled by this template.
      type: object
    GoogleCloudKmsV1CryptoKeyVersion:
      description: A CryptoKeyVersion represents an individual cryptographic key, and the associated key material. An ENABLED version can be used for cryptographic operations. For security reasons, the raw cryptographic key material represented by a CryptoKeyVersion can never be viewed or exported. It can only be used to encrypt, decrypt, or sign data when an authorized user or application invokes Cloud KMS.
      properties:
        algorithm:
          description: Output only. The CryptoKeyVersionAlgorithm that this CryptoKeyVersion supports.
          enum:
            - CRYPTO_KEY_VERSION_ALGORITHM_UNSPECIFIED
            - GOOGLE_SYMMETRIC_ENCRYPTION
            - RSA_SIGN_PSS_2048_SHA256
            - RSA_SIGN_PSS_3072_SHA256
            - RSA_SIGN_PSS_4096_SHA256
            - RSA_SIGN_PSS_4096_SHA512
            - RSA_SIGN_PKCS1_2048_SHA256
            - RSA_SIGN_PKCS1_3072_SHA256
            - RSA_SIGN_PKCS1_4096_SHA256
            - RSA_SIGN_PKCS1_4096_SHA512
            - RSA_SIGN_RAW_PKCS1_2048
            - RSA_SIGN_RAW_PKCS1_3072
            - RSA_SIGN_RAW_PKCS1_4096
            - RSA_DECRYPT_OAEP_2048_SHA256
            - RSA_DECRYPT_OAEP_3072_SHA256
            - RSA_DECRYPT_OAEP_4096_SHA256
            - RSA_DECRYPT_OAEP_4096_SHA512
            - RSA_DECRYPT_OAEP_2048_SHA1
            - RSA_DECRYPT_OAEP_3072_SHA1
            - RSA_DECRYPT_OAEP_4096_SHA1
            - EC_SIGN_P256_SHA256
            - EC_SIGN_P384_SHA384
            - EC_SIGN_SECP256K1_SHA256
            - HMAC_SHA256
            - HMAC_SHA1
            - HMAC_SHA384
            - HMAC_SHA512
            - HMAC_SHA224
            - EXTERNAL_SYMMETRIC_ENCRYPTION
          readOnly: true
          type: string
        attestation:
          $ref: "#/components/schemas/GoogleCloudKmsV1KeyOperationAttestation"
          description: Output only. Statement that was generated and signed by the HSM at key creation time. Use this statement to verify attributes of the key as stored on the HSM, independently of Google. Only provided for key versions with protection_level HSM.
          readOnly: true
        createTime:
          description: Output only. The time at which this CryptoKeyVersion was created.
          format: google-datetime
          readOnly: true
          type: string
        destroyEventTime:
          description: Output only. The time this CryptoKeyVersion's key material was destroyed. Only present if state is DESTROYED.
          format: google-datetime
          readOnly: true
          type: string
        destroyTime:
          description: Output only. The time this CryptoKeyVersion's key material is scheduled for destruction. Only present if state is DESTROY_SCHEDULED.
          format: google-datetime
          readOnly: true
          type: string
        externalDestructionFailureReason:
          description: Output only. The root cause of the most recent external destruction failure. Only present if state is EXTERNAL_DESTRUCTION_FAILED.
          readOnly: true
          type: string
        externalProtectionLevelOptions:
          $ref: "#/components/schemas/GoogleCloudKmsV1ExternalProtectionLevelOptions"
          description: ExternalProtectionLevelOptions stores a group of additional fields for configuring a CryptoKeyVersion that are specific to the EXTERNAL protection level and EXTERNAL_VPC protection levels.
        generateTime:
          description: Output only. The time this CryptoKeyVersion's key material was generated.
          format: google-datetime
          readOnly: true
          type: string
        generationFailureReason:
          description: Output only. The root cause of the most recent generation failure. Only present if state is GENERATION_FAILED.
          readOnly: true
          type: string
        importFailureReason:
          description: Output only. The root cause of the most recent import failure. Only present if state is IMPORT_FAILED.
          readOnly: true
          type: string
        importJob:
          description: Output only. The name of the ImportJob used in the most recent import of this CryptoKeyVersion. Only present if the underlying key material was imported.
          readOnly: true
          type: string
        importTime:
          description: Output only. The time at which this CryptoKeyVersion's key material was most recently imported.
          format: google-datetime
          readOnly: true
          type: string
        name:
          description: Output only. The resource name for this CryptoKeyVersion in the format `projects/*/locations/*/keyRings/*/cryptoKeys/*/cryptoKeyVersions/*`.
          readOnly: true
          type: string
        protectionLevel:
          description: Output only. The ProtectionLevel describing how crypto operations are performed with this CryptoKeyVersion.
          enum:
            - PROTECTION_LEVEL_UNSPECIFIED
            - SOFTWARE
            - HSM
            - EXTERNAL
            - EXTERNAL_VPC
          readOnly: true
          type: string
        reimportEligible:
          description: Output only. Whether or not this key version is eligible for reimport, by being specified as a target in ImportCryptoKeyVersionRequest.crypto_key_version.
          readOnly: true
          type: boolean
        state:
          description: The current state of the CryptoKeyVersion.
          enum:
            - CRYPTO_KEY_VERSION_STATE_UNSPECIFIED
            - PENDING_GENERATION
            - ENABLED
            - DISABLED
            - DESTROYED
            - DESTROY_SCHEDULED
            - PENDING_IMPORT
            - IMPORT_FAILED
            - GENERATION_FAILED
            - PENDING_EXTERNAL_DESTRUCTION
            - EXTERNAL_DESTRUCTION_FAILED
          type: string
      type: object
    GoogleCloudKmsV1CryptoKeyVersionTemplate:
      description: A CryptoKeyVersionTemplate specifies the properties to use when creating a new CryptoKeyVersion, either manually with CreateCryptoKeyVersion or automatically as a result of auto-rotation.
      properties:
        algorithm:
          description: Required. Algorithm to use when creating a CryptoKeyVersion based on this template. For backwards compatibility, GOOGLE_SYMMETRIC_ENCRYPTION is implied if both this field is omitted and CryptoKey.purpose is ENCRYPT_DECRYPT.
          enum:
            - CRYPTO_KEY_VERSION_ALGORITHM_UNSPECIFIED
            - GOOGLE_SYMMETRIC_ENCRYPTION
            - RSA_SIGN_PSS_2048_SHA256
            - RSA_SIGN_PSS_3072_SHA256
            - RSA_SIGN_PSS_4096_SHA256
            - RSA_SIGN_PSS_4096_SHA512
            - RSA_SIGN_PKCS1_2048_SHA256
            - RSA_SIGN_PKCS1_3072_SHA256
            - RSA_SIGN_PKCS1_4096_SHA256
            - RSA_SIGN_PKCS1_4096_SHA512
            - RSA_SIGN_RAW_PKCS1_2048
            - RSA_SIGN_RAW_PKCS1_3072
            - RSA_SIGN_RAW_PKCS1_4096
            - RSA_DECRYPT_OAEP_2048_SHA256
            - RSA_DECRYPT_OAEP_3072_SHA256
            - RSA_DECRYPT_OAEP_4096_SHA256
            - RSA_DECRYPT_OAEP_4096_SHA512
            - RSA_DECRYPT_OAEP_2048_SHA1
            - RSA_DECRYPT_OAEP_3072_SHA1
            - RSA_DECRYPT_OAEP_4096_SHA1
            - EC_SIGN_P256_SHA256
            - EC_SIGN_P384_SHA384
            - EC_SIGN_SECP256K1_SHA256
            - HMAC_SHA256
            - HMAC_SHA1
            - HMAC_SHA384
            - HMAC_SHA512
            - HMAC_SHA224
            - EXTERNAL_SYMMETRIC_ENCRYPTION
          type: string
        protectionLevel:
          description: ProtectionLevel to use when creating a CryptoKeyVersion based on this template. Immutable. Defaults to SOFTWARE.
          enum:
            - PROTECTION_LEVEL_UNSPECIFIED
            - SOFTWARE
            - HSM
            - EXTERNAL
            - EXTERNAL_VPC
          type: string
      type: object
    GoogleCloudKmsV1ExternalProtectionLevelOptions:
      description: ExternalProtectionLevelOptions stores a group of additional fields for configuring a CryptoKeyVersion that are specific to the EXTERNAL protection level and EXTERNAL_VPC protection levels.
      properties:
        ekmConnectionKeyPath:
          description: The path to the external key material on the EKM when using EkmConnection e.g., "v0/my/key". Set this field instead of external_key_uri when using an EkmConnection.
          type: string
        externalKeyUri:
          description: The URI for an external resource that this CryptoKeyVersion represents.
          type: string
      type: object
    GoogleCloudKmsV1KeyOperationAttestation:
      description: Contains an HSM-generated attestation about a key operation. For more information, see [Verifying attestations] (https://cloud.google.com/kms/docs/attest-key).
      properties:
        certChains:
          $ref: "#/components/schemas/GoogleCloudKmsV1KeyOperationAttestationCertificateChains"
          description: Output only. The certificate chains needed to validate the attestation
          readOnly: true
        content:
          description: Output only. The attestation data provided by the HSM when the key operation was performed.
          format: byte
          readOnly: true
          type: string
        format:
          description: Output only. The format of the attestation data.
          enum:
            - ATTESTATION_FORMAT_UNSPECIFIED
            - CAVIUM_V1_COMPRESSED
            - CAVIUM_V2_COMPRESSED
          readOnly: true
          type: string
      type: object
    GoogleCloudKmsV1KeyOperationAttestationCertificateChains:
      description: Certificate chains needed to verify the attestation. Certificates in chains are PEM-encoded and are ordered based on https://tools.ietf.org/html/rfc5246#section-7.4.2.
      properties:
        caviumCerts:
          description: Cavium certificate chain corresponding to the attestation.
          items:
            type: string
          type: array
        googleCardCerts:
          description: Google card certificate chain corresponding to the attestation.
          items:
            type: string
          type: array
        googlePartitionCerts:
          description: Google partition certificate chain corresponding to the attestation.
          items:
            type: string
          type: array
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account.
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account.
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
