swagger: "2.0"
schemes:
  - https
  - http
host: api.weatherbit.io
basePath: /v2.0
info:
  contact:
    x-twitter: weatherbitio
  description: This an interactive version of the documentation for the Weatherbit API.  The base URL for the API is [http://api.weatherbit.io/v2.0/](http://api.weatherbit.io/v2.0/) or [https://api.weatherbit.io/v2.0/](http://api.weatherbit.io/v2.0/). Below is the Swagger UI documentation for the API. All API requests require the `key` parameter.        An Example for a 48 hour forecast for London, UK would be `http://api.weatherbit.io/v2.0/forecast/hourly?lat=51.5072`&`lon=-0.1276`. See our [Weather API description page](https://www.weatherbit.io/api) for the full documentation.
  title: Weatherbit - Interactive Swagger UI Documentation
  version: 2.0.0
  x-apisguru-categories:
    - location
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_weatherbitio_profile_image.jpeg
  x-origin:
    - format: swagger
      url: https://www.weatherbit.io/static/swagger.json
      version: "2.0"
  x-providerName: weatherbit.io
produces:
  - application/json
paths:
  "/alerts?lat={lat}&lon={lon}":
    get:
      description: Returns severe weather alerts issued by meteorological agencies - given a lat, and a lon.
      parameters:
        - description: Latitude component of location.
          format: double
          in: path
          name: lat
          required: true
          type: number
        - description: Longitude component of location.
          format: double
          in: path
          name: lon
          required: true
          type: number
        - description: Wraps return in jsonp callback - Example - callback=func
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        "200":
          description: Weather Alert Object.
          schema:
            $ref: "#/definitions/WeatherAlert"
        default:
          description: No Data.
          schema:
            $ref: "#/definitions/Error"
      summary: Returns severe weather alerts issued by meteorological agencies - Given a lat/lon.
      tags:
        - Alerts
  "/bulk/files/{file}":
    get:
      description: "Downloads bulk data files - OPTIONS: ( current.csv.gz, forecast_hourly.csv.gz, forecast_daily.csv.gz). Units are Metric (Celcius, m/s, etc)."
      parameters:
        - description: Filename (ie. current.csv.gz)
          format: string
          in: path
          name: file
          required: true
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        default:
          description: No Data.
          schema:
            $ref: "#/definitions/Error"
      summary: Download pre-generated bulk datasets
      tags:
        - Bulk Downloads
  "/current/airquality?city={city}&country={country}":
    get:
      description: Returns current air quality conditions.
      parameters:
        - description: City search.. Example - &city=Raleigh,NC or &city=Berlin,DE or city=Paris&country=FR
          format: string
          in: path
          name: city
          required: true
          type: string
        - description: Full name of state.
          format: string
          in: query
          name: state
          required: false
          type: string
        - description: Country Code (2 letter).
          format: string
          in: path
          name: country
          required: true
          type: string
        - description: "Wraps return in jsonp callback. Example: callback=func"
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        "200":
          description: Current air quality conditions
          schema:
            $ref: "#/definitions/AQCurrentGroup"
        default:
          description: No Data.
          schema:
            $ref: "#/definitions/Error"
      summary: Returns current air quality conditions - Given City and/or State, Country.
      tags:
        - Current Air Quality
  "/current/airquality?city_id={city_id}":
    get:
      description: Returns current air quality conditions.
      parameters:
        - description: "City ID. Example: 4487042"
          format: integer
          in: path
          name: city_id
          required: true
          type: integer
        - description: Wraps return in jsonp callback. Example - callback=func
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        "200":
          description: Current air quality conditions
          schema:
            $ref: "#/definitions/AQCurrentGroup"
        default:
          description: No Data.
          schema:
            $ref: "#/definitions/Error"
      summary: Returns current air quality conditions - Given a City ID.
      tags:
        - Current Air Quality
  "/current/airquality?lat={lat}&lon={lon}":
    get:
      description: Returns current air quality conditions.
      parameters:
        - description: Latitude component of location.
          format: double
          in: path
          name: lat
          required: true
          type: number
        - description: Longitude component of location.
          format: double
          in: path
          name: lon
          required: true
          type: number
        - description: Wraps return in jsonp callback. Example - callback=func
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        "200":
          description: Current air quality conditions
          schema:
            $ref: "#/definitions/AQCurrentGroup"
        default:
          description: No Data.
          schema:
            $ref: "#/definitions/Error"
      summary: Returns current air quality conditions - Given a lat/lon.
      tags:
        - Current Air Quality
  "/current/airquality?postal_code={postal_code}":
    get:
      description: Returns current air quality conditions.
      parameters:
        - description: "Postal Code. Example: 28546"
          format: integer
          in: path
          name: postal_code
          required: true
          type: integer
        - description: Country Code (2 letter).
          format: string
          in: query
          name: country
          required: false
          type: string
        - description: Wraps return in jsonp callback. Example - callback=func
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        "200":
          description: Current air quality conditions
          schema:
            $ref: "#/definitions/AQCurrentGroup"
        default:
          description: No Data.
          schema:
            $ref: "#/definitions/Error"
      summary: Returns current air quality conditions - Given a Postal Code.
      tags:
        - Current Air Quality
  "/current?cities={cities}":
    get:
      description: "Returns a group of Current Observations - Given a list of City IDs. "
      parameters:
        - description: "Comma separated list of City ID's. Example: 4487042, 4494942, 4504871"
          format: string
          in: path
          name: cities
          required: true
          type: string
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: Marine stations only (buoys, oil platforms, etc)
          enum:
            - t
          format: string
          in: query
          name: marine
          required: false
          type: string
        - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>"
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: Wraps return in jsonp callback - Example - callback=func
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        "200":
          description: An Observation Group object.
          schema:
            $ref: "#/definitions/CurrentObsGroup"
        default:
          description: No Data.
          schema:
            $ref: "#/definitions/Error"
      summary: Returns a group of observations given a list of cities
      tags:
        - Current Weather Data
  "/current?city={city}&country={country}":
    get:
      description: Returns a Current Observation - Given a city in the format of City,ST or City. The state, and country parameters can be provided to make the search more accurate.
      parameters:
        - description: City search.. Example - &city=Raleigh,NC or &city=Berlin,DE or city=Paris&country=FR
          format: string
          in: path
          name: city
          required: true
          type: string
        - description: Include 1 hour - minutely forecast in the response
          enum:
            - minutely
          format: string
          in: query
          name: include
          required: false
          type: string
        - description: Full name of state.
          format: string
          in: query
          name: state
          required: false
          type: string
        - description: Country Code (2 letter).
          format: string
          in: path
          name: country
          required: true
          type: string
        - description: Marine stations only (buoys, oil platforms, etc)
          enum:
            - t
          format: string
          in: query
          name: marine
          required: false
          type: string
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>"
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: Wraps return in jsonp callback - Example - callback=func
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        "200":
          description: An Observation Group object.
          schema:
            $ref: "#/definitions/CurrentObsGroup"
        default:
          description: No Data.
          schema:
            $ref: "#/definitions/Error"
      summary: Returns a Current Observation - Given City and/or State, Country.
      tags:
        - Current Weather Data
  "/current?city_id={city_id}":
    get:
      description: "Returns current weather observation - Given a City ID. "
      parameters:
        - description: "City ID. Example: 4487042"
          format: string
          in: path
          name: city_id
          required: true
          type: string
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: Include 1 hour - minutely forecast in the response
          enum:
            - minutely
          format: string
          in: query
          name: include
          required: false
          type: string
        - description: Marine stations only (buoys, oil platforms, etc)
          enum:
            - t
          format: string
          in: query
          name: marine
          required: false
          type: string
        - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>"
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: Wraps return in jsonp callback - Example - callback=func
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        "200":
          description: An Observation Group object.
          schema:
            $ref: "#/definitions/CurrentObsGroup"
        default:
          description: No Data.
          schema:
            $ref: "#/definitions/Error"
      summary: Returns a current observation by city id.
      tags:
        - Current Weather Data
  "/current?lat={lat}&lon={lon}":
    get:
      description: Returns a Current Observation - given a lat, and a lon.
      parameters:
        - description: Latitude component of location.
          format: double
          in: path
          name: lat
          required: true
          type: number
        - description: Longitude component of location.
          format: double
          in: path
          name: lon
          required: true
          type: number
        - description: Include 1 hour - minutely forecast in the response
          enum:
            - minutely
          format: string
          in: query
          name: include
          required: false
          type: string
        - description: Marine stations only (buoys, oil platforms, etc)
          enum:
            - t
          format: string
          in: query
          name: marine
          required: false
          type: string
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>"
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: Wraps return in jsonp callback - Example - callback=func
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        "200":
          description: An Observation Group object.
          schema:
            $ref: "#/definitions/CurrentObsGroup"
        default:
          description: No Data.
          schema:
            $ref: "#/definitions/Error"
      summary: Returns a Current Observation - Given a lat/lon.
      tags:
        - Current Weather Data
  "/current?points={points}":
    get:
      description: Returns a group of Current Observations - Given a list of points (lat1, lon1), (lat2, lon2), (latN, lonN), ...
      parameters:
        - description: "Comma separated list of points. Example: (35.5, -75.5),(45, 65),(45.12, -130.5)"
          format: string
          in: path
          name: points
          required: true
          type: string
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>"
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: "Wraps return in jsonp callback. Example: callback=func"
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        "200":
          description: An Observation Group object.
          schema:
            $ref: "#/definitions/CurrentObsGroup"
        default:
          description: No Data.
          schema:
            $ref: "#/definitions/Error"
      summary: Returns a group of observations given a list of points in the format (lat1, lon1), (lat2, lon2), (latN, lonN), ...
      tags:
        - Current Weather Data
  "/current?postal_code={postal_code}":
    get:
      description: "Returns current weather observation - Given a Postal Code. "
      parameters:
        - description: "Postal Code. Example: 28546"
          format: string
          in: path
          name: postal_code
          required: true
          type: string
        - description: Country Code (2 letter).
          format: string
          in: query
          name: country
          required: false
          type: string
        - description: Include 1 hour - minutely forecast in the response
          enum:
            - minutely
          format: string
          in: query
          name: include
          required: false
          type: string
        - description: Marine stations only (buoys, oil platforms, etc)
          enum:
            - t
          format: string
          in: query
          name: marine
          required: false
          type: string
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>"
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: Wraps return in jsonp callback - Example - callback=func
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        "200":
          description: An Observation Group object.
          schema:
            $ref: "#/definitions/CurrentObsGroup"
        default:
          description: No Data.
          schema:
            $ref: "#/definitions/Error"
      summary: Returns a current observation by postal code.
      tags:
        - Current Weather Data
  "/current?station={station}":
    get:
      description: Returns a Current Observation - Given a station ID.
      parameters:
        - description: Station Call ID.
          format: string
          in: path
          name: station
          required: true
          type: string
        - description: Include 1 hour - minutely forecast in the response
          enum:
            - minutely
          format: string
          in: query
          name: include
          required: false
          type: string
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>"
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: "Wraps return in jsonp callback. Example: callback=func"
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        "200":
          description: An Observation Group object.
          schema:
            $ref: "#/definitions/CurrentObsGroup"
        default:
          description: No Data.
          schema:
            $ref: "#/definitions/Error"
      summary: Returns a Current Observation. - Given a station ID.
      tags:
        - Current Weather Data
  "/current?stations={stations}":
    get:
      description: "Returns a group of Current Observations - Given a list of Station Call IDs. "
      parameters:
        - description: "Comma separated list of Station Call ID's. Example: KRDU,KBFI,KVNY"
          format: string
          in: path
          name: stations
          required: true
          type: string
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>"
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: "Wraps return in jsonp callback. Example: callback=func"
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        "200":
          description: An Observation Group object.
          schema:
            $ref: "#/definitions/CurrentObsGroup"
        default:
          description: No Data.
          schema:
            $ref: "#/definitions/Error"
      summary: Returns a group of observations given a list of stations
      tags:
        - Current Weather Data
  "/forecast/airquality?city={city}&country={country}":
    get:
      description: Returns 72 hour (hourly) Air Quality forecast, where each point represents a one hour period.
      parameters:
        - description: City search.. Example - &city=Raleigh,NC or &city=Berlin,DE or city=Paris&country=FR
          format: string
          in: path
          name: city
          required: true
          type: string
        - description: Full name of state.
          format: string
          in: query
          name: state
          required: false
          type: string
        - description: Country Code (2 letter).
          format: string
          in: path
          name: country
          required: true
          type: string
        - description: "Wraps return in jsonp callback. Example: callback=func"
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Number of hours to return.
          format: integer
          in: query
          name: hours
          required: false
          type: integer
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        "200":
          description: A forecast object.
          schema:
            $ref: "#/definitions/AQHourly"
        default:
          description: No Data.
          schema:
            $ref: "#/definitions/Error"
      summary: Returns 72 hour (hourly) Air Quality forecast - Given City and/or State, Country.
      tags:
        - Air Quality Forecast
  "/forecast/airquality?city_id={city_id}":
    get:
      description: Returns 72 hour (hourly) Air Quality forecast, where each point represents a one hour period.
      parameters:
        - description: "City ID. Example: 4487042"
          format: integer
          in: path
          name: city_id
          required: true
          type: integer
        - description: Wraps return in jsonp callback. Example - callback=func
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Number of hours to return.
          format: integer
          in: query
          name: hours
          required: false
          type: integer
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        "200":
          description: A forecast object.
          schema:
            $ref: "#/definitions/AQHourly"
        default:
          description: No Data.
          schema:
            $ref: "#/definitions/Error"
      summary: Returns 72 hour (hourly) Air Quality forecast - Given a City ID.
      tags:
        - Air Quality Forecast
  "/forecast/airquality?lat={lat}&lon={lon}":
    get:
      description: Returns 72 hour (hourly) Air Quality forecast, where each point represents a one hour period.
      parameters:
        - description: Latitude component of location.
          format: double
          in: path
          name: lat
          required: true
          type: number
        - description: Longitude component of location.
          format: double
          in: path
          name: lon
          required: true
          type: number
        - description: Wraps return in jsonp callback. Example - callback=func
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
        - description: Number of hours to return.
          format: integer
          in: query
          name: hours
          required: false
          type: integer
      responses:
        "200":
          description: A forecast object.
          schema:
            $ref: "#/definitions/AQHourly"
        default:
          description: No Data.
          schema:
            $ref: "#/definitions/Error"
      summary: Returns 72 hour (hourly) Air Quality forecast - Given a lat/lon.
      tags:
        - Air Quality Forecast
  "/forecast/airquality?postal_code={postal_code}":
    get:
      description: Returns 72 hour (hourly) Air Quality forecast, where each point represents a one hour period.
      parameters:
        - description: "Postal Code. Example: 28546"
          format: integer
          in: path
          name: postal_code
          required: true
          type: integer
        - description: Country Code (2 letter).
          format: string
          in: query
          name: country
          required: false
          type: string
        - description: Wraps return in jsonp callback. Example - callback=func
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Number of hours to return.
          format: integer
          in: query
          name: hours
          required: false
          type: integer
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        "200":
          description: A forecast object.
          schema:
            $ref: "#/definitions/AQHourly"
        default:
          description: No Data.
          schema:
            $ref: "#/definitions/Error"
      summary: Returns 72 hour (hourly) Air Quality forecast - Given a Postal Code.
      tags:
        - Air Quality Forecast
  "/forecast/daily?city={city}&country={country}":
    get:
      description: |
        Returns a daily forecast, where each point represents one day (24hr) period. Every point has a datetime string in the format "YYYY-MM-DD". One day begins at 00:00 UTC, and ends at 23:59 UTC. Accepts a city in the format of City,ST or City. The state, and country parameters can be provided to make the search more accurate.
      parameters:
        - description: City search.. Example - &city=Raleigh,NC or &city=Berlin,DE or city=Paris&country=FR
          format: string
          in: path
          name: city
          required: true
          type: string
        - description: Full name of state.
          format: string
          in: query
          name: state
          required: false
          type: string
        - description: Country Code (2 letter).
          format: string
          in: path
          name: country
          required: true
          type: string
        - description: Number of days to return. Default 16.
          format: integer
          in: query
          name: days
          required: false
          type: number
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>"
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: Wraps return in jsonp callback. Example - callback=func
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        "200":
          description: A forecast object.
          schema:
            $ref: "#/definitions/ForecastDay"
        default:
          description: No Data.
          schema:
            $ref: "#/definitions/Error"
      summary: Returns a daily forecast - Given City and/or State, Country.
      tags:
        - 16 day / daily Forecast
  "/forecast/daily?city_id={city_id}":
    get:
      description: |
        Returns a daily forecast, where each point represents one day (24hr) period. Every point has a datetime string in the format "YYYY-MM-DD". One day begins at 00:00 UTC, and ends at 23:59 UTC.
      parameters:
        - description: "City ID. Example: 4487042"
          format: integer
          in: path
          name: city_id
          required: true
          type: integer
        - description: Number of days to return. Default 16.
          format: integer
          in: query
          name: days
          required: false
          type: number
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>"
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: "Wraps return in jsonp callback. Example: callback=func"
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        "200":
          description: A forecast object.
          schema:
            $ref: "#/definitions/ForecastDay"
        default:
          description: No Data.
          schema:
            $ref: "#/definitions/Error"
      summary: Returns a daily forecast - Given a City ID.
      tags:
        - 16 day / daily Forecast
  "/forecast/daily?lat={lat}&lon={lon}":
    get:
      description: |
        Returns a daily forecast, where each point represents one day (24hr) period. Every point has a datetime string in the format "YYYY-MM-DD". One day begins at 00:00 UTC, and ends at 23:59 UTC. 
      parameters:
        - description: Latitude component of location.
          format: double
          in: path
          name: lat
          required: true
          type: number
        - description: Longitude component of location.
          format: double
          in: path
          name: lon
          required: true
          type: number
        - description: Number of days to return. Default 16.
          format: integer
          in: query
          name: days
          required: false
          type: number
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>"
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: "Wraps return in jsonp callback. Example: callback=func"
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        "200":
          description: A forecast object.
          schema:
            $ref: "#/definitions/ForecastDay"
        default:
          description: No Data.
          schema:
            $ref: "#/definitions/Error"
      summary: Returns a daily forecast - Given Lat/Lon.
      tags:
        - 16 day / daily Forecast
  "/forecast/daily?postal_code={postal_code}":
    get:
      description: |
        Returns a daily forecast, where each point represents one day (24hr) period. Every point has a datetime string in the format "YYYY-MM-DD". One day begins at 00:00 UTC, and ends at 23:59 UTC.
      parameters:
        - description: "Postal Code. Example: 28546"
          format: integer
          in: path
          name: postal_code
          required: true
          type: integer
        - description: Country Code (2 letter).
          format: string
          in: query
          name: country
          required: false
          type: string
        - description: Number of days to return. Default 16.
          format: integer
          in: query
          name: days
          required: false
          type: number
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>"
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: "Wraps return in jsonp callback. Example: callback=func"
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        "200":
          description: A forecast object.
          schema:
            $ref: "#/definitions/ForecastDay"
        default:
          description: No Data.
          schema:
            $ref: "#/definitions/Error"
      summary: Returns a daily forecast - Given a Postal Code.
      tags:
        - 16 day / daily Forecast
  "/forecast/energy?lat={lat}&lon={lon}":
    get:
      description: Retrieve an 8 day forecast relevant to te Energy Sector (degree days, solar radiation, precipitation, wind).
      parameters:
        - description: Latitude component of location.
          format: double
          in: path
          name: lat
          required: true
          type: number
        - description: Longitude component of location.
          format: double
          in: path
          name: lon
          required: true
          type: number
        - description: "Temperature threshold to use to calculate degree days (default 18 C) "
          format: double
          in: query
          name: threshold
          required: false
          type: number
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: "Time period (default: daily)"
          enum:
            - hourly
            - daily
          format: string
          in: query
          name: tp
          required: false
          type: string
        - description: "Wraps return in jsonp callback. Example: callback=func"
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        "200":
          description: An Energy Data Object.
          schema:
            $ref: "#/definitions/EnergyObsGroupForecast"
        default:
          description: No Data.
          schema:
            $ref: "#/definitions/Error"
      summary: "Returns Energy Forecast API response  - Given a single lat/lon. "
      tags:
        - Forecast Degree Day API
  "/forecast/hourly?city={city}&country={country}":
    get:
      description: |2
         Returns an hourly forecast, where each point represents a one hour   period. Every point has a datetime string in the format "YYYY-MM-DD:HH". Time is UTC. Accepts a city in the format of City,ST or City. The state, and country parameters can be provided to make the search more accurate.
      parameters:
        - description: City search.. Example - &city=Raleigh,NC or &city=Berlin,DE or city=Paris&country=FR
          format: string
          in: path
          name: city
          required: true
          type: string
        - description: Full name of state.
          format: string
          in: query
          name: state
          required: false
          type: string
        - description: Country Code (2 letter).
          format: string
          in: path
          name: country
          required: true
          type: string
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>"
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: "Wraps return in jsonp callback. Example: callback=func"
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Number of hours to return.
          format: integer
          in: query
          name: hours
          required: false
          type: integer
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        "200":
          description: A forecast object.
          schema:
            $ref: "#/definitions/ForecastHourly"
        default:
          description: No Data.
          schema:
            $ref: "#/definitions/Error"
      summary: Returns an hourly forecast - Given City and/or State, Country.
      tags:
        - 240 hour / hourly Forecast
  "/forecast/hourly?city_id={city_id}":
    get:
      description: |2
         Returns an hourly forecast, where each point represents a one hour   period. Every point has a datetime string in the format "YYYY-MM-DD:HH". Time is UTC. 
      parameters:
        - description: "City ID. Example: 4487042"
          format: integer
          in: path
          name: city_id
          required: true
          type: integer
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>"
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: Wraps return in jsonp callback. Example - callback=func
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Number of hours to return.
          format: integer
          in: query
          name: hours
          required: false
          type: integer
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        "200":
          description: A forecast object.
          schema:
            $ref: "#/definitions/ForecastHourly"
        default:
          description: No Data.
          schema:
            $ref: "#/definitions/Error"
      summary: Returns an hourly forecast - Given a City ID.
      tags:
        - 240 hour / hourly Forecast
  "/forecast/hourly?lat={lat}&lon={lon}":
    get:
      description: |
        Returns an hourly forecast, where each point represents a one hour period. Every point has a datetime string in the format "YYYY-MM-DD:HH". Time is UTC. 
      parameters:
        - description: Latitude component of location.
          format: double
          in: path
          name: lat
          required: true
          type: number
        - description: Longitude component of location.
          format: double
          in: path
          name: lon
          required: true
          type: number
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>"
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: Wraps return in jsonp callback. Example - callback=func
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
        - description: Number of hours to return.
          format: integer
          in: query
          name: hours
          required: false
          type: integer
      responses:
        "200":
          description: A forecast object.
          schema:
            $ref: "#/definitions/ForecastHourly"
        default:
          description: No Data.
          schema:
            $ref: "#/definitions/Error"
      summary: Returns an hourly forecast - Given a lat/lon.
      tags:
        - 240 hour / hourly Forecast
  "/forecast/hourly?postal_code={postal_code}":
    get:
      description: |2
         Returns an hourly forecast, where each point represents a one hour   period. Every point has a datetime string in the format "YYYY-MM-DD:HH". Time is UTC. 
      parameters:
        - description: "Postal Code. Example: 28546"
          format: integer
          in: path
          name: postal_code
          required: true
          type: integer
        - description: Country Code (2 letter).
          format: string
          in: query
          name: country
          required: false
          type: string
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>"
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: Wraps return in jsonp callback. Example - callback=func
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Number of hours to return.
          format: integer
          in: query
          name: hours
          required: false
          type: integer
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        "200":
          description: A forecast object.
          schema:
            $ref: "#/definitions/ForecastHourly"
        default:
          description: No Data.
          schema:
            $ref: "#/definitions/Error"
      summary: Returns an hourly forecast - Given a Postal Code.
      tags:
        - 240 hour / hourly Forecast
  "/history/airquality?city={city}&country={country}":
    get:
      description: Returns historical air quality conditions.
      parameters:
        - description: City search.. Example - &city=Raleigh,NC or &city=Berlin,DE or city=Paris&country=FR
          format: string
          in: path
          name: city
          required: true
          type: string
        - description: Full name of state.
          format: string
          in: query
          name: state
          required: false
          type: string
        - description: Country Code (2 letter).
          format: string
          in: path
          name: country
          required: true
          type: string
        - description: "Wraps return in jsonp callback. Example: callback=func"
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        "200":
          description: Historical air quality conditions
          schema:
            $ref: "#/definitions/AQCurrentGroup"
        default:
          description: No Data.
          schema:
            $ref: "#/definitions/Error"
      summary: Returns 72 hours of historical quality conditions - Given City and/or State, Country.
      tags:
        - Historical Air Quality
  "/history/airquality?city_id={city_id}":
    get:
      description: Returns historical air quality conditions.
      parameters:
        - description: City ID.
          format: double
          in: path
          name: city_id
          required: true
          type: number
        - description: Wraps return in jsonp callback. Example - callback=func
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        "200":
          description: Historical air quality conditions
          schema:
            $ref: "#/definitions/AQCurrentGroup"
        default:
          description: No Data.
          schema:
            $ref: "#/definitions/Error"
      summary: Returns 72 hours of historical air quality conditions - Given a City ID.
      tags:
        - Historical Air Quality
  "/history/airquality?lat={lat}&lon={lon}":
    get:
      description: Returns historical air quality conditions.
      parameters:
        - description: Latitude component of location.
          format: double
          in: path
          name: lat
          required: true
          type: number
        - description: Longitude component of location.
          format: double
          in: path
          name: lon
          required: true
          type: number
        - description: Wraps return in jsonp callback. Example - callback=func
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        "200":
          description: Historical air quality conditions
          schema:
            $ref: "#/definitions/AQCurrentGroup"
        default:
          description: No Data.
          schema:
            $ref: "#/definitions/Error"
      summary: Returns 72 hours of historical air quality conditions - Given a lat/lon.
      tags:
        - Historical Air Quality
  "/history/airquality?postal_code={postal_code}":
    get:
      description: Returns historical air quality conditions.
      parameters:
        - description: "Postal Code. Example: 28546"
          format: integer
          in: path
          name: postal_code
          required: true
          type: integer
        - description: Country Code (2 letter).
          format: string
          in: query
          name: country
          required: false
          type: string
        - description: Wraps return in jsonp callback. Example - callback=func
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        "200":
          description: Historical air quality conditions
          schema:
            $ref: "#/definitions/AQCurrentGroup"
        default:
          description: No Data.
          schema:
            $ref: "#/definitions/Error"
      summary: Returns 72 hours of historical air quality conditions - Given a Postal Code.
      tags:
        - Historical Air Quality
  "/history/daily?city={city}&country={country}":
    get:
      description: Returns Historical Observations - Given a city in the format of City,ST or City. The state, and country parameters can be provided to make the search more accurate. **(LIMIT 1 year per request)**
      parameters:
        - description: City search.. Example - &city=Raleigh,NC or &city=Berlin,DE or city=Paris&country=FR
          format: string
          in: path
          name: city
          required: true
          type: string
        - description: Full name of state.
          format: string
          in: query
          name: state
          required: false
          type: string
        - description: Country Code (2 letter).
          format: string
          in: path
          name: country
          required: true
          type: string
        - description: Start Date (YYYY-MM-DD or YYYY-MM-DD:HH).
          format: string
          in: query
          name: start_date
          required: true
          type: string
        - description: End Date (YYYY-MM-DD or YYYY-MM-DD:HH).
          format: string
          in: query
          name: end_date
          required: true
          type: string
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>"
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: "Wraps return in jsonp callback. Example: callback=func"
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        "200":
          description: An Historical Day Data Object.
          schema:
            $ref: "#/definitions/HistoryDay"
        default:
          description: No Data.
          schema:
            $ref: "#/definitions/Error"
      summary: Returns Historical Observations - Given City and/or State, Country.
      tags:
        - Daily Historical Weather Data
  "/history/daily?city_id={city_id}":
    get:
      description: Returns Historical Observations - Given a City ID. **(LIMIT 1 year per request)**
      parameters:
        - description: "City ID. Example: 4487042"
          format: string
          in: path
          name: city_id
          required: true
          type: string
        - description: Start Date (YYYY-MM-DD or YYYY-MM-DD:HH)
          format: string
          in: query
          name: start_date
          required: true
          type: string
        - description: End Date (YYYY-MM-DD or YYYY-MM-DD:HH)
          format: string
          in: query
          name: end_date
          required: true
          type: string
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>"
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: "Wraps return in jsonp callback. Example: callback=func"
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        "200":
          description: An Historical Day Data Object.
          schema:
            $ref: "#/definitions/HistoryDay"
        default:
          description: No Data.
          schema:
            $ref: "#/definitions/Error"
      summary: Returns Historical Observations - Given a City ID
      tags:
        - Daily Historical Weather Data
  "/history/daily?lat={lat}&lon={lon}":
    get:
      description: Returns Historical Observations - Given a lat, and lon. **(LIMIT 1 year per request)**
      parameters:
        - description: Latitude component of location.
          format: double
          in: path
          name: lat
          required: true
          type: number
        - description: Longitude component of location.
          format: double
          in: path
          name: lon
          required: true
          type: number
        - description: Start Date (YYYY-MM-DD or YYYY-MM-DD:HH).
          format: string
          in: query
          name: start_date
          required: true
          type: string
        - description: End Date (YYYY-MM-DD or YYYY-MM-DD:HH).
          format: string
          in: query
          name: end_date
          required: true
          type: string
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>"
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: "Wraps return in jsonp callback. Example: callback=func"
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        "200":
          description: An Historical Day Data Object.
          schema:
            $ref: "#/definitions/HistoryDay"
        default:
          description: No Data.
          schema:
            $ref: "#/definitions/Error"
      summary: Returns Historical Observations - Given a lat/lon.
      tags:
        - Daily Historical Weather Data
  "/history/daily?postal_code={postal_code}":
    get:
      description: Returns Historical Observations - Given a Postal Code. **(LIMIT 1 year per request)**
      parameters:
        - description: "Postal Code. Example: 28546"
          format: string
          in: path
          name: postal_code
          required: true
          type: string
        - description: Country Code (2 letter).
          format: string
          in: query
          name: country
          required: false
          type: string
        - description: Start Date (YYYY-MM-DD or YYYY-MM-DD:HH)
          format: string
          in: query
          name: start_date
          required: true
          type: string
        - description: End Date (YYYY-MM-DD or YYYY-MM-DD:HH)
          format: string
          in: query
          name: end_date
          required: true
          type: string
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>"
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: "Wraps return in jsonp callback. Example: callback=func"
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        "200":
          description: An Historical Day Data Object.
          schema:
            $ref: "#/definitions/HistoryDay"
        default:
          description: No Data.
          schema:
            $ref: "#/definitions/Error"
      summary: Returns Historical Observations - Given a Postal Code
      tags:
        - Daily Historical Weather Data
  "/history/daily?station={station}":
    get:
      description: Returns Historical Observations - Given a station ID. **(LIMIT 1 year per request)**
      parameters:
        - description: Station ID.
          format: string
          in: path
          name: station
          required: true
          type: string
        - description: Start Date (YYYY-MM-DD or YYYY-MM-DD:HH).
          format: string
          in: query
          name: start_date
          required: true
          type: string
        - description: End Date (YYYY-MM-DD or YYYY-MM-DD:HH).
          format: string
          in: query
          name: end_date
          required: true
          type: string
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>"
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: "Wraps return in jsonp callback. Example: callback=func"
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        "200":
          description: An Historical Day Data Object.
          schema:
            $ref: "#/definitions/HistoryDay"
        default:
          description: No Data.
          schema:
            $ref: "#/definitions/Error"
      summary: Returns Historical Observations - Given a station ID.
      tags:
        - Daily Historical Weather Data
  "/history/energy?lat={lat}&lon={lon}":
    get:
      description: Returns aggregate energy specific historical weather fields, over a specified time period.
      parameters:
        - description: Latitude component of location.
          format: double
          in: path
          name: lat
          required: true
          type: number
        - description: Longitude component of location.
          format: double
          in: path
          name: lon
          required: true
          type: number
        - description: Start Date (YYYY-MM-DD or YYYY-MM-DD:HH).
          format: string
          in: query
          name: start_date
          required: true
          type: string
        - description: End Date (YYYY-MM-DD or YYYY-MM-DD:HH).
          format: string
          in: query
          name: end_date
          required: true
          type: string
        - description: Time period to aggregate by (daily, monthly)
          enum:
            - hourly
            - daily
            - monthly
          format: string
          in: query
          name: tp
          required: false
          type: string
        - description: "Temperature threshold to use to calculate degree days (default 18 C) "
          format: double
          in: query
          name: threshold
          required: false
          type: number
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: "Wraps return in jsonp callback. Example: callback=func"
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        "200":
          description: An Energy Data Object.
          schema:
            $ref: "#/definitions/EnergyObsGroup"
        default:
          description: No Data.
          schema:
            $ref: "#/definitions/Error"
      summary: "Returns Energy API response  - Given a single lat/lon. "
      tags:
        - Historical Degree Day API
  "/history/hourly?city={city}&country={country}":
    get:
      description: Returns Historical Observations - Given a city in the format of City,ST or City. The state, and country parameters can be provided to make the search more accurate. **(LIMIT 31 days per request)**
      parameters:
        - description: City search. Example - &city=Raleigh,NC or &city=Berlin,DE or city=Paris&country=FR
          format: string
          in: path
          name: city
          required: true
          type: string
        - description: Full name of state.
          format: string
          in: query
          name: state
          required: false
          type: string
        - description: Country Code (2 letter).
          format: string
          in: path
          name: country
          required: true
          type: string
        - description: Start Date (YYYY-MM-DD or YYYY-MM-DD:HH).
          format: string
          in: query
          name: start_date
          required: true
          type: string
        - description: End Date (YYYY-MM-DD or YYYY-MM-DD:HH).
          format: string
          in: query
          name: end_date
          required: true
          type: string
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>"
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: Assume utc (default) or local time for start_date, end_date
          enum:
            - local
            - utc
          format: string
          in: query
          name: tz
          required: false
          type: string
        - description: "Wraps return in jsonp callback. Example: callback=func"
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        "200":
          description: An Historical Data Object.
          schema:
            $ref: "#/definitions/History"
        default:
          description: No Data.
          schema:
            $ref: "#/definitions/Error"
      summary: Returns Historical Observations - Given City and/or State, Country.
      tags:
        - Hourly Historical Weather Data
  "/history/hourly?city_id={city_id}":
    get:
      description: Returns Historical Observations - Given a City ID. **(LIMIT 31 days per request)**
      parameters:
        - description: "City ID. Example: 4487042"
          format: string
          in: path
          name: city_id
          required: true
          type: string
        - description: Start Date (YYYY-MM-DD or YYYY-MM-DD:HH)
          format: string
          in: query
          name: start_date
          required: true
          type: string
        - description: End Date (YYYY-MM-DD or YYYY-MM-DD:HH)
          format: string
          in: query
          name: end_date
          required: true
          type: string
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>"
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: Assume utc (default) or local time for start_date, end_date
          enum:
            - local
            - utc
          format: string
          in: query
          name: tz
          required: false
          type: string
        - description: "Wraps return in jsonp callback. Example: callback=func"
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        "200":
          description: An Historical Data Object.
          schema:
            $ref: "#/definitions/History"
        default:
          description: No Data.
          schema:
            $ref: "#/definitions/Error"
      summary: Returns Historical Observations - Given a City ID
      tags:
        - Hourly Historical Weather Data
  "/history/hourly?lat={lat}&lon={lon}":
    get:
      description: Returns Historical Observations - Given a lat, and lon. **(LIMIT 31 days per request)**
      parameters:
        - description: Latitude component of location.
          format: double
          in: path
          name: lat
          required: true
          type: number
        - description: Longitude component of location.
          format: double
          in: path
          name: lon
          required: true
          type: number
        - description: Start Date (YYYY-MM-DD or YYYY-MM-DD:HH).
          format: string
          in: query
          name: start_date
          required: true
          type: string
        - description: End Date (YYYY-MM-DD or YYYY-MM-DD:HH).
          format: string
          in: query
          name: end_date
          required: true
          type: string
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>"
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: Assume utc (default) or local time for start_date, end_date
          enum:
            - local
            - utc
          format: string
          in: query
          name: tz
          required: false
          type: string
        - description: "Wraps return in jsonp callback. Example: callback=func"
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        "200":
          description: An Historical Data Object.
          schema:
            $ref: "#/definitions/History"
        default:
          description: No Data.
          schema:
            $ref: "#/definitions/Error"
      summary: Returns Historical Observations - Given a lat/lon.
      tags:
        - Hourly Historical Weather Data
  "/history/hourly?postal_code={postal_code}":
    get:
      description: Returns Historical Observations - Given a Postal Code. **(LIMIT 31 days per request)**
      parameters:
        - description: "Postal Code. Example: 28546"
          format: string
          in: path
          name: postal_code
          required: true
          type: string
        - description: Country Code (2 letter).
          format: string
          in: query
          name: country
          required: false
          type: string
        - description: Start Date (YYYY-MM-DD or YYYY-MM-DD:HH)
          format: string
          in: query
          name: start_date
          required: true
          type: string
        - description: End Date (YYYY-MM-DD or YYYY-MM-DD:HH)
          format: string
          in: query
          name: end_date
          required: true
          type: string
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>"
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: Assume utc (default) or local time for start_date, end_date
          enum:
            - local
            - utc
          format: string
          in: query
          name: tz
          required: false
          type: string
        - description: "Wraps return in jsonp callback. Example: callback=func"
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        "200":
          description: An Historical Data Object.
          schema:
            $ref: "#/definitions/History"
        default:
          description: No Data.
          schema:
            $ref: "#/definitions/Error"
      summary: Returns Historical Observations - Given a Postal Code
      tags:
        - Hourly Historical Weather Data
  "/history/hourly?station={station}":
    get:
      description: Returns Historical Observations - Given a station ID. **(LIMIT 31 days per request)**
      parameters:
        - description: Station ID.
          format: string
          in: path
          name: station
          required: true
          type: string
        - description: Start Date (YYYY-MM-DD or YYYY-MM-DD:HH).
          format: string
          in: query
          name: start_date
          required: true
          type: string
        - description: End Date (YYYY-MM-DD or YYYY-MM-DD:HH).
          format: string
          in: query
          name: end_date
          required: true
          type: string
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>"
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: Assume utc (default) or local time for start_date, end_date
          enum:
            - local
            - utc
          format: string
          in: query
          name: tz
          required: false
          type: string
        - description: "Wraps return in jsonp callback. Example: callback=func"
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        "200":
          description: An Historical Data Object.
          schema:
            $ref: "#/definitions/History"
        default:
          description: No Data.
          schema:
            $ref: "#/definitions/Error"
      summary: Returns Historical Observations - Given a station ID.
      tags:
        - Hourly Historical Weather Data
  "/history/subhourly?city={city}&country={country}":
    get:
      description: Returns Historical Observations - Given a city in the format of City,ST or City. The state, and country parameters can be provided to make the search more accurate.
      parameters:
        - description: City search. Example - &city=Raleigh,NC or &city=Berlin,DE or city=Paris&country=FR
          format: string
          in: path
          name: city
          required: true
          type: string
        - description: Full name of state.
          format: string
          in: query
          name: state
          required: false
          type: string
        - description: Country Code (2 letter).
          format: string
          in: path
          name: country
          required: true
          type: string
        - description: Start Date (YYYY-MM-DD or YYYY-MM-DD:HH).
          format: string
          in: query
          name: start_date
          required: true
          type: string
        - description: End Date (YYYY-MM-DD or YYYY-MM-DD:HH).
          format: string
          in: query
          name: end_date
          required: true
          type: string
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>"
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: Assume utc (default) or local time for start_date, end_date
          enum:
            - local
            - utc
          format: string
          in: query
          name: tz
          required: false
          type: string
        - description: "Wraps return in jsonp callback. Example: callback=func"
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        "200":
          description: An Historical Data Object.
          schema:
            $ref: "#/definitions/History"
        default:
          description: No Data.
          schema:
            $ref: "#/definitions/Error"
      summary: Returns Historical Observations - Given City and/or State, Country.
      tags:
        - Sub-Hourly Historical Weather Data
  "/history/subhourly?city_id={city_id}":
    get:
      description: Returns Historical Observations - Given a City ID.
      parameters:
        - description: "City ID. Example: 4487042"
          format: string
          in: path
          name: city_id
          required: true
          type: string
        - description: Start Date (YYYY-MM-DD or YYYY-MM-DD:HH)
          format: string
          in: query
          name: start_date
          required: true
          type: string
        - description: End Date (YYYY-MM-DD or YYYY-MM-DD:HH)
          format: string
          in: query
          name: end_date
          required: true
          type: string
        - description: Convert to units. Default Metric See <a target='blank' href='/api/requests'>units field description</a>
          enum:
            - S
            - I
          format: string
          in: query
          name: units
          required: false
          type: string
        - description: "Language (Default: English) See <a target='blank' href='/api/requests'>language field description</a>"
          enum:
            - ar
            - az
            - be
            - bg
            - bs
            - ca
            - cs
            - de
            - fi
            - fr
            - el
            - es
            - et
            - hr
            - hu
            - id
            - it
            - is
            - kw
            - nb
            - nl
            - pl
            - pt
            - ro
            - ru
            - sk
            - sl
            - sr
            - sv
            - tr
            - uk
            - zh
            - zh-tw
          format: string
          in: query
          name: lang
          required: false
          type: string
        - description: Assume utc (default) or local time for start_date, end_date
          enum:
            - local
            - utc
          format: string
          in: query
          name: tz
          required: false
          type: string
        - description: "Wraps return in jsonp callback. Example: callback=func"
          format: string
          in: query
          name: callback
          required: false
          type: string
        - description: Your registered API key.
          format: string
          in: query
          name: key
          required: true
          type: string
      responses:
        "200":
          description: An Historical Data Object.
          schema:
            $ref: "#/definitions/HistorySubhourly"
        default:
          description: No Data.
          schema:
            $ref: "#/definitions/Error"
      summary: Returns Historical Observations - Given a City ID
      tags:
        - Sub-Hourly Historical Weather Data
  "/history/subhourly?lat={lat}&lon={lon}":
    get:
      description: Returns Historical Observations - Given a lat, and lon.
      parameters:
        - description: Latitude component of location.
          format: double
          in: path
          name: lat
          required: true
          type: number
        - description: Longitude component of location.
          format: double
          in: path
          name: lon
          required: true
          type: number
        - description: Start Date (YYYY-MM-DD or YYYY-MM-DD:HH).
          format: string
          in: query
          name: start_date
[...]
