openapi: 3.0.0
servers:
  - url: https://manufacturers.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Public API for managing Manufacturer Center related data.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Manufacturer Center API
  version: v1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
    - converter:
        url: https://github.com/mermade/oas-kit
        version: 7.0.4
      format: google
      url: https://manufacturers.googleapis.com/$discovery/rest?version=v1
      version: v1
  x-providerName: googleapis.com
  x-serviceName: manufacturers
externalDocs:
  url: https://developers.google.com/manufacturers/
tags:
  - name: accounts
paths:
  "/v1/{parent}/products":
    get:
      description: Lists all the products in a Manufacturer Center account.
      operationId: manufacturers.accounts.products.list
      parameters:
        - description: Parent ID in the format `accounts/{account_id}`. `account_id` - The
            ID of the Manufacturer Center account.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The information to be included in the response. Only sections
            listed here will be returned.
          explode: true
          in: query
          name: include
          schema:
            items:
              enum:
                - UNKNOWN
                - ATTRIBUTES
                - ISSUES
                - DESTINATION_STATUSES
              type: string
            type: array
          style: form
        - description: Maximum number of product statuses to return in the response, used
            for paging.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListProductsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/manufacturercenter
          Oauth2c:
            - https://www.googleapis.com/auth/manufacturercenter
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{parent}/products/{name}":
    delete:
      description: Deletes the product from a Manufacturer Center account.
      operationId: manufacturers.accounts.products.delete
      parameters:
        - description: Parent ID in the format `accounts/{account_id}`. `account_id` - The
            ID of the Manufacturer Center account.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Name in the format
            `{target_country}:{content_language}:{product_id}`. `target_country`
            - The target country of the product as a CLDR territory code (for
            example, US). `content_language` - The content language of the
            product as a two-letter ISO 639-1 language code (for example, en).
            `product_id` - The ID of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#id.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/manufacturercenter
          Oauth2c:
            - https://www.googleapis.com/auth/manufacturercenter
      tags:
        - accounts
    get:
      description: Gets the product from a Manufacturer Center account, including
        product issues. A recently updated product takes around 15 minutes to
        process. Changes are only visible after it has been processed. While
        some issues may be available once the product has been processed, other
        issues may take days to appear.
      operationId: manufacturers.accounts.products.get
      parameters:
        - description: Parent ID in the format `accounts/{account_id}`. `account_id` - The
            ID of the Manufacturer Center account.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Name in the format
            `{target_country}:{content_language}:{product_id}`. `target_country`
            - The target country of the product as a CLDR territory code (for
            example, US). `content_language` - The content language of the
            product as a two-letter ISO 639-1 language code (for example, en).
            `product_id` - The ID of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#id.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: The information to be included in the response. Only sections
            listed here will be returned.
          explode: true
          in: query
          name: include
          schema:
            items:
              enum:
                - UNKNOWN
                - ATTRIBUTES
                - ISSUES
                - DESTINATION_STATUSES
              type: string
            type: array
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/manufacturercenter
          Oauth2c:
            - https://www.googleapis.com/auth/manufacturercenter
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    put:
      description: Inserts or updates the attributes of the product in a Manufacturer
        Center account. Creates a product with the provided attributes. If the
        product already exists, then all attributes are replaced with the new
        ones. The checks at upload time are minimal. All required attributes
        need to be present for a product to be valid. Issues may show up later
        after the API has accepted a new upload for a product and it is possible
        to overwrite an existing valid product with an invalid product. To
        detect this, you should retrieve the product and check it for issues
        once the new version is available. Uploaded attributes first need to be
        processed before they can be retrieved. Until then, new products will be
        unavailable, and retrieval of previously uploaded products will return
        the original state of the product.
      operationId: manufacturers.accounts.products.update
      parameters:
        - description: Parent ID in the format `accounts/{account_id}`. `account_id` - The
            ID of the Manufacturer Center account.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Name in the format
            `{target_country}:{content_language}:{product_id}`. `target_country`
            - The target country of the product as a CLDR territory code (for
            example, US). `content_language` - The content language of the
            product as a two-letter ISO 639-1 language code (for example, en).
            `product_id` - The ID of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#id.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Attributes"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/manufacturercenter
          Oauth2c:
            - https://www.googleapis.com/auth/manufacturercenter
      tags:
        - accounts
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with
        API access, quota, and reports. Required unless you provide an OAuth 2.0
        token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications.
        Can be any arbitrary string assigned to a user, but should not exceed 40
        characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    Attributes:
      description: Attributes of the product. For more information, see
        https://support.google.com/manufacturers/answer/6124116.
      properties:
        additionalImageLink:
          description: The additional images of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#addlimage.
          items:
            $ref: "#/components/schemas/Image"
          type: array
        ageGroup:
          description: The target age group of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#agegroup.
          type: string
        brand:
          description: The brand name of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#brand.
          type: string
        capacity:
          $ref: "#/components/schemas/Capacity"
          description: The capacity of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#capacity.
        color:
          description: The color of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#color.
          type: string
        count:
          $ref: "#/components/schemas/Count"
          description: The count of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#count.
        description:
          description: The description of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#description.
          type: string
        disclosureDate:
          description: The disclosure date of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#disclosure.
          type: string
        excludedDestination:
          description: A list of excluded destinations.
          items:
            type: string
          type: array
        featureDescription:
          description: The rich format description of the product. For more information,
            see
            https://support.google.com/manufacturers/answer/6124116#featuredesc.
          items:
            $ref: "#/components/schemas/FeatureDescription"
          type: array
        flavor:
          description: The flavor of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#flavor.
          type: string
        format:
          description: The format of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#format.
          type: string
        gender:
          description: The target gender of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#gender.
          type: string
        gtin:
          description: The Global Trade Item Number (GTIN) of the product. For more
            information, see
            https://support.google.com/manufacturers/answer/6124116#gtin.
          items:
            type: string
          type: array
        imageLink:
          $ref: "#/components/schemas/Image"
          description: The image of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#image.
        includedDestination:
          description: A list of included destinations.
          items:
            type: string
          type: array
        itemGroupId:
          description: The item group id of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#itemgroupid.
          type: string
        material:
          description: The material of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#material.
          type: string
        mpn:
          description: The Manufacturer Part Number (MPN) of the product. For more
            information, see
            https://support.google.com/manufacturers/answer/6124116#mpn.
          type: string
        pattern:
          description: The pattern of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#pattern.
          type: string
        productDetail:
          description: The details of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#productdetail.
          items:
            $ref: "#/components/schemas/ProductDetail"
          type: array
        productHighlight:
          description: The product highlights. For more information, see
            https://support.google.com/manufacturers/answer/10066942
          items:
            type: string
          type: array
        productLine:
          description: The name of the group of products related to the product. For more
            information, see
            https://support.google.com/manufacturers/answer/6124116#productline.
          type: string
        productName:
          description: The canonical name of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#productname.
          type: string
        productPageUrl:
          description: The URL of the detail page of the product. For more information,
            see
            https://support.google.com/manufacturers/answer/6124116#productpage.
          type: string
        productType:
          description: The type or category of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#producttype.
          items:
            type: string
          type: array
        releaseDate:
          description: The release date of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#release.
          type: string
        richProductContent:
          description: Rich product content. For more information, see
            https://support.google.com/manufacturers/answer/9389865
          items:
            type: string
          type: array
        scent:
          description: The scent of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#scent.
          type: string
        size:
          description: The size of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#size.
          type: string
        sizeSystem:
          description: The size system of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#sizesystem.
          type: string
        sizeType:
          description: The size type of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#sizetype.
          items:
            type: string
          type: array
        suggestedRetailPrice:
          $ref: "#/components/schemas/Price"
          description: The suggested retail price (MSRP) of the product. For more
            information, see
            https://support.google.com/manufacturers/answer/6124116#price.
        targetClientId:
          description: The target client id. Should only be used in the accounts of the
            data partners.
          type: string
        theme:
          description: The theme of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#theme.
          type: string
        title:
          description: The title of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#title.
          type: string
        videoLink:
          description: The videos of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#video.
          items:
            type: string
          type: array
      type: object
    Capacity:
      description: The capacity of a product. For more information, see
        https://support.google.com/manufacturers/answer/6124116#capacity.
      properties:
        unit:
          description: The unit of the capacity, i.e., MB, GB, or TB.
          type: string
        value:
          description: The numeric value of the capacity.
          format: int64
          type: string
      type: object
    Count:
      description: The number of products in a single package. For more information,
        see https://support.google.com/manufacturers/answer/6124116#count.
      properties:
        unit:
          description: The unit in which these products are counted.
          type: string
        value:
          description: The numeric value of the number of products in a package.
          format: int64
          type: string
      type: object
    DestinationStatus:
      description: The destination status.
      properties:
        destination:
          description: The name of the destination.
          type: string
        status:
          description: The status of the destination.
          enum:
            - UNKNOWN
            - ACTIVE
            - PENDING
            - DISAPPROVED
          type: string
      type: object
    Empty:
      description: "A generic empty message that you can re-use to avoid defining
        duplicated empty messages in your APIs. A typical example is to use it
        as the request or the response type of an API method. For instance:
        service Foo { rpc Bar(google.protobuf.Empty) returns
        (google.protobuf.Empty); } The JSON representation for `Empty` is empty
        JSON object `{}`."
      properties: {}
      type: object
    FeatureDescription:
      description: A feature description of the product. For more information, see
        https://support.google.com/manufacturers/answer/6124116#featuredesc.
      properties:
        headline:
          description: A short description of the feature.
          type: string
        image:
          $ref: "#/components/schemas/Image"
          description: An optional image describing the feature.
        text:
          description: A detailed description of the feature.
          type: string
      type: object
    Image:
      description: An image.
      properties:
        imageUrl:
          description: The URL of the image. For crawled images, this is the provided URL.
            For uploaded images, this is a serving URL from Google if the image
            has been processed successfully.
          type: string
        status:
          description: The status of the image. @OutputOnly
          enum:
            - STATUS_UNSPECIFIED
            - PENDING_PROCESSING
            - PENDING_CRAWL
            - OK
            - ROBOTED
            - XROBOTED
            - CRAWL_ERROR
            - PROCESSING_ERROR
            - DECODING_ERROR
            - TOO_BIG
            - CRAWL_SKIPPED
            - HOSTLOADED
            - HTTP_404
          type: string
        type:
          description: The type of the image, i.e., crawled or uploaded. @OutputOnly
          enum:
            - TYPE_UNSPECIFIED
            - CRAWLED
            - UPLOADED
          type: string
      type: object
    Issue:
      description: Product issue.
      properties:
        attribute:
          description: If present, the attribute that triggered the issue. For more
            information about attributes, see
            https://support.google.com/manufacturers/answer/6124116.
          type: string
        description:
          description: Longer description of the issue focused on how to resolve it.
          type: string
        destination:
          description: The destination this issue applies to.
          type: string
        resolution:
          description: What needs to happen to resolve the issue.
          enum:
            - RESOLUTION_UNSPECIFIED
            - USER_ACTION
            - PENDING_PROCESSING
          type: string
        severity:
          description: The severity of the issue.
          enum:
            - SEVERITY_UNSPECIFIED
            - ERROR
            - WARNING
            - INFO
          type: string
        timestamp:
          description: The timestamp when this issue appeared.
          format: google-datetime
          type: string
        title:
          description: Short title describing the nature of the issue.
          type: string
        type:
          description: The server-generated type of the issue, for example,
            “INCORRECT_TEXT_FORMATTING”, “IMAGE_NOT_SERVEABLE”, etc.
          type: string
      type: object
    ListProductsResponse:
      properties:
        nextPageToken:
          description: The token for the retrieval of the next page of product statuses.
          type: string
        products:
          description: List of the products.
          items:
            $ref: "#/components/schemas/Product"
          type: array
      type: object
    Price:
      description: A price.
      properties:
        amount:
          description: The numeric value of the price.
          type: string
        currency:
          description: The currency in which the price is denoted.
          type: string
      type: object
    Product:
      description: Product data.
      properties:
        attributes:
          $ref: "#/components/schemas/Attributes"
          description: Attributes of the product uploaded to the Manufacturer Center.
            Manually edited attributes are taken into account.
        contentLanguage:
          description: The content language of the product as a two-letter ISO 639-1
            language code (for example, en).
          type: string
        destinationStatuses:
          description: The status of the destinations.
          items:
            $ref: "#/components/schemas/DestinationStatus"
          type: array
        issues:
          description: A server-generated list of issues associated with the product.
          items:
            $ref: "#/components/schemas/Issue"
          type: array
        name:
          description: Name in the format
            `{target_country}:{content_language}:{product_id}`. `target_country`
            - The target country of the product as a CLDR territory code (for
            example, US). `content_language` - The content language of the
            product as a two-letter ISO 639-1 language code (for example, en).
            `product_id` - The ID of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#id.
          type: string
        parent:
          description: Parent ID in the format `accounts/{account_id}`. `account_id` - The
            ID of the Manufacturer Center account.
          type: string
        productId:
          description: The ID of the product. For more information, see
            https://support.google.com/manufacturers/answer/6124116#id.
          type: string
        targetCountry:
          description: The target country of the product as a CLDR territory code (for
            example, US).
          type: string
      type: object
    ProductDetail:
      description: A product detail of the product. For more information, see
        https://support.google.com/manufacturers/answer/6124116#productdetail.
      properties:
        attributeName:
          description: The name of the attribute.
          type: string
        attributeValue:
          description: The value of the attribute.
          type: string
        sectionName:
          description: A short section name that can be reused between multiple product
            details.
          type: string
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/manufacturercenter: Manage your product listings for Google Manufacturer Center
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/manufacturercenter: Manage your product listings for Google Manufacturer Center
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
