swagger: '2.0'
schemes:
  - https
host: manufacturers.googleapis.com
basePath: /
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: Public API for managing Manufacturer Center related data.
  title: Manufacturer Center
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-apisguru-categories:
    - marketing
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.6.2
      format: google
      url: 'https://manufacturers.googleapis.com/$discovery/rest?version=v1'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: manufacturers
externalDocs:
  url: 'https://developers.google.com/manufacturers/'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/manufacturercenter': Manage your product listings for Google Manufacturer Center
    type: oauth2
parameters:
  $.xgafv:
    description: V1 error format.
    enum:
      - '1'
      - '2'
    in: query
    name: $.xgafv
    type: string
  access_token:
    description: OAuth access token.
    in: query
    name: access_token
    type: string
  alt:
    default: json
    description: Data format for response.
    enum:
      - json
      - media
      - proto
    in: query
    name: alt
    type: string
  bearer_token:
    description: OAuth bearer token.
    in: query
    name: bearer_token
    type: string
  callback:
    description: JSONP
    in: query
    name: callback
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  pp:
    default: true
    description: Pretty-print response.
    in: query
    name: pp
    type: boolean
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
    in: query
    name: quotaUser
    type: string
  uploadType:
    description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
    in: query
    name: uploadType
    type: string
  upload_protocol:
    description: 'Upload protocol for media (e.g. "raw", "multipart").'
    in: query
    name: upload_protocol
    type: string
tags:
  - name: accounts
paths:
  '/v1/{parent}/products':
    get:
      description: Lists all the products in a Manufacturer Center account.
      operationId: manufacturers.accounts.products.list
      parameters:
        - collectionFormat: multi
          description: |-
            The information to be included in the response. Only sections listed here
            will be returned.

            If this parameter is not specified, ATTRIBUTES and ISSUES are returned.
            This behavior is temporary and will be removed once all clients are ready
            or at the latest end of July 2018. After that no sections will be returned.
          in: query
          items:
            enum:
              - UNKNOWN
              - ATTRIBUTES
              - ISSUES
              - DESTINATION_STATUSES
            type: string
          name: include
          type: array
        - description: |-
            Maximum number of product statuses to return in the response, used for
            paging.
          in: query
          name: pageSize
          type: integer
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          type: string
        - description: |-
            Parent ID in the format `accounts/{account_id}`.

            `account_id` - The ID of the Manufacturer Center account.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListProductsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/manufacturercenter'
      tags:
        - accounts
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v1/{parent}/products/{name}':
    delete:
      description: Deletes the product from a Manufacturer Center account.
      operationId: manufacturers.accounts.products.delete
      parameters:
        - description: |-
            Name in the format `{target_country}:{content_language}:{product_id}`.

            `target_country`   - The target country of the product as a CLDR territory
                                 code (for example, US).

            `content_language` - The content language of the product as a two-letter
                                 ISO 639-1 language code (for example, en).

            `product_id`     -   The ID of the product. For more information, see
                                 https://support.google.com/manufacturers/answer/6124116#id.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
        - description: |-
            Parent ID in the format `accounts/{account_id}`.

            `account_id` - The ID of the Manufacturer Center account.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/manufacturercenter'
      tags:
        - accounts
    get:
      description: |-
        Gets the product from a Manufacturer Center account, including product
        issues.

        A recently updated product takes around 15 minutes to process. Changes are
        only visible after it has been processed. While some issues may be
        available once the product has been processed, other issues may take days
        to appear.
      operationId: manufacturers.accounts.products.get
      parameters:
        - collectionFormat: multi
          description: |-
            The information to be included in the response. Only sections listed here
            will be returned.

            If this parameter is not specified, ATTRIBUTES and ISSUES are returned.
            This behavior is temporary and will be removed once all clients are ready
            or at the latest end of July 2018. After that no sections will be returned.
          in: query
          items:
            enum:
              - UNKNOWN
              - ATTRIBUTES
              - ISSUES
              - DESTINATION_STATUSES
            type: string
          name: include
          type: array
        - description: |-
            Name in the format `{target_country}:{content_language}:{product_id}`.

            `target_country`   - The target country of the product as a CLDR territory
                                 code (for example, US).

            `content_language` - The content language of the product as a two-letter
                                 ISO 639-1 language code (for example, en).

            `product_id`     -   The ID of the product. For more information, see
                                 https://support.google.com/manufacturers/answer/6124116#id.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
        - description: |-
            Parent ID in the format `accounts/{account_id}`.

            `account_id` - The ID of the Manufacturer Center account.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Product'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/manufacturercenter'
      tags:
        - accounts
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    put:
      description: |-
        Inserts or updates the attributes of the product in a Manufacturer Center
        account.

        Creates a product with the provided attributes. If the product already
        exists, then all attributes are replaced with the new ones. The checks at
        upload time are minimal. All required attributes need to be present for a
        product to be valid. Issues may show up later after the API has accepted a
        new upload for a product and it is possible to overwrite an existing valid
        product with an invalid product. To detect this, you should retrieve the
        product and check it for issues once the new version is available.

        Uploaded attributes first need to be processed before they can be
        retrieved. Until then, new products will be unavailable, and retrieval
        of previously uploaded products will return the original state of the
        product.
      operationId: manufacturers.accounts.products.update
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Attributes'
        - description: |-
            Name in the format `{target_country}:{content_language}:{product_id}`.

            `target_country`   - The target country of the product as a CLDR territory
                                 code (for example, US).

            `content_language` - The content language of the product as a two-letter
                                 ISO 639-1 language code (for example, en).

            `product_id`     -   The ID of the product. For more information, see
                                 https://support.google.com/manufacturers/answer/6124116#id.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
        - description: |-
            Parent ID in the format `accounts/{account_id}`.

            `account_id` - The ID of the Manufacturer Center account.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/manufacturercenter'
      tags:
        - accounts
definitions:
  Attributes:
    description: |-
      Attributes of the product. For more information, see
      https://support.google.com/manufacturers/answer/6124116.
    properties:
      additionalImageLink:
        description: |-
          The additional images of the product. For more information, see
          https://support.google.com/manufacturers/answer/6124116#addlimage.
        items:
          $ref: '#/definitions/Image'
        type: array
      ageGroup:
        description: |-
          The target age group of the product. For more information, see
          https://support.google.com/manufacturers/answer/6124116#agegroup.
        type: string
      brand:
        description: |-
          The brand name of the product. For more information, see
          https://support.google.com/manufacturers/answer/6124116#brand.
        type: string
      capacity:
        $ref: '#/definitions/Capacity'
        description: |-
          The capacity of the product. For more information, see
          https://support.google.com/manufacturers/answer/6124116#capacity.
      color:
        description: |-
          The color of the product. For more information, see
          https://support.google.com/manufacturers/answer/6124116#color.
        type: string
      count:
        $ref: '#/definitions/Count'
        description: |-
          The count of the product. For more information, see
          https://support.google.com/manufacturers/answer/6124116#count.
      description:
        description: |-
          The description of the product. For more information, see
          https://support.google.com/manufacturers/answer/6124116#description.
        type: string
      disclosureDate:
        description: |-
          The disclosure date of the product. For more information, see
          https://support.google.com/manufacturers/answer/6124116#disclosure.
        type: string
      excludedDestination:
        description: A list of excluded destinations.
        items:
          type: string
        type: array
      featureDescription:
        description: |-
          The rich format description of the product. For more information, see
          https://support.google.com/manufacturers/answer/6124116#featuredesc.
        items:
          $ref: '#/definitions/FeatureDescription'
        type: array
      flavor:
        description: |-
          The flavor of the product. For more information, see
          https://support.google.com/manufacturers/answer/6124116#flavor.
        type: string
      format:
        description: |-
          The format of the product. For more information, see
          https://support.google.com/manufacturers/answer/6124116#format.
        type: string
      gender:
        description: |-
          The target gender of the product. For more information, see
          https://support.google.com/manufacturers/answer/6124116#gender.
        type: string
      gtin:
        description: |-
          The Global Trade Item Number (GTIN) of the product. For more information,
          see https://support.google.com/manufacturers/answer/6124116#gtin.
        items:
          type: string
        type: array
      imageLink:
        $ref: '#/definitions/Image'
        description: |-
          The image of the product. For more information, see
          https://support.google.com/manufacturers/answer/6124116#image.
      includedDestination:
        description: A list of included destinations.
        items:
          type: string
        type: array
      itemGroupId:
        description: |-
          The item group id of the product. For more information, see
          https://support.google.com/manufacturers/answer/6124116#itemgroupid.
        type: string
      material:
        description: |-
          The material of the product. For more information, see
          https://support.google.com/manufacturers/answer/6124116#material.
        type: string
      mpn:
        description: |-
          The Manufacturer Part Number (MPN) of the product. For more information,
          see https://support.google.com/manufacturers/answer/6124116#mpn.
        type: string
      pattern:
        description: |-
          The pattern of the product. For more information, see
          https://support.google.com/manufacturers/answer/6124116#pattern.
        type: string
      productDetail:
        description: |-
          The details of the product. For more information, see
          https://support.google.com/manufacturers/answer/6124116#productdetail.
        items:
          $ref: '#/definitions/ProductDetail'
        type: array
      productLine:
        description: |-
          The name of the group of products related to the product. For more
          information, see
          https://support.google.com/manufacturers/answer/6124116#productline.
        type: string
      productName:
        description: |-
          The canonical name of the product. For more information, see
          https://support.google.com/manufacturers/answer/6124116#productname.
        type: string
      productPageUrl:
        description: |-
          The URL of the detail page of the product. For more information, see
          https://support.google.com/manufacturers/answer/6124116#productpage.
        type: string
      productType:
        description: |-
          The type or category of the product. For more information, see
          https://support.google.com/manufacturers/answer/6124116#producttype.
        items:
          type: string
        type: array
      releaseDate:
        description: |-
          The release date of the product. For more information, see
          https://support.google.com/manufacturers/answer/6124116#release.
        type: string
      scent:
        description: |-
          The scent of the product. For more information, see
           https://support.google.com/manufacturers/answer/6124116#scent.
        type: string
      size:
        description: |-
          The size of the product. For more information, see
          https://support.google.com/manufacturers/answer/6124116#size.
        type: string
      sizeSystem:
        description: |-
          The size system of the product. For more information, see
          https://support.google.com/manufacturers/answer/6124116#sizesystem.
        type: string
      sizeType:
        description: |-
          The size type of the product. For more information, see
          https://support.google.com/manufacturers/answer/6124116#sizetype.
        type: string
      suggestedRetailPrice:
        $ref: '#/definitions/Price'
        description: |-
          The suggested retail price (MSRP) of the product. For more information,
          see https://support.google.com/manufacturers/answer/6124116#price.
      targetClientId:
        description: |-
          The target client id. Should only be used in the accounts of the data
          partners.
        type: string
      theme:
        description: |-
          The theme of the product. For more information, see
          https://support.google.com/manufacturers/answer/6124116#theme.
        type: string
      title:
        description: |-
          The title of the product. For more information, see
          https://support.google.com/manufacturers/answer/6124116#title.
        type: string
      videoLink:
        description: |-
          The videos of the product. For more information, see
          https://support.google.com/manufacturers/answer/6124116#video.
        items:
          type: string
        type: array
    type: object
  Capacity:
    description: |-
      The capacity of a product. For more information, see
      https://support.google.com/manufacturers/answer/6124116#capacity.
    properties:
      unit:
        description: 'The unit of the capacity, i.e., MB, GB, or TB.'
        type: string
      value:
        description: The numeric value of the capacity.
        format: int64
        type: string
    type: object
  Count:
    description: |-
      The number of products in a single package. For more information, see
      https://support.google.com/manufacturers/answer/6124116#count.
    properties:
      unit:
        description: The unit in which these products are counted.
        type: string
      value:
        description: The numeric value of the number of products in a package.
        format: int64
        type: string
    type: object
  DestinationStatus:
    description: The destination status.
    properties:
      destination:
        description: The name of the destination.
        type: string
      status:
        description: The status of the destination.
        enum:
          - UNKNOWN
          - ACTIVE
          - PENDING
          - DISAPPROVED
        type: string
    type: object
  Empty:
    description: |-
      A generic empty message that you can re-use to avoid defining duplicated
      empty messages in your APIs. A typical example is to use it as the request
      or the response type of an API method. For instance:

          service Foo {
            rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);
          }

      The JSON representation for `Empty` is empty JSON object `{}`.
    properties: {}
    type: object
  FeatureDescription:
    description: |-
      A feature description of the product. For more information, see
      https://support.google.com/manufacturers/answer/6124116#featuredesc.
    properties:
      headline:
        description: A short description of the feature.
        type: string
      image:
        $ref: '#/definitions/Image'
        description: An optional image describing the feature.
      text:
        description: A detailed description of the feature.
        type: string
    type: object
  Image:
    description: An image.
    properties:
      imageUrl:
        description: |-
          The URL of the image. For crawled images, this is the provided URL. For
          uploaded images, this is a serving URL from Google if the image has been
          processed successfully.
        type: string
      status:
        description: |-
          The status of the image.
          @OutputOnly
        enum:
          - STATUS_UNSPECIFIED
          - PENDING_PROCESSING
          - PENDING_CRAWL
          - OK
          - ROBOTED
          - XROBOTED
          - CRAWL_ERROR
          - PROCESSING_ERROR
          - DECODING_ERROR
          - TOO_BIG
          - CRAWL_SKIPPED
          - HOSTLOADED
          - HTTP_404
        type: string
      type:
        description: |-
          The type of the image, i.e., crawled or uploaded.
          @OutputOnly
        enum:
          - TYPE_UNSPECIFIED
          - CRAWLED
          - UPLOADED
        type: string
    type: object
  Issue:
    description: Product issue.
    properties:
      attribute:
        description: |-
          If present, the attribute that triggered the issue. For more information
          about attributes, see
          https://support.google.com/manufacturers/answer/6124116.
        type: string
      description:
        description: Longer description of the issue focused on how to resolve it.
        type: string
      destination:
        description: The destination this issue applies to.
        type: string
      resolution:
        description: What needs to happen to resolve the issue.
        enum:
          - RESOLUTION_UNSPECIFIED
          - USER_ACTION
          - PENDING_PROCESSING
        type: string
      severity:
        description: The severity of the issue.
        enum:
          - SEVERITY_UNSPECIFIED
          - ERROR
          - WARNING
          - INFO
        type: string
      timestamp:
        description: The timestamp when this issue appeared.
        format: google-datetime
        type: string
      title:
        description: Short title describing the nature of the issue.
        type: string
      type:
        description: |-
          The server-generated type of the issue, for example,
          “INCORRECT_TEXT_FORMATTING”, “IMAGE_NOT_SERVEABLE”, etc.
        type: string
    type: object
  ListProductsResponse:
    properties:
      nextPageToken:
        description: The token for the retrieval of the next page of product statuses.
        type: string
      products:
        description: List of the products.
        items:
          $ref: '#/definitions/Product'
        type: array
    type: object
  Price:
    description: A price.
    properties:
      amount:
        description: The numeric value of the price.
        type: string
      currency:
        description: The currency in which the price is denoted.
        type: string
    type: object
  Product:
    description: Product data.
    properties:
      attributes:
        $ref: '#/definitions/Attributes'
        description: Attributes of the product uploaded to the Manufacturer Center.
      contentLanguage:
        description: |-
          The content language of the product as a two-letter ISO 639-1 language code
          (for example, en).
        type: string
      destinationStatuses:
        description: The status of the destinations.
        items:
          $ref: '#/definitions/DestinationStatus'
        type: array
      finalAttributes:
        $ref: '#/definitions/Attributes'
        description: |-
          Final attributes of the product. The final attributes are obtained by
          overriding the uploaded attributes with the manually provided and deleted
          attributes. Google systems only process, evaluate, review, and/or use final
          attributes.

          This field is deprecated and will be removed end of July 2018. Please use
          attributes.
      issues:
        description: A server-generated list of issues associated with the product.
        items:
          $ref: '#/definitions/Issue'
        type: array
      manuallyDeletedAttributes:
        description: |-
          Names of the attributes of the product deleted manually via the
          Manufacturer Center UI.

          This field is deprecated and will be removed end of July 2018. Please use
          attributes.
        items:
          type: string
        type: array
      manuallyProvidedAttributes:
        $ref: '#/definitions/Attributes'
        description: |-
          Attributes of the product provided manually via the Manufacturer Center UI.

          This field is deprecated and will be removed end of July 2018. Please use
          attributes.
      name:
        description: |-
          Name in the format `{target_country}:{content_language}:{product_id}`.

          `target_country`   - The target country of the product as a CLDR territory
                               code (for example, US).

          `content_language` - The content language of the product as a two-letter
                               ISO 639-1 language code (for example, en).

          `product_id`     -   The ID of the product. For more information, see
                               https://support.google.com/manufacturers/answer/6124116#id.
        type: string
      parent:
        description: |-
          Parent ID in the format `accounts/{account_id}`.

          `account_id` - The ID of the Manufacturer Center account.
        type: string
      productId:
        description: |-
          The ID of the product. For more information, see
          https://support.google.com/manufacturers/answer/6124116#id.
        type: string
      targetCountry:
        description: |-
          The target country of the product as a CLDR territory code (for example,
          US).
        type: string
      uploadedAttributes:
        $ref: '#/definitions/Attributes'
        description: |-
          Attributes of the product uploaded via the Manufacturer Center API or via
          feeds.

          This field is deprecated and will be removed end of July 2018. Please use
          attributes.
    type: object
  ProductDetail:
    description: |-
      A product detail of the product. For more information, see
      https://support.google.com/manufacturers/answer/6124116#productdetail.
    properties:
      attributeName:
        description: The name of the attribute.
        type: string
      attributeValue:
        description: The value of the attribute.
        type: string
      sectionName:
        description: A short section name that can be reused between multiple product details.
        type: string
    type: object
