swagger: '2.0'
schemes:
  - https
host: manufacturers.googleapis.com
basePath: /
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: Public API for managing Manufacturer Center related data.
  title: Manufacturer Center
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    format: google
    url: 'https://manufacturers.googleapis.com/$discovery/rest?version=v1'
    version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: manufacturers
externalDocs:
  url: 'https://developers.google.com/manufacturers/'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/manufacturercenter': Manage your product listings for Google Manufacturer Center
    type: oauth2
parameters:
  $.xgafv:
    description: V1 error format.
    enum:
      - '1'
      - '2'
    in: query
    name: $.xgafv
    type: string
  access_token:
    description: OAuth access token.
    in: query
    name: access_token
    type: string
  alt:
    default: json
    description: Data format for response.
    enum:
      - json
      - media
      - proto
    in: query
    name: alt
    type: string
  bearer_token:
    description: OAuth bearer token.
    in: query
    name: bearer_token
    type: string
  callback:
    description: JSONP
    in: query
    name: callback
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  pp:
    default: true
    description: Pretty-print response.
    in: query
    name: pp
    type: boolean
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
    in: query
    name: quotaUser
    type: string
  uploadType:
    description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
    in: query
    name: uploadType
    type: string
  upload_protocol:
    description: 'Upload protocol for media (e.g. "raw", "multipart").'
    in: query
    name: upload_protocol
    type: string
tags:
  - name: accounts
paths:
  '/v1/{parent}/products':
    get:
      description: Lists all the products in a Manufacturer Center account.
      operationId: manufacturers.accounts.products.list
      parameters:
        - description: |-
            Parent ID in the format `accounts/{account_id}`.

            `account_id` - The ID of the Manufacturer Center account.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          type: string
        - description: |-
            Maximum number of product statuses to return in the response, used for
            paging.
          in: query
          name: pageSize
          type: integer
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListProductsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/manufacturercenter'
      tags:
        - accounts
    parameters:
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
  '/v1/{parent}/products/{name}':
    get:
      description: |-
        Gets the product from a Manufacturer Center account, including product
        issues.
      operationId: manufacturers.accounts.products.get
      parameters:
        - description: |-
            Parent ID in the format `accounts/{account_id}`.

            `account_id` - The ID of the Manufacturer Center account.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
        - description: |-
            Name in the format `{target_country}:{content_language}:{product_id}`.

            `target_country`   - The target country of the product as a CLDR territory
                                 code (for example, US).

            `content_language` - The content language of the product as a two-letter
                                 ISO 639-1 language code (for example, en).

            `product_id`     -   The ID of the product. For more information, see
                                 https://support.google.com/manufacturers/answer/6124116#id.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Product'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/manufacturercenter'
      tags:
        - accounts
    parameters:
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
definitions:
  Attributes:
    description: |-
      Attributes of the product. For more information, see
      https://support.google.com/manufacturers/answer/6124116.
    properties:
      brand:
        description: |-
          The brand name of the product. For more information, see
          https://support.google.com/manufacturers/answer/6124116#brand.
        type: string
      gtin:
        description: |-
          The Global Trade Item Number (GTIN) of the product. For more information,
          see https://support.google.com/manufacturers/answer/6124116#gtin.
        items:
          type: string
        type: array
      mpn:
        description: |-
          The Manufacturer Part Number (MPN) of the product. For more information,
          see https://support.google.com/manufacturers/answer/6124116#mpn.
        type: string
      productLine:
        description: |-
          The name of the group of products related to the product. For more
          information, see
          https://support.google.com/manufacturers/answer/6124116#productline.
        type: string
      productName:
        description: |-
          The canonical name of the product. For more information, see
          https://support.google.com/manufacturers/answer/6124116#productname.
        type: string
      productPageUrl:
        description: |-
          The URL of the manufacturer's detail page of the product. For more
          information, see
          https://support.google.com/manufacturers/answer/6124116#productpage.
        type: string
      productType:
        description: |-
          The manufacturer's category of the product. For more information, see
          https://support.google.com/manufacturers/answer/6124116#producttype.
        items:
          type: string
        type: array
      title:
        description: |-
          The title of the product. For more information, see
          https://support.google.com/manufacturers/answer/6124116#title.
        type: string
    type: object
  Issue:
    description: Product issue.
    properties:
      attribute:
        description: |-
          If present, the attribute that triggered the issue. For more information
          about attributes, see
          https://support.google.com/manufacturers/answer/6124116.
        type: string
      description:
        description: Description of the issue.
        type: string
      severity:
        description: The severity of the issue.
        enum:
          - SEVERITY_UNSPECIFIED
          - ERROR
          - WARNING
          - INFO
        type: string
      type:
        description: |-
          The server-generated type of the issue, for example,
          “INCORRECT_TEXT_FORMATTING”, “IMAGE_NOT_SERVEABLE”, etc.
        type: string
    type: object
  ListProductsResponse:
    properties:
      nextPageToken:
        description: The token for the retrieval of the next page of product statuses.
        type: string
      products:
        description: List of the products.
        items:
          $ref: '#/definitions/Product'
        type: array
    type: object
  Product:
    description: Product data.
    properties:
      contentLanguage:
        description: |-
          The content language of the product as a two-letter ISO 639-1 language code
          (for example, en).
          @OutputOnly
        type: string
      finalAttributes:
        $ref: '#/definitions/Attributes'
        description: |-
          Final attributes of the product. The final attributes are obtained by
          overriding the uploaded attributes with the manually provided and deleted
          attributes. Google systems only process, evaluate, review, and/or use final
          attributes.
          @OutputOnly
      issues:
        description: |-
          A server-generated list of issues associated with the product.
          @OutputOnly
        items:
          $ref: '#/definitions/Issue'
        type: array
      manuallyDeletedAttributes:
        description: |-
          Names of the attributes of the product deleted manually via the
          Manufacturer Center UI.
          @OutputOnly
        items:
          type: string
        type: array
      manuallyProvidedAttributes:
        $ref: '#/definitions/Attributes'
        description: |-
          Attributes of the product provided manually via the Manufacturer Center UI.
          @OutputOnly
      name:
        description: |-
          Name in the format `{target_country}:{content_language}:{product_id}`.

          `target_country`   - The target country of the product as a CLDR territory
                               code (for example, US).

          `content_language` - The content language of the product as a two-letter
                               ISO 639-1 language code (for example, en).

          `product_id`     -   The ID of the product. For more information, see
                               https://support.google.com/manufacturers/answer/6124116#id.
          @OutputOnly
        type: string
      parent:
        description: |-
          Parent ID in the format `accounts/{account_id}`.

          `account_id` - The ID of the Manufacturer Center account.
          @OutputOnly
        type: string
      productId:
        description: |-
          The ID of the product. For more information, see
          https://support.google.com/manufacturers/answer/6124116#id.
          @OutputOnly
        type: string
      targetCountry:
        description: |-
          The target country of the product as a CLDR territory code (for example,
          US).
          @OutputOnly
        type: string
      uploadedAttributes:
        $ref: '#/definitions/Attributes'
        description: |-
          Attributes of the product uploaded via the Manufacturer Center API or via
          feeds.
    type: object
